[2020-11-11 19:35] superseb commented on #30033
Sounds like https://github.com/rancher/rancher/issues/25272, please let me know if this is not the case.

[2020-11-11 19:35] #30033 closed

[2020-11-11 19:47] caiobegotti opened #30038 "Uncrypted recurring S3 backup via rancher-backup operator fails with invalid AWS net/http header"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

0. create S3 bucket `lalala-etcd-snapshot` with AES256 encryption on the server side and these allow rules in the IAM:

[code]

1. create the following plain text secret for S3 access:

[code]

2. create the backup object (I did it via the UI at first but

[2020-11-11 19:50] maggieliu commented on #11496
related to: https://github.com/rancher/rancher/issues/24203

[2020-11-11 20:06] fabn commented on #30035
Yes, it's an HA installation made by helm with letsencrypt.

[code]

[code]

I've installed rancher following canonical instructions found here: https://rancher.com/docs/rancher/v2.x/en/installation/install-rancher-on-k8s/

It's installed on a DigitalOcean cluster with no L4 load balancer in front of it. I'm accessing it using the ingress controller.
Browser access works like a charm, and everythi

[2020-11-11 20:08] mrajashree commented on #30038
@caiobegotti I see that you are using IAM roles to grant access to the bucket, if that's the case, you don't need to provide credentials also.

- If you want to use IAM roles, can you make sure the IAM role has [these exact permissions](https://rancher.com/docs/rancher/v2.x/en/backups/v2.5/configuration/backup-config/#iam-permissions-for-ec2-nodes-to-access-s3) (notice the two different statements

[2020-11-11 20:09] fabn commented on #30035
Maybe related to this #23146, since it's a long running cluster and I updated it lot of times.

[2020-11-11 20:10] caiobegotti commented on #30038
Yeah, my bad, I totally forgot about base64 in secrets... sigh :-(

[2020-11-11 20:10] #30038 closed

[2020-11-11 20:18] nickgerace commented on #29892
Relevant Issue: https://github.com/rancher/rancher/issues/28566

[2020-11-11 20:27] koi8-r commented on #29952
Loki works, but not ES.
connection failed to rancher-logging-fluentd.cattle-logging-system.svc

[2020-11-11 20:28] ArthurDassier commented on #13689
Hi, are you sure that no firewall is forbidding the access to required ports ?

[2020-11-11 20:31] izaac commented on #28360
Rancher version `v2.4.5 (11/11/2020)`

Single node Rancher server.
Downstream Custom cluster k8s `v1.17.13-rancher1-2`. 2 control plane, 3 etcd, 50 workers.
Upgrade to k8s `v1.18.10-rancher1-2` I didn't notice the error in the Rancher server logs.

I will try now on an HA `v2.4.5` Rancher server.

[2020-11-11 20:42] vortex14 commented on #29952
Please fix this issue, lokki data isn't full for me. I need details in my logs

[2020-11-11 20:49] sadiapoddar commented on #27734
Reproduced this issue with rancher2.4.3
Steps.
1. Created custom clusters of four nodes( 1 (etcd+cntrl) + 3 workers)
2. Powered off one of the worker nodes
3. Notices that states all the workload running on that worker node went to updating state. But that the state of workload remained stuck in 'updating' status forever.

<img width="1599" alt="Screen Shot 2020-11-11 at 12 17 25 PM" src="https://

[2020-11-11 20:56] mrajashree commented on #29978
@travis-sobeck can you check if all the auth configuration info, users, cloud creds were backed up correctly, by unpacking your backup tar.gz file and checking if it has the following:

- A folder titled `authconfigs.management.cattle.io`: In that there will be json files for all auth providers, please check the json of whichever auth provider you have configured to see if it has `enabled` set to

[2020-11-11 21:06] felipecrs commented on #29966
The same behavior persists with v2.5.1, but as said, it was changed in v2.5.2. So I'll wait for its release before testing.

[2020-11-11 21:14] sigginet commented on #29994
@aaronRancher can you show me how a proper rancher local cluster is set up with a screenshot or data dump?

Alternatively, I can just delete the Rancher installation and start from scratch, it won't be a huge loss since we're not relying on it in production yet

[2020-11-11 21:22] felipecrs commented on #29966
I upgraded to v2.5.2 but the problem still persists:

![OGfQGG6grN](https://user-images.githubusercontent.com/29582865/98865874-ce2a7180-244a-11eb-99c3-9377d8c98366.gif)

[2020-11-11 21:33] superseb commented on #30035
That's only applicable if you changed certificate setup between updates. If you create a kubeconfig in the UI, does it contain `certificate-authority-data` for the cluster that points to Rancher? If so, what certificate is in there?

To rule out this is caused due to being in the container, do you get the same response when you use the kubeconfig with kubectl somewhere else (on Linux/Mac/Windows)

[2020-11-11 21:59] travis-sobeck commented on #29978
@mrajashree I can work on all that tomorrow morning

[2020-11-11 23:05] spirilis commented on #30032
Yes

[2020-11-11 23:49] aaronRancher commented on #29994
Hello @sigginet.
I tried to reproduce your issue, but was unable to. Here is how the local cluster looks:
![Screen Shot 2020-11-11 at 4 23 54 PM](https://user-images.githubusercontent.com/57409052/98876042-a501e500-243a-11eb-97f7-fc92ab0e3e19.png)
Local system pods in cluster explorer view:
![Screen Shot 2020-11-11 at 4 24 31 PM](https://user-images.githubusercontent.com/57409052/98876103-c793fe00

[2020-11-11 23:53] jiaqiluo commented on #29696
This bug is reproduced on rancher:v2.5.2

Steps:
- follow the documentation to prepare a hardened cluster by using RKE CLI https://rancher.com/docs/rancher/v2.x/en/security/rancher-2.4/hardening-2.4/
- install Rancher v2.5.2 into the cluster

Results:

[code]

[code]

<img width="1428" alt="Screen Shot 2020-11-11 at 4 50 32 PM" src="https://user-images.githubusercontent.com/6218999/98877606-17c08f

[2020-11-12 00:13] izaac commented on #28360
I tried in a 1 Control Plane, 3 etcd, 5 workers but now running a script to use all the control plane node’s ephemeral network ports and doing an upgrade at the same time. I still see the upgrade getting applied without issues.

We might need to dig further to isolate the root cause.

[2020-11-12 00:22] sowmyav27 commented on #28746
**On 2.4.5**
- Deploy a custom cluster - 3 etcd, 2 control and 2 worker nodes.
- Create 1000 secrets in the cluster using script
[code]
- Enable encryption using [docs](https://rancher.com/docs/rke/latest/en/config-options/secrets-encryption/#enable-encryption)
- The cluster reconciles and cluster will show message "provisioning: Rewriting cluster secrets" for quite sometime.
- Rancher logs:
[code

[2020-11-12 00:23] mattmattox commented on #28360
@izaac It looks like this is caused by golang bug [16691](https://github.com/golang/go/issues/16691)
Also, we found that rancher-machine uses the same bind to port 0 which causes this issue.
Example: We found a Rancher pod with 57k open ports due to node pools scaling up and down.

[2020-11-12 00:23] dkeightley commented on #21648
For reference adding another error reported during node bootstrap:

`Error detecting OS: OS type not recognized`

[2020-11-12 00:48] sowmyav27 commented on #26080
Can be validated on 2.5.2 and master-head.

[2020-11-12 00:50] rmweir opened #30041 "[EKSv2]: no nodegroup message is confusing"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
register an EKS cluster that does not have a managed nodegroup

**Result:**
errors is displayed that states "Cannot deploy agent without nodegroups. Deploy a nodegroup".

This is triggered by not having a _managed_ nodegroup. Also, it's not completely true t

[2020-11-12 01:00] sowmyav27 commented on #28400
**On 2.4.5 Reproduced the issue**
- Deploy a custom cluster - 3 etcd, 2 control and 2 worker nodes.
- Create 1000 secrets in the cluster using script
[code]
- Enable encryption using [docs](https://rancher.com/docs/rke/latest/en/config-options/secrets-encryption/#enable-encryption)
- The cluster reconciles and cluster will show message "provisioning: Rewriting cluster secrets" for quite sometime.

[2020-11-12 01:06] somaritane opened #30042 "Add HTTP proxy support for Continuous Delivery (Fleet)"
**What kind of request is this (question/bug/enhancement/feature request):**
`enhancement`

**Steps to reproduce (least amount of steps as possible):**

Prerequisite: Rancher is deployed in on-prem environment behind the HTTP proxy, with Continuous Delivery feature (Fleet) enabled.
In Cluster Manager / Continuous Delivery / Git Repos, register new Git Repo pointing to external git repository, e.g.

[2020-11-12 02:10] sowmyav27 commented on #30029
**On 2.4.8**

- Deployed a custom cluster with 1 master and 1 worker node. - Ubuntu 20.04 LTS instances
- Cluster.yml is from [here](https://github.com/rancher/rancher/issues/30029#issuecomment-725476637)
- When the cluster comes up active, user is able to run CIS v1 permissive scan on the cluster. Scan runs fine and report is generated.

[2020-11-12 02:25] zhcsyncer commented on #29451
reproduce after upgrade from 2.5.1 to v2.5.2

Environment information

Rancher version (rancher/rancher/rancher/server image tag or shown bottom left in the UI): 2.5.2
Installation option (single install/HA): HA
Cluster information

Cluster type (Hosted/Infrastructure Provider/Custom/Imported): Hosted
Kubernetes version (use kubectl version):
[code]

[2020-11-12 03:06] spirilis commented on #30032
FYI, tried something-

I created a new project SystemZ, and tried moving all the namespaces over to it.  All would move but one - "cattle-logging".  The moment I unchecked cattle-logging, the "Move" button appeared in blue.  I've since migrated those and then renamed System to SystemL, and SystemZ to System.

I can now manage the System project and it's the "SystemL" project - whose only member is

[2020-11-12 03:13] sowmyav27 commented on #29714
**On master-head commit id: `5aa3918`**

- Deploy a 2 worker node cluster.
- Enabled Project Network Isolation
- Pod name label is seen on the ingress-controller in System project.
- Labels:

[code]

- Deploy a GDNS - provider and entry
- The A record for the GDNS provider points to only one worker node

Reopening the issue.

[2020-11-12 03:14] spirilis commented on #30032
Now the next problem- Can't delete the SystemL project, Rancher acknowledges this as "the" System project somehow.  Can this be remedied with an API call or update to something in Rancher?

[2020-11-12 03:55] Himansh-ilink commented on #29952
@JoeyGaojingxing How did you solve this issue? we are also getting the same error in a fluent-bit pod.
can you please help me related this issue?

[2020-11-12 04:59] dwaiba commented on #29778
@dgiebert This worked and Thank You very much !!!

[2020-11-12 04:59] #29778 closed

[2020-11-12 05:50] deniseschannon commented on #26145
At this time, we will not be updating the default size for the alert, but this can be corrected by the end user to update the alert to a higher number.

[2020-11-12 05:50] #26145 closed

[2020-11-12 05:54] deniseschannon commented on #28532
It seems like because the addon in the cluster.yaml has the word "ingress", it's injecting additional comments into the cluster.yml.

How do we decide how to add comments into the yaml when editing the yaml? @westlywright

[2020-11-12 06:15] dnoland1 commented on #26488
Works for me in v2.5.2:
![image](https://user-images.githubusercontent.com/468462/98902883-5f114500-246b-11eb-8560-f5b51e81080f.png)

[2020-11-12 06:21] dnoland1 opened #30043 "ClusterRoleBinding is deprecated warning when importing a k3s 1.19.3 cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Install a k3s 1.19.3 cluster.
2. On a Rancher v2.5.2 create an imported cluster.
3. Run the kubectl command to import the k3s cluster into Rancher.

**Result:**
[code]

**Other details that may be helpful:**
This warning mentioned above should be fixed:
W

[2020-11-12 06:28] dinhanhhuy commented on #4423
Hi @alena1108, why install nfs-common to kubelet solve the issue? Does kubelet involve function mount volume to pod step?

[2020-11-12 06:40] sowmyav27 opened #30044 "Ingress is stuck in Initializing state in an upgraded rancher setup"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. On 2.4.8 - deploy a DO 1 master, 2 worker nodes with Project isolation enabled
2. Deploy Wk01 and ingress ing01 pointing to this workload
3. Deploy Wk02 and ingress ing02 pointing to this workload
4. Upgrade rancher to 2.5.2
5. User ingresses in one of t

[2020-11-12 06:43] sowmyav27 opened #30045 "Ingress controller has labels in pods"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
**Upgrade usecase:**

- On 2.4.8, deploy a DO cluster with Project Isolation enabled.
- create workload and ingress ing01 pointing to this
- Upgrade Rancher to 2.5.2
- Notice user ingresses go to `Initializing` state.
- The ingress still has only one worker

[2020-11-12 07:19] HugoKuo commented on #16471
Is cluster migration between Rancher server implemented?

[2020-11-12 07:25] lytao commented on #14013
For those who is asking for solution:

It is clearly displayed in `kubectl describe pod <pod_name>`:
[code]

You need persistent volume in k8s cluster!

[2020-11-12 07:37] maggieliu opened #30046 "[UI] rke.windows should show as Windows"
The cluster provider function has been modified to differentiate between linux RKE1 vs windows RKE1 [here](https://github.com/rancher/rancher/issues/28947), need to update the UI to show windows

[2020-11-12 07:59] asemen2608 opened #30047 "Set PriorityClass for kube-flannel, kube-dns, kube-dns-autoscaler, metrics-server to system-node-critical"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

Manually patch and add priorityclasses for kube-flannel, kube-dns, kube-dns-autoscaler, metrics-server to system-node-critical deployments:
[code]

Run kube-flannel update in a cluster upgrade.

**Result:**
The Priority Class settings get lost on a cluster

[2020-11-12 08:18] ctrox commented on #27637
Ok yeah I get that you need some kind of ID which is a valid kubernetes resource name and I'm totally fine with that. My only gripe is that the User ID is also used as the user name in the authentication proxy. Making a request to the `TokenReview` endpoint of a Rancher cluster with my personal account, I get back the following:

[code]

The [userinfo struct](https://v1-18.docs.kubernetes.io/docs/

[2020-11-12 08:28] axeal commented on #26080
@deniseschannon Whilst the milestone here is v2.5.3, it looks like the fix was merged into the UI for v2.5.2 and in addition to @sowmyav27 's comment, I have also validated it is now fixed in v2.5.2, so looks like this could be closed out.

[2020-11-12 08:39] xyz-dev commented on #29223
- single Node Using Docker
    - arm64( ARMv8 Processor rev 4 (v8l))
    - os:armbian(4 vCPU, 2GB memory)
1、v2.4.8 was successfully deployed before,  and used for quite a long time.
2、upgraded v2.5.2 ：[FATAL] k3s exited with: exit status 255. redeployment v2.4.8 also :[FATAL] k3s exited with: exit status 255

**How to adjust etcd parameters (heartbeat-interval election-timeout)?**

Linux aml2 5.3.

[2020-11-12 09:44] sigginet commented on #29994
![image](https://user-images.githubusercontent.com/1608474/98922759-c3172600-24ca-11eb-8672-fa52b7cd8530.png)
Here are the deployments on my end, they seem to be the same except the EKS config operator is missing from the cattle-system namespace.

I have a lot of namespaces that are weird and very old:
![image](https://user-images.githubusercontent.com/1608474/98923016-0a051b80-24cb-11eb-8efb-307f

[2020-11-12 10:35] horihel opened #30048 "Upgrade to Rancher 2.5.2: cattle-cluster-agent hammers apiserver, very high CPU usage"
**What kind of request is this (question/bug/enhancement/feature request):**
possible bug

**Steps to reproduce (least amount of steps as possible):**
upgrade existing rancher from 2.4.8 to 2.5.2

**Result:**
cattle-agent cpu utilization skyrockets
![grafik](https://user-images.githubusercontent.com/6735079/98927075-5dca3180-24d8-11eb-96ac-db854a2b179b.png)

upgrade took place at 08:00, since then

[2020-11-12 11:09] fabn commented on #30035
I checked that data stored in `.rancher/cli2.json` after login is the same of `certificate-authority-data` in my local `~/.kube/config` and the K8S api is actually exposed under an EP like `https://some-random-uuid.k8s.ondigitalocean.com` that actually uses a self signed certificate, thus it must not be a rancher cli issue.

I'm wondering why when using kubectl locally I'm not having any issue, bu

[2020-11-12 11:11] ansilh commented on #26997
Hi @aaronRancher , @codyrancher . This issue is not completely fixed.

After switching to the second vCenter credential, we get a warning that the Data Center value is not valid even though its correct.

![image](https://user-images.githubusercontent.com/11064902/98932386-481f3100-2505-11eb-9a90-d19204001d51.png)

While saving the template, the POST call still takes values from the first vCenter.

[2020-11-12 11:27] fabn commented on #30035
I made a couple mistakes in my previous message. My local `.kube/config` is different than the one generated by rancher, If I get a `kubeconfig.yaml` from rancher UI I obtain the same exact behavior of CLI. Again I think this is related on how DigitalOcean manage authentication.

If I compare rancher generated kubeconfig with the one downloaded by DO I see the following differences:

[code]

If I

[2020-11-12 12:29] flavioarieta commented on #29997
Thanks for the reply and very good explanation @immanuelfodor.

I'll verify and alter my cluster.yml to add the suggested changes and monitor the results.

[2020-11-12 12:33] homiakos commented on #30030
Hi, @jiaqiluo

Which project do you mention here? Is it the system project of the local cluster, or a project in other Rancher-manged downstream clusters?
The problem is reproducible when trying to Add / Remove a Project member from both the local cluster and the remote one.
I repeat the problem with access to rancher-webhook.cattle-system.svc:443

 Add / Remove a Project member

[2020-11-12 12:54] piyush94 commented on #30033
Thanks, this worked.

[2020-11-12 12:57] fabiorauber commented on #27627
Thanks for the tip @immanuelfodor.  I've been using a Keepalived container (https://github.com/interlegis/docker-keepalived) for this job for quite a while, but I believe a solution with MetalLB would be more nicely integrated and would provide a better experience. Nonetheless, it's nice to know we have alterenatives! :)

[2020-11-12 13:06] superseb commented on #30035
The kubeconfig retrieved by the CLI is the same as when you create it via the UI. The default server it will use is Rancher itself as a proxy. It uses the CA certificate that is in `certificate-authority-data` to validate the certificate, but if you used `letsEncrypt` as source, this should be cleared (can be checked under Settings -> `cacerts` or by visiting `$RANCHER_URL/v3/settings/cacerts`). W

[2020-11-12 13:42] asemen2608 opened #30049 "Cluster stuck "currently Upgrading, updating worker node" on Cordoned workers"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

How to recreate:
1. Create a cluster with 3 master and a
In that state different issues happen:t least 2 workers.
2. Once the cluster is ready, cordon at least 2 workers.
3. Delete master #1, wait for it to be replaced.
4. Repeat step 3 with master rancher/

[2020-11-12 13:43] UberKuber commented on #26677
After upgrading to Rancher v2.4.10 we see that the `podName` label keeps getting applied then removed, is this expected behaviour? The ingress still only lists the leader controller IP.

[2020-11-12 13:44] Tejeev opened #30050 "Project logging enablement in UI should warn users if same endpoint as enabled cluster logging"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
1. Enable cluster logging
2. Enable project logging to the same endpoint

**Result:**
You'll have duplicate logs and no indication that this should be expected.

**Request**
It would be helpful if there was some indication in the UI that projet loggi

[2020-11-12 13:51] janeczku commented on #29105
This is required to support OCI-stored helm charts from the following registries (non-conclusive list):

- Azure ACR
- AWS ECR
- Project Harbor
- Google Artifact Registry

[2020-11-12 13:57] fabn commented on #30035
Yes I installed them using helm upon cluster creation in DO

It's not empty, it contains DO cert data.

For the records here's the content of `/root/.rancher/cli2.json` upon rancher-cli login

[code]

Here's the settings output from `$RANCHER_URL/v3/settings/cacerts`

[code]

[2020-11-12 14:07] asemen2608 commented on #30049
A side effect with a cordoned worker node and the replacement of a master node is that the worker node gets automatically uncordoned.

How to recreate:
1. Create a cluster with 3 masters and at least 1 worker.
2. Once the cluster is ready, cordon 1 worker.
3. Delete any master node.
4. The worker that was cordoned is now uncordoned.

[2020-11-12 14:40] sowmyav27 commented on #26677
@UberKuber That is not expected, that is being tracked in this [issue](https://github.com/rancher/rancher/issues/30045)

[2020-11-12 14:45] fabn commented on #30035
I also checked in another cluster I manage (installed with same procedure but on baremetal with RKE) that `cacert` is empty and everything works. Also if I remove `certificate-authority-data` from downloaded kubeconfig everything works.

So I think the issue can be solved by clearing that setting, is that possible?

[2020-11-12 14:51] UberKuber commented on #26677
Thanks @sowmyav27, the process I'm testing now is as per below:

1. Disable project network isolation on the cluster
2. Redeploy nginx ingress controller daemonset
3. Enable project network isolation on the cluster

[2020-11-12 15:19] UberKuber commented on #30045
@sowmyav27, the process I've tested now is as per below:

1. Disable project network isolation on the cluster
2. Redeploy nginx ingress controller daemonset
3. Enable project network isolation on the cluster

I have tested this process against multiple downstream clusters behind Rancher v2.5.2 and Rancher v2.4.10 and it's resolved the issue from what I can pick up.

[2020-11-12 15:28] fabn commented on #30035
I debugged installed helm chart and I find out that output of `helm get values rancher -n cattle-system --all` was the following (relevant part)

[code]

Don't know why my `--set ingress.tls.source=letsEncrypt` was stored by helm in this way.

For this reason rancher containers was running without `--no-cacerts` option and thus the issue.

Thanks for your support anyway.

[2020-11-12 15:28] #30035 closed

[2020-11-12 15:33] superseb commented on #29981
@maggieliu v1.18.10 is v2.4.5+, see https://github.com/rancher/kontainer-driver-metadata/blob/release-v2.5/rke/k8s_version_info.go#L318. Can you change it or let me know if this still needs to be different for v1.18.11

[2020-11-12 15:55] tjcain commented on #29807
@dramich Would storing the token as part of the [config](https://github.com/rancher/cli/blob/0f53e7c1ab70a14bef74bdaf8430d5c525ae451c/cmd/common.go#L231) be preferable? Or is the the behaviour of the `$(pwd)/.cache` the default for a specific reason that is preferable to a centralised location/token store.

[2020-11-12 16:18] Leen15 opened #30052 "Kubelet log flooded by SyncLoop on nginx-ingress-controller"
Hi, I just upgraded rancher from 2.4.8 to 2.5.2.
The rancher installation is on docker, and the same node was the controlplane of a cluster of 2 nodes (1 controlplane, 1 worker), version 1.18.10 deployed by Rancher UI.
After the upgrade, the load of the node has became out of control, so I promoted the worker to controlplane, and tried to convert the first node to worker.
After multiple times, I'm

[2020-11-12 16:28] brendarearden opened #30053 "Update ingress api when lowest supported k8s version is 1.19"
When installing with `helm template rancher` the Ingress resource was showing the following warning `Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress` this was resolved for `helm install` in this issue https://github.com/rancher/rancher/issues/29144 but still warns with helm template, unless passing in the apiVersion.

The resolut

[2020-11-12 16:58] deniseschannon commented on #26080
@axeal Correct, the milestone for v2.5.2 is now closed so it's the easiest way to get it to QA attention is to put it in the upcoming milestone.

But if you've already validated it, I'll close it now.

[2020-11-12 16:58] #26080 closed

[2020-11-12 17:07] JRNC opened #30054 "Failed To Upgrade Control Plane - 400 bad request - unable to update cni config"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Setup an on-prem HA Rancher cluster, add a cluster using the "existing nodes" option, and run the docker run command on a new node.

**Result:**
In the Rancher UI, the error message "Failed To Upgrade Control Plane" is shown.

Looking in the kubelet containe

[2020-11-12 17:18] dalvarin commented on #15311
Same issue on 2.5.2 and RKE HA. We are not be able to clone the github example repos if Rancher is behind a proxy. Please, could you provide a guide about how to configure the pipeline/workloads/whatever in that case?

[2020-11-12 17:19] ansilh commented on #26997
For the sake of easiness of testing, we can use the vCenter simulator to create this scenario

Below are the steps I've used to create this test.

1. Download govc binary
https://github.com/vmware/govmomi/tree/master/govc

2. Compile vcsim
https://github.com/vmware/govmomi/tree/master/vcsim

3. Start two instances of vcsim
[code]
4. Setup vCenter invetory using govc  (Assuming simulator is running

[2020-11-12 17:22] travis-sobeck commented on #29978
@mrajashree
Oh do I feel foolish lol.  After digging in the backup file I found that it was the one created before all the configuration was done.  The backupFilename filed on my recovery yaml didn't get committed with the latest file name.  After tearing everything down and rebuilding it seems to have retained what I configured and is properly talking to the managed test clusters.

2 minor notes

[2020-11-12 17:45] dramich commented on #29807
@tjcain It should be a new field on `ServerConfig` and then a global flag needs to be created for the envvar, if you notice [here](https://github.com/rancher/cli/blob/0f53e7c1ab70a14bef74bdaf8430d5c525ae451c/cmd/common.go#L232) that flag doesn't actually exist. So the new envvar should be something like `RANCHER_CONFIG_DIR` then this new location would need to be piped around to all the places we

[2020-11-12 18:04] mrajashree commented on #29978
@travis-sobeck thanks for letting me know! For the chart install errors, which Helm version are you on? For 2.5.x we recommend [3.2.x and up](https://rancher.com/docs/rancher/v2.x/en/installation/resources/helm-version/).
 And the error while installing Rancher, do you only see if after you have restored previous Rancher setup?

[2020-11-12 18:21] sowmyav27 opened #30055 "Cluster goes into Updating on an upgraded setup when Network Isolation is modified"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

- On 2.5.2
- Deploy a DO rke cluster - 1 master node and 1 worker node.
- Enable Project network Isolation on the cluster
- After the cluster comes up, disable the Project network Isolation on the cluster.
- The cluster goes into `Updating` state and reconc

[2020-11-12 18:32] dwaiba commented on #11496
This issue for controller and scheduler unhealthy in Rancher UI on different host especially for AKS is persisting for v1.18.8 for Rancher 2.5.2 too

[2020-11-12 18:48] RRadziejewski commented on #15311
Rebuild all images which are needed for pipeline and add HTTP envs and no proxy envs to dockerfiles:)
As i've written in above comment

[2020-11-12 18:49] travis-sobeck commented on #29978
@mrajashree -- I replyed to the Helm quest in the related issue (try to keep this issue focused)
As to the error, here are my basic steps
- Delete Rancher/AKS cluster, Resource Group, .. everything.  %100 tear down
- Rebuild AKS from scratch with Terraform (all the networking is identical)
- Install the two backup Helm charts (rancher-backup-crd, rancher-backup, and S3 secrets)
- kubectl apply -f

[2020-11-12 19:02] thedadams opened #30056 "Possible for Rancher created resources to not be deleted"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create an EKS cluster.
2. Creation of the VPC or service role fails for some reason.
3. Delete the cluster.

**Result:**
If any part of the VPC or the service role was completed before the cluster went to "creating" status, then none of those things will

[2020-11-12 19:20] mrajashree commented on #29978
@travis-sobeck thanks, yup saw your reply on the charts issue for helm version. These steps look right, and I think this error could also be related to the helm version. Let me know if you see it happen again after updating helm.

[2020-11-12 19:25] izaac commented on #28360
I was able to reproduce the issue in Rancher `v2.4.5` (`t3a.xlarge`)
The easiest way to reproduce this is to bring up a Rancher single install.
Bring up a 1.17 or lower k8s version cluster or clusters.

Go into the Rancher docker container and exhaust the ephemeral ports by opening LISTEN connections.
Perform a k8s upgrade on the cluster (or on one of the clusters) to 1.18.

![Screen Shot 2020-11-

[2020-11-12 19:26] mrajashree commented on #29204
@nileshbhadana we have a new feature in 2.5.x with which you can migrate rancher to a new cluster. To use it you'll have to upgrade to 2.5.2 (stable release), and install the app `rancher backups` in the local cluster (where rancher is running). These [docs](https://rancher.com/docs/rancher/v2.x/en/backups/v2.5/migrating-rancher/) have steps for it

[2020-11-12 19:29] PennyScissors commented on #28360
Based on this and some stress testing I did, I can conclude this problem is not how we use Go to assign a port, instead it's something taking all the connections the system can handle until ephemeral port starvation. When we bind to port 0, Go's `net.Listen` function used [here](https://github.com/rancher/kontainer-engine/blob/65780a8839e471d3842580d5d9075ae9a3b70a02/service/service.go#L401) will

[2020-11-12 19:29] oxr463 opened #30057 "Customize data source for Grafana in Rancher Monitoring"
**What kind of request is this (question/bug/enhancement/feature request):** feature request

I can install Grafana and use custom configuration, but I have to manage access control separately. It would be great if custom installed Grafana can be managed within Rancher

**Steps to reproduce (least amount of steps as possible):**

1. Enable Cluster-level Monitoring, (See: https://rancher.com/docs/r

[2020-11-12 19:30] oxr463 commented on #30057
See also: https://github.com/rancher/rancher/issues/28893

[2020-11-12 19:33] maggieliu commented on #29981
@superseb Updated the 1.18.11 to be 2.4.5+

[2020-11-12 19:53] maggieliu commented on #23293
@sowmyav27 can you verify this is working now? I believe we fixed it in an earlier 2.4.x release.

[2020-11-12 20:13] travis-sobeck commented on #29978
@mrajashree I'll start tearing it down and re-testing with the new version of helm.
One thing I did notice, and its minor, but after the restore, when I go into the 'Cluster Explorer'  > 'Rancher Backups' it shows the restore but doesn't show any of the historical backups it did or my scheduled backups ...  should it be saving that info?
Again, not a huge issue or anything.

[2020-11-12 20:26] mrajashree commented on #29978
@travis-sobeck oh I wouldn't recommend tearing down this new cluster (on which you migrated to) unless it's just a test/dev setup, since you have the restored rancher running here properly. You can try with the updated helm version on a new setup directly, up to you.

The backup restore app on purpose doesn't back this up. Because the backup CR corresponds to an actual backup. These backup CRs wer

[2020-11-12 20:28] mrajashree commented on #29978
@travis-sobeck

The backup restore app on purpose doesn't back this up. Because the backup CR corresponds to an actual backup. These backup CRs were taken on your older cluster and the files are saved in s3/whichever storage location you use. So we don't need to recreate the backup objects on the new cluster. If you want to setup recurring backups of Rancher on this new cluster, you'll have to cre

[2020-11-12 20:38] StrongMonkey commented on #29668
Available to test on 2.5-head once build is done.

[2020-11-12 20:40] Sopamo commented on #29984
I found a fix for this situation.
The cattle-cluster-agent pod showed a lot of errors which looked like:

    controller.go:164: ... failed to list ... 10.0.0.1:443 ...  broken pipe

I'm not 100% certain, but that looks to me like the cattle-cluster-agent couldn't communicate with kubernetes anymore?
I redeployed the workload which resolved the issue. The cluster agent also recreated all missing s

[2020-11-12 20:43] maggieliu opened #30058 "[2.4] Rancher 2.4.8 Memory Leak"
backport for https://github.com/rancher/rancher/issues/29429

[2020-11-12 20:58] westlywright commented on #29811
I am not adding the warning as I've added logic to automatically send the exit command before the connection is closed. In my testing I was able to open and close the shell from the UI and only saw one process created so it seemed more appropriate than the warning.

[2020-11-12 21:00] travis-sobeck commented on #29978
@mrajashree oh yeah, its a test cluster, I need to prove out all the DR before I update Prod.  A little Terraform and powershell makes everything easy(er).
re-applying the Backup config after restore is no problem, one more line in the recovery script.
Ok, after re-running everything with the latest version of helm (v3.4.2). I get the same basic error, just a little different verbage
[code]
Again

[2020-11-12 21:11] sadiapoddar commented on #28673
Verified the fix with v2.5-7ef17a7a3c251d3e7d21f4a729edbcdff055e686-head
Steps used to verified.
1. Created gke cluster
2. disable the auth> gcloud container clusters update clustername --no-enable-basic-auth --region=region-name
3. Edit the cluster using the same SA value and perform master cluster update operation by updating Kubernetes verion
4. Notice some intermittent error
<img width="1260"

[2020-11-12 21:13] sowmyav27 commented on #28673
Reopening to validate on master-head

[2020-11-12 22:00] westlywright commented on #29667
UI will send the exit command before the socket closes so the user doesn't need to end it themselves.

[2020-11-12 22:12] beaniebag commented on #29272
The workaround I did to atleast get this deployable was to add to the extraLabels in the helm chart (for jupyterhub).  This would add additional labels under the network policy selector.  As part of my answers.yaml I put:
extraLabels:
  io.cattle.field/appId: "jupyterhub"
A bit of a hack if rancher chooses to change the label naming convention, but only way I could get this to work

[2020-11-12 22:14] izaac commented on #29742
I tried following the steps to reproduce from `v2.4.8` to `v2.5.1` both HA and Single Rancher installs. But I don't see the namespace getting recreated after deleting it.

[code]

@Falconx1000 does this happen immediately after deleting the `cattle-logging` namespace or after certain period of time.

[2020-11-12 22:43] Falconx1000 commented on #29742
It was happening within a few seconds.
[code]
I delete the ns and check back after a few minutes
[code]
Eventually fluentd deployments will be created but I don't know how long that takes. Below is a list of items that get created right away
[code]

[2020-11-12 22:47] izaac commented on #29742
@Falconx1000 yes this isn't what I'm observing in this setup however and it has been over 30 minutes.

[code]

[2020-11-12 22:58] Falconx1000 commented on #29742
Would there be something stored in Rancher that might be telling the cluster to create this namespace?
I tried looking in
`kubectl describe clusters.management.cattle.io *cluster-name*`
to see if there was something related to logging but didn't find anything
Is there anywhere else I could try looking

[2020-11-12 23:17] izaac commented on #29162
Rancher version: `v2.5.2`

Deploying Rancher with `rancherd` on a Linode VM with private IP is working fine.
Deploying Rancher with `rancherd` on an EC2 VM with private IP I am able to reproduce this issue.

[2020-11-12 23:29] nickgerace commented on #29742
I have reached the same result as @izaac. We may not be able to reproduce, but I will try to find where the namespace gets created and see if we missed a conditional check, run with a misconfiguration by accident, etc.

[2020-11-12 23:39] Falconx1000 commented on #29742
Thank you both.
Is there any more info I can provide or any suggestions on what I could check?

[2020-11-12 23:49] nickgerace commented on #29742
On your end, getting any relevant logging or STDOUT would be great. Perhaps snippets of `kubectl log <cattle-system-pods>`.

Also a `kubectl get pods -A` could be helpful.

Regardless, do not worry if that's infeasible since I'm checking the code. No promises, but I'll take a look.

[2020-11-12 23:58] aiyengar2 commented on #29064
As noted in https://github.com/rancher/charts/pull/845, the quick fix to this issue introduces a bug in the push-to-assets-branch process that makes the generated `charts/` directory not show the Chart version change + overlaid files.

Since the correct fix for this would be a non-negligible change to the current Bash scripts, I'm closing out this issue in favor of accomplishing this as part of ht

[2020-11-12 23:58] #29064 closed

[2020-11-13 00:09] sowmyav27 commented on #29981
RKE validations using the following RKE versions and applicable k8s versions by deploying clusters, running basic validation checks works fine:
[code]

[2020-11-13 00:13] Falconx1000 commented on #29742
I did filter out some of my workload pods for this list.
[code]
There isn't any logging setup but I will try to get STDOUT from cattle-system pods both on this cluster and the cluster running rancher

[2020-11-13 00:43] Rancheroo commented on #29980
I have found this issue in Rancher Managed Clusters where the PSP is unrestricted.

WORKAROUND
The issue was that when installing the Monitoring v2 chart it was installing the cattle-monitoring-system namespace and not assigning to the System Project.
When manually assinging the cattle-monitoring-system namespace to the System Project (using the Classic Rancher UI) and waiting for a minute the CRD

[2020-11-13 02:46] mattmattox opened #30062 "Add option to disable docker save in rancher-load-images scripts"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
It would be beneficial to add the option to disable the docker save function in linuxSaveScript and windowsSaveScript. The current behavior is to run `docker save` after pulling the images. This command creates a tar.gz of all the images. But this ca

[2020-11-13 02:55] jiaqiluo commented on #29981
the following new versions are validated on rancher:v2.5.2
- 1.19.4-rancher1-1
- 1.18.12-rancehr1-1
- 1.17.14-rancher1-1

The following scenarios are validated:
- provision a cluster with an older minor version, then upgrade to the new version
- provision a cluster with the new version

[2020-11-13 04:47] aiyengar2 opened #30063 "[Monitoring V2] Remove deprecated references to kubernetes-charts.storage.googleapis.com"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

`kubernetes-charts.storage.googleapis.com` is deprecated as of November 13th, 2020. While this won't affect the packaged charts in `rancher/charts`, this will affect the ability to prepare the current Monitoring chart once it is deprecated.

[2020-11-13 04:48] sowmyav27 commented on #29103
**On 2.5-head - commit id: `393468f`**

**Scenario#1**

- Create an EKS cluster in AWS console - k8s 1.17
- Cluster is in `Creating` state
- Create a hosted EKS cluster in Rancher - k8s 1.15
- Error seen in rancher:

<img width="1327" alt="Screen Shot 2020-11-12 at 8 42 16 PM" src="https://user-images.githubusercontent.com/26032343/99029642-d86e6d80-2527-11eb-8a0c-d9e8afb0bc59.png">

**Scenario#2*

[2020-11-13 05:49] sowmyav27 opened #30065 ""Failed to load Clusters from Amazon:" error seenn while importing EKS clusters on changing cloud credentials"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

- On 2.5-head commit id: `393468fd`
- Create 2 AWS cloud creds, one for us-west-1 and one for gov-west
- Create clusters --> Imported EKS
- Choose the gov credentials
- Error seen on the UI `Failed to load Clusters from Amazon: The security token included i

[2020-11-13 06:48] sadiapoddar commented on #29275
Reproduced the issue with the help and steps provided by @ansilh
Steps to repro.
Here are the steps I’ve followed

1. Created 2 ec2 instances
2. Created a rke cluster Rancher UI and added those two nodes in the cluster( one worker, other etcd+cntrl)
3. Made sure the cluster is up and running.
4. Stopped docker on both instances

Creating a new file system to bring the content from /var/lib/docker/

[2020-11-13 06:50] asemen2608 commented on #28546
The customer will try to solve the problem with the mentioned PodNodeSelector.
From my site, this Issue can be closed.

[2020-11-13 06:58] #28546 closed

[2020-11-13 07:51] IAkumaI commented on #26984
Well. Same issue.

My /var/lib/rancher/management-state/ has no `tls` folder. Don't know why.
Just updating to latest version fixed the problem.

[2020-11-13 08:16] aiyengar2 opened #30067 "Drone build failed due to "manifest unknown""
**What kind of request is this (question/bug/enhancement/feature request):**
bug

Failed to push a Drone image tag for `quay.io/prometheus-operator/prometheus-config-reloader` and `quay.io/prometheus-operator/prometheus-operator`. This has worked successfully for a prior tag that has been pushed via the scripts (e.g. `v0.43.0`) but failed for `v0.39.0`.

Seems like the error is due to an unknown m

[2020-11-13 08:16] aiyengar2 commented on #30067
Need a resolution for this to unblock https://github.com/rancher/rancher/issues/29149

[2020-11-13 08:31] aiyengar2 commented on #30067
Both repositories `quay.io/prometheus-operator/prometheus-config-reloader` and `quay.io/prometheus-operator/prometheus-operator` do not have a tag for `v0.39.0` since Prometheus Operator never migrated to using `quay.io/prometheus-operator/*` until release `v0.38.3` based on the [release notes](https://github.com/prometheus-operator/prometheus-operator/releases/tag/v0.38.3). `v0.38.3` was released

[2020-11-13 08:51] lucky4ever2 commented on #30048
I'm not sure if it's the same problem, but since the update from 2.5.1 to 2.5.2 I've also had problems with high cpu.
I did the update at 9:30 am and since then my monitoring system (checkmk) shows a much higher CPU load and CPU utilization on every node. The RAM is not affected.

![grafik](https://user-images.githubusercontent.com/46378117/99044424-0ab3b580-2590-11eb-8926-daf336259f85.png)

![gra

[2020-11-13 08:58] sevko21 commented on #29633
Some more information. I was curious about the provisioning so I tried several other things:

Provisioned a server onpremise (RHEL 7.9). Started to build a rke with one node (role worker, etcd, controlplane)--> same issue
Provisioned rke with azure provider. Started to build a rke with 3 nodes (worker, etcd, controlplane)--> same issue

[2020-11-13 09:00] superseb commented on #29633
@sevko21 Can you please share the info on the HA cluster Rancher is running on? What version RKE is used and what k8s version, was this setup upgraded and if so any information on what version was first installed and upgraded to helps here. Also please provide if certificate configuration and/or server-url (where Rancher is accessible at) was ever changed.

[2020-11-13 09:07] sevko21 commented on #29633
HA Cluster is running on 3 RHEL 7.9 machines with Kubernets Version v1.19.3
RKE version: v1.2.1
Started with a Rancher version at the beginning of the year (it was 2.4) and updated with each new version
Server-URL didn't change since then also certificate for the rancher deployment. I can check also if CA has changed

[2020-11-13 09:11] superseb commented on #29633
If its possible to provide access to the setup to investigate, please ping me on users slack via https://slack.rancher.io

[2020-11-13 09:21] horihel commented on #30048
I rolled back rancher to 2.4.8 and the problem is gone.

[2020-11-13 09:53] sigginet commented on #29994
Well, I gave up and reinstalled everything.
Now when I created the cluster I noticed that I'm allowed to enter forbidden characters for cluster creation
![image](https://user-images.githubusercontent.com/1608474/99059114-04283c80-2596-11eb-97f1-e747c8139c7e.png)
I included a fullstop in the cluster name, but AWS EKS doesn't allow that

[2020-11-13 09:58] lucky4ever2 commented on #30048
how did you roll back rancher?

[2020-11-13 10:03] horihel commented on #30048
as i'm using a docker install, basically following this doc: https://rancher.com/docs/rancher/v2.x/en/installation/other-installation-methods/single-node-docker/single-node-rollbacks/

[2020-11-13 11:02] Syed-Saifulla commented on #18832
Thanks a lot @benjamin658.
I followed your technical comment. I had the same issue now its working fine :)
once again thanks, dude.

[2020-11-13 11:14] uluzox commented on #14062
+1

[2020-11-13 11:54] al45tair commented on #30045
Personally, I've just installed my patched ingress-nginx into our cluster again ([here is the patch](https://github.com/al45tair/ingress-nginx/commit/fa16751c9c55f825adb9651b94f85f35b59ebdf5)).

This resolves the problem by making the ingress controller ignore Rancher's podName label.

[2020-11-13 12:31] sevko21 commented on #29633
@superseb we can have a screen sharing on Monday. I'll contact you via slack

[2020-11-13 12:58] lucky4ever2 commented on #30048
I have now restored the vm snapshots. Now it looks good again:
![grafik](https://user-images.githubusercontent.com/46378117/99074523-2fbc1e80-25b8-11eb-82c2-6369640ba9a6.png)
![grafik](https://user-images.githubusercontent.com/46378117/99074549-3c407700-25b8-11eb-970b-3401caaa7861.png)
![grafik](https://user-images.githubusercontent.com/46378117/99074605-58dcaf00-25b8-11eb-8307-2f7ed19e0c9f.png)

[2020-11-13 14:04] sowmyav27 commented on #27080
**On 2.5-head commit id: `393468fd` and master-head commit id: `5aa3918`**

Deployed hosted EKS clusters in `us-gov-west-1` region.
Clusters came up Active. Validation checks works fine on the clusters

[2020-11-13 14:42] #29994 closed

[2020-11-13 15:59] Leen15 commented on #30052
The issue seems to be related to https://github.com/rancher/rancher/issues/30045.
As suggested by @superseb on slack, I disabled the project network isolation and the log is gone. Also node load is now normal.

[2020-11-13 16:00] #30052 closed

[2020-11-13 16:25] janeczku opened #30068 "Installing Helm chart from Azure Blob Storage repository fails"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

1. Create a Helm repository on Azure Blob Storage (using authenticated access with SAS token)
      - Either create your own (see [details](https://medium.com/@fmataraci6/using-azure-blob-service-as-private-helm-repository-82fda8db2ba9))
      - or use the

[2020-11-13 17:05] thedadams commented on #30020
https://github.com/rancher/rancher/issues/28803

[2020-11-13 17:05] thedadams commented on #30021
https://github.com/rancher/rancher/issues/28803

[2020-11-13 17:05] thedadams commented on #30019
https://github.com/rancher/rancher/issues/28803

[2020-11-13 17:11] maggieliu opened #30069 "[2.3] KDM Release - k8s patches for Nov"
Update k8s to the latest patches:
1.17.14 - 2.3.8+

[2020-11-13 17:25] aaronRancher commented on #29981
**Fresh install checks**
Network checks on the following Rancher setups and k8s versions pass.
[code]

[2020-11-13 17:27] sowmyav27 commented on #30052
Verified an upgrade from 2.4.8 to 2.5.2

On 2.4.8 rancher
Deploy a custom cluster - Project Network Isolation enabled.
Enable Monitoring in this cluster
Upgrade to 2.5.2 rancher.
Kubelet logs on worker node:
[code]

[2020-11-13 17:42] maggieliu opened #30070 "[2.4] Backport Bug: ec2 cluster with Amazon Linux images fail to start"
related: https://github.com/rancher/rancher/issues/21648

[2020-11-13 17:50] goldsam commented on #22978
We perform our builds in our Rancher cluster. We accept the risk of a mixed cluster. Unfortunately, these taints force use to introduce ugly tolerations into our deployement pod specs. This leaks details of the build environment into our projects.

[2020-11-13 18:14] sowmyav27 commented on #23293
**On 2.4-head - commit id: `b6f658307` `v2.4-4278-head` **

- Deploy a airgapped Rancher setup
- The Rancher Server URL points to an internet facing URL.
- Deploy an EKS cluster. Cluster comes up Active.

2.5 and Master was validated here - https://github.com/rancher/rancher/issues/29070

[2020-11-13 18:15] mattmattox commented on #11179
Side note: You can install HAProxy on Kubernetes as an ingress-controller [Doc](https://github.com/haproxytech/kubernetes-ingress)

[2020-11-13 18:28] #23293 closed

[2020-11-13 18:41] nickgerace commented on #28573
Research done earlier this week for AKS control plane logging. Waiting for team sync on the issue.

[2020-11-13 18:41] nickgerace commented on #28574
Research done earlier this week for GKE control plane logging. Waiting for team sync on the issue.

[2020-11-13 18:49] maggieliu opened #30074 "Node template values not changing while switching cloud credentials for vSphere"
Tracking issue mentioned here: https://github.com/rancher/rancher/issues/26997#issuecomment-726217804

gz#9795

gz#13362
gz#14290

[2020-11-13 18:50] maggieliu commented on #30074
@aaronRancher can you test out what @ansilh mentioned [here](https://github.com/rancher/rancher/issues/26997#issuecomment-726217804) and see if you can reproduce?

[2020-11-13 18:52] stephen-dahl opened #43430 "rancher-monitoring 9.4.201 install fails on RancherOS"
I created a new ec2 cluster on aws with 1 node (8cpu,16ram, rancheros)

pushprox-kube-etcd-client DaemonSet fails to start do to the copy-certs init container not finding any certs
![image](https://user-images.githubusercontent.com/6061073/99109824-46557c00-259e-11eb-9b8b-7dc4a9cfccd9.png)

[2020-11-13 18:56] sinqinc opened #30075 "Problem configuring Azure AD"
Hi,

We are currently installing a new Rancher cluster from scratch. We are using K3S and the stable helm branch. Rancher is now running and we are trying to configure Azure AD for authentication.

I configured an Enterprise Application in Azure AD like many other applications.

When I click on "Authenticate with Azure" i'm getting the error :

server error while authenticating: adal: Failed to ex

[2020-11-13 19:00] jiaqiluo commented on #27891
The bug fix is validated on
- v2.4-4278-head
- v2.5-head 71da15
- master-head 5aa391

the following is validated for both the **regular app** and the **multiple-cluster app**
- When going to the upgrade page of the app, the latest version will be selected by default, and we can upgrade the app to the target version if clicking the upgrade button.
![image](https://user-images.githubusercontent.com/

[2020-11-13 19:00] #27891 closed

[2020-11-13 19:01] rgroux commented on #18936
thanks

[2020-11-13 19:06] jiaqiluo commented on #29668
The bug fix is validated on rancher:`v2.5-head` 71da156
Now we can exec to a pod in the builtin shell on both UIs.

![image](https://user-images.githubusercontent.com/6218999/99110861-45294c80-25a8-11eb-88b9-67484ffb9fbc.png)

![image](https://user-images.githubusercontent.com/6218999/99111009-8e799c00-25a8-11eb-8030-d151946ea998.png)

[2020-11-13 19:06] #29668 closed

[2020-11-13 19:15] nickgerace commented on #29892
Research phase complete. Submitted issue: https://github.com/banzaicloud/logging-operator/issues/623

[2020-11-13 19:24] superseb commented on #29981
* KDM PRs merged to `release-v2.4` and `release-v2.5`
* RKE v1.1.12 + v1.2.3 released
* Forum: https://forums.rancher.com/t/kubernetes-v1-17-14-v1-18-12-v1-19-4/

[2020-11-13 19:24] #29981 closed

[2020-11-13 19:38] mrajashree commented on #30048
@horihel @lucky4ever2 do you have Project Network Isolation enabled on these clusters? and do you see the logs reported in [this](https://github.com/rancher/rancher/issues/30052#issue-741735409) issue?

[2020-11-13 20:16] jiaqiluo commented on #29961
Hi @MG2R  I cannot reproduce this bug on a rancher:`2.5.2` single-install setup. Can you try v2.5.2 in your environment and see if it works? Or how is my step different from yours?

The ec2 instance in which the rancher is installed does not have the access to the internet ( no public IP assigned to the instance), but a proxy server is used for rancher to access the internet.

The sample command f

[2020-11-13 20:38] nickgerace commented on #29742
That's still helpful context. Thank you!

[2020-11-13 21:12] ryansann opened #30077 "[UI] Add "Rotate Encryption Key" to Cluster Actions Dropdown"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Description:**
This is a request for enhancement. As part of the backend issue, I'm implementing a cluster action that performs etcd encryption key rotation for secrets. Similar to other actions, we will need an option in the cluster dropdown for "Rotate Encryption Key".

![Screen Shot 2020-11-13 at 2 06 05

[2020-11-13 22:17] aiyengar2 commented on #30054
What kind of OS are the existing nodes running? This error seems similar to https://github.com/rancher/rancher/issues/26880.

[2020-11-13 22:17] MoulderUtes commented on #21514
Clearing /etc/kubernets worked for me thanks.

[2020-11-13 22:21] rmweir opened #30078 "Panic in KEv1 caused by etcd backup"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
user used the terraform rancher2 module to create etcd backups

**Result:**
rancher deployment entered a crash loop

**Other details that may be helpful:**
It appears that the grpcServer in the GrpcServer struct is nil which is causing a panic when method th

[2020-11-13 22:34] brendarearden commented on #29144
Changes have been added back in. Since 1.19 is the only version out of the currently support k8s versions that serves the ingress resource from v1, I left the default as `networking.k8s.io/v1beta1` so the warning will still show up on 1.19 install unless you pass in the api-version. We will not be updating the official documentation for `helm template` - if a user knows their apiVersion when runni

[2020-11-13 22:34] sowmyav27 opened #30079 "OPA Constraints are not deleted until a refresh of the page"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

- Install OPA on a 1 node aws rke cluster.
- Create a constraint
- Delete the constraint

**Result:**
Constraint is still listed in UI and only disappears after refresh.
resource.create calls and resource.remove calls are seen in WS messages tab (dev tools)

[2020-11-13 22:34] sowmyav27 commented on #29183
**On 2.5-head commit id: `71da1569`**

**Issues seen fixed:**
- https://github.com/rancher/dashboard/issues/1266
- https://github.com/rancher/dashboard/issues/1246
- https://github.com/rancher/dashboard/issues/1065
- https://github.com/rancher/dashboard/issues/1012 --> goes from Updating to Active state

Logging separate issues for:
- https://github.com/rancher/dashboard/issues/371 - Logged [issue

[2020-11-13 22:42] aiyengar2 commented on #29871
As noted in https://github.com/rancher/image-mirror/pull/49#pullrequestreview-530412079, although we already merged a Prometheus Operator image for v0.43.0 in https://github.com/rancher/image-mirror/pull/47 to `rancher/coreos-prometheus-config-reloader` and `rancher/coreos-prometheus-operator`, we should actually be pushing those images new repositories at `rancher/prometheus-operator-prometheus-o

[2020-11-13 22:58] sadiapoddar commented on #16192
Reproduced this issue with 2.5.2
1. create a ubuntu workload
2. Once the workload is running, invoke the workload shell from UI
3. Closed the shell, repeat steps 2 and 3 a few times.
The shell processes get created which each invocation remain active
<img width="580" alt="Screen Shot 2020-11-13 at 12 20 31 PM" src="https://user-images.githubusercontent.com/72409237/99128781-947b7700-25c0-11eb-8592

[2020-11-13 23:22] sadiapoddar commented on #16192
Verified the fix with
2.5-head, v2.5-71da1569f8e41947302d0a2708e707c249585b0b-head
2.4-head, v2.4-4278-head
and master-head. master-5aa39182429d810be1278b294aeb396a70fe28aa-head

Verification steps
1. created a ubuntu workload
2. Once the workload is running, invoke the workload shell from UI
3. Closed the shell, repeat steps 2 and 3 a few times.

Looks like fix is partially working, now it sends

[2020-11-13 23:26] stefanlasiewski commented on #29870
Also related to https://github.com/rancher/rancher/issues/17883

[2020-11-13 23:27] sadiapoddar commented on #16192
@westlywright Please let me know should I reopen this issue?
Thanks,
-Sadia

[2020-11-13 23:34] Goldcap opened #30080 ""Cluster agent is not ready error" with newly provisioned nodes, and error never goes away, cluster never starts"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug: Clusters Never Start, CoreDNS can't resolve cluster hostname, so healthchecks fail. Rancher is working properly, nodes working properly, but for whaterver reason CoreDNS is a fail on lookups.

Note:  After seeing this issue surface here in a few different configurations, and frankly never getting resolution, I'm star

[2020-11-13 23:37] tryhardest opened #30081 "Adding annotations, the updated steps."
Have searched high and low, and this is the closest, a closed unresolved issue (that I could find) outside Kubernetes or Nginx docs.

Can anyone help 1, 2, 3 the steps in Rancher Dashboard to add annotations like I'm a troglodyte?

https://github.com/rancher/rancher/issues/12967 Dead issue with a 404 docs url
https://forums.rancher.com/t/ingress-client-max-body-size/10747/4 annotation I want to ad

[2020-11-13 23:41] aaronRancher commented on #28548
The bug fix is verified with Rancher server `rancher\rancher:master-head` `version b72b399` and `rancher\rancher:master-v2.5-head` `version 71da156`

**Imported cluster:**
Steps:
Create an imported cluster in Rancher
Do not add a cluster
Save
Click on cluster

User is given the option to add a cluster:
![Screen Shot 2020-11-13 at 4 20 45 PM](https://user-images.githubusercontent.com/57409052/99130

[2020-11-13 23:41] #28548 closed

[2020-11-13 23:51] Tejeev opened #30082 "Nodes can not be drained if Istio is enabled"
Due to the disruption budget, we can not drain nodes in a cluster with Istio deployed. We should update the istio overlay to have a min of 2 replicas of pilot and gateways.  Hypothetically this should allow nodes to be successfully drained.

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Deploy cluste

[2020-11-14 00:11] aaronRancher commented on #29826
Tested with with Rancher server `rancher\rancher:master-head` `version b72b399` and `rancher\rancher:master-v2.5-head` `version 71da156`

Select custom VPC and subnets
![Screen Shot 2020-11-13 at 4 50 07 PM](https://user-images.githubusercontent.com/57409052/99132214-a36b2500-25d2-11eb-983a-e64620822276.png)
The user is prompted to select security groups
![Screen Shot 2020-11-13 at 4 50 16 PM](htt

[2020-11-14 00:35] sadiapoddar commented on #28673
Verified the issue with master-head, master-5aa39182429d810be1278b294aeb396a70fe28aa-head
Steps used to verified.

1. Created gke cluster
2. disable the auth> gcloud container clusters update clustername --no-enable-basic-auth --region=region-name
3. Edit the cluster using the same SA value and perform master cluster update operation by updating the Kubernetes version
4. Kubernetes version upgrade

[2020-11-14 00:47] sadiapoddar commented on #29811
Verified the fix with 2.4-head, v2.4-4278-head
Verification steps
1. created a ubuntu workload
2. Once the workload is running, invoke the workload shell from UI
3. Closed the shell, repeat steps 2 and 3 a few times.
4. Not seeing any processes from the previous connection
<img width="1787" alt="Screen Shot 2020-11-13 at 4 42 39 PM" src="https://user-images.githubusercontent.com/72409237/99133669-

[2020-11-14 00:47] #29811 closed

[2020-11-14 01:02] sadiapoddar commented on #29667
Verified the fix with 2.5-head, v2.5-71da1569f8e41947302d0a2708e707c249585b0b-head
Looks like the fix is sending exit when the shell is closed using UI's "close",
So, users don't need to explicitly send "exit" now, the fix does it for the users.
Verification Steps.
1. Invoked the workload shell
2. Executed "ps -ef" command per invocation of the shell
3. Closed the shell
 Note that exit has sent on

[2020-11-14 01:02] #29667 closed

[2020-11-14 01:11] thedadams opened #30083 "[EKS] Selecting security groups should be optional when selecting custom VPC"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
1. Create a new EKS cluster
2. Select a custom VPC

**Result:**
User is required to select one or more security groups. This should be optional and the user should be able to proceed without security groups.

Related backend issue:
https://github.com

[2020-11-14 01:12] thedadams commented on #29826
@aaronRancher I created a UI ticket to make selecting security groups optional. You should be able to test this with the API for now, if you'd like.

[2020-11-14 01:20] #30067 closed

[2020-11-14 02:36] superseb commented on #30080
Please supply how many nodes with what roles you are adding. Also please supply the same info as requested in https://github.com/rancher/rancher/issues/29715

[2020-11-14 03:19] JoeyGaojingxing commented on #29952
just waiting ,,, the next day you will see data in your ES.

and remember, when you are creating index pattern, **DO NOT** choose any timestamp or you will not able to see all the data. That's because logs from each container have same index when using the ClusterOutputs.

![image](https://user-images.githubusercontent.com/15071824/99138302-bcbfb000-266a-11eb-94f8-7fc1eb232864.png)

[2020-11-14 12:25] ohauer opened #30084 "'https://git.rancher.io/helm3-charts/': The requested URL returned error: 503"
Not sure if this is the right way to report.

I've checked on two rancher system (different locations) both show
'https://git.rancher.io/${any}-charts/': The requested URL returned error: 503

Rancher versions in use:
 2.4.10 and 2.5.2

[2020-11-14 13:12] dazsco opened #30085 "v2.5.2 continuous delivery install error"
![1](https://user-images.githubusercontent.com/30418809/99147708-071e4c80-26be-11eb-9be9-9fc561223678.png)

[2020-11-14 15:20] KaulSe commented on #30084
seems to be fixed now 👍

[2020-11-14 17:42] tyzbit opened #30182 "Internal Server Error In Cluster Explorer After Upgrade to v2.5.2"
Hello,

I upgraded Rancher from v2.3.3 to v2.5.2 and afterwards, when navigating to one of my clusters in the cluster explorer I get
[code]
I can see and interact with the local cluster just fine.

I tried upgrading the k8s version of the affected cluster to v1.19.4 but that did not help fix the issue.

[2020-11-14 18:19] lucky4ever2 commented on #30048
Yes, i have Network Isolation enabled. I don't have any logs because I wanted to downgrade again quickly.

[2020-11-15 02:45] ssurovich commented on #29519
Hi @DH-Rancher   -  Thanks for that update, apologies I took awhile to reply, but this IS working with vSphere 7.0 without any issues now... Thanks you!!

[2020-11-15 09:31] lukasmrtvy commented on #19125
Loki in https://github.com/grafana/loki/releases/tag/v2.0.0 supports S3 also for indexing, no need to deploy Cassandra anymore ..

[2020-11-15 09:37] lukasmrtvy commented on #10053
Related https://github.com/rancher/rancher/issues/28804 ?

[2020-11-15 20:00] mrajashree commented on #30048
@lucky4ever2 okay, it's a known issue with 2.5.2, we're tracking it with [this](https://github.com/rancher/rancher/issues/30045) issue. The workaround is to turn off project network isolation. But I see that you have already successfully rolled back to 2.4.x so you don't need to turn off network isolation on 2.4.x
Once @horihel confirms if he has the same issue, we can close this issue and use the

[2020-11-15 21:09] DH-Rancher commented on #29519
No worries @ssurovich - Appreciate you providing feedback :+1:

[2020-11-15 21:40] deniseschannon commented on #11496
As k8s is moving away from component status, we will still have it in within Rancher for the k8s distros that support it (for example, RKE). Currently, component status is added to the cluster config and we report on it's health regardless if component status exists for those k8s clusters.

In v2.5+ which uses a k8s 1.19+ client-go, we will be hiding the deprecation logs around component status so

[2020-11-15 21:42] deniseschannon commented on #23451
Duplicate of https://github.com/rancher/rancher/issues/11496

We are planning on addressing the clusters using component status with this issue: https://github.com/rancher/rancher/issues/11496#issuecomment-727641496

[2020-11-15 21:42] #23451 closed

[2020-11-15 21:44] deniseschannon commented on #24203
I'm closing this issue in favor of this one which will address this for all clusters that we detect and others can configure their status to hide it for their cluster type: https://github.com/rancher/rancher/issues/11496#issuecomment-727641496

[2020-11-15 21:44] #24203 closed

[2020-11-15 21:51] deniseschannon commented on #27190
@AprilE-zz This is most likely based on the type of cluster you are running and whether or not the cluster supports component status. I'm going to close this issue in favor of this other one, which indicates how we'll handle these clusters that don't support component status for certain components.

https://github.com/rancher/rancher/issues/11496#issuecomment-727641496

[2020-11-15 21:51] #27190 closed

[2020-11-15 21:52] deniseschannon commented on #25942
I'm closing this in favor of https://github.com/rancher/rancher/issues/11496#issuecomment-727641496

[2020-11-15 21:52] #25942 closed

[2020-11-15 21:53] deniseschannon commented on #21537
CLosing in favor of https://github.com/rancher/rancher/issues/11496#issuecomment-727641496

[2020-11-15 21:53] #21537 closed

[2020-11-15 22:19] evhan commented on #29272
We've done something similar, adding this `io.cattle.field/appId` label to the relevant resources whether one has `--set rancher=true` via Helm values. Not great, but at least it clearly isolates the workaround until this is fixed.

[2020-11-15 23:24] mattmattox commented on #28768
I hit this same issue in Rancher v2.4.8 in a lab environment. I did run into an issue with certs being out of sync on the node in question.

I have logs from Rancher pods and from the node. Please ping me if you would like them.

[2020-11-16 02:24] atsai1220 commented on #23525
Experiencing the same in 2.4.8 when I provision a new cluster. Ultimately resolves itself after 35 minutes.

[2020-11-16 04:06] qiang93 opened #30086 "Rancher cluster exporter page check pod detailed information 404 error"
**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**
using owner　permissions　member　create a deployment application,in cluster exporter page check pod detailed information

**Result:**
![image](https://user-images.githubusercontent.com/26239197/99211911-769e5400-2804-11eb-9f1b-e0bbd45803ae.png)

![image](https://u

[2020-11-16 04:47] maggieliu opened #30088 "[2.4] When alerts only configured notifiers that are not webhook forwarded, rancher server returns secrets "Webhook -receiver" not found error"
backport for https://github.com/rancher/rancher/issues/28954

[2020-11-16 04:54] maggieliu opened #30089 "[2.4] Ingress issue with PNI"
Backport for the following issues:
https://github.com/rancher/rancher/issues/30045
https://github.com/rancher/rancher/issues/30055
https://github.com/rancher/rancher/issues/30044

[2020-11-16 05:44] dw-3 opened #30090 "rancher login cas okta errorcode 500"
[ERROR] SAML: Failed getting user with error: can't find unique user for principal okta_user://dev

[2020-11-16 07:34] horihel commented on #30048
I can confirm that network isolation was enabled on both clusters on my side too.

as i already rolled back, i can not immediately confirm if disabling solves the problem. I'll try and setup a new test env.

[2020-11-16 08:59] axeal commented on #28776
Reproduced error with above steps in the Cluster Manager UI using Rancher v2.5.2. Issue does not occur when adding the catalog with the erroneous chart via the Cluster Explorer UI (https://rancher.com/docs/rancher/v2.x/en/helm-charts/apps-marketplace/) in v2.5.2.

[2020-11-16 09:56] ClaudiuLSH opened #30091 "Can't edit local kubernetes cluster automatically imported"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Deploy RKE cluster, deploy rancher within the cluster and try to edit the cluster from rancher web interface.

**Result:**
![Screenshot from 2020-11-16 11-48-21](https://user-images.githubusercontent.com/6681374/99238068-f4ad2b80-2801-11eb-8592-aabd3cc6a28c.

[2020-11-16 10:04] superseb commented on #30091
This is covered in https://github.com/rancher/rancher/issues/22763

[2020-11-16 10:04] #30091 closed

[2020-11-16 11:01] tjcain opened #30092 "[cli] Configure kubernetes token cache dir"
It is currently not possible to configure the location of cached kubernetes tokens generated by the cli command `token`. A fix was attempted as part of https://github.com/rancher/rancher/issues/29807, but this had to be rolled back.

@dramich [pointed out](https://github.com/rancher/rancher/issues/29807#issuecomment-726233399) that the token should be a new field on `ServerConfig` and a new `RANCH

[2020-11-16 11:35] JohnAdams007 opened #30093 "Native Support for Creating Virtual Clusters - Example k3v"
This is an RFE for natively supporting the deployment of nested virtual clusters.

**Is your feature request related to a problem? Please describe.**
The need we have to meet is to provide self-service DEV Sandboxes or a QAT environment to development teams with a single Rancher management pane of glass. This is useful when providing teams of teams with autonomy and their own Rancher environments

[2020-11-16 12:22] leflambeur opened #30094 "RFE: Rancher CLI to edit Project/Namespace Resource Limits/Quotas - v2.4.9"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement/Feature Request

Affects Rancher CLI v2.4.9 included with 2.5.2 and 2.4.10

** Description **

At the moment if you want to script the changing of project and namespace resource quotas to overcome Rancher default behaviour you need to use API call and curl commands

As Rancher CLI offers the option to create p

[2020-11-16 14:34] sinqinc commented on #30075
The problem is not only Azure Ad but accessing outside the cluster
Clone failed: Cloning into 'management-state/catalog-cache/f341cfdfa521a9aa2b993cb34b26bb91b2d173ef1a7df8d41b8921b0e4f82788'... fatal: unable to access 'https://git.rancher.io/helm3-charts/': Maximum (20) redirects followed : exit status 128

[2020-11-16 14:34] cospeedster commented on #17835
Same here @piyush94 ..

Have you been able to fix this?

[2020-11-16 14:59] MG2R commented on #29961
Are you trying this on the "local" cluster? For me it does work on the "local" cluster, which makes sense as that is running on the installatio that has the correct HTTP_PROXY variables set with Helm during the Rancher Server installation. It does not work, however, on any other cluster I manage with Rancher.

I'm using custom node RKE clusters in our own datacenter.

[2020-11-16 15:03] Goldcap commented on #30080
Yes, I hope I'm covering what you need with the following, let me know if this isn't the case:

###Background
1. We have an internal DNS, it's running our entire infrastructure, so I'm sure it's working. (500+ Employees use it for 6+ years)
2. We have a FQDN, and a Cert, so I don't think it's our DNS/Host setup, and the Rancher UI works great.
3. All nodes are "wiped" before installation, and we r

[2020-11-16 15:18] tinohager commented on #21514
Clearing `/opt/rke/etc/kubernetes/ssl -f -r` worked for me

[2020-11-16 16:14] vincent99 commented on #17835
The newer cluster explorer Ui in 2.5 shows and installs helm 3 charts (and vice versa).  They will continue to not show up in the older Ui apps (which shows our CRDs).

[2020-11-16 16:30] toddexp opened #30095 "[CLI] Compatible with Apps and Marketplace"
The rancher-cli is not currently compatible with the new apps and marketplace charts in Rancher 2.5. The rancher-cli is helpful with automation and not having this feature in the cli is an impediment. The rancher-cli is helpful with automation because it has auth into the clusters. Using the helm cli would require having a kubeconfig file which at new cluster creation with automation is not setup.

[2020-11-16 16:40] sinqinc commented on #30075
The problem was cloudflare that flattern all request to the root.

I removed the * CNAME.

[2020-11-16 16:40] #30075 closed

[2020-11-16 16:43] asemen2608 commented on #28527
Is it planed for Rancher v2.5.3, v2.6 ?

[2020-11-16 16:43] bentastic27 opened #30096 "Add ability to use scale sets with AKS clusters"
Right now, Rancher leverages Availablity Sets when creating AKS clusters. The limitation here is that we cannot change node sizes after the fact and creating a new cluster is necessary to do that.

Using Scale Sets for the node pool seems to be a much more flexible method in this regard as it allows us to leverage multiple node pools and multiple node sizes.

gz#13366

[2020-11-16 16:45] bentastic27 commented on #27550
This doesn't seem to work with monitoring 0.1.4 either.

[2020-11-16 17:18] cospeedster commented on #17835
Thanks for your reply @vincent99 !

I‘ll check the new UI soon.

[2020-11-16 17:34] acolliot commented on #29605
Same here with v2.4.8 and Harbor registry

[2020-11-16 17:39] pahansen95 commented on #27224
After experiencing the same issue (Rancher v2.4.3 & UI v2.4.22) after updating a private Helm Chart I was able to force an upgrade by using the API. It also subsequently fixed the UI bug. I have listed my steps below:

  * You can submit the API request in the UI by selecting the kebob/more options button & selecting the `View in API` option.
  * It will take you to a text page w/ a box in the upp

[2020-11-16 17:54] philipsparrow commented on #20772
Yes I'm using it. I didn't find much sample code though

[2020-11-16 18:46] jiaqiluo commented on #30069
the new k8s version `v1.17.14-rancher1-1` is validated.
The KDM `dev-2.3` branch is used.

- on rancher:`v2.3.8`, network tests are passed for all network providers on 1.17.14 clusters
- on rancher:`v2.3.9`, both network and upgrade tests are passed for all network providers on 1.17.14 clusters
- on rancher:`2.3.7`, the new version does not show up

[2020-11-16 18:55] jiaqiluo commented on #29961
@MG2R Yes I used the `local` cluster.
I think this is related to this issue https://github.com/rancher/rancher/issues/24876

[2020-11-16 19:00] jiaqiluo commented on #29961
@MG2R One more question:

Do your nodes have access to the proxy? If you ssh to the node and do curl command, do you see the traffic going through the proxy?

If the answers to those two questions are yes, the cause should be the issue I mentioned in my previous comment.

[2020-11-16 19:14] aiyengar2 commented on #29446
As mentioned in https://github.com/rancher/charts/pull/783#issuecomment-726978704, this will be addressed in https://github.com/rancher/rancher/issues/28730 instead since the PR checklist approach doesn't work for a non-default branch like `dev-v2.5-source`.

[2020-11-16 19:14] #29446 closed

[2020-11-16 19:34] maggieliu commented on #29168
closing. New direction here: https://github.com/rancher/rancher/issues/29168#issuecomment-720232694

[2020-11-16 19:34] #29168 closed

[2020-11-16 20:00] izaac commented on #29318
Rancher version: `v2.5.2 (11/16/2020)`
Rancher version: `v2.5-head (11/16/2020)` _71da1569f_

Single Rancher install.
RKE Downstream DO cluster.
K8s `v1.19.4-rancher1-1` (`v2.5.2` and `v2.5-head`)

Steps

1. Create a standard user (`user1`)
2. With the standard user `user1` provision an RKE DO cluster.
3. Once the cluster is provisioned Add a Slack notifier
4. Enable cluster alerts and use the Sla

[2020-11-16 20:03] martinounap opened #30097 "Can not upgrade cluster from 1.15.5 to 1.19.4"
**What kind of request is this (question/bug/enhancement/feature request):** question

**Steps to reproduce (least amount of steps as possible):**
Upgrade rancher 2.2.9 to 2.5.2
Update claster from existing nodes(custom) (k8s 1.15.5 to 1.19.4)

**Result:**
Nodes stay Unavailable

**Other details that may be helpful:**

Failed to initialize CSINode: error  updating CSINode annotation: timed out wai

[2020-11-16 20:05] cbron commented on #22487
This one is also fixed by https://github.com/rancher/rancher/issues/29144
There is another ticket linked there to handle moving from `networking/v1beta1` to `networking/v1`, which is the next step after moving away from the extensions path.

[2020-11-16 20:06] maggieliu opened #30098 "Porting Ember API (Adding validations into Webhook)"
Place holder ticket to the work needed on porting over Ember API. Start with cluster provisioning related validations:

Cluster Provisioning - Node Pools
Node Templates
Cloud Credentials
Cluster Templates
Dynamic UI for Node drivers/cluster drivers
Cluster Provisioning - Imported
Cluster Provisioning - Custom
Cluster Provisioning - Hosted (EKS until AKS/GKE is ready)

[2020-11-16 20:07] maggieliu opened #30099 "Cluster Templates - RKE2 Example Template"
Make the cluster template generic for all cluster type.

[2020-11-16 20:23] izaac commented on #28954
Rancher version: `v2.4-head (11/16/2020)` _36358bd29_

I don't see the webhook errors in the Rancher server logs. Alerts are getting sent to the slack notifier.

Rancher version: `v2.5-head (11/16/2020)` _71da1569f_

I don't see the webhook errors in the Rancher server logs. Alerts are getting sent to the slack notifier, this might be a separate issue. Details here https://github.com/rancher/ranch

[2020-11-16 20:26] izaac commented on #29318
Rancher version `2.4-head (11/16/2020)` _36358bd29_

This version is working. Details here: https://github.com/rancher/rancher/issues/28954#issuecomment-728303565

[2020-11-16 20:37] izaac commented on #30088
Rancher version: `v2.4-head (11/16/2020)` _36358bd29_

I don't see the webhook errors in the Rancher server logs. Alerts are getting sent to the slack notifier.

[2020-11-16 20:37] #30088 closed

[2020-11-16 20:37] izaac commented on #28954
Closed #30088 as `v2.4-head` was validated.

[2020-11-16 20:42] jiaqiluo commented on #30069
RKE CLI `v1.0.14-rc1` is validated for supporting the new k8s version `v1.17.14-rancher1-1`

[2020-11-16 20:46] martinounap commented on #30097
I found something what migth help us:
https://stackoverflow.com/a/63216140

So should we now add new etcd to the cluster and change othres?

[2020-11-16 20:47] sadiapoddar commented on #29665
The fix is working as expected, closing the isse

[2020-11-16 20:47] #29665 closed

[2020-11-16 21:17] martinounap commented on #30097
We managed to get forward. We edited cluster as yaml and added:
...
    kubelet:
      extra_args:
        feature-gates: CSIMigration=false
...

Now cluster is goming up :)

I will later close this issue, if it really comes to green.

[2020-11-16 21:42] nickgerace commented on #29892
Awaiting `logging-operator` release containing recent `syslog` output addition.

[2020-11-16 21:45] mattmattox opened #30101 "Additional ports for Rancher webhook and imported clusters."
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- Update port requirement to include the new webhook port 8443 & 9443
[Doc](https://rancher.com/docs/rancher/v2.x/en/installation/requirements/ports/)

**Result:**
From: Rancher Node
To: Hosted / Imported Cluster
Port:
8443 TCP
9443 TCP

**Other details that

[2020-11-16 21:46] kenhglee commented on #28266
Hi @Linutux, any luck with the existing clusters? I am also experiencing the same with v2.4.6, and I was wondering if things have gotten better. Lots of remedies gathered from older issues to either change the dnsPolicy to Default or None with the appropriate configs haven't worked. Ref) [https://github.com/rancher/rancher/issues/16454](url), [https://github.com/rancher/rancher/issues/18832](url).

[2020-11-16 22:12] martinounap commented on #30097
Nice, everything is UP and Running.

[2020-11-16 22:12] #30097 closed

[2020-11-16 22:29] aaronRancher commented on #29898
The bug is reproduced with Rancher server `rancher\rancher:v2.5.2-rc6`

Steps:
Install rancher-istio in Rancher 2.5 through the Cluster Explorer
Go to Istio -> Kiali
Refresh the page

Result:
Page refreshes to the following:
![Screen Shot 2020-11-16 at 3 08 29 PM](https://user-images.githubusercontent.com/57409052/99315820-7d3ac480-2820-11eb-8099-dd87135e0068.png)

[2020-11-16 22:32] aaronRancher commented on #29898
The bug fix is verified with Rancher server `rancher\rancher:v2.5-head` `version 71da156`

Kiali is loaded properly on refresh.

[2020-11-16 22:33] aaronRancher commented on #29898
This behavior is still seen in Rancher server `rancher\rancher:master-head` `version b72b399`

Reopening for a fix in master-head.

[2020-11-16 22:46] nickgerace commented on #28720
Merged in 3.7.3: https://github.com/rancher/charts/pull/817

Essentially, these series of changes ensure that logging related pods do not run on Windows nodes, and only run on Linux nodes.

[2020-11-16 23:11] everga commented on #26984
We run in the same problem today (our luck on a testing system)

I think the reason for the trouble is because we do a remove of the  3 CAs  ( *ca.key and *ca.cert ) by rm *.crt *.key. As we restart rancher it creats 3 new CAs, key and selfsigned certs 10 year livetime  and new "worker" keys and certs  one year liftime signed by the new CAs. But your other "rancher processes" relay on the removed

[2020-11-16 23:28] nathan-mellis commented on #26309
I'm also seeing this on a fresh install of 2.5.2 connected to Okta.

[2020-11-16 23:37] sadiapoddar commented on #16192
Currently, when workload shell is accessed from  CLI using kubctl command, the number of shell process is half than when workload shell is invoked from UI. Not sure is it necessary for the UI since it has to work thru web sockets.
Reopening for the dev to do further research on it.

[2020-11-17 00:20] jiaqiluo commented on #29905
The following cases are tested for this script.

test case | expected result| result
----------| ---------------| -------
cluster monitoring is enabled | the warning message should show in the output| pass
project monitoring is enabled | the warning message should show in the output| pass
project monitoring is enabled in more than 1 cluster | the warning message should show in the output|  pass
no

[2020-11-17 00:37] PennyScissors commented on #27746
We currently don't support volume expansion in the Rancher UI, although it can be done directly via the API UI or kubectl at your own risk if you enable `allowVolumeExpansion: true` in the storage-class and increase the size of the persistent-volume-claim (PVC) of that storage-class. The `capacity` that can be modified via the Rancher UI (Cluster Manager) in `Cluster > Storage > Persistent Volumes

[2020-11-17 01:45] hp-caoy commented on #29966
I meet the same problem, Is there anybody know how to solve it ?

[2020-11-17 01:50] vicluy commented on #19245
Has this problem been resolved?
We are having a similar error :(
This my log :

2020/11/17 01:44:22 [INFO] Rancher version v2.2.8 is starting
2020/11/17 01:44:22 [INFO] Rancher arguments {ACMEDomains:[rancher.mcbooks.vn] AddLocal:auto Embedded:false KubeConfig: HTTPListenPort:80 HTTPSListenPort:443 K8sMode:auto Debug:false NoCACerts:false ListenConfig:<nil> AuditLogPath:/var/log/auditlog/rancher-a

[2020-11-17 02:52] aiyengar2 commented on #29905
@jiaqiluo I think the failed case above should be fine. Even if the user has `enable_cluster_alerting=true`, it shouldn't affect their ability to deploy Monitoring V2 unless, as you mentioned, they add a notifier and assign it to an alert group. So the overall purpose of the script (e.g. to assist users in migrating from Monitoring / Alerting V1 to V2) is still accomplished.

@bashofmann would you

[2020-11-17 03:13] aiwantaozi commented on #29318
I don't have Do account permission. I tried three times using
Single Rancher install.
RKE Downstream AWS cluster.
K8s v1.19.4-rancher1-1 (v2.5-head 71da1569f)
but can't reproduce it. Just need to make sure, the cluster is ready, the agent is deployed before adding an alert group

[2020-11-17 03:15] izaac commented on #29318
@aiwantaozi yes the cluster is Active and all System project workloads are Active.

The cluster is using 1 Control Plane, 1 etcd and 3 workers. I think this might be reproducible with others RKE infrastructure providers or Custom cluster? I can check in the morning

[2020-11-17 03:25] Widerstehen opened #30104 "Why not allow remember password"
I use chrome browser，it can remember username but can not remember password when i login rancher.

[2020-11-17 04:39] vincent99 commented on #30104
You can do that with a password manager or the tools built into all the major browsers.  Rancher installs commonly give people the equivalent of root access to fleets of powerful nodes or to sensitive data within them; leaving it logged in all the time is not a great idea for many people.

If you really want it anyway, there's a setting for how long ui sessions are good for that you can set to a a

[2020-11-17 06:04] pkroan opened #30105 "Private Catalog Use OAuth Token To Download Releases"
**Question**
I am trying to get clarity that the OAuth option for private catalogs is used on the urls served from a index.yaml file.

index.yaml Example:
[code]
I am using github pages to serve the index.yaml, and this works fine for rancher when it is a public catalog. When it is a private catalog I can add the catalog and it shows under the catalog apps correctly but when I go to launch it cann

[2020-11-17 06:09] Widerstehen commented on #30104
Thank you for your quick reply.

[2020-11-17 06:09] #30104 closed

[2020-11-17 07:32] priyankak1212 commented on #13689
Hi, I have kept firewall stop and disable.Still facing same issue.

[2020-11-17 08:01] superseb commented on #30080
Please supply the outputs of the requested commands:
* https://github.com/rancher/rancher/issues/29715#issuecomment-716640246
* https://github.com/rancher/rancher/issues/29715#issuecomment-717141811

[2020-11-17 08:07] superseb commented on #30084
This should be resolved by now

[2020-11-17 08:07] #30084 closed

[2020-11-17 08:08] vicluy commented on #19245
My Rancher is working properly. My idea is to resize the rancher virtual machine giving it more RAM. before, I had to create a snapshot during snapshot creation, my Rancher is working properly @@ I haven't even resized it yet.
I've been having this error for 3 days now, maybe the rancher will fix this by itself

[2020-11-17 08:50] Duvel commented on #19675
**Note: this worked for me, but as always: be careful!**

I think I found a workaround with the help of #18913:

* Make sure your server has the correct timezone
* Go to the page of your cluster
* Choose the option Save As RKE Template
* Go to Global > Tools > RKE templates
* Find your template and choose Clone Revision
* Choose Edit as yaml
* Find
[code]
* replace with or change to:
[code]
* Edit

[2020-11-17 09:47] Tejeev commented on #26851
We've seen this on v2.5.1 where scans fail due to an etcd-snapshots process stuck runing (Puppet does not diffrentiate between worker and cp nodes)
[code]

[2020-11-17 10:06] MG2R commented on #29961
Yes and yes. The docker daemon is even set up to automatically inject proxy settings into containers launched with root and `docker run` (via `~/.docker/config.json`). That all works.

I just confirmed: adding proxy settings to the cluster-agent as described in #24876 fixes this problem.

Before I close this as a duplicate, though. Can you maybe provide some feedback towards this, from the OP:

In

[2020-11-17 10:50] handaoming opened #30106 "pipline get a long time to wait"
Describe:
     I’ve created a  pipeline of a java  app and it works fine sometime ,but sometime it does not work. I've triggered  it,no react.
about 7min later,it begin work.

error log:

2020/10/28 07:55:06 [ERROR] PipelineExecutionController p-vbm66/p-qz8kz-24 [pipeline-execution-controller] failed with : get build info got 404 404: <html>
<head>
<meta http-equiv="Content-Type" content="text/htm

[2020-11-17 10:58] tinohager opened #30107 "Deployments - Edit as Form - imagePullSecrets not available"
**What kind of request is this (question/bug/enhancement/feature request):**
question/feature request

I can't find a select option for `imagePullSecrets` in the edit form of deployments.
Is the functionality not yet integrated or should a different configuration be used here?
Without `imagePullSecrets` I get an access error on image pull.

![image](https://user-images.githubusercontent.com/821518

[2020-11-17 11:01] brodul opened #30108 "Charts are not updated/populated from chart repositories 2.5.2"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

- Create 1 helm chart and package it with `helm package <chart_dir>`
- Create `index.yaml` with `helm repo index . --url <url>`
- Upload to host server (GCS, github pages ....)
- Add repo to the `dashboard/c/local/apps/catalog.cattle.io.clusterrepo`

![imag

[2020-11-17 11:22] kebyn commented on #25311
After deleting, restarting does not generate the localhost certificate, so I manually generated the certificate.
[code]

[2020-11-17 12:01] sober-wang opened #30109 "How to disable Rancher HTTPs in a kubernetes cluster?"
I have k8s cluster , the rancher running on the k8s.
I don't want used the HTTPs , How to disable the Rancher HTTPs.

[2020-11-17 13:10] sowmyav27 commented on #29103
**On 2.5-head - commit id: `71da1569f`**

**Scenarios validated:**
**Scenario#1**
- Create an EKS cluster in the EKS console
- Create a hosted EKS from Rancher using same name
- Should not be allowed - Error seen: "Cannot create cluster [sowmya-eks-2] because a cluster in EKS exists with the same name"

**Scenario#2**

- Create an EKS cluster in the EKS console
- Create a hosted EKS from Rancher u

[2020-11-17 13:39] petertang2012 commented on #19673
I am also experiencing this on 2.5.1 with 2.4.5 created cluster

[2020-11-17 14:07] bashofmann commented on #30101
I already had a PR open to clean up the required ports in our docs: https://github.com/rancher/docs/pull/2637.

I added these two to the matrix with https://github.com/bashofmann/docs/commit/e842604f7cd471bedf23eb660ca3d94db36dc67a for hosted and imported clusters.

<img width="976" alt="Bildschirmfoto 2020-11-16 um 23 28 42" src="https://user-images.githubusercontent.com/243056/99399870-8726fb00-

[2020-11-17 14:07] #29183 closed

[2020-11-17 14:26] izaac commented on #29318
@aiwantaozi This is working but it's taking long to initiate. Yesterday attempt I waited for around an hour.

But today it took around 15 minutes to create the statefulset. With the same cluster resources using (VMs of 2GB RAM, 40 GB Disk, 2 vCPU)

### Attempt today after deploying Cluster Alerts

Rancher version: `v2.5-head (11/17/2020)` _71da1569f_

- k8s `v1.19.4-rancher1-1`
- RKE DO (1 etcd, 1

[2020-11-17 14:28] izaac commented on #29318
Removing the blocker status, this is taking some time to deploy but it's working.

[2020-11-17 14:36] izaac commented on #28954
Rancher version: `v2.5-head (11/17/2020)` _71da1569f_ Single install.

I got the alerts now after further testing https://github.com/rancher/rancher/issues/29318#issuecomment-728291662. But I'm still seeing the webhook errors in the Rancher logs.

- k8s `v1.19.4-rancher1-1`
- RKE DO (1 etcd, 1 control plane, 3 workers)
- Cluster provisioned as standard user (not as default admin)
- loglevel is Deb

[2020-11-17 14:44] Widerstehen opened #30110 "How to manage k8s ha cluster by rancher"
I have a ha k8s cluster, I want to use rancher manager k8s cluster. I want to know if the rancher needs to be deployed separately to a server, and if the Rancher service can deploy high availability ?

[2020-11-17 15:04] sowmyav27 opened #30111 "Windows worker registration command is not available"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

- Create a custom cluster on `2.5-head`
- Windows enabled - VXLAN/HostGW. Click on Next --> go to registration command page
- Click on Windows, windows registration command is not displayed

<img width="1326" alt="Screen Shot 2020-11-17 at 10 00 46 AM" src=

[2020-11-17 15:51] bombonato commented on #30054
Same here when trying add worker node to existing cluster using RKE with docker . I not received the "400 bad request" at /v3/connect/register, but failed kubelet logs with ""Unable to update cni config: no networks found in /etc/cni/net.d,". I checked that "/etc/cni" directory is empty.
I saw the #26880 and check /etc/sysctl.d/90-kubelet.conf, it's alread created (not by me).
This node already ex

[2020-11-17 16:06] ebauman commented on #16493
You can use this helm chart to accomplish this goal: https://github.com/ebauman/rancher-project-mapper

See the README in the chart to understand how to configure.

[2020-11-17 16:07] cbron commented on #29144
Looking at this again I think the warning will be removed as it is `extensions/v1beta1` that was causing the warning, _not_ `networking.k8s.io/v1beta1`. That one is not deprecated as far as I can tell.

[2020-11-17 16:07] sowmyav27 commented on #30107
Related issue in dashboard - https://github.com/rancher/dashboard/issues/1811

[2020-11-17 16:08] #30107 closed

[2020-11-17 16:08] cbron commented on #30053
@brendarearden above we wrote:

But its only extensions.k8s.io thats removed right ? Is `networking.k8s.io/v1beta1` deprecated anywhere ? I don't see that announcement.

[2020-11-17 16:31] cbron commented on #29903
Also need to add documentation around our approach in docs and readme

[2020-11-17 16:37] betworks commented on #25174
Bump.. Same issue with 2.4.10..
Host, Cluster and Datacenter default VM Compat are all set to 15 but RancherOS (docker-machine?) still creates new VM's with 14.

15 is required for out of tree provider :(

[2020-11-17 16:39] sowmyav27 opened #30112 "Modify OS matrix job to accept OS/AMI as an input parameter"
Currently, the input is a multiple choice field where everyone has to update when a new OS/AMI is available.
Modify OS matrix job to accept OS/AMI as an input parameter to make it simpler.

[2020-11-17 16:39] skyscooby commented on #25174
Same issue with 2.4.10..

rancherOS docker-machine created VM's are created with V 14 compatibility even when datacenter, cluster and host default Compatibility is set to V 15

[2020-11-17 16:40] sowmyav27 opened #30113 "Include Windows in support matrix - k8s and AMI as input parameters"
Currently Support matrix job does not have windows.

Include Windows in   support matrix - k8s and AMI as input parameters

[2020-11-17 17:01] izaac commented on #29078
Reproduced in Rancher version `v2.4.10`

Timestamps shown the nanoseconds always as `.000`

Validated nanoseconds are now included in Rancher version `v2.4-head (11/17/2020)` _011c9dcd1_

[2020-11-17 17:01] jiaqiluo commented on #29905
@aiyengar2  I agree and I am ok to close this issue if @bashofmann  says yes.

[2020-11-17 17:10] maggieliu commented on #30048
closing in favor of: https://github.com/rancher/rancher/issues/30045

[2020-11-17 17:10] #30048 closed

[2020-11-17 17:29] flavioarieta commented on #29997
The solution that @immanuelfodor suggested worked, but there is a lot of pods that failed with the following message:
`Pod The node had condition: [MemoryPressure].`

Does Rancher remove this automatically, I have to run it always from kubectl or there is some configs on kube-controller-manager that still need to be tuned?

Thanks.

[2020-11-17 18:06] lomori commented on #29879
How come this is still open?! No logging? Pretty bad one, IMHO.

[2020-11-17 18:10] immanuelfodor commented on #29997
For example, in a three-node cluster, you'll "lose" a sum of 3 GB memory with the above settings, as pods will be evicted when the e is less than 1G available on a node. But then, you would see `Evicted` instead of `MemoryPressure` if the pod is chosen for termination. In my experience, if all the pods define resource requests and limits, the one exceeding its memory request the most will be evice

[2020-11-17 18:11] superseb commented on #30047
Todo:

* Determine what is the current state of upstream and decide if this is the new default or if this needs to be made configurable
* Implement the choice from above
* Test if the setting is configured
* Add docs on the new default/configurable setting

[2020-11-17 18:35] jiaqiluo opened #30114 "Install Rancher in air-gap env by using `helm install`"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

Helm 3 supports installing a local package chart: https://helm.sh/docs/helm/helm_install

We need to validate that we can use `helm install` to install Rancher in the air-gap environment, and update the documentation if it works.

[2020-11-17 18:37] jiaqiluo commented on #29144
@cbron  That is right, the warning shows only when `extensions/v1beta1` is used for the ingress in Rancher's chart.  Just like @brendarearden suggests, we can pass the `--api-versions` flag to set the API version to avoid the warning.

As to why we use `helm template` not `helm install`, we were using Helm 2 when the documentation was written, so we had to render the template because there is no t

[2020-11-17 18:38] jiaqiluo commented on #29144
Waiting for an RC.

[2020-11-17 18:41] asemen2608 commented on #30047
The point is the customer is using **priorityClassName** for his cluster to prioritizes pods. The side effect is that kube-flannel, kube-dns and kube-dns-autoscaler has by default no  **priorityClassName**.
The could be too slow, the cluster would crash.
Therefore the customer is patching. On update, the patches get lost.

[2020-11-17 18:42] Daniel-Vaz commented on #30095
I there any workaround for this issue ?

[2020-11-17 19:45] mattmattox commented on #25367
To update the default etcd alert, please following this [KB](https://support.rancher.com/hc/en-us/articles/360039216452-How-to-update-your-etcd-space-alerts-for-better-etcd-monitoring)

[2020-11-17 21:07] kenhglee opened #30115 "Cluster agent constantly in CrashLoopBackOff for a custom downstream cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Create cluster
- Add cluster - Existing nodes
- Name it and hit next accepting the defaults
- Node options: All Three (etcd/control plane/worker) in a single node

**Result:**
cattle-cluster-agent-xxx pod falls into CrashLoopBackOff constantly after a brief

[2020-11-17 21:16] dnoland1 opened #30116 "Cluster Explorer fails with HTTP Error 500 when cluster agent is down"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a custom cluster on Rancher v2.5.2.
2. Attach a one node RKE cluster with all roles by using the docker run... command.
3. Pause the cattle cluster agent on the node by running a command similar to `docker pause k8s_cluster-register_cattle-cluster-

[2020-11-17 21:32] cortopy opened #30117 "Istio seems to be confused about helm secrets"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Deploy Istio using the rancher app

**Result:**
The logs for both ingress and egress gatways show constant log entries like:

[code]

**Other details that may be helpful:**

It seems that somehow the helm config of the latest rancher-istio is getting mixed w

[2020-11-17 21:49] cortopy commented on #30117
closing as on further digging this looks like an istio issue

[2020-11-17 21:49] #30117 closed

[2020-11-17 22:19] maggieliu commented on #25590
Details on what should be implemented:

Provide a configuration method for RKE provisioned clusters where the default backend service isn't passed.

[code]

Should remove the `--default-backend-service` flag from the nginx ingress controller add on and not deploy the default-http-backend service/pod.

This is a breaking change in behavior and should be an option. When the next version of Kubernete

[2020-11-17 22:20] maggieliu commented on #29872
close in favor of: https://github.com/rancher/rancher/issues/25590

[2020-11-17 22:20] #29872 closed

[2020-11-17 22:21] JoeBartelmo commented on #19059
This solution worked in an airgap environment. No need to delete all images or reboot, slightly overkill. I believe this happens b/c the user that rancher creates is not removed properly. In our environment we were making and destroying the rancher container over and over again and connecting an agent. One of the removed directories above is what solves this completely.-my guess is the kubelet dir

[2020-11-17 22:24] jiaqiluo commented on #30108
Hi @brodul, I cannot reproduce this bug in the rancher:`v2.5.2` single-install setup. Can you see how my steps are different from yours?

I tried both kinds of repositories: git-repo and URL

### prepare the Rancher server
- run rancher:`v2.5.2` single-install
- provision a cluster
[code]

## Git Repo
### prepare the helm chart
- create 1 helm chart and package it using `helm package alpine`
- del

[2020-11-17 23:04] nickgerace commented on #28574
Relevant conversation: https://community-banzaicloud.slack.com/archives/CGMPPBZBK/p1605025609156400

[2020-11-17 23:04] nickgerace commented on #28573
Relevant conversation: https://community-banzaicloud.slack.com/archives/CGMPPBZBK/p1605025609156400

[2020-11-17 23:17] cbron opened #30119 "[EKSv2]: automatic private-endpoint cluster setup"
In https://github.com/rancher/rancher/issues/29907 we setup Rancher to be able to communicate to private EKS clusters. We can accomplish this by either provisioning EKS clusters with a public endpoint and then updating them to have a private endpoint only, or by provisioning an entirely private cluster where the user has to apply some yaml manually.

There is potentially an entirely automatic appr

[2020-11-17 23:49] izaac commented on #28651
We need a `v2.5.3` RC to test this fix

[2020-11-18 00:20] deniseschannon commented on #28943
In our client-go fork, which is referenced in Rancher https://github.com/rancher/rancher/blob/master/go.mod#L22, we need to update the client-go fork to suppress the deprecation warning.

The actual fix regarding component status and how Rancher uses it will be in #11496

[2020-11-18 00:29] izaac commented on #28720
Rancher version `v2.5-head (11/17/2020)` _9a67809_
Rancher version `master-head (11/17/2020)` _90cdb6d6d_

Logging chart version: `3.7.301`

I was able to execute P1 test cases on a windows cluster. Fluentbit is no longer trying to pull images or create pods in the Windows nodes of a Custom RKE cluster.

[2020-11-18 00:29] #28720 closed

[2020-11-18 00:32] izaac commented on #29642
Rancher version `v2.5-head (11/17/2020)` _9a67809_
Rancher version `master-head (11/17/2020)` _90cdb6d6d_

Logging chart version: `3.7.301`

P1 test cases executed while testing this other Windows issue #28720

[2020-11-18 00:32] #29642 closed

[2020-11-18 01:24] guangbochen commented on #28954
@GGGitBoy can u please help to check the `v2.5-head` version, thanks.

[2020-11-18 02:00] prachidamle opened #30123 "CIS v2/rancher-cis-benchmark: 1.0.300"
This is the ticket to track the chart changes coming in for CIS v2 in release 2.5.4:

repo: https://github.com/rancher/charts/blob/dev-v2.5-source/

Changes scoped:

- [x] - CIS v2 scheduling, alerting and custom benchmarks
- [x] - CIS 1.6
- [x] - rke2 benchmark support

cc @mrajashree @briandowns

[2020-11-18 02:23] Hkavya1215 commented on #17885
@jiaqiluo i am using Rancher version: 2.4.5

I have enabled monitoring in Rancher and also i have created notifier, which in tern created the alertmanager secrets and many more other configurations. I am trying to edit the alertmanager secret which is auto created.

After I edit and close the alertmanager.yml and notification.tmpl, if there is any change in alerts the configuration files in alertm

[2020-11-18 02:24] Hkavya1215 commented on #17885
I have not redeployed or upgraded

[2020-11-18 03:45] GGGitBoy commented on #28954
@izaac
The version [`71da156`](https://github.com/rancher/rancher/commit/71da1569f8e41947302d0a2708e707c249585b0b) may not have the committed yet.
this PR has been merged in [`71ea711`](https://github.com/rancher/rancher/commit/71ea7110d7f4875fd730a698629763350a6648d5), so I think it will be work after version v2.5-head `71ea711`

[2020-11-18 09:14] bashofmann commented on #29905
Thanks @jiaqiluo for testing all these different cases.

I agree, I don't think we have to handle the "RKE Template is used and enable_cluster_alerting is true" case.

[2020-11-18 09:17] cfstras commented on #22027
Any news on this? This makes helm charts pretty useless with the rancher cli.
There used to be the workaround to put annotations directly in the helm chart values.yaml (which has other problems), but this doesn't work anymore since the `field.cattle.io/publicEndpoints` annotation overrides the helm default annotations.

[2020-11-18 09:42] axeal opened #30126 "Deploy ingress-nginx ServiceMonitor in Rancher v2.5 for scraping by Monitoring v2"
**What kind of request is this (question/bug/enhancement/feature request):**

Enhancement

**Steps to reproduce (least amount of steps as possible):**

`ingress-nginx-controller` metrics are not scraped by default with Monitoring v2 in Rancher v2.5. For Rancher provisioned clusters with the ingress-nginx ingress controller, would it be possible to auto-deploy a ServiceMonitor and metrics Service s

[2020-11-18 10:54] rene-demonsters opened #30127 "Upgrading Kubernetes clears nginx-configuration config map"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Go to the `System` project of any cluster that's not running the latest k8s version
2. Edit the `nginx-configuration` config map and for example set `use-forwarded-headers` to true
3. Edit the cluster and update the Kubernetes version and wait for it to f

[2020-11-18 11:03] axeal commented on #28421
This issue is not present with Monitoring v2 in Rancher v2.5.x, which no longer uses the cluster-agent for node status monitoring. The default alerts `KubeNodeNotReady` and `KubeNodeUnreachable` (which rely on `kube-state-metrics`) or expression `up{job="kubelet",metrics_path="/metrics"} == 0` can be used to reliably monitor for unready/down nodes.

[2020-11-18 11:12] ansilh opened #30128 "Cluster agents not removed on local cluster after upgrading to 2.5.2"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

- Deploy HA Rancher 2.4.8
- Upgrade Rancher to 2.5.1

- Since agents stayed in the 2.4.8 version, manually changed the agent image to 2.5.1 to make it up to date (This action was intentional since thinking the versions should match with rancher version)

-

[2020-11-18 11:13] janeczku opened #30129 "Support EKS cross-account management"
In multi-account AWS environments the central cloud operations team is typically accessing the customer resources by assuming IAM roles in their accounts.

https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html#Allowing-an-instance-profile-role-to-switch-to-a-role-in-another-account

Rancher should support this cross-account access by allowing the user to specify the ac

[2020-11-18 11:24] moophlo commented on #29144
How can i upgrade my existing Ingresses in the Default project to use the new api?

kubectl get ingress wordpress
Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
NAME        CLASS    HOSTS              ADDRESS                                                             PORTS     AGE
wordpress   <none>   www.mufloland.it   docker0

[2020-11-18 11:37] pasancario commented on #23768
This is a good to have requirement as it will able operations team to check stats from a cluster, without exposing outside prometheus metrics and have Rancher also for non cluster admins or devops engineers in charge of deployments and maintenance.

[2020-11-18 11:50] ansilh commented on #27746
Thanks for confirming @PennyScissors

- Is there a reason to have this option in UI? From a user standpoint, I would think that this UI option is for expanding volume.
- Can we consider volume expansion via UI as a new feature? Do we need a new issue to address this?

[2020-11-18 12:08] hari-narayanan94 opened #30130 "Install Market place apps in Rancher VIA Rest API"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

**Steps to reproduce (least amount of steps as possible):**
Im trying to automate End to End AKS cluster Provisioning , I was able to find Rest API commands to authenticate with Rancher and Import the cluster . Iam trying to install new istio from the Rancher Apps and Market place via API (Not the one from Clust

[2020-11-18 12:12] sanusatyadarshi commented on #29671
I was able to get this working "temporarily" by checking the nodes and cordoning/draining which didn't have enough memory and/or the port was already in use. I was able to get the Prometheus up and running.
But the Prometheus  container would crash randomly and I would get logs on Kibana intermittently.
![Uploading Screenshot 2020-11-18 at 5.38.58 PM.png…]()

[2020-11-18 12:15] sowmyav27 commented on #29826
Waiting for this [issue](https://github.com/rancher/rancher/issues/30083) to be fixed

[2020-11-18 12:25] Tejeev commented on #14062
It's worth noting that you can log to Graylog as a Syslog endpoint but there are known issues with this.  There may be solutions but since this is not a supported solution, I've not yet invested the time to delve into them.  Please post here if you find configurationns or workarounds that will resolve these or others you find:
- Log metadata is not consumed by Graylog and instead becomes part of t

[2020-11-18 12:28] superseb commented on #29233
If it returns nothing, something else is going on as even if it is missing that arg, there are a few others that are configured. The templates used to deploy nginx-ingress all have the configmap arg so we need a bit more info on this. Was this a newly created cluster in 2.4.3 or upgraded, if upgraded, from what version? And do you have logs from the creation/provisioning/upgrading of this cluster

[2020-11-18 12:36] hari-narayanan94 opened #30131 "Rancher Istio Installtion on AKS with Internal Load Balancer Not Working"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Apps and Market Place --> Istio --> Edit Values.yaml to add the below values under ingressgateways

**ingressGateways:
  enabled: true
  type: LoadBalancer
  serviceAnnotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: 'true'**

When I

[2020-11-18 12:40] superseb commented on #30127
This is expected, we have the option to configure nginx ingress and those will be used when provisioning is triggered. It is documented here https://rancher.com/docs/rke/latest/en/config-options/add-ons/ingress-controllers/#configuring-nginx-ingress-controller.

If this doesn't work, let me know.

[2020-11-18 12:40] #30127 closed

[2020-11-18 13:31] superseb commented on #30115
To rule out any incompatibility issue, can you verify you hit the same issue when using the version this was validated in (`v2.5.2` and up, see https://github.com/rancher/rancher/issues/23045)

[2020-11-18 14:36] kcloze opened #30132 "Restore rancher from single docker, can not connect with gitlab: net/http: TLS handshake timeout"
**What kind of request is this (question/bug/enhancement/feature request):**
when restore rancher,I need to set rancher with a new domain name

**Steps to reproduce (least amount of steps as possible):**
Backups and restoration ,Reference documents:
https://docs.rancher.cn/docs/rancher2/backups/restorations/single-node-restoration/_index

**Result:**
all things is ok,etcd data is ok
but can not co

[2020-11-18 15:05] asemen2608 commented on #29014
On CIS scan, on a downstream cluster with project network isolation activated, the scan fails at 5.3.2:

With error message “Ensure that all Namespaces have Network Policies defined (Scored)”

Other details that may be helpful:

**Environment information**

- Rancher version (rancher/rancher/rancher/server image tag or shown bottom left in the UI): Rancher v2.4.8
- Installation option (single inst

[2020-11-18 15:25] wzrdtales commented on #28804
no one wants keycloak, really... it's a mess

[2020-11-18 15:26] wzrdtales commented on #28804
https://github.com/coreos/go-oidc

[2020-11-18 15:28] wzrdtales commented on #10053
https://github.com/coreos/go-oidc

[2020-11-18 15:53] moophlo commented on #29144
@cbron how? how can i change it?

Take a look:

muflo@diapolinux ~/Scaricati/BNL/mybank $ kubectl get ingresses.v1.networking.k8s.io
NAME        CLASS    HOSTS                   ADDRESS                                                             PORTS     AGE
hello       <none>   hello.mufloland.it      docker01.mufloland.it,docker02.mufloland.it,docker03.mufloland.it   80, 443   6h56m
registry

[2020-11-18 16:21] Tejeev opened #30133 "Rancher should validate fields during cluster creation"
Input fields should catch invalid characters but instead, we see errors passed in from the backend.  This can be problematic when the backend service has an error that is unclear of if the characters allow for some exploit.

Conversely, I understand there can be frustrations if the backend expands it's accepted characters, but I believe in many cases, like naming clusters, this is a lower priority

[2020-11-18 16:30] hari-narayanan94 commented on #30095
I am also looking for a solution for the above stated probelm . On the other hand I was not able to get it to work even via helm ,  for some reason iam not able to add the helm chart repo of racher . @toddexp can you please let me know how we can get rancher apps to install atleast via helm ,  i am not able to grab the rancher charts even via helm

[2020-11-18 16:36] toddexp commented on #30095
Hi @hari-narayanan94. I am another community member like yourself. I am not sure of workaround. I have not yet tried to use the regular helm cli. I may try this soon. If I make any progress with that I will be sure to share.

[2020-11-18 16:44] hari-narayanan94 commented on #30095
@loganhz Can you please guide if there is any way we could install charts from apps and marketplace into a cluster via rancher  programmatically via API or helm or any means ?? Iam looking to install rancher-istio and rancher-monitoring

[2020-11-18 16:44] Tejeev commented on #29994
Hi @sigginet I was researching something else and I came across your comment.  I've gone ahead and opened https://github.com/rancher/rancher/issues/30133 as I believe Rancher should validate input when possible.

[2020-11-18 16:54] cbron commented on #29144
@moophlo wordpress was probably installed via a chart, so you'd need to change the chart and then upgrade with helm

[2020-11-18 17:15] maggieliu opened #30134 "Support k8s 1.20"
Need to support the new k8s version 1.20

[2020-11-18 17:46] jamestutton commented on #29895
Not sure but hit this issue and think what is tripping people up me included is that coredns needs a worker node. I have always deployed the  --etcd --controlplane first then once the cluster was up then id go bring the workers online.  From what im seeing the agent ping will always fail in this case now as  nameserver 10.43.0.10 will never be up till the workers are present.

[2020-11-18 17:52] superseb commented on #29895
We have an open issue to look into that (https://github.com/rancher/rancher/issues/29715)

[2020-11-18 18:13] prachidamle commented on #28391
@maggieliu  @cbron  The PR above will expose the parameter as a chart value and ensure it is always set to a lower value when GlobalDNS is deployed.

 But looks like in this ticket, we want to expose the parameter via Rancher GlobalDNS U and be able to change it while deploying it via Rancher UI? If that is what is desired, we will need to change Rancher API to expose this parameter.

https://gith

[2020-11-18 18:16] aiyengar2 commented on #29905
Awesome, let's close this issue then.

[2020-11-18 18:16] #29905 closed

[2020-11-18 18:23] sowmyav27 opened #30135 "User created network policies are deleted when disabling Network project isolation on the cluster"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

- Create user network policies following this example [here](https://kubernetes.io/docs/concepts/services-networking/network-policies/#networkpolicy-resource) on a cluster
- Enable NPI on the cluster
- hn-nodes and np-default seen additionally
- Disable NPI

[2020-11-18 18:25] sowmyav27 commented on #30069
Validated on `v1.0.14-rc2` using k8s `v1.17.14-rancher1-1`. Checks passed

[2020-11-18 18:33] PennyScissors commented on #27746
@ansilh A potential use case could be if the storage system doesn’t support volume expansion from Kubernetes, but able to expand it in the system itself. Then the user might want to update the PV to match the real volume size (which has been expanded though the system itself instead of Kubernetes). Given the volume expansion is there since v1.16, is a rare case. I agree with you that from a user's

[2020-11-18 19:03] leodotcloud commented on #14309
Closing in favor of https://github.com/rancher/rancher/issues/27676

[2020-11-18 19:03] #14309 closed

[2020-11-18 19:18] chad-barensfeld-exa opened #30136 "Cluster monitoring in Error state after 2.5.2 upgrade"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Import GKE cluster on Rancher 2.4.5 using Terraform provider 1.9.0

[code]

2. Upgrade Rancher to 2.5.2 using helm stable repo

[code]

3. Update Terraform provider to 1.10.6

4. Update Terraform resource to use new cluster monitoring version and apply

[

[2020-11-18 19:23] izaac commented on #28954
@GGGitBoy I will check the latest build then thanks for taking a look.

[2020-11-18 19:26] maggieliu commented on #30136
@izaac @sowmyav27 Can you see if we can reproduce this?

[2020-11-18 19:27] jp-gouin commented on #27822
Hi @leonardteo , when you have re imported your cluster.
Did you have any apps deployed with the rancher catalog ?
And if so does those apps where correctly displayed in rancher ui after the reimport ?

Thanks,

[2020-11-18 19:30] kinarashah commented on #30135
Note: This isn't a regression, behavior is present in earlier versions as well. Ideally we shouldn't be removing user's network policies @leodotcloud what do you think?

[2020-11-18 19:41] aiyengar2 opened #30137 "[Monitoring V2] rancher-monitoring: 9.4.202"
#### Rancher Release

2.5.4

#### Repo

`rancher/charts`

#### Changes

Display name should be `Monitoring` https://github.com/rancher/charts/commit/11431d72985f7d312ec739ea4f822c20b7b89258#diff-93c5f8e80a04a2a5141b2c41f8f760a87649f1cd8a9b0112598103988b4f1317

`app-README.md` should be updated https://github.com/rancher/charts/commit/cdd938c8816e4f9830d0ffa17fb8801f1f2eeb24#diff-93c5f8e80a04a2a514

[2020-11-18 19:42] ansilh commented on #27746
Hi @maggieliu , Could you please assign this to UI team?

[2020-11-18 19:52] aiyengar2 opened #30138 "[Monitoring V1] rancher-monitoring: v0.2.0"
#### Rancher Release

2.5.3

#### Repo

`rancher/system-charts`

#### Changes

Upgrades Prometheus Operator to v0.39.0. Note: this is only deployable in k8s 1.16+ clusters now, so we should check that k8s 1.15 clusters are unable to view this upgrade but eligible cluster can (both imported and created).

~CRDs removed the `helm/hook: crd-install` annotation, but they should still be deployable via

[2020-11-18 20:02] nickgerace opened #30139 "[Logging v2] rancher-charts 3.8.001"
## Repository

https://github.com/rancher/charts

## Changes

Status | Link | Title | Note
-- | -- | -- | --
merged | https://github.com/rancher/charts/pull/857 | Update logging chart with upstream version 3.8.0 | contains image-mirror PR
merged | https://github.com/rancher/charts/pull/851 | Add base cloud logging contents for AKS and GKE | n/a
merged | https://github.com/rancher/charts/pull/817 |

[2020-11-18 20:23] superseb commented on #30069
- kontainer-driver-metadata PR merged
- RKE v1.0.14 released
- Updated forum announcement for 2.3.x

[2020-11-18 20:23] #30069 closed

[2020-11-18 20:35] leodotcloud commented on #30135
Agree with @kinarashah. Unfortunately, this has been the behavior since the beginning. The function [here](https://github.com/rancher/rancher/blob/0db277711f3f7a5fbc3801343448707e8f952d69/pkg/controllers/managementuser/networkpolicy/clusterHandler.go#L132) needs to be fixed by not deleting all the network policies, only the ones created by Rancher. (np-*, hp-*, etc)

[2020-11-18 20:39] PennyScissors commented on #27746
Summarizing things for the UI team:

This issue shows the behavior we expect because the `capacity`displayed in the Rancher UI is not meant for expanding a volume as it modifies the `Capacity` of the persistent volume (PV), but the resizing is done by increasing the size of its underlying persistent volume claim (PVC) instead. The backend seems to support volume expansion, but the Rancher UI does

[2020-11-18 20:59] izaac commented on #25125
Rancher version: `v2.5-head (11/18/2020)` _9a67809_

Same behavior is observed on automation when the cert-rotation test is executed. All worker nodes are in Unavailable state with the `Kubelet stopped posting node status` message.

[code]

[2020-11-18 21:03] JRNC commented on #30054
I was able to resolve my issue. There were a few changes made, but I think it was primarily an issue with running out of disk space on my /var logical volume and having an entry in my /etc/hosts file for our primary domain, when this node was in a subdomain.

[2020-11-18 21:24] chad-barensfeld-exa commented on #30136
FYI, just tried disabling the monitoring first, then enabling it with new version (instead of upgrading) and it works. So something weird going on with upgrading only.

[2020-11-18 21:30] toddexp commented on #30095
I was able to find a work around with the helm cli. I would still prefer the rancher cli for the reasons listed when opening this issue.

I assume you are also trying to do automation from your comments, so this was all the steps I needed. The kubeconfig steps may be able to be omitted depending on your use case.
[code]

Additionally [Terraform](https://registry.terraform.io/providers/rancher/ranc

[2020-11-18 21:35] kinarashah commented on #30045
For testing:

Fresh Install Rancher v2.4-head and v2.5-head
- Create cluster with Project Network Isolation Enabled >=2 worker nodes.
- Confirm pods of `nginx-ingress-controller` in system project don't have podName labels.
- Turn on debug, redeploy `nginx-ingress-controller` and confirm the pods don't get updated without cause. Can be confirmed by looking for `delete podNameLabel` in logs.
- Crea

[2020-11-18 22:02] thedadams opened #30141 "Resetting EKS config after update does nothing"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. In an EKS cluster, update the number of nodes in a node group.
2. Wait for the update to complete.
3. Within a short period of time, put the number of nodes back to the original value.

**Result:**
The request goes through, but no update occurs.

**Other

[2020-11-18 22:18] thedadams opened #30142 "[EKSv2] eks-operator: 1.0.5"
#### Rancher Release

2.5.3

#### Repo

`rancher/system-charts`

#### Changes

Check for existing clusters in EKS with the same display name
Issue:
https://github.com/rancher/rancher/issues/29103
PR:
https://github.com/rancher/eks-operator/pull/18, https://github.com/rancher/eks-operator/pull/26

Remove creation of extraneous security group
Issue:
https://github.com/rancher/rancher/issues/29826
PR

[2020-11-18 22:26] maggieliu commented on #28391
@Rancheroo @dkeightley Is the intention to make the parameter a fixed value or something user should be able to configure when deploying the chart?

[2020-11-18 22:39] dkeightley commented on #28391
@maggieliu from the context we have, the preference is to allow configuration in the UI, but at a minimum provide a safe default (already in the PR) to avoid rate limiting.

[2020-11-18 23:26] izaac opened #30143 "Panic in latest 2.5-head manager.go"
**What kind of request is this:**
bug

**Steps to reproduce:**

- Install singler Rancher docker
- Provision an RKE DO cluster.

**Result:**

Rancher keeps restarting, I can't see the Cluster getting provisioned.

[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version: `v2.5-head (11/18/2020)` _9a6780904_
- Installation option: single

**Cluster information**

[2020-11-18 23:33] sowmyav27 commented on #30045
**On 2.4-head - commit id: `6a09f523f`**

- Create cluster with Project Network Isolation Enabled 1 etcd/control and 2 worker nodes.
- Pods of `nginx-ingress-controller` in system project do not have podName labels.
- In Debug mode, redeploy `nginx-ingress-controller` and confirm the pods don't get updated without cause. `podHandler: addLabelIfHostPortsPresent: deleting podNameFieldLabel` is NOT s

[2020-11-18 23:35] cbron opened #30144 "Istio chart should set minimum cpu/memory request"
The v1 istio chart has a minimum cpu and memory requirement for the cluster. V2 should do this also with chart annotations, see the helm chart reqs doc. We can use the most common istio installation as the case.

[2020-11-19 01:01] jiaqiluo commented on #29988
the GKE cluster with k8s `v1.18.10-gke.2101` is validated on rancher:`v2.3.9`

Steps:
- run rancher:v2.3.9 single install
- via Rancher UI provision a GKE cluster with k8s `v1.17.13-gke.2001` (the higest version available on Rancher's UI)
<img width="1458" alt="Screen Shot 2020-11-18 at 5 01 19 PM" src="https://user-images.githubusercontent.com/6218999/99606767-a47fc600-29c7-11eb-900b-8bf429a6137c

[2020-11-19 01:23] wpwoodjr commented on #11024
k9s allows you to drill down from a node to see what pods are running on it.  I use it all the time.  Would love to see this in Rancher too.

[2020-11-19 01:27] jiaqiluo commented on #29988
the GKE cluster with k8s `v1.18.10-gke.2101` is validated on rancher:`v2.4.10`

This time the cluster is created on Goggle Cloud directly and imported into Rancher.
![image](https://user-images.githubusercontent.com/6218999/99608705-aa77a600-29cb-11eb-8920-082577adf2d5.png)

[2020-11-19 01:42] dradux commented on #17227
Appears Harbor is gone from the 2.5 Apps & Marketplace, can we get it added there as well?

[2020-11-19 03:07] #29988 closed

[2020-11-19 04:05] vikas027 opened #30146 "[RFE] - View costs of Kubernetes Nodes / VMs in Rancher Console"
For multi-cloud customers, I think it would be really cool to see some approximate costs (per cluster, per namespace, etc) natively on the Rancher Console.

[2020-11-19 05:36] demangejeremy commented on #29513
`sudo docker run -d --privileged --restart=unless-stopped -p 80:80 -p 443:443 -v /host/rancher:/var/lib/rancher rancher/rancher --acme-domain rancher.example.com`

[2020-11-19 06:56] sadiapoddar commented on #24636
Reproduced this issue with 2.3.3
1. Created  3-noded all rolled enabled cluster.
2. Powered off the node hosting  cattle-cluster-agent Pod
3. Noticed that the cattle-cluster-agent Pod is not rescheduled once the node status shows as Unknown and the node.kubernetes.io/unreachable:NoExecute and node.kubernetes.io/unreachable:NoSchedule are added to the node automatically. Cluster never recovered by

[2020-11-19 08:03] Saim-Safdar commented on #28105
Linkerd easy to Install, fastest to spun up, give us security, reliability and observability who doesn't need that. Love to see rancher take this direction and Would love to do help in any way.

[2020-11-19 08:58] superseb commented on #29513
The use of the privileged flag is both described in the release notes (https://github.com/rancher/rancher/releases/tag/v2.5.0) and in the docs (https://staging.rancher.com/docs/rancher/v2.x/en/installation/other-installation-methods/single-node-docker/), the error should also be descriptive enough.

If you think there is a bug here, please supply the steps to reproduce including a command for each

[2020-11-19 08:59] superseb commented on #30146
Same as https://github.com/rancher/rancher/issues/26901

[2020-11-19 08:59] #30146 closed

[2020-11-19 09:18] axeal commented on #11024
@wpwoodjr FYI k9s is available in the built-in shell in the Cluster Explorer UI in Rancher v2.5, you can test this out by launching a Rancher v2.5.2 instance, opening the Explorer UI for a cluster, opening a Shell, and executing `k9s`.

[2020-11-19 09:32] leflambeur commented on #30045
Thanks, @kinarashah and @sowmyav27 for the quick turnaround on this :)

[2020-11-19 09:35] CSRedRat commented on #29513
@superseb Thank you, there is no problem with elevation of privileges. On server with docker rancher web UI with update 2.5 is running an unnecessary k3s cluster. How disable k3s local installation and starting kubernetes cluster on Server A with Docker UI (see first message), I need only k8s cluster on Server B. I can remove local k3s cluster only with Rancher Docker UI.

[2020-11-19 10:06] vincent99 commented on #29513
It's not "unnecessary" and isn't new (though it hasn't always been k3s).  Rancher runs only in a kubernetes cluster; everything depends on CRDs and controllers.  The single docker container version has always contained a single node kubernetes cluster inside of it to run that.

The only thing that's new is that it's exposed (as "local") to be selected all the time now, because there are new featur

[2020-11-19 10:42] hari-narayanan94 commented on #30130
I was able to find out a way to do this via this endpoint :) <rancherURL>/k8s/clusters/<clusterid>/v1/catalog.cattle.io.clusterrepos/rancher-charts?action=install

[2020-11-19 10:42] #30130 closed

[2020-11-19 10:44] hari-narayanan94 commented on #30095
I was also find out a way to trigger this via Rancher API using this endpoint

{rancher-url}/k8s/clusters/{rancher-clusterid}/v1/catalog.cattle.io.clusterrepos/rancher-charts?action=install

[2020-11-19 10:45] wzrdtales opened #30147 "Rancher v2.5.2 Bug - Can't access single project tab "cluster not ready""
Just upgraded an existing cluster. After the upgrade everything is available, but I can't access one of the projects anymore.

![ranchererror22](https://user-images.githubusercontent.com/1786821/99656050-bbbcc300-2a5c-11eb-8b29-e7e5971c9281.png)

[2020-11-19 10:50] wzrdtales commented on #30147
I can manually reach this project with the project url. But it never becomes active in the navigation...

[2020-11-19 11:13] superseb commented on #30147
Please share more info in https://github.com/rancher/rancher/issues/30032, upgrade from what version, what kind/version cluster, is there anything different for this project, whats the API output, whats the log from upgrading, is there anything in debug/trace logging currently that might relate to that cluster/project)

[2020-11-19 11:13] #30147 closed

[2020-11-19 11:17] wzrdtales commented on #30032
This is not related to system. All projects can be hit. upgrade from last 2.4.x to 2.5.2

![image](https://user-images.githubusercontent.com/1786821/99659231-d98c2700-2a60-11eb-8e33-e564f8c53a7b.png)

![api#](https://user-images.githubusercontent.com/1786821/99659378-12c49700-2a61-11eb-9f2c-af3f88e0cf86.png)

The project is in an error state for some reason.

[2020-11-19 12:36] wenerme commented on #29489
I got this issues too, @travnewmatic how you remove the repository ?

[2020-11-19 13:42] vedant-khandelwal commented on #27313
Any updates on the issue?

I tried using the `lookup` function directly in the helm template but when I try to deploy the app, it always returns the error `function "lookup" not defined : exit status 1`

[2020-11-19 14:03] KevinWhalen commented on #23968
I think I am experiencing the same (or similar) issue. I was able to get back in through a new private window though.

There are browser errors. The devtools console shows `The resource from [...]/assets/ui-[SOME HASH].js was blocked due to MIME type ("text/plain") mismatch (X-Content-Type-Options: nosniff).` Followed by `Loading failed for the <script> with source [SAME SCRIPT].`

* Rancher: 2.5.

[2020-11-19 14:14] lindhe commented on #30054
Just to clarify, @JRNC: do you mean the disk space of `/var/` on the actual host machine for the node, or in the container?

[2020-11-19 14:32] caiconkhicon commented on #29696
I have the same issue when updating from 2.4.5 to 2.5.2

[2020-11-19 14:43] JRNC commented on #30054
Host machine of the node. That being said, now I am trying to remove a node, rebuild it and add it to a new cluster and that is failing to upgrade the control plane (running RHEL 7 on nodes).

[2020-11-19 15:02] brodul commented on #30108
Yea, thats it. The only difference is the expected result.

I checked if the `index.yaml` would be in some kind of CND/cache, but its not.

When I click on the refresh button in the chart list I can see that the `generation`, `lastUpdateTime`, `downloadTime` change. `generation` for `i++` and other field to the new timestamp.

[code]

[2020-11-19 15:15] brodul commented on #30108
The response from `https://rancher.example.org/v1/catalog.cattle.io.clusterrepos/test?link=index`
[code]

The `index.yaml`
[code]

[2020-11-19 15:19] timmy59100 commented on #29730
Same here with 2.5.2

[2020-11-19 15:22] kcloze commented on #30132
close it, fixed it. is not rancher's bug.
we change  linux kernel version 4.19 => 3.10, it's ok!

[2020-11-19 15:25] #30132 closed

[2020-11-19 15:47] p7kdev commented on #30029
After some research I was able to limit the problem to the Calico configuration. By default an IPPool is created with the cidr

[code]

I have changed this to `10.0.0./8` . Now it works. My nodes even had IP addresses from this 192 network. Probably this was the reason. My knowledge of Calico is unfortunately somewhat limited. Therefore I can not explain this in detail. Should this be the same as

[2020-11-19 15:49] brodul commented on #30108
Ha, got it. It's not a Rancher bug.
Turns out Google cloud storage has default cache ... badly documented.
https://stackoverflow.com/questions/37107171/google-cloud-storage-how-can-i-reset-edge-cache#37124554

[2020-11-19 15:49] #30108 closed

[2020-11-19 16:18] ranchersvet opened #30148 "Joining node to cluster fails on windows with docker 19.03.13"
Try to join windows node with docker 19.03.13 running to a rancher created cluster. It fails.

[code]

That is the raw JSON dump from 19.03.12:

[code]

gz#13534

gz#13540

[2020-11-19 16:32] al45tair opened #30149 "Azure AD sync failure after refresh token expires"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Install Rancher, point it at Azure AD

**Result:**
After a certain amount of time, the system fails to sync users/groups from Azure. You see messages like in the logs like

    [ERROR] Error refreshing token principals, skipping: azure.BearerAuthorizer#WithA

[2020-11-19 17:01] tanjunchen opened #30150 "k3s installation failed ErrImagePull....."
**What kind of request is this (question/bug/enhancement/feature request):**

installation

**Steps to reproduce (least amount of steps as possible):**

curl -sfL http://rancher-mirror.cnrancher.com/k3s/k3s-install.sh | INSTALL_K3S_MIRROR=cn sh -

kubectl get nodes
kubectl get pods -A

**Result:**
![image](https://user-images.githubusercontent.com/19339970/99697420-b007e580-2aca-11eb-8a57-cb9a621c

[2020-11-19 17:07] jiaqiluo commented on #30143
I hit the same issue on v2.5.2 single-install setup after adding a new ec2 cluster

[code]

[2020-11-19 17:08] maggieliu opened #30151 "[2.5] Support for UAE in AKS"
Forward port for https://github.com/rancher/rancher/issues/28341

[2020-11-19 17:28] izaac opened #30152 "[2.5] Nanoseconds in projectlogging"
Originally Validated in `2.4-head` #29078
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
Activate Elasticsearch at project level

**Result:**
Log timestamps contain only seconds

**Other details that may be helpful:**
In https://github.com/rancher/rancher/issues/20675 it was fixed for cluster lev

[2020-11-19 17:29] izaac commented on #29078
Opened a new issue for 2.5+ #30152

[2020-11-19 17:29] #29078 closed

[2020-11-19 17:29] izaac commented on #30152
Blocked by https://github.com/rancher/rancher/issues/30143

[2020-11-19 18:07] somaritane commented on #30042
@StrongMonkey, just checking, is there anything else I can do to help with review and apparent merge of related PR to upstream?
This would help us a lot. We are eager to evaluate Fleet coming with Rancher 2.x on our environment, but are not able to,  due to missing HTTP proxy support.
Thanks a lot.

[2020-11-19 18:10] StrongMonkey commented on #30042
@somaritane Thanks for the PRs! So far the only one left is to add proxy to fleet chart. I will review that by end of day and once it's merged you can test with rc build(or v2.5-head build). QA will also be able to verify that.

[2020-11-19 18:17] jiaqiluo commented on #29980
The bug is reproduced on v2.5.2 single install setup

The steps are the same as the issue provides, and the result is also the same.

[code]

[2020-11-19 19:14] goldsam commented on #22978
I feel like a fool. To future readers, this can easily be achieved as follows:
[code]

[2020-11-19 20:07] thedadams opened #30156 "Cluster agent allowing all taints causes issue with draining"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create an EKS cluster with a node group with 2 nodes.
2. Determine which node the cluster agent is running on.
3. Cordon that node.
4. Use kubectl to delete the cluster agent pod.

**Result:**
The pod will be rescheduled on the same, cordoned pod. This is

[2020-11-19 20:08] StrongMonkey opened #30157 "Fleet changes in 2.5.3"
Tracking fleet and rancher-operator changes in 2.5.3

**Repo**
rancher/charts, dev-v2.5-source branch

**Changes**
Adding http proxy setting to fleet https://github.com/rancher/rancher/issues/30042
Resolving harden cluster issue https://github.com/rancher/rancher/issues/29696
Adding custom ca and insecureSkipTls https://github.com/rancher/fleet/issues/150

**New image**
rancher/fleet:v0.3.2(-rc)
r

[2020-11-19 20:35] aaronRancher commented on #30074
The bug is reproduced with Rancher server `rancher\rancher:v2.4-4306-head`

An error is seen when switching between valid credentials under the data center field.
![Screen Shot 2020-11-19 at 1 31 56 PM](https://user-images.githubusercontent.com/57409052/99720948-b5821300-2a6b-11eb-9795-a68821d75246.png)

Reopening for fix.

[2020-11-19 20:35] sadiapoddar commented on #24636
Reproduced the issue with 2.5.2
steps.
Created 3-noded all rolled enabled cluster.
Powered off the node hosting cattle-cluster-agent Pod
Noticed that the cattle-cluster-agent Pod is not rescheduled once the node status shows as Unknown.
With 2.5.2 seeing one taint that it's noSchedule--> node.kubernetes.io/unreachable:NoSchedule is added to the node automatically.

Cluster never recovered by itsel

[2020-11-19 21:04] mattmattox commented on #29633
@superseb I ran into this same issue in the lab and the logs have been uploaded to the Box share.

[2020-11-19 21:37] jiaqiluo commented on #29980
The bug fix is validated on v2.5.2 with the new Monitoring chart `v9.4.202`

The steps are the same as the issue provides, and Monitoring is installed successfully and functional.
All pods are installed successfully.
[code]

[2020-11-19 21:40] sowmyav27 commented on #30089
**On 2.4-head commit id: `6a09f523f`**

[This](https://github.com/rancher/rancher/issues/30055) issue is NOT seen.
[This](https://github.com/rancher/rancher/issues/30044) issue is seen fixed.

### **Fresh Install use case - On 2.4-head - commit id: `6a09f523f`**

- Create cluster with Project Network Isolation Enabled 1 etcd/control and 2 worker nodes.
- Pods of `nginx-ingress-controller` in syste

[2020-11-19 21:40] #30089 closed

[2020-11-19 21:42] #29980 closed

[2020-11-19 22:13] Oats87 commented on #28360
We diagnosed an environment that was encountering errors like this to having the `telemetry` client running and holding "ESTABLISHED" connections against the Rancher API server.

`netstat -an` showed `50,000+` connections open between `localhost:<RandomPort>` and `localhost:443` and a `-plant` showed the `telemetry` client as the one holding the connections.

I think there may be some type of issu

[2020-11-19 22:57] eroji commented on #30023
Is this being worked on? I see that it's slated for v2.5.3 but doesn't appear to be assigned to anyone?

[2020-11-19 23:08] StrongMonkey commented on #29651
Can this be tested along with https://github.com/rancher/rancher/issues/29696? I think rancher-webhook works in hardened cluster.

[2020-11-19 23:55] jiaqiluo commented on #30063
in the monitoring chart `9.4.201`, the repo `kubernetes-charts.storage.googleapis.com` is used at the following 2 places in the [requirmetns.yaml](https://github.com/rancher/charts/blob/main/charts/rancher-monitoring/requirements.yaml)
[code]

Now in the monitoring chart `v9.4.202`, there are replaced by the following new values:
[code]
https://github.com/rancher/charts/blob/dev-v2.5/charts/ranche

[2020-11-19 23:55] #30063 closed

[2020-11-20 00:27] sadiapoddar commented on #29247
Reproduced the issue with 2.4.8
steps.

1. Created a cluster
2. Enabled istio and saved
3. Edited "Custom Answer" and
4. enter the following key: value pair

 istio_cni.enabled: true
5. Saved

<img width="1281" alt="Screen Shot 2020-11-19 at 4 00 32 PM" src="https://user-images.githubusercontent.com/72409237/99739375-7bbc0700-2a81-11eb-8887-c38e3ff1e292.png">

Refreshed the page and the custom ans

[2020-11-20 00:43] jiaqiluo commented on #29696
Wait for an RC to validate the changes in the helm chart.

Also, after validating the fix in the dev-v2.5 branch, we should forward port the fix to the master branch.

[2020-11-20 00:58] maggieliu opened #30159 "[2.5] Joining node to cluster fails on windows with docker 19.03.13"
forward port for https://github.com/rancher/rancher/issues/30148

[2020-11-20 01:04] cbron commented on #28673
@thedadams @sadiapoddar after looking into a few things, this will need to get backported to 2.4 also.

[2020-11-20 01:09] sadiapoddar commented on #28673
@cbron @thedadams once you merged the fix with 2.4.x, let me know I will verify on that branch.
Thanks,
-Sadia

[2020-11-20 01:31] sadiapoddar commented on #27962
Reproduced with 2.4.5
1. Created a CronJob "testcron"
2. set Active Deadline Seconds to 99

<img width="1616" alt="Screen Shot 2020-11-19 at 5 22 46 PM" src="https://user-images.githubusercontent.com/72409237/99744328-5254a880-2a8c-11eb-8694-970a92032962.png">
3. After create, brought the cronjob detail page the "ActiveDeadline Seconds" is not showing any value
<img width="1763" alt="Screen Shot 2

[2020-11-20 01:47] imwower opened #30163 "[UI] can not login after sometimes restart rancher"
**What kind of request is this (question/bug/enhancement/feature request):** BUG

**Steps to reproduce (least amount of steps as possible):** restart rancher or scale up or down numbers of rancher replicas

**Result:** can not login in with index page, show 404 form, see the screenshot

![微信截图_20201120094244](https://user-images.githubusercontent.com/1744486/99746973-203b5900-2b15-11eb-883f-f589d3

[2020-11-20 01:47] aiyengar2 commented on #29980
Thank you @bashofmann for contributing the fix!

[2020-11-20 02:00] rmweir commented on #29549
Resolved by https://github.com/rancher/eks-operator/pull/18, moving to test

[2020-11-20 02:09] sadiapoddar commented on #28040
Couldn't repro with the version 2.4.5
Steps used to repro
1. Created a clone of a cluster role
2. Edited the cluster role in "View API" and set the verb to null
<img width="297" alt="Screen Shot 2020-11-19 at 5 55 49 PM" src="https://user-images.githubusercontent.com/72409237/99748855-2e946100-2a92-11eb-84e8-60768bb56e1d.png">

3. Send the request, the request didn't set and it shows the value can

[2020-11-20 03:54] bostondigitalio commented on #23397
1+

[2020-11-20 05:33] lippertmarkus commented on #22978
@goldsam this only works temporarily, after some minutes, the taints are added again

[2020-11-20 05:43] CSRedRat commented on #29513
@vincent99 thank you, you answered my question!

[2020-11-20 05:43] #29513 closed

[2020-11-20 07:22] maxisam opened #30164 "Better support for Hybrid Cluster in 2.5"
**What kind of request is this (question/bug/enhancement/feature request):**

For new monitoring feature

It needs tolerations settings like

     - effect: NoSchedule
        key: "cattle.io/os"
        operator: Equal
        value: linux

Or just get rid of that NoSchedule for hybrid cluster

[2020-11-20 07:26] brodul commented on #30108
Tnx, for you time.
I will open a PR to Helm doc and point out that the `index.yaml` is cached.

[2020-11-20 07:31] ansilh commented on #30074
Thanks, @aaronRancher.
I've also noticed that, while saving the template which is created with the second vCenter credential, the POST call still takes values from the first vCenter. Could you please test it and make sure that also covered in this issue?

[2020-11-20 08:46] bashofmann commented on #29898
Do we need to merge the fix in the chart somewhere else for this as well?

[2020-11-20 08:50] spacexnasa commented on #16454
this is mine (fix)

rancher  server :     192.168.110.210   rancher.t.org

![image](https://user-images.githubusercontent.com/3109626/99779029-6e6d4e00-2b4f-11eb-831d-da0dcd1727e1.jpeg)

![image](https://user-images.githubusercontent.com/3109626/99779212-b2605300-2b4f-11eb-8e88-a6b74acd8534.jpeg)

Edit ( button)

![image](https://user-images.githubusercontent.com/3109626/99779454-09febe80-2b50-11e

[2020-11-20 09:17] WalterDurkee commented on #30031
Had a little bit poke around that and systemd is not the only library that's "missing".
[code]
After adding that to cluster manifests kubelet has proper libraries mounted and can achieve:
`I1120 09:05:46.304596   49738 mount_linux.go:168] Detected OS with systemd`

But I guess that's not ideal solution.

[2020-11-20 11:34] uluzox commented on #26132
Users are added to the list, after they logged in to Rancher for the first time. At least this is how it looks like for me.
The user you tested the AD authentification with during setup, is automatically assigned the administrator role c.f. https://rancher.com/docs/rancher/v2.x/en/admin-settings/authentication/ad/#test-authentication

[2020-11-20 12:00] uluzox commented on #27620
Although, I agree that having a

How? A PUT with all that should remain as payload had no effect.

[2020-11-20 12:04] timmy59100 commented on #29730
Since we upgraded from 2.4.6 to 2.5.2 the etcd traffic is very high and we get timeouts.
Should we downgrade again or is there a fix?
You clearly see in the graph, when we did the upgrade.

![image](https://user-images.githubusercontent.com/7300669/99798225-f09a4a00-2b30-11eb-8472-d2a12f089741.png)

[2020-11-20 12:57] Tejeev opened #30166 "Logging in through Azure Apps portal breaks Azure SSO (due to source change?)"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Requires the use of Azure SSO and My Apps

1.  Check that you can log in successfully at the Rancher URL, log out, and log back in again
2.  Logout
3.  Log in through Azure My Apps portal redirection (it fails and no attempt to login again on this tab will w

[2020-11-20 13:19] izaac commented on #30152
Rancher version: `v2.5-head (11/20/2020)` _f67129249_
Validated the timestamp is including 9 digits for nanoseconds in project logging.

[2020-11-20 13:19] #30152 closed

[2020-11-20 13:23] iosifnicolae2 commented on #29892
The `syslog` output has been developed in https://github.com/banzaicloud/logging-operator/releases/tag/3.8.0 .

[2020-11-20 13:28] izaac commented on #30143
Rancher version: `v2.5-head (11/20/2020)`  _f67129249_
Rancher version: `master-head (11/20/2020)` _2d92095ee_

I no longer see the panic in the latest builds.

[2020-11-20 13:28] #30143 closed

[2020-11-20 14:11] JRNC commented on #30054
As mentioned above, I have resolved my initial issue. I am now running into an issue with re-registering a node to a new cluster, but I will open a different issue for this.

[2020-11-20 14:11] #30054 closed

[2020-11-20 14:15] JRNC opened #30167 "Cannot Add Node to New Cluster After Removing From a Previous Cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Create a 3 node cluster with Rancher, then remove one the nodes, create a new cluster, and try to add the node that was removed from the original cluster to the new cluster.

**Result:**
The node shows up as active, but the cluster shows the following error:

[2020-11-20 14:17] JRNC commented on #30167
I would like to add that I have tried fully rebuilding this node, so this is not an issue with cleaning up the node itself.

[2020-11-20 14:34] izaac commented on #28954
Rancher version `v2.5-head (11/20/2020)` _f67129249_
Rancher version `master-head (11/20/2020)` _2d92095ee_

I no longer see the webhook errors when using the Slack notifier.

[2020-11-20 14:34] #28954 closed

[2020-11-20 14:43] izaac commented on #29037
Rancher version: `v2.5-head (11/20/2020)` _f67129249_

[code]
Instructions based on eio#211

[2020-11-20 15:09] axeal commented on #25892
Closing this as a duplicate of https://github.com/rancher/rancher/issues/29894

[2020-11-20 15:09] #25892 closed

[2020-11-20 15:59] timmy59100 opened #30168 "ETCD high traffic, RAM + timeouts after migration to 2.5.2"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Migrated Rancher docker install from 2.4.6 2.5.2.

**Result:**
ETCD generates a lot more traffic, needs more RAM and generates timeouts.

**Other details that may be helpful:**
This is an issue on both clusters on this manager.

In etcd log:

`etcdserver: re

[2020-11-20 17:00] cbron opened #30170 "[2.4 backport] k8s 1.19 removes basic auth but it's in use by kontainer-engine"
https://github.com/rancher/rancher/issues/28673

[2020-11-20 17:01] asemen2608 commented on #18471
On a customer site, ADFS Stopped working with SAML authentication after the automatic time change from summertime MESZ (UTC+2) to MEZ (UTC+1) on Sunday 25th, October 2020.

[2020-11-20 17:11] maggieliu commented on #30168
@timmy59100 Do you have Project network isolation enabled?

[2020-11-20 17:13] timmy59100 commented on #30168
@maggieliu no, project isolation is not enabled.

[2020-11-20 17:20] maggieliu commented on #30128
This is a won't fix. User shouldn't manually change the agent image to 2.5.1. If anyone did this, the workaround is manually delete the agents after upgrading to 2.5.2.

[2020-11-20 17:20] #30128 closed

[2020-11-20 17:51] mkostersitz commented on #26132
Thanks this is resolved

[2020-11-20 17:51] #26132 closed

[2020-11-20 18:44] adampl commented on #30168
What is your Linux kernel version?

[2020-11-20 18:46] superseb opened #30234 "Automate release Docker image digests using Drone plugin"
Finish and install https://github.com/rancher/drone-docker-image-digests so we don't have to manually run the shell script

[2020-11-20 18:49] sowmyav27 commented on #30148
**Reproduced the issue on 2.4.8**

- Deploy a windows cluster - VXLAN, 1 linux all roles nodes, 1 windows node (docker 190.03.13 version).
- Run agent command on windows node.
- Fails:
[code]
- Docker version on windows:
[code]

**On 2.4-head-commit id: `463d77a26`**
- Able to deploy a windows cluster with windows nodes having docker 19.03.13 version
- 1 all roles linux and 2 windows worker nodes

[2020-11-20 18:54] dnoland1 opened #30172 "git-remote-http defunct processes from cluster-register_cattle-cluster-agent"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Set up a downstream RKE cluster with controlplane/worker/etcd roles
2. May need to let environment run for a few hours or days (or longer)
3. Run `ps -aef| grep git-remote-http | grep defunct`

**Result:**
[code]

**Other details that may be helpful:**
Th

[2020-11-20 19:07] adampl commented on #30031
Have you tried this? https://rancher.com/docs/rancher/v2.x/en/cluster-admin/volumes-and-storage/glusterfs-volumes/
(note that Rancher will restart Kubelet containers to apply this change)

More info here: https://github.com/rancher/rancher/issues/19383#issuecomment-530978376

[2020-11-20 19:17] aaronRancher commented on #29898
Whoops. Did not have system-charts pointing to the correct branch.
The bug fix is verified with Rancher server `rancher\rancher:master-head` `version c845a29`
Kiali is loaded properly on refresh.

[2020-11-20 19:17] #29898 closed

[2020-11-20 19:26] StrongMonkey commented on #29162
I put a PR https://github.com/rancher/rancher/pull/30175 to make it more user friendly to print serverURL.

It will first fetch server-url setting from rancher if it is already been set. Then fallback to rke2 config file in case user already created a fixed address/domain for all the nodes. If both are not found, use externalNodeIP/internalNodeIP. Then if all of these can't detect the server URL i

[2020-11-20 19:29] sowmyav27 commented on #30148
Reopening for a fix in 2.5 and master branches

[2020-11-20 19:33] anupama2501 opened #30176 "Dashboard - Deployment creation issues when special characters given in name"
Version: v2.5.2

**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

1. In the dashboard cluster explorer - select any cluster either a sandbox or a local.
2. go to the deployments from the workloads and click on create
3. Select any namespace
4. Type in a name with special characters. eg: 'test '
5. provide

[2020-11-20 20:26] Tejeev commented on #30082
**Workaround**
Add the following Answers to the istio chart. With the added redundancy Nodes will drain.
[code]

[2020-11-20 20:48] kinarashah commented on #30135
Thanks for confirming @leodotcloud!

@maggieliu this is not a regression and this has been since the beginning of project network isolation feature. Going to move this out of 2.5.3. cc @deniseschannon

[2020-11-20 21:25] sadiapoddar commented on #29549
Verified the fix with 2.5-head, f671292,

1. created an EKS cluster, sadia-cluster1 from EKS console
2. Waited till the sadia-cluster1 is active and running
3. Created EKS hosted cluster "sadia-cluster1" and got the proper error message and cluster didn't get created

<img width="1212" alt="Screen Shot 2020-11-20 at 12 41 14 PM" src="https://user-images.githubusercontent.com/72409237/99850611-82ef

[2020-11-20 21:26] sadiapoddar commented on #29549
Reopening to fix the issues found in the master branch.

[2020-11-20 21:40] timmy59100 commented on #30168
@adampl  kernel version: 3.10.0-1127.el7.x86_64
monitoring is enabled. 2.4 version

[2020-11-20 21:51] PennyScissors opened #30179 "[OPA Gatekeeper] rancher-gatekeeper: v3.2.1"
Location: https://github.com/rancher/charts/tree/dev-v2.5/charts/rancher-gatekeeper
Repo: rancher/charts
Branch: dev-v2.5

Changes include rebasing to latest upstream version v3.2.1, and adding the ui-component annotation

[2020-11-20 22:01] lisakh commented on #25147
After dockerhub download limits being in place adding private registry to an existing cluster is very highly needed feature. We run into this problem as well.

Rancher v2.4.8, Kubernetes 1.18.12, Docker 19.03.13, Debian 10, 14 nodes, 3 masters.

[2020-11-20 22:01] jiaqiluo commented on #29773
This is enhancement is validated on
- rancher:master-head `203033a`
- rancher:v2.5-head `f671292`

Steps:
- add the following repo which charts contains the `kebeVersion` filed
[code]
- open the url  `https://server-url/v3/templateversions` in the browser

Resutls:
- `kubeVersion` is an option for filtering
<img width="345" alt="Screen Shot 2020-11-20 at 2 27 07 PM" src="https://user-images.github

[2020-11-20 22:10] maggieliu commented on #30085
@dazsco can you provide more information by fill out the issue's template? It looks like the helm operator pod has problem not specific to continuous delivery. Please provide logs if possible for the pods and rancher logs

[2020-11-20 22:11] ebauman commented on #29162
LGTM thanks for working on this

[2020-11-20 22:15] maggieliu commented on #30086
@qiang93 can you please clarify which owner role are you referring to (Cluster owner, Project Owner, custom role?).  Also can you list out the detailed steps on how the pod is created what permission the user has.

[2020-11-20 22:24] maggieliu commented on #30167
@JRNC Can you clarify the two cluster's setup (how many etcd/ctrl/worker) and the roles for each of the nodes. Can you also check the logs in the downstream agents and see if there are any errors?

[2020-11-20 22:30] maggieliu commented on #30150
@tanjunchen Can you try downloading the k3s image first before installing. Please refer to the k3s airgap docs for how to pull the image: https://rancher.com/docs/rancher/v2.x/en/installation/other-installation-methods/air-gap/launch-kubernetes/

[2020-11-20 22:35] maggieliu commented on #30149
@sowmyav27 Can you try to see if this issue can be reproduced?

[2020-11-20 22:36] prachidamle commented on #30149
Do you see this happen when the background sync for users/groups fails Or do you see this when trying a particular action with users/groups on Rancher UI?

[2020-11-20 22:45] kenhglee commented on #30115
Thank you @superseb! I have migrated everything to v2.5.2 and there is no more cluster agent issue.

[2020-11-20 22:45] #30115 closed

[2020-11-20 23:21] maxisam opened #30181 "endpointCA doesn't work for backup"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

[code]

**Result:**

![image](https://user-images.githubusercontent.com/456807/99859116-b3e04a00-2b54-11eb-822e-93478a34b855.png)
**Environment information**
- Rancher version  2.5.2
- Installation option HA

[2020-11-21 00:12] cbron opened #30183 "[2.5 - new chart] global dns / rancher-external-dns 0.1.2"
System-charts

Changes:
* https://github.com/rancher/rancher/issues/28391

[2020-11-21 00:16] cbron opened #30184 "Add options to Global DNS"
Backend issue: https://github.com/rancher/rancher/issues/28391

We are adding an additional options sections to the 3 global DNS providers. The backend PR adds the option from the API, this issue just needs to add the "options" section to the bottom of those providers.

[2020-11-21 00:31] cbron commented on #30184
@westlywright this needs to go into 2.5 and 2.4, you want an issue for 2.4 also ?

[2020-11-21 00:32] cbron opened #30185 "[2.4] Global DNS options"
Backport of https://github.com/rancher/rancher/issues/28391

[2020-11-21 00:41] cbron opened #30186 "[2.4 - new chart] global dns / rancher-external-dns 0.1.2"
System-charts

Changes:

rancher/rancher#28391

[2020-11-21 00:47] mrajashree commented on #29649
Available to test with https://github.com/mrajashree/charts/tree/cis16
Create new clusterRepo with repo https://github.com/mrajashree/charts and branch cis16, it has the new tags for security-scan and cis-operator images

[2020-11-21 01:57] anupama2501 opened #30187 "UI: Enhancement to display errors if the workload fails while editing"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
create a cluster in rancher UI and go to the workloads.
create a workload with a port added - name can be empty as its automatically created once saved.
Now edit the workload and change the port name.
I gave uppercase letters and it let me save the w

[2020-11-21 05:53] andreobrown commented on #29451
I'm seeing the same issue: I am unable to Import and Amazon EKS cluster.

Rancher Version: 2.5.2

![Screen Shot 2020-11-21 at 00 46 27](https://user-images.githubusercontent.com/1885207/99868748-49023380-2b93-11eb-8f1d-08eb6aea87b5.png)

`kubectl version

Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitT

[2020-11-21 07:49] syndr commented on #28840
@Oats87 -- forgive me for not being that familiar with Calico yet, but can you point me in the direction of info regarding Calico 3.16x. and that being expected behaviour?

Have firewalls turned off on all my nodes because of this, and it makes me kinda uncomfortable. Would like more info on what works in the security sense.

[2020-11-21 09:01] al45tair commented on #30149
It can be triggered from the UI by asking for a refresh of group membership on an affected user. I'm not certain how users get into that state, mind.

I wonder if it can only happen if someone signs in (thus creating the secret with their tokens in it), then doesn't use Rancher for 90 (or maybe 180) days? It's only happening for a small subset of the users in our system, as far as I can tell, and

[2020-11-21 09:04] al45tair commented on #30149
Originally I was suspicious of line 509 of `azure_provider.go`, where it does

    token.ProviderInfo["access_token"] = stringNew

but looking at the MS ADAL library I think `stringNew` actually contains the full, updated, `adal.Token`, marshalled as JSON, rather than just the access token as that line of code seems to suggest.

[2020-11-21 15:08] dazsco commented on #30085
rancher logs:
`
2020/11/21 14:54:05 [ERROR] Failed to install system chart fleet: pod cattle-system/helm-operation-zsbx2 failed, watch closed
I1121 14:54:05.712775      30 topology_manager.go:233] [topologymanager] Topology Admit Handler
I1121 14:54:05.733601      30 reconciler.go:224] operationExecutor.VerifyControllerAttachedVolume started for volume "pod-impersonation-helm-op-8b6mh-token-l4kjw"

[2020-11-21 15:12] dazsco commented on #30085
@maggieliu I think it is because the docker hub proxy is not enabled and the request for the official docker image timed out. Can I set up the docker hub in rancher?

[2020-11-21 18:45] dnoland1 opened #30188 "Enabling monitoring on new cluster gives intermittent 500 errors and object has been modified error"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create Rancher HA setup
2. Create API keys and plug into script below
3. Run the following script (delete cluster and re-run until you hit the problem.
[code]

**Result:**
Sometimes this works, get 204 return code. But sometimes get:
[code]
And error in R

[2020-11-21 19:44] adampl commented on #30168
Then maybe your containers are being throttled? The new monitoring app has a CPU throttling chart and alerts that made me aware of this fact (but in general it's still buggy so I've returned to the old monitoring).

See this article: https://medium.com/omio-engineering/cpu-limits-and-aggressive-throttling-in-kubernetes-c5b20bd8a718

Also check: https://github.com/kubernetes/kubernetes/issues/67577

[2020-11-21 20:15] timmy59100 commented on #30168
@adamcarlile a few containers have throttling values above 0.
But I don't think that has anything to do with ETCD as it's not running on the cluster itself.

[2020-11-21 21:22] skbki commented on #30172
I am too experiencing this issue on selfhosted centos 8 with docker 19.03.12

[2020-11-21 23:34] sowmyav27 commented on #30045
### **Fresh Install use case - On `2.5.3-rc1`**

- Create cluster with Project Network Isolation Enabled 1 etcd/control and 2 worker nodes.
- Pods of `nginx-ingress-controller` in system project do not have podName labels.
- In Debug mode, redeploy `nginx-ingress-controller` and confirm the pods don't get updated without cause. `podHandler: addLabelIfHostPortsPresent: deleting podNameFieldLabel` i

[2020-11-22 00:28] adampl commented on #30168
Sure, that was just my guess. Also the fact that it happened after upgrade indicates another cause.

Have you tried downgrading back to 2.4.6?

PS: you've mentioned some other Adam, not me ;)

[2020-11-22 11:22] cite commented on #29879
We get this with Rancher 2.5.2 on a Rancher launched Kubernetes 1.18.10 cluster with logging chart version 3.6.001, too. While the error message itself wouldn't worry me too much, we seem to have a really low throughput for logs - which is to be expected if `fluent-bit` has to wait for reconnections constantly.

As a bandaid, I tried scaling up the `rancher-logging-fluentd` `StatefulSet` to 2, but

[2020-11-22 11:24] cite commented on #30182
Is your environment using a HTTP proxy? If so, did you follow the upgrade procedure and add exceptions for cluster-internal services?

[2020-11-22 13:15] #28769 closed

[2020-11-22 13:44] lindhe commented on #30054
Oooh. I see 95% disk usage on my system drive. Perhaps this can be resolved via Black Friday...

[2020-11-22 14:22] JRNC commented on #30167
Original cluster had three nodes with all roles on them, the new cluster I tried with one node with all roles and two nodes with all roles. The issue appears to be unrelated to this however.

FYI for anyone receiving this error... for me at least (running RHEL 7 on nodes), the issue was with lowest priority iptables rules that were set to reject input and forward traffic after the higher priority

[2020-11-22 17:20] lindhe commented on #26880
@trexmaster The link seems broken. Do you have another reference to what needed to be configured?

[2020-11-22 17:24] lindhe commented on #24716
@OrionsCore2 I'm battling the same problem. Did you find a solution?

[2020-11-22 19:05] tyzbit commented on #30182
I have a reverse proxy in front of Rancher, yes.  I was unable to find the exceptions you mentioned for cluster-internal services, can you point me to the docs?

For reference, here's my nginx config:

<details><summary>Click to expand</summary><pre>
server {
        listen 8443;
        server_name rancher.example.com;
        access_log /var/log/nginx/access.log extended;
        ssl on;
    ssl

[2020-11-22 20:24] jgallucci32 commented on #26668
This seems like a significant issue which should be posted as a warning in the AD FS documentation for Rancher. This means in large organizations which rely on the rolling of certificates for smooth transitions, Rancher will only be available 11 out of 12 months a year given it usually takes a month to roll them.

[2020-11-22 23:00] ryanelliottsmith opened #30190 "helm upgrade with --reuse-values fails to template pvc.yaml"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Install Rancher from a helm chart from before custom Logos were added:
`helm install rancher rancher-stable/rancher --namespace cattle-system --set hostname=test.example.com --set ingress.tls.source=secret --version 2.4.8 --set replicas=1`
1. Attempt to u

[2020-11-23 01:40] sowmyav27 commented on #27962
@sadiapoddar Could you check this in the Amber UI ? And could you note the value sent in the API request while creating a workload ?

[2020-11-23 04:12] maxisam commented on #22195
I can't even change it in the UI. How do you change it?

[2020-11-23 05:25] qiang93 commented on #30086
authorized user using (Project Owner) role

[2020-11-23 05:34] mrajashree commented on #30181
@maxisam the endpointCA cert should be base64 encoded https://rancher.com/docs/rancher/v2.x/en/backups/v2.5/configuration/backup-config/#s3

[2020-11-23 07:27] NullIsNot0 commented on #22834
I have the same error every time I create new project.

Rancher management deployment: HA, with K3s
Cluster: Rancher freshly deployed RKE cluster, v2.5.2

[2020-11-23 08:13] GameScripting commented on #21346
We are seeing this issue, too.

One Problem that we found was that our eviction-rules regarding nodefs where too tight. This let to kubelet trying to cleanup docker images. As all docker images on the node were used by containers, there was no docker images that could be collected. This resulted in an endless loop with calls to the docker api (trying to clean up images). After increasing the `hous

[2020-11-23 08:56] hadifarnoud commented on #19145
changing node exporter memory limits did not fix my issue. I changed it to 400Mi

[2020-11-23 09:52] chuegel opened #30191 "Prometheus fails with cluster_domain other then cluster.local: proxyconnect tcp: dial tcp: lookup pushprox-kube-controller-manager-proxy.cattle-monitoring-system.svc.cluster.local no such host"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
 - Upgraded from rancher 2.4.8
 - disabled monitoring in Cluster Manager
  - deployed Monitoring via Cluster Explorer

All pods are running fine:

![image](https://user-images.githubusercontent.com/6955465/99943271-52e18d80-2d71-11eb-94ab-270147f910ff.png)

[2020-11-23 10:25] cite commented on #30182
https://github.com/rancher/docs/issues/2725#issuecomment-702454584

[2020-11-23 10:28] chuegel commented on #30191
Ok I found the issue. The cluster domain is hard coded (proxyUrl)  in following yaml files:

[code]

[2020-11-23 12:24] asemen2608 opened #30192 "FRE Add project global variables "Project Value" to be inherit to all namespaces of project"
**What kind of request is this (question/bug/enhancement/feature request):**
feature-request

**Steps to reproduce (least amount of steps as possible):**
Would you like to have there an additional field on the project level like "Project Values".

Example:
Add a field named (finid) and the value (121).
A label called finid with a value of 121 would be present in each namespace in the project.
(Ide

[2020-11-23 12:40] timmy59100 commented on #30168
After downgrade to 2.4.6 all metrics are normal again...

![image](https://user-images.githubusercontent.com/7300669/99962890-39e8d480-2d91-11eb-9a95-9981d3ada4cb.png)

[2020-11-23 12:52] sowmyav27 commented on #30044
### **Fresh Install use case - On `2.5.3-rc1`**

- Create cluster with Project Network Isolation Enabled 1 etcd/control and 2 worker nodes.
- Pods of `nginx-ingress-controller` in system project do not have podName labels.
- In Debug mode, redeploy `nginx-ingress-controller` and confirm the pods don't get updated without cause. `podHandler: addLabelIfHostPortsPresent: deleting podNameFieldLabel` i

[2020-11-23 14:41] Mapel88 commented on #24909
+1
I would also like to see this feature in rancher.

[2020-11-23 15:09] rickenos opened #30193 "Rancher 2.5 import of existing EKS cluster is stuck pending"
When registering an EKS cluster, cluster stays in Pending state and never completes.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.5.0` UI: `v2.5.0` |
|Route|`undefined`|

[2020-11-23 15:57] maxisam commented on #30181
Yeah, I realized that one too. But it still doesn't work. Here is the new error I got.

"failed to check s3 bucket:k8sdevbackup, err:The request signature we calculated does not match the signature you provided. Check your key and signing method."

It is odd, when I use it for longhorn, I didn't have so many troubles.

[2020-11-23 15:58] westlywright commented on #30184
@cbron no but can you target the correct 2.4 milestone? If its targeted at a 2.4.x release the fix goes into >=2.4.x.

[2020-11-23 16:00] ghost opened #30194 "Rancher + Minikube on Ubuntu 18.04.3 LTS"
Hi guys,

Hope you are all well !

I cannot deploy the latest rancher version on minikube (v1.15.1) on Ubuntu 18.04.3 LTS.

[code]

On another instance:
[code]

On the main instance:
[code]

**Result:**
[code]

**Tested**
[code]

[code]

[code]

Is there something wrong in my setup ? Ho can I sort it out ?

Cheers,
Luc

[2020-11-23 16:09] benzman81 opened #30195 "Node local-node has disk pressure"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
none

**Result:**
Currently I get the alert "Node local-node has disk pressure" on the local cluster. Since this is some virtual node rancher creates I have no clue where to look and how to free space. Any help appreciated. THX.

**Other details that ma

[2020-11-23 16:11] benzman81 commented on #30195
somehow healed itself after an hour. Anyway, how can this be solved in the future?

[2020-11-23 16:17] nickgerace commented on #28566
This workaround will be no longer necessary after #29892 is complete.

[2020-11-23 16:17] mecseid opened #30196 "Apps & Marketplace install unset all helm values"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

1. Add https://charts.reactiveops.com/stable as a HTTP Helm Chart from new Dasboard -> Apps & Marketplace.
2. From charts, choose Polaris
3. Delete everything from Values YAML
4. Install

_Comment_: It "works" with any chart, but I tried it with polaris, be

[2020-11-23 16:39] nickgerace commented on #30139
Confirmed with @paynejacob that the version is 3.8.001.

[2020-11-23 16:45] maggieliu opened #30197 "[2.4] Add options to Global DNS"
Backport UI for https://github.com/rancher/rancher/issues/30184

[2020-11-23 17:15] superseb commented on #29841
@sowmyav27 @aaronRancher Can we get the exact AMI and instance types used for this?

[2020-11-23 17:17] maggieliu opened #30198 "[2.5] Joining node to cluster fails on windows with docker 19.03.13"
Forward port for https://github.com/rancher/rancher/issues/30148

[2020-11-23 17:17] maggieliu commented on #30148
created forward port issue: https://github.com/rancher/rancher/issues/30198

[2020-11-23 17:17] maggieliu commented on #30198
duplicated

[2020-11-23 17:17] #30198 closed

[2020-11-23 17:18] maggieliu commented on #30148
There is a 2.5 forward port issue already. We can close this after test in 2.4.11: https://github.com/rancher/rancher/issues/30159

[2020-11-23 17:20] izaac commented on #30194
@lucmichalski I tried this with the latest rancher too.

I do not see this error:
[code]

Could you also add container runtime used. Runtime version.
I was using Docker 19.03.13  with these pre-requirements https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2020-11-23 17:36] superseb commented on #29564
Let me know if this still needs investigating

[2020-11-23 17:36] #29564 closed

[2020-11-23 17:36] superseb commented on #29841
Can we also confirm this was applied? https://github.com/rancher/rke/issues/1744#issuecomment-597362929

[2020-11-23 17:39] superseb commented on #26444
This is done in https://github.com/rancher/machine/pull/81

[2020-11-23 17:39] #26444 closed

[2020-11-23 18:02] al45tair opened #30200 "Distinguish between the three kinds of group in Azure AD"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
1. Hook Rancher up to Azure AD.

2. In Azure/Office 365, configure

    * an Office 365 Group (from admin.microsoft.com),
    * a Distribution Group (from admin.microsoft.com),
    * a Security Group (from portal.azure.com),

    all with the same na

[2020-11-23 18:26] sowmyav27 commented on #29841
Post offline discussion with @superseb Will validate this usecase after applying this [cluster.yml](https://github.com/rancher/rke/issues/1744#issuecomment-597362929)

[2020-11-23 18:45] jiaqiluo commented on #30149
I am trying to reproduce this bug on rancher:`v2.5.2` but have not seen it happen.

Steps:
- install rancher `v2.5.2` single-install
- enable Azure AD
- log in as different users (so Rancher creates `users` object internally)
- as admin, click `refresh group membership`

Just as @al45tair  mentioned, the bug does not happen right away, it may happen only when the user's token is expired and a rene

[2020-11-23 18:48] sadiapoddar commented on #28040
I tried to repro this doing the following steps
1. select global
2. create role
3. clone "create cluster" role
4. edit using API view
5. send the request and seeing https 422, meaning error in request format.

[2020-11-23 18:54] sowmyav27 commented on #30148
Closing this as we have a separate forward port issue.

[2020-11-23 18:54] #30148 closed

[2020-11-23 19:11] maggieliu commented on #24204
Closing this in favor of https://github.com/rancher/rancher/issues/29429.

[2020-11-23 19:11] #24204 closed

[2020-11-23 19:13] al45tair commented on #30149
I wonder whether this is going to get fixed by itself when you eventually move to using MSAL (#29306).

[2020-11-23 19:24] kaosmonk commented on #23341
This does not seem to work anymore with the latest? I have a cluster built with rke2 but server wont start anymore if it has the above mentioned snippets in its config file.
Is there anything else I could try?
For the ref rancher server has been installed with `rancher-latest/rancher` helm chart.

[2020-11-23 19:43] izaac commented on #29191
@abhi1693 I can't reproduce in `v2.4.10` I have a couple of questions.

You've mentioned that the local HA cluster has only Internal IPs? Or those nodes have both internal and external IPs ?
The downstream cluster has only External IPs.

I've set the annotation as you mentioned in the local HA cluster ingress. `external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"`
I tried deploying a Multi

[2020-11-23 19:43] sowmyav27 commented on #30055
This issue happens on `2.5.3-rc1`

[2020-11-23 19:56] aiyengar2 commented on #30188
@dnoland1 Is there a particular reason why you enable cluster monitoring as a separate action rather than enabling it as part of the cluster spec itself?

Instead of trying to trigger an action immediately on a cluster that just got created (I suspect that's why the errors are intermittent), the best practice would be to pass in [the relevant field(s)](https://github.com/rancher/rancher/blob/198ec

[2020-11-23 19:57] ebauman commented on #30188
This may be a terraform bug, but the user is using our Terraform tools as documented. they do the following:

[code]

And by executing `tf apply`, this behavior is sometimes encountered.

[2020-11-23 19:57] mamiapatrick opened #30202 "RKE cluster down with etcd server panic because snapshot is missing"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
Power failure of rancher node (RancherOS)

**Result:**
By inspecting the log I got an error
[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in th

[2020-11-23 20:06] dnoland1 commented on #30188
@aiyengar2 I'm simulating the behavior of the rancher2 terraform provider. @rawmind0 is it by design for the tf rancher2 provider to make two APIs to create cluster and enable monitoring even when the `enable_cluster_monitoring` is defined in the rancher2_cluster resource?

[2020-11-23 20:12] aiyengar2 commented on #30188
I see, you're referring to:

https://github.com/rancher/terraform-provider-rancher2/blob/34a9e52634ed75ed1769c07d8bceda550f076148/rancher2/resource_rancher2_cluster.go#L124-L173

If this is by design, maybe [the delay](https://github.com/rancher/terraform-provider-rancher2/blob/34a9e52634ed75ed1769c07d8bceda550f076148/rancher2/resource_rancher2_cluster.go#L147) needs to be increased?

Maybe this w

[2020-11-23 20:14] abhi1693 commented on #29191
@izaac My local HA cluster only has private IPs. It is behind an L4 NGINX proxy. My downstream clusters only have Public IPs. Here is my exact scenario for you to replicate:

1. I have 8 downstream hardened clusters. The hardening guide used was taken from your docs as a reference.
2. My local HA cluster is hardened too
3. There are no apps on my local cluster except monitoring and logging that co

[2020-11-23 20:41] dramich commented on #29429
To test, create a rancher setup, enable monitoring and add clusters to it. I used 15 but the more you have the fast you can see the leak. Then, delete both agent deployments/daemonsets from the downstream clusters. This will cause rancher to try and reconnect to the clusters in a loop. If done properly the logs should show `Stopping cluster agent for <ID>` every two minutes which is expected and h

[2020-11-23 20:50] sadiapoddar commented on #27962
Tested on 2.4.5 Amber UI.
Looks like amber UI working as expected, it saves active deadline time in job config.
The screenshot is what Amber UI sent as payload during creating a cronjob with active deadline time in the configuration.
<img width="819" alt="Screen Shot 2020-11-23 at 12 17 32 PM" src="https://user-images.githubusercontent.com/72409237/100013428-aa8bf300-2d89-11eb-9f43-0ad73e440133.pn

[2020-11-23 21:22] Nefelim4ag opened #30206 "EC2 Machine: Deleting machines in "creating" state does not remove the VMs"
Bug

**Steps to reproduce (least amount of steps as possible):**
Scale cluster up
Scale down while "Waiting for SSH to be available..."

(i tried 3 times, and 3 times hit the bug)

**Result:**
Rancher remove node from UI, but forgot delete it from AWS.

**Environment information**
- Rancher version 2.5.2
- HA

**Cluster information**
- Amazon EC2
- t3a.medium
- Kubernetes version: 1.19.4

[2020-11-23 21:34] dnoland1 commented on #30188
I just tried on the Rancher UI and get an error. Created new cluster, then immediately went to Tools -> Monitoring and got:
![image](https://user-images.githubusercontent.com/468462/100017854-62bc9a00-2d90-11eb-86af-90f2dff15234.png)

[2020-11-23 21:53] laloyalo commented on #27736
Hello, rancher team. This issue should not be closed, this generally happens with clusters running hundreds of apps, this won't happen in a recently deployed cluster as stated in the verification steps. The timeout for 30s is not large enough for such situations. Could you issue a recommendation on how to change such timeout?
In general, the stated solutions about upgrading Kubernetes work because

[2020-11-23 23:00] rawmind0 commented on #30188
@ebauman is any user/customer having this issues??  Is there any issue opened at tfp?? Could you please provide an error log??

@dnoland1 , what is the reason to simulate the behaviour of the tfp?? Is the issue happening just with tfp or is it a rancher API issue??

The reason to make 2 API calls instead of one is the chance to use custom monitoring config, you can't just using `"enableClusterMoni

[2020-11-23 23:04] sadiapoddar commented on #29104
reproduced with 2.5.2
steps.
1. Created a hosted EKS cluster as an admin
2. user1 was assigned the "cluster owner" role
3. logged in as use1 and created the new cloud credential
4. Edited cluster using the new credential
5. When saved, notice the error message on UI
<img width="1338" alt="Screen Shot 2020-11-23 at 3 00 47 PM" src="https://user-images.githubusercontent.com/72409237/100025186-1fb4f3

[2020-11-24 00:02] aiyengar2 commented on #30188
So w.r.t. the API issue, the [current ActionHandler for Clusters](https://github.com/rancher/rancher/blob/b45ddae99be66fa45cd960735eae443be4064bae/pkg/api/norman/customization/cluster/actionhandler.go#L82) does not do any retry logic if it receives an object conflict error, so the object conflict error is returned directly to the user and the user is expected to retry.

We can mitigate this by int

[2020-11-24 00:05] maxisam commented on #30181
Ok just fixed it. I think it was something wrong with the nginx setting. However, I can't tell what was the issue. I switch to bitnami minio chart instead of the docker file from minio.

[2020-11-24 00:35] sadiapoddar commented on #30111
repro with the latest 2.5.-head,  commit 145984
1. select add cluster as the custom cluster
2. select the network type as "Flannel" and enable window support
3. go to the registration page for the exact command and select os as window
There are two issues.
1. For the window the node roles "etcd" and "control plane" were selectable and should be grayed out in case of win os.
2. The command it gener

[2020-11-24 01:03] sadiapoddar commented on #28943
2.5.2 rancher logs seeing these warnings
W1117 11:24:57.845187       7 warnings.go:67] v1 ComponentStatus is deprecated in v1.19+
W1117 11:25:12.846285       7 warnings.go:67] v1 ComponentStatus is deprecated in v1.19+
W1117 11:25:27.844398       7 warnings.go:67] v1 ComponentStatus is deprecated in v1.19+
W1117 11:25:42.859348       7 warnings.go:67] v1 ComponentStatus is deprecated in v1.19+
W11

[2020-11-24 01:08] tyzbit commented on #30182
I do not have an HTTP proxy in my environment, but I do have a reverse proxy in front of Rancher.  Does that still somehow apply?

[2020-11-24 01:17] rawmind0 commented on #30188
@aiyengar2 , the main reason for doing in that way is the chance to use custom monitoring config values, like enable persistence, adjust resources limits or requests, etc.. [ActionEnableMonitoring](https://github.com/rancher/rancher/blob/master/pkg/client/generated/management/v3/zz_generated_cluster.go#L164) function is used providing [MonitoringInput](https://github.com/rancher/rancher/blob/maste

[2020-11-24 02:00] donnydavis commented on #23077
This answer will help some like myself who don't want to always be buried in the command line. In my case, I used RKE to bring the cluster up, but I wanted the rancher dashboard for other things.
When a cluster is imported, rancher cannot do much with it. However you can make it editable by adding in your RKE config to the imported cluster.

1. Start by heading over to the Rancher UI API ex: https

[2020-11-24 02:09] hunghoang commented on #30182
Same issue here:
_HTTP Error 500:
from /k8s/clusters/c-vqfqg/v1/schemas_
When I upgrade rancher from 2.4.5 to 2.5.2.
Is this known issue? Please help

[2020-11-24 02:55] kinarashah commented on #30055
Note: This is not a regression, this behavior is also seen in earlier versions. Also, doesn't seem to happen all the time. Moving out of 2.5.3.

[2020-11-24 02:58] kinarashah opened #30208 "Forward port for ingress controller label issues"
Forward port fix in both 2.5 and master for the following issues:
https://github.com/rancher/rancher/issues/30045
https://github.com/rancher/rancher/issues/30044

[2020-11-24 03:40] izaac commented on #30013
rancherd `v2.5.2`
Downstream clusters:
- RKE DO `v1.18.12` - 1 cp, 1 etcd, 3 workers
- GKE `v1.17.13-gke.2600` - 3 workers
- Custom `v1.18.12` - 1 cp, 1 etcd, 3 workers

Local HA cluster provisioned with rancherd on Ubuntu 20.04. 3 master nodes `t3a.medium`
Upgraded to `v2.5.3-rc1`.
Executed pre-upgrade and post-upgrade tests. Passed.

[2020-11-24 03:41] cbron commented on #30183
Put this in test, but there could be more changes down the road to this same chart before release.

[2020-11-24 03:52] cbron commented on #30184
Backend changes merged in master/2.5/2.4 branches.

[2020-11-24 04:13] cbron commented on #28391
Ready to test in 2.5/master.

[2020-11-24 04:46] izaac commented on #30013
rancherd `v2.5.2`
Downstream clusters:
- RKE DO `v1.19.4` - 1 cp, 1 etcd, 3 workers

Local HA cluster provisioned with rancherd on Ubuntu 20.04. 3 master nodes **and 1 worker** `t3a.medium`
Upgraded to `v2.5.3-rc1`.
Executed pre-upgrade and post-upgrade tests. Passed.

[2020-11-24 04:48] #30013 closed

[2020-11-24 05:06] xiaoluhong commented on #28858
The test passed on v2.4.8

[2020-11-24 05:06] #28858 closed

[2020-11-24 05:29] lucmichalski commented on #30194
Hi @izaac ,

Thanks for your reply ! Greatly appreciated !

Here are the docker version specs:
[code]

I have installed crio successfully also all the components descibed here:
- https://kubernetes.io/docs/setup/production-environment/container-runtimes/

Here is my docker daemon.json
[code]

I tried also

[code]

How can I debug that deployment ?

Cheers,
Luc

[2020-11-24 06:31] maxisam opened #30210 "rancher-monitoring/Prometheus doesn't work with csi-driver-smb"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug?

**Steps to reproduce (least amount of steps as possible):**

install https://github.com/kubernetes-csi/csi-driver-smb

install monitoring

**Result:**

It can create files and folder in smb but somehow it can't find certain file

opening storage failed: block dir: \"/prometheus/01EQVHJVXWZCGK5NAC4R9EE5MS\": open /p

[2020-11-24 06:41] lucmichalski commented on #30194
Hi @izaac ,

I managed to get the following running:

[code]

But no way to access to https://rancher.naxly.io.

Is there anything I am missing in my setup ?

Thanks for any insights or inputs on that.

Cheers,
Luc Michalski

[2020-11-24 07:23] asemen2608 opened #30211 "CIS scan downstream cluster with project network isolation activated fails at 5.3.2 Hardended:"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

On CIS scan, on a downstream cluster with project network isolation activated, the scan fails at 5.3.2:

**Result:**

Scan fails at 5.3.2:
With error message “Ensure that all Namespaces have Network Policies defined (Scored)”

**Other details that may be he

[2020-11-24 07:54] uluzox commented on #30172
I am also experiencing this issue on self-hosted air-gapped installation on ubuntu with two master and one worker node.

[code]

[code]
[code]

[2020-11-24 08:09] zzbmmbzz opened #30212 "Could not deploy/upgrade Apps with `helm` catalog"
I could not deploy/upgrade app with `helm` catalog. I still keep loading and my site change from secure to isn't fully secure
![image](https://user-images.githubusercontent.com/41033532/100065318-383d1080-2e66-11eb-8faa-4d455edd934e.png)

`helm` catalog
![image](https://user-images.githubusercontent.com/41033532/100065579-86eaaa80-2e66-11eb-814c-48fdb257192e.png)

`my site`
![image](https://user-i

[2020-11-24 08:32] zzbmmbzz commented on #30212
url of helm catalog
https://kubernetes-charts.storage.googleapis.com/

[2020-11-24 09:48] vprocopan commented on #22189
same here!
![image](https://user-images.githubusercontent.com/6999055/100077383-f6eb3780-2e4a-11eb-8a1b-44af1ebf3587.png)

[2020-11-24 10:01] superseb commented on #30195
This is running inside the container, so its either the filesystem where Docker root is, or where you have mounted `/var/lib/rancher` from the container on the host. This should also be seen in the container log.

[2020-11-24 10:11] benzman81 commented on #30195
So it is the filesystem that has no diskspace where I started the container ` rancher/rancher`?

[2020-11-24 10:15] superseb commented on #30195
You should be able to spot it on the host by running `df -h` but you can also `docker exec` into the `rancher/rancher` container and run `df -h`.

[2020-11-24 10:17] sadhugit commented on #29529
The above-mentioned problem exists in v2.4.x & upgraded setups( v2.4.x to v2.5.2) But  **On a fresh install of v2.5.1 or v2.5.2, they cannot reproduce** the issue because it's sending the right parameter ("restartPolicy":"Never").

 The main culprit is "restartPolicy": "Always" parameter is passed while performing the suspend cron job operation, and the expected value is "restart policy: Never." D

[2020-11-24 10:35] benzman81 commented on #30195
Thanks, so I have to look on the machine where container `rancher/rancher` was started. That is the hint I needed. Maybe this should be documented somewhere as I couldnt find any information about the local cluster and node.

[2020-11-24 10:37] ray2211 opened #30213 "Error: Kubernetes cluster unreachable with helm 3.0"
I  follow https://docs.rancher.cn/docs/rancher2/installation/k8s-install/helm-rancher/_index/ to install rancher on my k8s
but i stock at install cert-manager
when i type

helm install \
 cert-manager jetstack/cert-manager \
 --namespace cert-manager \
 --version v0.15.0

then show error: kubernetes cluster unreachable

I had try to search existing issues, but i still can't resolve this

[2020-11-24 14:42] oassuncao opened #30214 "Rancher Import Problem"
I'm using Rancher 2.5.1 and I'm importing my AKS and GKE clusters.

The cluster was imported but after a few seconds I receive the error bellow

--

![image](https://user-images.githubusercontent.com/3209775/100108869-0a49d300-2e4a-11eb-9507-36a3c6db0b42.png)

I looked at service accounts existents on my cluster, but I didn't find any with the name **rancher**

[2020-11-24 15:10] GGGitBoy commented on #27550
I tried to reproduce these steps and found this error.
If your case is the same as mine. Then the following may be helpful to you.

![______2020-11-24______7 06 33的副本](https://user-images.githubusercontent.com/51182588/100110807-5af01900-2ea8-11eb-87e8-c75dac34f0f7.png)

View the kubelet process of the aks node is the default port 10250, but this is different from the port we scraped

<img width="

[2020-11-24 16:03] oassuncao commented on #30214
I resolved this problem by creating a ClusterRoleBinding to cluster-admin and system:discovery

[2020-11-24 16:03] #30214 closed

[2020-11-24 17:18] sowmyav27 commented on #30045
Closing this as its been validated on 2.5.3 and 2.4 branches.

[2020-11-24 17:18] #30045 closed

[2020-11-24 17:19] sowmyav27 commented on #30044
Closing this as its been validated on 2.5.3 and 2.4 branches.

[2020-11-24 17:19] #30044 closed

[2020-11-24 17:32] StrongMonkey commented on #28947
Backend change is merged and ready to test. When provisioning a window cluster, click ViewAPI and cluster.status.provider should be rke.windows.

[2020-11-24 17:34] StrongMonkey commented on #30046
@westlywright Backend change is merged in 2.5-head and master.

[2020-11-24 17:41] stefannica opened #30217 "v2.5.2 Rancher doesn't generate .xip hostnames for the TLS Ingress config"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

 * Deploy a helm chart that uses a combination of Ingress and TLS secret (e.g. Harbor)
 * Select to _Automatically generate a .xip.io hostname_ for the ingress rules
 * Enable TLS for the Ingress
 * Launch

**Result:**

The Ingress route rules are properly

[2020-11-24 17:47] stefannica commented on #30217
On the other hand, if the `.xip` hostnames are generated after the helm installation, the feature is useless with auto-generated certificates, because the certificates won't reflect the generated hostnames.

[2020-11-24 18:45] maggieliu commented on #30211
@sowmyav27 Can we check and see if this can be reproduced in 2.4?

[2020-11-24 18:47] kinarashah commented on #30211
We don't create network policies for namespaces in system project, so need to exclude those namespaces here https://github.com/rancher/security-scan/blob/master/package/helper_scripts/check_for_network_policies.sh#L11

[2020-11-24 18:57] jiaqiluo commented on #28768
I hit the same bug on v2.4.8 single-install on the cluster using ec2 instances with RancherOS v1.5.6 and Docker 19.03

![screencapture-jiaqi248-qa-rancher-space-c-c-6rddp-nodes-2020-11-24-11_26_35](https://user-images.githubusercontent.com/6218999/100138971-01f29780-2e4c-11eb-9b68-581d4705899c.png)

[2020-11-24 19:09] maxisam commented on #30210
More information:

I think it was working in 0.1.2
But somehow it doesn't work in 0.1.4 and V2

[2020-11-24 19:48] sowmyav27 opened #30220 "Panic seen in Rancher server"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
**On a HA rke setup - 2.4.10**

- Deployed these clusters -
- AWS (Rancher OS - ROS) - v1.17.14 - PNI Enabled
- DO - v1.15.12
- sowmya-eks-2410 - 1.17
- test-88718 - 1.18.12 -  PNI Enabled
- windows - 1.16.15
- Did the pre upgrade checks using automation
- U