[2018-03-14 09:42] marufbd commented on #12103
Thanks a lot @zionwu
It seems then digital ocean CoreOS container distribution none of them have any suported docker version.
https://coreos.com/releases/

I ended up using Rancher OS for the custom node and using the script:
`wget https://releases.rancher.com/install-docker/17.03.2.sh -O - | sh`
to make the docker version supported.

And it's working great!

[2018-03-14 09:42] #12103 closed

[2018-03-14 09:49] tfiduccia commented on #11376
Version - v1.6.15-rc6
Verified fixed

[2018-03-14 09:49] #11376 closed

[2018-03-14 10:09] tfiduccia commented on #9911
Version - v1.6.15-rc6
Verified fixed

[2018-03-14 10:09] #9911 closed

[2018-03-14 10:15] furkilic opened #12105 "[Feature Request] Add the ability to prepend Custom Registry on agents"
Whenever you add a host on Rancher, add the ability to specify a custom registry which will be prepend to every image pulled from the agent.

Exemple :
My registry is myregistry.com
Add a env variable like PREPEND_CUSTOM_REGISTRY whenever we register a host:
- sudo docker run ... -e PREPEND_CUSTOM_REGISTRY=myregistry.com ... rancher/agent:xyz
Whenever agent need to pull an image, rancher/healthche

[2018-03-14 10:16] superseb commented on #12105
This is already present and documented here: http://rancher.com/docs/rancher/v1.6/en/installing-rancher/installing-server/no-internet-access/#using-a-private-registry

Let me know if that doesn't work for you.

[2018-03-14 10:16] #12105 closed

[2018-03-14 10:30] dadarakt opened #12106 "EBS-Driver fails to mount AWS volume"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: 1.2.9

**Infrastructure Stack versions:**
healthcheck: 0.3.3
ipsec: 0.13.7
network-services: 0.9.5
scheduler: 0.8.3
ebs-driver: 0.8.11

**Docker version**:  Server Version: 17.09.1-ce

**Operating system and kernel:** 4.9.77-31.58.amzn1.x86_64

**Type/provider of hosts:** AWS, hvm-hosts

**Setup details:** single node rancher, internal DB

[2018-03-14 10:46] furkilic commented on #12105
Wanted the feature at the agent level not server level.

But still I guess your solution will work for most cases.

Thanks a lot.

[2018-03-14 11:17] defcon8 commented on #10431
Update of haproxy wanted in Rancher! 1.6.14 !!!!!!

[2018-03-14 11:30] superseb commented on #10431
If testing is good, 1.8.4 will be in v1.6.15.

[2018-03-14 12:26] #8583 closed

[2018-03-14 12:27] #8288 closed

[2018-03-14 12:29] VAdamec commented on #8233
Still cannot change some already provisioned parameters from rancher-compose.yml. As nobody solving it I take it as a feature.

[2018-03-14 12:29] #8233 closed

[2018-03-14 12:31] defcon8 commented on #10431
That's really great to hear @superseb !

[2018-03-14 12:43] marcbachmann commented on #6847
Somebody of the rancher team just announced in https://github.com/rancher/rancher/issues/10431 that support for haproxy 1.8.4 might land in rancher v1.6.15.
Thanks for the hard work. 🎉

[2018-03-14 12:44] vikas027 commented on #11106
Hey @superseb ,

Sorry, I don't have it anymore but I think this is easily reproducible. You can create some rules as I have shown in the [screenshot](https://user-images.githubusercontent.com/6998650/35308689-db40003e-00fc-11e8-90d2-bff80819e184.png) and upgrade from one version to other.

[2018-03-14 12:56] exocode commented on #10384
some progress on that?

I tried to use @mdchao2010 s attempt, but that failed also with ` No healthy hosts meet the resource constraints: [instanceReservation: 1, instanceReservation: 1, 27017:27017/tcp portReservation, instanceReservation: 1].)`

I hope thats correct:

[code]

If I get that working: I will give a try to update the Plugin to "MongoDB Version 3.6". So please help us to fix that

[2018-03-14 13:43] VAdamec commented on #11486
Crazy, so it connects together, I can run testing stacks (take some time, repeated several times to match hosts up state), but i.c.p.a.s.ping.impl.PingMonitorImpl after 10 attempts run reconnect of host  because 'Failed to get ping from agent' whatever that mean.

 Rancher-agents seems to be ok, I can access server from agents via http/https/icmp, IPs fo agent are correctly detected and server can

[2018-03-14 14:00] abienkowski commented on #10756
Again issue occurred sometime in the last 24 hours..

Please provide an email where I can send you the logs.

[2018-03-14 14:02] garyfritz commented on #9892
Same here: If I set the _log-opt_ Parameter multiple times, just one will get taken.
This is my _advanced settings_ for the (AWS-EC2) host:
![rancher-host-settings](https://user-images.githubusercontent.com/37372396/37406766-3b504102-2798-11e8-8f66-83dc0cba7d61.png)
And this is what the API sais about that host:
![rancher-host-settings-json](https://user-images.githubusercontent.com/37372396/37406

[2018-03-14 14:04] ArthurEth commented on #12076
is this the same reason why enabling the openstack node-driver and trying to add an openstack node template shows up as blank?

[2018-03-14 14:43] geertvanheusden commented on #8771
@sergey-koba-mobidev, would you be willing to share your Dockerfile for *skoba/rancher-cli*?

[2018-03-14 15:42] abeMedia commented on #7561
I'm using minio as s3 storage, however I'm getting the same error. I think using an env var is indeed the way forward. Am happy to submit a PR if you guys are willing to merge something like that...

[2018-03-14 16:45] superseb commented on #10431
Before there are any false promises, Haproxy is being updated but there will not be any functionality configurable like http2 as that is tracked in https://github.com/rancher/rancher/issues/6847. Let me close this regarding 1.8, additional functionality will be track in https://github.com/rancher/rancher/issues/6847.

[2018-03-14 16:45] #10431 closed

[2018-03-14 16:47] sangeethah commented on #10292
@galal-hussein Can you have some testing done on openLDAP (especially on group related cases)  to make sure there is no regression when using openLDAP auth?

[2018-03-14 16:53] superseb commented on #10756
Send it to `seb@hostname.com` where hostname is `rancher`.

[2018-03-14 16:54] RobertLidberg commented on #6847
From [#10431](https://github.com/rancher/rancher/issues/10431)

[2018-03-14 17:03] sangeethah commented on #11172
@aemneina , I have not been able to reproduce this issue when testing with latest 1.6 build and haproxy version - rancher/lb-service-haproxy:v0.7.15

In above mentioned scenario, we do see the "503 Service Unavailable" error for the time when service1 is being upgraded when LB is accessing service1 instances which is expected.

I do not see the LB url accessing service2 instances have any issues .

[2018-03-14 17:11] pkaramol opened #12107 "EC2: Error creating instance with: Failed to find rancher-agent container"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: 1.2.7

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec:v0.13.5
network-services:
rancher/metadata:v0.9.5
rancher/network-manager:v0.7.18
scheduler:v0.8.2
kubernetes (if applicable): rancher/k8s:v1.8.3

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`,

[2018-03-14 18:28] alena1108 commented on #11986
@sangeethah thats a k8s limitation. When create service endpoints based on service selector, only pods from the same namespace are being picked. @vincent99 perhaps we can filter out only workloads from the same namespace for workload based services, in the UI

[2018-03-14 18:28] alena1108 commented on #11979
@soumyalj thats k8s message, we just propagate it. Closing for now.

[2018-03-14 18:28] #11979 closed

[2018-03-14 18:31] alena1108 commented on #11870
@sangeethah seems to work now, could you retest

[2018-03-14 18:41] StrongMonkey commented on #12107
What's the logs in the agent? you should be able to download machineConfig and ssh into the host to grap agent logs.

[2018-03-14 18:49] deniseschannon commented on #11857
Port Ranges are not supported in Rancher: https://github.com/rancher/rancher/issues/1673

[2018-03-14 18:49] #11857 closed

[2018-03-14 19:00] moelsayed commented on #11372
~~3. Start with 1.6.12 setup having 20 nodes. Upgrade to 1.6.15 and make sure that ipsec upgrade does not have any issues. Add 10 hosts at at 1 time.~~  Tested by upgrading from 1.6.12 to 1.6.15-rc6. Test case validated successfully.

~~4. Upgrade from 1.6.12 setup having few inactive nodes along with active nodes. Make sure ipsec upgrade works as expected.~~ Tested by upgrading 1.6.12 to 1.6.15-r

[2018-03-14 19:22] moelsayed commented on #10971
Validated using `rancher/server:v1.6.15-rc7`:
- Created a k8s environment.
- Upgraded the k8s environment to:
  - Increase kubedns replicas
  - Increates k8s components log verbosity level.
- Confirmed changes are reflected to the k8s environment as expected.
- Updated the environment to change the verbosity level again.
- Confirmed changes are reflected to the k8s environment as expected.

[2018-03-14 19:22] #10971 closed

[2018-03-14 19:38] moelsayed commented on #11760
Confirmed fix on master 14/03:
[code]

[2018-03-14 19:38] #11760 closed

[2018-03-14 19:50] galal-hussein commented on #9562
Rancher server: v1.6.15-rc7
Rancher agent: v1.2.10-rc6

I was able to test with and without the flag, the agent showed an error when ran with no flag an it ran successfully with the flag and i can see dns service started successfully.

[2018-03-14 19:50] #9562 closed

[2018-03-14 19:54] moelsayed commented on #11776
Tested using master 14/03.
I was able to create a cluster on DO with default network plugin. I created a NodePort workload and was able to access it on all cluster nodes.

[2018-03-14 19:54] #11776 closed

[2018-03-14 21:13] superseb commented on #11304
Reproducible by running:

[code]

[2018-03-14 21:50] alena1108 commented on #11969
Happens because no externalIP is being set in node.status.addresses; otherwise UI/controllers would pick this ip address for the public endpoint. I believe this issue would be resolved for AWS once RKE support for cloud providers is in - the cloud provider should register the node with both addresses. Re-test once the feature is in.

[2018-03-14 22:03] alena1108 commented on #11728
@tfiduccia this issue should be gone; could you retest on the latest?

[2018-03-14 22:45] sangeethah opened #12109 "LB and DNS are not able to resolve targets cross regions , when region url is edited."
Rancher versions: Build from 1.6 branch

**Steps to Reproduce:**

Region1 - with 3 environments - test1region1, test2region1, test3region1 with network policy enabled to allow for traffic between linked services.

Region2 - with 3 environments - test1region2, test2region2, test3region2 with network policy enabled to allow for traffic between linked services.

LB in test1region1 linked to targets i

[2018-03-14 23:01] cloudnautique commented on #11884
This has been resolved.

[2018-03-14 23:01] #11884 closed

[2018-03-14 23:46] giovannicandido opened #12111 "Kubernetes cluster without requestheader-client-ca-file"
**Rancher versions:**
rancher/server: 1.6.x
rancher/agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable): 1.8

**Docker version: (`docker version`,`docker info` preferred)**

17.03-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Virtu

[2018-03-15 00:19] soumyalj opened #12112 "Rancher-EBS driver fails to upgrade due to lock on `/var/lib/ranche/volumes`. Restarting host will release the lock."
**Rancher versions:**
rancher/server: v1.6.15-rc6 (Upgrade from v1.6.14 to v1.6.15-rc6)

**Steps to Reproduce:**
1. Create a v1.6.14 setup and install EBS driver
2. Create environment scoped, stack scoped and container scoped volumes.
3. Deploy services which use EBS volumes

Upgrade rancher to v 1.6.15-rc6.
Upgrade EBS driver to 0.5.0

EBS driver fails to upgrade
[code]
[code]
<img width="1029" a

[2018-03-15 01:57] orangedeng commented on #12100
Windows server has supported docker since v1.12.2 and docker api version since v1.24.
And the Rancher CLI Use a trick to get the docker api version from with docker version which `12` of v1.12.2 plus 12 to `24` of v1.24.
When it comes to Docker CE and EE, v1.12.2 become 17.06 and the api version is not equal to v1.30 as 17.06 api version.

[2018-03-15 02:01] loganhz commented on #9482
![image](https://user-images.githubusercontent.com/21168270/37440435-a6086f70-2837-11e8-9330-ae8cec89fee0.png)

@tfiduccia  Can you try again, please?
The tooltip is added in the `image` column. I didn't add it in container name column.

[2018-03-15 02:18] loganhz opened #12113 "Custom UI for node driver can not be loaded"
rancher/server:master 03/15

There is a whitelist in rancher server internal proxy. The request to the host which is not on the whitelist will be rejected.

https://github.com/rancher/rancher/blob/0e57efba11b316c67523459f00ebf0d1b9018352/server/server.go#L30-L39

There are two cases:

1. The custom UI for node driver which is served on a host which is not in the whitelist. UI can not load it via t

[2018-03-15 04:49] kingsd041 opened #12115 "[Windows] Windows environment validation test"
I need to complete the following Windows environment validation test case

|Test case|Finished?|
|:---------------------|:-----|
test_container.py|yes
test_container_run_option.py|yes
test_dns_services.py|yes
test_ext_services_links.py|yes
test_host_api.py|yes
test_logs_api.py|yes
test_native_docker.py|yes
test_rancher_cli.py
test_rancher_compose.py
test_rancher_compose_commands.py
test_rancher_co

[2018-03-15 04:57] loganhz opened #12116 "Missing fields when create a storageClass"
rancher/server:master 03/14

`allowVolumeExpansion` and `parameters` of `storageClass` are not populated in rancher API.
UI sent the `allowVolumeExpansion` and `parameters` to backend for creating a `storageClass`.
But rancher server doesn't populate them.

[2018-03-15 05:02] kingsd041 commented on #10664
Repeat with #12115, so close this issue.
@orangedeng If you still have doubts, please reopen it and let me know.

[2018-03-15 05:02] #10664 closed

[2018-03-15 05:10] kingsd041 commented on #10661
The features included in this version have been tested and passed.
About windows environment validation test, I submitted a new issue #12115

[2018-03-15 05:10] #10661 closed

[2018-03-15 05:47] sangeethah commented on #12066
Tested with latest build from branch 1.6.

Able to resolve DNS link cross regions successfully when region name and environment names have caps.

[2018-03-15 05:47] #12066 closed

[2018-03-15 05:52] sangeethah commented on #12067
Tested with latest build from branch 1.6.

Create a regions set up with 3 environments say test1REGION1,test2REGION1,test3REGION1 with network policy allowed only between linked services.
Regions entry was created with name "REGION1"

Create a regions set up with 3 environments say test1REGION2,test2REGION2,test3REGION2 with network policy allowed only between linked services.
Regions entry was cr

[2018-03-15 07:10] vincent99 commented on #12116
The name is the ID so it's not going to be updateable.  Disable the field in edit

[2018-03-15 07:12] aiwantaozi opened #12117 "UI support update cluster role, but seems backend no support this function now, do we gonna support this feature?"
**Rancher versions:**
rancher/server:
rancher/agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

In the UI it could edit node role, but the backend seems not support it currently, do we support gonna support update role? I'm not should whether all the cloudprovider support the role update reconcile now.
@vincent99 @StrongMonkey

[2018-03-15 07:37] pkaramol commented on #12107
ERROR: https://<hostname-of-my-rancher-server/v1 is not accessible (Connection timed out after 15001

It seems that the url is not reachable from within the cattle cluster.

I initiated the rancher server using: ` --advertise-address ipify`, however in the `Admin` panel, the host registration url is the above.

What is the recommended settings for this when in `AWS` ?

     --advertise-address ipi

[2018-03-15 09:00] denniss17 opened #12119 "Ipsec container disappears when a lot of stacks are deployed."
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent: v1.6.14

**Infrastructure Stack versions:**
healthcheck: 0.3.3
ipsec: 0.2.2
network-services: 0.2.8
scheduler: 0.8.3
kubernetes (if applicable): none

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 17.12.0-ce, build c97c6d6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME

[2018-03-15 09:08] superseb commented on #12107
`--advertise-address` is the address the `rancher/server` containers talk to eachother for HA. Host Registration URL can be set in Admin -> Settings, and you need to allow 443 in the security group from the host running `rancher/agent`.

[2018-03-15 09:20] pkaramol commented on #12107
@superseb can I open `443` just for the registration process and then close it again, or does it need to be constantly open for further communication?

I need to apply the strictest policy possible, that's why I am asking.

[2018-03-15 09:51] giovannicandido commented on #11477
Disabled the rancher loadbalancer and using kubernetes alternatives like traefik

[2018-03-15 09:51] pkaramol commented on #12107
@superseb although I opened explicitly port `443` to all addresses (`0.0.0.0/0`), I am getting the following error in the `rancher/agent` logs:

[code]

[2018-03-15 09:54] superseb commented on #12107
It uses websockets to establish a connection, bad handshake usually means that what is in front of the `rancher/server` containers (ELB/proxy/LB) is not supporting it.

Yes, it needs to be open all the time as the infrastructure services also reach out to $CATTLE_URL (API) to get information

[2018-03-15 09:56] pkaramol commented on #12107
I am using nginx in front of rancher server, are you aware of any issues related to it?

[2018-03-15 09:58] superseb commented on #12107
You can cross check your config with http://rancher.com/docs/rancher/v1.6/en/installing-rancher/installing-server/basic-ssl-config/#example-nginx-configuration, this is known to work.

[2018-03-15 11:16] pkaramol commented on #12107
@superseb thx for the support, I guess this can be closed.

[2018-03-15 11:16] #12107 closed

[2018-03-15 12:50] VAdamec commented on #11486
Even with disabled cloud detection agents still tries to get http://169.254.169.250/2016-07-29/version but yes, it's not an issue, trying to find out proxy setup combination to pass websocket (via no_host) and be able to download images via proxy

[2018-03-15 12:50] gerrat commented on #12050
When you say "supports all formats", you mean that If I *already* have a cron expression, I can paste it into the "Cron Expression" field at the top, and it will translate that to words.  Yes, that much is true.

For those not as familiar with cron formats (like myself), the first thing one would do on that page is
 to try to generate a cron expression with the **Cron expression generator - Quartz

[2018-03-15 14:16] nurtext commented on #5241
I totally agree: This should be fixed indeed, because exposing every node to the internet is a really bad idea. Furthermore this is Amazon's statement in terms of auto assigned public IP addresses:

Basically this means: If one of your nodes needs to be stopped (e.g. for maintenance or by mistake) , you will loose the public IP address for that node, making it useless until you modify/reconnect yo

[2018-03-15 14:33] VAdamec commented on #11486
Without proxy setup (no catalog, no able to pull new images) still getting, hosts went up, till 10 pings it's ok, I can deploy stacks and access application but after 10 ping it starts reconnecting and again and again, no idea what should be wrong. Really need advice :-(

[code]

[2018-03-15 15:31] lester65 opened #12120 "Failed to get rancher client for host-api startup: Bad response statusCode [401]. Status [401 Unauthorized]"
I have no idea why this is  happening on a specific environment, but other environment works w/out problem on my centralize rancher server.

time="2018-03-15T15:25:12Z" level=error msg="Failed to get rancher client for host-api startup: Bad response statusCode [401]. Status [401 Unauthorized]. Body: [code=Unauthorized, message=Unauthorized, baseType=error] from [http://rancher/v1]"

---
| Useful |

[2018-03-15 15:35] pkaramol opened #12121 "rancher cli ignores environmental variables"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: 1.2.9

Using also:
[code]

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec: 0.13.7
network-services: (network-manager: v0.7.19/metadata: v0.9.5)
scheduler: v0.8.3
kubernetes (if applicable): n/a

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `unam

[2018-03-15 16:05] ikogan commented on #11724
I'm also experiencing this when assigning an explicit IP address to a container's exposed port whether or not it's in the "schedule IPs" for the node. I can confirm the iptables rules and the behavior @rtau-t24 is experiencing. I'm eagerly awaiting this patch!

[2018-03-15 16:11] superseb commented on #11724
Can you take a look @leodotcloud ?

[2018-03-15 16:22] alena1108 opened #12123 "Cloud provider support for RKE cluster"
Some k8s features - LoadBalancer service, volumes - are backed up by certain cloud provider functionality. In order to enable it, we have to register k8s nodes with cloud provider option - aws, gce, etc. The fix has to be done on rke side as well as rancher.

https://github.com/rancher/rke/issues/102

[2018-03-15 16:28] alena1108 commented on #11956
https://github.com/kubernetes/kubernetes/issues/61205

@ibuildthecloud we can add a temporary fix on our side by adding an exception in https://github.com/rancher/types/blob/master/status/status.go to read `unavailablereplicas` for deployment, in addition to relying on conditions. Or we can wait for the official fix

[2018-03-15 16:36] superseb commented on #11486
Not familiar enough with Oracle Cloud, the subnet you configure on the agent does not contain the IP from the rancher/server, what does it cross to get to it?

If you can give me access to the setup, I can take a look, ping me on https://slack.rancher.io

[2018-03-15 17:05] cjellick commented on #11729
Ok, I've added logic to set the defaults in the action if they are not set. UI just needs to properly display the defaults to be on par with the 1.6 UI

[2018-03-15 17:08] #11372 closed

[2018-03-15 17:23] deniseschannon commented on #11742
AD is now enabled in master again.

[2018-03-15 17:24] deniseschannon commented on #11743
AD is now available in the UI in master

[2018-03-15 17:44] #11172 closed

[2018-03-15 17:45] sangeethah commented on #9164
Same issue tracked in https://github.com/rancher/rancher/issues/10826

[2018-03-15 17:45] #9164 closed

[2018-03-15 18:11] deniseschannon commented on #12009
This is now enforced in the UI, where you cannot enable PSPs without a default set.

This needs to be fixed in the API to avoid.

[2018-03-15 18:20] galal-hussein commented on #11742
Rancher version: master at Mar 15

I was able to verify that AD users login with different usernames and not as admin users

[2018-03-15 18:20] #11742 closed

[2018-03-15 18:23] galal-hussein commented on #11743
Rancher version: master at March 15th

I was able to verify that i can add AD users to authorization list and login with these users normally

[2018-03-15 18:23] #11743 closed

[2018-03-15 18:26] westlywright commented on #11804
Verified and closing

[2018-03-15 18:35] alena1108 commented on #12062
Tried for GKE cluster on the latest master, couldn't reproduce. @pipoe2h what type of cluster have you used?

@sangeethah @soumyalj could you keep an eye on this issue as you do a lot of cluster provisioning?

[2018-03-15 18:36] deniseschannon commented on #10999
Based on our discussion, an admin will be able to CRUD everything down to the workload level.

[2018-03-15 18:52] deniseschannon commented on #11104
This role is being removed from the global level.

[2018-03-15 18:55] deniseschannon commented on #12051
Based on discussion, this will remain the same as roles are a global resource. If an admin wants to provide a "Standard User" with the ability to create roles, they would need to create a custom role with the following permissions:

Perms that are associated with standard user:
-> Create New Clusters
-> Use Catalogs
-> Login Access

In addition, they would need to add the `Manage Roles` permission

[2018-03-15 19:25] deniseschannon commented on #11111
We are updating so that the text says "View All Projects" and that the behavior should be able to read only all project info including project members, namespaces, workloads, etc.

[2018-03-15 19:26] deniseschannon commented on #11110
We are removing this role "Manage Projects" from the cluster role options.

[2018-03-15 19:35] angelbulasglober opened #12125 "When I try to add a new host called "aercloud", is not added"
I'm trying to add a new host called "aercloud" but is not added, when i try with any other name (for example aercloud-1 or anything) it works without any issue.

Is there an exception or reservation for the "aercloud" name or something like that?

Thank you.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.12` Cattle: `v0.183.30` UI: `v1.6.30` |
|Access|`localauth` |
|Orchestration|`Ca

[2018-03-15 20:02] galal-hussein commented on #10292
Rancher version: v1.6.15-rc7
I ran all openLDAP tests that affect users and groups and all Passed successfully

[2018-03-15 20:02] #10292 closed

[2018-03-15 20:47] deniseschannon commented on #11990
After internal discussion, we expect users to have a private registry where they can mirror our `rancher` repo with all images (like what is expected in 1.6).

This means we cannot test with quay.io, but will need to test with a different private registry.

[2018-03-15 20:47] deniseschannon commented on #11990
This means we'd have to get a private registry that can support `<private-registry>/rancher/<images>`.

[2018-03-15 21:06] deniseschannon commented on #12049
Standard user will not be able to create PSPs as these are global resources. This is intentionally done. We will be adding a "Manage PSPs" global role that can be added to the standard user permissions if a user needs those perms.

Standard users should be able to automatically use PSPs and should be part of the "Create new Cluster" global role.

[2018-03-15 21:14] alena1108 opened #12126 "Cleanup script for cluster re-import"
We have to come up with the set of steps that has to be taken if user wants to re-import cluster that used to be registered with any rancher installation before. A couple of existing issues - there might be more

1) Default namespace continues to be assigned to its original project, and don't get deregistered to the new cluster default project. Perhaps we have to cleanup `field.cattle.io/projectId

[2018-03-15 21:16] alena1108 commented on #11994
@tfiduccia it might be happening because the cluster you import, used to be a part of rancher before. In this case Default namespace continues to be assigned to its original project/cluster. I've filed a separate ticket so we can come up with the proper cleanup steps to take before the cluster can be re-registered with rancher (https://github.com/rancher/rancher/issues/12126)

For this ticket, cou

[2018-03-15 21:19] deniseschannon commented on #11127
We will be updating so that "Custer Owners" will automatically be given permissions to manage project members.

Cluster Members would need this permissions explicitly added as cluster members only have these perms:
[code]

[2018-03-15 21:26] L30Bola commented on #10053
+1 this would be awesome.

[2018-03-15 21:27] sangeethah commented on #12067
Tested with latest build from 1.6 branch.
Lb is functional cross environment across regions when region and environment names are capitalized.

[2018-03-15 21:27] #12067 closed

[2018-03-15 21:40] pipoe2h commented on #12062
This issue happens when you provision from the Rancher UI using the custom endpoint.

[2018-03-15 22:05] alena1108 commented on #11800
Ok, here is the deal :) Ingress controller gets deployed as a global service by RKE today - a common k8s practice. And it means that only one backend per controller would be supported. Nginx ingress controller manifest deploys this default backend by default: https://github.com/rancher/rke/blob/master/templates/nginx-ingress.go#L240-L276 and https://github.com/rancher/rke/blob/master/templates/ngi

[2018-03-15 22:32] allaryin opened #12127 "agent image does not appear to have jq?"
Attempting to import an existing simple k8s cluster that was initialized via kubeadm, the agent fails on a CA checksum mismatch. Further investigation shows that while it IS receiving a json response from the rancher server, its attempt to jq the value out of it fails:

[code]

`e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855` being the sha256 sum of an empty string.

---
| Useful

[2018-03-15 23:09] galal-hussein opened #12129 "Incorrect error message with unauthorized AD users"
**Rancher versions:**
rancher/server: master at March 15th

Steps to reproduce:

- Enable AD authentication
- select ` Allow members of Projects, plus Authorized Users and Organizations`
- Login with unauthorized user

results:

UI show error `username or password is incorrect` instead of getting `unauthorized error`, the api responds with 401 error though

[2018-03-15 23:21] galal-hussein commented on #12031
I can reproduce the same issue in AD authentication as well

[2018-03-15 23:32] sangeethah commented on #12031
@cjellick Does this mean that  user needs to deleted explicitly for his access rights to be re evaluated?

[2018-03-16 00:51] galal-hussein opened #12131 "AD with TLS doesn't work"
**Rancher versions:**
rancher/server: master at March 15th

steps to reproduce

- try to enable AD authentication with TLS and provide the certificate as an option

result:

I am getting the following error in the UI:
[code]
server logs:
[code]

[2018-03-16 02:45] aiwantaozi commented on #11341
Related PR: https://github.com/rancher/rancher/issues/11341

[2018-03-16 03:05] vincent99 commented on #12129
We can tweak the message I suppose to say "or maybe they're fine, but you're not allowed in" but this is standard practice.  There is only one message and (should be) only one error response for "the server said you can't come in".  It doesn't (shouldn't) expose _why_ you can't come in.

Returning multiple errors like "that username does not exist"*,  "that username is valid but not on the allowed

[2018-03-16 03:21] zionwu opened #12133 "Node pool get removed when adding a new node pool"
**Rancher versions:**
rancher/server:master 03/16

**Steps to Reproduce:**
1. Create a cluster with one node with all roles.
2. After the cluster is active, Go to "Edit Cluster" and add a node pool of one node with worker role. Click "Save".
![image](https://user-images.githubusercontent.com/1213386/37501941-77a8ce66-290b-11e8-8af0-4cd75e691b9f.png)

**Results:**
The first node pool is removed and

[2018-03-16 03:56] leodotcloud commented on #11724
Good catch @rtau-t24 and thank you for creating the PR. Can you please take care of the review comments and resubmit the PR? I can merge it.

[2018-03-16 04:46] soumyalj opened #12135 "Error when removing deleted EBS volumes(dangling) from the host"
**Rancher versions:**
rancher/server: v1.6.15-rc7

**Steps to Reproduce:**
1. Create a rancher setup with v1.6.14 .
2. Launch EBS catalog and create env/stack scoped and container scoped EBS volumes and services to use these volumes
3. Upgrade rancher to v1.6.15-rc7 and create services to use EBS volumes
4. Upgrade EBS driver and create env/stack scoped and container scoped EBS volumes and service

[2018-03-16 07:14] gitlawr commented on #11934
pre-defined environment variables:
[code]

[2018-03-16 07:27] #11977 closed

[2018-03-16 11:01] krishofmans commented on #9155
I was using rancher behind a kubernetes cluster with the stable/nginx-ingress.
`helm install stable/nginx-ingress \
--name=ing-impl --namespace=custom-system \
--set controller.hostNetwork=true,controller.kind=DaemonSet \
--set controller.stats.enabled=true \
--set controller.metrics.enabled=true`

This has a nginx.tmpl that contains:
`    map $http_upgrade $connection_upgrade {
        default

[2018-03-16 16:09] thbiela commented on #10384
@exocode try this on your mongodata volume:

[code]

[2018-03-16 17:01] vincent99 commented on #12113
The source URL itself isn't actually downloaded through the proxy so it doesn't need to be whitelisted.  The download domain is just whitelisted by 1.x as the only way to automatically get an entry into the list, and that never worked for most situations because people want to host them on github.

There should just be a 4th parameter added to node drivers for `proxyWhitelistDomains`, `array[strin

[2018-03-16 17:46] cjellick opened #12138 "Cant delete tokens/api keys"
Steps to repro:
1. create API key
2. attempt to delete it
get error: `no token store available`

[2018-03-16 19:21] soumyalj opened #12140 "Healthcheck enabled containers stuck in initializing state after they move to another host"
**Rancher versions:**
rancher/server: v1.6.15-rc7

**Steps to Reproduce:**
1. Create a setup with 3 hosts "h1, h2, h3" on AWS
2. Launch EBS catalog and create a ebs volume "testvol" from the UI storage tab
3. Create healthcheck enabled service "service1" using ebs volume "testvol"
4. Power OFF the host "h1" where service1 exists.

**Results:**
After healthcheck enabled containers move to another h

[2018-03-16 20:02] kinarashah commented on #12140
It looks like there's some race condition, if you just edit the ipsec service (for instance, change the description), health state update will be triggered and it should be fine.

[2018-03-16 20:18] StrongMonkey commented on #12112
After initial investigation, the bind mount volume `/var/lib/ranche/volumes` is used by another process, and container will fail if trying to mount that directory. This appears to be a known issue in [docker](https://github.com/moby/moby/issues/25718), and it is not always reproducible. Restarting the host should release the lock and recover. We might need to come back to visit if this happens aga

[2018-03-16 20:22] tfiduccia commented on #7923
@loganhz - can you give me an example of Chinese characters that should work.  The ones I put in still gave me a 500 page.

[2018-03-16 20:23] sangeethah commented on #12051
Tested with latest build from master.

1. As admin user:
 Created a user with following Custom global permissions :
 Create New Clusters
 Use Catalogs
 Login Access
 Manage Roles

2. When logged in as this user , he is allowed to create custom roles  and able to add members to cluster/project with this custom role.

[2018-03-16 20:23] #12051 closed

[2018-03-16 20:34] tfiduccia commented on #8510
Version - v1.6.15-rc8
Verified fixed

[2018-03-16 20:34] #8510 closed

[2018-03-16 20:43] #11489 closed

[2018-03-16 20:54] sangeethah commented on #11356
@zionwu , you are allowed to delete a node  after you have have increased node pool from 1 to 2.

Can you try to select the node that was added first and delete it instead of reducing the node pool to 1?

[2018-03-16 20:59] jamiebuxxx commented on #11772
After doing some more testing I was able to rotate my Rancher nodes in there autoscaling group without losing any nodes. I'm not sure why this worked all of a sudden. Maybe there was something related to the database or network problems which was causing issues?

All the configs we use to build our Rancher stacks are in Chef and Terraform. I have been pretty busy with other work and will close thi

[2018-03-16 20:59] #11772 closed

[2018-03-16 22:13] leodotcloud commented on #11724
@rtau-t24, can you plz make a PR for v1.6 branch as well? I forgot about that. Master branch changes are not meant for v1.6.x release.

[2018-03-16 23:17] sangeethah commented on #10826
Upgraded rancher server v1.6.12 having 20 nodes to v1.6.15-rc6.
Rancher agent in all nodes got upgraded successfully with out any issues.

[2018-03-16 23:17] #10826 closed

[2018-03-16 23:27] deniseschannon opened #12142 "Look into securing Ports 10255 and 4194 for k8s/heapster"
In kubernetes, Ports 10255 and 4194 are not restricted. There is no clear way in the docs to restrict access to them from kubelet side.

http://rancher.com/docs/rancher/v1.6/en/kubernetes/security/

[2018-03-16 23:27] deniseschannon commented on #12079
Created a separate issue for the read only ports: https://github.com/rancher/rancher/issues/12142

[2018-03-16 23:27] #12079 closed

[2018-03-16 23:46] sangeethah commented on #11870
Tested with latest build from master.

Count set when deploying Stateful set  takes effect.

[2018-03-16 23:46] #11870 closed

[2018-03-16 23:49] #11944 closed

[2018-03-16 23:56] sangeethah commented on #10968
@aiwantaozi  , This issue will be seen only when you have DO machine error out for some reason and the host gets stuck in "provisioning" state.

In this case , even the host has not been added to the K8s cluster , cluster will already show the node count as 2.

<img width="1304" alt="screen shot 2018-03-16 at 4 51 20 pm" src="https://user-images.githubusercontent.com/4266958/37549129-7863afc2-293a

[2018-03-17 00:03] gun1x commented on #11847
I am getting the same error when trying to add the 2nd worker node:

[code]

[2018-03-17 00:26] mfolimon opened #12143 "Rancher Agent keep on reconnecting loop while High CPU"
**Rancher versions:**
rancher/server: 1.1.2
rancher/agent: 1.0.2

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
`RHEL-7.2, 3.10.0-514.26.2.el7.x86_64`

**Setup details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher, Internal DB

**Environment Template: (Cattle/Ku

[2018-03-17 00:31] loganhz commented on #7923
It looks good in `rancher/server:v1.6.15-rc8`. Can you please try 中国 ?

[2018-03-17 01:42] vincent99 commented on #10968
I said this somewhere else already, but the node count is the count of nodes.  It should match the number of nodes you see if you go into the cluster, which has nothing to do with the state they are in.

[2018-03-17 08:54] maifusha commented on #12068
I have some problems like you, I just dont need a proxy before the rancher server, So i refer to http://rancher.com/docs/rancher/v1.6/en/installing-rancher/installing-server/basic-ssl-config/， didn't work.
github issues , rancher forum, google can't help me, too

then, according to the code https://github.com/rancher/rancher/blob/v2.0/app/tls.go  （no document sayed about this）

I think you should

[2018-03-17 19:43] jloisel commented on #5325
Better late than never! :+1:

[2018-03-17 20:55] Zelle97 opened #12144 "Bot running inside of Rancher stack not able to connect to websocket"
**Rancher versions:**
rancher/server: stable
rancher/agent: v1.2.9

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec: v0.13.7
network-services: v0.7.19
scheduler: v0.8.3

**Docker version: **
17.12.1-ce

**Operating system and kernel: **
Debian GNU/Linux 9 (stretch)

**Type/provider of hosts: **
Bare-metal

**Setup details: **
rancher server and agent running on the same host

**Enviro

[2018-03-17 21:17] vincent99 commented on #12144
Rancher starts regular docker containers and is not involved in the data path out of them except for routing the 10.42.0.0/16 managed network.  You are not providing any evidence to think this problem had anything to do with running in Rancher specifically (e.g.  the same thing works on the same host as Docker run directly) and lots of people run lots of things that use websockets successfully (in

[2018-03-17 21:35] Zelle97 commented on #12144
@vincent99 thanks for the help!

I already thought it might not be connected to rancher specifically. Thanks for the advice.
I could not reporduce this while running my container locally. Could you give me some advice setting the MTU size for my container managed by rancher?

[2018-03-17 22:26] Zelle97 commented on #12144
I could confirm it has nothing to do with rancher. Closing this Issue.

[2018-03-17 22:26] #12144 closed

[2018-03-18 02:45] soumyalj commented on #11447
Tested with master from March 16th build. Created single node custom cluster and clusters with node templates using AWS host. The server was a DO box. Cluster deployment was successful and workload deployment was also ok.

[2018-03-18 02:45] #11447 closed

[2018-03-18 05:33] gaui commented on #9927
Same problem here, the other nodes hang when joining the swarm. It works if I manually initialize the Swarm and then manually join the Swarm on the servers before setting up the agents.

[2018-03-18 06:23] wangshuaizs opened #12145 "add feature-gate into kubelet"
**Rancher versions:**
rancher/server:v1.6.13

I wonder how can i add some feature-gate into kubelet service. Actually, I want to enable deviceplugins feature in every node. And I can not find any way to make it run with deviceplugins feature.

Anyone can help? Thanks!

[2018-03-18 07:57] lucevers opened #12146 "How to get access to the Kubernetes Dashboard?"
From the previous question, the answer was:
You can get access to Kubernetes Dashboard via the UI in containers tab then advanced.
 **So where is the container tab?**

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.0-alpha21` UI: `v2.0.25` |
|Access|`local` `admin`|
|Route|`authenticated.cluster.index`|

[2018-03-18 10:54] wangshuaizs commented on #11587
Has rancher supported feature-gate ?

[2018-03-18 14:09] aiwantaozi commented on #10968
Yes, I have seen what you mean in this issue https://github.com/rancher/rancher/issues/11152, so the count is we expected.

[2018-03-18 16:19] PatrickHuetter opened #12147 "Unsupported Docker versions for rancher 2.0 needs to be error state for nodes using RKE."
**Rancher versions:**
rancher/server: 2.0 preview alpha 21
rancher/agent: 2.0.3

**Steps to Reproduce:**
Create a new custom cluster and start the agent on one of your hosts (using etcd and control roles).
The agent starts without errors but hangs while connecting via websocket to rancher (no new log messages after the following one):
[code]
Rancher says that ```Cluster must have at least one etcd

[2018-03-18 17:33] vincent99 commented on #12146
I don't know where "the previous question" is, but it sounds like it was referring to the first preview release (<= alpha12).

The containers tab is currently called Workloads, when inside of a Project.

The dashboard is not deployed by default, because it does not work very well with RBAC.  You can use kubectl to deploy the yaml for it if you want.

[2018-03-19 03:08] aemneina opened #12148 "etcd failover testing"
master reelection
rolling upgrade of hosts

[2018-03-19 03:57] rtau-t24 commented on #11724
@leodotcloud, the PR for v1.6 branch had been created as https://github.com/rancher/plugin-manager/pull/127.

[2018-03-19 05:46] zionwu commented on #11356
@sangeethah I followed the steps. Once I removed the node 1 there is a new node created to keep the node pool with 2 nodes. At this time the namespaces tag can be accessed.

![image](https://user-images.githubusercontent.com/1213386/37579739-fd9a62e8-2b7a-11e8-9867-ae4695edbb62.png)

[2018-03-19 07:52] konvergence commented on #7506
+1

[2018-03-19 09:14] mxschmitt opened #12149 "Upgrade will start container even through not set"
In this Rancher and in earlier versions the issue exists, that when you try to upgrade a service and the service is stopped, the containers go through the following states:

[code]

expected:

[code]
And yep, the checkbox in the upgrade dialog is not ticked:

![image](https://user-images.githubusercontent.com/17984549/37586905-0b277846-2b5e-11e8-94d2-5377034cf06c.png)

Best regards

Max

---
| Use

[2018-03-19 09:17] Toonix opened #12150 "Site Access in AD revertsback to last restart"
**Rancher versions: 1.6.15

**Docker version:17.03.2-ce

**Operating system and kernel: RancherOS v1.2.0

**Setup details: single node internal DB

**Environment Template: Cattle

**Steps to Reproduce:  Upgrade DB from Previous Versions.

My Site Access Looks like this in the DB

28 | api.auth.ldap.allowed.identities                   | ldap_user:CN=5610,OU=Standard,OU=Users,OU=Users,OU=example=in

[2018-03-19 10:24] superseb commented on #12150
Sounds like https://github.com/rancher/rancher/issues/10756, can you share from what version you upgraded and since when it started happening?

[2018-03-19 10:27] Toonix commented on #12150
Not sure but looks like I fixed it with this

update setting set value="" where name="api.auth.ldap.allowed.identities";

Still testing everything, but at least it dosn't revert back to the old settings now.

[2018-03-19 10:55] jri-sp commented on #8100
I'm not able to reproduce my issue in recent rancher version (`1.6.15` now), so I think it's solved.
But I don't know since which version it works.
I think you can close this issue if you want...

[2018-03-19 11:07] pcjacobse commented on #12147
I had the same issue, be sure to check if your docker version is supported, or check the allow unsupported docker versions during creation of the cluster.

[2018-03-19 11:11] superseb commented on #12147
First place to check is the logging of the `rancher/server` container, what does it say after the node has been added? This will also show you if @pcjacobse 's comment is the cause.

[2018-03-19 12:30] Toonix commented on #12150
Had to change this too

update setting set value="" where name="api.auth.ldap.access.mode";

Now the method and the users / groups stays how I set them in the gui.

[2018-03-19 12:56] PatrickHuetter commented on #12147
@pcjacobse You were right! I don't know wether it's possible but it would be fine if this kind of error message would also occur within the agent logs.

@superseb so as we can see, @pcjacobse comment is correct. I have to downgrade the docker version or check unsupported docker versions while cluster creation in the rancher UI.
[code]

[2018-03-19 13:15] schuylr commented on #12140
I saw this everywhere over the weekend on my Rancher environment, v1.6.14 (non-RC). It caused many of my services to die and had a catastrophic failure on all of my websites.

The only way for me to fix this was by deleting the affected service and cloning a new one with the same health checks, which seem to assign them to healthy health check containers. Rancher does not seem to re-allocate healt

[2018-03-19 14:24] mikekuzak commented on #11847
|Versions|Rancher `v2.0.0-alpha21` UI: `v2.0.25` |
|Access|`local` `admin`|
|Route|`authenticated.cluster.nodes.index`|

Getting the same
2018/03/19 14:21:16 [INFO] ClusterController cluster-g5q86 completed with dropped err: [cluster-provisioner-controller] failed with : backing off failure, delay: 4m0s

 To reproduce:
- 3 coreos machines
- First: etcd, controll
- Second: etcd, worker
- Third: etc

[2018-03-19 14:52] dsteegen opened #12152 "Question: default values for Health check"
Hello,

Is it possible to specify the default values for the following health check properties:

[code]

I have been looking all over the Rancher documentation but could not find the answer. Maybe this can be included in a newer version of the docs.

Thanks in advance!

[2018-03-19 15:08] blackholegalaxy commented on #4703
Any news on that? ARM support, with IoT world, would be a killer feature for Rancher. Imagine upgrading images on dozens of Raspberries agents... With Kubernetes supporting ARM64 natively, I think it could be a quick win for Rancher.

[2018-03-19 15:09] PatrickHuetter opened #12153 "Cloning of workloads doesn't work"
**Rancher versions:**
rancher/server: 2.0 alpha 21

**Steps to Reproduce:**
Create a workload, click on the 3 dots on the right side of the service and on "clone" in the UI.

**Results:**
Nothing happens. No view change in the UI. It's not possible to clone a service / workload.

[2018-03-19 15:13] lucevers commented on #12146
oke, thanks!

[2018-03-19 15:13] #12146 closed

[2018-03-19 16:29] deniseschannon commented on #11356
@sangeethah with the changes to node pools, let's try and reproduce it as @zionwu has been unable to reproduce

[2018-03-19 16:36] galal-hussein commented on #11869
I am still getting the same error in the latest master at March 19th
[code]

[2018-03-19 16:47] superseb commented on #11540
`Database record has been changed` usually means the DB is under heavy load, what is the status on the server it is running on? Can you also check the Admin -> Processes view and see if and how many `Delayed` jobs there are?

[2018-03-19 16:49] superseb commented on #12143
There is not much we can do about this now, you can search through the issues but most likely parts of the solution will be in later versions anyway. Most of these components are partly or even completely rewritten (like the agent) so best advice is to setup a new Rancher install based on v1.6 and make sure you upgrade your stacks asap. If you have any questions on that, let me know.

[2018-03-19 16:49] #12143 closed

[2018-03-19 17:12] sangeethah opened #12154 "Errors relating to network policy seen when deleting projects."
Rancher server version - Build from master
Steps to reproduce the problem:
Created a cluster and added few projects and namespaces.
Had few users assigned to clusters as project owner/member and cluster owner/member.

Tried to delete the projects.
Projects and namespace deletion succeeded.
But following errors are seen in logs:

[code]

[2018-03-19 17:31] tfiduccia commented on #9482
Version - v1.6.15-rc8
Verified fixed

[2018-03-19 17:31] #9482 closed

[2018-03-19 17:55] tfiduccia commented on #7923
Version - v1.6.15-rc8
Verified fixed

[2018-03-19 17:55] #7923 closed

[2018-03-19 18:07] deniseschannon commented on #12061
I believe for cluster creation, we now automatically take any capital letters and lowercase them when creating clusters.

@tfiduccia can you confirm?

[2018-03-19 18:09] deniseschannon commented on #12063
The second error is actually a Docker Machine error, where Docker Machine doesnt' allow you to provision new nodes if a keypair already exists.

But we should look into why you can't use a specific IAM role to launch a node using Amazon EC2.

[2018-03-19 18:10] soumyalj commented on #11029
Tested with master. The following steps were performed :
Create a cluster with 3 nodes:
Step 1:
node1 - control
node2 - etcd
node3 - worker
Wait for cluster to become active and create workloads

Step 2:
Added 2 more nodes:
node4 - control
node5 - worker
Wait for cluster to become active and create workloads

Delete the control node(node1) that was added in the step 1 from the nodes list tab. The

[2018-03-19 18:10] #11029 closed

[2018-03-19 18:13] sangeethah opened #12155 "API - Should not be allowed to enable PSP for a project when PSP is not enabled at the cluster level."
Rancher versions: 2.0 build from master

Steps to reproduce the problem:
Create a cluster without enabling PSP.
Create project setting Default Pod Security Policy. This is allowed at this point.
But PSP does not take effect since PSP is not enabled at the cluster level.

API should not allow for PSP to set a project level in this case.

[2018-03-19 18:20] deniseschannon commented on #11846
@kingsd041 Does this work today in 1.6.15?

[2018-03-19 18:29] alena1108 commented on #11367
@zionwu I think private image should be a cluster level parameter as you can have diff registries per cluster.

Quick summary:

* Logging/alerting/pipeline system images get deployed in user clusters
* Some get deployed as daemonset

There should be 2 parts to the fix:

1) Do alert/logging imagepull secret ref population to the deployment specs assuming that the cluster level secret exists in all

[2018-03-19 18:56] deniseschannon commented on #11034
We've changed how nodes/node pools worked since the first preview drop.

@moelsayed if you see this panic next time, can you debug and try to fix it?

[2018-03-19 18:57] chriswastaken commented on #11609
Hey Sebastiaan, any way we might be able to get this updated? @superseb

[2018-03-19 19:06] deniseschannon commented on #11997
Kubernetes doesn't support Docker 17.12, so provisioning will not succeed.

Kubernetes only supports Docker 1.12.6, 1.13.1, and 17.03.x

[2018-03-19 19:06] #11997 closed

[2018-03-19 19:07] deniseschannon commented on #11037
I no longer see this as an issue with RKE, but instead only see this issue: https://github.com/rancher/rancher/issues/11443.

@tfiduccia can you try provisioning some nodes with node pools to confirm that during provisioning, it no longer gets red? I had only done 1 test case.

[2018-03-19 19:15] sangeethah commented on #11356
@soumyalj Can you try to see if this issue still repros with latest builds?

[2018-03-19 19:18] cjellick commented on #12131
@galal-hussein is this meant to represent the usecase where you could not properly paste in a certificate or the usecase where you were trying to enable TLS on a site with an expired certificate?
If its the paste issue, please assign to @westlywright. If its the expired certificate issue, can you retest against a site with a non-expired cert?

[2018-03-19 19:20] cjellick commented on #12054
Should be fixed with @nathan-jenan-rancher's user clean up code that was merged.
If you repro again, please keep the setup around for me to investigate

[2018-03-19 19:24] tfiduccia commented on #12061
This is in the Node Name for RKE.  All Node names in Node pool need to be lower-case (cause kubernetes).  Will forward to dev.

[2018-03-19 19:36] tfiduccia commented on #12086
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 19:36] #12086 closed

[2018-03-19 19:38] tfiduccia commented on #12056
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 19:38] #12056 closed

[2018-03-19 19:40] tfiduccia commented on #12003
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 19:40] #12003 closed

[2018-03-19 19:58] alena1108 opened #12156 "Generate kubeconfig using API"
Today kubeconfig is being generated by the UI. We should put generation to API level, as an action on the cluster.

[2018-03-19 20:12] sangeethah opened #12157 "When default PSP for a cluster/project is set to a different PSP , it continues to be attached to older PSPs."
Rancher server version - 2.0 Build from mar 19

Steps to reproduce the problem:
Create PSP1 - Allow privilege container deployment
Create  PSP2  - Do not Allow for privilege container deployment

Create a cluster with default psp set to PSP1
Create a project - P1 in this cluster with default psp set to PSP2

When pods are created in "Default" namespace  in "Default" project we are allowed to  crea

[2018-03-19 20:43] soumyalj commented on #11356
Tested with master from March19th build.
Created a single node(N1) cluster with ALL roles
Increased the node pool to two
Deleted the node N1
Another node got provisioned as expected.
After the cluster was active, the namespace tab was operational. New namespace creation and workload creation was successful.

[2018-03-19 20:43] #11356 closed

[2018-03-19 20:57] #1869 closed

[2018-03-19 21:17] tfiduccia commented on #11877
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 21:17] #11877 closed

[2018-03-19 21:18] tfiduccia commented on #11736
Version: 2.0 master 3/19
Verified fixed

[2018-03-19 21:18] #11736 closed

[2018-03-19 21:18] tfiduccia commented on #11610
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 21:18] #11610 closed

[2018-03-19 21:20] tfiduccia commented on #11728
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 21:20] #11728 closed

[2018-03-19 21:23] tfiduccia commented on #11729
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 21:23] #11729 closed

[2018-03-19 21:31] sangeethah opened #12159 "NPE seen when deleting PSP that are associated with cluster/namespace."
Rancher server version - 2.0 build from master

Steps to reproduce the problem:

Created PSP - psp1
Create a cluster with default PSP set to psp1.
Deploy workloads in projects created for these clusters.
Delete psp1.

I see the following NPE show up multiple time in the logs:

[code]

Also what should be the expected behavior in this case ?

Should we not be allowing PSP that are associated with a

[2018-03-19 21:34] vincent99 commented on #12129
Changed to one of:

`Logging in failed: Check credentials, or your account may not be authorized to log in.`
`Logging in failed: Your account may not be authorized to log in.`

depending on the auth provider.

[2018-03-19 21:41] tfiduccia commented on #11994
Version - 2.0 master 3/19
This is reproducible on a cluster that I just created.  The default namespace is showing up on the namespace page, but doesn't show up on Deploy Workload.

[2018-03-19 21:42] sangeethah commented on #11887
Tested with 2.0 build from master .

Pod security policies work as expected for non-default namespaces and projects when default PSP is set at cluster/project level.

[2018-03-19 21:42] #11887 closed

[2018-03-19 21:48] tfiduccia commented on #11726
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 21:48] #11726 closed

[2018-03-19 21:53] sangeethah commented on #11159
Tested with latest 2.0 builds.

PSP can be now be set at cluster level / project level . Issues found when testing this feature is tracked as different issues.

[2018-03-19 21:53] #11159 closed

[2018-03-19 21:57] nathan-jenan-rancher opened #12160 "Restrict project level PSPT modification"
Allow the ability to restrict modification of project level PSPTs.

Only users who have been granted specific permissions should be able to change the PSPT for a given project.

[2018-03-19 22:03] galal-hussein commented on #12131
@cjellick this is the paste issue, where i did paste the certificate but its being sent incorrectly to the API, i will assign to @westlywright

[2018-03-19 22:03] tfiduccia commented on #11037
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 22:03] #11037 closed

[2018-03-19 22:08] sangeethah opened #12161 "UI - Do not show "Default Pod Security Policy" for cluster and "Pod Security Policy" for projects for clusters other than RKE clusters."
Rancher versions: 2.0 build from master

Pod Security Policy is supported only for  Amazon EC2, Digital Ocean and Custom clusters.
Do not show "Default Pod Security Policy" for cluster and "Pod Security Policy" for projects for clusters other than RKE clusters.

[2018-03-19 22:13] sangeethah commented on #1859
This feature will be available in 2.0 release and is tracked as part of this issue - https://github.com/rancher/rancher/issues/11159

[2018-03-19 22:13] #1859 closed

[2018-03-19 22:40] tfiduccia commented on #12058
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 22:40] #12058 closed

[2018-03-19 22:41] tfiduccia commented on #11987
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 22:41] #11987 closed

[2018-03-19 22:41] tfiduccia commented on #11984
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 22:41] #11984 closed

[2018-03-19 22:42] tfiduccia commented on #11656
Version - 2.0 master 3/19

[2018-03-19 22:42] #11656 closed

[2018-03-19 22:51] tfiduccia commented on #11675
Version - 2.0 master 3/19
Importing yaml that I just exported doesn't work
![image](https://user-images.githubusercontent.com/11514927/37626415-35fe3bac-2b8d-11e8-9576-59f036bef0c4.png)

[2018-03-19 23:03] tfiduccia commented on #12074
The Generic image is good.  But can we please use the name of the driver instead of Generic for the text.  It's confusing if you have more than 1.
![image](https://user-images.githubusercontent.com/11514927/37626874-04b3b746-2b8f-11e8-92d3-21469593c4d2.png)

[2018-03-19 23:11] westlywright commented on #12131
rancher/rancher#1739

[2018-03-19 23:16] tfiduccia commented on #12153
@PatrickHuetter - clone has not yet been implemented.

[2018-03-19 23:21] tfiduccia commented on #11953
Version - 2.0 master 3/19
Verified fixed

[2018-03-19 23:21] #11953 closed

[2018-03-19 23:46] soumyalj opened #12164 "Worker node is stuck in registering state for a custom cluster"
**Rancher versions:**
rancher/server: Master build from March 19th

**Steps to Reproduce:**
1. Create a custom cluster with 3 nodes (Used Digital ocean hosts)
 N1 - Control node
 N2 - etcd node
 N3 - Worker node

Node N3 is stuck in registering state as below:

<img width="1272" alt="screen shot 2018-03-19 at 4 39 50 pm" src="https://user-images.githubusercontent.com/18536626/37627954-2f0b12c8-2b9

[2018-03-20 00:30] MadOtis commented on #2192
I know this is an old, closed bug, but like @johnrengelman and @OliDow, I have centralized Graylog server across multiple environments and it would be awesome to be able to change it back to UDP (I am using a TCP based raw input, just to get around the lack of a native UDP load balancer).  It works, but could be much more efficient and less work setting up.

[2018-03-20 00:36] sangeethah commented on #11378
Tested with latest build from 2.0 master:

When trying to access a deleted user (who was a cluster owner previously), following error message is presented:

[code]

[2018-03-20 00:36] #11378 closed

[2018-03-20 01:16] zlcolin commented on #9971
root@hs228151:~# docker ps
CONTAINER ID        IMAGE                             COMMAND                  CREATED
e99f1eb1b9f7        rancher/storage-nfs:v0.8.5        "start.sh storage ..."   14 hours ago
56f05f2eede7        rancher/net:v0.13.7               "/rancher-entrypoi..."   14 hours ago
6a832fce5247        rancher/net:v0.13.7               "/rancher-entrypoi..."   14 hours ago
1f3bf6a1c0

[2018-03-20 04:33] aemneina opened #12165 "piping data through websocket proxy breaks it, redirecting seems fine"
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent: v1.2.9
rancher cli: v0.6.7

**Docker version: (`docker version`,`docker info` preferred)**
17.12.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04 - 4.4.0-1049
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
aws

**Setup details: (single node rancher vs. HA rancher, internal

[2018-03-20 07:29] gitlawr opened #12166 "Error showing catalog detail page when the user lacks manage workload permission"
**Rancher versions:**
master 3/19

**Steps to Reproduce:**
1. Add a new user A as a standard user
2. Go to project member page, Add the user as a member in `default` project with all roles in custom except `Manage Workloads`
3. Log in as the user A, Go to `Catalog Apps` page, click any of the catalogs

**Results:**
![image](https://user-images.githubusercontent.com/5697937/37640947-b6150ce2-2c52-1

[2018-03-20 08:59] superseb commented on #11609
Changing the available sizes to ```Standard_A0,Standard_A1,Standard_A2,Standard_A3,Standard_A5,Standard_A4,Standard_A6,Standard_A7,Basic_A0,Basic_A1,Basic_A2,Basic_A3,Basic_A4,Standard_D1_v2,Standard_D2_v2,Standard_D3_v2,Standard_D4_v2,Standard_D5_v2,Standard_D11_v2,Standard_D12_v2,Standard_D13_v2,Standard_D14_v2,Standard_D15_v2,Standard_D2_v2_Promo,Standard_D3_v2_Promo,Standard_D4_v2_Promo,Standa

[2018-03-20 09:20] superseb commented on #11847
@mikekuzak You need to configure your cluster to allow unsupported Docker versions as show in the error:
[code]

[2018-03-20 09:21] superseb commented on #8100
Thanks for reporting back, please file a new issue if you still encounter issues.

[2018-03-20 09:21] #8100 closed

[2018-03-20 09:33] gun1x commented on #11847
@superseb  @mikekuzak  the error for the unsupported version of docker can be bypassed by allowing unsupported docker version from the Rancher config. However, no matter the docker version (supported or unsupported), you will still get this error when trying to add multiple worker nodes.

[2018-03-20 09:55] superseb commented on #11847
I just added multiple worker nodes without an issue on alpha21. Can you file a new issue with steps to reproduce so we can investigate?

[2018-03-20 09:57] aiwantaozi commented on #12063
Hi @ispyinternet , as noted in the AWS IAM documentation, you are running against the eventual consistency nature of the IAM service.
https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency

As a service that is accessed through computers in data centers around the world, IAM uses a distributed computing model called eventual consistency

[2018-03-20 10:03] gun1x commented on #11847
@superseb what OS and what docker version did you use?

[2018-03-20 12:04] ValentinOdier commented on #10841
Hi,

your query now returns 73K items with currently 85K "purged".

Is there something i can do ?

[2018-03-20 13:33] colinwilson commented on #11301
I upgraded to v1.6.15 a couple of days ago and the issue seems to be resolved now.

![2018-03-20 13_30_58-rancher](https://user-images.githubusercontent.com/12916656/37657488-04c62f16-2c43-11e8-829f-037bc04fb502.png)
_ipsec-ipsec-router-*_ after 48hrs

[2018-03-20 15:57] lovedigit opened #12167 "Unable to access Rancher Kubernetes dashboard UI after upgrading to v1.8.9 - Error: Service Unavailable"
**Rancher versions:**
rancher/server: v1.6

rancher/agent: v1.2.9

**Infrastructure Stack versions:**
healthcheck: v0.3.3-1
ipsec: v0.2.2
network-services: v0.2.8
kubernetes (if applicable): v1.8.9

**Docker version: (`docker version`,`docker info` preferred)**
Containers: 319
 Running: 318
 Paused: 0
 Stopped: 1
Images: 108
Server Version: 17.12.0-ce
Storage Driver: overlay2
 Backing Filesystem:

[2018-03-20 15:59] superseb commented on #12167
You can follow the following order to see where the problem is:

1. Check if etcd is healthy by running `etcdctl cluster-health` in the etcd containers
1. Check if nodes are reporting as Ready by using `kubectl get nodes`
1. See addon pod status using `kubectl get pods -n kube-system`

[2018-03-20 16:05] lovedigit commented on #12167
Ok, here are the results:

1. `etcdctl cluster-health` returned healthy:
[code]
2. and 3.
![2018-03-20_21-34-16](https://user-images.githubusercontent.com/12512448/37666878-9c714bbe-2c86-11e8-83cc-d30111677bcf.jpg)

[2018-03-20 16:21] superseb commented on #12167
The host verum is running a kubelet container, the logging of that container should show why it cannot join the kubernetes cluster.

[2018-03-20 16:30] lovedigit commented on #12167
This is the error message on log of kubelet container:
[code]

[2018-03-20 16:53] akking opened #12168 "Not use private IP address when add host use Azure driver"
**Rancher versions:**
rancher/server: 1.6.15

**Steps to Reproduce:**
Add a host through UI, select Azure. Check "Use Private IP to Connect" and select Public IP with "None". The host is provisioned successfully but the IP address reported is "52.173.253.208" which I don't where is come from.

**Results:**
healthcheck service fails, ipsec flaps. And log from ipsec-ipsec-router shows:

[2018-03-20 16:54] sangeethah commented on #11127
Tested with latest 2.0 build from master.

cluster owners now has the ability to add/remove member for the cluster.
"Manage Projects" and "Manage All Clusters" roles  are not present any more.

[2018-03-20 16:54] #11127 closed

[2018-03-20 17:04] angelbulasglober commented on #12125
Hi, any comment about this?

[2018-03-20 17:12] #10968 closed

[2018-03-20 17:18] superseb commented on #12125
Can you share the log when it is not added? The logs from directly after running the `docker run` command and the complete output of `docker logs rancher-agent`.

[2018-03-20 17:32] lovedigit commented on #12167
Any suggestions how to fix this? I can access rancher-metadata from other docker stacks on the same host, but kubelet doesn't resolve rancher-metadata

Is there a way to reinstall kubernetes on rancher without affecting existing docker containers?

[2018-03-20 18:05] tfiduccia commented on #11933
Version - 2.0 master 3/20
Verified fixed

[2018-03-20 18:05] #11933 closed

[2018-03-20 18:28] tfiduccia commented on #11205
Version - 2.0 master 3/19
UI redone for this section and this is no longer valid.

[2018-03-20 18:28] #11205 closed

[2018-03-20 18:43] sangeethah commented on #11147
Rancher versions: Build from latest master

Steps to reproduce the problem:

1. Created a custom Role by granting access to namespace , pod and deployment
2. Added a standard user with this custom role to an existing project.
3. User is able to deploy deployments successfully. But gets a 403 forbidden error when trying to deploy statefulset.
4. Edit the  custom Role  and granting access to statefu

[2018-03-20 18:43] #11147 closed

[2018-03-20 18:43] tfiduccia commented on #11751
Version - 2.0 master 3/19
Verified fixed

[2018-03-20 18:43] #11751 closed

[2018-03-20 18:59] jonathascarrijo commented on #11142
Same happening to me, out of nowhere (I just added some new hosts and scaled up some services). Causing my load balancers to never finish initializing. Production environment affected. I need a workaround!

[2018-03-20 19:16] sangeethah opened #12169 "Ingress Address is not getting populated."
Rancher server version - 2.0 build from master

Setup - Cluster with 3 DO nodes
Steps to reproduce the problem:
Create a workload of type daemonset.
Create an Ingress with rule pointing to this workload.
Ingress is functional from all the 3 node ip address and is able to reach all 3 targets.

When viewing this ingress from kubectl , address is not being populated in the ingress object created.
[co

[2018-03-20 19:17] sangeethah commented on #11777
Rancher server version - 2.0 build from master

Setup - Cluster with 3 DO nodes
Steps to reproduce the problem:
Create a workload of type daemonset.
Create an Ingress with rule pointing to this workload.
Ingress is functional from all the 3 node ip address and is able to reach all 3 targets.

[2018-03-20 19:34] jonathascarrijo commented on #10397
Same thing happened to me while running Rancher on a RancherOS machine.
I was using binding, which can be verified in the output of docker inspect:
[code]
I was trying to solve issue #11142 , and someone suggested I restarted rancher.
I first did a docker restart to the rancher container, which didn't solve my problem (but didn't erase my configurations either).
Then I tried to reboot the server (

[2018-03-20 19:56] do-web opened #12170 "Influxdb not starting"
Influxdb not running:

Error: influxdb not starting

**Rancher versions:**
rancher/server: latest
rancher/agent: v1.2.10

**Infrastructure Stack versions:**
healthcheck: v0.3.6
ipsec: rancher/net:holder
network-services: rancher/metadata:v0.10.2
scheduler: rancher/k8s:v1.9.4-rancher1-1
kubernetes (if applicable):

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"9

[2018-03-20 20:02] warroyo commented on #9724
I have started seeing this on `1.6.14` and network services `0.2.8` my environment has about 24 hosts.

the issue I am seeing is that when this happens the metadata service then returns "Not Found" when querying it.

is there a way to increase workers for the metadata service?

[2018-03-20 20:11] larscheidt opened #12171 "[cli] rancher up --pull reports success when image pull fails"
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent: v1.2.9
rancher/cli: v0.6.7

**Infrastructure Stack versions:**
healthcheck: N/A
ipsec: N/A
network-services: N/A
scheduler: N/A
kubernetes (if applicable): N/A

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:         1.12.6
 API version:     1.24
 Package version: docker-1.12.6-71.git3e8e77d.el7.centos.1.

[2018-03-20 20:45] #11777 closed

[2018-03-20 20:48] tfiduccia commented on #11674
@Kishijoten - We no longer offer Azure through RKE.  We now offer Azure Container Service, the acs creates a single security group per cluster.

[2018-03-20 20:57] galal-hussein commented on #12131
Rancher server: master at March 20th

I was able to verify that rancher server can be configured with AD TLS

[2018-03-20 20:57] #12131 closed

[2018-03-20 21:30] tfiduccia commented on #8727
Version - 2.0 master 3/19
Verified fixed (this is updatable in the 2.0 product)

[2018-03-20 21:30] #8727 closed

[2018-03-20 21:36] vincent99 commented on #10397
@jonathascarrijo The default RancherOS console is ephemeral, and only [specific directories](http://rancher.com/docs/os/v1.2/en/configuration/switching-consoles/#console-persistence) are persisted and survive a reboot.

[2018-03-20 21:37] deniseschannon commented on #10874
Closing in favor of #11039

[2018-03-20 21:37] #10874 closed

[2018-03-20 21:39] deniseschannon commented on #11363
Images are now consolidated to use rancher/types for 2.0 and 1.6.

[2018-03-20 21:40] deniseschannon commented on #11363
Now that the images are consolidated, we need to create a script that allow us to pull these images and push them into the Dockerhub/Rancher repo.

[2018-03-20 21:48] tfiduccia commented on #11840
Removed the drop-down arrow so the Name field is no longer a drop-down.  You have to type to see users.

[2018-03-20 21:48] #11840 closed

[2018-03-20 21:58] alena1108 opened #12174 "Enable public endpoints on ingress"
We should populate public endpoints on ingress, similar to workload

[2018-03-20 22:03] tfiduccia commented on #11492
Version - 2.0 master 3/19
All three scenarios have passed.

[2018-03-20 22:03] #11492 closed

[2018-03-20 22:10] superseb commented on #11142
Like mentioned before:

[code]

If you experience issues, report a new issue with the used versions and behavior so we can investigate.

[2018-03-20 22:17] sangeethah opened #12175 "Not able to log in to rancher server setup after a while."
Rancher server version - 2.0 Build from master

Steps that lead to the problem:
Had a setup with 2 clusters.
Both clusters had few workloads deployed in them.

After a while of having the setup running , now I am not able to log in to the setup at all.

Following is the last set of logs:
[code]

[2018-03-20 22:19] sangeethah commented on #12175
@cjellick mentioned that he had debugged a similar issue on one of the demo instances
His analysis:

[code]

[2018-03-20 22:20] tfiduccia commented on #12020
Shows local user icon still until refresh.  After refresh it showing github icon
![image](https://user-images.githubusercontent.com/11514927/37685756-ddc10792-2c51-11e8-97df-53d459eff4c7.png)
![image](https://user-images.githubusercontent.com/11514927/37685776-f21f92bc-2c51-11e8-98ce-ad6c94c094e1.png)

[2018-03-20 22:24] soumyalj opened #12176 "Powered OFF node in custom cluster should not be in active state"
**Rancher versions:**
rancher/server: Master from March 20

**Steps to Reproduce:**
1. Create a 3 node custom cluster with ALL roles on each node using digital ocean hosts
2. Wait for the cluster to become active
3. Power OFF one of the nodes(N1)

After a node is powered OFF, the cluster is in "Unavailable" state but the node(in nodes tab) is still in active state.
<img width="1310" alt="screen sh

[2018-03-20 22:27] angelbulasglober commented on #12125
Hi, here are the logs and the images
[logs.txt](https://github.com/rancher/rancher/files/1831443/logs.txt)
![logs1](https://user-images.githubusercontent.com/37418472/37686066-84326158-2c5b-11e8-938f-61e785a8d207.jpg)

[2018-03-20 22:32] chriswastaken commented on #11609
Absolutely.

[2018-03-20 22:36] deniseschannon commented on #10024
We do not plan on supporting retainIP for services/workloads in Rancher v2.0.

[2018-03-20 22:36] #10024 closed

[2018-03-20 22:46] sangeethah commented on #12175
Tried to stop and start the rancher-server to see if it would recover from this state.
This did not help either.

Even after this , not able to log into the server.

[2018-03-20 23:03] StrongMonkey commented on #11443
@deniseschannon are you complaining about the color or the error message words?

[2018-03-20 23:08] alena1108 commented on #11994
Can't reproduce, steps taken (was specifically trying to avoid UI refresh):

1) Go to Global view, Create cluster, Chose import, copy command, get back to Global page
2) Execute the command on the cluster side, wait for the cluster to appear and become active on the Global page
3) Go to project view under the cluster, hit workload create. Default namespace is presented in the namespaces dropdown.

[2018-03-20 23:15] tfiduccia commented on #11994
Version - 2.0 master 3/19
Timing issue between project and namespace creation (very small window)

[2018-03-20 23:15] #11994 closed

[2018-03-20 23:58] StrongMonkey commented on #11723
should be much better now. would need less than 10 seconds to load all the templates now.

[2018-03-21 00:00] StrongMonkey commented on #11550
this feature would come along with compose support. The compose file format would totally change based on rancher 2.0 API.

[2018-03-21 02:05] obriensystems opened #12178 "Create new k8s builds due to subPath regression in Kubernetes 1.8.9 and 1.9.4"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: ?

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
17.03
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu 16.04
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

[2018-03-21 02:35] deniseschannon commented on #11443
I'm complaining that it looks like we failed at provisioning after the containers running rke components are launched and we're just waiting for them to start up. We should be still in a "provisioning" state while we wait for the api to be available.

[2018-03-21 03:36] gitlawr commented on #11946
Didn't reproduce with master 3/19. I wonder if it is caused by stale data?

[2018-03-21 03:59] biblesyme commented on #11946
Verified with master 3/19. Maybe it caused by stale data.

[2018-03-21 03:59] #11946 closed

[2018-03-21 05:28] jinhong- opened #12179 "Show/Hide CLI page for Kubernetes"
v1.6.14
CLI Page shows for all users, regardless of role assigned. This would mean that even if RBAC has been configured, user can still download CLI config to gain full access to the k8 cluster. Is there any way to hide the CLI page for specific roles?

Also, setting user to Read Only will cause a 503 error on url {host}/kubernetes/version, which prevents the page from loading the Dashboard UI li

[2018-03-21 06:29] loganhz commented on #12161
Removed `Default Pod Security Policy` when creating `Azure AKS` and ``Google GKE` clusters.

Removed `Pod Security Policy` in project new/edit pages of `none` rke clusters.

[2018-03-21 07:23] gitlawr opened #12180 "Standard users cannot list pipelines"
**Rancher versions:**
master 3/21

**Steps to Reproduce:**
1. Enable pipeline in the cluster
2. Add a standard user A
3. set the user to be the owner of the cluster and the project
4. Log in as user A and go to pipeline list pages

**Results:**
The page shows `Pipeline is not enabled` though it is enabled actually.
![image](https://user-images.githubusercontent.com/5697937/37698021-7143ae06-2d1b-1

[2018-03-21 07:24] leodotcloud commented on #11503
Proposed changes:
- https://github.com/rancher/agent/blob/v1.6/core/image/image.go#L103: Need to read the error message from stderr, instead of stdout.
- To be continued

[2018-03-21 07:29] biblesyme commented on #12180
<img width="1436" alt="screen shot 2018-03-21 at 15 28 14" src="https://user-images.githubusercontent.com/9334435/37698223-94a8a828-2d1c-11e8-8ab3-16510b940c15.png">

the standard user has no access to the `clusterPipeline`

[2018-03-21 07:32] aiwantaozi commented on #10980
@galal-hussein Is there any other entry user could set the unschedule, or when user select only etcd role for the node then rke will automatically set unschedule?

I  check the node with only etcd role now will have taints like below, is this what you want to add to node, and let UI show?
[code]

[2018-03-21 07:39] leodotcloud commented on #11509
- ValidationHandler.java

[2018-03-21 07:53] leodotcloud commented on #11512
https://github.com/rancher/cattle/blob/v0.183.45/code/iaas/service-discovery/server/src/main/java/io/cattle/platform/servicediscovery/deployment/impl/unit/DefaultDeploymentUnitInstance.java#L201

Need to check if its possible to retrieve any failure message of the instances from the db and propagate in the message.

[2018-03-21 07:55] leodotcloud commented on #11513
https://github.com/rancher/cattle/blob/v0.183.45/code/iaas/service-discovery/server/src/main/java/io/cattle/platform/servicediscovery/deployment/ServiceDeploymentPlanner.java#L168

There are multiple reasons which qualify for service reconcile. Instead of just returning True/False, may be we can associate a message for each condition and return which can then be shown in the error message in UI.

[2018-03-21 08:21] kingsd041 commented on #11846
@deniseschannon Hosts can be added in v1.6.15 but still fail in v1.6-development

[2018-03-21 08:26] VAdamec commented on #11486
Security list was added via terraform, all 2 all, also for stateless and seems to works. manuals etup via web ui seems not working correctly.

[code]

[2018-03-21 08:26] #11486 closed

[2018-03-21 08:40] poweroftrue opened #12181 "Docker volume suddenly vanished [volume data completely lost]"
**Rancher versions:**
rancher/server:v1.6.14
rancher/agent:v1.2.9

**Infrastructure Stack versions:**
healthcheck:v0.3.3
ipsec:v0.13.7
network-services:v0.7.19
scheduler:v0.8.3

**Docker version: (`docker version`,`docker info` preferred)**
17.09.0-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

NAME="Ubuntu"
VERSION="16.04.3 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIK

[2018-03-21 09:16] biblesyme opened #12182 "Create Github Webhook fail"
**Rancher versions:**
21/3 master

**Steps to Reproduce:**
Create a Pipeline and try to set webhook trigger.
**Results:**
Fail to create Pipeline in Github repository.

[2018-03-21 09:17] kwaio commented on #11951
Actually, from my tests, the rules do not seem to be enforced.
I had service A (2ct) and B (1ct) :

My rules say

1.  A should not be with A (auto-anti-affinity)
2.  A should not be with B (soft anti-affinity)

And rancher did schedules both A containers on the same host. Unless I misunderstand how it's supposed to work, the rules weren't enforced properly.

[2018-03-21 09:26] exocode commented on #10384
for those who run into the same problems. I am experimenting with a own rancher-compose.yml and docker-compose.yml which seems to start successfully (connection to a container not tested yet).

In order to get it working I removed the exposing ports (these made problems) as well I updated the mongodb image to version 3.6. My next steps are to manage a persistent storage based on xfs instead of ext

[2018-03-21 09:26] loganhz commented on #11614
@vincent99 I think this is a backend issue?
UI shows `enabled` as backend returns `20X` in this case.

[2018-03-21 10:12] tknecht commented on #10700
mysql-server-5.7

We are using Rancher more as Orchestration tool for single instances of sensors that are spread world wide. So we do not use any of the Network Stack Stuff or anything else. We run between 1 and 4 docker containers on each of the 150 machines.

[2018-03-21 10:35] superseb commented on #10700
I'm not sure what specifications your DB server has, but I would recommend scaling the amount of hosts running `rancher/server` (HA) and check cpu/mem/disk io on the DB server.

[2018-03-21 10:37] superseb commented on #11614
I believe the admin credentials are not used, so they are not needed. @aemneina can clarify on this case.

[2018-03-21 12:29] superseb commented on #12178
This is due to a regression in k8s: https://github.com/kubernetes/kubernetes/issues/61076. We are currently running tests on the new builds. (1.8.10 and 1.9.5)

[2018-03-21 12:31] leibowitz opened #12183 "Unable to upgrade/edit load balancer (haproxy) config from rancher UI"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: 1.2.9

**Infrastructure Stack versions:**
healthcheck: haproxy rancher/healthcheck:v0.3.3
ipsec: rancher/net:v0.13.7 - rancher/net:holder
network-services: rancher/network-manager:v0.7.19 - rancher/metadata:v0.9.5
scheduler: rancher/scheduler:v0.8.3
kubernetes (if applicable): using cattle

**Docker version: (`docker version`,`docker info

[2018-03-21 13:18] superseb commented on #12170
Usually caused by a misbehaving DNS server that resolves `localhost` to itself (wildcard or actual record). See https://github.com/kubernetes/heapster/issues/1804

Can you try the fix (setting a proper nameserver) and see if that solves it? If not, please report back and we can investigate.

[2018-03-21 13:18] #12170 closed

[2018-03-21 13:24] aiwantaozi commented on #10980
Hi @vincent99 Once the only etcd node is ready, it will have traint: NoExecute, the node api will also have the struct below, is this ok for UI to show unschedule?
[code]

The whole body here

[code]

[2018-03-21 13:45] akking commented on #12168
No very sure it's Rancher gets the wrong IP address from Docker Machine Azure driver or Rancher not uses the private IP. Some guide of where I can find the source code to these part is greatly appreciated. Thanks.

[2018-03-21 14:13] manokaran3529 opened #12184 "Rancher kubernetes kube-apiserver flags"
Hi All,

Is there a way to add additional kube-apiserver flags to the k8s environment template. Basically, we need to set kube-apiserver OIDC flags to the api-server for OIDC authentication for our K8s env. Right now we have option only for adding kubelet flags.

**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: v1.2.9

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-servi

[2018-03-21 15:06] jgreat opened #12185 "Confusing error messages for pod errors."
Rancher displays error message "Deployment does not have minimum availability." instead of something like Image Not Found.

In Kubernetes, `kubectl get pods` shows `ImagePullBackOff`  this is a better short status message than what rancher is showing.

[code]

It would be even better if I can see the Events list from `kubectl describe pods` somewhere when I drill into the pod/container screen (Thi

[2018-03-21 15:25] jgreat opened #12186 "Admins should be able to create and control Node Templates"
In a lot of enterprise environments allocation of resources is controlled by an operations group.  They are responsible for setting up and maintaining all the underlying infrastructure in the cloud, managing costs, etc...

Users of envionments (developers, qa, sec...) might not know and maybe should not need to know the details required to set up a node template.

As a Global Admin I want to set u

[2018-03-21 15:43] jgreat opened #12187 "Add Project identifier to the name of objects created in in a project"
**Rancher versions:**
rancher/server: v2.0.0-alpha21

I'd like to suggest adding a project identifier to the name of all the objects under a project. namespaces, deployments, etc...

Kubernetes already follows this pattern.  You name a Deployment and it creates a ReplicaSet with the Deployment name and a unique ID. That replicaSet ID gets passed down to the pod names.

This will allow us to avoid

[2018-03-21 15:45] rv-cdiaz commented on #8740
Would love to see this!

[2018-03-21 15:52] JeremyBesson opened #12188 "Rancher api answer service state "Removed" when docker state is "Removal in progress""
**Rancher versions:**
rancher/server: 1.6.10
rancher/agent:  1.2.6

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec: v0.11.9
network-services: v0.7.8
scheduler: v0.8.2

**Docker version:**
[code]

**Operating system and kernel:**
Ubuntu 16.04.3 LTS

**Type/provider of hosts:**
Bare-metal

**Setup details:**
single node rancher

**Environment Template:**
Cattle

**Steps to Reproduce:**

[2018-03-21 16:41] alena1108 commented on #12185
@jgreat we currently just proxy whatever information k8s sets on the deployment. Kubectl does extra calls- it displays the events for the pods in addition to fetching the deployment object.

@vincent99 do you think it would make sense to fetch cluster events for the pod, and display it in the UI?

[2018-03-21 16:55] superseb opened #12189 "[external-lb] Make polling interval configurable"
pollInterval and forceUpdateInterval are static and can overload the API that needs to be checked.

https://github.com/rancher/external-lb/blob/master/main.go#L21-L23

[2018-03-21 17:00] westlywright opened #12190 "Secrets (Environment From) variables are not saving on new workloads"
**Rancher versions:**
rancher/server: master  as of 3/20

**Steps to Reproduce:**
1. Ensure you have at least 1 existing secret created
2. Navigate to the Launch Workload page
3. Open the environment variables accordion and select the `Add From Source` button
4.  Select a secret from the source dropdown
5. Select All or a key from the key dropdown
6. *Optionally* Select a prefix or add an alias fo

[2018-03-21 17:15] deniseschannon commented on #8740
This is available in Rancher 2.0. Ability to have local users as well as authenticate for other providers.

[2018-03-21 17:52] vincent99 commented on #12187
This is not practical.  Namespaces, Deployments, etc names are part of the DNS tree.  Generated names can't be hidden because you'd need to know them to communicate between workloads.

[2018-03-21 18:12] deniseschannon commented on #8020
Available with Rancher CLI v0.6.9-rc1, please test restricted users ability to view logs as well as exec into containers.

[2018-03-21 18:35] alena1108 commented on #9123
@deniseschannon hit similar issue on metadata:v0.9.3, Rancher v1.6.7. Looks like metadata ran out of memory, given the goroutine dump print outs:

[code]

[2018-03-21 18:44] AndrewSav opened #12192 "rancher/container-crontab support for time zones"
rancher/container-crontab seems to accept schedules in UTC only.
[Some people suggest](https://github.com/gliderlabs/docker-alpine/issues/136#issuecomment-341172222) that having tzdata installed in the container helps with that.

I did not try setting TZ, but doing [cp /usr/share/zoneinfo/Europe/Berlin /etc/localtime](https://github.com/gliderlabs/docker-alpine/issues/136#issuecomment-341172222) i

[2018-03-21 18:47] dublinus commented on #11847
Having the same issue on alpha21. Recreating the cluster while allowing unsupported Docker versions did create the cluster correctly. It would be nice if there were an error.

[2018-03-21 19:36] leodotcloud commented on #9971
[code]

This is not an error! This message can be ignored.

[2018-03-21 20:11] Mansarde commented on #7506
+1

[2018-03-21 20:33] deniseschannon commented on #11464
@dramich Now that this is available in the API (https://github.com/rancher/rancher/issues/12156), we should be able to retrieve it for CLI.

[2018-03-21 20:40] jgreat commented on #12187
That's a good point.  We also have that problem with the randomly generated namespaces created when you deploy a catalog twice.  I don't think we can expect users to understand why they can't deploy a catalog to their project because someone has already taken the namespace.

If you a relying on something like db.mysql.svc.cluster.local to exist it going to cause all sorts of confusion and issues.

[2018-03-21 20:55] vincent99 commented on #11754
I don't see any reason to restrict the charset of the username, unless they're indexed somewhere (which would mean a-z lowercase 0-9 and hyphen only)...

[2018-03-21 21:00] sangeethah opened #12193 "Not able to load the project page for a very long time and after it loads creating workloads get stuck in "saving...""
**Rancher versions: 2.0 Build from master

**Steps to Reproduce:**
Had a 3 node cluster with few projects and  namespace.
Also had few workloads deployed in the projects.
After a while , loading the project page starts taking a very long time .
In my case it takes up to a minute or sometimes more.

And eventually when  project page loads up, creating workloads get stuck in "saving..."  state for a

[2018-03-21 21:24] soumyalj commented on #11189
Tested with master from March 20 build. Created a 3 node cluster with ALL roles on each of them.
When a node is Powered OFF it goes to `Unavailable` state and a new node gets provisioned.
When a node is deleted a new node gets provisioned.

[2018-03-21 21:24] #11189 closed

[2018-03-21 21:42] leodotcloud opened #12195 "error adding a node to "custom" cluster in 2.0"
running rancher with commit: 4bae9a34

Started fresh local cluster, adding a node I see the following error happening 3 times in a row.

[code]

[2018-03-21 21:45] orangedeng commented on #11315
@alena1108 @gtirloni I can not reproduce this issue. I am using master branch to test it.

[2018-03-21 22:01] sangeethah commented on #12193
[project-stuck.tar.gz](https://github.com/rancher/rancher/files/1835397/project-stuck.tar.gz)

[2018-03-21 22:06] StrongMonkey commented on #11443
what do you think @vincent99? Seems like we did this for a reason: if the cluster is unavailable then we show red alert. The transitioning is set to `yes` so i guess you add that red flag for a reason.

[2018-03-21 22:21] sangeethah opened #12196 "UI - Only 1 endpoint link shown in UI for workloads created with publish on "every node"."
Rancher versions: 2.0 Build from master

Setup - Cluster with 3 nodes

**Steps to Reproduce:**

Create a work load withe following port option:

<img width="1296" alt="screen shot 2018-03-21 at 3 04 25 pm" src="https://user-images.githubusercontent.com/4266958/37740514-44c37910-2d1b-11e8-82b8-45edb3206bbe.png">

Only 1 port on one of the hosts  is shown in the UI

<img width="1274" alt="screen sho

[2018-03-21 22:32] StrongMonkey opened #12197 "add Q&A for helm catalog"
Feature:
User can define a custom questions.yml under the root directory of a helm chart, like https://github.com/StrongMonkey/rancher-charts/blob/master/charts/kube-lego/questions.yml. The format will follow [1.6 style](http://rancher.com/docs/rancher/v1.6/en/catalog/private-catalog/#questions-in-the-rancher-composeyml). Both api and ui are able to display those options to end users.

Example of

[2018-03-21 22:34] vincent99 commented on #12196
This is intentional.  It's a single link to get you to that port, not an exhaustive list of all 100 ways you _could_ get to it.

[2018-03-21 22:42] vincent99 commented on #12187
You can use a cname entry in the namespace to abstract it from the rest of the application knowing, but this is how "linking" works now because there is no first-class links in k8s.

Catalog items do not generally refer to one another, and can't assume what name they'll be deployed as.  You can set the namespace name to whatever you want, it's one of the options when deploying it.  You can even de

[2018-03-21 23:45] vincent99 commented on #12152
No; the default is that there is no healthcheck, and the defaults once you turn it on in are in the UI code and not configurable.

[2018-03-22 00:02] tfiduccia opened #12200 "workload UI issues"
**Rancher versions:** 2.0 master 3/21

**Steps:**
1.  Create a workload
2.  Click on workload name to see details page

**Results:**

- [x] - & + for Scale is mushed together
![image](https://user-images.githubusercontent.com/11514927/37743773-ffeb4b02-2d28-11e8-8574-f527073a1e5d.png)

- [x] Weird "Environment Variables From Source" section that isn't a section and has a Add from Source button on

[2018-03-22 00:13] tfiduccia opened #12201 "Pod's Detail page UI issues"
**Rancher versions:** 2.0 master 3/21

**Steps to Reproduce:**
1.  Create a workload with at least 1 pod
2.  Click on Pod name to go to details page

**Results:**

- [x] "Connecting...." text floating by pod name
![image](https://user-images.githubusercontent.com/11514927/37744136-cbc3e1fc-2d2a-11e8-8526-84f5e8ebe911.png)

- [x] No darker blue line to break up Image and Ip address (like we have fo

[2018-03-22 00:24] tfiduccia opened #12203 "Members/created role is not showing up properly in members list page when added through Add/edit cluster"
**Rancher versions:** 2.0 master 3/21

**Steps to Reproduce:**
1.  Create a Role with context = All
2.  Go to Add Cluster or Project
3.  In Member Roles section add user with the created role
4.  Go to Members list page

**Results:** Role is not showing up in the members list page.  If I add the member from Add Member instead of Add Cluster or Add Project, it seems to work fine.
![image](https://u

[2018-03-22 00:48] #12007 closed

[2018-03-22 02:39] moelsayed commented on #11847
This is tracked in https://github.com/rancher/rancher/issues/12147

[2018-03-22 03:33] JayHaoDing commented on #8020
Verified OK with Rancher CLI v0.6.9-rc1, thanks for the work

[2018-03-22 04:46] gigi-at-zymergen opened #12204 "Creating a rolebinding with ldap_group subject doesn't grant members the permissions of the role"
I have been trying to configure RBAC rolebindings with AD ldap_groups, but members of the groups don't get the privileges of the role in the namespace.

I don't seem to have any problem with AD Users as subjects.

For purposes of demonstration I am using the built-in Kubernetes `edit` role.

Example rolebinding with one of my AD users as Subject:
[code]
Impersonating him:
[code]

Example using the

[2018-03-22 05:12] chrodriguez commented on #9292
I've found our problem.  It seems to be a proxy problem. We solved this issue not using proxy for accesisng nodes machines network

[2018-03-22 06:26] tfiduccia commented on #12074
Version - 2.0 master 3/21
Verified fixed

[2018-03-22 06:26] #12074 closed

[2018-03-22 06:31] kingsd041 commented on #8020
@deniseschannon
CLI v0.6.9-rc1 is available in Windows environments.

[2018-03-22 06:49] zhxqgithub commented on #6922
+1 have the same issue on 17.03.2-ce

[2018-03-22 07:29] HuiAz opened #12205 "Path /var/lib/kubelet is mounted on / but it is not a shared mount."
*Describe your issue here*
centos7 , Docker version 1.12.6

[workerPlane] Failed to bring up Worker Plane: Failed to start [kubelet] container on host [192.168.115.102]: Error response from daemon: linux mounts: Path /var/lib/kubelet is mounted on / but it is not a shared mount.
--
and I have edit /etc/systemd/system/multi-user.target.wants/docker.service and set MountFlags= (no value) , I still h

[2018-03-22 08:06] mxschmitt commented on #12113
In my test environment, where I deployed Rancher 2 there was some strange behavior. The URL was redirected to an invalid one. Example:
`https://example.com/component.js` => `https:/example.com/component.js`

[2018-03-22 08:54] jzandbergen commented on #9322
@superseb `.local` is a proper TLD. The problem lies within golang and thus rancher not (m)DNS. To expect one to overhaul their entire infrastructure as a workaround seems a bit much to me.

[2018-03-22 09:11] vincent99 commented on #9322
It is a _special_ TLD, [reserved](https://tools.ietf.org/html/rfc6762#section-3) for multicast DNS, which defines special behavior to query different servers.  Unless your NFS server is advertised by a mDNS server and resolves to 169.254.x.x, it is not "proper" usage of it, and the version of golang our code is compiled with cannot resolve them.

[2018-03-22 09:20] m4ce commented on #10024
@deniseschannon - sorry to comment over a closed issue. Is there a reason why it will no longer be supported?

[2018-03-22 09:41] aiwantaozi commented on #11039
It seems fix now, I use https://github.com/janeczku/docker-machine-vultr/releases/download/v1.4.0/docker-machine-driver-vultr-Linux-x86_64 to create a node driver, it could show in the driver page and add cluster page.

![image](https://user-images.githubusercontent.com/5936271/37762745-2c005e60-2df8-11e8-9759-1a061a0d556b.png)
![image](https://user-images.githubusercontent.com/5936271/37762768-3a

[2018-03-22 09:52] jzandbergen commented on #9322
@vincent99 IMHO `.local` is ONLY a special TLD when RFC6762 (mDNS) is implemented. There is no notion of the `.local` zone in neither RFC1034, RFC1035 or RFC6195 nor is there a notion in those RFC's about RFC6762.

So ok, Rancher is dependant on strict RFC6762 (strict because: `Implementers MAY choose to look up such names concurrently via other mechanisms (e.g., Unicast DNS) and coalesce the resu

[2018-03-22 10:18] jean-francois-labbe commented on #7324
I have this issue and this is super annoying. I order to upgrade a service you need to kill containers, this makes rollback impossible.

If I wan't it to always work I have to set lower memory reservation that do not reflect what's needed and risk to crash a server.

I need memory restrictions but I also need proper service upgrade.

[2018-03-22 10:50] aiwantaozi commented on #10888
The latest relase have this issue
https://github.com/packethost/docker-machine-driver-packet/issues/22

I use the old release, and it could work. https://github.com/packethost/docker-machine-driver-packet/releases/download/v0.1.4/docker-machine-driver-packet_linux-amd64.zip

[2018-03-22 11:09] superseb commented on #9292
Thanks for reporting back @chrodriguez !

[2018-03-22 11:09] #9292 closed

[2018-03-22 11:24] vincent99 commented on #9322
There is a warning in the UI if you try to use `.local` for the host registration URL, but not for every possible place an address can go.  The rest is academic, but:

RFCs are (roughly) sequentially numbered and individual memos do not change after they are "done".  The DNS spec (1034/5) is from the 1980's.  Multicast in general didn't even exist (or wasn't standardized) yet (1112).  Obviously it

[2018-03-22 11:59] jzandbergen commented on #9322
Ok, understood. Thank you very much for taking the time for a thorough explanation. Now I know what the culprit is I can search for a nice workaround :+1:

[2018-03-22 13:18] superseb opened #12207 "Allow or block adding certificate key other than RSA key"
**Rancher versions:**
rancher/server: v2.0.0-alpha21

Cloudflare origin certificates are given to the user in `PKCS#8 encoded data` starting with `-----BEGIN PRIVATE KEY-----` instead of `-----BEGIN PRIVATE RSA KEY-----`. When adding these certs, this results in an error only visible through the API call/return.

We should block invalid formats or make it compatible to use other formats than RSA k

[2018-03-22 13:21] volkerhielscher opened #12208 "--acme-domain prevents usage of Catalog Apps"
**Rancher versions:**
rancher/server: v.2.0.0 alpha21
rancher/agent:

**Docker version: (`docker version`,`docker info` preferred)**
1.13.1

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu 16

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
virtual box

**Setup details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
startup

[2018-03-22 14:15] mikekuzak commented on #11847
@gun1x. Confirmed

[2018-03-22 14:22] mikekuzak opened #12209 "crypto/rsa: verification error" while trying to verify candidate authority certificate "kube-ca""
Getting this error from the worker nodes.

`
E0320 14:31:22.836844    7533 reflector.go:205] k8s.io/kubernetes/pkg/client/informers/informers_generated/internalversion/factory.go:73: Failed to list *api.Service: Get https://127.0.0.1:6443/api/v1/services?resourceVersion=0: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify can

[2018-03-22 15:01] deas commented on #10580
Not quite sure if another repro matters, but I can easily reproduce the issue using one physical (ubuntu 17.10) machine running v1.6.15 on the host and two docker-machine vm nodes. The following code creates kvm vms, but virtualbox works equally.

[code]
Start from an empty environment and create the first custom host, "docker-machine ssh kvm-1712-1" and paste the command line from rancher.

The s

[2018-03-22 15:30] julienTocci commented on #11174
I didn't have the time to check again this until now, I found MY error (the generated config works perfectly) it can be helpful for people so i am gonna write it down. Thanks for the responses.

My ~/.kube/config file was created by the template module with ansible and the token was created with this:

`- name: Get rancher's kubectl token to configure kubctl
  shell: "curl '{{rancher_server_contai

[2018-03-22 15:55] vincent99 commented on #10024
2.0 is now based entirely on Kubernetes and they do not have an option like this.  The closest equivalent is stateful sets, which have different DNS and upgrade behaviors vs a deployment.

[2018-03-22 16:03] obriensystems commented on #12178
hi, a question about the upgrade of 1.6.14, 1.6.13 - from 1.8.5 to 1.8.9
Could we get these previously working versions working
This came in when you guys released 1.6.15
thank you
/michael

[2018-03-22 16:08] deniseschannon commented on #12178
We've already released k8s 1.8.10 which fixes this regression which is available for v1.6.14 and 1.6.13.

[2018-03-22 16:08] #12178 closed

[2018-03-22 16:20] cjellick commented on #12052
Im not sure of the wording we are going to use around volumes but there are two roles bc there is one for projects (managing the usage of pvcs) and one for clusters (managing the CRUD of PVs). @vincent99 should I change the naming of one of these two roles?
Also, i fee that this roles page would benefit from somehow grouping based on project vs cluster roles.

Co-assigning @vincent99

[2018-03-22 16:34] cjellick commented on #12175
taking myself off this one

[2018-03-22 16:59] #12196 closed

[2018-03-22 17:02] cloudnautique opened #12210 "Pipeline Golang pre-canned image should be configured"
When using `golang` pre-canned image in a "run a script" step the `go test` command should work on a standard project. I believe the GOPATH is set to something else and the vendor directory is not being traversed.

[2018-03-22 17:04] cloudnautique opened #12211 "Importing pipeline from YAML results in error"
* Exported yaml file from one project
* went to workloads tab
* pipelines
* import from YAML
* clicked import

Resulting error:
[code]

[2018-03-22 17:30] deniseschannon opened #12214 "Script to automatically launch k8s and install Rancher 2.0"
For users that want to run Rancher in HA, create a script that automates launching RKE on nodes to launch Kubernetes and then launch Rancher server using the `cattle.yml`, which launches Rancher as a deployment in K8S.

[2018-03-22 17:50] deniseschannon commented on #12197
Handing over to UI as API is available.

[2018-03-22 18:28] sangeethah commented on #11931
Tested with latest 2.0 master build.

Able to see pods created on schedule for cron jobs.

[2018-03-22 18:28] #11931 closed

[2018-03-22 18:29] soumyalj commented on #11532
I can still see the issue in Master from March 22nd build

[2018-03-22 18:33] deniseschannon commented on #11956
@alena1108 let's wait for official fix

[2018-03-22 18:35] StrongMonkey commented on #11532
Name and description are updatable in API. Appears to be a UI bug? @vincent99

[2018-03-22 18:42] sangeethah commented on #11111
Tested with latest build from master

User added to a cluster with "View All project" is able to see all projects , namespaces and workloads in cluster.

[2018-03-22 18:42] #11111 closed

[2018-03-22 18:45] sangeethah commented on #11110
There is no "manage project" custom role at the cluster level.

[2018-03-22 18:45] #11110 closed

[2018-03-22 19:06] deniseschannon commented on #12063
@soumyalj can you try launching an EC2 instance with a valid IAM profile?

[2018-03-22 19:10] sangeethah commented on #11104
"Manage All Clusters" is removed from global role level now.

The only cluster level global permission we have is "create cluster".  Users with this privilege are allowed to create clusters and assign users to them.

[2018-03-22 19:10] #11104 closed

[2018-03-22 19:35] deniseschannon commented on #11961
@soumyalj could you test with setting up with a valid cert and see if you still hit this issue?

[2018-03-22 20:03] tfiduccia opened #12217 "No description field in Persistent Volumes or Storage Class schemas"
**Rancher versions:** 2.0 master 3/22

**Steps to Reproduce:**
1.  Create a PV or SC and add a description

**Results:**  Description doesn't save cause there isn't support in the schema

[2018-03-22 20:07] sangeethah commented on #12154
I see errors relating to nsSyncer as well:
[code]

[2018-03-22 20:12] sangeethah opened #12218 "Able to add same users multiple times using same roles to cluster/project."
Rancher server version - 2.0 build from master

Steps to reproduce the problem:

We are allowed to add the same user to a cluster/project using the same role multiple times.

<img width="1412" alt="screen shot 2018-03-22 at 12 59 53 pm" src="https://user-images.githubusercontent.com/4266958/37795210-1353e48a-2dd1-11e8-8036-c48a31719df6.png">

Can we prevent duplicate entries from getting saved ?

[2018-03-22 20:28] alena1108 commented on #11732
@vincent99 `--service-node-port-range` is an extra argument that you can pass to rke cluster to configure this range. We can either display it as a special field in the UI, and then convert to extra args on rke config, or define this field explicitly on rke config. For the second way, api changes will be needed.

[2018-03-22 20:38] sangeethah commented on #10999
Tested with latest master build from 2.0

Admin users are able to  CRUD resources (like project,namespace,workload) for clusters that are created by other users.

[2018-03-22 20:38] #10999 closed

[2018-03-22 20:44] sangeethah commented on #11098
Dont see the panic in logs when testing with latest 2.0 builds from master.

[2018-03-22 20:44] #11098 closed

[2018-03-22 20:46] soumyalj commented on #12063
Tested with master from March 22nd build. Launched EC2 instance with valid IAM template and created a custom cluster using the instance. Cluster creation was successful
Also, created clusters using valid IAM node template. Cluster and workload creation succeeded fine.
<img width="1325" alt="screen shot 2018-03-22 at 1 45 52 pm" src="https://user-images.githubusercontent.com/18536626/37797559-632b9

[2018-03-22 20:46] #12063 closed

[2018-03-22 20:55] sangeethah commented on #11315
I am not able to reproduce this issue with the latest master builds.

Able to start workload with nginx containers having http health check enabled. All pods get deployed successfully.

[2018-03-22 20:55] #11315 closed

[2018-03-22 21:29] sangeethah commented on #12156
Tested with latest build from master

Cluster has a generateKubeconfig method that can be used to get the kube config for the cluster.

[2018-03-22 21:29] #12156 closed

[2018-03-22 21:31] vincent99 commented on #11056
Removing yourself on edit is also problematic...  I'd say the behavior _should_ be you can delete whoever you want as long as there is at least one owner (this is what 1.x does), but because it's a mapping table resource that's not currently possible for the UI to implement.

It doesn't know which of the bindings are giving the current user the ability to delete the bindings, so it can't order the

[2018-03-22 21:33] junkiebev commented on #9914
@aemneina  - Sorry, I just noticed this! Yes it is.

[2018-03-22 21:42] vincent99 commented on #11732
I'd rather be able to get and set them as real fields than parsing them out of arbitrary string extra args...

[2018-03-22 21:45] obriensystems commented on #12178
Testing 1.6.14 now
Q: why do we change the k8s version for released versions - essentially we have run through 3 versions of 1.6.14 over 7 days (1.8.5, 1.8.9 and 1.8.10) - would only expect this version traffic for the tip 1.6.15.

Just trying to keep a project with 100's of developer going.
/michael

[2018-03-22 21:50] soumyalj commented on #12190
Tested with master from March 22nd build. Created secrets from the Resources tab.
Created workload with the steps above. Workload creation was successful and  in the API, `container.environmentFrom` parameter was populated correctly with the secret chosen
<img width="537" alt="screen shot 2018-03-22 at 2 47 20 pm" src="https://user-images.githubusercontent.com/18536626/37800482-239b80be-2de0-11e8-

[2018-03-22 21:50] #12190 closed

[2018-03-22 22:10] obriensystems commented on #12178
In the interest of collaboration between onap.org and rancher could we get a liason for ONAP - I am meeting Fred tomorrow.
The onap project does a lot of testing and development around the rancher installation of kubernetes - I thing it would be a good thing if the projects worked together.

Feel free to join the OOM meeting for ONAP at 1000 EDT GMT-5 every Wed at

https://wiki.onap.org/display/DW

[2018-03-22 22:14] tfiduccia commented on #12201
Version - 2.0 master 3/22
Verified fixed

[2018-03-22 22:14] #12201 closed

[2018-03-22 22:17] tfiduccia commented on #12200
Version - 2.0 master 3/22
Verified Fixed

[2018-03-22 22:17] #12200 closed

[2018-03-22 22:19] moelsayed commented on #11869
@galal-hussein I tried to reproduce this several times with several node configurations using master at  c94c7f8f4a, and still unable to reproduce. Could you please try again ?

[2018-03-22 22:20] sangeethah opened #12220 "Cluster stuck in "Updating" state forever even after a host that was in "unavailable" state came back to "active" state."
Rancher versions: Latest build from master
**Steps to Reproduce:**
Had a 1 node DO cluster with few workloads running on it successfully.

After a while host (host1) went to "Unavailable" state.
This resulted in a new node(host2) being created.
But even before this new node could fully be provisioned , host1 got to "active" state which resulted in host2 to be removed automatically.

After this clu

[2018-03-22 22:22] sangeethah commented on #12220
Provisioning logs relating to host2 that was removed:

[code]

[2018-03-22 22:30] sangeethah commented on #12038
@loganhz In my case I used clusters with DigitalOcean providers.

[2018-03-22 22:43] sangeethah opened #12222 "In Cluster Edit page , current user is shown as "owner" of the cluster irrespective of his role."
Rancher versions: Build from master

**Steps to Reproduce:**
Create a cluster as admin.
Add a user  say - "test1"as cluster member.
Log in as test1 and go to "Edit Cluster" page .

Current user is shown as "owner" of the cluster irrespective of his role.

<img width="1329" alt="screen shot 2018-03-22 at 3 39 12 pm" src="https://user-images.githubusercontent.com/4266958/37802460-c64be6b2-2de7-11e8-

[2018-03-22 22:47] sangeethah opened #12223 "Overlap in Access key in "Api &Keys" page."
Rancher versions: Build from master.

This happens after I use generateKubeconfig for cluster which creates this access key.

<img width="1286" alt="screen shot 2018-03-22 at 3 44 48 pm" src="https://user-images.githubusercontent.com/4266958/37802529-1dc06882-2de8-11e8-907b-1226708cb94f.png">

[2018-03-22 22:52] soumyalj opened #12224 "Cluster state does not change when a node in GKE/Imported cluster is powered off or deleted"
**Rancher versions:**
rancher/server: master

**Steps to Reproduce:**
1. Create a 3 node GKE/Imported cluster
2. Wait for the cluster to become active and create workloads
3. Power OFF one of the nodes

The node becomes unavailable for some time, but the cluster state still remains active.
The node turns ON automatically after some time
When the node is deleted, it gets recreated after sometime, b

[2018-03-22 22:54] orangedeng commented on #12169
Because we set a specific labels for each pod in  `https://github.com/rancher/rancher/blob/master/pkg/controllers/user/networkpolicy/podhandler.go#L51`, nginx controller pod can not get its peers. And then it can only get its node address instead of all node's. After discuss with @alena1108 , we decide to fork `https://github.com/kubernetes/ingress-nginx` and fix it in our ingress controller.

[2018-03-22 22:54] moelsayed opened #12225 "PublicEndPoints field is not showing serviceId in Node view"
**Rancher versions:** master c94c7f8f4a6

**Steps to Reproduce:**
- Create a workload with a NodePort port mapping

**Results:**
- Show any of the Nodes in API view, the `serviceId` field is null:
[code]

[2018-03-22 22:56] moelsayed commented on #11758
Tested using c94c7f8f4:
The annotations are now translated to a publicEndPoint field, but the serviceId is not shown correctly, tracked in https://github.com/rancher/rancher/issues/12225

[2018-03-22 22:56] #11758 closed

[2018-03-22 23:01] alena1108 commented on #11388
Based on conversation with @vincent99:

1) `--http-only` is no longer supported in latest rancher version
2) If you want to do your own termination you still need to give us the expected cacerts if it's not a recognized CA. You will be able to set them using global setting. Custom certificate will display the default one in generated kubeconfig.

Edit option for settings will most likely be availa

[2018-03-22 23:03] sangeethah opened #12227 "As a standard user trying to access github auth option , UI hangs."
Rancher versions: Build form master

As a standard user trying to access github auth option using Security/Authentication , UI hangs.

<img width="1395" alt="screen shot 2018-03-22 at 4 01 37 pm" src="https://user-images.githubusercontent.com/4266958/37803089-55398d5a-2dea-11e8-8ba2-9abcf2b58eb7.png">

When trying to access "AD Auth" , user is brought back to log in page.

[2018-03-22 23:12] orangedeng opened #12229 "Can not edit pipeline after I create it"
As title.
Step to reproduce
1. Create a pipeline as needed.
2. Save it

I should find a edit button in the pipeline action list and edit it.

[2018-03-22 23:30] cjellick commented on #12218
I dont think we are going to prevent this. This is just how auth works in kubernetes

[2018-03-22 23:31] moelsayed commented on #11898
Tested using c94c7f8, I was successfully able to create clusters in both cases.

[2018-03-22 23:31] #11898 closed

[2018-03-22 23:33] cjellick opened #12230 "Project member cannot create apps"
An "app" gets created when you deploy a catalog item. The auth wasnt right for it.

[2018-03-22 23:37] cjellick opened #12231 "project member cannot use volumes"
A project member should be able to view/list all the Persistent Volumes and StorageClasses in the cluster and Create/Read/Update/Delete persistent volume claims in their project(s).

[2018-03-22 23:46] deniseschannon commented on #12218
@sangeetha can we just confirm that if you delete one of the duplicate users, they still have permissions until all of them are deleted?

[2018-03-22 23:54] vincent99 commented on #12052
I would probably say "Manage Storage" for the cluster one, since that includes PVs and StorageClasses

[2018-03-22 23:57] alena1108 commented on #12091
We are going to split things into 2 independent stages:

1) enable 1.9 version for clusters rancher provisions.
2) update k8s dependency from 1.8 to 1.9 for rancher/types/norman/rke.

[2018-03-23 00:12] StrongMonkey commented on #11954
Not reproducible any more. Once app is created namespace is showing up immediately.

[2018-03-23 00:59] will-chan commented on #11070
RBAC can get complicated so the simplest is to treat it as a granting or removal of permissions.  In this example, you are removing the user's permission to create projects.  By removing his permission to do this, he simply cannot do that anymore.  When he created projects previously, he was automatically granted additional permissions as a project owner.  That was not removed which is why he shou

[2018-03-23 02:14] vincent99 commented on #12178
Updates are often timed to correspond with Rancher releases, but Kubernetes is a catalog item that has its own lifecycle separate from the server releases.

In this case 1.8.5 was a routine update that was already going out, 1.8.9 was for a [serious vulnerability](https://github.com/kubernetes/kubernetes/issues/60813), and 1.8.10 for a major regression that the fix in 1.8.9 caused.  Your installed

[2018-03-23 02:16] loganhz commented on #10873
Hi @tfiduccia, I can not recreate this issue.  Can you try again, please? thanks

[2018-03-23 02:17] biblesyme commented on #12211
@cloudnautique  Are you using the latest master?
I believe this should be fixed in the PR https://github.com/rancher/ui/pull/1748.

This was caused by some mismatch in API call.

[2018-03-23 02:18] biblesyme commented on #12229
@orangedeng  Are you using the latest master?
I believe this should be fixed in the PR https://github.com/rancher/ui/pull/1748.

This was caused by some mismatch in API call.

[2018-03-23 02:58] qitianbiao opened #12237 "stuck in failure of healthcheck on kube-apiserver"
rancher server: version 2.0, rancher/server:master, released hours ago
rancher client: latest, rancher/agent:master, release half of hour ago
host OS: CentOS 7.4, firewall off, Selinux disabled
problem:
During adding the first node into cluster with all roles (etcd+control+worker), I am stucked in healthcheck of kube-apiserver, it is like endless loop failure. I also have another set of Ubuntu hos

[2018-03-23 03:04] cloudnautique commented on #12211
This was against master at 9am pst 3/22. Will check again

[2018-03-23 04:03] obriensystems commented on #12178
We install the system daily and hourly in our CD system.  Hence why we picked the change up.

It is just that we control the version of Docker to match the version of kubernetes server installed.  We also control the version of helm based on what rancher installs.  The only thing that varies now is the kubernetes version - I would expect that if a new version is needed it is only for later rancher

[2018-03-23 04:40] loganhz commented on #12227
Hided the `Authentication` page for the users who has no permission to access it.

[2018-03-23 05:17] loganhz commented on #11614
@aemneina Can I remove admin credentials from UI side?

[2018-03-23 05:21] vincent99 commented on #11614
I'm inclined believe that they are not tested during enabling auth, but don't think it's correct that it's not used at all (e.g. for determining the groups a user is a member of when using an account API key).

[2018-03-23 07:56] vicary opened #12243 "Connects to existing AWS host shouldn't fail."
**Rancher versions:**
rancher/server: v1.6.14 (stable)
rancher/agent: v1.2.9

**Infrastructure Stack versions:**
healthcheck: N/A
ipsec: N/A
network-services: N/A
scheduler: N/A
kubernetes (if applicable): N/A

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (Virt

[2018-03-23 08:08] markqiu commented on #10384
deploy sucessfully. But how to connect to the cluster from outside?

[2018-03-23 08:32] exocode commented on #10384
that's the big question. Create a new service called "test" within this stack with the following settings:

- image: ubuntu -->> 14.04.3
- ports: 27017 -->> 27017
- links: mongo-cluster -->> db
- click "create"
After this service spins up you will be able to go to the hosts, click the "test_1" service and "exec shell" and type "ping -c 3 db".

As you can see the service db pings back.

- My questi

[2018-03-23 09:02] markqiu commented on #10384
thanks @exocode

[2018-03-23 09:58] zionwu opened #12245 "Use dialer to make api call to jenkins"
The current approach exposes a node port service for the jenkins and make api call to that service.  This would not work on AKS/GKE or RKE on AWS because the node ip is a private ip.

We should use dialer to make api call to jenkins.

[2018-03-23 10:31] maxfriedmann commented on #7132
Ran into this issue again today, this time, none of the tips helped me. I explicitly had to tell the agent to use the IPv4 address as CATTLE_AGENT_IP. I double checked the UDP ports being open for the IPv6 which is being used by Rancher by default, but couldn't get it to work. Anyway, maybe that helps somebody else.

[2018-03-23 11:14] dongcj commented on #9993
the same issue

[2018-03-23 11:33] wzrdtales opened #12246 "Kubernetes ingress and services ignore scheduler ips"
**Rancher versions:**
rancher/server: 1.6.14

**Infrastructure Stack versions:**
kubernetes (if applicable): latest (1.8.10-rancher-1-1)

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

    4.13.0-32-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-Metal

**S

[2018-03-23 11:58] superseb commented on #12246
Are you using the default Rancher ingress controller? Could be the same https://github.com/rancher/rancher/issues/11541

[2018-03-23 11:59] wzrdtales commented on #12246
y

[2018-03-23 12:50] superseb commented on #12243
Seems to be something going on with the 17.12.0 Docker build from AWS. What OS is your dedicated server running? Workaround for now is `yum downgrade docker` to get `17.09`, which also saves you from many issues in `17.12.0`.

[2018-03-23 13:03] digitalbanana commented on #11799
I would also suggest that image name and tag would be extremely useful for our DevOps platform. We are working on integrating Rancher into our DevOpos stack such that we can present a dashboard of exactly what is deployed where. The point about slippery slopes is a good one but I would think the the image, as the basic unit of deployment should be available via the metadata service

[2018-03-23 14:22] volatilemolotov12 opened #12247 "Rancher scheduling issue"
**Rancher versions:**
rancher/server: v1.6.15
rancher/agent: v1.2.10

**Infrastructure Stack versions:**
healthcheck: v0.3.6
ipsec: v0.13.11
network-services: rancher/metadata:v0.10.2, rancher/network-manager:v0.7.20
scheduler:v0.8.3
kubernetes (if applicable): N/A

**Docker version: (`docker version`,`docker info` preferred)**  17.09.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `u

[2018-03-23 14:26] akhildhawan commented on #10841
@deniseschannon ,
Similar issue with only setup difference Rancher Server 1.16.10.

90K Instances filling up ~5GB DB out of which 25K are purge records with mount reference (following the query you shared}

Also, there are 102K records @ image as well {though taking just ~80Mb}

Upgraded that to 1.16.14 (stable) as well today but DB cleanup didn't trigger - do I need any special action/configurati

[2018-03-23 15:20] santachago opened #12248 "crontab doesn't run on sidekick container until Finished upgrade is ran"
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent:v1.2.9

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec: v0.13.7
network-services: v0.7.19
scheduler: v0.8.3
kubernetes (if applicable):
container-crontab: V0.5.0

**Docker version: (`docker version`,`docker info` preferred)**
`$ docker info
Containers: 28
 Running: 25
 Paused: 0
 Stopped: 3
Images: 74
Server Version: 17.09.0

[2018-03-23 16:01] cjellick commented on #11070
Discuss and debated this with @deniseschannon @ibuildthecloud @vincent99 @will-chan and here is the conclusion we came to:

There are two options for the implementation/functionality:
- There current functionality is that removing the "Cluster member" role from a user in the cluster _only_ impacts what that role explicitly allows, which is to create new projects and view other cluster members. The

[2018-03-23 16:03] cjellick commented on #11070
lol. i just wrote all that without seeing that @will-chan commented yesterday. thanks for commenting will

[2018-03-23 16:05] cjellick commented on #12052
Changed the name to "Manage Storage".
The second "View volumes" has been dropped (bc we decided it was not needed).
@vincent99 I'm going to leave this assigned to you as opposed to send to QA so that you can decide if you want to make some visual indicator of project vs cluster role templates

[2018-03-23 16:09] superseb commented on #11437
Fixed by https://github.com/rancher/connectivity-check/pull/3  / `rancher/net:v0.13.10` / `rancher/server:v1.6.15`

[2018-03-23 16:09] #11437 closed

[2018-03-23 16:09] cjellick commented on #11754
ok, will go with that. Assigning back over to @tfiduccia for QA consideration

[2018-03-23 16:13] cjellick commented on #11077
Wont fix because of my above comment Assigned both @sangeethah and @deniseschannon so that you both see it in case you want to discuss/debate this further, but there really is nothing we can do.

[2018-03-23 17:12] neonima commented on #7504
Any news on that?

[2018-03-23 18:34] dramich opened #12252 "[cli] login is not user friendly"
Currently login requires a cacert, indexes by 0 for projects and asks for a default project if there is only 1.

It should be easier to login.

[2018-03-23 18:54] deniseschannon commented on #11105
If you update the members from the members tab of a project, you will be able to manage project membership. The reason why it doesn't work in "Edit Project" is because you are trying to also edit the project, which you don't have permissions.

[2018-03-23 18:55] deniseschannon commented on #11116
If you update the members from the members tab of a cluster, you will be able to manage cluster membership. The reason why it doesn't work in "Edit Cluster" is because you are trying to also edit the cluster, which you don't have permissions.

[2018-03-23 19:13] #11077 closed

[2018-03-23 19:14] #12218 closed

[2018-03-23 19:25] sangeethah commented on #12054
@cjellick This issue is still reproducible . But i dont see the error messages relating to  " problem retrieving user for CRTB map" . I had this cluster that was stuck in "updating" state because of this issue - https://github.com/rancher/rancher/issues/12220. When I tried to remove this cluster , It gets stuck in "removing" state for the same reason "waiting on controller.cattle.io/cluster-provis

[2018-03-23 19:33] sangeethah commented on #8740
With latest 2.0 build from master .

We have the ability to allow for existing local auth users to continue to have access to rancher server when AD/github auth is enabled.

[2018-03-23 19:33] #8740 closed

[2018-03-23 20:04] sangeethah opened #12254 "DO cluster stuck in "removing" state(waiting on controller.cattle.io/cluster-provisioner-controller) for ever"
**Rancher versions: Build from master

**Steps to Reproduce:**

I had a cluster that was stuck in "updating" state because of this issue - #12220.

When I tried to remove this cluster , It gets stuck in "removing" state for the same reason "waiting on controller.cattle.io/cluster-provisioner-controller"

<img width="1359" alt="screen shot 2018-03-23 at 12 25 43 pm" src="https://user-images.githubu

[2018-03-23 20:05] cloudnautique opened #12255 "Rancher Logging should collect RKE Kubernetes component logs"
RKE issue rancher/rke#412 adds logging support for Kubernetes components into an easily extractable place.  Rancher Logging should now add support for capturing these logs, and specifying which index these should be routed to.

The capturing of these logs should be handled at the cluster level, and not at the project level.

[2018-03-23 20:30] sangeethah commented on #12254
[log.zip](https://github.com/rancher/rancher/files/1843385/log.zip)

[2018-03-23 20:30] orangedeng commented on #11888
I can create a ingress with non-exist secret in Kubernetes. It means that we are allow to delete a secret even this secret is used by ingress.
I don't think we should to validate it while Kubernetes does not validate it.

[2018-03-23 21:08] moelsayed commented on #12164
Tested using current master, custom cluster was created with no problems.

[2018-03-23 21:10] orangedeng commented on #11646
I think this is by designed. refer to `https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/configmap.md#http-redirect-code`

[2018-03-23 21:20] moelsayed commented on #12195
Tested with latest master. I was able to create a custom cluster, then added a new custom node. Cluster was updated successfully.

[2018-03-23 21:20] #12195 closed

[2018-03-23 21:42] sangeethah commented on #12035
Tested with latest build from master

As standard user ( both as cluster owner and project owner) able to  crud certificates/registry/secrets.
Also able to list certificates/registry/secrets created by other users.

[2018-03-23 21:42] #12035 closed

[2018-03-23 22:19] orangedeng commented on #11600
@alena1108
Problem to ask
1. After create two ingresses with the one path and each ingress is point to its own workload, what should we except when we access that path?
2. And because we have two ingresses, we should have two services for each ingress rule. For now, we only have one service for that and I will fix it.
3. @sangeethah If you wait for about 30s, the ingress rules will recover and you

[2018-03-23 22:25] sangeethah commented on #12230
Tested with latest build from master.

A standard user added as project owner / project member/ cluster owner , is able to deploy apps in the projects.

[2018-03-23 22:25] #12230 closed

[2018-03-23 22:35] moelsayed commented on #12164
I tried to reproduce several times with no issues. I suspect networking issues in DO in your case. Please re-assign to me if you are able to successfully reproduce it.

[2018-03-23 22:38] moelsayed commented on #11034
Tested on current master. I am unable to reproduce this case. Tested several times and the cluster recovers successfully.

[2018-03-23 22:38] #11034 closed

[2018-03-23 22:46] StrongMonkey commented on #12224
For GKE, i don't think the cluster will go unavailable because all their control plane is not running on worker nodes. For imported cluster, can you try powering off the controller plane node to see if you can reproduce?

[2018-03-23 23:03] dramich commented on #12252
This is available in https://github.com/rancher/cli/releases/tag/v1.0.0-alpha9

[2018-03-23 23:03] dramich commented on #11962
This is available in https://github.com/rancher/cli/releases/tag/v1.0.0-alpha9

[2018-03-23 23:04] dramich commented on #11464
This is available in https://github.com/rancher/cli/releases/tag/v1.0.0-alpha9

[2018-03-23 23:06] sangeethah commented on #12231
Tested with latest 2.0 build from master

Project member is not able to list  Persistent Volumes and StorageClasses in the cluster.

[2018-03-23 23:08] alena1108 commented on #11600
@orangedeng for now, admin should ensure the rule uniqueness. We might add some validation on api layer later on - k8s doesn't have it by default

[2018-03-23 23:13] StrongMonkey commented on #12176
Darren mentioned that if the cluster goes unavailable we can just let ui to mark all its nodes to unknown.

[2018-03-23 23:18] #11600 closed

[2018-03-23 23:45] orangedeng commented on #11646
@sangeethah If you try that page in your browser, you will see your browser will get 308 code response and redirect to the current location. 308 code is not a error response by it definition.

I think curl supports redirect code with specific flags `-L, --location` and wget supports this after v1.19.3-release with gnu version.

[2018-03-24 01:15] jambajaar opened #12261 "Rancher (MySQL) Database growing more than expected"
**Rancher versions:**
1.6.5 +

MySQL DB has quickly grown to 13GB
Instance table for example seems to have 2M records

There seems to be some issues causing DB to bloat up

[2018-03-24 06:06] vicary commented on #12243
The dedicated host has CentOS Linux 7 (3.10.0) installed. Downgrading docker did work, thank you.

Though I may need to upgrade docker pass `17.12.1-ce` in the future because of a docker bug.

--tl;dr--

I am currently having 502 Bad Gateway when running nginx reverse proxy in swarm mode, see jwilder/nginx-proxy#516, which in turn leads to moby/moby#24789 and moby/moby#25698.

I suspect it was som

[2018-03-24 09:06] exocode commented on #10384
Maybe you @galal-hussein can help us to bring the community driven MongoDB up again. It seems that the exposed port 27017 raises that issue. Also a `version 3.6` tag would be nice.

Only one `Stack: MongoDB-community -  mongo-cluster-1` comes up. The cluster-2 and cluster-3 stuck because of the already exposed port.

[code]

Thank you in advance

[2018-03-24 17:54] blar opened #12264 "Incomplete docker-composer.yml render the backend useless"
**Rancher versions:**
rancher/server: 1.6.15

**Steps to Reproduce:**
$ docker run --rm -p 8080:8080 rancher/server

Add a new stack with the following docker-composer.yml

    version: '2'
    services:
        smtp:
            image: rancher/external-service

**Results:**

The service is not visible in the stack and cannot be removed. After some clicks the complete web interface of rancher is c

[2018-03-25 00:09] timwebster9 commented on #8172
I'm currently experiencing something that might be related to this.  I'll describe below and I can raise a new issue if it turns out to be something else.

I have a Kubernetes cluster running in Rancher on 3 bare-metal nodes.  For some reason containers in pods I've deployed via `kubectl` can't resolve internet addresses properly.  Commands like `nslookup`, `curl`, `git clone` and anything http-re

[2018-03-25 00:28] edmundluong88 commented on #7506
+1

[2018-03-26 01:54] zionwu opened #12265 "URL parser is not working as expect for a management resource whose name has prefix "cluster""
**Rancher versions:**
rancher/server:master 03/26

**Steps to reproduce**
The `shell` link of `cluster` resource:
`https://localhost:8443/v3/clusters/local/shell` returns
[code]

In this line: `https://github.com/rancher/norman/blob/master/parse/parse.go#L144`
For example `/v3/clusterPipelines` matches prefix for both versionpath `/v3/cluster` for clusterschemas and `/v3` for managementschemas
So

[2018-03-26 02:05] sangeethah commented on #11888
@orangedeng Why do we not want to prevent deletion of certificates from our side , if they are still in use by ingress ? The equivalent test would be to see if kubernetes allows for ingress creation using certificates that are non existent ?

[2018-03-26 02:21] sangeethah commented on #11464
Tested with rancher-v1.0.0-alpha9
```rancher clusters kf <cluster-id>``` provides kubeconfig for the cluster.

[2018-03-26 02:21] #11464 closed

[2018-03-26 02:39] zionwu commented on #12265
cc @gitlawr

[2018-03-26 02:48] sangeethah commented on #11646
@orangedeng When I use the browser , I see the request getting redirected to ```https``` , Is this expected ?

[2018-03-26 03:42] aiwantaozi commented on #12102
Related fix PR: https://github.com/rancher/rancher/pull/12213

I use aliyun driver to test:
https://docker-machine-drivers.oss-cn-beijing.aliyuncs.com/docker-machine-driver-aliyunecs_linux-amd64.tgz, it could add schema to path "/v3/schemas/aliyunecs.linux-amd64config", is this OK for UI.

Note: vultr machine driver have another issue cause it fail to add, please do not use it to test is issue,
ht

[2018-03-26 03:48] sangeethah opened #12266 "Errors relating to token deletion seen in logs when project is deleted."
Rancher server version - Build from master

Steps to reproduce the problem:
Create a cluster with few projects having namespace and workloads.
Delete the project.

Following errors seen in logs:

[code]

[2018-03-26 03:51] sangeethah commented on #12154
Tested with latest build from master.
Errors reported in the issue is not seen in logs when project is delete.

[2018-03-26 03:51] #12154 closed

[2018-03-26 04:13] sangeethah commented on #12252
Tested with rancher-v1.0.0-alpha9
When there is only 1 cluster with 1 project , then user is not prompted for setting default project and existing project is set as default.

When there is more than 1 project, log in prompts user to set default project. project list indexes starts from 1.

[2018-03-26 04:13] #12252 closed

[2018-03-26 07:57] geekpie-robot opened #12267 "Pipeline create github webhook use old host ip after change the rancher host address"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: 1.2.9

**Infrastructure Stack versions:**
pipeline: 0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
17.12.0-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
4.4.0-91-generic
ubuntu 16.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Tecent Cloud

**Setup details: (s

[2018-03-26 08:33] tfiduccia commented on #12223
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 08:33] #12223 closed

[2018-03-26 09:17] tfiduccia commented on #12166
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 09:17] #12166 closed

[2018-03-26 09:20] tfiduccia commented on #7722
Version - 2.0 master 3/26
Verified fixed.

[2018-03-26 09:20] #7722 closed

[2018-03-26 09:29] tfiduccia opened #12268 "Dashboard not refreshing between clusters"
**Rancher versions:** 2.0 master 3/26

**Steps to Reproduce:**
1.  Create a couple of gke cluster
2.  Add a couple of workloads to one of the clusters
3.  Go to one of the cluster's dashboard page
4.  Using navigation drop-down go to the other cluster

**Results:**  Dashboard is not refreshing the information across clusters

[2018-03-26 09:31] tfiduccia commented on #10761
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 09:31] #10761 closed

[2018-03-26 09:53] tfiduccia commented on #10873
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 09:53] #10873 closed

[2018-03-26 09:54] tfiduccia commented on #11039
Version - 2.0 master 3/26
![image](https://user-images.githubusercontent.com/11514927/37899618-e3754d6c-30a0-11e8-81f3-3796cf3a0c27.png)

If I use an incompatible driver name, it still doesn't remove.  First it gets stuck in downloading then gets stuck in removing.

[2018-03-26 10:02] tfiduccia commented on #11064
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:02] #11064 closed

[2018-03-26 10:03] tfiduccia commented on #11548
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:03] #11548 closed

[2018-03-26 10:07] tfiduccia commented on #11707
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:07] #11707 closed

[2018-03-26 10:11] tfiduccia commented on #11713
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:11] #11713 closed

[2018-03-26 10:12] #11754 closed

[2018-03-26 10:16] tfiduccia commented on #12038
Version - 2.0 master 3/26
Still not fixed - the save/close buttons for first issue is fixed.  But the second issue is not.
![image](https://user-images.githubusercontent.com/11514927/37900750-f98ac08e-30a3-11e8-9517-80138b85cb9e.png)

[2018-03-26 10:17] tfiduccia commented on #12053
Version -2.0 master 3/26
Verified fixed

[2018-03-26 10:17] #12053 closed

[2018-03-26 10:20] tfiduccia commented on #12076
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:20] #12076 closed

[2018-03-26 10:24] aiwantaozi opened #12269 "invalid dynamic driver name"
**Rancher versions:**
rancher/server: 2.0
rancher/agent:

**Steps to Reproduce:**
1. use machine driver
url: https://github.com/janeczku/docker-machine-vultr/releases/download/v1.3.0/docker-machine-driver-vultr-Linux-x86_64
checksum: 877a5e2fb402cb0a6510bba7b9b40d5b
2. get the error
E0326 08:13:35.287601       1 generic_controller.go:204] NodeDriverController nodedriver-x6tbr [node-driver-controll

[2018-03-26 10:37] tfiduccia commented on #12020
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:37] #12020 closed

[2018-03-26 10:45] tfiduccia commented on #12203
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:45] #12203 closed

[2018-03-26 10:51] tfiduccia commented on #11778
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:51] #11778 closed

[2018-03-26 10:56] tfiduccia commented on #12161
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:56] #12161 closed

[2018-03-26 10:57] tfiduccia commented on #12102
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:57] #12102 closed

[2018-03-26 10:58] tfiduccia commented on #12075
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 10:58] #12075 closed

[2018-03-26 11:00] tfiduccia commented on #12133
Version - 2.0  master 3/26
Verified fixed

[2018-03-26 11:00] #12133 closed

[2018-03-26 11:01] tfiduccia commented on #11960
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 11:01] #11960 closed

[2018-03-26 12:08] aiwantaozi commented on #11039
Thank you, will find solution for this.

[2018-03-26 12:45] klinux opened #12271 "Rancher Kubernetes and Stacks"
Hi,
I have a doubot about the kubernetes environment, when I create the environment, if I create a Stack on rancher ui, the containers don't appear in kubernetes dashboard, once kubernetes configured I have to create my containers only with kubectl or kubernete dashboard? The stacks that I've created works with kubernetes engine or not?

Thank you

**Rancher versions:**
rancher/server: 1.6.14
ranc

[2018-03-26 12:50] bjornmagnusson opened #12272 "[2.0.0-alpha23] Segmentation violation when creating custom cluster"
**Rancher versions:**
rancher/server: v2.0.0-alpha23
rancher/agent: v2.0.0-alpha23

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable): 1.9.5

**Docker version: (`docker version`,`docker info` preferred)**
docker info
Containers: 5
 Running: 2
 Paused: 0
 Stopped: 3
Images: 1
Server Version: 1.13.1
Storage Driver: overlay2
 Backing Filesy

[2018-03-26 14:22] bartoszcisek commented on #12089
Hey!

Sorry for my foolish thumbs up incident. I looked into logs and found stack trace you mentioned. Let me give a bit more background when this situation occurs: we use `ansible` to deploy rancher and sometimes playbooks need second run. First `ansible` pass enables access control, so second run had it already enabled. That is why access and secret keys were used.

Strange is that I tried to re

[2018-03-26 14:43] rarean opened #12273 "vSphere Node Template - 2.0 alpha21"
**Rancher versions:**
rancher/server: 2.0-alpha21

**Node Template: vSphere**
Configuration window not displaying correctly

**Steps to Reproduce:**
* Use docker [rancher/server:preview](https://hub.docker.com/r/rancher/server/tags/) and start normal instance
* Navigate to setup new cluster with vSphere
* Add required *Node Template*
* The popup configuration window will provide options for vSpher

[2018-03-26 16:12] pulberg opened #12274 "UI - Rancher v2 apikeys font/spacing issue"
**Rancher versions:**
rancher/server: v2, alpha21

**Docker version: (`docker version`,`docker info` preferred)**
17.03.02

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.03

Spacing issues in display, also, this font in v2 seems too wide, would prefer the font from Rancher v1.6.x or some other Powerline fonts.

![screen shot 2018-03-26 at 10 58 17 am](

[2018-03-26 16:19] StrongMonkey commented on #12254
We should probably wait to see if the cluster is really stuck at deleting. For cluster that is provisioned with DO we will try to remove digital ocean hosts before we remove the cluster and that's probably why it stuck at cluster-provisioner-controller for a while.

[2018-03-26 16:31] mikekuzak commented on #12209
Ok got it working my removing /etc/kubernetes before rebuilding the cluster. The SSL certs are in
/etc/kubernetes/ssl

[2018-03-26 16:31] #12209 closed

[2018-03-26 16:40] StrongMonkey commented on #12269
the correct schemaName should be `driverName+Config`.

[2018-03-26 16:50] orangedeng commented on #11888
For now, certificates in rancher will be deployed into cluster as secret when it is used by ingress. So the equivalent test would be if an secret can be delete or not if it is used by ingress. The result is *yes*.
[code]

[2018-03-26 16:50] alena1108 commented on #11052
We are going to support pause/upgrade/rollback operations - whatever kubernetes supports. Closing this bug in favor of https://github.com/rancher/rancher/issues/11692

[2018-03-26 16:50] #11052 closed

[2018-03-26 16:52] StrongMonkey commented on #12269
Something is probably wrong in parsing the driver name. This is how we parse the driver name https://github.com/rancher/rancher/blob/b5e08e00dd88336da569716b40b5a539e96f7723/pkg/controllers/management/nodedriver/dynamic_driver.go#L239-L242

[2018-03-26 16:57] alena1108 commented on #11888
@sangeethah vanilla k8s doesn't care. You can specify non-existing secret when creating ingress, or delete valid secret when it is still being referenced by ingress.

So the real question here is - whether we want to add this extra layer of validation on our api side.

[2018-03-26 16:57] vincent99 commented on #12176
Why is the cluster unavailable with one node down in the first place?

I can easily change the displayed state for the nodes, but if it's not a real state then the CLI has to replicate the same behavior and a state shown in both won't exist in the API/docs.

[2018-03-26 17:22] sangeethah opened #12276 "Nodes get stuck in "Registering" state sometimes."
Rancher versions: Build from master - Mar 25

Steps to reproduce the problem:
I sometimes get provisioning errors when trying to install DO cluster with 1 node.

<img width="1289" alt="screen shot 2018-03-26 at 10 18 22 am" src="https://user-images.githubusercontent.com/4266958/37921573-11153276-30df-11e8-9556-4927065e58f8.png">

I also see the same case were host get stuck in "waiting to register

[2018-03-26 17:32] tfiduccia commented on #12227
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 17:32] #12227 closed

[2018-03-26 17:35] tfiduccia commented on #12061
Version - 2.0 master 3/26
Verified fixed

[2018-03-26 17:35] #12061 closed

[2018-03-26 17:54] alena1108 opened #12277 "Rollback/pause/upgrade actions for daemonset/statefulsets"
Similar to https://github.com/rancher/rancher/issues/11692, we have to add the extra actions for daemonset/stateful set.

The internal implementation can be different as per @kinarashah k8s API for daemonset/statefulSet are not the same as for deployment

[2018-03-26 18:01] alena1108 commented on #11888
@deniseschannon @sangeethah the decision is for now to not add any extra validation on Rancher side for dependent resources, if k8s doesn't support it. This rule applies for any resource using the dependencies, not just ingress. There are a couple of reasons:

1) User would want to be able to recreate the dependent resource w/o modifying all the resources referencing it, first.
2) The validation c

[2018-03-26 18:03] orangedeng commented on #11888
@sangeethah As we discussed, we don't have a practical way to implement it. And also, there is a use case for not preventing the removal that 1 certificate used by 100 ingress. I don't think it should be a bug and need fixed immediately.

[2018-03-26 18:05] #11888 closed

[2018-03-26 18:11] sangeethah opened #12278 "Errors relating to ClusterRoleTemplateBindingController seen in logs when cluster is created."
Rancher server version - 2.0 build from master Mar 26

Steps to reproduce the problem:
Create a 1 node DO cluster.

Following errors seen in logs:

[code]

[2018-03-26 18:16] tfiduccia commented on #11756
Version - master 2.0 3/26
Verified fixed

[2018-03-26 18:16] #11756 closed

[2018-03-26 18:26] westlywright commented on #11747
Kicking over to @cjellick as this requires some changes/discussion on the backend.

[2018-03-26 18:31] tfiduccia opened #12279 "Asking for Current Password twice"
**Rancher versions:** 2.0 master 2/26

**Steps to Reproduce:**
1.  Create new rancher setup
2.  Log in as admin/admin

**Results:**  The Change Password is asking for my current password again.  Should not that do since I just entered my current password and this is the force change.

![image](https://user-images.githubusercontent.com/11514927/37925355-243e8f14-30e9-11e8-9465-74d3d2232259.png)

[2018-03-26 18:48] tfiduccia opened #12280 "Remove Coming Soon button from Volumes page"
**Rancher versions:** 2.0 master 3/26

**Steps to Reproduce:**
1.  Go to Volumes list page

**Results:**  Remove the Coming Soon button
![image](https://user-images.githubusercontent.com/11514927/37926204-917cdd04-30eb-11e8-9ff3-2e6aa7de576b.png)

[2018-03-26 18:49] sangeethah opened #12281 "Not able to add volume claim."
Rancher server version - Latest from master

Steps to reproduce the problem:
Create a Persistent Volume for NFS volume plugin.

Try to create a volume claim for this PV.

User is presented with this error message:

"Validation failed in API: PersistentVolumeClaim "mynfsvol1" is invalid: spec.resources[storage]: Required value"

<img width="1353" alt="screen shot 2018-03-26 at 11 45 18 am" src="htt

[2018-03-26 20:12] pariminaresh opened #12282 "Stack creation using api: Error (yaml: found unexpected ':')"
**Rancher versions:**
rancher/server: v1.6.6
rancher/agent:

**API**: /v2-beta/projects/${PROJECT_ID}/stacks

**Steps to Reproduce:**
      - Read compose file contents as strings, docker_compose.yml and rancher_compose.yml. Since the API documentation says the fields dockerCompose and rancherCompose are of 'string' type.
      - Pass the data to the API to create a stack in rancher

**Pseudo code

[2018-03-26 20:18] mysim1 opened #12283 "Unable to use kube-ctl because of missing CA certificate in RKE cluster"
**Rancher server version -**
DockerHub: master (26 march 2018)

**Rancher agent version -**
DockerHub: master (26 March 2018)

**Steps to reproduce the problem:**
- Create a PKE Cluster
- Add Worker, Etcd, Controlplane node(s)
- Navigate to Cluster Dashboard
- Click Launch kubectl
- Execute random kubectl command

**User is presented with this error message:**
```error: unable to read certificate-

[2018-03-26 20:29] kinarashah commented on #12207
@superseb on adding an invalid format, UI does show `Validation failed in API: certs` and cert doesn't get created, so we are blocking it. Am I understanding it right or you expected something different?

[2018-03-26 20:30] mysim1 opened #12284 "Unable to create persistent volume "Local Disk Path" from Rancher UI and API"
**Rancher server version -**
DockerHub: master (26 march 2018)

**Rancher agent version -**
DockerHub: master (26 March 2018)

**Steps to reproduce the problem in the Rancher UI:**
- Create a PKE Cluster
- Add Worker, Etcd, Controlplane node(s)
- Navigate to Cluster Dashboard / Storage / Persistent Volumes
- fill in form, make sure to select 'Local Disk Path'

**User is presented with this error m

[2018-03-26 20:32] mysim1 commented on #12284
Any workaround? I prefer to continue experimenting with Rancher asap.

[2018-03-26 20:34] ibuildthecloud commented on #12283
Fix here: https://github.com/rancher/rancher/pull/12285/commits/cfadad1a2a17eac60df147978580ea79db3688dd

[2018-03-26 20:43] deniseschannon commented on #11520
@tfiduccia I don't think nodes are going back to invalid pools. What I described is still happening, but it seems that eventually you are left with 1 node in removing state.

[2018-03-26 20:47] tfiduccia commented on #11720
Version - 2.0 master 3/26
Still broken

[2018-03-26 20:52] kinarashah commented on #12207
@vincent99 The only thing that is missing is the msg to user on what failed.
I see request response as ```{"actionLinks":{},"baseType":"error","code":"InvalidBodyContent","fieldName":"certs","links":{},"message":"failed to parse key, not valid pem format","status":422,"type":"error"}
[code]

[2018-03-26 20:58] JasonMorgan opened #12286 "Add support for deploying a cluster via PKS"
**Rancher versions:**
rancher/server:preview

**Environment Template: Kubernetes

I'd like to add a tile to the Rancher 2.0 UI that would allow me to spin up clusters via [PKS](https://pivotal.io/platform/pivotal-container-service). I'd be happy to work on a PR for it if someone could point me in the right direction.

[2018-03-26 21:11] deniseschannon commented on #11410
There is a new `Waiting` state that's blue instead of `Unavailable` and red when waiting for the API server to come up during provisioning.

[2018-03-26 21:11] #11410 closed

[2018-03-26 21:12] alena1108 commented on #11780
After discussing it with @vincent99 and @deniseschannon, here is the resolution:

1) Introduce extra strongly typed fields to cluster:

* AwsCloudProvider
* AzureCloudProvider
* CalicoNetworkProvider
* FlannelNetworkProvider
* CanalNetworkProvider

each type will have a set of non-generic fields

2) These fields will be set by the UI. Somewhere on RKE side, we can extract data from these fields, a

[2018-03-26 21:12] deniseschannon commented on #11443
There is a new Waiting state that's blue instead of Unavailable and red when waiting for the API server to come up during provisioning.

[2018-03-26 21:12] #11443 closed

[2018-03-26 21:30] deniseschannon commented on #12147
Verified with master 3/26. If trying ot use a host that has an invalid Docker version, RKE errors out:

<img width="551" alt="screen shot 2018-03-26 at 2 29 59 pm" src="https://user-images.githubusercontent.com/11410997/37934163-35af3c3a-3102-11e8-88dc-7a148db1b342.png">

[2018-03-26 21:30] #12147 closed

[2018-03-26 21:30] cjellick opened #12287 "cleanup tokens when user is deleted"
we cleanup GRBs, CRTB, PRTB when a user is deleted, but not tokens. We need to clean up tokens.

Otherwise, when you try to use a deleted user's token, you get
[code]

related
https://github.com/rancher/rancher/issues/11379
https://github.com/rancher/rancher/issues/11079
we should see if we can figure out why the message is so awful

[2018-03-26 21:33] alena1108 commented on #12091
@sangeethah could you validate the first part of the issue? Make sure 1.9 can be picked as an option for rke cluster, and k8s 1.9 version gets deployed, and things like workload work on it?

And once validated, pass it back to me; will get it to fully resolved once we agree on a timing to switch to k8s 1.9 as a vendor too.

[2018-03-26 21:42] sangeethah opened #12289 "Not able to deploy workloads with "Bind-Mount" volumes."
Rancher versions: Build from master

**Steps to Reproduce:**
Create a workload with volume type - "Bind-Mount".

<img width="1443" alt="screen shot 2018-03-26 at 2 40 40 pm" src="https://user-images.githubusercontent.com/4266958/37934657-bce9f0f4-3103-11e8-8ce9-e4561991143d.png">

Workload creation fails with - "Validation failed in API: volumes"

Following API call made from UI , does not pass ho

[2018-03-26 22:29] deniseschannon commented on #11053
Able to launch kubectl shell, but commands are not working.

Getting the certs fixed will be tested with https://github.com/rancher/rancher/issues/12283

[2018-03-26 22:29] #11053 closed

[2018-03-26 22:38] soumyalj opened #12290 "Editing a secret by changing the key or adding a new key/value pair is not reflected in the workload"
**Rancher versions:**
rancher/server: Master from March 26th build
rancher/agent:

**Steps to Reproduce:**
1. Create a secret by providing test=value as key/value pair
2. Create a workload to use the secret created in the env variables(add from source) option
3. Once the workload is created, view the key/value pair in the shell of the workload(by typing env)
4. Edit the secret to change the key an

[2018-03-26 22:40] StrongMonkey commented on #12113
@loganhz this is fixed in master now. You are able to add your own whitelist proxy by adding a field `whitelistDomain` in nodedriver,

[2018-03-26 23:42] tfiduccia commented on #11675
Version - 2.0 master 3/26
Export and import from the UI is working.  What are the requirements for the repo.  I added the exported yaml file to my repro.  But when I click on Import Pipeline from Respository, it says No Pipeline Found

![image](https://user-images.githubusercontent.com/11514927/37938846-a85988b4-3114-11e8-8e6b-5b40f1164ed8.png)

[2018-03-27 00:00] kinarashah commented on #11740
Seeing similar issue with secret data, https://github.com/rancher/rancher/issues/11607

[2018-03-27 00:03] deniseschannon commented on #12283
Tested with latest master (5pm at 3/26).

[2018-03-27 00:03] #12283 closed

[2018-03-27 00:04] tfiduccia commented on #11671
Version 2.0 master 3/26
Verified fixed

[2018-03-27 00:04] #11671 closed

[2018-03-27 00:09] sangeethah commented on #12281
When resources field is set , able to get the volume claims created successfully.
[code]

[2018-03-27 00:10] soumyalj opened #12293 "Secret deletion is not reflected in the workload"
Rancher versions:
rancher/server: Master from March 26th build

Steps to Reproduce:

1. Create a secret by providing test=value as key/value pair
2. Create a workload to use the secret created in the env variables(add from source) option
3. Once the workload is created, view the key/value pair in the shell of the workload(by typing env)
4. Delete the secret

The workload still shows the key/value

[2018-03-27 00:22] sangeethah opened #12295 "Constant attempt made to sync catalog that keeps failing."
Rancher server version - Build from master

Steps to reproduce the problem:
Had a set up with cluster having few projects and workloads.
After a while , rancher-server logs is filled with messages relating to Constant attempt made to sync catalog that keeps failing.

[code]

[2018-03-27 00:30] tfiduccia commented on #11520
Can't delete last node in cluster anymore

[2018-03-27 00:30] #11520 closed

[2018-03-27 00:34] tfiduccia commented on #10888
Version - 2.0 master 6/26
Verified fixed

[2018-03-27 00:34] #10888 closed

[2018-03-27 00:43] sangeethah opened #12297 "Not able to write to NFS persistent volumes."
**Rancher versions: Build from master

**Steps to Reproduce:**
Create a Persistent volume with NFS volume plugin (without having the readonly flag enabled).
Create a Persistent Volume Claim for this PV.
Deploy a workload having a volume which uses this PV claim ( without having the readonly flag enabled).

<img width="1121" alt="screen shot 2018-03-26 at 5 28 51 pm" src="https://user-images.github

[2018-03-27 00:46] tfiduccia commented on #12197
Version - 2.0 master 3/26

[2018-03-27 00:46] #12197 closed

[2018-03-27 01:09] bayboraoren commented on #4446
@deniseschannon  http://docs.rancher.com/rancher/rancher-ui/infrastructure/hosts/custom/#adding-hosts-to-the-same-machine-as-rancher-server link is broken

[2018-03-27 01:16] tfiduccia commented on #12273
Version - 2.0 master 3/26
Verified fixed.  This has been fixed in newest build.

[2018-03-27 01:16] #12273 closed

[2018-03-27 03:01] coolyrat opened #12300 "[Pipeline]"
**Rancher versions:**
rancher/server: rancher/server:v1.6.14
rancher/agent: rancher/agent:v1.2.9

**Infrastructure Stack versions:**
healthcheck: rancher/healthcheck:v0.3.3
ipsec:  rancher/net:v0.13.7   rancher/net:holder
network-services: rancher/network-manager:v0.7.19    rancher/metadata:v0.9.5
scheduler: rancher/scheduler:v0.8.3

**Docker version: (`docker version`,`docker info` preferred)**
[

[2018-03-27 03:17] coolyrat commented on #12300
it seems the asserts are loading for too long, and chrome crash during the loading

[2018-03-27 03:41] levensailor opened #12301 "Feature Request: Ability to edit yml files prior to launch from catalog"
Maybe change "Preview" verbiage to "Staged"

Component | Version
-- | --
Rancher | v1.6.14
Cattle | v0.183.37
User Interface | v1.6.37
Rancher CLI | v0.6.7
Rancher Compose | v0.12.5

[2018-03-27 03:45] levensailor opened #12303 "Feature Request: Containers page - Button for "Execute Shell""
Right now you have to hit the elipsis [***] to see more options and select execute shell, but I think it merits its own button and icon.

Component | Version
-- | --
Rancher | v1.6.14
Cattle | v0.183.37
User Interface | v1.6.37
Rancher CLI | v0.6.7
Rancher Compose | v0.12.5

[2018-03-27 03:55] loganhz commented on #11532
@StrongMonkey  The `requestedHostname` is required in `/v3/schemas/node`

Can you remove the required field in the schema ? UI will validate the data according to the schema

[2018-03-27 04:33] aiwantaozi commented on #12269
The node driver name is driverName = strings.Split(path.Base(u.Path), "_")[0] , and some of them include upper case, for example ```vultr-Linux-x86_64 ``` in https://github.com/janeczku/docker-machine-vultr/releases/download/v1.3.0/docker-machine-driver-vultr-Linux-x86_64, when we use is in object name of dynamic schema, it return invalid, added a PR to lower case the driver name, could you help r

[2018-03-27 04:51] tfiduccia commented on #12279
Version - 2.0 master 3/26
Verified fixed

[2018-03-27 04:51] #12279 closed

[2018-03-27 04:59] juanluisbaptiste commented on #1673
This seems to have been fixed in docker-compose, the issue https://github.com/docker/compose/issues/5230 has been closed, but I still can't define an udp range with rancher-compose v0.12.5

[2018-03-27 05:51] StrongMonkey commented on #12269
@vincent99 can you point out what might be the correct format for a third party docker machine driver? the parse code didn't change in 1.6 so I suspect that there might be a format for the driver url.

[2018-03-27 06:45] Toflar commented on #3391
Just out of curiosity: Is this being reconsidered for 2.0? Traefik gained a lot of traction the last two years and is widely used. Of course it is not as battle tested as a 17 year old other project but I think one could still say it's become a very stable, reliable and awesome reverse proxy. Also it feels like it just follows the recent trends more closely [announcing](https://github.com/containo

[2018-03-27 07:01] mysim1 opened #12306 "Keys in API & Keys cannot be deleted."
**Rancher server version -**
DockerHub: master (27 march 2018)

**Rancher agent version -**
DockerHub: master (27 March 2018)

**Steps to reproduce the problem:**
- Navigate to API & Keys
- Add new Key
- Delete newly created key

**User is presented with this error message:**
[code]

**Docker version: (`17.03.2`)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubu

[2018-03-27 07:38] superseb commented on #12306
Thanks for reporting, duplicate of https://github.com/rancher/rancher/issues/12138

[2018-03-27 07:38] #12306 closed

[2018-03-27 07:50] vincent99 commented on #3391
The de-facto standard ingress controller for k8s is nginx and that's what RKE deploys.  You can still create a cluster with whatever you want in it and use it.

[2018-03-27 07:55] mxschmitt commented on #12113
@StrongMonkey i tried test it with your changes. I built rancher from master myself, but it isn't working. Also throwing an "invalid host" error. But I think it's because of the strange redirect. Maybe you can reproduce by using:
Docker driver: `https://github.com/JonasProgrammer/docker-machine-driver-hetzner/releases/download/1.1.0/docker-machine-driver-hetzner_1.1.0_linux_amd64.tar.gz`
UI Driver

[2018-03-27 07:57] superseb opened #12307 "Validate k8s 1.10"
Release date: 3/27

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md

[code]

[2018-03-27 08:04] vincent99 commented on #12269
The URL is arbitrary, but the binary that we end up with has to be `docker-machine-driver-NAME`, where `NAME` is what you would use everywhere in docker-machine.  e.g.  `docker-machine create -d NAME --NAME-size=2gb foo`. That naming scheme is how machine knows what binary to call.  I don't know that those all _have to be_ lowercase or a certain character set, but the standard ones all certainly a

[2018-03-27 08:29] pkaramol opened #12308 "random crashes of rancher server on AWS"
**Rancher versions:**
rancher/server: 1.6.14
rancher/agent: 1.2.9

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec: 0.13.7
network-services: (network-manager: v0.7.19/metadata: v0.9.5)
scheduler: v0.8.3
kubernetes (if applicable): n/a

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[

[2018-03-27 08:40] superseb commented on #12308
Please supply what instance types you are using for the instance running `rancher/server` and the RDS size you are using. The log shows quite a few of `cannot allocate memory`, so it seems your system is underpowered for the workloads you are trying to run.

[2018-03-27 08:42] pkaramol commented on #12308
@superseb issue updated with instance types

[2018-03-27 08:44] pkaramol commented on #12308
@superseb

the __`t2.micro`__ instance has 1GB of RAM that is in accordance with the product's [requirements](http://rancher.com/docs/rancher/v1.6/en/installing-rancher/installing-server/#requirements).

[2018-03-27 08:47] superseb commented on #12308
The container needs 1GB of RAM, you have an instance with 1GB of RAM and burstable CPU with low credits. For a more complete answer, see this comment: https://github.com/rancher/rancher/issues/12069#issuecomment-372085724

Closing as not a bug, let me know if raising the instance size does not solve the problem so we can investigate.

[2018-03-27 08:47] #12308 closed

[2018-03-27 08:54] pkaramol commented on #12308
thx for the feedback;

it would be nice however if you updated the relevant section on the requirements to be a little more specific on this given that usually I think the requirements are about the machine a product will be run on.

I believe the way it is currently stated misleads a bit users to opt for __`t2.micro`__ (given the financial aspect)

[2018-03-27 08:58] #12120 closed

[2018-03-27 09:10] loganhz commented on #12113
@mxschmitt  I can reproduce your issue. There is a workaround might help.

Please try `http://storage.googleapis.com/hcloud-rancher-v2-ui-driver/component.js`

`https` one doesn't work. But `http` does.

[2018-03-27 09:25] mxschmitt commented on #12113
Hm okay. Thank you!

I've created a PR with a fix. #12309
I tested two test cases:
- http://[...]
- https://[...]

both work fine.

[2018-03-27 09:31] biblesyme commented on #11675
@tfiduccia you need a file named `.pipeline.yml` in the root path of your repo.

[2018-03-27 09:44] superseb commented on #7348
Closing as stale.

[2018-03-27 09:44] #7348 closed

[2018-03-27 09:45] superseb commented on #5149
Closing as stale.

[2018-03-27 09:45] #5149 closed

[2018-03-27 09:59] volatilemolotov12 commented on #12247
Steps to reproduce:
1) Add host to rancher
2) Add labels onto host as following :

-- Labels:
  --vrrp_1_role=master
  --traefik_cluster_1=true

--require container label:
  --io.rancher.container.system=
  --traefik_cluster=true
  --vrrp_1_role=master
3)add traefik stack
4) add label TRAEFIK_CLUSTER_1 = TRUE to traefik stack
5) add keepalived stack
6)add following scheduling rule:
the host MUST h

[2018-03-27 10:02] volatilemolotov12 commented on #12247
keepalived docker-compose:

version: '2'
services:
  keepalived-backup:
    cap_add:
    - NET_ADMIN
    image: PRIVATE_DOCKER/keepalived:1.1.0-phoenix11
    environment:
      KEEPALIVED_AUTOCONF: 'true'
      KEEPALIVED_INTERFACE: eth0
      KEEPALIVED_PREEEMPT: 'false'
      KEEPALIVED_STATE: BACKUP
      KEEPALIVED_TRACK_INTERFACE_1: eth0
      KEEPALIVED_UNICAST_PEER_0: 192.168.200.170

[2018-03-27 10:27] zionwu commented on #11277
@vincent99, if the "private IP" option prevents the node from provisioning and there is no any other use case that need it,  shouldn't we remove the option from UI?

[2018-03-27 10:46] vincent99 commented on #11277
It doesn't necessarily prevent the host from provisioning.  Machine needs to be able to open connections to the host, and if the host only has private IPs that implies that the server needs to be on the same subnet (or routing is in place to similar effect).

[2018-03-27 12:41] RVN-BR opened #12311 "Cannot import exported compose file due to invalid image"
https://forums.rancher.com/t/cannot-create-external-services-from-docker-compose-rancher-compose/9792

[2018-03-27 12:54] superseb commented on #12311
Let's continue in the forums, one place is more than enough.

[2018-03-27 12:54] #12311 closed

[2018-03-27 13:18] pariminaresh commented on #12282
The problem is with yaml formatting to a string type and looks like 'readYaml' is not giving the proper yaml string, something like:  "version: '2'\nservices:\n  Webserver:\n    image: jnj.artifactrepo-dev.jnj.com/httpd24:php54\n    stdin_open: true".

My question now is whats the best way to do this programmatically, to be compatible with the rancher api?

[2018-03-27 13:25] superseb commented on #12246
OK, merging into https://github.com/rancher/rancher/issues/11541

[2018-03-27 13:25] #12246 closed

[2018-03-27 14:19] RVN-BR commented on #12311
Apologies since it hadn't had a single response I imagined opening an issue would be more appropriate.

[2018-03-27 15:13] enr1c091 commented on #2448
I am sorry, but is there a solution for this issue at the time being? We are facing the very same issue. I cannot find a way to redirect my requests to the HTTPS port of my WSO2 container without getting a 502 Bad Gateway.

All my other containers which have it's traffic redirected to a HTTP port works just fine.

I appreciate any help.

Best regards,
Enrico

[2018-03-27 15:30] superseb commented on #12207
The reason my request got through was the namespace was not ready and the API didn't respond appropriately (?) as it went into `Saving`. My first request would be to detect the header and allow both keys, this means certificates from systems that hand out the pretty common PKCS8 (Like LetsEncrypt and CloudFlare Origin) can easily be used. Instead of asking to convert before submitting.

[2018-03-27 16:58] gigi-at-zymergen commented on #10429
Thanks for pointing out that you had to actually recreate the hosts rather than just clean up the security groups @truedat101 . That save me some time when I found this issue.

[2018-03-27 18:04] westlywright commented on #11613
Secrets have been added to the environment variables accordion as a part of the environment from ui.

[2018-03-27 18:07] piyush8096 commented on #8534
For a host in different VPC , you will have to initiate a peering and accept from the VPC where your Rancher server lies

[2018-03-27 18:26] deniseschannon commented on #11869
I tried with v2.0.0-alpha23 and there was no issue. @soumyalj can you re-test?

[2018-03-27 19:00] Ilya-Kuchaev commented on #9956
Even in alpha23

[2018-03-27 20:10] superseb commented on #9956
Commenting on closed issue won't help much, please file a new issue describing what you have configured and what logging you get so we can investigate.

[2018-03-27 20:30] superseb commented on #10264
We recently made a first effort to do draining on the included haproxy loadbalancer here: http://rancher.com/docs/rancher/v1.6/en/cattle/adding-load-balancers/#draining-target-connections-for-a-load-balancer

Regarding traefik, this is something you have to take care of. e.g. watching for the stop event and telling traefik to lower the weight to drain connections.

[2018-03-27 20:30] #10264 closed

[2018-03-27 20:35] alena1108 commented on #12054
@sangeethah seems like it's a different controller - cluster provisioner -removal process holding up the removal now. I'll look into it

[2018-03-27 20:40] superseb commented on #10283
```gdapi create-apiKey --accountId ENV_ID```

[2018-03-27 20:40] #10283 closed

[2018-03-27 20:43] dramich opened #12313 "[cli] cluster changes"
same table as UI for list
some marker on the "current" cluster and project
add options from the UI
add description flag for cluster create

[2018-03-27 20:44] dramich opened #12314 "[cli] add --format to ls/ps commands"
add `--format FORMAT` to all ls/ps

[2018-03-27 20:45] dramich opened #12315 "[cli] Add inspect command"
add `inspect` command, see 1.6 for example.

[2018-03-27 20:46] superseb commented on #10349
Can you elaborate a bit more on this issue? Do you find the error message misleading or is that there a bug in the logic?

[2018-03-27 20:46] #10349 closed

[2018-03-27 20:47] #10465 closed

[2018-03-27 20:47] dramich opened #12316 "[cli] Use kubeconfig with kubectl"
When running `rancher kubectl` the command should use the kubeconfig for the current cluster to execute the command and not rely on the local kubeconfig file.

[2018-03-27 20:50] superseb commented on #10467
What does `moving user containers to a new network` mean? Are we talking about our own overlay network or you using Docker libnetwork network(s)?

[2018-03-27 20:51] Ilya-Kuchaev commented on #9956
Why should one create the duplicates?

[2018-03-27 20:53] doreplado commented on #5241
@vincent99 Do you know if this is addressed with Rancher 2.0? Currently anyone using the custom agent to get around this can't use webhooks to scale.

[2018-03-27 20:55] superseb commented on #9956
This was filed & fixed 5 months ago on a version architecturally way different than the version you are reporting it on, so pointless to reopen under the same issue. The discussion has not been flowing since, there has been no acknowledgment, only another issue reported which didnt report back so this issue has no value to reopen.

[2018-03-27 20:58] superseb commented on #10469
This is the Rancher API not respoding in time/being under load/any other difficulties. We need a bit more info to reproduce and investigate.

Let us know if you can provide more steps to reproduce.

[2018-03-27 20:58] #10469 closed

[2018-03-27 21:01] superseb commented on #10496
Please report back if we can help.

[2018-03-27 21:01] #10496 closed

[2018-03-27 21:01] westlywright commented on #11056
In my next PR i'll have the  "simple" implementation that just checks to see if any owners were removed, if so do you have a new owner role? If not you'll get an error.

[2018-03-27 21:03] superseb commented on #10522
There have been major changes since tech preview 1, please let us know if you are still seeing this issue with tech preview 2 (currently alpha23).

[2018-03-27 21:03] #10522 closed

[2018-03-27 21:03] superseb commented on #10533
There have been major changes since tech preview 1, please let us know if you are still seeing this issue with tech preview 2 (currently alpha23).

[2018-03-27 21:03] #10533 closed

[2018-03-27 21:09] superseb commented on #10545
Think this was handled in the `t2.micro` issue later/earlier: https://github.com/rancher/rancher/issues/12308

[2018-03-27 21:09] #10545 closed

[2018-03-27 21:10] Ilya-Kuchaev commented on #12284
I can create one with
volume.yml
[code]
kubectl create -f volume.yml

[2018-03-27 21:35] ipochi commented on #12088
@Justluckyg what was your resolution ?
I am getting the same error message for ec2 instances , creating a cluster from web-ui
I have 1 master node for control plane and etcd
3 worker nodes.

[2018-03-27 21:36] orangedeng commented on #12174
When we choose load balancer, I think we should populate `Hostname`, `Port` and `Path` in the ui. We can click on it, we open a new windows in browser and jump to `http://<Hostname>:<Port><Path>`

[2018-03-27 21:47] vainkop commented on #5241
Actually, it works & here's my setup on AWS, maybe it helps soneone:

VPC has 2 subnets:
1) 172.31.128.0/20 - public
2) 172.31.0.0/20 - private

NAT Gateway is deployed into "public subnet", meaning that this subnet has an Internet Gateway attached to it & routing table in this subnet has Internet Gateway as a gateway for 0.0.0.0/0.

Second private subnet has Nat Gateway as a gateway for 0.0.0.0/0

[2018-03-27 22:33] alena1108 commented on #12054
There were a couple of issues fixed on RKE side for connections not timing out. That *theoretically* could have caused cluster being stuck in Removing state:

https://github.com/rancher/rke/pull/446
https://github.com/rancher/rke/pull/445

@sangeethah if this issue happens again, could you include rancher logs from the moment cluster.remove command was issued? And reopen the issue.

[2018-03-27 22:46] deniseschannon opened #12318 "read-only role should be at the same level as member/owner for projects"
<img width="659" alt="screen shot 2018-03-27 at 3 45 52 pm" src="https://user-images.githubusercontent.com/11410997/37999037-f53548aa-31d5-11e8-8802-72388cc1534f.png">

We should add Read Only out of the "Custom" section and under "Member".

[2018-03-27 22:47] alena1108 commented on #12054
Looks like the "waiting on controller.cattle.io/cluster-provisioner-controller" issue is being tracked in https://github.com/rancher/rancher/issues/12254, closing this bug for now as initial issue `waiting on controller.cattle.io/cluster-scoped-gc` is not seen anymore

[2018-03-27 22:47] #12054 closed

[2018-03-27 22:48] alena1108 commented on #12254
There were a couple of issues fixed on RKE side for connections not timing out. That theoretically could have caused cluster being stuck in Removing state:

rancher/rke#446
rancher/rke#445

@sangeethah if this issue happens again, could you include rancher logs from the moment cluster.remove command was issued? To see if what @StrongMonkey suspects happens.

[2018-03-27 22:50] soumyalj commented on #11869
Tested with master. Created a cluster using digital ocean template with docker 1.13.x. Clusters got created successfully. Workloads got deployed ok.

[2018-03-27 22:50] #11869 closed

[2018-03-27 23:04] soumyalj commented on #12276
Observed the same issue for a three node cluster with all three nodes on each of them.
One of the nodes came up fine. Other 2 nodes were stuck in registering state. RKE reported that cluster built successfully but the nodes are stuck in registering state.

<img width="1260" alt="screen shot 2018-03-27 at 4 01 46 pm" src="https://user-images.githubusercontent.com/18536626/37999548-3470649e-31d8-11e

[2018-03-28 01:24] tfiduccia commented on #12280
Version - 2.0 master 3/26
Verified fixed

[2018-03-28 01:24] #12280 closed

[2018-03-28 01:25] tfiduccia commented on #12268
Version - 2.0 master 3/27
Verified fixed

[2018-03-28 01:25] #12268 closed

[2018-03-28 02:49] aiwantaozi commented on #12269
k8s object name need lowercase, event the we the machine driver we download include uppercase in the docker-machine-driver-NAME, we rename them to lowercase when we copy the binary to the bin directory we use, so the binary, k8s object name, are all lowercase.

[2018-03-28 04:14] aemneina opened #12323 "LB and backend service, within the same stack, cant communicate using network policy (allow - within stack)"
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent: v1.2.9

**Infrastructure Stack versions:**
healthcheck: v0.3.3-1
ipsec: v0.2.2
network-services: v0.2.8
scheduler: v0.8.3

**Docker version: (`docker version`,`docker info` preferred)**
17.12.1-ce

**Environment Template: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**
- enable network policy
- configure network policy to use

[2018-03-28 05:22] VAdamec opened #12324 "Upgrade to 1.6.15 failing"
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent: rancher/healthcheck:v0.3.3

**Infrastructure Stack versions:**
healthcheck:
ipsec: rancher/net:v0.13.7
network-services: rancher/network-manager:v0.7.19

**Docker version: (`docker version`,`docker info` preferred)**
17.12.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RHEL 7

**Type/provider of host

[2018-03-28 06:03] vincent99 commented on #11613
It should be part of the environment variable section, just like it is on create.  There shouldn't be a secrets section of details anymore, they're either in env or volumes.

[2018-03-28 07:14] zionwu commented on #11532
There are 2 approaches to fix this issue:
1.  remove the required tag for requestedHostname field.
2. set the requestedHostname for GKE in nodesyncer.

@StrongMonkey  which approach do you prefer?

[2018-03-28 08:20] zionwu commented on #11532
I have tested the 2 approaches and both work. I think the second one is a better one as it is better to keep required tag for  requestedHostname.

[2018-03-28 09:00] superseb commented on #10778
There have been major changes since this tech preview, please try the latest (`v2.0.0-alpha23`, https://forums.rancher.com/t/rancher-tech-preview-update-3-26-2018/9893) and file a new issue if you run into trouble.

[2018-03-28 09:00] #10778 closed

[2018-03-28 09:02] superseb commented on #12324
What RHEL7 exactly and what kernel? (`uname -r`)

Also `docker info` would be helpful here. When did you upgrade to 17.12.1 and from what version?

[2018-03-28 09:07] superseb commented on #10696
There have been major changes since this tech preview, please try the latest (`v2.0.0-alpha23`, https://forums.rancher.com/t/rancher-tech-preview-update-3-26-2018/9893) and file a new issue if you run into trouble.

[2018-03-28 09:07] #10696 closed

[2018-03-28 09:07] superseb commented on #10518
There have been major changes since this tech preview, please try the latest (`v2.0.0-alpha23`, https://forums.rancher.com/t/rancher-tech-preview-update-3-26-2018/9893) and file a new issue if you run into trouble.

[2018-03-28 09:07] #10518 closed

[2018-03-28 09:08] superseb commented on #10594
This was just recently improved. Can you try with `v2.0.0-alpha23`? We can reopen if you still experience issues.

[2018-03-28 09:08] #10594 closed

[2018-03-28 09:15] superseb commented on #10857
This was announced yesterday, please check it out: https://rancher.com/project-longhorn-now-available-kubernetes/

[2018-03-28 09:15] #10857 closed

[2018-03-28 09:17] superseb commented on #11536
The kubelet on the node should log whats going on with getting that image and container ready, can you check?

[2018-03-28 09:46] gitdemo-cn commented on #11994
Is it fixed? Still have this issue in 2.0 master 3/28

[2018-03-28 10:00] teebeey commented on #10562
I'm also facing this issue. I think it's just a coincidence, but it occured first after I've added the "--advertise-http-port" flag because of websocket issues. regarding CPU the hosts are idle, memory used a bit more..
[code]
Do you need more logs or would you like to take a look at it yourself?

[2018-03-28 10:32] superseb commented on #12237
The logging suggests you are re-using at least one host without cleaning, which causes etcd to import old data and fail to start up. These are the directories that needs to be cleaned up when re-using:

[code]

[2018-03-28 10:37] jianzi123 opened #12326 "[UI] install dev environment, bower install get errors"
When installing the dev environment of rancher UI， get some errors
cmd: bower install
errors:
`bower ECMDERR       Failed to execute "git ls-remote --tags --heads git@github.com:westlywright/ember-shortcuts.git", exit code of #128 Warning: Permanently added the RSA host key for IP address '192.30.253.112' to the list of known hosts. Permission denied (publickey). fatal: Could not read from remote

[2018-03-28 10:42] superseb commented on #12326
Workaround for now is to edit the source to be `https://github.com/westlywright/ember-shortcuts.git#v0.0.9`

[2018-03-28 10:45] jianzi123 commented on #12326
@superseb thanks, I try it now.

[2018-03-28 11:45] mikekuzak opened #12328 "What's the best way to upgrade Rancher throughout builds ?"
When pulling a new version of the alpha of Rancher 2.0  I'm losing the Rancher config and any Kubernetes cluster. Is there a correct way of upgrading Rancher ?

[2018-03-28 12:49] marufbd opened #12329 "Allow unsupported docker version fails on coreos"
**Rancher versions:**
rancher/server:preview
rancher/agent: agent:v2.0.0-alpha23

**Infrastructure Stack versions:**
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
*Master*
 Version:       17.12.1-ce
 API version:   1.35
 Go version:    go1.9.4
 Git commit:    7390fc6
 Built: Tue Feb 27 22:10:31 2018
 OS/Arch:       linux/amd64

*Custom Node*
 Version:

[2018-03-28 12:58] superseb commented on #12329
It's because of Docker 17.12.1, see https://github.com/rancher/rancher/issues/11897 for more info. Let me know if this does not solve your issue.

[2018-03-28 12:58] #12329 closed

[2018-03-28 13:07] superseb commented on #12167
Deleting the kubelet container could help, it should be automatically recreated. What does `curl http://rancher-metadata/2015-12-19/stacks/Kubernetes/services/kubernetes/uuid` return inside the container?

[2018-03-28 13:19] superseb commented on #12328
Version 2 is currently in Tech Preview / alpha, we don't test any upgrade scenario in this stage. The state is currently stored in `/var/lib/rancher`, but as said, we don't guarantee running new versions against this state.

Of course this is included/tested when the product matures.

[2018-03-28 13:19] #12328 closed

[2018-03-28 13:20] doreplado commented on #5241
@vainkop thanks for sharing! but to say vs saying there's a workaround that requires custom network forwarding are two different things. You've designed your network around this problem. Most of us can't do that.

[2018-03-28 13:44] nrgiroux commented on #6140
Hi,

I have this issue with the exception that scale is 1 for the new service.
I am using rancher-nfs from the catalog, starting a service either from the UI or from rancher-compose with simple parameters (from the docs' examples).

Server and hosts running on RancherOS.

Component | Version
-- | --
Rancher | v1.6.14
Cattle | v0.183.37
User Interface | v1.6.37
Rancher CLI | v0.6.7
Rancher Compose

[2018-03-28 14:13] jasiek commented on #10053
+1

[2018-03-28 15:16] gitlawr commented on #12210
@cloudnautique In golang image default GOPATH is `/go`, to make it happen we need the workspace to be mounted at sth like `/go/src/github.com/rancher/rancher` in the container. We're using the Kubernetes plugins and it has no configuration for custom workspace right now. What do you think if we provide the pre-canned scripts as
[code]

[2018-03-28 15:43] vincent99 commented on #11388
@alena1108 seems like there's a case missing here for doing external all termination and using a cert signed by a real CA that will already be recognized everywhere.  How do you disable the generation of the self-signed one that ends up in the cacerts setting and the return of that in generated kubeconfig files?

[2018-03-28 17:41] orangedeng commented on #12229
Tested, already fixed.

[2018-03-28 17:41] #12229 closed

[2018-03-28 17:53] alena1108 commented on #12293
@soumyalj yes, it's expected. K8s doesn't delete the references from the parent object when the child object is gone. It is a generic issue, not just secret specific. You can file it as a generic one, where we can capture all the possible situations, and later on decide whether we want to do something about it on rancher side.

[2018-03-28 17:53] #12293 closed

[2018-03-28 17:57] kinarashah commented on #11692
@vincent99 just wanted to let you know PR for actions on deployment type got merged, would need ui to be updated accordingly

[2018-03-28 18:11] alena1108 commented on #12290
Changing the key not being reflected on k8s side, is tracked in the separate issue:
https://github.com/rancher/rancher/issues/11607

New key being added and/or existing value being modified, gets reflected in the pod in about ~1 min. That is expected as per

https://kubernetes.io/docs/concepts/configuration/secret/
[code]

@soumyalj please validate the above.

[2018-03-28 18:11] phynias commented on #7558
i get the same error, no idea what it is referring to or if it is even a problem.

[code]

[code]

[2018-03-28 18:57] shakefu commented on #10841
We're seeing the same... ```
| 13084 | inactive | /var/lib/rancher/etc |       13059 |
+-------+----------+----------------------+-------------+
6376 rows in set (0.04 sec)
[code]

[2018-03-28 19:01] sangeethah commented on #11379
Tested with latest build from master

This issue is still seen
[code]

[2018-03-28 19:09] sangeethah commented on #11079
Tested with latest build from master.

I am able to still reproduce this issue.

[2018-03-28 19:28] tfiduccia opened #12331 "UI Issues - Cluster list page and dashboard"
**Rancher versions:** 2.0 master 3/28

**Results:**

Cluster List page  (Global/Clusters) -
![image](https://user-images.githubusercontent.com/11514927/38051197-68fced22-3282-11e8-8991-da2123f0bc43.png)

- [x] Remove Pods column

- [x] Add Column called Version & make it the kubernetes version of the cluster.  Put Version column after Provider.

Cluster Dashboard Page -
![image](https://user-image

[2018-03-28 19:30] pariminaresh commented on #12282
This is a tricky part to go with yaml string. So just converted that to a json string and that solves the issue of loading compose file data.Though the stack(created using api) goes to a 'Unhealthy' state instead of 'Active'.Surprisingly the same stack is getting created in Active state when tried from Rancher UI.

I'm wondering whats wrong with the API here.Please let me know if anyone else see s

[2018-03-28 19:34] tfiduccia commented on #11994
@gitdemo-cn - I've seen this off and on, can you answer a few questions to help us track down?
1.  What type of cluster are you using?
2.  Do you have more than 1 cluster?
3.  Are you in the default project or did you create a new one?

[2018-03-28 19:36] tfiduccia commented on #11675
@biblesyme - we export a file called pipeline-name.yaml.  So shouldn't we support yaml extension as well?

[2018-03-28 19:44] magnum-ferox commented on #11966
any news?

[2018-03-28 19:57] sangeethah opened #12332 "Errros relating to NodeStatus seen periodically in logs"
Rancher server - Build from master

Steps to reproduce the problem:
Create a 3 node DO cluster.
Long after cluster provisioning is done , we still see the following  error messages relating to NodeStatus periodically in logs:

[code]

[2018-03-28 20:28] sangeethah commented on #12287
Tested with latest build from master:

When a deleted user tries to access cluster using kubectl , he presented with a more readable error message:

[code]

Scenario mentioned in this issue - https://github.com/rancher/rancher/issues/11378 results in user being presented with the above message.

[2018-03-28 20:28] #12287 closed

[2018-03-28 20:30] hadirsa opened #12333 "New services added to the recently added host"
Hi, i have added a new host and when i add new service to the any of existed stacks, the service is added to the new host. Is this a bug??

[2018-03-28 20:40] orangedeng commented on #11646
@sangeethah Yes, it is expected. That is what the nginx ingress controller choose to use.

[2018-03-28 20:49] junkiebev commented on #10841
`select count(*) from mount where volume_id in (select volume_id from mount where instance_id in (select id from instance where state="purged") and state="inactive") and state="inactive";`

returns 57,020 rows
I see 62,148 agents

the instance table is 1.8GB

[2018-03-28 20:52] soumyalj commented on #12091
Tested with master. Launched RKE clusters clusters with K8s v1.9.4-rancher1-1 and v1.9.5-rancher1-1  successfully. Creation of workloads in the clusters also worked fine.

[2018-03-28 21:01] m4ce commented on #10024
@vincent99, thanks for the feedback. It's a shame that retainIp goes away. Certain deployments scenarios like MySQL group replication do-not-work-well/break without it :/

[2018-03-28 21:09] marcusianlevine opened #12334 "Broken ingress host path DNS validation in 2.0 UI"
**Rancher versions:**
rancher/server: 2.0.0.preview-23

**Infrastructure Stack versions:**
kubernetes: 1.8.9

**Docker version: (`docker version`,`docker info` preferred)**
17.3.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.1 LTS

**Type/provider of hosts:**
AWS EC2

**Setup details: (single node rancher vs. HA rancher, internal DB vs. external DB)*

[2018-03-28 21:15] alena1108 opened #12335 "Migrate rancher code base to k8s 1.9 vendor"
Currently rancher uses k8s 1.8 as a vendor dependency. We might wanna switch to 1.9 at some point. Following projects will need an upgrade:

- [ ] rancher/types
- [ ] rancher/norman
- [ ] rancher/rke
- [ ] rancher/rancher

[2018-03-28 21:16] alena1108 commented on #12091
Created a separate issue for tracking rancher code base k8s vendor update https://github.com/rancher/rancher/issues/12335; closing this issue as rke 1.9 provisioning part was verified.

[2018-03-28 21:16] #12091 closed

[2018-03-28 21:22] tfiduccia opened #12336 "Add kubelet version to Node list page & details page"
**Rancher versions:** 2.0 master 3/28

**Node list page**
**Steps:**
1.  Add a cluster
2.  Go to the node list page

**Results:**  Add a Version column after Roles and before CPU that is the kubelet version

**Node details page**
**Steps:**
1.  Click on a Node name

**Results:**  Add "Version: <kubelet version> to the blue info bar at the top, after the IP Address and before Created

[2018-03-28 21:24] deniseschannon commented on #11451
Docker 18.02 isn't supported at this time by kubernetes, so the rancher agent which launches k8s will not work. Please try again with one of the supported versions of Docker for Kubernetes.

[2018-03-28 21:24] #11451 closed

[2018-03-28 21:27] alena1108 commented on #10354
@galal-hussein we should re-evaluate the fix for k8s 1.10 as it looks there are some changes done to enable the ability to configure w/o putting the patch to rancher/kubernetes. I'm *not* going to include following commits to 1.10.0-rancher branch initially (it results in merge conflict too), and we have to see if it's possible to configure them as a command argument, or a diff patch is needed.

[

[2018-03-28 21:34] hadirsa commented on #12333
My bad! In the scheduling tab we can change the host.

[2018-03-28 21:34] #12333 closed

[2018-03-28 21:43] sangeethah commented on #12225
Tested with latest build from master

Create a workload with port mapping having "Publish on Every node" option.

All nodes in the setup have  serviceId set in PublicEndPoints.

[code]

[2018-03-28 21:43] #12225 closed

[2018-03-28 21:43] #11646 closed

[2018-03-28 21:44] vincent99 commented on #12334
The hyphen doesn't need to be escaped when it's at the beginning or end of range.  That error is straight from k8s, and because the value is `kube-system/kubernetes-dashboard-kdsyu` and slash is not allowed.  That field is for the default service to send requests that match no other rule too.

But I'm not sure how you got that value in the first place, that looks like something setting an old-styl

[2018-03-28 21:49] vincent99 commented on #10024
Maybe there's some DNS caching issue but I would think StatefulSet would work, each pod gets a fixed `mysql-1`, `mysql-2`, etc name resolvable inside the cluster.

[2018-03-28 22:07] tfiduccia opened #12338 "Putting user in member drop-down causes all user and system account info to show up"
**Rancher versions:** 2.0 master 3/28

**Steps to Reproduce:**
1.  Add cluster or Project
2.  Add Member (from Add cluster, edit Cluster, Add project, Edit project or from Add Member pages)
3.  In Name drop-down, type in user

**Results:**  Everyone in your list shows up and System Account information shows up
![image](https://user-images.githubusercontent.com/11514927/38058958-9973d300-3299-11e8-

[2018-03-28 22:18] sangeethah opened #12339 "Errors relating to ProjectRoleTemplateBindingController and ClusterController in logs when cluster is created."
Rancher sever version - build from master

Steps to reproduce the problem:
Create a cluster with 3 nodes .
Errors in server logs as soon as a cluster gets created:

[code]

[2018-03-28 22:28] cloudnautique commented on #12210
Can you add volumes to containers? If so, you could create teh volume in the clone container and then if you can do volumes from... get it in the right spot for the Golang image.

Otherwise, yeah, the workaround above works fine. If we can dynamically generate the mkdir / ln so that they generate the path from the github repo that would be great.

[2018-03-28 23:26] loganhz commented on #12289
fixed in https://github.com/rancher/ui/pull/1766

[2018-03-28 23:36] sangeethah opened #12340 "Admission control for PSP is not enabled on a cluster when PSP is enabled (from being disabled on creation)."
Rancher versions: Build from master

**Steps to Reproduce:**
Create a cluster with PSP disabled.
Deploy few workloads in existing default project and in new projects.
Edit cluster and enable PSP and set a default PSP.

Cluster gets to updating state and then to "active" state.

Even after this  , PSP is not applied to the new pod deployments in the existing projects.

Seems like admission control