[2018-04-19 18:50] #12577 closed

[2018-04-19 18:52] #12853 closed

[2018-04-19 18:52] auras opened #12883 "Changed IP, services not starting anymore"
I'm running a rancher server and host on the same bare metal machine. My machine got a new IP and after restarting it it will no longer start most of the services. Most of the services are trying to connect to the old ip address.

I changed the ip address that the agent connects to but the support services haven't changed their ip address.

I see these in the logs:

[code]

What can I do?

[2018-04-19 18:56] tfiduccia commented on #12861
Version - 2.0 master 4/19
Verified fixed

[2018-04-19 18:56] #12861 closed

[2018-04-19 18:57] tfiduccia commented on #12848
Version - 2.0 master 4/19
Verified fixed

[2018-04-19 18:57] #12848 closed

[2018-04-19 19:00] #12839 closed

[2018-04-19 19:00] josmo opened #12884 "Editing a workload doesn't reflect changes for at least ports exposed"
Steps-
1. Create nginx workload with random port and container port 80. -> works on the random port
2. Edit the workload and change or remove the port
3. Upgrade
Expected - port changed or removed
Actual - original random port remains exposed

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.0-beta3` UI: `v2.0.35` |
|Access|`` `admin`|
|Route|`containers.index`|

[2018-04-19 19:07] sangeethah commented on #12297
Tested with latest build from master.
The problem was that the subfolder I create in NFS server side that was used as "Sub Path in Volume" when deploying workloads with NSF volume did not have write permission for "nobody:nogroup" which is user used for creating files under shared folder.

If I use a non-existent path in "Sub Path in Volume" , then the volume gets created with correct permission f

[2018-04-19 19:07] #12297 closed

[2018-04-19 19:11] tfiduccia commented on #12880
Version - 2.0 master 4/19
This is a bug.

[2018-04-19 19:16] tfiduccia commented on #12884
Version - 2.0 master 4/19
This seems to be fixed in the latest master.  Port was removed and I can't access any longer.

[2018-04-19 19:19] tfiduccia commented on #12795
Version - 2.0 master 4/19
Verified fixed

[2018-04-19 19:19] #12795 closed

[2018-04-19 19:21] #12884 closed, assigned to nobody

[2018-04-19 19:54] tfiduccia commented on #12787
@deniseschannon What should the default be for this? None?

[2018-04-19 20:00] tfiduccia commented on #12549
Version - 2.0 master 4/19
This is still an issue and Open Telekom Cloud is also not activating

[2018-04-19 20:01] telmich commented on #1403
Ping. We are running IPv6 only networks and it would be nice to be able to run rancher on it, too.

[2018-04-19 20:02] tfiduccia commented on #12544
Version - 2.0 master 4/19
Verified fixed

[2018-04-19 20:02] #12544 closed

[2018-04-19 20:07] tfiduccia opened #12885 "If service account password is blank, Testing button just spins and no error thrown"
**Rancher versions:** 2.0 master 4/19

**Steps to Reproduce:**
1.  Go to Authentication page
2.  Select Active Directory
3.  Fill out all info but leave Service Account Password blank
4.  Click on Authenticate

**Results:** Nothing happens, button just continues to spin and says "Testing"

[2018-04-19 20:08] tfiduccia commented on #12362
Version - 2.0 master 4/19
Verified fixed

[2018-04-19 20:08] #12362 closed

[2018-04-19 20:15] tfiduccia opened #12886 "When changing drivers, the option for Cloud provider doesn't change properly"
**Rancher versions:** 2.0 master 4/19

**Steps to Reproduce:**
1.  Go to Add cluster
2.  Select Azure
3.  Under Cluster Options, select Azure for Cloud Provider
4.  Switch to Digital Ocean

**Results:**  Notice that no cloud provider radio option is selected and Azure fields are showing up.  As I switch between driver, this options should have a default that is selected that has nothing to do with

[2018-04-19 20:16] tfiduccia opened #12887 "Make None default for all Cloud providers"
**Rancher versions:** 2.0 master 4/19

**Steps to Reproduce:**
1.  Go to Add Cluster
2.  Open Cluster Options

**Results:**  make sure None is default for Cloud providers for all RKE providers.

[2018-04-19 20:17] tfiduccia commented on #12123
Version - 2.0 master 4/19
Verified fixed.

[2018-04-19 20:17] #12123 closed

[2018-04-19 20:17] tfiduccia commented on #12787
Version - 2.0 master 4/19
Verified fixed

[2018-04-19 20:17] #12787 closed

[2018-04-19 20:39] deniseschannon commented on #12887
We should also confirm that if you start a cluster with one of the options, when you start a new cluster, it's defaulted to none again.

[2018-04-19 20:42] adingilloRancher opened #12888 "Unable to create Daemonset event alert."
**Rancher versions:**
Master 4/17/18

Steps:
Create a new cluster.
Attempt to add a new alert for Daemonset events.

Results:
Unable to save.

![screen shot 2018-04-19 at 1 23 02 pm](https://user-images.githubusercontent.com/38012481/39017121-3d707528-43d7-11e8-88fa-1adc104fd92c.png)

Response:
{
   "actionLinks":{

   },
   "baseType":"error",
   "code":"InvalidFormat",
   "fieldName":"targetEven

[2018-04-19 20:44] adingilloRancher opened #12889 "Unable to create stateful event bug."
**Rancher versions:**
Master 4/17/18

Steps:
Create a new cluster.
Attempt to add an alert for statefulset events.

Result:
Unable to save.
![screen shot 2018-04-19 at 1 43 29 pm](https://user-images.githubusercontent.com/38012481/39017282-afdfa94e-43d7-11e8-893b-35ab8e2c1ba7.png)

Response:
{
   "actionLinks":{
   },
   "baseType":"error",
   "code":"InvalidFormat",
   "fieldName":"targetEvent",

[2018-04-19 20:47] nagliyvred commented on #12140
We are seeing the same behaviour in our production cluster every day: whenever a node is added healthcheck goes crazy and the only solution is to delete ipsec containers one-by-one and then delete healthcheck containers one-by-one so that they re-created from scratch...

Are there any other workarounds? This is causing us major disruptions in prod

[2018-04-19 20:53] tfiduccia opened #12890 "Cloud Provider's netResourceGroup is being posted but not returned by API"
**Rancher versions:** 2.0 master 4/19

**Steps to Reproduce:**
1.  Create a cluster and select Azure
2.  Fill out all cloud provider info

**Results:** netResourceGroup is being posted but not returned by API

[2018-04-19 20:57] tfiduccia opened #12891 "Cloud Provider "type" shows up on edit but not in create"
**Rancher versions:** 2.0 master 4/19

**Steps to Reproduce:**
1.  Add a cluster and select Azure
2.  Fill out all azure cloud provider type
3.  Edit cluster

**Results:**  "type" shows up on edit, but isn't there on create
![image](https://user-images.githubusercontent.com/11514927/39017965-960cdb84-43d9-11e8-9be7-21b80d46e7bf.png)

[2018-04-19 21:10] deniseschannon commented on #12569
From https://github.com/rancher/rancher/issues/12746 :

 As cluster member/ project member/ project owner/read only user  , user is  not able to launch kubectl shell.

[2018-04-19 21:10] deniseschannon commented on #12746
Took the following comments about kubectl shell and put them in #12569. Closing this one as that info has been transferred.

[2018-04-19 21:10] #12746 closed

[2018-04-19 21:15] adingilloRancher opened #12892 "Unable to manage users within cluster when assigned role "clusterroletemplatebindings-manage" from CLI"
**Rancher versions:**
Master 4/19/210

Steps:
Create a new cluster.
Create a new local user.
Using CLI - Assign local user to the cluster with the role of "clusterroletemplatebindings-manage".
Create a second local user.
Login as user with ability to manager cluster members.
Attempt to assign the second user to the cluster with the role of "Member"
Select save.

Results:
Unable to save.
![screen s

[2018-04-19 21:32] vincent99 commented on #12824
I was thinking of the location/size column on the Node Template instead of what's on the Node page.  The CPU/RAM columns do reflect the size of the actual node.

Anyway, you do not _have_ to use edit if you don't want to, you can make a new pool, put a new template on it, scale them up and down and all that if you want to do it that way.  You can even make an RBAC role that doesn't let people edit

[2018-04-19 21:49] deniseschannon commented on #12885
Duplicate: https://github.com/rancher/rancher/issues/12538

[2018-04-19 21:49] #12885 closed

[2018-04-19 21:59] deniseschannon commented on #12388
can you double check @sangeethah?

[2018-04-19 22:02] soumyalj commented on #12838
For a HA cluster, kubectl does not get launched in the UI too. It is stuck in "Connecting" state
<img width="1587" alt="screen shot 2018-04-19 at 3 01 58 pm" src="https://user-images.githubusercontent.com/18536626/39020706-aad2dbc8-43e2-11e8-9172-98dfa6819a9c.png">

[2018-04-19 22:04] bfosberry commented on #12792
Seeing similar issues

[code]

[2018-04-19 22:05] bmdepesa opened #12893 "Cannot provision Azure cluster using cloud provider"
**Rancher` versions:**
rancher/server: master 4/19

**Steps to Reproduce:**
Provision using machine drivers

Logs:
[code]

[2018-04-19 22:09] adingilloRancher opened #12894 "DYNAMIC RBAC - Unable to increase node pool with user that only has role "Manage Nodes""
**Rancher versions:**
Master 4/19/18

Steps:
Create a cluster.
Create a new local user.
Add user with custom role of "Manage Nodes" and nothing else.
Login as new user.
Attempt to add a new node pool.

Results:
Unable to save edit to cluster.
![screen shot 2018-04-19 at 3 06 38 pm](https://user-images.githubusercontent.com/38012481/39020940-853c5d5c-43e3-11e8-8e7b-57f43a994008.png)

[2018-04-19 22:11] cjellick opened #12895 "Users show up twice in search"
Steps to repro:
1. As admin, Turn on github
2. Login as some other github user (this causes a user entry to be created in rancher's etcd)
3. As admin (authenticated via github), attempt to add the user from step 2 to a project or cluster. This user will show up twice in the result list

Expected:
User only shows up once in the result list

Actual
User shows up twice in the result list

[2018-04-19 22:16] cjellick commented on #12569
Also, completely broke for "local" cluster, which we might want a separate issue for. This would be "local" cluster you get when deploying in HA mode

[2018-04-19 22:32] sangeethah commented on #12231
Tested with latest build from master.

A project member/project owner is able to list Persistent Volumes and StorageClasses in the cluster and Create/Read/Update/Delete persistent volume claims in their project.

They are also able to deploy workloads using the volumes created from PVClaims.

[2018-04-19 22:32] #12231 closed

[2018-04-19 22:37] sangeethah commented on #12205
When I tried to bring up a rhel 7.5 cluster with native docker and selinux enabled , I get the same error
``[workerPlane] Failed to bring up Worker Plane: Failed to start [kubelet] container on host [172.16.100.108]: Error response from daemon: linux mounts: Path /var/lib/rancher is mounted on / but it is not a shared mount.```

[2018-04-19 22:37] deniseschannon commented on #12384
With share-mnt fix in master, this shoud be fixed.

[2018-04-19 22:38] StrongMonkey commented on #12852
fix is in master now

[2018-04-19 22:39] gaui commented on #12384
@deniseschannon I tried d62c1a9 and it didn't work. If you've got no changes other than that, then no it's not fixed. That's why I made https://github.com/gaui/boot2docker-rootfs-mount-fix/releases/tag/17.03.2-ce

[2018-04-19 22:44] StrongMonkey commented on #12854
please retest.

[2018-04-19 22:51] dramich opened #12897 "[cli] ssh does not allow user to be specified or args to be passed through"
A user can not be specified to if the default user set on the node is not the correct user the node can't be accessed through ssh.

No args are being passed through to the ssh call

[2018-04-19 23:11] superseb commented on #12384
@gaui There have been ~50 commits to `master` since that commit. If you can test the latest master, that would help.

[2018-04-19 23:20] sangeethah opened #12898 "When 2 etcd nodes get added to a cluster (with 1 etcd node) , cluster is stuck in updating state - ""Failed to Get Kubernetes certificates""
Rancher versions:  Build from master

**Steps to Reproduce:**
Create a custom cluster with 1 etcd , 1 control and 3 worker nodes.
Wait for it to come to active state.
Add 2 more etcd nodes.
 Cluster is stuck in updating state with error message - "Failed to Get Kubernetes certificates: secrets "kube-etcd-172-31-12-182" not found"
[code]

[2018-04-19 23:31] sangeethah commented on #12388
@deniseschannon This continues to happen even in latest master builds.

[2018-04-19 23:33] sangeethah commented on #12031
@adingilloRancher When you are validating this issue please make sure you validate the scenario that is mentioned in https://github.com/rancher/rancher/issues/12595 as well.

[2018-04-20 00:52] sangeethah commented on #12367
Tested with latest build from master:
```rancher/server      master              1e1b97f08975        2 hours ago  ```

Created PSP - psp1
Created PSP - psp2
Create a cluster with default PSP set to psp1.
Deploy workloads in default project of this cluster.

Delete psp1.

Note - In UI , I don't see the delete option. I will log a different issue to track this.
I used the "View in Api" UI and used t

[2018-04-20 01:01] guangbochen commented on #12865
yep, it still exists and I think it was caused by the etcd server with `etcdserver: avoid queries with large range/delete range!`

[2018-04-20 01:01] sangeethah commented on #12205
Tested with latest build from master
```rancher/server      master              1e1b97f08975        2 hours ago         785 MB```

Tried to  bring up a rhel 7.5 cluster with native docker and selinux enabled , I get the same error:
[code]

[2018-04-20 01:04] loganhz commented on #12858
Version - 2.0 master 4/19
Verified fixed

[2018-04-20 01:04] #12858 closed

[2018-04-20 01:18] yoke88 opened #12899 "can not see any helm, refresh does nothing, fails occur when disable helm in catelog"
*can not see any helm , refresh the catelog does nothing ,no logs generated. when i try to disabled the helm in catelog, errors occur in the rancher-server logs*

i have upgrade the rancher server from beta3 to master

when disable helm error occur in the rancher-server log
[code]

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `master` UI: `v2.0.35` |
|Access|`local` `admin`|
|Route|`catal

[2018-04-20 01:33] marufbd commented on #12711
I ran this on my cluster where api is a node deployment
`kubectl autoscale deployment api --cpu-percent=50 --min=3 --max=8`

But after that whenever I run
`kubectl get hpa`

It always gives:

NAME| REFERENCE |TARGETS|MINPODS |MAXPODS |REPLICAS | AGE
-------|--------------|----------|------------|------------|-----------|------
api      |Deployment/api  |  \<unknown\> / 50% |  3   |      8   |

[2018-04-20 01:36] gitlawr opened #12900 "When a pipeline execution is triggered, run with the latest definition in the repo."
Currently, we can put a pipeline file in the source code repository and import a pipeline from it. But we don't run with the latest pipeline definition if the file in the repo is updated.
Unlike other ci tools like Drone, besides the pipeline file in the repo, we have a pipeline definition storing in rancher server. It can not be the equivalent of that in the repo. Because a pipeline can reference

[2018-04-20 01:41] yoke88 commented on #12899
[code]

[2018-04-20 01:56] ystyle opened #12901 "can cot connect https://127.0.0.1:6443"
**Rancher versions:**
rancher/server: preview
rancher/agent: beta3

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu 16.04
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/

[2018-04-20 02:08] loganhz opened #12903 "Can not remove catalog app"
rancher/server:master 04/19

Catalog App cannot be removed. The state is always removing.

[2018-04-20 02:13] zchef2k commented on #12384
I just pulled the rancher/server:master and it still appears to not work with v17.03.2-ce

`[workerPlane] Failed to bring up Worker Plane: Failed to start [kubelet] container on host [10.100.50.150]: Error response from daemon: linux mounts: Path /var/lib/rancher is mounted on / but it is not a shared mount.`

[2018-04-20 02:15] loganhz commented on #12852
Version - 2.0 master 4/19
Verified fixed

[2018-04-20 02:15] #12852 closed

[2018-04-20 02:34] zionwu commented on #12888
@adingilloRancher  This bug is due to the backend PR for issue https://github.com/rancher/rancher/issues/12790 and https://github.com/rancher/rancher/issues/12789 is merged but the corresponding UI PR is still not merged.   Once the UI PR is merged this bug will be fixed.

[2018-04-20 02:36] zionwu commented on #12889
This bug is due to the backend PR for issue #12790 and #12789 is merged but the corresponding UI PR is still not merged. Once the UI PR is merged this bug will be fixed.

[2018-04-20 02:38] alena1108 commented on #12890
@vincent99 by some reason UI shows 2 parameters - `netResourceGroup` and `vnetResourceGroup` - and only the second one is valid and exposed via `/v3/schemas/azureCloudProvider` API

![image](https://user-images.githubusercontent.com/1562176/39027947-2fed1c1c-4409-11e8-85cd-d5a6b4cc96cb.png)

Not sure what can be a reason for that?

[2018-04-20 02:40] zionwu commented on #12857
This issue is caused by this framework issue https://github.com/rancher/rancher/issues/11740

[2018-04-20 02:44] vincent99 commented on #12890
There's a list in the UI, presumably from before they were showing up in the schema properly..

[2018-04-20 05:11] heww commented on #12838
not only in HA cluster, in one node it also not work!

[2018-04-20 05:44] gitlawr opened #12906 "improper style in pipeline logs"
**Rancher versions:**
master 4/19

**Steps to Reproduce:**
1. run a pipeline

**Results:**
The pipeline execution logs are difficult to identify
![image](https://user-images.githubusercontent.com/5697937/39032528-828a345e-44a0-11e8-90f4-77b102918746.png)

[2018-04-20 06:01] zionwu commented on #12880
We are not going to expose the alert manager for external access by default, so the fix is to disable the link.

[2018-04-20 07:04] yoke88 commented on #12899
with lastest rancher/server:master , the problem gone now.

[code]

[2018-04-20 07:04] #12899 closed

[2018-04-20 07:12] yoke88 commented on #12766
using lastest rancher/server:master . one node always restart flannel pod.

the log in the failed docker of  flannel  shows this

[code]

The log of pod

[code]

[2018-04-20 07:47] chrisurwin commented on #12824
So are we going to update the Cluster/Node page as well, as it would be better to remove the node information than to have it showing misleading information?

[2018-04-20 08:45] BalaBalaYi opened #12908 "statefulset icon issue"
**Rancher versions:**
rancher/server:v2.0.0-beta3
rancher/agent:v2.0.0-beta3

**Infrastructure Stack versions:**
healthcheck: OK!
ipsec: OK!
network-services: OK!
scheduler: OK!
kubernetes (if applicable): OK!

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2 ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
16.04.4 LTS (Xenial Xerus)
**Type/pr

[2018-04-20 08:46] vainkop opened #12909 "Support for weave cni + network policies in Rancher 2.0?"
Rancher/server: 2.0
AWS
---
Is there any way to use Weave cni with it's network policies in Rancher 2.0 + K8s 1.10?

Thanks!

[2018-04-20 09:50] k0nstantinv opened #12910 "[Rancher 2.0] agent failed connect to proxy error"
My infrastructure:
Ubuntu 16.04 xenial servers ( kernel: 4.4.0-119-generic )
[code]
docker: `17.03.2-ce`
rancher-server: `rancher/server:preview`
rancher-agent: `rancher/agent:v2.0.0-beta3`
kubernetes version: `v1.9.5-rancher1-1`
network provider: `flannel`
ingress provider: `Nginx`
everything else by default

I have a single node Rancher server in docker container. I use linked Nginx container as

[2018-04-20 10:47] zionwu commented on #12635
The current approach is setting the message and title as label.  We should set the metadata such as cluster name/alert type as labels and use go template to generate the actual alert message

[2018-04-20 11:20] BalaBalaYi opened #12912 "3 app in kube-system namespace have problems after the cluster deployed"
**Rancher versions:**
rancher/server:v2.0.0-beta3
rancher/agent:v2.0.0-beta3

**Infrastructure Stack versions:**
healthcheck:OK!
ipsec:OK!
network-services:OK!
scheduler:OK!
kubernetes (if applicable):OK!

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2 ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
16.04.4 LTS (Xenial Xerus)
**Type/provide

[2018-04-20 11:51] BalaBalaYi commented on #12284
with 2.0.0 beta3 ，1.10 k8s, customer type on virtualmachine:
Local Node Dist shows:
![image](https://user-images.githubusercontent.com/23303886/39049447-0f93f938-44d4-11e8-8370-b2c5bbffbcea.png)

Local Node Path shows:
![image](https://user-images.githubusercontent.com/23303886/39049471-2525ef54-44d4-11e8-9701-9b0fb02a45d8.png)

[2018-04-20 11:55] typia commented on #12606
Hi @superseb
Thanks for your help.
I tried again to upgrade to 1.6.16

First I restored my db to snapshot from 1.6.14 then started rancher 1.6.16
As you said, I saw my db reduced drastically going from 13Gb to 2Gb but it crashed when trying to maintain audit_log table ([rancher.log](https://github.com/rancher/rancher/files/1931998/rancher.log))

I truncated audit_log and 1.6 managed to start but t

[2018-04-20 12:02] superseb commented on #12606
Those error seem to indicate short timeout settings on the DB, or generally load on the DB causing queries not to finish in time. What are the timeouts configured on the DB, and what are hosts specs for the DB and the host running rancher/server?

[2018-04-20 12:55] typia commented on #12606
Both Hosts are VMs, Debian 8.10 hosts
DB host has 4vcpu and 8Gb Ram It runs mariaDB directly (was from a container first)
Here's the [my.cnf](https://github.com/rancher/rancher/files/1932162/my.cnf.txt) for the DB server

Rancher Server has 2vcpu and 2Gb Ram

Let me know if you need any other information and thanks again

[2018-04-20 13:23] chrisurwin opened #12914 "Removing a Notifier that is attached to active Alerts doesn't warn"
**Rancher versions:**
rancher/server: master 20/4

Currently a Notifier can be removed without warning even though it is associated with Active alerts.

At a minimum it should alert the user that there are active alerts associated and prompt for confirmation, preferably it would show the associated alerts and not allow removal until the alerts are deactivated.

[2018-04-20 13:40] superseb opened #12915 "Opening Projects/Namespaces when cluster is in provisioning state shows 503"
Version: master 4/20

- Create custom cluster
- Open `Projects/Namespaces`

503 is shown
[code]

[2018-04-20 13:41] superseb opened #12916 "Ability to set flannel interface when using Canal"
Follow up on: https://github.com/rancher/rancher/issues/11780

[2018-04-20 13:44] superseb opened #12917 "Validate added catalog answers"
Version: master 4/20

When adding wordpress template, and using answer like `mariadb` = `blabla,`, the UI accepts it and starts deploying while the `rancher/server` loggins shows:

[code]

[2018-04-20 14:10] superseb opened #12918 "Can't use container name/id when using rancher exec"
Version: CLI v0.6.9

See below, the regression introduced:

[code]

This while `rancher logs aaa-nginx-1` works fine.

Workaround is to use the service name and then select a container
[code]

[2018-04-20 14:40] simpss commented on #12910
I can reproduce this in a slightly different setting.

Rancher server started with:

[code]

When trying to start a separate bare-metal worker, etcd and control node with:
[code]
I get a similar error:

[code]

at some point, before, I tried to use a custom SSL cert, but i've since removed those config options. Might provide a clue as well.
[code]

[2018-04-20 14:49] superseb commented on #12910
@k0nstantinv If you are using self-signed, you still need to mount the `cacerts.pem` into the `rancher/server` container. There will be docs on this but for now you can check out this: https://medium.com/@superseb/ssl-tls-options-for-rancher-2-0-dca483a7070d

@simpss It looks like you didn't clean your nodes properly when re-using them, you can do so with this script: https://gist.github.com/super

[2018-04-20 15:38] adingilloRancher commented on #12889
Master 4/20/18

Verified Fix

[2018-04-20 15:38] #12889 closed

[2018-04-20 15:38] adingilloRancher commented on #12888
Master 4/20/18
Verified Fix

[2018-04-20 15:38] #12888 closed

[2018-04-20 15:39] adingilloRancher commented on #12790
Master 4/20/18
Received Alerts

[2018-04-20 15:39] #12790 closed

[2018-04-20 15:39] adingilloRancher commented on #12789
Master 4/20/18
Received Alerts

[2018-04-20 15:39] #12789 closed

[2018-04-20 15:39] tomdavidson opened #12919 "multi-cluster projects"
Projects are a collection of k8s namespaces and rancher users/groups. It would be great if the namespaces could exist on multiple clusters but at least in the UI projects have a child relationship with clusters. Should the project - cluster relationship be decoupled?

Thanks

[2018-04-20 16:00] adingilloRancher opened #12920 "Human readable alerts for Daemonset/Statefulset events"
**Rancher versions:**
Master 4/20/18

Steps:
Create a new cluster
Create an alert for Daemonset events.
Create an alert for Stateful events.

Results:
Can we please make the event description user friendly?
![screen shot 2018-04-20 at 8 57 25 am](https://user-images.githubusercontent.com/38012481/39061399-f3b3c226-4478-11e8-8d49-aed3100f74ed.png)

[2018-04-20 16:00] bmdepesa commented on #12741
When I have seen this, the jenkins pod is pending and not ready. Closing.

[2018-04-20 16:06] vincent99 commented on #12919
TL; DR: No.

This is roughly the first thing everybody says when they find out about projects, and we get why it _sounds_ like a useful thing, but if you actually try to work out what it would do it doesn't actually makes sense.

For example, when you add a workload, which cluster does it go to?  Sure we can have a choice in the UI; what about in `kubectl apply`?  And it just gets worse from there

[2018-04-20 16:06] #12919 closed

[2018-04-20 16:07] adingilloRancher opened #12922 "Alerts triggered with no event."
**Rancher versions:**
Master 4/20/18

Steps:
Create a new cluster.
Create alert for Daemonset and Statefulset events (I set initial wait for 30 seconds).
Create a new Daemonset workload and Statefulset workload.

Results:
Initial alert is received. However, alerts are still triggered without new events being logged.
![screen shot 2018-04-20 at 9 06 30 am](https://user-images.githubusercontent.com/

[2018-04-20 16:13] bmdepesa opened #12923 "Service Discovery - DNS not resolving alias to hostname"
**Rancher versions:**
rancher/server: master 4/19

**Steps to Reproduce:**
Create DNS record resolving to hostname
Create DNS record type alias with target of first record
Dig / Ping alias record - Should resolve to hostname of first record

**Results:**
Fails to resolve

<img width="1274" alt="screen shot 2018-04-20 at 9 11 24 am" src="https://user-images.githubusercontent.com/21316915/39061973-f

[2018-04-20 16:14] superseb opened #12924 "Logs parameters in CLI do not get applied"
Version: rancher/cli v0.6.9

Specifying tail in the CLI does not get passed/used.

[code]

Docker daemon logging
[code]

Also, `--timestamp`, `--since` seem not to work. Tail seems to be set at `100`.

[2018-04-20 16:38] tomdavidson commented on #12919
Thanks for the quick reply.

K8S federation just uses --context. Does not seem that impossible/crazy given that rancher is a single control plane for multiple clusters.

If the 'project' construct  is the R&D portion of the value chain, then I have workloads that run on different clusters that is the same code and has the same users but with rancher projects coupled to clusters I will need to have

[2018-04-20 16:38] sangeethah commented on #12367
I was trying to delete a PSP that was not associated with cluster by mistake.
When I tried to delete a PSP that was associated with cluster , I see the following error as expected
[code]

[2018-04-20 16:38] #12367 closed

[2018-04-20 16:44] adingilloRancher commented on #12031
Master 4/20/18
Verified fix for both local and git users.

[2018-04-20 16:44] #12031 closed

[2018-04-20 16:46] tomdavidson opened #12925 "OpenAPI spec"
Hello, I have found https://github.com/rancher/api-spec but there does not seem to be a machine readable OpenAPI/Swagger spec for the Rancher API. I do not see an issue in 2.0 or 2.1 milestones.

Can OpenAPI be on the horizon for one of the 2.x releases?

[2018-04-20 16:51] sangeethah opened #12926 "Delete option not presented in UI for PSPT."
**Rancher versions: Build from master
**Steps to Reproduce:**
Go to Global->Security->Pod Security Policy
Create a new PSP template.
Notice that user is not presented with "Delete" option.

<img width="1331" alt="screen shot 2018-04-20 at 9 50 10 am" src="https://user-images.githubusercontent.com/4266958/39063533-404544f0-4480-11e8-947f-491d940b5cda.png">

[2018-04-20 16:55] vincent99 commented on #12926
This is an API bug; Listing individual PSPs returns the `remove` link but getting the collection does not.

[2018-04-20 17:05] sangeethah commented on #12368
Rancher server version - Build from master

When trying to delete a PSP that is still associated with a project , following error is seen as expected:

[code]

[2018-04-20 17:05] #12368 closed

[2018-04-20 17:09] rossedman commented on #12910
This could be related to my issue as well: https://github.com/rancher/rancher/issues/12773

[2018-04-20 17:19] gtirloni opened #12928 "v2.0.0-beta3 - Master node not identified in imported cluster"
**Rancher versions:**
rancher/server: 2.0.0-beta3
rancher/agent: 2.0.0-beta3

**Infrastructure Stack versions:**
network-services: calico
kubernetes: 1.10.1

**Docker version:**
17.03.2

**Operating system and kernel:**
CentOS 7.4 x86_64

**Type/provider of hosts:**
Bare-metal/KVM

**Setup details:**
Single node Rancher
Cluster created with kubeadm 1.10.1 (1 master, 6 workers)

**Steps to Reproduc

[2018-04-20 17:40] sangeethah commented on #12704
This issue also reproduces when creating  PVC using and then deploying a workload with volumes using "Use an existing PVC".

[2018-04-20 17:45] alena1108 commented on #12704
@kinarashah could you see if it's the same root cause as https://github.com/kubernetes/kubernetes/issues/54370, and is there any way to workaround it?

[2018-04-20 17:54] deniseschannon commented on #12736
I believe @ibuildthecloud didn't want to delete anything except for the intances, so anything created outside wouldn't be deleted.

When doing a cluster delete, we should warn users with UI that outside resources of instances/nodes would need to be cleaned up manually.

[2018-04-20 17:56] StrongMonkey opened #12933 "RPC error when rancher starts up"
[code]

seeing a bunch of rpc error when rancher starts up. The fix is to change built-in kontainer-engine drivers to not use rpc framework.

[2018-04-20 18:13] deniseschannon commented on #12869
@adalga It seems like you are trying to import the cluster that is also running rancher? Is that correct?

In the future, we are supporting creating a k8s cluster and deploy a k8s yaml to start Rancher as a deployment.

[2018-04-20 18:15] deniseschannon commented on #12871
We don't recommned ever using the `latest` tag for agent as each Rancher server is specifically compatible with a specific version of Rancher agent. Relying on latest can get you into situations where the server will not work with agent.

WIth that being said, I've updated the `latest` tag for rancher agent.

[2018-04-20 18:15] #12871 closed

[2018-04-20 18:16] cjellick commented on #12532
Backend fixed. @vincent99 can you now change to waiting on this condition on the cluster before creating the nodepool? `InitialRolesPopulated`

[2018-04-20 18:21] akire0124 opened #12935 "Failure to start containers - "Error response from daemon: grpc: the connection is unavailable""
**Rancher versions:**
rancher/server:v1.6.14
rancher/agent:v1.2.9

**Infrastructure Stack versions:**
healthcheck:5
ipsec:15
network-services:26
scheduler:10
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
17.03.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RancherOS v1.0.4 (4.9.40)

**Type/provider of hosts: (Virtu

[2018-04-20 18:41] deniseschannon commented on #12284
@zionwu this is fixed in master now, right?

[2018-04-20 18:53] sangeethah commented on #12872
@cjellick
Tested with latest build from master:

1. Create a GKE cluster through google, not through rancher
2. Import the cluster
3. Made sure that creating a LoadBalancer for a workload , creates a LB successfully and is functional.
4. Move all system namespaces to a project.
5. Create  LoadBalancer for a workloads (in existing namespace and new namespace).
Service LBs get created successfully a

[2018-04-20 18:56] gaui commented on #12384
No, `rancher/server:master db4b81a3aef4` still fails with:

[code]

Worked with https://github.com/gaui/boot2docker-rootfs-mount-fix/releases/tag/17.03.2-ce

[2018-04-20 19:37] joshiegy commented on #7618
I to would like to have the same info as what @shadowbq is requesting

[2018-04-20 19:51] potter-the-cat commented on #12088
In the *Cluster* area, you can add a new Node. If you click on `Nodes` you can then add a machine. Checking the boxes for `etcd` and `control` when in the Cluster > Node area resolved this issue for me.

[2018-04-20 20:09] adingilloRancher commented on #12610
Master 4/20/18

Verified ability to add pod with health check. Reached available status. Checked TCP set to "true" for backend. UI able to edit health check.

[2018-04-20 20:09] #12610 closed

[2018-04-20 20:54] nathan-jenan-rancher commented on #12395
Could not reproduce @sangeethah , please retest.  This may have been inadvertently fixed.

[2018-04-20 21:08] sangeethah commented on #12926
Tested with latest build from master.
Delete option is presented for PSP entries that are not in use in UI and able to delete them using this option.

[2018-04-20 21:08] #12926 closed

[2018-04-20 21:21] nathan-jenan-rancher opened #12939 "PSPT delete link is not immediately removed when assigning a PSPT to a cluster/project"
When a PSPT is assigned to a cluster or project, and the user navigates back to the PSPT screen, the delete link will NOT be removed from the PSPT immediately. A reload of the page will cause the PSPT delete link to be removed.  In order to fix this we need to make sure a PSPT change event propagates to the UI, via a no-op update on the PSPT in the serviceaccount.go handler.

[2018-04-20 21:38] sangeethah opened #12940 "PSP deletion issues."
Rancher server - Build from master

Steps to reproduce the problem:
Created PSP - psp1, psp3
Create a cluster with default PSP set to psp1.
Create a project under this  cluster with psp3.
Deleted the project.

This should have resulted in PSP3 being deleted from the cluster when queried using kubectl.
The PSP3 is still present in the cluster.
[code]
Following errors seen in logs:
[code]
Delete psp

[2018-04-20 22:04] bmdepesa commented on #12624
On master 4/20 (pulled at 3pm).
UI: v2.0.35

I do not see a tag trigger in pipeline UI. Cleared cache and reloaded with no effect.

[2018-04-20 22:17] cjellick commented on #12622
i noticed that we are swallowing an error
https://github.com/rancher/rancher/blob/master/pkg/auth/providers/providers.go#L67

can you make it so that we unswallow that error?
Im not sure that you are going to be able to fix this part of the problem

Principal not found: Internal Server Error.

Because we dont have enough information, but unswallowing that error might give us more details for futur

[2018-04-20 22:26] sangeethah commented on #12872
Tested with latest build from master:

Create 3 psps , psps1 , psp4 , psp5.
Create a DO cluster with default psp set to psp1.
Create a project p1 with psp set to psp5. Create a namespace - hello1.
Create a project p2 with psp set to psp4.
Outside of rancher server , create a  role binding ( read-secrets) associated with service account in namespace - hello1.

[code]

From rancher server UI , move

[2018-04-20 22:26] #12872 closed

[2018-04-20 22:32] soumyalj commented on #12589
Tested with master from April 20 build. EKS cluster creation with the below error:
[code]

[2018-04-20 22:48] deniseschannon opened #12942 "Add Azure AD as an auth provider in 2.0"
Make sure to be able to configure Azure AD and Azure AD China

[2018-04-20 23:02] nathan-jenan-rancher commented on #12589
This is because the hepatic authenticator for AWS apparently prefers to use environmental variables.  Because the variables are not set on the host Rancher is running on the eks cluster creation is failing.  Will fix by setting environmental variables programmatically.

[2018-04-20 23:07] bmdepesa commented on #12677
Tested on rancher cli v1.0.0-alpha13.

Options show yaml as an option, but when specified still outputs as JSON.

[code]

[2018-04-20 23:12] sangeethah commented on #12550
Tested with latest build from master

Able to change Admin password successfully using ```Security -> Authentication -> Manage Accounts``` .

Able to use the new password to login successfully.

I do see the "me: true" parameter set for the user. But it does not prevent password change from happening.

[code]

@kinarashah Can you confirm that it is expected to see the "me: true" in this case ?

[2018-04-20 23:17] deniseschannon commented on #12210
@bmdepesa can you ask @cloudnautique how this needs to be tested?

[2018-04-20 23:30] StrongMonkey commented on #12460
This appears to be a operation issue. @guangbochen ^ Only when you rollback or upgrade to an incompatible template.

[2018-04-20 23:42] deniseschannon commented on #11277
I haven't tested this, but I believe node pools were refactored a bit (again). @tfiduccia can you re-test?

I think proper behavior should be that when the provisioning finally errors out, there will only be one node that is in error state. It will continue being in error state until you delete it. When you delete the node, it will try to provision another node (with the same node template). So th

[2018-04-20 23:44] deniseschannon commented on #11367
@ibuildthecloud is creating the private registry setting. once it's in, we should make sure that alerting/loggin uses it when it's filled in.

[2018-04-20 23:44] cloudnautique commented on #12210
This is working. I'll sync with @bmdepesa

[2018-04-20 23:48] sangeethah commented on #12569
Tested with latest build from master:
As cluster member/ project member/ project owner/read only user , user is able to launch kubectl shell.

kubectl shell issue for local cluster is tracked in https://github.com/rancher/rancher/issues/12838

[2018-04-20 23:48] #12569 closed

[2018-04-20 23:55] StrongMonkey commented on #12933
https://github.com/rancher/rancher/pull/12943

[2018-04-20 23:56] StrongMonkey commented on #12933
nothing to test, after this get merged, the above error should disappear and there shouldn't be any rpc error  during provisioning.

[2018-04-20 23:58] deniseschannon commented on #12424
@sangeethah with all the changes in the last bit, have you seen this?  if not, can we close?

[2018-04-20 23:59] deniseschannon commented on #12460
@guangbochen can you try with a compatible template?

[2018-04-21 00:10] deniseschannon commented on #12755
We are not going to automatically delete other resources that were created (like load balancers) but instead will be creating a warning in the UI that deleting the cluster will only be deleting the nodes.

[2018-04-21 00:31] deniseschannon commented on #12916
I'm not quite sure the diff between this request and #11780.

[2018-04-21 00:39] deniseschannon commented on #12870
I believe there were known issues in v1.11.x that made it less stable than other versions, but it's been awhile.

For installing Docker, we have some install scripts that work well, where you can replace it with what version you want to install. We use these in our product to set a specific version of Docker when creating hosts using our UI. It's in the "Advanced Options" section.

https://github.

[2018-04-21 00:39] #12870 closed

[2018-04-21 01:04] loganhz commented on #12915
@vincent99  As the cluster is not ready, so we cannot do `get(this, 'clusterStore').findAll('namespace')`. Should we hide `Projects/Namespaces` menu if cluster is provisioning?

[2018-04-21 01:33] bernardmaltais opened #12945 "Unable to set node agent ip to Public instead of Private"
I tried the “-e CATTLE_AGENT_IP=<assigned public ip>” method to force the agent to use the Public IP assigned by the cloud provider (like AWS, Azure or Google) instead of the Private IP but it does not appear to work. Is this a supported feature of v2.0 or something that is no longer available?

Needed to allow nodes to communicate when private networks are not routable and only Public is.

Right

[2018-04-21 01:55] #12903 closed

[2018-04-21 01:55] loganhz commented on #12903
Version - 2.0 master 4/20
Verified fixed

[2018-04-21 01:55] guangbochen commented on #12460
yes, rollback and upgrade work fine with a compatible template, but for incompatible template we can to use `kubectl patch` or `kubectl apply --force`  for a strategic merge path,  @StrongMonkey can we verify using `kubectl path` in the rollback feature.

[2018-04-21 01:57] cjellick commented on #12892
Duplicate of https://github.com/rancher/rancher/issues/11116 ?

[2018-04-21 02:31] soumyalj opened #12949 "Error when deploying 2.0 server in HA"
**Rancher versions:**
rancher/server: master

**Docker version: (`docker version`,`docker info` preferred)**17.03

**Steps to Reproduce:**
1. Deploy rancher in HA using the yml file below:
[code]
Deploying rancher in HA fails with the below error:
[code]
<img width="1291" alt="screen shot 2018-04-20 at 7 30 45 pm" src="https://user-images.githubusercontent.com/18536626/39079522-598ea19e-44d1-11e8-

[2018-04-21 02:38] deniseschannon commented on #11367
From @ibuildthecloud: If you are deploying pods and need to set a docker image you need to use this util method now image.Resolve() that will prepend with the system default private registry if needed.

[2018-04-21 02:52] vincent99 commented on #12917
The UI has no way to know what that variable is going to be used for our what characters it should be allowed to end with...

[2018-04-21 03:15] sangeethah commented on #12169
Not able to reproduce the delay consistently.

Closing this issue.

[2018-04-21 03:15] #12169 closed

[2018-04-21 03:30] pungoyal commented on #12710
rancher starts in the docker container, but the web interface doesn't open up

[2018-04-21 04:04] orangedeng opened #12951 "Update daemon set will lost container environment"
Reproduce steps
1. Create a rke cluster
2. move ingress-nginx namespace into default project
3. update nginx-ingress-controller workload and change command a little and pay attention to environment. There will be two env var `POD_NAME` and `POD_NAMESPACE`
4. after click update, view workload detail again and see what env vars are now.

Result:
only one env var left.

Expect:
env var should still t

[2018-04-21 04:22] sangeethah opened #12953 "Nodes stuck in "Unavailable" state - "Runtime network not ready" in rhel 7.5 nodes having selinux enabled"
Rancher server version - Build from master (f7fc2f338c5f ) from Apr 20.

Steps to reproduce the problem:

Create a custom cluster with rhel 7.5 hosts with native docker (1.12 / 1.13) with selinux enabled having following configuration:
1. 1 control node
2. 1 etcd node
3. 3 woker nodes

Cluster gets to "Active" state. But nodes get stuck in "Unavailable" state" with following error state -

```Runt

[2018-04-21 04:52] intrasenze-app opened #12954 "awslog tag can't witch docker-compose but works from rancher-ui"
**Rancher versions:**
rancher/server: stable  1.6.16
rancher/agent:

**Infrastructure Stack versions:**
healthcheck: 0.3.6
ipsec:
network-services:
scheduler:0.8.3
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
17032
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu 16.04
**Type/provider of hosts: (VirtualBox/Bare-met

[2018-04-21 04:53] intrasenze-app commented on #12954
cc @henry-zhang

[2018-04-21 05:03] mysim1 commented on #12864
Cloud version of this problem is at:
https://github.com/rancher/rancher/issues/12945

[2018-04-21 05:50] sangeethah commented on #12802
This issue is not seen anymore when testing with latest builds from master.

[2018-04-21 05:50] #12802 closed

[2018-04-21 05:54] sangeethah commented on #12205
Tested with latest builf from master
Tried to bring up a rhel 7.5 cluster with native docker and selinux enabled , I get the following error now
- https://github.com/rancher/rancher/issues/12953

[2018-04-21 05:56] adalga commented on #12869
I created my cluster with rke but there is no rancher running. I imported it via generated yaml from rancher ui.

[2018-04-21 11:08] vainkop opened #12957 "Limit container's cpu usage in Rancher 1.6.17 (Cattle)"
**Rancher versions:**
rancher/server: 1.6.17
**Docker version: (`docker version`,`docker info` preferred)**
1.13.1
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**Environment Template: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Try to set a limit on a container CPU

[2018-04-21 12:30] zionwu commented on #12284
@deniseschannon This is a different issue. The one I fixed is for the `Local Node Path`, of which the yaml is [here](https://raw.githubusercontent.com/kubernetes/website/master/docs/tasks/configure-pod-container/task-pv-volume.yaml)

This issue is for the `Local Node Disk`, of which the yaml is [here](https://kubernetes.io/docs/concepts/storage/volumes/#local) . From the  error message `Local volu

[2018-04-21 12:45] zionwu commented on #11277
I have investigated this issue. The root cause is that when use the private ip for the aws instance, docker-machine stucks and the lifecycle func `Create` stucks.  When the cluster is deleted, it equeque the node obj the for lifecycle handler.  If the obj is dequeue then the lifecycle func `Delete` will be called. However, the `Create` func stucks and the obj is never dequeque so the `Delete` meth

[2018-04-21 13:09] zionwu commented on #12783
@adingilloRancher  we do not support embedded ES in project level.

[2018-04-21 14:36] reidlai commented on #12605
+1

[2018-04-21 14:49] ystyle commented on #12923
the same issue .

i create a workload ,name is nginx,  then scala to 3 pod, and turn back to 1
run `ping nginx` in other pod , the nginx dns record ip is erros,
and i add a nginx-serivce to the same workload or alias a other name , the dns record is right

[2018-04-21 15:27] adingilloRancher commented on #12672
Master 4/21/18
Verified new UI
"Failed to connect smtp server: dial tcp: lookup smtp.office.365.com on 67.207.67.3:53: no such host"

[2018-04-21 15:27] #12672 closed

[2018-04-21 15:29] adingilloRancher commented on #12920
Master 4/21/18
Verified UI

[2018-04-21 15:29] #12920 closed

[2018-04-21 16:05] sangeethah commented on #12933
@soumyalj These errors were never seen in deployments run using ``docker run``` option.

Can you check if you see these errors in your current local cluster setup you have? And verify that it does not happen with builds that have the fix.

[2018-04-21 18:07] cat24max commented on #6965
There is no Advanced Options under API keys???

[2018-04-21 22:28] vincent99 commented on #6965
![image](https://user-images.githubusercontent.com/753917/39089283-a27930c0-4578-11e8-880f-77bdae7a4660.png)

[2018-04-22 01:50] jbalonso commented on #12205
I made only slight progress since I muttered about this issue over in #12384--I'm still facing the shared-mount issue. My setup (now):
* vSphere provider (using vSphere 6.0.0 and ESXi 5.1.0, with hope to upgrade soon)
* `rancher/server:master` with hash `a80ca3ea4ad3` (extended by custom `Dockerfile` to add internal CA certificates via `update-ca-certificates`)
* `boot2docker.iso` from url `https:

[2018-04-22 04:34] bmdepesa commented on #12893
On master 4/21, still unable to provision, but I'm not sure if I'm doing anything wrong in setup.

Created a new cluster through UI, with Azure cloud provider option selected. Do any fields in the configuration need to be set to anything specific?

Rancher logs:
[code]

kube-apiserver logs:

[code]

[2018-04-22 04:45] bmdepesa commented on #12457
Validated on master 4/21.

Created a github account with uppercase letters. Enabled github oauth with no errors.

[2018-04-22 04:45] #12457 closed

[2018-04-22 05:46] sangeethah commented on #12424
This issue is not seen when testing with master builds.

[2018-04-22 05:46] #12424 closed

[2018-04-22 21:10] mloc commented on #12410
Confirmed happening on beta3, deployed yesterday.

[2018-04-22 23:04] mdferoz opened #12962 "Adding ldap authentication with group search base doesn't work as expected"
**Rancher versions:**
rancher/server: rancher/server:v2.0.0-beta3
rancher/agent: rancher/agent:v2.0.0-beta3

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 17.03.2-ce, build f5ec1e2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferr

[2018-04-22 23:32] sangeethah opened #12965 "Not able to connect to rancher server when nodes in control plane get deleted because of running of memory."
**Rancher versions: Build from master

Steps to reproduce the problem:
Had many custom clusters provisioned.

Deleted etcd/control nodes from clusters .
After a while, rancher server  stopped responding. Not able to launch rancher server UI anymore.

rancher server process itself is up and running.

Following errors are seen in logs:

[code]

Following are the last lines seen in logs:
[code]

[2018-04-22 23:50] ssmithTaylor commented on #10580
I'm using DHCP and ran into this issue as well. (Though my DHCP address has not changed)

Restarting the network stack in ROS resolved the issue I was having with the health check service.

[2018-04-23 00:28] huanga commented on #12410
Petition for reopening this ticket please.

[2018-04-23 00:58] vincent99 commented on #12410
This did not make it into beta3, but is in master.

[2018-04-23 01:00] vincent99 commented on #12962
https://github.com/rancher/ui/pull/1821

[2018-04-23 01:00] #12962 closed

[2018-04-23 01:57] biblesyme commented on #12949
**Rancher versions:**
rancher/server: master 22/4

<img width="1312" alt="screen shot 2018-04-23 at 09 45 12" src="https://user-images.githubusercontent.com/9334435/39103269-5f7a4c18-46dc-11e8-9210-32897b33bf07.png">

Same error when I launch rancher in minikube with yaml below

[code]

[2018-04-23 02:07] vimniky commented on #12868
@gtirloni I follow the step, but I can't reproduce this issue, can you provide more context?

[2018-04-23 02:07] vimniky commented on #12868
@gtirloni I follow the step, but I can't reproduce this issue, can you provide more context?

[2018-04-23 03:05] aiwantaozi commented on #12521
Darrent updates the docker-machine version to 0.14.0 this version include the digitalocean driver flag --digitalocean-monitoring.
![image](https://user-images.githubusercontent.com/5936271/39105076-2685d210-46e6-11e8-824c-de1f4875e669.png)

[2018-04-23 03:36] guangbochen opened #12966 "Not being able to reset default storage class"
Rancher versions: 2.0 master 04/23

Steps to Reproduce:
1. go to the storage class page
2. create a new storage class and set as a default
3. unset the default storage class is not working(either on the edit page) and a user can set more than one default storage class

![image](https://user-images.githubusercontent.com/4569037/39105744-2baf8a52-46ea-11e8-914f-a2ea533f0e53.png)

![image](https://us

[2018-04-23 03:49] yinfxs opened #12967 "How can i add ingress annotations in rancher 2.0?"
**Rancher versions:**
rancher/server:v2.0.0-beta3
rancher/agent:v2.0.0-beta3

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
3.10.0-693.2.2.el7.x86_64

**Type/provider of hosts: (V

[2018-04-23 04:40] sangeethah opened #12969 "Cluster provisioning stuck in "[workerPlane] Failed to bring up Worker Plane: Failed to verify healthcheck: Service [kubelet] is not healthy on host [<ip>]. Response code: [401], response body: Unauthorized""
**Rancher versions: build from master
**Steps to Reproduce:**

Create a custom cluster and register hosts (rhel 7.5) to this cluster with following roles:

2 control nodes
3 etcd
3 workers

Cluster stuck in provisioning forever with following error message:
[workerPlane] Failed to bring up Worker Plane: Failed to verify healthcheck: Service [kubelet] is not healthy on host [<ip>]. Response code: [

[2018-04-23 05:16] zionwu commented on #11367
@deniseschannon The changes are made in this PR  https://github.com/rancher/rancher/pull/12948/files and it is merged

[2018-04-23 06:54] guangbochen commented on #12448
verified fixed master 04/23, close issue.

[2018-04-23 06:54] #12448 closed

[2018-04-23 06:55] guangbochen commented on #12461
rancher/charts is added on default on master 04/23, close this issue.

[2018-04-23 06:55] #12461 closed

[2018-04-23 08:03] aiwantaozi commented on #12860
Hi, if you config the different format in the syslog server, may some config like below, and you select a severity in the UI, for example, you select the notice, fluentd will add notice severity to each log, and in your syslog server, the log will only write to the notice and the level under notice (notice, Info  and debug). Is this match your test?
*.debug /var/log/mydebug
*.info /var/log/myinfo

[2018-04-23 08:44] simpss commented on #12910
@k0nstantinv I got around that when I provided 3 separate files. One as the key, one as the cert and one as the CA-chain. Maybe give it a shot with separating them.

[2018-04-23 09:02] k0nstantinv commented on #12910
@simpss

Should this paths be similar to the paths as it described on Medium's manual:
[code]
Since i use `Nginx` as a reverse proxy for SSL termination should i also mount its `cert.pem` and `key.pem` to the Rancher Server container?  I'm a little confused :(

[2018-04-23 09:21] guangbochen opened #12972 "catalog apps has create repeated pod in the ui because of incorrect id"
Rancher versions: 2.0 master 04/23

Catalog apps has create repeated pod in the UI because of  incorrect id returned by the websocket.

Steps to Reproduce:
1. Go to Catalog Apps and install the MySQL chart
2. Go to the `Workloads` page, and the pods are showing with a repeated name
![image](https://user-images.githubusercontent.com/4569037/39117413-6b4bb2e2-4719-11e8-9fa2-7fdecac4699e.png)

`https

[2018-04-23 09:26] georgeboot commented on #12949
Same issue with the example config provided by RKE (rancher-minimal-passthrough.yml)

[2018-04-23 09:49] simpss commented on #12910
sorry, forgot that you are using nginx as a proxy. I don't think you should set any volume mounts for certificates actually. Let the server generate it's own and then proxy nginx.

Or you can use `--http-only` and start the rancher server without SSL.

[2018-04-23 10:05] k0nstantinv commented on #12910
@simpss thanks anyway. As i know `--http-only` option is no longer supported

[2018-04-23 10:42] biblesyme commented on #12682
@vincent99 How about we make it three or four per line?

[2018-04-23 10:46] biblesyme commented on #12682
Or, we can make the width of column draggable. User can adjust it to fit the right

[2018-04-23 12:36] zionwu opened #12973 "null is display for namespace when editing workload"
**Rancher versions:**
rancher/server:master 04/23

**Steps to Reproduce:**
1. Create a GKE cluster
2. Move namespace `cattle-system` to project `Default`
3. Edit the workload `cattle-cluster-agent`. The namespace is null:
![image](https://user-images.githubusercontent.com/1213386/39126797-e1db5036-4735-11e8-9700-f888c525f5bf.png)

[2018-04-23 12:36] DodgeCamaro commented on #7631
+1

[2018-04-23 14:14] gitlawr opened #12974 "fatal error: concurrent map writes killing rancher server"
**Rancher versions:**
master 4/23
**Steps to Reproduce:**
1. add a single node DO cluster
2. go to the workload page of default project.
3. open a new browser tab that goes into the same workload page as well.
3. switch to `loadbalancing` tab of workload pages in these two browser tabs close to the same time.

**Results:**
rancher server stopped and logged a fatal error following with tons of goro

[2018-04-23 14:18] superseb commented on #12207
Version: master 4/23

Trying to save a certificate key starting with `-----BEGIN PRIVATE KEY-----` results in `Private Key is invalid. Please make sure it is a RSA key.`

<img width="716" alt="screen shot 2018-04-23 at 16 16 25" src="https://user-images.githubusercontent.com/2620179/39132346-ee7ec224-4711-11e8-942e-3b78a26761f1.png">

[2018-04-23 14:18] #12207 closed

[2018-04-23 14:34] gitlawr commented on #12741
I'm hitting this in new DO cluster now. Jenkins is up but the connection is failed. Will look into it.

[2018-04-23 14:56] superseb commented on #12777
Version: master 4/23

Fix implemented is for IP and hostnames while we only want IP's, warning is only triggered when non-alphanumeric characters are detected.

<img width="1109" alt="screen shot 2018-04-23 at 16 54 20" src="https://user-images.githubusercontent.com/2620179/39134491-0bcb7110-4717-11e8-992f-d6b6ecba53df.png">

[2018-04-23 15:03] nitram2k commented on #12692
anyone ? :(

[2018-04-23 15:08] Remigius2011 commented on #12547
Hi,

adding 0.0.0.0 to the no_proxy environment variable in the docker run (i.e. add the parameter `-e no_proxy=0.0.0.0`) command for rancher server got me a bit further - but I'm still stuck on "Creating rke-job-deployer ServiceAccount" (which is the reason I found this issue).

Here's my full docker run command (proxy IP and port given as x.x.x.x:ppp):

    docker run -d --restart=unless-stopped

[2018-04-23 15:17] Remigius2011 commented on #12547
addendum: much to my own surprise I was even able to provision an nginx pod on first attempt!

good luck!

[2018-04-23 15:45] AndresCas123 opened #12975 "Rancher metadata - container start date"
**Rancher versions:**
rancher/server: v1.6.14
rancher/agent: v1.2.9

**Docker version: 17.12.1-ce
**Operating system and kernel: Ubuntu 16.04

Does the rancher container metadata have a field which I could use to know the actual date it started up?

Thanks!

[2018-04-23 16:11] pkaramol commented on #12140
I am having the same problem.
Working on AWS and when adding a second instance as Rancher host manually, (i.e. not via the GUI which is extremely cumbersome either way) I am getting the above error.

[2018-04-23 16:31] StrongMonkey commented on #12844
@sangeethah fix was merged into docker-machine, let me know if you are still seeing it.

[2018-04-23 16:41] appinteractive opened #12978 "How to fix Loadbalancer after deleting a linked Service"
**Rancher versions:**
1.6.14

**Environment Template: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
- Create Service A & B
- Create Loadbalancer
- Configure Service A & B in Loadbalancer
- Delete Service B
- Try to Update Loadbalancer

**Results:**
Error Message: 'Validation failed in API: domain must be set'
**I can't edit the Loadbalanacer anymore!**

[2018-04-23 16:43] dramich commented on #12677
Flags that are being set need to come before the resource name being inspected. This is how the flag parsing processes the arguments. By putting `--format yaml` after `Default` it's considered an argument by the parser.

Running `rancher inspect -h` will show the order the arguments should be in.

[2018-04-23 16:51] #12677 closed, assigned to bmdepesa

[2018-04-23 17:05] StrongMonkey commented on #12685
@yoke88 can you go back to see what's the exact error of 422 conflict? backend is giving you a 422 error which shows that something might not be updatable and UI is probably not handling that well.

[2018-04-23 17:06] sangeethah opened #12979 "rancher-server crashed with "fatal error: concurrent map iteration and map write""
**Rancher versions: Build from master - Apr 23
**Steps to Reproduce:**
Created a 1 node DO cluster.
Added few users.
Tried to access project view from UI after the cluster got to "active" state.
Not able to access rancher UI anymore.

rancher-server crashed with "fatal error: concurrent map iteration and map write"

logs:

[code]

[2018-04-23 17:13] pkaramol opened #12981 "Rancher healtcheck and ipsec services going crazy after new node addition"
**Rancher versions:**
rancher/server: 1.6.16
rancher/agent: 1.2.10

Using also:
[code]

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec: 0.13.7
network-services: (network-manager: v0.7.19/metadata: v0.9.5)
scheduler: v0.8.3
kubernetes (if applicable): n/a

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `una

[2018-04-23 17:13] cjellick commented on #12697
Example usage:
[code]

[2018-04-23 17:33] carcinoma commented on #12605
+1

[2018-04-23 17:40] pkaramol commented on #10580
https://github.com/rancher/rancher/issues/12981

[2018-04-23 17:48] paulobezerr commented on #12981
Could you paste your ``docker run`` command to deploy the new host?

[2018-04-23 17:54] pkaramol commented on #12981
[code]

[2018-04-23 18:00] paulobezerr commented on #12981
Did you clone a VM?
I did this before and get same behaviour.

On new machine, I turned off agent, delete rancher volumes and ``/var/lib/rancher`` folder.
After that, start again the agent.

[2018-04-23 18:02] pkaramol commented on #12981
No I didn't clone anything...
Just
- created an entirely new EC2 instance
- installed docker as per official instructions, making sure that the server and __both__ nodes have the same docker version
- run the agent registration command I pasted above

so more or less you can reproduce the issue?

[2018-04-23 18:04] paulobezerr commented on #12981
Actually I cannot reproduce...

It seems that we got the same behaviour with different causes.

My environment is on a private cloud, not Amazon. Sorry.

[2018-04-23 18:26] staylorx commented on #9485
I have the same problem when trying to run the exported *compose files through terraform or the rancher-cli itself.

Docs from Docker here indicate that,
    "external cannot be used in conjunction with other volume configuration keys (driver, driver_opts)."

-- https://docs.docker.com/compose/compose-file/compose-file-v2/#driver

I can create the volume, but if I mark it as external then am I out

[2018-04-23 18:50] cjellick opened #12987 "AD Groups of groups does not work"
A user created a group that had another group as a member. Rancher did not resolve this properly and members of the underlying group were not granted proper access

[2018-04-23 18:54] tfiduccia commented on #12891
Version - 2.0 master 4/23
Verified fixed

[2018-04-23 18:54] #12891 closed

[2018-04-23 19:13] #12808 closed, assigned to tfiduccia

[2018-04-23 19:15] tfiduccia opened #12990 "When I click on Add a Stage, default cursor should be in name field"
**Rancher versions:** 2.0 master 4/23

**Steps to Reproduce:**
1.  Enable Pipeline
2.  Add Pipeline
3.  Add Respository
4.  Click on Add a Stage

**Results:**  Cursor should default inside of the Name field
![image](https://user-images.githubusercontent.com/11514927/39147972-f1b283da-46ef-11e8-871b-cbeae5ea58eb.png)

[2018-04-23 19:23] tfiduccia opened #12991 "Can save Config map without Key, but UI shows it as required"
**Rancher versions:** 2.0 master 4/23

**Steps to Reproduce:**
1.  Add Config Map
2.  Save without adding a key

**Results:**  Config map saves even thou UI shows it as required.  Should Key be a required field?

[2018-04-23 19:25] thatbudakguy commented on #12981
+1 same problem, nearly identical setup on AWS. Agree with @pkaramol that it could be related to #10580.

[2018-04-23 19:29] tfiduccia commented on #12654
Version - 2.0 master 4/23
Verified fixed

[2018-04-23 19:29] #12654 closed

[2018-04-23 19:30] adingilloRancher commented on #12855
Master 4/23/18
Verified ability to upgrade port mapping

[2018-04-23 19:30] #12855 closed

[2018-04-23 19:32] tfiduccia commented on #12604
Version - 2.0 master 4/23
Verified fixed

[2018-04-23 19:32] #12604 closed

[2018-04-23 19:33] tfiduccia commented on #12549
Version - 2.0 master 4/23
Verified fixed

[2018-04-23 19:33] #12549 closed

[2018-04-23 19:35] sangeethah opened #12992 "As project owner/member , Editing cluster(non custom) results in generating agent command stuck in "loading" state forever."
**Rancher versions: Build from master
**Steps to Reproduce:**

Create a DO cluster and assign user - "test1" as owner/member to a project in this cluster.
When logged in as test1 , edit cluster.
Editing cluster(non custom) results in generating agent command stuck in "loading" state forever.

<img width="1345" alt="screen shot 2018-04-23 at 12 23 39 pm" src="https://user-images.githubusercontent.c

[2018-04-23 19:38] tfiduccia commented on #12419
So the Cluster shows unavailable, but the nodes (which have been deleted), still show active now.  Shouldn't the nodes also show unavailable?

![image](https://user-images.githubusercontent.com/11514927/39149188-30f48a72-46f3-11e8-816e-4d2c411f35b1.png)

[2018-04-23 20:03] sangeethah commented on #12395
Tested with latest build from master - Apr 23
This issue is not seen anymore.

[2018-04-23 20:03] #12395 closed

[2018-04-23 20:11] dramich commented on #12831
Server issue has been addressed and this works as expected in the cli

[2018-04-23 20:47] sangeethah commented on #11969
Tested with latest build from master.

Public endpoint url for hostport (Nodes running a pod) has public ip address now.

[2018-04-23 20:47] #11969 closed

[2018-04-23 20:57] sangeethah opened #12994 "Ip addresses for ingress point to internal ip address of the nodes."
**Rancher versions: Build from master

**Steps to Reproduce:**

Create a cluster with "Amazon EC2" provider.
Create a workload.
Create ingress pointing to this workload.
When load balancer is queried from kubectl ,  Ip addresses for ingress point to internal ip address of the nodes.

[2018-04-23 21:08] alexgaganashvili opened #12995 "kubectl not working with certificate-authority-data or certificate-authority"
It appears that kubectl is not working when you specify the ca cert – either through **certificate-authority-data** or **certificate-authority**. I'm getting:
`Unable to connect to the server: x509: certificate signed by unknown authority`

Thanks

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.0-beta3` UI: `v2.0.35` |
|Access|`` |
|Route|`global-admin.clusters.index`|

[2018-04-23 21:13] soumyalj opened #12996 "Ingress on GKE cluster fails"
**Rancher versions:**
rancher/server: Master from April 23

**Steps to Reproduce:**
1. Create a GKE cluster
2. Create a nginx workload and ingress pointing to this workload.

Accessing the Ingress with the IP of the nodes is not functional:

[code]

[2018-04-23 21:14] adingilloRancher commented on #12697
Verified built-in.
Reset local  admin PW.
Reset local admin PW with github.
Reset local admin PW with AD.

Was able to login as admin user after change.

[2018-04-23 21:16] deniseschannon commented on #12933
PR was causing other issues and reverted.

[2018-04-23 21:18] tfiduccia commented on #12419
closing in favor of #12176

[2018-04-23 21:18] #12419 closed

[2018-04-23 21:26] sangeethah commented on #12844
Tested with latest build from master
Steps to reproduce the problem:
Created a EC2 cluster with nodepool name -santest1 and scale 3.
Wait for the cluster to get to active state.

Created another EC2 cluster with same nodepool name -santest1 and scale 3.
Wait for the cluster to get to active state.

All the machines in this cluster are able to start successfully.

[2018-04-23 21:26] #12844 closed

[2018-04-23 21:32] deniseschannon commented on #11956
@guangbochen can you make sure all the templates in `https://github.com/rancher/charts` are using `apiVersion: apps/v1beta1` instead of `apiVersion: extensions/v1beta1`? otherwise there will be this error.

[2018-04-23 21:37] tfiduccia opened #12997 "Default email notifier port should be 587"
**Rancher versions:** 2.0 master 4/23

**Steps to Reproduce:**
1.  Add Notifier
2.  Select Email

**Results:**  Default port is 465, should be 587.

[2018-04-23 21:44] alena1108 opened #12998 "No public ingress endpoint created for workload when ingress is created natively"
Steps to reproduce:

1) Create deployment, service and ingress having service as a target, natively, using kubectl.
2) Go to rancher UI/API to see the workoload.

Bug: public endpoint exposed via ingress, not present on the workload.

@orangedeng we should make sure that for ingress created locally - the one that *would not* have the rancher ingress status annotation - public endpoints are being c

[2018-04-23 21:45] dramich commented on #12837
Using master this looks good to me.

[2018-04-23 21:47] superseb commented on #12995
Duplicate of https://github.com/rancher/rancher/issues/12995

[2018-04-23 21:47] #12995 closed

[2018-04-23 21:49] dramich commented on #12897
Available in v1.0.0-alpha14

[2018-04-23 21:50] dramich commented on #12757
Available in v1.0.0-alpha14

[2018-04-23 21:53] soumyalj commented on #12376
Tested with master from April 23rd.
Workload creation with host's PID namespace set works
Deploying a workload with Memory/CPU options set is functional

[2018-04-23 22:03] deniseschannon commented on #12892
Closing in favor of https://github.com/rancher/rancher/issues/11116. Will ask to test this use case as part of testing that issue.

[2018-04-23 22:03] #12892 closed

[2018-04-23 22:04] deniseschannon commented on #11116
When confirming that this use case is working, we should also test CLI to ensure that this use case in this issue is also fixed: https://github.com/rancher/rancher/issues/12892

[2018-04-23 22:09] sangeethah commented on #12953
Tested with master build ```rancher/server      master              a2fd2174e22d        2 hours ago ```

Still able to reproduce this issue.

[2018-04-23 22:14] adingilloRancher opened #13001 "Unable to receive test email for email notifier"
**Rancher versions:**
Master 4/23/2018

Steps:
Create a new cluster.
Add a new email notifier. (smtp.office365.com 587 @rancher.com email account PW needs to be an app password)
Click test.

Results:
Test email is not received.
(Verified that emails are coming in with active alerts however.)

[2018-04-23 22:27] sangeethah commented on #12873
Tested with latest build from master:
```rancher/server      master              a2fd2174e22d  ```

Custom Cluster provisioning with following node configuration gets stuck in provisioning state:
[code]

```Failed to apply the ServiceAccount needed for job execution: Post https://172.16.100.129:6443/apis/rbac.authorization.k8s.io/v1/clusterrolebindings: x509: certificate signed by unknown authorit

[2018-04-23 22:29] cjellick commented on #12622
@EricVS can you identify anything different about the users that dont work vs ones that do (if any do)?
we dont have enough information to reproduce

[2018-04-23 22:35] sangeethah commented on #12138
Tested with latest build from master.

Able to delete  API keys successfully.

[2018-04-23 22:35] #12138 closed

[2018-04-23 22:40] bmdepesa commented on #11625
Validated on master 4/23.

Created GKE cluster
Added logging target to syslog
Added workload w/ custom log path under volumes
Added a log w/ some lines
Log lines added are sent to logging target.

Succeeds on GKE
This _does not_ work on RKE providers -- will follow up tonight.

[2018-04-23 23:06] EricVS commented on #12622
@cjellick : sorry for the late reply, I'm swamped at work and haven't had any time to address the questions in the thread. I'll do my best to get it in before Friday.

With regards to the users, those are exactly the same as which work in the stable version of Rancher, even using the same AD Controller for authentication.

Kind regards,

Eric V.

[2018-04-23 23:06] NewBDAQ opened #13003 "Rancher 2.0 with cluster on AWS- cannot build control plane"
Creating a test cluster on AWS, I consistently get: [controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck: Failed to check https://localhost:6443/healthz for service [kube-apiserver] on host [18.208.109.51]: Get https://localhost:6443/healthz: can not build dialer to cluster-fhtbj:m-np88w.

I keep changing the template, and have seen that others are having similar issues, b

[2018-04-23 23:11] soumyalj commented on #12831
Tested with master. inspect works on these resources when no type is specified. If a type is specified it is case sensitive/has to be in some specific case which the api supports
[code]

Note: kubectl is NOT case sensitive for any of these resources.

[2018-04-23 23:14] bmdepesa commented on #12757
Validated on v1.0.0-alpha14.

ls, get, and set all work.

For set, verified w/ get command & checking setting through UI.

[2018-04-23 23:14] #12757 closed

[2018-04-23 23:41] sangeethah opened #13005 "Duplicate project entries in project/namespaces list view after adding namespace."
**Rancher versions:**  Build from master

**Steps to Reproduce:**

Create a project.
Create a namespace.
When user is brought back to project/namespace list view , there is duplicate entries for project

<img width="1256" alt="screen shot 2018-04-23 at 4 39 54 pm" src="https://user-images.githubusercontent.com/4266958/39158448-fe38ddbe-4714-11e8-89cc-60687f7eadf9.png">

[2018-04-23 23:45] soumyalj commented on #12837
Tested using master from April 23rd. Accessing resources daemonsets, cronjobs, statefulsets return the correct resource when accessed.
v3/projects/<project-id>/deployments/<deployment-id>
v3/projects/<project-id>/daemonsets/<daemonset-id>
v3/projects/<project-id>/cronjobs/<cronjob-id>
v3/projects/<project-id>/statefulsets/<statefulset-id>

[2018-04-23 23:45] #12837 closed

[2018-04-23 23:45] tfiduccia commented on #12655
Version - 2.0 master 4/23
Verified fixed.

[2018-04-23 23:45] #12655 closed

[2018-04-23 23:50] deniseschannon commented on #11607
The fix of being able to remove keys in a map in norman is in master. This should be fixed.

[2018-04-23 23:50] tfiduccia commented on #12908
Version - 2.0 master 4/23
Verified fixed

[2018-04-23 23:50] #12908 closed

[2018-04-23 23:51] deniseschannon commented on #12857
The backend issue has been fixed. Please re-test.

[2018-04-23 23:59] sangeethah opened #13006 "Secrets list in workload deployment page includes tokens/certificates and registry entries."
**Rancher versions:rancher/server:v2.0.0-beta4-rc1

**Steps to Reproduce:**

Created a project scoped registry/certificate/secret.
Deploying a workload using "Inject Values From Another Resource" - choosing secrets , registry, certificate and secret get listed under "project"  and in "Namespace" we have a token listed.

<img width="1312" alt="screen shot 2018-04-23 at 4 51 56 pm" src="https://user

[2018-04-24 00:02] tfiduccia opened #13007 "Deleting node in RKE cluster causing new node to show up twice"
**Rancher versions:** 2.0 master 4/23

**Steps to Reproduce:**
1.  Create a DO RKE node, 1 all roles & 1 worker node
2.  Go to Nodes page and delete the worker node

**Results:**  the original node goes to unavailable and a new node show up.  When the new node is active, the old node switches to active as well and shows new node info.  So now I have two nodes that are exactly the same but with dif

[2018-04-24 00:05] tfiduccia commented on #12824
Version - 2.0 master 4/23
Verified - text added to edit node template.  Also verified that the info on the nodes page and cluster page are being updated.

[2018-04-24 00:05] #12824 closed

[2018-04-24 00:14] alena1108 opened #13008 "Ingress update to a new workload doesn't work"
Steps to reproduce:

1) Create 2 workloads.
2) Create ingress pointing to workload1
3) Update workload to point to workload2

Bug: ingress continues pointing to workload1. Happens because we store the workload ids in `ingress.cattle.io` annotation, and norman framework prohibits them from updates:

https://github.com/rancher/norman/blob/ff8494997727211e27971b50fc4cba243224f390/types/convert/merge/

[2018-04-24 00:15] sangeethah opened #13009 "When namespace is moved between projects , it is not reflected in the project's deployment - namespace drop down list , unless UI is refreshed manually."
**Rancher versions: v2.0.0-beta4-rc1
**Steps to Reproduce:**
Create a cluster with 2 projects.
Test1  with "hello1" namespace
Test2  with "hello2" namespace

Move "hello1" namespace to Test2.

Go to "Test1" project and deploy a new workload. namespace drop down will still show "hello1".
Go to "Test2" project and deploy a new workload. namespace drop down will still not show "hello1"(only "hello2"

[2018-04-24 00:39] sangeethah commented on #12568
Tested with v2.0.0-beta4-rc1

Existing project scoped secret/certificates/registries are not present in the namespace after it has been moved to a different project.

If the new project it is moved to has   project scoped secret/certificates/registries , the namespace now has these secrets.

[2018-04-24 00:39] #12568 closed

[2018-04-24 00:40] tfiduccia commented on #12521
Version - 2.0 master 4/23
Verified fixed - monitoring is now available and works for DO RKE.

[2018-04-24 00:40] #12521 closed

[2018-04-24 00:42] tfiduccia commented on #12373
Version - 2.0 master 4/23
Verified fixed

[2018-04-24 00:42] #12373 closed

[2018-04-24 00:43] tfiduccia commented on #12378
Version - 2.0 master 4/23
Verified fixed

[2018-04-24 00:43] #12378 closed

[2018-04-24 02:29] aiwantaozi opened #13010 "support show condition message for embedded logging"
**Rancher versions:**
rancher/server: 2.0

we add condition message for embedded logging, so user could now the deploy result. Could you help show them in the UI.

1. after user enables the embedded logging, show the message below the embedded endpoint. You could check the UI when user add the cluster
2. continue to get the message from websocket until get the embedded endpoint from status.applied

[2018-04-24 02:35] orangedeng commented on #12998
@alena1108 As long as your ingress example is using default backend, I think the major issue is how we show default backend endpoint in workload. I tested ingress with host/path rules and it turns out alright. Here is the example ingress resource I tested ok.
[code]

[2018-04-24 03:11] loganhz opened #13012 "sourceKey of environmentFrom can not be populated"
**Rancher versions:**
rancher/server:master

![image](https://user-images.githubusercontent.com/21168270/39163959-96d9513a-47af-11e8-81eb-414b01bf782e.png)

![image](https://user-images.githubusercontent.com/21168270/39163987-c4d51204-47af-11e8-94c5-e015f1d9d3e5.png)

`sourceKey` of `/v3/project/schemas/environmentFrom` can not be populated in backend.

[2018-04-24 03:12] gitlawr commented on #12741
It happens when `cattle-pipeline` is moved to a project (or other cases that `cattle-pipeline` & `cattle-system` lives in different projects)
The connection relys on agent in `cattle-system`, and the traffic is blocked by networkpolicy.
Closing as it is a different issue.

[2018-04-24 03:12] #12741 closed

[2018-04-24 03:28] loganhz commented on #13006
@sangeethah how about the workload volumes section ==> add volume ==> use a secret.

Do we need to remove tokens/certificates/registry entries as well?

[2018-04-24 03:33] alena1108 commented on #12998
@orangedeng can we run more tests to ensure that the pubic endpoints get updated on every native ingress use case. If all tests pass, please close the issue

[2018-04-24 03:36] gitlawr opened #13013 "Pipeline run info does not disappear though it is completed"
**Rancher versions:**
master 4/24

**Steps to Reproduce:**
1. add a DO cluster
2. enable pipeline
3. run pipelines
**Results:**
Sometimes the run info does not disappear even if the pipeline is succeed.
![image](https://user-images.githubusercontent.com/5697937/39164252-12b3cb40-47b1-11e8-98ec-346316370145.png)

[2018-04-24 03:44] bmdepesa commented on #11625
Validated against master 4/23.

Confirmed working on RKE & GCE.

Created cluster
Enabled logging to syslog target
Created workload w/ custom logging path
Added log file in log directory
Log entries were sent to logging target

[2018-04-24 03:44] #11625 closed

[2018-04-24 03:49] bmdepesa commented on #12897
Validated against v1.0.0-alpha14.

All 3 methods for SSH login are working:

ssh
ssh user@node
ssh -l user node

[2018-04-24 03:49] #12897 closed

[2018-04-24 04:03] kinarashah commented on #12779
@tfiduccia There was also another bug, which shouldn't happen after this fix - while testing, could you make sure you can add multiple sources (without aliases) and all of them show up correctly? Currently only the last one gets added

[2018-04-24 04:43] sirius1024 commented on #11458
@cloud-rocket
My solution is delete those labels from the hosts. And it worked.
Are we same? I'm not sure you add it or delete.

[2018-04-24 04:50] k0nstantinv opened #13016 "[Rancher 2.0] installation with SSL (bind-mount). UI generates broken kubeconfig"
My infrastructure:
Ubuntu 16.04 xenial servers ( kernel: 4.4.0-119-generic )
[code]
**docker:** `17.03.2-ce`
**rancher-server**: `rancher/server:preview` `v2.0.0-beta3`
**rancher-agent:** `rancher/agent:v2.0.0-beta3`

**kubernetes version:** `v1.9.5-rancher1-1`
**network provider**: `flannel`
**ingress provider**: `Nginx`
everything else by default

I have a single node Rancher server in docker co

[2018-04-24 05:07] aiwantaozi commented on #12767
duplicated with https://github.com/rancher/rancher/issues/11625, and qa update test result in before issue

[2018-04-24 05:07] #12767 closed

[2018-04-24 05:09] aiwantaozi commented on #11676
UI issue need to ready before https://github.com/rancher/rancher/issues/13010

[2018-04-24 05:13] aiwantaozi commented on #11676
@vimniky
Rancher versions:
rancher/server: 2.0

we add condition message for embedded logging, so user could now the deploy result. Could you help show them in the UI.

after user enables the embedded logging, show the message below the embedded endpoint. You could check the UI when user add the cluster
continue to get the message from websocket until get the embedded endpoint from status.appliedS

[2018-04-24 05:14] #13010 closed

[2018-04-24 05:16] zionwu commented on #13001
@adingilloRancher  please refer to this issue https://github.com/rancher/rancher/issues/12618

[2018-04-24 05:29] sangeethah commented on #12567
Tested with latest build from master
Project owners donot get access to namespace that were moved out to a different project.

[2018-04-24 05:29] #12567 closed

[2018-04-24 05:52] sangeethah commented on #12992
@loganhz  Trying to "save" any changes , results in the same page being shown when there is actually a 403 error encountered. Why is UI , not showing error message in this case ?
I have tracked this issue as well in this ticket.

[2018-04-24 06:33] aiwantaozi opened #13018 "gce cluster workload "Group by Node" view alignment bad"
Create a gce cluster, deploy some workload (or update the cattle-system, kube-system namespace to default project), then use the "Group by Node"
![image.png](https://images.zenhubusercontent.com/59bc85feb0222d5de477f15d/0433578b-61ec-499f-a8ca-1fa892881a4e)

[2018-04-24 06:44] ares2017 opened #13019 "The monitoring side can not do what you can do with ZABBIX"
*Describe your issue here*

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.16` Cattle: `v0.183.46` UI: `v1.6.42` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`containers.index`|

[2018-04-24 07:03] vincent99 commented on #13019
This is not a constructive or actionable issue.  It is not zabbix, and there is an infinite set of possible things either cannot do.

[2018-04-24 07:03] #13019 closed

[2018-04-24 07:21] MarcErdmann opened #13020 "API v3 Documentation"
Some important applications of mine rely on the Rancher API v2. In Rancher 2.0 API v2 seems to be completely replaced by API v3. Unfortunately I can not find a documentation of it.
Will there be a documentation? If yes, when is the documentation scheduled?
In API v2 I was able to add a server to the cluster by making a POST request with a config as the payload to */projects/<projectID>/machines*.

[2018-04-24 07:27] aiwantaozi opened #13021 "update object under spec to null not work"
**Rancher versions:**
rancher/server: 2.0
rancher/agent:

**Steps to Reproduce:**
1. add a cluster
2. go to logging, select a target, saved
3. change to another target, saved, could see from the UI request, UI send the request to that set the old target to null, but it not work, the old target still here.

The same problem happens to other crd, like pipeline, alert, or ... We test around three day

[2018-04-24 07:38] bmdepesa commented on #12210
Validated against master 4/23.

Pre-canned script worked.

[2018-04-24 07:38] #12210 closed

[2018-04-24 08:08] Remigius2011 commented on #12547
addendum 2: today I retried to create a custom cluster with 1 machine on premise, but this time with direct internet access (outgoing connections with nat), by running the docker agent registration command exactly as given by rancher server. it worked. again, this looks like ti is currentla difficult (no guidance available) or impossible to create clusters behind a http proxy.

[2018-04-24 08:12] k0nstantinv commented on #13016
solved by manually remove the certificate-authority or certificate-authority-data parameters in .kube/config

[2018-04-24 08:12] #13016 closed

[2018-04-24 08:13] leodotcloud opened #13023 "non stop errors on rancher/server start"
rancher/rancher: 88920b92ac6b371df12109379900b5662b16c31f
`./rancher --https-listen-port 443 --log-format text`

[code]

Adding a new node caused this problem.

[code]

[2018-04-24 08:55] pkaramol commented on #12981
Turns out it was a connectivity issue.

__However__: UDP `500` and `4500` as is the requirement, __was__ possible among the hosts!

The problem was resolved when totally freeing up the security groups.

Any ideas?

[2018-04-24 09:02] superseb commented on #12981
Requirement is `UDP/500` and `UDP/4500` between all hosts added. The IP that is shown in `Infrastructure` -> `Hosts` is used to build the tunnel. Other requirement is each host should be able to connect to the Rancher API (TCP/8080 or something else if SSL and/or LB/proxy). This is set as `Host Registration URL` and as `CATTLE_URL` in the infrastructure containers

[2018-04-24 09:08] pkaramol commented on #12981
This shows public IPs (using Elastic IPs actually)

So, when `ssh`-ing into each host, the `netcat` commands below are successful:

[code]

(and vice-versa)

I am using the rancher server behind the nginx.

The intriguing question is however __why__ everything was __OK__ as long as I had __ONE__ host and it breaks down when adding a second.

Doesn't this hint an inter-host communication issue?

An

[2018-04-24 09:13] superseb commented on #12981
Because one host does not rely on an overlay network/cross host communication. Probably hitting this: https://stackoverflow.com/questions/25923950/aws-security-groups-ignoring-traffic-from-elastic-ip

Can you check? Alternative would be to use local-ipv4 addresses.

[2018-04-24 09:27] vincent99 commented on #13020
The UI is 100% static client-side HTML/JS, and the CLI is just an API client.  Anything they do can be by definition done through the API directly.

There will be docs eventually, but the documentation for the API is entirely generated from the API schema and frankly adds little to no value versus just going to the API in a browser and clicking around.  All the basic style, structure, authenticati

[2018-04-24 09:33] orangedeng opened #13027 "duplicate project show after create project"
rancher/server:master 4/24

Reproduce steps:
1. create a cluster and get into the projects/namespaces menu
2. create a new project
3. click the `Add namespace` button in the project list to create a new namespace for the project.
4. I get 2 project with the same name

<img width="1298" alt="2018-04-24 5 28 41" src="https://user-images.githubusercontent.com/15376837/39178913-896a6ce2-47e5-11e8-8b91

[2018-04-24 09:36] loganhz commented on #13027
Duplicated https://github.com/rancher/rancher/issues/13005

[2018-04-24 09:36] #13027 closed

[2018-04-24 09:38] yoke88 commented on #12685
maybe the ui can not just select "many node read-write" only , it must select all the above

the env of mine has destroyed, so i can not get the info

[2018-04-24 09:40] loganhz opened #13028 "Cannot deploy sidecar"
rancher/server:master 04/23

Steps to reproduce:
1. Create  a deployment via UI
2. Click add sidecar of the deployment
3. Deploy sidecar

Results:

Server returns the following issue. I guess this is a backend issue?

[code]

Expected:

Sidecar should be added successfully.

[2018-04-24 10:17] zionwu commented on #11740
Verified fix on master 04/24

[2018-04-24 10:17] #11740 closed

[2018-04-24 10:53] gywang- opened #13029 "2.0最新版本什么时候能支持gitlab？"
*Describe your issue here*

2.0最新版本什么时候能支持gitlab？
---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `master` UI: `v2.0.36` |
|Access|`local` `admin`|
|Route|`authenticated.cluster.pipeline.settings`|

[2018-04-24 11:05] MarcErdmann commented on #13020
Thanks!

[2018-04-24 11:06] #13020 closed

[2018-04-24 14:31] sangeethah commented on #12898
Tested with latest build form master

This issue is not seen anymore.

[2018-04-24 14:41] ihardzeenka opened #13030 "Local Helm can't list deployed releases by Rancher"
Rancher 2.0:preview

**Steps to Reproduce:**
Deploy any app from Catalog

**Results:**
Go to your host where you have helm installed.
Try to do helm ls --all
Result will be empty.

**Explanation:**
It is happening because Rancher store tiller config map in namespace which was specified from UI to deploy app.
But it should store tiller config in kube-system to make it visible.

[2018-04-24 14:42] jgreat opened #13031 "Remove "Default: latest boot2docker image" reference from vSphere Node Driver"
We shoud remove the reference to boot2docker in the vSphere Node Driver.  boot2docker is just not recommended to use. This reference confuses our users and causes support headaches.

If we want to provide a hint, we should encourage one of the flavors we test, like Ubuntu or RHEL.

**Rancher versions:**
1.6.x and 2.0.x

1.6
![image](https://user-images.githubusercontent.com/5324639/39194164-10a42a

[2018-04-24 14:48] vincent99 commented on #13031
That _is_ the default, and have you ever used the vsphere driver?  Show me an Ubuntu or RHEL ISO URL that works with it.

[2018-04-24 14:49] zchef2k commented on #12384
@adingilloRancher I'm having a hard time here. What versions of b2d and kubernetes did you use in your validation exercise? I still get the mount failure with v17.03.2/v1.10.1in :master.

[2018-04-24 14:58] ihardzeenka opened #13032 "[Rancher Catalog] When trying to deploy second heml app UI hangs."
**Rancher versions:** 2.0:preview

1) I have created Project.
2) Associated it with existing namespace
3) Added my Git repo with Helm charts: https://github.com/ibagomel/helm-charts
4) Deployed Zookeper.
5) When I'm trying to get into Catalog Apps to deploy Kafka UI just hangs.

[2018-04-24 16:11] obenziane2 commented on #10033
How did we close this issue as it's still happening to most of the users ?

[2018-04-24 16:24] cjellick commented on #12912
I _believe_ this bug and fix https://github.com/rancher/rancher/issues/12872  should fix this as well.

[2018-04-24 16:26] adingilloRancher commented on #12365
Build: v2.0.0-beta4-rc1
Ran for 20~ minutes. Invalidated github cert. Verified zombie process are not present for "docker-machine" during failed provisioning.

[2018-04-24 16:26] #12365 closed

[2018-04-24 16:30] cjellick commented on #12622
@EricVS but do you have _some_ users that work in 2.0 and _some_ that do not?
If so, can you identify any differences in them from an AD perspective?
If not, then does that mean that none of AD in 2.0 works for you?

[2018-04-24 17:17] deniseschannon commented on #10033
This issue was based on Rancher 2.0 before Tech Preview 2. As of  [Tech Preview 2](https://forums.rancher.com/t/rancher-release-v2-0-0-tech-preview-2/8282/3), the architecture behind 2.0 has significantly changed. Any issues with any release prior to v2.0.0-alpha12 is most likely invalid.

[2018-04-24 17:24] bkuhl commented on #10033
Thanks for the added context.

On Tue, Apr 24, 2018 at 1:17 PM Denise <notifications@github.com> wrote:

--
Ben Kuhl

[2018-04-24 17:30] ts-mini opened #13033 "IO1 Incorrect option in AWS EBS PV Storage Class"
**Rancher versions:**
rancher/server: master
rancher/agent: master

**Infrastructure Stack versions:**
kubernetes (if applicable): 1.10.1

**Docker version: (`docker version`,`docker info` preferred)**
Containers: 21
 Running: 18
 Paused: 0
 Stopped: 3
Images: 12
Server Version: 17.03.2-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging

[2018-04-24 17:40] orangedeng commented on #12371
I tested it with 4/24 master build and it is ok.

[2018-04-24 17:42] superseb commented on #10383
Please report back or ping me on Rancher Users Slack so we can troubleshoot this

[2018-04-24 17:42] #10383 closed

[2018-04-24 17:45] StrongMonkey opened #13034 "Testing `rancher up`"
`rancher up` needs to be tested. User should be able to create any resource in yaml format by using `rancher up`

[2018-04-24 17:54] tfiduccia commented on #12798
Version - 2.0 master 4/24
Still seeing same behavior

[2018-04-24 18:27] alena1108 opened #13035 "Ingress doesn't work on GKE"
If you start GKE cluster with ingress enabled (there is an option that we are going to set in Rancher GKE driver), ingress controller will start, and it will take care of programming ingresses to Google LB.

Bug: when you create ingress pointing to workload in Rancher, the ingress won't get programmed. Happens because in the background Rancher creates a service of type ClusterIP for ingress worklo

[2018-04-24 19:09] huanga commented on #12410
Confirmed to work in Master, pulled as of 10 minutes prior to this message.

[2018-04-24 19:14] kinarashah commented on #13028
Hi @loganhz,
The issue seems to be that labels is sent empty from the sidecar page.

When we do a normal edit, workload has this label -
![image](https://user-images.githubusercontent.com/16870565/39208843-e146c848-47b8-11e8-9d3c-e0643a1aabd3.png)

But from add sidecar page,
![image](https://user-images.githubusercontent.com/16870565/39208891-027fa35e-47b9-11e8-94ca-d20d7f66f6ab.png)

could you ma

[2018-04-24 19:25] tfiduccia commented on #12842
@kinarashah fixed this with another config map bug

Version - 2.0 master 4/24
Verified fixed

[2018-04-24 19:25] #12842 closed

[2018-04-24 19:29] tfiduccia commented on #11956
@deniseschannon - The bug I'm actually trying to report is that the containers status and workload status don't actually correspond.  Wordpress is just the easiest way to show this.  This is still an issue.

![image](https://user-images.githubusercontent.com/11514927/39209544-e7655f4e-47ba-11e8-8d30-80b0d15cd5cc.png)

[2018-04-24 19:48] sangeethah commented on #12979
This issue is not seen anymore when testing with latest builds.

[2018-04-24 19:48] #12979 closed

[2018-04-24 19:51] adingilloRancher commented on #12384
Reopening... as of today experiencing mount failure issue.  Was not present on 4/23/18

@zchef2k k8S v1.9.5 when validated on 4/20. (Still seeing failure on any version)

[2018-04-24 19:58] mloc commented on #12601
This is still an issue surely, if it doesn't work in Chrome?

[2018-04-24 20:02] sangeethah opened #13037 "Ingress routes traffic to workloads that it is not associated with it anymore."
**Rancher versions: Build from master
**Steps to Reproduce:**

Create a workload - santest1.
Create a workload - santest2.
Create Ingress with rule pointing to santest1.
Ingress routes traffic to pods of santest1 as expected.
Update Ingress and set the existing rule to point to santest2.

Ingress routes traffic to pods of both santest1 and santest2.

I see the selector label of the ingress service

[2018-04-24 20:04] sangeethah opened #13038 "Ingress endpoints not created correctly when ingress rules are updated."
**Rancher versions: Build from master
Steps to Reproduce:

Create a workload - santest1.
Create a workload - santest2.
Create Ingress with rule pointing to santest1.
Ingress routes traffic to pods of santest1 as expected.
Update Ingress and set the existing rule to point to santest2.

There are no Ingress endpoints created for santest2 and the  Ingress endpoint1 for santest1 continue to exist.

<i

[2018-04-24 20:12] sangeethah commented on #12898
This issue is still seen when testing with master builds.

Creates a cluster with following configuration:

 3 etcd , 2 control and 3 worker nodes.

Cluster gets stuck in "updating" state forever with error message -
[code]

[2018-04-24 20:17] sangeethah commented on #13008
Tested with latest build from master:
Able to update Ingress to point to a new workload successfully.
But following 2 issues seen:

https://github.com/rancher/rancher/issues/13037
https://github.com/rancher/rancher/issues/13038

[2018-04-24 20:17] #13008 closed

[2018-04-24 20:34] deniseschannon commented on #11780
based on @tfiduccia comment, I believe the ability to set the interface for flannel networking is in and working as expected.

[2018-04-24 20:34] #11780 closed

[2018-04-24 20:39] StrongMonkey commented on #13034
`rancher up` is mostly used to create rancher resources in yaml file format. Each resource can be defined as a yaml file, for example, a gke cluster can be defined as
[code]

[2018-04-24 20:39] adingilloRancher commented on #12774
Master 4/24/18

Verified events logged in splunk

[2018-04-24 20:39] #12774 closed

[2018-04-24 20:43] bmdepesa opened #13039 "Project logging not working & cannot remove"
**Rancher versions:**
rancher/server: master 4/24

2 issues w/ project logging -- **A)** logging not writing to target, and **B)** unable to remove log target once set.
1 issue w/ cluster logging (maybe related to project logging issues) -- **C)** When both project & cluster logging enabled, log entries from project are written twice w/ cluster log program name

**Steps to Reproduce (A):**
No clus

[2018-04-24 20:51] bmdepesa commented on #12859
This is proving difficult to test without project logging working (https://github.com/rancher/rancher/issues/13039).

At cluster level, large amount of log entries cause buffer size limit to be reached before flush_interval, causing logs to be written before interval can be reached. Will re-test once project level logging is working again.

[2018-04-24 21:12] tfiduccia opened #13040 "event Alerts don't mute"
**Rancher versions:** 2.0 master 4/24

**Steps to Reproduce:**
1.  Create a notifier
2.  Create an Event Alert that will fire when a Pod event happens
3.  Mute the Alert
4.  Create workload that has at least 1 pod

**Results:**  Alert fires.  Event alerts should not fire if they are muted.

[2018-04-24 21:15] StrongMonkey commented on #12460
@guangbochen i am thinking we shouldn't support upgrade if template are incompatible to upgrade. Raising an error should be good enough. `kubectl apply --force` is not what we want as it deletes the old resource. `kubectl patch` would probably skip the incompatible fields which means swallowing errors.

[2018-04-24 21:34] deniseschannon commented on #8175
In all these cases, I believe the specific issue at hand is that if you try to upgrade a load balancer, the `lb_config` section gets ignored in rancher-compose.yml when trying to do an ugprade. I've updated the issue title for this use case.

[2018-04-24 21:45] tfiduccia commented on #13032
Version - 2.0 master 4/24
This is a bug, although they may be using the wrong version, we should not be hanging the application.
![image](https://user-images.githubusercontent.com/11514927/39215787-02e227f8-47ce-11e8-894b-fc24c2d00e71.png)

[2018-04-24 21:53] ideal2545 commented on #7334
yeah, im having the same issue on freenas also, can't pass in no_root_squash

[2018-04-24 22:00] deniseschannon commented on #13001
Sounds like a duplicate of #12618 and can be validated with the UI fix.

[2018-04-24 22:14] bmdepesa opened #13043 "Logging - Embedded Elastic Search does not start"
**Rancher versions:**
rancher/server: master 4/24

Single node cluster [2gb RAM, 2 CPU & 4gb RAM, 2 CPU]

**Steps to Reproduce:**
Create a cluster
At cluster level, enable logging to Embedded ES target

**Results:**
Embedded ES never starts

<img width="1274" alt="screen shot 2018-04-24 at 3 00 37 pm" src="https://user-images.githubusercontent.com/21316915/39216379-48d49db6-47d0-11e8-9110-83af08d6

[2018-04-24 22:14] bmdepesa commented on #12631
Blocked from testing by - https://github.com/rancher/rancher/issues/13043. Will re-test once resolved.

[2018-04-24 22:42] deniseschannon commented on #12893
With the updated rancher/hyperkube images, this should be working.

[2018-04-24 22:44] deniseschannon commented on #12527
When we start tagging GA releases, we will be going with `rancher/rancher:v2.0.0` and `rancher/rancher-agent:v2.0.0`

[2018-04-24 22:44] #12527 closed

[2018-04-24 22:51] sangeethah commented on #12974
Tested with latest builds from master (Apr 23/24)
This issue is not seen anymore.

[2018-04-24 22:53] #12974 closed

[2018-04-24 23:45] ibuildthecloud commented on #11367
Steps to setup Rancher with private registry (NOTE: scripts are attached to the rancher release for example https://github.com/rancher/rancher/releases/tag/v2.0.0-beta4-rc2)

1.  Run `rancher-save-images.sh` in an environment that has access to dockerhub.  This script will download all images into a file `rancher-images.tar.gz`
2. Copy file to private network (it's a big file)
3. Run `rancher-load

[2018-04-25 00:12] yoke88 opened #13048 "can not add volume in UI"
*I can not choose any option in the choose volume menu*

![default](https://user-images.githubusercontent.com/3146226/39219933-51ac1d5c-4860-11e8-9a08-c273ff6361f9.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `master` UI: `v2.0.36` |
|Access|`local` `admin`|
|Route|`containers.run`|

[2018-04-25 00:30] tfiduccia commented on #12887
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 00:30] #12887 closed

[2018-04-25 00:30] tfiduccia commented on #12835
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 00:30] #12835 closed

[2018-04-25 00:32] tfiduccia commented on #12973
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 00:32] #12973 closed

[2018-04-25 00:37] tfiduccia commented on #13005
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 00:37] #13005 closed

[2018-04-25 00:39] sangeethah commented on #12953
Tested with v2.0.0-beta4-rc2

Create a custom cluster with rhel 7.5 hosts with native docker (1.13) with selinux enabled having following configuration:

1 control node
1 etcd node
3 woker nodes

Cluster gets to "Active" state.  All nodes in the cluster get to "active" state.
Able to deploy workloads and ingress successfully in the clusters.

[2018-04-25 00:39] #12953 closed

[2018-04-25 00:40] tfiduccia commented on #13006
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 00:40] #13006 closed

[2018-04-25 00:44] sangeethah commented on #12205
Tested with v2.0.0-beta4-rc2.

Create a custom cluster with rhel 7.5 hosts with native docker (1.13) with selinux enabled having following configuration:

1 control node
1 etcd node
3 woker nodes

Cluster gets to "Active" state. All nodes in the cluster get to "active" state.
Able to deploy workloads and ingress successfully in the clusters.

[2018-04-25 00:44] #12205 closed

[2018-04-25 00:45] tfiduccia commented on #12966
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 00:45] #12966 closed

[2018-04-25 00:46] vincent99 commented on #12682
- It's intended to be cut off and is properly clipped  with ellipsis.  The table view is not intended to show unlimited information, click on the workload to see more.

- Adjustable tables are always clunky and terrible because resize callbcks are reflowing the whole page.  Getting an extra 2 inches on this screen doesn't solve the problem, they'll just make a bigger list or smaller window.

- But

[2018-04-25 01:28] loganhz commented on #13009
This should be fixed in https://github.com/rancher/ui/pull/1844
The root cause is the same with https://github.com/rancher/rancher/issues/12973

[2018-04-25 01:44] loganhz commented on #13012
Version - 2.0 master 4/24
Verified fixed

[2018-04-25 01:44] #13012 closed

[2018-04-25 01:55] loganhz commented on #13028
Thanks @kinarashah ! Fixed in UI side

[2018-04-25 01:57] vimniky commented on #12868
@gtirloni I don't have this issue! thought I'm no using 2.0-beta3, can you update to the latest version?

[2018-04-25 02:16] sangeethah commented on #12898
The same issue was encountered when testing with v2.0.0-beta4-rc2 when testing following scenario:

Started with a cluster having 1 control , 1 etcd and 3 worker nodes.
Waited for the cluster to become active.
Add 1 more etcd node.
Cluster get stuck in "Updating" state with error - ```"Failed to Get Kubernetes certificates: secrets "kube-etcd-ip" not found"``` error.

[2018-04-25 02:26] gtirloni commented on #12868
@vimniky Hi, I tested just now with a fresh install of 2.0.0-beta4-rc2 and I still see the issue. I'm using Chrome 66.0.3359.117 and Firefox 59.0.2 on Linux. I don't see any errors on the JS console.

I don't know if this matters but I'm testing on an imported cluster. So I only followed these steps: spin up the Rancher container, login and change password, add imported cluster, went to the cluste

[2018-04-25 02:26] #12635 closed

[2018-04-25 02:30] aiwantaozi commented on #13043
Hi, the log shows the cluster does not have the resource required, we have set the default request resource higher, the UI to show error message not merge yet. You could set the resource lower, like 1 cpu and 512 memory. The UI will update soon, thank you.

[2018-04-25 02:37] heww commented on #13048
+1， the save issue

[2018-04-25 02:38] zionwu commented on #13043
The backend PR for showing embedded target deployment failure is merged.  The UI PR is WIP. Once it is merged the UI can display error message.

[2018-04-25 02:38] zionwu commented on #13043
https://github.com/rancher/rancher/issues/11676

[2018-04-25 02:42] heww commented on #13048
that maybe issue from UI because my server works ok yesterday and it no upgrade, only the ui is update for it access the new version from releases.rancher.com

[2018-04-25 02:45] yoke88 commented on #13048
using the lastest master buid ,the problem gone.
________________________________
From: He Weiwei <notifications@github.com>
Sent: Wednesday, April 25, 2018 10:42:41 AM
To: rancher/rancher
Cc: yoke88; Author
Subject: Re: [rancher/rancher] can not add volume in UI (#13048)

that maybe issue from UI because my server works ok yesterday and it no upgrade, only the ui is update for it access the new v

[2018-04-25 02:48] heww commented on #13048
@yoke88 which lastest master build, ui repo or rancher repo ? thanks!

[2018-04-25 02:53] aiwantaozi commented on #13039
Hi @bmdepesa
Re B) caused by a change in norman repo, Darren has updated, use the latest version could be resolved.
Re A) may be the same root cause, when to disable the logging, the component like namespace, configmap actually deleted, but the framework not delete the crd, so you could see it in the UI. I try the latest version, it works.

[2018-04-25 02:54] aemneina commented on #10207
pr for reference https://github.com/rancher/lb-controller/pull/108

[2018-04-25 03:00] zionwu commented on #13039
The related framework issue is ttps://github.com/rancher/rancher/issues/13021

[2018-04-25 03:16] aiwantaozi commented on #12859
You could use the latest version, it should fix, related issue: The related framework issue is https://github.com/rancher/rancher/issues/13021

[2018-04-25 03:41] sangeethah opened #13049 "When cluster provisioning fails , logs get filled with "ClusterController c-cpfvf completed with dropped err" message"
Rancher server version - v2.0.0-beta4-rc2

Steps to reproduce the problem:
Cluster provisoning failed because of issue tracked in https://github.com/rancher/rancher/issues/12898

After this provisioning failure, logs get filled with "ClusterController c-cpfvf completed with dropped err" message:

[code]

[2018-04-25 03:41] #13021 closed

[2018-04-25 03:41] aiwantaozi commented on #13021
verify worked

[2018-04-25 03:46] yoke88 commented on #13048
UI 2.0.37 , pull the lastest rancher/server:master
________________________________
From: He Weiwei <notifications@github.com>
Sent: Wednesday, April 25, 2018 10:48:35 AM
To: rancher/rancher
Cc: yoke88; Mention
Subject: Re: [rancher/rancher] can not add volume in UI (#13048)

@yoke88<https://github.com/yoke88> which lastest master build, ui repo or rancher repo ? thanks!

—
You are receiving this

[2018-04-25 03:50] deniseschannon commented on #13039
@zionwu since that issue is fixed, would this issue be ready to be tested?

[2018-04-25 03:52] aiwantaozi commented on #13039
@deniseschannon Yes

[2018-04-25 04:05] heww commented on #13048
en, add a secret works well, but add Registry Credentials not works.

[2018-04-25 04:05] deniseschannon commented on #12951
@kinarashah  this sounds like https://github.com/rancher/rancher/issues/12842 issue?

[2018-04-25 04:13] heww opened #13050 "add volume use a secret for registry credentials not work"
rancher server version: master

1、create a registry credential, eg foo
2、deploy workload
3、add volume use a secret
4、registry credential (foo) not in secret select option.

[2018-04-25 04:39] heww opened #13051 "[feature request] imagePullSecrets select in Deploy Workload UI"
maybe like this

![wx20180425-123851](https://user-images.githubusercontent.com/5634205/39226539-aa597844-4885-11e8-8875-6ed0e66d62f1.png)

[2018-04-25 04:47] sangeethah opened #13052 "Worker node stuck in "unavailable state" - with error "Runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized""
**Rancher versions: v2.0.0-beta4-rc2

**Steps to Reproduce:**

Creates a DO cluster with following configuration:

3 etcd , 2 control and 3 worker nodes.

Cluster gets to "active" state.

But one of the worker nodes get stuck in "unavailable state" - with error "Runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninit

[2018-04-25 04:48] sangeethah commented on #13052
@moelsayed mentioned that this host had a very high load average ~ 13.

[2018-04-25 04:52] heww commented on #13051
i found that rancher will use the registry secret which match the namespace acquiescently.

[2018-04-25 04:52] #13051 closed

[2018-04-25 04:52] heww commented on #13050
i found that rancher will use the registry secret which match the namespace acquiescently.

[2018-04-25 04:52] #13050 closed

[2018-04-25 05:18] soumyalj opened #13053 "EKS cluster stuck in pending state"
**Rancher versions:**
rancher/server: v2.0.0-beta4-rc2

Steps
1. Create an EKS cluster

The nodes of the cluster come up, but the Cluster is stuck in pending state. Cluster does not get to active state

<img width="1310" alt="screen shot 2018-04-24 at 10 15 50 pm" src="https://user-images.githubusercontent.com/18536626/39227368-19df5216-480d-11e8-86a9-dbaa60158513.png">

the nodes display a label

[2018-04-25 05:28] sangeethah opened #13054 "AWS hosts - Cluster stuck in "updating" state with duplicate node entries when a node in "unavailable" state was deleted ,"
Rancher versions: v2.0.0-beta4-rc2

**Steps to Reproduce:**
Create a "Amazon Ec2" cluster with 2 control nodes , 3 worker nodes and 3 etcd nodes.

Power down one of control nodes.
Wait for it to become "Unavailable" in rancher-server.
Make sure cluster is functional with the existing control node.

Delete the "Unavailable" node from rancher-server.
This results in a duplicate node entry (with the

[2018-04-25 05:36] yoke88 opened #13055 "Can not delete node"
*Can not delete node in ui, the delete button show the forbidden icon*

![default](https://user-images.githubusercontent.com/3146226/39227878-9f9ed310-488d-11e8-987e-8ed5033eb5dc.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `master` UI: `v2.0.37` |
|Access|`local` `admin`|
|Route|`authenticated.cluster.nodes.index`|

[2018-04-25 05:48] cloudnautique commented on #12764
I agree with @tani for a suggestion text. There isn’t a value we can place that an arbitrary user could push to. Also the default tag variable is not a good default since it has invalid characters(in this case ‘:’) . The list of options should be pruned.

[2018-04-25 06:24] kenfdev opened #13057 "Cannot deploy catalog apps which use multiple namespaces?"
**Rancher versions:**
rancher/server: v2.0.0-beta4-rc2
rancher/agent: v2.0.0-beta4-rc2

**Infrastructure Stack versions:**
kubernetes (if applicable): 1.10.1-rancher1

**Docker version: (`docker version`,`docker info` preferred)**
Both Rancher Server/Node
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Server
[code]

Node
[code]

**Setup details: (single node

[2018-04-25 06:39] k0nstantinv opened #13058 "[Rancher 2.0] cluster owner hasn't enough permissions"
My infrastructure:
Ubuntu 16.04 xenial servers ( kernel: 4.4.0-119-generic )
[code]
**docker:** `17.03.2-ce`
**rancher-server**: `rancher/server:preview` `v2.0.0-beta3`
**rancher-agent:** `rancher/agent:v2.0.0-beta3`

**kubernetes version:** `v1.9.5-rancher1-1`
**network provider**: `flannel`
**ingress provider**: `Nginx`
everything else by default

I have a single node Rancher server with SSL in

[2018-04-25 06:47] yoke88 commented on #13055
using view in API ,and i can delete it with api.

[2018-04-25 07:15] aiwantaozi commented on #13039
Need more improvement, because the crd obj could not be deleted quickly, we need to improve both UI side and backend side, make it more easy to use.

[2018-04-25 07:31] DavidKutik commented on #10053
+1

[2018-04-25 07:36] exocode opened #13059 "beta would not come up, languages not rendered"
**Rancher versions:**
rancher/server: >= 2.0beta2

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      1.13.1
 API version:  1.26
 Go version:   go1.6.2
 Git commit:   092cba3
 Built:        Thu Nov  2 20:40:23 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.13.1
 API version:  1.26 (minimum version 1.12)
 Go version:   go1.6.2
 Git commit:   092cba3
 Bu

[2018-04-25 07:38] OdinLin commented on #10053
+1

[2018-04-25 08:25] orangedeng opened #13060 "Network Problem for Mysql Charts"
Version: rancher/server:master 4/24
Step:
1. Create a DO cluster
2. Launch a mysql Charts from library
![屏幕快照 2018-04-25 下午4.17.38.png](https://images.zenhubusercontent.com/59c9bf65b0222d5de4791a2d/3738c22c-e03c-43ee-b602-73252884c850)

Result
After deploy a mysql charts, canal network brokes
![屏幕快照 2018-04-25 下午4.23.17.png](https://images.zenhubusercontent.com/59c9bf65b0222d5de4791a2d/a6ee7288-6c

[2018-04-25 08:26] orangedeng commented on #13060
/cc @StrongMonkey

[2018-04-25 08:37] vincent99 commented on #13048
This is related to devices with touch events vs not.

[2018-04-25 08:43] MouadMimouni opened #13061 "Failed to get kubernetes node"
Rancher versions: v2.0.0-beta3
Docker version: 17.03.2
Operating system and kernel: Ubuntu 16.04
Type/provider of hosts: (Virtual machine Vmware)
-----
Hello everybody,
I set up a Docker server to test the new version of Rancher, my server is set up on a vmware virtual machine with 4 GB of RAM and a version of Docker 17.03.2, trying to launch a cluster in Custom I have the following error: "Failed

[2018-04-25 08:44] BlackDark opened #13062 "[Load Balancer] Problem with dot and dash in subdomain"
Hi,
i have a problem with the load balancer in creating routing rules for nearly identical domains.
They only differ in the usage of dot and dash.

Here's a screenshot:
![image](https://user-images.githubusercontent.com/9947112/39235108-4b4ceb3e-4875-11e8-84a2-d3409508137a.png)

The problem is that both address now point to the upper rule.
After checking the haproxy.cfg i found those entries:

[co

[2018-04-25 08:45] guangbochen opened #13063 "catalog install should ingore helm test templates"
Version: Rancher 2.0 04/25 master

Helm support test hooks for charts using label annotations like `helm.sh/hook: test-success` or `helm.sh/hook: test-failure`, rancher catalog will install all the templates(includes the test pod), need to add skipping test pod.

helm ref: https://github.com/kubernetes/helm/blob/master/docs/chart_tests.md

[2018-04-25 08:49] superseb commented on #13061
Duplicate of https://github.com/rancher/rancher/issues/12499

Workaround is to use lowercase only, or test using `v2.0.0-beta4-rc3` which is still in testing phase.

[2018-04-25 08:49] #13061 closed

[2018-04-25 09:05] yoke88 opened #13064 "Feature Request : Helm answer file support edit the value.yaml"
*when deploy a helm using app catelog , it 's easy to using UI to complete the complex task, but when feed the answer , Deeply nested data structures can be difficult to express in the UI*

for example , how to express the below data to ingress.annotations? it is easy to directly edit the yaml files.

[code]
![default](https://user-images.githubusercontent.com/3146226/39236189-b34e0f12-48aa-11e8-9

[2018-04-25 09:08] Scentyoo commented on #10524
Could you please fix this?

[2018-04-25 09:14] superseb commented on #12776
We now have proper OS details, can this be re-added?

[2018-04-25 09:18] OBenned opened #13065 "Logging elasticssearch with HTTPS"
Hello.

Would it be possible to add the possibility to switch on and off FLUENT_ELASTICSEARCH_SSL_VERIFY with the built-in fluentd logging?
This is since there would be many times where you use self-signed certs for the elassticscluster

This is for rancher 2.0

[2018-04-25 09:28] zionwu opened #13066 "Project owner/member can not view notifier"
**Rancher versions:**
rancher/server: master 04/25

**Steps to Reproduce:**
1. Create a notifier
2. Create a user as standard user.
2. Add the new user as project owner/member to the default project.
3. When create a project alert, there is warning about no notifier exists.

[2018-04-25 09:37] zionwu commented on #13066
@cjellick , the `notifier` is namespaced resource and stored in mgmt server. It is cluster-scoped resource hence stored in cluster namespace.

Notifier is something like PV/storage class, only cluster owner can create them.  Project owner/member can view them.

I already added rules for project owner/member to get/list/watch the `notifiers` resource.  https://github.com/rancher/rancher/blob/master

[2018-04-25 09:40] JulienFauvel commented on #12684
Hey, I have the same error.
It only happens when creating a new cluster with a private docker registry

I am running docker 17.03 on a Debian 9

Steps to reproduces :
* Create a custom cluster
* Set a docker registry (mine looks like "https://docker.entreprise.io/")
* Click the create button
* Run the docker run command
* It crashes

Here is the stacktrace when creating the cluster
[code]

[2018-04-25 09:43] zionwu commented on #12922
@adingilloRancher  I would like to know the setting for `Interval` parameter in advanced options.

Are you setting it to a short interval like  5 min?

[2018-04-25 10:01] gitlawr opened #13068 "Unable to see full logs of a step"
**Rancher versions:**
master 4_25

**Steps to Reproduce:**
1. Add a `run a script` step with following scripts
[code]
run the pipeline
**Results:**
When the pipeline is running, I'm not able to see the full content of previous printed logs.
![image](https://user-images.githubusercontent.com/5697937/39239001-4ca11324-48b2-11e8-9380-a75443124d92.png)

[2018-04-25 10:02] superseb opened #13069 "k8s 1.10 does not work with ec2 and aws cloud provider because we are unable to add EC2 tags when using node driver"
Version: master 4/25
UI: v2.0.37

No option to add EC2 tags when creating a node.

As k8s 1.10 will be the default, we should consider setting the necessary tag to the instance by default. (Key: `kubernetes.io/cluster/$CLUSTERID` Value: `owned`)

[2018-04-25 10:12] zionwu commented on #12922
I can't reproduce the issue. I created an alert for normal event of StatefulSet, with 10s `Initial Wait` and 10min `Interval`. And only one alert message is received.

However, if you are setting  `Interval` to a short interval like 1 min, you will receive 5 message. This is because the alert manager has the `resolve_timeout` parameter, of which the default value is 5 mins.  ResolveTimeout is the

[2018-04-25 10:13] gitlawr commented on #13068
because Jenkins trims the logs in the API
![image](https://user-images.githubusercontent.com/5697937/39239714-4e9f0f4e-48b4-11e8-83f0-2e361273f45c.png)

[2018-04-25 10:23] jzandbergen opened #13070 "Since rancher 1.6.17 rancher-nfs is using bind instead of volume mounts."
**Rancher versions:**
rancher/server: 1.6.17
rancher/agent: 1.2.10

**Infrastructure Stack versions:**
healthcheck: 0.3.6
ipsec: 0.2.3
network-services: 0.2.9
scheduler: v0.8.3-1

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.06.2-ce
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   cec0b72
 Built:        Tue Sep  5 19:59:06 2017
 OS/Arch:      li

[2018-04-25 10:33] superseb opened #13071 "Add OS details in Nodes view"
In v1.6, we have a `Infrastructure` -> `Hosts` view showing us:

- Host OS
- Host kernel
- Docker version

This makes it easy to spot differences in OS/kernel/Docker when troubleshooting a cluster.

[code]

[2018-04-25 11:27] manokaran3529 commented on #10053
+1

[2018-04-25 11:32] superseb commented on #10095
Only option is to disable auth and reconfigure it back.

https://rancher.com/docs/rancher/latest/en/faqs/troubleshooting/#help-i-turned-on-access-controldocsrancherv16enconfigurationaccess-control-and-can-no-longer-access-rancher-how-do-i-reset-rancher-to-disable-access-control

[2018-04-25 11:32] #10095 closed

[2018-04-25 11:32] superseb commented on #9767
Please try to re-create on a newer version and update/file the issue.

[2018-04-25 11:33] #9767 closed

[2018-04-25 11:37] superseb commented on #11275
@0xdeafcafe @marvinwankersteen Were you able to test this on v1.6.15 or higher?

[2018-04-25 11:44] AndrewSav commented on #7087
@superseb I've seen this before. I think it's azure specific. Not everyone uses azure.

[2018-04-25 11:47] cCloudSky commented on #10053
+1

[2018-04-25 12:10] MutterCai commented on #10053
+1

[2018-04-25 12:34] superseb commented on #12731
The errors you are showing are all related to not having the correct IAM profile attached to the instances as described for v1.6 here: https://rancher.com/docs/rancher/v1.6/en/kubernetes/providers/#adding-hosts

[2018-04-25 12:40] superseb commented on #12981
Any update on this case?

[2018-04-25 12:47] superseb commented on #12954
It is interpreted as template, you can use `# notemplating` on top of the file to skip the templating as described here: https://rancher.com/docs/rancher/v1.6/en/cli/variable-interpolation/#escaping-double-brackets

Let me know if this doesn't solve the issue.

[2018-04-25 12:47] #12954 closed

[2018-04-25 12:48] superseb commented on #12945
The parameter to set the IP is `--address`, and `--internal-address` if you want to set the internal address separately.

Let me know if this doesn't work.

[2018-04-25 12:48] #12945 closed

[2018-04-25 12:51] pkaramol commented on #12981
Yes it is the public vs private IP issue.

Allowing an `All traffic` rule in the SG of the rancher nodes (as was my case) does not solve the problem since this pertains to private IPs.

Need explicit allow for public/Elastic IPs.

Thanks for the feedback, was really helpful.

[2018-04-25 13:23] kingsd041 opened #13072 "The canal network does not work after launching the catalog"
**Rancher versions:**
rancher/server: Rancher 2.0 04/25 master

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
4.4.0-1052-aws
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**Environment Template: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
1. Add a

[2018-04-25 13:26] superseb commented on #13072
Sounds like a duplicate of https://github.com/rancher/rancher/issues/13060

[2018-04-25 13:41] #12981 closed

[2018-04-25 14:02] superseb opened #13073 "Search in Clusters view should search in Name by default"
Version: master 4/25

When using Search in Clusters view, all attributes are searched instead of just Name. For quick filtering it should default to Name, and have a toggle or an extended/advanced search for selectable/all attributes

<img width="1435" alt="screen shot 2018-04-25 at 16 00 25" src="https://user-images.githubusercontent.com/2620179/39250785-f7c56ea0-48a1-11e8-8400-fb96722f2a94.png">

[2018-04-25 14:03] moelsayed commented on #13052
I haven't been able to reproduce this. As far as I can see on the host, load is constantly increasing, it spent several hours pulling and extracting the addon images, and they are failing to start due to the load.

I tried to restart docker on the host but it didn't start back, load remained very high. I think this is a broken instance on DO, not a product issue.

[2018-04-25 14:14] orangedeng opened #13074 "Aliyun ECS Support for Rancher 2.0"
Support Aliyun ECS node driver in Rancher 2.0

[2018-04-25 14:39] superseb opened #13075 "Cluster name should be required and unique"
Version: master 4/25

Although technically not required, we should make Cluster Name required and unique. It's a better user experience for:

- Users to be warned when accidentally creating a cluster with the same name (this can also happen with multiple users/admins)
- Users to not be confused when multiple clusters with the same name exists (2 Users creating cluster named `A` and unknown which i

[2018-04-25 14:41] vital-st1x commented on #3893
+1

[2018-04-25 14:50] superseb opened #13076 "Ability to set flags/extra_args & extra binds for kubernetes components in the UI"
All the components have configurable flags that might need to be adjusted for a particular need, or added to get extra functionality. As of today, this is only possible using RKE and import.

As this can break clusters, we can add an Advanced Options which allows users to add flags to kubernetes components with the warning this can break their cluster/use at your own risk etc.

[2018-04-25 15:17] guangbochen opened #13077 "update catalog with remove chart in git repo does not effect on the rancher server"
**Rancher versions:**
rancher/server:2.0 04/25 master

Steps to Reproduce:
1. add a custom catalog to the catalog page
2. update catalog git repo with removing an existing chart like WordPress
3. click update catalog and template and charts are updated, but removed chart still exists on the rancher server even it is removed by the admin user.

Expected result: removed chart should be gone in the c

[2018-04-25 15:30] adingilloRancher commented on #13001
Closing issue.

[2018-04-25 15:30] #13001 closed

[2018-04-25 15:31] zchef2k opened #13078 "SSH never becomes "available" for hosts in clusters from multiple templates"
rancher/server:master (4/24/2018)

vsphere (ESXi) 6.5.0
any kubernetes version

**Steps to Reproduce:**
Deploy a cluster made up of hosts from a single node template, it succeeds.

Create one or more additional node templates and deploy a cluster made up of hosts from one or more of those templates. Only hosts from one template make it past the "Waiting for SSH" step, even though all hosts have va

[2018-04-25 15:58] vincent99 commented on #12618
This makes no sense.. the other types send a test message, email should too.  There shouldn't be anything different about the test message versus an actual alert, and half the point of testing is to see if the message actually makes it through filtering or not.

[2018-04-25 16:26] kremerol commented on #12237
Many thanks @superseb. Next command line solved my issue too !
`sudo rm -rf /var/lib/etcd /etc/kubernetes/ssl /etc/cni /opt/cni /var/lib/cni /var/run/calico /etc/kubernetes/.tmp/`

[2018-04-25 16:43] eedwards-sk opened #13080 "Fully Automatable 2.0 Setup"
## Summary:

When provisioning a rancher stack, I would like to fully automate the first-time setup procedure for the UI/admin.

Currently, thanks to #12947 I can get past the admin password prompt by resetting the password first.

However, it still asks me for the server URL.

I want to be able to do ALL of the steps that currently require a UI through automation: https://rancher.com/docs/rancher

[2018-04-25 16:53] obierlaire commented on #9074
I have the same issue with the nfs-driver: gone after a while.
I don't know when those storage volume disappeared from the UI. I restarted and upgraded the nfs-driver stack and nothing happened.
I redeployed my service that uses the volume, i redeployed well but data is missing!
Same logs than above.

[2018-04-25 17:05] marvinwankersteen commented on #11275
@superseb No, but I will give it a try in the next weeks.

[2018-04-25 17:15] kinarashah commented on #12951
@deniseschannon thank you, yes this should be fixed in the latest version

[2018-04-25 17:16] sangeethah commented on #13052
I see the same behavior again with Ec2 instances this time.
All worker nodes stuck in "Registering" state

<img width="1248" alt="screen shot 2018-04-25 at 10 13 51 am" src="https://user-images.githubusercontent.com/4266958/39261470-6cd39054-4871-11e8-9271-35eb669b3378.png">

docker hangs on this machine and has 100% cpu usage
[code]

[2018-04-25 17:38] tfiduccia commented on #13018
Version - 2.0 master 4/25
Verified fixed

[2018-04-25 17:38] #13018 closed

[2018-04-25 17:40] tfiduccia commented on #12997
Version - 2.0 master 4/25
Verified fixed

[2018-04-25 17:40] #12997 closed

[2018-04-25 17:43] sangeethah commented on #13054
This issue is not seen when testing with v2.0.0-beta4-rc3.

[2018-04-25 17:43] #13054 closed

[2018-04-25 17:43] soumyalj commented on #12996
Tested with v2.0.0-beta4-rc3. Created a GKE cluster. Created a nginx workload and an ingress pointing to the workload.
Using the endpoint presented in the API, I was able to reach the targets.
Ex: wget --header='host: foo.bar.com' http://IP:80/name.html

[2018-04-25 17:43] #12996 closed

[2018-04-25 17:44] tfiduccia commented on #12992
Version - 2.0 master 4/25
Verified fixed

[2018-04-25 17:44] #12992 closed

[2018-04-25 17:48] tfiduccia opened #13083 "Creating custom cluster causes error"
**Rancher versions:** 2.0 master 4/25

**Steps to Reproduce:**
1. Add Cluster
2.  Select custom cluster
3.  Give it a name and select Next

**Results:**  In Add Cluster an Error shows up on bottom of page.  No error in console
![image](https://user-images.githubusercontent.com/11514927/39263102-128fbe92-4876-11e8-8be5-f1200c908224.png)

[2018-04-25 17:49] deniseschannon commented on #12684
@JulienFauvel What rancher server version are you running?

[2018-04-25 17:50] soumyalj commented on #12533
Created EKS cluster on beta4-rc3. displayName could be observed in the AWS cloudformation portal  for the associated cluster. The displayName is seen in the Tags section

<img width="1273" alt="screen shot 2018-04-25 at 10 49 38 am" src="https://user-images.githubusercontent.com/18536626/39263254-7b1ef0c2-4876-11e8-82be-ddfbac25169d.png">

[2018-04-25 17:50] #12533 closed

[2018-04-25 17:51] tfiduccia commented on #12915
@loganhz - we don't normally hide the menu option.  We just have it go back to the cluster dashboard until it's ready.

[2018-04-25 17:54] soumyalj commented on #12792
Tested with v2.0.0-beta4-rc3. Created EKS cluster successfully. The error mentioned above was not seen.

[2018-04-25 17:54] #12792 closed

[2018-04-25 17:55] tfiduccia commented on #13007
Version - 2.0 master 4/25
Verified fixed

[2018-04-25 17:55] #13007 closed

[2018-04-25 18:01] #13080 closed

[2018-04-25 18:09] bfosberry commented on #12792
I get past this point now, thank you!

On Wed, Apr 25, 2018 at 10:54 AM soumyalj <notifications@github.com> wrote:

[2018-04-25 18:29] kinarashah commented on #12951
@sangeethah confirmed with @orangedeng just reproduced at the workload level.
So if you do `kubectl get daemonset nginx-ingress-controller -n ingress-nginx` and see the update happening, this issue can be considered resolved ..

Pods not getting upgraded looks like a separate issue

[2018-04-25 18:30] JulienFauvel commented on #12684
@deniseschannon
I do believe it's the latest rancher/server:preview

Version : v2.0.0-beta3 on the web UI

[2018-04-25 18:43] alena1108 commented on #11956
@guangbochen @StrongMonkey if you do view catalog App in API, the `notes` field still shows `apiVersion: extensions/v1beta1` for wordpress-mariadb (see full value here). How does this note get generated? Is it possible that helm overrides the api field?

[2018-04-25 18:46] soumyalj opened #13086 "Ingress not functional in Amazon EKS cluster"
**Rancher versions:**
rancher/server: v2.0.0-beta4-rc3

**Steps to Reproduce:**
1. Create a Amazon EKS cluster
2. Create a workload with nginx image
3. Create an ingress pointing to the workload

Accessing the ingress from any of the node IPs does not resolve to the desired targets

[code]
If the Amazon creates its own resource for the ingress, then the right endpoint should be provided to access

[2018-04-25 18:49] tfiduccia commented on #13055
@yoke88  - I can't reproduce this.  Can you tell me what browser you are using and what type of cluster this is.

[2018-04-25 19:05] soumyalj opened #13088 "Ingress not functional on Azure Container service cluster"
**Rancher versions:**
rancher/server: v2.0.0-beta4-rc3

**Steps to Reproduce:**
1. Create a Azure container service cluster
2. Create a workload with nginx image
3. Create an ingress pointing to the workload

Accessing the ingress from any of the node IPs does not resolve to the desired targets.
The node IPs display internal address.

[code]
If the Azure container service creates its own resource

[2018-04-25 19:11] tfiduccia opened #13089 "pod with sidecar showing empty accordion in Flat and Node View"
**Rancher versions:** 2.0 master 4/25

**Steps to Reproduce:**
1.  Create a workload that has a sidecar
2.  View workload list page in Flat or Node View

**Results:**  Pod that is part of workload that has sidecar is showing empty accordion
![image](https://user-images.githubusercontent.com/11514927/39267482-c9025e54-4881-11e8-9d80-520dcafbe042.png)

[2018-04-25 19:25] tfiduccia commented on #13083
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 19:25] #13083 closed

[2018-04-25 19:32] tfiduccia commented on #13071
Version - 2.0 master 4/25
Verified fixed

[2018-04-25 19:35] tfiduccia commented on #13032
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 19:35] #13032 closed

[2018-04-25 19:35] tfiduccia commented on #12915
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 19:35] #12915 closed

[2018-04-25 19:38] tfiduccia commented on #12778
Version - v2.0.0-beta4-rc4
This is still not fixed
![image](https://user-images.githubusercontent.com/11514927/39268705-746f706c-4885-11e8-844c-8b8c1046fa81.png)

[2018-04-25 19:43] tfiduccia commented on #12776
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 19:43] #12776 closed

[2018-04-25 19:45] tfiduccia commented on #13028
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 19:45] #13028 closed

[2018-04-25 19:54] zchef2k commented on #13078
Well, using rancher/server:v2.0.0-beta4-rc4, (with the original 17.03-ce b2d image, not the mount 'fix' version floating around), I am able to deploy a cluster using more than one node template.

![image](https://user-images.githubusercontent.com/743910/39269453-da2bd8a8-48a0-11e8-98dd-b42c0a1fc840.png)

I'm not sure where this leaves you with the AWS or DO driver....

[2018-04-25 19:55] tfiduccia commented on #12539
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 19:55] #12539 closed

[2018-04-25 19:58] tfiduccia opened #13090 "Config Map & Secret Volume is not displaying properly in workload details page"
**Rancher versions:** v2.0.0-beta4-rc4

**Steps to Reproduce:**
1.  Create a config map and a secret
2.  Create a workload and add two volumes (one using the config map and one using the secret)
3.  Go to the workload details page and view the volume section

**Results:**  Volume section is not displaying the config & secret information properly.  Config map is missing all the config map informati

[2018-04-25 20:06] tfiduccia commented on #12798
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 20:06] #12798 closed

[2018-04-25 20:34] soumyalj opened #13091 "Panic when deploying a EKS cluster"
**Rancher versions:**
rancher/server: v2.0.0-beta4-rc4

**Steps to Reproduce:**
1. Create a EKS cluster. [Also deployed GKE and Azure container service cluster at the same time.]

The server crashed with a panic below
[code]

[2018-04-25 20:39] pasikarkkainen opened #13092 "Rancher lb-service-haproxy update to haproxy v1.8.12"
**Rancher versions:**
rancher/server: 1.6.17

Rancher lb-service-haproxy was updated to version 1.8.4 earlier here: https://github.com/rancher/rancher/issues/10431

Since then there has been many important bugfixes to haproxy 1.8 branch, so haproxy should be updated to the latest upstream release (which is currently at v1.8.8).

Hopefully the updated haproxy version can get into rancher v1.6.18 :)

[2018-04-25 20:48] eedwards-sk commented on #13080
Hi @superseb

I really appreciate you providing that gist.

I still believe this should be logged as a feature request or similar, for at least documenting these APIs

I don't believe having to MITM capture web traces, to figure out the api, is an acceptable solution for a product designed around CI/CD/automation.

Thanks again.

[2018-04-25 20:50] superseb commented on #13080
The product is in beta, docs will follow shortly. These will probably not address your request for docs on API yet, but in the mean time you can use this method.

[2018-04-25 21:01] adingilloRancher opened #13094 "vSphere - Unable to create pods on worker nodes"
**Rancher versions:**
v2.0.0-beta4-rc4

Steps:
Create a vSphere cluster with three nodes, one of each role.
Create a Daemon set workload.

Results:
Pod does not fully create on worker node.
Warning  FailedCreatePodSandBox  4m                kubelet, austinworker2  Failed create pod sandbox: rpc error: code = Unknown desc = rewrite resolv.conf failed for pod "workload-mwzt4": ResolvConfPath "/mnt/s

[2018-04-25 21:02] tfiduccia commented on #12584
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 21:02] #12584 closed

[2018-04-25 21:04] superseb commented on #13069
When the ClusterID tag is not set, `kubelet` will fail (logging below). So ability to add tags will be required when using k8s 1.10.

Even better when we can add it/suggest it by default in the UI.

[code]

[2018-04-25 21:40] deniseschannon commented on #12685
@loganhz we should fix so that the UI isn't hanging for when it returns 422

[2018-04-25 21:43] tfiduccia opened #13095 "Catalogs Apps that don't finish deploying cause of error won't remove"
**Rancher versions:** 2.0 master 4/25

**Steps to Reproduce:**
1.  Deploy a helm chart that won't finish deploying because of an error
   (i used customer catalog https://github.com/openfaas/faas-netes.git)
2.  Try to delete the app

**Results:**  App won't delete because it's stuck in an error state.

[2018-04-25 21:51] mimizone opened #13096 "string not being replaced by their translation in web UI in en-US, Mac OS Safari"
**Rancher versions:**
rancher/server: v2.0.0-beta4-rc3
rancher user interface: v2.0.37

**Steps to Reproduce:**
- Mac OS X 10.13.2
- Safari Version 11.0.2 (13604.4.7.1.6)
- Mac OS X UI in English
- Github login, pick english-US language
- go to a cluster page and projects

**Results:**
- a few strings are not converted to the targeted language and shown as for example `%projectGroup.label%*`
- it

[2018-04-25 21:54] StrongMonkey commented on #11956
@alena1108 i believe @guangbochen already updated that in this commit https://github.com/rancher/charts/commit/8873fa40bfcd635e87f8bdb4433e4166081da48d. Also i don't think helm overrides api version. Can you check if your charts is updated to date?

[2018-04-25 21:56] tfiduccia commented on #12928
@alena1108 - I talked with Darren and he would like the roles to be returned in general for imported clusters.

[2018-04-25 22:03] tfiduccia commented on #12901
Rancher can only currently run on ports 80 and 443.  Example docker command: docker run -v /home/ubuntu/state:/var/lib/rancher -d -p 80:80 -p 443:443 --restart=unless-stopped rancher/server:v2.0.0-beta4-rc4

[2018-04-25 22:03] #12901 closed

[2018-04-25 22:30] tfiduccia commented on #13096
@mimizone - I cannot reproduce your issue.  We do have a backend that turns off/on the language tags.  Click anywhere in rancher that isn't a field to bring the browser to the font, then hit Shift+L.  Sometimes people accidentally turn it on.

[2018-04-25 22:36] deniseschannon commented on #12485
As @moelsayed was using AWS clusters, this should work.

@soumyalj can you test as this is similar to the HA path but using AWS as the nodes.

[2018-04-25 22:37] deniseschannon commented on #13052
@sangeethah with the changes we made between v2.0.0-beta4-rc3 and v2.0.0-beta4-rc4, i think this should be fixed. can you please verify?

[2018-04-25 22:38] sangeethah commented on #13052
Tested with v2.0.0-beta4-rc4

This issue is not seen any more.

[2018-04-25 22:38] #13052 closed

[2018-04-25 22:40] leodotcloud commented on #12706
https://github.com/projectcalico/libcalico-go/issues/770

[2018-04-25 22:40] leodotcloud commented on #13072
https://github.com/projectcalico/libcalico-go/issues/770

[2018-04-25 22:40] leodotcloud commented on #13060
https://github.com/projectcalico/libcalico-go/issues/770

[2018-04-25 22:42] sangeethah commented on #12873
Tested with v2.0.0-beta4-rc4

Create a custom cluster and register hosts (rhel 7.5) to this cluster with following roles:

2 control nodes
3 etcd
3 workers

Cluster gets provisioned successfully and gets to "active" state. All nodes in the cluster also get to "active" state as expected.

[2018-04-25 22:42] #12873 closed

[2018-04-25 22:42] tfiduccia commented on #13096
Closing - he had an old cached version of the file, so new fields were not showing up properly.

[2018-04-25 22:42] #13096 closed

[2018-04-25 22:42] mimizone commented on #13096
@tfiduccia I saw your message too late. Clearing the entire cache of Safari solved the problem. I was advised by vincent on slack that the en-us.json file may be the older version and that a bug that omits specifying the version of the file makes safari load the older version.

[2018-04-25 22:48] tfiduccia commented on #13059
@exocode - I cannot reproduce your issue.  This looks like the rancher server is no longer available.  Have you tried to ssh into your server?

[2018-04-25 22:57] soumyalj opened #13097 "Deploy 2.0 in HA mode with external etcd"
We can deploy 2.0 in HA mode and create an rke cluster with external etcd seperately.
Need to ensure that we can deploy 2.0 in HA mode with external etcd

Related links
https://github.com/rancher/rke/#deploying-rancher-20-using-rke
https://github.com/rancher/rke/issues/288

[2018-04-25 23:17] #12641 closed, assigned to sangeethah

[2018-04-25 23:18] soumyalj opened #13099 "Link to the GKE cluster ingress should not be available in rancher until it is ready in GCE"
**Rancher versions:**
rancher/server: Master

**Steps to Reproduce:**
1. Create a GKE cluster
2. Create a workload and ingress pointing to the workload

It takes a long time for the ingress to be operational [An external LB is created in GCE for the ingress].
GCE notes below:
[code]

The link to the Load balancer in rancher should not be available until it is ready to serve the targets

[2018-04-25 23:26] tfiduccia commented on #12763
Version - v2.0.0-beta4-rc4
Verified fixed

[2018-04-25 23:26] #12763 closed

[2018-04-25 23:27] soumyalj commented on #11607
Tested with v2.0.0-beta4-rc4.
1. Create secrets in the UI  available for all namespaces or for a single namespace
2. Edit the secrets and change the key.
After editing the secret key, other keys were not created.

[2018-04-25 23:27] #11607 closed

[2018-04-25 23:28] deniseschannon commented on #12731
@zionwu can you test adding EC2 in china with the AWS cloud provider?

[2018-04-25 23:33] #12613 closed

[2018-04-25 23:37] dramich opened #13101 "[cli] Add catalog command"
Catalog will require three pieces, working with the catalog, working with the templates and finally working with apps that get created from the templates.

catalog: add, list, delete

[2018-04-25 23:37] tfiduccia opened #13102 "Safari - when I log out, I don't see Username/Password fields"
**Rancher versions:** v2.0.0-beta4-rc4

**Steps to Reproduce:**
1.  Setup a rancher server
2.  Log in as admin
3.  Log out

**Results:**  Username & Password field don't show up.  Chrome automatically opens local username/password fields, since that is all I have available.  Safari doesn't.  Since local is only available, I shouldn't have to click on "Use a Local User" link.
![image](https://user-

[2018-04-25 23:46] sangeethah commented on #12994
Tested with v2.0.0-beta4-rc4

Create a cluster with "Amazon EC2" provider.
Create a workload.
Create ingress pointing to this workload.
When load balancer is queried from kubectl , Ip addresses for ingress point to external ip address of the nodes.

[2018-04-25 23:46] #12994 closed

[2018-04-26 00:02] sangeethah opened #13104 "When no namespace is entered when creating a config map, random namespace gets created."
**Rancher versions:** v2.0.0-beta4-rc4
**Steps to Reproduce:**

Create a project (Add no namespace)
Create a config map for a project without entering any namespace.
**Results:**
Namespace gets auto created in this case.

Expected behavior:
We should error out saying that namespace is required.

[2018-04-26 00:07] soumyalj commented on #13035
Tested with v2.0.0-beta4-rc3.
Tested ingress on RKE cluster using Digital ocean hosts
Created a GKE cluster. Created a nginx workload and an ingress pointing to the workload.
Using the endpoint presented in the API, I was able to reach the targets.
Ex: wget --header='host: foo.bar.com' http://IP:80/name.html

[2018-04-26 00:07] #13035 closed

[2018-04-26 00:14] tfiduccia opened #13105 "Alert is showing cluster ID instead of cluster Name"
**Rancher versions:** 2.0 master 4/25

**Steps to Reproduce:**
1.  Create a slack notifier
2.  Setup an alert on a node that will fire

**Results:**  In the Alert I get in Slack, the Cluster Name is the Cluster ID not the actual cluster name.  Should be
![image](https://user-images.githubusercontent.com/11514927/39279136-136c69a6-48ac-11e8-969f-2541a30bc54c.png)

[2018-04-26 00:17] leodotcloud opened #13106 "update 1.6 rancher microservices with basic tools"
example lb container doesn't have net-tools and it makes it really hard to debug anything in the container when something goes wrong.

[2018-04-26 00:17] dindurthy opened #13107 "Rancher healthchecks cause high CPU"
**Rancher versions:**
rancher/server: 1.6.15
rancher/agent: 1.2.10

**Infrastructure Stack versions:**
healthcheck:  0.3.6
ipsec: 0.13.11 (router)
network-services: 0.7.20
scheduler: 0.8.3
kubernetes (if applicable): N/A

**Docker version: (`docker version`,`docker info` preferred)**
Server Version: 1.12.6
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 183

[2018-04-26 00:29] rossedman commented on #12773
@deniseschannon This has been resolved with the bumped upgrade. Thanks.

[2018-04-26 00:29] #12773 closed

[2018-04-26 00:33] cloudnautique commented on #13107
Is the metadata refresh interval set to the default, or has that been adjusted as well?

[2018-04-26 00:51] dindurthy commented on #13107
Ah yes, it has been.
[code]
Updating the original post too.

[2018-04-26 01:18] mrajashree opened #13109 "Active Directory login with domain name prefixed is not working"
**Rancher versions:**
Rancher master

**Steps to reproduce**
1. While configuring AD, leave Default Login Domain field empty
2. For service account and 'your username' fields, provide the usernames prefixed with domain name

**Expected**
AD should be configured

**Actual**
Error is thrown
<img width="1437" alt="screen shot 2018-04-25 at 6 07 19 pm" src="https://user-images.githubusercontent.com/10

[2018-04-26 01:24] vincent99 commented on #13106
1) `apt-get install net-tools`
2) There is no step 2.

[2018-04-26 01:31] vincent99 commented on #13107
Each port is a different "backend" in haproxy and each backend's targets have independent healthchecks... it doesn't matter that they happen to point to the same service.

[2018-04-26 01:37] #116 closed

[2018-04-26 01:47] vincent99 commented on #438
Live migrate or similar are not going to happen in 1.x; You an Deactivate (or Evacuate) a Host and delete containers to reschedule them according to their scale/scheduling.  For 2.0, Kubernetes works similarly.

[2018-04-26 01:47] #438 closed

[2018-04-26 01:48] #1052 closed

[2018-04-26 01:49] vincent99 commented on #1277
No, k8s does not expose anything special for managing images.

[2018-04-26 01:55] vincent99 commented on #1351
You can basically do this with your own global service (1.x) / daemonset (2.0) in the environment/project.  Or some machine drivers do have cloud-init support (e.g. vsphere).  I don't think inventing a new ansible/puppet/chef to deploy stuff on to the host, handle updating them when the definition changes, etc is a good idea.

[2018-04-26 01:55] #1351 closed

[2018-04-26 02:05] yoke88 commented on #13055
i'm using google chrome version 66.0.3359.117（正式版本） （64 位）， i have never used a touch screen.

[2018-04-26 02:09] yoke88 commented on #13055
I have delete the node in GUI v2.0.36, but it not work , and the same time , there is a problem related to volume add in GUI v2.0.36 ,so i upgraded to GUI v2.0.37 . after the upgrade ,i still can not delete the node,
so i mannuly delete the node with `kubectl delete node ceph4` ,then delete the node using API.

[2018-04-26 02:10] vincent99 commented on #1403
K8s 1.9+ has [alpha IPv6-only support](https://github.com/kubernetes/features/issues/508), with various caveats and limitations.  Nobody I'm aware of has tried it, we don't do anything to intentionally break it but there are probably issues with linking in the UI or accepting v6 addresses in validators if someone wants to try it and make specific issues.

Dual-stack, which is what most people real

[2018-04-26 02:15] vincent99 commented on #1640
1.x: https://github.com/rancher/rancher/issues/9064
2.0: you can do whatever you want to k8s PSPs.

[2018-04-26 02:15] #1640 closed

[2018-04-26 02:26] yoke88 commented on #13064
**And The duplicated items when update items.**

![default](https://user-images.githubusercontent.com/3146226/39282527-4835a2e8-493c-11e8-8806-03bbf9fa18e1.png)

[2018-04-26 02:29] #1690 closed

[2018-04-26 02:31] yoke88 commented on #13064
**Deployed Helm app has no name displayed just "/"**

![default](https://user-images.githubusercontent.com/3146226/39282639-cf868294-493c-11e8-805d-cca86965484b.JPG)

![default](https://user-images.githubusercontent.com/3146226/39282656-e7a469cc-493c-11e8-9e32-9421667835a0.JPG)

[2018-04-26 02:31] vincent99 commented on #1802
This is ancient and apparently not desired much.

[2018-04-26 02:31] #1802 closed

[2018-04-26 02:31] #1852 closed

[2018-04-26 02:33] #7750 closed

[2018-04-26 02:35] vincent99 commented on #5045
https://github.com/rancher/rancher/issues/1858

[2018-04-26 02:35] #5045 closed

[2018-04-26 02:35] #1911 closed

[2018-04-26 02:36] yoke88 commented on #13048
I have tried using chrome 66.0.3359.117 ,and IE 11.371.16299.0, no touch screens used.

[2018-04-26 02:41] vincent99 commented on #1919
2018: Ditto, for v3...

[2018-04-26 02:43] yoke88 commented on #12685
With UI 2.0.38, just select "manay nodes read-write", then mount it to a pod , when click upgrade, it
will hang there.

![default](https://user-images.githubusercontent.com/3146226/39282943-3a851992-493e-11e8-996f-832144dd4912.JPG)

![default](https://user-images.githubusercontent.com/3146226/39283007-8bdef510-493e-11e8-9763-f3431d5de444.png)

[2018-04-26 02:48] vincent99 commented on #1825
https://github.com/rancher/rancher/issues/1825

[2018-04-26 02:48] #1825 closed

[2018-04-26 02:48] vincent99 commented on #1825
https://github.com/rancher/rancher/issues/1277

[2018-04-26 02:50] #1843 closed

[2018-04-26 02:56] vincent99 commented on #2096
I don't expect to ever automate this; in 2.0 you can view the yaml and re-import/edit it easily.  There are frequently going to be things you want to modify before creating the new resources.

[2018-04-26 02:56] #2096 closed

[2018-04-26 03:01] vincent99 commented on #2105
We don't have any specific UX for this but k8s has support for [Resource Quotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/) on Namespaces.

[2018-04-26 03:01] #2105 closed

[2018-04-26 03:02] #12628 closed

[2018-04-26 03:15] guangbochen commented on #12460
Raising an error seems looks fair enough and verified added error message master 04/26.

[2018-04-26 03:15] #12460 closed

[2018-04-26 03:15] guangbochen commented on #12460
Raising an error seems looks fair enough and verified added error message master 04/26.

[2018-04-26 03:25] deniseschannon commented on #13072
Closing as duplicate

[2018-04-26 03:25] #13072 closed

[2018-04-26 03:30] deniseschannon commented on #12928
@sangeethah the test case that we really want to verify is that when we start a HA cluster, you'd be able to see the roles for the "local" cluster.

[2018-04-26 03:48] orangedeng commented on #12998
[code]
@sangeethah this is an example for all kind of ingress backend. Default backend won't be set as a public endpoint. The other rules for host/path will show in workload public endpoint.

[2018-04-26 03:58] alena1108 commented on #12998
@sangeethah

 as a verification, lets just make sure that we test ingress created by not using rancher API/LB UI, get public endpoints assigned. The endpoints will get created for hostname/path rules only. Keeping that in mind, we can test:

* deploying ingress using kubectl and yml file
* deploying ingress via rancher - make it point to the service - export yml -> Deploy new ingress using import

[2018-04-26 04:00] k0nstantinv commented on #13058
Oh thanks! I think it is... and i can ask GitLab how they parse API URL for integration.

did it work?

[2018-04-26 04:04] vincent99 commented on #2195
This is not going to happen in 1.x, and 2.0/k8s has command health checks.

[2018-04-26 04:04] #2195 closed

[2018-04-26 04:04] #2199 closed

[2018-04-26 04:09] zionwu commented on #12663
Followed the same steps and checked the API `v3/clusters/c-kjmrr`:
![image](https://user-images.githubusercontent.com/1213386/39285333-8329fdfa-494a-11e8-9c74-78146fb96749.png)

The private registry data is present.  This is a UI issue.

[2018-04-26 04:47] loganhz commented on #13090
UI sends the project level secret Id to backend, but server populated a namespace level secret.

![image](https://user-images.githubusercontent.com/21168270/39286290-ab8bdfde-494f-11e8-9ca1-ec18174f40c7.png)

![image](https://user-images.githubusercontent.com/21168270/39286325-d1334894-494f-11e8-9e86-897a75015d69.png)

[2018-04-26 05:02] vincent99 commented on #2217
The CLI for 2.0 has an option for this, and interactive prompt to take the cert from the server if desired.

[2018-04-26 05:02] #2217 closed

[2018-04-26 05:04] #2310 closed

[2018-04-26 05:09] #2406 closed

[2018-04-26 05:18] dindurthy commented on #13107
That comports, and I see it in the `haproxy.cfg`.  But is there a way to turn off the `option httpchk`?  Naively, I understand something else, probably the healthcheck service, is also healthchecking a target service, since services without lbs also successfully healthcheck.  So, is there a way to preserve the healthcheck checks and disable the lb backend checks?  We essentially can't use the heal

[2018-04-26 05:42] guangbochen commented on #13060
canal verified fixed on master 04/26

[2018-04-26 05:51] levensailor commented on #1317
oauth, i've found, isn't much of a standard. it would be great if you developed an oauth login option and you just enter standard variables from gitlab or whatever provider. hopefully community will pick up on this since i won't have time for a while..

[2018-04-26 05:54] kingsd041 commented on #13060
calico verified fixed on master 04/26
Close it.

[2018-04-26 05:54] #13060 closed

[2018-04-26 06:17] jagadeeshops opened #13112 "Vsphere (datacenter not found error in precheck)"
**Rancher versions:**
rancher/server master and preview tags

**Infrastructure Stack versions:**
vsphere provisioning

**Docker version: (`docker version`,`docker info` preferred)**
1.13.1

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RHEL 7.3

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
vsphere
**Setup details: (single node rancher vs. HA ranch

[2018-04-26 07:02] wzrdtales commented on #1403
@vincent99 Well basically people only need to be able to configure the loadbalancer, everything else is not important and wouldn't need to be able to accept ipv6. What kubernetes is doing here is shooting well beyond that. But I understand the problem you've got. For us, we setup on the dedicated loadbalancers we have in place a manually configured ipv6 one, that forwards basically everything to t

[2018-04-26 08:08] exocode commented on #13059
I close it, I deleted the whole server and started from scratch

[2018-04-26 08:08] #13059 closed

[2018-04-26 08:09] jzandbergen commented on #13070
This issue is even more problematic because the original data is not copied to the nfs share as one would expect reading the [Dockerfile reference](https://docs.docker.com/engine/reference/builder/#volume)

So all the stacks which are being deployed right now are failing on my side because missing data.

[2018-04-26 08:28] volatilemolotov12 commented on #12247
Looks like its not a bug but lack of understanding how labels work :/

[2018-04-26 08:28] #12247 closed

[2018-04-26 09:01] superseb commented on #13112
Can you share what config you entered in Rancher and what you are using in Terraform? You can remove any sensitive info but please keep the format so we can investigate.

[2018-04-26 09:36] typia commented on #12606
hi @superseb sorry to bother you with that issue.
Are the timeout settings too low ? Those are the default ones.
Many thanks

[2018-04-26 09:47] yoke88 commented on #13064
i can delete the duplicated item with API, but can not do it just using UI

[2018-04-26 09:47] Remigius2011 opened #13113 "Persistent Volume of Type NFS Share cannot be created with access mode "Many Nodes Read-Write" (aka ReadWriteMany / RWX)"
**Rancher versions:**
rancher/server or rancher/rancher: v2.0.0-beta4
rancher/agent or rancher/rancher-agent: v2.0.0-beta4

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable): v1.10.1-rancher2

**Docker version: (`docker version`,`docker info` preferred)** 17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` prefe

[2018-04-26 10:29] Toflar commented on #12281
I still have the same issue. It works for `Single Node Read-Write` but not for `Multi Node Read-Write`.

[2018-04-26 10:44] superseb opened #13114 "Elasticsearch Endpoint should use default protocol ports when port is not given"
Version `v2.0.0-beta4`

Enable logging, point to Elasticsearch endpoint with using URL `https://test-cluster.amazonaws.com/`.

Error:

```Validation failed in API: url test-cluster.amazonaws.com unreachable, error: dial tcp: address test-cluster.amazonaws.com: missing port in address```

Would be nice to use default protocol ports when port is absent in the URL (`http://` = `:80`, `https://` = `:4

[2018-04-26 10:50] jzandbergen commented on #13070
Another observation we make is that in the environment where it is working correctly, when we inspect the container using `docker inspect` we see something like this:
[code]

And on the environment where it is not working we observe:
[code]
And when we look at the [documentation](https://docs.docker.com/storage/volumes/) we see that this exactly our problem:
[code]

[2018-04-26 11:06] p4l1ly commented on #4082
for me, ideally: what has been changed, and by whom

[2018-04-26 11:30] straffalli opened #13115 "Ability to specify custom cloud config format (i.e. gcfg for vSphere/Openstack)"
**Rancher versions:**
rancher/server or rancher/rancher: **v2.0.0-beta4**
rancher/agent or rancher/rancher-agent: **v2.0.0-beta4**

**Infrastructure Stack versions:**
network provider: Flannel
kubernetes (if applicable): v1.9.5-rancher1-1

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.7.6
 Git commit:   d9ad3fc

[2018-04-26 11:48] dirkd commented on #13058
It does indeed work.
I even stripped down the reverse proxy to only provide the k8s api (so no Rancher endpoints like /login) since Gitlab's integration won't use them anyway and the proxy is only accessible by Gitlab in our case. I'm currently corresponding with Gitlab's enterprise support to maybe resolve this issue on their end so that Rancher's default api-server URLs can be used as is without

[2018-04-26 12:59] zionwu commented on #13040
@tfiduccia , I followed the same steps but can't reproduce the issue.

1. created an alert
![image](https://user-images.githubusercontent.com/1213386/39306941-19531e3a-4994-11e8-8605-858e7770f8e4.png)

2. created a workload with 1 pod, alert is fired:
![image](https://user-images.githubusercontent.com/1213386/39306988-33c7efb6-4994-11e8-9d30-f1e3586950f0.png)

3. muted the alert and created anothe

[2018-04-26 13:37] zionwu commented on #13066
I tried to add notifier to `globalResourcesNeededInProjects ` in https://github.com/rancher/rancher/blob/master/pkg/controllers/user/rbac/prtb_handler.go#L22:5, but it did not fix this issue.

It may due to PV/Storage class is  non-namespaced resource and in user cluster, but Notifier is namespaced resource and in mgmt cluster. It is a different case.

[2018-04-26 14:14] Toflar opened #13118 "Issue with static IP and Layer 4 LoadBalancer on GKE"
**Rancher versions:**
rancher/server:preview

When I want to expose a workload, say `nginx`, to the world, I configure the port `80` to be exposed as port `80` as L4 LoadBalancer. For GKE, Rancher then automatically creates an IP in GKE causing an issue when you already have a static IP (quota exceeded). Either it should take the one that is already there or ask me which one I would like to link t

[2018-04-26 14:26] Remigius2011 commented on #13113
Follow-Up: Sometimes it seems to work (e.g. after logout / login). Also, creating a PVC under Volumes fails when only "Many Nodes Read-Write" is checked.

[2018-04-26 14:27] Toflar commented on #8575
I think this can be closed, because it's supported in 2.0 :)

[2018-04-26 14:27] superseb commented on #8575
Thanks!

[2018-04-26 14:27] #8575 closed

[2018-04-26 14:44] gtirloni commented on #12564
Reproduced on Rancher v2.0.0-beta4-rc2

[2018-04-26 14:55] gtirloni opened #13119 "Creating namespace through workload causing 409 if namespace already exist"
**Rancher versions:**
v2.0.0-beta4-rc2

**Infrastructure Stack versions:**
kubernetes 1.10.1

**Docker version: (`docker version`,`docker info` preferred)**
Docker 17.03.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS 7.4

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
KVM/Bare-metal

**Setup details: (single node rancher vs. HA rancher, int

[2018-04-26 14:57] gtirloni commented on #13119
It doesn't seem necessary that there is a deployment with the same name. It seems the issue is the existing namespace itself.

[2018-04-26 15:10] gtirloni commented on #13119
While adding a certificate the issue doesn't happen. The UI correctly shows an error `"namespaces "default" already exists`

[2018-04-26 15:29] dirkd commented on #13058
addendum: The problem seems to be the kubeclient gem used by Gitlab. Initializing it with a Rancher API-Server URL yields a client which has its `@api_group` attribute set to the wrong value:

[code]

So this issue is definitely not related to Rancher but https://github.com/abonas/kubeclient/tree/v3.0.0 and should probably be closed here.

[2018-04-26 15:48] adingilloRancher commented on #12827
Build
v2.0.0-rc1

Verified fix.

[2018-04-26 15:48] #12827 closed

[2018-04-26 16:27] bmdepesa commented on #12893
Validated against v2.0.0-beta4-rc3.

Cluster provisions, LB, ingress, and volumes are working.

Still looking into sharing volumes between pods, will open a separate issue if needed.

[2018-04-26 16:27] #12893 closed

[2018-04-26 16:29] DaytonG commented on #12711
I just noticed this on rancher 1.6.17 with kube 1.9.5.

[2018-04-26 16:35] adingilloRancher commented on #12384
Build:
v2.0.0-rc1

Verified ability to create a new cluster and edit cluster. Verified ability to use any version of RKE to create cluster.

[2018-04-26 16:35] #12384 closed

[2018-04-26 16:37] adingilloRancher commented on #13094
Build:
v2.0.0-rc1

Verified ability to create pods on worker only nodes for vSphere

[2018-04-26 16:37] #13094 closed

[2018-04-26 16:52] cjellick commented on #12622
I cannot reproduce the group search base issue. If I enter one, it is properly saved and reflected in the UI.

[2018-04-26 16:53] cjellick commented on #12622
@EricVS the users that didnt work, were they in a different domain from the default one you configured. I see you configured it as ESL-ASIA

[2018-04-26 16:58] adingilloRancher commented on #12788
Build v2.0.0-rc1

Received alert

[2018-04-26 16:58] #12788 closed

[2018-04-26 17:34] tfiduccia commented on #13040
@zionwu -
1.  Not sure what you mean by that.  But I muted all alerts.  The alert fired and unmuted (the status said alerting)
2.  I did have multiple alerts and all were muted.
3.  I only changed the initial wait time to 5 second.

[2018-04-26 17:35] tfiduccia commented on #12281
@Toflar - what version of rancher do you have?

[2018-04-26 17:44] deniseschannon commented on #13003
@NewBDAQ Can you try with v2.0.0-beta4 and did you make sure the ports are open? https://rancher.com/docs/rancher/v2.0/en/quick-start-guide/#port-requirements

[2018-04-26 17:46] StrongMonkey commented on #13030
@ihardzeenka we don't use tiller in the latest build. Instead, we track the release info in rancher which you should be able to rollback the release you previously deployed.

[2018-04-26 17:52] bmdepesa commented on #13039
Validated against v2.0.0-rc1

Use case B is working

Use case A is not working. I am still not seeing logging from the project level.

Regarding case C .. I get "pattern not match" with any format I use. Do we have any examples that work for the non-regex options?

[2018-04-26 17:54] StrongMonkey commented on #13057
@kenfdev the original design was to deploy apps in a single namespace and prevent resources being created in another namespace. I was thinking that we could add an option to allow user ignore the constraint.

[2018-04-26 17:57] adingilloRancher commented on #13034
Validated ability to create members and assign roles.

[2018-04-26 18:02] adingilloRancher commented on #13109
missed adding domain to service account user name. verified.

[2018-04-26 18:02] #13109 closed

[2018-04-26 18:05] cloudnautique opened #13120 "IPSec bails on initial startup if it gets 404 from Metadata"
**Rancher versions:**
rancher/server:v1.6.17

**Infrastructure Stack versions:**
ipsec 0.2.3

Cattle environment
**Steps to Reproduce:**
Adjust metadata reload interval to 5000ms from the default 1000ms

Add 50 nodes to the environment.
In the ipsec router container, you will see logs like:
[code]

This can cause a situation where the stopped container + unhealthy that Rancher will remove the cont

[2018-04-26 18:05] deniseschannon commented on #12894
@adingilloRancher This is cause this page is actually updating cluster name, updating membership ont he cluster and managing nodes. With Dynamic RBAC, we'll be able to isolate which of these parts the user has access to be able to edit.

[2018-04-26 18:17] #13030 closed

[2018-04-26 18:18] alena1108 opened #13121 "Populate NodePort endpoint address on the backend"
Today ip address for endpoint having allNodes=true, gets populated on the UI side. We have to populate it on the backend as some UI users might not have access to host(s) to fetch the ip

[2018-04-26 18:22] alena1108 opened #13122 "Fix issues around dropped healthchecks"
Following issues were noticed on a large scale setup, exposed by "dropped healthcheck if ipsec is down". This is what needs to be fixed:

* Drop only Down events, process everything else. Note that DOWN events can be DOWN, DOWN 1/2, etc.
* In cleanup thread were we remove initializing/reinitializing instances:
- check ipsec state for the environment (use the same code for check as you do in servic

[2018-04-26 18:27] alena1108 opened #13123 "Dropped service.remove events from k8s-agent can result in duplicated service entries"
Steps to reproduce:

* Create k8s environment
* Create k8s service using kubectl. Wait till k8s-agent propagates the service to rancher (you can list it by name in the DB)
* Stop `k8s-agent` service (Infrastructure stacks -> Kubernetes -> k8s-agent service stop)
* remove k8s service using kubectl.
* Start `k8s-agent` service
* recreate the k8s service

Bug: service with duplicated name gets create

[2018-04-26 18:28] ibuildthecloud opened #13124 "support generating x(n)ip.io domains for ingress"
Give the ability for the user to specify that they would like an generated domain to use for there ingress rule.  This works around the fact that in development most apps do not have a DNS name to use.  This is only useful for development and production should provide a proper domain.  The x(n)ip domain will not be HA because it will point to a specific node which may go away.  Additionally this w

[2018-04-26 18:29] soumyalj commented on #12485
Tested with rke version v0.1.6-rc3. Created a 2.0 HA cluster(local cluster) using AWS hosts with master build
Cluster came up successfully. kubectl was functional. Another digital ocean cluster was created successfully too.

[2018-04-26 18:29] #12485 closed

[2018-04-26 18:32] StrongMonkey commented on #12972
@guangbochen not able to reproduce it. Can you retest?

[2018-04-26 18:33] deniseschannon commented on #13121
Duplicate/fix for https://github.com/rancher/rancher/issues/12849

[2018-04-26 18:33] #13121 closed

[2018-04-26 19:00] StrongMonkey commented on #13078
for aws, i think using different region would fail because `[network] Port check for ports: [172.20.0.153:2380, 172.20.0.153:2379] failed on host: [1.2.3.4]`  port check would fail.

[2018-04-26 19:10] tfiduccia commented on #12991
If the key is not required.  Then the red * should not be by the field name.

[2018-04-26 19:22] superseb opened #13126 "Mounting in only the cacerts.pem file should update cacerts value in API"
When only mounting in the cacerts file at `/etc/rancher/ssl/cacerts.pem` in the container, the `cacerts` value at `/v3/settings/cacerts` should be updated with the contents of that file.

Usecase for external termination and not having to update the API value manually.

[2018-04-26 19:26] ballerabdude opened #13127 "Add EC2 tags to nodes"
**Rancher versions:**
rancher/server or rancher/rancher: v2.0.0-beta4-rc4
rancher/agent or rancher/rancher-agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (V

[2018-04-26 19:27] galal-hussein commented on #13078
@StrongMonkey yes we do, if internal address is not set, then we use public address

[2018-04-26 19:27] superseb commented on #13127
Duplicate of https://github.com/rancher/rancher/issues/13069

[2018-04-26 19:27] #13127 closed

[2018-04-26 19:33] bmdepesa commented on #12768
Validated on rancher/rancher:master 4/26.

UI improvements are displayed correctly.

[2018-04-26 19:33] #12768 closed

[2018-04-26 19:39] armsby commented on #13003
I am having the same issue, I have a questions about the port requirements, the documentations says that the ports needs to be open on the master nodes and worker nodes, is that towards the management server or only between them self?

[2018-04-26 19:47] sangeethah commented on #13038
Tested with v2.0.0-rc1

Create a workload - santest1.
Create a workload - santest2.
Create Ingress with rule pointing to santest1.
Ingress routes traffic to pods of santest1 as expected.
Update Ingress and set the existing rule to point to santest2.

Ingress endpoints gets created for santest2 and there is no Ingress endpoints for santest1 anymore.
Works as expected.

[2018-04-26 19:47] #13038 closed

[2018-04-26 19:48] sangeethah commented on #13037
Tested with v2.0.0-rc1

Create a workload - santest1.
Create a workload - santest2.
Create Ingress with rule pointing to santest1.
Ingress routes traffic to pods of santest1 as expected.
Update Ingress and set the existing rule to point to santest2.
Ingress routes traffic to pods of santest2 as expected.

[2018-04-26 19:48] #13037 closed

[2018-04-26 20:15] scottadair opened #13128 "Setting up 2.0 Cluster, Can't Set Admin Password"
**Rancher versions:**
rancher 2.0rc1, deployed on RKE

Trying to setup the cluster, but can't set an admin password. Nothing jumps out in the logs

![image](https://user-images.githubusercontent.com/583279/39329639-f625d104-496c-11e8-9f4c-005d8b2e6e0b.png)

[2018-04-26 20:38] sangeethah opened #13129 "intermittent error seen when provisioning clusters - "Error from server (Forbidden)""
Steps to reproduce the problem:

Provisioning custom cluster with 2 control nodes/3 etcd and 3 worker nodes

When provisioning is still in progress , we see the following intermittent  error message shown:

 Waiting for API to be available; exit status 1, Error from server (Forbidden): error when retrieving current configuration of: &{0xc420720e40 0xc4205ff340 cattle-system management-state/tmp/ya

[2018-04-26 20:39] soumyalj opened #13130 "Rancher server crashed with FATAL error when EKS cluster was provisioned"
**Rancher versions:**
rancher/rancher:v2.0.0-rc1

**Steps to Reproduce:**
1. Create a EKS cluster
The cluster was created in AWS

<img width="857" alt="screen shot 2018-04-26 at 1 38 29 pm" src="https://user-images.githubusercontent.com/18536626/39330670-2da04ff8-4957-11e8-9704-f7272ff2ad39.png">

Rancher server crashed with the error below:
[code]

[2018-04-26 20:44] bmdepesa commented on #12859
Validated against rancher/rancher:master

Flush_interval appears to be working. Raised flush_interval value and logs appeared with a delay according to the value.

[2018-04-26 20:44] #12859 closed

[2018-04-26 20:56] tfiduccia commented on #13105
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 20:56] #13105 closed

[2018-04-26 20:57] bmdepesa commented on #12631
Validated against rancher/rancher:master 4/26

As container is using +UseCGroupMemoryLimitForHeap, checked that memory limit & request settings for pod are updated when updated through the UI.

[2018-04-26 20:57] #12631 closed

[2018-04-26 20:59] tfiduccia commented on #12843
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 20:59] #12843 closed

[2018-04-26 21:02] tfiduccia commented on #13009
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 21:02] #13009 closed

[2018-04-26 21:12] vincent99 commented on #2710
Evacuate was added a while ago..

[2018-04-26 21:12] #2710 closed

[2018-04-26 21:12] tfiduccia commented on #13119
Steps:
1.  Create a new project
2.  Go to workload for that project
3.  Add workload & click on "Add to a New Namespace"
4.  enter Default & try to Launch workload

REsults:  the Launch just spins and nothing gets created.  We should really do the check to make sure it's not a duplicate namespace and show the proper error.

[2018-04-26 21:15] vincent99 commented on #2484
This is not going to happen for 1.x, and 2.0 doesn't have metadata.

[2018-04-26 21:15] #2484 closed

[2018-04-26 21:37] tfiduccia commented on #13102
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 21:37] #13102 closed

[2018-04-26 21:41] bmdepesa commented on #12860
Validated on rancher/rancher:master 4/26.

This was an error with my syslog configuration.

[2018-04-26 21:41] #12860 closed

[2018-04-26 21:56] tfiduccia commented on #13090
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 21:56] #13090 closed

[2018-04-26 21:59] vincent99 commented on #2519
Admin -> Settings -> Advanced:

![image](https://user-images.githubusercontent.com/753917/39334157-656cb5f6-4962-11e8-8876-735b8f62423f.png)

[2018-04-26 21:59] #2519 closed

[2018-04-26 22:00] cjellick commented on #12622
@EricVS we put a fix into our AD integration for another user. I believe it may have been the same as your issue for users not working. If you have an opportunity, could you spin up `rancher/rancher:v2.0.0-rc1` to see if it resolves that issue:

WARNING: that image has not been fully QAd. It should only be used for testing this issue, not for actual fullblown use.

[2018-04-26 22:01] #2563 closed

[2018-04-26 22:02] #2590 closed

[2018-04-26 22:02] #2591 closed

[2018-04-26 22:04] soumyalj commented on #13053
Tested with rancher version v2.0.0-rc1. Created a eks cluster. The cluster comes up successfully.
Workloads also could be created.

[2018-04-26 22:04] #13053 closed

[2018-04-26 22:05] #2718 closed

[2018-04-26 22:05] soumyalj commented on #13091
Tested with rancher version v2.0.0-rc1. Created EKS cluster successfully. Did not see the server crash.

[2018-04-26 22:05] #13091 closed

[2018-04-26 22:08] #2769 closed

[2018-04-26 22:09] #2846 closed

[2018-04-26 22:12] #3105 closed

[2018-04-26 22:14] #3153 closed

[2018-04-26 22:28] superseb commented on #12777
Version: v2.0.0-rc1

Both Public and Internal address validate for IP-like formats.

[2018-04-26 22:28] #12777 closed

[2018-04-26 22:32] tfiduccia commented on #12914
@vincent99 - Not sure this is what we really want to do.  After you try to delete it brings up one of those popups saying you can't delete it.  Kinda makes it look like an error.

![image](https://user-images.githubusercontent.com/11514927/39335203-f016422c-4966-11e8-9b53-b5e80695e918.png)

Can you review and tell me if there is something else we can be doing?

[2018-04-26 22:42] vincent99 commented on #12914
I asked for it this way as the least-bad compromise.. the normal behavior of disabling button won't give you any information for why you can't delete it, and this at least preserves the ability to do bulk actions.

[2018-04-26 22:43] tfiduccia commented on #12914
Version - 2.0 master 4/24
Chatted with Vincent - Verified fixed.

[2018-04-26 22:43] #12914 closed

[2018-04-26 22:43] soumyalj opened #13139 "Creating cluster using private registry fails as kubelet fails to pull the image rancher/pause-amd64:3.0"
**Rancher versions:**
rancher/rancher:vv2.0.0-rc1

**Steps to Reproduce:**
1. Push all images to a private registry
2. Create a custom cluster using the private registry in UI

kubelet, kube-proxy and all the components get pulled from the registry successfully on the host. kubelet is running but fails to pull the rancher/pause-amd64:3.0 image from the private registry
kubelet does not have the in

[2018-04-26 23:04] soumyalj commented on #12697
This works on a 2.0 HA cluster

[2018-04-26 23:08] sangeethah commented on #12998
Tested with v2.0.0-rc1

Scenario 1:
When ingress ( and Service/Replication controller) is created using remote kubectl , When ingress gets synced to rancher-server , workload has public endpoints created as expected.

[code]
Scenario 2:

Deploy ingress via rancher UI and  make it point to the service ( by having the workload have a nodeport which results in service entry created for it).
Export th

[2018-04-26 23:08] #12998 closed

[2018-04-26 23:15] tfiduccia commented on #12778
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 23:15] #12778 closed

[2018-04-26 23:19] #12807 closed, assigned to tfiduccia

[2018-04-26 23:28] tfiduccia commented on #11118
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 23:28] #11118 closed

[2018-04-26 23:29] soumyalj commented on #12928
Tested with v2.0.0-rc1. Created a 2.0 HA cluster wit three nodes
N1: ALL roles
N2: Control
N3: Worker
HA cluster was created successfully. The nodes displayed the roles as expected
<img width="1307" alt="screen shot 2018-04-26 at 4 27 10 pm" src="https://user-images.githubusercontent.com/18536626/39336947-f7f7526c-496e-11e8-9879-83d8dd482ebb.png">

[2018-04-26 23:29] #12928 closed

[2018-04-26 23:41] tfiduccia commented on #13069
Version - 2.0 master 4/26
Verified fixed

[2018-04-26 23:49] CoericK commented on #7790
Im having the same issue not with certificates but with single tokens, im adding the secrets, attaching them to my service but the  /run/secrets directory is empty.

[2018-04-27 00:34] soumyalj opened #13141 "rancher/agent image not populated from private registry in custom command when API setting for private registry is set."
**Rancher versions:**
rancher/rancher:2.0.0.-rc1

**Steps to Reproduce:**
1. Setup a private registry with all the images required
2. Create a custom cluster using private registry

rancher/agent images are not pulled from the private registry
[code]

[2018-04-27 00:56] tfiduccia opened #13143 "ca cert info is bold text"
**Rancher versions:** 2.0 master 4/26

**Steps to Reproduce:**
1.  Go to Settings
2.  Show cacerts

**Results:**  ca cert info is in bold text?
![image](https://user-images.githubusercontent.com/11514927/39338952-0ac0eb5e-497b-11e8-9da7-fe0cfbf3bab3.png)

[2018-04-27 00:56] #13143 closed

[2018-04-27 01:25] deniseschannon commented on #13139
currently, we are not supporting being able to use private registries with credentials for RKE clusters. UI should remove that option.

instead, the setting of private registry should be used.

[2018-04-27 01:39] sangeethah opened #13144 "Extra endpoints get created incorrectly for workloads that are part of ingress that to which additional ingress rules are added."
**Rancher versions: ** v2.0.0-rc1
*Steps to Reproduce:**

Created a workload santest3
Created a workload santset4

Created ingress with 1 ingress rule pointing to santest3.
Endpoints get created on santest3 as expected.

Edit ingress and add another ingress rule pointing to santest4.

This results in additional endpoints to get created on santest3.

<img width="1297" alt="screen shot 2018-04-26 at

[2018-04-27 01:41] deniseschannon commented on #13069
Reopening as we should have a backend fix as well for docker-machine if users use API.

[2018-04-27 01:45] sangeethah commented on #12682
Tested with - v2.0.0-rc1

Now i see only "path" being presented for endpoint url text:

<img width="1300" alt="screen shot 2018-04-26 at 6 41 05 pm" src="https://user-images.githubusercontent.com/4266958/39340155-746f6250-4981-11e8-8ca0-f0798e3e7af5.png">

But we are not able to tell the difference between http and https now. Can this be addressed?

[2018-04-27 03:14] vincent99 commented on #12682
A) Why do you care?
B) Hover

[2018-04-27 03:26] sangeethah opened #13146 "Attempting to update Ingress-nginx daemon set , does not result in daemon set pods getting recreated."
Rancher server version -  v2.0.0-rc1
Create a rke cluster
Move ingress-nginx namespace into default project
Update nginx-ingress-controller workload and add a new environment variable .
This update does not result in existing pods getting destroyed and recreated.

[2018-04-27 03:26] sangeethah commented on #12951
Tested with v2.0.0-rc1

Create a rke cluster
move ingress-nginx namespace into default project
update nginx-ingress-controller workload and add a new environment variable .

After update call is done ,Both env var POD_NAME and POD_NAMESPACE continue to be present.

This issue is tracked in https://github.com/rancher/rancher/issues/13146

[2018-04-27 03:26] #12951 closed

[2018-04-27 03:29] #12682 closed

[2018-04-27 03:40] sangeethah commented on #12898
This issue is not seen when testing with v2.0.0-beta4.

[2018-04-27 03:40] #12898 closed

[2018-04-27 04:00] orangedeng commented on #13146
The nginx ingress controller daemon set use `updateStrategy:OnDelete`. It means only delete old pods will update configuration. looking for more information to know why.

[2018-04-27 04:04] orangedeng commented on #13146
It seems that standard nginx controller does not have the updateStrategy setting in its deployment. I think it is added by RKE. @galal-hussein Do you have any ideas?

[2018-04-27 04:16] guangbochen commented on #12865
verified fix on rancher/rancher:master 04.27, and close it.

[2018-04-27 04:16] #12865 closed

[2018-04-27 04:18] #12972 closed, assigned to guangbochen, StrongMonkey

[2018-04-27 05:33] sangeethah opened #13149 "Not able to launch container shell - stuck in "connecting" state"
**Rancher versions: Build from master - Apr 26
**Steps to Reproduce:**
Create a cluster with "Amazon Ec2" with provider set to "amazon" with 2 nodes ( having all roles).
Deploy workloads.

Try to exec into the container.
Sometimes I am able to get to the container shell.
But most of the time UI hangs in "connecting" state.

[2018-04-27 05:39] sangeethah opened #13150 "Service Discovery entries dont show up until manually refreshed,"
**Rancher versions: Build from master

**Steps to Reproduce:**

Create workload.
Go to "Service Discovery" tab.
Service entry created for this workload does not show up in the list unless UI is refreshed manually.

[2018-04-27 05:46] k0nstantinv commented on #13058
@dirkd great research! This issue undoubtedly should be closed

[2018-04-27 05:46] #13058 closed

[2018-04-27 07:03] baflo commented on #4347
Thanks you, @stszap, this made it work for me. However, it is even easier, now: Just add a service alias and select the original rancher server.

[2018-04-27 07:27] vimniky commented on #12868
@gtirloni Sorry for the late. It's really weird. I'd try to test it again on an imported cluster thanks!

[2018-04-27 07:49] vimniky commented on #12868
@gtirloni I have just tested it on an imported cluster and still can't reproduce this issue. I think it may be because you are on a Linux machine(I haven't used any fantasy stuff that can cause incompatible). I don't have a Linux machine at hand, can you visit your Rancher UI on Windows or Mac to see whether this issue still happens? Thanks!

[2018-04-27 07:50] danielbjornadal commented on #12863
Any update on this?
It looks to be working in Swarm, so it might be Cattle that is causing the problem.

[2018-04-27 08:27] gitlawr commented on #13068
Related Jenkins plugin code:
[code]

[2018-04-27 09:45] superseb opened #13153 "Make Rancher logo go to Global / main view"
If you quickly want to return to the Global view, you can use the logo.

[2018-04-27 09:53] Negashev opened #13154 "Can't set extra_hosts from UI"
**Rancher versions:**
rancher/server or rancher/rancher: 1.6.16
rancher/agent or rancher/rancher-agent: 1.2.10

**Infrastructure Stack versions:**
healthcheck: v0.3.6
ipsec: v0.13.11
network-services: metadata:v0.10.2 network-manager:v0.7.20
scheduler: v0.8.3
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)** 17.09.1-ce

**Operating system and kernel: (`cat

[2018-04-27 10:02] Toflar commented on #12281
`v2.0.0-beta4`

[2018-04-27 12:14] zommarin commented on #11897
There is a way to downgrade Docker on CoreOS, but you will get a old version (1.12).

See: https://coreos.com/blog/toward-docker-17-in-container-linux

[2018-04-27 12:50] superseb opened #13155 "Projects/namespaces listers are presenting the other way around"
Version: 2.0.0-rc1

Go to `Projects/Namespaces` and use the listers to present data differently, Grouped Projects/Namespaces and List Namespaces.

Result: Grouped Projects/Namespaces shows List Namespaces and List Namespaces shows Grouped Projects/Namespaces

[2018-04-27 13:03] loganhz commented on #11245
Hi @tfiduccia , do you still see this issue in current version? I can not recreate this issue.

[2018-04-27 13:13] IlyaIvanov78 opened #13156 "Add certificate error"
Tried to add a certificate
Got an error:
Private Key is invalid. Please make sure it is a RSA key.
Certificate is invalid.

The same key and the certificate added successfully in Rancher 1.6
---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.0-beta4` UI: `v2.0.38` |
|Access|`local` `admin`|
|Route|`authenticated.cluster.index`|

[2018-04-27 13:14] superseb opened #13157 "Added worker node doesn't run cloud-config-deployer"
Version: v2.0.0-rc1

- Create cluster with cloud provider configured
- Add node with etcd + control (gets cloud-config-deployer and comes up fine)
- Add node with worker

Results:

kubelet won't start, because it does not run cloud-config-deployer

[code]

Work around:
```touch /etc/kubernetes/cloud-config.json && docker restart kubelet```

[2018-04-27 14:07] kingsd041 opened #13158 "Catalog automatically converts a numbered string into number instead of keeping it as string"
**Rancher versions:**
rancher/server or rancher/rancher:  master 04/27

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.4 LTS  4.4.0-1052-aws
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**Environment Template: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**St

[2018-04-27 14:18] kingsd041 opened #13159 "Delete the catalog app, the corresponding namespace is not deleted in kubernetes"
**Rancher versions:**  master 04/27

**Docker version: (`docker version`,`docker info` preferred)** 17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** Ubuntu 16.04.4 LTS 4.4.0-1052-aws

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** AWS

**Steps to Reproduce:**
1. Launch a MySQL Charts from the library
2. Delete MySQL in catalog apps
**Result

[2018-04-27 14:27] kingsd041 opened #13160 "Unable to view upgrade status when upgrading charts"
**Rancher versions:** master 04/27

**Docker version: (`docker version`,`docker info` preferred)**  17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**  Ubuntu 16.04.4 LTS 4.4.0-1052-aws

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**  AWS

When I upgraded the chart in catalog apps, I couldn’t see the real-time status of the chart.
The status

[2018-04-27 15:52] vincent99 commented on #13153
No.

[2018-04-27 16:28] kfiles opened #13162 "Update default args for kube system components on cluster creation"
**Rancher versions:**
rancher/server 2.0rc1

**Infrastructure Stack versions:**
kubernetes: 1.10.1

**Docker version: **
18.03.1

**Operating system and kernel: **
boot2docker, kernel 4.9.93

**Type/provider of hosts: **
VirtualBox

**Setup details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single master, single worker node

**Environment Template: (Cattle/Kubernetes/Swar

[2018-04-27 17:23] deniseschannon commented on #13069
This should be tested in the API or CLI as the UI is working but we need to confirm it still works with API and *not* explicitly setting any tags.

[2018-04-27 17:41] deniseschannon commented on #13124
To test without the UI fixes, when you create an ingress rule, in the hostname just put in `xip.io`.

[2018-04-27 18:27] deniseschannon commented on #11245
@tfiduccia can you try reproducing?

[2018-04-27 18:30] deniseschannon commented on #12052
@tfiduccia i only see one now.

[2018-04-27 18:42] deniseschannon commented on #12755
UI now shows note that we won't delete PVs or Load Balancers

[2018-04-27 18:46] deniseschannon commented on #13139
in v2.0.0-rc2, this setting should be removed.

[2018-04-27 18:59] soumyalj commented on #11367
Created a private registry and used the steps above to push the images. Creating a cluster using private registry images was successful. Workload creation was also ok.

[2018-04-27 19:07] soumyalj commented on #11990
Used v2.0.0-rc1. Created a private registry pushed the images required for cluster creation into the registry. Creating a cluster using private registry images was successful. Workload creation was also ok.

[2018-04-27 19:07] #11990 closed

[2018-04-27 19:08] sangeethah commented on #13069
Tested with latest build from master
Able to create a cluster successfully using  "Amazon EC2" setting provider to "Amazon" (having iamInstanceProfile set in the node template) with following configurations:

1. node1 - control
2. node2 - etcd
3.node3 - worker.

All nodes (including worker) get to "active" state.
Able to deploy workloads successfully.
Able to create LB (L4 Balancer) successfully f

[2018-04-27 19:08] #13069 closed

[2018-04-27 19:08] sangeethah commented on #13157
Tested with latest build from master
Able to create a cluster successfully using  "Amazon EC2" setting provider to "Amazon" (having iamInstanceProfile set in the node template) with following configurations:

1. node1 - control
2. node2 - etcd
3.node3 - worker.

All nodes (including worker) get to "active" state.

Able to deploy workloads successfully.
Able to create LB (L4 Balancer) successfully

[2018-04-27 19:08] #13157 closed

[2018-04-27 19:31] galal-hussein opened #13165 "Support for extra args and extra binds in UI"
Currently there is no way in the UI to add extra_args and extra_binds to cluster service configuration, is there a way to pass these options to the services on starting a new cluster

[2018-04-27 19:33] superseb commented on #13165
Duplicate of https://github.com/rancher/rancher/issues/13076, I'll add the extra binds

[2018-04-27 19:33] #13165 closed

[2018-04-27 20:06] cloudnautique opened #13167 "Can't edit cluster if both cluster and Rancher server go down"
Rancher 2.0-x
If both the cluster and Rancher server go down at the same time, and then Rancher server comes back up first. The detection logic for the cluster doesn't get run, and the UI isn't able to determine that it should not communicate with the cluster endpoint.

Reproduce:

1. Launch rancher/rancher
2. import or create a cluster
3. change IP of server (Go from office to home on a laptop)
4

[2018-04-27 20:12] vincent99 commented on #12642
I'm guessing your laptop was closed, then session expiry timer hit, laptop opened and the logout trigger fired before the network is up.

[2018-04-27 20:13] sangeethah opened #13169 "Endpoint ipaddress has etcd node's ipaddress for ingress and nodeport endpoints."
**Rancher versions: Build from master
**Steps to Reproduce:**

Create a workload with nodeport.
Create a ingress pointing to a workload.

In both cases , we see the endpoint created has ipaddress set to etcd node's ipaddress.

[2018-04-27 20:14] soumyalj opened #13170 "Panic after adding a node to a custom cluster"
**Rancher versions:**
rancher/rancher:2.0.0.-rc1

**Steps to Reproduce:**
1. Create a custom cluster using private registry
2. After the cluster comes up, add another custom node with all roles(control, etcd, worker)

Server crashes with the below panic:
[code]

[2018-04-27 20:33] sangeethah commented on #12912
Tested with master build - ```91a916874851        rancher/rancher:master ```

Able to reproduce this issue.

[2018-04-27 20:35] tfiduccia commented on #11245
Version - 2.0 master 4/27
I can no longer reproduce.

[2018-04-27 20:35] #11245 closed

[2018-04-27 20:35] ts-mini commented on #13128
You didn't include a full screenshot - but I've only seen this error if you're not connect w/ https.

[2018-04-27 20:53] tfiduccia commented on #12990
Version - 2.0 master 4/27
Verified fixed

[2018-04-27 20:53] #12990 closed

[2018-04-27 21:02] soumyalj commented on #13141
Tested with master. The custom command when API is set for private registry reflects the private registry as below

[code]

[2018-04-27 21:02] #13141 closed

[2018-04-27 21:24] adingilloRancher opened #13171 "Custom Cluster: Worker nodes not deleting properly."
Rancher Version:
Master 4/27/18

Steps:
Create a custom cluster, with at least one node with only the worker role.
Delete the node via UI from the cluster.

Results:
Node is still listed within the cluster.
Workloads attempt to create pods on deleted nodes.

![screen shot 2018-04-27 at 2 22 38 pm](https://user-images.githubusercontent.com/38012481/39385721-7cae7690-4a26-11e8-98fc-9849218fd0ee.png)

[2018-04-27 21:33] sangeethah commented on #12532
Tested with latest build from mater.

This issue is not seen anymore.

[2018-04-27 21:35] #12642 closed

[2018-04-27 21:45] tfiduccia commented on #12052
Version - 2.0 master 4/27
Verified fixed

[2018-04-27 21:45] #12052 closed

[2018-04-27 21:48] tfiduccia commented on #12890
Version - 2.0 master 4/27
Verified fixed

[2018-04-27 21:48] #12890 closed

[2018-04-27 21:49] bmdepesa commented on #13068
Validated on rancher/rancher:master 4/27.

I was able to see the full execution log for the jenkins job.

[2018-04-27 21:49] #13068 closed

[2018-04-27 21:51] sangeethah commented on #13129
Tested with latest build from master ```91a916874851        rancher/rancher:master ```
I saw this intermediate error message show up when provisoning a 1 node cluster.

[2018-04-27 21:52] tfiduccia commented on #12756
Version -  2.0 master 4/27
Verified fixed

[2018-04-27 21:52] #12756 closed

[2018-04-27 22:02] #13153 closed

[2018-04-27 22:14] bmdepesa commented on #12923
Tested against rancher/rancher:2.0.0-rc2

Not working.

Created a DNS record 'externalhost' of type `hostname` to `google.com`
Created a DNS record 'hostalias' of type `alias` to first record 'externalhost'.
Ping/dig  'hostalias' (ping hostalias, dig hostalias.default.svc.cluster.local +short) - Should resolve to google.com, but does not resolve to anything.