[2019-01-07 23:08] soumyalj commented on #16867
Tested Rancher v1.6.26-rc1/master with RHEL 7.6 for below configurations:
1. Native Docker 1.13 with Selinux enabled
2. Upstream Docker 1.13 with Selinux disabled

Automation test runs were fine no new issues.

[2019-01-07 23:08] #16867 closed

[2019-01-07 23:11] davidnuzik commented on #16818
Version: Master 2.2 (1/7/19)
There is now a horizontal scroll bar for situations where there is very long user or group names.
![image](https://user-images.githubusercontent.com/45179589/50798804-d9cd1000-1296-11e9-9b7f-e92f09e36b80.png)

[2019-01-07 23:11] #16818 closed

[2019-01-07 23:16] davidnuzik opened #17335 "When adding a user to a cluster it is not shown on members page"
Version: master 2.2 (1/7/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Try to add a user to a cluster

**Result:**
Notice that when you do there are still no members listed on the cluster Members page:
![image](https://user-images.githubusercontent.com/45179589/50798935-5829b200-1297-11e9-91e5-31

[2019-01-07 23:24] sangeethah opened #17336 "hostPort not functional when testing Network Provider is set to "weave"."
Rancher server version - Build from master - Jan 4

Steps to reproduce the problem:
Create a cluster with  Network Provider is set to "weave".
Create a workload with "portmapping" set to "hostPort".
Once the workload is deployed , clicking on endpoint URL is not functional.

comments from @galal-hussein:
it turned out that weave 2.1.2 doesn't support hostPort
the latest version does though 2.5.0

[2019-01-08 00:17] soumyalj commented on #12111
Reproduced the issue with Rancher 1.6.17 with K8s 1.9.5-rancher1-3.
Voyager operator fails to start with the below error:
[code]

[2019-01-08 00:42] #12111 closed

[2019-01-08 00:58] soumyalj commented on #14600
Tested with rancher/server:v1.6.26-rc1 and k8s 1.11.6.
Created a K8s setup with RHEL 7.6 and native Docker 1.13.1.
All the nodes had the internal and external IP addresses intact. Example below:
[code]
Automation runs were successful on this setup.

[2019-01-08 00:58] #14600 closed

[2019-01-08 00:58] sangeethah commented on #16995
@alena1108 I am not able to reproduce this issue with the following steps .

In Cattle environment,
1. Create a secret.
2. Create a Stack.
3. Deploy a service using the above created secret in step1.
4. Delete secret created in step1.
5. Try to export or view config of stack.

I dont see any errors being reported in the rancher server logs.
Are these correct steps ?

[2019-01-08 01:22] sangeethah commented on #12924
Tested with rancher/server:v1.6.26-rc1 and rancher cli version - rancher-v0.6.13-rc1
[code]

[2019-01-08 03:19] happyyangyuan opened #17337 "Restrict rancher pipeline internal jenkins and jenkins slave pod to run in specified nodes"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Steps to reproduce (least amount of steps as possible):**
Currently there are several nodes distributed in 2 cities in our k8s cluster and we need to specify jenkins to run in the nodes in the specified city.

**Result:**
But currently we can not configure rancher to specify which nodes jenkins slave po

[2019-01-08 05:06] gitlawr opened #17338 "Deploy workload failed: statefulSetConfig could not be found"
**Rancher Version:** master 1/8

**Steps to reproduce:**
1. provision a gke cluster
2. In default project, deploy a workload.
3. input workload name, use `nginx` image, leave the rest configs default.

**Result:**
Get Error `Property set failed: object in path "statefulSetConfig" could not be found or was destroyed.` in the UI.
![image](https://user-images.githubusercontent.com/5697937/50810653-aa

[2019-01-08 05:43] inductor commented on #17081
Hi any update on this issue? :)
We'd love to use EKS with Tokyo region!

[2019-01-08 05:45] Fufuhu commented on #17081
@superseb
 I've waited for so long to use EKS with Rancher at Tokyo region.

[2019-01-08 06:04] orangedeng commented on #17334
It seems like this issue cause the problem https://github.com/rancher/rancher/issues/14592.

function `updateClusterAnnotationandCondition` wait too long to update cluster condition `ClusterConditionInitialRolesPopulated`.

[2019-01-08 06:57] johnrkriter commented on #17081
I have someone looking to update the code as an external PR, but we are first time contributors and the structure for how this data is served to the UI as an option and how the templates for EKS are used have eluded us for the last 3 days since we discovered the issue

[2019-01-08 07:50] Torrent007 commented on #17293
Any update on this case ? :)

[2019-01-08 08:22] rchench commented on #16022
I met the similar issue. In addition, I also figured out following issue with this.

1. after creation of the namespace, I cannot remove it
[code]

2. I can move the namespace to the project I own and then delete it.

3. If I have view permission to other projects or view permission to namespaces, I can also move namespaces from other projects to my project, and then delete them. This is a serious

[2019-01-08 08:55] michalswi commented on #17316
@vincent99, do you mean reservations related to VM resources?
There was already created issue related to quotas:
https://github.com/rancher/rancher/issues/16746
Closed without comments.

[2019-01-08 09:03] vincent99 commented on #17316
No;  As I said above if you turn on a project quota for some resource (like CPU) then _every_ workload in the namespaces of that project must specify their reservation of that resource they want.  Quotas are a _scheduling_ construct, not realtime enforcement of the utilization.  So they only way they can control how much is used is to not allow the scheduling of new pods that will exceed the avail

[2019-01-08 09:05] orangedeng commented on #17334
@loganhz @cjellick I am testing this issue and It seems an UI problem. After I create a new cluster, I get `InitialRolesPopulated` condition in WS response already. It should not pop up a timeout error `Failed while: Wait for Condition: InitialRolesPopulated: True`.
<img width="1110" alt="2019-01-08 5 03 04" src="https://user-images.githubusercontent.com/15376837/50820417-8d053a00-1367-11e9-9207-5

[2019-01-08 09:20] ChrisMcKee commented on #17081
@johnrkriter I'd assume its fed from the "kontainer" project https://github.com/rancher/kontainer-engine/blob/1a64367368737271557abdac38b7582f689f78f6/drivers/eks/eks_driver.go and they need to map the amis to use (not sure how that bit works with eks tbh)

[2019-01-08 10:03] thxCode commented on #17256
@zidex , `kubernetes.io/no-provisioner` should never create a subpath dir: `/prometheus` for you, this volume mechanism is managed by Prometheus Operator, you can check the `spec` of deployed Prometheus StatefulSet.

Back to the actual problem, as you can see on https://github.com/coreos/prometheus-operator/issues/830#issuecomment-379163035, it causes by the Storage Provisioner which doesn't or ca

[2019-01-08 10:07] loganhz commented on #17334
@orangedeng Thanks for the investigation
It will be fixed in https://github.com/rancher/ui/pull/2557

[2019-01-08 10:09] michalswi commented on #17316
Got it. It works if Pod has specified limits and requests. I thought that if you don't specify resources in pod(.yml file) it will take defaults one using LimitRange. Problem solved. Sorry for inconvenience.
[code]

[2019-01-08 10:09] #17316 closed

[2019-01-08 12:05] gillarda commented on #12186
As other users suggested, this feature would be very appreciated in environments where multiple administrators manage clusters for various teams or customers.

[2019-01-08 13:15] Angelinsky7 commented on #7425
Hi, i have the same issue and with almost the same config as @Joeskyyy (without the proxypass to a balancer)

[code]

[2019-01-08 13:28] superseb opened #17339 "Update rke-tools NGINX to latest stable"
**What kind of request is this (question/bug/enhancement/feature request):**
Update NGINX in rke-tools image to latest stable (currently 1.14.2)

[2019-01-08 14:07] altairo2087 commented on #17297
upd: Always works when i create "Persistent Volume" "Local Node Path" with option "A directory, or create if if does not exist". Not work with "An existing directory".

[2019-01-08 14:56] ekristen commented on #17331
@thxCode appreciate the comments.

Actually it doesn't need host IP, it just needs an IP, a cluster IP would work as well, but additional work would be required to attribute the cluster IP back to the correct node.

From the Prometheus Library entry you cannot disable node-exporter or changes it's port from the questions alone, but you can do so by manually modifying and providing the correct over

[2019-01-08 14:57] loganhz opened #17340 "Support update prometheus config in enable monitoring page"
rancher/rancher:master 1/8

After enabled monitoring, user cannot update the options in enable page. Users have to go to the catalog app page to update it.

We should let user to update the config in enable monitoring page.

It came from https://github.com/rancher/rancher/issues/17306#issuecomment-451553868

[2019-01-08 15:00] loganhz commented on #17306
Backend doesn't support update monitoring options via monitoring API.
As a short term solution, I have added the link to editing monitoring app page.
Created a new issue to track it https://github.com/rancher/rancher/issues/17340

[2019-01-08 15:38] woodne opened #17341 "kubelet wont start on windows"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Boot a windows instance running windows server 1803, join to a rancher 2.1 cluster using the custom cluster join command. See the kubelet logs in c:\var\log\rancher

**Result:**
output from agent:
[code]
and the kubelet logs:
[code]

**Other details that may

[2019-01-08 15:46] alemsh opened #17342 "Rancher UI inaccessible after HA install"
**What kind of request is this (question/bug/enhancement/feature request):**

Question/Bug

**Steps to reproduce (least amount of steps as possible):**

Install Rancher 2.1.5 HA cluster with 3 control plane/etcd node and 4 workers which are running RancherOS 2.1.5, and 1 external load balancer running NGINX

After installing Rancher nodes with helm and using Rancher generated certs with cert-manag

[2019-01-08 15:48] superseb commented on #16449
Closing as inactive, there is a follow up for hosting on HTTP and debug steps are in this issue.

[2019-01-08 15:48] #16449 closed

[2019-01-08 16:04] Angelinsky7 commented on #7425
After some research i can say that's it doesn't seem the rancher fault, if i directly connect (with kubectl) to the rancher server (@ https://docker.internal:443) the exec command is working. (i cannot make the 8080 connection directly works, i have a redirect on the https://*:8443 ports)
So now, my question: what is the correct configuration for an apache reverse proxy to make this work ?
Where c

[2019-01-08 16:40] davidnuzik commented on #17333
Version: master 2.2 (1/8/19)
Confirmed fixed. I can no longer reproduce the issue where 0 nodes show up on the Clusters page list. I tried numerous providers and all are working.

[2019-01-08 16:40] #17333 closed

[2019-01-08 16:42] davidnuzik commented on #17335
Version: master 2.2 (1/8/19)
Confirmed fixed. I can no longer reproduce this issue. I validated HTTP/API.

[2019-01-08 16:42] #17335 closed

[2019-01-08 16:53] davidnuzik commented on #17334
Version: master 2.2 (1/8/19)
Confirmed fix. I am no longer able to reproduce this issue. I tried most of the providers and all are working without any issues. Validated HTTP.

[2019-01-08 16:53] #17334 closed

[2019-01-08 16:57] davidnuzik opened #17343 "Unable to deploy any workload"
Version: master 2.2 (1/8/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create any cluster then attempt to create any kind of workload

**Result:**
The UI reports an error when you try to create any type of workload:
`Property set failed: object in path "statefulSetConfig" could not be found or wa

[2019-01-08 17:07] erikwilson commented on #16486
The related rancher PR has been merged @westlywright

ClusterSpec has been updated to include `EnableClusterAuth`, `ClusterEndpointFQDN`, and `ClusterEndpointFQDNCaCert`. (also see https://github.com/rancher/types/pull/614/commits/c128e6a06ec73f992b8038d1e91a41ae4804cc21#diff-fb6a90b273f7a0747ca4791359846dbd)

`EnableClusterAuth` should only be available for RKE clusters at the moment, when enable

[2019-01-08 17:07] davidnuzik commented on #16679
@loganhz could you put a space after the full name and before the username? See this screenshot there is no space before the (
![image](https://user-images.githubusercontent.com/45179589/50846758-29f6b180-132d-11e9-991b-6c2eef752583.png)

[2019-01-08 17:18] davidnuzik commented on #15961
Version: master 2.2 (1/8/19)
Confirmed search is still functioning correctly. I was not able to reproduce the issue.

I spent time trying to reproduce, change the speed of typing, faster than 250ms per char and less, etc. Enter partial searches and then add a letter that should refresh search. In every situation the search was working correctly for me. I monitored HTTP traffic and saw the UI appro

[2019-01-08 17:18] #15961 closed

[2019-01-08 17:45] alena1108 commented on #16014
@galal-hussein check of what alternative provider would make sense to add (cloudFlare?)

[2019-01-08 17:54] pensiero commented on #16624
Thanks for the workaround. While the version 2.2 is released, I tried and I get the following error while building the image:
[code]

any idea how to fix it? thanks

[2019-01-08 17:58] jiaqiluo opened #17344 "Hide controller manager and scheduler for AKS cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

Due to an upstream bug in K8s, the AKS cluster shows the `controller manager` and `scheduler` unhealthy forever. But the AKS cluster still works without problems, so it will be great if we can hide those two items from UI.
<img width="1486" alt="screenshot" src="https://user-images.githubusercontent.com/62189

[2019-01-08 17:59] davidnuzik commented on #15889
Version: master 2.2 (1/8/19)
Confirmed enhancement. There is now a cancel button for all of the auth providers. This works for each including even if you are halfway done filling in info, or had not completed required fields. The Save button is now an "Authenticate with XYS" button as well. This appears to be functioning correctly. I have tested with a few providers (fully set up) without any issu

[2019-01-08 17:59] #15889 closed

[2019-01-08 18:03] janeczku commented on #14337
Related/Depends #889043

[2019-01-08 18:05] vincent99 commented on #17344
Do these ever really have meaning for the hosted providers?  I'd probably rather there be a capability entry for something like `usefulComponentStatuses` managed by the backend instead of the UI hardcoding behavior for AKS.

[2019-01-08 18:07] alemsh commented on #17342
Problem was with external NGINX load balancer. Upstream definitions were incorrect.

[2019-01-08 18:07] #17342 closed

[2019-01-08 18:16] janeczku commented on #12038
v2.1.3: global admin is unable to edit a cluster created by a standard user (using a node template).

[2019-01-08 18:22] alena1108 commented on #17092
@chrigi

For the server becoming unavailable, could you get the logs from the following containers:

* service-sidekick
* kubernetes api server container

We couldn't reproduce issue on our side, so need to figure out what's going on on your setup.

[2019-01-08 18:31] davidnuzik commented on #15101
@westlywright I'm not able to get step #1 of validation to work I tried the https://github.com/rancher/kontainer-engine-example-driver/releases/download/v0.1.0/kontainer-engine-example-driver-linux URL. A new release happened so changed that to v0.2.0 and still no joy. UI will stay in "Downloading" state and in the rancher server container logs I see a backend issue in the KontainerDriverControlle

[2019-01-08 18:50] aemneina opened #17345 "AWS Security Group ELB Limit rancher 2.x"
What kind of request is this (question/bug/enhancement/feature request): Feature Request

Steps to reproduce (least amount of steps as possible):

Create > 50 inbound rules per security group using rancher v1.6.21 ec2

Result:

Limit is reached, not able to create more rules.

[2019-01-08 19:03] materemias opened #17346 "Cannot set `true` via yaml or key-value editor for catalog apps."
I failed to set any of my Catalog deployment’s affinity via yaml…
If I use
[code]
I always get
[code]

The issue is with the `true` statement in values, but I cannot get how to provide it correctly so that it gets accepted.
I am aware rancher uses `--set` to assign helm values.

**What kind of request is this (question/bug/enhancement/feature request):**
Bug (or lack of information)

**Steps to re

[2019-01-08 19:18] moelsayed commented on #13688
@sangeethah @westlywright All the API components are in master now. UI is up.

[2019-01-08 19:23] patrick0057 commented on #16825
I am currently waiting for more information on this issue from our customer.  I'll update again once I receive a reply.

[2019-01-08 19:35] aemneina commented on #16821
replacing with: https://github.com/rancher/rancher/issues/17345

[2019-01-08 19:35] #16821 closed

[2019-01-08 19:35] soumyalj commented on #15729
Tested with rancher v1.6.26-rc1.
In the Network services template, we do see a field for ARP sync interval and it is configurable:
<img width="401" alt="screen shot 2019-01-08 at 11 26 12 am" src="https://user-images.githubusercontent.com/18536626/50853833-43512b00-1338-11e9-9922-1b37c6cc3c01.png">

The ARP sync interval was changed to a different value and it was updated accordingly and the setup

[2019-01-08 19:35] #15729 closed

[2019-01-08 21:27] erikwilson opened #17348 "Failing cluster-auth-token tests"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Build fails randomly on Drone (https://drone8.rancher.io/rancher/rancher/5514/3)

**Result:**
[code]

[2019-01-08 21:40] erikwilson opened #17349 "Failing app tests"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Build fails randomly on Drone

**Result:**
https://drone8.rancher.io/rancher/rancher/5516/3:
[code]
https://drone8.rancher.io/rancher/rancher/5529/3:
[code]

[2019-01-08 22:02] lvuch commented on #16732
https://github.com/rancher/ui/pull/2559

[2019-01-08 23:12] lvuch commented on #17133
https://github.com/rancher/ui/pull/2559

[2019-01-08 23:19] erikwilson commented on #15444
This probably also needs a small change to the UI translation files, to add the nodeDriver displayName of cloudca as `Cloud.ca`

[2019-01-08 23:39] gitlawr commented on #10524
Steps to reproduce:
1. Create a stack.
2. Add a service with name=`ngx1`, image=`someprivate/nginx`, command=`nginx -g "daemon off; env test=1;"`, label=`test=true`
3. Add a service with name=`ngx2`, image=`someprivate/nginx`, command=`nginx -g "daemon off; env test=2;"`, label=`test=true`
4. Add a webhook to upgrade services with selector `test=true`, tag `latest`
5. push an image to `someprivate

[2019-01-08 23:57] davidnuzik commented on #17199
Version: master 2.2 (1/8/19)
Confirmed fixed. I was not able to reproduce the issue. My cluster member had custom permissions set and I ensured I did not have permission to view secrets. When I create a workload that mounts a volume by using a secret I am able to view the console without any issues. I didn't not identify any other UI issues as well nor did I find any issues in the browser console.

[2019-01-08 23:57] #17199 closed

[2019-01-08 23:58] davidnuzik commented on #17343
Version: master 2.2 (1/8/19)
I am able to create workloads now. I smoke tested this area, create ingress, etc and could not identify any issues. Validated HTTP and API.

[2019-01-08 23:58] #17343 closed

[2019-01-08 23:58] davidnuzik commented on #17338
This issue is resolved and confirmed fixed in latest master see #17343 for notes.

[2019-01-08 23:58] #17338 closed

[2019-01-09 01:04] alena1108 commented on #17317
@westlywright can you confirm that the issue is no longer present, and close the issue if so?

[2019-01-09 01:06] alena1108 commented on #16391
@bmdepesa @sangeethah can you confirm that this issue happens on master branch

[2019-01-09 03:05] soumyalj commented on #16212
Reproduced the issue in v1.6.25 . After creating a loadbalancer in the K8s setup, ELB's security group was added to the instance's security group.

Created k8s environment with AWS cloud provider by adding the below in `Kubernetes cloud provider config` file content
[code]
Created load balancer service and observed that the ELB's security group was not added to the instance's security group

[2019-01-09 03:36] zengcul opened #17352 "2.x rancher api doc for websocket"
2.x rancher api doc for websocket

[2019-01-09 03:37] rootwuj opened #17353 "Alert Group - Slider sync sliding of multiple Alert Rules"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

1. Add an alert group and add multiple alert rules
2. Select workload
3. Drag the slider

**Result:**

Slider slides synchronously

<img width="1279" alt="slider" src="https://user-images.githubusercontent.com/42061003/50875326-d22a7a00-1402-11e9-8ba4-b0999

[2019-01-09 03:44] #16212 closed

[2019-01-09 03:50] loganhz commented on #17352
Yes, it supports websocket. We don't have the API doc yet. If you want to find out how to use shell and log via websocket.

Please check the following code or look at the kubernetes API doc directly. We are using native k8s API for shell and log.

https://github.com/rancher/ui/blob/master/app/components/container-logs/component.js#L151
https://github.com/rancher/ui/blob/master/lib/shared/addon/com

[2019-01-09 04:00] zengcul commented on #17352
the other api like /v3/project/clusterid:xxxx/workflows/  can not support websocket,  so I must use interval in js to get the latest workflows status ?

[2019-01-09 04:05] loganhz commented on #17352
It supports resource status update via ws.

There are 3 kinds of ws for resource update

`/v3/subscribe` for global level menu such as users list and clusters list

`/v3/clusters/${cluster-id}/subscribe` for cluster level menu such as nodes list, members and projects.

`/v3/projects/${project-id}/subscribe` for project level menu such as workload list and catalog app.

[2019-01-09 04:10] zengcul commented on #17352
so kind of you 呜呜呜 .

should I use access_key and access_secret in HTTP header, like Authorization: Bearer <token_string> ?  It is hard to find use doc .   wuwuwu

[2019-01-09 07:59] loganhz commented on #16967
`kubectl describe clusterrole view`
![image](https://user-images.githubusercontent.com/21168270/50884926-3bbc7f80-1427-11e9-829f-a8b39a664273.png)

`kubectl describe clusterrole edit`
![image](https://user-images.githubusercontent.com/21168270/50884963-55f65d80-1427-11e9-94e3-60eab906c1ee.png)

The base role of read-only is the default kubernetes role view. `services/proxy` is not in the role.

[2019-01-09 08:39] materemias commented on #17346
some further points I found out: if I write
[code]
the validation will succeed, so it is definitely the `true` value passed in the wrong way (as string).
According to the [helm documentation](https://github.com/helm/helm/blob/master/docs/using_helm.md#the-format-and-limitations-of---set)

to problem maybe lies with the automatic quoting of "true". We need a way to define a 'real' true..

[2019-01-09 08:56] sorx00 commented on #17157
It seems that the problem is incorrect database settings. Now it works properly after MariaDB reinstalling.
Will try to analyze configuration files and find broken options.

[2019-01-09 08:57] bdue opened #17354 "pipeline: The difference between the request time and the server's time is too large."
**What kind of request is this (question/bug/enhancement/feature request):**
Issue when running new or existing pipelines

**Steps to reproduce (least amount of steps as possible):**
Any pipline, new or existing in different namespaces/projects are all exhibiting exact the same issue.
Create a pipeline
Run it/triger it
**Result:**
I see the message when executing the pipeline, after 5/6 seconds th

[2019-01-09 09:20] Angelinsky7 commented on #14328
Hi, i've got the same issue with an apache reverse proxy, everything is working correctly into the ui but if i try to call exec with kubectl the "Upgrade request required" appears

[code]

After some research i can say that's it doesn't seem the rancher fault, if i directly connect (with kubectl) to the rancher server (@ https://docker.internal:443) the exec command is working. (i cannot make the

[2019-01-09 09:42] nav-nith commented on #3412
Any update on the Canary deployments of services?
Is this supported in 2.0 Rancher?

[2019-01-09 09:43] gitlawr opened #17355 "Panic when updating a GKE cluster"
**Rancher version**
master 1/9

**Steps to reproduce:**
1. provision a gke cluster with one node, use the default configs for the rest.
2. After the cluster is healthy, edit it.
3. set node count to 2, click save.

**Result:**
Errors in Rancher server logs:
[code]

[2019-01-09 09:48] wuchencm opened #17356 "The ingress is Initializing for long time when i add the new ingress rule"
![image](https://user-images.githubusercontent.com/14210543/50891067-77127a80-1436-11e9-8a0c-491d5b12d02f.png)
rancher server log:
![image](https://user-images.githubusercontent.com/14210543/50891176-af19bd80-1436-11e9-982d-6d520b08f0f0.png)

![image](https://user-images.githubusercontent.com/14210543/50891550-7f1eea00-1437-11e9-9533-104d8e83c77b.png)

---
| Useful | Info |
| :-- | :-- |
|Versions

[2019-01-09 10:42] thiagosantosleite commented on #17240
Hi....

What should I change to make my clusters nodes tagged with the correct cluster id?
Any ideas?

[2019-01-09 14:00] woodne commented on #17341
@thxCode this was on kubernetes 1.12.4. It appears that flag was removed from the kubelet, but it worked on 1.11.6.

[2019-01-09 14:38] aiwantaozi opened #17358 "Add audit log for login"
Now audit log will not log the request under /v3-public, login request is under that path, so we don't have user login log now

gz#7326

[2019-01-09 15:10] aiwantaozi commented on #17358
From mar:
fwiw and imho, we should not need to log authN unless it is by a local user. When using external auth providers, users don’t login to rancher, they login to the external auth provider. Multiple prospects have brought this up but the reality is that their AuthN system already logs this information and this is the handoff point to ours. everything after that point is logged as it should be

[2019-01-09 16:52] aiwantaozi commented on #15663
@n313893254 Backend support groupWait, groupInterval, repeatInterval for alert rule and alert group now, UI just support config them in group, could you also support for rule level?

[2019-01-09 17:02] mr-rodgers opened #17360 "Setting network config with cloudinit has no effect on vSphere Node Template"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug / Question

**Steps to reproduce (least amount of steps as possible):**
1. Using the vSphere node template, supply a cloudconfig that's similar:
[code]

**Result:**
According to the docs here, this should work: https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/#instance-opti

[2019-01-09 17:38] westlywright commented on #17314
@gitlawr or @loganhz can you add some QA how to test text?

[2019-01-09 17:40] westlywright commented on #15574
@loganhz can you add some QA how to test text?

[2019-01-09 17:40] mr-rodgers commented on #17360
I was missing this `#cloud-config` at the start of the file.  It should look like this:

[code]

[2019-01-09 17:40] #17360 closed

[2019-01-09 17:55] davidnuzik commented on #16126
Version: master 2.2 (1/9/19)
Confirmed fix. I was not able to reproduce the issue. I tried both with the steps to reproduce by editing the YAML and via the new UI additions and the DNS settings remained both times. I tried to bring the scale down to zero and back up again. No matter what I try we keep the dnsConfig now. There are now additional DNS config options when creating a workload under the

[2019-01-09 17:55] #16126 closed

[2019-01-09 18:02] davidnuzik commented on #16679
Version: master 2.2 (1/9/19)
Confirmed enhancement. Full names are now shown with local / AD / etc under global users. I tested with both local and AD. Further testing will be occurring in this area as well as we continue to test around Authentication providers.
Screenshot example:
![image](https://user-images.githubusercontent.com/45179589/50918636-03ed1200-13fe-11e9-96d8-67b8f8d52948.png)

[2019-01-09 18:02] #16679 closed

[2019-01-09 18:09] davidnuzik commented on #17306
@loganhz @westlywright may we change the title of the /monitoring/cluster-setting page? I would argue that Prometheus is more or less abstracted from the user. They just want to turn on "monitoring" can we change the title from "Cluster Prometheus Configuration" to just "Cluster Monitoring Configuration" ?
![image](https://user-images.githubusercontent.com/45179589/50918989-eff5e000-13fe-11e9-8fbd

[2019-01-09 18:17] uvwild commented on #9063
since this link above is dead and the issue remains I wil start a new issue to point this out.
starting the agent together with a server using docker-compose is an important use case in our environment.

that's the problem when answer are posted as simple links (which  die eventually)

[2019-01-09 18:25] uvwild opened #17361 "Adding rancher/agent to a rancher 1.6 via docker-compose"
We need to start the rancher-agent together with the rancher/server from a docker-compose file.
Please dont refer to rancher2 as it has a different feature set.

This has been asked in #9063 before, but answered with a link to a dead page!

So I am trying to figure out which info is needed in the docker-compose.yml,
but since I couldnt find any documentation (nor the repository to look at the sour

[2019-01-09 18:34] uvwild commented on #17361
One major obstacle also with the agent is the **issue with the loopback dnsmasq** which is the default on ubuntu18.04 distros and causes the agent to not startup.

Is there a neat workaround better than me editing resolv.conf everytime before I start the agent?

Changing the dnsmasq config seems a bit cumbersome.

https://stackoverflow.com/questions/35693117/how-can-i-give-docker-containers-access

[2019-01-09 18:43] superseb commented on #17361
The docs page was moved, the new URL is https://rancher.com/docs/os/v1.x/en/about/running-rancher-on-rancheros/.

The docs for running a local DNS server are at https://rancher.com/docs/rancher/v1.6/en/hosts/#hosts-running-a-local-caching-nameserver.

Let me know if those don't solve the issue

[2019-01-09 18:43] #17361 closed

[2019-01-09 18:51] superseb opened #17362 "Update etcd binaries in rke-tools to 3.3.x"
**What kind of request is this (question/bug/enhancement/feature request):**
Currently we use `v3.0.17` in `rke-tools` which is the etcd version for k8s 1.8. We should update it to `v3.1.12` which is the version for k8s 1.10

ARM was added in the meantime and `3.3.10` of etcd was added there, so I updated this to match the ARM package.

[2019-01-09 19:05] vincent99 commented on #17361
The docs page is literally the first search result for `rancher-agent`, rancher/agent`, `rancher agent`, or similar.

<img width="787" alt="image" src="https://user-images.githubusercontent.com/753917/50921960-7f52c180-1406-11e9-984a-ae8690e73fc8.png">

The agent is GitHub rancher/agent.  1.6 is a branch.  https://github.com/rancher/agent/tree/v1.6

[2019-01-09 19:12] mhermosi commented on #14354
I am running a custom cluster, (actually have 2 clusters) on Proxmox VE using KVM nodes first cluster is fine.
Second cluster started failing after I decided to rename all the node servers.

Rancher: 2.1.2
Provider; Custom v1.11.3
Docker-ce: 18.09
# of nodes: 6
OS: Linux ... 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux (Ubuntu 18.04.1 LTS)

[2019-01-09 19:50] uvwild commented on #17361
rancher-agent start in docker-compose with rancher

[2019-01-09 19:57] uvwild commented on #17361
@vincent99  Thanks for this very useful feedback!
That simplification of the query would lead me to the right page didnt cross my mind.
My search was "rancher-agent start in docker-compose with rancher"
Good Point.
However, with more common search terms this approach is not working.
But I will integrate that in my problem solving process.
trying query simplification also in the future.
:)

[2019-01-09 20:02] uvwild commented on #17361
@superseb thanks for this quick feedback :)
I had figured most of the dns, just how to stop the resolver from overwriting the entries I was missing.
Main mistake I installed the **resolvconf** service which overwrites the resolv.conf all the time.

[2019-01-09 20:37] thiagosantosleite commented on #17240
the error still happen in the latest version:

Component | Version
-- | --
Rancher | v2.1.5
User Interface | v2.1.19
Helm | v2.10.0-rancher5
Machine | v0.15.0-rancher1-1

please advise....

[2019-01-09 21:08] davidnuzik commented on #16463
Version: master 2.2 (1/9/19)
Confirmed fix. I can no longer reproduce.
- Confirm URL pattern is correct. I used Kubernetes Dashboard and made sure the URL pattern for /index.html is correct.
- Fork the chart and modify svc.yaml and change the port to something else. Confirm this is working as expected for the url. Do the same and try with a snippet from the service yaml provided. Ensure the URL pa

[2019-01-09 21:08] #16463 closed

[2019-01-09 22:54] alena1108 commented on #15685
@rawmind0 could you confirm that custom client way worked for you.

[2019-01-10 00:05] jrodonnell commented on #17155
Quick fix that works for me is to delete the `certificate-authority-data` field in the kubeconfig file but I would love to see this problem go away so I don't have to manually edit my kubeconfig file after I copy it from Rancher.

As for root cause, I believe the problem (at least in my case) stems from external TLS termination: there is a mismatch between the cert we put on our ALB and the cert R

[2019-01-10 02:20] gitlawr commented on #17314
Steps to test:
1. set up a self-signed cert git service(gitlab/github/bitbucket server)
2. add the CA root certificate to Rancher server container, following the [instruction](https://rancher.com/docs/rancher/v2.x/en/admin-settings/custom-ca-root-certificate/).
3. Integrate with the git service in project-tools-pipeline.
4. Configure the CA root certificate setting in project-tools-pipeline.
5. Co

[2019-01-10 03:08] moxiertu opened #17368 "rancher 1.6.25 k8s 1.11.5 cmd 'kubectl describe node | grep -A 2 Addresses' , lost ip"
*Describe your issue here*

rancher 1.6.25 k8s 1.11.5 cmd 'kubectl describe node | grep -A 2 Addresses' , lost ip
---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.25` Cattle: `v0.183.68` UI: `v1.6.49` |
|Access|`localauth` `admin`|
|Orchestration|`Kubernetes`|
|Route|`k8s-tab.dashboard`|

[2019-01-10 03:57] gitlawr commented on #17354
This message is one of the s3 error responses. Can you check the time in Minio container?

[2019-01-10 05:13] dele5247 opened #17369 "Add support for EKS in ap-northeast-2"
Amazon have recently announced support for ap-northeast-2(seoul) within the EKS product
We need to add support for this region to the list of EKS options available

[2019-01-10 05:16] loganhz commented on #15574
@fyery-chen Please add the test steps. Thanks

[2019-01-10 05:19] fyery-chen commented on #15574
@loganhz @westlywright OK, I will add the specified test steps.

[2019-01-10 05:38] loganhz opened #17370 "Support external prometheus in rancher monitoring"
As a Rancher user, I have a running prometheus in 2.1 already.

When I upgrade to 2.2, it will be good if I can still use my own Prometheus instead of deploy a new one.

[2019-01-10 07:02] laoshancun commented on #17128
same issue,is there any updates?

[2019-01-10 07:38] bdue commented on #17354
I have managed to solve this issue. 2 nodes of the HA management cluster had a issue with their time. Corrected the time on those 2 nodes and the pipelines started running again.
Why the time on 2 nodes from the management cluster caused an issue with the pipelines on another cluster beats me.

[2019-01-10 07:48] loganhz commented on #17369
Related doc https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html

[2019-01-10 09:38] leochan007 commented on #17155
@jrodonnell thx for your info. the config file is generate in rancher WebUI. the "certificate-authority-data" looks the same after wiping old cluster. i don't know why.

[2019-01-10 11:48] wkjun opened #17372 "secrets drop-down could not edit or view in api and could not use it in service"
[code]

- Docker (use `docker info`):

[code]
when use secrets drop-down , could not use edit or view in api , debug like this:

[code]
when i use secret in service ,but could not see it in container like this:

[code]

[2019-01-10 11:48] rawmind0 commented on #15685
Sure @alena, confirmed it's working using generic client methods.

[2019-01-10 12:08] DHoogland commented on #17264
Did you mange to fix this? I'm running into the same issue. Also local-storage.

[2019-01-10 14:08] gelinger777 commented on #12562
@vincent99  and what to do in case where we have created a cluster  in Hetzner Cloud and in the same datacenter we have a dedicated server, which we want to join the existing cluster?

[2019-01-10 14:33] benzman81 commented on #13834
we now need this feature, too, as we deploy charts for CI/CD. Those do not show up without catalog refresh :-/

[2019-01-10 14:41] benzman81 commented on #13834
just found a workaround installing a helm chart from a local folder. couldn't find anything in documenation about it, but might help someone as long as this is not implemented, too.

`rancher app install ./example example-app`

[2019-01-10 15:15] benzman81 commented on #15195
need this for parallel execution, too. Each call can be a different server/context, so parallel execution is not possible by now.

[2019-01-10 15:43] stobias123 opened #17374 "Looping instance create?"
We're seeing instance create loop infinitely in our environment. The below stack trace is printed on every attempt, and then the task restarts.

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

**Result:**
[code]

**Other details that may be helpful:**

**Environment information**
1.6.18
HA

**Cluster inf

[2019-01-10 16:52] westlywright commented on #16926
Removing the resolved later and assigning to me because I need to look at the js dynamic padding that is being added

[2019-01-10 17:37] mak3r opened #17376 "Add P3 AWS Instance Types"
**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):
- Installation option (single install/HA):

**Cluster information**
- Cluster type

[2019-01-10 17:37] mak3r opened #17377 "Add P3 AWS Instance Types"
**Feature Request**
Add P3 instance types in the drop-down for AWS hosts.

**Result:**
P3 Instances are available when using AWS node templates

**Environment information**
Rancher version: 2.1.5

[2019-01-10 18:42] erikwilson commented on #15444
I encountered a few issues with testing @pdube:

- Cloud.ca logo edges are cut off:
 <img src="https://user-images.githubusercontent.com/1999874/50987698-986f7700-14c7-11e9-866a-53f0086288f1.png" width="300" />

- when changing CPU or memory in the UI for a new template the first change is not recognized

- the CPU and memory values are not populated in the CloudCa config:
[code]
Resulting in a se

[2019-01-10 18:54] pdube commented on #15444
Hey @erikwilson,

Sorry that you hit some issues. We recently reduced our available offerings to  to a single custom sized offering, so that might have had a side effect on the driver. I will try to reproduce and report back asap

[2019-01-10 19:00] pdube commented on #15444
@erikwilson Where do you see the cut-off logo? It looks fine when I am adding a new Node Template. What should the size be?

[2019-01-10 19:06] pdube commented on #15444
`Using default template values results in a node that is never provisioned, stuck on the step Waiting for SSH to be available..., but I do see a running instance in Cloud.ca.` We don't support making nodes public right now, so unless the rancher server is in the VPC, it won't work (you could make it available after the fact though through static NAT or PFRs). We had to make it only use private IPs

[2019-01-10 19:06] davidnuzik commented on #17306
Version: master 2.2 (1/10/19)
Confirmed enhancement. We now have an option on this page to Enable or Disable Cluster/Project Monitoring. Smoke tested this and monitoring in general to ensure everything is still functioning correctly. Screenshots:
Cluster level:
![image](https://user-images.githubusercontent.com/45179589/50990749-23ed0600-14d0-11e9-887f-fc3d53f984c3.png)

Project level:
![image](ht

[2019-01-10 19:06] #17306 closed

[2019-01-10 19:10] davidnuzik commented on #16701
Version: master 2.2 (1/10/19)
Confirmed fix. The text within the node driver icon (in the image) has been removed. I enabled all node drivers to ensure they all look good now. A couple are a bit out of alignment but this is an improvement. I will enter a minor bug around this.
![image](https://user-images.githubusercontent.com/45179589/50990927-a7a6f280-14d0-11e9-880a-d0f4e040f75d.png)

[2019-01-10 19:10] #16701 closed

[2019-01-10 19:11] pdube commented on #15444
I was able to reproduce the error related to the CPU and Memory. I will fix it, build it and update the PR. Thanks for checking this out

[2019-01-10 19:12] davidnuzik opened #17378 "Center SoftLayer node driver image"
Version: master 2.2 (1/10/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, minor

**Steps to reproduce (least amount of steps as possible):**
- Enable the SoftLayer node driver

**Result:**
Notice the SoftLayer node driver icon is very high up and is not centered. Compared to the others it looks like it is up too high:
![image](https://user-images.githubuserco

[2019-01-10 19:18] davidnuzik commented on #17133
Version: master 2.2 (1/10/19)
Confirmed fix. The alignment of the tiles is nice now. Tested browser resizing as well and this looks good too.
![image](https://user-images.githubusercontent.com/45179589/50991410-cb1e6d00-14d1-11e9-98e8-8447dde5a27c.png)

[2019-01-10 19:18] #17133 closed

[2019-01-10 19:26] aemneina opened #17379 "rancher doesnt detect dockerRootDir on imported clusters"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. created docker hosts that had custom docker roots'
2. used rke to create a kubernetes cluster using hosts from 1
3. imported rke cluster to rancher

**Result:**
viewing the cluster via api browser I see:
[code]
Client Version: version.Info{Major:"1", Mino

[2019-01-10 19:29] kevinsimons-wf opened #17380 "User with config map view access can view secrets"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Restrict a users permissions so they cannot view secrets
2. Deploy an app that contains a secret
3. Go into Resources > Config maps and find the app.v1 config map for the app you deployed
4. Run `kubectl get cm app.v1 -o jsonpath='{.data.release}' | base6

[2019-01-10 19:52] davidnuzik opened #17381 "Very long project names cause global menu to cut off"
Version: master 2.2 (1/10/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, minor, requires unusually long project names

**Steps to reproduce (least amount of steps as possible):**
- When extremely long project names exist, the page styling won't adjust the width of the menu properly when the browser window is rather wide (such as nearly 1920px).

**Result:**

[2019-01-10 19:59] davidnuzik commented on #16735
Version: master 2.2 (1/9/19)
Confirmed enhancements. See the issue description for my comments for each. One issue was created and is referenced above. I also halo tested in each area were relevant to ensure everything is still operating correctly.

[2019-01-10 19:59] #16735 closed

[2019-01-10 20:01] davidnuzik commented on #16732
Version: master 2.2 (1/10/19)
Confirmed fix. Bot the "Show cacerts" and "Hide cacerts" buttons now use the more conventional blue colored button.

[2019-01-10 20:01] #16732 closed

[2019-01-10 20:14] sangeethah commented on #16995
@alena1108  I am able to reproduce the issue, if we wait for the secrets to be purged from the DB and then try to export or view config of stack.
This fails with "Internal Server Error (500)" and exception reported in the issue is encountered.

[2019-01-10 20:16] erikwilson commented on #15444
Sounds good, thank you! I am seeing the cropped logo on the `Add Cluster` page, looks like it is set to 100x100 px, but if you can change the SVG to have a 1:1 ratio that should work well.

[2019-01-10 20:19] prachidamle commented on #15499
@kinarashah PR's look good, can you just comment out here on what will the header value added be that will indicate a system API call Vs a user API call

[2019-01-10 21:52] patrick0057 opened #17382 "Kubernetes cluster upgrade fails"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1) install elasticsearch from helm catalog
2) upgrade kubernetes cluster from 1.11.5 to 1.11.6

**Result:**
Some nodes will stall on their upgrade due to a directory being in use by another process.
You'll see some errors like this in the UI:
[workerPlane] F

[2019-01-10 22:04] omniscient commented on #14907
I need help connecting the dots here. I tried using https://github.com/trondhindenes/ecr-updater but it's not working for me:

Can someone describe in a bit more words what has to be done to get ECR working with Rancher 2.0.x?

[2019-01-10 22:14] deniseschannon commented on #15685
As we are able to use the generic client methods, we are going to close this issue for now.

[2019-01-10 22:14] #15685 closed

[2019-01-10 22:52] sdanieru opened #17383 "Alert and Notifier flow not posting Alerting messages to Slack"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
1. rancher 2.1.5 single install
2. Create a cluster
3. Setup a notifier that posts alert messages to a slack channel; click 'Test' to verify it posts to the specified channel.
4. Set the out-of-box 'Alert for etcd' to use the slack notifier setup in step 3
5

[2019-01-10 23:22] kvdivya opened #17384 "Automated scripts / terraform scripts are not available for HA setup – Node preparation is a manual job."
Rancher 2.0

Automated scripts / terraform scripts are not available for HA air gapped setup – Node preparation is a manual job and tedious one.
If we need to scale the orchestration nodes, we need automation, auto scaling and auto healing of the orchestration nodes.

[2019-01-10 23:24] kvdivya opened #17385 "Need ability to integrate with AWS IAM for cluster authn/authz"
Need ability to integrate with AWS IAM for cluster authn/authz

[2019-01-10 23:51] soumyalj commented on #12924
Tested with rancher/server:v1.6.26-rc1 and rancher cli version - rancher-v0.6.13-rc1
In the API we do see option to specify lines, since and timestamp as below
<img width="745" alt="screen shot 2019-01-10 at 3 44 05 pm" src="https://user-images.githubusercontent.com/18536626/51004288-cb793100-14ee-11e9-8ace-fe6119f0c559.png">

The fields are functional. API calls were tested with python
[code]

[2019-01-10 23:51] #12924 closed

[2019-01-11 00:14] cloudnautique commented on #17156
@chrisurwin would using the terraform provider be a reasonable approach vs. updating the chart.

I think adding this means we would allow setting any environment variables to the deployment. To echo @jgreat, not a big deal, but feels like there are alternate ways.

[2019-01-11 00:33] davidnuzik commented on #17277
@loganhz does this impact the UI visually? or is this just a label for a field or something along those lines?

[2019-01-11 00:59] sangeethah commented on #17286
Tested with latest build from master (Jan/10).
Group changes are reflected in user attributes when rancher cli calls are made after auth-user-info-max-age-seconds passed.

Following scenario works as expected:

AD auth enabled setup
Create a cluster with 3 projects:
p1 - member access given to "group1"
p2 - member access given to "group2"
p3 - member access given to "group3"

Log in to rancher UI

[2019-01-11 00:59] #17286 closed

[2019-01-11 01:07] loganhz commented on #17277
Hi @davidnuzik , it doesn't impact the UI visually and it's just a field change.

We haven't verified the deploy catalog app ini pipeline yet. So we can test it with https://github.com/rancher/rancher/issues/16026

Assign to @rootwuj who is testing https://github.com/rancher/rancher/issues/16026

[2019-01-11 01:30] sangeethah commented on #14420
@loganhz Thank you for the detail steps to reproduce the issue.

Create an admin user user1.
Login as user1 and create a standard user user2.
Change the role of user1 to standard user.
Logout user1 and Login as user2

When testing the above steps in 2.0.4, API -  /v3/users?me=true returns user1 and user2

When testing the above steps in latest master builds  API -  /v3/users?me=true returns user2

[2019-01-11 02:30] loganhz commented on #17376
Close in favor of https://github.com/rancher/rancher/issues/17377

[2019-01-11 02:30] #17376 closed

[2019-01-11 02:48] loganhz commented on #17369
Close in favor of https://github.com/rancher/rancher/issues/17081

[2019-01-11 02:48] #17369 closed

[2019-01-11 02:58] loganhz commented on #17081
We will work on it soon!

[2019-01-11 04:35] deniseschannon commented on #17156
How about we add the ability to add external variables and not have to specify specific keys?

Would that be a compromise of having something generic as well as not force us to keep maintaining all the options as we add them to Rancher?

[2019-01-11 05:52] aemneina opened #17386 "ability to add multiple search bases to support multi domain forests"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Request:**
Add the ability to specify and search multiple group search bases. Having a single one doesnt work to support organizations that have multiple domain forest.

[2019-01-11 06:07] alena1108 opened #17387 "UI: Implement default cpu/memory limit for workloads in a namespace"
UI field will be needed once addressed on the API side https://github.com/rancher/rancher/issues/15648

[2019-01-11 06:17] aemneina opened #17388 "RFE CLI ability to add activedirectory users or groups to a cluster or project"
**What kind of request is this (question/bug/enhancement/feature request):**
ability to add ActiveDirectory users or groups to a cluster or project

**Steps to reproduce (least amount of steps as possible):**
today the cli allows for users to be added to clusters, but is limited

[2019-01-11 06:55] johnrkriter commented on #17081
It seems thats all that is required is to update the AMI map here vendor/github.com/rancher/kontainer-engine/drivers/eks/eks_driver.go

Should update the AMI versions to the latest EKS enabled AMI's..
Credit to @mattsauce-acn for finding this for me.

[2019-01-11 06:55] johnrkriter commented on #17081
@mattsauce-acn and Iooked and it does just appear to be this map update.

[2019-01-11 07:50] ukinau commented on #15486
Any chance to take a look at https://github.com/rancher/rancher/pull/16044 ?

[2019-01-11 08:39] horihel commented on #16673
I second this question. Is there any way (or plan) to support enabling any fluentd parser plugins in cattle-logging, or configure parts of the parser (e.g. with annotations on workloads or via configmap)?

[2019-01-11 08:49] johnrkriter commented on #17081
I opened a new branch, updated the existing regions to add the latest AMI and additional regions according to https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami.html.

https://github.com/rancher/rancher/pull/17373

[2019-01-11 09:12] benzman81 commented on #15195
This work around works for me at the moment.

[2019-01-11 09:25] loganhz opened #17390 "Support Prometheus Federation"
We should support Prometheus Federation for project level Prometheus.

If we turn it on, project level Prometheus will persist the data from cluster level Prometheus.

[2019-01-11 09:34] Parth6288 opened #17391 "Multiple error on k8s dashboard"
HI, I created  a test environment using rancher 2.1.3 and deployed my workload on it. To access the k8s dashboard i added the same from the catalog app after moving kube-system namespace to default project. However i am getting access related error on dashboard as attached. I did auth using token rather than the kueconfig file.
![k8s error](https://user-images.githubusercontent.com/16204776/510254

[2019-01-11 09:37] loganhz opened #17392 "Support turn on/off Node Exporter for cluster level Prometheus"
Support turn on/off Node Exporter for cluster level Prometheus
Node exporter requires host network and so people can access it via hostip:port
Then they will be able to see the node metrics such as node cpu and memory usage.

[2019-01-11 10:04] happyyangyuan commented on #15877
After upgrading rancher to v2.1, as a result the rke upgrades from 0.1.10 to 0.1.15 and the problem got sovled.

[2019-01-11 10:04] #15877 closed

[2019-01-11 10:20] mcanevet opened #17393 "Lot of serviceexposemap.remove running in processlist"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
can't reproduce

**Result:**
I have thousands process stuck in running in processlist and I can see that in the logs:
[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag

[2019-01-11 10:22] aiwantaozi opened #17394 "Bad audit log json format when request/response body is empty"
[code]
Bad audit log json format when request/response body is empty

[2019-01-11 10:25] nischay30 opened #17395 "Unlimited rancher2 agent containers"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG/ISSUE

**Steps to reproduce (least amount of steps as possible):**

1. Create a Rancher 2.1.3 single install
2. Create a Kubernetes cluster  v1.11.5-rancher1-1 with Custom Nodes
3. Add 3 Nodes in that cluster
4. Now run your pods on that, after few days you noticed on each node there are lot of rancher agent container

[2019-01-11 11:20] gelinger777 opened #17397 "Get Token For Joining a Node to existing provisioned cluster"
Hi everybody. One simple question.
I have created a cluster on Hetzner nodes using UI Hetzner Driver

https://mxschmitt.github.io/ui-driver-hetzner/  .

In the same datacenter I have a dedicated server with docker on it.
If I imagine right, if i have the token and md5 of  rancher
With following  command

`sudo docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/k

[2019-01-11 11:23] xorpierre opened #17398 "failure to bootstrap custom node cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
question
bug

**Steps to reproduce (least amount of steps as possible):**
start latest rancher-master with self-signed or provided working cert (I tested all versions)
login with admin
create cluster with custom nodes, using flannel backend, k8s version 1.11
start 3 VMs to bootstrap cluster

**Result:**
multitude of error

[2019-01-11 12:51] ItsReddi commented on #10524
And the other Bug: #11588

1. Create a stack.
2. Add a service with name=ngx1, image=someprivate/nginx, label=test=true, drainTimeout=5000
4. Add a webhook to upgrade services with selector test=true, tag latest
5. push an image to someprivate/nginx repo
After these services are upgraded, check the draintimeout.

[2019-01-11 13:37] bacheson commented on #10524
blast from the past...I can't believe this wasn't fixed yet....I'm so glad I moved to Google Kubernetes Engine long ago...so much better/easier

[2019-01-11 13:37] cjellick opened #17399 "Drop k8s 1.9 and 1.10 from Rancher cluster provisioning"
With 1.13 being the new default in v2.2 and k8s's policy of supporting 3 releases, we should drop 1.9 and 1.10 from new cluster provisioning.
If this is a dupe, feel free to close it @alena1108

[2019-01-11 15:52] ajacques commented on #17395
Is this related to #14735? According to this [comment](https://github.com/rancher/rancher/issues/14735#issuecomment-446902034), it might be related to a docker container that cleans up stopped containers. In my case, share-mnt was getting deleted.

[2019-01-11 16:02] nischay30 commented on #17395
@ajacques , I think yes it's related to that. But containers are not stopped. All are running containers.

[2019-01-11 16:39] davidnuzik commented on #15462
Version: master 2.2 (1/11/19)
Confirmed fix. Text no longer inappropriately wraps when there is a space in any string.
I tried strings with and without spaces, changing window size, etc and the text no longer wraps oddly as seen in original issue description screenshot.
![image](https://user-images.githubusercontent.com/45179589/51046955-a7682f00-1584-11e9-98aa-a43db577f36e.png)
When the window ge

[2019-01-11 16:39] #15462 closed

[2019-01-11 17:23] aemneina opened #17401 "cluster logging doesnt dynamically update when cluster settings are changed"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. have a host with a custom docker root (rancher wont detect its custom)
2. enable logging for the cluster
3. update the cluster to have the correct docker root
4. logging is still broken

**Expected Result:**
logger and fluentd should dynamically be update

[2019-01-11 17:40] aemneina commented on #17401
**Workaround**
1. disable logging
2. delete fluentd and logger workloads
3. reenable logging

[2019-01-11 18:18] erikwilson opened #17402 "Azure RKE new cluster fails to provision"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Provision single node Azure RKE cluster

**Result:**
Errors like: `Can not find RKE state file: open /Users/erik/go/src/github.com/rancher/rancher/management-state/rke/rke-229209006/cluster.rkestate: no such file or directory`

**Rancher server logs:**
[code

[2019-01-11 18:37] soumyalj commented on #10524
Reproduced the issue in v1.6.25.
Tested with v1.6.26-rc1 with the steps below:
1. Create a stack.
2. Add a service with name=ngx1, image=someprivate/nginx, command=nginx -g "daemon off; env test=1;", label=test=true
3. Add a service with name=ngx2, image=someprivate/nginx, command=nginx -g "daemon off; env test=2;", label=test=true
4. Add a webhook to upgrade services with selector test=true, tag

[2019-01-11 19:16] soumyalj commented on #16995
Reproduced the issue in v1.6.17
<img width="1134" alt="screen shot 2019-01-11 at 11 16 09 am" src="https://user-images.githubusercontent.com/18536626/51054644-565f3780-1592-11e9-8c19-05a39415c74e.png">

[2019-01-11 20:02] mrmason commented on #14600
We've been running this for a few days now and can confirm it's all working correctly.

[2019-01-11 20:17] soumyalj commented on #10524
Specified a drain timeout while creating the services with image=abc/nginx with label set as "test=true"
Added a webhook to upgrade services with selector "test=true". Push an image to abc/nginx repo.
After upgrade, the drain timeout setting is lost.

[2019-01-11 21:04] kevinsimons-wf opened #17405 "Cannot add answers to a chart previously deployed with none"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Deploy chart application with no answers
2. Try to upgrade app through cli and add a new answer

**Result:**
An error about assigning an entry to nil map and the upgrade fails

**Other details that may be helpful:**
[code]

**Environment information**
- R

[2019-01-11 21:52] jiaqiluo commented on #16478
Bug is reprodueced on rancher cli v2.0.5 as excatly described in the ticket.

Validated on rancher cli v2.0.7-rc3
[code]

[2019-01-11 21:52] #16478 closed

[2019-01-11 22:02] davidnuzik commented on #15574
Version: master 2.2 (1/11/19)
Feature confirmed. I can confirm basic functionality. I was able to add the OKTA rancher account to my rancher server and log in as users assigned to the rancher application. I smoke tested and did find a few issues; further testing is being done per our Authentication test plan and I will enter more issues as necessary. However, the basic functionality is working for

[2019-01-11 22:05] davidnuzik opened #17407 "Task - validate OKTA auth provider per test plan"
See #15574 this issue tracks additional work required to test per the Authentication test plan to further validate the new auth provider.

**What kind of request is this:**
Task

**To do:**
- Validate OKTA auth provider per the QA authentication 2.0 test plan.
- Enter issues as necessary.

[2019-01-11 22:13] galal-hussein commented on #17402
The problem is with docker machine, and it was fixed in our fork https://github.com/rancher/machine/commit/4246f11e2799b508f22de987a83fc0cfced992a1, tested the provisioning with this fork and it worked as expected

[2019-01-11 22:35] davidnuzik commented on #15574
Re-opening requires additional testing.

[2019-01-11 22:42] cjellick commented on #17390
You agree we can move this out, right @loganhz ?

[2019-01-11 22:44] wrsuarez commented on #14062
We could definitely use this as well

[2019-01-11 22:54] cjellick commented on #16785
we can address this in a maintenance release

[2019-01-11 22:58] davidnuzik commented on #17407
Closing in favor of #15574. That issue will be used for testing as we validate it via the test plan.

[2019-01-11 22:58] #17407 closed

[2019-01-11 23:01] loganhz commented on #17390
yes

[2019-01-11 23:22] alena1108 commented on #12422
@mrajashree we should distinguish between something we don't know vs we know is disabled for sure.

[2019-01-11 23:55] cjellick commented on #17065
@orangedeng @loganhz upon further discussion with @ibuildthecloud and @vincent99 and based on the last comment i made,
let's break the API to fix this. Change the type to a list so that order is definitely always preserved.

Carefully consider upgrade scenarios and how to handles those and make sure QA knows to test such scenarios

[2019-01-12 00:01] cjellick commented on #16524
moving out

[2019-01-12 00:02] cjellick commented on #16345
Ive asked @tfiduccia to retest just to see if its still occuring. im going to assign over just so she doesnt forget

[2019-01-12 01:09] alena1108 commented on #17345
@moelsayed could you confirm that [this parameter](https://github.com/rancher/rancher/issues/16212#issuecomment-452079372) can be configured via [customCloudProvider](https://github.com/rancher/types/blob/master/apis/management.cattle.io/v3/rke_types.go#L378) in 2.2. If it can, please reassign to qa for verification.

[2019-01-12 01:46] davidnuzik opened #17409 "test issue"
test

[2019-01-12 01:52] davidnuzik opened #17410 "username overlaps user id when listing memebers in UI"
Version: master 2.2 (1/11/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, visual

**Steps to reproduce (least amount of steps as possible):**
- Add any users with a moderately long username

**Result:**
The username overlaps onto the user id column as pictured:
<img width="628" alt="ui_user_text_overlap_issue" src="https://user-images.githubusercontent.com/45

[2019-01-12 02:11] davidnuzik commented on #17409
And when I try to get pods with kubectl I get the following:
[code]

[2019-01-12 02:32] davidnuzik commented on #17409
Note: I will try to reproduce this again on Monday 1/14 with a clean slate as someone else was not able to reproduce this issue.

[2019-01-12 02:55] john-mcgowan-wowza opened #17411 "leaving "wrap lines" turned off does not preserve whitespace"
When I am looking at logs in 2.1.3 and have the wrap lines option turned off, it seems like whitespace is being gobbled up.   So indentation and other formatting that depends on leading whitespace is broken.  when I check "wrap lines" the problem stops.

I don't think the wrap lines option should affect the leading whitespace behavior when viewing logs.  if this is intentional behavior it should b

[2019-01-12 03:05] #17409 closed

[2019-01-12 09:45] xorpierre commented on #17398
doing some research the apiserver errors indicate etcd failure and well the etcd error message is a bootstrap failure, but why it doesnt bootstrap I dont get, its listening on 2789 and 2780 but is only responsive on 2780...2789 is dead hence bootstrap fails

[2019-01-12 10:33] xorpierre commented on #16385
can confirm on 2.1.5
problem is now my nodes don't join the cluster...

[2019-01-12 13:38] xorpierre commented on #13314
Seeing this issue too. Rancher 2.1.5
will edit if I find more infos

[2019-01-12 14:31] xorpierre commented on #17398
fixed, not a rancher issue

[2019-01-12 14:31] #17398 closed

[2019-01-12 16:49] cjellick commented on #16201
merged. on monday remind me to cut an rc of the cli @erikwilson

[2019-01-12 16:59] cjellick commented on #16086
@deniseschannon I guess this is ready for test?

[2019-01-12 17:02] cjellick commented on #15627
loglevel pr merged @deniseschannon or @superseb remind me to update rancher with the new version on monday!

[2019-01-12 18:46] dnauck commented on #14062
The guys from Xing released a forwarder for K8n:

https://twitter.com/boosty/status/1083343036711649280

[2019-01-12 19:52] alexellis commented on #13057
@kenfdev you don't have to deploy OpenFaaS to multiple namespaces, but I think that it's preferable.

Alex

[2019-01-12 20:05] cjellick commented on #16994
@loganhz i see the associated pr was merged. is this waiting on something to go to-test?

[2019-01-12 20:06] cjellick commented on #17252
waiting on something else?

[2019-01-12 20:06] cjellick commented on #17225
waiting on something?

[2019-01-12 20:06] loganhz commented on #16994
yes. It’s better to verify it after the monitoring refactor PRs get merged

[2019-01-12 20:07] cjellick commented on #16786
@jiaqiluo why is this "wont fix"?

[2019-01-12 23:43] hwasp opened #17412 "Network field empty when editing a vSphere Node Profile"
**What kind of request is this (question/bug/enhancement/feature request):** Bug

**Steps to reproduce (least amount of steps as possible):**

 - Create a vSphere Node Profile
 - Fill all info including Network field in 3. Scheduling section
 - Save the profile
 - Edit the profile

**Result:**

 - The Network field in 3. Scheduling section appears blank
 - The profile can not be saved without sett

[2019-01-13 00:17] hwasp opened #17413 "Enhancement request: vSphere Node Profile form"
When creating a vSphere Node profile the 3. Scheduling section fields format is not clearly explained. The example on the field is approximate and sometimes incomplete, i.e. when the VM Network is inside a folder in vCenter this needs to be specified too.

I would suggest to include this information below the text field with examples to clarify some points.

1) Pool: The default-root pool in VMwar

[2019-01-13 00:20] suikast42 commented on #13538
Did you solve  the problem ?

[2019-01-13 00:22] deniseschannon commented on #16086
If the PR is merged, I think we can test it. @cjellick

[2019-01-13 00:39] deniseschannon commented on #16786
@jiaqiluo let's create a separate issue for the fact that the EKS cluster wasn't deleted as that is not in the original title of the issue. let's close this issue for the original title of this issue

[2019-01-13 02:09] Seeefo commented on #16151
Same here.  I am noticing the same issue, its particularly troublesome on helm commands as they tend to fail.  kubectl will notify you of failures if you use `--v=10`, but I think it retries the requests and they eventually work.  I can't tell if that's because Rancher is LB the kubectl commands across the nodes or what.

Since I am automating the API and deploying clusters on a pretty regular bas

[2019-01-13 05:08] alena1108 commented on #17399
https://github.com/rancher/rke/issues/1075

[2019-01-13 05:08] alena1108 commented on #17399
Closing as a duplicate of rke issue

[2019-01-13 05:08] #17399 closed

[2019-01-13 05:16] alena1108 opened #17414 "Ability to restore from the "local" backup"
Support for taking etcd backups and restoring from them was added as a part of https://github.com/rancher/rancher/issues/16163. Today you can restore from the remote (S3) backup  only; we should add restore from local too. There are not to many changes on the backend needed, mostly wiring up rancher/rke/rke-tools to make the correct calls.

[2019-01-13 05:29] wang-michael opened #17415 "two eureka services in one application, ping failed between the two services in different host"
I want to use rancher to deploy eureka ha ,
my rancher version: v1.6.25; os version: ubuntu-16.04.5-server-amd64; docker version: 17.03.1-ce;

Two eureka services are in one application.
if two services in one host , ping is success, but  if in different host,ping is always failed.

for example, peer1 and peer2 are in one host, they can ping; peer3 is in the other host, when i ping peer3 in peer1,

[2019-01-13 05:47] alena1108 commented on #15911
@sangeethah assigning to qa for validation.

[2019-01-13 17:58] sangeethah commented on #15697
@thxCode Could you provide a list of new fields that are getting added ?

[2019-01-14 03:03] xuejipeng opened #17416 "Unexpected error when reading response body: http.http2StreamError"
**What kind of request is this (question/bug/enhancement/feature request):**
bug
**Steps to reproduce (least amount of steps as possible):**

**Result:**
in the webui lanch kubectl get error Unexpected error http.http2StreamError and `kubextl exec -ti` to cattle-cluster-agent is work

log:

I0114 02:57:58.939040      41 loader.go:357] Config loaded from file /nonexistent/.kube/config
I0114 02:57:5

[2019-01-14 03:43] wang-michael commented on #17415
I create my own environment template, change the ipsec to vxlan, the bug is fix. I dont know why, this is so weird, hope it can help others.
![image](https://user-images.githubusercontent.com/30339130/51095687-848e8280-17f1-11e9-80f3-c611d3ebcebb.png)

[2019-01-14 06:10] aiwantaozi commented on #16990
@soumyalj The workload info is not the k8s event resource, so we just add the namespace to the pod, but not the workload info, if that is useful we will try to add it.

[2019-01-14 07:50] Torrent007 commented on #17293
No one have an idea ?

[2019-01-14 07:52] mrigesh opened #17417 "Provisioning of cluster fails on v2.1.5"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Create a cluster with following:
1. Cloud Provider: aws
2. Aws AMI : ami-01eb05244333f6a61
3. OS: Rancher OS 1.5.0
4. Instance : t2.micro
5. Rancher Version: 2.1.5
6. Docker version for node: 18.06
7. Kubernetes version : v1.11.6-rancher-1-1
8. Rancher Insta

[2019-01-14 09:40] sigmaadam opened #17418 "Installing issues"
Hi,

I installed kubernetes with rancher
on Ubuntu machine.

Every command I write for example, kubectl version

I’m getting the error:
The connection to the server localhost:8080 was refused — did you specify the right host or port?

I did notice that 8080 is insecure port of kube-apiserver.
kube-apiserve listen on port 6443 and not on 8080.

Any idea how to solve this / how can the kube-apiserve

[2019-01-14 10:53] mvisonneau commented on #16627
The only blocker I see for the moment is the backup/restore procedure. What I believe would be required is an alternative one that would allow us to perform them without having to access etcd directly.

[2019-01-14 12:02] DioniPinho opened #17419 "Ingress L7 forever locked in initializing status"
**What kind of request is this:**
BUG

**Rancher versions:**
rancher/rancher: 2.1.3

**Infrastructure Stack versions:**
1.11.5

**Docker version:**
Server Version: 17.06.2-ce
Storage Driver: overlay2
Default Runtime: runc
Init Binary: docker-init
containerd version: 6e23458c129b551d5c9871e5174f6b1b7f6d1170
runc version: 810190ceaa507aa2727d7ae6f4790c76ec150bd2
init version: 949e6fa

**Operating sy

[2019-01-14 12:16] mcanevet commented on #17393
I upgraded to 1.6.25 but I still have the issue.
In the database I can see that:
[code]
So it looks like the issue appears only on one environment. Which does not surprises me as we have a jenkins on this environment that creates and destroys a lot of containers.
Is it safe to remove the elements from this table using an SQL query?

[2019-01-14 12:23] mcanevet opened #17420 "Lot of volumes stuck in ready to be purged"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI): 1.6.25
- Installation option (single install/HA): single HA

I have a lot of volumes (almost 20k) stuck in ready to be purged in the process list.
It looks like they never go to "running" stat

[2019-01-14 12:27] mcanevet opened #17421 "Stack stuck in "Upgrade in progress""
**What kind of request is this (question/bug/enhancement/feature request):**

bug

**Steps to reproduce (least amount of steps as possible):**

Click on "Upgrade" when a catalog entry proposes an upgrade.

**Result:**

Stacks are *sometimes* stuck in "Upgrade in progress" for hours (sometimes days).

**Other details that may be helpful:**

Maybe related to #17393 and/or #17420

**Environment infor

[2019-01-14 12:30] cjellick commented on #16184
@mrajashree explained that this has been a pre-existing bug, but got worse/more noticeable when she had to start putting cluster and project id in the template name. But after the rework of rbac for catalogs, we dont need to do that any more, so this is less critical. moving out

[2019-01-14 12:42] cjellick commented on #14987
@aiwantaozi @loganhz what does this need to move to-test?

[2019-01-14 13:10] cjellick commented on #15907
this and the related but 17201 are confusing me. We now have a bunch of bugs related to cluster state"
#17201
#17282
#17281
#16884

I don't know if they're related/caused by this bug or something different

[2019-01-14 13:21] cyrilbkr opened #17422 "GKE : Cattle stop new preemptible nodes to join the cluster"
Hi,
I'm  using a GKE cluster with the GCP preemptible node feature  and Rancher.
When a node is preempted the new node don't join the K8S cluster, it's strange because the new node is correctly added to the GCP instance group.
GCP support  have confirmed that it looks like the issue arose as a result of a race condition caused by cattle. It looks like the kubelet recreated (re-registered) the node

[2019-01-14 13:46] ssirag commented on #13538
Yes, I've installed MetalLB load balancer for on-premise, and it works with the LoadBalancer type.

https://metallb.universe.tf/installation/

[2019-01-14 13:55] mrajashree commented on #16184
Now I think that labels aren't the only issue, if template names do exceed 64 chars then they won't even get created. Will check this when I start working on the issue

[2019-01-14 15:36] cjellick commented on #16184
@mrajashree if this bug was pre-existing, my inteion was to move it out of the release (which I have already done). If that isnt a good idea, let me know.

[2019-01-14 16:07] jiaqiluo commented on #16786
@cjellick  I think I just used the label `wontfix` wrong. Sorry for the confusion.
@deniseschannon  Sure, I will do that.

[2019-01-14 16:19] #16786 closed

[2019-01-14 16:25] jiaqiluo commented on #17071
@thxCode  I did not see the same problem after scaling up the cluster. A 3-node cluster with monitoring enabled has been running up for more than 24 hours with no issues.

[2019-01-14 16:25] #17071 closed

[2019-01-14 16:43] cjellick commented on #15273
fixed in UI but not backend. I've removed the UI label.

[2019-01-14 17:31] JohnnyElvis opened #17423 "Node scheduling problem Linux/Windows for Rancher System components"
I am using Rancher v2.1.1 agents on my cluster. Since we experiment with Windows nodes via flanneI we found some issues. I am having problems with Node Scheduling. Sometimes eg. kube-dns (rancher/k8s-dns-kube-dns-amd64:1.14.10) tries to start on a Windows node

I've checked the Node Scheduling, maybe adding "beta.kubernetes.io/os = linux" out of the box would avoid this behavior

[2019-01-14 17:37] mrajashree commented on #16184
Nothing like that, I just wrote that comment so I don't forget to check it when I start working on it

[2019-01-14 17:51] jiaqiluo opened #17424 "EKS cluster with invalid AMI is not removed from AWS after deleting from Rancher"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add an Amazon EKS cluster with a wrong AMI role (at the `Custom AMI override` filed)
![screenshot](https://user-images.githubusercontent.com/6218999/51129292-51df8c80-17e7-11e9-9ba4-8e64db571398.png)

- After the provision fails, delete this cluster from R

[2019-01-14 18:07] aiwantaozi commented on #14987
@cjellick this issue need upgrade fluentd image, we upgrade the fluentd image in system charts, it could be test after these three PR are merged.
https://github.com/rancher/types/pull/661
https://github.com/rancher/system-charts/pull/9
https://github.com/rancher/rancher/pull/17209

[2019-01-14 18:11] davidnuzik opened #17425 "KontainerDriverController error when attempting to use custom cluster driver"
Version: master 2.2 (1/14/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- In the UI, go to Custom Drivers -> Cluster Drivers add the following: https://github.com/rancher/kontainer-engine-example-driver/releases/download/v0.2.0/kontainer-engine-example-driver-linux

**Result:**
In the UI the state

[2019-01-14 18:12] such commented on #16052
@wanshaoyuan that's exactly what I've just experimented. Using workload in the ingress lead to a 503 after updating the image name in the GUI. Switching to service solved the issue.

[2019-01-14 18:12] davidnuzik commented on #15101
Waiting on #17425 currently blocked by this.

[2019-01-14 18:30] soumyalj commented on #16990
Workload information is missing in the current implementation. Assigning it back to @aiwantaozi

[2019-01-14 18:42] #15679 closed

[2019-01-14 18:49] soumyalj commented on #16995
Tested with v1.6.26-rc1.
1. Create a secret.
2. Create a Stack.
3. Deploy a service using the above created secret in step1.
4. Delete secret created in step1.
Export or view config of stack was successful. UI did not have any issues.
There was no null pointer exception in the logs.

[2019-01-14 18:49] #16995 closed

[2019-01-14 19:31] davidnuzik opened #17426 "Autoscroll up when modal is out of sight"
Version: master 2.2 (1/14/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
If you create an EC2 node template on a moderately sized window when you go the second step the modal is out of sight and you must scroll up to see it.

**If it's not too difficult, I would like to propose that in the U

[2019-01-14 19:49] davidnuzik opened #17427 "Unable to provision any clusters"
Version: master 2.2 (1/14/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, blocking

**Steps to reproduce (least amount of steps as possible):**
- Pull latest master (1/14/19). Try to create any type of cluster. They all fail regardless of driver used. It can be RKE, or a hosted provider all will not work.
The UI shows numerous errors but they are related to:

[2019-01-14 20:06] alena1108 commented on #17427
@davidnuzik there is a panic in the log:

[code]

[2019-01-14 20:36] jiaqiluo opened #17428 "GKE cluster is unavailable in Rancher Master 1/14"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- run Rancher server master 1/14
- add a GKE cluster with all default settings

**Result:**
The status of the cluster sways between `ready` and `unavailable`, I cannot deploy any workload on it, and it shows no node in the `nodes` section.
But the cluster is

[2019-01-14 20:55] nathan-jenan-rancher opened #17430 "Kontainer Driver errors are hidden"
**What kind of request is this (question/bug/enhancement/feature request):**
When a kontainer driver fails to download, no error is shown on the UI.

**Steps to reproduce (least amount of steps as possible):**
Add a new Cluster Driver, enter an invalid url.

**Result:**
Driver will be stuck in `downloading` state forever.

**Other details that may be helpful:**
We need to have a way to show the er

[2019-01-14 20:55] nathan-jenan-rancher commented on #17425
Created https://github.com/rancher/rancher/issues/17430 to track the error message portion of this.  Submitting the panic fix only under this issue.

[2019-01-14 20:57] davidnuzik commented on #17427
If it helps anyone, here is a cleaner log. In this case I just pulled to get brand new image 3fbed76251d0 also from today spun up rancher server tried to set up DO RKE (although any will fail) and deleted cluster, ended log. Should be easier to comb thru.
20:45:43 start creating cluster
20:52:21 reproduce error in UI, give up, start deleting cluster
20:53:40 done deleting cluster and end of log
[c

[2019-01-14 22:02] garyellis opened #17431 "Rancher agent with only worker role fails to rejoin cluster configured with aws cloud provider after it is rebooted"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create single or HA rancher control plane in AWS in any region where ROS AMI is present.
2. Create a node template for ROS 1.5.0 (or whatever current version is)
3. Add cluster -> from nodes in an infrastructure provider -> Amazon EC2 -> create cluster us

[2019-01-14 22:14] jmturner opened #17432 "Add documentation for logging security events"
Customers need to be able to log various security events that take place with Rancher for auditing purposes. We need to better document how this is done.

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

[2019-01-14 22:44] galal-hussein opened #17434 "Prometheus is leaking memory within rancher"
**What kind of request is this (question/bug/enhancement/feature request):**

bug
**Steps to reproduce (least amount of steps as possible):**

run rancher server container
**Result:**

Rancher container seems to leak memory and run the server out of memory

Steps to reproduce:
- Run rancher server container
- provision a new DO cluster

I ran the pprof to fetch the heap profile and i can see that

[2019-01-14 23:03] cloudnautique commented on #17434
Whatever controller is getting that, needs to do something like this:
https://github.com/rancher/rancher/pull/14823/files

[2019-01-14 23:34] sdanieru commented on #17383
I think this might not be specific to a Slack notifier; seems more like a problem between the Alert and the  Notifier. How well baked is the Alert/Notifier flow in Rancher? This is my first time trying to use it for alerting on a cluster and I can't seem to get any alerts to propagate from an Alert all the way to a Slack channel. Others having better luck than me?

[2019-01-15 00:07] aiwantaozi commented on #17383
@sdanieru how many etcd node for the cluster, if there are many etcd, and one node is broken, but others still available,  like kubectl get clustercomponent, the etcd status will not be failed.

[2019-01-15 00:45] sdanieru commented on #17383
hi @aiwantaozi that's an interesting point: there is a difference between the service not functioning, vs one of the members of the quorum being down. Good to know the alerts are only looking at the service's ability to function, rather than if an individual member has failed.
In my test env, I was using 3 etcd nodes, and in the 'Alerts' list, the test had changed to 'Alerting' status with only on

[2019-01-15 01:14] kvdivya opened #17436 "Deploying consul from catalog apps is throwing error - status unavailable"
Deploy consul as catalog app on rancher 2.1.5 goes into unavailable state -

Yaml file for deployment
apiVersion: apps/v1beta2
kind: StatefulSet
metadata:
  annotations:
    field.cattle.io/publicEndpoints: '[{"addresses":["3.16.70.171"],"port":32506,"protocol":"TCP","serviceName":"consul-rjsdr:consul-rjsdr-ui","allNodes":true}]'
  creationTimestamp: 2019-01-15T01:01:53Z
  generation: 1
  labels:

[2019-01-15 01:40] rootwuj commented on #17252
Version -2.2 master 01/14
Verified fixed

[2019-01-15 01:40] #17252 closed

[2019-01-15 03:00] orangedeng commented on #17148
@jiaqiluo
**Step to reproduce before fix:**
1. Setup a single node Rancher server with 1 user clusters.
2. After the cluster agent is connected and the cluster is provisioned, you can see the logs in cluster agent like
[code]
3. Stop Rancher server container for 30s and make sure cluster agent logs that it is disconnected to Rancher server.
4. Restart Rancher server and wait for cluster agent has

[2019-01-15 05:12] aiwantaozi commented on #17383
Hi @sdanieru could you share some screenshot for alert/notifier configure and logs from rancher and alertmanager?

[2019-01-15 07:01] sigmaadam commented on #17418
solved by update file at ~/.kube/config

[2019-01-15 07:01] #17418 closed

[2019-01-15 07:28] laoshancun opened #17440 "format annotations Error when using helm."
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- Create an app like stable/rabbitmq-ha
- The answer file
[code]
- The error details.
[code]

**Result:**
The annotations turned to this.
[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`ranche

[2019-01-15 07:39] loganhz commented on #15731
cli `v2.2.0-rc1` is available now

[2019-01-15 10:57] graememross opened #17441 "Rancher v2.1.5 Periodically Restarting"
Rancher is periodically restarting (once every few hours). When it restarts it breaks all the port-forward connections we have into the system (this includes telepresence connections being used to debug apps)

I suspect some sort of oom problem as rancher is running usually between 1.6g and 2.1g of ram
[code]
Rancher is running as a "Single Node Install" on one of the k8s master nodes (I would lik

[2019-01-15 11:31] longwuyuan opened #17442 "Doc Bug (cosmetic)"
**What kind of request is this (question/bug/enhancement/feature request):**
Cosmetic bug on Docs

**Steps to reproduce (least amount of steps as possible):**
Visit https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/registries/

**Result:**
Opening paragraph seems repeated 2 times ;

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`ranc

[2019-01-15 13:02] mcanevet commented on #17393
@ibuildthecloud is it safe to run this on the MySQL database?
[code]

[2019-01-15 13:06] davidnuzik commented on #17427
Version: master 2.2 (1/15/19) Image ID: cbd090913b6c
Confirmed fix. I tested with all the default RKE providers except vSphere and tested with all the hosted providers (EKS, AKS, GKE). I encountered no issues.

[2019-01-15 13:06] #17427 closed

[2019-01-15 13:32] john-bakker commented on #15172
Sebastiaan, is there an update on this already?

[2019-01-15 14:03] FRoGbis commented on #17422
Encountering the same problem...

Any ideas?

[2019-01-15 15:13] pdube commented on #15444
Thanks for the additional testing.

* I will push the updated logo to the same location, so if you clear your cache it should be correct now.  It looks smaller than it was, so I assume it won't be cropped anymore.
* For the Additional volume, it is expected to reset to 20GB when you change the disk offering. I am not able to reproduce the "clicking on Additional volume size" reset it to 10GB. I am

[2019-01-15 15:16] mrajashree opened #17443 "Provide option to set Administrative flag for cluster scoped roles"
RoleTemplate has a new field called Administrative. This is for now only to be set on cluster roles. The UI for cluster scoped roles should also provide an option for this field, along with Built-in, created and other such options
<img width="1362" alt="screen shot 2019-01-15 at 8 46 59 pm" src="https://user-images.githubusercontent.com/10672776/51189808-cf4dee80-1906-11e9-9880-a357e4ce4e50.png">

[2019-01-15 15:36] cjellick commented on #16967
We are not going to give read-only users access to service/proxy.

[2019-01-15 15:44] happyyangyuan commented on #15037
@JasonvanBrackel Please refer to rancher2.x official doc for  [External Authentication Configuration and Principal Users](https://rancher.com/docs/rancher/v2.x/en/admin-settings/authentication/#external-authentication-configuration-and-principal-users)：

`
"Rancher associates the external principal with the local principal. These two users share the local principal’s user ID."
`
`
"Because the ext

[2019-01-15 15:46] gav1nb81 commented on #16883
I get the same error after upgrading my bare metal Rancher server from v2.1.1 to v2.1.5.

Having successfully upgraded Rancher server, I then try to bring my custom cluster up to Kubernetes version v1.11.6 through the Edit Cluster option in the Rancher interface:

`
[workerPlane] Failed to bring up Worker Plane: Failed to verify healthcheck: Service [kube-proxy] is not healthy on host [10.10.54.17

[2019-01-15 15:51] frenchtoasters opened #17444 "Unable to update rke cluster cause of "crypto/rsa: verification error" for generated certs"
I have a RKE cluster that i am trying to update the version of kubernetes that it is running. Currently its at 1.11.1 im trying to update it to 1.11.5. I had previously not defined the version of kubernetes that it was using and now after making the change to specifically use the 1.11.5 version I am getting the error mentioned below. I am using all the defaults here and am having the cluster gener

[2019-01-15 16:09] happyyangyuan opened #17445 "Active Directory authenticated user's permissions are gone if the user's Active Directory path changes."
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
1. Configure rancher2.1.x to use Active Directory authentication.
2. Assign some permissions to one AD user.
3. Adjust the above user's AD path in the AD management system without changing its sAMAccountName
4. Login again using the above AD user.

**Re

[2019-01-15 16:14] medanasslim commented on #17422
same big problem !!! cattle still deleted my nodes
anybody have find a solution ?

[2019-01-15 16:16] happyyangyuan commented on #17445
Similar to "Add unique user ID attribute to AD configuration" #13434 but not quite the same.

[2019-01-15 16:21] mrajashree commented on #16004
Closing this since the docs PR is merged

[2019-01-15 16:21] #16004 closed

[2019-01-15 16:24] sdanieru commented on #17383
sure. here's my test setup for context: cluster is running 3 etcd members. When I bring one of the members down, I'm notified on the cluster dashboard "Alert: Component etcd-0 is unhealthy". The alerts page shows the Alert is in 'Alerting' state (see image) but the notifier never posts to the slack channel. the config for the 'etcd test' alert is, pretty much setup like the default (see image)
![a

[2019-01-15 17:11] davidnuzik opened #17446 "Monitoring not working with AKS"
Version: master 2.2 (1/15/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create an AKS cluster and enable monitoring

**Result:**
Monitoring will never enable. In the UI the state will always be "Monitoring API is not ready"
In the logs you'll eventually see:
[code]
Full log file:
[aks_nomonitor.t

[2019-01-15 17:11] shubb30 opened #17447 "Rancher RBAC stops Vault Kubernetes Auth from working"
**What kind of request is this (question/bug/enhancement/feature request):**
bug/enhancement

**Steps to reproduce (least amount of steps as possible):**

I am trying to use Hashicorp Vault [Kubernetes Auth](https://www.vaultproject.io/docs/auth/kubernetes.html) to get secrets into my Kubernetes workloads.  It appears that the Rancher RBAC is getting in the way of the auth mechanism.

This is NOT

[2019-01-15 17:20] dawidmalina commented on #16454
I have the same issue with rancher deployed on top of EKS (deployed with helm). During the import ui showed me this error `failed with "waiting for server-url setting to be set"` (https://github.com/rancher/rancher/issues/12350) but at the end cluster is (somehow) properly operational.

[2019-01-15 17:37] cjellick commented on #15692
@soumyalj we're going to go with this paradigm, no inline wait.

[2019-01-15 17:39] cjellick commented on #15817
Due to time and resource constraints mainly around testing, we arent going to be able to get this into v2.2.
We appreciate the PRs and will try to get to it early in the 2.3 cycle

[2019-01-15 17:51] davidnuzik opened #17448 "Unable to remove alert rules from an alert group"
Version: master 2.2 (1/22/19) ImageID: 7960ae27b837

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create an alert group
- Click on the "Add alert rule" blue button to add another rule
- Try to "Remove this Alert" and nothing will happen.

**Result:**
Unable to remove alert rules from a group. There a

[2019-01-15 17:54] iwan opened #17449 "Rancher is not pulling my private latest image"
I have deployed my 4 container app, and all work fine. But when i update my private container hosted by Docker Hub  iwan/my_app:latest and i upgrade the container in Rancher it doesn't pull the latest image but the same image already running although the checkbox "Always pull image before creating" is checked...

Any idea?

Thanks

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.25` Ca

[2019-01-15 17:59] thxCode commented on #17434
I think the root cause isn't Prometheus, it seems like the `metrics collector` which coded in the rancher.

[2019-01-15 18:17] JasonvanBrackel commented on #15037
@happyyangyuan I'm quite aware of the functionality. My problem is not that it's potentially confusing, but potentially dangerous.  See my original note. The system assigns an admin level of functionality by side effect.

[2019-01-15 18:23] vincent99 commented on #15037
While I agree it could be made more clear on the screen or maaybe optional, I don't think the functionality is wrong here.  The cases where the the user who setup auth is the same person as the external auth account they're using to test far outnumber people using some other account and might not want this.

If you don't tie the current user's local identity to the one that they authenticate with

[2019-01-15 19:39] davidnuzik commented on #17353
Re-opening the issue. The issue is still occurring for me on latest master 1/15. Please let me know if there is anything I can do to assist / provide environment, etc.

[2019-01-15 20:15] sangeethah opened #17450 "Deletion of ingress with global fqdn set does not result in ingress ips from being removed from Route53 entry."
Rancher server version - Build from master - Jan 14

HA setup with 2 DO clusters.

Steps to reproduce the problem:
1. Create globalDnsProvider with root domain - "test.com"
2. Create a globalDns entry  with fqdn - "test1.test.com" with projectIds set to all.
3. In user cluster - Cluster1,  Create Ingress - ingress1 using annotation - rancher.io/globalDNS.hostname=test1.test.com which points to a

[2019-01-15 20:17] erikwilson commented on #15444
The logo change looks good. Maybe @westlywright or @vincent99 can comment on the issues with using `input-slider`, I am on MacOS 10.14.2 and the slider is not working in Chrome, Firefox, or Safari.

[2019-01-15 20:18] sangeethah opened #17451 "Deletion of ingress with global fqdn set does not result in Route53 entry from being deleted."
Rancher server version - Build from master - Jan 14

HA setup with 2 DO clusters.

Steps to reproduce the problem:
1. Create globalDnsProvider with root domain - "test.com"
2. Create a globalDns entry  with fqdn - "test1.test.com" with projectIds set to all.
3. In user cluster - Cluster1,  Create Ingress using annotation - rancher.io/globalDNS.hostname=test1.test.com which points to a  workload wi

[2019-01-15 20:44] strainovic commented on #16568
I ran into same the same problem. Not only workloads do not show but also all of other new resources.

[2019-01-15 20:57] JasonvanBrackel commented on #15037
@vincent99, I hear you and I completely get the problem not doing this would introduce.  I think this is fixable with a UI change.  Just needs to be clear to the user *exactly* what's about to happen when they link to the auth provider.

[2019-01-15 21:31] bmdepesa opened #17453 "UI - Rotate certificates allows to select individual service certs when choosing to rotate CA certs"
rancher/rancher:master (1/15)
rancher UI: v2.2.1

In the Rotate Certificates dialog, when `Rotate CA Certificates` is checked, the individual service options should be disabled; it could be confusing to the user as rotating the CA cert will also rotate all other certs.

![screen shot 2019-01-15 at 2 24 46 pm](https://user-images.githubusercontent.com/21316915/51211062-9fd0bf00-18d1-11e9-9fb6-061e6

[2019-01-15 21:39] davidnuzik commented on #17288
Version: master 2.2 (1/15/19 1:20PM PST)
Confirmed fixed. I was reproducing the issue with a slightly older build from the same day.
I tested by creating a LB service and this is now working. I also halo tested, test ingresses, etc and encountered no issues.

[2019-01-15 21:39] #17288 closed

[2019-01-15 21:43] sangeethah opened #17454 "Adding a new Global DNS with an fqdn for a project which has ingress with the same global fqdn configured does not result in route53 entry getting created."
Rancher server version - Build from master - Jan 14

HA setup with 2 DO clusters.

Steps to reproduce the problem:
1. Create globalDnsProvider with root domain - "test.com"
2. In user cluster - Cluster1/P1,  Create Ingress - ingress1 using annotation - rancher.io/globalDNS.hostname=test1.test.com which points to a  workload with host name rule pointing to "test1.test.com"
3. Create a globalDns ent

[2019-01-15 22:01] davidnuzik commented on #15070
Version: master 2.2 (1/15/19)
Confirmed enhancements. I was successfully able to set up a LB service (L4 LB with AKS) on my test nginx workload. It successfully routed per the port mapping and the front end UI was validated (HTTP w/ create, edit, delete, etc) and API as well as on the backend we ensured that our settings correctly ended up on the cluster (check json output for our lb service). Hal

[2019-01-15 22:01] #15070 closed

[2019-01-15 22:16] vincent99 commented on #17453
If that's the case then the whole UI is confusing, it should be something like:

[code]

[2019-01-15 22:18] sangeethah opened #17455 "When removing a project from GlobalDNS entry , ingress ips from the removed project are not getting cleared."
Rancher server version - Build from master - Jan 14
HA setup with 2 DO clusters.

Steps to reproduce the problem:
1. Create a globalDns entry with fqdn - "test1.test.com" with projectIds set to Cluster1 and project p1.
2. Create globalDnsProvider with root domain - "test.com"
3. In user cluster - Cluster1 and project p1, Create Ingress - ingress1 using annotation - rancher.io/globalDNS.hostname=te

[2019-01-15 22:56] alena1108 commented on #17455
Has the same nature as https://github.com/rancher/rancher/issues/17454. Discussed the fix with @prachidamle , it should address both issues.

[2019-01-15 23:08] jiaqiluo commented on #17355
Validated on master 1/15

Steps:

- provision a GKE cluster with one node, use the default configs for the rest.
- After the cluster is healthy, edit it.
- set node count to 2, click save.

Result:
The cluster runs up successfully.

[2019-01-15 23:08] #17355 closed

[2019-01-16 01:51] orangedeng commented on #17434
I think it has been taken care of. Adding environment variable `NORMAN_REFLECTOR_METRICS=true` should be able to disable the reflector metrics.

[2019-01-16 02:16] orangedeng commented on #17434
@cjellick Related PR is https://github.com/rancher/norman/pull/201.

[2019-01-16 02:40] proegssilb commented on #17248
I'm now running Kubernetes 1.12 (RKE v0.2.0-rc3), and still seeing high CPU usage until I follow the workaround.

[2019-01-16 02:43] vvkkhjt opened #17456 "failed to start user controllers for cluster c-xxxxx: timeout syncing controllers"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
1,import k8s cluster from qcloud
2,log rancher agent

**Result:**
rancher log:
![1547605892](https://user-images.githubusercontent.com/12765476/51222826-6011e200-197a-11e9-8f45-af9db86e459d.png)

rancher-agent log:
![1547605931](https://user-images.gith

[2019-01-16 02:47] loganhz commented on #16967
Added the permission for Manage Service role. Custom users with Manage Service role will be able to see the Grafana icon

[2019-01-16 03:19] loganhz commented on #17412
Link to https://github.com/rancher/rancher/issues/15879

[2019-01-16 04:18] jiaqiluo commented on #16799
Validated on master 1/15, single install

Each cluster has 1 etcd, 1 control plane, and 3 workers
Cluster congfig:
- Ubuntu 16.04 - docker version 17.03 , 17.06, 18.06
- RHEL 7.5 - docker version 1.13 (native)
- ROS 1.4.2 - docker version it comes with
- SLES - 12 SP2 - docker version 17.09.1_ce
- Ubuntu 18.04 - docker 18.06

Test area covered:
- Workload
- DNS record
- RBAC
- Ingress
- Secret
- R

[2019-01-16 04:18] #16799 closed

[2019-01-16 05:54] kingsd041 commented on #15966
@thxCode
I tested based on the latest rancher-agent (rancher/rancher-agent:v2.1.5-nanoserver-1803) and still have the same error.
[code]

[2019-01-16 06:57] kingsd041 commented on #15966
@thxCode
I tested based on the latest rancher-agent (rancher/rancher-agent:v2.1.5-nanoserver-1803) and still have the same error.
[code]

[2019-01-16 08:38] n313893254 commented on #17143
I try custom node to set up a cluster, select a workload and scale pod to 50. (image: ubuntu:xenial)
Check the API found the pod changes, but CPU/Mem not changes.
![image](https://user-images.githubusercontent.com/18737885/51236362-f101b100-19ac-11e9-8aa2-4304bda38652.png)
@loganhz I think it is backend issue.

[2019-01-16 09:17] n313893254 commented on #17263
Try 1/11/2019 master; the issue has fixed.

[2019-01-16 10:14] graememross commented on #17441
[rancher.log](https://github.com/rancher/rancher/files/2763614/rancher.log)

When I reported this yesterday, I had a good look around the container and I noticed that the catalog-manager cache was over 6.5Gb of data. I cleared this out and restarted the server.

Since then the container seems to be stable (at least it has not restarted in the last 24 hours)

Could it be something to do with the ca

[2019-01-16 10:51] kinolaev commented on #15817
Hello @cjellick!

This is very sad news, considering that PRs were created almost 4 months ago, they have only ~400 changes, they have no breaking changes and they already tested and used in our production system.

RancherOS part is merged and released in 1.5.0, UI and machine parts are reviewed. UI part is relatively big, but machine is only 100 added lines (approved by @StrongMonkey). Maybe you

[2019-01-16 11:14] graememross commented on #17441
Talked too soon. The situation seems better (almost 24 hours without a restart) but it is still restarting. It happened again about the 10:34 point in the log

[rancher.log](https://github.com/rancher/rancher/files/2763865/rancher.log)

[2019-01-16 14:18] rpelissi opened #17460 "Load Balancer Layer 7 not working"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

**Steps to reproduce (least amount of steps as possible):**
- Install rancher 2 nodes 2.1.3 on vm/baremetal, 1 node will etcd/worker/controller, one node will be worker only
- Install a workload (hello world should be enough) and expose a port
- Create a LB Layer7 that will expose the workload to a specific host

[2019-01-16 14:52] quorak commented on #16873
can anyone reproduce this?

[2019-01-16 18:32] rajgpl opened #17461 "Support for other values for restartPolicy than Always"
Rancher versions:
rancher/server or rancher/rancher: v2.1.5
rancher/agent or rancher/rancher-agent: v2.1.5

What I did:
- Created a Workload without a restartPolicy
- The job was created with restartPolicy defaulting to Always
- Tried to create the Workload with values OnFailure, Never. It says not supported. Only supported is: Always.

This is the error message captured in the UI:
ImportYaml Erro

[2019-01-16 18:39] thxCode commented on #15697
@sangeethah , FYI, https://github.com/rancher/kontainer-engine/pull/107#issuecomment-452272906

[2019-01-16 19:18] vincent99 commented on #17461
The options in kubernetes are what they are and are not really going to change unless k8s does.  2.x shares roughly no backend code and in general no labels from 1.x are relevant.

The rough equivalent of what you're looking for is either jobs (a different kind of workload) or "init" sidecar containers on a deployment (similar to a sidekick with start once in 1.x)

[2019-01-16 21:17] rajgpl commented on #17461
Thank you, Vincent. Will try jobs and sidecar containers.

I am using RKE v1.11.6. From the Kubernetes docs, I see restartPolicy field has possible values Always, OnFailure, and Never
https://v1-11.docs.kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

I am not sure if I am missing something.

[2019-01-16 22:08] vincent99 commented on #17461
Further down on that page:

[code]

[2019-01-16 22:35] rajgpl commented on #17461
Ah .. I see.

Thank you so much for the help. Workload type Job worked for me.

[2019-01-16 22:35] #17461 closed

[2019-01-17 00:02] prachidamle opened #17462 "GlobalDNS: handle RBAC when both either projectId or multiclusterappId is not set"
When GlobalDNS is created, user should set either
a) projectId
b) multiclusterappId

But if none of the above is set on the GlobalDNS, what RBAC rules should apply to the GlobalDNS? Should only admins be able to create a GlobalDNS without any of the project/multiclusterapp?

This ticket is more for followup, for 2.2 we have decided to always have either of the above two set on GlobalDNS

cc @alena

[2019-01-17 01:32] ukinau commented on #15907
In my opinion, we should close this issue and then we should try to resolve other tickets one by one, otherwise this ticket will never be closed because another cluster state related problem can always be came up anytime.

[2019-01-17 01:58] ibrokethecloud commented on #13314
Turns out the cluster api definition shows the apiEndpoint and rkeConfig to still contain the node that I have already deleted from the ui, hence the issue while re-adding the instance again.

Rancher seems to think this node should already have the api servier running and hence the error in the mnt-shared where its trying to start kublet.

[2019-01-17 03:35] n313893254 commented on #14949
@loganhz on `master` branch, it had defined `dockerBridgeCidr `.

https://github.com/rancher/ui/blob/d7961211cffc6d00b11a627c8a2636223dcc5389/lib/shared/addon/components/cluster-driver/driver-azureaks/template.hbs#L316-L334

I think it had solved.

[2019-01-17 07:01] n313893254 commented on #17325
@loganhz Compared and tested in `master` and `v2.1.5`, Already fixed in `master`.

[2019-01-17 07:23] Gambler13 opened #17463 "Unable to add sidecar to existing Stateful set"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a stateful set (e.g. deploy Redis from catalog)
2. After successful deploy, try to add a sidecar (Prometheus exporter)

**Result:**
`Validation failed in API: StatefulSet.apps "redis-master" is invalid: spec: Forbidden: updates to statefulset spec

[2019-01-17 08:52] strainovic opened #17464 "Restore accidentally deleted workload"
If someone accidentally delete some workload, how can we get it back?

I've tried to restore hole app to the current (latest) revision but it does not help.

Workaround would be to restore app on the version before the latest revision and then Rancher will return deleted workload but it would not be the latest state of deployment, so you need to restore once again to the latest version after succe

[2019-01-17 09:39] chrigi commented on #17092
@alena1108

I can try getting these logs the next time we attempt the upgrade but considering the involved rollback we are a bit hesitant at the moment.

[2019-01-17 10:03] ronny35 opened #17465 "Rancher-cli produces Warning about port mapping"
**What kind of request is this (question/bug/enhancement/feature request):**
I deploy some services via rancher-cli but this action produces this warning:
"This workload is not created by Rancher UI or Rancher API. Rancher will not automatically create related services for port mapping" in rancher-ui

**Steps to reproduce (least amount of steps as possible):**
rancher-cli app install helm-repo/ngi

[2019-01-17 12:58] materemias commented on #13158
#17346 is related, some charts need a non-string `true` to work. without this nodeAffinity cannot be set on most charts if launched from Rancher.

[2019-01-17 13:22] wuchencm opened #17466 "so many rancher agent running ?"
*
![image](https://user-images.githubusercontent.com/14210543/51321480-dc511600-1a9d-11e9-83cd-7bff7fdb2c50.png)
*

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.1.5` UI: `v2.1.19` |
|Route|`node`|

[2019-01-17 16:41] ekristen opened #17467 "UI: Feature Request - Add Option to Enable TLS Secrets in Load Balancing Rules"
I think it would also be good to add an option to the UI to tell rancher to automatically create a `secretName` if one doesn’t exist or indicate this should be a TLS endpoint without having to specify a cert manually.

[2019-01-17 16:41] ekristen commented on #14934
https://github.com/rancher/rancher/issues/17467

[2019-01-17 16:56] rajha-korithrien commented on #16449
Greetings!
I am using Rancher v2.1.5 on top of Rancher OS v1.4.2 and I have this same issue.

In the main Rancher UI under Global->Catalogs I have the following error message "Timeout in HTTP GET to [https://git.rancher.io/charts/index.yaml], did not respond in 30s"
![image](https://user-images.githubusercontent.com/8145476/51334041-3ae5a800-1a3c-11e9-9984-a455594c40ae.png)

I have a shell on one

[2019-01-17 17:38] aemneina opened #17468 "Node count on cluster view gets out of sync."
**What kind of request is this (question/bug/enhancement/feature request):**
bug, possible enhancement

**Steps to reproduce (least amount of steps as possible):**
When using [cluster autoscaler](https://github.com/kubernetes/autoscaler) after having a few large scaling events, the node count in the UI would become out of sync. After a few hours the node count reflected accurately but this misrepr

[2019-01-17 18:18] aemneina commented on #17468
Not sure this issue could be tied to this ticket: https://github.com/rancher/rancher/issues/16205

[2019-01-17 18:44] aemneina opened #17469 "RKE feature to declare master server URL"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Requested Feature:**
Looking to have RKE extended to enable/declare the use of an "external master server URL" that will be included automatically in the certificate SANS list (without adding it in the sans parameters), in the API server extra_args (without adding it in the api server extra_args parameters)

[2019-01-17 19:36] shubb30 commented on #15868
I see the same behavior when creating a cluster using RKE directly (version v0.1.15).  I presume that Rancher uses RKE under the hood to provision hosts in a provider.

[2019-01-17 19:50] pdube commented on #15444
Thanks. I am using MacOS 10.13.6 and it's working in FF, Chrome and Safari. I have fixed the Debian template filtering and will add the URL and checksum soon™

[2019-01-17 20:25] shubb30 commented on #15868
I tried the above workaround by adding a new node with roles `[controlplane,worker,etcd]` to the cluster.yml file, and ran `rke up` again.  I see that the node is added to the cluster fine.

When I query the server certificate on the new host, I see that the certificate has the new SAN that I added to the cluster config.

However, the original host did NOT get the updated certificate, and when I c

[2019-01-17 20:29] aiwantaozi commented on #17383
@sdanieru you could see under system project/workload alertmanager

[2019-01-17 20:44] shubb30 commented on #17447
It looks like this might be related to #14997 and #16221.

[2019-01-17 20:48] pdube commented on #15444
* URL : `https://objects-east.cloud.ca/v1/5ef827605f884961b94881e928e7a250/ui-driver-cloudca/v2.1.2/component.js`
* Checksum : `1f25aaa44c1f7c8e7bf3517247b35d2e`

[2019-01-17 20:50] DarkBlaez opened #17470 "[controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck"
Decided to give this a go under DigitalOcean.

I have tried spinning up a single node instance and 3 node instances. There are all through adding a new cluster. The VMs are being spun up and built by Ranger automated. Taking the default OS, Region, etc. However, increased nodes to 8G 4vCPU, plenty of SSD. Again tried single node, tried 3 node.

Tried Ubuntu 16.XX, tried CentOS 7.5

result is the s

[2019-01-17 20:57] nickolaskraus-wf opened #17471 "Rancher CLI should expose Helm timeout flag"
**What kind of request is this (question/bug/enhancement/feature request):**

🐞Bug

**Steps to reproduce (least amount of steps as possible):**

When attempting to deploy a Helm chart via Rancher that requires the `--wait` and `--timeout` flag, the deploy fails.

The Helm chart in question is [stable/sentry](https://github.com/helm/charts/tree/master/stable/sentry).

In order for this chart to dep

[2019-01-17 21:52] soumyalj opened #17472 "Cluster level alert for a normal pod event does not get sent out"
Version: Master

**Cluster information**
Single node

Steps:
1. Create a DO cluster
2. Set up a notifier using slack
3. Create an alert at the cluster level for a normal pod event. Set the alert to send critical event.
4. Create a pod "test1" in the default project, alert gets sent as expected.
5. Create a new project and create a pod "testnew" in the new project.

Alert does not get sent for the

[2019-01-17 22:03] DarkBlaez commented on #17470
I also tried this with additional nodes with Centos 7.5, Docker 1.13.x

3 etcd nodes (2G, 2vcpu)
2 Control Plane (2G, 2vcpu)
2 Workers  (4G, 2vcpu)

Same result
[controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck: Failed to check https://localhost:6443/healthz for service [kube-apiserver]

[2019-01-17 22:04] mhermosi opened #17473 "Rancher v2 API v3, Adding SSL cert using curl"
Hi,

I am trying to create/update SSL certificates using API v3.

When I use Postman it works with no problem but when using curl I get this error:

`{
  "baseType": "error",
  "code": "Invalid",
  "message": "Secret \"c-zbvzf\" is invalid: [data[tls.crt]: Required value, data[tls.key]: Required value]",
  "status": 422,
  "type": "error"
}`

I am sending this JSON as data:
`I am sending { “certs”

[2019-01-17 22:13] mhermosi commented on #17473
ok I think is a text interpolation issue

[2019-01-17 22:42] materemias opened #17474 "Feature request: set git branch to monitor with pipeline"
I would like to have a setting to select which git branch to monitor with a pipeline. This way I could have separate configs in different branches and it were easy to have a pipeline for staging and a pipeline for prod.
Right now my staging cluster builds the prod pipeline as well because it gets triggered when a commit happens on prod branch. Ideally I would connect my staging cluster to only lis

[2019-01-17 23:35] superseb commented on #17470
Can you describe the steps you are taking in more detail so I can run them? Please also share the logs from the `rancher/rancher` container and the output of `docker logs kube-apiserver` from the node(s) created. (see https://rancher.com/docs/rancher/v2.x/en/faq/technical/#how-can-i-access-nodes-created-by-rancher how to access them)

[2019-01-17 23:38] loganhz commented on #17466
Close in favor of https://github.com/rancher/rancher/issues/14735

[2019-01-17 23:38] #17466 closed

[2019-01-18 01:49] #17473 closed

[2019-01-18 01:49] mhermosi commented on #17473
It was a text interpolation issue on my shell script

[2019-01-18 05:49] sangeethah commented on #15911
K8s 1.12 was validated with docker 18.06 as part of validating -  https://github.com/rancher/rancher/issues/15956

[2019-01-18 05:49] #15911 closed

[2019-01-18 08:29] n313893254 opened #17475 "Clone cluster alert rule throw an error"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Clone a cluster alert rule.
2. Click page.

**Result:**

![image](https://user-images.githubusercontent.com/18737885/51374577-7e283f80-1b3e-11e9-8857-e75297231f61.png)

[2019-01-18 09:16] FleischKarussel opened #17476 "[Question] Link to an older version of rancher/rke on release page?"
**What kind of request is this (question/bug/enhancement/feature request):**
Question:
Why does point the rke release v0.1.15 to https://github.com/rancher/rke/releases/tag/v0.1.13?
https://github.com/rancher/rancher/releases

**Steps to reproduce (least amount of steps as possible):**
n/a

**Result:**
n/a

**Other details that may be helpful:**

**Environment information**
- Rancher version (`ran

[2019-01-18 09:52] mcanevet commented on #17393
@vincent99 any idea?

[2019-01-18 10:34] rawmind0 commented on #13269
Testing image `rancher/external-lb:v0.3.5`, executing `external-lb` with provider `f5_BigIP` results a segmentation fault.

[code]

[2019-01-18 12:04] rbq commented on #14288
Same here. =/

[2019-01-18 12:12] j2l commented on #16461
Can't wait to test it on my RasPi.

[2019-01-18 12:25] qubusp commented on #14288
Well I solved it - we were giving it a false url, the right format would be: https://tokenfromuser@github.com/chartsrepo.git -- it has to end in .git

[2019-01-18 13:49] materemias commented on #16829
#17474 is related

[2019-01-18 14:17] mikhail-yarosh opened #17477 "View All Projects make create a namespace in wrong project"
Kind: Bug

**Steps to reproduce (least amount of steps as possible):**
Create a project in rancher
Create a local user with login permissions
Add it to a cluster with 'View All Projects' role
Add to a any one Project with 'Project member' role

Download the kubeconfig and use it.
create an NS via kubectl cli tool (NOT in web interface)

**Result:**
Namespace will be created in 'default' project

*

[2019-01-18 14:54] seag-rvc commented on #15791
While I'm not an Elasticsearch expert I faced the same issue. I think a better option for you would be to set number of shards in index template and bump up template order to something like 100. [https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-templates.html)

[code]

[2019-01-18 15:20] wrogrammer opened #17478 "[UI] Syntax issue -> typo enalbe"
https://github.com/rancher/ui/blob/master/lib/pipeline/translations/en-us.yaml#L379

**What kind of request is this (question/bug/enhancement/feature request):**
Syntax issue.

**Result:**

    Currently:
    Repository authentication is not enabled. You need to contact project owner to enalbe it first.

    Should be:
    Repository authentication is not enabled. You need to contact project owner

[2019-01-18 17:37] sixcorners commented on #10972
Couldn't this be documented on the page that gives you the command to run on the server?

[2019-01-18 18:57] sdanieru commented on #17383
so, I've also been playing around with alerts and notifiers for workloads: I setup a workload alert that should trigger if the workload drops below 100%; I then crippled the workload with taints so it can't run any pods anywhere - and the alert never triggers. Either I'm missing something here, or the Alert/Notification system in Rancher doesn't seem to be functioning properly. Is anyone successfu

[2019-01-19 08:58] iyzsong opened #17479 "The default header size of nginx ingress controller is not enough for large k8s CA data"
Hello, I try to import an existed CCE (huawei cloud) kubernetes cluster into my rancher (installed using rke and helm):
- First I get the `websocket: bad handshake` error from `cattle-cluster-agent`.
  After curl with the register wss endpoint, I got `400` with header too large error.
  Pass it by modify the nginx configmap with `large-client-header-buffers: 4 64k`.

- Then I got the `http2: serve

[2019-01-19 11:46] alexeyzimarev commented on #16577
@AlexMikhalev I used both `az` and Portal guidelines, same result.

[2019-01-19 17:54] erikwilson commented on #15444
Looks like the logo has changed back to 120pt x 90pt, filtering looks good, will see if I can find a resolution for the slider issue early next week.

[2019-01-20 09:25] paulmorabito opened #17480 "Cannot connect to iscsi"
**What kind of request is this (question/bug/enhancement/feature request):**

bug

**Steps to reproduce (least amount of steps as possible):**

1. Create iscsi volume and format disk as ext4. I am using a QNAP NAS. Assigned no CHAP or other authentication to it.
2. Create persistent volume and volume claim in rancher. When asked for "secret" i just typed secret.
3. Edit workload and add above volu

[2019-01-20 18:39] cayohollanda commented on #3412
Anyone knows how to do canary deployment in 2.0 rancher?!

[2019-01-20 18:47] cayohollanda opened #17481 "Canary deployment is possible on Rancher 2.0?"
Searching on the internet, im not have success to find a way to do the canary deployment on **Rancher 2.0**, its possible?

[2019-01-21 01:10] alena1108 commented on #16609
The fix is available in v0.1.1-rc2

[2019-01-21 01:37] alena1108 opened #17482 "Purge task gets created for the removed resources several times in a row in overloaded systems"
In 1.6 every minute we create purge for all resources in removed state.  If those purge tasks get queued or stuck we schedule new ones one minute later. The bug is usually observed on overloaded systems.
The fix could be - check if the task already exists in a `project_instance` table before creating a new one.

cc @ibuildthecloud

[2019-01-21 04:17] alena1108 commented on #13269
@patrick0057 @rawmind0 go build arguments were off after upgrading to go 1.10.3; fixed in https://github.com/rancher/external-lb/pull/32; the fix is available in v0.3.6 release

[2019-01-21 04:51] aiwantaozi commented on #17383
Hi @sdanieru this feature was tested, first it will detect whether the configured alerts happened, change the status to alerting, you could see in the UI; then call the Alertmanager API, Alertmanager was deployed in the cluster; third, Alertmanager will send out the alert to notifiers. So in your cluster, the second or third steps may have problems. I see in the rancher log, the server sometimes c

[2019-01-21 09:02] gitlawr opened #17483 "multi-cluster app stuck in installing state"
**Rancher version**
master 1/20

**Steps to reproduce**
1. install a mysql multiclusterapp to the default project, use default answers. e.g.:
[code]
2. wait until the app in the project becomes active, check mcapp's state

**Result**
It stays in `installing` state.

**Expected Result**
It goes to `active`

[2019-01-21 09:12] gitlawr opened #17484 "multi-cluster app: cannot change target projects"
**Rancher version:**
master 1/20

**Steps to reproduce (least amount of steps as possible):**
1. Deploy a multiclusterapp using Default project as the single target
2. Edit the mcapp via API UI, change the target project to System project id
3. Send update request

**Result:**
The target of the mcapp is updated, but the underlying app is still in the Default project.

[2019-01-21 09:16] superseb commented on #17476
It's a typo, thanks for the report.

[2019-01-21 09:16] #17476 closed

[2019-01-21 09:18] gitlawr opened #17485 "multi-cluster app: Failed to do rollback"
**Rancher Version**
master 1/20

**Steps to reproduce (least amount of steps as possible):**
1. Deploy a mysql multiclusterapp to Default project, use default answers.
2. Edit the mcapp via API UI, change `mysqlPassword` to a new value. send the request to do the upgrade.
3. Click rollback action in API UI, choose a previous multiClusterAppRevision. Send the request

**Result:**
Got a 500 server e

[2019-01-21 11:20] rawmind0 commented on #13269
@alena1108 image `rancher/external-lb:v0.3.6` is running fine.

[2019-01-21 11:45] grcann101 opened #17486 "Kubelet stopped posting node status"
One node in the cluster is experiencing errors and dropping out of the cluster.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.8` UI: `v2.0.67` |
|Access|`local` `admin`|
|Route|`containers.index`|

kubectl logs metrics-server-97bc649d5-6prqn   --namespace kube-system

E0120 19:35:05.000293       1 summary.go:374] Node 10.202.102.13 is not ready
E0120 19:35:12.527037       1 summary.

[2019-01-21 11:47] superseb commented on #17486
Please describe the situation in detail as requested in the issue template and described on https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions.

The log from the metrics servers shows it can't reach the kubelet to gather metrics, which makes sense as the kubelet seems to be down. The best place to look is in the kubelet container on the node that is reporting to be dow

[2019-01-21 12:14] hwaastad commented on #17481
Without a service mesh (ex istio), you can do ingress by selectors. (ex scale v1 of app as 10 and scale v2 of app as 1....)

[2019-01-21 12:34] superseb commented on #15489
- kubectld package updated for kubectl and helm versions: https://github.com/rancher/kubectld/pull/48 (this is `rancher/kubectld:v0.10.0` in the catalog PR)
- Catalog PR is https://github.com/rancher/rancher-catalog/pull/1208
- kubernetes-package needs a new branch, change here is the use of heapster v1.5.4 vs v1.6.0-beta.1 as it does not work out of the box and seems to lack release notes. Using

[2019-01-21 12:41] cayohollanda commented on #17481
In Rancher 1.6, we do canary with HAProxy, on haproxy.cfg, we consider up HAProxy was a default ingress on Rancher 2.0, what do you think about this?

[2019-01-21 16:17] davidnuzik commented on #15101
Version: master 2.2 (1/21/19)
No longer blocked by #17425 and I have **validated step 1 of 2** for the QA tests as indicated by Wes. I successfully deployed the example cluster driver. I validated the initial HTTP POST and edits (PUTs) and DELETE and validated the API per the instructions. Further, I reviewed the API schema to make sure it looks correct. There were no backend issues getting the cu

[2019-01-21 16:19] davidnuzik commented on #17425
Version: master 2.2 (1/21/19)
Confirmed fix. I can no longer reproduce the issue. I used https://github.com/rancher/kontainer-engine-driver-example/releases/download/v0.2.0/kontainer-engine-driver-example-linux (updated release) and observed no issues in the logs nor in the UI. The example driver successfully deployed see issue #15101 for details.

[2019-01-21 16:19] #17425 closed

[2019-01-21 16:37] cjellick opened #17487 "UI for enhancements to rancher settings"
UI for https://github.com/rancher/rancher/issues/17488

I am adding this on behalf of @orangedeng because I am not sure if the changes introduced in https://github.com/rancher/rancher/pull/17208 going to require UI changes to be fully utilized.
In short, if a setting is set via an environment variable a rancher start-up time, the setting is NOT EDITABLE. This was implemented by removing the update

[2019-01-21 16:42] cjellick opened #17488 "Settings that were set via environment variables should no be updatable"
While addressing https://github.com/rancher/rancher/issues/14392 and https://github.com/rancher/rancher/issues/17312, we introduced functionality to make the API more accurately reflect the state of settings in rancher.

Rancher has always functioned such that settings that were set as environment variables could not be updated via the API. However, they were just silently ignored when updated via

[2019-01-21 17:07] rawmind0 commented on #13269
Merged community-catalog PR updating package, https://github.com/rancher/community-catalog/pull/829

[2019-01-21 17:54] cjellick commented on #15817
Yes, I think I was too hasty in pushing this out. Pulling it back in. The machine changes are isolated enough that I am pretty confident they wont cause any unintended consequences.
Our crunch is in the testing phase, so if we run out of time, we might need to minimize the testing to ensuring there are no regressions.

[2019-01-21 17:57] cjellick opened #17490 "UI for Support vSphere network protocol profiles #2308"
see https://github.com/rancher/rancher/issues/15817
PR https://github.com/rancher/ui/pull/2308

[2019-01-21 18:02] erikwilson commented on #15444
@pdube It looks like we are seeing different behavior due to using different versions of the UI, if you update the `ui-index` setting of Rancher server to `https://releases.rancher.com/ui/latest2/index.html` it should be possible to duplicate what I am seeing. Using a previous version 2.1.x of the UI the logo does not appear cropped and the `input-slider` works. Updated the UI to `latest2` (2.2.1)

[2019-01-21 18:09] cjellick commented on #17490
we're adding a handful of new inputs for the vSphere machine driver. The PR and root issue have good details on the fields being added
cc @kinolaev

[2019-01-21 18:11] alena1108 commented on #17482
Workaround: if you have tons of Purge task you can just straight up delete them from process_instance table with no harm.  They will be recreated if needed

[2019-01-21 19:03] alena1108 opened #17492 "Global DNS: add a provider alternative to Route53"
Today we support only one provider for the Global DNS feature - Route53. We have to add one more provider to the list, so the user has a choice.

https://github.com/rancher/rancher/issues/16014

[2019-01-21 19:05] alena1108 commented on #16014
Submitted a separate issue for adding the alternative global dns provider. Adding it won't change the logic for the global dns configuration, so this feature can be tested against route53.

[2019-01-21 19:08] cyrilbkr commented on #17422
any news ?

[2019-01-21 19:08] alena1108 commented on #17455
The fix should be:

[code]

[2019-01-21 19:20] alena1108 opened #17493 "MultiClusterApp/GlobalDNS removal should cleanup corresponding RBAC rules"
The rbac rules that get created for the MCA/GlobalDNS owner + members should be cleaned up on the corresponding object removal

[2019-01-21 19:23] alena1108 commented on #15718
No need to validate for now as ipvs support was added to address https://github.com/rancher/rancher/issues/16018

[2019-01-21 19:36] auras opened #17494 "TLS Handshake error: acme/autocert: unable to authorize"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
docker run --restart=unless-stopped -p 80:80 -p 443:443 rancher/rancher:v2.1.5 --acme-domain homelab.dumanovschi.com

**Result:**
[code]

**Other details that may be helpful:**
I have set ```192.168.2.19 homelab.dumanovschi.com``` in the hosts file on the se

[2019-01-21 19:41] davidnuzik opened #17495 "Unable to remove cluster that was created with example pluggable driver"
Version: master 2.2 (1/21/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add our example custom cluster driver: https://github.com/rancher/kontainer-engine-driver-example/releases/download/v0.2.0/kontainer-engine-driver-example-linux (or latest release)
- Note, you will need the ui-cluster-driver-

[2019-01-21 19:44] jiaqiluo commented on #17148
Validation FAILED on Rancher:master 1/21.

Steps:
the same as the above comment describes.

Results:
1. For EC2 cluster, there is only one line for adding a naemsapce in the log, which is the expected output
[code]
2. For DO cluster, the same message showed twice and there is an error message between them:
[code]
3. After stopping and re-starting the Rancehr server, I did not see this message in t

[2019-01-21 19:57] davidnuzik commented on #15101
Version: master 2.2 (1/21/19)
I have **validated step 2 of 2** for the QA tests as indicated by Wes. I successfully built and started the example ui skeleton via https://github.com/rancher/ui-cluster-driver-skel/tree/google-gke-example
In the UI I was able to get this to work without issue; I validated HTTP and using the example I was able to provision a GKE cluster via the UI. Validated edit clus

[2019-01-21 19:57] #15101 closed

[2019-01-21 20:09] auras commented on #17494
Ok I read that it will check that I own the domain by checking if the A record of that address resolves to the same ip Address. I have registered the domain and pointed the dns records to the local ip. Do I need to tell rancher what is the public ip?

[2019-01-21 20:21] blackholegalaxy opened #17496 "Restrain API keys scope in rancher 2"
**Request type**

This is a feature request.

** Context **
Our rancher 2 HA installation is now used in production to manage a dozen of various clusters for our clients infrastructures.

We use Rancher CLI to manage common tasks from our CI, and to be able to do that we created API keys.

** Motivation **
The problem is API keys are not scoped to any cluster or project. They are kind of global.

[2019-01-21 20:43] alena1108 commented on #17336
@galal-hussein can we update weave version for k8s 1.12 as well? https://github.com/rancher/types/blob/ca1efcec973c149667b17776bb704710a6f3d566/apis/management.cattle.io/v3/k8s_defaults.go#L742

We can also add 1.12.5 as it's the latest version

[2019-01-21 20:48] jiaqiluo commented on #16967
Validated on Rancher: master 1/21

Steps:
- logged in as admin to create a new project and enable the project level monitoring
- deployed several workloads in the project
- added several Github users to the project as different roles: project member, project read-only member, project custom member with permission to view workloads
- logged in as those users to check workload under the project

Res

[2019-01-21 20:48] #16967 closed

[2019-01-21 20:58] alena1108 commented on #13269
Reopening as it seems to be the miscommunication, and the original issue is not addressed with the bigip update. On the bigip side - even on master - the put is used in place of patch: https://github.com/scottdware/go-bigip/blob/master/ltm.go#L1818

Marking the issue with `has-dependency` flag; have to figure out the steps forward as the problem in not in the external-lb code not being up to date,

[2019-01-21 21:04] davidnuzik opened #17497 "Minor en-us translation spelling/grammar fixes around Project/Cluster Logging"
Version: master 2.2 (1/21/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, minor

**Steps to reproduce (least amount of steps as possible):**
Launch the cluster or project logging page to see the following:
- [x] SSL Configuration help text needs "enabled" to be changed to "enable"
%loggingPage.ssl.headerHelp%
![image](https://user-images.githubusercontent.com

[2019-01-21 21:05] auras commented on #17494
Found the problem.

I had to point the A record to my public ip address but on my local computers point the domain to the local ip address.

[2019-01-21 21:05] #17494 closed

[2019-01-21 21:08] davidnuzik opened #17498 "Minor helptext issue in Kafka logging area"
Version: master 2.2 (1/21/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, minor

**Steps to reproduce (least amount of steps as possible):**
- Go to cluster or project level logging. Select Kafka and select the "Broker" endpoint type. Compare its help text under the endpoint field to Zookeepers.

**Result:**
Zookeeper has helptext under the endpoint field but

[2019-01-21 21:24] slaterjon opened #17499 "Windows Nodes crashing after 2-3 days"
What kind of request is this (question/bug/enhancement/feature request):bug
Steps to reproduce (least amount of steps as possible):
Start a rancher 2.1.x k8s cluster on AWS EC2 with Windows Nodes running Server Core 1803.

After a couple days 2-3 all memory will be consumed on Windows Nodes, causing the node to become unresponsive, and forcing you to restart or shutdown the node via ec2 ui.

The m

[2019-01-21 21:26] #17475 closed, assigned to tfiduccia, n313893254, davidnuzik

[2019-01-21 21:30] rawmind0 commented on #13269
Opened and issue on library provider repo, https://github.com/scottdware/go-bigip/issues/80

[2019-01-21 21:35] davidnuzik opened #17500 "When cloning cluster alert rule throws and error when pick some radio buttons"
Version: master 2.2 (1/21/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Clone any cluster alert rule. Notice that when you pick some of the radio buttons such as change to "Send a Info" instead of "send a "Warning" you will get an error in the browser console.

**Result:**
The browser console wil

[2019-01-21 21:35] davidnuzik commented on #17475
Entered possibly related issue: #17500

[2019-01-21 21:37] erikwilson commented on #15444
Not sure if the setting is broken on a previous version or dev only, but it seems to work on master.

[2019-01-21 21:54] davidnuzik commented on #17267
Version: master 2.2 (1/21/19)
Confirmed fix. Units are now in MiB only.
When creating:
![image](https://user-images.githubusercontent.com/45179589/51500584-c4bea980-1d8b-11e9-9a56-e47e7c5908f7.png)
When checking workload details:
![image](https://user-images.githubusercontent.com/45179589/51500570-b96b7e00-1d8b-11e9-8359-6e7ca6c6d956.png)

When I create values in MiB in the UI they are expressed c

[2019-01-21 21:54] #17267 closed

[2019-01-21 22:20] alena1108 commented on #10252
There are 2 parts to the fix.

1)  In rancher versions < 1.6.18 system containers like metadata, ipsec, scheduler weren't taking precedence over regular containers on start. It could result in the system being overloaded when user containers start was attempted before ipsec or metadata container even had a chance to come up. The issue was addressed by dedicating a threadpool for the system contain

[2019-01-21 22:55] brechsteiner commented on #17416
the same problem here

[2019-01-21 23:02] Oats87 opened #17502 "Kubelet container being constantly restarted due to "Env has changed from""
*What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Haven't determined this yet

**Result:**
Kubelet is constantly being restarted

**Other details that may be helpful:**

`cattle-node-agent` logs are:
[code]

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown

[2019-01-21 23:31] davidnuzik commented on #17153
Version: master 2.2 (1/21/19)
Confirmed enhancement. There is now only one username/password field and if you need to switch to local user you are able to do so.
Screenshot:
![image](https://user-images.githubusercontent.com/45179589/51503712-cd1de100-1d99-11e9-9172-32b598289dcd.png)
When you click on login with local you will get an option to use your auth provider instead to switch back if neces

[2019-01-21 23:31] #17153 closed

[2019-01-21 23:51] davidnuzik commented on #15394
Version: master 2.2 (1/21/19)
Confirmed fix. I am not able to reproduce the issue. I tried to smoke test and put a load on a workload or two as well and regardless of what I did I could not reproduce the issue.
Note: The telemetry data can be checked by accessing https://<rancherserver>/v1-telemetry

[2019-01-21 23:51] #15394 closed

[2019-01-21 23:59] erikwilson commented on #15788
Notes: Testing on master initially produced an error like:
``
2019/01/21 16:09:11 [ERROR] NodeController c-jn98d/m-2rfl2 [node-controller] failed with : Error creating machine: Error in driver during machine creation: compute.VirtualMachinesClient#CreateOrUpdate: Failure responding to request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error. Status=409 Code="OperationNo

[2019-01-22 00:10] loganhz commented on #16769
@guangbochen Do we need an UI change for this?

[2019-01-22 00:32] soumyalj opened #17503 "etcd restore from S3 backup fails for a broken cluster and healthy cluster"
Version: Master
K8s version: 1.11.6

**Steps to reproduce (least amount of steps as possible):**
1. Create a DO cluster with 3 nodes having all roles in each
2. Create workloads/ingress
3. Edit the cluster and provide S3 backup config as below:
[code]
4. Wait for cluster update to complete and allow backup to be created in S3
5. Break the cluster by deleting the etcd containers in two hosts
6. Res

[2019-01-22 00:56] soumyalj commented on #17503
The same issue was observed when restoring a backup to a healthy cluster.

[2019-01-22 01:20] alena1108 commented on #10252
resolved in scheduler build v0.8.6; available in `rancher/server:v1.6.26-rc2`

[2019-01-22 01:47] aiwantaozi commented on #16011
Related PR https://github.com/rancher/rancher/pull/17209

[2019-01-22 02:29] soumyalj opened #17504 ""Backup now" operation on a cluster should provide info to the user that a backup was performed"
Version: Master
Steps:
1. Create a DO cluster with S3 configuration
2. Click on edit cluster and perform "Backup now"
3. Backup is performed which can be observed in S3 and also
https://testabc/v3/clusters/c-8hddb/etcdbackups

There is no information to the user that a backup actually happened.
User feedback must be provided that a backup was performed with the pointer to where they can find it.

[2019-01-22 02:52] fyery-chen opened #17505 "The websocket can not return the removed events when deleting a namespace via a non-admin user"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Creating a non-admin user A and granting A role of `project member` so that it can delete namespaces.
Login via user A.
Deleting namespace N (please create N if there is not this namespace)

**Result:**
![image](https://user-images.githubusercontent.com/6060

[2019-01-22 03:11] zhengll0514 opened #17506 "[controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck: Failed to check https://localhost:6443/healthz for service [kube-apiserver] on host [192.168.2.27]: Get https://localhost:6443/healthz: read tcp [::1]:54386->[::1]:6443: read: connection reset by peer, log: I0122 03:02:45.241013 1 plugins.go:161] Loaded 6 validating admission controller(s) successfully in the following order: LimitRanger,ServiceAccount,Priority,PersistentVolumeClaimResize,ValidatingAdmissionWebhook,ResourceQuota."
**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):
- Installation option (single install/HA):

**Cluster information**
- Cluster type

[2019-01-22 03:33] rootwuj commented on #17225
@gitlawr It does not print error, but it still doesn't work. Always in the build.

<img width="1618" alt="deploy" src="https://user-images.githubusercontent.com/42061003/51510752-57695200-1e39-11e9-975a-ea7dc02bb570.png">

[2019-01-22 03:41] sangeethah opened #17507 "When GlobalDNS entry is edited and set to different multicluster App , dns entries relating to the older multicluster App instances continue to be programmed in Route53."
Rancher server version - Build from master - jan 21

Setup - HA setup with 4 clusters.

Steps to reproduce the the problem:
1. Create Multicluster App - mcapp1 for cluster1 and cluster2 with Global DNS enabled Ingress for fqdn - "test1.test.com"
2. Create globalDnsProvider with root domain - "test.com"
3. Create a globalDns entry  with fqdn - "test1.test.com" pointing to Multicluster App - mcapp1.

[2019-01-22 03:57] gitlawr commented on #17225
@rootwuj Try to add all required answers to move on testing for now. We need `--no-prompt` flag to skip interactive questions under the hood.

[2019-01-22 04:47] cjellick commented on #14392
@orangedeng @loganhz can this be sent to test now? no additional changes needed, right?

[2019-01-22 04:47] cjellick commented on #17312
@orangedeng @loganhz can this be sent to test now? no additional changes needed, right?

[2019-01-22 04:48] loganhz commented on #14392
Yes, please assign it to the QA team

[2019-01-22 05:21] loganhz commented on #17506
Can you supply more info on your setup, please? (basically copy paste from this and fill in: https://raw.githubusercontent.com/rancher/rancher/master/.github/ISSUE_TEMPLATE.md)

There is even no reproduce steps and no rancher version in your issue.  Please create a new issue if you have the required information for an issue

[2019-01-22 05:21] #17506 closed

[2019-01-22 05:30] loganhz commented on #9092
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:30] #9092 closed

[2019-01-22 05:32] loganhz commented on #9313
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches. Please let me know if you think this issue is critical.

[2019-01-22 05:32] #9313 closed

[2019-01-22 05:33] loganhz commented on #9711
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:33] #9711 closed

[2019-01-22 05:33] loganhz commented on #9785
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:33] #9785 closed

[2019-01-22 05:34] loganhz commented on #9914
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:34] #9914 closed

[2019-01-22 05:35] loganhz commented on #9933
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:35] #9933 closed

[2019-01-22 05:35] loganhz commented on #10315
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:35] #10315 closed

[2019-01-22 05:36] loganhz commented on #11947
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:36] #11947 closed

[2019-01-22 05:37] loganhz commented on #12150
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:37] #12150 closed

[2019-01-22 05:38] vincent99 commented on #10315
Also 2.x has an API call for this (and I think CLI command already).

[2019-01-22 05:38] loganhz commented on #13869
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:38] #13869 closed

[2019-01-22 05:40] loganhz commented on #14415
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:40] #14415 closed

[2019-01-22 05:41] loganhz commented on #16170
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:41] #16170 closed

[2019-01-22 05:41] loganhz commented on #16231
Close in favor of https://github.com/rancher/rancher/issues/16719

[2019-01-22 05:41] #16231 closed

[2019-01-22 05:42] loganhz commented on #16376
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:42] #16376 closed

[2019-01-22 05:44] loganhz commented on #16094
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:44] #16094 closed

[2019-01-22 05:45] sangeethah opened #17508 "cattle-global-data namespace which has resources relating to Global DNS is not part of any project."
Rancher server version - Build from master - Jan 21

Setup - HA setup with 2 clusters.
Steps to reproduce the the problem:

1. Create Multicluster App - mcapp1 for cluster1 and cluster2 with Global DNS enabled Ingress for fqdn - "test1.test.com"
2. Create globalDnsProvider with root domain - "test.com"
3. Create a globalDns entry with fqdn - "test1.test.com" pointing to Multicluster App - mcapp1.

[2019-01-22 05:46] loganhz commented on #16401
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:46] #16401 closed

[2019-01-22 05:46] loganhz commented on #16517
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:46] #16517 closed

[2019-01-22 05:47] loganhz commented on #16544
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:47] #16544 closed

[2019-01-22 05:48] loganhz commented on #16558
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:48] #16558 closed

[2019-01-22 05:48] loganhz commented on #16663
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:48] #16663 closed

[2019-01-22 05:51] loganhz commented on #16987
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:51] #16987 closed

[2019-01-22 05:53] loganhz commented on #17157
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:53] #17157 closed

[2019-01-22 05:55] loganhz commented on #17323
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:55] #17323 closed

[2019-01-22 05:56] loganhz commented on #17415
Thanks for the report. With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 05:57] #17415 closed

[2019-01-22 06:00] loganhz commented on #16694
Thanks for the report. With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 06:00] #16694 closed

[2019-01-22 06:00] loganhz commented on #16707
Thanks for the report. With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 06:00] #16707 closed

[2019-01-22 06:01] loganhz commented on #17004
Thanks for the report. With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 06:01] #17004 closed

[2019-01-22 06:02] loganhz commented on #17047
Thanks for your report!

With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 06:02] #17047 closed

[2019-01-22 06:04] loganhz commented on #17372
Could you provide the reproduce steps, please?

[2019-01-22 06:05] loganhz commented on #17449
Could you provide the reproduce steps, please?

[2019-01-22 06:16] loganhz commented on #2592
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 06:16] #2592 closed

[2019-01-22 06:18] loganhz commented on #9026
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-01-22 06:18] #9026 closed

[2019-01-22 06:20] loganhz commented on #9343
Close in favor of https://github.com/rancher/docs/issues/1105

[2019-01-22 06:20] #9343 closed

[2019-01-22 07:03] loganhz commented on #11477
This should be a kubernetes issue. Rancher doesn't do anything special for exposing an internal IP via ingress.
Please file a new issue with reproduce steps as this ticket is originally for 1.6.
Thanks a lot.

[2019-01-22 07:03] #11477 closed

[2019-01-22 07:14] loganhz commented on #12099
Closed with https://github.com/rancher/rancher/issues/15936

[2019-01-22 07:14] #12099 closed

[2019-01-22 07:30] loganhz commented on #12335
Now we are using k8s 1.12 as the vendor. Close it as it has been addressed.

[2019-01-22 07:30] #12335 closed

[2019-01-22 08:51] micw commented on #15310
@sangeethah I had the problem with 2.1.3 today...

[2019-01-22 09:18] guangbochen opened #17510 "UI for support force-upgrade in the rancher catalog"
**Problem:**
UI for support force-upgrade in the rancher catalog.

**Solution:**
add `force-upgrade` option for both upgrade and rollback.

**Related Issues:**
https://github.com/rancher/rancher/issues/16769

**Related PRs:**
https://github.com/rancher/rancher/pull/17193

[2019-01-22 09:18] guangbochen commented on #16769
created related UI issue - https://github.com/rancher/rancher/issues/17510

[2019-01-22 09:21] loganhz commented on #12614
Please try current rancher/rancher:stable. It works well. Please let us know in a comment if you can still reproduce the issue.

[2019-01-22 09:21] #12614 closed

[2019-01-22 09:41] loganhz commented on #12648
Close in favor of https://github.com/rancher/rancher/issues/15041

[2019-01-22 09:41] #12648 closed

[2019-01-22 10:23] rootwuj opened #17511 "Pipeline applyApp step to upgrade cluster and project level catalog app failed"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

1. Add cluster and project level catalog
2. Edit Pipeline Configuration
3. Select the cluster and project level catalog in the pipeline applyApp step
4. Run the pipeline and run successfully
5. Run the pipeline again and it will perform the upgrade

[code]

[2019-01-22 10:26] NicolasDEVOUGE opened #17512 "vSphere provisionned cluster failed"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

Create cluster provisionned by vSphere

**Result:**

Error :

2019/01/22 10:22:34 [ERROR] NodeController c-nnpsb/m-md7zs [node-controller] failed with : Error with pre-create check: "Post https://192.168.70.10:443/sdk: dial tcp 192.168.70.10:443: i/o timeou

[2019-01-22 11:07] grcann101 commented on #17486
Kubelet Version v1.11.3
Kube Proxy Version v1.11.3
Docker Version 17.3.2
Kernel Version 4.14.32-rancher2
Operating System RancherOS v1.4.0
Created 10/24/2018

Component | Version
-- | --
Rancher | v2.0.8
User Interface | v2.0.67
Helm | v2.9.1-rancher1
Machine | v0.15.0-rancher1-1

[2019-01-22 11:07] #17486 closed

[2019-01-22 12:43] gitlawr commented on #17511
When upgrading an app deployed from project level catalog, cli returns the above error. Might be related to recent catalog/template rbac rework.

[2019-01-22 12:44] superseb commented on #17397
Automation for adding nodes to cluster is shown in the quickstart guides: https://github.com/rancher/quickstart

You can extract the command from: `$RANCHER_URL/v3/clusterregistrationtoken`

[2019-01-22 12:44] #17397 closed

[2019-01-22 12:55] aiwantaozi commented on #17448
Hi @davidnuzik  , do you have any environment or more details? I could not reproduce it.

[2019-01-22 13:05] wrogrammer opened #17513 "[UI] Syntax issue -> typo pileine"
https://github.com/rancher/ui/blob/master/lib/pipeline/translations/en-us.yaml#L368

What kind of request is this (question/bug/enhancement/feature request):
Syntax issue.

Result:
[code]

[2019-01-22 13:19] wrogrammer commented on #17513
PR:

https://github.com/rancher/ui/pull/2578

[2019-01-22 13:41] digeler commented on #14354
I am from MSFT and i dont think there is an issue with the CP(control plane).
i can easly repro the behavior : with 2.1.5
from cattle log ;
2019/01/22 13:25:05 [INFO] Error on LIST daemonSets: Get https://tvnet-2010bea5.hcp.northeurope.azmk8s.io:443/apis/apps/v1beta2/daemonsets?timeout=30s: net/http: request canceled (Client.Timeout exceeded while awaiting headers). Attempt: 1. Retrying
2019/01/22

[2019-01-22 14:19] loganhz commented on #12867
We will introduce alert group in 2.2. You can config recipients for a group of alerts.

[2019-01-22 14:19] #12867 closed

[2019-01-22 14:31] loganhz commented on #13112
Please let us know in a comment if you can still reproduce the issue in rancher 2.1.5, and we'll reopen it

[2019-01-22 14:31] #13112 closed

[2019-01-22 14:57] pdube commented on #15444
@erikwilson I had pushed the wrong svg. It is resolved now. It might be cached locally, but it is the correctly scaled image now. I am unsure of what to do for the slider. It sounds like a regression in the latest UI version? I am running rancher from the v2.1.0 image. I can try upgrading to v2.1.5, but it still sounds like something is wrong with the slider component. Thoughts?

[2019-01-22 15:02] loganhz commented on #13355
Please let us know in a comment if you can still reproduce the issue in v2.1.5, and we'll reopen it

[2019-01-22 15:02] #13355 closed

[2019-01-22 15:05] loganhz commented on #13413
This issue is for 2.0.0. It should be fixed in master.

[2019-01-22 15:06] loganhz commented on #13436
Please let us know in a comment if you can still reproduce the issue, and we'll reopen it

[2019-01-22 15:06] #13436 closed

[2019-01-22 15:10] mak3r opened #17514 "RFE: Allow users to authenticate with more than one Identity Provider."
**Feature Request**
Please add the ability to allow users to authenticate with more than one Identity Provider.
Also please consider adding the ability to authenticate with multiple identity providers of different types. For example allow a user to select authentication via Azure AD or Github or an LDAP provider or a SAML provider.

**Environment information**
Any modern Rancher version >= 2.x

[2019-01-22 15:10] loganhz commented on #13451
The project and cluster info will be pushed to your remote logging target

[2019-01-22 15:10] #13451 closed

[2019-01-22 15:15] INT-ZC opened #17515 "rancher agent lead to kubernetes failure"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
```sudo docker run --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.11 http://<ip-address>:8080/v1/scripts/<token>```

**Result:**
The output of kubelet get pods (or any other thing) would

[2019-01-22 15:15] loganhz commented on #13547
Fixed in https://github.com/rancher/rancher/issues/16853

[2019-01-22 15:15] #13547 closed

[2019-01-22 15:49] david-maumenee opened #17516 "How to activate Project Network Isolation when cluster is created with rancher CLI"
**What kind of request is this :** question

The AdminUI allow to activate "Project Network Isolation" when creating a cluster.

Is there a way to configure this option when cluster is created with rancher CLI ```rancher cluster create``` ?

I found nothing in the option or in the rke-config file.

[code]

Thanks

[2019-01-22 15:55] davidnuzik commented on #17448
Hi @aiwantaozi , I updated the issue description and reproduced again today with latest master. I added environmental information. The version used is on top.

[2019-01-22 15:59] dabeck commented on #5772
Do you have a hint where or how to add this native app to the "whitelist"?

[2019-01-22 16:13] sangeethah opened #17517 "Allowed to add invalid credentials when creating Global DNS Provider."
Rancher server version - Build from master 01/22

Steps to reproduce the problem:
Create a Global DNS Provider with invalid Access key /Secret key.
Global DNS Provider get created successfully.

Expected Behavior:
Global DNS Provider creation should fail with error message indicating that credentials are bad.

[2019-01-22 16:14] kinarashah commented on #17485
@gitlawr I'll put in a pr, but for temporary workaround (just so you're not blocked) - you can call the action with only the name, not `namespace:name`.

[2019-01-22 16:44] sangeethah opened #17518 "Allowed to delete Gobal DNS provider when they are attached to Global DNS entries."
Rancher server version - Build from master 01/22

Steps to reproduce the problem:
Create a Global DNS Provider .
Add a Global DNS entry which uses this Global DNS Provider.
Delete Global DNS Provider .
Global DNS Provider gets deleted successfully.

Expected Behavior:
Global DNS Provider should not be deleted since there are Global DNS entries associated with it.

[2019-01-22 16:54] sdanieru commented on #17383
Thanks for the troubleshooting suggestions. I found the problem: my taint/toleration strategy was preventing the AlertManager from having any nodes to deploy on. For now I'm using NodeSelector instead but using taints would be preferable, but most importantly alerts seem to be working fine now!
Is there a good way to add a toleration to the AlertManager deployment?

[2019-01-22 17:27] erikwilson opened #17519 "Rancher server SIGSEGV on RKE cluster provision"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Provisioned 3 node RKE cluster in Azure

**Result:**
[code]

**Other details that may be helpful:**
Found for testing of /issues/15788

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI

[2019-01-22 17:35] davidnuzik commented on #17226
@n313893254 could you briefly describe what the new logging TEST button is doing? Is it just validating the form or YAML? For example I can put in incorrect information such as wrong endpoint for fluentd and the test still passes.

[2019-01-22 17:46] int-tt commented on #17101
I have the same problem.
We are carrying out GitOps in the current project and deploying to development environment via rancher every time it is pushed to master branch.
In rancher, I think that the helm template of each Revision is held in the configmap which `gzip + base64` did, but in my cluster about 300 is exceeded, the total size of confgfigmap becomes close to 100 MB.

As a result also long

[2019-01-22 17:55] erikwilson commented on #15788
After creating a new 'managed' availability set in the Azure portal and then creating a new cluster using that availability set I am seeing errors like:
``
2019/01/22 10:07:47 [ERROR] NodeController c-cfmv5/m-xfllm [node-controller] failed with : Error creating machine: Error in driver during machine creation: compute.VirtualMachinesClient#CreateOrUpdate: Failure responding to request: StatusCode=

[2019-01-22 17:55] alena1108 opened #17520 "Support ALL as target for multi cluster app"
Today you have to select a specific project to deploy the Multi cluster app to. Need to add a way of deploying an app to *all* targets. Things to consider:

* RBAC
* the definition of all - all projects? all clusters?

[2019-01-22 17:57] alena1108 commented on #16016
Created a separate ticket for ALL targets support: https://github.com/rancher/rancher/issues/17520

[2019-01-22 18:12] jiaqiluo commented on #17434
The bug fix is validated on Rancher:master 1/21

Steps:
- ran Rancher sever container
- added 6 different clusters and enabled monitoring for all of them
- leave the server running for about 12 hours
- use pprof to fetch the heap profile

Result:
- Rancher server is running smoothly and using about 1 GiB memory overall
[code]
- the heap looks good and no memory leak from either Prometheus or metri

[2019-01-22 18:12] #17434 closed

[2019-01-22 18:17] cjellick commented on #15788
@erikwilson can you test two things:
1. if it is a timing issue where the managed AS needs to exist for some time before it works in their API
2. if this works in the latest 2.1 release

[2019-01-22 18:39] vincent99 commented on #17514
You can already go to the API and turn them all on today and the login page will work; this is disabled in the UI because the problems aren't in authenticating, but in if and how they work together once enabled:

- Associating & disassociating multiple provider identities to a single rancher user

- Merging and splitting accounts when someone gets the association wrong, and reassigning ownership o

[2019-01-22 18:47] moelsayed opened #17521 "Kubectl shell breaks after etcdbackup restore"
master (22/01)

After restoring a cluster from backup kubectl shell fails with this error:
[code]

[2019-01-22 18:58] westlywright opened #17522 "UI - input-slider component throwing errors"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
The input slider used in the template in rancher/rancher#15444 or the alerts functionality to bring up a view that uses the `input-slider` component.

**Result:**
A console error regarding setting the `elementId` after initialization is thrown.
If using the

[2019-01-22 19:14] westlywright commented on #15444
@erikwilson @pdube i've merged a PR that should fix the issue with `input-slider` but it is only in master right now so you'll have to use latest.

[2019-01-22 19:17] soumyalj commented on #10524
Tested with v1.6.26-rc2.
Specified a drain timeout while creating the services with image=abc/nginx with label set as "test=true"
Added a webhook to upgrade services with selector "test=true". Push an image to abc/nginx repo.
After upgrade, the drain timeout setting was retained as expected.

[2019-01-22 19:17] #10524 closed

[2019-01-22 21:00] alena1108 commented on #16530
The fix is available in `rancher/server:v1.6.26-rc3`

[2019-01-22 21:20] loganhz commented on #13672
I cannot reproduce this issue in v2.1.3. It should be fixed.

[2019-01-22 21:35] loganhz commented on #13804
The upstream issue has been closed. Please let us know in a comment if you can still reproduce the issue, and we'll reopen it

[2019-01-22 21:35] #13804 closed

[2019-01-22 21:37] Lukasz-pluszczewski commented on #10562
I have the same issue regularly with Rancher 1.6. Every time after server restart I struggle to make to rancher connect with it. Seems to me as critical issue as well.

[2019-01-22 22:00] jiaqiluo opened #17523 "Catalog - failed to edit catalog url"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Ran rancher server container
- Logged in as admin
- added a DO cluster with 3 nodes, one role on each
- added a catalog, either global or cluster, with the same url as the default catalog: ```https://git.rancher.io/charts```
- after the catalog is active,

[2019-01-22 22:12] cjellick commented on #15911
https://github.com/rancher/rancher/pull/17438

[2019-01-22 22:13] erikwilson commented on #15788
Sorry, actually it isn't working properly on master either. It looks like we might be deleting and re-creating the availability set as not managed. I am looking into why the initial `docker-machine create` failed, but we may want to add a managed flag for the UI when creating availability sets.

[2019-01-22 22:14] loganhz commented on #14161
Thanks!
Please try https://github.com/rancher/rancher/issues/14161#issuecomment-441962949

[2019-01-22 22:14] #14161 closed

[2019-01-22 23:54] westlywright opened #17526 "API Token Does Not Retain clusterId Field When Set"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Using the API UI create a new token
Ensure that a clusterId is set
Save and create token

**Result:**
The newly created token should have the same clusterId field but it returns as `null`

**Other details that may be helpful:**

**Environment information**
-

[2019-01-23 00:02] erikwilson commented on #15788
It looks like in order to support managed disks in availability sets properly that `docker-machine` will need to be modified to include SDK ManagedDisk parameters first introduced in 8.1.0-beta of github.com/Azure/azure-sdk-for-go (currently 5.0.0-beta). Unfortunately backwards compatibility issues prevent upgrading azure-sdk-for-go directly to 8.1.0-beta.

[2019-01-23 00:43] aiwantaozi commented on #17472
I reproduce what we have seen together, the new pod alert go to the alertmanager, but in slack we alway receive the alert for old pod.

[2019-01-23 00:54] davidnuzik opened #17528 "Global DNS UI: Cannot edit the name of DNS Providers"
Version: master 2.2 (1/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add a Global DNS Provider
- Try to edit it and simply change the name to something new. Click create
- Try to edit a Global DNS Entry. Notice the listing does not change until you refresh (table).

**Result:**
The PUT does go

[2019-01-23 01:33] orangedeng commented on #17148
@jiaqiluo I test it in DO cluster with master 1/23. It didn't have two logs for the same adding namespace operation. The two logs you saw in the DO cluster are because the first `adding label` one failed(failure log is in the second line) and the controller is trying it again.

[2019-01-23 01:55] loganhz commented on #15273
It has been blocked in API as well

[2019-01-23 02:03] soumyalj commented on #15799
Reproduced the issue with v1.6.21. Created a stack with the docker-compose file above.
After reboot, the services were restarted in random order.
Tested with v1.6.26-rc3. After reboot, the services were started in the order below:
[code]
Docker inspect output below:

[code]

[2019-01-23 02:03] #15799 closed

[2019-01-23 02:12] guangbochen commented on #17128
can you please try:
[code]
also, can you please help to describe how did you deploy the catalog app? is that through the `rancher-cli` or the `catalog UI`?

[2019-01-23 02:37] guangbochen commented on #16340
You should be able to address it via passing the correct NFS version to the values.yaml, e.g,
[code]

[2019-01-23 02:48] guangbochen commented on #16337
The latest version should works now in https://github.com/goharbor/harbor-helm.
And for rancher's catalog that uses git protocol, it is required to download the dependency charts using `helm dep update` and push the `/charts` directory together to the git repo.

[2019-01-23 02:48] #16337 closed

[2019-01-23 03:16] loganhz opened #17529 "UI - Ingress editor breaks rule paths ordering"
UI for https://github.com/rancher/rancher/issues/17065

[2019-01-23 03:19] loganhz opened #17530 "Service proxy endpoint doesn't work in master"
rancher/rancher:master

Steps:

1. Deploy k8s dashboard
2. Click the index.html link in catalog app

Result:

The link doesn't work.

Expected:

it should jump to the dashboard ui page

[2019-01-23 03:58] loganhz commented on #14289
Please let us know in a comment if you can still reproduce the issue, and we'll reopen it

[2019-01-23 03:58] #14289 closed

[2019-01-23 04:00] loganhz commented on #14303
Please let us know in a comment if you can still reproduce the issue in v2.1.5, and we'll reopen it.

[2019-01-23 04:00] #14303 closed

[2019-01-23 04:08] aiwantaozi commented on #17448
@davidnuzik Thanks David, I will let our UI colleague check it.

[2019-01-23 04:09] sangeethah opened #17532 "Make k8s 1.13 default version when deploying RKE clusters."
Make k8s 1.13 default version when deploying RKE clusters.

[2019-01-23 04:54] thxCode commented on #17446
@davidnuzik , I think this can be retested after merging https://github.com/rancher/rancher/pull/17311. cc @loganhz

[2019-01-23 04:57] soumyalj opened #17533 "Kubelets fail to start on Ubuntu 14.04 setup with K8s 1.12.5-rancher1-1"
Version: Rancher v1.6.26-rc3
K8s: v1.12.5-rancher1-1
Docker version: 17.03

Steps:
1. Create a kubernetes setup using Ubuntu 14.04 nodes with Docker 17.03

kubelets fail to start with the below error:
[code]

![screen shot 2019-01-22 at 8 55 20 pm](https://user-images.githubusercontent.com/18536626/51583981-0e8cba00-1e88-11e9-8002-425cbb575cbb.png)

[2019-01-23 05:05] jiaqiluo commented on #17148
@orangedeng  Thank you for the feedback. I did not see this kind of behavior in my other tests, so I think you are right that it happens just because the first try fails.

The bug fix is validated.

[2019-01-23 05:05] #17148 closed

[2019-01-23 05:34] rootwuj commented on #17225
Can be deployed successfully after adding all required answers.
Version -2.2 master 01/22
Verified fixed

[2019-01-23 05:34] #17225 closed

[2019-01-23 05:39] rootwuj commented on #16154
Verified the following cases with version-2.2 master 01/23
* Publish Catalog App: UI display and text verification
* Deploy Catalog App: UI display and text verification

[2019-01-23 05:39] #16154 closed

[2019-01-23 07:34] rootwuj commented on #17277
Tested with Rancher version-2.2 master 01/23.
Verified fixed
This version of yaml has been modified to catalogTemplate.

[2019-01-23 07:34] #17277 closed

[2019-01-23 07:47] rootwuj commented on #17353
Version -2.2 master 01/23
Verified fixed

[2019-01-23 07:47] #17353 closed

[2019-01-23 07:58] kingsd041 commented on #17394
[code]
Version -2.2 master 01/23
Verified fixed

[2019-01-23 07:58] #17394 closed

[2019-01-23 08:00] laoshancun commented on #17128
@guangbochen it seems like that your's solution not work.
- add backslash to dot
![image](https://user-images.githubusercontent.com/4952748/51591262-82ca6a80-1f27-11e9-8028-0894f778e631.png)
- after upgrade
![image](https://user-images.githubusercontent.com/4952748/51591301-9c6bb200-1f27-11e9-9892-143c4af988bd.png)

see also #17440.

[2019-01-23 08:15] guangbochen commented on #17128
Can you please help to clarify where did you set those values? if it is in the rancher catalog UI via `Edit as a YAML` button, you can NOT use nested layers, only using `.` to join nested layer are validate, because we are using `helm --set` to set custom values.
e.g.,

[code]
will be converted to:
[code]

[2019-01-23 08:16] guangbochen commented on #17128
find out more examples in here: https://github.com/helm/helm/blob/master/docs/using_helm.md#the-format-and-limitations-of---set

[2019-01-23 08:38] guangbochen commented on #17346
for `Affinity and anti-affinity` it is okay to use "true" as a match expression values, because the node labels are treated string even if the label value is true, and this is nothing related to the helm --set.

[2019-01-23 09:17] rootwuj opened #17535 "Cluster level alert message alert name is empty"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

1. Add a cluster level alert
2. Trigger alert

**Result:**
Alert message `Alert Name` is empty

[code]

[2019-01-23 09:22] rootwuj commented on #17114
Tested with Rancher version-2.2 master 01/23.
Verified fixed
This version can be repeated alerts.

[2019-01-23 09:22] #17114 closed

[2019-01-23 09:44] azbpa commented on #16328
@superseb and @jannylund would also agree that it is not a duplicate.

Would like to see some kind of termination protection, at least at cluster level, to protect accidental deletion of it.

In my opinion there could be two strategies:
1. Introduce a flag, once it is checked, you cannot delete the cluster from UI unless you uncheck it before in the options of the cluster.
2. Necessity to confirm

[2019-01-23 09:50] kingsd041 commented on #17192
Tested with Rancher version-2.2 master 01/23.
Verified fixed

[2019-01-23 09:50] #17192 closed

[2019-01-23 09:53] rootwuj opened #17536 "Alert advanced option "Repeat Interval Time" does not work"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

1. Add an alert rule, set workload less than 20%
2. Set advanced options, each parameter sets a different value
My advanced settings:
<img width="1279" alt="option" src="https://user-images.githubusercontent.com/42061003/51596730-9cbe7a00-1f34-11e9-8e97-e17

[2019-01-23 09:54] orangedeng commented on #15439
@wuchencm I can not reproduce your problem. I am using rancher master 1/23 with RKE cluster. The ingress-nginx version is 0.16.2-rancher1. Steps are following:
- Create nginx workload with 1 replica
- Create ingress for nginx workload with xip.io
- Scale nginx to 2 replicas
- Access to ingress dns address 5 times
- Check the logs from both 2 nginx pod and both of them get hits.

I think this issue

[2019-01-23 09:54] #15439 closed

[2019-01-23 10:00] andersla opened #17537 "Is it possible to add GPU to Rancher Cluster Dashboard?"
Is it possible to add a resource meter for GPU:s on the Rancher Dashboard?
A resource meter like the cpu/memory/pods? https://rancher.com/img/blog/2018/istio-rancher-cluster-dashboard01.png

**What kind of request is this (question/bug/enhancement/feature request):**
question/feature

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

[2019-01-23 10:13] hackman61 commented on #17512
Here is the Cluster yml file that I use :

cloud_provider:
  name: "vsphere"
  vsphereCloudProvider:
    global:
      insecure-flag: true
      soap-roundtrip-count: 0
    virtual_center:
      vcenter-01.domoce.local:
        datacenters: "AZNetwork-Alencon"
        password: "mypassword"
        soap-roundtrip-count: 0
        user: "rancher"
    workspace:
      datacenter: "AZNetwork-Alencon"

[2019-01-23 10:20] rootwuj opened #17538 "Inherit the advanced options for alert rule from the alert group"
**What kind of request is this (question/bug/enhancement/feature request):**
UX

**Steps to reproduce (least amount of steps as possible):**

1. Add an alert group and include two alert rules.
2. Modify advanced options for alert group.
3. Check advanced options under Alert Groups and Alert Rules

**Result:**

1. The advanced option of the alert rule is still the default value, and the alert group

[2019-01-23 10:43] xuejipeng commented on #7489
@superseb  Does the problem work out, why close it down?

[2019-01-23 10:54] hackman61 commented on #17512
I have tested with Rancher 2.1.4, same problem, I think Rancher cannot access to https://vcenter-01.domoce.local:443/sdk, can you explain me how it is implemented ?  Because in vsphere appliance 6.7.0, this URL can't be acceded, we must add /vimService.wsdl .

[2019-01-23 10:57] SkySonR opened #17539 "Specify variables when running a pipeline manually"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Description**
When users want to execute pipeline manually will be nice to have ability to provide build parameters (like in Jenkins Parameterized Builds)
Another definition: questions.yml for pipelines

**Proposal**

Allow users to specify variables when running a pipeline manually. Users will be asked

[2019-01-23 12:36] materemias commented on #17346
@guangbochen do you have an idea how exactly that "true" needs to be passed in order to not to have the error?
[code]

[2019-01-23 13:10] wrogrammer commented on #17513
Can be closed.

[2019-01-23 14:17] chookie commented on #5772
@dabeck I am afraid we could not get the AD to work and move to GitHub.  Sorry.

[2019-01-23 14:38] superseb commented on #16959
Let me know if this doesn't solve the issue.

[2019-01-23 14:38] #16959 closed

[2019-01-23 14:38] superseb commented on #17223
Please let me know when you can provide the requested info.

[2019-01-23 14:38] #17223 closed

[2019-01-23 14:55] kevinsimons-wf opened #17540 "Answers cannot be reset on app"
**What kind of request is this (question/bug/enhancement/feature request):**
question / enhancement

**Steps to reproduce (least amount of steps as possible):**
1. Rancher app install and give it some answer with `--set`
2. Rancher app upgrade and give it a different answer with `--set` and not the first one

**Result:**
You should see that the first answer you gave in step 1 still exists on your

[2019-01-23 15:03] billinghamj commented on #13794
This does seem like a pretty critical bug I think?

[2019-01-23 16:07] cjellick commented on #13444
I see #16316 has been moved to test. Per @alena1108's last comment, moving this one to-test

[2019-01-23 16:11] rkr-kununu opened #17541 "Cannot import EKS-cluster into Rancher v2"
We're using Rancher v2.1.4

We're trying to import an existing AWS EKS cluster into Rancher, using the "import" feature.

Our Rancher instance is behind a NAT, so the cattle-cluster-agent running on EKS is unable to reach the /ping.  What's confusing is if we create an EKS cluster from Rancher via Rancher's "Create EKS" functionality - this works.

We've applied the yaml file Rancher told us to ap

[2019-01-23 16:31] cjellick commented on #17065
This won't be moved to test until we can merge the UI and backend simultaneously, since it breaks the UI

[2019-01-23 16:33] cjellick commented on #17529
@loganhz @westlywright please coordinate with me when you are ready to merge this. The backend is ready to merge but it has an api change that breaks the UI. So, I want to coordinate merging back and front near simultaneously.

[2019-01-23 16:40] cjellick commented on #17074
You're issue numbers are wrong @westlywright but i believe all backend bits have been merged

[2019-01-23 16:41] cjellick commented on #17067
Its expose as an action on each user and as a collection action on /v3/users to refresh all users. Name of action is `refreshauthprovideraccess`

[2019-01-23 16:46] cjellick commented on #16614
@aiwantaozi @loganhz Does this require a UI change? I imagine it does. If so, a UI issue should be opened with the `area/ui` label attached. You should open the UI issue as soon as you know the change will require UI changes

[2019-01-23 16:49] cjellick commented on #16614
backend is in, but no UI yet.

[2019-01-23 16:50] cjellick commented on #16614
@aiwantaozi please provide a summary of the fields added to the api and how they can be tested

[2019-01-23 17:27] westlywright commented on #17074
@cjellick fixed the issue references, will verify backend changes and open a PR for UI after.

[2019-01-23 17:59] rmweir commented on #16831
Cannot reproduce. This bug seems like a duplicate of the following: https://github.com/rancher/rancher/issues/17425
That bug was resolved. Errors occurred on same lines of code. Can we assign this to QA @cjellick ?

[2019-01-23 18:17] tfiduccia commented on #16345
Version - master 1/23
Verified fixed.  I don't get this box anymore.

[2019-01-23 18:17] #16345 closed

[2019-01-23 18:28] erikwilson opened #17543 "SSH timeout creating multiple clusters with same node prefix w/DO"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Quickly create multiple clusters with same node prefix using DigitalOcean/RKE

**Result:**
Errors like:
[code]

**Other details that may be helpful:**
If new cluster is created before previously created cluster has connected SSH keys of previous cluster are

[2019-01-23 19:12] erikwilson opened #17544 "Move kube-api-auth image builds to Rancher"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Other details that may be helpful:**
In Rancher settings we are using an AuthImage published to an unofficial Dockerhub account:
https://github.com/rancher/rancher/blob/master/pkg/settings/setting.go#L17

This image should be generated & pushed to the Rancher hub account, and the following repo also moved t

[2019-01-23 20:06] galal-hussein commented on #17336
Updated k8s 1.12 to 1.12.5 and weave to v2.5.0 in both k8s versions 1.12.5 and 1.13

[2019-01-23 20:45] davidnuzik opened #17546 "Global DNS UI: DNS Provider description field is ignored by the server"
Version: master 2.2 (1/22/19) HA setup

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a Global DNS Provider. Enter something in the optional description field.
- Edit it after creation. The text in that description field is now gone.

**Result:**
If you inspect the http upon creation we have se

[2019-01-23 20:55] cjellick commented on #17184
dupe of https://github.com/rancher/rancher/issues/15824

[2019-01-23 20:55] #17184 closed

[2019-01-23 20:55] cjellick opened #17547 "UI for new docker versions in the node template dropdown"
I've changed the setting to have 18.06 as the default, but we need to add it, 17.06, and 17.09 to the UI. those are hardcoded in the UI.
Related backend issue: https://github.com/rancher/rancher/issues/15824

[2019-01-23 20:55] davidnuzik opened #17548 "Global DNS UI: When you edit a DNS Provider or Entry page is a create page"
Version: 2.2 master (1/22/19) HA setup

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a Global DNS Provider and Global DNS Entry. Edit both.

**Result:**
The "Create" button for each should be a "Save" button just like when we update other areas in the UI such as clusters. You'll also see this

[2019-01-23 20:56] cjellick commented on #15824
note that the UI is going to add more items to the dropdown.

[2019-01-23 21:18] davidnuzik opened #17549 "Global DNS UI: Unable to select multi cluster app if a project was selected"
Version: 2.2 master (1/22/19) HA Setup

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a Global DNS entry pick the "Projects" radio button and pick on of the projects under the Target Projects list.
![image](https://user-images.githubusercontent.com/45179589/51637514-42fc8680-1f19-11e9-9fa7-8fab

[2019-01-23 21:18] galal-hussein opened #17551 "Global DNS UI: Add option for cloudflare provider in UI"
Version: 2.2 master (1/23/19) HA setup

The Cloudflare provider support for global dns is merged in the backend and can be added now to the UI, the cloudflare global dns object will look like that:

[code]
https://github.com/rancher/rancher/pull/17525

[2019-01-23 22:07] davidnuzik commented on #17246
Version: master 2.2 (1/22/19)
Workload scale was added to the top of the workload view. Confirmed this is functioning as expected.
![image](https://user-images.githubusercontent.com/45179589/51640399-958d7100-1f20-11e9-8b26-2b15e0ba6016.png)

[2019-01-23 22:07] #17246 closed

[2019-01-23 22:13] StrongMonkey commented on #10252
@alena1108 This issue is obvious to fix in the code but hard to validate on the QA side. It is hard for QA to simulate an environment where metadata is overloaded and takes more time to respond. In this case the environment is already unusable and pretty hard to validate anything right now.

[2019-01-23 22:58] Oats87 opened #17553 "docker-machine should be invoked in debug mode when Rancher is in debug mode"
When Rancher is set in debug mode, we do not invoke the docker-machine code in debug mode. This makes it much more difficult to diagnose issues with the docker-machine node drivers as users are trying to provision clusters in their various cloud providers.

[2019-01-23 23:09] loganhz opened #17555 "UI - When is logging to Kafka going to support sasl/scram-256"
UI for https://github.com/rancher/rancher/issues/16614

[2019-01-23 23:16] soumyalj commented on #15499
@kinarashah : Could you please provide more information on the fix and what needs to be tested ?

[2019-01-23 23:20] alena1108 commented on #17551
Backend issue https://github.com/rancher/rancher/issues/17492

[2019-01-23 23:20] alena1108 commented on #17492
@sangeethah api is in master, UI is tracked in a separate ticket.

[2019-01-23 23:23] soumyalj commented on #10252
@StrongMonkey : Tried to reproduce with 4G hosts on rancher v1.6.2. Created around 1500 containers. Observed that scheduler becomes unhealthy  and restarts and Rancher UI becomes responsive. The nodes go to reconnecting state and the setup is not usable anymore.

[2019-01-23 23:36] alena1108 commented on #15163
Ingress is updated to 0.21.0-rancher1 on rancher 1.12.5 and 1.13.1 k8s versions

[2019-01-23 23:36] soumyalj opened #17557 "After etcd backup and refreshing the browser, the backups are not listed for restore in UI"
Version: Master build from Jan 23

Steps:

1. Create a DO cluster with S3 configuration
2. Click on edit cluster and perform "Backup now"
3. Backup is performed which can be observed in S3 and also
https://testabc/v3/clusters/c-8hddb/etcdbackups
4. Perform a back using backup now.
5. Refresh the UI
6. Perform a "restore from backup".
The backups are not listed in the dropdown
<img width="990" alt=

[2019-01-23 23:40] davidnuzik opened #17558 "Global DNS UI: page should not be shown unless on HA"
Version: 2.2 master (1/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Have a single-node rancher install notice you can see Global DNS on the top nav bar even though this is only supported today with HA setup.

**Result:**
User can see page they should not be able too since we don't support glo

[2019-01-23 23:46] davidnuzik opened #17559 "Global DNS Provider: root domain field should be optional"
Version: 2.2 master (1/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a DNS Provider. Notice the root domain field. This should not exist our Amazon account could allow us to have multiple root domains.

**Result:**
Root domain field should be removed.

[2019-01-23 23:50] davidnuzik opened #17560 "Global DNS UI: DNS Provider form is not validated"
Version: 2.2 master (1/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- You can enter anything or nothing on the global DNS provider form.

**Result:**
Required fields are not required. You can avoid entering amazon credentials and it will still let you create.

[2019-01-24 00:02] orangedeng opened #17561 "Supporting more AWS regions for EKS"
For now, we only support
[code]

And we are missing following regions
[code]

Related PR: https://github.com/rancher/rancher/pull/17459

[2019-01-24 00:03] sharedprophet commented on #16740
The problematic config doesn't have any port specs with the name "http"...?

[2019-01-24 00:12] alena1108 opened #17562 "Validate S3 backup on (non-AWS) S3 compatible provider (Minio)"
This ticket is to make sure we validate etcd backup/recovery works on non AWS setups. @moelsayed please do the initial validation + put any fixes if needed. Once the happy path works, reassign to qa

[2019-01-24 00:20] bclouser commented on #14997
Hmm, so is there any way to access the kubernetes api directly? Or does this mean that all access requires Rancher authentication and indeed only using the rancher api urls?

My motivation for asking is that I have a container that tries to talk to the kubernetes API directly using the default serviceAccount token. (https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#access

[2019-01-24 00:36] alena1108 commented on #17559
@prachidamle we should put validation on the domain field. I believe we have fqdn type in types/norman

[2019-01-24 00:37] alena1108 commented on #17560
@prachidamle have to put required attribute on the fields

[2019-01-24 00:38] alena1108 commented on #17558
@westlywright I'm not sure though if there is a way for the UI to know about whether the setup is local or HA...

[2019-01-24 00:39] soumyalj commented on #15935
Tried to reproduce with Rancher v1.6.17. Created several containers with each having 1000+ environment variables. As the env variables increased, the memory consumption increased, but rancher setup became unresponsive after. Did not hit the Out of memory exception.

[2019-01-24 00:43] davidnuzik commented on #17558
Would this be inappropriate? Just throwing this out there
if exist: "local" cluster AND if exist: "cattle-global-data" ns on that cluster then, is (probably) HA

[2019-01-24 00:50] alena1108 opened #17564 "RBAC changes for Global DNS"
Following changes are needed for Global DNS RBAC based on follow up design discussion with @ibuildthecloud @cjellick and @vincent99

- [x] move from using all/update/readOnly to our standard prtb roles (owner, member, readonly)
- [x] only users with permission `all` should be able to update list of members. `update` permission should only let you modify the projectIDs
- [x] remove the backend logi

[2019-01-24 00:56] alena1108 opened #17565 "RBAC changes for Multi Cluster App"
Following changes are needed for Multi cluster app RBAC based on follow up design discussion with @ibuildthecloud @cjellick and @vincent99

- [x] everything defined in https://github.com/rancher/rancher/issues/17564
- [x] given the current complexity of userId/creatorId association to MCA and underlying apps, we should do the following:

1) API: Multi cluster app create accepts list of Roles (refe

[2019-01-24 01:03] erikwilson commented on #17519
Also occurred on DigitalOcean provisioning 5 node cluster:
[code]

[2019-01-24 01:05] davidnuzik opened #17566 "Multi-Cluster App UI: App is still seen on Multi-Cluster Apps page even after cluster/project deleted"
Version: 2.2 master (1/23/19) single node install

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Launch a multi-cluster app and target to any cluster(s). Delete the project or workload or catalog app on one cluster - the multi-cluster app still shows up in the UI and does not update target projects.
-

[2019-01-24 01:13] alena1108 commented on #17566
@kinarashah we should consider removing the project id ref from multi cluster app on the project removal.

[2019-01-24 01:55] orangedeng commented on #17561
Related issue: https://github.com/rancher/rancher/issues/17081

[2019-01-24 02:02] aiwantaozi commented on #16614
On the API side, we add four fields to support SASL auth for ship log to Kafka.
[code]

Step to test the sasl support:
1. Config sasl plain/scram for kafka
2. Config sasl related field in logging API
Plain example:
[code]

Scram example:
[code]

3. Check secret under system project secret name ```rancher-logging-fluentd```, key ```cluster.conf``` or ```project.conf``` whether include kafka sasl re

[2019-01-24 02:41] gitlawr opened #17567 "Failing test_cluster_catalog_templates_access tests"
**Rancher Version**
master 1/23

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Build fails randomly on Drone (https://drone7.rancher.io/rancher/rancher/1641/3)

[code]

[2019-01-24 02:59] orangedeng opened #17568 "Logging won't work in an air gap environment"
After we refactored the logging, we can not deploy logging tools in an air gap environment. It need to be enhanced.

The logging system-chart also need changes for this enhancement.

Test steps:

Set the system-default-registry to a private registry via the Settings menu.
Launch the logging.
Check if the rancher-logging app pulls the image from the set private registry.

[2019-01-24 03:06] cjellick commented on #17564
@vincent99 had suggested that we rename the permsions to owner, member, read-only, to mirror what we have at cluster and project level. I agree with that. Is it doable?

To be clear, projectIDs needs to become a non-updatable field.

Looks good otherwise. Is what we talked about

[2019-01-24 03:10] gitlawr opened #17569 "UI for resources configurations for pipeline build pods"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Description**
Under project-tools-pipeline settings, Be able to configure resouces(CPU/memory request/limit) for dynamically provisioned build pods.

Related issue: https://github.com/rancher/rancher/issues/16538

[2019-01-24 03:49] gitlawr opened #17570 "Pipeline gets stuck when required answers are not provided for app installation"
**Rancher version**
master 1/23

**Steps to reproduce (least amount of steps as possible):**
1. Configure a pipeline, Add a `Deploy Catalog App` step
2. Provides a part of the required answers.
3. Run it.

**Result:**
![image](https://user-images.githubusercontent.com/5697937/51653214-80225080-1fcd-11e9-8b78-e62f55af7b60.png)

**Expected Result**
successfully deployed the app.

[2019-01-24 04:45] thxCode commented on #17298
Revision is another record for operation, it is increasing. But rancher app revision doesn't have operation description, I think we need to enrich this. For example:

Steps:
[code]

Show revisions:
[code]

[2019-01-24 04:46] alena1108 commented on #17493
@kinarashah we already do smth similar in roles cleanup for the node template, could you apply the same logic here

[2019-01-24 04:46] alena1108 commented on #16941
@kinarashah could you please check if it is still the issue