[2019-04-11 23:11] deniseschannon commented on #14778
In 2.2, we now enable custom fluentd logging, which can be found in step 4 when enabling logging: https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/logging/

[2019-04-11 23:11] #14778 closed

[2019-04-11 23:12] #14804 closed

[2019-04-11 23:12] superseb commented on #16151
Possible root cause here is:

`apiEndpoint` in API for cluster is set to IP of a node with the `controlplane` role. This could be the one thats hit or is routed to another when its unavailable. The request made to the kube-apiserver is using the node IPs but the connection is made to the `apiEndpoint` IP, long story short, the IP of the `apiEndpoint` of the cluster has to be in the certificate, an

[2019-04-11 23:13] deniseschannon commented on #14816
If anyone is still hitting this issue, please open a new issue with one of the most recent versions.

[2019-04-11 23:13] #14816 closed

[2019-04-11 23:14] #14897 closed

[2019-04-11 23:15] davidnuzik opened #19565 "Node Template - UI shows Azure node templates location for environment not region"
Version: Master (4/11/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement Request

**Steps to reproduce (least amount of steps as possible):**
- Create any azure node template pick any region.
- Look at the Node Templates page

**Result:**
The Location column is not ideal in my opinion; it's showing us the Environment not the actual Location (Region).

Scr

[2019-04-11 23:16] dbason commented on #18367
I'm seeing this exact same issue on 2.2.1.  I believe this was working in 2.1.5 but we haven't tried adding a new node since then.
Removing an existing node and then adding it in again seems to work fine,
Removing a cluster and then creating a new cluster and trying to add the nodes back to the new cluster fails.
This just seems to be an issue with new unique cluster/node combinations.

[2019-04-11 23:20] leodotcloud commented on #19518
Global > Cluster > System (project)
Exec inside the cattle-cluster-agent container.

`netstat -antp | grep 6443 | wc -l`
The count shouldn't keep growing as you execute either `kubectl` or `helm` commands against the cluster.

[2019-04-11 23:27] tfiduccia commented on #19536
@chengxingyao - Not sure what your issue is.  Can you please explain.  That box is for triggering the build.  The box next to it is for Do not trigger.

[2019-04-11 23:29] davidnuzik opened #19566 "UI reports "Cannot read property "indexOf" of null in latest master"
Version: Master (4/11/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Launch Rancher

**Result:**
You will get an error in the UI
![image](https://user-images.githubusercontent.com/45179589/56002314-ce62f980-5c76-11e9-9ea3-b4afcfc5210d.png)

Chrome dev console:
[code]
![image](https://user-images.g

[2019-04-11 23:29] deniseschannon commented on #15005
Did you make sure to enable the Amazon cloud provider when creating the cluster? The cloud provider is required to be enabled in order to use EBS.

[2019-04-11 23:29] #15005 closed

[2019-04-11 23:32] deniseschannon commented on #15030
With the latest integration of Prometheus and monitoring in Rancher 2.2, can you try that?

[2019-04-11 23:32] #15030 closed

[2019-04-11 23:33] deniseschannon commented on #15034
If you're still seeing these issues, let me know.

[2019-04-11 23:33] #15034 closed

[2019-04-11 23:34] #15045 closed

[2019-04-11 23:37] deniseschannon commented on #14843
After you create something in the UI, you can look at "View/Edit YAML" of what you've created.

[2019-04-11 23:37] #14843 closed

[2019-04-11 23:37] deniseschannon commented on #15083
Are you sure it was overriding the default and it wasn't the fact that you weren't specifying a "supported" kubernetes version for a RKE cluster? In older versions of RKE, if the version wasn't on the list of supported ones, it would have been overridden.

https://rancher.com/docs/rke/latest/en/config-options/#kubernetes-version

[2019-04-11 23:37] #15083 closed

[2019-04-11 23:37] soumyalj opened #19567 "Network services and Scheduler infra stacks show multiple versions available for upgrade"
Version : Upgrade from Rancher v1.6.14 to v1.6.27-rc1

Steps:

1. Create a setup in v1.6.14
2. Create few user stacks
3. Upgrade to v1.6.27-rc1
4. After upgrade, Network services and Scheduler infra stacks show two versions available for upgrade as below:

Network services infra stack:
There are two versions available for upgrade v0.2.10 and v0.2.11
<img width="760" alt="Screen Shot 2019-04-11 at

[2019-04-11 23:39] deniseschannon commented on #15099
Duplicate of https://github.com/rancher/rancher/issues/14731

[2019-04-11 23:39] #15099 closed

[2019-04-11 23:41] deniseschannon commented on #15115
IF anyone is still facing this issue in a more modern version, please open a new issue.

[2019-04-11 23:41] #15115 closed

[2019-04-11 23:42] cloudnautique opened #19568 "Cattle node upgrade strategy should be some percentage"
At the moment the cluster upgrade maxUnavailble is an absolute 1, when you have a large number of nodes this upgrade takes a really long time. We should set it to a percentage of the cluster since it isn't that impactful for it to go down.

[2019-04-11 23:42] deniseschannon commented on #15121
@s1113950 If you are still facing issues with a more modern version, please open a new issue.

[2019-04-11 23:42] #15121 closed

[2019-04-11 23:43] #15138 closed

[2019-04-11 23:43] deniseschannon commented on #15139
If that user logs in, they will be able to get their own kubeconfig file for the projects they are part of.

[2019-04-11 23:43] #15139 closed

[2019-04-11 23:46] deniseschannon commented on #15179
@firaskafri @LiamMartens Let me know if you are still having issues on a modern version of Rancher as a lot has changed since v2.0.7.

[2019-04-11 23:46] #15179 closed

[2019-04-11 23:48] jiaqiluo commented on #19518
The bug is reproduced in v2.2.2-rc10
Steps:
- run Rancher v.2.2.2-rc10 singe install
- add a DO cluster
- run `while true; do kubectl version; done` in the `Launch Kubectl` window
- follow @leodotcloud 's command to check the count and see the following output
[code]

[2019-04-12 00:07] sowmyav27 opened #19569 "Cert Rotation - kube-apiserver certs did not rotate"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Have a DO rke cluster on rancher:v2.1.8.
2. run the following command
./system-tools cert rotate --url https://x.x.x.x/v3 --token "token-xxxxxxxx" --cluster c-xxxx (system tools from : https://github.com/rancher/system-tools/releases/tag/v0.1.1-rc7)

**Ex

[2019-04-12 00:07] #15240 closed

[2019-04-12 00:09] deniseschannon commented on #15244
Closing in favor of #14836

[2019-04-12 00:09] #15244 closed

[2019-04-12 00:11] sangeethah commented on #19518
can be tested with  `v2.2.2-rc10`

[2019-04-12 00:12] cloudnautique commented on #19568
This should also be looked at for other daemonsets like the node exporter in monitoring stack.

[2019-04-12 00:14] deniseschannon commented on #15280
@stefanvangastel let me know if you still have any issues when upgrading with this.

[2019-04-12 00:14] #15280 closed

[2019-04-12 00:14] #15294 closed

[2019-04-12 00:15] #15303 closed

[2019-04-12 00:16] #15239 closed

[2019-04-12 00:18] deniseschannon commented on #15343
We've moved over to ugprading via helm charts as of v2.1, if you still have upgrade issues, please open a new issue.

[2019-04-12 00:18] #15343 closed

[2019-04-12 00:19] deniseschannon commented on #15353
DUplicate of https://github.com/rancher/rancher/issues/14960

[2019-04-12 00:19] #15353 closed

[2019-04-12 00:22] #15437 closed

[2019-04-12 00:24] #15537 closed

[2019-04-12 00:24] #15483 closed

[2019-04-12 01:09] stefanlasiewski commented on #16719
I reproduced this problem in our test environment:

1. Verify that the problem is not present

        $ rancher volume ls --all |grep "inactive *rancher-secrets"

2. Create a secret

        $ openssl rand -base64 8 > web-password
        $ rancher secret create web-password web-password
        1se377
        $

3. Review the stack. Note how the service references the secret but has a bogus Dock

[2019-04-12 01:17] panho66 commented on #19438
@superseb I have removed log files due to security policy in my company. If you need it, please let me know

[2019-04-12 01:20] felixwqp opened #19571 "Error in configuration:unable to read client-cert /Users/felixwang/.minikube/client.crt for minikube due to open/.minikube/client.crt: no such file or directory"
I encountered a few problems when I “install kubectl” on my mbp.  I would be really appreciated if anyone could give me some suggestions,

The first time when I installed according to https://kubernetes.io/docs/tasks/tools/install-kubectl/,  everything is good, however I input “rm -rf ~/.minikube” mistakenly, which causes the config files are deleted, and the second time I reinstall it, I cannot f

[2019-04-12 01:32] jiaqiluo commented on #19518
on v2.2.2-rc11
- run the loop in kubectl command line increase the count by 1
- deploy the app `wordpress` and `redis` increase the count by about 30

on v2.2.2-rc10
-  run the loop in kubectl command line keeps increasing the count
- deploy the app `wordpress` and `redis` increase the count by about 300

[2019-04-12 01:33] panho66 opened #19572 "Expiry Rancher Token"
**What kind of request is this (question/bug/enhancement/feature request):**
bug/enhancement/question

**Steps to reproduce (least amount of steps as possible):**
Run this command to add host to client or using Rancher API to add host to cluster.

docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/kubernetes -v /var/run:/var/run rancher/rancher-agent:v2.2.1 --se

[2019-04-12 01:34] vber commented on #14580
up this post, hope this annoying issue will be resolved as soon as possible.

[2019-04-12 01:35] panho66 commented on #19438
https://github.com/rancher/rancher/issues/19572

[2019-04-12 01:50] jiaqiluo commented on #18505
see the same bug in v2.2.2-rc10 and v2.2.2-rc11
setup: single install, 4 vCPU, 8GB memory
It happens after I run the automation in an RKE cluster in the Rancher server, and the logs show `lost master`

[2019-04-12 01:54] #19518 closed

[2019-04-12 03:28] youmingzhao commented on #18535
+1

[2019-04-12 03:42] chengxingyao opened #19573 "want CI/CD to customize volumes when using custom images"
CI/CD cannot support persistent cache dependency libraries, and each trigger requires a re-download of the dependency, which is time-consuming.

want CI/CD to customize volumes when using custom images

[2019-04-12 05:44] 3pns opened #19574 "Rancher2.1.8 always crashing after leaking memory for few hours to few days"
**What kind of request is this:** bug

**Steps to reproduce :**
- install 1 rancher server and provision 1 self hosted seperate node.
- run around 5 to 10 deployments using 10% of the capacity of one node
- wait few hours to few days until rancher/rancher will crash

**Result:** (preview of the stack I will send you)

[code]

**Other details that may be helpful:**

I will send an email with the fu

[2019-04-12 05:45] loganhz commented on #17126
Link to https://github.com/rancher/rancher/issues/19487

[2019-04-12 05:46] loganhz commented on #19487
Link to https://github.com/rancher/rancher/issues/17126

[2019-04-12 06:12] loganhz commented on #19360
Link to https://github.com/rancher/rancher/issues/17823

[2019-04-12 06:37] gitlawr commented on #19352
According to the [docs](https://rancher.com/docs/rancher/v2.x/en/project-admin/tools/pipelines/)

[2019-04-12 06:41] n313893254 opened #19575 "Backport : UI: 2.2-Outer ring display wrong position when change page size and wait value change"
backport rancher/rancher#19102

[2019-04-12 06:46] gitlawr commented on #19352
Feel free to reopen this if you have any question.

[2019-04-12 06:46] #19352 closed

[2019-04-12 07:01] coder-michaelwu opened #19576 "The Rancher page was stuck and did not resume access to it until after the Catalog's access timeout."
**What kind of request is this (question/bug/enhancement/feature request):**

The Rancher page was stuck and did not resume access to it until after the Catalog's access timeout.

**Steps to reproduce (least amount of steps as possible):**
step 1. add custom k8s cluster.
step 2. add k8s dashboard from catalog.

**Result:**
The Rancher page was stuck .

**Other details that may be helpful:**

**Env

[2019-04-12 07:03] loganhz commented on #18559
Close it as the outline has been removed in master as well

[2019-04-12 07:03] #18559 closed

[2019-04-12 07:04] loganhz commented on #18553
Close it as the outline has been removed

[2019-04-12 07:04] #18553 closed

[2019-04-12 07:09] loganhz commented on #18158
Close in favor of https://github.com/rancher/rancher/issues/19102

[2019-04-12 07:09] #18158 closed

[2019-04-12 08:02] loganhz commented on #14032
Close in favor of https://github.com/rancher/rancher/issues/19087

[2019-04-12 08:02] #14032 closed

[2019-04-12 08:06] loganhz commented on #19085
Close in favor of https://github.com/rancher/rancher/issues/1738

[2019-04-12 08:06] #19085 closed

[2019-04-12 08:53] n313893254 opened #19577 "Backport: 2.2.x: CPU/Memory Reserved percentages not updating when switching between clusters"
Backport: https://github.com/rancher/rancher/issues/19387

[2019-04-12 10:18] 3pns opened #19578 "error "ClassName does not match" when creating PVC for existing PV using the Rancher 2.1.8 UI"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- create a persistent storage class
- create a PV using the storage class
- create a PVC from a namespace using the new UI option  "Use an existing persistent volume"
- select the previously created PV and create the PVC

**Result:**
The PVC is stuck in stat

[2019-04-12 10:18] 3pns opened #39519 "error "ClassName does not match" when creating PVC for existing PV using the Rancher 2.1.8 UI (and 2.6.9)"

[2019-04-12 11:51] Leen15 opened #19579 "Upgrade service, misleading wording"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
Open workloads page, press Edit on one of them.

**Result:**
The title is "Upgrade Service"

**Other details that may be helpful:**
I'm in a workloads list, I press "edit" on one of it, why the title is "Upgrade Service"? What is a "service"?
I press

[2019-04-12 11:51] superseb commented on #16151
Steps to reproduce are in https://gist.github.com/superseb/36919dba64a18cb40951228254660f03

[2019-04-12 12:41] zbialik commented on #7592
@aemneina I am having an issue creating a rancher cluster backed by flannel with ipv6 disabled.

I am using `Rancher: v2.1.7` and Kubernetes `v1.11.8-rancher1-1`

I saw that this is related to a fix with regarding containernetworking/plugins: [the fix](https://github.com/containernetworking/plugins/pull/62)

The fix was released in v0.7.0. Is this version of the cni available in any of the rancher

[2019-04-12 13:12] loganhz opened #19580 "Show kiali graph in Rancher"
In project level, users should be able to see the Kiali service graph in Rancher UI if user enabled istio in Rancher.

[2019-04-12 13:13] loganhz opened #19581 "UI:Show kiali graph in Rancher"
UI for https://github.com/rancher/rancher/issues/19580

[2019-04-12 13:16] loganhz opened #19582 "[UI] - Istio - Integration GA"
* [x] Create a sample catalog app with deployments and istio config. https://github.com/rancher/rancher/issues/20897
* [x] Use IFrame to move the Kiali Graph into Rancher UI https://github.com/rancher/rancher/issues/20896
* [x] Support Istio Virtual Service and Destination Rule as first class resources in Rancher UI just like Workloads.  https://github.com/rancher/rancher/issues/20894
* [x] Cluste

[2019-04-12 13:21] loganhz opened #19583 "UI: Istio Integration GA"
UI for https://github.com/rancher/rancher/issues/19582

[2019-04-12 13:22] gvenka008c commented on #17617
I am also seeing similar kind of issue

Error:
Failed to communicate with API server: Get https://10.xxx.xx.xxx:6443/api/v1/componentstatuses?timeout=30s: waiting for cluster agent to connect

cattle-cluster-agent Logs:
[code]

[2019-04-12 13:35] bentastic27 commented on #18499
@guangbochen Thanks! The customer confirmed that that resolves the issue.

[2019-04-12 13:35] #18499 closed

[2019-04-12 14:13] msnelling opened #19584 "VMware 6.7 GuestOS is incorrect"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a new vanilla vSphere node template.
2. Create a new cluster based on the above template.
3. Open the vSphere web console.
4. Select the new cluster node.

**Result:**
You will see the following warning.
`The configured guest OS (Other Linux (64-bi

[2019-04-12 16:38] #19505 closed

[2019-04-12 16:49] jiaqiluo opened #19585 "Rancher server crash with "lost master" error"
The same issue as https://github.com/rancher/rancher/issues/18505   in v2.2.2-rc10 and v2.2.2-rc11
setup: single install, 4 vCPU, 8GB memory
It happens after I run the automation in an RKE cluster, and the logs show `lost master`
[code]

[2019-04-12 16:53] loganhz commented on #19564
Rancher logs
[code]

[2019-04-12 18:10] vincent99 commented on #19572
The registration command/token is good for the life of the cluster, unless deleted (`/v3/clusters//<cluster id>/clusterregistrationtokens`)

[2019-04-12 18:28] davidnuzik opened #19586 "UI: When upgrading from UI stays the same unless manually refresh browser"
Version: HA, v2.1.8 > v2.2.2-rc-x12 upgrade

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Have an HA setup with v2.1.8
- Upgrade to v2.2.2-rc-x12

**Result:**
The browser stays on the old v2.1.21 UI
![image](https://user-images.githubusercontent.com/45179589/56058225-a676a300-5d15-11e9-8e7a-e4167c578

[2019-04-12 18:28] mrajashree commented on #19301
The templates/versions generation events are being sent on v3/subscribe, checked it by adding a catalog and saw the following messages in dev tools
<img width="1352" alt="Screen Shot 2019-04-12 at 11 26 32 AM" src="https://user-images.githubusercontent.com/10672776/56058358-0705e000-5d16-11e9-8d1f-d483982bfed5.png">

But the templates don't show up immediately. They show up on page reload, so as p

[2019-04-12 18:28] davidnuzik commented on #19586
Note, it's highly likely this is a pre-existing issue and I also think that it is reasonable to require a manual refresh after upgrading rancher version. We may want to move  this out of v2.2.2

[2019-04-12 18:32] deniseschannon commented on #19186
@qbert In 1.x, you must have been using azure nodes to provision a Rancher launched k8s cluster versus using AKS (where Azure hosts the k8s). They have different requirements.

As @jiaqiluo has mentioned it sounds as if your permissions that is passed to Rancher for cluster creation has some issues.

Importing clusters or even using Azure nodes to get a Rancher launched k8s cluster is very differe

[2019-04-12 18:34] davidnuzik commented on #19586
Also, while in this state we cannot create a LB:
![image](https://user-images.githubusercontent.com/45179589/56058651-cc507780-5d16-11e9-9ea3-05e62b935bc2.png)

When we try to launch lb links there is a zero at the end now as well while in this state (stale UI)
![image](https://user-images.githubusercontent.com/45179589/56058679-e427fb80-5d16-11e9-9884-99dad77bc42c.png)

[2019-04-12 18:36] deniseschannon commented on #19269
@fedeostrit We are planning to add in windows support in 2.3 which is targeted for September release.

[2019-04-12 18:38] deniseschannon commented on #19274
@tfiduccia can you help to try and reproduce @jkuspa steps?

[2019-04-12 18:46] qbert commented on #19186
@deniseschannon
But that can't be the issue. It's a clean install of Rancher 2.x, and the error message from Azure is a completely unrelated user_id. The stuff I used with Rancher 1.x is long gone. I tried to provision a new AKS cluster and Rancher apparently used a wrong user_id. Which is a bit hard to figure out because Rancher doesn't show the progress of the provisioning and it's unclear what

[2019-04-12 18:51] deniseschannon commented on #19571
I'd recommend asking your question here: https://github.com/kubernetes/kubectl

This is purely a kubectl concern that you have and minikube which are different projects from Rancher.

[2019-04-12 18:51] #19571 closed

[2019-04-12 18:52] davidnuzik commented on #19301
Likely related: #19586

[2019-04-12 18:53] davidnuzik commented on #19586
Spoke with Wes. This would require an enhancement request to add something in the API that the frontend could use to realize the rancher version was upgraded.
cc: @cjellick

Should I open one? @sangeethah

[2019-04-12 18:53] davidnuzik commented on #19301
Refreshing the UI after an upgrade would require API changes so UI can see that we upgraded rancher. See https://github.com/rancher/rancher/issues/19586#issuecomment-482684848

[2019-04-12 18:56] deniseschannon commented on #19559
This is a duplicate of this: https://github.com/rancher/rancher/issues/19209

[2019-04-12 18:56] deniseschannon commented on #19209
@thxCode @guangbochen please review the comments from this issue that might indicate why it isn't working: https://github.com/rancher/rancher/issues/19559

This might not be monitoring specific but something to do with our version of helm?

[2019-04-12 18:57] deniseschannon commented on #19209
@loganhz could you update this issue title cause the last comments seem to indicate that there is a specific use case to hit this

[2019-04-12 18:57] mrajashree commented on #19301
But I don't get how this is related to catalogtemplate generation. That happens from catalog controller post refresh without refreshing UI

[2019-04-12 18:58] deniseschannon commented on #19559
Apologies, I re-read the end of that duplicate issue and it might be different.

[2019-04-12 18:59] davidnuzik commented on #19301
You're probably right @mrajashree I was making a guess that it is related to that issue. I may be completely wrong

[2019-04-12 19:01] davidnuzik opened #19587 "UI Monitoring: When view Cluster Monitoring Configuration on Firefox fields are out of place"
Version: v2.2.2-rc-x12

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Use firefox, enable cluster monitoring

**Result:**
The columns are in the wrong areas.
![image](https://user-images.githubusercontent.com/45179589/56060094-a9c05d80-5d1a-11e9-8e48-7de51e6cb32d.png)

[2019-04-12 19:01] davidnuzik commented on #19587
Note, this was entered against v2.2.2 per procedure but is not a big deal and only affects Firefox. We should probably take it out of v2.2.2 milestone.

[2019-04-12 19:05] loganhz commented on #19564
Prometheus auth log

[code]

[2019-04-12 19:05] deniseschannon commented on #19354
In the logs, I see `Create Azure Log Analytics Workspace %!q(MISSING) on Resource Group %!q(MISSING)rancher-eu-4a20e68f-29a6-4fb8-b011-4ff00d47d784-WEUrancher-eu`

Can you make sure your resource group has it?

[2019-04-12 19:05] deniseschannon commented on #19186
AKS Clusters are [hoasted k8s providers](https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/hosted-kubernetes-clusters/) where the hosted provider manages all the k8s components and the credentials are different from using [nodes from azure](https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/) to create a [Rancher launched k8s cluster](https://rancher.

[2019-04-12 19:09] deniseschannon commented on #19558
Just to clarify, you aren't running rancher at all. It's just a RKE cluster and normal workloads on it? If so, I'd like to transfer this to rancher/rke repo which handles RKE CLI issues.

[2019-04-12 19:10] neerdoc commented on #13314
Stumbled on to this issue too. My problem was the also the hostname, just as @phutchins describes. I had set up two different nodes using the same _cloud-config.yaml_ with RancherOS which caused both nodes to have the exact same hostname. Changed one and re-registered and problem was solved.

[2019-04-12 19:16] deniseschannon commented on #19536
If you are looking for event triggers for the pipeline, they are located here as a setting.

 https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/pipelines/#modifying-the-event-triggers-for-the-repository

You are looking ta the pipeline trigger rules, which is different: https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/pipelines/#trigger-rules

[2019-04-12 19:16] #19536 closed

[2019-04-12 19:25] davidnuzik opened #19588 "UI Monitoring: Cannot increase time when have Custom timeframe"
Version: v2.2.2-rc-x12
Version v2.2.20 (Pre-existing issue)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Enable monitoring
- Set a custom time range for any of the metrics. In my case the last 2 minutes up to current.
- Wait a few mins. Now change the time scale so we can include more recent time (i

[2019-04-12 19:43] riaan53 commented on #19558
Hi, the cluster is rke created (latests) and then rancher installed via helm. This issue is present in most k8s clusters and manifest in components that use the standard k8s go-client like nginx ingress controller. Feel free to move it to rke repo.

[2019-04-12 19:44] loganhz commented on #19564
Should be the same issue with https://github.com/rancher/rancher/issues/19243

[2019-04-12 20:00] deniseschannon commented on #19496
It sounds like you might be hitting this: https://github.com/rancher/rancher/issues/18465

1. I wouldn't recommend picking up RCs, they are RCs for a reason and we don't test upgrades between RCs so upgrading to a final version might not work for you.

2. Is this an upgraded setup (aka did you create these clusters before v2.2.0?). What were your steps to update the cluster to start taking snapsho

[2019-04-12 20:15] deniseschannon commented on #19494
1. Any project member/owner has ability to manage namespaces.
2. I'd like to make this as an UI enhancement to remove the ability to *only* manage namespaces in the Namespace tab.

Not sure if our users are already used to/prefer the ability to manage namespaces in all the other pages (workloads/load balancers, configmaps, etc).

[2019-04-12 20:16] deniseschannon commented on #19494
Alternatively, we can warn the user if there are other items in that namespace before deleting.

[2019-04-12 20:23] deniseschannon commented on #19492
If Kubernetes is not launched by Rancher (aka using either a node from an infrastructure provider or .a custom cluster), the expectation is that the management of Kubernetes (which includes backups/restores) is done outside of Rancher. This includes imported clusters.

[2019-04-12 20:23] #19492 closed

[2019-04-12 20:39] ekarlso commented on #16460
@loganhz did you have a preview build?

[2019-04-12 21:30] davidnuzik commented on #18380
reproduced in v2.1.8

[2019-04-12 21:51] davidnuzik commented on #18380
reproduced in v2.2.1

[2019-04-12 21:58] dchusovitin commented on #17264
It's working with "extra_binds" option. After changing kubelet configuration you should recreate "PersistentVolume".

[2019-04-12 22:17] sowmyav27 opened #19589 "Cluster Owner is not able to deploy catalog apps"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. As an admin, create a cluster (rke DO).
2. Add authentication in Rancher example: Github.
3. Add another github user(say user1) as the cluster owner for the cluster created in step 1.
4. As an admin, create a project in the cluster.
5. As the github user

[2019-04-12 22:51] soumyalj opened #19590 "After executing a pipeline, logs do not appear for some stages sometimes"
Rancher version: v2.1.8

Steps

1. Create a 3 node RKE cluster
2. Create a pipeline using a github repo
3. After executing a pipeline, logs sometimes do not appear for some stages (Log is unavailable).
Clicking between different steps allows the logs to load occassionally

![Screen Shot 2019-04-12 at 2 11 36 PM](https://user-images.githubusercontent.com/18536626/56070015-9b823980-5d3a-11e9-865e-ea

[2019-04-12 23:31] sangeethah commented on #19589
This issue is NOT reproducible in v2.1.8.
This issue is reproducible in v2.2.1.

[2019-04-12 23:35] jiaqiluo opened #19592 "MultiAPP - cannot see the multiApp if the catalog used is deleted"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
- add a catalog
- deploy a multiple cluster App using that catalog
- delete the catalog
- click on the `Apps` option in global view
<img width="1415" alt="screenshot" src="https://user-images.githubusercontent.com/6218999/56071030-6973d600-5d40-11e9-9919-768

[2019-04-12 23:46] felix-russell commented on #19559
@deniseschannon @guangbochen any info on how I can access and reset the `local helm controller` assigned to that project/namespace/catalogapp? I fixed my chart and would like to blow away and re-init the misbehaving local-helm

[2019-04-12 23:48] mrajashree commented on #19589
When a user is added to a cluster, we create a clusterroletemplatebinding, and the controller for crtb creates rolebindings for this user to grant access to them to project level resources in that cluster including apps, from [here](https://github.com/rancher/rancher/blob/release/v2.2/pkg/controllers/management/auth/crtb_handler.go#L155)
But in this case, the project is created in the cluster afte

[2019-04-13 00:01] jiaqiluo opened #19593 "Catalog APP - 404 error when cloning an app if the catalog is deleted"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- add a cluster
- go to the `default` project
- add a catalog
- deploy an app using the catalog
- delete the catalog
- clone the app
<img width="728" alt="screenshot" src="https://user-images.githubusercontent.com/6218999/56071514-f79d8b80-5d43-11e9-9ef7-088

[2019-04-13 00:16] sowmyav27 opened #19594 "Admin user stuck in 'Removing' State"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Rancher setup in 2.1.8.
2. Enable auth (Github).
3. Add another admin user - admin2
4. Upgrade rancher from 2.1.8 to v2.2.2-rc-x12
5. Login as admin2.
6. Delete Default admin.

**Expected Result:**
Admin is deleted successfully

**Actual Result:**
Admin i

[2019-04-13 00:46] aemneina commented on #7592
Hi @zbialik the original ticket is talking about rancher 1.1 and pretty old. I dont think there's an issue with ipv6 and the latest versions of docker. Can you try with the latest versions of rancher/docker and see if that works for you? If not please file a new ticket and provide as many details of the issue as possible.

[2019-04-13 01:01] cloudnautique opened #19595 "Sort current cluster to the top of cluster/project drop down"
The current cluster should be at the top of the drop down menu. In situations where there are only 2 clusters, there is the possibility you end up in the wrong project.

In situations where there are lots of clusters, and you want to switch project you have a lot of scrolling that might be needed.

[2019-04-13 01:35] martin-kieliszek commented on #19059
New single node setup on 2.2.0 has this same error. Any recommended steps to pass this blocker?

[2019-04-13 04:45] sangeethah opened #19596 "Not able to create Global DNS Provider as as regular user."
Rancher sever version - v2.2.2-rc-x12
Steps to reproduce the problem:
Create a regular user (non admin user).
Log in as this regular user.
Create a GlobalDNS Provider.

Expected Result:
This should result in GlobalDNS Provider  pod being created in cattle-global-data namespace in local cluster.

Actual behavior:
GlobalDNS Provider  pod fails to get created in cattle-global-data namespace in local

[2019-04-13 05:13] alena1108 commented on #19596
A controller should use a service account when launching global dns app https://github.com/rancher/rancher/blob/master/pkg/controllers/management/globaldns/globaldnsprovider_catalog_launcher.go#L177 instead of using a gdns provider creator id.

[2019-04-13 07:50] aleksey005 commented on #19569
I also have the same error

`2019/04/13 07:43:15 [ERROR] API error response 422 for PUT /v3/clusters/c-25d48?_replace=true. Cause: json: cannot unmarshal string into Go struct field RotateCertificates.services of type []string`

when trying to save cluster

`Validation failed in API: Cluster spec conversion error
`

[2019-04-13 11:07] isavcic commented on #16039
Any workarounds for `Failed to install app X. Error: UPGRADE FAILED: the server is currently unable to handle the request (get configmaps)` ?

[2019-04-13 12:11] pensiero commented on #19352
Thanks @gitlawr, so what you are saying is that if a long-running workload uses an image which is not in a persistent volume, then if the workload restarts, we might not be able to access to that image.

So my question is: how come the workload restarted by itself? Is it normal that from time to time workloads restart?

Thank you

[2019-04-13 15:23] totogo commented on #18535
Got the same issues in 2.2.1

[2019-04-13 20:26] zbialik opened #19597 "failure to launch k8s cluster when ipv6 disabled (flannel as network provider)"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Deploy kubernetes cluster using flannel as network provider and with ipv6 disabled on all hosts.

**Result:**
Containers stuck in

**Other details that may be helpful:**
I am deploying a k8s cluster deployed using `Rancher v2.1.7` (backed by `flannel`)

I am

[2019-04-14 00:04] gabrielcalderon commented on #19592
I ran into this same issue with Rancher 2.2.1.

[2019-04-14 04:20] aa-aahmed opened #19598 "Rancher 2.2 Deployment Failed on Centos (3.10.0-957.10.1.el7.x86_64)"
**----------------------------------- OS Version -----------------------------**

[root@master ~]# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="Ce

[2019-04-14 06:02] #18994 closed

[2019-04-14 09:18] gitlawr commented on #19352
@pensiero In [kubernetes model](https://kubernetes.io/docs/concepts/workloads/pods/pod/), pods are considered to be relatively ephemeral (rather than durable) entities. They won’t survive scheduling failures, node failures, or other evictions, such as due to lack of resources, or in the case of node maintenance.
I don't think pods would crash frequently in a stable environment, but yes it is norma

[2019-04-14 09:19] pensiero commented on #19352
Thank you

[2019-04-14 10:27] vitobotta commented on #19209
Had this and the manual fix worked, thanks!

[2019-04-14 11:05] aiwantaozi opened #19599 "Should show alert group even not alert rule under that group"
Version: master
Reproduce status:
1. create an alert group
2. create an alert rule under that group
3. only delete the alert rule
4. both alert group and alert rule disappear in the UI
5. the legacy alert group will affect backend to recycle the alertmanager app, because user won't see any alert group/rule in the UI but the app not recycle.

┆Attachments: <a href="https://rancher.atlassian.net/sec

[2019-04-14 11:33] CoderPoet commented on #18679
@superseb  you can rm -rf /var/lib/rancher/management-state  or mv to other path

[2019-04-14 12:24] loganhz opened #19600 "Backport:Monitoring Query fails periodically."
https://github.com/rancher/rancher/issues/19564

[2019-04-14 13:59] loganhz opened #19601 "Backport:UI: When go to Cluster Monitoring Configuration, enable but don't save UI shows is Enabled"
https://github.com/rancher/rancher/issues/19402

[2019-04-14 15:31] aiwantaozi opened #19602 "Improve monitoring graph params precheck"
Need to check namespace in metric params in case query not allow namespace.

[2019-04-15 01:30] bobo200128 commented on #18535
Helm template failed. Error: stat template-dir: no such file or directory : exit status 1

[2019-04-15 01:31] bobo200128 commented on #18535
I have the problem at 2.2.1

[2019-04-15 01:44] MrYuanZhen commented on #19598
What is the version of the rancher used?

[2019-04-15 01:50] aa-aahmed commented on #19598
2.2

i have done intense testing with various rancher built 2.1, 2.0 etc only
once Rancher was up but then it was complaining about Network Issue.

I wrote a pre-flight check script to make sure docker is right state with
right built and there is no previous configuration around. but still no
luck?

On Mon, Apr 15, 2019 at 11:45 AM 袁振 <notifications@github.com> wrote:

[2019-04-15 02:10] guangbochen commented on #19559
hi @felix-russell, thanks for the detailed info, Rancher's local helm controller will do `helm delete --purge` of each uninstall, can you please provide a reproducible process of how u getting into this error.

And for cleaning up the local helm install, u may try:
1. exec into the rancher docker container
2. list all catalog apps via `$kubectl get apps --all-namespaces`
3. delete specific app usi

[2019-04-15 02:14] #19602 closed

[2019-04-15 02:40] dbason commented on #18367
We resolved this by upgrading the initial RKE deployed kubernetes cluster for the Rancher HA install.  It was previously on 1.11.2 but upgrading it to 1.13.5 using RKE seems to have resolved the issue for us.

[2019-04-15 02:59] jlambright commented on #10384
This still seems to be an issue. Has there been any progress on this?

[2019-04-15 03:02] jlambright opened #19603 "MongoDB Cluster Fails to Deploy"
Many people have ran into issues with:

` (Failed to allocate instance [container:1i742]: Bad instance [container:1i742] in state [error]: Allocation failed: No healthy hosts meet the resource constraints: [instanceReservation: 1, instanceReservation: 1, 27017:27017/tcp portReservation, instanceReservation: 1].)`

Issue rancher/rancher#10384  was closed before any real investigation was done. So h

[2019-04-15 04:46] deniseschannon commented on #19055
@jlamillan Let me know if you have more questions.

[2019-04-15 04:46] #19055 closed

[2019-04-15 08:06] aiwantaozi commented on #18616
In order to make it simple and easy to use, alert don't have a switch like enable/disable, when user configure an alert which has a validate notifier the alertmanager get deployed, the status mute/firing is from the alertmanager.  We will update to allow empty notifier, need to notice when none of alerts has notifiers, the alertmanager won't get deployed, and the status wouldn't change.

[2019-04-15 08:28] Entrio commented on #14715
I am experiencing the exact same issue, none of my namespaces are being deleted from a project

[2019-04-15 08:28] loganhz opened #19605 "Backport:Parsing issue with answers.yaml in UI"
https://github.com/rancher/rancher/issues/18196

[2019-04-15 08:40] loganhz commented on #18674
Confirmed with @orangedeng . There is no API we can use for now.

[2019-04-15 08:44] MarvinKlemp opened #19606 "Pipeline auth with private registry"
I have a question:

In a project I have a multistep docker file. The first step pulls dependencies for the project (this takes quite some time, around 5 minutes).

After the dependencies are downloaded the image is pushed to a gitlab registry (to archieve the dependencies used for a specific release in case we need to rebuild it). The push works fine using `pushRemote` and `registry`. So the first

[2019-04-15 08:45] loganhz opened #19607 "Backport:[Cloud Driver]Huawei CCE node operating system options are mismatched"
https://github.com/rancher/rancher/issues/18674

[2019-04-15 08:59] loganhz commented on #19410
Link to https://github.com/rancher/system-charts/pull/35

[2019-04-15 09:00] loganhz opened #19608 "UI:New Monitoring Prometheus PVC doesn't work with OpenEBS"
UI for https://github.com/rancher/rancher/issues/19410

[2019-04-15 09:01] loganhz opened #19609 "Backport:New Monitoring Prometheus PVC doesn't work with OpenEBS"
https://github.com/rancher/rancher/issues/19410

[2019-04-15 09:02] loganhz opened #19610 "Backport:UI:New Monitoring Prometheus PVC doesn't work with OpenEBS"
https://github.com/rancher/rancher/issues/19608

[2019-04-15 09:38] superseb commented on #19598
Most of the issues around CentOS are either due to `firewalld` being active and blocking network connectivity or SELinux being enforced with strict rules. Can you share what exact image you are using that can be used to reproduce the issue?

[2019-04-15 09:39] loganhz opened #19611 "UI:Rancher 2.2.x cannot remove notify if there is only one"
https://github.com/rancher/rancher/issues/18616

[2019-04-15 09:42] loganhz opened #19612 "Backport:Rancher 2.2.x cannot remove notify if there is only one"
https://github.com/rancher/rancher/issues/18616

[2019-04-15 09:43] jjkoehorst opened #19613 "[rancher-python] rancher.ApiError in version 2.2.1"
As is mentioned in https://github.com/rancher/client-python/issues/10 and I wasn't sure if it would be picked up since it was created in a different repository...

Any solution for the API Error in the latest Rancher version?

[code]

[code]

[2019-04-15 09:44] loganhz opened #19614 "Backport:UI:Rancher 2.2.x cannot remove notify if there is only one"
https://github.com/rancher/rancher/issues/19611

[2019-04-15 09:45] gitlawr commented on #17909
The error message is from validation for the CA attribute of cacerts.
According to the [manual](https://www.openssl.org/docs/manmaster/man5/x509v3_config.html#Basic-Constraints),

Can you check if your CA certificate includes the basicConstraints extension with the CA field set?

[2019-04-15 09:59] georgeboot commented on #19354
@deniseschannon The Log Analytics workspace `rancher-eu-4a20e68f-29a6-4fb8-b011-4ff00d47d784-WEU` exists and is linked to the resource group.

Note that the name is missing the `rancher-eu` suffix that the log gives, not sure where it's getting that from.

[2019-04-15 10:01] Amos-85 opened #19615 "Automatically lower case rancher catalog template names"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
add jenkins-x catalog url: https://github.com/jenkins-x/jenkins-x-platform

exception in rancher logs:
`[ERROR] CatalogController jenkinsx [catalog] failed with : failed to update templates. Multiple error occurred: [TemplateVersion.management.cattle.io "jen

[2019-04-15 10:15] superseb commented on #18593
This should be extended to the Node view:

<img width="1451" alt="Screen Shot 2019-04-15 at 12 15 09" src="https://user-images.githubusercontent.com/2620179/56124980-2bf98d80-5f78-11e9-90ef-980a9e3a0765.png">

[2019-04-15 10:20] Amos-85 commented on #18796
same issue for me
rancher 2.1.8

[2019-04-15 10:25] yuanbw opened #19616 "after restart rancher server, rancher ui server stuck in Provisioning"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
after restart rancher server, the rancher ui stuck in Provisioning

**Result:**
![image](https://user-images.githubusercontent.com/26744366/56125557-c58e6280-5fab-11e9-84b1-36be1ccc3525.png)

rancher ui  stuck in provising and output the error msg "Exit stat

[2019-04-15 12:00] otreda commented on #16052
and what about this problem?

[2019-04-15 12:58] doog33k commented on #19145
excellent news.

[2019-04-15 14:33] zbialik opened #19617 "Creation of K8s "dummy" Node for BIG-IP Gateway keeps getting removed"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**

1. Bootstrap a k8s cluster that is managed by Rancher, with the following configurations:

- custom cluster (3 nodes, each have all roles)
- amazon provider
- flannel (or canal) as network provider (although I think problem likely persists with Calico,

[2019-04-15 15:47] cjellick commented on #19574
HI,

We're taking a look.

[2019-04-15 15:55] cjellick commented on #18679
@CoderPoet are you saying that fixed the problem for you?

[2019-04-15 15:56] vincent99 commented on #18593
Wasn't this already fixed for 2.2?

[2019-04-15 15:56] superseb commented on #18593
It's fixed in the Nodes view, not in the Node view (or Node detail view)

[2019-04-15 16:06] cjellick commented on #15932
Propose moving out of 2.2.x and into 2.3

[2019-04-15 16:22] sboulkour opened #19618 "Always failing HA rancher upgrade from 2.1.6 to 2.1.7 (or 2.1.8)"
**What kind of request is this (question/bug/enhancement/feature request):**
Question, maybe bug

**Steps to reproduce (least amount of steps as possible):**
Upgrade HA rancher (on RKE) from 2.1.6 to 2.1.7 (tried 2.1.8 with same result)

**Result:**
Blank page, no more rancher interface.
Error log :
[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`ran

[2019-04-15 16:25] dramich commented on #19574
Hey @3pns, based off the logs and what I have seen previously with catalog update memory consumption, when processing 4 catalogs rancher has a huge memory spike which in turn causes the OOM error and the crash.
Some things you can consider is turn off some of the catalogs if they aren't being used. Run a larger instance if all the catalogs are required or upgrade rancher. With version 2.2.x we had

[2019-04-15 16:28] deniseschannon commented on #19593
@tfiduccia can you let me know if this reproduces on a v2.1.x setup?

[2019-04-15 16:28] superseb commented on #17874
Steps to reproduce:

- Create hosts with no direct internet access, and configure proxy in OS and Docker so it can work through a proxy
- Create Kubernetes environment template, configuring the proxy in the environment template
- Add hosts using the command provided in the environment -> Add Host view
- See kubectld service not getting active, container doesn't stay running

Steps to validate:
- S

[2019-04-15 16:36] deniseschannon commented on #18505
Closing in favor of #19585 as they are duplicate errors.

[2019-04-15 16:36] #18505 closed

[2019-04-15 16:47] sboulkour commented on #19618
Reverting the image tag only, directly in the `rancher` deployment back to `2.1.6` fixes the problem (even with agents still in 2.1.7 or 2.1.8)

[2019-04-15 17:05] davidnuzik commented on #19566
Version: Master (4/25/29) ImageID: 0d755e769e77
Verified I am not longer able to reproduce the issue.
I tried creating node templates as well just as I had done before to attempt to reproduce the issue; I cannot and was able to make all types of node templates without any issues.

[2019-04-15 17:05] #19566 closed

[2019-04-15 17:13] sowmyav27 commented on #19556
Error `Failed to set up SSH tunneling for host [x.x.x.x]: Can't retrieve Docker Info: error during connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/info: Unable to access the service on /var/run/docker.sock. The service might be still starting up. Error: ssh: rejected: connect failed (open failed)` seen while doing it for a custom cluster, is related to this issue - https://github.com/rancher/

[2019-04-15 17:21] sowmyav27 opened #19620 "Cert Rotation - worker nodes did not get the new certs after cert rotation"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Have a DO rke cluster on rancher:v2.1.8.
2. run the following command
./system-tools cert rotate --url https://x.x.x.x/v3 --token "token-xxxxxxxx" --cluster c-xxxx (system tools from : https://github.com/rancher/system-tools/releases/tag/v0.1.1-rc7)

**Ex

[2019-04-15 17:22] deniseschannon commented on #16605
@willmao The other 2 users in this issue have attributed their issues to excessive configmaps that aren't being cleaned up, which is something we're addressing in a future release. Can you look at your configmaps to see if that's also an issue for you?

[2019-04-15 17:25] deniseschannon commented on #17101
The app loading will be fixed in 2.2.2, but the cleaning up of config maps will be fixed in 2.2.3.

[2019-04-15 17:38] jiaqiluo commented on #19358
The bug fix is validated with Rancher: master  4fd25480
Setup: single install; an EC2 cluster with 4 nodes( 1 etcd, 1 control plane, 2 workers)
Steps are the same as the comment here:https://github.com/rancher/rancher/issues/19371#issuecomment-479810945

[2019-04-15 17:39] #19358 closed

[2019-04-15 17:39] deniseschannon commented on #19331
@daxmc99 We think this issue could be mitigated by the config map fixes.

[2019-04-15 17:40] sofior opened #19621 "nfs not working with nextcloud"
container path is /var/www/html

rancher version is v2.2.1

[2019-04-15 17:40] sofior commented on #19621
I can't find any file on my nfs path
but works good with ubuntu:xenial

[2019-04-15 18:02] davidnuzik commented on #19458
Version: v2.1.8 -> Master (4/15/19)

I also validated with v2.1.8 to latest master update and can confirm this is now working as expected.
When I look in the UI 1.10 (unsupported) is no longer selected when I attempt to edit the EKS cluster post-upgrade. I can save without making any changes to the EKS cluster and it will not do anything (as expected). I checked this because this was an issue prev

[2019-04-15 18:02] #19458 closed

[2019-04-15 18:04] dnoland1 commented on #18593
Should label be `Docker Version:"`? Should it be changed to just `Version:` or `Runtime Version:`? I don't think containerd is considered a Docker version.

[2019-04-15 18:10] superseb commented on #18593
Yep, should probably move to what k8s uses:

[code]

Or something along that displays nicely in the UI

[2019-04-15 18:20] jiaqiluo commented on #19278
The bug fix is validated with Rancher:master 4fd2548 following the suggested steps outlined by @thxCode at https://github.com/rancher/rancher/issues/19326#issuecomment-479814459

- Enable Cluster Monitoring -> the monitoring dashboards should be on
- Disable Cluster Monitoring -> the monitoring dashboards should be off
- Enable Cluster Monitoring and then drop cattle-prometheus/prometheus-cluster-

[2019-04-15 18:46] davidnuzik commented on #19390
Version: Master (4/15/19) ImageID: 0d755e769e77

Confirmed that in both scenarios (don't select VPC and don't enter a Name for the template) that the error for each is only displayed once now, at the bottom of the modal, as expected.

[2019-04-15 18:46] #19390 closed

[2019-04-15 18:48] davidnuzik opened #19624 "Monitoring: Fails to deploy in some cases due to insufficient vCPU"
Related: https://github.com/rancher/rancher/issues/19078
Version: v2.2.2-rc-x12 and Master (4/15/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
In some rare / uncommon testing scenarios I see that I can enable monitoring (it thinks we have enough vCPU) and it will still fail to fully provision -- pr

[2019-04-15 18:51] davidnuzik commented on #19392
Version: Master (4/15/19) ImageID: 0d755e769e77

Confirmed issue. Now, when you first try to enable cluster monitoring, you will see a message at the top suggesting to review the docs. This properly links to https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/monitoring/#resource-consumption

If, in the settings, you set the ui-pl to non-default (not "rancher") then the message does NOT s

[2019-04-15 18:51] #19392 closed

[2019-04-15 18:55] deniseschannon commented on #19112
Consider upgrading helm to latest version in Rancher

[2019-04-15 18:56] #19118 closed

[2019-04-15 18:58] jiaqiluo commented on #19403
The bugfix is validated with Rancher: master 4fd2548
The same steps as this comment: https://github.com/rancher/rancher/issues/19429#issuecomment-481464944

Result: we will not be able to enable cluster/project monitoring if there is no sufficient resources in the cluster.

[2019-04-15 18:58] #19403 closed

[2019-04-15 18:59] deniseschannon commented on #19126
We have docs on how to restore etcd with a snapshot (avialable as of v2.2) or without a snapshot.

https://rancher.com/docs/rancher/v2.x/en/cluster-admin/restoring-etcd/

[2019-04-15 18:59] #19126 closed

[2019-04-15 19:00] davidnuzik commented on #19402
Version: Master (4/15/19)
The UI has been tweaked a bit on the Cluster Monitoring Configuration page so that it is now more in alignment with how the UI looks in similar areas. The Disable/Enabled buttons at the top-right have been removed. Now when you set up monitoring for the first time you will see this button to enable it at the bottom of the page:
![image](https://user-images.githubuserconte

[2019-04-15 19:00] #19402 closed

[2019-04-15 19:09] jiaqiluo commented on #19422
The bug fix is validated with Rancher: master 4fd2548
The steps are the same as https://github.com/rancher/rancher/issues/19422#issuecomment-480424082:

- run Rancher v2.2.1
- add a cluster
- enable cluster monitoring
- upgrade Rancher to master 4fd2548
- go to the cluster monitoring setting page

Result:
- notice that the monitoring page show two more variables `Node Exporter CPU Limit` and `Node

[2019-04-15 19:09] #19422 closed

[2019-04-15 19:15] davidnuzik commented on #19387
Version: Master (4/15/19)

I am no longer able to reproduce the issue in latest master. When I switch between clusters all the percentages (used/reserved) update appropriately. When we reproduced this we only saw it affecting clusters with monitoring ON but I checked both and do not see the issue in either case any longer.

[2019-04-15 19:15] #19387 closed

[2019-04-15 19:20] davidnuzik commented on #19349
Version: Master (4/15/19)

The default CPU/Memory reservation for Prometheus has changed to 750 each respectively.
The default CPU/Memory limit for Prometheus has changed to 1000 each respectively.

Screenshot of defaults shown:
![image](https://user-images.githubusercontent.com/45179589/56159072-9f030400-5f78-11e9-9f65-02990be3c8c7.png)

After enabling, I confirmed that the reservation/limits ind

[2019-04-15 19:20] #19349 closed

[2019-04-15 19:21] tfiduccia commented on #19593
Version - 2.1.0
I was able to reproduce this 2.1.0 and this has probably been an issue since we originally deployed.  If the Catalog has been removed the clone and upgrade options should be dimmed and not clickable.

[2019-04-15 19:24] davidnuzik commented on #19044
@deniseschannon @cloudnautique
I noticed JIRA sync service added status/to-test label? But I removed it 4 days ago? Is this just a glitch? I don't see person adding this when looking at history in JIRA.

[2019-04-15 19:28] davidnuzik commented on #19017
@loganhz if this expected? If I disable the Library I still see the system-library listed. But when I try to launch an app there are no libraries listed.

![Screen Shot 2019-04-15 at 12 26 43 PM](https://user-images.githubusercontent.com/45179589/56159566-e211a700-5f79-11e9-8ef4-9e342e5779fc.png)

[2019-04-15 19:28] davidnuzik commented on #18733
Note: is awaiting a v2.1.x RC

[2019-04-15 20:16] soumyalj commented on #19590
This issue was not seen in v2.2.2

[2019-04-15 20:18] soumyalj commented on #17974
Tested with rancher/server:v1.6.27-rc1
1. Created a service "inttest1" and LB "testlb" pointing to the service inttest1 with selector label `foo=bar`
2. Created another LB "extlb" pointing to "testlb" with selector label "foo1=bar"
The haproxy config of "extlb" inherits the target hostname rules of "testlb"
[code]

After adding the label 'io.rancher.lb_service.skip_target_lb_rules=true`, the rules

[2019-04-15 20:20] #17974 closed

[2019-04-15 20:27] davidnuzik commented on #17733
Version: Master (4/15/19)

When you enable cluster monitoring a significant amount of errors are no longer seen as described in the issue description. I now only see five errors for a second then those discontinue -- this seems to only be for a mere instant right after I click "Enable Monitoring"

Since the described issue is resolved I am closing this issue.
Here are the few errors I briefly saw

[2019-04-15 20:27] #17733 closed

[2019-04-15 20:29] alena1108 commented on #19157
Can be tested in v2.0.14-rc1

[2019-04-15 20:30] davidnuzik commented on #19377
Version: Master (4/15/19)

I carefully followed the steps to reproduce and now only one error is shown at a time. The previous error is very quickly blanked out before showing the next error (the 401 AuthFailure) error due to invalid credentials replaces the previous error. This is now working as expected.

[2019-04-15 20:30] #19377 closed

[2019-04-15 20:30] alena1108 commented on #19156
Can be tested in v2.1.9-rc1

[2019-04-15 20:31] alena1108 commented on #18835
Can be tested in v2.1.9-rc1

[2019-04-15 20:31] alena1108 commented on #18733
Can be tested in v2.1.9-rc1

[2019-04-15 20:34] davidnuzik commented on #19378
Version: Master (4/15/19)

Now the cloud credential associated with the template is chosen from the "Cloud Credentials" drop-down when you choose to edit a node template.

In this picture below you see that my "amazon" cloud credential is chosen even though I have an "aaa" cloud credential as well (which would alphabetically show up as picked when edit the template before the fix).

![image](https

[2019-04-15 20:34] #19378 closed

[2019-04-15 20:37] tfiduccia commented on #19593
Related issue: https://github.com/rancher/rancher/issues/18197

[2019-04-15 20:40] alena1108 commented on #19053
@aiwantaozi check with @kinarashah to see if "Store sensitive data in secrets" framework can be leveraged.

[2019-04-15 20:45] sangeethah commented on #18676
Tested with v2.2.2-rc-x12

Client version for K8s - v1.12.7 is now v1.12.7

[code]

[2019-04-15 20:51] davidnuzik commented on #18733
Version: v2.1.9-rc1

Carefully followed the steps outlined in #17767 (3 nodes, each with 1 role, 40GB disk space each, ec2 rke cluster, check node status for each)
I no longer see the red "Disk Space" warning on the node dashboard view for each node.
I also do not see it while the nodes are still provisioning (but you can see the node dashboard while you wait for them to be fully up and ready).

!

[2019-04-15 20:51] #18733 closed

[2019-04-15 20:55] #18676 closed

[2019-04-15 20:58] tfiduccia commented on #13931
@deniseschannon - We have removed the ability to move catalog app namespaces from 2.0.  But...

In the case where you create the namespace first then put the app in it, the move options is still there until you refresh the browser.

If you do click on move before refresh a error message box in top right comes up and basically says "unknown action"
![image](https://user-images.githubusercontent.com

[2019-04-15 21:01] davidnuzik commented on #19300
Version: Master (4/15/19) (Latest master) ImageID: 0d755e769e77

I am still observing the issue with the latest master available. I tested with Firefox (latest update).
I have a video here of the issue occurring: https://vimeo.com/330607870

[2019-04-15 21:03] #13971 closed

[2019-04-15 21:06] deniseschannon commented on #14042
Ports need to be open on your nodes on the GKE side as well as when the ingress is created, it'll take awhile to get created in GKE.

[2019-04-15 21:08] deniseschannon commented on #14390
Ingress in Rancher is working as expected. If you have a specific use case that is not working, please open a new issue with exact steps.

please make sure you read about how k8s works with the nginx ingress controller. There are limitations that @develar has outlined in hsi followup comment.

[2019-04-15 21:08] #14390 closed

[2019-04-15 21:09] jiaqiluo commented on #19454
The bug fix is validated with Rancher: master 4fd2548

Step:
- run Rancher container, single installed
- add an RKE cluster
- deploy some workloads in a project in the cluster
- run automation on the cluster

Result:
- confirm that the UI loads like normally
- confirm that the python tests behave normally
- confirm that RKE provisioned clusters can deploy workloads
- confirm that Ensure that the U

[2019-04-15 21:09] #19454 closed

[2019-04-15 21:11] bmdepesa commented on #16385
Reproduced in v2.1.9
[code]

v2.2.2-rc11
* Deploy Rancher server
* Create custom cluster
* Edited cacerts via kubectl (api is readonly) to set value to ""
* Deleted node agent pod
[code]

[2019-04-15 21:11] #16385 closed

[2019-04-15 21:13] davidnuzik commented on #19197
This was also previously tested in v2.2.2-rc2 and rc5 via #19326 I checked again in latest master for v2.3
Version: Master (4/15/19)

I followed the steps to test outlined here: https://github.com/rancher/rancher/issues/19326#issuecomment-479814459

1. Enable Cluster Monitoring -> the monitoring dashboards should be on
2. Disable Cluster Monitoring -> the monitoring dashboards should be off
3. Ena

[2019-04-15 21:13] #19197 closed

[2019-04-15 21:15] aa-aahmed commented on #19598
I made sure firewalld was off, and selinux was disabled.

[image: image.png]

On Mon, Apr 15, 2019 at 7:38 PM Sebastiaan van Steenis <
notifications@github.com> wrote:

[2019-04-15 21:17] leodotcloud opened #19629 "Display Proxy URL link in Services page"
Rancher 2.x

Rancher has a very cool feature where one can access the service webpage/UI through proxy:  `https://<RANCHER_URL>/k8s/clusters/<cluster-id>/api/v1/namespaces/<namespace-name>/services/<service-name>/proxy`

It would be really helpful to have a link generated and displayed in the "Service Discovery" Page, similar to what we do when an Ingress/NodePort is created (in "Workloads" page).

[2019-04-15 21:18] deniseschannon commented on #18983
@zhengyongtao It's best if you translate your issues into English and create separate issues for each one.

Per google translation

1. You can't view the pods under the namespace without assigning items to the namespace. Some projects are not built by rancher. There is no project by default, so you have to re-allocate the project every time.

This is correct. In order to navigate through pods/name

[2019-04-15 21:18] #18983 closed

[2019-04-15 21:20] deniseschannon commented on #18985
Now that v2.2 has been officially released, Im going to close this issue. If you are having any of theses issues with an official release of Rancher please report back. Also note, that you may end up with some issues if you upgrade from a RC to an official release as sometimes (esp with the k8s version), that version might never have been introduced officially into rancher so it might be blank.

[2019-04-15 21:20] #18985 closed

[2019-04-15 21:22] deniseschannon commented on #18987
What do you mean by "removing login on Rancher side"? How are you removing login for users?

[2019-04-15 21:24] deniseschannon commented on #18989
What rancher version did you hit this on?

[2019-04-15 21:30] deniseschannon commented on #19001
Since launching through the UI is just using a docker-machine command, can you test the same scenario using docker-machine? If you hit this issue in docker-machine, then it's an issue with Docker Machine.

[2019-04-15 21:31] davidnuzik commented on #19372
Version: Master (4/15/19)

Confirmed the spelling for each has been fixed. The word "agian" is spelled correctly now.
`401 AuthFailure: There was a problem validating your keys. Enter valid credentials and try again.`
`403 UnauthorizedOperation: There was a problem validating your keys. Enter valid credentials and try again.`

[2019-04-15 21:31] #19372 closed

[2019-04-15 21:35] deniseschannon commented on #19030
Can you provide more details on your setup?

Rancher version (rancher/rancher/rancher/server image tag or shown bottom left in the UI):
Installation option (single install/HA):

what did you do before you tried to run this command?

[2019-04-15 21:37] cjellick commented on #18639
Cluster-scoped token's primary intended use is for communicating with the kubernetes API for a specific cluster.
It also works for Rancher api calls that fall under the cluster endopint. This means a token scoped to cluster c-1234 will work for everything under `/v3/clusters/c-1234`. The problem is that the cli currently makes calls that are outside of that scope endpoint (directly under `/v3`).

[2019-04-15 21:45] davidnuzik commented on #19102
Version: Master (4/15/19)

I am no longer to reproduce any of the issues described in the issue description and comments.
The cluster wheels now stay in the proper place even with smaller window sizes.

[2019-04-15 21:45] #19102 closed

[2019-04-15 21:47] deniseschannon commented on #19089
@wuchencm I need more details about your set up and where your clusters are built.

This issue doesn't give enough details for us to attempt to reproduce.

[2019-04-15 22:04] davidnuzik commented on #18310
Added to-test label so this shows up in my filter. I will try to look at it today/tomorrow.

[2019-04-15 22:10] jiaqiluo commented on #19391
The bug is reproduced in v2.2.2-rc10, see this comment for details https://github.com/rancher/rancher/issues/19518#issuecomment-482375323

The bug fix is validated with Rancher: master 4fd2548

using the method from this comment https://github.com/rancher/rancher/issues/19518#issuecomment-482369816

Result:

- running the loop `while true; do kubectl version; done`  in the kubectl command line doe

[2019-04-15 22:10] #19391 closed

[2019-04-15 22:18] deniseschannon commented on #19091
We need a lot more information in order to assist you.

Can you please fill out the template that exists when you file an issue from the Rancher repo?

**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/

[2019-04-15 22:19] deniseschannon commented on #19096
This seems like a generic docker machine provisioning issue. Have you tried to provision with the same credentials in Docker Machine?

[2019-04-15 22:21] deniseschannon commented on #19127
First step would be to introduce pod affinity: https://github.com/rancher/rancher/issues/14752

[2019-04-15 22:24] jiaqiluo commented on #19507
The bug is reproduced in v2.2.2-rc8.
Following the same steps as the issue describe, notice that
- two error messages show in the UI
- the `GET https://your-url/c/c-xxxx/monitoring` response header does not set the content types.
<img width="459" alt="screenshot" src="https://user-images.githubusercontent.com/6218999/56169116-fd88ac00-5f91-11e9-8ffe-7470407d39ef.png">

The bug fix is validated wit

[2019-04-15 22:24] #19507 closed

[2019-04-15 22:24] deniseschannon commented on #19131
It looks as if our hosts do not have the labels needed in order for the application to succeed.  YOu need at least one host that has at least
`kraken`
`tiamat`
`capricorn`
`proteus`

It's not that the host name needs this but it needs an actual label on the host.

Also, it looks like you don't have a `proteus` host with the necesarry ports.

Each one of these error message indicates what is missin

[2019-04-15 22:29] tfiduccia commented on #13556
@deniseschannon - this is indeed an issue with RKE amazon EC2 clusters.  I cannot ssh into the nodes using the ID or the node Name.

I tried with a DO cluster and it worked just fine.

[2019-04-15 22:30] deniseschannon commented on #19137
When you say "import an existing cluster to Rancher", are you trying to import a cluster that had been previously imported into Rancher?

[2019-04-15 22:34] deniseschannon commented on #19140
@RRadziejewski if you have any more questions, please open a new issue.

[2019-04-15 22:34] #19140 closed

[2019-04-15 23:23] sowmyav27 commented on #19156
verified on `rancher:v2.1.9-rc1`.
Verified with a custom image provided by @mrajashree .
**Steps taken:**
1. Create a cluster in rancher using image custom provided.
2. Verified the Rancher server certs. (expiry of 30 minutes)
3. Verified new certs are generated after 20 minutes(customized)
4. Verified certs using command - `kubectl get   listenconfig cli-config -o yaml`
5. Verified rancher cli -

[2019-04-15 23:23] #19156 closed

[2019-04-15 23:24] davidnuzik commented on #19168
Version: Master (4/15/19)

I validated this again in the latest master for v2.3. I followed the steps that Sangeetha outlined above https://github.com/rancher/rancher/issues/19168#issuecomment-477388917 and I do not see the console error nor do I have to click the Launch button twice.

The application (Redis in my case) launched without any issues. I also tried with a couple of other applications.

[2019-04-15 23:24] #19168 closed

[2019-04-15 23:28] tfiduccia commented on #14919
Version - 2.2 master 4/15
Verified this is working.

[2019-04-15 23:28] #14919 closed

[2019-04-15 23:28] davidnuzik commented on #18674
@loganhz I do not have testing credentials to validate Huawei. Could we assign to someone with such credentials or provide them to me privately?

[2019-04-15 23:36] westlywright opened #19634 "Catalog App Upgrade Action Does Not Nullify a Null valuesYaml Field"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
This bug is a little hard to reproduce currently due to another bug in the UI with switching between yaml and form editing.

1. Launch project level app, something small like docker registry will suffice, but ensure that the app is launched with the `valuesY

[2019-04-16 00:07] gabrielcalderon commented on #19125
This would be awesome! 😁

[2019-04-16 00:13] 2fst4u commented on #7334
@joshuata where exactly do you put these options? In the FreeNAS NFS share or in rancher? I can't find anywhere to put this.

[2019-04-16 02:20] sangeethah opened #19636 "Support for RHEL/CentOS 7.6 in Rancher 2.0.x"
It appears Rancher 2.2 might be supported only on RHEL 7.6 and not RHEL 7.5

To give teams a chance to upgrade the OS first, a version of 2.0.x and 2.1.x should support both RHEL 7.5 and 7.6.

This will be very helpful for contexts where the team performing the OS upgrade is different from the one performing Rancher upgrade

[2019-04-16 02:20] sangeethah commented on #19636
Rancher server version - v2.0.13

K8s 1.11.9
RHEL 7.6 with native docker (SE linux enabled) with docker 1.13.1- Pass
RHEL 7.6 with upstream docker 18.09 (SE linux not enabled) - Pass

K8s 1.10.12
RHEL 7.6 with native docker (SE linux enabled) with docker 1.13.1- Pass
RHEL 7.6 with upstream docker 18.09 (SE linux not enabled) - Pass

K8s 1.9.7
RHEL 7.6 with native docker (SE linux enabled) with doc

[2019-04-16 02:21] #19636 closed

[2019-04-16 02:22] leodotcloud opened #19637 "View/Edit YAML for namespace is showing incorrect information"
rancher/rancher:v2.2.1

Navigate to [Cluster] > Default > Namespaces.

From the drop-down menu of the "default" namespace and click "View/Edit YAML".

Expected:
YAML output for the namespace resource.

Actual:
I see the YAML for all the resources in this namespace.

[2019-04-16 02:23] sangeethah commented on #18612
Reopening this issue , Since have made a decision to go with rancher API support for cert rotation and not go with standalone system tool approach.

[2019-04-16 02:49] guangbochen opened #19638 "Catalog templates didn't get updated on rancher slave pod in HA mode"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Pre-requisites:  Rancher HA

1. add a custom catalog to the rancher global/cluster/project catalog.
2. update catalog charts:
    2.1 change the template files e.g. the default value in the values.yaml file and push the update.
    2.2 or add a new version o

[2019-04-16 03:12] aemneina opened #19639 "etcd restore doesnt work on ROS hosts"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. break your cluster and try to restore from the UI

**Result:**
[code]

We copied the snapshots from `/opt/rke/etcd-snapshots/` to `/backup` on the host then ran the restore and that worked. We also provisioned all new etcd/control plane nodes and this wor

[2019-04-16 03:20] laoshancun commented on #18535
Same issue on rancher v2.2.1

[2019-04-16 03:22] alena1108 commented on #19360
@loganhz in addition to removing the pod with --force option, can we check if monitoring rescheduled the pod when the shutdown node gets removed?

[2019-04-16 03:29] alena1108 commented on #18441
@jbroq we can't reproduce this issue on 2.2.2-rc12. Could you give this build a try?

[2019-04-16 03:37] soumyalj commented on #18568
Reproduced the issue in v1.6.18-patch1-rc2 as mentioned above

[2019-04-16 03:49] deniseschannon commented on #19489
Duplicate of https://github.com/rancher/rancher/issues/19222

[2019-04-16 03:49] #19489 closed

[2019-04-16 03:51] deniseschannon commented on #19226
@guglez if you still have any questions, please re-open or make a comment and ping me.

[2019-04-16 03:51] #19226 closed

[2019-04-16 03:56] deniseschannon commented on #19230
@fedeostrit @wdeignan It sounds like both of you have figured out your issues with windows. We are introducing windows 1809 in v2.3 so look forward to announcements to test out the new windows!

[2019-04-16 03:56] #19230 closed

[2019-04-16 04:00] deniseschannon commented on #19237
@AndrePZiviani @youssefbouzaine @fabouya

Were you able to get it working in 2.1.6 and now it doesn't work in 2.2? I'm assuming everyone has configured the openstack cloud provider as well.

[2019-04-16 04:05] alena1108 commented on #19289
@danielbjornadal where exactly do you see this error `The target type cannot be Workload.`?

[2019-04-16 04:06] deniseschannon commented on #19262
@mohapma I need some more details than the error.

Can you fill out the template that populates when you try to create a new issue?

[2019-04-16 04:35] loganhz commented on #19634
@westlywright @alena1108  Could you pass an empty string instead of `null`, please? I can reproduce it by passing `null` during upgrade. But passing an empty string works. We can put a fix for it if empty string is not good.

[2019-04-16 04:44] sowmyav27 opened #19640 "User role selection not taking effect"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Log into Rancher v2.2.2-rc12 as admin
2. Click on Add User. Enter Username, Password. Select global Permissions - Custom.
3. Select individual permissions by clicking on the text (example: Click on text `Create Clusters` to select the permission. (Do not

[2019-04-16 05:06] loganhz opened #19641 "Backport:UI Monitoring: Cannot increase time when have Custom timeframe"
https://github.com/rancher/rancher/issues/19588

[2019-04-16 05:11] loganhz commented on #19017
@davidnuzik yes, it's expected. You can only disable system library by deleting it. And users should not be able to deploy apps in system library directly manually.

[2019-04-16 05:50] rootwuj commented on #18674
Tested with rancher/rancher:master from Apr 16.
This version of Huawei CCE driver node os options are the same as Huawei public cloud.
Confirmed fixed.

[2019-04-16 05:50] #18674 closed

[2019-04-16 05:56] CoderPoet commented on #18679
yes
Please make a backup

[2019-04-16 06:19] deoxyszc opened #19642 "Chinese translation issue"
“主机”界面中的pod仪表盘，在max-pods被配置为1000以上时，中文表述不正确，建议与英文表述统一。
中文表述：已创建0.3个pod，最多2.5K个
![image](https://user-images.githubusercontent.com/45086445/56186563-57e94180-6052-11e9-8ae5-f4116c08bb54.png)
英文表述：0.3 of 2.5K used
![image](https://user-images.githubusercontent.com/45086445/56186603-836c2c00-6052-11e9-9e2e-86fb55fb72b5.png)

[2019-04-16 06:43] guangbochen commented on #19634
We will clear the `valuesYaml` or `answers` properties in the backend when it is set to null.

[2019-04-16 07:20] superseb commented on #19598
`docker logs etcd` from the added node would help here

[2019-04-16 07:20] superseb commented on #19462
Let me know if this still needs help

[2019-04-16 07:20] #19462 closed

[2019-04-16 07:31] loganhz commented on #19278
@jiaqiluo , yes, it's in master. I can not reproduce it. Now UI will send request to backend until we have enough data to show the gauge. You can open network tab in Chrome and check if the `cluster-memory-usage` and `cluster-cpu-usage` graph in the API response. I guess if you wait a bit longer, you will see it.

[2019-04-16 07:36] aa-aahmed commented on #19598
I restarted etcd container

i can see below errors

2019-04-16 07:34:05.219557 W | etcdserver: request
"header:<ID:10920782853774570939 username:\"system:node\"
auth_revision:1 > lease_grant:<ttl:15-second id:178e6a250c68f5ba>"
with result "size:41" took too long (107.624505ms) to execute
2019-04-16 07:34:09.565034 N | pkg/osutil: received terminated signal,
shutting down...
WARNING: 2019/04/16 07

[2019-04-16 07:38] aa-aahmed commented on #19598
Redeployed again after full cleanup and still the same

[image: image.png]

On Tue, Apr 16, 2019 at 5:20 PM Sebastiaan van Steenis <
notifications@github.com> wrote:

[2019-04-16 07:41] loganhz commented on #19360
@alena1108 Tested. It will get rescheduled when the shutdown node gets removed.

[2019-04-16 07:43] loganhz commented on #18441
`2019/03/18 17:29:16 http: proxy error: context canceled` is a no harmful log
Not sure if you hit https://github.com/rancher/rancher/issues/19243

[2019-04-16 07:47] intonet commented on #19496
This is not problem with s3 because I tried to also local snapshots as well.
I Upgraded from v2.1.7 to 2.2.1 by helm. I tried to take snapshots but not working. I read about similar problem on centos and decide to test on RC version.  [here](https://github.com/rancher/rancher/issues/19421)

<img width="1230" alt="Screenshot 2019-04-16 at 09 39 45" src="https://user-images.githubusercontent.com/359

[2019-04-16 07:47] 3pns commented on #19574
@dramich @cjellick , thank you for the looking at the logs, I will proceed to upgrade to 2.2.2 once it's released and let you know wether the crashs are gone, if it doesn't fix the crashs I will remove the extra catalog.

[2019-04-16 07:54] vincent99 commented on #15038
This was intentional and mirrors exporting a stack in 1.x, as there is no other way to bulk export.  And other than the occasional annotation, there is virtually nothing on the namespace itself to view or edit.

[2019-04-16 07:55] vincent99 commented on #19637
https://github.com/rancher/rancher/issues/15038#issuecomment-483552143

[2019-04-16 07:55] #19637 closed

[2019-04-16 07:57] aa-aahmed commented on #19598
other odd thing is when I leave window open during deployment connection
drops.

[image: image.png]

On Tue, Apr 16, 2019 at 5:38 PM Ahmed Ateeq <ahmed@on5.io> wrote:

[2019-04-16 07:59] superseb commented on #19598
Images don't come through in an e-mail reply.

From the logs it seems like the server is overloaded but I would need the server specifications and the complete logging of the etcd container (preferably directly after launch when the error happens)

[2019-04-16 08:27] strowi commented on #18367
Same here, with 1.13.5 for rancher-server we've added ~8 nodes without a problem.

[2019-04-16 08:43] thxCode opened #19645 "Monitoring - can't completely clean up after disabling cluster monitoring"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Enable Monitoring with large size requirement CPU & RAM
1. Disable Monitoring without enabling Monitoring completely

**Result:**
Can't clean up the `cluster-monitoring` App of `System` Project

**Other details that may be helpful:**
- Enable - Disable (q

[2019-04-16 08:57] gwiersma commented on #18989
Version was 2.0.8.

[2019-04-16 09:11] aa-aahmed commented on #19598
I just bump up ram to 8gb with 4 cores .. Will give it a try again. Time of
error it had only 1 GB of ram that might be the issue

On Tue, 16 Apr 2019, 5:59 pm Sebastiaan van Steenis, <
notifications@github.com> wrote:

[2019-04-16 09:16] lianlianhe opened #19647 ""FATA[0021] CA Certificate or Key is empty" after ran 'rke -d etcd snapshot-restore'"
RKE version:
rke version v0.2.1
Docker version: (docker version,docker info preferred)
Client:
Version: 18.09.3
API version: 1.39
Go version: go1.10.8
Git commit: 774a1f4
Built: Thu Feb 28 06:33:21 2019
OS/Arch: linux/amd64
Experimental: false

Server: Docker Engine - Community
Engine:
Version: 18.09.3
API version: 1.39 (minimum version 1.12)
Go version: go1.10.8
Git commit: 774a1f4
Built: Thu Feb

[2019-04-16 09:17] ayooki commented on #19030
It was a firewall problem in my iptables which I resolved by copying the firewall rules from another node.

[2019-04-16 09:17] #19030 closed

[2019-04-16 09:55] isavcic commented on #19331
Since you mentioned that you're running a Custom cluster, I believe (some of) these issues could be because of the incomplete x509 certificates on the Control Plane nodes.

In detail, as you add Control Plane nodes to the cluster, the first one will have the Kube apiserver certificate valid only for itself, yet it would be load-balanced with other Kube apiservers, leading to sporadic x509 errors w

[2019-04-16 10:07] isavcic opened #19648 "kube-apiserver incomplete SAN for earlier provisioned Control Plane nodes"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug.

**Steps to reproduce (least amount of steps as possible):**
Provision a Custom cluster
Add at least two Control Plane nodes

**Result:**
The first Control Plane node will have an incomplete SSL certificate for kube-apiserver: it will contain only its IP address/DNS record in its SAN, yet it will be balanced with the

[2019-04-16 10:07] superseb commented on #19648
Duplicate of https://github.com/rancher/rancher/issues/16151

[2019-04-16 10:07] #19648 closed

[2019-04-16 12:09] loganhz opened #19649 "Backport:Monitoring: Fails to deploy in some cases due to insufficient vCPU"
https://github.com/rancher/rancher/issues/19624

[2019-04-16 12:15] fabouya commented on #19237
Hello,
i downgraded Rancher 2.2 to 2.1.6, to get this function back.
I tried all intermediates versions between them, last version ok with cinder volumes is 2.1.6.

[2019-04-16 12:31] ferhimedamine commented on #15303
guys, i am hitting the same issue.
any workarounds or solutions for this.
tested using v2.2.1 and docket 17.03 / 18.09.5

[2019-04-16 13:05] zbialik opened #19650 "HA AirGap Docs need modified Amazon NLB Configuration"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**

1. Follow [HA AirGap Install Docs](https://rancher.com/docs/rancher/v2.x/en/installation/air-gap-high-availability/) using AWS Infrastructure.
2. Provision AWS Network Load Balancer as described in [Amazon NLB Docs](https://rancher.com/docs/rancher/

[2019-04-16 13:26] simpss commented on #13434
How about just having an optional configuration option like atlassian does(User Unique ID Attribute)? It would default to "sAMAcoountName" like now, but it would be optionally configurable to any other AD attribute? If the config option has not been set, it would behave as it does right now.

The transition would then look up the previous value from "User Unique ID Attribute" and map the new value

[2019-04-16 14:02] azbpa commented on #16216
@cjellick facing the same issue. However I am wondering if there is also a workaround if I am running a single container rancher server instance (without Kubernetes) on a Docker Host?

[2019-04-16 15:48] cloudnautique commented on #19142
@gwiersma, for UX reasons we set preferred anti-affinity for the pods. We feel that the chart should install easily in most clusters, as people just trying things out often have strange setups. In a production setting, you can add `--set antiAffinity=required` and the pods will not schedule on the same hosts.

We will look at adding some reference to this in our docs.

[2019-04-16 16:25] verikca opened #19653 "cloud_provider credentials exposed to lowest privilege users"
cloud_provider credentials (in the "edit cluster") exposed in clear text to any user with the lowest privileges to the system. In the LDAP case this literally means everyone.

*Ways to reproduce:*
1. Install Rancher cluster HA
2. Create a subordinate cluster with either Openstack driver or Custom cluster
2a. Set up the cloud_provider under "Edit cluster" either at the time of or after creating the

[2019-04-16 16:32] runtman commented on #15847
+1

[2019-04-16 17:48] cloudnautique commented on #19568
Without adjusting this, upgrades will take hours in larger clusters.

[2019-04-16 17:53] davidnuzik commented on #19405
Version: Master (4/16/19)

Confirmed this is no longer possible with the JavaScript check. As soon as I start filling in the name of a node label for the small cluster I immediately get a message indicating I do not have enough resources.

![image](https://user-images.githubusercontent.com/45179589/56232495-c370e600-6035-11e9-941d-e161190690b7.png)

The UI successfully prevents me from enabling Mo

[2019-04-16 17:53] #19405 closed

[2019-04-16 17:57] vincent99 commented on #19586
1.x did this via a header that said what version of Rancher responses came from, but it was removed/not implemented in 2.x (partially out of misguided security-through-obscurity concern, even though there are other easy ways for someone looking to identify the version a server is running).

What happens when you're in this state is going to depend entirely on what's changed between the versions yo

[2019-04-16 17:59] westlywright commented on #19634
@loganhz @alena1108 setting the `valuesYaml` the empty string `''` rather than `null` does work. I think that this should still be fixed in master even if we don't want to back port this because empty string is not null and since the type is nullable according to its schema it should be overwritten if `null` is sent.

[2019-04-16 18:12] alena1108 commented on #19634
@loganhz can you see if we should make string types not nullable, with the default value ="" ? Or if the field is generic, and can't be defined in types, we should handle it in the api layer.

[2019-04-16 18:50] prachidamle commented on #18568
The image used for this test is not the correct image - so this fix is not available for the above test done, we need to update rancher-catalog template to deliver the new image rancher/lb-service-rancher:v0.9.11

[2019-04-16 18:54] jiaqiluo commented on #19483
The bugfix is validated in Rancher: master 7725bc8f

The EKS cluster provision is successful and basic automation tests are passed.

[2019-04-16 18:54] #19483 closed

[2019-04-16 18:57] tfiduccia commented on #19578
Version - master 4//15
Able to duplicate this.
![image](https://user-images.githubusercontent.com/11514927/56236542-bdcbce00-603e-11e9-93c2-aec247e8f4e8.png)

[2019-04-16 19:03] prachidamle commented on #19567
Set the maximum_rancher_version: v1.6.26 for the above two templates show that the older versions do not show up for upgrade.

[2019-04-16 19:09] davidnuzik commented on #19588
@loganhz just wanted to verify that it is expected to not be able to set custom time with seconds. I think it's okay to not have that granularity.

Otherwise this is working as expected now. I can close the issue once I hear back from you.

[2019-04-16 19:14] jiaqiluo commented on #19278
@loganhz
The issue happens only after deleting the pod `prometheus-cluster-monitoring` manually.

I tracked the network tab in Chrome, and it shows that the request `clustermonitorgraphs?action=query` sends out only once after the pod recovers; if I refresh the page manually the request will start sending out every 30s and the gauge will show the new look.

[2019-04-16 20:00] davidnuzik commented on #19624
Version: Master (4/16/19)

Confirmed issue. I tried again with the same set up and can no longer reproduce. The new changes to the JS check prevent me front enabling monitoring with this setup. I tried a few other configurations with similar specifications per node and each time was prevented from enabling monitoring, as expected. (For example, GKE cluster with 3 nodes with n1-standard-1 machine t

[2019-04-16 20:00] #19624 closed

[2019-04-16 20:02] alena1108 commented on #18612
Instead of system-tools, cert rotation was backported to rancher rke/rancher. The feature can be tested with rancher v2.1.9-rc2.

[2019-04-16 20:03] alena1108 commented on #19620
Instead of system-tools, cert rotation was backported to rancher rke/rancher. The feature can be tested with rancher v2.1.9-rc2. Closing this issue.

[2019-04-16 20:03] #19620 closed

[2019-04-16 20:03] alena1108 commented on #19556
Instead of system-tools, cert rotation was backported to rancher rke/rancher. The feature can be tested with rancher v2.1.9-rc2. Closing this issue.

[2019-04-16 20:03] #19556 closed

[2019-04-16 20:03] alena1108 commented on #19555
Instead of system-tools, cert rotation was backported to rancher rke/rancher. The feature can be tested with rancher v2.1.9-rc2. Closing this issue.

[2019-04-16 20:03] #19555 closed

[2019-04-16 20:05] davidnuzik commented on #19066
This was validated in v2.2.2-rc2 in issue https://github.com/rancher/rancher/issues/19330
This issue checks again in the latest master for v2.3.

Version: Master (4/16/19)

I confirmed this is working as expected.
- Add a custom node driver such as https://mxschmitt.github.io/ui-driver-hetzner/
- The driver will download and activate
- Try to add a node template for it -- notice it now appears rea

[2019-04-16 20:05] #19066 closed

[2019-04-16 20:07] davidnuzik commented on #19017
Thanks @loganhz

Version: Master (4/16/19)

Confirmed issue. You can now see the system-library chart under the global > Tools > Catalog page:
![image](https://user-images.githubusercontent.com/45179589/56240485-8d892d00-6048-11e9-8f09-61fc12f12bc5.png)

You are able to edit the chart (have full access) as expected.

![image](https://user-images.githubusercontent.com/45179589/56240519-a09bfd00-604

[2019-04-16 20:07] #19017 closed

[2019-04-16 20:15] davidnuzik commented on #18310
Confirmed there doesn't appear to be any validation for TLS certificates currently.

[2019-04-16 20:27] deniseschannon commented on #19279
@tfiduccia can you test with the helm chart and let me know if all of rancher crashes or what is it that "crashes"?

[2019-04-16 20:28] sdanieru commented on #18236
Another plug for this feature request - it would make the alert/notifications in Rancher more useful!

[2019-04-16 20:37] davidnuzik commented on #19044
I removed the label...

[2019-04-16 20:40] leodotcloud commented on #15098
@mitchellmaler I am really not sure what part of the yaml file is not working for you. Is it a particular setting? I don't see any cloud config specified in the yaml snippet above. Can you please elaborate on the problem that you are facing?

BTW, cloud provider and cloud config are two different things. Cloud Provider is more of a cluster level thing and also it's a kubernetes concept. Cloud Conf

[2019-04-16 20:56] davidnuzik commented on #18196
Version: Master (4/16/19)

I now see answers at the global level without any issues.
![image](https://user-images.githubusercontent.com/45179589/56243058-85cc8700-604e-11e9-9f5f-82a1d31fdbbb.png)

However when I view the ark app I still see just `{ }` -- I do not think this is expected but may be a different issue perhaps. @loganhz do you have any input? Requires a new issue? Thank you.

[2019-04-16 21:11] alena1108 commented on #19296
@aleksey005

Rancher operates with an assumption that the snapshot created by rancher, should be managed by rancher only. To restore, can you try:

- remove corresponding snapshot record from rancher (either via UI or api)
- try restoring to the snapshot that does exist on s3

[2019-04-16 21:12] deniseschannon commented on #19367
Even if you have the options to change, please be aware of the following issues:

https://github.com/rancher/rancher/issues/14731

[2019-04-16 21:12] bmdepesa commented on #18835
rancher/rancher:v2.1.9-rc1

* Reproduced in v2.1.3
  * Setup ElasticSearch with basic auth
  * Saw plaintext password in fluentd logs
* Deploy rancher v2.1.9-rc1
* Setup ElasticSearch with basic auth
  * Password was not present in logs

[2019-04-16 21:12] #18835 closed

[2019-04-16 21:16] no-reply commented on #18197
I'm also seeing behavior like this.

It's not clear to my team, from documentation, what the is preferred mechanism for updating chart versions in Rancher. We thought we had developed a reasonable practice using `charts/mychart/latest` and incremental version numbers in `Chart.yaml`, but running into this error has called that into question.

[2019-04-16 21:19] rstanonik commented on #18197
We're seeing it also.  Rancher 2.2.0.  Any suggestions for recovering?  I tried refresh on the catalog, whose name occurs in the error.  And I killed any deploys/updates that seem to be hung.  Restart rancher?

Thanks.

[2019-04-16 21:32] daxmc99 commented on #19331
@deniseschannon Agreed, I expect my fix to mitigate the instability.
@isavcic This may be a possible cause. If helm is unable to request a configmap then it will be unable to determine the state of the app which would cause the helm install to fail. There was previously logic to automatically retry failed upgrades which could lead to configmap bloat.

[2019-04-16 21:35] jiaqiluo commented on #19248
The bug fix is validated in Rancher: master  7725bc8  4/16

Setup:
- Rancher is installed on 3 nodes; each node is an AWS EC2 t2.xlarge instance(4 vCPU, 16 GB Memory)
- Besides of the `local` cluster, I also add an imported RKE cluster (3 nodes, t2.medium)

Steps for each cluster:
- use the `top` command to track the CPU usage of the process running `kube-apiserver` on each node before enabling cl

[2019-04-16 21:35] #19248 closed

[2019-04-16 21:35] aleksey005 commented on #19296
@alena1108 There are no local snapshots. I deleted them, as well as those that were on S3 (10 GB in total), because I thought that they were not substantial. In fact, I came to the conclusion that the goal of deployment should be quickly repeated and, accordingly, the cluster should be developed for each microservice of its own. Rancher does not fail and continues to work, well, what I did for all

[2019-04-16 21:44] rstanonik commented on #18197
We recreated the missing branch and Global/Apps works again.
Not ideal, but one way to recover.

[2019-04-16 22:28] sowmyav27 opened #19659 "Any Standard user with access to cluster as cluster member or project member is able to rotate certs"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce:**
1. As an admin, create an rke cluster.
2. Add a standard user as the cluster member/project member of one of the Default project in cluster created in Step 1.
3. Login as that user, and perform `rotate Certificates` action through the api.

**Expected Result:**
User should not be able to perfo

[2019-04-16 22:31] sangeethah opened #19660 "Telemetry service cannot be launched without default Admin user."
Rancher server version - v2.2.2-rc14

Steps to reproduce the problem:
Deploy rancher server with telemetry service enabled.
Deploy 1 cluster.
Create a new admin user say test1.
Log in as test1 and delete the default admin user.
Restrat Rancher server.

After rancher server is restarted notice that following messages in the logs:
[code]

Expected Behavior:
Telemetry service should not be tied up to

[2019-04-16 22:49] sangeethah commented on #19569
Instead of system-tools, cert rotation was backported to rancher rke/rancher. The feature can be tested with rancher v2.1.9-rc2. Closing this issue.

[2019-04-16 22:49] #19569 closed

[2019-04-16 23:22] westlywright commented on #18247
@deniseschannon @davidnuzik I don't think this change makes sense. I'm not sure why it was auto picked for David the first time but I speculate that as mentioned it could have been a caching issue or perhaps the new node template was created in a different tab or window.

Regardless, when the user has two node templates to choose from it would be incorrect to select one for them. Logically, when o

[2019-04-16 23:31] sowmyav27 opened #19661 "Cluster is shown as 'Active' state after rotating certs, but the worker nodes still has not been updated with new certs"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Have rancher in `v2.1.9-rc2`. Create a cluster - rke - AWS type.
2. Perform `rotate certificates` action on the cluster
3. The cluster goes into `Updating state`
4. Cluster becomes active once the certs have been rotated. But when checked, the worker node

[2019-04-16 23:43] tfiduccia commented on #19268
@matfiz - I am unable to reproduce this behavior, can you tell me:
1.  What is the name of the namespace of your helm chart
2.  According to the error, it looks like the ingress service you are creating is name rabbitmq, are you sure it's my-name?
3.  Are you attaching it to the rabbitmq workload or service?
4.  What type of custom cluster?  Who is the provider, type of vms?

I will continue to tr

[2019-04-16 23:57] loganhz commented on #19278
@jiaqiluo

I guess you saw an error in UI? So UI will not send the request every 30s. If `clustermonitorgraphs` returns, it will re-send after 30s.

[2019-04-17 00:02] loganhz commented on #19588
@davidnuzik seconds should be hidden in the time picker.

[2019-04-17 00:07] leodotcloud opened #19664 "Enable Ingress Authentication/Authorization using Rancher"
Nginx Ingress currently supports the following annotations to provide authentication.

[code]

If we could use Rancher to provide authentication and authorization, it would be very useful.

Sample use case:
If I create an Ingress in a Project,
- I want only the project members to be able to access it.
- Or I want any valid user in the AD/LDAP to be able to access it.

[2019-04-17 00:08] loganhz commented on #18196
@davidnuzik

Apps without questions will show in json format now. But it looks like it is by design. I am not sure if there is some reason for it.

https://github.com/rancher/ui/blob/master/app/components/new-catalog/component.js#L182

It will be good if you can create a new issue and assign to @westlywright

[2019-04-17 00:19] ts-mini commented on #19391
Deployed version v2.2.2 3.5 hours ago and immediately turned my concourse workers back on.  Issue is resolved completely.  Thanks rancher team and @leodotcloud for crushing it as always :).

[2019-04-17 00:19] tfiduccia commented on #19279
@deniseschannon Not seeing a "crash".  But adding that catalog seem to be causing some sort of download recursion.  It just keeps trying to sync charts that it already sync'ed.  At some point I'm sure I would run out of memory or something cause it just doesn't stop.

I did add a chart to my helm catalog with a - at the end of it.  It didn't crash, it just didn't show up when I went to apps.

[2019-04-17 00:37] jmreicha commented on #18679
Still seeing this in `v2.2.2`.

[2019-04-17 00:49] vidyanair commented on #19462
Hi @superseb ,

Thanks a lot, you are a saviour.
As you said, I have added the proxy details as env variables to each service.
I spent may hours in googling where to include the proxy, the document above is hidden somewhere from googlers.

Cheers,

[2019-04-17 00:49] cjellick commented on #16216
we are using a k8s embedded inside the docker containenr in that case. you can exec into the container and run kubectl commands. its setup and configured to support that

[2019-04-17 02:17] rmebamds commented on #19367
Yes, I absolutely have permissions.

[2019-04-17 02:23] junkiebev commented on #18830
I upgraded to v2.2.2 and then enabled monitoring - I had previously enabled and then disabled it when it did not work - and I'm seeing the following error in the `exporter-kube-state-cluster-monitoring` workload

`E0417 02:18:42.366969 1 reflector.go:205] k8s.io/kube-state-metrics/pkg/collectors/builder.go:508: Failed to list *v1beta1.PodDisruptionBudget: poddisruptionbudgets.policy is forbidden:

[2019-04-17 02:25] loganhz commented on #18830
@junkiebev Do you mean your monitoring doesn't work now?

[2019-04-17 02:25] gywang- opened #19665 "Monitoring API is not ready"
*enabled monitor fail*

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.1` UI: `v2.2.19` |
|Route|`authenticated.cluster.monitoring.cluster-setting`|

I have two k8s clusters that have monitoring turned on,But one normal one is not normal.

normal clusters:
[code]
![image](https://user-images.githubusercontent.com/10112569/56256316-b2d67380-60fa-11e9-96b6-abe81e0efeae.png)

not normal

[2019-04-17 02:42] aiwantaozi commented on #19053
Continually create a new secret when password is in an array, because at this situation, current code couldn't get that correct key in the existing map.

[2019-04-17 03:04] gabrielcalderon commented on #19664
+1 this would be AWESOME.

[2019-04-17 03:22] alena1108 commented on #19360
If cloud provider is enabled on a cluster - EKS, AKS, GKE clusters and Rancher Provisioned (RKE) clusters - then the node that is shutdown, should be removed fast from the list of nodes in k8s. If cloud provider is not enabled, then the shutdown node should be removed manually to workaround the situation. Hopefully we'll get some resolution soon on the [upstream issue](https://github.com/kubernete

[2019-04-17 03:59] bluemalkin commented on #18425
Confirming fixed in v2.2.2 👍

[2019-04-17 04:04] junkiebev commented on #18830
that workload was blowing up and creating a new configmap every few minutes.

[2019-04-17 04:11] loganhz commented on #18830
This error will not cause the exporter-kube-state-cluster-monitoring pod failed.
The configmap issue will be fixed in https://github.com/rancher/rancher/pull/19079

Can you look at the logs and events for the pod?

[2019-04-17 04:45] vincent99 commented on #19664
You can set this up yourself if you want with something like `oauth2_proxy`, but rancher is not an oauth provider (or a meta-provider between you and an oauth provider like GitHub).

[2019-04-17 05:08] loganhz opened #19666 "Backport:Monitoring - can't completely clean up after disabling cluster monitoring"
https://github.com/rancher/rancher/issues/19645

[2019-04-17 06:52] garelp opened #19667 "Issue with Catalogs display."
Hello,

You can't see what catalogs are enabled when you're on the page Globals, Catalogs with a simple user role. It could be better to actually display what are the enabled catalogs.

Thanks.
---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.1.8` UI: `v2.1.21` |
|Route|`containers.index`|

[2019-04-17 07:47] #19268 closed

[2019-04-17 08:44] lanmingle opened #19668 "system-library-rancher-monitoring not found"
Failed to ensure catalog "catalog://?catalog=system-library&template=rancher-monitoring&version=0.0.2": failed to find catalog by ID "catalog://?catalog=system-library&template=rancher-monitoring&version=0.0.2": catalogtemplateversions.management.cattle.io "system-library-rancher-monitoring-0.0.2" not found
--

[2019-04-17 09:10] papanireal commented on #19598
Hi,
i have encountered the same problem on a different version of docker and same os and rancher deployment.
**---------------------- /etc/os-release -----------------------**
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_UR

[2019-04-17 09:11] Negashev commented on #18984
Wrote a quick bicycle https://github.com/Negashev/nodepools-label

[2019-04-17 09:18] sboulkour commented on #18903
Tried to upgrade to 2.1.8 and 2.2.2 : exact same issue.

[2019-04-17 09:19] sboulkour commented on #19618
Might be a duplicate of #18903.

[2019-04-17 09:37] loganhz commented on #17298
Close  in favor of https://github.com/rancher/rancher/issues/18571

[2019-04-17 09:37] #17298 closed

[2019-04-17 11:12] aleksey005 commented on #19296
After update 2.2.2 - no result

![1](https://user-images.githubusercontent.com/6145279/56283449-7450b100-611a-11e9-9fb8-a8f4ffbf2454.PNG)

After clik Save - Error
![2](https://user-images.githubusercontent.com/6145279/56283456-77e43800-611a-11e9-8af0-21344b79d2ab.PNG)

![3](https://user-images.githubusercontent.com/6145279/56283460-7adf2880-611a-11e9-8489-e7e572536836.PNG)

[2019-04-17 12:11] sboulkour commented on #19618
Trying to upgrade / downgrade thre times in a raw made the upgrade pass. I now have two upgraded cluster, but no clue about what was not working :/

[2019-04-17 12:11] #19618 closed

[2019-04-17 12:25] trollr opened #19671 "Rancher CLI apps upgrade with --install option"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

Install the app if it not exists like `helm upgrade --install` do

**Steps to reproduce (least amount of steps as possible):**
`rancher apps upgrade --install ...`

**Result:**
If the app not exists it will be installed. Otherwise the app will be upgraded

[2019-04-17 13:02] troy256 opened #19672 "Rancher 2.2 prometheus-agent container trying to bind to wrong IP address"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Enable Monitoring on an on-prem Rancher v2.2.1 cluster.

**Result:**
The prometheus-agent container in the prometheus-cluster-monitoring-0 pod never reaches a Running state.  It continuously restarts.  "View Logs" on the prometheus-agent container shows:

li

[2019-04-17 13:39] superseb commented on #19672
Duplicate of https://github.com/rancher/rancher/issues/19672

[2019-04-17 13:39] #19672 closed

[2019-04-17 13:41] superseb commented on #19598
For this issue, the specifications of the machine were requested (CPU/memory/disk) and the logs of the etcd container on `10.100.5.2`.

Can you supply both?

[2019-04-17 14:09] junkiebev commented on #18830
The issue may be related to workers re-starting plan monitors due to websocket timeouts. You want the logs for the `exporter-kube-state-cluster-monitoring` pod, right?

[2019-04-17 14:17] krishofmans opened #19673 "rancher cluster monitoring, prometheus keeps getting oomkilled"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Enable monitoring on cluster, we tried both persistent and non-persistent and increased the memory limit to 1250Mb

**Result:**
Prometheus keeps getting oomkilled. We already have a monitoring stack deployed so we can see it going oom in that grafana/prometh

[2019-04-17 14:29] lq13583 commented on #14339
I am having same issue now, why it is closed?

[2019-04-17 14:42] sangeethah commented on #18613
Fix available in `v2.0.14-rc2` . Cert rotation was backported to rancher rke/rancher. UI support is not available. Can we tested using API UI.

[2019-04-17 15:03] troy256 commented on #19672
What is this a duplicate of?  The think is to the same issue #.

[2019-04-17 15:06] superseb commented on #19672
Sorry its https://github.com/rancher/rancher/issues/19243

[2019-04-17 16:00] aleksey005 commented on #13314
After update 2.2.2 and rotate certificate and rollback snapshot all nodes with control plane and etcd is damage.

[code]

[code]
![image](https://user-images.githubusercontent.com/6145279/56302719-040a5580-6143-11e9-9d7a-04f94fa3ac48.png)

[2019-04-17 16:01] davidnuzik commented on #18425
👍Thanks. FYI #19307 is for v2.2.2

[2019-04-17 16:07] happyyangyuan opened #19674 ""project-monitoring" app reports Users.management.cattle.io "user-xxxxx" not found error"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Provision a kubernetes cluster with custom nodes.
2. Delete the rancher user who provisioned the cluster above.
3. Enable project monitoring or cluster monitoring in "tools" menu on the rancher-ui.
4. Go to Apps to check the status of the "project-monitor

[2019-04-17 16:23] happyyangyuan opened #19675 "Change timezone of rancher launched kubernetes's scheduler container"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
Our timezone is UTC+8 but the default timezone for kubernetes is UTC. We need to make Cron schedule running based on UTC+8 otherwise the schedule cron expression is confusing.

[2019-04-17 16:38] alena1108 commented on #15098
@leodotcloud openstackCloudProvider gets translated to the cloud config on the backend. We just need to check why values passed by CLI, are not being set on the cluster.RancherKubernetesConfig API. Based on what @mitchellmaler and @jamiebuxxx observe, only UI-API works, but not CLI-API

[2019-04-17 16:59] zbialik commented on #19617
this is specific to kubernetes and due to the fact that I select cloud-provider as AWS.

By selecting a cloud provider, the kube-controller-manager (node-controller, specifically) checks to see if the node is still available by contacting the cloud provider (aws). Since its a dummy node, it gets deleted automatically.

I will need to figure out a solution but this is not related to Rancher so I wi

[2019-04-17 16:59] #19617 closed

[2019-04-17 17:01] davidnuzik opened #19676 "Uncaught TyperError when try to add members to apps and gdns"
Version: Master (4/17/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Try to add a member to an App or GDNS Entry/Provider

**Result:**
You will get the following error in the browser dev console:
[code]
Screenshot:
![image](https://user-images.githubusercontent.com/45179589/56306500-7b19fc80-60f7-

[2019-04-17 17:02] davidnuzik commented on #19174
(Cannot validate at this time, blocked by #19676 )

[2019-04-17 17:02] davidnuzik commented on #18938
(Cannot validate at this time, blocked by #19676 )
(Need to update GDNS test plan around this)

[2019-04-17 17:09] davidnuzik commented on #18196
Yeah, I think it's just by design I suppose it is okay (the user should know there are no questions thus answers is basically null)

[2019-04-17 17:09] davidnuzik commented on #18196
I am closing this issue based on my testing done in https://github.com/rancher/rancher/issues/18196#issuecomment-483839902

[2019-04-17 17:09] #18196 closed

[2019-04-17 17:21] jiaqiluo commented on #19444
Wait for rancher/rancher to upgrade the vendor list to include the fix.

[2019-04-17 17:24] davidnuzik opened #19677 "Cannot create cloud credential if has underscore in name (and no error is provided)"
Version: Master (4/17/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Try to create any cloud credential that has an underscore in the name

**Result:**
When you click the "Create" button nothing will happen and there are no errors or warnings in the browser dev console. Clicking the button just se

[2019-04-17 17:57] alena1108 commented on #19296
@aleksey005 can you share the output of "View as yaml" for your cluster?

[2019-04-17 18:04] tfiduccia commented on #14339
@lq13583 - This issue is closed because this particular bug was fixed.  I have replicated the steps from this issue in our current version and cannot reproduce the bug.
Can you please open a new issue with your particular steps to reproduce, there must be something else that is going.  Mainly which field in the ldap screen is incorrect?

[2019-04-17 18:11] tfiduccia commented on #19605
@loganhz - I'm not sure what is going on with this issue.  There is no milestone, no devs were assigned.  I'm not even sure who is supposed to review since Wes is not assigned either?

[2019-04-17 18:11] jamiebuxxx commented on #15098
I believe is this related to the following bug: https://github.com/rancher/rancher/issues/19095. I can confirm that when using the JSON format as mentioned in the the issue, everything works as expected. Certain things don't appear to work when using the YAML format.

[2019-04-17 18:16] davidnuzik commented on #19325
Version: Master (4/17/19)

The Private Registries section has been refactored.

Now when you create a cluster and expand the "Private Registries" pane you will see the following (when add private registry):
![image](https://user-images.githubusercontent.com/45179589/56310797-90942400-6101-11e9-8efc-9ef84837ea8d.png)

Now, "System Default Registry" is UNCHECKED by default. Notice it is renamed too

[2019-04-17 18:17] davidnuzik commented on #19325
The schema appears correct to me.
[code]

[2019-04-17 18:18] tfiduccia commented on #19058
@aiwantaozi - I have no idea what is going on with this issue.  It has stayed in ready-for-review, but not sure who is supposed to review it and how it's supposed to get into the master build.  Can you please follow up with @loganhz or @westlywright

[2019-04-17 18:29] davidnuzik commented on #19588
I can confirm seconds have been removed as well now.

![image](https://user-images.githubusercontent.com/45179589/56311939-fbdef580-6103-11e9-81b5-57432886d884.png)

This is otherwise working as expected now. I encounter no issues with the change to remove seconds.

Refer to this comment to see my test results (passed) for the fix to increase custom timeframe: https://github.com/rancher/rancher/is

[2019-04-17 18:29] #19588 closed

[2019-04-17 18:35] pensiero opened #19678 "Cluster unavailable after reboot"
After rebooting the server where the Rancher agent runs, the Rancher UI tells me that the Cluster is unavailable.

I entered inside the server where the agent runs, and discovered that the agent didn't started after reboot. So I run the command to setup a new agent, the agent container is up, however still the cluster is unavailable.

[code]

Agent and Server are running on 2 different machines.

[2019-04-17 18:37] alena1108 commented on #19665
@gywang- we've recently released Rancher v2.2.2 that had a fix for the issue that is similar to what you see: https://github.com/rancher/rancher/issues/19380. Can you give monitoring a try on 2.2.2?

[2019-04-17 18:59] pensiero commented on #19678
Ok seems that the agent crashes, this is the error log:

[code]

[2019-04-17 19:07] tfiduccia commented on #19576
@coder-michaelwu - I am unable to reproduce your problem.  Can you tell me:
1.  Custom k8s Cluster? - Are you importing a k8 cluster or are you using the Custom cluster option?
2.  Who are you using as a provider and what type of VM are you using?
3.  Are you sure you are putting the k8s dashboard app into the System project?  It cannot run outside of system.
4.  Are you trying to add a global app

[2019-04-17 19:09] alena1108 commented on #17965
Changing the prefix path would require updates for the:

- etcd data dir will be changed
- kubernetes ssl dir will be changed
- cni dir will be changed

So we have to copy the data from old directories to the new ones, which can get very tricky for etcd. Not only data has to be copied in this case, etcd service would need to be safely restarted.

[2019-04-17 19:24] alena1108 commented on #19653
@verikca by adding a user to a project, it gets permissions to view clusters, no matter how limited his permission for the projects are (View Workloads in your case). But we should definitely address hiding sensitive fields like password from the API; it should be done regardless of who the viewer is. We have a way to enforce this behavior in API by adding a special tag to a field definition (http

[2019-04-17 19:35] alena1108 commented on #15098
@mitchellmaler can you share your entire rke.yaml? sensitive data like password can be omitted.

[2019-04-17 20:03] pensiero commented on #19678
Resolved by upgrading to `v2.2.2` !?!?!?!!?
Doesn't really know why, however it worked.

I upgraded to rancher server v2.2.2, and then I manually run the command to install the v2.2.2 agent on the agent machine.

[2019-04-17 20:03] #19678 closed

[2019-04-17 20:06] pensiero opened #19679 "Pipelines: CICD_IMAGE contains index.docker.io"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

**Steps to reproduce (least amount of steps as possible):**
While using Docker Hub as Registry for a Rancher pipeline, the value of the variable `CICD_IMAGE` is set to `index.docker.io/[user]/[image-name]`. In this way, in the deployment phase, it actually doesn't let the workload starts properly. In order to st

[2019-04-17 20:15] soumyalj commented on #19567
Tested with updated catalog on v1.6.27-rc1
1. Create a setup in v1.6.14
2. Create few user stacks
3. Upgrade to v1.6.27-rc1

After upgrade, Network services and Scheduler infra stacks shows one version available for upgrade as below:
Network services infra stack:
<img width="931" alt="Screen Shot 2019-04-17 at 1 13 19 PM" src="https://user-images.githubusercontent.com/18536626/56317894-bb3aa880-61

[2019-04-17 20:15] #19567 closed

[2019-04-17 20:18] superseb commented on #17692
Let us know more details on the setup or steps to reproduce if you are still hitting this.

[2019-04-17 20:18] #17692 closed

[2019-04-17 20:31] sowmyav27 opened #19680 "Rotating certificates causes worker node to become unavailable / kubelet not restarted"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. On a HA setup, on rancher v - custom image(2.1.9), create an RKE cluster. (cert expiry - 30 minutes)
2. Upgrade to rancher:v2.1.9-rc2
3. wait for the certs to expire.
4. On expiration of certs, do a `Rotate Certificates` action.

**Expected Result:** the

[2019-04-17 20:45] junkiebev commented on #18830
@loganhz  - It looks like the cluster monitoring catalog item has a PR in which would fix this error:

https://github.com/rancher/system-charts/pull/27

[2019-04-17 20:46] deniseschannon commented on #19386
If you have more questions, please open a new issu.

[2019-04-17 20:46] #19386 closed

[2019-04-17 20:48] deniseschannon commented on #13596
Closing in favor of https://github.com/rancher/rancher/issues/15773

[2019-04-17 20:48] #13596 closed

[2019-04-17 20:51] alena1108 commented on #19385
@raazcrzy just curious - when you say "to make the data persistent" for Rancher, do you have any special data in mind?

[2019-04-17 21:10] patrick0057 opened #19685 "RFE: Rollback revision history to include usernames"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature request

**Description**
In the workloads rollback history please include the username that performed the upgrade.

[2019-04-17 21:12] davidnuzik commented on #19676
Version: Latest Master (4/17/19) (With UI refresh to pull latest v2.3.0 UI)

The issue is now resolved. I am able to add users/groups to members of apps / GDNS Provider&Entries without any issues.

[2019-04-17 21:12] #19676 closed

[2019-04-17 21:18] davidnuzik commented on #19174
I validated this again in Master (4/17/19) in order to validate again for v2.3.

_Setup:_
Seup has 3 clusters.
Cluster1
Cluster2
Cluster3 - testuser2 is cluster owner and project member for "default" project.

Steps to reproduce the problem:
- As admin user, Create a MCAPP1 with targets from Cluster1/Default , Cluster2/Default .
- Add testuser2 as owner of MCAPP1.

- Create a GDNS entry pointing t

[2019-04-17 21:18] #19174 closed

[2019-04-17 21:21] leodotcloud commented on #15098
Root cause:

When using the Rancher CLI, the yaml file is being unmarshalled here: https://github.com/rancher/cli/blob/master/cmd/cluster.go#L768 with the struct from the generated file.

Whereas RKE binary does not use the generated one: https://github.com/rancher/rke/blob/master/cmd/common.go#L48

Hence, the yaml from the docs (https://rancher.com/docs/rke/latest/en/config-options/cloud-provider

[2019-04-17 21:22] patrick0057 opened #19686 "RFE: Revision history for changes made in the Rancher UI"
*What kind of request is this (question/bug/enhancement/feature request):**
Feature Request

**Description**
When using workloads you have the ability to see a revision history when you access the rollback menu.  It would be nice to have a revision history with username that made the change for other resources that are managed in the user interface.  Examples of this would be ingresses, secrets, c

[2019-04-17 21:24] patrick0057 commented on #19686
Closing issue in favor of https://github.com/rancher/rancher/issues/19541.

[2019-04-17 21:24] #19686 closed

[2019-04-17 21:24] leodotcloud commented on #19664
@vincent99 I agree, there a lot of third-party options (authelia.com). Integrating with Rancher would provide a much better user experience.

[2019-04-17 21:24] patrick0057 commented on #19685
Closing issue in favor of https://github.com/rancher/rancher/issues/19541

[2019-04-17 21:24] #19685 closed

[2019-04-17 21:25] vincent99 commented on #19686
That information doesn't exist for other types.  Workload "revisions" are really just previous ReplicaSets that still exist for the Deployment but are now scaled to zero.

[2019-04-17 21:42] soumyalj commented on #18568
Tested with v1.6.27rc1 using updated K8s catalog. K8s - v1.12.7-rancher1-1-1
1. Created Kubernetes environment
2.Created around 140 ingresses
3. Deleted ingresses using kubectl.
The ingress gets deleted through kubectl and the corresponding LB service is also deleted in UI.
Tested with deleting multiple ingresses and it worked successfully.

[2019-04-17 21:42] #18568 closed

[2019-04-17 22:01] deniseschannon commented on #19279
@tfiduccia it sounds like something different from helm chart repos versus git repos.

we should investigate to prevent the recursion. @mrajashree

[2019-04-17 22:02] rockoo opened #19687 "LB Ingress controller sets identical workloads on different xip.io hosts"
Edit ingress controller:
- select workload target 1
- set hostname to workload.t1.1XX.1XX.1XX.1XX.xip.io
- add another rule
- select workload target 2
- set hostname to workload.t2.1XX.1XX.1XX.1XX.xip.io
- save changes

Both rules now show target 2 workload as selected.

![v1](https://i.imgur.com/DRPeGKx.png "Rules")
![v2](https://i.imgur.com/M3hFKEf.png "Rules Overridden")

---
| Useful | Info |

[2019-04-17 22:04] jiaqiluo commented on #18870
The bug fix is validated in Rancher: master  4/17 705af329
Case 1:
- launch 300 workloads with a large environment variable in `p1`
- launch a couple of workloads without large environment variable in `p2`
- no workload in `p3`
-  switch between project

Time used to load a project:

.          | p1    | p2 | p3
--       |  --    | ----| ---
v2.2.1 | 2.2 min |2.1 min |2.2 min
master| 11.06s | 258

[2019-04-17 22:04] #18870 closed

[2019-04-17 22:11] thiago commented on #18535
same issue in v2.2.2

[code]

[2019-04-17 22:25] deniseschannon commented on #19435
@alena1108 can you check that all images used that were introduced are in rancher in dockerhub?

[2019-04-17 22:27] deniseschannon commented on #19436
@tfiduccia it sounds like the search filter might not be applied after LDAP is enabled. can you check?

[2019-04-17 22:30] deniseschannon commented on #19448
@aiwantaozi can you check if this is a regression introduced in 2.2?

[2019-04-17 22:41] cloudnautique opened #19688 "when no notifiers are configured, prometheus can't find alert manager and constantly logs"
Rancher/rancher:v2.2.2
No notifiers are configured in the cluster, and I assume that no alert manager instances are deployed. If that is the case, then we should not set the alert manager config in prometheus. It tries to find it ever 6 minutes or so. Would be nice to have a clean log.

[code]

[2019-04-17 22:46] deniseschannon commented on #19474
@aiwantaozi did we lose some functionality in etcd alerts with the change from alerts to alert groups in 2.1 to 2.2?

[2019-04-17 22:51] deniseschannon commented on #19496
after upgrading, have you "saved" the settings in any existing cluster to convert it from the old backup settings to the new ones?

Do you have this issue with any newly provisioned clusters?

[2019-04-17 22:52] deniseschannon commented on #19498
@Arthur-DevOps If you still have further questions, let us know.

[2019-04-17 22:52] #19498 closed

[2019-04-17 22:59] cloudnautique opened #19689 "Increase Prometheus Cluster monitor proxy NGINX buffers"
Rancher/rancher:v2.2.2

It appears we are exceeding the buffers through the proxy:

[code]

This might be just increasing:
[code]

This cluster has 256 nodes and a few of the grafana dashboards open.
It looks like this dataset is ~ 2MB
![Screen Shot 2019-04-17 at 3 56 35 PM](https://user-images.githubusercontent.com/1989084/56326074-72421e80-6129-11e9-99dc-12a90d2613e1.png)

[2019-04-17 23:10] jiaqiluo commented on #19645
The same bug exists when enabling cluster monitoring with default values in Rancher: master 4/17 705af32

[2019-04-17 23:16] deniseschannon commented on #19530
@sunny0826 Project monitoring is actually disabled as of v2.2.2 cause of some issues, but when we add it back in, you enable it at the project level and can follow these directions:

https://rancher.com/docs/rancher/v2.x/en/project-admin/tools/monitoring/

[2019-04-17 23:29] jiaqiluo commented on #19278
The bug fix is validated in Rancher: master 4/17  705af329 and the gauge shows the new look after the pod `prometheus-cluster-monitoring` recoveries.

[2019-04-17 23:29] #19278 closed

[2019-04-17 23:32] eroji opened #19690 "Upgrade K8s on customer cluster with monitoring enabled errors due to node_exporter"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Upgrade to stable 2.2.2 deployment. Enable monitoring on the cluster. Edit the cluster and upgrade the Kubernetes version.

**Result:**
Errors like this is produced on every controlplane node.
[code]

**Environment information**
- Rancher version (`rancher/r

[2019-04-17 23:54] deniseschannon commented on #19603
In 1.6, that statement clearly shows what is required for the host.

Do you have a host that has the port open and available?

[2019-04-18 00:02] alena1108 commented on #19223
We should consider opting out of the checksum verification. Otherwise it would be hard to maintain the checksum as we don't control the machine driver binary and can't ensure it won't change.

[2019-04-18 00:03] sowmyav27 commented on #19680
Verified on rancher:v2.1.9-rc3.

Worker nodes come to `Active` state after rotating the certs. The kubelet, kube-proxy and nginx-proxy pods on the worker nodes, restarted after rotating the certs.

[2019-04-18 00:03] #19680 closed

[2019-04-18 00:11] sowmyav27 commented on #19659
verified on rancher:v2.1.9-rc3 (HA setup)
As a Cluster member/ Project member, user is not able to perform `Rotate Certificates`.
Error seen on request:
[code]

[2019-04-18 00:11] #19659 closed

[2019-04-18 00:26] cloudnautique opened #19693 "Prometheus Operator needs higher/configurable memory limit"
Prometheus operator after 4 hours of running started hitting OOM memory limits. It is currently capped at 100Mi, I bumped to 200Mi and it started consuming 150Mi. We need a way to allow the user to increase these limits to prevent pod flapping

[2019-04-18 00:33] cloudnautique opened #19694 "Grafana Etcd Graph for memory isn't restricted to etcd nodes"
The etcd grafana graph tile for memory shows all nodes in the cluster not just the etcd nodes. This needs to be pared down.

![Screen Shot 2019-04-17 at 5 31 28 PM](https://user-images.githubusercontent.com/1989084/56329125-d7504100-6136-11e9-8d57-7040ebfd9982.png)

[2019-04-18 00:38] vincent99 commented on #19223
That's like the opposite of what we should be considering?  Every driver we include in the default config (enabled or not) should have a fixed URL for a non-floating version and a matching checksum for it.

[2019-04-18 01:34] aiwantaozi commented on #19448
Sure

[2019-04-18 01:38] sunny0826 commented on #19530
@deniseschannon I just want to know why this Metrics didn't take effect.
When I use the Helm install Prometheus in the APPS in rancher, it is effective.
furthermore, the gafana is configured with this Metrics.but it does not work.

[2019-04-18 01:45] BalaBalaYi opened #19695 "Using http_proxy to run rancher-server but failed on retrieving catalogs"
**What kind of request is this (question/bug/enhancement/feature request):**
question or bug

**Steps to reproduce (least amount of steps as possible):**
1. Set up a http proxy and test (Its fine):
    using command:
[code]

![image](https://user-images.githubusercontent.com/23303886/56331085-6dc74580-61bd-11e9-9b81-e7f904e3a759.png)

2. Using command below to run rancher server("http://192.168.11

[2019-04-18 01:53] alena1108 commented on #19053
Added @kinarashah as an extra assignee as she is doing some fixes in the passwords to secrets framework for this issue.

[2019-04-18 01:57] alena1108 commented on #19653
@mrajashree in addition to types fixes, we should also put a rancher fix similar to pr linked to https://github.com/rancher/rancher/pull/18973. When replace=true is sent on the update, we don't want the hidden password fields to be reset.

[2019-04-18 02:35] jgreat commented on #19385
Kubernetes StatefulSets are used in situations where pod startup order and consistent naming are important, they don't really do anything to make a service "stateful".

Since the Rancher management server pods are actually stateless (state is stored in the hosting kubernetes cluster) using a StatefulSet instead of a Deployment has no benefit.

### The real question here is "How do I run Rancher on

[2019-04-18 05:27] aemneina opened #19696 "removing etcd member fails sometimes leaving broken etcd in cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
I believe this might be the design but it feels bad.

**Steps to reproduce (least amount of steps as possible):**
prereq: have a broken etcd node
1. if using rke, or ui, remove node from cluster yaml or delete node from ui

**Result:**
rke fails to remove member and continues, but the member no longer exists so etcd can d

[2019-04-18 05:32] Oats87 commented on #18275
@loganhz @mrajashree do we have a way to override this setting? This destroys the ease-of-use of Rancher with an on-prem solution like MetalLB installed.

[2019-04-18 05:43] guangbochen opened #19697 "default namespace didnot work in rancher 2.2 catalog apps page - UI"
**What kind of request is this (question/bug/enhancement/feature request):**
UI Bug

**Steps to reproduce (least amount of steps as possible):**
1. Go to the Catalog Apps page
2. Click launch and select the longhorn app
3.  The default namespace should be `longhorn-system` as it has pre-defined namespace value. `"requiredNamespace: "longhorn-system""`.

**Result:**
set default namespace to pre-def

[2019-04-18 05:51] aleksey005 commented on #19296
@alena1108 If you need access, I can provide it on request.
[code]

[2019-04-18 06:47] ibayue opened #19700 "Failed to obtain metrics. The metrics service may not be available."
The monitoring data will not be displayed every few minutes, then it is will be better again.
The error is as follows:

![image](https://user-images.githubusercontent.com/11729209/56341813-d24bca00-61e8-11e9-9b03-9ec2cb96659f.png)

![image](https://user-images.githubusercontent.com/11729209/56341830-e0014f80-61e8-11e9-8874-3786a9449ac3.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v

[2019-04-18 06:47] stefli commented on #16223
maybe provide a pvc for each jenkins slave to persist the workspace is a good idea.

[2019-04-18 08:20] loganhz commented on #19530
Can you see workload or pod metrics in Rancher UI? Something like this

![image](https://user-images.githubusercontent.com/21168270/56346995-e944e900-61f5-11e9-836c-ef3c057c921e.png)

[2019-04-18 08:35] mateuszkwiatkowski commented on #19665
@alena1108 we're seeing this issue on Rancher 2.2.2. I've tested in on cluster which was created with rke and then imported into Rancher.

[2019-04-18 08:39] loganhz commented on #18275
@Oats87 I guess there is no workaround for now. We need a fix for it.

[2019-04-18 08:41] loganhz commented on #19665
@mateuszkwiatkowski Can you go to System project and provide the screen shorts for the workloads under `cattle-prometheus` namespace?

[2019-04-18 08:41] yvespp commented on #15710
It would also be nice to see the events per namespace, for example Quota errors are not directly attached to a Deployment/Pod and not visible in Rancher UI:
[code]

[2019-04-18 08:41] sunny0826 commented on #19530
Nope
![image](https://user-images.githubusercontent.com/24563928/56348369-dd0e5b00-61f8-11e9-9ffd-b21ca1743688.png)

[2019-04-18 08:43] loganhz commented on #18275
The "nodePortRange" under is `capabilities` is also broken. It will never get updated when we change the default range in cluster settings.

[2019-04-18 08:47] loganhz commented on #19530
I guess it is an imported cluster?

Can you look at the workload `exporter-kube-state-cluster-monitoring` under cattle-prometheus? Is it green?

Can you go to Prometheus UI -> Status -> Targets

And check if `cattle-prometheus/exporter-kube-state-cluster-monitoring` is up

![image](https://user-images.githubusercontent.com/21168270/56348617-6faefa00-61f9-11e9-93cd-dd627a14e7fd.png)

[2019-04-18 08:53] sunny0826 commented on #19530
@deniseschannon yes,it is an imported cluster.I check the prometheus ,it is down ! what should I do ?
![image](https://user-images.githubusercontent.com/24563928/56349150-86a21c00-61fa-11e9-8aed-bfbec54bb0e6.png)

[2019-04-18 08:59] loganhz commented on #19530
![image](https://user-images.githubusercontent.com/21168270/56349515-47c09600-61fb-11e9-824f-dfd54e1800cd.png)

Try this

[2019-04-18 09:10] runtman commented on #15847
@marcplouhinec Any idea if this issue is going to move or is it out of Rancher's control now?

[2019-04-18 09:28] sunny0826 commented on #19530
I try add the selector,and  reinstall the monitoring.but lost a workload... I delete the selector,It recovered.
![image](https://user-images.githubusercontent.com/24563928/56351017-b3583280-61fe-11e9-8716-21367a8b914d.png)

[2019-04-18 09:30] loganhz commented on #19530
It's not a selector. There is an `show advanced` button and input it as extra param

[2019-04-18 09:32] dmlabs commented on #7506
+1

[2019-04-18 09:40] sunny0826 commented on #19530
!!! It works !!! thx !!! I love Rancher !
![image](https://user-images.githubusercontent.com/24563928/56352041-fe734500-6200-11e9-944e-c1663d5f3b6a.png)

[2019-04-18 09:51] loganhz commented on #19530
Thanks! @thxCode Please document it.

[2019-04-18 10:02] jruffet commented on #19647
Same here with rke 0.2.2, after a fresh HA install (3 nodes). Steps:

- Shutdown the other 2 nodes.
- Cleaned up the node (`xx.xx.xx.xx`) following https://rancher.com/docs/rancher/v2.x/en/cluster-admin/cleaning-cluster-nodes/
- Followed https://rancher.com/docs/rancher/v2.x/en/backups/restorations/ha-restoration/ (commented out the 2 other nodes from my rke config file)

[code]
[code]

[2019-04-18 10:11] MSandro commented on #14133
Reproduced the issue in Rancher v2.2.2. I am not able to add/remove roles via labels or via the command.

[2019-04-18 10:20] #19530 closed

[2019-04-18 10:24] willmao commented on #16605
@deniseschannon our cluster has 2200 configmaps, i don't know it is excessive enough to cause this issue.

[2019-04-18 10:25] papanireal commented on #19598
sorry, i cant supply both because we had to get the infrastructure up pretty fast so we moved to a older version that we have tested before(rancher 2.1.5 with docker docker-1.13.1-88).
The VM spec for `10.100.5.2` is as follows:
CPU: 4
RAM: 8
disk: 13GB

[2019-04-18 10:37] intonet commented on #19496
yes. I saved setting not once trying switching to local backup.
This for existing cluster. I didn't try create new one.
I have two clusters. DEV and PROD.  Both was created on 2.1 runcher. Snapshots works fine on Dev where is smal Etcd dump size.
For me looks like Etcd-snapshot image works with timeout on 60s and in this time take only a  part of backup. ( different size of .part files)

[2019-04-18 10:40] aa-aahmed commented on #19598
It's your disk .. increase size to 50GB I think rancher needs to update
their minimum requirements. I have 20GB disk and I start to see disk
pressure alert after first deployment.

On Thu, 18 Apr 2019, 8:26 pm papanireal, <notifications@github.com> wrote:

[2019-04-18 10:46] papanireal commented on #19598
Thanks, i will give it a try when we run new infrastructure.

[2019-04-18 11:30] jruffet commented on #19647
Duplicate of https://github.com/rancher/rke/issues/1286

[2019-04-18 12:02] moschlar opened #19701 "prometheus-operator-monitoring-operator constantly gets OOMKilled in v2.2.2"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Enable cluster monitoring, wait some time (I noticed it the next day or so)

**Result:**
prometheus-operator-monitoring-operator constantly gets OOMKilled:

[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`ranch

[2019-04-18 12:36] gabrielcalderon commented on #19697
Are you getting a random string prefix to the namespace? I noticed this hapoens to me if I launch the app as a MultiCluster.

Gets worst since the workload also gets a random string prefixed.

[2019-04-18 13:07] rockoo commented on #19539
@DavidBajon have you figured out what was wrong? I can't seem to find an issue. Works on two clusters with no problem, but third one stays at  "Monitoring API is not ready"

[2019-04-18 13:23] runtman opened #19702 "2.2.2 download keys network error"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Cluster > Nodes > DownloadKeys

**Result:**

[code]

^ Firefox

[code]

^ Chome

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):
- Installati

[2019-04-18 13:24] runtman commented on #19702
In the meantime, is there a way to get these keys manually?

[2019-04-18 14:42] janeczku commented on #19059
Upon upgrading from v2.1.3 to v2.2.2 some of the existing clusters went to `upgrading` state and it looks like RKE reconciliation was triggered.
Is this related or a different issue?
@cjellick

[code]

[2019-04-18 14:58] greenu opened #19703 "etcd backup to s3 successful when S3 access denied"
**Bug**

**Steps to reproduce (least amount of steps as possible):**
Create S3 bucket with lack of permissions (in my case it's upload forbidden without SSE header: x-amz-server-side-encryption)
Setup etcd backup to S3.

**Result:**
Observe successful Active backup in "tools -> snapshots" in UI
No backup created in fact.

Logs of rancher/rke-tools:v0.1.27
[code]

**Other details that may be helpfu

[2019-04-18 15:21] cloudnautique commented on #19701
Related to #19693

[2019-04-18 15:26] cloudnautique commented on #19700
How many nodes, pods, workloads do you have? Have you adjusted the memory and CPU limits based on our documentation?

https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/monitoring/#resource-consumption

[2019-04-18 15:53] Tediferous commented on #19702
I am also experiencing this 👍

[2019-04-18 16:18] rust84 commented on #19702
We also experienced this on a clean install of 2.2.2.

[2019-04-18 16:35] joshuata commented on #7334
In rancher. There is an option when setting up an nfs volume to set flags.

Note that this was a year ago with rancher v1, so things may have changed since then. I can't make any promises about more recent versions since I now just use docker-compose because its much lighter weight

[2019-04-18 16:37] phal0r commented on #19331
Hi guys,

thanks for the insight. The problem with the certificates makes sense, since there was the intermediate state with rancher server using letsencrypt, but being reachable only via ip. I think this screwed up the internal state somehow.

Unfortunately I am not able to provide more insights as we have removed the cluster to save money.

Since, you guys can reproduce it and know how to mitiga

[2019-04-18 16:37] #19331 closed

[2019-04-18 16:38] sangeethah commented on #19444
Removed "status/to-test" since we are waiting for Rke fixes to be in rancher builds.

[2019-04-18 17:06] sowmyav27 commented on #18612
verified following scenarios on:
1. On a fresh install of `v2.1.9-rc3`
2. Upgrade from custom image to `v2.1.9-rc3`
3. upgrade from `v2.1.8` to `v2.1.9-rc3`

On rotating certificates, expiration date of the certs was 10 years from the time of performing the action. Verified pods - kube-proxy, kubelet, nginx-proxy, kube-scheduler, kube-controller-manager and kube-apiserver restarted after rotating

[2019-04-18 17:06] #18612 closed

[2019-04-18 17:22] cjellick commented on #19702
possibly related to our gzip changes

[2019-04-18 17:24] cjellick opened #19705 "Creating settings on startup not working"
See https://github.com/rancher/telemetry/pull/19#issuecomment-484263244

Looks like we somehow broke a use case for settings.

possibly related to changes made in this pr
https://github.com/rancher/rancher/pull/17960/files

[2019-04-18 18:01] Hossy opened #19706 "docker-machine: VMware vSphere Driver Doesn't Accept a Datastore Cluster as the Datastore"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
Reference a datastore cluster instead of a standalone datastore when trying to deploy a cluster node to vSphere.

**Result:**
2019/03/21 18:22:06 [ERROR] NodeController c-nj5hw/m-cs7xv [node-controller] failed with : Error with pre-create check: "dat

[2019-04-18 18:07] sowmyav27 commented on #19157
verified on `rancher:v2.0.14-rc3`
Verified with a custom image provided by @mrajashree
**Steps taken:**

1. Create a cluster in rancher using image custom provided. (3 etcd, 1 ctrl, 3 worker nodes)
2. Verified the Rancher server certs. (expiry of 30 minutes)
3. Verified new certs are generated after 20 minutes(customized)
4. Verified certs expiry using command - curl https://x.x.x.x/v3 -lkv - Expi

[2019-04-18 18:07] #19157 closed

[2019-04-18 18:13] jiaqiluo commented on #19665
The bug is reproduced only on a 3-node (all roles on each node) imported RKE cluster.

Rancher v2.2.2

cluster |  k8s version | enable cluster monitoring
-------| ------ | ------------
RKE - EC2 | v1.13.5  | work
ASK             | v1.12.7|  work
GKE             | v1.12.6-eks-d69f1b |  work
EKS             |  v1.12.6-eks-d69f1b | work
GKE - imported  | v1.11.8-gke.6  |  work
RKE - imported (single

[2019-04-18 18:16] davidnuzik commented on #19665
Version: Rancher v2.2.2
When I use (unsupported) rke v0.1.17 and create a multi-node rke import cluster this works without any issues for me - I can enable monitoring and it works and the exporter-nodes deploy without any issues. Thus, we think this may have to be something to do with RKE.

[2019-04-18 18:44] sumanthkumarc commented on #12657
i'm trying to configure kubernetes cluster using rke. I have one node for master and another for worker. I'm running rke from my local mahcine and it has access to nodes using ssh keys. I was able to configure master using rke up with basic cluster.yml, but it fails on worker with below error:
`
  FATA[0204] [workerPlane] Failed to bring up Worker Plane: [Failed to verify healthcheck: Failed to ch

[2019-04-18 19:19] kevinfrommelt-wf opened #19708 "Expose Container ID in UI"
In Rancher 2.x UI, it would be useful to be able to see the container ID from the Pod and/or Container details pages.

It looks like this was available in Rancher 1.x https://github.com/rancher/rancher/issues/2474

[2019-04-18 20:21] bmdepesa commented on #18613
All certs rotated through API action.
All scenarios after Rancher deploy are executed as a standard user.

**Fresh install v2.0.14-rc3**
  * Create cluster
  * Logged cert hashes
  * Checked cert expiry
  * Rotated certs successfully

**v2.0.13 to v2.0.14-rc3**
  * Fresh install v2.0.13
  * Create cluster
  * Logged cert hashes
  * Checked cert expiry
  * Preupgrade checks
  * Upgrade to v2.0.14-r

[2019-04-18 20:21] #18613 closed

[2019-04-18 20:43] cjellick commented on #19059
@galal-hussein can you look?

[2019-04-18 20:50] davidnuzik commented on #18938
Version: Master (4/18/19)

RBAC was tested in this area and I updated the GDNS test plan around RBAC as well as the UI test plan.
I ensured that:
read-only user can see the GDNS Provider, can NOT edit it, can NOT delete it, can leverage the GDNS provider by creating GDNS entires (and ensured worked and created in Route53), no-access user cannot see anything or create GDNS entries (doesn't see GDNS

[2019-04-18 20:50] #18938 closed

[2019-04-18 22:54] tfiduccia commented on #19436
@deniseschannon -  There are two problems with our OpenLDAP search filters:

1.  API, userSearchFilter & groupSearchFilter are not in the schema for OpenLDAP
2.  UI, not passing groupSearchFilter (it does pass the userSearchFilter)

Both of these need to be fixed for Search Filters to work.

[2019-04-18 23:41] alena1108 opened #19709 "Backport: Not able to create Global DNS Provider as as regular user"
Backport https://github.com/rancher/rancher/issues/19596

[2019-04-18 23:43] alena1108 opened #19710 "Backport: Mirror coredns image to rancher"
Backport https://github.com/rancher/rancher/issues/19520

[2019-04-18 23:50] alena1108 opened #19711 "Backport: Flannel fails after upgrade because of lock: iptables: Resource temporarily unavailable."
Backport: https://github.com/rancher/rancher/issues/18637

[2019-04-18 23:56] alena1108 commented on #19296
@aleksey005

Just to confirm that you didn't call rotateCertificate? Also all the cluster updates that you've done, have you done it using Rancher UI fields, or View as Yaml ->edit -> Save?

To restore the setup, try removing these lines from the yaml file, and click save:

[code]

[2019-04-19 00:00] alena1108 opened #19712 "Backport: Rancher Global DNS cloudflare record cannot be proxied"
Backport https://github.com/rancher/rancher/issues/19251

[2019-04-19 00:35] mrajashree commented on #19653
@alena1108 As per offline discussion, addressing the password getting overriden on replace=true with the third approach you suggested for this issue https://github.com/rancher/rancher/issues/18964#issuecomment-473499707

[2019-04-19 00:39] tomclark commented on #13538
You sir, are a gentleman and a scholar. Two days I've spent trying to figure out WTF. Two days! I fail at Google. :-(

Thank you to the kind people at MetalLB too, obviously.

[2019-04-19 01:30] DarkRider1768 opened #19713 "Failed to get job complete status for job rke-network-plugin-deploy-job"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Update all firmware on nodes to current.
Install CentOS 7.6 v1810 - Minimal from DVD install media (written to USB flash media) to local SSDs.
Run the bash script included in "Other details...".
Create cluster with specifications included in "Other details..

[2019-04-19 01:40] symenghuan opened #19714 "rancher 2.2.1 Cluster Alert request"
This is request:
1、rancher version: 2.2.1
2、The Cluster Alert no alarm，example：
![image](https://user-images.githubusercontent.com/44770931/56400456-9109f780-6286-11e9-98f7-3c7c1295b93f.png)

and this configuration is not change color，always is green，I want to know how to query log
![image](https://user-images.githubusercontent.com/44770931/56400515-e3e3af00-6286-11e9-98f6-6f18a405fab5.png)

This

[2019-04-19 01:46] symenghuan commented on #19714
But  enable cluster monitoring  ，the Expression rule  can  alarm，send mail or wechat

[2019-04-19 01:49] ibayue commented on #19700
I hava 3 nodes ,100 pod, 70 workloads
I think I have given enough memory and CPU and no OOM occurred
Snipaste_2019-04-19_09-45-20.jpg

[2019-04-19 03:11] deniseschannon commented on #19436
@mrajashree are search filters even possible with openLDAP? Or should the UI be hiding these fields?

[2019-04-19 03:19] deniseschannon commented on #15737
Closing in favor of https://github.com/rancher/rancher/issues/15738

[2019-04-19 03:35] aiwantaozi commented on #19448
@mshack70 Hi, the Test function we add in 2.2 hasn't support auto-detect Kafka controller in brokers yet, will support soon. You can continue to ```Save``` if the endpoint you configure is reachable but not the controller. What do you mean ```the SASL cert section is showing required red boxes``` do you have a screenshot or more details? Thanks

[2019-04-19 03:41] deniseschannon commented on #16291
It sounds like you should look into the pipeline feature:

https://rancher.com/docs/rancher/v2.x/en/project-admin/tools/pipelines/

Let me know if that doesn't cover what you're looking for.

[2019-04-19 03:41] #16291 closed

[2019-04-19 03:49] deniseschannon commented on #16689
What do you mean by "account level"? Are you referencing user accounts?

[2019-04-19 03:55] deniseschannon commented on #16741
If there are still questions, please open a new issue.

[2019-04-19 03:55] #16741 closed

[2019-04-19 04:08] deniseschannon commented on #14551
Please try out v2.2 and let me know if anyone still has issues.

[2019-04-19 04:08] #14551 closed

[2019-04-19 04:16] orangedeng commented on #19665
After I did `kubectl get nodes -o yaml`, I got
[code]

And I get host internal ip is:
[code]

There is no way to let node exporter to know the internal ip. So it can not bind it. I think there is something wrong with the kubelet that assign an external ip to the internal ip field.

[2019-04-19 04:29] #15151 closed

[2019-04-19 04:31] deniseschannon commented on #17005
Closing in favor of 1738

[2019-04-19 04:31] #17005 closed

[2019-04-19 04:36] alena1108 commented on #18275
Capabilities is just a reflection of cluster settings. Think of it as of a generic way of representing certain fields of GKE/RKE/EKS clusters. It doesn't work the other way around - you can't set the loadBalancerCapabilities to true to enable the LB.

1. `capabilities.loadBalancerCapabilities.enabled` will be set to true by Rancher only when we know that the provider is enabled. Like EKS, GKE, or

[2019-04-19 04:40] loganhz commented on #18275
@alena for nodeport range issue. UI is looking at both range in capabilities and range in RKE API. And UI will choose the intersection.

[2019-04-19 05:00] ntfs32 opened #19716 "Air Gap Install pipeline for registry:2 images error"
What kind of request is this (question/bug/enhancement/feature request):
Bug

Steps to reproduce (least amount of steps as possible):
download save images script
[code]

after run rancher-save-images.sh  we can't load images to private registry
private registry hasn't any default registry named: reg.xxx.com/registry:2

in file: https://github.com/rancher/rancher/blob/v2.2.2/pkg/image/resolve.go
al

[2019-04-19 05:05] alena1108 commented on #19697
@gabrielcalderon multi cluster app is different; today it doesn't support custom namespace on API/backend level. The issue is being tracked here: https://github.com/rancher/rancher/issues/17913

Regular app does have support for a custom namespace on the backend, and we have to fix something in the UI to make it work.

[2019-04-19 05:25] AlexanderNZ opened #19718 "Adding pre-issued let's encrypt certs causes x509 issue when adding nodes"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug Report

**Steps to reproduce (least amount of steps as possible):**
1. Provision and download Let's Encrypt Certs from sslforfree.com
2. Rename `.cert` files to `.pem` (they're valid PEMs as per https://stackoverflow.com/questions/991758/how-to-get-pem-file-from-key-and-crt-files)
3. Upload certs to host
4. On a fresh

[2019-04-19 05:27] gabrielcalderon commented on #19697
@alena1108 That explains the behavior on my cluster. Thanks!

[2019-04-19 05:29] deniseschannon commented on #16135
How do you want to support scaleway?

[2019-04-19 05:32] deniseschannon commented on #16172
There are a lot of different issues of why people might have their ingress stuck. If you still have this issue and could create a new issue if you are still facing this issue with more details, that'd be great!

[2019-04-19 05:32] #16172 closed

[2019-04-19 05:36] #18066 closed

[2019-04-19 05:37] #16105 closed

[2019-04-19 05:38] #16758 closed

[2019-04-19 05:39] #17688 closed

[2019-04-19 05:42] #16937 closed

[2019-04-19 05:43] #16969 closed

[2019-04-19 05:45] deniseschannon commented on #17650
@davidnuzik We don't delete the namespace when you delete a catalog app as we don't know what else is in the namespace, which is why it's not deleted.

https://github.com/rancher/rancher/issues/13159

[2019-04-19 05:45] #17650 closed

[2019-04-19 05:46] deniseschannon commented on #17718
I don't think this is a bug. This is how it is reported.

[2019-04-19 05:46] #17718 closed

[2019-04-19 05:51] #16263 closed

[2019-04-19 05:52] #16264 closed

[2019-04-19 05:53] #18884 closed

[2019-04-19 05:54] #15653 closed

[2019-04-19 06:03] vincent99 commented on #17718
They are probably trying to make them semver-compatible, leading zeros are not allowed.

[2019-04-19 06:56] loganhz commented on #17022
Already fixed in 2.2.2. Please verify it

[2019-04-19 07:10] loganhz commented on #19701
Close in favor of https://github.com/rancher/rancher/issues/19693

[2019-04-19 07:10] #19701 closed

[2019-04-19 07:31] better0332 commented on #16689
@deniseschannon yes

[2019-04-19 07:53] aiwantaozi commented on #19714
Could you check
1. rancher server's log
2. node labels
3. alertmanager page
Couldn't reproduce this issue now, you can go to alertmanager page by access link under ```System project``` -> ```cluster-alerting``` app to check whether alertmanager receive alert records.
![image](https://user-images.githubusercontent.com/5936271/56413707-ee1fa080-62ba-11e9-9e59-92c07250ba26.png)
![image](https://user-

[2019-04-19 08:20] vitobotta opened #19720 "Can't SSH into the nodes (2.2.2)"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug?

**Steps to reproduce (least amount of steps as possible):**
I have upgraded Rancher to 2.2.2 and have tried several times to create a cluster as usual with my cloud provider (Hetzner Cloud). Clusters are created OK as usual but I cannot SSH into the nodes with neither "rancher ssh <node>" or directly with the SSH co

[2019-04-19 08:26] superseb commented on #19718
Let's Encrypt uses an intermediate certificate which needs to be supplied in the server certificate, the file Let's Encrypt provides for this when using certbot is `fullchain.pem`. If you mount this, as `cert.pem`, there shouldn't be an issue. If you don't have the file, you have to create the file manually as described on https://rancher.com/docs/rancher/v2.x/en/installation/single-node/#cert-ord

[2019-04-19 08:26] #19718 closed

[2019-04-19 08:50] aleksey005 commented on #19296
@alena1108
I did press the rotateCertificate button (10 times if not more) when an error occurred. I performed all actions with the cluster through Rancher UI, for almost half a year everything was fine. I started making requests through the API when the cluster broke.

`rotate_certificates:
  ca_certificates: false`

I set the value to "true", but did not delete this line.

I had to reinstall the

[2019-04-19 09:31] vitobotta opened #19721 "S3 snapshots are deleted when deleting cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug?

**Steps to reproduce (least amount of steps as possible):**
- Create a cluster and enable S3 snapshot
- Create one or more snapshots
- Verify that the snapshots are created in the bucket as expected
- Delete the cluster from Rancher

**Result:**
Snapshots are deleted from the bucket when deleting the cluster.

**Oth

[2019-04-19 09:46] aiwantaozi commented on #19474
In 2.2.1 UI not support advance option for alert rule level, but you can edit it in API. after 2.2.2 UI support advance option for alert rule level; the latest version also supports inherited advance option from alert group level.

[2019-04-19 09:48] aiwantaozi commented on #19058
Sure, I will check with Logan.

[2019-04-19 10:43] vitobotta commented on #19721
Kelly Griffin clarified this for me in Slack, so I am going to close this issue.

[2019-04-19 10:43] #19721 closed

[2019-04-19 12:00] crazybber commented on #16236
hi,guys,six months passed,should it take so long to handle this issue ?

[2019-04-19 14:45] metal3d commented on #16449
This issue should be reopened - fresh rancher server installed, got the same problem. There is no helm repository working

[2019-04-19 15:56] spencergilbert opened #19722 "Rancher monitoring: fluentd query"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug/Fix

**Steps to reproduce (least amount of steps as possible):**
The default grafana dashboard "Rancher Components" has a singlestat metric for Fluentd uses the following query:

`sum(kube_pod_info{pod=~"fluentd.*"})`

**Result:**
It appears as those this query always returns zero, it looks like the query does return

[2019-04-19 16:04] xvonabur opened #19723 "Cannot edit load-balancer or service discovery yaml"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Upgrade Rancher v. 2.1.7 to 2.2.2 and then try to edit Load Balance via "View/Edit Yaml" option.

**Result:**
You will see an "[Object object]" error in popup, instead of actual yaml.
<img width="932" alt="Screenshot 2019-04-19 at 19 01 23" src="https://user

[2019-04-19 16:04] bentastic27 opened #19724 "Charts with long names cause catalog refreshes to time out"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**

First setup chartmuseum or similar and set that up as a catalog in rancher. Create a package like the following with a really long name:

[code]

upload to chart museum:

[code]

**Result:**

refreshing will timeout:

[code]

**Other details that may be hel

[2019-04-19 16:54] #14042 closed

[2019-04-19 16:56] #14493 closed

[2019-04-19 16:58] #14545 closed

[2019-04-19 16:58] #14573 closed

[2019-04-19 17:03] mrajashree commented on #19436
@deniseschannon I think it should be possible.

[2019-04-19 17:07] deniseschannon commented on #14674
In Rancher 2.2 and RKE 0.2.0, we've only added the ability to bring your own certs to clusters created with the RKE CLI.

https://rancher.com/docs/rke/latest/en/installation/certs/#generating-certificate-signing-requests-csrs-and-keys

This is not available directly through the Rancher UI.

[2019-04-19 17:19] deniseschannon commented on #14960
if anyone is hitting htis on a more modern version, please open a new ticket.

[2019-04-19 17:19] #14960 closed

[2019-04-19 17:20] #15315 closed

[2019-04-19 17:21] deniseschannon commented on #15388
With the updates around backup/restore in Rancher 2.2, pelase reopen the issue if you still hit this on a 2.2 version.

[2019-04-19 17:21] #15388 closed

[2019-04-19 17:22] #15540 closed

[2019-04-19 17:24] #15541 closed

[2019-04-19 17:25] #15570 closed

[2019-04-19 17:29] deniseschannon commented on #15576
If anyone is still facing issues with a 2.2 release, please open a new issue.

[2019-04-19 17:29] #15576 closed

[2019-04-19 17:32] deniseschannon commented on #15608
With the introduction of cloud credentials in 2.2, this issue is resolved. When editing a node template, it will re-use the cloud credential that is stored.

[2019-04-19 17:32] #15608 closed

[2019-04-19 17:35] deniseschannon commented on #15701
WIth the changes for cert management in 2.2, please open a new issue if you've hit this again.

[2019-04-19 17:35] #15701 closed

[2019-04-19 17:38] deniseschannon commented on #15760
Please checkout the new monitoring feature that was introduced in v2.2.

[2019-04-19 17:38] #15760 closed

[2019-04-19 17:47] jambajaar opened #19725 "Grant users the ability to create a project with limited resources"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature Enhancement

**Steps to reproduce (least amount of steps as possible):**
In OpenShift, users log into the cluster, and are allowed to create a project on their own. Admission Controllers then assign quotas and limits to that project (in OpenShift, a project and a kubernetes namespace are 1:1). For example, when a

[2019-04-19 17:50] #15763 closed

[2019-04-19 17:51] deniseschannon commented on #14946
Please reopen if we see this again. There have been fixes across that @vincent99 thinks might have fixed this/

[2019-04-19 17:51] #14946 closed

[2019-04-19 17:51] deniseschannon commented on #15782
In 2.1, we re-did pipelines. If you still have issues on a later release, please open a new issue.

[2019-04-19 17:51] #15782 closed

[2019-04-19 18:22] DarkRider1768 commented on #18275
@alena1108  Can we get this functionality patched out then? I realize this was just added but it is a breaking bug for what I imagine is a large number of deployments. Until there is logic in place to detect a load balancing solution like MetalLB, it doesn't make sense to prevent it's selection in the menu for people who have it deployed.

[2019-04-19 18:41] jambajaar opened #19726 "Long-term data storage and querying from Prometheus data"
What kind of request is this (question/bug/enhancement/feature request):
Feature Enhancement

Steps to reproduce (least amount of steps as possible):
We're using the Prometheus services built into Rancher 2.2, but in Prometheus' docs, there are several mentions of Prometheus' storage not being durable or recommended for more than an 'ephemeral sliding window'. Phrases like "If your local storage b

[2019-04-19 18:43] DarkRider1768 commented on #19713
Logs on the ETCD/CP node are showing the following:
[code]

[2019-04-19 18:49] jambajaar opened #19727 "Reject users adding tolerations to their pods"
What kind of request is this (question/bug/enhancement/feature request):
Feature Enhancement

Steps to reproduce (least amount of steps as possible):
If I add the following to my cluster config:
[code]

and then label nodes:
[code]

and then taint nodes:
[code]

And then add to my namespace:
then add to namespace:
[code]

The effect is, pods in unixservices namespace will schedule to nodes labled

[2019-04-19 18:55] jambajaar opened #19729 "Chargeback"
What kind of request is this (question/bug/enhancement/feature request):
Feature Enhancement

Steps to reproduce (least amount of steps as possible):
We would like to be able to charge back to the users of our cluster based on their pod requests and limits.

We attempted to use this on openshift: https://github.com/operator-framework/operator-metering

But it was very brittle and after about 6 wee

[2019-04-19 19:18] DarkRider1768 commented on #19713
Trying to spin up a cluster with a different CNI.
Failed in the same place with all the same settings except CNI set to Canal.
Trying to spin up a cluster with a different Kubernetes version but CNI set to Weave.
Failed in the same place with all the same settings except Kubernetes set to 1.13.5.
Trying to spin up a cluster with Kubernetes version set to 1.13.5 and CNI set to Canal (as is default

[2019-04-19 19:20] DarkRider1768 commented on #19713
Logs on ETCD/CP node with the configuration, Rancher 2.1.7, Kubernetes version 1.13.4, and CNI set to Canal:
[code]

[2019-04-19 19:58] rmweir commented on #19702
@runtman @Tediferous @rust84 There is currently a fix under review for this issue. To get the keys for now you can: go to nodes, open dev tools, select networking tab, right click on request labeled 'nodeconfig', copy as curl, then paste into terminal, and remove gzip from accept-encoding field.

[2019-04-19 20:11] deniseschannon commented on #15825
This might be the underlying cause of why you can't update roles/taints on nodes. https://github.com/rancher/rancher/issues/16703

[2019-04-19 20:12] #15835 closed

[2019-04-19 20:13] rajha-korithrien commented on #18275
@DarkRider1768 my team has had success be creating the service via the Rancher UI as a ClusterIP, and then using kubectl to change its type to a LoadBalancer, at which point MealLB picks it up and the Rancher UI does the right thing. Its manual but it is an OK work around.

@alena1108 The current behavior described is fine, and makes good sense as a default. My team doesn't necessarily need Ranche

[2019-04-19 20:15] deniseschannon commented on #15847
@runtman

this step is outside of Rancher's control

When the bucket is updated, Rancher could update it's own code. Alternatively, you could try to build your own driver from what is out there and then add it as your own node driver into Rancher.

[2019-04-19 20:16] deniseschannon commented on #15847
If it gets updated in the OSS bucket, let me know and I can prioritize getting it fixed into Rancher's code.

[2019-04-19 20:17] deniseschannon commented on #15848
This is an issue with the Aliyun Docker Machine Driver, which is built by Aliyun. We are only packaging what's available.

[2019-04-19 20:17] #15848 closed

[2019-04-19 20:17] #15855 closed

[2019-04-19 20:19] deniseschannon commented on #15856
There is a separate issue to track ability to defrag etcd [https://github.com/rancher/rancher/issues/16025].

But if you know what's causing etcd to fill up, please file a new issue.

[2019-04-19 20:19] #15856 closed

[2019-04-19 20:19] #15862 closed

[2019-04-19 20:27] cjellick opened #19731 "Can't delete an imported cluster and then re-import it"
Details TBD

[2019-04-19 20:33] davidnuzik commented on #19325
Version: Master 4/19/19

Confirmed this is now fixed. We are including prviateRegistries in the config now when we create a cluster. I did still notice though that when I submit with a fake URL it appears to be looking for system images. Since both the UI appear correct and the API appear correct my guess is this is some backend issue.

[code]

![image](https://user-images.githubusercontent.com/45

[2019-04-19 20:34] #15878 closed

[2019-04-19 20:36] #15883 closed

[2019-04-19 20:38] #15926 closed

[2019-04-19 20:38] #15946 closed

[2019-04-19 20:40] deniseschannon commented on #15977
If you're still facing issues with provisioning clusters using RKE CLI, please open a new issue in the RKE repo `rancher/rke`.

[2019-04-19 20:40] #15977 closed

[2019-04-19 20:40] #15980 closed

[2019-04-19 20:42] #15905 closed

[2019-04-19 20:43] deniseschannon commented on #15989
Linked RKE issue: https://github.com/rancher/rke/issues/979

[2019-04-19 20:44] #16019 closed

[2019-04-19 20:46] deniseschannon commented on #16028
It sounds like you would need to configure each namespace individually  and specify which ones would have the higher limites on top of the project level.

No matter what the total of the namespace limits would need to be within the project level.

[2019-04-19 20:46] #16028 closed

[2019-04-19 20:55] deniseschannon commented on #16039
@isavcic you are most likely hitting this issue: https://github.com/rancher/rancher/issues/18571

I'm going to close this original issue as we weren't able to reproduce it.

[2019-04-19 20:55] #16039 closed

[2019-04-19 21:00] #16056 closed

[2019-04-19 21:01] deniseschannon commented on #16077
It sounds like the caching was introduced in Rancher 2.2.

[2019-04-19 21:01] #16077 closed

[2019-04-19 21:02] #16079 closed

[2019-04-19 21:04] #16120 closed

[2019-04-19 21:10] superseb commented on #19496
Steps to reproduce:
* Create custom cluster, add nodes with necessary roles (I used 3 etcd, 2 controlplane, 2 worker)
* Fill up etcd
  * Login to one etcd node
  * Shell into `etcd` container: `docker exec -ti etcd sh`
  * Create dummy file: `dd if=/dev/zero of=testfile.out bs=1500 count=1024`
  * Fill up etcd:
[code]
* Check DB size
[code]
* Create snapshot using `Snapshow Now` in UI

[2019-04-19 21:12] deniseschannon commented on #16180
if either of you hit this issue with a modern version of Rancher, please open a new issue.

[2019-04-19 21:12] #16180 closed

[2019-04-19 21:16] deniseschannon commented on #16198
If there are more questins. please open a new issue.

[2019-04-19 21:16] #16198 closed

[2019-04-19 21:17] deniseschannon commented on #16216
If there are are any more issues or questions. please open a new issue.

[2019-04-19 21:20] #16250 closed

[2019-04-19 21:22] deniseschannon commented on #16268
Ideally, we would fix this in the API, but let's fix it in the UI for now.

[2019-04-19 21:26] deniseschannon commented on #16313
With AD, you can only list the groups that the user doing the search is part of. It sounds this is working  as designed.

[2019-04-19 21:28] #16315 closed

[2019-04-19 21:29] deniseschannon commented on #16329
@aiwantaozi @loganhz what version of fluentd are we using for logging?

[2019-04-19 21:30] deniseschannon commented on #16332
This sounds like a RKE CLI issue which should be opened in rancher/rke if you are still having issues.

[2019-04-19 21:30] #16332 closed

[2019-04-19 21:30] soumyalj opened #19732 "Service discovery fails for a record pointing to a daemonset in GKE cluster"
Rancher version: v2.0.13
Cluster : GKE
K8s version: v1.12.7-gke.7
Steps:

1. Create a GKE cluster with K8s version v1.12.7-gke.7
2. Create a daemonset
3. Create a service discovery record pointing to a daemonset OR a service discovery record pointing to a daemonset and workload

Service discovery fails when pointing to a daemonset or to a daemonset and workload.
Service discovery succeeds when poi

[2019-04-19 21:30] #16340 closed

[2019-04-19 21:31] #16343 closed

[2019-04-19 21:34] #16369 closed

[2019-04-19 21:36] panho66 commented on #19572
@vincent99  thanks

[2019-04-19 21:36] #19572 closed

[2019-04-19 21:37] #16371 closed

[2019-04-19 21:37] #16377 closed

[2019-04-19 21:37] #16378 closed

[2019-04-19 21:39] deniseschannon commented on #16400
Rancher hasn't been tested or supported to run on other Kubernetes clusters except for RKE. We have a ticket to investigate it, but the main issue is getting the backups from the hosted k8s providers.

Closing in favor of : https://github.com/rancher/rancher/issues/16627

[2019-04-19 21:39] #16400 closed

[2019-04-19 21:39] #16422 closed

[2019-04-19 21:40] #16429 closed

[2019-04-19 21:40] #16432 closed

[2019-04-19 21:49] #16479 closed

[2019-04-19 21:52] deniseschannon commented on #16485
When trying to re-use nodes, be sure to properly clean them up:

https://rancher.com/docs/rancher/v2.x/en/removing-rancher/

[2019-04-19 21:52] #16485 closed

[2019-04-19 21:53] #16487 closed

[2019-04-19 21:56] deniseschannon commented on #16494
It sounds like you have hit this: https://github.com/rancher/rancher/issues/18571

[2019-04-19 21:56] #16494 closed

[2019-04-19 21:56] #16499 closed

[2019-04-19 21:57] #16506 closed

[2019-04-19 21:59] vincent99 commented on #16489
GET the deployment and follow `links` -> `revisions` (or really it's just adding `/revisions` to the end of the deployment URL)

[2019-04-19 21:59] westlywright commented on #17285
@davidnuzik According to `/v3/project/<SOMEPROJECTID>/schemas/toleration` tolerations are all updatable. If they shouldn't be this will need a backend ticket before the UI change. If they are updatable but have no effect when changed this ticket should be `area/api`
<img width="548" alt="Screenshot 2019-04-19 14 59 07" src="https://user-images.githubusercontent.com/858614/56445751-b9f4b180-62b3-11

[2019-04-19 22:01] #16540 closed

[2019-04-19 22:05] #16563 closed

[2019-04-19 22:05] deniseschannon commented on #16543
Per @yasker this is working in the latest version.

[2019-04-19 22:05] #16543 closed

[2019-04-19 22:06] yasker commented on #16543
This has been resolved. Helm chart needs something similar to https://github.com/rancher/charts/blob/master/proposed/longhorn/latest/Chart.yaml#L5 to deal with special version of Kubernetes.

[2019-04-19 22:12] gcmcnutt commented on #16327
I've got a similar problem on 2.1.6 -- a cluster of c5xx machines in AWS seem to have trouble after a while starting containers that have EBS volumes -- there seems to be an intermittent pattern where a worker node gets into a state where the I/O to the EBS store (as seen from the EC2 instance) is very very slow.

Perhaps some race condition as this is hard to reproduce.  Here's a recent example s

[2019-04-19 22:21] westlywright commented on #17546
@davidnuzik The description field still doesn't exist for the schema. Something is not right on the backend because we should not be required to update the API UI for a field to show up in the schema. I don't think rancher/rancher#18098 was completed correctly.

[2019-04-19 22:24] westlywright commented on #17612
@davidnuzik can you retest on latest? I am seeing an error when on master

<img width="1509" alt="Screenshot 2019-04-19 15 23 39" src="https://user-images.githubusercontent.com/858614/56446380-2e7d1f80-62b7-11e9-96f6-6cb33cd17a77.png">

[2019-04-19 22:26] westlywright commented on #17668
I ran into this while working on another issue. Will be addressed by rancher/rancher#2897

[2019-04-19 22:41] materemias opened #19733 "Allow custom ENV vars in pipelines"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Other details that may be helpful:**
This would enable a bunch of new features like passing in credentials for 3rd party repositories or gcloud cli. If dind is possible this could open up more flexibility to advanced run types.

[2019-04-19 22:44] davidnuzik opened #19734 "Backend is pulling system images from private registry even though cluster registry is not set to default registry"
Version: Master (4/19/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- In the UI, create any RKE cluster and add a private registry
- Use a fake URL, username, and password, leave "System Default Registry" unchecked
- UI will POST to create the cluster with the private registry not set to default (s

[2019-04-19 22:44] davidnuzik commented on #19325
Created issue #19734 to track the issue we are seeing from the backend per my comment above. The backend should not be trying to pull system images as we have not set the cluster private registry as default.

#19734 needs to be fixed before I can validate and close this UI issue.

[2019-04-19 22:57] davidnuzik commented on #13931
It is still possible to attempt to move the namespace via the Edit function:

![image](https://user-images.githubusercontent.com/45179589/56447208-c250ea80-62bb-11e9-8ef3-aabceef9e5ee.png)

![image](https://user-images.githubusercontent.com/45179589/56447211-c977f880-62bb-11e9-8fd4-56d3707439b2.png)

[2019-04-19 22:57] panho66 opened #19736 "UI honour default resource limit setting"
**What kind of request is this (question/bug/enhancement/feature request):**
bug? / enhancement

**Steps to reproduce (least amount of steps as possible):**
Create namespace with resource limit (100mi CPUs ans 128M memory)
Deploy container without resource limit set in UI
**Result:**
Container deployed with resource limit set according to namespace setting

UI
![image](https://user-images.githubus

[2019-04-19 23:16] davidnuzik commented on #17612
@westlywright yes looks like it was fixed a while ago. I will close this issue.

[2019-04-19 23:16] #17612 closed

[2019-04-19 23:25] soumyalj commented on #19732
The same issue exists for RKE imported cluster in v2.0.13 and v2.0.14-rc3

[2019-04-19 23:27] Oats87 opened #19737 "Catalogs cannot handle commas in your passowrd"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Install a Catalog App with an automatically generated helm chart

**Result:**
Sometimes, a password may be generated with invalid characters in it, like `,`

When this happens, you will get the error message:
[code]

where the password generated was `lhmn,gA

[2019-04-19 23:31] davidnuzik opened #19738 "globalDNS entry allows any string for fqdn even invalid DNS chars"
Version: Master (4/19/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- In the UI, attempt to create a GDNS entry with invalid FQDN such as "test!!!.test.com"

**Result:**
The API allows this because fqdn is of type "string" but should be of a type that checks for proper DNS chars ("dnsLabel" ?)

fro

[2019-04-19 23:51] shubb30 commented on #16489
Thank you for responding Vincent.

I already noted above about the `/revisions` link, but it doesn't _easily_ give you a way to find out which revision is currently assigned to the workload.  It just gives you the list of all the revisions it knows about, in order of the revision-id, which is not particularly useful.  If it had a way to sort the revisions by creation date like the Rancher UI shows

[2019-04-20 00:35] rmweir commented on #19702
For the actual zip file you can add -o ./save.zip in front of "curl". Replace save with your desired filename. It is still necessary to remove gzip from accept-encoding field.

[2019-04-20 02:54] roynasser commented on #15905
So, was this confirmed/fixed? It's a problem if more than one clusters are dependant on rancher in a production environment....

[2019-04-20 06:54] vincent99 commented on #16489
To determine the current revision you get the value of `workloadAnnotations`-> `deployment.kubernetes.io/revision` on the workload/deployment and then find the revision/replicaset that has that same value for that same key.

[2019-04-20 07:10] vincent99 commented on #19738
The right type would be a `hostname`.  A `dnsLabel` can't contain dots; a `hostname` is a series of `dnsLabel`s separated by dots.

[2019-04-20 12:18] wreed4 commented on #16968
@loganhz I tried following the workaround you suggested, but still don't see the links.  I'm on the EKS cluster on which I installed rancher in HA configuration (via helm).  I enabled metrics, but added a node selector so that they only run on the private subnet.  Is that not going to work?  Rancher has no such nodeSelector, though I intended to add one.

[2019-04-20 17:38] lbogdan opened #19740 "Monitoring: Grafana not accessible in EKS cluster"
**TL;DR**: Is there some docs describing how service proxying works in rancher? I would like to debug this myself, but I have no idea how things are connected and where should I start. Also, I'm guessing it might have to do with the fact that the EKS nodes are completely firewalled from the outside world? (which is the only difference between the EKS cluster and a bare-metal cluster with no firewa

[2019-04-20 19:11] vincent99 commented on #19740
The server container proxies `/k8s/clusters/c-abcde` to a control plane node in that cluster, and the rest (`/api/v1/namespaces/cattle-prometheus/services/http:access-grafana:80/proxy/`) is part of standard k8s to access a service.

[2019-04-20 21:52] GiGurra opened #19741 "Cluster-monitoring opens nodeport 9796"
**What kind of request is this (question/bug/enhancement/feature request):**
bug - Vulnerability. Nodeport opened to monitoring metrics without any authentication required.
Should this data really be publicly exposed?

Imo node metrics should be communicated/collected within kubernetes network, not exposed with public nodeports.

**Steps to reproduce (least amount of steps as possible):**
Deploy r

[2019-04-20 22:37] roboticsound commented on #19723
Yes I confirm that I am experiencing the same thing. Also I am unsure if it is related but hostnames are no longer generated automatically.

[2019-04-20 23:44] erhwenkuo commented on #18275
@alena1108 I echo @rajha-korithrien 's comments. The default makes sense since most on-prem K8S is lack of LoadBalancer capability. However, providing a configure to allow on-prem K8S administrator to enable this setting and have Rancher UI ease to help deploy LoadBalancer workload on on-prem K8S is surely a very attractive feature that Rancher can offer.

The key value proposition of MetalLB is t

[2019-04-21 03:21] gywang- commented on #19665
Still have this problem to v2.2.2，My k8s cluster is my own deployment.

The version is as follows:

[code]

[code]

[code]

[2019-04-21 04:03] gywang- commented on #19665
@alena1108
rancher server error logs

[code]

[2019-04-21 05:56] deniseschannon commented on #16313
Sorry about that, in AD you should be able to search for groups even if you are in them.

@drewboswell Can you make sure your User Search Base and Group Search Base are broad enough to find the users/groups you are looking for?

[2019-04-21 09:29] naorw commented on #19137
that is correct Denise. it is a cluster that was managed by another Rancher instance.

[2019-04-21 15:05] superseb opened #19742 "kontainer-engine driver port range includes ports already in use by k8s components"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- Run single install Rancher
- Trigger cluster driver by creating custom cluster and adding nodes
- Wait til a port in the range is already in use (range is 10,000 - 11,000, in use are 10251 and 10252)

See https://github.com/rancher/kontainer-engine/blob/ma

[2019-04-21 18:55] sowmyav27 opened #19743 "etcd node having extra certs"
**What kind of request is this:** bug

**Steps to reproduce:**
1. On Rancher v2.1.8, create a cluster with multiple etcd nodes - (3 etcd, 1 control plane, 3 worker) nodes

**Expected Result:**
.pem files - certs related to only etcd node should be generated for all the etcd nodes.

**Actual Result:**
.pem files - certs related to control plane node are also generated for an etcd node.

**Note:**
T

[2019-04-22 01:14] jgreat opened #19744 "Remove redundant "Azure Unmanaged Disk" option from Storage Class dialog"
Remove the "Azure Unmanaged Disk" radio button from the storage class options.

The "Azure Unmanaged Disk" style of input was for kubernetes version prior to 1.7.2.
https://kubernetes.io/docs/concepts/storage/storage-classes/#azure-disk

Selecting this option and then trying to change it to the new style after the fact breaks the storage class for the cluster. The controller-manager will try and s

[2019-04-22 03:16] ibayue opened #19745 "can not resolve the external domain name"
I am using the alpine base image, running the java program, the program occasionally can not resolve the external domain name

Versions：
k8s v1.11.5
docker 17.03.2

![image](https://user-images.githubusercontent.com/11729209/56481134-12b08e00-64f0-11e9-8639-c4f7dda60fa2.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.2` UI: `v2.2.41` |
|Route|`workload`|

[2019-04-22 06:30] aiwantaozi commented on #16329
Rancher 2.1.1 deploy fluentd v1.1, which have the memory leak issue, we upgrade fluentd to v1.3.3 in Rancher 2.2

[2019-04-22 07:19] thxCode commented on #19665
@gywang- , could you confirm that Is there any error msgs in the `monitoring-operator` App of `System` Project in that failed cluster?

[2019-04-22 07:20] thxCode commented on #19476
Should we clean up Monitoring after dropping the cluster from Rancher? @loganhz

[2019-04-22 08:32] loganhz commented on #19737
Which catalog app? I guess we can fix it in the chart as `valid_chars ` works for password.

Related PR https://github.com/rancher/ui/pull/2505

[2019-04-22 09:09] Gops123 commented on #13442
I have the exact same issue trying elasticsearch helm chart on bare-metal (RHEL 7.6) 3 node cluster

the message I get is
Pod has unbound PersistentVolumeClaims (repeated 3 times)

[2019-04-22 09:24] DanyC97 commented on #19598
am i right in assuming that w/o this changes you were not able to install it on CentOS ?

[2019-04-22 09:42] thulshof opened #19747 "Pipeline keeps running when jenkins-slave failes"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Kill jenkins-slave in the middle of a pipeline build.

**Result:**
The status of the triggered pipeline will keep saying 'building', also when jenkins-slave failes. As a result, when you trigger a new run, your new run won't be executed until you've manually

[2019-04-22 10:03] aa-aahmed commented on #19598
in my case issue was resources, i had only 1GB of ram ... assigned to VM.

but when I was writing automation around deployment I was re-deploying the
stack over n over i bump into same issue ... to be honest rancher is bit
unstable

On Mon, Apr 22, 2019 at 7:25 PM Dani Comnea <notifications@github.com>
wrote:

[2019-04-22 10:55] coderenwoxing commented on #1403
hello, every one, does rancher support IPv6 now？
thanks

[2019-04-22 13:15] janeczku commented on #18380
Reproduced with Ping authentication provider on v2.1.8. The 404 is intermittent and works upon retrying.

[2019-04-22 13:41] bmdepesa commented on #19743
I reproduced this on v2.0.13 fresh install. The issue persists after upgrading to v2.0.14.

[2019-04-22 13:43] Oats87 commented on #19737
@loganhz this is a custom catalog app

[2019-04-22 13:57] HuangDelong opened #19748 "Upgarde rancher to 2.2.2 version, cannot add new node to cluster."
*Describe your issue here*
Cannot add new node to cluster .

level=info msg="Error while getting agent config: invalid response 500: Failed to construct node config. Error: failed to find plan for x.x.x.x"

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.2` UI: `v2.2.41` |
|Route|`global-admin.clusters.index`|

[2019-04-22 15:46] vincent99 commented on #19737
That's a perfectly valid random password, being not escaped properly somewhere along the line.  Answers should be able to have a comma in them.

[2019-04-22 15:53] jgreat opened #19749 "Unable to provision Azure Disk with Azure node driver"
I've set up a azure node driver cluster with the cloud provider enabled. Enabled storage-classes with "shared" or ""dedicated" options and I'm unable to create "shared" disk that provisions correctly.

Specifying "shared" or "dedicated" seems to set up a new StorageV2 storage account in the resource group successfully, but it cannot bind the vhd to a volume:

[code]

This did work the last time I

[2019-04-22 16:07] davidnuzik commented on #19285
Version: Master (4/22/19)

I have confirmed again in latest master (for v2.3) that this is working. The cluster and node dashboard shows the correct creation time (not current time as they did before).

[2019-04-22 16:07] #19285 closed

[2019-04-22 16:22] calexandre commented on #19177
+1
I have the same Rancher version and I can confirm this issue.
Flux needs the Auth field to work properly.

Also, there is a forum [issue](https://forums.rancher.com/t/dockerconfigjson-fields-missing-auth-on-2-1-7/14038) reporting this behavior.

[2019-04-22 16:24] alena1108 commented on #19435
@deniseschannon for coredns, we already have the issue https://github.com/rancher/rancher/issues/19710

I'll check the rest

[2019-04-22 16:24] #18098 closed

[2019-04-22 16:26] ukinau commented on #18112
After I get reviewed on "Print X-Tunnel-Params value in addition to Token #18113" from @alena1108 , I changed the mind about it, and also as she commented on PR, I'm gonna change the logging logic for Token so that Agent can just show first / last 4 characters

[2019-04-22 16:37] wzrdtales commented on #1403
@coderenwoxing 2.x kind of. It works for endpoints, but is not necessarily supported. If you only need ipv6 at your ingress it will work without worries. Metallb has ipv6 support as well should you work on premise.

[2019-04-22 16:41] alena1108 commented on #19296
@aleksey005

Sure. Also it would help to get the exact steps to reproduce if the issue happens again.

[2019-04-22 17:46] #19733 closed

[2019-04-22 18:11] tfiduccia commented on #19731
Version - master
Imported a GKE cluster.  Deleted cluster, waited a few seconds.  I then re-imported the cluster.  Everything worked fine.

2 things I did see:
1.  If you try to re-import before the rancher is finished terminating you will see errors like:
[code]

[2019-04-22 18:17] deniseschannon commented on #19598
@aa-aahmed have you read the requirements on what is needed for nodes to run Rancher? 1GB RAM is clearly not enough:

https://rancher.com/docs/rancher/v2.x/en/installation/requirements/

[2019-04-22 18:38] DarkRider1768 commented on #18275
I disagree. I understand that this "feature" is to cut back on the number of support tickets submitted by people who don't know to configure a load balancer before assigning the setting, however, beyond that it adds no functionality and fully breaks rancher for environments with a load balancer. As a workaround until the logic is in place, making it configurable is the absolute least that should b

[2019-04-22 18:40] jiaqiluo commented on #19732
The issue does not exist in v2.1.8 and after upgrading to v.2.19-rc3
GKE version: v1.12.7-gke.7

[2019-04-22 18:43] deniseschannon commented on #19616
Are you just starting up rancher and adding a cluster and then restarting rancher?

How did you add your cluster to Rancher?

[2019-04-22 18:52] superseb commented on #19621
There is not enough information in this issue to try to reproduce or get a feel what you are trying to do, which makes it hard to look into. If you believe there is a bug in the product, please read https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions and fill out the issue template with the requested information so we can start investigating.

If you are trying to solve

[2019-04-22 18:52] #19621 closed

[2019-04-22 18:55] deniseschannon commented on #19667
On the "catalogs" page, i can see which catalogs are enabled as a standard user.

Do you have a screenshot of what you are missing?

[2019-04-22 18:59] deniseschannon commented on #19674
This is similar/almost duplicate of https://github.com/rancher/rancher/issues/18787, but related to project monitoring.

Adding into the milestone so that it gets fixed/tested at the same time.

[2019-04-22 18:59] deniseschannon commented on #19674
@orangedeng can you make sure your fix also encompasses this use case?

[2019-04-22 19:02] gehring opened #19751 "Workload's scheduler, priority and priority class name not working"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
When deploying some workload, set some value in any of the fields `Scheduler`, `Priority` or `Priority Class Name`, then deploy and check the generated yaml.

**Result:**
Those fields are ignored, no entries are added for those fields.

**Environment informa

[2019-04-22 19:04] alena1108 commented on #19732
This issue will exist for any cluster having k8s version 1.12 and up, in 2.0.x branch. It got fixed in 2.1.x+ release by bumping up k8s vendor version for Rancher server.

[2019-04-22 19:04] #19732 closed

[2019-04-22 19:08] westlywright opened #19752 "Backport default namespace didnot work in rancher 2.2 catalog apps page"
Backport of rancher/rancher#19697

[2019-04-22 19:10] westlywright commented on #19697
@davidnuzik I've merged this into master, I'd like to get it QA'd in master before I backport the fix for the 2.2.3 target.

[2019-04-22 19:56] alena1108 commented on #19743
Moving out to 2.3 as the issue existed for a while, and it's not pressing to fix it in the maintenance release.

[2019-04-22 20:17] daxmc99 commented on #19613
Hi @jjkoehorst,
Can you check that your API keys have not expired and that you are not using cluster scoped API keys? This error typically happens when a 401 error is returned by Rancher.

[2019-04-22 21:51] davidnuzik opened #19753 "Add Clusters page changes"
Version: Master (4/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Deactivate all drivers (hosted providers and node drivers)

**Result:**
Notice Import/Custom are still shown - these should be user-configurable so we can prevent showing them in the UI if the user wishes (I think these are the "

[2019-04-22 21:57] davidnuzik opened #19754 "DigitalOcean Access Token is missing required asterisk"
Version: Master (4/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a new cloud credential for DigitalOcean

**Result:**
The red asterisk is missing for the required "Access Token" field.

**Other details that may be helpful:**
![image](https://user-images.githubusercontent.com/45179589/56

[2019-04-22 22:29] tfiduccia commented on #19690
Version 2.2.2 - There does seems to be a bug here.  Here are my steps
1.  In 2.1.0 - Create a DO custom cluster (I only have a single node and used kubenetes version 1.11)
2.  Upgrade 2.1.0 to 2.2.2
3.  Turn on monitoring (make sure to wait for it to be completed)
4.  Upgrade cluster to k8s version 1.11

It took forever for my cluster to upgrade (15 minutes).  And it kept repeating the steps over

[2019-04-22 22:33] davidnuzik opened #19755 "Name should be required for cloudCredential"
Version: Master (4/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a cloud credential. Do not provide any name

**Result:**
The CloudCredential gets created and a name is automatically generated. You can never edit the name in the UI (is not editable).
We'd like to make the name required

[2019-04-22 22:35] davidnuzik opened #19756 "Add required asterisk to cloudCredential name"
UI for #19755

If #19755 is approved and completed please add a required asterisk to the cloudCredential name.

We'd like the cloudCredential name to be required (requires that backend change) because it is not editable. We should be requiring the user to supply a (hopefully useful) name upon cloud credential creation so they avoid getting cloud credentials with randomly generated names that are o

[2019-04-22 22:35] cloudnautique opened #19757 "Allow delegating "admin/global" cluster to non-local cluster"
To leverage Multi-cluster app, Rancher needs to deploy pods into a cluster to facilitate global dns etc. In circumstances where users are following the hardening guide and disabling the local cluster, running in stand alone Docker container mode or a light weight Kubernetes without nodes this is not possible.

We need to provide a capability where a user can provision a Kubernetes cluster, with or

[2019-04-22 22:35] davidnuzik commented on #19755
UI issue for this: #19756

[2019-04-22 22:43] DarkRider1768 commented on #19713
Changed the timeout settings from 30 to 300 in the Cluster configuration YAML (in the web GUI). Not sure if this helps or not but I'm trying everything because no one seems to be picking this up.

Pulled these additional logs.

docker logs kubelet:
[code]

[2019-04-22 22:56] #18602 closed

[2019-04-22 23:05] davidnuzik opened #19758 "Provide error in UI when user supplies cloudCredential name that is not of type dnsLabel"
Version: Master (4/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a cloudCredential with a name with special characters

**Result:**
You will get no error in the UI and the browser dev console will report no errors/warnings. (When you click the "Create" button nothing will happen).

[2019-04-22 23:13] davidnuzik opened #19759 "UI cloud Credential is not reporting error if credentials are empty"
Version: Master (4/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a new cloud credential such as with EC2:
 Do not supply a name, region, access key, secret key

**Result:**
The UI will report you must pick a region. Do so but leave all else blank and try to create. Now it reports nothin

[2019-04-22 23:20] davidnuzik opened #19760 "Uncaught TypeError when try to add members from drop down"
Possibly related: rancher/rancher#19676
Version: Master (4/22/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a cluster and for the roles drop-down pick an entry:
![image](https://user-images.githubusercontent.com/45179589/56539248-27a21700-651a-11e9-8157-2c288fffa70d.png)
- Do the same for

[2019-04-22 23:39] davidnuzik commented on #19697
Version: Master (4/22/19)

Followed the steps to reproduce. Noticed in the UI we cannot modify the requiredNamespace. Noticed upon submit we send the proper Namespace `targetNamespace: "longhorn-system"`
Noticed the app successfully provisioned without any issues. I can access index.html without any issues.

@westlywright done validating in master. It looks good.

[2019-04-22 23:59] gitlawr commented on #19679
1. You should be able to pull images from index.docker.io, is there any reason you can't do that?
2. If you don't want the registry prefix, you can explicitly set [user]/[image-name] as the image name in the manifest, instead of using the CICD_IMAGE variable.

[2019-04-23 00:13] rpelissi opened #19761 "Upgrade, Rollback, Delete options are missing for some apps"
**What kind of request is this (question/bug/enhancement/feature request):**
It's a bug

**Steps to reproduce (least amount of steps as possible):**
Not really sure about the exact path.. I have installed 2.2.1, then activate the helm stable catalog. Then installed some apps like metallb

**Result:**
Some apps can't be upgraded or deleted because the option is missing in the menu. Only the clone o

[2019-04-23 00:28] soumyalj commented on #17874
Tested with rancher server v1.6.26 using k8s1.12.7-rancher1-1

Created a proxy server using tinyproxy.
Created hosts with no direct internet access, and configured proxy in OS and Docker so it can work through  proxy
Added a custom host to the k8s environment.

kubectld service did not start up and it was stuck in "Activating" state

[2019-04-23 01:41] #19616 closed

[2019-04-23 01:50] yuanbw commented on #19616
I upgraded rancher from v2.0.6 to v2.2.1. After the upgrade, the rancher interface and k8s is ok. But when I restarted the rancher host, Rancher started reporting the above error. However, k8s is ok.