[2016-10-17 15:16] ryancorvetti commented on #936
For those still struggling to address this issue with rancher/agent running in boot2docker, run the following *before* spinning up the rancher/agent container:
[code]
This will setup a bind mount to map /var/lib/rancher to /mnt/sda1/var/lib/rancher, the latter of which will persist between reboots of the docker machine.

[2016-10-17 15:34] vincent99 commented on #6290
The starting of service containers is managed by Rancher to ensure the correct scale, that other services litter metadata are available, etc.

Standalone containers set the Docker restart policy.

[2016-10-17 15:34] #6290 closed

[2016-10-17 15:45] lilnate22 opened #6294 "Rancher (kubernetes) UI shows Kube-system NS, but NS not found"
**Rancher Version:**
1.1.4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS Ubuntu16

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single slave Rancher Kubernetes
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
kubernetes

**Steps to Reproduce:**
create k8s system, then download heapster: https://github.c

[2016-10-17 15:50] vincent99 commented on #6269
Before you edited out the IP (which was non-routable anyway) and port  the error said timeout connecting to the docker socket port, which probably means you're missing opening the port in the security group configured.

You asked for a VM and docker-machine is what we use to create them and install docker.  If you want to create the VM yourself or already have them, use the custom add host command

[2016-10-17 16:40] alena1108 commented on #6208
@T-Grave thank you for sharing your app details. We appreciate any contributions to your lb-controller project (the one ingress-controller's image is made from): https://github.com/rancher/lb-controller. As a plugin, you can implement any provider as well as the controller of your choice.

Let us know if you have any k8s questions, will be happy to answer them.

Closing this issue for now.

[2016-10-17 16:40] #6208 closed

[2016-10-17 16:50] deniseschannon commented on #6288
@arvindr21 Which RC did you pick up?

We do not recommend any RC release as it hasn't been validated by QA. Particularly v1.2.0-pre4-rc2 is very broken.

[2016-10-17 17:10] alena1108 commented on #6244
@soumyalj the image with the fix was merged to rancher-catalog (same folder, 12). We should also include this test case to our automation run.

[2016-10-17 17:23] sangeethah opened #6295 "Include description of the time format for Backup Creation and Backup Retention parameters."
Rancher Version:  v1.2.0-pre4-rc3
K8s 1.4 version from - https://github.com/rancher/infra-catalog

Include description of the time format for Backup Creation and Backup Retention parameters.

[2016-10-17 17:48] toughIQ opened #6296 "Catalog Page breaks when unchecking "Start services after creating""
**Rancher Version:**
v1.2.0-pre4-rc4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL7.2 Vmware Host
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node, external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Choose any item out of catalog. At down left uncheck "S

[2016-10-17 17:50] ryancorvetti commented on #936
For those using docker-machine (aka. boot2docker) with rancher...

If you are are interested in getting rancher/agent state to persist between reboots (and therefore not duplicate host entries in rancher/server), try the following *before* running the rancher/agent container on the target docker machine:

[code]

The above establishes a bind mount to map /var/lib/rancher to /mnt/sda1/var/lib/ranch

[2016-10-17 17:59] soumyalj commented on #5870
Tested for different keys in v2 format. They are working except for logging key which is tracked in
https://github.com/rancher/rancher/issues/6279

[2016-10-17 17:59] #5870 closed

[2016-10-17 18:16] franciscocpg opened #6297 "[cli] Renaming project"
Well, one of the options for installing the rancher go client is `go get github.com/rancher/cli`, but this creates a bad name file called `cli` at my $GOBIN path.

IMO this project should be renamed to `rancher-cli` so `go get github.com/rancher/rancher-cli` is going to create a file named `rancher-cli` at $GOBIN path and voila!

[2016-10-17 18:48] sangeethah commented on #5129
Settings is still not available when testing with rancher-server version - v1.2.0-pre4-rc3

[2016-10-17 18:49] sangeethah commented on #6261
This issue is not seen anymore with v1.2.0-pre4-rc3

[2016-10-17 18:49] #6261 closed

[2016-10-17 18:52] sangeethah commented on #6004
Able to launch 1.4 K8s stack successfully using v1.2.0-pre4-rc3 .

[2016-10-17 18:52] #6004 closed

[2016-10-17 18:55] sangeethah commented on #5834
Tested with Rancher Version: v1.2.0-pre4-rc3 and K8s 1.4 version from - https://github.com/rancher/infra-catalog
User is now provided with BACKUP_PERIOD and BACKUP_RETENTION parameters that can be overridden by users.

Logged bug for including more field description  - https://github.com/rancher/rancher/issues/6295

[2016-10-17 18:55] #5834 closed

[2016-10-17 18:57] sangeethah commented on #5837
Tested with Rancher Version: v1.2.0-pre4-rc3 and K8s 1.4 version from - https://github.com/rancher/infra-catalog

User has the ability to disable backups. In this case we will still see /var/etc/backups folder getting created on the hosts. But no backups will be taken by any of the etcd containers.

[2016-10-17 18:57] #5837 closed

[2016-10-17 19:06] praseodym commented on #5943
Unfortunately I do not yet have a solution.

[2016-10-17 19:11] alena1108 commented on #6099
https://github.com/rancher/lb-controller/pull/15/commits/56f4654022aa3830221bd30123b95c67f5784e5c

[2016-10-17 19:47] galal-hussein opened #6298 "Can't delete Kubernetes object using the REST API"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

Trying to delete replication controller, and i am having this error:

[code]

[2016-10-17 19:58] mrajashree commented on #5896
Seems to work fine with rancher/server:v1.2.0-pre4-rc3
The PRs in which it has been referenced seem to have fixed this

[2016-10-17 20:05] galal-hussein opened #6299 "Using other authorization plugins with Kubernetes"
Its possible to change the authorization plugin for kubernetes other than the default "AlwaysAllow", which allows all the requests, this can be done by generally using the following option(s) with the kubeapi server to allow different plugins:
[code]

[2016-10-17 20:05] galal-hussein commented on #6063
- [ ] Using authorization plugins #6299

[2016-10-17 20:13] sangeethah opened #6300 "Parameterize stack-name in K8s catalog."
Tested with Rancher Version: v1.2.0-pre4-rc3 and
K8s 1.4 version from - https://github.com/rancher/infra-catalog

K8s templates have references to http://kubernetes.kubernetes.rancher.internal which rely on stack name being "kubernetes". Currently it is not a problem, since UI workflow does not allow for stack name to be picked.
For the catalog entry itself to be functional outside of UI workflow

[2016-10-17 20:13] Bekt opened #6301 "[rancher-dns] Service without a pod is not resolved (SkyDns resolves those)"
**Rancher Version:** 1.1.4
**Docker Version:** 1.10.3
**OS and where are the hosts located?:** CoreOS, EC2
**Setup Details:** Multi-node
**Environment Type:** Kubernetes 1.2
**Steps to Reproduce:** Create a service ([demo](http://pastebin.com/raw/rUppw6bg)), but don't create a pod
**Results:**
The hostname is not resolved.

[code]

**Expected:**
SkyDNS actually resolves the hostname even though th

[2016-10-17 20:13] sangeethah commented on #6093
Tested with Rancher Version: v1.2.0-pre4-rc3 and
K8s 1.4 version from - https://github.com/rancher/infra-catalog

K8s templates dont have referrances to http://master  like before. Instead we have  referrances to
http://kubernetes.kubernetes.rancher.internal .

We should be able to remove the dependency of having to name the stack as "kubernetes" which is tracked in https://github.com/rancher/ranc

[2016-10-17 20:13] #6093 closed

[2016-10-17 20:15] wlan0 commented on #4168
@vincent99 I don't know the reason yet. Im investigating.

[2016-10-17 20:20] sangeethah opened #6302 "using "esc" in container shell causes it to exit the shell."
Rancher Version:v1.2.0-pre4-rc3

Steps to reproduce the problem:
Launch a service.
Exec into the container using "Execute Shell" option.
User is taken to the containers shell.
Use "esc" button.
Notice that you exit the shell.

[2016-10-17 20:37] moensch opened #6303 "New feature: Dynamic volume names for service instances"
**Rancher Version:** v1.1.4

**Docker Version:** docker-1.10.3-46.el7.centos.14.x86_64

**OS and where are the hosts located? (cloud, bare metal, etc):** CentOS 7.2 - VMware (on-premise)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** 3 node rancher HA with external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
* Cre

[2016-10-17 20:55] galal-hussein commented on #6063
- [ ] Federated cluster features #5237

[2016-10-17 21:01] sangeethah commented on #6226
Tested with v1.2.0-pre4-rc3

Case is retained for stack/service/container names in metadata versions 2015-12-19 and 2015-07-25.

[2016-10-17 21:01] #6226 closed

[2016-10-17 21:04] wlan0 commented on #5595
@robeastham Thanks for stating what you did above. You were right about deis not working because of kubectl incompatibility. Starting from Rancher-1.2, we'll be supporting Kubernetes 1.4 and kubectl 1.4.

I tested deis workflow on rancher kubernetes 1.4, with a remote kubectl 1.4 client and it worked just fine. I did all the steps except creating an app (i had an issue with the deis registry proxy

[2016-10-17 21:23] dutronlabs opened #6304 "[rancher-dns] environment names with space cause dns update requests to fail"
**Rancher Version:**
- 1.1.4

**Docker Version:**
- 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
- centOS 7, virtualized (ESXi), hosts are on-premise

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
- 6 node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
 - Cattle only

**Steps to Reproduce:**
docker-com

[2016-10-17 21:27] alena1108 opened #6305 "Health check for sidekicks having networkFrom primary service"
We should add support for defining health check for the sidekicks using network from main container.

[2016-10-17 21:44] sangeethah commented on #6252
Tested with rancher-server version - v1.2.0-pre4-rc3.

Automation runs for the above 2 use cases are still failing.

[2016-10-17 21:56] LLParse commented on #5228
The infrastructure catalog solves many problems pertaining to system stacks, but it doesn't eliminate the requirement of accessing a catalog for K8s to function.

The modular catalog design is how Rancher is intended to function - anything that is orchestrated/managed by Rancher is launched from a catalog. Catalogs need to be able to change and are therefore not bundled within Rancher server itsel

[2016-10-17 22:04] sangeethah opened #6306 "Error message relating to rancher-scheduler/0/rancher-compose.yml in rancher-server logs."
Server version - v1.2.0-pre4-rc3
infra catalog from  - "qa" branch of https://github.com/rancher/infra-catalog
Following errors seen repeatedly in rancher-server container logs.

[code]

[2016-10-17 22:04] galal-hussein opened #6307 "Preserving client source IP for external traffic in Kubernetes 1.4"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4

To preserve the client source IP when creating Load balancer services, an annotation

[2016-10-17 22:04] galal-hussein commented on #6063
- [ ] Preserving client source IP for external traffic #6307

[2016-10-17 22:14] sangeethah opened #6308 "Provide ability to get the version of rancher-catalog-service"
Currently there is no way to get  version of rancher-catalog-service.

Provide ability to get the version of rancher-catalog-service like we have for go-machine-service - `go-machine-service -v`

[2016-10-17 22:35] sangeethah commented on #5896
Tested with rancher/server:v1.2.0-pre4-rc3.

There is no errors in the logs when "Rancher Infrastructure","Rancher Certified Library" and "Community Contributed" are disabled:

Catalog service halts at this time:
[code]

Catalog Menu will have  no catalog options under it.
User is presented with following message:

[code]

[2016-10-17 22:35] #5896 closed

[2016-10-17 22:41] ibuildthecloud commented on #6225
@vincent99 Specifically this one I am sending a change event on host `PUT` and I seen in the websocket message the new host label.  I think the UI is not updating even though the data changed.

[2016-10-17 22:54] robeastham commented on #5595
@wlan0 Thanks for the update and it's great to hear that Rancher and Deis interoperability is on the radar.

Just wondering, are you sure this will work as a workaround with v1.2.0-pre3:

Perhaps I misunderstood, but I got the impression that this bug was not related to which client was being used to access the K8S cluster on Rancher and was more to do with K8S v1.3.0->v1.33 secret bug I linked to

[2016-10-17 23:01] ibuildthecloud commented on #6282
Adding these field to UI (compose/CLI) should be selective to ones we know work.

[2016-10-17 23:06] galal-hussein commented on #5751
@alena1108 This feature didn't work in k8s 1.4, I tested it on Rancher v1.2.0-pre4-rc4, here are my steps:

1- I added label foo=bar on one of the nodes in Rancher
2- Installed K8S 1.4 environment
3- Checked for nodes labels using kubectl get nodes --show-labels

[2016-10-17 23:46] soumyalj commented on #5556
Tested with 1.2.0-pre4-rc4. I still see that the etcd service is in updating-active state after executing the steps as described above:
[code]

[2016-10-18 00:08] wlan0 commented on #5857
@bonifaido This is because we use CNI. CNI does not support hostport configuration, and since we use CNI, we cannot use hostport in rancher kubernetes. Once this bug - https://github.com/kubernetes/kubernetes/issues/31307 is resolved, we'll be able to make our CNI plugin configure hostport.

[2016-10-18 00:18] wlan0 commented on #5595
@robeastham Yes, the issue was with kubernetes secret management, and not just the client version.

I tested it only with 1.4 and I'm new to deis. Sorry that I mislead you.

You need atleast k8s 1.3.4 or above to get deis to work.

There is unfortunately another bug that is preventing deis from working fully - https://github.com/deis/workflow/issues/442.

Deis workflow currently uses hostport http

[2016-10-18 00:30] soumyalj commented on #5253
Tested with Version 1.2.0-pre4-rc4. The container stats are working with Centos7 and RHEL7 with Docker 1.11.2.
<img width="1591" alt="rhel7 2docker1 11 2containerstats" src="https://cloud.githubusercontent.com/assets/18536626/19460265/efd81710-948e-11e6-84fb-ad639cc30979.png">

<img width="1627" alt="centos7docker1 11 2containerstats" src="https://cloud.githubusercontent.com/assets/18536626/194602

[2016-10-18 00:30] #5253 closed

[2016-10-18 00:42] alena1108 commented on #5751
@wlan0 could you take a look

[2016-10-18 02:37] alena1108 commented on #5918
@ThomasSchweizer there are 2 issues here:

1) Kubernetes is not being resolved correctly - it gets resolved to kubernetes api service container (10.42.x.x) instead of being resolved to cluster ip of "kubernetes" service created in "default" name space, as it should be. This is fixed with https://github.com/rancher/rancher-dns/pull/35 (https://github.com/rancher/rancher/issues/6190). So as port 443

[2016-10-18 02:45] alena1108 commented on #5854
@qamalbcgdv Rancher Auth is not integrated with kubernetes Authentication within the cluster (yet).

To access k8s api service from the pod today, it has to be done via its cluster ip as per http://kubernetes.io/docs/user-guide/accessing-the-cluster/#accessing-the-api-from-a-pod. K8s does authenticate the request as per http://kubernetes.io/docs/admin/authentication/, "Service Account Tokens".

Th

[2016-10-18 03:14] vincent99 commented on #6072
It seems clear we should delete the entries on disk when a catalog is removed.  But we will need to special case the ones embedded into the build (infra/rancher/community) or they won't work offline after disabling/re-enabling.  Something like checking for a `.nopurge` file in the root of the repo

[2016-10-18 03:15] vincent99 commented on #6117
The agent change for boot2docker is only in 1.2

[2016-10-18 03:15] #6117 closed

[2016-10-18 03:17] vincent99 commented on #6160
This was a backend bug that should be fixed now

[2016-10-18 03:37] prachidamle opened #6309 "Saml: Updating bad config does not take effect"
**Rancher Version:** 1.2.0-pre4-rc4

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**

1. Admin -> Access Control
2. Configure Shibboleth provider
3. Add the configuration data with some bad data as invalid cert or key etc
4. Saml auth does not work
5. Corr

[2016-10-18 05:13] lnattrass opened #6310 "Unable to use custom volume driver in docker-compose v2 (1.2.0)"
I've been trying everything to get a custom volume driver working on rancher for a while now...

Rancher Version:1.2.0-pre3
Docker Version:1.12.1
CentOS 7.1 and also CoreOS 1122.2 on local ESXi
Setup Details: single node rancher, internal database
Environment Type: Cattle

**Steps to Reproduce:**
Create a volume in rancher with a custom driver:

[code]

**Results:**

[code]

**Expected:**

[code]

[2016-10-18 07:03] vincent99 commented on #6302
@westlywright new modals..

[2016-10-18 07:57] rocketeer125 commented on #1723
@deniseschannon Slightly confused about this; the new Rancher CLI is meant to be available through the UI (see documentation), however this doesn't give me the options to manipulate the stack (Using current version 1.1.4)

- Is there more than one CLI as the one in the UI is labeled "Rancher CLI" but downloads the rancher-compose tar ball.

[2016-10-18 08:07] demarant commented on #5349
we are experiencing same issues.  Our rancher server is full of stuck processes.Check the list of processes we got below...

restarting rancher only helps temporarily. the stuck processes comes back and entire rancher is basically very slow and unusable. we are experience service disruptions for our services in<production environments because of this bug :(

I will try the solution from @schuylr

[2016-10-18 10:14] superseb opened #6311 "Cannot use image in a registry if port is specified"
**Rancher Version:**
v1.2.0-pre4-rc4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS v0.6.1 on AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Infrastructure -> Containers -> Add Container
Name: dummy
Image:

[2016-10-18 12:14] janeczku commented on #6092
Duplicate of https://github.com/rancher/rancher/issues/5775

[2016-10-18 13:59] jschilperoord commented on #3393
+1

[2016-10-18 14:00] pruthviraj08 commented on #6260
Thanks!!!!
It actually works.

[2016-10-18 14:08] akbarfreq opened #6312 "Container Stats Not showing"
**Rancher Version: 1.1.4**

**Docker Version: docker-engine-1.12.2-1.el7.centos.x86_64**

**OS : CentOS Linux release 7.2.1511 (Core)**

**Setup Details: single node rancher , internal DB**

**Environment Type: ( Cattle )**

**Steps to Reproduce:**

**Results:**

**Expected:**

Hi , After installing Docker with LVM Support, I am not getting container stats. where i am getting Host node stats.

bel

[2016-10-18 14:15] radu-stefanache opened #6313 "Custom driver UI doesn't load"
**Rancher Version:**
**_v1.2.0-pre4-rc2_**
**Docker Version:**
_**1.12.2**_
**OS and where are the hosts located? (cloud, bare metal, etc):**
_**CentOS 7.2.1511**_
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
_**single node**_

**Steps to Reproduce:**
Add custom docker-machine driver via the UI.
Download URL: `https://github.com/radu-stefanache/docker-machin

[2016-10-18 14:24] blackside commented on #4993
We are having the same issue on 1.1.3 and this is a major issue for us...

[2016-10-18 14:28] emilebosch commented on #4825
Keeps happening to me, load balancer losing connections to the web nodes. @will-chan @deniseschannon.

This is becoming a real production issue for me, and I was wondering whether you guys have any update? In such a manner that we're thinking of migrating to a different platform/networking solution.

This has been open since may, and i would say this is super critical?

[2016-10-18 14:39] deniseschannon commented on #4825
The networking infrastructure is changing in v1.2.

Since there are no reliable reproducible steps to get the networking into this state, it's a bit trickier to debug and pinpoint the exact root cause of this.

[2016-10-18 14:40] deniseschannon commented on #6313
v1.2.0-pre4-rc2 is not recommended and has lists of known issues esp around machine drivers.

If you're willing to try bleeding edge, can you try upgrading to v1.2.0-pre4-rc4 and see if you can reproduce?

[2016-10-18 14:41] emilebosch commented on #4825
@deniseschannon Thanks for replying. Er are however at least 14 people here that have the same experience i'm pretty sure one of them (including me) is willing to give you access to the servers to debug the issue. For us this is a real showstopper because i really can't hold up to my SLA's this way.

What are the options? And when is v.1.2 scheduled?

[2016-10-18 14:42] deniseschannon commented on #6312
We are moving away from cadvisor (what is used up until the 1.2.0-pre3 release) to using `docker stats`.

This has been already verified in our latest rcs for the upcoming release.
https://github.com/rancher/rancher/issues/6254

[2016-10-18 14:42] #6312 closed

[2016-10-18 14:55] radu-stefanache commented on #6313
Hi Denise,

tested with ```v1.2.0-pre4-rc4``` just a minute ago and I got the same issue.
If I specify the UI url, it does not load, if I don't specify it I get the driveroptions displayed.

The focus issue still exists.

[2016-10-18 14:57] deniseschannon commented on #6313
Thanks for testing it out with our latest RC.

[2016-10-18 15:20] sangeethah commented on #6160
This issue is not seen anymore with v1.2.0-pre4-rc3.

[2016-10-18 15:20] #6160 closed

[2016-10-18 15:23] wlan0 commented on #6105
@raveekiran Can you check and confirm that you can ping the hosts from outside the container?

[2016-10-18 15:57] arvindr21 commented on #6288
@deniseschannon I have picked up : `v1.2.0-pre4-rc2` :(

Any other (stable) version which supports ap-south-1?

[2016-10-18 16:03] deniseschannon commented on #6288
@arvindr21 There is no current stable version, but you could try out our latest development build v1.2.0-pre3. This has been through our automated tests and passes, but is not something we recommend for production.

http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/#rancher-server-tags

[2016-10-18 16:08] westlywright commented on #6302
This will have two parts, the commit referenced above and this commit in lacsso rancher/lacsso@9810208c229e20779793c88064ebac3d9fc57e71

[2016-10-18 16:17] vincent99 commented on #5916
In the arguments; https://github.com/rancher/rancher-dns/blob/master/content/etc/init.d/rancher-dns#L16

[2016-10-18 16:21] andruwa13 opened #6314 "1.2.0-pre4-rc4"
in v1.2.0-pre4-rc4 no Russian language
![rancher_2016-10-18_19-23-12](https://cloud.githubusercontent.com/assets/5846351/19486829/9be6bb68-9568-11e6-93df-e05d3e417431.png)

v1.2.0-pre3:
![rancher 2016-10-18 19-27-25](https://cloud.githubusercontent.com/assets/5846351/19486970/33c65c22-9569-11e6-9c49-20e5be526fb0.png)

[2016-10-18 16:49] galal-hussein opened #6315 "Can't disable Shibboleth authentication from the UI"
**Rancher Version:**
v1.2.0-pre4-rc4
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
- Enable Shibboleth authentication.
- Try to disable it from the Access c

[2016-10-18 17:14] soumyalj commented on #6111
Tested with Rancher version 1.2.0-pre4-rc4. Rancher server started successfully on Centos 7.2. Service/container creation was successful.

[2016-10-18 17:15] galal-hussein opened #6316 "Enabling Unsafe Sysctls within kubernetes 1.4"
**Rancher Version:**
v1.2.0-pre4-rc4
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4

In order to enable(whitelist) Unsafe sysctls and run them within pods, kubelet mus

[2016-10-18 17:16] galal-hussein commented on #6063
- [ ] Whitelist unsafe sysctls #6316

[2016-10-18 17:31] vincent99 commented on #6314
The language name field got dropped, fixed in next build.

[2016-10-18 17:39] tfiduccia commented on #6137
Version - mv1.2.0-pre4-rc4
Verified fixed

[2016-10-18 17:39] #6137 closed

[2016-10-18 17:41] tfiduccia commented on #5960
Version - 1.2.0-pre4-rc4
Verified fixed

[2016-10-18 17:41] #5960 closed

[2016-10-18 17:46] bonifaido commented on #5857
Thank you for the clarification!

[2016-10-18 17:47] tfiduccia commented on #6207
Version - v1.2.0-pre4-rc4
Verified fixed

[2016-10-18 17:47] #6207 closed

[2016-10-18 17:49] tfiduccia commented on #6251
This was the same issue as #6207 and has been fixed.  You can recheck if you like but I verified it through the UI.
Version - 1.2.0-pre4-rc4
Verified fixed

[2016-10-18 18:11] sangeethah commented on #6251
This issue is not seen anymore when testing with Version - 1.2.0-pre4-rc3.

[2016-10-18 18:11] #6251 closed

[2016-10-18 18:19] tfiduccia commented on #5391
Version - 1.2.0-pre4-rc4
Verified fixed

[2016-10-18 18:19] #5391 closed

[2016-10-18 18:20] galal-hussein opened #6317 "Apparmor doesn't work in kubernetes 1.4"
**Rancher Version:**
v1.2.0-pre4-rc4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4

Creating pod with apparmor profile enabled doesn't work:
hello-apparmor.yml

[code

[2016-10-18 18:20] galal-hussein commented on #6063
- [ ] Enable Apparmor for pods #6317

[2016-10-18 18:22] tfiduccia commented on #6262
Galal can you retest this with newest version

[2016-10-18 18:27] panoramic-machine opened #6318 "Limited Logs Returned when view logs in the GUI"
**Rancher Version:**
1.1.2
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node with External DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Browse to Infrastructure > Hosts and click the three dots next to a con

[2016-10-18 18:36] tfiduccia commented on #5696
Version - 1.2.0-pre4-rc4
Not fixed.

[2016-10-18 18:40] sangeethah commented on #5773
Tested with rancher-server version - v1.2.0-pre4-rc3
We are allowed to set catalog.url values that are larger than 1024 now.

[code]

[2016-10-18 18:40] soumyalj commented on #6195
Tested with rancher version 1.2.0-pre4-rc4. Image pull is unsuccessful when default and whitelists have the same registry

[2016-10-18 18:40] #6195 closed

[2016-10-18 18:43] tfiduccia opened #6319 "Saml: Missing English translation on shibboleth access control page"
**Rancher Version:** v1.2.0-pre4-rc4

**Results:**
![image](https://cloud.githubusercontent.com/assets/11514927/19491487/ff72e918-9527-11e6-828f-4d758003ccf6.png)

**Expected:**

[2016-10-18 18:45] westlywright commented on #6319
westlywright/ui@6385671

[2016-10-18 18:46] sangeethah commented on #6189
@StrongMonkey , I still see this issue when testing with v1.2.0-pre4-rc4.

[2016-10-18 18:57] galal-hussein commented on #6262
I tested it again, and this problem doesn't happen anymore

[2016-10-18 19:02] #6262 closed

[2016-10-18 19:11] mattdodge commented on #388
The workaround posted above (http://docs.rancher.com/rancher/v1.2/en/faqs/agents/#how-does-the-host-determine-ip-address-and-how-can-i-change-it-what-do-i-do-if-the-ip-of-my-host-has-changed-due-to-reboot << updated link) does in fact work but I, like some others, would also like to see it be a little more dynamic.

@cafeliker where did you edit that `run.sh` file? Are you running the rancher agen

[2016-10-18 19:12] tfiduccia commented on #5773
Version - v1.2.0-pre4-rc4
Verified fixed from UI

[2016-10-18 19:12] #5773 closed

[2016-10-18 19:16] galal-hussein opened #6320 "Enabling pod security policy in k8s 1.4"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4

Pod security policies have some prerequisites in order to work in kubernetes environm

[2016-10-18 19:16] galal-hussein commented on #6063
- [ ] Pod security policy #6320

[2016-10-18 19:19] galal-hussein commented on #6063
- [ ] Testing Garbage collector #6298

[2016-10-18 19:29] soumyalj commented on #5799
Tested with 1.2.0-pre4-rc4.
Image pulls were successful for the issue mentioned above:
default registry = quay.io
Whitelist registry = "quay.io, index.docker.io"

[2016-10-18 19:29] #5799 closed

[2016-10-18 19:37] tfiduccia commented on #5557
Version - v1.2.0-pre4-rc4
Verified fixed

[2016-10-18 19:37] #5557 closed

[2016-10-18 20:29] sangeethah commented on #4708
API extends supports for adding ip,ip6,isolation and net-alias.
But they are not currently used.

[2016-10-18 20:33] StrongMonkey commented on #4708
isolation is only for windows and other three seem to require to be attached to a network mode. (not fields for container) Had to verify it works before we can add them in agent.

[2016-10-18 20:39] StrongMonkey commented on #4073
@deniseschannon I think the problem happens in the registration shell script not go-agent. I can take a look to see if i can make a PR for shell script.

[2016-10-18 20:43] StrongMonkey commented on #1370
@deniseschannon  Same as https://github.com/rancher/rancher/issues/4073. I can try to make PR to script to see if that solve the probelm.

[2016-10-18 20:45] soumyalj opened #6321 "Provide better error message when service creation fails with default and whitelist registry specified"
**Rancher Version:**1.2.0-pre4-rc4

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Cattle

**Steps to Reproduce:**
1. Create a cattle environment
2. Add quay registry in rancher with valid credentia

[2016-10-18 21:07] soumyalj commented on #4969
Tested with v1.2.0-pre4-rc4. Whitelist and default registries are supported.
With a registry on amazon/quay of format 605812495337.dkr.ecr.us-east-1.amazonaws.com/xyzrepo. Image pulls were successful with the registries defined in Rancher.
As described in the summary above, we can create :
default registry => quay.io
whitelist list registry => quay.io, 605812495337.dkr.ecr.us-east-1.amazonaws.com

[2016-10-18 21:07] #4969 closed

[2016-10-18 22:01] raveekiran commented on #6105
Yes I can ping hosts outside the containers

On Tue, Oct 18, 2016 at 11:23 AM, Sidhartha Mani <notifications@github.com>
wrote:

[2016-10-18 22:10] aemneina commented on #6260
excellent, closing issue.

[2016-10-18 22:10] #6260 closed

[2016-10-18 22:32] wlan0 commented on #5751
This issue is a regression caused by the introduction of a rancher label containing `: (semi-colon)`. Rancher started adding a label to denote the agent version on the host - `"io.rancher.host.agent_image": "rancher/agent:v1.1.0-rc2"`

This label has the `:`, which is not an allowed value in kubernetes. Whenever we add a hostlabel, this label also gets picked up, and an error. Therefore, it also p

[2016-10-18 22:40] galal-hussein opened #6322 "Saml: error is not displayed when adding user that has no access on the server"
**Rancher version:** master image

**Steps to produce:**

- Enable SAML authentication
- Authenticate with a user that exists on the SAML server
- open "Manage Environments"
- Edit environment
- Add new user with any name
- Click save

**Results**
User gets added

rancher server logs
[code]
**Expected**
The Rancher server should display an error showing that the user doesn't exist on the server

[2016-10-18 22:48] galal-hussein opened #6323 "Saml: Authenticating with a valid saml user with no access to Rancher server doesn't show any error messages"
**Rancher Version:**
master image

**Steps to Reproduce:**

- Enable SAML authentication
- log out and try to authenticate with a valid user on the saml server

**Results:**

The user doens't get access to the server, but doesn't show any error message, it just reload the authentication page again.

rancher server logs:
[code]
**Expected:**
An error message appears showing that the user isn't regi

[2016-10-18 23:03] wlan0 commented on #6181
This is a kubelet issue - https://github.com/kubernetes/kubernetes/issues/32728

the embedded cadvisor should be able to work with cgroups properly, and will be fixed in the future versions of kubelet.

Until then, I have verified that running this command on the host fixes the issue

[code]

[2016-10-18 23:03] soumyalj commented on #5987
Tested with Rancher version v1.2.0-pre4-rc4 and rancher cli version v0.3.0-rc3. Rancher compose attributes can be included in docker compose files and stacks/services can be created successfully. Example below includes rancher compose attributes such as scale, load_balancer_config, health_check in the docker-compose.yml file
docker-compose.yml
[code]

[2016-10-18 23:04] #5987 closed

[2016-10-18 23:06] mrajashree commented on #5352
Unable to reproduce this running the following command in an ubuntu VM: `docker run -d --restart=always -p 8080:8080 rancher/server:v1.2.0-pre4-rc3`. This delay seems to be there in `docker for Mac`, but is not related to the catalog-service code

[2016-10-18 23:06] mrajashree commented on #4903
Unable to reproduce this running the following command in an ubuntu VM: `docker run -d --restart=always -p 8080:8080 rancher/server:v1.2.0-pre4-rc3`. This delay seems to be there in `docker for Mac`, but not related to the catalog-service code

[2016-10-18 23:07] sangeethah commented on #5561
Tested with v1.2.0-pre4-rc3.

1) Start service with scale=4
2) upgrade the service with batchSize=1
3) Once upgraded, rollback. Make sure that:

the upgraded instance that is being stopped, has the same service index as the old one (the one you are rolling back to)

[2016-10-18 23:07] #5561 closed

[2016-10-18 23:10] schuylr opened #6324 "Ports isn't up to date when containers go unhealthy in service"
**Rancher Version:** 1.2.0-pre3

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS EC2

**Setup Details:** Single Instance External DB

**Environment Type:** Cattle

**Steps to Reproduce:**

1. Start a service with a health check
2. Kill the endpoint in the container, causing the service to eliminate the container as unhealthy
3. Ports still show the

[2016-10-18 23:35] wlan0 commented on #6105
@raveekiran We are looking into this.

[2016-10-18 23:59] soumyalj opened #6325 "Container IP not displayed on the container info/stats page"
**Rancher Version:**v1.2.0-pre4-rc4

**Docker Version:**1.12.2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single Node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Cattle

**Steps to Reproduce:**
1. Create a Cattle environment
2. Create a service with one or more containers. Click on the container and the container info page is displayed. The con

[2016-10-19 00:32] alena1108 opened #6326 "Containers using networkFrom other container are missing from metadata"
Steps to reproduce:

1) Create service foo with sidekick bar using networkFrom foo
2) list rancher-metadata/latest/containers

Bug: bar container is missing from the list

That will impact dns resolution once it is moved to a microservice, as the microservice relies on container presence in the metadata.

[2016-10-19 00:33] wlan0 commented on #6105
This needs to be fixed before we can verify that hostnames can be pinged - https://github.com/rancher/rancher/issues/6326

[2016-10-19 00:33] imikushin commented on #4533
I tried to reproduce this on latest Rancher (v1.2.0-pre4-rc4) and Kubernetes `v1.4-rancher1` (https://github.com/rancher/infra-catalog/tree/qa/infra-templates/k8s):

[code]
[code]

`kubectl describe pods alpine-hostipc-0` doesn't show any problems.

@galal-hussein Can you test?

[2016-10-19 00:55] raveekiran commented on #6105
Thanks!

On Tue, Oct 18, 2016 at 7:35 PM, Sidhartha Mani <notifications@github.com>
wrote:

[2016-10-19 01:36] wlan0 commented on #5897
@vincent99 I created a new script - https://gist.githubusercontent.com/wlan0/10ebc0997e71ac436830ed1635745553/raw/9f803f08271d0f7bb3b11e9f219467574b2d27e2/gistfile1.txt

[2016-10-19 04:16] soumyalj commented on #5849
Tested with 1.2.0-pre4-rc4 following the steps above. Did not see the network agent stuck in starting state.

[2016-10-19 04:16] #5849 closed

[2016-10-19 04:20] arvindr21 commented on #6288
Thanks @deniseschannon I am still exploring Rancher if it fits our needs. I will work with  v1.2.0-pre3 for that.

[2016-10-19 07:41] igorpejic commented on #52
+3

[2016-10-19 10:28] omegarus opened #6327 "Wrong POD ip address."
Rancher Version: 1.1.4
Docker Version: 1.10.2
OS and where are the hosts located? (cloud, bare metal, etc): VMware Ubuntu 14.04.4 LTS
Setup Details: Single node rancher
Environment Type: Kubernetes with 2 hosts/nodes
Steps to Reproduce:
Deploy k8s Example Wordpress from community-catalog.
Results:
After deploy i got two POD's in Kubernetes with Pod ip on 172.17.0.0 subnet.
One mysql on node1 and w

[2016-10-19 11:37] jdel commented on #6241
Hi Josh, sorry for the delay. I had the issue with the same catalog entry on two different Rancher setups (staging and production). I will get back to you soon regarding the docker compose file.

[2016-10-19 11:49] kvaes opened #6328 "Rancher & WAF incompatibility : OWASP rule missing/empty accept header"
**Rancher Version:** 1.1.4

When implementing the Azure Application Gateway with WAF functionality, the hosts go into "reconnecting" state. When debugging the log files, the following message is shown ;

[code]

The error occurs on many urls, so the subscribe one isn't the only one affected... All however have the link towards => /owasp_crs/base_rules/modsecurity_crs_21_protocol_anomalies.conf

A

[2016-10-19 12:56] wstudios2009 commented on #6311
same issue for me even when using the default registry port

[2016-10-19 13:25] superseb commented on #6311
True, adjusted the title to reflect this. Any port specification triggers the error.

[2016-10-19 14:39] kraucer opened #6329 "Rancher HA - Failed to open project management: Can not create a stack, check API key Rancher"
**Rancher Version:**
v1.2.0-pre3
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL 7.3
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher in testing on single node, with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
1) http://docs.rancher.com/rancher/v1.2/

[2016-10-19 15:14] Kamaradeivanov opened #6330 "[cli] Add/change host label"
According to the forum ticket (https://forums.rancher.com/t/add-change-host-label-via-rancher-cli/4256), I create an issue for the following feature.

I would like to add or update a label on a existing host. Actually I can only add labels during the host creation.

[2016-10-19 15:42] vincent99 commented on #6328
That's a pretty dumb rule... Accept is optional and there's no reason a client needs to send it when it knows the API defaults to JSON.

Also it's meaningless for an upgrade request, and the headers sent when creating a  WebSocket are entirely up to the browser so there's nothing that can be done to make them send it.

[2016-10-19 15:59] Nefelim4ag opened #6331 "Can't deploy docker-compose.yml on swarm cluster"
**Rancher Version:** - 1.1.4
**Docker Version:** - 1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):** Debian 8, KVM VM
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** HA rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Swarm
**Steps to Reproduce:**
1. Make swarm cluster
2. Try add project with this docker-compose.yml:
version:

[2016-10-19 16:48] galal-hussein commented on #4533
@imikushin The problem doesn't appear anymore on k8s 1.4

[2016-10-19 16:48] #4533 closed

[2016-10-19 17:01] sangeethah opened #6332 "Set maxRancherVersion and upgradeFrom for existing 1.2 /1.3 entries for K8s templates in infra."
Tested with Rancher Version: v1.2.0-pre4-rc3 and
K8s 1.4 version from - https://github.com/rancher/infra-catalog and branch "qa"

Fresh Install:
We should be restricting to showing only k8s 1.4 for fresh installs.

Upgrade from 1.1.x:
Support upgrade from 1.2 - > 1.4 ( There should be no need to support upgrades to 1.3)

Upgrade from 1.2.0-pre releases (before pre4):
Support upgrade from 1.3 - > 1

[2016-10-19 17:12] alena1108 commented on #6326
https://github.com/rancher/rancher-dns/pull/35/commits/4644b757f8dee067555f599e7b49ecb336588f5b

[2016-10-19 17:22] prachidamle commented on #5265
This feature is merged to master. Github and Saml support by the new auth framework.

[2016-10-19 17:28] Latnok commented on #5982
same error

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`Disabled`|
|Orchestration|`Cattle`|
|Route|`host.containers`|

[2016-10-19 17:35] galal-hussein opened #6333 "Saml: authentication for members of an added group doesn't work"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Steps to Reproduce:**
- Enable SAML authentication
- Edit the default environment
- Add a group to the accounts, for example:
- Logout and try to authent

[2016-10-19 17:38] prachidamle commented on #6322
This is not possible to fix due limitation of SAML. There is no way to do a lookup on the SAML server, it only supports authenticating a given set of credentials.

So there is no way to verify what user enters is a valid user/group or not. That is why we just add what the user enters.

[2016-10-19 17:57] will-chan commented on #5673
Are we caching something in Rancher?

[2016-10-19 18:00] ecliptik commented on #5994
@vincent99 stack containers or the network-agent container needs a restart? We recently updated our DHCP options, and while the Rancher hosts (Running RancherOS v0.4.5) picked up the new ones from DHCP, the network-agent containers did not, and therefore all stack containers did not.

Restarting the network-agent container resulted in the RancherOS host going into a disconnected state (which is ex

[2016-10-19 18:15] cmosetick opened #6334 "Improve DATABASECHANGELOGLOCK behavior/logging"
**Rancher Version:**
1.1.3
**Docker Version:**
1.12, with storage driver ZFS
**OS and where are the hosts located?:**
Ubuntu 16.04, EC2

**Setup Details:**
single node rancher, with mysql database on shared host volume

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Restart underlying VM host after a fresh pull of rancher/server

**Results:**
- Rancher server

[2016-10-19 18:16] tfiduccia commented on #5696
Version - master 10/19
Verified fixed

[2016-10-19 18:16] #5696 closed

[2016-10-19 18:43] kvaes commented on #6328
Despite the view that it's a dumb rule, be aware that this is the way certain WAFs will take a look at the traffic.

[2016-10-19 18:43] cloudnautique commented on #4979
Verified again with Rancher v1.2.0-pre3 and can not reproduce.

Steps:
1. ) Create MySQL:
`docker run -it -e MYSQL_DATABASE=cattle -e MYSQL_USER=user1%cattle -e MYSQL_PASSWORD=password -e MYSQL_ROOT_PASSWORD=password mysql`

2.) Run Rancher Server:
`docker run -it -e CATTLE_DB_CATTLE_USERNAME=user1%cattle -e CATTLE_DB_CATTLE_PASSWORD=password --link mad_elion:mysql rancher/server:v1.2.0-pre3`

Rec

[2016-10-19 18:51] cloudnautique commented on #4979
If we can get more information from if this happens again:
1. MySQL version
2. Shell the docker command is run from
3. Rancher version

that would be helpful.

[2016-10-19 18:52] tfiduccia opened #6335 "Clicking refresh causes icon to change to warning"
**Rancher Version:** v1.2.0-pre4-rc4

**Steps to Reproduce:**
1.  Go to Catalog
2.  CLick on the refresh button

**Results:** icon is changing to warning icon
![image](https://cloud.githubusercontent.com/assets/11514927/19532872/6103ed1a-95f2-11e6-9ca0-60d1c7066dbc.png)

**Expected:**  Should refresh and change back to refresh icon
![image](https://cloud.githubusercontent.com/assets/11514927/19532

[2016-10-19 18:55] tfiduccia opened #6336 "Saml: There is a section 1 and 3 but no section 2"
**Rancher Version:** v1.2.0-pre4-rc4

**Steps to Reproduce:**
1.  Go to access control
2.  Select Sibboleth

**Results:** There is a section 1 and 3 but no 2
![image](https://cloud.githubusercontent.com/assets/11514927/19533000/d4f2881c-95f2-11e6-85df-b0acbdf75e25.png)

**Expected:** Change 3 to 2

[2016-10-19 19:11] prachidamle commented on #6323
Reassigning to @westlywright to add the UI changes to display proper error message

[2016-10-19 19:15] tfiduccia commented on #6313
This is two bugs.  I'm going to enter a separate bug about the typing being redirected.  The UI Url is being passed and is in the API properly, so probably not a UI bug.

[2016-10-19 19:17] tfiduccia opened #6337 "Can't type into Add machine driver fields"
**Rancher Version:** v1.2.0-pre4-rc4

**Steps to Reproduce:**
1.  Go to machine drivers
2. Click on Add Machine Driver
3.  Try to type into the Custom UI URL or Checksum fields

**Results:** After a couple of character, the focus redirects back to the Download URL field.

**Expected:**  Should be able to type into the Custom UI URL and Checksum fields

[2016-10-19 19:38] tfiduccia commented on #6314
Version - master 10/19
Verified fixed

[2016-10-19 19:38] #6314 closed

[2016-10-19 19:59] soumyalj commented on #6244
Tested with 1.2.0-pre4-rc4 with https://github.com/rancher/infra-catalog (qa branch), Kubernetes 1.4. The ingress described above is functional and targets are reached successfully. Here is an example:

[code]

[2016-10-19 19:59] #6244 closed

[2016-10-19 20:06] felixbuenemann commented on #5595
The deis registry proxy can be disabled if docker is run with `--insecure-registry=10.0.0.0/8` (or whatever is used for the k8s service IP range). See bacongobbler's comment on deis/registry#64 for details on how to remove the registry proxy.

[2016-10-19 20:22] deniseschannon opened #6338 "Kubelet failing on RancherOS v0.7.0-rc7"
**Rancher Version:**
v1.2.0-pre3

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher OS v0.7.0-rc7

Kubernetes v1.3.0-rancher4 (folder 10)

I had 3 hosts. 1 of the kubelets didn't start correctly. It looks similar to a previous error which was share-mnt related.

Logs show:

[code]

[2016-10-19 20:28] alena1108 commented on #6292
@kaos in refactored LB, you can assign a name for your backend ("backendName" flag on the API). We can't automatically derive it from the service/stack name as potentially the backend can consist of instances of multiple services.

[2016-10-19 20:49] derekwaynecarr commented on #6181
This is a duplicate of #32728

[2016-10-19 20:54] sangeethah commented on #5826
Tested with rancher-server version - v1.2.0-pre4-rc3

Created a service with scale 3 with health check enabled .
Once all the containers of the service are healthy , upgrade the service with start first set to "true" and health_check_url to a non existent url so that the upgraded containers that get started are stuck in "Initializing" state.

At this state we don't see the the older containers bei

[2016-10-19 20:57] westlywright commented on #6214
@tfiduccia I've added a new modal to containers for the stop action. You should be able to set a stop timer or leave empty for default of 10 seconds. Additionally you can by pass the stop container modal with the alt action (e.g. deactivate, delete, etc).

[2016-10-19 20:58] galal-hussein opened #6339 "Saml: Enabling any option from the access control page creates an error"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Cloud - Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
- Enable SAML authentication
- Go to access control page
- Ena

[2016-10-19 20:59] #5826 closed

[2016-10-19 21:01] prachidamle commented on #6333
This is what happens when admin adds a "group" in the search box while adding an environment:
- There is no lookup supported by SAML.
- So server just returns an identity with externalId = <search string in the box> and
 externalIdType = "shibboleth_user"
- But this search string is a group id as per the admin, and so the externalIdType  should be set to "shibboleth_group" for this identity to get

[2016-10-19 21:02] alena1108 commented on #6332
@deniseschannon is working on it

[2016-10-19 21:03] sangeethah opened #6340 "During upgrade, when the first batch is stuck in "Initializing" ,we still proceed to upgrading the next batch."
rancher-server version - v1.2.0-pre4-rc3

Steps to reproduce the problem:

Created a service with scale 3 with health check enabled .
Once all the containers of the service are healthy , upgrade the service with start first set to "true" and health_check_url to a non existent url so that the upgraded containers that get started are stuck in "Initializing" state.

At this state we don't see the the

[2016-10-19 21:04] sangeethah commented on #5826
There is 1 issue relating to attempting upgrades for batches even before the upgrade of the previous batch is done fully which is tracked in  https://github.com/rancher/rancher/issues/6340

[2016-10-19 21:05] tfiduccia commented on #6296
Verified this is broken in master 10-19

[2016-10-19 21:15] tfiduccia commented on #6319
Version - master 10-19
Verified fixed

[2016-10-19 21:15] #6319 closed

[2016-10-19 21:16] tfiduccia commented on #6315
Hussein - this is fixed in master build

[2016-10-19 21:33] tfiduccia commented on #6240
Version -  master 10/19
If a modal is bigger then the background page, it still doesn't have a scrollbar to get to bottom.  Easiest way to see this is to have a single stack with 1 service and lb on an environment and edit the lb service.

[2016-10-19 21:37] tfiduccia opened #6341 "On host page, labels don't show up until refresh"
**Rancher Version:** master 10/19

**Steps to Reproduce:**
1.  go to host page
2.  add a host
3.  edit the host and add a label

**Results:** The label does not show up on host until you refresh the browser

**Expected:**  Label should show up after saving the edit

[2016-10-19 21:38] tfiduccia commented on #5641
Version - master 10/19
Verified fixed

[2016-10-19 21:38] #5641 closed

[2016-10-19 21:40] tfiduccia commented on #5650
Version - master 10/19
Verified fixed

[2016-10-19 21:40] #5650 closed

[2016-10-19 21:42] rezonant opened #6342 "Chrome/Firefox: Copy/Paste on Shell doesn't work when page is loaded with higher zoom levels"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu / Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher host + 2 nodes, internal DB, no HA

**Browsers tested:**
Google Chrome 54.0.2840.59
Mozilla Firefox 47.0.1

**Steps to Reproduce:**
1. In Chrome, increase zoom to at lea

[2016-10-19 21:43] tfiduccia commented on #5882
Version - master 10/19
Verified fixed

[2016-10-19 21:43] #5882 closed

[2016-10-19 21:47] tfiduccia opened #6343 "Going to empty stack first then trying to change in graph view, causing errors"
**Rancher Version:** master 10/19

**Steps to Reproduce:**
1.  Create a stack called test1 and add a service and loadbalancer to it
2.  Create a stack called test2 and leave it empty
3.  Go to graph view for test2 stack
4.  Using drop-down, switch to test1 stack

**Results:** Graph view is empty (even thou it should show two services) and dev tool is throwing error - component.js:162 Uncaught Type

[2016-10-19 21:48] tfiduccia commented on #6178
Version - master 10/19
Verified fixed

[2016-10-19 21:48] #6178 closed

[2016-10-19 21:49] tfiduccia commented on #6302
Version - master 10/19
Verified fixed

[2016-10-19 21:49] #6302 closed

[2016-10-19 21:53] tfiduccia commented on #6186
Version - master 10/19
Verified fixed

[2016-10-19 21:53] #6186 closed

[2016-10-19 21:58] tfiduccia commented on #6184
Version - master 10/19
Verified fixed

[2016-10-19 21:58] #6184 closed

[2016-10-19 21:59] tfiduccia commented on #6279
Version - master 10/19
Verified fixed

[2016-10-19 21:59] #6279 closed

[2016-10-19 22:00] vincent99 commented on #6313
Hosting the JS on GitHub doesn't work (and didn't in 1.1 either) because they send `Content-Type: text/plain` and `X-Content-Type-Options:nosniff`.  This makes modern browsers refuse to execute the response because it says it's text, not code.

[code]

If you like random 3rd party services, you can replace `raw.githubusercontent.com` with `cdn.rawgit.com` as they send the Content-Type the browser

[2016-10-19 22:18] prachidamle commented on #6339
The root cause of this issue is same as: https://github.com/rancher/rancher/issues/6309
It is solved by the same fix.

[2016-10-19 22:18] rezonant opened #6344 "Feature Request: Support kubernetes.io/ingress.class annotation"
**Rancher Version:** 1.1.4
**Reproduction**
1. add `kubernetes.io/ingress-class=foobar` annotation to a k8s ingress resource. _Result_: Rancher's k8s integration sets up a rancher LB for the ingress. _Expected_: Rancher's k8s integration should ignore it.
2. stop service `rancher-ingress-controller` from rancher UI
3. click Catalog menu item
_Result_: Rancher shows the Setting Up Kubernetes screen

[2016-10-19 22:19] StrongMonkey commented on #4639
I don't see the problem happening with rancher/server:v1.2.0-pre4-rc4. After adding a host, remove that one, I am able to re-add it again. @deniseschannon

[2016-10-19 22:19] #4639 closed

[2016-10-19 22:37] tfiduccia opened #6345 "UI issue with new stop time in container's stop modal"
**Rancher Version:** master 10/19

**Results:**

- [x] Stop modal is not 50% like the delete modal

- [x] Every single line of text is different size and color.  Can we get this down to maybe 2, instead of 5.

- [x] The input field is huge.  Please correct size
![image](https://cloud.githubusercontent.com/assets/11514927/19539897/d885abe4-9610-11e6-9d81-dd57a610310d.png)

- [x] Fill in the default

[2016-10-19 22:38] tfiduccia commented on #6212
Version - Master 10/19
Verified fixed

[2016-10-19 22:38] #6212 closed

[2016-10-19 22:39] mrajashree commented on #6072
@vincent99 so should I start by adding this `.nopurge` file in the embedded catalogs? Also we're sure that the users don't need to see the cached versions of deleted catalogs that aren't embedded if they add them back in non internet mode right?

[2016-10-19 22:43] alena1108 commented on #6113
@MattMencel @leodotcloud there are 2 ip address spaces that are managed separately:

1) POD cidr (10.42.0.0/16 by default), managed on Rancher side,can be changed using docker.network.subnet.cidr)
2) K8s service cluster ip cidr, (10.43.0.0/16 by default), managed on Kubernetes side

changing pod subnet in Rancher, is not going affect Service cluster ip subnet of k8s.

Currently cluster ip range fo

[2016-10-19 22:50] alena1108 commented on #6113
@leodotcloud we should debug this error:

can you check if CNI plugin relies on 10.42.x.x address format? The container deployment shouldn't fail. It should start with the address of 10.42.x.x space, or whatever address configured on the subnet.

[2016-10-19 23:07] leodotcloud commented on #6113
So the step that I missed earlier was to create a new environment to be able to use the new cidr. This time things worked as expected.

Here is the screenshot with the new cidr range(`10.99.0.0/16`)
![screen shot 2016-10-19 at 4 02 19 pm]
(https://cloud.githubusercontent.com/assets/19392926/19540622/96611aa0-9615-11e6-8c0e-4300fd0f5e32.png)

Created a new environment, launched the wordpress app fr

[2016-10-19 23:16] vincent99 commented on #6341
https://github.com/rancher/rancher/issues/6225

[2016-10-19 23:16] #6341 closed

[2016-10-19 23:23] vincent99 commented on #4322
This was changed to double quotes at some point in the past..

[2016-10-19 23:26] tfiduccia commented on #6335
Version - master 10/19
Verified fixed

[2016-10-19 23:26] #6335 closed

[2016-10-19 23:33] tfiduccia commented on #6214
Not sure how useful this will be:
1.  The input field is in the container's stop modal.  So to get this working you have to go to each specific container and click stop then enter the amount of seconds, then stop the container.  The information is not saved and must be done every time you stop.
2.  Most containers are created by a service.  Since the service is not stopped, the container will not

[2016-10-19 23:39] vincent99 commented on #6053
Various changes are in 1.2 to do less work to keep track of changes, spend less time rendering, load less data from the server, etc.  Post-1.2.0 will do paging to render less, as that is now the bulk of the time on the client side.

[2016-10-19 23:41] #5955 closed

[2016-10-19 23:49] tfiduccia commented on #6053
Version - master 10/19
Verified fixed
Still a few refresh issues need to be resolved, those will be entered separately.  Reopen if you are still having issues in next release.

[2016-10-19 23:49] #6053 closed

[2016-10-20 00:10] vincent99 commented on #5908
I think this was fixed by the new host agent, and the UI now shows `n/a` for containers where stats aren't available.

[2016-10-20 00:12] vincent99 commented on #5852
@will-chan I think they're actually not being removed

[2016-10-20 00:26] StrongMonkey commented on #6153
@tonythian please make sure to remove rancher/agent and rancher-agent-state. And then do a `rm -f /var/lib/rancher/*` to remove all the state files in the host. Then you will be able to re-register the host.

[2016-10-20 00:26] #6153 closed

[2016-10-20 00:45] sangeethah commented on #4903
Tested with rancher server version - v1.2.0-pre4-rc4
In the rancher-server setup, I have blocked access to github by adding the following iptables rules:

[code]

Following are the issues I am seeing:

1.  After fresh install , access catalog from UI gives me the following error:

<img width="1669" alt="screen shot 2016-10-19 at 4 34 00 pm" src="https://cloud.githubusercontent.com/assets/4266958/1

[2016-10-20 00:51] sangeethah commented on #5352
Tested with rancher server version - v1.2.0-pre4-rc4

In the rancher-server setup, I have blocked access to github by adding the following iptables rules:

[code]

Disable and Enable the catalog.
Once the catalog is enabled , user is presented with error message "There are no compatible templates".
There is no " 503" error message presented to the user.
This message "There are no compatible templa

[2016-10-20 01:00] sangeethah commented on #6268
Tested with rancher-server version - v1.2.0-pre4-rc4
When volume_template is created with no selecting external/per-contaienr option , API throws following error - "Scope is not set on the volume. Should either be per container, external or per stack"

[2016-10-20 01:00] #6268 closed

[2016-10-20 01:02] will-chan commented on #6214
I agree with you Tani so please close if this works.

[2016-10-20 02:02] soumyalj commented on #4979
Tested with rancher version v1.2.0-rc4-pre4. Followed the steps above. Used username soumya%cattle for the external mysql database. I was able to run the rancher server successfully. Service/container creation was fine too on a one host setup.
MySQL info:
[code]

[2016-10-20 02:02] #4979 closed

[2016-10-20 03:36] vincent99 commented on #6214
Doing anything beyond simple container action is going to be cattle and possibly host-api change... The timeout is not an actual property of a Docker container.

[2016-10-20 05:21] joshwget commented on #6280
Some fields are not covered by rancher/rancher-compose#206.

Unknown what key Docker Compose will use for these attributes:
- `cpuset-mems`
- `kernel-memory`
- `sysctl`

Fields dependent on #5715:
- `ip`?
- `ip6`?
- `net-alias`

[2016-10-20 08:25] radu-stefanache commented on #6313
Hello,

the raw.github was added as a pointer to the code I am using. When I am adding the driver I am hosting the content (component.js) on a local apache host.

Meanwhile I've tried the cdn.rawgit.com and the issue is the same, component.js doesn't get loaded.

[2016-10-20 09:22] Austriker commented on #1269
+1

[2016-10-20 10:22] cybertan opened #6347 "[UI]"
**Rancher Version:**
v1.1.4
**Docker Version:**
1.10.3, build e03ddb8/1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
 bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
1: git clone https://github.com/rancher/ui.git
2: git c

[2016-10-20 10:40] galindro commented on #6028
Any return?

[2016-10-20 12:51] eerootsus opened #6348 "HAProxy loadbalancer support for regular expression path"
**Rancher Version: 1.1.4**
**Environment Type: Cattle**

Would love a possibility to define regular expression for HAProxy path rules. Currently all path definitions are set up as `path_beg` rules.

I suspect this happens here: `cattle/resources/content/config-content/haproxy/content/etc/haproxy/haproxy.cfg.ftl`

If so it seems quite an easy change. Either handle everything as a regular expression

[2016-10-20 13:23] Dids commented on #53
Using `0.0.0.0:port:port` doesn't work in docker-compose.yml, but works when done from the web UI. Why?

[2016-10-20 13:47] Latnok commented on #3393
+10

[2016-10-20 14:31] kaos commented on #6292
@alena1108 Excellent. :)
Will it also be available to set this from the `rancher-compose` file?

[2016-10-20 14:58] sangeethah commented on #5352
Reopening this issue to track the above seen behavior which is one of the issues tracked in #4903

[2016-10-20 15:06] sangeethah opened #6349 "API extends supports for adding ip,ip6,isolation and net-alias. But they are not currently set in containers."
Rancher server version - v1.2.0-pre4-rc4

Create Service API extends supports for creating serviced with ip,ip6,isolation and net-alias.
But containers are not getting deployed with this option.

[2016-10-20 15:08] sangeethah commented on #4708
Logged https://github.com/rancher/rancher/issues/6349 to track missing support for ip,ip6,isolation and net-alias.

[2016-10-20 16:19] sangeethah commented on #6158
Rancher-server version - v1.2.0-pre4-rc3
Rancher NFS version - rancher/storage-nfs :v0.0.2

logs from nfs-driver

[code]

[2016-10-20 16:49] alena1108 commented on #5775
@cjellick I've fixed the issue that can potentially can cause service to not reconcile on instance.stop (there is a separate issue filed just for that).

[2016-10-20 16:58] galal-hussein commented on #6315
Tested and worked, thanks!

[2016-10-20 16:58] #6315 closed

[2016-10-20 17:00] westlywright commented on #6323
UI will handle this correctly westlywright/ui@939438f is merged in to master

[2016-10-20 17:04] galal-hussein commented on #6248
The error doesn't appear anymore, tested on master build (20 Oct)

[2016-10-20 17:04] #6248 closed

[2016-10-20 17:06] tfiduccia commented on #4522
Version - v1.2.0-pre4-rc3
Verified fixed

[2016-10-20 17:06] #4522 closed

[2016-10-20 17:27] tfiduccia commented on #5908
Version - master 10/20
Verified fixed

[2016-10-20 17:27] #5908 closed

[2016-10-20 17:28] tfiduccia commented on #6131
Version - master 10/20
Verified fixed

[2016-10-20 17:28] #6131 closed

[2016-10-20 17:39] #298 closed

[2016-10-20 17:41] #5228 closed

[2016-10-20 17:45] deniseschannon commented on #6214
The actual fix should be the ability define a timeout at the service level since this is how we start/manage all containers.

Currently, we've added a workaround so that you could individually set this for each container, which will be in 1.2.0.

[2016-10-20 17:53] sangeethah opened #6350 "Support for accepting volume scope when creating service."
Rancher Version:v1.2.0-pre4-rc4

Currently we do not have the ability in UI to support for accepting volume scope when creating services  which is now supported - https://github.com/rancher/rancher/issues/5714

[2016-10-20 18:08] prachidamle commented on #5141
This is a missing feature - "accessMode" is not supported for OpenLDAP.

[2016-10-20 18:13] ymc-dabe commented on #6329
I can confirm this issue for:
- Upgrading (a fresh) 1.1.4 to 1.2.0-pre3
- Installing 1.2.0-pre3 from scratch in ha-mode

[2016-10-20 18:15] tfiduccia opened #6351 "Azure machine driver is not working"
**Rancher Version:** master 10/20

**Steps to Reproduce:**
1.  Try to setup Azure host

**Results:**
Error in driver during machine creation: network.SecurityGroupsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Long running operation terminated with status 'Failed': Code="SecurityRuleParameterMissing" Message="Required security rule parameter DestinationPortRange

[2016-10-20 18:29] sangeethah opened #6352 "Validate Azure volume plugin"

[2016-10-20 18:29] sangeethah opened #6353 "Validate Quobyte volume plugin for K8s 1.4."

[2016-10-20 18:31] sangeethah commented on #6063
Issues for validating Azure , Quobyte volume plugins tracked in - https://github.com/rancher/rancher/issues/6352 and https://github.com/rancher/rancher/issues/6353

[2016-10-20 18:32] #6063 closed

[2016-10-20 18:32] LLParse commented on #6114
Did not reproduce for me:
1. Added 3 GCE hosts with Docker 1.12.1 and created swarm using latest swarmkit template
2. Launched a service with scale=5
3. Terminated a host and observed service reconciliation
4. Added a new host, observed it join the swarm
5. Terminated another host, observed service reconciliation
6. Added another host, observed it join the swarm

Attached logs do not indicate any

[2016-10-20 19:06] prachidamle commented on #5141
Moving out after discussing with @will-chan

[2016-10-20 19:42] vpsouza commented on #5788
Same issue to me. But in my case, the problem occurs when host is restarted and booth containers (storagepoll and driver) does not start.

[2016-10-20 19:43] tfiduccia commented on #6240
Version - master 10/20
Verified fixed

[2016-10-20 19:43] #6240 closed

[2016-10-20 19:44] tfiduccia commented on #6225
Version - master 10/20
Verified fixed

[2016-10-20 19:44] #6225 closed

[2016-10-20 19:45] tfiduccia commented on #6325
Version - master 10/20
Verified fixed

[2016-10-20 19:45] #6325 closed

[2016-10-20 20:30] sangeethah commented on #4708
Tested with rancher-version - v1.2.0-pre4-rc4
Validated that the following new fields can be set in launch_config when service is created and we are able to see these values being set in containers using docker inspect:
 "cpuShares":
 "blkioWeight":
"blkioDeviceOptions":
 "cpuPeriod":
 "cpuQuota":
"cpuSet":
 "cpuSetMems":
"dnsSearch":
 "dnsOpt":
 "groupAdd":
"kernelMemory":
"memoryReservation":
 "

[2016-10-20 20:37] sangeethah commented on #6295
@LLParse , Assigning this issue to you for now.

Reassign this issue back to me when the updated K8s templates is made available in qa branch of infra catalog.

[2016-10-20 20:50] galal-hussein commented on #6352
Here are my steps:

- Register an azure virtual machine with kubernetes cluster on Rancher.
- Attach a new disk to the azure virtual machine of size 1GB.
- Label the azure virtual machine on kubernetes with label (provider=azure), to be used later with node selector to make sure the pod will get created on the azure machine.
[code]
- Run the pod, which should mount the disk on azure machine:
[code

[2016-10-20 20:51] galal-hussein commented on #6352
@wlan0 Can you please take a look ^

[2016-10-20 21:11] bacongobbler commented on #5595
Hey @galal-hussein and @robeastham! In the future please feel free to post any issues with Deis at https://github.com/deis/workflow so we're not bothering the Rancher team to debug our issues. Hehe :smile:

@felixbuenemann is correct that this is indeed a symptom of deis/registry#64 and at this time it is an issue related to kubernetes manifests that request a hostport are not fulfilled on operati

[2016-10-20 21:16] wlan0 commented on #5595
Thanks @bacongobbler for painting the complete picture on the issue!

[2016-10-20 21:19] sangeethah commented on #6281
Tested with v1.2.0-pre4-rc4.

Exported yaml is missing the following fields that is set for a service using launch_config option -  blkioDeviceOptions

- [ ] --device-read-bps=[]    Limit read rate (bytes per second) from a device
- [ ] --device-read-iops=[]    Limit read rate (IO per second) from a device
- [ ] --device-write-bps=[]    Limit write rate (bytes per second) to a device
- [ ] --devic

[2016-10-20 21:45] tfiduccia commented on #6134
Version - master 10/20
Verified fixed

[2016-10-20 21:45] #6134 closed

[2016-10-20 21:50] tfiduccia commented on #6127
Ok, I lied, this is not fixed.
![image](https://cloud.githubusercontent.com/assets/11514927/19579257/7cac3026-96d4-11e6-8dbf-86fba25490c4.png)

[2016-10-20 21:51] tfiduccia commented on #6135
Version - master 10/20
Verified fixed

[2016-10-20 21:51] #6135 closed

[2016-10-20 22:04] sbrinkerhoff commented on #6111
No love.

[code]

[2016-10-20 22:51] sylvesterjakubowski opened #6354 "Rancher doesn't seem to obey Dockerfile HEALTHCHECK"
**Rancher Version:**
`Latest.`
**Docker Version:**
`Docker version 1.12.1, build 23cf638`
**OS and where are the hosts located? (cloud, bare metal, etc):**
`Centos 7, Vmware.`
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
`Single node rancher.`
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
`Cattle`
**Steps to Reproduce:**
Create a container with a doc

[2016-10-20 23:15] sangeethah commented on #6281
@joshwget , sample yml file generated for the new fields:

[code]

[2016-10-20 23:16] sangeethah commented on #6281
2 fields yet to be tested are cgroup and cgroup-parent fields.

[2016-10-20 23:16] tfiduccia commented on #2768
version - master 10/20
Verified fixed

[2016-10-20 23:16] #2768 closed

[2016-10-20 23:47] StrongMonkey commented on #6281
can verify we have all the fields that rancher-compose requires

[2016-10-20 23:56] joshwget commented on #6281
@StrongMonkey
- `tmpfs` should be a list of strings and just contain the paths
- `ulimits` looks a little different in Docker Compose (https://docs.docker.com/compose/compose-file/#/ulimits)
- `memory_reservation` -> `mem_reservation`
- `memory_swappiness` -> `mem_swappiness`

[2016-10-21 00:14] StrongMonkey commented on #6281
@joshwget Changed. Can you take all the keys in tmpfs and make it an array. In that way we can support user to add options for `tmpfs` in agent.(engine api allow user to pass a map to tmpfs) If that is not easy to do that, i can change it in cattle to make it a separate field.

[2016-10-21 00:22] tfiduccia opened #6355 "Can't use version: '2' in rancher-compose for catalog templates"
**Rancher Version:** master 10/20

**Steps to Reproduce:**
1.  Create a catalog template that uses v2 syntax in both the docker-compose and rancher-compose files.
(Add to top of files
version: '2'
services:)
2.  Try to use that template version

**Results:** Will not show up.  If I take the v2 syntax out of rancher-compose file it shows up fine.
time="2016-10-21T00:11:31Z" level=error msg="Skippin

[2016-10-21 00:26] galal-hussein commented on #6353
**Steps**

- Install k8s 1.4
- Bring up quobyte cluster .. [quick start](https://support.quobyte.com/docs/2/latest/quickstart.html)
- Install docker on one of the hosts
- Register this Host with rancher
- Make sure to satisfy all the requirements in this [link](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/quobyte)
- Label the host with any distinguishable label (eg. provid

[2016-10-21 00:43] sangeethah commented on #4708
Not able to validate "BlkioWeightDevice" option , since containers when deployed with this option, fails to start with error message  - ```
2016-10-21 00:26:07,576 ERROR [f008691a-07e0-419f-a0ba-248d09316f4d:4847] [instance:133->instanceHostMap:133] [instance.start->(InstanceStart)->instancehostmap.activate] [] [ServiceReplay-2] [c.p.e.p.i.DefaultProcessInstanceImpl] Agent error for [compute.insta

[2016-10-21 02:16] #6322 closed

[2016-10-21 02:28] prachidamle commented on #5801
Moving out as per discussed with @will-chan

[2016-10-21 02:29] prachidamle commented on #5380
Moving out as per discussion with @will-chan

[2016-10-21 02:40] deniseschannon commented on #2777
@alena1108 Can you create a separate issue for LB microservice? I'd like this tested for 1.2 for the LB v1. I'm putting it back in 1.2.0 for testing LB v1.

[2016-10-21 03:37] joshwget commented on #6281
@StrongMonkey This is how it's done in Docker Compose. They might add support for adding options later, but for not I'd rather not break compatibility.

[2016-10-21 04:33] deniseschannon commented on #1723
The new CLI (particularly  v0.2.0+) is available for v1.2.0-pre3+. The v0.1.0 CLI is compatibly with v1.1.4, but will not be available through the UI as it wasn't released/created until post v1.1.4. You could download it through the releases page in CLI. https://github.com/rancher/cli/releases/tag/v0.1.0

[2016-10-21 04:47] deniseschannon commented on #6289
Are you using docker for mac? If so, it's currently not supported in Rancher.

[2016-10-21 05:16] deniseschannon commented on #5064
@joshwget @alena1108 Can you guys talk about this in the office as it seems like there is no consistency in where the issue actually is. :)

[2016-10-21 06:03] pwFoo commented on #4991
Following here.
Experienced increasing load (24+) during deploy and delete stacks for testing. Maybe related.

[2016-10-21 07:28] Dids opened #6356 "Port binding to 0.0.0.0 not working from Docker compose files"
**Rancher Version:**
1.1.4

**Docker Version:**
1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Both cloud and bare metal (self-hosted)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
In `docker-compose.yml`, bind ports to IP's like so,

[2016-10-21 08:45] MihaiAnei commented on #5867
I'll add here a configuration that works for me, maybe it helps someone.

[code]

Be advised of the #5311 bug.

[2016-10-21 08:48] MihaiAnei commented on #5311
The workaround @dsvmacdonald proposed works for me too. Thank you!
@chrisdupuy I think that error comes from your configured LB on the HA nodes.

You can find an example for haproxy that works for me here: #5867

[2016-10-21 10:15] upayavira commented on #5396
@vincent99 I have just reproduced this on a "throw away" Rancher install that I am happy to give you access to. For some reason, github isn't sending me notifications on this thread. Mail me on uv@odoko.co.uk and I'll give you access to it.

[2016-10-21 10:17] ruimarinho commented on #3964
@cloudnautique Under v1.1.4, I've mounted a host path under `/var/lib/cattle/DATA/<catalogName>` which is not a git repository, but since the catalog service fails to `git pull`, it is unable to use it.

[2016-10-21 13:08] bartoszhernas commented on #6208
@T-Grave Could you maybe share your letsencrypt image? I am trying to set up similar thing

[2016-10-21 13:58] alena1108 commented on #4976
Could you test it? should be fixed with the latest k8s in qa branch

[2016-10-21 14:01] narmontas commented on #5618
In our environment we need to route TCP based on hostname and we do this in standalone HAProxy by adding these two lines to frontend:

[code]

We are trying to migrate to Rancher and this is a no-go. Is it possible to add some custom logic for this to work?

[2016-10-21 14:56] deniseschannon commented on #6356
Duplicate of https://github.com/rancher/rancher/issues/5064

[2016-10-21 14:56] #6356 closed

[2016-10-21 14:57] Dids commented on #6356
Thanks! Didn't find an existing issue, but sort of glad it already exists. :)

[2016-10-21 15:30] sangeethah commented on #2777
@alena1108 , Can you provide information on how the fix is addressed in LB v1  and steps to verify the fix.
 When using v1.2.0-pre4-rc4 , I dont see drain_service flag for Lb services when using API to create LB service in parameters/launch_config/loadbalancerconfig.

[2016-10-21 15:46] JeanDaniel-Fischer opened #6357 "Build not supported in catalog with build"
Rancher Version: v1.1.0-dev4
Docker Version: 1.12.1
Using one host with rancher-server image launch and agent container on same machine

Is there anyway to support docker compose file with "build: ." from private catalog entry ?
According to this ((http://docs.rancher.com/rancher/v1.2/en/cattle/rancher-compose/build/) it is possible with s3. I have successfully connected to aws s3 within rancher-s

[2016-10-21 16:08] vincent99 commented on #5618
@narmontas is there a reason you don't just use a normal http mode listener?

[2016-10-21 16:23] deniseschannon commented on #6257
Where in the documentation does it say that we can only start all?

As rancher compose is based on docker compose, this is standard practice where if you don't specify a service, then it will do all the services in the yaml, but you can always specify specific services.

[2016-10-21 16:35] StrongMonkey commented on #6349
@deniseschannon  ip, ip6, and netalias require us to create a new isolated network. It need to be discussed as it is not as easy as passing the parameter to a container. Can you move this to 1.3? Isolation is just for windows container.

[2016-10-21 16:42] galal-hussein commented on #4976
@alena1108 I tested it on latest Rancher master build image with the latest k8s version in qa branch (k8s 1.4) and it worked, here are my steps:

- Install k8s 1.4 stack
- Run the following pod:

[code]

The pod created and i was able to verify by exec to the container and check:

[code]

[2016-10-21 16:42] #4976 closed

[2016-10-21 17:05] galindro commented on #3248
+1

[2016-10-21 19:01] sangeethah opened #6358 "api.auth.local.validate.url not called when new admin/user accounts are added."
Rancher-server version  - v1.2.0-pre4-rc4

Steps to reproduce the problem:
Set api.auth.local.validate.url to the password valiator url.
Enable local auth.
Add a new admin/user account.
password validator url is not called before user gets created.

Note - password validator url gets called password is changed and also for the first system admin user creation that happens   when  local auth is ena

[2016-10-21 19:07] schuylr commented on #6324
Maybe this is accentuated with lots of hosts and services? I'm running 60 hosts in a single environment at this point, but my process list is pretty lean aside from some timing out volume.activate ones.

[2016-10-21 19:13] #6254 closed

[2016-10-21 20:13] cjworden opened #6359 "[go-rancher] client/generated_service.go returns nil error on error"
client/generated_service.go inside of go-rancher contains the following function for retrieving a service by its ID. In the case of the if statement checking if the status code is 404 shouldn't an actual error be returned instead of nil so you can check for failure using the `if err != nil` pattern?

[code]

[2016-10-21 21:02] will-chan commented on #6333
Let's document this as a known issue

[2016-10-21 21:10] sangeethah commented on #1983
Tested with Rancher-server version - v

Set api.auth.local.validate.url to the password valiator url.
Enable local auth.

Password validator is called during the following workflow:

1. Adding System admin account as part of enabling local auth.
2. When adding user/ admin account. This does not work and is tracked in https://github.com/rancher/rancher/issues/6358

3. When changing password for exi

[2016-10-21 21:15] wlan0 commented on #4168
@westlywright After investigating, I found that Ubuntu, CentOS, Fedora work fine. The problem is only with CoreOS. In case of the CoreOS image in DO, the keys are set for the user "core" and not for "root". If I set the "sshUser" parameter in the API to "core" and try to provision a DO CoreOS host, it works just fine.

This option is available in the API, but not in the UI. This needs to be fixed.

[2016-10-21 21:16] sangeethah opened #6360 "api.auth.local.validate.url returns any http code between 400 - 499 , user should be notified of the exact error code."
Rancher Version: v1.2.0-pre4-rc4

Steps to reproduce the problem:
Set api.auth.local.validate.url to the password validator url.
Enable local auth.
Change password for existing account  and simulate password validator to send any error code between 400-499.

Password change fails and user is presented with the exact error message  that password validator sent. But user is not presented with the ht

[2016-10-21 21:36] wlan0 commented on #6298
The request is wrong. The data portion should be empty in the curl request above.

The below is my request which works -
[code]

[2016-10-21 21:38] prachidamle opened #6361 "Saml: After Logging out of Rancher, user should be given the option to logout of SAML IDP so that they can login as a new user."
**Rancher Version:** 1.2.0-pre4

**OS and where are the hosts located? (cloud, bare metal, etc):** single node Rancher

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1) Setup Access Control -> Shibboleth
2) Setup the accessMode to say "restricted" to the admin user say "Tes

[2016-10-21 21:42] sangeethah opened #6362 "api.auth.local.validate.description when set should be displayed as help text for password fields."
Rancher Version: v1.2.0-pre4-rc4

Steps to reproduce the problem:
Set api.auth.local.validate.url to the password valiator url and set api.auth.local.validate.description to some text indicating password length/format restrictions.
Enable local auth.
api.auth.local.validate.description is not currenly used any where.

When adding new accounts/changing password for existing accounts , the contents

[2016-10-21 21:43] joshwget commented on #5224
There's a [metadata key](https://github.com/rancher/rancher-compose/blob/master/rancher/context.go#L72) defined for `rancher-compose.yml` files. I think this is what you're looking for.

[2016-10-21 22:02] sangeethah opened #6363 "There needs be timeouts enforced for post request to api.auth.local.validate.url."
Rancher-server version - v1.2.0-pre4-rc4

Steps to reproduce the problem:
Set api.auth.local.validate.url to the password validator url.
Enable local auth.
Change password for existing accounts.
Make the post request to password validator url to return after 3 minutes.
Change password request completes(fails/succeeds) after waiting for 3 minutes.

In this case , should Change password request enfo

[2016-10-21 22:03] sangeethah commented on #1983
Related bugs:
https://github.com/rancher/rancher/issues/6362
https://github.com/rancher/rancher/issues/6363

[2016-10-21 22:03] #1983 closed

[2016-10-21 22:22] vincent99 commented on #6363
Yes, add a setting for something like `api.auth.local.validate.timeout.millis=5000` and return 5xx error if there isn't an answer after that long.

[2016-10-21 22:26] vincent99 commented on #6362
@westlywright Can you display the `api.auth.local.validate.description` setting if present as the help block under the password field for add/edit local account and change password.

Requires https://github.com/rancher/cattle/pull/2110/files for the setting to be readable, or add to the list manually yourself for now.

[2016-10-21 22:36] vincent99 opened #6364 "Catalog question alignment"
Questions with different heights cause holes to appear in the grid:

![image](https://cloud.githubusercontent.com/assets/753917/19613823/0f96b4c2-97a4-11e6-9f2b-094604be5940.png)

[2016-10-21 22:42] wlan0 commented on #5236
Set cloud provider to aws and tested that EBS works fine.

[2016-10-21 23:03] sangeethah opened #6365 "kubernetes stack fails to come up when started by an admin user who is not the owner of the environment."
Rancher server version: v1.2.0-pre4-rc4

Steps to reproduce the problem:
Create a local auth enabled setup.
Create an admin user - user1.

When logged in as admin user - user1 ,  try to start kubernetes from Infra catalog.
"system" flag for the kubernetes gets set to "false"
kubernetes stack fails to come up with following errors in kubernetes container:

[code]

[2016-10-21 23:08] sangeethah commented on #6365
The same issue is also seen when , member of an environment who is a user ( not "admin) , tries to deploy kubernetes template from Infra catalog.

[2016-10-21 23:10] sangeethah commented on #6295
Tested with latest K8s template from https://github.com/rancher/infra-catalog in qa branch.
Following description of the time format for Backup Creation and Backup Retention parameters are incldued in the template.
[code]

[2016-10-21 23:10] #6295 closed

[2016-10-21 23:40] StrongMonkey commented on #4708
Weight parameter depends on specific kernels. @sangeethah if the other four work fine, you probably close this one.

[2016-10-21 23:45] sangeethah commented on #4708
@StrongMonkey , Yes all other 4 parameters work and I see them using docker inspect command -
[code]
Logged #6349 to track missing support for ip,ip6,isolation and net-alias.
Closing this issue.

[2016-10-21 23:45] #4708 closed

[2016-10-21 23:47] galal-hussein commented on #5236
Tested and worked from the PR https://github.com/rancher/infra-catalog/pull/23, and on Rancher master image (21 Oct).

[2016-10-21 23:47] #5236 closed

[2016-10-21 23:59] sangeethah opened #6366 "Validation tests take longer to run in 1.2 pre releases"
Rancher Version: Builds from master

Validation tests take longer to run in v1.2.0-pre4 builds.They take about 3 hours and 15 minutes to execute. Until v1.2.0-pre3 builds , they were taking about 2 hours and 30 minutes.

In general every test suite seem to take a little longer then before.

[2016-10-22 00:18] soumyalj opened #6367 "rancher cli: "./rancher catalog ls" fails to display the catalogs"
Rancher Version:v1.2.0-pre4-rc4

Rancher CLI version: v0.3.0-rc3

OS and where are the hosts located? (cloud, bare metal, etc):: Cloud

Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

Steps to Reproduce:
1. Create a rancher cli setup
2. Run the command ./rancher catalog ls

[code]

[2016-10-22 00:38] vincent99 commented on #6364
@westlywright flexbox?

[2016-10-22 00:39] vincent99 commented on #5816
n/a in new infra catalog..

[2016-10-22 00:40] #5816 closed

[2016-10-22 00:43] vincent99 commented on #3208
Same as #2763?

[2016-10-22 00:43] #3208 closed

[2016-10-22 00:58] vincent99 commented on #4328
The host screen groups containers by the labels on the containers... one of those is the stack name, which is not updated when the stack is renamed.  Fixing it requires tying that back to the actual stack resource, which is basically the same as doing https://github.com/rancher/rancher/issues/2557

[2016-10-22 01:33] lilnate22 commented on #6294
@wlan0  is rancher 1.2 latest? i just did a fresh install and i seemed to get the same one

[2016-10-22 03:32] seanhoughton opened #6368 ""STARTUP FAILED" with simple external database compose"
**Rancher Version:**
1.1.4

**Docker Version:**
1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Stock Ubuntu 16 on AWS

The following compose file results in a dead rancher container with the error. I would have expected this simple setup to work. It follows the instructions posted at http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/multi-nodes

[2016-10-22 03:36] soumyalj opened #6369 "rancher cli: env create does not work with -o option"
Rancher Version:v1.2.0-pre4-rc4

Rancher CLI version: v0.3.0-rc3

OS and where are the hosts located? (cloud, bare metal, etc):: Cloud

Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

Steps to Reproduce:
1. Create a rancher cli setup and use account API keys
2. Run the command "./rancher env create -o kubernetes newk8senv"

[code]

[2016-10-22 11:16] T-Grave commented on #6208
@bartoszhernas I will put up a Github repo over the course of the weekend

[2016-10-22 13:05] upayavira commented on #5396
The issue with this is as much with the VPC that Rancher is connecting to. I can either provide you with creds to my (almost entirely empty) AWS account, or, you can look at the terraform configs that created the VPC, which is a part of my "Uberstack" tool. The Terraform configs are here https://github.com/odoko-devops/uberstack/tree/master/examples/dev-stack/terraform

[2016-10-22 19:38] seanhoughton commented on #6368
This was solved by using MySQL version 5.7 instead of version 8. This restriction is mentioned in the single-node setup documentation but not the multi-node setup documentation. I'll leave this issue here for anyone who runs into the same issue.

[2016-10-22 19:38] #6368 closed

[2016-10-22 20:06] soumyalj commented on #6321
Tested with master. An improved message is provided for the above issue. Message below:
[code]

[2016-10-22 20:06] #6321 closed

[2016-10-22 20:32] vincent99 commented on #5396
It really has nothing to do with the server container, or what VPCs it's on, if it's even in EC2 atall.. As I said earlier the UI is just making calls (describeVpcs and describeSubnets) to the AWS API directly  (using the server as a proxy) and it uses those responses to render the options, which are apparently wrong when presented to you there.

Eventually the selected options are given to docker

[2016-10-23 00:19] upayavira commented on #5396
Sure, I'll do this tomorrow, and replace them as soon as you are done.

Also, I have managed to get the UI to work using the VPC that comes as default in us-west-2, rather than the one I built with Terraform in us-east-1. Would it also help if I gave you the JSON returned to the UI for each of these cases?

[2016-10-23 01:44] mrajashree commented on #6363
@vincent99 since the timeout has to be there in the cattle code, I have added it in the request without a global setting for it. Is that okay? It is in the referenced PR

[2016-10-23 03:44] andrewboss opened #6370 "Storage tab is not working"
*Describe your issue here*
Not able to access Storage tab under Host view. Brings up an fail page.
![snip20161023_2](https://cloud.githubusercontent.com/assets/4097432/19624014/5209c8f2-98db-11e6-94c9-949e1064346b.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`github` `admin`|
|Orchestration|`Cattle`|
|Route|`environments.new`|

[2016-10-23 03:46] andrewboss commented on #6370
Error when accessing Storage tab
![snip20161023_3](https://cloud.githubusercontent.com/assets/4097432/19624021/b0705ba4-98db-11e6-8bad-f53615dc3f7d.png)

[2016-10-23 04:00] deniseschannon commented on #6370
Duplicate of https://github.com/rancher/rancher/issues/5982

Already fixed in master.

[2016-10-23 04:00] #6370 closed

[2016-10-23 11:23] yunspace commented on #6043
I'm also getting the same error when connecting to a postgres container (used the official postgres:9.5) from another host. The code is also a standard golang, same as @ravlio

    conn, err := sql.Open("postgres", URL)

[2016-10-23 11:40] Modomu commented on #4974
Same with me, containers stuck removing forever. There any notice about this issue?

![1tx7bkwvjmyaaaaasuvork5cyii](https://cloud.githubusercontent.com/assets/5587259/19625919/f62d329e-9925-11e6-8001-4988ca2e0f7e.png)

[2016-10-23 11:56] sujaisd commented on #4974
I am not sure this is a proper fix or not, but it did solve my problem.

I turned off the rancher server, used the following mysql query to fix the zombie process

UPDATE process_instance SET exit_reason='DONE', end_time=NOW()  WHERE exit_reason = 'UNKNOWN_EXCEPTION';

Further for cases where there were no exit reason and never ended, I have tried this which works for all the cases.

`sql
UPDATE p

[2016-10-23 12:10] Modomu commented on #4974
The process has been removed, after run

`UPDATE process_instance SET exit_reason='DONE', end_time=NOW()  WHERE end_time is NULL;`

But containers continues removing as before run this query.

![47tezaaaaaelftksuqmcc](https://cloud.githubusercontent.com/assets/5587259/19626122/41c6d378-992a-11e6-96ad-57dfe706965d.png)

[2016-10-23 12:14] sujaisd commented on #4974
@Modomu - Can you confirm all your hosts are connected and you are able to reach them?
Check the hosts screen and if you see any connectivity issue this may occour.

Also there may be docker filesystem issues at times, which causes the container to never start again properly.

[2016-10-23 13:13] Modomu commented on #4974
I have only one host, and is active. When i have make deployment of the application, rancher need some tries for this. Then the containers that throws an error keep stuck as removing.

This my host screen
![lubxrqpwrogaaaabjru5erkjggg](https://cloud.githubusercontent.com/assets/5587259/19626448/d80f57c6-9932-11e6-91d3-132b6096d263.png)

I need to solve this, for make the deployment of the applicat

[2016-10-23 13:14] sujaisd commented on #4974
@Modomu - I think, you need the rancher team or an expert to look into it, I am not sure about the cause.

[2016-10-23 13:16] rzachariah commented on #619
I'd like a webhook for stack deployments. I'd like to post to a slack channel when a rancher stack deployment begins and ends.

[2016-10-23 13:21] Modomu commented on #4974
Thanks @sujaisd

[2016-10-23 14:13] Dremor opened #6371 "Reverse proxy stuck at "Initializing""
I uses Rancher reverse proxy in order to serve 2 website (My Rancher instance, and a Gitlab instance), both being on the same server. The proxy works fine, but is stuck at "Initializing", preventing me to restart it as a service (I still can restart each individual container).

---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
| Access | `local

[2016-10-23 18:24] janeczku commented on #6304
Duplicate of #3972

[2016-10-23 18:24] #6304 closed

[2016-10-23 19:40] pcgeek86 opened #6372 "Misspelling in Rancher admin interface"
Misspelled "dckoer-compose.yml" in UI, under "Add Project" page.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`localauth` `admin`|
|Orchestration|`Swarm`|
|Route|`swarm-tab.projects.new`|

[2016-10-23 19:41] pcgeek86 commented on #6372
![image](https://cloud.githubusercontent.com/assets/466713/19628919/fbe3d8da-991d-11e6-8576-2e473fae7959.png)

[2016-10-23 19:42] vincent99 commented on #6372
https://github.com/rancher/ui/commit/931dae873f4a996ea2d0f2069fb579f422943876

[2016-10-23 19:42] #6372 closed

[2016-10-23 19:56] jloisel commented on #4974
It's probably difficult for the Rancher team to fix this, as the root cause of processes being stuck can be multiple. I believe they tend to work on fixing the issue which causes the process to get stuck, instead of providing a kill switch to quieten processes saying "hey there is something wrong there!".

[2016-10-24 00:15] prachidamle commented on #5629
The root cause is same as bug https://github.com/rancher/rancher/issues/3875
Resolving this as "status/has-dependency"

@deniseschannon how do we mark duplicates?

[2016-10-24 00:48] prachidamle commented on #3875
@LLParse we need to update our ldap server to match the setups mentioned here to test the fix

[2016-10-24 02:06] soumyalj commented on #5926
Validated with Rancher v1.2.0-pre4-rc4. Some issues found :
https://github.com/rancher/rancher/issues/6367
https://github.com/rancher/rancher/issues/6369

[2016-10-24 02:06] #5926 closed

[2016-10-24 05:24] tfiduccia commented on #6345
Version - master 10/23
Verified fixed

[2016-10-24 05:24] #6345 closed

[2016-10-24 05:25] tfiduccia commented on #6337
Version - master 10/23
Verified fixed

[2016-10-24 05:25] #6337 closed

[2016-10-24 05:26] tfiduccia commented on #6336
Version - master 10/23
Verified fixed

[2016-10-24 05:26] #6336 closed

[2016-10-24 05:27] tfiduccia commented on #6296
Version - master 10/23
Verified fixed

[2016-10-24 05:27] #6296 closed

[2016-10-24 05:28] tfiduccia commented on #6351
Version - master 10/23
Verified fixed

[2016-10-24 05:28] #6351 closed

[2016-10-24 05:38] StrongMonkey commented on #388
@mattdodge in each host, we have `/var/lib/rancher' bind to our agent container and our agent will create two files called .dockerUUID and .physicalUUID in that directory inside our hosts to represent a existing host.

[2016-10-24 05:41] tfiduccia commented on #4212
Version - master 10/23
Not fixed

[2016-10-24 05:43] tfiduccia commented on #5699
Version - master 10/23
Verified fixed

[2016-10-24 05:43] #5699 closed

[2016-10-24 06:02] RahulMahale opened #6373 "Cannot see Kubernetes deployments in Rancher UI"
**Rancher Version:** :-  1.1.4

**Docker Version:** :-  1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**  :- Ubuntu 15.10 Hosted on AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** :- Single node rancher with internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** :-  Kubernetes

**Steps to Reproduce:**  : Check the Ra

[2016-10-24 06:15] vincent99 commented on #6373
Deployments are in [Rancher] 1.2.x.

[2016-10-24 06:15] #6373 closed

[2016-10-24 06:17] xeroo commented on #5657
Maybe you should use `export CATTLE_CADVISOR_OPTS='-storage_driver=statsd -storage_driver_host="192.168.67.15:8125"'`, this works for me.

[2016-10-24 07:46] bartoszhernas commented on #6208
Thanks a lot 👍

[2016-10-24 13:27] teamon commented on #4082
Is this UI-only issue or does it require implementing also the persistence of events?

[2016-10-24 13:36] jwhitcraft opened #6374 "Stuck Processes for 3 months"
**Rancher Version:** 1.1.4
**Docker Version:** 1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04/AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** AWS RDS
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle
**Steps to Reproduce:** Not sure

![screenshot 2016-10-24 09 31 24](https://cloud.githubusercontent.com/asset

[2016-10-24 14:40] mediatainment commented on #6056
Have the same issue.

    Almost there…
     Waiting for agent connection

Component	Version
Rancher	v1.1.4
Cattle	v0.165.8.4
User Interface	v1.1.14
Rancher Compose	v0.8.6

Deleted all instances and volumes from my AWS demo account. Also deleted "security-group" (rancher-machine). Rancher recreates itself successfully).

<img width="822" alt="bildschirmfoto 2016-10-24 um 16 34 41" src="https://clo

[2016-10-24 15:35] wadjeroudi commented on #5328
woks for me.
Feature request : allow unsigned ssl for custom docker registry. (maybe a checkbox to add on the UI).

[2016-10-24 16:51] deniseschannon commented on #5520
@aleksf Selector linking has nothing to do with docker links. It's how Rancher's DNS resolves to containers that aren't explicitly linked.

[2016-10-24 16:51] sbrinkerhoff commented on #6111
@soumyalj I understand this may be something specific to my configuration, any ideas on troubleshooting?

[2016-10-24 17:11] alena1108 commented on #6092
I know it is not easy to reproduce, just keep an eye on it when you test HA setup

[2016-10-24 17:12] alena1108 commented on #6112
Haven't seen this one in a while, closing.

[2016-10-24 17:12] #6112 closed

[2016-10-24 17:25] steveabbitt opened #6375 "Nginx not connecting to upstream hosts after host upgrades"
**Rancher Version:**
v1.1.4
**Docker Version:**
v1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 on AWS EC2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Build Nginx container that points to other upstream containers

[2016-10-24 17:26] soumyalj opened #6376 "Rancher CLI: rm host fails with Bad response statusCode [405]"
Rancher Version:v1.2.0-pre4-rc4

Rancher CLI version: v0.3.0-rc3

OS and where are the hosts located? (cloud, bare metal, etc):: Cloud

Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

Steps to Reproduce:
1. Create a rancher cli setup and use account API keys
2. Run the command ./rancher rm --type host 1h2

[code]

[2016-10-24 17:26] galal-hussein commented on #6339
@prachidamle The issue is fixed on the master image (24 Oct)

[2016-10-24 17:26] #6339 closed

[2016-10-24 17:36] keyscores commented on #2734
@rancherdev I'm glad a community member included this. IMHO, let's encrypt should be included in the HA proxy implementation of rancher. I think it's very low overhead and a free service.

[2016-10-24 17:44] omata-metamax commented on #2734
@willseward If I configure the instance to generate each cert in it's own directory will be all directories renewed when is needed?

Best regards.

[2016-10-24 17:48] galal-hussein opened #6377 "Saml: Logging in with SAML user creates a new environment with name "-Default""
**Rancher Version:**
Master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle
**Steps to Reproduce:**

- Enable SAML Authentication
- Choose “Allow any valid User” as “Site

[2016-10-24 17:54] willseward commented on #2734
@omata-metamax I'm not sure what you mean by individual directories. Each named certificate/key pair are placed in eponymous directories---one per instance because one service can only generate one certificate with multiple SANs.

However, by updating the SANs on the cert by means of the environment variable, the instance will pick up the difference and update it near expiry.

[2016-10-24 17:56] deniseschannon commented on #6377
This is actually default behavior for all auth providers. If you aren't invited to any environments, we will create a default user environment for you.

[2016-10-24 17:56] #6377 closed

[2016-10-24 17:58] omata-metamax commented on #2734
@willseward When configuring the instance there is an environment variable called `CERT_NAME` that will create another directory for that cert. Then I want to know if the cert inside it  name/directory will be upgraded when it near expiry.

[2016-10-24 18:03] galal-hussein commented on #6361
Tested on master image (24 Oct) and worked.

[2016-10-24 18:03] #6361 closed

[2016-10-24 18:04] willseward commented on #2734
@omata-metamax Yes. The service can only update one certificate/key pair at a time. I'd clone the stack for each certificate that you need.

[2016-10-24 18:05] omata-metamax commented on #2734
Thank you very much @willseward

[2016-10-24 18:06] harshal-shah commented on #5982
Facing same issue with following:
![deleteme](https://cloud.githubusercontent.com/assets/16479600/19657644/ac8096e0-9a42-11e6-8cd6-c82ea4117613.jpg)

[2016-10-24 18:08] deniseschannon commented on #5982
@harshal-shah Yes, it is fixed in v1.2.0-pre4-rc2+ and will be available in the next release.

[2016-10-24 18:09] willseward commented on #2734
@omata-metamax No problem. I'm glad this service exists.

And I agree with @keyscores . It would be nice to have this integrated by default.

[2016-10-24 18:13] galal-hussein commented on #6278
Tested on Rancher master image (24 Oct) on Kubernetes 1.4 on nginx pod:
[code]

[2016-10-24 18:13] #6278 closed

[2016-10-24 18:17] deniseschannon commented on #5265
Closing as this has been validated as working. Any specific bugs with implementations on github/saml will be logged separately.

[2016-10-24 18:17] #5265 closed

[2016-10-24 18:21] galal-hussein commented on #6309
Tested on the master image (24 Oct):

- I added a wrong private key
- Saved and tested, then SAML auth didn't work
- I corrected the key and saved again and tested, and SAML authentication worked!

[2016-10-24 18:21] #6309 closed

[2016-10-24 18:38] galal-hussein commented on #6298
Tested and worked on master image (24 Oct) using the "kind: DeleteOptions"

[2016-10-24 18:38] #6298 closed

[2016-10-24 18:40] deniseschannon opened #6378 "Converting AD to new auth framework"
- [ ] port other authentication providers to new auth framework
  - [x] active directory

[2016-10-24 18:43] spalladino commented on #619
Inspired on other solutions, we've built https://github.com/manastech/rancher-autoredeploy/, which sets up a small http server for listening requests from docker hub, and upgrades the matching services in the rancher environment using the API. Hope it helps until the feature is implemented!

[2016-10-24 18:45] aemneina commented on #6056
@mediatainment where is your rancher server? Is it somewhere the agent host can route to?

[2016-10-24 18:45] spalladino commented on #2511
We've built https://github.com/manastech/rancher-autoredeploy/, which sets up a small http server for listening requests from docker hub, and upgrades the matching services in the rancher environment using the API. Hope it helps!

[2016-10-24 19:07] agalpin commented on #4082
UI mainly, this would be assigned to the service instead of the containers so it won't disappear during the 5 seconds the container runs for before restarting,, will most likely have to have persistence of the last few events to pull it off i would say. I''ll attempt a correctly worded example when i get a chance.

[2016-10-24 19:11] teamon commented on #4082
If I could suggest something, for me personally the most important use case would be to see what has changed with given upgrade (if it's new image tag or ENV change or some other config).

[2016-10-24 19:25] soumyalj opened #6379 "Host labels (ie docker version) are not recognized on docker-machine created hosts (example swarm)"
**Rancher Version:**: 1.2.0-pre4-rc5

**Docker Version:**:1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**: Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Cattle

**Steps to Reproduce:**
1. Create a 3 host set up
2. Add the infra catalog with https

[2016-10-24 19:33] mediatainment commented on #6056
@aemneina in a "linode.com" server... accessible over ip and a subdomain

[2016-10-24 20:25] janeczku commented on #5273
To validate:

1. Deploy Route 53 v0.6.0 stack from `rancher/rancher-catalog:qa` specifying a custom name template using placeholders and static text (see README of the template).
2. Check that the records get created with the expected names

[2016-10-24 20:37] ibuildthecloud commented on #6128
@vincent99 This should be fixed.  I addressed the cases I knew of but not 100% confident it addressed everything.

[2016-10-24 20:55] janeczku commented on #4066
To validate:

1. Deploy Route 53 v.0.6.0 from rancher/rancher-catalog:qa
2. Manually create a DNS A record under the domain using the AWS console
3. Make sure that the record is not removed by the Route 53 service

[2016-10-24 20:57] aemneina commented on #6056
@mediatainment can you try with a RancherOS 0.4.5 image? Not sure if docker 1.12 could be preventing your rancher server cluster from operating properly... or downgrade user docker in the instance.

[2016-10-24 21:09] galal-hussein commented on #5273
@janeczku I validated this upgrade on master image (24 Oct) using the test cases you specified in the PR and it worked as expected.

[2016-10-24 21:09] #5273 closed

[2016-10-24 21:20] galal-hussein commented on #4066
Tested on master image (24 Oct), The manually created record did not get removed by the route53 service.

[2016-10-24 21:20] #4066 closed

[2016-10-24 21:30] vincent99 commented on #6360
No?  HTTP status codes are meaningless to users.

[2016-10-24 21:35] sangeethah opened #6380 "When rolling back upgrades that removed existing sidekicks , new instances of the side kick gets created instead of starting the existing ones."
Rancher server version - v1.2.0-pre4-rc4

Steps to reproduce the problem:
1. Start a service with 2 sidekicks (sk1,sk2) with scale 3.
2.Remove one of the existing sidekick -sk2 as part of upgrade.
3. Once service is in "upgraded" state , we see only 1 sidekick associated with it.
4. Perform Rollback.

After roll back , for some of the instances of sk2 , we are starting a new sidekick instances ins

[2016-10-24 21:37] sangeethah commented on #2428
Tested with rancher server version - v1.2.0-pre4-rc4 using rancher-compose:

All the below use cases work as expected, except 4:

1. Start a service with 2 sidekicks.Add another sidekick as part of upgrade. Confirm upgrade.
2. Start a service with 2 sidekicks.Add another sidekick as part of upgrade.Roll back.
3. Start a service with 2 sidekicks.Remove one of the existing sidekick as part of upgrad

[2016-10-24 21:39] sangeethah opened #6381 "UI Support for adding/removing sidekicks as part of upgrade."
Tested with v1.2.0-pre4-rc4
Currently there is no UI Support for adding/removing sidekicks as part of upgrade.
Rancher-compose supports this work flow.

[2016-10-24 21:39] sangeethah commented on #2428
UI support for this feature is tracked in - https://github.com/rancher/rancher/issues/6381

[2016-10-24 21:39] #2428 closed

[2016-10-24 21:48] vincent99 commented on #5124
For this to be effective there'd have to be an API change that prevents creating registrationTokens if "Custom" is disabled.. hiding the UI just pretends that they users can't add them anymore.

[2016-10-24 21:56] sangeethah commented on #6360
@mrajashree mentioned that for error code between 400-499 , the exact error codes from the authenticator are preserved.
@vincent99 If these are meaningless to users , why are we preserving these error codes we get from authenticator

[2016-10-24 22:13] leroy0211 opened #6382 "When Canceling upgrade of container, the previous settings are not used (broken persistant storage)"
**Rancher Version:** 1.1.4

**Docker Version:** 1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
3 Virtual machines on bare-metal in VM-Ware Ubuntu server 14.04 (1 vm contains rancher, and 2 vm's are hosts)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Basic Rancher setup with 2 hostst, all running on same VM Ware

**Environment Type

[2016-10-24 22:17] sangeethah commented on #6306
Tested with Rancher server version - v1.2.0-pre4-rc5

Currently there is no error message relating to rancher-compose version being not found in the logs. But rancher-scheduler template does not get shown in the UI anymore.

The only information we will need is the version number for the template from rancher-compose which is not available in this case.
Reopening this issue to get confirmation on

[2016-10-24 22:26] vincent99 commented on #6306
There's a message logged but it's `debug`-level.. we can change that to `info`.

But there is no version or other info to show for a template that has no rancher-compose.yml / `.config` key so I thinking ignoring that folder is the correct thing to do.  The docs say it's required.

[2016-10-24 22:27] mrajashree commented on #6306
@vincent99 okay, I will change it to info level message then

[2016-10-24 23:02] soumyalj commented on #5852
Created a Kubernetes set up with infra catalog https://git.rancher.io/infra-catalog.git, qa branch.
Created service/pods/ingress and also launched a couple of K8s community catalogs. Deleted the Kubernetes stack. The kubernetes stack, user stack Kubernetes lb stacks get cleaned up. But the ingress-lb stack and service still remain and are inactive. (The ingress lb container is deleted though)
[cod

[2016-10-24 23:18] sangeethah commented on #6193
Tested with rancher-server version - v1.2.0-pre4-rc5

When deleting a host that is  still in provisioning state, host gets to "removing" state and then disappears from the UI.
Machine entry associated with this host continues to remain in DB in "removing" state for a while and then gets to "removed" state.

[2016-10-24 23:18] #6193 closed

[2016-10-24 23:27] Joeasaurus commented on #2143
+1

I have exactly the same usecase as @lenzenmi.

As already stated in here, I can see it as a small extension on the run-once syntax. I'd just like to say "This docker runs <some job> and please start it once an hour". The container will be responsible for exiting once finished, and if it is still running at the next scheduled time, some action or nothing can happen (maybe a flag on that or some

[2016-10-24 23:29] vincent99 commented on #6360
We're not preserving it anywhere;  The entire 4xx range means that there was an error that's the client's fault (the user's password is bad in this case).  5xx means it's the server's fault (like we couldn't reach the validation service).

So the specification for someone to implement a validator service is just "return a 4xx status if the password is unacceptable", and the reason is human-readabl

[2016-10-24 23:31] soumyalj opened #6383 "Swarm kit removes label swarm=manager on the hosts after starting up the containers"
Rancher Version:: 1.2.0-pre4-rc5

Docker Version::1.12.2

OS and where are the hosts located? (cloud, bare metal, etc):: Ubuntu, Cloud

Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)Single node rancher
Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

Steps to Reproduce:
1. Create a 3 host set up using gce hosts
2. Add the infra catalog with https://git.r

[2016-10-24 23:32] LLParse commented on #6276
https://github.com/rancher/cattle/pull/2116

[2016-10-24 23:39] sangeethah commented on #6340
Tested with rancher server version- v1.2.0-pre4-rc5
During upgrade, when the first batch is stuck in "Initializing" , we dont see it proceed to attempting to other batch anymore.

[2016-10-24 23:39] #6340 closed

[2016-10-24 23:46] alena1108 commented on #5852
@soumyalj it looks like a race condition - ingress stack is being created on an ingress controller startup, and looks like it's been created after the stack was already removed:

[code]

 Can you file a different bug for this please (targeting 1.3)? And close this bug as the issue described in it, was fixed;

[2016-10-24 23:59] sangeethah commented on #5129
@LLParse , when using rancher server version -

main_tables.purge.after.seconds(14 days) and cleanup.query_limit.rows(100) settings are available by default.

Will keep this issue open until this issue is resolved - https://github.com/rancher/rancher/issues/6276

[2016-10-25 00:09] LLParse commented on #6383
This problem manifested as a result of our changing the hostname field in metadata to be a FQDN.

[2016-10-25 00:15] warnickr commented on #2179
Will we be able to configure maxconn and weight for backend servers?

[2016-10-25 00:26] soumyalj opened #6384 "Kubernetes "Add catalog" from stacks tab displays all the catalogs instead of just the K8s community catalogs"
**Rancher Version:**v1.2.0-pre4-rc5

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, e`tc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**: Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment using with infra catalog https

[2016-10-25 00:40] sangeethah commented on #6362
Tested with Rancher Version: v1.2.0-pre4-rc5
api.auth.local.validate.description is shown as helper text for password when creating new accounts, edit account/change password screens.
This helper text is still not shown when the system admin user gets created in "access control" page as part of enabling local auth.
Reopening this issue to get fixed in this work flow.

[2016-10-25 00:45] sangeethah commented on #6252
Tested with rancher-server version - v1.2.0-pre4-rc5.

Automation runs for the above 2 use cases succeed now.

[2016-10-25 00:45] #6252 closed

[2016-10-25 02:42] andrewcstewart commented on #5084
Is there a work around for this?

[2016-10-25 02:52] deniseschannon commented on #6379
I hit this issue when adding machines through the UI (docker-machine). Per @ibuildthecloud, it seems as if the hosts are not being recognized as having the label `io.rancher.host.docker_version=1.12` for its scheduling rule.

Steps to Reproduce
1. Add 3 hosts using docker-machine (aka through the UI)
2. Try to launch the swarm catalog entry (please note that master and QA branch are the same entry

[2016-10-25 02:55] deniseschannon commented on #1370
Merged after v1.2.0-pre4-rc5

[2016-10-25 02:55] deniseschannon commented on #4073
Merged after v1.2.0-pre4-rc5

[2016-10-25 03:02] deniseschannon commented on #6379
Separate test for theory:

1. Add a host through UI
2. Schedule a service to launch based on host label `io.rancher.host.docker_version=1.12`, which is on the host.

Result:
[code]
Service cannot find a host with the label, even though a host exists with that label.

<img width="790" alt="screen shot 2016-10-24 at 8 01 59 pm" src="https://cloud.githubusercontent.com/assets/11410997/19671603/c63581

[2016-10-25 03:34] deniseschannon commented on #6277
Note: when there is no log driver/log options chosen, it's still exporting something.

[code]

@soumyalj Can you test when there are log drivers and log opts for correct exporting before re-opening and assigning to @alena1108 for the issue of printing out when nothing is set.

[2016-10-25 07:25] omegarus commented on #6327
In rancher 1.2.0.-pre3 Kubernetes v1.3.0-rancher3 everything works fine and my pods receive the correct ip addresses from cluster subnet.

[2016-10-25 08:57] gyalai opened #6385 "Rancher cli docker exec exit code without -i"
**Rancher Version:**
1.2.0-pre3, CLI 0.2.0 and CLI 0.3.0-rc3
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
bare metal, Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**

Make a shell sc

[2016-10-25 11:09] omegarus commented on #6060
I have similar problem.
Rancher v1.2.0-pre3 cluster 2 nodes Ubuntu 14.04 Docker 1.10.3. v1.3.0-rancher3 kubernetes images.
Also got exception in controller-manager logs every time i'am trying to create service with type Loadbalancer:
[code]
Here is screenshot:
![rancher_bug](https://cloud.githubusercontent.com/assets/16287353/19683756/4887a668-9abc-11e6-8d06-ce5a16c86aa8.png)

[2016-10-25 13:35] cabrinoob opened #6386 "Internal server error after adding AD user accounts"
Rancher Version: 1.1.3
Docker Version: 1.11.1
OS: Debian GNU/Linux 8 (3.16.0-4-amd64) on Virtual Machine (Hyper-V on premise)
Setup Details: single node rancher and internal DB
Environment Type: Cattle

Hi,
I just experienced a really big bug after adding users in the rancher accounts UI. Our rancher is connected to our AD.
We are using 1.1.3 version of rancher server and it used to work since 2 m

[2016-10-25 14:26] scream314 commented on #6028
I already deleted Rancher, but I clearly remember a ZooKeeper ensemble was formed in my case.

[2016-10-25 14:50] janeczku commented on #3972
Validate using Route53 template v0.6.0 from rancher/rancher-catalog:qa

[2016-10-25 14:59] janeczku commented on #5612
Validated using Route53 template v0.6.0 from rancher/rancher-catalog:qa

1. Deployed Route53 service
2. Simulated a flapping service that was not managed by Route53 (ie. without a public port)
3. Verified that the change in Metadata due to the service starting/stopping didn't cause Route53 to send API requests to the DNS provider
4. Stopped and restarted services managed by Route53
5. Verified tha

[2016-10-25 14:59] #5612 closed

[2016-10-25 15:02] sangeethah commented on #5179
Cattle Validation tests run on  rancher server version - v1.2.0-pre4-rc5 using Ubuntu 16.04 hosts with docker version 1.12.2  reported ~97% pass rate with some of the usual known failures which are not specific to docker version 1.12.2. There is 1 issue with test runs taking longer than usual which is tracked in https://github.com/rancher/rancher/issues/6366.

K8s validation test run on Ks8 1.4 an

[2016-10-25 15:02] #5179 closed

[2016-10-25 15:13] sangeethah commented on #6189
@StrongMonkey , I still see this issue when testing with v1.2.0-pre4-rc5. I have shared the environment with you.

[2016-10-25 15:18] sangeethah commented on #6128
@ibuildthecloud , Could you provide some information on what scenarios we were seeing project orchestration field to be null before this fix , so I can validate these workflows in particular ?

[2016-10-25 16:08] galal-hussein commented on #3972
@janeczku Tested with the mentioned catalog and the invalid characters are replaced with dashes.

[2016-10-25 16:08] #3972 closed

[2016-10-25 16:18] cjellick opened #6387 "convoy efs not getting proper metadata"
Opening this issue for tracking purposes

See:
- https://forums.rancher.com/t/convoy-initializing-stuck/4350/4
- https://github.com/rancher/convoy-agent/pull/35

[2016-10-25 16:20] scanon commented on #3572
So has this been taken off the table?  This can lead to a many standard catalog recipes not working and it can be very hard to diagnose.  It seems there should be an option to specify whether or not to include the search from the host system or whether to prepend or append it.

[2016-10-25 17:28] westlywright commented on #5410
@tfiduccia before this comes back to test please see the commit comment above which explains a change to the original requirements.

[2016-10-25 17:51] alena1108 commented on #6379
@deniseschannon It is because allocator reads the labels from "labels" table, and for digital ocean host of yours, the labels table has only custom labels (set via cattle), and doesn't have labels that came with the host registration:

[code]

@cjellick could you look at it? I'm not sure if it should be fixed so Allocator reads the labels from the "host" object, or we should fix the host registrat

[2016-10-25 17:53] LLParse commented on #6383
https://github.com/rancher/infra-catalog/pull/29

[2016-10-25 18:19] sangeethah commented on #5352
Tested with rancher-server version -- v1.2.0-pre4-rc5

In the rancher-server setup, I have blocked access to git.rancher.io by adding the following iptables rules:

[code]
Delete all the existing catalog entries for library/community/infra are deleted (This is equivalent of disabling all the catalogs)
At this point , rancher catalog service gets halted and user is presented with error message "The

[2016-10-25 18:19] #5352 closed

[2016-10-25 18:23] sangeethah opened #6388 "In a github blocked setup, Very first template to view any template from any catalog takes a very long time to load."
Tested with rancher-server version -- v1.2.0-pre4-rc5

In the rancher-server setup, I have blocked access to git.rancher.io by adding the following iptables rules:

[code]

Catalog gets presented to the user immediately from the cache.
The very first template to view any template from any catalog from UI takes about 2 mts to load.
After this , every other template in that catalog will load immedia

[2016-10-25 18:26] sangeethah commented on #4903
Tested with rancher-server version -- v1.2.0-pre4-rc5

All the timing issues tracked in the previous comments work as expected after fresh install and after enabling/disabling all catalogs.

There is still issue with very first template to view any template from any catalog takes a very long time to load which is tracked in https://github.com/rancher/rancher/issues/6388

[2016-10-25 18:26] #4903 closed

[2016-10-25 18:33] leodotcloud commented on #6113
ping @MattMencel

[2016-10-25 18:37] sangeethah commented on #6231
Blocked on https://github.com/rancher/rancher/issues/6158 .
Assigning it to @LLParse to take a look.

[2016-10-25 18:39] leodotcloud commented on #4752
We have a lot of infrastructure updates coming up in the next release and as part of our on going efforts we are planning to add support for more networking plugins like Calico, Weave.

[2016-10-25 18:42] leodotcloud commented on #4694
As I mentioned here: https://github.com/rancher/rancher/issues/4752#issuecomment-256132736, we have plans to support other networking plugins like Calico, Weave.

[2016-10-25 18:46] #4694 closed

[2016-10-25 18:46] soumyalj commented on #5556
Tested with v1.2.0-pre4-rc4. If we start a Kubernetes set up with 3 hosts, turn off 2 hosts and turn back only one, then etcd will always try to reach its max scale which is 3. It is expected that it can be stuck in "updating active" state.
The fix done above is to ensure the below, which has been tested and working:
If we start Kubernetes with a one host or a 2 host setup, etcd is not stuck in "u

[2016-10-25 18:46] #5556 closed

[2016-10-25 18:56] bartoszhernas commented on #6208
Thanks a lot! :)

--
Bartosz Hernas

On 22 October 2016 at 13:16:12, Robin Van Cauter (notifications@github.com)
wrote:

[2016-10-25 19:00] rezonant commented on #6208
For what it's worth, I've posted ticket #6344 to request support for `kubernetes.io/ingress.class`, which would allow you to use other ingress controllers like nginx ingress or traefik alongside Rancher controlled ingresses.

[2016-10-25 19:06] vincent99 commented on #6128
A new environment just always started out with `orchestration: null`.. but this is changing again today so don't test it for now.

[2016-10-25 19:08] soumyalj opened #6389 "After deleting the Kuberentes stack, Ingress-lb stack gets recreated and remains in inactive state"
**Rancher Version:**v1.2.0-pre4-rc5

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes(1.4.4)

**Steps to Reproduce:**
1. Create a Kubernetes set up with 2 or 3 hosts.
2. Create serv

[2016-10-25 19:11] soumyalj commented on #5852
After deleting the Kubernetes stack, the ingress-lb stack gets removed and recreated again. Its not a race condition as it happened several times. This issue will be tracked in
https://github.com/rancher/rancher/issues/6389

[2016-10-25 19:11] #5852 closed

[2016-10-25 19:14] cjellick commented on #4322
Confirmed

[2016-10-25 19:14] #4322 closed

[2016-10-25 19:45] astewart-twist commented on #2406
Is this in regards to a jenkins-plugin that would allow jenkins to deploy to rancher via the rancher api?  Because that would be neat.

[2016-10-25 20:07] tfiduccia opened #6390 "Rancher-compose v2 a empty space instead of version number shows up in drop-down"
**Rancher Version:** version 1.2.0-pre4-rc5

**Steps to Reproduce:**
1.  Create a catalog template that uses version: 2 in rancher and docker compose
2.  Add catalog and go to that template

**Results:** Version number is missing in drop-down, I can select the empty spot that it should be and the template is there.
![image](https://cloud.githubusercontent.com/assets/11514927/19701922/559623b6-9ab2

[2016-10-25 20:48] tfiduccia opened #6391 "Using version: 2 in catalog causes only 1 version to show up"
**Rancher Version:**version - 1.2.0-pre4-rc5

**Steps to Reproduce:**
1.  Create a catalog template with two versions
2.  Go to template in rancher

**Results:** Only the last version is showing up.  This could be related to #6390.

**Expected:**  Should see all versions

[2016-10-25 20:59] tfiduccia opened #6392 "Upgrade: Finish Upgrade text stays after you click it, until you refresh"
**Rancher Version:** v1.2.0-pre4-rc5

**Steps to Reproduce:**
1.  Have a catalog template with at least 2 version
2.  Add the template version 1
3.  Click on upgrade available
4.  Upgrade to version 2
5.  Click on Upgrade: Finish Upgrade

**Results:** The upgrade finishes, but the button doesn't change it still says Upgrade: Finish Upgrade until you refresh the page (happens in stack detail and ma

[2016-10-25 21:17] soumyalj commented on #6383
Tested with 1.2.0-pre4-rc5 and the updated catalog  https://git.rancher.io/infra-catalog.git in qa branch. The swarm=manager label on the hosts do not get deleted. Swarm is functional.

[2016-10-25 21:17] #6383 closed

[2016-10-25 21:29] sangeethah commented on #6324
Tested the following scenario with server version - v1.2.0-pre4-rc5:

Start a service with a health check
Kill the endpoint in the container, causing the service to eliminate the container as unhealthy
Ports tab under the service (service.publicEndpoints) reflects the correct list of host ips which does not have the host entry of the deleted container but has the host where the new (reconcolied) c

[2016-10-25 21:55] galal-hussein commented on #4921
**Steps to validate:**

- Select LDAP authentication.
- Enter valid information and credentials.

I was able to enable and authenticate using OpenLDAP.

@dabelenda The issue is fixed, you can check with later version.

[2016-10-25 21:59] galal-hussein commented on #6323
@westlywright Tested on Master image (25 Oct), an error "Unauthorized" appeared as expected.

[2016-10-25 21:59] #6323 closed

[2016-10-25 22:03] stefanlasiewski commented on #3572
Due to this issue, the "CREATE A MULTI-CONTAINER APPLICATION" section in the [Quick Start Guide](http://docs.rancher.com/rancher/v1.2/en/quick-start-guide/) doesn't work for me.

The guide says:

However, in my case, the Wordpress containers cannot find the mysql container:

[code]

As a workaround, if I manually log into the container and hardcode the IP address for the mysql container, the Wordp

[2016-10-25 22:08] tfiduccia opened #6393 "external service requires refresh to show up"
**Rancher Version:** v1.2.0-pre4-rc5

**Steps to Reproduce:**
1.  Create a stack and add an external service

**Results:** External service doesn't show up until you refresh the browser

**Expected:**  Should not have to refresh to see service

[2016-10-25 22:08] mrajashree commented on #6392
@tfiduccia I tried with the kubernetes template of infra-catalog, it had two versions
1) I clicked on upgrade available
2) then on upgrade
3) then without refresh it changed to `Upgraded`

[2016-10-25 22:09] tfiduccia commented on #6222
version - 1.2.0-pre4-rc5
Verified fixed

[2016-10-25 22:09] #6222 closed

[2016-10-25 22:09] tfiduccia commented on #6355
Version - 1.2.0-pre4-rc5
Verified fixed

[2016-10-25 22:09] #6355 closed

[2016-10-25 22:10] tfiduccia commented on #6392
@mrajashree - not using kubernetes environment.  Just plain cattle with standard catalog template.

[2016-10-25 22:14] sangeethah commented on #6324
The 1 issue I see that the host gets added to the service.publicEndpoints , even before the container is fully started (even when it is in starting state).

[2016-10-25 22:20] sangeethah commented on #6324
@schuylr  , I am not able to reproduce the issue where host entries of the removed (unhealthy) containers are still present in the publicEndpoints parameter for the service when testing on a setup that had 6 hosts and service with scale 5.

Could you retest with server version - v1.2.0-pre4 when it is available to see if you still face this issue?

[2016-10-25 22:20] #6324 closed

[2016-10-25 22:36] tfiduccia commented on #5946
Version - 1.2.0-pre4-rc5
Verified fixed

[2016-10-25 22:36] #5946 closed

[2016-10-25 23:33] tfiduccia commented on #5151
Version - 1.2.0-pre4-rc5
I have tried multiple variations of user/group/security permissions and have not been able to recreate the issue.  If you find the issue is still persistent, please reopen issue.

[2016-10-25 23:33] #5151 closed

[2016-10-25 23:33] westlywright commented on #6071
@prachidamle Is there a trick to getting the catalog service to pull the updated catalog? When selecting the refresh icon from the UI it fires off the get catalogs call correctly. The only way I was able to update the image of a catalog item was by removing my catalog in the ui and adding it with a different name. If I gave it the same name as my previous catalog the old version of the templates e

[2016-10-25 23:44] tfiduccia commented on #6072
Version - v1.2.0-pre4-rc5
Verified fixed

[2016-10-25 23:44] #6072 closed

[2016-10-26 00:03] JayHaoDing opened #6394 "rancher-compose logs --lines option does not work"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Create and start a container
1. Use `rancher-compose logs` to get logs from that container
1. Use `rancher-compose logs --lines="1000"` to get more logs from that container

**Results:**
Same lines of logs (around 100) are returned not matter  `--lines` is

[2016-10-26 00:06] JayHaoDing commented on #6394
Sorry, totally duplicated with #4334

Before opened this issue, I searched issue list by keyword **logs** in title but that one used **log** so I missed :(

[2016-10-26 00:06] #6394 closed

[2016-10-26 00:08] sangeethah commented on #1370
@ibuildthecloud , I tried to test the following scenario and it works fine even when testing with v1.2.0-pre4-rc5:

Added a custom host by running registration url command on an Unbuntu VM.
Host gets to "Active" state successfully.
Deployed few containers on this host.
Now "Deactive" and "Delete" this host.

From the host:
docker rm -f  <rancher/agent-instance> <rancher/agent>
Rerun registration u

[2016-10-26 00:22] sangeethah commented on #1370
@ibuildthecloud @StrongMonkey , I am also able to delete a host from from 1 environment and add it to another environment successfully  using  v1.2.0-pre4-rc5.

Please confirm , what needs to done to specifically test rancher/cattle#2117 ?

[2016-10-26 00:34] mrajashree commented on #6390
Seems to work if `.catalog` is included under services for v2

[2016-10-26 00:36] mrajashree commented on #6391
Seems to work if `.catalog` is included under services for v2

[2016-10-26 00:37] sangeethah commented on #6281
Tested with rancher server version - v1.2.0-pre4-rc5.

Following fields that were missing are now present in exported yml file:

 --device-read-bps=[] Limit read rate (bytes per second) from a device
 --device-read-iops=[] Limit read rate (IO per second) from a device
 --device-write-bps=[] Limit write rate (bytes per second) to a device
 --device-write-iops=[] Limit write rate (IO per second) to

[2016-10-26 00:41] sangeethah commented on #6281
Following changes suggested by @joshwget , is also available now:

[code]

[2016-10-26 00:41] #6281 closed

[2016-10-26 00:51] mrajashree commented on #6392
@vincent99 I don't think it's a catalog-service bug since the calls corresponding to upgrade and finishUpgrade go to `v2-beta/projects/1a5/stacks`.

[2016-10-26 00:52] schuylr commented on #6324
@sangeethah Thanks - let's hope for this.

[2016-10-26 01:59] frleb commented on #5151
On my side, I tested it this afternoon, and I can now activate the active directory access control.

Thanks again !

[2016-10-26 02:22] juanluisbaptiste opened #6395 "sidekick containers with no hosted data volumes deleted on server reboot"
**Rancher Version:**

1.1.4

**Docker Version:**

1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

Baremetal, Ubuntu 16.04.1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single node, internalDB, one rancher server and several machines with the agent installed.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle.

**Step

[2016-10-26 02:41] deniseschannon commented on #6391
Closing in favor of https://github.com/rancher/rancher/issues/6210

[2016-10-26 02:41] #6391 closed

[2016-10-26 02:42] deniseschannon commented on #6390
Closing in favor of https://github.com/rancher/rancher/issues/6210. We should re-test after it's fixed.

[2016-10-26 02:44] deniseschannon commented on #1370
@sangeethah I don't think there's any specific use case to test it, but there have been times where people have had issues. Closing as you don't seem to face the issue.

[2016-10-26 02:44] #1370 closed

[2016-10-26 02:58] deniseschannon commented on #6382
After you cancel upgrade, you actually want to "rollback" as you still want to go back to your previous state.

Finishing upgrading in a `cancelled-upgrade` state is still going forward with the upgrade. For v1.2.0, we've changed this state/options so it's less confusing.

[2016-10-26 02:58] #6382 closed

[2016-10-26 03:40] deniseschannon commented on #5084
@andrewcstewart Workaround for which one? Docker Machine doesn't support being able to apply a cloud-config through userdata, which is something we can't support.

But if you're looking for a workaround for #1219, if you're running RancherOS v0.7.0, you can run

[code]

for the limit issue that @roderik had referenced.

[2016-10-26 06:04] deniseschannon commented on #4334
Verified in rancher-compose v0.11.0-rc5 that `--lines` has been removed

[2016-10-26 06:15] kvaes opened #6396 "Rancher unable to add hosts when using SSL termination (in combination with the Azure Application Gateway)"
**Rancher Version:** 1.1.4

**Docker Version:** 1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher running on an Ubuntu host which is running on Azure

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Rancher is published to the outside world via an azure application gateway.
This has been done as the component to do the SSL termi

[2016-10-26 06:25] soumyalj commented on #6194
Tested with v1.2.0-pre4-rc5. Used CoreOS 1185.2.0 server and 3 hosts [Docker 1.11.2].
1. Started rancher server using the following command
docker run -d --restart=unless-stopped -p 8080:8080 rancher/server:v1.2.0-pre4-rc5
2. Added the hosts using the URL from "add host" button
3. After a minute, the hosts were registered successfully
4. Container creation was fine too

[2016-10-26 06:25] #6194 closed

[2016-10-26 06:52] DirkBrand commented on #3248
@rb1980 I have exactly the same issue as you, but using a private Bitbucket instance with a repo that I made public (i.e. no username and password required).  Catalog service doesn't like that.  I tried using http rather than https, but that didn't help.  What do you mean by 'turning https off'?

[2016-10-26 07:44] cpoole commented on #5992
I see the same behavior. Ubuntu 16.04 AWS
Docker 1.11.2
Rancher 1.1.1

error in chrome console:
[code]

hard refresh didnt work, clearing cache for page and entire domain didnt work. incognito mode didnt work.

A restart of the rancher/agent container on the instance _solved_ the problem

looking through the rancher agent logs reveals nothing out of the ordinary. The only thing that has changed on

[2016-10-26 07:49] cpoole commented on #6374
@jwhitcraft sounds similar to a problem I had.

I found a solution to my issue here https://github.com/rancher/rancher/issues/5470#issuecomment-234069594

maybe itll help you too?

[2016-10-26 08:18] mediatainment commented on #6056
I searched in the EC2 AMI list: found these 0.4.5 images:

 **ami-32e9055d**
rancheros-v0.4.5-0-amazon-ecs-optimized-e5e5ad54-a7ab-429a-9f04-c8b8ef7e7a1d-ami-6529c708.3
**Error:**
[code]

and this:

**ami-b241acdd**
rancheros-v0.4.5-0-amazon-ecs-optimized - ami-b241acdd
**Error:**
`Error in driver during machine creation: Error launching instance: InvalidAMIID.NotFound: The image id '[ami-4574e036

[2016-10-26 08:50] DirkBrand opened #6397 "Rancher private catalog not working"
**Rancher Version:** v1.1.4

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** RHEL nodes in the cloud (Azure)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node rancher connected to 3 clustered hosts.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** I added a private ca

[2016-10-26 09:42] Dreampie opened #6398 "Memory data error?"
rancher 1.1.4
os ubuntu 14.04
docker 1.12.1
![image](https://cloud.githubusercontent.com/assets/3667080/19721052/3e6125a0-9ba3-11e6-9d26-d3c91139dd86.png)
![image](https://cloud.githubusercontent.com/assets/3667080/19721175/b92ca660-9ba3-11e6-869c-3044f71da307.png)

[2016-10-26 10:51] boskiv opened #6399 "No hosts in storage pool after installing NFS-Convoy from catalog"
**Rancher Version:**
1.2.0-pre4-rc4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
vmware esxi vm's on ubuntu 16
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Swarm
**Steps to Reproduce:**
Setup NFS on Ubuntu server
Install Convoy-NFS from catalog (

[2016-10-26 10:56] boskiv commented on #6399
I have upgraded to 1.2.0-pre4-rc5 but still no effect. As I remember in Cattle cluster I have no this issue.

[2016-10-26 11:13] kvaes commented on #6396
Debugging attempt #2 ;
When I add an additional listener to the application gateway on port 80 => HTTP & No SSL Termination

Next up, I use http:// instead of https://, then it works (again) from a mgmt perspective. When I try to add the host, same situation as mention above...

When checking the logs of the agent, I do notice that the first part of the log doesn't shop anything odd when contactin

[2016-10-26 11:24] kraucer commented on #6329
Tk's ymc-dabe. I will test the new version and send feedback.

[2016-10-26 11:37] kraucer commented on #6329
@ymc-dabe has some version (same old) in the HA to work's fine?

[2016-10-26 12:16] ymc-dabe commented on #6329
@kraucer The current stable (1.1.4) is working just great in ha-mode.

btw.: 1.2.0-pre4-rc4 was failing in ha-mode with different errors. I'll try to check if 1.2.0-pre4-rc5 works (or just wait for 1.1.2 to get released, which should be in a few days).

[2016-10-26 12:22] meons opened #6400 "503 Service Unavailable when trying to access Catalog or Machine Drivers"
I have the following issue with Rancher 1.1.4. When I'm trying to access Catalog or Admin->Machine Drivers I always get a 503 Service Unavailable error. I see nothing about this 503 error in /var/lib/cattle/logs inside rancher-server container.

I'm confused because I have exactly the same installation on another host with same Docker version (1.12.2) and it works perfectly.

How can I fix that ?

[2016-10-26 12:24] omegarus opened #6401 "Creating pod from yaml file leading to big number of stopped pause-amd64:3.0 containers before starting the pod."
**Rancher Version:**
v1.2.0-pre3
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
VMware Ubuntu 14.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher-server with two hosts
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes v1.3.0-rancher3
**Steps to Reproduce:**
run:

[code]

here is

[2016-10-26 12:35] JulianKingman commented on #2406
@astewart-twist that's what I was hoping for

[2016-10-26 13:19] eduwass commented on #2096
Hi, just stumbled with this, wondering if this was/is ever going to be done, I personally would find it quite useful. Cheers

[2016-10-26 13:22] deitch commented on #2096
Wow, been a year? Wish I had the time to dig into the code and implement.

[2016-10-26 13:54] kaos commented on #5833
Ok, I managed to reproduce this now.

** Steps to reproduce **

As above, then go to _Admin/Accounts_ then to _API_, it now shows ALL api keys for ALL environments, not just the current one. Reloading the page will get the list back down to show only the current environments API keys again.

[2016-10-26 16:00] vincent99 commented on #6396
I'm not familiar with the Azure service, but this sounds like websockets aren't working.  Does the UI stay connected to `/v1/projects/<id>/subscribe` and show received frames?

[2016-10-26 16:44] kvaes commented on #6396
When I browse to it from a client (windows 10 / chrome), I'm able to load the page with the following source ;

<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="https://releases.rancher.com/api-ui/1.0.4/ui.min.css" />
<script src="https://releases.rancher.com/api-ui/1.0.4/ui.min.js"></script>
<script>
var user = "Personal Labo - kvaes";
var curlUser='${CATTLE_ACCESS_KEY}:${CATTLE_SECR

[2016-10-26 16:45] ebr commented on #6375
I believe this has to do with nginx caching the upstream IPs. The way we're working around this is by running a dnsmasq daemon inside the nginx container, and nginx using that as a resolver. This way any changes to the Rancher services are resolved transparently to nginx.

`dnsmasq.conf`:
[code]

`nginx.conf`:
[code]
`Dockerfile` to build nginx image (just the relevant parts):
[code]

[2016-10-26 17:22] kvaes commented on #6396
When setting the host url back to the HTTP listener, I setup a tcpdump to see what was going on...

[screenshot01](https://i.imgsafe.org/0e60a242fa.png)
[screenshot02](https://i.imgsafe.org/0e60ba6c67.png)

[2016-10-26 17:23] westlywright commented on #6071
@prachidamle it seems the api is not letting the browser know that it needs to clear the cache of the image. @vincent99 indicated this could be done with "etags" and the "last-modified" header.

[2016-10-26 17:30] vincent99 commented on #6396
Open up the chrome dev tools -> network tab, reload the page, look for the subscribe request.  The status should be `101 Switching Protocols` and once you click on it have a Frames tab that shows at least a ping every 5 seconds.  If it says `200 OK` or something else then you're not establishing a websocket.  (The agent also uses websockets).

![image](https://cloud.githubusercontent.com/assets/75

[2016-10-26 17:36] kvaes commented on #6396
Looks good? (test with http over the application gateway)

<img width="1075" alt="2016-10-26 19_34_11-for follow up - karim vaes xylos com - outlook" src="https://cloud.githubusercontent.com/assets/10435278/19737364/74865dac-9bb3-11e6-84b4-54fed78d7c8e.png">
<img width="499" alt="2016-10-26 19_35_08-developer tools - http___mgmt kvaes be_" src="https://cloud.githubusercontent.com/assets/10435278/1

[2016-10-26 18:05] aemneina commented on #6396
Azures App Gateway doesn't play nice with websockets. I've run into this recently and reverted to their regular LB.

[2016-10-26 18:13] kvaes commented on #6396
@aemneina ; thanks for the tip, though websockets should be supported ... https://azure.microsoft.com/en-us/documentation/articles/application-gateway-websocket/

The disadvantage of the LB is that it can't do SSL offloading, which is something that is a feature lacking in Rancher itself.

[2016-10-26 18:49] prachidamle commented on #6071
@mrajashree can you check with @vincent99 what needs to be set in the response

[2016-10-26 19:05] galal-hussein opened #6402 "OpenLDAP: Can't add groups to evironments"
**Rancher Version:**
master image (26 Oct)
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
- Enable LDAP authentication
- Go to manage environments
- Ad

[2016-10-26 19:05] prachidamle commented on #6386
The the 'setting' table has been changed and the length of the 'value' column is changed to be MEDIUMTEXT for mysql. This should be fixed now.

[2016-10-26 19:53] #6402 closed

[2016-10-26 19:53] prachidamle commented on #6402
Use groups class as 'groupOfNames' and test.

[2016-10-26 19:54] galal-hussein commented on #6402
tested with 'groupOfNames' and worked, thanks!

[2016-10-26 20:00] prachidamle commented on #3875
@frol had a question about the ldap setup you tested with, is the memberOf property on your ldap setup a basic attribute or is it set via memberOf overlay causing it to be operation attribute?

[2016-10-26 20:30] soumyalj commented on #6114
Tested with v1.2.0-pre4-rc5 using the catalog https://git.rancher.io/infra-catalog.git in qa branch (version v1.12-rancher0). Followed the steps mentioned above and  did not see the issue. Swarm was functional.

[2016-10-26 20:30] #6114 closed

[2016-10-26 22:33] prachidamle commented on #3875
@vincent99 @wes backend has added two new properties to the openldapconfig object. When Open LDAP is being configured, UI should show two text boxes to accept the value of these fields. By default, the following should be the values the fields have:

groupDNField (default: 'distinguishedName')
groupMemberUserAttribute (default: 'uid')

you should see these added in the schemas.

[2016-10-27 00:08] soumyalj opened #6403 "If ports are opened after adding the host to the swarm, the swarm container is stuck in initializing state"
Rancher Version:: 1.2.0-pre4-rc5

Docker Version::1.12.2

OS and where are the hosts located? (cloud, bare metal, etc):: Ubuntu, Cloud

Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)Single node rancher
Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

Steps to Reproduce:
1. Create a 2 host set up using gce hosts
2. Add the infra catalog with https://git.r

[2016-10-27 00:21] cjellick commented on #6249
Fixed, I think. When I create a service with the following launch config:
[code]
and I don't have any hosts with 200 cpu available, I get the following error message:
[code]

That said, if you have a combination of issues where you _do_ have a host with enough cpu but that host doesn't have specified port available, then the message reported will be "host needs port..."

[2016-10-27 00:27] cjellick commented on #6250
After discussion with @will-chan, I'm going to move this out of 1.2.

[2016-10-27 00:33] soumyalj commented on #5897
Tested with v1.2.0-pre4-rc5. I was able to :
1. Add a host -> ec2 -> us-east-1 -> ami-4f680658
The host was added successfully with Docker 1.12.2
Container creation worked fine too.

[2016-10-27 00:33] #5897 closed

[2016-10-27 00:35] cjellick commented on #6253
Fixed.

[2016-10-27 01:21] sangeethah opened #6404 "Do not include empty entry for blkio_weight_device and change ipc_mode to ipc in generated config."
Rancher server version  - v1.2.0-pre4-rc5

Create a service with following fields set in launch config:
[code]

In the generated yaml for this stack ,  do not include empty entry for blkio_weight_device and change ipc_mode to ipc in generated config.
[code]

[2016-10-27 02:52] soumyalj opened #6405 "Deletion of service/rc/pods within a namespace is unsuccessful through UI"
**Rancher Version:**v.1.2.0-pre4-rc5

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

**Steps to Reproduce:**
1. Create a Kuberentes(1.4.4) set up with infra catalog qa branch
2.

[2016-10-27 02:54] deniseschannon commented on #5461
@joostliketoast @averri Please reopen if you still have issues.

[2016-10-27 02:54] #5461 closed

[2016-10-27 06:53] kkvilekval commented on #6274
I did get this working and  want to close this issue with a comment for future reference:

1.   Ensure that all rancher worker  are initializing with the private  IP address even those nodes that may have Public IPs.
2.  initialze with CATTLE_AGENT_IP= Private IP of worker
3.  You will still be able to connect to ports available on nodes with a public IP address unless you have a firewall somewher

[2016-10-27 06:53] #6274 closed

[2016-10-27 08:19] wadjeroudi commented on #3691
@deniseschannon Shouldn't the rancher agent be on restart always too (I get it about the 3 commands but it should handle the case) ? Because when you reboot, the host won't be recognized by rancher server.
On a blogpost, someone proposes to add an autostart unix service.
http://anlek.com/2016/07/rancher-agent-start-on-reboot/

What is the best practice ? Thx.

[2016-10-27 08:34] omegarus commented on #6270
Does this fix included in v1.2.0-pre4-rc5 image ?

[2016-10-27 09:47] omegarus opened #6406 "Deploying kubernetes environment from local repository fails."
**Rancher Version:**
v1.2.0-pre4-rc5
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04/VMware
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node with one host.
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4 infra-catalog qa branch.
**Steps to Reproduce:**
I'am  trying to depl

[2016-10-27 10:01] pschrammel opened #6407 "upgrades from catalog ignore upgrade_strategy"
**Rancher Version:** 1.12

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle

**Steps to Reproduce:**

excerpt from rancher-compose.yml of a catalog entry:
haproxy:
  scale: 1
  upgrade_strategy:
    start_first: true
    batch_size: 20

**Results:**

the upgrade ignores any se

[2016-10-27 11:46] T-Grave commented on #6208
@bartoszhernas Seeing as I currently lack the time to get on this, here's the repo I used to base my own image off: https://github.com/phutchins/kubernetes-ssl-manager

[2016-10-27 12:06] priyankaghadage opened #6408 "Adding Mongo service in Rancher-Mesos using marathon framework"
**Rancher Version:** v.1.1.4

**Docker Version:**1.11

**OS and where are the hosts located?** AWS Ubuntu 14.04

**Setup Details:**  HA rancher
three nodes with three mesos-master and three mesos-slaves

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Mesos

**Steps to Reproduce:**
Created 3 hosts using RancherUI envorment type Mesos.
Install Marathon on Mesos through Rancher UI and able to

[2016-10-27 13:22] jwhitcraft commented on #6374
@cpoole that worked for me.  Thanks for pointing me to it.

[2016-10-27 13:55] kevin-thorpe commented on #6303
This is very much a requirement for us. In my case it's for Elasticsearch where each node stores only part of the database but any service that shards information will have the same requirement. Anonymous (UUID) volumes won't cover this properly as if you lose all or quorum on the cluster you'd have to dig around to find out which volumes constituted the last working set.

[2016-10-27 14:35] cjellick commented on #3691
@wadjeroudi the container that is named rancher-agent, the final 1 of the 3 start and the one that matters, should and typically does have an always restart policy. If you are seeing something different, its a bug.
[code]

[2016-10-27 14:36] cjellick commented on #6303
@will-chan @alena1108 this is pretty close to the "scoped" volumes work that @ibuildthecloud has already done for 1.2. Is there actually any new work to do here?

[2016-10-27 14:40] wadjeroudi commented on #3691
@cjellick Thanks. Don't why but before I was on v1.2.0-pre3, it didn't autostart, it does now. Sorry.

[2016-10-27 15:49] T-Grave opened #6409 "[question] SSL redirection and LetsEncrypt"
**Problem**
I have an Ingress resource that looks like this:

[code]

My service is available using `https://example.com` and my renewal process for the certificate seems to work as well.

I would however like all http traffic to be redirected to https. Currently when I visit `http://example.com` it doesn't redirect the user to the `https` version.

I know I could redirect all traffic on port 80 t

[2016-10-27 16:36] galal-hussein commented on #4921
Null pointer checks were added to prevent any null values to be processed, The OpenLDAP tested on master image (25 Oct) and worked.

@dabelenda you can test the fix on your setup with later version, and feel free to re-open the issue if the problem still happening.

[2016-10-27 16:36] #4921 closed

[2016-10-27 16:41] feffi commented on #3887
+2

[2016-10-27 16:41] feffi commented on #438
+2

[2016-10-27 17:02] westlywright commented on #5738
@tfiduccia I updated the way machine driver icons are displayed.

- Catalog driver: Before activation if there is an icon link we'll display this icon otherwise the generic
- Built driver: pulls image from static list we have hosted

Here is the caveat, when we activate a catalog driver we are adding a new machineDriver record to the user store. Afaict there is no way to send an image url to that

[2016-10-27 17:09] deniseschannon commented on #6406
Can you do a simple test on whether or not regular services can be launched from this registry (outside of the kubernetes stack)?

I am trying to isolate if it's a registry issue.

[2016-10-27 17:12] tfiduccia commented on #6399
This is a duplicate #6097

[2016-10-27 17:12] #6399 closed

[2016-10-27 17:13] sangeethah opened #6410 "Update the gif for "Rancher Scheduler" template"
Rancher Server version - From master
Infra catalog - https://github.com/rancher/infra-catalog.git from branch 1.2
"Rancher Scheduler" template from Infra catalog has "Rancher NFS" gif.

[2016-10-27 18:20] sangeethah commented on #6249
Tested with Rancher server build from master.
Infra catalog - https://github.com/rancher/infra-catalog.git from branch 1.2

Order in which allocator works is - external scheduler. then ports, labels .

1. When there are no hosts with enough resources but with required host labels  , then we see the "No healthy hosts meet the resource constraints" error message
2. When there are  hosts with enough

[2016-10-27 18:20] #6249 closed

[2016-10-27 18:46] sangeethah commented on #6253
Tested with latest build from master:

Set up has 3 hosts (h1,h2,h3) out of which 1 of the host (say h1) does not have enough resources to deploy primary container and sidekick.

Deploy a service having  sidekick with scale 2  having both mem/cpu reservations set on both primary and sidekick containers.

All containers of the service comes up successfully in the h2 and h3 as expected.
Scale up ser

[2016-10-27 19:11] sangeethah commented on #6253
Other scenarios that were tested:

Scenario 1:

Set up has 3 hosts (h1,h2,h3) out of which 1 of the host (say h1) does not have enough resources to deploy primary container and sidekick.

Deploy a service having sidekick with scale 2 having both mem/cpu reservations set for only sidekick container.

All containers of the service comes up successfully in the h2 and h3 as expected.
Scale up service

[2016-10-27 19:11] #6253 closed

[2016-10-27 19:24] jasonhillier commented on #6398
I believe Rancher's memory usage graph is not accounting for linux disk cache. Try running:
#: free -h
             total       used       free     shared    buffers     cached
Mem:          2.0G       1.9G        75M       2.3M        66M       1.4G
-/+ buffers/cache:       387M       1.6G
Swap:           0B         0B         0B

I've noticed a similar issue and would like to see this excluded f

[2016-10-27 19:31] ebr opened #6411 "Services in "Upgraded" state do not restart crashed containers"
**Rancher Version:**
1.1.2

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS, Ubuntu 16.04

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, ext db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
- Create a service (in our case: globally scheduled, restart Always

[2016-10-27 19:53] deniseschannon commented on #6411
Is there a reason why you're leaving your service in upgraded state versus finishing the upgrade so the service is in `Active` state?

[2016-10-27 19:55] deniseschannon commented on #6398
@Dreampie @jasonhillier Our container stats are changing in the next release of Rancher (v1.2.0) so that we are no longer relying on cadvisor and switching to `docker stats` for container stats.

When using v1.2.0, if you are facing issues with container stats, then `docker stats` would be reporting it incorrectly.

[2016-10-27 19:55] #6398 closed

[2016-10-27 20:13] jim12321 commented on #2143
+1

[2016-10-27 20:16] tfiduccia opened #6412 "Spread containers by default if there is no resource request"
**Rancher Version:** master 10/27

**Comments:**
Currently if resource based scheduling is on but no cpu or memory resource is given, container placement is random.  We should spread containers by default in this instance.

[2016-10-27 20:18] tfiduccia commented on #6073
Version - master 10/27
Verified fixed

[2016-10-27 20:18] #6073 closed

[2016-10-27 20:33] kvaes commented on #6396
Out of curiosity, I tried all older versions up to the v1.0.0 release and all have the same effect.

[2016-10-27 20:39] deniseschannon commented on #6410
@sangeethah This is fixed in the new `infra-templates` folder in the `library` catalog. I don't believe you'll be able to see it until the next RC

[2016-10-27 20:53] ebr commented on #6411
This is an easy rollback route in case we see issues with the upgraded service. Someone (anyone) can just go in and click "rollback" at a moment's notice, as opposed to trying to find and deploy a previous version of the image.

Currently, as a matter of policy, no one is supposed to leave an `Upgraded` service unattended. But this is not reliable, as there may be a myriad of reasons a service is

[2016-10-27 21:21] prachidamle commented on #5380
@florck if your AD does not have the 'userAccountControl' field, then you can set it as empty in the config while configuring AD. This will set the appropriate setting in the DB to "" - you don't have to manually change the db setting.

Check the screenshot of the AD config and the fields to be left empty are circled.

<img width="1393" alt="screen shot 2016-10-27 at 2 11 48 pm" src="https://cloud

[2016-10-27 22:59] galal-hussein commented on #6386
I have been able to add more than 20 users to the accounts in Rancher master image (27 Oct), the value for this setting in setting table has more than 1440 characters:

[code]

[2016-10-27 22:59] #6386 closed

[2016-10-27 23:18] soumyalj opened #6413 "Swarm container is stuck in initializing state after the swarm manager is powered OFF and powered ON"
**Rancher Version:**v1.2.0-pre4-rc5

**Docker Version:**v1.12.3/1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Swarm

**Steps to Reproduce:**
1. Create a swarm setup with 4 hosts (3 manager setup)
2. Create a

[2016-10-27 23:24] LLParse commented on #6413
Context: Old manager came back online, was unable to communicate with the other managers (since it was removed) and got stuck in a `pending` state:
[code]
We should add logic to detect nodes stuck in `pending` state. After a certain period of time passes, force remove it from the swarm.

[2016-10-27 23:27] vincent99 commented on #6396
That does look fine from the browser side, I'm not sure why the agent connection has problems then, maybe the Go client uses a different version or extensions than browsers send.

[2016-10-27 23:37] tfiduccia commented on #6364
Version - master 10/27
Verified fixed

[2016-10-27 23:37] #6364 closed

[2016-10-27 23:52] westlywright commented on #5738
@tfiduccia vince and i figured out a workaround without adding extra params to the api, so this should be g2g when the pr is merged

[2016-10-27 23:56] tfiduccia commented on #5927
Version - master 10/27
Verified fixed

[2016-10-27 23:56] #5927 closed

[2016-10-28 00:04] tfiduccia commented on #5850
Version - master 10/27
Not fixed

Description should be on top for consistency.  Like for Host and containers.

[2016-10-28 00:21] tfiduccia commented on #6343
Version - master 10/27
Verified fixed

[2016-10-28 00:21] #6343 closed

[2016-10-28 00:26] tfiduccia commented on #6166
Version - master 10/27
Verified fixed

[2016-10-28 00:26] #6166 closed

[2016-10-28 07:26] huhongda opened #6414 "set dns unuseful"
hi,
   I find a problem about I use docker-compose.yml configurate the dns, but the dns still invalid, eg.
docker-compose.yml
[code]
in docker contrainer will become this
[code]
why the nameserver noted?

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`authenticated.project.help`|

[2016-10-28 07:37] apertureless opened #6415 "Volume Only Container degraded and restarting all the time"
**Rancher Version:** 1.1.2

**Environment Type:** Cattle
---

I have two containers. One running mysql and a sidekick for the volume.

_docker-compose.yml_

[code]

However the dbdata container keeps getting degraded all the time and then stopping and starting again. In docker compose on my local machine it seems working fine.

[2016-10-28 08:20] huhongda commented on #6414
fixed: use the container lable
[code]

[2016-10-28 08:20] #6414 closed

[2016-10-28 08:32] guzmo commented on #4657
This is greatly missed :)

[2016-10-28 09:43] roffe opened #6416 "Spelling error under add project in gui - dcoker"
**Rancher Version:**
1.1.4

Spelling error in the frontend-ui

says dcoker-compose.yml under add project

<img width="372" alt="screen shot 2016-10-28 at 11 41 56" src="https://cloud.githubusercontent.com/assets/5434736/19802357/939a6368-9d03-11e6-9b13-df094d124710.png">

[2016-10-28 10:24] kraucer commented on #6329
When I run the script in version 1.1.4 this error occurred:
time="2016-10-19T08:21:50Z" level=info msg="Waiting for server to be available" component=cert
time="2016-10-19T08:21:50Z" level=info msg="Can not launch agent right now: Server not available at http://192.168.169.2:18080/ping:" component=service

Note that it looks for the agent on the IP 192.168.169.2 when it should be the IP 192.168.16

[2016-10-28 10:40] ymc-dabe commented on #6329
@kraucer I followed http://docs.rancher.com/rancher/v1.1/en/installing-rancher/installing-server/multi-nodes/ for a three nodes setup and it worked out of the box with 1.1.4.
In a three node setup you need to run the ha-script on three different servers. The waiting message is normal during startup is normal and will go away once all the zookeeper instances start seeing each other and the admin UI

[2016-10-28 10:46] guzmo commented on #6243
Have the same problem, recently it's very common it fails to run rancher-compose. The other times it works so its nothing wrong with the docker-compose/rancher-compose files.

[2016-10-28 10:59] AlexGrs opened #6417 "Impossible to start kubernetes cluster on azure"
**Rancher Version:**
Rancher v1.1.4
User Interface  v1.1.14
Rancher Compose v0.8.6

**Docker Version:**
Docker version 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 - Azure A2 machine - Resource Group

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher (used for testing purpose)

**Environ

[2016-10-28 13:17] saphoooo opened #6418 "Kubelet keeps crashing on k8s"
**Rancher Version:**
server:v1.2.0-pre4-rc5
**Docker Version:**
Docker version 1.12.1, build 23cf638
**OS and where are the hosts located? (cloud, bare metal, etc):**
v0.6.1 on Amazon ec2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
K8s
**Steps to Reproduce:**
Set up a K8s env

[2016-10-28 13:18] saphoooo commented on #6418
Independently of the K8s version, 1.2 or 1.3.

[2016-10-28 13:41] Chris7 opened #6419 "Docker ps hangs when convoy-nfs cannot mount a volume"
**Rancher Version:**
1.1.4

**Docker Version:**
1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04 VM in OpenNebula cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
This is a slightly strange bug as it is not quite "reprodu

[2016-10-28 14:22] abeMedia opened #6420 "Support for dynamic question type in catalog"
I have a use case where I created a catalog entry for an API gateway which needs to be linked to a dynamic amount of other services, with a few configuration parameters for each one. Currently the only way to do this is with a multiline field containing JSON, YAML or similar, however this is not very intuitive.

It would be awesome if the catalog supported a new type which rendered exactly how the

[2016-10-28 16:44] sangeethah opened #6421 "LB with ssl ports stuck in "Initializing""
Rancher server version - Build from LbRefactor code

Steps to reproduce the problem:
Create a LB service with ssl listening ports and provide default cert.
LB with ssl ports stuck in "Initializing" state forever.

logs from haproxy container:

[code]

frontend configuration:

[code]

[2016-10-28 17:26] prachidamle commented on #6365
@alena1108 questions:

steps to reproduce:
- try to start kubernetes from Infra catalog.
     Just checking - Is infra catalog going to go away? or is it getting replaced by some other catalog?
- "system" flag for the kubernetes gets set to "false"
     Who sets this flag and where is it read from?

[2016-10-28 17:44] tfiduccia opened #6423 "Environment sits in removed state until refresh"
**Rancher Version:**v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Go to manage environment
2.  Add a Environment
3.  Deactivate environment (notice it changes to Inactive)
4.  Delete environment

**Results:** Notice the environment sits in a "Removed" state until you refresh the page
![image](https://cloud.githubusercontent.com/assets/11514927/19815734/143dbffc-9cf9-11e6-98af-23b53787ed83.png)

**E

[2016-10-28 17:45] tfiduccia commented on #6084
Reviewed and fixed in v1.2.0-pre4-rc6

[2016-10-28 17:45] #6084 closed

[2016-10-28 17:45] sangeethah opened #6424 "UI shows "Creating Kubernetes system stack.." page and no access to pods/rc/kubectl shell even after k8s system stack is deployed successfully."
UI shows "Creating Kubernetes system stack.." page and no access to pods/rc/kubectl shell even after k8s system stack is deployed successfully.

Steps to reproduce the problem:
Create an environment template with K8s service enabled.
Add an environment with this template.
K8s system stack comes up successfully in this environment.
But UI continues to show "Creating Kubernetes system stack.." page

[2016-10-28 17:47] tfiduccia commented on #6416
Version - v1.2.0-pre4-rc6
This was fixed in newer versions quite a while ago.

[2016-10-28 17:47] #6416 closed

[2016-10-28 18:00] alena1108 commented on #6365
@deniseschannon is infra-catalog goes away?

@prachi UI/rancher-cli set this flag. But you can as well test it manually by creating stack with system flag by owner/admin user.

[2016-10-28 18:03] tfiduccia opened #6425 "grid lines are missing on main and detail service pages"
**Rancher Version:** v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Add a catalog that will add a bunch of services

**Results:** Notice the grid lines for the bottom two services are missing.  Also when it's done, it makes the last service both grey and white.
![image](https://cloud.githubusercontent.com/assets/11514927/19816853/d8b2e142-9cfd-11e6-9a17-32ae1f6c2f0b.png)
![image](https://cloud.githu

[2016-10-28 18:09] tfiduccia opened #6426 "Host detail page constantly throwing error in development tools"
**Rancher Version:** v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Open dev tools
2.  Go to host detail page

**Results:** Error is constantly throwing.
ember.prod.js:18000 Uncaught TypeError: Cannot read property 'indexOf' of undefined(…)

**Expected:**  Shouldn't have error.

[2016-10-28 18:14] cjellick opened #6427 "Optimize allocation to do as little as possible if requestedHostId is set"
Mainly an invisible backend change, but basically we wanted to short circuit as much logic as possible if requestedHostId is set. But the primary change is this: if requestedHostId is provided, even if a host is inactive or reconnecting, we should allow it to be scheduled.

This is to prevent scheduling storms we can get into when hosts are rebooted or otherwise disconnected and reconnected.

[2016-10-28 18:17] cjellick opened #6428 "Fix test_docker failures that fail with "No healthy hosts available...""

[2016-10-28 18:19] tfiduccia commented on #5738
Version - v1.2.0-pre4-rc6
Verified fixed

[2016-10-28 18:19] #5738 closed

[2016-10-28 18:30] soumyalj opened #6429 "Swarm logs should be shortened"
**Rancher Version:**v.1.2.0-pre4-rc5

**Docker Version:**1.12.2/1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Swarm

**Steps to Reproduce:**
1. Create a swarm setup with 3 hosts [version v1.12-rancher0]
2. Obtain the logs from the hosts.

The logs are very huge and difficult to use them.

[2016-10-28 18:38] soumyalj commented on #6277
Tested with 1.2.0-pre4-rc5. The yml was generated correctly for the "logging key" after exporting as below:
[code]
@deniseschannon : Did not see the issue you mentioned
@prachidamle : The logs did not have the errors mentioned above

[2016-10-28 18:43] sangeethah opened #6430 "host_uuid for container metadata is null."
Rancher Version:v1.2.0-pre4-rc6

Setup - cattle validation tests

Following test cases failed because of host_uuid for container metadata being null.

cattlevalidationtest.core.test_rancher_compose_metadata.test_metadata_self_2015_12_19
cattlevalidationtest.core.test_rancher_compose_metadata.test_metadata_byname_2015_12_19
cattlevalidationtest.core.test_rancher_compose_metadata.test_metadata_self_

[2016-10-28 18:56] tfiduccia opened #6431 "If I turn off authentication, I can no longer edit any of my environments"
**Rancher Version:** v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Add more than 1 environment
2. edit environment

**Results:** undefined in dev tools.  Brings up 503 fail page
![image](https://cloud.githubusercontent.com/assets/11514927/19818632/7abb1f8e-9d05-11e6-9b8d-476821a0e633.png)

**Expected:**  Should not error

Comments: This is because I had authentication on and 'maybe' because i turne

[2016-10-28 18:57] soumyalj opened #6432 "Swarm container is stuck in initializing state when the manager is turned OFF"
Rancher Version:: 1.2.0-pre4-rc5

Docker Version::1.12.3

OS and where are the hosts located? (cloud, bare metal, etc):: Ubuntu, Cloud

Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)Single node rancher
Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Swarm

Steps to Reproduce:
1. Create a 4 host Swarm set up using Digital Ocean hosts with CATTLE_AGENT_IP=Interna

[2016-10-28 19:15] deniseschannon commented on #6277
In rc6, I am still seeing the issue. No log driver is set and this is what is in the exported yml.

[code]

[2016-10-28 19:22] janeczku commented on #5914
@npjonath If you still having this issue, please post the result of doing a manual update using nsupdate utility on one of your nodes as suggested by @digitalLumberjack. There might also be some information in the OS X Server logs on why it refused the update request.

[2016-10-28 19:41] deniseschannon commented on #6365
`infra-catalog` is replaced with `rancher-catalog`  and the same templates are in `infra-templates`

@prachidamle

To test in rc6,
[code]

[2016-10-28 20:19] sangeethah opened #6433 "LB with ssl ports stuck in "Initializing" state because of certificates in haproxy not having private keys."
Rancher server version - Build from LbRefactor code

Steps to reproduce the problem:
Create a LB service with ssl listening ports and provide default cert.
LB with ssl ports stuck in "Initializing" state forever.

logs from haproxy container:

[code]

[2016-10-28 20:21] sangeethah commented on #6421
Tested with latest build from lbrefactor code. This issue is not seen anymore . But certificate loaded to haproxy does not have private keys causing the LB to be stuck in "Initialzing" state -
https://github.com/rancher/rancher/issues/6433

[2016-10-28 20:21] #6421 closed

[2016-10-28 20:26] janeczku commented on #5788
@vpsouza @ebuildy if you are still seing this issue, could you share the logs from both the convoy-efs and convoy-efs-storagepool containers?

[2016-10-28 20:38] sangeethah commented on #6410
Tested with library catalog - https://github.com/rancher/rancher-catalog.git from branch 1.2.
 "Rancher Scheduler" template has the correct gif now.

[2016-10-28 20:38] #6410 closed

[2016-10-28 21:15] LLParse commented on #6413
Further notes: sometimes `docker swarm leave --force` will timeout due to known deadlock issues. In this scenario, our automation will not be able to repair the host and should notify the user by setting a label on the bad host: `swarm=deadlock`

[2016-10-28 21:35] sangeethah opened #6434 "Unsupported config option - uts/cgroup"
Rancher server version - v1.2.0-pre4-rc6
Rancher compose version - rancher-compose-v0.11.0-rc6

Not able to create a service using up command with the following yml files.
I get - "Unsupported config option - uts/cgroup" error and also "service: dependency \'mem_limit\' is not satisfied" message.

[code]

[code]

[code]

[2016-10-28 21:39] tfiduccia opened #6435 "Change defaults for new ldap group fields to entryDN"
**Rancher Version:**v1.2.0-pre4-rc6

**Comments**
Change the default values for Group Member User Attribute & Group DN Field to entryDN.

[2016-10-28 21:40] sangeethah commented on #6404
Tested with Rancher server version - v1.2.0-pre4-rc6

We do not include  empty entry for blkio_weight_device and  ipc is used in generated config.

[2016-10-28 21:40] #6404 closed

[2016-10-28 21:46] galindro opened #6436 "Error: occurred while checking if volume exists: EOF"
**Rancher Version:**
v1.1.4

**Docker Version:**
Docker version 1.12.1, build 23cf638

**OS and where are the hosts located? (cloud, bare metal, etc):**
OS: ros version v0.7.0
Cloud: Amazon Web Services - EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
My environment was built with a single node rancher running ros version v0.7.0 with external DB + single

[2016-10-28 22:04] soumyalj opened #6437 "v2 key "tmpfs" is not used while creating services"
Rancher Version:v1.2.0-pre4-rc5

Docker Version:1.12.2

OS and where are the hosts located? (cloud, bare metal, etc):Ubuntu, Cloud

Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)Single node

Environment Type: (Cattle/Kubernetes/Swarm/Mesos)Cattle

Steps to Reproduce:
1. Create a stack "Stack1" using the below yaml file:
[code]
**Results:**
The service created does

[2016-10-28 23:01] tfiduccia opened #6438 "Can't see all environments if I reauthenticate as a different user (change admin)"
**Rancher Version:** v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Create an additional environment besides Default
2.  Authenticate using any of the auth types
3.  Disable and reauthenticate changing just the username/password at bottom
4.  Go to manage environments

**Results:** Notice you can only see the default environment.

**Expected:**  Should be able to see them all.  And this used to work

[2016-10-28 23:15] tfiduccia opened #6439 "Add environment page closes when I don't have an owner"
**Rancher Version:** v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Authenticate using ldap
2. Create an environment and remove the admin and add another person or group (but don't change them to owner, leave them as a member)
3.  Save

**Results:**  "you must have at least one owner" warning flashes then the Add page closes and the environment is created but with only the admin.

**Expected:**  Pag

[2016-10-28 23:18] tfiduccia commented on #5629
Version - v1.2.0-pre4-rc6
Verified fixed

[2016-10-28 23:18] #5629 closed

[2016-10-28 23:19] stefanlasiewski opened #6440 "Quick Start Guide doesn't work if the Docker Host's /etc/resolv.conf specifies the search parameter"
**Summary:**

The "Quick Start Guide" provided at http://docs.rancher.com/rancher/v1.2/en/quick-start-guide doesn't work at some environments, due to how Docker or Rancher handles /etc/resolv.conf from the host. At many organizations, /etc/resolv.conf will commonly list the organization's domain in the `search` list parameter, like so.

[code]

However, this common configuration will break the exa

[2016-10-28 23:32] larsmagnusherland opened #6441 "No container and host stats, stuck on connecting"
**Rancher Version:** 1.1.4
**Rancher Agent Version:** 0.8.3
**Docker Version:** 1.12.3 / 1.12.2
**OS and where are the hosts located:** OVH VPS, Ubuntu 16.04.1 LTS
**Ubuntu Kernel Version:** 4.4.0-45-generic
**Setup:** single node rancher with internal DB
**Environment Type:** Cattle
**Storage driver:** aufs / devicemapper:loop

Any custom added hosts doesn't show any container or host stats.
The

[2016-10-28 23:39] vincent99 commented on #5642
Embiggened

[2016-10-28 23:41] vincent99 commented on #4946
The buttons in the nav tree aren't currently dependent on k8s feature availability, since we're assuming k8s 1.4 for rancher 1.2  And the UI also now shows the errors that occur, below the header, so you can get other places.

[2016-10-29 01:02] deniseschannon commented on #6437
Can you please re-test using v1.2.0-pre4-rc6 as rancher-compose didn't fully support these fields until that version?

[2016-10-29 02:37] sangeethah commented on #6433
Tested with latest build from master.
LB with ssl ports works as expected.

[2016-10-29 02:37] #6433 closed

[2016-10-29 10:19] demarant opened #6442 "Impossible to see a container log when it fails or it is stopped for some reason. not possible to debug."
**issue**
As a member of a Rancher environment when deploying stacks / containers via Rancher UI it is very very hard to see the logs of containers while starting and when they are failing.

When a container fails to start because of some error, it is difficult to see the error if you don’t manage to click on logs the very second it starts and crashes, because after is stops, the Logs are disconne

[2016-10-29 10:20] demarant commented on #6442
related to the issue in #6318

[2016-10-29 12:27] arvindr21 opened #6443 "MongoDB Cluster Secondary Nodes not readable"
**Rancher Version:**
1.1.14

**Docker Version:**
1.12

**OS and where are the hosts located? (cloud, bare metal, etc):**
Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Create cluster from catalog (mongo 3.2, 3 node)
2. Add a [mongo-express](http

[2016-10-29 14:35] Chris7 commented on #5284
Is there a workaround for the time being?

[2016-10-29 14:42] sangeethah opened #6444 "container's port metadata does not include the host ipaddress . It is set to "0.0.0.0:<port>/<protocol>"
Rancher server version - Build from master
container's port metadata does not include the host ipaddress . It is set to "0.0.0.0:<port>/<protocol>

Following 2 automated test cases reported failure:
cattlevalidationtest.core.test_rancher_compose_metadata.test_metadata_self_2015_12_19
cattlevalidationtest.core.test_rancher_compose_metadata.test_metadata_self_2015_07_25

[code]

[2016-10-29 16:09] andruwa13 opened #6445 "not all stacks are displayed"
![rancher 2016-10-29 19-05-23](https://cloud.githubusercontent.com/assets/5846351/19831125/349a2e80-9e0b-11e6-9088-5663dac65280.png)

![rancher 2016-10-29 19-07-23](https://cloud.githubusercontent.com/assets/5846351/19831131/3b52bf58-9e0b-11e6-8d71-575436fb4f8c.png)

---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.2.0-pre4-rc6` Cattle: `v0.171.0` UI: `v1.2.19` |
| Access | `localauth

[2016-10-29 16:11] andruwa13 commented on #6445
to release **v1.2.0-pre3** all works, v1.2.0-pre4-rc6 not work

[2016-10-29 18:22] sangeethah opened #6446 "LB stuck in "Reinitilaizing" state when the environment is deactivated and activated back."
Server version - Build from master.

Steps to reproduce the problem:
Create an environment with services and LB service .
Deactivate environment.
Activate environment.

LB container is stuck in "Reinitilaizing" state forever.

ha proxy logs:
[code]
[code]

[2016-10-29 19:29] soumyalj commented on #6437
Tested with v1.2.0-pre4-rc6. Did not see this issue. The tmpfs key is used during the creation of service and is set in the API.

[2016-10-29 19:29] #6437 closed

[2016-10-29 20:02] rezonant opened #6447 "Rancher catalog: "invalid character '\x00' in string literal" for large catalog entries (>3k)"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu / cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Multi-node, internal-DB, no-HA

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
Create a custom catalog entry which contains enough con

[2016-10-29 20:17] rezonant commented on #6447
I have now posted a Rancher catalog with the second entry above, demonstrating the problem.
`https://github.com/rezonant/rancher-catalog-break.git`

[2016-10-29 22:26] sangeethah commented on #6430
This issue is not seen anymore when testing with latest master builds.

[2016-10-29 22:26] #6430 closed

[2016-10-29 22:37] SnertSnert opened #6448 "Unable to create event router"
**Rancher Version:**
sudo docker run -d  --name=ben -p 8080:8080    rancher/server:latest
**Docker Version:**
sudo docker version
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:
 OS/Arch:      linux/amd64
**OS an

[2016-10-29 23:14] sangeethah opened #6449 "LB instance stuck in "ReInitializing" state when lb instance is restarted/stopped."
Rancher Version: Build from master

Steps to reproduce the problem:
Create an Lb service with service targets and activate it.

Stop Lb instance/restart Lb instance.

In both the above cases,  Lb instances get stuck in "ReInitializing" state forever.

haproxy logs:

[code]

[2016-10-30 07:21] omegarus commented on #6406
If i do Infrastructure ---> Containers ---> Add container
Select Image: local-registry.local:5000/mysql:latest
Got same error in logs:
[code]
docker pull local-registry.local:5000/mysql:latest
on same host working as expected.

[2016-10-30 08:16] natami opened #6450 "Rancher agent - ability to define name/location of ca.key"
Does the Rancher agent support defining name/location of ca.key?
- My use case is the following:
  I build my own rancher-agent docker image and add multiple keys like dev.key, test.key and prod.key, so my new image contains multiple keys for each environment.

Expected functionality:
rancher agent loads the specified key at startup from the name/location defined.

[2016-10-30 10:08] ebuildy commented on #5788
Nop, I put 1 line in fstab host and got the NFS share in less than 5 secondes ^^

[2016-10-30 10:24] JayHaoDing commented on #3875
nice work 👍  just tested with master and LDAP group authentication worked!

[2016-10-30 12:05] chickahoona commented on #3895
+1

[2016-10-30 17:03] clicman opened #6451 "Question about licensing"
Hello! I found EULA at http://rancher.com/eula/
And I don't understand how it connects with apache2 license?
Could you explain when I should use this EULA and when apache2 license?

[2016-10-31 07:21] keepwn opened #6452 "Chown permission denied using convoy-nfs"
**Rancher Version:** 1.1.4

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** RancherOS, ESXI

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**

1. create a `test` volume using convoy-nfs
2. `in ranch

[2016-10-31 10:01] Yajo commented on #5201
We want to start implementing Rancher from zero today, but want to start using Docker Engine's Swarm mode as soon as it is officially supported... which cluster management engine should we choose today to make the switch as easy as possible in the future?

[2016-10-31 10:14] saphoooo commented on #6418
Any news on this issue, it's really annoying. I've tried today to run on RancherOS v0.7.0 (with EC2 from the marketplace), and I'm facing the same issue with k8s 1.2 or 1.3:
[code]

[2016-10-31 10:31] pasientskyhosting-docker-hub commented on #1403
+1

[2016-10-31 11:22] #6415 closed

[2016-10-31 12:37] adammwood commented on #2963
We're also experiencing similar issues to this using Rancher's LB. We have three hosts for an application, which if we load balance with an ELB doesn't have any issues, however if we switch to Rancher's LB we get consistent slow requests every 5-10 seconds.

To help confirm/diagnose this, we ran a light load test for a few minutes in JMeter, and it clearly shows groups of slow requests in regular

[2016-10-31 12:47] kraucer commented on #6028
Any return?

[2016-10-31 13:09] kraucer commented on #6329
@ymc-dabe test in version 1.1.4, error:

time="2016-10-19T08:21:50Z" level=info msg="Waiting for server to be available" component=cert
time="2016-10-19T08:21:50Z" level=info msg="Can not launch agent right now: Server not available at http://192.168.169.2:18080/ping:" component=service

Note that it looks for the agent on the IP 192.168.169.2 when it should be the IP 192.168.169.1

Same error rep

[2016-10-31 14:43] digitalLumberjack opened #6453 "Host scheduling do not load balance the containers"
**Rancher Version:**
1.2.0-pre3-rc1

**Docker Version:**
1.12

**OS and where are the hosts located? (cloud, bare metal, etc):**
rancheros + ubuntu bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Create **2 hosts** with **same label** for scheduling (e

[2016-10-31 14:44] digitalLumberjack commented on #5962
Hi :)
I just reported this bug : https://github.com/rancher/rancher/issues/5962
Maybe this refactor corrects it too ?

[2016-10-31 15:13] mvdan opened #6454 "proposal: use shfmt for all shell files"
I've recently written [shfmt](https://github.com/mvdan/sh), a formatter for bash/shell programs. rancher is a pretty active project with lots of contributors, so I think it would benefit from its use.

I ran `shfmt -l -w -i 4 .` and these are the diffs. This does all the files that either have a bash/shell extension or have no extension and a valid bash/shell shebang. `-i 4` is to indent with four

[2016-10-31 15:14] cjellick commented on #5962
@digitalLumberjack you copied the wrong link. Putting reference to correct issue:
https://github.com/rancher/rancher/issues/6453

[2016-10-31 15:15] cjellick commented on #6453
@digitalLumberjack do you have a docker/rancher compose file that reproduces this issue?

[2016-10-31 15:23] saphoooo commented on #6418
nevermind, I've switched on qa branch to use k8s 1.4.4. It works fine.

[2016-10-31 15:23] #6418 closed

[2016-10-31 15:50] digitalLumberjack commented on #5962
Thanks @cjellick i fixed it :)

[2016-10-31 15:58] cjellick commented on #5962
We weren't aware of this particular bug, but definitely one we would like not _not_ have. See the issue for my follow up question regarding the bug.

[2016-10-31 16:11] digitalLumberjack commented on #6453
I'll provide that as soon as possible

[2016-10-31 16:58] roffe commented on #5464
Rancher 1.1.4
CoreOS 1122.3
Docker 1.10.1 Swarm mode

Seeing the same issues on our relayd setup in openbsd

table <rancher_nodes> { 10.50.80.17, 10.50.80.18, 10.50.80.19 }

interval 2
log updates
prefork 10
timeout 200

redirect "rancher_http" {
        listen on ####### port 80
		forward to <rancher_nodes> check http "/" host health.rancher.check code 200
}

Then i have setup a loadbalancer in r

[2016-10-31 17:39] soumyalj opened #6455 "Swarm container stuck in initializing state when a GCE host is turned OFF and turned ON"
**Rancher Version:**1.2.0-pre4-rc6

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Swarm

**Steps to Reproduce:**
1. Create a 3 manager swarm setup using GCE hosts
2. Power OFF a host and Power ON the host.

The swarm container on the host turned OFF and ON is stuck in initializing st

[2016-10-31 17:43] cjellick commented on #6412
@tfiduccia I'm assigning back to you since you opened, but feel free to assign to @sangeethah since she's done the scheduler testing

[2016-10-31 17:51] LLParse commented on #6455
In GCE, powering off (stopping) and powering on (starting) an instance will result in a new public IP address being assigned to the instance. When powered back on, the host doesn't detect this change and continues to report the old IP address in metadata.

We need to add logic to go-agent to detect these changes and update the public IP address for the host accordingly.

[2016-10-31 18:24] sangeethah opened #6456 "Issues with generated config for LB services."
Rancher server version - Build from master

Create LB service using v2 api.

Generate config for LB service

In docker-compose.yml, ports has incorrect value ``` 900:900/tcp```
In rancher-compose.yml, there are null values provided for the following fields in lb_config when they are not set:

[code]

[code]

[2016-10-31 18:25] deniseschannon commented on #6455
This has been the same behavior for whenever the IP changes. The workaround has always been to re-run the registration command with `CATTLE_AGENT_IP` set as the new IP.

@soumyalj Please re-test with this use case for your swarm.

[2016-10-31 18:53] galal-hussein opened #6457 "Support GCE as a cloud provider for kubernetes"
**Rancher Version:**
v1.2.0-pre4-rc6
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4.4
**Steps to Reproduce:**
use branch (1.2) to provision k8s 1.4 with provider set t

[2016-10-31 18:56] ArunParthiban10 commented on #3893
+1

[2016-10-31 19:11] sangeethah opened #6458 "stickiness policy gets set for LB when no stickiness policy is set."
Rancher server version - Build from master
rancher-compose version v0.11.0-rc7

Steps to reproduce the problem:
Create LB service using the following docker-compose/rancher-compose files.

When Lb service gets created , stickiness policy gets set to "cookie" type.

[code]
[code]

[code]

[2016-10-31 19:14] Ashmawy commented on #3893
+1

[2016-10-31 20:05] sangeethah opened #6459 "When lb instance is restarted ,it gets marked "unhealthy" , deleted and a new lb instance gets created."
Rancher Version: Build from master

**Steps to Reproduce:**

Create a LB service with scale2 having couple of targets.
Restart one of he Lb instances.
When the Lb instance gets  stopped ,it gets marked "unhealthy" , deleted and a new lb instance gets created.

Expected Behavior:
Existing LB instance should get restarted successfully.

[2016-10-31 20:12] sangeethah opened #6460 "Create LoadBalancerService API should throw error when it is started with no imageUuid set in launch_config."
Rancher Version: Build from master

Steps to reproduce the problem:
Create LoadBalancerService with no imageUuid set in launch_config.

LB container is stuck in "starting" state forever with following errors seen in cattle logs:

[code]

API should error out in this case.

[2016-10-31 20:13] galal-hussein commented on #6172
AWS provider works correctly, I was able to test Persistent volumes and ELB features:

- PV

First i created storage class:
[code]
Then i created a persistent volume claim to use this storage class to **Dynamically** create persistent volumes and bound it to the claim:
[code]

And as expected a PV created on AWS dynamically and got bounded to the claim:
[code]
Finally i created a pod to mount this

[2016-10-31 21:05] soumyalj opened #6461 "Exported yaml file has extra colon when using the tmps key"
**Rancher Version:**1.2.0-pre4-rc6

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Create a stack using the yaml file below:
[code]
After the stack is cr

[2016-10-31 21:11] jdel commented on #6241
Sorry again for the delay. So I created a catalog and I can reproduce the same issue outside of my work environments on a vps running v1.1.4 of rancher/enterprise.

I ran rancher with the following command `docker run -d --name rancher --restart=always -p 8080:8080 -v /root/docker/volumes/rancher/var/lib/mysql:/var/lib/mysql -v /root/docker/volumes/rancher/var/lib/cattle:/var/lib/cattle rancher/en

[2016-10-31 21:14] soumyalj opened #6462 "Exported yaml file does not have the key depends_on set after creating the stack"
**Rancher Version:**1.2.0-pre4-rc6

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Create a stack "Stack1" with depends_on key using the below yaml file: