[2016-12-14 00:01] cjellick opened #7043 "Completely wedged docker when doing something with a rancher-nfs volume"
**Rancher Version:**

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**

**Results:**

**Expected:**

**Notes:**
docker ps -a was completely hung. The daemon logs gave no indication that they were

[2016-12-14 00:07] cjellick commented on #7043
When I restart the daemon on the third host I got some interesting logs and the daemon shut down:
[code]

[2016-12-14 00:08] sangeethah commented on #7028
With rancher/lb-service-haproxy:v0.4.5 , access logs are not present in /var/log/haproxy/traffic and /var/log/messages anymore.

If user wants to enable logging , then it can be enabled using the following haproxy config:

[code]

[2016-12-14 00:08] #7028 closed

[2016-12-14 00:13] tfiduccia commented on #7043
For this environment I:
1.  Created environment
2.  Added NFS Server from rancher qa catalog
3.  Added Rancher NFS Server from Library
4.  Create a service that was going to all three hosts (accidentally used hello-world image), and filled out volume tab to create volume.
5.  Deleted service and created another one using the ubuntu image, the detached volume and going to all three hosts.  (this ne

[2016-12-14 00:24] soumyalj commented on #6921
Tested with upgrade from 1.1.4 to 1.2.1-rc1. Created 1.1.4 setup with services and LBs as below:
1. LB1  - custom config with just default
2. LB2 - custom config with just global
3. LB3  - custom config with both default and global

After upgrading to 1.2.1-rc1 all the LBs remained functional. The /etc/haproxy/haproxy.cfg file had all the settings intact.

[2016-12-14 00:24] #6921 closed

[2016-12-14 00:28] clicman commented on #7032
Thank you! My fault.

[2016-12-14 00:39] galal-hussein opened #7044 "Dashboard is failing on kubernetes 1.5"
**Rancher Version:**
master build (14 Dec)
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.5 (vnext branch)
**Steps to Reproduce:**

- Set the library catalog to rancher-ca

[2016-12-14 01:06] sangeethah commented on #6936
Tested with rancher-compose-v0.12.1-rc2

Variable substitution works in volume section:

When the following yml was used , Variable substitution worked for driver and driver_options for volumes:

[code]

[2016-12-14 01:06] #6936 closed

[2016-12-14 01:20] alena1108 commented on #6504
@StrongMonkey understood about the init. But what about error log that goes to standard out (check the last line)

[2016-12-14 01:40] deniseschannon commented on #6899
@galal-hussein We don't support authenticating one provider and then another, so this info message is fine for me.

[2016-12-14 01:48] rawmind0 opened #7045 "batch size option on NEW deployments"
**Rancher Version:**
1.2
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Deploy a stack with a global scheduled service in an env with several hosts
**Results:**
Service is deployed o

[2016-12-14 02:05] michaellopez commented on #6263
@fjoesne After having removed all services, stacks and volumes related to `convoy-nfs` in the UI, I did a few daring raw SQL statements with the mysql CLI against the database. Note that I tried this on a non-production setup I had access to. So YMMV. Use at your own risk. Backup your database before doing this. <insert all other disclaimers about losing data here>, etc.

The following SQL queries

[2016-12-14 02:48] InAnimaTe opened #7046 "[rancher-dns] Allow configurable selector rules"
This is an enhancement request to have configurable services for which external dns entries are created. Instead of just "every service which has a host port", why not enable this to be configurable based on the needs of the environment and its services.

In example, containers deployed that must be referenced by a domain name that points to a host utilizing a load balancer is one case where the c

[2016-12-14 03:19] agalpin opened #7047 "Unable to Add New Hosts or Clone existing ones Errors are produced."
**Rancher Version: was 1.1.2, upgraded to 1.1.4 same issue**

**Docker Version: 1.10.3**

**OS and where are the hosts located? (cloud, bare metal, etc): AWS**

**Setup Details: single node rancher, internal DB**

**Environment Type:  Cattle**

**Steps to Reproduce:**
Have had 1.1.2 installed for at least 4 months now, attempted to add a new host today via cloning and it didn't work also tried add

[2016-12-14 03:35] trendsoa commented on #6917
@johnrengelman , yeah, thanks, I just reinstall docker with default location, it works now.

[2016-12-14 03:35] #6917 closed

[2016-12-14 04:10] lgaticaq opened #7048 "Failed pull images from gitlab with rancher-server 1.2.0"
**Rancher Version:** 1.2.0

**Docker Version:** 1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04.3 LTS (digitalocean)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**: single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
![seleccion_010](https://cloud.github

[2016-12-14 04:42] sangeethah opened #7049 "Exception when deleting storagepool when hosts are deleted."
Server version - v1.2.1-rc1

Steps to reproduce the problem:
Create a K8s environment.
Delete hosts in the k8s environment.
Deleted environment.

Following exception seen repeatedly in logs when trying to delete storage pool:
[code]

[code]

[code]

[2016-12-14 05:31] ibuildthecloud commented on #6587
windowsOS, like macOS but with more powershell :)

[2016-12-14 05:38] StrongMonkey commented on #6587
lol

[2016-12-14 06:01] StrongMonkey commented on #7048
@lgaticaq can you pull image using `docker pull`?

[2016-12-14 06:21] vincent99 commented on #5098
I think this was fixed a while ago...

[2016-12-14 06:30] deniseschannon commented on #6858
@kkvilekval You can send them to darren@rancher.com and/or me (denise@rancher.com)

[2016-12-14 06:30] sangeethah opened #7050 "Cannot delete instances that have mount points to a volume which has other active mount points"
Rancher-server version  - v1.2.1-rc1

Steps to reproduce the problem:
In a cattle env,
Create an environment.
Create Lb service.
Create services which have  host bind mounts.

In a k8s env,
Create few pods.
Delete few pods.

wait for the instances to get to "purged" state.
wait for the clean up thread to pick up the purged instances.

Purged instances do not get cleaned up the instance table ( and

[2016-12-14 09:19] mcanevet opened #7052 "canonical hostname not resolvable in Rancher 1.2 because /etc/hosts is malformed"
**Rancher Version:**
1.2.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu Xenial on OpenStack
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Create a container and look at the /etc/hosts

[2016-12-14 09:50] smith64fx commented on #6772
@deniseschannon yes I do!

Now it's working. My solution was: Chaning vom GCE to Amazon AWS :) Worked instantly and I had no problems.

[2016-12-14 09:55] beruic commented on #7031
I agree that this is abstract. So far the only thing we see is that the form does not validate in Django, and it works when we switch HA Proxy out with Nginx in front of it instead. Currently we have some deadlines that must be adhered, but we plan to do an effort figuring this out. In the mean time it would just be nice to know if others experience similar issues. Perhaps under slightly different

[2016-12-14 10:12] nicolinux opened #7053 "Rancher server container regularly dies/stops"
**Rancher Version:**
v1.2.0

**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
DigitalOcean, Ubuntu 16.10

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, no HA, internal MySQL DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
The rancher Docker container regularly d

[2016-12-14 10:58] nicolinux commented on #7013
I have restarted the docker service on the respective machines and now the error is gone.

[2016-12-14 11:18] Vrtak-CZ commented on #7007
Btw for reproduction just setup rancher server add one service. Add one host kill that host and add another one.

[2016-12-14 12:05] salvax86 commented on #7029
I had the same issue with Rancher v1.2.0:

**rancher-compose.yml**

[code]

**docker-compose.yml**

[code]

Inspired by community catalog (kafka, zookeeper), my workaround was:

**rancher-compose.yml**

[code]

**docker-compose.yml**

[code]

Through this approach it is garanted that the service-A is started on every hosts with label "A=true" and only once

[2016-12-14 13:50] psyhonut commented on #5010
New Service -> no buttons to choose volumes. Only fields to input data manually. What should I write?

[2016-12-14 13:50] psyhonut commented on #5010
@deniseschannon  New Service -> no buttons to choose volumes. Only fields to input data manually. What should I write?

[2016-12-14 14:10] lgaticaq commented on #7048
[code]

[2016-12-14 14:25] driesdroesbeke commented on #5309
+1

[2016-12-14 14:58] omegarus opened #7054 "Rancher server starts new kubernetes-ingress-lb instance, for each ingress resource being added."
**Rancher Version:**
Server v1.2.0 Agent v1.1.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu14.04 VMware
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher with two hosts
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kuberenetes
**Steps to Reproduce:**
Create few namespaces. For exa

[2016-12-14 14:58] msutter commented on #4576
+1
Do you have something to play with ?

[2016-12-14 15:00] TimPelgrim opened #7055 ""(Waiting: allocated [container:1i43])" While creating a new stack"
While creating a new stack the containers remain in an Activating state with the message: ` (Waiting: allocated [container:1i##])`.

When looking in the error logs I see these Java error messages:

[code]

What could cause this kind of problem? And more important, how might I be able to fix it?

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.0` Cattle: `v0.174.3` UI: `v1.2.34` |
|Acce

[2016-12-14 15:03] courcelm commented on #6864
I dig into this further. I have two Ubuntu 16.04.1 LTS.
Ubuntu 16.04.1 LTS server (in VM) is running Rancher ok.
Ubuntu 16.04.1 LTS desktop (on bare metal) is having issue with Rancher.

I noted that my Ubuntu 16.04.1 LTS desktop is running with KVM and also docker has seccomp security profile enabled. Could seccomp interfere? Any idea how to disable this?

[2016-12-14 15:05] artemus717 commented on #7022
i update form rancher server 1.1.2
Now i restart docker deamon on the host , it seems better and docker-engine 1.11.0 is not good enough.

[2016-12-14 15:37] guzmo opened #7056 "Log driver in docker-compose not added to service in environment."
**Rancher Version:**
1.2.0-1

**Docker Version:**
1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS 7

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher external Galera DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

Deploy the service below ( Removed image etc )
[code]

I've als

[2016-12-14 16:25] proligde commented on #6858
We have the same problem here after upgrading to Rancher 1.2.0 with a rancher server on a current rancher os release and several clients running ubuntu 16.04. No boot2docker, no non-standard docker-root. We deleted all docker containers on the agent and switched to 1.2.1-rc2 (using agent version 1.1.1-rc1) but it didn't help so far. We will downgrade to 1.1 now.

[2016-12-14 16:38] pulberg opened #7057 "v1.2.0-1 Kubernetes env set up display oddities"
**Rancher Version:**
v1.2.0-1
**Docker Version:**
1.12.4
**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL7.2, vmware
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher server, separate mysqld on Rancher server
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
Go through the process of

[2016-12-14 17:22] weikinhuang commented on #5041
Has there been any movement on this?

[2016-12-14 17:34] galal-hussein opened #7058 "Kubedns service didn't start on k8s 1.5"
**Rancher Version:**
master build
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.5
**Steps to Reproduce:**
- Deploy kubernetes 1.5 from vnext branch from rancher-catalog

[2016-12-14 17:37] sangeethah commented on #6995
Tested the following scenarios using v1.2.1-rc1:

Had a K8s env with 3 hosts.
Had few Service/RC/pods running.
Deleted all the hosts.

UI took ~20 secs to respond. But it loaded successfully after that.

Had a cattle env where there were 30 services that were stuck in "activation" state because of allocation failures.
Able to launch UI successfully.

Issue I see is the following:
Adding new host i

[2016-12-14 17:39] tfiduccia commented on #7057
@pulberg - has already been resolved in the latest build.

[2016-12-14 17:39] #7057 closed

[2016-12-14 18:15] galal-hussein commented on #7019
Rancher version: v1.2.1-rc2

Tested registration of rancher/agent with the following envs:

NO_PROXY
HTTP_PROXY
HTTPS_PROXY
no_proxy
http_proxy
https_proxy

All environment variables are propagated to the rancher-agent successfully.

[2016-12-14 18:15] #7019 closed

[2016-12-14 18:22] sangeethah opened #7059 "java.lang.NullPointerException when service.update is executed on upgraded setup from 1.1.4 -> v1.2.1-rc2"
Rancher-server version - upgraded setup from 1.1.4 -> v1.2.1-rc2

Fresh install of 1.1.4.
Had 1 cattle env with few services and 1 k8s env with few services/pods/rc.

Upgraded to v1.2.1-rc2

Lot of java.lang.NullPointerException seen in logs when service.update is done.
[code]

[2016-12-14 18:41] garjunan commented on #6864
+1
I am also facing exact issue..Tried clean install as well..no luck..

[2016-12-14 18:42] galal-hussein commented on #6957
Rancher version: v1.2.1-rc2

I tested adding hosts to a rancher server with domain name that contain `http`, and the host registered successfully.

[2016-12-14 18:42] #6957 closed

[2016-12-14 18:47] galal-hussein commented on #4397
Rancher version: master
Kubernetes version: 1.4.6
rancher-catalog, vnext branch

Pod A record are being resolved using `<ipaddress>.default.pod.cluster.local`

[2016-12-14 18:47] #4397 closed

[2016-12-14 19:00] deitch commented on #721
I see this was closed last year, but how do I do it? What is the API call?

[2016-12-14 19:12] Gmentsik commented on #7022
Same here.

We operated a rancher environment for about 3 days, restarts took longer and longer, in the end no service could start up after 8 hours of waiting.

Bare metal, 32GB Ram 8-Core with SSDs

[2016-12-14 19:15] galal-hussein commented on #6897
Rancher version: v1.2.1-rc2

Tested a setup with both rancher server and rancher agent's docker daemon was started with **non** /var/lib/docker runtime directory `/usr/bin/dockerd -g /var/runtime-docker -H fd://`

The setup was up and running and i was able to deploy containers and services.

[2016-12-14 19:15] #6897 closed

[2016-12-14 19:29] sangeethah commented on #7004
@alena1108 , tested with v1.2.1-rc2
I am still able to reproduce the issue.
Editing LB service fails with the following error -
[code]

[2016-12-14 19:30] reneherrero commented on #4576
+1
Also part of a fortune 50 company and very interested in getting access to the early bits supporting Windows Containers.

[2016-12-14 19:33] psychotechnik opened #7060 "Load Balancer 404 when querying the metadata service"
Load Balancer container starts. Yet the services cannot be initialized.

error message from container: **_Failed to get lb config: Error 404 accessing /self/service path_**

**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
boot2docker

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single

[2016-12-14 19:34] tknecht commented on #2339
I'm on version 1.2 and this problem is far from being solved.

https://monosnap.com/file/KUpZrRYAssDPykbadaecp7LuQIpczP

Feel free to reach out to me in #rancher if there are any more questions or any details that can help to solve this problem.

[2016-12-14 19:49] imikushin commented on #7058
I've put in a couple PRs to fix this:
- rancher/kubernetes-package#13
- rancher/rancher-catalog#341

[2016-12-14 20:03] galal-hussein commented on #6910
I tested multiple containers with network-mode set to `container` and i can't see the panic, @omegarus can you please retest your workflow and see if the problem still happening or not

[2016-12-14 20:05] matfin opened #7061 "[UI] - Surfacing a new UI driver within Rancher"
Hi,

I have written a [standalone rancher-ui driver](https://github.com/profitbricks/ui-driver-profitbricks) for the provider ProfitBricks and would like to have this included as part of the default rancher installation as other providers have done.

We want to make it as easy as possible for our customers to start using Rancher. Are there any particular requirements we need to take care of (aside

[2016-12-14 20:17] deniseschannon commented on #6896
Added ability to configure the docker bridge in the catalog templates for network-services, ipsec and vxlan

[2016-12-14 20:23] justsml commented on #6858
Me too, have similar setup to  @IrisDande .

Thanks @deniseschannon - I'll send you and Darren my log output

[2016-12-14 20:30] jeanlouisboudart commented on #7045
+1 this would save us HOURS :)

[2016-12-14 20:57] tfiduccia commented on #5531
Version - v1.2.1-rc2
Verified fixed

[2016-12-14 20:58] #5531 closed

[2016-12-14 20:59] tfiduccia commented on #5098
Version - v1.2.1-rc2
Verified fixed

[2016-12-14 20:59] #5098 closed

[2016-12-14 21:27] sangeethah opened #7062 "Not able to provision new hosts/create new containers when there are lot of services stuck in "activating" state."
Rancher server version -  v1.2.1-rc1:

Had a K8s env with 3 hosts.
Had few Service/RC/pods running.
Deleted all the hosts.

UI took ~20 secs to respond. But it loaded successfully after that.

Had a cattle env where there were 30 services that were stuck in "activation" state because of allocation failures.
Able to launch UI successfully.

Issues seen in this set up:
Adding new host is stuck in "p

[2016-12-14 21:31] #6995 closed

[2016-12-14 21:33] soumyalj opened #7063 "Global loadbalancer becomes a single container loadbalancer after upgrade"
**Rancher Version:**1.2.0 to 1.2.1-rc2

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Catle

**Steps to Reproduce:**
1. Create a cattle env in 1.2.0 setup and add few services and global LB

[2016-12-14 21:34] alena1108 commented on #7004
Looks like the commit wasn't cherry-picked to 1.2.1 branch:

[code]

[2016-12-14 21:35] alena1108 commented on #7059
Some race condition in the situation when 0 hosts are available for scheduling in the environment, shouldn't impact things. Moving the target release

[2016-12-14 21:36] alena1108 commented on #7063
@soumyalj could you please provide the calls executed by the UI on the upgrade? I believe it will be 2 calls: update and upgrade

[2016-12-14 21:39] galal-hussein commented on #6896
Rancher version: v1.2.1-rc2
rancher-catalog - vnext branch

I added different bridge other than docker0 and started docker both on rancher server and hosts with the new bridge, and i was able to deploy the infra stacks (ipsec, network-service) with setting the bridge option to the new bridge's name.
The infra containers came up successfully and i was able to deploy and run several services contain

[2016-12-14 21:39] #6896 closed

[2016-12-14 21:43] sangeethah commented on #7037
Tested with upgrade from 1.1.4 -> v1.2.1-rc2

Deletion of  Bad volumes (of deleted instance) that are in "inactive" state now succeeds.
Exception mentioned in the bug is not seen anymore.

bad.data.batch.size is set to 1000  by default. But i see only 100 of them being deleted every time the  cleanup thread is executed.

Also I dont see "invalid" volumes from cattle environment being removed.

[2016-12-14 21:50] alena1108 commented on #7063
@vincent99 might be a UI issue. Looks like we are not sending all the labels on lbService update/upgrade. Here is the set of labels that were set originally on the service:

[code]

And these are the labels that UI is sending out:

[code]

[2016-12-14 21:51] jurajseffer commented on #6972
Rancher v1.2.0
Docker 1.12.3

I'm getting the same. Something went wrong, containers started to be inaccessible or restarting, shortly after that Rancher UI became inaccessible, API works. I believe this happened before as well when a host was in a "reconnecting" state. Right now, I'm unable to remove two hosts that are stuck. This seems to block UI. This is in master's log
[code]

[2016-12-14 21:57] alena1108 commented on #4460
@sangeethah the issue you are hitting, is not related to the original issue. The problem is most likely caused by the instance erroring out to start. You might want to check container logs to double check that. In the original issue, service failed to create with 422 error. Reassigning back for verification

[2016-12-14 22:02] willseward commented on #6885
![screen shot 2016-12-14 at 4 01 49 pm](https://cloud.githubusercontent.com/assets/5386568/21203120/aa156394-c216-11e6-9337-dd332c69e651.png)
Seems to be the case for all my rules.

[2016-12-14 22:09] willseward commented on #6885
Also, on another installation with only one rule:

![screen shot 2016-12-14 at 4 08 42 pm](https://cloud.githubusercontent.com/assets/5386568/21203343/a4ecc9ec-c217-11e6-80ba-05e7660f3590.png)

After hitting the enabled down arrow, the rule disappears.

[2016-12-14 22:23] pulberg commented on #6808
I am experiencing a similar issue even though my hosts are active, and have not been off/bounced/disconnected -

Fresh install v1.2.1-rc2 -

![screen shot 2016-12-14 at 4 07 49 pm](https://cloud.githubusercontent.com/assets/11069351/21203320/922a3362-c217-11e6-923f-545bb0ab4fa8.png)

`mysql> select data,process_name,resource_type,result,exit_reason,running_process_server_id from process_instance w

[2016-12-14 22:41] deniseschannon commented on #5010
Just like described in the docs page: https://docs.rancher.com/rancher/v1.2/en/rancher-services/storage-service/#using-storage-drivers-in-the-ui

<img width="1042" alt="screen shot 2016-12-14 at 11 13 58 am" src="https://cloud.githubusercontent.com/assets/11410997/21204233/36c9c17e-c20b-11e6-8b25-6e547e70a806.png">

The `volume_name` would be the name of the volume you added.

[2016-12-14 22:41] prachidamle commented on #5801
With the lastest we no longer throw a 503 error, while accessing the environment's Access Control page.
Instead we list the project members and the account deleted is listed as (User not found).

Also in the Admin/Accounts view the User gets listed as (User not found).

I dont think Rancher should auto delete the account, the admin can deactivate and delete the account.

[2016-12-14 22:43] prachidamle commented on #5801
screenshot of environment ACL, not throwing 503, listing members:
<img width="1077" alt="screen shot 2016-12-13 at 7 00 58 pm" src="https://cloud.githubusercontent.com/assets/1470602/21204307/af60ce3e-c20b-11e6-9699-5621eabbbd05.png">

[2016-12-14 22:44] prachidamle commented on #5801
screenshot of Admin -> Accounts listing.
<img width="1407" alt="screen shot 2016-12-14 at 2 39 16 pm" src="https://cloud.githubusercontent.com/assets/1470602/21204339/d45100d8-c20b-11e6-9dfc-d6cf3bcf0532.png">

[2016-12-14 22:59] soumyalj commented on #6888
Tested with v1.2.1-rc1 and v1.2.1-rc2. Created a stack with Lb and Service with the Userlist directive as mentioned above. The Lb was funtional. The ha-proxy config was populated with the Userlist directive and the custom config was not sorted as expected. Here is a snippet of the /etc/haproxy/haproxy.cfg file with UserList :
[code]

[2016-12-14 22:59] #6888 closed

[2016-12-14 23:03] sangeethah commented on #7050
Tested with Rancher-server version - v1.2.1-rc2

Instances with host bind mounts are not still being cleaned up.

[code]

[code]

[2016-12-14 23:04] sangeethah commented on #6826
This issue is tracked in https://github.com/rancher/rancher/issues/7050

[2016-12-14 23:04] #6826 closed

[2016-12-14 23:08] soumyalj commented on #6476
Tested with rancher v1.2.0. Created a swarm setup with 3 hosts. Added services to the cluster. Deleted the swarm stack and the hosts were not deleted. A new swarm stack was created again on the same hosts and it was successful. The hosts were able to join the new swarm cluster.

[2016-12-14 23:08] #6476 closed

[2016-12-14 23:10] sangeethah commented on #7017
This issue is not seen when testing with v1.2.1-rc2.

[2016-12-14 23:10] #7017 closed

[2016-12-14 23:29] jhmartin commented on #5127
Another way this gets very bad is if an existing service breaks (say, an external dependency changes), and you make a mistake creating the new one. You are then prohibited from upgrading (as you are in a rollback state), and cannot rollback (the old service fails), and cannot even deactivate.  The only way out is to delete the service, and this is a unpalatable for a 'global service'.

[2016-12-15 00:01] tfiduccia commented on #921
Version - master 11/14
Verified fixed

[2016-12-15 00:01] #921 closed

[2016-12-15 00:25] alena1108 commented on #5237
@wlan0 could you link to the "how to set ubernetes on rancher" doc here?

[2016-12-15 00:29] justsml commented on #6898
Thanks for this @sangeethah & @StrongMonkey

❤️

[2016-12-15 00:30] tfiduccia commented on #6814
version - master 11/14
Verified fixed

[2016-12-15 00:30] #6814 closed

[2016-12-15 00:37] sangeethah commented on #6892
Tested the same use case with rancher-server version - v1.2.1-rc2.

hostname/path/port from service's port_rules are used for Load balancer targets as expected.

[2016-12-15 00:37] #6892 closed

[2016-12-15 00:37] sangeethah commented on #6920
This issue has been validate and close - https://github.com/rancher/rancher/issues/6892

[2016-12-15 00:37] #6920 closed

[2016-12-15 00:44] soumyalj commented on #6985
Tested using 1.2.1-rc1 and 1.2.1-rc1 with having around 10000 volumes in Cattle and Kubernetes environments. The BufferOverflowException and NegativeArraySizeException are not seen in the logs. The UI took longer to load (25s) did not freeze though.

[2016-12-15 00:44] #6985 closed

[2016-12-15 01:04] wlan0 commented on #6105
@raveekiran We've moved to SkyDNS from RancherDNS, and i tested that pod-ip-address.my-namespace.pod.cluster.local is resolvable.

Here's the documentation for SkyDNS resolution - http://kubernetes.io/docs/admin/dns/

[2016-12-15 01:04] #6105 closed

[2016-12-15 01:31] soumyalj commented on #6882
Tested with upgrade from 1.1.4 to v1.2.1-rc2. Created Lbs with certs using TCP and HTTP in protocols in v1.1.4 and performed the upgrade. Upgrade succeeded and the Lbs were functional. Here is the dc.yml and rc.yml files in v1.1.4

dc1.yml
--------
[code]
rc.yml
------
[code]

[2016-12-15 01:31] #6882 closed

[2016-12-15 01:43] cedvan opened #7064 "Stacks screen buggued with v1.2.0"
Hi,

I start rancher v1.2.0:
- I add first host, it's ok.
- I create first stack with use `docker-compose.yml` and `rancher-compose.yml`. Immediately after save my screen stacks got error, it stay always blank, same after reconnect account. Message error :
    - console browser display : `SyntaxError: Expected "date", "number", "plural", "select", "selectordinal" or "time" but "p" found.`

PS : My

[2016-12-15 01:46] sangeethah commented on #7049
Tested with Server version - v1.2.1-rc2

Exception reported in the bug is not seen anymore.
Storage pool gets to "purged" state successfully.
[code]

[2016-12-15 01:46] #7049 closed

[2016-12-15 01:59] jwhitcraft opened #7065 "can not dynamically add portRules to load Balanacers"
**Rancher Version:** 1.2.0+

**Docker Version:** 1.12.0

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS/Ubuntu

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** External DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

Prior to version 1.2 of Rancher we could use addServiceLink to link a load balancer, but this is no longe

[2016-12-15 02:47] digz6666 commented on #4574
@leoschweizer How did you resolved your issue with Kaspersky Endpoint Security? I've moved my application to trusted but its still blocking.

[2016-12-15 04:11] vincent99 commented on #4574
A simple-ish backend solution would be to put the server behind SSL, then there's nothing for security tools to "inspect".  Unless it MITMs TLS connections to...

[2016-12-15 04:15] ist0ne opened #7066 "Unable to access kubernetes service by service name"
**Rancher Version:**
1.2.0
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Centos 7 and bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
Deploy K8s Example Guestbook
**Results:**

[root@r

[2016-12-15 04:19] vincent99 commented on #7064
Can you put up a copy or gist of the failing compose files?

[2016-12-15 05:14] ptarpan opened #7067 "Unable to add rancher (agent) host to rancher ( 3 server node) cluster"
**Rancher Version:**
v1.2.0

**Docker Version:**
1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):**
Amazon Web Services EC2
16.04 Ubuntu Xenial

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher with external (MySQL v5.6x DB on AWS RDS)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Thre

[2016-12-15 06:06] vincent99 commented on #7067
ELB does not support websockets.  Use ALB.

[2016-12-15 06:07] khmai commented on #6658
Rancher Version: Rancher v1.2.0
Docker Version:
1.12.3
OS and where are the hosts located? (cloud, bare metal, etc):
CentOS Linux release 7.2.1511 (Core)
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)
FULL ACTIVE/ACTIVE HA
Environment Type: (Cattle/Kubernetes/Swarm/Mesos)
Cattle v0.174.3
Steps to Reproduce:

Install 3 master build Rancher server
Add CentOS hosts
R

[2016-12-15 06:42] justsml commented on #6898
Seemed fixed after cleaning docker files.
My Debian v8 was having other issues related to v3.2 kernel.

I re-installed w/ Ubuntu 16.04 to take care of some Kernel ver issues (now on `4.4.0-53-generic #74-Ubuntu SMP`)

[2016-12-15 06:47] omegarus commented on #6910
@galal-hussein I am going to retest it today with Rancher server v1.2.1-rc2 and agent-v1.1.1-rc1.

[2016-12-15 07:30] ptarpan commented on #7067
Got it. So, replacing the ELB with an ALB should solve this issue? FYI, we are implementing a load balancer to avoid "hitting" a rancher (server) node directly. Let me know if this doesn't make sense.

[2016-12-15 08:12] garjunan commented on #6858
+1

I am also experiencing same error. 'Timeout getting IP address' error on healthcheck and ipsec  containers and it is keep restarting. But my own stacks running fine and i am not sure about the impacts due to above failed containers. . So I have reverted the upgrade to previous version(1.1.4).

Can we expect the fix quickly for this issue?

[2016-12-15 08:30] cedvan commented on #7064
Yes : https://gist.github.com/cedvan/b1c97ada0ffe993d021317c4ad7d0497

[2016-12-15 08:55] bascht commented on #6882
👍 Thanks! :)

[2016-12-15 09:01] psyhonut commented on #5010
@deniseschannon thanks for the answer. And one last question - what should I need to write into field **Volume Driver**?

[2016-12-15 09:20] proligde commented on #6858
I forgot to add: Our apllication stacks were looking like they'd be running fine but then we saw that the containers couldn't connect to each other: Even the ones running within the same stack on the same host. And this was **not** a DNS issue - we couldn't ping the other containers even using their IP addresses. Unfortunately I couldn't find out whether this was a consequence or the (same) reason

[2016-12-15 10:42] leoschweizer commented on #4574
@digz6666 we no longer use Kaspersky, since it caused numerous other problems as well. So unfortunately, I can't help you with that.

[2016-12-15 11:15] tyurikov commented on #6864
Having the same issue with Ubuntu 16.04.1 LTS (4.4.0) Docker 1.12.4

[2016-12-15 11:57] beruic commented on #7031
Update from our side: We made it work by putting Nginx in front of the HA Proxy load balancer to handle SSL, such that the traffic through HA Proxy is pure http. We have become quite pressured here, which is why I don't see us debugging this in the near future. Therefore I am closing this issue now.

[2016-12-15 11:57] #7031 closed

[2016-12-15 12:40] omegarus commented on #6910
@galal-hussein After few hours of testing looks like problem is fixed.
However I still have problem with dns resolutions of the services.  Issue 7012.

[2016-12-15 13:28] tknecht commented on #6526
Rancher Version: 1.2
Docker Version: 1.2.12
OS and where are the hosts located? (cloud, bare metal, etc): digitalocean server
"kernelVersion": 4.4.0-53-generic,
"operatingSystem": #74-Ubuntu SMP,
Environment Type: Cattle

Same issue here. See link: https://monosnap.com/file/NRRBFWqwLbLx2NfYDsbKgXLM7U0Hor
API links end up in a 404.

How do we get rid of those?

[2016-12-15 13:39] lolziac commented on #6864
+1

My Setup

I have symlink the docker path

Destroyed my old setup - when upgraded to rancher latest...I should have waited I guess :D
To clarify this issue, it first happened when upgraded to latest rancher version but even when trying fresh.

I cleaned everything from images/container/volumes/iptables

Used image **meltwater/docker-cleanup** for cleanup
`docker run -v /var/run/docker.sock:/var

[2016-12-15 14:10] siwonne commented on #7029
Grazie!

[2016-12-15 14:32] lolziac commented on #6864
Interesting...

If I remove the symlink and do fstab bind to the directory, it fixes the healthcheck & scheduler issue but got 2 new :D
[code]

**Issue 1: Can't register any new hosts (tried 2)**

[code]

If I do curl http://10.48.0.2:8080/v1/scripts/D16E0DE849EC5A8A468F:1481810400000:hwMyxubEKGP4v3aVDChxQqEngw
[code]

Issue 2: My server hangs up when I restart it (I guess it has to do with someth

[2016-12-15 14:45] blackside commented on #6640
This has happened to me too.
Randomly on an upgrade rancher shuts down both instances of my application while starting the first upgrade instance....

[2016-12-15 14:50] omegarus commented on #7012
Restart of network-services fix this issue but after few redeploys problem manifest itself again 8(

[2016-12-15 15:13] mcanevet commented on #7052
Related to #6855

[2016-12-15 15:21] krishofmans commented on #6864
I had 2 hosts that spun up with an unhealthy state, did the network upgrade
+ switch to port forwarding instead of reverse proxying and that fixed
them. Then I added 2 nodes in the same environment, dynamically spun up
boot2dockers on esxi but they remain unhealthy and the netwerk upgrade is
unavailable.

[image: Inline image 1]
Regards,
Kris

On Thu, Dec 15, 2016 at 3:32 PM, lolziac <notification

[2016-12-15 15:30] machi1990 commented on #6945
Convoy options do not work anymore. Basically, I used the options provided in this link [NFS](https://linux.die.net/man/8/mount) e.g timeo, actimeo, rsize and wsize, to name the least worked. The used options were passed as a string, with a comma separating one option from the other.

Closing this.

[2016-12-15 15:30] #6945 closed

[2016-12-15 15:56] siwonne commented on #7029
But then you cannot scale anymore.

[2016-12-15 15:58] salvax86 commented on #7029
You scale through 'labeling' on new instances. Steps for my example:
1. Add new host
2. Put on new host the label "A=true"
3. Wait a little and a new container is starting on the host

[2016-12-15 16:55] Dmitry1987 opened #7068 "Failed to initialize master on RancherOS 0.7.1 on AWS"
Got errors trying launch master container on RancherOS 0.7.1 on AWS:
[code]
docker run -d --restart=unless-stopped -p 8080:8080 -p 9345:9345 rancher/server \
     --db-host some-rds-created-for-rancher.us-west-2.rds.amazonaws.com --db-port 3306 \
	 --db-user root --db-pass XXXXXXXXXX --db-name cattle --advertise-address rancher-master-1-real-dns-here.com```

access to database from host verified,

[2016-12-15 16:58] Dmitry1987 commented on #6906
+1  https://github.com/rancher/rancher/issues/7068  ,  in my case I try to launch with external DB for HA.. also doesn't work. Totally weird, because I just installed another cluster 2 weeks ago and it was ok.

[2016-12-15 17:16] StrongMonkey commented on #6956
@vincent99  I am able to fix it in the backend

[2016-12-15 17:23] khauser commented on #7025
I added file to a base project which should be able to reproduce this issue. You can find it here:
https://github.com/khauser/microservices4vaadin/blob/master/rancher-docker-compose.yml

Maybe somebody finds time to look init it.

[2016-12-15 17:46] alena1108 commented on #6122
@StrongMonkey

Could you double check if our rancher-agent works with self signed cert?

[2016-12-15 17:51] sangeethah opened #7069 "Validate new features supported in kubernetes version 1.5"

[2016-12-15 17:53] wlan0 commented on #7044
Steps to check -

1. Launch rancher/k8s:v1.5.1-rancher1-1
2. Choose kube-system namespace
3. Navigate to Service UI
4. Click on the port (link) mentioned in the row for "kubernetes-dashboard"
5. Ensure that the UI loads and you can see the various services and namespaces etc.

[2016-12-15 17:54] mccricardo commented on #6908
f you're using `rancher-compose` CLI, you'll need to add to your `docker-compose.yml`:

[code]

[2016-12-15 17:59] wlan0 commented on #7005
Steps to check -

1. Launch rancher/k8s:v1.5.1-rancher1-1
2. Navigate to kuebctl UI
3. Check that helm is running by executing
 `helm version`
4. Ensure that you get a response for both Client and Server
[code]
5. Add the deis repository to helm
`helm repo add deis https://charts.deis.com/workflow`
6. Install deis workflow
`helm install deis/workflow --namespace deis`
7. Ensure that all the pods a

[2016-12-15 18:00] vincent99 commented on #7061
@matfin The next thing to do would be to host the compiled version somewhere, and then make a catalog entry for it. (e.g. like this one: https://github.com/rancher/community-catalog/tree/master/machine-templates/aliyunecs)

[2016-12-15 18:12] sangeethah opened #7070 "Not able to start service with the generated config of a service with host mount points."
Steps to reproduce the problem:
Create a service with host mount point as follows:

[code]
Service starts up successfully.

Not able to use the exported config for this service . Following error is seen -
``Volume /test/container declared as external, but could not be found. Please create the volume manually and try again.```

docker-compose.yml generated for this service:

[code]

[2016-12-15 18:50] stormerider commented on #6908
I was just using the rancher UI, but I assume i can just set a size key
there. The bigger problem I see that needs to be addressed is that if this
is required to work, it should be explicitly defined in the catalog, not
just available to set as an advanced option. And since there's no
documentation around this (at least that I could find), I had no way of
knowing that that was what needed to be do

[2016-12-15 18:52] vincent99 opened #7071 "Update docker-machine for new AWS regions"
ca-central-1
eu-west-2

https://github.com/rancher/machine-package/blob/master/scripts/package + UI

[2016-12-15 18:57] kvaes commented on #4576
@smw355 or @will-chan ; Can you guys comment on this? I see interest in various areas on this. Mainly to the lack of tooling around Windows containers... :)

[2016-12-15 19:01] wlan0 commented on #6181
@soumyalj Tested this with rancher/k8s:v1.5.1-rancher1 and verified that these logs are not present anymore.

[2016-12-15 19:22] matfin commented on #7061
Ok - I will do that now. Thanks.

[2016-12-15 19:26] vincent99 opened #7072 "Turn on "show system" by default, remember as user pref"

[2016-12-15 19:56] jwhitcraft opened #7073 "i/o timeout in networks-servers-network-manager."
**Rancher Version:**
1.2.1-rc2
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04/ AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
AWS RDS
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

I brought up a new host, but the networking layer never comes up, it only hever has this in the log for

[2016-12-15 20:18] wlan0 commented on #5854
@qamalbcgdv I tested this with both a named service account and the default one.

I setup github auth and then started two pods, one with service account and one default.

In rancher/k8s:v1.5.1-rancher1-1, this command
[code]

works just fine.

This version of kubernetes will be available from Rancher 1.3 onwards.

[2016-12-15 21:05] alena1108 commented on #6050
Closing as docker disallows changing labels for running containers: https://github.com/docker/docker/issues/21721

[2016-12-15 21:05] #6050 closed

[2016-12-15 21:23] agalpin commented on #7047
solved by using latest docker version for hosts https://github.com/rancher/rancher/issues/5897

[2016-12-15 21:23] #7047 closed

[2016-12-15 21:27] ragaar commented on #6938
It wasn't obvious, but the core issue with regards to functionality had been on my side.
The server-side configuration, located in `/etc/exports`, required the `rw` flag. Opps!

Thanks @NikFerios for publishing your [configuration](https://forums.rancher.com/t/rancher-nfs-struggling-to-get-it-working/4774/8).

This clued me into the fact that I needed to review my assumptions.

<br />

My `storage

[2016-12-15 21:27] #6938 closed

[2016-12-15 21:40] InAnimaTe opened #7074 "[rancher-compose] Don't pass empty question responses to docker-compose as variables"
This request relates to the awesome racher-compose handling of questions for catalog entries. Right now, you define your variables in the `docker-compose.yml` file like:

[code]

and then in your `rancher-compose.yml`:

[code]

If you were to keep the password field blank, a variable in your container environment of `PASSWORD=` would exist. If your application is a python program which already has

[2016-12-15 21:44] stefanlasiewski commented on #7016
I also had several thousand of these errors in my logs. I was running Docker 1.12.2 and 1.12.3.

I updated to Docker 1.12.4, and the messages went away as soon as Docker restarted with the new version.

There are many potential causes of this error message, but I wonder if it was fixed by Docker #29083, listed at https://github.com/docker/docker/releases/tag/v1.12.4

* Fix issue where volume metad

[2016-12-15 21:45] sangeethah commented on #6855
Test with rancher/network-manager:v0.2.15.

Containers can ping its own hostname

[code]

@darrenscerri  , this fix will be available in rancher server - v1.2.1 release.

[2016-12-15 21:45] #6855 closed

[2016-12-15 21:45] jwhitcraft commented on #6858
I'm seeing this as well,

Ubuntu 12.04 with Docker 1.12.3 and on AWS.

All the hosts can talk to each other just fine, just sometimes the it can't get the IP.  I've built in re-tires to our deploy scripts but it would be nice to not have to do that.  Also

@deniseschannon  or @ibuildthecloud  Can you provide me what logs you need and I can not tell from from all the comments.

[2016-12-15 21:46] ibuildthecloud commented on #7073
@jwhitcraft Can you make sure there isn't two rancher-metadata processes running?

[2016-12-15 21:48] jwhitcraft commented on #7073
Hrmm, i dropped the hosts and re-added the rancher-agent instance to it and it came up fine.

If i happens again i'll make sure to check to see what is running.

[2016-12-15 21:48] ict4ngo opened #7075 "rancher CLI multiple profiles"
rancher cli is really cool I don't like to "click" much so it's great. One improvement would be  to have multiple profiles I can use

$ rancher -c ~/.rancher/cli.json

but it would be nicer to have something along :

$ rancher -c test (pointing to ~/.rancher/test.json)
$ rancher -c prod (pointing to ~/.rancher/prod.json)

[2016-12-15 22:05] deniseschannon commented on #6858
@jwhitcraft

[code]

[2016-12-15 22:20] alena1108 commented on #5978
@cjellick would it be possible to propagate a complete "state" field from docker inspect, to Rancher? So in the API we see this kind of information:

[code]

[2016-12-15 22:23] circa10a commented on #5436
This would be great to see in Rancher. A view to see if any running containers have known vulnerabilities.

[2016-12-15 22:30] deniseschannon commented on #7010
We added a new label, io.rancher.container.dns.priority: service_last`.

By default the Rancher service discovery domain`*.rancher.internal` will be searched before the path(s) configured on the host.  Set this label to use the search path of the host before the Rancher domain

[2016-12-15 22:35] ZGF4 opened #7076 "Incredibly high traffic between containers"
**Rancher Version:**
1.2

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS Ubuntu

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Setup several services behind a load balancer that communicate with each other.

**R

[2016-12-15 22:43] sangeethah commented on #7070
Tested with v1.2.1-rc3

When service is created with host mounts, generated config does not use v2 volume format for it.
[code]
Able to start service successfully with this generated config.
[code]

[2016-12-15 22:43] #7070 closed

[2016-12-15 22:50] sangeethah commented on #7004
Tested with v1.2.1-rc3.
Able to edit Lb service with cookie policy set after one of the targets linked to it was deleted.

[2016-12-15 22:50] #7004 closed

[2016-12-15 22:57] sangeethah commented on #7010
Tested with v1.2.1-rc3

On the GCE hosts:
```search c.rancher-qa.internal google.internal``

container on v1.2.1-rc3
[code]

[2016-12-15 22:58] aemneina commented on #6960
@JayHaoDing the fix for the issue is here: https://github.com/rancher/rancher/issues/7019 it will go out with v1.2.1. I'll close this ticket out.

[2016-12-15 23:11] tfiduccia commented on #7076
@dax0 - care to check #6857 to see if duplicate.  If so, should be fixed in next release.

[2016-12-15 23:12] dax0 commented on #7076
No, I don't think it is.  Our CPU usage hasn't changed

[2016-12-15 23:14] tfiduccia commented on #7072
Version - master 12/15
Verified fixed

[2016-12-15 23:14] #7072 closed

[2016-12-15 23:28] dax0 commented on #7076
Is the measurement megabytes or megabits?

[2016-12-15 23:28] deniseschannon commented on #6857
To test, on upgraded setup, any table prefixed with `network_service_*` should be deleted. @sangeethah

[2016-12-15 23:40] tfiduccia commented on #7063
Version - v1.2.1-rc3 UI tag 1.2.38
Verified fixed

[2016-12-15 23:40] #7063 closed

[2016-12-15 23:42] StrongMonkey commented on #6504
@alena1108 No idea, it seems like the logrus didn't separate the logs automatically. There might be a solution by using two separate loggers(one for stdout, one for stdin) to log different levels(info or error), but that might take too much efforts.

[2016-12-16 00:02] bfosberry opened #7077 "NullPointerException and Rancher in invalid state"
**Rancher Version:**

1.12.0

**Docker Version:**

Unsure, hosted on joyent

**OS and where are the hosts located? (cloud, bare metal, etc):**

Joyend metal hosting

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Singleton with external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**

I think you can replicate this b

[2016-12-16 00:12] bfosberry commented on #7077
This could also be caused by removing the machine driver for active hosts

[2016-12-16 00:41] vincent99 commented on #7077
I think you need to add a custom driver, create a host using it, then delete the driver,  Since the built-in drivers can't really be deleted.

[2016-12-16 00:57] nagliyvred commented on #3678
I am having the same issue - hosts are just not getting registered.
I am using rancher/agent:v1.1.1-rc1 and rancher/server:v1.2.1-rc3

The list of processes does not seem to be getting shorter over time. Looks like a deadlock.
Can anyone please help?

[2016-12-16 01:06] sangeethah commented on #6857
Tested with upgrading from  rancher-server version 1.1.4 - v1.2.1-rc3

After upgrade , all the existing entries from network_service_provider_instance_map and network_service_provider get deleted.

[2016-12-16 01:06] #6857 closed

[2016-12-16 01:56] ibuildthecloud commented on #7010
@sangeethah Something is wrong because the service domains shouldn't be in a different order.

[2016-12-16 02:08] ibuildthecloud commented on #7010
@sangeetha.  Okay, rc2 was bad but rc3 is right.  I don't know what was up with rc2, but from 1.1.4 to rc3 you can see that just the host search was moved from front to back

[2016-12-16 02:15] bishalkc opened #7079 "External ELB Service wont add instance"
External ELB service wont attach instance to the ELB, I added instance manually but the ELB service removes it from ELB. Logs for ELB service

12/15/2016 9:07:54 PMtime="2016-12-16T02:07:54Z" level=info msg="LB configs to update: 1"
12/15/2016 9:07:54 PMtime="2016-12-16T02:07:54Z" level=info msg="Updating LB config: {rancher-test1 railsapp1_Default_adminProject_rancher.internal 80 [{xx.xx.xx.xx 80

[2016-12-16 02:23] balzaczyy commented on #6111
@cjellick Can you point me to any doc about "whitelist environment variable"?

This workaround (GODEBUG=netdns=go) works for my server, so I intend to do the same for my agent. Maybe I can create one container to have a test.

[2016-12-16 02:30] digz6666 commented on #4574
@vincent99 Ok, I will try that. Thanks for the hint!

[2016-12-16 02:33] sangeethah commented on #7010
Tested with v1.2.1-rc3

On the GCE hosts:
search c.rancher-qa.internal google.internal

When container are deployed with label - ```io.rancher.container.dns.priority: service_last```:

```search c.rancher-qa.internal google.internal default.rancher.internaltestoldway.default.rancher.internal rancher.internal```

When container are deployed without  dns priority label:
[code]

[2016-12-16 02:34] stefanlasiewski opened #7080 "rancher-nfs should support NFSv3"
**Rancher Version:**

1.2.0

**Docker Version:**

1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):**

CentOS 7.2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

single node rancher, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Problem:**

rancher-nfs appears to not support NFSv3, according to  #6938 .

I

[2016-12-16 02:36] #7010 closed

[2016-12-16 03:44] ragaar commented on #7080
My motivation for moving away from v3 was based on the catalog entry which stated "supported for NFS v4".

I thought it had said "NFS v4 only" but that is not the case in my current interface. Going to try and dig up the entry from the catalog repo to validate whether "only" was there or not.

[2016-12-16 03:58] ragaar commented on #7080
Confirmed it never said only.

@deniseschannon added that comment 16d ago

REF: https://github.com/rancher/rancher-catalog/blob/master/infra-templates/nfs/config.yml

[2016-12-16 04:05] ragaar commented on #6938
In case anyone tries to dig this up, I solved the naming scheme. Two new labels were created/added to help control the scope of a storage pool.

REF: http://docs.rancher.com/rancher/v1.2/en/rancher-services/storage-service/

[2016-12-16 04:07] InAnimaTe opened #7081 "Add check option to container.pull_image"
This is a request to extend the `io.rancher.container.pull_image` option to provide a value `check` where an image will be re-pulled only if the existent image ID doesn't match the upstream ID. This is one of the best ways users can ensure that even if the use the :latest tag, they'll truly have the latest image.

[2016-12-16 04:59] InAnimaTe opened #7082 "Scheduling a container to different host does not work when upgrading"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.5

**OS and where are the hosts located? (cloud, bare metal, etc):**
rancherOS, baremetal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
2 node cluster, single Rancher Server (internal DB)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle Environment

**Steps to Reproduce:**

Start a service wit

[2016-12-16 05:02] InAnimaTe commented on #7082
Note that If I launch a stack unticking "start services on creation" I can then "upgrade" the service, select the host I want, and then spawn it.

[2016-12-16 05:25] balzaczyy commented on #6111
FWIW, I download the master branch and did a test. Two DNS related tests failed.

compute_unix_test.go:175 --> "rancher.internal" is added to the head, instead of last one. Could be related to why DNS failed for cgo, though I don't use any .local or .internal name.

compute_unix_test.go:115:
    c.Assert(inspect.HostConfig.KernelMemory, check.Equals, int64(10000000))
... obtained int64 = 0
... exp

[2016-12-16 06:02] balzaczyy commented on #6111
I can workaround the issue by using IP directly, when registering the host. Look forward to the fix.

[2016-12-16 07:29] helphi opened #7083 "rancher UI can't list my own network"
I hava created a network on my host, but i can't select it from the drop down list.

I have a network named `mynet`
[code]

but i cant select it (i have restarted rancher yet)
![image](https://cloud.githubusercontent.com/assets/6457416/21255006/22c36c58-c3a4-11e6-8698-8d7a05023fa5.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.0` Cattle: `v0.174.3` UI: `v1.2.34` |
|Access|`local

[2016-12-16 07:39] vincent99 commented on #4213
Need a good way in the API to get the user's effective role for the current project to do this...

[2016-12-16 07:40] deniseschannon commented on #4576
@kvaes We are adding Windows support as experimental in 1.3.

[2016-12-16 07:41] vincent99 commented on #4614
LB has validation for this in 1.2, adding for service now.

[2016-12-16 08:03] xaka opened #7084 "Add support for custom/hard-coded registration key/secret"
In order to add custom host to rancher it asks you to do the following:

[code]

Based on my observation, both key and secrets are generated upon very first rancher server start and gets stored in persistent storage. Installing rancher from scratch gives you new values every time as expected.

The inconvenient part comes into play whenever there is a need for automation. Let's say I want to wrap m

[2016-12-16 08:06] deniseschannon commented on #4966
Closing as networking has been re-done to use CNI for 1.2.0.

[2016-12-16 08:06] #4966 closed

[2016-12-16 08:10] kvaes commented on #4576
@deniseschannon tnx for the feedback!

[2016-12-16 09:19] zzwangsh commented on #6878
+1 add new enviroment of k8s on rancher v1.2,ubuntu 14.04,docker.1.12

[2016-12-16 09:50] LoicMahieu commented on #7054
Hi

It is exactly the main issue we encounter with Rancher that prevents us to use it in production. There are some discussions related to:
- #6344 : Feature Request: Support kubernetes.io/ingress.class annotation
- #5999 : How to properly disable `rancher-ingress-controller`

And I tried to open a discussion on Rancher forum (https://forums.rancher.com/t/rancher-ingress-and-traefik/3930) without

[2016-12-16 09:57] lolziac commented on #6864
Dear All,

I can confirm that v1.2.1 fixes also my
Issue 1: Can't register any new hosts (tried 2)

But only if you mount the /var/lib/docker directory ... it doesn't work for me with symlink.
This works OK for me but now I have to find out why that fstab entry is not allowing my hosts to boot properly (they hangup) when rebooted.
`echo "/opt/docker /var/lib/docker auto rw,bind 0 0" >> /etc/fstab`

[2016-12-16 10:22] paeffgen commented on #2143
+1

[2016-12-16 11:27] ignacio-ibanez opened #7085 "UI not working with error "Reload to try again or log out""
**Rancher Version:**
v1.2.1
**Docker Version:**
1.12.5
**OS and where are the hosts located? (cloud, bare metal, etc):**
centos
**Steps to Reproduce:**
Once installed rancher and docker with the versions specified above, I try to access to the UI with http://\<ip\>:8080 but it redirects me to http://\<ip\>:8080/fail with the error "Reload to try again or log out". It also deny curl to that directi

[2016-12-16 11:48] ckreutz commented on #6858
Just want to add I have the same issues and that **the latest version 1.2.1 version does not solve it for me**. I tried it with various servers on Digital Ocean (Ubuntu, CoreOS etc.) and tried the mentioned hints above. (Sent my logs too). Did not work for me and I had no choice but to downgrade to 1.4.1.
1.2 is really not a resilient/stable version for me.

[2016-12-16 12:06] Negashev opened #7086 "run docker machine with rancher azure driver without firewall"
**Rancher Version:** 1.2

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** windows azure

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** create one machine with azure driver

**Results:** with stat

[2016-12-16 12:12] Negashev opened #7087 "Add CIFS as volume driver to rancher storage"
How about to collect driver cifs on based nfs?

[2016-12-16 12:56] kaos commented on #6816
@deniseschannon The docs for 1.2 only states how to start the rancher server using a private registry, and adding hosts will use the private registry for the agent image. However, the infrastructure service images does NOT use the private registry, and I have not found any reference in the documentation as to how to go about getting rancher to pull them from a private registry.

It does look like

[2016-12-16 13:02] superseb commented on #6816
Yep, hopefully we can make the registry configurable for infrastructure service images so that we can run it on-prem more easily. Till then you can preload the images and re-tag them so that you fake them coming from the Docker Hub.

[2016-12-16 13:16] oomathias commented on #6934
I have the exact same problem.
Everything is green. So basically nothing works without the DNS working, this is quite critical.

[code]

[code]

**Rancher Version:** 1.2.1
**Docker Version:** 1.12.4
**OS and where are the hosts located?:** 2 Bare-metal hosts running Ubuntu 16.04.1 LTS (with KVM) (4.4.0).
**Setup Details:** Single node + internal DB (mounted volume), migrated from Rancher 1.1.3
Env

[2016-12-16 13:19] goffinf opened #7088 "Integration with Amazon ECR authentication failures"
**Rancher Version:**
1.1.4

**Docker Version:**

1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

RHEL / AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

3 node HA + external (RDS) database

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**

Use Amazon ECR repositories for images.
Configure a c

[2016-12-16 13:21] qrpike opened #7089 "Container stats not showing up in host or service detail view."
**Rancher Version:**
1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Bare Metal, PXE Boot, CoreOS 1235.2.0

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, Internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Inside of an Environment, go to "Infrastru

[2016-12-16 13:26] superseb commented on #6900
Need any more help @mwaaas ?

[2016-12-16 13:29] qrpike commented on #7075
This would be pretty nice

[2016-12-16 13:47] stefanvangastel commented on #6816
@kaos @superseb @deniseschannon It seems this is the way: https://forums.rancher.com/t/rancher-kubernetes-in-an-offline-infratstructure/3917/3 though it is not documented yet.

Already have 2 people saying it works using a cloned and modified version of the Rancher Certified Catalog and using Rancher Server env var to set it.

Going to test it myself in the next few weeks.

[2016-12-16 13:58] garjunan commented on #6858
Hi,

healthcheck and ipsec containers came up for me after upgrading it to 1.2.1. But none of my services are functional. Name resolution is working but getting connection time out from one service to other.

For ex: service1 connecting to Mongo service on same stack using service link/alias.  I am able resolve the hostname of mongo but connection is timing out. Mongo is up and i am able to connec

[2016-12-16 14:00] goffinf commented on #3126
Required for us too. ECR is our strategic registry, without it, Rancher isn't much use to us.

When is this feature request going to be scheduled, it was raised over a year ago and @ibuildthecloud already said he knows whats needed to sort it. Plus there is a catalog item for dealing with token refresh already.

What do we have to do to get this on the list sometime soon ?

[2016-12-16 14:06] matfin commented on #7061
Hi Vincent,

From the example you have posted above, I have created a PR as follows https://github.com/rancher/community-catalog/pull/371.

With that done, will I now be able to edit the source code for the rancher ui project, adding in some code for ProfitBricks?

From my understanding, I will need to clone the [Rancher ui](https://github.com/rancher/ui) project, then do the following:

- create

[2016-12-16 14:12] Sturgelose commented on #7016
I have the same problem since updating to 1.2.0 and also in 1.2.1. I tried disabling the CAdvisor container I had thinking it might be the problem but still it gets stuck. If I restart the docker service, the dead containers disappear, though....

I recently updated to docker 1.12.5 for Debian and still the same :(

Also, tried to find which process is keeping the resource busy with `lsof` but the

[2016-12-16 14:23] kaos commented on #6816
thanks, yes, we were considering trying that. Thanks for the heads up that it's a viable work-around.

[2016-12-16 15:01] willseward opened #7090 "[UI] ui-auto.css 404: v1.2.1"
**Rancher Version:** v1.2.1

**Docker Version:** v1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):** RHEL 7, vSphere

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single Node, External DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**

Update to v1.2.1

**Results:**

No CSS loaded.

Failed to loa

[2016-12-16 15:02] pwFoo opened #7091 "RancherNFS deploy failed"
**Rancher Version:**
1.2

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS 7, bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Deploy RancherNFS

**Results:**
[code]

Any idea why it failed to

[2016-12-16 15:05] djskinner-sky commented on #6888
Still can't get basic auth to work:

[code]

The container doesn't complain about the config and starts now but I don't get the basic auth prompt.

Where am I going wrong?

[2016-12-16 15:13] djskinner-sky commented on #6888
[code]

Doesn't work either

[2016-12-16 15:39] bfosberry commented on #7077
I actually created the host using a standard driver, but I expect the behaviour is the same. A related issue is that when removing drivers can sometimes only be unstuck by restarting rancher

[2016-12-16 16:05] renaudManda opened #7092 "Not able to start containers having volume drivers set to rancher-nfs"
**Rancher Version:** 1.2.1

**Docker Version:** 1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):** ubuntu xenial / Proxmox

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
- Rancher with external MySQL
- NFS server provided by OVH as IaaS

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Rancher-nfs Version:**  rancher/stor

[2016-12-16 16:09] jloisel commented on #6934
I think it will take several fix releases for the v1.2.x branch to get things operational again. There are just too many regressions. We will wait until 1.3.x is out to migrate to 1.2.x, it's simply not enough stable right now to be usable in production.

[2016-12-16 17:03] StrongMonkey commented on #6956
@sangeethah Can you test the scenario i referenced in this issue? I believe it is fixed cause i tested myself but just want you to double-check.

[2016-12-16 17:19] omegarus commented on #5240
+1

[2016-12-16 17:21] kvaes commented on #2101
+1

[2016-12-16 17:33] ddelnano commented on #6858
I created a brand new Rancher 1.2 and 1.2.1 setup and am unable to get it the infrastructure services deployed.   I emailed my logs.  Its a shame that 1.2 doesn't seem to work easily out of the box.  Just to detail what I am using

**Rancher Version:**
v1.2.0-1 and v1.2.1

**Docker Version:**
1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 AWS

**Setup Detail

[2016-12-16 17:54] alena1108 opened #7093 "Enable random public port for LB"
Today randomly public ports functionality is disabled for LB service. And although it is not very common use case, we should probably add this functionality in. Here are a couple of examples for LB ports definitions:

1) LB is internal, source port is not exposed:

[code]

2) LB is public, source port is published to the same public port on the host:

[code]

3) LB is public, source port 80 is pub

[2016-12-16 17:58] vincent99 commented on #7090
D'oh.. This broke in the PR to add right-to-left language support, the `auto` should be rewritten to `light` or `dark` depending on the time.  Click the unstyled `Light` or `Dark` button for now to get CSS back.

[2016-12-16 18:10] sdelrio commented on #6855
Perfect now,  fix on rancher server v1.2.1, `rancher/network-manager:v0.2.15`.
[code]

[2016-12-16 18:13] deniseschannon commented on #6096
@maZahaca It seems like it's working and we haven't heard back from you.  If you still have questions, re-open.

[2016-12-16 18:13] #6096 closed

[2016-12-16 18:16] pulberg commented on #7016
Same issue here, RHEL7.2, Rancher v1.2.1, upgraded Docker 1.12.4 --> 1.12.5, no change

Full error output -
https://gist.github.com/pulberg/5ffe71cba5ab0bb52bd808df3d909890

[2016-12-16 18:17] tfiduccia commented on #7082
Version - 1.2.1 - Checked and this is still an issue in the current release.

[2016-12-16 18:22] deniseschannon commented on #6898
Please test with network services -v0.0.5 that has network-manager:v0.2.16. it is available in the `v121` branch in rancher-catalog.

[2016-12-16 18:28] deniseschannon commented on #6241
Using v1.2.1, I am unable to reproduce it.

I used your catalog and was able to upgrade from the old one to the new one.

Can you test with v1.2.1?

[2016-12-16 18:29] goffinf commented on #7088
I have got further with this and I *can* now get Rancher to successfully pull and deploy a container from an image stored in ECR (there was a problem with the password that I used for the custom registry set-up).

The next problem is that the Rancher ECR Credentials Updater from the community catalog fails with the following error ..

[code]

I am expecting that when I attempt to deploy a stack af

[2016-12-16 18:34] alena1108 commented on #6462
@deniseschannon thinking about just adding this flag as a field to our service API object. We won't process it though in java code, but it will be present on export. Rancher-compose already knows how to handle this field, so the support for it will be just there.

[2016-12-16 18:56] nextrevision opened #7094 "Unable to create Kubernetes project with v1 API"
**Rancher Version:**
v1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA w/ external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
Create a Kubernetes project using the `/v1` API and see that the project is in

[2016-12-16 18:57] galal-hussein commented on #7044
Rancher version: master build
Rancher-catalog - vnext branch
Kubernetes version: rancher/k8s:v1.5.1-rancher1-1

Tested kubernetes dashboard and i can see all namespaces, services, and pods.

[2016-12-16 18:57] #7044 closed

[2016-12-16 18:59] tfiduccia commented on #7082
@vincent99 - not sure what we can do here.  Do we want to remove the option to go directly to a specific host?

[2016-12-16 19:02] andruwa13 commented on #6841
not work 1.2.1

[2016-12-16 19:05] tfiduccia commented on #7089
Version - 1.2.1 Current version is not showing the hover information for containers in both the host view and the container view.  Checked previous 1.1.0 release and this is what it looked like:
![image](https://cloud.githubusercontent.com/assets/11514927/21274955/e7c118ec-c387-11e6-9f4a-686eadd70dcb.png)

[2016-12-16 19:07] InAnimaTe commented on #7082
Hmm. I don't really mind how its handled, so long as there is something there letting me know that functionality won't actually work the way I'd expect it to (maybe just a little note or something). Maybe it is best you remove that option entirely or maybe gray/shadow it out so people understand its not a supported action when doing an upgrade.

[2016-12-16 19:14] mrajashree commented on #7023
Should work with the latest webhook-service in master and the commands list https://gist.github.com/cjellick/cf2646316cf895d06e29298b2571f720

[2016-12-16 19:16] galal-hussein commented on #7005
Rancher version: master build
Kubernetes version: rancher/k8s:v1.5.1-rancher1-1

steps:
- Navigate to kubectl UI
- run `helm init`
- Add the deis repository to helm
`helm install deis/workflow --namespace deis`
- Install deis workflow
`helm install deis/workflow --namespace deis`

getting the following error:
[code]
tiller container stopped with the following error:
[code]

[2016-12-16 19:18] gbisheimer commented on #6864
I had the same issue. In my case was caused because I'm using a DNS name for my rancher server that resolves to our public IP address. The machine is located behind a router/firewall that doesn't know how to route the packets when I using the public IP address from inside the network.

So I just configured dnsmasq service in out server to resolve our domain name to the server IP address and I got

[2016-12-16 19:19] aemneina opened #7095 "passing in NO_PROXY as a container environment variable doesnt work"
**Rancher Version:**
v1.2.0

repro steps
* launch a container with an environment variable NO_PROX and specify arguments (e.g. `https://testdomain`)
* exec into the container and issue the printenv command

expected:
printenv should show NO_PROXY values from the arguments passed in to the container.

actual:
inside container NO_PROXY would be blank, it seems to inherit the rancher/agent, or host,

[2016-12-16 19:23] StrongMonkey commented on #7095
https://github.com/rancher/agent/pull/114

[2016-12-16 19:33] tfiduccia commented on #6895
Additional Info - Now the CPU is going from 0 to 100% for no apparent reason.

![image](https://cloud.githubusercontent.com/assets/11514927/21275832/cdc06fc0-c38b-11e6-8383-0da3c3d39e7d.png)

[2016-12-16 19:34] mccricardo commented on #6841
Are your images alpine:3.4 based?

[2016-12-16 19:35] deniseschannon commented on #6239
@sangeethah since host stats are working, we won't be updating the API, can you change your automation tests?

[2016-12-16 19:37] deniseschannon commented on #6586
This seems related to https://github.com/rancher/rancher/issues/5978

[2016-12-16 19:41] deniseschannon commented on #4576
@sangeethah Can you please file all bugs in new issues? When basic testing is complete, please close this ticket.

[2016-12-16 20:03] galal-hussein commented on #6181
Rancher version: master build
kubernetes version: tested on both rancher/k8s:v1.5.1-rancher1 and rancher/k8s:v1.5.1-rancher1-1
RHEL 7.2 with Docker 1.12.5

Kubelet containers started successfully without showing the mentioned error logs, and kubernetes stack was up and running.

[2016-12-16 20:03] #6181 closed

[2016-12-16 20:17] galal-hussein commented on #7058
Rancher version: master build
rancher catalog - vnext branch
kubernetes version: rancher/k8s:v1.5.1-rancher1-1

Kubedns started successfully, and all dns validation test cases passed successfully.

[2016-12-16 20:17] #7058 closed

[2016-12-16 20:25] galal-hussein commented on #6472
Rancher server: master build
rancher-catalog - vnext branch
rancher/k8s:v1.5.1-rancher1-1

since iptables rules are in place, I was able to reach services through their clusterip successfully.

[2016-12-16 20:25] #6472 closed

[2016-12-16 20:33] vincent99 commented on #5023
See rancher-ebs catalog item for 1.2.x.

[2016-12-16 20:33] #5023 closed

[2016-12-16 20:48] galal-hussein commented on #5801
Rancher version: master build

Steps:
- Enabled Github authentication
- Added a user to environment as a member
- Deleted this github user
- Navigated to edit environment tab

the edit environment tab didn't throw 500 error and i was able to see the deleted user as `(USER not found) null`, also the same in the account listing.

[2016-12-16 20:48] #5801 closed

[2016-12-16 20:52] vincent99 commented on #4618
I think this was fixed somewhere in 1.2

[2016-12-16 21:18] deniseschannon commented on #6898
I am able to re-add hosts using the network-manager:v0.2.17.

[2016-12-16 21:18] #6898 closed

[2016-12-16 22:22] thiagonache opened #7096 "HA mode does not work when ALB is on public subnets"
**Rancher Version:**
v1.2.1

[rancher@ip-172-16-3-168 ~]$ docker ps; docker images | grep 5a9
CONTAINER ID        IMAGE                   COMMAND                  CREATED             STATUS              PORTS                                                      NAMES
145418d3c183        rancher/server:latest   "/usr/bin/entry --db-"   22 minutes ago      Up 22 minutes       0.0.0.0:8080->8080/tcp,

[2016-12-16 22:41] vincent99 commented on #6218
The errors are no longer shown

[2016-12-16 22:41] #6218 closed

[2016-12-16 22:41] vincent99 commented on #6218
The errors are no longer shown

[2016-12-16 22:50] vincent99 commented on #4915
![image](https://cloud.githubusercontent.com/assets/753917/21281060/53e0d660-c3a7-11e6-9456-51ce439fbd3d.png)

![image](https://cloud.githubusercontent.com/assets/753917/21281055/4a8f7116-c3a7-11e6-8b41-e7c4c856cacd.png)

[2016-12-16 22:50] #4915 closed

[2016-12-16 22:56] vincent99 commented on #6405
@rezonant 1.3 is not months away.

@alena1108 It looks like handling the `defaultNamespace` doesn't work anymore.  Deleting something in the default NS works, in another one says not found.

[2016-12-16 23:22] sangeethah opened #7097 "Not able to add windows host successfully."
Rancher Version: Build from master - Dec 16 afternoon

library from rancher/rancher-catalog , branch - vnext

Steps to reproduce the problem:
Create Environment with windows template.

Add a Windows host.

Host gets to "Active" state and in a bit gets to"reconnecting" and "disconnected" state.

There is constant failed attempt made to deploy containers for "nat" and "transparent" stack which are s

[2016-12-16 23:36] tfiduccia commented on #4618
Now this is happening with Audit Log page instead.

[2016-12-16 23:37] sangeethah opened #7098 "Do not provide option for adding health check parameters when launching containers in Windows environment."
Rancher Version: Build from master - Dec 16 afternoon

library from rancher/rancher-catalog , branch - vnext

Steps to reproduce the problem:
Create Environment with windows template.
Add couple of Windows host.

Add service with health check enabled.
Containers are stuck in "Initializing" state forever , since health check service is not available for windows template.

UI should not present user

[2016-12-16 23:42] mathuin commented on #2153
I would like to add another command to the list:  `rancher-compose config`.  This will greatly help folks submitting bug reports by allowing us to see what rancher-compose sees.  The existing command in `docker-compose` spits out a single YAML file, which obviously isn't enough for `rancher-compose` but I'm confident you guys can work it out. :-)

[2016-12-16 23:42] soumyalj commented on #7023
For a project id missing, we still see the below 500 Internal server error
[code]

[2016-12-16 23:44] mathuin commented on #2733
The way I have done this is to build a volume locally and populate it with the files I need, test locally against that volume, then create the stack with the CLI and ssh into the target host where I create the volume and copy up the files.  There is probably a better way, but this works well for me.

[2016-12-16 23:51] tfiduccia opened #7099 "To: <service name> does not change for load balancer on edit"
**Rancher Version:** 1.2.1

**Steps to Reproduce:**
1.  Create two services
2.  Add a load balancer and point it to service1
3.  Edit load balancer and change it to point to service2

**Results:** The load balancer on the Stacks and the Stack detail page still say it's pointing to service1 until I refresh the screen.

**Expected:**  Should change when I edit it and not have to refresh to see chang

[2016-12-16 23:58] jinmatt commented on #5564
@Yermouth is right, kubectl is having issues to work with the generated `~/.kube/config` credentials when Local Authentication is enabled

@deniseschannon please reopen the issue

[2016-12-17 00:00] vincent99 commented on #4618
Re-checked audit log, processes, and HA, all had race conditions if you leave the page at just while it's reloading.

[2016-12-17 00:01] mathuin opened #7100 "rancher-compose replaces environment variables instead of merging them"
**Rancher Version:** 1.2.1

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** CoreOS at DO

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node Rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Create a `docker-compose.yml` file with the following co

[2016-12-17 00:54] sangeethah opened #7101 "Windows Host - Agent not able to stay up result in host getting to "reconnecting" state a few minutes after it gets to "Active" state."
Rancher Version: Build from master - Dec 16 afternoon

library from rancher/rancher-catalog , branch - vnext

Steps to reproduce the problem:
Create Environment with windows template.

Add a Windows host.

Host gets to "Active" state and in a bit gets to"reconnecting" and "disconnected" state.

rancher-agent seems to crash , after it starts successfully.

When I try to stop and start the agent man

[2016-12-17 00:58] sangeethah commented on #7097
Tested with latest build from master.

There is no attempt made to deploy containers for "nat" and "transparent" stack which are services with image name "rancher/none".

We are still not able to get the Windows host to stay in "active" state  which is tracked in https://github.com/rancher/rancher/issues/7101

[2016-12-17 00:58] #7097 closed

[2016-12-17 01:18] yeta-io opened #7102 "Obsolete service containers stuck in "stopping" state and cannot be removed."
**Rancher Version:** 1.2.1, also reproduced on 1.2.0

**Docker Version:** Docker version 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):** vps, ubuntu zesty

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single rancher + slaves for services

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reprodu

[2016-12-17 01:33] soumyalj opened #7103 "Should we allow scale up/down on an inactive service using webhooks ?"
**Rancher Version:**Master

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Create a cattle setup with webhook enabled DEFAULT_CATTLE_WEBHOOK_SERVICE_EXECU

[2016-12-17 01:42] alena1108 commented on #6405
@soumyalj please test with kubectld image rancher/kubectld:v0.5.1 (last build in vnext branch, the one with skydns and helm)

[2016-12-17 01:57] rezonant commented on #6344
Rancher 1.2.0 came out and I naturally re-evaluated the options when it comes to handling ingress and automated TLS.

@LoicMahieu In the new release I can disable the ranger ingress controller service without causing the Kubernetes UI to stop. I think it bumps the stack to warning (yellow) though.

I have also experimented with replacing the service with a docker no-op image which might get your s

[2016-12-17 02:29] InAnimaTe commented on #3505
It'd be nice if any of the following were offered to make this process more intuitive and service specific:

1. A tickbox for HTTPS/TLS rules to enable redirection.
2. A label I can set on said service telling the LB to enable redirection.

[2016-12-17 02:43] mathuin opened #7104 "Container constantly going up and down"
**Rancher Version:** 1.2.1

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** CoreOS at DO

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node Rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Install Munsio's nginx-letsencrypt catalog entry (not sure

[2016-12-17 03:30] adrianfalleiro commented on #3989
@cpoole I've only just got to this. Yep, correct thats the repo.

Unfortunately I've got pretty bad internet atm - so haven't been able get a Go dev environment running so I haven't been able to test this against the latest version of `rancher-compose`

A couple things to note:

- You might need to run `go fmt` I think some of my indents are messed up
- I've not written any tests
- Might want to m

[2016-12-17 03:48] rezonant commented on #7104
Do you have nginx running in daemon mode? If nginx is the main process of your container and you have an always-restart policy, then this would happen. You can tell nginx to not spin out into a daemon with `daemon off;` in your configuration.

[2016-12-17 03:51] deniseschannon commented on #6584
In network-services v0.0.6, which uses rancher/dns:v0.10.9. This is located in the `vnext` branch of rancher-catalog.

[2016-12-17 03:59] deniseschannon commented on #6344
@rezonant I'm not sure what you mean by "multiple host-based ingresses", but we do support host based routing and I would assume it could be for multiple targes.

http://docs.rancher.com/rancher/v1.2/en/kubernetes/ingress/#setting-up-a-ingress-resource-with-host-based-routing

[2016-12-17 04:02] rezonant commented on #6344
Newer versions of Kubernetes allow you to create multiple Ingress resources, each of which may vary only by hostname. The intention of this is to allow the infrastructure layer to construct a _single_ load balancer which can connect a single ingress port to Kubernetes services via the ingress services which they are associated with.

[2016-12-17 04:04] deniseschannon commented on #5564
@jinmatt What version of Rancher are you using? I did this with Rancher v1.2.0 in my monthly training session using local authentication and using the generated config. It had no issues.

[2016-12-17 04:14] rezonant commented on #6344
Adding two ingress resources causes rancher's LB controller to do this:

![image](https://cloud.githubusercontent.com/assets/409140/21284273/4aa8a7ba-c3e5-11e6-8f02-9bf5851ca1cb.png)

[2016-12-17 04:36] Negashev commented on #7086
I think it docker machine problem

[2016-12-17 05:31] willseward opened #7105 "[UI] "Global" misspelled"
**Rancher Version:** v1.2.1

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04, DO

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** External DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Create a globally scheduled load balancer

**Results:** "Global" is spelled

[2016-12-17 06:28] deniseschannon commented on #5731
@sangeethah Are you still seeing these issues with all the new changes that went into v1.2.1?

[2016-12-17 08:48] vincent99 opened #7106 "Bulk actions/pagination issues"
Old
- [x] Single [...] action menu on every row
- [x] Background color for selected rows
- [x] Clear selectedness of rows that become invisible due to searching
- [x] Sorting not very sort-ey
- [x] "Are you sure you want to delete thing1 thing2 ... thingN" is kinda hard to read will not go well with 50 long names... Put a newline between each name, and if length > 10 then say "Are you sure you wan

[2016-12-17 10:27] mwaaas commented on #6900
@superseb  No thanks am good

[2016-12-17 10:27] #6900 closed

[2016-12-17 10:38] bitninjaio commented on #2536
Any update on it? I also think the scheduler should prefer to destroy the containers on an inactive node upon scaling down. This way we could control which node we want to be destroyed.

[2016-12-17 13:14] LennardWesterveld commented on #1403
Can some one from the "rancher" team tell us when this will be implemented? (time window)

[2016-12-17 17:09] sangeethah opened #7107 "Intermittent error when deploying lb services -"Untar error on re-exec cmd: fork/exec /proc/self/exe: cannot allocate memory""
Server version - v1.3.0-rc1
Docker version - 1.12.5

When deploying LB services , sometimes LB container fail to deploy with the following error when trying to pull LB image.

[code]

This container gets to "Error" state and the subsequent attempt to create the LB container succeeds.

[code]

Following are the errors seen in agent logs when this happens:

[code]

There are about 15 LB test cases i

[2016-12-17 17:19] sangeethah commented on #6584
Tested with rancher-server - v1.3.0-rc1 with rancher/dns:v0.10.9
Container links are resolvable.
Automation runs relating to container links succeeds.

[code]

[2016-12-17 17:29] sangeethah commented on #6638
Tested with latest build from master:
Able to add Windows hosts successfully.
Able add/delete services.
Able to do exec contaners , container stats and logs.
Host stats are also functional.

Following are some issues seen when testing this feature:

https://github.com/rancher/rancher/issues/7098
https://github.com/rancher/rancher/issues/7097
https://github.com/rancher/rancher/issues/7101

[2016-12-17 17:29] #6638 closed

[2016-12-17 19:19] sangeethah commented on #5731
Tested with rancher-server - v1.3.0-rc1.

Exception mentioned in this issue is not seen when validation tests are run.

[2016-12-17 19:19] #5731 closed

[2016-12-17 21:22] StrongMonkey commented on #7107
it is an error from docker daemon. Do you have enough memory for you host?

[2016-12-17 21:37] joshuacox opened #7108 ""Failed to find network for networkMode managed""
**Rancher Version:**  v1.2.1

**Docker Version:**

[code]

**OS and where are the hosts located? (cloud, bare metal, etc):**

rancherOS 071 in KVM virtual machine

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

3  rancherOS 071 1 server node + 2 agent nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**
install fresh r

[2016-12-17 22:21] deniseschannon commented on #7108
Did all the infrastructure stacks become green before you launched anything?

[2016-12-17 22:40] soumyalj commented on #7023
Tested with v1.3.0-rc1. For a request with missing project id, we see the correct error (400 Bad Request) as expected:
[code]
For a request with missing header, the appropriate error message is displayed
[code]

[2016-12-17 22:40] #7023 closed

[2016-12-17 22:48] dax0 commented on #6858
There are an incredible amount of issues with Rancher 1.2.1 we've burned a huge amount of time dealing with this.  It is clearly not ready for production.  You guys need to revert the :latest tag to something stable.  You are screwing more and more people over.

[2016-12-18 01:06] billywhizz opened #7109 "Error Provisioning EC2 Hosts with longer AWS resource ids"
**Rancher Version:**
1.1.4

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Launch a new EC2 Host. Issue noticed on 17th December

**Results:**
Host will not launch. Error communicating with Docker. We noticed that AWS is now using longer instance id's and wo

[2016-12-18 02:22] sangeethah commented on #7107
Yes. These are g1-small instances that have been used for host boxes always for automation runs. When this error happens , the next attempt to deploy the container succeeds.

[2016-12-18 02:23] bishalkc commented on #7109
I have encountered the same issue. I have got different errors,

1. Could not verify OS (when provisioned with RancherOS) and
2. Waiting for SSH to be available (when provisioned with ubuntu)

[2016-12-18 02:44] sangeethah opened #7110 "dig on <link name>.rancher.internal resolves to only 1 ipaddress when it is linked to service with scale 2."
Rancher Version: v1.3.0-rc1

Steps to reproduce the problem:
Create a service S1 and link in to service S2 with scale 2 with link name as "mylink".
From containers of service S1 , "mylink" resolves to both containers of S2.
But "mylink.rancher.internal"  resolves to only 1 of the containers of S2.
[code]

[2016-12-18 03:09] jinmatt commented on #5564
@deniseschannon v1.2.1

[2016-12-18 04:44] dreamOW opened #7111 "catalog cannot update automatically"
**Rancher Version:1.20

**Docker Version:1.12.0

**Environment Type: Cattle

**Steps to Reproduce: Well, I create a catalog named Test, Then I want to update it, and I already change my code in git, but there is not change in my catalog after a whole day, Then I delete this catalog and rename it to a new name(fortest), at last, it show that "There are no compatible templates", I found that there i

[2016-12-18 04:54] deniseschannon commented on #7111
Catalogs are automatically updated every 5 min. Did you check the rancher server logs to see if there were any errors occurring during the refresh?

Also, you can manually refresh your catalog by clicking on the refresh button in the Catalog page. It is in the upper right hand corner under the menu bars.

[2016-12-18 06:44] aemneina commented on #7109
which AMI are you using? can you launch that AMI in the same VPC subnet and add the host that route? That would ensure the vpc can reach out to the rancher server.

[2016-12-18 06:54] aemneina commented on #7108
@joshuacox what kind of networking are you using for the VM's (bridged, vlans, iptables...)?

[2016-12-18 08:16] PotterDai opened #7112 "Suggestion: Use go binary file directly when build docker image"
**Rancher Version:**
1.2.0

Build within docker container generates image with very large footprint.
For example "rancher-net" image took 259mb.

A much size efficient way can be achieved by building docker image directly using go binary file.
For example: https://github.com/containous/traefik/blob/master/Dockerfile
traefik's docker image size is only 6mb.

[2016-12-18 09:04] bay007 commented on #6922
I have the same issue;
![captura](https://cloud.githubusercontent.com/assets/8164038/21292538/8bc4a5ac-c4ce-11e6-8353-a2f0a74d2ed8.PNG)

My environment is

**# docker version
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 23:26:11 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.2
 API version:  1.24
 Go version

[2016-12-18 09:18] akorolyov commented on #2182
+1

[2016-12-18 12:37] chickahoona opened #7113 "Rancher breaking "hostname -f""
**Rancher Version:**
1.2.0

**Docker Version:**
Docker version 1.12.5, build 7392c3b

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher with internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Create a Rancher stac

[2016-12-18 12:49] darrenscerri commented on #7113
This may have been fixed by #6855.

[2016-12-18 13:00] chickahoona commented on #7113
I updated my server and could reproduce the problem with:
[code]

[2016-12-18 15:30] Dmitry1987 opened #7114 "Corrupt page shows up on rancher 1.3.0.-rc1"
**Rancher Version:**
1.3.0-rc1
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Tried to install HA rancher with 3 nodes, all startup on, but UI displays like this
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
none yet
**Steps to Reproduce:**
normal install on

[2016-12-18 15:42] Dmitry1987 commented on #7068
Sorry guys, solved this... was a typo in launch command .. somehow the word "/.ssh/"  appeared there in middle of launch string ... and it's a ghost,  we don't see it here pasted, but it appears in history :) just found it.

[2016-12-18 15:42] #7068 closed

[2016-12-18 15:56] joshuacox commented on #7108
@aemneina  the VMs are bridged at the KVM host level, effectively getting peer addresses on the 10.x.x.x network

[2016-12-18 15:57] joshuacox commented on #7108
@deniseschannon  sorry I erroneously put 'cattle', it's all KVM but I installed from the rancherOS ISO as if they were 'bare-metal'

[2016-12-18 16:18] vincent99 commented on #6922
This is a docker bug marked fixed in 1.12.3 (the server version is the relevant one here, not client).  https://github.com/docker/docker/issues/27540

[2016-12-18 16:18] #6922 closed

[2016-12-18 16:37] GameScripting commented on #5292
Today I installed rancher v1.2.1 onto fresh VMs with docker 1.12.
Unfortunately it seems like rancher managed network is still incompatible with docker 1.12 networks.

Am I correct? Is this still a feature request or should it working in 1.2.1?

[2016-12-18 17:21] joshuacox commented on #7108
here is an API dump of one of the active agents:

[code]

[2016-12-18 18:36] billywhizz commented on #7109
Hi. We are using Ubuntu 15 LTS ami. AMI id is ami-8aa67cf9

[2016-12-18 18:39] billywhizz commented on #7109
We have not had an issue with this AMI previously. When we try to clone an existing host in rancher we have the issue so no difference between ones that are successfully deployed and running.

[2016-12-18 18:44] billywhizz commented on #7109
Docker version is actually 1.10.3 not 1.12.3 as stated above

[2016-12-18 19:30] jurajseffer commented on #7084
Aren't these tokens per environment rather than per Rancher installation? The API URL is something like `/v1/projects/{project_id}/registrationtokens?state=active&limit=-1`, you can then grab `registrationUrl` from the response.
I need it for terraform as well but I've opted to store those tokens in terraform once the environments are generated. It's usually the hosts that are swapped in an out ra

[2016-12-18 21:46] tnh commented on #6858
We failed in a rouge upgrade to Rancher 1.2.x (We didnt pin the version of our 'rancher-server' and an EC2 instance rebooted and force upgraded us).

Our topology is
[code]

We are hosted in AWS and we have tight security groups between our instances and the rancher server. We block ICMP by default, but enable HTTP/ws to Rancher Server and UDP ports for health checks in Rancher 1.1

I have a feeli

[2016-12-18 22:25] dbones opened #7115 "Rancher scheduler (1.2.0) unexpected behaviour"
As mentioned here: https://forums.rancher.com/t/rancher-scheduler-1-2-0-unexpected-behaviour/4904

**Rancher Version:** 1.2.0

**Docker Version:** 1.2.1

**OS and where are the hosts located? (cloud, bare metal, etc):** ubuntu

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** simple (single host)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**S

[2016-12-18 22:46] bergtwvd opened #7116 "Swarm does not work"
**Rancher Version:**
1.2.1

**Docker Version:**
Docker version 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):**
I have two clusters with 4 VMs in each:
- Cluster 1 (4 x Ubuntu 14.04): Linux docker-3 4.4.0-31-generic #50~14.04.1-Ubuntu SMP Wed Jul 13 01:07:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
- Cluster 2 (4 x Ubuntu 16.04): Linux ranch-master 4.4.0-53-g

[2016-12-18 22:57] proligde commented on #6858
@tnh that's interesting as it matches our setup exactly, where it failed as well: rancher server on aws, strict firewalling with no icmp, external DB on rds. And we use an ELB as our rancher endpoint, forwarding the TCP traffic to the rancher servers using an ELB proxy policy to make websockets work correctly. Hope this helps others or the rancher dev team to find parallels causing the issue. Or i

[2016-12-18 22:59] bergtwvd opened #7117 "Documentation on Rancher 1.2 / Swarm does not seem right"
**Rancher Version:**
1.2.1

**Docker Version:**
Docker version 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):**
bare metal.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Server and 3 slaves (see also https://github.com/rancher/rancher/issues/7116),

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Swarm

**Steps t

[2016-12-19 00:59] yeta-io commented on #7102
I see in rancher server logs a lot of messages like, may be it anyhow related to the issue?

[code]

[2016-12-19 01:19] BNUZ-YLSY commented on #6914
It seems this issue has been fixed with **v1.2.1**, tried to upgrade your Rancher version. -> #6897

[2016-12-19 01:28] sangeethah commented on #6374
@alena1108 , we dont see process left behind when running validation tests on rancher-server version - v1.3.0-rc1.

[2016-12-19 01:54] joshbenner commented on #7082
1.2.1: I just tried editing a service, adding a host label rule to change which host a run-once service runs on -- no effect.

[2016-12-19 02:09] sangeethah opened #7118 "when host is in "Disconnected" state , there is a constant attempt made to start "healthcheck" container that keeps failing."
Rancher Version: v1.3.0-rc1

Steps to reproduce the problem:
Deploy a global health check enabled services.
Deploy a global services with no health check enabled.
power down one of the hosts.
Wait for the host to go from Active->Reconnecting->Disconnected.

Even after the host is in "Disconnected" state , there is a constant attempt made to start "healthcheck" container in this that keeps failing.

[2016-12-19 02:30] sangeethah commented on #6803
Tested with Rancher Version: v1.3.0-rc1

Deploy a global health check enabled services.
Deploy a global services with no health check enabled.
power down one of the hosts.
Wait for the host to go from Active->Reconnecting->Disconnected.
global service instance with no health check enabled gets removed from the host that is in "Disconnected" state.They are not stuck in "starting" state anymore.

On

[2016-12-19 02:30] #6803 closed

[2016-12-19 03:00] sangeethah commented on #6808
Tested with v1.3.0-rc1
Once the host that is "Disconnected" state is powered on , and the host gets to "Active" state there are no more  active volumestoragepoolmap.remove process .

[2016-12-19 03:00] #6808 closed

[2016-12-19 03:35] lion200816 opened #7119 "Is there a better way to install infrastructure service for 1.2.0+"
**Rancher Version:**
1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Internal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node and external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

**Results:**
After upgraded to 1.2.1, due to our servers has no int

[2016-12-19 03:35] sangeethah commented on #6239
Fixed automation script  with PR - https://github.com/rancher/validation-tests/pull/264

[2016-12-19 03:35] #6239 closed

[2016-12-19 04:04] sangeethah commented on #7118
This issue is also seen with any global health check enabled services.

[2016-12-19 04:05] sangeethah commented on #6427
Tested with rancher server version  - v1.3.0-rc1

1. Mark one of host to "Inactive" state.
Deploy service on this host. Containers get deployed successfully on this host.

2. Power down one of the hosts in the setup.
Wait for host to get to "reconnecting"
Deploy service on this host.
Containers get stuck in "registering" state until the host gets to "disconnected" state.
After this there is a cont

[2016-12-19 04:42] HackerWilson commented on #6943
@vincent99 swarm catalog is really removed from rancher 1.2.1, so swarm mode in rancher is just a children tool now?

how do you think about support the docker compose bundle?

[code]

[2016-12-19 06:06] HackerWilson opened #7120 "use compose bundle to replace the swarm catalog"
**Rancher Version:**
v1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher
external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Swarm

**Steps to Reproduce:**
1. create swarm mode cluster
2. swarm catalog is missing

**Results:**

[2016-12-19 06:32] ibuildthecloud commented on #7120
@HackerWilson This is really just too much a moving target.  As such we've really had to decrease the scope of what we support with anything related to Swarm.  We just don't really know where things are going and they change with each Docker release.  On this topic specifically, I do not think "bundles" or "dabs" will be a user level concept if not dropped completely.  In Docker 1.13 compose files

[2016-12-19 06:46] vincent99 commented on #4130
Not applicable as of 1.2..

[2016-12-19 06:46] #4130 closed

[2016-12-19 06:47] vincent99 commented on #5700
n/a in 1.2, and VMs will eventually be an infra stack you'll be able to see.

[2016-12-19 06:47] #5700 closed

[2016-12-19 06:49] dissonanz opened #7121 "rancher-compose requires more than service name for upgrade"
**Rancher Version:**
1.2.1

**Rancher-compose Version:**
v0.12.0

**Docker Version:**
1.12.5

**OS and where are the hosts located? (cloud, bare metal, etc):**
virtualbox (boot2docker)

**Setup Details:**
Single-container rancher server

**Environment Type:**
Cattle

**Steps to Reproduce:**
- create a service using rancher-compose
- try to upgrade the service using a new service name in docker com

[2016-12-19 06:53] vincent99 commented on #4210
#1990

[2016-12-19 06:53] #4210 closed

[2016-12-19 06:53] vincent99 commented on #4716
#1990

[2016-12-19 06:53] #4716 closed

[2016-12-19 06:57] deniseschannon commented on #6816
We have actually introduced a concept of a `default registry`, but there is no availability in the UI. Through the API under `/v2-beta/settings`, we can set the `registry.default` setting. If `registry.default` is set, then all images that do not have any user specified registry (i.e `ubuntu:14.04`) will get the default registry prepended to them. Other images with user provided registries such as

[2016-12-19 08:35] XciD commented on #6928
Any update on this ?

[2016-12-19 08:56] darrenscerri commented on #7114
Did you try clearing browser cache? Or maybe incognito mode?

[2016-12-19 08:58] dreamOW opened #7122 "Want to delete host but stay at REMOVING status"
**Rancher Version: 1.14

**Docker Version:1.12.1

**Environment Type: Cattle

**Steps to Reproduce: At first, I found one of my host is dissconnected, there were some containers run in this host before,  then I want to delete it

**Results: but I find that the host is stay at REMOVING, and have no change any more

**Expected: so where I can fix this problems, by the way, it there any way I can re-

[2016-12-19 08:59] superseb commented on #7119
Check https://github.com/rancher/rancher/issues/6816 for progress on this @lion200816

[2016-12-19 09:09] Dmitry1987 commented on #7114
Yup, cache is not an issue. It's all new IPs and machines we used for test.  Reinstalled 1.2.1 and UI was ok  :)

[2016-12-19 09:11] swartel-fa commented on #3147
+1

[2016-12-19 09:14] Volkanugr commented on #1189
any progress ? 👍

[2016-12-19 09:18] NDevox commented on #3147
+1. This is a serious problem for some businesses.

[2016-12-19 09:22] nicolinux commented on #7013
Nope, the problem is back. Same output. Seems to be a Docker issue which gets propagated to Rancher.

[2016-12-19 09:24] dreamOW commented on #7111
Well, Thank you so much,I found this problem is caused by git problems.

[2016-12-19 09:24] #7111 closed

[2016-12-19 09:28] mcanevet commented on #6914
Still having the issue with 1.2.1...

[2016-12-19 09:52] nicolinux commented on #7013
Ok, investigated further. This is caused by a dead Rancher container. Here is the output of "docker inspect" on that container:

https://gist.github.com/nicolinux/77c83deae7bf4bc3961c6942dbade42a

As soon as I restart the docker service on the respective host, the errors in the Rancher log stop and I get this output:

`
time="2016-12-19T09:43:32Z" level=info msg="Shutting down backend xxx. Connect

[2016-12-19 10:02] NDevox commented on #3248
For bitbucket it is possible to generate an API key for teams under the API key in the manage team page.

This will allow you to access the repo with https via `https://{team-name}:{API-key}@bitbucket.org/{team-name}/{repo}`

[2016-12-19 10:15] kaos commented on #6816
@deniseschannon Thanks, that was the missing piece of information 😄  I knew there was supposed to exist something like that ;)

[2016-12-19 10:40] sevenval-admins opened #7123 "Configurable prefix in graphite output"
**Rancher Version:**
1.2.0

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS7 in VM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Activate graphite output bei setting value in /v1/activesettings/1as28

**Result

[2016-12-19 10:54] tawalaya opened #7124 "docker --net=host"
**Rancher Version:**
1.1.1
**Docker Version:**
1.12.5
**OS and where are the hosts located? (cloud, bare metal, etc):**
redhat aws ec2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
sudo docker run -e CATTLE_SCRIPT_DEBUG=debug --privileged -v /var/run/docker.sock:/

[2016-12-19 10:58] Dmitry1987 opened #7125 "Failure to run HA 3 nodes (1.2.1) on RancherOS, AWS"
**Rancher Version:**
1.2.1
**Docker Version:**
1.12

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS , AWS, default latest AMI  , Oregon

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Trying 1.2.1  HA setup with external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
none

**Steps to Reproduce:**
Run 3 RancherOS  t2.medi

[2016-12-19 11:06] Dmitry1987 commented on #7125
Then, we just wiped all this setup (drop database, remove containers), and tried again. This time have this result:

1 master that was launched first, created the DB schema, and got stuck somewhere, like you see in log last lines here:

time="2016-12-19T10:53:36Z" level=error msg="Failed to pull the catalog from git repo https://git.rancher.io/rancher-catalog.git, error: exit status 1"
time="2016-

[2016-12-19 11:34] khauser commented on #7025
Still an issue in 1.2.1

[2016-12-19 11:39] guydou commented on #5957
Hi, I am dealing with the same issue in rancher 1.1.4, any idea what it is all about?

Currently the only way I solve it, it by creating a new docker container for the master, it is very bad for me

[2016-12-19 12:15] yeta-io commented on #7114
Confirm the issue, tried 1.3.0-rc, the ui is broken

[2016-12-19 12:22] Vrtak-CZ commented on #7007
Am I doing something wrong? Or is a bug? The reason why we have only one host (node) in this environment is because of staging we don't need HA here.

[2016-12-19 13:14] nicolinux commented on #7013
Looking further this seems to be related to docker/docker#27381.

[2016-12-19 13:42] rlex commented on #7114
Same here.
/assets/null.css?1.3.0 - responding with 404.

[2016-12-19 13:50] wzrdtales commented on #7122
Same for me, but rancher version 1.2.1

[2016-12-19 13:51] wzrdtales commented on #7122
[code]

[2016-12-19 14:08] kingsqv opened #7126 "Does racher Cattle only support dnsrr mode for service?"
**Rancher Version:**
1.2.1
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
service:nginx   scale=3  and a busybox
**Results:**
when i in busybox run command: wget -O- nginx  it worked well but then
stop  the container of nginx service which busybox used ,  wget -O

[2016-12-19 14:22] cllunsford commented on #7016
Seeing the same issue after upgrading to Rancher v1.2.1.  Docker v1.11.2, Ubuntu 14.04

[2016-12-19 14:23] jdel commented on #6241
I haven't planned the 1.2.1 migration yet. Should happen early January, I will keep you posted.

[2016-12-19 14:52] cllunsford commented on #7016
This looks to be very similar to #6639 .  It appears that the rancher-agent container is holding onto a mount for `/var/lib/docker/containers/[container-id]/shm` preventing the deletion.

docker daemon log:
[code]

Finding process with mount:
[code]

If I exec into the rancher-agent, I can confirm that the mount exists:
[code]

Restarting the `rancher/agent` and `rancher/network-manager` clears th

[2016-12-19 15:13] ekristen commented on #7016
I'm seeing this exact same issue. Please advise.

[2016-12-19 15:20] pulberg commented on #7114
@Dmitry1987 click on one of the "theme" button on the botom of the page, you should then see the UI.

[2016-12-19 15:26] ekristen commented on #6947
I'm seeing this behavior too.

I just installed Rancher 1.2.1 and I can't pull any private images from my private registry. The registry works just fine with the docker cli and everything else, but rancher isn't behaving properly.

It is attempting to talk to /v2/ and gets a 401, it appears to go fetch a token from the token login service but never seems to pass that information back, because the

[2016-12-19 15:26] rlex commented on #7114
@pulberg good find.
Looks like light theme is broken.
Dark works fine.

[2016-12-19 15:34] pulberg commented on #7114
@rlex I can see both themes, maybe you have to click "auto" then go back to "light" or something.

[2016-12-19 15:34] ryanwalls commented on #5201
@soumyalj same question. Is this ready now? If not, what is the target release?

[2016-12-19 15:37] mcanevet commented on #7113
@chickahoona you also have to upgrade the network-services infrastructure stack

[2016-12-19 15:40] willseward opened #7127 "Robots.txt"
**Rancher Version:** 1.2.1

**Docker Version:** n/a

**OS and where are the hosts located? (cloud, bare metal, etc):** n/a

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** n/a

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** n/a

**Steps to Reproduce:**

Access /robots.txt

**Results:**

[code]

**Expected:**

[code]

Bots should probably not be allowed b

[2016-12-19 15:41] mcanevet commented on #7052
This is fixed in 1.2.1

[2016-12-19 15:41] #7052 closed

[2016-12-19 15:42] vincent99 commented on #5201
When an issue is resolved+closed It's available in the release indicated by the milestone.

The swarm option in 1.2 is the new Docker 1.12 swarmkit.  You need to register hosts with private (RFC 1918) IP addresses instead of public because 1.12 does not support public. 1.13+ do.

[2016-12-19 15:42] mwaaas commented on #5201
@dexterbt1 @ryanwalls  is supported in this version

[2016-12-19 15:45] ekristen commented on #6947
@StrongMonkey I've tried, it doesn't seem to work.

[2016-12-19 15:59] vincent99 commented on #7125
The locked database means you had a half completed upgrade for that database; http://docs.rancher.com/rancher/v1.2/en/faqs/server/

And the other two servers can't reach the RDS DB... Check it'ss security group.

[2016-12-19 16:02] greg0ire commented on #6888
@djskinner-sky here is my config, it works :

[code]

[2016-12-19 16:08] ekristen commented on #6758
@danielschlegel do registry pulls work at all for you? There seems to be 3 other issues open now saying that private registry pulls don't work in 1.2.x anymore ...

https://github.com/rancher/rancher/issues/7088 (ecr)
https://github.com/rancher/rancher/issues/7048 (gitlab)
https://github.com/rancher/rancher/issues/6947 (other private)

[2016-12-19 16:27] mcanevet opened #7128 "Container that publishes port can't access itself via the host IP"
**Rancher Version:**

1.2.1

**Docker Version:**

1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

Ubuntu 16.04 on AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**

* Create a container that publishes a port.
* Scale it
* fr

[2016-12-19 16:28] vincent99 commented on #6888
If you have existing balancers from 1.2.0 they will need to have their images upgraded (the little orange up arrow) or be recreated.

[2016-12-19 16:31] galal-hussein commented on #7095
Rancher version: master build

Tested running a container with NO_PROXY set to `https://testdomain`, and the environment variable passed to the container correctly:
[code]

[2016-12-19 16:31] #7095 closed

[2016-12-19 16:34] danielschlegel commented on #6758
yes they do work if i have only one registry configured and restart rancher after adding it.
if i add a second one the first one still work but not the second one.
after restart again the first one does not work anymore but the second does.

[2016-12-19 16:51] djskinner-sky commented on #6888
@greg0ire that works. I was missing the `global`. I did have to manually delete the container first though. Straight upgrading the existing container didn't seem to work. I'd already clicked the little orange up arrow as @vincent99 suggested when I initially upgraded Rancher itself.

[2016-12-19 16:57] ekristen commented on #6758
@danielschlegel which rancher services do you have to restart?

[2016-12-19 16:59] joshuacox commented on #7108
I notice the default environment was using a template of 'none', so I removed the hosts under infrastructure, created a new environment, using the 'cattle' template.  And have added the hosts, and they began to populate wtih the usual networking infrastructure containers.  I started with a gitlab container again and it seems to have gotten past the networking issue, all seems to be good I'm going

[2016-12-19 16:59] #7108 closed

[2016-12-19 17:14] clicman commented on #7065
Same for me. Workarounded using v2-beta api with 'loadbalancerservices' PUT request
Python example: https://github.com/clicman/rancher-cli-addons/blob/master/rancher/service.py#L122

Example with rancher-cli-addons:
[code]

[2016-12-19 17:15] nextrevision opened #7129 "go-machine-service and rancher-compose-executor restarting every minute"
**Rancher Version:**
v1.2.1 (upgraded from v1.1.4)

**Docker Version:**
1.11.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu Trusty, AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA w/ external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
After upgrading to v1.2.1 (and also upgradin

[2016-12-19 17:15] wzrdtales commented on #7122
Downgraded back to 1.2.0 and the error disappeared, seems to have been introduced in 1.2.1

[2016-12-19 17:17] greg0ire commented on #6888
Glad to learn that did the trick for you. I faced this problem myself today and was really happy to learn it was fixed with the 1.2.1 release only 3 days ago !

[2016-12-19 17:22] nextrevision commented on #7129
Possibly related to #6753

[2016-12-19 17:24] stefanlasiewski commented on #7016
Well, turns out that I'm still having this problem. It just took a couple days to re-appear.

Rancher 1.2.0, CentOS 78.2, Docke 1.12.4, Cattle, Devicemapper with direct-lvm.

Are these errors perhaps from containers which are bind mounting /var/lib/docker/ ? Does this Troubleshooting step offer a fix?

https://docs.docker.com/engine/admin/troubleshooting_volume_errors/#/error-unable-to-remove-file

[2016-12-19 17:24] oomathias commented on #6934
@deniseschannon Any news here?

Without DNS, I have to patch /etc/resolv.conf on each container to add a public DNS (like 8.8.8.8).
Are you aware of this? My production environment encounters this bug, so it's critical.

[2016-12-19 17:27] StrongMonkey commented on #6947
I did a PR in 1.2.1 https://github.com/rancher/agent/pull/112 and it should fix the problem. @stephan2012 Can you try 1.2.1 to see if that still happens?

[2016-12-19 17:28] StrongMonkey commented on #6947
@ekristen what private registry are you using? this issue should be addressed by 1.2.1.

[2016-12-19 17:34] ekristen commented on #6947
I'm using registry:2.5.1 from docker + an unreleased authentication service (but it implements the token authentication protocol outlined by the docker registry spec)

docker-compose, docker, all have zero problems interacting with this registry.

The authentication service is written by me, I'm not 100% ready to release it although I plan to as open source, regardless, it implements this -- https

[2016-12-19 17:41] ekristen commented on #6947
FWIW It "appears" that it attempts to authenticate, because I can see the request hit the auth server, and it gets a `token` back, but the registry logs show that all requests are unauthorized.

[2016-12-19 18:20] ekristen commented on #6947
@StrongMonkey looks like it was an issue on my side ...

TL;DR - my proxy registered multiple bad services due to the https://github.com/rancher/rancher/issues/7016 happening and docker events not firing properly, causing some requests to get routed to nothing and causing a 404, thus making it appear that auth wasn't working.

Explanation: How I got here was I originally installed the rancher-agen

[2016-12-19 18:31] danielschlegel commented on #6758
i restart the rancher docker container.

[2016-12-19 19:04] alena1108 commented on #7107
@StrongMonkey do you think this is something related to https://github.com/docker/docker/issues/8539?

If so, looks like this is gonna be fixed only in docker 1.13

[2016-12-19 19:11] StrongMonkey commented on #7107
@alena1108 I have no idea, but i would vote this as a docker bug :)

[2016-12-19 19:13] tfiduccia commented on #7117
@deniseschannon
Can we fix the documentation?  We moved the environment drop-down to the upper-left instead of right.  And we removed the project menu item when we redid swarm.  Actually that whole section may need to be rewritten.

[2016-12-19 19:26] tfiduccia commented on #7114
@rlex @Dmitry1987 @yeta-io - Actually the auto theme is broken.  Once you hit this issue, until you change theme and refresh browser it will stay like this.  So please turn it off (switch to light or dark) then manually refresh the browser.  It should redraw the page and you should be good to go.  This has been previously reported and will be fixed in the next release.

Closing in favor of other b

[2016-12-19 19:26] #7114 closed

[2016-12-19 19:38] matthijsvdr opened #7130 "Health check stays on initialising"
**Rancher Version:**
1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
rancheros (vm)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
2 master in HA, external database, 2 agents.
masters behind nginx proxy, setup copied from here: http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/bas

[2016-12-19 19:42] alena1108 commented on #6374
@jwhitcraft please reopen if you see it again for 1.2

[2016-12-19 19:42] #6374 closed

[2016-12-19 19:42] jclark360 opened #7131 "load balancer stuck in initializing"
**Rancher Version:**
1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 14.04

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher 3 nodes in AWS, external db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Install 1.2.1 and deploy a load balancer

**Results:*

[2016-12-19 19:45] jclark360 opened #7132 "Health check and scheduler stuck initializing"
**Rancher Version:**
1.2.1

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04 aws

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
3 node ha with external db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Install 1.2.1 add hosts

**Results:**
Scheduler and health ch

[2016-12-19 19:53] thiagonache commented on #7096
Hi there,

When nodes are in private subnets and ALB in public subnets, cattle agent IP becomes NAT gateway EIP. So, we need to specify CATTLE_AGENT_IP to make it work.

I guess it's a good idea add it to documentation.

[2016-12-19 19:57] vincent99 commented on #7016
This is a [docker bug](https://github.com/docker/docker/issues/20560) that cAdvisor is good at triggering;  I thought it was fixed in newer 1.12.x-es.  But Rancher 1.2 does not run cAdvisor anymore, so it's unclear why you'd still have it running..

[2016-12-19 20:01] matthijsvdr commented on #7132
Looks like you have the same issue as me: https://github.com/rancher/rancher/issues/7130

[2016-12-19 20:01] nextrevision opened #7133 "Failed to find instance to delegate to for agent"
**Rancher Version:**
v1.2.1

**Docker Version:**
1.11.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu Trusty, AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA w/ external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Upgraded from v1.1.4 to v1.2.1 and now the Rancher serv

[2016-12-19 20:05] ekristen commented on #7016
Rancher 1.2.1, Docker 1.12.1, Ubuntu 14.04.5, Cattle, AUFS -- This is a "FRESH" install of rancher on top of some existing servers, I never once had a problem until after installing rancher, then started getting these errors :/

[2016-12-19 20:16] gitlab-pano commented on #6928
I am having the same issue:

[code]

[2016-12-19 20:24] vincent99 commented on #2557
For this (and #4328) you'll need to verify that the host screen is displayed correctly in general, the logic for how containers are grouped into stacks, their sidekicks or upgraded primary container, etc is all different.

[2016-12-19 20:26] cllunsford commented on #7016
@vincent99 In the issue you linked, the problem appears to be that cadvisor bind mounts `/var/lib/docker`. (https://github.com/docker/docker/issues/20560#issuecomment-187157369)  Both the `rancher/agent` and `rancher/network-manager` are doing the same thing:

`rancher/agent`
[code]

`rancher/network-manager`:
[code]

[2016-12-19 20:26] matthijsvdr commented on #7130
Update:

Deactivating all hosts but 1, then deleting the scheduler and the healthchecks. This will restart the containers on the last "healthy" host, scheduler will start normally, so does the healthcheck on that host.

Then activating a second host, will schedule the healthcheck there as well, but it will never get out of initialising.

[2016-12-19 20:32] cjellick opened #7134 "api-filter-proxy feature"
### High level thoughts/notes:
- go micro service that acts as a proxy to Cattle. It should be able to receive all Rancher API calls placed by UI/clients
- This will sit right in front of cattle, behind traefik and behind wsp (which may or may not be there based on whether this is an HA setup or not). WSP should be completely transparent to this filter. We shouldn't need to know any implementation

[2016-12-19 20:37] chickahoona commented on #7113
@mcanevet Thanks for your reply. I upgraded the network-services infrastrucutre stack (now on v0.0.5) , rebooted my rancher server and sadly still see the same problem.

[2016-12-19 20:44] mathuin commented on #7104
I did not have an always-restart policy on the service.  PID 1 has the command line `nginx: master process nginx -g daemon off;`.

The behavior eventually stopped yesterday.  I'm closing the ticket because I am unable to reproduce the problem.

[2016-12-19 20:44] #7104 closed

[2016-12-19 20:49] rezonant commented on #6342
However there are other shell problems now, sometimes I cannot use arrow keys in vim and other ncurses programs

[2016-12-19 20:50] mfar-bcgdv opened #7135 "can not switch to a rancher environment v1.2 (forcing us to authentication page)"
**Rancher Version:1.2**

**Docker Version:1.12.2, build bb80604**

**OS and where are the hosts located? (cloud, bare metal, etc): AWS ubuntu 16.04**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB): single node rancher**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle**

**Steps to Reproduce: one of our rancher environments frozen on 'initializing'

[2016-12-19 20:50] rezonant commented on #6342
I'm going to close this one as I think a newer version of xterm.js helped to resolve most of the copy/paste issues and will eventually file a bug on the arrow keys issues as I learn more about it.

[2016-12-19 20:50] #6342 closed

[2016-12-19 20:53] jsalva commented on #4455
I'm experiencing something similar...

```Error with pre-create check: "Code: ForbiddenError, Message: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription."```

I have verified both.

[2016-12-19 21:07] matthijsvdr commented on #7130
just noticed something (not sure if its part of the same issue), all nodes seem to add them selfs with the gateway address instead of there actual IP address.

![screen shot](https://cloud.githubusercontent.com/assets/1271035/21328819/f92bb230-c635-11e6-93fa-27df8510ad89.png)

[2016-12-19 21:11] matthijsvdr commented on #7131
Because you had the same issue as me https://github.com/rancher/rancher/issues/7130 and https://github.com/rancher/rancher/issues/7132

I tried to start a new stack with only a load balancer, same issue, same logs

[2016-12-19 21:20] jclark360 commented on #7130
I've tried the same, re-adding hosts etc.  The wierd thing is, there are no error logs of any kind indicating there is an issue.  Sigh.

[2016-12-19 21:24] alena1108 commented on #7134
@cjellick

- What is this for? I didn't understand it.

It was needed so the external webhook service knows the order of the calls processed by api-proxy-filter service (presuming api-proxy-filter forwards (n) calls simultaneously to external webhook service)

[2016-12-19 21:26] jsalva commented on #4455
and after using the raw cert (not base64 encoded), I get the extremely helpful error `exit status 3`

[2016-12-19 21:27] matthijsvdr commented on #7130
@jclark360 I have just been adding stacks, everything seems to be working normally (except all links in the rancher ui link to the wrong ip).

[2016-12-19 21:27] alena1108 commented on #7134
we should think more about this one. Because at this point of failure pre-hooks were executed + the call was processed by cattle (the object + corresponding processes were executed); and we do not rollback these changes. If we decided to fail the request on the posthook, then we should add some handling for the re-tried request

[2016-12-19 21:29] prachidamle commented on #7134
@cjellick  here are the answers to your questions:

RE: Post Hooks:
- When do we need to deliver post hooks?
-- These are needed to be delivered after the API request has been processed by Rancher/(or by configured apiURL).

RE: Even if some “post” hook fails, continue processing next “post” hooks
- Why? This seems bad.
-- This is because the API request has already been processed, there is no way

[2016-12-19 21:32] prachidamle commented on #7134
@cjellick some questions:

- What are the methods[post, delete] for? Are they specifying the request type for the given Paths or for endpoints?

- What about the 304 filter response for Customer(B)? Are you proposing to use 200 even for that and have empty body{}

- Also, if we assume that for Customer(B), we will get the rancher account info and the external account info for the request, by calli

[2016-12-19 21:42] cjellick commented on #7134
- The methods indicate what the filter applies to. All calls to the filters from the framework are POSTs
- That was replaced by wrapping the original body and headers in a new json object that have optional headers and body fields.
If the request is not modified by the filter, the response becomes:
HTTP/1.1 200 OK
Body:
{}

Admittedly, removing the 304 response is splitting hairs a bit, but our mo

[2016-12-19 21:53] deniseschannon commented on #7135
If your DB has a significant amount of volumes (in any state), it could have caused your UI to freeze up. Can you upgrade to 1.2.1? We have addressed 2 major UI issues and added in a cleanup script for unused volumes.

[2016-12-19 21:54] ajacques commented on #6975
I can confirm that this issue is happening after my migration to v1.2 for me.

I use docker-gen to generate NGINX configurations which needs a valid value for ```NetworkSettings.Networks.IPAddress```

Any way to fix this issue?

[2016-12-19 21:54] vincent99 commented on #5872
This was either fixed earlier, or comes from data in an added-on catalog because I don't see it with the standard two..

[2016-12-19 21:54] sangeethah commented on #6587
Tested with rancher-server version - v1.3.0-rc1

When a stack is created with the following yml file , service that gets created has isolation saved at the api level.

[code]

Exported config of this service also has " isolation: hyperv" set in it.

[2016-12-19 21:54] #6587 closed

[2016-12-19 21:55] rezonant commented on #3596
I had this problem after upgrading an environment between 1.1.4 and 1.2.0 (and kube 1.2 to 1.4) and I thought it was an upgrade gone wrong, but now after awhile my fresh new environment is exhibiting the same problem, with containers on node 1 being unreachable via Rancher's execute API (a 3 node setup). Glad to see there's already some analysis on the issue :-D

[2016-12-19 21:59] soumyalj commented on #6405
Tested with rancher 1.3.0-rc1 with Kubernetes template v1.5.1-rancher1-1. Deletion of services/rc/pods within a namespace is successful through UI.

[2016-12-19 21:59] #6405 closed

[2016-12-19 22:04] rezonant commented on #3596
This is definitely still a problem in v1.2.0.

I checked that the clocks are synced between my rancher server and the 3 nodes, that doesn't seem to be the problem.

Notably, on the affected host, when I don't get 401 Unauthorized, shell connections are extraordinarily short lived, as in, the connection closes while I am still typing, seconds after starting the shell.

[2016-12-19 22:05] rezonant commented on #6913
I believe this issue is #3596

[2016-12-19 22:12] mfar-bcgdv commented on #7135
sure, will give it try now

[2016-12-19 22:12] rezonant commented on #3596
Not sure which container logs I should check on the host, but Rancher Agent has something odd on the affected host:

[code]

[2016-12-19 22:16] soumyalj commented on #6812
Tested with rancher v1.3.0-rc1 with Kubernetes template v1.5.1-rancher1-1. Scale cannot be changed from fixed to global for a Kubernetes loadbalancer.

[2016-12-19 22:16] #6812 closed

[2016-12-19 22:18] tfiduccia commented on #7105
Version - master 12/19
Verified fixed

[2016-12-19 22:18] #7105 closed

[2016-12-19 22:19] rezonant commented on #3596
OK it looks like there was a container marked "Starting" on that host which was causing the above segfault, which was causing Rancher Agent to restart itself, which was interrupting the Websocket Proxy and causing the connection to end unexpectedly, immediately upon locating the container and Deleting it from the UI, I can now connect to the containers on host1 and they are not disconnecting thems

[2016-12-19 22:26] rezonant opened #7136 "Crash in Rancher Agent while processing an event causes it to restart constantly"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu Xenial for Rancher server and hosts

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes Combined Planes (3 node)

**Steps to Reproduce:**
??

**Re

[2016-12-19 22:32] tfiduccia commented on #4618
Version - master 12/19
Verified fixed

[2016-12-19 22:32] #4618 closed

[2016-12-19 22:35] tfiduccia commented on #5616
Version - master 12/19
Verified fixed

[2016-12-19 22:35] #5616 closed

[2016-12-19 22:46] tfiduccia commented on #5872
Version - 1.2.1
Verified fixed

[2016-12-19 22:46] #5872 closed

[2016-12-19 22:46] mfar-bcgdv commented on #7135
after upgrade it finally opened up that environment UI, although overall rancher is running much slower and that env's UI showed up after ~30 secs.
i'm seeing lots of errors related  to cattle db now, are they expected? :
"rancher_1                | 2016-12-19 22:34:10,932 ERROR [:] [] [] [] [ecutorService-3] [i.c.p.core.cleanup.TableCleanup     ] Skipped "cattle"."instance" where id in [13371, 14

[2016-12-19 22:48] tfiduccia commented on #4509
Version - master 12/19
Verified fixed

[2016-12-19 22:48] #4509 closed

[2016-12-19 22:48] deniseschannon commented on #5010
@psyhonut Per the docs "The volume driver will be the name of the storage driver."

[2016-12-19 22:54] tfiduccia commented on #6470
Version - master 12/19
Not fixed

[2016-12-19 22:55] tfiduccia commented on #4614
Version - master 12/19
Verified fixed

[2016-12-19 22:55] #4614 closed

[2016-12-19 22:57] alena1108 commented on #7118
@sangeethah the fix for it is in master

[2016-12-19 22:58] flaccid commented on #5915
1. Goto your Rancher env, Hosts | Add Host, select Custom
2. Copy the command, replace the `/var/lib/rancher` mount to `-v /private/var/lib/rancher:/var/lib/rancher` and `sudo mkdir -p /var/lib/rancher`
3. Add `/private/var/lib` to Docker -> Preferences... -> File Sharing
4. Run the custom command in terminal to connect the agent

Should do the trick!

[2016-12-19 22:59] deniseschannon commented on #3315
@cjellick can you comment on how the first round of autoscaling services will work in Rancher?

[2016-12-19 23:05] cjellick commented on #7134
But why does the filter-framework need to make this decision? Why can't it be the specific filter deciding what the response should be? They have the knowledge of what should and should not be returned.

[2016-12-19 23:29] sangeethah opened #7137 "Not able to start containers on windows host - ```Expected state running but got error: Error response from daemon: unauthorized: authentication required``"
Rancher Version: v1.3.0-rc1

library from rancher/rancher-catalog , branch - vnext

Steps to reproduce the problem:
Create Environment with windows template.

Add a Windows host - Windows Server 2016 Standard Evaluation . ( Used the agent which had extra logs enabled for logging when there is a panic)

Once the host gets to "Active" state , start a service with image ```microsoft\iis```

Container

[2016-12-19 23:34] sangeethah opened #7138 "Do not provide option to add Lb Service /External Service/Service Alias."
Rancher Version: v1.3.0-rc1

In an environment with "windows" orchestration, do not provide option to add Lb Service /External Service/Service Alias.

[2016-12-19 23:57] tfiduccia opened #7139 "Namespace drop-down has scroll bar on bottom"
**Rancher Version:** master 12/19

**Steps to Reproduce:**
1.  Create a kubernetes environment
2.  Click on the Namespace drop-down

**Results:** Weird bottom scrollbar?
![image](https://cloud.githubusercontent.com/assets/11514927/21333261/d5085d92-c60b-11e6-8a3a-816d162a1172.png)

**Expected:**  No scrollbar

[2016-12-19 23:57] leodotcloud commented on #6975
@tknecht @ajacques What you are seeing is the correct behavior. In this 1.2 release, we changed introduced the infrastructure catalog and as part of it, we switched to CNI interface to interact with network plugins. The way CNI works is it sets the container network to none (similar to `--net=none`) and the network plugin sets up networking directly. Because of this docker inspect doesn't show the

[2016-12-19 23:57] soumyalj commented on #6413
Tested with rancher release v1.2.1 using docker 1.12.5 hosts. Still see the issue. The swarm container does not startup on the host which was powered ON. It is in a deadlock trying to leave swarm.
[code]
Need the deadlock fix from docker.

[2016-12-19 23:59] tfiduccia commented on #6994
Version - master 11/19
Verified fixed

[2016-12-19 23:59] #6994 closed

[2016-12-20 00:01] tfiduccia commented on #5890
Version - master 11/19
Verified fixed

[2016-12-20 00:01] #5890 closed

[2016-12-20 00:03] leodotcloud commented on #7113
@chickahoona Can you launch a new container and check if you are still having the issue? I checked on my end, I don't see this problem with the latest version on my setup. As mentioned by @darrenscerri the issue has been fixed.

[2016-12-20 00:05] leodotcloud commented on #7130
@jclark360 @matthijsvdr can you check the logs of containers and sidekicks of network-manager and ipsec?

[2016-12-20 00:10] ajacques commented on #6975
@leodotcloud Is there a way to maintain the previous behavior? Previously each container would have a 172.x IP address (on the docker0 bridge adapter) and a 10.x (Rancher networking) address. This worked since docker inspect would still show an IP address in the 172.x subnet and other services on my host could route traffic inward from the host into a Docker container.

Ultimately I don't need a s

[2016-12-20 00:15] deniseschannon commented on #7117
Docs updated.

[2016-12-20 00:15] #7117 closed

[2016-12-20 00:32] flaccid commented on #3248
The way I'm doing it is using the following script to run Rancher, https://github.com/flaccid/rightscripts/blob/master/install_and_run_rancher.bash. Set `RANCHER_CONTAINER_SSH_PRIV_KEY` with the git repo's SSH priv key needed and if required set `RANCHER_CONTAINER_POST_CMDS` to something like `sh -c 'ssh-keyscan -p 7999 my.git.host.com >> /root/.ssh/known_hosts` so the host key is accepted when ch

[2016-12-20 01:01] jclark360 commented on #7130
@leodotcloud if you want, I can get you into our environment to take a look.

[2016-12-20 01:56] eltair commented on #7133
I have this issue as well after upgrading from 1.1.4 to 1.2.1.  I'm running server on docker 1.11.2 on Amazon Linux AMI 2016.09. Hosts are running ubuntu.

[2016-12-20 02:01] pixyonly1 opened #7140 "Infrastructure dns service running error"
**Rancher Version:1.2.1

**Docker Version:1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):centos7.1 kernel 4.6.0 vm

**Setup Details: single node , internal DB

**Environment Type: Cattle

**Steps to Reproduce:Create a new stack with 2 services,server and agent. Agent links server as hcs-server.

docker-compose.yml
server:
  image: docker-registry:5000/hcs/server:v2.1
  volu

[2016-12-20 02:33] StrongMonkey commented on #6960
i was able to pass wildcard to agent using the command `docker run -e "NO_PROXY=*.rancher.com" -d --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.0.2 http://192.168.42.118:8080/v1/scripts/24714367FBE116C844E6:1482192000000:fdECfxSQWU5ZfcVjdcqVCjQJvyA`. In docker inspect i was able to get `"NO_PROXY=*.rancher.com",
                "no_

[2016-12-20 02:46] deniseschannon commented on #6960
@JayHaoDing Can you retry with 1.2.1?

[2016-12-20 03:26] lion200816 commented on #7119
@superseb Thanks very much for guiding me there..

[2016-12-20 03:53] sangeethah opened #7141 "Reference to add linux hosts in "windows" environment"
Rancher Version: v1.3.0-rc1

<img width="956" alt="screen shot 2016-12-19 at 7 51 49 pm" src="https://cloud.githubusercontent.com/assets/4266958/21337735/ab72078a-c624-11e6-95c8-626610dcfbb9.png">

[2016-12-20 03:53] leodotcloud commented on #5292
@GameScripting: In the latest release of Rancher, we have added support for CNI. So currently we don't support libnetwork.

[2016-12-20 03:53] deniseschannon commented on #3126
@goffinf Any particular reason why you can't use the catalog item?

[2016-12-20 04:40] soumyalj commented on #6956
Tested with v1.3.0-rc1. Pushed an ubuntu image to the Google Container Registry. Added the GCR registry to rancher by providing password as a json file. Created a service by using the image pushed to GCR. Image pull and service creation was successful.

[2016-12-20 04:40] #6956 closed

[2016-12-20 04:42] leodotcloud commented on #7083
@helphi we currently support CNI interface but not libnetwork. Hence we will not be able to show docker networks in the UI.

[2016-12-20 04:44] leodotcloud commented on #6975
@ajacques You would have to use 'Bridge' networking option from the UI and add the label `io.rancher.container.network: true` to get both the IP addresses.

[2016-12-20 04:55] leodotcloud commented on #5499
@stefli @henrypfhu @stefli Can you please try the latest release of Rancher? The networking model has changed completely and you can read the 10.42.x.x IP address directly from eth0. There won't be two IP addresses for containers with 'managed' network option. And hostname of the container will resolve the Rancher IP address.

@stephan2012 If this resolves, can you close the issue?

[2016-12-20 05:00] leodotcloud commented on #6113
ping @MattMencel, can you please let me know on how to reproduce this issue?

[2016-12-20 05:02] deniseschannon commented on #7110
Please test with rancher/dns:v0.11.0 in network-services v0.0.6 on the vnext branch of rancher-catalog.

[2016-12-20 05:18] leodotcloud commented on #5365
@nunofgs The latest release of Rancher (1.2.x) has a lot of changes in networking. Could you please try this version and let us know if you are still facing this issue?

[2016-12-20 06:13] sangeethah commented on #6996
Tested with v1.3.0-rc1

When testing with the yml, provided in the issue , environment variables override the standard generated env port for linking - ``` MONGO_PORT="27017"```

Also overriding other generated variables like ```MONGO_PORT_27017_TCP``` and ```MONGO_PORT_27017_TCP_PORT``` also work as expected.

[2016-12-20 06:13] #6996 closed

[2016-12-20 06:15] sangeethah commented on #6996
@dsvmacdonald , fix for this issue will be available in rancher-server release - v1.3.0

[2016-12-20 06:20] sangeethah commented on #4576
Tested with rancher-server version - v1.3.0-rc1 with catalog  "library" set to ```vnext``` branch in ```https://github.com/rancher/rancher-catalog```

Able to add "Windows Server 2016 Standard Evaluation" hosts successfully to rancher environment with orchestration set to "windows".

Able to launch containers in "nat" network and "transparent" network.

@kvaes  , Windows 2016 support will be avail

[2016-12-20 06:20] #4576 closed

[2016-12-20 06:37] StrongMonkey commented on #7137
@sangeethah can you close it now?

[2016-12-20 06:38] sangeethah commented on #7137
@StrongMonkey , yes. I have not been able to reproduce this issue anymore.
Able to start a service with image ``microsoft\iis`` which results in the image being downloaded successfully on the host and container getting launched successfully.

[2016-12-20 06:38] #7137 closed

[2016-12-20 06:44] sangeethah commented on #7101
This issue was seen because of 2  local windows Vms in my "VMware Fusion" setup ended up having the same bridged ip.

[2016-12-20 06:44] #7101 closed

[2016-12-20 07:31] norman-gamage commented on #6996
Is there any work arounds until v1.3.0 release?

[2016-12-20 07:56] luispabon commented on #3126
In our case, it felt like a third party hack, which it is, not a first
class citizen. Plus we couldn't make it work at all.

On Tue, 20 Dec 2016, 03:54 Denise, <notifications@github.com> wrote:

--
Kind regards,
Luis Pabon

[2016-12-20 08:02] wzrdtales commented on #7122
Ok I've setup a new instance today, completely fresh and can confirm, this bug seems to have been introduced in 1.2.1, and does only occur there and only for cloud environments like Azure.

[2016-12-20 08:08] superseb commented on #7048
Can't reproduce this with v1.2.1, but can't find any issue in the changelog fixing this either. Can you try with v1.2.1 @lgaticaq ?

[2016-12-20 08:37] superseb commented on #7119
No problem, if this matches your usecase please close this issue to keep the issue list clean.

[2016-12-20 08:55] goffinf commented on #3126
@deniseschannon Configuring ECR as a custom registry *does* work (in the sense that once set up if is possible to pull images as normal), the thing that doesn't is the ability to update the time limited authentication token which means that every 12 (or less) you need to manually update the password field in the UI for that registry. Clearly that is not a sustainable solution. See this issue that

[2016-12-20 08:57] superseb commented on #7091
This looks like https://github.com/docker/docker/issues/27861. Are you also using PXE to deploy CentOS on your bare metal machines @pwFoo ?

[2016-12-20 09:00] goffinf commented on #7132
Looks like a few of us are experiencing the same issue with the health check, scheduler and load balancer getting stuck in 'initializing' status, which at least is a small crumb of comfort that it is likely to be a common cause/effect rather than necessarily something very site specific (still might be of course).

Hopefully Rancher will be able to provide some solid advice ASAP as for us it is a

[2016-12-20 09:06] jfaissolle commented on #3126
@goffinf I have been using the ecr-updater provided in the catalog without problem in production for several months. I have added the ecr url in the Rancher registries and given a Role able to access it to my host instances.

[2016-12-20 09:13] tmiklas commented on #7131
I can confirm the same - identical configuration as above with exception I run all worker nodes on RancherOS v0.7.1 (4.4.24).

`12/20/2016 9:06:17 AMtime="2016-12-20T09:06:17Z" level=info msg="KUBERNETES_URL is not set, skipping init of kubernetes controller"
12/20/2016 9:06:17 AMtime="2016-12-20T09:06:17Z" level=info msg="Starting Rancher LB service"
12/20/2016 9:06:17 AMtime="2016-12-20T09:06:17

[2016-12-20 09:20] pwFoo commented on #7091
It's a test server. I don't know if it was installed by pxe.

But I experienced different problems (error message above) with Docker for Windows too. Port or volume mappings broken until I restart docker for Windows...

[2016-12-20 09:26] superseb commented on #7113
Difference here is using the domainname parameter and the use of `hostname -f`. Other issue was focused on adding the container hostname to `/etc/hosts` and the use of `hostname`.

[2016-12-20 09:33] GameScripting commented on #5292
https://github.com/rancher/rancher/issues/3895 is what I really need & want, so I close this one.
Thanks for clearing out CNI vs libnetwork.

[2016-12-20 09:33] #5292 closed

[2016-12-20 09:35] lion200816 commented on #7119
@superseb  Yes,thanks.

[2016-12-20 09:35] #7119 closed

[2016-12-20 09:44] jloisel commented on #6934
Same here, we are unable to migrate to v1.2.x until this issue is fixed.

[2016-12-20 10:01] goffinf commented on #3126
@jfaissolle Thx, Not sure what paltform you are on (we're on AWS). I am waiting for our Cloud SysOps guys to set up the IAM instance profile so I can switch to this rather than using AWS as the user and the password from the generated token.

What do you put in the user field ? .. the arn for the role ?

[2016-12-20 10:26] goffinf commented on #7132
Adding a few more details.

I stood up a simple Rancher cluster (1 server + 2 nodes) with a local Db, just for testing.

It comes up almost ok, apart from three things ...

1.       The scheduler container doesn’t start, it’s just stuck initializing. The logs show this :-

[code]

2.       I created a global scope load-balancer (linked to an nginx service (port 80:80) that came up no problem – pul

[2016-12-20 10:46] lgaticaq commented on #7048
Thanks, everything works fine with v1.2.1

[2016-12-20 10:46] #7048 closed

[2016-12-20 10:52] jfaissolle commented on #3126
@goffinf We're also on AWS. In the registry config, I put AWS as username and a random email (our sysops email) in the email field. I do not think it is really important whatever the credentials you use (Role or Access Key).
In the ecr-updater config, I filled only the AWS region which is a very important parameter.
We have given the AmazonEC2ContainerRegistryReadOnly poliy to the IAM Role. Note t

[2016-12-20 10:53] matthijsvdr commented on #7130
@leodotcloud Here are some logs, if you need more I could give you access to rancher server

Networkmanager

level=info msg="Setting up resolv.conf for ContainerId [f7a662cc8be1173c2f7c8cae6d7b267caba6aeb2c33e957e134a5753cf027524]"
level=info msg="Setting up resolv.conf for ContainerId [242c328625866b29abaae6e9c6385b2d56d508ea67d1ce5c74eed9fc68ab005e]"
level=info msg="CNI up" cid=f7a662cc8be1173c2

[2016-12-20 11:05] billywhizz commented on #7109
We have captured logs from rancher management host when trying to provision. Maybe this sheds some light?

[2016-12-20 14:36] Toonix opened #7142 "Auto Theme Corrupted"
Rancher Version: 1.2.1

Docker Version: 1.12.3

OS and where are the hosts located? RancherOS, VMWareESX

Setup Details: (single node rancher, internal DB

Environment Type: (Cattle)

1. Changed Theme to Auto
2. Logout
3. Login

If you do that you only see XML Output. Change back to Light/Dark and relogin.

[2016-12-20 14:58] goffinf commented on #7132
More details

I created a new group of nodes (1 server + 2 nodes) this time using docker 1.10.3 in case using 1.12.x was a problem.

No change, health-check and scheduler containers still stuck in 'initializing' state.

OS: RHEL 7.3
Platform: AWS
Rancher Version: 1.2.1
Docker Version : tried 1.12.3 and 1.10.3 (same behavior)
Docker Compose version: 1.9.0 (also 1.8.1 on the docker 1.10.3 hosts).

[2016-12-20 15:13] charliefd opened #7143 "Rancher agent starts containers with wrong MTU (1500)"
**Rancher Version:**
1.2.0
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Install rancher server 1.2.0. Register to  a cattle environment a docker host c

[2016-12-20 15:15] deniseschannon commented on #6910
Both @omegarus and @galal-hussein reported that this has been fixed in v1.2.1. Closing the issue.

[2016-12-20 15:15] #6910 closed

[2016-12-20 15:16] ibuildthecloud commented on #7013
I quite possibly have a fix for this.  I'll look into this today.

[2016-12-20 15:22] sankaet opened #7144 "Finishing-Upgrade (STATE_CHANGED)"
Hi, when I am updating containers I am getting the following

<img width="992" alt="screen shot 2016-12-20 at 7 21 16 am" src="https://cloud.githubusercontent.com/assets/1951158/21355989/eeed9ad2-c684-11e6-9980-3f561611640c.png">

After we updated to 1.2.1 strange errors like this are happening

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.1` Cattle: `v0.174.8` UI: `v1.2.39` |
|Acce

[2016-12-20 15:27] deniseschannon commented on #7144
@sankaet Can you provide more information on your previous service and what you changed to upgrade?

Is there a docker-compose.yml and rancher-compose.yml file that you can send? If you click on the stack name and export the config that will show you the services in your stack.

[2016-12-20 15:30] cjellick commented on #6427
Questions:
1.  In scenario 1, how are you deploying a *service* to an inactive host? I don't think you should be able to do that.
2. In scenario 2, same basic question: how are you deploying a service to a reconnecting host?

[2016-12-20 15:52] vincent99 opened #7145 "Balancer: Wildcard host behavior wrong"
In 1.1.x, `*.host.com` correctly turned into `hdr_end(.host.com)`.  In 1.2 it turns into `hdr_end(host.com)`, which matches other things like `otherhost.com`.

https://github.com/rancher/lb-controller/blob/master/controller/rancher/rancher.go#L223-L231

Also we should add a way to do `host.com` + `*.host.com` in one rule, like `**.host.com`.

[2016-12-20 15:55] deniseschannon commented on #7103
It makes sense to have webhooks for active services at this time. If the community finds value in this type, we could look into adding it in.

[2016-12-20 15:55] #7103 closed

[2016-12-20 16:05] willseward commented on #7142
Dup of #7090

[2016-12-20 16:16] sangeethah commented on #6427
@cjellick , UI allows for choosing hosts to run containers on when deploying a service (this has been there always). This list of host also includes host in "inactive"/"reconnecting" state.

<img width="1129" alt="screen shot 2016-12-20 at 8 13 14 am" src="https://cloud.githubusercontent.com/assets/4266958/21358127/998ae0ce-c68c-11e6-8ea9-463ed11260ff.png">

[2016-12-20 16:36] MattMencel commented on #6113
Sorry for the delay getting back to you on this.  I've changed the way I am deploying nodes, using CoreOS instead of CentOS Atomic, and I'm using the default networks.  I don't know that I can reproduce the issue at the moment so I'm going to close this issue for now.  If I run into it again in the future I will try to get some better debugging.

[2016-12-20 16:36] #6113 closed

[2016-12-20 16:37] sangeethah commented on #6584
When testing with rancher/dns:v0.11.0 , container links are not resolvable.

[2016-12-20 16:38] sangeethah commented on #7110
This issue is fixed and not seen when testing with rancher/dns:v0.11.0

[2016-12-20 16:38] #7110 closed

[2016-12-20 16:43] galal-hussein commented on #5854
@wlan0 I tested on Rancher server master build, and on rancher/k8s:v1.5.1-rancher1-1 i started a pod with default service account and tried to access the api:

[code]

[2016-12-20 16:44] ajacques commented on #6975
@leodotcloud Thanks for responding. Just tried that out:
[code]
And I'm still getting:
[code]

And ip addr still only has the single 10.x IP address.

[2016-12-20 17:09] kbroughton commented on #1676
I'm getting the same
s6-svscanctl: fatal: unable to control /service: supervisor not listening

but in my case, i noticed that the ownership of /service is messed up.  On a working rancher it is root:root.  on my borked server it is
root@d04aeac696f8:/# ls -alh /service/
total 20K
drwxr-xr-x  8 1944522877 499 4.0K Dec 16 02:21 .
drwxr-xr-x 85 1944522877 499 4.0K Dec 20 14:42 ..
drwxrwxr-x  4 19445

[2016-12-20 17:44] chickahoona commented on #7113
@leodotcloud Sadly not working, tried again just to make sure.
New container started in rancher with this composer:

[code]

And if I connect to the container I still see this:

[code]

[2016-12-20 17:50] ekristen commented on #1269
I have a few recommendations ...

* I would really like to see vault as the secrets management backend, but +1 to a modular secrets management setup.
* I would really like to see the ability to interpolate environment variables from the secret backend(s)
  * IE MYSQL_DATABASE={{secret.vault.path-to-secret}}
* I would really like to see the ability to use a template system to write secrets to a fil

[2016-12-20 17:58] tfiduccia commented on #7098
Version - master 11/20
Verified fixed

![image](https://cloud.githubusercontent.com/assets/11514927/21361879/2b8ca668-c6a3-11e6-89d1-689c8c183192.png)

[2016-12-20 17:58] #7098 closed

[2016-12-20 18:02] orlando commented on #3126
@luispabon it works pretty much out of the box, just make sure you are doing everything that the README.md says.

@goffinf you can use https://github.com/objectpartners/rancher-ecr-credentials. It worked for us with problems.

@luispabon

I mean, that's how Amazon ECR works (https://github.com/aws/amazon-ecs-agent/blob/v1.7.0/agent/engine/dockerauth/ecr.go#L49). In this case, you are just running

[2016-12-20 18:07] cjellick commented on #6427
Ok, didn't realize we exposed requestedHostId for services in the UI.
@vincent99 mentioned that he might filter out non-active hosts from that.
But yes, this is the expected behavior - we want to allow the instance to get passed scheduling step if that leads to a service flapping because the host is unreachable, then so be it. Prior to this change the service would have flapped the same way, but a

[2016-12-20 18:13] leodotcloud commented on #7113
@chickahoona I believe you need  rancher/network-manager:v0.2.15 or higher.

I just tested on my end, just launched a new 1.2.1 cluster, created container with ubuntu:14.04.3.

[code]

[2016-12-20 18:15] kvaes commented on #4576
@sangeethah

Thanks for the feedback! I ran a test on my end... Deployed an ubuntu (16.04 TLS) on Azure as my rancher host, and chose the v1.3.0-rc1 version. Immediately, I noticed that there was something wrong with the CSS...

![2016-12-20 19_03_47-rancher](https://cloud.githubusercontent.com/assets/10435278/21362385/787b65b4-c6e8-11e6-8b3b-ae5a4189d95a.png)

Despite that, I disabled to default

[2016-12-20 18:16] kvaes commented on #4576
The windows host was the "Windows 2016 with containers" that comes from the (Azure) gallery.

[2016-12-20 18:19] tfiduccia commented on #4576
@kvaes - there is currently a bug in the CSS for the UI.  Please select either the light or dark theme and refresh your browser.  That should fix it.
![image](https://cloud.githubusercontent.com/assets/11514927/21362541/11518414-c6a6-11e6-9844-43f8599a230c.png)

[2016-12-20 18:21] stefanlasiewski commented on #7092
I'm running into this error also. More details on my situation are at https://forums.rancher.com/t/rancher-nfs-struggling-to-get-it-working/4774/16?u=stefan_lasiewski

What happens when you add the `nolock` option to `MOUNT_OPTS` as suggested?

[2016-12-20 18:21] kvaes commented on #4576
@tfiduccia ; thanks, that part has been "fixed", euhr, "works" by choosing light or dark :)

[2016-12-20 18:27] tfiduccia commented on #4576
@kvaes - For your azure issue.  I setup a windows 2016 with containers.  I didn't have to install docker as it came with it.  Then I just ran the script from Add Host (You can find it in the the UI, infrastructure menu, Hosts, Add Host)  in the power shell and it seem to work fine.  Here is and example of what the script looks like that I ran:

New-Item -Path 'C:\Program Files\rancher' -Type Direc

[2016-12-20 18:32] wlan0 commented on #7005
This is not a blocker. In the current state of things, the user has to perform a `helm init` operation to set up local dirs on their machine and the helm client will connect to the helm server.

[2016-12-20 18:37] tfiduccia opened #7146 "K8s taking forever to start up"
**Rancher Version:** master 12/20

**Steps to Reproduce:**
1.  Create a kubernetes environment
2.  Add three hosts

**Results:** Takes like 20 minutes for the environment to setup

**Expected:**  Should not take so long.

[2016-12-20 18:45] kvaes commented on #4576
Nice! That part worked like a charm...

![2016-12-20 19_42_34-rancher](https://cloud.githubusercontent.com/assets/10435278/21363364/89c84ebe-c6ec-11e6-90f8-04cbf377a792.png)

Now I've added the vnext service

![2016-12-20 19_44_12-nvidia geforce overlay](https://cloud.githubusercontent.com/assets/10435278/21363405/c43790b4-c6ec-11e6-9983-15555300152b.png)

Do I cleanup the other ones?

[2016-12-20 18:51] tfiduccia commented on #7142
Closing as duplicate of #7090.  Will be fixed in next version.

[2016-12-20 18:51] #7142 closed

[2016-12-20 18:53] wlan0 commented on #5237
Here are the docs to use Cluster Federation in Rancher

[2016-12-20 18:55] chickahoona commented on #7113
Im already using rancher/network-manager:v0.2.17 so your solution does not help me.

I uploaded an image with Ubuntu 16.04 as host system, newest docker, newest rancher so you can try it out yourself.
https://drive.google.com/file/d/0B8uIz6FoHhrsRjgwRXp4SzJuQzQ/view?usp=sharing

username: test
password: test

[2016-12-20 18:59] justsml commented on #6965
Hey @blamh - Thanks!
Can you link to the PR/branch?

[2016-12-20 19:00] sangeethah commented on #4576
@kvaes , Windows hosts can be added to only environment with "windows" orchestration.
When testing with rancher-server version - v1.3.0-rc1 , please follow these steps:

Add a  catalog "library" set to vnext branch in https://github.com/rancher/rancher-catalog
After this you will see "Windows" as one of the orchestration options in "Add Template" option.
You will need to wait for another 5 minutes

[2016-12-20 19:06] kvaes commented on #4576
Okay, good to know on the environments. For my current test bed, the removal of the default services will have the same effect then.

Also, good to mention the transparent one! As I just faced that...

![2016-12-20 20_00_04-rancher](https://cloud.githubusercontent.com/assets/10435278/21364099/a64726b6-c6ef-11e6-9d63-490509288ea5.png)

And after the creation of that network (as you suggested), it w

[2016-12-20 19:17] sangeethah commented on #4576
@kvaes , Thank you. we are planning to add this instruction  ```docker network create -d transparent transparent``` as the first step in the set of commands for running Rancher agent.

[2016-12-20 19:27] yeta-io commented on #1269
+1

[2016-12-20 19:37] alena1108 commented on #6584
@sangeethah please test against cattle 1.3

[2016-12-20 19:39] tfiduccia commented on #7090
Version - master 11/20
Verified fixed.

[2016-12-20 19:39] #7090 closed

[2016-12-20 20:02] tfiduccia commented on #7071
Canada central and EU west 2 does not work and not in machine.  moving it out of 1.3

[2016-12-20 20:03] #5237 closed

[2016-12-20 20:05] sangeethah opened #7147 "show only hosts in "active" state in "Run all containers on a specific host" option when creating services."
Rancher-server version - v1.3.0-rc1

UI currently show hosts in  "inactive"/"reconnecting" state in "Run all containers on a specific host" option when creating services.
This list of host should include only hosts in "active" state.

[2016-12-20 20:06] sangeethah commented on #6427
Logged UI issue - https://github.com/rancher/rancher/issues/7147

[2016-12-20 20:06] #6427 closed

[2016-12-20 20:16] courcelm commented on #6864
I solved my issue on Ubuntu 16.04.1 LTS desktop. It seems to be a DNS configuration issue.
It was using localhost instead of external dns.

Here are the steps to fix it:
1. Edit /etc/NetworkManager/NetworkManager.conf and comment dns=dnsmasq
2. service network-manager restart
3. Start your rancher agent.

Ref: http://askubuntu.com/questions/201603/should-i-edit-my-resolv-conf-file-to-fix-wrong-dns

[2016-12-20 20:24] sangeethah opened #7148 "No attempt made to start containers for global services."
Rancher Version: v1.3.0-rc1

Steps to reproduce the problem:
Created a environment with "kubernetes" templates.
Added 1 host to the setup.
Infra stacks are not able to start successfully.

There is no attempt made to start containers for netwrok-services stack. Both the services under this stack are global services.

[2016-12-20 20:40] cjellick opened #7149 "Mitigate scenarios where pod deployments flap"
**Rancher Version:**
1.2.1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
multi-node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
kubernetes

**Steps to Reproduce:**
1. If k8s gets into a scenario where it is rapidly deploying and destroying a lot of pods, rancher starts to fall further and further behind in event processing. Eventually, Rancher pro

[2016-12-20 21:26] kkvilekval commented on #6864
Thank You!  Resolved my issue that I've been stuck on since new release.

On Tue, Dec 20, 2016 at 12:17 PM, courcelm <notifications@github.com> wrote:

--
Kris Kvilekval, Ph.D.
ViQi LLC
(805)-699-6081

[2016-12-20 21:40] bergtwvd commented on #7116
In another attempt to get a small swarm running I did:

- create Swarm environment
- add first host (which becomes master, as shown on the Infrastructure > Hosts page
- add second host (which also becomes a master, as shown on the Infrastructure > Hosts page

The log output of the swarmkit container on the second hosts shows:

[code]

Why are there two managers?

- add the third host, which also b

[2016-12-20 21:41] tfiduccia commented on #5883
Version - master 12/20
Verified fixed

[2016-12-20 21:41] #5883 closed

[2016-12-20 21:47] bigfoot90 commented on #7144
@deniseschannon I have this issue also. It happens when you set a health check (in my case I check the http 200 status code) for a service.

[2016-12-20 21:50] bergtwvd commented on #7117
I see that the documentation is/will be updated and that the issue is closed, but what happened to some of the functionality?
- how can I enter a docker compose script to fire up containers?
- the help doc mentions ``Swarm -> CLI -> Generate Config``, but this missing in my version of Rancher... where is this?

[2016-12-20 21:52] tfiduccia commented on #5844
Version - master 12/20
Now the stopped container from upgrade is showing up as a sidekick which is confusing.

[2016-12-20 21:58] leodotcloud commented on #7113
I used your image, had to delete and restart the agent/services as you had a different IP address. I created a new container from the UI, with hostname/domain specified in the fields. And the newly started containers are not having any problems. Also there was an upgrade option available for the network services before I re-registered the host.

[code]

[2016-12-20 22:04] tfiduccia commented on #4328
Version - 12/20
Host page is fixed.  But in the container details page, both the drop-down and the Stack/Service section are still showing old stack name.

[2016-12-20 22:15] chickahoona commented on #7113
Pure docker works fine. It only occures when the image is started by rancher. Please do the following:

a) Start my VM

b) Go to http://192.168.1.14:8080/ (replace 192.168.1.14 with your ip)
c) Then go to:
`Stacks -> All -> Add Stack`

c) Paste the following content into the "Optional: docker-compose.yml content" field:
[code]

It should look like this:
![rancher-bug](https://cloud.githubuserconte

[2016-12-20 22:16] leodotcloud commented on #7113
Cool! Thanks for the instructions. I was doing things differently, now I am able to reproduce the problem.

Reopening the issue.

[2016-12-20 22:17] chickahoona commented on #7113
No problem. Im glad that you digged through and can now reproduce the problem.

[2016-12-20 22:18] leodotcloud commented on #7113
Notes:
Taking a quick look at the output of `docker inspect` I see things being populated differently in these two scenarios.

If started from UI:
[code]

If started using the compose file:
[code]

[2016-12-20 22:20] tfiduccia opened #7150 "If I change stack name, it's not reflected in container name"
**Rancher Version:** master 12/20

**Steps to Reproduce:**
1.  Create a stack called test1
2.  Add service
3.  Edit stack and changed the name
4.  Go to container details page and the service detail page

**Results:** In the Container: drop-down, the container is still named with the old stack name.  In the stack details page, you can see this as well on the Container tab.

**Expected:**  Change c

[2016-12-20 22:21] tfiduccia commented on #4328
Entering separate issue for container.  And closing this one

[2016-12-20 22:21] #4328 closed

[2016-12-20 22:27] LLParse commented on #7117
@bergtwvd The documentation referenced the old swarm implementation. Docker redesigned swarm (now referred to as "swarm mode") - they behave differently and we haven't yet updated the UI.

[2016-12-20 22:32] LLParse commented on #7116
Hi @bergtwvd,

The default setting for our Swarm template is to create 3 managers. This is for resilience purposes - a manager stores stateful information which should ideally be replicated across multiple hosts in the case of failure.

A 3-manager deployment will survive 1 manager failing, 5-manager deployment will survive 2 managers failing, etc.

It appears that you have functioning swarm clust

[2016-12-20 22:36] jclark360 commented on #7130
I tried changing over from an elb to alb, deleted and re-added hosts, same thing scheduler and health check stuck.  Furthermore any load balancer created also is stuck initializing.

[2016-12-20 22:53] deniseschannon commented on #6972
This should be fixed with v1.2.1 as there was a UI lockup fixed in that version.

Please re-try with v1.2.1 and let me know if you still have issues.

[2016-12-20 22:54] deniseschannon commented on #7006
So you're up and running now?

[2016-12-20 22:56] deniseschannon opened #7152 "Unable to remove containers/filesystems after restarts of network manager or rancher agent"
**Rancher Version:**
v1.2.x

**Note: There are many issues related to  inability to clean up.**

Examples could include:
* `Unable to remove filesystem`
*  `volumestoragepoolmap.remove`

**Steps to Reproduce:**
1. Start up Rancher with some CentOS/RHEL using devicemapper hosts
2. Add containers
3. Restart network manager/restart rancher-agent
4. Try to delete containers

**Results:**
Unable to del

[2016-12-20 22:57] deniseschannon commented on #7013
Please reference this issue for testing: https://github.com/rancher/rancher/issues/7152

[2016-12-20 22:57] deniseschannon commented on #7016
Please reference this bug for the fix. We are releasing a 1.2.x for a fix: https://github.com/rancher/rancher/issues/7152

[2016-12-20 23:06] StrongMonkey commented on #7136
https://github.com/rancher/agent/pull/107

[2016-12-20 23:07] StrongMonkey commented on #7136
fixed it in this pr but craig and I would suspect that there may be a bigger problem in cattle side.

[2016-12-20 23:07] StrongMonkey commented on #7136
https://github.com/rancher/rancher/issues/6910

[2016-12-20 23:24] qrpike commented on #7122
Having this issue as well on:
Rancher: version 1.2.1
Kernel: 4.8.6
Docker: 1.12.3

[2016-12-20 23:27] bergtwvd commented on #7116
Thanks for the response.

I played a bit with removing a host, and adding it back in. Mixed results,

On removal of a host the redis containers got re-distributed on the remaining hosts. Looks great.

Next, on the host that I removed, I stopped and removed all containers, and deleted /var/lib/rancher.
Then, from Rancher, I added the host back in. (following standard steps). However, the host seems

[2016-12-20 23:29] bergtwvd commented on #7116
Ps.
``Hang tight for UI integration to be updated for the new swarm implementation.``

I definitely hang on :+1:

[2016-12-20 23:57] deniseschannon commented on #7152
@sangeethah Please test with v1.2.2-rc1 with the rancher-catalog `v122` branch.

network-manager: v0.2.18
kubernetes:v1.4.6-rancher2-4
kubernetes:v1.5.1-rancher1-2

[2016-12-20 23:59] janeczku opened #7153 "Cannot use volume to provide LDAP certificate"
bind mounting the volume that has the certificate. The certificate must be called ca.crt inside the container.

**Rancher Version:**
1.2.1

We want to configure Rancher Server LDAPS to use our company's root certs by deploying the certs via a data container. The problem is the `rancher/server` service expects us to bind mount the `ca.crt` to the root of the file system (see [docs](http://docs.ranc

[2016-12-21 00:06] janeczku commented on #5393
Related: https://github.com/rancher/rancher/issues/7153

[2016-12-21 00:10] alena1108 commented on #6832
@deniseschannon we must fix it in 1.4 as we are planning to get rid of scale policy use.

[2016-12-21 00:12] sangeethah commented on #7152
Tested with rancher-server version - v1.2.1 on a set up with RHEL 7.3 hosts:

Created few containers.
Restart  network manager container on one of the hosts.
On this host , try to delete any container.
Container gets deleted from rancher-server , but following errors will be seen in logs:

[code]

Container is not deleted on the host. It still listed on the host in "Dead" state.

[code]

[2016-12-21 00:14] alena1108 commented on #4849
@wlan0 we have to do it for 1.4. To support that, we have to:

1) Allow user to define Rancher scheduling labels on k8s ingress resource (via annotations, the way we do set other custom parameters like scale)
2) Put a fix to ingress controller to place these labels on the corresponding rancher load balancer on its create call.

[2016-12-21 00:16] mfar-bcgdv commented on #7135
is there any guidance to downgrade rancher to v1.1?

[2016-12-21 00:20] rezonant commented on #7136
Indeed, this problem is now returning on the same host. The short of the other issue is that Rancher 1.2.1 fixes the crash. I will do an upgrade. Thanks!

[2016-12-21 00:20] tfiduccia opened #7154 "hover over service name and sidekick actions missing on host page"
**Rancher Version:** master 12/20

**Steps to Reproduce:**
1.  Add a host and a bunch of services
2.  Hover over service name and container name
3.  Right click on container name

**Results:** The hover and right-click menu are missing
![image](https://cloud.githubusercontent.com/assets/11514927/21373002/5e4a366c-c6d8-11e6-90b9-e75bcd2aa1f7.png)
![image](https://cloud.githubusercontent.com/assets/

[2016-12-21 00:35] deniseschannon commented on #7135
@mfar-bcgdv We added cleanup code in 1.2.1, so it might take a bit for your setup to be cleaned up as we don't clean it all instantly.

For downgrades, if you backed up your database (as we recommend), you can just point to the backed up database. Otherwise, there is no option to downgrade from 1.2 to 1.1 using the same DB from 1.2.

[2016-12-21 00:54] longwuyuan opened #7155 "SSH bug almost certain across subnets"
**Rancher Version:**
1.2.1
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS on AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
SingleNode-Rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
- Create VPC with public private subnet in AWS ap-northeast-1 region wit

[2016-12-21 01:01] bishalkc commented on #7155
Same issue here, I was creating host with RancheOS ami-c6d073a5 (ap-southeast-1 region)

[2016-12-21 01:04] bishalkc commented on #7109
RancherOS ami-c6d073a5 (ap-southeast-1 region), yes the Rancher server and rancher host are in subnet, all the NACL and SG's are in place for server <-> client communications. If I build the instance via Terraform and run the agent everything works as expected.

[2016-12-21 01:09] sangeethah commented on #7152
Tested with rancher-server version - v1.2.2-rc1 on a set up with RHEL 7.3 hosts:

Created few containers.

Scenario 1:
Restart network manager container on one of the hosts.
Delete one of the containers on this host.
Container gets deleted from rancher-server and no logs relating to volumestoragepoolmap.remove is seen.

Also containers is successfully deleted from the host. (No "Dead" containers)

[2016-12-21 01:23] galal-hussein commented on #7152
rancher version: v1.2.2-rc1
OS: RHEL 7.2
kubernetes:v1.4.6-rancher2-4/kubernetes:v1.5.1-rancher1-2
network-manager: v0.2.18

Tested both scenarios restart network agent and restart rancher-agent, the containers on hosts are successfully deleted from the host and no Dead containers, there is no also any errors in the logs.

[2016-12-21 01:23] #7152 closed

[2016-12-21 01:28] ibuildthecloud commented on #7122
Thanks, I'll see if I can address this in 1.2.2.  Some of the cleanup logic may have adversely impacted host delete.

[2016-12-21 02:15] sankaet opened #7156 "Containers always stay on initializing"
Hi,

post the new update, containers on certain hosts always stay on initializing even hours after they have been deployed.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.1` Cattle: `v0.174.8` UI: `v1.2.39` |
|Access|`github` `admin`|
|Orchestration|`Cattle`|
|Route|`stacks.index`|

[2016-12-21 02:16] sankaet commented on #7144
Hi @deniseschannon, @bigfoot90 is correct this was a function of health checks, if you are not getting a 200 response on the health check call, it will give the `STATE_CHANGED` error.

[2016-12-21 02:57] sankaet commented on #7156
seems like its somehow connected with `Timeout getting IP address` error

[2016-12-21 03:11] Sharuru opened #7157 "WebSocket connection to 'wss://rancher.example.net' failed: HTTP Authentication failed; no valid credentials available"
**Rancher Version:**
Rancher v1.2.1
**Docker Version:**
1.12.5, build 7392c3b
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-53-generic x86_64), VMs in VMware ESXi.
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher server on Host A, Agent on Host B, just one node.
**Environment Type: (Cattle/Kubernete

[2016-12-21 04:17] Sharuru commented on #7157
Update:
After tracing logs of server and agent, found:
Server:
[code]
Agent:
[code]

I am using self-signed certs, found simulate issues in tracker :cry:

[2016-12-21 04:24] Sharuru commented on #7157
After disable all https setting and change Host Registration URL to http, everything works fine...

Any plan about support on self-signed certs? :rose:

Sorry for disturb.

[2016-12-21 04:34] aemneina opened #7158 "create stack on label provider process spinning"
**Rancher Version:**
v1.2.1

In a scenario where k8s services are spinning, this process seems to be prioritized, rescheduled and never succeeds... leading to thread starvation.

[2016-12-21 05:22] aemneina commented on #7149
@cjellick not sure if this is related, or configurable... or even helpful. https://github.com/kubernetes/kubernetes/issues/12648 Maybe there's a setting where we can make fail/retry more conservative.

[2016-12-21 05:45] pulberg commented on #7152
This is still happening for me if the healthcheck or scheduler get restarted -

`docker ps -a | grep rancher | grep Dead`
`a39b59ac2b15        rancher/healthcheck:v0.1.0        "/.r/r /tini -- healt"   26 minutes ago      Dead                                            r-healthcheck-healthcheck-1-b0cf14e3
c88141918a82        rancher/scheduler:v0.4.0          "/.r/r scheduler"        26 minutes ago

[2016-12-21 05:57] deniseschannon commented on #7152
Can you try restarting the network-manager service? @pulberg

[2016-12-21 05:58] deniseschannon commented on #7152
Also, you would need to update to a specific branch to get the updated network-services to get the correct fix. @pulberg

[2016-12-21 06:04] deniseschannon commented on #7013
@nicolinux Can you try restarting the network manager as a workaround to clear up the logs and release the containers?

A proper fix will be coming in v1.2.2.

[2016-12-21 06:05] deniseschannon commented on #7016
As a workaround for now you can try restarting your network manager to clear up the errors about being unable to remove filesystems until the proper fix is released with v1.2.2.

[2016-12-21 06:18] pulberg commented on #7152
@deniseschannon thanks for the info, I bounced docker on the hosts to clear the messages and "dead" containers.

[2016-12-21 09:50] olafmol commented on #2485
+1

[2016-12-21 10:35] Flowman opened #7160 "kubelet cannot access rancher-metadata"
**Rancher Version:**
1.2.1
**Docker Version:**
1.12.5
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 LTS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single nod rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4.6
**Steps to Reproduce:**
Create a new environment
Add a host to environment
**Results:**

[2016-12-21 10:41] GregoireW commented on #3748
Hello,

+1 on that features. We had some issue when upgrading rancher. To fix issue, we had to clear the DB and recreate environment / stack.

Today I did a script to export via rancher CLI some stuff that I can import back (but manually today...).

I face an unfortunate issue. When exporting stack build from catalog, catalog link is broken so "up to date" / "upgrade" button is not displayed anymo

[2016-12-21 11:16] davebown commented on #5772
Don't understand why AAD authentication isn't done using OAuth 2 like Github one is. That way multi-factor authentication works and surely this could have leveraged common code.

[2016-12-21 11:44] Toonix opened #7161 "Docker-compose goes corrupted after creating a Cattle Stack"
1.2.1

After creating a stack with rancher-nfs the Docker-Compose.yaml file is in wrong order, and can't be used to recreate that stack.

Original dockercompose.yml file:

[code]

Docker-Compose from view config:

`version: '2'
**volumes:
  Jira-Progress-test:
    external: true
    driver: rancher-nfs
  Jiratest-data:
    external: true
    driver: rancher-nfs**
services:
  Jira-DB:
    image: po

[2016-12-21 11:45] Toonix commented on #7161
sorry lfcr issue

version: '2'
volumes:
  Jira-Progress-test:
    external: true
    driver: rancher-nfs
  Jiratest-data:
    external: true
    driver: rancher-nfs
services:
  Jira-DB:
    image: postgres:9.5.4
    environment:
      PGDATA: /var/lib/postgresql/data/jira-data
      POSTGRES_DB: jira
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    stdin_open: true
    volumes:

[2016-12-21 12:20] kvaes commented on #4576
For those interested, a blogged summary of the above ; https://t.co/1UHbk9Xjs3 ;-)

[2016-12-21 12:31] am813nt opened #7162 ""docker ps" shows no ports (exposed or/and public) since 1.2.0"
**Rancher Version:**
1.2.1
**Docker Version:**
1.12.5
**OS and where are the hosts located? (cloud, bare metal, etc):**
Debian Wheezy, SMP Debian 3.16.36-1+deb8u1~bpo70+1 (2016-09-08) x86_64 GNU/Linux, KVM-based VM
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

Since

[2016-12-21 12:58] siwonne commented on #7029
That seems to work for now. Nevertheless it is a BUG!

[2016-12-21 13:04] goffinf commented on #7132
Rancher have confirmed a problem with networking that should be fixed in v1.2.2 (expected in the next few days).

[2016-12-21 13:22] Toonix opened #7163 "network-services catalog v0.0.6 is breaking network in rancher v1.2.0"
Rancher Version: 1.2.0

Docker Version: 1.12.3

OS and where are the hosts located? RancherOS on ESX

Setup Details: single node, internal DB

Environment Type: (Cattle)

Network Service Upgrade from v.0.0.5 to v0.0.6

Results:

After Upgrade Container with a Service Link aren't working anymore. (No Connection to Database).

[2016-12-21 13:41] christianhuening opened #7164 "Rancher Ingress not initializing properly"
hint:
I think this relates to #7131 but with Kubernetes Environment instead of Cattle.

**Rancher Version:**
1.2.1
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16 LTS hosted on-prem, bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node Rancher, internal DB
**Environment Type: (Cattle/Kuber

[2016-12-21 14:02] yoerayo opened #7165 "Healthcheck container dies frequently"
**Rancher Version:** 1.2.1

**Docker Version:** 1.12.5

**OS and where are the hosts located? (cloud, bare metal, etc):** CentOS 7 in VMware

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node with mounted DB path, one host with server and agent, and one host with just an agent.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to

[2016-12-21 14:06] jclark360 commented on #7132
I have fixed our problem, it was two fold:

1) you must use an ALB with aws installations, do NOT use an ELB
2) when you register your hosts you need to set the cattle_agent_ip to the private ip of the ec2 instance, don't let it auto-discover as it uses the public ip instead.

@leodotcloud @ibuildthecloud

[2016-12-21 14:24] GregoireW commented on #3748
My backup script if somebody is interrested

[code]

I will not work on the import part immediately (so if somebody want use this and want help on import part :D )

on import part to (step 1):  (environment + host already setup)
- from volume, use catalog to setup the volume driver
- create the volume
- reimport all the stack with a warning : if load balancer stack then should be setup last (else

[2016-12-21 14:36] sra commented on #7122
I am seeing this as well on 1.2.1. Hosts running on EC2

The hosts are added and removed by spotinst, if it matters.

I hopped onto one of the hosts in this state and got the end of the network manager log:

[code]

[2016-12-21 14:44] willseward commented on #4576
Thanks, @kvaes! I'll send this up the flag poll. We've been waiting for this feature!

[2016-12-21 14:48] willseward opened #7166 "Failed to find instance to delegate to for agent"
**Rancher Version:** 1.2.1

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** External Db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**

Not quite sure. It pops up in my error log about once a minute or so...

[2016-12-21 14:50] sra commented on #7165
Could this be related to ICMP access? I am seeing this behavior on one host that is part of an environment mostly on AWS. This host is not on AWS and doesn't have ICMP yet. It takes an act of god to get the firewall changed.

I think it is the only one in this environment that keeps falling over (the oddball host).

[2016-12-21 14:58] deniseschannon commented on #4576
@kvaes The title of the blog v1.1.3 not v1.3.0. :)

[2016-12-21 15:01] kvaes commented on #4576
@deniseschannon thanks, updated! :)

[2016-12-21 15:08] nicholasdille commented on #7122
I am seeing this issue on Rancher 1.2.1 with hosts (Ubuntu 16.04 LTS) deployed on AWS. In one environment, the issues occurred and in another one it did not.

[2016-12-21 15:18] yoerayo commented on #7165
I don't think so. Both hosts are VMs in the same internal environment and subnet and can ping each other just fine.

[2016-12-21 15:27] goffinf commented on #7132
We already use an ALB and none of our instances have a public IP.

[2016-12-21 16:28] leodotcloud commented on #7130
@matthijsvdr Can you please check your LB infront of the rancher/server? Please ALB instead of ELB. The hosts being registered with the same source IP address is a problem.

@jclark360 I am assuming your issue is resolved: https://github.com/rancher/rancher/issues/7132#issuecomment-268530775

[2016-12-21 16:53] ibuildthecloud commented on #7128
I can confirm this is an issue.  Will fix.

ping @leodotcloud

[2016-12-21 16:55] pulberg commented on #7165
same issue here, RHEL7.2, VMware ESX

[2016-12-21 17:15] flantel commented on #6976
I'm experiencing the same problem. As well as this, service/external links are not resolving within the containers.

[2016-12-21 17:25] christianhuening commented on #1701
Would also be very interested in this!

[2016-12-21 17:35] matthijsvdr commented on #7130
@leodotcloud I'm not running on aws

[2016-12-21 17:46] qrpike opened #7167 "Label to not register containers in Rancher"
I tried to find docs around this, but couldn't.

**Situation:** We do all of our builds on a node which is registered in Rancher, however we have massive amounts of builds happening. They all show up in Rancher and seem to be slowing it down.

**Question:** Is there a label to add to containers which tells Rancher not to register that container inside of Rancher?

Thanks,

[2016-12-21 17:53] pulberg commented on #7164
I see the same error in an LB in a Cattle env -

`12/21/2016 11:45:31 AMtime="2016-12-21T17:45:31Z" level=info msg="KUBERNETES_URL is not set, skipping init of kubernetes controller"
12/21/2016 11:45:32 AMtime="2016-12-21T17:45:32Z" level=info msg="Starting Rancher LB service"
12/21/2016 11:45:32 AMtime="2016-12-21T17:45:32Z" level=info msg="LB controller: rancher"
12/21/2016 11:45:32 AMtime="2016

[2016-12-21 17:55] nicolinux commented on #7013
Since the Rancher container dies regularly, I guess I did that. Thanks for the info.

[2016-12-21 18:24] tfiduccia commented on #6976
@tknecht and @flantel - This is a bug in 1.2.  We were saving an extra slash and it is fixed in 1.2.1.  Please upgrade.

[2016-12-21 18:24] #6976 closed

[2016-12-21 18:25] ekristen opened #7168 "Feature Request: add ability exclude hosts from default scheduler"
I think it would be good to be able to enforce or per-populate default scheduling rules per environment. For example, in my production or staging environment set scheduling rule by default to deploy on servers with label purpose=apps, this way apps can't accidentally get deployed to management servers for example.

To further explain my point, my environment consists of different types of servers,

[2016-12-21 19:19] LLParse commented on #7116
@bergtwvd I feel your pain regarding reuse of a failed/removed host. I would recommend uninstalling/reinstalling docker to ensure all relevant state is wiped out. I am not totally sure all swarm state is in `/var/lib/docker/swarm`, based on your findings.

The `log corrupted, truncated, or lost` error is legitimate since your old node no longer belongs to the cluster. This is essentially the behav

[2016-12-21 19:19] #7116 closed

[2016-12-21 19:25] joshbenner opened #7169 "Feature Request: Limit Host Scheduling"
Allow one to specify scheduling filters on the host. For instance, "only schedule containers with label foo=bar".

This could help several use cases:
- [Exclude hosts from scheduling - #7168](7168) (effectively?)
- A single env being across multiple DCs, but wanting affinities of certain services to certain DCs
- Keeping services in proper legal jurisdictions
- Dedicated hosts in environment (ie:

[2016-12-21 19:25] deniseschannon commented on #7013
@nicolinux The proper fix is in 1.2.2 and tested.

The "unable to remove filesystem" will no longer occur.

Also, in 1.2.1, we introduced cleanup code so your MySQL DB shouldn't fill up and clean up appropriately for the volumes. We have tracked the fix in #7152 and I'll close.

After 1.2.2 is released, if you still face these issues, please reopen.

[2016-12-21 19:25] #7013 closed

[2016-12-21 19:29] LLParse commented on #6413
Looks like this is fixed in Docker 1.13.0, which is slated for release on 2017-01-10.
https://github.com/docker/docker/issues/29180

[2016-12-21 19:48] tfiduccia opened #7170 "Scheduling doesn't count properly when adding a new service or adding scale"
**Rancher Version:** master 2/21

**Steps to Reproduce:**
1.  Create a new cattle environment with 2 hosts and wait for everything to setup (the extra scheduler container is on the first host)
2.  Create a new service with a scale of 6 (first container will go to host1, even though it already has an extra container)
3.  Click on info and scale the service 1 at a time. (wait between to make sure co

[2016-12-21 19:58] ptarpan opened #7171 "Load-Balancer remains in initializing state"
**Rancher Version:**
v1.2.0
**Docker Version:**
1.12.5
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Three rancher/server's and three (separate) rancher/agent
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Launch the following stack:
version: '2'
se

[2016-12-21 20:25] shuoyenl commented on #7171
related to #7164

[2016-12-21 20:28] matthijsvdr commented on #7130
@leodotcloud Been trying some things, when connecting directly to the rancher master -> no issues
When connecting via a nginx lb -> errors
When specifying CATTLE_AGENT_IP and connecting via the nginx lb -> no errors

Looks like rancher does not pickup the correct ip adres.

[2016-12-21 20:59] deniseschannon commented on #7130
@matthijsvdr Rancher does a best effort in trying to pick up the IP address. If it is picked up incorrectly, then you would need to use CATTLE_AGENT_IP.

[2016-12-21 21:00] flantel commented on #6976
OK, but I am experiencing this on a clean 1.2.1 install. Running 1.2.1 on Ubuntu 16.04. The only thing linking a previous version is the docker-compose and rancher-compose files, which were copy/paste from a 1.14 installation.

[2016-12-21 21:20] tfiduccia commented on #6976
@flantel - Can you please give me an example docker-compose so I can try it for myself?

[2016-12-21 21:34] yoerayo commented on #7132
I had this problem at one point when I registered the first two agents in quick succession.  Removing one of the agents and re-adding it seemed to fix that problem.

[2016-12-21 22:15] willseward commented on #438
@thaJeztah Thanks for the clarification. Do you have any info on how to run multiple versions of docker on a single host? It was simple when everything was in one binary, but now I'm not sure how to do it.

[2016-12-21 22:22] mccricardo commented on #7022
Experiencing the same issue with 1.1.4. Is very very slow. Containers take hours to start.

[2016-12-21 22:25] tfiduccia opened #7172 "Stats for Load Balancer container not showing up in LB service details"
**Rancher Version:**  master 11/21

**Steps to Reproduce:**
1.  Create a load balancer service
2.  Once it's fully started,  go to the Service details page and click on Containers tab

**Results:** Container Stats says n/a
![image](https://cloud.githubusercontent.com/assets/11514927/21408305/93f933d0-c791-11e6-90ba-2b925101ae52.png)

**Expected:** Stats should show up.

[2016-12-21 22:32] vincent99 commented on #7022
This should be better in `1.2.1` (or if you don't want to do another upgrade soon, wait for `1.2.2` tomorrow).  @mccricardo you may have a different problem as this is specific to 1.2.0, but 1.2.x is faster in general.

[2016-12-21 22:33] defunctzombie commented on #6914
Also seeing this issue *after* upgrading to 1.2.1 (was not seeing it before with 1.2.0)

[2016-12-21 22:39] thaJeztah commented on #438
@willseward there is some information in this section of the docs, but there's many things that can be problematic; multiple daemons managing IPTables (e.g.) won't work, so networking can be a challenge; https://docs.docker.com/engine/reference/commandline/dockerd/#/running-multiple-daemons

Depending on what you want to do (e.g. just do some minor testing with other versions), running docker-in-d

[2016-12-21 22:41] alena1108 commented on #5854
@galal-hussein do not use default service account; use the custom created one. K8s api server regenerates default account on restart, so after that pod has to be restarted. Try with the custom account, and see how it goes.

[2016-12-21 22:42] tfiduccia opened #7174 "Scaling Started-once service flashes failure to lock error"
**Rancher Version:** master 11/21

**Steps to Reproduce:**
1.  Create a service that uses the hello-world image and set start-once on
2.  After it is finished and set to started-once status.  In Service view, click on info and add one to scale.

**Results:** Get an error showing in UI and in logs about "failure to acquire lock".
![image](https://cloud.githubusercontent.com/assets/11514927/21408537

[2016-12-21 23:25] isp14 commented on #7143
I have the same problem.

Rancher Version:
1.2.0
Docker Version:
1.12.3, build 6b644ec

[2016-12-21 23:29] leodotcloud commented on #6975
@ajacques Yes you are right, it's not working as I was hoping to from the UI. Usually this label is used while launching the container from the CLI of the host.

See: http://docs.rancher.com/rancher/v1.2/en/quick-start-guide/#create-a-container-through-native-docker-cli

So if you want to get the old behavior, you would have to define your services in a docker-compose, set this label on the contai

[2016-12-21 23:59] nhumrich opened #7175 "Rancher service is "unhealthy" without a healthcheck"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu/AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single master with external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

I have a deployment script for rancher that starts a deploy by using the upgrade api, the

[2016-12-22 00:15] nhumrich opened #7177 "Rancher Database uses an absurd amount of RAM"
**Rancher Version:**
1.2.1

**Docker Version:**
1.12

**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu/aws

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node with external DB (RDS)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

I have been having some major slowness with rancher lately (1.1.4). After trying to f

[2016-12-22 00:17] tfiduccia opened #7178 "Swarm environment not setting up - swarmkit-mon stuck in initializing"
**Rancher Version:** v1.2.2-rc1

**Steps to Reproduce:**
1.  Create three DO machine with private IP
2.  Install docker 1.12.3
3.  Add those host to swarm environment

**Results:** The main swarmkit-mon container logs keeps saying "12/21/2016 5:16:23 PMRetrying publishing tokens".  the second and third host swarmkit-mon are stuck in initializing.

**Expected:**  Should setup.