[2016-10-31 22:38] MaxVoronov commented on #6406
Hi @deniseschannon,
I also have same problem. Here is my case:

**Rancher Version:**
v1.2.0-pre4-rc4
**Docker Version:**
1.12.2, build bb80604
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS (with KVM)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)

[2016-10-31 23:16] cjellick commented on #6388
Moving out of 1.2. There a few simple work arounds:
- refresh the page that is loading slowly
- Add `-e DEFAULT_CATTLE_CATALOG_URL=""` (or a valid catalog url if blank wont do) to the `docker run ...rancher/server` command if you know you are going to be in an environment where that cannot be reached.

[2016-10-31 23:19] alena1108 commented on #6326
containers using networkFrom, should be in the metadata now. They have empty primary_ip field, and field network_from_container_uuid set to the uuid of its primary container.

[2016-10-31 23:43] soumyalj opened #6463 "Kubernetes ingress targets are not served in a round robin fashion"
**Rancher Version:**Master

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

**Steps to Reproduce:**
This test fails while running our automation tests.
The following steps have been used in ou

[2016-11-01 00:09] sangeethah opened #6464 "Ingress with ssl listener is not functional."
Server version - Build from master

Steps to reproduce the problem:

Create Ingress with ssl listener using the following yml files:

[code]

[code]

lb ip  is not functional.

haproxy.conf indicates that http mode is used:

[code]

[2016-11-01 00:24] sangeethah commented on #6464
Automated test case - /Users/sangeethahariharan1/cattle/validation/validationtests/tests/v2_validation/cattlevalidationtest/core/test_k8_ingress.py - test_k8s_ingress_12

[2016-11-01 00:35] sangeethah opened #6465 "No backend targets configured when Ingress is created and then targets services get created."
Rancher Version: Build from master

Steps to reproduce the problem:

Create Ingress.
Then Create service.

lb ip is not functional.

There is no targets programmed for the backend.
[code]

[2016-11-01 03:16] blackwellops commented on #6448
I'm getting the same issue on CentOS and on Debian. However, it works fine on MacOS.

[code]

[2016-11-01 10:16] mendescamara commented on #5788
@janeczku do you want more information or you could simulate the problem?

If you need anything let me know!!!

[2016-11-01 10:35] janeczku commented on #5788
@mendescamara Can you clarify if mounting the EFS volumes to the containers still works even though the "convoy-efs" service is stuck in state "Initializing"?

[2016-11-01 12:28] timbordemann commented on #6417
Same here, although not on Azure. I try to build a kubernetes cluster on KVM and RancherOS 0.70, but the kubernetes-proxy- and kubelet-containers are stuck. Since there are no logs it's very hard to debug.

[2016-11-01 13:54] Matty9191 opened #6466 "Unknown certificate authority warnings"
**Rancher Version:**

"CATTLE_RANCHER_SERVER_VERSION=v1.1.4",
"CATTLE_RANCHER_COMPOSE_VERSION=v0.8.6",
"CATTLE_CATTLE_VERSION=v0.165.8.4",

**Docker Version:**

Server Version: 1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

Virtualbox instances running Fedora 25beta

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

single node

**Env

[2016-11-01 14:14] radu-stefanache commented on #6313
@vincent99 & @deniseschannon : Guys, I see rc6 is out and I'm facing the same issue. The UI doesn't load even if I store the content on a local apache host. Is there anything I'm missing?

Thanks!

[2016-11-01 15:15] bartoszhernas commented on #2179
Any idea when this will be available to use? I am looking for a way to set up HSTS on LB level. :)

[2016-11-01 15:30] bartoszhernas commented on #6409
I guess you could manually set source port here to be 443 for all non LetsEncrypt services, and then set source port 80 for redirection service, but I don't see a way to set it up in the configuration of Ingress:
https://www.dropbox.com/s/8z40lwdymwowx9k/Screenshot%202016-11-01%2016.26.59.png?dl=0

Maybe someone knows a way to set up these source ports via Ingress configuration?

[2016-11-01 15:58] will-chan commented on #6451
This Github rancher project is under the apache2 license.  You are welcome to use the open source project under the agreement of the apache2 license however you choose.  If you choose to purchase a support service agreement with Rancher Labs, then the EULA applies for the rancher software.

[2016-11-01 15:58] #6451 closed

[2016-11-01 16:12] pengjiang80 commented on #5256
@leodotcloud , may I know when we will have Calico available? Currently in both qa/1.2 branch of infra catalog, didn't see any Calico related items.

[2016-11-01 16:13] deniseschannon commented on #2179
Closing as code is in master. Any specific bugs for this feature should be opened separately.

[2016-11-01 16:13] #2179 closed

[2016-11-01 16:16] sangeethah commented on #2179
The issues that were found and addressed are https://github.com/rancher/rancher/issues?utf8=%E2%9C%93&q=%20is%3Aissue%20label%3Aarea%2FLBRefactor%20

[2016-11-01 16:21] #6360 closed

[2016-11-01 16:24] swartel commented on #936
+1 I did the same kind of operation in /var/lib/boot2docker/bootlocal.sh using rsync to restore /var/lib/rancher from a shared folder. And since no more duplicate host (boot2loader) after reboot.

[2016-11-01 16:46] mpaluru commented on #5256
@pengjiang80 the infra changes are still cooking and once those are merged, I will start testing Calico. Once everything is working, will push to Infra Catalog. Just a few more days ...

[2016-11-01 16:47] leodotcloud commented on #5256
@pengjiang80 the infra changes are still cooking and once those are merged, I will start testing Calico. Once everything is working, will push to Infra Catalog. Just a few more days ...

[2016-11-01 17:16] sangeethah commented on #6444
Tested with latest build form master:

This issue is not seen anymore.

[2016-11-01 17:16] #6444 closed

[2016-11-01 17:21] cloudnautique opened #6467 "secrets-bridge needs longer timeout waiting for labels."
**Rancher Version:**
1.1.4
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
K8s
**Steps to Reproduce:**
Launch container in an environment and intermittently labels will not be found when they should.
**Results

[2016-11-01 17:23] LLParse commented on #6432
In this scenario, we observed a functional swarm with 2 managers. Our automation executed a `docker promote` on the worker. It became unresponsive and `docker info` returned swarm status `pending` with reason `context deadline exceeded`. There was no indication in the logs why the functional worker locked up during the promotion.

[2016-11-01 17:24] soumyalj opened #6468 "Host machine driver is null after upgrade from 1.1.4 to 1.2.0-pre4-rc6"
**Rancher Version:**1.1.4 to 1.2.0-pre4-rc6

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Cattle

**Steps to Reproduce:**
1. Create a cattle environment and add digital ocean host through UI
2. Upgrade from 1.1.4 to

[2016-11-01 17:41] tfiduccia commented on #6435
Version - master 11/1

[2016-11-01 17:41] #6435 closed

[2016-11-01 17:43] tfiduccia commented on #3875
version - master 11/1
Verified fixed - groups are showing up

[2016-11-01 17:43] #3875 closed

[2016-11-01 17:47] deniseschannon commented on #2777
As we are only supporting the new refactored V2 load balancers, we will not be able to support HAProxy draining for 1.2. This has been pushed out to 1.3 as it requires a bigger refactor in the new v2 LB.

[2016-11-01 17:49] tfiduccia commented on #6412
I did a quick test that three services spread evenly.  But not sure what else I would test here, so sending to you per Craig.

[2016-11-01 17:50] natami opened #6469 "Rancher single node reverse-proxy with ssl not working on other ports than 8080"
I'm having trouble setting up a nginx reverse proxy with self signed ssl certs.

Problem is I need to change rancher UI port from port 8080 to eg. 5222 - the UI is available at port 5222 like http://myrancher:7000

After installing the nginx revers proxy and listen on port 5222, all i get is a 502 Bad Gateway.

Reverting Rancher back to port 8080, and adjusting nginx for the same port, makes the r

[2016-11-01 17:55] rodrigdav commented on #6107
@bkuhl thanks for the help.  Mine ended up working after I set `/` as the mount directory.  Is there anywhere that is documented or should be documented?

[2016-11-01 17:55] piotron opened #6470 "Stale data when changing catalog template from dropdown."
**Rancher Version:**
v.1.2.0-pre4-rc2 -- v1.2.0-pre4-rc6
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 cloud ovh
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, external db
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**

1. Go to catalog, choose tepmla

[2016-11-01 17:55] alena1108 commented on #6292
@kaos yes

[2016-11-01 17:57] alena1108 commented on #2414
@sangeethah all haproxy logs are located under /var/log/haproxy/. We should also test log rotate (I've configured it to rotate once a day)

[2016-11-01 18:00] soumyalj opened #6471 "Kubernetes orchestration changed to cattle after upgrade from 1.1.4 to 1.2.0-pre4-rc6"
**Rancher Version:**1.1.4 to 1.2.0-pre4-rc6

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment in rancher version 1.1.4
2. Upgrade from 1.1.4 to 1.2.

[2016-11-01 18:02] clicman commented on #6451
Thank you for answer.

[2016-11-01 18:04] alena1108 opened #6472 "K8s proxy to iptables instead of "userspace""
Today we configure proxy in userspace mode for k8s. We should try switch to iptables mode.

[2016-11-01 18:04] tfiduccia commented on #6453
Version: master 11/1

Craig I was able to reproduce this by simply:
1.  Add same label to two host (I added foo=bar)
2. Create a service with scale = 2, scheduling rule: host label of foo=bar

Both services went to same host.

[2016-11-01 18:22] alena1108 commented on #6446
@sangeethah let me know if it is still happening

[2016-11-01 18:23] alena1108 commented on #6449
@sangeethah let me know if you still see it happening

[2016-11-01 18:29] mrcamp commented on #6071
I'm on 1.1.4 and am having the same issue, but with the entire Catalog entry itself. If I push updates to the docker/rancher-compose files (such as adding a new question), Rancher Catalog will take several minutes to detect these changes. The only guaranteed way to have Rancher Catalog update is to remove my repo from the Settings and re-add it.

[2016-11-01 18:38] will-chan commented on #6411
Perhaps we can add an option to automatically move the state to "Upgraded" when you perform the upgrade process.

[2016-11-01 18:49] alena1108 commented on #6465
@sangeethah please test using updated alena1108/lb-controller:latest

[2016-11-01 18:52] alena1108 commented on #6463
@soumyalj it is because haproxy config can be reloaded at the point when you test the lb service. The validation test should be fixed in the way that service in rancher (service.name=kubernetesservice.name) has a) all the pod containers linked to it b) all of them should be running

[2016-11-01 18:53] alena1108 commented on #6464
@sangeethah please test using updated alena1108/lb-controller:latest

[2016-11-01 19:01] alena1108 commented on #6406
@mrajashree given it is happening not only on k8s, but also on cattle, can you check if there is a bug in a way we validate the image for private repos?

[2016-11-01 19:03] cjellick commented on #6453
@tfiduccia and they _never_ go to the second host or are they just not predictably spread (because of the spread bug that I just addressed)

[2016-11-01 19:22] deniseschannon commented on #6406
@StrongMonkey Can you check, but I believe this was fixed with https://github.com/rancher/cattle/pull/2101.

I think it's a duplicate of https://github.com/rancher/rancher/issues/6311

[2016-11-01 19:25] StrongMonkey commented on #6406
confirmed it is a duplicated of #6311.

[2016-11-01 19:54] morganhein commented on #2105
Is this still planned somewhere? I think Kube handles "pod" resource limits, not idea about the other implementation;, however this is critical in my environment.

[2016-11-01 19:58] sangeethah commented on #6358
Tested with latest build from master:

password validator url is called when account (user/admin) gets added.

[2016-11-01 19:58] #6358 closed

[2016-11-01 20:00] jcherqui commented on #6448
:+1:

[2016-11-01 20:26] weikinhuang commented on #6120
@wlan0 Looks like the issue is not resolved. rancher/infra-catalog#19 was closed without merge

[2016-11-01 20:29] sangeethah commented on #6306
Tested with latest build from master:

When there are templates with docker-compose.yml but no rancher-compose.yml , we see the following message in the log indicating that this template is getting skipped.

[code]

[2016-11-01 20:29] #6306 closed

[2016-11-01 20:33] soumyalj opened #6473 "Swarm fails to start when the interface corresponding to the external IP is provided"
**Rancher Version:**1.2.0-pre4-rc6

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Swarm (v1.12-rancher0)

**Steps to Reproduce:**
1. Create a swarm 3 manager set up by providing the interface name corresponding to the external  IP(eth0). Use digital Ocean hosts

Swarm fails to start up

[2016-11-01 21:31] sangeethah commented on #6363
Tested with latest build from master.

There is a time out of 5 secs that is being enforced for the password validator calls.
When password validator call takes longer than this time, API errors out and user is presented with "Error sending POST request" message.

There is no global setting variable available to override this parameter.

[2016-11-01 21:34] LLParse commented on #6473
With this network config, multiple IP addresses are bound to the target interface, so providing the interface name won't be sufficient. We will need to explicitly specify the correct private ip address for swarm to bind to.

This information should be provided in metadata when possible (cloud), or via host label (custom).

[2016-11-01 21:44] sangeethah commented on #6363
Assigning to @mrajashree to provide a global setting that can be overriden.

[2016-11-01 22:05] cloudnautique commented on #6467
The new catalog is in https://github.com/rancher/community-catalog QA branch.

[2016-11-01 22:05] ecliptik opened #6474 "Add Stack:ContainerName Information When Executing a Shell in Audit Log"
When executing a shell into a container, it shows up in the Audit Log as a `api.container.execute` event type. There isn't much other information though and isn't very useful to see if a user was accessing a specific container or stack.

Here is an example of executing a shell into a running container, but the audit log not saying any information about what container or stack was used.

<img width

[2016-11-01 22:16] sangeethah opened #6475 "Even when password validator fails , new account gets added"
Rancher version - Build from master
Set api.auth.local.validate.url to the password valiator url.
Enable local auth.
Add a new admin/user account.
Make password validator return a error code , so that password validator fails.
User is presented with an error message but the account still gets created.

Expected Behavior:
Account should not get created.

[2016-11-01 22:18] vargalas commented on #5216
same here

[2016-11-01 22:22] soumyalj opened #6476 "Support recreating swarm stack on top of a cluster of hosts already in a swarm"
**Rancher Version:**1.2.0-pre4-rc6

**Docker Version:**1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Swarm (v1.12-rancher0)

Recreation of stack would be useful to create a new stack using the same hosts. Currently when a swarm stack is deleted and started again, hosts may not join the swarm cluster and

[2016-11-01 22:28] mrajashree commented on #6475
@vincent99 This bug is there even when the password validation service is disabled. It's not related to the password validation service, it's about the 2 API calls made while creating account, one to v2-beta/account and one is to v2-beta/password.

[2016-11-01 22:29] sangeethah commented on #5688
Tested with build from master:
Able to create LB service with no targets by passing empty lbConfig parameter/ by having empty array for "portRules" in launchConfig.

[2016-11-01 22:29] #5688 closed

[2016-11-01 22:31] yourbuddyconner commented on #2414
@alena1108 When you say that "logging is enabled by default" do you mean that logging has been implemented, but is still a pre-release feature that will release with Rancher 1.2.0?

[2016-11-01 22:31] StrongMonkey commented on #6406
appears to be a bug in agent. Reopen to track it until agent PR is merged.

[2016-11-01 22:33] wlan0 commented on #6172
Moving this to 1.3 because "GCE" requires Route config, and we are too close to the release 1.2 now

[2016-11-01 22:40] alena1108 commented on #6449
@sangeethah could you test again with the latest rancher/lb-service-haproxy:latest

[2016-11-01 22:40] alena1108 commented on #6459
@sangeethah could you test again with the latest rancher/lb-service-haproxy:latest

[2016-11-01 22:41] alena1108 commented on #6446
@sangeethah could you test again with the latest rancher/lb-service-haproxy:latest

[2016-11-01 22:41] sangeethah commented on #5689
Tested with latest build from master
Steps to reproduce the problem:
Create a stack with service - s1 and 1 balancer service with service s1 as its target.
Delete service s1.

Instances of service s1 gets deleted from haproxy config as expected.
Service gets deleted from lb service's port rule field.

[2016-11-01 22:43] #5689 closed

[2016-11-01 22:45] jensendw opened #6477 "[rancher-compose] unsupported config option upgrade_strategy"
**Rancher Version: v1.1.0

**Docker Version:1.10.3

**OS and where are the hosts located? :AWS, ubuntu 14.04

**Setup Details: single node, external DB

**Environment Type: Cattle

**Steps to Reproduce:

Using rancher-compose 0.8.5 I get this, but using rancher-compose 0.7.4 it works
Running the following against any rancher-compose.yml file that contains upgrade_strategy.
[code]
[code]

**Results

[2016-11-01 22:52] vargalas commented on #5216
I have a fresh ubuntu 16.04  host on azure. The problem happened with the host firewall off, too. Tried with the public ip and the 10. ip, too
Nothing else was running on the host. I changed the Host Registration URL in :8080/admin/settings to the same url, just using http instead of https. then I used the generated registration command, just changing the https to http there, too. The registration

[2016-11-01 23:08] tfiduccia opened #6478 "kubernetes & other environments are showing cow icon instead of their own"
**Rancher Version:** master 11/01

**Steps to Reproduce:**
1.  Create a kubernetes, mesos and cattle environments
2.  go to cattle environment and add a host
3.  Go to manage environments and add environment

**Results:** All icons are cows until I refresh screen
![image](https://cloud.githubusercontent.com/assets/11514927/19910874/1cecff94-a04d-11e6-862a-22657bea777c.png)

**Expected:**  Should n

[2016-11-01 23:11] tfiduccia opened #6479 "After adding first template, default cattle template disappears but is still selected"
**Rancher Version:** master 11/1

**Steps to Reproduce:**
1.  Create a kubernetes templates
2.  Click on add environment

**Results:** Notice under the templates it says "Orchestration: Cattle"  Even though the cattle icon image is now missing (it was there before I added k8s template).  After i add more templates, this is still the case.

**Expected:**  If it's selected, it should be visible.

[2016-11-01 23:15] tfiduccia opened #6480 "Can't edit template"
**Rancher Version:** master 11/01

**Steps to Reproduce:**
1.  Create a cattle environment
2.  Edit the environment and change something
3.  Click on save

**Results:** Stuck in saving, and won't finish.  Error in console - Uncaught TypeError: Cannot read property 'match' of undefined(…)

**Expected:**

[2016-11-01 23:25] tfiduccia opened #6481 "Add ability to see/edit which template I used in environments page"
**Rancher Version:** master 11/01

** Comments: **  I should be able to see which template I used when I created an environment.  I should also be able to change the templates.

[2016-11-01 23:32] tfiduccia opened #6482 "kubernetes submenu items are in a gigantic font size during setup"
**Rancher Version:** master 11/01

**Steps to Reproduce:**
1.  Create a kubernetes environment
2.  go to environment and add hosts
3.  Click on the kubernetes menu

**Results:** Notice the kubernetes submenu items are in a gigantic font size
![image](https://cloud.githubusercontent.com/assets/11514927/19911408/9df96854-a050-11e6-993d-a33d590a4e17.png)

**Expected:**  Should be regular size

[2016-11-01 23:45] cjellick commented on #6475
The bug occurs because we make two separate API requests:
1. create the account
2. create the password (credential)

Create the account succeeds and returns a 201
Create the password fails with 422.

So, I think this bug falls into the grey area of bad API design because the UI is doing what it can and the backend is doing what it can.

The API could be fixed by combining the 2 API calls into 1 an

[2016-11-01 23:48] tfiduccia opened #6483 "rancher-agent (agent, bootstrap, state) containers are showing up in UI"
**Rancher Version:** master 11/01

**Steps to Reproduce:**
1.  Deploy a environment
2.  Go to host & click on Show System or go to container page

**Results:** All the rancher-agent containers are showing up
![image](https://cloud.githubusercontent.com/assets/11514927/19911790/03ceb916-a053-11e6-8c73-8b5c32371d55.png)

**Expected:**  Should not show up.

[2016-11-01 23:49] cjellick commented on #6475
I guess the downside of this bug is that it is now potentially more prominent/likely to be hit because of the validation URL feature.

[2016-11-02 00:09] tfiduccia opened #6484 "networking is not set correctly on managed containers"
**Rancher Version:** master 11/01

**Steps to Reproduce:**
1.  Create an environment template with `plug-in-manager`, `ipsec`, `internal DNS`, `health-check`, `metadata` all turned on
2. Create an environment using this template

**Results:** There is no network interface inside the containers even though the IP is shown in the UI.  (ipsec & metatdata containter) and causing healthcheck to never f

[2016-11-02 00:29] alena1108 commented on #6456
@sangeethah not going to fix the ports as private port gets defaulted to a public port internally. The null values should be skipped, thats a bug

[2016-11-02 00:31] tfiduccia opened #6485 "Load Balancer clone/edit doesn't restore selector port rules"
**Rancher Version:** master 11/01

**Steps to Reproduce:**
1.  Add a load balancer with a selector rule
2.  Add target selector
3.  Create
4.  Clone or edit

**Results:** Select a Service drop-down showing up instead of rule

**Expected:** Rule should show up.

[2016-11-02 00:55] vincent99 commented on #5621
This shouldn't be relevant in 1.2, ssl-ness is now part of the protocol choice for a rule.

[2016-11-02 00:57] vincent99 commented on #3161
1.2 does either upgrade or edit, according to what is needed for the change requested.

[2016-11-02 01:12] wlan0 commented on #6120
We merged kubectl 1.4.4, now this bug is actually "resolved"

[2016-11-02 01:34] weikinhuang commented on #6120
@wlan0 however `v2alpha1` api is not enabled in the `1.2` branch

[2016-11-02 04:21] deniseschannon commented on #6071
@mrcamp Have you used the refresh button to update the catalog entries? It's located on the catalog page in the upper right hand corner.

[2016-11-02 04:30] mrcamp commented on #6071
Heh, I feel pretty dumb for not noticing that button by now. Thanks!

[2016-11-02 04:48] joshwget commented on #6434
`cgroup` isn't actually a valid argument for Docker so it was removed by @StrongMonkey. rancher/rancher-compose#216 handles the `uts` half.

[2016-11-02 07:16] onehao opened #6486 "Repeated "Failed to Scheduling for instance" error while provisioning host using rancher openstack driver"
**Rancher Version:v1.0.2

**Docker Version:Server Version: 1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc): CentOS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**MySQ HA 1 node

**Environment Type: cattle

**Steps to Reproduce:**
Server A using nginx:
Server B user Ha with one node.

**Results:**

[code]
**Expected:**

[2016-11-02 09:00] valipod commented on #6442
What, no more cat and mouse play with the logs? Joke aside, this would really be a helper.

[2016-11-02 12:29] robdewit opened #6487 "websocket-proxy fails to start if options "edns0" or "single-request-reopen" are present in resolv.conf"
**Rancher Version:**
1.2.0-pre4-rc6 and any other starting with 1.1.4

**Docker Version:**
1.11.2 and 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Bare metal Linux, kernel 4.4.14 x86_64

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Fails at starting server

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
N/A

**Steps to Rep

[2016-11-02 12:44] Dremor opened #6488 "Load balancer fail to start. (master branch)"
**Rancher Version:** Master

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
OpenSUSE Tumbleweed

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
- Run from rancher/server:master
- Add an host (I used the

[2016-11-02 13:01] gegenschall opened #6489 "Swarm cannot find AGENT_IP from metadata"
**Rancher Version:** rancher/agent:v1.1.0-rc10 and rancher/server:v1.2.0-pre4-rc6

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Rancher server: Debian 8, Rancher Agent and Hosts: created via Exoscale Machine Driver

**Setup Details:** single node, internal DB

**Environment Type:** Swarm

**Steps to Reproduce:** Add new Swarm host via Exoscale Drive

[2016-11-02 13:13] danielschlegel opened #6490 "Prometheus catalog: invalid character '\x00' in string literal"
If i try to create Prometheus from catalog i get the following error.

```invalid character '\x00' in string literal```

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`github` `admin`|
|Orchestration|`Kubernetes`|
|Route|`catalog-tab.launch`|

[2016-11-02 14:09] larsmagnusherland commented on #6490
Same as #6447

[2016-11-02 14:21] galal-hussein opened #6491 "Can't add Github organization as a member/owner to environment"
**Rancher Version:**
v1.2.0-pre4-rc6
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Enable Github authentication
Add any github organization to the mem

[2016-11-02 14:32] sangeethah commented on #6465
Tested with latest K8s template from 1.2 branch of rancher-catalog which uses alena1108/lb-controller:latest.

This issue is not reproducible anymore.

[2016-11-02 14:32] #6465 closed

[2016-11-02 14:40] sangeethah commented on #6464
Tested with latest K8s template from 1.2 branch of rancher-catalog which uses alena1108/lb-controller:latest.

lb is still not functional.

I still see mode set to http and also the port that is being used is 443 instead of the http.port: "95" that was set in ingress yml file.

[code]

[2016-11-02 15:01] deniseschannon commented on #6488
@Dremor When did you build your master container? Our current master branch just got a lot of significant changes and is not quite working right now. :)

[2016-11-02 15:39] bseclier commented on #3393
+1

[2016-11-02 17:07] alena1108 commented on #6464
@sangeethah note that for tls you have to use "httpS.port", not "http.port" to override the default 443 port. I'll look at the http proto issue

[2016-11-02 17:41] aemneina commented on #6469
Hey @natami can you try setting `proxy_pass http://rancher;` to use https, let us know if that helps?

[2016-11-02 17:49] alena1108 commented on #6464
@sangeethah looked at the setup + config in your message. Https is configured correctly given this line:

[code]
note that haproxy does have only 2 modes: tcp and http. But in our LB apis, the corresponding rule would have protocol https, and it is set correctly for the rule:

[code]

[2016-11-02 17:59] sangeethah commented on #6464
@alena1108 , I am doing this from ingress yml. So the fix here to have the correct protocol set in LB api needs to be done by k8s ingress controller , right ?

[2016-11-02 18:13] vincent99 commented on #6168
I don't think this applies in the new balancer for 1.2..

[2016-11-02 18:30] ecliptik commented on #6192
We had this issue too when accessing the Rancher UI through an AWS ELB.

Increasing the **Idle Timeout** to _1200_ seconds fixed the issue for us.

[2016-11-02 18:38] ecliptik opened #6492 "Feature Request: Log Commands in Execute Shell to Audit Log or External Service"
Requesting the ability to log all commands executed within a running container via the `Execute Shell` method in the Rancher UI or CLI. In addition to the Audit Log, this would give a full picture of how authorized users are interacting with running containers and stacks.

If Rancher is between a user and a container, logging the stream to an external service would be beneficial in keeping a histo

[2016-11-02 18:39] vincent99 commented on #4993
In 1.2 they will consistently be `r-{container name}-{first segment of uuid}`.

[2016-11-02 18:54] deniseschannon commented on #4460
The new storage drivers should allow ability to use the same volume between multiple containers.

[2016-11-02 18:56] deniseschannon commented on #5267
With the latest master, the CNI framework has been added in.

[2016-11-02 18:57] deniseschannon commented on #5267
@sangeethah We should file all new bugs related to CNI in separate bugs. If you're okay with that, we can close the feature to confirm that the framework has been merged into master.

[2016-11-02 18:59] deniseschannon commented on #5906
With the new go-agent code, can you check again if this is still an issue?

[2016-11-02 19:02] DanielDent commented on #5118
I have the same issue. I have 10 stuck processes, they've been stuck for between 21 days and 1 month. Hosts are running docker 1.10.2 and 1.11.2 on Debian & CentOS. Rancher version 1.1.4. The rancher server is single node and us running it's own database.

Each child execution subprocess shows it goes through  'agent.deactivate -> AgentHostStateUpdate ->  AgentConnectionClose'.

AgentConnection cl

[2016-11-02 19:02] deniseschannon commented on #6098
@sangeethah Do we still need this open if we are only offering k8s 1.4 templates?

[2016-11-02 19:09] natami commented on #6469
Same result when changing to use https.

[2016-11-02 19:10] natami commented on #6469
I also tried setting up a Apache as proxy - with same result.

[2016-11-02 19:17] deniseschannon commented on #5329
In 1.2 they will consistently be r-{container name}-{first segment of uuid}.

[2016-11-02 20:21] ruimarinho commented on #4993
Does that mean secrets-bridge will behave correctly in v1.2? Right now it takes 1 out of 5 tries to get it working because the name keeps changing to the uuid (/cc @cloudnautique).

[2016-11-02 20:22] sangeethah opened #6493 "Make Default environment to have all the necessary micro services enabled by default."
Rancher Version: Build from master

Make Default environment to have all the necessary micro services enabled by default.

[2016-11-02 21:06] #6098 closed

[2016-11-02 21:07] deniseschannon commented on #6098
In Rancher 1.2, we will only support K8S 1.4 so this should be fixed.

[2016-11-02 21:10] LLParse commented on #6158
https://github.com/rancher/cattle/pull/2154

[2016-11-02 21:12] deniseschannon commented on #5256
Closing as this has been added into Master. Any bugs related to networking in k8s will be filed separately.

[2016-11-02 21:12] #5256 closed

[2016-11-02 21:12] #5267 closed

[2016-11-02 21:20] wlan0 commented on #6457
Moving this to 1.3, this is because routes need to be configured for gce to work. It'll be fixed once we have route configuration for GCE.

[2016-11-02 21:54] fredriksvensson opened #6494 "UDP get erroneous Src Port on answers from services in rancher"
**Rancher Version:**
1.1.3

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS, EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
https://gist.github.com/fredriksvensson/c30be017c5d7540bed33f907b2

[2016-11-02 22:04] tfiduccia opened #6495 "In Add Environment, service discovery and plug-in text says Undefined"
**Rancher Version:** master 11/2

**Steps to Reproduce:**
1.  Create a template that has the Service Discovery plug-ins
2.  Go to Add Environment and select that template

**Results:** The service discovery text and plug-in text all say undefined
![image](https://cloud.githubusercontent.com/assets/11514927/19949178/860eb844-a10d-11e6-9c84-40bc08cf44b8.png)

**Expected:**  Should display proper tex

[2016-11-02 22:05] soumyalj commented on #6455
@deniseschannon : Tried re-running the registration command. I see a panic in the logs:
[code]
The host cannot join the swarm cluster.

[2016-11-02 22:07] sangeethah commented on #5745
Tested with latest build from master:
This issue is not seen anymore.
Pass the following haproxy_cfg as config parameter.
[code]
The entries are not duplicated in the haproxy config file:

[code]

[2016-11-02 22:07] #5745 closed

[2016-11-02 22:19] soumyalj commented on #6464
@sangeethah : In the automation test case test_k8s_ingress_12, we are not over-riding the https port, we are overriding the http.port and also accessing on port 443[TLS spec].  With older k8s, we had access to both http.port and port 443.
https://github.com/rancher/rancher/issues/4968
The issue is that with the latest 1.4.4 K8s the http.port is not accessible when we have ingress with TLS spec

[2016-11-02 22:31] sangeethah opened #6496 "Incorrect server version reported in kubectl"
Rancher server version - Build from master
k8s template (v1.4.4-rancher1)  from 1.2 branch of rancher-catalog .

kubectl server version shows server as  v1.2.0-alpha.1.17071+0fe26bc6339a86-dirty (edited)

[code]

In previous K8s template , server version was reported correctly:

<img width="1423" alt="screen shot 2016-11-02 at 3 24 21 pm" src="https://cloud.githubusercontent.com/assets/4266958/199

[2016-11-02 23:02] tfiduccia opened #6497 "After logging out, I get a session timed out on login screen if I wait a minute"
**Rancher Version:** v1.2.0-pre4-rc6

**Steps to Reproduce:**
1.  Go to Access Control and enable Active Directory
2.  Log out & wait a minute at login screen

**Results:** The "Your session has timed out.  Log in again to continue."
![image](https://cloud.githubusercontent.com/assets/11514927/19950591/a1599396-a115-11e6-8801-946431433948.png)

**Expected:** Not warning should show up, since I log

[2016-11-02 23:14] sangeethah commented on #5746
Tested with latest build from master:

Create a balancer service with config parameter set to "defaults\nbalance first\nglobal\ngroup haproxy\n"

```group haproxy``` in global section does not get duplicated.

[2016-11-02 23:14] #5746 closed

[2016-11-02 23:42] soumyalj commented on #6455
Tried again by re-running the host registration command with CATTLE_AGENT_IP=new IP.
The host cannot join back the swarm cluster:
[code]

[2016-11-03 00:12] westlywright opened #6498 "hoststats api returns container without id"
The `hoststats` api returns a container frame that does not contain an ID. After talking to @StrongMonkey we think this is the agent container and should not be returned with the stats call.

**Rancher Version:**
latest

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**
cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
s

[2016-11-03 00:16] sangeethah commented on #6363
Tested with latest build from master:
We have global setting api.auth.local.validate.timeout.milliseconds set to 10 secs by default which is respected when caling the password validator.
We are allowed to override this global setting.

[2016-11-03 00:16] #6363 closed

[2016-11-03 00:18] alena1108 commented on #6496
Download a new alena1108/k8s:dev; it should report the correct server version

[2016-11-03 00:30] sangeethah opened #6499 "When there is a delay in password validator call returning , UI report error for account creation when account creation actually succeeds."
Rancher Version: Build from master

Steps to reproduce the problem:
Have the api.auth.local.validate.url point to an external password validator.
Create an account by making the external password validator return success after 7 secs.

UI report error for account creation when account creation actually succeeds.

<img width="1438" alt="screen shot 2016-11-02 at 5 20 43 pm" src="https://cloud.githu

[2016-11-03 00:42] sangeethah commented on #1998
Tested with latest build from master:

Tried to create a LB service with invalid  values for haproxy_cfg set in lbConfig.

LB service is stuck in "Initializing" state forever. There is no repeated attempts from cattle to push config updates anymore since config updates are done by monitoring for metadata changes.

[2016-11-03 00:42] #1998 closed

[2016-11-03 00:54] sangeethah commented on #2520
Tested with build from master

Lb created with following cookie policy works as expected:

[code]

haproxy.conf indicating that the cookies are configured  for every backend.

[code]

@cusspvz  , this fix will be available in the upcoming 1.2 release.

[2016-11-03 00:54] #2520 closed

[2016-11-03 02:51] deniseschannon commented on #6498
Could this be related to this issue where agent containers are showing up in Rancher where they should actually be hidden? https://github.com/rancher/rancher/issues/6483

[2016-11-03 03:05] deniseschannon commented on #6455
@soumyalj any chance you wrote down the IPs of the host before and after?

Did the IP of the host get updated on the UI?

[2016-11-03 03:18] sangeethah commented on #6292
Tested with latest build from master:

We are able to provide a name for a backend using portRules("backendName")  in LbConfig parameter when creating a service and  able to set specific configs to this backend by referring to this backend name  in config parameter.

Create LB with the following portRules set in lbConfig and  config parameters:

[code]

hapoxy config has the backend programmed wit

[2016-11-03 03:18] #6292 closed

[2016-11-03 03:47] ChromoX commented on #6273
After running ```sudo ros engine switch docker-1.11.2``` on all machines. I attempted to setup a Convoy NFS cluster again. Ended up with the same error.

[code]

[2016-11-03 03:49] aemneina commented on #6419
@Chris7 can you share the output of the docker logs? Sounds like docker could have crashed on or before this point.

[2016-11-03 03:51] Chris7 commented on #6419
Could you be more specific to what logs you are referring to?

[2016-11-03 03:51] aemneina commented on #6417
@AlexGrs can you share the output from the etcd logs?

[2016-11-03 04:48] cloudnautique commented on #6467
This update has been released.

[2016-11-03 04:48] #6467 closed

[2016-11-03 05:16] StrongMonkey commented on #6498
it is a bug in host-api @deniseschannon

[2016-11-03 05:36] aemneina commented on #6419
Looking for the docker daemon log file output, possibly here: '/var/log/upstart/docker.log'

[2016-11-03 05:54] kaos commented on #6292
Looks promising! :D

tors 3 nov. 2016 kl. 04:18 skrev Sangeetha Hariharah <
notifications@github.com>:

[2016-11-03 05:56] digitalLumberjack commented on #6453
@tfiduccia my situation is a little bit idfferent as i scale only one service in my stack, but i create many stacks :

Here is a test on rancher 1.1.0 :

docker-compose.yml:
[code]

rancher-compose.yml:
[code]

for i in {1..10}; do rancher up -d -s schedule-$i; done

**On the 1.1.0 version of rancher (that is one of my both environments) it works as intended.**

I'll keep you in touch when i can t

[2016-11-03 06:26] StrongMonkey commented on #6498
I forget that now we have rancher-agent showing in our UI, Can you test whether the system container(rancher/agent) has an assigned id now?

[2016-11-03 07:13] StrongMonkey commented on #6498
@westlywright nvm, it is still a bug. I opened a PR

[2016-11-03 07:41] vincent99 commented on #6424
Updated to find stack with the appropriate templateBase+name instead of more specific exact `externalId` (also Mesos and Swarm)

[2016-11-03 07:44] vincent99 commented on #6482
This is the style for `loading`, which gets put on broken links.. they weren't shown before because I don't know what namespace to link to yet, so I'm going back to that, with some improvement..

![image](https://cloud.githubusercontent.com/assets/753917/19958710/a73c74f6-a15e-11e6-8c89-025380bf73ac.png)

[2016-11-03 10:46] hholst80 commented on #4543
I still have this issue?

[code]

[2016-11-03 10:49] janeczku commented on #6273
@ChromoX which version of RancherOS are you on?

[2016-11-03 11:51] miv opened #6500 "ExternalDNS failing to operate on 1.2.0-pre4-rc6"
*Describe your issue here*

ExternalDns (route53) service failing to enumerate stacks after upgrading to rancher 1.2.0-pre4-rc6 from 1.2.0-pre3

[code]

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.0-pre4-rc6` Cattle: `v0.171.0` UI: `v1.2.19` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`stack.index`|

[2016-11-03 12:31] vmalaga commented on #1819
I am seeing a lot of this messages  on rancher v1.1.4, but this issue was closed and also the one mark as duplicate

[2016-11-03 13:03] MihaiAnei commented on #4451
This might be fixed by:
https://github.com/kubernetes/heapster/pull/1206

[2016-11-03 14:43] jmatsushita opened #6501 "convoy-agent with devicemapper"
Hi there,

I'd like to setup my hosts with convoy using devicemapper and it would be nice if convoy-agent supported it to avoid having to setup a convoy daemon on the host and maybe get access to the storage pool management too.

Cheers,

Jun

[2016-11-03 15:18] ChromoX commented on #6273
Rancher v1.1.4
Rancher Agent v1.0.2
Agent Instance v0.8.3

[2016-11-03 15:37] vanackej commented on #2372
+1

[2016-11-03 16:28] janeczku commented on #6273
@ChromoX RancherOS version?

[2016-11-03 16:48] alena1108 commented on #6464
@soumyalj this is not how it is supposed to work. For ssl, please use https.port, not http.port. If it respected http.port before, it was a bug.

[2016-11-03 17:00] galal-hussein commented on #6120
@wlan0 Testing on master and rc6 builds still failing:

[code]

[2016-11-03 17:19] vincent99 commented on #6481
See yes, edit not supported.  The template is only used once on creation of the environment.

![image](https://cloud.githubusercontent.com/assets/753917/19976949/06320610-a1af-11e6-9965-dbbe3046d90d.png)

[2016-11-03 18:03] steveabbitt commented on #6375
This solution did not fix the issue. Still having the same problem.

[2016-11-03 18:06] cjellick commented on #6189
@will-chan we talked through this with @sangeethah and @ibuildthecloud. This only happened most recently when the number of containers were really high and the rancher/server host was underpowered.

Can we move out of 1.2 and revisit when/if @cloudnautique does proper scale testing?

[2016-11-03 18:27] soumyalj commented on #6464
@alena1108 : For SSL we are using port 443. But the port 80 is what is overridden using http.port.
We are not able to access targets using http.port.

[2016-11-03 18:48] aemneina commented on #6375
@steveabbitt can you share your nginx configuration? how are you configuring the backend services, through IP addresses?

[2016-11-03 18:54] aemneina commented on #6469
@natami What does the backend configuration look like?

[2016-11-03 18:56] natami commented on #6469
The backend is a simple CoreOs on bare-metal, running the following docker:

sudo docker run -d -v /mnt/rancher:/var/lib/mysql --restart=unless-stopped -p 5222:8080 --name=rancher-server rancher/rancher-server

[2016-11-03 19:07] Bekt commented on #6209
Is there any plans to fix this on 1.3?

[2016-11-03 19:10] steveabbitt commented on #6375
The backend services are configured using the Docker container names. I have about 20 nearly identical container apps that are configured. The following nginx.conf is pared down to only show one of them. I have also tried the 'resolver' line in the main http block with no success.

[code]

[2016-11-03 19:11] nrvale0 opened #6502 "Condtional logic and other niceties for rancher-compose.yml"
This is a feature request relayed from customer discussion at NYC Container Days...

Customer would like some sort of conditional logic support in rancher-compose.yml such that options can be enabled/disabled/hidden/exposed based on user input to other options.

Ex: "If I uncheck the box for 'Encrypt' I would like the drop-down for TSL certificate to be grayed-put/hiddden.

[2016-11-03 19:17] sangeethah commented on #2446
Tested with build from master:

Hostname routing rules for load balancers are now available through the metadata service as part of lb_Config object under port_rules:

[code]

[2016-11-03 19:17] #2446 closed

[2016-11-03 19:21] aemneina commented on #6469
can you hit the rancher server directly with the host ip, on port 5222?

[2016-11-03 19:22] natami commented on #6469
Yes, i can.

[2016-11-03 19:26] nrvale0 opened #6503 "Configure web UI background as a visual reminder of environment"
Relayed user feature request from NYC Container Days...

"We have 10 different environments, from devtest to UAT to prod, and we would like a visual reminder of which environment we are logged into to prevent accidentally mucking up something in the wrong environment. I think the easiest and most difficult to miss reminder could come via the ability to configure an environment to have a specific b

[2016-11-03 19:35] ChromoX commented on #6273
RancherOS: v0.7.0-rc7

[2016-11-03 20:22] deniseschannon commented on #6209
@Bekt We will only be support k8s 1.4 in rancher 1.2.

[2016-11-03 20:44] pulberg commented on #6503
This would be great, I have been asked several times about "branding" environments for specific teams.

[2016-11-03 21:26] ebr commented on #6375
@steveabbitt You should read up on how Nginx caches the `upstream` directive.

https://www.ruby-forum.com/topic/4407628
https://github.com/GUI/nginx-upstream-dynamic-servers (see useful links at the end of README)
https://www.nginx.com/blog/dns-service-discovery-nginx-plus/

Dynamic resolution of upstreams is only available in Nginx Plus 💰 💰 . The default behaviour is to resolve any DNS names once

[2016-11-03 22:14] Bekt commented on #6209
Ah, interesting, good to know!

[2016-11-03 22:29] Bekt commented on #6294
@lilnate22, how did you hook up your kubeadm generated cluster into Rancher?

[2016-11-03 22:31] sangeethah commented on #2414
Tested with latest build from master:

Within the LB container (where haproxy process is running) , following haproxy logs are available.

[code]

@ndelitski , logs for haproxy containers will be available in 1.2 release.

[2016-11-03 22:31] #2414 closed

[2016-11-03 23:09] sangeethah commented on #3722
Tested with latest build from master:

Currently we have the a ability to set source port and target port for each defined port rules.

A sample rancher yml file
[code]
[code]

[2016-11-03 23:09] #3722 closed

[2016-11-03 23:33] sangeethah opened #6504 "All Info level logging gets reported in "Standard Error" tab and error logs are also reported as level=info"
Rancher server - Build from master

Steps to reproduce the problem:
Create a lb service by providing an invalid value in config parameter.
When haproxy fails to load the config , Lb container's logs have error messages relating to this.

The error messages are also logged with log level info.
Also all Info level logging gets reported in "Standard Error" tab.

<img width="996" alt="screen shot 2016

[2016-11-03 23:38] sangeethah commented on #5584
Tested with latest build from master:
Lb container's logs show haproxy error messages now (Tested by starting a LB container with invalid values in config parameter) .

There is an issue relating to log level not being correct which is tracked in https://github.com/rancher/rancher/issues/6504.

@EugenMayer , this fix will be available in 1.2 release.

[2016-11-03 23:38] #5584 closed

[2016-11-03 23:50] vincent99 commented on #6495
This happens if the catalog template referenced in the project template isn't found... changed to show Unknown and the stack name (which is sorta like the template name...)

[2016-11-04 01:58] imikushin commented on #6301
Looks like a duplicate of #5948. When #5948 is implemented, there will be an option to use KubeDNS (aka SkyDNS) vs Rancher DNS in Kubernetes environments.

[2016-11-04 02:20] sangeethah opened #6505 "Priority not honored when programming backends in haproxy"
Rancher Version: Build from master

Steps to reproduce the problem:
Create Lb with following port_rules with priority.

[code]
when access "/service1.htm" using  header "abc.domain.com", we are redirected to serviceId 1 instead of serviceId 0.

haproxy.config
[code]

[2016-11-04 09:06] roffe opened #6506 "Chrome browser freezes when viewing container log with large output"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
CoreOS 1122.3 in OpenStack

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher-HA 3 nodes, Percona XtraDB cluster with 3 nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Swarm

**Steps to Reproduce:**
Launch nginx container,

[2016-11-04 09:31] svenluzar commented on #2143
+1

[2016-11-04 10:02] pasientskyhosting-docker-hub commented on #6506
I suggest to show only the last 300 log entires, and an option to show "more" / download the log file.

[2016-11-04 10:02] woopstar commented on #6506
I suggest to show only the last 300 log entires, and an option to show "more" / download the log file.

[2016-11-04 15:18] aemneina commented on #3477
Flowman, did you ever get this solved? If you still face this issue, please reopen the issue.

[2016-11-04 15:18] #3477 closed

[2016-11-04 15:22] aemneina commented on #3793
The comment from shipway seems to suggest this is docker version related (at least on coreos). If this issue still persists, feel free to reopen issue.

[2016-11-04 15:22] #3793 closed

[2016-11-04 15:34] aemneina commented on #4285
hey @hendryluk can you try changing out the nic driver for the VM? I'll close this out, feel free to reopen if you think this is a rancher specific issue.

[2016-11-04 15:34] #4285 closed

[2016-11-04 15:37] aemneina commented on #4517
Closing this out as it sounds like you rooted the problem to a faulty container.

[2016-11-04 15:37] #4517 closed

[2016-11-04 15:46] aemneina commented on #5003
Sounds like the initial issue was solved, as well as backpack question. Feel free to open a new issue if there are any other questions.

[2016-11-04 15:46] #5003 closed

[2016-11-04 15:47] cjellick commented on #6499
I'm closing as a dupe of https://github.com/rancher/rancher/issues/6475
I realize they are slightly different use cases, but I dont think they warrant separate issues. I'll make a comment in that one explaining this scenario as well.

[2016-11-04 15:47] #6499 closed

[2016-11-04 15:47] cjellick commented on #6475
Per the reference issue #6499, you can also see this behavior if the validation times out.

[2016-11-04 15:48] cjellick opened #6507 "Catalog refresh called on (almost?) every get /catalog"
please add details

[2016-11-04 15:49] aemneina commented on #5246
Closing the issue due to inactivity.

[2016-11-04 15:49] #5246 closed

[2016-11-04 15:51] aemneina commented on #5290
Closing due to inactivity. Please file new issues if you come across problems.

[2016-11-04 15:51] #5290 closed

[2016-11-04 15:52] aemneina commented on #5326
closing issue... please file a new one if you encounter this on the latest or latest stable.

[2016-11-04 15:52] #5326 closed

[2016-11-04 15:59] aemneina commented on #5348
Please reopen if you're still facing this issue. Doing some house keeping on older issues.

[2016-11-04 15:59] #5348 closed

[2016-11-04 17:06] imikushin commented on #6338
Looks like this is no longer an issue:

I've successfully launched Kubernetes 1.4.4-rancher1 on Rancher-v1.2-pre4-rc6 on RancherOS-v0.7.0 on AWS.

[2016-11-04 17:07] vincent99 commented on #4532
`X-Api-Project-Id` was added for the UI, which no longer uses it, so yes you should expect it to go away at some point (though it's still in 1.2).

`NewRancherClient()` takes in `ClientOpts`, which has a `Url`, which can point to the schemas for a particular environment (http://host:8080/v1/projects/1a5/schemas) instead of the root.  You need to instantiate a separate client object for each enviro

[2016-11-04 17:07] #4532 closed

[2016-11-04 17:08] deniseschannon commented on #6338
Based on talking to @imikushin and since we are only supporting k8s 1.4.x in Rancher 1.2, I'll close this issue.

[2016-11-04 17:08] #6338 closed

[2016-11-04 17:14] deniseschannon commented on #6453
@tfiduccia Could you retest as @cjellick had addressed the spread issue in the new scheduler?

@digitalLumberjack We are introducing a new scheduler in 1.2.0, which isn't in the 1.2.0-pre3 releases.

[2016-11-04 17:17] deniseschannon commented on #6332
Address in the 1.2 branch of rancher-catalog.

[2016-11-04 17:26] wlan0 commented on #5591
moving to 1.3, 'cos no time

[2016-11-04 17:27] sangeethah commented on #6365
@prachi , The same issue is also seen when k8s automation script tries to start a K8s environment with client/admin client:
After using the following create_stack api (with system=True) , the system stack still gets created with system set to "false" and k8s system stack is not able to start successfully.

[code]

[2016-11-04 17:27] wlan0 commented on #5607
moving to 1.3, 'cos no time

[2016-11-04 17:27] sangeethah commented on #6228
blocked on https://github.com/rancher/rancher/issues/6365

[2016-11-04 17:33] sorenroug opened #6508 "Cancelling an upgrade terminates the working container"
**Rancher Version:** 1.1.4
**Docker Version:** 1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):** CentOS 7 in cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node Rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle
**Steps to Reproduce:**
The issue occurs when the upgrade strategy is to start first, and the im

[2016-11-04 17:47] alena1108 commented on #6300
stack name for kubernetes should be kubernetes. We rely on this name everywhere in the code, not just in microservices.

[2016-11-04 17:47] #6300 closed

[2016-11-04 17:49] nicolinux opened #6509 "Service hangs - Activating (Reconciling)"
I am testing a _simple_ stack with only one service which uses the convoy-nfs driver. Everything is set up, there are no errors except that I can't start the service...

I the logs I see:
2016-11-04 17:48:10,882 ERROR [:] [] [] [] [ecutorService-8] [i.c.p.e.e.i.ProcessEventListenerImpl] Unknown exception running process [instance.purge:1882] on [25] io.cattle.platform.eventing.exception.EventExecu

[2016-11-04 17:54] imikushin commented on #4397
This should be resolved by using kube-dns: #5948

[2016-11-04 17:54] alena1108 commented on #4395
Should be fixed sky dns support, sky dns should support this resolution. @imikushin could you test it as a part of sky dns test?

[2016-11-04 18:06] mrajashree commented on #6507
Hitting any template to load template details from UI causes `INFO[2016-11-04T10:57:10-07:00] Refresh for this catalog community is already in process, skipping` to be seen in logs, since refreshCatalog was being called.
Loading template details should not call refreshCatalog. It causes delay in loading template details because of the `pullCatalog()` call in `refreshCatalog()`. This is not expecte

[2016-11-04 18:15] leodotcloud opened #6510 "Investigate if rancher-net's MetadataStore needs multithreading support"
Currently the metadatastore doesn't have any kind of thread safe support, need to investigate if there is any need going forward.

[2016-11-04 18:17] leodotcloud opened #6511 "Remove "/16" assumption in the rancher-net's MetadataStore"
Currently there is an assumption of "/16" for the IP addresses in the rancher-net's MetadataStore which reading information from metadata. Need to get rid of this hard coding and read the subnet information also from the metadata. This is possible once the new infra code is stabilized.

[2016-11-04 18:48] donnlee commented on #4411
Me too!

I too had to give up on Rancher because the environment seemed to decay and get into an unrepairable state.  Gave up after rebuilding my cluster 3 times.

Moved to kubernetes and it has been rock-solid.  Cluster health graphs (eg. disk, memory, cpu, etc) over MONTHS has been pleasantly stable.
Kubernetes was a pain to setup though, compared to Rancher.

I'll probably try Rancher again in

[2016-11-04 18:49] sangeethah opened #6512 "Mismatch in the way port is represented in self/service/container (hostip:port) and container/<name> (0.0.0.0: port)"
Rancher sever version - Build from master

Steps to reproduce the problem:
Create a service with port.
Access the port information using metadata calls to  self/service/container and containers/<name>.

There is a mismatch in the way port is represented in self/service/container (hostip:port) and container/<name> (0.0.0.0: port)

```u'ports': [u'104.198.187.17:6002:22/tcp']```
```u'ports': [u'0.0.

[2016-11-04 18:49] abc34 commented on #6375
Add [https://tenzer.dk/nginx-with-dynamic-upstreams/](url)

[2016-11-04 18:50] aemneina commented on #5429
hey @defunctzombie I'll close this out and if you hit host related issues, can you file a new issue? I know this is a huge area of improvement for rancher... so you shouldnt see anything like this from 1.2 onwards.

[2016-11-04 18:50] #5429 closed

[2016-11-04 18:50] deniseschannon commented on #6508
When you are in "Cancelled-Upgrade" state, the behavior is not intuitive. You actually need to rollback to go back to your original service. Finish Upgrade goes to your new service.

This has already been fixed in our next major release 1.2 where in "Cancelled-Upgrade" state, you only have the option to rollback.

[2016-11-04 18:50] #6508 closed

[2016-11-04 18:50] aemneina commented on #5354
closing this issue, if you see this in 1.2 onwards, can you file a new issue or reopen this one @johnrengelman ?

[2016-11-04 18:50] #5354 closed

[2016-11-04 19:09] vincent99 commented on #5443
![image](https://cloud.githubusercontent.com/assets/753917/20018995/76d426e0-a287-11e6-88fb-6d5f63ce5df6.png)

[2016-11-04 19:13] beatcracker opened #6513 "Error when trying to view Storage details for host"
### Details
- Rancher Version: **v1.1.4**
- Cattle version: **v0.165.8.4**
- User Interface version: **v1.1.14**
- Docker version:
[code]
- OS and where are the hosts located: **CentOS Linux 7 Core (3.10.0-327.36.3.el7.x86_64) in Google Compute Engine VM**
- Setup Details: **Single rancher node with one host, external MySQL DB (Cloud SQL), Convoy NFS storage pool**
- Environment Type: **Cattle**

[2016-11-04 19:16] aznamier commented on #6500
Works for me on 1.2.0-pre4-rc5

[2016-11-04 19:33] beatcracker opened #6514 "Preserve folder name case when creating stack from CLI"
#### Enhancement
It would be nice if CLI preserved folder name case when creating stack. Currently, all newly created stacks are in the lowercase.

[2016-11-04 19:34] tfiduccia opened #6515 "If I finish upgrade through service, it's not reflected on stack level"
**Rancher Version:** master 11/04

**Steps to Reproduce:**
1.  Create a catalog template with multiple version & just 1 service inside it.
2.  Install the catalog item with first version
3.  Upgrade to 2nd version
4.  Instead of Finish Upgrade on stack level, do it through the service menu

**Results:** The stack stays in a "Upgraded" state even though the service is now active.
![image](https://c

[2016-11-04 20:08] galal-hussein commented on #6120
Scheduled jobs tested and worked on rc6 (rancher-catalog branch 1.2)

[code]
[code]

[2016-11-04 20:08] #6120 closed

[2016-11-04 20:13] steveabbitt commented on #6375
Thank you for all the responses. I fixed it by configuring the app containers to retain their IP addresses when upgrading/moving. Nginx can cache them all it wants now. :)

[2016-11-04 20:20] ppandy opened #6516 "Rancher Compose Unable to Replicate Web UI Load Blancer"
Rancher Version: 1.1.4
Docker Version: 1.10.3, build cb079f6-unsupported
OS Version: CentOS Linux release 7.2.1511 (Core), Bare Metal
Single Node w/ External DB
Environment Type: Cattle

Steps to Reproduce:
When deploying a multi-site host-header based LB Environment using the WebUI, everything works as expected. Reproducing with rancher-compose (v0.8.6) results in APIError: 500 Server Error, usin

[2016-11-04 20:22] ebr commented on #6375
@steveabbitt yep, that's also a solution! 😉
(although, what happens if you scale up the upstreams, and some new containers are started whose IPs nginx isn't yet aware of?)

[2016-11-04 20:30] steveabbitt commented on #6375
@ebr I thought about that, but in this particular situation that won't be an issue. Stable deploys of the existing containers are mission critical during business hours. Any additions or scaling can be done at times when brief downtime is not an issue while Nginx restarts.

[2016-11-04 20:43] aemneina commented on #5434
hey @johnrengelman looks like you've solved this, can I close it or is there something I missed.

[2016-11-04 20:46] tfiduccia commented on #6513
This is a duplicate of #5982.  This has been fixed and will be in our 1.2.0 release.

[2016-11-04 20:46] #6513 closed

[2016-11-04 20:48] tfiduccia commented on #6490
Duplicate of #6447.  Closing in favor of original bug.

[2016-11-04 20:48] #6490 closed

[2016-11-04 20:55] #5434 closed

[2016-11-04 20:56] aemneina commented on #5446
@sronsiek did you ever get to the bottom of this? Looks like a really old version of rancher being used against a more modern edition of docker. if you use rancher 1.0 (docker 1.10.x), 1.1.x rancher use (docker 1.10.x, 1.11.x). Rancher 1.2 should work well with 1.11 and 1.12 versions of docker.

[2016-11-04 20:56] #5446 closed

[2016-11-04 20:56] galal-hussein commented on #6491
Tested and worked on master image (4 Nov)

[2016-11-04 20:56] #6491 closed

[2016-11-04 20:57] deniseschannon commented on #5751
@pengjiang80 @galal-hussein  We will only support host label propagation from Rancher UI to kubernetes host, but we will not support adding labels to kubernetes hosts using kubectl and syncing to show up in the Rancher UI.

@galal-hussein It seems like there was a regression found when trying to do host label propagation when set in the Rancher UI and having it show up in the k8s hosts.

Can you v

[2016-11-04 21:00] beatcracker commented on #6513
Thanks! Not sure how I've managed to miss this issue, because I did search for this error. Probably not my day today.

[2016-11-04 21:04] mrajashree commented on #6507
https://github.com/rancher/rancher/issues/6388

[2016-11-04 21:06] mrajashree commented on #6388
Cannot be tested until the next RC

[2016-11-04 21:11] galal-hussein commented on #5751
@deniseschannon verified on rc6:

[code]
You can see foo=bar lablel which i added through Rancher UI.

[2016-11-04 21:11] #5751 closed

[2016-11-04 21:12] aemneina commented on #5464
@suizman sounds like you've root caused this to a loaded rancher server. The 1.2.0 rancher server and agents are undergoing performance enhancements so this should be addressed in 1.2.0. Closing this out

[2016-11-04 21:12] #5464 closed

[2016-11-04 21:13] aemneina commented on #5498
Closing out, if you ever get a repro with a modern version of rancher, please do reopen or file a new issue.

[2016-11-04 21:13] #5498 closed

[2016-11-04 21:14] aemneina commented on #5515
hey @rooty123 can you check with a more modern version of rancher server? If you hit it again, please do reopen or file a new issue.

[2016-11-04 21:14] #5515 closed

[2016-11-04 21:16] aemneina commented on #5525
hey @rossigee does this happen with a more modern version of rancher (1.1.4+)? If so please reopen or file a new issue.

[2016-11-04 21:16] #5525 closed

[2016-11-04 21:19] aemneina commented on #5546
@aneesv are you still hitting this issue? if so feel free to reopen or create a new issue.

[2016-11-04 21:19] #5546 closed

[2016-11-04 21:19] aemneina commented on #5548
Closing due to inactivity.

[2016-11-04 21:19] #5548 closed

[2016-11-04 21:24] aemneina commented on #5534
hey @rossigee did you ever get this stabilized? the error you see usually indicates web socket proxy is hurt somehow... please reopen if youre still seeing this issue.

[2016-11-04 21:24] #5534 closed

[2016-11-04 21:24] aemneina commented on #5712
closing this out.

[2016-11-04 21:24] #5712 closed

[2016-11-04 21:27] aemneina commented on #5580
closing due to inactivity.

[2016-11-04 21:27] #5580 closed

[2016-11-04 21:28] aemneina commented on #5586
@Dreampie did you ever solve this? If not feel free to reopen.

[2016-11-04 21:28] #5586 closed

[2016-11-04 21:29] xinity opened #6517 "[UI] french translation too formal :("
taking a closer look at latest french translation of rancher.
i've spotted many translations which are too formal or even worse google translating.
that's somehow the weak spot of crowdin i think.

How can we update the french translation to make it more accurate and less formal and make these changes persistent ?

i'd be happy to give another hand on this matter :)

[2016-11-04 21:32] aemneina commented on #5609
closing issue.

[2016-11-04 21:32] #5609 closed

[2016-11-04 21:33] aemneina commented on #5623
closing due to inactivity.

[2016-11-04 21:33] #5623 closed

[2016-11-04 21:35] sangeethah commented on #6276
Tested with latest build from master:

Deploy and delete few services.
Wait for 5 mts.
set main_tables.purge.after.seconds to 5mts and restarted rancher server.

When TableCleanup is run, I dont see any FK exception in the logs. But I dont see entries that are in "removed"/"purged" state in instance/service/service_index/environment tables being cleaned up.

[code]
cattle-debug logs:

[code]

[2016-11-04 21:36] aemneina commented on #5625
hey @mandrean did you manage to get to the bottom of this? going to close this, feel free to reopen.

[2016-11-04 21:36] #5625 closed

[2016-11-04 21:37] #5706 closed

[2016-11-04 21:37] aemneina commented on #5704
closing due to inactivity.

[2016-11-04 21:37] #5704 closed

[2016-11-04 21:37] aemneina commented on #5724
closing due to inactivity.

[2016-11-04 21:37] #5724 closed

[2016-11-04 21:41] aemneina commented on #5694
closing due to inactivity.

[2016-11-04 21:41] #5694 closed

[2016-11-04 21:42] aemneina commented on #5652
closing due to inactivity.

[2016-11-04 21:42] #5652 closed

[2016-11-04 21:58] soumyalj opened #6518 "Rancher CLI : Cannot create a host with a specific docker version using CLI"
**Rancher Version:**1.2.0-pre4-rc6

**Rancher CLI Version:** v0.3.0-rc3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Create a cattle environment
2. Using rancher CLI, add a Digit

[2016-11-04 22:22] sangeethah opened #6519 "Suppress io.rancher.container.create_agent and io.rancher.container.agent.role in generated config for LB services."
Rancher server version - Build from master

Steps to reproduce the problem:
Create an Lb service and get the generated config using "View config" option on the stack.

Generated config has the following 2 labels , which can be suppressed.

[code]
[code]

[2016-11-04 22:29] soumyalj opened #6520 "Rancher CLI : Inspecting a newly created environment by name is not successful"
Rancher Version:v1.2.0-pre4-rc6

Rancher CLI version: v0.3.0-rc3

OS and where are the hosts located? (cloud, bare metal, etc):: Ubuntu, Cloud

Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

Steps to Reproduce:
1. Create a rancher cli setup and use account API keys
2. Create a new environment using:
[code]
3. Inspect the newly created environment by name.
[code]
Note:
Inspecting the ne

[2016-11-04 22:48] vincent99 commented on #6445
`linkedServices` isn't pulling in the name of the linked service as the default name when no "as name" is provided, so they all get mapped to the empty-string key and only the last one in wins:

[code]

Produces

[code]

[2016-11-04 22:51] vincent99 commented on #6384
The catalog also includes `infra` services that an environment owner should be allowed to deploy regardless of what orchestration is used for that environment.

[2016-11-04 22:53] vincent99 commented on #6479
Selects the first project template by default now instead of none.

[2016-11-04 22:57] dextervip commented on #4680
+1

[2016-11-04 23:05] vincent99 commented on #6008
UI just reports what it sees...

[2016-11-04 23:07] vincent99 commented on #6083
@tfiduccia I think these have all been addressed in other issues; leaving the ones that are unchecked that way so you know

[2016-11-04 23:07] aemneina commented on #6375
awesome, closing this one out.

[2016-11-04 23:07] #6375 closed

[2016-11-04 23:09] aemneina commented on #6008
I'll close this and test HA again. Will reopen if I see this and make sure there's a management stack created. Understandably this is NOT a UI issue.

[2016-11-04 23:09] #6008 closed

[2016-11-04 23:16] vincent99 commented on #6426
I think this is the same as https://github.com/rancher/rancher/issues/6498 , stats coming back with no `id`.

[2016-11-04 23:17] aemneina commented on #5118
This happens in older versions... does `select resource_id, start_time, exit_reason from process_instance where process_name='agent.reconnect' and end_time is null and resource_id in (select id from agent where id not in (select agent_id from host) and removed is null and state='reconnecting');` return anything interesting? If so you could remove those hosts with an api call....

[2016-11-04 23:25] aemneina commented on #5644
@schuylr have you root caused the issue or still seeing this with modern versions of rancher? Looking to do a little housekeeping here.

[2016-11-04 23:28] aemneina commented on #5632
I dont think there are any guidelines at this point, and that will improve v1.2.0 so not necessarily worth doing now. Is it fair to say youre looking for a deployment/environment sizing guideline?
@demarant @onehao

[2016-11-04 23:29] aemneina commented on #5631
closing this due to inactivity. Feel free to reopen with more information or create a new issue.

[2016-11-04 23:29] #5631 closed

[2016-11-04 23:30] aemneina commented on #5590
Closing in favor of 1.2 docker swarm feature. If you guys find issues with that please create a new issue.

[2016-11-04 23:30] #5590 closed

[2016-11-04 23:32] aemneina commented on #5873
@lkm have you managed to overcome this issue. There were issues with the host(agent) state machine where they become inconsistent. I'd normally advise to remove the host from rancher, and re-add a new one.

[2016-11-04 23:34] aemneina commented on #5839
@alexander-svendsen did you manage to overcome this issue?

[2016-11-04 23:38] vincent99 commented on #5043
Added to validation

[2016-11-04 23:54] vincent99 commented on #6517
Since we don't generally speak the languages and they come from a smallish number of people we more or less just accept anything put in.  Changes made on CrowdIn are periodically synched with the UI repo.  With enough people watching a particular language I think there are voting and trusted maintainers and other sorts of tools that become useful.

So you can make changes and they will make their

[2016-11-05 01:05] imikushin commented on #4395
Works as expected with kube-dns

[2016-11-05 01:08] imikushin commented on #4395
The command to test with `dig`:

[code]

Note the "`_`" in `_http` and `_tcp`

[2016-11-05 01:20] rossigee commented on #5534
IIRC, this resolved itself during one of the previous 1.1 upgrades.

[2016-11-05 03:17] aemneina commented on #5725
@ddelnano please reopen if you can provide logs and versions on a modern version of rancher.

[2016-11-05 03:17] #5725 closed

[2016-11-05 03:23] aemneina commented on #5782
http://docs.rancher.com/rancher/v1.2/en/cattle/upgrading/#options-with-the-upgrade-command

[2016-11-05 03:23] #5782 closed

[2016-11-05 05:13] sangeethah opened #6521 "Not able to access exposed ports of containers."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a container with - sangeetha/testnewhostrouting ( image built from nginx) with port "8888:80".

Once the container is started , I am not able to access port 8888 of the host on which the container is running.

[code]

Following rules are present in the host for port 8888:

[code]

[2016-11-05 05:23] digitalLumberjack commented on #6453
I tested on 1.2.0-pre3-rc1 with the simple docker-compose.yml of my previous post. It works as intended as i had 4 stacks on one host and 6 on the other.

So i don't know why my specific stack (that starts only one service too) doesn't react the same, because I started 4 stacks of this just after, and all containers were put on the same host.

Maybe i'll test with the new scheduler when it's out :

[2016-11-05 18:42] alexander-svendsen commented on #5839
nope

[2016-11-05 19:36] aemneina commented on #5750
@drdaeman in 1.2.0, I believe you'll be able to deploy a metadata service that listens on a public port, and query it externally. Closing this ticket out.

[2016-11-05 19:36] #5750 closed

[2016-11-05 19:58] #5736 closed

[2016-11-05 20:21] aemneina commented on #5753
I believe the fact this is logged doesnt constitute an issue that prevents rancher from running. Closing this out.

[2016-11-05 20:21] #5753 closed

[2016-11-05 21:36] goluzdravi opened #6522 "Missing Required","message":null,"detail":null,"field Name":"port""
*Describe your issue here*

I`m unable to create a new service over rancher API with error:
Missing Required","message":null,"detail":null,"field Name":"port"
There is no such field when I access API over UI and go to create service. There is no such field in generated request

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`Disabled`|
|

[2016-11-06 01:07] aemneina commented on #5752
@DxCx we emulate links in rancher, we dont use docker links. I believe those are deprecated, so docker plans on dropping them as well.

[2016-11-06 01:07] #5752 closed

[2016-11-06 01:08] aemneina commented on #5754
@lukaskroepfl we're only certified against the innodb mysql engine.

[2016-11-06 01:08] #5754 closed

[2016-11-06 01:25] aemneina commented on #5761
containers are meant to be immutable, so this usecase seems very niche. Your containers should be able to resolve each other by service-name as a hostname.

[2016-11-06 01:25] #5761 closed

[2016-11-06 01:37] aemneina commented on #5766
@ahansson89 check out the following link: http://docs.rancher.com/rancher/v1.2/en/cattle/adding-load-balancers/ the docker/rancher-compose.yml files provide a good example.

[2016-11-06 01:37] #5766 closed

[2016-11-06 05:50] aemneina commented on #5839
Can you share the output from:

`select resource_id, start_time, exit_reason from process_instance where process_name='agent.reconnect' and end_time is null and resource_id in (select id from agent where id not in (select agent_id from host) and removed is null and state='removing');`

[2016-11-06 06:07] jszaszvari commented on #2733
Still unscheduled :(  Is there any work around for getting a config into a container then at startup without having to rebuild the whole thing?

[2016-11-06 07:01] pe2mbs opened #6523 "Feature request: show detail progress on building a stack from docker-compose."
Currently only some status message is shown, output of the docker-compose should be possible to show on the web UI.

[2016-11-06 07:05] pe2mbs opened #6524 "Docker compose version 2 not supported."
**Rancher Version:**
   Rancher	v1.1.4
   Cattle	v0.165.8.4
   User Interface	v1.1.14
   Rancher Compose	v0.8.6

**Docker Version:**
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 21:44:32 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:

[2016-11-06 07:32] saphoooo opened #6525 "Unsupported load balancer affinity: ClientIP"
**Rancher Version:**
rancher/server:v1.2.0-pre4-rc6
**Docker Version:**
Docker version 1.12.1, build 23cf638
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS v0.7.0 on AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
K8s 1.4
**Steps to Reproduce:**
creat

[2016-11-06 09:25] demarant commented on #5349
@schuylr
thank you! I managed to remove all the agent.reconnect that were stuck for months with the method via the API... that worked for us. Now the server is able to breath again.
it doesn't work for other processes though, like volume.activate ... but i think i'll create another issue for that.

[2016-11-06 09:52] demarant opened #6526 "volume.activate processes stuck for 6 months, rancher must not try forever on very old processes"
**Rancher Version**: 1.1.4
**Docker Version**: 1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc)**:
"kernelVersion": "3.10.0-327.13.1.el7.x86_64",
"operatingSystem": "CentOS Linux 7 (Core)",
on Openstack VMs
**Setup Details**: Rancher server on one host and external mysql on another host.
**Environment Type**: Cattle

**issue**:
after months of running rancher we have seen proc

[2016-11-06 17:16] aemneina commented on #5216
Closing this issue out.

[2016-11-06 17:16] #5216 closed

[2016-11-06 17:53] deniseschannon commented on #6524
This is a duplicate issue: https://github.com/rancher/rancher/issues/3973

Support for services and volumes will be added in 1.2.0.

[2016-11-06 17:53] #6524 closed

[2016-11-06 18:01] sangeethah opened #6527 "Service activation (with scale 2) takes more than 2 mts."
Rancher server version: Build from master

Default env has scheduler service enabled.

When running automation runs , tests are timing out (after waiting for 2 mts) waiting for services to get activated:

sevice.logs:

[code]

snippet of tests that fails:

[code]

[2016-11-06 19:44] DanielDent commented on #5118
@aemneina thanks for the hint. It didn't return anything. I poked around in the database and found a record in the agent table for an agent in the deactivating state. In the hosts table, there is no corresponding host which references that agent id.

I'm now wondering if this might be related to a host which had lost the ability to communicate with other hosts over the rancher network. My solution

[2016-11-06 21:25] sangeethah opened #6528 "Not able to access exposed ports once the service is restarted."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a service with port.
Access on the exposed port works as expected.
Restart service.
After service restart , not able to access the exposed port works anymore.

The same behavior is also noted
1. When environment is deactivate and activated.
2. When container of the service is stopped (and it gets restarted).

Following are

[2016-11-06 22:09] sangeethah opened #6529 "Accessing service Alias from a service with host network does not resolve to ip address of the containers that are targets of service Alias."
Rancher server version - Build from master

Steps to reproduce the problem:
Create 2 services (cs1,cs2)  with "host" network / "managed" network.
Create a service alias - WEB1 with the above 2 targets.
Create another service - S1 with "host" network and link it to this service alias.

From containers of service S1 , ```dig WEB1 +short``` does not return ip address of containers from cs1 and cs2.

[2016-11-06 22:18] sangeethah commented on #6529
Following automation runs fails because of this issue:
test_dns_svc_hostnetwork_cosumed_service_managednetwork
test_dns_svc_hostnetwork_cosumed_service_hostnetwork

[2016-11-06 22:37] sangeethah opened #6530 "External service pointing to cname does not resolve."
Rancher Version: Build from master
Steps to reproduce the problem:
Create an external service pointing to "google.com".
Create a service with link to this external service.
From within this container , try to ping external service name.
This does not resolve to google.com

Automated test that fails:
test_extservice_with_cname

[2016-11-06 23:24] sangeethah commented on #6459
Tested with latest build from master (Nov 6):

When lb instance is restarted , it get stopped and started. But after it starts , it gets stuck in "Initializing" state forever.

Following message seen in logs repeatedly.

[code]

[2016-11-06 23:25] sangeethah commented on #6449
Tested with latest build from master (Nov 6):

When lb instance is stopped/restarted ,it gets stuck in "Initializing" state forever.

Following message seen in logs repeatedly.

[code]

[2016-11-07 02:16] sangeethah opened #6531 "After service with sidekick is deactivated and activated back , primary containers are not able to access sidekick containers."
Rancher server version - Build form master

Steps to reproduce the problem:
Create a service with sidekick.
Deactivate and activate the service.
After this ,  primary containers are not able to access sidekick containers by using the sidekick service name. Not able to reach the sidekick containers using their ip address.

[code]

[2016-11-07 02:42] sangeethah opened #6532 "DNS resolution takes longer than 5 secs."
Rancher Version: Build from master

Steps to reproduce the problem:
Create couple of services (s1 and s2) and have a DNS Alias created with these 2 services as targets.
From containers of another service , try to access the DNS alias name.
DNS resolution for the DNS alias name to work takes more than 5 secs.

When services (s1/s2) get deactivated and activated , for the changes to be reflected on

[2016-11-07 04:53] tfiduccia commented on #5043
Version - master 11/6
Verified fixed

[2016-11-07 04:53] #5043 closed

[2016-11-07 05:44] tfiduccia commented on #4941
Version - master 11/06
Verified fixed

[2016-11-07 05:44] #4941 closed

[2016-11-07 05:48] tfiduccia commented on #4810
Version - master 11/06
Verified fixed

[2016-11-07 05:48] #4810 closed

[2016-11-07 05:54] tfiduccia commented on #6481
Version - master 11/06
Verified fixed

[2016-11-07 05:54] #6481 closed

[2016-11-07 05:58] tfiduccia commented on #6485
Version - master 11/06
Verified fixed

[2016-11-07 05:58] #6485 closed

[2016-11-07 06:00] tfiduccia commented on #6480
Version - master 11/06

[2016-11-07 06:00] #6480 closed

[2016-11-07 06:01] tfiduccia commented on #6479
Version - master 11/06
Verified fixed

[2016-11-07 06:01] #6479 closed

[2016-11-07 06:03] tfiduccia commented on #6426
Version - master 11/06
Verified fixed

[2016-11-07 06:03] #6426 closed

[2016-11-07 06:04] tfiduccia commented on #6083
Version - master 11/06
Verified fixed

[2016-11-07 06:04] #6083 closed

[2016-11-07 06:10] tfiduccia commented on #5850
Version - master 11/06
Verified fixed

[2016-11-07 06:10] #5850 closed

[2016-11-07 06:12] tfiduccia opened #6533 "Can't edit service"
**Rancher Version:** master 11/06

**Steps to Reproduce:**
1.  Create a service
2.  Edit the service

**Results:** Nothing happens

**Expected:** Should be able to edit the container

[2016-11-07 06:25] tfiduccia opened #6534 "On rollback, load balancers stuck in Reinitializing"
**Rancher Version:** master 11/06

**Steps to Reproduce:**
1.  Create a load balancer
2.  Upgrade the load balancer by changing the port
3.  Rollback the upgrade

**Results:** Container stuck in Reinitializing which is causing Service to stay in initializing

**Expected:**  Should be able to roll them back

[2016-11-07 06:27] tfiduccia commented on #5443
Version - master 11/06
Size is dependent on size of screen now.
Verified fixed

[2016-11-07 06:27] #5443 closed

[2016-11-07 06:29] tfiduccia commented on #5621
@kaos
This is resolved in 1.2
Version - master 11/06
Verified fixed

[2016-11-07 06:29] #5621 closed

[2016-11-07 06:34] tfiduccia opened #6535 "Retain IP does not work on rollback"
**Rancher Version:** master 11/06

**Steps to Reproduce:**
1.  Create a service where retainIP is on
2.  Upgrade the service
3.  Rollback the service

**Results:** The IP of the original container changes on restart.  Looks like the original container is started back up before the new one is stopped.  Which is causing the new IP.

**Expected:**  The IP should not change.  Should remove new contain

[2016-11-07 06:35] tfiduccia commented on #3161
Version - master 11/06
Verified upgrade is available.

[2016-11-07 06:35] #3161 closed

[2016-11-07 06:36] tfiduccia commented on #5642
Version - master 11/06

[2016-11-07 06:36] #5642 closed

[2016-11-07 06:37] tfiduccia commented on #5720
Version - master 11/06
Verified fixed

[2016-11-07 06:37] #5720 closed

[2016-11-07 06:46] tfiduccia commented on #6392
Version - master 11/06
Verified fixed

[2016-11-07 06:46] #6392 closed

[2016-11-07 06:52] tfiduccia commented on #6533
Vincent fixed this

[2016-11-07 06:52] #6533 closed

[2016-11-07 08:41] lkm commented on #5873
@aemneina Thanks for getting back to me. No, still happens for time to time, now I just edit the database manually to fix it (as described). Removing and readding the server makes no difference.

[2016-11-07 08:55] kaos commented on #5443
Looks nice. Our request hosts are rather long, but I think it might show enough to make sense now..

[2016-11-07 09:01] kaos commented on #5621
Thanks! :)

[2016-11-07 10:01] fewbits commented on #5348
Sorry the late answer.

During the project, we had to switch to another datacenter. With the change, the problem went away, indicating that we were facing some environment/network issue. We were never been able to understand what the problem was, but, by now, it is not impacting us.

Thank you guys so much for helping us. And sorry again for the lack of feedback in the meantime.

[2016-11-07 11:35] saphoooo opened #6536 "Upgrade from catalog issue"
**Rancher Version:**
rancher/server:v1.2.0-pre4-rc6
**Docker Version:**
Docker version 1.12.1, build 23cf638
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS v0.7.0 on AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4 qa
**Steps to Repr

[2016-11-07 14:36] bacheson commented on #6532
I have had to run service discovery check loops on startup to get around this. Sometime with a lot of fast moving containers it can take 5 minutes for DNS to become fully available.

[2016-11-07 14:43] hooperp commented on #5395
Was there a solution to this ? I am hitting the same problem ... 3 hosts in the same subnet, all timing out. Can someone tell me, infrastructurally, what happens on HA startup - i.e. which services connect to which and the port that is used.

[2016-11-07 14:50] msmole opened #6537 "Cannot start standalone container on host (Scheduling failed)"
**Rancher Version:** v1.1.4

**Docker Version:** 1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04.3 LTS, AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** HA rancher with three nodes, with MySQL RDS DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
Today we started to experienc

[2016-11-07 15:02] akhy commented on #6047
Just ran to similar issue. I'm using `rancher-compose` from homebrew that seems incompatible with my Rancher instance.

Ends up writing a wrapper script that automatically download `rancher-compose` version used by Rancher master defined in `$RANCHER_URL`, similar to gradle wrapper (gradlew)

https://gist.github.com/akhy/1f3efcd32a8b207fa6ba300aa11a4558

[2016-11-07 15:16] ruzarowski opened #6538 "dnsupdate-rfc2136 not working on rancher 1.2.0-pre4-rc6"
**Rancher Version:**
1.2.0-pre4-rc6
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS7, VMWare VM
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher, external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Create dnsupdate-rfc2136 stack
Create a stack with loadbal

[2016-11-07 15:20] ruzarowski commented on #6538
Also, the plugin triggers an AXFR every 2 seconds, which is a little too much.
I have tested AXFR with dig from the same host, works without problems.

[2016-11-07 15:45] ruzarowski commented on #6430
When will this land in dockerhub? We are hitting this bug with dnsupdate plugin.

[2016-11-07 15:58] sangeethah commented on #6521
Tested with latest build from master.
Able to access exposed ports of containers.

[2016-11-07 15:58] #6521 closed

[2016-11-07 16:14] santagada commented on #5766
I didn't find any example of http/2 in that page, can you point paste here the part of the document? I think rancher lb uses haproxy which still has no support for http/2 (it will come with haproxy 1.7)

[2016-11-07 17:23] sangeethah opened #6539 "container's port links does not have port information."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a container with image name "nginx".
container's port links does not have port information.
Expected Result:
This should result in port links of the container having 2 ports 80 and 443.

Automation tests failing:
cattlevalidationtest.core.test_container.test_dynamic_port
cattlevalidationtest.core.test_container.test_linking

[2016-11-07 17:23] akurkin commented on #6526
experiencing the same problem, very annoying. Would love to have a button in UI to kill processes

[2016-11-07 17:43] alena1108 commented on #6449
@sangeethah different root cause this time - lb service can't access self metadata

[2016-11-07 18:27] sangeethah opened #6540 "Takes more than 5 secs to access exposed ports on services."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a service with exposed ports.
Wait for the service to be activated successfully .
After a 5 second delay, try to access the exposed ports.
Not able to reach the exposed ports on the host.
After a delay of another 5 secs , exposed ports on the host become reachable.

In Automation runs , we have been using a sleep of 5 secs

[2016-11-07 18:33] sangeethah opened #6541 "Inter host network broken for one of the hosts."
Rancher Version: Build from master

Steps to reproduce the problem:
On a fresh install  with 3 hosts , setup "library" catalog to https://github.com/rancher/rancher-catalog.git , 1.2 branch.

Wait for all the micro services to get started.
One of the health check containers are stuck in "Initializing" state forever.

Not able to ping containers (by managed ip) in this host from other hosts in the

[2016-11-07 18:35] soumyalj opened #6542 "Kubernetes agent and kubectld containers changed to re-initializing state from a running state after few hours"
**Rancher Version:**Master

**Docker Version:**1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment. Ensure ipsec, metadata, dns, healthcheck, scheduler, networkmanager microservices are enabled.
2. The setup came up successfully and creatio

[2016-11-07 18:37] sangeethah commented on #6541
Restarting all ipsec containers restores Inter host network connectivity.

[2016-11-07 18:59] aemneina commented on #5874
Looks like the doc's or the process is broken, I experienced this with an air-gapped install as well.

[2016-11-07 19:01] aemneina commented on #5873
@lkm do you remove '/var/lib/rancher' on the host before readding? that might help here.

[2016-11-07 19:01] wlan0 commented on #6542
This looks like a networking issue. @leodotcloud is investigating

[2016-11-07 19:05] aemneina commented on #5859
closing this out.

[2016-11-07 19:05] #5859 closed

[2016-11-07 19:08] sangeethah opened #6543 "Sometimes container metadata not available even after 30 sec delay."
Rancher server version - Build from master

Steps to reproduce the problem:
Create a service with scale 2.
Wait for the service to get activated.
Wait for 30 secs.
Attempt to get the metadata of container by name - http://rancher-metadata/latest/containers/<container-name>
Metatdata for this container is not avaialable.

[code]

[2016-11-07 19:09] aemneina commented on #5853
@roflmao did you ever manage to get to the bottom of this?

[2016-11-07 19:19] aemneina commented on #5841
@emilebosch have you solved this? I believe if the value is going to be input by the user launching the catalog, you'd reference it in this manner `${database_url}`. Have you taken a look at how existing catalog items are doing this, if not here's a link to the current [catalog-templates](https://github.com/rancher/community-catalog/tree/master/templates). Let me know if that helps.

[2016-11-07 19:24] aemneina commented on #5822
closing this out.

[2016-11-07 19:24] #5822 closed

[2016-11-07 19:27] aemneina commented on #5831
@OmgImAlexis have you managed to get to the bottom of this?

[2016-11-07 19:37] aemneina commented on #5798
@drdaeman have you explored the rancher-metadata service? You'd be able to query the container's info, namely the host it resides on. From there you could query the service local to your container you want to hit.

[2016-11-07 19:38] aemneina commented on #5798
currently the /16 subnet will span across hosts in an environment. there is no way to bound a segment to a host.

[2016-11-07 19:43] aemneina commented on #5795
you should be able to query the auditlogs api and filter based on eventType = api.container.restart... (something like https://RANCHER_URL/v1/auditlogs?eventType=api.container.restart. HTH

[2016-11-07 19:43] #5795 closed

[2016-11-07 19:44] aemneina commented on #5798
closing this out for housekeeping, feel free to reopen or open a new issue for more questions.

[2016-11-07 19:44] #5798 closed

[2016-11-07 19:48] deniseschannon commented on #6516
How are you confirming that it is the exact same configuration? Did you export the yaml of the stack and use that config in rancher-compose?

[2016-11-07 19:53] alena1108 commented on #6528
@ibuildthecloud caused by 10.42.x.x address change for a container on its restart. During this change, there is a split of a second when the link nic-> ip is broken. And instance doesn't get programmed to meta

[2016-11-07 19:54] ppfaWebtech commented on #6516
Hi Denise:

Yes, that's why we were so surprised when it happened. I'm in the process of creating a Vanilla Stack with public docker images, so you guys can see it in action, but that's a day or so off.

We had originally used yaml, added a few bits in the UI, then copied/pasted back to yaml to rerun, and that's when it happened. It's easy to reproduce, though. We have multiple containers using an

[2016-11-07 20:10] aemneina commented on #5794
The log window does have a scrollback buffer. If you're looking for all logs, that can be done on the host or even better using log aggregation and centralization tools like [logspout](https://github.com/gliderlabs/logspout). Hope that helps.

[2016-11-07 20:10] #5794 closed

[2016-11-07 20:31] emcniece commented on #4558
I'd appreciate this too. I don't want my Route53 zone polluted with a bunch of records for services that are only performing internal and/or non-public functions. It would also be great to be able to override the record template.

I am currently using [rancher-traefik](https://github.com/rawmind0/rancher-traefik) to manage internal routing, and [rancher/external-dns](https://github.com/rancher/ext

[2016-11-07 20:35] vincent99 commented on #5891
Thanks @blueo @rossigee @kbrownlees, that was the missing piece of info and why nobody with a normal laptop/VM could reproduce.

[2016-11-07 20:38] aemneina commented on #5951
closing this out, feel free to reopen if you still have issues...

[2016-11-07 20:38] #5951 closed

[2016-11-07 20:38] aemneina commented on #5950
closing issue.

[2016-11-07 20:38] #5950 closed

[2016-11-07 20:53] mlaccetti commented on #6209
Is there a 1.4 template that we can use?

[2016-11-07 21:04] schuylr commented on #5644
@aemneina Things look okay right now with the latest 1.2.0-pre3 but if the issue does seem to crop up I will re-open this issue for you, that way it can stay off your radar for now. Thanks!

[2016-11-07 21:04] #5644 closed

[2016-11-07 21:12] aemneina commented on #6000
closing issue due to inactivity.

[2016-11-07 21:12] #6000 closed

[2016-11-07 21:13] aemneina commented on #5943
if you guys can provide information Tani was asking for earlier, please reopen.

[2016-11-07 21:13] #5943 closed

[2016-11-07 21:17] aemneina commented on #6021
closing issue.

[2016-11-07 21:17] #6021 closed

[2016-11-07 21:18] aemneina commented on #6023
@boshido looks like docker might have crashed on your host. Have you experienced this issue recently? If so can you reopen with docker daemon log files?

[2016-11-07 21:18] #6023 closed

[2016-11-07 21:21] aemneina commented on #6020
closing this out.

[2016-11-07 21:21] #6020 closed

[2016-11-07 21:28] Bekt commented on #6209
@mlaccetti it's not stable but you can:

1) Launch the server with `rancher/server:v1.2.0-pre4-rc6`
2) Go to the Catalog settings and add the `qa` branch of `https://github.com/rancher/infra-catalog`
3) Select Kubernetes in infra catalog

[2016-11-07 21:49] sangeethah opened #6544 "Environment variables relating to exposed port and address for linked container is missing."
Rancher-server version - Build from master

Steps to reproduce the problem:
Create service linked to a container with link name as "WEB1".
Containers of the service is expected to have the following env variables:

[code]

These variables are not present in the service containers.

[code]

[2016-11-07 21:51] sangeethah commented on #6424
Tested with latest build from master.
This issue is not seen anymore.

[2016-11-07 21:51] #6424 closed

[2016-11-07 22:04] sangeethah opened #6545 "["HostConfig"]["Binds"] of container includes rancher-cni:/.r:ro which needs to be supressed."
Rancher server - Build from master

Steps to reproduce the problem:
Create a service with managed network.

["HostConfig"]["Binds"] of container includes rancher-cni:/.r:ro which needs to be supressed.

Automation tests that fail:

cattlevalidationtest.core.test_container_run_option.test_container_run_with_options_1
cattlevalidationtest.core.test_rancher_compose.test_rancher_compose_service
cattle

[2016-11-07 22:18] aemneina commented on #6017
@daankets did you manage to sort this? Sometimes i find the order of firewall rules being programmed prevents docker communication. i typically restart iptables, then docker. Please do reopen if this is still an issue.

[2016-11-07 22:18] #6017 closed

[2016-11-07 22:20] aemneina commented on #5998
@VFT did you manage to sort this out? I dont think its normal to have an LB in between rancher and the DB, I'd imagine if you remove the LB everything operates fine?

[2016-11-07 22:20] #5998 closed

[2016-11-07 23:00] soumyalj opened #6546 ""Kubectl get nodes" returns only one node on 3 host Kubernetes set up"
**Rancher Version:**Master

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

Steps to Reproduce:
1. Create a 3 host Kubernetes set up. Ensure ipsec, metadata, dns, healthcheck, scheduler, networkmanager microservices are enabled.
2. The setup creation was successful
3. kubectl

[2016-11-07 23:56] aemneina commented on #5994
looks like this is an enhancement for (forced or timed) refreshes made to dns.

[2016-11-08 00:13] soumyalj opened #6547 "Heapster container throws errors and cannot gather node information in Kubernetes 1.4.4"
**Rancher Version:**Master

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

Steps to Reproduce:

1.Create a 3 host Kubernetes set up. Ensure ipsec, metadata, dns, healthcheck, scheduler, networkmanager microservices are enabled.
2. Create a heapster service using the below ya

[2016-11-08 00:13] sangeethah commented on #6456
Tested with latest build from master.
There is no more null values in rancher-compose.yml for priority/selector/hostname/path

[2016-11-08 00:13] #6456 closed

[2016-11-08 00:20] OmgImAlexis commented on #5831
No and I don't currently have access to a server to try anymore. Should I close this for now?

[2016-11-08 00:22] sangeethah commented on #6460
Tested with latest build from master:
Create LoadBalancerService API should throw error when it is started with no imageUuid set in launch_config
```text = '{"id":"4e8340c6-644e-4642-b6e2-227c8723c846","type":"error","links":{},"actions":{},"status":422,"code":"MissingRequired","message":null,"detail":null,"fieldName":"imageUuid","baseType":"error"}'```

[2016-11-08 00:22] #6460 closed

[2016-11-08 00:26] aemneina commented on #5992
@cpoole did you get to the bottom of this? You need to make sure ports 81 and 444 are proxied to the backend from the LB in an HA case.

@dj-hedgehog did you locate what was interfering with your websocket connections? Typically 'application aware' firewalls and LB's dont play nice.

[2016-11-08 00:27] aemneina commented on #5957
@rossigee did you manage to get this working?

[2016-11-08 00:28] aemneina commented on #5956
definitely a known issue... also avoid loopback driver for devicemapper.

[2016-11-08 00:28] #5956 closed

[2016-11-08 00:31] aemneina commented on #5873
@lkm also do you know if the ip address of the host has changed during this period?

[2016-11-08 00:41] sangeethah commented on #4600
This issue is fixed.

[2016-11-08 00:41] #4600 closed

[2016-11-08 00:53] aemneina commented on #5831
I'll close it, thanks for replying

[2016-11-08 00:53] #5831 closed

[2016-11-08 01:22] wlan0 commented on #6546
@soumyalj - This is the same underlying issue as https://github.com/rancher/rancher/issues/6542#event-850348430. We can close this once that is closed

[2016-11-08 01:29] cpoole commented on #5992
@aemneina yep both ports are proxied. For me it was actually just disk space. I noticed this again the other day and it turned out one of my rancher server hosts had a full disk.

maybe coincidental, but for me each time I see this I also have disk space issues

[2016-11-08 01:32] sangeethah opened #6548 "Memory Limit value is empty on Edit host page."
Rancher server version - Build from master

Steps to reproduce the problem:
From "Hosts" view, click on "Edit Host"

Memory Limit value is empty on Edit host page.

<img width="891" alt="screen shot 2016-11-07 at 5 26 19 pm" src="https://cloud.githubusercontent.com/assets/4266958/20083120/5ec205d8-a50f-11e6-85dd-674fb332f19a.png">

Host API returns- "memory": 1778384896

[2016-11-08 01:54] sangeethah opened #6549 ""Memory reservation" value is not preserved when cloning/upgrading service."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a service with "Memory reservation" set to some value (say 1000).
Clone/upgrade this service.
"Memory reservation" value gets set to 0 in the cloned/upgraded service.

[2016-11-08 02:00] sangeethah commented on #6256
Tested with build from master:

Following host parameters in now available in host detail and edit view

"localStorageMb"
"memory"
"milliCpu"

Following parameters are available under "Security/Host" tab when creating service/containers:
memoryReservation
milliCpuReservation

[2016-11-08 02:00] #6256 closed

[2016-11-08 02:46] aemneina commented on #5949
hey @lilnate22 did you manage to get to the bottom of this? Looks like kubectl can't resolve kubernetes-poc1 as a hostname, that would strike me as the first issue. That 169 address looks like the rancher internal DNS. Where are you trying to execute the kubectl exec or logs from?

[2016-11-08 02:47] aemneina commented on #5938
@ahoeg if you can reproduce this on a 1.2.x version please reopen.

[2016-11-08 02:47] #5938 closed

[2016-11-08 02:47] aemneina commented on #5933
closing due to inactivity.

[2016-11-08 02:47] #5933 closed

[2016-11-08 02:48] aemneina commented on #5916
closing due to inactivity.

[2016-11-08 02:48] #5916 closed

[2016-11-08 02:50] aemneina commented on #5909
using CATTLE_AGENT_IP is the way to go here. closing issue.

[2016-11-08 02:50] #5909 closed

[2016-11-08 02:52] aemneina commented on #5914
@npjonath please reopen with new info.

[2016-11-08 02:52] #5914 closed

[2016-11-08 02:56] aemneina commented on #5899
@nenggangpan can you try this with the latest 1.2.0? I believe there have been a lot of changes going into 1.2.0. Please reopen if you can reproduce.

[2016-11-08 02:56] #5899 closed

[2016-11-08 02:58] aemneina commented on #5894
@nenggangpan can you try this with the latest... this should work now. Please reopen if you encounter the same issue.

[2016-11-08 02:58] #5894 closed

[2016-11-08 03:04] aemneina commented on #5893
closing due to inactivity.

[2016-11-08 03:04] #5893 closed

[2016-11-08 03:08] aemneina commented on #5395
@hooperp can you enable communication on all ports temporarily, see if that resolves the issue. The root of this is usually intercommunication between hosts is hindered. I posted a link to the doc's in a previous port. Googling those port numbers will allow you to match ports and services.

[2016-11-08 03:08] #5395 closed

[2016-11-08 03:25] aemneina commented on #5865
please reopen if youre still facing this issue.

[2016-11-08 03:25] #5865 closed

[2016-11-08 03:31] aemneina commented on #6327
@omegarus sounds like you have a fix/workaround. Closing the issue...

[2016-11-08 03:31] #6327 closed

[2016-11-08 03:33] aemneina commented on #6293
@tonythian did you ever manage to resolve this?

[2016-11-08 03:34] aemneina commented on #6269
@asanami did you manage to resolve this? Please reopen if you still face the issue.

[2016-11-08 03:34] #6269 closed

[2016-11-08 03:37] aemneina commented on #6264
doesnt look like youre passing in a valid command there. Were you still facing issues here? I think a good place to start would be the catalog item for [mongodb](https://github.com/rancher/community-catalog/tree/master/templates/MongoDB/1), as that would be a good reference. Please reopen if youre still facing issues.

[2016-11-08 03:37] #6264 closed

[2016-11-08 03:41] aemneina commented on #6258
hey @thekiwi you should be able to query /v1/hosts and determine the hosts that have long since disappeared from your deployment. You should then be able to remove those hosts. Let us know if that resolves your issue.

[2016-11-08 03:43] aemneina commented on #6246
@andreinechaev did /data/kafka reside on the host? Can you supply the container/docker daemon logs for your attempt?

[2016-11-08 03:45] aemneina commented on #6245
hey @jclark360 did you manage to get to the bottom of this? I'd imagine the containers you were trying to loadbalance couldnt stay in a healthy state for long, spawning more containers... which in turn caused haproxy config to be updated frequently.

[2016-11-08 03:51] aemneina commented on #6243
sounds like the rancher-compose-executor service, or the web-socket-proxy service might have suffered an outage. Restarting those should resolve your issue. Please reopen if youre still facing this.

[2016-11-08 03:51] #6243 closed

[2016-11-08 03:51] aemneina commented on #6204
@tonythian are you still facing this?

[2016-11-08 03:52] aemneina commented on #6202
take a look here: https://github.com/rancher/community-catalog/tree/master/templates/elasticsearch-2/0

closing issue.

[2016-11-08 03:52] #6202 closed

[2016-11-08 03:53] aemneina commented on #6198
closing due to inactivity.

[2016-11-08 03:53] #6198 closed

[2016-11-08 03:57] aemneina commented on #6148
@virtuman did the services restore, or are you still facing issues?

[2016-11-08 03:58] aemneina commented on #6118
Typically firewalls or loadbalancers in front of rancher prevent websocket connections. @boskiv were you able to get this working?

[2016-11-08 04:00] aemneina commented on #6115
solution 1 sounds like the best bet. I'll close this issue out, feel free to reopen if you have further questions.

[2016-11-08 04:00] #6115 closed

[2016-11-08 04:02] aemneina commented on #6060
@tehdeadone have you tried this with a more recent version of rancher?

[2016-11-08 04:06] aemneina commented on #6056
@mediatainment did you mange to get this working? that last error looks security group related.

[2016-11-08 04:08] aemneina commented on #6043
@ravlio did you manage to resolve this?

[2016-11-08 04:09] soumyalj opened #6550 "ipsec service shows up as 1 service with zero containers in the UI"
**Rancher Version:**1.2.0-pre4-rc7

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Create a Cattle environment. Ensure all the microservices (dns, metadata, ipsec, network-manager, scheduler, healthcheck) are enabled and start successfully.
2. The ips

[2016-11-08 04:09] aemneina commented on #6031
@dirkdevriendt thanks for the troubleshooting tips! I'll close this out.

[2016-11-08 04:09] #6031 closed

[2016-11-08 04:10] sangeethah commented on #4460
Tested with latest build from master.

Tried to create a stack providing the docker-compose.yml provided in the issue.
Service dont start and we see the following error:
 "Activating (Expected state running but got error: instance is not running : Dependencies readiness error)"

<img width="1376" alt="screen shot 2016-11-07 at 8 09 50 pm" src="https://cloud.githubusercontent.com/assets/4266958/200

[2016-11-08 04:17] aemneina commented on #6024
@picoCreator sounds like you were using the epel (rhel/centos) provided docker rpm. Have you tried this with upstream docker distribution? Can you try that and reopen if the issue is present there.

[2016-11-08 04:17] #6024 closed

[2016-11-08 04:19] aemneina commented on #6028
@kraucer can you ensure there is nothing blocking communication between the rancher server nodes, and try again? Let me know if that helps... the rancher servers might try to connect to each other over their public ip addresses, so if you use something like security groups, please account for that.

If you have an internal network that doesnt block communication, you can get rancher to leverage th

[2016-11-08 04:19] #6028 closed

[2016-11-08 04:21] aemneina commented on #6517
@xinity closing this out, if you have any more questions please do reopen.

[2016-11-08 04:21] #6517 closed

[2016-11-08 04:22] aemneina commented on #6469
so if youre just proxying through, terminating ssl at the nginx, why not use the unsecured port between nginx and rancher?

[2016-11-08 04:25] aemneina commented on #6466
@Matty9191  Are you running the server and the agent on the same host?

[2016-11-08 05:14] gerich-home commented on #6115
Yes, I took the 1st solution already, but anyway is the 2nd solution possible in Rancher?

[2016-11-08 05:30] rossigee commented on #5957
@aemneina - it seems to have fixed itself since a recent 1.1 series upgrade

[2016-11-08 05:40] aemneina commented on #5957
cool! glad to hear.

[2016-11-08 05:40] #5957 closed

[2016-11-08 05:42] aemneina commented on #6115
2 sounds slightly difficult to do, and could possibly cause ip address conflicts. I wouldn't recommend that.

[2016-11-08 05:48] aemneina commented on #6417
@AlexGrs also k8s 1.2.4 requires docker 1.10.3... it also looks like the host is registered with its public ip address, rather than the private IP, subjecting it to restrictive firewall rules. If you reregister your hosts with internal ip addresses you'd have better luck.

[2016-11-08 05:49] aemneina commented on #6401
@omegarus can you try this with a more recent version of rancher? There have been a large number of bugs addressed in this area in regards to rancher/kubernetes.

[2016-11-08 05:50] aemneina commented on #6397
@DirkBrand can you remove and readd the registry without prepending the http://

[2016-11-08 05:54] aemneina commented on #6396
@kvaes can we reword the subject to Azure Application Gateway not working with rancher? That way we can change this to a feature request (assuming the issue is on ranchers side, and not the ALG).

[2016-11-08 05:57] aemneina commented on #6371
@Dremor can you collect the container logs for the reverse proxy and gitlab?

[2016-11-08 06:19] vipulnsward commented on #6198
Sorry, couldn't get back on this. I moved on to use cattle instead of kubernetes, since it was not messing up etcd sync up and multi-host setup.

[2016-11-08 06:20] guzmo commented on #6243
But it does restart by itself? Cant continue to restart it? That is not an solution

[2016-11-08 07:22] daankets commented on #6017
@aemneina No, I didn't succeed. I've tried restarting iptables, docker in various orders, but without a breakthrough. In the end, I've shutdown the VMs, and started over using the latest RancherOS image. I've in the meantime deleted the old VMs.

[2016-11-08 07:31] roflmao commented on #5853
Yes, this is related to iptables/conntrack.
https://github.com/docker/docker/issues/8795

After deploy i do this on the host to clear the conntrack table:
```/usr/sbin/conntrack -D -p udp```

[2016-11-08 08:27] ravlio commented on #6043
@aemneina no, unfortunately. Hope Rancher team will react on this issue some day.

[2016-11-08 08:45] sschimmel opened #6551 "Rancher server stuck in upgrade"
**Rancher Version:**
v1.2.0-pre4-rc6

**Docker Version:**
Docker version 1.12.1, build 23cf638

**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher OS on Amazon EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA with RDS hosted external database

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Fol

[2016-11-08 09:00] tehdeadone commented on #6060
@aemneina I haven't. Our team has dropped back to the official stable releases (v1.1.4) for the time being (and the problem hasn't manifested since). We're in a critical pre-release phase, so we won't be able to try the pre-branch for a few weeks.

[2016-11-08 09:50] radu-stefanache commented on #6313
@vincent99 I've tested it with the master image, it loads the javascript code so I can set the driver options correctly but when trying to deploy I get this: ``` Error: No machine name specified" resourceId=1ph1```

By looking at the driver config, all the fields are correct.
![rancher-interoutevdc](https://cloud.githubusercontent.com/assets/13762415/20094340/b4197528-a598-11e6-9c39-53744fe547cb.p

[2016-11-08 09:52] tobowers commented on #6494
Just noting that I can confirm this problem as well: https://forums.rancher.com/t/udp-networking-stack-problems/4498

[2016-11-08 09:56] sschimmel commented on #6551
Restored the database to the moment of before the upgrade and started a new upgrade. Saw that there was a new RC version released last night. This upgrade has been stuck for the past 20 minutes.

Log output:
[code]

I'm seriously questioning if Rancher is production ready. According to the documentation running an upgrade is an easy 2 step process while in fact it's trial and error and a lot of lu

[2016-11-08 09:57] omegarus commented on #6401
@aemneina I'am going to test v1.2.0-pre4-rc7 this week.

[2016-11-08 10:03] DirkBrand commented on #6397
@aemneina I fixed it by making my repository public, so that Rancher does not need to do authentication.  This is, however, not ideal, but it does work.

[2016-11-08 10:06] sschimmel commented on #6551
The rancher-compose-executor fails to upgrade. From the logs:

[code]

Which service is supposed to provide the rancher-metadata?

[2016-11-08 10:20] jfaissolle commented on #5873
The same problem happened to two of my hosts in two different clusters managed by the same rancher server (1.1.2). Manually reconciling the agent state in DB did it.

[2016-11-08 11:20] hooperp commented on #5395
All ports are open, ingress and egress - 0.0.0.0/0
Sometimes the service comes up however mostly it doesn't.
Is the issue with inter-host comms, or cross-host comms ?
All containers on all 3 hosts seem to be alive, although it would be good to have a definitive list to cross reference against

[2016-11-08 11:21] hooperp commented on #5395
time="2016-11-08T11:17:33Z" level=fatal msg="Failed while waiting for 3 host(s) to be active: Get http://172.17.0.1:18080/v1/projects/1a7/hosts?state=active: dial tcp 172.17.0.1:18080: getsockopt: connection refused" component=service

[2016-11-08 11:46] IanVaughan opened #6552 "Upgrading duplicates or removes service links from the upgrade page"
**Rancher Version:**
rancher/server:v1.2.0-pre4-rc6 host1
rancher/agent:v1.1.0-rc7 on hosts1 and host2

**Docker Version:**
host1:1.12.1 / host2:1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS, bear metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
2 hosts, host1 server and agent, host2 agent.

**Environment Typ

[2016-11-08 12:23] vincent99 commented on #6551
There are major changes in 1.2 and the upgrade process is not complete yet.  Nothing "production" should ever be running RCs.

[2016-11-08 12:32] omegarus commented on #6401
@aemneina I did some testing with latest version.
Rancher Version:
v1.2.0-pre4-rc7
Docker Version:
1.11.2
OS and where are the hosts located? (cloud, bare metal, etc):
Ubuntu 14.04/VMware
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)
Single node with two hosts.
Environment Type: (Cattle/Kubernetes/Swarm/Mesos)
Kubernetes 1.4 infra-catalog qa branch.

I can't even

[2016-11-08 13:52] tonythian commented on #6293
I was able to resolve it after restarting the docker service, I remove the rancher-agent image and remove /var/lib/rancher folder.

[2016-11-08 13:52] #6293 closed

[2016-11-08 13:53] tonythian commented on #6204
Yes, still facing this issue with rancher-agent:v1.0.2

[2016-11-08 13:56] sschimmel commented on #6551
I agree completely and if the stable version of Rancher would work I would use it. The server:latest version however does not even allow me to add an environment.

[2016-11-08 14:51] natami commented on #4703
Any progress in this task?

[2016-11-08 14:54] hooperp commented on #5395
It ended up having nothing to do with security groups. Running the below before starting the services fixed it

rm -rf /var/lib/rancher/state/.physical_host_uuid
rm -rf /var/lib/rancher/state/.docker_uuid
rm -rf /var/lib/rancher/state/containers/.healthcheck
rm -rf /var/lib/rancher/cache/*

[2016-11-08 14:56] aemneina commented on #5873
Can you provide the output of 'docker info' as well as docker daemon logs from the bad hosts? Rancher agent logs would be helpful as well.

[2016-11-08 14:57] aemneina commented on #6397
Got it, I'll close this out.

[2016-11-08 14:57] #6397 closed

[2016-11-08 14:59] aemneina commented on #6060
Sounds good I'll close this out.

[2016-11-08 14:59] #6060 closed

[2016-11-08 15:01] lilnate22 commented on #5949
@aemneina not really...im not actively using rancher k8s right now (waiting on rancher 1.2)

but kubectl was run from both my machine, as well as the ranchers console k8s

[2016-11-08 15:34] wlan0 commented on #5949
The hostname doesn't seem resolvable. Kubectl makes a call to apiserver and apiserver proxies the call to the appropriate kubelet.

Can you ensure that you can ping that host from the host that is running API-server? Let me know if you can.

[2016-11-08 15:51] sangeethah commented on #6527
Example of few tests that fail in automatoion run:

In test_dns_services.py -
test_dns_consumed_services_restart_instance
test_dns_deactivate_activate_environment

[code]

[2016-11-08 16:07] westlywright commented on #6127
@tfiduccia can you test this again? I merged master this morning as was not able to duplicate very long names?

[2016-11-08 16:15] westlywright commented on #6425
Tested on master on 11-08-16 and could not reproduce.
<img width="152" alt="screenshot 2016-11-08 09 14 17" src="https://cloud.githubusercontent.com/assets/858614/20106888/de514ae6-a593-11e6-99a5-d72c5702b547.png">

[2016-11-08 17:48] aemneina commented on #6469
regardless it looks like an issue between nginx and rancher, since rancher is responding.

[2016-11-08 17:56] aemneina commented on #6448
Can you try this with upstream docker (1.10 or 1.11) with rancher 1.1.x? Anything outside of that YMMV.

[2016-11-08 17:58] aemneina commented on #6443
hey @arvindr21 have you modeled your mongo deployment on the catalog item, if not it might be a good place to start: https://github.com/rancher/community-catalog/tree/master/templates/MongoDB/1

[2016-11-08 17:59] aemneina commented on #6441
@larsmagnusherland can you check this with docker 1.10 or 1.11? You also want to avoid using the loopback driver for devicemapper.

[2016-11-08 18:10] aemneina commented on #6243
In 1.2.0 they should be more robust.

[2016-11-08 18:12] #6384 closed

[2016-11-08 18:13] aemneina commented on #6204
can you provide the output of `docker info` and what is the host operating system?

[2016-11-08 18:16] aemneina commented on #5949
@lilnate22 cool, I'll close this out. If you ever try this out again, and hit issues, feel free to open a new ticket.

[2016-11-08 18:16] #5949 closed

[2016-11-08 18:21] aemneina commented on #6551
@sschimmel I'll close this out, if you hit this with 1.2.0, please DO report it. Otherwise you'll have to wait for the pre release that has an upgrade path.

[2016-11-08 18:21] #6551 closed

[2016-11-08 18:29] vincent99 commented on #6425
It's still there, some sort of rendering glitch with the browser while there are CSS animations going on in that column.

[2016-11-08 18:37] aemneina commented on #6440
@stefanlasiewski did you spin up the containers using the UI or rancher-compose? I copy pasted the docker/rancher-compose.yml definitions and the example worked as expected. Mysql was pingable without any manual intervention.

[2016-11-08 18:41] aemneina commented on #6417
@timbordemann ROS 0.7.0 uses a more modern version of docker than what rancher 1.1.4's version of k8s (1.2.4) supports. You should be able to either downgrade user docker in ROS or go with ROS 0.4.5... let me know if that gets you up and running. I'll close this out for now, if you guys have further issues after aligning versions, feel free to reopen or open a new issue.

[2016-11-08 18:41] #6417 closed

[2016-11-08 18:45] stefanlasiewski commented on #6440
@aemneina, this happened with both the UI and via rancher-compose, using the docker/rancher-compose.yml definitions.

On your Docker host in /etc/resolv.conf, are you using the `search` list parameter?

[2016-11-08 18:46] stefanlasiewski commented on #6440
I should note, if I remove search example.org` from the `/etc/resolv.conf` file on my Docker hosts, the examples work fine.

[2016-11-08 18:52] cloudnautique commented on #6417
In ROS 0.7.0 you can do:

[code]

To swap User Docker versions.

[2016-11-08 19:01] soumyalj commented on #6546
The deamon set created using the below yaml creates pod on only one host as other hosts are not available :
[code]
The error on the automation run is below:
[code]

[2016-11-08 19:03] westlywright commented on #6425
@vincent99 thanks that's helpful

[2016-11-08 19:04] aemneina commented on #6440
I do have a search domain:

search us-west-2.compute.internal

[2016-11-08 19:05] aemneina commented on #6440
Looks like you've gotten to the bottom of this. Can we close it out?

[2016-11-08 19:07] aemneina commented on #6440
it actually makes sense that example.com would break resolution for mysql as the fqdn would turn into mysql.example.com which doesnt resolve 👍

[2016-11-08 19:32] deniseschannon commented on #6401
We have moved away from infra-catalog.

Can you use `library` - `https://github.com/rancher/rancher-catalog` on the `1.2` instead?

Please note that the k8s environment has some issues that we are still resolving. Note: this is your risk when using rcs :)

[2016-11-08 19:33] aemneina commented on #6400
hey @meons does the docker logs for the rancher server container have any relevant output? What about docker daemon logs? They might provide clues, can you share those?

[2016-11-08 20:11] larsmagnusherland commented on #6441
I only have 1 machine running devicemapper:loop
All the others are running aufs.

I will see if I can try with a older version of Docker, but that will require some altering and adjustments to get it working.

[2016-11-08 20:28] natami commented on #6469
I think you're right.

Might try setting up a Apache and try the same and see if it works.

[2016-11-08 20:55] tfiduccia commented on #6495
Version - 1.2.0-pre4-rc7 UI 1.2.20
Verified fixed

[2016-11-08 20:55] #6495 closed

[2016-11-08 21:16] kvaes commented on #6396
Updated

[2016-11-08 21:25] tfiduccia commented on #6482
version - 1.2.0-pre4-rc7 UI v1.2.20
Verified fixed

[2016-11-08 21:25] #6482 closed

[2016-11-08 21:29] tfiduccia commented on #6497
Version - 1.2.0-pre4-rc7 UI - v1.2.20
Verified fixed

[2016-11-08 21:29] #6497 closed

[2016-11-08 21:30] tfiduccia commented on #6439
Version - 1.2.0-pre4-rc7 UI - v1.2.20
Verified fixed

[2016-11-08 21:30] #6439 closed

[2016-11-08 21:31] vincent99 commented on #6478
Switching environments was the key piece here..

[2016-11-08 21:35] tfiduccia commented on #4212
Version - 1.2.0-pre4-rc7 UI - v1.2.20
I can click the View Config button in stack page and get same error.

[2016-11-08 21:40] tfiduccia commented on #6438
Version - 1.2.0-pre4-rc7 UI - v1.2.20
Verified fixed

[2016-11-08 21:40] #6438 closed

[2016-11-08 21:45] tfiduccia commented on #5698
Version - 1.2.0-pre4-rc7 UI - 1.2.20
Verified fixed

[2016-11-08 21:45] #5698 closed

[2016-11-08 21:47] sangeethah commented on #6326
Tested with v1.2.0-pre4-rc7

Create a stack using the following yml to have a service with sicekick which has network from its primary container:

[code]
wget  http://rancher-metadata/latest/containers/ shows 2 entries for this sidekick container:

33=hello-test-primary-test-sk1-1
56=hello-test-primary-test-sk1-1

Expected Behavior:
We should have only 1 entry for every container.

[2016-11-08 22:11] tfiduccia commented on #6168
Version - 1.2.0-pre4-rc7 UI 1.2.20
Verified fixed

[2016-11-08 22:14] sangeethah commented on #5997
Tested with latest build from master.
This issue is the similar to the issue  reported in  https://github.com/rancher/rancher/issues/5745 which was verified and closed.

@zfjoy520 , fix for this issue will be available in 1.2 release.

[2016-11-08 22:14] #5997 closed

[2016-11-08 22:15] tfiduccia opened #6553 "Load Balancer Target info is blank & link tab unnecessary"
**Rancher Version:** v1.2.0-pre4-rc7 UI v1.2.20

**Steps to Reproduce:**
1.  Create a load balancer with multiple targets
2.  Go to info for LB
3.  Go to LB detail's page

**Results:** Target info is empty and there is a link's tab in LB service detail page
![image](https://cloud.githubusercontent.com/assets/11514927/20119440/cbee5cae-a5c5-11e6-9255-c5ef456979fe.png)
![image](https://cloud.githubu

[2016-11-08 22:15] #6168 closed

[2016-11-08 22:19] tfiduccia opened #6554 "When rolling back during upgrade for LB, changes stay in place"
**Rancher Version:** v1.2.0-pre4-rc7 UI - v1.2.20

**Steps to Reproduce:**
1.  Create two services
2.  Create a load balancer that targets both services
3.  Upgrade load balancer and remove one of the services
4.  Roll back upgrade

**Results:** The service is still removed.

**Expected:** It should have rolled back to original state

[2016-11-08 22:20] soumyalj commented on #6461
Tested with v1.2.0-pre4-rc7. Created a stack using the yaml given above. The exported file (without colons) is below:
[code]

[2016-11-08 22:20] #6461 closed

[2016-11-08 22:22] tfiduccia commented on #6453
Version - 1.2.0-pre4-rc7 UI - v1.2.20
Verified fixed (with scheduler plug-in installed)

[2016-11-08 22:22] #6453 closed

[2016-11-08 22:24] sangeethah commented on #6541
Reopening this issue.

This issue does not happen all the time.
This issue was encountered  even with today's master build.

[2016-11-08 22:25] stefanlasiewski commented on #6440
My point here is that the Rancher Documentation is missing an important topic.

It's very common for organizations to use a search domain on their Docker hosts. But due to how Rancher handles the search domain by default, the Quick Start Guide will not work with this very common configuration.

The Rancher documentation, or at least the quick start guide, should include a notice about using a sear

[2016-11-08 22:32] soumyalj commented on #4838
Tested with v1.2.0-pre4-rc7. Did not see this issue. Deletion of rc from UI was fine without any errors.

[2016-11-08 22:32] #4838 closed

[2016-11-08 22:40] sangeethah opened #6555 "DNS resolution does not work for sidekick containers that have network from primary containers."
Rancher Version: v1.2.0-pre4-rc7

Steps to reproduce the problem:
Create  a service with sidekick containers that have network from primary containers using the following docker-compose.yml:

[code]
DNS resolution does not work for sidekick containers:

[code]

Also I see the hostname on the sidekick container set to primary containers docker id.
Is this is as expected ?

[2016-11-08 22:44] soumyalj commented on #6277
Tested with v1.2.0-pre4-rc7. The service created through UI or through docker-compose (with no logging key set) generated the exported yml correctly.
[code]

[2016-11-08 22:44] #6277 closed

[2016-11-08 23:06] aemneina commented on #6440
makes sense @stefanlasiewski changed this to a doc bug, to reflect that.

[2016-11-08 23:12] soumyalj commented on #5329
Tested with v1.2.0-pre4-rc7. The container names remained in the format r-{container name}-{first segment of uuid} before and after upgrade
Before upgrade:
[code]
After upgrade:
[code]

[2016-11-08 23:12] #5329 closed

[2016-11-08 23:15] ryudice commented on #1701
Is there still no way to do this?

[2016-11-08 23:19] soumyalj commented on #4993
Tested with v1.2.0-pre4-rc7. The container names remained in the format r-{container name}-{first segment of uuid} before and after upgrade
Before upgrade:
[code]
After upgrade:
[code]

[2016-11-08 23:19] #4993 closed

[2016-11-08 23:43] deniseschannon commented on #6531
Please re-test as I am unable to reproduce.

[2016-11-08 23:56] deniseschannon commented on #6539
Unable to reproduce in latest master 11/8 (afternoon) and latest rancher-catalog (11/8 afternoon)

[2016-11-09 00:37] deniseschannon commented on #6544
Can we retest as the latest automation run doesn't have this failure? Due to all the networking/metadata fixes, this may have been addressed due to those fixes.

[2016-11-09 00:46] sangeethah commented on #6540
This issue is not seen anymore when testing with the latest build from master.

[2016-11-09 00:46] #6540 closed

[2016-11-09 00:47] sangeethah commented on #6528
This issue is not seen anymore when testing with latest builds.

[2016-11-09 00:47] #6528 closed

[2016-11-09 00:54] sangeethah commented on #6531
This issue is not seen with automation runs on latest build from master.

[2016-11-09 00:54] #6531 closed

[2016-11-09 02:12] tonythian opened #6557 "I can't run rancher-agent"
This is a host that was connecting to a rancher before, and now I am trying to connect it to another rancher server on the different server.

Rancher-agent failed to start, I tried delete /var/lib/rancher/state but same problem.

log as follow:

INFO: Running Agent Registration Process, CATTLE_URL=http://x.x.x.x:8080/v1
INFO: Checking for Docker version >= 1.6.0
INFO: Found Server version: 1.11.2

[2016-11-09 04:54] tonythian commented on #6204
docker info output:
Containers: 44
 Running: 4
 Paused: 0
 Stopped: 40
Images: 262
Server Version: 1.11.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 376
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge null host
Kernel Version: 4.4.0-45-generic
Operating System: Ubuntu 16.04.1 LTS
OSType

[2016-11-09 09:07] abeMedia commented on #3358
I'm getting the same error with both MariaDB and MySQL. Convoy NFS is working fine with other containers though (redis for example) so it seems specific to MariaDB/MySQL.

As a temporary measure I resorted to using https://github.com/tutumcloud/mysql-backup for database persistence.

[2016-11-09 09:25] meons commented on #6400
Yop @aemneina, it's pretty strange because when I tryied again 1 hour later, it worked... I really don't understood what happened and I never got this issue again.
If it could help you, that's the only warning log (no error logs) in docker daemon log (/var/log/upstart/docker.log):
`.time="2016-10-26T13:24:39.379652115+02:00" level=warning msg="Running modprobe bridge br_netfilter failed with messa

[2016-11-09 10:00] sathishbaburathinavel commented on #4442
Now support added to Windows Container. Followed the instruction in [docker doc](https://docs.docker.com/machine/drivers/hyper-v/) and still can see this issue.

**docker command used:**
`docker-machine create -d hyperv --hyperv-virtual-switch "Primary Virtual Switch" manager1`

**Error**
`Error with pre-create check: "Powershell was not found in the path"`

**Version Info:**
Windows 10 (OS Build

[2016-11-09 10:05] tonythian commented on #6557
docker info output:

Containers: 51
 Running: 4
 Paused: 0
 Stopped: 47
Images: 262
Server Version: 1.11.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 390
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null host bridge
Kernel Version: 4.4.0-45-generic
Operating System: Ubuntu 16.04.1 LTS
OSTyp

[2016-11-09 10:14] juliangamble commented on #6257
If you look at the doco here - there is an absence of service specific starts - there is only language that implies "all services" https://github.com/rancher/rancher-compose

[2016-11-09 11:35] omegarus commented on #6401
@deniseschannon
Rancher Version:
v1.2.0-pre4-rc7
Docker Version:
1.11.2
OS and where are the hosts located? (cloud, bare metal, etc):
Ubuntu 14.04/VMware
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)
Single node with one host.
Environment Type: (Cattle/Kubernetes/Swarm/Mesos)
Kubernetes 1.4.4 https://github.com/rancher/rancher-catalog 1.2 branch.

Still problems

[2016-11-09 12:11] fabiorauber commented on #3572
I agree with @scanon, this breaks standard docker functionality. A stack of services that runs fine in my desktop with docker-compose (with the same search path) does not run in my rancher environment, because one of the containers has the same name of a service within my enterprise network. In my opinion, rancher.internal should come first.

[2016-11-09 12:39] msmole commented on #6537
Please let me know if you need more details to address this issue. Any comment or suggestion on how we can further debug would be highly appreciated.

[2016-11-09 14:52] ThatsNinja opened #6558 ""Lb Config" is required - Error Creating Rancher Load Balancer"
**Rancher Version:**
v1.2.0-pre4-rc7

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher Server on generic boot2docker image, VMware-virtualized
Cattle hosts running RancherOS (4.2.8-ckt4-rancher), VMware-virtualized

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Stand-alone Rancher Server

**Environment Type

[2016-11-09 15:14] pschrammel commented on #3574
Rancher 1.1.4, rancher-compose version v0.8.6

same here. The only similarity I can find is that we also use export xxx=yyyy to circumwent questions from rancher-compose

[2016-11-09 15:41] sjiveson opened #6559 "Rancher-compose Port Mapping with IP Address Doesn't Work"
**Rancher Version:**

v1.01 (rancher-compose v0.7.4) and v1.1.0 (rancher-compose v0.8.5)

**Docker Version:**

v1.10.3 and v1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**

Rancher OS on bare metal.

v0.4.4 and v0.6.1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single-node. External DB (same host)

**Environment Type: (Cattle/Kub

[2016-11-09 15:54] vincent99 commented on #6558
The load balancer API has changed in a way that's requires a migration, which hasn't been finished yet.  For today you'd need to recreate the balancer.

[2016-11-09 15:56] ThatsNinja commented on #6558
@vincent99 I had destroyed the faulty Load Balancer service and attempted to re-create. Same issue creating a Load Balancer service from scratch.

[2016-11-09 15:58] pschrammel commented on #3574
We did some tests and seems that lower case variables are not correctly updated (just a guess).

[2016-11-09 16:30] pschrammel opened #6560 "rancher-compose doesn't replace environment variables on upgrade"
I'm refering an old closed issue #3574.

**Rancher Version:**
1.1.4

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle

**Steps to Reproduce:**
export variable_name="jjjj"
rancher up --force deploy
export variable_name="cccc"
rancher up --force deploy

**Results:**
varibale_name (should be used in docker-compose) will not be updated
**Expected:**
varibale_name is updated (interpolated)

[2016-11-09 16:46] toughIQ commented on #6558
Saw same behavior as described by @ThatsNinja.
Difference: I upgraded from rc6 to rc7.
Since I couldnt get my LB running with rc7, I rolled back to rc6.

[2016-11-09 17:21] sangeethah commented on #6545
Tested with master build with commit 0c9c663a6e67c8c14be0bf067807db8ebb621169
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.6.2
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.1.4
rancher/scheduler:v0.1.2

This issue is still reproducible.

[2016-11-09 17:24] sangeethah commented on #6544
Tested with master build with commit 0c9c663a6e67c8c14be0bf067807db8ebb621169
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.6.2
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.1.4
rancher/scheduler:v0.1.2

This issue is still reproducible.

[2016-11-09 17:30] sangeethah commented on #6532
When automation is run with 5 sec sleep before access exposed ports , ports are not available yet.

Tested with master build with commit 0c9c663a6e67c8c14be0bf067807db8ebb621169
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.6.2
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.1.4
rancher/scheduler:v0.1.2

[2016-11-09 18:09] sangeethah commented on #6543
Automation runs done with 10 sec delay before accessing metadata changes did not report any issues.

[2016-11-09 18:09] #6543 closed

[2016-11-09 18:37] mrajashree opened #6561 "Updating `catalog.refresh.interval.seconds` through API doesn't change the refreshInterval in Catalog service"
Rancher Version: Rancher Master

Environment Type: Cattle

Steps to Reproduce:
1. Start cattle
2. Change `catalog.refresh.interval.seconds` through cattle API
3. Check server logs for refresh catalog messages

Results:
Catalog is still refreshed based on old interval

Expected:
Refresh should take place on new interval set through API

[2016-11-09 18:37] deniseschannon commented on #6257
@juliangamble Are you talking about the usage section, which is just an export of `rancher-compose --help` ?

The `up` says all services, but the help for `start` matches how it is shown in docker-compose. Both show `Start services`.

[2016-11-09 18:55] soumyalj commented on #6507
Tested with v1.2.0-pre4-rc7. Accessing any catalog does not display ```
INFO[2016-11-04T10:57:10-07:00] Refresh for this catalog <catalog_name> is already in process, skipping ``` in the logs.

The message ``` time="2016-11-09T18:45:06Z" level=info msg="Request to refresh catalog" ``` will be displayed when we add a new catalog URL to the admin settings page.

[2016-11-09 18:55] #6507 closed

[2016-11-09 19:01] kkvilekval commented on #4106
Rancher Version: 1.1.4
Docker Version: 1.11.2

OS: coreos and debian

Steps to Reproduce:

Not sure, yet.

Results:

I've been seeing quite a few of these errors every 2 to 5 seconds in the rancher log.
Eventually I have to restart rancher as it slows to a crawl.

[code]

[2016-11-09 19:02] alena1108 commented on #6446
please test with the latest

[2016-11-09 19:04] alena1108 commented on #6449
@sangeethah please test with the latest

[2016-11-09 19:04] alena1108 commented on #6459
@sangeethah please test with the latest

[2016-11-09 19:04] kkvilekval commented on #4106
After investigating from the rancher UI, I found several containers (stopped) that were not attached to any stack which was strange since we only launch containers with rancher-compose.

After deleting and purging those containers in the UI, the messages stopped appearing.

[2016-11-09 19:26] sangeethah commented on #6541
Tested couple of time with rancher/net:v0.6.2 .
Inter host networking in a 3 host setup works as expected.

[2016-11-09 19:40] deniseschannon commented on #6560
do you have a docker-compose file that i could test with?

[2016-11-09 19:40] sangeethah commented on #6539
Tested with latest build from master.
Port information is now available but public port information is not available when ports are exposed resulting cattlevalidationtest.core.test_container.test_dynamic_port and cattlevalidationtest.core.test_container.test_linking still failing. Will log a new issue to track this

[2016-11-09 19:40] #6539 closed

[2016-11-09 19:49] sangeethah opened #6562 "When exposed port is updated on container , port is not reachable."
Rancher-server version - Build from master - 5fb19daa7680d29b9f4e674246a90f8c4bbef695
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.6.2
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.1.4
rancher/scheduler:v0.1.2

Steps to reproduce the problem:
Create a container with image nginx.
Update container and set public port for "80" to some port.

This exposed port is not reachable - "

[2016-11-09 19:55] sangeethah opened #6563 "Public ports not get saved for container."
Rancher-server version - Build from master - 5fb19daa7680d29b9f4e674246a90f8c4bbef695
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.6.2
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.1.4
rancher/scheduler:v0.1.2

Steps to reproduce the problem:
Create a nginx container by adding an exposed port (say 8000) for private port 80.

Public port does not get saved for the container.

[

[2016-11-09 20:21] LLParse opened #6564 "storage_driver definitions in docker-compose.yml aren't creating storageDriverService in rancher"
**Rancher Version:** master

**Docker Version:** n/a

**OS and where are the hosts located? (cloud, bare metal, etc):** n/a

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** n/a

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** n/a

**Steps to Reproduce:**
Run [nfs](https://github.com/rancher/rancher-catalog/tree/1.2/infra-templates/nfs/0) system template v

[2016-11-09 20:44] alena1108 commented on #6534
@tfiduccia could you retest this on the latest? LB stuck in initializing/reinitializing was caused by the bug when ip address was changed for the instance that was restarting

[2016-11-09 20:48] LLParse opened #6565 "storage plugin: Deleting a volume doesn't delete the underlying data"
**Rancher Version:** master

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** n/a

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** n/a

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reproduce:**
1. Create a cattle environment and register 1+ hosts
2. Create a nfsv4 server that is reachable

[2016-11-09 20:56] LLParse opened #6566 "storage plugin: Container sometimes stuck in 'activating' state"
**Rancher Version:** master

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** n/a

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** n/a

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reproduce:**
1. Create a cattle environment and register 1+ hosts
2. Create a nfsv4 server that is reachable

[2016-11-09 21:03] LLParse opened #6567 "rancher-nfs: Unclean plugin removal / Docker thinks volumes are still present"
**Rancher Version:** master

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** n/a

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** n/a

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reproduce:**

1. Create a cattle environment and register 1+ hosts
2. Create a nfsv4 server that is reachable

[2016-11-09 21:18] DanielDent commented on #2179
I've looked at https://github.com/rancher/lb-controller but I haven't found documentation on building your own load balancer.

I've taken a first step towards a simple service discovery based nginx load balancing implementation for Cattle (https://github.com/DanielDent/rancher-nginx-active-lb). One issue I had is that the rancher API doesn't allow private keys for certificates to be exported.

The

[2016-11-09 21:27] deniseschannon commented on #6566
What does the API show versus UI?

[2016-11-09 21:35] westlywright commented on #6313
@radu-stefanache With the sweeping changes to the v2-beta Rancher api the types for the machine have changed. After the next Rancher UI release If you pull in the following updates from the [ui-driver-skel](https://github.com/rancher/ui-driver-skel/blob/master/component/component.js#L16-L25) repo you should be good to go. Again you'll need to wait for the next UI release cause there were a couple

[2016-11-09 21:42] LLParse commented on #6566
API shows state=starting, UI shows the same

[2016-11-09 22:00] aemneina commented on #6400
on your server host, can you curl https://github.com? does that require a proxy to get out? Looks like access is blocked.

[2016-11-09 22:30] mmisztal1980 commented on #4680
+1

[2016-11-09 22:36] vincent99 commented on #5793
This appears to have been because they all get the same `id="password"` in the HTML, which makes only the last password field work (not one on the first row, etc)

Anyway this was fixed right after 1.2.0-pre3 in https://github.com/rancher/ui/commit/52506581ba9f80e99d3cea7e3a7dc7156492858a#diff-b8a249cd297ed3c367887a8adc9059e9L1

[2016-11-09 22:39] soumyalj commented on #3122
Tested with rancher v1.2.0-pre4-rc7. Able to create containers with private repository images below :
1. 605812595399.dkr.ecr.us-east-1.amazonaws.com/soumyatestrepo:v1
2. 605812595399.dkr.ecr.us-east-1.amazonaws.com/soumya/namespace1/namespace2:latest
3. localhost:5000/ubuntu
4. localhost:5000/foo/bar/ubuntu

[2016-11-09 22:39] #3122 closed

[2016-11-09 22:40] soumyalj commented on #5025
Tested with rancher v1.2.0-pre4-rc7. Able to create containers with private repository images below :
1. 605812595399.dkr.ecr.us-east-1.amazonaws.com/soumyatestrepo:v1
2. 605812595399.dkr.ecr.us-east-1.amazonaws.com/soumya/namespace1/namespace2:latest
3. localhost:5000/ubuntu
4. localhost:5000/foo/bar/ubuntu

[2016-11-09 22:40] #5025 closed

[2016-11-09 22:59] byronmansfield commented on #3893
👍 👍

[2016-11-09 23:33] tfiduccia commented on #6535
Version - master 11/09
Verified fixed

[2016-11-09 23:33] #6535 closed

[2016-11-09 23:37] tfiduccia commented on #6534
Version - master 11/06
Verified fixed

[2016-11-09 23:37] #6534 closed

[2016-11-09 23:45] tfiduccia commented on #5793
Version - master 11/09
Verified fixed

[2016-11-09 23:45] #5793 closed

[2016-11-09 23:56] alena1108 commented on #6555
@sangeethah

Is this is as expected

it is expected. NetworkFrom container inherits all host information of the primary.

I'll work on the fix for dns resolution

[2016-11-10 00:01] soumyalj commented on #5261
Automated ingress related test cases and checked in test_k8s_ingress.py

[2016-11-10 00:01] #5261 closed

[2016-11-10 00:28] deniseschannon commented on #6529
Fix is in
ipsec: rancher/net:v0.6.3
netowrk manager: plugin-manager:v0.1.5

[2016-11-10 00:42] deniseschannon commented on #6564
@LLParse I'm not sure what you mean by service `data` field.

Using rancher-compose v0.11.0-rc9
Using master from nov 8

I used the following ymls

[code]

rancher-compose.yml

[code]

Launching in rancher-compose CLI,  I can see the service and in the API, I see the storage_driver definition

![screen shot 2016-11-09 at 4 39 54 pm](https://cloud.githubusercontent.com/assets/11410997/20160361/2c60

[2016-11-10 00:49] aemneina opened #6568 "user api keys expire, when using github auth, after ~16 hours"
after talking to @prachidamle, seems the user account token in rancher is the problem here (expires in 16 hours). api keys shouldnt invalidate over time.

[2016-11-10 00:52] deniseschannon commented on #5639
Do you guys have github authentication on? I'm wondering if your issue is related to this one:

https://github.com/rancher/rancher/issues/6568

[2016-11-10 01:00] balzaczyy commented on #2485
I'm using 1.1.3 and want to re-raise the attention of this feature request. I have now seen almost 50 pages of stopped containers in Infrastructure/Containers page. It's impossible to clear them all. (I tried but they just keep growing themselves). The host shows unknown so I think they could be dirty data.

Please re-consider this feature request or provide a workaround to cleanup those annoying

[2016-11-10 02:08] sangeethah opened #6569 "Not able to create LB service using v1format for LB."
Rancher server build - Latest from master
Rancher-compose version  - v0.11.0-rc9

[code]

[code]

[2016-11-10 02:12] sangeethah commented on #6569
Blocks following 2 automated runs:
[code]

[2016-11-10 03:43] sangeethah opened #6570 "io.rancher.container.network - label does not result in container getting a managed ip."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a container from host using label - 'io.rancher.container.network': 'true' ,
 We expect container to get create in "managed" network with ipaddress in 10.42.x.x .
Instead the container is given - "172.17.x.x" address.

[code]

[2016-11-10 03:54] deniseschannon commented on #6552
Could you share your docker-compose.yml of your stack?

[2016-11-10 03:55] leodotcloud commented on #6542
@soumyalj Can you please try this with the latest master? I believe @ibuildthecloud has fixed this issue in one of his commit: https://github.com/rancher/plugin-manager/commit/0c2d142f82e1caf1b95145969cb5cb4c8ccfa8e3

[2016-11-10 03:57] alena1108 commented on #3589
@deniseschannon we already support it in 1.2 https://github.com/rancher/cattle/pull/1777. No more underscore in service instance names, they are replaced with "-"

[2016-11-10 04:21] deniseschannon commented on #6536
@soumyalj When k8s is back up and running, can you test this use case?

[2016-11-10 06:10] aemneina commented on #6568
I'd imagine decoupling api keys from user auth token is the way to go here. @prachidamle can you assess the work involved and schedule the right release for this. I tentatively put 1.2.0, being optimistic here 😃

[2016-11-10 06:23] aemneina commented on #6450
I dont believe this exists today, changing this to an enhancement request.

[2016-11-10 06:24] aemneina commented on #6448
if you can repro with the suggested docker versions on rancher 1.1.x, please reopen.

[2016-11-10 06:24] #6448 closed

[2016-11-10 08:55] picoCreator commented on #6024
@aemneina : Unfortunately i have already long terminated the machine involved. So i am unable to check that.

[2016-11-10 09:27] radu-stefanache commented on #6313
@westlywright : Thanks! I will keep an eye on the UI repo. Thanks again for the help!

[2016-11-10 09:39] meons commented on #6400
Hmm nope I don't think that was a proxy or firewall issue because it worked later without any change.

[2016-11-10 09:52] twobombs opened #6571 "no connection/ping between rancher hosts"
**Rancher Version:**
1.1.4
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 14.04 @vcloud, esx & virtualbox
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
internal DB, no HA rancher, two nodes
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle ( default mode )
**Steps to Reproduce:**
install ubuntu 1

[2016-11-10 10:05] twobombs commented on #6571
never mind, it was a user error ( when adding host forgot to enter the IP of that host in the field )

case can be closed

[2016-11-10 10:09] LoicMahieu opened #6572 "TypeError: Cannot read property 'EMBEDDED_BACKUPS' of null"
**Rancher Version:**
v1.2.0-pre4-rc7

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
VM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
1. Create new environment with Kubernetes stack.
2. Go to Infrastruc

[2016-11-10 10:12] florck commented on #5380
@prachidamle right, but every time you create a suer, those values empty are forced back to their default !

[2016-11-10 10:18] darrenscerri opened #6573 "Failed to find network for networkMode managed"
**Rancher Version:**
v1.2.0-pre4-rc7

**Docker Version:**
1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS 7.2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Upgraded from v1.2.0-pre4-rc5 to v1.2.0-pre4-rc7

*

[2016-11-10 10:48] LoicMahieu opened #6574 "Kubernetes: medata: x509: failed to load system roots and no roots provided""
**Rancher Version:**
v1.2.0-pre4-rc7

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, external db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
1. Create a new environment with Kubernetes
2. Add 3 ho

[2016-11-10 11:13] nicolinux commented on #6231
This happens even if you just want to start a service manually which uses the convoy-nfs driver. So the Convoy NFS stack from infra is broken and can't be used at all right now.
I have reported it here and on the forums but nobody cares :(

rancher/convoy: [#173](https://github.com/rancher/convoy/issues/173)
forums: [post](https://forums.rancher.com/t/convoy-nfs-failed-to-allocate-instance-bad-ins

[2016-11-10 11:25] g0ld3lux opened #6575 "Question: Whats The Difference of Using rancher and rancherOS"
Hi Im using windows 10 Pro with HyperV enable...
I find it hard to use rancherOS since it is causing issue with virtual box...
unlike rancher which i can install as a container in my docker-machine...

I dont know why is there 2 Software...
rancher as container and RancherOS

Can Anyone Explain the Pro  and Cons
Which one do you think is much preferable to use?

Thanks

[2016-11-10 11:41] LoicMahieu commented on #6344
I am also in this issue.

I would like to use my Kubernetes cluster for multiple apps, which have their own `Ingress` with only host based rules.
My first setup was to disable/remove `rancher-ingress-controller` and install traefik load balancer which works pretty well!
Unfortunatly, like you said, the Rancher UI does not like you disable some part of the stack.

We tried to fork the official cata

[2016-11-10 14:11] nicolinux commented on #6509
Upgraded to v1.2.0-pre3. Not relevant, can not reproduce anymore.

[2016-11-10 14:11] #6509 closed

[2016-11-10 14:45] mccricardo commented on #6573
Experiencing the same issue with a similar setup, but on Ubuntu 16.04.

[2016-11-10 15:05] ragaar commented on #2728
Is this a behavior that can be manually resolved with an API action?
I have started seeing "storage pool for volume #number must be one of kind"

---

**Rancher Version:** 1.1.4

**Docker Version:** 1.1.2.1, build 23cf638

**OS and where are the hosts located? (cloud, bare metal, etc):** Debian: Jessie, bare metal

**Setup Details:** single node rancher, internal DB

**Environment Type:** Cattle

[2016-11-10 15:43] kvaes opened #6576 "Failed to get connect to database when connecting to Azure MySQL due to MariaDB connector bug"
**Rancher Version:** v1.1.4

**Cattle Version:** 0.165.8.4

**Docker Version:** 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubunt 16.04 TLS on Azure

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** External MySQL Database (hosted on Azure)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** not relevant

**Steps t

[2016-11-10 16:10] ruzarowski commented on #6573
Same here, HA Setup is broken when upgrading from rc6 because of same issue.

[2016-11-10 16:23] radu-stefanache commented on #6313
@westlywright : So, I've redeployed rancher from the master branch and recompiled the ```component.js``` file.Tried a few times and I get this error:
![image](https://cloud.githubusercontent.com/assets/13762415/20184852/fdcb2426-a761-11e6-9249-a7449f10a055.png)

I will give it another try on Monday most probably but I just wanted to keep you updated!

[2016-11-10 16:36] janeczku commented on #6537
Hi @msmole, this looks like #5873 where the host agent state becomes inconsistent. The workaround is to remove and re-add the affected host (see https://github.com/rancher/rancher/issues/5873#issuecomment-258572500).

[2016-11-10 17:00] vincent99 commented on #6313
This has nothing to do with the original problem anymore... The data sent to the driver is up to your UI component.  What the driver does with it is up to the driver and asynchronous, long after the UI is done.

In this case it's trying to create a SSH key pair and one with that name already exists, possibly because on previous failures it didn't clean them up.

[2016-11-10 17:08] LLParse commented on #6564
@deniseschannon It was the opinion of @ibuildthecloud that the storageDriver definition should be put int the docker-compose.yml file. It is understood by the team that it functions when defined in rancher-compose.yml.

[2016-11-10 17:18] sangeethah commented on #6563
Automation run on latest master does not report this issue anymore.

[2016-11-10 17:18] #6563 closed

[2016-11-10 17:18] sangeethah commented on #6562
Automation run on latest master does not report this issue anymore.

[2016-11-10 17:18] #6562 closed

[2016-11-10 17:19] #6541 closed

[2016-11-10 17:21] sangeethah commented on #6527
Automation runs done using scheduler -  rancher/scheduler:v0.1.2 did not have services failing to activate after 2 mts.

[2016-11-10 17:21] #6527 closed

[2016-11-10 17:25] joshwget commented on #6564
It should be supported in both, but are we going to put it in `docker-compose.yml` by default? Do we put other Rancher specific items in `docker-compose.yml` in the catalog?

[2016-11-10 17:28] sangeethah commented on #6459
Automation runs using the latest master build did not report this issue.

[2016-11-10 17:28] #6459 closed

[2016-11-10 17:28] sangeethah commented on #6449
Automation runs using the latest master build did not report this issue.

[2016-11-10 17:28] #6449 closed

[2016-11-10 17:28] sangeethah commented on #6446
Automation runs using the latest master build did not report this issue.

[2016-11-10 17:28] #6446 closed

[2016-11-10 17:33] ogdabou opened #6577 "Question : Variable substitution as a partial json object"
Hi everyone,

**Rancher Version:** v1.1.3

**Docker Version:** v1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Debian 8 (64bits)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node rancher, external DB (mounted volume)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**  Cattle

**Steps to Reproduce:**
1- Create a custom r

[2016-11-10 17:41] LLParse commented on #6564
I don't think we put any of the rancher-specific stuff in `docker-compose.yml` today. Since the definition works in `rancher-compose.yml`, I don't see this as a high priority item.

[2016-11-10 18:02] aemneina commented on #6571
closing issue out.

[2016-11-10 18:02] #6571 closed

[2016-11-10 18:15] vincent99 commented on #5702
Not applicable in 1.2

[2016-11-10 18:18] tfiduccia commented on #6425
Version - master 11/10
Verified fixed

[2016-11-10 18:18] #6425 closed

[2016-11-10 18:45] tfiduccia opened #6578 "machine won't reconnect after I bump it (rancher-agent)"
**Rancher Version:** master 11/10

**Comments**
Machine went down and after i tried to restart it would not reconnect.

[2016-11-10 18:47] tfiduccia opened #6579 "metadata logs everything and never rotates"
**Rancher Version:** master 11/10

**Comment**
Metadata was logging everything and took up over 6 gigs of my google machine.

[2016-11-10 18:49] tfiduccia opened #6580 "After I stopped and started machine, new IP did not show up in rancher"
**Rancher Version:** master 11/10

**Steps to Reproduce:**
1.  Stop the machine on host side (went to google console and stopped)
2. Wait for host to disconnect on Rancher side
3. Start machine (notice it gets a new IP)
4.  Wait for host to reconnect

**Results:** Host still has old IP showing on rancher UI

**Expected:** Should show new IP

[2016-11-10 18:50] vincent99 commented on #6579
https://github.com/rancher/rancher-metadata/pull/30

[2016-11-10 18:57] tfiduccia commented on #5702
Version - master 11/10
Verified it will no longer matter.  All system stacks and such will go to user.  removing system option.

[2016-11-10 18:57] #5702 closed

[2016-11-10 18:58] tfiduccia commented on #6423
Version - master 11/10
Verified fixed

[2016-11-10 18:58] #6423 closed

[2016-11-10 18:59] tfiduccia commented on #6478
Version - master 11/10
Verified fixed

[2016-11-10 18:59] #6478 closed

[2016-11-10 19:07] tfiduccia commented on #5891
Version - master 11/10 UI - 1.2.21
@westlywright
The drop-down for environment no longer works on the iphone/ipad.  When I first get into the app, it takes me to Manage environment, and if I try to select the environment drop-down it just keeps taking me to Manage environment.

[2016-11-10 19:17] vincent99 commented on #6347
The browser is blocking the responses from `winrancher.com` from being used, probably because it's a SSL request and the cert is not valid.

[2016-11-10 19:17] #6347 closed

[2016-11-10 19:24] tfiduccia commented on #4864
Version - master 11/10
Verified fixed

[2016-11-10 19:24] #4864 closed

[2016-11-10 19:28] tfiduccia opened #6581 "User is created if I cancel out of Add Account after error"
**Rancher Version:** version master 11/10 UI 1.2.21

**Steps to Reproduce:**
1.  Enable local authentication
2.  Create an account with name Test
3.  Create another account with name Test
4.  After the duplicate name error, cancel out of the ADD account

**Results:** There is a account with no name that was created.

**Expected:** Should not be an extra account

[2016-11-10 19:47] tfiduccia commented on #6313
@radu-stefanache
Verified this works on our side, so closing issue.  You can reopen if you encounter another error.
Version - master 11/10

[2016-11-10 19:47] #6313 closed

[2016-11-10 19:51] tfiduccia opened #6582 "vultr image for machine driver is huge"
**Rancher Version:** master 11/10 UI 1.2.21

**Steps to Reproduce:**
1.  Go to machine driver page

**Results:** Notice the vultr icon is huge
![image](https://cloud.githubusercontent.com/assets/11514927/20191809/5b77cc3c-a744-11e6-97cf-d56ca15c39f5.png)

**Expected:** Should be squared off like rest of machine drivers

[2016-11-10 20:03] ibuildthecloud commented on #6564
@joshuacox @LLParse The idea is that rancher-compose.yml should be optional.  (with the exception of the .catalog key, that's a different story).  So `storage_driver` should work if I put it in the docker-compose.yml or rancher-compose.yml as a field of the service.  In v1 or v2 format.

[2016-11-10 20:53] radu-stefanache commented on #6313
@tfiduccia : I believe we'll have to reopen it. I did some more tests and it looks like this:
If I deploy one instance, it works fine, no issues at all but if I deploy multiple instances I get the error I've mentioned.

The ssh keypairs do not exist, I can assure you about it. If my understanding is correct, the ui-driver I've created sets the driver config options but the deployment is handled by

[2016-11-10 20:54] sangeethah opened #6583 "Containers with volumes using "rancher-nfs" volume driver are stuck in "starting" state forever"
Rancher Version: Build from master

Steps to reproduce the problem:

Default environment with cattle template deployed from https://github.com/rancher/rancher-catalog 1.2 branch.
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.7.0
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.2.0
rancher/scheduler:v0.1.2

Deploy "Rancher NFS" templates from catalog for a NFS V4 server and client

[2016-11-10 21:10] LLParse commented on #6583
Similar to https://github.com/rancher/rancher/issues/6566 but in this case, the containers are blocked on the `/.r/r` process indefinitely

[2016-11-10 21:38] sangeethah opened #6584 "Container links are not resolvable."
Rancher Version: Build from master

Steps to reproduce the problem:
Create a container c1 linked to another container c2 with link name as "client".
From container c1 , not able to reach c2 using linkname "client".

[2016-11-10 21:41] andreimc opened #6585 "Can't start rancher with external mysql -- liquibase"
**Rancher Version:**
latest stable

**Docker Version:**
Docker version 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):**
Centos BareMetal

3.10.0-327.36.3.el7.x86_64

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA 3 nodes
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
N/A

**Steps to Reproduce:**
run mysql in do

[2016-11-10 21:52] deniseschannon commented on #6564
Regardless of where it is, I believe that the driver is setting storage driver correctly in the API.

@LLParse If you have any more issues, please re-open.

[2016-11-10 22:03] alena1108 commented on #6544
@StrongMonkey could you look at it? might be an agent bug. We used to propagate env vars based on links

[2016-11-10 22:20] deniseschannon commented on #6575
This would be better as a forum question if you are looking for feedback from the community, but Rancher is a platform for managing containers where as RancherOS is an operating system built out of containers.

They have very different purposes so there is not a direct comparison.

Rancher - http://rancher.com/rancher/
RancherOS - http://rancher.com/rancher-os/

[2016-11-10 22:20] #6575 closed

[2016-11-10 22:40] tfiduccia opened #6586 "Started-once service now has state = unhealthy instead of started-once"
**Rancher Version:** Master 11/10

**Steps to Reproduce:**
1.  Create a service with the image = hello-world and started once on

**Results:** The container's state goes to unhealthy instead of started once.  Which means the service and stack are reflecting that state.

**Expected:**  Should be in a started-once state

[2016-11-10 22:51] soumyalj opened #6587 "Rancher Compose: Isolation key is not set in the service api"
**Rancher Version:**v1.2.0-pre4-rc7

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Cattle

**Steps to Reproduce:**
1. Create a stack with "isolation" key set using the yml file below:
[code

[2016-11-10 22:52] LLParse commented on #6564
@deniseschannon I tested this and it does not work in `docker-compose.yml`, the definition does not appear in the API and the storage handler can't do its thing. It does appear in the API when placed in `rancher-compose.yml`.

[2016-11-10 22:59] soumyalj commented on #6280
Tested with v1.2.0-pre4-rc7. All the keys mentioned above and the ones supported are working.
Created a stack using the yml file below and the stack creation was successful:
[code]
Issue related to isolation key is https://github.com/rancher/rancher/issues/6587

[2016-11-10 22:59] #6280 closed

[2016-11-10 23:29] sangeethah commented on #6505
Tested with the latest - rancher/lb-service-haproxy:latest . This issue is not seen anymore.
Automated test for this scenario reports success.

[2016-11-10 23:29] #6505 closed

[2016-11-10 23:36] tfiduccia opened #6588 "Container Network graph does not work (never shows data)"
**Rancher Version:** master 11/10

**Steps to Reproduce:**
1.  Create a container
2. Go to shell and upload large file (install curl, something)

**Results:** Network graph doesn't work

**Expected:** Network graph should work

**Comment:** Network graph works on host

[2016-11-10 23:43] soumyalj commented on #6546
Tested with master. kubectl returns all the 3 nodes:
[code]

[2016-11-10 23:43] #6546 closed

[2016-11-10 23:44] joshwget commented on #6587
@StrongMonkey Isolation is being dropped in the `/scripts/transform` API.

[2016-11-10 23:47] sangeethah commented on #6548
Tested with latest build from master.
Memory Limit value set on Edit host page.

[2016-11-10 23:47] #6548 closed

[2016-11-10 23:49] sangeethah commented on #6412
Tested with rancher/scheduler:v0.1.2 . When deploying containers with no reservation requirements , containers get distributed equally across all the nodes in the host.

[2016-11-10 23:49] #6412 closed

[2016-11-10 23:52] LLParse commented on #6566
@cjellick rancher-nfs, rancher-efs and rancher-ebs are all afflicted by this bug. It only sometimes happens.

If the container gets stuck, there will be 2 rows for a single volume, one in `Inactive` state and another in `Detached` state. This can be seen on the storage screen. Deleting this container will cause the `Inactive` volume to be deleted - the deletion logic is not triggered. Deleting the

[2016-11-10 23:54] LLParse commented on #6565
The rancher-nfs, rancher-efs and rancher-ebs plugins are all afflicted by this bug. I believe it is a symptom of https://github.com/rancher/rancher/issues/6566. Leaving the issue open for now.

[2016-11-10 23:55] tfiduccia opened #6589 "New Catalog items don't show up in Catalog list until browser refresh"
**Rancher Version:** master 11/10

**Steps to Reproduce:**
1.  Create a new catalog item (a whole new folder)
2.  Click on the catalog refresh button on catalog page

**Results:** The new catalog item doesn't show up.  I have to hit the browser refresh to see it.

**Expected:**  New catalog should show up when I click on catalog refresh button.

[2016-11-11 00:00] deniseschannon commented on #6564
Determined the issue

When `storage_driver` is in rancher-compose.yml, it correctly creates a storageDriverService in Rancher as expected, but when it's in docker-compose.yml, it creates a service.

updated the templates so that `storage_driver` is in rancher-compose.yml so that it works, but need a fix in rancher-compose.

[2016-11-11 00:01] sangeethah commented on #6549
Tested with latest build from master.
Create a service with "Memory reservation" set to some value (say 1000).
on Clone/upgrade the service , "Memory reservation" value is populated correctly.

[2016-11-11 00:01] #6549 closed

[2016-11-11 00:04] StrongMonkey commented on #6587
@alena1108 Could you please take a look? I have test cases that already covered `isolation`, but i doubt this is beyond the logic i wrote in cattle. Is there any java classed that does this transformation?

[2016-11-11 00:05] tfiduccia commented on #6431
Version - master 11/10
Verified fixed

[2016-11-11 00:05] #6431 closed

[2016-11-11 00:06] sangeethah commented on #6529
Tested with latest build from master.
rancher/dns:v0.10.2
rancher/healthcheck:v0.1.0
rancher/net:v0.7.0
rancher/metadata:v0.6.3
rancher/plugin-manager:v0.2.0
rancher/storage-nfs:v0.1.1
rancher/scheduler:v0.1.2

Host network test cases relating to DNS resolution was  modified to use FQDN for dig to return expected ipaddresses.

Host network test cases relating to access service links by name was re

[2016-11-11 00:06] #6529 closed

[2016-11-11 00:08] StrongMonkey commented on #6587
I think `ServiceDiscoveryConfigItem.java` is only responsible for transforming `launch_config` into yml files.

[2016-11-11 00:12] vincent99 commented on #6589
Clears the cache copy when you click refresh now.

[2016-11-11 00:27] sangeethah commented on #3589
With latest builds form master , containers within the service have names in the following format:
```<stackname>-<servicename>-<createindex> ```

[2016-11-11 00:27] #3589 closed

[2016-11-11 00:36] tfiduccia opened #6590 "removing port rules will cause error even if I have one port left"
**Rancher Version:** Version - master 11/10

**Steps to Reproduce:**
1.  Go to load balancer page
2.  Add two more rules
3.  Delete top two
4.  Fill out all information to create load balancer

**Results:** Error that says "Choose one or more port rules to listen on"

**Expected:** Should not get error

[2016-11-11 00:36] vincent99 commented on #6588
This is only on some containers, like those with managed network

[2016-11-11 00:58] sangeethah opened #6591 "Should be allowed to create LB services without certificates when protocol is set to TLS/SNI for port rules."
Rancher Version: Build from master

Steps to reproduce the problem:
Try to create LB services without certificates with protocol set to SNI for port rules.
UI prevents us from doing this:
<img width="1279" alt="screen shot 2016-11-10 at 4 54 50 pm" src="https://cloud.githubusercontent.com/assets/4266958/20200604/ed83bcc2-a766-11e6-8dd3-4603520495e1.png">

[2016-11-11 01:31] sangeethah commented on #6388
Tested rancher-server version - v1.2.0-pre4-rc7.
This issue is not reproducible anymore.

There is no delay when viewing templates from catalog in a set up where github access is blocked.

[2016-11-11 01:31] #6388 closed

[2016-11-11 03:45] justsml commented on #2229
Has this been added?

Is everyone an AWS/S3 customer?
Did I miss a memo along the way?

I might be able to add it, I'd like to score some Go OSS contribs ;)

[2016-11-11 04:37] patientayo opened #6592 "support the aliyun OSS storage."
I'm new to rancher, does anyone support this storage driver.

[2016-11-11 04:48] patientayo commented on #6576
you set empty password in this user ?
retry by setting a password.

[2016-11-11 05:41] saphoooo commented on #6536
I noticed that in v1.2.0-pre4-rc7 catalog is broken and I cannot deploy anything from there

[2016-11-11 05:41] aemneina commented on #6452
I believe this is expected in that /tmp is an immutable folder and convoy-nfs does try to [chown the mount point.](https://github.com/rancher/convoy-agent/blob/master/scripts/entry#L4) . @cjellick  does that sound about right?

[2016-11-11 05:44] aemneina commented on #6443
Also providing container logs might help get to the bottom of this quicker. I'll close this for now, if you can explore the links I sent, and are still facing issues, provide logs... feel free to reopen.

[2016-11-11 05:44] #6443 closed

[2016-11-11 05:45] aemneina commented on #6441
I'll close this out, if you can repro this on a 'supported' docker version feel free to reopen.

[2016-11-11 05:45] #6441 closed

[2016-11-11 05:46] aemneina commented on #6371
I'll close this out, if you can provide logs feel free to reopen.

[2016-11-11 05:46] #6371 closed

[2016-11-11 05:54] aemneina commented on #6328
@kvaes I think we can retire this in favor of https://github.com/rancher/rancher/issues/6396 , does that work?

[2016-11-11 06:00] aemneina commented on #6436
@galindro curious to know if this works with docker 1.10.3? Would there be any chance to validate the issue there?

[2016-11-11 06:01] aemneina commented on #6419
@Chris7 I'd also be interested to know if this works with docker 1.10.3...

[2016-11-11 06:05] aemneina commented on #6400
so this is no longer an issue for you?

[2016-11-11 07:05] kvaes commented on #6576
@patientayo you funny guy ;-) But I can understand you want to double check that one...

The log file doesn't show the password, and in my example's I used a password everytime.(hence the "Enter password:"-prompt).

In regards to the startup of Rancher, I used the following command;

sudo docker run -d --restart=unless-stopped -p 8080:8080 \
    -e CATTLE_DB_CATTLE_MYSQL_HOST="ranchermysql.mydomai

[2016-11-11 07:10] kvaes commented on #6576
the environment variables from my rancher container

root@d333f361b122:/usr/share/cattle# env | grep -i CATTLE_DB
CATTLE_DB_CATTLE_PASSWORD=Mysecretranchermysqlpassword666!
CATTLE_DB_CATTLE_MYSQL_PORT=3306
CATTLE_DB_CATTLE_USERNAME=kvaes@ranchermysql
CATTLE_DB_CATTLE_MYSQL_NAME=cattle
CATTLE_DB_CATTLE_DATABASE=mysql
CATTLE_DB_CATTLE_MYSQL_HOST=ranchermysql.mydomain.tld

[2016-11-11 07:14] kvaes commented on #6328
Those are different issues... This issue is when the Application Gateway is "upgraded" with WAF capabilties. Issue #6396 is even when it is "limited" to "SSL Termination Only" (without any WAF capabilties).

[2016-11-11 07:19] kvaes commented on #6328
In relation to the this issue, earlier this week I did the following setup ; https://kvaes.wordpress.com/2016/11/09/azure-a-poor-mans-ssl-termination-by-leveraging-cloudflare/

My experience when doing this ; hosts get added without a problem, but... they go into "reconnecting" state on a regular basis. I also notice that the portal was unreachable on a regular basis.

Now in the past I always use

[2016-11-11 07:44] Tigraine opened #6593 "Start before stopping (downtime less rolling deployment) not working on some services"
Hi,
I we running rancher v1.1.4 on Docker 1.10.3-0~trusty on Ubuntu 14.04 LTS in AWS EC2.
It's a HA setup with 3 Servers with Cattle.

On most services (after setting up health checks) we can upgrade a service with "Start before stopping" where Rancher will first wait for the new container to become healthy before it shuts down the old container. This way we get no downtimes when deploying a new v

[2016-11-11 08:23] thekiwi commented on #6258
Thanks @aemneina - unfortunately the host in question doesn't appear in the /v1/hosts endpoint, only in the /v1/physicalHosts one.

Also, there has been a slight change in the above - it only seems to be occurring to a single physicalHost now, it appears as if the others have been cleaned up.

How can I remove a host from the physicalHosts collection via the API? Is that the correct thing to do in

[2016-11-11 08:27] thekiwi commented on #6258
Also, this is what appears in our "Running Processes" tab:
![chrome_2016-11-11_08-26-03](https://cloud.githubusercontent.com/assets/710204/20208821/8fbfd184-a7e8-11e6-900e-50b35cbb85c4.png)

As you can see, the `physicalhost.remove` process has been running on the same problematic host (1ph14) for apparently 6 months.

[2016-11-11 08:54] Tigraine commented on #6593
Update on the situation: We just upped the scale on this service to 2 and tried upgrade again.

This time it waited for the third container to turn healthy, then started the 4th and immediately shut down the first 2. Better, but still not ideal as preferably i'd like 4 containers running and healthy before it is killing my old ones.

[2016-11-11 09:24] Dids commented on #1787
Does Rancher not support catch-all wildcards? I need one container to be a "fallback" container, so if no other rules match, go to this one. This needs to catch any custom domains pointing to it, and is crucial to my use case. Worked fine with setting the virtual host and weight with the official Docker Cloud image, but I've since migrated to Rancher.

[2016-11-11 09:45] #6585 closed

[2016-11-11 14:36] danielpalstra commented on #6573
Also experiencing the same issue with  v1.2.0-pre4-rc7 on CentOS 7. Als see the following error when using a LB in combination rancher-compose version v0.11.0-rc6

ERRO[0000] Failed Creating weblb : Bad response statusCode [422]. Status [422 status code 422]. Body: [fieldName=lbConfig, baseType=error, code=MissingRequired] from [http://rancher.*****l/v2-beta/loadbalancerservices]
ERRO[0000] Failed

[2016-11-11 16:22] vincent99 commented on #6576
Try the IP address instead of the name to see if it's related to Java name resolution?

Tcpdump?  Lots of people use external databases so there's got to be something special about your situation.

[2016-11-11 16:35] juanfont commented on #3147
+100000

[2016-11-11 16:50] vincent99 commented on #6573
RCs are intended for use by us for our QA.  There is no guarantee they work at all, will upgrade from previous versions, or support upgrading to future versions. Anybody that isn't developing our testing in a throwaway  installation should be acting an actual release, or at least a -`preX` (with no `-rcY`).

And those non-guarantees are specifically true in this RC cycle, the current build does NO

[2016-11-11 16:50] #6573 closed

[2016-11-11 17:43] vincent99 commented on #6591
oops, yup

[2016-11-11 17:43] sangeethah commented on #6366
With latest build from master , automation runs take ~4 hours to complete.

[2016-11-11 18:27] sangeethah commented on #6569
Tested with latest build from master Nov11:

Able to create a stack with docker-compose.yml provided in this issue.
Able to get an LB created with correct targets.

[2016-11-11 18:27] #6569 closed

[2016-11-11 18:45] soumyalj commented on #6311
Verified with v1.2.0-pre4-rc7. Created a local registry <localhost:5000> and pushed an ubuntu image to this registry on host1. On host2, configured --insecure-registry <ipaddress of host1>:5000.
Created a container on host2 using image <ipaddress>:5000/ubuntu successfully.

[2016-11-11 18:45] #6311 closed

[2016-11-11 18:48] sangeethah opened #6594 "When yml compose files with certs for LB in v1 version is used to create stack , LB is stuck in "Initializing" state forever."
Rancher server version - Build from master

Steps to reproduce the problem:
Create 2 certs "test1" and "test2".
Use the following yml compose files to create stack.

LB gets stuck in "Initializing" state forever with following error message seen:
[code]

ymls used:

[code]

[2016-11-11 18:50] soumyalj commented on #6406
Verified with v1.2.0-pre4-rc7. Created a local registry ```localhost:5000``` and pushed an ubuntu image to this registry on host1. On host2, configured --insecure-registry ipaddress of host1:5000.
Created a container on host2 using image ```ipaddress:5000/ubuntu ```successfully.

[2016-11-11 18:50] #6406 closed

[2016-11-11 18:50] tfiduccia opened #6595 "Name should be required field in Add Host"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  Add Host without Name

**Results:** Able to go through steps, but it will fail because it needs it.

**Expected:** Make Name required

[2016-11-11 19:10] LLParse opened #6596 "rancher-ebs: 11 EBS volume limit isn't enforced by scheduler, volume attach fails"
**Rancher Version:** master

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** aws

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reproduce:**
1. Create an environment with one AWS instance
2. Launch the `rancher-ebs` template
3. L

[2016-11-11 19:20] aemneina commented on #6593
hey @Tigraine how many hosts do you have, and are you binding the service to a port? Also do you have an example docker/rancher-compose.yml files, for your stack/service definitions, we can take a look at?

[2016-11-11 19:31] sangeethah opened #6597 "v1 LB compose files - Suppress io.rancher.loadbalancer.target.<servicename> from being added to the LB."
Rancher Version: Build from master

Rancher server version - Build from master

Steps to reproduce the problem:
Use the following yml compose files to create stack.

LB  that gets created has the following labels set which needs to be suppressed:

[code]

yml used:
[code]

[2016-11-11 19:33] aemneina commented on #6148
@virtuman let us know if you sorted this out, feel free to reopen if issues still persist.

[2016-11-11 19:33] #6148 closed

[2016-11-11 19:36] sangeethah opened #6598 "When yml compose files with target port override for LB in v1 version is used to create stack , LB is missing port rules."
Rancher Version: Build form master

Steps to reproduce the problem:
Use the following yml compose files to create stack.
[code]
Target test956454 has 2 port rules  relating to ```/service3.html=80``` for both ports - 1008 and 1009.
as expected.

Missing  port rules relating relating to  1008 and 1009 for port ```/service1.html=80```

[2016-11-11 19:37] vincent99 commented on #6590
FYI it's actually because you were using the move up/down arrows, not adding/removing...

[2016-11-11 19:42] kvaes commented on #6576
A connection on IP has the same result.

When doing a tcpdump, I can see the following error message passing ; #08S01Bad handshake

Sidenote, the service I'm connecting to uses ; Server version: 5.6.26.0 MySQL Community Server (GPL)

[2016-11-11 19:56] aemneina commented on #6245
I'll close this out.... feel free to reopen if youre still hitting this issue. If you solved it, it would be great to hear how.

[2016-11-11 19:56] #6245 closed

[2016-11-11 19:57] aemneina commented on #6246
I'll close this, if you're still hitting this issue could you please share your docker/rancher-compose.yml files?

[2016-11-11 19:57] #6246 closed

[2016-11-11 20:00] aemneina commented on #6204
from the rancher agent host can you curl http(s)://RANCHER_URL(:port)/v1? can you also post the full logs from the rancher-agent container?

[2016-11-11 20:02] aemneina commented on #6118
@boskiv were you able to resolve this? If you could check this with the latest -pre release, avoiding an -rc candidate, feel free to reopen.

[2016-11-11 20:02] #6118 closed

[2016-11-11 20:05] aemneina commented on #6056
@mediatainment if you're still facing this, could you reopen and provide more details?

[2016-11-11 20:05] #6056 closed

[2016-11-11 20:05] aemneina commented on #5841
@emilebosch I'll close this out, if you have more questions feel free to open a new ticket.

[2016-11-11 20:05] #5841 closed

[2016-11-11 20:07] kvaes commented on #6576
When I look at a tcpdump from a working connection (f.e. the mysql command from the host to the mysql service), then I see "SSL SHA20.." passing by after the login.

Could it be that the service is enforcing encryption, and that I'm running into this one ; #4199

[2016-11-11 20:39] vincent99 commented on #6576
Yes that sounds like the problem; MySQL uses StartTLS-style encryption where the client upgrades a that specific connection to TLS.  On the server side either the whole server can be set to require TLS (http://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_require_secure_transport) or for individual users (http://dev.mysql.com/doc/refman/5.7/en/create-user.html#create-user-tls

[2016-11-11 21:02] aemneina commented on #5895
hey @kaos Not sure if 1.1.x is the swarm implementation you'd want to use. Have you tried it in 1.2.0-pre3?

[2016-11-11 21:09] aemneina commented on #6043
@ravlio can you share details on how this is deployed, is there a docker/rancher-compose.yml file you could share that reproduces this?

[2016-11-11 21:12] soumyalj commented on #6496
Tested with master. The server version reported is 1.4.5-rancher2 as shown below:
[code]

[2016-11-11 21:12] #6496 closed

[2016-11-11 21:15] aemneina commented on #6357
hey @JeanDaniel-Fischer can you share the docker/rancher-compose.yml files you used here?

[2016-11-11 21:20] deniseschannon commented on #6357
@aemneina @JeanDaniel-Fischer Correct, build is not supported when launching catalogs as it's expected to be used with a local filesystem. Inside the rancher server container, we don't have support for build for services.

[2016-11-11 21:20] #6357 closed

[2016-11-11 21:20] aemneina commented on #6354
@sylvesterjakubowski which version of rancher is this?

[2016-11-11 21:33] galal-hussein opened #6599 "DNS support for k8s Pods"
**Rancher Version:**
master build (11 Nov)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4.5

- Create kubernetes environment
- run the following pod:

[code]

The DNS should resolve (POD-IP.my_namespace.pod.cluster.local), but it doesn't:
[code]

[2016-11-11 21:37] aemneina commented on #6258
is there anything returned from the following sql query?:

`select resource_id, start_time, exit_reason from process_instance where process_name='agent.reconnect' and end_time is null and resource_id in (select id from agent where id not in (select agent_id from host) and removed is null and state='reconnecting');`

[2016-11-11 21:41] galal-hussein opened #6600 "DNS support for "hostname" and "subdomain" Pod Specs"
**Rancher Version:**
master build (11 Nov)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4.5

**Steps to Reproduce:**
- Create kubernetes stack
- Run the following pod:
[code]
The DNS should resolve (**foo.bar.default.svc.cluster.local**) to the pod's IP.

[code]

[2016-11-11 21:56] tfiduccia opened #6601 "sort order of containers in drop-down looks random"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  Add a bunch of services
2. Go to one of the service's container detail page
3. Click the drop-down to see all containers on that host

**Results:** Container list is random and not sorted alphabetically

**Expected:** Should be alphabetic

[2016-11-11 22:02] soumyalj commented on #6464
Tested with master and Kubernetes 1.4.5. I am able to access http.port and also port 443
[code]
[code]

[2016-11-11 22:02] #6464 closed

[2016-11-11 22:15] tfiduccia opened #6602 "Can't create volume get error saying create rancher cni: conflict name must be unique"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  I setup convoy-nfs
2.  Create a service using convoy-nfs

**Results:**  Error (Error response from daemon: create rancher-cni: conflict: volume name must be unique)

**Expected:** Should be able to setup

[2016-11-11 22:28] tfiduccia opened #6603 "Virtual Machine missing from menu"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  Go to infrastructure menu

**Results:** Virtual machine is missing (also missing from services)

**Expected:**  Should be there.

[2016-11-11 22:43] alena1108 commented on #6586
@leodotcloud seems that it has something to do with our networking. So we have a very short living container (started using image "hello-world:latest"). It never gets an ip address assigned to it, therefore it never considered as started even once by cattle.

In Rancher, we have support for NOT restarting short living containers (data containers for instance) by passing the label start-once true (

[2016-11-11 22:48] StrongMonkey commented on #6544
looked at the agent's code, not sure if that is a agent bug. In our agent we have several test cases that already covered `links`. If the instanceLinks come at this format: ```"instanceLinks" : [
                    {
                        "type" : "instanceLink",
                        "linkName" : "mysql",
                        "data" : {
                            "fields" : {

[2016-11-11 23:08] alena1108 commented on #6586
Looked at the logs more. Looks like instance.start command never completes due to this error reported by the agent for short lived container (and it used to work before)

[code]

[code]

there gotta be some timing issue because it used to work before. And for "hello-world" container the start process was always completed.

adding @StrongMonkey too

[2016-11-11 23:29] tfiduccia opened #6604 "Make default version of docker for Add host be 1.12.3 instead of 1.12.2?"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  Add one of each host

**Results:** Default docker version installed is 1.12.2

**Expected:** Should be 1.12.3?

[2016-11-11 23:47] tfiduccia opened #6605 "Orchestration is always showing as cattle in telemetry"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  Create a cattle, mesos, k8s, and swarm environments
2.  Run telemetry report
3.  View telemetry report

**Results:** In environment section all are going under cattle in the orch section.

**Expected:** Should recognize that they are not cattle and report accordingly

[2016-11-11 23:53] vincent99 commented on #6605
https://github.com/rancher/telemetry/pull/8

[2016-11-12 00:15] tfiduccia opened #6606 "Container scheduling tab says Run on specific host if I set service to global"
**Rancher Version:** master 11/11

**Steps to Reproduce:**
1.  Create a service that has global set to true (always run one instance of this container on every host)
2.  Go to the container and select the scheduling tab

**Results:** Scheduling says i selected Run on specific host.
![image](https://cloud.githubusercontent.com/assets/11514927/20233937/5fd4f18a-a832-11e6-9ee5-ca1238449263.png)

**Ex

[2016-11-12 00:49] sangeethah commented on #6458
Tested with latest build from master:
stickiness policy does not get set for LB when there is no stickiness policy in yml files.

[2016-11-12 00:49] #6458 closed

[2016-11-12 00:52] vincent99 commented on #6603
Not supported in 1.2.0 backend...

[2016-11-12 01:07] sylvesterjakubowski commented on #6354
`v1.1.4` thanks! @aemneina

[2016-11-12 01:24] sangeethah commented on #6434
Tested with rancher compose version - v0.11.0-rc10.
uts option is supported now.

[2016-11-12 01:24] #6434 closed

[2016-11-12 15:43] lkm commented on #5873
@aemneina I've tried removing the '/var/lib/rancher' dir as well, it still occurred after that. Also, it's an inconvenient fix as it recreates the host in rancher and you have remove the "old" host and stop all containers running on it. That can be avoided with the db update. I'm afraid I don't have the rancher logs on hand, I will copy it next time it happens.

Surely the code shouldn't allow for

[2016-11-12 17:59] natami commented on #6426
Is this fix available in pre4-rc7?

- I'm still seeing massive TypeError: Cannot read property 'indexOf' of undefined and Uncaught TypeError: Cannot read property 'outlets' of undefined(…)

[2016-11-12 21:14] natami opened #6607 "Agent error when using LetsEncrypt cert"
I am having trouble registering a host/agent using certificates from letsencrypt.
I used the certbot to generate the certificates - and configured those into nginx - and browser is accepting the certificate with no warnings.

**Rancher Version:**
pre4-rc5

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ununtu 16.04

**Setup Details: (single node rancher vs.

[2016-11-12 21:27] bradjones1 opened #6608 "Rancher stuck forever trying to delete/stop non-existent container"
**Rancher Version:**

Server 1.2.0-pre3, agent 1.0.2

**Docker Version:**

1.12.1 (on host with agent)

**OS and where are the hosts located? (cloud, bare metal, etc):**

Ubuntu 14.04.4, on the Softlayer Cloud.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single-node rancher server, external dB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

[2016-11-12 21:48] aemneina commented on #6469
Cool I'll close this out... Also not sure if you took a peek here for an [example haproxy config here](http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/basic-ssl-config/#example-haproxy-configuration), it might help.

[2016-11-12 21:48] #6469 closed

[2016-11-12 22:59] aemneina commented on #6466
@Matty9191 just installed fedora 24 with the latest docker 1.12.3 and was able to launch rancher server and add an agent without issue. For the vbox config i had each fedora host attached to the network in bridged mode... youre right in that nothing special need to be done besides run the rancher server and agent containers.

[2016-11-12 23:12] aemneina commented on #5873
@lkm agreed, this [PR #2099](https://github.com/rancher/cattle/pull/2099) seems to help the state machine deal with hosts stuck in reconnecting. That should be going in to 1.2.0. I'll close this out for now, if you happen to see this in 1.2.0+ we could revisit the issue.