[2016-09-16 19:37] #5786 closed

[2016-09-16 19:39] tfiduccia commented on #4932
Version - master 9/16
Verified fixed

[2016-09-16 19:39] #4932 closed

[2016-09-16 20:08] cloudnautique commented on #5986
Fix is in docker image rancher/secrets-bridge:v0.1.2 which is part of the community catalog now.

[2016-09-16 20:10] cloudnautique commented on #5983
Should be resolved in rancher/secrets-bridge:v0.1.2 in the latest catalog entry.

[2016-09-16 20:27] cloudnautique commented on #5903
Load balancer has been added to catalog entry in rancher/community-catalog#281

[2016-09-16 20:29] soumyalj opened #5989 "etcd stuck in stopped state during Kubernetes upgrade"
**Rancher Version:**1.1.4-rc1

**Docker Version:**: 1.10.3 for Kubernetes hosts

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Kubernetes

**Steps to Reproduce:**
1. Start with rancher server version 1.1.3 and have few services/lb in cattle env
2. Create a Kubernetes environment with Kubernetes template versio

[2016-09-16 20:30] #3356 closed

[2016-09-16 20:31] deniseschannon commented on #3117
We have removed GlusterFS from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes.

Closing this issue.

[2016-09-16 20:31] #3117 closed

[2016-09-16 20:31] deniseschannon commented on #2970
We have removed GlusterFS from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes.

Closing this issue.

[2016-09-16 20:31] #2970 closed

[2016-09-16 20:37] sangeethah commented on #5985
yml used for creating pods:

[code]

[2016-09-16 21:06] #5984 closed

[2016-09-16 21:28] tfiduccia commented on #5988
@ahaynssen - this is currently fixed in our rancher v1.2.0-pre3 release as part of #5414 fix.

[2016-09-16 21:28] #5988 closed

[2016-09-16 21:31] drpebcak commented on #5374
@aemneina No, that query returns 0 records.

[2016-09-16 21:44] sangeethah commented on #5983
Tested with rancher/secrets-bridge:v0.1.1
This issue is not seen anymore.

[2016-09-16 21:44] #5983 closed

[2016-09-16 21:49] sangeethah opened #5990 "Not able to get permanent key when containers are deployed with secrets.bridge.enabled: "true" but without "secrets.bridge.k8s.path" label."
Rancher Version:v1.1.4-rc1

Set up secrets-bridge-server and secret-bridge-agent by following instruction in https://github.com/rancher/secrets-bridge/blob/master/docs/setup.md for k8s environment.

Create pods with label - secrets.bridge.enabled: "true" but without "secrets.bridge.k8s.path" label.

Following error seen when trying to fetch the permanent token:

[code]
CUBBY_PATH url has "//" like

[2016-09-16 21:56] aemneina commented on #5950
@CBR09 the word is that this [pr](https://github.com/rancher/cattle/pull/1958) will fix that. Should be in 1.2.0-pre3 already, and is expected to be in 1.1.4 as well.

[2016-09-16 22:05] tfiduccia commented on #5972
Duplicate of #5290

[2016-09-16 22:05] #5972 closed

[2016-09-16 23:13] dj-hedgehog commented on #5351
@vincent99 I must've overlooked your suggestion to use the fully qualified name `containername.`. This works flawlessly. Closing because I consider the solution to be proper.

[2016-09-16 23:13] #5351 closed

[2016-09-16 23:14] tfiduccia commented on #5262
Version - master 9/16
Not able to reproduce this anymore

[2016-09-16 23:14] #5262 closed

[2016-09-16 23:20] tfiduccia commented on #5137
Closing in favor of #4213

[2016-09-16 23:20] #5137 closed

[2016-09-16 23:22] sangeethah commented on #5986
Tested with rancher/secrets-bridge:v0.1.2
This issue is not seen anymore.

[2016-09-16 23:22] #5986 closed

[2016-09-16 23:25] tfiduccia commented on #5300
Version - master 9/16
Can no longer reproduce
Verified fixed

[2016-09-16 23:25] #5300 closed

[2016-09-16 23:56] dj-hedgehog opened #5991 "Purge process_execution, instance and instance_label_map data?"
**Rancher Version:** 1.1.3
**Docker Version:** 1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher with internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I've read about purging old database entries here http://docs.rancher.com/rancher/v1.2/en/faqs/s

[2016-09-16 23:57] tfiduccia commented on #3661
Relate to #3157

[2016-09-17 00:10] tfiduccia commented on #4810
Version - master 9/16
Although we fixed the catalog so there is only 1 Entertainment category, the Issue still exist.
Steps:
1.  Create two catalogs - one with category = test, the other with category = Test.
2.  Upload and go to catalog, refresh
3.  Go to category drop-down

You will see two Test categories
![image](https://cloud.githubusercontent.com/assets/11514927/18604337/505ff5c0-7c30-11e6-8

[2016-09-17 00:17] alena1108 commented on #5985
Fix is available in master branch

[2016-09-17 00:32] vincent99 commented on #180
@santagada What version are you on?  This should have been fixed somewhere in 1.0.x

[2016-09-17 00:33] dj-hedgehog opened #5992 "Can't view logs or execute shell on Ubuntu 16.04 hosts"
**Rancher Version:** 1.1.3
**Docker Version:** 1.12.1 & 1.11.1
**OS and where are the hosts located? (cloud, bare metal, etc):** cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher with internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I'm using two CentOS hosts and two Ubuntu hosts. One has 14.04 installed, the oth

[2016-09-17 00:40] aemneina commented on #5992
Docker 1.12 isn't supported with rancher 1.1.x code line. Can you downgrade docker and try again? Reopen if it's resurfaces on a supported platform.

[2016-09-17 00:59] dj-hedgehog commented on #5992
Please re-open it. I just upgraded to Docker 1.12 and had the same problem with Docker 1.11 before.
I migrated all my hosts to Overlay2 today (to get rid of that damn devicemapper) so I can't downgrade anymore.

[2016-09-17 01:11] brightbulbnz commented on #583
+1! Must have

[2016-09-17 01:14] aemneina commented on #5992
Are you connecting directly to the rancher server? Is there any LB/firewall in between?

[2016-09-17 01:46] dj-hedgehog commented on #5992
There is nothing inbetween. I can also connect to the other three hosts as expected.

[2016-09-17 02:16] sangeethah commented on #5990
Tested with rancher/secrets-bridge:v0.1.3 version.

This issue is not seen any more.
Able to get permanent key when containers are deployed with secrets.bridge.enabled: "true" but without "secrets.bridge.k8s.path" label.

[2016-09-17 02:22] sangeethah opened #5993 "Lb service started for secrets-bridge-server links to incorrect port."
Tested with rancher/secrets-bridge:v0.1.3
LB services started for servicing secrets-bridge links to 8081 instead of 8181 for secrets-bridge service.

[2016-09-17 03:57] aemneina commented on #5992
If you're using chrome can you share any logs from the dev tools console?

[2016-09-17 06:08] #182 closed

[2016-09-17 06:09] #774 closed

[2016-09-17 06:10] #835 closed

[2016-09-17 06:11] #941 closed

[2016-09-17 06:11] #1006 closed

[2016-09-17 06:12] #1372 closed

[2016-09-17 06:12] #1532 closed

[2016-09-17 06:12] #1658 closed

[2016-09-17 06:13] #1782 closed

[2016-09-17 06:13] #1783 closed

[2016-09-17 06:13] #1785 closed

[2016-09-17 06:14] #1831 closed

[2016-09-17 06:14] #1857 closed

[2016-09-17 06:14] #1881 closed

[2016-09-17 06:15] #1959 closed

[2016-09-17 06:15] #2057 closed

[2016-09-17 06:16] #2069 closed

[2016-09-17 06:17] #2071 closed

[2016-09-17 06:17] #2081 closed

[2016-09-17 06:17] #2088 closed

[2016-09-17 06:18] #2099 closed

[2016-09-17 06:18] #2278 closed

[2016-09-17 06:19] #2290 closed

[2016-09-17 06:19] #2420 closed

[2016-09-17 06:19] #2436 closed

[2016-09-17 06:20] #2452 closed

[2016-09-17 06:20] #2513 closed

[2016-09-17 06:21] #2525 closed

[2016-09-17 06:21] #2625 closed

[2016-09-17 06:22] #2699 closed

[2016-09-17 06:22] #2709 closed

[2016-09-17 06:23] #2785 closed

[2016-09-17 06:23] #2792 closed

[2016-09-17 06:24] #2961 closed

[2016-09-17 06:25] #3014 closed

[2016-09-17 06:25] #3108 closed

[2016-09-17 06:25] #3135 closed

[2016-09-17 06:25] #3913 closed

[2016-09-17 06:26] #1832 closed

[2016-09-17 06:26] #1953 closed

[2016-09-17 06:26] #2125 closed

[2016-09-17 06:27] dj-hedgehog commented on #5992
On trying `Execute Shell` I get:

Note: I shortened the token greatly.

Its the same for "View Logs", just with the `/logs` endpoint.

[2016-09-17 07:04] dj-hedgehog opened #5994 "Search path in container doesn't reflect hosts /etc/resolv.conf"
**Rancher Version:** 1.1.3
**Docker Version:** 1.11.1
**OS and where are the hosts located? (cloud, bare metal, etc):** cloud, CentOS 7
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I've changed my hosts `etc/resolv.conf` file and removed the entry `search happysrv.

[2016-09-17 14:00] asthomasdk commented on #5964
The clone is being executed from the Rancher UI - and cloning a host that was created with the Scaleway docker-machine driver.

[2016-09-17 18:56] bemosior commented on #3723
I encountered this issue (`invalid value "." for flag -v: . is not an absolute path`) on Rancher agent launch after an upgrade from Docker 1.6 to 1.12.1 on Ubuntu 14.04. Killing all containers and removing all images did allow me to successfully run the agent.

[2016-09-17 19:42] Joeasaurus opened #5995 "Containers can't find Convoy-EFS volume after Host restart"
**Rancher Version:** 1.1.3

**Docker Version:**  1.12.1, build 23cf638

**OS and where are the hosts located? (cloud, bare metal, etc):** RancherOS 0.6.1. Hosted on AWS EC2, added to default Environment via "Custom" Host addition. Boot managed via an AutoScaling Group & Cloud-Config.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB):** Single Node with External DB

[2016-09-17 19:55] Joeasaurus commented on #5994
I was seeing this issue as well, in the end I just started all over again 😲  I tried putting the rancher.internal domains in there manually so I could force them to go first but it seemed not to fix anything.

I have resorted temporarily to not specifying any search domains on the host and enforcing that all my services use FQDNs. I'd like to see you find a fix here @dj-hedgehog!

[2016-09-17 20:43] Joeasaurus commented on #5995
I killed the host again and it repeated the exact issue. Convoy came back and mounted at `convoy-efs-f23b27c2-9c21-407c-abd9-2ea6b65dd4ae` but GitLab is still looking for `Error (404 Client Error: Not Found ("open /var/lib/rancher/convoy/convoy-efs-245b4976-c778-42a9-972f-347ed08b0ba7/mnt/gitlab-logs: no such file or directory"))`

[2016-09-17 21:20] Joeasaurus commented on #5995
I tried deleting the `convoy-nfs` stack and recreating it, but no luck :(

Then I noticed this: http://i.imgur.com/4lPiMx1.png -- seems every time a gitlab containers spins, it creates "something" for it?

[2016-09-17 21:58] vincent99 commented on #5964
I thought this was fixed but apparently not.. https://github.com/rancher/rancher/issues/2226

[2016-09-17 21:58] #5964 closed

[2016-09-17 22:30] santagada commented on #180
Component	Version
Rancher	v1.1.3
Cattle	v0.165.8.1
User Interface	v1.1.12
Rancher Compose	v0.8.6

os: Amazon Linux AMI 2016.03

[2016-09-17 23:37] Joeasaurus commented on #5995
Aha, I looked in the `mnt/config/vfs_volume_*.json` files and noticed they look like this:
[code]

So if this was a relative path, or got updated some how, then it would probably work. `convoy.cfg` seems to be correct as per the booted instance:
[code]

So I suppose this is a problem I'll take up with Convoy.

[2016-09-18 03:15] cafeliker commented on #388
@deniseschannon from your workaround, I did some tests and found a code level workaround - I added 1 line codes after line #443 in rancher/agent/run.sh:

export CATTLE_AGENT_IP=$(curl http://instance-data/latest/meta-data/public-ipv4)

It worked for my AWS EC2 agent nodes; I understand you maybe don't want to have any cloud provider specific codes in this repo, and can you share me which repo is a

[2016-09-18 04:24] inabhi9 commented on #5334
@vincent99 One way I can think of is to spin up the machine with new ssh key and once the machine is up inject the user key as well

[2016-09-18 06:48] donghui commented on #5290
@tfiduccia I don't think #5972 Duplicate of #5290.

**The reason:**
In #5290: kubelet container fails with the following error:
time="2016-06-30T00:56:51Z" level=fatal msg="Failed to find state.json"

But in #5972 there is no such error. and Kubernetes_rancher-ingress-controller_1 can not start normally.
Log in Kubernetes_rancher-ingress-controller_1:
time="2016-09-14T14:00:38Z" level=error msg="H

[2016-09-18 06:48] donghui commented on #5972
**The reason:**
In #5290: kubelet container fails with the following error:
time="2016-06-30T00:56:51Z" level=fatal msg="Failed to find state.json"

But in #5972 there is no such error. and Kubernetes_rancher-ingress-controller_1 can not start normally.
Log in Kubernetes_rancher-ingress-controller_1:
time="2016-09-14T14:00:38Z" level=error msg="Health check failed: unable to reach Kubernetes. Erro

[2016-09-18 07:58] weppos opened #5996 "Rancher resulting in large volumes of API requests to DNSimple"
At DNSimple we a few occurrences in the last months of very large spikes of requests to our API that were caused by customers using Rancher.

The last one this week, where a customer is currently sending about 1.100.000 requests per hour (of course all of them are throttled), and the customer previously confirmed they are using Rancher (we got in touch with them a few months ago, when the issue ha

[2016-09-18 10:04] diceone commented on #2143
+1

[2016-09-18 14:08] jmatsushita commented on #5996
We're one of the DNSimple customers affected so I gave a go at applying the Route53 rate limiter code to DNSimple.

Let me know what you think.

[2016-09-18 15:55] jmatsushita commented on #5996
This might help for Rancher environments with large amount of changes, but when the DNSimple api starts answering 429 too many requests, then it exits (or returns a bad health check). By default this triggers the re-creation of all the external-dns containers every time the health check fails i.e. every 2 secs.  So I ended up making health checks less frequent which is likely to be the culprit in

[2016-09-18 17:58] eniac111 commented on #5439
@deniseschannon The latest, running on Ubuntu 16.04. I'm still having problems with the latest images.

`$ sudo docker run -d --restart=unless-stopped -p 8080:8080 rancher/server`

The docker version is 1.11.2 from the Ubuntu repositories - docker.io. The same happens with the latest Docker 12.

[2016-09-18 22:48] ysle commented on #3893
+1

[2016-09-18 22:49] ysle commented on #3315
+1

[2016-09-19 04:51] cloudnautique commented on #5993
This is fixed in rancher/community-catalog#287

[2016-09-19 04:56] cloudnautique commented on #5990
Should we call this one resolved?

[2016-09-19 06:23] zfjoy520 opened #5997 "rancher balancer issue"
_Describe your issue here_

1，rancher balancer with  rancher/agent-instance:v0.8.3  ,
haproxy no log

2，can't Additional haproxy.cfg configuration
   E.g：global secion:
           maxconn  60000
          maxpipes 20000

  but  haproxy.cfg  Parameter repetition。
---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
| Access | `localauth` `admin` |

[2016-09-19 08:03] lkm commented on #5873
This happens repeatedly on our installation. Any ideas? @deniseschannon

[2016-09-19 09:37] VFT opened #5998 "packets.go:33: unexpected EOF"
I got any errors  if the mysql configuation of  rancher-ha is using nginx for TCP proxy:

[code]

`192.168.2.91:3306` is the nginx server and port for mysql.

it is normal if using other tools for mysql connecting.

version of each component:
docker:  1.11.2
rancher:  1.1.3
nginx:  1.11.3
mysql:  mariadb 10.1

[2016-09-19 09:43] anisimovsergey commented on #5120
I'm getting the same exception with an absolutely identical stack. It doesn't seem like a memory usage (although it might be) since I can see how the memory consumption of the rancher-server container goes down.

Rancher version v1.1.3

Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 3.10.0-327.22.2.el7.x86_64

[2016-09-19 11:44] kha0S commented on #5995
I've seen the same behaviour when a container requests a mount from convoy that has not been mapped. Go into your container and list the mounted paths. You should find the culprit there.

[2016-09-19 12:58] Fridus opened #5999 "Rancher ingress and Traefik: How to properly disable `rancher-ingress-controller`"
**Rancher Version:**
v1.2.0-pre2
**Docker Version:**
1.12.1

Let's try to be simple and comprehensive :wink: It will be about Rancher with Kubernetetes. I am a beginner in k8s and rancher so if you think I misunderstood some points.
I want to use Rancher+k8s for deploying a bunch of different apps. I will use namespaces for isolate each others.
Hosts are in a private cloud and public traffic will

[2016-09-19 13:20] trivoallan commented on #5865
Hi,

Thank you for your answer.

Yes

No they are different hosts

There's no proxy / load balancer

[code]

[2016-09-19 14:56] toughIQ commented on #2143
+1

[2016-09-19 15:38] svensp commented on #4987
We had this issue in our setup after adding a new host with a more recent docker version
- 1.11.3 on the old hosts
- 1.12.1 on the added host
Restarting the agent-instance container as in the referenced issue did nothing.
It was fixed when we upgraded the old hosts to 1.12.1 as well.

[2016-09-19 15:45] johnrengelman opened #6000 "Run-Once containers are sometimes dropped to "Stopped" state causing service reconcile"
**Rancher Version:**
1.1.3

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu, AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
N/A

**Results:**
Deploying a service with side-kick container where the side

[2016-09-19 16:29] janeczku opened #6001 "Sidekick containers that share the primary service's network fail to start"
**Rancher Version:**
Rancher	v1.1.3
Cattle	v0.165.8.1
User Interface	v1.1.12
Rancher Compose	v0.8.6

**Docker Version:**
1.10.3

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Deploy the following stack: https://github.com/janeczku/rancher-ts-catalog/tree/master/templates/glusterfs/0

**Results:**
Some sidekicks always end up stuck in stopped state and are ne

[2016-09-19 16:33] janeczku commented on #6001
https://github.com/rancher/rancher/issues/5337

[2016-09-19 16:37] LLParse commented on #5989
Hi @sangeethah, could you please provide the full etcd log? You will need to SSH to the machine and run `docker logs`. Above is truncated and omitting the important stuff. I will attempt to reproduce this in the meantime.

[2016-09-19 16:54] #5990 closed

[2016-09-19 17:28] LLParse commented on #5989
I've performed one upgrade following the steps defined. Upgrade succeeded. I will continue to attempt to reproduce.

[2016-09-19 17:54] aemneina commented on #5972
@donghui you're right in that the k8s stack will look for 'master' which maps to the kubernetes api service.

[2016-09-19 18:01] aemneina commented on #5290
@andylmtang @Tebro not sure cross host communication works using virtualbox, this might be the  issue youre facing.

@donghui your issue looks specific to there being another host resolving to 'master' in your environment. Rancher k8s maps 'master' to the kubernetes api.

[2016-09-19 18:53] andyshinn opened #6002 "Cannot remove bad named Convoy volume and cannot start Convoy storage pool or agents"
**Rancher Version:** 1.2.0-pre2

**Docker Version:** 1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04 on VMware

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node internal DB on volume mount

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Request convoy volume named `${someth

[2016-09-19 20:31] sangeethah opened #6003 "Not able to deploy Secrets Bridge Server catalog since catalog creation fails with "Cattle Secret Key is required" even though access key is passed."
Rancher Version: Build from master

Set up:

Try  to deploy Secrets Bridge Server catalog .
Catalog creation fails with "Cattle Secret Key is required" even though access key is passed.

<img width="1566" alt="screen shot 2016-09-19 at 1 30 14 pm" src="https://cloud.githubusercontent.com/assets/4266958/18647978/68b76a74-7e6d-11e6-928a-9575ccaf5916.png">

[2016-09-19 20:35] cusspvz commented on #3315
@AKoetsier yeah, most of providers give that power, but on some cases it may be not what you pretend and you just have to place ugly hacks on top of it, like launching the swarm agent. If there was a layer that were abstracted from the IaaS (which is, from my perspective, Rancher's milestone) and had rules by services it would be great.

[2016-09-19 20:56] janeczku commented on #5959
@DorrinPk The ELB template requires Rancher v1.1.0 or later. You probably have a previous version.

[2016-09-19 21:00] sangeethah opened #6004 "K8s system stack not able to start successfully because of 2 instances of etcd being launched in same host."
Rancher Version: Build from master

K8s templates from - https://github.com/rancher/qa-catalog

Steps to reproduce the problem:
Have a K8s environment with 2 hosts.

K8s system stack is not able to start successfully because of 2 instances of etcd being launched in same host.

etcd containers have the following antiaffinity rule scheduled - ```io.rancher.scheduler.affinity:container_label_ne: io.r

[2016-09-19 21:25] sangeethah opened #6005 "K8s system stack not able to start successfully because of kube-hostname-updater sidekick not getting an ip address."
Rancher Version: Build from master

Set up - Create k8s environment with 2hosts.
K8s system stack is not able to start successfully.
kubernetes and kube-hostname-updater sidekick  container continues to be in stopped state.  kube-hostname-updater sidekick  container  is not assigned an ip address.

Following error seen in kubernetes logs:

[code]

[2016-09-19 21:37] IanVaughan opened #6006 "[cli] Can only see one Env that I created, most other commands fail"
**Rancher Version:**
Rancher 	v1.1.3
Cattle 	v0.165.8.1
User Interface 	v1.1.12
Rancher Compose 	v0.8.6

**Docker Version:**
Client:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:        Wed Apr 13 18:13:28 2016
 OS/Arch:      darwin/amd64

Server:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:

[2016-09-19 21:41] galal-hussein commented on #5959
@janeczku I didn't get an error, i only saw that target group still exist.

[2016-09-19 21:41] deniseschannon commented on #6006
It sounds like you are using an environment API key instead of an account API key.

[2016-09-19 22:06] alena1108 commented on #4310
@wlan0 can you confirm that k8s code expects your services' endpoints to be available on every host?

[2016-09-19 22:08] alena1108 commented on #5611
https://github.com/rancher/cattle/pull/1986

[2016-09-19 22:12] alena1108 commented on #4419
https://github.com/rancher/rancher/issues/5902

[2016-09-19 22:14] alena1108 commented on #5529
@wlan0 can you look at it? may be a longer wait is needed

[2016-09-19 22:25] andyshinn commented on #6002
The immediate issue is solved by renaming the volume name in the `volume` table of the database. This allows the purge process to finish which gets the storage pool container running again. So, I think the bug here is to just make sure that erroneous volume names get rejected earlier on.

[2016-09-19 23:47] janeczku commented on #5959
@galal-hussein This should be fixed in the latest image.

[2016-09-19 23:59] cjellick opened #6007 "scale_policy causes cattle to try to deploy containers forever"
Steps to reproduce:
1. create an environment with two hosts
2. Try to run this compose:
[code]

[2016-09-20 00:04] cjellick commented on #6007
I discovered this while investigating https://github.com/rancher/rancher/issues/6004

They're related, but that one has an extra quirk where one of the containers of the third DU actually deployed successfully, which i dont understand.

[2016-09-20 01:21] aemneina opened #6008 "Rancher HA: management stack doesnt show in UI"
**Rancher Version:**
1.2.0-pre3

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
ROS 4.5 EC2 instances

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA

**Steps to Reproduce:**
Deployed a fresh rancher HA setup using 1.2.0-pre3. I can see all the containers in the management stack up and running in the ho

[2016-09-20 01:33] triton086 commented on #5326
@deniseschannon
@demarant

changing Storage Driver from devicemapper to overlay fixed the stats issue.

[2016-09-20 02:14] alena1108 commented on #6004
@cjellick fixed the bug in services/scalePolicy code. So the only remaining fix is - incorrect labels constraints propagation

[2016-09-20 02:58] deniseschannon commented on #6000
Do you have a docker-compose.yml that you could share and when you say "after a time", do you mean, if I just wait long enough, it will go to stopped? Or is there any other thing that might have triggered it?

[2016-09-20 03:03] deniseschannon commented on #5873
Just to confirm, this is on hosts that are not part of the HA setup. So they aren't running rancher/server, right?

And what do you mean by "container directly on the host"? Are you using the docker CLI to launch the container or are you using the UI and selecitng "host network"

[2016-09-20 03:25] #5344 closed

[2016-09-20 03:35] deniseschannon commented on #5905
It isn't supported yet.

https://github.com/rancher/rancher/issues/4708

[2016-09-20 03:35] #5905 closed

[2016-09-20 04:46] soumyalj commented on #5989
This is not an issue. Need to ensure that the hosts do not have stale etcd data.

[2016-09-20 04:46] #5989 closed

[2016-09-20 05:32] #1553 closed

[2016-09-20 05:33] #2584 closed

[2016-09-20 05:34] #3195 closed

[2016-09-20 05:35] #3081 closed

[2016-09-20 05:35] #3210 closed

[2016-09-20 05:35] #3215 closed

[2016-09-20 05:36] #3295 closed

[2016-09-20 05:38] #3283 closed

[2016-09-20 05:38] #3296 closed

[2016-09-20 05:39] #3297 closed

[2016-09-20 05:39] #3385 closed

[2016-09-20 05:39] #3352 closed

[2016-09-20 05:40] #3936 closed

[2016-09-20 05:42] #3656 closed

[2016-09-20 05:42] #3601 closed

[2016-09-20 05:43] #3594 closed

[2016-09-20 05:43] #3307 closed

[2016-09-20 05:44] #3301 closed

[2016-09-20 05:45] #1545 closed

[2016-09-20 05:49] #1158 closed

[2016-09-20 06:05] #560 closed

[2016-09-20 06:10] tfiduccia commented on #1444
@IMikkeI Looks like we did this - here are the instructions
http://docs.rancher.com/rancher/latest/en/installing-rancher/installing-server/no-internet-access/#using-http-proxy

[2016-09-20 06:10] #1444 closed

[2016-09-20 07:08] IanVaughan commented on #6006
Nope, I created account keys, and recycled them to be sure, same issue.

<img width="1093" alt="screen shot 2016-09-20 at 08 00 10" src="https://cloud.githubusercontent.com/assets/158600/18660494/a98f4594-7f08-11e6-9b23-72d2350345a7.png">

<img width="1883" alt="screen shot 2016-09-20 at 08 03 17" src="https://cloud.githubusercontent.com/assets/158600/18660531/e3f18c42-7f08-11e6-8c18-94ed64695ad3.

[2016-09-20 09:57] Dreampie opened #6009 "Rancher CLI upgrade service must use compose file?"
if I want upgrade service image version,why must write a  compose file, `--image/-i xx/tag` will ok?

[2016-09-20 10:41] rsuniev opened #6010 "nslookup doesn't work in a container"
**Rancher Version:** v.1.1.3

**Docker Version:** 1.10.3

**OS and where are the hosts located?:** AWS EC2

**Setup Details:** HA rancher

**Environment Type:** Kubernetes

**Steps to Reproduce:**
Run nslookup directly on a rancher host:

Run nslookup on a container:

/etc/resolve.conf is the same on the host and the container.

Nslookup versions:
Host: BusyBox v1.24.1 (2016-03-08 18:25:24 UTC) mu

[2016-09-20 11:05] adnan-panalytics opened #6011 "The caret character is not read by rancher-compose"
**Rancher Version:**
v1.1.2
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04.4 LTS Virtual box
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Rancher Compose Version**
v0.8.6
**Steps to Reproduce:**
1. Setup rancher and ra

[2016-09-20 12:00] dj-hedgehog commented on #5994
@Joeasaurus Thanks for chiming in.
I requested a quote for professional Rancher support since the support via GitHub issues is not what I want to build my business on any further.
If there's anything new I'll also write a comment here.

[2016-09-20 14:33] taktran opened #6012 "--swarm errors when trying to create a new Azure host"
**Rancher Version:**
v1.2.0-pre3

**Docker Version:**
Docker version 1.11.2, build b9f10c9

**OS and where are the hosts located? (cloud, bare metal, etc):**
Azure on Ubuntu 14.04

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

I upgraded to `v1.2.0-pre3

[2016-09-20 14:35] deniseschannon commented on #6009
This is currently by design. There is an enhancement request to not pass in files for when the label `io.rancher.container.pull_image: always` is used.

Since there are multiple services, we most likely wouldn't add in support for `--image/-i xx/tag`

https://github.com/rancher/rancher/issues/3571

[2016-09-20 14:35] #6009 closed

[2016-09-20 14:52] schuylr opened #6013 "Service requires "kick" to update active when servers return to "Active" state from "Reconnecting""
**Rancher Version:** 1.1.3

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node, External DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. Start a long-running service with the scheduling policy of "Run on al

[2016-09-20 15:34] sangeethah opened #6014 "Config propagation on LB creation takes longer than 30 secs."
Rancher Version:Build from master

There are many LB related validation test scenarios that report failure because of  timing out after waiting for 30 secs config propagation.

Log snippet from one such LB failure use case:

[code]

[2016-09-20 15:38] sangeethah commented on #5740
This issue is not seen with Rancher server - v1.2.0-pre3. Time taken for validation runs is back to 2 hours 20 mts.

[2016-09-20 15:38] #5740 closed

[2016-09-20 16:57] veered commented on #5733
I am experiencing this issue as well. For us, it greatly decreases the usability of Rancher.

[2016-09-20 17:43] alena1108 commented on #6007
@sangeethah way to reproduce:

1) Have 2 hosts, start service using template from Craig.
2) Initially service gets started successfully, goes to Active state. Then after some point service gets into Updating-active. Then active again, then updating-active, and so on. Similar issue you saw for etcd

[2016-09-20 17:44] sangeethah opened #6015 "Cattle Validation runs takes longer to execute . Lot of "Deadlock found when trying to get lock;" exception seen in logs."
Rancher Version: Build from master

Cattle Validation runs takes about 3 and 1/2 hours to execute . Usual time it takes to execute is about 2 and 1/2 hours.

I see about 220 instances of the following exception happen in the server logs:

Not sure if this might have caused the delay in execution.

[code]

[2016-09-20 17:57] vincent99 commented on #5994
The hosts's resolv.conf is read when the Network Agent container starts up.. so if you're changing it you'll need to restart the container too.

[2016-09-20 18:05] wlan0 commented on #4310
@alena1108 As stated in the docs here -> http://kubernetes.io/docs/user-guide/services/#type-nodeport, each node will proxy that port. Which means that every node acts as an LB target. The service need not have a pod on that node.

[2016-09-20 18:22] wlan0 commented on #5869
@sangeethah This issue is fixed by https://github.com/rancher/cattle/commit/8ef32384fcfa592e011802cb49e785078e1ea8fb

It is in v0.169.0 onwards.

[2016-09-20 18:30] schuylr commented on #6013
Reproduced the same issue in v1.2.0-pre3 now:

![screen shot 2016-09-20 at 2 27 32 pm](https://cloud.githubusercontent.com/assets/12628715/18683468/6c0c9754-7f3e-11e6-9fc0-7bc0141e7679.png)

Service Journal for the service in question on this one:

![screen shot 2016-09-20 at 2 28 44 pm](https://cloud.githubusercontent.com/assets/12628715/18683515/9900156a-7f3e-11e6-900b-ae51e6c182eb.png)

![scree

[2016-09-20 18:42] wlan0 commented on #5863
@sangeethah This issue is fixed by a cattle fix (https://github.com/rancher/cattle/commit/8ef32384fcfa592e011802cb49e785078e1ea8fb ) and a kubernetes agent fix (https://github.com/rancher/kubernetes-agent/commit/f7b0761e728b87c1286c959c341d300169e43147)

The cattle fix is in v1.2.0-pre3-rc1
I've added the agent fix to this qa template - https://github.com/rancher/rancher-catalog/commit/356b24f928f

[2016-09-20 19:02] tfiduccia commented on #6012
@taktran When you say [left blank] do you mean you took out the default information or you just left it alone?

[2016-09-20 19:10] sangeethah commented on #5985
I am still able to reproduce this issue using v1.1.4-rc2

[2016-09-20 19:59] deniseschannon commented on #6006
As stated in the [release notes](https://github.com/rancher/rancher/releases/tag/v1.2.0-pre3), v0.2.0 is only compatible with v1.2.0-pre3+.

But I tihnk I need to update the release notes for CLI.

[2016-09-20 19:59] #6006 closed

[2016-09-20 20:20] jimmidyson commented on #4451
The preferred way to run kubernetes DNS afaik is with pods only having a single nameserver & DNS server in forwarding mode.

[2016-09-20 20:32] alena1108 commented on #6001
@janeczku

Can you elaborate which sidekicks (their names) fail to be restarted?

[2016-09-20 21:27] alena1108 commented on #5917
@alejom99 the data you are passing in to the post request, should be Json encoded. So you add one extra import + change the response line:

[code]

[2016-09-20 21:30] alena1108 commented on #5969
@sangeethah it means that it was never started (start_count = 0). @LLParse have you observed this behavior? when the sidekick fails to start, yet corresponding etcd primary container runs normally

[2016-09-20 21:30] #5917 closed

[2016-09-20 21:43] pythianarceri opened #6016 "Cannot View Stack Configs"
Account set as Admin, can see and do everything else except using the "View Config" link on any of the stacks, getting a red message on the top right corner of the screen showing
"Exportconfig Error
Unknown action: exportconfig"

and a big error (which i think is the result of the previous error) in the middle of the screen showing:

ERROR Cannot read property 'dockerComposeConfig' of undefined, R

[2016-09-20 21:50] sangeethah commented on #5993
Tested with latest secrets-bridge-server catalog entry.
LB services started for servicing secrets-bridge links to 8181 and is functional.

[2016-09-20 21:50] #5993 closed

[2016-09-20 22:06] sangeethah commented on #6014
This issue is still happening on master builds with this fix.

[2016-09-20 22:07] sangeethah commented on #5976
This issue is not reproducible using  rancher server version - v1.1.4-rc2

[2016-09-20 22:07] #5976 closed

[2016-09-20 22:21] tfiduccia commented on #6016
I am unable to recreate this error.  Can you give me a little bit more information on the setup:
1.  What type of site access do you have set on the Access Control page?
2. When you do an edit on the environment, what access control (permission level) does this user have?

[2016-09-20 22:26] sangeethah commented on #5953
@ibuildthecloud, could you let me know the exact steps that can cause the host to be stuck in "removing" state ?

[2016-09-20 22:34] wlan0 commented on #5594
@bonifaido I tried `heapster:canary` with rancher kubernetes v1.3.4-rancher1

@galal-hussein  The template I’m using for *launching kubernetes* is in this repository - `https://github.com/rancher/rancher-catalog/tree/qa` , the branch is qa branch.

The Kubernetes version in the image is `v1.3.4-rancher1` and rancher version can be any of v1.2.0-pre1 , v1.2.0-pre2, or v1.2.0-pre3

This is the kuber

[2016-09-20 22:37] deniseschannon commented on #5315
Documentation for proxy for HA will need to be updatd:

To test, update environment variables for proxy in the rancher-ha script.

[code]

The bridge IP must be in both `-e no_proxy` and `-e NO_PROXY`, which is typically `172.17.0.1`

[2016-09-20 22:57] jerryz1982 commented on #4703
@jgato the problem with the arm image is that the docker client in it is a new version which has a different output format than the old version which run.sh is compatible with.
there are other issues even with the work around by @zerodivide1
https://www.adelton.com/docs/docker/docker-inspect-volumes-mounts#zero-value

The pulling request to build arm agent images is still in progress.

[2016-09-20 22:57] wlan0 commented on #5607
@galal-hussein Petsets can only work with dynamically provisioned volumes - NFS does not have a dynamic provisioner.

The volume types with dynamic provisioner are in this doc -  https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning

[2016-09-20 23:04] ibuildthecloud commented on #5953
@sangeethah The situation is when the network agent is in a restarting state and you go to remove a host.  I'm not sure how to exactly reproduce it.  I just know a restarting network agent is stuck because the host is removing and the host is stuck removing because the network agent is restarting.

[2016-09-20 23:19] pythianarceri commented on #6016
1)My account is authenticated against Githb,
2) Access Control is set to "Allow members of Environments, plus Authorized Users and Organizations",
3) I can edit other users accounts so i'm pretty sure my admin rights are there,

PS: There is another user whose account was created at the same time as mine with the same problem

[2016-09-20 23:23] galal-hussein commented on #5594
@wlan0 I tested the services heapster on:

Rancher v1.2.0-pre3
Kubernetes version k8s:v1.3.4-rancher1

I can see no errors anymore on the heapster container, also I can see datapoints on grafana

![123](https://cloud.githubusercontent.com/assets/3309968/18692378/feec8cc2-7f99-11e6-9211-34346a12f9e5.png)

[2016-09-20 23:27] LLParse commented on #5969
@alena1108 I've been using 1.1.3 for quite some time and haven't seen this happen.

[2016-09-20 23:43] wlan0 commented on #5529
@soumyalj Discussed this bug with @alena1108  and this is a harmless issue. We will fix it in the future

[2016-09-20 23:52] wlan0 commented on #5710
With DM 0.8 added, this should be fixed.

[2016-09-20 23:54] wlan0 commented on #5270
This is done.

[2016-09-21 00:03] pythianarceri commented on #6016
The accounts had not bee added as admins to the environments.

[2016-09-21 00:03] #6016 closed

[2016-09-21 00:39] sangeethah commented on #5985
Tested with Rancher Version:v1.1.4-rc3

Set up secrets-bridge-server and secret-bridge-agent by following instruction in https://github.com/rancher/secrets-bridge/blob/master/docs/setup.md for k8s environment.
Create pods with label - secrets.bridge.enabled: "true" and "secrets.bridge.k8s.path" label.
Once the pod is launched, /tmp/secrets.txt  gets created as expected.

[2016-09-21 00:39] #5985 closed

[2016-09-21 02:02] brianjjohnson commented on #3793
Any luck wth this ? I am seeing similar loss in our environment.

[2016-09-21 05:16] sangeethah commented on #5903
1. ```export RANCHER_ENVIRONMENT_API_URL=http://xxx.xxx.xxx.xxy:XXXX/v1/projects/YYY``` is not needed in "Step 3: Set script variables" section. Instead it should be moved to "Configure Secrets Bridge Server" -> command line section.

2. In "Configure Secrets Bridge Agents"-> "Kubernetes" section , option B ,step 3 contents need to be changed to be more specific.
only docker-compose file of secret

[2016-09-21 06:14] #5270 closed

[2016-09-21 06:55] deniseschannon commented on #5315
Note: Go-Machine-Service will still not work, but everything else should.

[2016-09-21 07:05] daankets opened #6017 "Rancher cross-host networking - missing iptables rules"
Rancher v1.1.3
Cattle  v0.165.8.1
User Interface  v1.1.12
Rancher Compose v0.8.6
Docker 1.12.1
Ubuntu 16.04.1 LTS
ProxMox KVM hosts with bridged network on primary interface eth0 (192.168.20.0/24)
Single Node Rancher on 192.168.20.10
First host on 192.168.20.20
Second host on 192.168.20.30
Catle environment
Setup the rancher host, and add two agents using a specific host IP (otherwise the network

[2016-09-21 07:54] lkm commented on #5873
The hosts are part of the "normal" environments, not running rancher. I'm using the UI to create a container instance directly on the host through the "Intrastructure" screen.

As far as I can tell the rancher-agent running on my hosts deadlocks when agent.state is 'reconnecting', and without fail changing that column back to 'active' and running `docker restart rancher-agent` on the host fixes th

[2016-09-21 08:21] zfjoy520 opened #6018 "rancher/agent-instance:v0.8.3"
*Describe your issue here*

env:rancher/agent-instance:v0.8.3

LB：haproxy  maxconn is too less,but How to settle the problem?

i wan't  maxconn = 60000

Additional haproxy.cfg but not effective.

 thank you!
 from china

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
|Access|`Disabled`|
|Orchestration|`Cattle`|
|Route|`hosts.index`|

[2016-09-21 09:22] joostliketoast opened #6019 "removed convoy gluster but still visible in GUI"
I removed the convoy gluster stack under `system`, but when i navigate to `infrastructure` > `storage` it still shows up there (see screenshot)

![rancher](https://cloud.githubusercontent.com/assets/5398047/18705234/b6e001e4-7fed-11e6-93f8-a630618049e6.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
|Access|`github` `admin`|
|Orchestration|

[2016-09-21 09:26] joostliketoast opened #6020 "using virtual machines now convoy gluster has been removed"
I read that gluster convoy has been removed from the catalog because it wasnt maintained anymore. But how can i now create new virtual machines disks, does it support convoy nfs?
---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
| Access | `github` `admin` |
| Orchestration | `Cattle` |
| Route | `storagepools.pools` |

[2016-09-21 10:37] zk4 commented on #4985
# problem still .
host: 1  mac , and 3  dockermachine .
rancher: version 1.1.3  with cattle

# follow this guide
http://docs.rancher.com/rancher/v1.0/en/quick-start-guide/
 load balance  initializing  forever ...

# rancher/server logs
2016-09-20 23:49:38,981 ERROR [:] [] [] [] [cutorService-39] [o.a.c.m.context.NoExceptionRunnable ] Uncaught exception org.jooq.exception.DataChangedException: Data

[2016-09-21 10:41] dmgawel opened #6021 "All containers stopping first during stack upgrade, regardless of batch-size"
**Rancher Version:**
v1.1.1

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher on Azure, hosts on DigitalOcean

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Deploy any stack with `rancher-compose`

[2016-09-21 12:15] Shyckymn opened #6022 "What is the command line to scale app in Rancher/Cattle environment?"
Hi everyone!

What is the command line to scale an app in Rancher/Cattle environment?
I want to create a script to check some metrics and take the decision to scale up/down one app, just as in Openshift.
Is it possible?

Regards.

[2016-09-21 14:45] deniseschannon commented on #6022
Using [Rancher-compose](http://docs.rancher.com/rancher/v1.2/en/cattle/rancher-compose/commands/#examples)

[code]

Using [RancherCLI](http://docs.rancher.com/rancher/v1.2/en/cli/commands/#rancher-scale-reference)

[code]

[2016-09-21 14:45] #6022 closed

[2016-09-21 14:49] deniseschannon commented on #4985
@zk4 Your cross host communication isn't working. The error that you provided is benign.

Have you looked at the FAQs for this issue?

http://docs.rancher.com/rancher/v1.2/en/faqs/troubleshooting/#cross-host-communication

Also, you can confirm whether or not cross host communication is working by exec-ing into the network agent on one host and pinging the IP (10.42.x.x) of a different network age

[2016-09-21 14:50] deniseschannon commented on #6019
Currently, we don't have the ability to delete storage pools.

https://github.com/rancher/rancher/issues/2918

[2016-09-21 14:50] #6019 closed

[2016-09-21 14:52] deniseschannon commented on #6018
You can customize this in the `global` section of the  load balancer.
http://docs.rancher.com/rancher/v1.2/en/cattle/adding-load-balancers/#custom-haproxycfg

We'll be adding in customization of the `backend` with our [load balancer refactor](#2179)

[2016-09-21 14:52] #6018 closed

[2016-09-21 15:16] boshido opened #6023 "Every containers stuck at intializing state when create new instance and sometimes the instance randomly move and stuck at reconnecting state"
**Rancher Version:**
v.1.2.0-pre2
**Docker Version:**
 1.11.2, build b9f10c9
**OS and where are the hosts located? (cloud, bare metal, etc):**
Centos7, EC2 (m3.large)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Enabled HA with single node (EC2 m3.medium), External DB (RDS)
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

[2016-09-21 15:35] picoCreator opened #6024 "Missing /var/lib/cattle in rancher/agent:v1.0.2"
**Rancher Version:**
Rancher v1.1.3
Cattle  v0.165.8.1
User Interface  v1.1.12
Rancher Compose v0.8.6

**Docker Version:**
Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.3
 Git commit:   b9f10c9/1.11.2
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.3
 Git commit:   b9f10c9/1.11.2
 Built:
 OS/Arch:      linux/amd64

[2016-09-21 16:35] alena1108 commented on #5942
@sangeethah those errors are inevitable in this case. With the scale policy, we try our best to scale up to the max. And if there any allocation errors, we scale down to the latest locked scale (that is >=min scale). Therefore you see the erros in the autid logs: 1) first one for instance allocation 2) second one on service saying that it removed instance that failed to allocate.

[2016-09-21 16:35] #5942 closed

[2016-09-21 17:11] alena1108 commented on #2702
Closing as we can't do anything about it. Request line for http health check gets configured on per backend on haproxy. Plus it is very unlikely that user would set 2 completely different services with different health checks behind the same backend. It would either be the same kind of service (when he does service upgrade using LB) or 2 backends, one per service.

[2016-09-21 17:11] #2702 closed

[2016-09-21 17:16] Shyckymn commented on #6022
@deniseschannon How can I execute this commands? When I log in my rancher-server container, there's no rancher or rancher-compose command line...

[2016-09-21 17:54] aemneina commented on #6022
@Shyckymn

[Rancher CLI](https://github.com/rancher/cli/releases)

[Rancher Compose](https://github.com/rancher/rancher-compose/releases)

[2016-09-21 18:10] aemneina commented on #6021
@dmgawel have you looked into starting new containers before the old ones stop? Take a look [here](http://docs.rancher.com/rancher/v1.2/en/cattle/rancher-compose/upgrading/#starting-new-containers-before-stopping-old-containers) for some reference.

[2016-09-21 18:18] aemneina commented on #6020
Convoy nfs should still work, I believe it requires an external NFS server available to the hosts within the environment.

[2016-09-21 18:29] Shyckymn commented on #6022
@aemneina @deniseschannon
I run rancher config to set the environment variables for the CLI, but when I try to execute rancher command, I got:
[code]

[2016-09-21 18:37] Shyckymn commented on #6022
Same issue with rancher-compose:

[code]

[2016-09-21 18:41] aemneina commented on #6022
@Shyckymn you're probably using a rancher-compose newer than the server can support. In the UI for your rancher server, somewhere in the bottom, you should see a download link with a compatible rancher-compose.

[2016-09-21 18:43] sangeethah opened #6025 "Not able to get temp token when pods with same name exists across 2 different namespace."
Rancher server version - v1.1.4-rc3

Steps to reproduce the problem:

Create a pod with some name (say "random31" in my case) in default namespace with Secrets bridge key labels.
Create a pod with same name ("random31") in a different namespace with Secrets bridge key labels.

temp token created in the secrets.txt is empty for containers of this pod is empty.

[code]

logs form secrets-bridge-agen

[2016-09-21 18:48] Shyckymn commented on #6022
@aemneina
OK, now it works with version 0.8.6. But I didn't find rancher cli available for download. Only rancher-compose.

[2016-09-21 18:50] aemneina commented on #6022
Rancher CLI is pretty new, I dont think it's in the UI yet, or it might be in the 1.2.0-preX releases...

[2016-09-21 19:21] Shyckymn commented on #6022
@aemneina
Ok, I understood...
I made some tests with scale up and down with success.
Is it possible to get the number of containers being executed in a project via CLI, to support a decision for scale up/down?

[2016-09-21 19:44] InAnimaTe commented on #4178
^exactly.

There are a couple extra points I'd like to make regarding port usability scenarios that might be worth offering at some point in the future:

1. Since a multitude of people already use Service Discovery methods, in addition to utilizing rancher-metadata for whatever service catalog people might need, some users may want the option to enable random port assignments for every deployment

[2016-09-21 19:53] sangeethah opened #6026 "kubernetes lables not being seen by secret bridge agent on start events sometime."
Rancher server version - v1.1.4-rc3

Set up secrets-bridge-server and secret-bridge-agent by following instruction in https://github.com/rancher/secrets-bridge/blob/master/docs/setup.md for k8s environment.

Create pods with label - secrets.bridge.enabled: "true" but without "secrets.bridge.k8s.path" label.

Not able to see the /tmp/secrets.txt created since secret bridge agent does not see the k8

[2016-09-21 23:55] catalyst7193 opened #6027 "[FEATURE] Add support for specifying a client certificate for rancher/agent"
Add support for specifying a client certificate to support two-way SSL authentication.
Currently, the rancher/agent only allows the specification of a custom root certificate for one-way SSL.

[2016-09-22 04:54] sangeethah commented on #5953
Tested with rancher-server version - v1.1.4-rc3

Tested the following scenario multiple times and host got to "removed" state without being stuck in "removing" state forever:

Restart network Agent. When Network agent is still in restarting state , remove the host.
Host removal was successful.

Closing this issue for now.

@goffinf: This issue should be fixed with v1.1.4-rc3 . Could you please upg

[2016-09-22 04:54] #5953 closed

[2016-09-22 05:00] sangeethah commented on #5903
@cloudnautique: Can we document the expiry time (1 hour) for Temp token and the time user has (5 minutes) to create Temp token using the generated scerets.txt once the container is launched?

[2016-09-22 05:39] clhodapp commented on #4451
Hrm, the docs seem to indicate that the default for kubelet is otherwise: https://github.com/kubernetes/kubernetes/blob/6193335bd9c4400ba8ccdb022623ef41ebdac822/build/kube-dns/README.md#inheriting-dns-from-the-node

[2016-09-22 05:49] clhodapp commented on #4451
Also, to be clear, my working theory in this case is that Rancher DNS is winning a race with our normal DNS system, such that heapster ends up with a "can't resolve result" for the hostnames of the physical nodes.

[2016-09-22 06:00] deniseschannon commented on #6022
With Rancher CLI, you can get the list of running containers.

http://docs.rancher.com/rancher/v1.2/en/cli/commands/#rancher-ps-reference

Rancher CLI v0.2.0 is only compatible with 1.2.0-pre3+

[2016-09-22 06:07] deniseschannon commented on #5873
Are there any containers on your host or does it happen the first time you try and add a container? Is the network agent stuck in restarting?

[2016-09-22 06:59] scream314 opened #6028 "Rancher-HA agent tries wrong IP"
**Rancher Version:**
v1.1.3
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu on Ubuntu+KVM
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA with external load-balanced MariaDB-Galera
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
?
**Steps to Reproduce:**
1. start master on one node, generate H

[2016-09-22 07:17] scream314 commented on #6028
Similar to https://github.com/rancher/rancher/issues/4459, but the solution provided there did not solve my issue.

[2016-09-22 07:21] goffinf commented on #5953
Indeed, we are eagerly awaiting the 1.14 drop (can't go with release candidates other than in our sandbox).

On a more general note, the whole experience of working thru this issue has been very positive. Not only has the principle problem been resolved but also a couple of other pending issues identified and remedied. I would encourage anyone using Rancher to contribute, you are likely to get mor

[2016-09-22 07:29] zfjoy520 commented on #6018
thanks.

In Rancjer Console, Additional haproxy.cfg:

global section ：  maxconn = 60000

restart balancer

execute shell:  cat  /etc/haproxy/haproxy.cfg

global
        log 127.0.0.1 local0
        log 127.0.0.1 local1 notice
        maxconn 4096
        maxpipes 1024
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon
        maxconn = 60000

There are two id

[2016-09-22 07:53] lkm commented on #5873
It happens after the host has been fully working and quite a few containers started, then at some random time (after weeks of use) it falls into the described state. There's no errors on the rancher-agent.

[2016-09-22 08:30] scream314 commented on #6028
Ok I'll try to add -e before -v.

[2016-09-22 08:42] pengjiang80 opened #6029 "Port conflict not handled correctly when there is sidekick service"
Add a service with following configuration:
1. Primary service has a host port map.
2. Sidekick service just share data volume.
3. Scale number set as 3.

Deploy this service to a env with 3 hosts and 2 of them are loaded and 1 has no container.  It seems the scheduler will schedule the sidekick containers to the same host as it has no container. Then the primary service container failed to start

[2016-09-22 09:02] mckn opened #6030 "Rancher goes bananas and take 99% CPU"
**Rancher Version:**
Rancher: v1.1.3
Cattle: v0.165.8.1

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS (4.4.0-38-generic)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher with internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
W

[2016-09-22 09:24] gerbac opened #6031 "Error (409 Client Error: Conflict ("create <active volume>: conflict: volume name must be unique")"
**Rancher Version:** v1.0.2

**Docker Version:** v1.11.2

**OS and where are the hosts located? OS is linux Ubuntu (local)

**Environment Type: (Cattle)**

**Setup Details:**

Some of our containers were mounted to convoy-nfs driver. When running the same container in different hosts with the "same volume mounts" the above error was produced.

We tried renaming the container, still the error occur

[2016-09-22 09:28] rsuniev commented on #6010
After help from @alena1108 it has been identified as a Docker bug:
chris [8:31 PM]
https://forums.docker.com/t/resolved-service-name-resolution-broken-on-alpine-and-docker-1-11-1-cs1/19307

Workaround: use dig or drill.

[2016-09-22 09:28] #6010 closed

[2016-09-22 09:36] scream314 commented on #6028
Tried, still `"Can not launch agent right now: Server not available at http://172.17.0.1:18080/ping:" component=service`.

[2016-09-22 12:33] flypenguin opened #6032 "support IAM credentials from EC2 metadata service"
**Rancher Version:**
all

**Docker Version:**
N/A

**OS and where are the hosts located? (cloud, bare metal, etc):**
EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
N/A

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
N/A

**Steps to Reproduce:**
Do something in Rancher (e.g. create a machine) which requires AWS credentials.

**Results:**
Currently y

[2016-09-22 12:58] flypenguin opened #6033 "make subnet selection readable when creating a machine in AWS EC2"
**Rancher Version:**
1.1.x

**Docker Version:**
N/A

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
N/A

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
N/A

**Steps to Reproduce:**
Create a host with Rancher on AWS EC2. You will need to select a subnet.

**Results:**
The subnet i

[2016-09-22 13:58] flypenguin opened #6034 "create method for bootstrapping environments without UI interaction"
**Rancher Version:**
all up to & including 1.1.x and probably 1.2.x

**Docker Version:**
N/A

**OS and where are the hosts located? (cloud, bare metal, etc):**
N/A

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
N/A

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
N/A

**Steps to Reproduce:**
Take 3 hosts. Install rancher master on host 1. Install Ranche

[2016-09-22 14:01] flypenguin commented on #5670
when did that land? because I also think that you can't do group-based authentication - my last test, which is about 5 weeks old, resulted in full access for EVERY ldap user. so the authentication basically mutated to a "are you in LDAP so you may pass" thing.

[2016-09-22 14:36] cgiraldo commented on #5041
My workaround:

I manually set "internal.rancher" as a search domain for my services, and it is now the first search domain.

It works by changing the configuration in Networking Tab of the UI,
or including in your docker-compose file this:

`
alpine:
  image: alpine:3.4
  dns_search:
  - rancher.internal
`

[2016-09-22 15:18] scream314 commented on #6028
I'll nuke it when I arrive home and start over.

[2016-09-22 15:26] underyx opened #6035 "[rancher-compose] Keep a changelog"
Looking at https://github.com/rancher/rancher-compose I see no way of knowing what has changed in new versions.

http://keepachangelog.com/en/0.3.0/

[2016-09-22 15:26] cgiraldo commented on #3589
+1
I found the same problem with Apacke Kafka

[2016-09-22 15:27] johnrengelman commented on #1411
Also would be interested in this for customer uses.
Especially now that GitHub is adding SAML integration to their public offering (https://github.com/universe-2016).

This biggest issue here is account deprovisioning as you have to remove someone from the GitHub org which in my experience is something that doesn't quite happen in lock step with some leaving.

[2016-09-22 15:35] aleksejlopasov opened #6036 ""Overview" page in Mesos env for readonly user"
**Rancher Version:**
v1.1.3
**Docker Version:**
v1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS 7.2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node/internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Mesos
**Steps to Reproduce:**
- create working mesos enviroment, so you can access Mesos > Overview
- cr

[2016-09-22 17:46] tfiduccia commented on #6036
Verified with v1.2.0-pre3
Should go to Mesos Overview page.

[2016-09-22 17:46] bacheson commented on #6034
+1 ... same with removing hosts so I can take advantage of autoscale

[2016-09-22 18:06] tfiduccia commented on #5992
Have tried this and can't reproduce.  I have a machine using Amazon EC2, with docker version 1.12.1, and Ubuntu 16.04.1 and I can view logs and execute shell on all my containers.  Can you tell us which hosting service you are using and the image.

[2016-09-22 18:13] aemneina commented on #6034
I'm pretty sure you can automate anything the UI can do. It sounds like you want to be able to add hosts on demand, if thats the case, take a look at http(s)://rancher-uri/v1/registrationTokens. That should have the registration command used to add hosts to your deployment.

[2016-09-22 18:17] flypenguin commented on #6034
yes, but the point is that I do *not* want to do anything with the rancher UI *or* API basically, because that really complicates deployment processes . Without Rancher interaction I could do this (on AWS) with a very basic CloudFormation template, but if I need to trigger URLs I then need to write a complicated init script, which is prone to errors and is probably not very flexible.

[2016-09-22 18:17] aemneina commented on #5992
@dj-hedgehog pretty weird you're getting an authentication error. You have auth enabled? Can you do a hard refresh on your browser or try on another browser. Maybe there's some stale auth persisting...

[2016-09-22 18:42] wlan0 commented on #5236
@galal-hussein Petsets can only work with dynamically provisioned volumes (http://kubernetes.io/docs/user-guide/petset/#alpha-limitations) - NFS does not have a dynamic provisioner.

The volume types with dynamic provisioner are in this doc -  https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning

That being said, I just tested PetSet with EBS, o

[2016-09-22 18:44] sangeethah commented on #6025
Tested with rancher/secrets-bridge:v0.1.4 .
This issue is not seen anymore.

[2016-09-22 18:44] #6025 closed

[2016-09-22 19:37] sangeethah opened #6037 "Not able to get temp token after container restart."
Rancher server version - v1.1.4-rc3

Set up secrets-bridge-server and secret-bridge-agent by following instruction in https://github.com/rancher/secrets-bridge/blob/master/docs/setup.md for k8s environment.

rancher/secrets-bridge version - v0.1.4

Create pods with label - secrets.bridge.enabled: "true".
Once container was up, made sure that /tmp/secrets.txt was present and was able to create perm

[2016-09-22 19:43] tfiduccia commented on #6012
So I am unable to reproduce your bug (I am going through the UI) but there are a few suggestion I have for you to try:

1.  Azure machine names but be lowercase alphanumeric and between 4-62 characters.  You can't use uppercase characters or less than 4 characters for the name.
2. I would not leave most of those fields blank. I removed the fields in the UI and they did not use the placeholder info

[2016-09-22 19:47] mjgorman opened #6038 "Using API to modify scale of a service fails"
**Rancher Version:**
v1.1.3

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS in AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node using External DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Created Service in Default stack.
Attempted to update sca

[2016-09-22 19:49] cloudnautique commented on #6037
In docker container v0.1.5 the agent will wait until labels are populated in metadata for the container.

[2016-09-22 19:59] mjgorman commented on #6038
Closing this. Turns out you can't directly take action of v1/services/{ID}. You must go through
v1/projects/1a5/services/1s5 with a PUT and it works.

[2016-09-22 19:59] #6038 closed

[2016-09-22 20:05] cloudnautique commented on #5903
added in rancher/secrets-bridge#20.

[2016-09-22 20:28] sangeethah commented on #5903
Latest version of https://github.com/rancher/secrets-bridge/blob/master/docs/applications.md includes information about expiry times for Temp token and Permanent token.

[2016-09-22 20:28] #5903 closed

[2016-09-22 21:37] tfiduccia commented on #6029
@pengjiang80 - was able to reproduce this problem in 1.1.3, but we resolved some port conflict issues in our 1.2.0-pre3 release and it will no longer hang up creating the primary container.  It will still create the sidekick in the wrong host, but will fix itself and recreate the container & sidekick into another host with an open port.  I'm closing this bug, if you continue to have problems after

[2016-09-22 21:37] #6029 closed

[2016-09-22 22:12] sangeethah commented on #6037
With rancher/secrets-bridge:v0.1.5 agent, TEMP_TOKEN in secrets.txt is always empty.

[2016-09-22 22:12] sangeethah commented on #6026
With rancher/secrets-bridge:v0.1.5 agent, TEMP_TOKEN in secrets.txt is always empty.

[2016-09-22 22:21] aemneina commented on #6030
@mckn the first few exceptions are sql related... looks like timeouts to the builtin db? Did the issues correlate in any way to a docker version upgrade? I dont believe 1.12 is supported at this point. Also what kind of spec is the host running the rancher container?

[2016-09-22 23:37] bdentino commented on #4825
I think I just hit this issue on an 11-host setup between two nodes that have been up and working without problems for ~2 weeks. I'm running Rancher Server 1.2.0-pre2 and all hosts are running `rancher/agent-instance:v0.8.3` and `rancher/agent:v1.0.2`. Restarting the agent instance container on one of the affected hosts cleared things up.

It seems like only communication between two particular ho

[2016-09-22 23:58] alena1108 opened #6039 "Support for k8s network policies"
We should add support for k8s network policies for Rancher network:

http://kubernetes.io/docs/user-guide/networkpolicies/

[2016-09-23 00:00] leodotcloud commented on #5256
For 1.2 we will support Calico as one of the networking CNI plugin options along with Rancher. In the following release we plan to bring in Weave too after development/testing.

[2016-09-23 00:16] tfiduccia commented on #5933
Was there an error beside cannot pull image?

[2016-09-23 00:41] deniseschannon commented on #5548
Have you tried this?

[code]

Note: I added in `NO_PROXY` into it. We have updated the docs to include the capitalized version.

[2016-09-23 00:48] deniseschannon commented on #1929
@Irving23 I've updated all the relevant version pages. We have moved away from using `docs.rancher.com/rancher/latest.

[2016-09-23 01:22] deniseschannon commented on #5781
@mikhail Please re-open if RancherCLI is not sufficient for your needs. The current version (v0.2.0) is only compatible with Rancher v1.2.0-pre3+, but v0.1.0 can be used for v1.1.x.

[2016-09-23 01:22] #5781 closed

[2016-09-23 01:26] deniseschannon commented on #5855
Can you share what the equivalent `docker run` command would be so I can try to reproduce?

[2016-09-23 01:28] deniseschannon commented on #5859
This looks like you are upgrading the stack and not necessary calling the templates of the stack to be used for upgrade. Have you tried upgrading through the UI to see what API calls are made using the developer tools?

Our catalog/templates use our catalog-service to upgrade and look at what upgrades are available.

[2016-09-23 02:12] blaisef3392 commented on #6031
got the same issue here

[2016-09-23 02:22] deniseschannon commented on #5858
Duplicate of https://github.com/rancher/rancher/issues/5329

[2016-09-23 02:22] #5858 closed

[2016-09-23 02:23] deniseschannon commented on #4053
@bradjones1 This would be the change that needs to happen in Cattle and then #5715 would be the changes needed in rancher-compose to support the network items.

[2016-09-23 02:24] deniseschannon commented on #5861
Closing in favor of #5201

[2016-09-23 02:24] #5861 closed

[2016-09-23 02:25] deniseschannon commented on #5864
Note: This is expected behavior. After any upgrade, the service is automatically started as part of the upgrade process. Otherwise, there is no way to validate if your upgraded service is working as expected.

[2016-09-23 02:28] deniseschannon commented on #5520
@icedfiend Are you trying to resolve services that are outside the stack? If so, you would need to use `service_name.stack`.

http://docs.rancher.com/rancher/v1.2/en/cattle/internal-dns-service/

[2016-09-23 02:45] deniseschannon commented on #6023
Anytime services are stuck in initializing, it's because the cross host network communication is broken.

Can you try exec-ing into the network agent of 1 host and pinging the IP of the other network agent (10.42.x.x)?

[2016-09-23 02:49] deniseschannon commented on #6018
Please review the [haproxy manual](https://cbonte.github.io/haproxy-dconv/1.6/configuration.html) on how you need to put in custom configurations.

When I search `maxconn`, it looks like it needs to be

[code]

Note: There is no `=` in it.

[2016-09-23 03:05] aemneina commented on #6022
i think the rancher cli would report that but not rancher-compose. you might need to experiment with the application and their commands.

[2016-09-23 03:08] pengfei-xue commented on #3737
seems like this pr caused another bug, container's resolv.conf will be flushed periodically even container's resolv.conf is not empty.

[2016-09-23 03:32] deniseschannon commented on #1983
Closing in favor of https://github.com/rancher/rancher/issues/5973

[2016-09-23 03:36] deniseschannon opened #6040 "With no access to internet, machine drivers will continually re-try to download driver and are not able to be disabled"
By default, the machine drivers shouldn't include any driver that includes downloading something from github as if you don't have internet access, this causes errors in rancher-server.

Specifically, the packet driver requires it.

[2016-09-23 03:37] #3822 closed

[2016-09-23 03:37] #3823 closed

[2016-09-23 03:38] #3824 closed

[2016-09-23 03:38] #3826 closed

[2016-09-23 03:38] #3827 closed

[2016-09-23 03:38] #3828 closed

[2016-09-23 03:39] #3829 closed

[2016-09-23 03:39] #3830 closed

[2016-09-23 03:39] deniseschannon commented on #3832
http://docs.rancher.com/rancher/v1.2/en/api/access-control/

[2016-09-23 03:39] #3832 closed

[2016-09-23 03:40] #3834 closed

[2016-09-23 03:40] #3835 closed

[2016-09-23 03:40] zfjoy520 commented on #6018
oh my god!!

thank you，thank very much!!

[2016-09-23 03:40] #3836 closed

[2016-09-23 03:40] #3842 closed

[2016-09-23 03:41] #3843 closed

[2016-09-23 03:41] #3844 closed

[2016-09-23 03:41] #3845 closed

[2016-09-23 03:41] #3846 closed

[2016-09-23 03:42] #3847 closed

[2016-09-23 03:42] #3848 closed

[2016-09-23 03:42] #3849 closed

[2016-09-23 03:42] #3850 closed

[2016-09-23 03:43] #3851 closed

[2016-09-23 03:43] #3852 closed

[2016-09-23 03:43] #3853 closed

[2016-09-23 03:43] #3854 closed

[2016-09-23 03:43] #3855 closed

[2016-09-23 03:43] #3856 closed

[2016-09-23 03:44] #3857 closed

[2016-09-23 03:44] #3858 closed

[2016-09-23 03:44] #3859 closed

[2016-09-23 03:44] #3860 closed

[2016-09-23 03:44] #3862 closed

[2016-09-23 03:45] #3864 closed

[2016-09-23 03:45] #3870 closed

[2016-09-23 03:45] #3871 closed

[2016-09-23 03:46] #3872 closed

[2016-09-23 03:46] #3821 closed

[2016-09-23 04:03] zfjoy520 commented on #6018
but why maxconn variables have not been replaced
??

[2016-09-23 05:37] hagr commented on #5864
Fair enough, but the only way to stop the upgrade process, if it fails to start, seems to be to delete the service.

[2016-09-23 05:39] ddelnano commented on #5864
@hagr you need to upgrade the service with the `start before stopping` option enabled.  This way if the new containers fail to start it never stops the old one.

[2016-09-23 05:48] sangeethah opened #6041 ""403 permission denied" errors resulting in secrets.txt not being created in containers."
Rancher server version - v1.1.4-rc3

Set up secrets-bridge-server and secret-bridge-agent by following instruction in https://github.com/rancher/secrets-bridge/blob/master/docs/setup.md for k8s environment.

rancher/secrets-bridge:v0.1.6

Create a RC with scale 10 , with containers that have secrets.bridge.enabled: "true".

out of 10 containers , 1 of them did not have secrets.txt created because

[2016-09-23 06:03] zfjoy520 opened #6042 "where is rancher/agent-instance:v0.8.3 haproxy logs?"
*Describe your issue here*

where is rancher/agent-instance:v0.8.3  haproxy  logs?

i can't find it!

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`service.containers`|

[2016-09-23 07:40] icedfiend commented on #5520
@deniseschannon Yes, but I understood that was rancher.internal DNS answering (according to resolve.conf in the container).

Even without the selector labels I can use rancher.internal DNS to resolve other services using `service_name.stack`, and that's the strategy we've adopted for now instead of using links.

Thanks

[2016-09-23 07:46] boshido commented on #6023
@deniseschannon
I'm sorry that I did not write about ping testing
I tested before and result was both network agent could not ping each other

Now I update rancher to v.1.2.0-pre3 before I update the services still stuck at initializing state
After finish updating the services change to active state but only load balancer still stuck in intializing state.

I tried to remove all of instances and re

[2016-09-23 08:46] elcct commented on #6030
I experience the same behavior using the same configuration. Server stops responding after a while.
My nginx error log is full of:
[code]

I am not seeing any exceptions in the server log.

Host is E3 1245 v5 with 64 GB ram.

[2016-09-23 10:07] ravlio opened #6043 ""dial tcp x.x.x.x:5432: getsockopt: no route to host" error while exec'ing sql command from host A to Postgres host B"
**Rancher Version:**
v1.1.1

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1, Bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
2 physical nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Install Postgres from catalog on node A.

From node B run co

[2016-09-23 10:18] kvaes opened #6044 "Suggestion : rancher cli - access control"
It would be great if the rancher cli was able to configure access control. This in general (setting up on server level) and  per environment (RBAC).

[2016-09-23 10:51] clescot commented on #5667
i encounter this issue with rancher v1.2.0-pre3, rancher-cli v0.2.0, docker 1.12.1, when i execute `rancher catalog `. But `rancher env`, `rancher hosts` ,  `rancher stacks`or other commands works.

[2016-09-23 10:54] clescot commented on #5667
adding /v1 to rancher-url like explained in the doc (http://docs.rancher.com/rancher/v1.2/en/cli/) solves this issue.

[2016-09-23 11:29] santagada commented on #5855
docker run -ti --entrypoint sh alpine:latest -c "true && echo hi"

apparently --entrypoint on the command line only lets you override using the non shell version of entrypoint. if this is the case for the ui it should say so and only accepts a binary name... but usually if you are overriding is because you need something more complex

[2016-09-23 12:02] ravlio commented on #6043
Error happens event with simpler code:

[code]

[2016-09-23 12:25] jbarrajon commented on #5989
I'm experiencing the same issue in a test cluster in preparation for production.
rancher server 1.1.3, 4 nodes kubernetes environment created with system stack template 7.
Without updating rancher server though, I try to upgrade the kubernetes system stack to template version 9.
Result is the same as the above; an etcd container is stopped, its replacement started (with its own sidekick) but after

[2016-09-23 13:49] deniseschannon commented on #6042
Duplicate of https://github.com/rancher/rancher/issues/2414

[2016-09-23 13:49] #6042 closed

[2016-09-23 13:51] deniseschannon commented on #6023
If they cannot ping each other, then adding/removing instances will not change anything. You need to get your cross host communication working first.

1. Do you have UDP ports 500 and 4500 open?
2. Have you looked at our FAQs?
http://docs.rancher.com/rancher/v1.2/en/faqs/troubleshooting/#cross-host-communication

[2016-09-23 13:59] Fridus opened #6045 "Feature: Can use env name in the server url in place of id"
Hi,

It would be nice to can use an alias or the environment name in the url of the server.
Ex:
.../r/projects/kube-prod/kubernetes in place of .../r/projects/1a9/kubernetes

[2016-09-23 14:21] deniseschannon opened #6046 "rancher-cli - v2-beta API endpoint issues"
CLI v0.2.0

When setting environment variables, certain commands still trying to use `/v1/`.

[code]

[ ] - `rancher catalog` throws invalid URL error

[code]

[ ] - `rancher stacks` throws unknown schema type

[code]

[2016-09-23 14:21] deniseschannon commented on #5667
Thanks @clescot. I've opened up this issue for what you found. https://github.com/rancher/rancher/issues/6046

[2016-09-23 14:49] jliu70 commented on #5859
I took another look at the UI API calls via developer tools, but from what I can see it seems to be the same calls that I'm making in the script above.

Here's a screen grab of the developer tools output.
I'm not a real developer, so I would appreciate it if someone could let me know if I'm missing something.

Thanks!!
![screen shot 2016-09-23 at 4 47 57 pm](https://cloud.githubusercontent.com/ass

[2016-09-23 14:50] sangeethah commented on #6037
With rancher/secrets-bridge:v0.1.6 agent, TEMP_TOKEN in secrets.txt gets a value as expected. Able to retrieve secrets using the permanent key that gets generated for contents from  secrets.txt.

[2016-09-23 14:50] #6037 closed

[2016-09-23 14:58] dj-hedgehog opened #6047 ""Failed to find schema" when using rancher-compose since upgrading to Rancher 1.1.3"
**Rancher Version:** 1.1.3
**Docker Version:** 1.11.3
**OS and where are the hosts located? (cloud, bare metal, etc):** root server
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I've recently upgraded my Rancher server to 1.11.3. Ever since I can't deploy anymore us

[2016-09-23 15:01] pstephan1187 commented on #3893
+1

[2016-09-23 15:14] dj-hedgehog commented on #5992
@aemneina I tried two other browsers and even re-created the services. It still doesn't work.

[2016-09-23 15:18] sangeethah commented on #6026
With rancher/secrets-bridge:v0.1.6 agent, TEMP_TOKEN in secrets.txt gets a value as expected when pods are deployed with secrets.bridge.enabled: "true". Able to retrieve secrets using the permanent key that gets generated for contents from secrets.txt.

When large number of pods get deployed at the same time , some of the containers fail to get secrets.txt which is tracked in https://github.com/ra

[2016-09-23 15:18] #6026 closed

[2016-09-23 15:36] vincent99 commented on #6047
Where did you download rancher-compose from?  You're using a version that requires Rancher 1.2.x (the v2-beta API)

[2016-09-23 15:43] ibuildthecloud commented on #6047
The best approach is to download `rancher-compose` from the download link in the UI of the current Rancher installation.  That will always get you the correct version.  We will update rancher-compose to get a more helpful error message in this situation.

[2016-09-23 15:57] LLParse commented on #5989
@jbarrajon Before attempting the upgrade, ensure that the `etcd` named volume from past v9 deployments is not present via `docker volume rm etcd` on all hosts. Deleting the stack doesn't delete the underlying data volumes automatically. The upgrade from 7->9 migrates an ephemeral deployment to a persistent one but will not do the migration if stale persistent data is present.

[2016-09-23 17:00] alena1108 commented on #5999
@Fridus stopping an individual container won't help as service reconcile will restart it. You can stop ingress-controller service, and it will disable rancher ingress controller. Note that if you decide to upgrade k8s system stack to the latest template version, the service will be restarted, and you might need to start it again.

[2016-09-23 17:02] alena1108 commented on #5561
With the latest master, we:

* save deployment unit information even for services having 0 sidekicks
* serviceindex is bound to the deployment unit

Marking the issue as resolved

[2016-09-23 17:04] alena1108 commented on #5541
Moving the release target as it has to be fixed on k8s side

[2016-09-23 17:05] alena1108 commented on #4693
@soumyalj please confirm that you don't see this error in the latest version of k8s you've tested.

[2016-09-23 17:06] alena1108 commented on #4419
Closing as a duplicate of #5902

[2016-09-23 17:06] #4419 closed

[2016-09-23 17:07] vincent99 commented on #5859
You seem to be confusing two separate things here...

Stacks deployed via the catalog have an `externalId` field that records what version of the template was deployed.  When you upgrade a catalog item (by clicking the "Upgrade Available" button) the new YAML definition of the service and a new `externalId` are sent to the `upgrade` action of the **stack**.

What you are showing in your picture (a

[2016-09-23 17:29] alena1108 commented on #5569
@deniseschannon in elastic search, what is the state of the sidekick containers? If it is running, then it the service will be marked as Active. If the state of the service's launch config/startedOnce containers are stopped (they were started once, then stopped), then the state of the service would become StartedOnce

[2016-09-23 17:42] alena1108 commented on #5774
The nil pointer reference error happens on this line of rancher provider code (the line # on 1.2.4 is different, referring to the latest's k8s version one):

https://github.com/rancher/kubernetes/blob/v1.3.4-rancher/pkg/cloudprovider/providers/rancher/rancher.go#L581

We should check if host is nil before fetching its ip addresses

[2016-09-23 17:42] aemneina commented on #6030
@elcct what does your nginx config look like? Please hide any sensitive info when sharing it.

[2016-09-23 17:53] joshwget commented on #5912
Have you tried out the docs on [private registries](http://docs.rancher.com/os/configuration/private-registries/)?

[2016-09-23 18:00] guzmo commented on #5912
I would like that but how do we send the cloud-config via the api when creating hosts from VSphere? And its not even possible to use Rancheros when using the VSphere engine. I've put a question on docker-machine about this but it seems the only problem is that the username and password is hardcoded so if I could change that in a cloud-config to docker/tcuser, rancheros would work.

[2016-09-23 18:24] joshwget commented on #5912
It doesn't look like Docker Machine supports passing userdata for vSphere. I think your best bet is to provision RancherOS instances without Docker Machine and then add the instances to your Rancher environment.

[2016-09-23 18:39] elcct commented on #6030
[code]

Surprisingly I can do a `curl -i https://redacted`, it replies with:

[code]

But when I do it from another computer it times out. It doesn't seem to be a network problem, because when I replace `proxy_pass` with for example `root` and a path that has some file and restart nginx I can read that file from any host.

[2016-09-23 18:43] tfiduccia opened #6048 "Changing client ID & Secret will cause Azure host to fail if new one is valid or create if invalid"
**Rancher Version:**v1.2.0-pre3

**Steps to Reproduce:**
1.  Setup an Azure host with all the proper credentials
2.  Setup another Azure host, leave the subscription ID in, but change the Client ID and Secret to aaa

**Results:** Second Azure host setups.

**Expected:** Should not setup

[2016-09-23 18:45] shawnHartsell commented on #5773
Can confirm the same on v1.1.1

While a simple schema change on the setting table would fix this (and it's what we're planning to do as a work around) maybe this data should be modeled so it is not stored as a comma delimited list? I can imagine that parsing that on the client side would become inefficient over time

[2016-09-23 18:54] guzmo commented on #5912
Yepp, thats one possibility but I rather not create them outside with scripts, and if I do I have to cleanup after myself as well. Rancher will not delete machines Rancher hasn't created. We will have ALOT of environments and if machines stops to get erased we will have some problems :P For now I solved it with a compose file that points to an inhouse Dockerfile that polls a script to get our cert

[2016-09-23 19:31] sangeethah opened #6049 "New labels set for the pod using edit , is not reflected in the contianer's metadata even after container restart."
Rancher Version:v1.1.4-rc1

Set up secrets-bridge-server and secret-bridge-agent by following instruction in https://github.com/rancher/secrets-bridge/blob/master/docs/setup.md for k8s environment.

Create pod without label secrets.bridge.enabled: "true".
/tmp/secrets.txt is not created as expected.

Edit pod and add abel secrets.bridge.enabled: "true".

This does not currently result in new label

[2016-09-23 19:35] sangeethah opened #6050 "New labels set for the pod using edit is not reflected in the container until restarted."
Rancher Version: v1.1.4

Create a K8s pod with labels.
This label is reflected in the container in labels field.

Edit pod and add 1 more label.
This label is not reflected in the container in labels fields.

Restarting the container manually , results in the newly added labels being set in the container.

[2016-09-23 20:05] deniseschannon commented on #5912
Since the Rancher UI calls a Docker Machine command to create hosts, the cloud-config won't help you until Docker Machine supports that ability.  I'll close this issue as it's a Docker Machine issue.

[2016-09-23 20:05] #5912 closed

[2016-09-23 20:07] deniseschannon commented on #5315
@chrisurwin validated that the proxy in the rancher-ha-cattle containers were being set properly.

[2016-09-23 20:07] #5315 closed

[2016-09-23 20:10] cloudnautique commented on #6049
This would be bad practice for running systems in a real use case. Under normal circumstances the pod would be redeployed under a new version.

[2016-09-23 20:12] jliu70 commented on #5859
Thanks.  I also think I was confused because I did not notice that there is a new "v2-beta" API which does make a reference to stacks with the action "upgrade".

I had originally found a variation of the script online which probably worked for v1 of the API.   I upgraded to Rancher 1.2.0 and didn't notice the new API.  I recall that there were many changes announced by Darren Shepherd when he intr

[2016-09-23 20:29] jlee70 commented on #3147
+1

[2016-09-23 21:10] vincent99 commented on #6048
This is an issue with how machine manages credentials, https://github.com/docker/machine/issues/3782

[2016-09-23 21:29] aemneina commented on #6030
I believe the proxy_pass should point to https://<backend_upstream_server_def> and not localhost.

[2016-09-23 21:35] dj-hedgehog commented on #6047
@vincent99 & @ibuildthecloud
I was using a Docker image which installed v0.10.0 of rancher-compose. I'm now building my own image with an older version.
Thanks for pointing me in the right direction.

[2016-09-23 21:35] #6047 closed

[2016-09-23 21:38] vincent99 commented on #5859
This doesn't really relate to API v1 vs v2, except that stacks are called environments in v1...

To upgrade a catalog item you get the new yaml from the catalog API (`/v1-catalog`) and send that in the `upgrade`action on the stack, along with the updated `externalId` ("catalog://"+ the new template version's `id`).

You do not not call upgrade on individual services.

[2016-09-23 21:45] alena1108 commented on #6005
@wlan0 @cjellick can either be related to race condition when container itself is not present in the metadata yet when we fetch /self/container from the meta, or container being present, but ip address being missing at this point.

[2016-09-23 22:09] aemneina commented on #5912
@guzmo this is an interesting problem. You could boot your vsphere vm's and attach an ISO containing an image of your cloud init. See [here](https://cloudinit.readthedocs.io/en/latest/topics/datasources.html#vsphere) but using docker-machine, I dont believe docker-machine is rich enough yet to support this where would could have an automated solution end-to-end.

[2016-09-23 22:20] tfiduccia opened #6051 "Telemetry model looks bad in regular screen mode and Got It is being cut off in mobile"
**Rancher Version:** v1.2.0-pre3

**Steps to Reproduce:**
Open rancher for first time
Open rancher in mobile size

**Results:**
Regular screen - cow is floating and scrollbar showing up.
![image](https://cloud.githubusercontent.com/assets/11514927/19166338/f2513110-8bbb-11e6-9df2-fc49a375f94c.png)

Cut off "Got it" button and cow is floating
![image](https://cloud.githubusercontent.com/assets/1151

[2016-09-23 23:00] tfiduccia commented on #6001
@alena1108 - I added their catalog and built the stack.  It seems to be glusterfs_gluster-node_gluster-volume_1 & 2.  But it's fixed in v1.2.0-pre3 and looks to be working correctly.

@janeczku - This is fixed in 1.2.0-pre3.  So it should work fine when you upgrade.  If you still are having issues, reopen and let me know.

[2016-09-23 23:00] #6001 closed

[2016-09-23 23:27] aemneina commented on #5992
@dj-hedgehog, @tfiduccia asks a good question, where are your machines hosted? I also havent been able to repro your issue using: rancher 1.1.x + ubuntu 16.04 + docker 1.11.2

[2016-09-23 23:50] tfiduccia commented on #4204
Version - 1.2.0-pre3
Can create multiple Azure host now.

[2016-09-23 23:50] #4204 closed

[2016-09-23 23:51] tfiduccia commented on #6048
This is also causing my Azure host setup to fail as well.  When I entered a different valid client ID & Secret for same subscriptionID, I get an error when it tries to create saying invalid Client.

[2016-09-23 23:56] sangeethah opened #6052 "Lb services linked to external services is not functional."
Rancher Version: Build from master

Steps to reproduce the problem:
Create an External Service.
Create a LB service with target as this external service.
LB ip address is not reachable.
There is no front end/ backend entries are programmed in haproxy configuration.

[code]

[2016-09-23 23:56] tfiduccia commented on #6012
@taktran - found a new issue with Azure machine, please see issue #6048.  If you find you need to remove that Azure password - Exec into the server container (`docker exec -it <container id> bash`) and `rm -rf ~/.docker/machine/credentials/azure`

[2016-09-24 01:08] elcct commented on #6030
@aemneina I found the problem - it was not the nginx configuration. Looks like I had `rancher/agent` running on one of the machines in my local network.

- I added new host

- Installed agent on that host

- Deleted host

- Agent was still running on that host

Host where that agent was installed was sharing the same external ip as my dev pc.

After I killed and deleted container with that agent f

[2016-09-24 02:27] aemneina commented on #6030
Cool, I'll close the issue. Thanks for the update.

[2016-09-24 02:27] #6030 closed

[2016-09-24 07:17] qazbnm456 commented on #1277
It will be great if we have these abilities on hand, but when these functions will available?

Listing images on the host through APIs will be my first-priority needed function. Could someone provide me an ideal or suggested solution maybe? Thanks for inventing such a good product, btw.

[2016-09-24 08:16] guzmo commented on #5912
Ye I've had thoughts of building our own rancheros image with cloud-config included and changed username/password. Someone done that?

[2016-09-24 09:04] Joeasaurus commented on #5995
Yeah it seems that if you're not careful about order and state, all sorts of odd things happen. While this was all going on, it would try to mount the directory it wanted and create a whole new volume in the storage pool. Very weird but after some spinning, the volume list was about 100 long, 96 of them being named by random string (I assume the IDs that convoy uses).

In the end I killed it all a

[2016-09-24 11:22] fuhbar commented on #5954
@will-chan Is this possibly a duplicate of #5488? If so we could close this one.

[2016-09-24 21:47] clescot opened #6053 "UI is unresponsive and buggy : cluster is unusable"
**Rancher Version: 1.2-pre1 to 1.2-pre3**

**Docker Version:*1.11.2 on agents and 1.12.1 on my laptop*

**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu on baremetal servers
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher, external db in a container on the same host than the server.
**Environment Type: (Cattle/Kuberne

[2016-09-24 22:05] jliu70 commented on #5859
Thanks.

On a side note, I found this documentation which also states similar to what you mentioned.
http://docs.rancher.com/rancher/v1.2/en/cattle/rancher-compose/upgrading/

I'll need to experiment and give your suggestions a try.  I'm not quite sure how to craft the API calls.  I'll try on Monday.

Thanks again!

[2016-09-25 10:53] wanghaisheng commented on #5915
@serv  what do you mean by repository_where_rancher_is_stored ?rancher source code or mysql data ?

[2016-09-25 11:03] fuhbar commented on #3583
This seems to be implemented by @jgreat and merged in 3 month ago via [PR#40](https://github.com/rancher/external-dns/pull/40) by @alena1108.

@vincent99 This issue can be closed, I think.

[2016-09-25 13:15] yaroslavbikov commented on #3096
@amalagaura I managed to limit retrying by the following in rancher-compose file:
[code]

[2016-09-25 14:01] wanghaisheng opened #6054 "how to add a host"
**Rancher Version: may be v1.2.0-pre3(setup  using docker run -d --restart=always -p 8080:8080 rancher/server)**

**Docker Version:1.12.1 **

**OS and where are the hosts located? (cloud, bare metal, etc):macbook**

**Setup Details:  **
setup  using

and create 3 ubuntu 16.04  virtual machine through vmware fusion.
run

 "
on each one.host ip is 10.0.0.2 ,three virtual machine is 10.0.0.7, 10.0.0.

[2016-09-25 14:12] Dmitry1987 commented on #6054
@wanghaisheng  - what does your "docker logs <agent container id>" show?  do you see agents connected to master?
I just stumbled upon similar issue, but I'm on EC2. And I see agents can't connect to master even though they can reach it on needed port (during startup, agent container shows "can reach x.x.x.x successfully" , and then fails to "register" as a host  o_O )

Try posting your docker logs

[2016-09-25 14:31] Dmitry1987 opened #6055 "agent fails to connect (aws ec2)"
**Rancher Version:**
v1.2.0-pre3
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2,  Amazon linux (Centos 6, is closest relative)
**Setup Details:**
single node rancher
**Environment Type:**
cattle I guess?  (adding new host to rancher)

**Steps to Reproduce:**
1. New EC2 amazon linux.
2. `docker run -d --restart=always -p 8080:8080 rancher/server

[2016-09-25 15:36] serv commented on #5915
@wanghaisheng Rancher source code that you cloned from this repo

[2016-09-25 15:40] wanghaisheng commented on #6054
i can ping from host to virtualbox ,also from virtualbox to host.
logs
[code]

[2016-09-25 15:42] Dmitry1987 commented on #6055
UPDATE:
tried to use RancherOS from AWS marketplace, master runs ok with no issues.
tried to connect the "host" (another RancherOS instance), they have ports open to each other with a security group.

Got similar error, this time on "connection test" stage.  Weird thing is:  I can ping master from that host, which means my security group rule of "All traffic" between those 2 instances is working.

[2016-09-25 15:46] wanghaisheng commented on #6054
trying to reproduce the issue ,but
[code]

[2016-09-25 15:46] Dmitry1987 commented on #6054
@wanghaisheng   wow you have several errors there..  but last one says port 80 is in use somewhere.. it tries to connect to elasticsearch?   sorry i can't help  :)  , trying to solve my issues too. I tried RancherOS AMI distro, and got same connection error I had on centos... :(  .

[2016-09-25 16:30] wanghaisheng commented on #5915
@serv  are u saying if i want to run a rancher agent on physical machine or virtual machine ,i need to clone the source code and point to this directory in the "sudo docker run -d --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.0.2 http://localhost:8080/v1/scripts/41378FF43526C55B72AD:1474819200000:qyh6fdvTlecx9ALCCU2M0FZVnyo"

[2016-09-25 16:38] aemneina commented on #6055
@Dmitry1987 a quick test that could help is to change the source ip in your security group to be more permissive or fully open temporarily. Can the host add in that case?

[2016-09-25 16:52] aemneina commented on #6054
@wanghaisheng what networking mode is setup for the VM's, are they using NAT, bridge,...?

[2016-09-25 19:06] #3583 closed

[2016-09-25 21:48] izhilenkov commented on #4680
👍

[2016-09-25 22:43] defunctzombie commented on #1370
Will this be fixed in 1.2.0? It is non-obvious when this happens how to fix it since removing the agent and agent state containers alone doesn't do it.

[2016-09-26 00:54] serv commented on #5915
Yes, I believe so. At least that's what I've done to make it work

[2016-09-26 01:53] wanghaisheng commented on #5915
@serv what about " http://localhost:8080/v1/scripts/41378FF43526C55B72AD:1474819200000:qyh6fdvTlecx9ALCCU2M0FZVnyo" should i change localhost to host ip where rancher server setup ?

[2016-09-26 02:21] serv commented on #5915
Ya, don't use localhost. Use explicit IP address.

[2016-09-26 05:40] boshido commented on #6023
@deniseschannon
Can you explain about why the problem disappears when I remove all of the instances and recreate all of it ?

Answers
1. About UDP port all of the instances locate in same VPC and same security group,
I already add the policy to allow all of traffic that come from ip network wildcard (10.0.0.0/8) in VPC
2. I already check

but for the other troubleshooting tips I didn't do because

[2016-09-26 06:59] Dmitry1987 commented on #6055
@aemneina - I temporarily did "allow from all" in SG.  But it was the same:

INFO: docker info: Operating System: RancherOS v0.6.1
INFO: docker info: CPUs: 4
INFO: docker info: Total Memory: 15.67 GiB
INFO: docker info: Name: ip-172-31-xx-xx.us-west-2.compute.internal
INFO: docker info: ID: FFQ6:6L2M:QTK3:SPYV:2HKB:WU6V:7MOJ:FE3R:2TMF:GIIA:HISC:SRXY
INFO: docker info: Http Proxy:
INFO: docker info

[2016-09-26 07:05] Dmitry1987 commented on #6055
Also I noticed I can easily reach any master ports, using either EIP or public dns (in example above) from the instance itself.  So it's something with agent container/application that causes the glitch.

Most interesting is the 1st pasted log, where the container itself can connect to master - and right after this little 'health check', it fails to register! :)  Totally weird.

I mean this one:

[2016-09-26 08:27] opichon opened #6056 "cannot create aws ec2 host"
_Describe your issue here_

I am trying to create a kubernetes environment with an AWS EC2 host.

Rancher is stuck "waiting for a host to be active".

The host has been created in EC2.

After a while the host gets terminated in EC2.

---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
| Access | `localauth` `admin` |
| Orchestration | `Kubernetes

[2016-09-26 08:57] suizman commented on #5464
Yes @deniseschannon i have **expose: 80:80** only for the rancher load balancer. No ports are declared.
BTW sry for the late respones ):

[2016-09-26 09:08] Dmitry1987 commented on #6055
omg i am completely useless :D ...
it appears that I have to go through "add host" in web GUI, to get proper link with correct "secret" for that new host, like in Jenkins ... I thought I can use the same link again and again so just copy pasted it between the attempts, on different hosts.  So stupid of me  ...   I was able to add all hosts now :+1:

Hope it helps someone else if they google up thi

[2016-09-26 10:27] Dids commented on #2179
Any news on listen/stats?

[2016-09-26 11:16] Dreampie opened #6057 "liquibase.exception.LockException: Could not acquire change log lock. Currently locked by b4f9bbee3bde (fe80:0:0:0:42:acff:fe11:2%14) since 9/26/16 10:36 AM"
ubuntu 14.04
docker 1.2.1
rancher latest

[code]

[2016-09-26 11:50] #6057 closed

[2016-09-26 12:12] wanghaisheng commented on #6054
change virtual machine network mode to bridge,
[code]

[2016-09-26 12:18] forhot2000 commented on #4459
I also got similar error, my `rancher-ha-parent` container's ip is `172.17.0.2`, and I `export CATTLE_AGENT_IP=172.17.0.2` to run `rancher-ha-start.sh` script, it also got the same error

[code]

[2016-09-26 12:28] #6054 closed

[2016-09-26 12:43] egrist opened #6058 "Rancher-HA unstable ha-initialization"
**Rancher Version:** v1.1.3 & v1.1.4

**Docker Version:** 1.10.3

**OS and where are the hosts located?:** vSphere 6 with CentOS 7 OS vm's

**Setup Details:** 3-node Rancher with external 3-node galera cluster

**Environment Type:** This is before using rancher-ha ui

**Steps to Reproduce:** At the first step of http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/multi-nod

[2016-09-26 13:03] ronikurnia1 commented on #4455
We've got the same issue here

[2016-09-26 14:19] schuylr commented on #5959
@janeczku Great work so far. I have the ALB working for my application. The ability to specify the VPC and region was also very important and useful for us.

Two big caveats in my books:

1. Can we please have the ability to specify the health check location? Currently `/` is just a static page on our server, whereas we've created `/health` _specifically for an application-exposed test_ so we're n

[2016-09-26 14:22] JorritSalverda opened #6059 "Kubernetes proxy not starting or starting very slowly"
**Rancher Version:**

1.1.4

**Docker Version:**

1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**

RancherOS v0.6.1 (4.4.19-rancher) started with docker-machine + VirtualBox 5.1.4 r110228 on Windows 7 Professional 64-bit SP1.

The VirtualBox settings seem to appoint 1024MB RAM and 1 CPU core.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external

[2016-09-26 14:25] tehdeadone opened #6060 "Kubernetes LoadBalancer service type creates "k8s service" instead of "Load Balancer""
**Rancher Version:** 1.2.0-pre2 and 1.2.0-pre3

**Environment Type:** Kubernetes

**Steps to Reproduce:**

Spin up a kubernetes service with type LoadBalancer.

Example yaml:

[code]

**Results:**

In kubernetes-load-balancers, a "K8s Service" is created. The service can only be accessed at it's randomly assigned nodePort

**Expected:**

Prior to upgrading to v1.2.0-pre2, when we created a service

[2016-09-26 14:31] sfenzke-smava commented on #5951
I just tried this on Ubuntu 16.04.1 LTS with docker version 1.11.2 and got the same beaviour.

[2016-09-26 14:56] chrisurwin opened #6061 "Disable externally dependent Machine drivers by default"
**Rancher Version:**
All

There are issues with companies that block access to github by default, which causes the go-machine-service problems as it will constantly attempt to download a couple of our default enabled machine drivers.

Would it be possible by default to only enable drivers that are embedded in the Rancher image to stop the attempts and allow people to turn it on by the UI or via th

[2016-09-26 15:05] JorritSalverda commented on #6059
Increasing the vm sizes to 4096MB and 2 cpu cores doesn't make a difference.

[2016-09-26 15:24] schuylr commented on #4659
This is now somewhat related to #5959

[2016-09-26 15:51] vincent99 commented on #6061
https://github.com/rancher/rancher/issues/6040

[2016-09-26 15:51] #6061 closed

[2016-09-26 15:55] vincent99 commented on #6040
The machine service should just give up after a couple tries and go to error instead of trying forever.  Removing things by default doesn't solve the problem, it just hides it until someone tries any of the not-built-in drivers.

[2016-09-26 16:07] dirkdevriendt commented on #6031
Same symptoms here on rancher v1.1.3

Tip: We've had this before and then it was related to two containers being started together in one stack with the same volume definition that did not exist yet. This caused the creation of two volumes with the same name and subsequent failure because of the ambiguity between the two. Deleting one of the two identically named volumes solved the issue.

In this

[2016-09-26 16:39] jbarrajon commented on #5989
@LLParse thanks for the tip, but still no luck..
the etcd named volume is not there to start with, it shows up once the upgrade begins though.
I've ensured there is no stale data in the etcd container cluster, but the upgrade still fails.
Also tried upgrading rancher-server from 1.1.3 to 1.1.4 and then upgrade the system stack, but eventually fails.
All the update procedures were tested in a new c

[2016-09-26 16:52] janeczku commented on #5959
Thanks a lot for your input @schuylr. Good point on the health check location. I'll add a label allowing the user to specify the protocol, port and path to use for the health check.

To clarify the second point: You want to forward traffic to multiple ports of the same service with each one mapped to another listener? We would need to come up with a label scheme that allows users to specify multip

[2016-09-26 17:26] schuylr commented on #5959
Thanks!

What about commas? e.g.

[code]

I think all of the labels would need that scheme though, so maybe not the best. I don't have an alternative in mind but it is how I've seen other environment variables passed around i.e. LetsEncrypt list of domains to generate certs for. I couldn't imagine a service using more than 2 or 3 exposed ports.

There's also [documentation on comma-separated lists

[2016-09-26 18:45] aemneina commented on #6055
awesome, glad its sorted! I'll close it out.

[2016-09-26 18:45] #6055 closed

[2016-09-26 19:27] LLParse commented on #5989
Would you please open a new ticket for this and provide the logs for failing etcd container? To get the full logs, please login to the host and run `docker logs`...thank you

[2016-09-26 21:59] sangeethah opened #6063 "Validate new features supported in Kubernetes 1.4"
Validate new features supported in Kubernetes 1.4 - https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#v140

[2016-09-27 00:18] wlan0 commented on #5594
thanks @galal-hussein

[2016-09-27 01:25] p-thurner commented on #6057
I seem to have the same behavior: Debian 8, docker 1.12.1, build 23cf638, docker ps says rancher/server:stable

[2016-09-27 02:06] Dreampie commented on #6057
this is answer : http://docs.rancher.com/rancher/v1.2/en/faqs/server/#why-is-rancher-server-frozen-or-why-could-my-upgrade-have-failed

[2016-09-27 02:49] ampedandwired commented on #3354
For anyone interested I have just published a small Docker service that automatically removes hosts from Rancher that have been terminated in AWS: https://github.com/ampedandwired/rancher-reaper

[2016-09-27 03:42] boshido commented on #6023
Today the same think happens to production environment
And that is not good at all
![image](https://cloud.githubusercontent.com/assets/3489862/18859514/004c43a0-849f-11e6-821a-e79dd8757b63.png)

[2016-09-27 03:55] aemneina commented on #6023
@boshido can you post your docker logs, ideally /var/log/messages, and rancher agent logs from the time before your agents went into reconnecting? You should scrub it for sensitive information and use a site like pastebin to post it to.

[2016-09-27 04:01] boshido commented on #6023
@aemneina
After analysing the problem I found this error while trying to recovery agent container
`Error response from daemon: write /var/lib/docker/containers/da29bec60001037bf5aef6205e736352ff68824e7d910f10a46e7159b1fe391f/hash573451252: no space left on device`

![image](https://cloud.githubusercontent.com/assets/3489862/18859771/75b524de-84a1-11e6-9a8c-81d7a7f64c49.png)

That seemed like there

[2016-09-27 04:22] aemneina commented on #6023
I believe the Janitor catalog item was built for this. Sounds like you've found the root of the problem, and we can close this out. Is that correct?

[2016-09-27 05:20] allamand commented on #4680
+1

[2016-09-27 05:52] boshido commented on #6023
@aemneina
Yes I already found the root of the problem

Thank for helping me

[2016-09-27 06:09] AmitKumarDas opened #6064 "Access a container's web UI"
*Not able to access the Concourse CI 's web portal which has been installed in Rancher*

Not sure which IP address to follow ?
I want to access the Concourse CI's web from my laptop which can communicate the Rancher box.
In other words I am able to access the Rancher Web UI from my laptop.

**Steps followed:**
- Go through the concourse install steps w.r.t
 - docker-compose and
 - key generation w

[2016-09-27 07:28] Oro opened #6065 "rancher vm hairpin NAT not working"
**Rancher Version:**
1.1.3
**Docker Version:**
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Arch:      linux/amd64

**OS and where are the ho

[2016-09-27 07:34] cafeliker opened #6066 "Use AWS EC2 available key pair to provision agent host"
**Rancher Version:**
1.1.3
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
ALL
**Steps to Reproduce:**
When I used Racher UI to provision a new agent host, Rancher would generate a new SSH

[2016-09-27 08:13] opichon opened #6067 "ConvoyEFS not working"
*Describe your issue here*

I'm trying to set up a storage pool with Convoy-EFS on 2 a cluster with 2 EC2 hosts.

The storage-pool-agent works, but the volume-agent-efs containers won't work are are stoped.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.3` Cattle: `v0.165.8.1` UI: `v1.1.12` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`service.containers`|

[2016-09-27 11:41] argent-smith commented on #5982
Same on 1.1.4 stable (just upgraded from 1.1.3 stable)

[2016-09-27 12:13] kevin-wang-cy commented on #5982
Rancher	v1.1.4
Cattle	v0.165.8.4
User Interface	v1.1.14
Rancher Compose	v0.8.6

I got same error just now

[2016-09-27 13:06] larsmagnusherland opened #6068 "OVH not predefined Machine Driver"
Rancher Version: 1.14
Docker Version: 1.12
OS: cloud / VPS / Ubuntu 16.04 LTS
Setup Details: Single node rancher
Environment Type: Cattle

**Steps to Reproduce:**
Try to provision a server to OVH cloud with "Add host", no choice for OVH.
Try to enable Machine Driver, no choice for OVH.
Manually try to add, hard to set up and all "gits" available doesn't work in all cases of Operating System.

**Re

[2016-09-27 13:44] Flos commented on #6028
I have the same Issue with: Rancher v1.1.4

Loadbalancer: PFsense
Virtualiaztion: Ovirt/KVM
OS: RancherOS
DB: Galera
Docker: 1.12.1, build 23cf638

[code]

[2016-09-27 13:52] Vergnais commented on #4291
Hi,

I fear i face the same issue on debian 8. As soon as I use "managed network" my dns can't resolve internet addresses.
In containers i have : cat /etc/resolv.conf
search <xxxxx.xxx> rancher.internal
nameserver 169.254.169.250

I've started docker daemon on my host with --dns parameter :
/usr/bin/dockerd --dns <xxx.xxx.xxx.xxx> -H fd://

docker version : Docker version 1.12.1, build 23cf638
ran

[2016-09-27 13:57] izhilenkov opened #6069 "Can't use swarm in remote (bad cert)"
**Rancher Version:** 1.1.4

**Docker Version:** 1.12

**OS and where are the hosts located? (cloud, bare metal, etc):** ubuntu 14.04 DigitalOcean

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node/internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Swarm

**Steps to Reproduce:**
1. Create Swarm env
2. Generate certs
3. Install certs on

[2016-09-27 14:59] Shadowsvoices commented on #4348
I'm still having the exact same issue. It is not fixed on v1.1.4 or v1.2.0-pre3 or is it?

[2016-09-27 15:32] roachmd commented on #4459
@forhot2000

I just got this running. So, the not so clean instructions.....

I'm following the instruction :: http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/multi-nodes/ on a Ubuntu 16.04 host
1) Copy the generated rancher-ha.sh script to each host.
2) Add export CATTLE_AGENT_IP={ IP Address of the HOST } to line 26 of each script.
     a) this makes it apart of the

[2016-09-27 16:58] tfiduccia commented on #6056
I cannot reproduce this issue.  Can you check the logs for errors and let us know what it says?  Also check to make sure your security group has:
1.  From the Rancher server to TCP port 22 (SSH to install and configure Docker)
2.  From and To all other hosts on UDP ports 500 and 4500 (for IPsec networking)

[2016-09-27 17:59] tfiduccia commented on #6060
Using your yaml, the load balancer service was created, with the open port 443, and am able to scale it.  I ran it in both in 1.1.3 and 1.2.0-pre3 and compared them, and the same exact services were created.
Did you check your host to ensure that host 443 was still available?

[2016-09-27 18:07] deniseschannon commented on #6060
What version of kubernetes are you running in 1.2.0-pre2/3? Can you share the image name of your kubernetes system service?

This would help us identify which template you are using.

[2016-09-27 18:12] deniseschannon commented on #5619
@vincent99 I would like this implemented so that you don't have to go to the upgrade page to be  able to tell the version.

Specifically, this would be helpful for Kubernetes debugging. It's very hard to find out what template people are using in their Kubernetes version without asking to share ALL their images of the kubernetes system stack.

[2016-09-27 18:52] JaviSabalete commented on #5951
@aemneina tested with docker 1.11.x and 1.10.x, same behaviour on Ubuntu 16.04

No problems with Ubuntu 14.04 and Debian 8

[2016-09-27 18:53] JaviSabalete commented on #5840
Thanks for your reply @vincent99 you right!

Close this issue

[2016-09-27 18:54] #5840 closed

[2016-09-27 18:57] JaviSabalete commented on #4241
@deniseschannon could you reopen? isn't fixed yet

[2016-09-27 19:03] awithersdd commented on #2414
Whatever the ultimate solution it should support capture by log drivers. I wish the rsyslog were followed up on. We use our own container in some cases to replace rancher load blancer just to get logs correctly output and handled by the log driver. It uses rsyslog and socat, something like this could be added to the current rancher load balancer.

[2016-09-27 19:30] roffe commented on #6028
I've spent 10 hours so far trying to setup a Rancher-Ha for work.

Same problem here. Rancher agent keeps trying to connect to the wrong interface even though i've edited the shell script AND added export CATTLE_AGENT_IP

time="2016-09-27T19:27:50Z" level=info msg="Can not launch agent right now: Server not available at http://172.17.0.1:18080/ping:" component=service

core@rancher-manager-2 ~ $ c

[2016-09-27 19:31] ibuildthecloud commented on #594
@alena1108 can you give me an example of this?  which API?  I'll fix it as I'm working in this area already.

[2016-09-27 19:48] alena1108 commented on #594
@ibuildthecloud it used to be actually for the serviceId field under balancerService.portRules[] (before I removed the type). You can get it by rebasing to this commit of the lb refactor PR:

https://github.com/rancher/cattle/pull/1798/commits/ef9bcd03d98e9e64549a43ef3e8cc88f9f617b65

[2016-09-27 20:12] deniseschannon commented on #4241
@JaviSabalete What version are you on? Could you upgrade to the latest stable version (1.1.4) to see if you still face this issue?

[2016-09-27 20:30] wlan0 opened #6070 "Run Kubemark on Rancher k8s"
Kubemark needs to be run on rancher k8s and benchmarks should be established.

[2016-09-27 21:01] tfiduccia opened #6071 "CatalogIcon doesn't update on refresh catalog"
**Rancher Version:** v1.2.0-pre3

**Steps to Reproduce:**
1.  Create a template with catalogicon and view it in the UI
2.  Replace the catalogicon, upload it and click on the refresh catalog button

**Results:** Still shows old image

**Expected:** Should show new image

[2016-09-27 21:04] tfiduccia opened #6072 "Catalog doesn't get removed when removed from settings"
**Rancher Version:** v1.2.0-pre3

**Steps to Reproduce:**
1.  Add a catalog through settings
2. Remove the catalog through settings

**Results:** Even thou you can't see it in the UI anymore, it is still stored on disk.  And if you readd it using the same Name, it will pull the cached version.

**Expected:**  Should remove the catalog.

[2016-09-27 21:40] tfiduccia commented on #4241
Version 1.2.0-pre3
Add AWS Debian 8 Jessie machine, and the memory stats are now pulling.  Changing to bug.

[2016-09-27 21:59] tfiduccia commented on #4241
@JaviSabalete - Hey, after asking around the dev group, I found out this is actually a docker issue and it's already entered over there.  Here is a reference to the bug - https://github.com/docker/docker/issues/396

There is a work-around and I'm on version 1.2.0-pre3 and tried it out and it worked for me.  Here are the steps:

1.  ssh into your rancher server
2.  add cgroup_enable=memory swapacco

[2016-09-27 21:59] #4241 closed

[2016-09-27 22:23] deniseschannon opened #6073 "Add in upgradeFrom and maximum_rancher_version in rancher-compose for catalog service"
Added new fields into rancher's catalog service, which need to be added into rancher-compose

[2016-09-27 22:24] deniseschannon commented on #4507
There is no way in our catalog-service today to ask for a specific version and return the relevant versions, but we've added some features in regards to versioning/upgrading.

1. Instead of showing templates by folder number, we are now displaying by version number. In this case, if you were on 5.7.30 and in your folders, there was a 5.7.20 and 5.7.35 and 5.8.0, then only 5.7.35 and 5.8.0 would sh

[2016-09-27 22:55] wlan0 opened #6074 "Kubectl v1.4 client breaks heapster template launch"
**Rancher Version:** > 1.2.0-pre3

**Docker Version:**  > 1.11

When we launch this template with kubectl v.1.3.4 - this template - https://github.com/rancher/community-catalog/pull/294 works

if we do the same with kubectl v1.4.0 - heapster starts, but throws this error in its logs

[code]

[2016-09-28 08:23] tehdeadone commented on #6060
@tfiduccia Yes I did. It was only available on the randomly assigned nodePort on that host. No where else.

@deniseschannon I created the clusters from scratch when we upgraded to 1.2.0-pre3 and 2 and it took the Kubernetes rancher/v1.3.0-rancher3 images when I setup Kubernetes. Is this the info you're looking for?

[2016-09-28 09:26] blueo commented on #5891
I'm pretty sure this is to do with having a touch screen enabled desktop. I'm using chrome 53.0.2785.116 m and I can see the dropdown when hovering. But in Firefox it works. The difference is that chrome detects my touchscreen and tags the body element with the 'touch' class where as firefox does not.

the `ui/app/mixins/hover-dropdowns.js` on line 21 looks for the touch class and then basically t

[2016-09-28 10:03] rossigee commented on #5891
I can concur that I am having the problem when running a touchscreen enabled laptop, but it works fine on another machine with an ordinary screen.

[2016-09-28 10:49] dalareo opened #6075 "Allow rancher-compose variables in Load Balancer"
It is not possible to set rancher-compose variables in Load Balancer. I am creating a load balancer template for my custom catalog and I would like to let users customize it from the UI with rancher-compose variables. Example:

[code]

**Rancher Version:**
1.14

**Docker Version:**
1.12

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu with DigitalOcean

**Setup Details: (s

[2016-09-28 13:53] janeczku commented on #6001
Confirmed that upgrading to v1.2.0-pre3 fixes this issue.

[2016-09-28 14:21] guzmo opened #6076 "Healthcheck with headers"
Hey!

Is it possible to add headers to healthchecks? Alot of our applications need a specific header to be present to return a 2xx/3xx http respons. If we can't add headers we will not be able to use healthchecks until we add some other health endpoint in our applications.

Thanks

[2016-09-28 14:54] tttmaximttt commented on #2101
Hi, can I run rancher on ARM in 2016?

[2016-09-28 15:56] svensp opened #6077 "Inter host networking with --iptables=false"
**Rancher Version:**
v1.2.0-pre3 currently, first started in 1.1.0

**Docker Version:**
v1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu Xenial on Kernel 4.4 - vhost
Debian Jessie on Kernel 4.7 - vhost and bare metal both act the same, vhost in most recent attempt

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Ranc

[2016-09-28 16:05] JaviSabalete commented on #5218
Same behavior here

[2016-09-28 17:03] ufukomer commented on #5915
Btw, does anyone know how to choose public IP (CATTLE_AGENT ip value) in here. Because when I create it randomly (something like 172.0.2.1) _load balancer_ can not redirect to the application via this IP address.

[code]

[2016-09-28 18:22] RobertKozak opened #6078 "Catalog Entries really need some more metadata like a Category"
Catalog Entries really need some more metadata like a Category: New, Updated, Depricated etc so I can quickly tell what changed or got introduced

[2016-09-28 18:50] deniseschannon commented on #4348
No, this has not been released yet.

[2016-09-28 18:52] deniseschannon commented on #6068
Rancher uses docker-machine to launch machines.
When docker-machine supports OVH, then Rancher would be able to support it as well.

[2016-09-28 18:52] #6068 closed

[2016-09-28 19:46] Shyckymn opened #6079 "Cluster failure scenario - containers are being migrated to another host but all the stack services crash..."
**Rancher Version:**
v1.1.3

**Docker Version:**
[code]

**OS and where are the hosts located? (cloud, bare metal, etc):**
[code]

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Two VMWare RHEL 7.2 nodes, internal DB.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Hi everyone! Good afternoon!

I created two nodes in my R

[2016-09-28 20:21] vincent99 commented on #6068
There is a 3rd party driver you can try:  https://github.com/yadutaf/docker-machine-driver-ovh

[2016-09-28 20:56] LLParse commented on #5804
It is a hard requirement to support both overlapping and separated-plane deployments in a single template. We must use soft contraints to acheive this. Upon creation of a 'Kubernetes' environment, the system stack is launched immediately... so a race condition manifests where containers are sometimes scheduled to hosts before they are labelled.

The solution is to label hosts before launching the

[2016-09-28 20:56] #5804 closed

[2016-09-28 21:03] LLParse commented on #5815
The [migration procedure for overlapping -> separated-planes deployments](https://github.com/rancher/rancher/wiki/Kubernetes-Management#overlapping-planes-to-separated-planes) needs to be followed to prevent pods from being orphaned.

[2016-09-28 21:03] #5815 closed

[2016-09-28 21:08] kbrownlees commented on #5891
I have a touch screen laptop as well.

If you are like me and don't use the touch screen much you can force chrome to disable touch events in chrome://flags ('Enable touch events' -> disabled). Just tested it and the drop downs work again.

[2016-09-28 21:09] LLParse commented on #5626
Fixed in `etcd:v2.3.7-9`

[2016-09-28 21:09] #5626 closed

[2016-09-28 21:14] #5787 closed

[2016-09-28 22:48] sangeethah commented on #5411
@alena1108: @ibuildthecloud: What I see is the following:
1) Scale=3, quorum=2
2) Mark 2 instances as unhealthy at the same time.
I see both containers getting recreated. This happens in the following scenario:

There are 2 unhealthy instances. one of the "unhealthy" instances gets removed. Once service reconcile kicks in , this instance gets created and gets to "healthy" state. This results in th

[2016-09-28 22:52] sangeethah commented on #5961
The issue is fixed in Validation tests now.

[2016-09-28 22:52] #5961 closed

[2016-09-28 22:54] #4489 closed

[2016-09-28 23:03] andyshinn commented on #5806
Will there be a release of 0.9.3 that is compatible with Rancher 1.1.4 or is this fix only in Rancher Compose 0.10+?

[2016-09-28 23:04] sangeethah opened #6080 "Stack stuck in "Activating" state with error message- Unknown schema type [stack]"
Rancher Version: rancher/server:master from Sep 28

Steps to reproduce the problem:
Create a stack.
Stack stuck in "Activating" state for ever with error message "Unknown schema type [stack]"

rancher-compose-executor process throws this error:
[code]

cattle logs:
[code]

[2016-09-28 23:05] deniseschannon commented on #4507
@alecl If the new fields that I laid out in 1.2.0 don't achieve what you are looking for, then please reopen.

[2016-09-28 23:05] #4507 closed

[2016-09-29 00:01] sangeethah opened #6081 "Not able to create stacks using rancher-compose version that supports only v1 apis."
Rancher Server Version: Build from master

Try to create a new stack using rancher compose version -v0.9.2

Stack does not get created and user is presented with the following error message:

[code]

[2016-09-29 00:08] sangeethah commented on #5863
@soumyalj, when you verify this issue , include the K8s version ( and template version)  that was used to validate this issue since the fixes may not be available for  k8s 1.3 version.

[2016-09-29 00:09] deniseschannon commented on #5569
In v1.2.0-pre3, I am not seeing this anymore when starting a kubernetes environment.

[2016-09-29 00:09] #5569 closed

[2016-09-29 00:10] sangeethah commented on #5869
@soumyalj, when you verify this issue , include the K8s version ( and template version) that was used to validate this issue since the fixes may not be available for k8s 1.3 version.

[2016-09-29 01:10] sangeethah commented on #5710
Tested with latest Rancher server build from master .
Able to create digital Ocean machine  by passing only access key and not passing  image.
Machine gets deployed with  image - Ubuntu 16.04.1 x64.

[2016-09-29 01:10] #5710 closed

[2016-09-29 04:48] aemneina commented on #5951
Can you share the docker logs from the agent host? If possible with debug mode enabled... Does the rancher server log have anything at this point?

[2016-09-29 05:22] aemneina commented on #6064
@AmitKumarDas is port 8181 accessible on the host your concourse web container resides on? Are there firewalls/security groups in the way? Can you curl localhost:8181, while on the host and get a result?

[2016-09-29 05:36] aemneina commented on #6028
@scream314 this issue looks related: https://github.com/rancher/rancher/issues/5115 I think the fix for using a custom docker bridge ip was introduced in 1.2.0-pre3? Take a look in that issue for the solution.

@roffe that appears to be a normal log line, rancher-ha will try to access the docker bridge ip, as it bootstraps itself. you should be able to access the IP @ 10.50.x.x:18080 and take a lo

[2016-09-29 06:44] AmitKumarDas commented on #6064
I have been trying a few options in between.
I tried to check if the web app container was listening to 8181.
I could find that the web app container was registering 8080 as its tcp listener.

I did 2 things to access the web ui from my laptop:

- NATed a IP (which I can access from my laptop's network) to rancher host's network interface i.e. eth0
- I modified my compose file, thinking that the w

[2016-09-29 06:44] #6064 closed

[2016-09-29 08:10] scream314 commented on #6028
@ aemneina Thank you, I'll give it a try and update.

[2016-09-29 09:40] guzmo commented on #6076
I'm currently trying with OPTIONS requests instead of GET. Maybe this will be a workaround for now

[2016-09-29 09:42] guzmo commented on #6058
This is very important for our installation of Rancher, without this fix it may fail to setup the cluster ALOT but with this fix it worked 10 out of 10 times. (Y)

No one else having this problem when bootstrapping the cluster?

[2016-09-29 13:00] Kamaradeivanov commented on #5639
Hi,
Just to say that I also have this problem with hosts deployed with Rancher CLI v0.1.0 on Rancher Server 1.1.3. I have used both openstack and the generic machine-driver to deploy hosts.

[2016-09-29 13:56] rafagsiqueira commented on #4680
+1

[2016-09-29 14:35] kylegordon commented on #4680
@ibuildthecloud thanks for the info. Can you comment on whether the 'import' process is going to be included in Release 1.2.0 targeted for October? ( https://github.com/rancher/rancher/milestone/67 )

[2016-09-29 14:46] logicethos commented on #2182
I would like to see the container screen tabbed, where the second tab is the shell.  Additional shells (tabs) could be started.  Then you can still get to the control panel, without closing the shell.

[2016-09-29 15:46] cgarciae opened #6082 "Metabase container not working on Rancher"
**Rancher Version:**
1.1.3
**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu Linode

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Create a stack based on this `docker-compose.yml`

[code]

and go to `http://RAN

[2016-09-29 15:59] jmatsushita commented on #6053
Same problem here and I agree it's very painful. I have to wait for several minutes and it only loads sometimes for me. Other members of the team can't access Rancher anymore which has a negative impact on our productivity.

Any updates on the fix? Would be happy to test an early release ;)

[2016-09-29 16:29] InAnimaTe commented on #4752
I don't know a ton about CNI or the modern docker network drivers (Calico, Weave, etc..) but it's sounding more and more like the modularity being introduced with 1.2 is going to solve a lot of these asks about separation and increased security between services/stacks.

My core interest in this is similar to @xeor whereas my company is trying to adopt Rancher as our infrastructure orcheatration fr

[2016-09-29 18:19] sangeethah commented on #5411
Closing this issue.I will skip the test case that validates this workflow.

[2016-09-29 18:19] #5411 closed

[2016-09-29 18:33] sangeethah commented on #5222
Closing this issue since this issue is not seen anymore with docker 1.12 .

[2016-09-29 18:33] #5222 closed

[2016-09-29 20:28] sangeethah commented on #2470
Tested with latest build from master.

Both the scenarios mentioned in the issues works as expected.

[2016-09-29 20:28] #2470 closed

[2016-09-29 20:31] mrlesmithjr commented on #936
I also just experienced this same exact thing. I built 5 Docker hosts using docker-machine on HyperV using BootToDocker.iso as the RancherOS would not work with Hyper-V driver. However, after rebooting all of the hosts they all show up duplicated and active.

[2016-09-29 21:24] vincent99 commented on #936
@mrlesmithjr the agent change would only be in 1.2.0-preX

[2016-09-29 21:33] vincent99 commented on #6053
There are changes going into a branch today but they require cattle from master and various things are still broken.. You'll want to wait for -pre4.

[2016-09-29 21:51] mrlesmithjr commented on #936
Ok good to know...Thanks! Also is there anyway to get RancherOS working with Hyper-V correctly? Would rather use that if I could.

[2016-09-29 22:16] tfiduccia opened #6083 "Perf branch Services & Volumes issues"
**Rancher Version:** Performance

**Steps to Reproduce:**
1.  Try to create a service

**Results:**

Stacks:
- [x] Cloning first service in stack list, causes services to be in different order after cancelling.
- [ ] **(API)** Services don't show up unless I refresh (main stack and stack detail pages) - looks like just Service Alias and External service now.

Add Service:
- [ ] tty is always true

[2016-09-29 23:56] sangeethah commented on #6007
Tested with latest build form master:

This issue is not seen anymore.

Tested with compose file provided with max scale set to 4 in a set up with 3 hosts. I see only 1 attempt to create the 4th instance which gets removed. There is no more attempt to create the 4th instance and service continues to be in "active" state.
[code]

[2016-09-29 23:56] #6007 closed

[2016-09-30 00:36] tfiduccia opened #6084 "Perf Branch Environment, Host & Auth Issues"
**Rancher Version:** Performance branch

**Results:**

All Areas:
- [x] The deactivate and delete modals are different size.  They switched from being a specific width to 50% of screen size and it makes it look weird.
- [x] Add Your first host waiting page won't go away until I refresh the browser (even thou I added a host)

Environment:
- [x] Main environment page not refreshing with change state

[2016-09-30 00:38] tfiduccia opened #6085 "YML export doesn't have version:2"
**Rancher Version:**master with perf buid

**Steps to Reproduce:**
1.  Export config

**Results:** Doesn't have version:2 tag

**Expected:**  Should have version:2

[2016-09-30 02:18] leodotcloud opened #6086 "etcd not starting in kubernetes environment"
**Rancher Version:** v1.2.0-pre3

**Docker Version:** 1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):** RHEL 7.2 on AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single Node Rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Kubernetes

**Steps to Reproduce:** Bring up a new cluster on AWS using RHEL, install docker fr

[2016-09-30 02:32] deniseschannon commented on #6085
Duplicate of https://github.com/rancher/rancher/issues/5870

[2016-09-30 02:32] #6085 closed

[2016-09-30 03:09] soumyalj commented on #4693
Tested with master on Kubernetes 1.4 with template version v1.4.0-rancher1. No error messages seen as above in the Kubelet logs. The kubelet service was active and healthstate was healthy.
[code]

[2016-09-30 03:09] #4693 closed

[2016-09-30 03:39] wfleurant commented on #583
a possible solution might be to re-register any host to any new environment. i'm guessing this would blow away `/var/lib/rancher/state/`

[2016-09-30 06:59] boskiv commented on #6058
I also have this in logs. And my cluster continuously get fail/healthy...
[code]

[2016-09-30 07:05] egrist commented on #6058
Yep, the latter seems to be a consequence. Makes it really hard to setup the cluster.

[2016-09-30 07:17] jloisel opened #6087 "Upgrade to docker-machine v0.8.2"
**Rancher Version:** v1.2.0

Please upgrade to latest docker-machine release before releasing Rancher v1.2.0. Thanks!

[2016-09-30 07:18] jloisel commented on #6087
0.8.2 has been released:
https://github.com/docker/machine/releases/tag/v0.8.2

[2016-09-30 07:59] cpoole commented on #5551
Whenever I encounter this I go into the management stack, then decrease the scale of the rancher-compose executor stack to 1, wait a minute, then increase it back to two.

obviously not a long term fix but might be helpful in the meantime

[2016-09-30 08:05] boshido commented on #6023
The problem still appears to development environment

Storage space from df command
![image](https://cloud.githubusercontent.com/assets/3489862/18984733/626e9048-871e-11e6-9460-5f85594de9c2.png)

There are lots of storage free space, so I think this problem does not relate to storage issue.

I don't know why rancher created a lot of containers before it went down
![image](https://cloud.githubuserc

[2016-09-30 08:36] boshido commented on #6023
Log from /var/log/rancher-net.log
[code]

Log from /var/log/charon.log
[code]

[2016-09-30 09:47] cooperaj opened #6088 "rancher-compose failing intermittently with stack trace. Rarely completes tasks"
**Rancher Version:**
v1.1.4

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
macOS Sierra client
Ubuntu 14.04, VMWare vSphere. 1 Rancher HA instance and 4 Hosts.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single HA Rancher instance.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Repr

[2016-09-30 10:48] forhot2000 commented on #4459
I have created an 3 nodes HA cluster, after run `sudo ./rancher-ha.sh rancher/server:v1.1.4` on each nodes, the rancher-ha container is always waiting

[code]

and the zk-client container alert error binding socket

[code]

I checked all 3 zk-client, all of them started with command

[code]

is that is reason?

[2016-09-30 11:43] xlight commented on #5563
perhaps you can remove the node which stucked and remove the agent-container , then re-add the host

[2016-09-30 13:40] boskiv opened #6089 "Errors in log while installing host nodes"
**Rancher Version:**
1.1.4
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher server - ubuntu 16.04
Rancher DB - 3 nodes galera mariadb on ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
SWARM
**Steps to Reproduce:**
create 3 hosts with vsph

[2016-09-30 13:42] boskiv commented on #6089
https://gist.github.com/boskiv/2b9b45b3701cf6caac1870d6b3a5c120

[2016-09-30 13:50] boskiv opened #6090 "Can't add my ldap user into default env"
**Rancher Version:**
1.1.3
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher vs external db vs ldap
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Open default env and add user from ldap by login (not by

[2016-09-30 13:52] boskiv commented on #6090
After deleting default local user, it's has been done. No error any more

[2016-09-30 13:52] sra commented on #6088
I'm experiencing this as well - repeating the command over and over will result in different results. More than 50% of the time it segfault. I've tried rancher-compose versions 0.8.6 and 0.9.0, 0.9.2

[code]

Also on macOS 10.12

I've also tried recompiling rancher-compose v0.9.0 from source with the same result. go is installed via homebrew, version 1.7.1

[2016-09-30 13:54] boskiv opened #6091 "Swarm Cluster did not up"
**Rancher Version:**
1.1.4
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node vs external
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
swarm
**Steps to Reproduce:**
add hosts to swarm env
**Results:**
![2016-09-30 16 52 52](https://cloud.git

[2016-09-30 13:55] boskiv commented on #6091
https://gist.github.com/boskiv/af0ea719f9236e0810d765c074ac5bff

[2016-09-30 14:01] sra commented on #6088
Actually I believe this is because of a known issue with sierra and go-lang pre 1.7. I rebuilt the binary again after clearing my whole GOPATH of any previously build binaries and the problem is no longer happening.

[2016-09-30 14:51] fjmoreno commented on #5218
same on 1.1.4

[2016-09-30 15:17] Shadowsvoices commented on #4348
For anyone who might be looking for a temporary solution (like me) to use GlusterFS until a new version is released: I solved the problem by creating a custom "kubelet" docker image based upon the original patch and then upgraded the service in the kubernetes system stack.

Example docker image:
[code]

[2016-09-30 15:39] janeczku commented on #5771
@geeknam I am going to close this since it appears to be the same issue as reported in #5428.

[2016-09-30 15:39] #5771 closed

[2016-09-30 15:44] janeczku commented on #5428
@deniseschannon The mentioned fix appears first in cAdvisor `v0.23.5`. The cAdvisor we shipped with 1.2.0-pre4 is still `v0.23.4`.
https://github.com/google/cadvisor/pull/1343

[2016-09-30 15:56] vincent99 commented on #6087
As you've probably already seen we can't just upgrade the binary and call it a day because there are major backwards incompatible differences between most 0.x versions. Azure was completely changed between 0.6 and 0.8, are is unusable because they have no way to do auth with api keys (vs console interactive and using a browser)..

Options for that were added by Microsoft into master and 1.2-pre3 a

[2016-09-30 15:56] #6087 closed

[2016-09-30 16:25] cjellick commented on #5775
@alena1108 i'm assigning this over to you as it is related to service upgrade. feel free to assign back if you feel differently.

[2016-09-30 16:43] cjellick opened #6092 "go-machine-service, rancher-compose-executor aren't managed properly by cattle"
go-machine-service container got to stopped state and cattle did not restart it. Similar to https://github.com/rancher/rancher/issues/5775, but not related to an upgrade.

**Rancher Version:**
1.1.4

**Docker Version:**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
The HA environment

**Steps

[2016-09-30 17:02] aemneina opened #6093 "give better (fqdn) domain names to services rancher controls"
Seen this a couple times where there would be a service resolving to 'master' in an environment preventing ranchers k8s stack to launch.

this might apply to more than ranchers k8s. can system templates use fqdn's like blah.rancher.internal, to avoid these potential traps.

[2016-09-30 17:14] tfiduccia commented on #6090
Did you at some point turn off authentication then turn it back on?

[2016-09-30 17:18] vincent99 commented on #6076
Not in the UI, but the request line and host header are actually one field in the API because that's how haproxy takes it.  So you should be able to set it to `GET /blah HTTP/1.1\r\nHost: blah.com\r\nAny-Other-Header: value\r\n...`in the API or compose.  (Literal backslashes need to appear in the string, not an actual CR/LF, so you may need to escape them).

[2016-09-30 18:09] guzmo commented on #6076
Ok, thanks! Would be nice if this got documented in the healthcheck section :)

[2016-09-30 18:09] #6076 closed

[2016-09-30 18:10] guzmo commented on #6076
Oh btw, it has to be HTTP/1.1?

[2016-09-30 18:24] alena1108 commented on #5870
@deniseschannon yml export already had all params in v2 format (I believe I've changed network_mode to network on the export), just "version v2" tag was missing. Please correct me if more stuff are still displayed in "v1 way"

[2016-09-30 18:25] vincent99 commented on #6076
You can do HTTP/1.0, maybe even 2.0 but I dunno if haproxy would know how to parse the response.  The requestLine is given directly to haproxy and that's what it writes out when the connection opens.

[2016-09-30 18:26] LLParse commented on #5201
See https://github.com/LLParse/swarmkit-catalog and observe the readme. Only Docker 1.12.1 is supported

[2016-09-30 18:29] guzmo commented on #6076
When i try it I get

`
time="2016-09-30T20:27:18+02:00" level=fatal msg="Failed to read project: yaml: line 153: mapping values are not allowed in this context"
`

requestLine
`
request_line: GET /school/rest/v1/roles HTTP/1.1\r\ntest: test
`

I've also tried
`
request_line: GET /school/rest/v1/roles HTTP/1.1\\r\\ntest: test
`

Something you seen before?

[2016-09-30 18:46] LLParse commented on #5201
@sangeethah There are 2 scenarios we need to test:
1. Register hosts to an environment and specify CATTLE_AGENT_IP as the Internal IP
2. Register hosts to an environment as usual, provide answer to the `Host Interface Name` question. It must be the interface corresponding to the External IP

Swarm is using the raft protocol behind the scenes for manager communication, so test cases will be very si

[2016-09-30 18:48] guzmo commented on #6076
It seems it doesn't like the : in the yml file. I'm running with rancher-compose, anyway to escape it?

[2016-09-30 18:48] vincent99 commented on #6076
That's invalid YAML because you have an unquoted string with a colon in it

[2016-09-30 18:50] tfiduccia opened #6094 "Small scroll bar in Service, Stack and Host detail's drop-down"
**Rancher Version:** Perf build

**Steps to Reproduce:**
1.  Add a couple of hosts
2.  Add a couple of stacks
3.  Add a couple of services in at least one of the stacks
4.  Go to detail's page for Host, Stack or Services
5.  Click on the drop-down to switch

**Results:** Notice there is a small scroll bar area in the drop-down.
![image](https://cloud.githubusercontent.com/assets/11514927/19003073/

[2016-09-30 18:51] guzmo commented on #6076
Oh gosh, ofc it is, thanks :P

[2016-09-30 18:55] jloisel commented on #6087
Great, thanks Vincent for the explanation :+1:

Any updated version is fine for me. As long as it contains the most important fixes for Amazon EC2.

[2016-09-30 18:56] soumyalj opened #6095 "Kubelet logs have messages: error opening pid file /var/run/docker.pid: open /var/run/docker.pid: no such file or directory"
**Rancher Version:**Master

**Docker Version:**: 1.11/1.12

**Kubernetes template version**: v1.4.0-rancher1 [rancher-catalog/qa-branch]

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu/Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kuberntes

**Steps to Reproduce:**
1. Create a Kubernetes environment using rancher-catalog on qa branch
2. After the Kubernetes

[2016-09-30 19:15] Shyckymn commented on #6079
@alena1108 Could you help me with this issue?

[2016-09-30 19:20] soumyalj commented on #4587
Tested with master using rancher-catalog/qa branch with Kubernetes version v1.4.0-rancher1.
Tried to delete the default namespace, restarting pods as mentioned above. Also,deleted the Kubernetes container few times, it got recreated fine. I was able to create pods/rcs successfully after this. No issues seen on the scheduler/kubelet container.

[2016-09-30 19:20] #4587 closed

[2016-09-30 19:24] chcheruk commented on #5218
Same observed on
Rancher	v1.1.3
Cattle	v0.165.8.1
User Interface	v1.1.12
Rancher Compose	v0.8.6

[2016-09-30 19:47] aemneina commented on #6093
Targeting this for rancher 1.2.0 and kubernetes 1.4+. All future fixes are going there, as there is no concept/support of rolling back.

[2016-09-30 21:05] cjellick commented on #4953
Can test against the PR: https://github.com/rancher/rancher-catalog/pull/201
Once verified, we can merge that PR

[2016-09-30 21:44] maZahaca opened #6096 "docker-compose "command" section doesn't work for multi commands"
**Rancher Version:** 1.1.4

**Docker Version:** 1.12.1

**OS and where are the hosts located?:** Ubuntu 14.04, DigitalOcean

**Setup Details:** One node - rancher, another node - services

**Environment Type:** Cattle

**Steps to Reproduce:**
1. Run docker-compose.yml from CLI

[code]

**Results:**
Created container executes only first command and fails.
If you do `docker inspect` you'll see the r

[2016-09-30 21:45] jgreat commented on #5992
I also have this issue intermittently. Rebooting the agent vm resolves the issue for a while.

I have multiple agent servers in an environment, and it will happen on one (or more) of the servers independently from the others.

Rancher	v1.1.1
Cattle	v0.165.7
User Interface	v1.1.12
Rancher Compose	v0.8.6

Ubuntu 16.04 kernel 4.4.0-31-generic
Docker version 1.11.2, build b9f10c9

I have checked agent

[2016-09-30 22:25] sangeethah commented on #4953
@janeczku , can you provide a template that has the fix with which verification can be done?

[2016-09-30 23:12] tfiduccia opened #6097 "Host not showing up in storage page"
**Rancher Version:** master with perf build for UI

**Steps to Reproduce:**
1.  Setup storage using convoy-nfs
2.  Create a service using convoy-nfs
3.  Go to storage page and refresh it

**Results:** Notice that the Volumes information is showing up, but the Hosts section is completely blanks.
![image](https://cloud.githubusercontent.com/assets/11514927/19009418/9862fc66-8728-11e6-8654-08ba5cdaec

[2016-09-30 23:33] soumyalj commented on #5863
Tested on master with Kubernetes 1.4 with template version 1.4-rancher1.
Followed the steps above. I was able to create namespace, services/ingress in it, delete the namespace and recreate a namespace with the same name. Ingresses were functional too.
mysql> select id,name,state,created,removed,account_id from environment;
+----+------------------------+---------+---------------------+------------

[2016-10-01 00:00] sangeethah opened #6098 "K8s system stack not able to start because of etcd containers getting 404 when access metadata."
Rancher Server - server version from master
K8s version - 1.4 template version - latest from "qa" branch ( https://github.com/rancher/rancher-catalog)

etcd logs:

[code]

kubernetes logs:

[code]

[2016-10-01 00:10] cjellick commented on #5992
@jgreat what type of environments are you runing? cattle, kubernetes, or swarm?

[2016-10-01 03:20] #5863 closed

[2016-10-01 03:40] will-chan commented on #5890
Is this UI or backend?

[2016-10-01 03:42] #931 closed

[2016-10-01 03:42] #1895 closed

[2016-10-01 03:43] #2435 closed

[2016-10-01 03:45] #2493 closed

[2016-10-01 03:45] #3142 closed

[2016-10-01 03:49] scytacki opened #6099 "Double load balancer broken if only the first LB handles https"
**Rancher Version:** 1.1.4

**Docker Version:** 1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
1. setup a simple app that prints out the URL used for accessing the app
2.

[2016-10-01 03:57] will-chan commented on #5852
Is this a UI bug related to the refresh issue?

[2016-10-01 03:58] will-chan commented on #5837
This should be a documention issue of how to clean up hosts to prepare it for etcd.

[2016-10-01 06:49] tfiduccia commented on #5890
Probably backend missing a simple change event.

[2016-10-01 07:22] vincent99 commented on #6099
Yes, that should be add-header; @alena1108 can you patch if it still applies to refractored balancer?

[2016-10-01 18:01] dx9 opened #6100 "Cattle CI - test_destroy_service_instance sometimes fails with"
Rancher Version: Master
[code]

[2016-10-01 18:12] dx9 opened #6101 "Cattle CI - test_instance_volume_cleanup_strategy sometimes fails with"
Rancher Version: Master

[code]

[2016-10-01 18:49] dx9 opened #6102 "Cattle CI - test_volume_remove_on_purge sometimes fails with"
Rancher Version: Master

[code]

[2016-10-01 19:05] dx9 opened #6103 "Cattle CI - test_ip_retain, test_ip_retain_requested_ip & test_health_check_ip_retain sometimes fail with"
Rancher Version: Master

[code]

and NPE in logs

[code]

[2016-10-01 20:00] defunctzombie commented on #5429
@deniseschannon any word on when 1.2.0 will be considered released? Is the upgrade path to it from 1.1.4 simply to stop previous server and launch 1.2.0?

[2016-10-02 01:37] #2645 closed

[2016-10-02 04:30] deniseschannon commented on #5429
@defunctzombie We are targeting end of October for 1.2.0. And yes, that is the upgrade path.

http://docs.rancher.com/rancher/v1.2/en/upgrading/

[2016-10-02 06:10] uberamd commented on #4178
+1 to this feature request. Similar to what @jhmartin said, I'm using Registrator with Consul and Consul-Template to add services to automatically created load balancers that live on their own network (not containers).

Ideally I'd be able to have a random host port mapping to, say, port 3000 in my container and scale up > the number of hosts, with a random port being assigned to each scaled conta

[2016-10-02 07:56] johnhoran opened #6104 "Reverse DNS"
Rancher Version: v1.1.4

Just wondering if it would be possible to add support for rDNS queries.  I see rancher-dns supports PTR records, so I hope it wouldn't be too hard.  It would be useful for running hadoop inside rancher.

Thanks

[2016-10-02 12:38] besishblia commented on #4498
Hello. I got same exception as @vrince
Baremetal server with VWare virtualisation
OS: rancheros v0.6.1
Latest stable rancher server  v1.1.4
Rancher agent on same host as server, v1.0.2
docker v1.12.1

readed http://docs.rancher.com/rancher/faqs/agents/ and settings all right.

No more detail logs in /var/log/rancher/agent.log, no such file, because agent not started.

[2016-10-02 13:38] galal-hussein commented on #6063
- [ ] Generate Audit logs.

Option --audit-log-path string should be set by kube-api command.
- [x] Swagger 2.0 published.

To test this feature use the following:
[code]

[2016-10-02 16:02] galal-hussein commented on #6063
- [ ] Scheduled Jobs

The batch batch/v2alpha1 should be turned on in order for scheduled jobs to work, this is done by passing `--runtime-config=batch/v2alpha1` to the kube-apiserver

[2016-10-02 16:47] galal-hussein commented on #6063
- [x] Critical addon pods

This addon should be enabled by default, I added the following annotations to mark the pod as critical:
[code]

[2016-10-02 17:24] galal-hussein commented on #6063
- [x] Kubernetes Dashboard

[2016-10-02 18:00] #5594 closed

[2016-10-02 18:43] janeczku commented on #4953
@sangeethah The template is here: https://github.com/rancher/rancher-catalog/pull/201
I have added it to my catalog https://github.com/janeczku/my-rancher-catalog (convoy-nfs v0.5.0)

[2016-10-02 20:33] #4451 closed

[2016-10-03 03:19] ibrokethecloud commented on #2228
I seem to be reaching a point where I may have a use case for this as well.

[2016-10-03 05:16] raveekiran opened #6105 "Can't ping pods/containers by their hostname - Cent OS"
**Rancher Version:v1.1.4

**Docker Version:1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):Centos 7, Bare Metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB): Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos):Kubernetes

**Steps to Reproduce: Create multiple pods via RC or deployment and  ping pods/containers by th

[2016-10-03 06:45] nrvale0 commented on #6056
I've not tried to repro this with k8s but I'm able to reproduce something similar with Cattle. I think it might boil down to docker-machine amazonec2 driver having a bug whereby it does *not* pick up the requested SG if specified as an envvar but *does* if specified as a cmdline parameter.

[2016-10-03 07:17] vincent99 commented on #6056
@nrvale0 the only interface we expose is API -> CLI exec...  How would you set environment variables relevant to go-machine-service?

[2016-10-03 13:30] egrist commented on #6058
@ibuildthecloud could you shed some light on this issue?

[2016-10-03 13:42] schuylr commented on #5959
@janeczku Another point of contention:

I like that I can specify the VPCs and regions that the manager will set up load balancers in, however how will I specify which service gets assigned to certain managers?

Could there be another label that makes sure the ELB manager only captures the region it's working for? I have everything for production in one environment.

For example, I have one servic

[2016-10-03 13:59] boskiv commented on #6090
No, I don't.

[2016-10-03 14:08] EugenMayer commented on #2159
@deniseschannon is there any reason this item has low priority? Are those use-cases covered by Convoy?

In my case, i am coming from 2 angles:
 a) i want to horizontally scale the-app service using the lb service, but i need to share the data-storage. I cannot use sidekicks, since they are scaled with the numbers of apps and data would be split. If i use a named volume, i can only deploy this stac

[2016-10-03 14:27] dx9 opened #6106 "Cattle CI - test_activate_services_fail sometimes fails with"
Rancher Version: master

[code]

[2016-10-03 15:00] bkuhl opened #6107 "Unable to add service using EFS volume"
I provisioned an EFS volume with all default settings on the same VPC/subnets as my hosts.  I launched the EFS catalog item and it's in a "Requested" state.  When I look at the log output for `rancher/convoy-agent:v0.10.0` I can see that the mount command is is using the correct URL for EFS but the error `mount.nfs: Connection timed out` appears.  The default security group on the EFS volume is wi

[2016-10-03 15:03] dx9 opened #6108 "Cattle CI [PGSQL] - test_validate_scale_down_restore_state sometimes fails with"
Rancher Version: master

Other tests that fail with similar error:
 - test_validate_service_scaleup_scaledown
 - test_validate_create_only_containers
 - test_service_rename

[code]

[2016-10-03 15:14] EugenMayer opened #6109 "Persist anonymous volumes on service upgrades ( catalog stack upgrades )"
**Rancher Version:**
1.2.0-rc3
**Docker Version:**
1.11.2
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
- To be able to easy reproduce this, add this catalog https://github.com/EugenMayer/docker-rancher-extra-catalogs
- deploy the catalog 'volume peristence test' in the version 0.0.1
- upgrade the stack to 0.0.2 afterwards
- open a shell on the app container

[2016-10-03 15:22] EugenMayer commented on #6109
This is a kinda-dupe of https://github.com/rancher/rancher/issues/5010 with easier reproduction, also for the future. This also relates / blocks a solution to https://github.com/rancher/rancher/issues/2159#issuecomment-251115190 using data-containers to share a state in a service across all scaled container.

Using named volumes is blocked by "only a single stack of this kind of this catalog per h

[2016-10-03 15:23] bkuhl commented on #6107
I've followed the steps defined in https://docs.aws.amazon.com/efs/latest/ug/security-considerations.html#network-access for making sure my `rancher-machine` security group can talk to EFS.

[2016-10-03 15:31] bkuhl commented on #6107
Putting EFS in the `rancher-machine` security group appears to have resolved the issue.  Now I'm seeing the mount failing because `reason given by server: No such file or directory` which is a different issue I'll investigate.

[2016-10-03 15:31] #6107 closed

[2016-10-03 15:35] bkuhl commented on #6107
Using `/` as the mount directory resolved the issue.

[2016-10-03 15:46] cjellick commented on #2918
@ibuildthecloud this should be getting addressed as part of your volume driver/storage pool refactor?

[2016-10-03 15:48] cjellick commented on #3208
This should be addressed by a combination of @ibuildthecloud's volume driver changes + @vincent99 adjusting for those changes. I'm going to assign to @vincent99.

[2016-10-03 15:50] EugenMayer commented on #6109
To pressure this issue a bit more, if this issue will not get fixed, every user using a

- wordpress
- teamcity
- wekan
- owncload
- openldap
....

catalog will lose their data entirely, when a catalog upgrade will be released.

This holds of a lot more community catalogs, i just cherry picked on some.

[2016-10-03 15:51] dx9 opened #6110 "Cattle CI [PGSQL] - test_health_check_quorum sometimes fails with"
Rancher Version: master

To reproduce run test_health_check_noop with test_health_check_quorum. They're bumpin somehow.

[code]

[2016-10-03 15:51] cjellick commented on #3336
This will be  addressed by @ibuildthecloud's volume driver refactor.

[2016-10-03 15:56] cjellick commented on #3670
Don't think this needs to be in 1.2.0.

[2016-10-03 15:58] cjellick commented on #3918
I'm going to assign this to you @deniseschannon so that you can pick someone else to assign this to. I don't think this is in my current purview.

[2016-10-03 16:00] cjellick commented on #4010
Done, right @sangeethah ?

[2016-10-03 16:04] cjellick commented on #4092
This issue turned into a debugging session for multiple issues, but @ibuildthecloud completely refactored dynamic schemas and machine drivers awhile ago.

So, I believe  the original issue mentioned is fixed. I believe this issue can be closed.

Assigning to @sangeethah so that she can make the final call on that.

[2016-10-03 16:07] cjellick commented on #4176
The orignal null pointer issue was fixed.
I'm not sure about the other issue. It doesn't have any real impact on the suer. It may even be fixed. Regardless, I don't think it needs to be in 1.2.0

[2016-10-03 16:09] cjellick commented on #4289
Gluster specific issue. No need to go into 1.2.0, right?

[2016-10-03 16:11] cjellick commented on #4411
convoy-gluster issue. Can we bump this out of 1.2.0?

[2016-10-03 16:13] cjellick commented on #4463
convoy-gluster issue. Can we bump out of 1.2.0?

[2016-10-03 16:14] cjellick commented on #4513
Legit bug, but I don't think it is critical enough to keep in 1.2.0. Can we bump out?

[2016-10-03 16:15] cjellick commented on #4522
Naming should be fixed in convoy-nfs. We are no longer updating convoy-gluster.

[2016-10-03 16:18] cjellick commented on #4615
Should be fixed. The websocket-proxy fixes we provided to our customer were verified and they no longer experience k8s + wsp issues.

Can we close @sangeethah ?

[2016-10-03 16:18] rsippl commented on #4411
FYI, I gave up on Rancher a couple of weeks ago because of how this issue was (not) dealt with.

[2016-10-03 16:25] cjellick commented on #5404
@deniseschannon is this a dupe of #4460?

[2016-10-03 16:26] sangeethah commented on #4010
@cjellick: v2-beta renames  enviornment to stack. But  renaming project to environment is not done yet.

[2016-10-03 16:27] cjellick commented on #5568
A bug in docker 1.10. Can we either close this or move it out of 1.2.0?

[2016-10-03 16:28] cjellick commented on #662
Does not seem critical to 1.2.0. Can we move out?

[2016-10-03 16:29] cjellick commented on #3329
A legit bug, but doesn't seem critical to 1.2.0. Can we move out?

[2016-10-03 16:29] cjellick commented on #3484
This has been fixed. Closing

[2016-10-03 16:29] #3484 closed

[2016-10-03 16:30] cjellick commented on #4176
@ibuildthecloud do you know anything about this being in the logs?
[code]

[2016-10-03 16:32] cjellick commented on #3419
@vincent99 @ibuildthecloud this could be revisited once @ibuildthecloud's volume driver changes are merged.

[2016-10-03 16:33] cjellick commented on #3419
But beyond my last comment, this is convoy-gluster specific. Can we move out of 1.2.0?

[2016-10-03 16:34] cjellick commented on #3963
Probably a legit race condition but, but it seems like a contrived scenario and no users have ran into it. Can we move out of 1.2.0?

[2016-10-03 16:44] sangeethah commented on #6014
In the Validation runs with latest build from Oct 3 , there are no lb related tests that fail with this error.

[2016-10-03 16:44] #6014 closed

[2016-10-03 16:51] sbrinkerhoff opened #6111 "DNS resolution fails in go microservices under some conditions (formerly Rancher fails to start on Centos 7.2)"
**Rancher Version:**

V1.1.4 (rancher/server:latest)

**Docker Version:**

v1.12.1

[code]

**OS and where are the hosts located? (cloud, bare metal, etc):**

Centos 7, VM, VMware ESXi 5.5

[code]

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

SIngle node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

N/A

**Steps to Reproduce:**

docker run rancher

[2016-10-03 16:57] sbrinkerhoff commented on #6111
v0.61.0-rc3 (`docker run -p 8080:8080 rancher/server:dev`) starts up correctly.

[2016-10-03 16:57] cjellick commented on #1185
Fixed. network agents now have labels in UI

[2016-10-03 16:59] willseward commented on #4463
I wouldn't say this was entirely a convoy-gluster issue. It occurred when I switched from convoy-gluster to convoy-nfs. Ultimately I had to tear down and rebuild my entire rancher cluster to get anything to work.

[2016-10-03 17:07] whiteadam commented on #4463
Same here. I have experienced it with convoy gluster, nfs, and EFS as far
as I can tell.

[2016-10-03 17:08] schuylr commented on #5959
I'm knee-deep in the code for Rancher's `external-lb` and am seeing that the whole fundamental service really hasn't been built around the consideration that there could be multiple managers in a single environment. Refactoring all of that looks like a huge headache. I'll probably consider this as not in my use-case unless I make multiple environments for each AWS Region.

[2016-10-03 17:09] sbrinkerhoff commented on #6111
**Working Machine**

[code]

** Non Working **
[code]

[2016-10-03 17:22] ndarilek commented on #4411
I think Gluster support was deprecated entirely. :(

[2016-10-03 17:31] mch1307 commented on #4680
+1

[2016-10-03 17:46] MichaelSp commented on #4411
Me too!
Building features is good, solving show stoppers is better.

[2016-10-03 17:46] LLParse commented on #5837
@sangeethah We've [documented](https://github.com/rancher/rancher/wiki/Kubernetes-Management#configuring-remote-backups) that network storage is to be mounted at `/var/etcd/backups`. If this process is followed for all hosts that are running (or will run) etcd, then any new leader will expire backups outside of the BACKUP_RETENTION period after each subsequent backup. Is this sufficient documentat

[2016-10-03 18:01] ahansson89 commented on #4411
So what is a better alternative than Rancher right now?

-- 
Aleksander Hansson
Sent with Airmail

On October 3, 2016 at 1:46:45 PM, Michael (notifications@github.com) wrote:

FYI, I gave up on Rancher a couple of weeks ago because of how this issue was (not) dealt with.

Me too!
Building features is good, solving show stoppers is better.

—
You are receiving this because you commented.
Reply to t

[2016-10-03 18:05] alena1108 commented on #5977
Marking as a duplicate of https://github.com/rancher/rancher/issues/6092. @chrisurwin

[2016-10-03 18:05] #5977 closed

[2016-10-03 18:14] alena1108 commented on #5775
I'll look at the upgrade issue, thank you @cjellick. Instance being stuck in initializing state for  a long time is a different issue though, might be related to the service itself. Can you look at this part?

[2016-10-03 18:30] LLParse commented on #5834
Added questions for BACKUP_PERIOD and BACKUP_RETENTION to the template.
URL: https://github.com/llparse/testing-catalog
Branch: config-backup-param

The questions work when launched as a cattle template. In kubernetes environment upgrade scenario, user can select the template version but the screen is stuck in a loading phase.

[2016-10-03 18:32] dx9 opened #6112 "Cattle CI [pgsql] - test_pagination_include sometimes fails with"
Rancher Version: master

[code]

Update (other failure):
[code]

[2016-10-03 18:32] LLParse commented on #5834
To configure these parameters in a fresh environment would require the infra catalog - is this slated for 1.2.0?

[2016-10-03 18:38] wlan0 commented on #5869
Note to self: Uniqueness constraint on the environment name is not being enforced by k8s agent-event-cattle channel. This needs to be fixed.

[2016-10-03 18:48] sangeethah commented on #5143
Tested with rancher-server - v1.2.0-pre3 and rancher/external-dns:v0.5.0.
Container in "stopped" state and "unhealthy" containers are not programmed in the Route 53 zone anymore.

Scenario1:
Have a service with health check enabled (with ports) with "When Unhealthy Take No action" option.
Check that the hosts in which the service containers  are running is programmed in  DNS zone  as A records.
Ma

[2016-10-03 18:48] #5143 closed

[2016-10-03 19:00] fbrbovic commented on #4411
We ended up just installing glusterfs directly, and exposing the volumes to all containers it wasn't difficult

[2016-10-03 19:08] galal-hussein commented on #6063
- [ ] Storage classes

The feature should enable dynamic storage provisioning by only creating the storage class and the PVC, however I tested the feature against AWS and GCE and it resulted with the following error:

storageclass.yml
[code]
pvc.json
[code]
[code]

[2016-10-03 19:14] alena1108 commented on #5556
@soumyalj please test and reopen if you still see it on the latest.

[2016-10-03 19:48] jgreat commented on #5992
Cattle

[2016-10-03 19:49] asthomasdk commented on #4411
So you run GlusterFS directly on each host, like you would if you were setting up traditional NFS?

[2016-10-03 20:15] MattMencel opened #6113 "Kubernetes Environment Broken When docker.network.subnet.cidr Setting Is Not 10.42.0.0/16"
See this thread for more details:  https://forums.rancher.com/t/could-not-determine-network-mode-for-container-using-none-networking/3981/3

**Rancher Version:**
1.2.0-pre3

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**

VMware ESXi (with vCenter).  VMs are running CentOS Atomic.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs.

[2016-10-03 20:32] alena1108 commented on #5763
@sangeethah this bug is no longer relevant as we don't have audit logs for service.reconcile; we have service logs instead. Please reopen against the service logs if you see this behavior again.

[2016-10-03 20:39] galal-hussein commented on #6063
- [x] Pod affinity and anti-affinity

I was able to validate scheduling pods based on the existence of other pods with specific labels.

[2016-10-03 21:03] sangeethah commented on #3555
This issue is also seen with  docker 1.11.2.
Containers fail to start with error - ```500 Server Error: Internal Server Error (\"chown /var/lib/rancher/convoy/convoy-nfs-7d58fabe-a01a-47ae-a667-e581b1432671/mnt/4ccf7346006aaa03c4582a0313d2d435686d13bc4e6d83284df2f7a634a38b16: operation not permitted\")```

[2016-10-03 21:05] cloudnautique commented on #6041
The system is designed to fail closed. If Vault throws a 403 error for permission denied, there is no key to write.

[2016-10-03 21:05] #6041 closed

[2016-10-03 22:47] alena1108 commented on #3950
@deniseschannon the fix is on rancher-compose side

[2016-10-03 23:18] sangeethah commented on #4953
Tested with rancher-server version - v1.2.0-pre3 and rancher/convoy-agent:v0.12.0 from https://github.com/janeczku/my-rancher-catalog.

Able to test using NFSv3 (by setting mount_opts: nfsvers=3) and NFSv4 on ubuntu 14.04.

[2016-10-03 23:37] sangeethah commented on #1185
With rancher server version - v1.2.0-pre3 , UI displays all the labels for Network Agent container:

<img width="1464" alt="screen shot 2016-10-03 at 4 36 05 pm" src="https://cloud.githubusercontent.com/assets/4266958/19057811/87b63a34-8987-11e6-94a9-26c99c8fb8fd.png">

[2016-10-03 23:37] #1185 closed

[2016-10-03 23:48] soumyalj opened #6114 "Swarm-kit container stuck in initializing state after adding a new custom host"
**Rancher Version:**Master

**Docker Version:**1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu 16.0.4, Cloud

**Steps to Reproduce:**
1. Create a 3 host swarm cluster by using the catalog https://github.com/LLParse/swarmkit-catalog
While launching the catalog specify the interface name "Ex: ens4/eth0". Once the catalog is launched, ensure the swarm cluster comes up

[2016-10-03 23:53] sangeethah commented on #4953
Able to deploy services using volume drivers in NFSv4 on ubuntu 14.02 which  has kernel older than 3.14.
root@sangee-nfs-old:/var/nfs/testmev42old# uname -a
Linux sangee-nfs-old 3.13.0-96-generic #143~precise1-Ubuntu SMP Tue Aug 30 14:38:06 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
root@sangee-nfs-old:/var/nfs/testmev42old#

[2016-10-03 23:53] #4953 closed

[2016-10-03 23:54] leodotcloud commented on #6086
Update:
I changed the docker installation from the CentOS repo to https://yum.dockerproject.org/repo/main/centos/7/Packages/ and things started falling in place.

[2016-10-04 00:11] sangeethah commented on #5763
Tested with latest build from master:

I still see the following intermediate messages show up when starting services with sidekicks - ```Activating (Timeout: container starting [container:1i399])```. Audit log does not show this error for reconcile.service anymore.

[2016-10-04 00:26] sangeethah commented on #5611
Tested with latest build from master:
Created a service with sidekick having scale=3.

Tried following scenarios multiple times , where the DU ended up having the same service_index:

1. Scale down service by 1 and then delete one of the containers.

2. Delete few containers in parallel.

3. Scale down and scale up services.

[2016-10-04 00:26] #5611 closed

[2016-10-04 00:30] sangeethah commented on #5837
@LLParse , The scenario mentioned in the bug is the case where user did not choose tp configure Remote Backups using persistent storage.

[2016-10-04 00:36] sangeethah commented on #4615
@aboyett , there are websocket-proxy fixes provided that prevented rancher from being able to communicate with kubectl service via websocket proxy in rancher-server version v1.1.3.

You should not be hitting this issue anymore when testing with rancher-server version v1.1.3 or above.

[2016-10-04 00:36] #4615 closed

[2016-10-04 02:01] hollingsworthd commented on #4711
This is definitely possible without oauth. Users could specify their service account json key. And running Rancher within GCE, `gcloud` bin would already be installed and on the path. Command would look like this:

[code]

Then on the created machine, run: `docker run -d --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:<version> http://<r

[2016-10-04 02:13] hollingsworthd commented on #5132
This works as a custom registry. Create a GCE service account, get the json key Google provides, then add a Custom registry in Racher using the email address connected to the service account, "_json_key" as the user name and the very long json key as the password.

[2016-10-04 02:18] andyshinn commented on #4991
Curious if looking at this is still planned for 1.2.0? If we need debug information I can help. I have to restart my Rancher server container multiple times a month because of this. When the CPU usage spikes, the interface becomes magnitudes slower for users.

![image](https://cloud.githubusercontent.com/assets/315485/19060555/fd006862-899d-11e6-8ed2-12d3a2da9b7c.png)

[2016-10-04 02:18] vincent99 commented on #4711
@hollingsworthd that's fine if you want to create your own machines manually, but does not help integrate with docker-machine.

[2016-10-04 02:28] hollingsworthd commented on #4711
@vincent99 after running `gcloud auth activate-service-account` Docker Machine works. Yes, none of this is automatic, it would have to be something Rancher integrated. None of these commands require manual intervention though; they could all be run automatically.

[2016-10-04 02:32] virtuman commented on #5916
Having exact same issue, also in production. Will gladly provide any command output or whatever may be helpful in getting this figured out.

Couple of things that might matter:
on hosts machine i have google dns added to /etc/resolv.conf
nameserver 8.8.8.8
and able to ping any internet site properly.

form the rancher/server container - not able to resolve anything

`docker ps` shows multiple inst

[2016-10-04 02:35] hollingsworthd commented on #4711
[code]

[2016-10-04 02:46] vincent99 commented on #4711
Rancher is multi-tenant, different users need to be able to create using different credentials.

[2016-10-04 03:11] hollingsworthd commented on #4711
@vincent99 gcloud auth uses the $HOME variable to choose a place to store creds. Perhaps with `env -i` (which gives a bash command a blank, isolated state) and/or `gcloud config set core/project` with `gcloud config set account` this could support multi-tenant. And if the json file is persisted then gcloud auth could be run before every docker-machine command. Just a thought. I don't know the full

[2016-10-04 04:03] deniseschannon commented on #4176
Closing as original issue was fixed. @sangeethah If you still see the other logs issue, please open a new issue.

[2016-10-04 04:03] #4176 closed

[2016-10-04 04:08] deniseschannon commented on #4411
We have removed GlusterFS and Convoy Gluster from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes.  However, due to lack of active maintenance, we cannot recommend this solution going forward.

Instead, we recommend and certify Convoy NFS, which is actively maintained by Rancher. As a user, you can get GlusterFS support directly from Red Ha

[2016-10-04 04:08] deniseschannon commented on #3419
@xrain0610 Please note that we have removed GlusterFS and Convoy Gluster from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes.  However, due to lack of active maintenance, we cannot recommend this solution going forward.

Instead, we recommend and certify Convoy NFS, which is actively maintained by Rancher. As a user, you can get GlusterFS

[2016-10-04 04:09] deniseschannon commented on #4289
@iangcarroll We have removed GlusterFS and Convoy Gluster from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes.  However, due to lack of active maintenance, we cannot recommend this solution going forward.

Instead, we recommend and certify Convoy NFS, which is actively maintained by Rancher. As a user, you can get GlusterFS support directl

[2016-10-04 04:18] deniseschannon commented on #5568
As this is a Docker 1.10 bug, there's not much Rancher can do. In Rancher 1.2, we will be supporting k8s 1.4 with docker 1.11, so I think this can be closed.

Re-assigning to @soumyalj

[2016-10-04 04:21] deniseschannon commented on #4463
@willseward @whiteadam Can you create new issues with your steps using convoy NFS?

Please note that we have removed GlusterFS and Convoy Gluster from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes. However, due to lack of active maintenance, we cannot recommend this solution going forward.

Instead, we recommend and certify Convoy NFS, wh

[2016-10-04 04:23] deniseschannon commented on #3670
Please note that we have removed GlusterFS and Convoy Gluster from the catalog as users were expecting a robust tool as an alternative persistent storage for Docker volumes. However, due to lack of active maintenance, we cannot recommend this solution going forward.

Instead, we recommend and certify Convoy NFS, which is actively maintained by Rancher. As a user, you can get GlusterFS support dire

[2016-10-04 04:26] deniseschannon commented on #5404
Yes, this looks like a duplicate of #4460. Closing in favor of that one.

[2016-10-04 04:26] #5404 closed

[2016-10-04 05:54] prachidamle commented on #4078
This was added for public-dns project which is no longer in released state. So moving this out.

[2016-10-04 08:29] grandmore commented on #4711
I was forced to use `docker-machine` itself to create the instances on GCE, then ssh into them and run the rancher command inside them.

It's not very painful and it's reasonably quick. I had to ensure that I used the Rancher supported docker version, in this case it's 1.10.3.

[code]
If it fails to complete with a 'certificate' error it can easily be regenerated with
`docker-machine regenerate-ce

[2016-10-04 08:39] gerich-home opened #6115 "Joining external machine with no docker to Rancher managed network"
**Rancher Version:** v1.2.0-pre3

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04.1 LTS (with KVM)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

Hi,

I have Rancher deployed on one of my servers and it man

[2016-10-04 09:06] boskiv opened #6116 "Consul from catalog does not start."
**Rancher Version:**
1.1.4
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**
make certs with certstrap https://github.com/square/certstrap
Launch Consul from catalog with certificates

**Result

[2016-10-04 09:25] boskiv commented on #6116
fixed with wrong gossip key.
key need to be generated with `consul keygen` command.

[2016-10-04 09:25] #6116 closed

[2016-10-04 09:37] boskiv opened #6117 "Duplicated hosts after reboot"
**Rancher Version:**
1.1.4
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
VSphere
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single rancher external db (maria galera)
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
reboot hosts with agents installed
**Results:**
![2016-10-04 1

[2016-10-04 14:08] cjellick commented on #6117
Boot2Docker's disk outside of /var/lib/docker is an in-memory ramdisk. As such, Rancher's persisted state that allows a host to be identified upon reboot gets wiped out.

@vincent99 added a workaround for this, but maybe it is not in the 1.1.X branch. @vincent99?

[2016-10-04 14:11] Flos commented on #4561
Thanks

DOMAIN\username works as Service Account

[2016-10-04 14:19] cjellick commented on #4463
As a side note, @ibuildthecloud is reworking a driver that is better at registering/deregistering itself. When that is done, we may be able to use the same logic with convoy

[2016-10-04 14:21] cjellick commented on #4460
@ibuildthecloud and @alena1108 are reworking all the stack-base volume logic in rancher. We explicitly talked about supporting this scenario and it should be addressed. I'm going to reassign.

[2016-10-04 14:28] cjellick commented on #4420
This is a legit bug, but it is only cosmetic and doesn't have a functional impact. Can we move out of 1.2.0?

[2016-10-04 14:38] cjellick commented on #2788
I _think_ @ibuildthecloud is addressing this as part of volume refactor. Assigning over.

[2016-10-04 14:41] deniseschannon commented on #4145
As we move to swarmkit, the existing swarm solution will no longer be used, but assigning to @LLParse to confirm.

[2016-10-04 14:50] cjellick commented on #3316
This is a nice to-have feature, but I don't think I'm going to get to it for 1.2.0. Can we either reassign or bump out?

[2016-10-04 15:00] boskiv opened #6118 "No graphs in Service"
**Rancher Version:**
1.2.0-pre3
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Create consul from catalog
**Results:**
![2016-10-04 18 00 15](https://clou

[2016-10-04 15:17] sangeethah commented on #4104
@alena1108 , with rancher-server version v1.2.0-pre3 , the number of incidents of DataChangedException  has not changed and is reported as "Uncaught Excepetion"

[code]

[2016-10-04 15:39] sangeethah commented on #4092
There have been many fixes relating to dynamic schemas and machine drivers that have gone in rancher-server 1.1.x release . Some related  issue that were addressed:
https://github.com/rancher/rancher/issues/4377
https://github.com/rancher/rancher/issues/4370
@jwhitcraft , closing this issue since we should not encounter the errors reported initially in this bug when testing with latest releases of

[2016-10-04 15:39] #4092 closed

[2016-10-04 15:40] nrvale0 commented on #6056
@vincent99 The bug I'm seeing, which may or may be related to the above issue, would be if Rancher CLI or go-machine is feeding config options to docker-machine via envvars as opposed to cmdline params or some library function call its possible for the SG info to get lost and cause symptoms similar to the above. I've not had time to look at either the Rancher CLI or go-machine code to see how conf

[2016-10-04 15:46] nrvale0 commented on #6056
@tfiduccia Can you share a little more info about how you are provisioning the node? Would this be via  the Infrastructure/Host/Add Host route in the Rancher web console? Or perhaps Rancher CLI?

Also, any chance you could login to the agent node, run:

[code]

and post the **FILTERED** contents here? **BEWARE** - this file contains AWS creds you'll want to remove before posting!

[2016-10-04 15:54] opichon commented on #6056
I've been using the rancher UI (Host/Add host). I cannot add hosts in DigitalOcean nor in AWS EC2. I believe I follow the instructions and provide correct values for the various fields (DO API key, AWS access key id and secret key).

[2016-10-04 15:54] opichon commented on #6056
If I create the hosts directly in DO or AWS, I can then add them using the "custom" driver.

[2016-10-04 16:23] alena1108 commented on #2414
@awithersdd we do have rsyslog support in refactored LB:

https://github.com/rancher/lb-controller/pull/15/commits/bc9d22db04cf5013472ed393fc5fd400e7e89a49

so the logging will be enabled by default

[2016-10-04 16:51] galal-hussein opened #6119 "Adding Audit logs in kubernetes 1.4"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4

Audit logs can be enabled in Kubernetes 1.4 by adding the following option to the

[2016-10-04 16:56] galal-hussein opened #6120 "Scheduled jobs not working in Kubernetes 1.4"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4

The scheduled jobs has a perquisite of turning on batch v2alpha1 by passing the fo

[2016-10-04 17:04] galal-hussein opened #6121 "Can't use volume dynamic provisioning using Storageclasses in kubernetes 1.4"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4
**Steps to Reproduce:**
storageclass.yml

[code]

pvc.json

[code]

**Results:**
Ru

[2016-10-04 17:20] warroyo opened #6122 "Rancher Client does not read self signed certs"
**Rancher Version:**

agent: 1.0.2
server: 1.1.4

**Docker Version:**
1.11

**OS and where are the hosts located? (cloud, bare metal, etc):**
centos7

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA cluster with 3 nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

I am seeing an issue when using a self signed cert and trying to provisio

[2016-10-04 17:21] LLParse commented on #4145
We don't plan to support swarm as it's been deprecated in favor of swarmkit. That being said, this may still be an issue when interacting with a swarm manager via the rancher CLI - so should remain open until we prove otherwise.

[2016-10-04 17:31] soumyalj commented on #5568
Its a Docker 1.10 bug and Rancher cannot do anything about it.

[2016-10-04 17:31] #5568 closed

[2016-10-04 17:34] raymatos opened #6123 "Issue starting rancher UI on centos bare metal"
**Rancher Version:**
agent-instance:v0.8.3

Component   Version
Rancher v1.1.4
Cattle  v0.165.8.4
User Interface  v1.1.14
Rancher Compose v0.8.6
Close

**Docker Version:**
Docker version 1.12.1, build 23cf638

**OS and where are the hosts located? (cloud, bare metal, etc):**
Centos Bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node

**Envir

[2016-10-04 17:49] tfiduccia opened #6124 "Infrastructure Catalog should be enabled by default"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1.  Setup a brand new Rancher
2.  Click on Configure for kubernetes

**Results:** Get an error cause Infrastructure catalog is off by default

**Expected:**  Should be on

[2016-10-04 17:50] lucacri commented on #6053
Same problem for me. It's very frustrating, and I already had 2 outages that I couldn't fix in time because the UI is basically impossible to reach.

If it helps, I have a big deployment (115 servers), and I'm open to answer any question to fix this!

[2016-10-04 17:53] tfiduccia opened #6125 "If infrastructure catalog is off in setting, get a 404 error when selecting orchestration engine"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1.  Create a new environment
2.  Make sure infrastructure catalog is disabled
3.  Go to Stack's page
4.  Click on Configure for any orchestration

**Results:** 404 error
![image](https://cloud.githubusercontent.com/assets/11514927/19085826/a500d88a-8a20-11e6-876b-6382959184b4.png)

**Expected:**  Do not show Infrastructure catalog items if

[2016-10-04 17:58] LLParse commented on #5837
Added documentation on [tearing down](https://github.com/rancher/rancher/wiki/Kubernetes-Management#tearing-down) to address this.

Added question to enable/disable backups:
URL: https://github.com/llparse/testing-catalog
Branch: config-backup-param

Similar to https://github.com/rancher/rancher/issues/5834, we will not be able to test until infra catalog is available.

[2016-10-04 17:59] tfiduccia opened #6126 "Catalog is broken and only infrastructure catalogs templates showing up"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1.  Make sure all your catalogs are enabled in settings, also add custom catalog
2.  Go to Catalog/All

**Results:** Only infrastructure templates are showing up

**Expected:**  All templates from community, Rancher Certified and custom should show up

[2016-10-04 18:28] tfiduccia opened #6127 "Long name for stacks, hosts, catalog templates, container is causing drop-down to change height"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1.  Go to Catalog page
2.  Click on a template
3.  Go to host and click on a container with a long name

**Results:** Notice the drop-down to change templates is huge
![image](https://cloud.githubusercontent.com/assets/11514927/19087056/8486f09e-8a25-11e6-8da9-550ca53416ca.png)
![image](https://cloud.githubusercontent.com/assets/11514927/19

[2016-10-04 18:29] vincent99 opened #6128 "Project orchestration is sometimes null"
The orchestration field of a project is null for the default `1a5` project and possibly others.

[2016-10-04 18:31] vincent99 opened #6129 "Add change events for new denormalized fields"
New denormalized fields need to send change events when the list changes.
- Container
  - hostId
  - serviceIds
- Host
  - instanceIds
- Service
  - instanceIds
  - stackId
- Stack
  - serviceIds

[2016-10-04 18:33] will-chan opened #6130 "Limit resources on a per host level for scheduling"
Allow admins to configure the resource limits used for scheduling on a per host basis.  The minimum requirement is MEM and Storage.  If we can allow CPU, that would be great.

[2016-10-04 18:43] dodekeract commented on #4199
Can we change this to `kind/security`? Unencrypted database traffic is IMHO a huge security flaw.
Also is there any progress on this? Has anybody got it to work yet? I'd like to deploy this for @attach-live.

[2016-10-04 18:48] prachidamle commented on #4557
@janeczku assigning to you to check if this is applicable for external ELB. Please put it back to 1.2.0 if it is and let @deniseschannon know

[2016-10-04 18:49] prachidamle commented on #4557
moved it 1.2.0

[2016-10-04 19:00] tfiduccia opened #6131 "Tabs in Log modal are floating and too close to title text"
**Rancher Version:** master

**Steps to Reproduce:**
1.  Create a service
2.  Go to the container and click on Log from the menu

**Results:** Notice the Combined, Standard Out & Standard Error tabs are floating and not connected to anything.  Also the tabs and the Logs: title text is too close.
![image](https://cloud.githubusercontent.com/assets/11514927/19088187/f3d8d9f4-8a29-11e6-9b0d-2ec5d9e24

[2016-10-04 19:01] deniseschannon commented on #4545
Duplicate of https://github.com/rancher/rancher/issues/2777

[2016-10-04 19:01] #4545 closed

[2016-10-04 19:06] deniseschannon opened #6132 "API: projects -> environments"
Update v2-beta that renames project to environment and then fix everything that breaks.

[2016-10-04 19:26] sangeethah opened #6133 "Hosts are not listed in storage driver view."
Rancher Version: Build from master- oct 4

Steps to reproduce the problem:
Create a stack from convoy-nfs catalog entry.

Once the  convoy-nfs stack is deployed successfully , I see "convoy-nfs" being listed in storage drivers
list view. But there are no hosts that are associated with this storage driver.

<img width="1397" alt="screen shot 2016-10-04 at 12 23 11 pm" src="https://cloud.githubuserc

[2016-10-04 19:36] vincent99 commented on #6133
https://github.com/rancher/rancher/issues/6097

[2016-10-04 19:36] #6133 closed

[2016-10-04 19:40] roudrik commented on #2143
+1

[2016-10-04 19:41] tfiduccia opened #6134 "Console in Add Service is always sending TTY (-t) option as true"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1.  Create a service
2.  In the Console section select anything but TTY (-t) option
3.  Create

**Results:**  No matter what option I select, it's always sending TTY (-t) option.  If you clone the service you can see that TTY (-t) is selected and you can see it in the POST in Developer Tools.

**Expected:**  Should keep my selection and not

[2016-10-04 19:44] tfiduccia opened #6135 "When TTY (-t) is selected all three Tabs are showing up"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1.  Create a service with TTY (-t) option selected
2.  Start Service and go to Log for container

**Results:** The Combined, Standard Out & Stand Error tabs are showing up
![image](https://cloud.githubusercontent.com/assets/11514927/19089662/2ee81248-8a30-11e6-83f8-b5838bef038f.png)

**Expected:**  Should not show up and text saying why sho

[2016-10-04 20:35] praseodym opened #6136 "[rancher-dns] PowerDNS 4.0 uses different API path"
[PowerDNS 4.0 changed the API path](https://doc.powerdns.com/md/authoritative/upgrading/) to `/api/v1` instead of `/`. Rancher external-dns is not updated for this and will try to make requests to `/servers/localhost/zones/xyz` instead of `/api/v1/servers/localhost/zones/xyz`. This breaks the external DNS integration.

[2016-10-04 21:15] LLParse commented on #6086
No more `Permission denied` issues with named volumes then? Can we close this?

[2016-10-04 21:17] sangeethah commented on #4010
@deniseschannon , v2-beta renames enviornment to stack. But renaming project to environment is not done yet.

Is this change is also scoped for this release ?

[2016-10-04 21:18] deniseschannon commented on #4010
Please note that the issue has been updated and test it for exactly what the issue says.

environment -> stack

@sangeethah

[2016-10-04 21:26] tfiduccia opened #6137 "Catalog page give 500 error if you turn disable all catalogs"
**Rancher Version:** master 10/4

**Steps to Reproduce:**
1. Go to setting and disable all catalogs
2. Go to catalog page

**Results:** Error Internal Server Error (500)
![image](https://cloud.githubusercontent.com/assets/11514927/19093072/7d46d0b0-8a3e-11e6-99ab-b4f0833eb40c.png)

**Expected:** No Error

[2016-10-04 21:28] sangeethah commented on #4010
Tested with rancher-server version -v1.2.0-pre3.

Environment has been renamed to stack for v2-beta apis. Validation tests uses stack related apis when testing with v2-beta apis.

[2016-10-04 21:28] #4010 closed

[2016-10-04 21:34] alena1108 commented on #2777
@deniseschannon put a fix for LB v1. For LB v2, it will require quite big framework changes as when haproxy is deployed as a microservice, cattle doesn't control its reload. For LB v2, it will most likely be done post 1.2. I'll update this ticket once the design is final. It will probably be something in line with:

* add new state to the instance, "draining"
* register LB service with "drain_serv

[2016-10-04 21:55] sangeethah opened #6138 "Should be able to create volumes when used with create option."
Rancher server - Latest build from master
rancher-compose version v0.11.0-rc1

Steps to reproduce the problem:
Have convoy-nfs volume driver set up for the environment.

Use the following yml with create command , followed by up command to create the service with volumes in nfs store:

[code]

[code]

This should result in volume -new1_foo being created and service having this volume mounted at /t

[2016-10-04 22:09] weikinhuang opened #6139 "Unable to access kubernetes services: no route to host"
I am able to reach individual pods just fine regardless if they are on the same machine or not. I am just having issues with the kubernetes Service setup. I have tried `ClusterIP`, `NodePort`, and `LoadBalancer `.

**Rancher Version:**
v1.1.4 (docker `rancher/server:latest`)

**Docker Version:**
v1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
centos 7 vm x2 local

**Setu

[2016-10-04 22:09] sangeethah opened #6140 "Containers stuck in starting state forever when trying to start service with shared volumes with scale >1."
Rancher Server version - Build from master
Rancher Compose version - rancher-compose-v0.11.0-rc1

Steps to reproduce the problem:
Create a service with shared volumes ( at stack level using external: false) with scale >1.
Containers of the services are stuck in "strating" state forever:

[code]

[code]

Following exception seen in cattle logs:

[code]

***Note: This does not happen all the time. S

[2016-10-04 22:18] sangeethah opened #6141 "Not able to create service with external volumes."
Rancher Server version - Build from master

Rancher server - Latest build from master
rancher-compose version v0.11.0-rc1

Steps to reproduce the problem:
Have convoy-nfs volume driver set up for the environment.
Create a volume - test1 (from UI)  so that it is in "requested" state.

Use the following yml to create a service with this volume test1 mounted as "/data1".

rancher compose complains th