[2019-03-27 09:54] sharif-rahman commented on #19204
This works finally. thanks. Is it a bug in Rancher?

[2019-03-27 09:55] horihel commented on #18864
Just tested with rancher 2.2.0 - same problem

[2019-03-27 10:13] Redbierbaron opened #19207 "Deploy Cluster with Openstack Provider: no LBAAS is created"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
create Cluster via cloud-provider OpenStack

**Result:**
Cluster and nodes are created, but no Loadbalancer (OpenStack LBAAS)

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag

[2019-03-27 10:20] IsNull commented on #19204
I guess rancher does not add the `--force` flag when you click delete.
It would probably be a nice feature to add a "Force Delete" Button.

[2019-03-27 10:28] SergioMBS commented on #12183
This issue is still happening, really annoying as all you want to do is change the LB config

[2019-03-27 10:48] loganhz commented on #19206
What

[2019-03-27 10:51] azbpa opened #19208 "Imported RKE Cluster displays %3Cnil%3E for NodePorts in Rancher Server UI"
Facing a similar issue described here rancher/rancher#15482 when importing a cluster created manually with RKE `v0.1.16` to Rancher Server `v2.1.6`.

Not sure if it is a bug or maybe a misconfiguration.

From where comes the information that is used by Rancher UI to display the endpoint of the host? Is it a custom annotation that might be missing? Or is it based on an option to be set during RKE i

[2019-03-27 11:08] cachaldora commented on #10053
When will you include this request on your roadmap?
GitHub authentication uses oauth2 and you already have support for GitHub. It should be easy to create a custom oauth2 authentication module and it would be very nice 😃

[2019-03-27 11:09] rbq commented on #19145
@thxCode Could the chart (or wherever the application configuration comes from) determine the resource usage using some basic arithmetic operations? The user questions could be the base amount of memory, memory per node and node count (for the request), as well as a safety factor (for the limit). Maybe the operator could even query the node count and scale resources even after deployment? Or the U

[2019-03-27 11:14] superseb commented on #18831
The most important part in these issues is the network path from the nodes in the imported Kubernetes cluster to Rancher. What is it traversing? Is it on the same subnet, DC or is it different? What does it traverse to get to Rancher? What is the MTU set on the host running Rancher and the hosts in the imported Kubernetes cluster? Is there a tunnel/peering between the location of the host running

[2019-03-27 11:39] superseb commented on #19017
I think we should consider showing all catalogs in a list, either 2 lists with the built-in ones and another with custom or a single list with an indicator of being built-in or not. This way you have an uniform view of all catalogs, where you can easily edit the source repository (for airgap) and see feedback from fetching the repositories in an uniform way.

[2019-03-27 11:43] materemias opened #19209 "Cluster monitoring cannot be restored once disabled"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- enable cluster monitoring
- disable cluster monitoring
- delete cattle-prometheus namespace and leftover apps
- re-enable cluster monitoring

**Result:**
only cluster-monitoring app is deployed, cluster-alerting and monitoring-operator doesn't get deployed

[2019-03-27 11:46] loganhz commented on #19078
Min CPU value is `900 + your input in UI for Prometheus CPU Limit  (200 by default) + 100 * schedulable_node_count`

Min Memory value is `970 + your input in UI for Prometheus Memory Limit  (100 by default) + 30 * schedulable_node_count`

The left reservation of schedulable nodes should not be less than the min value.

[2019-03-27 11:47] loganhz commented on #19078
@davidnuzik Please verify it after the PR merged. We can back port to 2.2.x if you are happy with it.

[2019-03-27 12:01] Yajo commented on #16246
So, how should be Rancher installed and configured to make use of other CRI?

[2019-03-27 12:07] nikk0 opened #19210 "How to update the command line of the apiserver to enable PodPreset ?"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

In order to use PodPreset, the apiserver commandline needs to be updated to include settings.k8s.io/v1alpha1=true in the --runtime-config option.

How to do that ?

**Environment information**
- Rancher version : 2.1.7
- Installation option : single install

**Cluster information**
- Cluster type : Custom
- Mach

[2019-03-27 12:08] wzrdtales commented on #16246
I think this is more RKE related now than rancher itself.

[2019-03-27 12:16] nikk0 opened #19211 "Rancher UI does not show the "PodDisruptionBudget" Pod"
**What kind of request is this (question/bug/enhancement/feature request):**
Question:

I created a Zookeeper  cluster which uses a PodDisruptionBudget.
I can not find in the Rancher UI the PodDisruptionBudget.
Am i missing sthg ?
Is it normal ?

**Environment information**
- Rancher version : 2.1.7
- Installation option :  single install

**Cluster information**
- Cluster type (Hosted/Infrastruct

[2019-03-27 12:17] ThunderRush opened #19212 "Some vSphere options get dropped/ignored on node setup"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Set up HA Cluster on three RancherOS nodes via RKE
Set up Rancher for vSphere deployment
Create new Nodetemplate
Set the following parameters for GuestInfo:

`
sched.mem.min = "<Memsize>"
sched.mem.minSize = "<Memsize>"
sched.mem.pin = "TRUE"
`

**Result:**

[2019-03-27 12:39] krsna1729 commented on #16246
@egernst tried this out yesterday. Basically create your cluster with CRI of choice and import it in rancher UI. it detects the runtime. You will be able to install monitoring and other stuff from the UI

[2019-03-27 13:01] tomhouweling1987 opened #19213 "Rancher UI not working after upgrade to 2.2.0"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Air gapped cluster with rancher v2.1.0 or 2.1.7
Upgrade to 2.2.0

**Result:**
[ERROR] failed to serve UI: Get https://test/ui/latest2/index.html: dail tcp: lookuptest on <IP ADDRESS>: server misbehaving

**Actual Result:**
Working
Rancher UI on v2.2.0

**Oth

[2019-03-27 13:03] aliazlan4 opened #19214 "Jenkins Pipeline not working on v2.2"
Jenkins pipeline has so many issues in the version 2.2.

Sometimes, pods in the jenkins and docker registery will not start, sometime they starts but pipeline failed at one step or the other. I am testing with pipleline sample apps provided by rancher and i am unable to succeed even once.

[2019-03-27 13:10] superseb commented on #19214
Please use the issue template and read https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions why it is important to provide the requested information to reproduce issues. Based on the information provided, there is no way to begin investigating the issue. What version of Kubernetes is used, how many nodes with what roles, specifications on the nodes, what steps can be tak

[2019-03-27 13:16] superseb opened #19215 "Templated Repository URL for Git-based catalog URL is not showing rancher"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
* Run v2.2.0
* Open Global -> Tools -> Catalogs

See Git-based catalog URL shown as `Git-based catalog URL, e.g. https://github.com//charts.git`

<img width="1070" alt="Screen Shot 2019-03-27 at 14 14 46" src="https://user-images.githubusercontent.com/262017

[2019-03-27 13:19] sharif-rahman commented on #19214
Hello.
They are many possible ways to do that. It depends up on the organization which tool is perfect to do.
For example
We can use Jenkins which not recommended from my point
Other possible ways is to use gitlab-ci which is more convenient for rancher as well.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Sebastiaan van Steenis <notifications@github.com>
Sen

[2019-03-27 13:21] sharif-rahman commented on #19215
Rancher allows us to deploy via helm chats with questions.
Got lab-CI can triggers the rancher envy via pipeline to deploy it.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Sebastiaan van Steenis <notifications@github.com>
Sent: Wednesday, March 27, 2019 2:17 PM
To: rancher/rancher
Cc: Subscribed
Subject: [rancher/rancher] Templated Repository URL for Git-base

[2019-03-27 13:28] superseb commented on #19213
Please provide exact steps/commands used, and can you also provide the history from this setup (what versions of Rancher are used)? Is there a proxy in play here?

This does not reproduce from scratch starting on v2.1.7 and upgrading to v2.2.0 in an airgapped environment.

[2019-03-27 13:33] fwiedmann opened #19216 "Unable to provision Azure Disk with Azure node driver and azure cloud provider"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

Create a pvc with azure disk storage class set.
pvc deplyoment:
[code]

**Result:**
kubectl get pvc:
NAME              STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS         AGE
pvc-test            Pending                                      azu

[2019-03-27 13:36] janeczku opened #19217 "[Pipeline] Support Gitlab repositories found in nested groups"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a nested project hierarchy in GitLab, e.g.
[code]
2. Create a new user and add this user to `ParentGroup` with `maintainer` permissions
3. Follow Rancher docs to configure a pipeline in the Default project with GitLab, using this user's account/app

[2019-03-27 13:36] canhnt commented on #18948
Update: I've tested on a clean k8s cluster v1.13.4 created by kubeadm and cannot reproduce the bug.

Some observations:
- kube-apiserver:
[code]

- PSP admission controller was enabled:
[code]

- Execute `kubectl run -ti  my-busybox --image=busybox --restart=Never sh -n canh` stuck:
[code]

[2019-03-27 13:46] kapolos opened #19218 "Node selector for monitoring doesn't work in some case"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

I upgraded from 2.1.7 to 2.2.0 and enabled monitoring on a cluster.

**Result:**

Monitoring API unavailable.

This error is constantly spammed on the exporter-kube-state-cluster-monitoring logs:

`E0327 13:32:13.962468 1 reflector.go:205] k8s.io/kube-stat

[2019-03-27 13:47] Nightapes opened #19219 "Breaking change in Node Template after 2.2"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Same node template request via API v3 does not work after migration from 2.17 to 2.2

- Create Nodetemplate via API v3 in rancher 2.1.7
- Copy Request JSON
- Create Nodetemplate via API v3 with Rancher 2.2 with same JSON
**Result:**
[code]

**Other details t

[2019-03-27 14:44] janeczku opened #19220 "[Pipeline] Publishing catalog template fails with certificate error"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

1. Set up a self-signed cert Git service(gitlab/github/bitbucket server)
2. Add the git server CA root certificate to Rancher server container, following the docs for additional CA.
3. Configure the Git service under  Tools > Pipelines
4. Configure the CA r

[2019-03-27 14:52] blackholegalaxy opened #19221 "Allow execute command in existing container in cron jobs"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement / feature request

**Steps to reproduce (least amount of steps as possible):**

When creating a CRON job, we can use a docker image then a command.

But we sick to execute a command in existing pod.

Context: we have a gitlab installation on our kubernetes cluster and we try to run the following:

`docker exec

[2019-03-27 14:54] gitlawr commented on #19220
We need to inject custom ca cert to the publish-catalog container as well.

As a workaround at the moment, the following configurations would give some relief:
[code]

[2019-03-27 15:42] jrmercier1 opened #19222 "Allow S3 Snapshot service to trust internally signed certs when talking to the S3 endpoint"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement/feature request

Allow S3 Snapshot service to utilize internally signed certs when talking to the S3 endpoint.

We utilize internal S3 compatible services and would like to make use of the S3 Snapshot feature provided in 2.2.0.  We receive a trust type warning from the snapshot endpoint since our internal S3 e

[2019-03-27 15:55] kc004 commented on #19136
We were running cronjobs on that server it causes me this issue.

[2019-03-27 15:55] #19136 closed

[2019-03-27 15:56] davidnuzik commented on #19078
@thxCode when I tweak monitoring settings I only see this affect the prometheus container thus only that is configurable. Or am I missing something?

[2019-03-27 16:04] hvpareja opened #19223 "OTC node driver fails to be activated"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
In a fresh rancher installation activate the Open Telecom Cloud node driver

**Result:**
Results in a hanging status of "Activating" in the UI and throws the following error in the logs:

[code]

**Other details that may be helpful:**
Note there has been rec

[2019-03-27 16:16] hvpareja commented on #19223
Hi @loganhz - Can I ask what's the criteria to place an issue in one milestone or another? It is mere curiosity.

Thanks

[2019-03-27 16:17] guglez opened #19226 "Can't deploy images stored in a private registry via helm"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
1 Add a private registry with credentials available for the whole project
2 Validate that registry is usable by deploying an image from the registry
3 Try to deploy the same image via helm

**Result:**
Unable to pull image:
ImagePullBackOff: Back-off pulling

[2019-03-27 16:20] loganhz commented on #19223
@hvpareja as a workaround, you can edit the node driver and update the hash to `3f793ebb0ebd9477b9166ec542f77e25`.

Usually, We will fix an issue in the master branch (now master is for 2.3) and create an issue to backport it if it is important.

[2019-03-27 16:22] loganhz commented on #19223
Maybe the right thing is uploading the binary to another place... instead of using `https://dockermachinedriver.obs.eu-de.otc.t-systems.com/docker-machine-driver-otc`

[2019-03-27 16:29] MarcelMichau opened #19227 "Add South Africa Azure Regions to Rancher UI"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
N/A

**Result:**
N/A

**Other details that may be helpful:**

Microsoft recently launched two new Azure regions in South Africa.  This is just a request to add them to the region dropdown on the UI.

Output from `az account list-locations`
[code]
I'm

[2019-03-27 16:31] hvpareja commented on #19223
@loganhz, I suggested them to provide a fixed URL for each of their releases

[2019-03-27 16:33] loganhz commented on #19223
@hvpareja Thanks for your help!

[2019-03-27 16:36] loganhz commented on #19227
Yes, please!

[2019-03-27 16:42] loganhz commented on #19213
I guess you updated the ui-setting. You can change it to `local` via  API `/v3/settings/ui-index`

[2019-03-27 16:44] loganhz commented on #19226
You need to add `imagePullSecrets` by yourself if you are using helm https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret

[2019-03-27 16:45] Kralor-Guldan opened #19229 "Unable to mirror system-charts"
**What kind of request is this (question/bug/enhancement/feature request):**
We have mirrored the system charts into our internal gitlab. When we point Rancher at the repo (www.abc.com/imports/system-repo.git) we get a 401 charts.yaml. It seems as if Rancher isn't checking out the repository, but expecting it to be a helm repository.

Some further details, the "kind" in the API is set to HELM not

[2019-03-27 16:48] loganhz commented on #19221
@blackholegalaxy can you try the following, please?

1. Click show advanced options in add workload page
2. Click `Command` section to open it.
3. Input the command field

![image](https://user-images.githubusercontent.com/21168270/55095396-086ac200-50f3-11e9-8b9a-cc33c6589f39.png)

[2019-03-27 16:49] mkaurin commented on #9711
Has this been addressed in versions >2.0?

[2019-03-27 16:50] blackholegalaxy commented on #19221
My point is not executing a command on a new container but on existing running pod

[2019-03-27 17:00] Kralor-Guldan commented on #19229
This happens only in air-gapped environments. Public github works fine.

[2019-03-27 17:04] superseb commented on #19229
Does it need auth to clone that repository? Can you try configuring the username and password fields shown in https://rancher.com/docs/rancher/v2.x/en/installation/air-gap-high-availability/config-rancher-system-charts/?

[2019-03-27 17:06] Kralor-Guldan commented on #19229
We have it set to public, so no authorization is required.

[2019-03-27 17:07] davidnuzik commented on #19202
Version v2.1.7 -> v2.2.0 upgrade
I am having a hard time reproducing the problem from QA testing perspective.
- Have single install (non-HA) rancher setup with v2.1.7 enable Azure AD auth. Log out and in to ensure is working.
- Upgrade to v2.2.0. Login in again -- no issues logging in.
- Log out and log in with local auth -- again no issues logging in.

I do not see any errors when watching ranche

[2019-03-27 17:09] superseb commented on #19229
Can you run `git ls-remote https://www.abc.com/imports/system-repo.git` inside the `rancher/rancher` container (assuming you entered `https://www.abc.com/imports/system-repo.git` in the `url` field)

[2019-03-27 17:24] Kralor-Guldan commented on #19229
We get a CAfile: /etc/ssl/certs/ca-certficate.crt CRLfile: none error

[2019-03-27 17:33] MarcelMichau commented on #19227
Cool! PR is here: https://github.com/rancher/ui/pull/2820

[2019-03-27 17:37] Kralor-Guldan commented on #19229
My fix (and this should be made globally) was to turn off ssl-verify in the rancher container.

[2019-03-27 17:38] fedeostrit opened #19230 "containers on windows host 1803 not conect to external lan"
I bother you with one more problem that I have in my cluster with 2 nodes with centos 7 and a node with windows 1803, the 3 hosts are in the same network 10.73.2.0/24 and there are also other VMs that are in that same network that has other services such as Oracle DB instances

The problem I have is that when I raise a caontainer in the Windows node, the container can not see the network 10.73.2.0

[2019-03-27 17:39] rajha-korithrien commented on #17816
For others who may be having this problem with Rancher and cert-manager, I have fixed my issue and it is due to my HA nginx proxy in front of the cluster ingress. The key was realizing that the ACME well-known URL would fail with an http request to port 80, to the front end server we want to use (the server name we are ultimately getting a certificate for) but would succeed with an https request t

[2019-03-27 17:43] Kralor-Guldan commented on #19229
This didn't fix everything. The latest error: Lstat management-state/catalog-cache/xxxxxxxx/charts/rancher-monitoring/v0.0.2 no such file or directory

[2019-03-27 17:49] superseb commented on #19229
You are running into https://github.com/rancher/rancher/issues/14766, the last error sounds that it does not have all the necessary resources. How did you mirror the repository?

[2019-03-27 17:49] Kralor-Guldan commented on #19229
We just cloned it and uploaded it.

[2019-03-27 17:50] davidnuzik opened #19231 "Telemetry: Add new metrics for new v2.2.0 key features"
Version: v2.2.0

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Enhancement Details:**
We should add new metrics to telemetry for new v2.2 features. For example, we currently have no way of knowing how many people are utilizing Multi-Cluster Apps and Monitoring.

**Items**

- [x]  "#" of Cluster Templates, enforcement on/off - Ricky
- [x] "#" of HPA - C

[2019-03-27 17:50] alena1108 commented on #19219
@Nightapes thank you for reporting the issue. It will get fixed in our maintenance release. The backend already handles both old and new style template, we just have to relax the check on the API Validation side.

[2019-03-27 17:58] Kralor-Guldan commented on #19229
I refreshed the chart in gitlab, now I get this error:

"Failed to install app monitoring-operator. Error: validation failed: unable to recognize "": no matches for kind "ServiceMonitor" in version "monitoring.coreos.com/v1

[2019-03-27 18:04] davidnuzik commented on #19206
Version: v2.1.7 -> v2.2.0 Upgrade (HA setup)

No steps to reproduce were provided, but I did my best to test this from a QA perspective.

For what it's worth, and it may not be related, but on v2.1.7 I constantly get errors in the logs when trying to add the aliyun catalog show in the screenshot. It will never stop refreshing. When I review logs this is happening in a loop:
[code]

I can still see

[2019-03-27 18:06] davidnuzik commented on #19206
As a workaround, when I click the refresh button on the Launch Apps page everything now shows up.
![image](https://user-images.githubusercontent.com/45179589/55101031-6ca06e00-5080-11e9-9707-f96c23d612ea.png)

[2019-03-27 18:08] westlywright commented on #19034
Dupe of https://github.com/rancher/rancher/issues/19066, closing in favor of that one.

[2019-03-27 18:08] #19034 closed

[2019-03-27 18:39] westlywright commented on #18733
Has not been added to a 2.1.8 rc release yet but the UI tag `2.2.30` contains the fix for this and could probably be verified without a new RC.

[2019-03-27 18:41] #15144 closed

[2019-03-27 18:44] westlywright commented on #19066
Fix in master and `2.2.30` ui tag which will go into 2.2.1 rc when one is cut but this could be verified on the 2.2 release with that tag as well.

[2019-03-27 18:51] Kralor-Guldan commented on #19229
Things started working for no reason after I set TLS Verify to false.

[2019-03-27 18:53] westlywright commented on #18733
Backported to UI tag `2.1.21`. No RC candidate but this could be verified on a 2.1 with this UI tag.

[2019-03-27 18:55] Kralor-Guldan commented on #15330
Please add the feature to disable SSL verification. For airgap networks, this is very important.

[2019-03-27 20:14] d-almeida commented on #19166
I did a completely new install of the rancher/rancher:v2.2.0 release and it seems to have the same behavior.

Rancher log with cloud-config:
[code]

Rancher log without cloud-config:
[code]

[2019-03-27 20:30] erikwilson commented on #15330
I am not sure that it would be a great idea to have a feature to disable SSL verification, sounds like it would be too easy to misconfigure or too hard to know if something is misconfigured. A better option might be to load the certs into Rancher server so verification works, or use http catalogs if you really don't care about encryption.

[2019-03-27 20:49] blackholegalaxy opened #19234 "cron jobs cannot use private registries"
After having added a private registry, I am able to pull and run images from this registry, when deploying a standard pod using option `Scalable deployment of x pod`.

If I try to deploy a cron job using the same image from the same registry, in the same namespace, it appears rancher doesn't use registries credentials for this registry and doesn't start container, displaying error:

[code]

Here i

[2019-03-27 20:51] materemias commented on #19078
It would be preferable to be able to override default resource settings for all components. Monitoring smaller clusters is less resource hungry.

[2019-03-27 21:03] jgerken commented on #19179
We also observe this on our bare metal cluster using Rancher 2.1.7, single server, Debian 9, Docker 18.09.3 build 774a1f4, 1 master (etcd + control plane), 3 workers.

The containers to be killed are

- rke-log-linker-kubelet
- rke-log-linker-kube-proxy
- rke-log-linker-nginx-proxy
- rke-log-linker-service-sidekick

additionally, the container `service-sidekick` dies repeatedly without a matching

[2019-03-27 21:09] #17971 closed

[2019-03-27 21:23] deniseschannon commented on #12149
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-03-27 21:23] #12149 closed

[2019-03-27 21:45] matfiz commented on #2192
@MadOtis have you found a solution? I'm facing the same issue - trying to optimize Graylog logging through UDP

[2019-03-27 22:10] cjellick commented on #19078
@vincent99 @westlywright id like you to take a look at the approach that @loganhz is proposing. To see if it is the best approach to take.

[2019-03-27 22:51] dnauck commented on #19202
Tested the upgrade process again, same result

[2019-03-27 22:55] vincent99 commented on #15330
:+1:; an explicit mode is fine (probably with an `auto` option that maintains the current behavior for backwards compatibility).  But provide the appropriate chain so that TLS verifies, or don't use https.

[2019-03-27 23:42] ducas opened #19235 "Feature Request: Run a cronjob as an ad-hoc job"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature request

**Steps to reproduce (least amount of steps as possible):**
1. Deploy a cronjob to kubernetes
2. Open cronjob workload in rancher UI

**Result:**
* Can not execute the cronjob now without changing the schedule

**Other details that may be helpful:**
As an operator
I want to be able execute an ad-hoc run o

[2019-03-27 23:46] sangeethah commented on #19168
This issue is easily reproduces in the following case:

As admin , create a cluster - `cluster1` and assign `user1` as cluster member.

Log in as `user1`.
Create a project.
Deploy an App in this project.
Notice that when you click on "launch" for the first time , api errors out - ```{baseType: "error", code: "Forbidden",…}
baseType: "error"
code: "Forbidden"
message: "apps.project.cattle.io is for

[2019-03-28 00:26] sangeethah opened #19236 "UI - No error message presented to the user when app deployment fails."
Rancher server version - v2.2.0

Steps to reproduce the problem:
As admin , Create a cluster `c1` and add user `test1` as "cluster member".
Deploy any app , say redis.
Log in as  `test1` . Create a new project.
Deploy the same  app , redis.
User is brought back to the same page and no error message is presented.

In this case , namespace creation actually failed with following error message -
```{

[2019-03-28 01:11] laoshancun commented on #19206
@davidnuzik Yes,it is shows up,but i did nothing.

[2019-03-28 01:15] laoshancun commented on #19206
By the way,`Cluster Monitoring` and `Cluster Alert` stuck on installing.
The log says `failed with : catalogtemplateversions.management.cattle.io "system-library-rancher-monitoring-0.0.2" not found`.
Should i create an another issue?

[2019-03-28 01:22] thxCode commented on #19218
@kapolos , a similar issue: https://github.com/rancher/rancher/issues/18830

[2019-03-28 01:42] AndreZiviani opened #19237 "Fail to create persistent volume on OpenStack"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Create a persistent volume in a OpenStack cluster
Choose "OpenStack Cinder Volume" plugin
Fill in an existing Volume ID
"Filesystem type" = ext4
"Read only" = No
"Access mode" = "Single Node Read-Write"
"Assign to Storage Class" = "None"

**Result:**
Fail wi

[2019-03-28 03:04] bithavoc commented on #16295
@micw where do you set that?

like this?
[code]

is not working :/

[2019-03-28 03:05] vincent927 commented on #19145
Same problem V2.2.0

[2019-03-28 03:27] bithavoc commented on #16295
This doesn't work either:
[code]

[code]

When running `Custom` and I use `--address enp0s8 --internal-address enp0s8`, it should pick the same interface for Canal/Flannel.

This is specially frustrating in Vagrant where is impossible to disable nat and the first interface is a NAT with host only(`10.0.2.15`) and the second is the private network which can actually communicates between nodes `172.

[2019-03-28 03:31] junkiebev commented on #18275
Echoing the above question - how would one edit the cluster to set `capabilities.loadBalancerCapabilities.enabled=true` ?

[2019-03-28 04:18] Ary0075 opened #19238 "Some previously available features are missing in version 2.2.0"
| Useful | Info |
| :-- | :-- |
|Rancher Versions|Rancher `v2.2.0` UI: `v2.2.19` |
|Docker Version|`18.03.0-ce`|

## description
---
### 1.Service status no longer automatically refreshes.
### 2.The `Nodeport` network mode in the port mapping does not work.

[2019-03-28 04:46] loganhz opened #19240 "Monitoring status is not correct sometimes"
rancher/rancher:v2.2.0

UI still shows the metric graph even Prometheus is not ready when there is no enough resource to schedule Prometheus pod.

We should fallback to old dashboard and show the warning. Show users can look at the monitoring app.

[2019-03-28 05:03] #19240 closed

[2019-03-28 06:05] loganhz commented on #19238
Could you provide the reproduce steps, please?

[2019-03-28 06:06] ruffy91 opened #19241 "Rancher 2.2.0: Setting CPU + Memory Limits actually requests them"
**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):
- Installation option (single install/HA):

**Cluster information**
- Cluster type

[2019-03-28 06:26] mohapma commented on #13129
During Helm install i am getting below error. Can anyone help me out to solve this issue?
$ helm install rancher-stable/rancher \--kubeconfig ~/.kube/config \--name rancher \--namespace cattle-system \--set hostname=rancher2.test.com \--set ingress.tls.source=secret

Error: release rancher failed: namespaces "cattle-system" is forbidden: User "system:serviceaccount:kube-system:default" cannot get

[2019-03-28 06:52] altairo2087 commented on #18535
2.2.0 can't install anything

`2019/03/28 06:50:10 [ERROR] AppController p-rslbq/rabbitmq [helm-controller] failed with : helm template failed. Error: stat template-dir: no such file or directo                                                ry
: exit status 1
2019/03/28 06:50:11 [ERROR] AppController p-rslbq/rabbitmq [helm-controller] failed with : helm template failed. Error: stat template-dir: n

[2019-03-28 07:03] dnauck commented on #19202
How can i help you to find the issue? The log looks not very helpful as it contains only these single error lines.

[2019-03-28 07:22] Ary0075 commented on #19238
## steps

1. start a single node just as the doc says
[code]

2. add a cluster, a project and a namespace

3. deploy two workloads,elasticsearch and kibana.

---
I tested rancher with `v2.1.7` and `v2.2.0 alpha6` a few days ago, is it possibly caused by an old image?

I will delete all the local rancher images and retest them.

[2019-03-28 08:03] janeczku commented on #14836
/cc @loganhz

[2019-03-28 08:11] loganhz commented on #14836
Added into 2.3

https://github.com/kubernetes/kubernetes/pull/63143#issuecomment-401887153

[2019-03-28 08:34] CandyMi opened #19242 "Docker run rancher, Maybe crash in sometime."
|   name     |    version   |
|----------|-----------|
|     OS       |    Mac        |
|  Docker   |   18.09.2   |
|   k8s       |    minikube |
|  rancher |  rancher/rancher:stable |

## Problem
---
There has some problem when I use ```rancher/rancher:stable```, it's a Crash log

This is container crash without use --restart=unless-stopped.
it's bug? or it's fixed in latest?
[code]

[2019-03-28 09:15] axeal opened #19243 "Use of 127.0.0.1 vs localhost in prometheus-cluster-monitoring StatefulSet"
**What kind of request is this (question/bug/enhancement/feature request):**

Enhancement

**Steps to reproduce (least amount of steps as possible):**

The `prometheus-cluster-monitoring` StatefulSet introduced in Rancher v2.2.0, when monitoring is enabled, configures the `prometheus` container to listen on `127.0.0.1:9090` whilst the `prometheus-agent` proxies requests to `localhost:9090`.

As a

[2019-03-28 09:45] loganhz opened #19244 "Support k8s 1.14 for RKE cluster"
rancher/rancher:v2.2.0

Support k8s 1.14 for RKE cluster

[2019-03-28 09:46] loganhz commented on #19039
Link to https://github.com/rancher/rancher/issues/19244

[2019-03-28 10:00] superseb commented on #19229
This was root caused to https://github.com/rancher/rancher/issues/14766, after applying the workaround to all rancher/rancher containers, things started working.

[2019-03-28 10:00] #19229 closed

[2019-03-28 10:03] vincent927 commented on #19209
same problem

[2019-03-28 10:06] loganhz commented on #19244
Close in favor of https://github.com/rancher/rancher/issues/19039

[2019-03-28 10:06] #19244 closed

[2019-03-28 10:26] straffalli commented on #19222
+1
We encountered the same problem, it could be nice to have the possibility to setup our internal CA when configuring the S3 endpoint for snapshots.

[2019-03-28 10:27] altairo2087 opened #19245 "2.2 High ram, crush, can't start"
**What kind of request is this (question/bug/enhancement/feature request):**
bug?

**Steps to reproduce (least amount of steps as possible):**
install rancher 2.2.0

**Result:**

[code]
![screen](https://user-images.githubusercontent.com/7862433/55150629-954a6580-515d-11e9-80f6-1e1cc9c6c848.PNG)

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/ranche

[2019-03-28 10:33] superseb commented on #19245
Please fill in all the requested info in the template and read https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions why that is important. Exact specifications of the machine running Rancher and how many clusters and nodes in the cluster, node requirements are listed on https://rancher.com/docs/rancher/v2.x/en/installation/requirements/

[2019-03-28 10:50] Sawah commented on #18535
Same issues in 2.2.0, working in console with the helm-cli but not with the catalog

[2019-03-28 11:03] superseb commented on #17851
For K8s 1.13, etcd2 backend was dropped. We will need to support etcd3 first before being able to support k8s 1.13 in 1.6:

[code]

[2019-03-28 11:55] micw commented on #16295
Actually I use:
[code]

That works (canal traffic runs on wg0 which is my internal network).

[2019-03-28 12:12] Ary0075 commented on #19238
I deleted all the images related to rancher and built a single node again, but the problem still exists.

[2019-03-28 12:15] bithavoc commented on #16295
@micw that worked in Vagrant, thanks 💪

[code]

[2019-03-28 12:26] sirrapa commented on #18164
Same here

[2019-03-28 12:32] bithavoc commented on #16295
Now `kubectl exec` fails 😂

[2019-03-28 12:40] useltmann commented on #18477
I am experiencing the same after upgrading to Rancher v2.2.0 (from 2.1.0) also i get the following errors from rancher-logs in the same interval as the websocket reconnects
[code]

I once enabled Cluster-Monitoring but disabled it again after it did not deploy properly.

@henglianghe could you verify whether you have these messages in your rancher-log as well?

[2019-03-28 12:56] lgcosta commented on #2192
I'm using a dedicated instance for this, I had to make some tweaks to have this automated, but it works fine!
https://hub.docker.com/r/instantlinux/udp-nginx-proxy/

[2019-03-28 13:54] tarantegui commented on #6214
Any news on this? Are you releasing this feature on v2 or on v1.6? We need this so bad for production environments.

[2019-03-28 14:05] thanhtungka91 opened #19247 "Cannot add apps on eks cluster"
**What kind of request is this (question/bug/enhancement/feature request):**

question/bug
**Steps to reproduce (least amount of steps as possible):**
1. create eks cluster
2. add app

**Result:**
cannot deploy app from helm

**Other details that may be helpful:**
<img width="1300" alt="Screen Shot 2019-03-28 at 22 55 14" src="https://user-images.githubusercontent.com/3795067/55163839-dec2a100-51a

[2019-03-28 14:14] ekristen commented on #6214
There’s no concept of stopping containers in v2, it’s not a feature of kubernetes.

Sent from my iPhone

[2019-03-28 14:28] mrajashree commented on #19247
Are you creating this app as a cluster-owner?

On Thu, Mar 28, 2019 at 07:05 Vo Thanh Tung <notifications@github.com>
wrote:

[2019-03-28 14:31] riaan53 opened #19248 "Monitoring is crippling the cluster (very high load avg), scraping at 3200 metrics/second"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create 3 node cluster via RKE (weave CNI, RancherOS 1.5.1)
2. Install Rancher HA via helm
3. Note `top` stats and other metrics on nodes
4. Enable monitoring (use default settings except 2GB ram for prom)
5. Note `top` stats and other metrics on nodes and

[2019-03-28 14:55] micw commented on #16295
No idea without more information what fails.
You should be aware that the setting is for pod networking only. kubectl uses the API server which on rancher2 binds to all interfaces (interface and node ip settings are ignored) and communicates to other nodes with the ip specified as internal node ip.

[2019-03-28 15:08] blackholegalaxy commented on #19234
Tried to reproduce today on our company cluster and it does the same thing under 2.1.7

[2019-03-28 15:09] blackholegalaxy commented on #19221
@loganhz found a way to achieve my goal but I'm currently blocked by #19234

[2019-03-28 15:09] #19221 closed

[2019-03-28 15:19] inglemr commented on #15305
👍

[2019-03-28 15:39] bithavoc commented on #16295
Thanks.

[2019-03-28 15:50] vincent99 commented on #6214
2.0 at the time that was written was more like a new version of cattle and just k8s.

The options in current 2.x are what k8s has and we don't implement new capabilities it doesn't have in general.  There is no "stop"/"start"/"restart" but pods still go through a life cycle which has timeouts and hooks:

https://kubernetes.io/docs/concepts/workloads/pods/pod/

1.x is in maintenance mode and not go

[2019-03-28 16:08] cjellick commented on #18948
I have a theory on what is happening. Here it is:

1. You ran that `kubectl run` command as a "cluster owner" (i.e. someone who has the been granted the cluster-admin role)
2. You have another PSP in that cluster that is more permissive (can confirm via `kubectl get psp`)
3. As a cluster owner, you have permissions to all resources, including that more permissive psp. So, when you create a pod dir

[2019-03-28 16:47] dnoland1 opened #19249 "Improve Dashboard Usability"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
Go to dashboard

**Result:**
![image](https://user-images.githubusercontent.com/468462/55176311-26114900-513e-11e9-8fb7-e797d6c63d78.png)

**Other details that may be helpful:**
Users have made remarks that they do not understand what the various lin

[2019-03-28 16:55] westlywright commented on #18425
@bluemalkin @aemneina could you provide a bit more info? I am unable to repro in 2.2. Where is the name missing from? Is it on the members page after edit project? or are you selecting edit again? Is it only after the page refresh that the name is no longer present? Are there any js console or network errors?

When editing a project we fetch the members user model based on the existing PRTB's beca

[2019-03-28 16:56] cjellick commented on #19220
I dont think this is v2.2 regression, is it?

[2019-03-28 16:57] cjellick commented on #19217
@janeczku @loganhz I don't think this should block 2.2 from being marked stable, should it?

[2019-03-28 16:59] cjellick commented on #19215
i dont udnerstand the bug @superseb

[2019-03-28 17:29] Negashev opened #19251 "Rancher Global DNS cloudflare record cannot be proxied"
**What kind of request is this (question/bug/enhancement/feature request):**
Rancher Global DNS (cloudflare DNS record cannot be proxied)

**Steps to reproduce (least amount of steps as possible):**
- Create Rancher HA 2.1.7 ( from rke 0.2.0 ) update rancher to 2.2.0 (by helm)
- create Global DNS Provider cloudflare
- make dns record on project

**Result:**
log from rancher-external-dns
[code]

**

[2019-03-28 17:43] jiaqiluo opened #19252 "after upgrading from v2.1.7 to v2.1.8-rc1, Rancher server is stuck in removing pods"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- run Rancher v2.1.7
- add an RKE cluster with k8s 1.11.8 (3 etcd, 1 control, 3 worker)
- check the k8s version via `launch kubectl` in Rancher
[code]
- upgrade Rancher to 2.1.8-rc1

**Result:**
Check the k8s version again and it shows the `Client Version` i

[2019-03-28 17:55] jiaqiluo commented on #19252
Here is the issue in K8s and a temporary solution https://github.com/kubernetes/kubernetes/issues/65110#issuecomment-397520468

[2019-03-28 18:08] janeczku commented on #19220
@cjellick technically not since catalog templates are a new feature.

[2019-03-28 18:10] janeczku commented on #19217
@cjellick at least it’s not a regression as it can be reproduced in 2.1.x.

[2019-03-28 18:23] vincent99 commented on #19078
The approach seems fine, but they're hardcoded into the UI so that's not going to mix with being able to customize the requested amounts...

[2019-03-28 18:41] tfiduccia commented on #19202
@cjellick  - This looks like a secret named "DksA)hHQ>Mh1%!k(MISSING):knV8DnVa6HVo5-O0X%!}(MISSING)qn&mFV%!H(MISSING)rK5F:X!" is breaking log in.  Can you have someone look into it.

[2019-03-28 18:42] davidnuzik commented on #19158
@deniseschannon do you have any suggestions? or perhaps @vincent99 ?
I was thinking it could be worded better per the issue description (see k8s docs) it was a little confusing to me but I'm not great with k8s and am not sure the best text for this.

[2019-03-28 18:44] rammaram06 opened #19254 "Feature Request: Add Support for OpenContrail"
Rancher currently supports flannel, calico and canal, it would be great if you could add support to Tungsten Fabric (OpenContrail)

https://tungsten.io/

[2019-03-28 18:59] davidnuzik commented on #19206
We are looking into the issue further. We'll create an issue for that or if we need more info let you know. Thanks for reporting.

[2019-03-28 19:11] cjellick commented on #19207
you see this bug in rancher 2.1.7?

[2019-03-28 19:13] cjellick commented on #19206
@laoshancun are you in an airgap setup by chance?

[2019-03-28 19:21] #19169 closed

[2019-03-28 19:22] cjellick commented on #19166
do you know if it behaves this way in 2.1.7?

[2019-03-28 19:27] KrzysztofMadejski commented on #15801
Had the same issue as @moon03432 and @quqonlik : empty `/var/lib/kubelet/pki/kubelet.{crt, key}`. I deleted them and it worked.

Setup:
- Ubuntu 16.04
- Docker version 18.09.4, build d14af54
[code]

[2019-03-28 19:27] tfiduccia commented on #19247
@mrajashree
As a Project owner or member I cannot deploy apps, I get a 403 Forbidden in the dev console.  I get nothing in the UI and the app doesn't do anything.  They are probably seeing an error because they are trying to upgrade an already created app.

[2019-03-28 19:27] vincent99 commented on #19241
The UI puts in whatever you said..  "Hosted" doesn't tell us much, but your provider may have an admission controller enabled that enforces a minimum reservation, that reservation is equal to limit, or similar.

![image](https://user-images.githubusercontent.com/753917/55186658-5368f180-5154-11e9-975a-36dd60677db7.png)

[2019-03-28 19:38] d-almeida commented on #19166
I have not yet tried 2.1.7 so I don't know. #15817 made it look like 2.2 had an easier way of configuring the clusters with network protocol profiles.

I can give 2.1.7 a try; or would 2.1.8 be more appropriate?

[2019-03-28 19:39] riaan53 commented on #19248
Prev one was on RancherOS 1.5.1 tried it now on Ubuntu 18.04.2 with same results. Used exactly the same VMs specs and versions as above on DigitalOceon.

Before monitoring enabled:
<img width="1336" alt="Screenshot 2019-03-28 at 21 25 37" src="https://user-images.githubusercontent.com/7716342/55187256-2d1d7300-51a1-11e9-8a05-95b7a1035d29.png">

After:
<img width="1310" alt="Screenshot 2019-03-28 a

[2019-03-28 19:58] alexandrem commented on #19245
We are facing the same kind of problem with high memory usage in our Rancher installation on-prem.

We have 83 clusters and about 300 nodes managed right now.
Hosted on Kubernetes in HA mode.
We reach 32GB+ of ram very quickly, in about 2 hours.

Obviously we face constantly OOM errors on the worker nodes.

Is there any plan to optimize the resource consumptions of the Rancher server? The requirem

[2019-03-28 20:00] alexandrem commented on #19245
I forgot to mention this is on Ranche v2.1.7

CoreOS 2023.5.0
Docker 18.6.1
K8s: 1.13.4

[2019-03-28 22:05] fedeostrit commented on #19230
fixed, the cni.conf file has misplaced exclusions, add the exception for the entire network 10.73.2.0/24 where are the hosts and other services so the containers can not route to those networks, this is the rule that adds:

{"value": {"ExceptionList": ["10.42.0.0/16","10.43.0.0/16","10.73.2.0/24"],"Type":"OutBoundNAT"},"name": " EndpointPolicy "}

and in reality only the host of the cluster should

[2019-03-28 22:55] d-almeida commented on #19166
Just tested with a 2.1.8 install and it had similar behavior when a cloud-config file was given, however the cluster deployment also failed when the cloud-config was removed.

Rancher log with cloud-config:
[code]

Rancher log without cloud-config:
[code]

One thing that was different about this deployment was that I noticed the log "/var/log/userdata.log" on the deployed RancherOS VM:
[code]

[2019-03-28 23:01] bluemalkin commented on #18425
@westlywright the issue happens only when I edit a Project (e.g. /c/c-fq6k6/projects-namespaces/project/c-fq6k6:p-zg2z6)

If I'm already inside a Project and go to Members via the top bar menu, there is no issue (e.g. /p/c-fq6k6:p-zg2z6/security/members). So really something which works here isn't replicated to edit Project members.

[2019-03-29 01:25] loganhz commented on #19249
We are going to remove the outline and dots

[2019-03-29 01:53] jira-sync-svc commented on #16214
➤ Kelly Griffin commented:

This is a feature we need for rancher UI as we can’t see it today.

Numerous customers are/have been asking for this feature.

[2019-03-29 02:05] gitlawr commented on #19217
Dependent on upstream gitlab API issue, see: https://github.com/rancher/rancher/issues/17188

[2019-03-29 02:47] laoshancun commented on #19206
@cjellick Rancher server has full Internet access.

[2019-03-29 03:19] loganhz commented on #19218
Close in favor of rancher/rancher#18830

[2019-03-29 03:25] loganhz commented on #19218
Please try to disable and enable it again as a workaround to see

[2019-03-29 05:18] thanhtungka91 commented on #19247
sure, it is cluster-owner. I didn't create any other users, all are cluster-owner.

[2019-03-29 06:26] loganhz opened #19261 "[Monitoring] Monitor Prometheus itself"
We need to provide some ways to monitor that "only" one Prometheus, maybe:
- [ ] Provide a dashboard to view the status of Prometheus, e.g.: https://grafana.com/dashboards/3662
- [ ] Allow setting a replicated Prometheus as the cold standby
- [ ] Pre-define some out-of-box **highly sensitive** alerting rules

[2019-03-29 07:03] mohapma opened #19262 "error in cluster Provisioning"
**I am using below version of kubectl**
_Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.0", GitCommit:"0ed33881dc4355495f623c6f22e7dd0b7632b7c0", GitTreeState:"clean", BuildDate:"2018-09-27T17:05:32Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0

[2019-03-29 07:54] hmonadjem commented on #19209
same problem, is there a way to create the missing apps manually?

[2019-03-29 08:00] #19172 closed

[2019-03-29 08:04] rjbaat commented on #17589
This is also happening to me on v2.1.7. When adding a namespace this keeps hanging into Activating state for a while. When being patient it will become active. But this has been faster like instant.

[2019-03-29 08:14] vincent927 opened #19263 "Stayed in the pull image all the time, but this image already exists on the node."
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):** Launch elasticsearch in the catalog

**Result:**
Stayed in the pull image all the time

![image](https://user-images.githubusercontent.com/10399425/55218614-8f2bb600-523d-11e9-8ccb-16c134833159.png)

image already exists on the node

![image](https://user-im

[2019-03-29 08:30] danielbjornadal opened #19266 "Rancher Private Bitbucket Pipeline - Access was not authorized"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. For Bitbucket Server, login to your account. Click on Administration, then Application Links.
2. Create a new application link:
- Link: https://myrancherserver.com/p/some-random-cluster/pipeline
- Application Name: Anything you like, e.g. My Pipeline
- Se

[2019-03-29 09:24] XzenTorXz commented on #16605
I found the issue for our servers. Some apps producing thousands of ConfigMaps like "app.vXXXX"
I feel like those are created on crashes and when trying to recreate the pod (just a feeling). We had over 12000 such maps.
After I deleted all of the ConfigMaps the change between Projects is not as long anymore.

An example for deleting those maps:

`kubectl delete ConfigMap --namespace=longhorn-syste

[2019-03-29 09:25] Baykonur commented on #18831
Dear @superseb , thanks for the effort: Both machines (both VMs btw) are on the same subnet in the same DC so not tunnel/peering:

[code]

[code]

MTU values are as below:
[code]
[code]

The imported cluster has calico deployed, I just want to see how it would do with flannel and report back.

[2019-03-29 10:21] materemias opened #19267 "Edit as yaml is not working"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
create a new app or open an existing one. do some configuration. click on `Edit as yaml`

**Result:**
 it should be reflecting the config but it is empty

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher

[2019-03-29 11:33] hpdvanwyk commented on #19248
I am also seeing this. It only seems to happen on clusters created with the standalone rke binary. Using Rancher and adding a custom cluster creates one with sane load.

The most obvious difference is the disk IO. One two single node clusters, one created with rke and one with Rancher:

rke disk io:
![rke disk io](https://user-images.githubusercontent.com/948289/55229509-e45bcd80-5225-11e9-97fb-26

[2019-03-29 11:41] danielbjornadal commented on #19266
Solved this issue our selves.
Leaving the solution for google's.

We had installed popup blockers in our browsers (adblock), that keept the login window from opening.

![image](https://user-images.githubusercontent.com/7441428/55230388-fe92ad00-521f-11e9-9962-5a9acf527d2e.png)

[2019-03-29 11:42] #19266 closed

[2019-03-29 14:43] matfiz opened #19268 "Ingress name validation is failing"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. On a fresh Rancher 2.2.1 installation, rollout a helm chart (eg. rabbitmq in my case)
2. Try to add ingress with name `my-name`
**Result:**
Error:
[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/ranc

[2019-03-29 14:50] noethno commented on #14007
We also use traefik for other solutions.
Would be great if traefik would be integrated and supported.

[2019-03-29 14:50] canhnt commented on #18948
@cjellick : Thanks for your comment.

I create both users: admin (the user I used in the first post) and project-member, then do the test `kubectl run -ti my-busybox --image=busybox --restart=Never` with below scenarios:

1. k8s v1.12.3 or v1.12.6: for both admin and member users, the pod cannot be created with error `CreateContainerConfigError`, the annotation in the pod in both cases is `kuberne

[2019-03-29 14:59] matfiz commented on #16148
I could also reproduce it, still an issue in 2.2.1

[2019-03-29 15:34] proligde commented on #19060
same here - we've just upgraded to 2.2.1 and this is pretty bad for us

[2019-03-29 15:43] fedeostrit opened #19269 "windows host kubernate v1.11.9"
windows host not register in rancher cluster v2.2.1 whit kubernates v1.11.9, logs:

Downloaded newer image for rancher/hyperkube:v1.11.9-nanoserver-1803"}

ERRO[1435234] Failed to connect to proxy: Error: No such image: sha256:37fc58226c039f4d6f87ed356cfb5934d578ec795204a0314ce04d4ca2c176f8

the image rancher/hyperkube:v1.11.9-nanoserver-1803 not exist

[2019-03-29 15:58] superseb commented on #19215
It should show `e.g. https://github.com/rancher/charts.git`, `appName` is not getting translated to `rancher` in this view.

[2019-03-29 16:26] kinarashah commented on #19262
@mohapma I am unable to reproduce this, is this single node or HA setup? What kind of cluster was this?

[2019-03-29 16:41] westlywright commented on #19249
Available in master and ui-tag `2.2.31`

[2019-03-29 16:42] westlywright commented on #18425
Available in master and ui tag `2.2.31`

[2019-03-29 17:09] hwasp commented on #19238
The same here. Nodeport not working, missing annotation in the yaml. It worked in 2.1.6.

[2019-03-29 17:14] jiaqiluo commented on #19267
Hi @materemias I cannot reproduce the isseue on my setup. Here is what I did
- run Rancher v2.1.1 single install
- add a GKE cluster with all default configurations
- go to the `default` project -> `Apps` -> `launch` to launch Redis from the built-in catalog
- choose `edit as YAML` to set `slaveCount` to 4
- click `launch` and to wait the app be active
Result:
- the app is active and has 4 slaves

[2019-03-29 17:21] dsargent3220 opened #19271 "New cluster with Rancher 2.2.1 with monitoring turned on shows no results for master nodes"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1.  Create a new cluster with three "master" nodes (etcd and control plane) and any number of worker nodes.
OS used is Centos 7
2.  Turn on Prometheus monitoring in Global
3.  Wait a while

**Result:**
* View a worker node in the GUI, notice that metrics are

[2019-03-29 17:22] cjellick opened #19272 "Rancher 2.2 - Gitlab integration - Not working"
https://forums.rancher.com/t/rancher-2-2-gitlab-integration-not-working/13769/2

[2019-03-29 17:23] cjellick commented on #19272
also https://forums.rancher.com/t/using-gitlabs-generic-k8s-connection-until-gitlab-is-added-to-v2-x-pipeline/10262/6

[2019-03-29 17:24] cjellick opened #19273 "V2.1.6 upgrade to v2.2.1 failed，unable to recognize "management-statefile_path_redacted""
see https://forums.rancher.com/t/v2-1-6-upgrade-to-v2-2-1-failed-unable-to-recognize-management-statefile-path-redacted/13790

[2019-03-29 17:25] cjellick opened #19274 "Rancher 2.2 - Enabling Prometheus causes GUI crash"
see https://forums.rancher.com/t/rancher-2-2-enabling-prometheus-causes-gui-crash/13757/6

[2019-03-29 17:26] jiaqiluo commented on #19247
I cannot reproduce the isseue on my setup. Here is what I did
- run Rancher v2.1.1 single install
- add a EKS cluster with all default configurations
- enable Authentication using Github Auth
- assign a github user as the EKS cluster owner
- log in as that github user
- go to the `default` project -> `Apps` -> `launch` to launch some apps from the built-in catalog

Result:
All apps become active i

[2019-03-29 17:35] mrajashree commented on #19247
@thanhtungka91 Can you tell which app this is?

[2019-03-29 17:35] jiaqiluo commented on #19263
Hi @vincent927  I cannot reproduce the issue on my setup. Does the issue happen all the time? Does it happen if you launch apps using other catalogs?

[2019-03-29 17:38] kinarashah opened #19275 "UI: validate cloud credential is present for node template"
Issue:
This validation was done before at api level for known node drivers (azure, ec2, do, vsphere), but now needs to be done from UI side to avoid breaking api changes.

https://github.com/rancher/rancher/issues/19219

PR to remove this check from api: https://github.com/rancher/rancher/pull/19270

[2019-03-29 17:44] mrajashree commented on #19206
@laoshancun  I upgraded Rancher from 2.1.7 to 2.2.0 and enabled cluster monitoring and I cannot reproduce this, don't have these errors in my logs. Are there any other steps you took to repro?

[2019-03-29 17:46] materemias commented on #19060
Maybe we should have a button to convert answers to yaml. Having nothing is the worst scenario.

[2019-03-29 17:55] alena1108 commented on #19206
@mrajashree can you check the code to see what might cause cattle-global-data **not** being created?

Noticed this error `failed to create template aliyun-kafka: namespaces "cattle-global-data" not found` in the original comment's log. See if that might cause a follow up catalog not found error.

[2019-03-29 18:19] cjellick commented on #19170
as part of 2.3 system chart refactoring, we improve this with validation and indication

[2019-03-29 18:19] cjellick commented on #19170
can this be worked around by enable/disable?

[2019-03-29 18:19] cjellick commented on #19170
@jiaqiluo cann you validate teh work around?

[2019-03-29 18:25] cjellick commented on #18619
@loganhz can you explain what is going on here?

[2019-03-29 18:26] cjellick commented on #18619
@loganhz @sangeethah has monitoring local cluster been tested? is it supported

[2019-03-29 18:33] cjellick commented on #19272
@loganhz can you have your team regression test gitlab integration

[2019-03-29 18:54] cjellick commented on #19197
@loganhz can you attach a screenshot of what this looks like when monitoring is in a bad state in 2.2.0? we want to know how bad it is to determine if we need to fix for 2.2.2

[2019-03-29 18:57] cjellick commented on #19187
@deniseschannon we need to update this in the docs.
We need to update the rancher-nodes security group

[2019-03-29 18:57] cjellick commented on #19187
@loganhz can you confirm which ports need to be opened for monitoring?

[2019-03-29 18:59] cjellick commented on #19186
@qbert did you upgrade from 2.1.x or is this a fresh install of Rancher?

[2019-03-29 18:59] cjellick commented on #19186
Did this work for you before? Have you tried it in previous rancher versions?

[2019-03-29 19:04] fedeostrit opened #19277 "windows host 1803 not register kubernetes v1.13.5"
server not register in rancher cluster v2.2.1 whit kubernetes v1.13.5 or v1.12.7, only work in kubernetes v1.11.x

error:

server.go:148] unknown flag: --cadvisor-port

[2019-03-29 19:09] nloui opened #19278 "2.2 - Prometheus error when installing Monitoring"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Upgraded Rancher
- Enabled monitoring from GUI

**Result:**
- New namespace is created (with services: exporter-kube-state-cluster-monitoring, exporter-node-cluster-monitoring and grafana-cluster-monitoring). All are ready.
- Logs show: "failed to detect t

[2019-03-29 19:12] qbert commented on #19186
@cjellick
* fresh install of 2.2.2
* so no it didn't work on this before
* i tried creating on azure and importing. That worked

[2019-03-29 19:26] superseb commented on #19277
See https://github.com/rancher/rancher/issues/18824#issuecomment-472327263

[2019-03-29 19:26] #19277 closed

[2019-03-29 20:14] Redbierbaron commented on #19207
yes, the behavior is in 2.1.7 and 2.2.0.

[2019-03-29 20:18] materemias commented on #19278
#19209 possibly related

[2019-03-29 20:24] materemias commented on #19267
I have only tested with apps installed on v2.1.x as the related issue suggests there was free patching between answers and yaml. Now that these apps are on v2.2.1 the default view is answers and when I try to switch to yaml I got an empty text area. This happens with all catalog apps I have installed.
Some sort of initial yaml conversion would be highly welcome since that's the preferred way how I

[2019-03-29 20:42] materemias commented on #19170
beware though it may have side-effects like #19209

[2019-03-29 20:44] materemias commented on #18735
I had manually removed the problematic leftover keys from etcd, I don't recommend to do this for anyone though.

[2019-03-29 20:44] #18735 closed

[2019-03-29 20:45] materemias commented on #17474
better explanation or options are recommended.

[2019-03-29 20:56] alena1108 commented on #19238
@Ary0075 @hwasp what kind of clusters are you seeing the problem on?

[2019-03-29 21:04] alena1108 commented on #19267
@jiaqiluo can you test the case when the apps were created on 2.1.7? Then upgrade to 2.2.1 and try to update them via yaml

[2019-03-29 21:12] exocode commented on #17617
Have the same issue `v2.1.7`
Also my Rancher GUI on 443 is not working anymore.

I had to restart my Rancher container.

[code]

[2019-03-29 21:52] alena1108 commented on #19238
Also do you see it on freshly installed Rancher, or upgraded setup. If it's an upgrades setup:

 * Specify the Rancher version you've upgraded from
*  Elaborate whether the non-working Node port service created before or after the upgrade.

[2019-03-29 22:37] kapolos commented on #19218
@loganhz I removed the cattle-prometheus namespace and disabled monitoring. Then I enabled monitoring again. Same errors on `exporter-kube-state-cluster-monitoring`.

There is one difference though. Now `prometheus-cluster-monitoring` also throws an error: `level=error ts=2019-03-29T22:34:22.659461791Z caller=notifier.go:481 component=notifier alertmanager=http://alertmanager-operated.cattle-prome

[2019-03-29 22:40] proligde commented on #19267
@alena1108 I was able to reproduce this behaviour when editing a cluster yaml. Here is how:

I switched from the default local etcd backup to the s3 based backup and entered the corresponding access keys.

After that I was not able to change these setting in the yaml file. Clicking on "save" just didn't save anything. Changes to the form also seem to have no effect.

I can however disable S3-Backu

[2019-03-29 22:41] alena1108 commented on #19269
Per Drone Windows build, following images were pushed:

[code]

@loganhz  can you give 2.2.1 windows a quick test.

[2019-03-29 22:45] loganhz commented on #19218
Errors on exporter-kube-state-cluster-monitoring will be fixed in #18830

@thxCode Please look at the other error

[2019-03-29 23:11] loganhz commented on #19267
The original issue is same with https://github.com/rancher/rancher/issues/19060

https://github.com/rancher/rancher/issues/19267#issuecomment-478170524 is another issue

@proligde Could you please file a new issue?

[2019-03-29 23:13] loganhz commented on #19209
Can you try to disable the monitoring and re-enable it again?

[2019-03-29 23:16] alena1108 commented on #19189
@eroji

monitoring on the custom cluster.

There is no support from alpha and rc releases to GA. Many things changed in between them, and upgrade can cause issues.

Can you try a fresh install. Or if you have an official Rancher 2.1.x or 2.0.x install, see if upgrading to Rancher 2.2 causes the same issue.

[2019-03-29 23:17] sangeethah commented on #19273
@galal-hussein , we have seen  similar issue when upgrading rancher-server from 2.1.6->2.2.0 which is tracked in https://github.com/rancher/rancher/issues/19059 . In this case this error seen was temporary and the cluster was able to recover automatically from this state  within the next few minutes.

[2019-03-29 23:19] loganhz commented on #19187
The node exporter port which user input when enable monitoring. The default port is 9796. But users can change it to any port.

If we implement #17957 , we don't need any port.

[2019-03-29 23:23] alena1108 commented on #19200
@sangeethah can we try to reproduce the issue and if reproduced, check if it existed in 2.1.x line.

[2019-03-29 23:32] loganhz commented on #18619
@cjellick Now we only scrap ETCD metrics for RKE cluster (node template or custom).  `local` cluster is an imported cluster.  So it's not in our scope. But maybe we can detect if it is an imported RKE cluster, then we can scrap it.

[2019-03-29 23:37] loganhz commented on #19197
https://github.com/rancher/rancher/issues/19068#issuecomment-475463866

Something like this.

[2019-03-29 23:40] daxmc99 commented on #16605
Hi @XzenTorXz,
The problem with excessive configmaps will be fixed in this PR https://github.com/rancher/rancher/pull/19079.
The issue is due to an error where rancher's internal tiller would constantly attempt to recreate a resource despite a flaw in a helm chart provided. Going forward it will be more visible in the UI when tiller fails to deploy and configmaps will be limited to 1.
If possible,

[2019-03-29 23:41] alena1108 commented on #19267
@proligde

When you switch from local to s3 in yaml, do you see both s3 accessKey and secretKey missing? If access key is present, and only secret key is missing, then it's because we hide sensitive data in the API. Both accessKey/secretKey gets stored in the DB, but only accessKey gets displayed in the API.

[2019-03-29 23:43] loganhz commented on #18830
The log shows in `kube-state exporter` pod. There is no harmful. So I think it's not a blocker issue. If we want to fix it, we need to release a new version of monitoring chart

[2019-03-29 23:44] loganhz commented on #19141
It happens in 2.1.x as well. So it's not a regression.

[2019-03-29 23:44] rmweir commented on #16605
@XzenTorXz We are also working to isolate slowness to only effect the projects the config maps belong too when a situation such as this arises, https://github.com/rancher/rancher/issues/18870.

[2019-03-29 23:53] westlywright commented on #19184
I have a fix for item 1.

The root cause of item 2 is pretty simple, the text-area inputs have the required attribute on the HTML element. I am not sure why this was added but has been present for some time. The required attribute is used when doing form validation with via HTML forms only. It has accessibility features as well. I believe in most evergreen browsers it causes the accessibility scre

[2019-03-30 00:02] jiaqiluo commented on #19186
Hi @qbert  I cannot reproduce the error you saw in Rancher v2.2.1
The error message says the client does not have the authorization to perform action 'Microsoft.ContainerService/locations/orchestrators/read', which sounds like an issue of the account's permission. Could you check your account's permission to make sure you have the permission to provision AKS cluster on that specific location?

[2019-03-30 00:04] vincent99 commented on #19184
You can probably just style `:required` [CSS selector](https://html.spec.whatwg.org/multipage/semantics-other.html#selector-required) to not be red in firefox for now.

If anything, longer term we should probably be going through and applying `required` in the element consistently.  Possibly instead of using `{{field-required}}`, there's nothing tying that to whether it's _actually_ required and n

[2019-03-30 00:05] prachidamle commented on #19238
@hwasp could you please specify which annotation seems missing? Is it some rancher annotatio?

[2019-03-30 00:15] westlywright commented on #19184
Oh that's not a bad idea! Thanks. I'll do that for the firefox fix but I agree, longer term we need to add some indicator to the actual inputs that are required on the element. I was wondering if there would be anyway to integrate this into the store somehow? If the field has a required attribute on its models schema then we automatically add it to the input. Not sure if that is worth investigatin

[2019-03-30 00:22] mrajashree commented on #19202
Unable to repro this
On a 2.1.7 setup I enabled Azure AD auth and added another AD user as a cluster-member
Both AD users could logout and login
Upgraded to 2.2.0
Both users can still logout login. Logging in as local admin user works too.

The error that local user gets `hashedPassword is not the hash of the given password` seems to be because the hashed pwd we had saved for this user doesn't mat

[2019-03-30 00:22] vincent99 commented on #19184
Yes, you'd have to annotate the input to know what field it is or what shcema it's for.  Or have a generic `{{schema-input type="pod" field="name"}}` type thing and have that lookup the schema and output the appropriate `{{input-...}}` component.  This is probably only slightly net-negative vs the typical label/field-required/input- setup and could cleanup some other things (like there's already m

[2019-03-30 00:26] cjellick commented on #19202
@dnauck when you say you tested the upgrade process again, does that mean you are able to revert to 2.1.7, see it working again, and then upgrade and see it fail again?

[2019-03-30 00:27] loganhz commented on #19201
@Maxwell1987 Can you post the value in API `/v3/settings/k8s-version-to-images`

I guess you tried to upgrade to a RC version? We cannot reproduce this issue

[2019-03-30 00:30] qbert commented on #19186
@jiaqiluo
Thats what I did by provisionig AKS in Azure and importing into Rancher

Pls read the description. The error reads 'client 'feb541c9-7f09-4fae-9838-9d8e97debd83''. That is not my client ID. Looks to me like a wrong client ID is used

[2019-03-30 00:36] jiaqiluo commented on #19186
@qbert  Correct me if I am wrong, you said that
- you cannot add an AKS cluster directly from Rancher UI because of the error message you shared in the issue, and even the client ID is wrong in the error message
- but you can import an existing AKS into Rancher with no problem

Is it right?

[2019-03-30 00:38] loganhz commented on #19218
@kapolos Do you mean now UI still shows `Monitoring API is not ready` ? The error message is not related.

[2019-03-30 00:43] qbert commented on #19186
@jiaqiluo
Yes that are the two things I tried. But I can't CREATE an AKS cluster from the UI

[2019-03-30 00:54] loganhz commented on #19271
Could you try https://github.com/rancher/rancher/issues/19187#issuecomment-476891083, please?

[2019-03-30 01:02] loganhz commented on #19274
We cannot reproduce this issue. Rancher didn't crash after enabling monitoring

[2019-03-30 01:12] thxCode commented on #19209
@materemias , `monitoring-operator` is a crucial component app to schedule Prometheus and Alertmanager. That means if you drop it during enabling cluster/project Monitoring or Alerting, you need to rollback both Monitoring and Alerting to the disabling status as a workaround.

For example: You can remove those `AlertGroup` which have already connected with a `Notifier`, and re-enable Monitoring.

[2019-03-30 03:02] kapolos commented on #19218
@loganhz Yes, `Monitoring API is not ready`. I just did in another time and still the same result.

![image](https://user-images.githubusercontent.com/10794126/55270547-b7043380-52a8-11e9-957c-fb19f360cb47.png)

![image](https://user-images.githubusercontent.com/10794126/55270552-c1263200-52a8-11e9-8e45-57ef8ad511bd.png)

![image](https://user-images.githubusercontent.com/10794126/55270560-d3a06b8

[2019-03-30 03:16] Ary0075 commented on #19238
@alena1108 @prachidamle etcd、controller、worker all in one cluster.

I tried to build 2.2.1 (latest) and 2.1.8 (stable) versions yesterday, **2.1.8 is normal**, 2.2.1 and 2.2.0 have the same problem. Then I set up 2.2.1 on a virtual machine with exactly the same steps as my local one, and Nodeport works fine.

I will delete all the containers and images related to the rancher to ensure that the env

[2019-03-30 03:16] laoshancun commented on #19206
@mrajashree Let me think,i have created a global dns provider and global dns entry,and then remove it.

[2019-03-30 03:17] CoolDarran commented on #18535
+1

[2019-03-30 03:18] thxCode commented on #19218
@kapolos , It seems the cluster level Prometheus cannot be installed in your environment. We are using Operator to schedule the Prometheus deploying. You can feedback us with the log of Operator pod and do some checking with:
[code]

[2019-03-30 03:37] kapolos commented on #19218
@thxCode Thank you. Here are the results:

[code]

[code]

[2019-03-30 03:50] fgeorgatos opened #19279 "info pointed by catalog URL makes rancher crash at ~2 minutes interval"
**What kind of request is this (question/bug/enhancement/feature request):**

bug: unexpected container crash (i.e. a heavy slowdown)

**Steps to reproduce (least amount of steps as possible):**

add catalog https://swissdatasciencecenter.github.io/helm-charts/

**Result:**

DoS, with this log visible:

[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (

[2019-03-30 04:14] thxCode commented on #19218
@kapolos , Can you paste the log of the `prometheus-operator-monitoring-operator` Pod?

[2019-03-30 06:19] ruffy91 commented on #19241
I use Ubuntu 18.04.2 on multiple Hetzner CX21 nodes (2vCPU, 4GB RAM, 40GB SSD) deployed via rancher with https://github.com/mxschmitt/ui-driver-hetzner and docker 18.09.
Rancher itself is running on CentOS 7 in single node config.
Separate node pools for etcd/control plane and workers.

When I look and - limits: and - requested: of the cluster (three dots -> view in API) I get following result:
If

[2019-03-30 06:50] panho66 commented on #19189
Installed rancher v2.2.1 HA and add custom cluster with nodes. It seems ok no problem.
But I got the error message below to install Rancher HA Cluster local using RKE as recommended in https://rancher.com/docs/rancher/v2.x/en/installation/ha/

 **Failed to get job complete status for job rke-network-plugin-deploy-job in namespace kube-system**

Steps
Create cluster.yaml
Rke up

It seems timing iss

[2019-03-30 07:36] panho66 opened #19280 "should Rancher 2.2.1 with rke 0.2.0 release or rke 0.2.1 ?"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
Rancher 2.2.1 release note  https://github.com/rancher/rancher/releases   with
rke version 0.2.0
Kubernete 1.13.5 (default)

however Rke release note 0.2.0 https://github.com/rancher/rke/releases/tag/v0.2.0
Kubernete   v1.13.4-rancher1-2 (default)

rke

[2019-03-30 08:46] dnauck commented on #19202
@cjellick yes, i created a snapshot of the vm, upgraded to v2.2.0 and tested. It was not working so i reverted the snapshot back and tested again with the same result.

@mrajashree no, didn't know this command

[2019-03-30 10:07] proligde commented on #19267
@alena1108 I'm afraid both happens, actually :-D sometimes "secret_key" is shown, having the wrong content which seems to be caused by my chrome autopassword fill (and then I can't change it in the yaml view - it just stays the same). And sometimes it's not there at all. I'm trying to create a reproducable scenario here and after that I'll file another issue like @loganhz suggested as that would b

[2019-03-30 10:49] proligde commented on #19267
@materemias I'm dealing with that problem since yesterday and by now I have a slight feeling it might be because of my LastPass plugin interfering. Do you use LastPass as well? If so - try deactivating it, and tell me if that helps.

[2019-03-30 11:19] panho66 commented on #19189
Rancher v2.2.1 add 3 nodes to custom cluster . It is slow than previous version, 2,1, 2.2apha6 causing my script to time out but eventually node added.
![image](https://user-images.githubusercontent.com/15118220/55275397-933cfe00-5339-11e9-8763-d419ac0a86e2.png)
![image](https://user-images.githubusercontent.com/15118220/55275399-9fc15680-5339-11e9-9fab-5feff2bdda59.png)
![image](https://user-imag

[2019-03-30 11:57] kapolos commented on #19218
@thxCode Nice catch! There's a ton of errors like this:

`E0330 11:37:40.532953 1 reflector.go:134] github.com/coreos/prometheus-operator/pkg/prometheus/operator.go:404: Failed to list *v1.Prometheus: v1.PrometheusList.Items: []*v1.Prometheus: v1.Prometheus.Spec: v1.PrometheusSpec.NodeSelector: ReadString: expects " or n, but found t, error found in #10 byte of ...|e/horse":true},"paus|..., bigger

[2019-03-30 12:36] thxCode commented on #19218
@kapolos , I think `NodeSelector` should accept any kinds of character except `;` as the label name, so it's still a bug.

The last error log about accessing Alertmanager is fine, as you don't enable Rancher Alerting at first.

[2019-03-30 12:40] XzenTorXz commented on #16605
@daxmc99 one was one of our own app and the other was longhorn (Version 0.3.0 or 0.3.1)

[2019-03-30 12:53] materemias commented on #19267
@proligde I do use LastPass as well but these seem not to be correlated. I have tried in a guest window and in different browsers and I can reproduce the issue.

[2019-03-30 12:58] materemias commented on #19209
@thxCode the issue is that monitor-operator doesn't event get deployed, only these:
![image](https://user-images.githubusercontent.com/529994/55276399-a927d000-52f3-11e9-8649-48d0358d3e1d.png)
I did not drop it during enabling cluster monitoring, I disabled cluster monitoring and since it had some leftover I deleted the namespace. Now I cannot get it up and running again.

[2019-03-30 13:01] kapolos commented on #19218
@thxCode I increased the memory limit from 500MB to 2GB and now Prometheus doesn't die. It seems it really needed more (great work with the metrics integration in the UI btw!):

![image](https://user-images.githubusercontent.com/10794126/55276443-78986400-52fc-11e9-9cc6-7e44ab8da217.png)

[2019-03-30 14:14] thxCode commented on #19209
@materemias , Yes, I know you just want to clean up the scene. I'm going to explain those leftover. The following matrix shows the relationships for Monitoring/Alerting Apps.

| Rancher Tool | Functional App | Manage App |
|---|---|---|
| Cluster Monitoring | `System` Project / `cluster-monitoring` App | `System` Project / `monitoring-operator` App |
| Project Monitoring | Pre Project / `project-m

[2019-03-30 15:39] materemias commented on #19209
And is there a way I can get monitoring-operator back for now? (It is not listed under apps)

[2019-03-30 19:01] yusufmendes commented on #16074
@thxCode  @superseb do you intend to solve this problem in version v2.3.Would you please resolve this problem in version 2.2.x.I have to finish my task (linux+windows hybrid cluster on kubernetes) in 10 day.What is your roadmap about v2.3

[2019-03-30 20:12] materemias commented on #19209
@thxCode I have disabled all monitoring and inactivated all alerting in the cluster which is affected and tried to start over as you suggested but when I enable cluster monitoring I end up with the same.
Rancher logs show this error
[code]

[2019-03-31 00:57] MightyDjinn commented on #19273
I saw this error as well, but for us it turned out to be a blip in dns resolution.

[2019-03-31 02:14] lizhiyong2000 commented on #15215
Today this problem came to me again, and finally I found where the problem came from, It was because that the namespace system doesn't belong to the project system, after  moving the system namespace to the project system, the workloads showed.

[2019-03-31 06:46] thanhtungka91 commented on #19247
@mrajashree  it happens all apps, in this case i try to install `Ambassador` app.
![Screen Shot 2019-03-31 at 15 45 39](https://user-images.githubusercontent.com/3795067/55285718-1870f300-53cc-11e9-960d-142b16150071.png)

[2019-03-31 07:21] #17421 closed

[2019-03-31 10:33] Joeasaurus commented on #18639
I really hoped this wasn't the case :( If you scope the api key, you can't login with it? How does that work?

[2019-03-31 12:15] pensiero commented on #17269
Confirmed, it works smoothly (without any workaround) with `v2.2.1` (didn't try with `v2.2.0`)

[2019-03-31 12:16] pensiero commented on #16624
Confirmed, it works smoothly (without any workaround) with `v2.2.1` (didn't try with `v2.2.0`)

[2019-03-31 12:54] aleksey005 opened #19281 "Slow load UI in Rancher 2.2.1"
Hello,

Rancher 2.2.1 UI not load in Default project, in System project UI load fast (use nginx reverse proxy for SSL certs). Through the rancher-cli polling and operations take place quickly, but through the graphical UI cannot open the project Default.

Provider: Custom
Version: v1.13.5
Nodes: 4

![slow_load_rancher_2 2 1](https://user-images.githubusercontent.com/6145279/55289234-5706ad80-53cc-

[2019-03-31 13:23] superseb commented on #19281
See https://github.com/rancher/rancher/issues/16605 and https://github.com/rancher/rancher/pull/19228

[2019-03-31 13:23] #19281 closed

[2019-03-31 13:52] spirilis opened #19283 "Workloads UI shows nodeport link ONLY with services bearing 1 label selector"
Upon creating a deployment, Rancher UI will show an associated nodeport under the pod name (e.g. 30880/tcp) as a link to access the service.  This is fine but, it only works if the nodeport service's selector includes 1 label.  If the nodeport selector includes 2 labels, Rancher UI fails to print the "30880/tcp" under the deployment name in the "Workloads > Workloads" UI view.

E.g., for my "websi

[2019-03-31 18:16] vincent99 commented on #19283
The UI reads an annotation that the API sets describing the ports if you create a workload through it.

It does not read workloads and services, parse selectors and correlate them, so it doesn't care how many there are.  If you create things directly in kubectl/API, they don't have the annotation.

[2019-03-31 20:03] tmedford commented on #15145
@casz  Do you know if the rancher provider works with v2 rancher?

[2019-03-31 22:37] mrajashree commented on #19247
@thanhtungka91 This looks like you're creating a Multi-Cluster App. Is that what you wanted? If yes, then you need to select the 'Cluster' permissions option in the Roles section of the form in your screenshot.
If you didn't want a Multi-Cluster App and just wanted to deploy an app in a particular project, then you need to navigate to that project and then go on **Catalog Apps** section as describ

[2019-03-31 22:41] mrajashree commented on #19206
@laoshancun From your previous comments, you're able to view all templates am I right? The only issue was the error in the logs? Can you confirm if those errors keep showing repeatedly or you saw them only initially?

[2019-03-31 22:49] mrajashree commented on #19279
@fgeorgatos With container crash you are referring to this CatalogController error right? Your chart name from this catalog seems to be ending with a `-` and not an alphanumeric character as seen in the error log `renku-helm-charts-renku-notebooks-0.2.1-gputest-`, is that right? That should be changed

[2019-04-01 00:18] loganhz commented on #19201
![image](https://user-images.githubusercontent.com/21168270/55297210-82ce7580-5456-11e9-971e-8058edb2d9bf.png)

@pengjiang80 reproduced this issue in a setup upgraded from RC release.

The schema of rancherKubernetesEngineConfig is broken. A lot of fields are missing in the setup

[2019-04-01 00:56] vincent927 commented on #19263
I seem to find the reason, because this image pull strategy is “always” TKS a lot @jiaqiluo

[2019-04-01 00:56] #19263 closed

[2019-04-01 01:30] spirilis commented on #19283
I guess this surprises me a bit because, I have been able to produce workloads directly via the kubectl/API and Rancher did include the nodeport link in the workload UI.

[2019-04-01 01:34] loganhz commented on #19201
@orangedeng confirmed it only happens if rancher upgraded from a RC version.

[2019-04-01 01:47] laoshancun commented on #19206
I can see all templates,but `cluster-monitoring` still stuck with installing.
![image](https://user-images.githubusercontent.com/4952748/55298881-c4651d80-5462-11e9-8c3f-8ae553310063.png)

[code]

[2019-04-01 02:41] happydenn opened #19285 "Rancher UI always shows current time for "Created" for clusters"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Click on any cluster
2. Switch to "Cluster" tab

**Result:**
On the second row of the cluster information, `Created` always shows the current time instead of cluster's creation time.

**Other details that may be helpful:**
This is happening for all the cl

[2019-04-01 03:16] rootwuj commented on #19272
@cjellick @loganhz

Tested with Rancher v2.2.0 and gitlab-ee 11.9.1-ee.0
Step:
Fresh install of rancher server version - 2.2.0
Configuring pipeline with private gitlab.
Enable repo and edit a simple config.
Run the pipeline.

The pipeline runs successfully.

[2019-04-01 03:19] thxCode commented on #19278
https://github.com/rancher/rancher/pull/19259 will provide a new way to update the Monitoring enabling status.

[2019-04-01 03:34] ruyingzhe commented on #17617
I have the same issue with v2.1.2, so I track the code and update the HandshakeTimeout from 5 to 20, PingWaitDuration from 10 to 20 in remotedialer package, after change these, my cluster will not see the i/o timeout log anymore.

[2019-04-01 03:47] vincent99 commented on #17196
Duplicate of #1411

[2019-04-01 03:47] #17196 closed

[2019-04-01 03:56] vincent99 commented on #10053
@cachaladora The actual authentication flow is a [small portion of the work](https://github.com/rancher/rancher/issues/1317#issuecomment-239398843) required to properly support a provider.  And everything sounds easy when you're telling someone else they should be doing it.

[2019-04-01 04:41] jambajaar opened #19286 "Supported method to inject a custom fluentd configuration"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement Request

Request a supported solution from Rancher to drop logs generated by the fluentd containers or even better, a supported method to inject a custom fluentd configuration.

Rancher version:
v2.1.3

[2019-04-01 05:03] Hitesh-Agrawal commented on #16050
Is this workaround implemented in future rancher releases like 2.1.7 and 2.2

[2019-04-01 05:06] jepp2078 commented on #15145
@tmedford it's for v2.

[2019-04-01 05:15] loganhz opened #19287 "Cannot add node template for AWS China regions"
rancher/rancher:v2.2.1

The same API key works well in v2.1.8

Steps:

1. Create a AWS node template
2. Select `cn-north-1` or `cn-northwest-1`
3. input key and secret
4. Click `Create`

Results:

UI shows `AuthFailure: AWS was not able to validate the provided access credentials`.

![image](https://user-images.githubusercontent.com/21168270/55304740-8f1af880-547f-11e9-9f23-50b343b12191.png)

[2019-04-01 05:46] loganhz commented on #19287
The root cause might be https://github.com/rancher/rancher/blob/master/pkg/httpproxy/sign.go#L103

It says `//format : service.region.amazonaws.com`

But for the format is `service.region.amazonaws.com.cn` for China regions.

[2019-04-01 05:56] sunny0826 opened #19288 "v2.2.1 can not edit Memory Reservation & CPU Reservation in prometheus-cluster-monitoring"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
 global->cluster->System->prometheus-cluster-monitoring->edit->upgrade->Security & Host Config

I change the Memory Reservation & CPU Reservation to 500MiB,but when the update is over, it changes back.
--

**Result:**
This could be a bug！

**Other details th

[2019-04-01 07:10] insekticid commented on #18784
+1

[2019-04-01 07:23] thanhtungka91 commented on #19247
@mrajashree thank you the help, you can close the issue!!!

[2019-04-01 07:23] #19247 closed

[2019-04-01 08:00] danielbjornadal opened #19289 "Service Discovery Links Not Updating"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
After upgrading to rancher 2.2, DNS Service Discovery links are not created or updated.
`Add Record` in `Service Discovery` that points to a `Workload`
[code]

**Result:**
Logs are spammed with:
[code]

**Other details that may be helpful:**
Worked fine befo

[2019-04-01 08:00] orangedeng commented on #19201
@loganhz @cjellick Can we move it out of v2.2.2, I don't think we should support upgrade rancher from a RC version to a formal version.

The root cause is that, we have a `rancherKubernetesEngineConfig` dynamic schema in early RC build and we won't have it any more in 2.2.0.

[2019-04-01 08:23] proligde commented on #19267
@materemias you're right. Sorry for pointing you in the wrong direction. I recreated the template without Lastpass activated and the first upgrade after that worked so I assumed this was correlated because I had in fact a problem with lastpass passing a password to a field I've manually entered another string in but yeah - it's not correlated.

[2019-04-01 08:44] youssefbouzaine commented on #19237
I have the same issue any help ??

[2019-04-01 08:46] fabouya commented on #19237
Hello,
last version of image working with Openstack Cinder volume is rancher/rancher:v2.1.6.

[2019-04-01 09:07] mohapma commented on #19262
I have installed 2 node, both are master, etcd, worker.

[2019-04-01 09:07] Maxwell1987 commented on #19201
@loganhz It’s true that I have upgraded to the RC4 version before, then I returned to the release version, and then upgraded to 2.1.6. How to fix the problem of `rancherKubernetesEngineConfig` schema?

[2019-04-01 09:21] cachaldora commented on #10053
@vincent99 you already have support to oauth2 in your github provider, so I’m telling that it’s easy because you already have it. If you duplicate github provider and add some customization fields you will get a generic oauth2 provider. It’s not like build a new controller from scratch. Anyway, there is many people requesting this feature and there is people also request an alternative way of auth

[2019-04-01 09:26] jasiek commented on #10053
I am confident this would come into fruition if there was a bounty attached to this ticket. Perhaps this is the right way of making this happen?

I'll chip in £100. Who else wishes to contribute?

[2019-04-01 09:57] hwasp commented on #19238
Hello,

I have two rancher installations:

1) 2.1.6 in single node on OpenStack. Node port works well and I see the following annotation on the yaml deployment (field.cattle.io/publicEndpoints):

piVersion: apps/v1beta2
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    field.cattle.io/publicEndpoints: '[{"addresses":["192.168.0.11"],"port":30001,"protocol":"T

[2019-04-01 10:22] janeczku commented on #19207
@Redbierbaron Your steps to reproduce do not include creating a service resource of type `LoadBalancer`. Are you expecting a load balancer to be implicitly provisioned when creating a new cluster using the Openstack provider?

[2019-04-01 10:31] janeczku commented on #19207
@Redbierbaron Can you follow this example to verify that the provisioning of Openstack load balancer works in your environment? https://github.com/kubernetes/cloud-provider-openstack/tree/master/examples/loadbalancers#internal-http-loadbalancer

[2019-04-01 11:19] aleksey005 commented on #14322
Hello, my problem in Racnher 2.2.1 - not work UI.

This cluster is currently Updating; areas that interact directly with it will not be available until the API is ready.

Snapshots not restore. When I did the update, when copying the backup, I saw how many html files there.

Can anyone give a rosary a set of commands how to clean etc from helm catalogs garbage?
The cluster does not work, it is not

[2019-04-01 11:45] huangyanhong commented on #13293
rancher 2.20 have the same questions

[2019-04-01 12:49] pseckd opened #19290 "[Windows] Failed to connect to proxy: Error response from daemon: invalid volume specification: 'c:\etc\cni:c:\cni'"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
add or upgrade Windows Node with the agent

**Result:**
Failed to connect to proxy: Error response from daemon: invalid volume specification: 'c:\etc\cni:c:\cni'

**Other details that may be helpful:**
Release 2.2.1 with Agent 2.2.1-nanoserver-1803

**Enviro

[2019-04-01 13:08] Redbierbaron commented on #19207
I followed the instructions on https://rancher.com/docs/rke/v0.1.x/en/config-options/cloud-providers/openstack/ . After that, i expected a new loadbalancer after creating a new cluster in Rancher via Openstack Cloud-Provider.

[2019-04-01 13:30] Redbierbaron commented on #19207
As i understand your link, it creates K8s ressources in my cluster (service and deplyoment) but i want to create and configure Openstack ressources (Loadbalancer) because DNS terminates there.

[2019-04-01 13:40] ludopaquet opened #19291 "[Feature request] : dedicated nodes per project"
**What kind of request is this (question/bug/enhancement/feature request):**

feature request

Hi,

Trying to migrate from Rancher1 to Rancher2, I'd like to avoid creating a cluster per group of virtualmachines (cause in my company we have a set of machines per team).

I think it could be great to have dedicated nodes per project like Environnement in 1.6.
It could use under the hood some taints o

[2019-04-01 14:03] thxCode opened #19292 "Monitoring - should use ClusterIP to query metric expressions"
For now, Monitoring queries metrics expressions by`prometheus-operated` Service, this will increase the pressure on the DNS service within the cluster and can cause `kube-dns` component to crash.

We should replace the Service accessing by ClusterIP.

For the test, don't introduce regression testing, only verify that the main UI can view the Monitoring charts or not.

[2019-04-01 14:05] riaan53 opened #19293 "Cluster view still display all nodes as healthy even if one node reports disk pressure"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a 3 node cluster via RKE v0.2.0
2. Install Rancher HA via helm
3. `sudo fallocate -l 50G file` where 50G is bigger that current disk
4. Note nodes and cluster view

**Result:**
![Screenshot 2019-04-01 at 15 43 29](https://user-images.githubusercont

[2019-04-01 14:16] Woklet commented on #15311
@gitlawr Perhaps I'm missing something but this still doesn't seem to solve my issue. Jenkins still doesn't work with the proxy and throws out errors if I check the jenkins workload log:

`WARNING: Failed to connect to Kubernetes at https://kubernetes.default: http://{proxy address}: Name or service not known`

I've tried various values for {proxy address} including the internal k8s address for a

[2019-04-01 14:23] gabrielcalderon commented on #15311
@Woklet Nope, I even try setting the Java proxy environment variables in the Jenkins pod. I gave uo on using the pipelines features and went back to handling CI/CD from Gitlab-CI.

I did notice the jenkins-pipeline-slave workload tries to resolve DNS using kube-dns which fails causes it tries using /etc/resolv.conf instead of using the proxy.

[2019-04-01 14:36] superseb commented on #19293
Merging into https://github.com/rancher/rancher/issues/14017

[2019-04-01 14:36] #19293 closed

[2019-04-01 14:41] guglez commented on #12821
Any workarounds available?

[2019-04-01 14:41] rootwuj opened #19294 "Some problems with Alibaba ACK cluster"
Rancher Version: v2.2.1

**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Create alibaba ACK cluster - `cluster1`
Create alibaba ACK managed kubernetes cluster - `cluster2`

**Problem:**
1. The dashboard red alert `scheduler` and `controller-manager` are unhealthy in cluster2.
<img width="1359" alt="2-01"

[2019-04-01 15:34] hwasp commented on #19238
Just installed a fresh HA cluster with stable version (2.1.8), and NodePort works smoothly.

[2019-04-01 15:37] hwasp commented on #13112
Hi,

I am facing similar issue in 2.1.8. I have a datastore inside a folder with spaces and it is not able to find it. If I move the datastore to the root (no spaces) it works. I have tried in 2.2.0 and it work smoothly. Could you please confirm if you have fixed that in 2.1.8?

[2019-04-01 15:44] sangeethah commented on #18994
@soumyalj As part of certifying  RHEL 7.6 for 2.0.x and 2.1.x  , we need to validated the following configurations:

Rancher server version - v2.0.13
1. RHEL 7.6 with native docker (SE linux enabled)
2. RHEL 7.6 with upstream docker 18.09 (SE linux not enabled)

Rancher server version - v2.1.8
1. RHEL 7.6 with native docker (SE linux enabled)
2. RHEL 7.6 with upstream docker 18.09 (SE linux not en

[2019-04-01 15:51] junkiebev commented on #16605
This was happening to me as well - the problem seemed to be the new (rancher v2.2.0) monitoring capability blowing up. Removing the feature and running this command fixed the problem:
`kubectl delete ConfigMap --namespace=cattle-prometheus $(kubectl get ConfigMap --namespace=cattle-prometheus | grep cluster-monitoring.v | cut -d' ' -f1)`

[2019-04-01 16:07] cjellick commented on #19291
What is your need/motivation for hosts per project (beyond it just being how 1.6 behaved)?

[2019-04-01 16:25] alena1108 commented on #19289
@sangeethah can you try to reproduce the issue

[2019-04-01 16:29] alena1108 commented on #19288
@sunny0826 What is the reason you are trying to modify the prometheus default parameters? Changing monitoring cpu/memory reservation is not advisable as the default amount defines what is needed to run monitoring successfully.

@loganhz as Prometheus gets deployed from the catalog, I assume app controller logic would always restore the app to the params defined in the template. Can you confirm.

[2019-04-01 16:29] cjellick commented on #19017
This would ease airgap installation.

[2019-04-01 16:32] alena1108 commented on #19280
@panho66 there was no need to bump up rke to v0.2.1 for rancher v2.2.1. We only vendor in new rke version when there are rke code changes. And the only diff between rke v0.2.0 and v0.2.1 is the rancher/types vendor update, and that update got to rancher 2.2.1 independently.

[2019-04-01 16:32] #19280 closed

[2019-04-01 16:39] vincent99 commented on #19291
It's really the opposite of how 1.x behaved, each environment was a dedicated cluster and there was no way to share physical resources between them.

2.x separates out the clusters of physical resources and the RBAC of who is allowed to use them.  So you can have multiple projects sharing one, or if you don't want sharing, make one cluster per project.

I imagine the real concern is you want "dedi

[2019-04-01 16:47] cjellick commented on #18948
My guess is simply that through some other situation, the v1.12 cluster does not have a permissive PSP in in it. If you do `kubectl get psp` in the 1.12 cluster, what all is listed?

[2019-04-01 16:52] cjellick commented on #18948
Rancher only deletes PSPs when the PSP Template that exists in the Rancher Global level is deleted and even then only if no projects are referncing it in the cluster.
So, a few things could have got you into this situation:
1. You currently have or previously had at least 1 project in the cluster referencing the permissive PSP.
2. Outside of Rancher, someone created a permissive PSP in the cluster

[2019-04-01 16:54] cjellick commented on #19114
@daxmc99 one thing im interested in is if there is any way to recover, beyond what @davidnuzik tried

[2019-04-01 16:56] ludopaquet commented on #19291
Yes you're right, I don't want to instantiate at least 5 or 6 machines to have a dedicated environnement like we had in 1.6.
Regarding the question of @cjellick, it's a matter of billing (easier when each team has their own nodes) + isolation (don't want that a faulty container of a team A impacts team B)

For now I will try to play with the taint mecanism and force team to add it within their wor

[2019-04-01 16:56] bmdepesa commented on #19200
rancher/rancher:v2.2.0
rancher/rancher:v2.1.7

I was able to reproduce this in both v2.2.0 & v2.1.7

* Created RKE cluster - 3 nodes, all roles
* Installed Rancher via helm
* Updated local cluster via rke - changing one node to have only `worker` role
* Cluster updates
* `etcd` role is removed
* `Control Plane` is still present
* kubectl get nodes shows the correct labels

[code]

![Screen Shot 20

[2019-04-01 17:00] cjellick commented on #19200
moving out of v2.2.2

[2019-04-01 17:17] sowmyav27 commented on #19201
Tried to reproduce on an upgrade from `v2.1.6` to `v2.2.0`.
Steps taken:
1. On rancher v2.1.6 created a cluster with 3 nodes(all roles) type - hosted-Amazon EC2.
2. Upgraded to `rancher:v2.2.0`.

No error observed. The cluster was in `Unavailable` state and transitioned into `Active` state in few seconds.

[2019-04-01 17:21] cjellick commented on #19271
@loganhz your belief is that this is caused by port 9796 not being open on the hosts and that updating the documentation to call out this port should be a sufficient fix?

[2019-04-01 17:26] alena1108 commented on #19201
@Maxwell1987 upgrading between RCs is not something Rancher supports. There are multiple things that could go wrong.

Did you rollback to the previously taken etcd snapshot too? Thats the recommended upgrade procedure. If you restore to the etcd of the officially supported rancher version, then the upgrade to 2.2 should work.

Closing as a duplicate of:
https://github.com/rancher/rancher/issues/18

[2019-04-01 17:26] #19201 closed

[2019-04-01 17:35] #19286 closed

[2019-04-01 17:36] mrajashree commented on #19206
@laoshancun Can you exec into your rancher server container and run `kubectl get catalogtemplateversions system-library-rancher-monitoring-0.0.2 -n cattle-global-data` and share the output

[2019-04-01 17:37] deniseschannon commented on #19286
It was listed as "advanced mode" internally in engineering: https://github.com/rancher/rancher/issues/15558

[2019-04-01 17:38] cjellick commented on #19202
@dnauck do you know what version of Rancher you have upgrade through?

[2019-04-01 17:44] sowmyav27 commented on #19273
tried to reproduce this issue.
Verified on an upgrade setup from `v2.1.6` to `v2.2.1`.
Steps taken:
1. On rancher v2.1.6, a HA setup, created a cluster with 3 nodes(all roles) type - hosted-Amazon EC2.
2. Upgraded to rancher:v2.2.1.

Observations:
1. Cluster went to `Unavailable` state.
2. It changed to `Provisioning` state with the below error message. This was for a couple of seconds.
<img width

[2019-04-01 17:50] aleksey005 opened #19296 "EtcdBackup.management.cattle.io "------" not found"
Rancher 2.2.1
4 node baremetall

Error after restore snapshot
EtcdBackup.management.cattle.io "c-25d48/c-25d48-rs-x5mhc" not found

![image](https://user-images.githubusercontent.com/6145279/55348284-8cd88e80-54bf-11e9-8819-baaa7d89dd17.png)
Cluster is now in update status all the time.

Edit and Save cluster not work
![image](https://user-images.githubusercontent.com/6145279/55348451-e5a82700-54b

[2019-04-01 17:54] westlywright commented on #19101
@davidnuzik can you retest in the lastest version of FF (version 66 if im not mistaken), I attempted to repro this in stable, dev version and nightly without success.

[2019-04-01 17:57] dnauck commented on #19202
@cjellick i upgraded from v2.1.7 to v2.2.0 - or do you want to know sth. else?

[2019-04-01 17:59] dramich commented on #19202
The error message is coming from [here](https://github.com/rancher/rancher/blob/94beacf49092cc8e3c14242d1af8fe3a120ce653/pkg/auth/providers/common/password.go#L54) which didn't exist in 2.1.7. It was added in [this](https://github.com/rancher/rancher/commit/f370381f1c43b2b2a9cb9925a78c0156c3521e13#diff-af55677ca7a7d590dd2623b2f3bca1f0) PR.

[2019-04-01 18:00] westlywright opened #19298 "UI Form Required Input's Refactor"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
Required fields in Firefox are marked with a red box shadow but there is little consistency between UI required attributes on required fields.

**Result:**
Required fields should either have the required HTML 5 `required` attribute or `aria-required`

[2019-04-01 18:01] dnauck commented on #19202
@dramich sure, v2.1.7 runs well, after upgrade to v2.2.0 it does not

[2019-04-01 18:27] sangeethah commented on #19289
Tested the following scenario in a HA setup upgraded from 2.1.6 to 2.2.0.

In existing cluster,
Create a workload - `wkl1`.
Create a DNS Record - say - `test1-dns` by choosing "One or more workloads" option pointing to `wkl1`.
DNS resolution for `test1-dns`  works as expected. It resolves to all pods of the workloads it is pointing to as expected.

[code]
We do see these errors in kube-dns , but t

[2019-04-01 18:30] davidnuzik commented on #19058
Version: Master (4/1/19) ImageID: e59026e98f6e
I am not able to reproduce as well in the latest master. I tried a couple of different configurations: 1 node scale up to 2 then 3 with ALL ROLES, 1 master+CP node and 3 worker nodes.

In either case I was not able to reproduce on a fresh install.
Alert rule:
![image](https://user-images.githubusercontent.com/45179589/55350693-828fa380-5471-11e9-8717-

[2019-04-01 18:37] jiaqiluo commented on #19274
I cannot reproduce the issue on v2.2.0
Steps:
- run Rancher v2.2.0
- add an EKS cluster with all default settings
- enable the cluster-level monitoring

Result:
- the cluster-level monitoring works as expected
- docker stat is normal
[code]

[2019-04-01 18:55] dramich commented on #19202
@dnauck I am reaching out on user slack for some more info.

[2019-04-01 18:56] tfiduccia commented on #19058
@aiwantaozi - I wasn't able to reproduce with node alert, but I'm still getting two for pod alerts.  This for a DO cluster with 3 machines.  I set alert at cluster level.  It's a simple pod alert.
![image](https://user-images.githubusercontent.com/11514927/55352164-1616a380-5475-11e9-974d-79458d2e5063.png)

[2019-04-01 19:28] davidnuzik commented on #18733
This requires waiting for a fix for #14392 in v2.1.x
I cannot change the UI url in current v2.1.7 / v2.1.8 due to that issue (well, it submits but does not take effect due to the bug).
cc: fyi @cjellick

[2019-04-01 19:31] soumyalj opened #19299 "Custom cluster fails to come up with RHEL 7.6 nodes having upstream docker 18.09"
Rancher version : v2.0.13

K8s version: v1.11.9
Docker version : 18.09
OS : RHEL 7.6

Steps
1. Create a 3 node custom cluster with RHEL 7.6 nodes and upstream docker 18.09. Choose k8s version v1.11.9
N1 : All roles
N2: All roles
N3: All roles

One node gets registered. Other two nodes are stuck in registering state. Cluster shows as active.

Note: Cluster with RHEL 7.5 and upstream docker 18.09 wi

[2019-04-01 19:33] soumyalj commented on #18994
Rancher server version - v2.0.13

Tested RHEL 7.6 with upstream docker 18.09 (SE linux not enabled) - Fails
https://github.com/rancher/rancher/issues/19299

[2019-04-01 19:51] canhnt commented on #18948
The 1.12.x clusters and 1.13.4 cluster both have the same list of PSP we defined via rancher server. So `kubectl get psp` in these clusters return the same 4-5 PSPs.

[2019-04-01 20:02] mrajashree commented on #19206
Changing the name of this issue since the original issue no longer exits

[2019-04-01 20:04] davidnuzik opened #19300 "UI: Global Menu opens itself sometimes when switch clusters"
Version: v2.1.7, v2.2.0, and master 4/1/19 ImageID: bfcec653d832

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a digital ocean cluster, create an ec2 cluster
- Enable monitoring on ec2 cluster (makes browser take longer to refresh UI and switch clusters)
- On global menu click on digital ocean

[2019-04-01 20:25] davidnuzik commented on #19208
Testing note: Tested in v2.1.7 and cannot reproduce.

[2019-04-01 20:33] jiaqiluo commented on #19187
The issue is reproduced on Rancher v2.2.1
Steps:
- run Rancher v2.2.1 in single installed mode
- add an EC2 cluster with 4 nodes(1 etcd, 1 control plane, 2 workers) with Rancher-generated security group
- enable the cluster monitoring when the cluster is active

Result:
The same result as the issue describes.

[2019-04-01 20:35] mrajashree commented on #19206
@davidnuzik @laoshancun said the templates showed up without doing anything, and I thought you reproduced the error in logs.
I just now read your comment saying you refreshed it, could have been some UI delay since the templates do show up. I'll leave it up to you and @sangeethah to change the title or open a new issue for that

[2019-04-01 20:52] davidnuzik opened #19301 "No templates are listed after upgrade to 2.2 until Refresh is clicked"
Version: v2.1.7 -> v2.2.0 upgrade (HA or non-HA, happens in both)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- On v2.1.7 add a catalog: https://aliacs-k8s-ap-southeast-1.oss-ap-southeast-1.aliyuncs.com/app/charts-incubator/ (master branch)
- Upgrade to v2.2.0
- Try to launch a catalog app or multi-c

[2019-04-01 20:52] davidnuzik commented on #19206
Created issue #19301 to track the apps not showing up in catalog post upgrade (until you manually refresh catalog).

[2019-04-01 20:55] prachidamle commented on #19251
@Negashev does the record successfully get created in Cloudflare just with proxying disabled? Or it does not get created anytime?

Also some checks to do:
- Does your Cloudflare zone have proxying capabilities?
- If the DNS record is for a private IP, proxying won't be allowed

Also wanted to note this CloudFlare ticket: https://community.cloudflare.com/t/dns-update-error/2655

Note the comment fr

[2019-04-01 20:56] davidnuzik commented on #19249
@westlywright https://releases.rancher.com/ui/2.2.31/index.html doesn't seem to exist?

[2019-04-01 20:59] Negashev commented on #19251
@prachidamle Ues, record successfully created in Cloudflare with proxying disabled.

[2019-04-01 21:02] mrajashree commented on #19301
@davidnuzik Could we include a different catalog here, since this catalog's templates aren't named correctly...it's the same one that has uppercase characters causing the failure right?

[2019-04-01 21:04] prachidamle commented on #19251
@Negashev so does this mean maybe your Cloudflare zone does not have proxying capabilities? So you want all records to be created with cloudflare.proxied off?

[2019-04-01 21:08] Negashev commented on #19251
@prachidamle I want all records to be created with cloudflare.proxied off

[2019-04-01 21:09] prachidamle commented on #19251
@Negashev thanks, for my understanding: is this a requirement because "your Cloudflare zone does not have proxying capabilities"?

[2019-04-01 21:14] Negashev commented on #19251
@prachidamle No, it's because I don't want my traffic to go through a cloudflare proxy, I want my requests to go straight to my servers

[2019-04-01 21:21] alena1108 commented on #19274
@loganhz can you follow up with the user on forums to provide Rancher server logs as the crash was observed on the rancher management side.

[2019-04-01 21:34] prachidamle commented on #19251
@Negashev Question about this workaround you tried:
[code]

[2019-04-01 21:34] alena1108 commented on #19273
Closing as a duplicate of https://github.com/rancher/rancher/issues/19273

[2019-04-01 21:34] #19273 closed

[2019-04-01 21:37] alena1108 commented on #19272
@loganhz can you follow up with users on the rancher forums (linked in the first comment) to get the steps to reproduce?

[2019-04-01 21:44] bmdepesa commented on #19216
I am unable to reproduce.

* Deploy rancher server v2.1.7
* Create Azure cluster w/ cloud provider
* Attach Azure data disk to worker node
* Create PV
* Create workload in project with PVC
* *Upgrade to v2.2*
* Create workload in project
  * Added a new volume from new PVC
  * Added a new volume from existing PVC
* Edited existing workload
  * Added a new volume from new PVC
  * Added a new volume

[2019-04-01 21:45] alena1108 commented on #19216
@fwiedmann is your cluster an AKS cluster (Hosted Kubernetes provider), or do you just use Azure driver to provision the nodes?

[2019-04-01 21:47] alena1108 commented on #19186
@qbert have you ever tried provisioning AKS cluster on a previous versions - 2.0.x, 2.1.x? Or are you trying it for the first time on Rancher 2.2.2

[2019-04-01 21:47] davidnuzik opened #19302 "Get repeating alerts for pod that has been deleted"
Version: Master 4/1/19
v2.1.7 is NOT affected by this issue.

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a pod event rule. Repeat every 1 minute.
- Create a workload. You'll get an alert notification.
- After a while (a minute in my case) delete the workload. You will get an alert mentioning

[2019-04-01 21:48] westlywright commented on #19301
I don't think this should be a UI issue. Rancher should refresh the catalogs as part of the upgrade process.

[2019-04-01 21:51] dsargent3220 commented on #19271
Yes, that was the fix for us, we needed to open the port in the on host firewall.  That fixed it.  Sorry I didn't see the other ticket before opening this one, I did do a search but must have missed that one.

[2019-04-01 21:52] davidnuzik opened #19303 "Allow adding pod event rule that ignores system rancher pods"
Version: Master (4/1/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement Request

**Enhancement details:**
Today, when we create an alert rule for pod event, you will get messages for all pods including system pods. This can be very noisy. For example, when testing I set to repeat every 1 min. I get "spammed" in my slack with 30+ messages about pod events

[2019-04-01 21:57] Negashev commented on #19251
@prachidamle, No, I create one record and upgrade service with proxy=false and after one hour dns service rollback auto (I did not do it myself)

[2019-04-01 21:59] davidnuzik opened #19304 "Alerting refactoring"
Version: Master (4/1/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Set up a slack notifier
- Add a pod event rule that repeats every 1 min
- Create one scalable deployment of a workload. Do nothing with rancher and wait for 10+ mins.

**Result:**
You will get "spammed" with pod event notification

[2019-04-01 22:28] alena1108 commented on #19238
@hwasp

To make the test more conclusive, can you try installing Rancher HA on the same infra as a single node install (OpenStack)? Just to narrow it down to HA vs Standalone and OpenStack vs VmWare

[2019-04-01 22:38] loganhz commented on #19271
@cjellick Sure. I think we have that in the doc. I will add it if we don't have

[2019-04-01 22:39] loganhz commented on #19271
Close in favor of https://github.com/rancher/rancher/issues/19187 as @dsargent3220 confirmed it is the same issue

[2019-04-01 22:39] #19271 closed

[2019-04-01 23:06] davidnuzik commented on #19300
Also reproduced in v2.1.7 global menu.

[2019-04-01 23:07] loganhz commented on #19267
Close in favor of https://github.com/rancher/rancher/issues/19060

Let's move the talk to https://github.com/rancher/rancher/issues/19060

[2019-04-01 23:07] #19267 closed

[2019-04-01 23:13] soumyalj opened #19305 "Custom cluster creation stuck in updating state with RHEL 7.6 nodes and native docker"
Rancher version : v2.1.8

K8s version: v1.13.5
Docker version : native docker 1.13.1
OS : RHEL 7.6

Steps

1. Create a 3 node custom cluster with RHEL 7.6 nodes and native docker 1.13.1, selinux enabled. Choose k8s version v1.13.5.

N1 : All roles
N2: All roles
N3: All roles

Note: The nodes were added one after another (around 10s apart)

Cluster is stuck in "Updating State"

One node gets regist

[2019-04-01 23:16] davidnuzik commented on #19302
Reproduced in v2.1.7

v2.1.7, set up alert rule for normal pod event to notify, repeat every 1 min.
Instantly get 4 messages of same thing:
[code]
Scale up my nginx workload and get same message - just repeats forever and is not for my pod -- this is just not working in v2.1.7
[code]

But I did get repeats. Basically 2 of the same thing.
I deleted my nginx workload and still get alerts with these

[2019-04-01 23:28] alena1108 commented on #19039
- [ ] add new k8s version to types.
- [ ] fix any issues that might come up when launching 1.14 k8s cluster
- [ ] see what addons need to be updated (dns, ingress controller, etc)

[2019-04-01 23:30] sangeethah commented on #18994
Rancher server version - v2.1.8 - RHEL 7.6 nodes and native docker 1.13.1 (SE linux enabled) on v1.13.5  failed - https://github.com/rancher/rancher/issues/19305

[2019-04-01 23:34] davidnuzik commented on #19302
Version: v2.1.7
I don't believe this happens in v2.1.7. I just keep getting repeat messages with the following forever, but not for my pod that I deleted.

[code]

[2019-04-01 23:39] soumyalj commented on #18994
Rancher server version - v2.0.13

RHEL 7.6 with native docker (SE linux enabled)  with docker 1.13.1 - Automation tests in progress
RHEL 7.6 with upstream docker 18.09 (SE linux not enabled) K8s 1.11.9- Pass

Rancher server version - v2.1.8

RHEL 7.6 with native docker (SE linux enabled) K8s 1.13.5- Fail
RHEL 7.6 with upstream docker 18.09 (SE linux not enabled) k8s 1.13.5 - Automation tests in pr

[2019-04-01 23:45] davidnuzik commented on #19301
Note, this is NOT reproducible in a test done with v2.1.7 -> v2.1.8 upgrade. This is a new issue.

[2019-04-02 00:02] davidnuzik commented on #19301
This issue happens regardless if HA or non-HA. Also, I tested again with a chart that does not have the aliyun issues and still reproduced.

[2019-04-02 00:23] alena1108 commented on #19300
Moving to 2.3 as the issue existed in 2.1.x

[2019-04-02 01:07] sunny0826 commented on #19288
Because the Pod of **prometheus-cluster-monitoring** always unavailable ! It restarted 419 times in 16 hours ！Our cluster is not very large ,that has only 20 nodes, 146 CPUs and 293M memory .I can only make him work by changing his configuration.But this doesn't work.

[2019-04-02 01:11] sunny0826 commented on #19288
I try to change the value of helm charts that ***cluster-monitoring***. But it doesn't work too.

[2019-04-02 02:10] aemneina commented on #16899
Reopening this ticket to track as a feature request.

[2019-04-02 02:12] sunny0826 commented on #19288
sometimes the Rancher will create new namespace like ***cattle-prometheus-p-zkxz6*** , I think this phenomenon is related to the restart.

[2019-04-02 02:15] bluemalkin commented on #16899
In our case we use AzureAD.

Since there's no way in Rancher v2.2.0 to assign an AzureAD group as Admin role, we need to login as admin local user and add Admin to the azureAD users, however without seeing the list of Users we cannot do this.

[2019-04-02 02:23] thxCode commented on #19278
@cjellick , @nloui , in fact, I cannot reproduce this, but I think this may cause by the Monitoring detection loop logic on Cluster CRD. In practice, UI just wants to know Prometheus is ready or not and it can be known in real time. So we separate the Prometheus detection logic into another loop by https://github.com/rancher/rancher/pull/19259.

[2019-04-02 02:31] loganhz commented on #19288
Where did you update the limit value? Can you provide the screenshot?

[2019-04-02 02:34] loganhz opened #19307 "Backport: Project edit view has missing name of AzureAD group added to it"
backport  https://github.com/rancher/rancher/issues/18425

[2019-04-02 02:35] loganhz commented on #19307
Available in master and ui tag 2.2.31

[2019-04-02 02:37] loganhz opened #19308 "Backport: Improve Dashboard Usability"
Backport https://github.com/rancher/rancher/issues/19249

[2019-04-02 02:37] thxCode commented on #19243
@axeal , Can we patch a record  `localhost 127.0.0.1` in host `/etc/resolv.conf` file?

[2019-04-02 03:00] loganhz opened #19309 "Backport: Rancher UI always shows current time for "Created" for clusters"
backport https://github.com/rancher/rancher/issues/19285

[2019-04-02 03:01] thxCode commented on #19269
@alena1108 , executing `docker pull rancher/hyperkube:v1.11.9-nanoserver-1803` on 1803 host, result as below:
![image](https://user-images.githubusercontent.com/3394724/55372973-3490a380-5536-11e9-855a-9e4cc69c8be2.png)

@fedeostrit , Can you try `docker pull rancher/hyperkube:v1.11.9-nanoserver-1803` on your Windows host? BTW, are you using Windows core 1803 or Windows 2016? You can feedback us s

[2019-04-02 03:13] loganhz opened #19310 "Backport: System chart is not presented as a catalog entry in Global/Tools/Catalog page."
backport: https://github.com/rancher/rancher/issues/19017

[2019-04-02 03:18] loganhz opened #19311 "Backport: Monitoring: Should not allow 1 node cluster with only 1vCPU to enable monitoring"
backport https://github.com/rancher/rancher/issues/19078

[2019-04-02 03:21] alena1108 opened #19312 "Backport: Cannot add node template for AWS China regions"
Backport https://github.com/rancher/rancher/issues/19287

[2019-04-02 03:22] loganhz opened #19313 "Backport: [Pipeline] Publishing catalog template fails with certificate error"
backport https://github.com/rancher/rancher/issues/19220

[2019-04-02 03:22] alena1108 opened #19314 "Backport: Breaking change in Node Template after 2.2"
Backport https://github.com/rancher/rancher/issues/19219

[2019-04-02 03:26] loganhz opened #19316 "Backport: Monitoring is crippling the cluster (very high load avg), scraping at 3200 metrics/second"
backport: https://github.com/rancher/rancher/issues/19248

[2019-04-02 03:28] alena1108 commented on #19238
@sowmyav27 can you try vmWare on HA?

[2019-04-02 03:34] alena1108 commented on #19296
@aleksey005 is it 2.2.1 fresh install, or an upgraded setup? If upgraded, what version of Rancher have you upgraded from?

Can you also provide a Rancher log taken after you hit "Edit and Save" resulting in "Cluster spec conversion error"

[2019-04-02 03:44] thxCode commented on #19248
@riaan53 , this is a bug, we will fix it in next release. This will be reproduced only in `local` cluster, thank you for the detail report, cc @hpdvanwyk.

The high CPU load causes by an error resource modification race between `server` and `cluster-agent`.

Prometheus ingests 3200 metrics/s is fine, on next, we will do some optimization, like reducing the scraping rate for Kubernetes components,

[2019-04-02 03:44] gitlawr commented on #19272
I think the original threads are talking about [kubernetes integration in Gitlab](https://docs.gitlab.com/ee/user/project/clusters/index.html#adding-an-existing-kubernetes-cluster), not Rancher pipeline integrating with Gitlab. We should validate if there is any blocker issue for that.

[2019-04-02 03:44] biblesyme commented on #18679
I encountered the same problem.

## Environment
Operation System: CentOS Linux release 7.6.1810
Docker: 17.03.2-ce
Rancher:  v2.2.1
## Step to reproduce:

1.

[2019-04-02 03:50] loganhz commented on #19311
@davidnuzik Added as resolved as it is merged. But please verify it when we cut a RC release. We will add a `to-test` label when it is ready

[2019-04-02 03:59] thxCode commented on #19218
@kapolos , `NodeSelector` of `PrometheusSpec` types `map[string]string`, if we pass `mine/horse=true` pair into nodeSeelctor, we should translate the `true` to string like `mine/horse="true"`.  UI needs to explicitly pass in string, @loganhz .

[2019-04-02 04:11] aemneina commented on #16899
@bluemalkin the user account that's used to test/enable AzureAD becomes an Admin account capable of viewing user names and assign roles. Being a local admin is not a requirement here to carry out that task.

[2019-04-02 04:27] soumyalj commented on #19305
Custom cluster(3 node) did not come with RHEL nodes using Native docker (SELinux disabled)
Cluster was stuck in updating state. Only one node was registered and the other two nodes did not get registered.
[code]
 Logs below:
[code]

[2019-04-02 04:35] renperez commented on #14376
we are having the same issue when using ALB.
time="2019-04-02T04:28:31Z" level=error msg="Failed to connect to proxy" error="websocket: bad handshake"
time="2019-04-02T04:28:31Z" level=error msg="Failed to connect to proxy" error="websocket: bad handshake"

04/02 04:19:18 [INFO] Stopping cluster agent for c-rfvfd
2019/04/02 04:19:18 [INFO] Shutting down NamespaceController controller
2019/04/02 04

[2019-04-02 05:19] sunny0826 commented on #19288
![image](https://user-images.githubusercontent.com/24563928/55378013-f1403000-5549-11e9-9810-a72878ba56af.png)

[2019-04-02 05:20] loganhz commented on #19288
You need to update it in enable monitoring page.

[2019-04-02 05:21] sunny0826 commented on #19288
![image](https://user-images.githubusercontent.com/24563928/55378127-411ef700-554a-11e9-8346-3319221edca2.png)

[2019-04-02 05:23] loganhz commented on #19288
Currently, you cannot upgrade it here. Please update it in enable monitoring page. You can change the limit and click save there

[2019-04-02 05:29] sunny0826 commented on #19288
reinstall ?

[2019-04-02 05:37] loganhz commented on #19288
1. Go to Tools-> Monitoring
2. Update the cpu limit and memory limit
3. Click Save

[2019-04-02 05:41] gitlawr commented on #19214
@aliazlan4 Can you elaborate the failure message/info, the cluster/node size of your setup?

[2019-04-02 05:56] danielbjornadal commented on #19289
@sangeethah
DNS to `database` and `database-test` does not work.

All Workload Service Links that where created before the upgrade works.
All Workload Service links that are created after the upgrade does not work.
All Selector Service Links created after the upgrade works.

Before the upgrade, creating a new `workload`would automatically create a Workload Service Link to that Workload. This does

[2019-04-02 06:06] jjkoehorst commented on #13314
I keep running into this issue continuously. I have tried to delete rancher, delete docker, delete prune the nodes, even reinstalled the operating system but sometimes it works and sometimes it just keeps getting stuck at

[code]

Are there any permanent solutions known as this is really frustrating...

[2019-04-02 06:14] laoshancun commented on #19206
@mrajashree I have upgraded rancher to v2.2.1,it was not working too.
The resource type catalogtemplateversions does not exist.
[code]

[2019-04-02 06:31] aiwantaozi commented on #19058
Hi @tfiduccia Event is very special, you could check ``show more``` whether the message is different, if the message is different will send two alerts.

[2019-04-02 06:45] fwiedmann commented on #19216
@bmdepesa No you didnt miss any steps. We had the same setup.

[2019-04-02 06:48] fwiedmann commented on #19216
@alena1108 We provision our k8s-clusters with the Azure driver.

[2019-04-02 07:28] aleksey005 commented on #19296
@alena1108  upgrade from version 2.1.7 (all new release i upgrade correctly)

I am surprised and most likely I looked badly in the documentation, but did not find how to see the logs. Please tell me how to do it?

[2019-04-02 07:32] RRadziejewski opened #19319 "Global Role Edit"
Hello, I have a question.
I really need to add some custom global role into the rancher.
This can be empty without any privileges. I need that to indicate that something can be done. But I don't wanna use existing roles because every role is giving some privileges and I don't want to grant them to this particular "special" user.
Any ideas?

[2019-04-02 07:37] KuroObi opened #19320 "Orphaned pods on worker nodes"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug/Question

**Steps to reproduce (least amount of steps as possible):**
After a lot of restarting of workloads with pvc's the log message (see below) is seen ob the stderr stream in Worker nodes.

**Result:**
The kubelet log is filled with the following log messages
`Orphaned pod "xxxxxx-5136-11e9-838d-305a3a75de9d" fou

[2019-04-02 07:40] qbert commented on #19186
@alena1108
Not on a 2.x.x vesion. I tried Rancher on a 1.x version.

[2019-04-02 08:07] sunny0826 commented on #19288
I change the ***Cluster Monitoring Configuration*** , and successfully modified the configuration. I will see if it will restart.

[2019-04-02 08:09] loganhz commented on #19288
What's the limit now ? like 2GB?

[2019-04-02 08:10] sunny0826 commented on #19288
1 GB

[2019-04-02 08:15] wangqiongkaka opened #19322 "[Pipeline] Jenkins instance fails to be ready on hosts with over 32 cores"
Jenkins instance fails to be ready on hosts with over 32 cores

https://github.com/jenkinsci/docker/issues/702

[2019-04-02 08:21] dschuldt opened #19323 "Running behind Traefik reverse proxy - Failed to connect to proxy error: websocket: bad handshake"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

**Steps to reproduce (least amount of steps as possible):**
I'm not sure if this is a problem with Rancher, Traefik or any other network component within our company infrastructure (proxy, etc.). Any help is appreciated; thanks a lot in advance.

Importing an existing cluster into Rancher 2.2 running behind Trae

[2019-04-02 08:38] loganhz opened #19324 "Backport: Node selector for monitoring doesn't work in some case"
Backport https://github.com/rancher/rancher/issues/19218

[2019-04-02 09:35] azbpa commented on #19208
Can you share your `cluster.yml` so I could identify some differences to mine?

Further I noticed on the node section in Rancher UI that I can see both the IP addresses and the FQDNs of my RKE node(s):

`node01.domain.local  /  10.20.30.40`

When I deploy a custom cluster from Rancher UI I only see the IP addresses of the nodes.

Might this be relevant?

[2019-04-02 09:44] marcinpraczko commented on #9325
We are having Rancher version 1.6.16 and this is also visible:
Result from Host - which allowed expose the same PORT into two different containers

[code]

[2019-04-02 09:46] gitlawr commented on #19322
Confirmed in v2.2.1.
1. Add a single node custom cluster with 72 cores.
2. Run go example pipeline.
3. Jenkins logs `up and running` but curling `localhost:8080` inside the container gives no response.

[2019-04-02 09:48] gitlawr commented on #19322
Need to bump jenkins to 2.138.2+ to address this.
See: https://issues.jenkins-ci.org/browse/JENKINS-33412?focusedCommentId=352805&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-352805

[2019-04-02 10:17] rbq commented on #17294
This magically fixed itself during one of the last couple of updates.

[2019-04-02 10:18] rbq commented on #17294
This magically fixed itself during one of the last couple of updates.

[2019-04-02 10:18] #17294 closed

[2019-04-02 10:29] janeczku opened #19325 "Adding private registry in GUI prone to causing cluster creation issues"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
1. Click on Add Cluster
2. Select EC2 or other node driver
3. Enter Cluster name
4. Configure node pool
5. Click Show Advanced Options -> Private Registries
6. Click Add Private Registry
7. Enter URL and credentials for private registry where user ap

[2019-04-02 10:38] rbq commented on #19145
Prometheus doesn't seem to be the only workload with resource issues. On one of my three hosts the Pod deployed by the `exporter-node-cluster-monitoring` DaemonSet crashes every couple of hours when reaching 50 MiB.

<img width="764" alt="exporter-node-cluster-monitoring" src="https://user-images.githubusercontent.com/68766/55396428-2c3f6500-5544-11e9-8a9b-6e2e682615bc.png">

At the same time I fi

[2019-04-02 10:58] loganhz opened #19326 "Backport: UI: 2.2 - Prometheus error when installing Monitoring"
backport https://github.com/rancher/rancher/issues/19197

[2019-04-02 11:16] loganhz commented on #19060
@materemias  Still trying to find a solid way to do the converting.

If we can't find a solid solution, how about adding a popup warning when switching between the 2 modes?

[2019-04-02 11:31] Leen15 opened #19327 "ui-index is not updated to local when upgrade from Rancher 2.1.x HA setup"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- Try to enable fluentd logging on a imported cluster (created with RKE)
- Set endpoint with my fluentd instance (ex. XXX.XXX.XXX.XXX:24224)
- Set the shared key as the same of my fluentd instance

**Result:**
Test Button answers as "Settings validated"
Save

[2019-04-02 11:49] #19210 closed

[2019-04-02 11:50] nikk0 commented on #19210
found the solution here:  https://github.com/rancher/rancher/issues/11587

[2019-04-02 12:03] Redbierbaron commented on #19207
Ticket can be closed. I followed janeczku instructions to have a look at https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/expose-applications-using-loadbalancer-type-service.md

Rancher docu is a little bit misunderstanding, please update :-)

[2019-04-02 12:03] #19207 closed

[2019-04-02 12:17] materemias commented on #19060
It makes sense, at the same time yaml should be the default imho. answers just has no comparative benefits.

[2019-04-02 12:30] MSandro commented on #16703
I have a simular issue, I have a controller node which currently only has the ETCD and Control Plane roles and a worker node, but because I whant to deploy some containers on the controller node, I have to add the worker role, it seems to not work. I've tried to add the label, execute the command, and restarted the nodes, but nothing solved the issue. My custom cluster is not able to deploy a work

[2019-04-02 12:40] superseb commented on #19319
See https://github.com/rancher/rancher/issues/16216#issuecomment-434140610

[2019-04-02 12:40] #19319 closed

[2019-04-02 14:05] gitlawr commented on #19272
Validated in v2.2.1, I can configure Gitlab's kubernetes integration to Rancher managed clusters successfully.
If you are following this blog: https://rancher.com/blog/2018/2018-08-07-cicd-pipeline-k8s-autodevops-rancher-and-gitlab/, The overall workflow still works but a few tweaks are needed.
Takeaway notes are listed as follows:
1. To get K8S API endpoint, the `get_kubeconfig_custom_cluster_ran

[2019-04-02 14:15] mattmattox opened #19328 "EBS attachment limit"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Create a deployment to a single EC2 host uses more than 26 volumes using the storage-ebs driver.

**Result:**
After 26 ebs volumes are created. storage-ebs will start failing to attach new volumes to the server. At which point it will keep creating new ebs v

[2019-04-02 14:33] mattmattox commented on #19328
I believe the issue is located in the do_attach() function where it hits the unrecoverable error section. Currently it does a detach-volume only but it doesn't cleanup the new volume.

https://github.com/rancher/storage/blob/master/package/ebs/rancher-ebs

[2019-04-02 15:21] mrajashree commented on #19206
@laoshancun And how about this: `In this system project from your local cluster, can you go to Namespaces and see if cattle-global-data is created?`

Are you on rancher users slack channel? we could debug this faster there, couldn't find you by your Github username

[2019-04-02 15:40] mrajashree commented on #19301
In 2.2 we use the new CRD `catalogtemplates` in place of `templates`. These have to be created for the corresponding `templates` that were generated pre-upgrade. The CatalogController refresh method is triggered on server start and starts creating these. But it takes a few seconds to a minute for the catalogtemplates to start getting created.
This info level log "Starting catalog controller" indic

[2019-04-02 15:58] cjellick commented on #19323
did you remove the hostname from ` url="wss:///v3/connect"` or is that literally how it looks in your logs?

[2019-04-02 16:01] cjellick commented on #19304
@davidnuzik does it behave this way in 2.1?

[2019-04-02 16:04] thxCode commented on #19145
@rbq , is it a cfs_throttled CPU seconds? It seems the hight memory usage correlate to CPU throttling, maybe some goroutine leak. Can you install golang on that problematic host and dig out some information by:
[code]

[2019-04-02 16:05] westlywright commented on #19017
Available in master

[2019-04-02 16:12] cjellick commented on #18948
@canhnt should I close this issue then? Seems like we figured out what the root of the problem was then?

[2019-04-02 16:17] alena1108 opened #19330 "Backport: Custom node driver says active but template fields don't immediately show up"
Backport https://github.com/rancher/rancher/issues/19066

[2019-04-02 16:23] alena1108 commented on #19251
@prachidamle we should add this parameter to the cloudFlare config on the GlobalDNSProvider. Lets check what other params from CloudFlare and Route53 can be exposed.

[2019-04-02 16:30] alena1108 commented on #19301
As per @loganhz, Rancher templates UI is not events driven. It means when the new template gets created, you have to refresh the page (or hit Refresh) in order to fetch them.

[2019-04-02 17:03] vincent99 commented on #17496
This is in 2.2.

[2019-04-02 17:03] #17496 closed

[2019-04-02 17:08] jkuspa commented on #19274
@loganhz Thanks for trying this.  Here are the steps I took.
Let me know if I can get you anything else.

Setup:
`docker run -d --restart=unless-stopped --name rancher --hostname rancher -p 80:80 -p 443:443 rancher/rancher:latest`

- Validate server version:
https://localhost/v3/settings/server-version

[code]

Steps:

- add an EKS cluster with all default settings
- enable the cluster-level monit

[2019-04-02 17:10] davidnuzik commented on #19304
@cjellick it's similar but not quite the same. In v2.1.7 I just get one message forever:
[code]

[2019-04-02 17:16] vincent99 commented on #19301
Are there change events sent from the backend?

[2019-04-02 17:22] jkuspa commented on #19274
Not sure if this is related or not...
https://github.com/rancher/rancher/issues/16039#issuecomment-435501062

[2019-04-02 17:26] conet commented on #17617
Still seeing this in `2.2.1` this time, just to make sure that it's not the reverse proxy config I exposed rancher itself:
[code]

[2019-04-02 17:27] davidnuzik commented on #19249
(Waiting for RC to test with)

[2019-04-02 17:42] polivbr commented on #17913
Yes, please. I would love to use multi-cluster apps, but this is a showstopper for me.

[2019-04-02 17:47] fOO223Fr commented on #19252
@jiaqiluo this solution will flood your logs and if you have unlimited logs sooner or later your log file will be very big. this because although this solution removes it from foreground but in background kubelet is still trying to delete the orphaned object which it can't

[2019-04-02 17:47] loganhz commented on #19274
Hi @jkuspa could you provide more info, please?

when you do the `docker stats`, the CPU is always very high?
Can you try to deploy another app in Library catalog please?
How long does it take from you enable monitoring and Rancher is down?
What's the size of node in EKS and how many nodes in the EKS cluster?
Where is your rancher server running?

[2019-04-02 17:59] loganhz commented on #19145
@rbq could you try to increase the limit for node exporter, please?

[2019-04-02 18:01] jkuspa commented on #19274
Docker stats are only high once monitoring is enabled, here they are after the cluster is torn down.
[code]

Time from enabling monitoring to Rancher going down: Roughly 20 minutes.
Node Size: m4.large?
Node Count: 3
AWS Region: us-east-1
Rancher server: Running locally on a Macbook Pro
[code]

Deploy another app:
I'll try to do this later and post the results.

[2019-04-02 18:08] loganhz commented on #19274
We didn't test rancher server on macbook.
Could you try to run rancher server on ubuntu, please?
Thanks.

[2019-04-02 18:13] prachidamle commented on #19251
@Negashev the service rollsback periodically, because it is a system app that is managed by Rancher using a helm chart - what we will be doing to help here is exposing the parameters on the GlobalDNSProvider itself that should update the system app underneath.

[2019-04-02 18:25] phal0r opened #19331 "After upgrading rancher server and Kubernetes the rancher server became unstable"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
I was running the following setup:
- Rancher 2.1.0
- Kubernetes 1.11.3
- Longhorn 0.3.3

I updated the components in this chronological order:
- Rancher 2.1.0 > 2.2.1
- Longhorn 0.3.3 > 0.4.1
- Kubernetes 1.11.3 > 1.11.9

**Result:**
- The rancher server bec

[2019-04-02 18:26] phal0r commented on #19331
@yasker If you want to follow the issue

[2019-04-02 18:36] Negashev commented on #19251
@prachidamle Great, waiting for the update!

[2019-04-02 18:37] rbq commented on #19145
@loganhz Oh, yes, I did that earlier. Seems like it's been running without any restarts since then.

<img width="627" alt="metrics" src="https://user-images.githubusercontent.com/68766/55427170-b5778b80-5586-11e9-832e-4b935946b77a.png">

[2019-04-02 18:46] canhnt commented on #18948
Thanks for your support. I think the issue can be closed.

[2019-04-02 19:06] dschuldt commented on #19323
Problem solved.

Rancher 2 Server had a proxy configuration (env variables) which was incorrect.

[2019-04-02 19:06] #19323 closed

[2019-04-02 19:15] ekristen opened #19332 "Editing Cluster with Cluster Owner That Is Not the Creator is Broken"
**Note:** I looked for an issue already, but my searches didn't uncover anything like this that I could see.

**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. Create a cluster with user A, ideally using EC2 w/ node pools
2. Add User B as a cluster owner
3. Logout
4. Login as User B
5. Edit Cluster as U

[2019-04-02 19:19] ekristen opened #19333 "Support Global or Shared Node Templates"
**What kind of request is this (question/bug/enhancement/feature request):** feature request

It seems that node templates are scoped to a user, which can be problematic when you have multiple people that need to manage a cluster.

I would ask that there be a way to share node templates or make them globally available in some way so they are not limited to a user.

This would help prevent against

[2019-04-02 20:00] rbq commented on #19145
@thxCode Does collecting that information still make any sense, now that it runs relatively normal?

[2019-04-02 20:01] superseb commented on #19333
Duplicate of https://github.com/rancher/rancher/issues/12186

[2019-04-02 20:01] #19333 closed

[2019-04-02 20:03] superseb commented on #19332
See https://github.com/rancher/rancher/issues/12038

[2019-04-02 20:03] #19332 closed

[2019-04-02 20:25] davidnuzik commented on #19208
![Screen Shot 2019-04-02 at 1 23 43 PM](https://user-images.githubusercontent.com/45179589/55433671-ab379c00-554a-11e9-9130-a57426b974e6.png)

I just set up a simple 1 node cluster.yml with aws ec2 instance (t2.medium in my case)
[code]

What does your cluster.yml look like for your rke cluster? (Hide IP/DNS/sensitive info please)

[2019-04-02 20:26] davidnuzik commented on #19208
And my workload:
![image](https://user-images.githubusercontent.com/45179589/55433790-f3ef5500-554a-11e9-8295-4db7a9370f21.png)

[2019-04-02 20:38] ahmadalli commented on #18295
One of the reasons is that when you switch to project X it downloads every resources which might take some time. e.g. loading System project took a lot of time because it was downloading 51 Mb of configmaps

![image](https://user-images.githubusercontent.com/2167301/55434407-d05cf680-55ac-11e9-8718-b53e113ec8fd.png)

this behavior could be optimized by downloading the resources when we open them o

[2019-04-02 20:41] davidnuzik commented on #19101
@westlywright I do NOT repro in new version 66 of Firefox. Tested macOS, Windows, Linux (Debian Jessie) Closing issue; fixed in FF browser in version 66 and newer.

[2019-04-02 20:43] alena1108 opened #19335 "Backport: UI: validate cloud credential is present for node template"
Backport https://github.com/rancher/rancher/issues/19275

[2019-04-02 20:46] alena1108 opened #19336 "Backport: UI - No error message presented to the user when app deployment fails."
Backport https://github.com/rancher/rancher/issues/19236

[2019-04-02 20:47] alena1108 opened #19337 "Backport: Catalog App - need to click the launch button twice to get the app launched"
Backport https://github.com/rancher/rancher/issues/19168

[2019-04-02 20:50] alena1108 opened #19339 "Backport: Templated Repository URL for Git-based catalog URL is not showing rancher"
Backport https://github.com/rancher/rancher/issues/19215

[2019-04-02 21:51] cjellick commented on #19331
@phal0r it looks like rancher cannot communicate with your cluster `the server is currently unable to handle the request (get configmaps)`.

Is the cluster unavailable?

[2019-04-02 21:52] cjellick commented on #19331
was that cluster up and available before your upgrade?

[2019-04-02 22:06] cjellick commented on #19331
@phal0r dd you turn on monitoring or alerting in this cluster?

[2019-04-02 22:51] vincent99 commented on #19333
This is still coming eventually, having them at all separate from the template was the first step in 2.2.

[2019-04-02 23:08] westlywright commented on #19308
related PR: https://github.com/rancher/ui/pull/2824

[2019-04-02 23:30] renperez opened #19340 "unable to add a cluster after upgrading rancher"
Hey Guys,

Anyone know what is going on here? Just upgraded my rancher to 2.2 and im not running it inside EKS using nginx ingress. Now i'm seeing this error inside my rancher pods.

"400 Bad Request" response

2019/04/02 23:20:58 [INFO] Rancher version v2.2.0 is starting
2019/04/02 23:20:58 [INFO] Rancher arguments {ACMEDomains:[] AddLocal:auto Embedded:false KubeConfig: HTTPListenPort:80 HTTPSLi

[2019-04-02 23:40] Joeskyyy opened #19341 "certificate-authority-data does not populate when adding cluster authorized endpoint after the fact"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
* Create a cluster without authorized endpoint
* Edit cluster to now have authorized endpoint
* Generate kubeconfig

**Result:**

kubeconfig will not have a `certificate-authority-data` field

**Other details that may be helpful:**
N/A

**Environment informa

[2019-04-02 23:45] Joeskyyy opened #19342 "User objects in kubeconfig are not per cluster friendly"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
* Sign in as user
* Create multiple clusters
* Generate kubeconfig for at least two clusters

**Result:**

* User object will have the same `name` field, but different `token` fields. Ideally this would be something like `user-ab11z.$clusterID` if the tokens

[2019-04-02 23:54] vicparker commented on #19166
I've tested a number of cluster deployment scenarios via the vSphere node driver with vApp Specifications, with/without a cloud-init directives.  My results are consistent with d-almeida experience.

When a cloud-init is specified the Network Protocol Profile is not factored in guest deployment, regardless of the cloud-init directives (including directives not impacting Network Protocol settings).

[2019-04-03 00:44] rmweir commented on #18295
Hello @ahmadalli, thank you for the details! There is currently a fix pending for that: https://github.com/rancher/rancher/pull/19228

[2019-04-03 00:47] daxmc99 commented on #19114
I'm having trouble reproducing this.
Steps taken:

1. Create azure cluster with default values and credentials
2. When inputting ssh creds enter "tacos"
3. Azure complains about the ssh keys being invalid
4. Edit the cluster and give them valid ssh keys `cat ~/.ssh/id_rsa.pub | pbcopy`
5. Get coffee and wait for AKS to provision
6. Cluster provisions successfully.
7. Workloads succeed

Only thing

[2019-04-03 00:49] loganhz opened #19343 "Backport: Monitoring crashes on 2.2.0RC-13"
backport https://github.com/rancher/rancher/issues/19145

[2019-04-03 00:58] loganhz commented on #19145
@rbq Thanks for your update. The current 50Mi limit for node exporter is too small. We will increase the default value and make it configurable via Rancher UI. It will be out in 2.2.2.

For anyone else running into the same issue such as `OOMKill`,  please increase the Prometheus or Node exporter cpu/memory limitations in enable monitoring page.

https://rancher.com/docs/rancher/v2.x/en/cluster-ad

[2019-04-03 01:20] sunny0826 commented on #19288
https://github.com/rancher/rancher/issues/19078  I find a issue that can solve my problem. You may need to put that on the official website.

[2019-04-03 01:21] loganhz opened #19344 "Backport: Cannot enable Fluentd Logging"
backport https://github.com/rancher/rancher/issues/19327

[2019-04-03 01:22] loganhz commented on #19288
@sunny0826 your issue describes `I change the Memory Reservation & CPU Reservation to 500MiB,but when the update is over, it changes back`

#19078 is talking about node exporter port.

Yes,  we will add the doc for it. Thanks

[2019-04-03 01:25] loganhz commented on #19288
BTW, we have a doc https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/monitoring/#resource-consumption

[2019-04-03 01:31] loganhz commented on #19274
It looks like the issue is `[storage/driver] 2019/04/02 16:53:06 query: failed to query with labels: the server is currently unable to handle the request (get configmaps)`

So we need to find out why your cluster is in an unavailable state first.

[2019-04-03 01:31] loganhz commented on #19331
It looks like the issue is `[storage/driver] 2019/04/02 10:52:34 query: failed to query with labels: the server is currently unable to handle the request (get configmaps)`

So we need to find out why your cluster is in an unavailable state first.

[2019-04-03 01:37] laoshancun commented on #19206
@mrajashree
this cluster is a managed Kubernetes imported from Alibaba Cloud, and version is `v1.11.5`.
1. There is no `cattle-global-data` in system project.
2. The Rancher server is upgrade from v2.1.7,not from a alpha or rc version.
3. The kubeconfig file is download from rancher server.
I have created an account on slack with name laoshancun,but cannot find any channel with name rancher.

[2019-04-03 01:43] westlywright opened #19345 "Backport: Adding private registry in GUI prone to causing cluster creation issues"
Backport: rancher/rancher#19325

[2019-04-03 02:30] sunny0826 commented on #19288
My bad

[2019-04-03 02:31] #18283 closed

[2019-04-03 02:42] loganhz commented on #18986
Close in favor of https://github.com/rancher/rancher/issues/18571

It will be fixed in https://github.com/rancher/rancher/pull/19079

[2019-04-03 02:45] #18948 closed

[2019-04-03 02:53] deniseschannon commented on #17663
With the release out, this has been moved/transitioned to no longer using charts using build numbers.

[2019-04-03 02:53] #17663 closed

[2019-04-03 03:02] rootwuj commented on #19214
@aliazlan4 @loganhz
I tested the pipeline example repositories in rancher v2.2.0 and rancher v2.2.1.
The pipeline can run successfully. Below is my test environment and test steps.

Environment:
Host configuration: AWS/ ubuntu 16.04/ t2.medium/ 40G
Docker Version: 18.03
Rancher Version: v2.2.0 , v2.2.1 (single)
K8s Cluster Version: v1.13.4

Step:
Enable the example pipeline under the default or ne

[2019-04-03 03:03] deniseschannon commented on #3180
With the release of Rancher 2.x, development on v1.6 is very limited.

[2019-04-03 03:03] #3180 closed

[2019-04-03 03:07] loganhz commented on #19327
@Leen15 Can you always reproduce it ?

[2019-04-03 03:15] aiwantaozi commented on #19304
Hi @davidnuzik Event for the same resource with the different message will be placed to the same group, alertmanager will send notifications when new alert adds to this group, this notification includes all alerts in this group. For event alert, we want user only sees current happen event without others in the same group, right? If so, this PR will improve to only show the last one https://github.

[2019-04-03 03:19] #9393 closed

[2019-04-03 03:20] deniseschannon commented on #12412
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:20] #12412 closed

[2019-04-03 03:21] deniseschannon commented on #12472
With the release of Rancher 2.0, development on v1.6 is limited.

[2019-04-03 03:21] #12472 closed

[2019-04-03 03:24] deniseschannon commented on #13269
It seems that this issue has been released with a new catalog item. If there are still issues, please re-open. @rawmind0 @patrick0057

[2019-04-03 03:24] #13269 closed

[2019-04-03 03:25] deniseschannon commented on #13794
With the release of Rancher 2.x, development on v1.6 is limited.

[2019-04-03 03:25] #13794 closed

[2019-04-03 03:26] #12598 closed

[2019-04-03 03:27] #2934 closed

[2019-04-03 03:29] #14361 closed

[2019-04-03 03:29] #14611 closed

[2019-04-03 03:29] #15438 closed

[2019-04-03 03:32] deniseschannon commented on #15599
@4admin2root Rancher v2.x is completely different from v1.6.x. Please file a different bug for 2.x.

With the release of Rancher 2.0, development on v1.6 is very limited.

[2019-04-03 03:32] #15599 closed

[2019-04-03 03:32] #15675 closed

[2019-04-03 03:33] #15869 closed

[2019-04-03 03:33] alena1108 opened #19346 "Backport AzureAD and Local Auth broken after 2.2 Upgrade"
Backport https://github.com/rancher/rancher/issues/19202

[2019-04-03 03:33] #16018 closed

[2019-04-03 03:34] loganhz commented on #19327
@Leen15 Can you check the `ui-index` settings? Under Global level menu -> Settings

[2019-04-03 03:36] deniseschannon commented on #15718
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:37] deniseschannon commented on #16103
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:37] #16103 closed

[2019-04-03 03:39] #16167 closed

[2019-04-03 03:40] #16248 closed

[2019-04-03 03:40] #16402 closed

[2019-04-03 03:40] #16488 closed

[2019-04-03 03:40] #16535 closed

[2019-04-03 03:41] #16608 closed

[2019-04-03 03:41] deniseschannon commented on #16685
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:41] #16685 closed

[2019-04-03 03:42] #16748 closed

[2019-04-03 03:43] #16788 closed

[2019-04-03 03:44] #16905 closed

[2019-04-03 03:46] #17073 closed

[2019-04-03 03:51] deniseschannon commented on #17083
@fagun-tripathi v1.6 has a generic "shibboleth" authentication that has been attempted to be used for multiple SAML providers. but we've learned that each provider has specific differences which makes it challenging to support all SAML providers.

with v2.x, we have added specific SAML providers as tested authentication providers.

currently onelogin idp is not a tested auth provider, but there ha

[2019-04-03 03:51] #17083 closed

[2019-04-03 03:52] #17090 closed

[2019-04-03 03:52] deniseschannon commented on #17090
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:54] deniseschannon commented on #17107
It sounds like you are trying to use google auth provider, which isn't supported.

With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:54] #17107 closed

[2019-04-03 03:54] #17119 closed

[2019-04-03 03:56] deniseschannon commented on #17315
WIth a workaround and the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 03:56] #17315 closed

[2019-04-03 03:58] vincent99 commented on #15599
The cores are there.  What Java chooses to do math on is up to them, shares are an entirely relative number that is meaningless in its own without knowing the total.

[2019-04-03 03:58] #17372 closed

[2019-04-03 04:00] #17374 closed

[2019-04-03 04:01] deniseschannon commented on #17482
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 04:01] #17482 closed

[2019-04-03 04:01] #17656 closed

[2019-04-03 04:03] deniseschannon commented on #17851
Due to the deprecated support of etcd v2 in k8s 1.13 and with the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 04:03] #17851 closed

[2019-04-03 04:03] #17780 closed

[2019-04-03 04:04] deniseschannon commented on #17682
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 04:04] #17682 closed

[2019-04-03 04:07] deniseschannon commented on #19043
If you have further questions, please re-open or file a new issue.

[2019-04-03 04:07] #19043 closed

[2019-04-03 04:09] #18687 closed

[2019-04-03 04:12] deniseschannon commented on #18568
Available with  lb image tag: v0.9.10

[2019-04-03 04:12] #18516 closed

[2019-04-03 04:38] alena1108 commented on #19327
@Leen15 is it a fresh 2.2.1 install, or have you upgraded to it from some older rancher version?

[2019-04-03 05:06] #19344 closed

[2019-04-03 05:19] longwuyuan opened #19348 "rancher cli login fails if API Key is scoped to cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
- Create rancherserver installation with version 2.2.1
- Create a custom cluster
- Create a user
- Create api-key for user but scope it to the cluster and save the bearer-token
- Download rancher cli for linux
- Use the rancher cli to login as per docs https

[2019-04-03 05:24] kingsd041 commented on #19327
@loganhz  I did not reproduce this issue

Test steps:
1. Single node installation rancher(v2.2.1)
2. Add a custom cluster
3. Enable fluentd logging and configure the correct Endpoint/Shared Key/Username/Password/Hostname
4. Test Button answers as "Settings validated"

Then I click on the `SAVE` button and I will be prompted to save successfully, and there is no "t is not a function" error.

[2019-04-03 05:45] alena1108 commented on #19346
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:46] alena1108 commented on #19343
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:46] alena1108 commented on #19339
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:46] alena1108 commented on #19337
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:47] alena1108 commented on #19336
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:47] alena1108 commented on #19335
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:47] alena1108 commented on #19330
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:47] alena1108 commented on #19326
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:48] alena1108 commented on #19324
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:48] alena1108 commented on #19316
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:48] alena1108 commented on #19314
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:48] alena1108 commented on #19313
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:49] alena1108 commented on #19312
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:49] alena1108 commented on #19311
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:49] alena1108 commented on #19309
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:50] alena1108 commented on #19308
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 05:50] alena1108 commented on #19307
Can be tested on rancher/rancher:v2.2.2-rc1

[2019-04-03 06:11] alena1108 commented on #19326
Update: removed `to-test` label. This UI fix should be tested in conjunction with https://github.com/rancher/rancher/issues/19278, and the fix for the backend is not in yet.

[2019-04-03 06:40] Leen15 commented on #19327
I have an imported cluster of 4 hosts, created with RKE.
Rancher is not a fresh install but an upgrade from the 2.1.7 version, upgraded with helm.
I can reproduce it every time I press save, the same error appears also if I try to configure Elasticsearch instead of fluentd.
I can confirm that the app "rancher-logging" exists inside the system namespace and the logging works.

[2019-04-03 06:42] alena1108 commented on #19209
@loganhz for 2.2.2, lets make sure that:

1) Following use case works:

* Enable monitoring when there is not enough resources.
* Disable monitoring.
* Add more resources and enable monitoring.

2) For the case when manual removal is done for one of the monitoring components, we should provide the workaround for 2.2.2, and fix it in 2.2.3

[2019-04-03 06:43] Leen15 commented on #19327
The value is:
https://releases.rancher.com/ui/latest2/index.html

[2019-04-03 06:45] loganhz opened #19349 "Change the default Prometheus cpu/memory limits and reservation"
Change default CPU Limits to 1000
Change default CPU Reservation to 750

Change default Memory Limits to 1000
Change default Memory Reservation to 750

[2019-04-03 06:46] loganhz opened #19350 "Backport: Change the default Prometheus cpu/memory limits and reservation"
https://github.com/rancher/rancher/issues/19349

Change default CPU Limits to 1000
Change default CPU Reservation to 750

Change default Memory Limits to 1000
Change default Memory Reservation to 750

[2019-04-03 07:00] useltmann opened #19351 "Cross-project networking"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
* create two projects
* create one workload in each project
* try to communicate from one workload to the other

**Result:**
network-traffic is blocked

**Other details that may be helpful:**
* Network-Provider: *Canal*
* network-traffic across namespac

[2019-04-03 07:03] adalga commented on #18921
Hi,

I have the same issue and I wonder if there is a way to use monitoring without requiring git server.

After I saw the problem, I disabled monitoring. However, The error message <failed to ensure catalog "catalog://?catalog=system-library&template=rancher-monitoring&version=0.0.2" failed to find by catalog by ID "catalog://?catalog=system-library&template=rancher-monitoring&version=0.0.2"> did

[2019-04-03 07:10] loganhz commented on #19327
@Leen15 please change it to `local`

https://releases.rancher.com/ui/latest2/index.html will keep changing as we are working on 2.3

[2019-04-03 07:11] loganhz commented on #19327
Did you change it by yourself ?

[2019-04-03 07:34] aleksey005 commented on #19296
This file does not exist, because I have already deleted it from the S3 cloud, but the rancher still tries to download it. How to make him change his mind?

#docker logs --tail 100 kind_kirch
...
2019/04/03 07:23:59 [INFO] Provisioning cluster [c-25d48]
2019/04/03 07:23:59 [INFO] Restoring cluster [c-25d48] from backup
2019/04/03 07:23:59 [ERROR] ClusterController c-25d48 [cluster-provisioner-cont

[2019-04-03 07:39] rbq commented on #19351
“In previous Rancher releases, Canal isolates project network communications with no option to disable it. If you are using any of these Rancher releases, be aware that using Canal prevents all communication between pods in different projects. As of v2.0.7, if you use Canal, you also have the option of using Project Network Isolation, which will enable or disable communication between pods in diff

[2019-04-03 07:47] rbq commented on #19145
@loganhz Cool, thx!

[2019-04-03 08:05] phal0r commented on #19331
Thanks for the fast answer @cjellick and @loganhz . I agree with you, but I have no idea what the root cause could be.

Yes, the cluster was available before upgrade and is available now. It is marked as green in rancher ui and I can access all projects and namespaces without problems. Scheduling and rescheduling of workloads is NOT working.

Another observation: When viewing the kubeconfig of the

[2019-04-03 08:19] muffix commented on #9754
Hi @loganhz, I just faced the exact same issue. Deleting the `null` entry resolved it for me, too, but it's still annoying. Almost the exact same setup as @palfrey.

[2019-04-03 08:29] pensiero opened #19352 "[v2.2.1] Workloads associated to pipelines crash after X hours"
**What kind of request is this (question/bug/enhancement/feature request):**
`bug`

**Steps to reproduce (least amount of steps as possible):**
I have 3 workloads which are associated with a pipeline. When the pipeline runs, everything is fine, the workloads are correctly deployed.

After X (not sure how many) hours, all the workloads crash.

- `.rancher-pipeline.yml`: https://gist.github.com/pens

[2019-04-03 08:46] superseb commented on #19348
Duplicate of https://github.com/rancher/rancher/issues/18639

[2019-04-03 08:46] #19348 closed

[2019-04-03 08:56] Leen15 commented on #19327
No I didn't, i was with Rancher 2.1.7 in HA setup with helm. I changed the helm repo to latest and upgraded to 2.2.1.

[2019-04-03 08:56] Leen15 commented on #19327
I confirm that with "local" value in ui-index it works.

[2019-04-03 08:57] doog33k commented on #19209
I have exactly the same  behavior as @materemias , unfortunately, once the monitoring-operator is deleted , it is impossible to install it again, even manually :'(
I can't find a way to install it again

[2019-04-03 09:05] loganhz commented on #19209
@doog33k @materemias @hmonadjem @vincent927

We will fix it in 2.2.2.

If you hit this issue in 2.2.0 or 2.2.1, currently the workaround is not easy.
But it can get your cluster monitoring working again.

Workaround in 2.2.0 and 2.2.1 if you manually delete `cattle-prometheus` namespace.

1.  Disable cluster monitoring
2. Go to System project -> Apps
3. Remove `cluster-monitoring` and `monitoring-

[2019-04-03 09:23] ChrisHaPunkt opened #19353 "Global User List Table: Only own DisplayName displayed after Update to 2.2.1 with Keycloak integration"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Activate Keycloak Authentication with parameters shown below.
![Bildschirmfoto 2019-04-03 um 11 10 18](https://user-images.githubusercontent.com/4389395/55467495-b7cafb80-5601-11e9-9a04-5f1b1e0378e5.png)

**Result:**
![Bildschirmfoto 2019-04-03 um 11 15 30](

[2019-04-03 09:48] loganhz commented on #19331
@phal0r Can you look at the cluster dashboard. I think some components are red there?

If control manger is red, can you ssh to the node and look at the logs of apiserver, please?

You can also check the node cpu/memory usage with `top` command. Usually if we have too many workloads running in a node, we will run out of resources. So apiserver will become unhealthy.

[2019-04-03 10:13] georgeboot opened #19354 "Error when deploying AKS cluster: Failed to provision Azure cluster"
**What kind of request is this:** bug

**Steps to reproduce (least amount of steps as possible):**
Provision a new AKS cluster on 2.2.1

**Result:**
[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI): 2.2.1
- Installation option (single install/HA): single node

[2019-04-03 10:17] Leen15 commented on #19327
Sorry but after changed the ui-index value I tried to set logging as "none" and the "rancher-logging" app was still there so I removed it.
Now I'm trying to enable again fluentd but after the "saved" confirm, no app is created on system namespace... how can I force it?

[2019-04-03 10:40] rbkaspr opened #19355 "Cron jobs not running when created with kubectl"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
Create a cronjob via kubectl and a yaml spec

**Result:**
Cronjob workloads created via kubectl do not trigger until the jobs trigger time is manually edited via the Rancher UI. After changing the cron specification through the UI, the job triggers normally,

[2019-04-03 10:48] rbkaspr opened #19356 "CronJob cron setting is not visible without editing the job"
**What kind of request is this (question/bug/enhancement/feature request):** enhancement

**Other details that may be helpful:**
CronJob cron spec (e.g. 0 8 * * *) is not visible anywhere when simply viewing the CronJob in the Rancher UI (either from the workload listing or just viewing the workload details). The information can only be found by editing the job within the Rancher UI or via kubectl

[2019-04-03 11:23] loganhz commented on #19327
@Leen15 is it Project level logging?

I cannot reproduce this issue. I delete the rancher-logging app manually. And re-enable monitoring. The app came back

[2019-04-03 11:30] DominicGunn opened #19358 "Panic when attempting to view metrics for workload."
**What kind of request is this (question/bug/enhancement/feature request):**

This is a bug.

**Steps to reproduce (least amount of steps as possible):**

Running Rancher against a cluster that has 40+ nodes, 400+ workloads, then attempting to view metrics for the workload, rancher Panics.

**Result:**

[code]

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image

[2019-04-03 11:35] Leen15 commented on #19327
I'm trying with cluster level logging.
Is there a way to force it? Where can I see if there is some error?
I also tried to delete the cattle-logging namespace but rancher doesn't recreate it when I enable the logging.

[2019-04-03 11:40] Leen15 commented on #19327
I just tried to enable a project level logging, and it deployed also the app for cluster logging! I don't know how it's possible :)

[2019-04-03 11:42] useltmann commented on #19351
All right. Switching "Project Isolation" off helped. thanks.

[2019-04-03 11:42] #19351 closed

[2019-04-03 11:49] aiwantaozi commented on #19327
Hi @Leen15 fluentd is a daemonset, cluster and project logging both use this daemonset, rancher will check whether the fluentd app is deployed when changes happened(enable cluster logging/enable project logging, update logging configure), at this time, if not fluentd app is deployed, rancher will deployed it. When you happen to delete the app, just update logging configure or reenable it to trigge

[2019-04-03 11:50] doog33k commented on #19209
Thanks @loganhz  for your answer.
I tried to use your workarround, but unfortunately I was unable to install vi/vim, I had connection timeout during installation of the package inside the container, i may have to configure a proxy because I'm on a private cloud.

[2019-04-03 11:58] Leen15 commented on #19327
Thanks for the explain @aiwantaozi .
I tried multiple times to configure again and to reenable the logging for the cluster but nothing happened.
When I enabled the logging for a project, then it deployed the rancher-logging app.
I don't know what is gone wrong, but now it's ok.

[2019-04-03 12:18] aiwantaozi commented on #19327
@Leen15 I tried but can't reproduce. Could you check whether the cluster level logging could work? if all the loggings disabled, then fluentd app is deleted. Try to enable/disable cluster logging, could the app get deployed/deleted, it needs some time to clean all the daemonset. Thanks.

[2019-04-03 12:25] riaan53 commented on #19248
Hi @thxCode , Thank you for fixing! I have done a quick test on 2.2.2RC and it seems to do the trick. Also looking forward to the new prom dashboard on by default :)

[2019-04-03 12:29] Leen15 commented on #19327
I tried to disable the cluster logging. I don't have any project with logging enabled.
After 10 minutes the app is there, active, and it sends data to my ELK stack.
![Immagine 5152](https://user-images.githubusercontent.com/3629071/55478774-cd015380-561c-11e9-815e-dbe7bcf1f216.png)
![Immagine 5153](https://user-images.githubusercontent.com/3629071/55478775-cd015380-561c-11e9-957c-6305f546f561.png)

[2019-04-03 12:30] hmonadjem commented on #19209
@loganhz
thanks, the workaround started all apps needed but I now run into a new issue:

App: cluster-monitoring
Workload: prometheus-cluster-monitoring
Container: prometheus

failes to start with the following logs:
[code]

![image](https://user-images.githubusercontent.com/4346277/55478759-bf4bce00-561c-11e9-9209-977affce986b.png)
![Screenshot 2019-04-03 at 14 28 46](https://user-images.githubus

[2019-04-03 12:32] loganhz commented on #19209
@hmonadjem the error message should be unrelated.
Please go to enable monitoring page and update the Prometheus Memory Limit.
Now it is 500Mib I think. Please change it to 1000Mib. And click save.

[2019-04-03 12:34] superseb commented on #18831
Can you share how and with what config kubeadm was used to create the cluster? Can you also share what hypervisor is used for the VMs and if the VM running Rancher and in the imported cluster are on the same hypervisor or not?

[2019-04-03 12:41] hmonadjem commented on #19209
@loganhz thanks, now it worked. but 1000 was not enough ... 2.4GB are in usage and I did put a limit of 4GB ;)

[2019-04-03 12:42] vikas027 commented on #15869
Hello @deniseschannon / @mrajashree ,

This should not be closed, this is indeed a bug which has cropped up only after enabling SAML (Keycloak) authentication.

[2019-04-03 12:44] loganhz commented on #19209
@hmonadjem could you describe your cluster a bit? like how many nodes, where are they and what's the size and OS for the nodes, please?

[2019-04-03 12:48] hmonadjem commented on #19209
@loganhz sure, happy to share.

We have 13 Nodes:
10 as Control Plane & Worker (AWS - m4.2xlarge)
3 as etcd (AWS - t2.small)
OS: Ubuntu 16.04.4 LTS (4.4.0-1052-aws)

We have all together 80 CPU and 313 GiB of Memory about 40% of the Memory is reserved and about 80% of the CPU is also reserved and running about 30 Apps with each about 18 Pods in average.

[2019-04-03 12:54] loganhz commented on #19209
Thanks @hmonadjem . Just FYI, https://github.com/rancher/rancher/issues/19187#issuecomment-478177608 we need to open the node exporter open to see the metrics for nodes

[2019-04-03 13:07] materemias commented on #19209
The manual fix worked, thanks

[2019-04-03 13:16] snacky6 commented on #19328
We faced the exact same issue today. We managed to find some king of temporary a solution by manually setting the value of `ec2_az` to another region where some EC2 instances can attach volumes. I'm currently looking for a way to automatically create docker volumes for our Redis databases without creating EBS volumes (or maybe don't attach it to a EC2 instance) to avoid this kind of limitation.

[2019-04-03 13:46] superseb opened #19359 "Improve cluster dashboard nodes specs"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
Create custom cluster with one etcd, one controlplane and one worker, view cluster dashboard

<img width="1482" alt="Screen Shot 2019-04-03 at 15 43 58" src="https://user-images.githubusercontent.com/2620179/55483677-6170b380-5627-11e9-9c38-16f49a1af

[2019-04-03 13:49] hpdvanwyk opened #19360 "prometheus-cluster-monitoring is never restarted on new node on shutdown"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

1. Create 3 node cluster via RKE (weave CNI, RancherOS 1.5.1)
1. Install Rancher HA via helm
1. Enable monitoring (use default settings except 2GB ram for prometheus)
1. Shut down the node running the prometheus-cluster-monitoring-0 pod

**Result:**
prometh

[2019-04-03 14:10] Leen15 commented on #19327
1 HOUR later, the app get deleted.

[2019-04-03 14:16] loganhz commented on #19358
I can reproduce this issue if I import the following deployment

[code]

[2019-04-03 14:29] fedeostrit commented on #19269
hello, I commented that I could update the hyperkube on my host with Windows 1803, I share the info from the rancher console where it shows this and also the info of the OS of the host of windows:

![image](https://user-images.githubusercontent.com/48490228/55486595-f4e3bd80-5602-11e9-8a0e-f52f7a426682.png)
![image](https://user-images.githubusercontent.com/48490228/55486697-28264c80-5603-11e9-861

[2019-04-03 14:37] vikas027 commented on #12697
Whoever lands here and is confused which container to exec in, this is another way of doing this.

This saved me in Rancher v2.2.1
[code]

[2019-04-03 15:02] vincent927 commented on #19209
@loganhz thanks, it worked

[2019-04-03 15:18] rammaram06 opened #19362 "Monitoring - Rancher failed to install monitoring after upgrading from 2.1.7 to 2.2.0 in Airgap setup"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
** Install single node Rancher server 2.1.7 using Airgap Installation (Server has access to internet)
** Create a cluster with nodes
** Upgrade to 2.2.0 using airgap installation
** Enable Cluster level monitoring

**Result:**
[code]
**Other details that may

[2019-04-03 15:27] scndel opened #19363 "Load Balancing broken after redeploy"
Ingress not working after **redeploy** existing _Workload_ with existing _Load balancer_ ;
when trying to reach URL :

recreating Ingress after deletion is also not working : stuck "Initializing"

Rancher upgraded from 2.1.6 to 2.2.1 - single node
Docker 17.03.2-ce
Helm | v2.10.0-rancher10
Machine | v0.15.0-rancher6-1
Ubuntu 16.04.5

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.1` U

[2019-04-03 15:38] scndel commented on #19362
Similar issue from 2.1.6 to 2.2.1 with similar config but **without Airgap** :

`[main] 2019/04/02 14:03:47 Starting Tiller v2.10+unreleased (tls=false)
[main] 2019/04/02 14:03:47 GRPC listening on :47865
[main] 2019/04/02 14:03:47 Probes listening on :47197
[main] 2019/04/02 14:03:47 Storage driver is ConfigMap
[main] 2019/04/02 14:03:47 Max history per release is 0
[main] 2019/04/02 14:03:48 Sta

[2019-04-03 15:39] aiwantaozi commented on #19327
I tried 3 node HA mode and import a rke cluster but could not reproduce, could you check rancher server log when you disable logging? Where are your rancher server nodes and imported cluster nodes? Thanks

[2019-04-03 15:40] janeczku commented on #18831
We also started two pods in the imported cluster running the rancher2ws test binary. One pod was configured to using the CNI networking the other configured with `hostNetwork: true`.

https://gist.github.com/superseb/89972344508e99b9336ad7eff78cb928#option-2-rancher2ws

$ k logs -f websocket-test-containernetwork:
[code]

$ k logs -f websocket-test-hostnetwork
[code]

[2019-04-03 15:44] Leen15 commented on #19327
This is my configuration:
- 3 nodes rke cluster (dedicated servers in different datacenters, different providers) with rancher installed in HA using helm
- 4 nodes rke cluster (dedicated servers in different datacenters, same provider )

I'm testing the logging function on the second cluster.
Is there a way to see the rancher log centralized from the UI? Or I have to check the log of every node of

[2019-04-03 15:47] aiwantaozi commented on #19327
You can see the rancher server logs in the first cluster -> system project -> cattle-system namespace -> rancher workload

[2019-04-03 15:47] janeczku commented on #18831
Rancher server container logs the following errors after importing the cluster:

[code]

The `http: multiple response.WriteHeader calls` timestamps correspond with the error logs in the node agent of the imported cluster:

[code]

[2019-04-03 15:54] wdeignan commented on #19230
Did you have to restart one of the agents on the host layer after modifying cni.conf to make this work? I have the same problem but my modifications to that file don't seem to have any effect. I even tried trashing it and inter-pod networking keeps running.

[2019-04-03 15:54] Leen15 commented on #19327
This is the log of the three nodes:

https://pastebin.com/vNbTy7qK

No specific logs after the delete (log records are 3 minutes older than the delete action)

[2019-04-03 16:01] fedeostrit commented on #19230
no, I only delete the Pod that is running so that it recreates and uses the new CNI file, the host where you modify the CNI.conf does not have to be restarted or restart the services because if this is done then the CNI recreates

[2019-04-03 16:10] jkuspa commented on #19274
@loganhz
Correction on where Rancher is running:
Rancher is running via Docker, which is using Ubuntu.
[code]

I'll try the following and update this ticket.
- Create a rancher cluster in an AWS account with more permissions
- Tail all logs to a file to capture the errors when monitoring is enabled.

[2019-04-03 16:10] praveensripati opened #19365 "Perform prechecks before creating a AWS EKS Cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
1) Create a AWS EKS cluster after running the rancher/rancher Docker container.
2) Pick an EC2 instance type which has a limit of 0 for that particular region.

**Result:**
After creating the VPC and the EKS control plan, got an error saying that the

[2019-04-03 16:44] jgnagy commented on #12038
This seems like a pretty significant issue, given #19332 (which I'm experiencing too). Was having someone else (another admin in my group) configure etcd backups to S3 but they're not able to because of this bug in 2.2.1. I'm a bit concerned if all cluster maintenance at this level must be done by me... what happens if I'm hit by the metaphorical bus? Even the global admin can't edit the cluster.

[2019-04-03 16:50] deniseschannon commented on #17908
The rancher-compose CLI hasn't been updated and we've moved to updating and using rancher CLI.

please try and use that version. Even thought it's marked as "beta", it's actually the version we support and have added updates to.

If you still have issues when using rancher CLI, please open a new issue.

[2019-04-03 16:50] #17908 closed

[2019-04-03 16:51] #17929 closed

[2019-04-03 16:52] deniseschannon commented on #17956
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2019-04-03 16:52] #17956 closed

[2019-04-03 16:55] #18223 closed

[2019-04-03 16:56] deniseschannon commented on #18259
Since we're not adding in support for k8s 1.13 due to the deprecation of etcd v2, we won't be updating tiller.

https://github.com/rancher/rancher/issues/17851#issuecomment-479329157

[2019-04-03 16:56] #18259 closed

[2019-04-03 16:56] #18403 closed

[2019-04-03 17:04] vincent99 commented on #12038
A missing feature you would like is not a bug.  They are intentionally not visible because they contain secret keys.  There is work progressing towards this, including separating the template from the credentials in 2.2.  If you were hit by a bus the admin could edit the CRD directly to change the owner, or add new pools.

[2019-04-03 17:06] alena1108 opened #19366 "Automate publishing Rancher images SHAs"
For every release, we include the list of images used by Rancher (rancher-images.txt) and the images SHAs (rancher-images-digests.txt). The rancher-images-digests generation and publishing should ideally be automated and done as a part of a Drone build.

[2019-04-03 17:23] alena1108 commented on #19362
@scndel your situation can be similar to one described in https://github.com/rancher/rancher/issues/19331

Changed the subject of this ticket to reflect the fact the original issue happened on airgap.

[2019-04-03 17:25] davidnuzik commented on #19218
**Replication steps:**
v2.2.1
- Create DO cluster, 1 node (all roles) set node label mine/horse = true (UI sends `mine/horse: "true"`)
- Enable monitoring but create a node selector with mine/horse = true (UI sends `prometheus.nodeSelectors[0]: "mine/horse=true"`)
- Monitoring does not work (always says `Monitoring API is not ready`)
- Review prometheus-operator logs and get errors mentioned above

[2019-04-03 17:29] davidnuzik commented on #19218
Re-opening I accidentally closed the wrong issue. I meant to close #19324
I will keep my above comments though in case this is useful later!

[2019-04-03 17:29] davidnuzik commented on #19324
**Replication steps:**
v2.2.1
- Create DO cluster, 1 node (all roles) set node label mine/horse = true (UI sends `mine/horse: "true"`)
- Enable monitoring but create a node selector with mine/horse = true (UI sends `prometheus.nodeSelectors[0]: "mine/horse=true"`)
- Monitoring does not work (always says `Monitoring API is not ready`)
- Review prometheus-operator logs and get errors mentioned above

[2019-04-03 17:29] #19324 closed

[2019-04-03 17:30] davidnuzik commented on #19324
Test plan updated so we check for regression of this going forward.

[2019-04-03 17:37] jgnagy commented on #12038
@vincent99, whether you consider this a nice-to-have feature, fleeting curiosity, or bug, it still seems like a significant issue. I mentioned 2.2 because node templates there, during their creation _seem_ to only refer to credentials that are actually shared with other admins. It seems odd that cloud credentials are safe to share amongst administrators but the node templates that reference them a

[2019-04-03 17:48] renperez commented on #19340
any update on this?

[2019-04-03 17:48] davidnuzik commented on #19339
**Replication Steps:**
v2.2.1
- Open Global -> Tools -> Catalogs
- Notice Git-based catalog URL shows example INCORRECTLY as `https://github.com//charts.git` url

**Validation Steps:**
v2.2.2-rc1
- Open Global -> Tools -> Catalogs
- Notice Git-based catalog URL shows example CORRECTLY as `https://github.com/rancher/charts.git` url

[2019-04-03 17:48] #19339 closed

[2019-04-03 17:49] davidnuzik commented on #19215
Note, validated in v2.2.2-rc1 see https://github.com/rancher/rancher/issues/19339#issuecomment-479591530 just needs check again in v2.3 later.

[2019-04-03 17:50] rmebamds opened #19367 "405 When updating settings"
Rancher versions: 1.6.20 and 1.6.26
Go to your rancher server:8080/admin/settings

All attempts to change the Host Registration URL fail.  The UI doesn't complain, but if you look in the network tab the PUT results in a 405

{"id":"1bc3fbdd-32b8-42e8-920d-ecd8c32e32f9","type":"error","links":{},"status":405,"code":"Method not allowed","message":"Method not allowed","detail":null,"baseType":"error"

[2019-04-03 17:51] rammaram06 commented on #19362
@alena1108 Just an FYI, I have installed it using airgap method but server has access to internet and can download images.

[2019-04-03 17:59] patrick0057 opened #19368 "Bug: List secrets role allows user to view secret via UI"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
*Global -> Security -> Roles -> Add project or cluster role -> Select ‘List’ and for resource ‘Secrets’
*Some cluster -> some project -> Members -> Add some user with custom role
*Login with this user and look for secrets in project

**Result:**
*Can list se

[2019-04-03 18:02] #17124 closed

[2019-04-03 18:02] #17368 closed

[2019-04-03 18:06] StrongMonkey commented on #18829
@Fail-Unsafe can you post your rancher-nfs logs and rancher-agent logs?

[2019-04-03 18:11] renperez commented on #19340
I tried changing the config for the cluster node agent and the cluster agent to point to the new url but the handshake still points to the old URL. This is why the handshake is failing

INFO: Environment: CATTLE_ADDRESS=10.82.80.201 CATTLE_AGENT_CONNECT=true CATTLE_CA_CHECKSUM= CATTLE_CLUSTER=false CATTLE_INTERNAL_ADDRESS= CATTLE_K8S_MANAGED=true CATTLE_NODE_NAME=ip-10-82-80-201.us-west-2.compute.

[2019-04-03 18:12] davidnuzik commented on #19078
Note: Validated minimum 1200 milliCPU requirement in issue #19311 against v2.2.2-rc1 (this will need to be checked again in v2.3 later)

[2019-04-03 18:12] davidnuzik commented on #19311
**Replication steps:**
v2.2.1
- Create a 1-node 1 vcpu cluster such as with DO RKE
- Try to enable monitoring with the default settings
- Monitoring does NOT work -- insufficient vCPU for all the necessary pods/containers. (#19078 issue description explains in more detail, 1050milliCPU is minimum required with defaults as of v2.2.1) prometheus-cluster-monitoring will have insufficient cpu

**Valid

[2019-04-03 18:12] #19311 closed

[2019-04-03 18:12] davidnuzik commented on #19311
Test plan updated to include this 1200milliCPU check.

[2019-04-03 18:19] davidnuzik commented on #19304
Hi @aiwantaozi Yes this is what I propose. We don't see everything from the group just for events because with events the information is too overwhelming basically. I think what you propose in the PR is probably good and addresses the main concern I have. Thanks :)

[2019-04-03 18:23] westlywright opened #19369 "Backport: GDNS Entry-Broken links when user has access to GDNS entry that points to a MCAPP which has targets he does not have access to."
Backport: rancher/rancher#19174

[2019-04-03 18:24] westlywright commented on #19369
This was added as apart of https://github.com/rancher/ui/pull/2828

[2019-04-03 18:25] patrick0057 commented on #19368
Sorry it seems there was an error on my part in testing.  If you perform the following command you can still see all of the secrets while using only the 'LIST' permission.

kubectl get secrets -n cattle-system -o json

Closing issue.

[2019-04-03 18:25] #19368 closed

[2019-04-03 18:30] alena1108 commented on #19331
https://github.com/rancher/rancher/pull/19079 can mitigate the issue

[2019-04-03 18:31] alena1108 commented on #19274
https://github.com/rancher/rancher/pull/19079 can mitigate the issue

[2019-04-03 18:34] westlywright commented on #19275
The validation for the cloud credential id is now done in the UI for DO, EC2, Azure, and VMWare

[2019-04-03 18:34] sowmyav27 commented on #19314
reproduced issue on `v2.2.1` .
**Steps taken:**
1. create a node template(type - AWS) via API v3. Give in values for field `amazonec2Config` - { "accessKey": "xyz",
"secretKey": "yyy"}.
2. Click on send request.
3. Error is seen as below:
[code]
verified on `rancher/rancher:v2.2.2-rc1`.
**Steps taken:**
1. create a node template(type - AWS) via API v3. Give in values for field `amazonec2Config` -

[2019-04-03 18:36] Baykonur commented on #18831
Indeed. Thanks I missed that initially when I posted this issue.
That is the internal IP address of the Kubernetes API Server which the Rancher container cannot directly reach.
I would have somehow expected to see the external IP address of the Kubernetes API instead.

[2019-04-03 18:40] sowmyav27 commented on #19219
verified on `rancher:master`(04/03/2019)
**Steps taken:**
1. create a node template(type - AWS) via API v3. Give in values for field amazonec2Config -
[code]

[2019-04-03 18:40] davidnuzik commented on #19335
Related: #18731

[2019-04-03 18:44] davidnuzik commented on #19114
@daxmc99 I tested in v2.2.2-rc1 and I too cannot reproduce this now. Note step #2 should have been edit basically per the issue steps you:

- Create proper AKS cluster with proper SSH key
- EDIT AKS cluster make ssh key field have "garbage data" (literal string I put in)
- EDIT AKS cluster again and fix ssh key

It used to not worked (repro'd a few times) but now it seems to work?
Also possible wa

[2019-04-03 18:45] #19314 closed

[2019-04-03 18:53] sowmyav27 commented on #19312
reproduced on `rancher:v2.2.1`.
**Steps taken:**
1. Create an AWS node template
2. Select `cn-north-1` or `cn-northwest-1`
3. give in the aws key and secret
4. Click Create
Error `AuthFailure: AWS was not able to validate the provided access credentials` is seen.

Verified on `rancher/rancher:v2.2.2-rc1`.
**Steps taken:**
1. Create an AWS node template
2. Select `cn-north-1` or `cn-northwest-1`
3.

[2019-04-03 18:53] davidnuzik commented on #19335
**Replication Steps:**
v2.2.1
- Try to create do/ec2/azure/vsphere node templates without any cloud credentials. (azure and vsphere are the ones that had the issue before due to how they are designed)
- Not possible with any, UI blocks this `Validation failed in API: Cloud Credential must be set is required`

**Validation Steps:**
v2.2.2-rc1
- Try to create do/ec2/azure/vsphere node templates with

[2019-04-03 19:08] sowmyav27 opened #19370 "Incorrect error message displayed on while creating an AWS node template for china region"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a AWS node template
2. select cn-north-1 or cn-northwest-1.
3. Enter correct Access Key and Secret Key (but **not authorized** to use China region)

**Actual Result:**
Error - `401 AuthFailure: There was a problem validating your keys. Enter valid

[2019-04-03 19:10] #19335 closed

[2019-04-03 19:19] materemias commented on #16223
even basic caching would be totally welcome!

[2019-04-03 19:25] alena1108 opened #19371 "Backport: Panic when attempting to view metrics for workload."
Backport https://github.com/rancher/rancher/issues/19358

[2019-04-03 19:35] sowmyav27 opened #19372 "Typo in error message displayed for using incorrect and unauthorized credentials while creating node templates"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Create an AWS or DO node template. Create a new cloud credential.
2. Select a region you are authorized for.
3. AWS - Enter invalid Access Key/Secret Key; DO - enter invalid Access token.
4. Error `401 Unauthorized: There was a problem validating your key

[2019-04-03 19:39] davidnuzik commented on #19337
**Replication Steps:**
v2.2.1
_From https://github.com/rancher/rancher/issues/19168#issuecomment-477388917_

As admin, create a cluster - cluster1 and assign user1 as cluster member.

- Log in as user1.
- Create a project.
- Deploy an App in this project.
- Notice that when you click on "launch" for the first time the API does provide a 403 forbidden error.
- If you click the "Launch" button to de

[2019-04-03 19:39] #19337 closed

[2019-04-03 19:39] davidnuzik commented on #19168
Note: Validated against v2.2.2-rc1 in #19337 (but will need to be checked again in v2.3)

[2019-04-03 19:43] ts-mini commented on #18797
I'm seeing a similar error on 2.2.1

I am experiencing 'socket leaking' (tcp alloc sockets) on a control plane node originating from whichever host is running the `cattle-cluster-agent` pod.  The sockets are being kept alive from the cattle-cluster-agent and I'm wondering if this log line is an indication that whatever initiated the request attempted to cancel it, and it never did thus leaving a h

[2019-04-03 19:49] davidnuzik commented on #19336
**Replication Steps:**
v2.2.1
(From #19236)

- As admin , Create a cluster c1 and add user test1 as "cluster member".
- Deploy any app , say redis.
- Log in as test1 . Create a new project.
- Deploy the same app , redis.
- User is brought back to the same page and no error message is presented.

In this case, namespace creation actually failed with following error message -
{"baseType":"error","co

[2019-04-03 19:49] #19336 closed

[2019-04-03 19:50] davidnuzik commented on #19236
Note: Validated in v2.2.2.-rc1 in issue #19336 (will need to be checked again in v2.3)

[2019-04-03 19:57] #18404 closed

[2019-04-03 19:57] davidnuzik opened #19373 "Node Driver: Open Telekom Cloud does not activate"
Version: v2.2.1, v2.2.2-rc1, v2.1.8
Pre-existing issue, but I believe this changed because binary changed and so our hardcoded checksum is now wrong in any release.

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Go to (Global) -> Tools -> Drivers and Node Drivers tab
- Activate Open Telekom Cloud

**R

[2019-04-03 20:21] DominicGunn opened #19374 "Okta login fails through tile."
**What kind of request is this (question/bug/enhancement/feature request):**

This is a bug. When trying to access Rancher through an Okta tile (shown below), login fails. When logging in through the 'Login with Okta' button, login succeeds.

<img width="295" alt="Screenshot 2019-04-03 at 21 20 39" src="https://user-images.githubusercontent.com/4493719/55510509-5a14ce80-5656-11e9-8a95-ed3b13429220

[2019-04-03 20:22] canhnt commented on #15856
@GregorPirolt : You can take a look on [etcd maintenace](https://coreos.com/etcd/docs/latest/op-guide/maintenance.html)

[2019-04-03 20:26] #19254 closed

[2019-04-03 20:28] sowmyav27 opened #19375 "Discrepancy between error message displayed on the UI and in the Response"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

Create an AWS or DO node template. Create a new cloud credential.

**Scenario#1**
Select a region you are authorized for.
AWS - Enter invalid Access Key/Secret Key; DO - enter invalid Access token
**Error on UI** -
[code]
**Error in the Response from the AP

[2019-04-03 20:32] davidnuzik commented on #19330
**Replication Steps:**
v2.2.1

- Add a custom node driver such as https://mxschmitt.github.io/ui-driver-hetzner/
- The driver will download and activate
- Try to add a node template for it -- notice it does not appear to actually be ready - icon is missing and if you click on it you will see the following (no UI)
![image](https://user-images.githubusercontent.com/45179589/55510038-2e6ff500-5612-11