[2016-10-04 22:19] galal-hussein opened #6142 "Configuring out of resources handling in Kubernetes"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

Kubernetes should have eviction policy by configuring kubelet to preserve node s

[2016-10-04 22:19] leodotcloud commented on #4929
@jwhitcraft Are you still facing this problem? If yes, can you please share steps to reproduce the issue?

[2016-10-04 22:20] galal-hussein commented on #6063
- [ ] Eviction policies #6142

[2016-10-04 22:23] leodotcloud commented on #4691
Changes have been implemented here: https://github.com/rancher/cni/commit/4f858a10ae7c2ce3304b4d422509ca9bd9793a0a

Currently these changes are working for Kubernetes Environment and Cattle Environment will be able to leverage these changes once @ibuildthecloud pulls in CNI support for Cattle.

[2016-10-04 22:24] #4691 closed

[2016-10-04 22:57] deniseschannon commented on #4897
We've decided that to remove scale from bindings and continue to operate scale as a separate command in rancher-compose and separate update in the UI.

[2016-10-04 23:06] deniseschannon commented on #5271
Closing in favor of https://github.com/rancher/rancher/issues/4010
and https://github.com/rancher/rancher/issues/6132

[2016-10-04 23:06] #5271 closed

[2016-10-04 23:23] leodotcloud commented on #3806
@nhumrich I just played with the security groups on AWS. The behavior I am seeing is it all traffic is blocked except those specified in the security group. To enable the private IP to work with I had to add the private IP subnet in the security group. You were able to see the hosts in the Rancher UI because you would have specified port 8080 in the security group and the initial connection from t

[2016-10-04 23:32] sangeethah opened #6143 "Include message about volume template being created/reused when services with volumes having external=false is deployed."
Rancher Version:Build form master

Steps to reproduce the problem:
Create a service with shared volume ( at stack level using external: false).
This results in new volume being created which gets mounted on every service container.

There is no indication in the messages presented to the user about this volume being created.

[code]
[code]

[2016-10-05 00:07] leodotcloud commented on #3092
@miv @AKoetsier @cooperaj
I have just setup a cluster on AWS and deployed an NGINX container with a simple UDP server running inside with the ports exposed. I see the traffic going through. Also I ran the UDP server on a different cloud server and connected from inside this nginx container and that worked too. I had to open the port on AWS for the server to be able to get the traffic from outside.

[2016-10-05 00:08] sangeethah opened #6144 "On deletion of stacks , volumes created at stack level (external=false) is not being deleted."
Rancher Version:Build form master

Steps to reproduce the problem:
Create a service with shared volume ( at stack level using external: false).
This results in new volume being created which gets mounted on every service container.

Delete this stack.
When the stack is deleted , the volume continues to be present in "inactive" state.The volumes continue to be present in the nfs store.

Expected Be

[2016-10-05 00:20] soumyalj opened #6145 "Swarm-kit containers stuck in initializing state when a 5 node cluster is started."
Rancher Version: v1.2.0-pre3

Docker Version:1.12.1

OS and where are the hosts located? (cloud, bare metal, etc):Ubuntu 14.0.4, Cloud

Steps to Reproduce:
1. Create a 5 host swarm cluster by using the catalog https://github.com/LLParse/swarmkit-catalog. Use Digital Ocean hosts.
Set CATTLE_AEGNT_IP=internal ip for the hosts. Once the catalog is launched, the swarm cluster does not come up successf

[2016-10-05 00:25] sangeethah commented on #6144
The same behavior is also noted when scaling down services that are deployed with ```per_container: true```. The volume of the containers that have been deleted continue to remain in "inactive" state in rancher-server. The volumes continue to be present in the nfs store.

[2016-10-05 00:40] sangeethah commented on #6143
Also when created service ends up using the existing volume (in stack scope), present this information to the user.

[2016-10-05 00:47] sangeethah opened #6146 "Error out when per_container: true and external: true is specified for a volume."
Rancher Version: Build form master
Rancher compose Version: rancher-compose-v0.11.0-rc1

Steps to reproduce the problem:
Create a service with volume at container level using the following yml:

[code]

In this case , external-true takes precedence.

Instead of this , we should provide user an error message stating that both per_container and external cannot be set to true.

[2016-10-05 01:06] joshwget commented on #5516
@dj-hedgehog  I'd say that using `--force-upgrade` is the proper solution here rather than a workaround.

@sjulean-elan Like Docker Compose, Rancher Compose tracks what needs to be upgraded based on changes to configuration rather than changes to images. I'm a little hesitant to incorporate the current image into the service hash (what we use to decide whether or not to upgrade). This feels like i

[2016-10-05 01:16] weikinhuang commented on #6139
Flushed all my firewalls with `iptables --flush` and `iptables -tnat --flush` then restart docker fixed it

[2016-10-05 01:16] #6139 closed

[2016-10-05 01:50] nhumrich commented on #3806
I've just been using the private ip's when registering with rancher and that seams to work.

[2016-10-05 01:50] #3806 closed

[2016-10-05 02:04] aemneina commented on #5374
Sorry for lagging, I usually inject the settings into the db with: `insert into setting values (null,'ha.cluster.size','3'),(null,'ha.enabled','true')`.

[2016-10-05 03:27] andylmtang opened #6147 "Kubernetes: Non resolvable DNS when the pods are set to hostNetwork=true"
**Rancher Version:**
Ranch Server 1.1.4

**Docker Version:**
Docker 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS in DigitalOcean

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher w external DB.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes. 1.2.4-rancher10. Three Nodes

**Ste

[2016-10-05 03:43] deniseschannon commented on #3918
@vincent99 Can you look at this issue and see if we're addressing it with the new performance fixes for UI?

[2016-10-05 04:02] virtuman opened #6148 "Production deployment is practically dead. Tried everything, can't resolve, rancher keeps on failing"
Production deployment is practically dead. Tried everything, can't resolve, rancher keeps on failing and not able to schedule anything new. DNS cannot be resolved from inside rancher server container and after adding it manually it only renders some of the rancher functions to open, but nothing works.

I tried to restart the rancher server node and it didn't want to start rancher up, numerious res

[2016-10-05 04:04] vincent99 commented on #5916
Linux will not retry a query if a server responds with an error.  A second "backup" server is only used if the connection to the main one times out or refuses connection, not because you received a failure response

The DNS server runs in the Network Agent container and might log something relevant.  Or you can edit /etc/init.d/rancher-dns and add `-debug`.

@virtuman There should be:
  - Exactly

[2016-10-05 04:26] ajacques opened #6149 "DnsSearch path is broken with wildcard domains"
I have a domain name `example.com` that has a wildcard record such that `*anything*.example.com` returns an A/AAAA record `1.2.3.4`. (i.e. I have a record defined `*.example.com IN A 198.x.y.z`.)

I have a Rancher configured with 2 unique hosts on that domain name: (`host1.example.com` and `host2.example.com`.)

I have a Rancher stack using the Managed network adapter:

[code]

From inside the Exa

[2016-10-05 04:41] vincent99 commented on #6149
Your search path is first because you (or your network) have explicitly configured the hosts to have that.  It is much safer to assume that unqualified names work the same as they do on the ready if your network than to allow one user to potentially accidentally overwrite a name other containers use.

Obviously this doesn't mix well with a wildcard entry, but it is not currently configurable, othe

[2016-10-05 04:45] ajacques commented on #6149
The search path is just using the default search path provisioned by Rancher and I didn't explicitly configure the search path in the Rancher UI (Note no custom search path defined in the docker-compose.yml file).

Where is it pulling the `example.com` search path from if not from the Rancher service configuration?

[2016-10-05 04:51] vincent99 commented on #6149
resolv.conf on the host

[2016-10-05 07:25] cloudnautique opened #6150 "Switch from K8s back to cattle causes rancher ps to dump json"
**Rancher Version:**
v1.2.0-pre3
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Laptop
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
K8s->Cattle
**Steps to Reproduce:**
Create environment
Deploy K8s
Then change back to cattle

**Results:**
`rancher

[2016-10-05 07:40] vincent99 commented on #3918
Yes, things will be faster in general.  Further improvement later with paged views instead of showing the whole world.

[2016-10-05 07:43] vincent99 commented on #6148
Need much more specific information..
  - What does "DNS doesn't work" mean?
    - You say inside rancher server container but service discovery names (`service.stack.rancher.internal`) are not supposed to be resolvable inside the server container, it's not part of any particular environment.
    - And the server container should not be pointed at the network agent/internal DNS in the first place

[2016-10-05 08:05] sjulean-elan commented on #5516
@joshwget Agreed, the `--force-upgrade` approach with only certain services as arguments can work.

If you ask me, it's still a workaround, because to automate this you need to select _which_ services to upgrade. If this is out of scope for Rancher Compose, it follows that it must be left to its user as a task. Furthermore, you need to use the Rancher API to find out whether you need to upgrade or

[2016-10-05 08:15] roffe opened #6151 "Traefik catalog entry broken - produces a empty unhealthy stack"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
CoreOS v1122.2.0

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Try to install Traefik through catalogue

**Results:**
Unhealthy and no conta

[2016-10-05 09:31] funkydorian opened #6152 "Remove the Instance from AWS after Deleting the environment"
**Rancher Version: 1.1.4

**Docker Version: 1.12

**OS and where are the hosts located? (cloud, bare metal, etc): AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB) HA rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos) Cattle

**Steps to Reproduce: Deactivate environment, Delete environment

**Results: Instances stay on AWS

**Expected: Instances must

[2016-10-05 09:33] funkydorian commented on #6152
Seems terminated but takes some time to see the termination process begins, seems eventual consistency!

[2016-10-05 09:33] #6152 closed

[2016-10-05 09:43] tonythian opened #6153 "rancher-agent failed to start after upgraded ubuntu to 16.04.1"
I can't start rancher-agent on my ubuntu VM after it has been upgraded from 15.04 to Ubuntu 16.04.1 LTS (4.2.0-42-generic) this morning.  The docker logs shows the following:

INFO: Running Agent Registration Process, CATTLE_URL=http://office.oncloud.tech:8080/v1
INFO: Checking for Docker version >= 1.6.0
INFO: Found Server version: 1.11.2
INFO: docker version: Client version: 1.6.0
INFO: docker v

[2016-10-05 09:54] OlivierCuyp commented on #2558
We are in the testing phase of Rancher, coming from DockerCloud.
DockerCloud propose 3 deployment strategies :

- Emptiest node: containers are deployed on the node that has the least containers running
- Every node: 1 container will be deployed on each node (no scaling possible)
- HA: containers will be spread equally on each node

All our application's containers are currently deployed in HA.
Th

[2016-10-05 13:47] roffe opened #6154 "Rancher HA cluster random errors when using Percona XTRA DB Cluster ( Galera )"
**Rancher Version:**
1.1.14
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
CoreOS V1122.2.0 for docker, Ubuntu 16.04 for DB

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA 3 nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Try to setup Rancher using a Percona X

[2016-10-05 14:26] fabionitto opened #6155 "lb-controller support for scheduling labels"
**Rancher Version: v1.1.4**

**Docker Version: v1.10.3**

**Using CoreOS 1122.2.0**

**Environment Type: Kubernetes**

I couldn't figure out how to automatically schedule loadbalancers pods on selected nodes using Ingress and lb-controller.  Am I missing something?

There could be a way to utilize annotations to manage this. Something like:

[code]

That way it would be possible to fire up LBs on

[2016-10-05 14:31] cjellick commented on #6005
@sangeethah we fixed this, right?

I believe this was the bug caused by the combination of sidekicks are volumes-from with the scheudler changes and it was addressed in this PR: https://github.com/rancher/cattle/pull/2011

[2016-10-05 14:32] cjellick commented on #6140
@ibuildthecloud is completely refactoring how volumes work in stacks, so that it actually makes sense. This was a scenario we explicitly discussed.

[2016-10-05 14:37] cjellick commented on #4592
Legit issue with back population. For some reason, we decided to only do full back population for "native" containers, not ones started in rancher, and that causes us to miss certain fields that were defined in the image.

That said, I don't think this is critical for 1.2.0. Can we bump out?

[2016-10-05 14:39] clescot commented on #6053
Hi,
i think the only possible fix is to stop your 1.2-pre-X rancher server, rollback your mysql database to a previous state (when your rancher server was running a 1.1 release), and launch a 1.1 rancher server.
hope it helps,
Charles.

[2016-10-05 14:42] lucacri commented on #6053
@clescot How do I roll back the DB? I had a lot of changes in the infrastructure/services since i switched to 1.2-pre-X..

Is there a way to just roll back the schemas changed during the 1.2-pre upgrade?

[2016-10-05 14:48] clescot commented on #6053
@lucacri , i don't know some way to only rollback  schemas changes done after the 1.2-pre upgrade.
To rollback your db, you need to have previously put a backup mechanism with some kind of retention.
i use with success this mysql backup to aws image : https://hub.docker.com/r/nickbreen/mysql-backup-cron/

cheers,
Charles.

[2016-10-05 14:49] clescot commented on #6053
You should note that a 1.2-pre4-RC1 release is out since few hours, but i don't know if it fix, although partially, our problem......

Charles.

[2016-10-05 15:04] jhmartin opened #6156 "Feature: CLI HA Setup"
Generating and downloading the HA configuration seems to be only accessible in the GUI, which is very awkward to automate.  It looks like the interaction is done via websockets so reproducing the commands with something like Curl is also not feasible.

Please provide a mechanism to generate and download the HA configuration outside of the GUI.

(1.1.4)

[2016-10-05 15:37] deniseschannon commented on #6053
Please do not use v1.2.0-pre4-rc1, there are lots of infrastructure changes that still need to be tested.

[2016-10-05 15:53] nhumrich commented on #5916
I dont see any logs. Where exactly do I need to put the `-debug` statement inside of `/etc/init.d/rancher-dns`?

[2016-10-05 16:38] deniseschannon commented on #3571
https://forums.rancher.com/t/using-rancher-cli-to-do-upgrades-without-dealing-with-docker-compose-yml/4187

[2016-10-05 16:41] QIvan commented on #3826
@deniseschannon @tfiduccia
Hi again! Did you close this issue because it's implemented? Where can I see inspect of a container (I didn't find this info in the release notes)?

[2016-10-05 16:52] lucacri commented on #6053
@deniseschannon I installed the pre4-rc1 just because my cluster is for all intents and purposes useless at the moment. Rc1 is still unusable.. Any way I can revert to 1.1.3?

I can't rebuild the server from scratch because I have 118 hosts

[2016-10-05 17:07] deniseschannon commented on #6040
Since you can deactivate the driver, this can stop the errors. This will not be addressed in 1.2.0

[2016-10-05 17:14] vincent99 commented on #3826
[Almost] all the fields are shown in the UI in 1.2.x:

![image](https://cloud.githubusercontent.com/assets/753917/19123683/6fe3b7ac-8ae4-11e6-8aba-bd51e0be3edb.png)

[2016-10-05 17:15] jclark360 commented on #6117
I get the same thing where hosts are duplicated and rancher appears to be trying to reconnect them, even though the same host/ip is up?

![image](https://cloud.githubusercontent.com/assets/6331228/19123706/af0fbdb8-8afd-11e6-8a7a-b4d361c7b68d.png)

[2016-10-05 17:21] sangeethah commented on #5714
Rancher compose Version: rancher-compose-v0.11.0-rc1 has support for docker-compose v2 volumes .
Issues found when testing this feature are tracked as separate issues. Some of them found so far:
https://github.com/rancher/rancher/issues/6138
https://github.com/rancher/rancher/issues/6140
https://github.com/rancher/rancher/issues/6141
https://github.com/rancher/rancher/issues/6142
https://github.co

[2016-10-05 17:21] #5714 closed

[2016-10-05 17:27] EugenMayer commented on #5714
Those are great news, thank you a lot!

[2016-10-05 17:27] sangeethah commented on #6081
This issue is not seen anymore.
Validation tests on master builds uses rancher-compose version - v0.9.2 which supports only v1 apis. Test cases using   rancher-compose client succeeds.

[2016-10-05 17:27] #6081 closed

[2016-10-05 17:30] vincent99 opened #6157 "Infra catalog migrations needed"
Exactly once after upgrade to 1.2, we need some data migrations to support new catalogs:
- Update catalog setting:
  - Change any entries with a value of `https://github.com/rancher/rancher-catalog(.git)?` to `https://git.rancher.io/rancher-catalog`
  - Change any entries with a value of `https://github.com/rancher/community-catalog(.git)?` to `https://git.rancher.io/community-catalog`
- Change or

[2016-10-05 17:39] tiangolo commented on #5714
Excellent!

[2016-10-05 17:54] LLParse commented on #6098
@deniseschannon I see you assigned this to me...do you want me to fix metadata? Or are we going to revert to putting loops at the top of every container to wait for metadata to become reachable?

[2016-10-05 17:57] sangeethah commented on #3950
Tested with rancher-server version - v1.2.0-pre4-rc1.

Scenario 1:
When launching stacks in the UI with invalid yml files, user is presented with the error message about the error like  ```Error (Unsupported config option for test1 service: 'label')````  and stack is in "error" state.

We are not able to create new services under this stack .User is presented with error message - ```Validation fai

[2016-10-05 18:04] amsdard commented on #583
I have similar needs, but access permissions per stack would do me as good as sharing host across environments.

[2016-10-05 18:18] sangeethah opened #6158 "Not able to deploy "Rancher NFS" catalog"
Rancher Version: v1.2.0-pre4-rc1

Steps to reproduce the problem:
Try to deploy "Rancher NFS" catalog from "Infrastructure Stacks".

docker-compose.yml has references to AWS keys instead of NFS configurations.

[code]

[2016-10-05 18:56] deniseschannon commented on #6040
After speaking with @chrisurwin, the issue is that you cannot actually deactivate the driver when there is no internet. It is automatically being re-activated even though you have de-activated it and continually trying to download the driver details.

There should probably be 2 fixes:

1. If there is no internet access and we disable the driver, it should remain disabled and not reactivate.
2. If

[2016-10-05 19:32] leodotcloud commented on #4929
Hi @jwhitcraft, closing the issue for now. If you are still facing the problem, you can reopen with the detailed steps to reproduce so that we can debug further.

[2016-10-05 19:32] #4929 closed

[2016-10-05 19:33] jwhitcraft commented on #4929
Sorry, ya it's been fine for a while.

[2016-10-05 19:34] sangeethah opened #6159 "Inter host network communication over manage network is broken."
Rancher Version: rancher/server:v1.2.0-pre4-rc1

set up has 2 hosts.

Steps to reproduce the problem:
Start 1 container in each of the hosts.

Try to ping between the host using its managed network Ip address.
Ping does not succeed.

[2016-10-05 19:50] LLParse commented on #6145
Fixed in template version `1.12-rancher2`

[2016-10-05 19:57] dirosden commented on #4478
Hi, Would like to know if this is achievable in some form on v1.1.4. I have a salt-minion running within the container. I would like to give the minion a unique ID based on the Container UUID, Stack and Service. Idea is to ensure no two minions get the same identifier when seen from the master. Knowing fully well, I am mutating the container, is this possible today?

[2016-10-05 20:07] sangeethah opened #6160 "2 entries shown in hosts view for every host added."
Rancher server version - v1.2.0-pre4-rc1

Steps to reproduce the problem:
Add a Digital Ocean host.
There is 1 host entry that appears immediately which does not have any info about the host and where containers cannot be deployed .

After some time I see the real host entry show up where containers can be deployed.

<img width="1370" alt="screen shot 2016-10-05 at 1 04 36 pm" src="https://cloud.g

[2016-10-05 20:08] cloudnautique commented on #3138
This is being addressed in the secrets API

[2016-10-05 20:12] vincent99 commented on #6003
@sangeethah seems fine to me, the validation for that field goes away if there is a value entered.

[2016-10-05 20:38] aemneina opened #6161 "have rancher-metadata environment object available for standalone containers"
Currently the environment metadata can only be queried by containers that reside in a stack. It might be helpful to move the environment object to containers, or self, path.

[2016-10-05 20:41] sangeethah opened #6162 "Editing hosts to add labels fails with error message - "Name" is required"
Rancher server version -

Steps to reproduce the problem:
Edit host and add a new label and click on "Save".

<img width="978" alt="screen shot 2016-10-05 at 1 38 29 pm" src="https://cloud.githubusercontent.com/assets/4266958/19130679/15034876-8b01-11e6-853a-0e0e398f4829.png">

[2016-10-05 21:15] sangeethah opened #6163 "Host label affinity scheduling rule is not functional."
Rancher server version - v1.2.0-pre4-rc1

Steps to reproduce the problem:
Add a label (hello1=value1) to one of the hosts.

Add a service with scheduling rule - "host must have a host label hello1=value1"

service is stuck in "activating" state for ever and has error -

```(Failed to allocate instance [container:1i55]: Bad instance [container:1i55] in state [error]: Scheduling failed: needs host w

[2016-10-05 21:22] Droxyum opened #6164 "ear"
**Rancher Version:**

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**

**Results:**

**Expected:**

[2016-10-05 21:26] jhmartin commented on #5446
CoreOS beta with Docker 1.11.2 experiences this issue:

Docker version on coreos:
[code]

https://github.com/docker/docker/issues/20865 describes this behavior as well.   rancher agent 1.0.2 is compiled with go1.4.x.

[2016-10-05 21:27] sangeethah commented on #3732
Tested with Rancher server version - v1.2.0-pre4-rc1.

While creating stack , we now provide the ability to override "labels" and ""ports" that are specified in docker-compose/rancher-compose.yml files by passing bindings parameter.

Need UI support for exposing the bindings parameters.

[2016-10-05 21:27] sangeethah commented on #2852
Tested with Rancher server version - v1.2.0-pre4-rc1.

While creating stack , we now provide the ability to override "labels" and ""ports" that are specified in docker-compose/rancher-compose.yml files by passing bindings parameter.

Need UI support for exposing the bindings parameters.

[2016-10-05 21:39] jzakrzeski commented on #5321
I've run into this as well. Filtering works fine for projects and environments, but not for services: it just returns the whole stack.

i.e.: http://rancher.local:8080/v1/projects/1a7/environments/1e111/services?name=rate-limit-service will return the same exact data as http://rancher.local:8080/v1/projects/1a7/environments/1e111/services

Info:

Component | Version
--------- | -------
Rancher | v

[2016-10-05 22:04] raphink commented on #3138
@cloudnautique is there a ticket to follow progress on this API, or is it already implemented?

[2016-10-05 22:10] cloudnautique commented on #3138
@raphink its largely to address: #1269

[2016-10-05 22:20] vincent99 commented on #5321
@jzakrzeski yes the sub-resource selection ( services of environment 1e111) is a form of filter and takes precedence instead of intersecting.

/v1/projects/1a7/services?environmentId=1e111&name=rate-limit-service

Will work.

[2016-10-05 22:30] willseward commented on #6164
I hear ya...

[2016-10-05 22:30] mrajashree commented on #6073
The `upgradeFrom` field can hold three types of values
1. Just a number: `1.0.0`, 2.0.0`
2. Number with an operator: `>=1.0.0.`, `<=2.0.0`
3. Range: `>1.0.0 <2.0.0 || >3.0.0`

[2016-10-05 23:01] sandysandman commented on #3589
+1
Spring Cloud Netflix Zuul has this problem as well. We are running a service discovery service, where other services register themselves to it when they start up using their hostname, so that they are discoverable. Zuul then chokes when trying to proxy to the services because it cannot parse hostnames with underscores.

`Caused by: java.lang.IllegalArgumentException: Host name may not be null`

[2016-10-05 23:29] virtuman commented on #6148
I should have been a lot more specific:

**DNS doesn't work**
means that it can't resolve any public DNS at all, ie it will just hang forever:
[code]

and as described in the original ticket - we use external LDAP server and MYSQL services, hence the DNS for these services cannot be resolved and rancher is just idling when I try to login. In case cases, when I open rancher UI - and on the login pa

[2016-10-05 23:41] mrajashree commented on #1690
We support global whitelist with the referenced PR, as per this issue: https://github.com/rancher/rancher/issues/5799

[2016-10-06 00:08] soumyalj commented on #6145
Tested with template version  1.12-rancher2. 5 host swarm cluster came up successfully.

[2016-10-06 00:08] #6145 closed

[2016-10-06 03:14] #6164 closed

[2016-10-06 05:11] aemneina opened #6165 "RFE: Rancher server in a federated model"
Ability to run rancher servers in a distributed highly available manner. Running rancher servers local to the datacenter's they manage as a shard/part to a larger rancher deployment. Each shard could have it's own dedicated database.

[2016-10-06 05:31] aemneina commented on #5393
similar second request/use case

We want to configure Rancher Server LDAPS to use our company's root certs by deploying the certs via container. The problem is the `rancher/server` service expects the `ca.crt` to be in the root of the file system

If the `rancher/server` instead expected the `ca.crt` file to be in something like `/certs/ca.crt` we could then use use `--volumes-from` and import the

[2016-10-06 05:53] cloudnautique opened #6166 "Safari Browser back button doesnt allow selecting versions from drop down"
**Rancher Version:**
1.2.0-pre3
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Baremetal/cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
With safari browser
1. Click on catalog
2. Select kibana
3. Select ve

[2016-10-06 07:59] dj-hedgehog commented on #5992
The troubling machine is a dedicated server at http://www.server4you.com/
We're also using Cattle.

[2016-10-06 09:52] Tigraine commented on #5951
@aemneina What is your recommendation for a AWS EC2 based docker-ha setup regarding which ubuntu version and docker version seems most stable? Thanks!

[2016-10-06 10:56] Dids commented on #6163
I'm also seeing this, but only when specifying more than one label.

[2016-10-06 13:02] rlex opened #6167 "Cosmetic/usability bugs in 1.2.0-pre4-rc1"
**Rancher Version:**
1.2.0-pre4-rc1

Should i split them in separate tickets?

1) Go to catalog, choose any catalog but "all", you will see "Catalog: All" on any page. I suspect that should show current catalog rather than "all". For example, i've chosen "mediadepot" catalog, but it still says "All".

<img width="568" alt="screen shot 2016-10-06 at 3 58 53 pm" src="https://cloud.githubusercontent.

[2016-10-06 13:20] rlex opened #6168 "Load balancer do not remove links, leaving description broken"
**Rancher Version:**
1.2.0-pre4-rc1

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

1) add couple of services/containers for using behind LBA
2) add load balancer
3) add two targets for LBA created in pt. 1
4) remove one of containers behind LBA

**Results:**
You will see container with name "/" in description

**Expected:**
Entry should be completely gone

[2016-10-06 14:42] guyspronck opened #6169 "Recreate from health check does not re-create links"
**Rancher Version:**
v1.1.4

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Three hosts on three different physical servers with internal DB. (No HA setup yet)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

1. Setup

[2016-10-06 15:28] bdentino opened #6170 "Rancher UI token collides with token on different subdomain"
**Rancher Version:**

Rancher 1.2.0-pre2

**Docker Version:**

v1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

RancherOS on AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single Node, External DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**

We host our rancher UI at `https://rancher.

[2016-10-06 15:44] vincent99 commented on #6167
@rlex most of these are fixed in master already, but FYI you really don't want to be using rc1; a lot is broken, including cross host networking in general.

[2016-10-06 15:49] rlex commented on #6167
this is test installation "for fun". So if i want to test new things, i want to use -pre without -rc?

[2016-10-06 15:53] alfirin opened #6171 "Use docker bundle to create stack / services"
**Rancher Version:**
1.2 / 1.3

**Docker Version:**
1.12

**Improvement**
Could we use the new `docker bundle` command in order to package our services.

It could be useful in order to create / upgrade / delete a particular stack.

See [here](https://github.com/docker/docker/issues/26876) in order to view the `docker bundle` documentation.

[2016-10-06 16:45] alena1108 opened #6172 "Add cloudProvider as an option (enum) to the k8s template"
Today we default cloud provider to Rancher for our k8s template. But as might need to register a provider as an original one - AWS, GCE - in order to exercise certain features like PVs, ELG, so we'd have to enable it as an option. It should be enum (list of all providers supported by k8s, Rancher as a default one)

[2016-10-06 16:51] alena1108 commented on #4310
I think it would still make sense to exclude the service endpoint w/o any targets on the host, from the LB configured on Rancher. We should research how to do it, fix it on our cloud provider side by NOT including external service link having 0 targets on the host.

[2016-10-06 17:22] sangeethah opened #6173 "suppress "agent, data: not empty" which happens every 5 seconds in the logs."
Server version - Build from master
rancher/agent version :v1.1.0-rc1

[code]

[2016-10-06 17:24] sangeethah opened #6174 "Need a way to get the version of go-agent running on hosts."
Rancher Version: Build from master

Currently there is no way to get the version of go-agent running on hosts.

[2016-10-06 17:29] will-chan commented on #5701
@vincent99 I'm not sure where the issue is at.  At metadata, stored in DB, somewhere lost in translation...

[2016-10-06 17:30] will-chan commented on #5566
@joshwget can you see if this is a ROS problem or our agent that isn't making the right calls to get the correct storage size.

[2016-10-06 17:31] tfiduccia opened #6175 "Host waiting page not showing up for new environments"
**Rancher Version:** master 10/6

**Steps to Reproduce:**
1.  Create a new environment
2.  Switch to this environment

**Results:** Get Adding your first stack

**Expected:** Should get Adding your first host

[2016-10-06 17:45] tfiduccia opened #6176 "Messages for host setup is not formatted and showing multiple states"
**Rancher Version:** master 10/6

**Steps to Reproduce:**
1.  Setup a new host

**Results:** Text is not formatted.  State is showing up twice and Setting up machine is always there?
![image](https://cloud.githubusercontent.com/assets/11514927/19163675/c7531f46-8bb1-11e6-914d-57bc2a57fe55.png)

**Expected:** Make the text centered and only show information once

[2016-10-06 17:48] joshwget commented on #5566
According to @StrongMonkey cadvisor is currently responsible for disk stats. Once there is a release of the new agent without cadvisor I'll retest to see if it fixes the issue.

[2016-10-06 17:52] sangeethah commented on #6073
Tested with rancher-server version - v1.2.0-pre4-rc1
Rancher catalog service now supports for upgrade_from and  maximum_rancher_version fields to be added in the rancher-compose.yml.

UI needs to pass maximumRancherVersion_gte=<currrent rancher server version> to http://<server-version>:8080/v1-catalog/templates/ to use the maximum_rancher_version fields set on rancher-compose.yml.

[2016-10-06 18:00] alena1108 commented on #5571
I couldn't reproduce the issue. Had k8s cluster around for 3 days with ingress in it, and the targets are still present. Please test and see if you can reproduce it.

[2016-10-06 18:03] aemneina commented on #5992
@dj-hedgehog are all your hosts, including the working ones, using that provider? we might be able to eliminate that as being the issue and narrow down on what could be causing the problem.

[2016-10-06 18:05] aemneina commented on #5951
I personally use RancherOS 0.4.5 (shameless plug), but I've had success with ubuntu 14.04 and centos 7.2 (using docker 1.10.3), in production. I only stray from that kind of config when I absolutely want to try some new feature/fix in a dev/test sandbox.

[2016-10-06 18:21] tfiduccia opened #6177 "Clicking on Add From Catalog button on main stack page goes to blank catalog page"
**Rancher Version:** Master 10/6

**Steps to Reproduce:**
1.  Go to settings and enable all catalogs
2.  Go to main stack page and click on "Add from Catalog" button

**Results:** Goes to empty catalog.  The button is going to http://url address/env/1a16/catalog?catalogId=null

**Expected:** Should go to All Catalogs page.

[2016-10-06 18:23] tfiduccia commented on #6094
Version - master 10/6
Verified fixed

[2016-10-06 18:23] #6094 closed

[2016-10-06 18:24] tfiduccia commented on #5981
Version - master 10/6
Verified fixed

[2016-10-06 18:27] #5981 closed

[2016-10-06 18:34] deniseschannon commented on #5566
Re-reading this issue, this is an issue with resizing not working in RancherOS, which is https://github.com/rancher/os/issues/1237.

Closing in favor of the issues in RancherOS as it is not a Rancher issue.

[2016-10-06 18:37] dj-hedgehog commented on #5992
I've got four hosts currently.
Two of them are hosted with another hoster.
Two are hosted with server4you

The one running  Ubuntu 14.04.4 LTS (with KVM) is working fine and doesn't show this error
The one running Ubuntu 16.04.1 LTS (with KVM) shows the problem above.

[2016-10-06 18:41] tfiduccia opened #6178 "Remove "as" in Service details page if there is no As Name for links"
**Rancher Version:** master 10/6

**Steps to Reproduce:**
- [ ] In both regular and mobile version of Service details.  In the links tab, if there is no "as" db entered.  Don't put the "as" in.

![image](https://cloud.githubusercontent.com/assets/11514927/17784571/d363235e-6531-11e6-91bd-916ed93b2476.png)

**Results:**

**Expected:**

[2016-10-06 18:44] tfiduccia opened #6179 "Kubernetes & main stack UI issues for mobile"
**Rancher Version:** master 10/6

**Results:**
- [x] At 695px, we switch back to regular menu instead of mobile?  Which looks fine for cattle environments but weird for kubernetes and other types.
  ![image](https://cloud.githubusercontent.com/assets/11514927/17786887/d5338c28-653b-11e6-89e7-846bfa2a5d04.png)
- [ ] kubectl page below 930px, the shell is not contained within the page.
  ![image](ht

[2016-10-06 18:44] tfiduccia commented on #5765
Version - master 10/6
Verified fixed

[2016-10-06 18:44] #5765 closed

[2016-10-06 18:46] joshwget commented on #5566
@deniseschannon I think the original issue here is that disk size is being reported as twice what it should be. When @tfiduccia tested her instance wasn't resized properly, but even if she had manually resized it the disk would be reported incorrectly.

[2016-10-06 18:46] tfiduccia commented on #5720
Version - master 10/6
None of this is fixed.  Mistakenly marked resolved

[2016-10-06 19:02] deniseschannon commented on #5566
Verified in v1.2.0-pre4-rc2.

As we have moved away from cadvisor, I tested with the new stats and disk size is being reported correctly when it is resized correctly in RancherOS.

[2016-10-06 19:02] #5566 closed

[2016-10-06 19:30] tfiduccia opened #6180 "Selecting kubernetes or other orchestration engines does not take me to Setting up page"
**Rancher Version:** v1.2.0-pre4-rc2

**Steps to Reproduce:**
1.  Enable Infrastructure Stack catalog in settings
2.  Go to All Stacks before you add any Stacks
3.  Click on Configure button on any Infrastructure stack

**Results:** Takes me to blank Stacks page

**Expected:**  Should take me to Setting up page

[2016-10-06 19:53] tfiduccia commented on #6126
Version - v1.2.0-pre4-rc2
Verified fixed

[2016-10-06 19:53] #6126 closed

[2016-10-06 20:57] soumyalj opened #6181 "Kubelet not starting up on RHEL7.2 with Docker 1.12.1 and Docker 1.11.2 (Kubernetes 1.4)"
**Rancher Version:**: v1.2.0-pre3

**Docker Version:**: 1.12.1 and 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**RHEL, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes 1.4

**Steps to Reproduce:**
1. Create a Kubernets setup on RHEL7.2 with Docker 1.12.1. Used https://github.com/rancher/rancher-catalog with qa branch

Kubelet does not startup succ

[2016-10-06 21:01] ebr commented on #3748
Stacks + services per environment would be most useful initially. I'm taking a stab at this by scripting calls to the API to download compose files for all the services.... It's very clunky at the moment.

[2016-10-06 21:10] mrajashree commented on #5352
Tried to reproduce this, instead of resulting in a 503 error, the latest version now displays a message saying `There are no compatible templates`. Once the catalogs are re-enabled and if github is not blocked, the latest catalog should be pulled from github, which it what it does currently, and hence pointing back to cached catalog on re-enabling won't work

[2016-10-06 21:20] aemneina commented on #5992
what version of docker on each?

[2016-10-06 21:39] virtuman commented on #6148
Another interesting fact:
I just now was able to login and browse a few pages in the UI - tried to enable High Availability to quickly add a few more hosts to the environment, and as soon as I clicked on Activate - rancher switched to new environment and things started to work absolutely normal, within this New Environment. As soon as I switched back to my real environment in rancher UI - web UI f

[2016-10-06 21:41] will-chan commented on #5433
Is this a regression?

[2016-10-06 21:42] tfiduccia commented on #5433
Yes.

[2016-10-06 21:44] aemneina commented on #6148
have you restarted docker after doing the firewall restart? That should reinstate some firewall rules relating to docker.

[2016-10-06 21:47] tfiduccia commented on #5818
Version - 1.2.0-pre4-rc2
Verified fixed

[2016-10-06 21:47] #5818 closed

[2016-10-06 21:50] aemneina commented on #6169
hey @guyspronck can you share your docker/rancher-compose file for this?

[2016-10-06 21:50] StrongMonkey commented on #5433
Does it still happen on pre4-rc2? @tfiduccia

[2016-10-06 21:50] will-chan commented on #5337
We are no longer supporting the GlusterFS catalog item for now.

[2016-10-06 21:50] #5337 closed

[2016-10-06 21:52] sangeethah commented on #5552
Tested with rancher-server version - v1.2.0-pre4-rc2

When user choose to deploy "kubernetes" from "Infrastructure" catalog , he is presented with list of available K8s templates that he can choose from.

[2016-10-06 21:52] #5552 closed

[2016-10-06 22:00] sangeethah commented on #6003
Tested with Rancher-server version - v1.2.0-pre4-rc2
Issue reported in the bug is not reproducible anymore.

[2016-10-06 22:00] #6003 closed

[2016-10-06 22:00] will-chan commented on #4428
Starting with Rancher 1.2, we will only support k8s 1.4.

[2016-10-06 22:00] #4428 closed

[2016-10-06 22:01] will-chan commented on #4270
Retest again as things have changed since 5 months back.

[2016-10-06 22:01] #4270 closed

[2016-10-06 22:02] will-chan commented on #3150
Can we make sure this works in RancherNFS?

[2016-10-06 22:08] tfiduccia opened #6183 "Switching versions on machine driver causes driver to error"
**Rancher Version:** v1.2.0-pre4-rc2

**Steps to Reproduce:**
1.  Go to Machine Drivers apge
2.  Activate vultr driver
3.  Click on Upgrade available and upgrade to next version

**Results:** Driver goes from Active to Error.  If I click on Activate button again, it will activate.

**Expected:**  Should not error.

[2016-10-06 22:17] tfiduccia commented on #5817
Version - v1.2.0-pre4-rc2
Verified fixed

[2016-10-06 22:17] #5817 closed

[2016-10-06 22:20] tfiduccia opened #6184 "Refresh issues with Machine Driver page"
**Rancher Version:** v1.2.0-pre4-rc2

**Steps to Reproduce:**  All these problem resolve themselves if you refresh screen.

- [x] With custom drivers, shows two first time you activate it.
![image](https://cloud.githubusercontent.com/assets/11514927/19172857/f5aab8a0-8bd8-11e6-82d1-428ba351073e.png)

- [x] With custom drivers, deactivating then removing driver will show two.
![image](https://cloud

[2016-10-06 22:20] tfiduccia commented on #5119
Version - v1.2.0-pre4-rc2
Closing this in favor of one refresh bug. #6184

[2016-10-06 22:20] #5119 closed

[2016-10-06 22:25] LLParse commented on #6093
This isn't resolved yet, there are kubernetes template changes and kubernetes image changes dependent on the cattle PR just recently merged.

[2016-10-06 22:27] tfiduccia commented on #5117
Version - v1.2.0-pre4-rc2
Closing in favor of 1 refresh bug #6184

[2016-10-06 22:27] #5117 closed

[2016-10-06 22:27] tfiduccia commented on #5091
Version - v1.2.0-pre4-rc2
Closing in favor of 1 refresh bug #6184

[2016-10-06 22:27] #5091 closed

[2016-10-06 22:41] will-chan commented on #6153
@StrongMonkey I know we are moving to our new agent so make sure this doesn't break with our new agent.

[2016-10-06 22:41] will-chan commented on #6151
@galal-hussein can you take a look at this?

[2016-10-06 22:48] will-chan commented on #6147
@wlan0 can you look into this?

[2016-10-06 22:58] StrongMonkey commented on #6153
@tonythian Can you make sure if rancher-agent-state image is running in your host?

[2016-10-06 23:02] will-chan commented on #6113
@janeczku Didn't you add a fix to address this?

[2016-10-06 23:07] will-chan commented on #6112
@sangeethah can you look into this?

[2016-10-06 23:08] will-chan commented on #6111
@sangeethah make sure Centos7.2 works with Rancher.

[2016-10-06 23:09] sangeethah commented on #5195
With rancher/server:v1.2.0-pre4-rc2 , instances of services are named as
env.name + "-" + service.name + "-" + index.

[2016-10-06 23:09] #5195 closed

[2016-10-06 23:11] sangeethah commented on #6159
With rancher  server version: rancher/server:v1.2.0-pre4-rc2 , inter host network communication over managed network works as expected.

[2016-10-06 23:11] #6159 closed

[2016-10-06 23:15] sangeethah commented on #6112
@alena1108 This is integration tests. Can you take a look at it ?

[2016-10-06 23:16] tfiduccia opened #6185 "Drop-down delete/remove modal now has a scrollbar area on right."
**Rancher Version:**v1.2.0-pre4-rc2

**Steps to Reproduce:**
1.  Try to delete anything that will bring up the modal

**Results:** There is a weird scrollbar thingy on the right side
![image](https://cloud.githubusercontent.com/assets/11514927/19173963/41857ca4-8be0-11e6-8028-69d3f6139765.png)

**Expected:** No extra scrollbar

[2016-10-06 23:31] StrongMonkey commented on #6118
@cjellick  what might cause it failed to connect to the websocket in this case?

[2016-10-06 23:35] tfiduccia opened #6186 "Version drop-down stays active after deactivating driver"
**Rancher Version:** 1.2.0-pre4-rc2

**Steps to Reproduce:**
1.  Activate vultr driver or a driver that has multiple version
2.  Deactivate driver

**Results:** The version drop-down stay active

**Expected:**  Should not stay active

[2016-10-06 23:38] #6086 closed

[2016-10-06 23:43] tfiduccia opened #6187 "Cloning on Host is not working"
**Rancher Version:** v1.2.0-pre4-rc2

**Steps to Reproduce:**
1.  Create a host
2.  Try to clone it

**Results:** information in clone is empty

**Expected:**  Should carry over all info

[2016-10-06 23:45] will-chan commented on #6066
We are looking to add some type of first class "cloud provider" object that can include SSH certs, API keys and passed into DockerMachine to be reused.

[2016-10-06 23:47] aemneina commented on #6077
hey @svensp as you noticed running with --iptables=false breaks networking for nat'ed containers and rancher in general. if you were really interested in the basic set of rules to accomplish this I suggest you get a baseline working setup, take a look at the iptables-save output, then recreate it with iptables disabled on docker. As of today this is a non-supported case. Closing the issue.

[2016-10-06 23:47] #6077 closed

[2016-10-06 23:49] dx9 commented on #6110
@will-chan @sangeethah heads up, I've been chasing this one. I believe the test fails when the  record order changes in the underlying db table. The test assumes the API guarantees the service expose map is returned in ascending order, oldest instance last. So it ends up checking the health of the wrong service instance.

I'm thinking the fix is to ensure resources are always returned in ascending

[2016-10-06 23:50] tfiduccia commented on #6163
I see this in pre4 and only with 1 label.

[2016-10-06 23:55] aemneina commented on #6065
hey @Oro have you tried this with rancher OS v0.4.5? docker 1.12 and rancher 1.1.x dont generally play nice. I'd be interested in seeing if a known good combination works in this scenario.

[2016-10-07 00:08] sangeethah commented on #1908
Kubernetes system stack is stuck in "activating" state forever.

Kubernetes container logs have the following logs:
[code]

[2016-10-07 00:12] will-chan commented on #5996
@janeczku can you look into adding this?

[2016-10-07 00:13] will-chan commented on #5995
@janeczku can you look into this?

[2016-10-07 00:15] will-chan commented on #5991
@LLParse id this part of your housekeeping scripts?

[2016-10-07 00:25] will-chan commented on #5933
Did you add the private registry through the UI if it requires auth?

[2016-10-07 00:27] will-chan commented on #5923
We are adding usage data for containers in the near future.

[2016-10-07 00:43] will-chan commented on #5868
We have added service journals to 1.2.0-pre3 that should hopefully better shed light on why services don't start.

[2016-10-07 00:43] #5867 closed

[2016-10-07 00:57] virtuman commented on #6148
Yes restarted then in various order along with restarting the host system and the entire process multiple times in all different orders

[2016-10-07 01:00] will-chan commented on #5849
retest this with latest 1.2

[2016-10-07 01:01] joshwget commented on #5913
It seems like libcompose doesn't have the same problem. Smaller reproducible example:
[code]

[2016-10-07 01:03] #5820 closed

[2016-10-07 03:30] SoreGums commented on #6184
I attempted to update the vultr machine driver and it kind of worked (removed the old driver, added a new one with the new url/checksum)
rancher appeared to save the new url, however it kept using the old url to actually do anything.
there was only one driver present in the UI, however looking at the logs it was clear the previous version was being used. so deleted the new one and the old one show

[2016-10-07 03:33] dx9 commented on #6110
@ibuildthecloud What's the preferred way to fix this?

1) Use a default sort ordering on id in AbstractJooqResourceManager. Would make the default behaviour consistent across dbs.
2) Fix the test to sort

[2016-10-07 06:02] dj-hedgehog commented on #5992
Version 1.10.2 on both.

[2016-10-07 06:09] guyspronck commented on #6169
@aemneina Sure, I was using a Rocket.Chat stack to test this, here is my config.

docker-compose.yml
[code]

rancher-compose.yml
[code]

[2016-10-07 07:41] baptistedonaux opened #6188 "[rancher-compose] Error to parse docker-compose v2 format"
**Rancher Version:** v1.2.0-pre4-rc1

**Rancher-compose Version:** v0.11.0-rc2

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** Debian 8 into VM

**Setup Details:** external DB

**Environment Type:** Cattle

**Steps to Reproduce:**

[code]

[code]

**Results:**
[code]

**Expected:**

Docker compose format V2 supported.

[2016-10-07 07:51] Oro commented on #6065
Hi @aemneina , thanks for the reply.
I have just now tried it on docker 1.11 and 1.10 (via `ros engine switch`, according to https://forums.rancher.com/t/rancheros-release-v0-5-0/3285 one cannot downgrade to 0.4.5), both with the same result as above unfortunately.

[2016-10-07 08:55] maxgorovenko commented on #3703
Am I right and this issue is exactly what I need to make couple stacks on one host, each stack with its own nginx, listening 80 port at personal ip?

I'm gonna build stacks for selenuim tests, each stack points at a specific git branch. Each stack has nginx at 80 port with specific domain, binded at public ip of the nginx container.

[2016-10-07 10:16] danielschlegel commented on #5999
But if i disable rancher ingress controller the kubernetes view disappear and kubernetes installation get active because this service is not running.

[2016-10-07 11:59] Shyckymn commented on #6079
Solved after change the IP address of the node. It was "192.168.x.x".

[2016-10-07 11:59] #6079 closed

[2016-10-07 12:05] briceruzand commented on #5516
Hi,
I face to the same trouble in my continuous integration platform based on rancher. (a git push can change one or several image on our private docker repository).

Before using rancher, we use `docker-compose`, to manage full stack deployment and it work's well (on stack upgrade, only pulled images were deploy), but there was no multi host management.

For now, with rancher I use the `--force-u

[2016-10-07 14:43] MOZGIII commented on #3812
How about now?

[2016-10-07 14:48] SantoDE commented on #5822
I updated today my setup as well and I now have this issue as well :(

[2016-10-07 15:00] alincalinciuc commented on #3893
+1

[2016-10-07 15:17] LLParse commented on #5991
@will-chan Yes, this will be resolved at the same time as https://github.com/rancher/rancher/issues/5129

[2016-10-07 15:35] mwaaas commented on #5201
@LLParse  Two questions
1. is this fix in this image rancher/server:v1.2.0-pre4-rc2
2. Is the swarm mode going to be a catalog or a separate environment like Kubernets, cattle etc

[2016-10-07 16:24] will-chan commented on #5733
We are making improvements in performance as part of 1.2 but will keep this bug around because DNS and MD population is still one we have not gotten to.

[2016-10-07 16:25] will-chan commented on #5729
Has this been resolved?

[2016-10-07 16:34] #5653 closed

[2016-10-07 16:36] will-chan commented on #5653
It's possible given they have open sourced it.  However, it is not in the immediate roadmap (1.3 timeframe next 3 months) unless there is a very strong demand for it.

[2016-10-07 16:41] alena1108 commented on #6098
timing issues are most likely caused by the new agent. We'd have to put a wait loop for now on the service level

[2016-10-07 16:49] sangeethah commented on #6098
Older K8s templates will have to continue to work on rancher-server version - 1.2  as well.

[2016-10-07 16:49] alena1108 commented on #6052
@sangeethah could you try on the latest? can't reproduce it. Steps taken:

1) created AND activated external service
2) created and activated the LB service with the external service as a target.

Haproxy config got all the changes.

[2016-10-07 16:52] joshwget commented on #6188
I'm unable to reproduce this with v0.11.0-rc2 and this simple Docker Compose file.

[code]

Can you post your full Docker Compose file?

[2016-10-07 16:53] alena1108 commented on #5415
Looks like rancher-compose bug. There is no setServiceLinks action for external/alias services, @joshwget can you take a look

[2016-10-07 16:58] will-chan commented on #5624
At the moment, it is not possible but we are working to remove Rancher specific components inside our distribution of k8s so that it could be possible in the future.  The reason why it's not something we have done yet is because we do manage kubernetes etcd and other components and have added sidekick components to help with that.

[2016-10-07 17:05] will-chan commented on #5578
Closing issue as it seems like question answered.

[2016-10-07 17:05] #5578 closed

[2016-10-07 17:10] joshwget commented on #5567
This is probably similar to #5566 in that it's just a general cadvisor. It's likely this is fixed in v1.2.0-pre4-rc2.

[2016-10-07 17:15] sangeethah opened #6189 "Host toggle between Reconnecting/Disconnected state and sometimes get to "Active" state."
Rancher server version - v1.2.0-pre4-rc2

Steps to reproduce the problem:
Had a setup with 3 hosts.
Validation tests was run on this setup.
All the 3 hosts in this setup toggle between Reconnecting/Disconnected state and sometimes get to "Active" state.

rancher-agent logs:

[code]

[2016-10-07 17:18] deniseschannon commented on #5201
We are moving the container orchestration from a setting in the environment to a choice in our infrastructure catalog and swarm will be available as part of that.

This is still being tested and we do not recommend using any `rc` builds.

[2016-10-07 17:18] deniseschannon commented on #5991
Closing in favor of #5129

[2016-10-07 17:18] #5991 closed

[2016-10-07 17:20] tfiduccia commented on #6184
@SoreGums
What version of Rancher are you using.  We made changes to machine drivers in the last couple of days and 1.2.0-pre4 will fix a lot of problems.

That being said - Even in the newest code, if you remove a machine driver that we provide, it will always come back.  They are stored in our catalog and that catalog will be re-read on refresh/and or change event.  But you should still be able

[2016-10-07 17:20] deniseschannon commented on #5822
@SantoDE @Dreampie  can you give more details?

what is your setup? where is the DB?

what version are you upgrading from and to?
can you share your upgrade commands?

[2016-10-07 17:20] sangeethah commented on #6189
Lot of tests have failed with service activation failing with this error message - "Scheduling failed: No healthy hosts with sufficient resources available"

[2016-10-07 17:21] SantoDE commented on #5822
@deniseschannon I just pulled a new docker image. However, I fixed it. My LOCK table was blocked, so rancher could not accquire a lock. Releasing a previous lock solved my issue and rancher was able to boot up again :)

[2016-10-07 17:22] aemneina opened #6190 "Rancher DNS not registering Service without Selector"
I’ve setup a [Service without Selector](http://kubernetes.io/docs/user-guide/services/#services-without-selectors)

The service works great.  But the service host name is not setup in DNS, like with other services.  As well, adding a Service Alias also does not add it to DNS as I would expect.

The reason for doing this, I want separation of control for Databases to be managed external to the envi

[2016-10-07 17:37] mwaaas commented on #5201
@deniseschannon  thanks for the info

[2016-10-07 18:22] sangeethah commented on #5837
@LLParse , Can you get the changes done on the catalog side put in qa branch of   https://github.com/rancher/infra-catalog/ ? Folder number 12 is k8s 1.4 version which needs to have this change.

[2016-10-07 18:27] sangeethah opened #6191 "rancher agent should log /var/log/rancher/agent.log in host."
Rancher Version: v1.2.0-pre4-rc2

Currently there is no agent.logs generated by rancher agent .
rancher agent should log /var/log/rancher/agent.log in host.

[2016-10-07 18:36] sangeethah commented on #5266
With rancher-server version - v1.2.0-pre4-rc2 ,  rancher/agent:v1.1.0-rc1 starts a go service .
[code]
Issue that are seen when testing with the go agent service is logged as separate issues.
Following are the issues seen so far:

https://github.com/rancher/rancher/issues/6173
https://github.com/rancher/rancher/issues/6174
https://github.com/rancher/rancher/issues/6189
https://github.com/rancher/r

[2016-10-07 18:36] #5266 closed

[2016-10-07 19:05] kenluberts opened #6192 "Execute shell windows stay open for only a short period of time"
_Describe your issue here_

Our users make use the the Execute Shell feature quite a bit.  We've noticed that with version 1.1.3 we are seeing an issue where these windows stay open only for a short period of time.  Also, the length of time seems to be very random as to how long the window (shell) does stay open.

---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.3` Cattle: `v0.165.8

[2016-10-07 19:15] schuylr commented on #5567
@joshwget I'm on 1.2.0-pre3 now, was the fix done sometime between that and pre4-rc2?

[2016-10-07 19:22] tfiduccia commented on #5565
We have written warning in kubernetes 1.3 that you should not roll-back to previous versions.  So I'm going to close this.  This does not happen with regular catalog items.

[2016-10-07 19:22] #5565 closed

[2016-10-07 19:24] tfiduccia commented on #5982
Version - 1.2.0-pre4-rc2
Not able to duplicate

[2016-10-07 19:24] #5982 closed

[2016-10-07 19:31] vincent99 opened #6193 "Combined machine->host bugs"
- `hostname` needs to be creatable but not editable
- `name` should not be required
- Hosts in some states (`provisioning`, possibly others?) can't be deleted

[2016-10-07 19:43] vincent99 commented on #5960
Changed in the UI to not blow up if the catalog returns an error.  @mrajashree Can you make the catalog-service work if it's configured with no URLs instead of dying with

time="2016-10-07T19:43:00Z" level=fatal msg="Halting Catalog service, Catalog git repo url not provided"

[2016-10-07 19:51] MadOtis opened #6194 "Unable to add new host to fresh rancher (v1.2.0-pre4-rc2) install"
**Rancher Version:**
v1.2.0-pre4-rc2

**Docker Version:**
Docker version 1.11.2, build bac3bae

**OS and where are the hosts located? (cloud, bare metal, etc):**
CoreOS 1185.1.0 - rancher server and hosts are all VMware (ESXi 6.0) VMs

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher w/ default internal DB

**Environment Type: (Cattle/Kuberne

[2016-10-07 19:54] tfiduccia commented on #6188
I am able to reproduce this in both 1.2.0-pre4-rc2 and master.  Here are the steps, and the example yml files.

**Steps to Reproduce:**
1.  Create a stack with a service
2.  Export the config
3.  Create a new stack and use the exported config

**Results:**  Error (yaml: unmarshal errors: line 1: cannot unmarshal !!str `2` into config.RawService)
![image](https://cloud.githubusercontent.com/assets/

[2016-10-07 19:55] vincent99 commented on #6188
@alena1108 @joshwget Cattle exports rancher-compose.yml in v2-style syntax and I don't think rancher-compose supports it.

[2016-10-07 20:16] deniseschannon commented on #5567
@schuylr Yes, we got rid of cadvisor in pre4. Please do not upgrade to v1.2.0-pre4 until the rc tag is removed.

[2016-10-07 21:01] vincent99 commented on #6162
Part of https://github.com/rancher/rancher/issues/6193

[2016-10-07 21:01] #6162 closed

[2016-10-07 21:02] schuylr commented on #5567
Okay, will verify and close this issue once v1.2.0-pre4 fully comes out.

[2016-10-07 21:51] vincent99 commented on #6194
This is the same as https://github.com/rancher/rancher/issues/4500 ; CoreOS now packages a version of Docker compiled with Golang 1.6 instead of the binaries from Docker (that are 1.5) and this breaks older Docker clients.

[2016-10-07 22:06] deniseschannon commented on #6193
Note: This is preventing swarm testing as labels are not able to be set onto hosts for swarm deployment as the `name is required`.

[2016-10-07 22:12] vincent99 commented on #6194
Scratch that...

[code]

`hostname -f` doesn't work on CoreOS and is new to the agent.

[2016-10-07 22:21] StrongMonkey commented on #6194
In new agent we use `hostname -f` to get fqdn and if failed we will not be able to register the host. i Will try to get a workaround for that.

[2016-10-07 22:39] kbrownlees commented on #6194
Using ubuntu 16.04 and v1.2.0-pre4-rc2 my hosts get added but something else is not configured correctly - attempting to configure kubernets bumps me to the 'adding your first host screen' even though I have three hosts available under infrastructure -> hosts.

[2016-10-07 22:47] tfiduccia commented on #6194
@kbrownlees - this is a known issue.  Both the Add host screen and kubernetes issues have been reported.  Should be fixed in the next release.

[2016-10-07 22:51] maragnus commented on #113
+1

[2016-10-07 23:01] soumyalj opened #6195 "Image pull is unsuccessful when default and whitelists have the same registry"
**Rancher Version:**v1.2.0-pre4-rc2

**Docker Version:**1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Cattle

**Steps to Reproduce:**
1. Set the whitelist registry to have quay.io and the default registry to

[2016-10-07 23:49] deniseschannon commented on #5620
Closing in favor of https://github.com/rancher/rancher/issues/5129

[2016-10-07 23:49] #5620 closed

[2016-10-08 01:01] dx9 commented on #6112
@alena1108 I'll dig into this.

[2016-10-08 01:48] virtuman opened #6196 "Excessive number of volumes in mysql DB could be the cause to freeze up web UI ?"
**Rancher Version:**
rancher/server:v1.2.0-pre4-rc1

**Docker Version:**
Server Version: 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
3 x Dedicated bare metal servers
PRETTY_NAME="Ubuntu 16.04.1 LTS"

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
single network interfaces on all 3 servers
external mysql DB

**E

[2016-10-08 01:59] virtuman opened #6197 "Installed rancher convoy-gluster catalog template, it was broken, and can't remove it"
**Rancher Version:**
rancher/server:v1.2.0-pre4-rc1

**Docker Version:**
Server Version: 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
3 x Dedicated bare metal servers
PRETTY_NAME="Ubuntu 16.04.1 LTS"

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
single network interfaces on all 3 servers
external mysql DB

**E

[2016-10-08 02:20] aemneina commented on #6192
I believe there is nothing in the UI that actually closes the window. Its more the byproduct of something terminating the connection, after inactivity, and timing out.

[2016-10-08 02:35] henrypfhu commented on #5023
+1

[2016-10-08 03:04] vincent99 commented on #6192
Yes, the UI does not close the connection.  A load balancer, proxy, or other device is closing the connection.

[2016-10-08 03:18] SoreGums commented on #6184
It was about 2-3 weeks ago.
I just gave up and focused on other things I need to do first.
I am getting close to wanting to provision vultr machines again so will take a look again next week - cheers

[2016-10-08 04:39] alena1108 commented on #6110
@dx9 I'll fix it on the test side for now, we anyway can't be 100% sure that when the records length is the same, the records are identical

[2016-10-08 04:46] alena1108 commented on #6110
@dx9 could you file a separate issue (question) on whether it'd make sense to add ordering by id in AbstractJooqResourceManager?

[2016-10-08 05:02] alena1108 commented on #6103
@dx9 this one is good. Race condition when allocate ip address is called before subnet is fully created:

https://github.com/rancher/cattle/blob/ccb4ee49ca93ac29cd26fc204fb9e113ed024c11/code/iaas/model/src/main/java/io/cattle/platform/core/dao/impl/NetworkDaoImpl.java#L242

https://github.com/rancher/cattle/blob/ccb4ee49ca93ac29cd26fc204fb9e113ed024c11/code/iaas/logic/src/main/java/io/cattle/platf

[2016-10-08 05:13] alena1108 commented on #6108
@dx9 when it happens, can you capture the results of the following query:

[code]

[2016-10-08 05:15] alena1108 commented on #6075
@prachidamle @joshwget is there anything special about this particular case of variables substitution?

[2016-10-08 05:17] alena1108 commented on #5682
Similar to https://github.com/rancher/rancher/issues/2777. Dropping existing connections is fixed for LB v1 with https://github.com/rancher/cattle/pull/2038

[2016-10-08 05:17] #5682 closed

[2016-10-08 05:23] alena1108 commented on #6099
@vincent99 I'd have to patch both, v1 and v2 balancers, thanks @scytacki

[2016-10-08 05:26] alena1108 commented on #6168
@rlex Could you please share exported config of your problematic stack? taken at step3 and step4. Also can you elaborate on "You will see container with name "/" in description". In the UI description? on the API? screen shot would be helpful

[2016-10-08 05:52] kkvilekval commented on #5994
I hit this issue today with nodes on my network matching before service names in my docker-compose file.
It appears that it should at least add the host search to the *end* and not the beginning.
I think this should be labelled as a bug..

[2016-10-08 08:23] kuzhao commented on #5931
Refer to #5932

[2016-10-08 08:23] #5931 closed

[2016-10-08 09:19] vipulnsward opened #6198 "Not able to attach more than one host to kubernetes setup"
**Rancher Version:**
Latest- v1.0.2

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu-Bare Metal from Scaleway(https://www.scaleway.com)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
- Start Ranche

[2016-10-08 13:52] truongdo opened #6199 "Cannot ping other containers from other host and the network agent does not start"
**Rancher Version:**
1.1.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
The problem is as follows:
We have 6 nodes in our system, after months running normally, one

[2016-10-08 14:25] truongdo commented on #6199
The network agent container started after ~40 minutes after the rancher agent container. It solves all problems, but I still have no idea why the network agent container takes so long to start.

[2016-10-08 14:25] #6199 closed

[2016-10-08 15:29] rlex commented on #6168
Sorry, forgot to attach screenshot. Looks like this (from my prev ticket):
https://cloud.githubusercontent.com/assets/84462/19152945/13b63f3c-8bdd-11e6-83ef-ca7d0b3bfafd.png

As for example, i'll post it a bit later.

[2016-10-09 02:20] VFT opened #6200 "Does the rancher-v1.1.4 support docker-v1.12?"
Does the rancher-v1.1.4 support docker-v1.12?

[2016-10-09 03:00] albenshao opened #6201 "Certificate issue while adding host - need Intermediate CA"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04.4 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
AWS ELB + HA rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
   1. Setup 3 rancher following [this guide](http://docs.rancher.

[2016-10-09 05:00] raymatos commented on #4659
I dont see this in the catalog.  How can i start testing this?

[2016-10-09 08:28] Dreampie opened #6202 "How can upload config file when add stack?"

[2016-10-09 12:00] praseodym commented on #5943
I'm seeing the same error when trying to connect to our OpenLDAP server. We use LDAPS on port 636.

The following lines are logged to `cattle-debug.log`, but they're not too useful:
[code]

[2016-10-09 17:51] aemneina commented on #5943
Is your LDAP using a self signed certificate for TLS?

[2016-10-09 17:53] aemneina commented on #6202
@Dreampie can you give more details? What type of service is this? You might want to bind mount the file into the container.

[2016-10-09 17:57] aemneina commented on #6201
@albenshao I think you need to be following these instructions here: http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/basic-ssl-config/#using-self-signed-certs-beta

Take note of the adding hosts section.

[2016-10-09 18:00] aemneina commented on #6200
Not officially, no. We test 1.1.x with 1.10 and 1.11. Rancher 1.2 is when docker 1.12 becomes supported.

[2016-10-09 18:00] aemneina commented on #6200
closing the issue, any other questions feel free to open a new issue.

[2016-10-09 18:00] #6200 closed

[2016-10-09 18:04] aemneina commented on #6198
@vipulnsward rancher's latest version is not 1.0.2. Not sure if thats what you meant. Also the gist just shows scheduling container error and nothing relating to the host. Can you provide more details here.

[2016-10-09 18:15] aemneina commented on #6196
@virtuman 1.2.0-pre4(*) has some destabilizing changes in it. It's not recommended for use outside of test. Can you revert to a known good setup (might involve restoring your db from a previous backup). Closing the issue.

[2016-10-09 18:15] #6196 closed

[2016-10-09 18:26] aemneina commented on #5822
@Dreampie have you implemented the workaround @SantoDE mentions?

[2016-10-09 19:18] praseodym commented on #5943
No, we're using a certificate signed by our internal CA. The internal CA was added to the Rancher server as documented (at `/ca.crt`).

[2016-10-10 00:38] ampedandwired commented on #5959
I tried this out today and came across a few problems.

First is a panic cause by (I'm guessing) the fact that the instance being load balanced does not have a public IP address:
[code]

The second issue is that there seems to be no way to specify the subnets that you wish the load balancer placed into. We have a public/private/restricted subnet setup within our VPC, and need to be able to control

[2016-10-10 01:04] albenshao commented on #6201
Thanks Aemneina!
It works when I put all required certificates in /var/lib/rancher/etc/ssl/ca.crt.

BR/Alben

[2016-10-10 03:06] ibuildthecloud commented on #6191
@sangeethah I don't think I want this anymore.  It has always been confusing for people to troubleshoot because the docker logs and /var/log/rancher/agent.log have different information.  I would prefer to just put everything in the docker logs.

[2016-10-10 04:25] aemneina commented on #6201
Excellent news, I'll close out this issue.

[2016-10-10 04:25] #6201 closed

[2016-10-10 04:48] tonythian opened #6204 "I can't add host to Rancher Server 1.1.4"
"Docker logs rancher-agent" shown the following error:

INFO: Starting agent for 2794E6302BCEBD0A48C3
INFO: Access Key: XXX
INFO: Config URL: http://server.com:8080/v1
INFO: Storage URL: http://server.com:8080/v1
INFO: API URL: http://server.com:8080/v1
INFO: IP: x.x.x.x
INFO: Port:
INFO: Required Image: rancher/agent:v1.0.2
INFO: Current Image: rancher/agent:v1.0.2
INFO: Using image rancher/agent

[2016-10-10 05:24] aemneina commented on #6204
Hi @tonythian is your rancher server accessible from the agent host, can it route to it?

[2016-10-10 06:28] guzmo commented on #6076
If someone looks for the answer this is how I solved it.

`request_line: "GET /healthcheck HTTP/1.0\\r\\nheader:\ myheader"`

Its not allowed with whitespace in in the header / after semicolon so if you want one you have to escape it with a \ or remove the whitespace.

[2016-10-10 07:11] ltutar commented on #6107
Thank you for the instructions. It helped me getting EFS working.

[2016-10-10 07:59] jdel commented on #5118
I can report the same issue with an external database. I have 4 stuck processes, one for 7 days, the others 11 days. I don't have the same problem in my HA environment running the same version of rancher/docker/ROS.

**Rancher Version:**
Rancher	v1.1.2
Cattle	v0.165.8
User Interface	v1.1.12
Rancher Compose	v0.8.6

**Docker Version:**
1.10.3

**OS and where are the hosts located?:**
RancherOS 0.4.5

[2016-10-10 11:06] rlex commented on #6168
[code]

[code]

[2016-10-10 14:18] ahoeg opened #6205 "Manage additional container networks with Rancher"
With rancher server I'm able to manage one network interface. It isn't possible to add additional interfaces  from UI (docker network connect ...).

If I add additional networks / interfaces the additional interfaces lost during stack upgrade.

Any plans to add support to manage additional interfaces with rancher server?

[2016-10-10 15:13] willseward commented on #6205
I believe you are looking for this: https://github.com/rancher/rancher/issues/5715

[2016-10-10 15:13] sangeethah commented on #6173
This issue is not seen any more with rancher/agent:v1.1.0-rc2

[2016-10-10 15:13] #6173 closed

[2016-10-10 15:17] sangeethah commented on #6052
Tested with v1.2.0-pre4-rc2.
Lb services linked to external services works as expected.

[2016-10-10 15:17] #6052 closed

[2016-10-10 15:47] galal-hussein opened #6206 "Can't Install K8s 1.4 from the infra catalog"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
Run Rancher/server:master version and then Enable Rancher infras

[2016-10-10 16:09] cjellick commented on #6130
The fields are on the v2-beta host api as:
 - host.milliCpu
 - host.memory (unit is bytes)
 - host.localStorageMb

User cannot set these while creating a host, but can update them via the API after the host is registered.

The agent will set values for these when it initially registers the host based off of real-world values on the host.
- milliCpu will be `total # of cores * 1000`
- memory will t

[2016-10-10 16:09] cjellick commented on #6130
The API and agent functionality can be tested, but there is no UI yet.

[2016-10-10 16:28] toughIQ opened #6207 "Service upgrade doesnt work if Sidekicks are present"
**Rancher Version:**
v1.2.0-pre4-rc2
**Docker Version:**
1.12.2-rc3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Linux Mint 18 4.4.0-21-generic / Local VM
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher, external MariaDB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Run any service

[2016-10-10 16:35] smazurov commented on #6192
I have this issue as well, possibly related to #4983 ?

[2016-10-10 16:58] vincent99 commented on #6175
Changed to always show on the header instead of forcing you to waiting page.

[2016-10-10 17:04] T-Grave opened #6208 "automated LetsEncrypt, kubernetes and ingress controllers seem to conflict with Rancher's ingress loadbalancer"
**Rancher Version:**
1.1.3

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04, cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Node 1: seperate single node rancher with internal DB
Node 2: Host added to rancher to schedule containers
Node 3: Host added to rancher to schedule containers
Node 4: Host

[2016-10-10 17:14] LLParse commented on #5439
@eniac111 If you are seeing these errors, it is because the overlay network is not functioning. UDP ports 500 and 4500 need to be open between hosts. A simple test to determine if your overlay network is functioning:

1. On Infrastructure >> Hosts screen, check `Show System`
2. Ping the IP address of a Network Agent from within another Network Agent

[2016-10-10 17:19] LLParse commented on #5235
In order to implement this, we will need to implement sidekick health check functionality.

The api-server/scheduler/controller-manager need to run within the same network namespace since they are tightly coupled. We then would scale this deployment unit across hosts for resiliency. Our sidekick mechanism provides this ability, but will only monitor the health of one of the core components.

[2016-10-10 17:21] cjellick commented on #6163
Didnt do an explicit code fix, but the tidal wave of changes over the last few days appear to  have fixed this on master.

[2016-10-10 17:22] cjellick commented on #6163
@tfiduccia I'm assigning over to @sangeethah for verification but if you want to verify on master that your steps to repro are fixed too, go for it.

[2016-10-10 17:23] StrongMonkey commented on #6191
@sangeethah According to the comment from @ibuildthecloud, i ll close this issue. The logs are still available from `docker logs`.

[2016-10-10 17:23] #6191 closed

[2016-10-10 17:24] Cygnust commented on #4459
Hi guys,
seems like I have the same problem as yours.
rancher-ha logs says
`time="2016-10-10T17:17:01Z" level=info msg="Waiting for server to be available" component=cert
time="2016-10-10T17:17:01Z" level=info msg="Can not launch agent right now: Server not available at http://172.17.0.1:18080/ping:" component=service`
 and I can't connect my docker ha.

However the cause is different. 172.17.0.1

[2016-10-10 17:27] sangeethah commented on #6193
With latest build from master, I am not able to add Digital Ocean machine. User is presented with - "Name" is required  error message even after name is provided.

[2016-10-10 17:49] alena1108 commented on #6168
@joshwget Looks like rancher-compose doesn't update the labels properly for the LB service. Example:

1) Create stack from compose using @rlex file.
2) Remove following 2 things from the compose file:

[code]
and
[code]

run rancher-compose up again. The link to LB is gone, but the label still persists on the service.

[2016-10-10 17:51] alena1108 commented on #5010
This would be fixed with new volumeTemplate/volume per stack/deployment unit feature. @deniseschannon could you update the bug with the reference to the doc once it is written?

[2016-10-10 17:52] alena1108 commented on #6109
Volume persistance support will be added in Rancher 1.2 via new Volumetemplate/volume per stack/deployment unit feature. @deniseschannon could you update the bug with the link to the doc once it is written?

[2016-10-10 17:59] aemneina commented on #6192
If thats the case @smazurov can you try extending the ELB timeout by following this doc: https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html#config-idle-timeout-console

[2016-10-10 18:02] tfiduccia commented on #5960
Version - master 10/10
When I disable all catalogs, the catalog templates are still showing up.

[2016-10-10 18:02] galal-hussein opened #6209 "Kubelet keeps crashing on k8s 1.3 on master image"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.3
**Steps to Reproduce:**
Install master image and then enable Rancher infrastructure

[2016-10-10 18:05] alena1108 commented on #5284
Should be fixed with:

[code]

[2016-10-10 18:06] joshwget commented on #5010
The original issue uses a bind mount instead of named volumes. We should probably recommend the latter in docs since users might not be aware of the side effects of using bind mounts.

[2016-10-10 18:11] jimengliu commented on #6158
This is fixed in template v0.0.2

[2016-10-10 18:13] tfiduccia commented on #6207
Version - master 10/10
Easy steps to just create a service with sidekick.  Doesn't have to be from catalog.

[2016-10-10 18:15] sangeethah commented on #6163
This issue still repros with latest master build.

[2016-10-10 18:17] cjellick commented on #6163
We narrowed it down to only occurring when there is an active docker machine driver. It is caused by the logic we have to combine machine and host into a single resource. @ibuildthecloud will address. Assigning over.

[2016-10-10 18:22] alena1108 commented on #5792
@bdentino should be fixed with https://github.com/rancher/rancher-dns/pull/35/commits/96e9c4e73b12ba6fb67a88c50cf01b14b2a54483 - refactored dns microservice.

Note that when service has 0 healthy records, it will be resolved to one of the unhealthy records. So service fqdn always resolves to something But when service has at least one healthy record, all the unhealthy records will be eliminated.

[2016-10-10 18:23] galal-hussein commented on #5607
@wlan0 Please assign back when the support for flex volumes is ready

[2016-10-10 18:24] joshwget opened #6210 "Support '.catalog' key at root level for v2 rancher-compose.yml files"

[2016-10-10 18:24] aemneina commented on #6192
I also noticed in an HA stack that the load balancer has a client and server connection timeout of 50. That can be modified manually, but if one of those containers gets recreated, the configuration for that container would revert.

[2016-10-10 18:29] tfiduccia commented on #6175
Version - master 10/10
Verified fixed

[2016-10-10 18:29] #6175 closed

[2016-10-10 18:38] tfiduccia commented on #6051
Version - master 10/10
Verified fixed

[2016-10-10 18:38] #6051 closed

[2016-10-10 18:40] alena1108 commented on #6207
@vincent99 when I click Upgrade, the UI sends this request that never finishes:

GET http://localhost:8080/v2-beta/projects/1a5/services?limit=-1&sort=name

I can execute this request manually fine. @vincent99 what do you think could cause it?

[2016-10-10 18:45] sangeethah opened #6211 ""machine config" option not seen for hosts added using machine drivers."
Rancher Version: Build from master

Steps to reproduce the problem:

Add Digitial Ocean Machine.
There in no "machine config" option on the host presented to user for being able to download the machine config.

[2016-10-10 18:49] soumyalj commented on #5799
Image pulls not successful in the following case:
default registry = quay.io
Whitelist registry = "quay.io, index.docker.io"
image is pulled with appending the index.docker.io tag [Eg:  index.docker.io/ubuntu]
Error below:
[code]
Also, if the whitelist contains a space, image pull gives errors. It needs to be trimmed.

[2016-10-10 18:57] aemneina commented on #4459
@Cygnust you might need to reconfigure docker first to change its bridge ip CIDR. Then pass in the correct agent_ip to rancher.

[2016-10-10 19:02] Cygnust commented on #4459
Hi guys,
I'm following up.
Don't know what happened, but launching the 2 other hosts made the trick ..

Many thanks for your help

[2016-10-10 19:10] alena1108 commented on #6207
Seeing these UI errors on the list request:

[code]

[2016-10-10 19:13] tfiduccia opened #6212 "Selecting infrastructure doesn't update menu & will still show Add your first stack until refresh"
**Rancher Version:** Master 10/10

**Steps to Reproduce:**
1.  Add three hosts
2.  Go to stacks and select Kubernetes Orchestration
3.  Click on Stacks menu

**Results:** the Add your first stack, orchestration sections show up.

**Expected:**  The stack menu should go away and be replaced by Kubernetes.  I have to do a browser refresh to get it to change.

[2016-10-10 19:13] stefanlasiewski opened #6213 "Rancher using external MySQL 5.6 database results in error "Specified key was too long; max key length is 767 bytes""
**Rancher Version:**

1.2 (Or, whatever rancher/latest is at the time of this writing)

**Docker Version:**

Docker version 1.12.1

**MySQL Server Version:**

MySQL Enterprise 5.6.32-1-2.1 running on CentOS 6.
- FILE_FORMAT is 'Antelope' by default.
- ROW_FORMAT is 'Compact'.

**OS and where are the hosts located? (cloud, bare metal, etc):**

CentOS 7.2 running on VMware ESXi 6.0

**Setup Details:

[2016-10-10 19:15] stefanlasiewski commented on #6213
Here's the full error:

[code]

[2016-10-10 19:21] stefanlasiewski commented on #6213
Attaching the error logs from `docker logs`:

[rancher.fail.txt](https://github.com/rancher/rancher/files/520240/rancher.fail.txt)

[2016-10-10 19:39] PCXDME opened #6214 "Stopping Docker Containers Gracefully"
Some of my containers need more time to stop after receiving `SIGTERM` signal.
When stop using `docker stop`, we can specify seconds to wait for stop before killing the container using `docker stop -t {time} {container}`.
https://docs.docker.com/engine/reference/commandline/stop/
I think this should be configurable in `Command` tab, something like this.
![image](https://cloud.githubusercontent.com

[2016-10-10 19:41] amsdard commented on #5309
Hi,

my company is also in need to have support for access control per stack. Is this is even on development roadmap?

[2016-10-10 20:32] jimengliu commented on #6121
The cloud provider needs to be aws, in order for k8s storage-class feature to work.

[2016-10-10 20:35] sangeethah commented on #5729
Able to reproduce this issue when testing with rancher server build from master and having "api.host"  set to "http://<rancher server ip>:8080//".

[2016-10-10 20:42] will-chan commented on #6214
@StrongMonkey will this be made available in your work in adding the remaining docker options?

[2016-10-10 20:44] LLParse commented on #6209
https://github.com/rancher/infra-catalog/tree/master/infra-templates/k8s/10
cattle @ 598f80cd0dc7582212ff12fcc270a315b94eeaf9

[2016-10-10 20:44] StrongMonkey commented on #6214
@will-chan I think there is already a field in cattle that is passed to agent to specify timeout in stopping container but it is not added in UI.

[2016-10-10 21:15] cjellick commented on #5264
Right now CPU and mem are implemented. Storage is not fully functional yet.
So, lets test those and i'll open a separate issue when storage is ready.

[2016-10-10 21:19] cjellick commented on #5729
Oh, I just stripped the last `/`. I guess i need to support stripping infinite `/` from the end of the url.

[2016-10-10 21:19] deniseschannon commented on #6080
Can you re-test @sangeethah ?

[2016-10-10 21:21] cjellick commented on #6130
Related to https://github.com/rancher/rancher/issues/6130

[2016-10-10 21:22] cjellick commented on #2228
Implementation details in https://github.com/rancher/rancher/issues/2228

[2016-10-10 21:22] #6206 closed

[2016-10-10 21:23] sangeethah commented on #6080
Tested with build from master. This issue is not seen anymore.

[2016-10-10 21:23] #6080 closed

[2016-10-10 21:28] 5an1ty opened #6215 "Convoy NFS volume purging"
In a scenario where you want rancher to forget about a volume (purge it from rancher), but keep the actual folder on the NFS share, there should be a popup asking if it's ok to delete the actual folder on the NFS share.

[2016-10-10 21:29] cjellick commented on #5264
Here is the usage:
You have to deploy the [Rancher Scheduler infra-catalog item](https://github.com/rancher/infra-catalog/tree/qa/infra-templates/rancher-scheduler)

Hosts will now have three fields that indicate the total schedulable resources on them. They are explained here: https://github.com/rancher/rancher/issues/6130. Those fields will either have their values populated by the agent when th

[2016-10-10 21:38] tfiduccia opened #6216 "Clean up service (containers) on delete of custom host"
**Rancher Version:** master 10/10

**Steps to Reproduce:**
1.  Add a custom host
2. Add services
3. Delete environment
4. Add new environment and re-add that custom host to new environment

**Results:** All the containers on that host are still there and active.

**Expected:**  Should probably clean that up since I can't actually see or get to those services anymore.

[2016-10-10 21:47] galal-hussein commented on #6151
@roffe There is an already issue opened for this template item, you can follow the progress on it in https://github.com/rancher/community-catalog/issues/240

[2016-10-10 21:59] tfiduccia commented on #6176
Version - master 10/10
Verified fixed

[2016-10-10 21:59] #6176 closed

[2016-10-10 22:14] yizha commented on #4825
We are running server v1.1.3 in single node mode, managing two hosts with several containers on each. When it happened, the health checks for containers on one host started to fail and Rancher kept re-creating all containers on that host. We encountered this issue twice, once in Aug 2017 and the other one today, each time restarting the rancher network agent on the host where the containers got re

[2016-10-10 22:27] cjellick opened #6217 "Finish storage based scheduling"
1. the new storage driver functionality that darren implemented is not actually “turned on”. for it to be turned on, we need to create a local storage driver for all the local storage pools that exist on each host.
2. in the external scheduler, i need to query the rancher API to get all the local volumes that have a size value set so that i can properly seed the resource pools

[2016-10-10 22:38] tfiduccia opened #6218 "Clicking kubernetes menu option during setup causes weird button and errors to show up"
**Rancher Version:** master 10/10

**Steps to Reproduce:**
1.  Create an environment and add hosts
2.  Go to stacks and select kubernetes orchestration
3.  (refresh if needed to see kubernetes menu items)
4.  Click on kubernetes menu

**Results:** Weird button and error text showing up
![image](https://cloud.githubusercontent.com/assets/11514927/19253382/8579f3be-8eff-11e6-954d-ea2dadd2670b.png)

[2016-10-10 22:40] tfiduccia commented on #6180
Version - master 10/10
Verified fixed

[2016-10-10 22:40] #6180 closed

[2016-10-10 22:44] vincent99 commented on #6207
@alena1108 This is because the `type` is missing from the `secondaryLaunchConfig` entries

[2016-10-10 22:53] VIPv6 commented on #3652
I've experience the same problem today.  I'd be happy to change to Ubuntu, but we've invested a fair amount into Centos 7.2.  This is NOT using XFS.  I've done minimal security measures.  No SELinux yet. I've secured the SSH logins a bit and we're using SSH keys:

Unable to find image 'rancher/server:latest' locally
Trying to pull repository docker.io/rancher/server ...
latest: Pulling from docker

[2016-10-10 23:18] tfiduccia opened #6219 "Switching out of kubernetes environment is causing errors in UI"
**Rancher Version:** master 10/10

**Steps to Reproduce:**
1.  Create a cattle environment & add host
2.  Create a kubernetes environment
3.  After kubernetes is fully setup, switch back to cattle environment and go to host

**Results:** Host page is empty.  Have to refresh to see them.  Problems on other pages in that environment as well until refresh.  Getting errors in dev tools
![image](https:

[2016-10-10 23:30] tfiduccia opened #6220 "English missing from list of Languages"
**Rancher Version:** master 10/10

**Steps to Reproduce:**
1.  Click on the Language drop-down

**Results:** English is missing.  If I switch out of English, I can't go back.

**Expected:**  Should be able to switch to English.

[2016-10-10 23:47] tfiduccia opened #6221 "Save/Cancel in Edit stack doesn't close Edit modal"
**Rancher Version:** Master 10/10

**Steps to Reproduce:**
1.  Create a stack
2.  Edit the stack and click on Cancel/Save

**Results:** Modal does not close

**Expected:** Modal should close

[2016-10-10 23:49] tfiduccia opened #6222 "Services are no longer added to stack immediately"
**Rancher Version:** master 10/10

**Steps to Reproduce:**
1.  Create a stack
2.  Add a service

**Results:** Once you add service, the stack is empty for quite a while.  The service eventually shows up.  But it used to show up immediately.

**Expected:**  Show up immediately on create

[2016-10-10 23:55] tfiduccia commented on #6177
Version - master 10/10
Verified fixed

[2016-10-10 23:55] #6177 closed

[2016-10-11 00:00] tfiduccia commented on #6185
Version - master 10/10
Verified fixed

[2016-10-11 00:00] #6185 closed

[2016-10-11 00:09] tfiduccia opened #6223 "Stacks not showing up in stack's details drop-down"
**Rancher Version:** master 10/10

**Steps to Reproduce:**
1.  Add multiple stacks to an environment
2.  Click on one of the stack names to go to stack details
3.  Click on Drop-down to show list of stacks

**Results:** No results
![image](https://cloud.githubusercontent.com/assets/11514927/19254774/406c34be-8f0c-11e6-9407-570d179b8aec.png)

**Expected:** Should show list of stacks

[2016-10-11 00:30] vincent99 commented on #6125
Buttons shouldn't show up if infra is off now.

[2016-10-11 00:31] vincent99 commented on #6124
Backend, part of https://github.com/rancher/rancher/issues/6157

[2016-10-11 00:31] #6124 closed

[2016-10-11 00:39] vincent99 commented on #6219
Latest was building with a newer beta of Ember than it should.  Pinned to a version we know works now.

[2016-10-11 00:41] vincent99 commented on #6222
@ibuildthecloud Still not seeing change events for stacks when the serviceIds array changes

[2016-10-11 00:55] tfiduccia commented on #6219
Version - master 10/10
Verified fixed

[2016-10-11 00:55] #6219 closed

[2016-10-11 00:57] tfiduccia commented on #6125
Version - master 10/10
Buttons not showing if catalog is off.
Verified fixed

[2016-10-11 00:57] #6125 closed

[2016-10-11 01:02] tfiduccia commented on #6223
Version - master 10/10
Verified fixed

[2016-10-11 01:02] #6223 closed

[2016-10-11 01:02] vincent99 commented on #6221
Updated lacsso lib

[2016-10-11 01:06] tfiduccia commented on #6220
Version - master 10/10
Verified fixed

[2016-10-11 01:06] #6220 closed

[2016-10-11 01:09] tfiduccia commented on #6127
Version - master 10/10
Verified fixed

[2016-10-11 01:18] tfiduccia commented on #6221
Version - master 10/10
Verified fixed

[2016-10-11 01:18] #6221 closed

[2016-10-11 01:22] tfiduccia commented on #6187
Version - master 10/10
Verified fixed

[2016-10-11 01:22] #6187 closed

[2016-10-11 01:27] tfiduccia commented on #5583
Version - master 10/10
Verified fixed

[2016-10-11 01:27] #5583 closed

[2016-10-11 02:40] Chris7 opened #6224 "Custom certificates are not propagated to rancher-agent hosts"
**Rancher Version:**
1.1.4

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04, Open Nebula 5.02

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Create a HA setup with a custom certificate (I self signed a

[2016-10-11 03:01] Chris7 commented on #6224
Well, if I overwrite `/var/lib/rancher/etc/ssl/ca.crt` on the host machine, it works. This is somewhat inconsistent with the docs which state to use `-v` however in `docker run`.

[2016-10-11 03:33] deniseschannon commented on #6188
Verified with master 10/10 and rancher-compose v0.11.0-rc3.

@baptistedonaux We do not recommend using RC builds for deployments as they haven't been approved through our testing team.

[2016-10-11 03:33] #6188 closed

[2016-10-11 03:50] sangeethah opened #6225 "Update display when host labels change"
Rancher Version: Build from master

Steps to reproduce the problem:
Edit Host and add a label.
When user is brought back to the "Hosts" page , the added labels are not reflected in the host.

After a manual refresh of the page , the labels show up.

[2016-10-11 03:52] sangeethah commented on #6163
Tested with latest build form master.

Host label affinity scheduling rule works as expected.

[2016-10-11 03:52] #6163 closed

[2016-10-11 04:01] dx9 commented on #6102
@cjellick This seems to have disappeared.

[2016-10-11 04:02] dx9 commented on #6101
@cjellick This seems to have disappeared.

[2016-10-11 04:16] sangeethah commented on #6193
Tested with latest build from master:

1.Able to add Digital Ocean machine successfully.
2.Able to edit host and add labels successfully.
3. Not allowed to edit host name , but name is editable.

I am still having problems when trying to delete a host when it is provisioning state.
I see it get deleted ( or atleast removed from the host view) for sometime. But it reappears again in  host list view

[2016-10-11 05:21] sangeethah commented on #6098
This issue is not encountered when testing with k8s 1.4 templates which have introduced delays when accessing metadata.

Keeping this issue open to make the metadata propagation faster , so we will not have any issues when using older K8s templates which do not have any delay when accessing metadata.

[2016-10-11 05:31] sangeethah commented on #6015
Automation runs continue to take a log time ~3 hours and 10 minutes.
But there is no Deadlock related exceptions seen in the logs.

[2016-10-11 05:31] #6015 closed

[2016-10-11 06:26] sangeethah opened #6226 "Retain the case of stack/service/container names in metadata versions 2015-12-19 and 2015-07-25."
Rancher server version - Build from master.

Steps to reproduce the problem:
Create a stack with name -  TestMe123 having service with name - Hello.

When metadata for stack/service/container is fetched , case of stack/service/container names  is always in lower case

[code]
Retain the case of stack/service/container names in metadata versions 2015-12-19 and 2015-07-25.

[2016-10-11 06:27] sangeethah commented on #1908
Tested with latest build from master:

From within container of a service , using any of the following links to retrieve metadata is not case sensitive anymore:

http://rancher-metadata/latest/containers/
http://rancher-metadata/latest/services/
http://rancher-metadata/latest/stacks/

But the data that is returned metadata has stack/service/container names in lower case always irrespective of the

[2016-10-11 06:27] #1908 closed

[2016-10-11 06:40] sangeethah commented on #5284
Tested with latest build from master:

Steps to Reproduce:
1. Create an ubuntu service
2. Exec into the container
3. Run this command for the metadata service
[code]
Restart the container and wait until it is in Running state in the UI.
Exec into the container and run command
[code]
Results:
The second curl shows container in "running" state.

[2016-10-11 06:40] #5284 closed

[2016-10-11 06:49] Dreampie commented on #6202
https://github.com/Dreampie/docker-elk  like this，how can  convert stack？

[2016-10-11 08:08] clouderding commented on #6204
i have the problem also. How to solve?

[2016-10-11 08:20] clouderding commented on #6204
参考这个帖子。https://github.com/rancher/rancher/issues/1370

[2016-10-11 08:29] baptistedonaux commented on #6188
@deniseschannon I try ranch to see if I can use it in production.

Thank you for your response.

[2016-10-11 08:47] mrleonard opened #6227 "Host continously appears as "Registering" on Rancher server"
**Rancher Version:** 1.2.0-pre4-rc2

**Docker Version:** 1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** bare metal, Ubuntu 16.04.1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node with internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
Install Rancher Server
Configure access

[2016-10-11 09:33] eniac111 commented on #5439
@LLParse the nodes are on the same LAN network, connected to the same switch

[2016-10-11 14:05] fmorency commented on #1269
+1

[2016-10-11 14:08] fmorency commented on #3567
+1

[2016-10-11 15:44] omata-metamax commented on #2734
Hello,

Just a question, How do I add new **domain names** to the **Common Name** fields after launch the Let's Encrypt Container?

Best Regards.

[2016-10-11 16:47] galal-hussein opened #6228 "Intermittent error with building k8s 1.4 stack"
**Rancher Version:**
rancher/server:master
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4
**Steps to Reproduce:**
Enable Rancher infrastructure catalog and then add th

[2016-10-11 16:50] deniseschannon commented on #5415
If hostname is placed in the rancher-compose.yml as expected, then this isn't an issue.

[2016-10-11 16:54] joshwget commented on #6075
@dalareo You should be able to perform interpolation anywhere in a rancher-compose.yml file. I think the issue is that you put `{$service_5}` and not `${service_5}`.

[2016-10-11 17:10] sangeethah commented on #6005
Tested with latest build from master Oct 10.
Able to bring up K8s system stack successfully.

[2016-10-11 17:10] #6005 closed

[2016-10-11 17:23] ebr opened #6229 "Read-only API keys"
I'm looking to create some services that pull info from Rancher API (like slack bots, backup scripts, etc). But I'd like to apply least-privilege principles to those services. Currently I can create Environment- and Account-scoped keys, but they all have write access. Ideally I'd like read-only Account-scope keys that would have read access to all Environments. Is this possible and/or planned?

[2016-10-11 17:24] deniseschannon commented on #6168
@rlex Are you using rancher UI or rancher-compose to make your changes?

@alena1108 I think this is a UI and cattle issue and nothing to do with rancher-compose. He isn't changing his load balancer, but deleting the original service that he was linked to from the LB.

1. Create a service in the UI
2. Create a load balancer pointing to the service using hostname routing rules
3. Delete the service

[2016-10-11 17:26] joshwget commented on #6096
When I use Docker Compose I get the following.
[code]
Can you show the output of `docker inspect` for the Docker Compose created service?

I also don't see any difference in output when running the commands. Can you show the output of both?

[2016-10-11 17:53] rlex commented on #6168
@deniseschannon LBA was added via UI, containers... i can't really recall, but if i'm right one was added using rancher catalog and second by rancher-compose.

[2016-10-11 18:09] aemneina commented on #6204
@tonythian did the solution in Ding's post solve it for you?

[2016-10-11 18:13] jimengliu opened #6230 "Storage Volume Created by Rancher is not in a good state"
Steps:
1. add Rancher NFS infra catalog v0.0.3
2. In Rancher UI, choose a host and click Add Container for that host
3. fill out the volume tab with rancher-nfs driver and "test:/test" volume mount details
4. click create

results:
- volume with name "test" shows up in storagepool with State="Requested"
- click on the link of the volume, the resource lacks of "Update" action
- from the plugin logs

[2016-10-11 18:20] LLParse commented on #6228
Context:

We found an issue where launching templates with `io.rancher.container.agent.role: environmentAdmin` label doesn't always work (the injected access keys don't have access to some Rancher API features) and we've tracked it down to the access keys being tied to an account not having `{"actAsResourceAdminAccount":true}`. Looking at cattle code, this is set by `system` or `isSystem` field, w

[2016-10-11 18:22] LLParse commented on #5439
@eniac111 So the overlay network is functioning correctly? Can you ping one network agent from another?

[2016-10-11 18:22] jimengliu opened #6231 "Rancher scheduler failed to schedule a single container if it requests volume"
steps:
1. set up a 2 hosts Rancher setup with rancher/server:v1.2.0-pre4-rc2
2. enable infra catalog
3. create Rancher NFS stack
4. schedule a single container with volume(using rancher-nfs driver, "t1:/t1" mount) on one host1, which actually is scheduled. However, do the same thing,  schedule another on another host2, it failed to schedule immediately, with error  “Error (Scheduling failed: valid

[2016-10-11 19:21] galal-hussein opened #6232 "Can't create a replication controller on K8S 1.4"
Rancher version: master image
Kubectl version: 1.4
kubernetes version: 1.4

I am trying to run a replication controller for nginx for 2 pods with the following properties:

[code]
Then running this YAML:

[code]

The pods failed to be scheduled on any node:

[code]

And Kubelet containers are throwing these errors:

[code]

[2016-10-11 19:58] deniseschannon commented on #6231
how are you scheduling this?

how are you picking which host?

[2016-10-11 20:13] deniseschannon commented on #6188
We only recommend our `rancher/server:latest` tag for production.

http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/#rancher-server-tags

[2016-10-11 20:26] cpoole commented on #1269
FlexVols are nice but that requires an init script in the container that will fetch the secrets from the vol and inject them as environment variables before starting the actual program. This makes using community images from docker hub almost impossible.

It would be nice if the secrets bridge could inject a secret into a container at run time. For example you give rancher the two files

docker-co

[2016-10-11 20:48] willseward commented on #2734
@omata-metamax Just do a stack upgrade and change the environment variables.

[2016-10-11 21:32] westlywright commented on #6184
@tfiduccia I have addressed all issues except the last one `Adding/removing catalog that has machine drivers won't show drivers.` I am unable to reproduce this issue with Rancher UI master and Rancher Server master. Was there a special case to fall into this or was the issue related to a backend change?

[2016-10-11 22:41] deniseschannon opened #6233 "Catalog templates are not exporting the rancher-compose.yml"
**Rancher Version:**
Master 10/11

**Steps to Reproduce:**
Launch a catalog entry
Go to view config

**Results:**
Rancher-compose.yml shows

[code]

**Expected:**
Rancher-compose.yml should export what was in the template.

[2016-10-11 22:49] alena1108 commented on #6108
@dx9 you can email db dumps to me me alena@rancher.com

[2016-10-12 00:37] stepsawayuser opened #6234 "Health Check Interval not being followed"
**Rancher Version:**
1.1.0
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**

The Rancher server is ubuntu 14.04 and the hosts are RancherOS 4.5. They are located on AWS.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher server is single node with RDS as the database

**Environment Type: (Cattle/Kubernetes/Swarm

[2016-10-12 01:02] sangeethah commented on #6130
Tested with latest build from master:

Host has the following 3 fields which get populated with total memory/cpu/storage available in the host gets added to rancher-server:

[code]

Admin is allowed to edit the value of 3 fields.

During host registration , following 3 fields can be overridden by the following 3 environment variables set for rancher-agent:
[code]

[2016-10-12 02:46] sangeethah commented on #6228
This issue is seen when running automated k8s validation test. Following is the code snippet used to deploy the stack:
[code]

[2016-10-12 02:49] tonythian commented on #6204
@aemneina My rancher server & rancher agent is in LAN environment so server accessibility is no problem.  It was working fine previously until I upgraded ubuntu from 15.04 to 16.04.1 LTS (4.2.0-42-generic).

Ding's post didn't solve my problem, I tried to remove the /var/lib/rancher/state folder and it still failed with same error:

INFO: ENV: RANCHER_AGENT_IMAGE=rancher/agent:v1.0.2
invalid value

[2016-10-12 03:06] dx9 commented on #6108
@alena1108 sorry for the delay

[code]

With https://github.com/rancher/cattle/pull/2064, it's reproducible with:

[code]

[2016-10-12 03:38] juanluisbaptiste commented on #6173
I'm seeing it with agent from 1.2.0-pre4, and the agents are stuck in a "REGISTERING" state. With 1.2.0-pre3 didn't happen. These are the logs of one of the agents:

[code]

[2016-10-12 05:42] pschrammel opened #6235 "How to decleare a container but not to start it?"
I think this is more a feature request than bug (or perhaps I missed sth. in the docu):

I'd like to declare containers but don't start them. I have two use cases for this:
- using rancher-cron is nice but at deployment all containers are started even those which should be started by rancher-cron
- setup or other maintainance processes which should only be started manually (setup scripts, db clean

[2016-10-12 05:50] EugenMayer commented on #6109
Great news on that, i am really happy to see this going this route. Thanks!

[2016-10-12 05:55] pschrammel commented on #6235
BTW: My current workaround is to wrap these entry point into sth like:

`if File('first_run').exists?
   real_entry_point
else
  touch('first_run')
end
`
but it feels wrong.

[2016-10-12 06:13] sangeethah opened #6236 "On rancher-server restart , scehduler looses information about allocated mem/cpu for hosts."
Rancher Version: Build from master

Steps to reproduce the problem:
Deploy "Rancher Scheduler" from  "qa" branch of the infra-catalog.
Deploy few containers using following cpu/memory reservation set in launch config - memoryReservation and milliCpuReservation so that there is no more hosts  in the set up that can accomodate another container with the same cpu/memory reservation .

Restart rancher

[2016-10-12 06:23] sangeethah opened #6237 "Config.User field on docker containers is not set."
Rancher Version: Build from master - oct 10

Following 2 automated  tests cases report failure:
[code]
Error Message

assert '' == 'root'   + root
Stacktrace

admin_client = <cattle.Client object at 0x7f25ccc48490>
client = <cattle.Client object at 0x7f25ccd57590>, socat_containers = None

    def test_services_docker_options(admin_client, client, socat_containers):

        hosts = client.list_ho

[2016-10-12 06:26] StrongMonkey commented on #6237
https://github.com/rancher/agent/pull/57

[2016-10-12 06:27] sangeethah commented on #6237
Waiting on a new release of agent to test this one.

[2016-10-12 06:31] sangeethah opened #6238 "unicode string for name field in restartPolicy."
Rancher server version - Build from master

Following validation test failed because of unicode string being returned for name field in restartPolicy.
[code]

[2016-10-12 06:36] ramramu3433 commented on #4649
i am also having same issue on rancherha-1.0.1 ,but the host are not successfully registered.

[2016-10-12 06:36] sangeethah opened #6239 "host.stats() returns array of dictionary."
Rancher Version: Build from master

Following automation run fails since it expects host.stats() tp return dictionary instead of an array.

[code]

[2016-10-12 06:39] deniseschannon commented on #5332
@pulberg I've been trying to reproduce this issue recently on our master setup for 1.2.0-pre4 and have never seen it after many different combinations of upgrades using different versions of RancherOS with different versions of Docker.

In 1.2.0, we've implemented a new scheduler. If you see this again, can you please let me know? I'm going to close it.

Also, let me know if you've had any issues

[2016-10-12 06:39] #5332 closed

[2016-10-12 06:52] sangeethah opened #6240 "No scroll bar in "Edit Load Balancer" page resulting in "Save" button not shown to the user."
Rancher Version: Build from master

<img width="1068" alt="screen shot 2016-10-11 at 11 50 52 pm" src="https://cloud.githubusercontent.com/assets/4266958/19300190/c63117a2-900d-11e6-8a1d-a1b01f6ff72d.png">

[2016-10-12 08:39] jdel opened #6241 "Failed to unmarshall: Invalid integer. mem_limit breaks custom catalog upgrade when set on a sidekick."
**Rancher Version:**
v1.1.2, cattle v0.165.8, rancher-compose v0.8.6

**Docker Version:**
v1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Virtual vCloud machines running ROS 0.4.5

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Make a

[2016-10-12 09:01] cooperaj commented on #3092
@leodotcloud I'm not running a catalog item I can readily link I'm afraid. I am just attempting to run an ELK stack with logspout doing container log scraping and pushing that to logstash.

The only host that registers any container logs into the system is the one running logstash.

[2016-10-12 10:44] caio2k opened #6242 "Removing Environment does not remove IP 10.42.X.X"
**Rancher Version:** 1.1.4

**Docker Version:** 1.12.2 build bb80604

**OS and where are the hosts located?** Debian Jessie / bare metal

**Setup Details:** single node rancher

**Environment Type:** Cattle

**Steps to Reproduce:**
1. Add a service from catalog
2. Delete it
3. Delete environment

**Results:**
IP 10.42.0.1 still on docker0 interface

[code]

**Expected:**
IP 10.42.0.1 removed from

[2016-10-12 11:10] janeczku commented on #4659
https://github.com/rancher/community-catalog/pull/309

@galal-hussein
Template depends on `rancher/external-lb:v0.2.1`. I'll let you know when the image is pushed to Docker Hub. You can then validate the "ELB Classic Load Balancer" template from this catalog: https://github.com/janeczku/elbv2-catalog

[2016-10-12 11:28] janeczku commented on #6197
@virtuman Do you maybe still have a service that is referencing a convoy-gluster volume?
To clean up the storage pool, follow the steps listed here:
https://github.com/rancher/rancher/issues/2918#issuecomment-217216012
and please let me know if that worked for you,

[2016-10-12 11:34] janeczku commented on #6136
@praseodym The upstream library used by the PowerDNS provider (https://github.com/jgreat/powerdns) doesn't support the 4.0 API yet.
Pinging @jgreat to see if he is going to implement this.

[2016-10-12 11:47] janeczku commented on #6113
@will-chan Looks like a cattle issue as OP is overriding the default Rancher Managed Network subnet (`docker.network.subnet.cidr`). The mentioned fix is unrelated (overriding the Docker bridge IP).

[2016-10-12 11:49] janeczku commented on #6067
Hi @opichon. Can you share the log output of one of the volume-agent-efs container?

[2016-10-12 12:17] Toonix commented on #6225
v1.1.4 too

[2016-10-12 12:29] albenshao opened #6243 "[agent-instance]Launch stack: Client.Timeout exceeded while awaiting headers"
**Rancher Version:**
v1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04.4 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA (3 nodes), external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Setup 3 Nodes HA, and then launch stack

**Results:**
FATA[

[2016-10-12 12:37] janeczku commented on #5996
@weppos @jmatsushita I have updated the DNSimple catalog entry to use `external-lb:v0.5.0`. That means that health checks will now query the `/users` endpoint of the DNSimple API instead of sending expensive calls to list the records. I also bumped the health check interval to 10 secs. This should significantly lower the amount of overall API calls in normal operation. The case where an unhealthy

[2016-10-12 13:02] weppos commented on #5996
@janeczku the DNSimple API client is currently mostly a toolkit around the API. Even the v2 toolkit (AFAIK rancher is still connecting to the v1 API using the old client that is under my personal account) doesn't implement rate limiting right now.

One of the reasons we don't implement rate limiting is because each customer may have different needs. Our rate limiting is mostly per hour period, hen

[2016-10-12 13:39] kaos commented on #2228
@cjellick You referenced this issue, in this issue.. typo?

[2016-10-12 13:41] kaos commented on #5415
@deniseschannon interesting. I was under the impression that that wouldn't matter.. https://github.com/rancher/rancher/issues/2179#issuecomment-171341373
I haven't verified your claim yet, though.

[2016-10-12 13:50] T-Grave opened #6244 "Routing to the same service twice from different domains / same paths breaks Ingress loadbalancer"
**Rancher Version:**
1.1.4
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 - cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
4 nodes, 1 dedicated rancher node, 3 host nodes for kubernetes
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Problem**

In my previous issue (#6208) I d

[2016-10-12 14:15] whiteadam commented on #4463
@deniseschannon I am no longer able to replicate this (currently using 1.2.0-pre3).

[2016-10-12 15:11] jclark360 opened #6245 "HAproxy count out of control on rancher server"
**Rancher Version:**
1.1.4
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
aws ubuntu 14.04LTS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher, external db
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle
**Steps to Reproduce:**
we have a single stack running and over time one of the rancher se

[2016-10-12 15:11] jclark360 commented on #6245
landsca+  6827  0.0  0.0  35260   892 ?        Ss   15:05   0:00 /usr/sbin/haproxy -f /etc/healthcheck/healthcheck.cfg -D -p /var/run/haproxy.pid
landsca+ 10582  0.0  0.0  35260   900 ?        Ss   15:05   0:00 haproxy -p /var/run/haproxy.pid -f /etc/healthcheck/healthcheck.cfg -sf
landsca+ 11551  0.0  0.0  35260  1056 ?        Ss   15:05   0:00 haproxy -p /var/run/haproxy.pid -f /etc/healthcheck/

[2016-10-12 15:11] jclark360 commented on #6245
The count seems to grow every minute or so.

[2016-10-12 15:21] jclark360 commented on #6245
Only other thing I see that could be related is a bunch of volumes spawning errors on volume.activate in the processes area of the ui.

[2016-10-12 15:36] albenshao commented on #6243
I found if I go to the rancher host, and restart the container "agent-instance" (the container using image rancher/agent-instance:v0.8.3), all the "red" stack/service can be "active".
Then, new stack will still be red until restart the agent-instance next time.

Can anyone help? What happened?

[2016-10-12 15:56] deniseschannon commented on #5428
In v1.2.0-pre4, we are moving away from cadvisor, which was collecting our container stats to getting stats from `docker stats`.

@sangeethah @soumyalj can just test that container stats is working on CentOS7 with v1.2.0-pre4?

[2016-10-12 16:04] deniseschannon commented on #6209
@galal-hussein Is this reproducible on k8s 1.4? If not, please close it.

[2016-10-12 16:08] #6209 closed

[2016-10-12 16:41] StrongMonkey commented on #6238
@sangeethah Can you change the test to make it pass? By default golang will marshall string to utf-8.

[2016-10-12 16:52] joshwget commented on #6241
For the containers with `mem_limit` that succeed, what is the value? I'm assuming it's lower than the instance that failed, but I just want to make sure.

[2016-10-12 16:56] jdel commented on #6241
Sorry forgot to mention that. Actually both logstash-indexer and it's sidekick have the same value of 157286400 (150 mb). Some other containers in the stack like elastic have up to 9gb.

[2016-10-12 17:15] T-Grave commented on #6244
While playing around with different configurations I noticed the following:

kube-lego (the cert renewal container I used in #6208) is not aware it's running in a Rancher environment (neither do they support Rancher), yet somehow when it creates the k8s certificate secret, **Rancher picks it up and adds it very neatly to it's Certificates store, making them available throughout rancher loadbalance

[2016-10-12 17:31] janeczku commented on #5996
@weppos Sure, once we have the v2 API client library in the provider we can implement some backoff based on the rate limit information in the response.

[2016-10-12 17:35] andreinechaev opened #6246 "How to set volume properly?"
**Rancher Version: 1.1.4**

**Docker Version: 1.12.1**

**OS: Ubuntu 14, AWS**

**Setup Details: single node Rancher**

**Environment Type: Cattle, Kafka, Zookeeper**

**Steps to Reproduce: Set up a volume for containers. Tried to add volume in configurations like /data/kafka:/otp/kafka/logs** but got infinite initialization. So, both containers (Kafka and Zookeeper) are in initialization stage fo

[2016-10-12 18:16] alena1108 commented on #6244
@T-Grave

Yes, it will get updated for the all the lbs using this certificate. Also there are 2 ways of uploading certs that is supported for Rancher ingress: you can either specify it via secrets, and they will be uploaded to rancher/lb, or you can create them via Rancher, and reference it by name from your ingress resource.

Regarding the first configuration, I'll try to reproduce it using your

[2016-10-12 18:17] danipolo opened #6247 "Problem binding specific IP per container."
**Rancher Version:**
1.1.4
**Docker Version:**
Docker version 1.11.2, build b9f10c9
**OS and where are the hosts located? (cloud, bare metal, etc):**
Bare Metal, Ubuntu 16
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, fresh install.
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
For example, specify 111.222.3

[2016-10-12 18:24] alena1108 commented on #6233
@deniseschannon does this catalog entry have non-empty rancher compose?

[2016-10-12 18:25] alena1108 commented on #6190
The issue is fixed with a new "microserviced" dns: https://github.com/rancher/rancher-dns/pull/35

[2016-10-12 18:27] deniseschannon commented on #6233
@alena1108 Yes, the rancher-compose.yml file has stuff for this catalog entry.

[2016-10-12 18:30] T-Grave commented on #6244
Oh, in that case I'll try adding them as secrets agian, but this did not upload them to rancher. Is there a certain specification they should follow to be working? And when is the upload triggered, when applying these secrets to the Ingress, or when the secrets are created?

Might be a good idea to update the documentation to reflect this information, currently it says you should create a Rancher

[2016-10-12 18:37] sangeethah opened #6248 "Error message seen when adding members to an environment."
Rancher server version - Build from master

Steps to reproduce the problem:
In local auth enabled setup , try to add a user to an existing environment.

Following error is seen:

<img width="1237" alt="screen shot 2016-10-12 at 11 33 35 am" src="https://cloud.githubusercontent.com/assets/4266958/19323003/fe479a14-906f-11e6-994e-23b76e8bcaff.png">

[2016-10-12 18:52] alena1108 commented on #6168
@deniseschannon those are 2 different issues:

1) UI showing / for LB having no targets,  is a UI issue @vincent99 .
2) But the issue I've mentioned, is purely rancher-compose. It doesn't update the LB labels correctly, and as UI reads from those labels, it shows that the LB still has backend service that was actually removed

[2016-10-12 18:53] alena1108 commented on #6228
system flag is set to true only when stack gets deployed using rancher-cli or rancher ui, using rancher-infra catalog template. QA validation scripts should be changed accordingly.

[2016-10-12 18:55] alena1108 commented on #3950
Rancher-compose should validate ALL services from the compose file before starting their creation.

[2016-10-12 19:01] alena1108 commented on #6244
@T-Grave

Have you updated the corresponding? or removed/recreated? I believe removing/recreating should work. Need to double check on update.

As an alternative solution, you can just upload certificates to Rancher, omitting the k8s secrets. In Rancher UI, chose Infrastructure-> certificates, and upload your cert with the name = the name you gonna reference it by in your ingress.

You can find so

[2016-10-12 19:09] T-Grave commented on #6244
@alena1108

After fixing a bug in my container (it was adding empty secrets) I was able to use them as secrets in my Ingress resource. **The certificate upload to rancher happened as soon as I applied the Ingress configuration** (that should save you on the double checking)

[2016-10-12 20:13] sangeethah commented on #6229
@ebr: You should be able to generate Account-scoped API keys for "Read-only" users. You can do the following:
1. Have authentication enabled for rancher-server instance.
2. Add users to an Environment with Role set to "Read Only"
3. When logged in as this user , you will have the ability to generate "Account API Keys" for this user.

[2016-10-12 20:18] virtuman commented on #6197
I was never able to set up convoy to get it to work, so no references were ever made to it, at least as far as I know, maybe it did something on it's own? How could I check ?

I wasn't able to figure out how to delete and purge the volume; i tried the following:
http://localhost:8080/v1/projects/1a5/storagepools/

I saw the link to deactivate:
http://localhost:8080/v1/projects/1a5/storagepools/1sp

[2016-10-12 20:24] virtuman commented on #6197
Is there supposed to be a storagepool for each host? or did these get created along with convoy installation and need to also be removed?

{

    "id": "1sp29",
    "type": "storagePool",
    "links": {
        "self": "…/v1/projects/1a5/storagepools/1sp29",
        "account": "…/v1/projects/1a5/storagepools/1sp29/account",
        "credentials": "…/v1/projects/1a5/storagepools/1sp29/credentials",

[2016-10-12 20:52] virtuman commented on #6207
having exact same issue, any way to be able to upgrade service in version 1.2.0-pre4-rc2 or will building from master help with upgrading functionality? or do we need to wait for the next version to try it out?

[2016-10-12 20:55] sangeethah opened #6249 "Error message is misleading when allocation fails due to not being to allocate cpu/memory."
Rancher Version: Build from master

Steps to reproduce the problem:
Deploy Rancher Scheduler.

Scenario 1:
Start a service with port and memoryReservation/milliCpuReservation when there is not enough memory/cpu.
Containers fails to get created with error message - ```Failed to allocate instance [container:1i722]: Bad instance [container:1i722] in state [error]: Scheduling failed: host needs ports

[2016-10-12 21:01] sangeethah opened #6250 "Generic Error message when not able to allocate the reserved cpu/memory."
Rancher Version: Build from master

Start a service with memoryReservation/milliCpuReservation set.
When containers fail to start because of not being to allocate the reserved cpu , user is presented with error message

[code]

Cant tell which of the reservation could not be satisfied - cpu/memory.

The same is true when containers fail to start because of not being to allocate the reserved memory

[2016-10-12 21:09] aemneina commented on #6242
as a workaround you could remove the interface `ip link del docker0` usually does the trick. Make sure to restart the docker daemon to recreate docker0.

[2016-10-12 21:25] sangeethah opened #6251 "Not able to clone services with sidekick"
Rancher Version: Build from master

When cloning a service with sidekick, user is directed to "/fail" page with following error message:

[code]

[2016-10-12 21:49] sangeethah opened #6252 "When Load balancer is edited and targets are changed , the older targets continue to be present."
Rancher Version: Build from master

Steps to reproduce the problem:
Create LB with target service - "test1".
Edit LB service and change target to service "test2".

LB now has 2 targets associated with it , both "test1" and "test2".

Automation runs that report failures:

[code]

[2016-10-12 21:51] deniseschannon commented on #6168
There is no issue with rancher-compose as you need to run `rancher-compose up --upgrade` to update labels.

The linkedServices issue is an API issue, which is now tracked https://github.com/rancher/rancher/issues/6168

[2016-10-12 21:51] sangeethah commented on #6252
[code]

[2016-10-12 21:53] deniseschannon commented on #6252
If using the UI, with a loadbalancer pointed to a service. If you delete the service, the loadbalancer will still have the `linkedServices` show the `removed` link from the DB in the API.

[2016-10-12 22:37] sangeethah opened #6253 "Containers with sidekick stuck in "starting" state forever when deployed with mem/cpu reservations."
Rancher Version: Build form master

Steps to reproduce the problem:

Deploy a service (scale 2) with sidekick having both mem/cpu reservations set on both primary and sidekick containers.
All containers of the service comes up successfully.
Scale up service by 3.
There are few hosts that will not have enough mem/cpu to accomodate  both primary and sidekick  cotainers.
There is 1 hosts that will ac

[2016-10-12 23:12] sangeethah commented on #6236
Tested with latest build from master:
On restart of rancher-server or restart of scheduler container , we see the allocated cpu/memory reservation for hosts being preserved.

[2016-10-12 23:12] #6236 closed

[2016-10-13 00:07] wlan0 commented on #6232
Waiting for this PR to be merged - https://github.com/rancher/cattle/pull/2079

[2016-10-13 00:18] sangeethah opened #6254 "Validate host stats and container stats"
Validate host stats and container stats works for the following supported os/docker version combinations:

1.10,1.11and 1.12 docker versions on Ubuntu 14.04/Ubuntu 16.04/rhel 7.2/centos 7.2/ros 0.6.1

[2016-10-13 00:21] sangeethah opened #6255 "Not able to got to "Access Control" link"
Rancher Version: Build from master

Not able to got to "Access Control" link.
Following error seen in logs:

[code]

[2016-10-13 00:34] #6130 closed

[2016-10-13 00:48] sangeethah opened #6256 "UI support for cpu/mem/storage reservation parameters relating to resource based scheduler."
Rancher Version: Build from master

Expose following host parameters in host detail view and provide ability to edit them:

"localStorageMb"
"memory"
"milliCpu"

Expose following  launch config parameters when creating service/containers:
memoryReservation
milliCpuReservation

[2016-10-13 01:03] sangeethah commented on #5264
Tested with latest build from master:

Host has the following parameters set by default:

"localStorageMb"
"memory"
"milliCpu"

We also have the ability to edit the above settings.

Deployed Rancher Scheduler from  - https://github.com/rancher/infra-catalog/tree/qa/infra-templates/rancher-scheduler.

Able to set the following parameters when launching services to allocate memory and cpu for the co

[2016-10-13 01:03] #5264 closed

[2016-10-13 01:07] sangeethah commented on #2228
@koas, yes , Implementation details can be found here - https://github.com/rancher/rancher/issues/5264.

@eebjr , this feature will available in 1.2 release . Implementation details and testing done so far is tracked in https://github.com/rancher/rancher/issues/5264.

[2016-10-13 01:07] #2228 closed

[2016-10-13 01:14] Chris7 commented on #2788
Is there any work around to this issue atm?

[2016-10-13 01:37] deniseschannon commented on #6232
@wlan0 The PR is now merged. Is it ready to be tested?

[2016-10-13 03:28] #6229 closed

[2016-10-13 03:30] #5416 closed

[2016-10-13 03:32] #6151 closed

[2016-10-13 03:36] snipking commented on #2241
v1.0.2 with 11 container, .cadvisor is taking 5% ~ 10% CPU. But `docker stats` shows rancher-agent container taking 300%+ CPU.

Another host seems fine.

[2016-10-13 04:08] warroyo commented on #2143
+1

[2016-10-13 04:19] deniseschannon commented on #6211
Not able to reproduce from master on 10/12.

@sangeethah Can you test again?

[2016-10-13 04:21] wlan0 commented on #6232
@deniseschannon Yes!

[2016-10-13 04:25] virtuman commented on #6173
Same issue herel ubuntu 16.04 hosts

[2016-10-13 04:32] deniseschannon commented on #2241
@snipking In our next release (v1.2.0-pre4), we have removed cadvisor from Rancher and will be using `docker stats` to report stats.

[2016-10-13 04:47] deniseschannon commented on #4463
Thanks for letting me know @whiteadam

[2016-10-13 04:53] joshwget commented on #5415
@kaos In general, it doesn't matter. The `hostname` key is the only one that is handled a little differently depending on which file it's in.

[2016-10-13 08:44] Toonix commented on #6225
I found the problem. The issue is when I use Port 80 instead of 8080.
( sudo docker run -d --restart=unless-stopped -p 80:8080 rancher/server)

[2016-10-13 09:22] cabrinoob commented on #3495
Any update on this?

[2016-10-13 09:25] roderik commented on #4984
Just chiming in, I've got the same problem. The second part of the private key is not in server.pem while it is entered in the gui.

[2016-10-13 09:43] caio2k commented on #6242
As a workaround I removed only the IP 10.42.0.1 from the interface. Then you shouldn't restart anything :)
`ip addr del 10.42.0.1 dev docker0`

[2016-10-13 10:35] Dremor commented on #2139
+1 for this idea. It would be really useful to me.

[2016-10-13 10:50] juliangamble opened #6257 "Is it possible to run rancher-compose [start just one service] from the yml file?"
Rancher Version:
1.02
Docker Version:
1.10.3
OS and where are the hosts located? (cloud, bare metal, etc):
Redhat - cloud
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)
single-node-rancher
Environment Type: (Cattle/Kubernetes/Swarm/Mesos)
Cattle

**Steps to Reproduce:**
docker-compose start <servicename>

**Results:**
Everything in the yml file started.

**Expecte

[2016-10-13 10:50] thekiwi opened #6258 "Processes: physicalhost.error CANCELED frequently appearing"
**Rancher Version:**
1.1.4

**Docker Version:**
1.9.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Amazon Linux AMI 2015.09, AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Unsure - deleting hosts in an older Ran

[2016-10-13 11:23] clouderding opened #6259 "how to export the logs of rancher server"
Usually, we launch the rancher server with the command like `docker run -d --restart=unless-stopped -p 8080:8080 rancher/server`  and get the server log with the command `docker logs XXXX`, but how can i export the server logs in host machine? Because the logs is very big and it is very difficult to  locate problems.
thank you.

[2016-10-13 13:10] vincenzobluesparklabs commented on #5982
Got the same error with
Rancher 1.1.4
EFS Convoy

[2016-10-13 14:28] pruthviraj08 opened #6260 "Application of sidekicks in rancher"
I am currenlty using rancher for the cloud deployments. I have service A, service B and service C. 'A' should communicate with B on a specific port, and they should act like a single service and "B" should load the configuration file(volumes from different image) from "C". According to my understanding of side kicks. "A" should be my primary service and "B" should be the sidekick. Is there any pos

[2016-10-13 14:34] deniseschannon commented on #6257
Yes, you would do `rancher-compose start <servicename>`

For example, if you have a docker-compose.yml that looks like this:

[code]

You could run `rancher-compose start test2` to only start the `test2` service.

[2016-10-13 14:34] #6257 closed

[2016-10-13 14:55] Cygnust commented on #4459
@aemneina Hi Ahmad, seems like the resolution was not done.
I had a few problems (my rancher servers reboot randomly) and I believe it's due to that ip used on my network.

Could you please guide me to change the bridge IP ?
I know how to force an ip onto a container but I'm completely lost regrding the fact my containers are created by the rancher.sh scripts.

Another question, isn't that IP harc

[2016-10-13 15:27] sangeethah commented on #6211
"Machine Config" options are shown now when adding Digitial Ocean Machine .Able to download machine config and use it to access the hosts.

[2016-10-13 16:40] galal-hussein opened #6261 "Admin tab is responding with 500 error"
**Rancher Version:**
master image
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
Install Rancher server from master image and then click on a

[2016-10-13 17:17] alena1108 commented on #6108
This bug is related to random order in the list result for service indexes. Fixed this particular situation by adding sort function to the index generation code. @dx9 thank you and postgres for catching it :) I can see that it is much more random on postgres, to the point that this bug is always reproducible

[2016-10-13 17:18] zambon commented on #6088
I'm experiencing similar problems. The differences in my environment are:

**Docker version:** 1.11.2
**rancher-compose version:** 0.9.2
**OS:** Boot2docker VM

[2016-10-13 17:20] galal-hussein opened #6262 "Rancher server hangs after deploying k8s stack"
**Rancher Version:**
master image
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
Install rancher server image and then deploy k8s 1.4 from the infra

[2016-10-13 17:22] aemneina commented on #4459
Hey @Cygnust,

I cant imagine a host rebooting due to networking issues. You should take a look at the host logs (messages/system), to see if there are other external factors.

Docs for changing dockers bridge-ip here: https://docs.docker.com/engine/userguide/networking/default_network/custom-docker0/

and changing ranchers config to accommodate the updated docker BIP can be found here: https://gi

[2016-10-13 17:25] sangeethah commented on #6238
@StrongMonkey: Will fix test cases for this change.

[2016-10-13 17:53] alena1108 commented on #6110
Closing as verified

[2016-10-13 17:53] #6110 closed

[2016-10-13 17:53] alena1108 commented on #6100
Closing as verified

[2016-10-13 17:53] #6100 closed

[2016-10-13 17:54] alena1108 commented on #6103
Closing as verified

[2016-10-13 17:54] #6103 closed

[2016-10-13 17:56] alena1108 commented on #5561
@sangeethah to verify the test, you can do this:

1) Start service with scale=4
2) upgrade the service with batchSize=1
3) Once upgraded, rollback. Make sure that:

* the upgraded instance that is being stopped, has the same service index as the old one (the one you are rolling back to)

[2016-10-13 17:57] alena1108 commented on #6106
Closing as verified

[2016-10-13 17:57] #6106 closed

[2016-10-13 18:14] alena1108 commented on #6169
@guyspronck

are you referring to legacy docker container links? https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/

if so, we are planning on dropping their support. Resolving the linked services using internal DNS is the right approach here. Also all services within the same stack are discoverable to each other by name by default, so there is no need for the below l

[2016-10-13 18:16] alena1108 commented on #6226
New metadata version was introduced - "2016-07-29" - and containers/services/stacks are only lowercased there. Note that the "latest" tag points to this version now.

[2016-10-13 19:34] phedoreanu commented on #5241
Create the EC2 instances manually, you also get to specify the ssh key-pair, then ssh in and run:
[code]

[2016-10-13 19:45] alena1108 commented on #6233
Works for me. Note that we never export Questions section. We only export services/volumes, etc

[2016-10-13 20:33] galal-hussein commented on #4659
@janeczku Tested and worked on Rancher master image.

[2016-10-13 20:45] galal-hussein commented on #4659
Merged https://github.com/rancher/community-catalog/pull/309

[2016-10-13 20:45] #4659 closed

[2016-10-13 20:55] joshwget commented on #5516
I definitely agree this would be a useful feature, but I don't think modifying services hashes is the right way to go about this. My current thought is to add a new type of upgrade to the CLI to support this, although we'll still have to think about this issue a little more.

[2016-10-13 20:57] aemneina commented on #6259
There are a lot of strategies out there to manage, centralize logging. I think you'd probably benefit by using --tail=<n_lines> when looking at docker logs. Please refer to the man pages for that.

[2016-10-13 20:57] #6259 closed

[2016-10-13 21:14] disappearinjon opened #6263 "convoy-nfs leaves behind 'storage' pools after its stack is deleted"
To repro:
- Create a new convoy-nfs stack from the catalog
- Delete the stack
- Navigate to Infrastructure -> Storage. Observe pool remains behind.

I have found no obvious way to delete the pool via the UI.

(Note that I'm running into problems deploying convoy-nfs, so I have repeated this multiple times with the same result--but my containers have never fully & correctly deployed first.)

---

|

[2016-10-13 21:22] fortunto2 opened #6264 "MongoDB cluster host name need change"
**Rancher Version:** 1.1.14

**Docker Version:**  1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):** softlayer vps ubuntu 16

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single standart

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reproduce:**
1. create cluster from catalog (mongo 3.2,  3 node)
2. upgrade

[2016-10-13 21:29] joshwget commented on #6241
If a given catalog item has this issue, is it consistently reproducible for that item or does it only happen some of the time? Would you mind posting the Docker Compose file for one of the catalog items you've seen this happen with?

[2016-10-13 21:32] aemneina commented on #6247
part of the issue i believe is that you need to specify <ip_address>:<external_port>:<container_port> but I dont believe ip address can be the host address directly, or anything outside the 10.42.0.0/16 address space, unless your using host networking. Your best bet is to bind ports, use host labels so it lands on your desired host... then you'll be able to hit host_ip:port and access your service

[2016-10-13 21:40] drpebcak commented on #5374
@aemneina that seems to have worked, thanks! Is there functionality that might still not be correct because of this? The only other issue I have is that every 30 seconds or so the pages refresh (disconnects from log view, resets metrics, or closes open shell). Is that possibly related to this, or should it be in a different issue?

[2016-10-13 21:54] dsvmacdonald commented on #6088
Me too

Docker version: 1.11.4
rancher-compose version: v0.8.6
OS: macOS Sierra client & Boot2docker VM

[2016-10-13 21:58] alena1108 commented on #5757
@sangeethah this port field is not enabled on the Kubernetes Ingress API. It is kubectl client populating it based on the certificate presence in ingress resource:

https://github.com/kubernetes/kubernetes/blob/5eb75e4eb9d8a045e4d9cfbd1ff7bb84ef6d8f36/pkg/kubectl/resource_printer.go#L1180

[code]

Lets keep this bug open for the future in case Kubernetes will allow to set the port on ingress. Toda

[2016-10-13 22:06] sangeethah opened #6265 "No way to change a Kubernetes environment to cattle."
Rancher Version: Build from master

Once  K8s system stack is deployed from Infra catalog , I see orchestration set to "kubernetes".
How can I change the orchestration back to "cattle".
Is it  just by deleting the K8s system stack ? If yes , I dont see the system stacks being listed anywhere in the UI for users to be able to delete this stack.

[2016-10-13 22:15] alena1108 commented on #5064
@deniseschannon looks like Rancher compose issue. UI/API generates the ports in seemingly correct format:

[code]

I've fed this config file to rancher-compose, and put a debug breakpoint in the service create code. The "port" api field came to the API as ```ports=[80:80/tcp]```:

[code]

[2016-10-13 22:20] aemneina commented on #6264
if you're using the catalog item for mongodb, the RS nodes join with their IP addresses. I gathered that from `/opt/rancher/bin/connect.sh` provided by the `rancher/mongodb-conf` container. You'd most likely need to modify connect.sh and recreate the conf image for the RC's to join/add itself by name. then redeploy the stack using your modified conf image.

[2016-10-13 22:26] alena1108 commented on #6234
Should be fixed as we've changed the way we manage our healthcheck service. Now it is going to be launched as a standalone microservice, and we've paid a particular attention to making sure that there are no zombie haproxy processes. I suspect that's what caused healthcheck requests spam. When there are several haproxy processes, the requests are gonna be multiplied.

https://github.com/rancher/he

[2016-10-13 22:27] aemneina commented on #6260
Sounds like A and B can reference each other by their 'names', dns should resolve them, as they'll be in the same stack/environment. You'll want B to use volumes from C. A good example of side-loading config could be found [here](https://github.com/rancher/community-catalog/blob/master/templates/MongoDB/1/docker-compose.yml)... mongo-base provides the config for mongo-cluster.

[2016-10-13 22:32] aemneina commented on #5684
I'll close this out @cavemandaveman , if there are any new issues feel free to open a new ticket.

[2016-10-13 22:32] #5684 closed

[2016-10-13 22:34] aemneina commented on #5374
That would be a different issue. Something between you and rancher is closing idle connections (typically the LB fronting the HA stack). Doesnt help that the load-balancer service with-in the rancher management stack, is configured to timeout idle connections at 50 seconds... I call that out [here](https://github.com/rancher/rancher/issues/6192).

[2016-10-13 22:37] aemneina commented on #6247
might also be related to [this issue](https://github.com/rancher/rancher/issues/5064#issuecomment-253654669) closing in favor of that.

[2016-10-13 22:37] #6247 closed

[2016-10-13 22:50] galal-hussein opened #6266 "Github Authentication is broken"
**Rancher Version:**
master image
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
In the access control page, try to enable github authentication.
**Res

[2016-10-13 22:52] joshwget commented on #5805
If you look at "View in API" for the load balancer service, do you see the `defaultCertificateId` set? So far I haven't been able to reproduce this with a simpler Docker Compose file.

[2016-10-13 22:54] iDiogenes commented on #6234
This sounds great @alena1108, thank you. It looks like the healthcheck microserver is going to be part of the 1.2.0 release at the end of the month?

[2016-10-13 22:59] fortunto2 commented on #6264
thanks aemneina , but i run rancher from docker and don't find opt/rancher/bin/connect.sh

and new question

i have problem when add to cluster service option `--auth`
![2016-10-14 03-57-53](https://cloud.githubusercontent.com/assets/1236751/19370002/691c980a-91c2-11e6-93c3-c6a5440a4b57.png)

when restart ...
[code]

[code]

[2016-10-13 23:26] drpebcak commented on #6192
Following @aemneina over here... I've been hitting this issue too. Is there an ETA on the fix?

[2016-10-13 23:28] drpebcak commented on #5374
Could be the ELB, but if I have an open terminal that is streaming logs or something, that isn't really idle, is it?

[2016-10-13 23:28] sangeethah commented on #6140
This issue is almost always reproducible when I try to create 2 services with same volume that does not exists yet (with scope stack) at the same time .

using the following yml when volume foo5 does not exist , reproduces the issues always.
[code]

[2016-10-13 23:29] galal-hussein opened #6267 "Failing to add new member to an environment"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
- Enable local authentication with default admin
- Add new user with type use

[2016-10-13 23:30] sangeethah commented on #6143
Tested with rancher-compose-v0.11.0-rc4:

User is now presented with message about volume being created/reused:

[code]

[code]

[2016-10-13 23:30] #6143 closed

[2016-10-13 23:38] aemneina commented on #5374
no, that sounds bad...

[2016-10-13 23:46] sangeethah commented on #6144
Tested with latest build from master and using rancher-compose version - rancher-compose-v0.11.0-rc4.
On deletion of stacks , volumes created at stack level (external=false) is not being deleted.
On deleteion of services ,  volumes created at container level (per_container: true) gets deleted.
When container of a service gets deleted, and reconcile triggers container creation we see the volume bei

[2016-10-13 23:46] #6144 closed

[2016-10-13 23:48] aemneina commented on #5374
@drpebcak I'm going to close this, and we can follow https://github.com/rancher/rancher/issues/6192 for resolution.

[2016-10-13 23:48] #5374 closed

[2016-10-14 00:16] sangeethah commented on #6141
This issue is still reproducible when testing with rancher-compose-v0.11.0-rc4.

[2016-10-14 00:20] sangeethah opened #6268 "We should not be allowed to create volume_template with no scope."
Rancher version - Build from master

[code]

[2016-10-14 00:21] sangeethah commented on #6237
Tested with latest build from master.

This test case now succeeds.

[2016-10-14 00:21] #6237 closed

[2016-10-14 00:38] sangeethah commented on #4108
Tested with latest build from master:

This issue is not seen anymore:
[code]

[2016-10-14 00:38] #4108 closed

[2016-10-14 00:53] sangeethah commented on #6174
Tested with build from master:
Able to get version of go-agent running inside rancher-agent container.
[code]

[2016-10-14 00:53] #6174 closed

[2016-10-14 01:49] rezonant commented on #5999
Does rancher ingress obey `kubernetes.io/ingress.class` ?Perhaps that could be used? https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#running-multiple-ingress-controllers
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc

[2016-10-14 02:03] rezonant commented on #5999
Looks like in v.1.1.4 it does not.

[2016-10-14 07:11] guyspronck commented on #6169
@alena1108
I am indeed referring to docker links (like the ones you said) . So how should I actually do my docker-compose file? Just remove the links and it will still work?

[2016-10-14 07:11] ibuildthecloud commented on #4991
Definitely being addressed in 1.2.  There are a lot of changes in this area.

[2016-10-14 08:23] asthomasdk commented on #5789
We are seeing a similar issue with stacks we are starting that need health checks for the traefik load balancer to pick up the backend of the service.

This is on Rancher 1.1.4 with Docker 1.1.12

Once our stack is started, I can upgrade the primary service, and add the same health check settings that I have in my rancher-compose.yml file - and it then works.

Any ideas on where to look ?

[2016-10-14 13:09] kaos commented on #5415
Doh. Ouch. Ok, thanks. Will try that, then.

[2016-10-14 13:12] kaos commented on #2228
@sangeethah thanks :)

[2016-10-14 13:44] enricomingardo commented on #5865
hi, the problem could be that the agent can't resolve  `rancher.pastis-hosting.net` try to run container agent with `--add-host` option:
`sudo docker run -d --add-host rancher.pastis-hosting.net:xxx.xxx.xxx.xxx --privileged -v /var/run/docker.sock:/var/run/docker.sock ...`
where `xxx.xxx.xxx.xxx` is IP address of `rancher.pastis-hosting.net`

[2016-10-14 14:38] asanami opened #6269 "Host provisioning under openstack failing (certificates)"
**Rancher Version:**  1.14

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):** Openstack

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**  single node rancher , internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**  Kubernetes

**Steps to Reproduce:**
1. Install rancher server under docker
2. Install hosts throug

[2016-10-14 14:43] deniseschannon commented on #6269
Are you able to take the same command that is in the Rancher server logs (typically starts with `cmd slice: create` and use that command with Docker Machine to correctly provision a host.

The error looks more like a Docker Machine error and not a Rancher one. We are just running Docker Machine and once the host is up and running we will SSH in to install the Rancher agent.

[2016-10-14 15:23] asanami commented on #6269
Yes, it does look like a docker-[machine] issue, but I'm unable to see what command it is running.  I'm running the rancher server under docker in interactive mode, but I do not see any 'cmd slice' commands with anything docker related.  Do I need to increase verbosity?   The only cmd slice related thing I see is:

[code]

After it has run, it also cleans down the VM so from that perspective I'm u

[2016-10-14 15:53] galal-hussein opened #6270 "Failed to deploy pods in kubernetes 1.4"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4
**Steps to Reproduce:**
Install kubernetes 1.4 from infra catalog
try to deploy any po

[2016-10-14 15:54] galal-hussein commented on #6232
Tested and I can see the nodes registered in Kubernetes.

[2016-10-14 15:54] #6232 closed

[2016-10-14 16:20] retog opened #6271 "Image not found in private repository when creating a service"
**Rancher Version: v1.1.4**

**Docker Version: 1.12.2**

**OS and where are the hosts located? Ubuntu 14:04 on virtual host (contabo.de)**

**Setup Details: single node rancher, internal DB **

**Environment Type: Cattle**

**Steps to Reproduce:**

- Register a private registry
- Create a container from that registry by clicking on "Add Container" in Infrastructure -> Hosts
- Add service with a co

[2016-10-14 16:43] aemneina commented on #6271
Have you registered the repo omitting the http(s) and image name? Also when deploying are you giving the repo url/image in the image definition?

[2016-10-14 17:03] galal-hussein opened #6272 "Github organization authorization access failed"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
- Enable github authentication
- follow instructions to add client id

[2016-10-14 17:08] asthomasdk commented on #5789
I should add that the health checks I am having issues with are defined in rancher-compose.yml files that are part of a custom catalog that we are launching instances from.

If I add health checks to the launched instance with exactly the same settings, they are added and enabled correctly.

[2016-10-14 17:15] rcarmo commented on #2599
Is there a way to set the token WHILE deploying the Rancher server? In that way, we could own that secret and bake it in to cloud-init scripts as machines are deployed.

[2016-10-14 17:23] AnalogJ commented on #2599
@rcarmo Are you trying to deploy the master server & agent nodes in parallel? It looks like you might have issues with that as the agents will fail if they can't talk to an already existing server.

If you can run the agents after the server is up, then you can use the Rancher API to get a registrationToken:

https://github.com/mediadepot/chef-docker_rancher/blob/master/libraries/provider_agent.rb

[2016-10-14 17:27] mrajashree commented on #5352
Unable to reproduce this issue with current rancher/server:master. This might have been fixed by recent changes in catalog service and cattle UI. I have referenced the catalog-service PRs

[2016-10-14 17:32] retog commented on #6271
@aemneina, the registry is registered with https://myorg.org:5000, the image is specified as 	myorg.org:5000/myimage,

[2016-10-14 17:38] retog commented on #6271
In the logs of rancher/agent-instance I see:

[code]

[2016-10-14 17:40] rcarmo commented on #2599
@AnalogJ I know. I've done that in the past, but I think that still requires too much human intervention because you have to either have auth disabled or generate an API key.

I _really_ want to be able to deploy everything in parallel, and it seems to me that being able to supply a shared secret to both masters and slaves would be much more practical - especially since on Azure I can instantiate

[2016-10-14 17:41] StrongMonkey commented on #6239
@sangeethah I think i am not going to change the format until we have some problems in getting the stats in UI.

[2016-10-14 17:43] galal-hussein commented on #6267
The same issue happens when adding new member when Github authentication is enabled.

[2016-10-14 17:48] ChromoX opened #6273 "Convoy-NFS: System error: pivot_root invalid argument"
**Rancher Version:**
v1.1.4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS, Bare Metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher, Internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Catalog -> Convoy-NFS v0.4.0
NFS Server is local, but

[2016-10-14 17:52] wlan0 commented on #5591
Will be fixed with flex volumes support.

[2016-10-14 17:53] AnalogJ commented on #2599
@rcarmo Well generating the API key & enabling auth can be done in an automated way (https://github.com/mediadepot/chef-docker_rancher/blob/master/libraries/provider_auth_local.rb#L70-L109). But I can see where you're going with this.

It's alot easier to just use a shared key than it is to
- automatically generate the API key on master standup
- push the API key to a secret server/persistent stor

[2016-10-14 18:20] sangeethah commented on #6238
Fixed with this - https://github.com/rancher/validation-tests/pull/229
Tests are now succeeding.

[2016-10-14 18:20] #6238 closed

[2016-10-14 18:22] sangeethah commented on #6189
Tested with lastet build from master - Oct 13 ~5:30 pm.
This issue is still seen in setups with large number of containers.

[2016-10-14 18:48] kkvilekval opened #6274 "private/public network connection issue"
**Rancher Version:**
V1.1.4
**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher / internal db
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**

Our haproxy load-balances cannot contact nodes on the private

[2016-10-14 18:49] deniseschannon commented on #5926
Rancher CLI v0.2.0+ is now only compatible with Rancher v1.2.0-pre3+ as we are starting to use the v2-beta API in the CLI.

[2016-10-14 18:53] soumyalj commented on #5428
Tested with Master on Docker 1.10.3. Container stats and Host stats are displayed. See below:
<img width="1618" alt="centos-1 10 3 -container stats" src="https://cloud.githubusercontent.com/assets/18536626/19399120/be8f2c7a-9204-11e6-84d3-f46ccb78cc98.png">
<img width="1626" alt="centos1 10 3 host stats" src="https://cloud.githubusercontent.com/assets/18536626/19399126/c4f98c18-9204-11e6-844a-639b

[2016-10-14 18:53] #5428 closed

[2016-10-14 18:53] ChromoX opened #6275 "Convoy-NFS: Doesn't cleanup after removing service"
**Rancher Version:**
v1.1.4
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS 0.7.0-rc4, Bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher, Internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Deploy Convoy-NFS cluster that fails to star

[2016-10-14 19:54] prachidamle commented on #6272
This is what is causing the login failure:

When a new org is created on Github, by default the access to this org is restricted. So any member's application that tries to list that org will not find it under that member account.

So for the newly created org, the owner of the org should set the Policy to No restrictions:
1. Login on GIthub as the owner of that org
2. Go to the Organization Settin

[2016-10-14 19:56] prachidamle commented on #6272
@galal-hussein @sangeethah let us document the above "about new org creation" in the Github Test plan.

[2016-10-14 19:56] janeczku commented on #5273
https://github.com/rancher/external-dns/pull/47

[2016-10-14 19:57] alena1108 commented on #6265
@sangeethah it is under stacks->infrastructure

[2016-10-14 19:57] alena1108 commented on #6265
and yes, the way to get back to cattle - delete k8s stack

[2016-10-14 19:57] janeczku commented on #4066
https://github.com/rancher/external-dns/pull/47

[2016-10-14 19:58] alena1108 commented on #6095
punting the bug for now; as long as pods and other components get deployed correctly, we should be good

[2016-10-14 19:58] kkvilekval commented on #6274
Another piece of the puzzle.

. on the internet facing machines the, in the load-balancer the /etc/resolv.conf appears to be taken verbatim from host

:/# cat /etc/resolv.conf
domain ece.ucsb.edu
search ece.ucsb.edu
nameserver 128.111.56.36
nameserver 128.111.56.123
nameserver 128.111.1.2

While on the worker hosts:

~# cat /etc/resolv.conf
search ece.ucsb.edu testing.rancher.internal websvc.testi

[2016-10-14 20:02] janeczku commented on #4557
@prachidamle This is because the environment UUID for default environments isn't really an UUID. It's always the string "adminProject". I don't think we can distinguish pools added by external-lb services running in the default environment on different Rancher instances unless this is fixed in Cattle.

[2016-10-14 20:03] alena1108 commented on #6169
@guyspronck yes, it should work. To get mongo container ip from the service depending on it, you can just call ping/dig "mongodb" and the ip address will be returned to you. Of you can fetch this info from rancher-metadata (from inside the rocket-chat container):
[code]
each container object will have ip address under primary_ip field.

You can still keep links in your docker-compose. We use them

[2016-10-14 20:03] #6169 closed

[2016-10-14 20:04] janeczku commented on #6113
ping @alena1108

[2016-10-14 20:04] janeczku commented on #5612
https://github.com/rancher/external-dns/pull/46

[2016-10-14 20:08] zambon commented on #6149
@vincent99 Could you elaborate on that? I'm by no means a networking expert, but I'm not sure I agree with that.

[2016-10-14 20:12] alena1108 commented on #5591
@jimengliu

[2016-10-14 20:12] galal-hussein commented on #6272
Github test plan is updated with those steps .. and the steps tested and worked, thanks.

[2016-10-14 20:12] #6272 closed

[2016-10-14 20:13] alena1108 commented on #6121
We are tracking picking up cloud provider in a separate bug (assigned to Sid), so removing Sid as an assignee from this one

https://github.com/rancher/rancher/issues/6172

[2016-10-14 20:17] alena1108 commented on #5607
@jimengliu

[2016-10-14 20:19] alena1108 commented on #5751
Labels propagation was added to k8s 1.4 Rancher 1.2. But it works the other way around - you set labels on the hosts in Rancher, not in Kubectl, and then they get propagated to k8s. It is done this way because node object can get changed on host going up/down, and keeping original label info in Rancher is more reliable.

[2016-10-14 20:19] alena1108 commented on #5751
Can we make sure this works in Rancher 1.2, k8s 1.4?

[2016-10-14 20:20] prachidamle commented on #6261
@ibuildthecloud this is because rancher-auth-service is OFF by default.
Admin tab UI tries to load /v1-auth/schemas and gets a 500 since no service is listening for /v1-auth/

We should have auth service on by default.

[2016-10-14 20:22] alena1108 commented on #6074
Is it because of the template format? @wlan0

[2016-10-14 20:22] alena1108 commented on #6120
We should enable this api endpoint in the template: v2alpha1

[2016-10-14 20:26] prachidamle commented on #6261
Another option is UI not loading /v1-auth/schemas unless "Admin tab -> Access Control -> Github/Saml" is loaded

Currently UI loads the schemas way earlier(at Admin tab) than it is actually used

[2016-10-14 20:29] janeczku commented on #3972
https://github.com/rancher/external-dns/pull/48

[2016-10-14 20:44] janeczku commented on #5996
https://github.com/rancher/external-dns/pull/49

[2016-10-14 20:45] wlan0 commented on #4348
@galal-hussein This should work with infra catalog qa branch.

[2016-10-14 20:55] wlan0 commented on #5857
@bonifaido Kuberentes abstracts the hostport - this is a feature, not a bug. If you need to access the port, then you need to create a nodeport service.

refer: https://github.com/kubernetes/kubernetes/issues/3267

[2016-10-14 20:56] gerich-home commented on #4576
Hi, I see that the feature is assigned to October 28 milestone (1.2.0) and has 1st priority, but there are quite a lot items to complete by that date in this milestone.
Can I be sure enough that it will be available on October 28?

[2016-10-14 21:04] Moeser commented on #4897
I'm not sure if I understand that last update.  Does that mean you won't be adding a way for rancher-compose to set the scale based on the scale: setting in rancher-compose.yml?

[2016-10-14 21:06] deniseschannon commented on #5296
Starting with v1.2.0-pre4-rc2, we've started using the new go agent. Any bugs for it will be filed separately.

[2016-10-14 21:06] #5296 closed

[2016-10-14 21:09] deniseschannon commented on #5433
Verified with Master 10/14 that this is working as expected

[2016-10-14 21:09] #5433 closed

[2016-10-14 21:11] galal-hussein commented on #6270
Tested and worked on master image with kubernetes 1.4 deployed from the infra catalog.

[2016-10-14 21:11] #6270 closed

[2016-10-14 21:17] deniseschannon commented on #4897
@Moeser  The last comment was referencing my previous comment saying it was necessary to make bindings to work.

In rancher-compose, the way we recommend changing scale is to use `rancher-compose scale` and not to use it in the rancher-compose.yml.

[2016-10-14 21:21] alena1108 commented on #6147
@andylmtang there is no support for dns for host level containers yet, they are discussing it right now:

https://github.com/kubernetes/kubernetes/issues/17406

Keeping this bug open for the next Rancher release.

[2016-10-14 21:28] will-chan commented on #4576
We are planning an Experimental build for 1.2 but the fully implemented version won't come out until 1.3.

[2016-10-14 21:34] sangeethah commented on #5129
Tested with latest build from master:

Settings - cleanup.age_limit.hours is not present in the default list of settings. We need to have this settings available by default with default value set.

[2016-10-14 21:35] wlan0 commented on #5857
@bonifaido This seems to be a legit bug. I'm looking into it.

[2016-10-14 21:36] aemneina commented on #6271
@retog can you remove and readd the registry with myorg.org:5000 and when deploying the image specify myorg.org:5000/myimage ... can you let us know if that works?

[2016-10-14 21:41] LLParse commented on #5129
https://github.com/rancher/cattle/pull/2090

[2016-10-14 21:56] aemneina commented on #6224
@Chris7 can you share with me the link to the docs where `-v` is suggested for the certificate?

[2016-10-14 22:13] sangeethah opened #6276 "Foreign key error encountered when cleanup DB routine is executed."
Server version - Build from master

Created settings - cleanup.age_limit.hours settings and restart rancher-server to trigger cleanup DB routine.

Foreign key error encountered when cleanup DB routine is executed:

[code]

[2016-10-14 22:16] #4897 closed

[2016-10-14 22:17] alena1108 commented on #6113
@leodotcloud could you look at it?

[2016-10-14 22:18] sangeethah commented on #5129
sql exception seen when cleanup routine is run - https://github.com/rancher/rancher/issues/6276

[2016-10-14 22:22] alena1108 commented on #6208
@T-Grave by default, k8s provides 2 entry points for the ingress: port 80 and port 443. Those are the ports that are being published to the host. If there is any other service listening on this very same port, the port config error will prevent ingress LB from launching. So looks like something else is listening on port 80 when your ingress gets created. So you have 2 ways of solving it:

1) Overr

[2016-10-14 22:31] soumyalj opened #6277 "Exporting yaml for stacks uses v1 format for "logging" key"
**Rancher Version:**Master

**Docker Version:**1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Cattle

**Steps to Reproduce:**
1. Create a stack "Stack1" using the below yaml file:

[code]

Stack1 is created wi

[2016-10-14 22:45] juliangamble commented on #6257
Your doco doesn't say this. It says you can only run all. Can you please update the documentation?

[2016-10-14 22:46] rezonant commented on #5999
I think this should be revisited -- it appears there is no way to disable Rancher's k8s ingress integration without causing Catalog to fail (it returns to the "Setting up Kubernetes" screen)

[2016-10-14 22:49] galal-hussein commented on #5394
Tested this feature on k8s 1.4 and worked

[2016-10-14 22:55] alena1108 commented on #5869
As long as https://github.com/rancher/rancher/issues/5508 is fixed, we are fine. Punting this one for now.

[2016-10-14 23:00] galal-hussein opened #6278 "Kubectl logs/exec failed on k8s 1.4"
**Rancher Version:**
master image
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4
**Steps to Reproduce:**
- Install kubernetes 1.4 from infra catalog
- run nginx pod:

[2016-10-14 23:10] alena1108 commented on #5842
Depending if we are getting rid of Rancher LB v1, this bug can become mustFix

[2016-10-14 23:27] #5394 closed

[2016-10-14 23:28] sangeethah commented on #6265
@alena1108 , Thanks .I do see stacks->infrastructure where I can delete the k8s system stack to make it cattle environment.

[2016-10-14 23:28] #6265 closed

[2016-10-14 23:33] alena1108 commented on #6244
@T-Grave original bug is good one: same service referenced by 2 host names should be supported. I'm going to work on a fix for ingress service

[2016-10-14 23:33] wlan0 commented on #6120
Fixed by: https://github.com/rancher/infra-catalog/pull/19

[2016-10-14 23:51] rcarmo commented on #2599
Well, that works OK if your secret store is accessible from your master. If your secret store is not directly accessible from it, then you have to retrieve it to your orchestrator, save it and re-use it.

However, that too requires a second transaction for me, so it's a no-go.

[2016-10-14 23:56] Bekt commented on #5982
Seeing this as well.

[code]

[code]

[2016-10-14 23:57] soumyalj commented on #5830
Verified with master. v2 compose templates are working.

[2016-10-14 23:57] #5830 closed

[2016-10-15 00:00] joshwget commented on #3950
@sangeethah @alena1108 There are actually two cases under Scenario 2.

1. There's an error in the Compose file itself, such as a syntax error or a wrong type used somewhere. Regardless of where this occurs in the file, the stack will throw an error and no services will be created.
2. There's a semantic error in one of the attributes for a service. In this case Rancher Compose can't validate everyt

[2016-10-15 00:14] wlan0 commented on #6278
This is because hosts are registered by hostname and not fqdn.

When kubelet starts, it tries to register itself with the fqdn, and if the fqdn is not found, then hostname is used.

In this case, fqdn cannot be found. After investigating, I found that /etc/resolv.conf somehow loses the rancher serach domain. Maybe a docker 1.12 bug/GCE bug. Investigating further...

[2016-10-15 00:22] #6266 closed

[2016-10-15 00:22] sangeethah commented on #6255
closing in favor of https://github.com/rancher/rancher/issues/6261

[2016-10-15 00:22] #6255 closed

[2016-10-15 00:58] wlan0 commented on #6278
@StrongMonkey

[2016-10-15 01:11] leodotcloud commented on #3092
If you are still facing issues, please re-open with steps to reproduce.

[2016-10-15 01:11] #3092 closed

[2016-10-15 01:14] vincent99 commented on #2599
If auth is off then you don't need a registration token.  If it's on then you're already probably taking to the API to enable it. There is not a built in easy to inject a token for the default (or any other) project.  If your really want to you could just add an appropriate row to the database.

[2016-10-15 01:41] leodotcloud commented on #6113
@alena1108 I have a totally different issue, even though I changed the subnet using this `http://<rancher_server_ip>:8080/v1/settings/docker.network.subnet.cidr` be it cattle/k8s the containers are still using 10.42.0.0/16 subnet.

[2016-10-15 02:40] deniseschannon commented on #3950
@sangeethah I'm going to close this as it addresses the original issue. Can you open a new issue for the 2nd use case that Josh mentioned?

[2016-10-15 02:40] #3950 closed

[2016-10-15 02:43] deniseschannon commented on #1370
@defunctzombie We are actually introducing a new agent (written in Go instead of Python) in 1.2.0.

@StrongMonkey Can you try out moving a host from one environment to another to see if you can reproduce these issues? If not, we will close this issue and if we see these issues after 1.2.0, we can open a new issue.

[2016-10-15 02:46] deniseschannon commented on #4073
@StrongMonkey Can you also look at this one to try and reproduce with the new go agent.

[2016-10-15 02:49] deniseschannon commented on #4282
@npcode We are re-doing swarm in v1.2.0 with a new catalog entry and one that leverages Docker 1.12 swarm. If you still have issues with the new swarm after 1.2.0 is released, please open a new issue.

[2016-10-15 02:49] #4282 closed

[2016-10-15 02:55] deniseschannon commented on #4639
@StrongMonkey Another one of the issues where we should try and reproduce now using our new go agent.

@logicigam We have completely refactored our agent code in 1.2.0 so if we cannot reproduce, we will close the issue and if you see this issue in 1.2.0, then please open a new issue.

[2016-10-15 02:56] deniseschannon commented on #5069
Here's what we're seeing with CoreOS. CoreOS auto upgrades and reboots and then after reboot docker isn't running anymore. For your hosts in reconnecting state, you can log in and do ps -ef | grep docker and you'll see docker isn't running. Not until you try to use docker once will it startup. So docker ps will launch docker. It's because of socket activation in systemd.

The solution is to create

[2016-10-15 02:56] #5069 closed

[2016-10-15 02:58] deniseschannon commented on #5253
Due to the move from using cadvisor to `docker stats`, please re-test.

[2016-10-15 02:59] deniseschannon commented on #5562
@sangeethah Since we're only planning to support k8s 1.4 in rancher v1.2.0, can you retest to see if you still see this issue in k8s 1.2?

[2016-10-15 03:14] dx9 commented on #6108
@alena1108 yep works! Thanks for all your help.

[2016-10-15 03:36] soumyalj opened #6279 "Kubernetes Ingress LB stack and Kubernetes LB stacks are not displayed in the UI"
**Rancher Version:** Master

**Docker Version:**1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Kubernetes

**Steps to Reproduce:**
1. Create a Kuberentes Environment
2. Kubernetes Lb stack and Ingress Lb stac

[2016-10-15 05:18] deniseschannon commented on #6269
That is the `cmd slice` that I was referring to.

If you try `docker-machine create -d openstack ....` and take everything up the next bracket. Try launching your VM using docker machine to see if it works. If it also fails, then this is a Docker Machine bug and not a Rancher one in terms of provisioning your host.

[2016-10-15 05:42] ChromoX commented on #6275
Closing. #6263

[2016-10-15 05:42] #6275 closed

[2016-10-15 06:46] deniseschannon opened #6280 "Add in rancher-compose support for missing rancher-compose/docker-compose fields"
As docker-compose/rancher-compose has added supported fields, we are missing the support within Rancher.

After Rancher-compose has added support, there are additional areas that need to be updated
1. Adding the field to the container API
2. Adding the field to the exported docker-compose.yml of the stack
   **3. Adding the field to be read/imported by rancher-compose - This ticket is to track bei

[2016-10-15 06:48] deniseschannon opened #6281 "Add in support to export the yaml for missing rancher-compose/docker-compose fields"
As docker-compose/rancher-compose has added supported fields, we are missing the support within Rancher.

After Rancher-compose has added support, there are additional areas that need to be updated

1. Adding the field to the container API
**2. Adding the field to the exported docker-compose.yml of the stack- This ticket is to track being able to export these fields to docker-compose.yml when view

[2016-10-15 06:49] deniseschannon opened #6282 "Add in UI support for missing rancher-compose/docker-compose fields"
As docker-compose/rancher-compose has added supported fields, we are missing the support within Rancher.

After Rancher-compose has added support, there are additional areas that need to be updated
1. Adding the field to the container API
2. Adding the field to the exported docker-compose.yml of the stack
3. Adding the field to be read/imported by rancher-compose
   **4. UI (Once Cattle is complet

[2016-10-15 13:36] ict4ngo opened #6283 "very large json logs for rancher-agent leading to host failure"
this morning one host ran out of space because of the rancher-agent log.

host : ubuntu 16.04
host Docker version 1.11.2, build b9f10c9
rancher-agent version : v1.02

/6f8222ab241c530b753a9580982dc7564d6555a8d931cb173b85d6b3037bb97f# ls -lah
total 9.4G
drwx------  3 root root 4.0K Oct 15 12:58 .
drwx------ 12 root root 4.0K Oct 15 08:42 ..
-rw-r-----  1 root root 9.4G Oct 15 11:41 6f8222ab241c530b

[2016-10-15 13:43] ict4ngo commented on #6283
it's a duplicate of https://github.com/rancher/rancher/issues/5512

[2016-10-15 13:43] #6283 closed

[2016-10-15 14:34] jgreat commented on #6136
I will take a look. If there is an easy way to detect version and the calls to PowerDNS haven't changed too much I will try and get an update soon. I would also gladly accept a PR if someone can get to it sooner.

In the mean time PowerDNS 3.x does work really well. I have had zero issues with it.  In our set up we us Microsoft DNS and I delegate the Rancher External DNS Subdomain to a PowerDNS se

[2016-10-15 14:53] Chris7 commented on #6224
I misread, I assumed the section here would apply equally to hosts: http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/basic-ssl-config/

[2016-10-15 15:26] rcarmo commented on #2599
Hi @vincent99, I don't think you understood my goal at all. I need to be able to trigger creating and provisioning both master and worker VMs remotely, without human intervention, and supply them beforehand with all the required information they need to have a working cluster at the end.

At that time, there is no master (and certainly no database), and even if I create the master first, the orche

[2016-10-15 16:20] sangeethah commented on #5562
@deniseschannon , This issue is not relating to any particular K8s version but an issue with cattle. It does not reproduce always, but have seen it happen once in a while.
I will keep this issue open for now.

[2016-10-15 16:23] deniseschannon commented on #3122
@StrongMonkey This may be the same issue as https://github.com/rancher/rancher/issues/5025

[2016-10-15 16:34] deniseschannon commented on #5677
Closing in favor of the PRs that will allow us to support the missing cattle fields:

Cattle Changes: https://github.com/rancher/rancher/issues/4708
Rancher-compose: https://github.com/rancher/rancher/issues/6280
Exporting yml: https://github.com/rancher/rancher/issues/6281
UI: https://github.com/rancher/rancher/issues/6282

[2016-10-15 16:34] #5677 closed

[2016-10-15 16:35] deniseschannon commented on #6280
The original task has been split into 4 issues:

Cattle Changes: #4708
Rancher-compose: #6280
Exporting yml: #6281
UI: #6282

[2016-10-15 16:35] deniseschannon commented on #4708
The original task has been split into 4 issues:

Cattle Changes: #4708
Rancher-compose: #6280
Exporting yml: #6281
UI: #6282

[2016-10-15 16:35] deniseschannon commented on #6281
The original task has been split into 4 issues:

Cattle Changes: #4708
Rancher-compose: #6280
Exporting yml: #6281
UI: #6282

[2016-10-15 16:35] deniseschannon commented on #6282
The original task has been split into 4 issues:

Cattle Changes: #4708
Rancher-compose: #6280
Exporting yml: #6281
UI: #6282

[2016-10-15 16:37] deniseschannon commented on #3153
@sangeethah Can we re-test as we have new scheduler logic? I am moving out of 1.2 as this is VM related scheduling logic.

[2016-10-15 16:38] sangeethah opened #6284 "When launching stacks in the UI with invalid yml for 1 of the services ( and valid yml for other services), service get created with "stack" in error state."
Server version - Build from master:

When launching stacks in the UI with invalid yml for 1 of the services ( and valid yml for other services) , user is presented with the error message about the error like Error (Unsupported config option for test1 service: 'label') for the service with invalid yml.
Stack is created  in "error" state.
Services with valid yml get created in "inactive" state. Shou

[2016-10-15 16:41] sangeethah commented on #4234
This issue is not seen anymore when testing with latest build from master.
Related issue tracked in https://github.com/rancher/rancher/issues/6284

[2016-10-15 16:41] #4234 closed

[2016-10-15 17:02] ict4ngo commented on #3017
+1

[2016-10-15 17:19] adammwood opened #6285 "Route53 DNS service fails to set DNS records if host has custom labels"
If an instance is created with one or more custom labels, the Route53 catalog service fails to set DNS records with the error:

We can consistently replicate this:

**Create a host without any labels, output of Route53 DNS service:**

**Create a host with one label (foo=bar), output of Route53 DNS service:**

**Create a host with two labels (foo=bar, bar=foo), output of Route53 DNS service:**

All

[2016-10-15 18:34] aemneina commented on #3017
quite a few duplicate issues on this one, closing in favor of https://github.com/rancher/rancher/issues/2241

[2016-10-15 18:53] aemneina commented on #3017
actually reopening and waiting someone to validate this in 1.2.0-pre4

[2016-10-15 18:57] cloudnautique commented on #5228
This will be resolved by the Infrastructure catalog.

[2016-10-15 20:34] janeczku commented on #6285
@adammwood Can not reproduce this. Could you get the hosts metadata from within a container and paste the output? ie. `curl --header 'Accept: application/json' 'http://rancher-metadata/2015-12-19/hosts'`

[2016-10-15 20:48] janeczku commented on #6136
Thanks @jgreat

[2016-10-15 20:53] adammwood commented on #6285
@janeczku Thanks, I think this shows the problem. I've just created a new host with a custom label to get this output.

[code]
I'm guessing that the label's value should be string, but it's in an array.

[2016-10-15 21:04] janeczku commented on #6285
@adammwood Yes there is the problem indeed. Was the host added using custom host method or with the EC2 integration?

[2016-10-15 21:17] adammwood commented on #6285
@janeczku All our hosts are added through the EC2 integration. This probably explains some other strange behaviour that we've seen recently when using labels... The Route53 service was the only issue that we noticed was directly affected by using them.

I've created another host with a few labels and see the following in the API:

[code]

... but when I get the host metadata from a container I get

[2016-10-15 21:32] janeczku opened #6286 "No value fields in scheduling rules and label keys not pre-populated"
**Rancher Version:**
Rancher	v1.2.0-pre4-rc2
Cattle	v0.170.1
User Interface	v1.2.13
Rancher Compose	v0.11.0-rc2

**Steps to Reproduce:**
1. Add a label to a host, e.g. foo=bar
2. Click on "Add Service" and open "Scheduling" tab
3. Click on "Add Scheduling Rule"

**Results:**
1. The key field for host label rule has no pre-populated values to select from
2. Host and container label rules are missin

[2016-10-15 21:43] janeczku opened #6287 "Labels assigned when adding hosts have array values instead of string values"
**Rancher Version:**
Rancher v1.2.0-pre4-rc2
Cattle v0.170.1
User Interface v1.2.13
Rancher Compose v0.11.0-rc2

**Steps to Reproduce:**
1. Click on "Add Host" and choose on of the provider integrations
2. Click on "Add Label" and add a label with key "foo" and value "bar".
3. Click on "Create"
4. Check the label data in the host's API resource

**Results:**
The "foo" label value is an array type

[2016-10-15 21:47] janeczku commented on #6285
@adammwood I have created an issue for this here https://github.com/rancher/rancher/issues/6287.
Could you add your observation about label values showing as strings in API but as arrays in Metadata there?

[2016-10-15 21:47] #6285 closed

[2016-10-15 21:59] aemneina commented on #6224
I think this specifically is what you were looking to do: http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/basic-ssl-config/#adding-hosts

[2016-10-15 21:59] #6224 closed

[2016-10-15 22:00] janeczku commented on #6225
Same issue for stacks: After adding a service it doesn't show in the UI until after a manual refresh.

[2016-10-15 22:07] janeczku commented on #6227
Just happened here as well on 1.2.0-pre4-rc2 with host provisioned with DO integration.
rancher-server log:
[code]

[2016-10-15 22:11] adammwood commented on #6287
Here is some background information from #6285:

[2016-10-15 22:13] soumyalj commented on #6254
The following have been completed:
1. Centos 7.2 -> Docker 1.10.3, Docker 1.12.2
2. Ubuntu 16.04 -> Docker 1.12.2

[2016-10-15 23:18] aleksf commented on #5520
@deniseschannon
Given that selectors do auto-linking, is there a reason we can't use docker hosts resolution rather than rancher dns? Can you please clarify if selector linking has anything to do with docker links, or is rather limited to rancher dns only?

[2016-10-15 23:47] deniseschannon commented on #6227
There are known issues for v1.2.0-pre4-rc2 regarding host/machine (https://github.com/rancher/rancher/issues/6193) that have been fixed in rancher/server:master and should be fixed when v1.2.0-pre4-rc3.

@mrleonard @janeczku If you still face this issue with either the latest versions, please re-open.

[2016-10-15 23:47] #6227 closed

[2016-10-15 23:48] deniseschannon commented on #6225
These are the lack of change events that are being sent form the backend.

 https://github.com/rancher/rancher/issues/6129

[2016-10-16 01:27] #6102 closed

[2016-10-16 01:28] #6101 closed

[2016-10-16 03:11] arvindr21 opened #6288 "Please support ap-south-1 (mumbai) for AWS"
**Rancher Version:**
v1.1.4

**Docker Version:**
Docker version 1.12.2, build bb80604

**OS and where are the hosts located? (cloud, bare metal, etc):**
x86_64 x86_64 x86_64 GNU/Linux and AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
From UI
Infrastructure

[2016-10-16 03:14] alena1108 commented on #6281
Looks like this PR already supports yml export changes:

https://github.com/rancher/cattle/pull/2047

[2016-10-16 03:28] alena1108 commented on #5842
Update: we deprecate LB v1 apis only post Rancher 1.2, moving the target back to 1.3

[2016-10-16 03:29] alena1108 commented on #6108
Closing as verified

[2016-10-16 03:29] #6108 closed

[2016-10-16 04:01] vincent99 commented on #6288
This is already in 1.2.. https://github.com/rancher/ui/blob/master/app/components/machine/driver-amazonec2/component.js#L58

[2016-10-16 04:01] #6288 closed

[2016-10-16 11:44] janeczku commented on #6287
Verified fixed in master 10/16
1. Custom host labels have string values in API
2. Custom host labels have string values in Metadata

[2016-10-16 11:44] #6287 closed

[2016-10-16 11:47] janeczku commented on #6286
Verified fixed in master 10/16
1. Host label key field is pre-populated with existing labels
2. Host and container rules have value fields

[2016-10-16 11:48] #6286 closed

[2016-10-16 12:53] janeczku commented on #6273
Hi @ChromoX, Docker 1.12 is not officially supported with Rancher 1.1.x. Could you check if using a host with Docker 1.11 fixes the issue for you?

Convoy-NFS has been tested up to Docker 1.11, so i suspect this issue is due to Docker 1.12. The error comes from
Maybe related: https://github.com/docker/docker/issues/23767

[2016-10-16 13:01] janeczku commented on #6197
@virtuman Host storage pools are created when the host is added. You don't need to remove them.
Where you able to setup convoy-efs now?

[2016-10-16 13:26] janeczku commented on #5679
Verified fixed in master 10/16
Can add host with custom bridge IP (`--bip=172.30.0.1/16`) without any errors.

[2016-10-16 13:28] #5679 closed

[2016-10-16 14:13] janeczku commented on #5995
@cjellick could you chime in?

[2016-10-16 14:45] janeczku commented on #6197
Pre-duplicate of https://github.com/rancher/rancher/issues/6263. @virtuman if you continue having problems getting convoy-efs to work after cleaning the storage pools please open a separate issue for it.

[2016-10-16 14:45] #6197 closed

[2016-10-16 16:22] deniseschannon commented on #6248
@vincent99 @westlywright Is this UI?

[2016-10-16 16:22] deniseschannon commented on #6267
Duplicate of https://github.com/rancher/rancher/issues/6248

[2016-10-16 16:22] #6267 closed

[2016-10-16 17:28] vincent99 commented on #6248
Yes, it looks like a remnant or bad merge from an earlier version of infra catalog where you created the stacks on this screen

[2016-10-16 18:02] Vinceveve opened #6289 "Can't start rancher agent on osx"
**Rancher Version:**
1.1.4

**Docker Version:**
INFO: docker version: Server version: 1.12.1
INFO: docker version: Server API version: 1.24

**OS and where are the hosts located? (cloud, bare metal, etc):**
local macbook pro

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Demo node, latest docker osx version, agent and server on same node

**Environment Type:

[2016-10-16 22:27] patsissons opened #6290 "RestartPolicy not being passed to docker (i.e. restart=always)"
**Rancher Version:**
`1.1.4`

**Docker Version:**
`1.12.2`

**OS and where are the hosts located? (cloud, bare metal, etc):**
`Ubuntu 16.04.1 LTS`

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node with external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Create a stack on a docker node with a container

[2016-10-16 22:59] alena1108 commented on #5997
Fixed in refactored LB v2

[2016-10-17 00:40] robeastham commented on #5595
Any news on this? I just spent quite a while getting a Rancher Server up and running with the intention of running DEIS Workflow on it (aka Deis 2.0). I then found this bug :-)

I'm on the current recommended release v1.2.0-pre3. I haven't actually tried to get DEIS running on Rancher K8S yet because it looks like this bug is still open.

The bug looks to be related to Kubernetes environments on R

[2016-10-17 03:54] pulberg opened #6291 "Service scheduling rules not working"
**Rancher Version:**
v1.2.0-pre4-rc2

**Docker Version:**
1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL7.2, AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Create new stack
add service (nginx:alpine)
add schedulin

[2016-10-17 03:58] deniseschannon commented on #6291
@pulberg Please don't use v1.2.0-pre4-rc2. It has many known broken things including host labels/scheduling. These have been resolved in master, but we haven't cut a new RC yet. In general, we'd recommend not to use the RC and only stick with one without the `rc` in the release name.

[2016-10-17 03:58] #6291 closed

[2016-10-17 04:01] pulberg commented on #6291
@deniseschannon Ok, but we're sooooo excited about the new features!!!! :)

[2016-10-17 05:09] vincent99 commented on #6279
The stacks should have `system:true` set.

[2016-10-17 05:11] #6167 closed

[2016-10-17 07:28] #3918 closed

[2016-10-17 07:33] vincent99 commented on #4168
Cent7 and Ubuntu 16.10 work with machine 0.8, but I don't see much of a good reason why more shouldn't work.  @wlan0 ?

[2016-10-17 07:40] arvindr21 commented on #6288
Thanks. Picked up the RC release. Works fine now!

[2016-10-17 07:41] #3459 closed

[2016-10-17 07:47] vincent99 commented on #5396
I still have no way to reproduce this or plausible explanation for how it's occurring, so without additional information it's not ever going to be fixed..  There is nothing that checks for default-ness, and I see both default and non-default VPCs and Subnets.

[2016-10-17 07:48] vincent99 commented on #5162
They are sorted by externalId, because the displayed names are loaded asynchronously and not part of the actual environment definition..

[2016-10-17 07:49] vincent99 commented on #5886
This is put in by Cattle and is how the sidekick is always scheduled next to the primary container.

[2016-10-17 07:50] #5886 closed

[2016-10-17 08:03] kaos opened #6292 "LB service names in haproxy config"
Not sure what this will look like in the refactored LB code from #2179. But in case it still applies, I toss this out so it may be addressed, if needed/desired.

**Rancher Version:**

1.1.2

**Docker Version:**

1.12.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

RHEL 7, bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single

[2016-10-17 08:05] asanami commented on #6269
Why is rancher using docker-machine to set slaves in vm's under openstack?  My target vm is ubuntu 14.04.

[2016-10-17 08:41] baptistedonaux commented on #5943
Same fail, do you have a solution ?

[2016-10-17 08:44] vmozgovoy commented on #6290
Same problem...

[2016-10-17 08:57] ybbaigo commented on #5218
+1 for same on 1.1.4

[2016-10-17 09:30] retog commented on #6271
Great, this works. Thanks a lot @aemneina.

[2016-10-17 09:30] #6271 closed

[2016-10-17 10:46] T-Grave commented on #6208
Thanks for the insight.

While I implemented a different and probably easier solution for my production environment, I'll describe the problem I had with this specific issue.

I wanted to use [kube-lego](https://github.com/jetstack/kube-lego), as it's a docker image created specifically to provide very easy to setup LetsEncrypt support for Ingress controllers. Problem is, currently it supports onl

[2016-10-17 10:54] tonythian opened #6293 "rancher-agent:v1.0.2 failed to run..."
Add rancher-agent:v1.0.2 failed:

INFO: Starting agent for F47E82B4F797498B1812
INFO: Access Key: F47E82B4F797498B1812
INFO: Config URL: http://my.server.com:8080/v1
INFO: Storage URL: http://my.server.com:8080/v1
INFO: API URL: http://my.server.com:8080/v1
INFO: IP: 13.67.xxx.xxx
INFO: Port:
INFO: Required Image: rancher/agent:v1.0.2
INFO: Current Image: rancher/agent:v1.0.2
INFO: Using image ran

[2016-10-17 11:19] galindro commented on #6028
@aemneina, I've the same issue here. In my case, I've setup 3 rancher server nodes. It was only possible to setup those 3 rancher servers by adding the CATTLE_AGENT_IP environment variable on rancher-ha.sh with the ip of my eth0 interface. But, as soon I'm using amazon EC2, the eth0 interface doesn't have a fixed ip. So, each time the node is shutdown or replaced by another instance (because it is