[2018-09-05 02:21] #15119 closed, assigned to nobody

[2018-09-05 02:31] cntsp opened #15406 "Add a new rancher-agent then healthcheck and ipsec container start display restarting, the last display Timeout getting IP address"
**Rancher versions:**
rancher/server or rancher/rancher:  v1.6.2
rancher/agent or rancher/rancher-agent:  v1.2.2

**Infrastructure Stack versions:**
healthcheck:  v0.3.1
ipsec:  rancher/net:holder
network-services: rancher/metadata:v0.9.2 rancher/network-manager:v0.7.4
scheduler:  rancher/scheduler:v0.8.2
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
V

[2018-09-05 02:39] aiwantaozi commented on #15366
@cjellick @dramich Could give more details, I have try delete do, import cluster, and upgrade these cluster, but could not get that error log.

[2018-09-05 03:09] wuchencm opened #15407 "How can i create a ingress rule ?"
I have create a workload and can be accessed by www.abc.com，how can i create ingress rule ?
I can not access  http://www.abc.com/nginx and the error code is ‘404 Not Found’

![image](https://user-images.githubusercontent.com/14210543/45068731-7b7efd80-b0fb-11e8-8015-72dc7017515a.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.8` UI: `v2.0.67` |
|Access|`local` `admin`|
|Route|`in

[2018-09-05 03:42] rootwuj commented on #14535
Version -2.1 master 9/4
Verified fixed

[2018-09-05 03:42] #14535 closed

[2018-09-05 07:36] gioppoluca opened #15408 "ConfigMap should support files"
**Rancher versions:**
rancher/server or rancher/rancher: 2.0.8
rancher/agent or rancher/rancher-agent:2.0.8

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 18.03.1-ce, build 9ee9f40

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferr

[2018-09-05 08:04] aiwantaozi commented on #14630
Etcd give some suggestion when these warnings happened and deployment hardware recommendation
https://github.com/etcd-io/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/hardware.md

[2018-09-05 08:38] rsilvestre commented on #15308
The same here with rancher 1.6

[2018-09-05 09:04] superseb commented on #15349
Mirroring the charts repo, and adding it to the Catalogs is the way to get them loaded. For startup behavior, we have this open: https://github.com/rancher/rancher/issues/13700

Regarding the error, it's showing the wrong error as `git clone` fails and it falls back to using HTTP as it were a Helm repo (which needs `index.yaml`). This is going to handled in https://github.com/rancher/rancher/issue

[2018-09-05 09:04] #15349 closed

[2018-09-05 09:37] palbiez commented on #14908
@loganhz
I checked our docker info at rancher server. We restored it back to rancher version 2.0.4
'containerd version: 4ab9917febca54791c5f071a9d1f404867857fcc
runc version: 54296cf40ad8143b62dbcaa1d90e520a2136ddfe
init version: N/A (expected: 949e6facb77383876aeff8a6944dde66b3089574)'

at docker system logs I can't find any information about this.

[2018-09-05 12:54] billabongrob commented on #12625
Would like the ability to utilize this with on-prem bitbucket instances as well.

[2018-09-05 13:01] mkue opened #15410 "Canal network not starting up"
I came across this problem when I tried to set up a Kubernetes cluster both when using `rke` and the Rancher web interface.

Everything seems to be fine at first. The node gets deployed and the Kubernetes services start up. Only the canal pods are stuck in status CrashLoopBackOff. Looking at the logs of the three containers shows that the kube-flannel container can't start up and shows following e

[2018-09-05 13:55] ajfriesen opened #15411 "Changing node template (aws instance type) did break dns for container network"
**Rancher versions:** 2.0.7

**Infrastructure Stack versions:**
network-services: canal
scheduler:
kubernetes: v1.10.5

**Docker version: (`docker version`,`docker info` preferred)**

[code]
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**,
AWS

**Setup details: (single node ranche

[2018-09-05 13:59] ximbal opened #15412 "Add B-series to Azure Instance list"
**Steps to Reproduce:**

I would Like to request you guys to add the B series VM's on rancher, or is there a way I could add them by myself? it would be pretty cool that you guys would open the option to manually specify the VM size. And get rid of administering this catalog.

Thank you.

**Results:**
NO B series family shown for Azure VM's

[2018-09-05 14:03] rustymunkey commented on #13371
I would like to address this issue, as i stumbled upon it while trying to add a private helm repository to rancher 2.0.8.

The workaround with adding username:passwort to the repository url works only for getting the index.yaml of the repository. Thus the catalog is added and the entries are displayed.
However, the index.yaml contains the download URL for the charts without any authentication info

[2018-09-05 14:43] fuxjezz commented on #10315
Hi,

We are running into the same "gap".

@superseb : Serveral new versions of Rancher have been released since the last update, has this feature request perhaps been implemented in one of those releases?

Kind regards,

Ruben

[2018-09-05 15:21] cjellick opened #15414 "rename our forked binaries for helm and tiller to rancher-helm and rancher-tiller"
Because they are not api compatible, we want them to have different names for developers working on rancher locally who might also have helm and tiller installed locally

[2018-09-05 15:23] corentin59 opened #15415 "Port requirement port is wrong in doc for canal"
Ports for canal are 8472 (VXLAN) and 9099 (healthcheck) in UDP mode

![2018-09-05 17_19_17-port requirements _ rancher labs](https://user-images.githubusercontent.com/2035983/45103366-0da0f900-b130-11e8-8b1a-87c37cbdfcda.png)

Canal doc (readme)
![2018-09-05 17_22_31-cni providers _ rancher labs](https://user-images.githubusercontent.com/2035983/45103516-5789df00-b130-11e8-81f2-29ac50ee0d1e.png)

[2018-09-05 15:28] superseb commented on #15415
The readiness/livenessprobes are defined here: https://github.com/rancher/rke/blob/bcb6e13618f03e8b57957d89cde3232b937eeb99/templates/canal.go#L318 and are `httpGet`.

Can you link to the page where you find the the text in the screenshot as it does not show on https://github.com/projectcalico/canal/blob/master/README.md

[2018-09-05 15:40] corentin59 commented on #15415
Sorry, it's not on the official canal doc, here :
https://rancher.com/docs/rancher/v2.x/en/faq/networking/cni-providers/

[2018-09-05 16:48] orangedeng commented on #15073
tested with v2.0.8 and `rancher/nginx-ingress-controller:0.16.2-rancher1`, this issues didn't come up again.

[2018-09-05 16:54] dramich opened #15417 "Need script and yaml file for running imported cluster cleanup"
Cluster cleanup has been added to the agent image. The next step is to create a script and yaml that can use the agent image to cleanup an imported cluster.

This should also take advantage of the dry-run env var.

[2018-09-05 16:58] #14756 closed

[2018-09-05 17:19] bmdepesa commented on #14462
@christianmue1980a  Can you please post your cluster.yaml w/ any sensitive info removed? I will try to reproduce what you are seeing.

[2018-09-05 17:39] kinarashah commented on #12464
A lot of changes went into the network policy area, I don't see this error anymore, moving it to test, would need more details if and when this happens again

[2018-09-05 17:46] nxf5025 opened #15419 "Feature Request - EKS - Allow for AssociatePublicIpAddress: 'false'"
**Rancher versions:**
rancher/rancher: v2.0.8

**Details:**
Right now the EKS cloudformation stack defaults to:
AssociatePublicIpAddress: 'true'

This should be a parameter and allow for it to be set to false.

[2018-09-05 18:02] obriensystems commented on #13962
(+) procedure
https://wiki.onap.org/display/DW/Cloud+Native+Deployment#CloudNativeDeployment-Changemax-podsfromdefault110podlimit
Manual procedure: change the kubernetes template (1pt2) before using it to create an environment (1a7)

add --max-pods=500 to the "Additional Kubelet Flags" box on the v1.10.13 version of the kubernetes template from the "Manage Environments" dropdown on the left of the

[2018-09-05 18:06] StrongMonkey commented on #13088
In order to get ingress working, cluster needs to deployed a ingress controller.
By default GKE uses gce controller https://github.com/kubernetes/ingress-gce/blob/master/README.md and rke uses https://github.com/kubernetes/ingress-nginx/blob/master/README.md.
There are two ways to configure ingress for AKS:
1. Use nginx-controller by default. https://docs.microsoft.com/en-us/azure/aks/ingress.  Fr

[2018-09-05 18:06] soumyalj opened #15420 "Kubelet fails to start and restarts constantly in Ubuntu 14.04 setup with Docker 1.12.6"
**Rancher versions:**
rancher/server or rancher/rancher: v1.6.22-rc3

Steps:
1. Create a Ubuntu 14.04 setup  with Docker 1.12.6
2. Kubelet fails to start and restarts constantly .
Logs below:

[code]

[2018-09-05 18:10] sebastiansirch commented on #14462
Hi @bmdepesa ,

we are seeing exactly the same issue as described - NodePort services stop working after the network policy is created automatically and we did not find a way yet to get rid of the mechanism which creates the network policies automatically.

Here is our cluster.yaml; I think we started with Rancher 2.0.4 oder 2.0.5... for RKE, I cannot really think of the version we started with...

[2018-09-05 18:44] lnikell opened #15421 "Bug with Rancher and Cert Manager, ingress-shim"
**Rancher versions:**
rancher/rancher: 2.0.7
rancher/agent or rancher/rancher-agent: 2.0.7

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services: canal
scheduler:
kubernetes (if applicable):

**Docker version: **
18.06.0-ce
**Operating system and kernel: **
Ubuntu 18.04.1 LTS,  4.15.0-29-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Hetzner

**Setup det

[2018-09-05 18:45] alena1108 commented on #14809
It's a framework issue as looks like we are not doing nested validation for types.

[2018-09-05 18:55] deniseschannon commented on #13449
@sangeethah can you re-test with the new HA?

[2018-09-05 19:01] vincent99 commented on #15308
Amazon has no API to get the instance types, so they have to be manually added every time.

[2018-09-05 20:08] sehucke commented on #14907
For whom it may concern:
We have managed that by using https://github.com/trondhindenes/ecr-updater (with some minor tweaks)

But there is a small bug (see https://github.com/rancher/rancher/issues/13339) that needs to be worked around until fixed.

[2018-09-05 20:14] alena1108 commented on #15014
That sounds like the missing feature, not a bug

[2018-09-05 20:24] sangeethah opened #15422 "When 2 nodes were added to an existing cluster with 1 node , cluster gets stuck in "updating" state forever."
Rancher versions:  Build from master

**Steps to Reproduce:**

Created a DO cluster with 1 node with all roles.
Once the cluster was created and got to "Active" state , Increased the node pool size to 3.
When 2 new nodes got added , cluster gets stuck in "Updating" state for a long time .

Following error message is presented to the user:
[code]

Findings from the logs:
I see RKE cluster provision

[2018-09-05 20:33] superseb opened #15424 "Handle more error situations regarding using certs in rancher container"
With the introduction of `--no-cacerts`, we have more options to check for validity when using certificates in the container. Also, some common errors like mounting cert but not the key (or other way around) are currently not caught in the validation.

[2018-09-05 20:43] deniseschannon commented on #8234
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:43] #8234 closed

[2018-09-05 20:44] deniseschannon commented on #8464
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:44] #8464 closed

[2018-09-05 20:44] deniseschannon commented on #8594
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:44] #8594 closed

[2018-09-05 20:45] deniseschannon commented on #8919
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:45] #8919 closed

[2018-09-05 20:45] deniseschannon commented on #8941
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:45] #8941 closed

[2018-09-05 20:47] deniseschannon commented on #9112
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:47] #9112 closed

[2018-09-05 20:47] deniseschannon commented on #9435
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:47] #9435 closed

[2018-09-05 20:47] deniseschannon commented on #9757
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:47] #9757 closed

[2018-09-05 20:47] deniseschannon commented on #9894
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:47] #9894 closed

[2018-09-05 20:47] deniseschannon commented on #10097
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:47] #10097 closed

[2018-09-05 20:47] deniseschannon commented on #10128
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:47] #10128 closed

[2018-09-05 20:48] deniseschannon commented on #10134
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:48] #10134 closed

[2018-09-05 20:48] deniseschannon commented on #10411
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:48] #10411 closed

[2018-09-05 20:48] deniseschannon commented on #10507
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:48] #10507 closed

[2018-09-05 20:48] deniseschannon commented on #10562
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:48] #10562 closed

[2018-09-05 20:48] deniseschannon commented on #10573
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:48] #10573 closed

[2018-09-05 20:49] deniseschannon commented on #11102
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:49] #11102 closed

[2018-09-05 20:49] deniseschannon commented on #11438
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 20:49] #11438 closed

[2018-09-05 20:53] StrongMonkey commented on #13086
I think this is still WIP.
There is no official documentation about how ingress controller is deployed when you created a EKS cluster. Also when you create a EKS cluster, there is no ingress controller deployed by default. To get ingress working, you have to deploy nginx-ingress or other third party ingress controller like alb and elb.

[2018-09-05 20:53] deniseschannon commented on #14230
@orangedeng with the monitoring support, let's make sure it includes the following

Monitoring at project level, cluster level, global level
Monitor health of RKE clusters from Rancher server – etcd key space, API server load and responsiveness, etcd load and responsiveness, basically etcd dashboard in Prometheus - Please follow up with @cloudnautique @jgreat on how this would be used
Turning on m

[2018-09-05 21:14] deniseschannon commented on #9485
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 21:14] #9485 closed

[2018-09-05 21:14] deniseschannon commented on #10815
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 21:14] #10815 closed

[2018-09-05 21:15] deniseschannon commented on #11199
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 21:15] #11199 closed

[2018-09-05 21:15] deniseschannon commented on #11790
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-05 21:15] #11790 closed

[2018-09-05 21:28] alena1108 opened #15425 "Do not inject finalizers to secrets that are not managed by Rancher"
In order to handle project level secrets, we use lifecycle model that injects rancher finalizers to every secret it manages. It includes rancher managed secrets as well as k8s secrets co-existing on the management plane. The lifecycle should handle only rancher managed secrets

[2018-09-05 21:47] sangeethah commented on #15300
Tested with latest build from master

"cordon" and "drain" option are not presented for "etcd" and "controlplane" nodes.

[2018-09-05 21:47] #15300 closed

[2018-09-05 22:04] superseb opened #15426 "Show errors in UI regarding FileReader"
Version: master 9/6

1. Add a Certificate
1. Click `Read from a File` and select a file you don't have permission to open
1. UI silently fails

Console shows:

<img width="1249" alt="screen shot 2018-09-05 at 23 51 25" src="https://user-images.githubusercontent.com/2620179/45123778-4c52a580-b168-11e8-8d4a-776f6df66c31.png">

[2018-09-05 22:59] sangeethah commented on #15256
Tested with latest build from master

Edit cluster-defaults value and enableNetworkPolicy is to "true".
This result in the "enableNetworkPolicy" field in https://<ip>/v3/schema/cluster set to "true".

Created a DO cluster using API by not passing any value enableNetworkPolicy in rancherKubernetesEngineConfig .

Cluster that gets created has NetworkPolicy isolation turned on as expected.

[2018-09-05 22:59] #15256 closed

[2018-09-05 23:10] cjellick commented on #13158
Here is the solution we are thinking of:
- Add valuesYaml field to app that overrides the one built into the template if set
- Apply Rancher catalog answers directly on to the values.yaml instead of trying to use set/set-string for them
- Somehow provide a (per answer) choice of set vs set-string for vanilla helm templates, like a map for the value with an explicit auto/string option, or a magic p

[2018-09-05 23:12] aemneina commented on #15151
Do you have anything fronting your rancher server, say firewall appliance, reverse proxy, load balancer…
Rancher is running behind nginx (running on same machine, not in container)

How many clusters are managed by this rancher, pods per cluster if you have it:
8 Clusters, about 100 pods per cluster

Can we track connections on the rancher server? Using `cat /proc/net/nf_conntrack | wc -l` or `con

[2018-09-05 23:18] maxkorp commented on #15230
Confirmed.

[2018-09-05 23:54] sangeethah commented on #15341
This issue is still seen when testing with latest rancher-server builds.

[2018-09-06 00:13] soumyalj commented on #15288
Tested with v1.6.22-rc3 on a HA setup. Created K8s environment on the HA setup.
Created pods and ingress . Deleted the ingress. Ingress was not re-created . The steps were repeated several times and the issue did not reproduce.
Ingress controller logs:
[code]

[2018-09-06 00:27] leodotcloud opened #15428 "[UI] Execute Shell in new window stuck in "Connecting""
Rancher: v2.0.8

Steps to repro:
- Launch a Ubuntu container
- Cmd + Click "Execute Shell" for this container to open the Shell in a new tab/window.
- Now the shell is stuck in "Connecting"

[2018-09-06 00:30] leodotcloud opened #15429 "[UI] Accessing unauthenticated URL doesn't get redirected to the same URL after login"
Rancher v2.0.8

- Launch Ubuntu Container
- "Cmd" + Click "Execute Shell" to open the shell in a new tab/window
- Grab the URL
- Open a new incognito window and access the above URL
- Gets redirected to Login
- After login, the UI doesn't redirect back to the original URL, instead shows the Global Page.

[2018-09-06 00:41] sangeethah commented on #14848
Tested with latest rancher-server build from master

Create a standalone RKE cluster.
Import into rancher
Created few projects and workloads.
Deteted cluster
Import again.

Import fails with following errors:

[code]

[2018-09-06 00:51] sangeethah opened #15430 "Do not show "Drain"/"Cordon" option on hosts that are in "Registering"/"Unavailable" state."
**Rancher versions:** Build from master
**Steps to Reproduce:**

Create a cluster with few nodes.
When worker nodes are still in "Registering"/"Unavailable" state , "Drain"/"Cordon" options are shown as options.

After nodes get to "Active" state , power down the host so they get to "Unavailable" state.
When worker nodes have "Drain"/"Cordon" options .

In both these cases , user should not be pre

[2018-09-06 00:53] aiwantaozi commented on #13761
https://docs.fluentd.org/v0.12/articles/buffer-plugin-overview
There are some advise from fluentd:
Deployment tips
If your Fluentd daemon experiences overflows frequently, it means that your destination is insufficient for your traffic. There are several measures you can take:

Upgrade the destination node to provide enough data-processing capacity.
Use an @ERROR label to route overflowed events t

[2018-09-06 00:54] guangbochen commented on #14551
related to #13158

[2018-09-06 01:08] orangedeng commented on #14630
@miv @aiwantaozi I believe it is ok. I am not sure if you change the default repeat interval time or not but it seems like it is set around 10 min. The time for the repeat interval we recommend is 1 hour(3 hour in alert manager's default). If it is set too short, the alerts will appear very often. So I think it is not a bug though. Feel free to reopen this issue if anything doesn't make sense to y

[2018-09-06 01:14] aiwantaozi commented on #13443
If docker root is not default /var/lib/docker, you could config it in the cluster option now.  And rke also make the symbol link for ```/var/log/containers/``` ```/var/log/pods/``` and ```/var/lib/docker```. You can try the new version to check whether it work.

[2018-09-06 01:26] aiwantaozi commented on #15366
@cjellick will help try to reproduce it.

[2018-09-06 04:27] sangeethah opened #15431 "Do not show label "cattle.io/creator=norman" for hosts."
**Rancher versions:** Build from master
**Steps to Reproduce:**

Create a  Digital Ocean cluster.
label "cattle.io/creator=norman" shows up for the nodes in the Nodes list view.

<img width="1292" alt="screen shot 2018-09-05 at 9 25 35 pm" src="https://user-images.githubusercontent.com/4266958/45135037-418d1600-b152-11e8-9125-79249ec1f9ea.png">

Can we suppress this label from being shown in the U

[2018-09-06 04:35] sangeethah opened #15432 "When enableNetworkPolicy is to "true" in cluster-defaults not able to import clusters."
**Rancher versions: Build from master
**Steps to Reproduce:**
Edit cluster-defaults value and enableNetworkPolicy is to "true".
This result in the "enableNetworkPolicy" field in https:///v3/schema/cluster set to "true".

Create a cluster using "Import existing cluster" option.

Cluster creation fails with ```Validation failed in API: enableNetworkPolicy enableNetworkPolicy should be false for non-

[2018-09-06 05:02] xiaoluhong opened #15433 "The cluster supports custom registered address (server_url) and custom default image repository address"
## Usage scenarios

In many large enterprises, their internal networks cannot access the Internet and can only communicate internally `(Full offline environment)`. In a hybrid cloud deployment K8S scenario ,The rancher server runs on a host with a public IP address , The internal network address of this host can communicate with other addresses on the internal network.

If the user sets the server

[2018-09-06 06:54] mkue commented on #15410
I tried again with Ubuntu 18.04 and Docker version 18.06.1-ce and it worked now without any problems...🤔

[2018-09-06 06:54] #15410 closed

[2018-09-06 07:29] ycyzlp opened #15434 "How to modify the args of apiserver through the cluster created by rancher"
**Rancher versions:**
rancher/rancher:v2.0.7
rancher/agent:v2.0.7

How to modify the args of apiserver through the cluster created by rancher？
For example, I want to add some in --admission-control=xxx

[2018-09-06 07:50] codexlynx opened #15435 "User enumeration via timing attack"
**Rancher versions:**
Verified in rancher/rancher: 2.0.7

**Steps to Reproduce:**
Uses this proof of concept: [here](https://raw.githubusercontent.com/codexlynx/others/master/pocs/rancher_user_enumeration.py)

**Results:**
The bcrypt function is only evaluated when the user exists. This causes a difference in the response time between an existing user and a non-existing user.

Can you confirm this

[2018-09-06 08:31] superseb commented on #15434
Editing Cluster Options is documented here: https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/options/#config-file

[2018-09-06 08:31] #15434 closed

[2018-09-06 08:31] gitlawr opened #15437 "Only show pipeline stuff to project owners"
Now when users use pipelines in a project, a dedicated namespace is created in the project, with a bunch of resources in it. The stuff is usually not general project members' concern, so it would be nice if these pipeline related resources are only visible to the project owners.

[2018-09-06 08:31] gitlawr commented on #15437
cc @cloudnautique

[2018-09-06 08:32] orangedeng commented on #14650
As @alena1108 suggest, we should distinguish create and update operation for dns record. Only init clusterIp to None/empty when creating dns record. We should not change cluster ip when updating dns record.

[2018-09-06 08:35] gitlawr commented on #15437
There's little difference between project members and owners from the RBAC perspective in user clusters. So we probably need to introduce some extra rules for the goal.

[2018-09-06 08:57] gitlawr commented on #13739
The issue should be fixed in the refactoring work. Moving to QA for validation

[2018-09-06 09:27] AmitDJagtap commented on #14580
I ended up using this **valian/docker-nginx-auto-ssl**.  Created a deployment for this image and pointed my domain A rec to this pods IP  More info about configuring on docker hub page for  **valian/docker-nginx-auto-ssl**.

[2018-09-06 09:43] ycyzlp commented on #15434
hi, I tested it, it could not add arg, and when I click save, the configuration disappeared.
![image](https://user-images.githubusercontent.com/3349875/45149493-43abaf00-b1fc-11e8-91c0-b5ee80aa16b4.png)

[2018-09-06 09:44] superseb opened #15438 "Reliable way to get audit logging in v1.6"
Option 1: Write audit log to a file so it can be processed
Option 2: Have date/time range support in API to query

[2018-09-06 09:49] superseb commented on #15434
The docs don't state `admission-control` as a valid option for the apiserver, you need to use extras as defined here https://rancher.com/docs/rke/v0.1.x/en/config-options/services/services-extras/

[2018-09-06 09:56] david-maumenee commented on #15182
Hi,

You can check kube-api config by running this command one the control plane node :
[code]

For me it's ok with both K8s 1.10 and 1.11 with a custom K8s config (via "Edit Yaml")
[code]
see https://github.com/rancher/rancher/issues/14032#issuecomment-398006866

Then check if istio-injection is enabled in your namespace with ```kubectl get namespace -L istio-injection```
if not already ```kubect

[2018-09-06 10:00] superseb commented on #15182
Thanks @david-maumenee , all required args can be configured using https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/options/#config-file / https://rancher.com/docs/rke/v0.1.x/en/config-options/services/services-extras/

[2018-09-06 10:00] #15182 closed

[2018-09-06 10:02] david-maumenee commented on #15183
Yes it works ! see https://github.com/rancher/rancher/issues/15182

[2018-09-06 10:05] superseb commented on #15183
https://github.com/rancher/rancher/issues/15182 / https://github.com/rancher/rancher/issues/14032

[2018-09-06 10:05] #15183 closed

[2018-09-06 10:07] superseb commented on #15136
Let us know if we can help investigate.

[2018-09-06 10:07] #15136 closed

[2018-09-06 10:10] superseb commented on #15137
Best way is to use the Rancher CLI, but there are some API examples here: https://forums.rancher.com/t/upgrade-rancher-service-using-rest-api/1459/13

[2018-09-06 10:10] #15137 closed

[2018-09-06 10:14] superseb commented on #15121
How is the cluster created that you are trying to import?

[2018-09-06 10:15] #5783 closed

[2018-09-06 10:17] superseb commented on #8068
Closing as stale.

[2018-09-06 10:17] #8068 closed

[2018-09-06 11:40] wuchencm opened #15439 "I create a "nginx" workload, and then scale two container, when i access http://wudl.pro.10.10.1.38.xip.io (ingress), it only balancer to one container"
I create a "nginx" workload, and then scale two container, when i access http://wudl.pro.10.10.1.38.xip.io  (ingress), it only   balancer to one container

---
![image](https://user-images.githubusercontent.com/14210543/45155181-b1f86d80-b20c-11e8-8499-b4406ee3676e.png)
![image](https://user-images.githubusercontent.com/14210543/45155191-b9b81200-b20c-11e8-9abe-bd07610ed03a.png)

| Useful | Info |

[2018-09-06 12:36] mautz-et-tong commented on #9367
The solution from @Edenshaw works in 1.6.21. Thank you

[2018-09-06 12:40] ChristianSchlatter opened #15440 "Not all logs are captured"
**Rancher versions:**
rancher/rancher:v2.0.8

**Infrastructure Stack versions:**
kubernetes (if applicable): v1.10.5

**Docker version: (`docker version`,`docker info` preferred)**
17.3.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Debian

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
RKE / Bare-Metal

**Setup details: (single node rancher vs. H

[2018-09-06 13:01] qdrop17 commented on #15387
Maybe this has to do with the following issue: https://forums.rancher.com/t/upgrade-deployment-image-with-rancher-2-0/10399/9

[2018-09-06 13:37] sjkeerthi commented on #14007
Will this features comes on next minor release or major one 2.1?

[2018-09-06 14:17] superseb opened #15441 "Add quiet option to add-node and import"
Add quiet option to `cluster add-node` and `cluster import` to use in automation.

[2018-09-06 14:19] superseb opened #15442 "Deprecate use of --management in cluster add-node"
Currently you have to pass `--management` to `rancher cluster add-node` to add the `--controlplane` label which is confusing. We also use `--controlplane` and `Control Plane` throughout docs and UI, so it should be that in the CLI as well.

[2018-09-06 14:39] cachaldora commented on #10053
@deniseschannon do you have any plans to add OpenID Connect provider?

[2018-09-06 15:31] willmao commented on #12869
similar issue,the kube config was generated by rancher ui, jenkins use kubectl with the config file to deploy workload on my cluster, SOMETIMES kubectl can not authorized correctly

error log:

failed to execute process [ kubectl -n i3 get pods -l app=product-service,release=20180906231233 -o go-template --template={{range .items}}{{range .status.containerStatuses}}{{.ready}},{{end}};{{end}} ]. re

[2018-09-06 15:37] superseb commented on #12869
This is an old issue and a different problem, please create a new issue following https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions and the issue template to supply all the info needed so we can run tests on it.

[2018-09-06 15:54] kfiles commented on #12111
@mauri870 Could you please explain more how you added args to the apiserver using the template? Using Rancher 1.6.20 and the latest Kubernetes template (1.11.1-rancher1-3-1), I don't see any config field for the kube-api-server. The only field in the template I see for adding args is the "Additional Kubelet Flags" field, which won't help me as it doesn't apply to the API server.

[2018-09-06 16:43] aemneina commented on #15398
```config: "defaults\nlog 127.0.0.1:8514 local0 info\noption httplog\ntimeout client 50000\ntimeout connect 5000\ntimeout server 50000"```

haproxy logging is enabled here.

[2018-09-06 16:45] StrongMonkey commented on #14845
@cjellick PRs were updated and ready to review.

[2018-09-06 16:58] bmdepesa opened #15443 "HA - Api is sometimes not returning any namespaces / workloads / service discovery records"
rancher/rancher:master 9/5

HA, replicas=3

I am unable to produce this consistently, it seems to come and go; also unable to reproduce at all on a single-node install.

When this occurs, I don't see anything in the logs to suggest an error.

To attempt to reproduce, create a cluster and go to `Projects/Namespaces`. Refresh until the issue occurs. Sometimes the namespaces will not appear; when thi

[2018-09-06 16:59] bmdepesa commented on #13292
rancher/rancher:master 9/5

This is no long occurring.

[2018-09-06 16:59] #13292 closed

[2018-09-06 17:00] bmdepesa commented on #15357
rancher/rancher:master 9/5

Unable to reproduce after the fix.

[2018-09-06 17:00] #15357 closed

[2018-09-06 17:03] bmdepesa commented on #15363
rancher/rancher:master 9/5

Unable to reproduce after the fix.

[2018-09-06 17:03] #15363 closed

[2018-09-06 17:12] s1113950 commented on #15121
It is one from GKE

[2018-09-06 17:13] s1113950 commented on #15121
I had the correct permissions to access it because I was able to create a new cluster in GKE using rancher, just not import the existing cluster

[2018-09-06 17:46] nferro commented on #12204
+1

[2018-09-06 17:48] sangeethah commented on #15313
@JasonvanBrackel , From the screenshots you have attached , you have github auth enabled in your setup. Could you check what "Site Access" settings you have ? If you have anything set other than "Allow any valid user" ,  the newly created user will not be allowed to access rancher-server unless he was added as a member to existing clusters or to the restricted access list.

Could you confirm if th

[2018-09-06 17:58] pdube opened #15444 "Package updated Cloud.ca docker machine driver into Rancher as an option"
Hi,

I imported the cloud.ca docker-machine driver as a node-driver for Rancher 2.0. The machines get created correctly, docker gets installed, the images get pulled, but then the agent and server logs show that there is some address that isn't getting propagated correctly (server logs : `Failed to validate cluster: Address for host (1) is not provided`).

I tested with Rancher v1.6 and it works a

[2018-09-06 20:37] sangeethah commented on #11277
This issue is still reproducible when testing with latest master builds.

[2018-09-06 20:44] sangeethah commented on #13354
Tested with latest build from master:
We are not allowed to delete node templates that are still in use by clusters.
UI does not show delete option for these node templates.
When trying to delete  node templates that are still in use by clusters using API , we get the following error:
[code]

[2018-09-06 20:44] #13354 closed

[2018-09-06 21:27] soumyalj commented on #13999
Tested with master. The UI has option to add node name in advanced options.
Deployed nodes 3 which have the same hostnames. Created custom cluster using these nodes, and used --node-name option with names other than the real hostnames. The cluster got created successfully with all the nodes in active state
![screen shot 2018-09-06 at 2 23 39 pm](https://user-images.githubusercontent.com/18536626/4

[2018-09-06 21:27] #13999 closed

[2018-09-06 22:01] bmdepesa commented on #14172
rancher/rancher:master 9/5

Created a stage with multiple steps. Pipeline executed successfully.

[2018-09-06 22:01] #14172 closed

[2018-09-06 22:03] bmdepesa commented on #13752
rancher/rancher:master 9/5

Pipeline execution can be stopped, and the status is changed to `Aborted`

[2018-09-06 22:03] #13752 closed

[2018-09-06 22:06] soumyalj commented on #13830
Tested with master. Created custom cluster as below:
N1: etcd, control
N2, N3: Worker
Rebooted N2 and N3. Cluster was active and functional

Powered OFF N2/N3. The nodes went to unavailable state, cluster was still active.
Powered ON N2/N3. The nodes went to active state and cluster was active and functional.

[2018-09-06 22:06] #13830 closed

[2018-09-06 22:43] bmdepesa commented on #14216
rancher/rancher:master 9/5

Pipeline is not being triggered for adding/removing labels, editing name, or assigning / un-assigning.

[2018-09-06 22:43] #14216 closed

[2018-09-06 22:44] bmdepesa commented on #13739
rancher/rancher:master 9/5

Pipeline is executing on new tag.

[2018-09-06 22:44] #13739 closed

[2018-09-06 22:45] bmdepesa commented on #14217
rancher/rancher:master 9/5

Webhook is being removed after repository authorization is removed.

[2018-09-06 22:45] #14217 closed

[2018-09-06 22:48] soumyalj commented on #14867
Tested with master build from Sep 6th. Created a DO cluster and added nodes using v3/nodes post call. The API request was successful and the node was added successfully. Example below:

[code]
Did not see any panic in the server logs. Proper logging as we see when a node gets added
[code]

[2018-09-06 22:48] #14867 closed

[2018-09-06 22:49] dramich commented on #14848
The errors seen were a result of the node in the cluster going down. The cluster died so k8s was not able to delete the cattle-system namespace due to the pods that were scheduled to the node being stuck. After removing the node from the cluster the cattle-system namespace was deleted and the cluster was able to be reimported.

The cleanup performed as expected by cleaning up all objects that it w

[2018-09-06 23:01] StrongMonkey commented on #11277
Noticed in @sangeethah's setup, the instance was provisioned with private IP address only, thus causing `docker-machine` hang on `waiting for ssh` because it can't ssh into the private IP address.
The potential fix is to add a timeout to `docker-machine` command, so when it failed to create it timeouts out and go through delete process.
@cjellick do you think we should add timeout for this special

[2018-09-06 23:44] soumyalj commented on #14457
Tested with master build from Sep 6th. Added a DNS record with 127.0.0.2 in the UI. DNS entry failed to get added with the below error as expected
![screen shot 2018-09-06 at 4 43 45 pm](https://user-images.githubusercontent.com/18536626/45190681-0f33f500-b1f4-11e8-9112-b42da108e144.png)

Server logs :
[code]

[2018-09-06 23:44] #14457 closed

[2018-09-06 23:54] sangeethah commented on #14571
Tested with latest build from master.

Scenario 1:
Import a RKE cluster with a node which has an IP as hostname.
Edit the node to add some labels.
Click Save.
Able to save successfully.

Scenario 2:
Add a custom cluster .
Add AWS nodes which has hostname with a format similar to ip-172-31-0-26
Edit the node to add some labels.
Click Save.
Able to save successfully.

[2018-09-06 23:54] #14571 closed

[2018-09-07 00:08] sangeethah commented on #14352
This issue is not reproducible when testing with latest master builds.

[2018-09-07 00:08] #14352 closed

[2018-09-07 00:57] bmdepesa commented on #15226
rancher/rancher:master 9/5

Pipeline is using proxy to connect to registry, using the authentication, and generated certs.

[2018-09-07 00:57] #15226 closed

[2018-09-07 00:58] bmdepesa commented on #15443
Bypassing the load balancer, the slaves are returning the response w/ empty data, while the leader returns the expected response.

[2018-09-07 02:49] guangbochen commented on #15309
verified fixed and close it, master 09/07.

[2018-09-07 02:49] #15309 closed

[2018-09-07 03:30] guangbochen commented on #13063
close it as the rancher v2.1 brings the tiller back, so all the helm hooks will work now.

[2018-09-07 03:30] #13063 closed

[2018-09-07 03:48] cjellick commented on #15437
I think this is drawing too fine a line between project member and owner. The primary difference between the two is currently 1) the ability to update or delete the project itself 2) the ability to invite other members. Making such a fine distinction (they can see _this_ namespace in the namespace, but not _that_ namespace in the project). We've typically treated members as having full access to t

[2018-09-07 03:54] yinfxs opened #15449 "Removing project gets stuck in state "removing""
**Rancher versions:**
rancher/server or rancher/rancher:v2.0.8
rancher/agent or rancher/rancher-agent:v2.0.8

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
Containers: 46
 Running: 31
 Paused: 0
 Stopped: 15
Images: 29
Server Version: 17.03.2-ce
Storage Driver: overlay

[2018-09-07 04:00] guangbochen commented on #15344
sure, please verify with the `wordpress` chart and using different input types like boolean and string, and make sure they all passed correctly, thanks.

[2018-09-07 04:35] soumyalj commented on #15420
Tested with v1.6.22-rc3. Created  Ubuntu 14.04 setup with Docker 1.12.6. Kubelets started fine and did not restart constantly. K8s automation runs were successful for this configuration.

[2018-09-07 04:35] #15420 closed

[2018-09-07 08:42] ajfriesen commented on #13556
I have this problem too.
I am logged in the rancher cli.

[code]

The node I try to get into is in a private subnet in aws.

[2018-09-07 10:34] #8332 closed

[2018-09-07 10:35] superseb commented on #8331
https://github.com/rancher/rancher/issues/8433

[2018-09-07 10:35] #8331 closed

[2018-09-07 11:18] tkuther opened #15450 "UI: expose more meaningful information in Persistent Volumes overview"
**Rancher versions:**
rancher/rancher: v2.0.8

Especially when dealing with dynamic PVs, it's really hard to tell which volume is what exactly:

![screenshot_20180907_130531](https://user-images.githubusercontent.com/63717/45215783-cab16380-b29e-11e8-8793-5f2f250f3c29.png)

Even the details page doesn't give more clues, other than the volume's size

![screenshot_20180907_130808](https://user-image

[2018-09-07 11:19] John0x commented on #14007
@sjkeerthi it's part of the v2.2 milestone

[2018-09-07 12:29] superseb commented on #8590
The issue regarding caching was resolved and you should be able to point it to a different DNS server. Replacing/disabling Rancher DNS won't be supported as other components depend on it.

[2018-09-07 12:29] #8590 closed

[2018-09-07 12:30] superseb commented on #8490
This has been resolved.

[2018-09-07 12:30] #8490 closed

[2018-09-07 12:33] superseb commented on #8472
Closing as stale

[2018-09-07 12:33] #8472 closed

[2018-09-07 12:34] superseb commented on #8493
I don't think this applies anymore, let us know if it still present on the latest version.

[2018-09-07 12:34] #8493 closed

[2018-09-07 13:50] superseb commented on #9007
Probably fixed by https://github.com/rancher/rancher/issues/12084, let me know if it happens on the latest version.

[2018-09-07 13:50] #9007 closed

[2018-09-07 13:51] superseb commented on #9014
Not really sure what happened in this case, if you have a way to reproduce on the latest version, let me know.

[2018-09-07 13:51] #9014 closed

[2018-09-07 13:51] #8935 closed

[2018-09-07 14:12] ekristen commented on #14936
I will upgrade to 2.0.8 and test. I believe @loganhz is correct it was a websocket issue that was fixed already.

[2018-09-07 14:18] superseb commented on #8851
The host status is determined by the rancher-agent responding to "ping" packets from rancher server, the Ready state is determined by the kubelet giving a NodeReady event.

So the place to debug this is in the rancher/agent container log.

[2018-09-07 14:18] #8851 closed

[2018-09-07 14:51] lnikell commented on #15421
Ok so I figured out what is the problem, so I need some help from the Rancher devs, because it could not work with changes in Rancher UI.

In order to get certificate automatically, you have to fill in ingress resource with tls section.
By default in Rancher UI if you create a basic ingress resource it will look like this:
[code]
But it should be like that
[code]

Through the UI you can't set a ho

[2018-09-07 15:13] proxity commented on #8962
I get the Caused by: org.mariadb.jdbc.internal.util.dao.QueryException: Table 'cattle.setting' doesn't exist Query is: SELECT distinct name, value FROM setting
when Rancher v1.6.20 is creating a fresh db with mariadb 10.2. With 10.1 it works on the same server.
Still Rancher starts, is the error harmful?

[2018-09-07 15:34] bmdepesa commented on #15361
rancher/rancher:master 9/5

Rancher server pods are being scheduled on separate nodes.

[2018-09-07 16:10] bmdepesa commented on #14971
@aijanai

You should see the kubecfg on the node pointing to the local port nginx-proxy is listening on.
[code]

[2018-09-07 16:10] bmdepesa commented on #14971
rancher/rancher:master 9/5

Verified the proxy_timeout is set to 30 and the offending log statements are no longer present.

[2018-09-07 16:10] #14971 closed

[2018-09-07 18:10] soumyalj commented on #15161
K8s Automation runs k8s:v1.11.2-rancher1-2 succeeded with no new issues on the following configurations:

docker-1.12.x - RancherOS
docker-1.12.x - rhel-7.3  - native - aws
docker-1.12.x - rhel-7.3  - upstream - aws
docker-1.12.x - rhel-7.4  - native - aws
docker-1.12.x - ubuntu 14.04		 
￼docker-1.12.x - ubuntu 16.04-aws
docker-1.13.x - rhel-7.4  - native - aws	￼		 
￼docker-17.03.x - RancherOS
doc

[2018-09-07 18:15] #15161 closed

[2018-09-07 18:57] alena1108 commented on #14502
golang is bumped up to v1.11 in rancher 2.1, marking as resolved

[2018-09-07 18:58] alena1108 commented on #14502
@sangeethah nothing specific to test, lets just make sure our validation test passes

[2018-09-07 19:05] sangeethah opened #15451 "Shiboleth - "Page Expired" / "Session has expired log in again" presented to user sometimes after entering valid credentials."
**Rancher versions: v1.6.22-rc3
**Steps to Reproduce:**

Have Shiboleth (Ping Federator) enabled in the setup.
Sometimes When I log in to the set up with valid credentials, I am not able to get to Rancher UI.

Sometimes I am presented  with this error:
<img width="1468" alt="screen shot 2018-09-07 at 9 52 34 am" src="https://user-images.githubusercontent.com/4266958/45238255-1c092500-b296-11e8-812

[2018-09-07 20:10] Nir-Tal commented on #14987
that happens to us as well. Rancher 2.0.8 / Ubuntu 16.04 / Provider is profitbricks. expanding the fd to 100000 reduced the frequency of the nodes going dead but did not solve it. I'm restarting the docker service manually every time a node is stopping to respond. I think that Rancher should at least kill the node and create a new one if it happens otherwise the entire cluster is breaking and when

[2018-09-07 20:27] sangeethah commented on #15284
Tested with v1.6.22-rc3 with HA setup.

Had a setup with 3 hosts.
Deployed many health check enabled instances.

Powered down one of the host. This would result in this host being removed from the healthcheck_instance_host_map for all the health check enabled instances.

Powered on this host again. This would result in the same host being added back to the healthcheck_instance_host_map for all the

[2018-09-07 20:55] massimo-cannavo opened #15453 "Rancher CLI Unable to List Greater Than 3000 Volumes"
**Rancher versions:**
rancher/server: **v1.6.21**

**Steps to Reproduce:**

See #15278

**Results:**

[code]

The customer would like the same feature in the Rancher API that allows you to go through the pagination to view the next set of volumes in the collection.

[code]

[2018-09-07 20:57] prachidamle opened #15454 "Develop a tool to provide docker-compose constructs unsupported for conversion to K8s YAML"
This is a new requirement to help migration from Rancher 1.6 to Rancher 2.0.
The idea is to develop a tool that would
 a) Accept the Rancher 1.6 Docker Compose config files and
 b) Output a list of constructs present in the config file that cannot be supported onto Rancher 2.0 without special handling or that cannot be converted to Kubernetes YAML using tools like Kompose.

This should help users

[2018-09-07 21:26] sangeethah commented on #12497
This issue is still reproducible with latest build from master.
Reopening issue.

[2018-09-07 22:05] cjellick opened #15456 "Rancher breaks if the same node name appears in multiple clusters"
If multiple clusters have hosts with the same node name, only one will successfully provision. The rest will just get stuck in an unprovisioned state.

The end result is if you have two clusters with nodes with the same hostname and you are using RKE, one of the clusters will not provision

[2018-09-07 22:36] sangeethah opened #15457 "Deleting the only node from a DO cluster results in the node being stuck in "Removing" state forever."
**Rancher versions: Build from master
**Steps to Reproduce:**

Create a DO cluster with 1 node having all roles.
Once the cluster gets to "Active" state , delete the node.

Node gets stuck in ""Removing" state forever."

Error seen in logs:
2018/09/07 22:33:49 [ERROR] NodeController c-bbv8m/m-sq668 [node-controller] failed with : waiting for node to be removed from cluster

[2018-09-07 22:41] lester65 opened #15458 "[rancher-dns]"
Rancher | v1.6.18
-- | --
Cattle | v0.183.52
User Interface | v1.6.43
Rancher CLI | v0.6.10
Rancher Compose | v0.12.5

**Infrastructure Stack versions:**

network-services: rancher/dns v0.17.3

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS 7
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/G

[2018-09-07 22:43] cloudnautique opened #15459 "Hosts with the same name can prevent cluster provisioning"
Rancher/rancher:v2.0.x

Rancher server uses node name as a primary identifier when creating a dialer. Having a host with the same name in separate clusters can cause the dialer to be created for the wrong host. This causes provisioning of that cluster/node to halt.

To reproduce:
1. create a cluster with a node name 'prod-000'
1. create a second cluster with node name 'prod-000'

result:
node will

[2018-09-07 22:50] vincent99 commented on #15454
What about other things like `rancher-metadata` and `service.stack.rancher.internal` assumptions that are in the image instead of the compose file?

[2018-09-07 22:54] superseb opened #15460 "Login button for AD FS should say AD FS"
Version: master 9/7

Login button for AD FS should say: `Log In with AD FS`.

<img width="293" alt="screen shot 2018-09-08 at 00 52 28" src="https://user-images.githubusercontent.com/2620179/45246455-a9ce2a00-b301-11e8-952d-0572eb39830a.png">

[2018-09-07 22:54] sangeethah opened #15461 "After deleting all nodes from custom cluster , not able to add new nodes to the cluster."
**Rancher versions: Build from master
**Steps to Reproduce:**
Create a custom cluster with 2 nodes:
node1 - > control and etcd
node2 - > worker

Delete node1.
Node gets deleted successfully.

Delete node2.
Node gets deleted successfully.

Add a new node with all roles to this cluster.
Cluster gets stuck in "Updating" state forever.

<img width="1359" alt="screen shot 2018-09-07 at 3 52 53 pm" src=

[2018-09-07 22:58] #15459 closed

[2018-09-07 22:58] superseb opened #15462 "AD FS field settings are wrapped while there is space"
Version: master 7/9

<img width="1276" alt="screen shot 2018-09-08 at 00 56 26" src="https://user-images.githubusercontent.com/2620179/45246548-409ae680-b302-11e8-9e73-ea9d79e25b5a.png">

[2018-09-07 22:59] cjellick commented on #15456
@cloudnautique and i did not coordinate and he opened https://github.com/rancher/rancher/issues/15459. I closed it as a dupcliate of this one, but here's his description:

Rancher/rancher:v2.0.x

Rancher server uses node name as a primary identifier when creating a dialer. Having a host with the same name in separate clusters can cause the dialer to be created for the wrong host. This causes provi

[2018-09-07 23:00] cjellick commented on #15459
dupe of https://github.com/rancher/rancher/issues/15456
poor coordination on our part

[2018-09-07 23:05] #9553 closed

[2018-09-07 23:09] superseb opened #15463 "Rancher API Host setting for AD FS can be prefilled"
Version: 9/8

When configuring AD FS, you have to enter Rancher API Host which is just the configured `server-url` so we can pre-fill that. (except when people are using a different URL than the configured `server-url`, which is also weird)

[2018-09-07 23:18] superseb opened #15464 "Better identifiable logo for AD FS"
Version: master 9/8

Logo should be better identifiable, like the AD/Azure AD with bigger letters.

<img width="1245" alt="screen shot 2018-09-08 at 01 17 31" src="https://user-images.githubusercontent.com/2620179/45247026-067f1400-b305-11e8-8fbb-873cbef73183.png">

[2018-09-07 23:18] sangeethah commented on #12464
Tested with latest build from master:
Error logs relating to Networkpolicy is not seen anymore in logs when cluster gets deleted.

[2018-09-07 23:18] #12464 closed

[2018-09-07 23:24] sangeethah opened #15465 "Repeated errors relating to failed upgrade system service cattle-logging:fluentd in logs when cluster gets deleted."
Rancher Server - Build from master
Steps to reproduce the problem:
Create a DO cluster.
Add namespace and few workloads.
Delete cluster.

Repeated errors relating to failed upgrade system service cattle-logging:fluentd in logs:

[code]

[2018-09-08 00:01] massimo-cannavo commented on #15186
So this is what I did to get it to work. It's kind of a work around I guess.

**redis-config**
[code]

Create a ConfigMap from the file above (**correct format**)
[code]
Verify that the ConfigMap was created in the correct format.
[code]
Now it's time to deploy a Redis workload.
[code]
Those are the settings that I configured when deploying the Redis workload. You can also confirm the output using

[2018-09-08 00:10] sangeethah opened #15467 "Sometimes namespace gets stuck in "Activating" state."
**Rancher versions:** Build from master
**Steps to Reproduce:**
Had an imported RKE cluster.
Created a new project.
Created a workload in a new namespace in this project.
namespace gets stuck in "Activating" state forever.

<img width="1345" alt="screen shot 2018-09-07 at 5 08 20 pm" src="https://user-images.githubusercontent.com/4266958/45247994-ee85a100-b2c0-11e8-84d9-467f322edb74.png">

Followi

[2018-09-08 00:18] StrongMonkey commented on #15457
@sangeethah This might be caused by the validation that you can't delete the last ETCD node.

[2018-09-08 00:36] sangeethah commented on #14207
Tested with latest build from master:

Imported an existing rke cluster.
Create few projects with namespaces and deployed workloads in them.
Gave project member / cluster member access to few users.

Deleted the imported cluster from rancher.

1. cattle-system namespace was deleted.
2. For other namespaces that were created from rancher UI - There are no finalizers, annotations and labels in them.

[2018-09-08 00:43] sangeethah commented on #14848
When all the nodes in the cluster was in "Active" state . The issue seen above was not encountered.

Create a standalone RKE cluster.
Import into rancher
Created few projects and workloads.
Deteted cluster from rancher.
Import again.

Able to create new pods in "default" namespace which have access to internet.
Able to exec into existing pods and reach google.com .
MacBook-Pro-3:rke19 sangeethahar

[2018-09-08 01:50] yinfxs opened #15469 "Launch kubectl always "Connecting..." state"
**Rancher versions:**
rancher/server or rancher/rancher:v2.0.8
rancher/agent or rancher/rancher-agent:v2.0.8

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:

[2018-09-08 03:05] edwinallenz commented on #8774
Did you guys make this string literals work?

[2018-09-08 08:13] stieler-it commented on #15232
When trying to install a completely different chart I had the impression that using a value with comma "," fails - I think helm uses comma as separator between values so Rancher would have to escape it.

[2018-09-08 08:42] kvaes commented on #14354
+1 Experiencing the same.

his cluster is currently Unavailable; areas that interact directly with it will not be available until the API is ready.

Failed to communicate with API server: Get https://c-cspg-kvaes-test-ranch-be7a25-master-8e905666.hcp.westeurope.azmk8s.io:443/api/v1/componentstatuses?timeout=30s: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

Though wh

[2018-09-08 08:58] lnikell commented on #15421
So the solution, I found to just get it working without having touch kubectl.
Got to certificates section in Rancher, create a new certificate. To do this you should have priv key and the cert file. I generated my own expired self signed certificate such as this:

private key
[code]

cert
[code]

You could use it for the test purpose. Now you could attach that cert to your new ingress resource, th

[2018-09-08 10:47] superseb commented on #15469
The embedde kubectl goes to a pod running `rancher/rancher-agent` that is scheduled to nodes. Can you check the status of those pods and logging?

[code]

[2018-09-08 10:52] superseb commented on #15458
Can you please supply the requested info from the issue template? The more information is given, the better we can look into it.

Besides that, can you share what you are running and what you run into exactly? Rancher DNS is a sidekick to metadata, can you share logging of both containers?

[2018-09-08 16:23] selmison opened #15470 "Support to kube-router CNI"
**Rancher versions:**
rancher/server or rancher/rancher: v2.x

Is it possible to add support to [kube-router CNI](https://github.com/cloudnativelabs/kube-router)?

[2018-09-08 17:36] cjellick opened #15471 "Test failure test_default_system_project_role"
From https://drone8.rancher.io/rancher/rancher/3721/3]
[code]

[2018-09-08 20:06] tboemker-bkfs opened #15472 "Rancher won't start after restore"
I created a backup following the instructions at https://rancher.com/docs/rancher/v2.x/en/backups/backups/single-node-backups/. When I tried to restore from that backup, rancher would not start. Please see attached logs.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.8` UI: `v2.0.67` |
|Access|`local` `admin`|
|Route|`global-admin.clusters.index`|
[rancher.stdout.txt](https://github.

[2018-09-08 21:22] kapolos opened #15473 "Jenkins blocks Pipeline execution"
**Rancher versions:**
rancher/rancher: `2.0.8`
rancher/rancher-agent: `2.0.8`

**Docker version: (`docker version`,`docker info` preferred)**

`17.03.2-ce, build f5ec1e2`

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

`4.4.0-130-generic`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-metal

**Setup details: (single node rancher vs. HA ranche

[2018-09-08 21:29] mitchellmaler opened #15474 "Add Namespace to Project from Kubernetes NS Annotation"
Could it be possible to add a new namespace to a project using the namespace specification/manifest on the kubernetes cluster side? This would allow me to not have to create the namespace using kubectl and then go to rancher ui or use the api/cli to add the namespace to the project.

[2018-09-08 21:45] mitchellmaler commented on #15474
I figured out it can be done by providing the ```field.cattle.io/projectId:``` annotation. The only issue is I wouldn't know the ids of the cluster and project without doing a lookup using the api before applying the manifest.

Would be nice if it can be done by "cluster name:project name"

[2018-09-08 21:54] mitchellmaler commented on #15474
or even just project name without knowing the cluster id

[2018-09-08 22:32] mitchellmaler opened #15475 "[2.0.8] Custom Project Owner Role with Disabled OOTB Owner wont let me edit a project "There must be at least one member with the Owner role.""
We have customized the owner role by creating our own that just had the Create Namespace permission removed. The issue is Rancher UI gives the error that at least one member needs to have the owner role but that role is disabled per our requirements.

[2018-09-08 23:30] mitchellmaler opened #15476 "[2.0.8] Metrics Server "Unable to authenticate the request due to an error: [x509: certificate signed by unknown authority""
I enabled metrics server on my cluster (OpenStack Driver) and metrics server is getting the error:

[code]

rke config
[code]

[2018-09-09 06:57] mitchellmaler opened #15477 "Rancher 2.X Ability to specify url and Admin password on initial startup to enable automation"
I have been working on writing automation to deploy our Rancher servers using RKE HA and I have it working. The only issue is I still have to manually go into rancher to set the url and generate the admin password. I also have to manually generate a token for the user before I can run any other of my automation which uses the API to set up authentication, custom roles, etc.

If these things can be

[2018-09-09 16:58] phal0r opened #15478 "Custom provisioning of 3 nodes failed with etcd errors"
**Rancher versions:**
rancher/server or rancher/rancher: 2.0.8
rancher/agent or rancher/rancher-agent: 2.0.8

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable): 1.11.2

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
16.04.5 LTS (Xenial

[2018-09-09 19:13] Berndinox commented on #13314
Same here, there is no fix? Issue opened in May...

[2018-09-10 03:15] orangedeng opened #15479 "File logs from container should have pod metadata when sending to logging target"
We have a container log volume to mount the log file into host for now and we will use fluentd to collect them and send them to configured target. But this kind of log don't have the pod metadata info when fluentd sending them. We should fetch the pod metadata and put them in fluentd like what we do for container stdout/stderr log.

This feature is required by our customer SAIC.
cc @pengjiang80

[2018-09-10 03:31] loganhz commented on #15450
Add PVC in PV list page.
Add PVC, Reclaim Policy, Created, Annotations info in PV detail page.

![image](https://user-images.githubusercontent.com/21168270/45275016-e742db00-b4ec-11e8-89e5-4ee2fa6aaa81.png)
![image](https://user-images.githubusercontent.com/21168270/45275028-f6c22400-b4ec-11e8-90db-6dbd75a94039.png)

[2018-09-10 03:45] imwower opened #15480 "generate kubeconfig file from API using custom variables"
I can get kube/config from admin UI,
but I can't modify any of the settings, such as, the server URL, the users,
so, How can I use Rancher CLI or kubectl to auto generate a kube config file?

thanks.

[2018-09-10 04:57] aemneina commented on #15411
Did some digging here, it appears when canal starts and some other process (like the kubelet) is manipulating iptables rules, canal is blocked from making the appropriate firewall rules for communication and breaks. Issue for this was also filed here: https://github.com/rancher/rke/issues/903

[2018-09-10 05:55] markqiu commented on #15347
It resoved by update to latest rancher 1.x

[2018-09-10 05:55] #15347 closed

[2018-09-10 06:28] superseb commented on #15480
For 2.x, you can use `./rancher cluster kubeconfig clusterid/clustername`.

For 1.x, the template for kubeconfig is in the UI so you'll have to replicate that yourself if you want to automate it.

[2018-09-10 06:28] #15480 closed

[2018-09-10 06:32] superseb commented on #15478
Are the droplets created with private network? Is internal address set to private network and public address to public network?

Were the nodes added once after creating or were they re-used in multiple attempts, if so, were the nodes cleaned in between adding them to clusters?

[2018-09-10 06:37] superseb commented on #15477
The `server-url` setting can be automated using `-e CATTLE_SERVER_URL` or using the API.

Initial password request is in https://github.com/rancher/rancher/issues/13271. Password can already be automated using the same API calls done when logging in the first time. See https://gist.github.com/superseb/c363247c879e96c982495daea1125276

Last request is also possible as shown in last gist.

[2018-09-10 06:37] #15477 closed

[2018-09-10 06:38] superseb commented on #15476
This should be fixed in https://github.com/rancher/rke/issues/866

[2018-09-10 06:38] #15476 closed

[2018-09-10 06:39] loganhz opened #15481 "Can not upgrade workload with PVC"
rancher/rancher:master 09/10

Steps to reproduce:

1. Deploy a workload with a PVC
2. Wait the workload to become `Active` state
3. Upgrade this workload without change anything. Just click `Upgrade`

Results:

Workload can not be upgraded with error `Persistentvolumeclaim "default:abc" not found`.

Reason:

In the YAML, the claimName is set to `default:abc`. This is wrong. It should be `abc`.

![

[2018-09-10 06:41] superseb commented on #15474
The Rancher CLI provides a way to associate a namespace to a project:

[code]

[2018-09-10 06:41] #15474 closed

[2018-09-10 06:41] loganhz commented on #15481
It's better to add an automation test for this case.

[2018-09-10 06:42] superseb commented on #15470
Merging into https://github.com/rancher/rke/issues/312

[2018-09-10 06:42] #15470 closed

[2018-09-10 06:43] superseb commented on #8230
Closing as stale.

[2018-09-10 06:43] #8230 closed

[2018-09-10 06:43] superseb commented on #8737
Closing as stale.

[2018-09-10 06:43] #8737 closed

[2018-09-10 06:44] superseb commented on #9262
Closing as stale.

[2018-09-10 06:44] #9262 closed

[2018-09-10 06:44] superseb commented on #9266
Closing as stale.

[2018-09-10 06:44] #9266 closed

[2018-09-10 06:44] superseb commented on #9328
Closing as stale.

[2018-09-10 06:44] #9328 closed

[2018-09-10 06:45] superseb commented on #9359
Closing as stale.

[2018-09-10 06:45] #9359 closed

[2018-09-10 06:55] superseb commented on #13314
There is not an actual root cause determined yet. Reading through the replies, I see a lot of responses where nodes or responses start to slow down and I'm curious what specifications the machines are that are being used to setup the cluster.

[2018-09-10 07:11] stefanvangastel opened #15482 "UI Link to nodePort host always %3Cnil%3E"
**Rancher versions:**
**Rancher**: v2.0.8
**User Interface**: v2.0.67
**Helm**: v2.9.1-rancher1
**Machine**: v0.15.0-rancher1-1

**Infrastructure Stack versions:**
`kubectl version`
[code]

**Setup details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Steps to Reproduce:**
Add new scalable deployment to Rancher 2.0.8 using nodePort portmapping. Hover l

[2018-09-10 07:27] kdealer commented on #13307
Whats the state of this bug?

[2018-09-10 07:32] superseb commented on #13307
Two cases where I have seen this is:

- Cluster nodes are re-used and not cleaned, leaving old files which interfere with the cluster provisioning process. Proper cleaning of nodes is described here: https://rancher.com/docs/rancher/v2.x/en/faq/cleaning-cluster-nodes/
- There is a network configuration which is preventing the cluster creation to complete. First, the ports need to be opened accordi

[2018-09-10 07:35] superseb commented on #15039
Duplicate of https://github.com/rancher/rancher/issues/14184

[2018-09-10 07:35] #15039 closed

[2018-09-10 07:35] phal0r commented on #15478
Yes

Yes and I can confirm from monitoring that traffic is being sent over the private network.

We tried both, with the same errors. When reusing droplets, we deleted all containers and additionally `rm -rf`-ed `etc/kubernetes` on the droplet

The system is still running in the faulty state, if you need any runtime information, I can provide them.

And a side note: I am not to keen to provision t

[2018-09-10 07:41] #15095 closed

[2018-09-10 07:46] wuchencm opened #15483 "How can I configure the rule to bring the path end with "/" ?"
for example:
proxy_pass http://test-ingress-8f1f396c10b908bfbdbc9b42f2c2b143-80/;
![image](https://user-images.githubusercontent.com/14210543/45283419-64337c00-b510-11e8-830f-1f5674ccb350.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.0.8` UI: `v2.0.67` |
|Access|`local` `admin`|
|Route|`ingresses.index`|

[2018-09-10 08:24] chrisurwin opened #15484 "Add support for EKS in EU-West"
Amazon have recently announced support for EU-West within the EKS product https://aws.amazon.com/about-aws/whats-new/2018/09/amazon-eks-available-in-ireland/

We need to add support for this region to the list of EKS options available

[2018-09-10 08:50] hellraisercenobit opened #15485 "[Windows] Host created, but nothing working"
**Rancher versions:**
rancher/server or rancher/rancher: v1.6.10
rancher/agent or rancher/rancher-agent: v0.6.0
UI: v1.6.23
CLI: v0.6.4
Rancher Compose: v0.12.5

**Infrastructure Stack versions:**
healthcheck: N/A
ipsec: N/A
network-services: N/A
scheduler: N/A
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 17.06.2-ee-16, build 9ef4f0a

*

[2018-09-10 08:54] xiaoluhong opened #15486 "Library Catalogs cannot be completely disabled"
**Rancher versions:**
rancher/server or rancher/rancher: v2.0.5 to master
rancher/agent or rancher/rancher-agent: v2.0.5 to master

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.4 LTS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VMware

**Setup details: (single n

[2018-09-10 09:43] superseb opened #15487 "Add support for EKS Platform Version 2"
Introducing Amazon EKS Platform Version 2
Posted On: Aug 30, 2018

Amazon Elastic Container Service for Kubernetes (EKS) platform version eks.2 is now available. This update enables API Aggregation for EKS clusters, adding support for Horizontal Pod Auto Scaling and the Kubernetes Metrics Server.

Amazon EKS platform versions are used to refer to a specific patch version of Kubernetes, as well as

[2018-09-10 10:02] superseb opened #15488 "Validate k8s 1.12 for 2.x"
Scheduled release: September 25

[2018-09-10 10:03] superseb opened #15489 "Validate k8s 1.12 for 1.6"
Scheduled release: September 25

[2018-09-10 10:18] Altoblond opened #15490 "Custom cluster, can start start one node, second one cannot register (not able to connect to the following ports)"
**Rancher versions:**
rancher/server or rancher/rancher: rancher/rancher:v2.0.8
rancher/agent or rancher/rancher-agent: rancher/rancher-agent:v2.0.8

**Docker version:**
`Client:
 Version:      17.03.3-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   e19b718
 Built:        Thu Aug 30 01:06:10 2018
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.3-ce
 API version:  1.27 (minimu

[2018-09-10 13:11] Altoblond commented on #15490
Additional info, I have started a simple httpd server on agent1:
docker run -it -p 2380:80 10.0.21.8:5000/my-apache2

Then I can telnet from any other host on my network:
curl 10.0.21.10:2380
<html><body><h1>It works!</h1></body></html>

[2018-09-10 13:12] PhilippHeuer commented on #13736
Take a look at this guide: https://rancher.com/blog/2018/2018-08-07-cicd-pipeline-k8s-autodevops-rancher-and-gitlab/

[2018-09-10 13:34] superseb commented on #10238
Most likely fixed in https://github.com/rancher/rancher/issues/12084

[2018-09-10 13:34] #10238 closed

[2018-09-10 13:34] superseb commented on #10386
Closing as stale.

[2018-09-10 13:34] #10386 closed

[2018-09-10 13:35] superseb commented on #10467
Closing as stale.

[2018-09-10 13:35] #10467 closed

[2018-09-10 13:36] superseb commented on #11238
Specs was meant for in terms CPU/memory. Let me know if you still run into trouble.

[2018-09-10 13:36] #11238 closed

[2018-09-10 13:38] superseb commented on #11311
If this can be reproduced on the latest version, let me know. There are two resolutions based on the comments and the forum post.

[2018-09-10 13:38] #11311 closed

[2018-09-10 13:38] #14903 closed

[2018-09-10 13:40] superseb commented on #15415
The port requirements are described here: https://rancher.com/docs/rancher/v2.x/en/installation/references/

I have created this PR (https://github.com/rancher/docs/pull/774) to make the distinction between UDP and TCP.

If you still have issues setting up the cluster based on this, let me know.

[2018-09-10 13:40] #15415 closed

[2018-09-10 15:46] cjellick commented on #14184
@StrongMonkey or @alena1108 can you explain why this behaves this way?

[2018-09-10 16:05] cjellick commented on #14608
@strongmonkey my take is that this issue would be resolved by our changes that address the set-string issue. can you review and give me your opinion?
If that is correct, please move it along with the other issue

[2018-09-10 16:46] dramich commented on #15471
@kinarashah For this test, `wait_for_condition` should only apply to the projects you know/expect to exist. Ideally only the ones you really care about, `Default` and `System`. This is failing due to a project getting listed but getting cleaned up before we are able to complete the `wait_for_condition` so ends up being a nil object on refresh.

[2018-09-10 16:56] bmdepesa commented on #15164
rancher/rancher:master 9/7

All automated tests are passing for AD, OpenLDAP, and FreeIPA.

[2018-09-10 16:56] #15164 closed

[2018-09-10 17:02] kinarashah commented on #15471
@dramich To find out if it's the `Default` or `System` project, I'd need to access its labels, and before doing that I think it was recommended to reload the project once - to handle the race condition where this test is one of the first ones and cluster/project isn't up yet. Would that still be an issue?

[2018-09-10 17:05] alena1108 commented on #15473
@gitlawr could you check if the issue is still relevant in the refactor scope

[2018-09-10 17:07] dramich commented on #15471
Use the name, they are hardcoded for those, then verify the label.

[2018-09-10 17:09] StrongMonkey commented on #14608
This issue is the duplicate of https://github.com/rancher/rancher/issues/13158. We will be adding two feature on the answer side to address this kind of issue:
1. Allow user to put values.yaml file to override default values.yaml. User can choose to put string by quoting the value or boolean and number(which yaml converter will guess them).
2. Allow user to put enhanced answer types which can be s

[2018-09-10 17:15] westlywright commented on #15231
ui changes are in latest

[2018-09-10 17:16] westlywright commented on #15135
ui changes are in latest

[2018-09-10 17:16] cjellick commented on #13086
Cluster capabilities feature will ultimately address this, but for 2.1, we'd like a warning that tells the user that they would need to deploy their own ingress controller.

[2018-09-10 17:17] soumyalj opened #15491 "Standalone pods lost after Kubernetes upgrade"
**Rancher versions:**
rancher/server or rancher/rancher:

**Steps to Reproduce:**
1. Create a Kubernetes setup with v1.6.21 .
2. Create pods, ingress, Lbs (Used jenkins automation job)
3. Upgrade rancher from v1.6.21 to v1.6.22-rc3
4. Verify all pods, ingress, lbs are functional and new pods get created
5. Upgrade Kubernetes to v1.11.2-rancher1-2

After kubernetes upgrade, standalone pods are lost

[2018-09-10 17:28] cjellick opened #15492 "VMs not being cleaned up consistently when cluster is removed in EKS"
@Oats87 noticed vms hanging around. Details to follow

[2018-09-10 17:29] cjellick commented on #15052
@maxkorp can you open a corresponding issue in the docs repo?

[2018-09-10 17:30] cjellick commented on #13933
@maxkorp can you open a corresponding issue in the docs repo

[2018-09-10 17:48] tfiduccia commented on #15382
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 17:48] #15382 closed

[2018-09-10 17:53] tfiduccia commented on #15450
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 17:53] #15450 closed

[2018-09-10 17:57] tfiduccia commented on #15431
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 17:57] #15431 closed

[2018-09-10 17:58] tfiduccia commented on #15428
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 17:58] #15428 closed

[2018-09-10 17:59] tfiduccia commented on #15429
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 17:59] #15429 closed

[2018-09-10 18:04] sangeethah commented on #15430
Tested with latest build from master.

@kinarashah We dont show the Cordon and Drain option anymore for "Registering"/"Unavailable" hosts.
Can we also not show them for hosts in "Provisioning" state ?

[2018-09-10 18:10] tfiduccia opened #15493 "Error message should reference Limit field not resource type"
**Rancher versions:** 2.1 master 9/10

**Steps to Reproduce:**
1.  Create a project and have a pod project limit of 10 with default namespace limit set to 2
2.  Create a namespace and remove the pod limit
3.  Click create

**Results:**  Error message says Pods is required.  It's actually the Limit field that required.  Also all required fields should have red * next to them.  So please add this.
!

[2018-09-10 18:11] tfiduccia commented on #15339
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 18:11] #15339 closed

[2018-09-10 18:11] tfiduccia commented on #15334
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 18:11] #15334 closed

[2018-09-10 18:12] tfiduccia commented on #15333
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 18:12] #15333 closed

[2018-09-10 18:13] tfiduccia commented on #15327
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 18:13] #15327 closed

[2018-09-10 18:26] tfiduccia commented on #14020
@loganhz - the original issue was talking about Helm Stable.  Which is not an added catalog.  It's above that and a button you set to Enable.

[2018-09-10 18:29] tfiduccia commented on #14964
@superseb - Can you verify this please, or send/tell which catalog app I can use?

[2018-09-10 18:38] superseb commented on #15426
Now shows up as notification:

<img width="318" alt="screen shot 2018-09-10 at 20 37 43" src="https://user-images.githubusercontent.com/2620179/45317168-74ac1c80-b539-11e8-9a79-33d927ce6558.png">

Verified fixed.

[2018-09-10 18:38] #15426 closed

[2018-09-10 18:48] tfiduccia commented on #14936
Version - 2.1 master 9/10
Verified fixed :)

[2018-09-10 18:48] #14936 closed

[2018-09-10 18:50] rsilvestre commented on #15308
By the way, are you also going to add T3 instance type on Rancher version 1.6.x ?

[2018-09-10 18:55] tfiduccia commented on #9772
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 18:55] #9772 closed

[2018-09-10 18:58] tfiduccia commented on #9771
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 18:58] #9771 closed

[2018-09-10 18:59] soumyalj commented on #15292
Tested with master build from Sep 10th.
1. Create cluster.
2. Create namespaces in existing project/new project(without any resource quota defined)
Resource quota does not get created for new namespaces created.
 " kubectl describe resourcequota " does not return anything as shown below:
[code]

[2018-09-10 18:59] #15292 closed

[2018-09-10 19:02] sangeethah opened #15494 "UI - Not allowed to edit a cluster with 2 etcd nodes."
**Rancher versions: latest build from master
**Steps to Reproduce:**
Create DO cluster with 1 node (having all roles).
Scale up the node pool to 2.
Once cluster gets to "Active" state with 2 nodes , Edit cluster and a member to it and save.

User is presented withe following message:

<img width="1196" alt="screen shot 2018-09-10 at 11 57 35 am" src="https://user-images.githubusercontent.com/42669

[2018-09-10 19:44] harsh-px commented on #14983
@hrishipx We can close this issue as this has been verified as working on 2.0.8.

[2018-09-10 20:13] cjellick commented on #13086
Moving this out of the release. We'll open a separate UI issue for the note/warning.

[2018-09-10 20:14] cjellick commented on #13088
As with https://github.com/rancher/rancher/issues/13086, we are going to note/warn about this on cluster creation.
SInce AKS does have the api for creating an ingress, in 2.2 we'll probably implement it properly

[2018-09-10 20:16] cjellick commented on #15465
Related to https://github.com/rancher/rancher/issues/15366

[2018-09-10 20:17] westlywright opened #15496 "Warn Users of EKS and AKS Ingress Limitations"
**Steps to Reproduce:**

Based on the discussion in rancher/rancher#13086 we need a UI note or warning that ingress functionality will not be automatically created for either provider and if the user needs this they will need to deploy their own ingress controller.

I simply want to track the UI warning issue outside of the actual functionality issue.

[2018-09-10 20:18] westlywright commented on #13086
warning ticket tracked at: rancher/rancher#15496

[2018-09-10 20:35] jgreat opened #15497 "API Audit Log doesn't record login success/failures"
The Audit log should report when a user logins in successfully and when a login fails. At minimum it should record the user and the IP address from the login attempt.

**Rancher versions:**
rancher/rancher:v2.0.8

[2018-09-10 20:40] nathan-jenan-rancher commented on #15389
Right now we do a lookup depending on region to use the EKS.  Those images by region are:
[code]
It would be relatively straightforward to add the ability to override these AMIs.  Kontainer-engine would need to be modified to accommodate the new parameter, some simple logic in the driver create method to choose the right AMI, and a new UI field added.

[2018-09-10 20:50] deniseschannon commented on #14983
Thanks for the update @harsh-px!

[2018-09-10 20:50] #14983 closed

[2018-09-10 20:53] nathan-jenan-rancher commented on #15390
To solve this issue technically would require a modification to kontainer-engine to change how it names and retrieves clusters.  This would be relatively straightforward for new clusters.  To ensure compatibility with existing clusters we would need to add in logic to compensate for the misnamed cluster.  I would suggest the following:
Create cluster:
[code]
Retrieve cluster:
[code]
Update cluster

[2018-09-10 20:53] bmdepesa opened #15498 "Splunk w/ SSL enabled for HEC - there is no warning for incorrect SSL configuration"
rancher/rancher:master 9/10

When the SSL configuration is incorrect on Rancher (invalid key or any of the certs), there is no warning and logs do not appear in Splunk.

Saving the configuration appears successful, but looking in `fluentd` logs, you can see there is an error connecting:

[code]

To reproduce:
* Enable SSL on Splunk HTTP Event Collector
* Enable Splunk logging in Rancher, SSL enabl

[2018-09-10 20:55] bmdepesa commented on #13560
rancher/rancher:master 9/10

Setup Splunk and enabled SSL on HTTP Event Collector
Enabled Splunk logging over SSL on Rancher

Logs were pushed to Splunk successfully.

[2018-09-10 20:55] #13560 closed

[2018-09-10 20:58] bmdepesa commented on #14738
rancher/rancher:master 9/10

User is showing correctly as `Active`, not stuck at `Initializing`.

[2018-09-10 20:58] #14738 closed

[2018-09-10 20:59] jambajaar opened #15499 "Distinguish between system calls and user calls"
**Rancher versions:**
1.6

Distinguish between system calls and user calls, to help deployments that have their own governance logic handle these calls differently

Additionally, distinguish between UI-based calls and API-based calls.

[2018-09-10 21:02] sangeethah opened #15500 "cluster-default settings should not allow for overriding sshAgentAuth/sshKeyPath/bastionHost"
Rancher server version - build from master

Cluster-default settings should not allow for overriding sshAgentAuth/sshKeyPath/bastionHost

Additionally, we should not allow for overriding these parameters as well ?
[code]

[2018-09-10 21:06] soumyalj opened #15501 "When creating a project using API, with resource quota set, the namespaceDefaultResourceQuota is not made mandatory"
**Rancher versions:**
rancher/server or rancher/rancher:master

**Steps to Reproduce:**
1. Using API, create a project by specifying resource quota for the project and leaving the namespaceDefaultResourceQuota as NULL.
Project gets created without any default namespaceresourcequota

Creating project without namespaceresourcequota when project resource quota is set should not allowed at the API lev

[2018-09-10 21:29] soumyalj commented on #15501
Also, creating a namespace(using API)  in a project where resource quota is set, it does not inherit values from default, if the resources are not specified.
Ex: If defaultnamespaceresourcequota is set with the below:
{"limit":{"pods": "2",
                      "services": "2",
                      "replicationControllers": "2",
                      "secrets": "2",
                      }}
and

[2018-09-10 21:33] tfiduccia commented on #13064
@deniseschannon - So we fixed the delete on upgrade, but didn't address his original issue?  Which was how to add multiple ingress.annotations through the UI?

[2018-09-10 21:49] tfiduccia commented on #13064
Version - 2.1 master 9/10
Verified Edit as YAML button, no duplicates and that you can delete them.
Verified fixed

[2018-09-10 21:49] #13064 closed

[2018-09-10 21:51] tfiduccia commented on #15385
Version - 2.1 master 9/10
Verified fixed

[2018-09-10 21:51] #15385 closed

[2018-09-10 21:55] tfiduccia opened #15502 "Add T3 AWS instance types (1.6)"
**Rancher versions:** 1.6

**Results:**
Add T3 instance types in the drop-down for AWS hosts.  Also look into adding r5 and r5d too, {large, xlarge, 2xlarge, 4xlarge, 12xlarge, 24xlarge}. They're not generally available but some people have access. https://www.ec2instances.info

[2018-09-10 21:57] tfiduccia commented on #15308
@rsilvestre - I just put in a separate issue to address this.  You can track here -  #15502

[2018-09-10 21:58] deniseschannon commented on #15502
@loganhz can you investigate if this is a simple UI change? or is it not supported in docker-machine yet?

[2018-09-10 22:12] soumyalj opened #15503 "Creating a namespace(using API) in a project where resource quota is set, does not inherit values from default, if few resources are not specified"
**Rancher versions:**
rancher/server or rancher/rancher: master

**Steps to Reproduce:**

1. Create a project with resource quota set and defaultnamespaceresourcequota
2. creating a namespace(using API) in the project
It does not inherit values from default, if the resources are not specified.
Ex: If defaultnamespaceresourcequota is set with the below:
[code]
and create a new namespace with just
{

[2018-09-10 22:26] soumyalj commented on #15338
Tested with master using UI.
The namespaceDefaultResourceQuota is made mandatory  when creating a project.
When creating a new namespace, it does ensure that we can specify the resourcequota other than the default. We can also specify "Zero" as values for the resources.
Related issues are tracked here:
https://github.com/rancher/rancher/issues/15501
https://github.com/rancher/rancher/issues/15503

[2018-09-10 22:26] #15338 closed

[2018-09-10 22:37] sangeethah opened #15504 "User shown as "Inactive" even when the deactivate api call fails."
Rancher server version - Build from master
Steps to reproduce the problem:
Log in as any user and try to deactivate yourself.
API call made to decativate fails with following error:
[code]
But UI shows user as being in "Inactive" state.

<img width="1418" alt="screen shot 2018-09-10 at 3 28 17 pm" src="https://user-images.githubusercontent.com/4266958/45327853-2b92a300-b50e-11e8-82fb-3148d146189a.

[2018-09-10 22:43] soumyalj commented on #15318
Tested with master.
Verified in UI and API that there is validation to ensure namespaceresource quota is not higher than project quota.
But the error message  should specify namespaceDefaultResourceQuota instead of resource quota.
Ex: Create a new project with namespaceDefaultResourceQuota higher than the project resource quota
UI error

<img width="1321" alt="screen shot 2018-09-10 at 3 39 37 pm"

[2018-09-10 22:46] tfiduccia commented on #15482
@stefanvangastel - I cannot reproduce this.  So I'm closing, if you can reproduce after next release just re-open.

[2018-09-10 22:46] #15482 closed

[2018-09-10 22:52] westlywright commented on #15493
PR is open, I did not remove the reference to the resource type because that is useful in the case of multiple limit errors.

`<resource> limit is required.`

[2018-09-10 22:58] soumyalj commented on #14835
Tested with master build from Sep 10.
1. Create a project P1 with resource quota defined. Create namespace test1 in project P1
2. Create another project P2 with no resource quota defined
3. Move namespace "test1" to project P2.
Namespace resource quota gets cleaned up after moving the namespace to a project where no resource quota is defined.
[code]
After the move, there was no resourcequota assig

[2018-09-10 22:58] #14835 closed

[2018-09-10 23:15] loganhz commented on #15502
It's a simple UI change.

[2018-09-10 23:33] sangeethah opened #15506 "ensure-default-admin not available in rancher server image."
**Rancher versions: Build from master

Make ensure-default-admin available in rancher/rancher images.

[2018-09-10 23:39] westlywright commented on #15494
The check occurs on the front end, we should add the same check to where ever we can change this change this.

[2018-09-10 23:43] nathan-jenan-rancher commented on #15185
In order to support this we will need to modify kontainer-engine to allow "null" credentials to be passed to the AWS SDK, which was cause it to look up IAM instance metadata for credentials.  This will also require refactoring the cluster creation to use the EKS SDK (previously we used a crafted http call because the SDK was not available when we initially developed the integration).
Also, because

[2018-09-10 23:44] tfiduccia opened #15507 "When I delete chart app, the namespace is not removed?"
**Rancher versions:** 2.1 master 9/10

**Steps to Reproduce:**
1.  Deploy catalog app
2.  Delete catalog app

**Results:**  The namespace that was created is not deleted.  Shouldn't we be deleting it?  I mean we can warn user that namespace is going away as well in the Delete Catalog App modal.

[2018-09-11 00:09] alena1108 opened #15508 "Workload UI: better user experience for enforcing request cpu/memory on the workload if set by the quota on the namespace"
Kubernetes enforces request/limit for cpu/memory to be passed on the pod spec if the corresponding quota is enabled on the namespace. Not passing those values would result in error from kubernetes. Can we think of how to make it more obvious in the UI, so user enters this information for the workload before hitting save?

[2018-09-11 00:09] sangeethah opened #15509 "When RKE cluster gets created with defaults from cluster-defaults settings , they do not take effect even though cluster.yml has this info."
**Rancher versions:**Build from master

Steps to reproduce the problem:
Edit cluster-defaults settings to disable ingress and  monitoring services and also pass extra parameters to kubeproxy.
[code]

[code]

Create RKE cluster (using API) without passing any values.
[code]

When the cluster gets created , all the values from the cluster-defaults settings get used for the cluster which can be seen

[2018-09-11 00:14] tfiduccia commented on #14316
Version - 2.1 master 9/10
Verified fixed

[2018-09-11 00:14] #14316 closed

[2018-09-11 00:30] StrongMonkey commented on #15492
Tried two times. Instances were deleted successfully. To be observed...

[2018-09-11 00:32] Oats87 commented on #15492
I have a feeling this is due to EKS not actually cleaning up after itself, rather than something on Rancher's side... I could be wrong though

[2018-09-11 01:42] guangbochen commented on #15486
@StrongMonkey because we don't keep the catalog state anywhere in the rancher, so each time restart the rancher server will recreate the `library` catalog even if it was disabled previously, should we add a setting for the `library` catalog to keep its state?

[2018-09-11 02:04] thxCode opened #15510 "Can't access Windows pods via Service DNS"
**Rancher versions:**
rancher/rancher: build form master
rancher/rancher-agent: build from master

**Steps to Reproduce:**
1. setup windows environment
2. deploy a Linux Deployment and Service
3. deploy a Windows Deployment and Service
4. access the Windows service from ANY Linux pod, like this: `curl windows-curl` or `curl windows-curl.default.svc.cluster.local`

**Envrioment example:**
1. nodes

[2018-09-11 02:33] aiwantaozi commented on #15393
Hi, by the current design, when you add an alert, user could select default notifier and rewrite the default notifier info. For example, The page duty endpoint for all user are the same, but the Service Key is different. When user try to send multiple alert, user could configure like below:
![image](https://user-images.githubusercontent.com/5936271/45334502-9646eb80-b5ad-11e8-8345-9903b32acac1.png

[2018-09-11 03:45] #15217 closed

[2018-09-11 05:42] kys1230 opened #15511 "open the UDP protocol 5000-6000 continuous 1000 ports"
*Describe your issue here*

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.20` Cattle: `v0.183.60` UI: `v1.6.45` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`stack.code`|

I need to open the UDP protocol 5000-6000 continuous 1000 ports, but the answer is format error.

my docker-compose.yml
[code]
my rancher-compose.yml
[code]

error message:
[code]

[2018-09-11 06:03] aiwantaozi opened #15513 "Seperate mount volume for main container and sidecar container"
Reproduce step:
1. enable logging
2. create a workload, add volume, select read log file from path, input log path, and save.
3. create a sidecar container, add volume, UI will show a not path volume for the sidecar, which is the volume in step2, expect show nothing, if user want to add a flexvolume log for the sidecar container, he could add a volume for it, not share the volume with the first on

[2018-09-11 06:39] loganhz opened #15515 "UI pagination issue for grouped resources"
rancher/rancher:master 09/10

Steps to reproduce:

1. Deploy more than 70 workloads in two different namespaces. 30 workloads in namespace `my-namespace-a` and 40 workloads in namespace `my-namespace-b`.
2. Go to workload list page and group by namespace

Results:

Some workloads under `my-namespace-a` are in page 1. The other workloads under `my-namespace-a` are in page 2.

Expected:

All of the

[2018-09-11 06:43] vincent99 commented on #15515
Resolved how?  This is unsustainable, there could be 10,000 workloads in one namespace.

[2018-09-11 06:51] vincent99 commented on #15511
Port ranges are not and will not be supported.  https://github.com/rancher/rancher/issues/1673  Consider using host networking.

[2018-09-11 06:51] #15511 closed

[2018-09-11 06:55] loganhz commented on #15515
If there are 70 workloads under namespace `A`,  we need to show 50 workloads of `A` in page 1 and show the left 20 workloads of `A` in page 2 first then we can show the workloads of `B` in page 2.

But now, it shows 30 workloads of namespace `A` first and 20 workloads of namespace `B` in page 1. And 40 workloads of `A` in page 2 .

[2018-09-11 08:03] QuentinDeSoete opened #15516 "issue on loadbalancer that dosen't find services with name that are only numbers"
**rancher/server:**v1.6.21

**Infrastructure Stack versions:**
healthcheck:v0.3.8
ipsec:v0.13.17
network-services:v0.7.22
scheduler:v0.8.5

**Docker version:**
***Client:***
 Version:      18.03.1-ce
 API version:  1.37
 Go version:   go1.9.5
 Git commit:   9ee9f40
 Built:        Thu Apr 26 07:17:20 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm

***Server:***
 Engine:

[2018-09-11 08:16] loganhz commented on #15481
Related to the change https://github.com/rancher/types/commit/36f2de76ce05e3396ca1d1c7f297ff17f1b0b34f#diff-5d5b04314a33e0c0a419b5723a91cadfR34

[2018-09-11 08:38] loganhz commented on #14020
Updated. I will submit a PR for it. Thanks!

![image](https://user-images.githubusercontent.com/21168270/45348303-e4c1ad80-b5e0-11e8-9e11-8b7ea3b8306a.png)

[2018-09-11 08:59] superseb commented on #15492
It's `kontainer-engine`'s duty to clean stuff up, it deletes EKS and removes the CloudFormation stacks (this includes the workers ASG). There could be a bug there but haven't seen it yet.

Only problem is that when Rancher is shutdown before its cleaned, it obviously won't be cleaned.

[2018-09-11 09:31] superseb commented on #15154
Let me know if you can supply the requested info

[2018-09-11 09:31] #15154 closed

[2018-09-11 09:32] superseb commented on #15144
Can you supply the info requested in the template and the steps to reproduce (Were the nodes added at the same time, or directly after, in what order were they added, what is in the logging of the `rancher/rancher` and `rancher/rancher-agent` containers?)

[2018-09-11 09:35] superseb commented on #15143
Can you share the YAML that triggered the situation? Looks like a machine ran out of memory, then it also upgraded after. Possibly hitting https://github.com/rancher/rancher/issues/15146

[2018-09-11 09:40] guangbochen commented on #14943
thanks for the Q&A, close it now as LB config cloud be a separate thread for the helm init topic, thanks.

[2018-09-11 09:40] #14943 closed

[2018-09-11 09:41] synapticscrd commented on #15484
Hi Team

Is this something we can hotwire in the interim? Eager to launch in EU-West over here

[2018-09-11 10:01] Altoblond commented on #15490
This issue can be closed, after reloading my firewall several times:

firewall-cmd --reload

The ports were actually opened. I have no clue why it did not work the first time.
For information the list of ports I opened on my agents are:
firewall-cmd --zone=public --permanent --add-port=2379/tcp
firewall-cmd --zone=public --permanent --add-port=2380/tcp
firewall-cmd --zone=public --permanent --add-

[2018-09-11 10:01] #15490 closed

[2018-09-11 10:10] aciddude commented on #15484
+1 - running rancher 2.0.8 and really need to spin up EKS clusters in EU-WEST

[2018-09-11 10:16] superseb commented on #15142
Can't reproduce this on master, can you describe the exact steps you are taking to get this? And the HTTP calls from Developer Tools in your browser?

[2018-09-11 11:13] vincent99 commented on #15502
Need to add `r5` and `r5d` too, `{large, xlarge, 2xlarge, 4xlarge, 12xlarge, 24xlarge}`.  They're not generally available but some people have access.  https://www.ec2instances.info

[2018-09-11 11:13] vincent99 commented on #15308
Need to add `r5` and `r5d` too, `{large, xlarge, 2xlarge, 4xlarge, 12xlarge, 24xlarge}`.  They're not generally available but some people have access.  https://www.ec2instances.info

[2018-09-11 11:34] pmc-sstaehle commented on #13864
Unfortunately I'm experiecing this error on a clean install on a custom vServer on v2.0.8.
Cannot confirm the fixing of the error...

**Steps to Reproduce:**
Rancher->Storage->Add Persistent Volume:

Name: rancher-volume
Capacity: 10 GiB
Volume Plugin: Local Node Disk
Path: /opt/rancher-volume
Access Modes: Single Node Read-Write

**Result:**
Validation failed in API: PersistentVolume "mytestvolum

[2018-09-11 11:42] martcastaldo commented on #13688
@massimo-cannavo I take it that you need to install etcdctl onto one of the master nodes to get this to work?

[2018-09-11 11:52] moenka opened #15517 "Feature: Catch ctrl+w in browser shell"
**Rancher versions:**
rancher/server or rancher/rancher: 1.6.21

I'd like to emphasize that as someone who works with the cli most of the time I got used to keyboard shortcuts that speed up my work. One of those shortcuts is **Ctrl+w** which tends to delete the last written word.

When hitting the shortcut in the browser it closes the tab and I loose the connection to the shell. This is unfortunat

[2018-09-11 12:01] abbcdfin commented on #15057
Sorry for having not updated in time, got distracted by something else.

![screenshot_2018-09-11_19-58-20](https://user-images.githubusercontent.com/28372305/45358817-36783100-b5fd-11e8-8355-4a2c1fd2b020.png)

[2018-09-11 12:18] rsilvestre commented on #15484
Agree ! +1
Top priority

[2018-09-11 12:59] abretaud commented on #15142
- There is only 1 account at the moment: mine, which is a github public account as it is the only auth method I activated
- I log in with this admin github account
- Go to Security > Authentication
- I arrive on the Github authentication settings page (as it's the only method)
- In the "Site access" block, "Restrict access to only Authorized Users and Organizations" is selected
- In "Authorized Us

[2018-09-11 13:45] Berndinox commented on #13314
Hy thanks @superseb , seems like its more an generic error. After using more powerfull vms there is no issue anymore..

[2018-09-11 15:08] superseb commented on #13314
@Berndinox Thanks, can you share what specifications the machines had when it wasn't working, thanks.

[2018-09-11 15:11] Berndinox commented on #13314
Digital Ocean 1vCPU 3 GB RAM was not enough, an Upgrade to 2vCPU 4GB did it. BR ---- On Di, 11 Sep 2018 17:08:58 +0200 Sebastiaan van Steenis <notifications@github.com> wrote ---- @Berndinox Thanks, can you share what specifications the machines had when it wasn't working, thanks. — You are receiving this because you were mentioned. Reply to this email directly, view it on GitHub, or mute the thre

[2018-09-11 15:18] bakuppus commented on #13374
longhorn not support multi pods bind  persistent volume , is that true ?

[2018-09-11 15:29] cjellick commented on #15492
Ok, I think we've done due diligence as far as considering this for v2.1. I will additionally alert QA to this potential problem so that they can ensure through out their testing of 2.1 instances are cleaned up. For the time being, I am going to move this out of the release.

[2018-09-11 15:35] massimo-cannavo commented on #13688
@martcastaldo no you should not need to install anything. Inside of the **etcd** container the etcdctl binary should be available.

[2018-09-11 15:56] cjellick commented on #15517
As we are focusing heavily on Rancher 2.0, features like this won't be added to 1.6

[2018-09-11 16:16] cjellick commented on #14845
CLI needs updated to address this, as does the UI

[2018-09-11 16:27] deniseschannon commented on #15502
@loganhz can you make a change in UI for 1.6 snd 2.0 to add all the instance types that are currently available?

[2018-09-11 16:30] vincent99 commented on #15517
This is not possible, and would be heavily abused by popups and advertisers if it were.

There are various keys that the browser does not allow overriding and this is one of them (in some OSes, short of maybe a native extension).

[2018-09-11 16:30] #15517 closed

[2018-09-11 16:40] deniseschannon commented on #15186
Using v2.0.7, I was able to add a multiline ConfigMap using the UI as @vincent99 described.

Talking with @massimo-cannavo, this was broken in v2.0.6 but is now fixed in v2.0.7.

[2018-09-11 16:40] #15186 closed

[2018-09-11 16:44] cjellick commented on #14845
Backend in, needs UI

[2018-09-11 16:51] moelsayed commented on #15491
I have tried this several times. I am unable to reproduce this issue using rc3.

[2018-09-11 17:46] bmdepesa commented on #13065
rancher/rancher:master 9/10

SSL_VERIFY can be disabled for elasticsearch.

Setup ES cluster
Enabled TLS on transport / http layers with self-signed cert
Enable SSL verify = unable to connect
Disable SSL verify = connection successful

[2018-09-11 17:46] #13065 closed

[2018-09-11 17:49] bmdepesa commented on #13760
rancher/rancher:master 9/10

Connection over HTTPS to elasticsearch is successful.

* Setup ES cluster
* Enabled TLS on transport / http layers with self-signed cert
* Enable ES logging w/ https endpoint & x-pack security
* Connection is successful & logs are sent successfully

[2018-09-11 17:49] #13760 closed

[2018-09-11 18:02] nxf5025 opened #15518 "Feature Request - EKS - Allow for usage of sessionToken"
Rancher versions:
2.0.8

Details
EKS doesn't have the option to pass a sessionToken (amazonElasticContainerServiceConfig). This should be implemented the same way it's implemented for the amazonec2configs.

[2018-09-11 18:03] yasker commented on #13374
@bakuppus Longhorn is a distributed block storage solution like EBS and Google Persistent Disk, it can only be mounted on one node at a time. So it's a Read-Write-Once type storage for Kubernetes, which cannot be mounted on multiple nodes at the same time (read-only is possible, we can work on that later).

In order to scale it with the workload, you would need to use StatefulSet with VolumeClaimT

[2018-09-11 18:07] yasker opened #15519 "Add support for VolumeClaimTemplate"
Need to add VolumeClaimTemplate support, otherwise, RWO type storage like Longhorn and EBS has no way to scale with the workload. The only way to scale them is to use VolumeClaimTemplate with StatefulSet.

https://github.com/rancher/rancher/issues/13374#issuecomment-390055140

[2018-09-11 18:08] yasker commented on #13374
Filed https://github.com/rancher/rancher/issues/15519. Close this one.

[2018-09-11 18:08] #13374 closed

[2018-09-11 18:27] soumyalj opened #15521 "In a project with resource quota , the used limit does not get updated when namespaces are deleted"
**Rancher versions:**
rancher/server or rancher/rancher: Master

**Steps to Reproduce:**
1. Create a Project with resource quota and default namespace resource quota in UI
Project Resource quota:
{CPU limit = 4000m
Pods = 10
}
Default Namespace resource quota
{ CPU limit = 500m
 Pods = 2
}

2. Create 5 namespaces successfully and creating the 6th namespace fails as pod limit of 10 is reached
3. De

[2018-09-11 18:33] soumyalj opened #15522 "Display used resource quota for namespaces in a project with associated resource quota"
For a project with resource quota, we need to display the resource quota usage for the namespaces in a user friendly manner.
Currently the only way to find the resource quota used for a namespace is by using the API.

[2018-09-11 18:35] tfiduccia commented on #15494
@loganhz @westlywright @sangeethah - On the main node page you can just click on the + or - to add specific types of nodes.  So we agreed that we would continue to the check on edit/create and force the user to fix it there.  So the behavior was correct.  I think we need to discuss this more before we just remove the check from edit.

[2018-09-11 18:38] westlywright commented on #15494
I'll roll this back and we can discuss the proper course of action.

[2018-09-11 18:52] tfiduccia commented on #15493
Version - 2.1 master 9/11
Verified fixed

[2018-09-11 18:52] #15493 closed

[2018-09-11 19:01] mayconfsbrito commented on #13888
It's possible to install docker 17.03 in Ubuntu 18.04 (Bionic) by binary package. I've created an ansible role to do this, you can access by this link:

https://galaxy.ansible.com/mayconfsbrito/ansible_docker_bin

Anyway, I will post here the task of this role to guide you in this process, because I needed to configure some steps (like storage driver, docker group) that aren't explicit in the docu

[2018-09-11 19:06] soumyalj opened #15523 "Creating a namespace through API does not get the default resource quota assigned in the project"
**Rancher versions:**
rancher/server or rancher/rancher:

**Steps to Reproduce:**
1. Create a project P1 with resource quota and namespacedefaultresourcequota set through API
2. Create a namespace in P1 through API without any resource quota assigned

The namespace gets created without any resourcequota assigned.
Namespace should inherit the namespacedefaultresource quota that was assigned while c

[2018-09-11 19:08] #14848 closed

[2018-09-11 19:20] bigredthelogger commented on #12582
I noticed the same result.

[2018-09-11 19:34] kinarashah commented on #15500
ui also wanted to remove `kubernetesVersion` and `ignoreDockerVersion` since they're already present under settings, can be validated as part of this issue.

couldn't find `ignoreDockerVersion` under settings, so keeping it for now - `kubernetesVersion` shouldn't be present under default value of cluster-defaults.

[2018-09-11 19:48] jrosengren commented on #14328
I recently spun up a new instance of Rancher 2.0.8 behind a Traefik reverse proxy and I'm seeing the same behavior when I try to "kubectl exec" into a running container:

Error from server (BadRequest): Upgrade request required

I move a few different applications over to this new cluster in the last couple of days and everything else seems to work, it's just the kubectl exec that's throwing this

[2018-09-11 20:03] tfiduccia commented on #15515
Version - 2.1 master 9/11
Verified fixed
@loganhz - thanks for fixing this.  It has actually been bugging me and I like the fix.

[2018-09-11 20:04] #15515 closed

[2018-09-11 20:15] cprivite commented on #13888
You still have the issue of Docker itself not publishing or supporting putting 17.03 onto Ubuntu 18.04 which is a non-starter for many companies (mine included).
I know I can *make* 17.03 run on Ubuntu 18.04, but I want the officially supported, "thousands of people will be using the same config you are" version before I go live on it. And Rancher is being developed to be a stable enterprise solut

[2018-09-11 20:17] tfiduccia commented on #14020
Version - 2.1 master 9/11
Verified fixed

[2018-09-11 20:17] #14020 closed

[2018-09-11 20:18] sangeethah commented on #14207
Tested with 2.0.8 build.

Imported an existing rke cluster.
Create few projects with namespaces and deployed workloads in them.
Gave project member / cluster member access to few users.

Upgraded to latest master build.
Deleted the imported cluster from rancher.

1.cattle-system namespace was deleted.
2. For other namespaces that were created from rancher UI - There are no finalizers, annotations

[2018-09-11 20:35] alena1108 commented on #13129
Moving the issue out as @carolynhu couldn't reproduce it, and the error is intermittent and recoverable from. Will debug on the issue more in the next release.

[2018-09-11 20:36] sangeethah commented on #13512
Tested with latest build from master.
We are able to import a previously imported cluster back successfully.
Default namespace gets back to "Default" project and all namespaces under "System" project get back to "System" project.

Details of testing done can be found in - https://github.com/rancher/rancher/issues/14848 and https://github.com/rancher/rancher/issues/14207

[2018-09-11 20:36] #13512 closed

[2018-09-11 20:39] mayconfsbrito commented on #13888
I don't think that installing docker via binary package is workaround. It's just one more solution.

The problem is neither of the docker repository, but the k8s that won't update until now.

[2018-09-11 20:59] Toxicable commented on #15144
Im having the same issue, slightly different environment though.
1 system (bare metal)
server - `sudo docker run -d --restart=unless-stopped -p 80:80 -p 443:443 --name=rancher rancher/rancher`
agent - `sudo docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/kubernetes --name=rancher-worker -v /var/run:/var/run rancher/rancher-agent:v2.0.8 --server https://server

[2018-09-11 21:03] dramich commented on #14207
The additional annotation has been added to master.

[2018-09-11 21:03] superseb commented on #15144
A cluster needs at least one etcd and one controlplane node before workers gets provisioned. We have an issue on better guidance for that.

[2018-09-11 21:14] Toxicable commented on #15144
@superseb Ah righto, I will look into those thanks

[2018-09-11 21:26] Toxicable commented on #15144
Ah, yeah I just looked over the guide again and I missed the part:

https://rancher.com/docs/rancher/v2.x/en/quick-start-guide/deployment/quickstart-manual-setup/

After adding those extra roles in it worked straight away

[2018-09-11 21:28] sangeethah commented on #12332
@alena1108  I still see these errors show up in the logs when I provisioned DO cluster.

[code]

[2018-09-11 21:45] nathan-jenan-rancher commented on #15419
In order to fix this issue we will need to do the following:
1) vendor the worker nodes template into kontainer engine
2) add an additional field to kontainer-engine to allow a true/false boolean to be passed in for the `associate public IP address` field (default to true)
3) modify the vendored template to allow the `associate public IP address` field to be passed in (currently it is hardcoded to

[2018-09-11 21:59] alena1108 commented on #14650
@carolynhu to validate

[2018-09-11 21:59] alena1108 commented on #15073
@carolynhu to validate

[2018-09-11 21:59] alena1108 commented on #15471
@carolynhu to validate

[2018-09-11 21:59] alena1108 commented on #12498
@carolynhu to validate

[2018-09-11 22:00] sangeethah opened #15529 "Not able to cordon/drain nodes - "500 Internal Server Error""
**Rancher versions: Build from master
**Steps to Reproduce:**

DO node with 3 worker nodes , 1 control and 1 etcd nodes.
Deploy few workloads.

Cordon/drain one of the worker nodes.

Fails with following error:
[code]

[2018-09-11 22:11] cjellick commented on #15390
Let's resync soon on backwards compatibility @nathan-jenan-rancher. Its possible we misunderstood each other. But either way, your analysis still stands.

[2018-09-11 22:26] StrongMonkey commented on #15486
we can have a setting for default catalog. Moving it into next release.

[2018-09-11 22:31] sangeethah commented on #15298
Tested with latest build from master:
"Draining" state is reflected correctly when the host is in "Draining" state and we see the count of pods on the nodes getting decreased as expected. Pod count reflects the correct value as well when the node gets to "Drained" state.

[2018-09-11 22:31] #15298 closed

[2018-09-11 22:52] sangeethah commented on #13259
Tested with latest build from master.

Had custom clusters with AWS nodes in "active" state.
Deleted all the AWS nodes (from AWS console).
After some time , deleted the clusters from rancher server
Cluster got removed successfully.
Not able to reproduce the issue were the cluster is stuck in "removing" state.

[2018-09-11 22:52] #13259 closed

[2018-09-11 22:54] deniseschannon commented on #3323
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-11 22:54] #3323 closed

[2018-09-11 22:54] deniseschannon commented on #4875
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-11 22:54] #4875 closed

[2018-09-11 22:56] deniseschannon commented on #5821
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-11 22:56] #5821 closed

[2018-09-11 22:58] deniseschannon commented on #7602
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-11 22:58] #7602 closed

[2018-09-11 22:58] deniseschannon commented on #7693
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-11 22:58] #7693 closed

[2018-09-11 23:09] massimo-cannavo opened #15530 "SAML ADFS Accepts Invalid Attributes on Form Validation"
**Rancher versions:**
rancher/rancher: **v2.0.8**

**Steps to Reproduce:**

Follow the steps to configure ADFS from the documentation

https://rancher.com/docs/rancher/v2.x/en/admin-settings/authentication/microsoft-adfs/

Add the following attributes on the ADFS Authentication form

[code]

Enter login and password in the SAML redirection page.

**Results:**

User is able to login and **ADFS Auth

[2018-09-11 23:25] maxkorp opened #15531 "EKS recommended AMIs need to be updated"
Per here: https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html

![screen shot 2018-09-11 at 4 27 06 pm](https://user-images.githubusercontent.com/1302526/45393179-91029480-b5df-11e8-8bed-2eb4f9fb518c.png)

There are newer recommended AMIs for us-west-2 and us-east-1

[2018-09-11 23:27] sangeethah commented on #13508
Tested with latest build from master.

Not able to reproduce the error seen in this issue when provisioning EC2 - AWS cloud provide set.

[2018-09-11 23:27] #13508 closed

[2018-09-11 23:30] massimo-cannavo commented on #15530
Also there was a weird issue where the customer would get locked out from rancher when enabling ADFS auth with NameField as the value for all the form attributes except for Groups Field.

[ERROR] API error response 500 for POST /v3-public/localProviders/local?action=login. Cause: can't find unique user for principal

[2018-09-11 23:30] vincent99 commented on #15530
Logging in is all the OAuth flow and does not involve those fields.  Except for maybe we should be refusing to create a user entry if there's no result for UID. The rest of the fields are for principal lookup info and I don't know how you'd distinguish "wrong" from "this user entry happens to not have that field".

[2018-09-11 23:37] vincent99 commented on #15530
If you set the fields wrong so that the one that uniquely identifies users isn't unique, then you're going to have a bad time.

[2018-09-12 00:10] cjellick commented on #15102
When this is validated, make sure you attempt to repro in v2.0.7 before you attempt to repro in a 2.1 RC. If we can't repro with the version originally reported, then we may need more info

[2018-09-12 00:14] carolynhu commented on #15471
Checked with the latest drone build, this failure is not happening.

[2018-09-12 00:14] #15471 closed

[2018-09-12 00:24] carolynhu opened #15534 "Add Custom User and Group Search Filter Fields in Customize Schema Section"
We need add UI support for this issue:https://github.com/rancher/rancher/issues/13656
When we enable AD, in the customized schema section
<img width="1269" alt="screen shot 2018-09-11 at 5 22 22 pm" src="https://user-images.githubusercontent.com/29208297/45394801-6e747980-b5e7-11e8-8f16-91b7d43f1f02.png">
two extra fields need to be added, one is for user: `UserSearchFilter` and another one is for

[2018-09-12 00:37] cjellick commented on #15456
@StrongMonkey to validate

[2018-09-12 00:37] cjellick commented on #15379
@dramich to validate

[2018-09-12 00:38] cjellick commented on #15344
@maxkorp to validate

[2018-09-12 00:38] cjellick commented on #15341
@mrajashree to validate

[2018-09-12 00:38] cjellick commented on #15230
@dramich to validate

[2018-09-12 00:38] cjellick commented on #15162
@mrajashree to validate

[2018-09-12 00:38] cjellick commented on #15102
@StrongMonkey to validate

[2018-09-12 00:39] cjellick commented on #15064
@mrajashree to validate

[2018-09-12 00:39] cjellick commented on #14934
@mrajashree to validate

[2018-09-12 00:39] cjellick commented on #14734
@maxkorp to validate

[2018-09-12 00:39] cjellick commented on #14718
@dramich to validate

[2018-09-12 00:39] cjellick commented on #13881
@nathan-jenan-rancher to validate

[2018-09-12 00:39] cjellick commented on #13660
@nathan-jenan-rancher to validate

[2018-09-12 00:40] cjellick commented on #13333
@maxkorp to validate

[2018-09-12 00:40] cjellick commented on #12176
@mrajashree to validate

[2018-09-12 00:54] aequasi commented on #1269
Multiple requests for being able to automatically inject these secrets into the environment...

Did that request see any progress?

[2018-09-12 01:08] cjellick commented on #15207
Just fixing tests. Moving out of release

[2018-09-12 01:14] cjellick commented on #13434
We worked on making this configurable but ran into a number of problems making it backwards compatible. If see more requests for this, we'll revisit and possibly try a different solution, but we're going to move it out of the 2.1 release.
One possible future "compromise" solution that avoids the backwards compatibility issue may be to have a mechanism for "resolving" changes to a DN (ie updating t

[2018-09-12 01:17] cjellick commented on #14551
I'm going to attach this to the other issues related to the helm refactor and move it along with them

[2018-09-12 01:18] cjellick commented on #14551
@StrongMonkey can you just review this issue and decide if you think it could/should be fixed by your refactor?

[2018-09-12 01:34] cjellick commented on #15394
@rawmind0 can you provide any insight (or a fix) into this? I believe you had a hand in developing this

[2018-09-12 01:46] cjellick commented on #14085
Since this issue was reported, we refactored much of our network policy management feature and those changes partially mitigate or address this issue.
In short, we've locked down Rancher's network policy management such that it can only be turned on when the cluster is created from Rancher(not imported), the proper network provider (Flannel) is chosen, and the user opts-in to using it.
So, it is n

[2018-09-12 01:51] loganhz commented on #15494
FYI Comment from @vincent99

https://github.com/rancher/rancher/issues/11985#issuecomment-370680697

[2018-09-12 01:51] JasonvanBrackel commented on #15313
@sangeethah That is true, but makes 0 sense.

There's a logic / common sense problem here.  The user has Global scoped Login Access, but is not considered an Authorized User.   I understand that Site Access is separate from RBAC, but one should either trigger the other, or at least notify the administrator that Login Access RBAC isn't sufficient Authorization to actually give the user Login Access

[2018-09-12 01:51] cjellick commented on #13644
@leodotcloud is this a flannel bug or something rancher is doing wrong?

[2018-09-12 01:59] loganhz commented on #15522
@vincent99 @westlywright

As there is no project/namespace detail page, we can only view the resource quota for a project/namespace in edit project/namespace page now.

Where should we display the resource quota of namespace and project?

[2018-09-12 02:06] gitlawr commented on #15473
@kapolos Thanks for the report! I'm trying to reproduce it and would like to know:
1. what kind of cluster are you using
2. How long has it been since you setup pipeline in the cluster
3. Is there any relavent logs from the Jenkins pod in cattle-pipeline namespace.

[2018-09-12 02:13] loganhz commented on #15522
How about adding a `View` action in action menu for project and namespace?

[2018-09-12 02:43] sangeethah commented on #15313
@JasonvanBrackel Thanks. This issue you are bringing up here is also tracked in https://github.com/rancher/rancher/issues/15113.

[2018-09-12 02:53] webts opened #15537 "Kube-apiservice unavailable over private network"
**Rancher versions:**
rancher/rancher:v2.08
rancher/rancher-agent:v2.08

**Infrastructure Stack versions:**
network-services: flannel, canal

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Rancher OS | 4.14.32-rancher2

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-meta

**S

[2018-09-12 02:59] sangeethah opened #15538 "etcd nodes stuck in "Registering" state forever."
**Rancher versions:** Build from master
**Steps to Reproduce:**

Created a custom cluster with following node configurations:
2 control nodes
3 etcd nodes
3 worker nodes

Cluster gets to "Active" state. But 2 etcd nodes are stuck in "resgistering" state forever.

There are no RKE errors seen and rancher-server is also not calling RKE up anymore.
The only error seen for these clusters are relating

[2018-09-12 03:02] sangeethah commented on #14442
Tested with latest build from master.

Not able to reproduce the cluster failure with "Failed to Get Kubernetes certificates: secrets "kube-ca" not found error.

[2018-09-12 03:02] #14442 closed

[2018-09-12 03:41] PicoCreator commented on #14030
Coming in from a fresh perspective : it wasn't clear to me what `[USER_ACCOUNT]` means. It would help if a few examples were provided. It also doesn't help that if I were to get it wrong there would be no error. Until the second command step. Which once executed cannot be undone without destroying the cluster (or the definitions done)

Possible confusing interprations

+ rancher user?
+ gcp servic

[2018-09-12 03:50] loganhz commented on #15057
@abbcdfin the node name contains uppercase which is invalid.

![image](https://user-images.githubusercontent.com/21168270/45401147-daa3bb80-b681-11e8-9f38-7d126f80f0dc.png)

[2018-09-12 04:03] bradjones1 commented on #14085
@cjellick Thanks for the update, though this is actually quite a bummer for those of us who have been using this in production, e.g., with GKE, albeit with a workaround as noted above. As I am not a paying customer of Rancher's, I have no right to demand any particular schedule for this. However, I may have a client that would be interested in this feature in imported clusters, I will reach out to

[2018-09-12 04:31] loganhz commented on #13864
@pmc-sstaehle  Please try the following steps. It works for me.

1. Edit the node to add a label such as node=my-node.

![image](https://user-images.githubusercontent.com/21168270/45402330-b77c0a80-b687-11e8-8ce1-15d08820e0c6.png)

2. Create a local node disk pv and add node affinity in `Customize` section.

![image](https://user-images.githubusercontent.com/21168270/45402297-8a2f5c80-b687-11e8-9d

[2018-09-12 05:11] dusterio commented on #14744
@guangbochen can we have an example of the configmap please?

[2018-09-12 06:03] alena1108 commented on #15503
@soumyalj if user passes custom resource quota, we are going to error out on missing fields, not inherit from the project default. Default quota is meant to be set only when quota field is completely missing on the namespace.

[2018-09-12 07:52] superseb commented on #15531
I don't think this can be changed, it needs eks.v2:

Important

These AMIs require the latest AWS CloudFormation worker node template. You cannot use these AMIs with a previous version of the worker node template; they will fail to join your cluster. Be sure to upgrade any existing AWS CloudFormation worker stacks with the latest template (URL shown below) before you attempt to use these AMIs.

ht

[2018-09-12 08:34] LinAnt commented on #15065
This is probably the reason behind all of this: https://github.com/kubernetes/kubernetes/issues/67900

[2018-09-12 08:58] Nosmoht commented on #5229
Hello,

we are using 1.6.14 and still have that problem. Is there any chance to get it fixed ?

[2018-09-12 09:00] janeczku commented on #14554
The latest release of the 9.2 branch is 9.2.26.v20180806 and includes security patches for all  published CVEs.
https://www.cvedetails.com/vulnerability-list/vendor_id-10410/product_id-34824/Eclipse-Jetty.html
https://www.eclipse.org/jetty/documentation/9.4.x/security-reports.html

[2018-09-12 09:02] stieler-it opened #15540 "Not all claimed volumes (PVCs) are shown in catalog details"
**Rancher versions:**
rancher/server or rancher/rancher: 2.0.7

**Infrastructure Stack versions:**
kubernetes (if applicable): v1.11.1

**Docker version: (`docker version`,`docker info` preferred)** 17.3.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** RancherOS v1.4.0

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** OpenStack

**Setup details: (sing

[2018-09-12 09:04] superseb commented on #12548
Re-opening to validate the fix in https://github.com/rancher/rancher/pull/15257

[2018-09-12 09:26] superseb commented on #15393
Ok, this needs better guidance in the UI.

* When creating a Notifier, say that the configurable part is the default and that it can be overridden when selecting this Notifier when creating an Alert. (It only says Default for Slack and E-mail, but it needs a line saying the above for every Notifier)
* When selecting a Notifier, tell the user it is using the configured default and can be overridden

[2018-09-12 10:17] aiwantaozi commented on #15393
The asterisks not a bug, the project level user could use the notifier that the cluster admin config, but they don't have the authority to access the key. The overwrite also use for this, project user could not access the cluster level notifier, but they could use the default one or config their's

@n313893254 Could you help improve the UI side as superseb comment above?

[2018-09-12 10:39] LinAnt opened #15541 "vSphere cloud provider is not set up correctly if you add the config after the cluster is created."
**Rancher versions:**
rancher/server or rancher/rancher: v2.0.8

**Infrastructure Stack versions:**
kubernetes (if applicable): 1.11.x, it might impact previous kubernetes versions as well.

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
rancher-os 1.4-vmware
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
vSphere
**Setup details: (single node rancher

[2018-09-12 10:55] pmc-sstaehle commented on #13864
Thank you @loganhz,
it's working for me now!

[2018-09-12 11:04] Ilya-Kuchaev commented on #8193
Why can't you use something like https://github.com/golang/oauth2 ?

[2018-09-12 11:05] tboemker-bkfs commented on #15472
The issue seems to be that /etc/kubernetes/ssl isn't included in the backup.

[2018-09-12 11:57] kys1230 opened #15542 "How to customize parsing address by rancher-dns"
*Describe your issue here*

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.20` Cattle: `v0.183.60` UI: `v1.6.45` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`stack.index`|

There is a container network_mode: host, and I want to customize the parsing address of rancher-dns for this container. Is that possible?

[2018-09-12 12:29] kapolos commented on #15473
Hi @gitlawr , thank you very much for taking a look!

1. I am not sure exactly what information is helpful, so I'm pasting the cluster's yaml file. If that's not covering it, please let me know and I'll be more than happy to check anything else! The k8s is a single server on bare-metal (no cloud provider).

[code]

2. I enabled the pipelines feature like 10 days before the report to see how the in

[2018-09-12 14:04] tboemker-bkfs commented on #15144
I created all of the nodes immediately after creating the cluster, using these commands in this order:

DOCKER_HOST=app1:2376 DOCKER_TLS_VERIFY=1 docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/kubernetes -v /var/run:/var/run rancher/rancher-agent:v2.0.8 --server https://util1 --token 2qt877cbjhc9swr2fh8p6ql6sv25kz6cgg8l6kd5wv7fdq68mttt94 --ca-checksum c75353

[2018-09-12 14:28] rawmind0 commented on #15394
It's strange that appears negative values on that. Telemetry is just getting values from rancher v3 API, `allocatable` and `requested` values from Clusters and Nodes.

@cjellick submited PR to telemetry to fix issue, just allowing positive values.
https://github.com/rancher/telemetry/pull/15

[2018-09-12 16:34] westlywright commented on #15494
@tfiduccia @vincent99 I could see how this may be confusing. One possible solution, rather than prevent the user from using an even amount of nodes for the etcd we simply display a warning about wasted resources?

[2018-09-12 16:48] dramich commented on #14718
Following @superseb's instructions above, prior to the fix only one domain shows under the `Domain Names` section in the UI.

After the fix all domains show in the UI and in the `subjectAlternativeNames` in the API.

[2018-09-12 16:48] #14718 closed

[2018-09-12 17:09] kinarashah commented on #12497
@alena1108 @sangeethah It looks like that it's not us who call this sync for serviceaccounts. It is coming from Kubernetes, where on every serviceaccount sync, it ensures that the token exists for it, and if it doesn't (in this case, it might have been deleted on namespace delete) - it tries to create a new secret. And this fails because no new content is allowed to be created when namespace is in

[2018-09-12 17:17] kinarashah commented on #12266
(Similar to cluster delete issue)
@alena1108 @sangeethah It looks like that it's not us who call this sync for serviceaccounts. It is coming from Kubernetes, where on every serviceaccount sync, it ensures that the token exists for it, and if it doesn't (in this case, it might have been deleted on namespace delete) - it tries to create a new secret. And this fails because no new content is allowed

[2018-09-12 17:19] alena1108 commented on #12497
Moving out as the issue is intermittent and recoverable from. Need more debugging and the fix most likely will be in the framework as the error is thrown by k8s, and we just bubble it up.

[2018-09-12 17:19] alena1108 commented on #12266
Moving out as the issue is intermittent and recoverable from. Need more debugging and the fix most likely will be in the framework as the error is thrown by k8s, and we just bubble it up.

[2018-09-12 17:26] sangeethah opened #15543 ""Nginx Ingress" and "Metrics Server Monitoring" disabled for RKE clusters."
**Rancher versions:** Latest build from master

**Steps to Reproduce:**
Create a custom cluster .
In cluster option I see "Nginx Ingress" and "Metrics Server Monitoring" being disabled even though I see the default value being correctly set in cluster schema .

Also When u i try to enable "Nginx Ingress" , it disables "Metrics Server Monitoring" automatically in UI

<img width="1280" alt="screen s

[2018-09-12 17:43] cjellick opened #15544 "Disallow turning on multiple auth providers"
Need to discuss with @westlywright if he can do this without backend changes

[2018-09-12 17:48] cjellick commented on #14845
Assigned @dramich because he put in the CLI fix

[2018-09-12 18:08] kinarashah commented on #15430
Also need to now show drain when the node is in drained state already.

[2018-09-12 18:20] maxkorp opened #15546 "Add eu-west-1 option for EKS cluster location"
UI component of https://github.com/rancher/rancher/issues/15484

[2018-09-12 18:20] cjellick commented on #15366
closing in favor of https://github.com/rancher/rancher/issues/15465

[2018-09-12 18:20] #15366 closed

[2018-09-12 18:22] cjellick opened #15547 "Namespace move action must support resource quota"
Details to come from @alena1108

gz#12853

[2018-09-12 18:22] sangeethah opened #15548 "UI - Enable -" Even if there are DaemonSet-managed pods." by default when drain option is performed."
**Rancher versions: Latest build from master

**Steps to Reproduce:**
Attempt to drain a node.

In the options presented to the user , Enable -" Even if there are DaemonSet-managed pods." by default.

<img width="982" alt="screen shot 2018-09-12 at 11 21 14 am" src="https://user-images.githubusercontent.com/4266958/45445033-04f37a00-b67e-11e8-8ccd-50813e6d2d15.png">

Without this option enabled, d

[2018-09-12 18:40] alena1108 opened #15549 "Add resource quota to a namespace Move action"
As the logic for moving the namespace from project to project now done in Move action, we have to add resource quota components to move dialog, similar to how we do for update. So in case target project has quota defined, the user would have to enter it on the Move.

https://github.com/rancher/rancher/issues/15547

[2018-09-12 18:52] cjellick commented on #13644
The impact/scope of this issue appears to be limited and infrequent. @orangedeng please investigate this with explicit testing for flannel and canal. See if it is broke specifically for one or the other (or if it is even reproducible anymore).
Since QA will be doing network testing as part of the 2.1, we are going to move this specific issue out of the release and allow @orangedeng to research as

[2018-09-12 18:52] sangeethah opened #15550 "Drain: Do not retry on timeout exceeded failure."
**Rancher versions:** Latest build from master

**Steps to Reproduce:**

Scenario 1:
Drain a node without enabling option - " Even if there are DaemonSet-managed pods."

We see the drain action being attempted multiple times.

<img width="1266" alt="screen shot 2018-09-12 at 11 38 44 am" src="https://user-images.githubusercontent.com/4266958/45445918-7a604a00-b680-11e8-9c54-39f682cf183d.png">

[co

[2018-09-12 18:54] cjellick commented on #13305
Based on @nathan-jenan-rancher's assessment that this only occurs in one specific scenario and knowing other flakiness issues we've hit in AKS, moving out of the release.

[2018-09-12 18:55] sangeethah commented on #15529
Tested with latest build from master.
Able to drain/cordon on DO nodes successfully.

[2018-09-12 18:55] #15529 closed

[2018-09-12 18:59] cjellick commented on #15548
Can we also add a note that explains it is selected by default because without this option enabled, drain will never succeed since we have Ingress daemon set running on them.

Wordsmithing needed!

[2018-09-12 19:07] cjellick commented on #15498
Moving out because logging the error in the logs is sufficent for now

[2018-09-12 19:09] cjellick commented on #15461
We should look into better API validation to mitigate deleting the final etcd node. Workaround will be to delete the cluster and create a new one.

[2018-09-12 19:14] cjellick commented on #15457
Since this involves going down to zero etcd nodes, which seems like a rare corner case, moving out of release

[2018-09-12 19:17] kinarashah commented on #15548
also just to notify, even when it's set to true, kubectl won't actually delete these pods anyway.
we just need this to be true so kubectl starts the drain.

[2018-09-12 19:18] alena1108 commented on #15454
@vincent99 those are going to be documented and emphasize separately. We can also add it as a side note to the tool, something like `If your application uses rancher metadata, or relies on fqdn resolution format, it can be impacted. Please refer to <doc link> for more info`

[2018-09-12 19:18] cjellick commented on #15313
Closing in favor #15113

[2018-09-12 19:18] #15313 closed

[2018-09-12 19:27] mrajashree commented on #15341
Steps to reproduce in v2.0.8
1. Create DO cluster in rancher v2.0.8
2. Click 'View in API' for cluster
SSH key is seen as per this image
<img width="623" alt="screen shot 2018-09-12 at 12 12 31 pm" src="https://user-images.githubusercontent.com/10672776/45448386-11300500-b687-11e8-86ec-90ccd076bd91.png">

Steps in master
1. Create DO cluster
2. Click 'View in API'
SSH key isn't seen anymore
<img w

[2018-09-12 19:27] #15341 closed

[2018-09-12 19:28] sangeethah commented on #15509
When I pass all the parameters that I have overridden in cluster-default settings explicitly as {} in rancherKubernetesEngineConfig then I see the cluster-default settings take effect as expected

[code]

[2018-09-12 19:29] #15509 closed

[2018-09-12 19:41] nxf5025 opened #15552 "EKS - Container stuck on "ContainerCreating""
**Rancher versions:**
v2.0.8

**Steps to Reproduce:**
1. Launch EKS cluster
2. Deploy Workload

**Results:**
1. Stuck in "ContainerCreating" state

[code]
[code]

**Error from above:** Failed create pod sandbox: rpc error: code = Unknown desc = NetworkPlugin cni failed to set up pod "httpd-6555bfd555-sxs5t_default" network: add cmd: failed to assign an IP address to container

[2018-09-12 19:45] mrajashree commented on #14934
Steps to repro:
1. Start rancher/rancher:v2.0.8
2. Launch grafana app
3. Clicked **View/Edit YAML** for the ingress and added the example snippet
[code]
4. Clicked on **Save**,  and then clicked on view YAML again, the secretName was not retained
<img width="261" alt="screen shot 2018-09-12 at 12 38 59 pm" src="https://user-images.githubusercontent.com/10672776/45449172-4a697480-b689-11e8-9790-e50

[2018-09-12 19:45] #14934 closed

[2018-09-12 19:49] vincent99 commented on #15494
I think a warning on edit is fine, and it should still let you save with any number if you want to.

[2018-09-12 20:26] rslnx opened #15553 "[rancher-dns] sysctl net.core.somaxconn"
**Rancher versions:**
rancher/server or rancher/rancher: v1.6.18
rancher/agent or rancher/rancher-agent: v1.2.10

**Infrastructure Stack versions:**
healthcheck: v0.3.3
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
[code]
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
[c

[2018-09-12 20:33] rslnx commented on #15553
@deniseschannon @alena1108 Is there any way to test change of docker-compose.yml.tpl file? I tried changing the yml.tpl file in a volume of rancher/server container and redeploying dns service but with no luck – new dns container was created with the same old yml definition (i.e. w/o sysctl setting).

[2018-09-12 20:59] tfiduccia commented on #14642
I have tested that Apps still deploy & I can add custom catalog and deploy app from there.

[2018-09-12 21:03] bigredthelogger commented on #11674
Has this been corrected as of yet?

[2018-09-12 21:07] sangeethah opened #15554 "Need a way to pass credentials for system-default-registry"
**Rancher versions:** Build from master

**Steps to Reproduce:**

There is no way to pass credentials for system-default-registry from rancher-server for creating RKE clusters.

[2018-09-12 21:33] galal-hussein commented on #15422
I was able to reproduce the issue in **rke** using the following steps:

1- run `rke up` on 1 node with all roles
2- ssh to this node and stop kubeapi contianer `docker stop kube-apiserver`
3- add 2 more nodes to the cluster.yml and run `rke up` again

rke will be able to connect to all three nodes, but will not be able to fetch the **state** from k8s since kubeapi is down, so it will skip reconci

[2018-09-12 21:34] superseb commented on #14964
Ran the case mentioned in https://github.com/rancher/charts/issues/22.

1. Install EFK catalog app
1. Add `fluent-bit.metrics.enabled: 'true'` to the YAML

In v2.0.8: no additional service for metrics is deployed
In master: additional service for metrics is deployed

[2018-09-12 21:34] #14964 closed

[2018-09-12 21:41] superseb commented on #15552
In this issue there a few ways to determine what is the root cause: https://github.com/aws/amazon-vpc-cni-k8s/issues/59

[2018-09-12 21:43] dramich commented on #15230
Steps to repro:
Run rancher server v2.0.7
Add a local and AKS cluster
Create a new user user1
Create workloads in both clusters
Add user1 as a member to both projects
Login as user1
user1 can see workloads in local cluster but not the AKS cluster

Validated on master 9/12/18
user1 is able to see and deploy workloads in AKS cluster

[2018-09-12 21:43] #15230 closed

[2018-09-12 21:51] alena1108 commented on #15422
@galal-hussein Clarification - all 3 nodes here are etcd nodes.
Looks like bringing up the first node with etcd/master node component first, before adding the other 2 etcd nodes, will fix the situation.

[2018-09-12 21:58] cloudnautique commented on #8700
This was tied to v1.6 and the way TLS was handled. Since v1.6 is not gaining any additional feature enhancements at this time. I'm going to close this issue.

[2018-09-12 21:58] #8700 closed

[2018-09-12 22:01] tfiduccia commented on #11674
@bigredthelogger - no this has not been resolved.  Each VM creates it's own NSG.

[2018-09-12 22:03] bigredthelogger commented on #11674
Thanks. I hope that this is something that is implemented, as I would require this in order to use Rancher.

[2018-09-12 22:03] cloudnautique opened #15555 "Add option at Cluster level logging config to include RKE K8s system components or not"
When configuring cluster level logging, we need to provide an option to exclude the RKE system components from the main log stream.

An admin that configures the system project logging, can then route the RKE system components to a log target of their choosing.

[2018-09-12 22:06] alena1108 commented on #15554
@westlywright the api support is already in - the parameter is called privateRegistries on the config - so we have to add support in the UI for that.

[2018-09-12 22:06] mitchellmaler commented on #11674
@bigredthelogger This issue is actually with Docker Machine. Currently the code defaults to creating a nsg for each vm and you can't provide an existing one to attach too. I actually created a PR (as a start) to add a flag and env var to set the provisioned vms nsg to a named one instead of letting it create on automatically. docker/machine#4486

[2018-09-12 22:13] cloudnautique opened #15558 "Logging drivers advanced mode"
Similar to the way we support advanced options in other areas of the UI, we need to support the ability for the user to specify Target output parameters that do not have UI options. Essentially, in an advanced mode, they can edit:

[code]

This will allow users to specify TLS ciphers etc.

It should limit the user to only providing config for the types we support, so the user doesn't accidentally

[2018-09-12 22:13] bmdepesa commented on #14730
rancher/rancher:master 9/12

Groups can be added to restricted access modes and function properly.

[2018-09-12 22:27] tfiduccia opened #15559 "Ingress & Metrics can't be enabled by default"
**Rancher versions:** 2.1 master 9/12

**Results:**  Can't enable the Ingress or Metrics Cluster Options by default.
![image](https://user-images.githubusercontent.com/11514927/45456611-51e84800-b6a0-11e8-866f-2c64e6d927ea.png)

[2018-09-12 22:29] tfiduccia commented on #15543
Version - 2.1 master 9/12
Network provider default & Project Network Isolation has been resolved.  Wes asked me to move the Ingress & Metrics default issue out to another bug. #15559

[2018-09-12 22:29] #15543 closed

[2018-09-12 22:30] bigredthelogger commented on #11674
@mitchellmaler thanks for this. I hope that they accept your PR as this would be a great feature.

[2018-09-12 22:33] tfiduccia commented on #15496
Version - 2.1 master 9/12
Warning message should be moved above Cluster Name or to the bottom right above the Next:/Create button.  It being in the middle is kinda weird.  I would suggest bottom.
![image](https://user-images.githubusercontent.com/11514927/45456845-26b22880-b6a1-11e8-9b80-eddf9ac48cd0.png)

[2018-09-12 22:39] aemneina commented on #15451
I have logs for this @mrajashree PM me directly if you want to take a look.

[2018-09-12 22:40] alena1108 commented on #15465
@aiwantaozi  when reproduce the issue, could you try running rancher in docker container if you are unable to reproduce it using local build.

[2018-09-12 22:41] tfiduccia commented on #15412
Version - 2.0 master 9/12
The B series is added to the list, but I still cannot create a cluster with it.
![image](https://user-images.githubusercontent.com/11514927/45457108-51e94780-b6a2-11e8-9e48-6d4389c128af.png)

[2018-09-12 22:45] cjellick commented on #15522
ping @vincent99 @westlywright ^ answer?

[2018-09-12 22:49] davidc-donorschoose commented on #14932
We tried to upgrade to rancher-v1.6.21, but it broke all of our code that uses the etcd API. Some of our applications use curl from a Pod running in the K8s cluster. Our DataDog integration also broke.

It seems rancher-v1.6.21 still uses rancher/etcd:v2.3.7-17, but there are additional command-line flags in the etcd containers. I'm pretty sure that `--client-cert-auth` is the main cause for our b

[2018-09-12 22:51] sangeethah opened #15560 "Readonly project members are allowed to create namespace the project."
**Rancher versions:** Build from master
**Steps to Reproduce:**
Create a github enabled setup.
Create a cluster and add projects - project1 and project2.
Add "user1" as "Member" to project2.
Add "user1" as "Read-only" member to project1.
Log in as user1.
User1 is allowed to create a new namespace in project1.
Note - He is not able to create workloads as expected.

Expected Behavior:
User1 should n

[2018-09-12 22:51] superseb commented on #13644
Not reproducible yet, used command below to check for annotations.

[code]

Workaround still valid

[2018-09-12 22:57] tfiduccia commented on #15308
Version - 2.1 master 9/12
r5 and r5d listed but I don't have access to that size.  But I can verify they are there and selectable.  they are passed and returned by API.
Verified fixed.

[2018-09-12 22:58] #15308 closed

[2018-09-12 23:02] tfiduccia commented on #14845
Version - 2.1 master 9/12
Can still move namespaces without error showing up.

[2018-09-12 23:11] tfiduccia commented on #15546
Version - 2.1 master 9/12
UI option is in.  But can't create cluster with it cause it's not supported by backend?

[2018-09-12 23:40] sangeethah opened #15562 "Alerts not sent for Daemonset/Deployment changes."
**Rancher versions: Build from master
**Steps to Reproduce:**
Add a webhook notifier
Add an alert to send "Info" when a Deployment event/Daemonset event happenes.

Create a Deployment/Daemonset.
This does not result in any alerts being sent out.

[2018-09-12 23:41] maxkorp commented on #15546
Backend code is awaiting review here: https://github.com/rancher/rancher/pull/15545

[2018-09-12 23:52] StrongMonkey commented on #14845
@tfiduccia there is no move action in app. The correct step to verify this is to:
1. Create an app. Waiting for it to be active.
2. Go to the namespace associated with the app. The namespace should not have move action, as it is not allowed to be moved since it is currently used by an app.

[2018-09-12 23:55] sangeethah commented on #15432
Tested with latest build from master.
Edit cluster-defaults value and enableNetworkPolicy is to "true".
Able to Create a cluster using "Import existing cluster" option and import rke cluster successfully.

Cluster gets created with "enableNetworkPolicy": false.

[2018-09-12 23:55] #15432 closed

[2018-09-12 23:59] westlywright commented on #15412
@tfiduccia i dont think this means that the issue is failing. The error you're getting back from Azure indicates that you simply don't have access to that size. I think this should be closed as resolved.

[2018-09-13 00:04] westlywright commented on #15494
@loganhz can you readdress this based on the discussion above?

[2018-09-13 00:06] mrajashree commented on #15162
It's not directly reproducible, so followed these steps after discussion with @alena1108
Steps to repro rancher/rancher:v2.0.8
1. Create a DO cluster
2. Add one worker node
3. Launch kubectl and remove this worked node
4. Click on **Cordon** for this worker node

I can see the NPD in logs
[code]

Followed same steps as above on rancher/rancher:master, and no NPD in the logs

Closing as it's fixed

[2018-09-13 00:06] #15162 closed

[2018-09-13 00:10] alena1108 opened #15563 "Disallow move action for namespace if target project has quota set"
Till we put a proper implementation for resource quota on a move action as a part of https://github.com/rancher/rancher/issues/15549, we need to disallow moving the namespace to a project with resource quota set.

[2018-09-13 00:12] smazurov commented on #15162
Thanks guys!

[2018-09-13 00:12] alena1108 commented on #15549
Moving out to 2.2 as the decision for 2.1 is to implement a temporary workaround of disallowing to move namespace to a project with a resource quota set.

[2018-09-13 00:26] mrajashree commented on #12176
rancher/rancher:master
Created a custom cluster with all roles on all 3 nodes.
Powered off one host
The message about cluster being unavailable was only for about a minute. The cluster got updated and showed the node as `Inactive`, and the cluster was available again
<img width="1440" alt="screen shot 2018-09-12 at 4 39 10 pm" src="https://user-images.githubusercontent.com/10672776/45460211-f5d9ef

[2018-09-13 00:34] soumyalj opened #15564 "UI gets stuck in "saving" stage when creating AKS cluster with invalid docker bridge address range"
**Rancher versions:**
rancher/server or rancher/rancher:master from September 12th

**Steps to Reproduce:**
1. Create a AKS cluster with advanced options.
2. Provide an IP address instead of address range for docker bridge address
3. The UI gets stuck in "saving" stage as below

![screen shot 2018-09-12 at 11 54 07 am](https://user-images.githubusercontent.com/18536626/45460370-cd062a00-b6b1-11e8-

[2018-09-13 01:39] codejamninja commented on #13952
@Gambler13 I don't think you're talking about the same thing. You're example is using a helm template, not a rancher 2 catalog helm template (with the `questions.yaml` file). I think what we're trying to figure out is how to add array or map questions to the `questions.yaml` file.

[2018-09-13 03:20] zdYng opened #15565 "Execute shell closes directly after opening"
*Describe your issue here*

When I open rancher-ui, I enter the shell interface of the container, can't get in, and always flash back.
---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.6.21` Cattle: `v0.183.60` UI: `v1.6.45` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`stacks.index`|

[2018-09-13 03:42] carolynhu commented on #12498
Tested with the latest master (9/12), same steps as what kinara and sangeetha did. Same issue. Reassigned it to @loganhz.

[2018-09-13 04:55] carolynhu commented on #15073
Steps to reproduce this issue:
1. Add a workload `myworkload`
2. Create a certificate `mycert` under Resources/Certificates, with 1 year expire time and domain name is `abc.com`
3. Add an ingress `myingress` with SSL certificates enabled, choose `mycert` as the certificate.
4. Update `mycert` with a 2 years expire time and domain name is `xyz.com`
5. Check `myingress`, now it's certificate's domai

[2018-09-13 04:55] #15073 closed

[2018-09-13 04:58] sangeethah opened #15566 "Errors relating to "Unable to decode an event" seen in logs."
**Rancher versions:** Build from master

**Steps to Reproduce:**

Deploy a single node rancher server instance.
Create few clusters with project and workloads.
Notice that there are lot of errors relating to "Unable to decode an event" showing up in the rancher server logs:

[code]

[2018-09-13 05:19] naisanza commented on #14559
If I remembered correctly, was that tool to convert a 1.6 config (docker+rancher compose) to 2.x ever created?

[2018-09-13 05:42] loganhz commented on #12498
If a pod is a standalone pod, it will jump to workload list page when pod is removed.

If not, it will jump to workload detail page when pod is removed

![sep-13-2018 13-37-13](https://user-images.githubusercontent.com/21168270/45469141-ddbeaa80-b75a-11e8-9ab9-de00efa7516f.gif)

[2018-09-13 05:59] abbcdfin commented on #15057
@loganhz Thanks for the reply, I did not find the proper way to change the node name, so I change the host name of the virtual machine. After that, I ran into #13314. Deleted the cluster and rebuilt one, it started working.

Thanks for the help. But I am a bit worried if rancher 2.0 is really ready for production environment?

[2018-09-13 07:43] superseb commented on #15565
Please describe more information on how to reproduce, the `Execute Shell` option shells into the container, can you run `docker exec -ti container_id sh` or `docker exec -ti container_id bash` on the command line on that host?

What Docker image are you testing with?

[2018-09-13 08:02] gitlawr commented on #15473
@kapolos Thanks, the warning indicated that an invalid curmb is used in API calls. I got no luck reproducing it though. Could you try the following and see if it makes any difference?
1. delete the jenkins pod in `cattle-pipeline` namespace
2. wait until the new pod is ready.
3. run the pipeline again

[2018-09-13 08:09] superseb commented on #15412
See https://github.com/rancher/rancher/issues/14555, I created a new cluster selecting `Standard_B4ms` and got the instances:

<img width="262" alt="screen shot 2018-09-13 at 10 07 41" src="https://user-images.githubusercontent.com/2620179/45475577-1780b880-b73d-11e8-9c4a-a78d4f8628a3.png">

[2018-09-13 09:27] imwower commented on #14387
use any existed file, such as : /etc/localtime, and volume type is Bind-Mount , will cause UI hanged, leave the pod status : ContainerCreating
![91595203](https://user-images.githubusercontent.com/1744486/45479584-79f7aa00-b779-11e8-8f5e-62b5809cf234.png)

you can see the full yaml file here: [nginx.yaml](https://gist.github.com/imwower/f7b3224f6075906448d222c9e8d540d2)

[2018-09-13 10:03] aiwantaozi commented on #15465
Add a cluster, and deploy catalog wordpress and letencript, delete the cluster when the catalog is not completely running, get bunch of 503 and not found error.

2018/09/13 09:40:45 [ERROR] failed on subscribe replicationController: ClusterUnavailable 503: cluster.management.cattle.io "c-75s27" not found
2018/09/13 09:40:45 [ERROR] failed on subscribe namespacedCertificate: ClusterUnavailable 503:

[2018-09-13 10:12] razcakappa commented on #13864
@loganhz I tried like you posted but no luck. Do I need to restart the node or something after setting annotation parameters?
I'm having the same issue which @pmc-sstaehle has. Using V2.08
However still the problem exists. Any suggestions?

[2018-09-13 10:41] rdissauer commented on #10388
@mpsnp There is no "Infrastructure Stacks" -> "kubelet" in latest 2.0.7 rancher.

Can anyone please give me a hint how to solve this issue in 2.0.7? I'm running rancheros 1.4 if this is an issue

[2018-09-13 11:42] synapticscrd commented on #15484
Sir

We are seeing this error on provision to Eu-West-1 after downloading the new Master image

Is this still being progressed? I am sure a number of your customers will welcome this support

[2018-09-13 11:45] superseb commented on #15484
As long as this issue is open, it is not verified that it is fixed.

[2018-09-13 11:51] synapticscrd commented on #15484
Wilco Sebastiaan

[2018-09-13 11:58] superseb opened #15569 "Check Slack custom integration status vs Slack Apps for notifiers"
From https://api.slack.com/custom-integrations:

Moving on from custom integrations
You're reading this because you're looking for info on legacy custom integrations - an outdated way for teams to integrate with Slack. These integrations lack newer features and they will be deprecated and possibly removed in the future. We do not recommend their use.

The new Slack App + Incoming WebHooks does not

[2018-09-13 12:04] kapolos commented on #15473
Hi @gitlawr !

Thank you! I removed the jenkins pod (via the interface/workloads) but a new one has not come up again (`cattle-pipeline` doesn't show up as a namespace any more in the workloads, it's been more than an hour). Clicking on the "Pipelines" still gets to me to the interface (I suppose it assume jenkins pod still exists) so I'm not sure how to make it come back.

Is there a way for me t

[2018-09-13 12:13] kapolos commented on #15473
@gitlawr Thank you very much!

This is the result for running the pipeline manually:

![image](https://user-images.githubusercontent.com/10794126/45487450-08aefb80-b767-11e8-8804-b53efb2bea69.png)

The logs from Jenkins pod: https://pastebin.com/raw/USPZiHB2

The are some `SEVERE` level ones:

[code]

[2018-09-13 12:28] janeczku commented on #14554
We have also seen Rancher being flagged by pentesting because the Jetty server version is exposed in the HTTP headers.
I think we should disable it via `httpConfig.setSendServerVersion( false );`

[2018-09-13 12:47] superseb commented on #15393
Enhancements Slack:
* Rename `Default Recipient (Channel)` -> `Default Channel`
* Help text for `Default Channel` should be, `Optional. By default, notifications are sent to the default channel of the Incoming WebHook. When configuring an Alert, the channel can be overridden.`

Enhancements Email:
* Help text for `Default Recipient Address` should be, `When configuring an Alert, the recipient can

[2018-09-13 13:29] gsoyka opened #15570 "Custom catalog refresh failing"
**Rancher versions:**
rancher/server or rancher/rancher: 2.0.8
rancher/agent or rancher/rancher-agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable): 1.10.3

**Docker version: (`docker version`,`docker info` preferred)**
17.3.2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts:

[2018-09-13 13:33] superseb commented on #15282
Are you launching the pod in the `local` Imported cluster or did you create a new custom cluster? And what are the specifications of the machines you are using?

[2018-09-13 13:53] tech509201941 commented on #15282
Yes I launched the gitlab pod from the local imported cluster.
The specifications of the machines is:

**Master-Nodes**
[DigitalOcean: vCPUs // RAM GB // Roles]
1. 2 // 2 // controlplane, etcd, worker
2. 2 // 2 // controlplane, etcd, worker
3. 4 // 8 // controlplane, etcd, worker

All nodes running stable and are near idle (clean install).
I am still not able to login via the rancher ui, everythin

[2018-09-13 14:03] gitlawr commented on #15473
@kapolos Could you try these to check connectivity:
1. go to the cluster page
2. click `launch kubectl`
3. run `kubectl get pod -n cattle-system`
4. get the pod name of the cluster agent, it should be `cattle-cluster-agent-xxxxxx-xxxx`
5. run `kubectl -n cattle-system exec <agent-pod-name> curl jenkins.cattle-pipeline:8080`, replace <agent-pod-name> with the name you get in step 4.
And check the r

[2018-09-13 14:15] ToeiRei commented on #12087
Same issue on
[code]
just tried with mysql:latest

[2018-09-13 14:19] superseb opened #15571 "Accessing a cluster without permission with a session thats logged out shows Ember error"
Version: master 9/13

**Steps to Reproduce:**
1. Login using user with access to a cluster and open the cluster dashboard
1. Open second tab in browser, logout and login as user without access to the cluster
1. Reload the previous tab with the user that has access

**Results:**
Nothing handled the action '<ui@route:authenticated/cluster::ember6>'. If you did handle the action, this error can be ca

[2018-09-13 14:39] Altoblond opened #15572 "Workload with Ingress Quick Start: 504 Gateway Time-out"
**Rancher versions:**
rancher/server or rancher/rancher: rancher/rancher:v2.0.8
rancher/agent or rancher/rancher-agent: rancher/rancher-agent:v2.0.8

**Docker version:**
`Client:
Version: 17.03.3-ce
API version: 1.27
Go version: go1.7.5
Git commit: e19b718
Built: Thu Aug 30 01:06:10 2018
OS/Arch: linux/amd64

**Server:**
Version: 17.03.3-ce
API version: 1.27 (minimum version 1.12)
Go version: go1.

[2018-09-13 14:44] Skater101b commented on #15186
I went from 2.0.6 to 2.0.8 and the issue still persists.

I have a redis-config with multilines.
![redis1](https://user-images.githubusercontent.com/8505334/45495696-bf988080-b741-11e8-81f8-b974898b9131.png)

Then I have attached it to the deployment.
![redis2](https://user-images.githubusercontent.com/8505334/45495719-cde69c80-b741-11e8-948e-d42595be9925.png)

When I start redis I get this error.

[2018-09-13 15:00] Skater101b commented on #15186
I tried for the heck of it, commenting out the values in the config.
#cluster-enabled yes
etc
etc

and it worked, it added it to the redis.conf. Since it was commented out it all looks fine.
![redis4](https://user-images.githubusercontent.com/8505334/45496739-2028bd00-b744-11e8-9909-93e05fd631a6.png)

but if I don't comment it out, I get the error I got above.

[2018-09-13 15:03] Skater101b commented on #15186
I tried it without the directive cluster-enabled yes and it all works just fine. So you can DISREGARD THIS.

Thanks for the help.

[2018-09-13 15:07] nxf5025 commented on #15552
Looks like this isn't a rancher issue. Was able to wipe out the aws-node and the container became running. Will monitor the above issue, but we can close this.

[2018-09-13 15:12] phal0r commented on #15478
@superseb ping. Do you need additional information?

[2018-09-13 15:12] kapolos commented on #15473
[code]

The output of `kubectl get pod -n cattle-system` was troubling because it showed:
[code]

I tried restarting docker on the node that cluster-agent lives, and the then I retried the exec  command but the result is the same.

I looked at the logs logs for cluster-register and it has an error like this:
[code]

The logs for the node-agents show the same error as well.

I then manually curled

[2018-09-13 15:30] #15552 closed

[2018-09-13 15:33] gitlawr commented on #15473
The connection to Jenkins relies on the agent so it makes sense when the agent is offline. I wonder if the cluster still looks healthy in rancher?
Can you describe how you set up the rancher instance and if acme-domain points to your rancher correctly

[2018-09-13 15:36] tujian commented on #14286
This may be related to the network policy introduced before v2.0.7 (#14462).

Now there is a catch 22 here. I couldn't connect to dns in cattle-system pods, which means cattle-cluster-agent won't work resolving rancher hostname and rancher web-ui won't start. Without rancher web-ui, I couldn't change network policy or move namespace between projects to enable communications between them.

Any advi

[2018-09-13 15:41] nathan-jenan-rancher opened #15573 "Add UI Support for EKS Custom AMI ID"
Add UI support for this issue:
https://github.com/rancher/rancher/issues/15389

[2018-09-13 16:02] kapolos commented on #15473
The cluster appears healthy on the Dashboard but it probably isn't.

![image](https://user-images.githubusercontent.com/10794126/45499472-2b500d00-b785-11e8-9948-34500d8b1a3f.png)

Looking at the `System`, there are some red pods:

![image](https://user-images.githubusercontent.com/10794126/45499565-55093400-b785-11e8-9c08-d73d43367350.png)

And I can't connect any more to `kubectl` via the interf

[2018-09-13 16:27] deniseschannon commented on #15412
@tfiduccia can you re-test with the comments about how we make availability?

[2018-09-13 16:42] dramich commented on #15379
Followed @loganhz steps above to repro on 2.0.7.
On master 9/13/18 now shows as `"build.jenkins.master = build.opstack.xyz"`.

[2018-09-13 16:42] #15379 closed

[2018-09-13 17:09] deniseschannon commented on #15070
Without this, we can't create internal LB in AKS.

[2018-09-13 17:11] deniseschannon opened #15574 "Okta Support"
OKTA test steps:
1. Configure OKTA
Create a new SAML 2.0 application:
![image](https://user-images.githubusercontent.com/6060442/50948127-2ce3d480-14dc-11e9-9f76-fb6a59ebf7c0.png)
Give it a name and proceed to the SAML settings page.
[code]
You should be able to leave the rest of the general options alone.  Create two custom attribute statements.  These are how we’ll tell Rancher what username and

[2018-09-13 17:18] deniseschannon commented on #8683
Not relevant with the refactored 2.0 work.

With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-13 17:18] #8683 closed

[2018-09-13 17:26] nathan-jenan-rancher opened #15575 "Add UI Support for Specifying Security groups for EKS worker nodes"
Add UI Support for https://github.com/rancher/rancher/issues/15316

We will need to give the user the ability to specify security groups for their EKS worker nodes.

[2018-09-13 17:28] westlywright commented on #12498
@carolynhu the new changes are in latest2, can you retest?

[2018-09-13 17:29] loganhz commented on #13864
@razcakappa No, I don't need to restart the node.

Did you set the label to your node?
Can you provide the screenshot of `pod list` section in workload detail page, please?
And the screenshot of `events` section in the pod detail page.

[2018-09-13 17:30] westlywright commented on #15544
Repro:
Enable a single auth provider
All other providers are removed from the UI

[2018-09-13 18:01] soumyalj commented on #15521
Tested with master build from Sep 13.
Create a Project with resource quota and default namespace resource quota in UI
Project Resource quota:
{CPU limit = 4000m
Pods = 10
}
Default Namespace resource quota
{ CPU limit = 500m
Pods = 2
}
Create namespace N1 in P1 with default quota as defined above (CPU = 500m and pods = 2)

Create namespace N2 in P1 with resource quota CPU=500m and pods = 8
The use

[2018-09-13 18:12] codexlynx commented on #15435
I'm going to fix this. Will do a PR soon. :smile:

[2018-09-13 18:17] Skater101b opened #15576 "Network Connectivity Issues after upgrade to 2.0.8"
**Rancher versions:**
rancher/server or rancher/rancher:  rancher/rancher 2.0.8
rancher/agent or rancher/rancher-agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RHEL 7.5

**Type/provid

[2018-09-13 18:17] cjellick opened #15577 "Rolllback UI for RKE cluster defaults"
**Rancher versions:**
rancher/server or rancher/rancher:
rancher/agent or rancher/rancher-agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (VirtualBox/Bare-me

[2018-09-13 18:28] alena1108 opened #15578 "Rollback api/backend for rke template"
As the feature is going to 2.2, we have to rollback the support for it in 2.1

[2018-09-13 18:39] loganhz commented on #14387
@imikushin

Reason:

Rancher starts kubelet as a container. It will check `/etc/localtime` in the kubelet container instead of the real host.

Solution One:

You can use `FileOrCreate` instead of `File` for `spec. volumes. hostPath.type`. It will pass the kubelet check. And your container can mount the real `/etc/localtime` on the host.

Solution Two:

Deploy k8s from binaries. And import it into

[2018-09-13 18:50] maxkorp commented on #15484
@synapticscrd backend support is being added in these PRs:

https://github.com/rancher/kontainer-engine/pull/82

https://github.com/rancher/rancher/pull/15545

[2018-09-13 18:53] StrongMonkey commented on #15102
Not able to reproduce it in v2.0.7.
Steps:
1. Create  a fresh v2.0.7 rancher install. Configure AD authentication.
2. Login as the user which is used to configure AD authentication.
3. Be able to create a EKS cluster.

Once 2.1 RC is out i will reverify this.
@alexandrem Can you make sure the user you created do have the privilege to create cluster? We probably need more info to reproduce your iss

[2018-09-13 19:04] carolynhu commented on #12498
Steps to validate:
1. Create a DigitalOcean Cluster `carolyntest`
2. Create a workload named `myworkload` under `Default`
3. Go to pods within `myworkload`, and delete it. Pods status from `Running` to `Removing` then come back to `myworkload` page.
4. Create a standalone pod, ` kubectl --kubeconfig  kube.config apply -f pod.yaml`.
5. Go to this standalone pod and delete it. All the deletion proce

[2018-09-13 19:04] #12498 closed

[2018-09-13 19:28] cjellick commented on #14845
CLI is also impacted by this change and will need tested.

[2018-09-13 19:32] superseb opened #15581 "Improve error when no projects are found"
Message can be more descriptive and instruct to run `rancher login` again as in other errors.

[2018-09-13 19:38] orangedeng commented on #15312
@loganhz @xiaoluhong I don't think this is a decent use case for kubernetes ingress and service. Paths need to be unique in a host rule. Load balancing workload is the job for service, not ingress.

[2018-09-13 19:38] cjellick commented on #14845
Reviewing the comments on this issue, I see that we never clearly defined what the final solution was.

The original problem was that when you moved a namespace to a different project, if it was associated to an app, the app DID NOT move.This left the system in a funky state where the namesapce was in one project, but its associated app was in another.

The fix is to remove the ability to move an

[2018-09-13 20:07] carolynhu commented on #14650
Steps to validate this issue:
1. Create a service `my-nginx`: `kubectl --kubeconfig  kube.config create -f service.yaml`
Which is `ClusterIP` type:
➜  rancher git:(master) kubectl --kubeconfig kube.config get service
NAME         TYPE           CLUSTER-IP     EXTERNAL-IP   PORT(S)        AGE
kubernetes   ClusterIP      10.43.0.1      <none>        443/TCP        1h
my-nginx     ClusterIP      10.4

[2018-09-13 20:08] #14650 closed

[2018-09-13 20:14] mrajashree commented on #12176
<img width="1423" alt="screen shot 2018-09-13 at 1 10 51 pm" src="https://user-images.githubusercontent.com/10672776/45513103-a0581e00-b756-11e8-9c7f-de7c3d02e795.png">
<img width="1374" alt="screen shot 2018-09-13 at 1 11 09 pm" src="https://user-images.githubusercontent.com/10672776/45513106-a221e180-b756-11e8-8367-de32bbf36642.png">

With a custom DO cluster I don't see cluster unavailable for

[2018-09-13 20:27] superseb opened #15582 "Panic seen when enabling OpenLDAP when the serviceaccount is able to bind but the test user is not"
Version: 9/13

**Steps to Reproduce:**
1. Enable OpenLDAP authentication
1. Configure `Service Account Distinguished Name` with an account with BIND privileges
1. Configure the test user (`Test and enable authentication`) with an account that does not have BIND privileges

**Results:**
[code]

[2018-09-13 20:28] deniseschannon commented on #10451
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-13 20:28] #10451 closed

[2018-09-13 20:29] cjellick commented on #15422
Heads up @alena1108  - I just moved this to review. looked like it was in the wrong column

[2018-09-13 20:30] deniseschannon commented on #7909
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

In Rancher v2, this should be fixed as the nodes are marked as non-schedulable.

[2018-09-13 20:30] #7909 closed

[2018-09-13 20:31] deniseschannon commented on #8383
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-13 20:31] #8383 closed

[2018-09-13 20:32] mrajashree commented on #12176
@soumyalj is going to take a look again as per slack converation

[2018-09-13 20:32] deniseschannon commented on #8526
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-13 20:32] #8526 closed

[2018-09-13 20:32] superseb commented on #15249
I have configured JumpCloud successfully before. You don't need the cert as its a certificate from a recognized CA but it shouldn't hurt the process either. Did you grant BIND privileges to both users that are configured (Service Account and test user)? Can you share debug logging from the `rancher/rancher` container when you enable authentication? (https://rancher.com/docs/rancher/v2.x/en/faq/tec

[2018-09-13 20:35] deniseschannon commented on #8725
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

Rancher 2.0 has specific FreeIPA icon in the UI and you can search for groups on the cluster and project level.

[2018-09-13 20:35] #8725 closed

[2018-09-13 20:40] deniseschannon commented on #9021
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-13 20:40] #9021 closed

[2018-09-13 20:46] soumyalj opened #15583 "Reducing the resource quota at project level below the namespace resources consumed should not be allowed"
**Rancher versions:**
rancher/server or rancher/rancher:master from sep 13

Steps:

1. Create a project with resource quota {pods=20} and default namespace quota as 5
2. Create two namespaces with default resource quota
3. Edit the project resource quota to 5 (below the consumed resource quota) which is allowed
The API shows the below:
[code]
For a project with resource quota assigned, reducing th

[2018-09-13 20:46] alena1108 commented on #15582
@superseb to check and clarify that it happens on a master build off 9/13

[2018-09-13 20:47] deniseschannon commented on #9123
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-13 20:47] #9123 closed

[2018-09-13 20:50] cjellick commented on #15563
Putting to merged, but not ready to test because the CLI needs fixed for this too. When the CLI PR is merged, will move it to test

[2018-09-13 20:55] maxkorp commented on #15344
So, if I include all values within `--set-string` then they're all interpreted as strings, but that would be expected, since we're explicitly telling helm that they are string values. I am able to use both `--set-string` and `--set` in one command to avoid any issues

For example, this breaks:
[code]
But we are explicitly telling helm that false is a string.

I can run the following without issues

[2018-09-13 20:55] cjellick commented on #15506
@maxkorp just double checking - did you open a docs PR for this?

[2018-09-13 20:56] nathan-jenan-rancher commented on #13660
Test plan:
Steps:
1. start rancher with
[code]
2. create a digital ocean droplet with ubuntu 16
3. create a custom cluster in rancher
4. select etcd, control plane, and worker checkboxes, copy docker command
5. run docker command from 4 on droplet from 2
6. monitor cluster in rancher UI, verify that the message `Cluster must have at least one etcd plane host` appears when node is added
7. repeat u

[2018-09-13 20:57] tfiduccia commented on #15412
@westlywright @deniseschannon - I can create this size in azure when I'm logged in.  So I'm thinking this isn't because I don't have rights?

[2018-09-13 20:57] #14974 closed

[2018-09-13 20:58] superseb opened #15584 "Show retries and back-off time when cluster is in Provisioning state"
When a cluster is in Provisioning state and it fails, the user is left with only the RKE error and no further info on what is going to happen. It should show:

- How many retries there have been
- That it will be retried
- What the back-off time is before retry
- Possibly the error from the previous provisioning run

Manually triggering a provisioning run is covered in https://github.com/rancher/r

[2018-09-13 21:03] nathan-jenan-rancher commented on #13660
Generic back off messaging will be handled in this issue:
https://github.com/rancher/rancher/issues/15584

[2018-09-13 21:05] #13660 closed

[2018-09-13 21:05] westlywright commented on #15412
@cjellick @dramich I don't believe this is a UI issue, we simply pass the value to the API. Either of you have any ideas for Tani?

[2018-09-13 21:06] dramich commented on #15148
Validated staging docs on 9/13/18. Expected changes look good.

[2018-09-13 21:06] #15148 closed

[2018-09-13 21:08] superseb commented on #15412
@tfiduccia Can you create new resource names for everything when creating the nodes? Possibly it's trying to create a new size in an existing `docker-machine` availability set which won't work.

[2018-09-13 21:12] galbacarys commented on #14462
We ran into a similar issue in my organization. This was fixed by disabling dnsmasq on the host and instead forcing resolv.conf to contain two known-good upstream DNS servers.

[2018-09-13 21:15] carolynhu commented on #15582
According to the logs, this issue happens not because of the user binding failure. It is because, after user binding successfully, we do a search using some special operators for fetching GroupMemberUserAttribute values, if our first search result based on UserSearchBase does not have that attribute values.
However, the second search did not check if it's results has at least one entry. That's why

[2018-09-13 21:39] sangeethah commented on #13449
Since this issue is addressed now - https://github.com/rancher/rancher/issues/11388 and we have ```--no-cacerts``` flag to tell rancher to not generate certs in setups which uses "Certificate Signed By A Recognized Certificate Authority" , the issue mentioned in the bug is obsolete.

[2018-09-13 21:39] #13449 closed

[2018-09-13 21:41] Oats87 opened #15585 "Adding tolerations to a workload via the UI does not work"
**Rancher versions:**
rancher/server or rancher/rancher: 2.0.8
rancher/agent or rancher/rancher-agent: 2.0.8

**Steps to Reproduce:**
Create workload
Click Node Scheduling
Show Advanced Options
Add Toleration (for example,

- key: node-role.kubernetes.io/controlplane
- operator: equals
- value: true
- seconds: 0

)
Click Upgrade or Create

**Results:**
Toleration is not added to the workload.

[2018-09-13 21:46] soumyalj commented on #15523
Tested with master build from Sep 13.
1. Create a project P1 with resource quota and namespacedefaultresourcequota set through API
2. Create a namespace in P1 through API without any resource quota assigned

Namespace was created with a default resource quota  as expected:
[code]

[2018-09-13 21:46] #15523 closed

[2018-09-13 21:53] bmdepesa commented on #15554
From https://github.com/rancher/rke/issues/588 -

When creating a cluster, we are able to edit cluster yaml before creation, and add credentials for private registry:
[code]

[2018-09-13 21:57] soumyalj commented on #14837
We don't support resourcequota templates now. This issue is not relevant.

[2018-09-13 21:57] #14837 closed

[2018-09-13 22:04] soumyalj commented on #15318
Tested with master from master build Sep 13.
Verified in UI and API that there is validation to ensure namespaceresource quota is not higher than project quota.
The error message is fixed
<img width="827" alt="screen shot 2018-09-13 at 3 01 52 pm" src="https://user-images.githubusercontent.com/18536626/45518413-43fcfa80-b766-11e8-8c75-fe9df3a4751b.png">

[2018-09-13 22:04] #15318 closed

[2018-09-13 22:12] soumyalj commented on #15501
Tested with master build from Sep 13 .
Using API, created a project by specifying resource quota for the project and leaving the namespaceDefaultResourceQuota as NULL or empty
A relevant error message is displayed as expected:
<img width="736" alt="screen shot 2018-09-13 at 3 06 11 pm" src="https://user-images.githubusercontent.com/18536626/45518737-65aab180-b767-11e8-85fe-7e90b8ed2d11.png">

[2018-09-13 22:12] #15501 closed

[2018-09-13 22:20] westlywright commented on #14845
@cjellick i was able to verify that the UI does not show the `Move` action for a namespace with an app running. `Move` does exist for a namespace without an app.

[2018-09-13 22:31] westlywright commented on #15496
@tfiduccia I'm going to move it above the name, since its a warning I feel like we should alert the user before they create the cluster. I doubt it will truely affect anyone using one of the providers given most users are probably going to be tied to one provider but it still seems logical to warn before and error at the end after validation.

[2018-09-13 22:34] StrongMonkey commented on #15456
Be able to verify that we are able to create two clusters with hosts that share the same hostname.
Steps:
1. Create a fresh install on rancher/rancher:master.
2. Prepare two linux hosts, set both hostname to `ubuntu`.
3. Create two custom cluster. Register each cluster with a host that has all roles.
4. Both cluster were provisioned successfully.
![screenshot_2018-09-13_15-22-07](https://user-imag

[2018-09-13 22:34] #15456 closed

[2018-09-13 22:40] StrongMonkey commented on #15102
Also tested with the latest master, didn't reproduce the issue as well.

[2018-09-13 22:42] alena1108 commented on #14771
Currently we support:

`requests.ephemeral-storage` is still in alpha on kubernetes side, so we'll wait for it to become official till we put it in.

[2018-09-13 23:10] sangeethah opened #15586 "Rancher server crashed when node is draining."
**Rancher versions:** Build from master

Setup:
DO cluster with 3 worker nodes.
Drain one of the nodes.
When the pods was still in the process of draining , rancher server container crashed and restarted.

rancher-server logs:

[code]

[2018-09-13 23:12] maxkorp commented on #15506
https://github.com/rancher/docs/issues/743

[2018-09-13 23:15] sangeethah commented on #15586
Rancher server goes into a crash loop with this exception:

[code]

[2018-09-13 23:17] soumyalj commented on #15503
Tested with master build from Sep 13
1. Create a project with resource quota set and defaultnamespaceresourcequota
2. Create a namespace(using API) in the project
It errors out with a message as expected.

Ex: If defaultnamespaceresourcequota is set with the below:
{"limit":{"pods": "2",
"services": "2",
}}
and create a new namespace with just
{"limit":{"pods": "2"}}

<img width="739" alt="screen

[2018-09-13 23:17] #15503 closed

[2018-09-13 23:26] alena1108 commented on #13277
a note - storage quota `requests.ephemeral-storage` is not enabled as it's still in alpha feature in k8s. For storage we have `requests.storage` support

[2018-09-13 23:33] alena1108 opened #15588 "Panic error on catalog app deployment"
Noticed several times on Drone. The test `test_app_namespace_annotation` creating and removing the catalog app fails, and the following panic is observed in the log:

[code]

[2018-09-13 23:35] westlywright commented on #15522
@loganhz @cjellick Vince and I have come up with a solution. We wont be adding a view action or a detail page (i think there are actual reasons we don't have these details pages). On the namespace creation page we we will show a progress bar with the `project limit total/used/remaining`. This is what we briefly discussed in our meeting earlier @cjellick

[2018-09-13 23:36] soumyalj commented on #15521
Tested with master build Sep 13 1:30pm.
In a project with resource quota , the used limit gets updated when namespaces are deleted.
Also, when namespaces are created with resource values greater than the namespacedefaultquota, the used limit gets updated as expected.
It was also tested after editing  project resource quota and  adding more resources and creating more namespaces. Verified that used

[2018-09-13 23:36] #15521 closed

[2018-09-13 23:39] dramich commented on #15560
This is expected because of how we/kubernetes handles namespace permissions. If a user has namespace create permission in any project they will have that permission everywhere. Other resources will still fail outside of the namespace for a user that is read-only in a project.

Opened an issue to address this in the docs: https://github.com/rancher/docs/issues/794

[2018-09-13 23:41] cjellick commented on #13158
Related https://github.com/rancher/rancher/issues/14551

[2018-09-13 23:41] soumyalj commented on #13277
Tested with master from Sep 13. Resource quota is supported at the project level for memory, cpu, storage and is functional.  New issues are being filed related to this feature. Hence closing this issue.

[2018-09-13 23:41] #13277 closed

[2018-09-13 23:46] dramich commented on #15560
https://github.com/rancher/docs/pull/795

[2018-09-13 23:50] sangeethah commented on #15586
Tested with latest build from master.

Able to drain nodes successfully.

[2018-09-13 23:50] #15586 closed

[2018-09-13 23:57] sangeethah opened #15590 "Drain - Delay in "Drained" status being reflected . Errors seen in logs when nodes are drained."
**Rancher versions:** Build from master

Steps to reproduce the problem:
Setup with 1 control/etcd node and 3 worker nodes.
Deploy  few workloads.
Drain a node.
Draining a node succeeds.
But I see the node in "Draining" state for a long time (with pod count indicating that drain is done) even after the actual drain is completed.

But there are lot of errors seen in the rancher server logs:

[code]

[2018-09-13 23:58] cjellick commented on #14551
I was moving this along as pat of @StrongMonkey's refactor of rancher and helm's type conversion logic. But that featured was moved out of the release because it was deemed too big to put in the release so late.

Right now, the workaround is to properly quote the string. But, the refactor should at least present some other options for addressing this.

[2018-09-13 23:59] cjellick commented on #14551
@deniseschannon did you move this to-test because you just want it addressed through documentation? If so, then it can be tested and closed as such, but there is no actual fix for this.

[2018-09-14 00:00] cjellick commented on #14551
@sangeethah before anyone tests this, please confirm @deniseschannon's intention when moving it.

[2018-09-14 00:02] cjellick commented on #15484
@maxkorp is there UI needed for this or will the new option just show up in the UI?

[2018-09-14 00:03] cjellick commented on #15484
I see you have a UI issue open for it.

[2018-09-14 00:06] sangeethah commented on #14265
Tested with latest build from master.
"Drain" action is now available for the worker nodes.

It was decided that when a node gets drained , its state will transition from "Active"->"Draining"->"Drained". User will be given the "Uncordon" option on the nodes that are in "Drained" state.

There is no Alert when nodes is in "Draining"/"Drained" state.

Bugs found when testing this feature are tracked

[2018-09-14 00:06] #14265 closed

[2018-09-14 00:07] sangeethah commented on #15578
Tested with latest build from master.
There is no "cluster-default" settings available anymore.

[2018-09-14 00:07] #15578 closed

[2018-09-14 00:12] cjellick commented on #15279
Looks like this should be moved out of the zenhub revie column

[2018-09-14 00:28] sangeethah commented on #15279
@carolynhu , Can we do the following changes to the existing tests in test_auth.py ?
1. Rename all tests to start with "test_auth", so all tests can be picked up by jenkins jobs by just including "-k test_auth" option.

2. Tests from  test_ad_custom_filter.py can be put into test_auth.py  and skip this test for openldap and freeipa.

3. Also since you already have a enable/disable method  , we sho

[2018-09-14 00:52] cjellick commented on #13668
Since this issue was opened some time ago,  it may be fixed now. @sangeethah can you retest

[2018-09-14 01:13] cjellick commented on #15344
@maxkorp sync with me tomorrow before you close

[2018-09-14 01:22] cjellick opened #15592 "Dynamically pick K8S default version picking for AKS/GKE/EKS to be most recent"
Right now, we just hard code the version we preselect for EKS, AKS, and GKE.
We recently updated AKS from 1.8.x to 1.11.x, but not the other providers.
Ideally, we would make this version picking dynamic, but for v2.1 we should at least update the default version for the other providers.

[2018-09-14 02:33] kinarashah commented on #15590
@sangeethah do these errors stop? I'm assuming they should, because I don't think it's specifically related to drain? it's the controller trying to update the object and getting conflict error

[2018-09-14 02:46] aiwantaozi commented on #15562
Hi @sangeethah I test it again and it does send alert when there are Deployment/Daemonset event. Could you check is the Deployment/Daemonset event in the kubectl get event?

[2018-09-14 03:12] deniseschannon commented on #9327
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:12] #9327 closed

[2018-09-14 03:12] deniseschannon commented on #9704
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:12] #9704 closed

[2018-09-14 03:12] gitlawr commented on #15473
The kubernetes is functioning so it should be good when the agents are back.
Can you do `kubectl -n cattle-system edit deploy cattle-cluster-agent` and check if `CATTLE_CA_CHECKSUM` envrionment variable is set. If it is, try to remove it and save.

I also wonder how we can get into the invalid cacert case.
Did you bind mount any certs when you start rancher?

And regarding the origin problem, is t

[2018-09-14 03:13] kingsd041 opened #15593 "[Windows] Adding a windows node after enabling Amazon cloud provider failed"
**Rancher versions:**
rancher/server or rancher/rancher: maiwj/rancher:625cc739
rancher/agent or rancher/rancher-agent: maiwj/rancher-agent:625cc739

**Docker version: (`docker version`,`docker info` preferred)**
linux: 17.03.2-ce
windows: 17.06.2-ee-16
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
linux: ubuntu 1604
windows: 1803
**Type/provider of hosts: (Virtual

[2018-09-14 03:13] deniseschannon commented on #7547
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

In 1.6, if you want to achieve this, you can provide restricted access to a member and turn on k8s rbac to limit them to read only roles.

[2018-09-14 03:13] #7547 closed

[2018-09-14 03:14] n313893254 commented on #15393
@superseb
Re Enhancements Alerts view:
- I think Recipients is better because Add Alerts view is Add Recipients.
- An alert will have many Recipients, so it will better to display like `Name (Slack)`.
![image](https://user-images.githubusercontent.com/18737885/45527640-48c9b900-b80f-11e8-9873-c1a9c0eebe59.png)

What do you think?

[2018-09-14 03:15] deniseschannon commented on #7800
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:15] #7800 closed

[2018-09-14 03:15] deniseschannon commented on #8141
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:15] #8141 closed

[2018-09-14 03:15] deniseschannon commented on #8767
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:15] #8767 closed

[2018-09-14 03:15] deniseschannon commented on #8905
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:15] #8905 closed

[2018-09-14 03:17] deniseschannon commented on #8907
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:17] #8907 closed

[2018-09-14 03:17] deniseschannon commented on #8999
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:17] #8999 closed

[2018-09-14 03:17] deniseschannon commented on #9317
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:17] #9317 closed

[2018-09-14 03:17] deniseschannon commented on #10184
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:17] #10184 closed

[2018-09-14 03:17] deniseschannon commented on #10325
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:17] #10325 closed

[2018-09-14 03:18] gitlawr commented on #15473
By the way, you mentioned that the cluster is a single server but I can see multiple node agent pods, are there multiple nodes in the cluster

[2018-09-14 03:19] deniseschannon commented on #11157
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:19] #11157 closed

[2018-09-14 03:19] deniseschannon commented on #13767
With the release of Rancher 2.0, development on v1.6 is only limited to critical bug fixes and security patches.

[2018-09-14 03:44] #14730 closed

[2018-09-14 04:27] alena1108 commented on #15312
In native k8s ingress, you can't define the multiple backends for the same paths. Here is native ingress example:

[code]

Same for the rule w/o the path - for a single hostname, only one backend is allowed:

[code]

Also if you look at k8s service definition, you could see that the same source port can't be directed to different backend ports:

[code]

That should explain why you a) can only dire

[2018-09-14 04:37] cycchow commented on #14832
@superseb i have the same issue, the step doesn't help me

@kaybinwong how you do that, any step?

[2018-09-14 04:39] cycchow commented on #14715
It can't help me, any other solution?

[2018-09-14 05:09] alena1108 opened #15595 "Kubernetes v1.11.3 as the default kubernetes version"
As k8s v1.11.3 is out, Rancher image should be released and updated

[2018-09-14 05:37] xiaoluhong commented on #15312
thanks.

[2018-09-14 05:37] #15312 closed

[2018-09-14 07:59] sojwil opened #15596 "Creating a (stack) loadbalancer fails: Validation failed in API: stackId"
Hi!
When creating a loadbalancer within a stack (using a selector rule), it fails with the error: "Validation failed in API: stackId".
- I customized the default registry to an azure registry.
- The HAproxy setting is changed to hold the full path, e.g. "lb.instance.image=docker.io/rancher/lb-service-haproxy:v0.9.3"

Any help would be great!

Regards,
Jos

---
| Useful | Info |
| :-- | :-- |
|Vers

[2018-09-14 08:01] longwuyuan opened #15597 "helm ls shows forbidden"
**Rancher versions:**
rancher/rancher: v2.0.8
rancher/agent or rancher/rancher-agent:

**Infrastructure Stack versions:**
healthcheck:
ipsec:
network-services:
scheduler:
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
rancherOS 1.4
**Type/provider of hosts: (Virtua

[2018-09-14 08:26] superseb commented on #15597
The steps mentioned on https://rancher.com/docs/rancher/v2.x/en/installation/ha/helm-init/ are:

[code]

I don't see those in the steps to reproduce, and it works on v2.0.8 with these commands.

[2018-09-14 08:34] superseb commented on #15582
Ran the same scenario on latest master and no panic is seen.

[2018-09-14 08:34] #15582 closed

[2018-09-14 08:36] jloisel opened #15599 "Containers running in Rancher only see 1 CPU core (instead of all of them)"
**Rancher versions:**
rancher/server or rancher/rancher: 1.6.21
rancher/agent or rancher/rancher-agent:

**Infrastructure Stack versions:**
healthcheck: rancher/healthcheck:v0.3.8
ipsec: rancher/net:v0.13.17
network-services: rancher/metadata:v0.10.4 and rancher/network-manager:v0.7.22
scheduler: rancher/scheduler:v0.8.5
kubernetes (if applicable):

**Docker version: (`docker version`,`docker info

[2018-09-14 08:42] Altoblond commented on #15572
Answering my own question: on a rancher full offline deployement the default ingress configuration uses an http://xip.io/ generated hostname. This cannot work as the xip.io server cannot be reached while offline. Instead the hostname for the proxy must be manually defined in rancher and accessible in the DNS (it should point to one of the hosts defined in the cluster)
![image](https://user-images.

[2018-09-14 08:42] #15572 closed

[2018-09-14 08:52] Altoblond commented on #13484
Hello,

This problem also occurs when deleting a node from a cluster then restarting it. Running the cleanup script, rebooting the host does not fix the problem. Does anyone have a similar problem?

[2018-09-14 08:57] longwuyuan commented on #15597
will redo and update

[2018-09-14 09:01] hichichachac commented on #13200
Hi superseb,

Please help me, this is log in my host:
I0914 08:52:29.846206   27791 server.go:755] Started kubelet
E0914 08:52:29.846808   27791 kubelet.go:1282] Image garbage collection failed once. Stats initialization may not have completed yet: failed to get imageFs info: unable to find data for container /
I0914 08:52:29.847124   27791 server.go:129] Starting to listen on 0.0.0.0:10250
I0914