[2015-12-11 17:17] cjellick commented on #2311
@ebr: @johnrengelman and I debugged yesterday and we got to the bottom of it. Fix should be in the next release.

Sorry this bug has been hanging around for so long.

[2015-12-11 17:28] keras opened #3008 "Can't build containers which are based on some image in a private registry"
Trying to deploy a stack with container 'someservice'

docker-compose.yml:

[code]

someservice/Dockerfile:

[code]

I also copied `/root/.docker/config.json` to rancher/agent container to get this work. I think the configured registries in rancher don't apply to this kind of build jobs.

This fails when my-private-registry.org.com has basic auth enabled and the rancher node runs on docker 1.9.

T

[2015-12-11 17:36] AnalogJ commented on #1871
@alena1108 damn, thats unfortunate. I've used the `-f` and `--` flags before, but only in simple applications, didn't realize the global sections never merged across files.

It looks like you're going to have to go the route of manually generating a config file.
From what I've read, something like the folder structure specified in https://www.mail-archive.com/haproxy@formilux.org/msg00742.html mig

[2015-12-11 17:46] sangeethah opened #3009 "Takes a long time (~10 secs) for settings page to load up."
Server  version - Build form master - Dec 11

Fresh install of rancher-server.
Try to launch admin->settings tab.
Takes a long time (~10 secs) for settings page to load up.

[2015-12-11 17:50] tfiduccia opened #3010 "Can't get service to activate for Storage Pools"
Version - Master 12/10

These are the steps I took:

1.  Create new Environment and added two DO host
2.  Created and started Gluster FS
3.  Created and started Convoy Gluster FS
4.  Added new Stack
5.  Created Service (scale 2)
  	image - ubuntu
     	Volumes - tani:/tani1
     	Volume Driver - convoy-gluster

Results:
The Service does not start and sits in an activating state.

Expected:
Service

[2015-12-11 17:54] andyshinn commented on #2826
I'm still seeing this on v0.49.1. FWIW, I've also seen similar behavior on the API keys page (showing every API key in Rancher, not just the current environment). Not hurting functionality. But anything I can do to debug?

[2015-12-11 17:56] sangeethah opened #3011 "Not able to save settings - "please provide a DNS name or IP address" error."
Server version - Build from master

Go to "Admin"->"Settings" tab.
In "Add Catalog URL" option , add another catalog entry and "save" settings.

Following message is presented to the user:
"please provide a DNS name or IP address."

<img width="1137" alt="screen shot 2015-12-11 at 9 52 39 am" src="https://cloud.githubusercontent.com/assets/4266958/11751215/fe389a6a-9fec-11e5-9285-b3524627b5a6.png"

[2015-12-11 17:59] deniseschannon commented on #2826
Can you check that your UI tag is updated? Click on the cow and show the UI version. Sometimes in upgraded setups, the UI stays the old tag.

[2015-12-11 18:09] sangeethah commented on #3011
The same issue is also seen when we have to set the URL as part of "Add Host" workflow.
Work around for this issue is to select "something else" option and enter the same value presented in the "This site's address" field.

[2015-12-11 18:10] tfiduccia commented on #3010
Forgot label on host.  Not a bug

[2015-12-11 18:10] #3010 closed

[2015-12-11 18:14] blahRus commented on #1673
+1

[2015-12-11 18:19] prachidamle commented on #3004
Fixed this, PR https://github.com/rancher/rancher-catalog-service/pull/36

[2015-12-11 18:19] prachidamle commented on #3003
Fixed this, PR rancher/rancher-catalog-service#36

[2015-12-11 18:25] andyshinn commented on #2826
Ah ha, I probably never closed this tab. It said:

[code]

I forced a refresh of this tab and now it is:

[code]

I logged out and in a couple times and it seems to be fine now! Thanks!

[2015-12-11 18:34] keras commented on #3008
Versions:
Rancher	v0.49.1
Cattle	v0.121.0
User Interface	v0.71.0
Rancher Compose	v0.6.1

[2015-12-11 19:13] cloudnautique commented on #2498
@funkytaco no, not at this time. I'm not to familiar with Shipyard, but it looks like they communicate remotely with the Docker socket over TLS. Which means you have to expose the Docker socket to the Shipyard API server, and do not need privileged container access to the socket. If that is the case, then shipyard / Rancher are not exactly an apples to apples comparison.

[2015-12-11 19:24] hrwebasst commented on #2206
@jmatsushita any luck with this?

[2015-12-11 19:27] cjellick opened #3012 "If a service has non-string metadata, convoy-gluster wont work."
When deploying convoy-gluster, if **any** service in the environment has a metadata entry with a map as the value like:
[code]
you'll get an errror like this in the convoy-gluster storagepool container:
[code]

So, steps to repro would be to deplo[y the elasticsearch catalog entry and then deploy convoy-gluster. Then look at the storagepool container logs.

The convoy-glsuter stack comes up fine,

[2015-12-11 19:47] deniseschannon commented on #2937
For some reason the environment name is missing from your entry.

The format should be `svcName.stackName.environmentName.rootDomain`

Can you check the environment name in rancher API (in Rancher API it will be project as there is a difference between API vs. UI terminology).

Can you also upload metadata json file (/var/lib/cattle/etc/cattle/metadata/answers.json) from the network agent?

[2015-12-11 19:59] sangeethah commented on #2991
Tested with latest build from master  - Dec 11.

UI has support for adding all machine config options when adding hosts.

Able to add Digital Ocean machine successfully using all the "DOCKER ENGINE" options available in the UI.

[2015-12-11 19:59] #2991 closed

[2015-12-11 20:00] andyshinn commented on #2957
I'm on v0.49.1. The container is exiting 0. I'll try and create simple project to reproduce it.

[2015-12-11 20:01] sangeethah commented on #2839
Tested with latest build from master - Dec 11

UI has support for adding all machine config options when adding hosts.
Able to add Digital Ocean machine successfully using all the "DOCKER ENGINE" options available in the UI.

@foobarto , this should be available in the next release.

[2015-12-11 20:01] #2839 closed

[2015-12-11 20:02] ebr commented on #2311
no worries and thank you for getting to the bottom of it! :+1:

[2015-12-11 20:05] deniseschannon commented on #2851
Verified with v0.49.1, UI v0.71.0

[2015-12-11 20:05] #2851 closed

[2015-12-11 20:06] deniseschannon commented on #2827
Verified with v0.49.1, UI v0.71.0

[2015-12-11 20:06] #2827 closed

[2015-12-11 20:25] andyshinn commented on #2957
Here is a pretty simple reproduce:

[code]

Which yields:

![image](https://cloud.githubusercontent.com/assets/315485/11754736/1f7c45d6-a002-11e5-8bd4-30b4c3f0b7ab.png)

[2015-12-11 20:49] sangeethah commented on #2753
@alena1108 , tested with rancher server version - v0.50-rc1

I tried with the following configuration set in LB service:

"haproxyConfig": {
"global": "group haproxy",
"defaults": "balance first",
},

I see the string passed for "global" and "defaults" are appended to the end in "global" and "default" section.

I don't see the "balance first" take effect , when I try to access the LB url, i still

[2015-12-11 21:16] alena1108 commented on #2753
@sangeethah there is a bug - we hardcode algorithm in "backend" section, and it overrides the default. Please reopen https://github.com/rancher/rancher/issues/876

[2015-12-11 21:29] sangeethah commented on #876
Test with rancher server version - v0.50-rc1

I tried with the following configuration set in LB service:

"haproxyConfig": {
"global": "group haproxy",
"defaults": "balance first",
},

I see the string passed for "global" and "defaults" are appended to the end in "global" and "default" section.

I don't see the "balance first" take effect , when I try to access the LB url, i still see only round

[2015-12-11 21:30] samvignoli opened #3013 "Lots of heavy queries on MySQL"
Any ideias on how we can get rid of this?

Thanks.

[code]

[code]

[2015-12-11 21:31] deniseschannon commented on #2957
Verified this is an issue with v0.50.0-rc1.

Containers are displaying the green mesh icon fine, but show up as degraded.

[2015-12-11 21:34] cjellick commented on #2311
@ebr @johnrengelman We have an RC candidate with a fix for this: `rancher/server:v0.50.0-rc1` if you care to test it out. let me know,

DISCLAIMER: This is an RC and can potentially have other bugs in it. :-)

[2015-12-11 22:17] sangeethah commented on #2753
@alena1108 , reopened #876, to track the sepcific issue with balane option.

Tested with rancher server version - v0.50-rc1

Tested for LB services by passing haproxyConfig parameters for format:

"haproxyConfig": {
"global": <values>,
"defaults": <values>,
},

I see the string passed for "global" and "defaults" are appended to the end in "global" and "default" section in haproxy.conf file.

Teste

[2015-12-11 22:17] #2753 closed

[2015-12-11 22:19] sangeethah commented on #1871
Tested with rancher server version - v0.50-rc1

Tested for LB services by passing haproxyConfig parameters for format:

"haproxyConfig": {
"global": <values>,
"defaults": <values> ,
},

The values passed for "global" and "defaults" are appended to the end in "global" and "default" section in haproxy.conf file.

Tested with UI as well as using rancher-compose version v0.6.2.

[2015-12-11 22:19] #1871 closed

[2015-12-11 22:31] cjellick commented on #2311
and now `rancher/server:v0.50.0-rc2` :-)

[2015-12-11 22:33] hibooboo2 commented on #2986
@bhinkle-ezesoft About how long does it take to fail?

[2015-12-11 22:59] bhinkle-ezesoft commented on #2986
I don't have exact numbers but less than an hour the first time, and less than 8 hours the second time.

[2015-12-11 23:29] sangeethah opened #3014 "When a service is linked to same service using multiple alias , metadata includes information about only 1 link."
Server version - v0.50.0-rc1

Steps to reproduce the problem:
Created a service test11 and created 3 service links to service -test2 using service names - "link1" ," link2" and "link3".

Metadata includes information about only 1 link:

<img width="612" alt="screen shot 2015-12-11 at 3 18 52 pm" src="https://cloud.githubusercontent.com/assets/4266958/11757999/d3f712da-a01a-11e5-81b3-8838af27d5a3.p

[2015-12-11 23:32] sangeethah commented on #2959
Tested with server version - v0.50.0-rc1

We now have support multiple links to same service.

Link Service B to Service A as alias C and alias D.
From within the containers of service A , we are able use both C and D to resolve to containers of service B.

Metadata for service A , has information about only 1 alias - tracked in #3014

[2015-12-11 23:32] #2959 closed

[2015-12-11 23:33] cjellick commented on #2311
@aruneli can you test?

[2015-12-11 23:39] sangeethah commented on #2517
Tested with server version - v0.50.0-rc1

We are not allowed to create services which have primary service name /sidekick names set to an existing primary service name /sidekick name from the same stack.

[2015-12-11 23:39] #2517 closed

[2015-12-11 23:50] sangeethah commented on #2968
Tested with server version - v0.50.0-rc1

Add a custom registry pointing to a name, like some.thing.com,
Delete and purge it.
Try and create a new registry in the same environment with the name some.thing.com.
Able to create the registry successfully.

[2015-12-11 23:50] #2968 closed

[2015-12-12 00:41] samvignoli commented on #3013
Fixed deleting old rows. Seems like a bug.

[2015-12-12 01:15] sangeethah opened #3015 "when an existing catalog url is removed/renamed , all services that were launched from this catalog shows "Error Checking Upgrades" ."
Server version - V0.50.0-rc2

Steps to reproduce the problem:

Add 1 new "catalog url" from Admin->Settings tab.

Deploy few stacks from catalogs from both catalog url.

Delete one of the  "catalog url" from Admin->Settings tab.

After this , all the stacks deployed from this catalog show ""Error Checking Upgrades".

<img width="948" alt="screen shot 2015-12-11 at 4 51 57 pm" src="https://cloud.gi

[2015-12-12 01:19] ibuildthecloud commented on #3013
@alena1108 and I are looking at it.  We just introduced that query and it seems quite bad....

[2015-12-12 02:22] sangeethah commented on #2984
Tested with server build - v0.50.0-rc2.

We are able to disable access control wen openLdap auth is on.

[2015-12-12 02:22] #2984 closed

[2015-12-12 02:27] vincent99 commented on #3015
What would you like it to do?  The template no longer exists so there's no upgrade info available.

[2015-12-12 02:30] sangeethah commented on #3015
Ideal scenario would be for us to not present any message at all about upgrade availability at all in such cases were we are not able to get the template info.

[2015-12-12 02:40] sangeethah commented on #2987
Tested with server build - v0.50.0-rc2

When enabling "OpenLDAP" access control , provide incorrect ipaddress.

I stil see user presented with "Internal Server Error" (after about  1.5 minutes),

Following exception seen in logs:

[code]

[2015-12-12 02:51] sangeethah commented on #2987
"javax.naming.CommunicationException:" is seen repeatedly in logs.

[2015-12-12 02:57] sangeethah commented on #2988
Tested with server version - V0.50.0-rc2

When "Service Account Password" is not set, user is presented with the following message -
Error (422 - MinLengthExceeded).
There is no stack trace seen any more in the logs.

Can this error message be improved to indicate which field is having the problem ?

[2015-12-12 03:00] sangeethah commented on #3011
Tested with server version - v0.50.0-rc2 . This issue is not seen anymore.

[2015-12-12 03:00] sangeethah commented on #3009
Tested with server version - v0.50.0-rc2 . This issue is not seen anymore.

[2015-12-12 03:00] #3009 closed

[2015-12-12 03:00] sangeethah commented on #3005
Tested with server version - v0.50.0-rc2 . This issue is not seen anymore.

[2015-12-12 03:00] #3005 closed

[2015-12-12 03:02] #3011 closed

[2015-12-12 03:04] sangeethah commented on #2994
Tested with server version - v0.50.0-rc2 . This field is not presented in not presented in the "OpenLDAP access control page" anymore.

[2015-12-12 03:04] #2994 closed

[2015-12-12 03:34] vincent99 commented on #3015
Entire catalog removed, replaced a different one with the same name, individual template removed, the catalog service is broken, externalId manually changed, etc are all indistinguishable.. We have an externalId and got back an error asking for info about the template it corresponds to.

[2015-12-12 09:06] pwFoo commented on #2734
I would love a Let's Encrypt integration with ssl termination / offloading into the loadbalancer.

Certificates should be created via Let's Encrypt API or inside a temporary Let's Encrypt client container and then moved to the loadbalancer and offered to download for production use. The Let's Encrypt client shouldn't stay in production environment.

There is also a github project offering a static

[2015-12-12 09:41] dverbeek84 commented on #2311
@cjellick @ebr Indeed my problem was related to #2464

[2015-12-12 09:55] janeczku commented on #2931
Basically i wasn't sure if maybe miekg/DNS was intentionally pinned to that older commit for some reason and I didn't want to break anything :smile:

[2015-12-12 09:57] janeczku commented on #2931
Besides my PR clearly stated which issues it fixes and this here wasn't one of them.

[2015-12-12 14:33] samvignoli commented on #3013
Thank you! :clap:

[2015-12-12 23:11] sangeethah opened #3016 "Allocator should be able to place containers with networkmode:host on hosts where there is no port conflicts."
Server version - V0.50.0-rc2

Containers of service with networkmode:host  can end up being placed in hosts where the exposed port of the containers area currently in use.

This results in containers getting to "stopped" state and constantly being restarted.
It would be good for allocators to be aware of the exposed ports in this case and be able to place the containers in host where the ports are

[2015-12-12 23:16] sangeethah commented on #2432
Tested with server version - v0.50.0-rc2
Health check reports correct health state for container when "io.rancher.container.dns"  is set to true.

When unhealthy instances are detected and removed , the new instances that get started may not be able to start in hosts where they can come up successfully since allocators are not aware of the exposed ports for these instances . This issue is tracked

[2015-12-12 23:16] #2432 closed

[2015-12-12 23:30] sangeethah commented on #876
Rancher server version - v0.50-rc2 , does not have the fixes yet.

[2015-12-13 11:09] demarant commented on #3007
tried again in v0.50.0-rc2 and issue is there as well

[2015-12-13 16:26] beenokle commented on #2963
Got the same delays on 0.49.1

[2015-12-13 21:09] sshipway commented on #2972
It would be a great help to remote monitoring plugins (eg https://github.com/sshipway/check_rancher ) if the degraded state were exposed by the API and bubbled up to the stack.  The calculation is not trivial and is a fairly important indicator of health.

[2015-12-13 22:01] funkytaco commented on #2498
Bummer. Okay, thanks.

[2015-12-13 22:01] #2498 closed

[2015-12-13 22:08] vincent99 commented on #2972
Agree, as I said I already added it to the list.

[2015-12-14 01:10] deniseschannon commented on #2882
In v0.49.1, the stop has changed to a square in the octagon.

[2015-12-14 01:10] #2882 closed

[2015-12-14 01:21] deniseschannon commented on #2810
Okay, I'll just remember what is going on and let users know if anyone complains. It's just weird user experience.

[2015-12-14 01:21] #2810 closed

[2015-12-14 01:23] deniseschannon commented on #2965
Are you using the labels or the actual UI equivalent components?

For `io.rancher.container.pull_image`, there is an equivalent checkbox under the image name to allow you request to always pull. You need to use the UI equivalents to get have the label always be set.

[2015-12-14 01:32] Flowman opened #3017 "Disable cadvisor"
Is there a way to disable cadvisor in rancher if a 3-party monitoring tool like New Relic is in palace?

I'm running the latest 0.49.1 and cadvisor still chews up 15% of the cpu with 5 containers running for no reason.

Or at least can we change the data gather timer from 1sec to 5sec, as 1sec is a bit aggressive?

[2015-12-14 01:36] deniseschannon commented on #2972
I'm going to close this in favor of #1052, where it has the list of changes we want for v2 of the API.

[2015-12-14 01:36] #2972 closed

[2015-12-14 01:47] sshipway commented on #1052
It would be useful if Certificate objects had a field containing number of seconds until expiry (or 0 if expired).  While it does have expiryDate, this is as a string which needs to be parsed and compared to the current date/time in order to calculate expiry.  Having a 'secondsUntilExpiry' attribute would greatly simplify monitoring tools using the API.

[2015-12-14 05:18] deniseschannon commented on #2967
I tried to deactivate the account (as the API allows you to do so) and it basically made my Rancher setup unusable. It got stuck in "Deactivating" and when I try to refresh, I just get "Error" page. We need to at least not allow users to deactivate/delete this account if we make it visible.

[2015-12-14 07:15] beenokle commented on #2963
We removed all LBs and exposed container's ports - and we are still experiencing slow responses.
So, I think, the problem is not with HAProxy - the problem is with Rancher network.

When LB were in stack - delay was +10 sec
Without LB - delay is equal to nginx's `proxy_connect_timeout`

In our case about 1,18% of requests delayed

[2015-12-14 08:24] Rucknar commented on #2901
Jump on the network container and checkout out the /var/log/racoon.log file, anything in there?

[2015-12-14 09:20] michaellopez commented on #2143
+1

[2015-12-14 09:36] petyunchik commented on #2963
Confirming the issue. It's the problem with HTTP settings only, if you use the same LB configuration with SSL enabled - the problem will be resolved.

[2015-12-14 09:39] petyunchik commented on #2501
@deniseschannon
[code]
External services are official images

[2015-12-14 09:45] petyunchik commented on #2963
And yup, i'm also using nginx after the LB. Direct services (without nginx proxy) works fine, it seems.

[2015-12-14 10:52] jmcarbo commented on #2288
Also vote for this feature being implemented.

[2015-12-14 11:59] beenokle commented on #2963
I still believe problem is not with HAProxy, but with rancher network.
I removed LB between nginx and containers - problem still existed.
Now I changed network to "Host" instead of "Managed' - seems like problem is gone

[2015-12-14 16:01] hibooboo2 commented on #2987
This is due to the current api. I will work with vincent later to fix. But this behavior is as expected.

[2015-12-14 16:54] alena1108 commented on #2940
@rzachariah is it easy to reproduce? If so, could you please check the following once the issue occurs:

* login to the LB instance and try to send a request to any of your backend targets - this is to ensure that the LB instance can reach other instances on the managed network
* login to any other instance of the managed network, and try to reach the LB instance 10.42.x.x:[listening port]. This i

[2015-12-14 17:07] shotai commented on #2990
update issue detail

[2015-12-14 17:16] alena1108 commented on #2990
@shotai this would be a duplicate of https://github.com/rancher/rancher/issues/2446. "io.rancher.loadbalancer.target" label gets translated to loadBalancerService "ports" field when executed from rancher-compose; and the label still get propagated and set on the service, so its not missing from the metadata. When executed from the UI, UI translated user input to "ports" field directly, so the labe

[2015-12-14 17:37] Rucknar opened #3018 "DNS issues when using host based networking"
Hello,

Due to an unrelated failure, a number of our containers restarted earlier today.

We have two containers that use `host` networking mode and have the label `io.rancher.container.dns: true` applied. These hosts came online and couldn't resolve an external service we have linked in.
They can resolve everything else we have linked but they could not resolve the external service.

Interestingl

[2015-12-14 18:31] Negashev commented on #2836
+1

[2015-12-14 18:39] alena1108 commented on #1787
@sangeethah here are the rules for the wildcards:
[code]

[2015-12-14 19:33] deniseschannon commented on #2990
i'm going to close in favor of #2446. @shotai Please watch that issue if you'd like updates on it.

[2015-12-14 19:33] #2990 closed

[2015-12-14 19:37] will-chan opened #3019 ""Help" Page"
On the top right dropdown, add a link to a "help" page or perhaps to our dashboard

This page should contain the following:

- Link to forums (any way to more tightly integrate with our forums?)
- Link to file bugs/issues with Github
- Link to docs
- Link to docs FAQ/Troubleshooting
- Link to  Rancher "Learn"/"Tutorial" Page
- Contact for Commercial Support description

[2015-12-14 20:01] johnrengelman commented on #2311
@cjellick I just updated to `0.50.0-rc2` and everything is looking good so far. I'm going to be in my test cluster a bit today, I'll update this if I come across any odd behavior, but so far I think you've finally nipped this one.

[2015-12-14 20:12] cjellick commented on #2311
Thanks @johnrengelman!  We should have the official release soon (which I think will be based off of an rc3).

[2015-12-14 20:20] sangeethah opened #3020 "Editing External service results in error message - "Unknown action: setservicelinks""
Rancher server version - v0.50.0-rc2

Create an external service pointing to hostname.
Activate this service.
Edit this service and change the hostname and save.
User is presented with - Unknown action: setservicelinks
<img width="972" alt="screen shot 2015-12-14 at 12 11 59 pm" src="https://cloud.githubusercontent.com/assets/4266958/11792761/911e75a4-a25c-11e5-88ce-0f53133ea31c.png">

The changed

[2015-12-14 20:22] deniseschannon commented on #2973
Steps I did to try and reproduce:

1. `rancher-compose up` with this docker-compose.yml
[code]

2. Remove the labels section and leave all services in and try to run `rancher-compose up --upgrade`.

Error that I received:

[code]

There is definitely an issue with trying to update a service that has sidekicks and removing the sidekicks.

[2015-12-14 20:29] alena1108 commented on #3020
should be fixed in the UI. setServiceLinks action was disabled for external services @vincent99 ^^

[2015-12-14 21:08] vincent99 commented on #3002
@prachidamle The API response (and all other error responses) should have a JSON body with that text in the description, not plain text.  https://github.com/rancher/api-spec/blob/master/specification.md#errors

[2015-12-14 21:25] sangeethah commented on #876
Tested with Rancher server version - v0.50-rc3.

I tried with the following configuration set in LB service:

"haproxyConfig": {
"global": "group haproxy",
"defaults": "balance first",
},

I see the string passed for "global" and "defaults" are appended to the end in "global" and "default" section.

I see that balancer policy set take effect now.

[2015-12-14 21:25] #876 closed

[2015-12-14 21:38] smw355 commented on #2182
+1

[2015-12-14 21:45] jwhitcraft opened #3021 "Rancher Server Reporting No Space Left On Device"
Hello

I was seeing this error in the rancher-server logs today

[code]

Both of my hosts have 50+% space left on them and my rancher-server host has 90% free space. Once i restarted the rancher-server the errors went away.

Not sure what is going on, but I thought I would report it.

[2015-12-14 21:53] smw355 opened #3022 "Notifications when new version of Rancher is available"
It would be great if somewhere in Rancher users were notified that a newer version of the software was available for upgrade.

[2015-12-14 21:55] deniseschannon commented on #2829
I was able to reproduce your issue. My sense is that something happened with the 1.9.x changes in Docker, which has caused this example (which used to be on the Docker site and I can no longer find) to stop working. I definitely was able to launch the example previously using older versions of Docker.

Typically, S3 shouldn't cause having standalone containers.

I'll look into updating the docs fo

[2015-12-14 22:07] sangeethah opened #3023 "LB service remains in degraded state when targets are added with Request Host."
Server version - V0.50.0-rc3

Steps to reproduce the problem:
Create a LB service add target with "Request Host".
Activate LB service.
LB service remains in degraded state.

Following exception seen in logs:

[code]

[2015-12-14 22:09] alena1108 commented on #3023
Regression caused by https://github.com/rancher/cattle/pull/1182

[2015-12-14 22:14] sangeethah commented on #1787
Tested with server version - V0.50.0-rc3
LB service is degraded when targets are added with Request Host - https://github.com/rancher/rancher/issues/3023

[2015-12-14 22:21] deniseschannon commented on #2829
Okay, there is definitely something strange going on. When I do a `docker-compose up` with the files, it's fine, but if I try to run it using `rancher-compose up`, the host goes into reconnecting mode when trying to launch the `web` service.

Since the host goes into reconnecting state, sometimes containers are launched but then they get stuck/removed.

I'm going to update this issue to look into

[2015-12-14 22:25] ebr commented on #2311
@cjellick @johnrengelman awesome news, thank you! I won't be able to test the RC this week, but really looking forward to the release! :100: :stars:

[2015-12-14 23:01] sangeethah commented on #2998
Tested with server version - v0.50.0-rc3

When trying to list members of of environment  that have the deleted group/user as members, following  message is logged in the rancher-server logs. No stack traces are seen.

2015-12-14 22:57:18,675 INFO  [:] [] [] [] [cutorService-13] [i.a.a.i.l.O.OpenLDAPIdentityProvider] Failed to get object: cn=qa4,dc=rancher,dc=io : [LDAP: error code 32 - No Such Obj

[2015-12-14 23:01] #2998 closed

[2015-12-14 23:04] Rhoa commented on #2090
@vincent99 Good Job all works fine :), access control work for group .
 I've try with last build-master this night, but there is  confusion with `domain` in API openldapconfig which matches with `search base` in UI.
It's possible to add in future a `search base` for group ? like ou=group,dc.... ?

[2015-12-14 23:06] alena1108 commented on #3018
@Rucknar its a bug in all versions prior to v49: external services are not resolvable to host level containers, whether its linked or otherwise. Got fixed with the refactoring we've done around forming dns data. Good catch, thanks for reporting it. Hold on upgrading to v49 though, there was some performance bug we've addressed that is gonna be available in v50 (which is gonna be released early thi

[2015-12-14 23:08] Rucknar commented on #3018
Thanks @alena1108 I'll hold on until 50 is out the door. Happy for you to close this if you wish?

[2015-12-14 23:12] alena1108 commented on #3018
@Rucknar I can't be completely happy till it's validated by our QA :) So lets @sangeethah close it.

[2015-12-14 23:45] aruneli commented on #2311
Closing it as tested based on above comments after discussing with Will.

[2015-12-14 23:45] #2311 closed

[2015-12-14 23:54] #2090 closed

[2015-12-15 01:18] sangeethah commented on #1787
Tested with server version - V0.50.0-rc4

We are able to specify ""Request Host" for targets in the following format:

*.domain.com ->  hdr_end(host) -i .domain.com
domain.com.* ->  hdr_beg(host) -i  domain.com.
domain.com   ->  hdr(host)     -i  domain.com

Traffic gets routed to the correct set of targets.

This should be available in the next rancher release.

[2015-12-15 01:18] #1787 closed

[2015-12-15 01:19] sangeethah commented on #3023
Tested with Server version - V0.50.0-rc4

LB services that have targets added with Request Host works as expected.

[2015-12-15 01:19] #3023 closed

[2015-12-15 01:39] y8 opened #3024 "Sidekick is not exposed as "Link" to the "master" service."
For example:

[code]

With this configuration environment variables, like `MONGODB_PORT_27017_TCP_ADDR` are not set in `app` containers.

Since there no way to explicitly link `mongodb` to `app ` in the Rancher UI, it's expected that
sidekick will be automatically linked to the `mongodb`, so environment variables will be available.

[2015-12-15 01:48] WnP opened #3025 "grsecurity"
Hi,

I'm trying to run `rancher/server` using the docker image on a grsecurity kernel, but it crash with:
[code]
and nothing in `dmesg`
any idea?

[2015-12-15 01:56] WnP commented on #3025
you can find the complete logs [here](http://sprunge.us/SAQK)

[2015-12-15 01:59] ibuildthecloud commented on #3025
Looks like grsec disables something Java needs by default (rwx memory pages for JIT).  I don't know much about grsec but you need to disable mprotect for the Java process.  Now the tricky thing is how do you do that with a container.... I don't know.

[2015-12-15 02:57] bacheson commented on #2997
This scheduling problem is extremely easy to reproduce. Scale any image up to 100 containers. Perform an upgrade and 9/10 you'll get all sorts of unknown exception errors.

5 nodes with the same config:

Containers: 61
Images: 118
Server Version: 1.9.1
Storage Driver: devicemapper
 Pool Name: docker-202:1-264537-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 107.4 GB
 Backing Filesystem:
 Data

[2015-12-15 03:22] deitch commented on #2901
I just jumped back in, restarted everything. From network agent on LC-01 `10.42.182.129/16` tried to ping network agent on agent1 `10.42.32.205/16`.

[code]

Nothing getting through.

`/var/log/racoon.log` looks like the following (last lines keep repeating, so cut them off):

[code]

[2015-12-15 03:25] taketnoi commented on #2836
+1

[2015-12-15 04:15] sangeethah commented on #3018
Tested with server version - v0.50.0-rc4

From containers that belong to services with networking set to "host"  and "io.rancher.container.dns" set to "true" , able to resolve external servives /alias services /regular services,

[2015-12-15 04:15] #3018 closed

[2015-12-15 05:52] zaubererty commented on #1787
What has the higher priority?

*.domain.com           /api      <container>
app.domain.com                  <container>

If you request 'app.domain.com/api' which container is addressed? I'll assume the first one.

[2015-12-15 06:24] sangeethah commented on #1787
@zaubererty: yes, In your case  , request 'app.domain.com/api' will be redirected to targets configured for  "*.domain.com /api " . The order of priority should be as defined in #1654.

[2015-12-15 07:05] sangeethah commented on #2913
Tested with rancher-server version - V0.50.0-rc4

When adding host , user is presented with docker engine related options that can be passed.

[2015-12-15 07:05] #2913 closed

[2015-12-15 08:43] Rucknar commented on #2901
Can the hosts ping each other directly?

[2015-12-15 08:45] Rucknar commented on #2997
Is it only when performing actions such as upgrade you hit the issue? Do you get any issues with standard create/remove? Done through the GUI or the CLI?

[2015-12-15 09:40] elerion commented on #2934
Yes I saw this issue but I can't doing this in my containers each time I upgrade version of rancher.
I seen that it's seems fixed in this version : https://github.com/rancher/rancher/releases/tag/v0.49.1
But I have the same probleme

[2015-12-15 11:33] Ilya-Kuchaev commented on #3022
+1

[2015-12-15 11:33] Ilya-Kuchaev commented on #3017
+1

[2015-12-15 13:02] petyunchik commented on #2734
+1

[2015-12-15 13:08] RVN-BR commented on #338
Is this still the correct way to run agent on a coreos cluster?

[2015-12-15 13:32] cjellick commented on #2836
Ping @ibuildthecloud
This is a problem in our share-mnt utility. Looks like it is all related to this change in the open container spec: https://github.com/opencontainers/runc/commit/c6e406af243fab0c9636539c1cb5f4d60fe0787f
where throttleDevice elements were changed from a single string to lists.

It looks like share-mnt has the latest version, so it seems where ever we are getting the data from (

[2015-12-15 14:08] mishak87 commented on #2634
IMO this is intended behaviour `true` and `false` are [boolean values](http://yaml.org/type/bool.html) in yaml.

[2015-12-15 14:29] mishak87 opened #3026 "On host restart nginx keeps failing due to unresolved upstream"
After restarting host `nginx` container is unable to find `registry`. It keeps restarting (because nginx exits with error). After manual restart of container it finds `registry`. This happens always after restarting host.

Example configuration (mine setup has additional volumes-from and volumes).
[code]
Nginx config:
[code]

I tried searching for similar issue but have not found one apologies if

[2015-12-15 14:44] bhinkle-ezesoft commented on #2986
Just happened again this morning.

[2015-12-15 14:45] lavvy commented on #2734
+1
On Dec 15, 2015 2:02 PM, "Petr" <notifications@github.com> wrote:

[2015-12-15 15:38] ibuildthecloud commented on #2836
@cjellick @sshipway All of our storage stuff requires Docker 1.9.1 which means you must be running CoreOS 877.1.0 or newer.

[2015-12-15 15:41] cjellick commented on #2836
Looks like we can close this issue then?

[2015-12-15 15:46] ibuildthecloud commented on #2836
Yes, @sshipway can you please file a new issue if you experience any issues with CoreOS using Docker 1.9.1 or greater.  Thanks.

[2015-12-15 15:46] #2836 closed

[2015-12-15 15:48] deniseschannon commented on #2836
@sshipway Please re-open if you have additional issues with CoreOS and convoy-gluster.

@Negashev @CBR09 @taketnoi Can one of you re-open a new issue for RancherOS and convoy-gluster?  Have you made sure to put on the host label required on hosts so that convoy-gluster knows where to deploy? It's one of the configuration options in the convoy-gluster catalog item.

In each of your use case, please

[2015-12-15 16:19] deitch commented on #2901
Most definitely. And get to port 22 as well:

From LC-01
[code]

From agent1:

[code]

[2015-12-15 16:24] Rucknar commented on #2901
Is there any firewall on the host or between the hosts? I believe racoon requires 500 UDP to setup a tunnel.

[2015-12-15 16:34] deitch commented on #2901
Yes, firewalld is set up. Funnily enough, the iptables rules look better on LC-01 with ACCEPT for 500/4500, but not on agent1. tcpdump shows:

[code]

1. Shouldn't the network-agent itself set up the necessary iptables rules?
2. How can I force the network-agent to reinitialize the iptables rules?
3. Even when set up correctly, it never worked. See the original posting here.

[2015-12-15 16:44] Rucknar commented on #2901
Not too sure on the process to reinitialize them, @alena1108 might be able to offer some advice here.
Like you say, they should be automatically configured and usually are. What OS are you using for LC-01 and agent1?

[2015-12-15 16:45] deitch commented on #2901
CentOS 7

[2015-12-15 16:51] deitch commented on #2901
Hmm, now that is strange. It looks like when firewalld is restarted on one of the hosts, the DOCKER chain just disappears.

[2015-12-15 17:17] will-chan commented on #2202
restart and upgrade are easier.  SSH might be a bit trickier since we have to integrate it similarly to how we expose docker "exec".

[2015-12-15 17:46] bibby opened #3027 "Cannot add Resolving Server"
Rancher Server version: 0.50-rc4

While adding a service, I expand *Advanced Options* and open the *Networking* tab. Attempting to add a _Resolving Server_ will throw a javascript error, and expected UI components do not expand.

[code]

Edit: Browser: Chromium Version 45.0.2454.101 Ubuntu 14.04 (64-bit)

[2015-12-15 18:01] will-chan opened #3028 "Multiple Rancher Catalog Support"
Rancher Catalog needs to support the ability for users to configure multiple catalogs in addition to the default Rancher public library.

[2015-12-15 18:03] will-chan commented on #3028
rancher/rancher-catalog-service#20

[2015-12-15 18:03] #3028 closed

[2015-12-15 18:22] hrwebasst opened #3029 "gluster samba start error"
Just noticed this in my gluster log:
[code]
v0.50.0-rc3

[2015-12-15 18:25] vincent99 commented on #3001
![image](https://cloud.githubusercontent.com/assets/753917/11819715/97152e22-a31e-11e5-84f2-d9883ff31c0f.png)

[2015-12-15 18:27] vincent99 commented on #3000
Changed to reset catalog and category when re-entering the screen

[2015-12-15 18:42] sangeethah opened #3030 "test_native_fields fail with assert check error for hostname."
Server version - v0.50.0-rc4

test_native_fields fail with assert check error for hostname.
[code]

[2015-12-15 19:34] deniseschannon opened #3031 "Logging the sync with Rancher Catalog every 5 minutes fills up your logs."
Provide a UI way of being able to update the sync with the rancher catalog.

Also, make it so we don't log it in the `docker logs rancherserver` as it fills up your logs even if you haven't done anything.

[2015-12-15 19:46] vincent99 commented on #3031
We're worried about ~100 bytes every 5 minutes ≈ 10MB/year?

[2015-12-15 19:47] vincent99 commented on #2951
I think this was fixed last release by a similar issue.

[2015-12-15 19:53] Negashev commented on #2836
@deniseschannon , yes i set label for host

[2015-12-15 20:00] deniseschannon commented on #3031
It just looks like something is wrong in the logs. Someone already posted saying that they see that line fill up their logs after 7 hours and think that it's a bug.

[2015-12-15 20:16] pwFoo commented on #1395
Hi @cjellick
any information about a convoy vfs / dm implementation?
To prepare my first (production) environment local persistent storage is needed.
So if there is a timeline a release date would be great to know :)

[2015-12-15 20:23] cjellick commented on #1395
WIP PRs are in @pwFoo:
https://github.com/rancher/convoy-agent/pull/14
https://github.com/rancher/rancher-catalog/pull/63
Need a little refinement, but generally looking good.

Should be out pretty soon. This week or next at the latest.

[2015-12-15 21:41] sangeethah commented on #2264
This issue is addressed by - https://github.com/rancher/validation-tests/pull/149

[2015-12-15 21:41] #2264 closed

[2015-12-15 22:15] sshipway commented on #2836
Not working using CoreOS  835.9.0.  This is the latest stable CoreOS but it uses Docker 1.8.3.

With CoreOS 877.1.0BETA (Docker 1.9.1) the convoy-glusterfs containers do start successfully, after a couple of attempts.  However, I am yet to be able to create a volume on them; this may be because the underlying glusterfs is still running on Docker 1.8 hosts?  Will investigate.

[2015-12-15 22:21] mcuadros commented on #2937
Same problem here, also the same error with etcd (is a fresh installation) with custom servers
[code]

[2015-12-15 22:41] rubenmch opened #3033 "Validation failed in API: name is not unique when editing Load Balancer"
I'm trying to edit a load balancer in the just released 0.50 version and I get the following error when trying to edit a load balancer:

Validation failed in API: name is not unique

I tried changing the load balancer name but I get the same error.

[code]

I was able to edit the LB in the previous version (0.47).

[2015-12-15 23:06] rubenmch opened #3034 "How to enable tlsv10 in load balancer?"
We have an API used by some client apps. Some of them use .Net Framework 3.5. .Net Framework 3.5 only supports TLS 1.0 and SSL v3, it doesn't support TLS 1.1 and 1.2.

I know TLS 1.0 is insecure but we have no control over the app and can't force them to change it to a newer version of the .Net Framework.

In older versions of rancher TLS 1.0 was enabled and our API worked with those apps.

In rec

[2015-12-15 23:15] rubenmch commented on #3033
It also happens with other types of services. New services aren't affected. Only services that existed before upgrading to Rancher 0.50.

[2015-12-15 23:25] sangeethah opened #3035 "exact match for hostnames should be given priority over wildcard match."
Server version - V0.50.0-rc5

Create an LB service with following targets:
 <img width="750" alt="screen shot 2015-12-15 at 3 17 06 pm" src="https://cloud.githubusercontent.com/assets/4266958/11827271/be585362-a33f-11e5-8f8c-c56bc49a0cda.png">

ACL rules get programmed as below in haproxy:

<img width="764" alt="screen shot 2015-12-15 at 3 16 42 pm" src="https://cloud.githubusercontent.com/assets/

[2015-12-15 23:30] mcuadros opened #3036 "dns resolution is not working in any container"
rancher/server:v0.50.0
rancher/agent:v0.8.2
rancher/agent-instance:v0.6.0

Tested with the catalog service `route53` using as hosts custom server, but the error happens also with any other container.

[code]

[code]

[code]

[code]

[code]

[2015-12-15 23:58] mcuadros commented on #3036
https://github.com/docker/docker/issues/11998

[2015-12-16 01:20] dsvmacdonald opened #3037 "Upping a service after forcefully removing not longer works"
After using Rancher Compose to up a service and then forcefully removing it, upping it again fails  with message:

Failed Creating rabbit : Bad response statusCode [422]. Status [422 status code 422]. Body: [code=NotUnique, fieldName=name] from [http://xxx.xxx.xxx.xxx:8080/v1/services]

In Rancher UI, services are still listed (as previous version).  When I delete the services from the UI and then

[2015-12-16 02:29] RVN-BR commented on #3006
I noticed something similar when trying to add a coreos cluster of 3 nodes to rancher... the nodes would go to reconnecting at different times and not recover...  As a weird thing to point out, the 3 nodes registered with the rancher server, but all showed up as a single IP address (same IP address on each host)... is this expected in some way?

[2015-12-16 05:15] deniseschannon commented on #3033
Can you verify that your UI has been updated? After upgrading, the UI might be cached. The UI version should be v0.74.0 with v0.50.0. I don't think that would be the issue, but sometimes that is an issue with people in upgraded setups.

I wasn't able to reproduce your issue going from v0.47.0 to v0.50.0. I created some services in v0.47.0 and edited them in v0.50.0 with no issues in saving them.

[2015-12-16 05:24] alena1108 commented on #3033
@deniseschannon @rubenmch there is a regression bug in v0.50.0 when you can't create service with the name that matches the name of the service that is removed in Rancher:

https://github.com/rancher/rancher/issues/3037

So if the service you edit, happen to have a name = name of any removed service, you would hit the issue

[2015-12-16 05:40] alena1108 commented on #3037
The fix is coming shortly, the current workaround - remove the entire stack and recreate it from the compose (I believe its what you did when you removed all the services from the UI and upped the stack in the compose)

[2015-12-16 10:53] CBR09 opened #3038 "Docker unable to find convoy plugin while using gluster-convoy default template"
Hi @deniseschannon, @cjellick, @ibuildthecloud
Following the solution from this issue #2836 , I was able to launch glusterfs with convoy plugin using default template.
My environment:
**rancherOS**

ros version v0.4.1

**rancher platform**

Rancher	v0.50.0
Cattle	v0.126.0
User Interface	v0.74.0
Rancher Compose	v0.6.2

After succesfully lauch the services, I got the following issue while trying to

[2015-12-16 11:20] floriankessler commented on #2129
@deniseschannon works. Thank you.

[2015-12-16 11:27] fernandoneto commented on #2963
@beenokle did you solve the problem?

[2015-12-16 11:34] Jdesk commented on #2913
i know this issue is close - and this is quite unconventional - but great addition!

[2015-12-16 12:58] rubenmch commented on #3033
@deniseschannon The UI is v0.74.0. The services were originally created in an older version. I first installed rancher in June or July, I think it was v0.32.0. The services were originally created in that version, but I cloned them and deleted the original several times when the option to upgrade didn't exist in rancher.

@alena1108 I get the same error message even if I change the name to a rando

[2015-12-16 12:59] yunspace commented on #2045
I realised I didn't follow the rancher instructions properly: http://docs.rancher.com/rancher/installing-rancher/installing-server/ It seems the `cattle` database should be created with `utf8` charset

    CREATE DATABASE IF NOT EXISTS cattle COLLATE = 'utf8_general_ci' CHARACTER SET = 'utf8';

I've tested this out on OSX with both mariadb 10.1.9 and mysql 5.7.10 installed via `brew`, everything w

[2015-12-16 13:13] demarant commented on #1370
I support both @flaccid and @andyshinn suggestions. It is also for us, very common to unregister and move custom host from one environment to another, e.g. from devel to staging during the development stage of new applications. Also common when you kind of need to change the way the host is registered, e.g. adding new persistent labels or specific docker-engine settings ... so indeed there should

[2015-12-16 14:01] y8 commented on #2840
With rancher-server v0.50 you can now just add

[code]

To `global` section in LoadBalancer. And then compression will be enabled on all hosts by default. Check the mime types, so everything that is worth compression is compressed.

[2015-12-16 14:03] jloisel commented on #2840
Thanks, we'll do it when we upgrade to v0.50.0.

[2015-12-16 14:08] y8 opened #3039 "[agent-instance] HAProxy needs to be upgraded to at least 1.5.14 (CVE-2015-3281)"
See: https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-3281

Right now with rancher/server:v0.50.0 `HA-Proxy version 1.5.4 2014/09/02` is bundled.

[2015-12-16 14:28] teon commented on #3038
+1 - I've setup glusterfs + gluster convoy from catalog - then created a copose file with 'volume_driver: convoy' and the server has in logs:
[code]

[2015-12-16 14:46] Ilya-Kuchaev opened #3040 "Cant edit Load Balancer"
Edit Load Balancer
Validation failed in API: name is not unique

Component	Version
Rancher	v0.50.0
Cattle	v0.126.0
User Interface	v0.74.0
Rancher Compose	v0.6.2

[2015-12-16 14:55] Negashev opened #3041 "rancher compose with dollar sign"
How i can add dollar sign to metadata in rancher-compose.yml

add some string :)
![screenshot 16](https://cloud.githubusercontent.com/assets/4653589/11844804/72269f28-a432-11e5-9962-48d2ad8daf2b.png)

and in result :(
![screenshot 17](https://cloud.githubusercontent.com/assets/4653589/11844806/74dda932-a432-11e5-845b-8865d9ce8e7b.png)

[2015-12-16 15:24] janeczku opened #3042 "Cloning hosts doesn't work with generic drivers"
#### Steps to reproduce
1. Add a new host using Openstack driver:  `Add Host` => `Other` => `Driver`: openstack
2. Select `Clone` from the host’s drop down menu

#### Expected result
Add Host page is shown with `Other` pre-selected and form fields for the generic driver populated with data of the cloned host.

#### Actual result
Add Host page is shown with no driver pre-selected and no fields popu

[2015-12-16 15:37] cusspvz commented on #2963
@petyunchik I'm a little bit confused, correct me if I'm wrong. You're saying that you aren't experiencing this issue with load balancers configured on *TCP* mode instead?

[2015-12-16 16:13] cjellick commented on #3038
@CBR09 @teon The name of the driver is going to be the name of the convoy gluster storage pool, which by default is convoy-gluster, not just 'convoy'. Have you tried convoy-gluster as the driver name?

[2015-12-16 16:41] teon commented on #3038
@cjellick the plugin name I've entered in the docker compose: *convoy* was suggested by your blog post (and the youtube tutorial from there): http://rancher.com/how-rancher-storage-services-unleash-the-power-of-software-defined-storage/ - there in docker compose file was this name.

Never the less, still it doesn't work - i've entered: *convoy-gluster* as you suggested and still it doesn't work:

[2015-12-16 17:23] alena1108 commented on #1794
Closing the issue after chatting with @ibuildthecloud . Environment variables are no longer recommended method for connecting to linked services in Docker: https://docs.docker.com/compose/env/

You should use linked service name instead for resolution

[2015-12-16 17:23] #1794 closed

[2015-12-16 17:42] alena1108 commented on #2253
should be fixed in the latest

[2015-12-16 17:42] deniseschannon commented on #3040
Duplicate of https://github.com/rancher/rancher/issues/3033

[2015-12-16 17:42] #3040 closed

[2015-12-16 17:43] cjellick commented on #3038
@teon Can you check your rancher-agent logs to see if there is anything interesting there and post it here?

[2015-12-16 17:44] deniseschannon commented on #3042
Duplicate of https://github.com/rancher/rancher/issues/2226

[2015-12-16 17:44] #3042 closed

[2015-12-16 17:50] deniseschannon opened #3043 "Update `Add Label` to `Add Engine Label` area so that it helps differentiate host label/engine label"
v0.50.0
UI v0.74.0

![screen shot 2015-12-16 at 9 48 48 am](https://cloud.githubusercontent.com/assets/11410997/11849002/651fc4d8-a3da-11e5-9788-d99e6137a882.png)

[2015-12-16 17:50] sangeethah commented on #3037
Tested with rancher server version - v0.50.1-rc1
Upping a service after forcefully removing it  works as expected.

[code]

[2015-12-16 17:51] #3037 closed

[2015-12-16 18:11] deniseschannon commented on #3040
@Ilya-Kuchaev Can you just confirm that this is an upgraded setup?

Also, are the services that you are trying to edit from the previous release? You are able to start new load balancers and edit them.

[2015-12-16 18:37] hibooboo2 commented on #2967
It depends on the setup you are using. If you are using a new setup it should be fine. But it it is a longrunning one that has upgraded it may have it so that the person logged in is actually 1a1.

[2015-12-16 18:40] sangeethah opened #3044 "We are allowed to edit services and set its name to of an existing service name. Futher edits on this service errors out with "Validation failed in API: name is not unique"."
Server version - V0.50.0-rc5

Steps to reproduce the problem:

Create a service S1 with name - "test1".
Create a service S2 with name - "test2".
Update service S2 and set name to "test1". This update is successful. This should not be allowed.

Now try to edit service S1/S2 and set a new name (like test3). This update fails with "Validation failed in API: name is not unique" error.

[2015-12-16 18:48] alena1108 commented on #3044
Steps to reproduce the bug:

1) Create services foo and bar
2) rename service foo to bar - allowed, bug.
3) try to rename service bar to anything else - always fails. Caused by previously allowed duplicated naming on step 1)

[2015-12-16 18:49] deniseschannon commented on #3033
I have finally been able to reproduce in one use case, but not sure if this is your use case.

Steps to Reproduce:

1. Create LB1.
2. Create LB2. Edit name to same as LB1.
3. Try to edit either original LB1 or duplicate LB1.

Result: Validation failed in API: name and am unable to save anything.

@rubenmch @Ilya-Kuchaev Did either of you do anything like this where you have multiple services with

[2015-12-16 18:52] deniseschannon commented on #2967
It was a new set up.

[2015-12-16 19:03] eebjr commented on #2621
I just fired up a route53 container, on Rancher v50, and it worked! It removed an entry that I didn't expect it to remove, but that's on me... Looks like this is working for me now. Thanks.

[2015-12-16 19:06] msh100 opened #3045 "Cloning/upgrading a service checks the "set a specific hostname" option"
If you go to clone or upgrade a service, under advanced options for the new service on the networking tab the radio box "Set a specific hostname" will always be set, even if "Use the container name" was selected on the previous service.

This is also the default option when creating a new service however I suspect that this is incorrect as it's an empty text box.

![image](https://cloud.githubuser

[2015-12-16 19:07] alena1108 commented on #2621
@janeczku thanks for debugging and fix it!

[2015-12-16 19:14] deniseschannon commented on #3033
The use case that I believe @rubenmch @Ilya-Kuchaev hit would be outlined below.

Have an existing service with name `foo`. Delete the service. In the DB, you will have a service of name `foo` with a `Removed` state. Note: This could have occurred in any previous release of Rancher that you were using.

You have an active service with name `foo`. If you try to edit this service, the validation for

[2015-12-16 19:14] #3033 closed

[2015-12-16 19:47] alena1108 commented on #1832
This issue is caused by a bug in our generic process management code. @ibuildthecloud ^^

[2015-12-16 19:49] alena1108 commented on #1998
This is a generic bug in our config framework. If any of the config scripts fail (iptables, haproxy, dns, etc), we don't propagate this error to the user.

[2015-12-16 20:11] lewistaylor commented on #1796
@gmeans this is not a rancher issue, I had the same problem but it was because the permissions on the bucket created did not match the IAM user I was uploading with.

[2015-12-16 20:17] vincent99 commented on #3027
@bibby d'oh.. thanks.

[2015-12-16 20:22] teon commented on #3038
@cjellick yup, here are my agent logs:
[code]

[2015-12-16 20:26] teon commented on #3038
glusterfs (from catalog) and convoy-gluster are running - all done with help and exactly the same configuration as in the blog post I recently referenced.

[2015-12-16 20:35] pedrommone commented on #2628
Same happens to me. If I force the `fpm` IP it works well, if I use a DNS, it falls.

[2015-12-16 20:38] cjellick commented on #3038
@teon Are all your hosts in the storage pool? On the storage pool page, it lists the hosts that are part of the storage pool.

The symptoms your are describing lead me to believe that convoy-gluster is not being deployed to all hosts and that containers are being deployed to a host where convoy-gluster is not running.

[2015-12-16 20:40] vincent99 commented on #2983
`{}` is a valid empty YAML file.

Fixed the dropdown switching.

[2015-12-16 20:58] bacheson commented on #2997
It appears Ubuntu 15.10 is the problem. Reverting everything to Ubuntu 14.10 solved everything. It would be extremely helpful to put up a notice on the install page. Ubuntu 15.10 should be avoided.

[2015-12-16 21:00] blahRus commented on #2918
+1

[2015-12-16 21:05] sshipway opened #3046 "Update example in volumes box to [/vol/on/host:]/path/in/container[:ro]"
I have a simple container service defined, that uses an ephemeral directory mapping.
Under CoreOS 766/Docker 1.7 this starts up fine; however under CoreOS 877/Docker 1.9 the instance fails to start.  Digging into the logs, I can see the message:
[code]
Firstly, it would be more helpful if Rancher made this log more visible when a container fails to start.  Maybe show "Last error" in the Container

[2015-12-16 21:14] teon commented on #3038
@cjellick I'm testing Rancher before deploying to production and have only one host in this environment. So I've deployed glusterfs and convoy only on one host. So all servers and convoy are running on one host.

[2015-12-16 21:18] vincent99 commented on #2977
All the assets are fingerprinted, but the server needs to send a `Cache-Control: max-age=0, no-cache` header so that the actual index.html gets re-pulled by the browser.

[2015-12-16 21:19] cjellick commented on #3038
ok @teon. Could you share the logs for the container with image `rancher/convoy-agent` and command `"/launch volume-agent"`?

Also, on the host, are there any files in /etc/docker/plugins? There should be a file there can you share its contents (which should just be a path to a socket filed).

Finally, what version of ranher and docker are you running?

[2015-12-16 21:23] pedrommone opened #3047 "Cannot rancher-composer up"
I'm getting this error when trying to up an service.

[code]

__docker-composer.yml__
[code]

[2015-12-16 21:25] alena1108 commented on #3047
Duplicate of https://github.com/rancher/rancher/issues/3037. Please upgrade to v0.50.1:

http://forums.rancher.com/t/rancher-release-v0-50-1/1272

[2015-12-16 21:25] #3047 closed

[2015-12-16 21:26] alex88 commented on #2628
@pedrommone are you using nginx? how's your config?

[2015-12-16 21:28] pedrommone commented on #3047
@alena1108 i'm already using the latest version!

[code]

[code]

[2015-12-16 21:31] teon commented on #3038
@cjellick logs for the convoy-agent container:

[code]

I think there is an error in the launching volume agent command, sine it does nothing but displaying the help, here is copy paste of few commands I run in the container (I've also run the storepool-agent command to see what will happened):

[code]
Software version:
[code]

[2015-12-16 21:34] cjellick commented on #3038
Can you post the output of `docker ps -a`?

[2015-12-16 21:36] teon commented on #3038
sure:

[code]

[2015-12-16 21:37] teon commented on #3038
@cjellick This is docker ps -a from the host on which the agent runs and storage/gluster/convoy runs.

[2015-12-16 21:42] cjellick commented on #3038
Cool. Thanks.

There should be two rancher/convoy-agent containers running here: one with the command `/launch storage-pool` and one with the command `/launch volume-agent-glusterfs`.

I only see `/launch storage-pool` running. This is usually caused by the host not having the label specified in the convoy-gluster catalog entry. The volume agent is only deployed to hosts that have that label. By d

[2015-12-16 21:46] teon commented on #3038
That helped! The host did not have the label, so I've added the label by hand and after adding, automatically **convoy-gluster_convoy-gluster_1** container was launched. After that the stack using the convoy-gluster volume also launched ;-)

[2015-12-16 21:51] deniseschannon commented on #3047
@pedrommone Can you try pulling rancher/server v0.51.1 and check that the image IDs match? We only updated latest a couple of hours ago.

[2015-12-16 21:52] pedrommone commented on #3047
I've updated ~30 minutes a go. :smile:

[2015-12-16 21:54] deniseschannon commented on #3047
Can you click on the cow in the upper right hand corner of your Rancher set up to make sure the version is v0.50.1?

[2015-12-16 21:55] deniseschannon commented on #3047
Also, are you sure that there are no services in the stack that you are doing the `rancher-compose up` that do not have any of the same names?

[2015-12-16 21:55] cjellick commented on #3038
Sorry it took so long and that I didnt ask that sooner!

[2015-12-16 21:56] teon commented on #3038
@cjellick no need! you guys are doing great work with rancher so I would like to thank you for that! I have high hopes for racher so getting back to work ;-)

[2015-12-16 21:59] cjellick commented on #3038
haha :+1:

[2015-12-16 22:04] teon commented on #3038
@cjellick having you on the line - one question regarding storage - I see that all this are working, so I would like to expand the cluster. After adding another host to the cluster how should I migrate (or will rancher do it automatically) one of the 3 gluster-server to new host?

[2015-12-16 22:05] teon commented on #3038
Also should I deploy convoy-gluster container and tag it with *convoy.glusterfs=true* on that new host?

[2015-12-16 22:23] cjellick commented on #3038
@teon
To your first question: scaling/migrating glusterfs is a little tricky. When we first spin up the glusterfs stack, we create a single glusterfs volume (note this is the gluster concept of a volume and not the docker concept). That volume has three replicas (they use the term 'brick') -one on each host. If you added a host and killed one of the glusterfs-server containers, a new container wou

[2015-12-16 22:33] pedrommone commented on #3047
I rollback to v0.49, but, I was doing `rancher-composer up` and some of the containers were running.

[2015-12-16 22:40] vincent99 commented on #2957
This will require exposing the exit code in the API to do properly.

[2015-12-16 23:26] alena1108 commented on #3024
Duplicate of https://github.com/rancher/rancher/issues/1589

[2015-12-16 23:26] #3024 closed

[2015-12-16 23:40] pedrommone commented on #2628
@alex88 yep!

[code]

[2015-12-16 23:51] alena1108 commented on #1819
Looks like a duplicate of https://github.com/rancher/rancher/issues/1526 @sangeethah?

[2015-12-16 23:54] sangeethah commented on #1526
closing this issue in favor of #1819

[2015-12-16 23:54] #1526 closed

[2015-12-16 23:54] alex88 commented on #2628
@pedrommone how do you replace that %fpm-ip%? Is it a linked docker service?

[2015-12-16 23:57] alena1108 commented on #1736
@sangeethah Haven't seen this issue for a while, please reopen if it happens again

[2015-12-16 23:57] #1736 closed

[2015-12-16 23:57] alena1108 commented on #2029
@sangeethah haven't seen this exception after upgrading to docker 1.9 (used to happen a lot in the previous versions). So marking it with "to-test"

[2015-12-16 23:59] pedrommone commented on #2628
it's a linked docker. I replace with `fpm`

heres the docker-composer.yml
[code]

[2015-12-17 00:03] #2761 closed

[2015-12-17 00:16] alex88 commented on #2628
First of all, I think you can just use `links: - fpm` without `fpm:fpm`, it's redundant
Second, that nginx config will resolve the fpm dns only on boot, probably even before rancher has a response for that, so you'll get that error. I solved the issue with:

[code]

This will resolve the dns every 5 seconds it needs to connect to `api`. Be sure to set `ipv6=off` otherwise nginx won't correctly res

[2015-12-17 01:00] pedrommone commented on #2628
Worked after remove `upstream` from nginx and used this block of code

[code]

Pro tip: do not use upstream.

[2015-12-17 01:50] rokka-n commented on #2335
I just install vagrant, virtualbox and checkout rancher repo. Everything on vanilla macbook.

vargrant up (with only change $number_of_nodes = 3).
After few minutes of running ok, hosts in UI go in "reconnecting" state.

Restarting VMs makes it connected again, but after few mins they fail again.

[2015-12-17 02:17] #2997 closed

[2015-12-17 02:31] cusspvz commented on #2335
@rokka-n , as @alena1108 has described, this issue covers orphan agents, I supposed they get stuck indefinitely here:

--

@rokka-n seems that you're describing the same behavior we noticed on #2196 .

You are more likely experiencing the same as we are, agent scripts are getting stuck and don't ping back or they simply time out.

Whats the docker version you have on hosts and server?
Whats the ra

[2015-12-17 03:25] CBR09 commented on #3038
Thanks @cjellick, using 'convoy-gluster' instead 'convoy', everything is okay. I was able to lauch container with convoy-gluster driver.

Ah, I have a question about storage, When deploying convoy-agent, I saw a convoy-agent running with command "/launch storage-pool", What purpose do this container for?

[2015-12-17 04:08] deniseschannon commented on #3047
If the services are already running in the stack that you are adding services to, then the name validation will fail.

You cannot have 2 services with the same name in the same stack. Are you trying to upgrade the services to the newer docker-compose.yml that you have? If so, you can use `rancher-compose up --upgrade`.

Read more about in-service upgrades: http://docs.rancher.com/rancher/rancher-c

[2015-12-17 04:15] deniseschannon commented on #3045
Reproduced with v0.50.1.

[2015-12-17 04:27] sshipway opened #3048 "Feature - Catalogue item for F5 integration"
It would be a great idea to have a catalogue item that performs F5 BigIP integration.
In much the same way that the Cloudflare and Route53 applications catch configuration events and update their DNS services, an F5 Service would catch events and manage Virtual IP addresses, balancer pools, and firewalls on an F5 BigIP device using their API.
Host and Service labels could be used to indicate prefe

[2015-12-17 04:30] sshipway opened #3049 "feature - Support for SSL in Rancher web interface"
Currently, I have to install an nginx proxy to wrap SSL around the Rancher web interface.  It would be far better if Rancher supported SSL natively.

[2015-12-17 05:56] andyshinn commented on #3041
According to the Docker Compose documentation, you use two `$` to have a literal `$`: https://docs.docker.com/compose/compose-file/#variable-substitution.

[2015-12-17 06:08] Negashev commented on #3041
@andyshinn It's not help

i write: kernel: "$$VAR_NOT_INTERPOLATED_BY_COMPOSE"
![screenshot 19](https://cloud.githubusercontent.com/assets/4653589/11862560/4cba8f48-a4ae-11e5-8853-a7f6180e36dc.png)

and i write:   kernel: "${VAR_NOT_INTERPOLATED_BY_COMPOSE}"
![screenshot 20](https://cloud.githubusercontent.com/assets/4653589/11862567/6a7e9038-a4ae-11e5-924e-fe057146febe.png)

[2015-12-17 06:12] Negashev commented on #3041
kernel: "\$VAR_NOT_INTERPOLATED_BY_COMPOSE"
![screenshot 21](https://cloud.githubusercontent.com/assets/4653589/11862617/fcae6438-a4ae-11e5-9395-3a2f8e01190e.png)

[2015-12-17 08:28] nczz opened #3050 "Login fail ( cannot read property forEach of Null)"
<img width="1276" alt="2015-12-17 02 19 26" src="https://cloud.githubusercontent.com/assets/5238961/11864756/4f916094-a4da-11e5-96c7-e4e12b455b85.png">
When I login in my Rancher server's admin account, I got the fail message as this screenshot.

But normal in demo account.

[2015-12-17 08:43] Negashev commented on #3041
It's work!

i write: kernel: "$$VAR_NOT_INTERPOLATED_BY_COMPOSE"

![screenshot 19](https://cloud.githubusercontent.com/assets/4653589/11862560/4cba8f48-a4ae-11e5-8853-a7f6180e36dc.png)

[2015-12-17 08:43] #3041 closed

[2015-12-17 10:13] utrack opened #3051 "Process environment.create fails with Timeout"
When trying to create a stack from catalog (es in my case) the process creating it (named `environment.create`) gets stuck indefinitely.

On a closer look, the `rancher-compose-executor` fails with the error:

[code]

Rancher service spam this in logs:

[code]

`192.168.10.5` is host's IP. However it could happily use `127.0.0.1` instead.

Further research shows that I can't ping 192.168.10.5 (hos

[2015-12-17 10:54] beenokle commented on #2963
Hi Guys, do you have any updates?
Just checked logs of etcd containers, nodes are running in managed network mode (sure without any load balancers, just linked with each other, but on separate host machines, so rancher builds tunnels to each container, am i right?)
Sometimes they lose connection, there are such messages in logs
[code]
Problems with IPsec?

[2015-12-17 11:15] cusspvz commented on #2963
@beenokle I've experienced this with containers on the same host as well, so I'm not so sure of that. Unless this issue has more than one cause.

[2015-12-17 12:16] curratore opened #3052 "Add Digital Ocean Host fails"
I am trying to add a host from DO.
Added the token, an ubuntu image, http://get.docker.com, overlay filesystem, etc.
But always has the same final:

`Error running provisioning: Unable to verify the Docker daemon is listening: Maximum number of retries (5) exceeded`

[2015-12-17 12:18] curratore commented on #3052
Here are the versions
![rancherscreenshot](https://cloud.githubusercontent.com/assets/1506358/11869500/9f3d22aa-a4c0-11e5-9b3d-aeb29e4e39b4.png)

[2015-12-17 13:30] teon commented on #3038
@cjellick I followed your advice and bootstraped from scrach. I've installed rancher 0.50.1 added 2 hosts (clean dockers) - deployed example container to run on each host - network agents were bootstraped - all seem to work fine.
Now deploying glusterfs from catalog - and... all 3 servers, volumes were created just on one host. Why?
Clicking "Scale +1" and the fourth gluster server is also deploye

[2015-12-17 13:33] utrack opened #3053 "Network Agent boot loop"
Network Agent's container enters bootloop on ` ip link add dev arpproxy type dummy` if `CONFIG_DUMMY` not set when compiling kernel. Maybe detect it and bail out?

[2015-12-17 13:38] xrain0610 opened #3054 "loadbalance don't create container !!!!"
Component	Version
Rancher	v0.49.1
Cattle	v0.121.0
User Interface	v0.71.0
Rancher Compose	v0.6.1

I don't know why my loadbalance now have 0 containers, and it show the green status..

[2015-12-17 13:40] xrain0610 commented on #3054
can't upload the image...
![Uploading 32.png…]()

[2015-12-17 13:40] xrain0610 commented on #3054
Stacks LoadBalance  Service:
 Shadowsocks

State: Active
Type: Load Balancer FQDN: None Scale: Global
Ports
Containers
Links
State	Name	IP Address	Host	Image (Command)	Stats
This service does not have any containers yet.

[2015-12-17 13:41] Osso commented on #3017
+1

[2015-12-17 14:50] Osso opened #3055 "Bogus Rancher DNS AAAA response"
This is the behavior in 0.49.1
14:33:45.271475 IP 10.42.154.232.59997 > 169.254.169.250.domain: 43130+ A? web-proxy. (27)
14:33:45.271568 IP 10.42.154.232.59997 > 169.254.169.250.domain: 25109+ AAAA? web-proxy. (27)
14:33:45.272229 IP 169.254.169.250.domain > 10.42.154.232.59997: 43130* 1/0/0 A 10.42.11.188 (43)
14:33:45.316767 IP 169.254.169.250.domain > 10.42.154.232.59997: 25109 0/1/0 (102)
14:

[2015-12-17 15:54] joostliketoast opened #3056 "Error when clicking on catalog button"
I get an error with the latest rancher version when i click on the catalog button
![rancher](https://cloud.githubusercontent.com/assets/5398047/11874116/59704018-a4de-11e5-9672-3b3aecdf2f51.png)

![rancher](https://cloud.githubusercontent.com/assets/5398047/11874162/8fd99cbc-a4de-11e5-9cc4-2dbda5dcb26c.png)

rancher server is started with the following command:
[code]

error output from ```/var/lo

[2015-12-17 16:03] joostliketoast commented on #3056
mhmm doesn't seem related to the new version...
i reverted back using
```sudo docker run -d -v /mysql:/var/lib/mysql --restart=always -p 8080:8080 rancher/server:v0.50.0```
and the catalog page still breaks

[2015-12-17 16:10] cjellick commented on #3038
@CBR09 The `/launch volume-agent` containers are the ones that actually start convoy and register it as a plugin for docker.

The `/launch storagepool-agent` container manages metadata about all the `/launch volume-agent` containers. It reports monitors and reports to rancher-server about what hosts are in the storage pool.

I should mention that the `/launch volume-agent` containers _also_ send m

[2015-12-17 16:10] bhinkle-ezesoft commented on #2986
Just happened again:

2015-12-17 15:26:13,933 ERROR [:] [] [] [] [cutorService-18] [i.c.p.i.a.a.i.l.a.ADIdentityProvider] Ldap Failure during group retrieval: Unable to borrow a service context from context pool. io.cattle.platform.iaas.api.auth.integration.ldap.ServiceContextRetrievalException: Unable to borrow a service context from context pool.

[2015-12-17 16:12] cjellick commented on #3038
@teon That is very strange. The glsuterfs catalog has a soft anti-affinity scheduling rule that should have caused it to get deployed across the two hosts. Could be a new/separate bug. But you are absolutely correct in expecting it to deploy across those two hosts.

[2015-12-17 16:29] teon commented on #3038
@cjellick the question is right now - what can I do? I'm holding my rancher deployment - since I need persistant storage across all hosts... ;-(

[2015-12-17 16:56] cjellick commented on #3052
@curratore Unfortunately, that combination is not going to work.

The base OS used by docker-machine's digitalocean driver does not have the minimally required linux kernel version and does not have overlayfs enabled. It is using 3.13.0-71-generic and overlayfs [requires 3.18](https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/#configure-docker-with-the-overlay-storage-driver)

[2015-12-17 17:01] cjellick commented on #3038
@teon can you destroy and redeploy the the glusterfs catalog item and see if it gets deployed across the two hosts?

Quick question: are you running rancher-server on one of the two hosts?

[2015-12-17 17:13] deniseschannon opened #3057 "Add ability to highlight text on table headers"
When there are errors in deploying a service/container, there is no easy way to grab the error except to take a screenshot.

<img width="308" alt="screen shot 2015-12-17 at 9 12 46 am" src="https://cloud.githubusercontent.com/assets/11410997/11876389/5b6f2ee6-a49e-11e5-95b5-da088422f34d.png">

[2015-12-17 17:19] deniseschannon commented on #2979
@ronag Do you have a good example I could try and reproduce with? I have never really used the device mappings...

[2015-12-17 17:22] cjellick opened #3058 "Callout or hide behind advanced tab the engine options we exposed for docker-machine"
Some of the engine options are pretty advanced and in fact dont work with some of the docker-machine drivers. I think we should hide these behind and advanced tab and add a note that they may not work with all drivers.

Example issue where this caused a problem:
https://github.com/rancher/rancher/issues/3052

[2015-12-17 17:23] cjellick commented on #3052
I'm going to close this issue, but please refer to the referenced one for our plan to address.

[2015-12-17 17:23] #3052 closed

[2015-12-17 17:39] xrain0610 commented on #3054
I find the problem , when i  select "Always run one instance of this container on every host" and set the scheduling options , it doesn't create container

[2015-12-17 17:44] rokka-n commented on #2196
#2335

@cusspvz, I run it from this branch.
* 8527c45 - (HEAD -> master, origin/master, origin/HEAD) Update README.md (2 days ago)

From rancher server:
[rancher@rancher ~]$ rancherctl --version
rancherctl version v0.4.1
[rancher@rancher ~]$ docker --version
Docker version 1.9.1-rc1, build 4663423

From agent's API info:
[code]

To reproduce:
Install virtualbox (Version 5.0.10 r104061) on a mac co

[2015-12-17 17:45] teon commented on #3038
@cjellick Redeploymet still deploys on one host. Rancher server is on different host then two hosts in cluster.

[2015-12-17 17:52] deniseschannon commented on #3054
Do you have a host that would match the scheduling options? Do you have a host label that exists on one of the hosts so that the LB could launch containers?

[2015-12-17 17:55] thresheek commented on #3055
This kind of behaviour is also outlined as bad in https://www.ietf.org/rfc/rfc4074.txt.

[2015-12-17 17:59] xrain0610 commented on #3054
yes ,  i only one host can access the public network, so  i set the label as "role=gate",  when i update the rancher to the v0.49.1  , the problem occured, I update the rancher server to v0.50.1 just now, the problem always occured, and I find the  rancher/agent-instance has new version v0.6.0 , but my system always deploy it use the version v0.5.0.

[2015-12-17 17:59] xrain0610 commented on #3054
@deniseschannon yes , i only one host can access the public network, so i set the label as "role=gate", when i update the rancher to the v0.49.1 , the problem occured, I update the rancher server to v0.50.1 just now, the problem always occured, and I find the rancher/agent-instance has new version v0.6.0 , but my system always deploy it use the version v0.5.0.

[2015-12-17 18:01] cjellick commented on #3030
@sangeethah fixed, right?

[2015-12-17 18:06] sangeethah commented on #3030
@cjellick , yes test_native_fields test succeed now.

[2015-12-17 18:06] #3030 closed

[2015-12-17 18:17] tfiduccia opened #3059 "Docker Engine section in Add Host for Packet is on same line as Add Label"
Version 0.50.1

Steps;
1.  Go to Host Page
2.  Click on Add Host
3.  Select Packet

Results:  The Docker Engine section is messed up and showing up on same line as add label

![image](https://cloud.githubusercontent.com/assets/11514927/11877937/a79e6474-a4af-11e5-907e-29270cf28a0c.png)

Expected:
Should show up on next line like all other add pages.

[2015-12-17 18:18] rokka-n commented on #2196
bash-3.2$ git status
On branch v0.50.1

Still broken :(

[2015-12-17 18:22] tfiduccia commented on #3056
Verified this is happening in version 0.50.1.  Need to fix so can test catalog

[2015-12-17 18:28] deniseschannon commented on #2981
To remove singular services in rancher-compose, you would just do `rancher-compose rm service2`

But I do like the idea that the `--cleanup` flag should clean up in the failure case and remove the `service2`.

[2015-12-17 18:34] xrain0610 commented on #3054
@deniseschannon i see the log 2015/12/18 上午2:33:47INFO: Downloading agent http://hk.simcu.com:65534/v1/configcontent/configscripts
2015/12/18 上午2:33:47
2015/12/18 上午2:33:47gzip: stdin: not in gzip format
2015/12/18 上午2:33:47tar: Child returned status 1
2015/12/18 上午2:33:47tar: Error is not recoverable: exiting now
2015/12/18 上午2:33:47
The system is going down NOW!
2015/12/18 上午2:33:47
Sent SIGTERM

[2015-12-17 18:36] alena1108 commented on #3054
@xrain0610 can you check Rancher logs? "Child returned status 1" usually indicates that there is something wrong with haproxy config generation, and you should be able to see this error in Rancher logs.

[2015-12-17 18:43] xrain0610 commented on #3054
the server logs (docker logs):
2015/12/18 上午2:40:422015/12/17 18:40:42 http: proxy error: net/http: request canceled
2015/12/18 上午2:40:472015-12-17 18:40:47,310 ERROR [:] [] [] [] [ecutorService-5] [i.c.p.a.s.ping.impl.PingMonitorImpl ] Failed to get ping from agent [11] count [1]
2015/12/18 上午2:40:472015-12-17 18:40:47,310 ERROR [:] [] [] [] [ecutorService-5] [i.c.p.a.s.ping.impl.PingMonitorImpl

[2015-12-17 18:44] alena1108 commented on #3054
@xrain0610 is it the only exception you are seeing? Could you try to create a new lb service the same way you've created your problematic one, and tail rancher logs. See if there are any other exceptions coming up

[2015-12-17 18:48] xrain0610 commented on #3054
@alena1108  I run a new lb ,
the logs:

2015/12/18 上午2:47:512015-12-17 18:47:51,483 ERROR [6ab20ced-519f-49aa-9c53-03c89531b1a1:321838] [instance:3775] [instance.start->(InstanceStart)->instance.allocate->(InstanceAllocate)] [] [cutorService-44] [c.p.a.e.i.AllocatorEventListenerImpl] No allocator handled [EventVO [id=4f9d6685-7ff9-4f19-b693-43f511aad84d, name=instance.allocate, previousNames=null,

[2015-12-17 18:52] alena1108 commented on #3054
@xrain0610

this error indicates that we file to find a placement for the lb container. Most likely due to the ports already being in use on this host. Try changing public ports for your LB service to the ones that are not allocated already.

[2015-12-17 18:55] cloudnautique commented on #2867
About the time you saw this issue the catalog was trying to use jenkins:1.625.1 which was unable to pull from Docker hub. Depending on how thorough you cleaned up Docker/Rancher it could have removed the image from the cache and been unable to refresh. Can you see it in docker ps -a ? If so are there log entries that you can get at?

On CentOS when mounting the Docker socket into a container you n

[2015-12-17 18:56] tfiduccia commented on #3056
@joostliketoast hello, I was able to track down this issue and have sent it to the development team.  In the meantime you can manually fix this by:

1.  Go to Admin/Settings
2.  Set the catalog url to https://github.com/rancher/rancher-catalog.git

![image](https://cloud.githubusercontent.com/assets/11514927/11878826/27f54ef8-a4b5-11e5-9dfa-bf14f4f1c5a3.png)

This should resolve your issue.  Let m

[2015-12-17 19:01] xrain0610 commented on #3054
@alena1108  i can't upload the image to github T_T,
can i give you my account ?  you can login my test enviroment, and the error also occourd,  i try to set the lb four random ports, but it  doesn't work~

[2015-12-17 19:03] tfiduccia commented on #3056
Version 0.50.1

Steps;
1.  Start with a fresh build
2.  Add a new environment
3.  Go to Environment
4.  Click on Add host
5.  Click on Save when the Site Address page come up
6.  Add host
7.  Go to Admin/Settings page

Results:
Catalog url is set to null

Expected:
Should not be null.  Should be set to https://github.com/rancher/rancher-catalog.git

[2015-12-17 19:04] xrain0610 commented on #3054
@alena1108 I send you a email for my test enviroment,  please check your email (alena@rancher.com)  thanks.

[2015-12-17 19:04] alena1108 commented on #3054
@xrain0610 we don't support random ports yet, its gonna be available only when the following PR gets merged:

https://github.com/rancher/cattle/pull/1165

Just check what ports are in use by your existing services, and pick the one that is not in use

[2015-12-17 19:06] xrain0610 commented on #3054
@alena1108 , thanks, but i mean that i try some unused port to create loadbalance  , but it can't work also.

[2015-12-17 19:06] joostliketoast commented on #3056
that fixed it :)
It was set on a nil value by the 0.50.1 installation.
and with the persistent database reverting back to the 0.50.0 release didn't set change the value.

[2015-12-17 19:13] tfiduccia opened #3060 "Exoscale machine/host not creating"
Version 0.50.1

Steps;
1.  Add host
2.  Try to add an exoscale host

Results:  Host doesn't setup.  Instance on exoscale side is not created either.
![image](https://cloud.githubusercontent.com/assets/11514927/11879253/7e70947a-a4b7-11e5-8e55-7839a7a5d023.png)

Expected:
Exoscale should setup

[2015-12-17 19:22] lewistaylor commented on #2666
+1 also having this problem

[2015-12-17 19:48] cjellick commented on #3038
Oh, @teon we apparently removed the soft anti-affinity rule for the glusterfs stack. I'm looking into why we did that. In the meantime, the stack is going to deploy following the default "least containers" rule which deploys containsers to the the host with the least number of containers.

[2015-12-17 20:14] tfiduccia opened #3061 "First time going to settings page, it's blank"
Version - 0.50.1

Steps:
1.  Add new environment
2.  In welcome page click on Add host
3.  Click on Save it site access page
4.  Add host
5.  Go to Admin/Settings page

Results:
Page is blank.  Have to hit refresh page to make it show up first time

Expected:
Settings page should show up.

[2015-12-17 20:31] Jdesk commented on #2790
I'm getting rate limited hard - and also system failed as a result - it was after the ratelimit was exceeded that the entire cluster shut down - and atm i'm currently screwed as I had to destroy the main server - what do you recommend in terms of size for a 10+ host network for the rancher server - the machines still exist - but the keys are not working - I can reset root pw - but that's going to

[2015-12-17 20:43] tfiduccia commented on #3056
@joostliketoast - this is now fixed in newest build 0.50.2-rc1.  I'm going to close the issue.  Let me know if you see this again.

[2015-12-17 20:43] #3056 closed

[2015-12-17 20:58] deniseschannon commented on #3013
Fixed as of v0.50.0.

[2015-12-17 20:58] #3013 closed

[2015-12-17 21:03] deniseschannon commented on #2501
@silviupanaite @petyunchik Could you provide your Rancher version and rancher-compose version? I'm thinking this might be an issue with incompatibility.

If you set an environmet variable for while you run rancher-compose, it will give a very verbose dump, but it would help us debug.

`RANCHER_CLIENT_DEBUG=true rancher-compose`

[2015-12-17 21:06] deniseschannon commented on #338
@RVN-BR As far as I know, but we haven't tested out other ways.

[2015-12-17 21:09] ibuildthecloud commented on #2634
The official docker compose stance is that these values need to be quoted.  They currently warn in compose 1.5 that they should be quoted and in future version it will cause an error.  Rancher compose will do the same and also say this is an error in the future.  I'm going to close this issue because the values really should be quoted.

[2015-12-17 21:09] #2634 closed

[2015-12-17 21:12] ibuildthecloud commented on #3021
@jwhitcraft That error is a messages coming from the nodes and not the rancher server.  One things that commonly happens with docker is that you run out of inodes before you run out of the disk space.  Can you see if `du -i` on any of your nodes is particularly high?

[2015-12-17 21:46] RVN-BR commented on #2196
I'm having the same/similar issue I believe... in my case the hosts still appear up and from ssh inside the host I can get the rancher api using 127.0.0.1 but not the "host ip", it seems like something is causing it to loose it.... maybe something vbox related :/ (im on the same vbox version and vagrant version...

[2015-12-18 01:49] xaka opened #3062 "[UI] Rename "Create" to "Clone" when cloning resources (i.e. services, etc.)"
That should improve UX a bit as sometimes it's not clear whether I'm creating a new service or cloning existing one. You go for :coffee:  in the middle of the process, you come back and remember nothing about what you've been doing so far.

[2015-12-18 01:51] xaka opened #3063 "[UI] Upgrading service doesn't show applied labels"
Here is what service information looks like:
<img width="1420" alt="screen shot 2015-12-17 at 5 43 09 pm" src="https://cloud.githubusercontent.com/assets/504813/11887201/b348b568-a4e6-11e5-9e56-a1bd6acb1d3d.png">

And here is what upgrading service looks like:
<img width="1440" alt="screen shot 2015-12-17 at 5 43 49 pm" src="https://cloud.githubusercontent.com/assets/504813/11887204/b90ed6c6-a4e6-

[2015-12-18 01:52] xaka opened #3064 "[UI] Cloning service doesn't clone labels"
Here is what service information looks like:
<img width="1420" alt="screen shot 2015-12-17 at 5 43 09 pm" src="https://cloud.githubusercontent.com/assets/504813/11887216/e1e2f10e-a4e6-11e5-979e-cc7ccedf0b4e.png">

And here is what cloning service looks like:
<img width="1439" alt="screen shot 2015-12-17 at 5 43 30 pm" src="https://cloud.githubusercontent.com/assets/504813/11887218/e79de0d6-a4e6-11

[2015-12-18 02:17] deniseschannon commented on #3064
This is a duplicate of https://github.com/rancher/rancher/issues/2342

But in v0.50.1, you should have UI options for most of the UI options for labels.

https://github.com/rancher/rancher/issues/2550

There is a small bug with container hostname when cloning again.
https://github.com/rancher/rancher/issues/3045

[2015-12-18 02:17] #3064 closed

[2015-12-18 02:18] deniseschannon commented on #3063
Cloning and upgrading go through the same UI process, so the comments are the same.

This is a duplicate of #2342

But in v0.50.1, you should have UI options for most of the UI options for labels.

#2550

There is a small bug with container hostname when cloning again.
#3045

[2015-12-18 02:18] #3063 closed

[2015-12-18 02:19] deniseschannon commented on #3062
Where would you want "Create" instead of Clone? In the drop-down menu?

[2015-12-18 02:23] xaka commented on #3064
Oh snap! My bad. I searched through issues and didn't find one.

[2015-12-18 02:24] xaka commented on #3063
Got it. Thanks and apologize for duplication! I'm sure GitHub has enough storage for new issue IDs.

[2015-12-18 02:25] xaka commented on #3062
On the final submit button:
<img width="1439" alt="screen shot 2015-12-17 at 5 43 30 pm" src="https://cloud.githubusercontent.com/assets/504813/11887683/75561e26-a4eb-11e5-97f6-bec6f65fac01.png">

[2015-12-18 05:02] RVN-BR commented on #2857
This may be related to this?

#2196

I'm getting somethign very similar on 2 different host machines (both osx 10.10).... i tried changing the nat settings as seen on another thread somewhere... and nat proxy settings...all to no avail...

maybe this log says something?

[code]

[2015-12-18 05:06] RVN-BR commented on #2857
(the above was triggered by trying to allocate 1 container... happens with any container or stack... even from catalog...)

looks like this,
![image](https://cloud.githubusercontent.com/assets/1218902/11889791/1dfd5bf0-a534-11e5-8a12-0d95ee1f1ece.png)

and the rancher web ui is now completely down... only way to access the vm is with vagrant-ssh... local ip responds with API, the 172 ip is no long

[2015-12-18 06:00] RVN-BR commented on #2857
I've been trying a lot to find out whats going on.... reduced the vagrant count to 1 host only... problem persists...

As soon as any container starts to be deployed, the network agent starts going, when its "ready" however, its impossible to connect to it through the GUI (already dead?)... a few seconds later the "other" container (the one I actually asked to launch) vanishes, and the whole host

[2015-12-18 12:31] miko opened #3065 "Missing options (log_driver and log_opt) in docker-compose.yml configuration"
Rancher	v0.50.0
Cattle	v0.126.0
User Interface	v0.74.0
Rancher Compose	v0.6.2

When starting a new service with rancher-compose using following file:
[code]
everything works OK (e.g. container is sending out logs to the external syslog host). But when exporting configuration (view/export) both options (log_driver and log_opt) are missing from docker-compose.yml file. Also, when upgrading the servi

[2015-12-18 12:55] teon commented on #3029
+1

[2015-12-18 13:09] rlex commented on #2185
will be a nice feature to have, since i terminate all of my SSL websites via nginx on single IP.

[2015-12-18 13:18] teon opened #3066 "Rancher persistant storage (glusterfs+convoy) doesn't work"
I have spent literally few days debugging the problems, and here is a long list of errors I have found - and now I'm unable to do more - rest is up to you guys.
First of all I'm going to write about catalog stack errors - which later I have overcome/fixed by copying the rancher/docker-compose files and fixing them by hand - and then deploying using rancher-compose command line tool.

## GlusterFS

[2015-12-18 13:21] teon commented on #3038
@cjellick I've submitted new bug with all my few days work: #3066

[2015-12-18 14:38] RVN-BR commented on #338
Hi... I tried the above but its not working... I'm going to have to dive deeper into this... for now its not really working... I got it to work once but whole cluster reported a single  IP to the rancher-ui, (3 hosts with the same IP), and then all fell offline shortly after...

tried getting rancher-server up there in a similar way but no dice...

fleet-ctil list-units shows no units... list-unit

[2015-12-18 15:01] cjellick commented on #3029
@cloudnautique you have any input on this?

[2015-12-18 15:43] RVN-BR commented on #2196
Just as a headsup, I installed rancher-server and rancher-agent on a single coreos node and it seems to be working fine...

I'm not sure if its something on the Vagrant setup shipped with rancher, or with rancheros... one of the two for sure...

[2015-12-18 16:21] RVN-BR commented on #3047
I'm having a similar issue, but I'm not upgrading... I delete all stacks in my setup, then try a rancher-compose create, and no matter what I name it, one of my containers always comes back with:
[code]

Docker compose is pretty standard I think... it is working with docker-compose... but not rancher compose...

[code]

The php container is going up, with the sidekick (apparently) ok... but the se

[2015-12-18 16:54] cjellick opened #3068 "Remove host-label scheduling requirement for convoy-gluster"
Just make convoy-gluster deploy globally

[2015-12-18 16:55] cjellick commented on #3068
This will require a documentation update.

[2015-12-18 18:12] bibby commented on #2957
Expressing interest in this change as well.
I've been playing with [this idea](http://nathanleclaire.com/blog/2015/11/10/using-ansible-with-docker-machine-to-bootstrap-host-nodes/) of using a containerized ansible to bootstrap a new host as it joins a rancher env  (global scope, start_once).

Everything works great except for the degraded state.

[2015-12-18 18:17] deniseschannon commented on #3047
@RVN-BR Are you trying to have `php5-fpm` and `nginxweb` use separate `nginx-static-files` services? OR use the same `nginx-static-files` container for both services?

**Scenario 1:** `php5-fpm` and `nginxweb` use volumes from `nginx-static-files`, which are 2 separate services. Since we don't allow 2 services in the same stack to have the same name in order to allow Rancher DNS and metadata to wo

[2015-12-18 18:27] sangeethah opened #3069 "Audit Logs - "Auth Type" sort icon needs to be placed in the same line"
Server version - Build from master
<img width="1504" alt="screen shot 2015-12-18 at 10 23 45 am" src="https://cloud.githubusercontent.com/assets/4266958/11903946/b44e3d1c-a571-11e5-8ffb-e415458bf679.png">

[2015-12-18 18:29] sangeethah opened #3070 "Audit Logs - AuthType is shown as None for actions done from UI."
Server version - Build from master

AuthType is None for all the audit log entries relating to actions done from UI.

API returns authType value:

[code]

<img width="1504" alt="screen shot 2015-12-18 at 10 23 45 am" src="https://cloud.githubusercontent.com/assets/4266958/11903988/fffa58fe-a571-11e5-9522-a14ae2182e1c.png">

[2015-12-18 18:38] andyshinn opened #3071 "Option in rancher-compose to remove services on an upgrade that no longer exist"
[The original forum post](http://forums.rancher.com/t/removing-a-service-on-upgrade/1244/2) has some details. But essentially, I have some cases where I am running one YAML file and then switching to another than has one less service. I would like the ability to have that service removed on an upgrade since it no longer exists.

[2015-12-18 18:59] sangeethah opened #3072 "Audit logs - Identity field shown as empty image for host registration entries and for actions done using API keys."
Server version - Build from master

Create API key for Default environment.
Use this key to create services from rancher-compose.
Audit logs for the entries relating to actions from rancher-compose have Identity field shown as empty image.

 Identity field shown as empty image for host registration entries as well.

<img width="1739" alt="screen shot 2015-12-18 at 10 50 17 am" src="https://cloud.g

[2015-12-18 19:12] deniseschannon commented on #2954
I was finally able to reproduce. I wonder if it's an order of operations as previously I was unable to reproduce.

Steps To Reproduce:
1. Launch Rancher server without the `--restart-always`
2. Add host using the machine that is also running rancher-server
3. Added 10 containers using the docker CLI on the same machine
 ` docker run --restart=always -d nginx`
4. Checked a couple of IPs of the cont

[2015-12-18 19:15] hibooboo2 commented on #3072
This is not an error this is how the api is designed. If you want something different that we need to discuss an api change.

[2015-12-18 19:17] sangeethah opened #3073 "Audit logs - 2 entries created when service gets created."
Server version - Build from master

Steps to reproduce the problem:
Create a service and activate it.

There are 2 Audit log entries with event type - "api.service.create"  for the service.

<img width="1607" alt="screen shot 2015-12-18 at 11 13 19 am" src="https://cloud.githubusercontent.com/assets/4266958/11905058/f00956aa-a578-11e5-93fe-8b996f3a86c0.png">

[2015-12-18 19:28] sangeethah opened #3074 "Audit Logs- Environment status icon shows "in-progess" when launching the "Application" page after accessing "audit logs" page."
Server version - Build from master

Steps to reproduce the problem:
Create couple of services .
Make sure the environment show up "Active" in "Applications" page.
Go to  "audit logs" page.
Go to "Application" page.

Notice that the environment status icon shows "in-progess" icon for all the  services.
The problem corrects itself when the page is refreshed.

<img width="1394" alt="screen shot 2015-

[2015-12-18 19:29] tfiduccia opened #3075 "Service container deletes and creates new one if you select Never (start once)"
version - 0.50.1-rc2

Steps:
1.  Add a host
2.  Add a Service, use hello-world for image and under Advanced Options, select Never (Start Once) for Auto-restart
3.  Start the service

Results:
The container is created, then after it's done, it degrades to started once.  Then the container is deleted, and another one is created.  What is the point of having this option if it just continues to basica

[2015-12-18 19:35] alena1108 opened #3076 "Health check action strategy"
Today once service instance becomes unhealthy, we simply destroy it. We need to make health check actions strategy configurable. Following to support:

* destroy once unhealthy - existing strategy
* noop strategy - do nothing, just provide an indication that the instance is unhealthy
* perform action based on service's quorum. Lets say you have service of scale=5 and quorum=3. Don't destroy unheal

[2015-12-18 19:37] alena1108 opened #3077 "HealthState field to the service"
We have to introduce health_state as a service filed. Today UI generates this state based on the health state of the containers in the service, and that solution wouldn't work for people integrating with our APIs directly.

@vincent99

[2015-12-18 19:38] tfiduccia opened #3078 "Always pull image is set to always even if I uncheck it"
version v0.50.2-rc1

Steps:
1.  Create a service and uncheck Always pull image before creating
2.  Click on service to go to details page
3.  Go to labels tab

Results: pull image label is set to always.  You can also tell this checkbox is being set by clicking on upgrade or clone.  The checkbox is checked and should not be.

Expected: Unchecking should persist.

[2015-12-18 19:38] alena1108 opened #3079 "Incremental backoff for service reconcile"
Implement incremental backoff for service.reconcile process the way we do for our regular processes. Today service.reconcile is triggered by configitem.update where exponential backoff is not supported.

[2015-12-18 19:42] alena1108 opened #3080 "Introduce error state for container"
Container that fails to deploy, gets destroyed immediately today if its a part of the service. It doesn't give user a chance to figure out the reason for its failure. To fix it, we need to introduce one extra state for the container - Error. Container should stay in this state for 1 hour (configurable) and be assigned to the service while in this state. So the user can see all the containers that

[2015-12-18 19:45] deniseschannon commented on #2980
Can you share your entire docker-compose.yml?

I have been unable to reproduce your issue. I am using Rancher v0.50.2, Rancher-Compose v0.6.2 and Docker 1.9.1.

We strongly recommend upgrading to Docker 1.9.1.

[code]

[2015-12-18 19:47] deniseschannon commented on #2934
This is neither a Rancher or Catalog issue. This is actually an issue with Git.

How have you set up your Rancher instance? Is it a plain install?

[2015-12-18 19:50] deniseschannon commented on #3026
There are some known issues with nginx and internal DNS and delay in resolving. You could look at this forum issue on another user's suggestion:

http://forums.rancher.com/t/links-not-working-during-service-upgrade/927/10

Not sure if that will fix your problem.

[2015-12-18 19:51] tfiduccia opened #3081 "Rolling back an upgrade does not roll back service link changes"
Version - 0.50.2-rc2

Steps:
1.  Create a service with no service links
2.  Upgrade service and add a service link and port map
3.  Roll back the changes

Results:  The Service Link is still there.  The port map has been removed.

Expected:  The Service Link should not stay if I rollback the changes.

[2015-12-18 19:53] vincent99 commented on #3039
The packaged version is from Canonical and contains backported security fixes, including this one.

http://changelogs.ubuntu.com/changelogs/pool/main/h/haproxy/haproxy_1.5.4-1ubuntu2.1~ubuntu14.04.1/changelog

[code]

[2015-12-18 19:53] #3039 closed

[2015-12-18 20:03] RVN-BR commented on #3047
Understood... I need both php & nginx to be "loadbalancable", so I think what I will do for now is clone the application data container into 2 like you suggest in your first scenario, and then hopefully once the restriction is removed for multiple container I can remove the dupplication...

Both nginx and php-fpm need access to the volumes apparently, so I think this is the best scenario... will t

[2015-12-18 20:05] deniseschannon commented on #3071
The user would like to remove the service when doing a `rancher-compose up --upgrade`

docker-compose.yml
[code]
rancher-compose.yml
[code]

[2015-12-18 20:06] tfiduccia commented on #3027
error - Uncaught Error: <ui@component:form-networking::ember18445> had no action handler for: addDns

[2015-12-18 20:06] sangeethah opened #3082 "Audit Logs-Additional audit log entries when service is activated using rancher-compose."
Server version - Build from master
Steps to reproduce the problem:

Activate 2 services in a project using rancher compose up.
[code]

Following are the issue seen:

1. Multiple api.scripts.create entries which have identical values for all the values exposed in the UI.
Are these needed?

2. "api.container.create" event for each of the containers that get created. These entries do not have any con

[2015-12-18 20:07] y8 commented on #3039
Oh, sorry, missed that they do have a changelog there.

Thanks!

[2015-12-18 20:21] deniseschannon commented on #3046
We are looking to introduce an error state. https://github.com/rancher/rancher/issues/3080

From what I understand the volumes part that you have is invalid. It might have happened to work in previous Docker volumes, but it's invalid.

[code]
Local volumes must start with `/` or `.`, so either `/:/data` or `.:/data` would be valid.
https://docs.docker.com/compose/compose-file/#volumes-volume-drive

[2015-12-18 20:22] sangeethah commented on #3072
Can we show the Environment name in this case ?

[2015-12-18 20:29] tfiduccia opened #3083 "Unchecking DNS checkbox for clone/upgrade doesn't reset DNS to null"
Version - 0.50.2-rc2

Steps:
1.  Add a service
     Advanced Options/Networking - Set Network to Host and check DNS checkbox
2.  Clone or Upgrade the service and go to Networking and uncheck DNS

Results:
The new cloned service has DNS checked, the system label is created and set to true
![image](https://cloud.githubusercontent.com/assets/11514927/11906600/fd717126-a58a-11e5-864f-dc1b6b50fd9e.png)

[2015-12-18 20:31] RVN-BR commented on #3047
I'm getting an extremely long build time, without any progress apparently...

and also getting some WARN[0001] Service php5-fpm is out of sync with local configuration file errors for both the application containers (not the data-only vol)...

Any idea what this might be?  I tried erasing the s3 bucket, deleting the stack and restarting but it always says that...

I wouldnt be too worried if there

[2015-12-18 20:32] tfiduccia commented on #2550
Tested and entered separate bugs against issues.

[2015-12-18 20:32] #2550 closed

[2015-12-18 20:35] tfiduccia commented on #2342
Verified fixed - v0.50.2-rc2
Start-once and requested IP are updating for clone/upgrade.

[2015-12-18 20:35] #2342 closed

[2015-12-18 20:38] deniseschannon commented on #3050
What's your Rancher version, how are you authenticated?

Is it a fresh setup or upgrade?

We set up auth all the time and are always logging into Rancher as admin, so I will need more details in order to help reproduce.

[2015-12-18 20:39] vincent99 commented on #3039
@y8 no worries, we didn't know for sure either.. We will be moving to 1.6 in the fairly near future.

[2015-12-18 20:46] deniseschannon commented on #3062
In reality, you are creating a new service. It just happens to be that you started the settings from cloning a previous service.

@vincent99 Any comments? :)

[2015-12-18 21:08] tfiduccia opened #3084 "In upgrade/clone Capabilities are available when Full access is checked"
v0.50.2-rc2

Steps:
1.  Create a service where:
     In Advanced Options under Security/Host tab check Full Access to Host (notice that the Capabilities get dimmed out because "full access".
2.  Now clone or upgrade service and go to the Security/Host tab

Results:
Full Access is still checked but Capabilities are no longer dimmed
![image](https://cloud.githubusercontent.com/assets/11514927/119073

[2015-12-18 21:17] RVN-BR commented on #3047
A cleanup of the machine and re-run of rancher-server and agent (without using fleet) is now working on the php-fpm container... but its still hanging "activating" the nginx container...

Looking at processes I see a service.activate process that times out after abt 15-20 seconds... If I hit stop on the "hanging" container, and start it again, I get a new process but it always timesout...  I see t

[2015-12-18 21:37] alena1108 commented on #3039
@y8 @vincent99 decided not to upgrade just yet, as the current haproxy version is stable with all the security fixes needed. Refer to https://github.com/rancher/agent-instance/pull/10 for more details

[2015-12-18 21:59] tfiduccia opened #3085 "Can't clone/upgrade service that has container run on specific host"
v0.50.2-rc2

Steps;
1.  Add Service, in Advanced Options/Scheduling select Run containers on a specific host and pick a running host.
2.  Try to upgrade or create clone service but don't change the scheduling option

Results:
Validation failed in API: requestedHostId
![image](https://cloud.githubusercontent.com/assets/11514927/11908298/2705432a-a598-11e5-97a2-6476d241441c.png)

Expected:
Should be

[2015-12-18 22:07] sangeethah opened #3086 "Audit Logs - Filter "Auth Type"/"Account"/"Identity" not working."
Server version - Build from master

Steps to reproduce the problem:
Go to Admin->Audit logs.

I see entries for "Auth Type"/"Account"/"Identity".

 click on "show filter" option.
Type in value in "Auth Type"/"Account"/"Identity" field that has a matched entry.

No entries show up in the audit list.

[2015-12-18 22:31] asciifaceman commented on #2918
Came here to search for this before I opened it myself +1

[2015-12-18 22:52] tfiduccia commented on #3061
Saw I was actually getting an error for this in the dev tools:
TypeError: Cannot read property 'split' of null
    at e.default.t.default.Component.extend.didInitAttrs (component.js:9)
    at n.default.extend.trigger (ember.prod.js:46317)
    at r [as trigger] (ember.prod.js:22714)
    at u.componentInitAttrs (ember.prod.js:12625)
    at f.default.extend.init (ember.prod.js:48735)
    at r [as ini

[2015-12-18 22:59] sangeethah opened #3087 "Not able to log into git hub enabled server."
Server version - Build from master

Enabled github authentication.
Created few services.
Logged out.

Tried to log in to rancher server . I am redirected to http://<rancher-ip>:8080/settings/environments and blank page is presented.

<img width="1201" alt="screen shot 2015-12-18 at 2 50 36 pm" src="https://cloud.githubusercontent.com/assets/4266958/11909073/354c902e-a597-11e5-9514-251b89960427.png

[2015-12-18 22:59] tfiduccia opened #3088 "Storage Pool and Volumes name are blue and clickable but don't go anywhere"
v0.50.2-rc2

Steps:
1.  Create two hosts and add convoy.glusterfs=true as label
2.  Create and started Gluster FS
3.  Create and started Convoy Gluster FS
4.  Added new Stack
5.  Create Service (scale 2)
  	image - ubuntu
     	Volumes - tani:/tani1
     	Volume Driver - convoy-gluster
6.  Go to Infrastructure/Storage pool
7.  In Volume section, click on convoy-gluster storage pool name (goes to b

[2015-12-18 23:24] westlywright commented on #3070
@vincent99 do we want to change the map for AdminAuth from None to something around the UI?

[code]

[2015-12-18 23:29] vincent99 commented on #3070
`AdminAuth` means you are admin-by default because access control is off.  So there was "no" auth.

[2015-12-18 23:40] #3070 closed

[2015-12-18 23:43] sangeethah commented on #2029
I have not seen this issue when testing with docker 1.9 hosts.

[2015-12-18 23:43] #2029 closed

[2015-12-18 23:50] sangeethah commented on #3074
@westlywright , I see similar issues when testing in a setup that has multiple environments.

After launching "audit logs" , launching "Application" /"Infrastructure" page shows entries from other environment and the status of these entries are shown as being in progress.

![Uploading Screen Shot 2015-12-18 at 3.35.41 PM.png…]()

[2015-12-18 23:53] #1267 closed

[2015-12-19 00:12] sangeethah opened #3089 "Add support for service restart."
Expose service restart option in UI to extend support for rolling upgrade - #2423

[2015-12-19 00:17] tfiduccia opened #3090 "Links not showing up in graph or in edit/clone until I refresh"
v0.50.2-rc2

Steps:
1.  Create a new Stack
2.  Add a service call service1
3.  Add a service called service2 and link it to 1
4.  Add a load balancer and link it to service2
5.  Add a Service alias and link it to Load balancer
6.  Go to graph
7.  Edit/clone/upgrade any of the above services

Results:  None of the targets/links are showing up.  It looks like there were never created.
![image](https

[2015-12-19 00:17] vincent99 commented on #3074
Ugh, this is bad.. the responseObjects are getting parsed and put into the store and overwriting newer copies of the resource.  The change to serialize the request/responseObject to plain objects is after this has already happened.

[2015-12-19 00:46] deniseschannon commented on #3090
Did you have a second environment? You might be hitting #1389.

[2015-12-19 00:48] vincent99 commented on #3074
Fixing this with the fields as actual objects will require major changes to how API responses are parsed in the UI.  It currently goes depth-first/bottom-up, so it sees the responseObject is say `{type: container, id: 42}` and then updates the copy in the store memory with the "new" info for that container.  In this case though it's a days old copy of that resource and that info shouldn't be used

[2015-12-19 00:51] alena1108 commented on #3035
After the fix, the order would be the following:

* not null path and not null non-wildcard domain
* not null non-wildcard domain
*  not null path and not null wildcard domain
* not null wildcard domain
* not null path

[2015-12-19 00:56] nczz commented on #3050
@deniseschannon thanks for your reply. I forgot to put these information, sorry.

- Rancher v0.47 (fresh setup)
- local authentacated

[2015-12-19 01:12] sangeethah opened #3091 "Audit logs - UI hangs and no details presented when info button is clicked as soon as the audit entry appears."
Server - Build from master

Steps to reproduce the problem:

Restarted a service using api.
As soon as a new "api.service.create" audit entry shows up in the "Audit Log" , click on info button .
UI hangs and I see only "Dismiss" button.

<img width="1192" alt="screen shot 2015-12-18 at 5 03 46 pm" src="https://cloud.githubusercontent.com/assets/4266958/11910342/5d829432-a5a9-11e5-94e8-75f9115fa77b

[2015-12-19 01:14] will-chan commented on #3074
let's fix this before the RC then.

[2015-12-19 06:12] deniseschannon commented on #3065
Verified that the API has the logconfig set in Rancher, but the exported docker-compose.yml does not contain the log_driver and log_opt.

Used v0.50.2

[2015-12-19 06:44] deniseschannon commented on #3066
What OS version are you using for your hosts?

It shouldn't matter whether or not your convoy-gluster is deployed on the same hosts as the glusterfs as the containers across hosts should always be able to communicate with each other. We have gotten  multiple people not understanding that they need to add a host label in order for the convoy-gluster to get deployed. We are planning to make a change

[2015-12-19 09:13] xrain0610 commented on #3054
@alena1108  I find the problem,   when i update to v0.49.0, my host lable doesn't have effect,  when I remove the host lable and re-set the lable ,  It work well.

[2015-12-19 09:13] #3054 closed

[2015-12-19 12:49] msh100 opened #3092 "UDP services don't work with managed networking"
I am having issues with managed networking for a UDP service I have. If I run the same service with a bridged Docker network however it works without an issue. The service is unusable on managed networking.

I suspect this is caused as the source of the reply UDP packets is not the same as the destination of the sending packets.

Example from TCP dump:

[code]

(I have removed hostnames).

On a br

[2015-12-19 13:16] mcuadros commented on #3092
This issue is the problem why DNS services are not working as is explained at: https://github.com/rancher/rancher/issues/3036

This issues is causing to not having name resolution on any container with "Managed" network.

[2015-12-19 13:48] y8 commented on #1920
I've released the `yopp/rancher-localroute:0.2.0` with multiple host ip support and some additional configuration options.

Check the README for details: https://github.comy8/rancher-localroute.

[2015-12-19 15:11] ibuildthecloud commented on #1920
Okay, I believe in 0.52 this will be addressed.  What we are going to do is just pass the port info on to Docker.  This issue has caused enough problems for users that that is the best short term solution we believe.

The problem with Docker managing the ports is that we can't dynamically change them.  Also to get localhost to work Docker uses a user space proxy which is slow.  There is the non us

[2015-12-19 16:16] boedy opened #3093 "[rancher-compose] rancher-compose up doesn't work after rancher-compose rm -f"
Maybe related to: https://github.com/rancher/rancher/issues/1723

After running `rancher-compose rm -f` all my services are removed, but my stack remains. I don't mind this, but if I run `rancher-compose up -d` again It will throw the following error for all my services:

[code]

I have to delete the stack in the UI before I can run `rancher-compose up -d` again

[2015-12-19 17:07] bacheson commented on #3083
Enabling the DNS checkbox when creating a service exposes the same bug in reverse.

[2015-12-19 17:26] ndarilek opened #3094 "As a screen reader user, I cannot find the screen to edit load balancers"
In the previous UI, I was able to edit load balancers by tabbing to the menu, pressing enter, then arrowing to the option. Now, while I can find an option to edit the specific container, I can no longer tab to the option that allows manipulating the load balancer service as a whole. I can't find this option at all with my screen reader, actually.

Can someone please ensure that this option is in t

[2015-12-19 21:49] mishak87 commented on #3026
@deniseschannon Thanks!

[2015-12-19 22:36] xaka opened #3095 "[rancher-compose] Update documentation to mentioned support for env_file option similar to docker-compose"
It looks like `env_file` option is missing for http://docs.rancher.com/rancher/rancher-compose/commands/, but present for `rancher-compose --help`. Not a big problem, but took me a while with a help from @cloudnautique to realize it's actually supported.

[2015-12-19 23:00] xaka opened #3096 "Add configurable delay parameter between restarts upon crash/exit/fail/etc."
For instance I'd like my containers to be restarted with 60 seconds delay after they crash/exit/fail/etc. Exponential delay with upper limit would be another nice addition to reduce the load on hosts that run rancher agents. I think docker labels is a good place to store such configuration.

[2015-12-20 03:26] cloudnautique commented on #3029
I believe this is caused because the Gluster packages are looking to start Samba, and we are not installing samba. The errors do not seem to impact Glusterfs and the ways we are using it. We can look into removing the hooks.

[2015-12-20 03:56] cloudnautique commented on #3095
Hi @xaka, the rancher-compose command does support environemnt files `-e` or `--env-file` should work. The command is built off of docker/libcompose which was contributed by us back to Docker. It is still a work in progress, but it is a Golang implementation of compose (which is python based). There is a PR on libcompose to add strict checking.

Rancher compose does make some subtle changes in beh

[2015-12-20 04:02] xaka commented on #3095
Wow! That's nice. The reason I opened issue is because I couldn't find it in documentation nor on --help. Is it out of date or I'm too drunk?

[2015-12-20 04:07] cloudnautique commented on #3095
`rancher-compose --help` shows it for me.. I think it was added in rancher-compose v0.4.x maybe you have a really old version? :)

 I also couldn't find it in the docs, so we should fix that for sure.  Carry on with the :beer: :smile:

[2015-12-20 04:57] aldeed opened #3097 "Allow overriding default SSL/TLS version support for load balancers"
Thank you for the new haproxy config abilities, but unfortunately since your template sets `no-sslv3 no-tlsv10` on each bind, there does not seem to be any way to override that. Can you use a global `ssl-default-bind-options no-sslv3 no-tlsv10` instead, and allow us to override by adding for example `ssl-default-bind-options no-sslv3` in the "Global" section, which would replace your default line

[2015-12-20 06:08] xaka commented on #3095
Alright alright, it's my fault (well, not actually mine, but :beers:), but I just double checked http://docs.rancher.com/rancher/rancher-compose/commands/ and couldn't find anything useful :stuck_out_tongue: . I'm going to change the title...

[2015-12-20 06:26] xaka opened #3098 "[ui] Display actual container ID"
Due to unknown issue it's not always possible to see container's logs from UI (I have no logging driver applied and I'm getting `disconnected` error) so the only option I have is to ssh onto rancher agent host and run `docker logs -f`, which is kind of complicated as I don't know the actual container's ID in UI and have to go through multiple steps to get to where I want.

Here is the console erro

[2015-12-20 22:51] deniseschannon commented on #3050
Can you try the latest version of Rancher? v0.50.1

I use local auth all the time and have no issues logging in as an admin.

[2015-12-21 03:19] sshipway opened #3099 "[convoy-nfs] Mount fails due to source port >1024"
The NFS mount request coming from convoy-nfs comes from a port number >1024, rather than a privileged port.  This means that the standard NFS installtion will refuse the mount unless it is exported as 'insecure'.

Is it possible for convoy-nfs to use a privileged port <1024 for mounts?  I can see why a higher number port is being used, but possibly the first such mount could use a privileged port

[2015-12-21 03:25] sshipway commented on #3046
It is worth noting that the when creating a new container and clicking the "Volumes" tab, the example given is:
[code]
which is therefore incorrect.  It should be
[code]
A small thing, but might help prevent others making this mistake.

[2015-12-21 05:51] ibuildthecloud commented on #3099
Hmm... This is because the traffic is getting NAT'd.  I wonder if we can easily switch to `net: host` and then this wouldn't be an issue.

[2015-12-21 05:52] ibuildthecloud commented on #3099
I'll investigate switching to `net: host`

[2015-12-21 10:40] teon commented on #3066
I'm running Debian Jessie on all hosts - but this should not be an issue - gluster is deployed by docker, and any errors there are - are image not host based.

Here is my gluster stack:
[code]

[2015-12-21 14:44] schuylr commented on #3027
Is this fixed in a release yet? I'm still reproducing the problem in v0.50.2

[2015-12-21 14:55] Rucknar commented on #3022
http://forums.rancher.com/c/announcements
I get an email when a new release is made available.

[2015-12-21 15:26] ibuildthecloud commented on #3022
@smw355 are you saying you'd like something in the Rancher UI itself?

[2015-12-21 16:26] vincent99 commented on #3022
Yes, it's going into the help screen (by reading the forum announcements)

[2015-12-21 17:08] bacheson opened #3100 "Dangerous DNS behaviour"
v0.50.0

I have SERVICE1 in STACKA. I also have SERVICE1 in STACKB.

Within STACKB nslookup SERVICE1 is resolving to the service in STACKA.

The containers all have network=host and the container network enabled. Basically the stacks are not being respected. Is this expected behaviour?

[2015-12-21 17:21] bacheson commented on #3100
Ok this is even more interesting. I've enabled managed networking on all services. This re-produces another baffling situation:

StackA
-service1
-service2
-service3

StackB
-service2

in StackA
  1) nslookup service2 -> StackA:service2
  2) stop service2
  3) nslookup service2 -> StackB:service2

This is extremely dangerous behaviour.

[2015-12-21 17:26] westlywright commented on #3086
@sangeethah after talking with @vincent99 we're going to remove Account and Identity filters. These two filters we have to remap to make the data useful to display so the filter input would look drastically different then the display. Since your can sort them we feel that removing the ability to filter by those fields is acceptable. I will be changing the Auth Type filter to a dropdown.

[2015-12-21 17:31] schuylr opened #3101 "convoy-gluster volume mount is read-only"
My convoy-gluster template seems to have become read-only all of a sudden.

On one of the hosts:

[code]

Screenshot of the volume config of the container on the same host:

![screen shot 2015-12-21 at 12 30 20 pm](https://cloud.githubusercontent.com/assets/12628715/11936865/a597e84e-a7de-11e5-9b0f-ae18d1a4a0f9.png)

Trying to `touch` a file on the mount path in the container:

[code]

To reproduc

[2015-12-21 17:40] alena1108 commented on #2097
@sangeethah

1) Port range is defined on per environment (project) basis. New API field is introduced for the project:

servicesPortRange (string, optional, default value "49153-65535", CRU permissions)

2) If service has a port defined under "ports" parameter as "80" or "80/tcp" (with no public port specified), public port will get automatically assigned to the port from environment.servicesPortR

[2015-12-21 17:52] deniseschannon commented on #3027
@schuylr No, it's still in resolved. When it's closed, it's officially in a release and someone on the team will have verified it.

[2015-12-21 17:56] cloudnautique opened #3102 "Rancher-catalog service should not blow up on a bad entry"
If an entry is missing a rancher-compose file, or the service is unable to process the yaml, that entry should be skipped and processing should continue. The message should be logged to the console.

An example of the current behavior can be seen with an entry that doesn't contain a rancher-compose.yml file.

[2015-12-21 17:57] deniseschannon commented on #3027
In Master 12/21, expanding on the resolving server, opens the dialogue.

But if you try to click on the "X" to remove a line, it doesn't remove it.

[2015-12-21 18:05] sangeethah opened #3103 "Should be allowed to add "Listening ports" with no source port for public ports when adding/editing LB services."
Server version - Build from master

With #2097 in , UI should allow to add "Listening ports" with no source port for public ports when adding/editing LB services.

[2015-12-21 18:35] deniseschannon opened #3104 "Catalog configuration options: Type int allows to type "e", but restricts other letters."
Version v0.50.2

Steps to Reproduce:
1. Open Apache Zookeeper from Catalog
2. Try to change number of nodes to something else. Note: This is type `int`

Result: I am able to type `-`, `.` and `e` in the textbox, but only numbers should be allowed.

Expected Result: Since a number is expected, we should restrict all invalid keys.

Additional error: When saving `e`, which is obviously invalid, it sa

[2015-12-21 18:41] alena1108 opened #3105 "Field presence validation is missing on catalog-service side"
For every variable declaration, we have to check if all required fields are present. For example, missing "type" filed causes parameter not to be available for editing:

https://github.com/rancher/rancher-catalog/pull/72

It can be covered either as a part of integration test for catalog-service, or we can run this check on catalog-service-startup (and fail if catalog items are broken)

[2015-12-21 18:45] cloudnautique commented on #3076
Allow a post hook of some sort. Like the ability to run a container. In some instances you might need the ability to run cleanup scripts etc. (one could even fire off an alert! :) )

[2015-12-21 18:47] westlywright commented on #3091
@sangeethah I am not seeing this locally. I could have been resolved by one of the other fixes i put in. When everything is merged in lets see if this is still a problem. Is there a status you'd like me to change it to in cases like this?

[2015-12-21 18:54] sangeethah commented on #3091
@westlywright , This  issue is not reproducible always. But seems to happen when you try to click on info button as soon as the audit entry is available. You can mark as "status-to-test" and assign  the bug back to me . I will see if I can reproduce with later build.

[2015-12-21 18:57] sangeethah opened #3106 "Not able to set servicesPortRange when creating a project."
Server version - Build from master.

Tried to create a project using http://<ip>:8080/v1/projects/create and set servicesPortRange to 49153-49156.

When project gets created , we still see the default servicesPortRange being assigned to this project.

[code]

[2015-12-21 19:42] sangeethah opened #3107 "When random port allocation fails , service is stuck in "registering" state forever."
Server version - Build from master

Steps to reproduce the problem:
Had servicePortRange set to a smaller set of range.
Consume all the ports.
Try to create a service with portMap by providing only private port (no public port).
Service gets stuck in "registering" state forever.

Expected Behavior:
Service should fail to get created in this case with proper error message.

Following NullPointerExc

[2015-12-21 20:22] sangeethah opened #3108 "When cloning a service with portMap by providing only private port (no public port) , public port gets the random port assigned."
Server version - Build from master

Steps to reproduce the problem:
Try to create a service - S1 with portMap by providing only private port (no public port).
Clone this service.
Public port has the port value assigned for service S1.
Activating this service without changing the public port will result in service stuck in "Activating" state.

Expected Behavior:
On cloning this service , we should

[2015-12-21 20:23] vincent99 commented on #3104
This is a browser "feature".. `e` is valid because it means "times 10 to the".  `1.234e3` => `1234`

[2015-12-21 21:00] #3104 closed

[2015-12-21 21:01] sangeethah opened #3109 "Pagination not working in Audit-logs page."
Server version - Build from master

There were about ~320 entries in audit_log.

Audit Logs show only 2 pages.
Expected behavior:
User should be presented with pages each having at most 100 entries.

[2015-12-21 21:11] sangeethah opened #3110 "Random port allocation is not done for sidekicks."
Server version - Build from master

Steps to reproduce the problem:
Create a service with sidekick service which has port map providing only private port.
Activate service.
Once the service is activated, sidekick containers do not have any mapped ports.

[2015-12-21 21:15] cloudnautique commented on #3110
I thought everything network wise has to be setup on the primary service?

[2015-12-21 21:22] deniseschannon commented on #3051
What version of Rancher are you running?

Also, how is your Rancher set up? Fresh install or upgraded? How many hosts? What OS version?

Were you able to get other containers running on the host? Are you able to ping from one network agent container to another if multiple hosts?

[2015-12-21 21:22] sangeethah commented on #2097
Tested with Build from master.

We have support for mapping random ports when public port is not provided in port maps for services.
Issues found when testing this feature is tracked in different issues.

[2015-12-21 21:22] #2097 closed

[2015-12-21 21:26] vincent99 commented on #3103
This is going to be weird for balancers because we currently require a host port and container is optional.. The API is already changed though, so I'll change the UI to send 80:80 if you just put in source port=80.

Act now and we'll also throw in defaulting container port to 80 if the source port is 443+ssl, because people mess that up all the time.

[2015-12-21 21:30] vincent99 commented on #3108
This would be in the UI, though there's no way for me to know it was a random port.  I'm not sure I agree with fixing it though anyway, it's a complete clone and the same thing would happen if you had specified an explicit public port.  It won't necessarily fail either unless that port is taken on every host.

[2015-12-21 21:49] deniseschannon commented on #3093
What version of Rancher are you running? There was a bug in v0.50.0 that has now been fixed where service name validation was occurring against removed services. So if you had a service that has been removed and in your DB, it wouldn't allow you to create a new one.

This is most likely your issue and you need to upgrade to v0.50.2.

[2015-12-21 21:49] janeczku commented on #2015
I have been experiencing this with links between containers on the same host too. E.g. i have a service with a Redis sidekick: The first connection attempt to to the sidekick right after container startup fails every time. Consecutive connections are working.
This makes me think that this is not related to https://github.com/rancher/rancher/issues/278 since there wouldn't be an IPSec tunnel betwee

[2015-12-21 21:51] deniseschannon commented on #3098
Duplicate of #2474

[2015-12-21 21:51] #3098 closed

[2015-12-21 21:52] xaka commented on #3098
Why Am I so bad at searching? :sob:

[2015-12-21 21:55] sangeethah opened #3111 "Audit log - Change order of filter field so that "Resource Type" and "Resource Id" are next to each other."
Server version - Build from master

Change order of filter field so that "Resource Type" and "Resource Id" are next to each other similar to how they are presented in the audit entries.

Also rename the helper text from  "Client Ip" to "Request IP" as it appears in the header of audit entries.

<img width="953" alt="screen shot 2015-12-21 at 1 51 09 pm" src="https://cloud.githubusercontent.com/ass

[2015-12-21 22:05] sangeethah commented on #3044
Tested with lasted build from master.

We are not allowed to edit a service and set its name to of an existing service name. API fails with status code 422.

[2015-12-21 22:05] #3044 closed

[2015-12-21 22:06] vincent99 commented on #2015
There is also https://github.com/rancher/rancher/issues/2341 where a container can startup and try to resolve something before DNS is configured.  Or it could be as simple as both containers are started at nearly the same time and the Redis process isn't actually listening yet by the time the client tries to connect to it.

[2015-12-21 22:13] vincent99 commented on #3098
@xaka No worries, probably because we have infinite issues put in already :-)

[2015-12-21 22:16] deniseschannon commented on #3095
@xaka Thanks for pointing out the outdated docs. I've updated them now.

Rancher-compose is a bit trickier for me to catch updates cause I"m not following the docker/libcompose repo. Maybe I should be ;)

[2015-12-21 22:16] #3095 closed

[2015-12-21 22:21] deniseschannon commented on #3071
FYI, @andyshinn I re-read the docs (forgot that it was there) about this statement of rancher-compose.

http://docs.rancher.com/rancher/rancher-compose/commands/#deleting-services-container

[2015-12-21 22:26] sangeethah commented on #2253
Tested with latest  build from master:

updated metadata is propagated for DNS and External Services.

[2015-12-21 22:26] #2253 closed

[2015-12-21 22:27] deniseschannon commented on #2068
This is a docker bug that has had imprpovements in Docker 1.9.x.

[2015-12-21 22:27] #2068 closed

[2015-12-21 22:28] sangeethah commented on #3069
Tested with latest build from master:
"Auth Type" sort icon is to be placed in the same line as header.

[2015-12-21 22:28] #3069 closed

[2015-12-21 22:29] deniseschannon commented on #2188
We have added in place upgrades and updated the documentation on upgrading using rancher-compose.

http://docs.rancher.com/rancher/rancher-compose/upgrading/

Please re-open if you still have questions.

[2015-12-21 22:29] #2188 closed

[2015-12-21 22:31] janeczku commented on #2015
@vincent99 This is a very good point. It hadn't crossed my mind at first since Redis starts up really fast. But it looks like the primary service is even a tad faster. Lesson learned: With sidekicks you have to take care of the startup connection race between sidekick and primary service.

[2015-12-21 22:31] deniseschannon commented on #2295
@mattapperson We have made some DNS improvements that would only allow specific characters for service names. Therefore, I'm going to close this.

[2015-12-21 22:31] #2295 closed

[2015-12-21 22:31] sangeethah commented on #3086
Tested with latest build from master:
Account and Identity filters are not present any more.
"Auth Type" filter drop down works as expected.

[2015-12-21 22:31] #3086 closed

[2015-12-21 22:33] deniseschannon commented on #2305
@ndelitski We are now on version v0.50.2 and racnher-compose v0.6.2.

I'm going to close for now as I haven' t been able to reproduce and there was no response from you. Please re-open if you are still having issues.

[2015-12-21 22:33] #2305 closed

[2015-12-21 22:35] deniseschannon commented on #2382
This already exists in the latest release of Rancher-compose v0.6.2.

[2015-12-21 22:35] #2382 closed

[2015-12-21 22:44] sangeethah commented on #3020
Tested with latest build from master

Able to edit external services.

[2015-12-21 22:44] #3020 closed

[2015-12-21 22:55] sangeethah commented on #2951
Tested with latest build from master:
Change the catalog.url to point to a different git hub repo.
We see the new catalog being synced to rancher-server.
Navigate to catalog view.
The new catalog is presented to the user along with the image for the catalog entries.

[2015-12-21 22:55] #2951 closed

[2015-12-21 23:04] sangeethah commented on #3000
Tested with latest build from master:
When catalog url is removed from Admin->Settings page and then catalog page is launched the deleted catalog url entry does not appear in the "Catalog" drop down. User is presented with the catalogs that  are currently configured.

[2015-12-21 23:04] #3000 closed

[2015-12-21 23:07] sangeethah commented on #3001
Tested with latest build from master:

Catalog name is included when listing templates in catalog view.

[2015-12-21 23:07] #3001 closed

[2015-12-21 23:18] andyshinn commented on #3071
I guess, I am looking for that option on `up`. Or, is there a way I can be using `upgrade` for in place upgrading?

[2015-12-21 23:27] sangeethah opened #3112 "Audit Logs - Filtering by Resource Id, returns all resource types with the specified id."
Server version - Build from master

Tried to get all audit log entries for resource id -"1e14" .
We are presented with a list that has entries relating to service - "1s14" as well as environment - "1e14"

<img width="1498" alt="screen shot 2015-12-21 at 3 22 24 pm" src="https://cloud.githubusercontent.com/assets/4266958/11943934/ade41ca8-a7f6-11e5-93ae-1a03df397761.png">

[2015-12-21 23:59] sangeethah opened #3113 "Audit Logs - Not able to launch any other action from audit log page when there are lot of entries audit logs."
Server version - Build from master

Rancher sever set up has ~76000 entries.
There is also service creation/deletion that is happening using api keys , when trying to access the Audit log page.

Lauch "Admin"->"Audit Log" page.
After page is loaded , tryning to click on "i" for any entry/ clicking on "Next" button does nothing.
Even clicking on other tabs like process/admin , does nothing.

There

[2015-12-22 00:03] sshipway opened #3114 "RTNETLINK error in Rancher logs"
The following error is appearing in the Rancher logs every few seconds (along with many other log entries).  Not sure if this is a cause for concern.
Rancher 0.50.2, CoreOS
[code]

[2015-12-22 00:04] alena1108 commented on #3065
@miko @deniseschannon this bug is a duplicate of https://github.com/rancher/rancher/issues/2388

[2015-12-22 00:04] #3065 closed

[2015-12-22 00:14] dm-cracked-sean-knight commented on #2372
+1

[2015-12-22 00:48] hibooboo2 commented on #3112
@westlywright Filter using resource type and Id That should fix this problem. Otherwise the id is the same. Since Id doesn't indicate type.

[2015-12-22 00:50] westlywright commented on #3112
@hibooboo2 its not an issue for you. the requirement changed that we will only allow users to execute a search of resourceType:resourceId together. They are independent now.

[2015-12-22 00:59] westlywright commented on #3112
@sangeethah just want to make it clear after this launches you will have to execute a search specifically selecting the search button. And resource type must be selected before you can enter a resource id.

[2015-12-22 01:16] sangeethah commented on #3074
Tested with latest build from master

Issue mentioned in the bug is not reproducible. No discrepancies seen when loading Application/Infrastructure page after loading "Audit Log" page.

[2015-12-22 01:16] #3074 closed

[2015-12-22 01:31] westlywright commented on #3113
next button will be working, the info button will not work on latest until latest gets latest rancher

[2015-12-22 01:48] sangeethah commented on #3087
Tested with latest build from master
 No issue seen with logging into git hub enabled rancher server. When i try to log in to rancher server , I am redirected to /login and prompted for github credentials as expected.

[2015-12-22 01:48] #3087 closed

[2015-12-22 02:00] sangeethah commented on #3112
Tested with Build from master:

resourceId can be specified only when resourceType is specified. Also we need to click on "search" button to initiate a search.  When resourceId and resourceType is specified , search returns correct set of entries relating to the id.

[2015-12-22 02:00] #3112 closed

[2015-12-22 02:11] sangeethah commented on #3111
Tested with latest build
"Resource Type" and "Resource Id" are next to each other  and helper text is "Request IP".

[2015-12-22 02:11] #3111 closed

[2015-12-22 02:14] sangeethah commented on #3109
Tested with latest build from master:

Pagination works as expected. Each page returned has 100 entries.

[2015-12-22 02:14] #3109 closed

[2015-12-22 03:14] sshipway opened #3115 "Catalogue defaults do not display for enum and boolean"
Rancher 0.50.2

When defining a new Catalogue item with a variable parameter of type ENUM, the default value is not displayed in the GUI.  However, on submit, if no option is selected then the default will be used.

It would be better if the item in the dropdown corresponding to the default value were selected in the GUI to make it clear what will be used.

The same problem exists for Boolean type

[2015-12-22 03:28] sangeethah commented on #2423
Tested with latest build from master:

Rolling restart is now supported for services.  UI does not extend support for rolling restart yet and this is tracked in - #3089

[2015-12-22 03:28] #2423 closed

[2015-12-22 03:38] yutian1224 opened #3116 "docker logs ERROR in creating more than one Load Balancer"
how can i solve this problem? thx

rancher version: v0.50.2
docker version: 1.9.1
here is the logs:

Tuesday, December 22, 2015 18:53:56INFO: Updating agent-instance-startup
Tuesday, December 22, 2015 18:53:56INFO: Downloading http://172.19.48.3:8080/v1//configcontent//agent-instance-startup current=
Tuesday, December 22, 2015 18:53:56INFO: Running /var/lib/cattle/download/agent-instance-startup/a

[2015-12-22 03:41] sangeethah commented on #3106
Tested with latest build from master:

Able to create a project using http://:8080/v1/projects/create by setting servicesPortRange with startPort -49153 and endPort -49156.

[code]

port range gets saved in accounts table as expected.

[2015-12-22 03:41] #3106 closed

[2015-12-22 03:58] sangeethah commented on #3110
Tested with latest build from master:

Create a service with sidekick service which has port map providing only private port.
Activate service.
Once the service is activated, sidekick containers  have ports that are exposed on host from the assigned serviceportrange for the environment.

[2015-12-22 03:58] #3110 closed

[2015-12-22 04:13] sangeethah commented on #3107
Server version - Latest Build from master

Had servicePortRange set to a smaller set of range.
Consume all the ports.
Try to create a service with portMap by providing only private port (no public port).
Service gets  created successfully but without any port allocated to it.

No exceptions seen in logs:

[code]

[2015-12-22 04:13] #3107 closed

[2015-12-22 04:19] CBR09 opened #3117 "Glusterfs server cannot rejoin cluster after restart container"
Hello @cjellick, @ibuildthecloud
Using the default compose template, I was able create glusterfs cluster successfully. However, when I tried to restart one of these servers container, it couldn't rejoin cluster. The error logs's shown as below:

12/22/2015 10:31:59 AMContainers are starting...
12/22/2015 10:31:59 AMWaiting for Gluster Daemons to come up
12/22/2015 10:32:30 AM/opt/rancher/peerprobe

[2015-12-22 04:22] sangeethah commented on #3073
Tested with latest build from master:
Steps to reproduce the problem:
Create a service and activate it.

Audit entry shows 1 entry for api.service.create and 1 for api.service.setservicelinks.

[2015-12-22 04:29] #3073 closed

[2015-12-22 05:13] sangeethah commented on #3113
Tested with latest build from master:

Rancher sever set up has ~76000 entries.
There is also service creation/deletion that is happening using api keys , when trying to access the Audit log page.

Lauch "Admin"->"Audit Log" page.It takes few seconds to launch the page initially.
But after that able to click on "i" to launch information for any entry,  clicking on "Next" button works. Also able to

[2015-12-22 05:13] #3113 closed

[2015-12-22 05:28] sangeethah opened #3118 "Change "Audit Log" page to not be the default page for "Admin" tab."
Server version - Latest Build from master

Currently we have "Audit Log" as the default page to be loaded when accessing "Admin" tab .
In set ups that are around for a long time we expect lot of entries to be present in "Audit Log" page whic would result in a delay in loading this page whenever "Admin" tab is accessed .

Can we not have "Audit Log" as the default page for "Admin" tab ?

[2015-12-22 05:52] sangeethah opened #3119 "Not able to add environment."
Server version - Build from latest master

Steps to reproduce the problem:
Create a new environment.

API fails with "Internal Server Error".

Following exception seen in logs:

[code]

[2015-12-22 06:03] sangeethah commented on #3119
API request sent from UI:

[code]

[2015-12-22 06:32] sangeethah commented on #3091
Tested with latest build from master:
Not able to reproduce the issue where UI hangs when trying to view information for an audit entry. I do see a small delay in loading the information after the "Dismiss" button appears, but not able to reproduce the issue where the UI hangs.

[2015-12-22 06:32] #3091 closed

[2015-12-22 06:47] sangeethah commented on #2995
Tested with latest build from master:
Certificate detail page shows description field.

[2015-12-22 06:47] #2995 closed

[2015-12-22 06:51] sangeethah commented on #2992
Tested with latest build from master:
Able to use Drop-down to switch another certificate from certificate detail page.

[2015-12-22 06:51] #2992 closed

[2015-12-22 07:09] alena1108 commented on #3119
@vincent99 @hibooboo2 this bug happens because UI passes uuid=null to the call, and Jooq manager doesn't like it. Thats the reason why all integration tests passed, and UI bailed. Not sure why we set this field to null explicitly, as we don't do it on other objects create call.

[2015-12-22 10:08] willseward opened #3120 "Duplicate host entry after dist-upgrade"
<img width="633" alt="screen shot 2015-12-22 at 4 04 45 am" src="https://cloud.githubusercontent.com/assets/5386568/11952871/7227909e-a861-11e5-94b1-0e1853aa4ca2.png">

After running a dist-upgrade to Ubuntu 15.04, I had to do some strange maneuvers with the rancher-agent image. Afterwards this happened.

This happened after another dist-upgrade, but I didn't have to do anything strange with the a

[2015-12-22 10:13] kaos opened #3121 "[gdapi-python] old requirements"
Hi,

I can't use `cattle-cli` in my project, due to conflicting version requirements for the `requests` package.

Any reason why the `setup.py` file is so hard-wired to a specific version, by using the requirements.txt file ?

[2015-12-22 10:56] Stapelpanda opened #3122 "Private repository image xxx/yyy/zzz"
While using a private repository with Rancher i ran into a problem, when adding an URL with more than two parts rancher shows an 422 error regarding the ImageUUID.

Example config:

[code]

[2015-12-22 11:48] m4ce opened #3123 "Rancher metadata casting int32/int64 to float64"
Hi,

Rancher metadata is casting int32/64 to float64.

rancher-compose.yml
[code]

Then, metadata query:
[code]

[2015-12-22 13:09] zaubererty opened #3124 "Issue with Space in Catalog Name"
When creating a catalog entry (Admin > Settings > Catalog) with a space in the name like "XYZ Lib" the catalog items show up but without image and failing on view.

Current solution, use a catalog name without space like "XYZLib"

[2015-12-22 13:43] schuylr opened #3125 "Ability to enable SPDY on the Load Balancer"
We run a SPDY configuration with Nginx and SSL. We'd like to be able to terminate the SSL at the load balancer but SPDY must be configured where the SSL terminates.

Is this planned with Rancher or would it simply be skipped in favour of http2?

Would it also be possible to customize the front-end and back-end configurations with the Rancher load balancer? This would give more flexibility to achie

[2015-12-22 14:57] schuylr commented on #1554
AFAIK this would only require a `send-proxy` directive to be added to every `server` line in the `haproxy.cfg` - would this be hard to achieve? What is blocking completion of this issue?

[2015-12-22 15:27] johnrengelman opened #3126 "Feature Request: Support for AWS Elastic Container Registry (ECR)"
ECR is a bit different in that you have to call an AWS endpoint to request a temporary token for accessing the registry (I believe credentials last for 12 hours). Would be great to have built in  support for this.

In the UI, I would provide an AWS Access Key and Secret Key, and Rancher would periodically request the token and login to the registry.

[2015-12-22 15:33] blackjid commented on #1554
I'm not really sure, but in the latest version of rancher you can add custom configuration into the `haproxy.cfg`

![screen shot 2015-12-22 at 10 30 29 am](https://cloud.githubusercontent.com/assets/228037/11958683/27677ade-a897-11e5-8486-1e2a901c937b.png)

It is limited to the `global` and `defaults` sections... but I think (haven't tested) the `send-proxy` directive could be used in the `default

[2015-12-22 15:39] sangeethah opened #3127 "Audit Logs - Environment field is empty."
Server Version - Build from master

Steps to reproduce the problem:
Go to Admin-> Admin Log page.
All Audit Log entries have  Environment field as empty string.

<img width="963" alt="screen shot 2015-12-22 at 7 35 39 am" src="https://cloud.githubusercontent.com/assets/4266958/11958822/f6665b5c-a87e-11e5-998a-62e0a2ca6820.png">

[2015-12-22 15:49] schuylr commented on #1554
Hmmm... one might be able to add it to the `defaults` section using `default-server`:

[code]

Let me test that now and report back. If so, this issue is moot!

[2015-12-22 15:57] schuylr commented on #1554
Works great! With a bit of documentation I think this issue can be closed. It's just as simple as adding `default-server send-proxy` to the `defaults` section - any server that isn't configured with proxy_protocol isn't affected by `send-proxy` being enabled, either - so a server-specific configuration isn't really necessary.

[2015-12-22 16:11] schuylr commented on #1554
I deleted my previous comment, turns out it was lingering settings from my previous hack. `send-proxy` is *not* a supported option in `default-server` as per [these docs](http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#5):

Thus, it is necessary to add it to each `server` line.

[2015-12-22 16:15] blackjid commented on #1554
oh, you are right...

[2015-12-22 16:49] hibooboo2 commented on #2482
@vanveele Adding In this fix. You are correct that this check should be  made.

[2015-12-22 16:52] hibooboo2 commented on #3082
@sangeethah I believe this behavior will be different Using the new build of cattle. Please re test and let me know.

[2015-12-22 16:53] hibooboo2 commented on #3072
I believe Environment Is shown... @westlywright Is that the case?

[2015-12-22 17:06] westlywright commented on #3127
@sangeethah on latest the environment field is showing up

[2015-12-22 17:22] westlywright commented on #3072
The environment field shows the name. The problem with the identity field is that identity is returning a 404 when we try to get it from the API. At least that's the error im seeing in the console. Perhaps we need to add some more error checking into the identity helper that displays that information. @vincent99 what do you think?

[2015-12-22 17:50] sangeethah commented on #3103
Tested with latest build from master:

We still do not allow for source port to be empty from UI .
But we do allow for target port to empty in which case it gets defaulted to source port.

[2015-12-22 17:55] sangeethah commented on #3103
@vincent99 , Can you confirm that the behavior noted in the previous comment is what we allow from UI?

[2015-12-22 17:56] sangeethah commented on #3127
Tested with latest build from master.

Environment field is shown in audit log entries.

[2015-12-22 17:56] #3127 closed

[2015-12-22 18:00] deniseschannon commented on #2978
Instead of using `localhost` in your host registration setup page, you should use the actual machine IP.

So in the docker run command, it would say `http://<server_IP>:8080/v1/scripts/redacted1:redacted2:redacted3`

[2015-12-22 18:03] deniseschannon commented on #2978
Depending on your version, you can update the host registration by going to **Admin** -> **Settings** or it could be located under **Admin** -> **Host Registration**.

http://docs.rancher.com/rancher/configuration/settings/#host-registration

[2015-12-22 18:09] #3103 closed

[2015-12-22 18:10] deniseschannon commented on #2956
Can you try using this boot2docker iso? We're not sure what your custom boot2docker.iso is doing.

https://github.com/boot2docker/boot2docker/releases/download/v1.9.1/boot2docker.iso

Also, could you share your rancher/agent logs that are stored from Rancher? http://docs.rancher.com/rancher/faqs/troubleshooting/#where-can-i-find-detailed-logs-of-the-rancher-agent-container

It looks like Rancher i

[2015-12-22 18:37] sangeethah opened #3128 "ACL rules not programmed in LB"
Server version - Build from master

Steps to reproduce the problem:

Create LB rule with following hostname routing rules:

<img width="856" alt="screen shot 2015-12-22 at 10 34 19 am" src="https://cloud.githubusercontent.com/assets/4266958/11962855/c7d8b2da-a897-11e5-9c52-24a60fceea88.png">

Acl rules are not getting programmed in haproxy config:

<img width="737" alt="screen shot 2015-12-22 at 1

[2015-12-22 19:10] alena1108 commented on #3128
@sangeethah happens because empty protocol was defaulted to tcp for the ports. And we don't configure host name routing rules for tcp

[2015-12-22 19:12] rancherdev commented on #3128
@alena1108 , even when I pass "http" explicitly for listener from UI , I see it being saved as "tcp"

[2015-12-22 19:14] alena1108 commented on #3128
@sangeethah because its not a UI issue, but the java issue

[2015-12-22 19:24] sangeethah commented on #3119
@alena1108 @vincent99 , creating environment succeeds now.
UI still sends uuid=null . Wanted to confirm this behavior , before I close this issue.

[code]

[2015-12-22 19:28] deniseschannon commented on #3027
Verified the + and x are working in UI v0.77.0 and master build.

[2015-12-22 19:28] #3027 closed

[2015-12-22 19:28] lavvy opened #3129 "Rancher support hypriotos and arch nodes"
Hello can rancher agent be deployed to hypriotos so we can use it on some nodes.  And would be nice too if rancher server can be optimized to run on arm platform too like arch and hypriotos.

[2015-12-22 19:29] sangeethah commented on #2155
Tested with rancher-compose-v0.7.0-rc1
Rancher server - Build from master

Rolling restart is now supported from rancher-compose using the following command:

./rancher-compose -p test1 -f dc.yml  restart --batch-size 2 --interval 30000

This should be available in the next rancher-server release.

[2015-12-22 19:29] #2155 closed

[2015-12-22 19:48] deniseschannon commented on #2666
It looks like something is wrong with `upgrade` and build.

[2015-12-22 19:51] sangeethah commented on #2930
Tested with latest build from master

dig nonexistantdomain.xyz @169.254.169.250 now returns NXDOMAIN.

<img width="573" alt="screen shot 2015-12-22 at 11 43 08 am" src="https://cloud.githubusercontent.com/assets/4266958/11964340/d53c815e-a8a1-11e5-95fc-e6d996e0c116.png">

[2015-12-22 19:51] #2930 closed

[2015-12-22 20:06] deniseschannon commented on #3066
It's weird that in the rancher-logs, there is a spelling error in the logs

`Post http:///var/run/conoy-convoy-gluster.sock/Plugin.Activate: dial unix /var/run/conoy-convoy-gluster.sock: connection refused"`

Why does it say `conoy`? Are you sure you didn't accidentally change anything in the templates? Can you look at the convoy-gluster stack and provide the exported docker-compose and rancher-co

[2015-12-22 20:10] will-chan commented on #2928
@janeczku did you try this out?  If it works for you, let's close this issue.

[2015-12-22 20:10] deniseschannon commented on #3116
Can you provide more details? Are you trying to create 2 instances of the same load balancer on the same host (this wouldn't work as we expose ports on the host)? Are you trying to create 2 different load balancers on the same host?

[2015-12-22 20:25] lavvy commented on #2143
I had actually voted for this feature,  but i am kind of seeing more use cases with this.
What if this feature should be developed to be job scheduler.  And the jobs will be subsequently saved for reuse. The jobs will be packaged like very simple containers and be running in cron then rancher will be monitoring and managing their lifecycles.
The jobs processes will be scheduled according to time f

[2015-12-22 20:36] m4ce opened #3130 "Load balancer health_state stuck in updating-healthy"
Hi,

I've deployed a load balancer using the 'rancher/load-balancer-service' docker image.

It looks like the health_state never transition from updating-healthy to healthy, do you see the same issue?

Cheers,
Matteo

[2015-12-22 21:20] deniseschannon commented on #3130
How are you deploying the service? You should never have to pick the `rancher/load-balancer-service` image?

[2015-12-22 21:20] janeczku commented on #2928
@will-chan
Confirmed fixed in Rancher v0.50.0. DNS packet returned from Rancher DNS is now within the legal limit of 512 bytes.

[code]

[2015-12-22 21:22] will-chan commented on #2928
@janeczku awesome!  Closing issue.

[2015-12-22 21:22] #2928 closed

[2015-12-22 21:35] hibooboo2 commented on #2988
That error contains the field whos minlength was exceeded. The ui is just not displaying it.

[2015-12-22 21:37] hibooboo2 commented on #3007
Now @vincent99

[2015-12-22 21:43] deniseschannon commented on #3129
Not sure if this is a duplicate of https://github.com/rancher/rancher/issues/2101 where it's been requested for ARM support for rancher/server and rancher/agent?

[2015-12-22 21:47] deniseschannon commented on #3034
This sounds like a pre-duplicate of #3097, but before I consolidate to one issue, I'd like to confirm.

We will most likely take the suggestion in #3097.

[2015-12-22 21:54] deniseschannon commented on #3100
This is a known issue and duplicate of https://github.com/rancher/rancher/issues/2873. I will close in favor of the other one.

[2015-12-22 21:54] #3100 closed

[2015-12-22 21:57] deniseschannon commented on #1554
This should be fixed with the load balancer refactoring that is in progress.

We should be allowing configuring the backend of haproxy as soon as refactoring is complete. #2179

Closing in favor of the refactoring issue..

[2015-12-22 21:57] #1554 closed

[2015-12-22 22:00] hibooboo2 commented on #2580
@sshipway Is the new role made from rancher/cattle#1069 meeting your needs?

[2015-12-22 22:11] schuylr commented on #1554
Thanks @deniseschannon - in that case it should also address my other raised issue #3125 so I'll close that as well.

[2015-12-22 22:11] schuylr commented on #3125
Closing in favour of #2179 - it should address this issue

[2015-12-22 22:11] #3125 closed

[2015-12-22 22:12] vincent99 commented on #3123
https://github.com/rancher/rancher-metadata/pull/5

[2015-12-22 22:14] deniseschannon commented on #3124
Do you have a GitHub repo that I could look at your directory structure/templates? Have you looked at the docs on how the repo should be set up? http://docs.rancher.com/rancher/configuration/settings/#creating-private-catalogs

The name shouldn't be an issue as we have many spaces in our catalog names in the one that is shipped with Rancher. The name that shows up in Rancher should be in the `conf

[2015-12-22 22:17] vincent99 commented on #3124
The library and template name in `links` values should be urlencoded, and the API needs to handle decoding and matching them on subsequent requests.

[2015-12-22 22:19] vincent99 commented on #3120
Showing up as a new host would suggest that `/var/lib/rancher/state/` is getting wiped out somehow.

[2015-12-22 22:39] vincent99 commented on #3124
@deniseschannon it's the catalog name having a space in it that's the problem, not the individual templates in that catalog.

[2015-12-22 23:04] rubenmch commented on #3034
@deniseschannon Yes, it's the same issue, that suggestion would work for us too.

[2015-12-22 23:05] deniseschannon commented on #3034
Ok, I will close in favor of the other one.

[2015-12-22 23:05] #3034 closed

[2015-12-22 23:29] sangeethah commented on #3128
Tested with latest build from master:
ACL rules get programmed when LB has targets with host name routing.

[2015-12-22 23:29] #3128 closed

[2015-12-22 23:35] #3119 closed

[2015-12-23 00:28] vincent99 commented on #3121
I think we just suck at python... Want to put in a PR? :-)

[2015-12-23 00:54] vincent99 commented on #461
This is for the old standalone loadbalancer..

[2015-12-23 00:54] #461 closed

[2015-12-23 00:54] vincent99 commented on #452
We no longer use this icon set, or remote hosting of them.

[2015-12-23 00:54] #452 closed

[2015-12-23 01:28] sangeethah commented on #3055
Tested with rancher-server version - V0.51.0-rc2

dig AAAA <service name>   returns status - NOERROR.

[2015-12-23 01:28] #3055 closed

[2015-12-23 01:28] vincent99 commented on #758
@tfiduccia Can you recheck this, I assume it doesn't apply anymore..

[2015-12-23 01:29] vincent99 commented on #830
@tfiduccia Can you recheck this, I assume it doesn't apply anymore..

[2015-12-23 01:32] vincent99 commented on #597
302 https://github.com/rancher/rancher/issues/971

[2015-12-23 01:32] #597 closed

[2015-12-23 01:33] vincent99 commented on #979
![image](https://cloud.githubusercontent.com/assets/753917/11969689/6fee0d66-a8da-11e5-92c0-4943134f9049.png)

[2015-12-23 01:33] #979 closed

[2015-12-23 01:33] vincent99 commented on #1016
This was indirectly done when they were reorganized into stacks first and then standalone containers.

[2015-12-23 01:33] #1016 closed

[2015-12-23 01:35] vincent99 commented on #1089
![image](https://cloud.githubusercontent.com/assets/753917/11969708/cf34404c-a8da-11e5-8051-e8af95e3ce9d.png)

[2015-12-23 01:35] #1089 closed

[2015-12-23 01:44] vincent99 commented on #1046
Is this just the $stack_name/$service_name variables?

[2015-12-23 01:48] vincent99 commented on #1199
How about now?

[2015-12-23 01:49] vincent99 commented on #1352
It does not appear there is any interest in merging this upstream.. if you get it please reopen.

[2015-12-23 01:49] #1352 closed

[2015-12-23 01:58] yutian1224 commented on #3116
I'm trying to create 2 instances of the same load balancer on different hosts.The 2nd load balancer is stuck when Initializing.
![image](https://cloud.githubusercontent.com/assets/13673671/11969821/02d3e206-a95b-11e5-855c-981bd54adc79.png)
![image](https://cloud.githubusercontent.com/assets/13673671/11969855/ab6966ac-a95b-11e5-85a5-e45fdcc9ba7a.png)

[2015-12-23 06:14] Negashev commented on #1871
And what about Basic Auth #1178

[2015-12-23 07:02] kaos commented on #3121
Ok, will do :)
In the mean time.. https://caremad.io/2013/07/setup-vs-requirement/

[2015-12-23 08:08] m4ce commented on #3130
@deniseschannon, http://docs.rancher.com/rancher/rancher-compose/rancher-services/#load-balancer

[2015-12-23 09:10] boedy commented on #3093
Yes I was on v0.50.0. I've just updated and seems to be working now.

[2015-12-23 09:10] #3093 closed

[2015-12-23 10:24] teon commented on #3066
Here is my docker-compose.yml I've used to deploy convoy:
[code]

And rancher-compose.yml:

[code]

As you see I have no conoy anywhere - so I would suggest somwhere in the convoy docker image/rancher are these errors

[2015-12-23 10:32] teon commented on #3066
@deniseschannon what is wired is that I have those socks on my server:
[code]

So as you see convoy-gluster mus have created them - so - why it can't connect to them...?

[2015-12-23 12:12] jschilperoord commented on #2288
It would be really cool to have this :+1:

[2015-12-23 17:04] budjizu commented on #2143
+1

[2015-12-23 18:55] sangeethah opened #3131 "Audit Logs - api.stack.create api link results in 404."
Server version - V0.51.0-rc3

Create a stack.
Go to Admin->Audit Log and locate the api.stack.create entry.

Click on the link in "Resource Type:Id" field.
API link presented to the user is of the format - http://<ip>:8080/v1/stack/1s1 . which results in "404 Not Found"
This should have been http://<ip>:8080/v1/environment/1e1 instead.

[2015-12-23 19:00] sangeethah opened #3132 "Audit Logs - Resource Type drop down should include "stack" instead of "environment"."
Server version - v0.51.0-rc3

All the stack related actions appear in audit log entries with "event type" as api.stack.* and  resoucetype:id as "stack:<n>s<n>".

Resource Type drop down does not include "stack" instead has "environment".

Expected Behavior:
Resource Type drop down should include "stack" instead of "environment".

This is related to issue tracked in #3131

[2015-12-23 19:08] sangeethah opened #3133 "Audit Logs - Display user APIs and other APIs triggered by the main API in 2 different levels."
Server version - V0.51.0-rc3

Create a stack from catalog entry.
Following are he audit log entries that appear:

<img width="1187" alt="screen shot 2015-12-23 at 11 04 34 am" src="https://cloud.githubusercontent.com/assets/4266958/11983088/90c20fde-a965-11e5-92b2-901a4d2a3c50.png">

From the users perspective , there is only 1 create stack api call that was made which also resulted in rancher-com

[2015-12-23 20:10] vincent99 commented on #3131
Event type should be `api.stack.create` but `resourceType` and the link should still be environment.

[2015-12-23 20:12] vincent99 commented on #3132
The type is still `environment` in the API and remapping that will only make things more confusing...

[2015-12-23 20:26] vincent99 commented on #3133
There's no good way to identify which ones were the direct result of a user action and which were secondary.  This is an especially good example, the service.activate was caused by stack.create but it's made by a different account on a different IP with a different auth mechanism to a different resource.

[2015-12-23 20:29] vincent99 commented on #115
There is now a convoy-nfs template in Catalog.

[2015-12-23 20:29] #115 closed

[2015-12-23 20:33] vincent99 commented on #171
Can we call this good now that you can do offline-install and provide your own private registry copies of the images?  http://docs.rancher.com/rancher/installing-rancher/installing-server/no-internet-access/

[2015-12-23 20:33] #171 closed

[2015-12-23 20:40] vincent99 commented on #210
![image](https://cloud.githubusercontent.com/assets/753917/11984694/a7d9abe0-a97a-11e5-80dc-03ea4315b3b8.png)

[2015-12-23 20:46] untoldone opened #3134 ""Upgrade strategy needs to be set" but docs say Optional"
I tried to POST to:

`curl --user <access>:<secret> -XPOST https://<rancher-host>/v1/projects/<project>/services/<service>/?action=upgrade`

and got

    {
      "id": "6b889bae-9e71-4e5d-aca1-ce33128d15ec",
      "type": "error",
      "links": {},
      "actions": {},
      "status": 422,
      "code": "MissingRequired",
      "message": null,
      "detail": null,
      "fieldName": "Upgrade st

[2015-12-23 20:55] vincent99 commented on #3134
They are mutually-optional.. you need to send one or the other.  There is a page for those fields but they're not linked for some reason:

http://docs.rancher.com/rancher/api/api-resources/inServiceUpgradeStrategy/
http://docs.rancher.com/rancher/api/api-resources/toServiceUpgradeStrategy/

@prachidamle Can you look into why the links aren't generated there (or to any of the types in the above 2 l

[2015-12-23 20:58] vincent99 commented on #223
Removed the length check, it's not terribly useful.

[2015-12-23 20:58] #223 closed

[2015-12-23 21:00] vincent99 commented on #224
Inactive means only that new containers are not scheduled there.  Actions should still work.  They seem fine to me so I think this was addressed a while ago.

[2015-12-23 21:02] vincent99 commented on #281
Works for me..

[2015-12-23 21:07] vincent99 commented on #339
This is no longer relevant, hosts open a websocket connection to the server and everything is multiplexed through there now.

[2015-12-23 21:07] #339 closed

[2015-12-23 21:09] cloudnautique commented on #281
I just saw it on 10acre ranch host running v0.50.2. Looks like Docker gets wedged.

[2015-12-23 21:16] sangeethah commented on #281
There is another issue which also tracks the same behavior where docker stops responding when network agent is restarted- #1406 . This does not happen always.

[2015-12-23 21:44] sangeethah opened #3135 "Audit entries show the api calls made by rancher-compose-executor as being made by "machineServiceAccount"."
Server version - v0.51.0-rc3

Create a stack from catalog entry.
Following are he audit log entries that appear:

<img width="718" alt="screen shot 2015-12-23 at 12 41 21 pm" src="https://cloud.githubusercontent.com/assets/4266958/11985576/0b95cf2e-a97b-11e5-9a0e-f113b6e57b28.png">

All the api calls made by rancher-compose-executor are shown as being made by "machineServiceAccount".

[2015-12-23 21:56] sangeethah opened #3136 "Audit Logs - Log information about entries deleted in audit_log table."
Server version - V0.51.0-rc3

Changed the setting - audit_log.purge.after.seconds to a lower value.
When the next cleanup thread executed , audit_logs that were older than the purge settings gets deleted from AUDIT_LOG DB.
rancher server logs does not include the information about these deleted entries.

[code]

[2015-12-23 22:27] sangeethah opened #3137 "Audit log - Links for some entries point to rancher server ui."
Server version - V0.51.0-rc3

For the following audit log entries , clicking on the link for resourcetype:id field takes us to rancher server ui:

container link:
<img width="1418" alt="screen shot 2015-12-23 at 2 16 06 pm" src="https://cloud.githubusercontent.com/assets/4266958/11986160/5a4dc58a-a981-11e5-9f42-73be8015e99e.png">

githubconfig link:
<img width="1408" alt="screen shot 2015-12-23 at

[2015-12-23 22:35] vincent99 commented on #366
`/usr/bin/script -q -c "/bin/bash" /dev/null` seems to work for tmux

[2015-12-23 22:37] vincent99 commented on #479
https://cbonte.github.io/haproxy-dconv/configuration-1.6.html will work though

[2015-12-23 22:40] vincent99 commented on #589
Publish all ports checkbox was removed from the UI a while ago

[2015-12-23 22:40] #589 closed

[2015-12-23 22:40] #593 closed

[2015-12-23 22:48] vincent99 commented on #617
This is on http://docs.rancher.com/rancher/installing-rancher/installing-server/ and https://github.com/rancher/rancher

[2015-12-23 22:48] #617 closed

[2015-12-23 23:15] sshipway commented on #2580
Will need to check this when I get back to the office after the xmas hols.  Looks good though.

[2015-12-23 23:43] vincent99 commented on #633
We do "own" 9345/tcp... http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=9345

[2015-12-24 00:01] blaggacao commented on #2837
I'm sorry, my memory is to shallow as to give some helpful hints.
It was hanging in some stat, i think it was "Initating" and never got up and running. But I'm pretty sure this was due to the fact that the agent-instance hasn't been properly updated.
I was just entering the rancher world, so there were/are a lot of unknowns to me. That's why my memory is so blurry...

[2015-12-24 00:08] blaggacao opened #3138 "Vault Integration"
https://github.com/rancher/rancher/issues/1269

I want to suggest explicitly to genuinly support Hashicorp's vaultproject for Secrets Management as a first class rancher artifact. This is for conses gathering, please share your opinion or close if it is not inline with product strategy...

https://www.vaultproject.io/

[2015-12-24 06:56] zaubererty commented on #3124
@deniseschannon Vincent is right, its the catalog name

[2015-12-24 09:33] antmanler commented on #835
Have the same issue when update to v0.51.0, we have tow cluster which deployed rancher, one of them keep logging out the following while another looks good.
I've also tried to restart network agent and instance agent.

]

]

]

]

]

[2015-12-24 13:53] aldeed commented on #2684
+1

Running out of space causes upgrades to churn forever and it's not immediately obvious why. Upgrades should detect inability to download the image and automatically rollback/stop.

And hosts should automatically run `sudo docker images -q |xargs sudo docker rmi` once per day.

[2015-12-24 16:22] deniseschannon commented on #3130
Can you share your docker-compose.yml and rancher-compose.yml? We don't see any issues with load balancers becoming healthy.

Also, is this a load balancer that was from a previous installation or a new load balancer?

[2015-12-24 17:25] demarant commented on #3124
I had same issue and can confirm that you cannot add a custom catalog name with a space, since the name is not url-encoded the links to images in the catalog are broken.

[2015-12-24 17:39] demarant opened #3139 "github accounts avatars are not shown anymore, identity api urls gives 404"
we use github authentication.
When I upgraded to version v0.51.0 from v0.50.2 I just realised that the avatar images for the accounts are not resolvable, see image below, so I cannot distinguish any more the accounts, as there is no username text alternative to the image (never use only images). as you can see from the inspect there are lot of 404s on the avatars image urls.

![screenshot from 201

[2015-12-24 17:54] vincent99 commented on #3139
The username *is* shown, but requires loading the identity.  We store GitHub user_ids, not usernames, because you can change your username (and then worse, someone else can take your old one).

[2015-12-24 18:18] ibuildthecloud commented on #3139
@vincent99 why are we getting 404s?

[2015-12-24 21:52] sshipway commented on #2684
If you point your Rancher environment at the custom catalogue https://github.com/sshipway/rancher-catalogue.git then there is an item 'Janitor' that does the suggested task, using the meltwater/docker-cleanup container.

[2015-12-25 12:29] liubaishui commented on #3100
I have the same error.

[2015-12-25 12:30] liubaishui commented on #2873
Please see the #3100 issues, I have the save error.

[2015-12-26 00:45] xaka commented on #1399
I'll buy you :beers: and :chocolate_bar: guys, please implement and send you mailing address! Isn't it matter of passing an extra parameter to Docker API?

[2015-12-26 00:54] thaJeztah commented on #1399
Alternatively, store the rancher name in a label; note that work is started in docker to support mutable labels on containers, which would allow renaming the container in Rancher and updating the label on the container; https://github.com/docker/docker/issues/15496#issuecomment-167045503

[2015-12-26 01:25] xaka opened #3140 "[UI] Compose YAML action doesn't preserve logging driver configuration"
Following YAML parts are getting lost when you click `Compose YAML`:

[code]

Not big deal until you blindly copy/paste generated YAML and end up with no logging at all :fearful:

[2015-12-26 09:02] budjizu commented on #1317
+1

[2015-12-26 12:12] instcode commented on #2796
I recently "Upgrade" a service that uses a share volume (created by Docker 1.9) and after the upgrading, the volume data is gone without a trace. It's lucky that this data is not important but I'm really scared of this feature.

[2015-12-26 12:42] demarant commented on #3139
@vincent99, @ibuildthecloud

maybe the following info can help you replicate/debug

we use github groups

Via chrome inspect I looked at my specific username _demarant_ and user_id _320440_
the identity loading url I see in the browser failing with 404 is:

[our-rancher-server]/v1/identities/1igithub_user%3A320440

it is urlencoded. Than went manually  to the identities API just by going to
[our-r

[2015-12-26 14:43] demarant commented on #2500
I close this issue as since v0.50.0 it is possible to add own catalogs.

[2015-12-26 14:43] #2500 closed

[2015-12-26 17:01] deniseschannon commented on #3140
Duplicate of #2388

[2015-12-26 17:01] #3140 closed

[2015-12-27 00:49] #2869 closed

[2015-12-27 07:22] dmzaytsev opened #3141 "60 queries/s from idle rancher"
I have set two-nodes rancher cluster according http://docs.rancher.com/rancher/installing-rancher/installing-server/multi-nodes/
the cluster has idle state now, one environment, two hosts, no deployed containers.
But I see about 60 queries per second from rancher  on MySql instance
![image](https://cloud.githubusercontent.com/assets/9972909/12009264/bf6870aa-ac92-11e5-872f-09215a4155de.png)

does

[2015-12-27 09:36] Negashev commented on #1317
+1

[2015-12-28 06:47] pwFoo commented on #2734
Also found a nice 3MB webserver with integrated lets encryption feature.
Could be used as Webserver and also a proxy / loadbalancer.
Haven't tested it yet...

https://caddyserver.com/

[2015-12-28 09:13] dmzaytsev opened #3142 "RTNETLINK answers: Operation not permitted"
There are two hosts in my environment.
I have set load balancer with option "Always run one instance of this container on every host"
The load balancer successfully started on the first host.
But it's failed on the second host with message "RTNETLINK answers: Operation not permitted"
these hosts absolutely identical.

Rancher	v0.50.2
Cattle	v0.127.0
User Interface	v0.75.0
Rancher Compose	v0.6.2

d

[2015-12-28 10:54] yutian1224 commented on #3142
I have the same question as u.

[2015-12-28 11:46] pwFoo opened #3143 "Create a custom loadbalancer with automatic add / remove containers?"
I found caddy webserver with proxy / lb feature, included (Let's Encrypt) https support which could be uses as http / https proxy. The configuration file is simple  and it should be easy to build a Caddy LB, but what's about automatic config changes (add / remove linked containers)?

Is there a (simple) way using the rancher api or a stand-alone docker container based solution?

[2015-12-28 11:57] dmzaytsev commented on #3142
I just recreated load balancer
Right now I have same error on both nodes
How it can be fixed?

[2015-12-28 19:20] will-chan commented on #2054
Will track catalog item as separate feature requests.

[2015-12-28 19:20] #2054 closed

[2015-12-28 19:40] alena1108 opened #3144 "Services as nested objects to stack"
and containers as nested objects for a service. It makes it easier to retrieve all services for stack and all containers for service w/o parsing /latest/containers latest/services.

With that change we have to reduce the size of metadata config file as it can grow huge, by avoiding duplicated content. For that, we are going to switch to .yml representation as this format supports references.

Also

[2015-12-28 19:49] will-chan opened #3145 "Kubernetes Enhancements"
Kubernetes is a catalog item and needs to be integrated as a 1st class object within Rancher.

For the first phase, Rancher will implement a better UI/UX on top of k8s concepts such as Services, RC, and Pods.

* User can create an environment and select either Swarm or K8s as their orchestration engine.
When User selects K8s, the 2nd level navigation will change from (Stacks, Catalog) to (Services

[2015-12-28 21:01] edurdias commented on #2347
Hi @deniseschannon, @will-chan, do you have any update on this? We're facing this problem during a reboot of the host.
Currently using:

Rancher: v0.49.1
Cattle: v0.121.0
User Interface: v0.71.0
Rancher Compose: v0.6.1
Rancher Agent: v0.8.2

[2015-12-28 21:40] pppq opened #3146 "Active Directory configuration page no longer accessible once set up"
(UI v0.78.0)

After enabling Active Directory authentication, clicking on Access Control in the Admin menu brings up the static `/fail` page. Chrome console output:

[code]

Navigating to the page by appending `/admin/access/activedirectory` directly to the URL works.

If I disengage authentication settings with the red button, navigation works again as usual.

[2015-12-28 21:51] pppq commented on #3146
Active Directory configuration is called `ldapconfig` in [app/login/controller.js](https://github.com/rancher/ui/blob/dc3e9fa905475dea35c2df43079bff582f35a2e0/app/login/controller.js#L8), which [app/admin-tab/auth/index/route.js](https://github.com/rancher/ui/blob/c30662c7a4e771ab29d6083e98fe70e45455b921/app/admin-tab/auth/index/route.js#L9) uses after cutting off the `config` suffix of each confi

[2015-12-28 22:03] will-chan commented on #3143
Today, Rancher programs the HAProxy directly but when we do a refactor of the LB Service code (post 1.0 GA), we will look into changing the behavior to sending config data to our metadata server and having our HAProxy LB read from that before programming itself.  With this, you can technically add any other LB engines like Caddy or NGINX although you will still need to create your own script/logic

[2015-12-28 22:16] will-chan commented on #3141
I assume you are using latest (v0.51.0) release of rancher/server.  Does Google Cloud SQL tell which which query is hitting the DB?

[2015-12-28 22:42] will-chan commented on #3118
Settings or perhaps a "Admin dashboard" should be the default page for admin tab.

[2015-12-28 22:42] will-chan commented on #3117
@cloudnautique can you look into this?

[2015-12-28 22:50] deniseschannon commented on #3116
Pre-duplicate of https://github.com/rancher/rancher/issues/3142, but I'm going to use that issue to track what's going on. @yutian1224 Please provide more details on that issue.

[2015-12-28 22:50] #3116 closed

[2015-12-28 22:52] deniseschannon commented on #3142
I have been unable to reproduce.

Can you provide more details on:
1. What setup is this? Fresh install or upgraded setup? What OS is your hosts?
2. Can you provide more details on your load balancers? Are both of you selecting (Always run one instance of this container on every host)?

Providing either a snapshot of what you created or a copy of the docker-compose.yml of the load balancer portion

[2015-12-28 23:34] will-chan commented on #3046
We should at least fix the example in the UI.

[2015-12-28 23:44] will-chan commented on #3036
@sangeethah can you test this to see if it's broken.  I assume basic things like route53 service wouldn't work.

[2015-12-28 23:49] will-chan commented on #3031
@deniseschannon can you add more to this?  I assume this is not a normal thing  but something that caused the logs to fill up.

[2015-12-28 23:51] will-chan commented on #3036
@vincent99 is this in any way resolved by your recent fixes to rancher-dns?  #2928

[2015-12-28 23:56] will-chan commented on #3017
We should at least be able to configure the polling of data so it's not so aggressive.

[2015-12-29 00:51] will-chan commented on #2963
We are updating our ipsec package soon so hopefully, it might be able to resolve our managed network issues.

[2015-12-29 01:02] #2939 closed

[2015-12-29 01:07] will-chan commented on #2919
Since v0.51, those options are now available.

[2015-12-29 01:07] #2919 closed

[2015-12-29 01:11] johnrengelman opened #3147 "Support for private catalogs with Git SSH protocol"
It would be nice to be able to specify the connection information for a private Git repository when adding a catalog entry. This would include the private SSH key to use for connecting when using the `git+ssh` protocol.

[2015-12-29 01:34] ibuildthecloud commented on #3017
@cloudnautique Can we at least decrease the interval?

[2015-12-29 02:05] lucidprogrammer commented on #1738
+1

[2015-12-29 03:02] yutian1224 commented on #3142
STEP 1: Added a new stack and started it.
![image](https://cloud.githubusercontent.com/assets/13673671/12028736/5aa74b4c-ae17-11e5-8ece-b00088943a74.png)

STEP 2: Add Load Balancer with conf below and start it.
![image](https://cloud.githubusercontent.com/assets/13673671/12028856/52ab4b26-ae19-11e5-885b-ff631a0eb0dd.png)
![image](https://cloud.githubusercontent.com/assets/13673671/12028897/df458a1

[2015-12-29 03:14] ibuildthecloud commented on #3142
I'll take a look at this tomorrow.  You right in that the container doesn't have privileged to change the mac, but I think the issue might be why is the mac different?  We set the mac on container create so on boot we shouldn't try to adjust the mac.  What version of Docker are you running?  `docker version; docker info`?

[2015-12-29 03:23] yutian1224 commented on #3142
docker version: 1.9.1

![image](https://cloud.githubusercontent.com/assets/13673671/12029122/867f06f4-ae1e-11e5-8d24-f06a44c6fb0c.png)

[2015-12-29 03:50] deniseschannon commented on #547
I believe this view doesn't exist anymore as this was related to standalone load balancers, which no longer exists.

[2015-12-29 03:52] deniseschannon commented on #515
This is covered in the API v2 list. https://github.com/rancher/rancher/issues/1052

[2015-12-29 03:52] #515 closed

[2015-12-29 04:09] vincent99 commented on #547
I suppose, but the same is true of lb services

[2015-12-29 04:11] vincent99 commented on #3036
No, this is a bigger issue with the source up that shows up on outgoing UDP packets being wrong

[2015-12-29 04:13] vincent99 commented on #3118
No?  It's and processes are the only pages you're likely to go to more than occasionally.  If it's too slow it just needs to be faster.

[2015-12-29 04:25] deniseschannon commented on #884
v0.51.0 - This is still an issue.

[2015-12-29 04:27] deniseschannon commented on #851
With the various changes, I don't believe this has made it more explicitly clear on the environments side (adding members to environments adds them to the site) as well as default would require you to customize who has access to the site.

v0.51.0

[2015-12-29 04:27] #851 closed

[2015-12-29 04:38] deniseschannon commented on #3031
Nope, the default is to sync with catalog every 5 minutes and log that we are syncing. So yoru logs will quickly fill up with this...

[code]

[2015-12-29 05:20] vincent99 commented on #3031
I mean we can move it to debug instead of info if nothing changed, but again, 10MB/year.

[2015-12-29 06:34] ibuildthecloud commented on #3031
Personally I can't stand this one.  The message should be logged at debug.

[2015-12-29 10:37] janeczku commented on #2516
This just happened to me with Rancher DNS service on a new DigitalOcean host and i can't get it working. Can you advise how to troubleshoot/debug the stuck in initializing sate @alena1108?

[2015-12-29 13:06] mcuadros commented on #3036
Great to see at least an ACK at this issue, I know you are very busy guys so thanks.

@will-chan this issue forcing me to not use the "Managed" network mode in any container, since the DNS resolution is not working for external neither for internal names. So I am using rancher in a very limited way.

[2015-12-29 14:10] silviupanaite opened #3148 "Host not registered yet"
All my host are not available anymore. The host in question is the host rancher is on, same problem applies to other hosts.
Component	Version
Rancher	v0.51.0
Cattle	v0.130.0
User Interface	v0.78.0
Rancher Compose	v0.7.0

INFO: Downloading https://xxx.com/v1//configcontent//host-config current=host-config-1-xxx
INFO: Already up to date
INFO: Sending host-config applied 1-xxx
2015-12-29 14:07:28,631

[2015-12-29 14:34] janeczku commented on #2901
I now start seeing the same problem on some Ubuntu 14.04 hosts deployed on DigitalOcean.

Ping between hosts: OK
Ping between network agents:
[code]
Iptables rules look good. Ports are open:

`Connection to 46.xxx.xxx.xxx port 500 [udp/isakmp] succeeded!`

[code]

/cc @ibuildthecloud

[2015-12-29 15:11] ibuildthecloud commented on #2901
By tomorrow there will (or should) be a RC build in which we've swapped out the IPSec IKE to Charon.  This is in an effort to address these bugs.  Can't guarantee it will fix everything or not cause new issues, but it allows us to actually address some of these bugs.  Our current implementation uses racoon which kind of left us with our hands tied in terms of fixing things.

[2015-12-29 15:13] deitch commented on #2901
So you are swapping out the IPSec engine? Hope it works. This really has been painful.

[2015-12-29 15:21] danvanwijk commented on #2901
Holding my thumbs here that this will fix our issue as well. Looking forward to the release!

[2015-12-29 16:18] westlywright commented on #3118
I lean towards leaving it as well. I am using a few different machines locally and not seeing speed issues. One of them is Darren's which i think is probably a good test case for this. If you look on latest audit logs can be slow but i feel like this is a poor test since latest is kind of a cesspool of activity that is not really echoed in real environments. I also fixed various issues in the last

[2015-12-29 16:38] dmzaytsev commented on #3142
@deniseschannon

1. What setup is this? Fresh install or upgraded setup? What OS is your hosts?

this is fresh install. virtual machine on GCE `3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u5 (2015-10-09) x86_64 GNU/Linux`

Providing either a snapshot of what you created or a copy of the docker-compose.yml of the load balancer portion would be great.

I have set jenkins from the catalog and loa

[2015-12-29 16:41] ibuildthecloud commented on #3142
@dmzaytsev Whether you see the ports in `docker ps` depends on the version of Rancher you are running.  In the latest version, v0.51.0 the ports should be registered.  Are you running v0.51.0?

[2015-12-29 16:43] dmzaytsev commented on #3142
@deniseschannon
log from jenkins
[code]

log from load balancer
[code]

[2015-12-29 16:43] dmzaytsev commented on #3142
@deniseschannon
Component	Version
Rancher	v0.50.2
Cattle	v0.127.0
User Interface	v0.75.0
Rancher Compose	v0.6.2

[2015-12-29 16:44] ibuildthecloud commented on #3142
@dmzaytsev Sorry, I failed to realize you already shared that.  Thanks

[2015-12-29 16:44] dmzaytsev commented on #3142
@deniseschannon no problem

[2015-12-29 16:46] dmzaytsev commented on #3142
@ibuildthecloud sorry :)

[2015-12-29 17:39] silviupanaite commented on #3148
logs from rancher/server

17:35:52.565 [main] INFO  ConsoleStatus - [DONE ] [11725ms] Startup Succeeded, Listening on port 8081
time="2015-12-29T17:35:53Z" level=info msg="Starting websocket proxy. Listening on [:8080], Proxying to cattle API at [localhost:8081], Monitoring parent pid [7]."
time="2015-12-29T17:35:54Z" level=info msg="Starting Rancher Catalog service"
time="2015-12-29T17:35:54Z" le

[2015-12-29 17:44] deniseschannon commented on #3006
I have a fresh setup with v0.51.0 and added a CoreOS agent. I'm going to see if anything happens with it, but so far it's been connecting fine. When the next release upgrades, I'll keep monitoring it.

@fentas Is your setup a coreOS cluster or single coreOS agent?

@RVN-BR What IP address is being shown? Is it the actual IP address of the machine or is it a different one?

[2015-12-29 17:55] deniseschannon commented on #2124
Going to close this as @sshipway says stats are working correctly. Please open a new issue if you still see issues on the latest Rancher.

[2015-12-29 17:55] #2124 closed

[2015-12-29 18:28] deniseschannon commented on #1394
Not seeing this anymore with v0.51.0 of Rancher and v0.4.2 of RancherOS. Only takes about 1 min to start. Please re-open if you are seeing slow start times.

[code]

[2015-12-29 18:28] #1394 closed

[2015-12-29 18:33] deniseschannon commented on #2661
Still an issue in v0.51.0. Started a CentOS 7.1 box with 20GB.

Shows only 10GB in the hosts page.

<img width="298" alt="screen shot 2015-12-29 at 10 31 30 am" src="https://cloud.githubusercontent.com/assets/11410997/12039716/8173ae6e-ae17-11e5-8f23-53df17458327.png">

[2015-12-29 18:36] mcuadros commented on #3147
If you wish to use private repositories is better use https protocol and a token, we are running our private catalog using this pattern and works perfect.

`https://<your-token>:@github.com/your/private-catalog`

[2015-12-29 18:51] deniseschannon commented on #2937
@tropicloud If you are still facing this issue, please re-open and provide the requested information. I'm going to close this as I believe your setup got in some weird state.

[2015-12-29 18:51] #2937 closed

[2015-12-29 19:05] silviupanaite commented on #3148
Downgraded to 0.50 and host are again reachable, but looking into the api audit logs (UI)

Name	Resource Type:Id	Exit Reason	Started	Ended	Duration
 instance.create	instance:31801	DELEGATE	7 minutes ago	5 minutes ago	118.608 sec
 instance.start	instance:31801	TIMEOUT	5 minutes ago	2 minutes ago	197.893 sec

-----------
  NicActivate			5 minutes ago	3 minutes ago	124.267 sec
 network.activate	netwo

[2015-12-29 19:18] janeczku commented on #2901
:thumbsup:

[2015-12-29 21:03] deniseschannon commented on #2636
Here's a simplified version that causes to get stuck in a loop:

[code]

If I remove the `links` section, it doesn't get stuck in a loop.

[code]

[2015-12-29 21:33] deniseschannon commented on #2650
Verified with v0.51.0 that this is still a bug in rancher-compose v0.7.0.

Steps to Reproduce:
1. Start ElasticSearch catalog item using old version (uncheck start services after creation)
2. After creation, click on upgrade available and select new one.

kopf service gets stuck in activating as per @sangeethah's comments.

[2015-12-29 22:57] deniseschannon commented on #545
In v0.51.0, load balancer containers are no longer labeled with `LB Agent` but instead are the load balancer names (like other services). They are still grey to indicate that it's a load balancer.

Since a LB could service many different targets, it doesn't make sense to have them named after the target services.

[2015-12-29 23:02] deniseschannon commented on #1028
There are a couple of enhancements for this.

1. The exposed port is available in the stack view and links directly to a host IP and port.
<img width="754" alt="screen shot 2015-12-29 at 3 00 23 pm" src="https://cloud.githubusercontent.com/assets/11410997/12043763/086bd71e-ae3d-11e5-9a16-bd07e8224d9a.png">

2. In the summary view of the load balancer, you can find all the host IPs that have the lo

[2015-12-29 23:02] #1028 closed

[2015-12-29 23:06] deniseschannon commented on #2965
@michlaustn Please re-open if you are still having issues. As I mentioned, you would need to use the UI equivalents when upgrading/cloning and cannot use the actual label in the labels section.

[2015-12-29 23:06] #2965 closed

[2015-12-29 23:33] deniseschannon commented on #2829
As of v0.51.0 and v0.7.0, this has been fixed and no longer results in having stopped containers in the background.

[2015-12-29 23:33] #2829 closed

[2015-12-30 05:55] silviupanaite commented on #2501
Component	Version
Rancher	v0.50.0
Cattle	v0.126.0
User Interface	v0.74.0
Rancher Compose	v0.6.2

doing rancher-compose up --upgrade developer

GET https://xxx/v1/environments?name=xxx-cassandra&removed_null=%3Cnil%3E

	Response <= {"type":"collection","resourceType":"environment","links":{"self":"https://xxx/v1/environments"},"createTypes":{},"actions":{},"data":[{"id":"1e14","type":"environment",

[2015-12-30 08:06] martingabelmann commented on #53
+1

[2015-12-30 12:48] pwFoo commented on #3143
Hi @will-chan
nice improvements to Rancher / LBs!

Instead oft building my own LB lets encrypt integration to Rancher haproxy LB (via API, not the LE client) would be better.

But custom LB is also interesting feature.

[2015-12-30 14:28] magnus919 commented on #2691
I'm also seeing this. Like @gordontyler, I'm creating standalone containers through the web UI.

`Rancher	v0.50.2`
`Cattle	v0.127.0`
`User Interface	v0.75.0`
`Rancher Compose	v0.6.2`

[2015-12-30 15:29] qrpike commented on #2268
+1 This would be great for use with the ELK stack in the catalog.

[2015-12-30 15:57] santo74 commented on #113
Hi, I see this was removed from the v1.0.0 milestone, so what's the current status for this?

[2015-12-30 16:16] silviupanaite commented on #3148
Upgraded to rancher 50.1 :)

[2015-12-30 16:19] jraede opened #3149 "Server label reverting to previous value"
# Versions
Rancher	v0.50.1
Cattle	v0.127.0
User Interface	v0.74.0
Rancher Compose	v0.6.2

# Background
Last night two of our servers mysteriously had their labels changed from `service=notifications` to `service=cache`.

I noticed the issue, confirmed that nobody on our team made the change, and then changed both servers back to `service=notifications`. However, within seconds, they both reverted

[2015-12-30 16:48] deniseschannon commented on #3149
I am unable to reproduce on my v0.51.0 setup, can you let me know a couple of things?

1. Is this a fresh install or upgraded setup?
2. When did the labels (and what labels) get added to the hosts? Was it on creation or after creation by editing the hosts?
3. Were the hosts in active or inactive state when the label was reverted back?
4. Are other people logged into the environment when you are up

[2015-12-30 16:51] deniseschannon commented on #2501
@silviupanaite Can you do a `rancher-compose -v` to check your actual rancher-compose version?

Do you have the same issue if you used the same docker-compose.yml and rancher-compose.yml  in the *Add Stack* section of the UI?

[2015-12-30 17:02] jraede commented on #3149
1. It's an upgraded install. Our original install was 0.47, we upgraded to 0.49, and then 0.50.1
2. I added the initial `service=notifications` label to the hosts on creation, and then later added another label for `logging=notifications` as well. The `service=cache` label is applied to 3 other servers, which were created after these servers. Important to note that `service=cache` was *never* set

[2015-12-30 17:35] deniseschannon commented on #3149
This is weird that these hosts never had this label. I'll need to have you look into your DB to see where the underlying problem is.

Can you exec into your Rancher server container and go to mysql? (This is assuming you have launched Rancher server without an external DB).

[code]

When in the mysql DB, you'll need to switch to the cattle DB.
[code]

Step 1: Provide the info on one of the broken

[2015-12-30 17:57] sangeethah commented on #3036
Tested with following configuration:

Rancher	v0.51.0
Cattle	v0.130.0
User Interface	v0.78.0
Rancher Compose	v0.7.0

[code]

Able to start catalog service - route53 successfully.
Creating and starting services having exposed port , results in the record sets being programmed on Route 53 successfully.

[2015-12-30 17:57] dalareo commented on #1990
Readonly users should not definitively be able to REMOVE containers...
Readonly user can also add host and containers, which is also weird to a readonly permission user.

[2015-12-30 18:06] #3132 closed

[2015-12-30 18:30] sangeethah commented on #3035
Tested with server version - v0.51.0
Exact match for hostnames is given priority over wildcard matches now.

[2015-12-30 18:30] #3035 closed

[2015-12-30 19:35] jraede commented on #3149
# Step 1:

[code]

# Step 2

Looks like I actually created the `service=cache` label before `service=notifications`, if I'm reading it correctly. Is there a way via the DB to see when a label was applied?

[code]

[2015-12-30 19:44] deniseschannon commented on #3149
You should be able to do to see when the labels were mapped to the hosts.

[code]

I'd like to look result to see whether or not the service=cache label is being removed in that table.

[2015-12-30 19:47] will-chan commented on #2891
I believe this has been fixed.  Can you reproduce on latest?

[2015-12-30 19:48] jraede commented on #3149
Ok so looks like I misspoke - according to this I had this server tagged as `service=cache` for a few days before designating it for the notifications service. Here's the output (I modified the query a bit to get only the relevant data)

[code]