[2016-06-17 01:29] tfiduccia commented on #4942
Version - master 6/16
Verified fixed

[2016-06-17 01:29] #4942 closed

[2016-06-17 01:31] tfiduccia commented on #3779
Version - master 6/16
Can not reproduce

[2016-06-17 01:31] #3779 closed

[2016-06-17 02:22] ibuildthecloud commented on #4451
@galal-hussein It seems that Heapster requires the node name to be a valid DNS name

[code]

I'm not too sure what we can do there.  Can you try the same on AWS where the hostnames are valid DNS names?

[2016-06-17 04:21] soumyalj commented on #4908
@alena1108 : I still see this bug
<img width="1440" alt="screen shot 2016-06-16 at 9 20 20 pm" src="https://cloud.githubusercontent.com/assets/18536626/16140686/32309d54-3408-11e6-9a29-46221873cd39.png">

[2016-06-17 04:28] sangeethah opened #5171 "rhel7.2 (with docker 1.11.2) - Hosts are stuck in "reconnecting" state"
Rancher Version: v1.1.0-dev5-rc2

Docker Version: docker 1.11.2

OS and where are the hosts located? (cloud, bare metal, etc): rhel7.2 (from GCE)

Set up - 3 rhel7.2  hosts.

Sometime into automation run , all 3 hosts are in "Reconnecting" state now.
All 3 hosts are in different state - host1 - docker is not able to connect to docker deamon

host2 - docker ps command hangs - I see this in dmesg -

[2016-06-17 04:37] tfiduccia opened #5172 "When I select unrestricted, clearing out restricted/required users"
**Rancher Version:** master 6/16

**Steps to Reproduce:**
1.  Authenticate using AD
2.  Set Site Access to Allow member of Environment or Restrict Access and add users.  Save
3.  Set back to unrestricted.  Save and refresh browser
4.  Select Restricted or required mode again

**Results:** No one is in the list.  You are clearing the list.

**Expected:** Don't clear the list.  This is actually real

[2016-06-17 04:52] soumyalj opened #5173 "Not able to login as github user(member) after an upgrade from v1.0.1 to v1.1.0-dev5-rc2"
**Rancher Version:**: v1.1.0-dev5-rc2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Cattle

**Steps to Reproduce:**
1. Create a cattle environment with version 1.0.1
2. Enable github user as the owner.
3. Create another environment and give access to user1. Login as user1 in another browser into the new envir

[2016-06-17 04:54] sangeethah opened #5174 "CentOS 7 (docker 1.11.2) host stuck in reconnecting state."
Rancher Version: v1.1.0-dev5-rc2

Docker Version: docker 1.11.2

OS and where are the hosts located? (cloud, bare metal, etc): CentOS 7(from GCE)

Set up - 3 rhel7.2 hosts.

After automation run , 1 od the 3 hosts is in "Reconnecting" state . (Validation tests succeeded for most part except for few test cases relating to volume mount because of timing out waiting for hosts to come up)

Agent log h

[2016-06-17 05:12] tfiduccia commented on #5134
Version - master 6/16

[2016-06-17 05:12] #5134 closed

[2016-06-17 05:14] tfiduccia commented on #5160
Version - master 6/16
Verified fixed

[2016-06-17 05:14] #5160 closed

[2016-06-17 05:19] soumyalj opened #5175 "Not able to AWS machine after an upgrade from v1.0.1 to v1.1.0-dev5-rc2"
**Rancher Version:**: v1.1.0-dev5-rc2

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Cattle

**Steps to Reproduce:**
1. Create a cattle environment in v1.0.1. Add AWS hosts to the environment
2. Upgrade to v1.1.0-dev5-rc2
3. Add AWS host again

**Results:**
Cannot add AWS hosts to the environment:

<img width=

[2016-06-17 05:27] tfiduccia commented on #5175
Amazon only allows for so many machines per region.  The region you are using is out of quota (too many machines in that region).  You will have to use a different region.

[2016-06-17 05:27] #5175 closed

[2016-06-17 06:01] tfiduccia opened #5176 "English translation missing in deactivate environment"
**Rancher Version:** master 6/26

**Steps to Reproduce:**
1.  Click deactivate environment

**Results:** english translations missing
translation not found: locale='en-us', key='modalConfirmDeactiviate.buttons.project.message'.
translation not found: locale='en-us', key='modalConfirmDeactiviate.buttons.project.button'.

![image](https://cloud.githubusercontent.com/assets/11514927/16141994/37c3285a

[2016-06-17 06:07] prachidamle commented on #5173
This was an expected behavior with v1.1.0-dev5-rc2

But since we would have landed in exactly cases like these, the functionality of "required" access Vs "restricted" access was added with following fix:
https://github.com/rancher/rancher/issues/5166

We need to test this scenario again with "rc3".

[2016-06-17 07:44] prachidamle commented on #5172
@vincent99 @tfiduccia admin user needs to be set in the list by default when "restricted"/"required" mode is being saved.  When UI starts adding the logged in admin by default, we dont need any server fix.

I need to clear out the list when "unrestricted" accessmode is sent, else in the following scenario there is no way to fix the config:

1. Go to AD Access Control
2. Log in using good credentia

[2016-06-17 07:49] prachidamle commented on #5172
We need a UI fix instead, to set admin user by default to the list when selecting "restricted"/"required" mode.

[2016-06-17 10:58] sronsiek opened #5177 "Rancher UI changing"
Hi,

I'm trying out rancher & very encouraged with it's functionality palette. However I've come across something which seems odd:

The top-option in the SWARM menu in the web-interface says 'Project'. After some time, for unknown reasons, this switched to 'Stack', with additional options for stack create etc etc.

I wanted a 'clean' start in my testing, so I stopped & removed all rancher containe

[2016-06-17 11:04] sronsiek commented on #5177
Ok - think I found it  - it's the orchestration setting for the host in the environment section that causes the change:

  - Cattle -> 'Stack'
  - Swarm -> 'Project'

[2016-06-17 12:13] colmaengus commented on #4529
@alena1108: just tried this and it does't work

[2016-06-17 12:22] QkiZMR opened #5178 "Server not available at http://172.17.0.1:18080/ping error"
**Rancher Version:**
current stable

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04, VMware

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
After deploy rancher like in point 4 on http://docs

[2016-06-17 13:11] polysign commented on #113
+1

[2016-06-17 13:20] QkiZMR commented on #5178
ok fixed.

[2016-06-17 13:20] #5178 closed

[2016-06-17 14:14] MaxNoe commented on #5014
Another question: Is it possible for rancher to manage the gitlab-ci jobs (distribute them equally on the cluster?) Right now, all jobs are starting on the host where the gitlab-ci service is running.

[2016-06-17 14:52] #5177 closed

[2016-06-17 15:58] galal-hussein commented on #4451
@ibuildthecloud I tested it on AWS, and heapster worked without throwing the "no valid hostname" error:

[code]

![heapster](https://cloud.githubusercontent.com/assets/3309968/16156530/6c93efcc-34bd-11e6-921f-0b1045e5cac9.png)

[2016-06-17 16:00] galal-hussein commented on #5165
@prachidamle @ibuildthecloud I solved this issue by changing the value of grafana controller GF_SERVER_ROOT_URL to
value: /
instead of
value: /api/v1/proxy/namespaces/kube-system/services/monitoring-grafana/

Grafana dashboard is working now correctly.

[2016-06-17 16:42] will-chan opened #5179 "Support Docker 1.12.0"
Add support for Docker Engine 1.12.0.

[2016-06-17 16:44] galal-hussein commented on #4423
Tested with version v1.1.0-dev5-rc2 with the same configuration files, and it worked correctly.

[2016-06-17 16:44] #4423 closed

[2016-06-17 16:47] alena1108 commented on #4908
@soumyalj you will see it for older k8s version. you should test against the latest one. Either test an upgrade from dev5, or on dev5 bring rancher server down and keep it down for more than 5 mins.

[2016-06-17 16:49] soumyalj commented on #4341
Tested with v1.1.0-dev5-rc2. Wordpress catalog was added and left overnight. The containers remained running next day.

[2016-06-17 16:49] #4341 closed

[2016-06-17 16:56] #5165 closed

[2016-06-17 16:58] y8 commented on #5086
I've restarted agent in debug mode, but there exactly nothing new about the what exactly caused the ping failure.

[code]

And then it just a re-connection output with a lot of debugging info. Here a full log: https://gist.github.com/y8/ee8aaf11b49dde5e02d444da28a10a7b

[2016-06-17 16:59] westlywright commented on #5176
@tfiduccia can you double check this? I checked out master this morning and am able to see the correct translations
<img width="782" alt="screenshot 2016-06-17 09 58 11" src="https://cloud.githubusercontent.com/assets/858614/16158460/28bc03e8-3472-11e6-8c73-ab277afd3433.png">

[2016-06-17 17:04] sangeethah opened #5180 "Validate Deis Workflow on Kubernetes"
Validate Deis Workflow on Kubernetes

[2016-06-17 17:16] tfiduccia commented on #5058
Version - master 6/16
Verified fixed

[2016-06-17 17:16] #5058 closed

[2016-06-17 17:18] tfiduccia commented on #5092
Version - master 6/16
Verified fixed

[2016-06-17 17:18] #5092 closed

[2016-06-17 17:20] lesaux commented on #5006
I've worked my way around this by using a mysql dump taken after a bootstrap. I'm making my terraform template available here: https://github.com/lesaux/terraform-aws-rancher-ha if its useful to anyone.

[2016-06-17 17:21] tangfeixiong opened #5181 "[go-rancher] double slash chars in catalog service header X-Api-Schemas"
**Rancher Version:** v0.8.3  catalog-service git tag:v0.6.1

**Docker Version:** 1.9.1

**OS and where are the hosts located? (cloud, bare metal, etc):** mac+vbox+vagrant fedora 23

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
rancher-catalog-service only, build a standalone image from alpine 3.4. [fork](https://github.com/stackdocker/rancher-catalog-service

[2016-06-17 17:22] y8 commented on #5086
Also this happens time to time: https://gist.github.com/y8/819f099e3f468edba3f83cf196abd034

[2016-06-17 17:44] deniseschannon commented on #4497
Duplicate of https://github.com/rancher/rancher/issues/4890

Already fixed in v1.1.0-dev5-rc2

[2016-06-17 17:44] #4497 closed

[2016-06-17 17:47] aemneina commented on #5006
@lesaux this is an awesome endeavor. It'll definitely be useful to a lot of folks.

[2016-06-17 17:53] galal-hussein commented on #5180
I installed Deis workflow from this [guide](https://deis.com/docs/workflow/installing-workflow/), and the installation resulted in creating several rcs and pods, one of them is failing with the following error:

deis-builder
[code]

[2016-06-17 18:00] LLParse commented on #5100
Etcd deployment is sooooooo much faster, thanks @alena1108 !

[2016-06-17 18:07] y8 commented on #5086
By the way, dunno if this is related, but failing environment have strange `uuid` property:

[code]

Second environment got the proper one ("zzzzzzzz-xxxx-xxxx-xxxx-yyyyyyyyyyyy"). Could it be something like upgrade went wrong?

[2016-06-17 18:19] tfiduccia commented on #4325
Version - master 6/17
Verified fixed

[2016-06-17 18:19] #4325 closed

[2016-06-17 18:20] tfiduccia commented on #5159
Version - master 6/17
Verified fixed

[2016-06-17 18:20] #5159 closed

[2016-06-17 18:28] vincent99 commented on #5176
@westlywright For some reason the CI build doesn't ever upload the translation files..  I rebuilt and uploaded locally and they're there now.

[2016-06-17 18:28] Beng89 opened #5182 "Containers not starting when TLS is configured"
**Rancher Version:**
- server: v1.1.0-dev4
- agent: v1.0.1

**Docker Version:**
- 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
- Red Hat VM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
- single server node with separate agent node on the same network.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
- Cattle

**Steps to Re

[2016-06-17 18:35] tfiduccia commented on #5176
Version - master 6/17
Verified fixed

[2016-06-17 18:35] #5176 closed

[2016-06-17 19:01] soumyalj commented on #4848
Verified with v1.1.0-dev5-rc2. Stats are showing up for containers and hosts for both Docker 1.10.3 and 1.11.2

[2016-06-17 19:01] #4848 closed

[2016-06-17 19:04] deniseschannon opened #5183 "Readonly Mode - Display message for why you can't add service from welcome page"
**Rancher Version:**
master 6/17

**Steps to Reproduce:**
1. Create an environment and only add hosts
2. Add a user with readonly access
3. Try to click on "Add Service" from welcome screen from readonly user

**Results:**
Nothing

**Expected:**
Put an error message to indicate that it's not allowed.

[2016-06-17 19:24] soumyalj opened #5184 "Kubernetes catalog upgrade does not succeed"
**Rancher Version:**: v1.1.0-dev5-rc2

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment in V1.0.1
2. Create pods, rc, service
3. Upgrade to 1.1.0-dev5-rc2

The upgrade available tab shows up in system stack. Clicking on the Upgrade tab does n

[2016-06-17 20:23] bradjones1 opened #5185 "Display labels from image, in addition to container"
Feature request - display labels from the image, in addition to the existing labels shown for the container. This would be helpful, for instance, in quickly verifying which code version a "latest" image is running (assuming that label was set at build.)

[2016-06-17 20:36] deniseschannon commented on #5185
When you say label do you actually mean tag?

`ubuntu:14.04.3` and the tag is `14.04.3`?

[2016-06-17 20:39] bradjones1 commented on #5185
Hi @deniseschannon - Actually I mean label. https://docs.docker.com/engine/userguide/labels-custom-metadata/

[2016-06-17 21:46] soumyalj commented on #5173
Tested with upgrade from v1.1.0-dev4 to v1.1.0-dev5-rc3. Able to login as a github user(member).
[Note: The upgrade from v1.0.1 to v1.1.0-dev5 may not be done by users]

[2016-06-17 21:46] #5173 closed

[2016-06-17 21:53] tfiduccia commented on #5164
Version - master 6/16
I'm always seeing the error response from Azure now.  I would still prefer a "Username or Password incorrect" or something.
![image](https://cloud.githubusercontent.com/assets/11514927/16165774/d97b54b8-349a-11e6-926b-405597a2b6fe.png)

[2016-06-17 21:56] tfiduccia commented on #5161
Version - master 6/17
Verified fixed

[2016-06-17 21:56] #5161 closed

[2016-06-17 21:57] tfiduccia commented on #5172
Version - master 6/16
Verified fixed

[2016-06-17 21:57] #5172 closed

[2016-06-17 22:09] dkiser commented on #5086
Minus the panic, seeing exact same issues on following

**Rancher version:** 1.0.2

**docker version**
[code]

**os version**
[code]

[2016-06-17 22:32] sangeethah commented on #5106
Tested with UI - v1.1.6 . There is no need for manual refresh for the newly added targets to show up in the "Create Backup" page.

[2016-06-17 22:32] #5106 closed

[2016-06-17 22:39] deniseschannon commented on #5051
Okay, I'm going to close in favor of this one if you just want to clean up hosts automatically: https://github.com/rancher/rancher/issues/3745

[2016-06-17 22:39] #5051 closed

[2016-06-17 22:40] prachidamle commented on #5180
@galal-hussein I cannot reproduce this using the latest.
deis pods all are running and in READY state for my k8s cluster:

Prachis-MacBook-Pro:.kube prachi$ kubectl --namespace=deis get pods
NAME                          READY     STATUS    RESTARTS   AGE
deis-builder-riozz            1/1       Running   6          9m
deis-controller-yp6yx         1/1       Running   5          9m
deis-database-5s

[2016-06-17 22:42] prachidamle commented on #5180
@galal-hussein did you test deis on the same setup as heapster?

[2016-06-17 22:50] galal-hussein commented on #5180
@prachidamle It was another setup, rancher version v1.1.0-dev5-rc3, i will test again and let you know.

[2016-06-17 22:52] prachidamle commented on #5180
@galal-hussein can you ensure you are testing with latest k8s system templates:
2) This was the k8s template my setup used to create the kubernetes stack: ("v1.2.4-rancher6")
https://github.com/rancher/qa-catalog/tree/master/templates/kubernetes/1

[2016-06-17 22:55] tfiduccia opened #5186 "Show System checkbox unchecked after refresh but page still showing system containers"
**Rancher Version:** master 6/17

**Steps to Reproduce:**
1.  Go to host page with a few hosts and some services on them (so Network Agent exist)
2.  Check the Show System checkbox
3.  Refresh browser

**Results:**  Show System is unchecked but you can still see the Network Agent containers (actually you can see all system containers)
![image](https://cloud.githubusercontent.com/assets/11514927/16

[2016-06-17 23:09] tfiduccia commented on #5169
Version - master 6/17
Verified fixed

[2016-06-17 23:09] #5169 closed

[2016-06-17 23:12] tfiduccia commented on #5107
Version - master 6/17
Verified fixed

[2016-06-17 23:12] #5107 closed

[2016-06-17 23:26] galal-hussein commented on #5180
@prachidamle I did, but now i am having another problem with the deis-router pod, the kubectl describe shows the following:

[code]
I think the problem is that the following container is using the same port:
[code]

[2016-06-17 23:34] alena1108 commented on #5180
@galal-hussein just add one more host, or remove this LB (if it was created using ingress, remove the ingress)

[2016-06-18 00:09] galal-hussein commented on #5180
I added a host but the deis-router and deis-logger-fluentd  were failing to start, after removing the host and the loadbalancer manually all pods were up and running:

[code]

[2016-06-18 00:16] tfiduccia commented on #5166
Version - master 6/17
Verified fixed

[2016-06-18 00:16] #5166 closed

[2016-06-18 00:20] tfiduccia commented on #4527
Version - master 6/17
Verified fixed

[2016-06-18 00:20] #4527 closed

[2016-06-18 00:23] tfiduccia commented on #4085
Version - master 6/17
Verified fixed

[2016-06-18 00:23] #4085 closed

[2016-06-18 00:31] tfiduccia commented on #4132
version - master 6/17
Verified fixed

[2016-06-18 00:31] #4132 closed

[2016-06-18 00:37] sangeethah commented on #5180
@prachidamle , seems like deis is not able to start successfully when there is more than 1 host in the setup.

[2016-06-18 01:31] vincent99 commented on #5108
Removed `jquery.initialize` by changing the way the hosts columns (on the regular Hosts view) are sized.  This has seemingly nothing to do with graphs but was causing a significant performance hit.

The graphs themselves were not displaying because the gradient they are rendered with depends on the URL of the page.  So they are still there, but invisible once the URL changes (regardless of which t

[2016-06-18 01:35] tfiduccia opened #5187 "Create new cookie part of Stickiness for LB is broken and won't display"
**Rancher Version:**Master 6/17

**Steps to Reproduce:**
1.  Open add load balancer screen
2.  Click on Stickiness
3.  Select Create new Cookie

**Results:**  Nothing happens and an error show up in dev tools: ember.prod.js:11745 Uncaught TypeError: Cannot read property 'isHelperInstance' of undefined

**Expected:** Cookie info should show up.

[2016-06-18 04:40] bchelli opened #5188 "Incorrect path to Mesos sandbox being mounted on Docker instances"
**Rancher Version:**
v1.1.0-dev5-rc3 (Can be reproduce with other versions too)

**Docker Version:**
 v1.11.2

**Marathon Version:**
v1.1.1

**OS and where are the hosts located?**
VM on Scaleway.com
Ubuntu 16.04 LTS (4.5.2-docker-2)

**Setup Details:**
Single Rancher Node

**Environment Type:**
Mesos (3 nodes)
2x2.4GHz - 2GB RAM - 50GB SSD

**Steps to Reproduce:**
- Create a Mesos environment thr

[2016-06-18 05:05] alena1108 commented on #5180
@galal-hussein any logs on the start failure?

[2016-06-18 08:15] wlan0 opened #5189 "Insecure Registry for "other" driver does not get set."
**Rancher Version:** v1.0.2

**Docker Version:**1.10

**OS and where are the hosts located? (cloud, bare metal, etc):** Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**

Just add a host from under the "other" section of the Add host page, and set Insecure registry option to any value.

**Results:**
Insecure registry is not set in the API/ and does not sh

[2016-06-18 08:16] wlan0 commented on #5189
I tried setting it directly in the API, and it gets set correctly. Its a problem only when done from the UI.

[2016-06-18 08:27] dj-hedgehog opened #5190 "Upgrade Create/Stack from CI server?"
**Rancher Version:** v1.1.0-dev1

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, external db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I've setup my Gitlab CI to create a docker image of a project and push it to a

[2016-06-18 15:50] soumyalj opened #5191 "Kubernetes image pull fails with the qa-catalog"
**Rancher Version:**: v1.1.0-dev5-rc4

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment with  https://github.com/rancher/qa-catalog/
2. Kubernetes does not start successfully .

Image Pull gives the following error :
Image [rancher/k8s:v1.2.4-fake] failed to pull: Tag v1.2.4-fake not found in repository docker.io/rancher/

[2016-06-18 16:44] bchelli commented on #5188
Basically it look like the --work_dir is not properly specified.
http://mesos.apache.org/documentation/latest/sandbox/

Thanks

[2016-06-18 16:49] deniseschannon commented on #5187
Verified with v1.1.0-dev5-rc4 that the cookie info shows up.

[2016-06-18 16:49] #5187 closed

[2016-06-18 17:56] defunctzombie commented on #1824
@vincent99 still interested in a PR here or have other plans for the UI?

Personally, beyond a host filter (which I am happy to PR), I would find it much more straightforward to look at the hosts as a list versus the "card" view which is only useful for a handful of hosts.

[2016-06-18 20:23] alena1108 commented on #5191
please re-test against rc5. rc-4 release didn't include the fix for that.

[2016-06-18 21:24] sangeethah opened #5192 ""Upgrade Available" option shown for a template that does not satisfy minimum version check."
Rancher Version: v1.1.0-dev5-rc5
K8 catalog from - https://github.com/rancher/qa-catalog/

Steps to reproduce the problem:
Add catalog "library" with url  https://github.com/rancher/qa-catalog/
Create a kubernetes environment.

Kubernetes environment gets created with the correct template ( image rancher/k8s:v1.2.4-rancher6) .

<img width="1085" alt="screen shot 2016-06-18 at 2 23 32 pm" src="http

[2016-06-18 22:12] jonathan-r commented on #5118
I have the same issue. A new execution of the process is created every 2 min but fails (Exit Reason: TIMEOUT).
* Rancher v1.0.2 (`rancher/server:stable`)
* Cattle v0.159.8
* User Interface v1.0.5
* Rancher Compose v0.7.4
* Single Host - Docker version 1.11.2, build b9f10c9

[2016-06-18 22:15] sangeethah opened #5193 "sometimes etcd is stuck in "Initializing" state"
Rancher Version: v1.1.0-dev5-rc5
K8 catalog from - https://github.com/rancher/qa-catalog/

Steps to reproduce the problem:
Add catalog "library" with url https://github.com/rancher/qa-catalog/
Create a kubernetes environment.

Kubernetes environment gets created with the correct template ( image rancher/k8s:v1.2.4-rancher6) .

But Kubernetes stack is stuck in "Initialzing" state since "etcd" and "

[2016-06-19 00:34] soumyalj opened #5194 "Kubernetes stack upgrade is not successful"
**Rancher Version:**: v1.1.0-dev5-rc5

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes set up of v1.1.0-dev4
2. Create pods/service/rcs
3. Upgrade to v1.1.0-dev5-rc5

**Results:**
1. Still see only 1 etcd, instead of 3 etcds
2. Old user containers are in stopped state

[2016-06-19 03:00] virtuman opened #5195 "Mega Urgent - breaking change in docker 1.12 causes Invalid hostname format"
**Rancher Version:**
1.1.0-dev4

**Docker Version:**
1.12-rc1

**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
multi-node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
create any container from catalog will cause this error: **invalid hostn

[2016-06-19 04:27] thaJeztah commented on #5195
Could you open an issue in the Docker issue tracker as well, to discus this? Although validating the hostname may be a good thing, possibly it's too much of a breaking change

[2016-06-19 05:25] ibuildthecloud commented on #5195
Ah.... this makes me sad.  We will fix accordingly.

[2016-06-19 05:35] alena1108 commented on #5194
upgrades are not supported when etcd gets changed. We should support upgrades starting 1.1. I'll provide some diff k8s image to qa-catalog to test

[2016-06-19 08:00] frekele opened #5196 "%upgradeBtn.status.notfound% is missing English translation"
**Rancher Version:** v1.1.0-dev5

**Cattle Version:** v0.164.1

**User Interface:** v1.1.10

**Rancher Compose:** v0.8.4

**Docker Version:** v1.10.3

**Browser Version:** Google Chrome 51.0.2704.103 m (windows 10)

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS EC2 - Debian 8.5 HVM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single

[2016-06-19 11:21] davidrabinowitz opened #5197 "rancher-compose fails to populate boolean parameter from environment"
**Rancher Version:**  0.7.4

**Docker Version:** 1.12.0-rc2, build 906eacd, happened on 0.11 as well

**OS and where are the hosts located?** rancher-compose running on Linux and Mac

**Steps to Reproduce:** Create a rancher-compose.yml file, with an boolean parameter provided by an environment variable, like this
[code]

**Results:** An error occurs: yaml: unmarshal errors: line 28: cannot unmars

[2016-06-19 13:17] raviv commented on #5197
👍

[2016-06-19 16:11] silviupanaite commented on #3450
I'm experiencing the same on:

Component	Version
Rancher	v1.0.0
Cattle	v0.159.2
User Interface	v0.100.3
Rancher Compose	v0.7.3

rancher/convoy-agent:v0.3.0
rancher/glusterfs:v0.2.1
busybox

[2016-06-19 16:14] soumyalj commented on #5191
Tested with v1.1.0-dev5-rc5.

[2016-06-19 16:14] #5191 closed

[2016-06-19 16:15] soumyalj commented on #5184
Verified with v1.1.0-dev5-rc5.

[2016-06-19 16:15] #5184 closed

[2016-06-19 16:16] soumyalj commented on #4531
Features verified v1.1.0-dev5-rc5.

[2016-06-19 16:16] #4531 closed

[2016-06-19 16:22] asthomasdk commented on #4411
I see the latest Rancher release has support for Docker 1.1. - but not for this issue.

Any ETA on a fix ?

[2016-06-19 18:07] jmls commented on #4411
we've just hit this issue as well - a real pita. If 1.11 is supported, then surely this bug should have been fixed by now ?

[2016-06-19 18:26] soumyalj commented on #4908
Verified with v1.1.0-dev5-rc5 by keeping the rancher server down for more than 5 minutes. Need to verify for the upgrade usecase.

[2016-06-19 19:41] mathuin commented on #5168
I have resolved this issue with a bit of scripting.  I can now spin up a new rancher server in a VM, spin up a rancher host in another VM, add the host to the server with the add-host command, and generate API keys for the default environment.  I'm going to close the issue, but if anyone needs help doing this, just ask.

[2016-06-19 19:41] #5168 closed

[2016-06-19 20:26] deniseschannon commented on #4579
@akurkin I'm going to close this issue. If it's still broken, please let me know.

[2016-06-19 20:26] #4579 closed

[2016-06-19 20:33] deniseschannon commented on #5196
We've added in the ability to translate Rancher into different languages, which meant we took every bit of text on the site and made it into a variable that could be replaced by language.

The English translation is missing for this text.

[2016-06-19 20:35] deniseschannon commented on #5167
Verified this is working in v1.1.0-dev5-rc5

[2016-06-19 20:35] #5167 closed

[2016-06-19 20:38] deniseschannon commented on #5108
Verified in v1.1.0-dev5-rc5 that the stats are being updated if on the volume or port tab in the detailed container view.

[2016-06-19 20:38] #5108 closed

[2016-06-19 21:06] deniseschannon commented on #5197
Duplicate of https://github.com/rancher/rancher/issues/4822

In that issue, you can see the comments, but long story short is that docker-compose/libcompose/rancher-compose currently is unable to handle environment interpolation/variable substitution with booleans.

[2016-06-19 21:06] #5197 closed

[2016-06-19 21:19] aemneina commented on #4781
Verified this working with rancher/server:v1.1.0-dev5-rc5. Added, removed then added some more ubuntu ec2 hosts via the Rancher docker-machine functionality.

[2016-06-19 21:19] #4781 closed

[2016-06-19 21:19] aemneina commented on #4404
Verified this working with rancher/server:v1.1.0-dev5-rc5. Added, removed then added some more ubuntu ec2 hosts via the Rancher docker-machine functionality.

[2016-06-19 21:19] #4404 closed

[2016-06-19 22:20] dj-hedgehog opened #5198 "403: Can't pull from private v2 registry"
**Rancher Version:** v1.1.0-dev1
**Docker Version:** 1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):** bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** sindle node rancher, external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I'm using GitLab as a private container-registry. I set up this private registry in

[2016-06-19 22:22] dj-hedgehog commented on #5190
I found out I can use any Docker image in my CI for the various built-steps so I'm using an image which contains `rancher-compose` for deployment.

The CI-definition looks like this:
[code]

The only issue is that Rancher can't pull from my private registry. I opened a new issue for that: https://github.com/rancher/rancher/issues/5198

[2016-06-19 22:22] #5190 closed

[2016-06-19 22:55] ruimarinho opened #5199 "Activating containers in batch when launching a service"
When adding multiple [Redis Sentinel](http://redis.io/topics/sentinel) containers at once, it is recommended to wait for other Sentinels to already know about the first one before adding the next. This is important to guarantee that majority is only achieved in one side of the network partition.

Would it be possible to schedule a service activation similar to what is currently possible when upgra

[2016-06-19 23:00] ruimarinho commented on #5179
Lots of potential for `HEALTHCHECK` :)

[2016-06-19 23:21] dj-hedgehog opened #5200 "[rancher-compose] Can't build from source"
**Rancher Compose Version:** 0.8.4
**OS:** macOS 10.11.6
**GO version:** 1.6.2

**Steps to Reproduce:**

[code]

**Results:**

[code]

**Expected:**

Building `docker-compose` binary.

Even after installing all required packages but the ones which are already inside the `vendor` folder via `go get` it doesn't consider the packages inside the `vendor` folder.

What am I doing wrong?

[2016-06-19 23:57] dj-hedgehog commented on #3248
For those using GitLab:
You can pull from a private repo by using a URL in this format:
https://gitlab-ci-token:<token>@git.example.com/group/mycatalog.git

You can find the CI token for the project when editing a project as the "Runners token" (you probably have to enable builds and set up a runner).

[2016-06-20 00:07] bradjones1 commented on #5014
The short answer is, not really. I'm sure you could script something, and the provider => consumer model that's part of #2179 could probably help, but not out of the box.

[2016-06-20 03:58] HackerWilson opened #5201 "(docker 1.12) Add support to docker swarm created by docker engine"
With the ability of docker 1.12 to create a swarm cluster by itself and many more features provided, could rancher support directly use swarm cluster created by docker engine itself? [doc](https://github.com/docker/docker/blob/master/docs/swarm/index.md)

[2016-06-20 04:52] willseward commented on #4463
After comparing the logs from a failed mount and a successful mount, it kinda looks like a race condition to me.

[2016-06-20 08:27] rsippl commented on #4411
There is some WIP related to 1.11 at https://github.com/rancher/runc/tree/jazzhands from @ibuildthecloud, but it doesn't work for me yet (/var/run/runc/ is missing).

[2016-06-20 09:22] HackerWilson commented on #4491
@soumyalj
I deployed rancher with v1.1.0-dev5 today and add two hosts in rancher success, but only one host still get these errors:
[code]
docker version is 1.11.2

[2016-06-20 09:42] y8 commented on #5086
@cloudnautique @alena1108 could you please add the milestone and labels to this ticket?

[2016-06-20 10:07] kvaes commented on #4576
FYI - There are already products moving into that segment ; containerX, Windocks, ...

[2016-06-20 10:15] Ryuzavi opened #5202 "[rancher-compose] Unable to specify compose files in other locations from tool?"
**Rancher Version:**

Rancher - `v1.1.0-dev4`
Rancher Compose - `v0.8.3`

**Docker Version:**

`Docker version 1.11.1, build 5604cbe`

**Steps to Reproduce:**

Try to run rancher-compose with the -f and -r flags pointing to their respective docker-compose and rancher-compose files in another location with full filepath

e.g.
`./rancher-compose logs -f blah/docker-compose.yml -r blah/rancher-compos

[2016-06-20 11:37] ingardm opened #5203 "feature: external-lb Ability to specify a F5 bigip pool as the target endpoint instead of virtual server"
**Rancher Version:**

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**

**Results:**

**Expected:**
A service should be linked to a bigip pool instead of a virtualserver AND pool. This is to suppo

[2016-06-20 12:08] ltupin opened #5204 "Unable to create a Kubernetes environment Ubuntu 14.04LTS Docker 1.10.3 Rancher 1.1.0-dev4"
**Rancher Version:**
1.1.0-dev4

**Docker Version:**
Docker version 1.10.3, build 20f81dd

**OS (same for hosts and Rancher server)**
Ubuntu 14.04.4 LTS trusty
Linux rancher_host_kubernetes_01 4.2.0-27-generic #32~14.04.1-Ubuntu SMP

**Where are the hosts located? (cloud, bare metal, etc):**
VMware VMs on ESXi 5.5.0 Build 2068190 (same for hosts and Rancher server)

**Setup Details: (single node r

[2016-06-20 13:28] snahelou commented on #5147
Same problem here after upgrade to v1.1.0-dev5. I disable catalog and reboot to clear processes. Maybe a proxy problem.

Regards

[2016-06-20 14:20] satyababu opened #5205 "Rancher Custom catalog:"
**Rancher Version:**
v1.0.2

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
VMware - CentOS 7

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

Added custom catalogs in UI, when I launch catalog, Its hanging u

[2016-06-20 14:41] sangeethah commented on #5204
@ltupin: , @vishal-biyani: We have a new version of K8s system template that is not compatible with dev4 release . Could you please upgrade rancher-server to 1.1.0-dev5 release and then update environments "Container Orchestration" to cattle and then back to Kubernetes , so that you get that  K8s system containers  get recreated.

[2016-06-20 15:19] ruimarinho commented on #5201
Would it make sense to eventually deprecate cattle in favor of native docker swarm clustering?

[2016-06-20 15:51] satyababu commented on #5205
Some more from logs:

2016-06-20 15:12:57,832 ERROR [:] [] [] [] [ecutorService-7] [.p.c.v.i.ConfigItemStatusManagerImpl] Failed null, exit code [7] output [INFO: Updating ipsec-hosts
INFO: Downloading http://host:8080/v1//configcontent//ipsec-hosts current=ipsec-hosts-127-d9e643568adffad1bf56033ff5cba1231b2269bdf1ad1e92181810fc6769449c
]
2016-06-20 15:13:26,035 ERROR [:] [] [] [] [ecutorService-1

[2016-06-20 16:04] satyababu commented on #5205
Restarted Host. The issue is resolved

[2016-06-20 16:04] #5205 closed

[2016-06-20 16:48] deniseschannon commented on #4977
To enable `ssl-server-verify none`, you'd need to be able to edit the `backend` in haproxy, which is part of this issue, which is to refactor the load balancer and allow configuration of `backend`.
https://github.com/rancher/rancher/issues/2179

[2016-06-20 18:07] nrvale0 opened #5206 "container stuck in "Initializing" due to strange interaction between Rancher health checks and service HTTP 3xx"
**Rancher Version:**
v1.1.0-dev4

**Docker Version:**
Docker version 1.11.2, build b9f10c9

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04 Vagrant VM in VirtualBox

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
rancher-compose up

[2016-06-20 18:13] biolounge commented on #5201
Will Rancher support docker 1.12 with built-in orchestration and DAB in the new release of Rancher? If so, how soon we can expect the next release?

[2016-06-20 18:22] MaxNoe opened #5207 "LoadBalancer with https port redirecting to wrong service"
**Rancher Version:**
1.1.0-dev3
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
4 BareMetal Ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Master / internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Run More than one webservice using https with a load

[2016-06-20 18:25] deniseschannon commented on #4489
These labels will work for containers created in k8s running on Rancher.

[2016-06-20 18:26] MaxNoe commented on #5207
For example, at the moment `https://auxdb.app.tu-dortmund.de` is pointing to our gitlab???
While `http://auxdb.app.tu-dortmund.de` is routed correctly.

[2016-06-20 18:40] deniseschannon commented on #3051
Are you able to create empty projects? Or does it only fail when passing in a docker-compose.yml?

[2016-06-20 18:43] #5206 closed

[2016-06-20 18:58] jtsaito commented on #1269
+1

[2016-06-20 19:10] MaxNoe commented on #5207
Dam, seems that I forgot to EXPOSE 443 in the auxservice container and the loadbalancer just tries another services than.

Can you add an option, to not do that? And just fail if no services answering to a given url can be reached? I think this is more sane.

[2016-06-20 19:35] ltupin commented on #5204
@sangeethah : I use 1.1.0-dev5 and it's working like a charm.
Many thanks !

If we want to keep the dev4 and use k8s, could you please tell us the right compatible images :

**For rancher 1.1.0-dev5**
rancher/k8s v1.2.4-rancher6
rancher/etcd v2.3.6
rancher/kubectld v0.2.0
rancher/ingress-controller v0.1.3
rancher/kubernetes-agent v0.2.0
rancher/agent v1.0.2
rancher/agent-instance v0.8.1
busybox la

[2016-06-20 19:41] MaxNoe commented on #5207
Also, when I delete my browsing cache and history, i reach the correct service. After a while, I get to the wrong service again. The I delete the cache again and I am routed correctly.

[2016-06-20 20:42] deniseschannon commented on #5204
@ltupin If you have an existing v1.1.0-dev4, you will not be able to create a new k8s environment, as rancher automatically starts up the system-stack images. You will be unable to select which versions of images to select for these system services.

[2016-06-20 20:59] leodotcloud commented on #4752
@fbrbovic : Could you please share your thoughts as to why you are inclined towards using weave driver?
@xeor : Can you please share your use cases in more detail? That would help me during the design phase.

[2016-06-20 21:04] deniseschannon commented on #5087
This sounds like an issue that has been fixed in v1.1.0-dev4. https://github.com/rancher/rancher/issues/4487

When we trigger any other config update to Lb service , by stopping other containers in the service / scaling up service , the container that was restarted gets reprogrammed in the haproxy.

This should be resolved in the most recent release.

Please re-open if you still face this issue in

[2016-06-20 21:04] #5087 closed

[2016-06-20 21:23] deniseschannon commented on #5096
As Rancher uses HAproxy software and HAproxy doesn't support UDP balancing, we wouldn't be able ot add this into the Rancher Load balancer.

[2016-06-20 21:23] #5096 closed

[2016-06-20 21:25] aemneina commented on #5039
I'll look to replicate this setup and see if there are any notables in getting it working.

[2016-06-20 21:28] deniseschannon commented on #4779
@legoheld Can you share the docker command you used to start your instance?

[2016-06-20 21:43] deniseschannon commented on #5127
Just to confirm, you want to continually upgrade while in an upgraded state due to laziness of not wanting to rollback/confirm and do it again. :)

I've made it an enhancement.

[2016-06-20 21:49] #4975 closed

[2016-06-20 22:02] leodotcloud commented on #3598
@fedya : Do you have any updates regarding this issue?

[2016-06-20 22:03] tsupertramp commented on #4656
Closing through problem is no more occuring in latest dev release

[2016-06-20 22:03] #4656 closed

[2016-06-20 22:15] xaka commented on #5127
Exactly. You can think of it as continuous upgrading until you finally happy with outcome. Thanks!

[2016-06-20 22:36] ltupin commented on #5204
Thanks a lot for this reply @deniseschannon .
And thanks team for this quick resolution !

[2016-06-20 22:36] #5204 closed

[2016-06-20 23:10] deniseschannon commented on #5202
The command should be `./rancher-compose -f blah/docker-compose.yml -r blah/rancher-compose.yml <command>`. Note that the command should be after the options.

e.g.
[code]

[2016-06-20 23:10] #5202 closed

[2016-06-21 00:02] parruda commented on #4406
I just updated to 1.1.0-dev5 and still have the same problem. Using ubuntu 16.04 and docker 1.11.2 on the hosts.

[2016-06-21 00:44] bseng commented on #5201
If we can model what docker did with swarm cluster and simplify the moving parts needed for a docker cluster (mainly remove the always on mysql instance for cattle and just point to a docker server url) then it will be great

[2016-06-21 01:17] adrianfalleiro commented on #5200
Yes, it looks like the README.md in the rancher-compose repo needs to be updated.

You should be able to build from source by running `make build`.

[2016-06-21 03:16] vincent99 commented on #5016
Your https proxy is likely configured incorrectly; the server container generates absolute URLs so it needs to know the original request URL with either PROXY Protocol or X-Forwarded-{Proto,Port} & Host.

[2016-06-21 03:20] vincent99 commented on #5013
Are you using a load balancer or SSL termination in front of Rancher?  It looks like it doesn't support websockets, so it's returning 200 instead of 101 and doing an upgrade..

[2016-06-21 04:38] deniseschannon commented on #5150
This is expected behavior of Rancher's internal DNS. The sidekick relationship is only to ensure that as you launch containers that depend on each other, they will be launched onto the same host. Outside of the launch configuration concept, there is nothing specific that indicates the sidekick service would only be available to the primary service.

For all of Rancher's internal DNS, if you are tr

[2016-06-21 04:38] #5150 closed

[2016-06-21 05:06] deniseschannon commented on #5198
Have you tried using the same image and using the UI to start a service?

What is your docker-compose file that you are using?

[2016-06-21 05:09] sangeethah opened #5208 "Add support for grace period as healthcheck parameter."
We encounter - rancher/rancher#5193 for which we would ideally be able to set a graceperiod as healthcheck parameter for etcd containers.

Currently there is no support for grace period for healthcheck -http://docs.aws.amazon.com/sdkfornet1/latest/apidocs/html/P_Amazon_AutoScaling_Model_CreateAutoScalingGroupRequest_HealthCheckGracePeriod.htm

Etcd doesn't respond with successful health checks unt

[2016-06-21 05:13] deniseschannon commented on #5199
Instead of being catalog specific, I think this is a general enhancement request for when launching services. When it gets added to the cattle side, we could implement a rancher-compose method, which could then be used for catalog entries.

[2016-06-21 05:16] deniseschannon commented on #5200
I've updated the readme accordingly.

[2016-06-21 05:16] #5200 closed

[2016-06-21 06:11] sangeethah commented on #4406
Able to see host and container stats when testing on a fresh install of rancher-sercer - v1.1.0-dev5 with hosts on Ubuntu 16.04 LTS (4.4.0-24-generic) with docker 1.11.2

@parruda , can you check  the cadvisor version in the rancher-agent container in host is 0.23.2,
[code]

[2016-06-21 06:14] dj-hedgehog commented on #5198
Hey @deniseschannon

I just started it from the UI and am getting `Error (Image [registry.example.com/myproject/backend:latest] failed to pull: Error: image myproject/backend:latest not found)`

The image is there and can be pulled via `docker pull` without any issues. I even `docker login` to the registry on the host executing the image.

If it helps I could create an account in my registry for y

[2016-06-21 06:19] sangeethah commented on #5198
@dj-hedgehog: For the docker-compose.yml you have provided , registry entry added in rancher-server should have "Address" field as "registry.example.com" (without http:// or https://). Can you check this setting?

[2016-06-21 06:27] ibuildthecloud commented on #5201
Rancher will support the new Docker 1.12 swarm mode just the same as we have supported Swarm, Kubernetes, and Mesos environments.  One could make the argument that Cattle should be deprecated in favor of Swarm or Kubernetes.  Only time and users will tell if that is the right direction.  As it stands right now we are making no major changes in the platform except that we will support Docker 1.12 a

[2016-06-21 06:31] ibuildthecloud commented on #5201
@biolounge DAB is highly experimental right now for us to really do anything with it.  But we will for sure support it as it matures.  As it stands right now it's basically a JSON format of docker-compose YAML but with less fields.  From that perspective it would be trivial to support.  We just need the format to bake a bit.  We have always embraced all things Docker (and containers) and this will

[2016-06-21 06:33] vincent99 commented on #5208
How is this different than `initializingTimeout`?

[2016-06-21 06:47] dj-hedgehog commented on #5198
@sangeethah By trying to make a screenshot for you (and changing the registry URL via chrome's HTML inspector) I found out that I had a space in my username which was wrong.
I started the `docker-compose.yml` above again.

Now the container from the private registry is starting up and instantly being stopped again without me having the chance to look into its logs. How can I view what's going wron

[2016-06-21 07:03] #5198 closed

[2016-06-21 07:13] dj-hedgehog opened #5209 "/var/run/docker.sock not mounted correctly in docker 1.11.2"
**Rancher Version:** 1.1.0 dev 1
**Docker Version:** 1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04, bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**single node, external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**

This `docker-compose.yml`:

[code]

**Results:**

Whe

[2016-06-21 07:52] kkeker opened #5210 "rancher-agent not starting on Ubuntu 16.04"
**Rancher Version:** v1.1.0-dev5

**Docker Version:** 1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04 LTS (GNU/Linux 4.4.0-22-generic x86_64) Hetzner vServer CX60

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**
root@sbg-node1 ~ # d

[2016-06-21 08:07] Ryuzavi commented on #5202
Ah before the commands!  Many thanks.

[2016-06-21 09:07] ltupin opened #5211 "WebGUI bug navigation - Unable to navigate from a specific action"
**Rancher Version:**
1.1.0-dev5

**Docker Version:**
Docker version 1.10.3, build 20f81dd

**OS (same for hosts and Rancher server):**
Ubuntu 14.04.4 LTS trusty
Linux rancher_host_kubernetes_01 4.2.0-27-generic #32~14.04.1-Ubuntu SMP

**Where are the hosts located? (cloud, bare metal, etc):**
VMware VMs on ESXi 5.5.0 Build 2068190 (same for hosts and Rancher server)

**Setup Details: (single node

[2016-06-21 10:08] xeor commented on #4752
@leodotcloud I think a generic solution supporting what docker supports is a good way of doing this.
The UI part can be problematic, but maybe it can be done in the same way as volumes?

Isolation of services / apps is probably the most urgent problem, separating it so applications can't talk to each others. It should be possible to create networks per applications, maybe even define rules so that

[2016-06-21 12:06] MadeInChina opened #5212 "Stacks could not create success"
**Rancher Version:**
     v1.1.0-dev5
**Docker Version:**
   Docker version 1.11.1, build 5604cbe

**OS and where are the hosts located? (cloud, bare metal, etc):**
    Mac
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
    1.dao pull rancher/server
    2.docker run -d --restart=always -p 8888:8080 --name rancher-server rancher/server

**Environment Type: (Cat

[2016-06-21 12:45] bchelli commented on #5188
Hey guys,
Do you think this has something to do with Mesos being containerized?
Thanks,

[2016-06-21 16:09] westlywright commented on #5013
@steevegldev are you using a proxy that does not support websockets? I'm trying to reproduce the problem and can not.

[2016-06-21 16:28] deniseschannon commented on #5211
Reproduced the issue with v1.1.0-dev5.

[2016-06-21 16:35] deniseschannon commented on #5054
@lewistaylor I'm unable to reproduce with v1.1.0-dev5. When I use the named volume and clone it, it copies the named volume fine.

Can you try again?

[2016-06-21 16:46] deniseschannon commented on #5212
The `_` in the `elasticsearch_master` is an invalid character for DNS, which is why it's failing.

Can you change it to a `-`?

[2016-06-21 16:49] sangeethah opened #5213 "IP address fails to be injected for the ingress when it is created in a namespace that has "-""
Rancher Version: v1.1.0-dev5

Steps to reproduce the problem:

Create a namespace - "ingress-test" ( with "-" in it)
Created 2 services and ingress rule in this namespace.
Ingress gets created successfully and i also see the lb-ingress instance being programmed for the rules. But IP inject on the ingress object fails

<img width="462" alt="screen shot 2016-06-21 at 9 44 06 am" src="https://cloud.g

[2016-06-21 16:50] westlywright commented on #5196
Issues seems to be resolved locally, @vincent99 you resolved the build issue with translation files not being uploaded correctly?

[2016-06-21 16:58] westlywright commented on #5189
@wlan0 I am seeing the `engineInsecureRegistry` property being passed in the POST call to the API, when viewing the machine in the API I also see `engineInsecureRegistry` set as an array of strings. I rebuilt my test env this morning so the issue seems to be resolved.

[2016-06-21 17:19] LLParse commented on #5188
Hi @bchelli, thanks for bringing this to our attention.

This is a problem related to the containerization of Mesos. For performance, we chose to bind mount the host docker socket into the slave containers instead of running docker inside of docker. We also containerized the data volume using a `-v /data` definition. Consequently, containers launched on our cluster don't have the data directory co

[2016-06-21 17:25] steevegldev commented on #5013
Nothing special, should I open special port?

I could retry from scratch later this week.
On Jun 21, 2016 12:09 PM, "Westly Wright" <notifications@github.com> wrote:

[2016-06-21 17:33] masterkorp opened #5214 "Fail to add my own laptop to rancher server"
**Rancher Version:** v1.1.0-dev5
**Docker Version:** Docker version 1.11.2, build b9f10c9
**OS and where are the hosts located? (cloud, bare metal, etc):** Arch Linux OS up to date on my personal laptop

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node rancher setuo

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Did not get to that point yet

[2016-06-21 17:36] wlan0 commented on #5189
thanks @westlywright

[2016-06-21 17:46] LLParse commented on #5208
That's a good question, the parameter is [undocumented](http://docs.rancher.com/rancher/v1.0/zh/api/api-resources/instanceHealthCheck/) and there is not a single occurrence of its usage in any catalog, so what does it do?

[2016-06-21 18:16] prachidamle commented on #5192
@vincent99 I have added the support for the filter for individual template version, to catalog-service

[2016-06-21 18:26] deniseschannon commented on #391
MariaDB is MySQL based so it should work.

[2016-06-21 18:34] vincent99 commented on #5208
Pretty much what it sounds like, when a container starts the health state goes to initializing and it sets a limit on how long it can stay there before the healthcheck goes healthy.  If it's exceeded then there container is killed and rescheduded (or according to healthCheckAction).  Ditto for reinitializing.

[2016-06-21 18:37] deniseschannon commented on #4529
@colmaengus Just to warn you, if you try and disable/re-enable the environment again, your k8s environment will not work with v1.1.0-dev4 (https://github.com/rancher/rancher/issues/5204) and you'd need to upgrade to v1.1.0-dev5

Do you have any specific logs from rancher/server?

[2016-06-21 20:17] leodotcloud commented on #4694
I just joined a few weeks back to work on networking stuff. There will be some enhancements in the upcoming releases. Please stay tuned, we are definitely listening.

[2016-06-21 20:27] deniseschannon commented on #4529
When we say disable/re-enable, I found out that it means you need to switch to a cattle type and come back to a k8s type. Due to this and the release of v1.1.0-dev5, you will need to upgrade to dev5 to have it working.

[2016-06-21 20:34] deniseschannon commented on #5214
Duplicate of https://github.com/rancher/rancher/issues/4728

[2016-06-21 20:34] #5214 closed

[2016-06-21 20:38] deniseschannon commented on #5210
Docker 1.10.3 is not supported on Ubuntu 16.04
https://docs.docker.com/v1.10/engine/installation/linux/ubuntulinux/

If you want to use Ubuntu16.04, you should upgrade to Docker 1.11, which is supported with v1.1.0-dev5.

[2016-06-21 20:42] yoanisgil commented on #4067
Restart the Route53 service did the trick for me, after which Router 53 entries were properly updated.

[2016-06-21 20:56] deniseschannon commented on #5209
I was not able to reproduce on v1.1.0-dev5 (note: this is the first release we started supporting docker 1.11).

I had copied and pasted your yaml file into a v1.1.0-dev5 setup that had 1 DO host running Ubuntu 14.04.

[2016-06-21 20:59] deniseschannon commented on #5207
Can you exec into the loadbalancer and share the results of `cat /etc/haproxy/haproxy.cfg`? Can you also share the container IPs of your services? That is the `10.42.x.x` of gitlab, auxservice and sslproxy?

[2016-06-21 21:20] deniseschannon commented on #4983
Which logs does this fill?

[2016-06-21 21:24] smazurov commented on #4983
`/var/log/rancher/agent.log`. This is still happening as of dev5:

[code]

[2016-06-21 22:03] LLParse commented on #5208
Thanks for explaining it. So we can calculate initializingTimeout for our desired gracePeriod like this:

[code]

[2016-06-21 22:42] dj-hedgehog commented on #5209
Hey @deniseschannon I upgraded my rancher-server to v1.1.0-dev5 to make sure that this is not the root of the problem.
What did you try to reproduce? The image runs fine, connects to Gitlab after executing `gitlab-runner register` inside the container. My problem occurs when a build is triggered by Gitlab (using the runner-container). I even added `privileged: true` to `gitlab-runner` and tried mo

[2016-06-21 22:57] sangeethah opened #5215 "Service includes pods from across namespaces that have matching selectors."
Rancher Version: v1.1.0-dev5

Steps to create the problem:
Create service/rc/pod in 1 namespace.
Create the same set of service/rc/pod (using the same yml file) in another namespace.
When service is listed in UI (from any of the namespace),  pods from both the namespaces are listed

<img width="1198" alt="screen shot 2016-06-21 at 3 55 46 pm" src="https://cloud.githubusercontent.com/assets/4266958

[2016-06-22 03:43] MadeInChina commented on #5212
Thanks @deniseschannon

[2016-06-22 03:43] #5212 closed

[2016-06-22 04:00] pulberg commented on #5201
RE: Swarm (etc) vs. Cattle.  I think it's safe to say that those of us using Cattle didn't choose it accidentally, there were reasons for that decision. I don't really see how Cattle could be deprecated in favor of Swarm, or anything else, it should just be one of the many orchestration options available. We really liked the fact that the orchestration component was built by the same people buildi

[2016-06-22 05:26] sapslaj opened #5216 "'ERROR: https://SERVER_IP:8080/v1 is not accessible' error when trying to connect to server on same host in Fedora"
**Rancher Version:**
v1.1.0-dev5

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Fedora 24 Server in a VirtualBox VM with a bridged network adapter

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
In a stock F

[2016-06-22 06:33] legoheld commented on #4779
Yes sure:
`docker run -d -v /docker/rancher:/var/lib/mysql --restart=always -p 8080:8080 --name rancher-server rancher/server:stable`
Some infos about my host:

[2016-06-22 07:07] MaxNoe commented on #5207
This is the config (in the mean time, we replaced one service)

[code]

IPs:
gitlab: 10.42.245.16
owncloud: 10.42.90.27
registry-sslproxy: 	10.42.116.185
rocket-chat_rocket-sslproxy:	10.42.25.255

[2016-06-22 07:26] weitzj commented on #5207
Might be related https://github.com/rancher/rancher/issues/4604

[2016-06-22 08:02] osallou commented on #5216
same issue in CentOS 7 with stable release (with ldap config). URL reachable (externally and internally).

[2016-06-22 10:32] masterkorp commented on #4728
I have this problem too. @MetalMatze Can you give the name of the package?

[2016-06-22 11:09] ruimarinho commented on #4984
@deniseschannon were you able to confirm the issue regarding the private key not being correctly copied to the container?

[2016-06-22 11:23] ruimarinho commented on #4505
This is particularly even more complicated when generating config using confd from a sidekick, as at the time of booting the sidekick won't be able to list the primary ip of the main container on the same deployment unit.

This means that if the main container requires that a certain config exists at boot time (e.g. a Kafka server which requires `listeners` to be set to the main container's primar

[2016-06-22 13:34] scriptjs commented on #5002
@andrevtg Can you tell me if you are running rancher successfully on Carina. It did not seem to support it last I checked. Is this a single node or are you backing it with HA with sql.

[2016-06-22 13:52] andrevtg commented on #5002
Nope, I gave up last time I tried. Carina does provide the socket mount, but AFAIK rancher requires "privileged" for other reasons.

Can't remember right now what was the error exactly, but I was in a hurry and had to use another VM-based service (unfortunately).

This is supposed to change, for it makes no sense to have such a no-go for CaaS services.

[2016-06-22 14:51] girishshilamkar commented on #4489
@deniseschannon Thanks for the update. Let me try it in one of the templates then.

[2016-06-22 14:56] bchelli commented on #5188
Thanks @LLParse

[2016-06-22 15:39] monkstick opened #5218 "Cloned container (not service) will error out with ('NoneType' object has no attribute 'iteritems')"
Sorry if this is a bit messy, its my first bug report

**Rancher Version:**
Rancher v1.1.0-dev5
Cattle  v0.164.1
User Interface  v1.1.10
Rancher Compose v0.8.4

**Docker Version:**
Containers: 9
 Running: 3
 Paused: 0
 Stopped: 6
Images: 5
Server Version: 1.11.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 53
 Dirperm1 Supported: true
Logging Driver: json-

[2016-06-22 15:48] aemneina commented on #4959
@jondubois sorry for the delay in response. Using the private address space sounds like the way you want to go. That is achievable with that check box you cite. Your rancher server will need to be able to ssh directly to that host, so your rancher server will need to be able to route to that private subnet (probably the reason you saw the failed launch).

[2016-06-22 15:57] deniseschannon commented on #5218
I am unable to reproduce in v1.1.0-dev5 when doing a simple clone test.

Are you starting services or containers? Could you share the equivalent docker-compose.yml? This can be found for a service by clicking on the stack name and clicking on "View Config".

[2016-06-22 16:13] monkstick commented on #5218
I am starting containers, no stacks or anything else, other than Infrastructure - Hosts

Where do I find docker-compose.yml for containers?

The only pattern I can find is Hyper-V. On my server (Laptop) before this one, It was running bare metal.

[2016-06-22 16:13] samattridge opened #5219 "Unable to work out how to use azurefile docker volume driver within Rancher"
**Rancher Version:** 1.0.2

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04 LTS Azure

**Setup Details:** single node rancher, internal DB

**Environment Type:** Cattle

**Steps to Reproduce:** Unable to work out how to use the azurefile docker volume driver within Rancher (https://github.com/Azure/azurefile-dockervolumedriver) or if it is

[2016-06-22 16:21] monkstick commented on #5218
As I am more of a visual kind of guy,

https://youtu.be/sxmpid5aZCg

[2016-06-22 16:41] deniseschannon commented on #5218
Thanks! The video was super helpful. The error looked like a UI issue, so I hadn't actually tried to create the container.

I can verify that I was able ot reproduce. This isn't happening when cloning with services, but only with containers.

Steps To Reproduce:
1. Add a container (nginx)
2. Clone container
3. Change name
4. Click on create

Container will error out with "('NoneType' object has no

[2016-06-22 16:42] deniseschannon commented on #5218
@monkstick Please try using services to launch containers. It's under Stacks->Add Service.  You can specify specific hosts as well.

[2016-06-22 17:02] monkstick commented on #5218
@deniseschannon I can confirm that cloning when using a service seems to work.

Does using a Service instead of adding a container the way I was doing it do anything different, or is it just a UI thing?

Regardless, Thanks for the workaround!

[2016-06-22 17:07] samattridge opened #5220 "feature: Unified logs for a service"
**Rancher Version:**

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**

**Results:**

**Expected:**
When viewing logs within Rancher, it would be great to have all logs unified for a service inste

[2016-06-22 17:10] todd-alexion commented on #4741
+1 NOTE: I am trying to introduce Rancher into the company I work for, and here is the use case I am presented with:

My boss wants a way to ssh into the swarm (manager, master, etc) and query the swarm cluster directly, like he was able to do when he setup the swarm cluster himself... (before I came along and messed up his world).

[2016-06-22 17:15] deniseschannon opened #5221 "[rancher-compose] Create a --timeout for `rancher-compose up -d` so that if a service gets stuck, rancher-compose will exit"
Currently, if a service is stuck in activating, the cli will never exit out even with `-d`. If there was a timeout, then it could exit rancher-compose CLI.

[2016-06-22 17:27] alena1108 commented on #4529
@colmaengus can you check kubelet logs generated after replicationController/pod create command was issued?

[2016-06-22 17:37] sangeethah opened #5222 "Services cannot be started with "io.rancher.container.hostname_override: container_name" - "invalid hostname format:" error seen."
Rancher Version: v1.1.0-dev5
Docker version - 1.12.0-rc2

Steps to reproduce the problem:
Create service with  label "io.rancher.container.hostname_override: container_name" .
Service is stuck in "Activating" state forever.
Container fails to start with  " Error (500 Server Error: Internal Server Error ("invalid hostname format: Default_test3_1")".
This error is very similar to error reported in h

[2016-06-22 17:44] pascalandy commented on #4741
There is a big update with docker 1.12 that supports natively Swarm.

root@pi6 $ docker swarm

Usage:  docker swarm COMMAND

Manage Docker Swarm

Options:
      --help   Print usage

Commands:
  init        Initialize a Swarm.
  join        Join a Swarm as a node and/or manager.
  update      update the Swarm.
  leave       Leave a Swarm.
  inspect     Inspect the Swarm

Run 'docker swarm COMMAND

[2016-06-22 17:57] prachidamle commented on #5180
Update:

I tried to start deis workflow on a kubernetes cluster having 2 hosts and I am able to see that the
deis-builder pod fails to go to READY state and shows following error:

6/22/2016 10:21:11 AM2016/06/22 17:21:11 Cleaner error listing namespaces (Get https://10.43.0.1:443/api/v1/namespaces: EOF)

Looking at the deis/builder code (https://github.com/deis/builder/blob/master/pkg/cleaner/cle

[2016-06-22 17:57] alena1108 commented on #5222
@sangeethah will get resolved as a part of the fix for https://github.com/rancher/rancher/issues/5195, closing as a duplicate

[2016-06-22 18:01] LLParse commented on #5193
I inspected this environment, and realized that these logs are a symptom and not the cause. Etcd containers are being killed during the bootstrapping phase, but not because etcd is failing - memory is being exhausted on the hosts.

Since we cannot really control which containers land on which host, or when the hosts register, or when the stack starts deploying relative to hosts registered, the bes

[2016-06-22 18:01] lucaspottersky opened #5223 "Deploying a new stack should fetch the most recent version of an image"
**Rancher Version:**
v1.1.0-dev1

**Docker Version:**
Docker version 1.11.1, build 5604cbe

**OS and where are the hosts located? (cloud, bare metal, etc):**
Lubuntu Guest VM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Running from https://hub.docker.com/r/rancher/server/

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:*

[2016-06-22 18:07] alena1108 commented on #5194
@soumyalj please re-test by creating a fake catalog entry using image alena1108/k8s:v1.2.4-rancher6

[2016-06-22 18:08] LLParse commented on #5193
@ibuildthecloud @alena1108 Another reason etcd doesn't even stabilize is the fact that Rancher scheduler doesn't wait for health checks to succeed before launching downstream containers. Instead, it only waits for dependency containers to start (RUNNING state w/o health checks, INITIALIZING state w/ health checks). Consequently, all containers are scheduled before the bottom of the stack can even

[2016-06-22 18:08] todd-alexion commented on #4741
Thanks @pascalandy - I bet it is very hard to keep up with the Docker releases. However since Docker 1.12 is only a Release Candidate, I wouldn't expect the Rancher team to have already been working on that integration yet. Especially since 1.12 RC1 and RC2 both seem to have been released in the future (2016-07-14) - thats very hard to keep up with...

[2016-06-22 18:13] sangeethah commented on #5222
Will keep this issue in  open state , to verify this issue once the fix for #5195 is available.

[2016-06-22 18:22] deniseschannon commented on #5223
In your docker-compose.yml, you'll need to make sure that you add in this label

[code]

This will ensure that we always pull the image before deploying. Otherwise, it will use the cached images on the host.

[2016-06-22 18:22] #5223 closed

[2016-06-22 18:23] bradjones1 commented on #4741
@todd-alexion I was just at Dockercon and after talking to the Rancher folks at their booth, it sounds like they will work with the 1.12 Swarm features as they roll out, but it indeed is still RC and probably needs to bake a while before rolling into production.

At the moment, though, you can get a CLI at the swarm master inside the web UI (Swarm > CLI) and you'll see the container ID as the host

[2016-06-22 18:25] bradjones1 commented on #5201
@pulberg Good explanation, also I have found Cattle to be an acceptable orchestration option for nodes that I do not intend to be part of an HA or other type of production environment (e.g., throwaway CI runners) and more "direct" management of these nodes by Rancher/Cattle is entirely appropriate, without the overhead that comes with some of the other providers.

[2016-06-22 18:34] todd-alexion commented on #4741
@bradjones1 Thanks for the info. The Rancher folks have always been very responsive, so I am not worried. However in this case, that Rancher Swarm CLI really is lacking as a drop in replacement for the guys at my company. I will wait, or experiment with rolling my own cluster.

And yes, I saw that #4145 was still open...

[2016-06-22 18:35] jmls opened #5224 "store custom data in rancher.yml"
**Rancher Version: 1.10.0-dev3**

**Docker Version: 1.10.3**

**OS and where are the hosts located? (cloud, bare metal, etc): ubuntu, AWS**

**Setup Details: single node rancher**

**Environment Type: (Cattle)**

What we want to do was to add custom properties to the config.yml file for a catalog entry to manage extended data about the catalog entry.

We are using the APIs to get data from catalog

[2016-06-22 18:39] bradjones1 commented on #4741
@todd-alexion You can always SSH to the node the manager is running on, and exec in. But yes, it's not particularly straightforward, and 1.12 will make a lot of these issues less pressing.

[2016-06-22 19:18] lvuch commented on #4409
![screen shot 2016-06-22 at 12 15 10 pm](https://cloud.githubusercontent.com/assets/3013118/16280160/2bad7a78-3873-11e6-8b20-4bc78bc8ffba.png)
I'm not able to recreate stacked action menu issue

[2016-06-22 20:32] jmreicha opened #5225 "rancher load balancer 503's"
**Rancher Version:** `1.0.1`

**Docker Version:** `1.9.1`

**OS and where are the hosts located? (cloud, bare metal, etc):** `AWS - CoreOS`

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** `Single node internal DB`

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** `Cattle`

**Steps to Reproduce:**

I'm not really sure how exactly to reproduce this because

[2016-06-22 20:37] sapslaj opened #5226 "'Error response from daemon: 400 Bad Request: malformed Host header' when trying to connect to server on same host in Ubuntu"
**Rancher Version:**
v1.1.0-dev5

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 Server in a VirtualBox VM with a bridged network adapter

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle v0.164.1

**Steps to Reproduce:**

[2016-06-22 20:45] soumyalj opened #5227 "etcd is being upgraded despite no changes in docker-compose.yml for a Kubernetes stack upgrade"
**Rancher Version:**: v1.1.0-dev5-rc5

**OS and where are the hosts located? (cloud, bare metal, etc):**: Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment
2. Add a "library" catalog entry using https://github.com/soumyalj/qa-catalog [ This catalog has updated images only for rancher/k8s:v1.2.4-rancher6. No

[2016-06-22 22:01] westlywright commented on #5034
@deniseschannon can you retest this I was able to add a new name space and navigate with out issue.

[2016-06-22 22:13] prachidamle commented on #5180
<img width="991" alt="screen shot 2016-06-22 at 3 12 47 pm" src="https://cloud.githubusercontent.com/assets/1470602/16285582/e04c8b64-388b-11e6-9008-225ee4d63299.png">

[2016-06-22 22:23] virtuman commented on #3874
Any progress with this? Is there any chance that rancher's mysql will become part of the rancher installer, ie - if i don't already have an existing MySQL cluster that it would help me spin up a mysql galera cluster, or at least some good instructions / installer script on how to do it properly for best rancher's operation?

as of right now i can see it achievable this way only:
1) install mysql s

[2016-06-22 22:38] deniseschannon opened #5228 "Rancher Catalog is required to be enabled for k8s environments to work"
**Rancher Version:**
v1.1.0-dev5

If you disable the Rancher Catalog in the UI and try to use a k8s environment, it doesn't work as the k8s system stack templates are under the github.com/rancher-catalog repo.

We need to de-couple what is required for k8s system stacks from Rancher certified catalog templates.

Note: we have users who have requested to be able to disable the Rancher catalogs, whi

[2016-06-22 22:51] westlywright commented on #4340
@tfiduccia I was testing this with your scenario, after I add my stack the page is transitioned to the newly created stack which seems to be the correct behavior. Can you verify?

[2016-06-23 00:15] prachidamle commented on #5180
@ibuildthecloud If I see the above pod in rancher api http://104.197.225.39:8080/v1/projects/1a5/containers/1i145

I see there is a bunch of "environment" variables set for this pod container:
"environment": {
"KUBERNETES_PORT_443_TCP": "tcp://10.43.0.1:443",
"KUBERNETES_SERVICE_PORT_HTTPS": "443",
"DEIS_MINIO_PORT_9000_TCP_ADDR": "10.43.84.34",
"DEIS_MONITOR_GRAFANA_PORT_80_TCP_ADDR": "10.43.125.

[2016-06-23 01:00] kuaner opened #5229 "network packet drop with more than 100 containers"
**Rancher Version:**
1.01
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 14.04 cloud(aliyun)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
deploy more than 100 containers(server build on grpc

[2016-06-23 02:01] vincent99 commented on #5013
No, a WebSocket starts as a normal HTTP connection with a header that requests upgrading, and the server then responds with a 101.  Getting back a 200 suggests the request is going through something that doesn't know about WebSockets.

[2016-06-23 02:18] frankcarey commented on #4711
@ibuildthecloud If your rancher/server is on a GCE instance though, doesn't that avoid the whole oauth thing? https://docs.docker.com/machine/drivers/gce/

[2016-06-23 02:32] vincent99 commented on #5196
case-sensitive... `notFound` != `notfound`.

[2016-06-23 03:28] deniseschannon commented on #5227
Underlying issue:

For some reason the etcd container is being upgraded when using rancher-compose-executor as the hash is changing.

When testing this issue, the equivalent test using the CLI has no issues in comparing hashes.

[2016-06-23 04:27] deniseschannon commented on #5034
Verified unable to reproduce in v1.1.0-dev5.

[2016-06-23 04:27] #5034 closed

[2016-06-23 05:04] withinboredom opened #5230 "Unable to remove host with containers stuck in restarting state"
I have a container that is stuck in the restarting state. Each attempt at deletion of the container results in a "Conflict" error. I figured I'd outsmart it and remove the host, then add it back. Apparently there is no timeout and will sit there forever trying to remove the container.

---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.0-dev5` Cattle: `v0.164.1` UI: `v1.1.10` |
| Acce

[2016-06-23 05:16] withinboredom commented on #5230
btw ... any help in the near term would be greatly appreciated ... I may have several tb of diskspace, but its filling up at a pretty alarming rate.

[2016-06-23 05:18] deniseschannon commented on #5227
rancher-compose v0.8.5-rc1 has been released to fix this issue. @soumyalj please test it out.

[2016-06-23 05:32] withinboredom commented on #5230
I managed to manually set the state to purged in mysql and then restart rancher ... seems to have done the trick

[2016-06-23 10:16] mishak87 opened #5231 "UI flickering on service upgrade"
**Rancher Version:** 1.0.1

**Browser:** google-chrome 51.0.2704.84 (64-bit) linux (opensuse tumbleweed and ubuntu 16.04)

**Steps to Reproduce:**
* Go to main view `/env/*/apps/stacks`
* Trigger service upgrade
* Expand stack by clicking on plus sign
* Open service detail in main view by clicking on the info icon (second column in stack table).

**Results:**
Screen will flicker several times duri

[2016-06-23 10:30] hugochinchilla commented on #1723
+1

[2016-06-23 10:32] dj-hedgehog opened #5232 "How to migrate rancher-server to different host?"
**Rancher Version:** 1.1.0 dev 5
**Docker Version:** 1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):** bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I need to migrate rancher-server to a different host without loosing the connection

[2016-06-23 10:53] giabao commented on #4708
Because of this issue, when using [couchbase](https://hub.docker.com/r/couchbase/server/), I must manually run docker command from terminal.

How to manually run docker command so that rancher can recognize the service and show it in the UI? Ex, similar to this:
[code]
(note the labels)

[2016-06-23 11:49] jonathan-r commented on #5131
I think this is related to the "feature" explained on the loadbalancer config page:

The behavior I noticed is that for each "listening port", rancher adds in the default_backend haproxy config all the services that appear in the config page but are not on this "source port".

Can this feature be disabled ?

[2016-06-23 12:09] y8 commented on #5086
@deniseschannon or @sangeethah maybe you can label and milestone this one?

[2016-06-23 15:05] bacheson commented on #5225
+1

I've experienced this exact problem. I didn't report the issue because I struggled with how to adequately describe it. Certain hosts become unreachable by the LB service host. Rebooting the LB or restarting the network container on the service host resolves the issue. Pinging the service IP from the LB host simply hangs and I don't see any errors logged. It looks like a cattle network issue.

[2016-06-23 15:14] iklabun opened #5233 "Startup in HA Mode on Vagrant"
**Rancher Version:**
1.1.0-dev5

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04, Vagrant (1.8.4)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher
external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
none / Swarm

**Steps to Reproduce:**
http://docs.rancher.com/rancher/latest/en

[2016-06-23 15:51] alexishida commented on #1673
+1

[2016-06-23 16:08] westlywright commented on #2763
@cjellick @vincent99 was there any update on this?

[2016-06-23 16:34] gitlab-pano commented on #3002
version 1.0.1
API says:
[code]
But still get "There are no compatible templates"

[2016-06-23 16:47] jmreicha commented on #5225
Hopefully I have described the issue adequately.  I also didn't want to report this because it is difficult to explain and reproduce, but it has happened enough times now that I feel like it isn't just a coincidence.

I'm happy to provide more details in specifics if needed.

[2016-06-23 18:30] deniseschannon commented on #5225
It sounds as if the haproxy.cfg is not being re-configured after some specific use case/steps. As if you restart the LB, it will re-trigger the configuration of the LB.

It will be a bit hard to reproduce on my end without reliable steps. :)

If you know who to trigger it exactly (like it happens after adding a new X and then i get 503), that'd be great. After it happens, you can verify it by exec

[2016-06-23 18:40] MaxNoe commented on #5207
Right now it's basically random. which service will be reached at which url. This makes it pretty unusable for us.

[2016-06-23 18:43] deniseschannon commented on #4708
@giabao You will not be able to launch a container and have it be a service just by adding those labels. Whenever you launch a container through docker CLI on the host, it will be a standalone container. Depending on what you want to do it as a service, you could use these steps to have it be part of a service as part of the DNS.

Start a service in the UI. Add in a label `io.rancher.service.selec

[2016-06-23 18:56] aemneina commented on #5232
@dj-hedgehog using an external database would be the best method. Not sure why you had connectivity issues previously, but that sounds more like a network/communication issue. I've managed to separate db's out of the rancher server container without issue.

The one way you could migrate is if you create an image of your rancher server container, copy it to your desired host, then start it there.

[2016-06-23 19:00] jmreicha commented on #5225
I'll have to do some testing to see if I can get it to break.  Exec'ing into the container after it breaks should be easy enough at least.

I will update if I have any luck, otherwise, hopefully somebody else is able to reproduce this and can help diagnose.

[2016-06-23 19:35] zambon opened #5234 "Error adding catalog with a space in the name"
**Rancher Version:** 1.0.2

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
* Ubuntu 16.04 64-bit
* SoftLayer VMs

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

* Single node
* Internal DB
* Behind nginx

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Swarm

**Steps to Reproduce:**

1. Click `Admin` -> `Se

[2016-06-23 20:14] vincent99 commented on #5234
This was fixed in 1.1-dev4: https://github.com/rancher/rancher/issues/3124

[2016-06-23 20:14] #5234 closed

[2016-06-23 20:24] smazurov commented on #4983
@deniseschannon do you have any other questions regarding this?

[2016-06-23 20:44] wonderslug commented on #5023
+1

[2016-06-23 20:47] pwFoo commented on #5027
I tried to add a link to my global MySQL stack, but it doesn't work. Only chance was to edit the stack container to add the link, but NOT upgrade the stack to do it...? Related?

I use the latest Rancher Server running on RancherOS 0.4.5

[2016-06-23 21:19] deniseschannon commented on #5227
Verified with rancher-compose v0.8.5-rc1.

Steps To reproduce:
1. Create a catalog template that has a service with a `volume` or `volumes-from`.
2. Upgrade the catalog template with no change to the service.

Previous issue: The service was being upgraded even though there was no change to the service because the volumes were being duplicated in the new service, so the hash of the service was not

[2016-06-23 21:19] #5227 closed

[2016-06-23 22:00] mathuin commented on #5023
+1 as well -- if you'd prefer us to use the emoji additions on the initial issue instead of littering the issue with comments, just let us know!

[2016-06-23 22:04] MaxNoe commented on #5207
And I can stress again: It seems only to affect https (443). The http balancer works perfectly fine.

[2016-06-23 22:13] soumyalj commented on #5038
Verified with v1.1.0-dev5.
<img width="1096" alt="screen shot 2016-06-23 at 3 10 59 pm" src="https://cloud.githubusercontent.com/assets/18536626/16322000/10d25466-3955-11e6-905b-6f834f23b385.png">

[2016-06-23 22:25] soumyalj commented on #5038
Verified this in v1.1.0-dev5. Obtained grade A
<img width="1011" alt="screen shot 2016-06-23 at 3 25 11 pm" src="https://cloud.githubusercontent.com/assets/18536626/16322262/b90b634c-3956-11e6-8e7a-c1ef0caec5bc.png">

[2016-06-23 22:25] #5038 closed

[2016-06-23 23:17] alena1108 opened #5235 "Kubernetes API server HA"
We should launch Kubernetes API server in HA mode so it is failure resilient.

Also we should review the health check configuration for Kubernetes api service: a couple of times I've ran into the bug when k8s fails to serve api request due to Kubernetes specific bug (https://github.com/rancher/rancher/issues/4838), yet the service was considered as healthy by Rancher.

[2016-06-23 23:26] alena1108 opened #5236 "Rancher and Kubernetes 1.3: enable PetSet support"
Once k8s 1.3 is released, we should start leveraging 1.3 features. One of them is PetSet. From the design doc overview [link] (https://github.com/kubernetes/kubernetes/pull/18016) it looks like we have to add changes to rancher internal dns programming to propagate Pod identity records

@galal-hussein ^^

[2016-06-23 23:29] alena1108 opened #5237 "Rancher and Kubernetes 1.3: Cluster Federation (Ubernetes) support"
Once k8s 1.3 is released, we should start leveraging 1.3 features. One of them is Ubernetes, or Federated clusters control plane
- [kubernetes blog post on Ubernetes](http://blog.kubernetes.io/2016/03/building-highly-available-applications-using-Kubernetes-new-multi-zone-clusters-a.k.a-Ubernetes-Lite.html)
- [federated services design doc](https://github.com/kubernetes/kubernetes/blob/master/docs/

[2016-06-23 23:33] soumyalj opened #5238 "Kubernetes system stack does not come up after removing the library catalog"
**Rancher Version:**: Master

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment with the library catalog (qa-catalog) added
2. Kuberntes comes up correctly.
3. Remove the qa-catalog.
4. Create another Kuberntes environment

**Results:**
The Ku

[2016-06-23 23:53] soumyalj opened #5239 "etcd gets recreated on the same host after deleting it"
**Rancher Version:**: v1.1.0-dev5

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment with one host(3 etcds should will start on this host)
2. Add the second host
3. Delete a etcd.

**Results:**
 etcd lands up on the same host. It should move t

[2016-06-24 00:59] kmcgrath commented on #4491
@soumyalj Having the same issue as @HackerWilson with AWS Linux

AMI: amzn-ami-hvm-2016.03.2.x86_64-gp2 (ami-f303fb93)
Docker Version: Docker version 1.11.1, build 5604cbe/1.11.1
Rancher Agent: rancher/agent:v1.0.2

I0624 00:46:55.893612    4241 manager.go:198] Version: {KernelVersion:4.4.11-23.53.amzn1.x86_64 ContainerOsVersion:Amazon Linux AMI 2016.03 DockerVersion:1.11.1 CadvisorVersion:0.23.2

[2016-06-24 01:31] frleb commented on #2143
+1

[2016-06-24 02:02] qkos opened #5240 "Is there a way to create global LB with kubernetes ingress?"
At the moment you can scale the LB for kubernetes ingress via the `scale` annotation. I have a use case where I am using an autoscaling group for my kubernetes environment and I have an ELB attached to it. The UI allows creating LB with global scale that spins up a container on each host.

It seems like currently the [ingress-controller](https://github.com/rancher/ingress-controller) does not supp

[2016-06-24 02:55] deniseschannon commented on #5238
This is due to the fact that when you add in your own `library` catalog, it automatically disables the Rancher default `library` catalog. Since the k8s system stack is in the official default `library` catalog, it is not automatically enabled.

Closing this in favor of https://github.com/rancher/rancher/issues/5228

[2016-06-24 02:55] #5238 closed

[2016-06-24 05:09] soumyalj commented on #4908
Verified using v1.1.0-dev5, did a Kubernetes stack upgrade using qa-catalog with updated images(library catalog)

[2016-06-24 05:09] #4908 closed

[2016-06-24 05:10] soumyalj commented on #5194
Verified using v1.1.0-dev5, did a Kubernetes stack upgrade using qa-catalog with updated images(library catalog). The upgrade was successful.

[2016-06-24 05:10] #5194 closed

[2016-06-24 08:30] unki2aut opened #5241 "Add Amazon EC2 Host sets wrong CATTLE_AGENT_IP when using private IP"
**Rancher Version:** v1.0.2

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04.4 LTS, AWS EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA setup with 3 server nodes using AWS RDS

**Environment Type: Cattle**

**Steps to Reproduce:**
Use the UI to add a new Host from Amazon EC2, fill in all

[2016-06-24 08:43] weitzj commented on #5207
Maybe  your setup relies on SNI being available. This is not supported on the load Balancer.  (Yet)

[2016-06-24 11:09] MaxNoe commented on #5207
My bad. It seems that the reason for this behaviour was that I accidentally set the protocol to `tcp`. In the LoadBalancer. Everything works fine now with `http`

[2016-06-24 11:09] #5207 closed

[2016-06-24 15:03] cjellick commented on #5157
Fixed. Use https://github.com/cjellick/rancher-catalog to test. Once verified, we can merge the catalog item.

[2016-06-24 15:04] cjellick commented on #5157
To test, deploy convoy-nfs on both docker 1.10 and docker 1.11 hosts

[2016-06-24 15:29] iklabun commented on #5233
Additional info: it doesn't seem to have a relation to vagrant. The same happens when I set it up on VMware based machines with the software mentioned above.

[2016-06-24 15:38] LLParse commented on #5239
This is because the etcd data directory (sidekick) wasn't deleted before deleting the corresponding etcd container. Perhaps we could come up with some automated solution rather than deferring the responsibility to the end user.

[2016-06-24 16:33] westlywright commented on #4420
@tfiduccia can you verify this again? I followed your steps and I believe I am seeing the correct data. I have placed a screenshot below. The first row are the convoy gluster mounts. Which have a host path. The second row does not have a host path. Those containers are using volumes on a DO server I have setup to host the convoy-nfs volumes and that server is not added as a host in my Rancher setu

[2016-06-24 16:58] iklabun commented on #5233
This can be closed. I misunderstood the documentation, or maybe it is a bit unclear, that before the service will come up alle three nodes have to be started. Finally everything works well.
Thanks.

[2016-06-24 16:58] #5233 closed

[2016-06-24 18:11] prachidamle commented on #5180
Update:
@ibuildthecloud figured out that connecting to 10.43.0.1 address from pods running on different host(other than the host where kube-apiserver is running) does not work because the kube-apiserver's 10.42 address is not set to the kubernetes service

kubectl describe svc kubernetes
Name:                   kubernetes
Namespace:              default
Labels:                 component=apiserver,

[2016-06-24 18:14] prachidamle commented on #5180
Update:
I am able to assign the 10.42 address to the kube-apiserver using some fixes in  /entry.sh and now I see this:

Name:                   kubernetes
Namespace:              default
Labels:                 component=apiserver,provider=kubernetes
Selector:               <none>
Type:                   ClusterIP
IP:                     10.43.0.1
Port:                   https   443/TCP
Endpoints:

[2016-06-24 18:32] deniseschannon commented on #5131
This feature cannot be disabled.

I've recently added more detailed documentation regarding that.

http://docs.rancher.com/rancher/latest/en/rancher-ui/applications/stacks/adding-balancers/#examples-of-using-multiple-ports-in-advanced-routing-options

Please let me know if you have any more questions, but to prevent what you want, you'd need to create some dummy rules.

[2016-06-24 18:32] #5131 closed

[2016-06-24 18:41] deniseschannon commented on #5209
I had just got the containers running. I didn't actually try to trigger anything in Gitlab. :) So that makes more sense.

[2016-06-24 18:45] deniseschannon commented on #4779
And does your database already have Rancher running on it or is it a new setup?

@legoheld Can you open a new issue for yours? It sounds as if you're having issues with a bind mount for sql versus the original user.

@jeffvictor-snaphire I'll close this issue and if you still have issues. Please open a new ticket.

[2016-06-24 18:45] #4779 closed

[2016-06-24 18:53] prachidamle commented on #5180
deis-builder pod shows error authenticating now
24/2016 11:52:45 AM2016/06/24 18:52:45 Cleaner error listing namespaces (the server has asked for the client to provide credentials (get namespaces))
6/24/2016 11:52:45 AM2016/06/24 18:52:45 Cleaner error listing namespaces (the server has asked for the client to provide credentials (get namespaces))
6/24/2016 11:52:45 AM2016/06/24 18:52:45 Cleaner e

[2016-06-24 19:26] tsupertramp commented on #4434
Already solved.

[2016-06-24 19:26] #4434 closed

[2016-06-24 21:06] pwFoo opened #5242 "Stack upgrade doesn't work with v1.1.0-dev5"
**Rancher Version:**
v1.1.0-dev5

**Docker Version:**
Docker version 1.10.3, build 20f81dd

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS 0.4.5, KVM VM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Upgrade a st

[2016-06-24 21:39] pwFoo commented on #5242
Maybe it is dependent on the schedule rules. Changed from specific host to a host label rule and it seems to work.

[2016-06-24 21:43] alena1108 opened #5243 "Scale policy"
1) Scale policy parameter was added to the service object (updatable). Fields:

minScale - minimum number of instances required to be running for the service
maxScale - maximum allowed service scale.
increment - reflects a number of containers being deployed simultaneously as we move from minScale to scale.
Example:

1) service created policy {minScale:2, maxScale:4, increment:2}.
2) Durning activ

[2016-06-24 21:59] alena1108 commented on #4548
@prachidamle should be working now, right?

[2016-06-24 22:01] prachidamle commented on #4548
@galal-hussein the support for ServiceAccount AdmissionControl was enabled with the SSL kubernetes support . Can you test now against dev5 release?

[2016-06-24 22:05] alena1108 commented on #4534
@wlan0 can you look at it?

[2016-06-24 22:10] galal-hussein opened #5244 "Kubernetes dashboard sometimes generates error"
**Rancher Version:**
rancher/build-master:v0.20.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
by running the following command:
[code]

**Results:**
T

[2016-06-24 22:58] gitlab-pano commented on #2558
+1

[2016-06-24 23:06] westlywright commented on #5140
@tfiduccia Looks like it was resolved with commit #413d73b

[2016-06-24 23:37] galal-hussein commented on #4548
@prachidamle tested with dev5 and build-master:v0.20.0 and service accounts worked, however i have some troubles with generating manual API token, for example:

[code]

[2016-06-25 05:29] withinboredom commented on #5219
This is a "bad idea" as SMB/CIFS doesn't support case in files. As in `someTHING.txt` and `something.txt` are the same file. This can cause all kinds of subtle havoc. ... not saying this isn't a bug or anything ;)

[2016-06-25 06:04] sangeethah commented on #5174
Tested with Centos 7 hosts(GCE) having "200 GB" Data volumes (from GCE) mounted on hosts and configuring docker to use device mapper from this volume.

Validation runs executed successfully and hosts were all in "Active" state.

[2016-06-25 06:04] #5174 closed

[2016-06-25 06:43] sangeethah commented on #5157
Tested with v1.1.0-dev5 and using nfs-catalog from  - https://github.com/cjellick/rancher-catalog
image - rancher/convoy-agent:v0.8.0

setup1:
Host - Ubuntu 15.10 (4.2.0-38-generic) and Docker - 1.11.2
Able to launch convoy-nfs template successfully.
But it took very long for the convoy-nfs instance (about 15 minutes) to transition from Initilaizing->Running state. This happened for both the convo

[2016-06-25 06:47] sangeethah commented on #5157
Tested with v1.1.0-dev5 and using nfs-catalog from - https://github.com/cjellick/rancher-catalog
image - rancher/convoy-agent:v0.8.0

setup1:
Host - Ubuntu 15.10 (4.2.0-38-generic) and Docker - 1.10.3
Able to launch convoy-nfs template successfully.There was no delay observed when convoy-nfs instances started.

Able to create Vms with volumes using convoy-nfs driver.

[2016-06-25 09:05] colmaengus commented on #4529
Hi Alena, Denise,

Sorry for the delay in getting back to this.
We upgraded to rancher dev5, created a new k8s environment and the registry
credentials are being passed down as expected.
Thanks for you prompt response to my original query.

Regards

Colm A

On Wed, Jun 22, 2016 at 6:27 PM, Alena Prokharchyk <notifications@github.com

[2016-06-25 17:19] SystemZ commented on #4411
I tested it today with fresh, upgraded Ubuntu 16.04 on OVH Public Cloud with Docker:

[code]

I added host in rancher interface and it can't activate properly, a lot of this errors in convoy-gluster container, probably it's a matter of network connection.

[code]

[2016-06-25 19:51] AlexisDucastel commented on #2143
+1 :)

[2016-06-25 20:06] withinboredom commented on #4703
For anyone who wants to give this a go... I have prebuilt images and instructions [on my blog](https://www.withinboredom.info/post/rancher-on-pi/) ... even with the incredible work that's been done so far, there's still a fair bit of manual work to bring up a node -- I didn't build `rancher/server`, just the things to run `rancher/agent` on arm while `rancher/server` is on amd64.

[2016-06-25 23:24] faddat commented on #4703
Have you attempted the Ur-Power heterogeneous cluster yet?  Clearly on the
server/agent level you have, but how might we make it work with some x86
agents and some ARM agents?

I'm thinking labels and careful rules, maybe?  (obviously anything using
ARM at this stage is a ways from production ready, but... I think
specialized compute is one of few lifelines Moore's Law has remaining.

:)

-Jake

J

[2016-06-26 01:02] ruimarinho commented on #5243
@alena1108, does this new scale policy allow for the use case of testing the health check once to decide whether it is ok to proceed to the next instance(s)? This would allow for rolling upgrades where some synchronization is required between peers (e.g. zookeeper nodes) and the container state (active or not) may not be enough.

[2016-06-26 02:36] rkpujari10 commented on #4175
Thanks. You guys saved my time.

[2016-06-26 02:54] withinboredom commented on #4703
@faddat Eventually (one day) rancher might read the metadata on the image and see what architecture it's built for and only deploy to the architecture its built for ;) [Docker is kinda already working on that](https://integratedcode.us/2016/04/22/a-step-towards-multi-platform-docker-images/) where pulling `ubuntu:16.04` on x86 will pull the appropriate image, and will pull the equivelant on an arm

[2016-06-26 07:30] alena1108 commented on #5243
@ruimarinho checking health_state check before proceeding to the new batch during in-service upgrade, was fixed as a part of diff issue. Scale policy just lets you bend the scale by saying "try your best, but do the min"

[2016-06-26 08:06] sangeethah opened #5245 "etcd service does not get scaled to max scale even when hosts are available."
Rancher Version: v1.1.0-rc1
Docker Version:1.10.3

Kubernetes catalog - https://github.com/rancher/qa-catalog/

Steps to reproduce the problem:
Had a cattle environment with 3 hosts out of which 1 host is "Active" and 2 other hosts are "Inactive" state.

Edited  cattle environment to kubernetes environment.
kubernetes stack started successfully with 1 etcd container as expected.

Made another host

[2016-06-26 12:19] digitalLumberjack opened #5246 "Gandi DNS Provider failure : nil pointer dereference"
**Rancher Version:**
v1.1.0-dev5

**Docker Version:**
1.11.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Scaleway Docker Image

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Create a gandi dns provider with the following configuration :

d

[2016-06-26 17:17] alena1108 commented on #5239
Issue is fixed by adding scale policy + put a hard affinity constraint on the service.

[2016-06-26 18:18] dj-hedgehog opened #5247 "Rancher doesn't resolve hostnames of other containers in the same stack"
**Rancher Version:** v1.1.0-dev5
**Docker Version:** 1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):** bare metal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

I've got a Node application which tries to connect to the host `db`. It works when started

[2016-06-26 18:36] sangeethah opened #5248 "Support for scale policy when creating/editing service."
Rancher Version:v1.1.0-rc1

Support for scale policy when creating/editing service.

[2016-06-26 18:49] sangeethah opened #5249 "Too many "Database record has been changed" exception seen."
Server version - v1.1.0-rc1

Automation run executed on this setup took about 3 hours and 10 minutes to complete. In general it takes about 2 and 1/2 hours to complete.

There is too many of "Database record has been changed" exception seen in logs .

Not sure if this is contributing to the slow run:

[code]
[code]

[2016-06-26 19:21] sangeethah opened #5250 "support for editing scale policy for a service."
Server version - v1.1.0-rc1
rancher-compose version - rancher-compose-v0.8.5-rc2

Support for editing scale policy for a service.

[2016-06-26 19:37] sangeethah opened #5251 "Service reconcile on services with scale policy triggers deletion of instances."
Rancher Version:v1.1-rc1

Docker Version:1.11.2

Steps to Reproduce:

Have a service with following  scale policy:
"scalePolicy": {
"increment": 2,
"max": 6,
"min": 1,
}

Delete 2 instances of the services.

When service reconcile was triggered , 2 of the existing instances also gets deleted and then recreated.

Finally service gets all 6 containers , but we should not be deleting instances as par

[2016-06-26 20:47] deniseschannon commented on #5250
With v0.8.5-rc2, you can edit the scale policy of a service and run `rancher-compose up --upgrade`. This will automatically update the scale policy without affecting any of the existing running containers.

[2016-06-26 20:47] #5250 closed

[2016-06-26 22:30] galal-hussein opened #5252 "waitfor_pods issue in validation tests"
waitfor_pods function stuck if the number of pods created is larger than the minimum expected.

[2016-06-27 00:59] sangeethah opened #5253 "container stats are not working for centos7/rhel7 hosts with docker 1.11.2."
Rancher Version: v1.1.0-rc1
Docker Version:  docker 1.11.2

Host os version - CentOS Linux 7 (3.10.0-327.22.2.el7.x86_64)

Container stats are not showing up and is stuck in "Connecting" state.

<img width="1081" alt="screen shot 2016-06-26 at 5 58 55 pm" src="https://cloud.githubusercontent.com/assets/4266958/16366170/ac0471ac-3bc7-11e6-885c-2a41c3149357.png">

[2016-06-27 01:03] sangeethah commented on #5253
[code]

[2016-06-27 03:29] soumyalj commented on #5245
The issue above happens even when we start with one host and keep adding new hosts.

[code]

[2016-06-27 05:05] giabao commented on #4708
@deniseschannon

Could you explain more detail?

I have started couchbase as a standalone container:
`docker run -d --ulimit nofile=40960:40960` **--net=host --label foo=bar** `couchbase`

Then when I start a `cb-client` service from UI with label:
`io.rancher.service.selector.container: foo=bar`
How do I connect to couhbase from `cb-client`:
+ Do I need add label ` --label io.rancher.container.dn

[2016-06-27 05:14] djcenox opened #5254 "Missing hyperv-url in add host with hyperv driver"
Rancher Version: v1.1.0-rc1

Docker Version: 1.12

OS and where are the hosts located? (cloud, bare metal, etc): hyperv

Setup Details: single node rancher external db

Environment Type: Cattle

Steps to Reproduce: Just add hyperv driver in the form you cannot specify hyperv-url

Results: Error cause hyperv-url is empty.

[2016-06-27 08:41] biolounge commented on #4411
Both convoy for Gluster and NFS are not working on Docker version 1.9, 1.10 and 1.11. I have tried all versions and didn't able to make it working. Please fix this bug duly.

[2016-06-27 14:47] nunofgs commented on #2801
Just hit this issue as well. The [docker dind](https://hub.docker.com/_/docker/) images are essentially unusable in Rancher.

[2016-06-27 15:49] cjellick commented on #4411
Anymore details on how they are not working for your @biolounge? Specifics such as OS flavor and version and logs of the failures would be helpful.

Particularly for convoy-nfs, we verified/certified it worked on docker 1.10.x and are currently working on the fix to allow it to work on 1.11+.

[2016-06-27 16:49] jmreicha commented on #5249
Seeing this error as well in `v1.0.1`.  Is this something to worry about?

[2016-06-27 17:02] sangeethah commented on #5249
@jmreicha , we were seeing this even in previous releases and does not cause any issues (but may cause some slowdown) which is tracked in https://github.com/rancher/rancher/issues/4104. But with v1.1.0-rc1, there was a significant increase in the occurrence of this error which is why we logged a different issue to track it.

This issue is already fixed in the master builds , so rc2 should not have

[2016-06-27 17:49] soumyalj commented on #5249
Tested with master. The test finished in 2 hrs and 27mins, the usual time taken to complete. Also, the number of error messgaes reduced:
[code]

[2016-06-27 17:49] #5249 closed

[2016-06-27 18:04] vincent99 commented on #2938
This is old, Seems to work for me now

[2016-06-27 18:48] rsippl commented on #4411
@biolounge, convoy-gluster definitely does work on 1.10. Make sure 1.11 is not part of your setup (especially if you're using Docker Toolbox).

@SystemZ, I explained above which part of code causes the error you saw in your container, so I don't get why you think it's a matter of network connection.

[2016-06-27 18:52] soumyalj opened #5255 "Extra etcd_data container is created and purged in a new Kubernetes environment with one host and other cases"
**Rancher Version:** Master

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment with 1 host.
An extra etcd_data container is created, it errors out and finally is purged.

OR
1. Create a Kubernetes environment with 3 hosts.
2. Power down one of the hosts or remove one of the hosts
An extra etcd_data container is created, it

[2016-06-27 18:57] soumyalj commented on #5255
The issue happens even when u add a new host:

[code]

[2016-06-27 19:05] LLParse commented on #5255
I can confirm experiencing this behavior. It hasn't caused problems (yet), scheduler eventually deletes/purges the failed data containers once others are successfully started. This is not specific to etcd, but is a good template to test against.

[2016-06-27 19:19] MetalArend commented on #391
Still getting this running the rancher test fig yml file, mentioned here: https://github.com/rancher/rancher/blob/master/tests/server/fig-test-env.yml

I only added a data container for data persistence to the mysqlmanual service, and it keeps throwing the error mentioned in the original issue. Is there a new issue to follow, or is this one closed too early?

[2016-06-27 19:48] cjellick commented on #5157
(re)Fixed

[2016-06-27 19:48] cjellick commented on #5157
Catalog updated to use image rancher/convoy-agent:v0.9.0

[2016-06-27 19:56] galal-hussein commented on #5157
Tested convoy-nfs catalog template with build-master and docker 1.11.2 and i am getting the following errors with convoy-nfs container:

[code]

[2016-06-27 20:16] sangeethah commented on #5157
@galal-hussein, you should be testing with the latest nfs-catalog from - https://github.com/cjellick/rancher-catalog which should have a fix .

I will be testing this in a bit.

[2016-06-27 21:18] prachidamle commented on #5180
Update:

The above "Cleaner error listing namespaces (the server has asked for the client to provide credentials (get namespaces))" was due to invalid service tokens on the k8s cluster.

With a clean k8s cluster, this error is not seen and all deis pods are seen running and "READY"

However, validating the deis usecase (mentioned here https://deis.com/docs/workflow/quickstart/deploy-an-app/,) fail

[2016-06-27 21:23] deniseschannon commented on #391
@MetalArend Can you open a new issue with details of what you did adn the logs that you are getting from it?

[2016-06-27 21:24] alena1108 opened #5256 "Rancher as a CNI plugin for k8s"
Today we maintain forked repo for k8s mostly because of the way we integrate with Rancher networking. Related modifications that were done to Kubernetes code make it not eligible for upstreaming.

We should address it by moving all the networking Rancher code to CNI plugin, and provide the plugin as an option on the kubelet start.

[2016-06-27 21:26] alena1108 commented on #5256
you should also be able to use all the standard CNI plugins k8s supports (Flannel, Calico, etc)

[2016-06-27 21:26] zambon opened #5257 "Error provisioning SoftLayer hosts"
**Rancher Version:** 1.1.0-rc1

**Docker Version:** Fails to install.

**OS and where are the hosts located? (cloud, bare metal, etc):**

* Ubuntu 16.04 64-bit
* SoftLayer - Virtual machines

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

* Single node rancher
* External database
* Single host (proxy + rancher + db in a Docker Compose file)

**Environment Typ

[2016-06-27 21:30] alena1108 commented on #5255
@LLParse @soumyalj this is not a bug, but the side affect of the way allocation done in Rancher. Before trying to allocate a host for the container, record should be created in the DB. Then if allocation fails, it is going to be purged eventually.

So lets assume you start with scale policy min=1, max=2, increment=1 and you have just 1 host satisfying your constraint.

1) etcd1 is created in the d

[2016-06-27 21:30] #5255 closed

[2016-06-27 21:48] soumyalj opened #5258 "Kubernetes rc, pods are lost after turning off and turning on the host"
**Rancher Version:**: Master

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment with 4 hosts. Use library qa-catalog: https://github.com/rancher/qa-catalog/
2. Create pods, rc
3. Turn off the host on which the pods, etcd exist. The etcd gets created on another host
4. Turn on the host which was switched off in step 3.

**R

[2016-06-27 21:53] alena1108 commented on #5258
@LLParse not sure what is going on here. etcd1 gets recreated while etcd2/etcd3 keep on running, yet all the information is lost. Previously created Replication controllers are no longer present in the etcd database.

[2016-06-27 22:06] sangeethah commented on #5253
The same issue is also seen with RHEL 7.2 (3.10.0-327.22.2.el7.x86_64) and docker 1.11.2

[2016-06-27 22:09] sangeethah commented on #5171
Tested with Centos 7 hosts(GCE) having "200 GB" Data volumes (from GCE) mounted on hosts and configuring docker to use device mapper from this volume.

Validation runs executed successfully and hosts were all in "Active" state.

[2016-06-27 22:09] #5171 closed

[2016-06-27 22:31] prachidamle commented on #5180
@galal-hussein can you validate the deis workflow by using the kubernetes templates from my catalog

https://github.com/prachidamle/my-rancher-catalog

To validate the deis workflow:
1. Change the docker daemon start options on your hosts to use ""--insecure-registry=10.0.0.0/8""
Some useful links on how to change docker daemon options:
https://docs.docker.com/engine/admin/systemd/#http-proxy
http

[2016-06-27 22:32] soumyalj commented on #5245
Tested with master. The etcds scale as per the number of hosts(upto 3).

[2016-06-27 22:32] #5245 closed

[2016-06-27 22:33] soumyalj commented on #5239
Tested with master. etcd does not get recreated on the same host after deleting it.

[2016-06-27 22:33] #5239 closed

[2016-06-27 22:35] LLParse commented on #5258
@soumyalj I am unable to reproduce - shutting off one host causes etcd to reschedule to the 4th host and all k8s data is preserved.

[code]

[code]

[2016-06-27 22:36] alena1108 commented on #5258
@LLParse I believe the error happens when you bring the host that used to be down, back to the pool

[2016-06-27 22:36] deniseschannon commented on #5193
This used to happen due to lack of resources on a host. With the introduction of scale policy, only 1 etcd will be launched on a host and it will no longer consume the host resources when launching multiple etcd containers on the host.

With these changes, we have not seen etcd stuck in initializing state.

[2016-06-27 22:36] #5193 closed

[2016-06-27 22:39] prachidamle commented on #5180
Marking as "status/to-test" to test with my personal catalog

[2016-06-27 22:43] LLParse commented on #5258
Done (in GCE), host came back, nothing bad happened. I SSH'd into the restarted VM fast enough to observe the old containers in 'STOPPED' state, I'm guessing where this was tested that was not the case.

[2016-06-27 23:03] sangeethah commented on #5157
Tested with  latest nfs-catalog from - https://github.com/cjellick/rancher-catalog with rancher/convoy-agent:v0.9.0 on both docker version 1.10.3 and 1.11.2

Able to launch convoy-nfs template successfully. convoy-nfs instance was not stuck in  "Initializing" for a long time , before it got to "Running" state.

I am able to create Vms with volumes using convoy-nfs driver successfully.

[2016-06-27 23:03] #5157 closed

[2016-06-27 23:18] lmakarov commented on #5157
@sangeethah how can one use a different catalog in rancher?
I've been trying to get convoy-nfs/convoy-gluster working all day today with no luck...

[2016-06-27 23:38] prachidamle commented on #5244
@galal-hussein I cant reproduce this. While you verify the deis workflow, can you test this with that catalog?

https://github.com/prachidamle/my-rancher-catalog

[2016-06-27 23:39] galal-hussein commented on #5244
@prachidamle I will test and let you know.

[2016-06-27 23:41] LLParse commented on #5258
Re-tested using the [new qa template](https://github.com/rancher/qa-catalog/blob/master/templates/kubernetes/3/rancher-compose.yml) and observed the documented behavior. Since we added scale_policy, we can no longer rely on metadata scale value for decision making. Etcd changes imminent.

[2016-06-27 23:53] prachidamle commented on #4548
@galal-hussein In above /tmp/build-robot-secret.yaml, you are creating a secret manually for an already existing service-account "build-robot".

Do you have this service-account "build-robot"?

If you don't see the account by doing the following, then the secret you are creating manually will not be linked to any account.

Error from server: serviceaccounts "build-robot" not found

NAME      SECRE

[2016-06-28 00:07] galal-hussein commented on #5244
@prachidamle The test on your catalog resulted in error too:

[code]

Setup details:

2 DO hosts 4 Gigs each, Docker 1.11.2, Rancher version: build-master:v0.20.0

[2016-06-28 00:18] galal-hussein commented on #4548
@prachidamle My bad, i guess i forgot to add the service account before trying to assign token to it, the test worked after adding the build-robot service account.

[2016-06-28 00:20] galal-hussein commented on #5252
https://github.com/rancher/validation-tests/pull/194 PR will fix this issue.

[2016-06-28 00:34] #4548 closed

[2016-06-28 00:40] galal-hussein commented on #5180
@prachidamle The test with your personal catalog failed to get all deis pods up and ready, the following pods failed:

- deis-builder
- deis-logger-fluentd
- deis-router

Logs:

deis-builder:
[code]
deis-logger-fluentd
[code]
deis-router
[code]

[2016-06-28 01:35] galal-hussein commented on #5180
Update:
After removing the environment and rebuilding it again, all pods ran and are in READY state, also i deployed a getting-started application on deis and it worked:

[code]
@sangeethah @soumyalj  ^^

[2016-06-28 01:44] galal-hussein commented on #5180
Catalog used:
https://github.com/prachidamle/my-rancher-catalog

Rancher version:
build-master:v0.20.0

Docker version:
1.11.2

[2016-06-28 01:44] #5180 closed

[2016-06-28 04:14] deniseschannon commented on #4242
Pre-Duplicate of https://github.com/rancher/rancher/issues/4918

This was added in v1.1.0-dev5.

[2016-06-28 04:14] #4242 closed

[2016-06-28 04:33] sangeethah commented on #5251
Tested with latest build from master:

Have a service with following scale policy:
"scalePolicy": {
"increment": 2,
"max": 6,
"min": 1,
}

Delete 2 instances of the services.
When service reconcile was triggered , 2 new instances get created. Existing instances do not get removed.

[2016-06-28 04:33] #5251 closed

[2016-06-28 05:09] deniseschannon commented on #5247
How are you deploying the services? Using rancher-compose? Adding the docker-compose.yml into when you create a new stack? Individually creating services?

[2016-06-28 05:11] sangeethah opened #5259 "convoy-nfs and convoy-nfs-storagepool instance stcuck in "initializing" state when they were recreated."
Rancher Version:v1.1.0-dev5
Docker Version: 1.11.2
Host os - Ubuntu 15.10

Created "convoy-nfs" from catalog - https://github.com/cjellick/rancher-catalog which uses image-rancher/convoy-agent:v0.9.0.
convoy-nfs and convoy-nfs-storagepool containers come up successsfully.
I was able to create services which used data files from convoy-nfs volume driver successfully.

Few hours later , I see that t

[2016-06-28 05:20] deniseschannon commented on #5242
Duplicate of https://github.com/rancher/rancher/issues/3323

[2016-06-28 05:20] #5242 closed

[2016-06-28 05:29] sangeethah commented on #5259
@cjellick: convoy-nfs containers are not pingable using their ip from Network Agent of another host which  may be why containers are stuck in "Initializing" state .

[2016-06-28 05:51] dj-hedgehog commented on #5247
I'm deploying via my CI server with this command:

[code]

I also tried doing it manually via the UI (both services at once but the result was the same.
For now I'm using `retain_ip: true` on the db container but this isn't really a solution.

Oh, this is my `rancher-compose.yml`
[code]

[2016-06-28 08:47] samattridge commented on #5219
Thanks for the information! Much appreciated.  However, I would still very much like to know if this is currently possible in Rancher and, if so, how can it be done?

[2016-06-28 10:58] makhnmik opened #5260 "Docker error: Failed to get logging factory: logger: no log driver named 'none' is registered"
**Rancher Version:** v1.1.0-dev5

**Docker Version:** 1.11.2, build b9f10c9

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 14.04, Amazon EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Setup log driver as none in rancher

[2016-06-28 11:43] SystemZ commented on #4411
@rsippl Yea, my fault, thank you for pointing that out.

[2016-06-28 14:16] woody3549 commented on #5111
Hello,

I am using only one host. Running both server and agent on the same host.
When I pull public container images, it works fine.
As soon as I use my own private containers, all are always restarting.

Thanks for your help

Date: Tue, 14 Jun 2016 15:18:09 -0700
From: notifications@github.com
To: rancher@noreply.github.com
CC: rousseab@hotmail.com; author@noreply.github.com
Subject: Re: [ranche

[2016-06-28 14:45] lewistaylor commented on #5054
@deniseschannon I just upgraded rancher and tried and the same thing, with the same results.Here is the output from running `up`

[code]

What version of docker/rancher-compose are you using?
Also might it be I am not naming the volume correctly? Convoy gluster is the name of the storage pool but I haven't created a volume associated with that pool.

[2016-06-28 17:05] vincent99 commented on #4530
How do we know which templates can be upgraded?  They can consist of any combination of k8s resources, not just deployments.

[2016-06-28 17:28] tfiduccia commented on #5189
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 17:28] #5189 closed

[2016-06-28 17:31] tfiduccia commented on #5186
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 17:31] #5186 closed

[2016-06-28 17:41] alena1108 commented on #4384
https://github.com/kubernetes/kubernetes/issues/22063

[2016-06-28 17:44] tfiduccia commented on #4421
version - v1.1.0-rc3
Verified fixed

[2016-06-28 17:44] #4421 closed

[2016-06-28 17:45] tfiduccia commented on #4408
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 17:45] #4408 closed

[2016-06-28 18:02] tfiduccia commented on #5196
Version - 1.1.0-rc3
Verified fixed

[2016-06-28 18:02] #5196 closed

[2016-06-28 18:04] sangeethah opened #5261 "Automate kubernetes ingress workflows"
Automate all kubernetes ingress workflows

Currently we have 1 basic work flow automated - https://github.com/rancher/validation-tests/pull/188

[2016-06-28 18:08] tfiduccia opened #5262 "menu jumps when I move mouse to right side"
**Rancher Version:** v1.1.0-rc3

**Steps to Reproduce:**
1.  Move mouse over Stacks/All
2.  With mouse over All, slide mouse slowly to the right

**Results:** You will see the menu get big and then small again.  This happens with Catalog as well and with Infrastructure the menu actually gets smaller for a second.

**Expected:**  Should not change size simply because I moved off of it.

[2016-06-28 18:12] sangeethah opened #5263 "Automate validation of templates from built in catalog."
Automate validation of templates from built in catalog.
We need to make sure that we are able to deploy all templates from built in library .
Stack and all services within the stack should get to "Active" state minimally.

There is 1 existing PR that has test cases relating to nfs-catalog and gluster-fs workflows-https://github.com/rancher/validation-tests/pull/173

[2016-06-28 18:14] prachidamle commented on #5244
@galal-hussein The above error seems to be same one that you got for deis before using a new setup.

Can you re-test this with a new setup, just like the deis?

[2016-06-28 18:18] tfiduccia commented on #4329
Version - v1.1.0-rc3
Verified fixed - the Post is working correctly now.

[2016-06-28 18:18] #4329 closed

[2016-06-28 18:40] tfiduccia commented on #4420
After further research:
If I create the volume using the Add Volume in the storage tab, then create a service using that volume - then the host path gets set.
If I just use the service itself to create the volume, then the host path is not set.

Shouldn't these two options act the same?
![image](https://cloud.githubusercontent.com/assets/11514927/16428052/f68bfdfe-3d24-11e6-8cb0-a851541e960f.png)

[2016-06-28 18:43] tfiduccia commented on #5146
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 18:43] #5146 closed

[2016-06-28 18:49] deniseschannon opened #5264 "Scheduler V2"
Scheduler V2:

- [x] Performance Improvement
  - [x] Refactor scheduler to schedule all units in a deployment unit at once
  - [x] Create fine-grained locks built dynamically based off of constraints instead of locking at account level
- [x] Move out of cattle
- [ ] Add compute resource management to scheduling
  - [x] CPU
  - [x] MEM
  - [ ] Storage (This one requires refactoring/rolling back our

[2016-06-28 18:52] tfiduccia commented on #5254
Version - v1.1.0-rc3
Checked and there is no field for the hyperv-url.

[2016-06-28 18:55] tfiduccia commented on #5211
Version - v1.1.0-rc3

[2016-06-28 18:55] #5211 closed

[2016-06-28 19:09] tfiduccia commented on #5192
Version - 1.1.0-rc3
Verified fixed

[2016-06-28 19:09] #5192 closed

[2016-06-28 19:13] tfiduccia commented on #5140
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 19:13] #5140 closed

[2016-06-28 19:17] tfiduccia commented on #5065
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 19:17] #5065 closed

[2016-06-28 19:19] tfiduccia commented on #4340
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 19:19] #4340 closed

[2016-06-28 19:19] tfiduccia commented on #3218
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 19:19] #3218 closed

[2016-06-28 19:22] tfiduccia commented on #5164
Version - v1.1.0-rc3
Verified fixed

[2016-06-28 19:22] #5164 closed

[2016-06-28 19:35] scomma commented on #5229
I'm seeing the exact same thing with around 140 containers. Does anyone have an experience with high-availability rancher if it alleviates this problem? It's practically unusable.

[2016-06-28 19:39] vincent99 commented on #5254
There is not a field for that in the docker-machine driver, (https://github.com/docker/machine/blob/master/drivers/hyperv/hyperv.go).  It's only designed to run locally on a Windows machine by calling powershell.  We will add this driver to the list of ones that are hidden because they're not useful in Rancher.

[2016-06-28 19:39] #5254 closed

[2016-06-28 20:07] deniseschannon opened #5265 "Authentication v2"
- [x] Move out of cattle into catalog
- [x] SAML
- [x] port existing authentication - GIthub only

[2016-06-28 20:11] cjellick commented on #5259
Can close, right @sangeethah ?

[2016-06-28 20:17] deniseschannon opened #5266 "Rewrite python-agent to Go"

[2016-06-28 20:22] deniseschannon opened #5267 "CNI framework for Rancher (k8s and mesos should also work)"

[2016-06-28 20:28] deniseschannon commented on #2938
Verified no longer an issue in v1.1.0-rc2

[2016-06-28 20:28] #2938 closed

[2016-06-28 20:30] alena1108 commented on #4664
https://github.com/kubernetes/kubernetes/issues/22063

[2016-06-28 20:32] deniseschannon opened #5268 "Add stack concept for catalog items to be tracked in UI and for upgrades"

[2016-06-28 20:33] deniseschannon commented on #4530
I would assume that this would work after #5268 was completed.

[2016-06-28 20:34] tfiduccia commented on #3914
Version - 1.1.0-rc3
Still not showing up in upgrade/clone

[2016-06-28 20:39] alena1108 opened #5269 "Node labels propagation from Rancher cloud provider to k8s"
When labels are set on the host in Rancher, corresponding node in kubernetes should reflect that.

@wlan0 You might need to check this k8s discussion on a topic to see the best way of implementing it:

https://github.com/kubernetes/kubernetes/issues/9044

[2016-06-28 20:44] deniseschannon opened #5270 "Docker-Machine v0.7.0 Support"

[2016-06-28 20:47] deniseschannon opened #5271 "API v2"
- [ ] `project` -> `environment` ("UI Environment")
- [ ] `environment` -> `stack` ("UI Stack")

[2016-06-28 20:50] deniseschannon opened #5272 "Performance Improvements to Rancher"
- [x] metadata
- [x] dns
- [x] api
- [x] event publishing

[2016-06-28 21:28] deniseschannon commented on #5259
Per @sangeethah and @cjellick, this was due to cross host networking issues that have been resolved in v1.1.0-rc3.

[2016-06-28 21:28] #5259 closed

[2016-06-28 21:34] alena1108 opened #5273 "Parameterized FQDN support"
Today we hardcode the way we do fqdn generation in external-dns. It always comes in a format of:

[code]

there are use cases when it needs to be parameterized. We should allow:

* arbitrary separator
* hardcoded values for fqdn parts
* metadata keys

more on the format can be found in discussion to this PR: https://github.com/rancher/external-dns/pull/41

@janeczku @vincent99

[2016-06-28 21:43] tfiduccia opened #5274 "If more then 4 services, can't changed environments from graph view"
**Rancher Version:** v1.1.0-rc3

**Steps to Reproduce:**
1.  Create a stack
2.  Add two services, link service2 to service1
3.  Add a External service and a Load Balancer (link the LB to service1)
4.  Click on stack name to go to stack detail's page
5.  Click on graph icon
6.  Try to change environments

**Results:** Graph view gets messed up and doesn't move to new environment.  Error in dev cons

[2016-06-28 22:26] #5021 closed

[2016-06-28 23:03] ruimarinho commented on #5243
One thing to consider is that the health check waits for the "initializing timeout" before running and advancing to the next batch if the check is successful so, in practice, this means that the batch interval will always be as small as this health check "initializing timeout".

Perhaps this is part of a different issue and I'll be glad to file it separately if you prefer, but shouldn't the "initi

[2016-06-28 23:12] ruimarinho opened #5275 "Assert expectations on health check response"
Currently, health checks only take into account the status code (2xx or 3xx) when configured for HTTP or if the port is open for TCP connections.

Would it be possible to consider asserting expectations on the health check response?  Since the health check is based on haproxy, this could roughly translate into `tcp-check expect string`?

[2016-06-28 23:51] soumyalj opened #5276 "Kubernetes pod is stuck in pending state with hostNetwork=True"
**Rancher Version:**: 1.1.0-rc3

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a pod with hostNetwork=True [Used the below yaml]
[code]
The pod does not get created successfully, it is stuck in pending state.

Here are the kubelet logs:
[code]

[2016-06-28 23:56] fixe opened #5277 "Add reverse links to rancher metadata"
It would be useful to list all the reverse links to a service instead of searching these relationships.

[2016-06-29 00:04] will-chan opened #5278 "Integrate Longhorn with Rancher"
Longhorn is Rancher's solution to storage mirroring, snapshots, and backups.  It is created as a separate project (see https://github.com/rancher/longhorn) and the goal is to integrate it with Rancher so users can select it as a volume plugin option.

[2016-06-29 01:05] cpwais opened #5279 "Crash when trying to start a container with devices"
I'm trying to make [nvidia-docker](https://github.com/NVIDIA/nvidia-docker) work with Rancher.  One workaround to make Rancher start a container w/out using the `nvidia-docker` executable is to just specify the devices and volumes needed to make things work, as described here: https://github.com/NVIDIA/nvidia-docker/wiki/nvidia-docker-plugin ( `docker run -ti `curl -s http://localhost:3476/v1.0/do

[2016-06-29 02:26] felixbuenemann opened #5280 "Active Directory setup fails if Default Domain is specified"
Setting up Active Directory in Rancher in v1.1.0-dev5 fails, if the field Default Domain is specified.

The Web UI displays the Error : "Could not talk to ldap"

If the Default Domain is left blank and instead MY-DOMAIN\username is used as the test user, the setup completes. This works but requires each user to login using MY-DOMAIN\username instead of username.

I tried setting Default Domain to

[2016-06-29 02:58] zhang8473 opened #5281 "How to clean the stacks without any service?"
`/rancher/bin/rancher-compose -p stackname -f docker-compose.yml -r rancher-compose.yml rm --force`

It deleted all of the services but the stack is still there. However, how to delete the stack completely by commands?

[2016-06-29 03:05] deniseschannon commented on #5281
There is no way to delete the stack with the commands. We have an existing enhancement request.

https://github.com/rancher/rancher/issues/1723

[2016-06-29 03:05] #5281 closed

[2016-06-29 03:21] deniseschannon commented on #3291
@m4ce Were you ever able to get this working as expected? I still haven't had time to try out fluentd, but I don't see any reason why this wouldn't work in Rancher.

[2016-06-29 05:12] leodotcloud commented on #3681
@alejom99 : If you have any scripts to setup this kind of topology, I can try to recreate this issue at my end. (Or some steps from your .bashrc file). Also a snapshot of your openvpn configuration. The faster I can recreate the problem, the more time I can spend on debugging and root causing the issue.

[2016-06-29 05:26] keperry commented on #3412
This would be awesome!

[2016-06-29 08:19] jdobyns commented on #3589
+1
Same goes for activemq

6/29/2016 1:17:21 AMCaused by: java.net.URISyntaxException: Illegal character in hostname at index 25: ws://amq_amq_2:61614?maximumConnections=1000&wireFormat.maxFrameSize=104857600

[2016-06-29 09:28] inwaar opened #5282 "Markdown in stack description"
It would be nice to have such feature, or at least make links clickable if there are some in a stack description.

[2016-06-29 09:56] tombusby commented on #3354
Main problem I'm having is that the documentation gives a great description of health checks, but basically zero walk-through instructions on how to set them up. I can see how to add a healthcheck when I spin up a new container, but not how to add one to existing stacks/services/containers.

[2016-06-29 10:17] Willwil opened #5283 "The string value of "Chaina North" should be "China North" in Region options of Azure"
**Rancher Version:1.1.0-dev5

**Docker Version:1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc): cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB): single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)

**Steps to Reproduce: Adding host to Azure

**Results: "Chaina North"

**Expected: "China North"

[2016-06-29 10:24] tombusby commented on #1877
I feel like Rancher's current behaviour handles this really badly. The entire point of rancher/docker/scaling is that if I have a problem with part of the system, it shouldn't bring the entire site down. It's entirely self defeating. Plus the fact that after a huge amount of digging, it doesn't actually seem to be possible to add a healthcheck to an existing service. You have to clone/recreate the

[2016-06-29 11:03] scomma commented on #4580
I'm still seeing this and my rancher server is an m3.medium, single rancher, external db, cattle, cloud. I have around 120 containers and ~15 hosts. Can anyone experienced with a similarly sized cluster tell me what server I'd need at minimum to not get API timeouts?

[2016-06-29 11:20] fixe opened #5284 "Container metadata `state` out of sync"
**Rancher Version:**
1.0-dev5

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Mac OSX

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

Inside a container:

- curl -v http://rancher-metadata.rancher.internal/l

[2016-06-29 12:05] deitch commented on #1877
I am wondering if there is a saner way, e.g. to use the autopilot pattern with Rancher.

[2016-06-29 13:06] cabrinoob commented on #3973
+1 for this feature. Any release date? I'am using rancher v1.1.0-dev5 and it always seems not to manage v2 syntax of docker-compose.

[2016-06-29 13:57] deniseschannon commented on #3973
@cabrinoob Anything with a milestone is typically in our roadmap. When we add in this feature, we'll also announce it in our release-notes.

[2016-06-29 14:50] cabrinoob commented on #3973
OK, sorry^^

[2016-06-29 15:29] bkuhl opened #5285 "[Feature Request] AWS VPC/Subnet list includes names"
Our DevOps teams uses Rancher to manage all of our applications and they all live on AWS in isolated VPCs.  Currently our list of VPCs is 16 long and will continue to grow as time goes on.  It'd be VERY helpful to have VPCs and Subnets include the name as well as the id in the list when provisioning new hosts on AWS.  Right now we have to keep 2 tabs open and go back and hunt down the right ID.

-

[2016-06-29 15:30] millidavids commented on #5285
+1 for this request

[2016-06-29 16:08] deniseschannon opened #5286 "Labels being lost in upgrade (io.rancher.container.create_agent and io.rancher.container.agent.role)"
In the UI, we need to add in the equivalent for these Rancher labels

[code]

If anyone tries to upgrade or clone a service that has these labels, they will be removed.

[2016-06-29 17:12] remkade commented on #4825
@leodotcloud no boot2docker, these are pxe booted hosts on a qemu vm or bare metal.

[2016-06-29 17:23] bkuhl commented on #5000
Correct, I am hitting that issue.

[2016-06-29 17:23] #5000 closed

[2016-06-29 17:41] roman0316 commented on #4385
@sangeethah

Has there been any progress in this issue? I happened to bump into a similar behavior:

**Rancher version:**
v1.1.0-dev5
**Hosts:**
Scaleway - Ubuntu 16.04 - Docker 1.10.3 - 3 hosts
DO - CentOS 7 - Docker 1.10.3 - 1 host
AWS - Ubuntu 15.04 - Docker 1.10.3 - 1 host

Rancher server is running on Ubuntu 16.04 with Docker 1.11.1

Apparently all hosts register, but when executing `kubectl

[2016-06-29 18:54] alejom99 commented on #2678
Any updates on this? Thanks

[2016-06-29 19:05] Typositoire commented on #3599
Sorry to re-open this but I just deployed Rancher and this still happens to me.

<img width="1390" alt="screen shot 2016-06-29 at 3 04 38 pm" src="https://cloud.githubusercontent.com/assets/721017/16465031/d90bf1e4-3e0a-11e6-99b0-7bbff7dbe3c1.png">

[2016-06-29 19:10] ruimarinho opened #5287 "Ability to resolve a service link (via dns) using a custom routing policy"
It would be interesting to be able link a service and choose a custom routing policy, similar to what Route53 provides.

For instance, a "latency-based policy" could be useful when one wants to make sure that linking to a service running on the same host would make it a preferable choice. This is particular useful for services which should run co-located.

[2016-06-29 20:14] jloisel commented on #4995
This issue is now critical, after migrating to a new server with a fresh install, we're getting this error 100% of time. Here are the logs from the agent which fails to load the image:

2016-06-29 20:12:41,322 ERROR agent [140257608509552] [event.py:112] Error in request : d463b12d-c721-4b02-83e1-9bae94172e4b
Traceback (most recent call last):
  File "/var/lib/cattle/pyagent/cattle/agent/event.py"

[2016-06-29 20:16] lvuch commented on #4409
https://github.com/rancher/ui/pull/763

[2016-06-29 20:43] jloisel commented on #4995
We have a Rancher instance which consistantly reproduces the issue, we can provide an access if you need to.

[2016-06-29 20:44] prachidamle commented on #5276
This is not an issue - it was caused by an issue on setup where the kubernetes images built were not using the latest code (which had fixes for hostnetwork by @wlan0 )

After building the images with latest code, this issue is not seen anymore.

[2016-06-29 20:52] jloisel commented on #4995
Here is a typical payload when we call api.container.create:

  "imageUuid": "docker:octoperf/jmeter:3.1.0",
  "startOnCreate": false,
  "labels": {
    "io.rancher.container.start_once": "true",
    "io.rancher.scheduler.affinity:host_label": "machine.providerId=xxx,machine.region=eu-west-1",
    "io.rancher.scheduler.affinity:host_label_soft": "machine.name=hyper-shadow"
  },
  "dns": [],
  "net

[2016-06-29 21:21] alena1108 commented on #4534
@soumyalj i assume it works now? could you retest?

[2016-06-29 21:59] felixbuenemann opened #5288 "Setting up single host Kubernetes fails"
Trying to convert a single host Rancher environment to a single host Kubernetes environment fails, because the services don't come up successfully and continually restart themselves.

Steps to reproduce:

* Start rancher-server container
* Add host running rancher as the only host
* Edit `Default` environment to use Kubernetes instead of Rancher
* Rancher install all the containers for kubernetes,

[2016-06-29 22:18] soumyalj opened #5289 "Kubernetes etcd does not scale up after a powering off a host and powering it back up."
**Rancher Version:** 1.1.0-rc4

**OS and where are the hosts located? (cloud, bare metal, etc):**: Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Start Kubernetes with three hosts
2. Add a rc/pod
3. Power off one of the hosts. Make sure kubectl get pod returns correct result
4. Power on the host which was turned off.

**Results:**
etcd

[2016-06-29 23:24] leftathome commented on #3066
If this is broken and there's no current ETA on fixing it, maybe the Rancher docs should be updated so that it's no longer an example of how to get persistent cluster storage working with Rancher?

And maybe removed from the catalog, too?

[2016-06-30 00:19] vincent99 commented on #5068
@dalareo Try updating and `npm install ember-intl`?  I'm not sure exactly why we don't get it normally but I saw the same issue and updating it (to 2.12.0, which is changed in the below PR) fixed it because it was looking for the config in the wrong path

[2016-06-30 00:59] ltagliamonte opened #5290 "Cannot deploy an environment with k8s controller"
I'm trying to use rancher with kubernetes,
i'm using 2 new servers on aws,one that host the UI and another as slave.
I created a new environment of type kubernetes, I added an host, the kubernetes component installation starts and never finish.
The kubelet container fails with the following error:

[code]
---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.0-dev5` Cattle: `v0.164.1` UI

[2016-06-30 01:21] aitorpazos commented on #5226
Seems that it has to do with Go version that Docker was compiled with. Check #4500 for more details. A workaround is to run the docker binary released by Docker, not the one packaged by your distribution.

[2016-06-30 05:32] RobertKozak opened #5291 "Icons not showing up on Edge in Windows 10"
**Rancher Version:**
v1.1.0-dev5

Icons not showing up in buttons. This is one all screens and I just included this one as an example.

![rancher-ui-bug](https://cloud.githubusercontent.com/assets/85093/16477747/0b628484-3ec7-11e6-8ad8-f81a6fb0a21a.png)

[2016-06-30 08:51] jloisel commented on #4995
After investigating, we may have found a potential issue: we consecutively create and start containers via api calls, at very fast pace. It seems like Rancher fails to launch the containers when trying to start a container which is still in "creating" state. Maybe there is a race condition on Rancher side.

By ensuring the container is created before trying to start it, it seems like the issue is

[2016-06-30 13:52] RobWin commented on #5226
+1.
Would a rancher agent docker image which uses a newer Docker client version help?

[2016-06-30 14:14] smw355 commented on #4576
Good news - looks like this made it into 1.2 goals.

[2016-06-30 14:45] vmignot commented on #1353
Hi @alena1108
According to this part of the documentation :
http://docs.rancher.com/rancher/v1.0/zh/rancher-compose/#example-of-sidekicks-in-rancher-compose-multiple-services-using-the-same-service-for-volumesfrom and this ticket, shared data-volumes should work.

But when I run the following docker-compose.yml
[code]

I get:
[code]

Versions I'm using are the following
Rancher 	v1.1.0-dev5
Cattle

[2016-06-30 14:53] kvaes commented on #4576
That is great news! Best news of june! ;-)

[2016-06-30 14:56] vincent99 commented on #5226
That would break compatibility with older versions.  Ubuntu patched it to fix the issue in their package because they don't want to 1.5 in xenial, but it looks like it's still in `-testing`.

[2016-06-30 15:21] GameScripting opened #5292 "No managed network ip assigned with custom docker network (--net=mynet)"
**Rancher Version:**
v1.0.1

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
cloud, Ubuntu 14.04.4 LTS (with KVM) (3.13.0-88-generic)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, internal db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle

**Steps to Reproduce:**

Case 1)
`docker netwo

[2016-06-30 15:52] cjellick commented on #5278
I don't understand what this means.

[2016-06-30 17:20] lvuch commented on #5136
https://github.com/rancher/ui/pull/763

[2016-06-30 17:26] fixe commented on #4993
I confirm this bug in Rancher V1.0-dev5. This effectively means that `io.rancher.container.hostname_override: container_name` is not very useful since it will be lost during an upgrade.

[2016-06-30 17:30] nrvale0 opened #5293 "kubectl created ConfigMaps do not receive specified keys/values"
**Rancher Version:**
v1.1.0-dev5

**Docker Version:**
Docker version 1.11.2, build b9f10c9

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04 on Digital Ocean. All latest patches.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Feed the following k8s manifest to Rancher via both local kubectl and via kubectl console in Rancher cons

[2016-06-30 17:46] taktran commented on #2138
Did this get resolved? I'm getting the same issue where I have `build: .` in my `docker-compose.yml` file

[2016-06-30 17:52] soumyalj commented on #5243
Tested with 1.1.0-rc4.

[2016-06-30 17:52] #5243 closed

[2016-06-30 17:53] soumyalj commented on #4534
Tested with 1.1.0-rc5. Workd fine.

[2016-06-30 17:53] #4534 closed

[2016-06-30 17:54] soumyalj commented on #5276
Tested with 1.1.0-rc5. Worked fine.

[2016-06-30 17:54] #5276 closed

[2016-06-30 17:55] soumyalj commented on #5289
Tested with 1.1.0-rc5. Etcd scales up after powering off a host and powering it back up.

[2016-06-30 17:55] #5289 closed

[2016-06-30 18:16] RobWin commented on #5226
What about creating a rancher agent which gives the choice of the Docker version to the user by downloading/installing the Docker client via the run script?

[2016-06-30 18:27] roman0316 opened #5294 "Kubelet does not register host"
**Rancher Version:**
v1.1.0-dev5

**Docker Version:**
1.11.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04. Scaleway - Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
1. Create the Kubernetes Environment
2. Add two or t

[2016-06-30 18:32] lvuch opened #5295 "translation broken on fail whale page"
![screen shot 2016-06-30 at 11 30 19 am](https://cloud.githubusercontent.com/assets/3013118/16499655/3cb5bcb0-3eb6-11e6-95a8-6358977caded.png)

en-us.yaml not loading on fail whale page

[2016-06-30 18:45] cjellick opened #5296 "Refactor python-agent in golang"
High level set of tasks:
- Basic Framework for handling events - Not Daishan
- Get project into CI - Not Daishan
- Packaging of project and integration into rancher/cattle - Not Daishan
- Refactor the following processes to be launched by monit (instead of the go-agent launching/owning them) - Not Daishan
  - cadvisor
  - host-api
- Events
  - compute
    - compute.instance.activate
    - compute.

[2016-06-30 18:46] JaviSabalete opened #5297 "[Feature Request] Convert io.rancher.container.requested_ip string to array"
**Rancher Version:**
1.0.1
**Docker Version:**
1.11.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04 - Amazon AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Feature Request:**
I have a rancher stack and docker-compose have io.

[2016-06-30 18:51] chrisurwin opened #5298 "Add support for TLSMA to the load balancer"
Feature request for a client presenting a valid certificate issued by the same CA as the termination certificate to allow access through the proxy.

The proxy should fail to allow traffic if presented certificate is not valid.

This can be achieved by adding verify required to the bind command in the webfrontend section of the haproxy.cfg

This should be an option when creating a load balancer tha

[2016-06-30 18:55] tfiduccia commented on #5291
Version - v1.1.0
Checked and the images are not showing up.  Console says it doesn't recognize the .woff extension.

[2016-06-30 18:57] chrisurwin opened #5299 "Add whitelist to TLSMA on Load Balancer"
<issue #5298 >
In order to secure a web resource add a whitelist to the backend section of Haproxy.cfg that allows for a whitelist that contains a list of valid cn's. Only if the cn of the mutually authenticated certificate is in the list should access be allowed.

this can be achieved with adding:
`
acl validcert ssl_c_s_dn(cn) -f /etc/haproxy/authorised_cns
http-request deny if !validcert`
to th

[2016-06-30 19:20] tfiduccia opened #5300 "Error message showing Service Account Password"
**Rancher Version:** v1.1.0

**Steps to Reproduce:**
1.  Go to Active Directory and fill out all information except don't add the domain to service account user

**Results:** The error message is showing what should be the encrypted password.

**Expected:**  The actual password should probably not be showing up.

[2016-06-30 19:31] tfiduccia opened #5301 "Have to add domain to Service Account Username"
**Rancher Version:** v1.1.0

**Steps to Reproduce:**
1.  Go to Active Directory and fill out all information except don't add the domain to service account user

**Results:** Error message Cannot talk to ldap

**Expected:**  Until recently I didn't need to have the domain added to that field

[2016-06-30 19:50] zhang8473 opened #5302 "Bug: Incorrect public IP got displayed after stop/start a EC2 instance"
Rancher server can connect to the name instance but the displayed public IP is incorret. AWS arranged a new public IP but the rancher UI does not catch it.
![image](https://cloud.githubusercontent.com/assets/5016962/16502011/28bdeea2-3ec1-11e6-8579-1e052c762fbd.png)

[2016-06-30 19:51] diogogmt opened #5303 "Agent thin pool error - "unable to get fs usage from thin pool for device ""
**Rancher Version:**
1.1.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu willy
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle
**Steps to Reproduce:**
Add a host to rancher
Tail the rancher-agent logs
**Results:**
Get this errors on the

[2016-06-30 19:53] JaviSabalete commented on #4993
With 1.0.1 same problem when I remove container and rancher recreate it (scale 1)

[2016-06-30 20:19] kvaes opened #5304 "Azure Active Directory Error : Unauthorized"
**Rancher Version:** 1.2.0

**Docker Version:**  1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** Bare Metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single Node / Internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** n/a

**Steps to Reproduce:**

* Create an Azure AD Application using the following script ; https:/

[2016-06-30 20:28] tfiduccia commented on #5247
Sidekicks are automatically linked to the main service.  So if you go into the UI and click on the links drop-down, you will see that db is not there.  That means:
  links:
    - 'db:db'
is not valid and we just ignore it.

If you want to "link" in this fashion, they would have to be two separate services.

[2016-06-30 20:31] matt-land commented on #1411
So this feature was added? Or just the label was removed?

[2016-06-30 20:54] pwFoo commented on #3349
Global LB or LB at rancher server host stucks in initializing state. Tested with galera, custom lb and also longhorn stack / catalog.
![rancher-lb-initializing](https://cloud.githubusercontent.com/assets/333408/16503856/49f1363e-3f15-11e6-9e15-fe0cac05d6b1.png)

Host names removed from screenshot. At the first host also rancher server is running.

[2016-06-30 20:56] vincent99 commented on #1411
release/future label was converted to milestone Unscheduled.

1.2 will include moving auth out of cattle and into a standalone golang project that will be more pluggable.  So we could potentially look at this after that, though TBH it seems like there is minimal community interest (and zero customer interest that I'm aware of).

[2016-06-30 21:14] sjwoodr commented on #1411
I would love to have this feature.  All of the team has a Google Apps login but not everyone has a GitHub user.  Plus, when a developer leaves the company, they retain their GitHub user -- they would not retain access to their Google Apps login.

+1 this feature

[2016-06-30 21:46] dj-hedgehog commented on #5247
Thanks for clarifying this. I thought already that the links is unnecessary. Do you have an idea why it doesn't resolve to db?

[2016-06-30 21:50] danawoodman commented on #388
Any updates on this?

[2016-06-30 21:52] tfiduccia commented on #5280
I use AD through the UI and found
"Could not talk to ldap" error - you will see this if the Service Account Username or Password is not correct.
"Unauthorized" - problem with Default Login Domain, test username or password.

So for Service Account Password you have MY-DOMAIN\username and Default Login Domain set to MY-DOMAIN?

[2016-06-30 22:07] felixbuenemann commented on #5280
The service account is specified as "CN=LDAP,ou=My Company,dc=my-domain,dc=net".

Are you saying, I should use MY-DOMAIN\LDAP instead?

[2016-06-30 22:14] soumyalj opened #5305 "etcd has various error messages when two out of Five hosts are powered off with a scale policy of max = 5"
**Rancher Version:**: 1.1.0-rc5

**OS and where are the hosts located? (cloud, bare metal, etc):**: Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes set up with 5 hosts (scale policy: max=5)
2. Create pods/rc
3. Power off two hosts
4. Kuberntes is active and functional. All pods are accessible.

The following error mes

[2016-06-30 22:17] tfiduccia commented on #5304
For the username for both admin & test can you try just "username" without the @domain.tld.

[2016-06-30 22:34] tfiduccia commented on #5280
ah LDAP screen not the AD screen.  Sorry, like I said I'm going through the UI and since our LDAP screen does not have a Default Domain field I thought you were talking about AD screen.   Here is what I have:
Hostname = ip of host
Say my Base DN was ou=people, dc=dctest-1, dc=dctest-1, dc=internal
Service account = 'cn=admin, dc=dctest-1, dc=dctest-1, dc=internal'
Search base = 'ou=people, dc=dcte

[2016-06-30 22:40] Kelindar commented on #2526
+1

[2016-06-30 22:53] soumyalj opened #5306 "etcd is stuck in intializing state"
**Rancher Version:**1.1.0

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment with with 5 hosts(scale policy: max of 5),
2. Turn off 2 hosts. Kubernetes is functional, but etcd has error messages in the logs. Refer : https://github.com/rancher/

[2016-06-30 22:55] westlywright opened #5307 "K8's Replication Controller Tabs Positioning Off"
The tabs in the K8's replication controller page are positioned incorrectly. I've included a screen shot and a sample RC yaml file for you @lvuch

<img width="1355" alt="screenshot 2016-06-30 15 53 05" src="https://cloud.githubusercontent.com/assets/858614/16506963/f6decb26-3eda-11e6-826e-577361a52096.png">

[code]

[2016-06-30 23:09] tfiduccia commented on #5302
@zhang8473 this is a duplicate of #388
There is a documented work-around that you can use:
http://docs.rancher.com/rancher/faqs/troubleshooting/#what-do-i-do-if-the-ip-of-my-host-has-changed-due-to-reboot

[2016-06-30 23:09] #5302 closed

[2016-06-30 23:10] felixbuenemann commented on #5280
I am talking about the AD screen.

[2016-06-30 23:14] tfiduccia commented on #5280
Then yes, I am saying it should be MY-DOMAIN\LDAP instead.

[2016-06-30 23:59] felixbuenemann commented on #5280
Thanks, that worked. I set Default Domain to MY-DOMAIN and Service Account to LDAP.

It didn't occur to me to try this previously, because all our other integrations with the AD use OpenLDAP based clients, which always use a bind DN instead of a plain username.

[2016-07-01 00:04] felixbuenemann commented on #5280
I still think this is a bug, because Rancher should either not support DN syntax for the service user or detect that it is a DN and not try to prefix it with the default domain.

I'm pretty sure the problem described a above happens, because Rancher uses "MY-DOMAIN\cn=LDAP,ou=My Company,dc=my-domain,dc=net" as the bind user, which is why it works if the Default Domain field is left blank.

[2016-07-01 00:12] flaccid commented on #5253
I can confirm this as well for RHEL 7.2. Once fixed we'll upgrade to 1.11. Happy to test a dev version with fix once available.

[2016-07-01 00:30] tfiduccia commented on #5294
Are all your host names unique?  For kubernetes to work properly they must be unique.

[2016-07-01 00:32] tfiduccia commented on #5290
Can you upgrade to 1.1.0 and try again.  I cannot reproduce this.

[2016-07-01 00:34] roman0316 commented on #5294
Yes, the cloud provider generates a random set of 6 alphanumeric chars as a
name for the host.

I used to prepend a common name but after many tries I simply used that
random name when adding hosts.

On Thursday, June 30, 2016, Tani Fiduccia <notifications@github.com> wrote:

--
  Ricardo Román | *INT*
| r.rmn92@gmail.com |

[2016-07-01 00:46] jdobyns commented on #1317
+1

[2016-07-01 01:40] ibrokethecloud opened #5308 "Service Upgrade fails after upgrading to Rancher 1.1.0 Stable release"
**Rancher Version:**
V1.1.0
**Docker Version:**
V1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL 7.2, Internal Cloud(VMWARE)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher with External DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Trying to upgrade an existing stack.
H

[2016-07-01 01:43] ibrokethecloud commented on #5308
I have looked at the DB for instance and instanceexposemaps listed in the error, and they show up as purged.
![screen shot 2016-07-01 at 11 43 57 am](https://cloud.githubusercontent.com/assets/19664014/16509517/02fcfbf2-3f81-11e6-9a53-b0fa01e5fb2c.png)

[2016-07-01 02:54] llitfkitfk commented on #1370
@deniseschannon thx

Docker for Mac:
if someone using docker for mac
try to run container: docker run --rm -it  -v /var/lib:/var/lib  alpine sh
then to rm -rf /var/lib/rancher/state

[2016-07-01 05:14] RobertKozak commented on #5291
https://blogs.windows.com/msedgedev/2016/05/03/woff2-fonts-in-microsoft-edge/

Edge will support Woff2

[2016-07-01 06:00] vincent99 commented on #5291
What's weird is even old IE supports woff (not woff2).  Anyway we'll look into it.

[2016-07-01 06:15] kvaes commented on #5304
Just tried the following username

- rancher@kvaes.be (custom domain)
- rancher@kvaes.onmicrosoft.com (initial aad name)
- rancher

For domain I used both "kvaes.be" and "kvaes.onmicrosoft.com".

I also used alternating user formats for both the admin user & the test user.

To be honest, the flow where you need to provide an admin username feels very "ldap"-alike an counter intuitive when you are

[2016-07-01 06:27] tfiduccia commented on #5304
So just to be sure, in Azure AD you created a user with the name rancher?

[2016-07-01 06:36] kvaes commented on #5304
<img width="694" alt="2016-07-01 08_32_27-active directory - microsoft azure" src="https://cloud.githubusercontent.com/assets/10435278/16513688/e6b0bb9c-3f66-11e6-9deb-4f0f5e1dfbf8.png">
<img width="680" alt="2016-07-01 08_32_35-active directory - microsoft azure" src="https://cloud.githubusercontent.com/assets/10435278/16513689/e6b2072c-3f66-11e6-8185-b451886bf074.png">
<img width="690" alt="2016

[2016-07-01 07:37] garjunan opened #5309 "Access control specific to stack/services"
**Rancher Version:** 1.0.1

**Docker Version:** 1.11.1

**OS and where are the hosts located? (cloud, bare metal, etc):** CentOS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**  Trying to restrict user on particular stack

**Results:** I have only environ

[2016-07-01 07:56] opb commented on #2143
Given rancher now supports mesos, chronos could potentially fill this requirements in some use cases.

[2016-07-01 08:24] nathan2013 commented on #5267
just want to know if have plans for CNM?

[2016-07-01 08:53] tsupertramp commented on #5303
Same happens with ubuntu trusty

[2016-07-01 09:24] nathanxu opened #5310 "[Feature Request ] Access controlling per stack within env"
Rancher supports to assign the permission per environment while it couples host resource and permission controlling. We met several real cases that people want to share host resources within environment and control the operation against stacks (view, change or delete stack). For these users, It's not acceptable to create a set of environments for purpose of stack access controlling while can't sha

[2016-07-01 12:42] dsvmacdonald opened #5311 "HA Script Generation fails to include inputted certs and keys"
**Rancher Version:**
rancher/enterprise:v1.1.0
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL 7.2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Turn on HA and input your own self-singed certs
**Results:**
rancher-h

[2016-07-01 12:47] dsvmacdonald commented on #5311
Workaround is to manually edit the rancher-ha.sh file to include the certs such as:
[code]

[2016-07-01 14:07] chainone commented on #4680
👍

[2016-07-01 14:50] aravind-murthy commented on #5253
+1

Facing same issue on Centos 7 and Docker 1.11.1

The stats works on the VM/host but not for containers (baseimage: centos) deployed on the VM. Strange.

[2016-07-01 15:47] janeczku opened #5312 "Values in API edit dialog are overflowing modal"
**Rancher Version:**
1.1.0

**Steps to Reproduce:**
1. Click "View in API" for some service
2. Click "Edit"

**Result:**
Content of the value column bleeds outside the modal
**Expected:**
Content should wrap

![api-modal-overflow](https://cloud.githubusercontent.com/assets/3813921/16526884/d235bef4-3fb3-11e6-954d-066fc73c7e19.png)

[2016-07-01 15:53] deniseschannon commented on #5310
Duplicate of #5309

[2016-07-01 15:53] #5310 closed

[2016-07-01 15:56] deniseschannon commented on #5309
Related to https://github.com/rancher/rancher/issues/1338

[2016-07-01 15:58] kmcgrath opened #5313 "Docker 1.11 on AWS Linux "unable to get fs usage from thin pool for device""
This was originally posted in issue #4491 after that issue was closed.  I did not see an update there, so I'm creating a new issue.

**Rancher Version:** 1.1.0

**Docker Version:** 1.11.1, build 5604cbe/1.11.1

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS Linux

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** HA

**Environment Type: (Ca

[2016-07-01 16:02] deniseschannon commented on #5313
Duplicate of https://github.com/rancher/rancher/issues/5303

[2016-07-01 16:02] #5313 closed

[2016-07-01 16:05] ppiccolo opened #5314 "RancherVM in Rancher 1.1.0"
**Rancher Version:**
1.1.0
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
esxi 5.5
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Swarm
**Steps to Reproduce:**
Update from 1.0.2 to 1.1.0
**Results:**
Support for RancherVM is gone away
**Expected:**
S

[2016-07-01 16:13] vincent99 commented on #5314
Enabling VMs had moved from a global setting to a per-environment one.  Edit your environment(s) and choose enable.

[2016-07-01 16:13] #5314 closed

[2016-07-01 16:15] deniseschannon commented on #5303
I just installed an Ubuntu trusty and didn't see the error. I will try with some of the other OS types later.

Just to confirm, is your Rancher agent able to connect to your Rancher server?

[2016-07-01 16:37] deniseschannon commented on #5247
From the `backend` container, it should resolve to `db`. From another stack, it'd resolve to `db.backend`

http://docs.rancher.com/rancher/latest/en/rancher-services/internal-dns-service/#pinging-sidekick-services

[2016-07-01 16:42] roman0316 commented on #5294
So instead of using Scaleway's docker image, I used a regular Ubuntu 15.10 image and installed docker on it.

Kubelet and Proxy start on the first try and the node gets registered.

Also tried with CentOS and got same successful results.

Could the image be the problem here?
They provide Ubuntu 16.04 + Docker 1.11.2 + aufs

And if so, how can I test it?

[2016-07-01 16:47] deniseschannon commented on #5299
It sounds like you want to customize the backend of haproxy.cfg.

This is covered in #2179

Please re-open if I'm mistaken.

[2016-07-01 16:48] vincent99 commented on #5086
@y8 claims (in IRC) that this is fixed in 1.1.

[2016-07-01 16:48] #5086 closed

[2016-07-01 16:56] LLParse commented on #5305
These logs indicate the 2 nodes that failed (were on the hosts you shut off) have failed. It is expected functionality of etcd.

[2016-07-01 16:56] #5305 closed

[2016-07-01 16:57] LLParse commented on #5306
Relevant PRs:
https://github.com/rancher/catalog-dockerfiles/pull/72
https://github.com/rancher/community-catalog/pull/208
https://github.com/rancher/rancher-catalog/pull/171

[2016-07-01 16:58] LLParse commented on #5258
Duplicate of https://github.com/rancher/rancher/issues/5306

[2016-07-01 16:58] #5258 closed

[2016-07-01 16:59] deniseschannon commented on #2138
Having a `build: .` in the docker-compose.yml file in the UI will always fail as we would pick a host by random.

We felt like the error provided was sufficient.

Are you getting this issue when you launch the docker-compose.yml through the rancher-compose CLI?

[2016-07-01 17:10] deniseschannon commented on #5292
It's not obvious in the docs, but currently, the `io.rancher.container.network=true` only works for containers on the host network.

This would be an enhancement request to be able to use the managed network for custom docker network.

[2016-07-01 17:14] dsvmacdonald opened #5315 "Adding proxy to rancher-ha.sh script causes HA to fail"
**Rancher Version:**
1.1.0
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL 7.2
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
1. Setup HA as normal
1. Download rancher-ha.sh script
1. Modify script line starting with ID to i

[2016-07-01 17:39] vincent99 commented on #5280
"Happens to work in some case" and "support[s]" are not necessarily the same thing. But we will be moving auth into it's own separate service in 1.2 and can look at this then.

[2016-07-01 17:45] deniseschannon commented on #5288
You need more resources if you are only using 1 host in K8S on v1.1.0-dev5.

From the release notes:
Kubernetes: HA Support through etcd-cluster [#4499] - K8s on Rancher is now highly available through enabling etcd in a cluster mode. Important: In a Kubernetes environment, the amount of RAM needed on any single host will need to be 6 GB.

If you upgrade to v1.1.0, you should be able to use your s

[2016-07-01 17:45] #5288 closed

[2016-07-01 17:50] GameScripting commented on #5292
It might be an enhancement from a technical point of view but for me as a docker-compose user utilizing the new 2.0 format this looks like a bug.

Using docker-compose 2.0 format a new "default" network is always created. So non of the services will be attached to docker0 / host network.

---

Bug or enhancement, can I expect it to be fixed on the next rancher release?

On July 1, 2016 7:11:10 PM

[2016-07-01 18:16] deniseschannon commented on #5284
Confirmed this is a bug.

Steps to Reproduce:
1. Create an ubuntu service
2. Exec into the container
3. Run this command for the metadata service
[code]
4. Restart the container and wait until it is in Running state in the UI.
5. Exec into the container and run command
[code]

Results:
The second curl shows `starting`.

[2016-07-01 18:19] deniseschannon commented on #3354
You can not add health checks to existing services, but you can upgrade the service to add a health check.

Would you want walk through instructions on how to do it in the UI or through rancher-compose?

[2016-07-01 18:27] tfiduccia commented on #5294
Currently Kubernetes doesn't support docker 1.11.  You can try a Scaleway image with a 1.10 version of docker and it should work.  We have a bug already entered that you can track, #4428.  I'm going to close this issue, if after using 1.10 version and if you still aren't registering, please reopen.

[2016-07-01 18:27] #5294 closed

[2016-07-01 18:36] deniseschannon commented on #5054
I always use the rancher-compose version tied to a release. In this case, it would be rancher-compose v0.8.4.

[2016-07-01 19:05] fbrbovic commented on #5080
We are experiencing the same problem.  We upgraded docker to Docker version 1.11.2 and rancher 1.1.0  and glusterfs convoy broke

[2016-07-01 19:50] diogogmt commented on #5303
@deniseschannon I haven't tested with Trusty, but if it is working for you I'll give it a try.

Yes, the rancher-agent is connected to the server and I'm able to schedule containers and they can talk on the overlay network.

[2016-07-01 19:59] lvuch commented on #5307
https://github.com/rancher/ui/compare/master...lvuch:0629issues?expand=1

[2016-07-01 20:01] pwFoo commented on #3914
Also with v1.1.0. Following here.

[2016-07-01 21:01] soumyalj opened #5316 "Kubernetes stack, etcds stuck in intializing state [kubernetes_etcd_1 cannot be resolved]"
**Rancher Version:**v1.1.0

**Docker Version:**1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes set up with three hosts. Used the https://github.com/rancher/qa-catalog

Results
1. etcds stuck in intializing state. Kubernetes did not come up successfully
2. Als

[2016-07-01 21:05] pwFoo commented on #5139
It seems to be a rancher server ui refresh problem at all?

Delete, create or upgrade stacks also need a browser refresh to be finished often.

[2016-07-01 21:15] LLParse commented on #5316
Per offline discussion, we tracked the root cause of etcd failure in this scenario to a failure in Rancher DNS. This is very likely related to Docker 1.11, as this will cause problems across all templates and would've been caught by now.

More specifically, 2 etcd nodes were scheduled, but only 1 appeared in the DNS answers.json:
[code]

[2016-07-01 22:43] ltagliamonte commented on #5290
Hello @tfiduccia ,
i did use the latest tag from docker hub which points to 1.1.0 and it is still not working.
Same error on kubelet container.

[2016-07-01 22:50] tfiduccia commented on #5290
Are you using a 1.11 version of docker on the host?  Because kubernetes does not yet support 1.11 and you have to make sure you have a 1.10 version.

[2016-07-01 23:44] Sxw1212 commented on #5303
I am also experiencing this message on Ubuntu 15.04 KVM hosts in a multi node cluster. It does not appear to affect cluster operation other than some logging disk space usage. A difference from the OP's post is that the message appears multiple times a second instead of just once.

[2016-07-02 00:02] diogogmt commented on #5303
@deniseschannon The same problem has also being logged at the cAdvisor issue tracker: https://github.com/google/cadvisor/issues/1360

[2016-07-02 00:10] tfiduccia commented on #5304
A couple of things to check in the application configuration -
1.   When you setup did you choose web application or Native client (mine is a native client)
2.  Check your "Permissions to other applications" and make sure AD has read access

[2016-07-02 06:50] roman0316 commented on #5294
Thank you @tfiduccia

I went ahead and tried it. Here is my current configuration:

Two Ubuntu 16.04 Hosts with Docker 1.10.3 installed. This is what I am seeing:

<img width="530" alt="screen shot 2016-07-02 at 12 38 12 am" src="https://cloud.githubusercontent.com/assets/1535586/16538861/ffc95a4e-3fed-11e6-93b0-c3cc71806bf7.png">

Then the logs from kubelet:

Kubelet on master node -
<img width="

[2016-07-02 07:59] kvaes commented on #5304
Tani,

That was the golden tip! I would suggest to add that to the documentation. That the application created in the AAD needs to be a native one. This as you need to grant the read access rights, which is not possible via the web app.

Thanks!

Karim

[2016-07-02 07:59] #5304 closed

[2016-07-02 09:28] kvaes commented on #5304
FYI - Created a walkthrough for this based on your help... ;-)

https://kvaes.wordpress.com/2016/07/02/integrating-azure-active-directory-with-rancher/

[2016-07-02 12:23] tombusby commented on #3505
@vincent99 Do you have an idea what the timescale for this is? It's something that we really need to be able to do. If it's coming relatively soon I'll hold off on writing an ugly hack in the server-side code to do it.

[2016-07-02 15:29] tombusby commented on #3354
Either of those would be ideal tbh. My main issue at the moment is that the
docs don't appear to explain how do set healthchecks up, only that they
exist.

On Fri, Jul 1, 2016 at 8:19 PM, Denise <notifications@github.com> wrote:

[2016-07-02 16:21] aldarund commented on #5303
Same issue on Centos 7/Kubernetes
Rancher Version:
1.1.0
Docker Version:
1.11.2
Docker logs are spammed with this:
[code]

[2016-07-02 16:55] Thom-x commented on #5303
Same issue on Ubuntu 14.04
Rancher Version:
1.1.0
Docker Version:
1.9.1
Docker logs are spammed with this:

[code]

[2016-07-02 17:52] jhmartin commented on #4752
+1 to application isolation.  Running a swarm tends to give up the use of some of the security provided by AWS security groups; docker stack-specific networks regain some of that capability. I'd like app A's webserver to be able to talk to its redis, but not app B's database server.

[2016-07-02 18:01] guodong opened #5317 "Local auth configs API timeout"
**Rancher Version:**
v1.1.0
**Docker Version:**
1.6.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
local, ubuntu14.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Fresh installed rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
None
**Steps to Reproduce:**
API  /v1/projects/1a5/localauthconfigs timeout, while other apis work

[2016-07-02 18:34] pwFoo commented on #5278
Can't wait to test a working version (current catalog version stucks in volume requested state).

[2016-07-02 18:43] pwFoo commented on #5308
I also experienced some problems with stack upgrades
* LB's stuck initializing at rancher servers host
* volumes-from lost
* host moved to another (even though explizit deployed to one specific host)
* service linked as "" (emtpy) instead of the used name (example: MySQL-Stack/MySQL as mysql)
* rancher longhorn catalog stucks init state

But all the upgrade will be finished unless excepting wrong

[2016-07-02 22:48] deniseschannon commented on #5069
I was able to get a setup that reproduces this issue with hosts.

[2016-07-02 22:51] deniseschannon commented on #5078
@pwFoo With the latest release of v1.1.0 (our new stable) and RancherOS (v0.5.0), could you please try again? I've had no issues with that combination.

If you still have issues, please re-open.

[2016-07-02 22:51] #5078 closed

[2016-07-02 23:01] deniseschannon commented on #5240
@mechatama We have already released 1.1, but I've changed this as an enhancement request. If others are interested in this concept, we can look into prioritizing it.

[2016-07-02 23:12] deniseschannon commented on #4708
@giabao In your case, you also start the couchbase container with `--label io.rancher.container.dns=true` and you'd want to actually use another service (`couchbase`) in the UI, that would have the selector label. Then, from `cb-client`, you would be able to ping `couchbase` and it should be able to reach the standalone container.

[2016-07-02 23:17] deniseschannon commented on #5257
Just to confirm, you were able to provision using `docker-machine` using the same parameters that you found in the rancher/server logs for when we add a host, right?

What version of docker-machine did you use?

[2016-07-03 00:34] aldarund commented on #5316
Im trying to setup rancher first time with kubernetes on aws, wanted to see how it works, but unfortunately it seems impossible.
First i was having same  exact same issue when was using https://releases.rancher.com/install-docker/1.11.2.sh
Then after reading this topic and that its related to docker 1.11 i changed it to https://releases.rancher.com/install-docker/1.10.sh
But still a error. Now in

[2016-07-03 00:52] zhang8473 opened #5318 "Unable to launch AWS EC2 host from rancher WebUI"
After I restart the rancher server, everything is good. However, I launched too many stacks by API and Rancher server got crashed. I restarted the rancher server (with static public IP) and got the following problem:

**Rancher Version:**
1.0.0
**Docker Version:**
1.10

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu @ AWS

**Setup Details: (single node rancher vs. HA ranc

[2016-07-03 00:57] aldarund opened #5319 "Cant launch any example from kubernetes"
**Rancher Version:**
1.10
**Docker Version:**
1.10
**OS and where are the hosts located? (cloud, bare metal, etc):**
centos 7
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
signle node
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
First i was experiencing this -> https://github.com/rancher/rancher/issues/5316#issuecom

[2016-07-03 01:15] deniseschannon commented on #5318
What version of Rancher are you running? It is in the lower left corner in the UI.

[2016-07-03 01:19] zhang8473 commented on #5318
I am running rancher v1.0.0

[2016-07-03 02:37] deniseschannon commented on #5318
There is a known issue with machine drivers that you are facing. Can you upgrade to 1.1? We just released it and it has a fix for your issue.

[2016-07-03 08:08] zhang8473 commented on #5318
I will try later.
1. Other bug is that if the stack is not deployed successfully, e.g. no service is running because of no hosts.
If I use "rancher-compose rm --force" to remove the stack, it will actually do nothing. The stack is still there.

2. Other problem is that "rancher-compose rm --force" cannot remove the stack completely from rancher server. It will leave an empty stack there. This is a

[2016-07-03 11:40] Daxten commented on #4411
I think there is no 1.10.3 release for xenial (16.04 LTS), would it be possible to add it?
I'm using the binaries as a workaround atm

[2016-07-03 12:25] truongdo opened #5320 "Load balancer does not show up on host panel"
The load balancer seems to function properly; it showed up on stack window,
but does not show up on the host window.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.0` Cattle: `v0.165.4` UI: `v1.1.12` |
|Access|`github` `admin`|
|Orchestration|`Cattle`|
|Route|`environments.index`|

[2016-07-03 12:45] scriptjs commented on #5002
Yeah that is this issue. https://community.getcarina.com/t/whats-the-path-to-docker-sock-i-need-it-for-rancher-agent/45/7

[2016-07-03 17:06] goffinf commented on #1399
I also need to link containers using --link. I note here the workaround mentioned by Darren but I can't find an explanation of how to implement it. Can someone please explain how I can set a container name albeit with a 'r-' prefix ?

I can see the io.rancher.container.name in docker inspect, but that does not work when using docker run --link <cont-name>:alias  AFAICT ?

[2016-07-03 17:45] willseward commented on #5320
Do you have the "Show System" tick box ticked?

![screen shot 2016-07-03 at 12 45 33 pm](https://cloud.githubusercontent.com/assets/5386568/16546803/13e9da2e-411c-11e6-9e1d-acd60f6f7cdc.png)

[2016-07-03 20:44] Crazy-Hopper opened #5321 "API filtering malfunction"
Filtering (e.g. for names) in API works for environments (i.e. stacks) but not for services within the stack.

---

| Useful | Info |
| :-- | :-- |
| Versions | Rancher `v1.1.0` Cattle: `v0.165.4` UI: `v1.1.12` |
| Access | `localauth` `admin` |
| Orchestration | `Cattle` |
| Route | `environments.index` |

[2016-07-03 20:48] Crazy-Hopper commented on #5321
Probably a duplicate of #3847

[2016-07-03 22:40] truongdo commented on #5320
Oh, is that a new UI feature from the version 1.1.0? It is not easy to realize that function. Anyway, it works now! Thanks.

[2016-07-03 22:40] #5320 closed

[2016-07-04 01:25] agalpin commented on #1411
For the same reason as @sjwoodr it would be nice to have, I wouldn't expect permissions to be handed on the Google Apps side, just the oauth and rancher to handle permissions, even if it was just domain locked e.g. @example.com

[2016-07-04 04:19] mj19910923 opened #5322 "can not build docker/server image"
75---> Using cache
76---> 736d3b3d065a
**77 Step 16 : COPY target/*static.tar.gz /s6-statics/**
78 No source files were specified
79 {"exitCode":8, "message":"docker build failed or timeout "}

[2016-07-04 08:34] saphoooo opened #5323 "Certificate isn't integrated in rancher-ha.sh when it is generated"
**Rancher Version:**
v1.1.0
**Docker Version:**
Docker version 1.10.3, build 20f81dd
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS v0.4.5
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Sigle or three nodes HA with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Just trying to enable

[2016-07-04 09:11] djcenox commented on #5303
+1

[2016-07-04 09:46] demarant commented on #2510
@deniseschannon
this issue just appeared to us after we upgraded from rancher v1.0.2 to v1.1.0.
we are on CentOS7 hosts (3.10.0-327.13.1.el7.x86_64) with docker engine 1.10.3 (not RancherOS).

[2016-07-04 10:30] marek-stopka commented on #5151
Hello @janeczku, we are currently hitting the same bug in our own environment, what is the priority of this issue and expected fix time for this issue? Is there anything we can do to help you guys out?

Rgds,
Marek

[2016-07-04 10:33] dsheng opened #5324 "rancher-mesos-scheduler"
**OS and where are the hosts located? (cloud, bare metal, etc):**
Centos 7

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Mesos

**Steps to Reproduce:**
go get -d github.com/rancher/rancher-mesos-scheduler
cd $GOPATH/src/github.com/rancher/rancher-mesos-scheduler && ./scripts/build

**Results:**

Errors raise

**Expected:**

build out
build/rancher-mesos-scheduler

[2016-07-04 11:20] janeczku commented on #5151
@marek-stopka If you could attach the corresponding logs from Cattle and provide more details about your group configuration in Active Directory it would certainly help. Thanks!

[2016-07-04 11:45] DarkKnightCZ commented on #5151
@janeczku: stripped Cattle log is below (all sensitive and redundant data were removed)
2016-07-04 09:41:06,537 INFO  [:] [] [] [] [ecutorService-6] [i.c.p.i.a.a.i.l.a.ADIdentityProvider] Failed to get object: ... [LDAP: error code 10 - 0000202B: ...]

Error code 10 means it doesn't have proper referral linkage (e.g. in this case two domains not directly visible).

This is probably triggered by ht

[2016-07-04 12:23] jloisel commented on #5253
+1 same issue on Ubuntu 16.04 LTS.

[2016-07-04 12:33] jloisel opened #5325 "container hostname override not working with network=host"
**Rancher Version:** v1.1.0, v1.0.2, v1.0.1

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** Bare-metal, with server and agent on  the same machine.

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher with internal DB.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reprodu

[2016-07-04 13:06] demarant opened #5326 "Container statistics not working after rancher upgrade from v1.0.2 to v1.1.0"
**Rancher Version:**
v1.1.0

**Docker Version:**
1.10.3

[code]

**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS 7 on private/public OpenStack.
Linux prod-mil-06.pecs.eea 3.10.0-327.13.1.el7.x86_64 #1 SMP Thu Mar 31 16:04:38 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
[single rancher node](ht

[2016-07-04 13:16] piagodai commented on #4991
Hi, any news for this issue? We are also facing the similar problem. In our case, while creating a new stack, the CPU usage raise up very high, and the rancher UI could not respond till the stack creation completed. We've already added the java options like -Xmx32g but the problem still occurs.

[2016-07-04 14:57] taktran commented on #5195
Is there a workaround for this?

[2016-07-04 15:29] djcenox commented on #5152
Bump!

[2016-07-04 16:40] willseward commented on #5152
Agreed.

[2016-07-04 17:42] janeczku commented on #5216
HI @sapslaj, it looks like you are running Rancher behind a SSL-enabled reverse-proxy. This might be a problem with your certificate chain.
Please open a shell into the agent container and execute the curl command again, but without the `-k` switch, ie. `curl https://192.168.20.163:8080/v1`.

[2016-07-04 21:30] timonmat commented on #5308
I also had similar problems with 1.1 and had to roll back to 1.0

Services got stuck scheduling just on restart of the container. (sheduled to host)
Upgrades got stuck on activating. (data sidekick scheduled, but service container did not)
Load balancer and network agent appeared on 'docker ps', but never in rancher UI, and lb did not route.

Ubuntu 14.04.4 LTS (3.13.0-88-generic) and docker 1.11.

[2016-07-04 22:06] aemneina commented on #5323
duplicate issue: https://github.com/rancher/rancher/issues/5311
we can track progress on that one.

[2016-07-04 22:06] #5323 closed

[2016-07-05 00:10] ibrokethecloud commented on #5308
@deniseschannon here is my docker and rancher-compose:

[code]

Here is the associated rancher-compose which goes with it.

[code]

As a side note, we did rebuild the environment (just a few hours ago) which was having this issue,which involves de-registering the cattle nodes from rancher, doing a new build of the cattle nodes  and joining them to the rancher environment.

I can see that it seems

[2016-07-05 05:08] vishal-biyani commented on #4451
This might be a potential bug in heapster:
From file: https://github.com/kubernetes/heapster/blob/master/metrics/sources/kubelet/kubelet.go following block does not use ExternalIP - which is what is used in rancher K8S nodes. I could not get time to test this hypothesis though:
[code]

[2016-07-05 05:53] soumypau opened #5327 "[rancher-compose] CLI doesnt return prompt when starting stack"
**Rancher Version:**

**Docker Version:**

**OS and where are the hosts located? (cloud, bare metal, etc):**

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

**Steps to Reproduce:**

**Results:**

**Expected:**

[2016-07-05 05:54] #5327 closed

[2016-07-05 06:16] ramden commented on #5198
Same for me. The setting is without http(s):// . Gives me : Error (500 Server Error: Internal Server Error ("Get https://registry.gitlab.com/v2/MYUSERNAME/REPOSNAME/manifests/latest: <nil>"))

[2016-07-05 06:34] ramden opened #5328 "gitlab.com registry login not working with rancher ui (docker-compose works)"
Rancher Version: v1.1.0-dev5
Docker Version: 1.10.3
OS and where are the hosts located? (cloud, bare metal, etc): bare metal
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB) sindle node rancher, internal DB
Environment Type: (Cattle/Kubernetes/Swarm/Mesos) Cattle

Possible duplicate of https://github.com/rancher/rancher/issues/5198 (issue still exists)

The setting

[2016-07-05 06:57] roflmao opened #5329 "Container names revert from UUID to stack_service name"
**Rancher Version:**
1.0.2

**Docker Version:**
1.11.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 14.04, bare metal

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

[code]

Did upgrade of container to export new

[2016-07-05 07:24] soumypau opened #5330 "[rancher-compose] CLI doesnt return prompt when starting stack"
**Rancher Version:*v1.1.0-dev3*

**Docker Version:*1.11.2*

**OS and where are the hosts located? (cloud, bare metal, etc):*Local DC, RHEL 7.2*

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)*Single Node Rancher*

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)*Cattle*

**Steps to Reproduce: **
./rancher-compose --url <rancher url> --access-key <access key>

[2016-07-05 09:00] vishal-biyani commented on #4451
@galal-hussein Can you please paste output of  ``` kubectl get node <AWS_NODE> -oyaml ``` (If you still have the same setup running of course)
I have setup same stack on AWS but still running into below error:
``` Node <PUBLIC_DNS_NAME> has no valid hostname and/or IP address: <PUBLIC_DNS_NAME> ```
I am using Rancher version 1.1.0. Just curious if I missed any config which is needed

[2016-07-05 09:17] #5324 closed

[2016-07-05 09:31] galal-hussein commented on #4451
@vishal-biyani Unfortunately I don't have the setup running, i didn't encounter this error.

[2016-07-05 10:33] dalareo commented on #5068
@vincent99 great! solved the issue

[2016-07-05 10:33] #5068 closed

[2016-07-05 11:59] hugochinchilla commented on #2143
@opb what about people who prefer cattle or swarm? I personally find Mesos too complex and prefer to stay away from it, cattle and swarm are easier to understand and debug if the case arises.

[2016-07-05 12:52] kubadawczynski opened #5331 "Misspelling in "add project" window"
In "add Project" window is misspelling.

You have "dcoker-compose.yml" instead docker-compose.yml

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.0` Cattle: `v0.165.4` UI: `v1.1.12` |
|Access|`openldap` `admin`|
|Orchestration|`Swarm`|
|Route|`swarm-tab.projects.new`|

[2016-07-05 15:09] galal-hussein commented on #5263
@sangeethah I added the pull request https://github.com/rancher/validation-tests/pull/195 which will add several catalog items, there are several failing tests including:

- owncloud
- gitlab

[2016-07-05 15:11] zambon commented on #5257
That's correct! I used `0.8.0-rc1, build fffa6c9`, but I have used earlier versions too.

Let me know if you would like me to test any specific versions.

[2016-07-05 15:32] ebr commented on #5329
+1; Have also been seeing this on all versions of Rancher so far - thanks for opening the issue

[2016-07-05 15:48] vincent99 commented on #5330
This works the same way as docker-compose and shows you the log output of the containers until terminated.  If you want to exit automatically, pass`-d` to the `up`command.

[2016-07-05 15:48] #5330 closed

[2016-07-05 17:20] deniseschannon commented on #5257
@zambon In Rancher, we are currently at docker-machine v0.6.0. Have you tested specifically with that version?

[2016-07-05 17:43] pulberg opened #5332 "Load balancer is not scheduling on all hosts as expected"
**Rancher Version:** 1.1.0

**Docker Version:** 1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):** RancherOS v0.5.0, AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node Rancher, RDS DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**  In a multi-host env, I have a stack with a service and

[2016-07-05 17:49] nunofgs commented on #3497
This is happening on only one of our hosts right now. I can access the logs/shell on containers running on other hosts.

The offending host just throws a 401 error when establishing the websocket connection.

[2016-07-05 18:59] evfurman commented on #5316
Still seeing this issue with our Kubernetes deploys on Rancher. Can't get past step 3 of 9 and seeing the same etcd errors mentioned above.
<img width="1255" alt="coreos nodes failing" src="https://cloud.githubusercontent.com/assets/7016955/16596257/ad841922-42b8-11e6-9c95-094793404e22.png">
<img width="1248" alt="coreos k8s failing" src="https://cloud.githubusercontent.com/assets/7016955/16596258

[2016-07-05 19:35] soumyalj opened #5333 "etcd stuck in initializing state [race condition when looking for current service scale and using scale_policy]"
**Rancher Version:**: 1.1

**Docker Version:**1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**: Ubuntu, Cloud

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**: Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes set up with 3 hosts. Use qa catalog. Added the 3 hosts through digital ocean

**Results:**
 etcd is stuck in intializing state

[code]

[2016-07-05 19:46] LLParse commented on #5333
The client-side solution to this issue is to not rely on current scale for critical decisions. In this specific case, we can instead use min scale to determine if bootstrapping is necessary.

[2016-07-05 19:53] LLParse commented on #5316
@aldarund To confirm, your hosts are Docker 1.10 now, correct? Could you please provide etcd log information to determine root cause of cluster setup failure?

@evfurman Ditto, could you please provide log information?

We found [an issue](https://github.com/rancher/rancher/issues/5333) today which might be what you're observing, but there could be others.

[2016-07-05 20:00] aldarund commented on #5316
@LLParse im using https://releases.rancher.com/install-docker/1.10.sh this script but neverless nodes endup with 1.11.2 . it happens for centos 7 nodes.

[2016-07-05 20:14] tfiduccia commented on #5095
Many other more specific bugs about this.  I will close and defer to Soumya's more specific issues.

[2016-07-05 20:14] #5095 closed

[2016-07-05 20:27] ramden commented on #5328
Temporary solution:
1. Pull image locally on host (via terminal)
2. Set "Automatic pull image" on container to off

[2016-07-05 20:55] LLParse commented on #5316
@aldarund Would you mind filing a separate issue for this? I suppose a temporary workaround (albeit painful) would be to manually install the older version of Docker and bundle a custom AMI...we have a RancherOS AMI with the correct version of Docker already installed, alas I see nothing with CentOS 7 as a base.

[2016-07-05 21:03] deniseschannon commented on #3497
@nunofgs Is the time synced on the host with the rancher server?

[2016-07-05 21:11] nunofgs commented on #3497
It is. I checked explicitly due to @vincent99's comment.

Only thing I can think of is that we upgraded Rancher to 1.1.0 yesterday.

Any ideas on how to debug the issue?

[2016-07-05 21:21] cavemandaveman commented on #4977
```ssl-server-verify none``` is a ```global``` option.
```ssl verify none``` is a ```backend``` option.

We don't need direct configuration of the ```backend``` if we want all of our server backends to not use ssl, hence the ```global``` option.
However, in the current HAProxy implementation in Rancher, the ```global``` option we want does not work.

[2016-07-05 21:23] deniseschannon opened #5334 "Add personal ssh keys into docker-machine commands"
Add ability to add in your own ssh keys when provisioning hosts through the UI (that calls docker-machine).

[2016-07-05 21:25] deniseschannon opened #5335 "Ability to manage/save credentials for various cloud providers"
Currently, when adding a host, you need to always provide your access key/secret key (aka API keys) for the different cloud providers.

If you clone an existing host, it would copy them over, but Rancher should have the ability to save and easily retrieve these keys inside of Rancher.

[2016-07-05 21:51] tfiduccia commented on #5231
@mishak87 I was unable to reproduce this issue.  Can you please upgrade to 1.1 and let us know if you are still seeing this issue.

[2016-07-05 21:56] vincent99 commented on #5152
There is not currently a way to add arbitrary settings to a backend (or anything other than `defaults` and `global`).  See #2179, this is being actively worked on now.

A PR to add `X-Forwarded-Port` to [haproxy.cfg.ftl](https://github.com/rancher/cattle/blob/master/resources/content/config-content/haproxy/content/etc/haproxy/haproxy.cfg.ftl) would seem like a fairly harmless thing to merge in the

[2016-07-05 22:37] leodotcloud commented on #5216
@sapslaj: Can you try using http instead of https? I just tried on my end, I ran into the same problem and changing to http worked for me.

[2016-07-05 23:05] aemneina commented on #5216
@sapslaj or possibly https://<server_ip>/v1 without specifying port 8080

[2016-07-05 23:08] jh125486 commented on #2372
This and some sort of unified secrets storage is holding us back also unfortunately...

[2016-07-05 23:10] zhang8473 commented on #5048
Was it fixed in 1.1.0? or will it be fixed in 1.2.0?

[2016-07-05 23:17] tfiduccia commented on #5317
@guodong Local auth is not set on a project level and is top level.  I think you want /v1/localauthconfigs.  Try that and see if that is what you are looking for.

[2016-07-05 23:34] vincent99 commented on #3505
The developer who is working on it is out this week but was now actively working on it last I heard.. https://github.com/rancher/rancher/issues/2179 .  I still claim it's easy enough to run a tiny container that does nothing but redirect...