[2019-03-16 17:27] Doctor-Who commented on #18645
Yes I'll stop and remove all docker and also all images
Should i clean other things on the node to add ?

I've just tested with latest master ARM64 and still the same

[2019-03-16 18:10] sowmyav27 commented on #18918
verified on `rancher:master`. (commit id: a4b44d55)
Reproduced the same issue on a fresh install - single node.

[2019-03-16 18:38] Doctor-Who commented on #18645
Information could be usefull,
 Docker log from coreos-etcd said :

`rafthttp: health check for peer 77f524301c76ca22 could not connect: dial tcp 192.168.1.51:2380: getsockopt: connection refused
`
But I don't have any firewall active in raspberry pi

[2019-03-16 19:09] kinarashah commented on #17147
Thank you @loganhz @gitlawr

Confirmed that `--rollback` isn't available anymore with upgrade command in v2.2.0-rc16.
Other upgrade commands work as expected.

[2019-03-16 19:09] #17147 closed

[2019-03-16 19:48] vincent99 commented on #18972
All it does is set an annotation with the value as the current time.  This causes there to be a difference which requires replacing the pods.  Beyond that it doesn't matter what the difference is, k8s does the redeployment according to the policies configured on the workload.

[2019-03-16 20:55] sangeethah opened #18974 "No way to have multiple external DNS entries created for Ingress with multiple hostname rules."
Currently we are allowed to specify only 1 hostname in Global DNS annotation - `rancher.io/globalDNS.hostname`  for Ingress. When Ingress has multiple host name rules , only one of them can be made available for External DNS using annotation - `rancher.io/globalDNS.hostname` .

Ingress with multiple hostname rules:
<img width="1163" alt="Screen Shot 2019-03-16 at 1 53 55 PM" src="https://user-imag

[2019-03-16 21:24] soumyalj opened #18975 "Two error boxes are shown during restore to a S3 backup when local backup is configured"
Version: Master from March 16th

Steps:

Create a cluster with S3 backup config
Create few backups B1, B2
Edit and change to local backup config
Perform a restore to B1 which is a S3 backup

After restore, error is shown as expected, but two error boxes are shown as below:

<img width="1236" alt="Screen Shot 2019-03-16 at 2 12 03 PM" src="https://user-images.githubusercontent.com/18536626/54481825

[2019-03-16 21:26] soumyalj commented on #18920
Tested with master build on March 16th. Tested with the steps above and now we do not allow restoring to S3 backup when local backup is configured.

<img width="1236" alt="Screen Shot 2019-03-16 at 2 12 03 PM" src="https://user-images.githubusercontent.com/18536626/54481862-85469380-47f7-11e9-9b21-47df538a96fc.png">

A UI bug related to this issue is filed here : https://github.com/rancher/rancher

[2019-03-16 21:26] #18920 closed

[2019-03-16 21:56] somegituser123 commented on #18645
Did a fresh setup with a new cluster using v2.2.0-rc6. Everything is working correctly now.

[2019-03-16 21:58] cjellick commented on #18645
Thanks for the report

[2019-03-16 21:58] #18645 closed

[2019-03-16 23:39] loganhz opened #18976 "Support upgrade node k8s version for GKE"
rancher/rancher:2.1.7

Users can only upgrade GKE master k8s version in Rancher UI.
Users cannot upgrade node k8s version of GKE in Rancher UI

[2019-03-16 23:41] loganhz commented on #18976
Link to https://github.com/rancher/rancher/issues/18966

[2019-03-16 23:45] loganhz commented on #18962
Unit issue has been fixed. The ingress metrics issue will be fixed in backend. https://github.com/rancher/rancher/pull/18970/files

[2019-03-17 01:00] loganhz commented on #18962
ingress metrics fix is also in. The response time should be correct now.

[2019-03-17 01:26] thxCode commented on #18895
For the regression testing, I think we only need to check as the below:
- enable cluster/project monitoring, the operator will be installed
- disable all monitoring, the operator will be uninstalled

[2019-03-17 01:38] sangeethah opened #18977 "UI - Targets becomes blank in Global DNS Entries view up on existing from an Edit GDNS entry view which corrects itself on refresh."
Rancher server version - Latest build from master - Mar 16

Steps to reproduce the problem:
Create a GDNS entry - GDNS1 that points to a MCAPP .
Create a GDNS entry  GDNS2 that points to a target project.

<img width="1165" alt="Screen Shot 2019-03-16 at 6 35 17 PM" src="https://user-images.githubusercontent.com/4266958/54483976-470e9b80-481a-11e9-9759-ce40c2e8cb75.png">

Edit GDNS1 and do no chan

[2019-03-17 01:43] sowmyav27 commented on #18935
verified on `rancher:master` (Commit id: a4b44d5).
.part files are not seen anymore. verified by taking manual backups.

[2019-03-17 01:50] sangeethah opened #18978 "UI - "no-access" text for global provider that is presented in Edit GDNS entry is misleading when he is allowed to use the GDNS provider."
Rancher server version - Build from master - Mar 16

Steps to reproduce the problem:
As user1 (Admin) , Create a DO cluster - mytest1 with following project test1 that `user2` has access to.
Create a GDNS provider.
Create a GDNS entry with project targets as test1, the above created provider and add `user2` as owner.

As user2 , go to `Tools`/`Global DNS Entries`
Edit the GDNS entry.
"no-access" t

[2019-03-17 02:23] davidnuzik commented on #18966
Version: v2.1.7 -> Master 2.2 (3/16/19) upgrade
Confirmed issue. You can now upgrade the master k8s version in this situation post-upgrade.
![image](https://user-images.githubusercontent.com/45179589/54484226-462c3880-481f-11e9-99fe-a6401b2c86c0.png)
![image](https://user-images.githubusercontent.com/45179589/54484293-74f6de80-4820-11e9-8a66-02bfc2498fc2.png)
You cannot, however, also upgrade the

[2019-03-17 02:23] #18966 closed

[2019-03-17 02:35] loganhz commented on #18943
You need to configure storage class or PV for it

[2019-03-17 02:35] #18943 closed

[2019-03-17 02:36] loganhz commented on #18972
Related code https://github.com/rancher/ui/blob/38c876e7636ee583a8630d921ce9addbc390f6ed/app/models/workload.js#L283

https://github.com/rancher/ui/blob/38c876e7636ee583a8630d921ce9addbc390f6ed/app/models/workload.js#L321-L330

[2019-03-17 02:36] #18972 closed

[2019-03-17 02:40] davidnuzik commented on #18962
Version: Master 2.2 (3/16/19)
Confirmed issue.

Ingress controller time is fixed:
![image](https://user-images.githubusercontent.com/45179589/54484388-fa7b8e00-4822-11e9-986c-ff148018acf0.png)

Network IO and Disk IO are fixed as well:
![image](https://user-images.githubusercontent.com/45179589/54484403-42021a00-4823-11e9-9236-6ee934b81b36.png)
Node metrics are also correct.

[2019-03-17 02:40] #18962 closed

[2019-03-17 02:54] davidnuzik commented on #18975
Version: Master 2.2 (3/16/19)
Confirmed issue.
Follow the steps to reproduce. When you switch the cluster to local etcd backup method, try to restore B1 (s3) and now you only get one error message in the UI:

![image](https://user-images.githubusercontent.com/45179589/54484490-4e877200-4825-11e9-82f2-65c4faff214d.png)

[2019-03-17 02:54] #18975 closed

[2019-03-17 06:26] sangeethah commented on #18895
@thxCode @cloudnautique As part of validating this issue we will cover the suggested regression tests.
Are there known steps to reproduce the error reported in this issue ?

[2019-03-17 07:05] thxCode commented on #18895
@jiaqiluo

- To verify the issue has been fixed or not, I think you can follow the HA doc, create a HA RKE cluster and install the Rancher HA via helm, that is enough. Am I missing anything? @cloudnautique
- For regression testing, https://github.com/rancher/rancher/issues/18895#issuecomment-473606934, including:
  1. Enable cluster Monitoring, check Operator is up or not. Disable cluster Monitori

[2019-03-17 07:41] happyyangyuan commented on #17337
I'm looking forward for some progress.
期待这个需求有一定的进展，感恩的心。

[2019-03-17 07:42] happyyangyuan commented on #17445
Id is great, I can't agree more.

[2019-03-17 08:44] armanriazi commented on #16454
@ scotthesterberg  That's greet.Would you tell us nginx.conf and conf.d/rancher ?

[2019-03-17 09:50] qq253498229 opened #18982 "How can I schedule the pod into master node?"
I try to add _node-role.kubernetes.io/master=true_ label on master node,and then run kubectl apply -f _mandatory.yaml_ ,but cause error:

[code]

mandatory.yaml:

[code]

[2019-03-17 11:12] qq253498229 commented on #18982
I try do this in UI and it still not work

![image](https://user-images.githubusercontent.com/31200516/54489573-94f1d500-48e8-11e9-9d26-e1c1be95ce09.png)

[2019-03-17 12:37] hadifarnoud commented on #18866
@superseb did you find anything in logs? am I able to recover it?

[2019-03-17 14:10] thxCode commented on #18971
@riaan53
- The expression of "Number of Nodes" is `sum(kube_node_info{node=~"$Node"})`
- The expression of "Nodes Unavailable" is `sum(kube_node_spec_unschedulable{node=~"$Node"})`

The [`kube_node_info`](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/node-metrics.md) describes the real information of the Kubernetes Nodes resources, which means this is simialr to count(`kubectl

[2019-03-17 14:49] riaan53 commented on #18971
Hi @thxCode ,

Thx for the feedback. I was looking at it from a pure monitoring side, to see if by looking only at the cluster page on Grafana our ops team would be able to hint what is wrong without having to look at the Rancher UI nodes page as well. Currently if a node goes down (dont need to know which one) the cluster page on Grafana does not indicate that (but can be added manually like you

[2019-03-17 16:03] sangeethah commented on #18895
@thxCode @cloudnautique
To verify the issue has been fixed or not, I think you can follow the HA doc, create a HA RKE cluster and install the Rancher HA via helm, that is enough. Am I missing anything? @cloudnautique

This is how we always do our HA installs. But have not encountered this issue when enabling monitoring.

[2019-03-17 16:20] strainovic commented on #18650
I'd like to test my questions.yaml file and that's why I need to install it through rancher's gui.

Anyway, rancher is missing textarea field which can be very useful for json data or other...

Thanks

[2019-03-17 22:02] sangeethah commented on #18918
@sowmyav27 , When validating this issue can you also see if the .part is not getting created for the backup snapshots in all etcd nodes ?

[2019-03-17 22:19] scotthesterberg commented on #16454
@armanriazi  Here is nginx.conf, though it is simple what is autogenerated by the RKE/Rancher install so I am not sure what you are hoping to find.

[code]

[2019-03-17 22:21] scotthesterberg commented on #16454
@armanriazi I am afraid I do not know where to locate conf.d/rancher.conf. Should is ve in a container (which)? Or on the host os? What are we trying to find?

[2019-03-17 23:31] vicparker commented on #15817
### 2.2.0-rc4 Testing required functionality : vSphere network protocol profile allows to configure IP pool (and other network options) and pass IP from that pool to guest OS through OVF environment
Steps:
1. In vCenter, create Network Profile defining: DNS, Gateway and IP Pool.
2. Confirm created Network Profile, defined in vCenter, is associated with target network.
3. Create template (completin

[2019-03-18 00:29] vicparker commented on #17207
Rancher 2.2.0-rc4 - Tested required functionality: vSphere node driver provisioning of clusters in environments with VM networks based on external or opaque networks managed by NSX-V or NSX-T.
Modified existing VM with VXNET3 interface to include virtual switch created in of NSX-V via vCenter Network & Security portal.  Edit vmx configuration files to include opaque network configuration propertie

[2019-03-18 00:41] soumyalj commented on #18935
Tested with master build from March 16th/17th. Verified that there is no .part file for the etcd snapshots for the following cases:

1. Manual back on fresh install
2. Recurring back up on fresh install
3. Recurring back up after restore
4. Manual backup after restore
5. Manual backup after changing from S3 to local config
6. Manual back up after upgrade after editing cluster
7. Recurring back up

[2019-03-18 00:41] #18935 closed

[2019-03-18 01:09] #15817 closed

[2019-03-18 01:09] #17207 closed

[2019-03-18 02:17] thxCode commented on #18895
@sangeethah , this issue is more subtle. When rancher installs the agent into local cluster, rancher will no longer connect to local cluster directly, but use the connection between rancher and agent. The opportunity to switch this causes an error. Although the reconciling could fix the error(change the `State` of Condition `PrometheusOperatorDeployed` to `False`), but it doesn't clean up the erro

[2019-03-18 02:44] Mayeu commented on #16787
For information, I was able to import a managed k8s from DO without trouble via the custom importer 👍

[2019-03-18 04:03] zhengyongtao opened #18983 "rancher issues"
1. 不给命名空间分配项目就无法查看该命名空间下的pods，有的项目是不由rancher构建的，默认没有项目，这样每次都要进rancher重新分配项目，十分麻烦
2. 用EC2构建的K8S集群可以查看公网IP，但是EKS构建的就只能查看到子网IP了，希望能改进一下
3. 用EC2构建的K8S集群使用rancher管理，会经常发生页面响应超时的情况，但是使用EKS构建的就不会发生这种情况， 希望优化一下

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.1.7` UI: `v2.1.21` |
|Route|`authenticated.project.ns.index`|

[2019-03-18 06:52] qq253498229 commented on #18982
![image](https://user-images.githubusercontent.com/31200516/54511922-7396f480-498d-11e9-9fde-eb884e8d197e.png)

resolved!

[2019-03-18 06:52] #18982 closed

[2019-03-18 07:08] Negashev opened #18984 "Add node pool labels in cluster area"
Add / rewrite labels for a pool of nodes in a cluster. You can have one template but with different labels.

**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Result:**
![Screenshot (15)](https://user-images.githubusercontent.com/4653589/54512458-53533f80-4965-11e9-8490-aedf9f583ad5.png)

**Problem:**
If you want to add one label you have to clone(add new)

[2019-03-18 07:33] Troyhy opened #18985 "Kubernetes Version is empty when editing cluster v2.2.0-rc6"
*Kubernetes version dropdown is empry*

![image](https://user-images.githubusercontent.com/587882/54513671-bee6de00-4960-11e9-88be-cec256b2aeb7.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.0-rc6` UI: `v2.2.9` |
|Route|`authenticated.cluster.edit`|

[2019-03-18 07:49] micw commented on #14550
Hello,

I found a workaround that allows me to exclude the kubernetes "host port" portmapping from some IPs, leaving them usable for other services. I use this to run Rancher-Server on one IP at 443 while I have a K8S ingress on 443 on a 2nd IP.

The portmapping is done by the "portmap" CNI Plug-In: https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap . Pormappings are i

[2019-03-18 07:50] micw commented on #14428
@MSandro I documented my workaround to make the 2nd IP usable to non-k8s services:
https://github.com/rancher/rancher/issues/14550#issuecomment-473803868

[2019-03-18 07:58] riaan53 commented on #18971
Just noticed that the status on Rancher UI is also `unavailable` when a node goes down or `not ready`, so it will def cause some confusion.

[2019-03-18 09:30] GregorPirolt opened #18986 "cluster-monitoring config maps not deleted"
**What kind of request is this (question/bug/enhancement/feature request):**
bug / question

**Steps to reproduce (least amount of steps as possible):**
create cluster with 3 custom nodes (coreos)
activate cluster monitoring

**Result:**
config map section in system - project creates new 'cluster-monitoring.v[increasing-number]' - entries every few minutes (up to over 1000 entries at one point)
th

[2019-03-18 09:59] armanriazi commented on #16454
@scotthesterberg Well,you can configure nginx two way Host and Container although there isn't any diff.
I have question: How you configure LB kind of autogenerate so I dont't know what is this link(manual config)?
[https://rancher.com/docs/rancher/v2.x/en/installation/ha/rke-add-on/layer-4-lb/#2-configure-load-balancer](url)

[2019-03-18 11:45] JohnnyElvis opened #18987 "random AD integrated users unable to log in"
Details: Rancher 2.1.7, AD "classic" and AD Azure affected

Random users are unable to log in to Rancher via UI or kubectl after random time period. After removing the login on Rancher side users can log in again

[2019-03-18 12:27] armanriazi commented on #16454
I solved value of server-url/v3/settings/cacerts and intermediate CA but I still getting this error (I saw issues similar but there was't full solver and I think it not granular nature system yet)
Thanks friends.

---

[code]

I have tried to solve every solution but it dosn't work
solutions:
Change cluster_domain
Solved /etc/resolv.conf on Host and agent containers with internal org DNS and 8.8.8

[2019-03-18 12:29] Fenikkusu commented on #16787
@Mayeu , can you attach the details of how you did so? I assume a cloud config? (Not familiar with custom importer myself, FYI)

[2019-03-18 13:00] danielllek commented on #15788
When this could be resolved?

I got one step further into the pit:
* I've upgraded availability set and converted to managed disk (needed more iops),
* now I can't add another node via rancher (rancher tries to to add vm with unmanaged disk to "managed" availability set which is not possible)
* "managed" availability set can't be downgraded

Now I'm stuck...

[2019-03-18 13:15] armanriazi commented on #16454
Can I  replace cattle pods ,deploy with adding manual Docker Swarm?

[2019-03-18 13:33] MSchietzsch commented on #11966
This still applies to Rancher v.2.1.6

[2019-03-18 13:45] bentastic27 commented on #18871
@kinarashah They replied with the following:

[2019-03-18 14:08] jonesbusy commented on #17344
+1 for this issue

[2019-03-18 14:40] tibers opened #18988 "Feature Request: Configure Auth Provider outside of the UI"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature Request. Similar to this one: https://github.com/rancher/rancher/issues/20 if I can setup my auth provider when spinning up a rancher cluster I don't have to worry about getting beaten to the punch to configure AD or similar.

Right now we can sort of do it with the pipeline and bringing up rancher and logging in

[2019-03-18 14:45] gwiersma opened #18989 "Cannot Update nodeport service using Helm Chart"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Deploy Helmchart with nodeport service only that points to a independent pod based on label.
- upgrade nodeport service
- delete the rollback configmap
- Check the helmchart for rollbacks, the deleted rollback i still visible.
- Upgrade the nodeport service

[2019-03-18 15:14] cjellick commented on #18988
@rawmind0 can you share what you’ve done in our TF templates? Maybe that will meet his needs.

FWIW, it’s 100% api driven and scriptable.

[2019-03-18 15:15] sboulkour commented on #18903
I had a similar issue when upgrading from v2.1.6 to v2.1.7.
Rolling back to v2.1.6 fixed the issue for me.

[2019-03-18 15:17] cjellick commented on #16477
Pods or namespaces stuck @strowi ? We’re they using nfs storage

[2019-03-18 15:19] cjellick commented on #17344
We will probably drop them soon

[2019-03-18 15:22] strowi commented on #16477
Sorry for not being more detailed.. It's a pod, the spotify-gc so no nfs involved

[2019-03-18 15:26] bgrissin commented on #18444
The scan was a source code scan done using Blackduck.

[2019-03-18 15:39] MaxDiOrio commented on #16477
We see this with pods both with and without nfs mounts.  Even the kube system pods.

[2019-03-18 15:42] vincent99 commented on #18988
The public API is PUTting to `/v3/activeDirectoryConfigs/activedirectory`. (or others in `/v3/authConfigs`).

When you setup a new server the first step is to set the local admin password, regardless of what auth you ultimately want configured.  If you're not changing it then there's no point turning on other auth providers because anyone can use local with `admin/admin`.

[2019-03-18 15:53] tibers commented on #18988
I am setting a local admin password, but I want to turn on other auths in some easier way than squirting JSON at the API endpoint. I was hoping that rancher defined these as CRDs or something but that's not the case. Then I was hoping that I could add AD auth via the command line or RKE config.

[2019-03-18 15:55] davidnuzik commented on #18985
Assigned to me to test this and try to reproduce/gather details

[2019-03-18 15:55] easybi-mv commented on #16477
In bash where the kubectl is available. 1st part of command gets the namescape JSON definition and modifies it. Then curl sends PUT request to cluster via kubectl proxy.

[2019-03-18 15:58] easybi-mv commented on #16477
In our case it happened when the cluster got into some critical state (usually node OOM), usually the problem disappeared with the upgrade to never version (till the next crash).

[2019-03-18 15:58] azbpa opened #18990 "Can't create clusterroletemplatebindings with AD user"
**Bug**

From API explorer I am able to create a new `clusterRoleTemplateBinding`:

*cURL command line:*
[code]

*HTTP Request:*
[code]
*HTTP Response:*

[code]

However, when I try to reproduce the same with `curl` (or `PowerShell` or any other REST client) using the same access/secret keys and the command generated above (*cURL command line*), I am getting the following error:

[code]
Also tried

[2019-03-18 16:23] westlywright commented on #18967
@davidnuzik when you see this do you see any console messages (errors/warning/logs) about translations not being found?

[2019-03-18 16:29] davidnuzik commented on #18967
@westlywright No, I just double-checked; no warnings about translation not found, etc.
![image](https://user-images.githubusercontent.com/45179589/54546152-5ef03780-4960-11e9-8887-51de70710f9d.png)

[2019-03-18 16:39] westlywright commented on #18967
is the ticket for seeing the translation missing text or seeing the pagination?

[2019-03-18 16:42] davidnuzik commented on #18967
It's for seeing the pagination. If I recall correctly, this was a bug in MCapp when we added the new projects drop-down. I think you mentioned you should only see it if we hit max table list per page or something. In this case I am reproducing what I found here but on GDNS Entries: #18373

[2019-03-18 16:52] mattmattox opened #18991 "rancher-dns fails if upstream DNS server sends truncated responses"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create 1.6.14-patch3-rc1 cluster with ROS v1.4.2
- Use Rancher-DNS

**Result:**
Containers can not resolve external addresses

**Other details that may be helpful:**
If you bypass the Rancher-DNS by updating /etc/resolv.conf to use the external DNS server

[2019-03-18 17:00] moelsayed commented on #18918
The backup server container should start, check if the snapshot it should serve is there, and exit with an error if it's not. We check for the container status and if it's not running, we try on another node..

In the cases where this fails. The status check happens faster than the container failure and exists. It finds the container running before it's stopped with an error. So rke assumes the ba

[2019-03-18 17:01] mattmattox opened #18992 "Empty rancher-secrets in UI after cleaning up secrets via SQL"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
After running the following SQL query to resolve an issue.
In the UI you see a number of blank areas which say "rancher-secrets" and "No Hosts".

SQL Query:
delete s from volume_storage_pool_map as s join (select id from volume as vv where vv.data like '%\"d

[2019-03-18 17:05] davidnuzik commented on #18985
I am having a hard time reproducing this in v2.2.0-rc6 and latest master. I tried various RKE providers: DigitalOcean, Azure, EC2 and could not reproduce with any of those. I used Flannel networking as pictured.

[2019-03-18 17:17] westlywright commented on #18978
Perhaps the UX for this should be reworked. The only reason that the provider is usable is because the input is a select of all the GDNS providers available to the user including the current provider assigned to the entry being edited.

For example, if this user were to select a different provider they do have access to, save the entry, refresh the page/session, then re-edit, they would not see th

[2019-03-18 17:17] westlywright commented on #18978
cc @sangeethah @cjellick @alena1108

[2019-03-18 17:21] cjellick commented on #18990
Do you have CATTLE_ACCESSS_KEY and CATTLE_SECRET_KEY exported as environment variables? That curl command assumes that you do

[2019-03-18 17:49] jbroq commented on #18441
@thxCode , thanks for your reply.

I am still having the issue with 2.2.0-rc6.

After many tests, my only clue is the prometheus-agent error.

[code]

The pod prometheus-operated is accessible for the worker node on which it is deployed :
[code]

DNS seems to work.

That is confirmed by TCPDUMP :
[code]

What I see, is that the prometheus-agent is not answering to requests
[code]

shell in prometh

[2019-03-18 18:11] davidnuzik opened #18993 "When create Azure node template, dockerPort is 0 by default"
Version: Master 2.2 (3/18/19) 022651b0ec13
Version: v2.2.0-rc6

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create an Azure node template. Look at the docker port number

**Result:**
The Docker Port number is 0 by default. If you submit the node template with this default setting, it's indeed sent v

[2019-03-18 18:22] davidnuzik commented on #18993
@westlywright updated issue description; it's very strange but we have double-checked and when we are on v2.1.7 and upgrade to master we do NOT see the issue with new azure node templates. We have not been able to determine why.

Any fresh v2.2.0-rc6 or master install WILL see the issue with new azure nodes templates.

[2019-03-18 18:39] jambajaar opened #18994 "Support for RHEL/CentOS 7.6 in Rancher 2.0.x and 2.1.x"
It appears Rancher 2.2 might be supported only on RHEL 7.6 and not RHEL 7.5

To give teams a chance to upgrade the OS first, a version of 2.0.x and 2.1.x should support both RHEL 7.5 and 7.6.

This will be very helpful for contexts where the team performing the OS upgrade is different from the one performing Rancher upgrade

[2019-03-18 18:39] alena1108 commented on #17851
@kinarashah is going to handle releasing k8s 1.13 binary and a first pass of rancher/kubernetes image

@superseb we should revise all the addons to see if it needs version bump up for k8s 1.13

[2019-03-18 18:45] westlywright commented on #18993
@davidnuzik the default for the azureConfig ( `/v3/schemas/azureconfig` ) is 0. My guess is there is a bug on upgrade and either the default of the schema is not set. If the default needs to change this should be a backend issue.

[2019-03-18 18:57] sangeethah commented on #18993
@kinarashah In upgraded setup (2.1.7 -> rc6)
[code]
In fresh install of master:
[code]

[2019-03-18 19:07] sowmyav27 commented on #18918
verified on rancher:master. (03/18/2019)
**Steps taken:**

1. Create cluster with - etcd, ctrl plane, worker nodes
2. Automatic backup occurs.
3. Scale up etcd node.
4. Take a backup
5. Scale up etc node
6. Take a backup
7. Restore to the backup taken in Step 2.

No error is seen on UI/logs.
.part files are also not seen.

[2019-03-18 19:07] #18918 closed

[2019-03-18 19:48] soumyalj commented on #18964
Tested with master build from March 18th.
1. Create a cluster on a DO cluster with S3 backup config on a fresh install setup
2. Edit the cluster and change the backup creation period/any other field and Save
3. Perform manual backups.
Backup is successful
4. Perform a restore to one of the snapshots. After the cluster is active, perform another backup.
Backup is successful
5. Increment the nodepoo

[2019-03-18 19:48] #18964 closed

[2019-03-18 19:56] talisto commented on #18828
I'm experiencing the same issue attempting to upgrade from 2.1.6 to 2.1.7 on docker desktop for mac.

[2019-03-18 20:13] tibers commented on #18988
https://rancher.com/docs/rancher/v2.x/en/faq/technical/#how-can-i-reset-the-admin-password This sort of scratches the itch. I still think it should be an option in RKE or on the initial spin up. :)

[2019-03-18 20:31] krsna1729 commented on #16246
2.2 is supposed to support any CRI in this video
https://youtu.be/WYPd7i15XOg?t=3869

[2019-03-18 20:51] davidnuzik opened #18996 "Change Global Menu so when no clusters exist you instead get an "Add Cluster" hyperlink"
Version: Master 2.2 (3/18/19) 022651b0ec13

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement Request

**Enhancement Request Story:**
Today when you open the Global Menu on a fresh install without any clusters there is a mess that "You don't have any clusters"
![image](https://user-images.githubusercontent.com/45179589/54562587-89ec8280-4984-11e9-885e-55e7623

[2019-03-18 20:56] corentin59 commented on #18473
Hello,

I have same problem with imported cluster.
The imported cluster start normaly, but when I close all ports (except 80 and 443) on my public ip XXX.XXX.XXX.XXX the communication between node stop.

![2019_03_18_21_53_46_Rancher](https://user-images.githubusercontent.com/2035983/54563002-73681a80-49c8-11e9-9065-1dd05d02d61b.png)

[2019-03-18 20:57] davidnuzik commented on #18976
If can be fixed / low risk should get in v2.2 otherwise we'll need to add a warning in the UI explaining that we do not currently support upgrade node k8s version post-upgrade of rancher and that only the master k8s version will be updated.

[2019-03-18 21:12] sowmyav27 commented on #18993
verified on `rancher:v2.2.0-alpha6`. docker-port is not passed in the request to docker-machine while creating an Azure cluster.

[2019-03-18 21:16] patrick0057 opened #18997 "Feature Request: bulk role import/export using CSV"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature request

***Description***
The ability to import/export a CSV with formatted data for the boolean values which would be used to create/updates roles for bulk management in the UI (especially for lengthy custom roles).

[2019-03-18 21:25] patrick0057 opened #18998 "Feature Request: check-all box for roles"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Description**
Add a 7th checkbox that does a 'check-all' to avoid the 6 clicks per role for full permissions.

[2019-03-18 21:41] alena1108 opened #18999 "Need to be more consistent in etcd "snapshot"/"backups" namings"
For rke clusters, you can configure periodic snapshots with a possibility to back up the snapshot to an external S3 data store. Based on that, we need to make small changes to the UI:

* On a cluster configuration page, instead of a drop down target where you chose between local and S3, we need a radio button. Default would be "local". The second choice would be Remote/s3 (@westlywright to decide

[2019-03-18 21:44] daxmc99 opened #19000 "[rancher-python] Remove cli interface option"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement
The cli has been moved to https://github.com/rancher/cli and the cli for https://github.com/rancher/client-python has been deprecated.

**Other details that may be helpful:**
The client-python readme also needs to be updated to reflect this change

Also:
- The client-python package install as `rancher` which c

[2019-03-18 21:51] dramich commented on #19000
README also needs to clarify the python version required to run (3.7 as of this comment)

[2019-03-18 22:02] gd-asharov opened #19001 "AWS EC2 Cluster nodes use default disk size"
**What kind of request is this:**
bug / question

**Steps to reproduce:**
Create a cluster with a configuration like on the screenshot.
<img width="1042" alt="Screenshot 2019-03-19 at 01 55 21" src="https://user-images.githubusercontent.com/22218101/54566693-07e37480-49eb-11e9-83bd-626a9df074be.png">

**Result:**
Cluster works fine, but nodes have got wrong root volume. Template created a new devi

[2019-03-18 22:15] davidnuzik commented on #18977
Replicated on master HA setup with v2.2.10 UI.
Tested on latest master 3/18/19 022651b0ec13 and also replicated.

I follow the steps to reproduce. When I get to the step where I edit the first entry and cancel out I consistently see missing target for 2nd entry. I have reproduced several times.

![image](https://user-images.githubusercontent.com/45179589/54567331-ae4e5c00-4990-11e9-91d0-ca57882996

[2019-03-18 22:42] sangeethah commented on #18993
@logan @alena @kinara The change to schema from “int” to “string” is not applied on upgraded setups . That is a problem as well we need to look at ?

[2019-03-18 22:58] kinarashah opened #19002 "test_enabling_driver_exposes_schema TF"
https://drone-pr.rancher.io/rancher/rancher/722/1/2
[code]

[2019-03-18 23:12] bmdepesa commented on #18901
rancher/rancher:master 3/18

* Created Rancher server
* Created custom cluster

Local cluster auth with no FQDN / no CA
* Enabled auth
* Kubeconfig generated with both contexts and functional
* Embedded kubectl functional
* CA is base64 encoded in API

Local cluster auth with CA / no FQDN
* Errors correctly

Local cluster auth with FQDN & CA
* Created LB with TLS termination at LB at FQDN
* Added

[2019-03-18 23:12] #18901 closed

[2019-03-18 23:37] loganhz commented on #18993
@sowmyav27 I guess this issue is not introduced in #18822. It should be reproduced in v2.2.0-rc3 which doesn't have the fix for #18822

[2019-03-18 23:45] loganhz commented on #18976
@davidnuzik
Just tried to upgrade node version in GKE.
upgrading node version means delete and recreate nodes.
It's kind of a dangerous operation.
Maybe we need to think about the UX a bit more.
So I would like to leave it as-is. I will add a warning in UI.

Could you provide the position and the content for the warning message, please?
Maybe we need to file another issue instead of using this one

[2019-03-18 23:51] rmweir commented on #18870
Have edited original post with reliable steps to reproduce slowness.

[2019-03-18 23:52] rmweir commented on #18870
Performed calls straight to k8s api via curl. Observed acceptable response times <~200ms.

[2019-03-18 23:58] rmweir commented on #18870
Repeatedly switching projects triggers error: "waiting for cluster agent to connect"

[2019-03-19 00:12] sangeethah commented on #18993
@loganhz,  #18822 issue did not introduce this issue. But until this issue was not addressed , the docker port being set to 0 was not preventing the Azure node creation from succeeding since it was not being passed to the docker machine command at all. Once #18822 was fixed , we are see this parameter being actually passed to docker machine command and node creation reports failure.

[2019-03-19 00:14] loganhz commented on #18993
@sangeethah Got it! Thanks a lot

[2019-03-19 00:15] davidnuzik opened #19003 "Change create GKE cluster default node size"
Version: Master 2.2 (3/18/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create GKE cluster w/ defaults
- Enable monitoring w/ defaults

**Result:**
Monitoring will not work due to new minimum (default) reservation requirements. Recommend increasing GKE default Machine Type from `g1-small` (1vCPU

[2019-03-19 00:16] davidnuzik commented on #19003
This is needed in v2.2 if we want monitoring to work with default GKE cluster. If we don't do this things will break for default GKE cluster when enable monitoring.

[2019-03-19 00:24] davidnuzik opened #19004 "Change style of new Target Projects drop down"
Version: Master 2.2 (3/18/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Observe new target dropdown menu

**Result:**
The new menu uses a big bold font we don't use anywhere else in the UI to indicate clusters. - Can we change this to a font we use in the UI and make it bold?
The lines are a bit

[2019-03-19 00:30] davidnuzik commented on #19003
Note n1-standard-1 does not have sufficient CPU
![image](https://user-images.githubusercontent.com/45179589/54572205-8ae0dc80-49a3-11e9-916f-b8a4841c8b44.png)

[2019-03-19 00:35] davidnuzik opened #19005 "Monitoring UI: black outline goes outside of color bars"
Version: Master 2.2 (3/18/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Note: You won't always reproduce the issue, color bar (%Used) must be equal across nodes.
- Create a GKE cluster with 3 nodes with n1-standard-2 machine type otherwise use defaults.
- Enable monitoring watch Pods used.
![Screen

[2019-03-19 00:39] davidnuzik opened #19006 "Monitoring UI: Black lines mouseover area is too large"
Version: Master 2.2 (3/18/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Enable monitoring
- Hover about 20px away from the black outlines and you will still get a tooltip.
![image](https://user-images.githubusercontent.com/45179589/54572425-a6001c00-49a4-11e9-970d-a13c71bca604.png)
- Hover near t

[2019-03-19 00:42] davidnuzik opened #19007 "UI: Global Menu "Global" and Search box are too tall"
Version: Master 2.2 (3/18/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Look at the global menu

**Result:**
![image](https://user-images.githubusercontent.com/45179589/54572494-19a22900-49a5-11e9-9eb9-54472877967b.png)
"Global" and the search box are taller than they need to be we should shrink

[2019-03-19 00:47] davidnuzik opened #19008 "GKE/etc create/edit cluster pages need review"
Version: Master 2.2 (3/18/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Question

**Steps to reproduce (least amount of steps as possible):**
Look at the GKE cluster creation/edit page - we have added a ton of new options in the UI here. Is everything in the right order?

Security section is closed - so this is not important? not common?

Further, take a good lo

[2019-03-19 01:15] coder-michaelwu commented on #15757
Rancher Version: `v2.1.7`
When enabling openLDAP ,I get a error message : `Cannot locate user information for (objectClass=inetOrgPerson)`.
I Just set first options `1. Configuer an OpenLDAP server`, And the sencond options `2. Customize Schema` keeps default value.
The same setup was successful in Rancher Version 1.6.25.

[2019-03-19 01:22] jiaqiluo opened #19009 "Airgap HA - failed to upgrade k8s of existing cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
case 1:
- run Rancher:v2.1.7 in airgap environment
- add a custom cluster with k8s v1.12.6
- upgrade Rancher to v2.2.0-rc6
- upgrade the existing cluster's k8s to v1.13.4

case 2:
-  on the upgraded Rancher, add a new cluster with k8s v1.12.6
- upgrade the c

[2019-03-19 01:22] davidnuzik commented on #18976
@loganhz I will create a separate issue for the UI warning message and suggest content for it.
I understand the concern regarding upgrading nodes.

[2019-03-19 01:28] bearmoo-repo commented on #18901
It looked like the code got merged. I tryied it out, and I still see this:
The version I'm using is 2.2.0-rc6

.kube/config:
-----
apiVersion: v1
kind: Config
clusters:
- name: "kubernetes-example-net-fqdn"
  cluster:
    server: "https://192.168.0.10/k8s/clusters/c-pbh5w"
    certificate-authority-data: "ssuuuuuuukljaldfjaldjfl;adjfal;"
- name: "kubernetes-example-net-fqdn"
  cluster:
    server:

[2019-03-19 01:33] thxCode commented on #17997
@BenWUKFast , Are you using Rancher Monitoring? Can you test this with 2.2.0-rc6?

[2019-03-19 01:35] davidnuzik opened #19010 "Need a warning message in UI when upgrade GKE k8s version"
Version: Master 2.2 (3/18/19)
Related: #18976

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Upgrade GKE k8s version
- Notice this only affects the master k8s version, and does not upgrade the nodes

**Result:**
We should add a warning message in the UI in this case when editing to upgrade k8s version

[2019-03-19 01:45] jralmaraz commented on #14376
Same happens to me when I restart a dev rancher cluster overnight. I need to delete and re-create only the worker nodes.

[2019-03-19 01:51] alena1108 commented on #19009
@jiaqiluo @sangeethah can you check if the root cause is similar to https://github.com/rancher/rancher/issues/18964 as Private Registry's Password field is of type Password similar to S3.Password: https://github.com/rancher/types/blob/master/apis/management.cattle.io/v3/rke_types.go#L79

Steps to check:

* Create a new cluster with a private registry password set. Check cluster crd using kubectl t

[2019-03-19 01:58] davidnuzik commented on #18999
Version: Master 2.2 (3/18/19)
Each issue was addressed correctly:

- On a cluster configuration page, instead of a drop down target where you chose between local and S3, we need a radio button. Default would be "local". The second choice would be Remote/s3 (westlywright to decide on an exact naming).

![image](https://user-images.githubusercontent.com/45179589/54574652-5888ac80-49ae-11e9-9ee3-1a57

[2019-03-19 01:58] #18999 closed

[2019-03-19 02:07] sangeethah opened #19011 "On upgraded setups , node driver config parameters of type "int" continue to be of type "string""
Setup - Rancher server version 2.1.7 upgraded to 2.2.0-rc6

`https://<ip>/v3/schemas/azureconfig` schema shows `dockerPort` as type `string`
"dockerPort": {
"create": true,
"default": "2376",
"description": "Port number for Docker engine",
"dynamicField": true,
"type": "string",
"update": true
},

In fresh install of rancher server from master , `https://<ip>/v3/schemas/azureconfig` schema shows `

[2019-03-19 02:29] davidnuzik commented on #18977
Version: Master 2.2 (3/18/19)

I am no longer able to reproduce the problem. I have tried multiple times to edit and cancel out, change settings and save edits, and regardless the targets now consistently show up.

[2019-03-19 02:29] #18977 closed

[2019-03-19 02:30] davidnuzik commented on #18967
Version: Master 2.2 (3/18/19)
I am no longer able to reproduce the problem. %pagination.member% is no longer unnecessarily popping up when I pick a project from the target dropdown.

[2019-03-19 02:30] #18967 closed

[2019-03-19 02:52] loganhz opened #19012 "Support force upgrade for multi-cluster apps"
rancher/rancher:2.2.0-rc6

Now we can do the force upgrade for a catalog app in cluster.
But there is no force upgrade option in Multi-cluster apps page.

We need to support force upgrade for Multi-cluster apps as well.

[2019-03-19 03:14] orangedeng commented on #19011
I think we are safe to move this bug out of 2.2.0. We can handle it later. Following scenarios are tested.
- Upgrading existing clusters would be fine because all the node config is translate into rke config. It won't be affected.
- Creating new cluster with new template or the existing template would be fine because the dynamic schema types are not changed.

/cc @loganhz @alena1108

[2019-03-19 03:19] loganhz commented on #19011
Talked to @sangeethah . Move it out from 2.2.

[2019-03-19 03:34] Mayeu commented on #16787
@Fenikkusu: I just followed the steps provided by the Rancher interface :)

[2019-03-19 03:36] Mayeu commented on #16787
@Fenikkusu: I just followed the steps provided by the Rancher interface :)

Rancher will give you a config to apply against your cluster, that will register it.

So assuming you have a cluster running on DO that would look something like this:
[code]

And done :)

[2019-03-19 03:58] loganhz commented on #19001
@gd-asharov I guess you are using an old `rancher/rancher:master` image. Can you try to pull again?

[2019-03-19 05:05] loganhz commented on #19009
@alena1108 yes, we can confirm that the root cause is the same as #18964

[2019-03-19 05:20] loganhz commented on #18986
Hi @GregorPirolt , did you do something else after you enabled the monitoring? We cannot reproduce this issue with the steps you provided

[2019-03-19 06:03] bhavin192 commented on #16356
This will also fix  #16730

[2019-03-19 06:19] sd-hd commented on #15989
Hi waphire,

put this into your cluster.yaml:

[code]

Then:

rke up --config cluster.yaml

If you have still problems, then you can purge the installation with:

https://gist.github.com/superseb/2cf186726807a012af59a027cb41270d

[2019-03-19 06:32] jiaxinxuan commented on #18944
我也遇到了相同的问题

[2019-03-19 06:36] thxCode commented on #18986
@GregorPirolt , I have set up an environment almost like yours in GCP with `coreos-stable-2023-5-0-v20190312`:

#### Docker info

[code]

#### Nodes info

![image](https://user-images.githubusercontent.com/3394724/54584116-62172080-4a51-11e9-9def-dde23e5f888b.png)

#### Helpful error msg addressed

E0318 09:00:18.775047 1 reflector.go:205] k8s.io/kube-state-metrics/pkg/collectors/builder.go:508: F

[2019-03-19 06:37] Troyhy commented on #18985
Cluster is using Hetzner driver https://github.com/JonasProgrammer/docker-machine-driver-hetzner
and is updated from earlier RC releases.

I tested same setup from fresh install of RC6 and it works as it should.

[2019-03-19 06:39] Troyhy commented on #18985
Is there any log or other info that might help you or at least me to fix the issue in this cluster?

[2019-03-19 06:56] thxCode commented on #18441
@jbroq , thank you for all the detail. There is a related issue from go: https://github.com/golang/go/issues/20071, but I need to reproduce this myself and try to fix.

[2019-03-19 07:00] GregorPirolt commented on #18986
@thxCode thank you for the explanation, that helps. The deletion of the old configs should help a lot.
A configuration that might cause tiller to be confused is an additional tiller in the namespace gitlab-managed-apps that was installed, when I connected gitlab to my cluster. Is it possible that those two tiller instances fight each other? If so I could try to just install the gitlab runner manua

[2019-03-19 07:21] loganhz commented on #18986
@GregorPirolt Can you provide the rancher server log for the configmap issue?

[2019-03-19 07:22] horihel commented on #18221
well on the side of vsphere this is intended/documented behaviour.
Is rancher deleting the VM or is k8s doing that job?
If rancher is responsible for deleting the VM then it should also make sure that this is a safe operation.

[2019-03-19 07:29] thxCode commented on #18986
@GregorPirolt

I assume this etcd db should not be much bigger than the etcd db on my running nodes, right?

Warning: Single installation rancher-server has an etcd running inside, you can try to compact or defrag it inside.

Sorry, I don't understand, do you mean deploying a gitlab application with an additional tiller or using a gitlab CICD plugin to deploy charts?

[2019-03-19 07:59] kingsd041 commented on #19001
@loganhz
If I use ubuntu16.04 to launch the cluster, it works fine.
If I use CoreOS to launch the cluster, I will reproduce the issue. Create a node template to set the disk size to 50G. After the cluster starts, it does not extend the root disk to 50G, but mounts a 50G volume to the node. You can see through the following commands and instance details.
[code]
![image](https://user-images.githubus

[2019-03-19 08:09] GregorPirolt commented on #18986
2019/03/18 18:22:43 [INFO] Handling backend connection request [c-km6q9]
2019/03/18 18:22:43 [INFO] Handling backend connection request [c-km6q9:m-847b02c107d1]
2019/03/18 18:22:43 [INFO] Handling backend connection request [c-km6q9:m-ec8857d00c83]
2019/03/18 18:22:43 [INFO] Handling backend connection request [c-km6q9:m-582c2636d209]
2019/03/18 18:22:43 [INFO] Registering project network policy
2

[2019-03-19 08:11] GregorPirolt commented on #18986
sorry for the long log. i didn't know what info is relevant to you

[2019-03-19 08:32] paulliss commented on #14030
It seems should be an user account that you use for k8s cluster administration.

Going through this steps helped me out:

1.Create
kubectl create clusterrolebinding cluster-admin-binding --clusterrole cluster-admin --user myuser
2.Check existence
kubectl get clusterrole cluster-admin -o=yaml
3.Restart Rancher
docker container restart <rancher-container-name>
4.See Rancher logs
docker logs -f <ranc

[2019-03-19 08:48] totogo commented on #18828
I'm facing similar issue after upgrade from 2.1.6 to 2.1.7, but the apps in the cluster is still running, just rancher cannot communicate with the kubernetes cluster:

This cluster is currently Provisioning; areas that interact directly with it will not be available until the API is ready.

Exit status 1, unable to recognize "management-statefile_path_redacted": the server is currently unable to h

[2019-03-19 09:08] GregorPirolt commented on #18986
I have coupled the gitlab.com CICD features with the cluster via the Authorized Cluster Endpoint.
Gitlab then installs a tiller pod and gitlab-runner pod inside the namespace gitlab-managed-apps.

[2019-03-19 09:08] azbpa commented on #18990
Yes, sure. Communication is working.

Further I noticed that i.e. `search` from the API Explorer and the curl command seems to have also a different behavior.

From the API Explorer it is working correctly. From the curl command it is only returning `local` user accounts and none from source `active_directory`.

So somehow it seems to be an context issue.

I noticed that my domain account is someh

[2019-03-19 09:10] orangedeng commented on #18986
@thxCode I go through the rancher logs. It seems that rancher restart very frequent.
And I assume that monitoring does not get deploy successfully and our monitoring conditions are not set. Every time Rancher restart, rancher tells helm to re-install the monitoring. that why you can see our monitoring charts got installed again and again. I think that is the reason why the we have an increasing ve

[2019-03-19 09:48] BenWUKFast commented on #17997
@thxCode I'm afraid I'm using prometheus operator directly,  v0.29.0. Apologies I believe I got the wrong repo here :disappointed:

[2019-03-19 09:54] hreidar opened #19016 "How does one change k8s component log verbosity?"
Hi, I like to know if it is possible to change the verbosity of the logs coming from k8s components controlled by Rancher. I see that the Kubelet container is using the --v=2 flag but I have been unable to change it as Rancher is overwriting my changes all the time.

[2019-03-19 10:12] jbroq commented on #18441
thanks @thxCode
I am really happy to read that.

[2019-03-19 13:31] captainjack0x7C8 commented on #18944
you can try to package a local repository into your maven image

[2019-03-19 14:21] helhindi commented on #18164
+1 for the above request. We would benefit from the addition o opsgenie as a notifier

[2019-03-19 14:44] ketanp2000 commented on #18164
this would be nice to have.... #18164

[2019-03-19 14:45] chipm73 commented on #18164
+1 for this as well.

[2019-03-19 14:49] seirian commented on #15057
I solved it by the way below.
I hope it will help.
Both the Manager and Worker node servers have been applied.

**firewall-cmd --zone=public --add-port=6443/tcp --permanent
firewall-cmd --reload**

[2019-03-19 15:14] ibaldonl commented on #18480
Any workarounds for 2.1 meanwhile?
Thanks!

[2019-03-19 15:37] sangeethah opened #19017 "System chart is not presented as a catalog entry in Global/Tools/Catalog page."
Rancher server version - Build from master - Mar 18

Setup - HA setup using  3 node RKE cluster.

System chart is not presented as a catalog entry in Global/Tools/Catalog page.

Expected Behavior:
System chart should be  presented as a catalog entry in Global/Tools/Catalog page.

[2019-03-19 15:58] jiaqiluo commented on #19009
Here is the output from kubectl about the private registry of the cluster
[code]

[2019-03-19 16:16] davidnuzik commented on #17674
Looked at this again in latest master (3/19/19) and this is still basically the case. I don't think we need any API changes we just need to consider expressing the CPU/memory differently in my opinion.

[2019-03-19 16:29] cloudnautique opened #19018 "Global Role Bindings orphaned after cluster is removed"
With the addition and removal of clusters, over time the list call on grb resources ends up taking ~10 seconds when there are around 1200 records.

Looking at the grb user, it can be seen that:
`displayName: System account for Cluster c-vwtbx`

Looking at the cluster:
`kubectl get cluster -o yaml c-vwtbx
Error from server (NotFound): clusters.management.cattle.io "c-vwtbx" not found`

It appears a

[2019-03-19 16:35] mrajashree commented on #19018
The system account that gets created from clusterdeploy.go, results in creation of globalrolebindings. But on cluster removal, there's no deletion being called for this system account. That could be causing the previous grbs to still exist even after cluster is removed.

[2019-03-19 16:41] davidnuzik commented on #19003
Version: Master 2.2 (3/19/19) ImageID: 022651b0ec13
Confirmed issue. We now default to Machine Type `n1-standard-2` (2 vCPUs, 7.5GB RAM) and monitoring will now work without issues (has minimum of 2vCPU we need to avoid any issues).

HTTP/API looks correct. Checking on gcloud web console looks correct.
`machineType: "n1-standard-2"`
![image](https://user-images.githubusercontent.com/45179589/54624

[2019-03-19 16:41] #19003 closed

[2019-03-19 16:51] davidnuzik commented on #19006
Version: Master 2.2 (3/19/19) ImageID: 022651b0ec13
Confirmed issue. The mouseover area is much smaller now and I can no longer accidentally hover over the wrong area and get results for another wheel, etc. I think the new area is still reasonable as well. You have to pretty much be on top of the appropriate area and this is still easy to do.

[2019-03-19 16:51] #19006 closed

[2019-03-19 16:55] davidnuzik commented on #19010
Version: Master 2.2 (3/19/19) ImageID:
Confirmed issue. If and only if you are upgrading to a newer K8s version (cluster is older version, and then you manually pick a newer version from drop-down on edit) THEN you will get this message:
![image](https://user-images.githubusercontent.com/45179589/54625697-ffac2900-4a2c-11e9-9922-bdb613100011.png)

I tested with several versions and smoke tested th

[2019-03-19 16:55] #19010 closed

[2019-03-19 17:17] jiaqiluo commented on #18895
Setup: Rancher: master 3/18, HA mode
Here are the regression tests applied on RKE cluster (DO cluster, 1 etcd, 1 control plane, 2 workers):
- Enable cluster Monitoring, enable project Monitoring, disable cluster Monitoring, Operator is still up; disable project Monitoring, Operator is down.
- Enable project Monitoring, enable cluster Monitoring, disable project Monitoring, Operator is still up; di

[2019-03-19 17:45] moelsayed commented on #18659
this is the same issue as https://github.com/rancher/rancher/issues/18918

[2019-03-19 18:22] carterminearIMT commented on #13475
So after stumbling around and around trying to make the cleanest work around, this is what I came up with.

Credit to this for getting me on the right track - https://github.com/cdrx/rancher-gitlab-deploy/issues/38

All I have to do now as long as rancher-cli is installed (or use the docker container) is:
`./rancher login https://<YOUR RANCHER URL>/v3 --token <YOUR BEARER TOKEN>`

and then

`./ran

[2019-03-19 18:23] cjellick commented on #18895
Regression steps are sufficient. closing

[2019-03-19 18:23] #18895 closed

[2019-03-19 18:27] davidnuzik commented on #19005
Version: Master 2.2 (3/19/19)
Confirmed issue. It looks like now that there is a slight overlap so that this on longer occurs. Additionally if nodes % is equal we just hide the black outline.

![image](https://user-images.githubusercontent.com/45179589/54631774-e362b900-4a39-11e9-9c12-f599c2c6ad75.png)
![image](https://user-images.githubusercontent.com/45179589/54631680-bc0bec00-4a39-11e9-8786-715

[2019-03-19 18:27] #19005 closed

[2019-03-19 18:45] sowmyav27 commented on #18993
verified on latest master (image ID: `afe8fffcf864`),default values for the int type fields in the API:
VMware
Port: vmwarevsphereconfig: 443 vmwarevspherecredentialconfig: 443, cpuCount: 2, diskSize: 20480, memorySize: 2048

Azure:
dockerPort: 2376

Amazon EC2:
blockDurationMinutes: 0, retries: 5, rootSize: 16

digital ocean:
sshPort: 22

On previous master (image id: `022651b0ec13`), default val

[2019-03-19 18:47] davidnuzik commented on #18993
Version: Master 2.2 (3/19/19) ImageID: afe8fffcf864 (40 mins old as of now)
Confirmed issue. In the UI when creating an Azure node template it now shows the proper docker port.
![image](https://user-images.githubusercontent.com/45179589/54632433-57519100-4a3b-11e9-9178-0b1cdff8e564.png)

When I create the nodetemplate and inspect req. payload and server resp. dockerPort is correct for both:
`docke

[2019-03-19 18:47] #18993 closed

[2019-03-19 19:08] cloudnautique opened #19021 "cluster-scoped-gc hangs if project namespace is removed before project level scoped crs"
In a heavily loaded cluster, the etcd db keyspace filled up and no writes could happen to the cluster. This was mid-delete of clusters. It appears that the project namespaces were deleted before the project level CustomResources were deleted.

[code]
in rancher logs we see:
[code]

[2019-03-19 19:29] jiaqiluo commented on #19009
The fix is validated on Rancher: 2.2.0-rc7

case 1:

- run Rancher:v2.1.7 in airgap environment
- add a custom cluster with k8s v1.12.6
- upgrade Rancher to v2.2.0-rc7
- upgrade the existing cluster's k8s to v1.13.4

case 2:

- on the upgraded Rancher, add a new cluster with k8s v1.12.6
- upgrade the cluster's k8s to v1.13.4

Result:
Both clusters get upgraded successfully.

[2019-03-19 19:29] #19009 closed

[2019-03-19 19:31] sowmyav27 opened #19022 "Misalignment of new Projects created by a cluster member"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Login to rancher UI as a cluster member.
2. Go to the cluster--> Projects/Namespaces
3. No projects will be listed. Click on Add Project.
4. Enter project name and click on add.

**Expected Result:**
Projects created are not aligned properly.

**Actual Re

[2019-03-19 20:04] davidnuzik commented on #19004
Version: Master 2.2 (3/19/19)
The separation of clusters is more clear now with the lines. This makes it visually a little easier to tell how they are groped on the drop down:

Light UI:
![image](https://user-images.githubusercontent.com/45179589/54638131-879f2c80-4a47-11e9-9e25-f9f7910b6975.png)

Dark UI:
![image (1)](https://user-images.githubusercontent.com/45179589/54638134-8968f000-4a47-11e9-

[2019-03-19 20:04] #19004 closed

[2019-03-19 20:20] daxmc99 opened #19024 "test_dynamic_schemas_updated failure"
https://drone-publish.rancher.io/rancher/rancher/198/1/2
[code]

[2019-03-19 20:24] davidnuzik commented on #18978
Version: Master 2.2 (3/19/19)
Confirmed issue.
Followed the steps to reproduce. Confirmed that we removed the "(no access)" text from the provider.
![image](https://user-images.githubusercontent.com/45179589/54639275-37759980-4a4a-11e9-9ef9-a338db31deb1.png)

Smoke tested. Ensured user2 can still add/remove projects they have access to and save changes, etc.

[2019-03-19 20:24] #18978 closed

[2019-03-19 20:29] davidnuzik commented on #18933
Version: Master 2.2 (3/19/19) ImageID: afe8fffcf864 (latest master)
The cluster does not stay highlighted medium-blue color when I move my mouse to the right to pick a project.
![image](https://user-images.githubusercontent.com/45179589/54639571-f631b980-4a4a-11e9-82e5-8938322750a7.png)

[2019-03-19 20:32] zbialik opened #19025 "cattle-agents: "Failed to connect to proxy" error="websocket: bad handshake" in Rancher HA Air Gap Install (RKE Addon) with Certs signed by Private CA"
**What kind of request is this (question/bug/enhancement/feature request):**
bug??

I cannot get the Rancher HA configuration for an Air Gap environment to work and I am using the RKE Add-on Install... I have tried the helm chart install method with no success.

I am using rancher/rancher:v2.0.8

After running "rke up --config rancher-cluster.yaml", the rancher servers appear to operate fine. I ca

[2019-03-19 20:46] GregorPirolt commented on #18986
@thxCode
it seems like this is a problem, that originates at my (broken) etcd db inside rancher, since that last entry before every rancher restart looks like this: (is not part of the logs)

rancher_1  | panic: runtime error: invalid memory address or nil pointer dereference
rancher_1  | [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x2aa4b01]
rancher_1  |
rancher_1  | goroutine 61

[2019-03-19 21:21] cjellick opened #19027 "Node driver fields should not change from string to int type between 2.1 and 2.2"
We introduced a change in the 2.2 cycle that fixed a bug where fields that should have been of type int were exposed as type string in the rancher API.

We fixed this on master, but later realized that it would be a breaking
API change. We could have dealt with just the breaking API change, but this
also exposed a bug that node driver schemas were not automatically updated
when Rancher was upgrade

[2019-03-19 21:22] cjellick commented on #19027
The fields in question:
<img width="457" alt="Screen Shot 2019-03-19 at 11 32 25 AM" src="https://user-images.githubusercontent.com/2473240/54642673-698af980-4a52-11e9-9755-0b07258a8574.png">

[2019-03-19 21:23] Flos commented on #17816
I have also the same setup and the same issue.

[2019-03-19 21:32] cjellick commented on #19011
We are going to move this out of the release, but revert the change that cause the fields to change from string to int, so that it is consistent with 2.1.x
https://github.com/rancher/rancher/issues/19027

[2019-03-19 21:41] sowmyav27 opened #19028 "Default value mismatch between API and Rancher UI for int type fields"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
While creating node templates for the providers - Amazon EC2, Azure, Digital Ocean and VMware vSphere, there is value mismatch between the default values for `int` type fields in API vs Rancher UI.

<img width="446" alt="Screen Shot 2019-03-19 at 11 13 35 AM

[2019-03-19 21:59] erikwilson commented on #18901
@bearmoo-repo Those changes should now be available in 2.2.0-rc7 if you would like to try it out

[2019-03-19 23:13] ayooki opened #19030 "Kubelet stopped posting node status 6443: connect: connection refused"
**What kind of request is this (question/bug/enhancement/feature request):**
Question: rfkmaster1 dockerd-current[12833]: E0319 23:43:28.547540   25966 reflector.go:205] k8s.io/kubernetes/pkg/kubelet/config/apiserver.go:47: Failed to list *v1.Pod: Get https://127.0.0.1:6443/api/v1/pods?fieldSelector=spec.nodeName%3D10.44.200.223&limit=500&resourceVersion=0: dial tcp 127.0.0.1:6443: connect: connec

[2019-03-19 23:53] davidnuzik opened #19032 "When create vmware vsphere nodetemplate UI sends some fields as ints"
Version: Master 2.2 (3/19/19) ImageID: 1e8bf89a496f

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a vmware vsphere node template with defaults and watch HTTP
- UI seems to send cpuCount, diskSize, memorySize, vcenterPort as ints but these are of type string in schema

**Result:**
This actually

[2019-03-20 00:16] mrajashree commented on #18938
In rancher types, we already have all three access types listed in the enum for members. I think only UI changes are needed for this, @westlywright do you agree?

[2019-03-20 00:29] loganhz commented on #19032
Hi @davidnuzik

Both 2.2 and 2.1 are doing the same thing now.

1. UI sends the `int` to backend.
2. Backend converts `int` to `string` and save them.
3. View API shows `string`

So they have the same behavior. We don't need to worry about it in 2.2.

To fix it, we need to change https://github.com/rancher/ui/blob/master/lib/nodes/addon/components/driver-vmwarevsphere/component.js#L151-L155 to str

[2019-03-20 00:32] davidnuzik commented on #19032
Thanks @loganhz sounds good; we were just concerned is all. Glad there is nothing to worry about here.

[2019-03-20 00:50] davidnuzik opened #19033 "When node scaling on post-upgrade cluster that was created on v217 node scaling fails with ectd/CP nodepool"
Version: v2.1.7 -> master upgrade

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Start with v2.1.7 rancher and deploy an RKE cluster with nodepool ectd+control plane and nodepool worker (I used digitalocean cluster) each have 1 node.
- Upgrade to master
- Post-upgrade, scale worker nodepool from 1 to

[2019-03-20 01:11] rootwuj opened #19034 "Node template select custom node driver, need to refresh the page first"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Add a custom host driver
2. Add a host template and choose a custom driver

**Result:**
When you select a custom driver, the options are not displayed. Need to refresh the page first.

**Other details that may be helpful:**

**Environment information**
-

[2019-03-20 01:14] westlywright commented on #18938
@prachidamle @mrajashree yes the UI will need to be updated to allow additional roles for the DNS Provider. There was a choice made sometime back that limited the UI selection to owner only to reduce confusion I believe.

[2019-03-20 01:59] davidnuzik commented on #18933
Version: Master 2.2 (3/19/19)
Confirmed issue. Now when you hover over the cluster then go to the right to hover on projects, cluster stays highlighted. This makes it much more visually clear what cluster's projects you are looking at in the Global menu.
![image](https://user-images.githubusercontent.com/45179589/54653797-23955c00-4a79-11e9-8f05-d9bbbb225374.png)

Smoke tested the menu and didn't

[2019-03-20 01:59] #18933 closed

[2019-03-20 03:27] gabrielcalderon commented on #17275
This is much needed feature! I was hoping to redeploy when a new image is created and the cli doesn't support this feature!

[2019-03-20 05:37] sangeethah commented on #19033
Tested the following scenarios;
Single node rancher server setup on v2.1.7 with following DO clusters:
1. cluster1 -  1 node (all roles)
2. cluster2 -  1 control node , 1 etcd node and 1 worker node.

Rancher Server upgraded to  mater builds - version 68e56010.

1. Edit cluster1 and scale up the existing node pool to 2.
Cluster gets to "Active" state with 2 nodes successfully.
Edit cluster1 and sc

[2019-03-20 06:02] sowmyav27 opened #19037 "Better error message to be displayed while creating a node template"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Log into Rancher UI. Click on Add Node Template. (VMware/Azure) type
2. Enter all details, enter details for a cloud credential. Do not click Create cloud credential.
3. Click on Create Node Template.

**Expected Result:**
An error message that states use

[2019-03-20 06:18] loganhz commented on #17922
![image](https://user-images.githubusercontent.com/21168270/54663067-0e710980-4b1b-11e9-854d-2f9df44dcd6e.png)

Now you can see the charts for controller and scheduler.

[2019-03-20 06:26] sangeethah commented on #19027
@sowmyav27 @jiaqiluo @davidnuzik  Tested with rancher server build from master - `87654dc3` and `68e56010`
All test cases from the  test plan worked as expected for both fresh install and upgraded rancher server (from 2.1.7) -  [NodeTemplatesSchemaCheck.xlsx](https://github.com/rancher/rancher/files/2986745/NodeTemplatesSchemaCheck.xlsx)

[2019-03-20 06:27] #19027 closed

[2019-03-20 06:59] sfinx26 opened #19038 "The system component controller-manager & sheduler is not running"
**What kind of request is this (question/bug/enhancement/feature request): Bug**
**Steps to reproduce (least amount of steps as possible):**
After many days of operation of the control-panel node, the kube-controller-manager and kube-scheduler containers have stopped responding

[code]

**Result:**
studying the problem was able to find out:
  containers use binding on tcp6 instead of tcp4
whereby

[2019-03-20 08:56] superseb opened #19039 "Validate k8s 1.14"
**What kind of request is this (question/bug/enhancement/feature request):**
task

**Steps to reproduce (least amount of steps as possible):**
Add k8s 1.14

[code]

[2019-03-20 08:57] superseb opened #19040 "Validate k8s 1.14 for 1.6"
**What kind of request is this (question/bug/enhancement/feature request):**
task

**Steps to reproduce (least amount of steps as possible):**
Validate k8s 1.14 for 1.6

[2019-03-20 09:00] aiwantaozi commented on #18480
fluentd 1.1.3 will create buffer file each flush interval and if the flush interval is very small, there are lots of small queued chunks in buffer. This is not good with file buffer because it consumes lots of fd resources when output destination doesn't have enough throughput. You can try increase the flush interval.

[2019-03-20 09:36] mrunalhtrivedi commented on #18164
+1 that's definitely needed.

[2019-03-20 09:49] zmarcel commented on #17718
Hi,

i got the same problem here.
I updated to Docker Version 18.09.2, but in the UI i see the old Version 17.3.2

# kubectl get nodes -o wide
NAME            STATUS   ROLES               AGE     VERSION   INTERNAL-IP   EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION      CONTAINER-RUNTIME
etcdnode01    Ready    controlplane,etcd   54d     v1.13.4   10.59.8.11    <none>        Ubuntu 16.04.5 LTS

[2019-03-20 09:50] nexcode commented on #11313
Hi, we don't use rancher anymore

[2019-03-20 10:06] Troyhy opened #19041 "Cloning a job is not possible v2.2.0-rc6"
*after successful run of a job, launch of cloned job will fail*
command was run in ubuntu:xenial  container
![image](https://user-images.githubusercontent.com/587882/54675878-1a070500-4b08-11e9-98d5-eff9e95c0e30.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.0-rc6` UI: `v2.2.9` |
|Route|`containers.run`|

[2019-03-20 11:30] AlexisDucastel opened #19042 "Bad interpretation of values.yml in helm catalog UI"
Yaml representation problem, for example in helm kibana config:

When specifying values for helm kibana template, the "kibana.yml" key of config map is misunderstood by Rancher.

So :
[code]

gives :
[code]
which changes the behavior and generate a broken configMap.

See the result configMap below :
<img width="1281" alt="Capture d’écran 2019-03-20 à 11 24 41" src="https://user-images.githubuser

[2019-03-20 12:22] ThunderRush commented on #18949
Update. I was wrong when it comes to the actual cause of this issue.
Using vSphere as a Storage Class provider works correctly, and it can detect machines that are nested in folders.

However. The documentation (https://rancher.com/docs/rke/v0.1.x/en/config-options/cloud-providers/vsphere/) on this topic is wrong/misleading. The description of Workspace -> Folder reads as:

`folder | string | * |

[2019-03-20 13:41] jpoa commented on #8620
Getting the same situation on a 1.6.26 fresh install.

![2019-03-20-143936_1920x1080_scrot](https://user-images.githubusercontent.com/1116028/54688526-141c1e80-4b1e-11e9-8225-0a4311bfe9ea.png)

Also guessing that now with version 2 out this will not get so much attention, if any.

[2019-03-20 14:01] hotschmaster23 opened #19043 "Webaccess not possible after fresh installation"
**What kind of request is this (question/bug/enhancement/feature request):**
Question / BUG

**Steps to reproduce (least amount of steps as possible):**
I have installed everything according to the documentation but when i wanted to open the webui it is not possible. It seems that the webserver is not working correctly after a fresh installation.
I can ping all other servers in this cluster and no

[2019-03-20 14:13] coyoty commented on #18733
can also confirm this running k8s 1.13.4 and rancher 2.1.7

[2019-03-20 14:30] tomaik opened #19044 "GUI: No error/warning when user exceed quota for Service Load Balancers"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Set Service Load Balancers quota in project to **2**:
![Screenshot from 2019-03-20 15-17-14](https://user-images.githubusercontent.com/20684354/54691539-af63c280-4b23-11e9-8386-1a46ae2855c2.png)
2. Create **2** workloads with Service Load Balancers:
![Scr

[2019-03-20 15:28] ArgonShepard commented on #16791
@BalaBalaYi Have you resolved that issue somehow? Or @guangbochen can you provide any info on this? Cause we faced the same exact issue.

[2019-03-20 15:45] kaushik7777 opened #19045 "rancher 1.6.25 and kubernetes 1.11.5"
unable to reach the kubernetes api-server through kubectl commands,

[2019-03-20 15:47] kaushik7777 commented on #19045
following are the responses, through this commands,

kubectl cluster-info dump
error: serializer for text/html doesn't exist

kubectl api-versions
error: Couldn't get available api versions from server: couldn't get version/kind; json parse error: json: cannot unmarshal string into Go value of type struct { APIVersion string "json:\"apiVersion,omitempty\""; Kind string "json:\"kind,omitempty\"" }

[2019-03-20 16:30] cjellick commented on #19037
not a blocker. moving out

[2019-03-20 16:32] shinebayar-g opened #19046 "Ingress resource showing Node IP instead of Load Balancer's IP?"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
- create fresh cluster on GKE
- install nginx-ingress-controller via helm chart
![image](https://user-images.githubusercontent.com/3091558/54700916-ddbabf80-4b6e-11e9-8242-e8a23cc40d36.png)
As I understand, It creates L4 TCP Load Balancer on GCP.
- Depl

[2019-03-20 16:52] fabiorauber commented on #17441
I'm having a very similar issue, seems to be the same. I'm using version 2.1.7, standalone:

[code]

[2019-03-20 17:03] superseb commented on #19042
This should be fixed in https://github.com/rancher/rancher/issues/16680, let me know if this is different.

[2019-03-20 17:03] #19042 closed

[2019-03-20 17:14] davidnuzik commented on #19033
Version: v2.1.7 -> master upgrade

Tested again, following my steps to reproduce. In each case I was able to successfully scale up without any issues. I also created a couple of clusters with more unique node pools. Each scaled up without any issues.

Some examples:
Azure RKE cluster:
1 nodepool of etcd+cp
1 nodepool of worker
- Can scale both up to 2 (each) without any issues

Amazon RKE cluster:

[2019-03-20 17:14] #19033 closed

[2019-03-20 17:21] webjoel commented on #11313
My problem was the rancher server door. After I left the default (8080) stopped giving problem.

[2019-03-20 17:30] davidnuzik commented on #17922
Tested in latest master. We are missing the Nginx Ingress Request Rate chart.
![image](https://user-images.githubusercontent.com/45179589/54705994-29cc1c80-4afb-11e9-9151-e79ee2d44897.png)

[2019-03-20 17:32] davidnuzik commented on #17922
@thxCode @loganhz FYI reopened

[2019-03-20 17:34] mrajashree commented on #18938
@westlywright thanks, I'm assigning it over to you

[2019-03-20 17:50] mrajashree commented on #17462
In our user ingress controller's sync handler, we check if there are any Global DNS entries targeting the cluster in which this ingress is, and then we enqueue only those gdns entries. So if a gdns entry does not have mcapp, or target projects, it won't get enqueued, and the gdns controller won't work on it. Closing this as per our discussion @alena1108

[2019-03-20 17:50] #17462 closed

[2019-03-20 18:01] davidnuzik commented on #17922
@thxCode @loganhz Had discussion with Craig, Sangeetha, et al and this is working as expected. We are not worried about Nginx Ingress Request Rate chart specifically. For all intents and purposes this is working in a way we expect. As such I am moving this back to test.

[2019-03-20 18:22] davidnuzik commented on #17922
Version: Master 2.2 (3/20/19) ImageID: 92dd7193e7bf
This adds the following four charts to Kubernetes Components Metrics section of cluster monitoring:
![Screen Shot 2019-03-20 at 11 05 53 AM](https://user-images.githubusercontent.com/45179589/54708287-4e76c300-4b00-11e9-90b5-22cf09f5658d.png)

I tried to create more pods than available to get this data to show up (failed pods, preemption attempts

[2019-03-20 19:25] jiaqiluo commented on #17922
The bugfix is validated on Rancher: Master 2.2 (3/20/19) ImageID: 92dd7193e7bf, Rancher commigt 68e56010
Install type: install install
cluster: EC2 cluster, 1 etcd, 1 control plane, 2 workers

The test result is the same as @davidnuzik 's.

[2019-03-20 19:25] #17922 closed

[2019-03-20 20:01] chrisurwin opened #19048 "Upgraded version of Rancher stops windows nodes being added to existing environment"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Create a Rancher 2.1.1 cluster and add a child cluster with a windows node in it.
Upgrade the Rancher cluster to 2.1.7 and try to add additional windows node to the environment,

**Result:**
It will fail with an error similar to:
[code]
**Other details that

[2019-03-20 21:11] davidnuzik opened #19049 "UI: Have to hit Cancel button twice when creating new node template for first time"
Version: Master 2.2 (3/20/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- On a fresh install, go to the Node Templates page
- Add any node template. Click cancel

**Result:**
You have to actually hit cancel twice because there is no cloud credentials set yet.

**Other details that may be helpful:**

[2019-03-20 21:32] bmdepesa opened #19050 "Some components not restarted when CA cert is rotated"
rancher/rancher:master-68e56010 3/20
*RKE version:*
0.2.0-rc11

After rotating CA certs, some components are not restarted and are stuck updating/removing.

* Create HA install (master)
* Create cluster
* Rotate CA + all service certs
* Cluster updates and becomes active
* kube-dns-autoscaler, metrics-server workloads are stuck removing
* nginx-ingress-controller workload is stuck in updating
* Wo

[2019-03-20 21:42] superseb opened #19051 "Support Kubernetes API Server Endpoint Access Control for EKS"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Steps to reproduce (least amount of steps as possible):**
Add support for Kubernetes API Server Endpoint Access Control

https://aws.amazon.com/about-aws/whats-new/2019/03/amazon-eks-introduces-kubernetes-api-server-endpoint-access-cont/

gzrancher/rancher#4690

gzrancher/rancher#7307

[2019-03-20 21:44] cjellick opened #19052 "Drop CA cert rotation option from UI"
We have seen stability issues with rotating the CA certificates for RKE clusters.

For the initial v2.2.0 release, we want to drop that option from the cert rotation UI until we get it figured out.

This is just the "Rotate the CA and all Service certificates" option.

See:
https://github.com/rancher/rancher/issues/19050

[2019-03-20 21:48] jlamillan opened #19053 "Elasticsearch username & password is stored in clusterlogging CustomResourceDefinition as clear text"
**What kind of request is this (question/bug/enhancement/feature request):**

Similar to [this](https://github.com/rancher/rancher/issues/18407) bug. Elasticsearch username and password are begin stored in `CustomResourceDefinition` as plain text

Arguably a bug, although the password does not appear to be getting inadvertently stored in Elasticsearch itself. On the other hand, it's better practic

[2019-03-20 22:02] cjellick commented on #19050
moving this out of the release. we are mitigating by completely dropping this option from the UI

[2019-03-20 22:13] jlamillan opened #19055 "Expose customization of integrated fluentd watched-file-list to enable logging on more clusters"
Expose customization of integrated fluentd `DaemonSet` watched-file-list (e.g. as an optional Helm value and/or Cluster Logging configuration in the UI) to enable logging on a wider variety of cluster/workers.

For example, adding `/foo` would ensure that (1) `/foo` is mounted from the worker into the fluentd container and (2) `/foo` is appended to fluentd's watched-file-list.

**What kind of requ

[2019-03-20 22:15] westlywright commented on #19052
Available in ui tag `2.2.13` but also ported to master (latest2)

[2019-03-20 22:44] davidnuzik commented on #19052
Version: Master 2.2 (3/20/19) ImageID: 92dd7193e7bf (empty cache, refresh for latest UI) Single-node rancher

Confirmed issue. We have removed only the "Rotate the CA and all Service certificates" from the "Rotate Certificates" modal in the UI.

You can now _only_ either rotate an individual service or all of them. You just cannot do that and also rotate the CA now, as expected.
![image](https://u

[2019-03-20 22:44] #19052 closed

[2019-03-20 23:05] tfiduccia opened #19058 "Alert manager sending 2 messages sent for every alert "alerting""
Version - 2.2

**Steps to reproduce (least amount of steps as possible):**
1.  Create cluster
2.  Go to cluster and set up slack notifier
3.  Go to Alerts and create a Alert Group pointed to the slack notifier.  Make the critical Node rule where the CPU reservation is over 5%.  (Alert should fire)

**Result:**  Two critical alerts get sent from the alert manager.  It doesn't seem to matter what ty

[2019-03-20 23:22] erhwenkuo commented on #18275
I think the question that DarkRider1768 asking is, Racher UI of  Rancher 2.2.x is set `capabilities.loadBalancerCapabilities.enabled` to "false" for on-premise Kubernetes. Howerver, if MetalLB is setup in on-premise K8S, then the Layer 4 Load Balancing should be able to set to "Enabled".
Now the question is "How can Rancher 2.2.x to allow to change `capabilities.loadBalancerCapabilities.enabled=tr

[2019-03-20 23:25] dmastag commented on #17264
I also have the same problem
![image](https://user-images.githubusercontent.com/5745805/54725544-0c9e5900-4ba2-11e9-9f8f-b3714e437bbe.png)

And its on all my workloads, not sure what I should do

[2019-03-20 23:52] tfiduccia commented on #19041
Version v2.1.7 - this is reproducible.  Doesn't seem to matter what you have in the job.  You can't clone them.

[2019-03-20 23:53] jiaqiluo opened #19059 "Imported GKE cluster shows provisioning after upgrading Rancher"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
- install Rancher v2.1.7 in HA mode
- import a GKE cluster
- upgrade Rancher to v2.2.0-rc8

**Result:**
- the imported GKE cluster goes to `provisioning` for a short time, and then `unavailable` and finally `active`
- RKE cluster, AKS, EKS go to  `unavailabl

[2019-03-21 00:07] soumyalj commented on #19059
Upgraded from v2.1.7 to v2.2.0-rc8
It was observed that after upgrade to v2.2.0-rc8, import and rke clusters went to provisioning  state.

![Screen Shot 2019-03-20 at 4 56 55 PM](https://user-images.githubusercontent.com/18536626/54726945-7ed75500-4b32-11e9-8ebb-5dda2a806293.png)

[2019-03-21 01:06] BalaBalaYi commented on #16791
@ArgonShepard I'll try this when v2.2 release. Keep tracking........

[2019-03-21 01:24] davidnuzik commented on #19022
@sowmyav27 could you please add the version of Rancher you tested with? I do not see this issue on latest master.

[2019-03-21 01:50] davidnuzik commented on #19022
I am retesting this now to double-check and ensure I can reliably reproduce the issue.

[2019-03-21 01:53] cjellick commented on #19059
Moving out of the release. This was seen temporarily during upgrade and is related to attempting to deploy the cluster agent. The initial deploy fails, which triggers the cluster to go into provisioning because the agentDeployed condition maps to the "provisioning" transitioning state (vendor/github.com/rancher/types/status/status.go).
Here's the condition in its failure state:
[code]

Once we ret

[2019-03-21 02:12] guangbochen commented on #16791
@kmova, @prateekpandey14 maybe u guys can help on this? thanks.

[2019-03-21 02:23] davidnuzik commented on #19022
@westlywright replicated in latest master v2.3.0 UI (latest2) CANNOT replicate on v2.2.0-rc8 v2.2.13 UI (local). Going to check v2.2.0-rc8 again but I was very careful to work with clean browser / cache. only happens on latest master for me.

[2019-03-21 02:53] aiwantaozi commented on #19055
You could change the docker root in cluster option, and reenable the logging now.

[2019-03-21 03:06] kmova commented on #16791
@ArgonShepard - are you using baremetal K8s cluster?

[2019-03-21 03:09] aiwantaozi commented on #19058
Hi, I can't reproduce in the master, how many nodes for this cluster, any extra steps for the node?

[2019-03-21 04:18] dongde commented on #14343
“Unable to fetch user info”
Has anyone encountered this problem?

[2019-03-21 08:10] stsuse commented on #18535
+1

[2019-03-21 08:40] Allen-yan commented on #15262
I have the same issue , when I ran pod on a special node .
The node had a vpn client . And I can see 2 IP address on the rancher dashboard

bh-k8s-worker-test03
10.10.20.53  /  192.168.42.10
--

All the pods run on this node can not access to Shell or Log

[2019-03-21 08:41] GregorPirolt commented on #15856
@wernergillmer did you defrag the etcd data inside the rancher/rancher container or did you defrag the data with an etcdctl tool outside the container? Could you explain the steps to do this or point me to a source that descibes the steps? (I’m having the same problem here)
Thanks

[2019-03-21 09:40] mikenorgate opened #19060 "Catalog App answers and values out of sync"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Deploy a catalog app by completing the form
- Upgrade the app
  - Edit the "answers" as yaml and make a change

**Result:**
When returning to the upgrade page again the page shows the yaml editor, when clicking the "Edit as form" button the values differ f

[2019-03-21 10:05] rossigee opened #19061 "Tick symbol used in dashboard to represent failure"
**What kind of request is this (question/bug/enhancement/feature request):**

bug
(sort of)

**Steps to reproduce (least amount of steps as possible):**

Go to the cluster dashboard view when one of the 'pressure' alerts is raised. See attached screenshot.

**Result:**

User see's a 'tick' where a failure is present. Understood it's red, but the symbol is just inappropriate.

**Suggestion:**

The

[2019-03-21 10:06] rossigee commented on #19061
![tick-probably-not-best-symbol](https://user-images.githubusercontent.com/5194485/54745258-a9d9ab80-4bfb-11e9-8479-2ef04f3a595f.png)

[2019-03-21 10:40] fr4ngus commented on #14356
I have the same problem when I go to Catalogs Tab, and one of Helm Stable or Helm incubator are enabled.

[2019-03-21 12:13] 3pns commented on #17419
I had the same issue after upgrading to rancher 2.1.7 and upgrading my cluster kubernetes to 1.13.4 . Enabling and Disabling nginx in the cluster config would not work, only deleting both pod ( careful not to delete the deployment like I did )to force it to create new ones made new ingress and updating existing ingress working again

[2019-03-21 12:29] URSTYLE commented on #18786
had the same issue multiple times at 2.1.2, the only way was to restart instance / docker service and we still don't know how to prevent these situations

[2019-03-21 12:48] narfeta opened #19062 "multiples rancher servers, one active directory to authentication"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

Install 2 rancher servers
Configure them to use the same active directory to authenticate
Authenticate with one valid active directory user
Get the kubeconfigs

**Result:**

kubeconfig has the same user and different tokens, if we merge the configs only on

[2019-03-21 12:58] narfeta commented on #19062
As alternative solution we configured one to use openldap and the other to use active directory.

[2019-03-21 13:18] Baykonur commented on #18831
I tried to see whether there is an issue with wss connection between the cattle-node pod and the host running the Rancher container by creating an [API Key](https://rancher.com/docs/rancher/v2.x/en/user-settings/api-keys/#creating-an-api-key) and using the **Bearer Token** from a container which is running in the k8s (to be imported) cluster, below is the result of curl:

`curl -v -s -i -N -H "Con

[2019-03-21 13:56] RalicIvan commented on #18786
It is very irritating because for the last couple of months we've spent a lot of energy in dockerizing everything and developing CI/CD system with Rancher in mind. And now we have returned to a stone age with VMs again.
No matter everything we are still holding on these 3 VMs with compromised Rancher, it costs us money, and if anyone is willing to at least help me debug and troubleshoot everything

[2019-03-21 14:05] BarryOwens commented on #8497
I'm using the following syntax in my docker-compose file:
[code]

When I do this I get the error "Failed to locate volume for instance of deployment unit"
And when I check the docker-compose file in rancher it has become:
[code]

Looking at https://github.com/rancher/rancher-compose-executor/pull/49 it looks like it just ignores any external configuration and instead just uses `external: true`. Is

[2019-03-21 14:19] JorinL commented on #14836
Ran into that problem today and can also reproduce it with mosquitto and a sub path in the claimed volume.  Using v1.13.4-rancher1-1 and rancher-agent:v2.1.7

[2019-03-21 14:39] fedeostrit opened #19063 "Windows core container not Run"
Hello,

I have a cluster with 3 hosts in Centos 7 with rancher V2.2.0-rc7, I have a private registy created with a microsoft / dotnet-framework image: 4.6.2-runtime-windowsservercore-ltsc2016e and when I try to deploy it in the cluster throw the following error, I need a node in the cluster that runs on Windows server as a worker?
![image](https://user-images.githubusercontent.com/48490228/5476003

[2019-03-21 15:19] URSTYLE commented on #18786
@RalicIvan did you try to run controller on an instance with more available memory? it's not a fix, but could provide a longer life for your stack

There is also new issue related to this one #19038

[2019-03-21 15:20] zbialik commented on #19025
After some discussion with @superseb, i believe the root cause of my issue is that I am trying to deploy replicas of the rancher container to manage the same k8s clusters?

I think that this feature is only available with v2.1.

@superseb Can you verify that this is true?

[2019-03-21 15:20] cjellick commented on #18786
Is this the cluster that rancher server is deployed into or is it a cluster managed by Rancher?

Do the rancher logs say anything? You say you migrated to new machines and it resurfaced? How did you achieve that migration? Especially for etcd

What version of k8s are you running?

How is this cluster deployed and managed? RKE?

[2019-03-21 15:30] superseb commented on #19025
Yes, you can't run more than 1 replica using a Rancher version before v2.1.0 and RKE add-on install is only supported up to v2.0.8. The RKE templates for v2.0.8 have replicas set to 1. The Helm chart install (which is the official and supported install method from v2.1.0 and up) will run 3 replicas by default.

[2019-03-21 15:44] zbialik commented on #19025
@superseb Thank you so much for the help!

[2019-03-21 15:45] #19025 closed

[2019-03-21 16:00] RalicIvan commented on #18786
@URSTYLE thank you for suggestion, we'll try it.

@cjellick First of all excuse me for my noobism if I do not understand something or make a mistake in communication and thank you very much for a reply!

The HA Rancher was deployed with RKE following [this tutorial](https://rancher.com/docs/rancher/v2.x/en/installation/ha/) so I think it is the cluster managed by rancher.

K8s versions are
[code]

[2019-03-21 16:11] ArgonV commented on #18864
I am seeing this as well with Rancher v2.1.7, Kubernetes v1.12 and higher with vSphere cloud config. Not setting the vSphere cloud config in the cluster YAML, the cluster will provision or an existing cluster will add the hosts. No problems with Kubernetes v1.11.8 and vSphere cloud config.

[2019-03-21 16:15] westlywright commented on #19022
Available in Master and in UI Tag `2.2.14`.

[2019-03-21 16:19] cjellick commented on #18786
Looks like you are having pretty major networking/communication issues. I don’t think rancher server has connectivity to the k8s cluster it is managing.

[2019-03-21 16:25] cjellick commented on #18786
@cloudnautique is 8GB ram enough for mgmt plane cluster?

[2019-03-21 16:25] RalicIvan commented on #18786
Thank you, I have been looking at related issue that URSTYLE has added, I will look into networking problems and get back with more information or a solution.

[2019-03-21 16:43] willtcarey opened #19064 "Rancher CLI doesn't allow context switching from environment variables or flags"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
- Run kubectl commands with the CLI `rancher kubectl ...`
- Expect commands to allow switching contexts on a per command basis e.g. `rancher --context "c-123456:p-12345" kubectl ...`

(kubectl is an example here, this holds true for all of the Ranche

[2019-03-21 17:25] davidnuzik commented on #19044
Assigned to me to test after v2.2 release.

[2019-03-21 17:56] kinarashah opened #19066 "Custom node driver says active but template fields don't immediately show up"
What kind of request is this (question/bug/enhancement/feature request):
Bug

Steps to reproduce (least amount of steps as possible):

Activate a custom node driver.
- It goes to installing and becomes "Active"
- Go to Node Templates and try adding node template for this new driver
- Fields don't show up in UI
- But they do eventually come up after a while

Expected:
- Either node driver immediate

[2019-03-21 18:08] zbialik commented on #19025
@superseb One thing I would add is that I don't see any documentation on that lacking capability for Rancher v2.0. I was only able to confirm what you said by going to the rancher v2.1 release page and seeing the improved features. I think it would be very helpful to include this information in the install docs as I would assume many individuals are going through the HA installation assuming the d

[2019-03-21 18:15] davidnuzik commented on #18954
Validated again in HA setup v2.2.0-rc8 as requested by Sangeetha.
I can confirm this is still working as expected. user2 "sees" project 1 (doesn't have access but still listed). removeProject action does not happen. Login as admin again and verify all three test projects are still listed in that view as well.

[2019-03-21 19:40] davidnuzik opened #19068 "Errors shown in UI when cluster is insufficient size for Prometheus"
Version: v2.2.0-rc8

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a cluster (such as non-default size digital ocean with 1vcpu)
- Enable monitoring (with default settings) and watch the cluster page
- Observe errors (see results section below)
- Edit monitoring settings to decrease these setti

[2019-03-21 19:42] GregorPirolt commented on #18985
@Troyhy I got the same problem. I also got the empty fields when creating a new cluster from the same rancher instance. I tried to export the cluster with the rancher cli and the use rancher up with the output. No success. Seems like the process of upgrading from 2.1.6 to alpha-3 and then all rc releases up to 8 messed up the etcd somehow... I also compacted and defraged the etcd inside rancher wi

[2019-03-21 21:02] DanCharousek opened #19069 "Cannot provision rancher cluster in HA mode - Kube apiserver fails"
**What kind of request is this: bug**

**Steps to reproduce:**
1. Setup 3 Digital Ocean droplets (docker-s-1vcpu-2gb-fra1-01/02/03)
2. Configure rancher-cluster.yml

[code]

3. Startup cluster provisioning `rke up --ssh-agent-auth --config rancher-cluster.yml`

**Result:**

[code]

**Other details that may be helpful:**
I SSHed into the nodes and found out that the healthchecks issues are caused b

[2019-03-21 21:09] superseb commented on #19069
1CPU and 2GB is not enough for all roles as required for nodes in the HA cluster. The node requirements are listed here: https://rancher.com/docs/rancher/v2.x/en/installation/requirements/, but 4CPU/8GB could work as well, depending on what you are going to do with it. If it's a minimal playground, you might get away with 2CPU/4GB.

Let me know if that doesn't solve the issue. If you are re-using

[2019-03-21 21:12] DanCharousek commented on #19069
@superseb thank you for your quick answer, I'll give it a try.

[2019-03-21 21:13] cjellick commented on #19068
Realistically, i think we are we talking about doing two things:
1. Replacing the bad error message with something friendly like "Unable to obtain monitoring data"
2. Preventing users from selecting monitoring options that wont work for their cluter?

[2019-03-21 21:31] DanCharousek commented on #19069
@superseb So unfortunately using powerful droplets did not solve the problem. I tried 2CPU/4GB and even 4CPU/8GP nodes. The result is still the same. I made sure to cleanup the hosts (even though it shouldn't be necessary since they were newly created) using this script https://gist.githubusercontent.com/superseb/2cf186726807a012af59a027cb41270d/raw/7cfbce916809e7b2474a73a3da367b1a7f4ac9cf/cleanup

[2019-03-21 21:35] davidnuzik opened #19070 "UI: Upon edit GKE, Security section is missing"
Version: v2.2.0-rc8

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a GKE cluster
- Once it is fully provisioned, edit it

**Result:**
The entire Security section is missing when you edit.
Note that this would be not editable anyway -- but ideally we show everything on edit just like on add new

[2019-03-21 21:38] davidnuzik opened #19071 "UI: Upon enter invalid GKE key, error message is not very clear"
Version: v2.2.0-rc8

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, minor

**Steps to reproduce (least amount of steps as possible):**
- Try to add a GKE cluster but do not provide any credentials

**Result:**
You get an error message in the UI "invalid projectID"

**Expected Result:**
A more clear error message such as "Invalid Service Account json" or something

[2019-03-21 21:42] chappelleshow commented on #18991
Would like to add, as I don't see it listed here.  This is only regarding containers built from Alpine images.  Other containers are able to resolve the same address

[2019-03-21 21:43] tfiduccia opened #19072 "Firefox - container limit in add/edit project/namespace is misaligned"
Version - 2.2.0-rc8

**Steps to reproduce (least amount of steps as possible):**
1.  Open rancher in firefox browser
2. Go to Add Project or Namespace

**Result:** In the Container Default Resource Limit section, the CPU reservation is misaligned

![image](https://user-images.githubusercontent.com/11514927/54786953-8573d400-4be7-11e9-8d35-4a2004ce1915.png)

[2019-03-21 21:44] superseb commented on #19069
Please supply exact steps to reproduce, what exact droplet are you selecting, what OS, is the internal IP the one from private networking? What other options?

[2019-03-21 21:57] DanCharousek commented on #19069
I've got 3 4CPU/8GB droplets created by using marketplace image **Docker 18.09.2~3 on 18.04**
- without automatic backups
- without any additional volumes
- Frankfurt region
- With **private networking** and **monitoring** checked

Internal IP addresses are the ones from private networking.

[2019-03-21 22:09] superseb commented on #19069
Please see the SSH banner for this type of marketplace droplet:

[code]

Port requirements are listed on https://rancher.com/docs/rke/v0.1.x/en/os/#ports, `ufw disable` is the quickest way to test if it solves the issue.

[2019-03-21 22:16] DanCharousek commented on #19069
So the problem was indeed caused by the UFW. Well I think I would never guessed it from the error that **kube-apiserver** threw. Thank you very much @superseb I think the issue can be closed now.

[2019-03-21 22:26] superseb commented on #19069
I'll be fixing https://github.com/rancher/rke/issues/608 so it will tell you it's a ports issue before actually launching the components.

[2019-03-21 22:26] #19069 closed

[2019-03-21 22:42] cjellick commented on #19068
for 2.2.0, we are just going to make the error message friendly. @davidnuzik can you do me a favor and spin off a new non v2.2 issue for the other ones?

[2019-03-21 22:50] tfiduccia opened #19074 "If cluster member tries to enable/disable monitoring, error mess is in box instead of friendly"
Version - 2.2.0-rc8

**Steps to reproduce (least amount of steps as possible):**
1.  Create a cluster and add testuser1 as member
2.  Log into rancher as testuser1
3.  Go to cluster monitoring and try to enable

**Result:**  Large red box with enableMonitoring Error show up.  Should be message on bottom of screen next to save stating user is forbidden.
![image](https://user-images.githubuserconten

[2019-03-21 22:58] westlywright commented on #18938
@prachidamle does this only apply to global dns providers or global dns entries as well?

[2019-03-21 23:20] gd-asharov commented on #19001
Hello,

Does anybody know how can fix this issue?

Maybe I can to help you with that.

[2019-03-21 23:24] jlamillan commented on #19055
@aiwantaozi thanks for the suggestion. I'm not sure I am following though.  Are you suggesting I change the docker filesystem root for the fluentd container? If so, isn't that a bit more drastic and error prone than just editing the` fluentd` `daemonset` and adding the volume?

[2019-03-21 23:33] sowmyav27 opened #19075 "After Cert Rotation on an upgraded setup with expired certs, the worker nodes are still in Unavailable status"
**What kind of request is this (question/bug/enhancement/feature request):**bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a cluster on Rancher v2.1.7
2. Upgrade to rancher:v2.2.0-rc8. Wait for the certs to expire.
3. Select 'Rotate Certificates' for the cluster. Wait for cluster to become active.

**Expected Result:**
Cluster becomes active, and the nodes are all in Ac

[2019-03-21 23:53] davidnuzik commented on #19068
Thanks @cjellick I will open another issue.

I have done more testing and discovered that we require a bare minimum of 850m vCPU be reserved before we even factor in prometheus container so this is likely the reason why we cannot recover on a small cluster. When we account for minimum vCPU reserved by k8s there isn't really anything left for the prometheus container so I'll make an issue that basi

[2019-03-22 00:06] rmweir commented on #18870
Logging time for Rancher to make list requests and time to transform the responses into an object. These appear to be taking the most amount of time. Transforming the responses into objects frequently takes the most time.

[2019-03-22 00:06] davidnuzik opened #19078 "Monitoring: Should not allow 1 node cluster with only 1vCPU to enable monitoring"
Version: v2.2.0-rc8

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a 1vCPU cluster such as with DO RKE
- Try to enable monitoring with defaults

**Result:**
Monitoring will not work as expected, prometheus-cluster-monitoring will have insufficient CPU.

Sum up the CPU reservation for each conta

[2019-03-22 00:07] davidnuzik commented on #19068
https://github.com/rancher/rancher/issues/19078 was created

[2019-03-22 00:26] rmweir commented on #18870
Compared EKS setup to RKE EC2 setup, using identical VMs. Both running identical sets of 40 workloads with a 63kb environment variable set on each workload. EKS switches projects smoothly while RKE can take >5s.

[2019-03-22 00:54] cjellick commented on #19068
error message fix is available in msater

[2019-03-22 01:37] jiaqiluo commented on #19068
Test on Rancher master version 693664a7
Steps:
- add a DO cluser with  2 node DO cluster (1 node - etcd/control and 1 worker both default offering 2 cpu/2gb )
- deploying the wordpress app 2 times to reduce the available CPU resource
- enabling monitoring at the cluster level

Result:
<img width="1845" alt="screenshot" src="https://user-images.githubusercontent.com/6218999/54795052-dabfdd80-4c07-1

[2019-03-22 01:39] bongaquino commented on #18733
Same here.

[2019-03-22 01:43] davidnuzik commented on #19068
Version: Master 2.2 (3/21/19)
Confirmed issue as well. Jacks findings match my own:
![image](https://user-images.githubusercontent.com/45179589/54795368-32127d80-4c09-11e9-819e-4776c096a66a.png)

[2019-03-22 01:43] #19068 closed

[2019-03-22 01:51] gitlawr opened #19081 "Omit the configuration for rancher install part for pipeline self-signed cert integration"
**Rancher Version**
v2.2.0-rc8

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

To support self-signed cert source code provider, users need to
1. add custom ca cert as part of rancher install.
2. add the same cert in a project pipeline configuration.

Ideally, we should be able to omit the configuration for rancher install part, since users provide the sa

[2019-03-22 02:31] sowmyav27 opened #19082 "Cluster is seen in Active state for long time after certs have expired"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. Create a cluster on Rancher v2.1.7
2. Upgrade to rancher:v2.2.0-rc8. Wait for the certs to expire.

**Expected Result:**
Cluster should not be in `Active` state.

**Actual Result:**
Cluster is seen in `Active` state for long (20 minutes now)

Error seen

[2019-03-22 05:53] loganhz opened #19084 "Support CRUD HPA"

[2019-03-22 05:54] loganhz commented on #14231
Link to https://github.com/rancher/rancher/issues/19084

[2019-03-22 05:57] loganhz opened #19085 "Enable Registry in Rancher HA local cluster"
Enable Registry in Rancher HA local cluster

[2019-03-22 05:58] loganhz opened #19086 "UI: Enable Registry in Rancher HA local cluster"
UI for https://github.com/rancher/rancher/issues/1738

[2019-03-22 06:00] loganhz opened #19087 "Istio Integration Alpha"
**Acceptance Criteria:**

**- As Cluster Owner**
- Under tools - Service Mesh option is visible

**- As Project member -**
- Edit Namespace and enable “istio sidecar auto injection”
- Deploy workloads (https://istio.io/docs/setup/kubernetes/prepare/requirements/)
- Verify that the pods have istio init and istio proxy containers running
- Generate some load (traffic) on your application
- Select pr

[2019-03-22 06:01] loganhz opened #19088 "UI: Istio Integration Alpha"
UI for https://github.com/rancher/rancher/issues/19087

[2019-03-22 09:32] wuchencm opened #19089 "Flannel.1 is not connect between nodes， when rancher network with canal"
*Describe your issue here*

Flannel.1 does not work between nodes,  and Normal after closing iptables
---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.1.6` UI: `v2.1.19` |
|Route|`workload`|

[2019-03-22 10:36] mboudet commented on #17248
We have the same issue following the [quickstart manual install](https://rancher.com/docs/rancher/v2.x/en/quick-start-guide/deployment/quickstart-manual-setup/#2-install-rancher)

We use the 1.13.4 kubernetes version.

We use 4 nodes, 3 of them as as an etcd/control plane/worker, and the last one as a worker.
The kube-apiserver containers seem to have random cpu spikes on all three nodes where the

[2019-03-22 10:40] superseb commented on #18444
Can you share more detail on what source file it was pointing to? And what date and what tag/commit was it pointing to when it was scanned

[2019-03-22 10:49] RRadziejewski opened #19090 "[rancher-python]"
I've created user with rancher ui without any roles attached to it.
When trying to create a cluster with that user i get following error.

clusters.management.cattle.io is forbidden: User "u-ctv6z" cannot create clusters.management.cattle.io at the cluster scope

However when trying to create cluster with this username token and secret_key i am able to create cluster , it's not visible on this acc

[2019-03-22 11:41] RRadziejewski commented on #19090
Also, I have a short question about v3-public can I access it to log in with username and password with rancher python lib ? or there is the only possible way to use it with access_key and secret_key?

[2019-03-22 11:49] nheinemans commented on #18544
Any update or insight on this request?

[2019-03-22 11:53] wuchencm opened #19091 "the canal not work when i upgrade rancher to v2.1.7"
*Describe your issue here*

![image](https://user-images.githubusercontent.com/14210543/54821052-188e3600-4cdc-11e9-8f93-3b1360cc87a0.png)
![image](https://user-images.githubusercontent.com/14210543/54821078-2ba10600-4cdc-11e9-9c07-f3792cbc0a75.png)
![image](https://user-images.githubusercontent.com/14210543/54821152-53906980-4cdc-11e9-941b-7389c0300a8a.png)

---
| Useful | Info |
| :-- | :-- |
|V

[2019-03-22 12:29] gabrielcalderon commented on #18312
I'm seeing the same issue with rancher/rancher:v2.2.0-rc9 using both the built-in Helm Catalog or when importing a custom offline version of Helm Stable serve by ChartMuseum.

[2019-03-22 12:37] Troyhy commented on #18985
@GregorPirolt How did you manage interact with etcd of Rancher install? I have single node install...

[2019-03-22 12:41] Troyhy commented on #18985
In my case deploying fresh cluster does not solve issue, there is something wrong in rancher's own data structures. All new clusters provisioned will suffer of this same issue. in addition whole setting yaml of cluster is uneditable and missin lot of stuff...
Here is the whole settings.yaml, It always remains this if I try to edit it.
[code]

[2019-03-22 12:50] janeczku opened #19092 "Admin should able to configure the default Grafana dashboards for cluster and projects"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
Enable Monitoring in cluster and project
Open cluster grafana instance
Open project grafana instance

**Result:**
The default dashboards provisioned for new Grafana instances deployed by Rancher are hardcoded and can not be configured. Cluster owner

[2019-03-22 12:53] MatthewKohner opened #19093 "etcd BackupConfig Enabled may sometimes be null and will cause a panic"
After upgrading from 2.1.6 to 2.2.0 rc6 I get a panic due to BackupConfig.Enabled being null.

[code]

[2019-03-22 13:04] mattmattox commented on #18991
**Workaround**
Adding the following to the docker-compose.yml will resolve this error.
[code]

[2019-03-22 13:25] GregorPirolt commented on #18985
@Troyhy
I got exactly the same Rancher Config and new clusters also look like that.
You could try to compact and defrag the etcd like I did, but as I said it does not help with the issue.
I also have a single node rancher running. Have you mounted the /var/lib/rancher folder onto your host machine? If so, you can try the following:
(please consider, that these steps might break the etcd db so, bac

[2019-03-22 13:36] GregorPirolt commented on #18985
@Troyhy
one more thing that might be interesting: what was your update-path?
mine was v2.1.6 -> v2.2.0-alpha3 -> v.2.2.0-rc3 -> v.2.2.0-rc4 -> v.2.2.0-rc6 -> v.2.2.0-rc7 -> v.2.2.0-rc8 -> v.2.2.0-rc9 and I'm 80% sure I created the current cluster during alpha3
also: are you running locally? mine is running on 3 esxi vm (coreos)  (rancher/rancher is running on centos... but this should not matter)

[2019-03-22 14:10] vinayagg commented on #17890
I am facing same issue in
Rancher | v2.1.7
User Interface | v2.1.21

[2019-03-22 14:15] skwair opened #19095 "Rancher [2.2.0] CLI can't use YAML formatted RKE configuration files"
**What kind of request is this (question/bug/enhancement/feature request):**

Probably a bug.

**Steps to reproduce (least amount of steps as possible):**

Create a cluster with the rancher CLI and a RKE config file like so:

`rancher cluster create --rke-config rke-config.yaml foobar`

**Result:**

The cluster is created as expected but it did not use the given RKE config file.

**Other details t

[2019-03-22 14:27] Pierre-Malherbe opened #19096 "[Vsphere] Problem with provisionning cluster"
**What kind of request is this (question/bug/enhancement/feature request):**

BUG

**Steps to reproduce (least amount of steps as possible):**

Create a Cluster provisionning with Vsphere (With rancherOS 1.5.1)

**Result:**

019/03/22 14:16:14 [INFO] stdout: Provisioning with rancheros...
2019/03/22 14:18:31 [INFO] stdout: Copying certs to the local machine directory...
2019/03/22 14:18:34 [INFO]

[2019-03-22 14:46] scotthesterberg commented on #18931
@alena1108 tried downgrading to kubectl 1.11, same error. Running kubectl from an Amazon linux 2 machine, against Redhat hosts configured by RKE.

[2019-03-22 16:01] Matsca09 commented on #18684
Hi @gitlawr
I've tried and it works; I've completely missed the `env` part for the pipeline step, my bad!

I think that could be useful to provide some environment variables which can be used to edit the parameters for the image build in the UI and/or in the documentation, in order to help someone which may have the same or related issues in the future.

Thank you!

[2019-03-22 16:12] cjellick commented on #18985
I think you are hitting a bug that was introduced in one of our early RCs or alphas but was later fixed. Unfortunately, the bug (which I cannot find right now) put bad data into your DB. Since we don't support upgrading to or from alphas or RCs, we did not fix the bad data, we just fixed the bug that caused it so that upgrades to official releases would work.

Could you try reproducing by upgradin

[2019-03-22 16:21] vincent99 commented on #18985
While things usually work ok, upgrades to, from, or through non-releases are explicitly unsupported.  Alpha/RC tags should only be used on new, throwaway installations.

I can't easily find a reference to it but else in the 2.2 cycle found a similar issue with upgrading through one of the versions in there resulted in broken cluster data CRDs.

[2019-03-22 16:44] cjellick commented on #19082
pre-existing. we can move out

[2019-03-22 16:51] kutchar opened #19097 "Ability to disable username/password based login"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Steps to reproduce (least amount of steps as possible):**
N/A

**Result:**
A checkbox in "Security > Authentication" settings page that enables/disables username/password based login.

**Other details that may be helpful:**
We would like to be able to disable username/password logins when SAML is config

[2019-03-22 17:05] davidnuzik commented on #19068
Version: v2.2.0-rc9
Validated again in rc9
![image](https://user-images.githubusercontent.com/45179589/54840316-f4096e00-4c89-11e9-9b21-50fb79c288d0.png)

[2019-03-22 17:08] sowmyav27 commented on #19075
Verified with image provided by @galal-hussein  on single node install.
On an upgrade to v2.2.0-rc8, after the certs expired, on cert rotation, the cluster came up successfully, including the worker nodes. Post upgrade checks also passed on the cluster

[2019-03-22 17:08] #19075 closed

[2019-03-22 17:48] sowmyav27 opened #19099 "Error while scaling down of nodes on an upgraded set up"
**What kind of request is this (question/bug/enhancement/feature request):**bug

**Steps to reproduce (least amount of steps as possible):**
1. On rancher:v2.1.7, create a cluster with one node(all roles)
2. Upgrade rancher to v2.2.0-rc8.
3. scale up the nodes in the cluster to one node. (all roles) (number of nodes in cluster - 2)
4. wait for the cluster to come in active state.
5. perform steps

[2019-03-22 18:05] sowmyav27 opened #19100 "Worker node stuck in 'Registering' state on scaling up of nodes in an upgraded Rancher set up"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. On rancher:v2.1.7, create a cluster - (3 etcd, 1 control plane, 3 worker nodes)
2. upgrade the setup to `rancher:v2.2.0-rc8`
3. Scale up the number of worker nodes to 4.

**Expected Result:**
Worker nodes should get scaled up successfully.

**Actual Resul

[2019-03-22 18:18] davidnuzik opened #19101 "UI with Firefox: User nav menu is 1px taller than rest of navbar"
Version: v2.2.0-rc9
local UI: v2.2.14
Browser: Firefox 65.0 (macOS, Linux, Windows)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Login to rancher

**Result:**
Notice the usernav menu is 1px taller than the main navbar. Firefox only.
![image](https://user-images.githubusercontent.com/45179589/5484442

[2019-03-22 18:23] davidnuzik opened #19102 "UI: On small window sizes monitoring wheels have issues when update"
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Enable monitoring (or not) be on the clusters page
- Make the window width small

**Result:**
Upon update of the wheels, the black outlines go outside the wheels:

![image](https://user-images.githubusercontent.com/45179589/54844660-a3

[2019-03-22 18:35] vincent99 commented on #19097
This is a recipe for temporarily or permanently locking yourself out when ${preferred auth provider} is unavailable, or moves, or a cert expires, a password is rotated, configuration is changed, etc.

[2019-03-22 18:36] alena1108 opened #19103 "RKE clusters: show auto generated certificates' expiration info in API/UI"
Once support is added for it on RKE side https://github.com/rancher/rke/issues/1220, we have to surface it or implement similar logic in Rancher UI/API.

In 2.2, the check for cert expiry will be done via script.

Consider the issue for 2.2.1.

[2019-03-22 18:41] davidnuzik commented on #19102
When I deleted some pods saw this with slightly less-wide than 100% width browser window:
![image](https://user-images.githubusercontent.com/45179589/54845721-5e74db00-4c97-11e9-97f8-a18571e9b40c.png)

[2019-03-22 19:01] davidnuzik opened #19104 "UI: New Global menu changes need fixes"
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Open the new global menu (have at least 2 clusters)
- Notice the colors. We have a request to change it so that when you are looking in a cluster the colors are reversed. Active is the light blue instead and what you are hovering on is

[2019-03-22 19:04] vincent99 commented on #18991
That's really just disabling the use of rancher-dns entries entirely;  Multiple `dns` entries are not a "try them all in order until you find an answer you like" thing, only the first one will be used unless it's entirely unresponsive.  If you try to resolve `something.something.rancher.internal` it's going to go to 1.1.1.1, get a nxdomain response, and give you back nothing.  Not retry 1.0.0.1 an

[2019-03-22 19:08] Gradlon commented on #14715
Same here,
Proceeded As suggested but did not help.
![image](https://user-images.githubusercontent.com/9112819/54847278-3ceb1200-4cde-11e9-9e99-85a42e4ddfc0.png)

[2019-03-22 19:10] soumyalj commented on #19093
Tested with rancher upgrade from v2.1.6 to v2.2.0-rc6 as mentioned in the issue.
Did not observed the panic.
Also, edited the cluster to the new backup/restore feature and saved the cluster. After the cluster was active, it was functional. Did not observe the panic.

[2019-03-22 19:17] mrajashree commented on #19018
Same with projects, system accounts created for them aren't removed, hence globalRoleBindings are also not being removed

[2019-03-22 19:28] kutchar commented on #19097
We use quite a lot of various software and they all disable username/password login once SAML is enabled. The whole point of SSO is so you can manage the lifecycle of users in a single place and have access/password policies set in a single place. Allowing users to login using username/password creates a security backdoor.

You also have a valid concern, I have seen it handled in two ways:
1. Have

[2019-03-22 19:42] sowmyav27 commented on #18942
This issue occurred on a fresh install of `rancher:v2.2.0-rc9`.
**Steps taken:**
1. Create a cluster - 3 nodes (All roles) AWS cluster on a single node install.
2. Take a back up snapshot. A message "Snapshot has been initiated " is seen on the UI.
3. The snapshot is not seen on the UI anymore.
4. The etcd nodes, have a copy of the snapshot.

[2019-03-22 19:46] mrajashree commented on #16942
Lot of changes/fixes have gone in for multiclusterapp controller, and one of them seems to have fixed this. Closing this.

[2019-03-22 19:46] #16942 closed

[2019-03-22 19:57] davidnuzik opened #19106 "UI: Show disabled button when GKE and EKS credentials not filled in like AKS"
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Try to create a GKE and EKS cluster without any credentials
- Now try with AKS

**Result:**
There is a difference. We allow the user to click the Next button for GKE/EKS without providing any credentials yet on AKS we disable this butt

[2019-03-22 20:00] davidnuzik opened #19107 "UI: hosted k8s providers should have the same "Next" button upon enter credentials"
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Click on GKE/EKS/AKS under "Add Cluster" notice they all have different "Next" buttons for authenticating and setting up the cluster.

**Result:**
The buttons to authenticate and configure the cluster are different for each. They shoul

[2019-03-22 20:05] davidnuzik opened #19108 "UI: Hide Cloud Credentials drop-down and "Add New" button on first cloud credentials entry for a node template"
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Have a fresh install without any cloud credentials.
- Create a node template for any provider.
- Notice you see Cloud Credentials drop-down (disabled) and Add New button (disabled)

**Result:**
![image](https://user-images.githubuserco

[2019-03-22 20:12] cjellick commented on #18787
To elaborate: if the user who created the cluster has been removed or deactivated, you will see this failure.

In the case of the "local" cluster, the creator is considered the default admin, which is why you would see this for the local cluster.

[2019-03-22 20:20] onedr0p commented on #18991
This does seem to be an issue with alpine, linking the GH issues below

https://github.com/gliderlabs/docker-alpine/issues/255
https://github.com/gliderlabs/docker-alpine/issues/476
https://github.com/gliderlabs/docker-alpine/issues/236

[2019-03-22 20:27] narfeta opened #19109 "[UI Bug] upgrade a service with portmap breaks if press enter."
**What kind of request is this (question/bug/enhancement/feature request):**

UI Bug

**Steps to reproduce (least amount of steps as possible):**

Select a workload
Upgrade service (must had a port mapping)
Focus on docker image box
Press enter
Port mapping dissapear

**Result:**

If you don't notice and press upgrade button, the service breaks.

tested on rancher version 2.1.7 / 2.2.0-rc10

[2019-03-22 20:31] mrajashree commented on #18340
TF occurred again on this build https://drone-pr.rancher.io/rancher/rancher/770/1/2

[2019-03-22 20:34] tibers opened #19110 "bug: editing cluster.yaml doesn't seem to accept dns: or addons: stanzas"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

1. Create a cluster. My cluster happens to be on prem so I created the cluster in the UI and then added my nodes via the magic SSH line.
1. Edit the cluster.
1. Add something to the yaml
1. Click Save

That something was:
[code]

I also tried the addons ar

[2019-03-22 20:54] daxmc99 opened #19112 "[rancher/helm] Bug on helm --upgrade --install --force"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Run tiller locally KUBECONFIG=/path/config tiller
(New terminal)
[code]
[code]
Deployment finishes
[code]
Add force param
`helm upgrade loitering-alligator stable/minecraft --set minecraftServer.eula=true,minecraftServer.type=VANILLA,minecraftServer.serviceT

[2019-03-22 21:12] daxmc99 commented on #19112
This bug is not present in upstream helm v2.13.0

[2019-03-22 21:30] jiaqiluo opened #19113 "REK EC2 - cluster is unusable after editing the cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- run Rancher 2.2.0-rc9
- add a EC2 node template **without** providing the `IAM Instance Profile Name`
- add a EC2 cluster using that node template
- after the cluster is active, edit and choose AWS as `Cloud Provider`
- The cluster starts updating be will

[2019-03-22 21:40] janeczku commented on #18831
Hi @Baykonur, can you run the test documented here from one of the worker nodes you are trying to import?

https://gist.github.com/superseb/89972344508e99b9336ad7eff78cb928

Note that that command is using the host network vs the container network from your test above.

[2019-03-22 21:50] davidnuzik opened #19114 "Cannot recover AKS cluster if edited with improper SSH key"
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create an AKS cluster normally (defaults or 1 node is ok)
- Edit the AKS cluster, put in garbage data in the SSH key
- You'll get the following error in the UI (as expected AKS does not like this)
`Containerservice.ManagedClustersClien

[2019-03-22 21:54] davidnuzik commented on #19114
It may be worth noting that when you edit in either v2.1.7 or v2.2 the UI plugs in the SSH key for you -- so no user should really be changing this unless necessary. This is basically just a problem if someone made a mistake and put in an invalid SSH public key such as the "garbage data" I put in. I imagine that the common issue would be putting in the _wrong_ ssh key not necessarily one that has

[2019-03-22 21:58] GregorPirolt commented on #18985
@cjellick I started to make backups of the etcd db after upgrading rancher to 2.2.0 alpha, so I can’t try the direct upgrade to rc9

I now created a new rancher and a new cluster and everthing works fine, so it must have been the bad db data.

[2019-03-22 21:59] cjellick commented on #19113
not a regression. same bug exists in 2.1.7. moving out of 2.2

[2019-03-22 22:19] sangeethah commented on #16633
On Upgraded setups we see the following error -
[code]

[2019-03-22 22:32] davidnuzik opened #19115 "When edit AKS cluster to upgrade k8s initially fails then recovers after about 20 mins"
Version: v2.1.7
Version: v2.2.0-rc9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create an AKS cluster with 1.11.8 K8s
- Edit the AKS cluster (when it is ready) and upgrade K8s to latest (1.12.5)
- Check Azure Console, upgrade is successful and there appears to be no issues with the cluster on Azure

[2019-03-22 22:46] CollinChaffin commented on #12688
Couldn't agree more.  +1 to fix wording.  Even though this is old and closed - it STILL applies on latest build today.  It is absolutely unclear in the wording, and the roughly four-word help pages on each Rancher operation are frankly a joke on such a complex product.  So for anyone else expecting this web management GUI to actually be doing something at the end of the 1st node wizard - the wordi

[2019-03-22 22:49] jiaqiluo commented on #19115
the issue is reproduced on v2.1.7

[2019-03-22 22:49] cjellick commented on #19100
@dramich this was cause by `"provisioner.cattle.io/ke-driver-update"` being stuck with value of udpating. We need a release valve that will update this annotation when there's a worst case scenario.

[2019-03-22 23:30] loganhz commented on #19110
[code]

It should be only available in 2.2

If you want to do it with RKE in 2.1, you can use RKE 0.2.0 to create a cluster and import into Rancher 2.1

[2019-03-22 23:36] loganhz commented on #19063
You cannot run a windows image in linux worker. You need to add a Windows worker and use label to schedule your workloads into the Windows worker.

Here is the doc for adding windows worker in Rancher (Experimental). https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/windows-clusters/

Please create a new issue if you have further issues or questions

[2019-03-22 23:36] #19063 closed

[2019-03-22 23:40] cjellick commented on #19099
moving out

[2019-03-22 23:41] sowmyav27 commented on #19093
Verified on an upgraded set up from `v2.1.6 to v2.2.0-rc10`.
Did not observe any panic in the server logs.
Performed edit and save of cluster, took backup snapshots, restored from a snapshot, scaling of nodes. Cluster was active & functional.

[2019-03-22 23:49] jiaqiluo opened #19117 "AKS - scaling up fails first then recovery"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Run Rancher 2.2.0-rc9
- add an AKS cluster with k8s v1.11.7 and only 1 node
- after the cluster is active, edit it to scale up to 3 nodes

**Result:**
- At first, The aks cluster will show the upgrade fails in the UI
- Azure console shows the cluste is sca

[2019-03-22 23:50] davidnuzik commented on #19104
Version: Master 2.2 (3/22/19) ImageID: 14303259f90c
Confirmed fixed. The changes now make the arrow always point to what you are looking at in the menu whether or not it is what is currently active. The change of the colors helps to make it more clear what you are currently looking at (hovering).

I smoke tested the global menu (try to break things, etc) and didn't spot any issues.

Pictured shows

[2019-03-22 23:50] #19104 closed

[2019-03-22 23:51] jiaqiluo commented on #19117
related: https://github.com/rancher/rancher/issues/19115

[2019-03-23 00:04] panho66 opened #19118 "rancher 2.x catalog cache"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement / feature request

**Steps to reproduce (least amount of steps as possible):**
Rancher catalog seems to cache chart by version number
Update question.yaml without chart version and publishing chart again.
Rancher catalog refresh not  picking up latest change. You must change chart version number.

**Result:**

[2019-03-23 00:17] arbermarleku opened #19119 "Rancher container with wrong MTU"
**What kind of request is this (question/bug/enhancement/feature request): BUG**

**Steps to reproduce (least amount of steps as possible):*Install a normal rancher. Mine is : v2.2.0-rc9*

**Result:*Rancher will start but with errors. Cause MTU is by default 1500*
![image](https://user-images.githubusercontent.com/41958760/54859020-dfb88600-4d08-11e9-9d65-2d951f7abdfc.png)

i skipped the rest of t

[2019-03-23 00:18] cjellick commented on #19117
not new. moving out

[2019-03-23 00:53] tibers commented on #19110
WELL THEN. Thanks man.

[2019-03-23 00:53] #19110 closed

[2019-03-23 00:57] #19093 closed

[2019-03-23 01:35] panho66 opened #19121 "rancher 2.x custom nginx ingress controller"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
Install additional custom nginx ingress controller using helm chart from helm stable repos
set ingress-class set to something (ingress-class=something)
port listen to 10080 rather than 80
daemonSet deployment and using NodePort
Create load balance and s

[2019-03-23 01:40] CollinChaffin commented on #18828
First experience with Rancher coming from others and after dealing with totally unclear wording on the setup, and the shortest help topics in the docs I've seen in a long time, a simple single-node setup and it doesn't work and flat out crashes with errors on multiple systems/attempts.

Is there any workaround or is a single-node installation simply not possible?  For those needing to lab/test, th

[2019-03-23 03:29] sangeethah opened #19122 "UI - Not able to enable recurring snapshots on an upgraded setup where backup snapshot was disabled."
Rancher server version - 2.1.7  (recurring snapshots disabled) -> upgrade to 2.2.0-rc11

Steps to reproduce the problem:
Fresh install of Rancher server version - 2.1.7.
Disable recurring snapshots .
Upgrade to Rancher server version - 2.2.0-rc11.

Try to enable recurring snapshots by editing cluster and going to "Advanced settings"
It says "Recurring etcd Snapshot Enabled" but both "Yes" and "No"

[2019-03-23 04:11] panho66 opened #19123 "UI - rancher 2.20.rc11 edit cluster missing information"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
upgrade rancher to 2.2.rc-11
add custom cluster check advance options have default values such as nginx ingress enabled, Recurring etcd Snapshot Enabled
edit cluster, most of advance options default data missing
update advance options and save
edit cluster a

[2019-03-23 04:55] sowmyav27 commented on #19100
verified on upgrade setup from rancher:v2.1.7 to rancher:v2.2.0-rc11. Scaling up of worker nodes work fine. They come to `Active` state and the cluster is functional.

[2019-03-23 04:58] #19100 closed

[2019-03-23 06:07] Troyhy commented on #18985
@GregorPirolt Actually my path was from initial install of  v2.2.0-alpha3 -> v.2.2.0-rc3  ->  v.2.2.0-rc6.

I'm running this on Hetzner cloud, using Hetzner provisioner  -> https://github.com/mxschmitt/ui-driver-hetzner

[2019-03-23 06:12] Troyhy commented on #18985
@GregorPirolt Thanks for your ETCD info. I will try this and report back. My idea was to try to find config from etcd and replace it with "healty" one copied from another cluster witch is RC-6 without this problem.

[2019-03-23 10:19] 4admin2root opened #19124 "The message port closed before a response was received"
**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):
- Installation option (single install/HA):

**Cluster information**
- Cluster type

[2019-03-23 10:19] #19124 closed

[2019-03-23 12:45] Troyhy commented on #19123
https://github.com/rancher/rancher/issues/18985#issuecomment-475843203

I think this is duplicate.

[2019-03-23 14:19] gd-asharov commented on #19001
I checked Debian 9 (ami-0636e459be80b841e) and it have got the same issue.

[2019-03-23 14:48] erikwilson commented on #19119
Some more info on the issue, this is not related to any specific version of Rancher but a general system level networking problem which manifests as a catalog error. The specific MTU value is network dependent so there is no safe or universal value.

Since this is not Rancher specific I am labeling this as a feature request, where we should either provide documentation, a warning, or possibly ensu

[2019-03-23 16:20] ArgonV commented on #18733
Can confirm this after upgrading to Rancher 2.1.7, the cluster to RKE 1.13, using vSphere cloud config, and vSphere node driver templates.

[2019-03-23 16:43] cjellick commented on #19123
Yes, what versions of rancher have you upgraded through?

[2019-03-23 19:38] erikwilson commented on #19118
We cache and lazy load catalog stuff as much as possible to keep things fast.

The best route for development would be using helm command-line, or use a custom git catalog, or delete the disk cache on the server as a last resort.

[2019-03-23 19:47] erikwilson commented on #19118
Sorry, disk cache thing is only for v2.2, catalogs have been refactored.

Best development route here is really helm command-line and git catalogs.

[2019-03-23 19:53] erikwilson commented on #19118
And... you probably are using git catalogs since you are using questions.yaml. Not sure if you have had a chance to try out the 2.2 RCs but they may have better behavior for development & refreshing git.

[2019-03-23 20:00] erikwilson commented on #19118
Also, for testing Rancher UI questions.yaml helm command line isn't very helpful, really need git catalog refreshes to work. Please let me know if you have any problems with this in 2.2 @panho66

[2019-03-23 20:06] kutchar commented on #19097
As a workaround I disabled the `/v3-public/localProviders/local` in the load balancer level, until we have a resolution here.

[2019-03-24 03:52] panho66 commented on #19123
rancher-2.2.alpha -> rancher-2.2-rc11 (edit cluster missing info)
rancher 2.1.7 -> rancher-2.2-rc11 OK

[2019-03-24 03:52] #19123 closed

[2019-03-24 07:06] sangeethah commented on #19122
Tested with latest build from master:

Steps to reproduce the problem:
Fresh install of Rancher server version - 2.1.7.
Disable recurring snapshots .
Upgrade to Rancher server version - 2.2.0-rc11.

Try to enable recurring snapshots by editing cluster and going to "Advanced settings"
It says "Recurring etcd Snapshot Enabled" as "No" as expected.

Able to select "Yes" and enable snapshots.

Snapsho

[2019-03-24 14:35] jalbou commented on #16371
Hello I have the same issue. Im using the same credentials for cluster provisioning and storage provisioning on vcenter.

Does anyone can help on this please ?

[2019-03-24 15:39] riaan53 opened #19125 "Feature request - Grafana loki support (log aggregation)"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature request

**Steps to reproduce (least amount of steps as possible):**
With the v6 release of Grafana they added Loki support https://github.com/grafana/loki and will be awesome if Rancher can make it an option to enable for logs.

Looks like they have a fluentd plugin: https://github.com/grafana/loki/tree/master/fl

[2019-03-24 17:17] treemore opened #19126 "use rancher how to add ETCD member after removing it"
**What kind of request is this (question/bug/enhancement/feature request):**
As mentioned in this post
https://github.com/etcd-io/etcd/issues/2676
It seems that i need to add a few environment variables before starting the deleted etcd node. But how do you add it?

**Steps to reproduce (least amount of steps as possible):**
Set up Rancher (v2.1.7)
Copy & Paste the Rancher command for adding a host

[2019-03-24 17:27] treemore commented on #19126
may be . like https://github.com/moby/moby/issues/8838
find the config.json and restart the container ?  Or is there a better way?

[2019-03-24 17:58] insekticid opened #19127 "Feature Request: podAffinity via labelSelector - missing settings in UI"
Sometimes you need to restrict POD to some NODE - you can configure nodeAffinity via UI

It would be nice to be abble to configure podAffinity restriction via UI too - you have app container and you want to run redis container on the same node, that runs app container so you can use podAffinity + labelSelector

https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#an-example-of-a-pod-

[2019-03-24 19:32] westlywright commented on #19122
Available in `2.2.17` and master

[2019-03-24 21:40] sangeethah commented on #19122
Tested with master and ui-index set to  - https://releases.rancher.com/ui/latest2/index.html".

Fresh install of Rancher server version - 2.1.7.
Disable recurring snapshots .
Upgrade to Rancher server version - 2.2.0-rc11.
Able to enabled recurring snapshots .

Edit cluster and go to "Show Advanced options" . "Recurring etcd Snapshot enabled" section reflects the correct information that snapshot

[2019-03-24 21:40] #19122 closed

[2019-03-24 23:04] sangeethah commented on #19122
Also tested the following scenarios using 2.2.0-rc12.

Fresh install of Rancher server version - 2.1.7.
Create a cluster - c1 (with recurring  snapshots enabled by default)
Create a cluster - c2 (with recurring  snapshots enabled by default)
Disable recurring snapshots .
Create a cluster - c3 with recurring  snapshots disabled while creation.
Create a cluster - c4 with recurring  snapshots enabled

[2019-03-24 23:09] kamkie opened #19129 "User "system:anonymous" cannot create namespaces at the cluster scope on GKE"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
run rancher (2.1 or 2.2) in docker (docker desktop) create cluster in gke

**Result:**
cluster is crated in gke but not visible in rancher

**Other details that may be helpful:**
2019/03/24 22:57:59 [ERROR] Cluster c-6prpf previously failed to create
2019/03

[2019-03-24 23:16] cjellick commented on #19129
This is one of our most basic use cases and it is exercised a lot. I'm not sure what the issue is, but I strongly suspect it is not a Rancher bug.

[2019-03-24 23:16] cjellick commented on #19129
Any more details you can provide would be helpful

[2019-03-24 23:20] kamkie commented on #19129
I created Google cloud service account with rolled from docs (in rancher itself there are different role names for gce iam)
Maybe there is some bug in docs then

In rancher I tried to create cluster using default Admin account and new standard user

[2019-03-24 23:22] sangeethah opened #19130 "Upgrade from 2.1.7 - Deletion of existing projects gets stuck in "removing" state ."
Rancher server version - Upgrade from 2.1.7  to v2.2.0-rc12

Steps to reproduce the problem:
Fresh install of rancher server version - 2.1.7
Create few projects with namespace and workloads.

Upgrade to v2.2.0-rc12

Try to delete one of the existing projects.
Namespaces under the project gets deleted. But the project gets stuck in "removing" state.

<img width="1136" alt="Screen Shot 2019-03-24 at

[2019-03-24 23:31] cjellick commented on #16890
@n313893254 this should not have been fixed in just the UI. it should have been fixed in the API as well. Can you open a new issue for fixing this in the api.

[2019-03-24 23:32] cjellick commented on #16890
cc @loganhz ^

[2019-03-25 00:27] shishir2019 opened #19131 "es-data-node (Failed to allocate instance .. needs host with label kraken:1)"
Rancher Version:
v1.6.17

CoreOS Version:
4.19.25-coreos

Application Stack:
Siemonster V3

Hosts:
makara, capricorn, proteus, kraken, tiamat

Issue:
When deploying Siemonster V3 Stack in Rancher, below services have error activating:

`es-data-node1 + 1 Sidekick (Failed to allocate instance [container:1i10855]: Bad instance [container:1i10855] in state [error]: Allocation failed: Host must satisf

[2019-03-25 00:35] ASwingler commented on #18828
New install of 2.1.7 does this too. I'm also hoping for a workaround. Using Digital Ocean API.

[2019-03-25 00:47] n313893254 commented on #16890
sure

[2019-03-25 02:20] sangeethah commented on #19130
Tested with v.2.2.0-rc3.

Fresh install of rancher server version - 2.1.7
Create few projects with namespace and workloads.
Upgrade to v2.2.0-rc12
Try to delete one of the existing projects.
Project gets deleted as expected,

[2019-03-25 02:21] n313893254 opened #19133 "[API] Inherited Roles can be deleted"
**What kind of request is this (question/bug/enhancement/feature request):**

bug

It should fix in the API as well. https://github.com/rancher/rancher/issues/16890

[2019-03-25 03:41] rootwuj commented on #19130
Tested with v2.2.0-rc13 from Mar 25

Step1:

Fresh install of rancher server version - 2.1.7
Create few projects with namespace and workloads.
Create cluster and project alerts.
Upgrade to v2.2.0-rc13
Delete one of the existing projects.

Validate1:

Project gets deleted as expected.
The existing alters still works.
Update existing alerts and make sure they continue to work.

Step2:

Fresh install

[2019-03-25 04:13] aiwantaozi commented on #19055
Hi @jlamillan If your docker root is not the default, you can update the docker root to Rancher(In Rancher UI, cluster option page), then reenable the logging.

[2019-03-25 04:15] cjellick commented on #13444
related: https://github.com/rancher/rancher/issues/14990

[2019-03-25 04:21] cjellick commented on #14997
looks resolved. going to close this issue

[2019-03-25 04:21] #14997 closed

[2019-03-25 04:28] #19130 closed

[2019-03-25 05:23] codekoala commented on #16371
@jalbou it has been a minute since I thought about this problem, and I have since moved on to a different job. If I remember correctly, though, I think we were able to resolve the problem on our end by removing a dash from the username? Are you attempting to use a username that includes a dash, by chance?

[2019-03-25 06:05] ArgonShepard commented on #16791
@kmova yes

[2019-03-25 06:19] langerpeng opened #19134 "when "curl" k8s rest api , show "reason: Unauthorized,code: 401""
If I direct access k8s api :
[code]
I got this result :
[code]
It tell me need login.

So, I create a api key from the racher UI. When I use the rancher api key to access k8s api :
[code]
I got this result :
[code]
But if I use the address in browser, it's ok.

![image](https://user-images.githubusercontent.com/3007317/54898497-89fdfc80-4f07-11e9-9e9b-1991fe3fd325.png)

And the kubernetes not expo

[2019-03-25 06:30] zhuer0632 opened #19135 "rancher ingress Initializing"
**What kind of request is this (question/bug/enhancement/feature request):**

bug

**Steps to reproduce (least amount of steps as possible):**

rancher ingress Initializing

**Other details that may be helpful:**

rancher  2.2.0 rc13
k3s      0.3.0-rc1

Although the state of the ingress is inilization, the domain name is accessible after being resolved to the node.

![bug](https://user-images.gith

[2019-03-25 07:09] thxCode commented on #17499
@slaterjon , There are some many `Hyper-V vswitch` logs as Rancher Windows agent monitor the worker plan and restart the `cni-binaries` and `kubernetes-binaries` conatiners without `--network none`. Simply describe it with a logic:

1. Rancher Windows agent starts
2. `docker create --name $targetName $targetImage` if cannot find the target container
3. `docker start $targetName`, the `$targetName`

[2019-03-25 09:36] kc004 opened #19136 "rancher container automatically restart"
**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI): v2.1.7
- Installation option (single install/HA): Single
- Rancher master: 4 Core and 32 GB RAM
- OS: Cent OS v7.2

We have setup rancher behind nginx load balancer.

**Cluster information**
- Kubernetes version (use `kubectl version`): v1.13.4
- Docker version: v17.03

Two

[2019-03-25 10:21] naorw opened #19137 "Ability to move namespace with non-existent projectId (e.g. when importing cluster)"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
As Admin user:
Import an existing cluster to Rancher. Going to Namespaces, trying to allocate / move existing namespaces to projects. Expected result:
Being able to move to default / system projects.

**Result:**
Unable to move via Web interface or Rancher C

[2019-03-25 10:47] Troyhy opened #19138 "Updated cluster from 2.1.3 to 2.2.0-rc13. Cluster is missing etcd snapshot feature"
*Updated cluster and expected to have etcd snapshot feature available*
Also updated cluster to latest available kubernetes version.

![image](https://user-images.githubusercontent.com/587882/54913645-dd6a4d80-4efb-11e9-9e77-57e4c317a49f.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.0-rc13` UI: `v2.2.17` |
|Route|`global-admin.clusters.index`|

[2019-03-25 11:18] hadifarnoud commented on #18866
I gave up on fixing this cluster. would be nice to know how to recover from such issue if it happens in future

[2019-03-25 11:18] #18866 closed

[2019-03-25 11:30] gatici commented on #16454
Dear @armanriazi, did you  find the solution for  it?

I have the same problem.

[2019-03-25 11:32] ChrisMcKee opened #19139 "Release Hardening and benchmark assessment as part of docs"
* https://releases.rancher.com/documents/security/latest/Rancher_Hardening_Guide.pdf
* https://releases.rancher.com/documents/security/latest/Rancher_Benchmark_Assessment.pdf

The conversion of theses docs to PDF causes a lot of the markdown syntax to be dodgy (i.e. the encryption yaml isn't valid)

It would be better as part of the docs.

[2019-03-25 11:33] superseb commented on #19139
This is covered in https://github.com/rancher/docs/issues/1157

[2019-03-25 11:33] #19139 closed

[2019-03-25 11:42] RRadziejewski opened #19140 "[rancher-python]"
Hello,

I have a question about rancher python api.
I need functionality to launch launcher app from catalog.
For now i am using below code.

`
launchAppRequestData = {

            "projectId": projectID,
            "name": appName,
            "prune": False,
            "type": "app",
            "targetNamespace": namespace,
            "externalId": "catalog://?catalog=" + catalogue.lower()

[2019-03-25 12:00] gatici commented on #17105
Dear  @superseb ,

Is there  any solution for it ?
how  this  cattle-cluster-name  will be  resolved?

[2019-03-25 12:04] kingsd041 opened #19141 "Cannot specify the docker version of the vSphere node"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. I want to specify the docker version, so modify Global -> Settings -> engine-install-url to `http://ip/18.09.sh`.
2. Change the default `docker_version=18.09.3` to `docker_version=18.09.0` and upload it to `http://ip/18.09.sh`
3. Create a vSphere Node Tem

[2019-03-25 12:08] Baykonur commented on #18831
Thanks @janeczku , I have just tested this, similar to the initial test, please have a look below:

[code]

I still have the same handshake error

[2019-03-25 12:23] jalbou commented on #16371
@codekoala Yes they was one, I changed for another one no longer the message but still not able to create a persistant disk on my pods

[2019-03-25 12:37] ChrisMcKee commented on #19095
Fails silently on yaml config supplied
Converting as described above to

[code]

Works as you'd expect

[2019-03-25 13:09] gwiersma opened #19142 "Rancher server as Daemonset"
**What kind of request is this (question/bug/**enhancement**/feature request):**
When deploying the Rancher HA Helm chart, sometimes the rancher server container is being placed alongside another rancher server container on the same host. We experienced a issue where all of the rancher server containers where placed on one node. When the node was rebooting, rancher server was down. This problem wo

[2019-03-25 13:38] MiTschMR commented on #19126
Hi treemore

Please edit your post and fill out the additional information (Environment information and cluster information).

I assume you did the following:
1. Set up Rancher (v2.x?)
2. Copy & Paste the Rancher command for adding a host to your Kubernetes-Cluster
3. Remove an Etcd-Node
4. Readd the removed node

In what state is the node you are trying to add again? Active, Updating or anything

[2019-03-25 13:38] loganhz commented on #19141
root cause is https://github.com/rancher/ui/blob/f777cf1589c3c9ec4d6015ada3e0c5d99a3e3c5d/lib/nodes/addon/components/driver-vmwarevsphere/component.js#L18

[2019-03-25 13:57] speedfire514 commented on #16133
This is something we encountered as well. I don't have any workaround but either don't use rancher logging and use fluentd yourself or reinstall/restart rancher cluster logging pods

[2019-03-25 14:08] RRadziejewski commented on #19140
I believe the same goes for replicaSets DaemonSets Jobs Workloads , is it possible to do it via API?

[2019-03-25 14:25] Razikus commented on #19140
Why this action to create app isn't listed in projects action list?

[2019-03-25 14:31] treemore commented on #19126
@MiTschMR   i just  remove the cluster and rebuild rancher can resolve this problem .

some delele operator not run in the rancher ui . but use docker exec -it  etcd-containder  .  and use the etcdctl to remove the member.

[2019-03-25 14:43] MiTschMR commented on #19126
What I had to do (I had the problem too) was the following:
1. Unmount all unused pod-volumes with `umount $(df -HT | grep '/var/lib/kubelet/pods' | awk '{print $7}')`
2. Remove some data folders which can cause problems if they have config files or data in it with
`rm -rf /var/lib/etcd /etc/kubernetes/ssl /etc/cni /opt/cni /var/lib/cni /var/run/calico /etc/kubernetes/.tmp/`
3. Readd the node to t

[2019-03-25 14:48] codereflection opened #19144 "rancher/alertmanager-helper creating log noise by logging to stderr"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
1. Build out a custom cluster from the UI
2. Output the logs from the custom cluster to Splunk or other log collector where you can see the container log files

**Result:**
The log entries for the rancher/alertmanager-helper container are all in the

[2019-03-25 15:16] riaan53 opened #19145 "Monitoring crashes on 2.2.0RC-13"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Dont know the exact steps but happened a few times. Looks like it crashes when theres a bit of load from Grafana side and struggles to recover. We generate some network traffic with iperf to test something else and then monitor it on the nodes and cluster Gr

[2019-03-25 15:32] loganhz opened #19146 "Cannot add CCE cluster in 2.2.0-rc13"
rancher/rancher:v2.2.0-rc13

Steps:

1. Enable Huawei CCE cluster driver
2. Add a cluster

Result:

Cannot add the cluster
[code]

It looks like there is a recent update in Huawei CCE side. The optional field is validated as a required field now.

It should be a bug of Huawei CCE

https://support.huaweicloud.com/api-cce/cce_02_0242.html

[2019-03-25 15:34] thxCode commented on #19145
a similar issue: https://github.com/rancher/rancher/issues/18441

[2019-03-25 15:39] loganhz opened #19147 "Cannot edit CCE cluster when eipids is null"
rancher/rancher:v2.2.0-rc13

Steps:

1. Enable Huawei CCE cluster driver
2. Add a CCE cluster
3. Edit the CCE cluster
4. Click Save

Result:

Cannot edit it and it says `eipids can not be null`

[2019-03-25 15:44] loganhz opened #19148 "Support 1.12.6 for Alibaba Cloud ACK"
rancher/rancher:v2.2.0-rc2

Now 1.12.6 is the only available version for managed k8s.
But in Rancher UI there is only 1.12.4  available which cannot be used now.
Users have to input `1.12.6-aliyun.1` manually for Alibaba Cloud ACK

[2019-03-25 15:47] mshack70 commented on #17617
I also see this issue with a fresh 2.1.7 rke rancher install.  Lots of logs like this are generated.

[2019-03-25 16:11] janeczku opened #19150 "Add support for adding arbitrary groups via the UI for SAML auth providers"
Currently, there is no way for an administrator to add arbitrary groups (groups that the currently logged in user is not a part of) as members of a cluster or project in Rancher while using SAML access controls. Rancher will interpret the arbitrary group as a user being added.

This blocks the following typical workflow in central IT:
A cluster or project is provisioned for an internal customer an

[2019-03-25 16:21] steveabbitt commented on #15145
Is there any update on when this might be added to Rancher?

[2019-03-25 16:28] loganhz opened #19152 "Support getting ACK supported k8s versions from API"
rancher/rancher:v2.2.0-rc13

Now the ACK support k8s versions are hardcoded in Rancher UI.

[2019-03-25 16:34] davidnuzik commented on #19060
Tested in v2.1.7 and cannot reproduce in that version.
Tested in v2.2.0-rc12 and reproduced the issue.

[2019-03-25 16:48] westlywright commented on #19147
The fix is in tag `2.2.18`, master is not merged yet.

[2019-03-25 16:49] westlywright commented on #19148
The fix is in tag 2.2.18, master is not merged yet.

[2019-03-25 17:07] davidnuzik commented on #18616
You can also see this if you just try to edit one of the default alert groups we include. 1) Notifiers should never be required/mandatory. If a user wants they can just see alerts firing in the Alerts view if they so wish (no notifications). 2) We should be able to remove all notifiers and if none exist have a button to add one.

Here's an example. I just edited one of the default alert groups we

[2019-03-25 17:11] davidnuzik commented on #18498
v2.2.0-rc12
The UI prompts the user to specify the namespace -- but I think there is an argument to be made here why doesn't it just make it for us based on the YAML? For example if the namespace does not yet exist then just create it under the project.
![image](https://user-images.githubusercontent.com/45179589/54939661-5ced2200-4ee6-11e9-9a9a-99b116bf1a3e.png)

[2019-03-25 17:19] davidnuzik commented on #18445
Replicated v2.2.0-rc12

[2019-03-25 17:21] shinebayar-g commented on #19046
Found an answer for my poor question [here](https://www.joyfulbikeshedding.com/blog/2018-03-26-studying-the-kubernetes-ingress-system.html).

[2019-03-25 17:21] #19046 closed

[2019-03-25 17:28] loganhz commented on #19060
@westlywright @davidnuzik

in 2.1.x, `Edit YAML`  converts the key/value pairs to YAML and `Edit as Form` converts the YAML to key/value pairs. The converting stuff is not stable if your YAML is complex.

in 2.2.x, Rancher supports the `valuesYaml` field. Now UI will send the real YAML to backend directly instead of converting to key/value pairs first. Now if you click save in `Edit as YAML` mode,

[2019-03-25 17:31] cjellick commented on #19060
That is incredibly confusing

[2019-03-25 17:33] davidnuzik commented on #18445
This issue also happens in v2.1.7 taking out of v2.2 milestone.

[2019-03-25 17:37] loganhz commented on #19060
Here is one of the converting issue if we want to support the convert.

https://github.com/rancher/rancher/issues/16680

[2019-03-25 17:40] westlywright commented on #19060
So I'm understanding this like so:

2.1.x - switching back and forth between `Edit as Yaml` or `Edit as Form` was fine because the answers were sent as k/v pairs regardless.

2.2.x - we added `valuesYaml` to the api, so if the user `edits as yaml` we send the yaml directly to the api in `valuesYaml` param and do not populate the answers fields and vice versa, `edit as form` sends the answers in k/

[2019-03-25 17:40] loganhz commented on #19060
The thing is I can not make sure the converting stuff between YAML and key/value pairs is 100% correct.

[2019-03-25 17:41] loganhz commented on #19060
@westlywright Yes, it is correct.

[2019-03-25 17:59] davidnuzik commented on #18625
v2.2.0-rc12 cannot reproduce in this version.
I created an HA Rancher setup using suggestions on the Rancher docs (3 nodes, setup Amazon R53 DNS, etc).
I created a GKE cluster. On that I created an nginx workload with nodeport port 80. I created an ingress using "Use as the default backend" and successfully saved and it created. (L7 Ingress) it didn't seem to break anything.

Either I have done so

[2019-03-25 18:04] westlywright commented on #19147
should be in master now too

[2019-03-25 18:04] westlywright commented on #19148
should be in master now too

[2019-03-25 18:16] rajha-korithrien commented on #17816
I am also having this problem following the same instructions. I can confirm the issue is not with my HA nginx proxy as I have confirmed packets get sent from the HA proxy system to each of the RKE provisioned nodes on port 80 when cert-manager tries to do a self test. Therefore the problem must be with the ingress setup by the Rancher helm chart.

Here is the log of my cert-manager
[code]
[code]

[2019-03-25 18:18] cjellick commented on #19060
we need to talk about how we will addresss this for 2.2.1

[2019-03-25 18:22] loganhz commented on #19147
Validated in 2.2.0-rc14 and master. Now we can edit the cluster.

[2019-03-25 18:24] loganhz commented on #19148
Validated in 2.2.0-rc14 and master. Now we can add managed k8s with default setting.
`1.12.6-aliyun.1` is the default version and workloads/shell works well.

[2019-03-25 18:26] loganhz commented on #19148
The only change is the k8s version from 1.12.4 to 1.12.6. Before the managed cluster can not even provision. Now it is functional.

[2019-03-25 18:27] micw commented on #18445
Not a bug because it existed in the release before? ^^

[2019-03-25 18:32] alena1108 opened #19154 "Auto rotate self signed server certificate when it is close to expiration"
On a standalone rancher install, a server generated self signed certificate gets an expiration of 1 year. We have to add a certificate monitor logic - can run once a day - that would regenerate the cert when it's close to expiry.

Here is the place where the cert gets generated:

https://github.com/rancher/rancher/blob/master/pkg/dynamiclistener/server.go#L391

The way to check the certificate exp

[2019-03-25 18:35] alena1108 opened #19155 "Backport: Auto rotate self signed server certificate when it is close to expiration"
Backport https://github.com/rancher/rancher/issues/19154

[2019-03-25 18:36] alena1108 opened #19156 "Backport: Auto rotate self signed server certificate when it is close to expiration"
Backport https://github.com/rancher/rancher/issues/19154

[2019-03-25 18:37] alena1108 opened #19157 "Backport: Auto rotate self signed server certificate when it is close to expiration"
Backport https://github.com/rancher/rancher/issues/19154

[2019-03-25 18:38] soumyalj commented on #19138
@Troyhy : When we upgrade from a version prior to v2.2.0, we have to edit the cluster and save it. Only then the new etcd snapshot feature will be available.
There will be a note in the UI about this feature when we edit the cluster

[2019-03-25 18:54] vincent99 commented on #18445
Still a bug, just one that's been around probably forever so it's not going to hold up 2.2.0.

[2019-03-25 18:56] vincent99 commented on #19060
The intent was for the UI to always use produce a `valuesYaml` and never use `answers` anymore.

[2019-03-25 20:18] davidnuzik opened #19158 "Change %taintsSection.detail% text"
Version 2.2. (Master) 3/25/19

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Go to the node details page. Look at the taints seciton subtext.
![image](https://user-images.githubusercontent.com/45179589/54950951-b877d980-4eff-11e9-9479-566a55460dd8.png)

**Result:**
This text is a bit confusing. Perhap

[2019-03-25 20:20] davidnuzik opened #19159 "UI: Node detail page has very small text for IP Address"
Version: 2.2 Master (3/25/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Look at the details page for a node

**Result:**
The IP Address seems to have smaller text (for the IP Address value). Is there a reason for this? If not could we increase the font size to be in alignment with the rest of the

[2019-03-25 20:34] davidnuzik commented on #17381
Suggestion: Perhaps we can just put "..." at the end for cluster/project names when they approach the width of the nav bar. (and that should keep gloabal menu width under control I think)

[2019-03-25 21:27] davidnuzik commented on #18619
v2.2.0-rc14 replicated.

[2019-03-25 21:39] superseb opened #19161 "Enable arm64/aarch64 in install-docker scripts"
**What kind of request is this (question/bug/enhancement/feature request):**
task

**Steps to reproduce (least amount of steps as possible):**
arm64/aarch64 is blocked in the current scripts, we can enable it for 18.03 up to 18.09 to be able to use the scripts as the repository from Docker contains the packages for it.

[2019-03-25 21:41] deniseschannon opened #19162 "incorrect information on global dns entries for how to program your ingress"
This helper text in global dns entries was incorrect:

```To finalize configuring this Global DNS entry, you must add the following annotation label ( rancher.io/globalDNS.<HOSTNAME> ) on the ingress for your application or project, where <HOSTNAME> is the host name used in the routing rules of your ingress. This <HOSTNAME> must also match the FQDN of this Global DNS entry.```

It must be updated

[2019-03-25 21:54] riaan53 opened #19163 "Feature request - add k8s controller-manager and etcd metrics to standalone RKE created cluster + HA Rancher install"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Steps to reproduce (least amount of steps as possible):**
Create a cluster with RKE and install HA rancher via helm.

**Result:**
All metrics except controller-manger and etcd are available.

**Other details that may be helpful:**
All etcd certs are available in RKE created config map in kubernetes (ful

[2019-03-25 22:03] dramich commented on #19140
Hey @RRadziejewski, yes you can do this through the python client. Anything that exists in rancher can be done through the python client as it is auto generated based off the schema of the server you are using it with.

For the apps, you need a project client as they live under a project. The same is true for the other resources you mentioned as well.

[code]

@Razikus Creating an app is not a pro

[2019-03-25 22:27] westlywright commented on #19162
2.2.19

[2019-03-25 23:11] davidnuzik opened #19165 "UI: Catalog Usability Issues"
Version: v2.2.0-rc14

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, Usability

**Steps to reproduce (least amount of steps as possible):**
- Visit the apps page and launch
- Notice that Partner cards have a gold border. This makes it look like they are focused and that we can potentially use arrow keys to navigate (change focus) of cards.
![image](https://user-i

[2019-03-25 23:19] d-almeida opened #19166 "[vsphere] Network protocol profile ignored if cloud-init specified"
**- Background -**
I'm not sure if this is expected behavior, hence "question."

We're trying to automate the deployment of Kubernetes clusters in VSphere using network protocol profiles.

In our network we're doing TLS interception/URL filtering so all traffic is being re-encrypted with our internal CA. This is causing RancherOS (i.e. the node being deployed) to throw certificate validation error

[2019-03-25 23:30] prachidamle commented on #18932
The reason why the node IP address stays intact in the DNS entry even if the node is powered down is that the Ingress continues to be associated with the node ip. GlobalDNS controller picks up the endpoints to be programmed on the external-DNS from the Ingress of the MCAPPs which are annotated to use the GlobalDNS.

Since the Ingress address itself is not updated when the node is shutdown, the con

[2019-03-25 23:49] jiaqiluo opened #19168 "Catalog App - need to click the launch button twice to get the app launched"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- go to `App` -> `Launch` to launch an app from the existing list
- click the `Launch` button
<img width="1485" alt="screenshot" src="https://user-images.githubusercontent.com/6218999/54961329-6e055580-4f1d-11e9-9db8-c883e2600015.png">

**Result:**
I need to

[2019-03-25 23:56] gabrielcalderon opened #19169 "Feature Request: Deploy k3s cluster from Rancher"
Currently there's no way to deploy k3s cluster from Rancher. The only work around is to first create the cluster/nodes and then import it into Rancher.

Expected behavior: Deploy k3s cluster from Rancher.

Are there any plans to support this?

[2019-03-25 23:58] davidnuzik commented on #19162
Version: v2.2.0-rc15
Confirmed the UI now shows this for BOTH "Multi-Cluster App" and "Projects" selection when creating a GDNS entry (_or editing as well_). This section has now been moved above as well. The text is exactly as requested per the issue description.

Text:

Screenshots:
![image](https://user-images.githubusercontent.com/45179589/54961721-10720880-4f1f-11e9-9acc-918c2f389c68.png)
![i

[2019-03-25 23:58] #19162 closed

[2019-03-26 00:01] jiaqiluo opened #19170 "Monitoring - user can delete apps for monitoring from the App list"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
- enable cluster/project monitoring (in my case it is proejct monitoring)
- notice that the app is launched
- delete the app from the list
<img width="1431" alt="screenshot" src="https://user-images.githubusercontent.com/6218999/54961571-7e6a0000-4f1

[2019-03-26 00:26] shishir2019 commented on #15015
Hi SuperSeb,

[2019-03-26 00:27] shishir2019 commented on #15015
I am not sure if i can re-open this issue. But i am facing the issue deploying stack in rancher. See below details. Hope you can help:

[2019-03-26 00:27] shishir2019 commented on #15015
Rancher Version:
v1.6.17

CoreOS Version:
4.19.25-coreos

Application Stack:
Siemonster V3

Hosts:
makara, capricorn, proteus, kraken, tiamat

Issue:
When deploying Siemonster V3 Stack in Rancher, below services have error activating:

es-data-node1 + 1 Sidekick (Failed to allocate instance [container:1i10855]: Bad instance [container:1i10855] in state [error]: Allocation failed: Host must satisfy

[2019-03-26 00:29] cjellick commented on #19169
Not in the near term. We are going to keep it as import-only for the time-being. We are still feeling out how k3s fits into the ecosystem and experimenting with it.

[2019-03-26 01:00] loganhz commented on #16588
Close it as we don't need system namespace in project now

[2019-03-26 01:00] #16588 closed

[2019-03-26 01:32] loganhz commented on #18664
Close in favor of https://github.com/rancher/rancher/issues/18787

[2019-03-26 01:32] #18664 closed

[2019-03-26 01:37] vincent927 opened #19172 "Kubelet volume-plugin-dir"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
1.I deploy a rook and ceph block storage
2.And start a mysql pod error

**Result:**

[code]

**Other details that may be helpful:**

I find this doc https://rook.io/docs/rook/v0.9/flexvolume.html , and  update kubelet config by edit host  ```/etc/kubern

[2019-03-26 01:48] orangedeng commented on #18618
Can not reproduce  in master 3/26. Closing it.

[2019-03-26 01:48] #18618 closed

[2019-03-26 02:00] loganhz opened #19173 "Windows 1809 Support Alpha"
#### OS
- [x] **Support Windows 1809**

#### Bugs
- [x]  **`nginx-proxy` container sometimes fails to start**: https://github.com/rancher/rancher/issues/16074
- [x] **kubelet (Kubernetes 1.12.) wont start on windows**: https://github.com/rancher/rancher/issues/17341
- [x] **Node scheduling problem Linux/Windows for Rancher System components**: https://github.com/rancher/rancher/issues/17423
- [x]

[2019-03-26 02:14] sangeethah opened #19174 "GDNS Entry-Broken links when user has access to GDNS entry that points to a MCAPP which has targets he does not have access to."
Rancher server version - v2.2.0-rc15

Setup:
Seup has 3 clusters.
Cluster1
Cluster2
Cluster3 - testuser2 is cluster owner and project member for "default" project.

Steps to reproduce the problem:
As admin user , Create a MCAPP1 with targets from Cluster1/Default , Cluster2/Default .
Add `testuser2` as owner of MCAPP1.

Create a GDNS entry pointing to MCAPP1 and add `testuser2`  as owner.

Log in

[2019-03-26 02:25] gitlawr commented on #18753
I think the root cause is the pipeline namespace is removed once but the registry credential for the internal registry is not.
When the registry is recreated, the registry credential does not match the actual config of the registry.

To recover from this state, delete both the `pipeline-docker-registry` registry credential and the pipeline namespace, then run the pipeline. Necessary resources will

[2019-03-26 02:35] rootwuj commented on #19148
Version - 2.2.0-rc15  3/25
Verified fixed

[2019-03-26 02:35] #19148 closed

[2019-03-26 03:08] rootwuj commented on #19147
Version - 2.2.0-rc15  3/25
Verified fixed

[2019-03-26 03:08] #19147 closed

[2019-03-26 03:08] rootwuj commented on #19146
Version - 2.2.0-rc15  3/25
Verified fixed

[2019-03-26 03:08] #19146 closed

[2019-03-26 03:56] loganhz commented on #19158
Please let me know the text. I will submit a PR to fix it.

[2019-03-26 04:06] aiwantaozi commented on #19058
@tfiduccia Could you help check again?

[2019-03-26 04:17] aiwantaozi commented on #18388
Hi @kingsd041 this should be fixed, could you check?

[2019-03-26 05:30] Troyhy commented on #19138
Hey, Thanks. I missed that one! Now working.

[2019-03-26 05:30] #19138 closed

[2019-03-26 06:08] pseckd opened #19175 "Add target Port to Service Discovery interface"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

**Steps to reproduce (least amount of steps as possible):**
Go to worloads -> Service Discovery -> Add Record, choose "One or more external IP addresses" -> Add the record

**Result:**
The target port is allways 42 (the default).
You can add a record for an external IP Address but not a target Port in the

[2019-03-26 06:26] rootwuj commented on #18727
Version - 2.2.0-rc15  3/26
The error message is correct when the resource config is invalid.
Verified fixed

[2019-03-26 06:26] #18727 closed

[2019-03-26 06:51] rootwuj commented on #18716
Version - 2.2.0-rc15  3/26
The `build image` and `run script` steps can be run successfully under the default memory limit.
Verified fixed

[2019-03-26 06:51] #18716 closed

[2019-03-26 07:09] aiwantaozi commented on #18470
Fixed in 2.2

[2019-03-26 07:13] aiwantaozi commented on #18395
Dry run does not verify ssl certitificate, it call fluentd binary to dry run the configure.

[2019-03-26 07:15] aiwantaozi commented on #18388
Duplicated with https://github.com/rancher/rancher/issues/18470

[2019-03-26 07:15] #18388 closed

[2019-03-26 07:31] riaan53 commented on #19145
I dont know if its related but with the default settings when monitoring is enabled on Rancher (500Mb ram) the prom container its getting OOM killed the whole time. This cluster is not tested with iperf just bare 3 node RKE + rancher (2.2.0RC-13) HA installed and playing on Grafana page. The cluster was created +/-12h. I upped the memory to 1Gb to see if that helps.

<img width="1477" alt="Screens

[2019-03-26 07:48] RRadziejewski commented on #19140
Thank you for your answer dramich.
I have also a question how to access v3-public api to login with username and password through the api?

[2019-03-26 08:26] loganhz opened #19176 "UI: Windows 1809 Support Alpha"
UI for https://github.com/rancher/rancher/issues/19173

* Windows Options should be disabled unless users are using k8s 1.14 or above version and selected Flannel as network provider.

* Users should be able to choose `Host Gateway` or `VXLAN` mode as  `Flannel Backend`

* `VXLAN` should be the default backend mode

* Users should be able to configure `Node Name` and labels.

![image](https://user

[2019-03-26 09:02] nanomad opened #19177 "Rancher-created registry secret is missing the auth field"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

1. Create a registry secret from the UI
2. Inspect it via kubectl
3. Decode the .dockerconfigjson field

**Result:**
[code]
**Expected Result:**
[code]
**Other details that may be helpful:**

If the secret is created via the rancher-supplied kubectl then t

[2019-03-26 10:11] pirminjanka opened #19178 "Menu item - Multi-Cluster Apps and Global DNS not visible"
**What kind of request is this (question/bug/enhancement/feature request):**
question or bug

**Steps to reproduce (least amount of steps as possible):**
Install Rancher Server 2.2.0-rc15
Login to the UI as admin

**Result:**
menu item - Multi-Cluster Apps and Global DNS are not visible in Global Section

**Other details that may be helpful:**

**Environment information**
- Rancher version (`ranch

[2019-03-26 10:15] RobHofmann opened #19179 "Continuously recreating containers"
**What kind of request is this (question/bug/enhancement/feature request):**
Question/bug

**Steps to reproduce (least amount of steps as possible):**
Use CentOS 7. Install 3 master nodes, install 4 worker nodes. Look at /var/log/messages on the workers and see a lot of spamming.

**Result:**
/var/log/messages being spammed

**Other details that may be helpful:**

**Environment information**
- Ran

[2019-03-26 10:23] superseb commented on #19178
Multi cluster apps are under Apps in the Global view, and Global DNS is only supported in HA setup. This will be outlined in release notes/docs when it is released.

[2019-03-26 10:23] #19178 closed

[2019-03-26 10:29] roysG commented on #15310
any update?

[2019-03-26 13:14] deniseschannon commented on #13304
@Kralor-Guldan can you make a new issue instead of commenting on this one?

[2019-03-26 13:49] orangedeng opened #19181 "Add custom RBAC roles for Logging"
We should have built-in roles for people manage logging like we do for other components https://rancher.com/docs/rancher/v2.x/en/admin-settings/rbac/cluster-project-roles/#cluster-role-reference.

Add roles for cluster:
- Manage cluster logging configuration
- View cluster logging configuration

Add roles for project:
- Manage project logging configuration
- View project logging configuration

[2019-03-26 14:05] superseb commented on #19163
This is going to be fixed in https://github.com/rancher/rancher/issues/18044

[2019-03-26 14:05] #19163 closed

[2019-03-26 14:13] dal00 commented on #16246
Would be nice to get clarification on this since 2.2 is released now and I can't find any references to this in the changelogs.

[2019-03-26 14:17] yvespp commented on #16246
Relevant change: https://github.com/rancher/rancher/pull/18461

[2019-03-26 14:22] fedeostrit opened #19183 "upgrade Agent version and component on Windows 1803 host"
hello, I have a cluster v2.2.0 with 3 nodes, two are linux Centos v7 with roles: etcd, control plane and worker
later I have another node with windows 1803 with role worker.
the problem I have is that the cluster in the linux nodes updates the components themselves and deploys them when I perform an update but in the window node this does not happen, I was running the agent rancher agent: v2.2.0-r

[2019-03-26 15:57] fedeostrit commented on #19183
another problem I have with adding a host windows 1803 with kubernates v1.13.4 is that the host does not register since there is a kubelet parameter that is not taking this version, if I leave the version kubernetes v1.11 if it is possible to add to the cluster but I thought that in the version rancher v2.2 this problem with the windows agent was going to solve

F0326 12:55:36.269829    5920 serve

[2019-03-26 15:59] rbq commented on #19145
Same here, the Prometheus container gets OOMKilled over and over. Trying my luck with 1Gi as well.

[2019-03-26 16:14] cjellick commented on #19145
The docs have a guide on the resource consumption you should expect. Hopefully that helps https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/monitoring/#resource-consumption

[2019-03-26 16:16] cjellick commented on #19181
Is this coming from a real user? I don't strongly believe that people actually use these fine-grained roles and I'd rather not add more if we dont need to

[2019-03-26 16:22] rbq commented on #19145
@cjellick Thanks! Found the settings under Tools → Monitoring and increased it there. I only have three nodes though.

Btw., I think the defaults should be increased so that monitoring works out of the box.

[2019-03-26 16:29] davidnuzik opened #19184 "UI: Firefox Issues"
Version: v2.2.0

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

- Create a project. Expand the "Container Default Resource Limit" pane. Notice that CPU Reservation is in the wrong area:
![image](https://user-images.githubusercontent.com/45179589/55014549-6474ff80-4fa8-11e9-809b-504072de0ae8.png)

- Crea

[2019-03-26 16:33] IsNull commented on #19145
Yes, the limit should probably not be that conservative.
Optimally, the default value should depend on the number of nodes in the cluster. A single node works out of the box (was my test setup), the staging system with 3 nodes got the same OOMKills issue.

* 1 Node: 500Mi Memory is sufficient
* 3 Nodes: 500Mi Memory leads to OOMKills, fixed with >= 1000Mi

[2019-03-26 16:38] davidnuzik opened #19185 "UI: Catalog (Launch Page) drop-down menus do not dismiss"
Version: v2.2.0

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- At the global level (or project) launch Apps, click the Launch button to view the catalog listings.
- Click on either of the drop-down menus. Pick something.
![image](https://user-images.githubusercontent.com/45179589/55015807-c6ceff80-4fa

[2019-03-26 16:40] materemias commented on #18735
keeps doing the same with v2.2.0

[2019-03-26 16:44] qbert opened #19186 "Failure to create AKS cluster"
After creating a SP following the linked instructions ("You can find instructions on how to create an Azure AD Service Principal here.") the command fails with

_failed to get orchestrators: containerservice.ContainerServicesClient#ListOrchestrators: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="AuthorizationFailed" Mes

[2019-03-26 16:58] IsNull opened #19187 "Monitoring - Cluster Metrics is reporting only 1 out of 3 nodes"
**What kind of request is this (question/bug/enhancement/feature request):**

Bug

**Steps to reproduce (least amount of steps as possible):**

* Create a 3 node cluster
* Enable monitoring

**Result:**

Monitoring generally works, Cluster metrics are only showing data from node-3. All other metrics are reported from all the nodes:

### Cluster Dashboard

<img width="1268" alt="Screenshot 2019-03-

[2019-03-26 17:06] jiaqiluo commented on #18830
Observe the same issue on v2.2.0

[2019-03-26 19:06] eroji opened #19189 "Upgrade to Rancher 2.2 GA: Failed to get job complete status for job rke-network-plugin-deploy-job in namespace kube-system"
**What kind of request is this (question/bug/enhancement/feature request):** Bug

**Steps to reproduce (least amount of steps as possible):** Upgrade Rancher using rancher-latest/rancher repo via Helm

**Result:** Previously provisioned Custom cluster is stuck with the following status "Failed to get job complete status for job rke-network-plugin-deploy-job in namespace kube-system"

**Other detai

[2019-03-26 19:59] #19129 closed

[2019-03-26 20:00] kamkie commented on #19129
I created new service account in GKE and cluster started properly

[2019-03-26 20:17] jmreicha opened #19194 "error building controller context: failed to wait for apiserver being healthy"
**What kind of request is this (question/bug/enhancement/feature request):**

bug

**Steps to reproduce (least amount of steps as possible):**

Start the container.

[code]

**Result:**

The server looks like it starts to bootstrap itself but then shows the following error message.

[code]

After the first failure, the container starts bootlooping and crashing another error.

[code]

**Environment

[2019-03-26 20:26] rbq commented on #18535
Same issue with 2.2.0 (latest). Is there a way to remove the failed deployment?

[2019-03-26 20:45] dramich commented on #19140
You can access it through `v3-public/localProviders/local?action=login` based off just local auth. If you enabled a provider you can't do it through the API as we redirect to the provider for login. If using the python client you should have an api token to use with it as we don't support the login flow when it's not being done through the UI.

[2019-03-26 21:35] jira-sync-svc commented on #18612
➤ hussein@rancher.com commented:

Proposed solution:

  * Adding the ability to rotate 2.1.x and 2.0.x clusters to system-tools, the code will do the following:
    * Use kubeconfig to connect to rancher
    * Fetch the cluster object and rkeconfig of the target cluster
    * run rke cert rotate with the fetched rkeconfig

Example:

./system-tools cert rotate --kubeconfig kube_config_cluster.yml -

[2019-03-26 21:41] jira-sync-svc commented on #18613
➤ hussein@rancher.com commented:

Proposed solution:

  * Adding the ability to rotate 2.1.x and 2.0.x clusters to system-tools, the code will do the following:
    * Use kubeconfig to connect to rancher
    * Fetch the cluster object and rkeconfig of the target cluster
    * run rke cert rotate with the fetched rkeconfig

Example:

./system-tools cert rotate --kubeconfig kube_config_cluster.yml -

[2019-03-26 21:42] neilfrndes commented on #12530
I added these AWS managed policies to the rancher user to deploy a cluster with AWS:
AmazonEC2FullAccess
IAMFullAccess
ElasticLoadBalancingFullAccess
AmazonSNSFullAccess
AWSDeepRacerCloudFormationAccessPolicy
EKS-Admin -> https://docs.aws.amazon.com/eks/latest/userguide/EKS_IAM_user_policies.html

[2019-03-26 22:05] superseb commented on #19194
Merging into https://github.com/rancher/rancher/issues/18679

[2019-03-26 22:05] #19194 closed

[2019-03-26 22:05] superseb commented on #18679
See https://github.com/rancher/rancher/issues/19194 for another possible lead

[2019-03-26 22:27] skyscooby commented on #15837
Yes it's very difficult to figure out exactly what you need to type into the fields when you have a lot of organisational subgroups in the folders, resource pools, datastores etc.. having dropdowns generated based on the user account already supplied in the credentials would make success a higher probability... I have been trying quickly after each release to get a rancher cluster going on vsphere

[2019-03-26 22:45] aliazlan4 commented on #14037
Any update in v2.2?

[2019-03-26 23:01] loganhz commented on #19175
Please try 2.2.0. There is an advanced section in service page. You can configure everything for a k8s service

[2019-03-26 23:01] #19175 closed

[2019-03-26 23:04] loganhz commented on #19183
Close in favor of https://github.com/rancher/rancher/issues/19176

[2019-03-26 23:09] #19183 closed

[2019-03-26 23:17] loganhz commented on #19187
@IsNull Can you check it in Prometheus UI to see if there is any metrics target is red? Can you check if the node exporter is deployed in those 2 nodes? You can check it in the system project apps cluster-monitoring app.

Another thing is that now we need the node exporter pod open in your firewall on each nodes. You need to make sure Prometheus can access the node exporter pod via internal IP. It

[2019-03-26 23:17] loganhz commented on #19187
@n313893254 Can we fallback to the gauge instead of showing the `Loading` ?

[2019-03-26 23:50] kutchar opened #19196 "Support for IdP-initiated SSO for Okta SAML"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Configure Okta as a SAML provider in Rancher
2. Configure Rancher as an application in Okta
3. Verify configuration works by logging into Rancher using Rancher's login window (auth works when Rancher initiates login) (SP-initiated flow)
4. Try logging in

[2019-03-26 23:56] mrajashree commented on #19196
That's because IDP initiated SSO isn't allowed.

[2019-03-27 00:02] loganhz opened #19197 "UI: 2.2 - Prometheus error when installing Monitoring"
UI for https://github.com/rancher/rancher/issues/19278

[2019-03-27 00:21] fedeostrit commented on #19173
hi, a query all these improvements and fixes for windows host when they are going to be in version v2.2 or should we wait for version v2.3?
I do not understand when improvements for host windows merge and when they take it out of experimental states?
Sorry for the questions but I'm very new to Rancher and Kubernetes

[2019-03-27 00:22] loganhz commented on #19173
They are going to be in v2.2 I think.

[2019-03-27 00:55] kutchar commented on #19196
@mrajashree Ah I see! Are there any plans of supporting IDP initiated SSO?

[2019-03-27 01:52] aiwantaozi opened #19198 "Logging: Add watcher to keep update logging status if pod is down"
Keep update status for logging service, if pod not available, should warn user

[2019-03-27 01:53] aiwantaozi opened #19199 "Alerting: Add watcher to keep update alerting status if pod is down"
Keep update status for alerting service, if pod not available, should warn user

[2019-03-27 02:25] kingsd041 commented on #18470
Tested with rancher/rancher version- v2.2.0
Using the empty certificate `TEST`, the UI will prompt
[code]

[2019-03-27 02:25] #18470 closed

[2019-03-27 02:27] fedeostrit commented on #19173
thanks for your quick response, I bother you with one more problem that I have in my cluster with 2 nodes with centos 7 and a node with windows 1803, the 3 hosts are in the same network 10.73.2.0/24 and there are also other VMs that are in that same network that has other services such as Oracle DB instances

The problem I have is that when I raise a caontainer in the Windows node, the container c

[2019-03-27 03:01] bluemalkin commented on #18425
I'm still seeing this issue in v2.2.0

[2019-03-27 03:55] junkiebev commented on #18522
Nice.

[2019-03-27 05:22] riaan53 opened #19200 "UI node view does not remove "Control Plane" role label on demotion"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create 3 node RKE k8s cluster with all roles (rke v0.2.0)
2. Install Rancher 2.2 HA via helm
3. Remove `Control Plane` and `etcd` role and apply

**Result:**
`Control plane` and `etcd` removed but `Control Plane` role is still showed on node view.

<img w

[2019-03-27 05:38] josenobile commented on #18932
Is there any bug # related to such ingress behavior?

[2019-03-27 06:14] Maxwell1987 opened #19201 "Cannot select k8s version when editing cluster after upgrading from 2.1.6 to 2.2"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
1. Edit cluster
2. Click "Kubernetes Version" dropdown list

**Result:**
The dropdown list is empty

**Other details that may be helpful:**
Tested in firefox and safari

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image

[2019-03-27 06:16] dnauck opened #19202 "AzureAD and Local Auth broken after 2.2 Upgrade"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Upgraded Rancher v2.1.7 to v2.2.0
2. try to login via AzureAD (was working before)
**Result:**
HTTP 500 ERROR

[code]

**Other details that may be helpful:**

error in rancher server log:

[code]

**Environment information**
- Rancher version (`rancher/ra

[2019-03-27 06:18] dnauck commented on #19202
Hello,

local login is also broken:

[code]

[2019-03-27 06:32] 4admin2root commented on #15599
the same issue in rancher v2.1.5

docker inspect result as follow:
            "Isolation": "",
            "CpuShares": 2,
            "Memory": 0,
            "NanoCpus": 0,
            "CgroupParent": "/kubepods/besteffort/podc7c25f30-5047-11e9-be14-0609ce0001b8",
            "BlkioWeight": 0,
            "BlkioWeightDevice": null,
            "BlkioDeviceReadBps": null,
            "BlkioDevic

[2019-03-27 06:57] xiaoweiuknow opened #19203 "run rancher2.2.0 on arm64 server"
can i run a rancher server on a arm64 server?
i have already imported a arm64 k8s cluster to be managed by rancher2.1.1 ,but i want to run a rancher server on arm64 server , does release 2.2.0 support this ?

[2019-03-27 07:09] kmova commented on #16791
@ArgonShepard -- for onpremise clusters, there is an open issue that takes longer time - more than 30 mins before the controller can decide that the older node is down. Here are some related issues:
https://github.com/kubernetes/kubernetes/issues/63475
https://github.com/kubernetes/kubernetes/issues/65392

[2019-03-27 07:12] thxCode commented on #19078
#### Cluster Monitoring 2.2.0 Default Resources

|          Workload (Type)         	|            Container (Type)            	| CPU - Request 	| Mem - Request 	| CPU - Limit 	| Mem - Limit 	| Configurable 	|
|:--------------------------------:	|:--------------------------------------:	|:-------------:	|:-------------:	|:-----------:	|:-----------:	|:------------:	|
|         Prometheus (StatefulS

[2019-03-27 07:16] sharif-rahman opened #19204 "rancher can not delete pods after scale deployment"
**The Pods  old container stays for ever**
- How can i get Rid of this problem?
- Advice me any other possible solution would be appreciated.

**Tried approaches: Still the same problem**
- Deploying completely new app from scratch.
- Redeploying same app by scale 0 and 1.

**Result:**
![image](https://user-images.githubusercontent.com/45973680/55056607-dad83700-5066-11e9-9e97-527a8a4ef675.png)

*

[2019-03-27 07:25] thxCode commented on #19145
@rbq , @IsNull , it's difficult to decide what count is enough for `out of the box`. I have detailed the default resources on https://github.com/rancher/rancher/issues/19078#issuecomment-477009261, I think users need to consider it by self according to the cluster, meanwhile, the rancher document is a useful thing, https://github.com/rancher/rancher/issues/19145#issuecomment-476725944.

[2019-03-27 07:44] IsNull commented on #19204
Did you try to delete the pod using the UI? (Click on the offending pod, and then choose delete in the upper right menu)

<img width="335" alt="Screenshot 2019-03-27 at 08 43 44" src="https://user-images.githubusercontent.com/439313/55058508-73bd8100-506c-11e9-9fc9-2548ca1d873d.png">

[2019-03-27 08:04] IsNull commented on #19187
Prometheus shows two unhealthy targets

<img width="1529" alt="Screenshot 2019-03-27 at 08 51 22" src="https://user-images.githubusercontent.com/439313/55058950-dcf1c400-506d-11e9-99e9-e962d7194786.png">

<img width="1530" alt="Screenshot 2019-03-27 at 08 51 04" src="https://user-images.githubusercontent.com/439313/55058954-e0854b00-506d-11e9-9e3c-37cf56887a60.png">

As far as I can tell from the

[2019-03-27 08:11] IsNull commented on #19187
Ok, the issue is resolved when inbound ports 10254 & 9796 are opened for the other rancher nodes.

Since rancher automatically configured the security groups when the cluster was installed, it would probably a good idea to automatically open the new required ports. If that is not possible, some kind of check and warning in the ui about it would probably make it much easier to grasp why its not wor

[2019-03-27 08:31] BalaBalaYi commented on #16791
@ArgonShepard Reproduced this issue with rancher/rancher:v2.2.0 and openebs:v0.8.1. And the result is same with @kmova above. The 'force-detached' happend after 6miniutes but not the moment the node is deleted. Here is the log output:
[code]

[2019-03-27 08:35] superseb commented on #19203
See https://rancher.com/docs/rancher/v2.x/en/installation/arm64-platform/

[2019-03-27 08:35] #19203 closed

[2019-03-27 08:37] ainiml opened #19205 "v2.2.0 - Not using specified API endpoint as IP address"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Run ansible playbook https://github.com/TheShellLand/antsable/blob/master/playbooks/rancher2.yml
2. Set API endpoint to `https://192.168.86.110:8443`

**Result:**
Wrong IP addressed used for Node

**Other details that may be helpful:**
ip r
[code]

hostna

[2019-03-27 08:38] superseb commented on #19201
Please specify the upgrade path with exact versions from Rancher, and if possible, the upgrade path of the exact versions the cluster.

[2019-03-27 08:39] sharif-rahman commented on #19204
yes i did it. it still the same problem. i forgot to mention it. thx

[2019-03-27 08:40] superseb commented on #19205
The IP address(es) for the node can be specified using flags described at https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/custom-clusters/agent-options/#ip-address-options.

If that doesn't work, please share the exact command used to add the node.

[2019-03-27 08:40] #19205 closed

[2019-03-27 08:50] IsNull commented on #19204
In this case you have to use kubectl directly (its also available from the rancher dashboard directly in the browser).

`kubectl delete pods <pod_name> --grace-period=0 --force -n <namespace>`

[2019-03-27 09:34] laoshancun opened #19206 "Cluster monitoring stuck in installing state with templateversion not found error"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
upgrade rancher-ha from v2.1.7 to v2.2.0

**Result:**
![image](https://user-images.githubusercontent.com/4952748/55064583-30d3cb80-50b5-11e9-8513-212f976e1af9.png)
![image](https://user-images.githubusercontent.com/4952748/55065174-51e8ec00-50b6-11e9-912a-92