[2021-08-23 22:40] izaac opened #34403 "Can't explore RKE2 cluster from Dashboard on byo-self-signed Rancher setup"
**Rancher Server Setup**
- Rancher version: `2.6.0-rc5`
- Installation option: Helm (HA)
   - If Helm Chart, Kubernetes Info:
         Cluster Type: RKE1
         Node Setup: AWS
         Version: `v1.21.4`
- Proxy/Cert Details: `byo-self-signed` (certificates from files is how it's  called in the Rancher docs)

**Information about the Cluster**
- Kubernetes version: `v1.21.3-rc7+rke2r2`
- Cluster

[2021-08-23 22:44] anupama2501 commented on #34373
I see this issue on v2.6.0-rc5.

- Created a vsphere cluster with and without cloud provider.
- See the error displayed on the cluster:

[code]
- Following are some docker logs :
[code]

[2021-08-23 22:45] StrongMonkey commented on #34367
We should check `kube-controller-manager` logs too, as system-agent detects that it is not ready. I assume it is related to azure cloud provider configuration since `kube-controller-manager` should be managing these cloud provider controller.

[2021-08-23 22:46] sowmyav27 commented on #34396
**On 2.6-head commit id: `b8a44fa`**

- Deploy a downstream RKE2 AWS cluster
- Navigate to cluster explorer, Kube nodes page
- External IP/Internal IP  column says None/<internal-ip>

[2021-08-23 22:48] prabalsharma commented on #34161
**part 2 of issue (list of k8s version):**

I am **reopening** this issue as I can still see the extra k8s versions in the list, when I click on `Edit Config`.

I did some digging and found out that AKS has 2 different k8s version list: **One is which you get while creating a cluster**

<img width="883" alt="Screen Shot 2021-08-23 at 2 53 49 PM" src="https://user-images.githubusercontent.com/37495

[2021-08-23 22:58] izaac commented on #34403
Shortly after I submitted the bug (~1 hour provisioning) the cluster was available finally but this is not expected.
The RKE1 provisioning took no more than 10-15 mins.

[2021-08-23 23:18] deniseschannon opened #34404 "Cluster members who is Standard Users needs to be able to see machine pools but not ability to update"
**Rancher Server Setup**
- Rancher version:v2.6-head - b8a44fa

**Information about the Cluster**
- Kubernetes version: v1.21.3-rc6+rke2r2
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): DO cluster running RKE2

**Describe the bug**

When adding a standard user to a cluster as a cluste

[2021-08-23 23:18] deniseschannon commented on #34253
Cluster members are not expected to be able to scale up or down, so these buttons should be hidden.
Validated on v2.5.9 that cluster members show the scale up and down buttons, but if you try it, it actually  errors out.

Verified on v2.6-head b8a44fa.

Log in as cluster member to view RKE1 and RKE2 clusters.

RKE1 cluster -  No scale down option available (Correct)

![Screen Shot 2021-08-23 at 4.

[2021-08-23 23:18] #34253 closed

[2021-08-23 23:21] rosskirkpat opened #34405 "[2.6] V2 Monitoring and Logging cannot be scheduled on Windows nodes in RKE2 custom clusters"
**Rancher Server Setup**
- Rancher version: v2.6-head
[code]
- Installation option (Docker install/Helm Chart): docker
- Proxy/Cert Details: self-signed

**Information about the Cluster**
- Kubernetes version:  v1.21.3-rc7+rke2r2
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): Custom R

[2021-08-23 23:21] rosskirkpat opened #36446 "Prevent or warn user when attempting to install unsupported app on a Windows workload"
rancher/dashboard issue: https://github.com/rancher/dashboard/issues/3974

**Rancher Server Setup**
- Rancher version: v2.6-head
[code]
- Installation option (Docker install/Helm Chart): docker
- Proxy/Cert Details: self-signed

**Information about the Cluster**
- Kubernetes version:  v1.21.3-rc7+rke2r2
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type of cluster? (Custom

[2021-08-23 23:24] deniseschannon commented on #32390
Since we have validated AWS and external has been validated with a separate issue. We'll keep/use the Azure issue #34367 to track cloud provider support.

Based on the 2 use cases validated, we've validated that sending cloud provider info to RKE2 is working, which was the intent of this issue to begin with.

[2021-08-23 23:37] rosskirkpat opened #34406 "[2.6] v2 monitoring will not deploy on RKE2 windows clusters"
**Rancher Server Setup**
- Rancher version: v2.6-head
[code]
- Installation option (Docker install/Helm Chart): docker
- Proxy/Cert Details: self-signed

**Information about the Cluster**
- Kubernetes version: v1.21.3+rke2r2
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): custom rke2

[2021-08-23 23:37] deniseschannon commented on #34307
All RKE2 components (CNI, coredns, metrics server, ingress) have added a node selector to deploy on linux nodes.

This can be validated that when adding a Windows worker node, none of these components try and run on it.

[2021-08-23 23:42] nickgerace opened #34407 "Provisioning RKE2 Digital Ocean clusters results in stuck bootstrap machine(s)"
**Rancher Server Setup**
- Rancher version: `v2.6-head` (`b43e4d955c8fdbb85bbbba1962937b0abbdf4a09`)
- Installation option (Docker install/Helm Chart): docker install
- Proxy/Cert Details: standard setup; UI accessed via URL given by `ngrok http 80`

**Information about the Cluster**
- Kubernetes version: v1.21.3 rc7 RKE2
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type

[2021-08-23 23:44] kinarashah commented on #34071
Available to test with v2.6.0-rc6

[2021-08-23 23:55] deniseschannon commented on #34071
The solution was not to make it configurable but to default to "IfNotPresent".

@bk201 Can you check if this is working for your use case in v2.6.0-rc6?

[2021-08-23 23:57] cbron commented on #34405
If that workaround works, then the fix would only be on the dashboard side, that is how that flag gets set. The backend is responsible for making sure it works once the flag is set.

[2021-08-24 00:00] deniseschannon commented on #34314
Instead of trying to validate the S3 credential, we are making changes so that if the cluster will fail due to inability to upload/use S3, it will back off in trying to take snapshots.

No change being done here.

[2021-08-24 00:00] #34314 closed

[2021-08-24 00:04] sowmyav27 commented on #34381
On 2.6-head commit id: `b8a44fa`

Fresh Install use case.
I am not able to reproduce this issue.

[2021-08-24 00:05] #34381 closed

[2021-08-24 00:06] sowmyav27 commented on #34380
**On 2.6-head commit id: `b8a44fa`**

- Delete an RKE2 cluster
- No issues seen after.
- Closing this issue.

[2021-08-24 00:06] #34380 closed

[2021-08-24 00:36] anupama2501 commented on #34277
I was able to verify this on v2.6-head b8a44fa

- Added a cluster template in the local --> Apps and market place --> repositories [https://github.com/StrongMonkey/cluster-template-examples.git]
- Created a cluster as an admin and verified the logs are displayed in the api at `https://<ip>/v1/catalog.cattle.io.operations/fleet-default/helm-operation-dpp9q/logs`

[code]

- However, when I create a

[2021-08-24 00:36] #34277 closed

[2021-08-24 00:48] aiyengar2 commented on #33988
[code]

#### Steps to Reproduce
1. Provision a node and install Docker on it: `curl https://releases.rancher.com/install-docker/20.10.sh | sh`
2. Create an A record pointing at the node; this will be HOSTNAME
3. On my local machine, run `rke up` using the following `cluster.yml`, supplying the path to the SSH keys to the node under SSH_KEY_PATH:

[code]
4. Run `export KUBECONFIG=kube_config_cluste

[2021-08-24 00:49] aiyengar2 commented on #33988
@jiaqiluo just to confirm before closing, there are **no** upgrade scenarios to test right?

Last we talked, I recall that it was impossible for us to fix previously broken Rancher installations without a manual workaround (e.g. `kubectl delete MutatingWebhookConfiguration -n cattle-system rancher.cattle.io`) due to the fact that the MutatingWebhookConfiguration blocks the ability for Helm to crea

[2021-08-24 00:52] aiyengar2 commented on #33988
Reopened to confirm details in https://github.com/rancher/rancher/issues/33988#issuecomment-904233494 before closing.

[2021-08-24 01:05] anupama2501 opened #34408 "System-upgrade-controller workload in error "error looking up service account cattle-system/system-upgrade: serviceaccount "system-upgrade" not found" in a windows cluster"
**Rancher Server Setup**
- Rancher version: v2.6-head b43e4d9
- Installation option (Docker install/Helm Chart): Docker install
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup:
         Version: v1.21.3
- Proxy/Cert Details: self-signed

**Information about the Cluster**
- Kubernetes version: v1.21.3-rc7+rke2r2
- Cluster Type (Local/Downs

[2021-08-24 02:00] guangbochen commented on #33583
close in favor of https://github.com/rancher/rancher/pull/34328

[2021-08-24 02:00] zhouwei517 commented on #33731
docker logs nginx-proxy：
/usr/bin/nginx-proxy: line 4: /usr/bin/confd: cannot execute binary file: Exec format error
2021/08/24 00:56:37 [notice] 8#8: using the "epoll" event method
2021/08/24 00:56:37 [notice] 8#8: nginx/1.20.1
2021/08/24 00:56:37 [notice] 8#8: built by gcc 10.2.1 20201203 (Alpine 10.2.1_pre1)
2021/08/24 00:56:37 [notice] 8#8: OS: Linux 4.18.0-80.7.2.el7.aarch64
2021/08/24 00:56:

[2021-08-24 02:43] aiyengar2 opened #34409 "Running CIS 1.6 hardened scan after installing CIS Benchmark in local, hardened cluster fails"
**Rancher Server Setup**
- Rancher version: v2.6.0-rc5
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE1
         Node Setup: Single node all roles
         Version: `v1.2.11`
- Proxy/Cert Details: n/a

**Information about the Cluster**
- Kubernetes version: `v1.18.12`
- Cluster Type (Local/Dow

[2021-08-24 02:45] aiyengar2 commented on #34188
Hmm, since both the original issue https://github.com/rancher/rancher/issues/33988 and this were fixed in the same RC, I cannot check for a regression and then a fix. Therefore, I will just ensure the same use case in the previous ticket works in a hardened cluster and is reproduced in an older Rancher version, when I am able to test this.

---

Unable to test. CIS 1.16 benchmark is not passing on

[2021-08-24 03:40] cbron commented on #34247
testing instructions: make sure to test the rollback command specifically

also, @jiaqiluo can you also add to the release notes that the scale down is mandatory

[2021-08-24 03:44] #33116 closed

[2021-08-24 03:58] cbron commented on #34405
Re-purposing this issue to add a provider for rke2-windows: https://github.com/rancher/kubernetes-provider-detector/tree/master/providers

[2021-08-24 04:39] deniseschannon opened #34411 "Unable to delete machine in RKE1 cluster with the custom role of "Manage Nodes" (403)"
**Rancher Server Setup**
- Rancher version:v2.6-head - b8a44fa

**Information about the Cluster**
- Kubernetes version: v1.21.3-rc6+rke2r2
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): DO cluster running RKE1

**Describe the bug**

When trying to delete the machine pools of a RKE1 cl

[2021-08-24 04:40] deniseschannon commented on #34288
v2.6-head b8a44fa

Added a userbase user to a cluster with manage nodes shows the following behavior:

RKE1: I am able to view machine pools as well as scale up/down buttons and Download SSH keys button.

But I am unable to delete nodes due to a permission issue, Filed a new issue: https://github.com/rancher/rancher/issues/34411
[code]
![Screen Shot 2021-08-23 at 9.27.06 PM.png](https://zube.io/fi

[2021-08-24 04:41] deniseschannon commented on #34288
@anupama2501 Your original use case has been fixed, but 2 different issues were created. I'd like to have you validate your use case before I close the issue.

[2021-08-24 05:07] bk201 commented on #34071
Thanks for the quick fix.
I tested `v2.6.0-rc6` but found the SUC charts can't be applied:

[code]
(full log: [apply-suc-chart.log](https://github.com/rancher/rancher/files/7036508/apply-suc-chart.log))

@kinarashah Do we also need to apply [this toleration fix](https://github.com/rancher/system-charts/pull/522) to the SUC chart (maybe [this file](https://github.com/rancher/charts/blob/34dd7da8d75

[2021-08-24 07:10] superseb commented on #33731
Can you share `docker info` from the host?

[2021-08-24 07:16] zhouwei517 commented on #33731
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Build with BuildKit (Docker Inc., v0.6.1-docker)

Server:
 Containers: 0
  Running: 0
  Paused: 0
  Stopped: 0
 Images: 0
 Server Version: 20.10.8
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
  userxattr: false
 Logging Drive

[2021-08-24 07:59] ingla9988 opened #34412 "rancher页面自动刷新"
请问下 用k8s部署的rancher 2.2.4版本，  页面每隔1-2分钟会自动刷新 是什么原因？

[2021-08-24 10:07] Tejeev commented on #28776
We see the exact same issue where someone had added a blank chart (directory with a blank chart.yaml) to the repo in GitLab.
This was worked around by filling in the chart.yaml with real values, but could have presumably been "resolved" by removing the blank chart from the repo as well.
We are currently seeing that we can not upgrade any apps in Manager but not yet sure if this is related.
Rancher

[2021-08-24 10:27] #18483 closed

[2021-08-24 12:35] ntx-ben commented on #29248
Updated Rancher to v2.5.6, still seeing this issue...

[2021-08-24 13:13] kravciak opened #34416 "Cluster count increases for user if admin creates cluster"
Creating a cluster as admin increases cluster count for user without rights.

As admin:
- create Standard-User (log-in as user now and go to Cluster Management)
- create cluster (DO RKE2)

As user:
- go to Cluster Management
- click Cloud Credentials
- click Clusters

Result: As user I can see cluster-count=1 while I have no clusters

**Creating cluster as admin increases count for user**
![Screen

[2021-08-24 13:21] quick691fr commented on #33060
@superseb any clue ?

[2021-08-24 13:23] gzwxh opened #34413 "rancher监控指标无法显示图表等信息"
问题描述
Prometheus 表达式 中很多指标在在rancher2.4.4和2.4.11 版本中都显示为：
https://docs.rancher.cn/docs/rancher2/monitoring-alerting/2.0-2.4/cluster-monitoring/expression/_index/

问题类型
目前这边使用的版本信息：
rancher：2.4.4 k8s使用RKE进行安装，然后导入rancher进行管理，Kubernetes版本: v1.15.5
rancher：2.4.11 k8s使用RKE进行安装，然后导入rancher进行管理，Kubernetes 版本: v1.19.2
问题描述：

使用2.4.X 版本的rancher无法获取到数据信息，希望给出一下需要的最低版本信息之类的描述
现网文档URL
https://docs.rancher.cn/d

[2021-08-24 14:06] claudioser commented on #34161
@prabalsharma - part1 of the issue is now fixed. tested on rc_6

[2021-08-24 14:32] kinarashah commented on #34071
@bk201 Thanks for testing and going through the changes to see what's missing.

SUC chart now reads from the k3s-upgrader, so we need to pull in latest commit from k3s-upgrader again. Thanks for catching the serviceAccount name change, the change was updated in Rancher but was missing in the charts.

I'll put PRs up for both.

[2021-08-24 14:37] cambierr commented on #29211
this bug also affects us

[2021-08-24 15:00] nickgerace commented on #34368
Blocked from using Digital Ocean in particular: https://github.com/rancher/rancher/issues/34407

Trying another provisioner.

[2021-08-24 15:01] kinarashah commented on #34407
@nickgerace Not able to reproduce this on latest v2.6-head. What roles did you have for nodes? Do you have the logs of cluster-agent by any chance?

[2021-08-24 15:02] nickgerace commented on #34407
@kinarashah I'll try to reproduce it again and let you know.

[2021-08-24 15:04] ghabarid opened #34414 "Upgrade cluster - lost ingress config"
*Describe your issue here*
After upgrading Rancher to v5.5.9 and the downstream RKE (k8s), the custom data of the configmap of the ingress controller is just gone (empty).
This should not happen. Therefore someone need to take a look at it
The upgrade:
- Rancher: from 2.4.5 to 2.5.9
- K8S: From 17.4 to 20.8

[2021-08-24 15:15] slickwarren commented on #28693
on 2.6.0-rc5:
* add custom cluster using ECR registry (node must have ecr helper installed) -- pass
* upgrade cluster k8s version after 12 hours -- pass
* deploy workload from ECR after 12 hours -- pass

[2021-08-24 15:15] #28693 closed

[2021-08-24 15:51] bashofmann commented on #32050
The upgrade job pods can now be scheduled and the upgrade of the control plane node also succeeds, but then the upgrade hangs:

[code]

The master plan pod is completed, the worker plan pod hangs in the prepare init container:

[code]

Logs from the prepare init container of the worker plan pod:

[code]

The master upgrade plan looks weird:

[code]

The system-upgrade-controller logs just has some

[2021-08-24 15:55] chiru6003 commented on #15710
Hi @davidnuzik I am not able to see Rancher Events on the UI. Can you please suggest to me how to enable those events?

[2021-08-24 16:05] gregsidelinger commented on #33478
The issue does not happen in master as I submitted at patch that was merged in to address it, https://github.com/rancher/rancher/pull/33515.  So the issue is closed as far as I'm concerned.

[2021-08-24 16:21] jiaqiluo commented on #33988
What @aiyengar2 did is correct and sufficient to validate the fix.
Moving this issue back to to-test and assigning it to @sowmyav27

[2021-08-24 16:43] cbron commented on #34386
Rancher 1.x is not supported anymore. Rancher 2.x in general does not support arm64 at this time as there are several complications with it. There are other issues here that track adding support for it.

[2021-08-24 16:43] #34386 closed

[2021-08-24 16:44] cbron commented on #28342
Rancher in general does not support arm64 at this time. Duplicate of: https://github.com/rancher/rancher/issues/18891

[2021-08-24 16:44] #28342 closed

[2021-08-24 16:48] davidnuzik commented on #34187
**Understanding the issue and PR fix:**
I reviewed the PR - the commit message explains the change that resolved this issue:

it doesn't always refresh when a new request comes in. This can cause
the cache to become stale and the proxy server handler can fail to
fetch service accounts from it even though they exist in the downstream
cluster. This change pushes the cluster context getter down to th

[2021-08-24 16:55] #28551 closed

[2021-08-24 16:55] cbron commented on #34017
When does this need to go in ?

[2021-08-24 17:38] deniseschannon opened #34417 "RKE2 Provisioning: Day 2 Ops - On Demand/Recurring Etcd Snapshot and Restore with Options"
This is to validate S3 Support for snapshot and restore.

[code]

Note: Things changed with https://github.com/rancher/rancher/issues/34088
An s3-compatible cloud credential was created, you can create one and specify when making a cluster, and override defaults (if any are set).

[2021-08-24 17:38] deniseschannon commented on #32391
We have broken out this epic into 2 distinct issues.

This one will be for testing local snapshot and restore.

A new issue (https://github.com/rancher/rancher/issues/34417) was created to specifically track S3 support for snapshot and restore

[2021-08-24 17:45] izaac commented on #34403
RKE1 pass was done, moving to Next Up for RKE2:

- BYO - Valid certs (RKE1 local cluster v2.6.0-rc5)
  - RKE1 Downstream k8s 1.21
  - RKE2 Downstream k8s 1.21
- BYO - Self Signed certs (RKE1 local cluster v2.6.0-rc5)
  - RKE1 Downstream k8s 1.21
  - RKE2 Downstream k8s 1.21 (https://github.com/rancher/rancher/issues/34403)
- Rancher - Generated certs (RKE1 local cluster v2.6.0-rc5)
  - RKE1 Downst

[2021-08-24 17:48] izaac commented on #32634
RKE1 pass was done, moving to Next Up for RKE2:

- BYO - Valid certs (RKE1 local cluster v2.6.0-rc5)
  - RKE1 Downstream k8s 1.21 ✅
  - RKE2 Downstream k8s 1.21 ✅
- BYO - Self Signed certs (RKE1 local cluster v2.6.0-rc5)
  - RKE1 Downstream k8s 1.21 ✅
  - RKE2 Downstream k8s 1.21 (https://github.com/rancher/rancher/issues/34403)
- Rancher - Generated certs (RKE1 local cluster v2.6.0-rc5)
  - RKE1

[2021-08-24 17:55] superseb commented on #33731
`cannot execute binary file: Exec format error` usually means running the binary on the wrong arch, given the insecure registries configured, you are running private registry/airgap. Can you check on the registry if the right arch is mirrored (manifest present)?

Also, ARM is experimental so there is no guarantee it actually all works but we can check it out.

[2021-08-24 18:00] nickgerace commented on #34407
This issue was configuration error. Will update this comment with more details and close the issue accordingly.

[2021-08-24 18:04] paynejacob commented on #34264
FAILED

I tested this with `thedadams/rancher:38e0f461`

1. docker run with `--no-cacerts`
2. setup ngrok tunnel point at my docker container
3. add valid DO and s3 cloud credentials
4. create an rke2 DO cluster named `issue-34264` with 3 workers, 2 control plane, and 3 etcd.
5. select the s3 credentials under etcd s3 snapshotting and set a path
6. observe the cluster goes into an error state abou

[2021-08-24 18:10] StrongMonkey commented on #34367
[code]
Kube-controller-manager was panic given the cloud provider config.

[2021-08-24 18:24] cbron commented on #33988
Adding release-note label to clarify that older installations still need manual fix.

[2021-08-24 18:28] aiyengar2 commented on #34188
#### Steps to Reproduce

1. Provision a node and run the following commands provided in https://rancher.com/docs/rancher/v2.5/en/security/rancher-2.5/1.6-hardening-2.5/#configure-kernel-runtime-parameters and https://rancher.com/docs/rancher/v2.5/en/security/rancher-2.5/1.6-hardening-2.5/#create-etcd-user-and-group.
[code]
2. Create an A record pointing at the node; this will be HOSTNAME
3. On my

[2021-08-24 18:29] aiyengar2 commented on #34188
@sowmyav27 same question as in https://github.com/rancher/rancher/issues/33988#issuecomment-904233494. Do I need to test the manual workaround that will go in the release note as well? IMO we should be fine without testing it.

[2021-08-24 18:48] aiyengar2 commented on #34115
Issue was already reproduced in 2.6.0-rc1 in https://github.com/rancher/rancher/issues/30628#issuecomment-896378095, so I'm only testing the fix.

RKE change was added in `v1.3.0-rc16`, which was added in https://github.com/rancher/rancher/commit/b876ba9ed13b8c9737ab7dc9dd6874a464aed83d. This was in Rancher 2.6.0-rc5, which will be used to test this issue.

However, @kinarashah @rawmind0 it seems

[2021-08-24 18:49] anupama2501 commented on #34288
Verified on rancher v2.6-head b43e4d9

- Created a user - u1 with global permissions set to `userbase`.
- Verified rke1 clusters, all machine pools are visible for the user u1.
- can scaleup/down the nodes - verified in the backend as well.
- downloaded ssh keys for the nodes and able to login with the ssh key downloaded.

As pointed by @deniseschannon not able to delete the nodes for rke1 cluster

[2021-08-24 18:49] #34288 closed

[2021-08-24 19:08] #33143 closed

[2021-08-24 19:16] StrongMonkey commented on #34367
This is because we don't use `routeTableName` in azure cloud config and it is causing panic. https://github.com/kubernetes-sigs/cloud-provider-azure/issues/550
The current workaround is to add `--configure-cloud-routes=false` to kube-controller-manager so we don't configure routes on cloud provider.
At the same time, there is a upstream fix for that. https://github.com/kubernetes-sigs/cloud-provid

[2021-08-24 19:21] kinarashah commented on #32050
Seems like this is happening even without adding taints on a normal upgrade, but doesn't happen on Rancher v2.5.9. Some other changes might be causing this, I am looking into it.

[2021-08-24 19:22] anupama2501 commented on #34173
Blocked by https://github.com/rancher/dashboard/issues/3990

[2021-08-24 19:24] anupama2501 commented on #34282
blocked https://github.com/rancher/rancher/issues/34408

[2021-08-24 19:26] anupama2501 commented on #34307
blocked https://github.com/rancher/dashboard/issues/3990

[2021-08-24 19:26] anupama2501 commented on #33625
blocked https://github.com/rancher/rancher/issues/34408

[2021-08-24 19:32] davidnuzik commented on #34187
Note: Needs a check on one more step again - for the kubectl test we need to actually download the kubeconfig and try to utilize it remotely, NOT within the dashboard UI shell.

[2021-08-24 19:43] kinarashah commented on #34115
@aiyengar2 What needs to be updated here? `rke` in master points to commit `4c490e845380` which is the latest commit in rancher/rke for master branch.

[2021-08-24 19:46] kinarashah commented on #34115
PS I wonder if the confusion is because the commit starts with `v1.3.0.-rc9` but the commit id is the latest?

[2021-08-24 19:54] davidnuzik commented on #34175
**My checks PASSED**

**Reproduction Steps:**

Not required.

**Validation Environment:**

Rancher version: v2.6-head `0935a90` 8/24/21
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream cluster type: rke2
Downstream K8s version: v1.21.3+rke2r2

**Validation steps:**

1. Created a 1-node RKE2 cluster in Rancher with the DigitalOcean provider. Set etcd snapshots to disabled.

[2021-08-24 19:54] #34175 closed

[2021-08-24 19:59] davidnuzik commented on #34272
v2.6-head `0935a90` 8/24/21
single-node rancher on docker 20.10

S3 restore doesn't work still but this is due to separate issues tracked in other bugs. However The UI indeed no longer ends up in this state where it is unresponsive. As such, going to close this issue.

[2021-08-24 19:59] #34272 closed

[2021-08-24 19:59] rawmind0 commented on #34115
@kinarashah is right rancher is using latest rke master commit `4c490e845380`. PR https://github.com/rancher/rke/pull/2656 was merged before this commit.

I got confused as commit started with `v1.3.0.-rc9` and created a PR updating rke to `v1.13.0-rc17`, already closed as i read last comments.

[2021-08-24 20:07] slickwarren opened #34425 "cluster not recoverable after adding base64 encoded ca.pem to `ca cert bundle` option when provisioning cluster (private registries -> advanced)"
**Rancher Server Setup**
- Rancher version:v2.6.0-rc6
- Installation option (Docker install/Helm Chart):docker
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):rke1
         Node Setup:single
         Version:v1.21.3
- Proxy/Cert Details:self signed certs

**Information about the Cluster**
- Kubernetes version:v1.21.3-rke2r2
- Cluster Type (Local/Downstream):d

[2021-08-24 20:18] davidnuzik opened #34426 "Able to see v1 monitoring and istio in dashboard UI post upgrade"
**Summary:**
v1 monitoring and istio installed in rancher 2.5.9 still shows up in the 2.6 dashboard UI post-upgrade. Based on slack discussions and my understanding these should not show in the UI under v2 charts config in the dashboard UI.

**Environment:**
Rancher version: v2.5.9 -> v2.6-head upgrade `b43e4d9` 8/24/21
Rancher cluster type: HA helm install with QA Jenkins ha-deploy job

Downstrea

[2021-08-24 20:23] davidnuzik commented on #34367
@deniseschannon We'll probably want to document this workaround for Azure cloud provider

[2021-08-24 20:29] davidnuzik commented on #34088
**_Please note, there are other s3 bugs at present - I just checked that the cloud credential works - not that snapshot/restore works perfectly here, that will be covered in separate issues._**

**My checks PASSED**

**Reproduction Steps:**

Not required.

**Validation Steps:**

Rancher version: v2.6-head `0935a90` 8/24/21
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream

[2021-08-24 20:29] #34088 closed

[2021-08-24 20:30] cmurphy commented on #33800
Ready to test on 2.6

[2021-08-24 20:34] anupama2501 commented on #34173
Re-opening based on the above issue ^^

[2021-08-24 20:39] prachidamle commented on #34185
I moved it to to-test, but there are some issues causing the image not published out.

[2021-08-24 20:53] #34187 closed

[2021-08-24 20:54] davidnuzik commented on #32391
Moving back to blocked; smoke tested again and this still isn't working. Effectively blocked by https://github.com/rancher/rancher/issues/34365 local or s3 snapshot restoration will not work.

[2021-08-24 21:01] Jono-SUSE-Rancher commented on #34405
We are going to use this one to track being able to detect RKE2 Windows in the https://github.com/rancher/kubernetes-provider-detector.

[2021-08-24 21:09] davidnuzik commented on #34367
@StrongMonkey can you briefly explain how you added `--configure-cloud-routes=false` to the KCM? Did this by modifying rke2 args annotation or directly on rke2 node?, etc. thanks

[2021-08-24 21:18] deniseschannon commented on #33625
We should use this issue to track that the registration command is working as expected.

As part of the registration command, we need to verify that the labels are added to the kube nodes and machines.

The machine label selector was specifically tested with https://github.com/rancher/rancher/issues/33904 and no need to test separately.

[2021-08-24 21:20] deniseschannon commented on #34307
@anupama2501 Can you close this with your findings about how the RKE2 components were deployed on the Linux nodes and none were attempted to schedule on the Windows worker nodes?

[2021-08-24 21:24] slickwarren commented on #32600
on 2.6.0-rc5:
* provision rke1 cluster (1.21.4-rancher1.1) -- pass
  * install apps (monitoring v100.0.0+up16.6.0, longhorn v100.0.0+up1.1.2) -- pass
* provision rke2 cluster (v1.21.3-rc7+rke2r2) -- pass
  * install apps (monitoring v100.0.0+up16.6.0, longhorn v100.0.0+up1.1.2) -- pass
* upgrade k8s for rke1 cluster (1.20.10 -> 1.21.4) -- pass

[2021-08-24 21:24] #32600 closed

[2021-08-24 21:24] deniseschannon commented on #34282
@anupama2501 Let's use this issue to track that the system-agent pod is deployed only on Linux nodes.

To verify, only add an etcd+cp linux cluster and then windows worker nodes. There should be no attempt to deploy system-agent on it.

Afterwards, add a linux worker node. I'm not positive if system-agent should run on this node, but as long as nothing is attempted on the windows node, it should b

[2021-08-24 21:30] jiaqiluo commented on #34306
The fix is validated in rancher v2.6.0-rc6, docker install

Steps:
- run rancher v2.6.0-rc6, docker install
- create a local user `user1`
- open 2 sessions in the browser, one logging as admin, another logging as user1
- as `admin`, provision multiple clusters, a mix of node provisioned and custom
- as `admin`, assign `user1` as cluster owner/member of those clusters
- as `user1`, provision multip

[2021-08-24 21:30] jiaqiluo commented on #34306
@sowmyav27 Could you review the validation and close the issue?

[2021-08-24 21:31] slickwarren commented on #34224
on v2.6.0-rc6:
* rke2 cluster using a registry with noauth active -- pass

Reopening for the following:
* unable to provision when using a registry where auth is required (username/password)
* unable to provision using a mirror [(panic when testing)](https://github.com/rancher/rancher/issues/34425)

[2021-08-24 21:33] noahjd commented on #28768
I've ran into this same issue, running Rancher 2.5.9. It hasn't cleared on its own yet like some other posts have mentioned. any ideas to resolve this?

[2021-08-24 21:40] slickwarren commented on #34223
blocked by https://github.com/rancher/rancher/issues/34224

[2021-08-24 22:04] deniseschannon commented on #34223
@slickwarren Why is this issue blocked?

[2021-08-24 22:05] lindhe commented on #33360
Why is this closed? I just installed `rancher:latest` and it's broken.

[2021-08-24 22:15] snasovich commented on #33360
@lindhe , at this time `rancher:latest` tag is the same as v2.5.9 release and it doesn't have this issue. This will be fixed in the upcoming v2.6.0 release. It is also planned to be backported to next v2.5.x release (v2.5.10) as per separate backport issue https://github.com/rancher/rancher/issues/33762.
Please also note our current process is to close issues once they are validated by QA in inter

[2021-08-24 22:18] deniseschannon commented on #34223
Per @slickwarren

on v2.6.0-rc6:

rke2 cluster using a registry with noauth active -- pass
Reopening for the following:

unable to provision when using a registry where auth is required (username/password)

[2021-08-24 22:58] brendarearden commented on #33046
Validation: PASSED

**Steps to recreate:**

1. Create a EC2 instance, install docker and install k3s using `curl -sfL https://get.k3s.io | sh -` which installs v1.21.3+k3s1 (1d1f220f) and spins up a cluster
2. From an HA cluster (3 nodes on DO droplets clustered with rke version v1.2.11), running rancher v2.6.0-rc (installed using helm install)
3. Import existing k3s cluster in rancher
4. From the

[2021-08-24 23:01] prachidamle commented on #34325
1) We need to fix the certificates on the AD setup to support SAN along with CN
2) There is a workaround that we can test, to avoid these errors one can set the following parameter on rancher server:
[code]
This shall ignore the SAN requirement and allow the request to proceed.

[2021-08-24 23:08] StrongMonkey commented on #34367
@davidnuzik You can add that in rancher UI.

Create cluster -> Cluster Configuration -> Advanced -> Additional Controller Manager Args

[2021-08-24 23:10] anupama2501 opened #34431 "While registering windows node, job `apply-rke2-worker-plan-on` in the windows worker node fails with the error `no match for platform in manifest` for the image "rancher/rke2-upgrade:v1.21.3-rke2r2""
**Rancher Server Setup**
- Rancher version: v2.6-head 2e55e84
- Installation option (Docker install/Helm Chart): Docker install
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup:
         Version: local k8s, v1.21.3+k3s1
- Proxy/Cert Details: self-signed

**Information about the Cluster**
- Kubernetes version: `v1.21.4-rancher1-1`
- Cluster

[2021-08-24 23:12] rosskirkpat commented on #34405
the rke2-windows provider has been added: https://github.com/rancher/kubernetes-provider-detector/commit/f2c737b763e2e94f73faa74cb8b88ff4edeadcdc

PR for the rancher/rancher version bump for kubernetes-provider-detector and adding rke2-windows (and harvester) providers: https://github.com/rancher/rancher/pull/34428

[2021-08-24 23:17] anupama2501 commented on #34282
I'm not seeing this issue anymore and seeing the issue https://github.com/rancher/rancher/issues/34431

Closing this issue

[2021-08-24 23:17] #34282 closed

[2021-08-24 23:19] prachidamle commented on #34325
I have tested that AD login works after setting the environment variable to the rancher container.

[2021-08-24 23:31] anupama2501 commented on #33625
Verified on v2.6-head 2e55e84

labels `--label 'cattle.io/os=linux' ` and ` -Label 'cattle.io/os=windows' ` are present in the registration command and once the nodes are registered, labels are seen on the nodes as well.

[2021-08-24 23:31] #33625 closed

[2021-08-24 23:33] kinarashah commented on #32050
Update: My initial theory was wrong - it isn't other changes in Rancher. @dweomer helped and looked at the setup, the issue is the multiple duplicate entries in `status: applying:` and the fix would need to be in SUC itself.

[2021-08-24 23:37] brendarearden commented on #33328
Validation: PASSED

**Steps to recreate:**

1. Create a EC2 instance, install docker and install k3s using `curl -sfL https://get.k3s.io | sh -` which installs v1.21.3+k3s1 (1d1f220f) and spins up a cluster
2. From an HA cluster (3 nodes on DO droplets clustered with rke version v1.2.11), running rancher v2.6.0-rc (installed using helm install)
3. Import existing k3s cluster in rancher
4. From the

[2021-08-24 23:46] anupama2501 commented on #34408
Verified on v2.6-head 2e55e84

SUC workload deploys successfully in the downstream rke2 custom cluster when windows worker and linux etcd + cp  are registered and no errors are seen.

<img width="400" alt="Screen Shot 2021-08-24 at 4 45 16 PM" src="https://user-images.githubusercontent.com/38144301/130704051-0112dae7-781c-4ec5-8b28-91eac076cd62.png">

[2021-08-24 23:46] #34408 closed

[2021-08-24 23:56] deniseschannon commented on #32602
Available to test with k8s v1.21.3+rke2r2, which leverages the updated system-agent-installer that has these changes.

@bashofmann Can you please retest?

[2021-08-25 00:22] anupama2501 commented on #34307
Verified on v2.6-head 2e55e84

RKE components CNI, coredns, metrics server, ingress are deployed on the linux nodes and not on windows worker node.

[2021-08-25 00:22] #34307 closed

[2021-08-25 00:31] #34407 closed

[2021-08-25 00:49] rmweir commented on #34302
Driver cannot be downloaded bc pod is not running as root.
[code]

This then leads to an outdated driver being used and flags not being recognized:
`flag provided but not defined: -oci-node-memory-in-gb and join url to be available on bootstrap node`

[2021-08-25 00:51] rmweir commented on #34302
Tried using version of rancher-machine provided by @thedadams that fixed the permissions. Encountered the following error:
[code]

[2021-08-25 01:13] nickgerace commented on #34368
This is blocking https://github.com/rancher/rancher/issues/34221

[2021-08-25 01:21] robkooper opened #34435 "users from ldap show `Unable to fetch user info`"
**Rancher Server Setup**
- Rancher version: v2.5.9
- Installation option (Docker install/Helm Chart): helm
   - If Helm Chart, Kubernetes Info: RKE1
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup: 3 controller, 3 worker bootstrapped with terraform running centos
         Version: rancher-2.5.9
- Proxy/Cert Details: no proxy, running behind traefik

**Information about the C

[2021-08-25 01:26] davidnuzik commented on #34185
**My checks PASSED**

**Reproduction Steps:**

Not required. I understand the issue well.

**Validation Environment:**

Rancher version: v2.6-head `70f024e` pulled at 8/24/21 6:13 pm Pacific
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream cluster type: rke2
Downstream K8s version: v1.21.3+rke2r2

**Validation steps:**

1. Create a standard user and a restricted admin use

[2021-08-25 01:26] #34185 closed

[2021-08-25 01:38] A491382 opened #34436 "404 page not found after installation by docker run commond"
just setup the rancher server by docker run

docker run -d --restart=unless-stopped \
  -p 80:80 -p 443:443 \
  --privileged \
  rancher/rancher:latest

after the commond run completely  , I think it looks fine , the container is running
![image](https://user-images.githubusercontent.com/25001207/130711529-0bb9193b-f122-4718-930f-bf2b1623c1ff.png)

but when I open the chrome with the https://ip ,

[2021-08-25 01:41] deniseschannon opened #34437 "Update provisioning tests to use the correct environment variable for system-agent image"
Since @Oats87 changed the environment variable for system-agent, we didn't update how it was [used in the provisioning tests](https://github.com/rancher/rancher/blob/master/scripts/provisioning-tests#L28) which resulted in a change that would always pick up the latest system-agent image instead of the one that was in the [package/Dockerfile](https://github.com/rancher/rancher/blob/release/v2.6/pac

[2021-08-25 01:46] jiaqiluo commented on #34193
can be validated in the chart `rancher-backup 2.0.0+up2.0.0-rc10`

[2021-08-25 01:46] jiaqiluo commented on #34247
can be validated in the chart `rancher-backup 2.0.0+up2.0.0-rc10`

[2021-08-25 01:46] jiaqiluo commented on #33954
can be validated in the chart `rancher-backup 2.0.0+up2.0.0-rc10`

[2021-08-25 01:51] zhouwei517 commented on #33731
manifest：
{
   "schemaVersion": 2,
   "mediaType": "application/vnd.docker.distribution.manifest.list.v2+json",
   "manifests": [
      {
         "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
         "size": 3872,
         "digest": "sha256:f36765102ed639554224db6fed0aa52ebc8b5febc51d856e278ca584518f3cf0",
         "platform": {
            "architecture": "amd64",

[2021-08-25 02:17] guangbochen opened #34438 "Add the built-in Harvester cloud provider of RKE2 integration"
**Is your feature request related to a problem? Please describe.**
Both Harvester CCM & Guest CSI driver should install and configure by default when the user spins up a k8s cluster with the Harvester RKE2 node driver, therefore we will need to add the built-in Harvester cloud provider integration.

**Describe the solution you'd like**
- Add harvester-cloud-provider and harvester csi charts https:

[2021-08-25 03:06] #22063 closed

[2021-08-25 03:19] deniseschannon commented on #34365
Based on the RKE2 investigation,

It appears as though the cluster is generating a plan for system-agent that includes S3 flags. 1 to enable S3 and one for the bucket. I confirmed with @davidnuzik that the Rancher install is barebones and no S3 configuration for backup/restore.

[code]

This can be confirmed from the UI by going to this link below. It shows the contents of the generated secret.

h

[2021-08-25 03:34] kinarashah commented on #32050
Available to test with the latest chart on `v2.6-head`, please confirm that `system-upgrade-controller` is at `v0.7.5`.

[2021-08-25 03:53] aiyengar2 opened #34440 "[Backport 2.5] rancher-monitoring-crd chart does not make use of global toleration settings"
Backports fix for https://github.com/rancher/rancher/issues/34439

[2021-08-25 03:56] aiyengar2 commented on #34439
Also, @peregrinator even with this fix, I don't believe our UI supports passing in values.yaml entries to the CRD chart at the current moment.

So I'm not sure how you will pass in the tolerations, unless you plan on using another method for installing this CRD chart into your Rancher cluster (e.g. if you manage it via fleet or some other method).

[2021-08-25 04:14] aiyengar2 commented on #34115
### Steps taken to reproduce the issue

On both Rancher`v2.6.0-rc6` using `v1.21.4-rancher1-1`:
- Provisioned a private registry node
  - To provision the private registry, I designed a script and made some modifications to the terraform. See https://github.com/aiyengar2/tf-do-rancher2/commit/7f9a9f0cc928081a8d631912d695415515871400.
- Provisioned a Rancher instance and a custom cluster with 3 all

[2021-08-25 04:15] aiyengar2 commented on #34115
FYI in the above screenshot, I named the private registry 260rc5 instead of 260rc6 in my hostname, but I mirrored the images from 2.6.0-rc6 as expected 😅

[2021-08-25 04:28] deniseschannon opened #34442 "Cluster Owner (standard user) has error message in viewing the config of the RKE2 cluster"
**Rancher Server Setup**
- Rancher version: v2.6-head 70f024e
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE1
         Node Setup:
         Version:

**Information about the Cluster**
- Kubernetes version: v1.21.3+rke2r2
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what t

[2021-08-25 04:34] Oats87 commented on #34437
I don't believe I caused this issue, as I didn't change the environment variable name. It was added in the manner it is in here: https://github.com/rancher/rancher/commit/3abb547f743cfcde471c564b718d01b602faaef0

PR is incoming to update the environment variable.

[2021-08-25 04:36] deniseschannon commented on #34442
@ibuildthecloud has mentioned that cluster owners should be able to list the cloud credential resources so the UI can fill in the boxes.

[2021-08-25 04:36] deniseschannon opened #34443 "Standard user as a cluster member sees error on the view config page"
**Rancher Server Setup**
- Rancher version: v2.6-head 70f024e

**Information about the Cluster**
- Kubernetes version: v1.21.3+rke2r2
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): DO

**Describe the bug**

There is an error on the view config page of a cluster for cluster members

**

[2021-08-25 04:40] deniseschannon commented on #34404
Validated with v2.6-head 70f024e

Both use cases above can see machines in machine pools on the cluster detail page.

<img width="1185" alt="Screen Shot 2021-08-24 at 9 09 55 PM" src="https://user-images.githubusercontent.com/11410997/130725328-10d82f32-924b-4a47-b2d8-89f1bddf28b1.png">

BUT a user base with manage nodes role is unable to scale up or down the machine pool. They have the ability to

[2021-08-25 04:42] deniseschannon commented on #32632
UI should now show

v1.21.3+rke2r2
and
v1.21.4-rc1+rke2r1

[2021-08-25 05:23] deniseschannon commented on #34437
@thedadams @dramich Is there a way to check if the provisioning tests are using the system-agent that's in Dockerfile?

[2021-08-25 06:05] sowmyav27 opened #35828 "Actions that cannot be performed by a Cluster member are available on an RKE1 cluster in a rancher setup when RKE2 flag is disabled"
**On 2.6-head commit id: `b43e4d9`**

Actions that cannot be performed by a Cluster member are available on an RKE1 cluster in a rancher setup when RKE2 flag is disabled
<img width="1126" alt="Screen Shot 2021-08-24 at 11 04 08 PM" src="https://user-images.githubusercontent.com/26032343/130735223-25c71212-db96-459a-ad96-26cf74862442.png">

[2021-08-25 06:06] kravciak opened #34475 "When I delete NS as Standard-User it's stuck in terminating"
As Admin:
- create DO RKE2 cluster
- create Standard-User and assign it to the cluster with `Member` role

As User:
- create project
- create ns
- delete ns

Result: Deleted NS is stack in `Terminating` state until page refresh
For admin it's working fine, this only happens for user.

![Screenshot from 2021-08-25 08-01-54](https://user-images.githubusercontent.com/538604/130735309-b99e0e37-f907-45

[2021-08-25 06:20] brendarearden commented on #33633
Validation: PASSED

Steps used to validate:

1. Setup connection to Rancher drone server (connection info can be found in your user settings)
2. Run `bash scripts/promote-docker-image.sh v2.6.0-rc6 donotuse` using the latest rc version and see the following output
[code]
3. I am able to see both archs present for donotuse tag in Docker Hub
4. Running `docker run -d --restart=unless-stopped -p 80:8

[2021-08-25 06:27] sowmyav27 commented on #32414
**On 2.6-head commit id: `b43e4d9`**

- Validated usecases for custom rke2, import clusters and nodepool rke2 clusters for Cluster owner, Cluster member, Project owner and project member.
- Validated usecases when RKE2 flag was disabled for these users.
- Separate bugs logged for issues found.
- Closing this issue

[2021-08-25 06:27] #32414 closed

[2021-08-25 07:46] guangbochen commented on #33800
Re-tested using the `master-head-390a336`, deleting the imported harvester cluster will not clean up the `cattle-system` namespace and resources, also re-importing the deleted cluster also works, thanks.

[2021-08-25 08:07] xinmans commented on #23397
+1

pi@raspberrypi:~ $ sudo docker run --platform linux/arm/v7 -d --restart=unless-stopped -p 80:80 -p 443:443 --privileged rancher/rancher
Unable to find image 'rancher/rancher:latest' locally
latest: Pulling from rancher/rancher
Digest: sha256:10e938f788e725d1d2ed7bc909bae8c7a83b756c520fb2596bf559e44e13587d
Status: Image is up to date for rancher/rancher:latest
WARNING: image with reference ranc

[2021-08-25 09:06] superseb commented on #34436
What does `curl -vLk https://192.168.6.130` output of both the host itself and from the host you are testing (or from another Linux machine that is not the same machine)?

The name of the machine suggests you are also running k3s on it?

[2021-08-25 09:22] A491382 commented on #34436
thank for your reply ,  I tried curl commond in the k3s server as below

![image](https://user-images.githubusercontent.com/25001207/130763914-c9aa1a83-1992-4439-aba2-4c226a38a5ef.png)

and I also tried it in the k3s agent as below too

![image](https://user-images.githubusercontent.com/25001207/130764657-ec078765-1623-4de4-af07-65756103d267.png)

[2021-08-25 09:27] superseb commented on #34436
You can't run k3s on the node which uses port 80 and port 443 for ingress (traefik) and then run a Docker container using the same ports. Hitting the host on that port is reaching traefik from k3s, either use separate machines or use a different port (or disable traefik) but not sure what the use case for running them both on the same machine is.

[2021-08-25 09:28] superseb commented on #33731
What `rancher/rke-tools` image tag is on the machine and being used? If you run it manually, does it work in any version or not at all? (`docker run rancher/rke-tools:v0.1.77 /usr/bin/confd` or `docker run rancher/rke-tools:v0.1.77 /usr/bin/nginx-proxy`)

[2021-08-25 09:28] sevenval-admins commented on #25557
We would be very interested to this feature too.
Can anyone please give us some feedback?

[2021-08-25 09:31] deniseschannon commented on #33800
@guangbochen can you re-test with v2.6-head as the changes for master have not been merged.

[2021-08-25 09:32] A491382 commented on #34436
ok , but in my mind , I tired 8082 and 9443 before , but still 404 page not found issue , anyway , let me setup a new virtual machine to install docker and rancher server to try again , let me try firstly , may thanks

[2021-08-25 09:46] zhouwei517 commented on #33731
# docker run rancher/rke-tools:v0.1.77 /usr/bin/nginx-proxy
Unable to find image 'rancher/rke-tools:v0.1.77' locally
v0.1.77: Pulling from rancher/rke-tools
595b0fe564bb: Already exists
fa54502dbfa6: Pull complete
d2cb09b9e6aa: Pull complete
7ef83e7b3a3b: Pull complete
80a3065a2c7e: Pull complete
c83609e9cc59: Pull complete
a79da5c6684b: Pull complete
8568912ec4f2: Pull complete
4c06f7b082e3: Pull

[2021-08-25 09:50] zhouwei517 commented on #33731
rancher/rke-tools image tag is 0.1.75（rancher/rke-tools:v0.1.75），but v0.1.77 has the same issues

[2021-08-25 10:35] guangbochen commented on #33800
ditto, it works in `v2.6-head`, thanks.

[2021-08-25 11:11] meysamfarazmand opened #34447 "Setup kubernetes cluster on private address range"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE1
         Node Setup:
         Version:
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: 1.22
- Cluster Type (Local/Downstream): Local
   - If downstream, what type of cluster?

[2021-08-25 11:36] superseb commented on #33731
Still unclear to me why it doesn't work for you, I tested it on EC2 ARM instance and it worked. What instances/devices are you using? Are you airgapped? Can you try specifically for the arm64 image (`docker run rancher/rke-tools:v0.1.77-linux-arm64 /usr/bin/nginx-proxy`) ?

[2021-08-25 12:23] richard-cox opened #34452 "Unable to assign cluster roles when in MCM=false mode"
When mcm is disabled via --features=multi-cluster-management=false it's impossible for a cluster admin to assign cluster membership roles
- They can't edit the cluster (correctly)
- They can't see the Clsuter Explorer / RBAC / Cluster Members page (incorrectly)

This happens because a number of resources aren't available

- Cluster Members page link
  - (missing) management.cattle.io.clusterrolete

[2021-08-25 13:29] kravciak commented on #33800
I imported 2 k3s clusters, one clean and one with rancher running.
Cattle-system ns is nore deleted after removal from UI on any of them.

After removal from rancher state is:
[code]

[2021-08-25 13:50] bashofmann commented on #32050
Works for me now. The upgrade runs through successfully.

[2021-08-25 13:54] Lebvanih opened #34448 "[2.5.8] Application state is incorrect if multiple application uses the same name in different projects within the same cluster."
**Rancher Server Setup**
- Rancher version: v2.5.8
- Installation option (Docker install/Helm Chart): Helm
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE1

**Information about the Cluster**
- Kubernetes version: v1.20.9
- Cluster Type (Local/Downstream): Local

**Describe the bug**
We noticed since a few version of rancher already (was already the case

[2021-08-25 14:11] #34327 closed

[2021-08-25 14:13] #33046 closed

[2021-08-25 14:13] #33328 closed

[2021-08-25 14:15] #34115 closed

[2021-08-25 14:31] bashofmann commented on #32602
Tested with v2.6-head b7c440b and v1.21.3+rke2r2: I still see the same behaviour described above. Could it be that these changes are not included there yet?

[2021-08-25 14:33] deniseschannon commented on #32602
No, it should work. @Oats87 had updated the image for that version so it should work. I will reopen the issue for him.

[2021-08-25 14:56] juanbrny opened #34450 "Properly remove rkestate files left behind on /etc/kubernetes when etcd backups fail"
Customer had some nodes down because they run out of space. The space was consumed by thousands of rkestate files on folder /etc/kubernetes.

[code]

The desired behavior for this is that there's some kind of process that periodically removes both failed backups and any file left behind by them.

As workaround those rkestate files are being removed manually.

Customer environment is air-gapped. Th

[2021-08-25 14:56] snasovich commented on #33800
@cmurphy , could you please take a look into this?

[2021-08-25 15:25] cmurphy commented on #33800
@kravciak how long did you wait between clicking delete and checking the cluster state? Could you show the state of the cattle-system namespace as well?

[2021-08-25 15:31] davidnuzik opened #34451 "Local Snapshot restoration fails in Rancher downstream RKE2 clusters"
**Summary:**
The system agent appears to have similar behavior to https://github.com/rancher/system-agent/issues/49 when I attempt to take a snapshot - I will see an attempt to restore from snapshot in the agent logs that will fail, and it will seemingly infinitely keep trying restoration. Note that both local and s3 restoration fail, but this issue is specific to local. s3 may have slightly diffe

[2021-08-25 16:08] slickwarren commented on #32403
on v2.6.0-rc6, I am able to:
* bring up rke2 cluster v1.21.3-rc7+rke2r2 successfully -- pass
* briing up rke1 cluster v1.21.4 successfully -- pass

[2021-08-25 16:08] #32403 closed

[2021-08-25 16:08] clarkezone commented on #21324
I'm having the same issue

[2021-08-25 16:35] bashofmann commented on #32602
In my setup I have both: Rancher can only connect to the internet through a proxy and the downstream cluster can only connect to Rancher and the internet (to pull images) through a proxy.

[2021-08-25 16:38] jiaqiluo opened #34453 "[2.5] [Backport] service "rancher-webhook" not found error when helm install rancher"
backport the fix for the issue https://github.com/rancher/rancher/issues/33988

[2021-08-25 16:39] cmurphy opened #34454 "[v2.5.10] Backport: "unable to create impersonator account: error getting service account token: serviceaccounts \"cattle-impersonation-system/cattle-impersonation-user-dxx4g\" not found - Error seen for Monitoring and Istio v1 charts and when using downloaded kubeconfig"
https://github.com/rancher/rancher/issues/34187

[2021-08-25 16:41] cmurphy commented on #34141
I think this can be closed, the linked issue was closed in https://github.com/rancher/rancher/issues/34042#issuecomment-900351458. I opened a different backport issue https://github.com/rancher/rancher/issues/34454 for the related impersonation issue.

[2021-08-25 16:52] Oats87 commented on #32602
@bashofmann You’re seeing that the environment file is still being appended to instead of recreated, and RKE2 is not restarting? Is there any way you can upload the logs from the rancher-system-agent here?

[2021-08-25 17:38] CombatCode opened #34458 "Fluentd configuration do not allow to parse JSON string"
**Rancher Server Setup**
- Rancher version: 2.4.15

**Describe the bug**
Is this possible to parse JSON string while sending logs to elastic search?

Elastic search recipe logs as JSON strings:
<img width="1115" alt="Screenshot 2021-08-25 at 19 34 28" src="https://user-images.githubusercontent.com/764584/130838203-040e98b3-4e21-49ae-bd57-0cff8fc2dbbc.png">

I am not able to run this option and do

[2021-08-25 18:18] anupama2501 opened #34461 "rke2 downstream clusters fail to come active when we perform restore with migration to a new rancher server"
**Rancher Server Setup**
- Rancher version: v2.6-head d350f7d
- Installation option (Docker install/Helm Chart): `Helm chart`
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):`RKE1`
         Node Setup: 3 nodes all roles
         Version: `v1.21.4`
- Proxy/Cert Details: `self-signed`

**Information about the Cluster**
- Kubernetes version: `v1.21.4-rc1+rke2r1`

[2021-08-25 18:24] davidnuzik opened #34462 "Attempting to restore a local snapshot a second time has no effect"
**Summary:**

Local snapshot restoration now works thanks to the fix in https://github.com/rancher/rancher/issues/34451 (PR https://github.com/rancher/rancher/pull/34441).

However, I encounter unusual behavior if I attempt to restore from the local snapshot a second time. The frontend appears to send a proper PUT request to invoke restoration and the server appears to respond appropriately. Howev

[2021-08-25 21:12] jiaqiluo opened #34466 "[2.5] [backport] [rancher-backup] Restore fails on a rollback in the same rancher setup with error "Failed to find system chart fleet will try again in 5 seconds" and Rancher UI is not accessible"
backport https://github.com/rancher/rancher/issues/34193

The fix will be in both rancher and the rancher-backup app

[2021-08-25 21:21] jiaqiluo opened #34467 "[2.5] [Backport] Rancher backup charts backs up rancher deployment"
backport https://github.com/rancher/rancher/issues/34247

[2021-08-25 21:27] codyrancher opened #34468 "Removing a pod security policy from a project yields a 500 error"
**Rancher Server Setup**
- Rancher version: master-head
- Installation option (Docker install/Helm Chart):
   Docker install
- Proxy/Cert Details:
   default

**Information about the Cluster**
- Kubernetes version: 1.21.4
- Cluster Type (Local/Downstream):
   - RKE1/2 DigitalOcean

**Describe the bug**
When submitting the `setpodsecuritypolicytemplate` with podSecurityPolicyTemplateId set to null

[2021-08-25 21:27] #32602 closed, assigned to ibuildthecloud, deniseschannon, slickwarren, Oats87

[2021-08-25 21:45] slickwarren opened #34470 "RKE2 version is not displaying it is an RC for imported clusters"
**Rancher Server Setup**
- Rancher version:v2.6-head (b7c440b)
- Installation option (Docker install/Helm Chart):docker
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):rke2
         Node Setup:
         Version:v1.21.4-rc1+rke2r1
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version:v1.21.4-rc1+rke2r1
- Cluster Type (Local/Downstream):

[2021-08-25 21:45] davidnuzik opened #34471 "Unable to restore rke2 clusters when there is more than 1 etcd node (sometimes)"
**Summary:**
This issue appears to be similar to https://github.com/rancher/rancher/issues/34272, however the UI may become responsive after a while and the steps to reproduce are not quite the same. I also don't see my cluster necessarily timeout and become unresponsive. Sometimes the UI will become responsive again after a while. This may only last a few minutes or so before it happens again. Th

[2021-08-25 22:04] slickwarren opened #34473 "when user updates rke-metadata-config on dev-v2.6, refreshing `Kontainer-driver-metadata` does not update available k8s versions"
**Rancher Server Setup**
- Rancher version:v2.6-head(b7c440b)
- Installation option (Docker install/Helm Chart):docker
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):k3s
         Node Setup:single node
         Version:v1.21.3+k3s1
- Proxy/Cert Details:self signed certs

**Describe the bug**

* when the user tries to refresh KDM info via the `refresh Kuberne

[2021-08-25 22:07] deniseschannon opened #34474 "Manage Nodes role doesn't allow scaling up and down machine pools for RKE2 clusters"
**Rancher Server Setup**
- Rancher version:v2.6-head - b8a44fa

**Information about the Cluster**
- Kubernetes version: v1.21.3-rc6+rke2r2
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): DO cluster running RKE2

**Describe the bug**

"Manage Nodes" role has previously been able to scal

[2021-08-25 22:09] #34474 closed, assigned to nobody

[2021-08-25 22:55] aiyengar2 opened #34476 "[Monitoring V2, Logging V2] Expose rke2Windows.enabled as an alternative way of enabling Windows stuff"
Necessary as a backend fix for https://github.com/rancher/dashboard/issues/3974.

This enables the approach detailed in https://github.com/rancher/dashboard/issues/3974#issuecomment-905917488.

The reason why it is a separate field is described in the PR.

[2021-08-25 23:30] aiyengar2 opened #34477 "[Backport 2.5, Monitoring V2, Logging V2] Expose rke2Windows.enabled as an alternative way of enabling Windows stuff"
Backport fix in https://github.com/rancher/rancher/issues/34476. Will be done as part of backporting the latest charts themselves from the 2.6.0 release.

[2021-08-25 23:44] bgulla opened #34478 "Custom Provisioning on arm64 fails because missing `nm-cloud-setup.service`"
**Rancher Server Setup**
- Rancher version: 2.6-rc5
- Installation option (Docker install/Helm Chart): helm
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): k3s
- Proxy/Cert Details:

**Describe the bug**

When installing to an `arm64` node via 'custom provisioner', my `raspberrypi-os` install fails with ```Aug 26 00:38:09 cm4n1 systemd[1]: Starting Lightweig

[2021-08-25 23:49] #34478 closed, assigned to nobody

[2021-08-26 00:32] cbron opened #34479 "Feature charts: Add max of 2.5.99 on all 2.5.x charts, add min of 2.6.0 on all 2.6.x charts."
We had previously done this with k8s min/max, but that has proven to not be robust enough.
This only applies to the dev and release 2.6 branches, not the 2.5 branches, those will continue as-is.

- [x] All charts not introduced in 2.6.0+ should have a max of 2.5.99 on them. Only exception would be if a chart was not released since 2.5.x, but I don't believe that is the case.
- [x] ~All new chart v

[2021-08-26 00:47] #34476 closed, assigned to aiyengar2

[2021-08-26 06:17] sowmyav27 opened #34486 "cluster-agent pod is not deleted from an imported cluster running rancher."
Imported 2 k3s clusters, one clean and one with rancher running.
Cattle-system ns is nore deleted after removal from UI on any of them.

After removal from rancher state is:
[code]
Tested on v2.6-head (b7c440b)

@cmurphy 's comments
Worked with @kravciak to diagnose the issue, the rancher instance in question is running without `--no-cacerts` and with self-signed certificates, and seems to lose it

[2021-08-26 07:30] peteingithub opened #34492 "All CIS v2.0.0 scans fail on v1.21.3+k3s1"
v2.6.0-rc7

Is this related to CIS itself?

![image](https://user-images.githubusercontent.com/86831399/130920214-4c4ac7fa-37a9-414b-8bbf-c30952481242.png)

[2021-08-26 12:22] bgulla opened #34487 "[2.6.0-rc5] Deleted Clusters reappear after a new cluster is provisioned"
*v2.6.0-rc5*

**Describe the bug**

Deleted clusters reappear when a new cluster is provisioned.

**To Reproduce**

Here's how I found this bug:
  1. created a new 'custom' k3s cluster.
  2. did not provision said custom cluster (call it `cluster-1`) (don't paste in the system-agent script on the downstream host)
  3. delete the cluster from the cluster manager
  4. create another cluster named `c

[2021-08-26 14:33] thehejik opened #34488 "Failed to communicate with API server when etcd role node is removed"
**Rancher Server Setup**
- Rancher version: `rancher/rancher:v2.6-head 607fcdd`
- Installation option (Docker install/Helm Chart): helm
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE (local), DO RKE2 (downstream)
         Version: v1.20.9 (local), v1.21.4+rke2r1 (ds)
         Node Setup: single-node custom RKE (local) + DO RKE2 (downstream) containing:

[2021-08-26 17:18] rmweir opened #37835 "after logging in for the first time, cannot see provisioning options"
**Type:**
Bug

**Steps:**
1. Setup docker install and log in.
2. Select "Create".

**Result:**
Only see one options:
![image](https://user-images.githubusercontent.com/19376037/131007080-a264f469-009a-411b-92f9-13eea9351683.png)

**Expected:**
Should be able to see all provisioning options.

**Note:**
After refresh all provisioning options are shown.

[2021-08-26 17:23] frank-at-suse opened #34493 "[2.6-head UI] When creating a GKE cluster "Maintenance Window" option allows only an end time to be selected"
**Rancher Server Setup**
- Rancher version: 2.6-head
- Installation option (Docker install/Helm Chart): Docker

**Describe the bug**
Maintenance Window is a drop-down menu that allows only selecting a time that turns out to be the END of a 4-hour window that occurs every day of the week - which can lead to confusion.  There should either be help text explaining this or, ideally, introduction of al

[2021-08-26 18:02] #34487 closed, assigned to nobody

[2021-08-26 18:06] rmweir opened #34494 "RKE2 Cluster system agent upgrader failed mount"
**Rancher Server Setup**
- Rancher version: 6af91dae03f434e171caf450e3769528e2788e0a
- Installation option (Docker install/Helm Chart):
docker install

**Information about the Cluster**
- Kubernetes version: v1.21.4+rke2r1
- Cluster Type (Local/Downstream):
  Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider):
    RKE2

**D

[2021-08-26 19:35] #34477 closed, assigned to aiyengar2

[2021-08-26 20:05] sowmyav27 opened #34495 "[rancher-backup] resourceSet is left in the old version if the rancher-backup app is already the latest in a upgrade-rollback-upgrade scenario"
Steps:
1. run rancher 2.5.9
2. install the rancher-backup 1.0.400
3. make a backup, name it backup-1
4. upgrade rancher to 2.6.0
5. upgrade the rancher-backup to 2.0.0
6. restore the backup
7. upgrade rancher to 2.6.0 again

Results:
The `resourceSet` in the cluster is the one designed for 2.5.9

Expected Results:
The `resourceSet` in the cluster should be the one for 2.6.0

Reasons:
Since the def

[2021-08-26 21:19] jiaqiluo opened #34496 "[Backport] [rancher-backup] resourceSet is left in the old version if the rancher-backup app is already the latest in a upgrade-rollback-upgrade scenario"
backport   https://github.com/rancher/rancher/issues/34495

[2021-08-26 22:19] slickwarren opened #34497 "[RKE2 provisioning] unable to add dedicated worker node to cluster using amazon EC2 as the provider"
**Rancher Server Setup**
- Rancher version: v2.6.0-rc7
- Installation option (Docker install/Helm Chart):helm
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):rke1
         Node Setup:
         Version: v1.21.4
- Proxy/Cert Details:valid certs (letsencrypt)

**Information about the Cluster**
- Kubernetes version: v1.21.4-rc1+rke2r1
- Cluster Type (Local/Downst

[2021-08-26 22:40] bmdepesa opened #34500 "Unable to generate kubeconfig after enabling Authorized Cluster Endpoint on RKE2 ec2 clusters"
rancher/rancher:v2.6.0-rc7

* Create an RKE2 ec2 cluster (custom or nodedriver)
* Edit the cluster to enable Authorized Cluster Endpoint
* Generate the kubeconfig

Expected:
* Kubeconfig is generated with additional contexts

Actual
* Kubeconfig fails to generate with a 500 when posting
[code]
* Disabling ACE allows the kubeconfig to be generated again

[2021-08-26 23:50] davidnuzik opened #34506 "Restricted Admin cannot see nodes on a cluster created by another user"
**Summary:**
The restricted admin is unable to see nodes from other clusters it did not created, but it should be able to. (just on the cluster management page, not in the cluster explorer).

**Environment:**
Rancher version: v2.6-head `607fcdde6` pulled at 8/26/21 8:58 am Pacific
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream cluster type: rke2
Downstream K8s version:

[2021-08-27 02:46] #34461 closed, assigned to jiaqiluo, StrongMonkey, anupama2501

[2021-08-27 04:33] aknam opened #34503 "Failed to get System Project ID: failed to find any cattle system project"
*Describe your issue here*
My cluster is giving error.
<img width="1440" alt="Screenshot 2021-08-27 at 10 02 55 AM" src="https://user-images.githubusercontent.com/44133963/131072177-37e5c3d1-7e56-4ef4-8ea3-aa9911bb0a3e.png">

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.5.9` UI: `v2.5.9` |
|Route|`undefined`|

[2021-08-27 08:19] ygirerd opened #34504 "[Rancher] ADFS metadata generation, SingleLogoutService"
Hi,

When using ADFS authentication, there is an issue on the metadata generated by URL like "https://xxxxxxx/v1-saml/adfs/saml/metadata". Field SingleLogoutService has an empty location. So, on ADFS side, it generates errors during automatic metadata reload.
Two solutions:
- remove SingleLogoutService
- Add a location

But maybe it exists a way to modify the metadata?

I'm using Rancher in v2.5.8

[2021-08-27 10:51] kefiras opened #35211 "[rancher-logging] Fluentd fails to start when HEC splunk output plugin is enabled and metrics.serviceMonitor is enabled"
Hello,

In 3.9.4 version fluentd configcheck fails with the below error when HEC splunk output is enabled and we try to enable metrics:

[code]

[code]

In dev-2.6 branch (100.0.0+up3.12.0 version) there is a different problem related to HEC and metrics:

[code]

Any chance this can be fixed in coming release ?

Thanks a lot

Wojtek

[2021-08-27 14:24] zbebeto opened #34505 "Changing the 4 default kubelet hard eviction thresholds"
The 4 default kubelet hard eviction thresholds are :

memory.available<100Mi
nodefs.available<10%
nodefs.inodesFree<5%
imagefs.available<15%
They are not good values for my reality. I could not find a complete “how to”.
Does anyone can provide a clear “how to” to change the default values for this 4 hard eviction thresholds ?
The changing must be in a Downstream cluster generated by the rancherapp

[2021-08-27 18:08] davidnuzik opened #34507 "Cluster owner sees an error in the UI when trying to edit a cluster created by restricted admin"
**Summary:**
When a restricted admin creates a cluster and assigns a cluster owner, this cluster owner will see an error in the UI when they try to edit the cluster.

**Environment:**
Rancher version: v2.6-head `607fcdde6` pulled at 8/26/21 8:58 am Pacific
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream cluster type: rke2
Downstream K8s version: v1.21.4-rc1+rke2r1

**Ste

[2021-08-27 18:18] jiaqiluo opened #34508 "[Rancher Webhook] pre-delete-hook-psp is created when preDelete.enabled is set to false"
Since the check for the value of `preDelete.enabled` is missing in the template for the pre-delete-hook-psp, it will be created even `preDelete.enabled` is false.

But because the chart is managed by Rancher internally, and `preDelete.enabled` is true by default, this missing check has no effect on rancher-webhook's functionality.

[2021-08-27 18:19] davidnuzik opened #34509 "Restricted admin cannot modify any RKE2 cluster it did not create - not an issue for RKE1 clusters"
**Summary:**
A restricted admin is unable to edit any RKE2 cluster it did not create.
The restricted admin can edit any RKE1 cluster without any issues.

**Environment:**
Rancher version: v2.6-head `607fcdde6` pulled at 8/26/21 8:58 am Pacific
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream cluster type: rke2
Downstream K8s version: v1.21.4-rc1+rke2r1

**Steps to Reprodu

[2021-08-27 18:32] peteingithub opened #34510 "Provision previous versions of RKE1 with Rancher"
**Is your feature request related to a problem? Please describe.**
It used to be (2.5.x and and previous rc releases up to rc6) possible to deploy previous RKE1 versions with Rancher using the `Edit as YAML` button.

**Describe the solution you'd like**
Enter previous release, e.g 1.21.3-rancher1-1 in the YAML box.

**Describe alternatives you've considered**
A clear and concise description of any

[2021-08-27 18:55] #34507 closed, assigned to davidnuzik

[2021-08-27 18:59] nickgerace opened #34511 "Add `rancher.cattle-system` to `no_proxy` list for `fleet-controller`"

[2021-08-27 18:59] #34511 closed, assigned to nobody

[2021-08-27 19:47] #32632 closed, assigned to slickwarren

[2021-08-27 21:22] anupama2501 opened #34518 "Restoring rancher from a backup on a migrated rancher server fails with the error unable to create new content in namespace cluster-fleet-default-anupamapostbkp because it is being terminated error restoring"
**Rancher Server Setup**
- Rancher version: v2.6.0-rc8
- Installation option (Docker install/Helm Chart): Helm
   - If Helm Chart, Kubernetes Info: `RKE1`
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup: 3 nodes all roles
         Version:  `v1.21.4`
- Proxy/Cert Details: Self-signed

**Information about the Cluster**
- Kubernetes version:
- Cluster Type (Local/Downstream):

[2021-08-27 21:27] davidnuzik opened #34519 "Unable to explore imported RKE2 clusters in Vue UI - imported RKE2 cluster shows Connected = false in mgmt cluster conditions"
**Summary:**
When you import any RKE2 cluster into the Vue UI you cannot explore it. Thus you cannot create any projects/namespaces/apps/workloads. It is "useless" to import an RKE2 cluster in the Vue UI today for the most part since we can't really do much with it. We can't deploy stuff to the cluster. This is NOT the case with an imported RKE1 cluster. An imported RKE1 cluster in the Vue UI work

[2021-08-27 21:53] davidnuzik opened #34520 "Rancher in infinite restart loop - disabled rke2 flag a 2nd time and stuck in this loop"
**Summary:**
Please note: I am extremely busy with higher priority 2.6.0 testing so I did not investigate this at all. I usually like to provide more detailed info and look into the issue but I don't have time. So I'm creating this issue just to track and for awareness - I could look into it more later.

I had a v2.6-head cluster up 8/27 and was doing lots of rbac testing. I disabled the rke2 flag

[2021-08-27 22:23] #34506 closed, assigned to davidnuzik

[2021-08-27 22:27] #34519 closed, assigned to kinarashah, davidnuzik

[2021-08-27 23:21] #32711 closed

[2021-08-28 00:19] thedadams commented on #34264
The image is ready: thedadams/rancher:af4dde44

[2021-08-28 00:44] ibuildthecloud commented on #34520
The error `2021/08/27 21:40:46 [ERROR] unable to update feature multi-cluster-management in initialize features: Internal error occurred: failed calling webhook "rancherauth.cattle.io": Post "https://rancher-webhook.cattle-system.svc:443/v1/webhook/validation?timeout=10s": dial tcp 10.43.96.41:443: connect: no route to host` would indicate that the webhook is not running. If you have the setup sti

[2021-08-28 01:45] slickwarren commented on #34509
on 2.6-head (dfe795a) - - same commit as https://github.com/rancher/rancher/pull/34517
Following Dave's repro instructions, I see a similar (but I think expected) error
<img width="602" alt="Screen Shot 2021-08-27 at 6 27 02 PM" src="https://user-images.githubusercontent.com/16691014/131201912-ddaa6d9c-26b9-4f7e-b6e9-2bca4ccf1f3d.png">

with 403 error
[code]

This is very similar to rke1/ember's f

[2021-08-28 01:45] #34509 closed

[2021-08-28 01:53] jakefhyde commented on #34383
# Fresh Install

## Environment

Install: `HA`
Rancher version: `v2.5-head`
Kubernetes version: `v1.20.9`

No issues noted. Lets Encrypt not tested, self-signed only.

## Commands

`kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.0.4/cert-manager.crds.yaml`
`helm install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --version v1.0.4`

[2021-08-28 01:53] davidnuzik commented on #34264
**My checks PASSED**

**Reproduction Steps:**

Not required.

**Validation Environment:**

Rancher version: `thedadams/rancher:af4dde44`
Rancher cluster type: single-node docker
Docker version: 20.10

Downstream cluster type: rke2
Downstream K8s version: v1.21.4+rke2r1

**Validation steps:**

1. Try to reproduce the issue where we make a cluster in a bad state - this was done by creating a cluster

[2021-08-28 01:53] #34264 closed

[2021-08-28 05:17] sowmyav27 commented on #32598
**On 2.6.0-rc8**

Verified these usecases
using backup restore latest charts verified
- Upgrade from 2.5.9 to 2.6.0-rc8 and rollback to 2.5.9 in same cluster
- Upgrade from 2.5.9 to 2.6.0-rc8 and rollback to 2.5.9 in a new RKE1 local cluster
- Upgrade from 2.5.9 to 2.6.0-rc8 and take backup b1. Deploy RKE2 cluster. Restore to b1
- Backup and restore in 2.6.0-rc8

[2021-08-28 05:18] #32598 closed

[2021-08-28 05:24] #33190 closed

[2021-08-28 09:01] yeongjet commented on #34363
Maybe rancher doesn't support k8s 1.22 now

[2021-08-28 09:10] kerry-Cho commented on #34363
Yes, that's the reason

[2021-08-28 09:30] superseb commented on #34363
You can follow https://github.com/rancher/rancher/issues/34060 for 1.22 support

[2021-08-28 09:30] #34363 closed

[2021-08-28 14:02] #33194 closed

[2021-08-28 14:31] ibuildthecloud commented on #33875
@PennyScissors The chart generates that secret from the template if generate is true. Otherwise we expect the user to manually populate the secret and set generate to false.

[2021-08-28 16:46] bmdepesa commented on #34500
v2.6-head 8bc6327

The same problem is still occurring. It looks to be mostly unrelated to ACE, but when editing the cluster to enable ACE, the edit is not successful and the cluster goes into a bad state with all of the system workloads stuck `updating`.

@thedadams has a setup and is investigating.

[2021-08-28 17:09] anupama2501 commented on #34518
Seen on v2.5.9 as well:

- On rancher server created 2 rke1 node driver clusters [3 worker, 1 etcd, 1 cp ] in each cluster
- Installed backup charts in the local cluster. version `1.0.400`
- from continuous delivery, created a git repo - fleet1, url https://github.com/rancher/fleet-examples , path: multi-cluster/helm
- Took a backup of the rancher server - bkp1
- Created another git repo - fleet2

[2021-08-28 17:10] mccj commented on #18312
I use rancher v2.5.8 and I have the same problem

[2021-08-28 17:41] thedadams commented on #34500
The problem seen in this issue is not related to ACE. It is this issue: https://github.com/rancher/rancher/issues/34497

I used a setup from @bmdepesa to investigate and I believe I have fixed the linked issue. PRs are in Review.

[2021-08-28 20:08] PennyScissors commented on #33875
Rancher v2.6-head 3c7f582
RKE2 vsphere cluster
K8s v1.21.4+rke2r1

Failed checks:
There seems to be a winder problem in RKE2 vsphere cluster provisioning when the vsphere cloud provider is enabled that is causing RKE2 to restart repeatedly.

logs in `journalctl -u rke2-server`

![image](https://user-images.githubusercontent.com/8951271/131229712-c51acd0c-e384-4c54-85cf-02d605ecfab3.png)

output of

[2021-08-28 20:27] deniseschannon commented on #33875
The external IP fix for cloud provider was merged after this commit. So this needs to be re-tested on a newer Rancher server version.

[2021-08-28 20:30] PennyScissors commented on #33875
Re-testing this with the latest commit.

[2021-08-28 22:37] slickwarren commented on #33831
There is a similar error on 2.6.0-rc6 using v0.1.5/0.3.0:
* cattle-prometheus/exporter-kubelets-cluster-monitoring/2 are down in prometheus (0.1.5)
  * these targets are NOT down on 0.3.0.
  * on both 0.3.0 and 1.5.0, **prometheus-ip-scrape has no targets** -> I think this is the issue
* this does not occur on 2.5.9 with 0.2.2 installed ->  all targets are up

[2021-08-28 22:44] pulberg commented on #30996
This is still happening in 2.5.9

[2021-08-28 22:50] peteingithub commented on #34492
Same problem with RC9.

![image](https://user-images.githubusercontent.com/86831399/131232844-bddb83ae-93e9-4473-bfa2-268fd971ff86.png)

[2021-08-28 22:51] peteingithub commented on #33602
Not in the menu, need to go to the cluster -> snapshot tabs.

[2021-08-28 22:51] #33602 closed

[2021-08-29 00:14] PennyScissors commented on #33875
Failed checks:

RKE2 started successfully this time, but provisioning gets stuck trying to retrieve the node's status and searching for a provider Id when the cloud provider is set to vsphere (provisions fine when set to None). I can provide access to this setup if needed.

RKE2 server status:
![image](https://user-images.githubusercontent.com/8951271/131234010-bbd51894-369e-451f-b029-d3f686d9a618

[2021-08-29 01:18] davidnuzik commented on #34520
The problem is rancher is running in a container; as soon as it barely comes up it will halt/shut down.
I haven't been able to reproduce this; I'm inclined to close this out -- if I see it again I can reopen.

[2021-08-29 01:18] #34520 closed

[2021-08-29 01:30] cloudcafetech opened #34533 "create cluster provider custom using curl"
creating cluster provider custom  using curl (following guide https://rancher.com/adding-custom-nodes-kubernetes-cluster-rancher-2-0-tech-preview-2) below command.

https://rancher.com/adding-custom-nodes-kubernetes-cluster-rancher-2-0-tech-preview-2

But in console when cluster created its says its imported not custom.

Not sure where should I mention provider ```custom```

[2021-08-29 01:45] 0xEmma opened #34534 "[DOC] Keycloak documentation outdated"
In https://rancher.com/docs/rancher/v2.x/en/admin-settings/authentication/keycloak/  the following is given
![](http://images.0xem.ma/lidQ)

However, you need to remove md: from all elements, and the mentioned issue is not present.

Example output:
[code]

Valid input for rancher:
[code]

Rancher V2.5.9
KeyCloak V15.0.2

[2021-08-29 05:29] sowmyav27 commented on #34497
**on 2.6.0-rc9**

- Deployed an RKE2 AWS cluster - 1 etcd, 1 cp and 1 worker nodes
- Worker node is still stuck in Provisioning state
- `journalctl -u rancher-system-agent` logs

[code]

[2021-08-29 05:31] sowmyav27 commented on #33880
**On 2.6.0-rc9**

- Create an RKE2 cluster
- `v1.21.4-rke2r1` is the only rke2 version available in dropdown

[2021-08-29 05:31] #33880 closed

[2021-08-29 15:37] adaliszk opened #34537 "EKS-Operator constantly re-tries previously failed node group configuration"
**Rancher Server Setup**
- Rancher version: 2.6.0-rc9
- Installation option (Docker install/Helm Chart): Docker

**Information about the Cluster**
- Kubernetes version: v1.21.2-eks-0389ca3
- Cluster Type (Local/Downstream): Hosted
- Infrastructure Provider: AWS

**Describe the bug**
When changing the instance types on a Node Group, Rancher keeps re-trying the previously failed type.

**To Reproduc

[2021-08-29 15:51] zbebeto commented on #34505
I Will try that and Will give the feedback.

[2021-08-29 16:35] #33217 closed

[2021-08-29 16:35] #33219 closed

[2021-08-29 17:09] adrianovieira opened #34538 "v2.6.0 Font size problems"
**Rancher Server Setup**
- Rancher version: v2.6.0-rc8 either v2.6.0-rc9
- Installation option (Docker install/Helm Chart): docker
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup:
         Version:
- Proxy/Cert Details:
-
**Information about the Cluster**
- Kubernetes version: embedded k8s/v1.21.3
- Cluster Type (Local/Downstream): local

[2021-08-29 17:26] slickwarren opened #34539 "only Admin user has access to view/use secrets -> if a user creates an http secret, they cannot re-select it when editing a cluster or when creating a second cluster"
**Rancher Server Setup**
- Rancher version:v2.6.0-rc9
- Installation option (Docker install/Helm Chart):helm
   - If Helm Chart, Kubernetes Info:v1.21.4
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):rke1
         Node Setup:HA
         Version:1.3.0-rc19
- Proxy/Cert Details:letsencrypt certs

**Information about the Cluster**
- Kubernetes version:any
- Cluster Type (Local/Downstream):downstre

[2021-08-29 18:11] slickwarren opened #34540 "registry authentication -> created secret is not saving/being sent in request when using `configure advanced containerd mirroring and registry authentication options`"
**Rancher Server Setup**
- Rancher version:v2.6.0-rc9
- Installation option (Docker install/Helm Chart):helm
   - If Helm Chart, Kubernetes Info:v1.21.4
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):rke1
         Node Setup:HA
         Version:1.3.0-rc19
- Proxy/Cert Details:letsencrypt certs

**Information about the Cluster**
- Kubernetes version:any
- Cluster Type (Local/Downstream):downstre

[2021-08-29 18:12] slickwarren commented on #34223
on 2.6.0-rc9:
* a registry with valid certs (letsencrypt) is now working for rke2 clusters 🎉
  * there are still some issues with this, but the basic functionality is working so I'll open new tickets for them:
    * [only admin can access previously created secrets from the dropdown](https://github.com/rancher/rancher/issues/34539)

[2021-08-29 18:12] #34223 closed

[2021-08-29 19:26] davidnuzik commented on #34497
Can confirm - still broken, v2.6-head `5f5f0ae57` pulled at 11:00am pacific
Blocking upgrade testing

[2021-08-29 19:46] davidnuzik commented on #32390
The good news is I can bring up Azure clusters now when specify azure cloud provider.
The bad news is that I still cannot leverage Azure cloud provider features -- my understanding is this is not a release blocker and we'll work to fix asap for a 2.6.1 release.

I have been working with Hussein and we tried a cloud provider config like the following but this didn't work either:

[code]

Still susp

[2021-08-29 20:26] davidnuzik commented on #34471
v2.6-head `5f5f0ae57` pulled at 8/29/21 11:00 am Pacific
rke2 v1.21.4+rke2r1

I tested a few times (since this didn't always happen) and after several attempts I can no longer reproduce this issue; thus I am decently confident the issue is resolved and will close this out. Restoration from any automatic snapshot (any of the 3 snapshots for each etcd node) or any on-demand snapshot all work for me.

[2021-08-29 20:26] #34471 closed

[2021-08-29 20:31] davidnuzik commented on #32391
v2.6-head 5f5f0ae57 pulled at 8/29/21 11:00 am Pacific

I am unblocked and have finished testing local snapshot/restore on RKE2 clusters via https://github.com/rancher/rancher/issues/34471 in that issue I tested a multi-node rke2 cluster - I tried several times to snapshot/restore - restore from automatic snapshots or on-demand and various options (each time you snapshot it takes as many as there

[2021-08-29 20:31] #32391 closed

[2021-08-29 22:47] sowmyav27 opened #34541 "metrics server, coredns and cluster agent are not available on an upgraded Rancher server on a RHEL 8.3 cluster and 1.18k8s"
**Rancher Server Setup**
- Rancher version: 2.5.9 to 2.6.0-rc9
- Installation option (Docker install/Helm Chart): HELM
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE1
         Node Setup: 3 nodes all toles
         Version: 1.20.9
- Proxy/Cert Details: rancher generated

**Information about the Cluster**
- Kubernetes version: 1.18.20
- Cluster Type (Loc

[2021-08-29 23:12] PennyScissors commented on #33875
Setup:
Rancher v2.6-head 5f5f0ae
RKE2 vpshere cluster
v1.21.4-rc1+rke2r2

PASSED checks:
The RKE2 vsphere cluster was provisioned correctly, and the vsphere CPI and CSI charts were deployed using the new cloud provider dropdown workflow. One observation is that I needed to raise the cluster's resources to 2cpu/8gb for it to work correctly. The default 2cpu/2gb the UI sets for you will make the CSI

[2021-08-30 00:07] cjellick commented on #33875
we need to cut a v1.21.4-rc2+rke2r2

Nothing around vpshere is changing from RC1, so i think the testing is still valid, just wanted to make you all aware

generally release testing will be done by @rancher-max

[2021-08-30 00:09] PennyScissors commented on #33875
@sowmyav27 I can re-test this once `v1.21.4-rc2+rke2r2` is available if you think is necessary, just let me know.

[2021-08-30 00:17] PennyScissors commented on #32742
Closing this; the CPI and CSI charts were updated to use node affinity to handle the discrepancy in the node selector labels because the vsphere charts need to be backwards compatible and old RKE1 clusters will not have this change.
https://github.com/rancher/charts/pull/1448
https://github.com/rancher/charts/pull/1451

[2021-08-30 00:18] #32742 closed

[2021-08-30 00:19] PennyScissors commented on #32744
Closing this; the CPI and CSI charts were updated to use node affinity to handle the discrepancy in the node selector labels and the cluster type enum logic was removed.
https://github.com/rancher/charts/pull/1448
https://github.com/rancher/charts/pull/1451

[2021-08-30 00:19] #32744 closed

[2021-08-30 00:36] slickwarren opened #34542 "[not always reproducible] RKE2 Nodes are not being removed from backend/provider when deleting infrastructure-provider clusters through rancher"
**Rancher Server Setup**
- Rancher version:v2.6.0-rc6
- Installation option (Docker install/Helm Chart):docker
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup:
         Version:
- Proxy/Cert Details:self signed

**Information about the Cluster**
- Kubernetes version:v1.21.4/1.21.3 (RKE2)
- Cluster Type (Local/Downstream): downstream
   -

[2021-08-30 00:51] #33875 closed

[2021-08-30 07:28] bmdepesa commented on #31604
rancher/rancher:v2.6-head 5f5f0ae

* This is working on an RKE2 DO nodedriver cluster both from cluster creation and when enabling after the cluster is created
* When enabled, the generated kubeconfig contains contexts for both direct access and accessing through Rancher
* Both contexts are functional when enabled
* ACE can be disabled, and the generated kubeconfig contains only the Rancher contex

[2021-08-30 08:03] rzyeleven commented on #17198
same behaviour reproducible with 2.5.3

[2021-08-30 08:25] vincent99 commented on #17198
Services are not created the same way in 2.6 and this isn't going to change for 2.5.x.

[2021-08-30 08:25] #17198 closed

[2021-08-30 11:39] thehejik commented on #34214
Tested on `rancher/rancher:v2.5-head 0019305`

* The variable `ingress-ip-domain` in global settings was changed to value `sslip.io`
![image](https://user-images.githubusercontent.com/12828077/131333165-00aec6b5-8089-45ef-8f73-dd172a71e220.png)

* ingress using this new value works and the http service is reachable
![ingress-sslip](https://user-images.githubusercontent.com/12828077/131333528-11dd3

[2021-08-30 11:39] #34214 closed

[2021-08-30 11:58] #33248 closed

[2021-08-30 11:58] #33220 closed

[2021-08-30 13:12] shpwrck commented on #34334
There is a manual process to enable this which should be automatable:

1. Register Fleet cluster
2. Create an empty Rancher cluster object
3. Convert the import manifest into a git repository
4. Add the `fleet.cattle.io/managed: false` labels to the resources in the repository
5. Create a GitRepo resource referring to the git repository and the target Fleet cluster
6. Clean up original Fleet resou

[2021-08-30 15:35] dsim62 commented on #30862
Hi,

Yes we are still facing this issue on Rancher 2.5.8, on one of our customers, we disabled or deleted users in active directory but there are still active in rancher after days

[2021-08-30 16:21] paynejacob commented on #33672
When we do this we should also start mirroring images from ghcr, these images have support for more cpu arches.

[2021-08-30 16:30] jakefhyde commented on #34383
Closed via [rancher/docs#3464](https://github.com/rancher/docs/pull/3464)

[2021-08-30 16:31] #34383 closed

[2021-08-30 17:10] jonathon2nd commented on #32847
I am hoping that this can be addressed with 2.6 upgrade :crossed_fingers:

Still seeing in:

Rancher | v2.5.9
User Interface | v2.5.9
Helm | v2.16.8-rancher1
Machine | v0.15.0-rancher55

[2021-08-30 17:43] rancher-max opened #34546 "Cannot upgrade imported rke2 cluster in rancher 2.6.0-rc9"
**Rancher Server Setup**
- Rancher version: v2.6.0-rc9
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): rke1
         Node Setup: 3 nodes all roles
         Version: v1.21.4
- self signed certs

**Information about the Cluster**
- Kubernetes version: v1.19.13+rke2r2
- Cluster Type (Local/Downstream):
   - If

[2021-08-30 17:54] zbebeto commented on #34505
After opening the Downstream cluster config as a yaml.... I used that to do the magic :+1:

 kubelet:
      extra_args:
         eviction-hard: 'memory.available<1Mi,nodefs.available<1Mi,imagefs.available<1Mi'

It worked perfectly....Thanks for the support !

[2021-08-30 17:55] #34505 closed

[2021-08-30 18:05] izaac opened #34548 "Logging v1 - fluentd v0.1.29 pods fail to start ruby plugin, no logs flow to backend"
**Rancher Server Setup**
- Rancher version: `v2.6.0-rc9`
- Installation option: HA RKE1
   - If Helm Chart, Kubernetes Info:
         Cluster Type: RKE1
         Node Setup: `t3.xlarge`
         Version: Ubuntu 18.04.3
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: `1.20.10`
- Cluster Type: Downstream
   - If downstream, what type of cluster?: Custom RKE1 AWS
   - R

[2021-08-30 18:22] davidnuzik commented on #34546
I've also reproduced this; I did not see this issue on rc7.

v2.6.0-rc9 (single-node docker install of Rancher)
self-signed certs

rke2 v1.20.10+rke2r1
3 server nodes (all roles)
1 agent node (worker role)

The UI doesn't show any option to upgrade my 1.20.10 cluster.

[2021-08-30 18:43] slickwarren commented on #34497
tested on v2.6-head (1ae31b1):
* provision multinode rke2 cluster using amazonec2 as the provider (dedicated and mixed roles) -- pass
* provision dedicated node-per-role  using amazonec2 as the provider -- pass
* provision all-roles node  using amazonec2 as the provider -- pass

[2021-08-30 18:43] #34497 closed

[2021-08-30 19:16] #33216 closed

[2021-08-30 19:25] rancher-max commented on #34546
https://github.com/rancher/rancher/pull/34549

[2021-08-30 19:47] jiaqiluo opened #34553 "[2.5] [backport] rke2 downstream clusters fail to come active when we perform restore with migration to a new rancher server"
backport the fix for https://github.com/rancher/rancher/issues/34461

[2021-08-30 19:54] StrongMonkey opened #34554 "[2.5]Corrupted Backup - No Restore Rancher Management Cluster / Rancher Server"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): rke1 1.2.9
         Node Setup: (3 Nodes HA Cluster for Rancher)
         Version: 2.5.9

**Information about the Cluster**
- Kubernetes version:
- Cluster Type (Local/Downstream):
   - If downstream, what type

[2021-08-30 19:58] StrongMonkey opened #34555 "Corrupted Backup - No Restore Rancher Management Cluster / Rancher Server"
Forward-port issue of https://github.com/rancher/rancher/issues/34554

[2021-08-30 20:09] bmdepesa commented on #34500
rancher/rancher:v2.6-head 1ae31b1

* Created single and multinode ec2 nodedriver and custom clusters for RKE2 v1.21.4+rke2r2 without ACE enabled
* Generate a kubeconfig for each cluster and check it's functionality
* After clusters are active, edit the cluster to enable ACE
* Each cluster is updated and becomes active
* Kubeconfigs are generated with additional contexts and contexts are functional

[2021-08-30 20:09] #34500 closed

[2021-08-30 20:09] bmdepesa commented on #31604
rancher/rancher:v2.6-head 1ae31b1

* Created single and multinode ec2 nodedriver and custom clusters for RKE2 v1.21.4+rke2r2 without ACE enabled
* Generate a kubeconfig for each cluster and check it's functionality
* After clusters are active, edit the cluster to enable ACE
* Each cluster is updated and becomes active
* Kubeconfigs are generated with additional contexts, and contexts are functiona

[2021-08-30 20:09] #31604 closed

[2021-08-30 21:15] prabalsharma commented on #34291
tested with https://github.com/rancher/terraform-provider-rancher2/files/7059822/terraform-provider-rancher2_darwin_amd64.zip on v2.6-940ebaf5d3115463d2ab3d5ebcf4c5047fb0a1a2-head

[2021-08-30 21:15] #34291 closed

[2021-08-30 21:16] #33263 closed

[2021-08-30 21:38] ian659 opened #34556 "Allow disabling of istio sidecar injection on jobs produced by the rancher-monitoring helm chart"
**Is your feature request related to a problem? Please describe.**

When deploying rancher-monitoring in a namespace with istio sidecar injection enabled, the `rancher-monitoring-crds-create` and `rancher-monitoring-patch-sa` jobs will both run indefinitely. This a due to the istio sidecar not terminating and is a known issue with running jobs in an istio enabled namespace.

**Describe the solutio

[2021-08-30 21:52] davidnuzik commented on #34546
This works for me now.

v2.6-head `a97612b63` pulled at 8/30/21 2:38 pm Pacific
self-signed certs

rke2 v1.20.10+rke2r1
3 server nodes (all roles)

I now see in the UI the option to upgrade:
![image](https://user-images.githubusercontent.com/45179589/131410095-3028833c-5277-4c49-ba9d-08aaaa88541a.png)

I upgraded to v1.21.4+rke2r2 (the only option in the drop down). I used default options (don't d

[2021-08-30 22:17] jiaqiluo opened #34558 "[rancher-alerting-drivers] bump sachet to the latest 0.2.6"
The upstream project Sachet releases a new version https://github.com/messagebird/sachet/releases/tag/0.2.6 which we need to bring into the rancher-alerting-driver chart.

[2021-08-30 22:33] jonathon2nd opened #34559 "Enabling IPVS on a Rancher managed k8s cluster breaks node-exporter health checks/probes."
**Rancher Server Setup**
- Rancher version: v2.5.9
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup:
         Version:
- Proxy/Cert Details:

User Interface | v2.5.9
Helm | v2.16.8-rancher1
Machine | v0.15.0-rancher55

**Information about the Cluster**
- Kubernetes version: v1.20.6
- Clust

[2021-08-30 23:14] rancher-max commented on #34546
#### Validated using v2.6-head commitid `a97612b`

Confirmed the following 4 scenarios are working:
1. This issue description (upgrade imported rke2 cluster) -- _pass_
2. Upgrade imported k3s cluster -- _pass_
3. Upgrade node driver cluster (using my own custom KDM) -- _pass_
4. Upgrade rancher 2.5.9 with an imported rke2 cluster in it to v2.6-head, and upgrade that downstream cluster -- _pass_

[2021-08-30 23:14] #34546 closed

[2021-08-30 23:33] sowmyav27 opened #34560 "RKE2 upgrade takes a long time to finish upgrading and sometimes get stuck after upgrading one master node"
**Rancher Server Setup**
- Rancher version: 2.6head commit id: `a97612b`
- Installation option (Docker install/Helm Chart): HELM
   - If Helm Chart, Kubernetes Info: RKE1
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): RKE1
         Node Setup: 3 nodes all roles
         Version: 1.20.9
- Proxy/Cert Details: rancher generated

**Information about the Cluster**
- Kubernetes version: 1.20.10rke2

[2021-08-30 23:57] cmurphy opened #34561 "[KEv2] Cluster agents on imported hosted provider clusters aren't cleaned up"
**Describe the bug**

Rancher skips cleaning up the cluster agent and cattle-system namespace on imported hosted provider clusters, because the driver gets set to e.g. `GKE` and not to `imported`:

https://github.com/rancher/rancher/blob/662e49eedecb4d3d4782e331a4cff07b37db1ca0/pkg/controllers/management/usercontrollers/controller.go#L74-L78

We should make sure that imported clusters on hosted pr

[2021-08-31 00:14] izaac commented on #34548
Rancher version: `v2.6.0-rc10` - Fresh Install - RHEL 8.4 RKE1 Nodes

`v2.5.9` -> `v2.6.0-rc10` - Upgrade - RHEL 8.3 RKE1 Nodes

**Fresh install** worked, the fluentd pods no longer show the Ruby plugin error in the logs. The logs are flowing to Elasticsearch.
**Fresh install**  the fluentd image version was: `v0.1.30`

**Upgrade** path worked, logs were flowing before and after upgrade.
During **

[2021-08-31 00:14] #34548 closed

[2021-08-31 00:19] izaac commented on #32294
Rancher version: `v2.6.0-rc10` - Fresh Install - RHEL 8.4 RKE1 Nodes

`v2.5.9` -> `v2.6.0-rc10` - Upgrade - RHEL 8.3 RKE1 Nodes

**Fresh install** worked, the fluentd pods no longer show the Ruby plugin error in the logs. The logs are flowing to Elasticsearch.
**Fresh install**  the fluentd image version was: `v0.1.30`

**Upgrade** path worked, logs were flowing before and after upgrade.
During **

[2021-08-31 00:20] cbron commented on #34496
Good chance we'll need to bump this, as solution may be large.

[2021-08-31 00:21] #32294 closed

[2021-08-31 01:34] davidnuzik opened #34563 "When restoring an RKE2 snapshot, the UI for a time shows an Error during restoration - it is benign but could confuse users"
**Summary:**
I initially didn't file this as a bug because I thought this would be expected -- however someone made a good point that this could confuse users. It would be ideal if maybe we could suppress this or change the behavior so this error isn't shown during rke2 snapshot restoration?

**Environment:**
Rancher version: v2.6.0-rc10
Rancher cluster type: single-node docker
Docker version: 20.

[2021-08-31 01:43] camrossi commented on #29223
Had the same issue and v2.6.0-rc10 worked fine

[2021-08-31 02:06] Jono-SUSE-Rancher commented on #34496
If we can't fit the backport into 2.5.10, then let's go ahead and bump it to a more reasonable milestone. v2.6.2 would be my guess.

[2021-08-31 03:04] phillipsj commented on #34292
@Jono-SUSE-Rancher @cbron I have got these changes completed. What Zube status does this kind of work need to be assigned?

[2021-08-31 03:08] Jono-SUSE-Rancher commented on #34292
@phillipsj that's a good question. Since this isn't necessarily anything that QA can validate, this is more of a dev-validation type task. Honestly, if you have this fixed/changed already, what branch is it in? Is there any reason this has to wait until v2.6.3 if you've already got a fix merged? I feel like we should bump this to 2.6.1 and slap it with a `dev-validate` tag and just have a dev vali

[2021-08-31 03:13] phillipsj commented on #34292
I have this now merged into master and I am planning to backport this to the release 2.6 branch.

[2021-08-31 03:14] phillipsj commented on #34292
@sirredbeard thoughts?

[2021-08-31 03:33] slickwarren opened #34564 "[etcd snapshots with rke2, not always reproducible] etcd node was unable to recover after restoring from a snapshot"
**Rancher Server Setup**
- Rancher version:v2.6.0-rc10
- Installation option (Docker install/Helm Chart):docker
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup:
         Version:1.21.4
- Proxy/Cert Details:self signed

**Information about the Cluster**
- Kubernetes version:1.21.4+rke2r1
- Cluster Type (Local/Downstream):downstream
   - If

[2021-08-31 03:53] anupama2501 opened #34565 "AWS rke2 node driver multi-nodes are stuck in provisioning in cluster management page with only etcd and control plane active in the explore cluster page"
**Rancher Server Setup**
- Rancher version: `v2.6.0-rc10`
- Installation option (Docker install/Helm Chart): Docker install
   - If Helm Chart, Kubernetes Info: k3s
         Cluster Type (RKE1, RKE2, k3s, EKS, etc):
         Node Setup: 1 node
         Version: `v1.21.3+k3s1`
- Proxy/Cert Details: `self-signed`

**Information about the Cluster**
- Kubernetes version:
- Cluster Type (Local/Downstre

[2021-08-31 04:48] rancher-max commented on #34560
I believe this is due to system-upgrade-controller itself and maybe we should move this to that repo. I have seen this same thing happen in the past on standalone SUC upgrades. Basically, the upgrade gets stuck on a node and there is some internal timeout of 30 minutes until it will retry on its own. Usually this retry resolves the issue.

When it gets stuck, there isn't anything useful that I can

[2021-08-31 06:51] depeo opened #34567 "Rancher-alpha helm repo broken?"
**Rancher Server Setup**
- Rancher version: none
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Info:
         Cluster Type (RKE1, RKE2, k3s, EKS, etc): rke2
         Version: v1.21.4+rke2r1

Trying to install rancher 2.6.0 since 2.5.9 doesn't work on kubernetes 1.21, but the rancher-alpa repo is empty?
The rancher-latest repo works fine, is the alpha repo broken

[2021-08-31 06:54] superseb commented on #34567
What alpha version are you expecting to find? Pretty sure there hasn't been any lately.

[2021-08-31 06:55] depeo commented on #34567
Oh I see, I just wanted the latest 2.6.0, the one published 2 hours ago for example, is there a helm repo for those?

[2021-08-31 06:57] depeo commented on #34567
Ah, never mind, I see 2.6.0 is stable now. thanks

[2021-08-31 06:57] #34567 closed

[2021-08-31 07:45] superseb commented on #34533
Please use https://github.com/rancher/quickstart as that is probably the most up-to-date one.

[2021-08-31 07:45] #34533 closed

[2021-08-31 09:48] 0SkillAllLuck opened #34568 "Add back Drain/Cordon button to nodes"
**Is your feature request related to a problem? Please describe.**
In the old cluster explorer there was an option to drain/cordon nodes.

**Describe the solution you'd like**
It would be very nice to have those buttons back in the new cluster manager under nodes.

**Describe alternatives you've considered**
Manually doing it works via the kubectl shell but overall is a less than optimal experienc

[2021-08-31 10:12] darshanime commented on #33732
Hmm, doesn't it defeat the purpose of WAL if we do this? Why bother with having WAL at all?

[2021-08-31 10:20] murugesanthirumal opened #34569 "Failed AD authenication for Rancher runs as contrainer inside kuberenetes"
*Describe your issue here*

Hi,

I trying to integrate rancher authentication with AD directory, i gave details as correct but its getting failed.
Im running rancher inside the local kubernetes cluster and we have exposed rancher app service to external load balance ip via 80,443 ports.

Do we need to enable any ports or how to check the AD server reachable to rancher container?

---
| Useful | In

[2021-08-31 10:42] superseb commented on #34568
Where did you look for the buttons? They should be under Explore Cluster -> Cluster -> Nodes, and then on top there should be Cordon and Drain available. Please supply versions used (Rancher and Kubernetes, and what type of cluster you are looking at)

[2021-08-31 12:17] peteingithub commented on #34390
Confirming the behavior on Rancher v2.6.0 and an imported k3s v1.21.4.
Using Firefox.

[2021-08-31 12:56] jarett-cyxtera commented on #21324
I'm experiencing the same. Using the last curl command from the `-v10` output, you can see that a 200 response is immediately returned when connecting to the downstream cluster even though the connection remains open, but when passing through the Rancher endpoint nothing is returned until the timeout value passed in the URL expires.

Rancher v2.5.9 + downstream K8s v1.18.12

[2021-08-31 14:04] azelezni opened #34570 "Provide a list of all resources being installed by rancher"
The current helm chart doesn't represent the actual resources that will be install, the chart seems to only install the deployment, ingress, service, SA, secrets, etc...
However in reality the chart/rancher whatever installs a huge amount of bloatware that basically forces the re-creating of a cluster in case Rancher needs to be removed.

Please provide a list off *all* the resources that will be

[2021-08-31 15:24] h0jeZvgoxFepBQ2C commented on #34570
Yeah this would be great, we also have problems with old rancher installation parts and would like to remove all old rancher things.

[2021-08-31 15:27] snasovich commented on #34570
@azelezni , Rancher creates various resources at runtime which are essential to it functioning as expected.
If you would like to remove Rancher, please follow these instructions: https://rancher.com/docs/rancher/v2.5/en/faq/removing-rancher/#what-if-i-don-t-want-rancher-anymore (for v2.5.x). The procedure is mostly automated, with only CRDs and Rancher namespaces needing to be removed manually.

L

[2021-08-31 15:48] cbron commented on #34292
Yes lets just move to 2.6.1 and dev-validate.

[2021-08-31 15:56] snasovich commented on #34141
@sowmyav27 , please close the issue if you're OK with it as per the comment above.

[2021-08-31 15:59] sowmyav27 commented on #34141
@snasovich @cmurphy Are these both the same issues? As it was logged separately in 2.6

[2021-08-31 16:38] cmurphy commented on #34141
@sowmyav27 I'm just suggesting that this backport issue could be closed for the same reason the main issue #34042 was closed, if it's no longer reproducible.

[2021-08-31 17:01] jonathon2nd commented on #34559
I figured it out. Due to node-exporter using hostnetwork, IPVS made some change to how it was handled which is different from how hostport is handled.

It seems like node-exporter health check is trying to check from the public ip, to the listed private ip in the health check. This is blocked due to out calico policy. We have adjusted out polices. This fixes the health check.

I am closing this is

[2021-08-31 17:01] #34559 closed

[2021-08-31 18:09] prachidamle commented on #34569
Hi,

- Do you get any error back on UI while trying to configure/ authenticate against the AD server?
- Any errors seen in the rancher container logs?
- Is this an HA rancher setup?
- Are you able to connect to AD outside of rancher using say Apache Directory Studio or using ldapSearch utility?

 Thanks!

[2021-08-31 18:10] andrew-landsverk-win commented on #34568
I see the buttons there on my two clusters, but when I click Drain, it doesn't appear to do anything.

[2021-08-31 18:23] aiyengar2 opened #34577 "[Monitoring V2] Rebase Monitoring V2 to upstream kube-prometheus-stack 19.x.x"
Need to rebase Monitoring V2 chart to latest upstream

[2021-08-31 19:04] noahjd commented on #33748
I came across this problem as well. I was able to resolve this by manually creating the API keys via the CLI without a key password.

[2021-08-31 20:56] jakefhyde commented on #32898
Discussion
-
Per discussion, we've defined the following requirements:

- [ ] Fix the `DefaultNamespaceAssigned` and `SystemNamespacesAssigned` conditions not being properly set for system and default project namespace assignment
- [ ] Add the `ensureNamespacesAssigned` check to project updated (pending successful condition set update)
- [ ] Unset the `SystemNamespacesAssigned` conditions on contr

[2021-08-31 21:42] SheilaghM commented on #34284
Blocker because we've aimed this at 2.5.10 and that's the next up. If this is not a back-end issue we need to transfer to Windows team.

[2021-08-31 21:55] gaktive commented on #33307
Confirmed Done in Zube.

[2021-08-31 21:55] #33307 closed

[2021-08-31 21:58] gaktive commented on #32597
This was marked done in Zube but not in Github.

[2021-08-31 21:58] #32597 closed

[2021-08-31 22:00] gaktive commented on #32594
This was marked Done in Zube but that didn't translate to Github. Done!

[2021-08-31 22:00] #32594 closed

[2021-08-31 22:08] burgerjeffrey commented on #25500
@smithhannahm did you ever get this working?

[2021-08-31 22:14] brandond commented on #29956
Ohhh @nickgerace getting burned by stalebot

[2021-08-31 22:36] danbarr opened #34580 "Rancher 2.6.0 rancher-agent fails to provision on FIPS enabled node"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Helm
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): k3s
- Proxy/Cert Details: No proxy; cert issued by internal CA, CA root cert is properly available at /v3/settings/cacerts

**Information about the Cluster**
- Kubernetes version: 1.20.9
- Cluster Type (Local/Downs

[2021-08-31 22:37] danbarr commented on #32011
For what it's worth, this appears to be resolved with Rancher 2.6.0.

Oddly in 2.5.9, it does *occasionally* succeed, just not consistently and often takes multiple attempts, cycling through nodes.

[2021-08-31 22:56] danbarr commented on #34580
I believe the error is being thrown by curl, right here:

https://github.com/rancher/rancher/blob/9cf0c6c00e62556e9c32ee99c2025e8fe0f11f20/package/run.sh#L227

[2021-08-31 23:29] #26279 closed

[2021-09-01 01:00] jiaqiluo commented on #33465
#### The explanation for why monitoring v1 does not work on the 1.21 cluster

Grafana sends the request for querying metrics to Prometheus and includes a token in its request, the container `prometheus-agent` determines if the request is authorized by checking if the token from the request is the same as the token in the Secret for `prometheus-agent`’s ServiceAccount. If they are different, `prome

[2021-09-01 03:15] lihuawei321 opened #34581 "racher ui some pod metrics is no data?"
![image](https://user-images.githubusercontent.com/31987918/131605825-c2ef1d0b-6b55-4f80-9694-e5610a6a9629.png)

[2021-09-01 03:26] routerino opened #34582 "Docker Image incorrectly identifies as not being privileged when ran on btrfs based systems"
**Rancher Server Setup**
- Rancher version: 2.6 (also tested with 2.5.9)
- Installation option (Docker install/Helm Chart): Docker

**Information about the Cluster**
- Kubernetes version:
* Custom = Running a docker command on a node
--> `docker run rancher/rancher --privileged`

**Describe the bug**
When running rancher from a docker container on a system that defaults to btrfs, the rancher conta

[2021-09-01 03:30] routerino commented on #34582
Appears to be a duplicate of the stale bug https://github.com/rancher/rancher/issues/32151 apparently it's not just an issue with Fedora.

[2021-09-01 03:55] cbron commented on #34508
Are there any other webhook changes going into 2.6.1 ? If not I actually think we should wait for 2.6.2.

[2021-09-01 03:55] WeiChunKao opened #34583 "Ingress Not Work"
*Describe your issue here*
when i build multi-node，ingress doesn't work
![image](https://user-images.githubusercontent.com/34979078/131609139-a20c1268-7d24-401f-80bf-2fce7b3ade20.png)

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.5.6` UI: `v2.5.6` |
|Route|`undefined`|

[2021-09-01 05:49] jiaqiluo commented on #34508
Move this to 2.6.2 since there are no other webhook changes.

[2021-09-01 06:56] exocode commented on #33476
ping.. to don't get lost..

[2021-09-01 07:09] kmpm commented on #18936
This is still a thing that would be really good to have.

[2021-09-01 07:09] #19532 closed

[2021-09-01 07:30] #34581 closed

[2021-09-01 08:10] ecmrauh commented on #34583
We also had problems with Ingress after upgrading to Kubernetes "v1.21.4-rancher1-1" (with rke v1.3.0). The previous upgrade of Rancher to version 2.6.0 was successful.

We observed that the ports 80 and 443 on the nodes were not open and that some pods of kube-system weren't in ready state (see above).

At first we had "enable_cri_dockerd" set to true. But that doesn't seem to be the problem.

Af

[2021-09-01 08:15] vincent99 commented on #18988
2.6 sets a random initial password and has inputs to let you override that with one of your choosing.

The auth config is (and always has been) a CRD with CRs you can directly edit in the local cluster if you want to, after the server is up.  You would also need to setup the admin or other user with a principalId to tie them to the auth provider, if you're bypassing the API and the steps it does.

[2021-09-01 08:15] #18988 closed

[2021-09-01 08:16] WeiChunKao commented on #34583
@ecmrauh
Hi I will try to downgrade to Kubernetes "v1.20.9-rancher1-1"
I sure master node and worker node the ports 80 and 443 are open and no ap to catch these port

[2021-09-01 08:40] swadeshp commented on #26407
Issue still persists on v2.5.9 stable.
Is it fixed in v2.6.0?

[2021-09-01 08:42] dasMulli opened #34584 "Cluster Explorer Apps: Cannot download catalog that responds with a redirect"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart): Helm chart on AKS 1.20.7
- Proxy/Cert Details: ACME

**Information about the Cluster**
- Kubernetes version: 1.20.7
- Cluster Type (Local/Downstream): AKS

**Describe the bug**
Adding an Azure Container Registry based helm chart does not work in the Cluster Explorer but does work in the Apps featur

[2021-09-01 09:26] superseb commented on #34583
The issue is reported on Rancher v2.5.6, there is no relation to upgrading to v2.6.0/RKE v1.3.0. Please file a new issue with what you are seeing @ecmrauh

@WeiChunKao The jobs in the screenshot are never going to be ready as they are jobs and have the completed state. The job launches the resources needed to run ingress, please share the output of `kubectl -n ingress-nginx get pods`

[2021-09-01 09:29] superseb commented on #34582
I guess you are going to run into https://github.com/rancher/rancher/issues/32151 when you pass the privileged flag to Docker instead of to Rancher: `docker run --privileged rancher/rancher`

[2021-09-01 09:39] murugesanthirumal commented on #34569
Hi prachidamle,
Thanks for update,

I have configured AD authentication in rancher web UI using domain user name as <domain>\<domain username> format in web UI configuration, but AD user or AD group users unable to login. Even new local user also unable to create, we getting following error on web UI.

Internal error occurred: failed calling webhook "rancherauth.cattle.io": Post "https://rancher-w

[2021-09-01 09:43] JaseKing commented on #33060
I had the same issue; for me the fix was to re-add the NAT Gateway to the route table of the private AWS subnet my Rancher hosts sit in, reinstating their access to the internet, as we'd inadvertently removed it.

[2021-09-01 10:08] jehof opened #34585 "2.6.0 missing in helm repo rancher-stable"
Repo rancher-stable still lists 2.5.9.  Will 2.6.0 be added later to the stable repo?

[code]

[2021-09-01 10:23] superseb commented on #34585
2.6.0 will be in the stable repo when its declared stable, which it is not currently. It will probably be v2.6.1.

[2021-09-01 10:23] #34585 closed

[2021-09-01 10:53] alexandrevoilab commented on #14630
Issue is still present in 2.4.17.

[2021-09-01 11:00] WeiChunKao commented on #34583
@superseb
Hi，sorry I cut half of sreenshot
![image](https://user-images.githubusercontent.com/34979078/131660346-f2e65c77-3066-4143-962d-6ff222a14678.png)

[2021-09-01 11:11] superseb commented on #34583
Ok, that restart count is pretty high, is it going up still? What is in the log of the pod (and previous pod) to see why it restarted? How are you trying to access it, what response/error do you get when you try to create and access the ingress?

[2021-09-01 11:14] JaseKing commented on #28768
Same as @noahjd here, new RKE2/Rancher v2.5.9 cluster provisioning it's first, new custom k8s cluster and stuck on the "User "u-g2vrxyyamh" cannot get resource "clusterroles" in API group "rbac.authorization.k8s.io" at the cluster scope Error from server (Forbidden)" error for over an hour now.

`2021/09/01 09:38:41 [INFO] Creating globalRoleBindings for u-g2vrxyyamh
2021/09/01 09:38:41 [INFO] [mg

[2021-09-01 11:16] WeiChunKao commented on #34583
@superseb
this is pod logs
i create ingress that all status is always initializing
![image](https://user-images.githubusercontent.com/34979078/131662110-b130facc-f1bb-400c-9aed-be9b8773cdda.png)

[2021-09-01 11:44] routerino commented on #34582
Given that I'm trying to write a guide specifically for single node deployments (targeting a homelab crowd) this is problematic. A large part of the guide hinges on using btrfs to create atomic snapshots for backups.

[2021-09-01 12:42] MaxKramarenko commented on #23397
Please find a solution. We love rancher!

[2021-09-01 12:53] Clocen commented on #20544
Given the latest Docker [announcement](https://www.docker.com/blog/updating-product-subscriptions/) podman support of podman became whole a lot more important.

[2021-09-01 14:47] yankees5963 opened #34587 "UI-Banners not showing on Login screen"
**Rancher Server Setup**
- Rancher version: 2.4.17 & 2.5.9 & 2.6.0
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE1
- Proxy/Cert Details: None

**Information about the Cluster**
- Kubernetes version: 1.18.20
- Cluster Type (Local/Downstream): Local
   - If downstream, what type of cluster? (Custom/Imp

[2021-09-01 14:52] quick691fr commented on #33060
Our route tables and NAT gateway are correct and internet is accessible from rancher and cluster nodes

[2021-09-01 15:02] mfbrj opened #34588 "[ERROR] failed to parse constraint for kubeversion >=v1.16.0-r0: Could not parse Range ">=v1.16.0-r0": Could not parse comparator ">=v" in ">=v1.16.0-r0""
**Rancher Server Setup**
- Rancher version: v2.5.9
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): k3s with 2 nodes
- Proxy/Cert Details: no proxy

**Information about the Cluster**
- Kubernetes version:
[code]
- Cluster Type (Local/Downstream): Downstream provisioned by Rancher on vSphere 6.5
   - If dow

[2021-09-01 15:34] cbron opened #34589 "New Charts in 2.6.1"
System charts (v1) `rancher/system-charts:dev-v2.6`:

Name                 | Version  | Backend Dev(s)
---------------------| -------- | -----------
monitoring v1 |  0.3.1 | @jiaqiluo

Feature charts (v2) `rancher/charts:dev-v2.6`:

Name                       | Version           | Note                 | Backend Dev(s) | rancher-max of prev chart set
---------------------------| ----------------- |

[2021-09-01 15:34] cbron opened #34590 "New Charts in 2.5.10"

[2021-09-01 15:36] cbron opened #34591 "[Forwardport] namespaces that are later added to SystemNamespaces don't get into system-project"
https://github.com/rancher/rancher/issues/32898

[2021-09-01 16:00] anupama2501 commented on #34568
Hi @andrew-landsverk-win we are seeing this issue and a fix has been provided for the drain action as linked above.

[2021-09-01 16:24] ryansann opened #34592 "Missing Permissions in catalog management roles"
**Rancher Server Setup**
- Rancher version: v2.6.0
- Installation option (Docker install/Helm Chart): Docker install

**Information about the Cluster**
- Cluster Type (Local/Downstream): local

**Describe the bug**

The builtin `catlaogs-manage` GlobalRole is missing permissions for verb: `*` on resource: `clusterrepos`, this permissions grants the ability to manage chart repositories.

**To Repro

[2021-09-01 16:27] PennyScissors opened #34593 "OPA Gatekeeper - Update to 3.6.0"
https://github.com/open-policy-agent/gatekeeper/tree/master

[2021-09-01 17:25] anupama2501 commented on #33537
closing as its a `wont-fix`

[2021-09-01 17:25] #33537 closed

[2021-09-01 17:36] aiyengar2 commented on #34439
I believe that should work, but you will not be able to fix it before executing a fresh install.

[2021-09-01 17:58] aiyengar2 opened #34595 "[Partner-Charts] Some charts in index.yaml result in Rancher 404 on loading charts"
**Rancher Server Setup**
- Rancher version: `v2.6.0`
- Installation option (Docker install/Helm Chart): Docker install
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: `v1.21.3`
- Cluster Type (Local/Downstream): local
   - If downstream, what type of cluster? (Custom/Imported or specify p

[2021-09-01 18:34] aiyengar2 commented on #25487
`RANCHER_VERSION=v2.6.0`

### Steps to Reproduce
- Provision a single node and install Docker on it: `curl https://releases.rancher.com/install-docker/20.10.sh | sh`
- Install Rancher on the node: `docker run -d --restart=unless-stopped   -p 80:80 -p 443:443   --privileged -e CATTLE_BOOTSTRAP_PASSWORD=test  --name rancher rancher/rancher:${RANCHER_VERSION}`
- Exec into the container: `docker exec

[2021-09-01 18:52] meysamfarazmand opened #34596 "Restore rancher backup on another rancher instance"
Hi,

I have a rancher cluster with six nodes (3 control plane and 3 worker) in datacenter A and my rancher server hosted in datacenter B. I want to bring up rancher server in datacenter A to manage existing cluster. I tested the following approaches:

1- take a backup from rancher in datacenter B and restore it on rancher in datacenter A. but the rancher cluster in datacenter A does not come up an

[2021-09-01 18:56] sowmyav27 commented on #31296
To validate:
- Test deploying AKSv2 through TF with minimal input parameters required set to bring up the cluster
- Test deploying AKSv2 through TF with all applicable input parameters set to bring up the cluster

[2021-09-01 19:45] cbron commented on #32898
Moving this to 2.5.11, don't merge into 2.5 until 2.5.10 goes out.

[2021-09-01 19:48] cbron commented on #33824
Since 1.9.8 is going OOB into 2.5.10, this can wait till 2.5.11

[2021-09-01 19:48] snasovich opened #34597 "[Forwardport, 2.6] Kubernetes Version in "edit cluster" not the same as in "clusters" (RKE2)"
Forwardport to 2.6.x for https://github.com/rancher/rancher/issues/34114. The issue seems to be affecting v2.6.0 as well so it needs to be fixed there too.

[2021-09-01 19:54] cbron commented on #33735
Is this mandatory for 2.5.10 @nickgerace ? If not we should bump to 2.5.11

[2021-09-01 19:57] andrelop opened #34598 "Adding workers nodes to the clusters fails with an infinite loop"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart): Helm (Kubernetes 1.20.9, RKE 1.2.11)

**Information about the Cluster**
- Kubernetes version: 1.19.8
- Cluster Type (Local/Downstream): Downstream, created on Azure by Rancher itself

**Describe the bug**
Try to add a new worker node, the provisioning fails and the ```rancher``` pods logs the follo

[2021-09-01 20:29] cbron commented on #33415
Whats status of this one ?

[2021-09-01 20:33] andrelop commented on #34598
Some more logs I got from the rancher pods while trying to provision a worker node, notice that this section of the logs shows that the `worker1` seems to finish the provisioning, then it's removed and finally `worker5` starts to be provisioned in sequence (to replace `worker1`, but later it also fails with the same errors) :

[code]

[2021-09-01 20:41] deniseschannon commented on #33839
@paynejacob Can you see if this is still reproducible? And if it is does the workaround still work?

[2021-09-01 20:42] deniseschannon commented on #33415
@cmurphy Did we backport the backend into 2.5.10?

[2021-09-01 20:43] deniseschannon commented on #33415
The UI looks to be merged but we want to confirm that this was updated in the backend.

[2021-09-01 20:44] deniseschannon commented on #33415
Based on this backport issue, it looks as if we never moved this to testbut it was tested by QA:

https://github.com/rancher/rancher/issues/33458#issuecomment-891986125

[2021-09-01 20:44] #33415 closed

[2021-09-01 20:45] andrelop commented on #34598
The initial error logs provided here in the ``Describe the bug`` section of this issue seems very similar to the errors found in this issue -> https://github.com/rancher/rancher/issues/26586 . However, this issue is already closed and nothing in the environment matches my current environment (rancher, kubernetes and rke versions for example).

[2021-09-01 20:45] k8s42 opened #34600 "Rancher 2.6: Azure AD Authentication Breaks After a Few Minutes"
I enabled Azure AD authentication using the same SPN I use in other Prod clusters (2.5.4). I installed 2.6 today in my test cluster and enabled Azure AD using the same SPN. I then added the users successfully. However, a few minutes later, I see "Unable to fetch principal info" under Authorized Users & Group in Azure AD settings. Users also complain that they cannot log in. The issues then goes aw

[2021-09-01 20:45] k8s42 opened #34756 "Rancher 2.6: Fetching the secret from Azure AD occasionally fails"
I enabled Azure AD authentication using the same SPN I use in other Prod clusters (2.5.4). I installed 2.6 today in my test cluster and enabled Azure AD using the same SPN. I then added the users successfully. However, a few minutes later, I see "Unable to fetch principal info" under Authorized Users & Group in Azure AD settings. Users also complain that they cannot log in. The issue then goes awa

[2021-09-01 20:46] cmurphy commented on #33415
That issue was moved to test
![Screenshot_20210901_134557](https://user-images.githubusercontent.com/1220710/131742672-60c580ec-43f4-47d0-813f-2ddc2f25d02a.png)

[2021-09-01 20:46] deniseschannon commented on #34035
@slickwarren Since we're no longer going to use the master-head branch, can we close this?

[2021-09-01 20:46] danbarr commented on #34580
So it working on 2.4 and 2.5 (probably earlier too) was a matter of "works, but not supported"? Or is this a new thing with 2.6 specifically?

Is this a roadmap item to officially support? This is kind of a surprising stance given how government/federal "friendly" Rancher has historically positioned itself.

[2021-09-01 20:48] cbron commented on #34405
Moving this out of 2.6.1

[2021-09-01 20:51] thedadams commented on #33774
I believe this was fixed by https://github.com/rancher/rancher/pull/34501, but I will double-check before moving to "To Test"

[2021-09-01 20:52] Shaked opened #34601 "k3s client cattle-cluster-agent throws "connect: no route to host" when changing WiFi network"
**Rancher Server Setup**
- Rancher version: 2.5.8
- Installation option (Docker install/Helm Chart): Helm
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
   - k8s cluster: AKS v1.18.8
   - helm chart: rancher-2.5.8
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version:
  - k3s version v1.20.0+k3s2 (2ea6b163)
  - go version go1.15.5
- Cluster

[2021-09-01 20:56] kinarashah commented on #34598
@andrelop Is this the same cluster you are seeing failing to find plan issues for the worker node? I believe that's the main issue because node pool deletes the failed node and retries, which is why the new node is coming up.

In order to debug the plan issue, could you please post the view in API output of the cluster and the node?

[2021-09-01 20:59] cbron commented on #34558
bumping milestone

[2021-09-01 21:00] andrelop commented on #34598
Yes, it's the same cluster I see failing to find plan for the worker node. I can post the view API output of the cluster and the node, but keep in mind that the data from the node is very volatile because it's always removed and never finishes the provisioining.

I'll post the data you asked for in a minute.

[2021-09-01 21:02] andrelop commented on #34598
@kinarashah I see here that there's a lot of private info in the cluster's View API output. Can you please tell me which kind of info you need so I can filter it and post only the non-private parts of it here ?

[2021-09-01 21:04] kinarashah commented on #34598
@andrelop Yeah for a start - if you can confirm the following for me without posting the whole output, it'd help:
- the rkeConfig in the cluster output contains the node entry
- node contains a field called `nodePlan` and has a couple of fields like `kubelet` and `kube-proxy` in it

[2021-09-01 21:15] andrelop commented on #34598
Hello @kinarashah . Thank you for your help. Replying to your questions :

* The failing to provision worker node is *NOT* in the rkeConfig entry in the cluster's `View API` view
* The failing to provision worker node has the `nodePlan` entry in the `View API` view and, yes, it has fields like `kubelet` and `kube-proxy` inside it

If you need more info, just ask :-)

[2021-09-01 21:23] rajha-korithrien opened #34604 "Rancher 2.5.9 uses flannel:v0.13.0 which causes iptables segfault in RHEL 8.4"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option: Helm Chart, RKE1, but the cluster we observe the issue in was entirely created in the Rancher UI

**Information about the Cluster**
- Kubernetes version: 1.20.9
- Cluster Type (Local/Downstream): Downstream, Custom

**Describe the bug**
Nodes running RHEL 8.4 4.18.0-305.12.1.el8_4.x86_64 have the following in dmesg
[code]
and

[2021-09-01 21:23] paynejacob commented on #33839
Tested  on rke1 with 3 nodes.  HA rancher install `v2.6.0`

1. navigate to the local cluster
2. open tools and select logging
3. configure forward
4. click test, it succeded
5. click apply

the pods all came up and the app shows as installed.  I also see logs coming through in the output.

[2021-09-01 21:24] andrelop commented on #34598
Also, when I looked at the view API output for the cluster, the node being provisioned was not there and was **NOT** added there during the whole time the node was trying to be provisioned.

However, when `worker1` provisioned failed and then `worker5` provisioning started to replace `worker1` provisioning, `worker5` was added to the cluster's view API output.

As there's no private info in the se

[2021-09-01 21:30] tskinnerarlo commented on #22872
i am still a bit of a rancher nube, how do you rename nodes without rebuilding whole cluster? I know I have underscore in my node names

[2021-09-01 21:31] thedadams commented on #33774
This looks like it was indeed fixed by https://github.com/rancher/rancher/pull/34501

[2021-09-01 21:43] deniseschannon commented on #33839
@paynejacob This was logging v1, right?

[2021-09-01 21:43] paynejacob commented on #33839
yes

[2021-09-01 21:46] andrelop commented on #34598
Well, I surely cannot explain why this happened, but later in the process when `worker1` tried to be provisioned again, it suddenly appeared in the cluster's view API, as can be seen bellow :

[code]

Anyway, later `worker1` provisioning also failed and `worker5` provisioning started again. The failure loop continues :-)

[2021-09-01 22:10] cmurphy commented on #31916
This isn't applicable anymore
![Screenshot_20210901_150951](https://user-images.githubusercontent.com/1220710/131751992-9482a1c4-78ab-455e-8ba8-45f356c28b54.png)

[2021-09-01 22:49] snasovich commented on #34141
@sowmyav27 , right. Following the same process as we did for 2.6, we could test it in https://github.com/rancher/rancher/issues/34454 (once it's up for testing). We could have this one remain in To Test until the referenced issue is validated too.

[2021-09-01 23:13] peregrinator commented on #34439
That makes sense. I'll see if I can test whether the user values in the CRD are persistent with an upgrade to the main monitoring chart once this is in the wild I guess.

Thanks for the assistance!

[2021-09-01 23:17] thedadams commented on #34114
I am not able to reproduce this issue. I deployed Rancher v2.5.8 and imported an RKE cluster. I find that the Kubernetes version shows the correct version in all places that I can find it.
![Screen Shot 2021-09-01 at 4 16 35 PM](https://user-images.githubusercontent.com/3682717/131757582-8202087a-0a68-4df3-83a8-8c92bd0fcd11.png)
![Screen Shot 2021-09-01 at 4 16 50 PM](https://user-images.githubuse

[2021-09-01 23:18] thedadams commented on #34597
This was not reproducible and this issue was created before it was verified that the issue was present in v2.6. Therefore, closing the issue.

[2021-09-01 23:18] #34597 closed

[2021-09-01 23:39] thedadams commented on #34437
My investigation concluded that the provisioning tests did not properly pay attention to the `CATTLE_SYSTEM_AGENT_VERSION` variable.

The linked PR ensures that the provisioning tests do properly use the `CATTLE_SYSTEM_AGENT_VERSION` and adds a test to prove it.

Once merged, I don't believe that there is anything for QA to do in this case.

[2021-09-01 23:56] slickwarren commented on #34035
closing in light of the above information

[2021-09-01 23:56] #34035 closed

[2021-09-02 01:23] kingsd041 opened #34608 "[2.6] [Feature request] Login page should support language switching"
We should support language switching when logging into rancher for the first time, just like v2.5.x

![image](https://user-images.githubusercontent.com/19684717/131766443-3355e8ea-b0b4-49bd-bd43-f5d7ff76d084.png)

[2021-09-02 02:33] #34437 closed

[2021-09-02 02:37] cloudcafetech commented on #34533
@superseb

But there is nothing mentioned "How to create Custom (provider) using curl"

![image](https://user-images.githubusercontent.com/68260844/131772395-15c11824-3ee4-4280-a584-c38c3ec59b1e.png)

I want using curl also, I can create Custom provided cluster.

[2021-09-02 02:42] philomory commented on #13666
On a related note, is there some way to avoid having the credentials used to test AD bound as a principal at all? We _do_ have a service account we're using, that exists _only_ to verify LDAP authentication, but because we're having Terraform supply those test credentials when it sets up the AD integration, those dummy credentials (which are widely known) become bound to the Rancher default admin

[2021-09-02 02:46] cloudcafetech opened #34609 "Not able to edit cluster (version 2.5.9)"
Through UI (Version 2.5.9) not able to edit cluster, looks like its read only.

![image](https://user-images.githubusercontent.com/68260844/131773520-e32617e1-bf96-44ca-84b1-e891e90300a3.png)

[2021-09-02 03:24] myselfghost opened #34610 "support create k8s resource from customized template in UI"
**Describe the solution you'd like**
User can create some deploy templates and set some reserved variables. When click Create, you are allowed to select a template that has been set in advance. You only need to fill in a few template variables

There are 2 benefits:
1. Improve efficiency, choose a template set in advance, you can edit a lot of items less.
2. Users can be restricted not to edit cer

[2021-09-02 03:46] #30933 closed

[2021-09-02 03:46] #20485 closed

[2021-09-02 03:46] #33252 closed

[2021-09-02 03:47] #30596 closed

[2021-09-02 04:00] widewing commented on #31155
I ran into this problem too. why is this closed? is there a solution?

[2021-09-02 04:06] josenobile commented on #15738
ping

[2021-09-02 04:13] minchieh-fay commented on #31793
easy to solve it:
`not use runc-1.0.0-rc93`
upgrade or downgrade any version, but not 1.0.0-rc93
look: [deadlock of read from closed pip](https://github.com/opencontainers/runc/pull/2871/commits/7b3e0bcf2907c29e67eb49fb7ef6c03ea6456d45)

[2021-09-02 05:37] jenting commented on #34588
Thanks for your reporting. I can reproduce it.

![rancher-cluster-manager-longhorn](https://user-images.githubusercontent.com/49380831/131787564-3933904c-f6ae-464e-82d2-5f2961d05799.gif)

This error message comes from the rancher perform semantic version parse in https://github.com/rancher/rancher/blob/release/v2.5.9/pkg/catalog/manager/manager.go#L218-L221.
This library does not allow passing wit

[2021-09-02 05:37] vincent99 commented on #34609
You are using a cluster template, so only what the template specified can be edited, which defaults to nothing.  To make changes, make a new revision of the template and then apply that to this cluster.

[2021-09-02 05:39] vincent99 commented on #16468
Steve has this..

[2021-09-02 05:39] #16468 closed

[2021-09-02 07:15] innobead commented on #34588
Thanks, @jenting. It seems just erroring out w/o returning the error to stop the following installation.

[2021-09-02 08:12] bashofmann commented on #25487
The proposed solution would be also useful for ConfigMaps.

[2021-09-02 08:31] superseb commented on #34583
We need the previous pod/container logs to see why it crashes/becomes unresponsive though, `kubectl logs -p`

[2021-09-02 08:48] aslafy-z commented on #17273
Un-stale.

[2021-09-02 08:53] devopstales opened #34611 "[question] Is there a way to customize the rancher/shell docker image?"
Add ability to customize `rancher/shell` image and where to deploy the pod (namespace). I would like to install a few more tools in the "Rancher Shell" like `istioctl` and `kubens` etc. If there would be an option to select namespace and add tags it would be easier to debug network policies.

[2021-09-02 10:21] FredChenChwThrox commented on #31724
Hi Richard:

I found my issue caused by the traefik on k3s, I didn't configure the ACL for Rancher UI. Disable it can fix the problem.

[2021-09-02 10:28] antasun commented on #3242
Same problem. Please fix it!

[2021-09-02 10:30] antasun opened #34613 "Multiple engine options not supported"
Multiple engineOpt not supported #3242

This issue is not fixed yet. Could you please fix it?

[2021-09-02 10:52] hreidar commented on #29209
Hi, just wanted to let you know, I'm trying to get rancher v2.6.0 but I'm hitting this 404 error.

[code]

[2021-09-02 11:08] cloudcafetech commented on #34609
Thanks Vincent,

Very new in Rancher, not sure how suddenly it happened.

How to create new revision of the template and then apply to this cluster?

[2021-09-02 11:13] rawmind0 commented on #31296
@sowmyav27, i'd also add, Test importing AKSv2 through TF

[2021-09-02 11:26] ST-DDT commented on #31967
IMO it is really strange that you have to use the git bash or a cmd with a modified env to use the cli.
IIRC I still had to create the `.rancher` dir in the git bash, but that's way easier that trying to setup any envs.

[2021-09-02 12:53] rishabhmsra opened #34615 "Support install docker by "rancher/install-docker" on Rocky Linux/OpenSUSE/RHEL/SLES"
**While testing the docker installtion script on Rocky Linux-8.4, OpenSUSE-15SP3, SLES-15SP3 and RHEL-8.4  as per the support matrix of Rancher 2.6.0 it's failing.**

What kind of request is this (question/bug/enhancement/feature request):
bug

**Steps to reproduce:**

1) Create a Rocky Linux-8.4 / OpenSUSE-15sp3/RHEL8.4/SLES15SP3 VM
2) Run "`curl https://raw.githubusercontent.com/rayandas/install

[2021-09-02 13:08] yankees5963 opened #34616 "Ping Integration 404 Error"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE1
- Proxy/Cert Details: N/A

**Information about the Cluster**
- Kubernetes version: 1.20.8
- Cluster Type (Local/Downstream): Local

**Describe the bug**
Setting up Ping Integration with correct cert/meta

[2021-09-02 13:13] yankees5963 commented on #34616
To be clear, The same exact configuration (metadata/cert/key/SAML fields) was set up on a freshly installed rancher v2.4.7 cluster, which successfully configured Ping. When setting the same exact settings in rancher v2.5.9 cluster, Ping fails with the 404 error.

[2021-09-02 13:32] MichaelTrip opened #34617 "docker run fails: k3s exited with: exit status 1"
**Rancher Server Setup**
- Rancher version: 2.6
- Installation option (Docker install/Helm Chart):
  ```docker run -d --restart=unless-stopped -p 80:80 -p 443:443 --privileged rancher/rancher:latest```
**Information about the Cluster**

nothing yet

**Describe the bug**
Docker logs give a error k3s exit 1 when running the container. The container keeps restarting.

**To Reproduce**
run:
[code]

**

[2021-09-02 15:05] timj477 commented on #29209
Hi I  am running this script as well and I am getting the 404 error.
curl -sfL https://get.rancher.io | sudo sh -

curl: (22) The requested URL returned error: 404

[2021-09-02 15:44] sirredbeard commented on #32104
Not moving to rancher/windows because this is primarily a UI issue. Open an issue in rancher/windows if you need any backend changes to support additional dashboards.

[2021-09-02 15:45] sirredbeard commented on #34292
Leaving in rancher/rancher because work is almost complete.

[2021-09-02 15:49] davidnuzik commented on #34617
Howdy @MichaelTrip I tried testing on my box and didn't encounter this issue. I wonder if perhaps our two docker hosts differ. Hmm.

Could you perhaps provide some more info about the host? What OS and architecture and what version of docker?

In my case I ran the docker run command you mentioned on Ubuntu 20.04.2 LTS with Docker 20.10 with the root user. My box doesn't have a firewall running (sh

[2021-09-02 15:49] sirredbeard commented on #31878
Not moving to rancher/windows because this is primarily a monitoring/UI issue. Open an issue in rancher/windows if you need any backend changes to support additional dashboards. Thank you @jiaqiluo.

[2021-09-02 16:23] thedadams commented on #34114
I was able to reproduce this with the following steps:
1. Provision an RKE2 cluster with version `1.20.7+rke2r1`
2. Import this cluster to Rancher
3. From the downstream cluster (not in Rancher), update RKE2 to `1.20.7+rke2r2`
After the upgrade completes, I see the behavior described in the issue.

I came up with this idea after looking through the code: the `status.version` gets updated from the

[2021-09-02 16:35] davidnuzik commented on #34600
@anupama2501 to try to reproduce this problem.

[2021-09-02 16:36] paynejacob commented on #13666
@philomory The test account is intended to be the AD account of the admin.  If you are testing with an account that exists only for setting up rancher then that user should be the admin.  If we did not bind the admin account to the test user there would be no way to link the admin account to an AD account.  This would mean there is a user who can login with AD credentials and act as 1 user and be

[2021-09-02 16:38] yankees5963 commented on #34616
I had a HA cluster, it looks like i was able to setup PING after i scaled down the rancher pod to 1.

Steps:
1. scale down rancher pod to 1
2. Configure  SAML Ping
3. scale up rancher pod to 3+

Even though this is a temp fix, it should be investigated and fixed, as new clusters shouldnt have to scale down just to install an authentication method.

[2021-09-02 16:55] thedadams commented on #34425
I don't believe the CA bundle expects a base64 encoded string. I believe pasting the cert file as-is is the way to go.

That didn't cause the problem, but just wanted to mention for future testing.

[2021-09-02 17:01] jiaqiluo commented on #34596
Yes, Rancher can be migrated from one cluster to another: https://rancher.com/docs/rancher/v2.6/en/backups/migrating-rancher/

Approach 1 looks right to me, could you check the documentation to confirm your steps & operations are correct?

Also, can you provide more info about your Rancher setup? What version is the Rancher and the rancher-backup app?

[2021-09-02 17:06] MichaelTrip commented on #34617
I david,

I tested this under debian 11, Fedora 34 and Manjaro 21.1.1. But i only ran this as my own user, not as root. Maybe i should try that first. I will let you know if this solves the issue.

[2021-09-02 17:19] andrelop commented on #34598
After talking to @kinarashah on Slack I followed her advice to change the `addon_job_timeout` and changed it to 600s (default is 45s, chaging from 45s to 90s did not worked). This 'fixed' teh issue for in my production cluster and after that I was able to provision new worker nodes.

However, setting this parameter to the same value on my staging cluster did **NOT**  fixed it for me. I could creat

[2021-09-02 17:38] cloudcafetech commented on #34533
@superseb

👍👍👍

[2021-09-02 18:09] hwchiu opened #34621 "Can't browser the cluster from web portal after upgrading to v2.6"
**Rancher Server Setup**
- Rancher version: v2.6.0
- Installation option (Docker install/Helm Chart):
   - Helm: "v3.4.2"
   - Kubernetes: v1.16.2 (RKE1)
- Proxy/Cert Details: Let's Encrypted certificate

**Describe the bug**
After upgrading Rancher from v2.5.5 to v2.6.0, I'm no longer access my custom cluster from the new Rancher portal.

I got the following screen when I click the name of my exi

[2021-09-02 18:21] #34026 closed

[2021-09-02 18:25] nickgerace commented on #34330
This issue is pending a targeted design meeting on the future of the uninstall script and what it should do: https://github.com/rancher/rancher/blob/master/chart/scripts/post-delete-hook.sh

[2021-09-02 18:27] andrelop commented on #34598
Go some more logs from inside the kube-controller-manager, don't know if this could help. This snippet is from when a worker is added and then removed :

[code]

That's weird. At the same second it finds the new node and remove it. It doesn't find the VMSS for the node because  even though we are using `vmType` as `vmss` in the node pool from which these nodes are being generated, Rancher actually

[2021-09-02 18:37] ahiherb opened #34622 "API"
Is there an API available where I can specify a namespace and active workload, and get back the active image?

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.4.15` UI: `v2.4.47` |
|Route|`undefined`|

[2021-09-02 18:45] bgulla commented on #34580
we're looking into this.

[2021-09-02 18:59] evannorstrand commented on #34583
I can confirm that ingress is not working on the latest version of RKE2 for Rancher 1.6.0. Rancher itself comes up no problem, no deployed applications will resolve.

[2021-09-02 19:29] davidnuzik commented on #34617
Technically docker shouldn't care but I do have to say that these are not supported operating systems. I would expect Debian to work but also not [supported](https://rancher.com/support-maintenance-terms/all-supported-versions/rancher-v2.6.0/)

[2021-09-02 19:30] davidnuzik commented on #34617
Yeah, `sudo docker run -d --restart=unless-stopped -p 80:80 -p 443:443 --privileged rancher/rancher:latest` might have an impact? But not 100% sure

[2021-09-02 19:30] paynejacob opened #34625 "[2.5] Rancher Logging backports"
rancher 2.6 introduced a multitude of changes that we want to bring into 2.5:
- windows path fixes rancher/rancher#33940
- windows path fixes for rke agent rancher/rancher#33939
- k3s uses journald for controlplane logs rancher/rancher#33938
- exposed toggle to strip underscore prefixes on journald logs rancher/rancher#33937
- k3s logs now all have timestamps rancher/rancher#33936
- rke2 control p

[2021-09-02 19:38] snasovich commented on #25487
Related to: https://github.com/rancher/rancher/issues/30718, a possible solution is being researched as part of it.

[2021-09-02 20:03] superseb commented on #34617
Please share `docker info` from any of the tested OS's

[2021-09-02 20:24] gaktive commented on #30166
@izaac I'm getting asked about the status of this feature, so if QA doesn't have an Azure AD to test this, then let me know and I can see if someone in UI can verify this.

[2021-09-02 20:24] gaktive commented on #30166
cc @sowmyav27 though she's out

[2021-09-02 20:37] izaac commented on #30166
Hi @gaktive we don't have an Azure QA environment integrated with Azure Apps, that's the reason we weren't able to repro or follow up this further.

[2021-09-02 20:46] rancher-max commented on #34560
This could very well be an upstream bug that SUC exposes, and we probably want to bump it out of 2.6.1. For the use cases here, we are not using drain, which can itself sometimes be the problem.

What I'm seeing is that a job on the node in question (in this case a server node) is created but not running:
[code]

When checking the kubelet logs on the node, it appears this could be a problem with i

[2021-09-02 21:04] nickgerace commented on #29209
@timj477 I am able to `curl` the URL. Are you able to as well? Perhaps, it's been resolved, there's an intermittent issue, or it's still broken for you.

[2021-09-02 21:09] gaktive commented on #30166
OK, thanks. Checking if anyone in UI has this kind of setup.

[2021-09-02 21:10] paynejacob commented on #33939
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33939 closed

[2021-09-02 21:10] paynejacob commented on #33938
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33938 closed

[2021-09-02 21:10] paynejacob commented on #33937
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33937 closed

[2021-09-02 21:10] paynejacob commented on #33936
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33936 closed

[2021-09-02 21:10] paynejacob commented on #33935
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33935 closed

[2021-09-02 21:10] paynejacob commented on #33934
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33934 closed

[2021-09-02 21:10] paynejacob commented on #33933
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33933 closed

[2021-09-02 21:10] paynejacob commented on #33940
closing in favor of https://github.com/rancher/rancher/issues/34625

[2021-09-02 21:10] #33940 closed

[2021-09-02 21:41] brandond commented on #29209
RancherD was an experimental feature in Rancher 2.5 that has been dropped as of Rancher 2.6. From the [release notes](https://github.com/rancher/rancher/releases/tag/v2.6.0):

[2021-09-02 22:01] jiaqiluo opened #34627 "[2.5] back port multiple fixes for rancher-backup"
backport of
- https://github.com/rancher/rancher/issues/34193
- https://github.com/rancher/rancher/issues/34247
- https://github.com/rancher/rancher/issues/34461

[2021-09-02 22:03] jiaqiluo commented on #34466
close duplicated issue.

[2021-09-02 22:03] #34466 closed

[2021-09-02 22:03] jiaqiluo commented on #34467
close duplicated issue.

[2021-09-02 22:03] #34467 closed

[2021-09-02 22:03] jiaqiluo commented on #34553
close duplicated issue.

[2021-09-02 22:03] #34553 closed

[2021-09-02 22:33] creatica-soft commented on #15116
From another server:

ldapsearch -h ads-dctl01-lata.a.local -p 389 -W -D 'CN=StrongviewProd-Ldap,OU=Service Accounts,DC=A,DC=local' -x -b 'DC=A,DC=local'
Enter LDAP Password:
ldap_bind: Invalid credentials (49)
        additional info: 80090308: LdapErr: DSID-0C090446, comment: AcceptSecurityContext error, data 52e, v2580

The same error is seen in appserver.log of Message Studio.

So there must b

[2021-09-02 22:48] PennyScissors opened #34628 "[2.6] Forwardport vSphere CSI"
Forwardport of: https://github.com/rancher/rancher/issues/34630

Note: We are considering moving the CSI chart to live with the other RKE2 charts so this issue might need to be refactored once a decision has been made.

[2021-09-02 22:54] #33272 closed

[2021-09-02 23:02] maxisam commented on #32670
I am dealing with this issue as well. It seems pretty complicated. After I did first 2 steps. Rancher can't start correctly, so I have to revert back to the old certificate.

https://rancher.com/docs/rancher/v2.5/en/installation/resources/update-ca-cert/

Do you figure out how to do it?

[2021-09-02 23:12] deniseschannon commented on #34357
@guangbochen There was a known breaking change between those versions. Please test with upgrading between v2.6.0-rc10 and v2.6.0.

[2021-09-02 23:50] anupama2501 commented on #34600
I'm able to reproduce this issue on rancher v2.6.0

Steps:

- Enable azure AD in the rancher server with `Configure who should be able to login and use Rancher` as `Allow any valid user1`
- From a different browser, login as a standard user and verify the users have access to the rancher server.
- Change the setting `Configure who should be able to login and use Rancher` to `Restrict access to onl

[2021-09-03 00:02] PennyScissors opened #34630 "[2.5] Update vSphere CSI to latest upstream"
Current latest upstream is v2.3.0

[2021-09-03 00:14] PennyScissors opened #34631 "[v2.6] KDM Update for K8s September patch release"
# KDM Updates
**TO BE RELEASED:** Rancher v2.6.1

| New Kubernetes Version | Min Rancher Version | Min RKE Version |
| ---------------------- | ------------------- | --------------- |
| 1.21.5-rancher1-1      | n/a                 | n/a             |
| 1.20.11-rancher1-1     | 2.5.6-rc0           | 1.2.0-rc0       |
| 1.19.15-rancher1-1     | 2.5.0-rc0           | 1.2.0-rc0       |

### Rancher Sy

[2021-09-03 00:23] PennyScissors opened #34632 "[v2.5] KDM Update for K8s September patch release"
# KDM Updates
**TO BE RELEASED:** Rancher v2.5.10

| New Kubernetes Version | Min Rancher Version | Min RKE Version |
| ---------------------- | ------------------- | --------------- |
| 1.20.11-rancher1-1     | 2.5.6-rc0           | 1.2.0-rc0       |
| 1.19.15-rancher1-1     | 2.5.0-rc0           | 1.2.0-rc0       |

### Rancher System Images & Add-ons
**_Note: Please update system images and add

[2021-09-03 01:20] guangbochen commented on #34357
close as it is confirmed from the Rancher team that we will just keep the secret name to remain unchanged.

[2021-09-03 01:20] #34357 closed

[2021-09-03 01:30] WeiChunKao commented on #34583
I see docs on Rancher，but i have no idea how to operate
[](https://rancher.com/docs/rancher/v2.x/en/installation/resources/advanced/helm2/kubernetes-rke/#check-the-health-of-your-cluster-pods)

[2021-09-03 01:30] timj477 commented on #29209
Thank you for your response. I am still unable to load rancher.
With the script "curl -sfL https://get.rancher.io | sudo sh -"
Could you direct me to the proper  procedures to load rancher.
Thank you for all your help

[2021-09-03 02:38] kingsd041 opened #34633 "[2.6] About airgap install k3s cluster"
**Rancher Server Setup**
- Rancher version: v2.6.0
- Installation option (Docker install/Helm Chart): Docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version:  v1.21.4+k3s1
- Cluster Type (Local/Downstream): Custom k3s
   - If downstream, what type of cluster? (Custom/Imported or specify pr

[2021-09-03 03:11] kingsd041 opened #34634 "[2.6] Modify the k3s cluster, `Mirrors` config is empty"
**Rancher Server Setup**
- Rancher version: v2.6.0
- Installation option (Docker install/Helm Chart): Docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version:  v1.21.4+k3s1
- Cluster Type (Local/Downstream): Custom k3s
   - If downstream, what type of cluster? (Custom/Imported or specify pr

[2021-09-03 03:28] PennyScissors commented on #34017
Re-assigned this to the purple team.

[2021-09-03 04:41] brandond commented on #29209
Check out th einstall documentation:
https://rancher.com/docs/rancher/v2.5/en/installation/install-rancher-on-k8s/

[2021-09-03 05:04] vincent99 commented on #13666
I don't think there's an option in the provider for this currently, but you/terraform don't _need_ to go through the test flow at all.  It is possible to just directly set the auth config without doing a test or associating a principalId to anybody.

[2021-09-03 06:16] ItsReddi opened #34635 "[2.6] Deployment create: PersistentVolumeClaim "" is invalid"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart):
   - RKE, Kubernetes 1.21

**Describe the bug**
When creating a deployment, adding and remove a volume, for example a persistent claim, results in an error, saving the deployment.

**To Reproduce**
1. Create a deployment
2. go to storage
3. add a persistent volume
4. remove it again
5. click create

[2021-09-03 06:33] ItsReddi opened #34636 "Deployment init container, init logs are not visible"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart):
   - RKE1, Kubernetes 1.21

**Describe the bug**
If you created a deployment with an init container, the logs are not accessible in UI.

**To Reproduce**
1. Create a deployment with init container (let the init container fail, for usecase...)

**Result**

**Expected Result**
1. Deployment fails on

[2021-09-03 06:40] Twiiiiin opened #34637 "vSphere cluster loses management if using DHCP"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): k3s version v1.21.4+k3s1 (3e250fdb)
- Proxy/Cert Details: NoProxy / Self signed Cert

**Information about the Cluster**
- Kubernetes version: 1.21.4-rancher1-1
- Cluster Type (Local/Downstream): Downstream

[2021-09-03 06:52] ItsReddi opened #34638 "[2.6] Deployment create, missing Volume Type "emptyDir""
**Rancher Server Setup**
- Rancher version: 2.6
- Installation option (Helm Chart):
   - RKE1, kubernetes 1.21

**Describe the bug**
If you create a deployment and want to add an emptyDir volume, you cannot select that from volume type dropdown
[code]

**To Reproduce**
1. Create a deployment
2. Storage -> Add Volume
3. emptyDir not existent

update issue:
1. Import a deployment with an empty dir
2

[2021-09-03 07:13] superseb commented on #34583
@evannorstrand This is for Rancher v2.5.6, please file a new issue with what you are seeing so we can investigate that.

@WeiChunKao The previous pod logs from the ingress-nginx pods will show why it crashed/stopped running. In general, please share what ingress you created, the output of where it shows Initializing in combination with the pod status (is it related to the pods not running or are t

[2021-09-03 07:25] GiGurra opened #34639 "[2.6] Automatic creation/sync of services <-> workload ports permanently lost after 2.5.8->2.6.0"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): docker standalone/single instance
- Proxy/Cert Details: letsencrypt

**Information about the Cluster**
- Kubernetes version: 1.20.8
- Cluster Type (Local/Downstream): imported digitalocean managed kubernetes

**Describe the bug**
after upgrading from 2.5.8 -> 2.6.0, services are no longer automatic

[2021-09-03 07:27] ayushi4 commented on #20492
You need to trigger alert by fulfilling alert condition. Check "prometheus alert" rules and try to replicate a condition.

[2021-09-03 07:27] ayushi4 commented on #20492
I am facing same issue, my alerts are fired but they are not received as email notification.

[2021-09-03 07:33] lonewulf opened #34640 "No way to unlink a Cluster from a Cluster Template"
**Is your feature request related to a problem? Please describe.**
Once a cluster is created from a template, there is now way to unlink it from said template. Please asd a way to unlink a cluster from cluster templates

**Describe the solution you'd like**
When a cluster is linked to a template there is no way to undo it appart from deleting the cluster and recreating it, which is not an acceptab

[2021-09-03 07:46] #33299 closed

[2021-09-03 07:51] hreidar commented on #29209
Thanks, for the info @brandond , I missed this in the release docs. I also miss rancherd :-) Hope it will be back soon.

[2021-09-03 08:03] GiGurra commented on #34639
I can verify that if I create entirely new deployments AFTER the upgrade from 2.5.8->2.6.0, service<->deployment port config is synchronized and automatic, but for all deployments that existed from prior to the upgrade, sync is permanently lost

[2021-09-03 08:38] GiGurra commented on #34639
Well this is bad... I cannot create services for the workloads even manually. They are auto reverted to the configuration that existed before the rancher upgrade. Even if I delete all ports from workloads and then delete/edit the services, the services are reverted back to their pre 2.6 config

[2021-09-03 08:44] yurividal opened #34641 "2.6 significantly slower than previous versions."
**Rancher Server Setup**
Rancher 2.6 Helm, k3s 19

Self Hosted

Hi. I decided to update my rancher instance to the latest 2.6 version.
To my regret, it feels painfully slower than previous 2.5.6

I was using the old UI in 2.5 (cluster manager) , and this update forces me to use the new UI (cluster explorer), which is fine, as long as it's not that slow.

For example: the ingress page takes about 2

[2021-09-03 09:11] msmeissn commented on #34580
is libopenssl1_1-hmac RPM in the container and has it the same version as the libopenssl1_1 RPM?

[2021-09-03 12:17] ItsReddi opened #34642 "[2.6] Ingress, non accessible Certificates from other namespaces can be choosen"
**Rancher Server Setup**
- Rancher version: 2.6
- Installation option (Docker install/Helm Chart):
   - RKE1, kubernetes 1.21

**Describe the bug**
Inhouse ingress is used.
If you create / update ingresses you can choose certificate secrets that do not belong to the current ingress namespace

**To Reproduce**
1. Create 2 namespaces e.g. foo & bar
2. Create certificate in foo namespace
3. Create in

[2021-09-03 13:25] joebone commented on #31650
Just ran into this issue in

- Rancher 2.6.0
- rke1 (1.3) provisioned cluster
- kubernetes v1.21.4
- Helm chart 100.0.0+up16.6.0

Definitely still a thing. Will try the original workaround and edit this with the results, but the dream of the "one click deploy" is sadly still a dream.

[2021-09-03 13:28] smartyhero opened #34643 "etcd-snapshot-once hang"
**Rancher Server Setup**
- Rancher version: 2.4.8
- Installation option (Docker install/Helm Chart): Docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: v1.17.17
- Cluster Type (Local/Downstream):   Downstream/Custom
   - If downstream, what type of cluster? (Custom/Imported or specify

[2021-09-03 13:29] meysamfarazmand commented on #34596
I have used rancher 2.6 in both Datacenters. Both ranchers have been installed using docker:
`sudo docker run --privileged -d --restart=unless-stopped -p 80:80 -p 443:443 -v /mnt:/mnt rancher/rancher`

the problem with the following guide is:
1- we need to bring up rancher with helm, while i am going to do it using docker
2- I must have a new Kubernetes cluster, while in my environment I don't wan

[2021-09-03 13:48] JaseKing commented on #18002
I'm facing this issue on a new v2.5.9 install, prevents me from provisioning via Ansible.

[2021-09-03 14:46] #16865 closed

[2021-09-03 15:44] xiashangrui opened #34645 "ingress后端重写功能问题"
ingress后端重写之前一直正常今天下午突然出问题了，有些人请求正常，有些人的请求被重定向到/，就请求不到资源。
![图片](https://user-images.githubusercontent.com/11308962/132032419-0b46a96c-8538-4496-9dfa-cd3f479f5853.png)

|Versions|Rancher `v2.3.2` UI: `v2.3.22` |
|Route|`ingresses.index`|

[2021-09-03 15:44] xiashangrui commented on #34645
![图片](https://user-images.githubusercontent.com/11308962/132032473-b1184b9e-48d3-44e6-b5a3-c1996c8154e1.png)

[2021-09-03 16:51] andrelop commented on #34598
**Context :** We have two clusters -> staging and production.

We don't know yet exactly why, but in the production cluster we have kind of worked around the issue of non-provisioning more worker nodes by changing the `addon_job_timeout` parameter inside the clusters' `cluster.yml` file (changed it from the default 45s to 600s) and now we can provision worker inside the same node pool starting wit

[2021-09-03 21:00] faysalkhan8p opened #34647 "Rancher download script is not working"
if I run the script "curl -sfL https://get.rancher.io | sh - " it crashes.
This link is causing the problem"https://github.com/rancher/rancher/releases/download/v2.6.0/rancherd-amd64.tar.gz"

![image](https://user-images.githubusercontent.com/56766976/132064832-6b649bef-8588-4fb1-a2c9-dbf89f197a92.png)

System info: ubuntu 18.04

[2021-09-03 21:54] #33270 closed

[2021-09-03 23:30] BloodyIron commented on #29209
Yeah honestly I tried RancherD, it went so horribly (sorry), and just gave up and went with the Docker method outlined on the front page of Rancher. It's been working like a charm since!

[2021-09-04 02:23] #21612 closed

[2021-09-04 03:01] kingsd041 commented on #34647
https://github.com/rancher/rancher/issues/33423

[2021-09-04 06:57] superseb commented on #34647
Also described on https://github.com/rancher/rancher/releases/tag/v2.6.0

[2021-09-04 06:57] #34647 closed

[2021-09-04 08:20] GiGurra commented on #34639
This is even worse.. even if I delete the entire **workload** and recreate them again, the issue persists.
It seems like rancher remembers the workload name, and all workload names ever used before are broken.

[2021-09-04 10:11] peteingithub commented on #34510
Anyone?

[2021-09-04 13:15] #33325 closed

[2021-09-04 13:27] isolver-eu opened #34648 "get.rancher.io is not working due to a release repo throws a 404"
the terminal line below is not working:

this is the output:
[INFO]  finding release for channel latest
[INFO]  using v2.6.0 as release
[INFO]  downloading checksums at https://github.com/rancher/rancher/releases/download/v2.6.0/sha256sum.txt
[INFO]  downloading tarball at https://github.com/rancher/rancher/releases/download/v2.6.0/rancherd-amd64.tar.gz
curl: (22) The requested URL returned error:

[2021-09-04 15:04] MihaiSandor commented on #34617
I have the same problem with latest and stable versions.

Client:
 Context:    default
 Debug Mode: false

Server:
 Containers: 1
  Running: 1
  Paused: 0
  Stopped: 0
 Images: 2
 Server Version: 20.10.7
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
  userxattr: false
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Cgroup Version: 1

[2021-09-04 15:41] durellw commented on #33344
Yes, more than the static list of regional endpoints. For example, if a customer wanted to use FIPS endpoints [1], there is no provision that I am aware of that would allow that.

1. https://aws.amazon.com/compliance/fips/

[2021-09-04 22:00] hreidar commented on #34648
Hi, I did hit the same.

RancherD was an experimental feature in Rancher 2.5 that has been dropped as of Rancher 2.6. From the release notes:

Experimental Features
RancherD was introduced in 2.5 as an easy-to-use installation binary. With the introduction of RKE2 provisioning, this project is being re-written and will be available at a later time. See #33423.

[2021-09-04 22:14] h0jeZvgoxFepBQ2C commented on #30126
Do you have a link where this is documented? thx!

[2021-09-04 22:43] gaby commented on #26746
Why was this ticket closed? @jiaqiluo It's still relevant.

[2021-09-04 23:15] brandond commented on #34648
See https://github.com/rancher/rancher/issues/29209#issuecomment-912078591

[2021-09-04 23:15] #34648 closed

[2021-09-05 01:25] slickwarren commented on #34610
For RKE2, we have [rke2 cluster templates in 2.6](https://rancher.com/docs/rancher/v2.6/en/admin-settings/cluster-templates/#rke2-cluster-template) which can deploy new clusters. In 2.6.1, rke2 cluster templates will have the ability to deploy resources such as Monitoring when creating via the template.

[2021-09-05 02:41] abhi1693 opened #34649 "[2.6] App upgrade uses wrong repository when same name chart is available in multiple repos"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE1
- Proxy/Cert Details: No proxy, Cloudflare certificate

**Information about the Cluster**
- Kubernetes version: v1.20.4
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of clus

[2021-09-05 02:59] #33334 closed

[2021-09-05 05:29] abhi1693 opened #34650 "[2.6] Unable to remove cluster"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Helm chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE1
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: v1.20.0
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify

[2021-09-05 11:37] #29607 closed

[2021-09-05 20:18] ikogan commented on #32625
Does anyone know if this is something that has been improved in 2.6?

[2021-09-05 20:18] ikogan commented on #32626
Does anyone know if this is still the case in 2.6?

[2021-09-05 21:47] weisdd commented on #33482
up

[2021-09-05 23:58] #20929 closed

[2021-09-05 23:58] #33353 closed

[2021-09-06 00:18] jrucker2004 opened #34651 "rancherd install script is broken."
**Rancher Server Setup**
- Rancher version: 2.6
- Installation option (Docker install/Helm Chart): rancherd ( `curl -sfL https://get.rancher.io | sh -` )

**Describe the bug**
When performing a fresh install using the instructions here: https://rancher.com/docs/rancher/v2.x/en/installation/install-rancher-on-linux/ the install fails when trying to download the latest version, with a http status of

[2021-09-06 02:04] roberttucci commented on #34651
Thank you for opening this bug report, I am experiencing the same issue.

[2021-09-06 04:22] #31351 closed

[2021-09-06 04:29] pengyuan opened #34652 "Readiness probe failed: Get http://10.42.0.21:8080/health: dial tcp 10.42.0.21:8080: connect: connection refused"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): rke
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: 1.1.7
- Cluster Type (Local/Downstream):
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infra

[2021-09-06 07:36] MarcoStuurman commented on #34651
I think this is because it has to be installed with helm from 2.6.

[2021-09-06 07:44] Napsty opened #34653 "2.6.0 - workloads not added as service (service discovery)"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Docker Install (Single)
- Proxy/Cert Details: none

**Information about the Cluster**
- Kubernetes version: 1.21
- Cluster Type (Local/Downstream): Custom

**Describe the bug**
Created workloads are not listed as service inside Kubernetes and cannot be selected in service-related configurations (su

[2021-09-06 07:57] hreidar commented on #34651
Yes, I hit the same, RancherD was an experimental feature in Rancher 2.5 that has been dropped as of Rancher 2.6. From the [release notes](https://github.com/rancher/rancher/releases/tag/v2.6.0):

RancherD was introduced in 2.5 as an easy-to-use installation binary. With the introduction of RKE2 provisioning, this project is being re-written and will be available at a later time. See #33423.

[2021-09-06 08:21] David-VTUK commented on #34637
Hi @Twiiiiin

As per https://rancher.com/docs/rancher/v2.x/en/installation/requirements/#node-ip-addresses, you can use DHCP, and this is common, but this should be used in conjunction with DHCP reservations or custom DHCP server config so nodes have a reliable, unchanged private address across their entire lifecycle.

I wrote this which may help if DHCP isn't an option in this configuration: http

[2021-09-06 08:48] Twiiiiin commented on #34637
Hi @David-VTUK
Thanks for the answer, i'll definitely follow the guide. Though i think the problem could be worse than that. As it seems Rancher connects only to one node as master of the k8s cluster and if that node fails for some reason (and doesn't come up working with the same IP), the management of the cluster is lost. I think this is also for other providers and not only for vSphere.
Isn't t

[2021-09-06 09:32] myselfghost commented on #34610
how about a deployment,a ingress,a service and so on if i want to deploy resources from a template

[2021-09-06 09:48] Napsty commented on #34653
maybe related: https://github.com/rancher/rancher/issues/34639

[2021-09-06 11:08] h0jeZvgoxFepBQ2C opened #34654 "Best practice for prometheus monitoring field.cattle.io/workloadMetrics vs ServiceMonitors"
Right now I couldn't find a clean documentation on whats the best way to collect custom prometheus data..

We played around over 2.4, 2.5 and now 2.6 and it seems that something like following works (without extra ServiceMonitor):

[code]

But on the other hand, other components require a ServiceMonitor and it looks like the mentioned cattle configuration above doesn't work..

[code]

And sometime

[2021-09-06 11:35] #33359 closed

[2021-09-06 11:35] #28935 closed

[2021-09-06 12:16] dnauck commented on #22061
/unstale

[2021-09-06 12:50] LinAnt commented on #34638
https://github.com/rancher/rancher/issues/25131

[2021-09-06 13:13] vivek-infracloud opened #34655 "Failing conformance test for k8s v1.21.4 provisioned with Rancher 2.6.0 and RKE 1.3.0"
**What kind of request is this (question/bug/enhancement/feature request):**
**bug**

We followed similar steps as mentioned in this [link](https://github.com/cncf/k8s-conformance/tree/master/v1.20/rancher ) to run the e2e test by the Sonobuoy to Rancher and RKE clusters. Below two tests failed consistently for clusters provisioned by Rancher and RKE both, even after running tests for 4 times.

**

[2021-09-06 13:49] LeCodeCo commented on #34651
On an install made by RancherD, what steps are needed to upgrade to Rancher 2.6? I guess that I'll need to bootstrap a new Kubernetes cluster and migrate Rancher to that?

[2021-09-06 14:10] alexandrevoilab commented on #14630
Issue is still present after upgrading to 2.5.9. Somewhat more often than on 2.4.17.

[2021-09-06 14:21] pcornelissen commented on #14630
as stiks wrote, just use this in your RKE config to have higher timeouts:

[code]

[2021-09-06 14:25] jrucker2004 commented on #34651
Ah, I missed this.

Looks like this is working as intended then.  Closing.

[2021-09-06 14:25] #34651 closed

[2021-09-06 14:38] alexandrevoilab commented on #14630
It was already set to sticks's configuration:
[code]

I've updated the heartbeat interval to 1000, we'll see in some days if there is any improvement.
Thanks

[2021-09-06 16:45] maxifom opened #34656 "helm doesn't want to upgrade rancher-latest"
**Rancher Server Setup**
- Rancher version: 2.6-latest
- Installation option (Docker install/Helm Chart): helm
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): k3s
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: v1.21.4+k3s1
- Cluster Type (Local/Downstream): local

**Describe the bug**
Installed cluster with
[code]

tried upgrading wit

[2021-09-06 17:01] LeoDemoniac opened #34657 "can not find alter-rule for etcd"
**Rancher Server Setup**
- Rancher version: 2.x
- Installation option (Docker install/Helm Chart):
   - docker

**Describe the bug**
I hava a cluster made by rancher(include etcd server),In these days, we found the alter: `etcd-alter_etcd-system-service;component_name="etcd",rule_id="c-8pz7c:etcd-alert_etcd-system-service"`
Then i got the rule configs from `crd` (promethues-operator),but i could n

[2021-09-06 18:50] #33361 closed

[2021-09-06 18:50] #33305 closed

[2021-09-06 19:44] thedadams opened #34658 "K3S provisioning support for arm64"
**Is your feature request related to a problem? Please describe.**
The new K3S provisioning does not work for custom nodes with arm64 architecture. It seems that the `system-agent` supports arm64, but there is no version of `system-agent-installer` for arm64. Since both `system-agent` and k3s support arm64, it seems likely that adding a drone pipeline for the `system-agent-installer` would be enou

[2021-09-06 23:23] h0jeZvgoxFepBQ2C commented on #34641
Yeah, Rancher is pretty much not usable right now for us. We stopped working with Rancher and work only in the Lens Desktop app... :(

[2021-09-07 02:36] shifeichen opened #34659 "Wait helm template failed. Error: error unpacking common in kafka: apiVersion 'v2' is not valid. The value must be "v1" : exit status 1"
There is a problem with rancher ui page.

When I updated the content of the app, I found that the version of template automatically became the latest, and then the page prompted as follows:

Wait helm template failed. Error: error unpacking common in kafka: apiVersion 'v2' is not valid. The value must be "v1" : exit status 1

I tried to roll back the template version “14.0.5” to the previous templ

[2021-09-07 02:38] shifeichen commented on #34659
why the rancher automatically updated the template version?
why is it also prompting error when we change back it to old template version.

[2021-09-07 03:33] KeithTt commented on #26633
Same problem here, I have a v2.4.0 cluster, can I upgrade the rancher server?

[2021-09-07 05:24] valeriano-manassero commented on #32616
issue still there

[2021-09-07 05:29] Napsty commented on #34609
@cloudcafetech In the Global view (not inside a cluster), select Tools -> RKE Templates.
https://rancher.example.com/g/rke-templates/index
Obviously adjust the URL to your domain.

[2021-09-07 07:39] xibuka commented on #29348
@aiyengar2 In the `Cluster Manager` section of 2.5.3's [support matrix page](https://rancher.com/support-maintenance-terms/all-supported-versions/rancher-v2.5.3/), I saw v0.1.4 is there so this may misleading others.
And can you share with me where can I find the source of `v1 v0.1.4 is only for k8s 1.15`?

[2021-09-07 08:35] SSvilen commented on #33532
still relevant.

[2021-09-07 09:44] ItsReddi opened #34660 "[2.6] UI Deployment Node scheduling, cannot be changed"
**Rancher Server Setup**
- Rancher version: 2.6
- Installation option (Docker install/Helm Chart):
   - RKE, Kubernetes 1.21

**Describe the bug**
A deployment with node scheduling "required" cannot be updated to "preferred"

**To Reproduce**
1. Create a deployment with node sheduling required
2. Update deployment, change to preferred

**Result**
node scheduling is still on required, and saved wit

[2021-09-07 10:10] nguyenngodinh commented on #32614
@anupama2501 This error still occurs. I work with version
Rancher: v2.6.0
Helm: v2.16.8-rancher1
Machine: v0.15.0-rancher69
"failed to create fleet-default/k8s-cluster-llq-ttt-177 cluster.x-k8s.io/v1alpha4, Kind=Cluster for rke-cluster fleet-default/k8s-cluster-llq-ttt-177: Internal error occurred: failed calling webhook "default.cluster.cluster.x-k8s.io": Post "https://webhook-service.cattle-syst

[2021-09-07 11:04] al45tair commented on #30200
I doubt you've fixed it, so it's probably still relevant (though not to me because I've changed job).

[2021-09-07 11:15] link-duan commented on #34385
@vincent99 @nwmac

[2021-09-07 11:37] nwmac commented on #34385
All issues should go in rancher/dashboard.

The URL you are using is to the old Cluster Manager UI - using these older pages independently of the new Cluster Dashboard (e.g. not embedded) is not supported

[2021-09-07 13:15] depeele commented on #28783
Still relevant

[2021-09-07 13:50] #27297 closed

[2021-09-07 14:13] ccittadino-ctic opened #34661 "Global DNS Entry shows active but no DNS entries created"
**Rancher Server Setup**
- Rancher version: 2.5.8
- Installation option (Docker install/Helm Chart): Helm Chart
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE1
- Proxy/Cert Details: Wildcard cert with ACM

**Information about the Cluster**
- Kubernetes version: v1.19.9
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster?:

[2021-09-07 14:18] ccittadino-ctic commented on #31852
This issue is still relevant. Please prioritize

[2021-09-07 14:47] papanito opened #34662 "rancher-loggin-rke-aggregator [error] [upstream] connection #40 to rancher-logging-fluentd.cattle-logging-system.svc:24240 timed out after 10 seconds"
**Rancher Server Setup**
- Rancher version: 2.5.9
- Installation option (Docker install/Helm Chart): RKE
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
- Proxy/Cert Details: -

**Information about the Cluster**
- Kubernetes version: 1.20.9
- Cluster Type (Local/Downstream): Baremetal,
   - If downstream, what type of cluster? (Custom/Imported or specify provider fo

[2021-09-07 15:01] anupama2501 commented on #34650
@abhi1693 if the UI is refreshed was the deleted cluster removed from the UI?

[2021-09-07 15:07] abhi1693 commented on #34650
@anupama2501  It took about 24 hours for it to get removed from it. I tried relogin but that didn't help.

Since then I have had this issue twice with the exact same log

[2021-09-07 16:08] slickwarren commented on #34608
we have an existing issue for this in the dashboard project https://github.com/rancher/dashboard/issues/3336 . This will be enabled once we fully support more languages in 2.6

[2021-09-07 16:08] #34608 closed

[2021-09-07 16:11] anupama2501 commented on #34642
Able to reproduce this issue on v2.6.0, k8s: v1.21.4. cluster type rke1

1. Created two namespaces in the default project ns1 and ns2
2. In the ns1, create a certificate by providing key and cert
3. In the ns2, create a workload
4. while creating an ingress, from the Certificates tab --> Add certificate --> from the drop down we can chose any certificate from any other namespace, which are not par

[2021-09-07 16:49] nwmac opened #34663 "No way to determine if v1 istio is installed in a cluster"
Required for: https://github.com/rancher/dashboard/issues/4072

We need to hide the Istio resources in the UI if v2 Istio is installed.

The best way is if the backend can annotate the cluster metadata to indicate the presence of v1 istio - the backend can ensure that there are no permissions issues in doing so and that this is done efficiently (which would most likely be the case if the UI tried

[2021-09-07 17:00] anupama2501 commented on #34660
On v2.6.0

- Created a deployment and selected the node scheduling `Priority` to `Required` with a rule as from the screenshot attached.
- If we edit the config and change the `Priority` from `Required` to `Preferred`, it works if we remove the rule and re-add it otherwise the following config is sent:

<img width="500" alt="Screen Shot 2021-09-07 at 9 31 23 AM" src="https://user-images.githubuser

[2021-09-07 17:07] anupama2501 commented on #34653
@Napsty while creating a workload, in the `Ports` section if we select the type of Service, an SD will be created

Docs reference: https://rancher.com/docs/rancher/v2.6/en/k8s-in-rancher/workloads/deploy-workloads/

<img width="500" alt="Screen Shot 2021-09-07 at 8 15 25 AM" src="https://user-images.githubusercontent.com/38144301/132383512-ca086348-8402-4b56-b1db-1867321f1a26.png">

cc: @vincent99

[2021-09-07 17:31] anupama2501 commented on #34641
I'm not able to reproduce this issue.

@yurividal would you be able to provide us some more info, we will try to reproduce the same in our setup
the type of clusters  and is it is seen for all or only a few of the clusters
number of ingress or the config used in the ingress
Is it happening only with ingresses or any other services?
Any network or console logs when the issue happens

[2021-09-07 17:36] Napsty commented on #34653
Thank you @anupama2501 for that very important hint! I could not spot this in the upgrade/release notes and is clearly a different behaviour than in the other releases.
I will try and report back.

[2021-09-07 17:45] #26735 closed

[2021-09-07 17:45] #33376 closed

[2021-09-07 17:48] StrongMonkey commented on #34641
Would be great to post pictures of browser dev tool to see which request is taking longer than expected.

[2021-09-07 17:57] davidnuzik commented on #32390
I need further assistance to move forward - am still unable to get Azure cp to work.

[2021-09-07 18:11] snasovich commented on #32634
Moving to v2.6.2 scope due to linked issue moved there.

[2021-09-07 18:39] andrew-landsverk-win commented on #34187
Can we expect this fix in 2.6.1? I am getting the same errors in my 2.6.0 cluster.

[2021-09-07 18:59] snasovich commented on #34187
@andrew-landsverk-win , this should be fixed in 2.6.0 as the issue got validated and closed, see this comment: https://github.com/rancher/rancher/issues/34187#issuecomment-904809285.
If the issue is reproducible for you, could you please share logs and describe your setup?

[2021-09-07 19:06] andrew-landsverk-win commented on #34187
I get this error "sometimes" when doing a helm 3.6.2 deploy of an app after using the rancher-cli2 to login to my cluster.  It doesn't affect my 2.5.x cluster, only my 2.6.0 cluster. Which container do you want logs from? :)

[2021-09-07 19:08] snasovich commented on #34114
@deniseschannon , do you have an update on whether this should be supported or not? Instinctively I think we should support this scenario as users can upgrade downstream cluster's RKE2 directly and are not forced to do it from Rancher.

[2021-09-07 19:19] snasovich commented on #34187
@andrew-landsverk-win , somehow I've read it as if you have seen these errors in some logs which is not the case.
Do I understand it right that you're installing a custom application using `helm install` and this error is returned directly by `helm install`? If that's the case, full (verbose) output of it could be helpful to understand if it's this exact issue or something else.

[2021-09-07 19:22] izaac commented on #13666
Rancher version: `v2.6.0`

This is reproducible on the latest Rancher release `v2.6.0`

[2021-09-07 19:37] h0jeZvgoxFepBQ2C commented on #34641
It looks like its not the requests itself, but more a javascript problem...  See here, the pod details take ages to load f.e..

https://user-images.githubusercontent.com/10075/132401015-687a0a7e-a8ea-4294-b8da-fadb3d77dd53.mp4

[2021-09-07 19:39] abhi1693 commented on #34661
@ccittadino-ctic Your issue might be related to mine at https://github.com/rancher/rancher/issues/31638

This was fixed in v2.6.0

[2021-09-07 19:41] andrew-landsverk-win commented on #34187
Yes, helm fails randomly with the following errors, sometimes others I think? To be complete, we run helm from within a docker container from a different server.

[code]

[code]

[2021-09-07 19:41] krouma opened #34664 "[2.6] Error generating self-signed Rancher certificate"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): helm
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): kubeadm 1.21
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: 1.21
- Cluster Type (Local/Downstream): local

**Describe the bug**

On a fresh install, when I try connecting to the ranc

[2021-09-07 19:43] hmike96 opened #34665 "Custom Instance Profile for EKS Managed Node Groups"
**Is your feature request related to a problem? Please describe.**
Currently managed node groups do not allow you to set an Instance Profile when adding them to an EKS cluster in Rancher. This prevents any customizable Instance Profile to be passed in, as Managed Node Groups do not take in Instance Profile configuration from Launch Templates as specified [here](https://docs.aws.amazon.com/eks/late

[2021-09-07 20:22] snasovich commented on #13666
@izaac , this is expected as neither backend change PR is not merged in yet and necessary UI change is in "next up".

[2021-09-07 21:02] davidnuzik commented on #13666
@snasovich Sowmya asked QA to try to reproduce this - I do not know specifically why but this is why Izaac mentioned that.

[2021-09-07 21:44] anupama2501 commented on #34639
Reproduced this on v2.5.8 to v2.6.0 rancher server.

- Created a downstream rke1 cluster on v2.5.8
- Create a few wokrloads with port ClusterIP, Nodeport, Hostport
- Created ingress for each of the workload
- Upgraded from v2.5.8 to v2.6.0 rancher version.
- Workloads have ports `Do not create a service` status
<img width="500" alt="Screen Shot 2021-09-07 at 2 39 13 PM" src="https://user-images.gi

[2021-09-07 23:20] nickgerace commented on #34330
### Result of the Targeted Design Meeting - 07 Sep 2021
The uninstall script will keep CRD charts for now, which means its design is unchanged. This consensus emerged due to the following:

- The `post-delete-hook` script has worked with general usage in the past.
- If the CRD charts are uninstalled, then you may have to track _other_ resources that need to be deleted after that (@kinarashah).
  -

[2021-09-07 23:35] ryansann commented on #34592
Testing steps:

Start Rancher v2.6.0 (version without this change)
Create a standard user, check the "Configure Catalogs" builtin role
Add new user as a member to a cluster (local or downstream)
Log in as user and go to Apps & Marketplace > Chart Repositories in the cluster
Note that chart repositories cannot be modified in any way
Upgrade to this PR
Refresh browser, user can modify chart reposito

[2021-09-07 23:44] ryansann commented on #34592
This issue needs to be backported to 2.5

[2021-09-07 23:48] ryansann opened #34669 "[2.5] Backport Missing Permissions in catalogs-manage GlobalRole"
Issue:
- https://github.com/rancher/rancher/issues/34592

[2021-09-07 23:55] ryansann commented on #34669
Testing is the same as [here](https://github.com/rancher/rancher/issues/34592#issuecomment-914694796) though the UI steps are slightly different.

[2021-09-08 00:04] snasovich opened #34671 "helm upgrade/delete intermittently fails with errors like "unable to create impersonator account: error setting up impersonation for user u-xxxxx..Operation cannot be fulfilled on clusterroles.rbac.authorization.k8s.io \"cattle-impersonation-u-8j72f\": the object has been modified; please apply your changes to the latest version and try again.""
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): **?**
- Proxy/Cert Details: **?**

**Information about the Cluster**
- Kubernetes version: **?**
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): **?**

**Describe the bug**

Running `he

[2021-09-08 00:07] snasovich commented on #34187
@andrew-landsverk-win , thank you additional details. At a glance this seems to be a separate issue, albeit with a very similar error message. I've created a separate issue https://github.com/rancher/rancher/issues/34671 that we will work on. I would appreciate it if you could add any extra information on your environment or reproduction steps (e.g. helm charts being installed) there.

[2021-09-08 00:40] thedadams commented on #34565
Anupama gave me access to the Rancher instance used to create this issue and the cluster in question was provisioned correctly. Since I looked at it a week after the cluster was created, I am not sure when the cluster provisioning completed successfully.

[2021-09-08 02:47] snasovich commented on #34671
@andrew-landsverk-win , so far I'm not successful with reproducing it. Tried installing/uninstalling couple charts a few times via Helm v3.6.0 on a single-cluster RKE2 downstream cluster - all successful.
How often do you get these errors? Also, I'm wondering if you could share helm charts you're trying to install as well as details on your downstream cluster and k8s versions on both the downstrea

[2021-09-08 03:09] arusso commented on #12821
This is still an issue, please do not close this as stale.

[2021-09-08 04:59] rayandas commented on #34017
Jaeger has released 1.26 yesterday. https://www.jaegertracing.io/docs/1.26/

[2021-09-08 06:03] Napsty opened #34673 "[2.6.0] Ingress not working"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Docker install
- Proxy/Cert Details: default (Rancher self-signed)

**Information about the Cluster**
- Kubernetes version: 1.20.10 and 1.21.4
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provi

[2021-09-08 07:38] Napsty commented on #34673
Setting up the cluster a 5th time is a charm.
After a new cluster with Kubernetes 1.21.4 was created, the same Ingress issue could be reproduced.
I rebooted each cluster node and after this, Ingress finally worked.

[2021-09-08 08:16] abhi1693 commented on #34640
This would be a great feature to have

[2021-09-08 10:43] imilchev opened #34676 "Rancher-agent cannot provision custom node"
**Rancher Server Setup**
- Rancher version: v2.6.0
- Installation option (Docker install/Helm Chart): Docker
- Proxy/Cert Details: We use CloudFlare and rancher is running with `--no-cacert` argument

**Information about the Cluster**
- Kubernetes version: v1.21.4-rancher1-1
- Cluster Type (Local/Downstream):
   - Custom cluster running on a VPS

**Describe the bug**
Trying to provision a node tha

[2021-09-08 12:16] ItsReddi commented on #28359
I am unsure if we hitted that, thought it would be some new rancher 2.6 bug.
In our case it was even worse. The node, went down completely. (I think because swap is disabled on our cluster nodes and somehow we got a kernel panic? can only expect, since its not reproduced easily)

BUT:
The node was not out of memory it only used ~20% of the memory. But system logs were showing, kernel was killing p

[2021-09-08 12:44] adrianovieira commented on #29982
Hi

[2021-09-08 12:47] andrew-landsverk-win commented on #34671
Some details: Downstream cluster is microk8s (3 nodes, k8s 1.21.3), I am not using the authorized cluster endpoint, we are calling rancher directly using the rancher API to create the kubeconfig. Then using that kubeconfig with helm and kubectl commands via CI pipelines.

Helm version is 3.6.2 and the error occurs when trying to upgrade or delete a chart, I'm not sure about install as I haven't te

[2021-09-08 13:05] altairo2087 opened #34677 "[2.6] Can't manage helm apps"
**Rancher Server Setup**
- Rancher version: 2.6.0
- Installation option (Docker install/Helm Chart): Helm
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE1, v1.20.6
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: v1.20.6, v1.21.4
- Cluster Type (Local/Downstream):  Local
   - If downstream, what type of cluster? (Custom/Imported or

[2021-09-08 13:39] ccittadino-ctic commented on #34661
@abhi1693 Can you help me determine if I'm seeing the same issue as you? I'm trying to find logs that would narrow it down but unsure of where exactly they _should_ be

[2021-09-08 13:59] janesser commented on #34287
besides the "cattle-system/rancher" (kind: issuer) other ressources to take into considerations?

[2021-09-08 14:29] pgdagenais commented on #23018
/remove stale

[2021-09-08 14:42] ThoSap commented on #30959
Had the same issue today with Rancher `v2.5.9` and RKE `v1.19.14-rancher1-1`, VMware vSphere hosted.
We did not reboot the etcd/Control Plane, it fixed itself after ~10 minutes...

[2021-09-08 14:51] fthoma-coding opened #34678 "Please bring back deployment scaling over UI"
I have upgraded my rancher installation to version 2.6 and now, the cluster explorer is the only ui that is available. I think this is a step in the right direction and I´m OK with the new version.

But the only thing what I´m realy miss I the way to scale my deployment over the ui. At the cluster manager, every deployment have a scaling up/down button to manage the deployment. We use this very of

[2021-09-08 15:51] ekristen commented on #28221
Still relevant

[2021-09-08 15:58] brendarearden commented on #34663
Use the `kubectl get --ignore-not-found=true deploy istio-pilot -n istio-system -o=jsonpath='{$.spec.template.spec.containers[*].image}'` to get the istio version from the istio-pilot deploment, and then see if it is less than 1.6. If you don't want to do a less than, you can specifically check if it is 1.3, 1.4 or 1.5 to confirm if it is v1. This is the same code we are using in our installer ima