[2019-03-09 18:16] JohnDavidLarsen commented on #17417
This seems to be an issue with the choice of docker install url in the node templates/engine options.
Latest (get.docker.com) works. Others are hit and miss. 18.06 nor 18.09 work.

[2019-03-09 18:20] JohnDavidLarsen commented on #17417
17.06 works fine.

[2019-03-09 18:21] sangeethah commented on #18720
With this change , we do NOT  attempt to delete the ResourceQuota that rancher server is not aware of (that was not created from rancher server).

Tested the following use case in RKE cluster.
Set up a GKE cluster in v1.12.5-gke.10
Add a project P1 with resource quota pods  - project limit set to 50 and NS limit set to 10.
Create a namespace in this project.
From remote kubectl , create a resource

[2019-03-09 18:22] sowmyav27 commented on #18737
verified on `rancher:master`. Azure and VMware node templates are tagged to correct cloud credentials.
<img width="381" alt="Screen Shot 2019-03-09 at 10 19 46 AM" src="https://user-images.githubusercontent.com/26032343/54075512-43e14180-4255-11e9-887a-46fe432f2f1a.png">
<img width="464" alt="Screen Shot 2019-03-09 at 10 19 55 AM" src="https://user-images.githubusercontent.com/26032343/54075514-45

[2019-03-09 18:25] #18720 closed

[2019-03-09 18:37] JohnDavidLarsen commented on #17417
Update. 17.06 worked but blank failed later in kubernetes registration.

[2019-03-09 19:02] ts-mini commented on #18522
I've seen the same behavior - but I'm not at that scale of pods/project.  The following screen shot is loading times of 104 Workloads across a dozen or so namespaces.  Have seen the similar performance across all versions of rancher, but running the latest now (2.1.7)

I know this doesn't provide a ton of useful information, but 48 seconds for 52KB of data is nuts

![image](https://user-images.git

[2019-03-09 19:46] davidnuzik commented on #18460
Version: Master 2.2 (3/9/19) 365fde6ba442
**This is working but I must refresh the page in order to see the Delete button grayed out / delete removed from function menu.** I also must refresh the page after the cluster has been deleted in order to get my Delete button / delete option on menu back:

Screenshot shows the issue. My cluster has been deleted (fully) for a while and I still don't have t

[2019-03-09 19:53] davidnuzik commented on #18460
If I am quick enough (wait a few seconds so reasonable) I can still delete the cluster driver in the UI. My guess is this is still a backend problem?

[2019-03-09 20:02] superseb commented on #17417
Scripts from install-docker without a patch version point to the latest available, they may not be available on RancherOS. On RancherOS v1.5.1 you can use:

[code]

That means `https://releases.rancher.com/install-docker/18.06.2.sh` for the latest Docker 18.06 available. Please share the install URL and AMI used to investigate.

[2019-03-09 20:22] JohnDavidLarsen commented on #17417
The default in rancher:v2.16 and 2.2.0rc don't work
ami-0fe86cb8d9d8e035c us-east-1
https://releases.rancher.com/install-docker/18.06.sh

[2019-03-09 20:22] #18460 closed

[2019-03-09 20:30] davidnuzik opened #18761 "cluster driver nil error when removing cluster driver of provisioning cluster"
Version: Master 2.2 (3/9/19) 365fde6ba442
Closely related to issue #18460

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add a cluster driver via the UI (you can use the instructions [here](https://github.com/rancher/ui-cluster-driver-skel/tree/google-gke-example) to add the google gke example)
- Laun

[2019-03-09 20:38] davidnuzik opened #18762 "Delete button and menu item do not become disabled unless manually refresh UI when cluster driver in use"
Version: Master 2.2 (3/9/19) 365fde6ba442
Closely related to issue rancher/rancher#18761

Related to rancher/rancher#18460

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add a cluster driver via the UI (you can use the instructions [here](https://github.com/rancher/ui-cluster-driver-skel/tree/google-g

[2019-03-09 20:39] steebchen opened #18763 "More flexible pipeline configuration"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement/feature request

**Problem**
A pipeline can be deployed from a simple .rancher-pipeline.yml file in a repository.
However, if there is a separate production cluster which should only deploy from specific branches (like `stable`) or tags, it currently seems impossible to dynamically set on which cluster to depl

[2019-03-09 21:19] mrigesh commented on #17417
@superseb Can we put this in documentation somewhere?

[2019-03-09 22:17] sangeethah opened #18764 "UI - Change field name for snapshot enable to be more descriptive."
Rancher server version - Build from master

"snapshot enable" field name is currently "Enabled" .  Can it be changed to "Snapshot Enabled"?
<img width="892" alt="Screen Shot 2019-03-09 at 2 14 59 PM" src="https://user-images.githubusercontent.com/4266958/54078022-d8f43280-4275-11e9-99e3-37fd4da443db.png">

[2019-03-10 01:23] ainiml commented on #18733
Can confirm, v2.1. has this issue

[2019-03-10 03:00] sangeethah opened #18766 "When recurring/manual snapshots are taken, logs indicate that snapshots are triggered twice for the same set of etcd nodes."
Rancher server version - Build from master - Mar 9 - 2ae5225d

Steps to reproduce the problem:
Create a 1 node (all roles) DO cluster.
Scaled up to 3 nodes.
Changed `Snapshot Creation Period ` -1hours and `Snapshot Retention Count` -3 .
Did 1 manual snapshot .

Observe that the snaphots are taken every hour which happens as expected.

Rancher server logs indicate that the snapshots are getting act

[2019-03-10 03:29] sangeethah commented on #18647
Tested with Rancher server version - Build from master - Mar 9 - 2ae5225

There is option in "Edit/Add Cluster" view to be able to enable/disable snapshots.
Snapshots are enabled by default.

When snapshot is enabled , snapshots get taken as per "Snapshot Creation Period" specified. If manual backup is taken , then the next snapshot will be taken after "Snapshot Creation Period" from the time this

[2019-03-10 03:29] #18647 closed

[2019-03-10 03:40] sowmyav27 commented on #18757
Verified on `rancher:master` (03/09/2019).
Steps taken:

1. Create an Amazon EC2 rke cluster (1 etcd,1 control plane/1 worker node)
2. An automatic backup will be created for the cluster.(Backup#1)
3. Add project/namespace and take backup(Backup#2).
4. Scale up the number of etcd nodes by 1.
5. Add project/namespace and take a backup (Backup#3)
6. Now restore from (Backup#1)

No error is seen on t

[2019-03-10 03:40] #18757 closed

[2019-03-10 04:28] soumyalj commented on #18548
Tested with fresh install of master build from March 8th
[code]

Tested on an upgrade from v2.1.7 to master.
1. Created cluster in v2.1.7 with 3 nodes(N1, N2, N3) having set snapshot creation as 5m and retention time as 20m
2. Upgrade to master. After upgrade, the legacy snapshots were still functional.
3. Powered OFF two nodes N2 and N3, and waited for 20m.
The snapshots in node 1 were deleted .

[2019-03-10 05:24] mrigesh opened #18767 "ConfigMap removed on kubernetes version upgrade"
Kubernetes Old Version : v1.11.6
Kubernetes New Version : v1.13.4

Rancher Version: v2.1.7
Rancher Old Version: v2.1.5

After upgrade, ConfigMap for `nginx-ingress-controller` is empty.

[2019-03-10 09:38] gyliu513 commented on #18725
@Oats87 so you mean that the `Cloud Provider` is used to provide integration with storage/LB etc? Still not quite clear about this, can you please show more detail or does there are any document that I can refer? Thanks.

[2019-03-10 19:10] daxmc99 commented on #17027
Steps taken to validate:
1. `docker run -d --restart=unless-stopped \ -p 80:80 -p 443:443 \ -e AUDIT_LEVEL=3 \ rancher/rancher:master --add-local=true` used to create the cluster
2. Got kubeconfig from local cluster
3.  Ran `kubectl create ns test`
[code]
4. Watched ns test
[code]
5. Ran `kubectl delete namespace test`
6. Observed via `watch` successful namespace deletion
[code]

[2019-03-10 22:27] ainiml opened #18770 "v2.1.7 - Very high cpu usage after node has been added"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Run ansible playbook https://github.com/TheShellLand/antsable/blob/master/playbooks/rancher2.yml

**Result:**
Super high cpu usage

[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/serv

[2019-03-11 00:11] willmao commented on #17177
@loganhz

according to the k8s doc below

``
Kube-Reserved (proposed) - Compute resources reserved for Kubernetes components such as the docker daemon, kubelet, kube proxy, etc.
``

the cgroup for kube-reserved is not used only for the kubelet process, but also other kubernetes components like docker daemon, kube proxy and nginx-proxy set up by rke.

Does rke use the `kube-reserved-cgroup` paramet

[2019-03-11 01:32] gyliu513 opened #18771 "Any plan to migrate to cluster-api"
*Describe your issue here*
I found that the cloud provider in Rancher are still using cloud providers from k8s at https://github.com/kubernetes/kubernetes/tree/master/cluster , but this is now deprecated. Any plan to migrate to [cluster-api](https://github.com/kubernetes-sigs/cluster-api) for cloud providers?

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v2.2.0-rc3` UI: `v2.2.4` |
|Route

[2019-03-11 04:04] gitlawr commented on #18753
To deploy workloads from private registries by yaml file, you need to configure imagepullsecrets in the yaml spec. If you are using the internal registry, use the name `pipeline-docker-registry`, take a look at the example here: https://github.com/rancher/pipeline-example-go/blob/master/deployment.yaml#L30

[2019-03-11 05:13] gyliu513 opened #18772 "[Question] Does Rancher Server Support HA?"
*Describe your issue here*

I was following documents at https://rancher.com/docs/rancher/v2.x/en/quick-start-guide/deployment/quickstart-manual-setup/#2-install-rancher to install Rancher, but there is no steps for how to set up a HA rancher server.

So if the node which host the rancher server goes down, I will lose the capability of managing all of the clusters in Rancher.

---
| Useful | Info

[2019-03-11 05:21] codejamninja commented on #13668
I'm having the same problem as @akkie, but I have important data, so I can't just remove my cluster.

[2019-03-11 05:22] sangeethah commented on #18707
Tested with latest build from master - 5badc15e

Steps to reproduce the problem:
As global admin user , create a cluster - "mytest1" and "mytest2".
Add user - "test1" to "Default" project of "mytest1" as "read-only" member.
Add user - "test1" to "Default" project of "mytest2" as "read-only" member.

Log in as test1.
Create a MCAPP with target project as "Default"/"mytest1" and   "Default"/"mytest2

[2019-03-11 05:24] soumyalj commented on #18709
Tested with master build from March 10th.
Steps:
1.Create a 3 node custom cluster with all 3 roles in each with S3 backup configuration
2. Create few workloads/ingress
3. Create few backups B1/B2/B3 and check these backups are in S3
4. Power off all 3 nodes, wait for the cluster to become "Unavailable"
5. Add 3 new nodes with all 3 roles to the cluster
6. Delete the nodes powered OFF
7. Perform a

[2019-03-11 05:27] sangeethah opened #18774 "MCAPP Creation App succeeds when user does not have sufficient roles on the target projects."
Tested with latest build from master - 5badc15

Steps to reproduce the problem:
As global admin user , create a cluster - "mytest1" and "mytest2".
Add user - "test1" to "Default" project of "mytest1" as "read-only" member.
Add user - "test1" to "Default" project of "mytest2" as "read-only" member.

Log in as test1.
Create a MCAPP with target project as "Default"/"mytest1" and "Default"/"mytest2".

[2019-03-11 05:34] mrajashree commented on #18609
Tested with v2.2.0-rc13
1. Roles is being handled as mandatory by passing project-member by default
2. The -h option explains why by displaying the following text as expected
[code]

[2019-03-11 05:50] sangeethah commented on #18734
@bmdepesa Wait for the fix for issues - https://github.com/rancher/rancher/issues/18774 , before you validate this issue .

[2019-03-11 05:56] scofieldpeng opened #18775 "etcd restore"
**What kind of request is this (question/bug/enhancement/feature request):**

**Steps to reproduce (least amount of steps as possible):**

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):
- Installation option (single install/HA):

**Cluster information**
- Cluster type

[2019-03-11 05:56] #18775 closed

[2019-03-11 06:00] scofieldpeng opened #18776 "start rancher server failed for etcd can not restore"
I upgrade to v2.1.6 from v2.1.5 in my home cluster, after 2 days later, i see the rancher server is down and can not start now,so i switch to v2.1.7 but get the same result. below is the log of snapshot, now the k8s cluster is working now but i can not operate them for the rancher server is down, is there anything i can do? tks a million:-)

** log snapshot :**
[code]

** rancher server informatio

[2019-03-11 08:03] rohithsharmaks opened #18777 "Is there any option to configure EKS cluster spot pricing ?"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

I am using Rancher for bringing up EKS cluster and sometimes install k8s cluster on AmazonEC2 instances. AWS supports spot pricing. But from Rancher API specs, I didn't see any configs to enable spot pricing!

Does Rancher support configuring spot pricing for either AWS services or k8s cluster installed on EC2 i

[2019-03-11 08:36] superseb commented on #17417
Just verified both `18.06.sh` and `18.09.sh` on RancherOS v1.5.1, please try again and let me know if it works.

I added https://github.com/rancher/docs/issues/1228 for the docs

[2019-03-11 08:37] superseb commented on #18772
See the note on top of the quickstart:

[code]

Which points to https://rancher.com/docs/rancher/v2.x/en/installation/

[2019-03-11 08:37] #18772 closed

[2019-03-11 09:56] rootwuj opened #18779 "Delete the pipeline workloads, run the pipeline again will report "Jenkins pod not found"."
**What kind of request is this (question/bug/enhancement/feature request):** enhancement

**Steps to reproduce (least amount of steps as possible):**

1. Enable and run the pipeline to make `docker-registry`, `jenkins`, `minio` running.
[code]
2. Manually delete workloads: `docker-registry`, `jenkins`, `minio`.
[code]
3. Run the pipeline again, or disable the pipeline and then re-enable it.

**Res

[2019-03-11 10:07] gitlawr commented on #18779
Jenkins works as a system resource and we don't expect users to delete it. We used to try creating any necessary resources when a build is triggered, but that involves extra API calls to the API server.

To recover from this failure state users need to remove the pipeline dedicated namespace now.

I would consider it as a wont-fix issue, but let me know if it doesn't make sense.

[2019-03-11 10:21] #18779 closed

[2019-03-11 10:32] gitlawr opened #18780 "rancher-load-images.sh fails when using private Harbor registry"
**Rancher version**
v2.2.0-rc3

**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Set up a Harbor registry
2. Follow air-gapped install instructions as the followings:
[code]
**Result:**
[code]

**Other details that may be helpful:**
1. Harbor requires a `project` prefix for the repository, therefore <RE

[2019-03-11 11:33] lonewulf opened #18781 "Upgrading to 1.13.4 from 1.11.6 causes nginx ingress and calico to fully restart without control"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

Install Rancher 2.1.6
Deploy a custom cluster with 1.11.6
Update Rancher to 2.1.7
Upgrade previously installed cluster to 1.13.4

**Result:**

During addon phase the nginx ingress deployment is updated and so is the canal one.
The nginx deployment has:
  up

[2019-03-11 11:42] exocode opened #18782 "Question file does not update if dropdown changed"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
- load an catalog app with a dropdown
- change dropdown values

**Result:**
It should change fields, but it doesn't

**Other details that may be helpful:**
questions.yml
[code]

![2019-03-11 12 35 44](https://user-images.githubusercontent.com/1597621/5412156

[2019-03-11 12:09] volatilemolotov opened #18783 "10.43.0.1:443 no route to host"
What kind of request is this: BUG

Steps to reproduce: Deploy fluentd daemonset which connects  to 10.43.0.1:443 (kubernetes service)

Result: No route to host - connect(2) for "10.43.0.1" port 443 (Errno::EHOSTUNREACH)

Other details that may be helpful: using RKE (deployed CUSTOM cluster from rancher)

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or

[2019-03-11 12:35] paulobezerr opened #18784 "Add notifier for Google Chats"
Ability to create notifier for GChats.

This is a manual to create a incoming webhook in GChats: https://developers.google.com/hangouts/chat/how-tos/webhooks

When try to test, we always receive this message: **http status code is 400, not include in the 2xx success HTTP status codes**.

Maybe we send a body that is not compatible with GChats.

[2019-03-11 13:15] hrbu commented on #16456
Facing the same issue. Any news here?

[2019-03-11 13:16] santascsi commented on #16918
I encountered the same issue when changing a cluster setting and keeping the "edit cluster" window open for too long. As a result, 2 of my 3 etcd/control nodes were listed as unable to contact.

Any following change to the cluster was only carried out on the first etcd/control node and did not carry on past the two "unreachable" nodes.

I cordoned, drained and rebooted the nodes each individually

[2019-03-11 13:25] mrigesh commented on #17417
@superseb Thanks, that worked.
I might have been using v1.5.0 yesterday, I suppose.

[2019-03-11 13:25] mrigesh commented on #17417
/close

[2019-03-11 13:30] #17417 closed

[2019-03-11 13:47] steebchen commented on #18753
I have specified the pipeline-docker-registry secret in my deployment.yaml from the start:

[code]

[2019-03-11 13:52] JohnDavidLarsen commented on #17417
I'm still a bit bothered that the default nod template in rancher:v2.1.7 and 2.2.0rc3 fails if you use a rancheros AMI.  Or was this changed/fixed?  I haven't had a chance to test today.

[2019-03-11 15:05] ekristen commented on #18664
It seems like based on Google, this is an error with how tiller is started. For some reason it does not have the correct permissions to access the namespace it's requesting.

[2019-03-11 15:35] RalicIvan opened #18786 "Controller Manager and Scheduler stop working"
We have the same problem for 2 weeks now and haven't managed to fixed it even after a few questions on stackoverflow and rancher forum.

Around 2 weeks ago we had a memory overflow by one of our PODs and after that Controller Manager and Scheduler are not working properly.

`kube-controller-manager` is impossible to restart using `docker restart` command on any node, so the only way we managed to

[2019-03-11 15:47] ekristen commented on #18664
Ok I found the root cause.

If you deactivate the default admin, this fails to deploy because it uses a token generated by the default user.

The default user should be able to be deactivated or deleted ... so should there be a system user that gets created that can't be modified by the end user?

[2019-03-11 15:52] ekristen opened #18787 "Cannot deploy cluster monitoring feature if the creator of cluster has been removed or deactivated"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. Create second admin account
2. Login with second admin account
3. Deactivate default admin account
4. Enable cluster monitoring

**Result:**

This is the root cause of issue #18664, but I thought it warranted a specific bug report itself.

The charts wil

[2019-03-11 16:15] guilhem opened #18788 "rancher kubectl cannot be used with plugins"
**What kind of request is this (question/bug/enhancement/feature request):**

bug

**Steps to reproduce (least amount of steps as possible):**

install a kubectl plugin (like [node-admin](https://github.com/danisla/kubefunc/tree/master/node-admin)

**Result:**

[code]

[2019-03-11 16:15] patrick0057 commented on #17382
Downstream cluster type is custom.

[2019-03-11 16:17] davidnuzik commented on #18731
Version: Master 2.2 (3/11/19) 540d086476c9
Confirmed issue. I cannot create an Azure or vSphere node template unless I supply a Cloud Credential. If I attempt to do so, I get an appropriate error in the UI:
`Validation failed in API: Cloud Credential must be set is required`

API returns:
`{"baseType":"error","code":"MissingRequired","message":"Cloud Credential must be set","status":422,"type":"er

[2019-03-11 16:17] #18731 closed

[2019-03-11 16:20] #17027 closed

[2019-03-11 16:23] cloudnautique opened #18789 "Finalizers for clusteralertgroups not getting cleaned up"
Rancher/rancher:v2.2.0-rc3
3 node HA cluster

Add a custom cluster and provision some workloads. Things work.

Delete all of the nodes of the cluster. (Wait until they are all destroyed)
Delete the cluster from Rancher UI.

In the local cluster run:
`kubectl get ns`

You'll see the cluster namespace stuck in terminating.

Go to etcd node:
`ETCDCTL_API=3 etcdctl --cacert=${ETCDCTL_CACERT} --endpoin

[2019-03-11 16:34] cloudnautique commented on #18789
`projectalertrules` has the same behavior. If you remove the finalizers, Rancher can clean up the NS
[code]

[2019-03-11 16:45] cjellick commented on #18789
I think there is a handler we have in the mgmt plane that cleans up abandoned finalizers. maybe you need to add those there?

[2019-03-11 16:53] kgignatyev-inspur commented on #18646
Not sure what formatting will help, those are outputs from debugger,

(cmd/app.go:262 ) collection, err := c.ProjectClient.App.List(defaultListOpts(ctx))

produces those outputs, the call to server seems to be working fine, no error, but then parsing of that output seem to fail on client side.

[2019-03-11 16:58] davidnuzik commented on #18730
Version: Master 2.2 (3/11/19) HA Setup
Re-opening. All issues are resolved except for one. I unchecked this in the issue description:

- **Add** Global DNS Entry
Shows "Save" button (%saveCancel.edit%) should be "Create" button (%saveCancel.create%)

It is still a "Save" button. It should be a "Create" button when add a new GDNS entry.

[2019-03-11 17:04] davidnuzik commented on #18502
Version: Master 2.2 (3/11/19) HA Setup
Re-opening issue. This is fixed except for that we have lost our darker no action / normal state of the text box. I think this might be because of https://github.com/rancher/ui/pull/2740/commits/644b242a23bd808b657e85428cdf9bdba198732e#diff-01727b98cb1adb7bf2bf4d8527959ea4R83

Upon no action the text box should look like:
![image](https://user-images.githubus

[2019-03-11 17:04] soumyalj opened #18791 "Add message to suggest users to perform a restore after new nodes are added to a cluster with all nodes powered off"
Rancher version: Master build from March 10th

Tested with master build from March 10th.
Steps:
1.Create a 3 node custom cluster with all 3 roles in each with S3 backup configuration
2. Create few workloads/ingress
3. Create few backups B1/B2/B3 and check these backups are in S3
4. Power off all 3 nodes, wait for the cluster to become "Unavailable"
5. Add 3 new nodes with all 3 roles to the cluste

[2019-03-11 17:05] moelsayed commented on #18548
@soumyalj The fix for this issue is in the `rke-tools` image. This will require the user to upgrade the cluster following the rancher server upgrade to get the latest image with the fix.

[2019-03-11 17:06] soumyalj commented on #18709
Closing this as the main issue is fixed. The related issue is tracked here https://github.com/rancher/rancher/issues/18791

[2019-03-11 17:06] #18709 closed

[2019-03-11 17:11] kgignatyev-inspur commented on #18646
anyway, here is the chart [charts.zip](https://github.com/rancher/rancher/files/2953395/charts.zip)  attached I am trying to deploy with command

rancher app install ./src/charts/bitnami/nginx

and that causes rancher CLI to stop parsing server output and and show list of applications, desirable behavior: able to deploy local chart per documentation and CLI does not fail with fatal errors

[2019-03-11 17:14] alena1108 commented on #18548
@soumyalj please close the issue after ensuring that it fixed on the clusters that are upgraded to the latest version of 1.12.x or 1.13.x

[2019-03-11 17:16] #18609 closed

[2019-03-11 17:18] davidnuzik opened #18792 "Dark Theme UI: Improve contrast of "Global" on Global Menu by making BG darker"
Version: Master 2.2 (3/11/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Enable the dark theme
- Open the Global Menu

**Result:**
Notice the text to background contrast is poor. Recommend making the bg behind the text darker so you can more easily read "Global" when the dark theme is enabled.
![i

[2019-03-11 17:25] sangeethah opened #18793 "When snapshot is disabled , We are not allowed to Restore from existing backups / take manual back ups."
Rancher server version - Build from master - Mar 9 - 2ae5225

Steps to reproduce the problem:
Create a DO cluster.
Snapshots are enabled by default.
Edit cluster and disable snapshot.

Currently when snapshot is disabled , we are NOT allowed to perform manual back up. "Backup Now"  option shown in UI for the cluster.  API UI for the cluster also shows "backupEtcd" action as greyed out .

We are NO

[2019-03-11 17:52] mrajashree commented on #17981
I'm able to add members with different access types while creating the mcapp. But add-member command is failing with the following error
[code]
Is there anything wrong with my command

[2019-03-11 17:53] davidnuzik commented on #17038
Version: Master 2.2 (3/11/19) HA Setup
Confirmed issue.

- Create a cluster with 10 nodes.
- Enable monitoring.
- Notice is in detail mode when expand any metrics section on the Cluster page.
- Leave the page open, on another page increase node pool by 1 so we get to 11 nodes.
- Once node is up and we are monitoring it, close the panes and open again. They are all now "Summary" and there was no ne

[2019-03-11 17:53] #17038 closed

[2019-03-11 17:56] alena1108 commented on #18754
Yes, it is mostly because it is not easy to convert. Plus we usually try to avoid any auto updates for a cluster.

We do have a way to convert from an old snapshot setting to the new ones. @westlywright can you confirm

[2019-03-11 17:58] alena1108 commented on #18490
Closing as a duplicate of https://github.com/rancher/rancher/issues/18647

[2019-03-11 17:58] #18490 closed

[2019-03-11 18:13] davidnuzik opened #18794 "UI: example kontainer driver cluster does not show up when deactivate and then activate"
Version: Master 2.2 (3/11/19) HA Setup

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add the custom example [kontainer driver](https://github.com/rancher-plugins/kontainer-engine-driver-example/releases) with the [UI skeleton](https://github.com/rancher/ui-cluster-driver-skel/tree/google-gke-example)

[2019-03-11 18:25] davidnuzik commented on #18373
Version: Master 2.2 (3/11/19) HA Setup
This area has been redesigned and thus this is no longer an issue. I am closing this issue.
![image](https://user-images.githubusercontent.com/45179589/54147868-56dc4900-43f0-11e9-87b5-c9ba9bff3544.png)

[2019-03-11 18:25] #18373 closed

[2019-03-11 18:28] tfiduccia commented on #15396
Version - master 3/11
Verified fixed

[2019-03-11 18:28] #15396 closed

[2019-03-11 18:33] sangeethah commented on #18774
Tested with latest build from master - 803c151a

Steps to reproduce the problem:
As global admin user , create a cluster - "mytest1" and "mytest2".
Add user - "test1" to "Default" project of "mytest1" as "read-only" member.
Add user - "test1" to "Default" project of "mytest2" as "read-only" member.

Log in as test1.
Create a MCAPP with target project as "Default"/"mytest1" and "Default"/"mytest2".

[2019-03-11 18:33] #18774 closed

[2019-03-11 18:36] sangeethah commented on #18707
Tested with latest build from master - 803c151a

As global admin user , create a cluster - "santestdo" and "santestdo2".
Add user - "test1" to "Default" project of "santestdo" as "read-only" member.
Add user - "test1" to "Default" project of "santestdo2" as "read-only" member.

Log in as test1.
Create a MCAPP with target project as "Default"/"santestdo" and "Default"/"santestdo2". (role gets defau

[2019-03-11 18:36] #18707 closed

[2019-03-11 18:48] tfiduccia commented on #17082
Version - master 3/11
Verified fixed

[2019-03-11 18:48] #17082 closed

[2019-03-11 18:57] westlywright commented on #18754
@alena1108 I misunderstood when we talked offline, we do not offer a way at the cluster level to upgrade just this setting, the only time this setting is changed is when the user opt's into upgrading the cluster. I think what sangeetha is asking is that we showcase some kind of warning and possible action if the user is at the cluster level and just wants to change this particular cluster setting

[2019-03-11 19:03] superseb commented on #18681
Fixed in https://github.com/rancher/rancher/pull/18574

[2019-03-11 19:16] westlywright commented on #18794
@davidnuzik I have attempted to reproduce this numerous times without luck. I'm not sure this would be a UI issue if I could reproduce it. The ui loads all the drivers and filters those on the active state. Additionally we check to make sure that the schema exists in the api, in this case `exampleEngineConfig`, if it can't load that schema we won't display that choice because bad things would. Fro

[2019-03-11 19:30] tylerstapler-wf commented on #17164
@deniseschannon @jambajaar viewing the error messages on the workloads page is definitely more of a workaround than solving our core problem.

We would like the ability to specify RBAC for answers so we can restrict access to them.

I think that @alena1108's solution of splitting the answers into their own resource would be our preferred option long term.

If that's not possible in the near future

[2019-03-11 19:32] sangeethah commented on #18766
The behavior noted in this issue is a recent regression introduced. We had not seen this issue when testing with master builds from Mar 6th.

[2019-03-11 19:48] davidnuzik commented on #18794
@westlywright Yes I'll investigate further per your comments. I have reproduced numerous times on latest master I will look into exampleEngineConfig.

[2019-03-11 19:49] ekristen opened #18796 "Warning - Norman Generic Controller - too old resource version"
**What kind of request is this (question/bug/enhancement/feature request):** question/bug

**Steps to reproduce (least amount of steps as possible):**

Unsure, when I was reviewing the logs, I noticed warnings in the logs.

Everything seems to be operating properly.

Since I'm running an RC release I wanted to bring this up, if it's a non-issue sorry for the noise.

**Result:**

[code]

**Other de

[2019-03-11 19:50] ekristen opened #18797 "Error - streamwatcher/round_trippers - CancelRequest Not Implemented / Client.Timeout"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

Unsure.

**Result:**

Seeing the following logs.

[code]

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI): 2.2.0-rc3
- Installation option (s

[2019-03-11 20:06] davidnuzik commented on #18794
@westlywright I have reproduced several times. Maybe there is something unique/environmental about my set up? (HA setup?) I don't see how this would affect anything but it's possible. I can show you the issue on my set up when you are free. When I test exampleEngineConfig schema still exists each time. You must refresh your browser to see the Example cluster go away from the Add Cluster page.

[2019-03-11 20:09] davidnuzik commented on #18794
Perhaps this still might? be an api issue. `exampleEngineConfig` stays there but I don't see an update to conditions for the kontainerDriver. When I make it active again it is `active: true` but under conditions lastUPdateTime for "Active" type does not change. I still see latest is "Inactive"

[2019-03-11 20:18] kinarashah commented on #17147
Validation commands based on test plan,

- Deploy to single target
`./rancher multiclusterapps install --role cluster-owner grafana mcapp`

- Deploy to multiple targets
`./rancher multiclusterapps install --target c-fq2pd:p-qjct4 --target c-lqqgh:p-r2pgk --role cluster-owner grafana multi`

- Deploy with specific version
`./rancher multiclusterapps install --target c-fq2pd:p-qjct4 --target c-lqqgh

[2019-03-11 20:19] kinarashah commented on #17147
Questions @gitlawr

- I think we should have something like `show-answers` similar to `show-versions`, otherwise user needs to do `ls multiclusterapps` and then find answers.

- Upgrading just the answers doesn't work for me, am I missing something?
`./rancher multiclusterapps upgrade --set adminPassword=bar2 multi` This is allowed from UI/API and creates a new multiclusterapp revision.

- How to

[2019-03-11 20:20] tfiduccia commented on #11280
Version - master 3/11
Verified fixed

[2019-03-11 20:20] #11280 closed

[2019-03-11 20:21] daxmc99 opened #18799 "Test failure on arm64"
[code]
https://drone-pr.rancher.io/rancher/rancher/565/2/2

[2019-03-11 20:27] moelsayed commented on #18766
The fix should resolve the double backup issue. The .part files are a by product of this case. Since you have a relatively large database, the first backup attempt is not completed and it leaves around the temporary dump file.

[2019-03-11 20:31] sangeethah commented on #18766
@moelsayed , After the fix, we should NOT be seeing the .part files anymore correct ?

[2019-03-11 20:33] davidnuzik commented on #18794
I noticed that exampleEngineConfig is NOT listed on /v3/schemas but I can still see it when I refresh `v3/schemas/exampleEngineConfig` @westlywright so this is an API issue probably then? If its listed at `v3/schemas/exampleEngineConfig` is irrelevant if it is NOT listed on `/v3/schemas` ?

[2019-03-11 20:43] Kralor-Guldan commented on #16133
This issue is affecting us as well. Are there any known solutions?

[2019-03-11 20:44] Kralor-Guldan commented on #13304
This issue should not be closed, when /var/lib/docker is symlinked, it breaks logging.

[2019-03-11 20:58] davidnuzik opened #18800 "exampleEngineConfig not listed on /v3/schemas when deactivate then reactivate example kontainer-driver"
Version: Master 2.2 (3/11/19) HA Setup (latest master chart, latest master image)

This bug has UI implications when using a custom cluster driver.

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- In the UI, add the [kontainer-engine-driver-example](https://github.com/rancher-plugins/kontainer-engine-dr

[2019-03-11 20:58] davidnuzik commented on #18794
Closing issue based on discussion with Wes. The fact that exampleEngineConfig is not listed on `/v3/schemas` is an API bug. Yes we can GET `/v3/schemas/exampleEngineConfig` but the issue of this not being listed on `/v3/schemas` is an API issue. I have opened a separate issue to address this problem here: #18800

[2019-03-11 20:58] #18794 closed

[2019-03-11 21:19] cjellick commented on #18760
should we indicate on cluster list page that a cluster is using the old style snapshot and they should switch to new version

[2019-03-11 21:24] cjellick commented on #18755
We probably need to retest air gap bc of this images and more importantly changes to the image list from  ARM

[2019-03-11 21:26] cjellick commented on #18754
we just need to document and put in the release notes

[2019-03-11 21:31] davidnuzik opened #18801 "UI: Tools > Backups (%nav.tools.backups%) should be called Snapshots"
Version: Master 2.2 (3/11/19) HA setup

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- UI calls etcd snapshots in Cluster config but listing under the cluster Tools menu reads as "Backups", not "Snapshots"

**Result:**
We should simply change the name of the etcd backups page listing on Tools menu to "

[2019-03-11 21:34] AdrienKuhn commented on #15778
@LennardWesterveld

I have the exact same issue on Rancher 2.2.0-rc3 with Jenkins Helm package. Escaping the period doesn't work.
Did you find a solution?

[2019-03-11 21:38] alena1108 commented on #17502
@ArgonV

the fix for this issue is done for 2.2 version of rancher; it means it is available in master branch only, and not available in 2.1.x release. If you've done your testing on 2.1.6, could you give it a test on the latest master? `rancher/rancher:master` image.

[2019-03-11 22:12] sowmyav27 opened #18802 "VMware - Cloud Credentials - Credentials are not stored in the key created"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce:**
1. Log into the Rancher UI. Go to Cloud Credentials.
2. Click on Add Cloud Credential.
3. Select Cloud Credential Type: VMware vsphere.
4. Enter the required fields and click on Create.

**Expected Result:**
Cloud credential is successfully created with the details entered be shown under `vmwa

[2019-03-11 22:18] dramich opened #18803 "KE driver schemas shows all fields can be updated"
Master 3/11/19

Currently when looking at `v3/schemas/amazonElasticContainerServiceConfig` all `resourceFields` shows as `update: true`. This is not correct as each driver has it's own list of fields that are actually able to be updated and the schema should reflect this.

UI work will also need to be completed in order to make the cluster edit screen dynamic so a user is not confused by being abl

[2019-03-11 22:33] loganhz commented on #18747
Please test it when `v2.2.0-rc4` is out

[2019-03-11 22:43] bmdepesa opened #18805 "Rotating certificates causes worker node to become unavailable / kubelet not restarted"
rancher/rancher:master-aef0332a 3/11
HA install
k8s 1.13.4 on clusters (did not check other versions)

Rotating certificates on a cluster causes the worker node to become unavailable with message `Kubelet stopped posting node status`.

Kubelet log shows:
[code]

Certificates did get rotated; certs between controlplane/worker are the same.
[code]

`docker ps` shows that `kubelet` on worker node did

[2019-03-11 22:43] prachidamle commented on #17982
@gitlawr I tried on an ha setup and no longer receive the error while creating GlobalDNS entry. However now updating the entry fails for me:

[code]

[2019-03-11 22:45] bmdepesa commented on #18748
rancher/rancher:master -aef0332a 3/11
HA install

* Created cluster
* Rotated certificates
* Certificates are rotated and cluster becomes available.

Related: Worker nodes become unavailable after rotating certs, but certs are rotated: #18805

[2019-03-11 22:45] #18748 closed

[2019-03-11 22:55] loganhz commented on #16518
Please test with RKE v0.2.0-rc9

[2019-03-11 23:10] sangeethah opened #18807 "Manual backup snapshots should not get deleted on account on retention count and recurring snapshot creation time should not get altered based on manual backup taken."
Manual backup snapshots should not get deleted on account on retention count.
Recurring snapshot creation time should not get altered based on manual backup taken.

┆Attachments: <a href="https://rancher.atlassian.net/secure/attachment/10201/Screen+Shot+2019-04-24+at+5.52.54+PM.png">Screen Shot 2019-04-24 at 5.52.54 PM.png</a>

[2019-03-11 23:15] westlywright commented on #18764
In hopes of further clarification the label will now read `Recurring etcd Snapshot Enabled`. Additionally the input has been moved to below the target config settings since these settings apply to both recurring and one-time snapshots.

[2019-03-11 23:17] westlywright commented on #18760
Per discussion with qa the setting should round to the nearest whole hour. 15m -> 1 hour

[2019-03-11 23:21] davidnuzik commented on #18764
Version: Master 2.2 (3/11/19) 540d086476c9
Confirmed issue. The names have changed and been moved downwards below etcd snapshot config options. This makes it more clear these are recurring snapshots per Wes' comment.

![image](https://user-images.githubusercontent.com/45179589/54164391-a5eaa400-4419-11e9-8fdd-3d62c9002892.png)

Smoke tested this area to ensure still working correctly, etc.

[2019-03-11 23:21] #18764 closed

[2019-03-11 23:35] alena1108 opened #18808 "UI: change "Container Default Limit" label to a "Container Default Resource Limit""
As the latter is more descriptive.

[2019-03-11 23:43] dbason commented on #18295
Hi Ahmad
Number of nodes is 13 compute nodes, 1 control plane node, 3 etcd nodes
Namespaces: 29
Projects: 11
Deployments: 709
Pods: 873

[2019-03-11 23:47] sangeethah commented on #18759
Tested with master build - 88ea6d0d

I am still able to see the warnings printed in the rancher server logs when GKE cluster is created :

[code]

[2019-03-11 23:54] loganhz commented on #18759
@orangedeng Can you explain the root cause and why you think the merged PR helps? https://github.com/rancher/rancher/pull/18785

[2019-03-12 00:04] davidnuzik opened #18809 "UI always refreshes when add Namespace on Namespaces page only"
Version: Master 2.2 (3/11/19) 540d086476c9

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Visit Namespaces page for any project
- Add a namespace

**Result:**
Entire UI hard reloads. This doesn't seem to happen elsewhere in the UI.

**Other details that may be helpful:**
Generally is not expected to h

[2019-03-12 00:25] cjellick opened #18810 "test_cloud_credential_delete test failure"
https://drone-pr.rancher.io/rancher/rancher/583/1/2

[code]

[2019-03-12 00:43] cjellick commented on #18743
nothing to test, closing

[2019-03-12 00:43] #18743 closed

[2019-03-12 00:43] cjellick commented on #18267
nothing to test, closing

[2019-03-12 00:43] #18267 closed

[2019-03-12 00:48] soumyalj commented on #18548
Tested with upgrade from v2.1.7 to master.
Case 1:
1. Created cluster with 3 nodes(N1, N2, N3) having set snapshot creation as 1h and retention count as 1 in v2.1.7 with k8s 1.12.6
2. Upgraded cluster to master and K8s to v1.13.4
3. Powered OFF two nodes N2 and N3, and waited for an hour.
4. The snapshot in node 1 was not deleted.

Case 2:
1. Created cluster with 3 nodes(N1, N2, N3) having set sna

[2019-03-12 00:48] #18548 closed

[2019-03-12 00:53] loganhz commented on #18407
Talked to @orangedeng , he has removed it in the log. Please test it in master

[2019-03-12 00:54] orangedeng commented on #18407
This issue has been fixed in https://github.com/rancher/rancher/pull/18543. The master build should be no long logging the password.

[2019-03-12 00:54] gitlawr commented on #17147
2. You should specify template version on upgrade, even it is not changed
[code]

The others are action items:
1. Add `show-answers` command
2. Add upgrade strategy options
3. Error out on invalid version
4. Wait for mcapp `installed` state on upgrade/rollback and add `timeout` option
5. Add `--rollback` option for upgrade to support rollback on failure

[2019-03-12 01:10] orangedeng commented on #18759
@cjellick @loganhz
The node syncer is trying to sync node status with rancher node object and user cluster node object. It will update the update the object when the node status is not equal `https://github.com/rancher/rancher/blob/master/pkg/controllers/user/nodesyncer/nodessyncer.go#L405`.

And when updating the node object, the cluster provisioner controller will enqueue cluster object in `http

[2019-03-12 01:12] gitlawr commented on #18753
Can you go to project-resources-registries and check if the `pipeline-docker-registry` is present

[2019-03-12 01:14] steebchen commented on #18753
Yes, it's there.

![Selection_999(1114)](https://user-images.githubusercontent.com/5013932/54167941-9b0d2f00-446c-11e9-91d0-ab9562e5c03c.jpg)

[2019-03-12 01:22] gitlawr commented on #18753
Are there any chances that the registry pod gets re-created? Its data is not persistent by default: https://rancher.com/docs/rancher/v2.x/en/tools/pipelines/configurations/#4-configuring-persistent-data-for-pipeline-components

[2019-03-12 01:40] davidnuzik opened #18812 "Monitoring UI: When adding nodes mouse hover on wheel shows undefined"
Version: Master 2.2 (3/11/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Enable monitoring. Wait for it to be fully ready.
- Add a couple of nodes.
- Go back to Cluster monitoring page. Mouse over Reserved wheel.

**Result:**
When you mouseover you will see undefined for each node even though prom

[2019-03-12 01:56] cjellick commented on #18391
i really want to fix this, but it is pre-existing in 2.1.x and we dont have the bandwidth to address it in 2.2.0

[2019-03-12 02:09] cjellick commented on #18789
pkg/controllers/management/clustergc/cluster_scoped_gc.go:90

[2019-03-12 02:20] aiwantaozi commented on #18789
thanks @cjellick will check and update these resource finalizers to the cluster scoped gc

[2019-03-12 03:34] jneo8 commented on #18663
After running
`kubectl -v9 run -i --tty --rm --image ubuntu test-shell -- bash`

I get
[code]

[2019-03-12 03:38] sowmyav27 commented on #18802
verified on `rancher:master`. (latest) VMware cloud credentials are stored in the key created. Node templates are linked to the keys and clusters are created successfully using the node templates.

[2019-03-12 03:38] #18802 closed

[2019-03-12 03:43] kingsd041 commented on #18407
Same reason as https://github.com/rancher/rancher/issues/18389. Closing duplicate

[2019-03-12 03:44] loganhz commented on #18407
@kingsd041 it's another issue

[2019-03-12 03:51] cjellick commented on #18789
np...im not 100% sure this is the right solution, so...test thoroughly :-D

[2019-03-12 03:59] aiwantaozi commented on #18789
I reproduce it and the cluster namespace and project namespace could be deleted after adding finalizer for them.

[2019-03-12 04:19] gitlawr commented on #17982
1. It is sending only changing fields. Missing fields should be unchanged, see: https://github.com/rancher/norman/blob/master/store/proxy/proxy_store.go#L402
The reason why we [do that in cli](https://github.com/rancher/cli/blob/master/cmd/globaldns.go#L743) is because every field has `omitempty` tag, and the framework marshalls the input and drop all empty fields, making them unchanged. As a resu

[2019-03-12 04:24] clicman opened #18816 "Websocket origin is not allowed behind apache reverse proxy"
I'm trying rancher 2 and my setup contains apache reverse ssl proxy.
I can log in, but wss connection gives me 403 in a browser and next lines in container log:

    019/03/12 04:05:38 [ERROR] Error during subscribe websocket: origin not allowed
    2019/03/12 04:05:38 [ERROR] Unknown error: websocket: origin not allowed

My startup command:

     docker run -d --restart=unless-stopped -v /opt/ran

[2019-03-12 04:32] gitlawr commented on #17981
Confirmed as a bug.
Usually, a missing field gets unchanged in the proxy store. But missing roles on mcapp update get rejected on API layer.

[2019-03-12 05:27] webboy89860 opened #18817 "docker build use the previous image when the image name is same."
**What kind of request is this (question/bug/enhancement/feature request):**

BUG

**Steps to reproduce (least amount of steps as possible):**

In pipline，Dockerfile  has the line: **From index.paas.zoomlion.com/library/cache-test:1** ,  if pushing the same name and same version but not same content's image,  **it is always use the previous image** .

choose ubuntu as base image，then choose centos

[2019-03-12 05:39] rohithsharmaks opened #18818 "Deleting EKS cluster doesn't delete Service roles which is created by Rancher"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Create a EKS cluster using Rancher and delete it. After successful deletion, go to AWS account -> Roles and check for service roles created by Rancher which exist.

**Result:**
Rancher creates a service role for every cluster by default. It has to be deleted

[2019-03-12 05:48] yusufmendes commented on #18723
I changed docker version from 18.09.03 to 18.09.02 and problem resolved

[2019-03-12 05:48] rohithsharmaks opened #18819 "EKS cluster nodes are being removed abruptly"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Provision EKS cluster with all default settings provided by Rancher. EKS cluster is provisioned successfully and able to view all details
- Wait for 15 to 20 mins. EKS cluster nodes disappears

**Result:**
Expected EKS cluster to work properly until cluste

[2019-03-12 05:49] #18723 closed

[2019-03-12 05:49] yusufmendes commented on #18723
I changed docker version from 18.09.03 to 18.09.02 and problem resolved

[2019-03-12 06:24] alena1108 commented on #15683
Closing as a duplicate of https://github.com/rancher/rancher/issues/18676

[2019-03-12 06:24] #15683 closed

[2019-03-12 06:25] kingsd041 commented on #18407
Version: master 2.2 (3/12/19)
Confirmed fix.
-  Config with a password with special characters, for example, `Please@ChangeM#e`. ES starts successfully and can receive logs
- ES password will not be displayed in the fluentd log

[2019-03-12 06:25] #18407 closed

[2019-03-12 06:27] rohithsharmaks commented on #18675
I was using wrong library with v2.0 rancher server. In https://github.com/rancher/rancher/issues/18680,  proper library being pointed out. Closing the issue

[2019-03-12 06:27] #18675 closed

[2019-03-12 06:36] rohithsharmaks commented on #12796
I am seeing this issue still. See https://github.com/rancher/rancher/issues/18818.

[2019-03-12 06:53] rohithsharmaks opened #18820 "How to do resizing of EKS cluster nodes?"
**What kind of request is this (question/bug/enhancement/feature request):**
Question. If no support for this, then it is much required feature

**Steps to reproduce (least amount of steps as possible):**
- Install EKS cluster with 2 nodes.
- Try to edit cluster, UI doesn't allow to resize the cluster for worker nodes.

**Result:**
Expected to resize the nodes

**Other details that may be helpful:

[2019-03-12 07:39] #18265 closed

[2019-03-12 09:08] laoshancun opened #18822 "Node template not working on all providers."
**What kind of request is this (question/bug/enhancement/feature request):**

bug

**Steps to reproduce (least amount of steps as possible):**
1. Setting up vSphere `Node Templates` and `Cloud Credentials`.
![image](https://user-images.githubusercontent.com/4952748/54187409-7060bc00-44e8-11e9-93cf-1922ab9361d3.png)
2. Create a vSphere cluster.
![image](https://user-images.githubusercontent.com/495

[2019-03-12 09:21] liyongxian opened #18823 "How to Get Token And ca-checksum Parameter Of Adding k8s Cluster Node"
**What kind of request is this (question/bug/enhancement/feature request):**
After running rancher/rancher,I want to get parameter of **--token** and **--ca-checksum** by API Or Shell,Not by Rancher Web.How can I do? Thanks.

**Steps to reproduce (least amount of steps as possible):**
1、docker run -d  --restart=unless-stopped --name rancher  rancher/rancher:v2.1.1
2、Want to  add k8s cluster By CUS

[2019-03-12 09:27] superseb commented on #18823
Automation examples are in https://github.com/rancher/quickstart, API fields can be checked using the API UI browser at `$RANCHER_URL/v3`, in this case `$RANCHER_URL/v3/clusterregistrationtokens`. Currently the checksum is computed and not a separate field, see https://github.com/rancher/rancher/issues/17273

[2019-03-12 09:27] #18823 closed

[2019-03-12 10:10] yusufmendes opened #18824 "windows rancher-agent stucks on 'Starting plan monitor'"
**What kind of request is this (question/bug/enhancement/feature request):**
  Bug

**Steps to reproduce (least amount of steps as possible):**
  Run rancher server
  Create custom cluster
  Add custom linux(ubuntu) node as etc/worker/contolplane
  Wait for provisioning
  Cluster will be created successfully with one etc/worker/contolplane node
  Edit cluster and add Windows Node using flannel net

[2019-03-12 10:18] liyongxian opened #18825 "How to find CAfile accessing URL Of Rancher Server By Https"
After runing rancher,I want to get parameter of --token and --ca-checksum by API By Curl,but curl needs CAfile.How can I find the CAfile of rancher.

**What kind of request is this (question/bug/enhancement/feature request):**
I can not find where Rancher' CAfile is.

**Steps to reproduce (least amount of steps as possible):**

**Result:**

Other details that may be helpful:
Rancher version:
ranch

[2019-03-12 10:22] reymonlu opened #18826 "APi-server consume all Host RAM after update from 1.11.6 to 1.13.4 with rke 0.1.17"
**What kind of request is this (question/bug/enhancement/feature request):**
After the try to upgrading the Kubernetes version from 1.11.6 to 1.13.4 with rke 0.1.17, the component kube-apiserver grow in memory to overload the RAM amount of the host. After some hours of unsuccessful try to repair this kube-apiserver, i decided to delete my cluster by cleaning up all the nodes with this method https

[2019-03-12 10:22] superseb commented on #18825
Please read https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions and use the forums for questions.

You can see how the agent uses the CA certificate here https://github.com/rancher/rancher/blob/master/package/run.sh#L226

[2019-03-12 10:22] #18825 closed

[2019-03-12 11:01] pseckd commented on #18824
Same on 2.2-rc3 and Windows Server 2019 1809

[2019-03-12 11:42] clicman commented on #18816
My fault. Fixed by adding `ProxyPreserveHost On` to virtualhost.

[2019-03-12 11:42] #18816 closed

[2019-03-12 11:51] bordeo commented on #16151
We get the same issue. We spotted it because Jenkins kubernetes plugin return the error:

`hudson.remoting.ProxyException: io.fabric8.kubernetes.client.KubernetesClientException: error dialing backend: x509: certificate is valid for x.x.x.x ,.x.x.x.x, x.x.x.x not y.y.y.y`

This happened after we add a second master node and try to run a build using Jenkins master and slaves from that node.
I check

[2019-03-12 11:53] at24106 commented on #13331
The handling of rancher of missing global secretes is a pain, please can you build in this feature

[2019-03-12 12:29] reymonlu commented on #18826
Ok, I resolve this issue by changing my cluster.yml and uncomment the lines of my others nodes. The cluster goes Online but there is still this problem of RAM usage of the kube-apiserver
[code]

[2019-03-12 12:47] yusufmendes commented on #18824
After restarting windows node machine,RancherUI now gives following error;
 Kubelet stops posting node status..
I cannot make progress on adding windows node to kubernetes cluster using rancher for one week.
Any help would be appreciated

[2019-03-12 12:51] reymonlu commented on #18826
If i understand logs, there are some problems with communication between apiserver and worker nodes. So i look to the kube-proxy and there are Errors logs too :
[code]

[2019-03-12 13:27] riaan53 opened #18827 "Rancher cluster memory metrics mismatch grafana cluster metrics on v2.2.0-rc3"
**What kind of request is this (question/bug/enhancement/feature request):**
Possible bug

**Steps to reproduce (least amount of steps as possible):**
1. Create kubernetes cluster via RKE on Rancher OS
2. Install Rancher v2.2.0-rc3 in HA mode via helm
3. Enable monitoring and leave for a while

**Result:**
![Screenshot 2019-03-12 at 15 20 49](https://user-images.githubusercontent.com/7716342/54203

[2019-03-12 13:29] janeczku commented on #18719
Currently the driver name displayed in the GUI is derived from the driver binary file name suffix.
E.g. a driver whose filename is `kontainer-engine-driver-aks2` will be displayed as `Aks2` instead of a pretty name like the built-in drivers have, e.g. `Azure AKS`.

[2019-03-12 13:29] pseckd commented on #17341
same problem with Rancher 2.2 RC3 on Windows worker with Kube 1.12.6 and upper

[2019-03-12 13:58] Upgreydd opened #18828 "Rancher fails after update from 2.1.5 to 2.1.7 in single-node"
This cluster is currently Provisioning.
Exit status 1, unable to recognize "management-statefile_path_redacted": Get https://localhost:443/k8s/clusters/c-6bbbj/api?timeout=32s: remote error: tls: internal error unable to recognize "management-statefile_path_redacted": Get https://localhost:443/k8s/clusters/c-6bbbj/api?timeout=32s: remote error: tls: internal error unable to recognize "management-s

[2019-03-12 13:58] Fail-Unsafe opened #18829 "Rancher 1.6.27 + Rancher-NFS"
**What kind of request is this (question/bug/enhancement/feature request):**
Question

**Steps to reproduce (least amount of steps as possible):**

1. Change Host Registration URL
2. Re-Add Hosts to the environment with the updated docker command copy&pasted

**Result:**
Hosts receive the new Registration URL but Rancher-NFS still uses the old URL

**Other details that may be helpful:**
```(Contai

[2019-03-12 14:10] steebchen commented on #18753
When I delete my pipeline as well as the p-8nscp-pipeline namespace and re-create it from the pipelines tab, I still get the same issue. Should I still try using a PV?

[2019-03-12 14:42] thxCode opened #18830 "Monitoring - kube-state exporter print too many error log"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG

**Steps to reproduce (least amount of steps as possible):**
- Enable Cluster Monitoring

**Result:**
- kube-state exporter keeps printing error logs

**Other details that may be helpful:**
![image](https://user-images.githubusercontent.com/3394724/54208457-ee3bbc00-4516-11e9-8a96-f5d992ce2672.png)

Cannot list `poddi

[2019-03-12 14:43] fdelahaye-mmtt commented on #16574
hello all,
anything new ?
I have exactly the same issue ...

[2019-03-12 14:53] LinAnt commented on #18221
https://github.com/rancher/rancher/issues/15065

This is still an issue.

[2019-03-12 15:19] MaxDiOrio commented on #17417
I'm having the same issue with ROS 1.5.1 trying to use 18.06.sh.  18.03.sh works fine.

[2019-03-12 15:21] Baykonur opened #18831 "Error in importing existing cluster: "Failed to connect to proxy" error="websocket: bad handshake""
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
I start rancher as a container using a bash script:
[code]

Then I try to import an existing vanilla (bootstrapped by kubeadm) single master 2 worker k8s cluster.

**Result:**
Rancher starts fine and I can access the UI and go to the import cluster page with

[2019-03-12 15:30] cjellick commented on #18446
This seems like it is missing steps in reproducing. Did you change the name or something in between steps? Did the binary change?

[2019-03-12 16:02] cjellick commented on #18522
@ts-mini whats the nature of your cluster? is it phiscally far away from your rancher server? Is it RKE, GKE, AKS, EKS?

[2019-03-12 16:03] armanriazi opened #18832 "New Issues of Cattle-Cluster-Agent: (Could not resolve host: rancher.<server-name>.com)"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**

`kubectl logs pod/cattle-cluster-agent-6cc6666fc5-hjvpd -n cattle-system`

**Result:**

ERROR: https://rancher.nik.com/ping is not accessible (Could not resolve host: rancher.nik.com)

**Other details that may be helpful:**

**Environment information**

[2019-03-12 16:07] davidnuzik commented on #18809
Version: Master 2.2 (3/12/19) 68f13abc3245 (25 mins old this morning)
Issue is still occurring.
![image](https://user-images.githubusercontent.com/45179589/54216065-38d12000-44a6-11e9-9c4d-1b41768a8ba1.png)
Whole UI reloads.

[2019-03-12 16:09] davidnuzik commented on #18808
Version: Master 2.2 (3/12/19) 68f13abc3245
Confirmed issue.
This has now been renamed to "Container Default Resource Limit"

From Add Namespace page:
![image](https://user-images.githubusercontent.com/45179589/54216236-864d8d00-44a6-11e9-81c9-1f2b7efbcc9e.png)

Also checked from Add Project page.

[2019-03-12 16:09] #18808 closed

[2019-03-12 16:10] davidnuzik commented on #18801
Version: Master 2.2 (3/12/19) 68f13abc3245
Confirmed issue. The name on the Tool nav menu has changed to Snapshots.
![image](https://user-images.githubusercontent.com/45179589/54216340-b301a480-44a6-11e9-9278-83da00c62474.png)

[2019-03-12 16:10] #18801 closed

[2019-03-12 16:14] patrick0057 commented on #15376
https://github.com/rancher/rancher/issues/16471

[2019-03-12 16:15] davidnuzik commented on #18749
Version: Master 2.2 (3/12/19) 68f13abc3245
Confirmed issue. This is now much more prominent and is always seen. It is right under the "Upgrade strategy" when deploying a MC app:
![image](https://user-images.githubusercontent.com/45179589/54216502-03790200-44a7-11e9-9bc7-121947918fe6.png)

Projects radio button is always picked by default; this make it clear that Project access is always granted by

[2019-03-12 16:15] #18749 closed

[2019-03-12 16:16] davidnuzik commented on #18730
Version: Master 2.2 (3/11/19) HA Setup
Confirmed issue. All areas were fixed exactly as requested in the issue description.
The **Add** Global DNS Entry button has been fixed. When you add an entry it is now a create button.

[2019-03-12 16:16] #18730 closed

[2019-03-12 16:22] mrajashree commented on #17981
Okay @gitlawr, you can assign it back to me to validate once it's ready to test

[2019-03-12 16:25] davidnuzik commented on #18792
Version: Master 2.2 (3/12/19) 68f13abc3245
This isn't quite right, there is a box around global now that is off color to a BG behind it or something:
![image](https://user-images.githubusercontent.com/45179589/54217373-bb5adf00-44a8-11e9-9ff3-5d90cf90cfe6.png)

[2019-03-12 16:28] davidnuzik commented on #18809
Version: Master 2.2 (3/12/19) 68f13abc3245
Confirmed issue. This no longer does a hard reload where we see a white page and the "loading box"
You will see the loading box but only briefly and in a reasonable time (and we don't see the blank white page and whole UI reload). This is much quicker now as well.

[2019-03-12 16:28] #18809 closed

[2019-03-12 16:31] davidnuzik commented on #18812
Version: Master 2.2 (3/12/19) 68f13abc3245
Confirmed issue. This is now working; we show the names of the nodes now even right immediately after creating them:
![image](https://user-images.githubusercontent.com/45179589/54217803-8bf8a200-44a9-11e9-8ed1-1060e6369fee.png)

I smoke tested the area as well to ensure still working correctly when nodes are completely ready/active and it's working correc

[2019-03-12 16:31] #18812 closed

[2019-03-12 16:35] Austin-Earl commented on #13475
+1 This is something that would help the whole world right now. I need this and I think everybody needs this.

[2019-03-12 16:43] davidnuzik commented on #18553
@loganhz FYI I am now seeing this on latest master staying. It will never go away unless I manually refresh or leave the page and come back. Probably not completely necessary for v2.2 but if it's an easy fix would be nice to fix in my opinion:
![image](https://user-images.githubusercontent.com/45179589/54218679-43da7f00-44ab-11e9-9187-d9ccde42e8ff.png)

[2019-03-12 16:49] sheng-liang opened #18834 "Allow specifying cluster and service CIDR when creating clusters"
**What kind of request is this (question/bug/enhancement/feature request):**
feature request

Submariner requires clusters to have non-overlapping cluster and service CIDRs. Rancher should make it easier to specify cluster and service CIDRs when creating clusters. This should be made to work for RKE, GKE, EKS, and AKS clusters.

[2019-03-12 16:51] davidnuzik commented on #18578
@loganhz is the backend / charts ready? Or do we need those two PR's resolved before I can fully test? Just wanted to double-check. Thanks!!

[2019-03-12 16:53] davidnuzik commented on #17614
Version: Master 2.2 (3/11/19) HA Setup
I have tested this multiple times and am no longer able to reproduce the problem. As such I am closing this issue. This was likely fixed by various fixes done in this area the past several weeks.

[2019-03-12 16:53] #17614 closed

[2019-03-12 16:57] cjellick commented on #17502
ive moved this back to test since our assertion is that this is fixed on master

[2019-03-12 17:00] davidnuzik commented on #18800
Version: Master 2.2 (3/12/19) HA Setup
Confirmed issue.
I followed my steps to reproduce and am no longer reproducing the problem. When the custom kontainer-driver is deactivated, and then activated again we now see exampleEngineConfig listed under /v3/schemas. This resolves the issue and the Example cluster is now listed when activate.

[2019-03-12 17:00] #18800 closed

[2019-03-12 17:09] alena1108 opened #18835 "Backport: elasticsearch plain text password in logs"
Backport https://github.com/rancher/rancher/issues/18407

[2019-03-12 17:10] cjellick commented on #18624
@thxCode @loganhz i am concerned that QA wont understand what this change is and how to test it. You may need to explain more clearly

[2019-03-12 17:19] sangeethah commented on #18759
Tested with latest build from master - Rancher version 8c24298e
Warnings reported in the issue are not seen anymore in rancher server logs when GKE cluster get provisioned.

[2019-03-12 17:19] #18759 closed

[2019-03-12 17:19] bmdepesa commented on #18734
rancher/rancher:master 3/12

* Created two clusters
* Created additional user
* Added second user as cluster owner to one of the clusters
* Login as second user and create a multicluster app in the cluster where user has access
* Login as admin (without admin being added as a member to MCA) and add a second target project
* Target projects / MCA updated successfully.

[2019-03-12 17:19] #18734 closed

[2019-03-12 17:19] sowmyav27 commented on #18766
verified on `rancher:master`
.part files are not seen anymore. Rancher server logs show that the snapshots are getting saved once on every etcd node.
<img width="644" alt="Screen Shot 2019-03-11 at 8 55 01 PM" src="https://user-images.githubusercontent.com/26032343/54221220-4db2b100-44b0-11e9-8d9f-6631804660e4.png">

[2019-03-12 17:19] #18766 closed

[2019-03-12 17:27] davidnuzik commented on #18760
Version: v2.1.7 -> master (upgraded to master so we get latest UI and thus fix)
K8s version: v1.13.4

Executed steps as defined in issue description. Also created a second cluster with only 2m snapshot interval time and 45m retention period. I waited for a while so we take a few snapshots on second cluster (2m cluster).

Confirmed that BOTH rounded up to nearest hour for "Snapshot Creation Period"

[2019-03-12 17:27] #18760 closed

[2019-03-12 17:33] sowmyav27 opened #18838 "Error seen while trying to restore from backup"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a DO cluster on Rancher. (1 etcd/1 control plane/1 worker nodes)
2. Default, first backup (Backup#1) will be taken.
3. Scale upto 3 etcd nodes.
4. Take a backup. (Backup#2)
5. Edit cluster and change the `Recurring etcd Snapshot Creation Period` to

[2019-03-12 17:36] Oats87 commented on #17502
I ran the following scenario:

Rancher `v2.1.7` with a 3 node cluster, 1 controlplane+etcd and 2 worker. It was observed that the `Env has changed from` issue was occurring on my worker instances.

I upgraded to Rancher `master` and watched the agents for approximately 30 minutes, and did not see a single kubelet restart (bar from one where the agent cleaned up after a faulty reset). It appears th

[2019-03-12 17:37] westlywright opened #18839 "Global DNS Edit Fails with Empty Response From API"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a Global DNS Provider
2. Create a Global DNS Entry that targets a project
3. Edit new Global DNS entry, change fqdn, and save

**Result:**
Expected: Edit succeeds
Actual: A 500 error is returned with an empty response

**Other details that may be h

[2019-03-12 17:39] cjellick commented on #17981
fix available in cli 2.2.0-rc14

[2019-03-12 17:39] lvuch commented on #18792
https://github.com/rancher/ui/pull/2749

[2019-03-12 17:42] alena1108 commented on #17502
Closing as verified.

[2019-03-12 17:42] #17502 closed

[2019-03-12 17:49] fedeostrit opened #18840 "execute Shell not working"
hello,
I have installed rancher v2.2-rc2 in my cluster of kubernetes v1.13 with F5 big IP as layer7 load balance, everything works fine except the Shell console from Rancher UI and the kubectl console, with the version of Rancher 2.1.6 this was working, I do not know what logs I can pass to be able to investigate a bit about this or if it could be a bug of this version since with the other one it

[2019-03-12 17:53] fedeostrit commented on #18840
this is the error message that I see when I run "kubectl logs -n cattle-system -l app=cattle-agent" in my nodes

time="2019-03-11T21:14:26Z" level=error msg="Failed to connect to proxy" error="websocket: close 1006 unexpected EOF"

[2019-03-12 18:02] fedeostrit commented on #18840
![image](https://user-images.githubusercontent.com/48490228/54224179-c24d1600-44d7-11e9-9b53-c109d0cf6e4d.png)

[2019-03-12 18:05] superseb commented on #18840
This is a known issue in rc2, see https://github.com/rancher/rancher/issues/17028

[2019-03-12 18:05] #18840 closed

[2019-03-12 18:08] soumyalj commented on #18838
See the same restore issue, with the following steps:

[code]

Restore fails with the below error:
[code]

[2019-03-12 18:23] armanriazi commented on #18832
before that config with helm full options I had used to configure sidecar that I get this message on containers of cluster-agents:

and How to verify tls.key,caserts.pem on another workers?

`$hostname -f
`

`$hostname`

`$cat /etc/hosts`

nginx  load balancer 4L on (172.18.3.9 machine nik9.nik.com):
[code]

[2019-03-12 18:26] davidnuzik commented on #18578
Here are my findings with latest master. I think this IS working now.

Version: Master 2.2 (3/12/19) a183dc4359c4
Follow the steps to reproduce:
- Upgrade the prometheus-monitoring app by changing "exporter-kubelets.https" answer to false. Save changes. Confirm took effect: `exporter-kubelets.https: "false"` and is correct in UI when check app.
- Upgrade again adding a custom answer such as "grafa

[2019-03-12 18:29] jiaqiluo commented on #18352
The bugfix is validated on Rancher:v2.16 upgraded to master 3/12

Following the same steps as the issue describes,  in my test the GKE and EKS cluster do not go to `Updating` state anymore.

[2019-03-12 18:29] #18352 closed

[2019-03-12 18:39] jiaqiluo commented on #18390
The bugfix is validated on Rancher:v2.16 upgraded to master 3/12

Following the same steps as the issue describes, I get two observations:
1. when editing the EKS cluster, the default value is 1.11, and the only option is 1.11
2. The EKS cluster's state will stay `active` if I change nothing during the editing process

[2019-03-12 18:39] #18390 closed

[2019-03-12 18:39] dramich opened #18843 "Warnings for local cluster on upgrade"
On upgrade the local cluster will cause warnings in the logs due to not having a driver in the config.

[2019-03-12 19:25] TheYkk opened #18844 "cluster create stuck"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):** when i try create first cluster loading screen stuck

**Result:**   tagName.toLowerCase

![image](https://user-images.githubusercontent.com/21688838/54229604-a9635580-4515-11e9-8346-335c7b88eba9.png)

**Environment information**
- Rancher version (`rancher/r

[2019-03-12 19:34] mrajashree commented on #18256
Failed again here https://drone-pr.rancher.io/rancher/rancher/615

[2019-03-12 19:34] TheYkk commented on #18844
popup blocking plugin in Chrome is causing this error

[2019-03-12 19:34] #18844 closed

[2019-03-12 19:43] westlywright commented on #18762
@davidnuzik after some investigation and a few questions I've found this is not a UI issue. The API needs to issue some kind of change event on the cluster driver in question otherwise the UI doesn't know that the actions have changed to recalculate the values of the actions dropdown. Currently after launching a cluster attached to the driver there is no change event fired. The conditions array on

[2019-03-12 19:45] rmweir opened #18845 "dns-field being added to config in spec on update"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. provision RKE cluster (DO) with default options
2. edit cluster and save, without making any changes.

**Result:**
Cluster goes to updating.

**Other details that may be helpful:**
This is happening because of a comparison preformed in getSpec. There is a

[2019-03-12 19:45] cjellick commented on #18762
moving out. not a blocker

[2019-03-12 19:48] sangeethah commented on #18789
Tested with 3 node HA setup using latest master build -

Add a custom cluster and provision some workloads. Things work.

Delete all of the nodes of the cluster. (Wait until they are all destroyed)
Delete the cluster from Rancher UI.

In the local cluster run:
kubectl get ns

Namespace relating to cluster that is deleted gets to "Terminating" state and then gets deleted successfully. clusteralertg

[2019-03-12 19:51] cjellick commented on #18845
note: the cluster doesnt jsut go to updating, it goes through provisioning again

[2019-03-12 20:04] superseb commented on #18832
The cluster-agent uses cluster DNS which uses DNS resolving, not a `/etc/hosts` workaround. Make sure it can properly resolve the configured server-url. Regarding the certificates, the configured CA cert is retrieved from `server-url/v3/settings/cacerts` and used to verify the certificate. Make sure it is configured correctly and uses the correct certificate. If this is correct, possibly it needs

[2019-03-12 20:19] ts-mini commented on #18522
@cjellick The cluster is in AWS us-east-1 (RKE), the master is in a GKE us-central-1.  So not huge distances, but not 'close'.  We dont see the same issues on smaller clusters in our datacenters.

[2019-03-12 20:20] mrajashree opened #18846 "TF test_cloud_credential_delete on arm64 drone"
test_cloud_credential_delete failed in https://drone-pr.rancher.io/rancher/rancher/616/2/2

[2019-03-12 20:21] davidnuzik commented on #18792
Version: Master 2.2 (3/12/19) a183dc4359c4
The contrast is still very poor when on dark theme. I cleared cache and hard reloaded UI.

At /g/clusters (cluster listing page):
![image](https://user-images.githubusercontent.com/45179589/54233163-99258900-44c9-11e9-9517-e4b927293ef7.png)
^This is good

At projects/workload/other areas:
![image](https://user-images.githubusercontent.com/45179589/5423313

[2019-03-12 20:27] ts-mini commented on #18522
Number of nodes is 69 across the us-east-1a/b/c
7 etcd nodes, 3 control plane nodes  (both of these types are overscaled and instance 'hardware' limitations arent the issue)
Pods: 1755
Deployments: 696
Namespaces: 201
Projects: 26

ICMP ping stats from our control plane to our gke master
64 bytes from <redacted> icmp_seq=1 ttl=27 time=29.4 ms
64 bytes from <redacted> icmp_seq=2 ttl=27 time=28.7 ms

[2019-03-12 20:35] MaxDiOrio commented on #14007
I'd love to get Traefik as an Ingress, especially with nginx being bought by F5.

[2019-03-12 21:16] davidnuzik opened #18847 "UI: Navbar changes"
Version: Master 2.2 (3/12/19) a183dc4359c4

**What kind of request is this (question/bug/enhancement/feature request):**
Bug, Usability

**Requested Changes:**
It's currently a bit confusing for the user with our current method of organizing MC apps, catalog apps, and other nav bar items. We'd like to change somethings:

_At Global Level:_
MOVE Multi-Cluster Apps to "Apps" item on nav bar
MOVE Cat

[2019-03-12 21:38] cjellick commented on #18847
Will see if @ankur111 wants to review the change

[2019-03-12 21:41] loganhz commented on #18578
@davidnuzik it’s ready for test. We have 2 solutions to fix it. One is UI and the other is backend.  UI solution is good enough so we don’t need to merge the backend one.

If users want to configure some advanced options, they need go to enable monitoring page. If they just update the params in catalog upgrade page, it won’t work.

[2019-03-12 21:50] loganhz commented on #18624
Sure, we will have a zoom with @jiaqiluo today

[2019-03-12 21:51] loganhz commented on #18553
sure, we will look at it today.

[2019-03-12 22:15] mitchellmaler opened #18850 "Rancher 2 Chart: Allow setting no-cacerts even when using ingress TLS"
We are terminating TLS at the load balancer which is signed by a public CA and publicly trusted. We also are required to use TLS from Rancher to the LoadBalancer and never to serve on http. Since the TLS cert being served at the LB will always be trusted by clients then the CA cert does not need to be provided by rancher. The issue is the chart is setup in a way where you can only disable setting

[2019-03-12 22:44] alena1108 commented on #18805
@bmdepesa Can you elaborate on the option you've chosen for the cert rotation:

`Rotate the CA and all Service certificates`
or
`Rotate all Service certificates (keep the same CA)`

[2019-03-12 22:46] bmdepesa commented on #18805
@alena1108 I chose `Rotate the CA and all Service certificates`

[2019-03-12 22:52] loganhz commented on #18824
@thxCode Can you verify if windows 1803 support is still working in latest rc version?

[2019-03-12 23:07] ankur111 commented on #18847
Can you explain what the user flow will be. Here is what I think will happen
User - Operator/Admin
Flow 1- Tools --> Catalog --> Add Catalog
Flow 2 -Cluster --> Apps --> Multi Cluster --> Launch

User - Developer, DevOps practitioner
Flow 1 - Cluster --> Apps --> Catalog Apps --> Launch

Instead, how about putting "Resources" at all levels and pushing Catalogs as one of the Resource menu entry?

W

[2019-03-12 23:10] loganhz commented on #18824
@yusufmendes @pseckd Now rancher only supports Windows 1803 + K8s 1.11.

Windows 1809 and k8s 1.11 + support is coming soon

[2019-03-12 23:11] #18789 closed

[2019-03-12 23:21] vincent99 commented on #18847
"Apps" are a deployed instance of a helm chart/catalog template.

There is no "Apps -> Multi Cluster" or "Apps -> Catalog Apps", that is one "Apps" item in the nav with one page which lists the deployed (multi or single, depending on where you are) apps.

We're just trying to reorganize a bit so that apps and multicluster apps look the same in the nav and you don't end up with dropdowns with only

[2019-03-12 23:34] davidnuzik commented on #18847
I have some input from the team who wants to make these changes:

![image](https://user-images.githubusercontent.com/45179589/54242779-15789600-44e3-11e9-8aab-0eb30adf3440.png)

And here is my attempt to explain user flow:
User - Operator/Admin
Flow 1- (Global) Tools Menu --> Catalog --> Add Catalog
Flow 2 -(Global) Tools Menu --> Apps --> Launch Multi-Cluster App

User - Developer, DevOps practit

[2019-03-12 23:51] prachidamle commented on #17982
@gitlawr, the 500 issues was a bug in GlobalDNS that was resolved todayhttps://github.com/rancher/rancher/pull/18841

I tested with the fix, Global DNS CLI worked fine. Validated all of the following commands

[code]

[2019-03-12 23:52] prachidamle commented on #17982
@alena1108 issue is validated, please close per review.

[2019-03-13 00:01] alena1108 commented on #18845
Happens because older clusters don't have a DNS field set. And as the field exists in 2.2 cluster schema, it gets included to the PUT request with its default values. The fix is - make the field nullable by converting it to a pointer, and default to a struct on RKE side if nill value is passed.

[2019-03-13 00:13] davidnuzik commented on #18578
Closing issue; the frontend was tested. See my comment above with details it is now working as expected. https://github.com/rancher/rancher/issues/18578#issuecomment-472125376

[2019-03-13 00:13] #18578 closed

[2019-03-13 00:33] JohnDavidLarsen commented on #17417
Ok, 18.09.sh  the default works now.  It didn't work the other day. I guess something changed, I don't know what.   Thanks.

[2019-03-13 00:38] fagun-tripathi commented on #17083
@loganhz Is this one of the issue associated with the Rancher v1.6.x ?

[2019-03-13 00:41] loganhz commented on #17083
Yes, this is Rancher 1.6 UI

[2019-03-13 00:45] fagun-tripathi commented on #17083
level=error msg="HandleSAMLPost: Error doing POST /v1/token

time="2019-03-13T00:03:55Z" level=error msg="GetSamlAuthToken failed to Get token from cattle with error Post https://rancher.<domain>.com/v1/token: dial tcp: lookup rancher.<domain>.com on x.x.x.x:53: no such host"

This is the error I am getting

[2019-03-13 00:50] fagun-tripathi commented on #17083
@loganhz  I am sorry to bother you, but would you be able to tell if this problem associated with Rancher internally, that it is not able to handle the SAML authentication process ? It worked fine before but it is throwing a 500 internal server error right now ?

Do I need to upgrade the Rancher version from the version 1.6.x for better integration stability over SAML ?

[2019-03-13 00:51] ChipWolf commented on #18645
Same issue here, any version of the agent it seems, so I assume an issue with the master?

[2019-03-13 00:54] sowmyav27 commented on #18822
verified on rancher:v2.2.0-rc3.
Nodes created have incorrect number of cores and RAM.

**Node template:**
<img width="1303" alt="Screen Shot 2019-03-12 at 5 47 51 PM" src="https://user-images.githubusercontent.com/26032343/54245843-bcfbc580-44ef-11e9-8f1a-4eb1b2a7efd4.png">

**Nodes created in cluster:**
<img width="1308" alt="Screen Shot 2019-03-12 at 5 47 38 PM" src="https://user-images.githubus

[2019-03-13 01:01] sangeethah commented on #18839
Tested with Rancher version 8657cb2e

As Global Admin user ,
Create a Global DNS Provider
Create a Global DNS Entry that targets a project
Edit new Global DNS entry, change fqdn, and save.

Able to edit Global DNS entries successfully.

[2019-03-13 01:01] #18839 closed

[2019-03-13 01:04] loganhz commented on #17207
Not sure if this fix introduced another issue https://github.com/rancher/rancher/issues/18822

[2019-03-13 01:08] sangeethah opened #18852 "Not able to edit global DNS entry and point to a different project."
Rancher server version - Build from  master - Rancher version 8657cb2

Steps to reproduce the problem:
Have 2 clusters - cluster1 and cluster2
As Global Admin user ,
Create a Global DNS Provider
Create a Global DNS Entry with targets as project - cluster1/Default.
Edit Global DNS Entry and change target as project - cluster2/Default (remove cluster1/Default).

This operation fails:

There is a  ad

[2019-03-13 01:18] alena1108 commented on #18852
@mrajashree can be caused by the fact that UI adds/removes project at the same time, can you follow up with @westlywright on the flow.

[2019-03-13 01:43] mrajashree commented on #18852
@westlywright It looks like the UI is doing three separate calls, a PUT to the globalDNS entry, addProject and then removeProject, which is causing it to error out since object was modified after the first request itself. Can UI make calls to get the object after each update?

<img width="1437" alt="Screen Shot 2019-03-12 at 6 40 03 PM" src="https://user-images.githubusercontent.com/10672776/54247

[2019-03-13 01:46] rmweir opened #18853 "GKE cluster goes to updating after edit with no changes"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. Create GKE cluster with default values.
2. Wait for GKE cluster to fully provision.
3. Edit cluster, do not change any values, and save.

**Result:**
Cluster goes to updating in UI and provisions in backend

**Other details that may be helpful:**
Provisio

[2019-03-13 01:47] cjellick commented on #18845
@alena1108 this did not occur with an "old" cluster created pre upgrade. was just a newly provisioned one

[2019-03-13 01:57] gitlawr commented on #17982
Changing target type is tricky now.
Mcapp target -> projects target: Update and reset mcapp then do `add-project`
Projects target -> Mcapp target: Need to do `delete-project` then update to set mcapp

We should make that straightforward for users:
When the current target is mcapp, running `add-project` makes the switch
When the current target is project, running `update --multi-cluster-app` makes

[2019-03-13 02:03] loganhz commented on #18853
@fyery-chen @n313893254 Can you confirm if this issue can get fixed in https://github.com/rancher/ui/pull/2753?

[2019-03-13 02:04] alena1108 commented on #18845
@cjellick I'll try the upgrade usecase to see what the difference is.

[2019-03-13 02:10] cjellick commented on #18845
@alena1108 I just tested your fix with the non-upgrade case. steps:
1. on master, provision rke cluster
2. wait until active
3. edit, change nothing, save

it worked. cluster did not go back through provisioning

[2019-03-13 02:13] alena1108 commented on #18845
@cjellick I've tested the fix too, but only for non-upgrade use case. So I want to:

* Understand why the original issue happens for clusters freshly provisioned on 2.2, but not for the upgraded ones.
* Test the fix for the upgrade use case

[2019-03-13 02:15] cjellick commented on #18845
oh, i think you misunderstood me because I worded it poorley. when i said

i meant that we did not even test or try the upgrade path. We just saw the bug on master, never did an upgrade test.

I just wanted to make sure that you know it occurred for freshly provisioned clsuter

[2019-03-13 02:20] alena1108 commented on #18845
@cjellick

ok, that's the scenario I've used to reproduce the bug and verify the fix, so we should be good.

[2019-03-13 03:37] loganhz commented on #18853
We can confirm Wes's PR works

[2019-03-13 04:05] rohithsharmaks commented on #18820
Folks, can anyone suggest me on this please?

[2019-03-13 04:07] mrajashree commented on #18852
@westlywright It's the same for Multiclusterapp as well

[2019-03-13 04:09] westlywright commented on #18852
Whats the reason to make a get call after each request? Sure its possible but that seems odd to me. In order to add a project. remove a project, or both we'd have to make upwards of 5 calls?

[2019-03-13 04:16] loganhz opened #18856 "vSphere instance size in node template row is incorrect"
rancher/rancher:master 03/12

Steps:

Create a vShpere node template with memory 2048mb

Result:

It shows 2048 GB in node template list

Expected:

It should be 2Gib

![image](https://user-images.githubusercontent.com/21168270/54253357-a904a200-4589-11e9-8e15-c441f4da2787.png)

[2019-03-13 04:29] westlywright commented on #18852
@mrajashree is it appropriate that these calls are staggered? If I call add projects first, then remove, would this provide a suitable resolution without calling get on each? I've put in a quick fix to test locally and it functions, but this used to function as well so I am not sure.

[2019-03-13 04:48] sangeethah commented on #18852
Same issue is also seen when we remove 1 of the projects from a GDNS entry that is pointing to multiple target projects.

[2019-03-13 05:29] loganhz opened #18857 "Gauge ticks incorrect if there is unschedulable nodes in the cluster"
rancher/rancher:master

Steps:

1. Create a cluster with 3 nodes (1 node with etcd role, 1 node with worker role, 1 node with control panel and worker role)
2. Enable monitoring

Result:

The ticks are wrong

![image](https://user-images.githubusercontent.com/21168270/54255455-2254c280-4593-11e9-81c2-0945a6a4ab46.png)

Reason:

The unschedulable nodes are filtered out before finding the min and ma

[2019-03-13 06:05] yusufmendes commented on #18824
@loganhz My environment is  already Windows 1803 + K8s 1.11.6 but it didnt worked .It stucks on  INFO[117438] Starting plan monitor and kubelet agent/flannel-cni container exited without any log
Rancher version v.2.1.6 and selected k8s version is 1.11.6

[2019-03-13 06:17] teddy-dubal commented on #12297
Hi @sangeethah
they're a workaround for this problem , because i try to share an existent volume ( persist my bitnami/mariadb ) , but i can't because of the sub path volume

[2019-03-13 06:19] loganhz commented on #18822
Not just vsphere , aws has a similar issue

all of the fields with `int` type in the node driver config will be dropped.

I tried to specify the root size for aws, it doesn't work.

[code]

[2019-03-13 06:21] loganhz commented on #18822
Not just vsphere , aws has a similar issue

all of the fields with `int` type in the node driver config will be dropped.

I tried to specify the root size for aws, it doesn't work. It's not added in the docker machine create command. It's the same for vsphere

[2019-03-13 06:48] yusufmendes commented on #18824
@loganhz  @thxCode  Now I used rancher v2.1.2 instead of v2.1.6 ,but the result didnt changed.Still stucks on  'starting plan monitor'.I downloaded source code of hyperkube.ps1 and it doesnt  contains any log starting with 'Starting plan monitor' but has Starting kubelet..,Starting flanneld and Starting kube-proxy

[2019-03-13 06:49] guangbochen opened #18859 "Add support of != logic in catalog show_if condition"
Rancher version 2.2 master 03/13

Description:

add support of `!=` condition in the `show_if` section of rancher's catalog apps UI.
will need it for the registry app of the catalog.

[2019-03-13 06:49] Hantse opened #18860 "Temporary failure in name resolution -"
**Type**
Bug

**Steps**
- Launch debian container
- ping google.com

**Result:**
Temporary failure in name resolution

**Environment information**
- Rancher version Rancher | v2.1.7
- Installation option single install

**Cluster information**
- Cluster type Hosted
- Machine type metal and specifications 4core * 2.4 / 16Go:

- Kubernetes
[code]

[code]

- Docker version (use `docker version`):
[co

[2019-03-13 06:51] pseckd commented on #18824
@loganhz @thxCode i try it with 1803 today. The windows agent isn't available as rc3, there is only a rc2 image on dockerhub

[2019-03-13 07:34] jagjag commented on #18480
@aiwantaozi  thank you, I will try it.

[2019-03-13 07:48] laoshancun commented on #18856
That's interesting. 😄

[2019-03-13 07:49] loganhz commented on #18856
@laoshancun thanks for your report!

[2019-03-13 08:05] yusufmendes commented on #18824
@loganhz  @thxCode  You say  Now rancher only supports Windows 1803 + K8s 1.11.
This means 1.11.* ? or higher than 1.11 (1.12,1.13 is valid ?)

Windows 1803 +v2.2.0-rc2(k8s 1.13.4) gives following error on windows node

var/log/rancher/kubelet.log
*****************************
F0313 10:49:35.501269    4272 server.go:147] unknown flag: --cadvisor-port

Kubernetes removed --cadvisor-port in 1.12.4 b

[2019-03-13 08:26] orangedeng commented on #18822
@cjellick @loganhz
In v2.1.7, we store the nodeConfig and generate dynamicSchema fields from machine driver's flags in
https://github.com/rancher/rancher/blob/release/v2.1/pkg/controllers/management/nodedriver/machine_driver.go#L111. And when we are dealing with `IntFlag` wen don't set int type for that field https://github.com/rancher/rancher/blob/release/v2.1/pkg/controllers/management/nodedrive

[2019-03-13 08:33] thxCode commented on #18824
@yusufmendes , in fact, printing`Starting plan monitor` is matching our design. If you are facing the kubelet cannot report the node status, here we get another similar issue: https://github.com/rancher/rancher/issues/16074. FYI, we have filed an enhancement issue https://github.com/rancher/rancher/issues/16460 to record what we doing now.

[2019-03-13 08:38] thxCode commented on #18824
@pseckd , sorry, I am not sure why we don't have a windows agent image for 2.2-RC3. cc @cloudnautique

[2019-03-13 08:42] kingsd041 opened #18862 "Warning user kafka not support self-signed rootCA when user enable client auth"
**Rancher version:** rancher/rancher:master 3/13/19
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

Warning user kafka not support self-signed rootCA when user enable client auth when user click test button, write in doc is not enough.

[2019-03-13 09:18] aiwantaozi commented on #18862
Regression test:
Env: use Deploy kafka use self-sign certificate and enable client auth
Step:
1. enable kafka logging target, input client auth and trust certificate chain(include broker certificate and self-signed ca ceritificate)
2. click test button it should return error
3. continue to click save, check fluentd log, should also throw error

Optional:
Env: use Deploy kafka use certificate signe

[2019-03-13 10:32] superseb commented on #18860
Please describe all requested information and actual steps to reproduce, including the commands used and the actual output. This helps in investigating what's wrong. If it's Hosted Kubernetes, it also helps what Hosted Kubernetes you are using.

[2019-03-13 10:33] #18832 closed

[2019-03-13 10:34] Hantse commented on #18860
Actual step for reproduce it's easy, i just launch a simple workload in any namespace and wen i try ping inside i have this error :/

[2019-03-13 10:38] superseb commented on #18860
Please see https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions why it is important to provide as much as detail as possible to investigate issues. With the limited amount of information, please check https://rancher.com/docs/rancher/v2.x/en/troubleshooting/dns/

[2019-03-13 10:45] Hantse commented on #18860
I have try this
https://rancher.com/docs/rancher/v2.x/en/troubleshooting/dns/

[code]

For more informations ...

I have install rancher server and agent on clean server.
Host can ping and reach, host resolv.conf is set for 8.8.8.8 - 8.8.4.4.
The only thing i do, it's launch a simple debian container, and try ping with shell.

[2019-03-13 11:05] horihel opened #18864 "Cannot create 1.12.x or 1.13.x clusters on vsphere"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**

1. Create a cluster with version 1.12 or 1.13 on vSphere
2. Edit YAML, enter cloud_provider information.

**Result:**
Cluster doesn't come up, hangs in "Waiting to register with kubernetes"
note that this works fine with 1.11.8 , just 1.12 and 1.13 don't wo

[2019-03-13 11:05] horihel commented on #18864
In addition - upgrading a preexisting 1.11.x cluster to 1.12 or 1.13 will kill it.

[2019-03-13 12:04] janeczku commented on #14836
This is still an issue with Rancher installed K8s 1.11 and 1.12.
The issue for hostPath+subPath with containerized Kubelet has been fixed upstream since v1.11: https://github.com/kubernetes/kubernetes/pull/63143 first shipped in K8s v1.11.0.

It looks like there is some work todo on RKE side (like mounting the host rootfs to kubelet /rootfs mountpoint).

[2019-03-13 12:05] mcrypt commented on #14007
Traefik as an ingress controller would be very nice.

[2019-03-13 12:17] janeczku commented on #14836
Steps to reproduce:

1. Create a cluster in Rancher using K8s v1.12.x
2. Deploy a workload that mounts a hostPath volume using a subPath (see manifest below)
3. Exec to the pod and create a new file under the mount point (e.g. `uniquefile`)
4. SSH to the host where the Pod is running.
5. Verify that the file was created under the expected hostPath/subPath in the rootfs

Result:
[code]

[code]

[2019-03-13 12:39] superseb commented on #18860
The used `resolv.conf` will be shown in the output of the command shown in https://rancher.com/docs/rancher/v2.x/en/troubleshooting/dns/#check-upstream-nameservers-in-kubedns-container.

On that same page, this is mentioned:

[code]

[2019-03-13 12:46] iwilltry42 commented on #17011
I am also experiencing weird issues with secrets which are assigned to a project.
I wanted to have kerberos keytabs as secrets per project, so they're available in all namespaces below that project.
Since copy-pasting to the UI with a binary format is not a good option, I did this:
- `kubectl create secret generic kerberos-client --from-file=krb5.keytab=./client.keytab`
- go to Rancher UI, select

[2019-03-13 13:01] Hantse commented on #18860
Already do this test
[code]

[2019-03-13 14:27] doog33k commented on #18796
I have the exact same issue by using the Helm install with the latest repo

[2019-03-13 14:28] yusufmendes opened #18865 "Can't get cattle server CA from $CATTLE_SERVER"
**What kind of request is this (question/bug/enhancement/feature request):**
  Bug

**Steps to reproduce (least amount of steps as possible):**
  Run rancher server with Default Self-Signed Certificate
   docker run -d --restart=unless-stopped \
 -p 80:80 -p 443:443 \
 rancher/rancher:v2.1.7

  Create custom cluster
  Add custom linux(ubuntu) node as etc/worker/contolplane
  Wait for provisioning

[2019-03-13 14:36] ekristen commented on #18796
My installs seem to be fine for what it's worth, but seeing it in the logs.

[2019-03-13 14:44] sebastienminne commented on #15805
any luck with this issue ?
facing the exact same at the moment

[2019-03-13 15:13] hadifarnoud opened #18866 "Rancher seems disconnected from rke cluster"
I ran into an issue with my k8s cluster. master node ran out of RAM (even SSH wasn't working). I  hard-rebooted the master node.

it didn't fix the issue. When Rancher started to work, it was as if I installed Rancher again. asked for a new password and after login, everything was gone inside Rancher.

after an hour this node ran out of memory again.  then I decided to resize the master node with

[2019-03-13 15:18] superseb commented on #18866
Please use the issue template presented when you create an issue, it exists to collect information to help track down the issue. Also please read https://rancher.com/docs/rancher/v2.x/en/contributing/#bugs-issues-or-questions.

Without the information in the template, it comes down to guessing as we don't know if this is an RKE cluster for Rancher HA (if so, what RKE version, what Rancher version,

[2019-03-13 15:28] sangeethah commented on #18852
@westlywright @mrajashree Another scenario where I see the same problem:

I start with a GDNS entry that has 2 project targets.
Edit GDNS entry and try to remove 1 of the projects.
There is a add and remove called for this action and the addProject fails the same way.
Why is there a need to call addProjects in this case ?

If I cancel out of this error , removal of project has actually succeeded i

[2019-03-13 15:31] daxmc99 commented on #18446
I wasn't able to repro this on v2.2-rc2

Steps taken:
1. Add two identical drivers with different URLs but the same name (v2.1 & v2.2 of example driver)
2. Activate/deactivate both drivers
3. Run `kubectl get drivers` and see two separate `kd-*` values. No new `kd-*` names are generated on activate/deactivate.
4. Spin up a cluster with an example driver.
5. Observe that `kd-*` value in exampleEngi

[2019-03-13 15:36] defcon8 commented on #8433
@cjellick: As you can see in my response from 3 Sep 2018 you, I checked for dangling volumes with the command you supplied. But that seems not the case. I followed all the steps from the Enhancements section. Still no luck.

[2019-03-13 15:57] linuxmail opened #18867 "Rancher 1.6.26: Cattle : rancher-nfs -> can't start container"
Our testing environment:

- Proxmox5 node
- VM RancherOS v1.5.1
- 2 Core CPU
- 4GB memory
- http_proxy /HTTP_PROXY configured

NFS:

-  IP: 172.16.0.78
- export /data
- Debian Stretch

I tried it several times, with hostname and IP; nfsvers=3 ...

I try to get ranger-nfs working, but starting the container fails. It was working, as I did the same on a laptop in Vmware Fusion. The only difference i

[2019-03-13 16:05] bradjones1 commented on #17890
Similar to https://github.com/rancher/rancher/issues/16320 but that was marked as resolved... I am running into this as well on 2.1.6.

[2019-03-13 16:06] hadifarnoud commented on #18866
Hosts (before incident):
3 workers, 4GB RAM
1 master,worker, 4GB RAM

Kernel: 4.4.0-140-generic
OS: Ubuntu 16.04.5 LTS

#18853
# docker version
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 03:35:14 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version

[2019-03-13 16:08] davidnuzik commented on #18792
Version: Master 2.2 (3/13/19)
On light theme background is now too light when on global:
![image](https://user-images.githubusercontent.com/45179589/54294970-68982a80-456f-11e9-9b1d-270f5d4ff6fb.png)

It seems good on dark theme just not on light.

[2019-03-13 16:16] aiwantaozi commented on #16538
Test base on the latest doc: https://github.com/rancher/docs/pull/1115
Pipeline resource quota strategy
[code]

goal：after configuring project quota, could run pipeline by config resource quota in pipeline yaml and slave default resource quota

Case:
1. after enabling github/gitlab，update executor resources under project-tools-pipeline, expecting Jenkins agent use the resource quota we configured

[2019-03-13 16:17] #16538 closed

[2019-03-13 16:22] cjellick commented on #17147
remaining requests from @kinarashah 's comment are in v2.2.0-rc14

[2019-03-13 16:22] superseb commented on #18866
The logs show peering messages which is activated when running in HA, but you say its not an HA install, can you clarify what exactly is done?

It probably helps if you can describe what commands you used at what stage of the install to clarify how it was setup:

* What host(s) are used for running Rancher and what exact command was used to launch Rancher
* What host(s) or used for RKE cluster (or

[2019-03-13 16:23] cjellick commented on #17982
remaining requests form @prachidamle comment are in v2.2.0-rc14

[2019-03-13 16:28] kinarashah commented on #17147
Thank you @cjellick, will test them out today

[2019-03-13 16:31] davidnuzik commented on #18792
It looks like there is also an issue when hover over projects on light theme:
![image](https://user-images.githubusercontent.com/45179589/54296778-bd897000-4572-11e9-9656-c9646559f554.png)

and dark theme:
![image](https://user-images.githubusercontent.com/45179589/54296799-c67a4180-4572-11e9-9c68-d25c709f0e85.png)

[2019-03-13 16:48] cjellick opened #18868 "Release TODOs"
- [ ] sever-chart build and versioning change #17663
- [ ] Update cli to non-rc release in pipeline-tools image when it is available #17732

Release note known issues:
- [ ] Release note how the "backup/restore" feature works on existing clusters. #18754
- [ ] Manual backup snapshots should not get deleted on account on retention count and recurring snapshot creation time should not get altered ba

[2019-03-13 16:48] cjellick commented on #17663
moved out of release as its tracked in my overall release todos item

[2019-03-13 16:49] cjellick commented on #17663
can close once release is out and this is completed

[2019-03-13 16:49] #17732 closed

[2019-03-13 16:49] cjellick commented on #18754
closing. the act of releasing noting it is tracked separately

[2019-03-13 16:49] #18754 closed

[2019-03-13 16:50] alena1108 commented on #18805
After talking to @galal-hussein, there are 2 issues:

1) Kubelet restart doesn't happen when cert is changed for the worker node on k8s 1.13.
2) Node agent restart doesn't happen when CA cert gets changed.

We should definitely address 1) for 2.2 as worker node certificates have 1 year expiration prior to 2.2. @galal-hussein is looking into it.

Number 2) can be punted post 2.2 as CA cert expirati

[2019-03-13 16:59] davidnuzik commented on #18856
Version: Master 2.2 (3/13/19)
Confirmed issue. This now shows the size as 2 GiB:

![image](https://user-images.githubusercontent.com/45179589/54298799-b19fad00-4576-11e9-9c10-9ee0657af447.png)

[2019-03-13 16:59] #18856 closed

[2019-03-13 16:59] rmweir opened #18870 "UI/API Slowness"
_This issue's intended purpose is to centralize related slowness issues_

**What kind of request is this (question/bug/enhancement/feature request):**
bug

**All related issues:**
https://github.com/rancher/rancher/issues/18522
https://github.com/rancher/rancher/issues/18295
https://github.com/rancher/rancher/issues/17101
https://github.com/rancher/rancher/issues/18571

**Fixes**
_NOTE:_ These fix

[2019-03-13 17:12] bentastic27 opened #18871 "automate extra steps when upgrading from 2.0.6"
**What kind of request is this (question/bug/enhancement/feature request):**
feature

**Steps to reproduce (least amount of steps as possible):**
Upgrade Rancher from 2.0.6 to 2.1.6 for example. Customer completed the "preventing network issues" steps, but they still had to remove the network policies to bring back cluster networking

Customer would like for the steps outlined in the docs to be au

[2019-03-13 17:14] alena1108 commented on #18868
- [ ] release RKE and update rancher to non-RC rke release

[2019-03-13 17:15] loganhz commented on #18868
Release windows images 😃

[2019-03-13 17:18] hadifarnoud commented on #18866
[code]

been a few months ago. don't remember exactly but here is what I did:
[code]

and here is my cluster.yml
# If you intened to deploy Kubernetes in an air-gapped environment,
# please consult the documentation on how to configure custom RKE images.
nodes:
- address: 116.202.31.106
  port: "22"
  role:
  - controlplane
  - etcd
  - worker
  hostname_override: master1
  user: root
  docker_soc

[2019-03-13 17:20] JerryCurl commented on #18408
i went back to 2.1.7, same issue.  Also happens when cloning a deployment.

On Thu, Mar 7, 2019 at 12:49 PM Logan <notifications@github.com> wrote:

[2019-03-13 17:21] davidnuzik commented on #18853
Version: Master 2.2 (3/13/19) e090397b4c72
Confirmed issue.
When I edit my GKE cluster (but do not make any changes such as to nodecount or node pool autoscaling which are only editable options as of v2.2) and save the cluster does NOT update any longer.

I see we make a PUT to update but this doesn't cause anything to happen. The cluster does not update as expected.

I smoke tested this area as w

[2019-03-13 17:21] #18853 closed

[2019-03-13 17:22] sangeethah commented on #17982
Assigned to @prachidamle for validation.

[2019-03-13 17:36] kinarashah opened #18872 "test_update_gdns_entry test failure"
https://drone-publish.rancher.io/rancher/rancher/164/2/2

[code]

[2019-03-13 17:44] mrajashree opened #18873 "TF test_admin_access for mcapp"
Test `test_admin_access ` failed in https://drone-publish.rancher.io/rancher/rancher/164/2/2
[code]

[2019-03-13 17:46] kinarashah commented on #18871
@bentastic27 Just to confirm, the namespaces were moved out of user project to `None`, and yet they weren't moved to System Project + network policies weren't correctly removed?

[2019-03-13 17:52] jiaqiluo commented on #18624
Some observations on Rancher: master 3/12

1. see the metric `Ingress Controller Connections` under `Kubernetes Components Metrics` in a custom cluster, but see `Ingress Controller Connections` and `Ingress Controller Request Process Time` under the same section in a DO cluster
2. The metric `API Server Request Latency`'s value does not match in Rancher UI and Grafana UI

[2019-03-13 18:14] cjellick opened #18874 "test_project_owner test failure"
https://drone-publish.rancher.io/rancher/rancher/166/2/2

[code]

[2019-03-13 18:14] davidnuzik commented on #18857
Note when testing you need at least 2 worker nodes (scheduleable nodes)

Version: Master 2.2 (3/13/19) e090397b4c72
Confirmed issue. Follow the steps to reproduce. You will need at least 2 worker nodes now because unschedulable nodes are filtered out (Control Plane and etcd).

While testing watched page as additional worker node provisions. When fully up the gauge ticks appear correct.

[2019-03-13 18:14] #18857 closed

[2019-03-13 18:17] westlywright commented on #18852
@sangeethah that sounds like it may be a UI bug. Were there any project ids in the addProject call? I'll use your repro to test.

[2019-03-13 18:28] deniseschannon opened #18875 "UI: Not showing resource quota on existing or new namespaces after a resource quota is added to an existing project"
master 3/13

1. Create a k8s cluster, it automatically creates a Default project and default namespace
2. Add a resource quota to the "Default" project

Issue #1: Try to view/edit the resource quota on the "default" namespace in the UI. There is no resource quota shown even tho it is in the API.

<img width="953" alt="Screen Shot 2019-03-13 at 11 24 31 AM" src="https://user-images.githubuserconten

[2019-03-13 18:32] sangeethah commented on #18875
@soumyalj Can you confirm if this was the case even in 2.1.7  ?

[2019-03-13 18:42] sangeethah commented on #18852
@westlywright Yes. addProject is called with the projectId that is already present in the GDNS entry.

[2019-03-13 18:51] prachidamle commented on #17982
Validated the recent fix for following usecases:
When the current target is mcapp, running add-project makes the switch
When the current target is project, running update --multi-cluster-app makes the switch

Also validate other commands again.

[2019-03-13 18:51] prachidamle commented on #17982
@alena1108 / @cjellick to close the issue after reviewing the validation.

[2019-03-13 18:56] mrajashree commented on #18873
I think this commit should resolve the TF, it changes the EDIT request on mcapp to get the resource from etcd instead of from cache. https://github.com/rancher/rancher/pull/18858/commits/a83f4f9aefa801f26641b67c8c2712c3764f4305

But leaving it open since this test hasn't always failed, so not sure if this commit actually fixed it

[2019-03-13 19:06] sangeethah opened #18876 "UI - Error seen when editing global DNS entry and removing one of the project targets."
Server version - Build from master - Mar 12.

Steps to reproduce the problem:
Create a GDNS entry that has 2 project targets.
Edit GDNS entry and try to remove 1 of the projects.
There is a addProject and removeProject  action made from UI.
addProject fails .
Why is there a need to call addProjects in this case ?
If I cancel out of this error , removal of project has actually succeeded in this cas

[2019-03-13 19:07] sangeethah commented on #18852
@westlywright Logged this UI issue for tracking the behavior seen with removing of 1 of the projects from a GDNS entry that is pointing to multiple target projects -https://github.com/rancher/rancher/issues/18876

[2019-03-13 19:08] deniseschannon opened #18877 "container default resource limit from the project level is not propagated to existing namespaces"
master 3/13

Resource Quota Workflow

- Add resource quota to default project and set a "Namespace Default Limit"
- Any existing namespaces automatically get these quotas set at the namespace level
- Any new namespace gets these quotas set at the namespace level

Container Default Resource Limit
- Add a container default resource limit to a default project
- Any existing namespace does **NOT** get

[2019-03-13 19:10] rmweir commented on #15986
Hello @ablekh, can you please open a new issue for this?

[2019-03-13 19:15] soumyalj commented on #18875
This issue does not exist in v2.1.7. Resource quotas are shown correctly for default namespace and new namespaces.
Edit Default namespace
<img width="981" alt="Screen Shot 2019-03-13 at 12 14 01 PM" src="https://user-images.githubusercontent.com/18536626/54307699-85415c00-4589-11e9-86e8-cf8d5b738844.png">

Add new namespace
<img width="1417" alt="Screen Shot 2019-03-13 at 12 14 51 PM" src="https:/

[2019-03-13 19:16] sowmyav27 commented on #18822
Verified on `rancher:master`(latest-03/13/2019)
VMware cluster creation - In debug mode, correct values (entered on the Rancher UI Node Template) are being passed to the call to docker-machine.
The node created on the vsphere backend are slightly off for the `Disk Size`. Disk Size on the node template - 20000MB. And Disk Size on the node created on the backend is 19.53 GB.
<img width="641" alt="Sc

[2019-03-13 19:39] #18446 closed

[2019-03-13 19:49] davidnuzik opened #18878 "Packet and Exoscale do not report any error in UI when fail/unable to authenticate"
Version: Master 2.2 (3/13/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Activate Packet and Exoscale node drivers
- Try to add a node pool to each with fake credentails

**Result:**
The UI does not report the HTTP 401 Error from packet
The UI does not report any issues for Exoscale (and I see no

[2019-03-13 20:00] mrajashree commented on #17981
Validated with cli 2.2.0-rc14
Adding members and removing members both works as expected.
[code]

[2019-03-13 20:01] mrajashree commented on #17981
Closing as validated

[2019-03-13 20:01] #17981 closed

[2019-03-13 20:08] superseb opened #18879 "Edit as YAML is shown in the Add node screen after creating cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
* Select Add Cluster, select custom cluster, give it a name and create

**Result:**
* See `Edit as YAML` shown in the top of the next screen where you see the node run command

<img width="1437" alt="Screen Shot 2019-03-13 at 21 05 27" src="https://user-imag

[2019-03-13 20:10] superseb opened #18880 "Show advanced options in Add Cluster also shows advanced options in add node screen"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
* Add cluster, select custom, give it a name, click `Show advanced options` in the bottom right and create the cluster

**Result:**
* Advanced options are also shown in the add node screen where it shows the add node command

**Environment information**
- Ra

[2019-03-13 20:31] cjellick commented on #8433
Do you have any existing services that were created pre-upgrade? They would still be using the old driver. Need to effectively remove them and the volumes they reference and redeploy.

[2019-03-13 20:36] cjellick commented on #18868
release note: For GKE in 2.2 we have “enable Access Management (IAM) API”

[2019-03-13 20:36] ablekh commented on #15986
@rmweir Hi! Sure, I will open a new issue for this problem and link to this one for reference.

[2019-03-13 20:41] ekristen opened #18882 "Adding New Cluster Always Selects Flannel Network Provider"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. Add custom cluster
2. Select any provider other than Flannel
3. Upon clicking next

**Result:**

When you click save it always reverts to Flannel. I'm unable to use any other provider which has made testing ARM64 tough :(

**Environment information**
- R

[2019-03-13 20:43] cjellick commented on #18882
@rmweir can you figure out if this is a backend or frontend issue?

[2019-03-13 20:46] sangeethah commented on #18845
Tested with latest build from master -  85962565  (Mar13)

Steps to reproduce (least amount of steps as possible):

1.Provision RKE cluster (DO) with default options
2.Edit cluster and save, without making any changes.
Cluster does not got to "updating" state anymore.

[2019-03-13 20:46] #18845 closed

[2019-03-13 20:48] ekristen commented on #18882
I can confirm that when I hit save in the UI, the UI greys out fields and switches the dropdown back to Flannel and then proceeds to the next screen. I'm trying to verify via the API that it indeed is saving it as Flannel.

[2019-03-13 20:56] irmann commented on #17617
select `etcd `and `Consrol` Plane`, when you define a node

see
https://www.youtube.com/watch?v=CbKkV09B_Vs

[2019-03-13 21:02] dramich commented on #18843
This is seen when upgrading from 2.1.7 to master prior to this fix. The logs seen are `Failed to find driver and schema on upgrade`. The error comes from the local cluster, no other clusters are required to see the logs.

[2019-03-13 21:02] ekristen commented on #18882
![provider-switch mov](https://user-images.githubusercontent.com/48329/54314350-0d7f2b80-45a1-11e9-85d6-3e6a5f797f79.gif)

[2019-03-13 21:17] davidnuzik opened #18883 "UI: OOM issue when stay on Cluster monitoring page and cannot recover without relaunch of browser/tab"
Version: Master 2.2 (3/13/19) e090397b4c72

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Set up a cluster. In my case this was DO with six nodes (five are workers)
- In chrome, launch dev tools
- In the rancher tab, enable cluster monitoring. When this is ready, expand ALL tabs on the cluster monitor

[2019-03-13 21:29] westlywright commented on #18882
The UI is reseting that field after the resource saves but if you view the chrome network logs (or view the resource in api) the data for `rancherKubernetesEngineConfig.network.plugin` is correct. Normally the you shouldn't even see that reset but something is delaying the progress to the next page. You can verify data is correct in the API UI by selecting the `View In API` option from the action

[2019-03-13 21:32] #18822 closed

[2019-03-13 21:36] sowmyav27 opened #18884 "Vmware - Discrepancy in the disk size on node template and node created on vsphere backend client"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce:**
1. Create a VMware cluster with disk space - 20000MB mentioned in the node template.
2. Verify the node created on the vSphere backend client, and verify its disk space

**Expected Result:**
Node be created with disk space - 20GB

**Actual Result:**
Node is created with disk space 19.53GB

<im

[2019-03-13 21:39] vincent99 commented on #18884
They are using powers of 2, i.e. 1GB = 1024MB instead of 1000MB.  20,000MB "is" 19.53GB.

[2019-03-13 21:44] loganhz commented on #18534
Verified in rc4

rancher-load-images.ps1
rancher-mirror-to-rancher-org.ps1
rancher-save-images.ps1

[code]

[2019-03-13 21:44] #18534 closed

[2019-03-13 21:49] superseb commented on #18866
Okay, that helps. Can you post `docker ps -a` and `docker logs etcd` from `116.202.31.106`? Possibly also `find /var/lib/etcd -ls`, depending if there is anything there.

For future reference, the recommended setup is having 3 nodes with all roles for Rancher HA as that will keep the etcd data replicated.

[2019-03-13 21:58] clayrisser opened #18885 "Support for Kubernetes VolumeSnapshot"
Is there going to be support for kubernetes VolumeSnapshot? Currently what is the best way to backup volumes?

[2019-03-13 22:08] ekristen commented on #18882
Full disclosure, I was on alpha3 at one point, but I *thought* I had cleared everything out when I re-installed rc1, it appears I missed something.

I can definitely state that if you start with alpha3 -> rc1 -> rc2 -> rc3 -> rc4 you will see this behavior.

I'm running through all the rc upgrades right now from scratch just to be sure, but this could very well be a latent issue with alpha3.

Yes

[2019-03-13 22:35] loganhz commented on #18747
Verified `rancher/kubernetes-external-dns:v0.5.11` is in rc4

[code]

[2019-03-13 22:35] #18747 closed

[2019-03-13 22:41] davidnuzik opened #18886 "Function Menu "..." Icons wrong shape in most areas"
Version: Master 2.2 (3/13/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Inspect the UI and notice most function menu icons (The vertical "...") are strectched out. They are supposed to be square.
- Look at the Workloads page. Create one workload. This is an example of one area where we see the co

[2019-03-13 22:44] davidnuzik opened #18887 "Function Menu Icons are not aligned in many areas"
Version: Master 2.2 (3/13/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Inspect areas in the UI that list things by the Grouping view.
- Notice that the function menu icons (Vertical "...") are not aligned horizontally. The best place to see this is on the Projects/Namespaces page:
![image](https

[2019-03-13 22:54] davidnuzik opened #18889 "Regression of #18288: Search not working anywhere with 'a' and sometimes 'z' chars and some numbers"
Version: Master 2.2 (3/13/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Try to use search in various places in the UI notice that when you just enter 'a' it does not seem to work. Many times 'z' does not work as well but sometimes it does. All other chars seem to work.
- Try to search on Cloud Ke

[2019-03-13 22:57] soumyalj commented on #18843
Tested on upgrade from v2.1.7 to master on a HA setup and single node setup. The logs
`Failed to find driver and schema on upgrade` were not present in the logs.

[2019-03-13 22:57] #18843 closed

[2019-03-13 22:57] #18875 closed

[2019-03-13 22:57] davidnuzik opened #18890 "Regression of #18097: Cloud Keys search is not working correctly"
Version: Master 2.2 (3/13/19)

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Have several cloud keys
- Search for something that is not among any of the keys (name, date, etc)
- Also try the letter g and results come up that don't have the letter g

**Result:**
You will still get rsults when searching

[2019-03-13 22:59] loganhz opened #18891 "Support Rancher Logging/Monitoring/Pipeline feature in ARM64"
We introduced arm64 support in https://github.com/rancher/rancher/issues/16461

But Logging/Monitoring/Pipeline features are not working on ARM64.

We need to support them

[2019-03-13 23:11] vincent99 commented on #18889
There's nothing magic about a or z... Searching works fine, it's just being told to search in fields that aren't being displayed.  Specifically for cloud keys, `created` (the ISO-8601 timestamp that always has a `T` and a `Z` in it) and `displayType`, which is the driver ("DigitalOcean", "VMWare vSphere", etc).

[2019-03-13 23:15] jiaqiluo commented on #18747
The bugfix is validated on Rancher: v2.2.0-rc4 in Airgapped HA mode

The mentioned image is included in the rancher-images.txt file and the workload using this image gets deployed successfully

[2019-03-13 23:17] cloudnautique commented on #18838
I have seen this when loading Rancher with lots of clusters.

[2019-03-13 23:17] jiaqiluo commented on #18755
The bugfix is validated on Rancher: v2.2.0-rc4 in Airgapped HA mode

The mentioned image is included in the rancher-images.txt file and the workload using this image gets deployed successfully.

[2019-03-13 23:17] #18755 closed

[2019-03-13 23:29] soumyalj opened #18893 "Expand container default resource limit panel when editing a namespace"
Version: Master

Steps
1. Create a DO cluster
2. Create a project with default resource quota limits and container default resource limits.
3. Create a new namespace.
4. Edit the namespace

On edit, the "container default resource limit" panel should be expanded (just like the resource quota panel)

[2019-03-13 23:35] ebauman opened #18894 "[UI] vSphere node template incorrectly requires 'VM Network' field when using 'Data Store'"
**What kind of request is this (question/bug/enhancement/feature request):** Bug

**Steps to reproduce (least amount of steps as possible):**
1. Create a node template using the vSphere driver. Defaults are fine.
1. Edit the newly-created template, and attempt to specify the Data Store under the Scheduling dropdown.
1. Save the node template. You will receive an error of `Validation failed in API:

[2019-03-13 23:35] rmweir commented on #18522
@jambajaar @ts-mini can you run `kubectl -v=9 get pods --all-namespaces > <output_file> ` then tell us the size of the output file, as well as if there were any timeouts?

[2019-03-13 23:46] cjellick commented on #18522
@ts-mini @jambajaar do you have a kubeconfig that can query the cluster directly without going through rancher as a proxy? If so, can you run `time kubectl get pods --all-namespaces` and let us know the response times?

[2019-03-13 23:57] sowmyav27 commented on #18894
Verified on `rancher:v2.2.0-rc4`.
When the you do not enter any value in field 'Network', value passed - `[]`
But on clicking on edit, and when no value is entered in the 'Network field', value passed is `null` and error `Validation failed in API: vmwarevsphereConfig network=NotNullable 422:` is seen on the UI.

[2019-03-14 00:00] sangeethah commented on #18894
@westlywright Will a fix from UI be sufficient for this ?

[2019-03-14 00:01] cloudnautique opened #18895 "Hit error in local cluster that wont clean up"
Rancher/rancher:v2.2.0-rc4 HA install docker 18.09

I am hitting this error:
https://github.com/rancher/rancher/blame/9be83e8575da8ba6e19468033d5ade407b578eec/pkg/controllers/user/monitoring/operatorHandler.go#L102

My cluster list shows:
![Screen Shot 2019-03-13 at 5 01 17 PM](https://user-images.githubusercontent.com/1989084/54322245-a7e76b00-45b1-11e9-84f0-169b65cae504.png)

[2019-03-14 00:07] westlywright commented on #18890
https://github.com/rancher/ui/pull/2762 should fix this

[2019-03-14 00:15] westlywright commented on #18894
@sangeethah seems like a UI fix may be in order if the UI is setting it null. @loganhz can you verify that the UI is actually the one to set this field to null on edit and if it is can you fix that? We should verify that after save there isn't a bug in the API that set the field null when coming back to us.

[2019-03-14 00:22] loganhz commented on #18894
API returns `null` to UI.

![image](https://user-images.githubusercontent.com/21168270/54322983-3ef40780-4632-11e9-8662-e155258bbffe.png)

@westlywright do you want to me to fix it in UI? We can workaround it. But i think it's an API issue

[2019-03-14 00:25] loganhz commented on #15879
Close in favor https://github.com/rancher/rancher/issues/18894

[2019-03-14 00:25] #15879 closed

[2019-03-14 00:31] ekristen commented on #18882
I'm closing this since the only way I can reproduce it is to install alpha3 first in the upgrade path. I was pointed to the system-tools binary and I'm using it to clear out my cluster right now.

[2019-03-14 00:31] #18882 closed

[2019-03-14 00:33] ekristen commented on #18885
Depends on what's managing volumes for you? I use OpenEBS and use kubectl to create snapshots just fine.

[2019-03-14 00:35] codejamninja commented on #18885
I mean is there a way to manage it from the dashboard.

[2019-03-14 00:41] sangeethah opened #18897 "When updating/creating Global DNS entry , we end up loosing project targets."
Rancher server version - Build from master - 85962565

Steps to reproduce the problem:

Have 2 clusters - cluster1 and cluster2
As Global Admin user ,
Create a Global DNS Provider
Create a Global DNS Entry with targets as project - cluster1/Default.
Edit Global DNS Entry and change target as project - cluster2/Default (remove cluster1/Default).

This operation  fails sometimes.

There is no error

[2019-03-14 00:47] sangeethah commented on #18852
Tested with latest build from master -  Build from master - 8596256
There is no error seen when  editing global DNS entry and pointing to a different project. Bu we see this error intermittently  - https://github.com/rancher/rancher/issues/18897

[2019-03-14 00:47] #18852 closed

[2019-03-14 00:53] sangeethah commented on #18876
Tested with latest build from master:

Create a GDNS entry that has 2 project targets.
Edit GDNS entry and try to remove 1 of the projects.
There is a only removeProject action made from UI  as expected.

[2019-03-14 00:53] #18876 closed

[2019-03-14 01:46] loganhz commented on #18894
Just check with backend developer. We need to pass an empty array or do not pass the array filed if it is empty. I will fix in UI side

[2019-03-14 02:28] ekristen opened #18898 "Consider Maintaining Homebrew Tap for Rancher Tools for MacOS"
**What kind of request is this (question/bug/enhancement/feature request):** feature

I was thinking it might be useful for not only Rancher employees but many open source users if Rancher maintained it's own homebrew tap that could be updated solely through Rancher's existing CI system to provide easy and quick updates to all Rancher CLI based tools. It could also support versions so CLI for Ranc

[2019-03-14 03:15] pmcanseco commented on #15805
I actually got further by changing to the latest stable release at the
time. I only saw the issue specifically on 2.1.0-rc4 and not again since.

On Wed, Mar 13, 2019 at 10:45 AM Sébastien Minne <notifications@github.com>
wrote:

[2019-03-14 03:17] #15805 closed

[2019-03-14 03:29] satomic opened #18899 "if Project Network Isolation enabled, can setup a whitelist for some apps cross the projects?"
I mean, on Rancher UI, we can setup some whitelists for some workloads.
the workloads that in ONE whitelist can achieve network between each other is not isolated.

because in most cases, people want the network between projects are isolated, but in some special cases, some workload shoud have the ability to access other workload directly during the virtual-pod-network.

@loganhz

[2019-03-14 03:37] satomic opened #18900 "how can I get the kubeconfig file without Rancher Auth-proxy?"
often we create a k8s cluster by using Rancher UI, that's easy. And we can also download the `kubeconfig` file on the cluster level easily.

but my question is, the `kubeconfig` file on Rancher UI we can get is a **Rancher Auth-Proxy** kubeconfig file, that means, if the rancher server is down, we can not control our k8s cluster anymore.

I know that we can get the `kubecfg-kube-admin.yaml` file i

[2019-03-14 03:45] alena1108 commented on #18900
@satomic "Make clusters reachable without master" feature will be available in rancher 2.2. Here is the ticket for the ref:

https://github.com/rancher/rancher/issues/13698

[2019-03-14 04:03] satomic commented on #18900
@alena1108 cool, thanks! can not wait for the 2.2 GA anymore

[2019-03-14 04:54] #18865 closed

[2019-03-14 04:55] yusufmendes commented on #18865
I resolved this problem adjusting windows server 1803 time and date settings

[2019-03-14 04:56] alena1108 commented on #18900
@satomic np! Closing the issue as a duplicate of 13698

[2019-03-14 04:56] #18900 closed

[2019-03-14 05:14] yusufmendes commented on #18824
@thxCode Thanks my issue is similar with #16074. So This the reason why following containers immediately exited ?
**9673a0c99730 rancher/hyperkube:v1.11.6-nanoserver-1803 "pwsh.exe -f 'c:\Pro…" About an hour ago Exited (0) About a minute ago kubernetes-binaries
84cf1403b40a rancher/flannel-cni:v0.0.1-nanoserver-1803 "pwsh.exe -f 'c:\Pro…" About an hour ago Exited (0) About a minute ago cni-binarie

[2019-03-14 05:33] thxCode commented on #18824
Both `flannedl-cni` and `hyperkube` are just using for unpackaging the executable binaries into a host, and then `rancher-agent` will take over them. @yusufmendes

[2019-03-14 06:01] alena1108 commented on #18805
Update: for CA cert rotation node agent restart wasn't needed. But there were some other fixes done to support `Rotate the CA and all Service certificates`:

* kube-api-auth container restart on CA change
* user cluster kubeconfig regeneration

To fully validate the issue, we have to make sure cluster is accessible from embedded kubectl after cert rotation is finished.

[2019-03-14 07:00] bearmoo-repo opened #18901 "Trying to use Authorized Endpoints does create cert correctly?"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Have an existing cluster
edit cluster
Enable Authorized Cluster Endpoints
Fillin FQDN
Add cert
click on save

**Result:**
apiVersion: v1
kind: Config
clusters:
- name: "test-cluster"
  cluster:
    server: "https://192.168.0.8/k8s/clusters/c-aa"
    api-vers

[2019-03-14 07:28] paulmorabito opened #18902 "Upgrading K8S causes error"
Hi,

I have a two node cluster set up in HA mode. I recently upgraded from Rancher 2.1.6 to 2.1.7. At the time, I noticed that the supported Kubernetes versions had changed so I decided to move from 1.11.4 to 1.13.6.

Using RKE, this failed with the following error:

`
--
FATA[0136] [workerPlane] Failed to bring up Worker Plane: Failed to verify healthcheck: Failed to check https://localhost:10250

[2019-03-14 08:38] bjornmagnusson opened #18903 "2.1.7: cluster stuck in Updating after Rancher upgrade"
This cluster is currently Updating.

Failed to get Kubernetes server version: Get https://10.210.36.110:6443/version?timeout=32s: can not build dialer to c-gqxjb:m-e1cf59755c38
Querying that URL in a browser works fine though.
`{
major: "1",
minor: "11",
gitVersion: "v1.11.6",
gitCommit: "b1d75deca493a24a2f87eb1efde1a569e52fc8d9",
gitTreeState: "clean",
buildDate: "2018-12-16T04:30:10Z",
goVersion

[2019-03-14 09:39] linuxmail commented on #18867
hi,

an update from me. I searched a while and found a lot of issues with TLD ".local". So I removed the DNS entry from our local DNS server and it works instantly, after zone update / refresh.

[2019-03-14 09:39] #18867 closed

[2019-03-14 09:54] #18444 closed

[2019-03-14 09:56] superseb commented on #18712
The settings are no longer needed on clusters created in v2.0.7 and higher as described on https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/horitzontal-pod-autoscaler/.

Please let me know if you can supply the steps to reproduce so we can investigate other issues with default cluster creation.

[2019-03-14 09:56] #18712 closed

[2019-03-14 10:41] loganhz commented on #18553
@davidnuzik fixed and moved into 2.2

[2019-03-14 11:00] superseb opened #18904 "Release system-tools in archive"
**What kind of request is this (question/bug/enhancement/feature request):**
task

**Steps to reproduce (least amount of steps as possible):**
Release system-tools in an archive, similar to CLI and RKE

[2019-03-14 11:11] superseb commented on #18898
I don't think solving a packaging method for one platform is beneficial to the other platforms. We are moving to archives for RKE as described in https://github.com/rancher/rke/issues/911 and will do the same for system-tools here https://github.com/rancher/rancher/issues/18904.

Besides that, we have had RKE added to brew manually and now its in some auto update cycle but not in the release proce

[2019-03-14 11:16] #18539 closed

[2019-03-14 11:19] superseb commented on #18607
Rancher 2 uses port 80 and 443, it seems like you are using a 1.6 example (especially with the DB environment variables) and changed `rancher/server` to `rancher/rancher`. Can you check https://rancher.com/docs/rancher/v2.x/en/installation/single-node/single-node-install-external-lb/ and see if that solves your issue?

[2019-03-14 11:19] #18607 closed

[2019-03-14 11:38] janeczku opened #18905 "[Pipeline] Registry deployment fails due to incorrect image tag in air-gapped installation"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Set up a self-hosted Docker registry
2. Follow all steps of air-gapped install instructions (including configuration of the system-default-registry setting)
3. Note, that `rancher-load-images.sh` script will store the registry image in the private registr

[2019-03-14 12:22] Mayeu commented on #16787
Any idea when this will be integrated?

In the mean time, is one supposed to be able to import the cluster via a custom importe?

[2019-03-14 12:23] McSlow opened #18906 "Project-Scoped Secrets can only handle kind:opaque"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
Create a Project Scoped Secret

**Result:**
It's fixed to kind:opaque

**Other details that may be helpful:**
Reason for this request: Ceph for example needs secrets in a particular namespace to allow creating/attaching storage. So it would be nice t

[2019-03-14 12:23] paulmorabito commented on #18902
I think I've found the cause of the issue. My version of RKE doesn't support the version of K8S I'm trying to install so I'll wait for a newer release.

[2019-03-14 12:23] #18902 closed

[2019-03-14 13:47] JohnDavidLarsen commented on #18300
May be coincidence, But I ran into this issue a little after I upgraded and rebooted. Discovered that my docker actually launched the previous version of rancher/rancher on boot instead of the new one. docker rm -f old  and docker start new fixed it.

[2019-03-14 14:16] aiwantaozi opened #18908 "UI keep loading in save button but not send request to backend in logging"
Step to reproduce:
1. configure invalid custom tag with key <source>
2. click save button.
3. server return 422 code
4. continue to click save again
5. UI hang and save button turn to "Saving" when UI does not send the request to backend at the second time click

[2019-03-14 14:25] sangeethah commented on #18805
@bmdepesa Validate this issue on a cluster with 1 control node , 3 etcd nodes and 3 worker nodes.
Also validate this on a custom cluster as well as a EC2 node provider cluster.

[2019-03-14 14:31] aiwantaozi opened #18909 "add flush interval for advance mode"
Add flush interval configure for logging advance mode in UI

[2019-03-14 15:05] superseb commented on #17877
Can you let me know if this still occurs on latest rc and if so, the steps to reproduce?

[2019-03-14 15:05] #17877 closed

[2019-03-14 15:05] jonnylocke commented on #18847
Hi

Regarding the usability of the navigation menu, I'd like to make the following suggestion...

At the moment the menu is like a 3 in 1 function depending on whether you are at a global level, cluster or within the cluster. This could be made clearer by applying css changes to provide a different colour menu depending on what level you are at. Perhaps each cluster could be auto assigned a differ

[2019-03-14 15:22] TheYkk commented on #17313
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
i create cluster and set etcd , worker , console
and i wait but app is broken
gime me error on after login

**Result:**

**Other details that may be helpful:**

Logs-> https://gist.github.com/TheYkk/6b6f1fb67f0848b6a8dbf28888772da4

**Environment information

[2019-03-14 15:24] TheYkk opened #18910 "Error connecting to WebSocket"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
i create cluster and set etcd , worker , console
and i wait but app is broken
gime me error on after login

**Result:**

**Other details that may be helpful:**

Logs-> https://gist.github.com/TheYkk/6b6f1fb67f0848b6a8dbf28888772da4

**Environment information

[2019-03-14 15:42] ekristen opened #18912 "Custom Cluster Creation Failing - etcd remains unhealthy - ARM64 is the target"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. Create new custom cluster
2. Select control plane, etcd, worker
3. Copy docker command
4. SSH to ARM64 device
5. Execute docker command

**Result:**
[code]

**Other details that may be helpful:**

Everything seems to be ok. etcd even seems to be up.

The

[2019-03-14 15:45] superseb commented on #18912
Was the node properly cleaned before adding? It seems to re-use data based on the log. If this is brand new device, then something else is going on.

[2019-03-14 15:46] ekristen commented on #18912
Oh that could be it! I attempted once before, forgot I need to delete data :( -- one minute.

[2019-03-14 15:47] ekristen commented on #18912
@superseb what is the best way to ensure it is clean?

[2019-03-14 15:49] superseb commented on #18912
https://rancher.com/docs/rancher/v2.x/en/admin-settings/removing-rancher/user-cluster-nodes/#cleaning-a-node-manually

[2019-03-14 15:56] jiaqiluo commented on #18624
The bugfix validation is on Rancher: master 3/13
Cluster: custom RKE cluster, 1 control plane, 3 etcd node, 4 worker

1.  there are `Ingress Controller Connections` and `Ingress Controller Request Process Time` presenting under `Kubernetes Components Metrics` section
2. Since the precision and scale of Y-direction of graphs in Rancher's dashboard  are different from those in Grafana's dashboard,

[2019-03-14 15:56] #18624 closed

[2019-03-14 16:04] davidnuzik commented on #18847
@jonnylocke I think it's an idea worth considering in the future. Would you mind creating a new issue of kind/enhancement (label)? We might make an epic later around UI changes / possible redesign.

[2019-03-14 16:08] superseb commented on #15918
This is usually caused by configured domains having a wildcard DNS record catching the request due to ndots config in pods. Let us know if you need additional help on this.

[2019-03-14 16:08] #15918 closed

[2019-03-14 16:17] portfield-slash opened #18913 "How do I change the rancher-server timezone settings?"
**What kind of request is this (question/bug/enhancement/feature request):**
question

**Steps to reproduce (least amount of steps as possible):**
I want to use kubernetes cronjob. My timezone setting is UTC+9.
I believe that it is necessary to change the timezone setting of the rancher-server container.
Is there any other good way?

**Result:**
-

**Other details that may be helpful:**
-

**Envir

[2019-03-14 16:28] hadifarnoud commented on #18866
`docker logs etcd` was too large for gist. here it is: https://filebin.ca/4aB6yuTbKlcJ/etcd.log
kern.log: https://filebin.ca/4aB5UBIFZFIY/kern.log

`docker ps -a`
[code]

`find /var/lib/etcd -ls`
[code]

[2019-03-14 16:31] TheYkk opened #18914 "Rancher pipleline is broken"
when i try create pipelines its says `Setting up jenkins. If it is not deployed, this can take a few minutes.
` but take 20 minute no effect . and i look logs

i found it
[code]
and
[code]

full log

[code]

[2019-03-14 16:34] cjellick commented on #18895
Id like this looked at for 2.2.0

[2019-03-14 16:47] davidnuzik commented on #18792
@lvuch Per our conversation re-opening.

[2019-03-14 16:51] davidnuzik commented on #18889
Closing issue as this will be tested during testing of related issue #18890 I did not initially understand the nature of the problem. See Vincent's comment. This issue is essentially a duplicate of #18890

[2019-03-14 16:51] #18889 closed

[2019-03-14 16:51] ekristen commented on #18912
Ok, that fixed that error, but now I'm getting the following error.

[code]

[2019-03-14 16:52] davidnuzik commented on #18890
To include in testing: searching just 'a' and 'z' should work as expected now. That issue is the same as this. See #18889 for details.

[2019-03-14 16:52] ekristen commented on #18912
I can open a new issue if that's better.

[2019-03-14 16:54] AdrienKuhn commented on #17854
Looks like we have the exact same issue with Rancher 2.2-rc3 and we aren't able to use LDAP authentication.

We are using JumpCloud too.

[2019-03-14 16:56] moelsayed commented on #18838
@soumyalj Current workflow when handling mixed providers:
- If the cluster is configured with s3 configuration, and you try to restore a local backup: this is now handled automatically
- if the cluster is configured with local configuration, and you try to restore an s3 backup: this is not currently possible and you get a message saying:  `"failed to prepare backup: restoring S3 backups with no cl

[2019-03-14 16:56] superseb commented on #18912
It can take some time to pull the images for the pods, if it does not go away after a certain time, please open a new issue and supply the logs of the kubelet.

[2019-03-14 16:56] #18912 closed

[2019-03-14 17:04] ekristen commented on #18912
For those who find this later. The node wasn't cleaned properly.

[2019-03-14 17:08] ekristen opened #18915 "Add Rancher Agent Check for Compatibility with Cluster Settings"
**What kind of request is this (question/bug/enhancement/feature request):** feature request

I think it would be great for the rancher agent to have a compatibility  check that runs immediately to ensure that the Architecture that the agent is being deployed to is supported by the cluster settings.

If the agent is not compatible then it could report that directly to the API / UI so the end user

[2019-03-14 17:13] kinarashah commented on #17147
@gitlawr Thanks for fixing!

Following things work as expected,
- `list-answers`,
- validation on upgrade
- upgrading with answers work as expected.
- waiting for state to be active for upgrade/rollback

1. For upgrading with strategy, the strategy actually is a part of the mcapp object. Just passing through cli doesn't work since it doesn't update the object.
when I do, all apps are upgraded at o

[2019-03-14 17:17] ekristen commented on #18898
I understand. You could solve the other platforms at the same time by hosting your own apt repo, rpm repo etc ...

I suppose it depends on the number of users that are on MacOS vs other platforms.

[2019-03-14 17:40] davidnuzik commented on #18894
Version: Master 2.2 (3/14/19) 6875782b6131
This is now fixed. When we do this we pass an empty array for `network: []`.
I can create or edit a vsphere template, specify the datastore and leave the network field empty (null) without any issues now.

I ensured HTTP/API looks correct now.

[2019-03-14 17:40] #18894 closed

[2019-03-14 17:40] bmdepesa opened #18917 "rancher-agent fails to start on custom cluster control plane"
rancher/rancher:master-a88a44ed 3/14
HA install
EC2 nodes

When creating a custom cluster, the rancher-agent on the control plane fails to start, with error:
[code]

This causes the worker and etcd nodes to fail to register to the cluster.

Other RKE clusters are provisioning correctly (DO, EC2)

[2019-03-14 17:43] davidnuzik commented on #18893
Version: Master 2.2 (3/14/19) 6875782b6131

Follow the steps to reproduce. Have settings set for Container Default Resource Limit for the project, but when create namespace it is NOT automatically expanded for me.
![image](https://user-images.githubusercontent.com/45179589/54379075-ef1f3b80-4645-11e9-866a-e9fb345657d6.png)

[2019-03-14 17:49] davidnuzik commented on #18890
Version: Master 2.2 (3/14/19) 6875782b6131
Confirmed issue. This is now working as expected.
I can also search the letter 'a' and 'z' due to the fixes and not get unexpected results. I also tried searching various numbers and confirmed that we are only searching the group name and cloud credential name.

For example, I can search for "Amazon" and I get all entries under the Amazon group. I think t

[2019-03-14 17:49] #18890 closed

[2019-03-14 17:56] ekristen commented on #18891
From my perspective Logging and Monitoring are of higher priority to support.

[2019-03-14 17:58] bmdepesa commented on #18917
User error - wrong command for control plane registration

[2019-03-14 17:58] #18917 closed

[2019-03-14 18:03] bmdepesa commented on #18805
rancher/rancher:master 3/14

* Created ec2 cluster with 1 control node, 3 etcd, and 3 workers.
* Rotated certs - successfully changed
* Worker node restart successfully
* kubeconfig regeneration was successful
* Embedded kubectl is functional
* Remote kubectl is functional

* Created custom cluster with 1 control node, 1 etcd, and 1 worker.
* Rotated certs - successfully changed
* Worker node rest

[2019-03-14 18:03] #18805 closed

[2019-03-14 18:08] sowmyav27 opened #18918 "'Failed to download etcd snapshot' error seen while trying to restore from backup"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**
1. Create cluster with one node with all roles - etcd, ctrl plane, worker
2. Automatic backup occurs.
3. Scale up one node. (all roles)
4. Take a backup
5. Scale up one more node (all roles)
6. Take a backup
7. Restore to the backup taken in Step 2.

**Expec

[2019-03-14 18:10] jambajaar opened #18919 "Make nginx-ingress controller handle bad certificate gracefully"
Rancher version:
*v2.1.3*

Problem:
Looks like nginx-ingress controller goes into a crash loop when it is not able to load a certificate.  The specific case is when a user tries to use a TLS certificate with a private key that is passphrase protected. nginx-ingress goes into a crash loop.

It should validate that the certificate is valid and gracefully handle when it cannot load a certificate.

[c

[2019-03-14 18:30] soumyalj opened #18920 "Do not allow restoring to a S3 backup when local backup is configured and provide appropriate error message"
Version: Master build from March 14

Steps:
1. Create a cluster with S3 backup config
2. Create few backups B1, B2
3. Edit and change to local backup config
4. Perform a restore to B1 which is a S3 backup

After restore, cluster is stuck in "Updating" state with the message below:
[code]

We should not allow restoring to a S3 backup when local backup is configured. It should error out at the API l

[2019-03-14 18:32] alena1108 commented on #18920
Making a check on the API level should be sufficient enough.

[2019-03-14 18:43] JohnDavidLarsen opened #18921 "Should cache system library chart in Rancher server"
Now that monitoring has been upgraded to more than just a Catalog App/Charts it is still using the rancher catalog to deploy which doesn't work in air-gapped environments.
Even if I add an internal catalog with rancher-monitoring catalog, it won't install correctly as it needs many internal elements. Can this be packaged/documented in a such a way to allow air-gapped installation?

[2019-03-14 18:44] davidnuzik commented on #18847
Version: Master 2.2 (3/14/19) 6875782b6131 (Single node)
Version: Master 2.2 (3/14/19 (3 node HA Setup, so we can see GDNS entries under global Tools menu)
BOTH single and HA setup were validated for each below. I made sure we didn't break anything per my concerns in the issue description. Ensure links to Catalogs are correct for each level, etc.

I tested all the requested changes:

At Global Lev

[2019-03-14 18:46] alena1108 commented on #18921
@JohnDavidLarsen could you post the exact RC version you've hit the issue on?

[2019-03-14 18:48] soumyalj commented on #18838
Tested with master build from March 14th.

Create a cluster with local backup config
Create few backups B1, B2
Edit and change to S3 backup config
Perform a backup and ensure it goes to S3
Perform a restore to B1.

Restore succeeded with no issues. Cluster was functional.

[2019-03-14 19:02] daxmc99 commented on #18874
See also https://drone-publish.rancher.io/rancher/rancher/176/2/2

[2019-03-14 19:05] davidnuzik commented on #16969
I think this is just a symptom of Chrome choosing to disconnect us after a while for self-signed certs.

[2019-03-14 19:06] davidnuzik commented on #17160
I am closing this issue. We are not going to remove the scope from catalogs.

[2019-03-14 19:06] #17160 closed

[2019-03-14 19:10] davidnuzik commented on #17548
I believe this was already fixed in another issue so I am moving to to-test status

[2019-03-14 19:12] davidnuzik commented on #17652
Assigned to me to test and look at the new setup again to see if this is resolved.

[2019-03-14 19:13] davidnuzik commented on #17674
Assigned to me and with to-test status so I can take another look at this later with new changes in this area.

[2019-03-14 19:16] daxmc99 opened #18924 "test_project_owner test failure"
https://drone-publish.rancher.io/rancher/rancher/176/2/2

[code]

[2019-03-14 19:21] davidnuzik commented on #18127
Still happening in latest master (3/14/19)

[2019-03-14 19:24] daxmc99 commented on #18924
Closed, see https://github.com/rancher/rancher/issues/18874

[2019-03-14 19:24] #18924 closed

[2019-03-14 19:26] JohnDavidLarsen commented on #18921
Currently testing 2.2.0-rc4 released yesterday, hadn't tested previous 2.2.0-rc in airgrapped environment.

Currently error I get is
failed to ensure catalog "catalog://?catalog=system-library&template=rancher-monitoring&version=0.0.2" failed to find by catalog by ID "catalog://?catalog=system-library&template=rancher-monitoring&version=0.0.2"

Alternatively if I install through the custom catalog

[2019-03-14 19:39] alena1108 opened #18925 "Mark CloudFlare DNS provider as experimental in the UI"
We should mark CloudFlare as experimental in UI for 2.2 due to https://github.com/rancher/rancher/issues/17742

Also it would make sense to put it at the end of the provider's list on the UI dialog.

[2019-03-14 19:44] davidnuzik opened #18926 "When edit AKS cluster but make no changes it will go to Updating state"
Version: Master 2.2 (3/14/19) 6875782b6131

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create an AKS cluster. I used defaults
- Once the cluster is fully provisioned, edit it, make zero changes. Save each time when prompted.

**Result:**
The cluster will go into an Updating state for a bit (30 seco

[2019-03-14 19:53] davidnuzik commented on #18893
Version: Master 2.2 (3/14/19) 6875782b6131
Confirmed issue. The Container Default Resource Limit section is now automatically opened upon namespace creation or edit.

[2019-03-14 19:53] #18893 closed

[2019-03-14 19:55] davidnuzik commented on #18792
Version: Master 2.2 (3/14/19) HA Setup

Confirmed issue resolved. The Global text is now readable whether on dark or light theme. I ensured the other issues are resolved as well (see comments above). I smoke tested the global menu and did not identify any issues.
![image](https://user-images.githubusercontent.com/45179589/54387359-6d84d900-4658-11e9-8954-444dd6bdcd34.png)

[2019-03-14 19:55] #18792 closed

[2019-03-14 20:07] Oats87 commented on #18221
This is actually an issue with vSphere and not Rancher/Kubernetes, fully.

If you power off a VM in the vSphere UI then "Delete from disk", it will delete all of the attached VMDK's to it. I am not sure what Kubernetes/Rancher could do to prevent this, other than maybe add logic into Rancher to drain the node/ensure detached VMDK's before deleting it.

[2019-03-14 20:12] #18872 closed

[2019-03-14 20:33] patrick0057 opened #18927 "FreeIPA group memberships not showing up in cluster membership auto complete list"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1) setup FreeIPA authentication
2) attempt to add a group to a cluster membership

**Result:**
No groups show up in the auto complete list

**Other details that may be helpful:**
Ping me for logs or additional information

**Environment information**
- Ranch

[2019-03-14 20:47] davidnuzik commented on #18883
Version: Master 2.2 (3/14/19) 6875782b6131

Confirmed issue. This has been improved sufficiently enough for us to close the issue. There is still a memory leak, however it is much slower now.

After an hour of testing again I see my memory continues to increase but at a slower rate. After 60 minutes we are using approx 2GB for our memory footprint and before this was about 8GB, an improvement of a

[2019-03-14 20:47] #18883 closed

[2019-03-14 20:48] jiaqiluo commented on #18921
HI @JohnDavidLarsen the v2.2.0-rc4 is good for the monitoring feature, you are almost there but there are two more steps to make it happen:
1. Clone the `system-charts` repo and run the git server in your air-gapped environment such that Rancher server can reach the repo to use those charts. You need to make sure the `master` branch exists in your lcoal repo, the link you provided points to `dev`

[2019-03-14 20:52] davidnuzik opened #18929 "UI Monitoring: Memory leak can cause browser to crash after a couple of hours"
Version: Master 2.2 (3/14/19) 6875782b6131

Related to #18883

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Set up a cluster. In my case this was DO with six nodes (five are workers)
- In the rancher tab, enable cluster monitoring. When this is ready, expand ALL tabs on the cluster monitoring page. I

[2019-03-14 21:03] JohnDavidLarsen commented on #18921
Thanks I get an error that there are already is a system-library though

[2019-03-14 21:10] scotthesterberg opened #18931 "Air Gap HA Install (stable) does not work"
I am using version 1.13 of kubectl and version 1.11 of kubernetes (deployed per instructions from Rancher docs by RKE). I can get Rancher 2.x to deploy and work no problem via the non-air gap install method. Unfortunately the air-gap method (stable) does not work and seems to need fixing.
Edit: forgot to mention this on RHEL 7.5 operating system.

The command to deploy the certificate manager, 'ku

[2019-03-14 21:10] davidnuzik commented on #18929
I made updates to the issue; the memory footprint does not exceed 2GB, so this only addresses the fact that we still technically have a memory leak and would like to request further improvement if feasible.

[2019-03-14 21:12] sangeethah opened #18932 "GDNS - When nodes where MCAPPs are powered down , they continue to be programmed in external DNS."
Rancher server version - Build from master

HA setup with 2 DO clusters.
Cluster1 - node1 , node2, node3 (all nodes have all roles)
Cluster2 - node21 , node22, node23 (all nodes have all roles)

Steps to reproduce the problem:
Create globalDnsProvider with root domain - "test.com"
Deploy MCAPP in Cluster1 and Cluster2 with ingress having the gdns annotations.
Create a globalDns entry with fqdn - "

[2019-03-14 21:13] devfelipereis commented on #18733
I have the same in v2.1.7

[2019-03-14 21:26] alena1108 commented on #18931
@scotthesterberg could you post Rancher version you are hitting the issue on.

[2019-03-14 21:28] jiaqiluo commented on #18921
@JohnDavidLarsen  Could you try this:
1.  replace `<your-server>` with your real address and open it in the browser
[code]
2. click on `edit` on the upper right corner -> change the URL in the editing page -> show request -> send request -> follow self link
3. switch back to your Rancher UI, and now the `system-library` should show up in the list of catalogs.

[2019-03-14 21:30] davidnuzik commented on #18883
UPDATE: Crashes can still happen but takes longer. The #18929 issue was updated to mention this. This is likely all the time we have for in v2.2 so this should be acceptable but if you are on the page for hours without navigating away you can still get a crash.

[2019-03-14 21:32] alena1108 commented on #18733
Happens for the clusters having k8s 1.13

[2019-03-14 21:33] scotthesterberg commented on #18931
This would be the latest stable rancher, which from my online install appears to be 2.1.7.

I have not tried kubectl 1.11, but I encountered this exact same issue running on a machine with kubectl 1.5 (against a kubernetes 1.11 cluster), so I doubt it is a kubectl issue. I can give it a try if it would help though.

[2019-03-14 21:33] davidnuzik opened #18933 "UI Global Menu: Make it easier to see which cluster is selected when picking a project"
Version: Master 2.2 (3/14/19) 6875782b6131

**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement

**Steps to reproduce (least amount of steps as possible):**
- Have a couple of clusters. At the global level, open the Global Menu and hover over a cluster and then go to the right to mouseover projects.
- Notice that there is no color to indicate which cluster we h

[2019-03-14 21:36] davidnuzik commented on #17217
I've moved this to v2.3 milestone for consideration.

[2019-03-14 21:53] davidnuzik commented on #17652
Version: Master 2.2 (3/14/19) 6875782b6131

I am closing this issue; this was already fixed in a related issue. You can now see the cluster AND project each time you make a selection with the new drop-down menu.
![image](https://user-images.githubusercontent.com/45179589/54393983-e5f39600-4668-11e9-9a89-465d662903b4.png)

[2019-03-14 21:53] #17652 closed

[2019-03-14 21:55] davidnuzik commented on #17548
Version: Master 2.2 (3/14/19) 6875782b6131
This was already fixed in a related issue, but I checked again. GDNS Provider/Entry have correct titles when editing and show the Save button now, not Create. This is fixed.

[2019-03-14 21:55] #17548 closed

[2019-03-14 22:14] davidnuzik commented on #18926
Version: Master 2.2 (3/14/19) 64eaa284cb5a
Confirmed issue is resolved. When I edit now without making changes the AKS cluster does NOT go into an updating state, as expected. I tried with an AKS cluster that was created with defaults and without defaults. Both work -- neither update when I edit and make no changes and save.

[2019-03-14 22:14] #18926 closed

[2019-03-14 22:21] davidnuzik commented on #18925
Version: Master 2.2 (3/14/19) 64eaa284cb5a
Confirmed issue. The UI now shows some subtext under the CloudFlare logo and text to indicate this is experimental. It has moved to last (very right) on the list.

Not picked state:
![image](https://user-images.githubusercontent.com/45179589/54395322-c199b880-466c-11e9-885f-4a8ed287f154.png)

Picked state:
![image](https://user-images.githubusercontent.co

[2019-03-14 22:21] #18925 closed

[2019-03-14 22:36] soumyalj opened #18935 "Etcd snapshots have .part file along with the actual snapshot"
Version: Master build from March 14th

Steps:
1. Create a single node cluster with local backup config of 1hr creation time
2. Wait for the first automatic snapshot to be taken

The snapshots have a .part in /opt/rke/etcd-snapshots directory
[code]
3. Take a manual backup, the .part file is present here for the manual backup too
[code]

[2019-03-14 22:41] ankur111 commented on #18847
What is the impact on 2.2 docs because of these changes?

[2019-03-14 22:53] prachidamle opened #18936 "GlobalDNS: Make Global DNS Providers pluggable"
Global DNS Provider support currently supports following providers from the https://github.com/kubernetes-incubator/external-dns project:

- AWS Route53
- CloudFlare
- AliDNS

We should make the Global DNS Provider framework pluggable, so that more providers or custom providers can be added without a requiring us to build new Rancher release.

[2019-03-14 22:53] davidnuzik commented on #18847
Based on my review of Rancher 2.x docs this should only have a very minimal impact on https://rancher.com/docs/rancher/v2.x/en/catalog/ which probably needs to be updated anyway for Multi-Cluster app (not sure who is working on that currently).

Custom drivers are also new so if we are creating a guide to discuss there is just the small navigation change to it being under the tools menu.

[2019-03-14 23:00] davidnuzik commented on #18847
Thanks @cjellick ^ The referenced doc issue will address these changes.
Closing this issue again.

[2019-03-14 23:00] #18847 closed

[2019-03-14 23:00] cjellick commented on #18847
tracking docs separately here https://github.com/rancher/rancher/issues/18847

[2019-03-14 23:01] sowmyav27 commented on #18838
Verified on `rancher:master`.
**Steps taken:**

1. Create a EC2 cluster on Rancher. (1 etcd/1 control plane/1 worker nodes)
2. Default, first backup (Backup#1) will be taken.
3. Scale upto 3 etcd nodes.
4. Take a backup. (Backup#2)
5. Edit cluster and change the Recurring etcd Snapshot Creation Period to 1 hour. Click on Save.
6. After the cluster has finished updating, restore from back - to the

[2019-03-14 23:01] #18838 closed

[2019-03-14 23:02] prachidamle opened #18937 "UI (GlobalDNS Entry): Add the helper tip about annotation to Ingress, for both mcapp and projects."
We need to a UI change to show the tip about adding the annotation label ( rancher.io/globalDNS.hostname ) on the ingress, for both - Multi Cluster App or target projects.

Currently this tip appears only if the user selects the "target projects" option. But this annotation is required even in case of Multi Cluster App.

Also the text should be changed to: "To finalize programming for your Global

[2019-03-14 23:11] alena1108 commented on #18937
This item came via doc review feedback.

[2019-03-14 23:13] prachidamle opened #18938 "GlobalDNSProvider RBAC: Add a new role to add read-only members"
We need to enhance the RBAC for GlobalDNSProvider and let the creator of the GlobalDNSProvider add users with "read-only" role as members.

The usecase for this is: A user who has created a GlobalDNSProvider, may want to share this with other users only for creating globalDNS entries using this provider. But not for managing the provider itself (members should not be able to edit/delete the provid

[2019-03-14 23:19] sangeethah opened #18939 "UI - Projects not added when creating a new Global DNS entry."
Rancher server version - Build from master - 6b0bed4

Steps to reproduce the problem:

Create a GDNS Entry by adding a project target .

Once GDNS Entry is created , there is no project associated with it.

UI sends empty projects when creating GDNS entry - `projectIds: []`

[2019-03-14 23:29] erikwilson commented on #18901
Hi @bearmoo-repo, it looks like you did not fill out the FQDN, because I do not see an FQDN context generated. Could you please show the advanced options setting for the cluster? eg:

<img width="1624" alt="Screen Shot 2019-03-14 at 4 28 28 PM" src="https://user-images.githubusercontent.com/1999874/54398171-40472380-4676-11e9-9536-4e170a3485cc.png">

Thanks!

[2019-03-14 23:29] cjellick commented on #18868
release note extra step needed for air gap because of system-library catalog

[2019-03-14 23:29] sangeethah opened #18941 "Editing GDNS entry (associated with project) and adding a new project , results in GDNS entry associated with only the new project."
Rancher version - Build from master

Steps to reproduce the problem:
Create a GDNS entry associated with project say p1.
Edit GDNS entry and add another project say p2.

After Edit is done , GDNS entry  gets associated with only p2.

[2019-03-14 23:46] moelsayed commented on #18935
Part files are generated by the etcdctl command: https://github.com/etcd-io/etcd/blob/release-3.2/etcdctl/ctlv3/command/snapshot_command.go#L110-L146

[2019-03-14 23:49] sowmyav27 opened #18942 "The backup taken on the Rancher UI, gets deleted"
**What kind of request is this (question/bug/enhancement/feature request):** bug

**Steps to reproduce (least amount of steps as possible):**

1. Create cluster with 3 nodes - 1 etcd, 1 ctrl plane, 1 worker nodes
2. Automatic backup occurs after the cluster comes to `Active` state.
3. Scale upto 2 etcd nodes.
4. Take a backup

**Expected Result:**
Backup should be taken successfully and be shown i

[2019-03-15 00:08] sangeethah commented on #18897
Tested with latest build from master - 6b0bed4d

Issue seen with  loosing project ID , When Global DNS Entry is edited  and changed to a different project isnot seen anymore.

But we ecncounter these 2 issues:
https://github.com/rancher/rancher/issues/18939
https://github.com/rancher/rancher/issues/18941

[2019-03-15 00:08] #18897 closed

[2019-03-15 00:20] moelsayed commented on #18918
@sowmyav27 I couldn't reproduce this. I tried about 2 dozen times. I was only able to hit it once and it recovered immediately in the second run.

[2019-03-15 00:53] cjellick commented on #18901
@erikwilson he also said that this was a "custom" cluster. Those are technically RKE clusters, but they're a little different from rke clusters provisioned via a node driver. Would that have any impact on this feature working?

[2019-03-15 01:07] cjellick commented on #17924
can this be closed @rawmind0 ?

[2019-03-15 01:10] loganhz commented on #18929
@davidnuzik I found something else we can improve. moved into 2.2.

[2019-03-15 01:30] erikwilson commented on #18901
@cjellick at the point where we decide to provide fqdn or node contexts for kubeconfig we don't care about the type of cluster (https://github.com/rancher/rancher/blob/master/pkg/kubeconfig/kubeconfig.go#L120).

We also try to validate the cluster type but are not very restrictive so that tests would work (https://github.com/rancher/rancher/blob/master/pkg/api/customization/cluster/validator.go#L3

[2019-03-15 01:30] leochan007 opened #18943 "create prometheus in catalog show error."
pod has unbound immediate PersistentVolumeClaims

--

rancher client v2.1.3
k8s: v1.12.3

[2019-03-15 02:19] sangeethah commented on #18941
Tested with Rancher version 547cbe87
Editing GDNS entry (associated with project) and adding a new project results in the new project getting added to the GDNS entry without loosing the existing project.

[2019-03-15 02:19] #18941 closed

[2019-03-15 02:27] LucasHCruz opened #18944 "[Question] Why pipeline network is too slow"
**Steps to reproduce (least amount of steps as possible):**
1 - I've created a cluster for CI/CD and I've installed a Sonatype Nexus from helm to manage my artifacts.
2 - I'm using maven to manage my project dependencies.
3 - I configured a pipeline in another cluster with a step to build my artifact and generate the Docker image.
4 - My script does a "mvn clean install" command.

When the pipelin

[2019-03-15 02:54] gabrielcalderon commented on #15311
I'm running into the same issue. Rancher Server is working fine with HTTP/HTTPS proxy, but when pipelines get triggered the Jenkins container has no knowledge of the proxy and thus fails.

I tested by created a simple stage that pulls **docker:latest** image and it fails.

[2019-03-15 03:12] gitlawr commented on #17147
@kinarashah
1. To update the batch-size and interval the `--upgrade-strategy rolling-update` is needed
2. They are named as `--upgrade-batch-size/interval` so that it is consistent with the flags for the install command.
3. The `--rollback` is a bool flag so no revision is needed for it, is there anything I'm missing?

[2019-03-15 03:47] sinkcoder commented on #17354
@bdue Hey!Could you tell me how you solve this issue in detail?I see the same message when running pipelines, but I don't konw the server's time and which timezone should I set.Thank you.

[2019-03-15 03:48] ducas opened #18945 "Feature Request: Suspend/Disable and Enable a Cronjob"
**What kind of request is this (question/bug/enhancement/feature request):**
Feature request

**Steps to reproduce (least amount of steps as possible):**
1. Deploy a cronjob to kubernetes
2. Open cronjob workload in rancher UI

**Result:**
* Can not disable/suspend a cronjob that is enabled
* Can not enable a cronjob that is suspended

**Other details that may be helpful:**
As an operator
I want t

[2019-03-15 04:20] soumyalj commented on #18920
Tested with master build from March 14th evening.
Performed the steps above as mentioned in the issue:

The following error message is shown in UI:

<img width="350" alt="Screen Shot 2019-03-14 at 8 55 27 PM" src="https://user-images.githubusercontent.com/18536626/54408236-5963ca80-469e-11e9-8b0e-2b2fceada631.png">

There is no relevant error message displayed.

In the inspect call,  `405 : Method

[2019-03-15 04:57] rohithsharmaks commented on #18819
I found that our company has script to kill instances if instance tag is not defined with "Owner" tag.
Now I got question that how to pass vm instance tags from rancher? The label which provides rancher doesn't delegate to VM instances. Only displayName is tagged in VM instances.

[2019-03-15 05:02] vishnuvpotti opened #18946 "Rancher 2.x UI allows creation of multiple projects with same name"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1) Install Rancher 2.x
2) Create Project .
3. Create project with same name as in Step 2.

**Result:**
Rancher UI allows creation of multiple projects with same names.

**Other details that may be helpful:**

**Environment information**
- Rancher version (`r

[2019-03-15 05:03] sangeethah opened #18947 "Global DNS Entries continue to be associated with projects/Mcapp when the cluster on which the projects/Mcapp is present is deleted."
Rancher server version - Build from master - Mar 14 - 547cbe87

Steps to reproduce the problem:
Create 2 clusters - cluster1 and cluster2.
Scenario1:
Create a GDNS entry that points to cluster1/p1 and cluster2/p2.
Delete cluster1 and cluster2.
GDNS entry continues to points to cluster2/p1 and cluster2/p2.

Expected Behavior:
cluster2/p1 and cluster2/p2 should be removed from GDNS entry .

Scenario

[2019-03-15 05:22] cjellick commented on #18946
This is intentional. It’s designed to be multi-tenant. Tenant X shouldn’t be restricted to picking a project name that hasn’t been used by Tenants A-W.

[2019-03-15 05:22] #18946 closed

[2019-03-15 05:39] vishnuvpotti commented on #18946
Ok. But should we allow to create in same cluster? Won't that be causing issues.
Even in multi tenant environment, no two teams have same project names.

[2019-03-15 06:05] vincent99 commented on #18946
As Craig said, it is not unique and does not need to be; is just a display name.  Two unrelated groups can be sharing the same cluster and know nothing about each other.  Since projects don't "cost" anything, enforcing uniqueness just leads to early users claiming all the "good" names.

[2019-03-15 06:40] netkiller commented on #13314
# Ubuntu 18.10

docker run -d --restart=unless-stopped -p 80:80 -p 443:443 --name=rancher rancher/rancher:latest

[code]

## delete microk8s

[code]

## Now

[code]

[2019-03-15 07:58] #17924 closed

[2019-03-15 09:29] nickelzhang commented on #16314
i hava this problem too

Rancher | v2.1.6
-- | --
User Interface | v2.1.19
Helm | v2.10.0-rancher5
Machine | v0.15.0-rancher1-1

[2019-03-15 09:38] superseb commented on #18860
There are no results from the overlay check. If that's OK too, usually it ends up being blocked by firewalld, but that is only on EL based OS' like RHEL and CentOS. Are you running that OS?

[2019-03-15 09:46] #15262 closed

[2019-03-15 09:48] superseb commented on #16220
`waiting for server-url setting to be set` is Rancher waiting for you to login and set the server-url, and unrelated to this issue.

The cluster-agent should be the first target of root causing the original issue, it either can;t connect to the configured server-url (see the container logs) or it can't be scheduled/was evicted from a node.

[2019-03-15 09:48] #16220 closed

[2019-03-15 09:49] canhnt opened #18948 "User can create pod run as root in K8s cluster v1.13.4 that enabled PSP RunAsNonRoot"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
A k8s v1.13.4 cluster with enabled PSP via Rancher UI.
- PSP that aims to prevent running pods as root user:
[code]
- Run the following command:
[code]
**Result:**
- Expect: due to enforced PSP, the pod creation should fail.
- Actual: got the root shell comm

[2019-03-15 09:50] superseb commented on #16366
Going to merge this into https://github.com/rancher/rancher/issues/15786, please supply steps to reproduce there.

[2019-03-15 09:50] #16366 closed

[2019-03-15 09:51] canhnt commented on #18948
I cannot produce above bug in the other cluster running k8s v1.12.6, v1.12.3.

[2019-03-15 09:59] loganhz commented on #18553
[code]

Move it out from 2.2 as there is still something need to be changed.

[2019-03-15 10:05] #16992 closed

[2019-03-15 10:12] superseb commented on #16099
Closing due to inactivity

[2019-03-15 10:12] #16099 closed

[2019-03-15 10:32] ThunderRush opened #18949 "vSphere Cloud Provider is unable to detect VMs that are not on the root level of a DC"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
Set up Rancher 2.1.7 on a HA Cluster
Create a new Cluster via vSphere driver on a folder that isn't the root of the DC (In this example, the machines are in Productive/DHQ/Non-Prod
Use a custom cloud prrovider, and edit the cluster YAML:

[code]

Create a ne

[2019-03-15 10:37] tomasbartalos opened #18950 "DNS resolution fails to upgraded services"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
Create 2 services - Master and Worker, both services with scale 2 (total 4 containers).
Service Master is executing ping to both Worker container instances in a loop - spark-test-worker-1, spark-test-worker-2
[code]

Upgrade the Worker service (just confirm

[2019-03-15 11:09] kasunsjc opened #18951 "Missing Region For adding existing AKS cluster"
**What kind of request is this (question/bug/enhancement/feature request):**
Enhancement or Bug

**Steps to reproduce (least amount of steps as possible):**
Adding existing AKS cluster. Southeast Asia is not available for location selector

**Result:**

**Other details that may be helpful:**

**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown botto

[2019-03-15 11:14] superseb commented on #18951
This was added in https://github.com/rancher/rancher/issues/17054 and will be in the next release

[2019-03-15 11:14] #18951 closed

[2019-03-15 11:18] superseb commented on #18901
Besides this, the main issue here is that the provided CA certificate is not base64 encoded in the generated kubeconfig.

[2019-03-15 11:56] JohnDavidLarsen commented on #18921
Awesome, thanks that worked. So mostly a documentation issue. Glad to know I can customize those core catalogs now.

[2019-03-15 12:52] kingsd041 commented on #16461
Version: master 2.2 (3/15/19)
Confirmed fix.
According to https://github.com/rancherlabs/the-ranch/issues/215 has completed the Rancher ARM64 test, all test cases passed, I will close this issue

[2019-03-15 12:52] #16461 closed

[2019-03-15 12:53] kingsd041 commented on #16518
Version: master 2.2 (3/15/19)
Confirmed fix.
According to https://github.com/rancherlabs/the-ranch/issues/215 has completed the Rancher ARM64 test, all test cases passed, I will close this issue

[2019-03-15 12:53] #16518 closed

[2019-03-15 12:58] LinAnt commented on #18221
https://github.com/kubernetes/kubernetes/issues/75342

[2019-03-15 12:59] solovyevt opened #18952 "Toleration value is not quoted in Helm Charts"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Add Rook Helm repository (stable) as a catalog: https://charts.rook.io/stable
2. Deploy rook-ceph chart with suggested tolerations:

[code]

**Result:**
Rancher throws an error during the deployment:
[code]

**Other details that may be helpful:**

The err

[2019-03-15 13:12] BenWUKFast commented on #17997
Hey I still get this issue, with the following information can you confirm if I'm doing anything wrong?

[code]

[code]
*Note:* Use of kubeadm import and node ports.

**foo.jsonnet**
[code]

[2019-03-15 13:43] bentastic27 commented on #18871
@kinarashah I will ask them to specify and will be back on this. This was there last zendesk reply just for reference. They did specify that they completed that step, but for some reason networking did not work until they disabled the project network isolation. At this point it looks as though they would like to make it so that you can set this ahead of the upgrade in way way or another if that's

[2019-03-15 14:30] adalga opened #18953 "Multicast Support"
I have rancher cluster with Canal Network Provider. I have an application which needs multicast network support. I have done some research and found that Weave is providing multicast support. Is Canal also providing this? If not is there a way to change my network provider with Weave?

My Rancher version: v2.1.2
Bare Metal Ubuntu 16.04 host
Kubernetes version: v1.12.1
Docker version:17.03.2

[2019-03-15 14:35] erikwilson commented on #18901
That is a good point, thank you @superseb. The original intention was that the UI would send the data to the API already encoded, and possibly being able to handle encoded data pasted into it from another kubeconfig. I think there was some information lost there where we need to revisit the design and testing.

[2019-03-15 14:54] JohnDavidLarsen commented on #18921
Possibly related, should I put in another ticket. The Global-DNS system doesn't even appear in the Tools dropdown in the air-gapped system. I'm assuming it couldn't find the library on first boot, but I don't see a way of retriggering it, I've tried to restarting the rancher/rancher container.

[2019-03-15 15:26] sangeethah opened #18954 "UI - When trying to addProjects to a GDNS entry which has projects the user does not have access to , the project gets removed from the GDNS entry."
Rancher server version - Build from master - Mar 14

Steps to reproduce the problem:
Create a DO cluster - mytest1 with following projects:

test1 -> user1 is NOT a project member
test2 -> user2 is project member
test3 -> user2 is project member

Create a GDNS entry with project targets as test1 and test2 and add user2 as owner.
Log in as "user2"

GDNS entry shows project it does not have access t

[2019-03-15 15:46] cjellick commented on #18901
So does this feature not work at all with certificates as its currently impletemend? @erikwilson @bmdepesa @superseb

[2019-03-15 15:55] cjellick commented on #18935
@moelsayed what does that mean? are you saying its ok that they are there?

[2019-03-15 15:56] cjellick commented on #18933
moving out of release

[2019-03-15 15:56] cjellick commented on #18933
accidentally closed by misclick

[2019-03-15 15:57] davidnuzik commented on #18492
We believe the issue is resolved but do not have the means to validate currently and we have not heard back from the author. I've been asked to close this issue.

[2019-03-15 15:57] #18492 closed

[2019-03-15 15:58] cjellick commented on #18887
moving out

[2019-03-15 15:59] cjellick commented on #18886
moving out

[2019-03-15 16:00] moelsayed commented on #18935
@cjellick No. We were discussing why/how these file are created. I put the source for reference.

[2019-03-15 16:01] cjellick commented on #18761
moving out. not a blocker

[2019-03-15 16:03] cjellick commented on #18878
moving out. not a blocker

[2019-03-15 16:05] thxCode commented on #18895
#### Case 1 (Single Node)
- Set up a new local cluster(2C4G) via `minikube version: v0.35.0` with the following script:
[code]
- Run a new nginx container as the LB in host
- Add a fake DNS(rancher.localhost) resolution to host and VM created by minikube
- Init tiller and install cert-manager
- Install rancher via helm with the following script:
[code]
- Enable Monitoring -> didn't see any errors

[2019-03-15 16:22] alena1108 commented on #18942
Moving out of the release as per @sowmyav27 the issue was seen only once.

[2019-03-15 16:35] cjellick commented on #18901
@bearmoo-repo thaanks for opening this issue. We are wokring on a fix and it will be in the release

[2019-03-15 16:38] bearmoo-repo commented on #18901
Thanks!

[2019-03-15 16:49] nakayamam opened #18956 "kubeflow catalog does not enable chainer"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1. import GKE gpu cluster
1. select "Enable Chainer Operator"
1. deploy Rancher kubeflow catalog
1. run [sample chainer code(train_mnist.py)](https://github.com/chainer/chainer/blob/master/examples/mnist/train_mnist.py) on jyupyter hub

![image](https://user

[2019-03-15 18:18] #17982 closed

[2019-03-15 18:20] steebchen commented on #18626
Upgraded to v2.2.0-rc5, seems to work fine now.

[2019-03-15 18:20] #18626 closed

[2019-03-15 19:14] daxmc99 commented on #18571
Steps to reproduce:
1. Download helm minecraft chart
2. Configure with
[code]
3. Install completes successfully
4. Upgrade installation with new parameter
[code]

[2019-03-15 19:26] davidnuzik opened #18960 "Add hyphen to %multiClusterAppsPage.header%"
Version: Master 3/15/19

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Please change %multiClusterAppsPage.header% so there is hyphen:
Multi-Cluster Apps

**Result:**
Based on discussion with engineering we want to make this "Multi-Cluster Apps" across the product, marketing material, etc.

[2019-03-15 19:50] Hantse commented on #18860
Debian 9.

[2019-03-15 20:03] davidnuzik commented on #18929
Version: Master 2.2 (3/15/19) 21d45c0f8e83
Tested again with latest update (latest master).
Start at 10:05am Local time
- 10:00am baseline without monitoring 120MB memory footprint
- 10:06am when monitoring enabled and charts open initial 157MB footprint
- 10:20am (15 mins) 220MB footprint
- 10:35am (30mins) 231MB footprint
- 11:05am (1hr) 257MB footprint (way better!)
- 12:05pm (2hrs) 305MB footp

[2019-03-15 20:03] #18929 closed

[2019-03-15 20:04] davidnuzik commented on #18883
UPDATE: That issue was closed. Even for several hours I no longer see the memory leak and in fact about 300MB is the peak and it can even go down after a while. I am fairly certain this is fully fixed.

[2019-03-15 20:42] kinarashah commented on #17147
@gitlawr

Discussed 3 with @sangeethah, we shouldn't automatically rollback to previous one when upgrade fails, so can just remove `--rollback` during upgrade.
Also, she suggested we shouldn't rollback to previous revision on rollback as well, to keep it consistent with API.

[2019-03-15 20:55] Doctor-Who commented on #18645
Hi,

Exactly same problem with 2.2.0rc6 version of Rancher/Rancher and Agent for ARM64
Rancher server deployed successfully on Rasperry Pi3 / openSUSE Leap OS
Try to adding a node --etcd --controlplane --worker

Doesn't work. Thanks for you help

[code]

[2019-03-15 20:55] ts-mini commented on #18522
sorry im bad at notifications
real	0m3.113s
user	0m0.544s
sys	0m0.140s
14:55:35 product

[2019-03-15 20:56] ts-mini commented on #18522
i rm -rf'ed ~/.kube/cache and ran it again
real	0m2.954s
user	0m0.522s
sys	0m0.108s

[2019-03-15 21:00] prachidamle commented on #18947
Tested that the actual DNS records on the GlobalDNS entry and the A and TXT records in the External-DNS (route53 in above case) get removed when projects/mcapp is deleted.

So the change needed is just catching these events inorder to edit the GlobalDNS entry CR in etcd at API level.

[2019-03-15 21:07] ts-mini commented on #18522
I misread your request.  The above response was from my kubectl on my laptop (pointing through the rancher proxy).

This is ssh'd to the control node, kubectl'ing directly 'on' the cluster:
root@control-80:/etc/kubernetes/ssl# time kubectl --kubeconfig kubecfg-kube-scheduler.yaml get pods --all-namespaces > /dev/null

real	0m0.354s
user	0m0.401s
sys	0m0.045s
root@control-80:/etc/kubernetes/ssl# ti

[2019-03-15 21:58] kinarashah commented on #18239
Saw another `test_kontainer_driver_lifecycle` failure,
https://drone-pr.rancher.io/rancher/rancher/690/2/2

[2019-03-15 22:34] riaan53 opened #18962 "Metrics view on rancher UI units looks incorrect, out by few factors (rc6)"
**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
1. Setup a 3 node cluster and enable cluster level metrics on RC6.
2. Go to cluster metrics and node metrics on Rancher UI

**Result:**
1. Ingress controller avg response time is not 1000 seconds as show in graph.
<img width="897" alt="Screenshot 2019-03-16

[2019-03-15 23:11] erikwilson commented on #18901
Yes, thank you @bearmoo-repo! And to clarify my misunderstanding, Authorized Endpoints should work well with Custom clusters, they are integrated with RKE and Rancher.

[2019-03-15 23:22] alena1108 commented on #18962
@riaan53 could you elaborate on Rancher version?

[2019-03-15 23:26] riaan53 commented on #18962
Hi @alena1108 ,

I used the latest RC build (rc6) to test out the new monitoring - looking forward to the release!

https://github.com/rancher/rancher/releases/tag/v2.2.0-rc6

I used the docker image: rancher/rancher:v2.2.0-rc6

[2019-03-15 23:34] davidnuzik opened #18963 "Change cloud key name helptext"
Version: Master 2.2 (3/15/19) 21d45c0f8e83

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add a new node template or cloud key. Notice %newSecret.name.placeholder% mentions "e.g. api-key"

**Result:**
This is confusing to end-users. Some have reported they though they plug an api key in here.
Recommen

[2019-03-15 23:50] alena1108 commented on #18953
@adalga Weave CNI driver support will be added as a part of Rancher 2.2. Please refer to this ticket for more info: https://github.com/rancher/rancher/issues/12909

[2019-03-15 23:58] cjellick commented on #18901
Fixed this in two ways:
1. on the backend, when we create teh kubeconfig, we will base64 encode the cert, as we should be doing
2. we added validation that if you set the cacert, you must provide an fqdn

[2019-03-16 00:27] sangeethah commented on #18939
Tested with latest build from master

Create a GDNS Entry by adding couple of project target .
Once GDNS Entry is created  , it is associated with the projects as expected.

[2019-03-16 00:27] #18939 closed

[2019-03-16 00:33] davidnuzik commented on #18963
Version: Master 2.2 (3/15/19) 21d45c0f8e83
Confirmed issue. In the UI the helptext for "Name" for the cloud credential now says "e.g. production-credentials" rather than "api-key" so users should not be confused any longer.
![image](https://user-images.githubusercontent.com/45179589/54468306-61784480-4748-11e9-9896-2bda24601440.png)

[2019-03-16 00:33] #18963 closed

[2019-03-16 00:35] sangeethah commented on #18954
Tested with latest build from master:

Steps to reproduce the problem:
Create a DO cluster - mytest1 with following projects:

test1 -> user1 is NOT a project member
test2 -> user2 is project member
test3 -> user2 is project member

Create a GDNS entry with project targets as test1 and test2 and add user2 as owner.
Log in as "user2"

GDNS entry shows project it does not have access to - test1 as n

[2019-03-16 00:35] #18954 closed

[2019-03-16 00:39] davidnuzik commented on #18960
Version: Master 2.2 (3/15/19) 21d45c0f8e83

%multiClusterAppsPage.header% was now changed to include the hyphen.
![image](https://user-images.githubusercontent.com/45179589/54468324-95ec0080-4748-11e9-98df-e628c6f0b97c.png)

Some other areas of the product had used "multi cluster" as well and Wes fixed these areas so we include the hyphen I looked around and ensured these changes took effect as we

[2019-03-16 00:39] #18960 closed

[2019-03-16 00:41] davidnuzik commented on #18937
Version: Master 2.2 (3/15/19) 21d45c0f8e83

The tip has been improved per the recommendation. It now is also shown whether Multi-Cluster App or Projects radio button is chosen:
![image](https://user-images.githubusercontent.com/45179589/54468409-86b98280-4749-11e9-91ec-ee108fd7693f.png)

[2019-03-16 00:41] #18937 closed

[2019-03-16 00:48] soumyalj opened #18964 "Backup fails after editing a cluster with S3/Minio config as secret key is lost"
Version: Upgrade from v2.1.7 to v2.2.0-rc6

Steps

1. Create a DO cluster in v2.1.7 in k8s v1.13.4-rancher1-1
2. Upgrade to v2.2.0-rc6.
3. Create a new cluster with S3 config. Verify backup works
4. Edit the cluster and change backup creation period.
5. Perform manual backup.

Backup fails as secret key is lost. Snapshot is stuck in "Updating" state in the UI

Another use case:

1. Create a DO clu

[2019-03-16 00:57] daxmc99 opened #18965 "Data race on catalog bringup"
Observed a data race on catalog bringup on 8b52d6539

Reproduce with `-race` go flag
Observed when refreshing catalog after enabling all helm/stable & helm/incubator
Specifically searching/ waiting for minecraft chart 😛
[code]

[2019-03-16 01:05] davidnuzik opened #18966 "Cannot upgrade GKE k8s version when perform HA upgrade from v2.1.7 to v2.2.0-rc6"
Version: Master 3/15/19 HA Setup

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Create a v2.1.7 HA setup rancher
- Create a GKE cluster with v1.11.7-gke.12
- Upgrade the HA set via rancher-latest helm repo verison 2.2.0-rc6:
`helm upgrade rancher rancher-latest/rancher --version 2.2.0-rc6 --namespace

[2019-03-16 01:09] davidnuzik opened #18967 "%pagination.member% shows up when pick 1 project from GDNS Target projects drop-down"
Version: Master 2.2 (3/15/19) 21d45c0f8e83 **w/ --add-local=true flag**

**What kind of request is this (question/bug/enhancement/feature request):**
Bug

**Steps to reproduce (least amount of steps as possible):**
- Add ONE project from the Target Projects drop down under GDNS entry.
Notice, %pagination.member% shows up.

**Result:**
This is similar to #18373 which was closed because this was rem

[2019-03-16 01:20] alena1108 commented on #18964
Looks like `secret_key: ""` (secretKey in the API) gets reset to empty on update. It seems very similar to the issue we've fixed for Global DNS provider credentials. @westlywright the fix most likely should be "do not send the secretKey on api update when the field is empty"

[2019-03-16 02:37] cjellick commented on #18966
Was this tested in non HA? Is gke k8s version upgrade supported in 2.1.x line?

[2019-03-16 02:38] loganhz commented on #18966
@cjellick yes, we need an UI fix for it

[2019-03-16 04:12] cjellick commented on #18645
Will investigate

[2019-03-16 04:21] cjellick commented on #18952
This might be fixed by some changes to answer processing coming in 2.2

[2019-03-16 04:26] cjellick commented on #18931
@jiaqiluo ever hit this error in your air gap testing? can you spot anything obviously wrong?

[2019-03-16 04:29] cjellick commented on #18921
global dns is not supported in a couple scenarios:
1. if you are in a single node rancher server install
2. youve disabled the local cluster
this is because we need to deploy the controller for it into the local cluster. if we detect youre in one of those setups, we hide the option

It won't really work in an airgap env regardless bc we only support dns providers that are on the public internet at

[2019-03-16 04:32] cjellick commented on #18913
Change the timezone of the underlying host?

[2019-03-16 04:34] cjellick commented on #18914
can you supply the version information that is requested in the issue template?

[2019-03-16 04:36] TheYkk commented on #18914
**Environment information**
- Rancher version (`rancher/rancher`/`rancher/server` image tag or shown bottom left in the UI):

Rancher | v2.1.7
-- | --
User Interface | v2.1.21

- Installation option (single install/HA): **single**

**Cluster information**
- Cluster type (Hosted/Infrastructure Provider/Custom/Imported): custom
- Machine type (cloud/VM/metal) and specifications (CPU/memory): vm
- Ku

[2019-03-16 04:38] loganhz commented on #17147
@kinarashah v2.2.0-rc16 is ready for verification

[2019-03-16 04:53] alena1108 commented on #18964
It happens because api sends `?replace=true` on a cluster.update. Even when secretKey is not passed as a param when empty, with replace=true the object-to-update gets overridden. I'll try to see if setting some norman api metadata would correct the situation.

[2019-03-16 06:06] cjellick commented on #18256
another failutre https://drone-pr.rancher.io/rancher/rancher/706/1/2

[2019-03-16 09:59] adalga commented on #18953
@alena1108 I saw that and I wonder if I would be able to switch my CNI provider with Weave. Would I ?

[2019-03-16 11:34] armanriazi commented on #18832
/open

[2019-03-16 11:42] armanriazi commented on #18832
@superseb  I solved  value of server-url/v3/settings/cacerts and intermediate CA but I still getting  this error (I saw issues similar but there was't full solver and I think it not granular nature system yet)
Thanks friends.
INFO: Environment: CATTLE_ADDRESS=10.42.0.14 CATTLE_CA_CHECKSUM=f4400caeebc0e481b1edfa15e5ba19b9756bc132d0a9448dc82479b718f8cdc9 CATTLE_CLUSTER=true CATTLE_INTERNAL_ADDRESS=

[2019-03-16 11:53] armanriazi commented on #16338
/close

[2019-03-16 12:36] riaan53 opened #18971 "Grafana monitoring does not show that a node is down and the node count gets messed up (v2.2.0-rc6)"
**What kind of request is this (question/bug/enhancement/feature request):**
bug

**Steps to reproduce (least amount of steps as possible):**
1 .Setup a 3 node cluster (etcd, controlplane and worker on all) and enable cluster level metrics on RC6.
2. Go to cluster metrics Rancher UI and open Grafana view to show the node count
3. Shut down a node
4. Wait until k8s settle
5. Make sure all component

[2019-03-16 14:59] cjellick commented on #18964
I vote for #2 for now and open a new issue for #3.

[2019-03-16 15:57] galal-hussein commented on #18645
@somegituser123 I can't reproduce the issue with v2.2.0-rc6, can you make sure that you cleaned up the host before adding them to the cluster.

[2019-03-16 16:31] 8427003 opened #18972 "How the features "redeploy" implementation?"
**What kind of request is this (question):**
How the features "redeploy" implementation. someboy know?

[2019-03-16 16:32] cjellick commented on #18972
What specifically do you want to know or are you curious about?

[2019-03-16 17:13] 8427003 commented on #18972
@cjellick
![image](https://user-images.githubusercontent.com/5475231/54478645-83102380-484f-11e9-8fcf-cbb146335fb8.png)
the features "redeploy" deployment: it keeps the "deployment"  not recreated,  create new pods, then delete then old one. it's so cool. how to trigger the action.
how to do it  if using `kubectl apply -f ...` ? (Do you understand what I said, my English is poor)

[2019-03-16 17:16] waphire commented on #15989
I had no luck changing / adding system_images in cluster.yml to sdevd's image to make hyperkube work with ZFS. The WEBUI would revert the changes everytime I tried to change the yaml. After one more hour of trying, I came up with this _sort of a_ hack: To make this work for the time being, until zfs-utils are included in the image. You can do this:

1. `docker` image pull sdevd/hyperkube`
2. `dock