[2016-12-04 18:38] galindro commented on #5586
@aemneina @deniseschannon

Please, re-open this thread. This is happening with my env too.

Rancher version: 1.1.4
S.O.: ROS 0.7.0 (for booth server and hosts)

As I mentioned [here](https://forums.rancher.com/t/managed-container-stuck-in-starting-networking/2420/10), this being happening aftter I've restarted all of the Network Agent containers on all of my hosts.

Network Agent logs
`

04/12/201

[2016-12-04 18:53] galindro commented on #5586
I was able to workarround the problem by restarting the registered hosts

[2016-12-04 18:56] aemneina commented on #5586
@galindro rancher 1.1.x isnt meant to support docker > 1.11. If you can reproduce this with RancherOS (or any other OS) using docker 1.10/1.11, please open a new ticket.

[2016-12-04 19:01] aemneina commented on #6910
That stacktrace looks like there's an issue communicating with one of your hosts. Are they all in 'active' state in the hosts screen, when this happens?

[2016-12-04 19:04] galindro commented on #5586
Rancher v.1.2 will support docker > 1.11 ?

[2016-12-04 19:04] aemneina commented on #6815
so have docker logs for the rancher server you could share? Can you also share the output of `docker info` from the server host?

[2016-12-04 19:17] aemneina commented on #6857
@miv how do your hosts look, in the hosts tab? Are they all active?

[2016-12-04 19:23] aemneina commented on #5586
@galindro yep! Glad you have your setup currently working.

[2016-12-04 20:13] superseb commented on #6900
Ok so I tried from scratch and this works:

- Set the Host Registration URL on your rancher server to the private IP address of the server.
- Add Azure host through the GUI and match all the fields (i.e. Resource Group, Subnet, VNet etc) with the current server, enter a free private IP address and tick "Use Private IP To Connect".
- Wait for the machine to be provisioned and registered with the Pr

[2016-12-04 20:32] aemneina commented on #5370
@MinaDesu are the host names on your nodes unique?

[2016-12-04 20:41] dcnl1980 opened #6911 "not showing all docker containers"
**Rancher Version:**
1.2.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
CoreOS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Just Rancher with mysql backend
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Clean installation, deleted the /var/lib/rancher and /var/lib/docker
**

[2016-12-04 21:15] amit213 commented on #6727
@vincent99 For most part we are okay with load balancer service listening onto the internal NICs / network. However, specific topologies warrant external entities (like GSLBs) to connect to external IP where a rancher exposed load balancer service is running. The rancher loadbalancer service would have to be bound to public IP, and then fan out the incoming request to private IPs / containers that

[2016-12-05 01:13] truongdo opened #6912 "Cannot add new host "Failed to subscribeGet ...""
This is a newly created rancher server 1.2.0.

When I added a new host, which run docker 1.12.1 ubuntu 16.10, I got the following error on meta-data containers,

12/5/2016 10:08:36 AMtime="2016-12-05T01:08:36Z" level=fatal msg="Failed to subscribeGet http://url/v2-beta: dial tcp: lookup rurl on 127.0.1.1:53: read udp 127.0.0.1:35758->127.0.1.1:53: read: connection refused"

Noted that 3 other host

[2016-12-05 01:33] rezonant opened #6913 "K8S: Shells/Logs Close Randomly after 1.2 upgrade"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**

Ubuntu 16.04.1 LTS (with KVM) (4.4.0) / Digital Ocean

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal DB via container

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4.6

**Steps to Reproduce:**
R

[2016-12-05 02:52] truongdo opened #6914 "Expected state running but got error: Timeout getting IP address"
Start once container cannot get IP address, the error is

Expected state running but got error: Timeout getting IP address

It does not always happen, and sometimes it automatically fixed after reconcile several times.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.0` Cattle: `v0.174.3` UI: `v1.2.34` |
|Access|`github` `admin`|
|Orchestration|`Cattle`|
|Route|`stack.index`|

[2016-12-05 03:23] trendsoa opened #6915 "volume Data too long for column 'external_id' at row 1"
**Rancher Version:**
1.2
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS 7.1
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
just fresh install and click upgrade "network-services"
**Results:**
time=

[2016-12-05 03:29] khanhicetea opened #6916 "Can't pull docker image from private registry (GCR) after upgrading 1.2"
**Rancher Version:**
1.2
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node (external DB)
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
After upgrading Rancher from v1.1 to v1.2, it can't pull docker image f

[2016-12-05 03:35] trendsoa commented on #6915
oh..it's due to my other mesos test, will close it.

[2016-12-05 03:35] #6915 closed

[2016-12-05 03:39] wiki-qi commented on #6909
rancher server 占用cpu 太高

[2016-12-05 03:40] HackerWilson commented on #6876
@deniseschannon just like this:
<img width="651" alt="default" src="https://cloud.githubusercontent.com/assets/7730203/20873131/9329c8e8-badf-11e6-8bd9-41b598605128.png">

[2016-12-05 03:45] khanhicetea commented on #6916
Btw, I think the issue caused by wrong processing repository name from image name

Image name : `asia.gcr.io/[project_name]/[image_name]:[tag_name]` => Repository name shoudb be `asia.gcr.io` instead of `asia.gcr.io/[project_name]/[image_name]`

[2016-12-05 03:50] trendsoa opened #6917 "Failed to evaluate networking: Bringing up networking: netplugin failed but error parsing"
**Rancher Version:**
1.2
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS7.1
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Signle Node with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
just fresh install
**Results:**
1, Expected state running but got error: Ti

[2016-12-05 04:22] deviousgeek commented on #6917
+1 Same issue here.

[2016-12-05 05:26] vincent99 commented on #6876
@HackerWilson I suspect your external DB was not configured with the [charset set to UTF-8](http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/#launching-rancher-server---single-container---external-database).

[2016-12-05 07:58] omegarus commented on #6910
@aemneina Yes always in active state.
I double checked all network setting and test with iperf between all 3 servers. No packet drops. Everything looks good.

[2016-12-05 08:00] roffe opened #6918 "Rancher issues with PXC cluster again"
**Rancher Version:**
1.2
**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
3 MGMT nodes
3 Percona PXC 5.6 nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Setup 3 management nodes of rancher.
3 percona PXC nodes (

[2016-12-05 08:07] samattridge commented on #6858
@cjellick I'll try and sort out the logs this morning. Something that may help you diagnose the issue is that I just read issue #6897 regarding changing docker location from the default of /var/lib/docker. On the machine that is seeing the error I have symbolic linked that location so we can run it on another drive without changing too much configuration.  I'm assuming this could be the reason why

[2016-12-05 08:18] patientayo opened #6919 "Rancher UI: Chinese support"
**Rancher Version:**
rancher server v1.0.2

Hi dear,
Does rancher ui support Chinese? add a pair of environment which have a Chinese value then I get warning 'conflict!', do I need to change mysql character set of rancher ?

[2016-12-05 08:28] pschirch opened #6920 "New service can not use an existing global load balancer by selector rule"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

Steps based on [official docs](https://docs.rancher.com/rancher/

[2016-12-05 08:47] patientayo commented on #6919
I just convert mysql character to utf8 add it works.

[2016-12-05 08:47] #6919 closed

[2016-12-05 09:02] clicman opened #6921 "Null in haptoxy config on load balancer after upgrade to rancher 1.2"
**Rancher Version:** 1.1.4=>1.2.0 upgrade

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** ubuntu 14.04 on azure cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node. internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** attle

**Steps to Reproduce:**
Create load balancer with custom confi

[2016-12-05 09:25] marvinwankersteen commented on #6858
@deniseschannon I double checked the ip address. On the rancher-server I added the host with the environment CATTLE_AGENT_IP and the right host ip address. Its not the bridge ip address.
The rancher-server server is running with all the container. The problem is the second server.
Maybe the problem is, that I have an openvpn to this server. So I have one public interface and one tun0 interface on

[2016-12-05 10:17] DomiStyle commented on #6858
@deniseschannon

I checked multiple times already with raw Debian/Ubuntu installations. Which means the bridge is already called docker0, the IP range doesn't overlap and the docker directory is in /var/lib. I also tried manually passing the IP of the host along when adding the new host, which didn't work either. The correct IP address of the host is also shown in the host overview tab. Also, sett

[2016-12-05 10:21] psyhonut opened #6922 "cannot exec a container that has run and stopped"
**Rancher Version:** 1.2.0

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** 3.10.0-327.36.2.el7.x86_64

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node rancher, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Create service in stack. Open service in UI,

[2016-12-05 10:26] psyhonut commented on #6922
I found something strange behavior. Even if I did not upgrade service (fresh create) - same error.

[2016-12-05 10:35] psyhonut commented on #6922
It's strange that I can exec bash to some containers, and can't in others.
Containers created either from local registry and RegistryHub.
Neither console mode helps.

[2016-12-05 10:50] shyper-ideler opened #6923 "Set default scheduling per stack"
It would be nice, if i could set default scheduling for a complete stack.
Mostly i'm using the same scheduling settings in the complete stack, but sometimes i miss to set them for a container. Would be nice to set a default config in the stack creation dialog and those setting are default selected on container creation dialog.

[2016-12-05 11:17] roffe commented on #6918
More error messages about deadlocks:

[code]

I have asked this question before and got dismissed, Are you sure Rancher actually is compatible with a Percona Galera cluster? I've spent several weeks on trying to get this to work where it always ends upp failing on the database.

I've had some success on the 1.1.4 branch to get it to initialize but after 1.2 it seems to be totaly broken again and g

[2016-12-05 11:30] LoicMahieu commented on #5240
@deniseschannon I think some people, including me, is really interested on more control of the `ingress-controller.
See:
 - https://github.com/rancher/rancher/issues/6344
 - https://github.com/rancher/rancher/issues/5999

[2016-12-05 11:50] roffe commented on #6918
Redid everything with 1 management node, PXC cluster with 3 nodes. connecting to DB by DNS name that points to only 1 of the servers, so no multi node writes or anything.

Still deadlocks:

`2016-12-05 11:47:28,258 ERROR [:] [] [] [] [cutorService-15] [o.a.c.m.context.NoExceptionRunnable ] Uncaught exception org.jooq.exception.DataAccessException: SQL [insert into `service_log` (`account_id`, `kin

[2016-12-05 11:52] roffe commented on #6918
Attaching mysql conf:

[mysql]
port=3306

[mysqld]
binlog_format=ROW
character_set_server=utf8
collation_server=utf8_general_ci
datadir=/data/mysql
default_storage_engine=innodb
enforce_gtid_consistency=1
expire_logs_days=5
explicit_defaults_for_timestamp=1
gtid_mode=on
innodb_autoinc_lock_mode=2
innodb_buffer_pool_instances=4
innodb_buffer_pool_size=1024M
innodb_doublewrite=1
innodb_file_per_tabl

[2016-12-05 12:03] chrisurwin opened #6924 "HA Cluster multi node issue"
**Rancher Version:**
1.2.0
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
Rancher OS in AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
multi node HA
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
N/A
**Steps to Reproduce:**
Stand up a multi node HA instance (say 3 nodes) with the nodes in an ASG. When its

[2016-12-05 12:07] machi1990 commented on #4633
@willseward  @deniseschannon  Experience the same issue with Convoy-nfs. Docker ps hangs, and I have to either restart the docker service or reboot the HOST several times. Do we have any update regarding this?

[2016-12-05 12:13] machi1990 commented on #6859
Hi @5an1ty have you found any solution yet?

I am interested to know of your findings.
Thanks.

[2016-12-05 12:38] machi1990 commented on #6419
I am running through the same problem in my environment and the only solution I have right now is to restart the docker daemon. @Chris7 @aemneina did you find  anything interesting regarding this?
Thanks

[2016-12-05 12:51] T-Grave commented on #6858
When I add a host in a new environment it takes an enormous amount of time before all services turn green. It's constantly restarting everything (and I mean everything except the proxy and kubelet services) becuase of "Timeout getting IP address". After like 10 minutes everything seems to be running finally.

After that I tried adding a deployment from the UI, which depployed a pod that kept being

[2016-12-05 13:07] wbuczak opened #6925 "[rancher-dns] external-dns / DNS Update (RFC2136) - substituting IP address"
**Rancher Version:**  v.1.1.2

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** : Cattle

Dear All

It's a question rather than an issue:

Each of our rancher machines have two network interfaces, let's call it technical (TN) and generic (GN). All hosts configured in Rancher are assigned TN's IP addresses (10.0.3.x) and GN (192.168.12.X)
Rancher hosts where our containers get deployed use TN

[2016-12-05 13:09] T-Grave opened #6926 "Kubernetes Deployments not being scheduled across all hosts"
**Rancher Version:**
1.2.0
**Docker Version:**
1.12.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04, cloud vps
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
singlenode
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Problem**

I've setup a K8s environment, added two fresh hosts, everything was green. After

[2016-12-05 13:21] markus2810 opened #6927 "Popup Window - Execute Shell does not open"
**Rancher Version:** 1.2

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** AWS: centos 7.2 - ami-7abd0209 eu-west1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node, external DB (galera cluster)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** cattle

**Steps to Reproduce:** From Catalog create a new

[2016-12-05 13:26] roffe commented on #6918
I removed everything and redid the whole setup with **_1_** managemenet node connected to 1 mysql server that is a part of a 3 node PXC cluster.

It still fails to initialize and i see deadlocks in the logs.

2016-12-05 13:24:50,590 ERROR [:] [] [] [] [ecutorService-1] [.e.s.i.ProcessInstanceDispatcherImpl] Unknown exception running process [instance.start:1583] on [96], canceled by [State [reques

[2016-12-05 13:30] XciD opened #6928 "Scheduler in initializing mode"
**Rancher Version:**
v.1.2.0
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Debian
Dedicated Server

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher with docker storage for database (Following Upgrading Rancher tutorial)
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Repr

[2016-12-05 13:35] nicholasdille opened #6929 "No container telemetry"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc)**
AWS instances running CentOS 7.2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher single node with external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
1. Start Rancher
2. Add a dedicated

[2016-12-05 13:38] biolounge opened #6930 "Cannot connect to web kubectl shell."
**Rancher Version:**
v1.2
**Docker Version:**
Server:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:
 OS/Arch:      linux/amd64
**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2 (Centos 7)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single master rancher with external DB
**Environment

[2016-12-05 13:46] joehumphries opened #6931 "Running a container with >3 links fails to start"
**1.2.0:**

**Docker Version: 1.12.1**

**Rancher OS: 4.4.19-rancher**

**Setup Details: On Openstack 1 server + 2 hosts**

**Environment Type: (Cattle)**

**Steps to Reproduce: Start 4 couchdb base images couch1-4 then start a base nginx passing in couch1-4 as links**

**Results: fails with error : Expected state running but got error: Error sending reply 931ec09e-7a8d-42fb-9192-4c84ff7419a3: Pos

[2016-12-05 13:53] joehumphries commented on #6929
Try a seperate server, I had no ends of issues with a server+host on the same machine.

[2016-12-05 14:02] nicholasdille commented on #6929
@joehumphries I did use a dedicated host. I have updated my original comment to clarify

[2016-12-05 14:03] Sturgelose commented on #6922
@psyhonut This is expected behaviour of Docker. When a container is running, you can execute inside it any command. If a container is stopped, it's not running and thus you can't execute anything inside. To access the container it needs to be running , so you should restart it!

[2016-12-05 14:05] joehumphries commented on #6929
@nicholasdille Not sure. However in my experience the latest version seems to be far less stable and complete than 1.4.0. .Try going back to that and see if it happens. We have about 6+ environments and the two upgraded to 1.2.0 have been nothing but trouble in the last week for so.

I am rolling mine back to 1.4.0, where I have a prod env running pretty much untouched for months.

[2016-12-05 14:07] markus2810 commented on #6927
Update: Tried with ubuntu 16 as host and it worked. Seems to be a centos specific

[2016-12-05 14:08] superseb commented on #6927
See https://github.com/rancher/rancher/issues/6861

[2016-12-05 14:17] markus2810 commented on #6927
should be same issue.

[2016-12-05 14:17] #6927 closed

[2016-12-05 14:19] nicholasdille commented on #6929
@joehumphries yeah, we are also not happy with 1.2.0 stability-wise. Good we're still in PoC.

[2016-12-05 14:20] nicholasdille commented on #6929
Using ubuntu as the host OS fixes telemetry for container

[2016-12-05 14:24] joehumphries commented on #6929
@nicholasdille Ahh ok, we are using RancherOS. I feel they are just adding more and more features before the core platform is solid and robust, a common mistake. I question how some of this stuff I have seen passes the tests from 1.1.4.

I have set the current version to use across everything (our platforms) as 1.1.4 now.

[2016-12-05 14:36] swartel-fa commented on #6858
@samattridge A workaround I found to solve the issue related to /var/lib/docker is to use a mount point instead of a symlink.
For example:
stop docker service
rm -f /var/lib/docker && mkdir -p /var/lib/docker
echo "</path/src>        /var/lib/docker         auto    rw,bind        0       0" >> /etc/fstab
mout -a
start docker service

Hope that helps !

[2016-12-05 14:38] superseb commented on #6922
See https://github.com/rancher/rancher/issues/6861

[2016-12-05 14:41] samattridge commented on #6858
Thanks @swartel-fa for taking the time to reply.  Much appreciated!  I'll give that a go.

[2016-12-05 14:41] richbos commented on #3345
Same here also. I have the relevant port (22) open in the rancher hosts ec2 security group allowing SSH for the rancher server ec2 security group. Using the rancheros AMI for the associated region and specifying the SSH user as rancher. Just get 'waiting for ssh to be available'.
Tried various combinations of placement for private/public subnets, security groups open for all ports between instance

[2016-12-05 14:46] Toonix commented on #6136
@jgreat
Your old PowerDNS 3.4.8 isn't running anymore with Rancher 1.2.0 and latest network-services. When you try to start the container he can't connect to the database.

[2016-12-05 14:46] nicholasdille commented on #6929
@joehumphries we are a bit reluctant to pin to 1.1.4. We'd rather extend the PoC and create more issues

[2016-12-05 14:54] Ramblurr commented on #5715
So without this feature, it is not possible to use docker compose v2 files that rely on v2 networks? There's no workaround?

[2016-12-05 15:27] wgiddens opened #6932 "API Error Switching Environments after Upgrade to 1.2"
**Rancher Version:**
1.2
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.
2 environments: 1 at AWS and 1 on bare metal.
Management node is at AWS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Configure 2 en

[2016-12-05 15:34] willseward commented on #4633
I was able to fix the problem by creating an entirely new Rancher installation with a new database. Did you ever have another storage pool setup on a <1.2.0 rancher install?

[2016-12-05 15:38] machi1990 commented on #4633
Yes, I was using conyoy-nfs. I have deleted it but I have a problem with rancher-nfs
_"Failed mount -o proto=tcp,port=2049,nfs vers=4 failed to find protocol tcp"_  I have removed some specifics like IP and mount point.

[2016-12-05 15:39] willseward commented on #4633
I'm not sure about that specific issue with rancher-nfs. You may try creating another issue because I believe it is unreleated to this one.

[2016-12-05 15:40] willseward commented on #4633
Closing because convoy is deprecated in 1.2.0

[2016-12-05 15:40] #4633 closed

[2016-12-05 15:44] nicholasdille opened #6933 "Rancher v1.2.0 breaks name resolution for hostname"
**Rancher Version:**
1.2.0

**Docker Version:**
1.23.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS instances running Ubuntu 16.04 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Rancher server with an external database and four dedicated hosts

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reprod

[2016-12-05 16:05] vincent99 commented on #3345
Are you settling the username to `rancher`??

[2016-12-05 16:07] richbos commented on #3345
Hi, yes - "_Using the rancheros AMI for the associated region and specifying the SSH user as rancher_"

[2016-12-05 16:09] StrongMonkey commented on #6916
@khanhicetea `asia.gcr.io` is defined as hostname by docker. In the case i believe that we are doing the right things in parsing image name. Can you make sure your credential is used by rancher? Usually this kind of error comes from an invalid credential.

[2016-12-05 16:14] jthrelfall777 commented on #4889
I have this problem too.

Desktop OS: Mac OS X 10.11.6

Google Chrome: 54.0.2840.98 (Official Build) (64-bit)
OS: Mac OS X
JavaScript: V8 5.4.500.41
Flash: 23.0.0.207
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6)

Rancher Server:
Image: rancher/server:v1.1.0

/version returns:
{
  "major": "1",
  "minor": "2+",
  "gitVersion": "v1.2.0-rancher-1",
  "gitCommit": "ed6532f975cff184196db

[2016-12-05 16:17] adammwood commented on #6914
We're also experiencing this issue with 1.2.

Prior to 1.2, services on new hosts would come up within 2-3 minutes, however we're now seeing delays of up to 20 minutes with services trying to start but failing with 'Timeout getting IP'. The issue appears to rectify itself after around 15-20 minutes of containers restarting.

[2016-12-05 16:21] komljen commented on #6883
Thanks everyone! I was able to use this workaround and it looks a lot cleaner also :)

https://github.com/komljen/rancher-salt/commit/f4434efcdd18635f1feab388703053ad08503c23

[2016-12-05 16:24] janeczku commented on #6136
@Toonix Thanks for bringing this up. Could you share the error line from the log?

[2016-12-05 16:30] jgreat commented on #6136
Well that stinks. We will be building out a test Rancher 1.2 instance sometime in the next couple weeks to work out our migration plan. If someone else doesn't get to it first, I'll post a new and improved catalog entry for powerdns.

As a side note, I'm pretty disappointed with lack of backwards compatibility in Rancher 1.2  We're looking at a complete rebuild and migration cause we can't afford

[2016-12-05 16:33] ssriley commented on #6891
I have tested 1.2 without TLS and it will bind successfully to AD. It appears the cert is added correctly to the rancher server by looking at the rancher server logs. I have attached the snippet of the log file. Also I can see cattle-debug file that the simple bind fails. I attached that screenshot as well. So i did a little searching and it may be an issue with the cert. Here is what i did to get

[2016-12-05 16:36] StrongMonkey commented on #6586
I can't reproduce that if infra stacks are fully deployed.

[2016-12-05 16:37] Toonix commented on #6136
Is still still the right path to go? I will try powerdns with rfc2136.

Jason Greathouse <notifications@github.com> schrieb am Mo., 5. Dez. 2016,
17:30:

[2016-12-05 16:42] darrenscerri commented on #6933
#6855

[2016-12-05 16:46] jgreat commented on #6136
If we can simplify and maybe deprecate the powerdns web api provider, it won't hurt my feelings.  I'm actually moving away from it.

I've modified a version of the rfc2136 provider and removed the auth bits so we can put entries directly into a zone hosted on our Active Directory DNS (have to allow "insecure updates" and zone transfers). I'd love to write a provider to do it securely, but there do

[2016-12-05 16:50] StrongMonkey commented on #6905
I also saw the ghost containers when i re-added my host to cattle.

[2016-12-05 16:59] jloisel opened #6934 "No DNS resolution inside containers"
**Rancher Version:** 1.2.0

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** 3 Bare-metal hosts running Ubuntu 16.04 LTS Kernel 4.4.0.51. Machines are firewall with custom IpTable rules. UDP 500 and 4500 are open, as well as port 8080 where rancher server is running. All machines are setup equally through Ansible.

**Setup Details: (single node rancher

[2016-12-05 17:04] khanhicetea commented on #6916
It worked fine in version 1.1 but caused error after upgrading to Rancher 1.2.
I retried login and pull successfully on my local pc.
I have ~10 hosts in Cattle cluster and can't pull private image in any host.

[2016-12-05 17:05] sven-codeculture opened #6935 "Rancher 1.2.0 upgrade agent re-adding throws fatal error"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
- Alpine Linux 3.3 running on scaleway bare metal server
- /var/lib/docker running on device 2 (folder is mount point to ndb2)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher with multiple environments

**Environment Type: (Cattle/K

[2016-12-05 17:05] ias-gmckeever commented on #6855
Does anyone know of a workaround for this issue?  I'd use a prior version of Rancher but I'm storing the Rancher config in a native mysql server and I'm aware that there are significant changes to the db objects associated with 1.2.0.  Therefore, I'd rather not revert back to an old version of Rancher and configure the db for the old version just to have to do that all over again when this bug is

[2016-12-05 17:11] khanhicetea commented on #6916
After upgrading, I saw some stopped containers in each host. Is it right ?

![image](https://cloud.githubusercontent.com/assets/4528223/20894522/62e87314-bb48-11e6-833e-6131a68e867c.png)

[2016-12-05 17:18] mccricardo commented on #6584
Lauching `Server` and `Agent on the same host, I've experienced this issue even when launching a stack with multiple services. DNS resolution usoing the convention `service-name.stack-name` works though.

[2016-12-05 17:19] StrongMonkey commented on #6916
@khanhicetea It is expected. Those containers are just system-containers. Did you try to add your credential to rancher? In UI infrastructure stacks there is an option called registry and that stores credential in rancher which will be used to pull private images on any host by rancher.

[2016-12-05 17:41] joehumphries commented on #6929
I know.. but time and resources..

[2016-12-05 17:51] deniseschannon commented on #6924
Workaround: Make sure to include `--restart=unless=stopped` per the docs for running HA on ASG nodes.

[2016-12-05 17:52] jloisel commented on #6921
:+1: experienced same issue, had to manually edit the load balancer config to fix this.

[2016-12-05 17:55] vincent99 opened #6936 "Compose doesn't replace variables in volumes section"
Environment variables are not looked for and replaced in the `volumes` section of a v2 compose file.

[2016-12-05 17:55] khanhicetea commented on #6916
Hm, as I already added it 3 weeks ago (in v1.1) and everything worked fine. You can see the second screenshot in above comment ( I updated )

[2016-12-05 17:57] StrongMonkey commented on #6916
thank you for the info. I ll investigating more

[2016-12-05 17:59] khanhicetea commented on #6916
Thank you very much, btw could I revert version because all my services are down today :(

[2016-12-05 18:15] adaughterson opened #6937 "Kubernetes Environment: UI keeps redirecting me back to Stacks"
I'm trying to provision a Kubernetes cluster through Rancher, and the UI keeps kicking me back to the Stacks topic, while I'm trying to search around in the infrastructure/hosts topic.

I've created a pod, which appears to be working correctly.  The infrastructure stacks are all green and presumably healthy.

Not sure exactly why the UI is doing this, but it is making triage and troubleshooting ne

[2016-12-05 18:15] galal-hussein commented on #5969
@alena1108 @sangeethah The problem doesn't happen anymore, tested on v1.2.0

[2016-12-05 18:15] #5969 closed

[2016-12-05 18:24] kl4n4 commented on #6908
+1 the current EBS volume creation in rancher 1.2.0 does not show any information how to properly create one - neither are the any blog posts or other documentation on how to use these new storage drivers

[2016-12-05 19:05] superseb commented on #6930
Can you verify if this is the same issue? https://github.com/rancher/rancher/issues/6861

[2016-12-05 19:30] deniseschannon commented on #6916
@khanhicetea If you had backed up your database before upgrading, you can revert Rancher server to the previous version, but due to the changes in 1.2.0, you will not be able to just revert using the same database.

[2016-12-05 19:40] StrongMonkey commented on #6916
@khanhicetea in the meantime, can you try to add registry with oauth2 and token(https://cloud.google.com/container-registry/docs/advanced-authentication)? just fyi, this way works for me to pull the private image and might be a workaround for you right now.

[2016-12-05 19:40] c4po commented on #4451
the PR kubernetes/heapster#1206 doesn't get merged.
the issue is still there. should we reopen this issue?

[2016-12-05 19:59] deniseschannon commented on #6934
Are all your infrastructure stacks green?

DNS microservice is within the `network-services` stack.  It is a sidekick service to the `metadata` service.

[2016-12-05 20:15] ragaar opened #6938 "Creating and Attaching Storage Driver Behavior"
## Past experience (prior to v1.2):
Prior to v1.2.0, when creating a storage volume in the Rancher UI it was possible to *add* a `volume` to the storage pool and then reference that `volume` in a container. The way I would reference that `volume` would be by adding a directory to the container and using the syntax: `storage_pool:/var/lib/path_of_interest`.

## Steps to recreate problem:
When creat

[2016-12-05 20:47] mckn opened #6939 "Rancher 1.2.0 - TLS handshake timeout github access control"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
I have tried with ubuntu 16.04 and CentOS 7

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
internal db

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
none

**Steps to Reproduce:**
start the rancher contianer and try to add the gith

[2016-12-05 21:07] StrongMonkey commented on #6916
For using `keyfile.json`, you need to copy the **exact** raw contents of your keyfile.json into password fields. This means that you need to replace all the newline character with `\n`. (Cause we are not allowed to pass <CR> or <LF> in UI). Sorry for the inconvenience but we made a lot of change in 1.2 so it might break something it used to work in 1.1.

[2016-12-05 21:11] superseb commented on #6939
GitHub Authentication works fine here. As you are also experiencing this with the download of a machine driver, are you sure it's not on your network end? Seems like a unstable internet connection /proxy/firewall situation?

[2016-12-05 21:34] krishofmans commented on #6864
I have the same issue, used rancher 1.2 to spin up 2 boot2docker vm's on an esxi host and they never stabilize.

[2016-12-05 21:42] matthijsvdr opened #6940 "Unknown exception running process"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS v0.7.1 (4.4.24) (care metal (well in vm)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA 1 node, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Docker compose file: (n

[2016-12-05 21:48] mckn commented on #6939
hmm, I just tried to spin up a new machine without any firewall or restrictions on the internet connection. I still got the TLS handshake issues. So that did not help. Any more suggestions on what to try?

@superseb what os and which docker version are u running?

[2016-12-05 21:48] prachidamle commented on #6899
@sangeethah  @deniseschannon we will need a new release of rancher-auth-service to test this, and also change to cattle to point to the new release

[2016-12-05 21:57] mckn commented on #6939
hmm..it did work locally on my laptop (OSX). So it might be the underlying OS or the internet connection since I am running my laptop on a different network.

[2016-12-05 22:03] superseb commented on #6939
Just tried on AWS with Ubuntu 16.04 and Docker 1.12.3. Where are your hosts running?

[2016-12-05 22:06] mckn commented on #6939
Hmm..I am running on a openstack provider called citycloud. If i do `docker exec -ti <container-id> bash` and then do a curl to the url that is timing out everything seems to work just fine. So I dont think it is the network.

Are you running the latest, stable or v1.2.0 tag? I am running the v1.2.0 tag.

[2016-12-05 22:07] InAnimaTe commented on #3248
@dj-hedgehog You can no longer do that ;( Gitlab-CI now generates unique tokens for each CI run.

You could generate your own personal access key, but that is global r/w for your account meaning if someone got that key, you're screwed ;(

I'm probably going to have to do my own image where ssh is installed and I copy in a private key. In that case, I can merely do a deploy key for the specific rep

[2016-12-05 22:08] mckn commented on #6939
Maybe some certificate issues? Does anyone know if there is a way of getting more detailed information about the error? Like enabling debug or something.

[2016-12-05 22:22] aemneina commented on #6855
can you try something like the following as a workaround:
[code]

[2016-12-05 22:27] sangeethah opened #6941 "iptable rules for opening 500 and 4500 on ipsec container gets programmed multiple times (once for every container) on the host."
Rancher server version - v1.2.0

Steps to reproduce the problem:
Create few services.
Notice that for ever container added on the host, iptable rules for opening 500 and 4500 on ipsec container gets programmed  once on the host.

This results in multiple iptable rules for opening 500 and 4500 on ipsec container being programmed o the host.

[code]

[2016-12-05 22:28] aemneina commented on #6935
are there more logs than this? I think this is just failing to get stats for containers not running?

[2016-12-05 22:32] aemneina commented on #6934
Do you have nscd, or any name caching services, running on your node host?

[2016-12-05 22:36] alena1108 commented on #6940
@matthijsvdr ":<port>" is not a valid port format as per docker-compose ref:

https://docs.docker.com/compose/compose-file/

May be rancher-compose does some magic transforming invalid to valid, but it is not something we support in our APIs :) So if you need a random public port, just specify the private port in a following format:

[code]

[2016-12-05 22:37] #6940 closed

[2016-12-05 22:38] matthijsvdr commented on #6940
My mistake I see :) ill update the files ^^

[2016-12-05 22:43] virtuman commented on #6901
yes, i guess i could be a bit more descriptive.
I didn't mean that rancher would go on one host and nginx with SSL termination on another host, documentation on that page doesn't even remotely suggest that that's the expected setup - which sounds wrong on so many different levels if it had to be done that way

[2016-12-05 23:03] sangeethah commented on #4379
Create a container with public port set to say "8787" and private container port set to "80".
Update the container and set the public port to say "9797".

Container is now reachable on 9797 and is not reachable on 8787 as expected.

But i see the port 8787 continuing to be programmed on the host for this container:

I am able to start a new container using port 8787 which works as expected.

[code

[2016-12-05 23:04] aemneina commented on #6929
@nicholasdille are you using upstream docker for the centos hosts? Also wondering if downgrading docker a point version or two fixes this?

[2016-12-05 23:16] aemneina commented on #6920
@pschirch have you tried manually creating these via the UI? From there you can view the config and diff to see what v1.2.0 is doing differently. I think the doc's might be dated at this point.

[2016-12-05 23:17] aemneina commented on #6928
are there any errors thrown in the logs for the container itself?

[2016-12-05 23:18] sangeethah commented on #4104
@alena1108 , Autmatiin runs with v1.2.0 still have lot of exception on service.active and remove.

grep  "Database record has been changed" *error*
[code]

[2016-12-05 23:19] aemneina commented on #6901
They (nginx and rancher server) dont actually have to be on separate hosts. I was just curious about your use case, because rancher server doesnt bind/listen on port 443.

[2016-12-05 23:19] sangeethah commented on #4104
2016-12-02 21:56:22,434 ERROR [2b406c82-68c7-4cb5-b6cc-517095c36294:10137] [service:179] [service.remove] [] [ecutorService-7] [c.p.e.p.i.DefaultProcessInstanceImpl] Unknown exception org.jooq.exceptio
n.DataChangedException: Database record has been changed
        at org.jooq.impl.UpdatableRecordImpl.checkIfChanged(UpdatableRecordImpl.java:550) ~[jooq-3.3.0.jar:na]
        at org.jooq.impl.Updat

[2016-12-06 00:59] ppandy commented on #4106
@grachevko We've had the same issue, but we found that it was often necessary to delete all local images (force, if necessary) and then upgrade the stack. I know this is closed, but it shows up on Google so this might be of some use to someone.

Perhaps this error is just being incorrectly attributed. Can happen in an exception switch with a default backstop.

[2016-12-06 01:27] khanhicetea commented on #6916
Using oauth2 token as password solved the issue, I can pull image now. Thank you !

Btw, after that, it can't resolve DNS inside container (ref #6934) , so my services are still down :(

[2016-12-06 01:27] #6916 closed

[2016-12-06 01:52] khanhicetea commented on #6934
I had the same issue after upgrading v1.2. Can't resolve hostname of linked service inside container.

[code]

[code]

which `mysql1` is my linked service name

[2016-12-06 02:07] galal-hussein opened #6942 "kubedns container didn't start correctly when k8s upgraded to v1.4.6-rancher2-1"
**Rancher Version:**
master build (6 Dec)
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 16.04 - GCE
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes 1.4.6
**Steps to Reproduce:**
- Run rancher server master build
- install kube

[2016-12-06 03:01] rezonant commented on #6913
I did two things and this problem disappeared. (A) I deactivated and ultimately removed my original problematic upgraded Kubernetes environment as the new one was put together with the new Stacks system anyway and everything was moved over.
And (B) I noticed a set of containers as "Standalone" containers on the Hosts screen which had been spinning probably the entire time I was testing. These woul

[2016-12-06 03:01] #6913 closed

[2016-12-06 03:10] rezonant commented on #6405
You can still delete the pod via the Kubectl user interface or kubectl on your local machine with `kubectl delete pod <pod-name>`

[2016-12-06 03:51] leodotcloud commented on #4379
@sangeethah The OUTPUT chain rule being present is due the same reason as https://github.com/rancher/rancher/issues/6941. Can you retest, once the PR is merged. I tested on my setup using the dev image and I don't see the old port rule.

Here are the steps I followed:
- Create empty Stack
- Add a service (nginx) with port mapping `8787->80`
Here is the output
[code]
- Update the service with port

[2016-12-06 05:55] HackerWilson commented on #6876
@vincent99 oh, yes. thanks for your help.

[2016-12-06 05:55] #6876 closed

[2016-12-06 06:02] clicman commented on #6859
Since convoy-nfs is deprecated in 1.2 It should be migration guide to rancher-nfs.

[2016-12-06 06:07] mkurzeja commented on #6858
@swartel-fa Thanks for the reply. It worked perfectly in my case

[2016-12-06 06:13] clicman commented on #6859
Tried to create volume with same name as on convoy-nfs (both rancher-nfs and convoy-nfs looks at same nfs-server). It successfully registered.
Next tried to upgrade service with changing driver to rancher-nfs and it fails with:
[code]
Payload:
[code]

[2016-12-06 06:14] willseward commented on #6859
Agreed. My steps were as follows:

1. Create and start rancher-nfs stack. Both Convoy and rancher-nfs will need to be running during the process.
1. Stop service with convoy volume mount.
1. Delete the respective containers. This ensures the convoy volumes become inactive and eligible for purge.
1. Rename the nfs dir for the volume in question (e.g. `mv volume_1 volume_1.old`). Once Convoy purges

[2016-12-06 06:16] willseward commented on #6859
Also, you should back everything up beforehand, of course...

[2016-12-06 06:19] clicman commented on #6859
@willseward had you faced errors during changing volume driver in service? How did you proceed the storage driver change during service upgrade?

[2016-12-06 06:22] willseward commented on #6859
Yes. I was unable to simply change the `volume_driver`.

None of my services specify a volume driver. The volume driver was automatically detected by the presence of the volume in rancher-nfs and its absence in convoy-nfs.

[2016-12-06 06:23] clicman commented on #6859
@willseward is it initially was convoy-nfs?

[2016-12-06 06:23] alena1108 commented on #6888
Also need to add support for userlist directive

[2016-12-06 06:23] willseward commented on #6859
Yes. All of my volumes were initially in Convoy

[2016-12-06 06:24] clicman commented on #6859
Thank you. Will try.

[2016-12-06 07:10] HackerWilson opened #6943 "swarm catalogs cannot be deployed under swarm mode"
After I deployed swarm cluster success, I click the launch button in wordpress catalog, but failed.
It says: `There is no route named swarm-tab.projects`.
so was other catalogs including my test catalog.
<img width="980" alt="default" src="https://cloud.githubusercontent.com/assets/7730203/20916638/be490e24-bbc7-11e6-8f88-250db7a7789e.png">

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v

[2016-12-06 08:04] strobe opened #6944 "Deis Workflow or any Helm package install returned `Error: transport is closing`      "
**Rancher Version:**
1.2.0
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single w internal DB + 3 nodes
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes
**Steps to Reproduce:**
I did setup of Helm package manager via ```helm init```

[2016-12-06 08:04] sven-codeculture commented on #6935
The agent is only spamming this and then ends itself. The Server does not show anything.

[2016-12-06 08:15] machi1990 commented on #6859
@willseward @clicman any specific mount opts that you used?

I am using "proto=tcp,port=2049,nfsvers=4" and I have this error.

level=error msg=mount.response error="Failed mount -o proto=tcp,port=2049,nfsvers=4 10.1.1.138:/safetycube/test_volume /var/lib/rancher/volumes/rancher-nfs/test_volume: mount.nfs: Failed to find 'tcp' protocol"

[2016-12-06 08:22] machi1990 opened #6945 "Mount options for rancher-nfs catalog results in error"
**Rancher Version:**
1.2
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
cloud
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Adds a rancher-nfs from the catalog  with the following mount options :
[code]
**Results:**
[cod

[2016-12-06 08:29] machi1990 commented on #6859
#6945

[2016-12-06 08:33] richbos opened #6946 "Amazon EC2 Host stuck "Installing Rancher Agent""
**Rancher Version:**
1.2.0

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS eu-west-1
Amazon Linux EC2 (for the Rancher Server)
EC2 hosts tried = Amazon Linux, Ubuntu 16.04, Centos7 and Rancheros7

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher server, internal DB with Docker vol mount for M

[2016-12-06 08:34] biolounge commented on #6930
Looks like same.

[2016-12-06 08:49] jloisel commented on #6934
Everything is green. Ipsec is properly working. nscd is not installed on any of the machine. What are the ports needed by Rancher to have dns working? I have opened UDP 500 and 4500 for ipsec, as well as 8080 for rancher server.

[2016-12-06 08:58] clicman commented on #6859
Tested @willseward solution. It works. But I skipped step with valumes renaming. First of all I've removed convoy-nfs stack. When removed all volumes from its pool. And added it on rancher-nfs pool and recreated services on it without pointing volume driver. All passed and works. All data saved.

[2016-12-06 09:00] machi1990 commented on #6859
Interesting @clicman , mind sharing your Mount options for rancher-nfs?

[2016-12-06 09:01] jloisel commented on #6946
I have tested this on my personal machine and it works fine. Double check your rancher server is accessible from those machines. Also, during this step, the rancher agent image is downloaded from Docker Hub, which might be slow at some hours of the day.

[2016-12-06 09:03] clicman commented on #6859
@machi1990 I'm not using nfs options on this environment.
Environment with mount options on nfs, I'm afraid to upgrade to 1.2 for now :)

[2016-12-06 09:07] richbos commented on #6946
Hi, many thanks for taking a look. After nothing all yesterday afternoon or from first attempts this morning I can confirm that it has now started working, yet I changed no configuration so that's somewhat intriguing.

Ah well, another mystery but at least it's up an running. I shall close the issue.

[2016-12-06 09:07] #6946 closed

[2016-12-06 09:07] machi1990 commented on #6859
@clicman thanks.  I am using 1.2 and I'll have to try the rancher-nfs service without mount options.

[2016-12-06 09:13] swartel-fa commented on #6858
@mkurzeja you welcome

[2016-12-06 09:31] XciD commented on #6928
At the bottom :

[code]

[2016-12-06 09:37] jloisel commented on #6946
Docker HUB has errating behavior, you should not rely on it to launch machines and have a local docker registry which caches the images.

[2016-12-06 09:50] richbos commented on #6946
That's a great tip, I shall certainly do just that for production purposes. Many thanks.

[2016-12-06 09:54] mckn commented on #6939
Seems to be some kind of issue with the ca-certificates. If I did the following everything seems to work (at least for CentOS7):

[code]

[2016-12-06 10:00] danielschlegel commented on #6758
rancher 1.2 did not solve the problem.

[2016-12-06 10:20] stephan2012 opened #6947 "Rancher 1.2.0 cannot pull images from private registry"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL 7.3, on-premise

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher, 3 nodes

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Configure private regsitry (Nexus Repository Manager 3.

[2016-12-06 10:24] mckn commented on #6939
I close this one, seems like @superseb where correct. I recreated the whole network-stack at our openstack provider and now everything seems to work. ⛈

[2016-12-06 10:24] #6939 closed

[2016-12-06 10:25] Toonix commented on #6136
Well I found my solutions. I now use dnsupdate-rfc2136 with PowerDNS4.

beside some error with AXFR evelope error: dns no SOA it works well now...I bet as soon i fixed the soa records it should be quite and working.

[2016-12-06 10:29] jloisel commented on #6946
That's what we do because Docker Hub is completely unreliable.

[2016-12-06 10:50] Toonix commented on #6538
pretty annoying

6.12.2016 11:49:39time="2016-12-06T10:49:39Z" level=error msg="AXFR envelope error: dns: no SOA"
6.12.2016 11:49:41time="2016-12-06T10:49:41Z" level=error msg="AXFR envelope error: dns: no SOA"
6.12.2016 11:49:42time="2016-12-06T10:49:42Z" level=error msg="AXFR envelope error: dns: no SOA"
6.12.2016 11:49:44time="2016-12-06T10:49:44Z" level=error msg="AXFR envelope error: dns: no

[2016-12-06 10:57] Toonix opened #6948 "False Errors in external-dns with rfc2136 connector"
1.2.0

1.12.3

RancherOS 0.7.1

Rancher Single Node

Environment Type: Cattle

installed rancher/external-dns with rfc2136 connector.

Results: Working

but annoying False Errors:

6.12.2016 11:54:27time="2016-12-06T10:54:27Z" level=error msg="AXFR envelope error: dns: no SOA"
6.12.2016 11:54:31time="2016-12-06T10:54:31Z" level=error msg="AXFR envelope error: dns: no SOA"
6.12.2016 11:54:32time="2

[2016-12-06 11:01] chrisurwin opened #6949 "Not all commands on rancher-cli supported under Windows"
The Windows-cli doesn't appear to support the
```rancher --host <name> docker ps``` command
It returns with error
```[31mFATA[0m[0000] listen unix C:\Users\test\AppData\Local\Temp\docker-sock981066123: socket: An address incompatible with the requested protocol was used.```

Trying to run the linux version under Ubuntu bash on Windows fails too with
```FATA[0000] listen unix /tmp/docker-sock9598

[2016-12-06 11:17] galindro commented on #6945
Same with me

[2016-12-06 11:51] biolounge commented on #4104
After upgrading Rancher to v1.2.0, we are getting lot of "Database record has been changed" and " Failed to Scheduling for instance" errors in rancher-server logs:

2016-12-06 11:42:59,656 ERROR [1fbdde15-7fff-4e8e-b9be-ee5c2c9be80a:339618] [instance:7856] [instance.start->(InstanceStart)] [] [ecutorService-5] [i.c.p.process.instance.InstanceStart] Failed to
Scheduling for instance [7856]
2016-12-

[2016-12-06 11:55] biolounge commented on #6937
I also have the same issue: https://github.com/rancher/rancher/issues/6930

[2016-12-06 11:57] SamMousa opened #6950 "Cannot access exposed port from docker host."
**Rancher Version:**
1.2.0
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
VPS, Ubuntu 16.04 and  / or 14.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher, internal db mounted via data container
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
1. Create a cont

[2016-12-06 12:08] T-Grave commented on #6947
I've managed to get this working by creating the registry credentials before adding any hosts to my environment.

[2016-12-06 12:22] SamMousa commented on #6950
Seems to be the same when using a Load Balancer to expose the ports.

[2016-12-06 12:29] SamMousa commented on #6950
Did some more research, this is the output of `iptables -t nat -L -n | grep 25`.
I've added a loadbalancer that balances both port 25 and 2500 to container port 2500.

[code]

The strange thing is, for port 2500 I can actually connect from the host to the container via `telnet 127.0.0.1 25`. There are also a lot of records in the table for port 25 that are referring to IP addresses no longer in us

[2016-12-06 13:17] nicholasdille commented on #6933
@darrenscerri yes, this is a duplicate, closing.

[2016-12-06 13:17] #6933 closed

[2016-12-06 13:21] nicholasdille commented on #6855
In my case, the application (Java based) dies due to this issue:

[code]

[2016-12-06 13:21] sdelrio commented on #6934
I had same issue, but after manually installing `network-services` (Catalog > Library) it resolves,(don't even need to restart the containr having the issues).
I also was testing in that rancher environment all the 1.2-rc versions before the final one, so probably any update didn't work 100%.

[2016-12-06 13:35] jloisel commented on #6934
I have tried to remove the hosts, clean all docker containers, volumes and images then re-add them with no effect. network-services was properly running on every host, but I guess the issue seems related to metadata side-kick which is the dns container.

[2016-12-06 13:41] sdelrio commented on #6934
Before installing `network-services` I could not even `curl` or `telnet` to the external IP inside the container (runing another container with nginx listening on 80).

@jloisel, can you telnet or curl to the IP ?

[2016-12-06 14:11] ias-gmckeever commented on #6855
@aemneina Your suggestion won't work since my use case is similar to the one of @nicholasdille.

[2016-12-06 14:17] jloisel commented on #6934
I had to rollback  the changes as the issues where occuring in production. I cannot reproduce those issues on our pre-production environment which runs on Amazon. Also tried a local setup with local machines, everything is fine. I can't figure out why it's failing on our production machines which are configured the same way as pre-production (through ansible).

[2016-12-06 14:32] AndreasSundstrom commented on #6855
Workaround: Use container name as hostname.

[2016-12-06 14:40] willseward commented on #6859
Same here, @machi1990. No mount options.

[2016-12-06 14:53] dsvmacdonald opened #6951 "Metadata in v1.2.0 for old API (2015-12-19) has "-" separators instead of "_"...breaks old metadata searchs"
**Rancher Version:**
v1.2.0

**Docker Version:**
v1.2.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Mac (local dev); Servers with RedHat 7.2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Rancher single instance (local); Rancher HA (cloud)

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**
`curl htt

[2016-12-06 14:56] dsvmacdonald opened #6952 "Mac Spacebar does not working in shell under v1.2.0"
**Rancher Version:**

v1.2.0

**Docker Version:**

v1.2.3

**OS and where are the hosts located? (cloud, bare metal, etc):**

Mac (local)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**

Open shell and type "curl "

**Results:**

"curl" no space;

**Expected:**

"cu

[2016-12-06 15:43] mckn commented on #6928
I have the same issue. My only instance of Scheduler is stuck in initializing and my logs for that service looks the same.

Also all of mine health services is stuck in initializing mode.

[2016-12-06 16:01] ias-gmckeever commented on #6855
@AndreasSundstrom Pinging the container name does not work either.  Even if it did, I wouldn't be able to easily implement a solution since the component that is failing is coming from the Java code `InetAddress.getLocalHost().getHostAddress()`.  Can you think of a solution that would work without having to modify Java code to get it to work?  If not, does anyone know the root cause of the issue t

[2016-12-06 16:14] AndreasSundstrom commented on #6855
@ias-gmckeever Pinging the hostname inside the container works for me when the service is configured to use container name as hostname.

[2016-12-06 16:17] adaughterson commented on #6937
It seems like once I can get at least one replication controller up, the problem goes away.

[2016-12-06 16:18] gwkunze opened #6953 "Rancher logs aws secret credentials"
**Rancher Version:**
v1.2.0

**Docker Version:**
N/A

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS EC2 (Amazon Linux)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single test node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Launch a host in EC2

**Results:**
Log files contain not just the A

[2016-12-06 16:20] MinaDesu opened #6954 "Failed to setup network for pod: No IP address found"
**Rancher Version:**
rancher/server: v1.2
rancher/agent: v1.1.0

**Docker Version:**
Docker version 1.11.2, build bac3bae
**OS and where are the hosts located? (cloud, bare metal, etc):**
CoreOS 1185.3.0 (with KVM) (4.7.3) on DigitalOcean

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher server
3 agent nodes (one being on the same server than

[2016-12-06 16:20] salvax86 commented on #6855
@ias-gmckeever  I had the same problem with Kafka implementation and `InetAddress.getLocalHost().getHostAddress()`. I can find the localhost with `io.rancher.container.hostname_override: container_name`.

[2016-12-06 16:23] psyhonut commented on #6756
But Rancher 1.1.4 works fine.

[2016-12-06 16:30] aemneina commented on #6855
@ias-gmckeever take a look [here](https://github.com/rancher/rancher/issues/5499#issuecomment-241498813) on how people overcome the problem. It involves modifying the entrypoint.sh or similar

[2016-12-06 16:36] MinaDesu commented on #6954
By the way, the idea is to follow this guide to create a nginx ingress controller:
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx

[2016-12-06 16:39] MinaDesu commented on #6954
I scaled up to 2 replicas, and the second one was assigned to another node and is working.
Scaling down to 1 replica, removed the stale one.

[2016-12-06 16:43] aemneina commented on #6855
There's also labels which should force the hostname for the container to be the container name: https://docs.rancher.com/rancher/v1.2/zh/cattle/labels/#rancher-compose-labels-for-services

[2016-12-06 16:46] psyhonut commented on #6756
@deniseschannon But Rancher 1.1.4 works fine.

[2016-12-06 16:47] ias-gmckeever commented on #6855
@aemneina That worked - thank you!

[2016-12-06 16:48] bkuhl opened #6955 "Admin sees GitHub returning 404 when "Edit"ing environments"
As an administrator for Rancher, sometimes when I go to `Manage Environments` and then choose `Edit` on certain environments I'm presented with this error:

<img width="521" alt="screen shot 2016-12-06 at 10 39 48 am" src="https://cloud.githubusercontent.com/assets/524933/20934464/44c1b9d4-bba9-11e6-8493-c94a6e4306b3.png">

This doesn't happen on all environments, just some.  However it consistent

[2016-12-06 16:51] MinaDesu commented on #6954
After rebooting the node, creation succeeds.

[2016-12-06 16:53] aemneina commented on #6954
@MinaDesu if this is solved, can you close the ticket?

[2016-12-06 16:53] StrongMonkey commented on #6756
@psyhonut This might be related to our new network design. This only happens in rancher managed network containers where rancher set its network mode to `none` and have some special volume bind to it.

[2016-12-06 16:57] MinaDesu commented on #6954
Closing for now, though I'm wondering why the node had to be rebooted.

[2016-12-06 16:57] #6954 closed

[2016-12-06 17:13] StrongMonkey commented on #6947
Can you re-add your registry credential and try again?

[2016-12-06 17:30] aemneina commented on #6950
@leodotcloud this looks related to [#6941](https://github.com/rancher/rancher/issues/6941) sound about right?

[2016-12-06 17:33] aemneina commented on #6910
@StrongMonkey any idea on what could be going on here?

[2016-12-06 17:44] khanhicetea commented on #6916
Sorry but after pulling successful in 1 service, next pulling didn't work and it was stuck again.

Same issue here : #6947

I think Rancher should have a document about big picture of Rancher stacks (how many system services in Rancher ? what they do and which specs they based on ? How they work ?), so the users (dev guys) can understand clearly about bugs and try to fix it instead of posting the

[2016-12-06 17:46] alena1108 commented on #5763
@sangeethah could you please retest it on the latest. There were some changes made around wait for sidekicks area.

[2016-12-06 17:50] alena1108 commented on #6095
@soumyalj haven't seen this issue in a while, could you verify on the latest?

[2016-12-06 17:51] StrongMonkey commented on #6910
this is because we are launching a container with network mode `container` but there is no data in its network container(stopped or removed).

[2016-12-06 17:55] aemneina commented on #4889
@jthrelfall777 rancher 1.1 is quite old. Can you try this out with rancher 1.2?

[2016-12-06 17:56] aemneina commented on #4889
you'll also want to make sure all hosts are 'active' and not 'reconnecting' those impact performance negatively.

[2016-12-06 17:58] StrongMonkey commented on #6910
wondering it is a bug in cattle. The data are sent by cattle so if network mode is `container`, the data should contain its network container.

[2016-12-06 18:05] aemneina commented on #6419
@machi1990 whats the output for your `docker info` on the hosts that have this issue?

[2016-12-06 18:08] galal-hussein commented on #5673
Tested all the cases on Rancher HA on version 1.2.0, i didn't encounter any of the mentioned problems.

[2016-12-06 18:08] #5673 closed

[2016-12-06 18:13] vincent99 commented on #6952
Works fine for me...

[2016-12-06 18:14] machi1990 commented on #6419
`Containers: 9
 Running: 8
 Paused: 0
 Stopped: 1
Images: 29
Server Version: 1.12.1
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 401
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: host overlay null bridge
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Options: apparmor
Kernel Ver

[2016-12-06 18:55] leodotcloud commented on #6950
@aemneina yes, the root cause for this is 6941. The changes have been merged in. New version of network-manager (v0.2.14) has been released. Upgrade of the network-manager service and a reboot of the hosts will resolve the iptables rules problems.

[2016-12-06 19:07] alena1108 commented on #6374
@jwhitcraft we've done a lot of changes around service/processes in 1.2. Going to keep an eye on the issue to see if it is still persists

@sangeethah at the end of the validation runs, lets check if there are any remaining processes that are not going away.

[2016-12-06 19:08] alena1108 commented on #6109
Looks like a duplicate of https://github.com/rancher/rancher/issues/5010, going to keep track of the issue there.

[2016-12-06 19:08] #6109 closed

[2016-12-06 19:09] alena1108 commented on #5010
@cjellick not sure if we support sharing non-named volumes by more than 1 container?

[2016-12-06 19:12] alena1108 commented on #5562
@soumyalj could you test if you still see this error once in a while?

[2016-12-06 19:14] aemneina commented on #6950
@SamMousa can you try upgrading your network-manager service? Should be under stacks-> infrastructure. You should be presented with an upgrade available button for network services.

[2016-12-06 19:17] EugenMayer commented on #5010
@cjellick @deniseschannon its a blocker in both direction. Either u use anon-volumes, which blocks u, since this will result in data loss. Or you use named-volumes, which will block you when using things like catalogs, since the volume-name would be shared across different stacks of the catalogs, which is not the idea behind it.

Those are just X-Instances of Appliance Z.

You can work arround usi

[2016-12-06 19:18] StrongMonkey opened #6956 "Add support for GCR"
We need to support adding a json file as the password field in adding private registry.
Issues: For Google Container Registry, users could use their own json file as their private key but when we copy the contents we are automatically stripping off the newline `/n`. Our go-agent needs that to pull private image.
Expected: Add support for GCR. Specifically, add an option to upload a key-file as the

[2016-12-06 19:19] EugenMayer commented on #6109
@alena1108 its a dupe, but with much more substance to reproduce and test. anyway, fair enough, one ticket should do it :)

[2016-12-06 19:19] StrongMonkey commented on #6916
@khanhicetea thank you so much for your feedback.
1. your token might be expired cause they are short-lived. You can refresh your token to make it work. I could say this is only a workaround for you to pull image in the short term.
2.  Since you are using the json file as your private key, we do have a problem in uploading the  contents of your key(we are stripping off the newline in password fiel

[2016-12-06 19:23] Gmentsik commented on #6858
Just tried VXLAN - same issue

[2016-12-06 19:28] joshwget commented on #5010
@EugenMayer This is no longer the case for named volumes in 1.2. Volumes can now be scoped per container, stack, or environment (https://docs.rancher.com/rancher/v1.2/en/rancher-services/storage-service/).

The use case you describe is a stack scoped volume, which is now the default. Each instance of a stack will have its own volume.

[2016-12-06 19:30] alena1108 commented on #5884
Resolved with 8b5462a868bfab136d9ec88807b14afee1961794

[2016-12-06 19:33] joshwget commented on #5010
@deniseschannon @alena1108 @cjellick I don't see how we'd set any kind of scope policy for anonymous volumes. Does it make sense to disable this feature since it'll likely result in unintended behavior? Maybe there's some advantage to anonymous volumes over named volumes that I'm not thinking of though.

[2016-12-06 19:52] deniseschannon commented on #6956
Duplicate of https://github.com/rancher/rancher/issues/5132

[2016-12-06 19:52] deniseschannon commented on #5132
Closing in favor of 6956 due to changes in go-agent.

[2016-12-06 19:52] #5132 closed

[2016-12-06 19:53] deniseschannon commented on #6950
@SamMousa @leodotcloud @aemneina These changes haven't been made public yet, we're still testing internally.

[2016-12-06 21:03] lkoenigsberger commented on #6811
fixed the error. deleted the link local route and restarted the server.
Was a testing server so with all the rc`s of 1.2 installed. Maybe that caused the issues.

[2016-12-06 21:03] #6811 closed

[2016-12-06 21:19] 5an1ty commented on #6859
Thanks for all the input everyone! We're not really at a great solution, but I guess @willseward's method does work. The deletion of the volume is something especially frustrating. Which I already tried to address in #6215.

[2016-12-06 21:22] 5an1ty commented on #5638
Boom, they're acquired by docker. I knew they were going to prove useful! Keep an eye on developments, I think this would be a great addition to rancher!

[2016-12-06 21:37] Chris7 commented on #6419
I have found a way to recover the host without restarting docker -- restart the container running the `volume-agent-nfs` command.

[2016-12-06 21:38] nextrevision opened #6957 "Rancher registration URL domain replaces "http" with "ws" beyond first match"
**Rancher Version:**
v1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Cloud (AWS)

**Setup Details:**
HA

**Environment Type:**
K8S

**Steps to Reproduce:**
Set Rancher server URL for host registration (under settings) to `http://my-rancher-http-server.com` and add a host (using either a docker-machine driver or custom command).

**Results:**
Up

[2016-12-06 21:41] machi1990 commented on #6419
@Chris7 the problem is detecting/knowing when the docker daemon hangs. In my case, the application I was running was passing the health-check. I have changed the plugin from convoy-nfs to rancher-nfs, will see how this one behaves.

[2016-12-06 22:10] sangeethah commented on #4379
Tested with rancher/network-manager:v0.2.14
We don't see the exposed port present in the output chain when the port is not associated with the container anymore.

[code]

[2016-12-06 22:10] #4379 closed

[2016-12-06 22:15] willseward commented on #6859
@5an1ty Agreed. There should be a clear upgrade path and documentation for this process.

[2016-12-06 22:15] pulberg commented on #6756
@StrongMonkey I am having this issue on RHEL7.2/Docker 1.12.3 with Rancher 1.2.0 -

Container network - "Managed"
Volumes -
None
Exec shell in Rancher stuck at "Connecting..."
Docker CLI working correctly -
[code]

Container network - "None"
Volumes -
/var/run/docker.sock:/var/run/docker.sock
/var/lib/docker:/var/lib/docker
Exec shell in Rancher stuck at "Connecting..."
Docker CLI working correctl

[2016-12-06 22:37] StrongMonkey commented on #6756
@pulberg Thank you for providing the info, i ll look into it

[2016-12-06 22:39] diogogmt commented on #6111
I'm having the same issue when using a .local domain for my rancher server and hosts.

[2016-12-06 23:07] electrical commented on #6405
I've hit the same problem. Would be nice if it could be solved in a dot release. ( 1.2.1 )

[2016-12-06 23:17] sangeethah commented on #6941
Tested with rancher/network-manager:v0.2.14.

There are no duplicate iptable rules for opening 500 and 4500 on ipsec container programmed  on hosts when automation was run.

Created few services having exposed ports. This does not result in multiple rules for opening 500 and 4500 on ipsec container being programmed on hosts.

[2016-12-06 23:17] #6941 closed

[2016-12-06 23:42] SamMousa commented on #6950
Ok, thanks for the feedback.

[2016-12-07 00:00] aemneina commented on #6935
hey @sven-codeculture what does `docker ps -a` show?

[2016-12-07 00:20] galal-hussein commented on #6599
Tested on v1.2.0
rancher-catalog, vnext branch
kubernetes 1.4.6

Pod resolution worked as expected.

[2016-12-07 00:20] #6599 closed

[2016-12-07 00:22] imikushin commented on #4396
@alena1108 Do you think we should fix this?

We can ask the user what their cluster domain should be on before kubernetes system stack start.

[2016-12-07 00:22] galal-hussein commented on #5948
Tested and verified skydns on Rancher master build and vnext branch of rancher-catalog.

[2016-12-07 00:22] #5948 closed

[2016-12-07 00:22] imikushin commented on #4396
Technically, not a bug but a limitation.

[2016-12-07 00:24] galal-hussein commented on #4395
Tested both normal and headless namedport services and worked on master build, rancher-catalog and vnext branch.

[2016-12-07 00:24] #4395 closed

[2016-12-07 00:25] imikushin commented on #6600
@galal-hussein Is this still the case on rancher kubernetes 1.4.6 with kube-dns?

[2016-12-07 00:29] sangeethah opened #6958 "hostPorts for network set to "true" , even though host_ports was set to "false" in rancher-compose."
Rancher server version - v1.2.0

Steps to reproduce the problem:

Create a template with network service provider as - "Vxlan-Internal" from  - `https://github.com/deniseschannon/rancher-catalog` and branch `vxlantest`

Create environment with this template.

Create service with expose ports.
Ports get exposed on the host
[code]

Expected Behavior is for ports to be not exposed on hosts , since we

[2016-12-07 00:30] galal-hussein commented on #6301
with the added support for skydns, i was able to resolve the name for service to the clusterIP with no pods.

Rancher version: master build

[2016-12-07 00:30] #6301 closed

[2016-12-07 00:31] seankf commented on #6943
I have seen this as well on 1.2.0 Release with a custom catalogue with a swarm-template.

Access: LDAP
Orchestration: Swarm
Route catalog-tab.launch

[2016-12-07 00:40] wlan0 commented on #6172
We're not doing GCE now. The other two have been validated. So, closing this issue.

[2016-12-07 00:40] #6172 closed

[2016-12-07 00:56] sangeethah commented on #6950
Tested the following scenarios using - rancher/network-manager:v0.2.14.

Deploy services having exposed ports .  Able to access containers using 127.0.0.1:<exposed port> from the host where they are running.
Upgrade the service.
We are able to continue to access containers using 127.0.0.1:<exposed port> from the host where they are running.

Also there is also no duplicated iptable rules for openi

[2016-12-07 01:45] sangeethah opened #6959 "constant attempt made to create k8s infra stack instances when all the hosts from k8s environment is deleted.Not able to acccess UI."
Rancher-server version- v1.2

Steps that lead to the problem:
Had a K8s environment with 3 hosts where only infra stacks had started successfully.
Deleted all the hosts in this envrionment.

For the next 15 mts or so, UI was not accessible at all and I got this message - ```waiting for available socket```

During this time there is a constant attempt made to recreate k8s infra stack instances even

[2016-12-07 05:00] JayHaoDing opened #6960 "NO_PROXY in agent container setting cannot use wildcard"
**Rancher Version:**
1.1.4

**Docker Version:**
1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
RHEL 7.2

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
start agent container in remote host with command

[code]

Note: `-e 'NO_PROXY=.domain.com,localhost,127.0.0.1'` has also been tried

**Results:**
Host cannot register to Rancher ser

[2016-12-07 06:06] akhy commented on #2801
@nunofgs essentially any `docker:*` images. Temporary solution is by retagging to private registry as @patrickbusch said.

[2016-12-07 06:25] untoldone opened #6961 "Marketing + messaging around significant 1.2 upgrade maybe incorrect?"
**Rancher Version: 1.2

Generally speaking, I feel that Rancher could have had significantly better messaging around 1.2. I feel like the general theme of response to bugs, and forums has been "things are broken because a lot of things changed in this release". I feel that from an enterprise software perspective, this type of messaging, while maybe true, makes me feel uncomfortable trusting future

[2016-12-07 08:03] sven-codeculture commented on #6935
docker ps -a shows the following:
http://pastebin.com/hBJ9VW7i

I have tryed with both, deleting the /var/lib/rancher and not deleting it. Its the same error.
Do i have any other ways to give you some more logs from the container (such as a debug flag or so?)

[2016-12-07 08:22] nicholasdille commented on #6855
In my case, the issue was solved by overriding the hostname (`io.rancher.container.hostname_override: container_name`) and explicitly adding `rancher.internal` as search domain. I tried the latter after I noticed that name resolution worked for the FQDN (hostname.rancher.internal).

This is my original `/etc/resolv.conf` in the container when the Java application throws UnknownHostException:
[code

[2016-12-07 09:16] clouderding commented on #6914
+1

[2016-12-07 09:16] clouderding commented on #6917
+1 Same issue here.

[2016-12-07 09:16] clouderding commented on #6897
+1 Same issue here.

[2016-12-07 09:17] clouderding commented on #6862
+1 Same issue here.

[2016-12-07 09:17] clouderding commented on #6864
+1 Same issue here.

[2016-12-07 09:20] superseb commented on #6952
Can't reproduce on macOS 10.12.1 and Chrome or Safari.

[2016-12-07 09:45] brutus333 commented on #6756
I am seeing this issue too. It is related to containers with command starting with /.r/r. All the others are working fine. What cause the container to be started this way? I did not configured such a prefix for command in docker-compose or Dockerfile...

[2016-12-07 09:56] Napsty opened #6962 "Feature Request: Configurable docker settings (disable or hard-code certain settings)"
**Rancher Version:** all

**Docker Version:** 1.12

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04, VM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single Node Rancher + external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Just create any docker container via API or UI

**Results:

[2016-12-07 10:22] joehumphries commented on #6961
I feel the same, they are adding more 'features' before the core is stable and robust. It is a shame. I wonder about the testing done.

[2016-12-07 10:59] IsaacJT commented on #6905
I am also seeing this issue with an environment upgraded to 1.2.0 from 1.1.4.

[2016-12-07 11:05] hdep commented on #3784
Hello,

I think I might have the same issue.
what I did :
- delete the host from rancher UI,
- moving /var/lib/docker to /applis/docker
- trying to redeploy the node I got the following error :

[code]

My rancher server is using external database too.
Any idea ?

[2016-12-07 11:29] galindro opened #6963 "Consul stack error: Activating (Expected state running but got error: instance is not running : Dependencies readiness error)"
**Rancher Version:**
1.2

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
ROS 0.7.1

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher + external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Add a Consul Cluster stack from catalog:
![image](https://cloud.githubus

[2016-12-07 12:49] johnrengelman commented on #6917
Was getting this error when I had docker using something other than the default location of /var/lib/docker.

[2016-12-07 12:53] gjongenelen opened #6964 "Containers stuck in "Starting (Scheduling)" state"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS 0.7.1 on AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Add a new service/container

**Results:**
Container gets

[2016-12-07 13:19] ssriley commented on #6891
@tfiduccia Any thoughts on the log messages? Also could you tell me how you got AD integration with TLS working on your side? I can try to reproduce what you did to get it working.

[2016-12-07 13:57] roffe commented on #6918
After several days of banging my head against the wall I gave up on 1.2.0 and tried 1.1.4 again which started up flawlessly and created a cluster. No deadlocks or similar observed.

However building a environment on old software is doomed to fail so it's not a viable solution and since i'm seeing reports of setups breaking after upgrading to 1.2.0 i will have to re-evaluate if i can proceed with t

[2016-12-07 13:58] roffe commented on #6918
For clarification. The same DB setup with the config above was used. So it seems 1.2.0 is not cluster friendly while 1.1.4 seems to work with Percona 5.6 clusters. I've tried it with 5.7 cluster but then the deadlocks are back and the whole cluster is just acting up failing to create services etc.

[2016-12-07 14:06] dsvmacdonald commented on #6952
macOs 10.12.1

Problem on Chrome: 54.0.2840.98 and 55.0.2883.75 (both 64-bit)

Works correctly on

- Firefox 49.02
- Safari 10.0.1

[2016-12-07 14:11] blamh opened #6965 "rancher-compose results in "Check API key""
**Rancher Version:**
v1.2.0

**Docker Version:**
Docker version 1.12.3, build 6b644ec

**OS and where are the hosts located? (cloud, bare metal, etc):**
4.4.24-rancher on EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher. One host containing both server and agent/host. External DB on same host.

**Environment Type: (Cattle/Kubernetes/Swar

[2016-12-07 14:31] SwarmKit commented on #6909
最主要还是没有以前1.1.4版本好用，需要下载的镜像太多，在模板文件中只要选择一个模板其他的模板文件就不存在了，更无法选择kubernetes 模板，无法部署成功！

[2016-12-07 15:01] deniseschannon commented on #6965
Rancher CLI uses account API keys as you can manipulate any environment.

Rancher Compose uses environment API keys, which are hidden under the "advanced options" in API keys as you need to specify which environment you want to use within Rancher.

Rancher CLI also allows you to do `rancher up` which is the same as `rancher-compose up`.

[2016-12-07 15:01] #6965 closed

[2016-12-07 15:06] deniseschannon commented on #6951
We had to move to using `-` instead of `_` due to Docker changes that caused Rancher to no longer work with the names with `_`.

Here are some of the old issues about it:

https://github.com/rancher/rancher/issues/5195
https://github.com/docker/docker/pull/23740

[2016-12-07 15:06] #6951 closed

[2016-12-07 15:30] looztra commented on #6861
same problem for me, in the same context (rancher v1.2.0, docker 1.12.3 on centos 7).

Besides, I have some containers with Path of `/.r/r` that can be accessed.

[2016-12-07 15:49] renaudholcombe commented on #6612
@deniseschannon, any ideas on this? Seems like it might be falling through the cracks.

[2016-12-07 15:54] galindro commented on #6963
This problem does NOT occurs with RancherOS 0.7.0, only with RancherOS 0.7.1

[2016-12-07 16:28] Gmentsik commented on #6864
This Issue was resolved for me:

it has been caused by the following:

I just ran

although this changes the hostname, it does not update your ` /etc/hosts` file.
So you have to change 127.0.1.1 to your hostname manually.

After this everything works correctly, I even tried it with VXLAN

[2016-12-07 17:18] galal-hussein commented on #5763
Tested and verified on Rancher v1.2.0, the error doesn't appear anymore.

[2016-12-07 17:18] #5763 closed

[2016-12-07 17:19] aimartin commented on #6641
Sorry for the late answer. Tested in 1.2.0, seems to be working fine.

Thanks!

[2016-12-07 17:24] remotesyssupport commented on #3248
With github we found that we could use [x-oauth-cloning ](https://github.com/blog/1270-easier-builds-and-deployments-using-git-over-https-and-oauth) based cloning for private github repos:

example:  https://<token>:x-oauth-basic@github.com/owner/repo.git

and it worked perfectly fine. Hope this helps

[2016-12-07 17:43] danielschlegel opened #6966 "remote kubectl not working: invalid character '\x00' in string literal"
I have an nginx in front of rancher configured like this:
http://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/basic-ssl-config/

Rancher is accessible at https://rancher.example.com:8080
kubectl config is:
[code]
I wand to add a deployment thats pretty big.

[code]
Im able to create this deployment.
[code]
But deletion does not work.
[code]

If i do the same command in web

[2016-12-07 17:56] alena1108 commented on #6888
@sangeethah to test, just put this in the custom config, and validate that config apply doesn't fail:

[code]

[2016-12-07 17:57] alena1108 commented on #6921
@sangeethah to test, on pre-upgarded setup (1.1.x), set only default section for the custom config, and omit global. Upgrade to 1.2.1 and see that there is no error on haproxy startup

[2016-12-07 18:26] newmips opened #6967 "Issue on creation of stacks using Rancher API v2-beta - Method not allowed"
Hi,

An issue on creation of stacks using API v2-beta:

**Rancher Version:**
v1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu - OVH Cloud Public

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Se

[2016-12-07 18:33] jacruzca commented on #6864
That worked for me. Thank you @deniseschannon

[2016-12-07 18:50] roobytwo opened #6968 "Unable to add container to service in stack via rancher REST api"
**Rancher Version:**
1.1.1

**Docker Version:**
1.11.2

**OS and where are the hosts located? (cloud, bare metal, etc):**
AWS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Rancher HA, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Add a new container to an existing stack via REST API. for example I have an

[2016-12-07 18:57] joceluss commented on #6911
Same problem here... was ok before Rancher 1.2

[2016-12-07 19:01] dcnl1980 commented on #6911
I think we are the only one which have that, since the rest is not responding ;-). I will try v1.2.0-rc1 tonight to see if this will be changed. It would be great if it's working so I can see my stacks and attach haproxy on this from the Rancher interface. So other readers, please help us !!

[2016-12-07 19:15] bacheson commented on #6961
I literally posted the same message in the forum. 1.2 has crippled my install. Even starting from fresh my ui is locking up and containers are stuck in infinite starting states. What a mess. This is making me look bad internally at my company.

[2016-12-07 19:23] jeanlouisboudart commented on #6840
Any news on this ?

[2016-12-07 19:25] marcovn commented on #6952
On Chrome 54.0.2840.98 and macOS 10.12.1 and cannot reproduce it either...

Running cattle on Digital Ocean hosts.

[2016-12-07 19:26] jloisel commented on #6961
You should always backup your work before migrating to new versions of any software. This is not specific to Rancher. Software is designed by human, who aren't perfect by nature. You are supposed to have testing environment to test and prevent issues in production.

Sure, Rancher v1.2.0 is pretty bad from user perspective. But, from developer perspective, things have improved a lot, especially in

[2016-12-07 19:35] bacheson commented on #6961
great points @jloisel ... although no one said anything here about upgrading to 1.2 in production and not having a backup...that's obviously a terrible idea. It's frustrating when you spend hours testing only to have the latest and greatest crash and burn all while touting a GA.

[2016-12-07 19:40] untoldone commented on #6956
Just wanted to mention -- I don't know what Rancher's github bug labels represent, but I personally feel this might be a bug rather than being a new feature as it seems to be described in the title? It is a regression for those who depend on a private GCR registry. The regression single-handedly prevents me from being able to run 1.2 / 1.2.1 in production since it was supported in prior version.

[2016-12-07 19:42] marcovn opened #6969 "404's for fonts on API page"
**Rancher Version:** 1.2.0

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node, external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:** Access the API page at /v2-beta or /v1. Open the developers console (Chrom

[2016-12-07 19:43] jloisel opened #6970 "api.machine.create doesn't create host"
**Rancher Version:** 1.2.0

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single Node, internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
Call api.machine.create via curl to create an AWS machine.

**R

[2016-12-07 19:47] pulberg commented on #6922
@Sturgelose the container is running, I have the same issue on a running container -

[code]

[code]

[2016-12-07 19:53] alena1108 commented on #6931
@joehumphries were couchdb and nginx started as standalone containers? or as a part of the service

[2016-12-07 20:05] tpagden opened #6971 "Docker Volume Create with rancher-nfs a 2-step process now"
**Rancher Version:**
1.2.0
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 (virtual)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Swarm

**Steps to Reproduce:**
With convoy-nfs, the command "docker volume create --driver convoy-

[2016-12-07 20:14] joehumphries commented on #6961
@jloisel Im not sure, all the different levels of testing, unit, functional, regression, integration, ete,  load etc should have caught 95% of the problems I see people raising on this forum.

Also, I feel a lot of the issues raised people people result in just reinstalling the server and the ticket raised here are just closed.

We shall see, I feel they need to step back a focus on the great prod

[2016-12-07 20:20] bacheson opened #6972 "UI inaccessible...repeating errors in server"
**Rancher Version:**
1.2

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 LTS / Google Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node / external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Create new environment. Create services (don't ad

[2016-12-07 20:20] joehumphries commented on #6931
Both ways.. as part of a stack, or If I start a new stack with 4 nodes, then attempt to start another container(any) with >3 links it spins forever.

[2016-12-07 20:24] bacheson commented on #6972
here is what one of the hosts is reporting

INFO: Attempting to connect to: http://35.185.6.117/v1
INFO: http://35.185.6.117/v1 is accessible
INFO: Inspecting host capabilities
INFO: Boot2Docker: false
INFO: Host writable: true
INFO: Token: xxxxxxxx
INFO: Running registration
Traceback (most recent call last):
  File "./register.py", line 27, in <module>
    r = client.wait_success(r, timeout=300)

[2016-12-07 20:28] ddelnano opened #6973 "Rancher Scheduling for new host extremely slow"
I am currently seeing issues when scheduling begins on new hosts.  As we have grown our use of Rancher (adding more hosts) this problem seems to have worsened.  As it currently stands, from the time a host is registered with the Rancher master to when all the containers are started it takes anywhere from 15-60 mins.  I have captured the logs of the rancher-agent and master as I bring up a new host

[2016-12-07 20:38] dcnl1980 commented on #6911
Still the same with the 1.2.0-rc1 candidate. I notice that their are also r_ containers. Is there an easy way to detect the containers between Rancher and Docker, or to delete the cache?

![screen shot 2016-12-07 at 21 36 09](https://cloud.githubusercontent.com/assets/8920270/20985613/816b79e8-bcc5-11e6-9749-f35efd2ad214.png)

[2016-12-07 21:03] ssriley commented on #6891
I have fixed the issue using AD integration and TLS.
We are using self signed certs internally. You have to add the internal CA cert to the Java trusted CA certs.
Here is what i had to do.
1. Export the cert from the CA as a Base 64 encoded cert.
2. Attach the cert to the container as normal.
3. Get inside the Rancher Server container and navigate to the java security directory
4. run the keytool

[2016-12-07 21:17] dsvmacdonald commented on #6952
Closing ... must be one of my browser extensions

[2016-12-07 21:17] #6952 closed

[2016-12-07 21:31] fprieur commented on #6911
+1

[2016-12-07 21:33] galindro commented on #6859
@willseward @5an1ty @machi1990 @clicman please, could one of you post here what are the options used on nfs server and the docker-compose of the nfs-client service?

[2016-12-07 21:57] dsvmacdonald commented on #6951
@deniseschannon is there a way to determine what version of Rancher is running from Metadata service?

[2016-12-07 23:24] frekele commented on #6864
I solved this problem. 😄 🎉

@Dmitry1987 Thanks for trying to help, but unfortunately this is not the case.

It is not the related case as either TCP / UDP or ICMP ports.

I was with all ports released (0.0.0.0/0 All Trafic), but the error persisted.

On startup with cloud-init I attach an additional EBS volume, where I maintain persistent data such as nexus artifact repository, Jenkins jobs, and s

[2016-12-08 00:58] tknecht opened #6974 "Port Mappings not working properly"
**Rancher Version:**
1.2
**Docker Version:**
Docker version 1.12.1, build 23cf638
**OS and where are the hosts located? (cloud, bare metal, etc):**
Linux <hostname> 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher, external DB
**Environment Type: (Cattle/Kuberne

[2016-12-08 01:01] tknecht opened #6975 "docker inspect network settings are broken"
**Rancher Version:**
1.2
**Docker Version:**
Docker version 1.12.1, build 23cf638
**OS and where are the hosts located? (cloud, bare metal, etc):**
Linux <hostname> 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA rancher, external DB
**Environment Type: (Cattle/Kuberne

[2016-12-08 01:08] tknecht opened #6976 "Service Links change when automatically when upgrading service"
Rancher Version:
1.2
Docker Version:
Docker version 1.12.1, build 23cf638
OS and where are the hosts located? (cloud, bare metal, etc):
Linux 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)
HA rancher, external DB
Environment Type: (Cattle/Kubernetes/Swarm/Mesos)
Cattle
Steps

[2016-12-08 01:22] StrongMonkey commented on #6756
@brutus333 It is the new network design for rancher managed network containers. we have special volumes binding to our rancher managed container to make it work.

[2016-12-08 01:26] StrongMonkey commented on #6956
@vincent99 can you make the change in UI for it?

[2016-12-08 02:04] sangeethah opened #6977 "Cross host networking broken for VXLAN networking with hostPorts for network set to "false""
Rancher server version - v1.2.0

Steps to reproduce the problem:

Create a template with network service provider as - "Vxlan-Internal" from - https://github.com/deniseschannon/rancher-catalog and branch vxlantest

Create environment with this template.

Create service with expose ports.

hostPorts for vxlan network is still set to"true" in DB -- https://github.com/rancher/rancher/issues/6958.
Set

[2016-12-08 02:33] xlight commented on #4253
+1

[2016-12-08 05:03] aemneina opened #6978 "large amount of volumes in environment causing UI to fail to load"
**Rancher Version:**
1.2.0

This was the first indicator
<img width="710" alt="screen_shot_2016-12-07_at_22 31 07" src="https://cloud.githubusercontent.com/assets/474978/20998118/6ce230de-bcc0-11e6-831d-128f34335bfc.png">

subsequent db query yielded 10's of thousands of volumes which caused this stacktrace:
[code]

[2016-12-08 05:47] sangeethah opened #6979 "Should be allowed to start multiple containers with same exposed port on the same host when networking has hostPorts set to "false""
Rancher server version - v1.2.0

Steps to reproduce the problem:

Create a template with network service provider as - "Vxlan-Internal" from - https://github.com/deniseschannon/rancher-catalog and branch vxlantest

Create environment with this template.

Create service with expose ports.

hostPorts for vxlan network is still set to"true" in DB -- #6958.
Set hostPorts for vxlan network to "false" i

[2016-12-08 06:10] aaditi30 opened #6980 "Non Seed containers in cassandra stack are not able to connet to seed node after upgrading to rancher V1.2"
my docker compose worked properly on rancher v 1.1.0. We upgraed to rancher v1.2.0 yesterday. After resolving issues with docker compose version 2 and updating docker compose. I was able to start cassandra seed node. Other non seed containers come up but they are not able to join seed node.

At first i though that its a security group issue but even after opening entire security group i keep getti

[2016-12-08 06:16] aaditi30 commented on #6980
If i try to create a single container keep getting this error:
Failed to allocate instance [container:1i293]: Bad instance [container:1i293] in state [stopping]: Scheduling failed: needs host with label name: vm2

I have labeled VM's properly so not having the vm lable is not the issue

[2016-12-08 07:20] zk4 opened #6981 "add one more host ,Host stop working"
**Rancher Version:**
1.1.3
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 14.04.5
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle
**Steps to Reproduce:**
I have 2 hosts.
one business service is running, with haproxy  on every  host.
business servic

[2016-12-08 07:36] clicman opened #6982 "Is volumes should not be purged since 1.2?"
**Rancher Version:** 1.2

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
Delete volume from storage tab

**Results:**
Volume removed from ui

**Expected:**

[2016-12-08 07:37] blamh commented on #6965
Great. That fixed it. The error message could be more helpful about this. I made a change proposal to the doc to make this even more explicit. Thank you for the help :-)

[2016-12-08 08:39] Dmitry1987 commented on #6864
@frekele  nice, thanks for reporting back.
I wonder why you had to stop docker twice? :)  just curious

[2016-12-08 09:12] machi1990 commented on #6859
`version: '2'
services:
  nfs-driver:
    privileged: true
    image: rancher/storage-nfs:v0.6.0
    environment:
      MOUNT_DIR: /mountedDir
      NFS_SERVER: x.x.x.x
      MOUNT_OPTS: timeo=6000
    volumes:
    - /run:/run
    - /dev:/host/dev
    - /var/lib/rancher/volumes:/var/lib/rancher/volumes:shared
    logging:
      driver: json-file
      options:
        max-file: '2'
        max-siz

[2016-12-08 09:19] SamMousa commented on #6950
Upgrading now, will confirm if it works for me as well, and if so close this.

[2016-12-08 09:21] SamMousa commented on #6950
Works for me! Thanks!

[2016-12-08 09:25] galindro commented on #6859
@machi1990 thanks a lot for share your configuration.

If you, or someone that I've mentioned here, could share the NFS server configuration (cat /etc/exports) and the NFS Client docker-compose client, I'll be very grateful.

Providing this, we could contribute with others that are suffering with this same issue.

[2016-12-08 09:28] clicman commented on #6859
@galindro
my config which successfully survived after 1.2 upgrade

docker-compose
[code]

[code]

[2016-12-08 09:29] machi1990 commented on #6859
@galindro

[code]

[2016-12-08 10:16] danielschlegel commented on #6843
fixed with rancher 1.2

[2016-12-08 10:16] #6843 closed

[2016-12-08 10:33] newmips commented on #6967
OK resolved. Endpoint was wrong. Now using:
http://newmips.cloud:8080/v2-beta/projects/1a5/stacks

[2016-12-08 10:33] #6967 closed

[2016-12-08 10:57] TheCrealm commented on #4123
Thanks, it works!

But not with TLS..
Maybe Rancher does not accept self signed certificates..
Is there a way to use self signed certificate with the ldap connection?

[2016-12-08 11:18] VincenzoFerme opened #6983 "Provide more Meaningful API Validation Messages for Stack Names Conflicts"
**Rancher Version:**

1.12

**Docker Version:**

1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**

Bare metal, Ubuntu 16.04 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single Node, Internal DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

**Steps to Reproduce:**

1. Create a user stack named NFS
2. Add the Ra

[2016-12-08 12:43] aemneina opened #6984 "versioned rancher-metadata api"
**Rancher Version:**
1.2

Rancher metadata has [changed](https://github.com/rancher/rancher/issues/6951) its naming convention for containers. This breaks any tooling that relied on that convention earlier. Using older 'versions' of metadata '2015-07-25' for example exhibits the new naming convention.

[2016-12-08 12:46] galindro commented on #6859
And the docker-compose of the nfs clients?
Which version of docker are you using?
Which S.O.?

[2016-12-08 13:11] #6950 closed

[2016-12-08 13:59] markus2810 commented on #4576
Is the experimental support now available? How can I activate it?

[2016-12-08 14:12] galindro commented on #6858
Same issue with me. I've tried with RancherOS v0.7.1, RancherOS v0.7.0 and Ubuntu 16.04. Docker versions 1.12.x

[2016-12-08 14:49] psyhonut commented on #6756
@StrongMonkey so what is workaround?

[2016-12-08 14:53] psyhonut commented on #5010
Can some one provide more detailed explanation about this new volumes feature? Because when I trying to do everything from docs, I always see **inactive** status and nothing works.

[2016-12-08 15:09] danielschlegel commented on #6966
https://github.com/rancher/rancher/issues/6447

[2016-12-08 16:05] vincent99 commented on #6984
The way names are generated changed slightly in 1.2 because the current docker remote API requires it.

Metadata returns the names of the containers that exist;  the data is what it is, it is not a property of what version you asked for and it doesn't make any sense to convert it to what it *would have been* if that container were to have been created on 1.1.x.

Tooling that relies on the construc

[2016-12-08 16:05] #6984 closed

[2016-12-08 16:13] cjellick opened #6985 "If an environment has over ~8000 volumes, the UI wont load."
**Rancher Version:**
1.2.0
**Docker Version:**
N/A

**OS and where are the hosts located? (cloud, bare metal, etc):**
N/A

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Observiced in both a single node and HA environment.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Observed in both cattle and k8s

**Steps to Reproduce:**
1. Create  a bunch of volum

[2016-12-08 16:15] willseward commented on #4576
Yes! Please provide instructions

[2016-12-08 16:24] vincent99 commented on #6967
You should probably delete that API key if your install is on the public internet...

[2016-12-08 16:30] newmips commented on #6967
Yes. I did it. Thx :-)

[2016-12-08 16:50] cjellick commented on #6985
High number of volumes is due to this issue: #6826. We need to ultimately address that too

[2016-12-08 17:37] willseward commented on #6859
Ubuntu 16.04

/srv/xxx x.x.x.x(rw,no_root_squash,insecure,sync,no_subtree_check)

[2016-12-08 17:40] joshwget commented on #5010
@psyhonut Can you walk through what you tried so we know where the docs could be improved?

[2016-12-08 17:40] willseward commented on #6859
@clicman What has been your experience running nfs inside Rancher? I don't think I'm brave enough

[2016-12-08 17:45] StrongMonkey commented on #6756
@psyhonut I can't provide an answer now, but we will try to fix the case where `docker cli` works but `rancher exec` doesn't work.

[2016-12-08 17:50] tfiduccia commented on #6943
Version - 1.2.0 - Verified that this is an issue.

[2016-12-08 18:08] juocal commented on #6911
Same problem here! Docker Images started via compose are not detected by rancher at all.

[2016-12-08 18:22] tfiduccia commented on #6982
@clicman - the previous behavior where removed volumes where still able to be seen in the UI was a bug.  Once you remove any volume, container, service, host it should not remain in the UI.  Also we will do an automatic purge of any removed (deleted) items.  It's time based so it can take up to 10 minutes for the purge to happen.  If this is not automatically happening after 10 minutes, please reo

[2016-12-08 18:22] #6982 closed

[2016-12-08 18:28] tfiduccia commented on #6980
@aaditi30 - for the failed Container, if you look at the host page in UI, you have a host that has this on it?
![image](https://cloud.githubusercontent.com/assets/11514927/21022310/6b89b5c6-bd39-11e6-948d-07b2bf85ae2d.png)

[2016-12-08 19:00] vincent99 commented on #6961
There are several common issues that came up in 1.2.0 and they will be addressed.  We're sorry that's caused some people trouble, but the changes to make networking/orchestration/storage/etc drivers pluggable, reworking HA and load balancing, and all the other stuff necessitated a fairly complicated upgrade of it all at roughly the same time.  In the meantime other developers have been working on

[2016-12-08 19:05] tfiduccia opened #6987 "Something else not automatically selected for Host Registration URL"
**Rancher Version:** v1.2.0

**Steps to Reproduce:**
1.  Go to settings
2.  Type something into the Something else field

**Results:** Radio button not automatically selected
![image](https://cloud.githubusercontent.com/assets/11514927/21023628/925d2a2a-bd3e-11e6-8648-560ade60c020.png)

**Expected:**  Should be automatically selected

[2016-12-08 19:15] tfiduccia commented on #6983
version - 1.2
Two issues here:
1.  Maybe we shouldn't name the Rancher NFS stack just NFS as user may want to use that.  Rancher NFS may be better.
2.  Can we add the word "stack" to the error.  So it says "stack name is not unique" and gives the user a better sense of what they need to change?

[2016-12-08 19:16] virtuman commented on #6901
it's like that:

1) rancher says they recommend single IP per host type of infrastructure (or at least it boils down to that since as soon as you bind 1 port - it blocks traffic to all IPs on that port)

2) rancher says you can install https with nginx ssl termination and for that you need to start nginx on https listening port (most commonly 443)

3) if you do 1 + 2 - you will no longer be able t

[2016-12-08 19:18] ibuildthecloud commented on #6862
This issue is most likely going to have to do with the fact that 1.2 currently doesn't work with docker not installed at `/var/lib/docker`.  @deniseschannon Can you link that issue, I'll look at this in conjunction with that.

[2016-12-08 19:24] deniseschannon commented on #6862
here's the issue where docker isn't installed at `/var/lib/docker`.https://github.com/rancher/rancher/issues/6897

[2016-12-08 19:27] joceluss commented on #6911
Downgraded to previous version... and now it's ok!

[2016-12-08 19:42] tfiduccia opened #6988 "load balancer scheduling host drop-down not functioning"
**Rancher Version:** v1.2

**Steps to Reproduce:**
1.  Add labels to host
2.  Add load balancer
3.  Go to scheduling and click on drop-down for host

**Results:** Nothing in there

**Expected:**  Should reflect host labels.

[2016-12-08 19:49] ddelnano commented on #5303
I know this issue is closed but wanted to say when experiencing this issue I switched to aufs one instance at a time.  During this process I accidentally left one host using devicemapper.  What is interesting is that I do not see that container or the host in the Rancher UI at all.  It seems to be functioning perfectly but is just not present at all.

[2016-12-08 19:58] aemneina commented on #6901
Runnng rancher server and agents and LB on the same host wouldn't be a supported/recommended production like deployment. Maybe that can be cleared up in the doc.

[2016-12-08 20:05] ibuildthecloud commented on #6961
@untoldone  Chief Architect of Rancher Labs here.  I take this concern quite seriously.  We are basically in a very difficult position here.  We had to make some major architectural changes in order to continue to meet that demand for all the features and flexibility that people want.  Such a major change makes upgrade extremely difficult.  This left us with two options

1. Don't support upgrade.

[2016-12-08 20:45] willseward commented on #6885
I was using Chrome. Here are some more:

I can't help much in the way of debugging this. I've never used ember.

![screen shot 2016-12-08 at 2 43 46 pm](https://cloud.githubusercontent.com/assets/5386568/21027065/d99a6ee6-bd54-11e6-8419-65174e5f52c9.png)

![screen shot 2016-12-08 at 2 42 41 pm](https://cloud.githubusercontent.com/assets/5386568/21027008/a5164c6c-bd54-11e6-8bd2-ecfc5237873d.png)

!

[2016-12-08 20:58] alena1108 commented on #6931
@joehumphries tried different scenarios on latest master, no luck reproducing the issue. This is what I've tried:

1) Creating target service with 4 instances, then referencing this service via service link from client service. Client service's instance starts fine.
2) Creating 4 standalone containers, and referencing them via 4 container links from the client standalone container, works good as w

[2016-12-08 20:59] willseward commented on #6961
Response bias is a tough burden to conquer.

I'll take this as an opportunity to praise Rancher. Though, there are many other products filling the same market-space, none quite tick all of the boxes that Rancher does. I simply wouldn't be in business if it weren't for Rancher. Thanks, guys!

[2016-12-08 21:29] zyounker opened #6989 "CATTLE_URL partly ignored in agent registration"
**Rancher Version:**
v1.2
**Docker Version:**
1.12.1
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher, external db
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Pass CATTLE_URL and watch it ignore it during host registration

So i am s

[2016-12-08 21:34] soumyalj commented on #5562
Tested with v1.2.0 and Kubernetes 1.4.6. Pods/services/rcs get created successfully without any errors.

[2016-12-08 21:34] #5562 closed

[2016-12-08 21:37] galal-hussein commented on #6600
@imikushin No i was able to resolve the hostname.subdomain.namespace.svc.cluster.local, a side note according to the documentation, you will have to create a headless service with the same subdomain you want to specify in order for this feature to work, closing the issue, thanks.

[2016-12-08 21:37] #6600 closed

[2016-12-08 21:46] soumyalj commented on #6095
Tested with v1.2.0, Kubernetes1.4.6 on a 3 host setup. Kubelet logs on all the 3 hosts did not have the above errors.

[2016-12-08 21:46] #6095 closed

[2016-12-08 22:03] vincent99 commented on #6989
The URL for the agents to connect to to reach the server is the Host Registration URL in Admin -> Settings.  That ends up becoming the last piece of the registration command:

sudo docker run -d --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.1.0 **proto://your-registration-url:8080**/v1/scripts/*..token..*

("proto" would be `http` o

[2016-12-08 22:21] soumyalj opened #6990 "Kubelet logs have error messages :"NetworkPlugin cni failed on the status hook for pod""
**Rancher Version:**v1.2

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Kubernetes

**Steps to Reproduce:**
1. Create a Kubernetes environment.
2. Create pods

**Results:**
Kubelet logs ha

[2016-12-08 22:30] tfiduccia opened #6991 "Service/container stopped if I select Console option"
**Rancher Version:** v1.2

**Steps to Reproduce:**
1.  Create a service that uses the ubuntu image
2.  Check None option for Console (Command tab)
3.  Create service

**Results:** The container stops and the service goes to error and keeps retrying

**Expected:**  Container should run.

[2016-12-08 22:31] #6991 closed

[2016-12-08 22:31] frekele commented on #6864
@Dmitry1987 I created this script when docker was in version v1.10.0.
It was necessary to force the stop several times to block the auto start.
It was thus only for guarantee that the service will be stopped.

[2016-12-08 22:45] zyounker commented on #6989
Is this URL also used for github access control? i believe it was set when i setup access-control. If that is the case, it will break access-control if i change to an internal DNS url for registration.

Below is the command that was executed. I will try changing the url in the admin settings. I kinda expected it would just keep the URL i gave it.

sudo docker run -e 'CATTLE_HOST_LABELS=instance-id

[2016-12-08 22:48] tfiduccia commented on #6969
Version - 1.2 : the errors are indeed happening in the dev tools.  The actions gylps are squares instead of icons:
![image](https://cloud.githubusercontent.com/assets/11514927/21030798/a259b67c-bd5d-11e6-8a07-1c044ed7953c.png)

[2016-12-08 22:54] sangeethah commented on #6969
similar to this issue - https://github.com/rancher/rancher/issues/5929

[2016-12-08 22:57] tfiduccia commented on #5884
Version - v1.2
Verified fixed

[2016-12-08 22:57] #5884 closed

[2016-12-08 23:10] tfiduccia commented on #5855
Version 1.2 - not fixed?
UI changes && to \&\& and it doesn't seem to work

[2016-12-09 00:12] vincent99 commented on #6957
Fixed in `event-subscriber`, but needs to be updated in `agent`.

[2016-12-09 00:52] leodotcloud opened #6992 "Fix the MTU problem"

[2016-12-09 02:14] stefanlasiewski commented on #6861
Same problem here, also Rancher 1.2.0, Docker 1.12 and CentOS 7.2.

I can access some containers with a Path of /.r/r , but not some others. I also cannot access some generic containers,

This Rancher Infrastructure container works:

[code]

This Rancher Infrastructure container cannot be accessed:

[code]

[2016-12-09 03:05] cpoole commented on #3989
This is an absolute mess. AWS sets hard limits on the number of buckets you can have. 30 developers with 10 images each already puts you over the limit. Not to mention each build seems to create a new bucket...

This feature is a non starter until we can specify a "build" bucket and then have each unique build create a subfolder inside that build bucket.

Or even better would be able to specify a

[2016-12-09 03:13] adrianfalleiro commented on #3989
Hey @cpoole, I faced a similar issue and ended up creating an internal fork of `rancher-compose` that allows you to specify a target bucket as a command line argument.

I never ended up submitting a pull request because it was against an older version of `rancher-compose`. Since this is still an issue perhaps I will take a look at it over the weekend

[2016-12-09 04:31] imikushin commented on #6942
No luck to reproduce on GCE as described as well as on AWS with 3 dedicated hosts (not running rancher/server): both environments updated cleanly and run fine:

- http://ec2-54-67-19-162.us-west-1.compute.amazonaws.com:8080/
- http://104.196.241.16:8080/

[2016-12-09 04:46] cpoole commented on #3989
@adrianfalleiro that would be awesome. I'm willing to help out with the PR if you'd like.

Is it the compose posted on your github? https://github.com/adrianfalleiro/rancher-compose

[2016-12-09 06:28] JuergenBoe opened #6993 "Rancher with selfsigned Certificates doesn't work"
**Rancher Version:**
1.2.0 and 1.1.4
**Docker Version:**
1.10.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
RedHat Server Release 7.2  Datacenter
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
HA Rancher, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Following these instructions:
http://d

[2016-12-09 07:16] deniseschannon commented on #6772
I'm not sure why it isn't pulling from catalog, but the website should be running.

Do you have your ports open on GCE to expose `8080`?

[2016-12-09 07:19] deniseschannon commented on #4825
Networking in 1.2.0 was completely revamped where we now use CNI. v1.2 is now out, but there have been some issues that people have faced  if you have docker bridge using something besides docker0 or docker installed somewhere outside of `var/lib/docker`. I'll close this issue as any networking issue should be reported based on v1.2.0 and we'll fix them.

[2016-12-09 07:19] #4825 closed

[2016-12-09 07:28] deniseschannon commented on #6612
@renaudholcombe Could you share your docker-compose.yml and rancher-compose.yml for the LB definition that you have? How many hosts do you have? How many LBs? Did you make them through the UI?

[2016-12-09 07:30] deniseschannon commented on #6951
@dsvmacdonald I don't believe there is a way to determine the Rancher version from the metadata service. I'm not sure how you're tooling is setup, but would you be able to access the Rancher API to figure it out from the API?

[2016-12-09 08:06] untoldone commented on #6961
@ibuildthecloud @vincent99 I really do appreciate you both taking the time to very thoughtfully reply and I appreciate everyone else working on the release and its subsequent fixes. I'm 100% ok with how everything has played out and definitely feel Rancher is the best option out there for its category. I'd absolutely recommend it to others.

However, I still do feel post-release communications cou

[2016-12-09 08:14] danielschlegel commented on #6966
Without Nginx in front of Rancher it workes like it should but i really need a proxy in front of it. I could not find a solution for a working Nginx config now.

[2016-12-09 09:31] aaditi30 commented on #6980
Hi tfiduccia,
Thanks for the response. I have set  label name for each host and i do have a host with vm name VM2.

seed cassandra container comes up. Second container has problems connecting to the first container and shows the logs that i have attached above.

In current docker compose i have used link to connect secondary container to primary/ seed container. Is there any change in Rancher V2.0

[2016-12-09 09:35] pengjiang80 opened #6994 "[K8S] Applications deployed from catalog showed in both stacks and infra stacks view"
Steps to repro:

1. Build a k8s environment.
2. Deploy application from catalog. For example, prometheus or guestbook.
3. Applications showed in both stack view and infra stacks, which should only be showed in stack view.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.0` Cattle: `v0.174.3` UI: `v1.2.34` |
|Access|`Disabled`|
|Orchestration|`Kubernetes`|
|Route|`stacks.index`|

[2016-12-09 10:17] galindro commented on #6859
I can not make it work in version 1.2, only with version 1.1.4. I think is because docker version... I'm using docker 1.12.0 (I've tried too with 1.12.1, 1.12.2 and 1.12.3). None of them works. Rancher simply not register the new volume in host docker:

[code]

But the volume driver is listed on docker info
[code]

I'm very sure that I've created the nfs stack and the global volume on storage sect

[2016-12-09 11:14] sundeer commented on #6111
Same here, using `.local`. It's just a name I suppose but I prefer it over something like `.internal` or `.private`.

[2016-12-09 11:35] galindro commented on #6859
Now the docker volume is displayed and the volume could be mounted in host, but the container could not be initialized with this error:

![image](https://cloud.githubusercontent.com/assets/4622097/21047720/970d0d9c-bdf2-11e6-808d-7c94321ca4d5.png)

This is the log registered in nfs-driver container:

[code]

I've tested with these three compose files:

[code]

[code]

[2016-12-09 11:39] galindro commented on #6859
Here are docker-agent logs:

[code]

[2016-12-09 11:40] galindro commented on #6859
@deniseschannon @ibuildthecloud @cloudnautique @cjellick @alena1108 @vincent99 @imikushin

Could you check this bug please?

[2016-12-09 11:56] dsvmacdonald commented on #6951
I'm accessing the metadata service within my container in the entrypoint.sh script.  I really don't want to add rancher access keys to container to query api from container.  I have requested a feature enhancement to add this data to the metadata service.

[2016-12-09 12:57] superseb commented on #6861
Ok quick update of something I just thought of checking out as it only happens on CentOS7. As it seems that there is some mismatch in /proc or in combination with runC lookups I wondered about kernel version. CentOS/RHEL always keep their base version the same, and backport kernel updates. So I updated the 3.10 kernel to the kernel-ml from elrepo which contains `4.8.12-1.el7.elrepo.x86_64`, reboot

[2016-12-09 14:23] GregoireW opened #6995 "UI Freeze / executor of rancher/server is under water"
**Rancher Version: 1.2.0**

**Docker Version: 1.12.3**

**OS and where are the hosts located? : RHEL7 on AMZ**

**Setup Details: single node rancher  with external DB**

**Environment Type: Cattle**

**Steps to Reproduce: create environment / do multiple add/remove of (same?) host**

**Results: UI will freeze, host will not synchronize anymore if something goes wrong on host (like docker restart,

[2016-12-09 14:44] renaudholcombe commented on #6612
Sure, we have 3 hosts and when replicating the issue we use a single load balancer; all containers/load balancers are created via docker/rancher compose. Docker-compose is below:
`node-service:
  ports:
  - "33305"
  image: "$node-servicetag"
  mem_limit: 2147483648
  environment:
    - API_URL=${API_URL}
  external_links:
    - routing/consul-agent:consul-agent
lb:
  ports:
  - "33306:33305"
  la

[2016-12-09 14:47] dsvmacdonald opened #6996 "Environment Variables and External Links different behavior from 1.11.x"
**Rancher Version:**
v1.12
Rancher Compose: v0.12.0

**Docker Version:**
v1.12.3
Docker Compose: v1.9.0

**OS and where are the hosts located? (cloud, bare metal, etc):**
boot2docker, local vm

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Rancher; same host for rancher and user containers

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**

Cattle

[2016-12-09 14:50] psyhonut commented on #5010
This is my steps to implement shared volume:
- go into Catalog, select Rancher NFS
- in NFS Server wrote hostname, where I want to serve NFS (in my case this is my only one host with containers)
- mount directory is something like /var/rancher-nfs
[code]
- go to Infrastructure - Storage, and add volume entering only name. Then I see a table with my "Inactive" volume.

And that is it all that I und

[2016-12-09 15:10] arkka commented on #1874
First, I wanted to thank to @vincent99 on you pseudo-code for upgrading service using the API. it helps me a lot on building my CI pipeline (Jenkins). As might there are other people also looking about this topic, I hereby share my python script for that purpose.

https://gist.github.com/arkka/ab4de1d15d9f8b2b461bbd05c8c035ea

[2016-12-09 15:39] bryan-kc commented on #2096
+1. I find this useful for when I need 2 same stacks for HA.

[2016-12-09 15:43] aemneina commented on #6891
reopening this, this shouldnt have to be a manual workaround.

[2016-12-09 15:46] DavidBadura commented on #5822
I have the same problem with externel DB. @SantoDE can you describe what do you do to solve this problem?

[2016-12-09 15:46] willseward commented on #4576
@will-chan How do we access the experimental build?

[2016-12-09 15:50] ibuildthecloud commented on #6995
Thank you for the thread dump, that helps a lot.

[2016-12-09 16:00] willseward commented on #438
FWIW, it looks like checkpoints will make it into docker 1.13.

[2016-12-09 16:00] vincent99 commented on #6951
There is a label you can set which will cause you to be provided with the API URL and a set of keys to access it from the container of you want to talk to the API, they don't have to be manually maintained.

But as I said in #6984 you can probably use labels, create_index, or uuids to accomplish what you're trying to do without assuming a particular name for the container.

[2016-12-09 16:00] DavidBadura commented on #5822
Have it resolved with https://github.com/rancher/rancher/issues/6334

[code]

[2016-12-09 16:00] ibuildthecloud commented on #6995
The root cause is basically that the UI (frontend) async tasks are being scheduled to a pool that is blocked by backend tasks.  This shouldn't happen.  It appears some backend tasks are getting scheduled to the wrong thread pool.

[2016-12-09 16:22] GregoireW commented on #6995
Can it be because we migrate from 1.0 to 1.1 then 1.2 ?   so that some db stuff get mixed up?

[2016-12-09 16:22] beenanner opened #6997 "OpenLDAP integration not searching nested subtree"
http://www.novell.com/support/kb/doc.php?id=7006929

 Search

Dec  5 14:38:55 sles10sp3 slapd[29566]: SRCH "o=novell" 2 3
Dec  5 14:38:55 sles10sp3 slapd[29566]:     0 0 0
Dec  5 14:38:55 sles10sp3 slapd[29566]:     filter: (cn=admin)
Dec  5 14:38:55 sles10sp3 slapd[29566]:     attrs:
Dec  5 14:38:55 sles10sp3 slapd[29566]:  sn
Dec  5 14:38:55 sles10sp3 slapd[29566]:  cn

The first line consists o

[2016-12-09 16:23] thaJeztah commented on #438
@willseward they will be, but as an experimental feature, so things can (and probably _will_) change in the API and/or UX. We put it in experimental to collect feedback on those points, so feel free to give it a test 👍

[2016-12-09 16:41] ibuildthecloud commented on #6995
@GregoireW This is basically just a bug introduced in 1.2.  The thread pools were changed and this one task type seemed to be misplaced.

[2016-12-09 17:02] clicman opened #6998 "Stopped conatiner doesn't shown on service upgrade in host pane after upgrade to rancher 1.2"
**Rancher Version:** 1.2

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04 on Azure

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Sinhle node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
* Create stack with service which have 1 container.
* Start upgrading ser

[2016-12-09 17:50] joshwget commented on #6963
Have you been able to confirm more than once that this issue appears on v0.7.1 but not v0.7.0? The only difference between the two is a minor kernel change. This leads me to think this is more likely a race condition than an issue with RancherOS version.

[2016-12-09 17:51] vincent99 commented on #6943
There has been minimal interest in the catalog for swarm and it doesn't actually work with the new swarmkit for 1.2, so support for this will no longer be available.  Removing the catalog option was just missed in 1.2.0.

[2016-12-09 17:53] joshwget commented on #5010
Volumes are inactive until they're actually used by a service. Volumes created through the UI are [scoped at the environment level](https://docs.rancher.com/rancher/v1.2/en/rancher-services/storage-service/#environment-scoped-1).

[2016-12-09 17:55] ibuildthecloud commented on #6932
@deniseschannon This is the same volume issue.  Is there a bug already for that?

[2016-12-09 17:57] vincent99 commented on #6932
Yes, https://github.com/rancher/rancher/issues/6985

[2016-12-09 17:57] #6932 closed

[2016-12-09 18:03] vincent99 commented on #6978
https://github.com/rancher/rancher/issues/6985

[2016-12-09 18:03] #6978 closed

[2016-12-09 18:07] tfiduccia commented on #6998
Version - v1.2.0 - checked and this is easily reproducible on current build.

[2016-12-09 18:21] vincent99 opened #6999 "Allow custom certified flags with a different color"
Allow users to put in their own certified label with a different color to distinguish from ours.

- Yellow: `rancher` - Rancher-certified only, displays "Certified".  Must come from the `library` catalog.
- Green: `partner` - Partner-certified only, displays "Parter".  May come from any catalog name.
- Blue: `Arbitrary string provided by the user`, displays that string.
- Custom string cannot be "

[2016-12-09 18:27] tfiduccia commented on #6930
Duplicate of #6861, closing in favor of that.

[2016-12-09 18:27] #6930 closed

[2016-12-09 18:28] stefanlasiewski commented on #6972
Same here, but I run CentOS

Rancher Version:
1.2

Docker Version:
1.12.2

OS and where are the hosts located? (cloud, bare metal, etc):
CentOS 7.2 / VMs in VMware

Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)
single node / external DB

Environment Type: (Cattle/Kubernetes/Swarm/Mesos)
Cattle

[2016-12-09 18:35] DomiStyle commented on #6858
I was able to find the problem and solve it. Since Rancher keeps reporting it can't get some IP address I started sniffing all DNS queries on my DNS server and found the following:

    Dec 9 19:13:46 	unbound 	51000:0 	info: 192.168.1.xxx rancher-metadata.example.org. A IN
    Dec 9 19:13:42 	unbound 	51000:0 	info: 192.168.1.xxx rancher-metadata.example.org. A IN
(where example.org is my interna

[2016-12-09 18:52] deniseschannon commented on #2642
Note: This is in 1.2 and can be tested with 1.2.

[2016-12-09 18:53] deniseschannon commented on #3959
This is in the v1.2 build.

[2016-12-09 18:59] tfiduccia commented on #6994
Version - v1.2.0
We are showing empty infrastructure stacks.  Need to hide Stacks where kind = kubernetesStack

![image](https://cloud.githubusercontent.com/assets/11514927/21060838/cb6eca26-be06-11e6-88f1-d7af74315ec5.png)

![image](https://cloud.githubusercontent.com/assets/11514927/21060828/c17c600a-be06-11e6-9107-bd4b3a6dceb0.png)

[2016-12-09 19:03] tfiduccia commented on #6993
@JuergenBoe this is a duplicate.  Closing in favor of #6891.  In the meantime you can manually fix this issue.  Here are the steps:
1.  Export the cert from the CA as a Base 64 encoded cert.
2.  Attach the cert to the container as normal.
3.  Get inside the Rancher Server container and navigate to the java security directory
4.  Run the keytool utility to add the cert to the trusted Java cacert ke

[2016-12-09 19:13] galindro commented on #6963
I agree with you @joshwget, but I'm pretty sure that I could solve (or _workarround_) the problem by using rancher v0.7.0 in place of v0.7.1. I've tested twice.

[2016-12-09 19:15] bacheson opened #7000 "UI: More than 120 containers and hosts page doesn't load"
**Rancher Version:**
1.2

**Docker Version:**
1.12.1

**OS and where are the hosts located? (cloud, bare metal, etc):**
Bare metal / Ubuntu 16.04 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node external DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
cattle

**Steps to Reproduce:**
spin up 120 containers and navigate back and forth to

[2016-12-09 19:28] bacheson commented on #6972
I rebuilt the entire cluster from scratch. 3 hours later the entire cluster locked up producing the same errors and the UI is inaccessible.

[2016-12-09 19:29] tfiduccia commented on #6980
@aaditi30 - the reason why your container is failing to find the host is because the label you have is uppercase and our new scheduler is no longer case insensitive.  Until we can resolve this issue can you change your host label to be all lower case?

UI is lowercasing it, even if you enter uppercase.  The scheduler is supposed to be (and used to be) case insensitive.

[2016-12-09 19:29] joshwget commented on #6963
Actually, my earlier state was incorrect. The Docker version changed from v1.12.1 to v1.12.3 between those releases. It's possible the issue is related to that. Would you mind testing the two different Docker versions on a different operating system?

[2016-12-09 19:30] bacheson commented on #6972
2016-12-09 19:07:36,500 ERROR [91d7cc82-c2d0-42f8-8046-65b6634d806e:19310] [instance:791] [instance.start->(InstanceStart)] [] [cutorService-31] [i.c.p.process.instance.InstanceStart] Failed [2/2] to Starting for instance [791]
2016-12-09 19:07:37,659 ERROR [ee8e4350-2548-4c27-9019-a290dba97ea3:19295] [service:189] [service.activate] [] [ecutorService-7] [c.p.e.p.i.DefaultProcessInstanceImpl] Expe

[2016-12-09 19:35] deniseschannon opened #7001 "Allow being able to send `rancher/none` as image and not try to pull image (without selector)"
Currently to create some of our other types of services without actually creating containers, we have sent special image names or `rancher/none` and a selector.

We should be able to just use `rancher/none` and it shouldn't try to pull an image.

[2016-12-09 19:37] Ilya-Kuchaev commented on #5309
+1000

[2016-12-09 19:42] deniseschannon commented on #3329
This should be addressed and no longer happening as of v1.2.0. If it occurs, please reopen.

[2016-12-09 19:42] #3329 closed

[2016-12-09 19:43] GregoireW commented on #7000
Hello,

Check if it is the  "identities" endpoint that is the one that is slow. If so guessing it is linked to https://github.com/rancher/rancher/issues/6995

[2016-12-09 19:44] StrongMonkey commented on #2801
It is a legacy issue because we always append `docker:` to our image names and that has caused a lot of problems in parsing the image names. A workaround would be, append an extra `docker:` for all the docker images, for example, if you want to use `docker:1.12`, use `docker:docker:1.12` as your image name instead.

[2016-12-09 20:01] deniseschannon commented on #5522
The new volume functionality is part of v1.2.0. Assigning to QA to test. But any new bug should be opened separately.

[2016-12-09 20:11] cjellick commented on #6980
We investigated and it is not that the scheduler is now case sensitive. There is a weird condition where going from upper to lower case when editing a label causes us to not create an entry in the database.

[2016-12-09 20:20] ronpanto commented on #4178
+1
I am looking into rancher now only because i thought it would be able to do that out of the box. AWS ECS is able to do that for http+https and i need regular TCP.
There is a huge difference between running out of ports in the cluster to other resources since usually we are talking about a different order of magnitude.

[2016-12-09 20:33] cjellick commented on #6980
@tfiduccia @deniseschannon given that this is not caused by any changes in the scheduler and that it is not as sever as originally thought (we originally thought all label scheduling was now case sensitive), can we either assign to someone and/or move out of 1.2.1?

[2016-12-09 20:34] jagarzone6 opened #7002 "Null Propertie secondaryLaunchConfigs after creating service."
After a Service is created using rancher GUI in Cattle orchestration,
when trying to read service config and upgrade the service from the API,
the upgrade fails because secondaryLaunchConfigs property comes null from the API get service.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.1.4` Cattle: `v0.165.8.4` UI: `v1.1.14` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|

[2016-12-09 22:19] alena1108 commented on #4475
@tfiduccia could you try it on the latest? I couldn't reproduce the bug

[2016-12-09 22:19] deniseschannon commented on #6751
@galal-hussein Can you retest?

[2016-12-09 22:21] deniseschannon commented on #6844
Can you retest with v1.2?

[2016-12-09 22:22] tfiduccia commented on #4475
Yep looks like it's fixed in 1.2

[2016-12-09 22:22] #4475 closed

[2016-12-09 22:25] deniseschannon commented on #6753
When testing this fix, we should test this use case:

https://github.com/rancher/rancher/issues/6751

Basically, put rancher server and hosts in different AZ in AWS.

[2016-12-09 22:25] deniseschannon commented on #6751
Closing in favor of 6753

[2016-12-09 22:25] #6751 closed

[2016-12-09 22:29] deniseschannon commented on #6625
Is this cause we were too busy launching the infra services on the host before it starts adding the global service?

@sangeethah Since we switched to having the same base image for the infra services to reduce the speed from when it's ready, do you think

[2016-12-09 22:31] deniseschannon commented on #6483
We are not going to change this behavior and will now always show up.

[2016-12-09 22:31] #6483 closed

[2016-12-09 22:33] deniseschannon commented on #6462
I don't think this exists in teh API, but not sure how to support it.

[2016-12-09 22:44] tfiduccia commented on #6885
@willseward - I'm also using chrome version - 55.0.2883.87 (64-bit), on a mac laptop.  Can you check your version.  I just cannot reproduce this at all, is the first one in the row always fully enabled?  Here is what mine looks like:

![image](https://cloud.githubusercontent.com/assets/11514927/21067016/1fc94c9e-be26-11e6-89ed-cd9322b7cb5d.png)

[2016-12-09 22:52] chrisfelix82 commented on #3150
Not sure is related but I restarted docker on one node with Rancher nfs in the mix and now Rancher-nfs is stuck in activating. Also new containers fail to start on that host. Complaining about can't get ip. Any ideas?

[2016-12-09 23:04] deniseschannon commented on #4463
@sangeethah Can you retest with the new Rancher NFS to see if this issue exists with the new storage stuff?

[2016-12-09 23:06] deniseschannon commented on #4420
@tfiduccia Could you retest with the new storage stuff? Not sure if it's still occuring.

[2016-12-09 23:07] galindro commented on #6963
@joshwget I could confirm that this issue is related to Docker v1.12.3. I've tested on Ubuntu 16.04.

Sincerelly, Rancher v1.2 isn't a stable version in my point of view.... It solves some problems from 1.1.4 but creates new ones... That are many broken things. I was forced to use DockerCloud until it is really stable

[2016-12-09 23:08] deniseschannon commented on #4289
Closing in favor of #3671 and recommending using the new storage options.

[2016-12-09 23:08] #4289 closed

[2016-12-09 23:15] tfiduccia commented on #4420
Version - v1.2.0
Still a problem
![image](https://cloud.githubusercontent.com/assets/11514927/21067763/9eca9652-be2a-11e6-82e6-e05f053f3553.png)

[2016-12-09 23:16] StrongMonkey commented on #6911
I tested with master and found agent is doing reporting the status for those containers. Wondering if it is a bug in cattle somewhere else.

[2016-12-09 23:24] joshwget commented on #6075
@dalareo @VincenzoFerme I'm pretty sure this was a result of incorrect syntax for interpolation. If there is some different underlying issue, please reopen or file a new issue.

[2016-12-09 23:24] #6075 closed

[2016-12-09 23:55] wlan0 opened #7003 "Bundle helm and dashboard with rancher kubernetes"
When rancher kubernetes starts, then helm and dashboard should be running on it as a core service.

[2016-12-10 00:28] soumyalj commented on #6432
Tested on v1.2.0 with digital ocean hosts(Docker 1.12.2) with CATTLE_AGENT_IP = Internal IP on a 4 host setup. After a manager host was turned off, the worker node was promoted to Manager node. The swarm container on the worker node was deleted and a new container was created in the process.

[2016-12-10 00:28] #6432 closed

[2016-12-10 00:43] soumyalj commented on #6429
Verified with v1.2.0 [Swarm template version v1.12.3].  The ```set -x``` flag is removed in the logic which logs every script line executed. The logs are brief now.

[2016-12-10 00:43] #6429 closed

[2016-12-10 01:01] galal-hussein commented on #6942
The upgrade failed after adding the new version of vnext branch, the kubeapi is stuck in initializing state, and the controller manager crashed with the following error message:

[code]

http://35.184.43.18:8080/

[2016-12-10 01:05] imikushin commented on #6942
It's probably a different bug now, but thanks for spotting it!

[2016-12-10 01:16] accoleon opened #7004 "Deleting service linked to load balancer causes API error"
**Rancher Version:**
v.1.2.0
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1, VMs on Hyper-V and ESXi (3 nodes)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node, internal db
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
1. Create any 2 services in one o

[2016-12-10 01:43] sangeethah commented on #2642
Tested with racher-server version - v1.2.0

I am still able to reproduce this issue where instances in a host that is in "Disconnected" state continues to be in "healthy" state and so it does not get migrated to "Active" hosts.

Following are steps I have done:

Set up with 3 hosts.
Had 5 health check enabled instances running on them.
Brought down 2 hosts( h1 and h3) , so that all the instances n

[2016-12-10 01:50] galal-hussein commented on #6942
Validation tests for DNS test passed after upgrade, thanks

[2016-12-10 01:50] #6942 closed

[2016-12-10 01:52] vincent99 commented on #6814
This is theoretically in but I haven't seen a working API accessible to a normal admin yet...

[2016-12-10 01:52] sangeethah commented on #2642
In this case , even scheduler container which is in the "Disconnected" host is marked healthy.
Any contianer deployment is now stuck in "starting" state with error -  ```Activating (Waiting: allocated [container:1i42])```

[2016-12-10 01:56] alena1108 commented on #2642
@sangeethah in that setup, disconnected host was removed from the list of health checkers. And the new hosts were added - which is correct. But by some reason, the health check containers weren't started on the reconnected hosts, so they can't report the "unhealthy" health check.

So this original issue is resolved. But we have to figure out why health check containers failed to start

[2016-12-10 01:59] wlan0 opened #7005 "Bundled helm server does not get recognized by helm client"
helm client does not recognize the helm server that is bundled with rancher kubernetes.

[2016-12-10 02:14] alena1108 commented on #2642
@cjellick running into an interesting issue here:

1) all hosts in the system are going down
2) "scheduler" container is left on disconnected host as all its health checkers are also on disconnected hosts, so there is noone to report the health is left around.
3) bring new host to the system, or bring one of the old hosts back up (not the one where scheduler is running).
4) Healthcheck system cont

[2016-12-10 03:42] cjellick commented on #2642
@ibuildthecloud has observed something similar. he wanted to build a priority event queue for important containers.

I'll think on this for a bit

[2016-12-10 13:43] Dmitry1987 commented on #6172
I had an issue using StorageClass on AWS, my steps were exact as you describe @galal-hussein , just with another image (I'm trying to setup mongodb cluster). Can you please advice what did you modify in your Rancher setup to make AWS dynamic provisioning work?  I'm stuck at "ProvisioningFailed       no volume plugin matched", can't figure out how to make k8s provision AWS volumes :( .
Thanks in ad

[2016-12-10 13:46] Dmitry1987 commented on #6121
Hello, I had an issue using StorageClass on AWS too, my steps were exact as @galal-hussein did here https://github.com/rancher/rancher/issues/6172  , just with another image. How do I need to modify Rancher setup to make AWS dynamic provisioning work? I'm stuck at "ProvisioningFailed no volume plugin matched" error, can't figure out how to allow k8s to provision AWS volumes :( .
Thanks in advance!

[2016-12-10 14:07] Dmitry1987 commented on #4444
Hi @alena1108 , I have the same issue with AWS EBS volumes not getting created, and your example pod with 'already existent' volume also didn't work.  I did use IAM role that allows needed EC2 actions. Getting this errors during creation:

[code]

How do I verify my K8s installed through Rancher is able to see AWS volumes?   I think it's some kind of K8s installation issue, because it looks for so

[2016-12-10 17:05] alexanderdavidsen opened #7006 "Kubernetes fails on fresh install"
Rancher Version: 1.2.0
Docker Version: 1.12.3
OS and where are the hosts located? (cloud, bare metal, etc): rancherOS on VMWare (2 vCPUs 2GiB memory)

Setup Details:
- Single node rancher
- Five rancherOS hosts, three with tag etcd and two with orchestration=true

Environment Type: Kubernetes

Steps to Reproduce:
 - Clean install, trying to deploy kubernetes. All services except kubelets are start

[2016-12-10 17:11] sundeer commented on #6664
Had to create a DHCP options set with the 'Domain name" config param eq. to the private hosted zone's domain name.

[2016-12-10 17:11] #6664 closed

[2016-12-10 17:17] deniseschannon commented on #6897
Found this workaround in the other main issue from @swartel-fa

A workaround I found to solve the issue related to /var/lib/docker is to use a mount point instead of a symlink.
For example:
[code]

[2016-12-10 17:29] deniseschannon commented on #6858
@stormerider I finally had a chance to look at your logs. Your issue seems different as it looks as if your `go-machine-service` is flapping in your server. Could you open a new issue for that?

@marvinwankersteen The IP address of the the server running rancher/agent should use the public IP address unless the rancher/server server can access the `tun0` IP.

@hawkwang There is no way to increase

[2016-12-10 19:03] sdelrio commented on #6855
Rancher server 1.2.0 here too and also fails when using jenkins-swarm-agent giving this error:

[code]
Looking the java [code of jenkins swarm-plugin](https://github.com/jenkinsci/swarm-plugin/blob/master/client/src/main/java/hudson/plugins/swarm/Client.java) the behaveiour is the same that you commented there. And also `ping hostname` fails.

[code]
Changing the hostname to "user the contianer na

[2016-12-10 19:07] alexanderdavidsen commented on #7006
Did some more testing, running rancherOS v0.6.1 seems to be working. The kubelet container starts without any issues.

[2016-12-10 19:11] willseward commented on #6885
@tfiduccia I'm on 54.0.2840.98 64bit on a Mac. I'm also able to reproduce on Firefox 51.0b6 (64-bit), Chromium 55.0.2872.0 (64-bit), Safari 10.0.1 (12602.2.14.0.7), and Vivaldi 1.4.589.2 (Developer Build) (64-bit).

Yes, the first one is always fully enabled, and the 4th to last is always disabled.

[2016-12-10 19:13] willseward commented on #6885
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v1.2.0` Cattle: `v0.174.3` UI: `v1.2.34` |
|Access|`localauth` `admin`|
|Orchestration|`Cattle`|
|Route|`hosts.index`|

[2016-12-10 20:40] alexanderdavidsen commented on #7006
I just tested with the latest version of CoreOS (CoreOS stable (1185.5.0)), and kubelet is starting just fine...

[2016-12-10 21:23] Vrtak-CZ opened #7007 "Rancher doesn't realocate container from disconnected host to active one"
**Rancher Version:** 1.2.0

**Docker Version:** 1.12.3

**OS and where are the hosts located?:** AWS Autoscaled EC2 Spot instances (RancherOS)

**Setup Details:** single node with external DB (RDS)

**Environment Type:** Cattle

**Steps to Reproduce:** Shut down host (node) and startup new host (node)

**Results:** nothing happend (app / lb etc are not available)

**Expected:** realocate container

[2016-12-10 21:40] aemneina commented on #7007
@Vrtak-CZ do you have a health check enabled on your service?

[2016-12-10 22:18] Vrtak-CZ commented on #7007
yes

[2016-12-11 01:54] sangeethah commented on #3959
Rancher-server builds - v1.2.0
Tested scenarios involving multiple hosts going down in a set up with 3 hosts. health-check enabled instances get recreated eventually  on healthy hosts and get to "healthy" state.

[2016-12-11 01:54] #3959 closed

[2016-12-11 02:34] defunctzombie commented on #5957
I get this error with rancher server 1.2.0 (recently upgraded from 1.1.4). For a few hours rancher server worked fine; but after I had to restart it (it locked up) it will start but I cannot log in. This is the only thing I see in the longs that resembles an error.

@ibuildthecloud

[2016-12-11 03:12] rfzabick opened #7008 "passwords are stored with sha256"
**All Rancher Versions**

**All Docker Versions**

**All OSes**

**All setups**

**All Environment Types**

**Look at password storage/verification**

**Password is hashed with sha 256**

**Passwords should be hashed with a password hash like bcrypt or scrypt**

This can be seen by looking at io.cattle.platform.iaas.api.auth.dao.impl.PasswordDaoImpl:verifyUsernamePassword()
This method uses transf

[2016-12-11 04:05] deniseschannon commented on #7007
Are there system containers from the infrastructure services on the 2nd host?

[2016-12-11 04:17] deniseschannon commented on #7006
One of the use cases tested is Kubernetes on RancherOS v0.7.1.

How are you deploying kubernetes? Through the kubernetes environment templates? or through the catalog?

[2016-12-11 04:46] deniseschannon opened #7009 "`PortWrongFormat` exception spamming logs"
**Rancher Version:**
v1.2.0

In my logs, I have these errors but not sure what it's coming from. I only have a couple of services.

[code]

[2016-12-11 06:41] alexanderdavidsen commented on #7006
I tried deploying via the environment templates.

[2016-12-11 06:46] deniseschannon opened #7010 "DNS Issue with 1.2.0"
@DomiStyle pointed out this in another issue (https://github.com/rancher/rancher/issues/6858) a

I  was able to find the cause of this problem and solve it. Since Rancher keeps reporting it can't get some IP address I started sniffing all DNS queries on my DNS server and found the following:

Dec 9 19:13:46 	unbound 	51000:0 	info: 192.168.1.xxx rancher-metadata.example.org. A IN
Dec 9 19:13:42 	u

[2016-12-11 07:36] alexanderdavidsen commented on #7006
Tried to deploy again on a fresh install using Kubernetes from the Catalog. Got the same issues. I also tried to deploy without setting etcd=true and orchestration=true on some of the nodes. I still get the same error.

This seems to be a problem with the kubelet container it self. Which template version where you using?

[2016-12-11 09:27] fjoesne commented on #6263
any workaround possible for this issue? I'm guessing it has something to do with stale entries in the rancher-db

[2016-12-11 09:30] alexanderdavidsen commented on #7006
Fully patched CentOS 7 with latest docker for docker.io works just fine.

[2016-12-11 10:10] AndreasSundstrom commented on #6855
@sdelrio It doesn't fix anything regarding /etc/hosts, but since the container name resolves to the container's IP, it does fix the problem of not being able to resolv the container's hostname. At least it works for our use cases.

[2016-12-11 10:38] thekiwi commented on #6258
Apologies for the slow reply. For that query, I get `Empty set (0.00sec)`.

I also get an empty set from `select id from agent where state='reconnecting';`

[2016-12-11 10:51] Ilya-Kuchaev opened #7011 "Upgrade from 1.1.4 to 1.2"
**Rancher Version:**
1.1.4
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1, baremetal
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher with external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Upgrade container from 1.1.4 to 1.2
**Results:*

[2016-12-11 12:30] omegarus opened #7012 "Can't resolve service names after deleting and relaunching stack from catalog."
**Rancher Version:**
Server v1.2.0 Agent v1.1.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu14.04 VMware
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node rancher with two hosts
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kuberenetes
**Steps to Reproduce:**
Launch stack from catalog with

[2016-12-11 16:44] Vrtak-CZ commented on #7007
No. Because they try to start on 1st host with error "Error (instance is not running : Dependencies readiness error)".

If I manually disable 1st host nohting happened, but after I delete 1st host, few minutes later all automatically fix.

[2016-12-11 21:22] nicolinux opened #7013 "process_execution table fills up, volumestoragepoolmap.remove spawns constantly"
**Rancher Version:**
v1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
DigitalOcean, Ubuntu 16.x

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher, no HA, MySQL DB

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Nothing special.

**Results:**
/var/lib/d

[2016-12-12 03:07] ibuildthecloud commented on #7013
Was this a fresh install or an upgrade?  We keep process_instance rows for one day.  We will probably shorten it to an hour.

@nicolinux do the process complete/go away or are they stuck and running for a long time.  I'm interested if they are stuck what the error reported on them is.

[2016-12-12 03:55] tnh commented on #6858
are you enabling ICMP between servers? maybe thats it?

[2016-12-12 04:26] deniseschannon commented on #7009
@alena1108 I think this is a result of testing out https://github.com/rancher/rancher/issues/6940

where i had used the compose file that had `:8080`.

[2016-12-12 04:28] deniseschannon commented on #7009
Per @ibuildthecloud we need to either fail the create or validate the input. We shouldn't get stuck in an infinite loop.

[2016-12-12 05:03] AdamNowotny commented on #6961
The lesson for me is to lock versions used so no unplanned upgrades take place before we have a chance to test things. Made the mistake of running just "rancher/server" with no version specified in CloudFormation template and for some reason the EC2 instance died over the weekend and the new one upgraded Rancher to 1.2.0. So we started the Monday morning with all of non-production environments dow

[2016-12-12 05:26] flaccid opened #7014 "ipsec stack fails to init for k8s on rancher 1.2.0"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04 on AzureRM

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single rancher server, 1 host

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Kubernetes

**Steps to Reproduce:**
Setup a basic Rancher server, single node. Crea

[2016-12-12 06:30] flaccid commented on #6897
We also always create a new volume and mount it at `/var/lib/docker`. https://github.com/flaccid/rightscripts/blob/master/initialise_and_mount_docker_dir_volume.bash maybe a little handy, just ignore the rs specific part which creates the volume. We have not had any issues with Btrfs and separate volume directly mounted to `/var/lib/docker`.

[2016-12-12 06:33] vincent99 commented on #1532
I think it's been long enough that we can stop adding these...

[2016-12-12 06:41] vincent99 commented on #7014
Do you have a proxy/balancer/etc in front of your server container?  This should just trigger an update, does not need a body, and returns 200 for me..

[code]

[2016-12-12 06:44] flaccid commented on #7014
Great point, I should of thought of that. An Azure App LB is in front. @writeameer let's check into it.

[2016-12-12 07:00] vincent99 commented on #7014
So I'm guessing there's some arbitrary "security" rule that incorrectly thinks a body is required for a PUT, or strips out the`Content-Length: 0`...  There were other Azure-specific balancer problems in the 1.1.x HA setup (or maybe it was the same problem?)

Can you run the curl again with `-v`from an ipsec container shell?  Curious to see if it has headers that indicate the response is coming fro

[2016-12-12 07:26] flaccid commented on #7014
Looks like you are spot in, to be it short. Using `-d ""` with `curl` to give a body length works. This request comes back with `Server: Microsoft-IIS/8.5` as header, whereis with 0 length returns `Server: Microsoft-HTTPAPI/2.0` - kind of interesting. We are going to re-create the app gateway in azure to be sure and re-test - we are trying to see if there is a way to avoid the blank param.

[2016-12-12 07:46] flaccid commented on #7014
It's possible that some curl versions may add in `Content-Length: 0` however we can see that this one doesn't by looking at the request headers via `curl -v`. Much appreciated if you could add `-d ""` for v1.2.1 :)

[2016-12-12 07:48] zzp8164 commented on #6878
It's OK now, but I haven't do anything on it.  It's weird.

[2016-12-12 07:49] vincent99 commented on #7014
Oops, I was looking at the one in the response section.  With none in the request it is valid (though still odd) to return `411`.

[2016-12-12 07:53] flaccid commented on #7014
Its probably like app gateway trying to drop what it thinks are dud requests even though its not in WAF mode. After all, its a production from one of our favorite standards providers :)

[2016-12-12 07:56] IrisDande commented on #6858
@swartel-fa
i dont know
echo "</path/src>        /var/lib/docker         auto    rw,bind        0       0" >> /etc/fstab
what is </path/src>

[2016-12-12 07:57] vincent99 commented on #7014
https://github.com/rancher/rancher-net/pull/30

[2016-12-12 07:58] VincenzoFerme commented on #6858
@IrisDande the path to your Docker working directory, e.g., `/data/docker`.

[2016-12-12 07:59] IrisDande commented on #6858
@VincenzoFerme
But what is correct path if docker is installed from repo by default?

[2016-12-12 08:07] VincenzoFerme commented on #6858
I that is the case, then I think this workaround does not apply to you, because the directory should already be the default one: `/var/lib/docker`

[2016-12-12 08:08] joehumphries commented on #7011
They don't support upgrades.. Just new instances I believe.

[2016-12-12 08:10] IrisDande commented on #6858
@VincenzoFerme  did you have any solution in that case? i can't install old version of rancher (old version did meet this error)

[2016-12-12 08:14] VincenzoFerme commented on #6858
Can you report all the information suggested on the following issue template: https://github.com/rancher/rancher/blob/master/.github/ISSUE_TEMPLATE.md?

[2016-12-12 08:17] IrisDande commented on #6858
@VincenzoFerme  Sorry but my issue  have same with thread ( no different ) so i dont want to add a duplicate issue  :(

[2016-12-12 08:22] VincenzoFerme commented on #6858
I mean, you can report the requested information in this issue, if they are different than the one discussed in the first comment of this issue: https://github.com/rancher/rancher/issues/6858#issue-192896871

[2016-12-12 08:31] nicolinux commented on #7013
@ibuildthecloud This is a fresh install.
The processes seem to be stuck because the "Ended" column is empty for them and they are listed in the "Running" tab. "Exit Reason" is "UNKNOWN EXCEPTION". The child process is labeled: "VolumeStoragePoolMapRemove".

The cattle MySQL table is already over 3GB.

[2016-12-12 08:31] IrisDande commented on #6858
Rancher Version: 1.2.0
Docker Version: 1.12.3, build 6b644ec
OS and where are the hosts located? (cloud, bare metal, etc): Debian 8 on VMware ESXI
Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB): single node rancher, internal DB
Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle
Steps to Reproduce:
- Install docker on debian 8 (or ubuntu 16.04)
- Install Ran

[2016-12-12 08:39] psyhonut commented on #5010
@joshwget but I can't understand how to use them in my services, created from UI.

[2016-12-12 09:00] jthrelfall777 commented on #4889
@aemneina ok no problem, I will look into this today.

[2016-12-12 09:22] roffe commented on #4451
Rancher 1.1.4 - No heapster

Rancher 1.2.0 is not a options as it cannot initialize a cluster and causes the DB cluster to crash

[code]

[2016-12-12 09:29] Ilya-Kuchaev commented on #7011
They do.
https://docs.rancher.com/rancher/v1.2/en/upgrading/
But something went wrong.

[2016-12-12 10:13] kilmarnock commented on #4253
+1
Maybe a duplicate of  #3887

[2016-12-12 11:26] xlight commented on #3887
+1

[2016-12-12 11:59] typia opened #7015 "Can't start osixia/openldap container from rancher 1.2 (was working with 1.2pre3 and ok from docker run command)"
**Rancher Version:**
1.2
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Debian 8
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node rancher external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Since 1.2 upgrde, I can't launch osixia/openldap container.
I tried to

[2016-12-12 13:47] typia opened #7016 "Spam log - unable to remove filesystem"
**Rancher Version:**
1.2
**Docker Version:**
1.12.3
**OS and where are the hosts located? (cloud, bare metal, etc):**
Debian 8
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node rancher external DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
Only add nfs-rancher stack
**Results:**

spam log

2016-12-12 13:44:20,

[2016-12-12 13:52] timbrand commented on #3678
I'm having this exact same issue too.
Steps I took:
- Created new environment, for Kubernetes;
- Added 2 hosts, successfully (without entering the IPs);
- Deactivated the 2 hosts and deleted them;
- Stopped and removed all containers on both hosts;
- Add the host back again, including the cattle agent IP definition.
After that, the hosts fails to register:
`INFO: Running registration
Traceback (mo

[2016-12-12 14:07] timbrand commented on #3678
I'm having a really hard time to deactivate the environment. Event full refresh of the UI is getting hard.

Some logs of the server node (which is a separated vm)
`2016-12-12 14:04:48,337 ERROR [3974c3e7-48a3-4157-8862-979de5c449a6:135694] [instance:11522] [instance.start->(InstanceStart)] [] [cutorService-10] [i.c.p.process.instance.InstanceStart] Failed to Waiting for dependencies for instance [

[2016-12-12 14:48] kleinsasserm commented on #4576
+1
Would be nice to test things out. How are we enable to access the experimental build?

[2016-12-12 15:15] timbrand commented on #5370
I'm having the same as @MinaDesu

Docker version: 1.11.2
OS: CoreOS(Stable) (1185.5.0)
latest ranger server and agents

Installed 4 hosts, all indicators of the system nodes are green in hosts page.
All hostnames of all nodes are unique.

When entering "kubectl get nodes" no nodes are displayed.

[2016-12-12 15:39] kvaes commented on #4576
Likewise. Big +1

[2016-12-12 16:44] willseward commented on #6961
@AdamNowotny I had a similar situation happen to me. I updated to 1.2, but forgot to update my ansible scripts and ended up rewriting my systemd service to 1.1.4 again. I'll never make that mistake again...

[2016-12-12 17:52] electrical commented on #5256
Sorry for responding to this old issue. I'm running Rancher 1.2 but i'm unable to find any information to enable calico. Could someone point me in the right direction?

[2016-12-12 17:52] kkvilekval commented on #6858
This issue kept several of our bare-metal Ubuntu 16.04 servers off network for over a week.

A work-around for me was:

1.  Remove any reference to rancher (kill and remove containers), and umount /var/lib/rancher/volumes
2.  rm -rf /var/lib/rancher
3.  **apt-get purge docker-engine**
4.  **rm -rf /var/lib/docker**
5.  apt-get install docker-engine
6.  install rancher-agent (however you choose).

[2016-12-12 18:33] MinaDesu commented on #5370
@aemneina Yes, the nodes had a unique name. The solution to this was to add the CATTLE_AGENT_IP on the command line.

[2016-12-12 18:40] timbrand commented on #5370
@MinaDesu did you enter the public or private IP address? My VMs are running on Azure and the machine has a private IP address assange on the VM itself and van be accessed via an external IP.
I have entrered the Internal IP.

[2016-12-12 18:52] willseward commented on #7011
It looks to me like you have a duplicate pk in `storage_driver`. Can you look through and see if that is accurate? It may be worth manually deleting the suspect row(s) if they are unused.

[2016-12-12 18:53] leodotcloud commented on #5256
@electrical Calico will be available once we are done thorough testing, that's why it's not visible yet.

[2016-12-12 19:01] DonMartin76 commented on #6447
Oh, wow, and I thought I was being thick.

[2016-12-12 19:09] Ilya-Kuchaev commented on #7011
Wow...
[code]
Is that's OK? How could I cleanup it?

[2016-12-12 19:33] prachidamle commented on #5670
I think what @flypenguin is asking for setting restricted access to Rancher based on groups in ldap. This will deny login to any users out of the groups.

This is implemented for Active Directory - not yet for OpenLDAP access.

I think this is same as issue https://github.com/rancher/rancher/issues/5141

[2016-12-12 19:51] Ilya-Kuchaev commented on #7011
It seems that my previouse upgrade to some of the PRE versions just set the fk_volume__storage_driver_id key before. I've droped it and upgrade moves forward now.
Anyway. How could I cleanup my database from the old volumes?

[2016-12-12 19:59] ibuildthecloud commented on #7011
@Ilya-Kuchaev What probably happened here is that you started Rancher once, the DB migration started, too a long time, you killed rancher, now the second start up fails because it added the DDL before and trying to readd.  Does that sound about right?  To fix you'll have to manually delete the fk_volume__storage_driver_id constraint from mysql.

[2016-12-12 19:59] ibuildthecloud commented on #7011
The 220k volumes is a problem from 1.1.x but in 1.2.1 we will be cleaning up bad data from 1.1.x.

[2016-12-12 20:08] Ilya-Kuchaev commented on #7011
Exactly. I've removed the FK and database migrations have been completed without errors.
Could I do the cleanup manually now? Because I even can't login to Rancher.

[2016-12-12 20:10] flypenguin commented on #5670
Well, not only login / not login, but to be able to have the full group-based management what is done when using GitHub authentication. At least environment-based access for different groups, and admin / non-admin access, etc. :)

[2016-12-12 20:11] galal-hussein commented on #7003
The dashboard is up and running on kubernetes successfully.

@wlan0 please let me know when this bug is resolved https://github.com/rancher/rancher/issues/7005 to be able to test Helm properly.

[2016-12-12 20:12] dnadave commented on #3503
I do not know what the underlying problem was.  We solved it the way we
have to every time something goes wrong with rancher: scrap our
configuration and start over from scratch.

On Mon, Dec 12, 2016, 11:04 AM Sebastian Bean <notifications@github.com>
wrote:

[2016-12-12 20:14] ibuildthecloud commented on #7011
[code]

[2016-12-12 20:14] ibuildthecloud commented on #7011
1.2.1 will do that ^^ but programtically and less bruteforcy

[2016-12-12 20:15] ibuildthecloud commented on #7011
@Ilya-Kuchaev Also run 1.2.0-1 of Rancher which was just tagged this morning.  Fixes a critical issue with the UI locking up.

[2016-12-12 20:33] sangeethah opened #7017 "Service activation fails (before it eventually succeeds) when trying to start container with new image (that needs to be pulled in hosts)."
Rancher Version: Build from master - Dec12

Docker Version: 1.12.3

Steps to reproduce the problem:
Created a service with image - sangeetha/testupgrade:v1 (this image is not present in the host).
Container gets to "Error" state when trying to pull image.
At this point service fails to activate with this error message - ```Expected state running but got error: Image [index.docker.io/r<image name>]

[2016-12-12 20:35] StrongMonkey commented on #7017
https://github.com/rancher/agent/pull/106

[2016-12-12 20:49] sebbean commented on #3503
glad you found the help you needed! real team effort :-)

[2016-12-12 20:55] sangeethah commented on #6920
Rancher-server version - Build from master

Tested with rancher-compose version v0.12.1-rc1

When using the following ymls to create service with lb_config , service gets created without any errors being seen. But the service created does not have lb_config set.

[code]

[2016-12-12 20:56] alena1108 commented on #7004
@accoleon are you changing any field on the step 5) upgrade/edit?  I can't reproduce the issue on the latest. @deniseschannon could you give it a try too?

[2016-12-12 21:01] cjellick commented on #6808
This is expected and not a bug. There are some process/events that go to the host to complete. If the host is disconnected, theyll timeout. Bringing back or completely removing the host should cause them to go away.

[2016-12-12 21:07] sangeethah commented on #6829
Tested with master builds.
When exporting load balancer service , stack name is not included  in port rules for services from the same stack.

[2016-12-12 21:18] Ilya-Kuchaev commented on #7011
Even after cleanup:
[code]
I have a Gitlab and Drone runners on the Rancher hosts which are spinning the containers from outside of Rancher. How could I handle it?
[code]
What?!
The table size is around 1.2GB just to keep the information about approx 100 active containers.
[code]
[code]

[2016-12-12 21:22] ibuildthecloud commented on #7011
@Ilya-Kuchaev Rancher 1.1.x did not delete anything from the database (well a couple tables).  Rancher 1.2 will start purging data now.  It takes a bit but it will decrease over time.  Also 1.2.1 the cleanup is even better.  So your data should shrink.

[2016-12-12 21:24] accoleon commented on #7004
@alena1108 It happens whether or not I change any fields in step 5. I'll add more screenshots when I get off work.

[2016-12-12 21:34] alena1108 commented on #7004
@accoleon thank you! Could you also get:

1)  the output of the following API on the LB service after the target service is removed?

http://localhost:8080/v2-beta/projects/1a5/loadbalancerservices/<lb service id>

I'm interested in portRules section

2) The API request that UI sends on update.

We'd like to address this issue in the upcoming release, and could use all the above info to nail it do

[2016-12-12 21:56] Ilya-Kuchaev commented on #7011
Thank you for your kind help @ibuildthecloud !

[2016-12-12 21:56] #7011 closed

[2016-12-12 22:02] justsml commented on #6910
@StrongMonkey is this a v1.2 issue? Or affected by the new ver?

[2016-12-12 22:04] justsml commented on #6111
I'm running into something similar, except I am using a public DNS address/space.

How is this tied in with https://github.com/rancher/rancher/issues/6910

[2016-12-12 22:17] galal-hussein commented on #6844
@deniseschannon I retested with v1.2.0 and i can't see the problem anymore.

[2016-12-12 22:17] #6844 closed

[2016-12-12 22:17] sangeethah commented on #6865
Tested with rancher-compose version - rancher-compose-v0.12.1-rc1

Able to create Lb Service using rancher-compose by having at least 1 portRule having sourcePort and selector/sourcePort,targetPort and service.

[2016-12-12 22:17] #6865 closed

[2016-12-12 22:32] StrongMonkey commented on #6910
@justsml fixed by this PR https://github.com/rancher/agent/pull/107. And i believe the issue you referenced is not related to this one.

[2016-12-12 22:40] sangeethah commented on #6228
For automation scripts , we now create a new environment with template - "Kubernetes" which will results in kubrenetes stack being auto deployed - https://github.com/rancher/validation-tests/pull/254

[2016-12-12 22:40] #6228 closed

[2016-12-12 23:00] sangeethah commented on #5522
Following are the test cases that were validated for v1.2 release:

Create volumes with Environment scope (external: True) when volume name exists in “requested” mode
Create volumes with Environment scope (external: True) when volume name exists in “active” mode
Create volumes with Environment scope (external: True) when volume name does not exist
Delete all services that use external volume
Creat

[2016-12-12 23:11] cloudnautique opened #7018 "Update IPSec PSKs"
It would be useful for there to be a user initiated way to recreate/rotate the ipsec psk in an environment incase it is compromised.

Simplest method in discussing internally, that a new key is created whenever the IPSec stack is upgraded. Then, just doing a no-op upgrade would rollout a new key.

[2016-12-12 23:18] justsml commented on #6910
Thanks @StrongMonkey ❤️

[2016-12-12 23:30] StrongMonkey opened #7019 "agent fails to propagate NO_PROXY envs"
https://forums.rancher.com/t/rancher-agent-and-environment-variables-on-docker-run/4888

[2016-12-12 23:35] deniseschannon commented on #7019
make sure to check for case types for `http_proxy`, `https_proxy`, and `no_proxy`.

[2016-12-13 00:01] deniseschannon commented on #7004
@alena1108 @accoleon I was unable to reproduce on my v1.2.0 setup. I followed the directions per the original post.

When you added the service rules what kind of rules were made?

[2016-12-13 01:24] sangeethah opened #7021 "k8s:v1.2.4 version gets deployed when using v1.2.0-1 rancher-server."
Rancher Version:v1.2.0-1

Create a new environment with "orchestration" set to -"kubernetes"
Add 3 hosts to the setup.
K8s infra stack comes up with version - v1.2.4-rancher10
kubelet containers are not able to start successfully and they keep restarting.

Expected behavior:
K8s infra stack should be launched with version - v1.4.6-rancher1.

There is a min version for v1.4.6-rancher1 set to  "v1.2

[2016-12-13 03:27] artemus717 opened #7022 "Rancher Server 1.2.0 SLow"
**Rancher Version:**
1.2.0
**Docker Version:**
1.11.2
**OS and where are the hosts located? (cloud, bare metal, etc):**
CentOS Linux release 7.0.1406 (Core)
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
external DB
with Aliyun SLB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**

**Results:**
![image](ht

[2016-12-13 03:37] accoleon commented on #7004
This is my starting configuration, C1 and C2 stack each having 1 service:
![image](https://cloud.githubusercontent.com/assets/115630/21126277/1699e4e0-c0a0-11e6-8088-f6ebded95d24.png)
I add 2 HTTPS service rules to a global load balancer, pointing to C1 and C2 respectively, cert from LetsEncrypt stack:
![image](https://cloud.githubusercontent.com/assets/115630/21126352/788485d4-c0a0-11e6-80ac-1bf3

[2016-12-13 04:04] deniseschannon commented on #5954
Duplicate of #5488

[2016-12-13 04:04] #5954 closed

[2016-12-13 04:13] soumyalj opened #7023 "Webhooks-generate results in error code 500/400 for a request with missing fields"
**Rancher Version:**Master

**Docker Version:**1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**Ubuntu, Cloud

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**Cattle

**Steps to Reproduce:**
1. Set up a rancher server with the setting -e DEFAULT_CATTLE_WEBHOOK_SERVICE_EXECU

[2016-12-13 04:30] juanluisbaptiste commented on #1352
Hi,

As the upstream missing feature has been merged a couple weeks ago, is there anyone working on this from rancher side ?

[2016-12-13 04:45] deniseschannon commented on #7007
Are any of the infrastructure services green before you start launching containers? Without those service, health checks will not work and containers will not automatically move to another host.

[2016-12-13 04:59] cjjcsu opened #7024 "Random 503 Service Unavailable from Load Balancer after upgrading service or manually restarting the LB container"
After upgrading a service that is a target of a load balancer service the load balancer randomly returns error 503 Service Unavailable.

It looks like the load balancer isn't updated after the service is upgraded and some connections go to the old container IP resulting in a 503 error and some connections go to the new container IP.

After stopping an starting again the load balancer service the r

[2016-12-13 06:26] mcanevet commented on #5957
@defunctzombie I also have the same problem with a freshly installed rancher server 1.2.0. It worked for a few hours, than, after a restart but I cannot log in and apparently the rancher agent can't either.
Did you find any workaround?

[2016-12-13 07:08] vincent99 commented on #1352
This doesn't actually help is at all because the container running machine won't have the private key, which will be needed to SSH to the host and install Docker and the Rancher agent.

[2016-12-13 07:21] ibuildthecloud commented on #6996
@dsvmacdonald Just to clarify, the issue you are reporting is that the user specified env var `MONGO_PORT` is getting overwritten by the generated `MONGO_PORT` env var for linking?

[2016-12-13 07:35] DonMartin76 commented on #6447
Is there a workaround or change one can do to get rid of this problem? I want to use `kubectl` from remote in build pipelines, so the UI workaround will definitely not work.

[2016-12-13 08:30] sven-codeculture commented on #6935
Not mounting the /var/lib/docker directory and just having it on the System drive produced the same result. I have also tryed to use differend docker versions. Still the same problem.

I have migrated all my data to an ububtu:16:04 environment now, this seems to work fine, so the bug seems to have something to do with alpine (3.3?).

[2016-12-13 08:54] Ilya-Kuchaev commented on #1787
Does Rancher support *.sub.domain.com notations?

[2016-12-13 10:07] nicolinux commented on #7013
This is getting out of hand a bit:
`Agent error for [storage.volume.remove.reply;agent=28]: Error response from daemon: Unable to remove volume, volume still in use: remove 7d743b7e6d9e716287c886a642aff951b5fcf6e3f738b927c20242bfdc83871b: volume is in use - [24f5e7a91cf5554d14952f9e6297d27bcfa9c4d798d7b47548f2a357ca638f76]`

`Error response from daemon: Driver devicemapper failed to remove root fi

[2016-12-13 10:29] alexanderdavidsen commented on #7006
Making sure no hosts had the same hostname seems to have fixed the issue...

[2016-12-13 10:32] khauser opened #7025 "ConnectTimeoutException during redirect"
**Rancher Version:**
1.2.0
**Docker Version:**
1.12.4
**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle I think

After upgrade from Rancher 1.1.3 I can not come around this failure.

[code]

Here is also my **do

[2016-12-13 11:31] mccricardo opened #7026 "External links not working"
**Rancher Version:**
1.2.0

**Docker Version:**
1.12.4

**OS and where are the hosts located? (cloud, bare metal, etc):**
Metal (laptop), Ubuntu 16.04

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single node Rancher. Server and Agent  running on the same host.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**
Deploy `sta

[2016-12-13 11:46] anan-lee opened #7027 "can't restart rancher ha cluster"
**Rancher Version:v1.1.0-dev2-rc4

**Docker Version:1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):Ubuntu 14.04.2 LTS

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB) : HA rancher, internal DB
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos): Cattle

**Steps to Reproduce:

   when i restart all ha node for rancher server, can't startup

[2016-12-13 12:40] dsvmacdonald commented on #6996
Correct

[2016-12-13 12:55] sonicsnes opened #7028 "Load balancer fills disk with access logs"
**Rancher Version:**
1.2.0

lb-service-haproxy:v0.4.2 seems to store quite verbose access logs duplicated inside both /var/log/haproxy/traffic and /var/log/messages. I unknowingly filled up an entire 24GB linode with relatively high-traffic over the period of a couple weeks. Perhaps the logs should be rotated? Is there a way to turn off these new access logs in 1.2.0?

[2016-12-13 13:40] siwonne opened #7029 "Avoid second container for a service on a host where a first container for the service is running"
**Rancher Version:*v1.1.4

**Docker Version:*1.12.1*

**OS and where are the hosts located? (4.4.27-boot2docker on docker-machine( driver: virtualbox 4.3.36_Ubuntur105129) on ubuntu 14.04.1):**

**Setup Details: (single node rancher )**

**Environment Type: (Cattle)**

**Steps to Reproduce:**
service:
  labels:
    io.rancher.container.affinity:container_label_ne:    io.rancher.stack_service.name=

[2016-12-13 13:42] marrotte commented on #6858
Same here.  Fresh install ESXi 6.0, Ubuntu 16.04, latest everything else following the Quick Start Guide.

What sort of attention is this getting at Rancher?

[2016-12-13 13:42] Rucknar opened #7030 "Feature Request - Add stack name to services API in addition to stackid"
The addition of the field would make it easier to monitor the state of the services without having to translate the stackID to a named value.

**Rancher Version:**
1.2
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
RancherOS
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
Single Node Rancher
**Environment Type: (Cattl

[2016-12-13 15:03] beruic opened #7031 "File upload does not work on https"
**Rancher Version:**
v1.2.0 and v1.1.2

**Docker Version:**
v1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):**
Ubuntu 16.04.1 LTS
Bare metal (5 hosts)

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
I believe it's single node rancher with internal DB.

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle

**Steps to Reproduce:**

[2016-12-13 16:07] vincent99 commented on #7031
The only thing that changes when you do SSL termination vs http is an additional header or two.

This is far too abstract for anyone to  really help you.  It is not realistic to expect people to go figure out how to create a Cordova app to attempt to blindly recreate an unknown problem with no specific reason to think it's actually caused by anything Rancher/HAProxy is doing.

What errors do the c

[2016-12-13 16:49] deniseschannon commented on #6858
@marrotte There are multiple reasons why this error could have occurred as we have outlined in this issue.

If you have boot2docker hosts, you need to make sure you upgrade to the latest network services.

There are known issues with if your docker is installed in a different location or if your docker bridge is not at docker0.

We are working on 1.2.1 that will address the above issues. For all o

[2016-12-13 17:39] clicman opened #7032 "Could not create stack with Load Balancer"
**Rancher Version:** 1.2

**Docker Version:** 1.12.3

**OS and where are the hosts located? (cloud, bare metal, etc):** Ubuntu 16.04 on Azure

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)** Single node

**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)** Cattle

**Steps to Reproduce:**
Create stack (a71 in my case) via docker and rancher composes with servic

[2016-12-13 17:41] alena1108 commented on #6888
@sangeethah should be tested on upgraded LB (v0.4.5)

[2016-12-13 17:43] alena1108 commented on #6504
should be fixed by @StrongMonkey in the latest haproxy release

[2016-12-13 17:44] StrongMonkey commented on #6996
https://github.com/rancher/agent/pull/109

[2016-12-13 17:44] alena1108 commented on #2624
Should be fixed in the new haproxy release (v0.4.5)

[2016-12-13 18:00] deniseschannon commented on #7028
This isa fixed in the new haproxy release (v0.4.5).

[2016-12-13 18:05] tfiduccia commented on #7032
@clicman - if you remove the a71 from the below line it works fine.  You only have to put the stack name in if you are referencing an external stack.
- {priority: '1', protocol: tcp, service: a71/mongo, source_port: '60000', target_port: '27017'}

[2016-12-13 18:13] tfiduccia opened #7033 "Do not reference stack name in rancher-compose.yml if link is in same stack"
**Rancher Version:** version - v1.2.0

**Steps to Reproduce:**
1.  Create a stack and add a service
2.  Add a load balancer and link to the service
3.  Export or view the config

**Results:** Notice that the service: tag in the rancher.compose.yml says stackname/service.

**Expected:** If the stack is not external it should not reference the stack name.

[2016-12-13 18:15] deniseschannon commented on #7033
Duplicate of https://github.com/rancher/rancher/issues/6829

[2016-12-13 18:15] #7033 closed

[2016-12-13 18:19] #7032 closed

[2016-12-13 18:21] tfiduccia commented on #6987
Version - master 11/13
Verified fixed

[2016-12-13 18:21] #6987 closed

[2016-12-13 18:22] vincent99 commented on #6885
Is step 1 actually cloning an existing balancer or something?  I still don't see any way to reproduce this.  When you go to add a balancer you get a rule row by default, is that one already broken?

If you really want to try to debug it:
  - Open up the dev tools -> Sources, hit Cmd-O and type in form-balancer-rules to find the component
  - Add a breakpoint in `minPriority` and `maxPriority` (htt

[2016-12-13 18:22] tfiduccia commented on #6904
Version - master 11/13
Verified fixed

[2016-12-13 18:22] #6904 closed

[2016-12-13 18:23] tfiduccia commented on #6887
Version - master 11/13
Verified fixed

[2016-12-13 18:23] #6887 closed

[2016-12-13 18:31] tfiduccia commented on #6804
Version - master 11/13
Verified fixed

[2016-12-13 18:31] #6804 closed

[2016-12-13 18:34] tfiduccia commented on #5885
Version - master 11/13
Verified fixed

[2016-12-13 18:34] #5885 closed

[2016-12-13 18:45] kkvilekval commented on #4883
We really need this for our machine-learning containers.   I've been looking around for work-arounds. Do you have suggestions?

[2016-12-13 18:51] tfiduccia commented on #6852
Version - master 11/13
Verified fixed

[2016-12-13 18:51] #6852 closed

[2016-12-13 18:54] willseward commented on #4883
I agree that this would be useful. The university is looking into Docker solutions for their GPU workloads.

[2016-12-13 18:57] tfiduccia commented on #6814
Version -master 11/13
Not fixed

[2016-12-13 19:02] deniseschannon commented on #3419
We have removed away from convoy gluster and I believe the VM driver has also switched to being a text box. Closing for now.

[2016-12-13 19:02] #3419 closed

[2016-12-13 19:03] #3670 closed

[2016-12-13 19:03] deniseschannon commented on #3670
We aren't able to actively help maintain GlusterFS in the catalog and will not be able to fix these issues.

[2016-12-13 19:05] nhumrich commented on #7010
Not sure if this is related or not. But there appears to be an issue with dns for the same host as well.

In rancher 1.1.4 if I exec into any container and run:
[code]
I get an ip address.

If I run this in rancher 1.2, I get the following.

[code]
This really should work for any container in the stack, but I cant even get it to work for the same container that I am on.

[2016-12-13 19:07] alena1108 commented on #7026
@mccricardo This is a known issue with alpine images: https://github.com/gliderlabs/docker-alpine/issues/8. To workaround, you do need to append "stackName" to the link name (somealias.stacka)

[2016-12-13 19:09] soumyalj commented on #6726
Tested with v1.2.1-rc1. After export we see the V2 syntax for volumes:
[code]

[2016-12-13 19:09] #6726 closed

[2016-12-13 19:18] deniseschannon opened #7034 "Allow ability to schedule for multiple IPs per host"
Update the scheduler to allow being able to schedule on multiple IPs on a single host.

[2016-12-13 19:26] deniseschannon commented on #5010
@psyhonut Did you try with a new service to see if it works there?

[2016-12-13 19:27] alena1108 commented on #7004
@accoleon this issue is caused by some api field not being nullable (while it should be) for cookie policy. Thanks for helping to debug!

[2016-12-13 19:28] tfiduccia commented on #6999
Version - master 11/13
Verified fixed

[2016-12-13 19:28] #6999 closed

[2016-12-13 19:42] kkvilekval commented on #6659
I have been seeing quite a few of these the log which might be related.
[code]

[2016-12-13 19:42] tfiduccia commented on #6943
Version - master 11/13
Catalog removed - verified fixed.

[2016-12-13 19:42] #6943 closed

[2016-12-13 19:48] courcelm commented on #6864
Having the same issue with a fresh install of Ubuntu 16.04.1. Metadata, Ipsec and healthcheck not starting.

[2016-12-13 19:52] jcmcken opened #7035 "Web fonts failing to load in Firefox ("invalid version tag")"
**Rancher Version:**

Latest ``rancher/server`` docker image as of writing.

Specifics:

[code]
**Docker Version:**

1.10.3

**OS and where are the hosts located? (cloud, bare metal, etc):**

RHEL7.3 instance on EC2

**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**

Single node rancher, launched on docker container (image: rancher/server) according to rancher.co

[2016-12-13 19:52] aemneina opened #7036 "Default environments created for users who log in show as unhealthy"
**Rancher Version:**
v1.2.0

Looks like environments depend on hosts to be present, for the infra stack to come up, in order to get to a healthy state. This just results in a large number of unhealthy environments when these users (who will never have hosts in their own unique environments) log in, before being assigned to an environment. I'm sure this is nothing more than a visual annoyance at th

[2016-12-13 19:59] prachidamle commented on #1284
@jwhitcraft hope you have teams are visible. Does this still happen? Can you check this with latest

[2016-12-13 20:13] deniseschannon commented on #3467
Since networking has been redone, closing this issue.

[2016-12-13 20:13] #3467 closed

[2016-12-13 20:21] sangeethah opened #7037 "Not able to cleanup Bad volumes (of deleted instance) that are in "inactive" state from 1.1.4 rancher-server version."
Rancher Version: Upgrade from 1.1.4 ->  v1.2.1-rc1

On a fresh install of 1.1.4 , have 1 cattle and 1 k8s environment.

On cattle environment , have few services that have local volume. Delete these services.
On K8s environment , create and delete pods.

This will result in volumes relating to the deleted containers still being present in the volumes table in "inactive" state.

[code]

Upgrade to

[2016-12-13 20:32] soumyalj commented on #7009
Tested with v1.2.1-rc1 setup. Logs did not have "PortWrongFormat" exception

[2016-12-13 20:32] #7009 closed

[2016-12-13 21:31] tfiduccia opened #7038 "(null): Name is required error showing up for sidekicks without names"
**Rancher Version:** v1.2.0

**Steps to Reproduce:**
1.  Add service
2.  Add two sidekicks but don't fill out name
3.  Click on create

**Results:** (null): Name is required error showing up
![image](https://cloud.githubusercontent.com/assets/11514927/21160031/a35915a4-c140-11e6-9424-4f317053ac7e.png)

**Expected:**  Might want to replace null with sidekick1, sidekick2.  Or just maybe sidekick so

[2016-12-13 21:34] jashtsserie commented on #7022
i want to report the same problem.
using rancher 1.2.0 on a dedicated server/host 1GB/s neet, 64GB Ram, Up to 12Cores just to lauch a container with already pulled image rancher need 5-10+ minutes!
is there anything launched/installed wrong or this problem is for everyone?
from cli all what i need to deploy is 1-2 sec why rancher take this time?!
+' i can't delete containers! i stop them i click r

[2016-12-13 21:35] dcnl1980 commented on #6911
Is it possible to try this with an old agent and see if there is a difference? It's mostly with containers which are created with docker-compose.

[2016-12-13 21:36] deniseschannon commented on #6442
In v1.2, I am able to see logs on a stopped container. Now that we will stop a service and the container so it doesn't continually retry, it is possible to see the logs of the stopped container.

[2016-12-13 21:36] sangeethah commented on #6892
Tested the same use case with  rancher-server version - v1.2.1-rc1

lb service keeps restarting with the following exception seen in logs:

[code]

[2016-12-13 21:43] mccricardo commented on #7026
Thank you @alena1108. It was working perfectly fine with Rancher 1.1.x.

[2016-12-13 21:47] #6989 closed

[2016-12-13 21:47] sangeethah commented on #6920
Tested the same use case with rancher-server version - v1.2.1-rc1

We are able to create a service with portrules and they get created with correct portRules in lbConfig.
But LB service is not able to start successfully after this. This issue is tracked in https://github.com/rancher/rancher/issues/6892

[2016-12-13 21:49] sangeethah commented on #6892
For service:
[code]
[code]

For lb:
[code]
[code]

[2016-12-13 21:51] wlan0 commented on #4378
Moving this to unscheduled because this is not important/necessary, but its a lot of effort

[2016-12-13 22:06] StrongMonkey opened #7039 "Volume support for Windows"
Add volume support for windows. This means that we need to parse `c:/foo:c/bar` wisely.

[2016-12-13 22:09] StrongMonkey commented on #6638
@sangeethah Can you follow the steps in UI and start testing some basic functions(like start container, stop container and remove container) in Windows?

[2016-12-13 22:11] kkvilekval commented on #6858
After retrying the apt-get purge docker-engine  solution, it is failing again.

Where do we send the logs?

[2016-12-13 22:14] #6829 closed

[2016-12-13 22:23] StrongMonkey opened #7040 "Add CI for agent in Windows platform"
Add automated ci for rancher/agent in Windows platform.

[2016-12-13 22:25] sangeethah commented on #6504
Tested with rancher server version - v1.2.1-rc1 with rancher/lb-service-haproxy:v0.4.5

I still see some Info level logging  reported in "Standard Error" tab and "Error" level log not reported in "Standard Error" tab.

<img width="1091" alt="screen shot 2016-12-13 at 2 22 45 pm" src="https://cloud.githubusercontent.com/assets/4266958/21161966/e15a38d4-c13f-11e6-8678-ab438a2bb2fc.png">

[2016-12-13 22:26] StrongMonkey opened #7041 "LB code refactoring for Windows"
LB code refactoring for Windows

[2016-12-13 22:30] soumyalj commented on #2624
Tested with v1.2.1-rc1. Created an external service "ext1" pointing to a service "service2" in another stack "test".  Created a loadbalancer with target as "ext1".  The loadbalancer targets pointed correctly to the "service2" in stack "test".
Here is the snippet of ``` etc/haproxy/haproxy.cfg```
[code]

[2016-12-13 22:30] #2624 closed

[2016-12-13 22:34] StrongMonkey commented on #6504
@alena1108 the log is from init function by other go files, which happens before we set stdout in main.go.

[2016-12-13 22:45] deniseschannon commented on #5522
Any new issues related to volumes should be opened separately.

[2016-12-13 22:45] #5522 closed

[2016-12-13 22:47] deniseschannon commented on #6442
@demarant Let me know if you still see this issue in v1.2.

[2016-12-13 22:47] #6442 closed

[2016-12-13 22:55] galal-hussein commented on #1284
When testing the issue on the master build, I found that the teams can bee seen in the drop-down list on the edit environment page only:

![env-teams](https://cloud.githubusercontent.com/assets/3309968/21162799/ebd173a6-c197-11e6-9631-ead909e1c756.png)

However the teams can't be seen in the access control page:

![no-teams](https://cloud.githubusercontent.com/assets/3309968/21162817/004929aa-c198

[2016-12-13 23:00] Vrtak-CZ commented on #7007
They are allocated on 1st host. So NO they not running. As I said in previous comment. But in rancher UI they show as green and running but on host 1 (so in real they are down).

[2016-12-13 23:30] galal-hussein commented on #6899
Tested with master build (14 Dec) and can't see the error messages anymore.

[2016-12-13 23:30] #6899 closed

[2016-12-13 23:31] vincent99 commented on #7010
@nhumrich Separate problem, https://github.com/rancher/rancher/issues/6855 .

[2016-12-13 23:33] sangeethah commented on #6958
Rancher server version - v1.2.1-rc1

Steps to reproduce the problem:

Create a template with network service provider as - "Vxlan-Internal" from - https://github.com/deniseschannon/rancher-catalog and branch vxlantest

Create environment with this template.

Create service with expose ports.
Ports does not get exposed on the host.

In DB  , we donot have hostPorts field set for this network at all

[2016-12-13 23:33] #6958 closed

[2016-12-13 23:33] prachidamle commented on #1284
@jwhitcraft we tested in house the Environment Access Control page and see the teams getting listed, can you please check if your issue is resolved?

[2016-12-13 23:35] galal-hussein commented on #6899
@deniseschannon @prachidamle @sangeethah after enabling github authentication, i disabled it and enabled local access, here is what i found in the logs:

[code]

[2016-12-13 23:38] galal-hussein opened #7042 "Github Teams are not seen in the drop down list for authentication access setting page"
**Rancher Version:**
master build (14 Dec)
**Docker Version:**
1.12
**OS and where are the hosts located? (cloud, bare metal, etc):**
ubuntu 16.04
**Setup Details: (single node rancher vs. HA rancher, internal DB vs. external DB)**
single node rancher
**Environment Type: (Cattle/Kubernetes/Swarm/Mesos)**
Cattle
**Steps to Reproduce:**
- enable github authentication
- authenticate with a user that