[2015-07-28 19:06] ibuildthecloud commented on #1620
@hrwebasst In your original error the python code is failing to connect to Docker.  We bind mount the `/var/run/docker.sock` to talk to Docker.  Is it possible that your docker daemon is not listening to `/var/run/docker.sock`.  This could happen if you've reconfigured the docker daemon to listen to TCP/TLS.  If this is the situation just ensure you also have `-H unix:///var/run/docker.sock` on th

[2015-07-28 19:07] ibuildthecloud commented on #1620
@triagmas If you are see an ERROR in the rancher/server can you post the full Java stack trace or message?

[2015-07-28 19:10] ibuildthecloud commented on #1670
@hbajaj2 @ebuildy's answer is correct.  Not really a dirty hack.  We require the unix socket to talk to Docker.  So just add both `-H` parameters.

[2015-07-28 19:13] Mmdixon opened #1676 "[rancher/server] Unable to start rancher/server:v0.30.0"
Commands were:
[code]
under `docker ps` it container stays there with STATUS: `Restarting (0) 2 minutes ago` etc.
`docker logs rancher-server-test` give similar messages a few times:
[code]
Any advice?

[2015-07-28 19:21] corn13read commented on #1620
@ibuildthecloud There wasn't anything changed from vanilla on the docker command and nothing very apparent in the agent.log

[code]

[2015-07-28 19:22] ibuildthecloud commented on #1676
Can you share the output of `docker version; docker info`?

[2015-07-28 19:27] Mmdixon commented on #1676
docker version
[code]

docker info
[code]

[2015-07-28 19:33] ibuildthecloud commented on #1676
@Mmdixon Anything special about the setup of your ubuntu?  Ubuntu 14.04.2 LTS is our most popular installation base so its a bit odd to see it not even start

[2015-07-28 19:36] ibuildthecloud commented on #1620
Hmmm... So from what I see in the logs we can't update the network agent, but the network agent itself is a "post-networking" state.  What I'd do at this point is delete the network agent from the UI.  Then deploy a new container on the server and see if it clears up.

[2015-07-28 19:39] ibuildthecloud commented on #1672
The message `daemon: Cannot start container X: [8] System error: exec format error`, is X the container ID of the rancher-agent or some other container?

[2015-07-28 19:51] cloudnautique commented on #1676
@Mmdixon can you start the container like so:
`docker run -it -p 8080:8080 rancher/server:v0.30.0 bash`

That should place you on a command line. Then run `/usr/bin/s6-svscan /service`

In a separate terminal, get the ID of the container you just started... and run:
`docker exec -it <id> bash`

From that shell, can you get the log output from /var/log/mysql/error.log?

[2015-07-28 20:16] corn13read commented on #1620
Well none of that worked so I upgraded the server to v0.30.0 and removed all the agent containers as well as removed all previous images. Now the only thing I get in the docker logs rancher-agent is this over and over:
ERROR: Please re-register this agent

[2015-07-28 20:20] corn13read commented on #1620
Relevent log info for rancher-agent creation

[code]

[2015-07-28 20:28] Mmdixon commented on #1676
The logs show that there was no space left on device. So checking the host machine, there was also no space left there, this was the issue.

Thanks for the help!

[2015-07-28 20:28] #1676 closed

[2015-07-28 20:49] deniseschannon commented on #486
@andrewmunsell Do you have 1 container on each host or more than 1? The workaround is to launch another container on the hosts or restart the container. If you still can't ping each other after the workaround, please let me know.

[2015-07-28 20:53] blazczak commented on #1672
The output of docker inspect on that container includes `RANCHER_AGENT_IMAGE=rancher/agent:v0.7.11`

    "State": {
        "Running": false,
        "Paused": false,
        "Restarting": false,
        "OOMKilled": false,
        "Dead": false,
        "Pid": 0,
        "ExitCode": -1,
        "Error": "[8] System error: exec format error",
        "StartedAt": "0001-01-01T00:00:00Z",
        "F

[2015-07-28 20:54] deniseschannon commented on #1608
@anapsix Was the `webdis` container the only container on the host?
@Kelindar Do you only have 1 container on each host?

There is a known issue https://github.com/rancher/rancher/issues/486 where sometimes (not always) when you only have 1 container on the host, the containers are unable to ping other containers. The workaround is to either add another container to the hosts or to restart the con

[2015-07-28 20:57] deniseschannon commented on #725
@ebuildy I'm wondering if your issue is related to #486. Basically, if you only have 1 container on a host, then it might not be able to ping other containers. Adding a second container or restarting the container (not network agent) helps resolve it and enables the ability to ping again.

[2015-07-28 21:01] deniseschannon commented on #1563
Looking at my rancher-agent, here's the docker inspect of my rancher agent.
[code]

[2015-07-28 21:05] ApfelUser commented on #1580
Okay, won't close this then. I can confirm that this issue #1580 got fixed with release [v0.30.0](https://github.com/rancher/rancher/releases/tag/v0.30.0) by the way. Just installed fresh today.

[2015-07-28 21:07] anapsix commented on #1608
@deniseschannon `webdis` was the only non-rancher container on the host, i.e. in addition to `webdis`, there was also `rancher/agent` and `rancher/agent-instance` images running..

[2015-07-28 21:13] deniseschannon commented on #1608
@anapsix Not sure if you still have this setup, but next time can you try to add another container or restarting webdis to the host that is unable to ping?

[2015-07-28 21:16] anapsix commented on #1608
@deniseschannon restarting doesn't help.. (I assumed you wanted me to `docker restart container_id`)

[2015-07-28 21:22] deniseschannon commented on #1608
could you try adding another container on the host? typically, restarting should have fixed it, if it was similar to the 486 issue, but maybe a new container must be added. Are all your hosts RancherOS? That's how I had set up my setup when I went to reproduce and made a fix by adding another container.

[2015-07-28 21:26] cjellick commented on #1588
Need to make sure the documentation is updated.

[2015-07-28 21:33] cjellick commented on #1380
After discussing ***again*** with @ibuildthecloud, we decided the exact opposite of what I said in the previous comment.

So, ***specifying the protocol in the host.api/Host Registration setting is the canonical way to indicate the protocol that should be used.***

The UI has been updated to indicate this.

[2015-07-28 21:35] anapsix commented on #1608
@deniseschannon all the hosts are running RancherOS.. I've checked the `rancher/agent` logs and I this is what I see during the restart:
[code]

I've started `anapsix/pgsql` container on the same home, and was able to ping `pgsql -> webdis` and `webdis -> pgsql`, but still cannot ping any container on another host from wither `pgsql` or `webdis`.

Logs from `rancher/agent` while `anapsix/pgsql` wa

[2015-07-28 21:37] cjellick opened #1677 "Support Proxy protocol to allow Rancher to run behind ELB"
In order to support putting Rancher behind an ELB, we must support the Proxy protocol.

This is because ELB does not support websockets when ran in http(s) mode.

Here's a link to the protocol: http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt

[2015-07-28 21:38] cjellick commented on #1309
We now support Host, X-Forwarded-Port, and X-Forwarded-Proto, but ELB does not support websockets, which we make heavy use of.

To get rancher working behind an ELB, we need to support the Proxy protocol. See #1677

[2015-07-28 21:39] cjellick commented on #1677
Note that this is different than #1554. That issue is dealing with the Rancher LB service, not the configuration of Rancher itself.

[2015-07-28 21:42] cjellick commented on #1151
Fixed. The host and x-forwarded-{port,proto} headers are now supported. Will be in release v0.31.0, assuming it passes QA.

[2015-07-28 21:44] hrwebasst commented on #1620
Did some fiddling restarted the server now rancher-agent actually has some logging:

[code]

[2015-07-28 21:45] cjellick commented on #719
Fixed. The host and x-forwarded-{port,proto} headers are now supported. They will be in release v0.31.0, assuming it passes QA.

The other required changes (ie, switching to websockets) are implemented and already in the "latest" tag of rancher/server.

[2015-07-28 21:49] andrewmunsell commented on #486
Even with multiple containers I still have issues.

[2015-07-28 21:54] cjellick commented on #140
Fixed.
Now, in the Host Registration screen, a user can specify the protocol and host they want to use (ie, "https:://my.rancherservrer.com").
And a slew of other SSL related configuration issues were addressed to further improve support.

[2015-07-28 22:38] ibuildthecloud commented on #1383
@haswalt Sorry for the sluggish response on this.  I'll get the fix in master today.

[2015-07-28 22:46] hrwebasst commented on #1620
Okay, removed /var/lib/rancher/state and it was able to register again. However, still having the network issues.

[2015-07-28 22:48] hrwebasst commented on #1620
rancher-agent log on container start:

[code]

[2015-07-28 22:57] ibuildthecloud commented on #1672
@blazczak The only thing I can think of is that the image is corrupted somehow.  That or you somehow magically got Docker running on i686 or ARM.  This isn't a RaspberryPI, right?

Can you try the following

[code]

We keep the "identity" of the server in `/var/lib/rancher/state` so you can delete all the containers and images and reregister the host using the command from the UI and it should reg

[2015-07-28 23:05] djmaze commented on #1498
So what does this mean? Does Rancher support circular links now?

I am curious because Docker does not support this with links (yet).

[2015-07-28 23:12] ibuildthecloud commented on #1620
@hrwebasst Well that is some progress.  Whatever environment are you running in?  If you have two server, in the infrastructure view they will show the IP of the server.  Make sure that both IPs are the IP of the server.  If you see the IP is `172.17.42.1` for one of them (or some other 172.17.x.x IP), then the IP is wrong.  When you register a server you can add `-e CATTLE_AGENT_IP=x.x.x.x` to th

[2015-07-28 23:13] ibuildthecloud commented on #1620
Sorry, by environment I meant AWS, Digital Ocean, bare metal, etc

[2015-07-28 23:18] cjellick opened #1678 "Consolidate rancher-agent logs"
Curently for rancher-agent, our logs are split between the docker logs for the container and /var/logs/rancher/agent.log.

This leads to confusion and difficulty when getting logs from customers. We should consolidate into a single log file.

This could potentially make the docker logs too chatty, so maybe the request/response json event logs could continue to go to a file inside of the container.

[2015-07-28 23:22] hrwebasst commented on #1620
Interesting, I just did notice that one of the ip's registered as 172.17.42.1... odd as they're all just standard RHEL 6 boxes. Adding CATTLE_AGENT_IP did fix the ip however networking still doesn't work to talk to the other hosts, same host containers with 10.42.X.X networking works fine though still.

[2015-07-28 23:38] #1562 closed

[2015-07-28 23:47] will-chan commented on #1657
#1649

[2015-07-28 23:47] #1657 closed

[2015-07-28 23:52] cjellick commented on #1544
I review @sangeethah's setup and the agents were in a very weird state where their UUIDs were out of sync with what was stored in here rancher database.

The proxy was functioning normally and re-registering (re-running `docker run...rancher/agent`) fixed the issue. I suspect that recycling the environment (ie deleteting and rerunning rancher/server without migrating the data) was at fault.

@will

[2015-07-29 00:13] cjellick commented on #1365
Will investigate and address as part of #53

[2015-07-29 00:22] blazczak commented on #1672
Yeah, I needed to get confirmation if it was because it was trying to install a 64-bit only version of rancher/agent on the device. My next step is to get a 32-bit version of rancher/agent using rancher/python-agent.

And it's not magic, I got [Jessie](http://blog.hypriot.com/post/moving-docker-from-wheezy-to-jessie/) running on RPi B+ and Ubuntu Core on RPi2, both with Docker 1.6+. ;) Docker work

[2015-07-29 01:31] yogin commented on #637
I'm trying to do the same thing here, and was also wondering if `advertise` should be the container's IP or the host's IP?

I'm mappings the exposed ports to the host, and since the host IP should be known when rancher starts the container, it might be easier to pass that down to the `docker-compose.yml` file? But couldn't find any information about this.

[2015-07-29 02:05] cjellick commented on #1151
@sangeethah Here is an exact set of steps to follow to setup Rancher with SSL.

On your desktop
[code]

On your rancher-server host
[code]
* My documentation PR: https://github.com/rancher/rancher.github.io/pull/16

[2015-07-29 04:01] rebyn commented on #1079
+1 this is gold. Giving this a try today!

[2015-07-29 05:00] deniseschannon commented on #1498
yes, rancher-compose supports circular links.

[2015-07-29 05:41] rebyn commented on #1565
I came across a weird behavior today and at first read it seems like I should file it here.

I put `rancher-compose` in a folder named `MyApp` and the command below tried to create a new stack (instead of recognizing my existing stack):

[code]

Then I tried setting the project name with the `-p` tag:

[code]

Not until I renamed my stack to `myapp` (from `MyApp` on the Rancher dashboard) did thes

[2015-07-29 07:10] triagmas commented on #1620
Log rancher agent
[code]
2015-07-29 07:07:32,534 INFO agent [139645619779056] [utils.py:424] Request: {"id":"b6033331-308f-416b-b7c0-2491cbde3eff","name":"delegate.request","replyTo":"reply.3606646117548212679","resourceId":null,"resourceType":null,"publisher":null,"transitioning":null,"transitioningMessage":null,"transitioningInternalMessage":null,"previousIds":null,"previousNames":null,"data":{"

[2015-07-29 10:11] flaccid opened #1680 "support no auth with rancher-compose/api"
I am not sure if this should reside in the rancher-compose repo.

If I stand up a test environment such as using https://github.com/flaccid/rancher-test-farm I want to be able to run up a stack without creating an API key pair.

Running rancher-compose returns:

[code]

If I create a keypair and use it with the command it works normally. For easy test purposes such as integration testing, CI build

[2015-07-29 11:12] MhdAli commented on #688
Hi,

May I know to which docker image tag that this changes commit to? I'm using `latest` one apparently it's using `v0.30.0` tag.

[2015-07-29 15:02] deitch commented on #719
Hey @cjellick I just opened an issue on the forums, then stumbled across this issue. So the problem is the X-API-Schemas not properly handling the forwarded `x-forwarded-port` and `x-forwarded-proto`?

[2015-07-29 15:34] cjellick commented on #719
@deitch Would you be willing to share your proxy configuration so that I can attempt to reproduce? Feel free to mask any sensitive bits like IPs or domain names.

The current version of rancher/server:latest doesn't support the Host and X-Forwarded-{Proto|Port} headers at all. The next version will. So, the configuration that will work with the current version is waht is described here:
http://doc

[2015-07-29 15:50] artursmolarek opened #1681 "CSRF for API calls"
I am trying to use API provided by Rancher UI.
When I call "GET /v1/containers", API returns list of my containers.

But when I replace GET by POST/PUT I got:

[code]

I am using basic auth with generated credentials.
I have tried to call other URLs, but with the same result.
How can I disable CSRF? Or what should I change in my request?

[2015-07-29 16:10] cjellick commented on #1681
@artursmolarek are you accessing the API programmatically through something like curl or are you using the browser?

Could you possible post the entirety of your POST/PUT request, including the headers that you're sending along?

[2015-07-29 16:12] cjellick commented on #688
@MhdAli this feature hasn't landed in a release yet. We'll update this issue when it does. Sorry for the confusing statements.

Here's the relevant PR:
https://github.com/rancher/cattle/pull/703

[2015-07-29 16:16] deitch commented on #719
I would be happy to... if I hadn't already killed the ec2 instance! I kind of gave up on it, figured I would readdress when 0.31 comes out.

I am pretty sure that I followed the following, though

[code]

[2015-07-29 16:28] cjellick commented on #1620
@triagmas Could you post the results of `docker ps -a | grep rancher`? I'm curious to see which rancher containers you have running. In particular, there is an network agent container that uses the rancher/agent-instance image. That is the one that is being referred to in this error message:
[code]

[2015-07-29 16:42] jwhitcraft opened #1682 "[rancher-compose] Service Upgrade provide way to delete old service"
Currently when running `rancher-compose upgrade service1 service2`, i have to follow it up with a `rancher-compose rm --force service1`, it would be nice to have a flag for the `upgrade` command to remove service1,

eg.

`rancher-compose upgrade --remove service1 service2`

[2015-07-29 16:43] cjellick commented on #719
Yes, if that's what you had, it definitely would not have worked as those headers wont be supported to v0.31.0

So... Coming Soon!™

[2015-07-29 16:44] deitch commented on #719
Got it. Is there a proper way to do it in 0.30?

[2015-07-29 16:53] cjellick commented on #719
http://docs.rancher.com/rancher/installing-rancher/installing-server/basic-ssl-config/
With an emphasis on this line:
[code]

[2015-07-29 17:35] ibuildthecloud commented on #1658
@sangeethah Can you confirm env variables still work, its just cross stack that is broken?

[2015-07-29 17:35] will-chan commented on #1278
* Code restructuring and documentation complete.
* NFS driver and driver framework (PR for next week)

[2015-07-29 17:42] wlan0 opened #1683 "[cattle] Race condition when updating transitioning message to resources and updating resource at the same time"
The error manifests as missing fields in resources after it has been updated.

In go-machine-service, the error shows up as 'extractedConfig not found" error

Step to reproduce
1. Turn idempotency checks on int cattle
2. Put a breakpoint at JooqObjectManager line 121 in cattle
3. create a machine
4. When you hit the breakpoint and value has "Saving Machine Config" or the extractedConfig field, orc

[2015-07-29 17:44] will-chan commented on #688
* Search for Groups.

[2015-07-29 17:47] sangeethah commented on #1658
@ibuildthecloud , Env variables are set even for cross stack linking. The issue mentioned in the bug is specific to linking 2 services with same name across different stacks.

[2015-07-29 17:47] cjellick commented on #53
Another issue to look at while we're looking at this:
https://github.com/rancher/rancher/issues/1673

[2015-07-29 18:05] alena1108 commented on #1654
the order is:

* hostName and url
* just host name
* just url
* default

[2015-07-29 18:06] ds0nt commented on #1578
Thanks, that worked. Is there any way to set a dns that would resolve to a rancher-composed container?

[2015-07-29 18:08] ds0nt commented on #1578
Also, I admire your artwork, it's absolutely fantasticly architected.

[2015-07-29 18:18] cjellick commented on #1588
@sangeethah we need to assign this one over to @cloudnautique to make sure he hits all the places in his scripts where he was configuring the setting.

So, once you're done validating, just assign to him.

His changes won't affect the functionality, it will just apply to scripts he uses for building specific environments for our internal use.

[2015-07-29 18:23] alena1108 commented on #1438
Closing the ticket as we are going to keep track of the metadata feature in its own ticket mentioned above.

[2015-07-29 18:23] #1438 closed

[2015-07-29 18:26] alena1108 commented on #1303
As we are going to keep track of "Public DNS Integration" feature in its own ticket -https://github.com/rancher/rancher/issues/1675 - closing the current one for now

[2015-07-29 18:26] #1303 closed

[2015-07-29 19:29] deniseschannon commented on #1680
Rancher Compose issues can be filed here.

The API key pair is required for rancher-compose as it defines what environment (with reference to the UI in the upper right corner) to deploy the services. Even though the environment is called "Default", there is no actual default environment in Rancher, so you'd need the api key pair to pick the environment.

Please note that "environment/project" in r

[2015-07-29 19:59] sangeethah commented on #140
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:

[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differ

[2015-07-29 19:59] #140 closed

[2015-07-29 20:01] sangeethah commented on #719
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:

[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differ

[2015-07-29 20:01] #719 closed

[2015-07-29 20:02] sangeethah commented on #777
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:

[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differ

[2015-07-29 20:02] #777 closed

[2015-07-29 20:03] sangeethah commented on #1151
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:
[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differe

[2015-07-29 20:03] #1151 closed

[2015-07-29 20:04] sangeethah commented on #1309
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:

[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differ

[2015-07-29 20:04] #1309 closed

[2015-07-29 20:07] sangeethah commented on #1536
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:
[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differe

[2015-07-29 20:07] #1536 closed

[2015-07-29 20:08] sangeethah commented on #1588
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:

docker run -d --restart=always --name=rancher-server -e "CATTLE_API_ALLOW_CLIENT_OVERRIDE=true" rancher/server:v0.31.0-rc1
mkdir /root/nginx

docker run -d -p 80:80 -p 443:443 -v /root/nginx/ssl:/etc/nginx/ssl/:ro -v /root/nginx/rancher.io.conf:

[2015-07-29 20:09] #1361 closed

[2015-07-29 20:09] sangeethah commented on #1580
Tested with rancher/server:v0.31.0-rc1

Able to bring up a rancher-server with SSL behind Nginx as https reverse proxy.
Following are the steps followed:
[code]
Able to add custom hosts , Digital Ocean hosts to rancher server successfully.
Able to view host stats.
Able to view container logs and also exec shell.
Basic sanity checks to make sure that the connectivity between containers from differe

[2015-07-29 20:09] #1580 closed

[2015-07-29 20:13] deniseschannon commented on #499
#1615 was merged.

[2015-07-29 20:13] #499 closed

[2015-07-29 20:13] deniseschannon commented on #1281
Fixed by #1615

[2015-07-29 20:13] #1281 closed

[2015-07-29 20:23] sangeethah commented on #1539
Tested with rancher/server:v0.31.0-rc1.
Able to access https://<domain name>/v1/resourcedefinitions/1rd!externalhandler/resourcedot  for  a rancher-server with SSL enabled behind Nginx as https reverse proxy.

[2015-07-29 20:23] #1539 closed

[2015-07-29 20:27] cjellick commented on #1380
@ibuildthecloud This is done. Setting host.api to " " is no longer the right thing to do.
I removed that bit from the documentation. Assigning to you in case you have any scripts or environments that need updated.

[2015-07-29 20:58] deniseschannon opened #1684 "Case sensitivity of Stack Names throws error in rancher-compose"
Rancher: v0.30.0
Rancher-Compose: v0.2.5

Rancher requires unique stack names regardless of case sensitivity. I am not allowed to have two stacks named `MyApp` and `myapp`.

Issue A:
Rancher-Compose will take the project name and assume that it is all lowercase when looking for the project in Rancher. If we fix to stop making all the project all lowercase, we should also fix #1565.

Issue B:
If I

[2015-07-29 20:59] deniseschannon commented on #1565
@rebyn I've created a new issue based on your comment. The issues is how we handle case sensitivity of stack names.

[2015-07-29 21:28] sangeethah commented on #1336
Tested with server version - v0.31.0-rc1
"cpuset" is present in the config files when service is created with "cpu pinning".

[2015-07-29 21:28] #1336 closed

[2015-07-29 22:16] haswalt commented on #1383
Has this made it into the new latest image?

[2015-07-29 23:05] sangeethah commented on #1654
Tested with server version - rancher/server:v0.31.0-rc1

The following order is enforced when programming haproxy:
hostName and url
just host name
just url
default

<img width="628" alt="screen shot 2015-07-29 at 4 03 45 pm" src="https://cloud.githubusercontent.com/assets/4266958/8972082/7358e148-360b-11e5-8a77-812f9978e650.png">

[2015-07-29 23:05] #1654 closed

[2015-07-29 23:29] sangeethah commented on #1641
Tested with:
rancher server version - v0.31.0-rc1
rancher compose version - v0.2.5

Able to deploy containers successfully using the following:
[code]

[2015-07-29 23:29] #1641 closed

[2015-07-29 23:31] cloudnautique commented on #1383
Its in v0.31.0-rc2 we are in the process of testing...

[2015-07-30 00:04] defunctzombie opened #1685 "uncaught exception in rancher-server"
Server crashed with the following exception (unfortunately I cannot recall what was happening when it crashed).

[code]

Given that it takes so long for the server to boot, is there a way to catch these better and boot the server faster? Or maybe just have the single component that was affected restart?

[2015-07-30 00:05] defunctzombie commented on #1685
Forgot to mention:

Rancher v0.30.0 running on a 1GB digital ocean box. No separate database (using the one in container).

[2015-07-30 00:05] deniseschannon commented on #1383
@haswalt Any image that has a RC in it's tag is still being tested. We will only tag it as latest when it's passed testing.

[2015-07-30 00:11] ibuildthecloud commented on #1685
These DataChangedExceptions in and of themself don't actually cause an issue.  We do opportunistic locking so what this means is there is a lot of contention.  We need to address this so there is less contention but this probably didn't cause your crash.

Do you see any other exceptions?

[2015-07-30 00:15] defunctzombie commented on #1685
No other java exceptions.

Just a lot of the following:
[code]

And then one of
[code]

Seem to the be last things in the log before the server died.

[2015-07-30 00:22] defunctzombie commented on #1685
@ibuildthecloud

Unrelated to above exception (and I don't think it crashed the server).. but I did just encounter another exception.

[code]

I believe the system was able to get through it after a few minutes but it did cause some period of network issue.

[2015-07-30 00:30] sangeethah commented on #1685
Exception relating to volume purge is tracked in #1424 and "org.jooq.exception.DataChangedException: Database record has been changed" is reported in #1526 . When these issues were encountered , rancher-server did not crash in my case.

[2015-07-30 00:32] defunctzombie commented on #1685
Cool. This issue can be closed then.

On Wednesday, July 29, 2015, Sangeetha Hariharah <notifications@github.com>
wrote:

[2015-07-30 00:32] #1685 closed

[2015-07-30 00:32] defunctzombie commented on #1685
I am still unsure why the rancher server dies sometimes but I will try to get the exit code next time it does. I suspect it might be memory related.

[2015-07-30 00:33] defunctzombie commented on #1685
I am running on 1GB digitalocean boxes which might be pushing the limits on running the server and databases on a single container

[2015-07-30 02:30] triagmas commented on #1620
Reinstall rancher/server
[code]
Same error cannot start container, always "networking"

agent logs
[code]

[2015-07-30 02:32] defunctzombie commented on #1685
@ibuildthecloud @sangeethah My rancher server went down again. I checked my various logs:

[code]

Sure enough it ran out of memory on the 1GB box :(

A bit unfortunate.

[2015-07-30 02:33] defunctzombie commented on #1685
What is additionally rough is that when the server goes down, the overlay network and internal DNS goes with it. This means that a rancher-server failure effectively brings everything down network wise.

[2015-07-30 02:57] ibuildthecloud commented on #1685
We'll fix the memory issue.  I believe I know what's up with that.  Sorry, I know 1GB is excessive.  We'll fix it.

The DNS and overlay networking shouldn't go down when the server crashes.  If you start a bunch of containers then stop the server everything should still work except that new containers won't get networking.  We are trying to change that one too.   So if you see it goes down then we

[2015-07-30 02:59] ibuildthecloud commented on #1685
@sangeetha  what is most likely happening here is we have a big that spins up a new thread for each websocket message.  If the websocket backs up we create more and more thread until we eventually exhaust the memory on the server.  @cjellick is working on this in relation to the jetty/websocket upgrade.

[2015-07-30 03:01] ibuildthecloud commented on #1685
@defunctzombie thanks for researching this further, it's very helpful

[2015-07-30 03:17] defunctzombie commented on #1685
@ibuildthecloud no worries! I know what to expect as an early tester :)

I will try shutting down the rancher-server during a period of inactivity to see if the network stays up. I know that none of the load balancers were having issues and I don't think any services were restarting but there were some network issues between my services as a result of the main server going down (or at least correl

[2015-07-30 03:17] defunctzombie commented on #1685
If I can provide any more logs or debug from any of the rancher components I am always happy to do so.

[2015-07-30 05:08] sangeethah commented on #1685
@ibuildthecloud , is this related to https://github.com/rancher/rancher/issues/1408 ?

[2015-07-30 05:13] flaccid commented on #1680
Great thanks very much @deniseschannon, it works a treat (https://github.com/flaccid/rancher-test-farm/blob/master/Vagrantfile#L79-L81). Maybe consider adding a lit bit of doc in respect to the API key pair relationship to environments and its need with rancher-compose, but its kind of minor in the scheme of things.

[2015-07-30 05:13] #1680 closed

[2015-07-30 06:05] ibuildthecloud commented on #1680
@flaccid This a bit of a hack because you are hard coding an ID, but the below will work for no-auth with rancher-compose

[code]

You don't have to set an access key and secret key if you put the correct project id (which is called environment in the UI).  As @deniseschannon pointed out the "Default" environment will always be `1a5` on a fresh install.  If you didn't want to hard code the ID the

[2015-07-30 07:02] kaos commented on #1638
this was caused by bad proxy settings. I have `http_proxy` set, but didn't have `NO_PROXY=127.0.0.1` ..

[2015-07-30 07:02] #1638 closed

[2015-07-30 07:36] artursmolarek commented on #1681
You are right. That was problem with my Chrome extension (postman). Looks that it shares session with UI. Using curl is better, but I have another problem.
Method ``POST /v1/projects/1a5/instance`` is not allowed.

[code]
Is this URL ok? I could`t find official documentation anywhere.

[2015-07-30 08:36] flaccid commented on #1680
Most appreciated, thank you @ibuildthecloud.

[2015-07-30 10:06] cedricziel opened #1686 "Node hangs while working on the build context"
When i push via `rancher-compose up` and use a image that has to be build from a directory, the node becomes unresponsive on the rancher UI and via SSH i can see that the python process sucks up 100% CPU and never finishes.

The rancher ui shows just "Storage" for the newly created service.

My docker-compose manifest:

[code]

Am I doing it wrong? AWS and Rancher credentials are set, the build co

[2015-07-30 14:51] will-chan opened #1687 "Support simple local auth"
Support an auth provider that does not require any integration with an external provider (GitHub, LDAP, etc.).  This could just be a simple DB table.

[2015-07-30 15:35] haswalt commented on #1664
I see that it's linked to other existing issues. Will close this one for clarity

[2015-07-30 15:35] #1664 closed

[2015-07-30 15:36] haswalt commented on #1379
This is fixed for me using rc3 and now container boot correctly

[2015-07-30 15:44] haswalt commented on #1383
I've tested this with RC3 and it looks to be working now. My containers boot correctly and no more errors are shown

[2015-07-30 16:07] #1681 closed

[2015-07-30 16:11] haswalt opened #1688 "Adding hosts via private networks leaves host without any public IP registerd"
When setting host registration to use the private network the new host is added correctly however the only IP address that gets registered is the private IP of the host. Then when adding a balanced service the load balancer is configured on the private ip and so you can never get to the service.

New hosts should try and be intelligent with their IP reporting. Typically eth0 is the public interfac

[2015-07-30 16:22] haswalt commented on #1688
Note this is mostly a UI issue in that when you create a host using the EC2 api or DO api for example I don't want to have to login to those accounts to work out how to access my containers

[2015-07-30 16:25] haswalt opened #1689 "can't edit container settings after save"
If I save a new container / service I can no longer edit much more than the name. I'd expect to be able to change environment variables either allowing a trigered restart after or at least if I haven't started the container yet.

[2015-07-30 16:32] deniseschannon commented on #1689
Unfortunately Docker containers are immutable (not changeable) after creation. The only things you can edit are things that we store that aren't really part of the container (name, description) or are accomplished with magic the network agent enables (linked container destinations).

This includes rebooting, it's still the same container if you stop and start it. So you pretty much have to remove

[2015-07-30 17:10] will-chan opened #1690 "Support whitelist for docker registries per environment"
Rancher should support the ability to allow owners of environments to specify a list of docker registries that can be used when creating containers and services.
- Should we support a global whitelist?
- What about Rancher specific images that are currently hosted on dockerhub?  Do we default this to "always" whitelisted?  If not, we would need a way to configure where Rancher can find these image

[2015-07-30 17:21] sangeethah commented on #1423
Server version - Build from master - jul/30

I see this issue agian where the rancher server has run of sql connections:

I see many SQL connection in "TIME_WAIT" which is the reason why we are running out of sql connections.

netstat -ant | grep 3306 | grep "ESTABLISHED" | wc -l
328
netstat -ant | grep 3306 | grep "TIME_WAIT" | wc -l
4457

[2015-07-30 18:11] deniseschannon opened #1691 "Rancher-Compose: Cross Stack target services in Load Balancers should look at link alias instead of service name."
The labels used for target services relies on the service name instead of link alias.

[code]

We should change to Link Alias.

[code]

If we make this change, we should add the ability to create aliases in the UI so the generated `docker-compose.yml` would be correlated. It also allows the services of the same name to be used but with different aliases.

[2015-07-30 18:14] deniseschannon opened #1692 "Allow creating an alias for target services in a load balancers."
If we enable #1691, we should also allow aliases to be created for target services in a load balancer UI.

This is useful when you select targets that have the same name, but are in different stacks. You would be able to use different aliases so that you don't need to change the service name for the load balancer to work.

[2015-07-30 18:39] deniseschannon opened #1693 "Rancher-Compose: Labels need to allow stackname/servicename as the label for target services in a different stack."
Since we allow cross stack linking, we run into issues when we have services with the same name using rancher-compose. Rancher-Compose needs to support label key in this syntax:

[code]

Rancher-Compose v0.2.5
Currently, we're only able to creating the same routing rules for the service names that are the same across stacks.
[code]

We want to be able to support this rancher-compose for cross-stac

[2015-07-30 18:40] deniseschannon commented on #1691
Closed in favor of #1693

[2015-07-30 18:40] #1691 closed

[2015-07-30 18:40] deniseschannon commented on #1692
No longer relevant.

[2015-07-30 18:40] #1692 closed

[2015-07-30 18:45] deniseschannon opened #1694 "Rancher needs to generate Rancher-Compose that shows environment_name/stackname in labels for routing rules"
With #1693, Rancher needs to generate different rancher-compose syntax for services linked from a different stack.

Current syntax only allows 1 key even if I created 2 routing rules, but had 2 services with the same name (but in different stacks).

Current Syntax:
[code]

New syntax
[code]

[2015-07-30 18:45] deniseschannon commented on #1693
Must be released in conjunction with #1694

[2015-07-30 19:05] deniseschannon opened #1695 "Ability to edit the Host IP after the agent starts"
Sometimes, Rancher agent picks the wrong IP when launching Rancher agent. With the host proxy, only cross host-networking will not work if another host is added.

Add ability to change the host IP in the API and subsequently the UI.

This would help fix #872 (when using the same host for rancher server/rancher agent and wrong IP is picked, it would easily be fixed instead of re-running with `-e CA

[2015-07-30 19:31] cjellick commented on #1661
@ebuildy sorry for delayed response. We introduced a new microservice called the websocket-proxy that hosts connect on /v1/connectbackend and the UI connects on /v1/stats (and /v1/logs and /v1/exec).

When you upgraded to a version of rancehr that had the websocket-proxy, something must have went sideways with the websocket-proxy.

[2015-07-30 19:34] cjellick commented on #1447
Ah! I missed assigning this one over, but it was fixed as part of the SSL proxy changes.

[2015-07-30 20:09] #1689 closed

[2015-07-30 20:10] haswalt commented on #1688
This also causes things like viewing container logs and executing console on hosts doesn't work

[2015-07-30 20:14] deniseschannon commented on #1686
I haven't tried building from rancher-compose, but I don't think you need the `.` if the DockerFile is in the same directory.

Can you try
[code]

[2015-07-30 20:20] deniseschannon commented on #1494
@ndarilek I'm going to close this issue, but if the solution doesn't work, please feel free to reopen.

[2015-07-30 20:20] #1494 closed

[2015-07-30 20:22] deniseschannon commented on #1555
@IMikkeI If you're still having issues, please re-open.

[2015-07-30 20:22] #1555 closed

[2015-07-30 20:48] deniseschannon commented on #1607
It's strange, ports exposed in the image show up in the UI on the container with no public port, but not in the API.

Since it works for `docker run` and shows these ports exposed form the image in the API of the v1/container/contianerID, it should display ports for when we create a service/container from the UI.

[2015-07-30 20:52] deniseschannon commented on #1648
@montgomerytech Please re-open if you need more help.

[2015-07-30 20:52] #1648 closed

[2015-07-30 20:55] #1630 closed

[2015-07-30 20:57] #709 closed

[2015-07-30 21:01] deniseschannon commented on #1516
Looking over this one again, it looks similar to this: https://github.com/rancher/rancher/issues/203. Basically, the go-machine-service hasn't started yet.

[2015-07-30 21:05] #1670 closed

[2015-07-30 21:15] defunctzombie opened #1696 "graceful removal of hosts"
When I want to remove a host, I first select "deactivate" and then "remove". However, rancher does not begin to re-schedule containers on the deactivated host until you select remove. At this point, it might take time for the new containers to start on any new or remaining hosts. It would be nice if the re-scheduling started to happen after "deactivating" a host and when a host was fully "deactiva

[2015-07-30 21:18] deniseschannon commented on #1528
@wedtm What version are you running? I was unable to reproduce with the latest v0.30.0.

[2015-07-30 21:28] sangeethah commented on #1447
Tested with server version - rancher/server:v0.31.0-rc1 in a SSL enabled rancher server setup behind nginx reverse proxy.

There is no reconnects happening for the websocket connection between rancher server and agent anymore.

[2015-07-30 21:28] #1447 closed

[2015-07-30 21:33] vincent99 opened #1697 "Graph view broken when there are links across stacks"
The graph view currently shows nothing if you have any links to a service in another stack.  Fixes that, adds the stack name if not hte current one to the title, and draws them as dashed border.

[2015-07-30 21:37] vincent99 commented on #1629
Now with more scrolling..

[2015-07-30 21:39] portokallidis opened #1698 "Rancher virtual host settings from UI"
Is there any way that i can set VIRTUAL_HOST like nginx-proxy image or like in tutum?
Perhaps an easy example should be extremely helpful! :)

[2015-07-30 22:07] defunctzombie opened #1699 "EAI_AGAIN for DNS lookups"
I have been seeing the EAI_AGAIN error creep up in some of my app logs when performing DNS lookups for external public internet services. Wondering how the rancher DNS resolving could be influencing this (or if it is at all).

My understanding is that `/etc/resolv.conf` on the rancher machines is set to use the rancher resolvers. What could affect the reliability of the resolvers?

[2015-07-30 23:31] deniseschannon commented on #1598
Verified with Rancher Compose v0.2.5

[2015-07-30 23:31] #1598 closed

[2015-07-31 00:08] blazczak commented on #1672
@ibuildthecloud What's the word on RancherOS and RPi2? Thanks

[2015-07-31 01:19] vincent99 commented on #1698
The built-in load balancing service supports routing based on the host header, among other things, in the latest release:  http://docs.rancher.com/rancher/rancher-ui/applications/stacks/adding-balancers/#advanced-routing-options

[2015-07-31 06:03] defunctzombie opened #1700 "Cannot read property `set` of null"
Seeing this error in the UI when trying to clone a load balancer. Happy to dig into the db or identify any other information since I am able to reproduce this every time I try to clone this particular LB.

<img width="745" alt="screen shot 2015-07-30 at 11 01 51 pm" src="https://cloud.githubusercontent.com/assets/84792/9001663/061e45b4-370f-11e5-9cc3-4dfe671377e3.png">

[2015-07-31 07:18] cedricziel commented on #1686
Doesnt fix the problem :/
How do others go by? Build upfront and use a registry?

[2015-07-31 07:46] defunctzombie opened #1701 "strip path after load balancer advanced routing"
Maybe this is documented but I was unable to find it. If I have setup advanced routing using a custom path to direct traffic to a different service, how do I strip this path from the routed request?

Example:

Setup LB with path `/api/` to direct to the API backends but requests to `example.com/api/foobar` hit the API backend with URL `/api/foobar` when I want them to hit the backend with `/foobar

[2015-07-31 12:55] triagmas commented on #1620
Delete CoreOS.
Install ubuntu.
Now everything works.

[2015-07-31 13:56] cjellick commented on #1688
@haswalt thanks for the feedback. Wi'll look into all the issues you mentioned, but want to start with the last one first: I'm surprised that this causes logs and exec not to work. Do you have behind a elastic load balancer or any other proxy?

Next, we do have a way to allow you to explicit set a host's IP, but it's only available when you add a custom host and execute the `docker run ... rancher

[2015-07-31 16:23] oomathias opened #1702 "Unable to access Rancher UI after a reboot."
I'm on `Ubuntu 14.04.2 LTS`

I did `docker run -d --restart=always -p 8080:8080 rancher/server`

I was able to connect to Rancher UI with my server public IP. `http://PUBLIC_IP:8080`
Then if I reboot the server, I get an ERR_CONNECTION_TIMED_OUT.

I have a VPN installed, and the UI is still responding on the container IP. `http://172.17.0.10:8080/`

I tried again with `docker run -d --restart=alwa

[2015-07-31 16:41] deniseschannon commented on #1702
Are you restarting the rancher/server container or are you rebooting the machine?

[2015-07-31 16:46] oomathias commented on #1702
I'm rebooting the machine.

[2015-07-31 16:46] deniseschannon commented on #1672
@blazczak Based on the major refactoring going into RancherOS for v0.4.0, we had to push out RPi2 support until later in the roadmap.

[2015-07-31 16:54] will-chan commented on #1696
The "deactivated" state was always meant to allow you to set the host in a state where you would leave the host alone, stop scheduling new containers on the host, but do not stop the existing containers.  You would commonly use this when the host is in max capacity and you don't want Rancher to schedule anymore unto the host or perhaps do some maintenance on it and do not want any new activity to

[2015-07-31 17:00] deniseschannon commented on #1625
Verified v0.30.0-rc4

[2015-07-31 17:00] #1625 closed

[2015-07-31 17:00] defunctzombie commented on #1696
I run an LB instance in front of my services and I think in my case I had a single LB instance and it was on the host I wanted to bring down. I have since changed my deployment structure to not co-locate LBs on the same hosts I run service containers on to avoid other issues with network and memory.

Now that you have explained what deactivated means, I don't think this it as big a deal since I kn

[2015-07-31 17:00] #1696 closed

[2015-07-31 17:00] deniseschannon commented on #1629
Verified v0.30.0-rc4

[2015-07-31 17:00] #1629 closed

[2015-07-31 17:04] deniseschannon commented on #1631
Verified Fixed v0.30.0-rc4

[2015-07-31 17:04] #1631 closed

[2015-07-31 17:06] alena1108 commented on #1701
@defunctzombie LB url path based traffic rules work in "begin_with" way. Here are couple of examples:

1) path = /foo

Requests having url /foo,  /foo/bar1, /foo/bar2 qualify for this rule

2) path /foo/bar

Requests having /foo/bar url qualify for this rule

Also paths' ACLs are sorted in descending order on the backend, so the longest (more specific) path is checked first. For example 2 rules ab

[2015-07-31 17:06] deniseschannon commented on #1649
Verified Fixed v0.30.0-rc4

[2015-07-31 17:06] #1649 closed

[2015-07-31 17:11] defunctzombie commented on #1701
@alena1108 yep, that part I understand but the part that may be missing is if I have `/foo/bar` -> service1, how can I make it so that when I visit `/foo/bar/baz` it actually hits `/baz

[2015-07-31 17:11] deniseschannon commented on #1509
Verified Fixed with v0.31.0-rc4

[2015-07-31 17:23] deniseschannon opened #1703 "Changing scale of service from 1 to 0 doesn't have the UI update with no containers."
v0.31.0-rc4

By adding ability to scale to 0 (due to Rancher-compose), when I scale a service to 0, the scheduler correctly removes the container on the host, but the UI still shows the container as active/running.

Note: This only affects when going from 1 to 0.  It works for 2 to 0.

Steps to Reproduce:
1. Start a service of scale 1.
2. Edit the scale to 0.

Result: UI will continue to have 1 ac

[2015-07-31 17:24] deniseschannon commented on #1671
Verified Fixed v0.31.0-rc4

[2015-07-31 17:24] #1671 closed

[2015-07-31 17:24] deniseschannon commented on #1697
Verified Fixed v0.31.0-rc4

[2015-07-31 17:24] #1697 closed

[2015-07-31 17:42] deniseschannon commented on #1509
Only broken on dropdown icons in hosts/containers.

[2015-07-31 17:43] deniseschannon commented on #1700
What version of Rancher and UI? These can be found in by clicking on Rancher in the upper left corner.

Can you let me know what is in the LB that you are cloning? I haven't reproduced with just cloning.

[2015-07-31 17:47] deniseschannon commented on #1592
Verified fixed with #1629

v0.31.0-rc4

[2015-07-31 17:47] #1592 closed

[2015-07-31 17:48] deniseschannon commented on #1488
#1629 fixes this with more scrolling.

Verified v0.31.0-rc4

[2015-07-31 17:48] #1488 closed

[2015-07-31 17:50] deniseschannon commented on #1521
Verified fixed with #1629

v0.31.0-rc4

[2015-07-31 17:50] #1521 closed

[2015-07-31 17:51] deniseschannon commented on #1529
Verified fixed with #1629

v0.31.0-rc4

[2015-07-31 17:51] #1529 closed

[2015-07-31 17:53] deniseschannon commented on #1591
Unable to reproduce. Fixed in v0.31.0-rc4

[2015-07-31 17:53] #1591 closed

[2015-07-31 18:01] deniseschannon opened #1704 "Query DO directly to grab images"
Instead of hardcoding the locations for DO, query DO directly to grab images that work with docker-machine.

See #1666 for more details.

[2015-07-31 18:01] deniseschannon commented on #1666
Verified that Ubuntu 14.10 is no longer listed as option for DO. v0.31.0-rc4

Created an enhancement request for the other issues.

[2015-07-31 18:01] #1666 closed

[2015-07-31 18:03] deniseschannon commented on #1611
Verified Fixed in v0.31.0-rc4

[2015-07-31 18:03] #1611 closed

[2015-07-31 18:09] deniseschannon commented on #1473
I haven't been able to reproduce on my v0.25.0 setup. @richburdon if you see it again, please reopen.

[2015-07-31 18:09] #1473 closed

[2015-07-31 18:12] alena1108 commented on #1701
@defunctzombie unfortunately unlike apache/nginx, haproxy doesn't have direct support for proxy_pass, mode_override directives. There is a way to hack it by overriding the URL on haproxy side, but thats not something Rancher supports. Today we just redirect you to a specific backend based on hostname/path of your requests, without actually overriding these parts.

[2015-07-31 18:20] deniseschannon opened #1705 "When changing scale of LB 0 in the LB detailed page, go back to stack page and strange UI."
v0.31.0-rc4

Steps to Reproduce:
1. Create a LB with scale 2
2. Start LB
3. Click on LB name to get to detailed page.
4. Scale to 0 using the minus button. Wait until all containers are removed from UI (might need to refresh).
5. Click back to stack view (either for all stacks or the individual stack)

Result:

![screen shot 2015-07-31 at 11 13 46 am](https://cloud.githubusercontent.com/assets/114

[2015-07-31 18:25] defunctzombie commented on #1700
<img width="270" alt="screen shot 2015-07-31 at 11 22 59 am" src="https://cloud.githubusercontent.com/assets/84792/9014312/88f4ede6-3776-11e5-923b-8fcc7b4b4ec8.png">

The LB was super basic. Internal LB to a single endpoint (a service). No stickiness rules or even any host/path rules.

[2015-07-31 18:29] deniseschannon opened #1706 "Detailed LB page: Scaling to 0, the removed container is never removed from UI"
v0.31.0-rc4

Steps to Reproduce
1. Start LB with scale 2
2. Start LB
3. Go to detailed LB page by clicking LB name
4. Click on minus button to scale to 0.

Result: The last container will stay in "Removed" state on the UI even if I wait for a long time. Refreshing the page will show it's gone.

[2015-07-31 18:30] deniseschannon opened #1707 "Scale allows negative numbers in detailed service page"
v0.31.0-rc4

Steps to Reproduce:
1. Create a service
2. Click on name of service
3. Click on "-" until it starts showing negative numbers.

We should prevent users from deleting more than a scale of 0.

[2015-07-31 18:35] deniseschannon commented on #1700
Still unable to reproduce.

Is the cloned Load Balancer in an active state or inactive state? What is the scale? Does the error occur when you click on Clone or when you click on Create in the cloned screen? Can you share a screenshot of the cloned Load Balancer before you try creating?

Was the Load Balancer from a previously upgraded setup? Since we made so many changes from 0.25.0->0.28.0->0.30

[2015-07-31 18:44] deniseschannon commented on #1471
Pre-duplicate of https://github.com/rancher/rancher/issues/1590 which has a video. This is only valid for the first time.

[2015-07-31 18:44] #1471 closed

[2015-07-31 18:46] defunctzombie commented on #1700
This was a new load balancer created on this fresh setup. I did not keep the DB from a previous setup.

It happens when I click on `Clone`

Screenshots:

<img width="272" alt="screen shot 2015-07-31 at 11 45 03 am" src="https://cloud.githubusercontent.com/assets/84792/9014837/c3e1a3a6-3779-11e5-9323-dc129af676bd.png">
<img width="787" alt="screen shot 2015-07-31 at 11 45 19 am" src="https://cloud.

[2015-07-31 18:47] pwFoo commented on #1394
It takes ~ 2 minutes before UI is available after rancher/server restart.

After removed container and image, pulled and created again it takes ~ 4 minutes.

After initial creation and startup starting rancher/server takes 2-3 minutes.

[2015-07-31 18:47] deniseschannon commented on #1257
With v0.31.0-rc4:

Container Count is no longer updated when services are started or deleted.

[2015-07-31 18:48] defunctzombie commented on #1700
The only thing I see in the rancher-server logs is the following:

[code]

Which may or may not be related.

[2015-07-31 18:50] deniseschannon commented on #1394
After you run rancher/server, can you do a `docker logs -f containerID` to see where it might be "slowing down"? I have been running v0.3.3 and I don't think it takes that long.

Are these fresh Rancher installs or are you doing a `--volumes_from`? If it's doing a `--volumes-from`, then it might take awhile to load the existing configuration.

[2015-07-31 18:59] pwFoo commented on #1394
Fresh pulled and created without volumes-from.

log
[code]

[2015-07-31 19:00] defunctzombie commented on #1319
Still broken in v0.30.0

[2015-07-31 19:17] deniseschannon commented on #1394
@pwFoo Is this the log for 3-4 minutes because it looks like it only took 2 minutes from launched to when it was available. This is what I see when I try to remove my containers/images and relaunch. Still takes 2 minutes before it's ready.

[2015-07-31 20:38] deniseschannon commented on #1702
I have no issues with rebooting the machine. After a reboot, the container is restarted and you need to wait for rancher server to come up. That usually takes ~2 minutes.

Can you do a `docker logs -f <container_id>` after the machine is up again?

When you see this in the logs, the UI should be accessible?
[code]

[2015-07-31 20:47] oomathias commented on #1702
Unfortunately not, I do have the same problem even if I just restart the container after a fresh install.

I replaced my IP by `PUBLIC_IP`
[code]

[2015-07-31 21:10] sangeethah opened #1708 "UI - UI allows for LB services to be created with no listening ports."
Server version - v0.31.0-rc4

Add a Load Balancer service with no "LISTENING PORTS".In this case we have 1 blank entry for port in the UI.
Adding LB succeeds. LB agent gets created with no ports.  Since we do not allow for editing the listening ports , this LB service needs to be deleted and recreated .

UI does restrict LB services creation with no listening ports , when there is no  entry under

[2015-07-31 21:14] defunctzombie opened #1709 "UI - TCP load balancer still shows stickiness options"
When selecting TCP for the load balancer, stickiness options are still present in the UI. Maybe for TCP stickiness could be based on IP but certainly not cookie or existing cookie.

[2015-07-31 21:15] cjellick commented on #1702
@oomathias If you are SSH'd into the machine where rancher/server is running, will the API work over localhost?
Specifically, does `curl http://127.0.0.1:8080/v1` successfully return some json or does it timeout?

[2015-07-31 21:19] oomathias commented on #1702
@cjellick It works.
[code]

[2015-07-31 21:20] luiscape commented on #1393
Hi folks, I'm afraid I am getting the same issue here, but trying to deploy / configure a new host on Digital Ocean. Here is my `docker logs -- tail=500` of my rancher container:

[code]

On my case no new droplets were created on Digital Ocean.

[2015-07-31 21:31] cjellick commented on #1393
@luiscape How do you have things configured such that you have rancher running on port 80 as opposed to 8080? Are you using a proxy in front rancher?

If so, that could potentially be causing problems. If you are, what kind of proxy?

[2015-07-31 21:44] luiscape commented on #1393
Hi @cjellick thanks for getting back to me -- appreciated!

I'm using a `nginx` proxy that sends all the traffic from / to :8080. Is that causing issues?

[2015-07-31 21:45] cjellick commented on #1702
Hm. Ok. So, rancher is running, the port is bound to the host, and it is reachable over localhost, but not over the public IP.

This is perhaps a dumb question, but is it possible that you were using an ephemeral IP that changed when you rebooted the host?

[2015-07-31 21:53] oomathias commented on #1702
Nope, this is a dedicated server :) I don't even have to reboot the host, if I do:
`docker run -d --restart=always -p 8080:8080 rancher/server`
It works, and then if I restart by doing
`docker restart containerID`
It doesn't work anymore.

[code]
looks like the source of the problem, no?

[2015-07-31 21:54] cjellick commented on #1393
Well, we just fixed a number of proxy related bugs in this weeks release, so it could very well be related to that. Later today we'll be tagging this release as latest in Docker Hub.

Would you be willing to share your nginx configuration? Feel free to remove any sensitive bits like IPs, but imparticularly interested in what headers you're setting and how you're forwarding the request.

[2015-07-31 22:37] cjellick commented on #1702
That is actually a symptom, not the source. There is a microservice called "go-machine-server" running inside the rancher container that attempts to connect back to the api service over a websocket. That log line is the microservice failing to connect because it cant reach the api server over that IP.

[2015-07-31 22:39] cjellick commented on #1702
On the server where you are running rancher/server, are you also running rancher/agent?

[2015-07-31 22:42] oomathias commented on #1702
Yes, I do run rancher/agent.

I added the agent with `docker run -e CATTLE_AGENT_IP=PUBLIC_IP -d --privileged -v /var/run/docker.sock:/var/run/docker.sock rancher/agent:v0.7.11 http://PUBLIC_IP:8080/v1/scripts/XXX:XXX:XXX`

[2015-07-31 22:57] cjellick commented on #1702
Hm, ok, I think this might be an iptables issue. Can you share the output of
`iptables -L -n -t nat | grep 8080` and `docker inspect <id of rancher/server container> | grep IPAddress`?

My suspicion is that that the 172 address from the iptables command will not be the same as the one from the inspect command. When you restart rancher/server, its IP is changes, but that rule doesn't get cleaned up

[2015-07-31 23:28] oomathias commented on #1702
Before
[code]

`"IPAddress": "172.17.0.4"`

After restart OS

[code]

`"IPAddress": "172.17.0.1"`

After restart Docker
[code]
`IPAddress": "172.17.0.2"`

[2015-07-31 23:33] cjellick commented on #1702
Hmph. Everything appears to be in order there. Well, it was worth a shot.

[2015-07-31 23:43] cloudnautique commented on #1702
@oomathias what does your route table look like? You mentioned you were on a VPN, is there any chance your private IP space is overlapping with the docker 172.17.x.x/16 route?

[2015-07-31 23:54] defunctzombie opened #1710 "TPROXY support"
Does the load balancer support TPROXY? Will it forward the IP address along when proxying in TCP mode?

[2015-08-01 00:16] oomathias commented on #1702
I made some new tests.

My VPN address:  `MASQUERADE  all  --  10.8.0.0/16          0.0.0.0/0`, so it looks OK for me.

But more interesting, when I install Rancher and add the agent, I can reboot  and everything work.
This is when the `Network Agent` is created after adding a basic `ubuntu:14.04.2` container that something gets wrong.

Initial state (rancher-server + agent):
[code]

I can reboot

[2015-08-01 00:19] ibuildthecloud commented on #1710
No it's not.  The problem with TPROXY is that haproxy must be the default route of return traffic.  This causes various difficult problems.  For example how do I have two load balancers running on two VMs with RR DNS between them.

Let me know if you think of some creative way to support it.  The easier route would probably be to support proxy protocol.

[2015-08-01 00:33] defunctzombie commented on #1710
Gotcha, makes sense. Also easy for users to deploy whatever they need if they have such a requirement.

[2015-08-01 00:33] #1710 closed

[2015-08-01 05:03] sangeethah opened #1711 "go machine service fails to start with error - "Unable to start EventRouter - websocket: bad handshake""
Server version - V0.31.0-rc4

I see the problem where go machine service fails to start with error - "Unable to start EventRouter - websocket: bad handshake" and there is repeated attempts made to start go machine service which keeps failing.

I have been able to do host registration and add hosts successfully on multiple instances.

This issue seems to happen when "add host" is done very quickly

[2015-08-01 07:03] pwFoo commented on #1394
Here is the log for the first start after container and image was removed.
[code]

All together (logged time + cattle "first time extraction") the first start needs 4+ minutes.

[2015-08-01 07:47] bxy09 opened #1712 "[UI] Visit ip:port/projects instead of hostname/projects on web ui init"
![image](https://cloud.githubusercontent.com/assets/3319944/9021115/5f5adb28-3864-11e5-949a-f6812ca0ee1e.png)

Using nginx vhost to redirect ip:8080 to a hostname.

[2015-08-01 10:16] bxy09 opened #1713 "When restart master, Cannot connect host_ip:8080 from docker container because of CATTLE_PREROUTING"
With `iptables -L -t nat` on host, I find that threre is rule not cleared as:
[code]

After deleting this rule , master works.

[2015-08-01 15:04] lavvy commented on #1293
This feature is no doubt the only thing holding us back to virtualization. Rancher has never ceased to amaze us. We actually had been looking for a way to safeguard our volume, and that's why I am still stuck with virtualization with all the overhead.
But I saw rancher-volume project it has all needed , like create,save and restore volume.
But my question is , I have not seen it in the web manager

[2015-08-01 15:14] thaJeztah commented on #1293
For full live migration of a container, I think docker has to add support for this first. There's work in progress for this, but I don't think there's an ETA yet. See for example https://github.com/docker/docker/pull/13602, but I'm not sure if this is currently held back because of the introduction of RunC (https://github.com/opencontainers/runc)

[2015-08-01 15:20] luiscape commented on #1393
Hi @cjellick, I think this is the relevant bit:

[code]

[2015-08-01 15:32] lavvy commented on #1293
Ok. But how can one do volume snapshot , save and restore in rancher web manager

[2015-08-01 16:21] sangeethah opened #1714 "Instances stuck in "stopping" state with exception - java.lang.IllegalStateException: Attempt to cancel when process is still transitioning"
Build from master - Aug1

Instances are stuck in "stopping" state forever . "java.lang.IllegalStateException: Attempt to cancel when process is still transitioning" exception seen in logs:

The services that these instances belong to are in "Removed" state.

mysql> select id,state,name from instance where id = 2882;
+------+----------+------------------------------------+
| id   | state    | name

[2015-08-01 16:35] cusspvz opened #1715 "Concerns about rancher cluster high availability"
Before creating this issue I've read [an Google Group topic](https://groups.google.com/forum/#!topic/rancherio/lDr2KCvR88g) that didn't cleared out my doubts.

I've tried rancher a couple of months ago but it seems it had a lot of improvements since then that made me wondering if we could use it...

I remember that my first concern was related with cluster agents high availability. Since agents ar

[2015-08-01 17:38] vincent99 commented on #1715
If you have a single `rancher/server` and it goes down then you can no longer manage the hosts and containers, but the existing containers on those hosts and the overlay network between them continue working.  Things like rescheduling containers when a host fails will not happen while the server is gone.

It is possible to do a multi-nose setup.  We plan to make this easier, and eventually fully m

[2015-08-01 19:45] ebuildy commented on #1715
I am still having the "unregister_netdevice: waiting for lo to become free. Usage count = 1" issue when I stop/remove/re-add a Rancher agent. And the only solution is to clean the iptables and reboot the machine ;-(

Containers are still working hopefully, but docker is not responding.

[2015-08-01 19:56] ebuildy commented on #1715
You really should put a big confirm popup when user wants to restart "Network agent" container ;-)

[2015-08-01 20:06] ibuildthecloud commented on #1715
@ebuildy this is a bug in the Linux kernel that Rancher seems to easily trigger.  If it doesn't get fixed soon in Linux upstream we will start investigating a work around.  Sorry about that.  What we've seen is it's better to stop the agent and then delete it.  Don't do both at the same time.

[2015-08-01 20:08] ibuildthecloud commented on #1715
More context https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1403152

[2015-08-01 20:10] ebuildy commented on #1715
Just by curiosity, how Rancher triggers this bug?

Except that, Rancher is really a good product, I love the scheduler with services, the fact that we can open logs/console for any container in a few clicks and the help of the team ... we should open an issue "Thanks you guys" ;-)

[2015-08-01 20:46] ibuildthecloud commented on #1715
I honestly don't really know why Rancher triggers it as I don't fully understand what is the root issue in the kernel.  What we suspect is just that the network agent takes advantage of a heavy amount of Linux networking features that we do more than the normal container.  For example creating interfaces, arp proxying, iptables, ebtables, and IPSec.

[2015-08-02 11:42] haswalt opened #1716 "Starting proxy container always triggers errors"
Whenever the proxy container is started the following errors are always triggered:

[code]

[2015-08-02 11:48] haswalt commented on #1688
I'm currently using v0.31.0-rc3.

There is no load balancer or proxy in front of the instances. Hosts talked to the server via the private network. The websocket proxy is also running over the private network as well.

I get no error messages or log output when attempting to connect to the container console or get logs.

If I change the CATTLE_AGENT_IP won't that mean that the host won't communica

[2015-08-02 11:50] haswalt commented on #1688
I've just found the issue for the connecting to the console and it is related. Basically because the host gets configured with the private ip the browser then attempts to use the private ip for the web socket connection which it can access. I'd expect some way to allow rancher to handle public traffic and let orchestration between host and server to go over the private network

[2015-08-02 18:43] ibuildthecloud commented on #1688
A couple things don't line up here.  I'll investigate further.  The IP of the host is used only to setup the private network and nothing else.

The console/logs go directly to the server now.  In the past the web browser would connect to the host but that is no longer the case.  You web browser needs to talk to the rancher/server and nothing else.

When we bind a load balancer to the host we actua

[2015-08-02 22:55] sangeethah opened #1717 "Not having "links" for a service and using "up" does not result the existing links in service to be removed."
Server versuion - v.0.31.0-rc4
Rancher Compose - v0.2.5

Say test1 has link to test2.

./rancher-compose -p p1 up with following definition for test1 (without links):

test1:
  image: sangeetha/testnewhostrouting

This will not result in existing link in test1 to be removed.
Expected Behavior:
 we should be deleting all the existing links associated with test1.

In the above example if have links

[2015-08-02 23:46] gregory opened #1718 "adding new host on digitalocean failing"
By default, docker is not installed on the ubuntu images (why only those 2 ones) available from the rancher UI, and looks like rancher is unable to install it.

[code]

[2015-08-03 00:24] vincent99 commented on #1718
We're actually just calling `docker-machine`;  it's only those two images because that's all machine support, and actually 14.10 was removed from DigitalOcean last week because it is EOL so only 14.04 is supported.  So if you tried 14.10 that might be why.

After it created the droplet it installs docker with the equivalent of `curl get.docker.com | sh`... So another possibility is that that was u

[2015-08-03 00:45] luiscape commented on #1393
Hi @cjellick, I changed the `nginx` configuration and got rid of the reverse proxy. It didn't work immediately after the change. But I installed a new docker container with Rancher on the same server and it did seem to connect with Digital Ocean without issues. Let me know if I can provide some more information.

[2015-08-03 04:21] gregory commented on #1673
:+1:  have the exact same scenario!

[2015-08-03 10:18] adamkdean commented on #1583
+1

[2015-08-03 10:18] adamkdean commented on #1583
This should be fairly simple to be honest. Take a look at https://github.com/caskroom/homebrew-cask/blob/master/Casks/atom.rb

[2015-08-03 11:51] firegrass opened #1719 "Editing Default environment"
![rancher_members_bug](https://cloud.githubusercontent.com/assets/115086/9036889/c2911ba6-39dd-11e5-9c8a-c5e7dcec3e04.png)

![rancher_members_bug2](https://cloud.githubusercontent.com/assets/115086/9036928/23d3ba68-39de-11e5-9e32-a32aa95fc00a.png)

When editing the default environment it won't save and errors. Creating a new environment works fine, but then errors when you edit it. Looks like you

[2015-08-03 13:51] cusspvz commented on #1715
@vincent99 thanks for your answer!

Does `rancher/agent` retries connection to `rancher/server` after a failure attempt?

[2015-08-03 14:45] ibuildthecloud commented on #1715
Yes it should try to reconnect every 5 seconds or so.

[2015-08-03 15:00] anapsix commented on #1394
I've clocked 3 minutes to start latest Rancher server v0.31.0: http://hastebin.com/ibonizikud.vhdl

[2015-08-03 16:01] anapsix opened #1720 "Can't start simple service stack"
Unable to start a simple service stack on freshly installed Rancher (v0.31.0) over two RancherOS hosts (phycial)
----
Stack file (docker-compose-rancher.yml(:
[code]
----
Errors starting stack:
[code]
----
docker-compose.yml
[code]
----
rancher/agent logs from host1 (nick)
[code]
last message is repeated over and over again..

----
rancher/agent logs from host2 (matt):
[code]
last message is repea

[2015-08-03 16:10] anapsix commented on #98
Agreed.. it would be nice to have smaller images.. but it's forgivable while in alpha/beta..
though, OpenWRT switched from GLIBC to MUSL, which breaks progrium/busybox :(
I've switched my Java image to be [AlpineLinux based](https://registry.hub.docker.com/u/anapsix/alpine-java), after installing glibc as described here: https://github.com/progrium/busybox/issues/24

[2015-08-03 16:16] anapsix commented on #1720
The Rancher WebUI shows one service/container in the stack running and another not..
I'm able to start it from WebUI, but `webdis` container is not only unable to ping linked `redis` container (as per #1608), but now it's unable to even resolve the hostname:
[code]

[2015-08-03 16:17] deniseschannon commented on #1719
Duplicate of #1590.

For the "Default" environment, you need to click on the environment name at least once before the edit from the dropdown on the "Manage Environments" page will work.

What version of Rancher Server are you running? When I try to add a new environment, it only saves if there is at least one owner in it. I'm running v0.31.0. So, the UI should be forcing you to create an environm

[2015-08-03 16:17] #1719 closed

[2015-08-03 16:18] anapsix commented on #1608
I've upgraded server to latest v0.31.0 and now having trouble starting all the services in the stack via `rancher-compose` (see #1720). When I start the failed service via WebUI, linked container does not resolve and is unpingable even by IP.

[2015-08-03 16:20] deniseschannon commented on #1709
@alena1108 Is this stickiness option supported in the API for load balancers with TCP?

[2015-08-03 16:24] cjellick commented on #1716
@haswalt can you explain what you mean by the proxy container?

[2015-08-03 16:27] dxxxxxg commented on #1675
When is this feature planned on being released?

[2015-08-03 16:30] ibuildthecloud commented on #98
We are contemplating Alpine but it's a good amount of effort to switch.  Any help would be appreciated.

[2015-08-03 16:30] cjellick commented on #1712
Can you explain your setup in a little more detail so that we can try to reproduce?
In the browser, are you going to the hostname or to ip:port?
And if you could post your nginx configuration here, that would be most helpful. Of course, feel free to omit any sensitive information in it.

[2015-08-03 16:51] alena1108 opened #1721 "Healtcheck for Load Balancer service"
Today you can configure a healtcheck for the regular service, and if service's container is considered unhealthy, Service discovery replication controller is going to recreate it.

We have to enable the heatlcheck for the lb service as well. In the UI, as its a rancher system service, we might not give a user all the configuration choices he sees for the regular service. Instead, we just show the

[2015-08-03 16:52] willseward opened #1722 "Unnecessary backends if multiple source ports are specified in config"
I am running two lb'd containers with ports 80 and 443 forwarded. The port 80 is ACL'd on the host header, but port 443 is not because it is the only HTTPS service on the LB. The 443 HAProxy config is shown below.

[code]

Why are there 2 default_backends? If the hosts that are supposed to respond on port 443 don't, I would want the connection to drop or return 503.

With this setup about 50% of t

[2015-08-03 16:58] cjellick commented on #1711
@sangeethah I  found the issue: the Host Registration value somehow had a trailing slash in it. So, the property looked like `http://foo/` instead of `http://foo`. And this caused an issue in go machine serverice because the connection URL became `http://foo//v1/subscribe` (two slashes after foo).

So, the app should be more tolerant of the double slash. It is in most places, but perhaps not for t

[2015-08-03 17:01] deniseschannon commented on #1720
What version of rancher-compose are you using? Can you do a `rancher-compose -v`?

I know that you've upgrade to v0.31.0 and rancher-compose also needs to be upgrade to v0.2.5 in order for rancher-compose to work with v0.31.0.

[2015-08-03 17:09] deniseschannon commented on #486
@andrewmunsell What version are you using? I found out recently that there were some fixes placed into a release after v0.25.0.

In v0.31.0, we've seen the cross host networking resolve itself after a little bit. Where the initial ping might not work, but after 10 min, it works.

[2015-08-03 17:14] deniseschannon commented on #1686
People have been a combination of building upfront and using the build.

Have you confirmed that you can build the file using `docker build`?

Can you share the `rancher-compose` log and your `rancher-compose -v`?

[2015-08-03 17:16] sangeethah commented on #1711
@cjellick - The url had "/" in it - "http://<ipaddress>:8080/" . So we could consider this as user error or provide some checks to not accept the values that could be invalid.

[2015-08-03 17:17] deniseschannon commented on #1700
Can you share the docker-compose configuration that was generated for this LB? If you go into the stack, you should find it here.

![screen shot 2015-08-03 at 10 16 35 am](https://cloud.githubusercontent.com/assets/11410997/9043223/ced92dbe-39c8-11e5-876b-76f05629b134.png)

[2015-08-03 17:17] cjellick commented on #1711
Agreed.
It seems like the UI prevents the trailing slash now. Did you input the url via the normal UI? If so, maybe vince fixed it or something

[2015-08-03 17:18] anapsix commented on #1720
[code]

[2015-08-03 17:21] deniseschannon commented on #1720
You'll need to download a new version of rancher-compose from the WebUI of v0.31.0.

The WebUI will always link to the compatible rancher-compose.

[2015-08-03 17:21] cjellick commented on #1711
test msg

[2015-08-03 17:22] sangeethah commented on #1711
Setting the host.api was done thru api

[2015-08-03 17:23] cloudnautique commented on #161
We recently cutover to using RancherOS in our Vagrant environment. We are interested to hear how it impacts this issue.

[2015-08-03 17:26] anapsix commented on #1720
...
Ah.. I see I was running the old version after all..
The new version got downloaded as `rancher-compose-linux-amd64 (1).tar.gz`, which is why I didn't notice, d-oh!
Now I'm able to create my stack.
However:
1. latest `rancher-compose` still does not delete the stack after stopping and removing all services and containers
2. No cross-host networking still, cannot ping `redis` from `webdis` cont

[2015-08-03 17:26] #1720 closed

[2015-08-03 17:26] cjellick commented on #1711
test

[2015-08-03 17:26] cjellick commented on #1711
test

[2015-08-03 17:28] anapsix commented on #1608
`rancher-compose` #1720 issue solved - I've been using older version..
after upgrade, all services in the stack started.. though I still cannot ping `redis` container from `webdis` (they are running on different hosts)

[2015-08-03 17:28] cjellick commented on #1711
again

[2015-08-03 17:28] cjellick commented on #1711
is this thing on

[2015-08-03 17:45] vincent99 commented on #1709
No; they work by reading/setting cookies and TCP mode means it is blindly copying the message because haproxy will have no idea what protocol it it.  The stickiness options should be grayed out unless there is at least one http listener.

[2015-08-03 17:46] deniseschannon opened #1723 "Rancher-Compose: Add option to delete stack when removing services."
When removing services, it'd be nice to have an option to also delete the stack (assuming there are no other services).

[2015-08-03 17:46] deniseschannon commented on #1720
`rancher-compose` does not the ability to delete the stack. Currently, it only supports the ability to stop and remove the services. This is a good enhancement request and I've created  https://github.com/rancher/rancher/issues/1723.

[2015-08-03 17:48] will-chan opened #1724 "Add Service container name into the hostname for the container"
Currently, when containers are scaled within a service, Rancher creates a name for this by generating a name "<stack>_<service>_<cardinal number>".  Unfortunately, this is not propagated down to inside the container where it can become useful for certain apps.

#1431 will eventually solve this by providing this info, but we can also consider adding a label to specify whether to automatically have

[2015-08-03 17:51] cjellick commented on #1711
test again

[2015-08-03 17:52] vincent99 commented on #1712
There's a button in the network console that will make it show double height lines that have the host & port in them instead of just the path.

The rancher API returns absolute URLs for everything, so it needs to know the original protocol, host, and port.  Make sure nginx is configured to send x-forwarded-{host,proto,for} headers.

[2015-08-03 18:04] anapsix opened #1725 "Rancher-Compose: check version when connecting to Rancher Server"
It's too easy to get burned by using an incompatible version of `rancher-compose`.
It would make sense if `rancher-compose` would inform use when it's version is not compatible with the version of Rancher Server it's connecting to. It could provide a link to download an update and even self-update, upon receiving confirmation it's ok to do so that is.

[2015-08-03 18:15] deniseschannon commented on #15
With the release of `rancher-compose` with Rancher, this is possible today.

[2015-08-03 18:15] #15 closed

[2015-08-03 18:16] deniseschannon commented on #108
@cjellick Is this still valid now that we've added in the webproxy and no longer need 9345/9346?

[2015-08-03 18:21] vincent99 commented on #108
This particular phrasing isn't, but we do eventually need to keep track of multiple host IPs, expose them in the API/UI for port mapping, and decide what the right one to use for IPSec communication to a particular target is.

[2015-08-03 18:34] oomathias commented on #1713
Seems like it's related to my issue #1702

[2015-08-03 19:38] haswalt commented on #1716
The websocket proxy. Part of the multi host cluster setup

[2015-08-03 20:19] oomathias commented on #1702
Using `sudo iptables -F CATTLE_PREROUTING -t nat` seems to work.

But I need to restart the "Network Agent", and flush again CATTLE_PREROUTING, each time I want to add a container. Otherwise, the container is stuck in "Networking" state.

[2015-08-03 20:27] cjellick commented on #1702
@oomathias you have to restart the newtork agent every tim eyou deploy a container!? That's not good!
Curious: do you have just one host and that host runs both server and agent or do you have any other agent-only hosts and do they experience the network agent restart problem.

[2015-08-03 20:37] deniseschannon commented on #255
@vincent99 Is this already in?

[2015-08-03 20:54] deniseschannon commented on #1410
@vincent99 Now that rancher/cattle#657 has been merged, could we add this in? Just stumbled upon it while trying to test GHE.

[2015-08-03 21:25] deniseschannon commented on #1698
@portokallidis Please let me know if the examples in the docs are not enough or if you have more questions.

[2015-08-03 21:31] vincent99 commented on #255
Nope

[2015-08-03 21:36] oomathias commented on #1702
I created a second host on AWS for testing purpose, everything works fine there.

CATTLE_PREROUTING is coming back up after any action (stop/add/delete a container), so I need to flush it every time. Restarting Network Agent, seems not required indeed.

[2015-08-03 21:44] cjellick commented on #1702
Ok, good to konw. thanks for the info.

[2015-08-03 21:59] deniseschannon commented on #1713
@bxy09 I haven't been able to reproduce getting the old rule in the iptable upon a restart.

Can you share your Rancher version? Where did you launch Rancher? (AWS, GCE, locally?) and also what was in your setup? (General number of hosts/containers)/

[2015-08-03 22:12] alena1108 commented on #1722
@willseward could you share the output of exported .yml file of your stack? 2 default backends should have never been assigned to one front end unless 2 target ports - 80 and 443 - were deliberately assigned to listening port 443 under Advanced options.

Also what Rancher version is it? And is it a fresh install, or upgraded setup?

[2015-08-03 22:13] alena1108 commented on #1722
![hostnamerouting](https://cloud.githubusercontent.com/assets/1562176/9048950/02c49c34-39f2-11e5-8a29-8ba0578615d7.png)

I've just setup an LB for application listening on 2 ports - 80 and 443 - similar to your use case, and linked a service to it. it resulted in 1 default backend per each listening port on haproxy

[2015-08-03 22:15] oomathias commented on #1702
I can confirm that Network Agent doesn't need to be restarted.

[code]
When these rules are up, nothing works on the host, and like I said they are comming back all the time.
Are theses rules supposed to be up? What should-I do?

[2015-08-03 22:22] willseward commented on #1722
Rancher	v0.31.0
Cattle	v0.73.0
User Interface	v0.39.0
Rancher Compose	beta/latest
It's been upgraded continuously since v0.28.0

Here are obfuscated versions of my yml files.
[code]

[2015-08-03 22:24] willseward commented on #1722
Rancher	v0.31.0
Cattle	v0.73.0
User Interface	v0.39.0
Rancher Compose	beta/latest
It's been upgraded continuously since v0.28.0

Here are obfuscated versions of my yml files.
[code]

[2015-08-03 22:25] willseward commented on #1722
If you can provide me your email, I'd be happy to give you the actual yml.

[2015-08-03 22:33] nathanleclaire opened #1727 "Rancher agent not connecting to Rancher server on same host with "Custom" Add Host"
I am running Rancher server in the provided container on DigitalOcean (exposing `8080`) and the admin seems to work fine.  My firewall rules seems reasonable:

[code]

But when I want to add the same host, as an agent, it hangs on attempting to connect to the master.

I click through the admin interface for "custom", and it tells me to do:

[code]

When I run that locally, I get logs in the contai

[2015-08-03 22:42] sangeethah commented on #1678
I have a similar issue to track some log related enhancements - #199

[2015-08-03 22:52] mryuha opened #1728 "[Rancher] Ensure rancher images are portable, agents do not need internet access"
I have agents behind firewalls that can't access github.  The agents are trying to access github to obtain files such as host-api, rancher-dns.

[2015-08-03 23:57] flaccid commented on #198
Currently only a few items are editable in a container service that is not started yet.
Ideally you should be able to edit everything in the same way when initially creating the container.
At the moment to make a small edit such as a port or env var, you need to clone the service (problem is you cannot use the same name) or recreate it.
![screen shot 2015-08-04 at 9 54 04 am](https://cloud.githubu

[2015-08-04 00:30] alena1108 commented on #1722
@willseward no worries, seeing this info is enough. I'm going to deploy lb using your yml file, tonight, and would post an update right after.

Just one more thing to confirm. You said that the setup was updated from 0.28. Was the LB service having the problem, initially deployed on 0.28? Or was it deployed after upgrading to 0.31?

[2015-08-04 00:33] alena1108 commented on #1714
@sangeethah is setup still around? This error msg just indicates that the instance is stuck in stopping state, but doesn't tell the reason. I need to look at the logs to find out more.

[2015-08-04 00:34] sangeethah commented on #1714
Logs are not available from the setup anymore.
I will attach the logs when I see this issue again.

[2015-08-04 00:39] willseward commented on #1722
No, it was deployed after upgrading to 0.31. I changed from one Lb per stack to a global LB on all hosts.

[2015-08-04 00:42] ibuildthecloud commented on #1724
We shouldn't set environment variables.  Why do we need this?

[2015-08-04 01:00] alena1108 commented on #1724
There is a use case (@will-chan has more details on that) when service container needs to know its own name; and it should be able to figure it out from within the container (so just setting up the label won't be a solution). Metadata service would be able to solve it properly, so I believe this is the temporary workaround.

[2015-08-04 01:32] alculquicondor opened #1729 "Rancher Compose fails to start a container with volumes or ports especifications"
I set up this `docker-compose.yml`:

[code]

And I get messages like this:

[code]
When using rancher-compose. It works if there are not volumes nor ports especifications. I've tried with other images too.

I'm running rancher in a vagrant cluster (using rancherOS) with latest tags.

Is there anything you recommend me to try to trace this down?

[2015-08-04 01:34] vincent99 commented on #1724
I agree, :-1: on setting arbitrary environment vars for one of a hundred things you might want from metadata.  Can't we just finish the packaging and json generation for the metadata service?

[2015-08-04 02:06] defunctzombie commented on #1700
[code]

[2015-08-04 03:28] vincent99 commented on #198
Docker containers are immutable.  The only things you can change are things that Rancher implements outside of Docker.

[2015-08-04 04:02] flaccid commented on #198
@vincent99 this is true however I haven't pressed start yet so not containers exit yet. Because I forgot a setting I now have to either 1. rename the container service, clone it, name the new one (this is because service names are unique and I want the same service name), delete the old one, update the config, then start; or 2. delete the container service, create a new one with the missing settin

[2015-08-04 04:27] vincent99 commented on #198
Frankly that seems even more confusing to me; we'd have to have a new state for "stopped but never started" and enforcement of it in the API for the off chance you forgot something *and remember that before starting*.

Actually we don't even have a construct in the API schema for a field that is editable depending on the value of another field, that would make it significantly more complicated for

[2015-08-04 04:35] flaccid commented on #198
Very understandable points there. Its not a huge deal. I think of a container service like a blueprint which is mutable and currently existing containers for that service are immutable. I guess you can say the service is like a class which is instantiated (sorry I'm sounding like captain obvious here). The ability to not edit your class before instantiating is a usability issue but I assume a basi

[2015-08-04 04:43] sangeethah commented on #1345
Similar exceptions seen when trying to LB services:

[code]

[2015-08-04 04:48] gregory commented on #1718
ok thx! will close this for now!

[2015-08-04 05:23] alena1108 commented on #1722
@willseward was able to reproduce duplicated default backends using .yml example you've provided. The "culprit" is the tcp protocol specified for 443 port + this line:

io.rancher.loadbalancer.target.stack1-web: example.com:80,example.com:443=443

HostName routing rules get configured only for http listeners (which gets created when "/tcp" is dropped from the port spec) as only in http mode haprox

[2015-08-04 10:39] portokallidis commented on #1698
Sorry for the late response, but i 've yet to figure it out
I want to setup the simple wordpress stack as an example
wordpress stack
======
The docker-compose.yml :
[code]

The rancher-compose.yml :
[code]
I also need a load balancer outside the stack (like this for example)
[code]

[2015-08-04 10:42] portokallidis commented on #1698
When i assign The router to from wp.nporto.eu-> single container wordpress it works
but when i assign it to wplb (the wordpress loadbalancer container) doesnt work.

[2015-08-04 14:01] willseward commented on #1722
I did as you suggested, but found that the issue was still present. The change resulted in two frontends, one for port 80 and one for port 443 and one backend on the 443 side as preferred, but all containers were present in the backend even if they aren't supposed to listen on port 443.

I was able to resolve the issue by removing the source port specification and adding a target port specificatio

[2015-08-04 14:03] oomathias commented on #1727
If you are SSH'd into the host, is `curl -i http://127.0.0.1:8080/v1` working?

[2015-08-04 14:55] sangeethah opened #1730 "Connection to Exposed ports on containers fails intermittently."
Server version - Build from master on Aug 4

Create service1 which is linked to service2. Service 1 has exposed port - public port - 309 -> private port - 22.
Waited for both the services to be activated.

After 5 sec delay , tried to access -service1 by trying to ssh to port 309 on the host the container of service1 is running.

 We get "Connection refused" error.

After few minutes , when i try

[2015-08-04 15:05] mryuha commented on #1608
I had a similar issue due to firewall.
I know that you already said they are both next to each other but it is worth checking that 500/UDP, 4500/UDP are accessible both ways against the IPs listed in the rancher GUI.

As RancherOS is a minimal image, could you maybe spawn up centos/ubuntu and test via netcat?
E.g.
Test 500/UDP, between both servers
nc -luv 500
nc -vu server.ip.address.here 500

an

[2015-08-04 15:16] anapsix commented on #1608
seems like hosts can reach each other over 500/UDP and 4500/UDP @mryuha

----
nick -> matt
[code]
----
matt -> nick
[code]

[2015-08-04 15:42] cjellick commented on #1728
Hi @mryuha we are currently working on a version of Rancher that will exactly what you need. All the binaries we attempt to download will be packaged into the container(s). We'll update this issue when it is completed. I don't have know the issue number for this feature off hand, but I'll find it and post it.

We also currently have a solution where you can send the Internet bound traffic through

[2015-08-04 15:45] cjellick commented on #1727
Looking into it @nathanleclaire

[2015-08-04 15:47] deniseschannon commented on #1728
Here's the feature that @cjellick was mentioning. It's basically running Rancher server without internet. https://github.com/rancher/rancher/issues/924

[2015-08-04 16:01] deniseschannon commented on #1675
It should be out around 2-3 weeks.

[2015-08-04 16:36] deniseschannon commented on #1700
It looks like the one you copied was for the `lb-api-3` instead of the `lb-soc-3`. Could you send me the other one?

A couple of quick notes from the lb that you've shared.
1. When you have a listener port of 80 -> 3000, you don't also need to set the target port for the services in the advanced routing options. All services will go to 3000.
2. At some point, it looks like you had deleted service

[2015-08-04 16:38] alena1108 commented on #1722
@willseward just to double check - duplicated default backend is no longer present, right?

Now about service listening on 443 when they are not supposed to. In Rancher, all services registered for the LB service, get registered as backends for every listening port . Hostname routing rules are not meant to eliminate traffic from specific source port completely, but to  just redirect it to a specif

[2015-08-04 16:42] willseward commented on #1722
Right. The duplicated backend goes away once the change you suggested was made.

Thank you for making that clear to me. I'm not crazy about that feature, though. I would prefer one LB config for everything instead of several LB configs, one for each port. I suppose it will have to do for now though.

[2015-08-04 16:48] deniseschannon commented on #1293
@lavvy Currently, it's not available in Rancher. You can follow this issue https://github.com/rancher/rancher/issues/29, which will be incorporating the rancher-volume project when it's completed.

[2015-08-04 16:51] alena1108 commented on #1722
@willseward I understand your use case and concerns completely :) And we do plan to support it in the future - to be able to assign a target to a specific source port, as its a pretty common use case when user wants just one LB per account.

thanks for reporting the duplicated backend issue, that would be fixed soon

[2015-08-04 16:55] cjellick commented on #1727
Ok, I reproduced and adding `ufw allow 8080/tcp` to the firewall rules fixed the problem.

The questionable thing was why were you able to get to the UI/API via the browser. Long story short, the iptables rule that was created when you did `docker run ip 8080:8080 ...` was taking allowing external traffic in, but not internal traffic. Internal traffic was being blocked by ufw.

[2015-08-04 16:56] cjellick commented on #1727
I closed, by actually I leave open for awhile to give @nathanleclaire a chance to confirm adding that ufw rule fixed his problem.

[2015-08-04 16:58] cjellick commented on #1702
@oomathias what version of docker are you running?
Can you give us the `docker version` and `docker info` output.

[2015-08-04 17:00] oomathias commented on #1702
[code]

[code]

For now I run a dirty fix each second `sudo iptables -t nat -D CATTLE_PREROUTING -p tcp -m addrtype --dst-type LOCAL -m tcp --dport 8080 -j DNAT --to-destination 172.17.0.2:8080`

[2015-08-04 17:08] sheng-liang opened #1731 "Accessing container console leaves bash running"
I access the console through the UI, and close the console without typing "exit", I'll leave a bash process running in the container.

[2015-08-04 17:17] cloudnautique commented on #1383
Verified as well.

[2015-08-04 17:17] #1383 closed

[2015-08-04 17:17] #1276 closed

[2015-08-04 17:17] cloudnautique commented on #1445
Verified in loadtest.

[2015-08-04 17:17] #1445 closed

[2015-08-04 17:18] will-chan commented on #1201
clone of #1252

[2015-08-04 17:18] #1201 closed

[2015-08-04 17:18] #577 closed

[2015-08-04 17:21] will-chan opened #1732 "Support ability to specify which machine to allow during "Add Host""
Currently, Rancher supports all docker machine drivers.  We need the capability to configure Rancher to only support drivers specified by the primary admin of Rancher.

[2015-08-04 17:22] anapsix commented on #98
@ibuildthecloud, take a look at the first stab of running rancher-agent over Alpine: [Dockerfile](https://github.com/anapsix/rancher/blob/ea0954a561db95015fe81b78223bab5024853fb5/agent/Dockerfile)

I've had to re-tag my image as `rancher/agent:v0.7.11` before starting it, but it works just fine, seemingly..
Had to install glibc (since Alpine ships with MUSL) to accommodate nsenter hack, but it doe

[2015-08-04 17:49] cjellick opened #1733 "Need to inspect labels differently"
In docker 1.8, labels on images will stop propogating to instances. We rely on this functionality, so we need to change it.

[2015-08-04 17:50] cloudnautique commented on #98
@anapsix, to make it a little easier to test, when you launch the rancher/server container set:
`-e CATTLE_BOOTSTRAP_REQUIRED_IMAGE=<yourimage>`

That should keep you from having to retag the image.

[2015-08-04 17:56] alena1108 commented on #1546
hello-world image doesn't have any long running process, and exists run after printing out its "hello world" message. Therefore container goes to stopped state right away.

[2015-08-04 17:57] vincent99 commented on #1731
There is no way in the docker API to force the exec to close, and they've argued against adding one.

The node.js console-agent used to send a `^D` when closing the socket to exit if you happened to be at the shell prompt, did that feature get lost in the conversion to Go @cjellick?

[2015-08-04 17:59] deniseschannon commented on #53
We should review this list of acceptable formats based on the docker site.

[code]

[2015-08-04 18:00] vincent99 commented on #1731
https://github.com/rancher/console-agent/blob/master/agent.js#L187-L192

[2015-08-04 18:06] anapsix commented on #98
@cloudnautique sweet!

[2015-08-04 18:06] vincent99 commented on #1546
Yes that's the point; shouldn't we do something about that situation instead of leaving the service in a state that sounds like it's transitioning but will never complete?

It seems impossible to use services for anything that is expected to terminate right now, like volume or image cleanup scripts that you run every once in a while and want scheduled globally.

[2015-08-04 18:06] anapsix commented on #98
I'm working on rancher/server now, but having trouble with s6 :(
[code]

[2015-08-04 18:08] deniseschannon commented on #1729
The ports issue is due to Rancher not supporting binding to a specific IP. https://github.com/rancher/rancher/issues/53

As for the volumes, I'm not having issues with it. I try to run your file in rancher-compose and get this error, which I'm thinking is related to the port mapping issue.

[code]

What version of Rancher (click on cow in left corner) and rancher-compose are you running? To find t

[2015-08-04 18:38] deniseschannon commented on #1684
Needs to be fixed with #1693 and #1694

[2015-08-04 20:14] deniseschannon commented on #1718
`docker-machine` doesn't have a driver to be able to install docker.
https://github.com/docker/machine/tree/master/drivers

[2015-08-04 20:31] nathanleclaire commented on #1727
Ah yes.  I am not sure the exact iptables magic Docker is doing behind the scenes, but I am pretty sure it will happily punch a hole through your firewall to expose the port to outside when you do `-p port:port`.

I'll add another rule and confirm when it works for me!

[2015-08-04 20:44] vincent99 commented on #1718
docker-machine only really supports Ubuntu, boot2docker, and RancherOS (but we don't have an image in DigitalOcean yet).  CoreOS and others are "experimental".  https://docs.docker.com/machine/#specify-a-base-operating-systems

[2015-08-04 21:04] nathanleclaire commented on #1727
It works, thanks @cjellick !

[2015-08-04 21:04] #1727 closed

[2015-08-04 21:16] deniseschannon commented on #1698
It doesn't look like you added any listening ports to `wplb`.

[code]
inside of
[code]

Since you have a load balancer on top of a load balancer, you could make the listening be internal (only available inside the host), which would have the listener ports in this format.
[code]

And you'd need to  make sure your `AthinaRouter` is on the same host as the `wplb`. In your `AthinaRouter`, the other s

[2015-08-04 22:05] will-chan opened #1734 "Admin Page"
Create an admin page that will contain the following possible information:

- audit log trails
- resource events
- running/stuck/completed processes for debugging
- rancher settings

[2015-08-04 23:47] alena1108 commented on #1714
@sangeethah sure, please reassign it back to me once more logs are available.

[2015-08-05 00:37] sangeethah opened #1735 ""500 Internal Server Error" when trying to delete instances."
Server version - Built from master - Aug 4

"500 Internal Server Error"  returned when trying to delete an instance. Following exception is seen in the logs:

[code]

[2015-08-05 00:53] sangeethah opened #1736 "Target service container stuck in "Post-network" state and LB Service stuck in "activating" state forever."
Server version - Build from master - Aug 4

Create service1 with scale2 and activate.
Create LB service with scale1  and activate.
Add service2 as target to LB service.

Service1 is stuck in "activating" state for ever since one of the instances of the service is  stuck in "Post-network" state .
LB service is also stuck in "activating" state.

<img width="1017" alt="screen shot 2015-08-04 at 4 46

[2015-08-05 05:17] flaccid commented on #1528
I have also replicated this problem on v0.30.0. @ibuildthecloud your commands/workaround did the trick, in particular I think wiping `/var/lib/rancher/state` as I'd already removed the containers.

[2015-08-05 08:08] jlrigau commented on #1528
I have the same issue with rancher v0.31.0. The workaround fix it.

[2015-08-05 12:13] burhan opened #1737 "Rancher Agent stuck on "INFO: Deleting container rancher-agent""
I am facing a strange problem while trying to get a RHEL Atomic Host to be detected by the interface. After copy-pasting the agent installer docker command, the agent never finishes and the host is not detected; here is the log:

[code]

After this point, the last line keeps repeating; as if in an infinite loop.

[2015-08-05 13:04] rcarmo opened #1738 "Global Built-In Registry - Using Harbor"
I've been poring over past (closed) issues, and see no explicit mention of this, so thought it best to ask even if it's only to have it filed away for future reference:
- Even given that running a registry can be considered an entirely different proposition from orchestrating containers, wouldn't it make sense for Rancher to have a built-in registry, even if there was no UI for it?

This would be

[2015-08-05 13:06] bcaudesaygues opened #1739 "[Load Balancer] Support pattern matching"
Add pattern matching on advanced routing option.
Like HAProxy 1.5 flag -m.

[2015-08-05 13:12] ebuildy commented on #1738
Docker registry runs with Docker very easily, I am not sure of the plus value, maybe with some hooks that for instance, could restart Rancher services when you push a new image.

[2015-08-05 13:19] rcarmo commented on #1738
"very easily" doesn't really go too well with registry 2.0. Setting up the required certificates and the backing store is mandatory if you intend to actually use instead of just playing around with it, so I think there's plenty of added value there.

It's not just `docker run registry:2`, it actually requires some sane defaults, plus each Rancher host has to be manually configured to trust a new r

[2015-08-05 15:31] pwFoo commented on #1378
data only container would be important for persistent data (mysql, webspaces with uploads, ...) for containers and services. Any update or plans to add this feature?

[2015-08-05 16:40] cloudnautique commented on #98
Hmm... we are using a pinned version of jprjr/s6-builder, which has since been deprecated. It builds a static s6-binary. Looks like it was replaced by just-containers/skaware... might have to look into giving it a try. I know it was being built statically with Musl in Archlinux. If you want to give it a shot, or I might be able to find some time this week. Keep us posted!

[2015-08-05 17:35] will-chan commented on #1278
- NFS driver + generic volume driver framework done
- generic snapshot and backup framework  (PR)
- add packaging (PR)

[2015-08-05 17:36] alena1108 opened #1740 "Add external VIP provider support"
1) Add VIP (Virtual Private IP) to every service by default. Default vip cidr is 169.254.0.0/16
2) Cattle delegates VIP implementation to external service provider. To register as external VIP provider in cattle, service has to be deployed with a label:

'io.rancher.network.services': "vipService"

3) When service container is deployed on the host having VIP provider running, Rancher DNS gets prog

[2015-08-05 17:37] will-chan commented on #1251
Requires UI and Rancher-Compose CLI to leverage this.

[2015-08-05 18:34] alena1108 commented on #1736
The root cause of the problem - container being stuck in Starting state because networking setup failed to complete. The instance being stuck caused its service to be stuck in Activating state forever. And as this service is used as a target for the LB service, LB service activation will get stuck waiting for all target services to become Active.

So we have to figure out what had caused the insta

[2015-08-05 18:52] alena1108 commented on #1736
The problem happened because host-iptables config item failed to update on the backend host for instanceHostMap process.

Cattle log:
[code]

See a bunch of errors in the agent log:
[code]

Then when tried to execute the config.sh script manually, got the following error:

[code]

Looks like this problem comes and goes, because I just saw it on 10acre-1 at some point on the latest, then it resolve

[2015-08-05 19:07] sangeethah opened #1741 "Containers in "stopped" state being synced to rancher-server"
Server version - Build from master - Aug 5

In my setup , I see few containers listed in "stopped" state which are in "networkMode": "bridge" .
I have not deployed any of these containers in "bridge" mode.
Is it possible that destroyed containers are getting synced back to the server in "stopped" state ?

<img width="973" alt="screen shot 2015-08-05 at 11 56 32 am" src="https://cloud.githubusercon

[2015-08-05 19:23] sangeethah commented on #1741
List of containers from the host , does not list this container:
root@latest-ubuntu-10acre-1:/home/sangeethahariharan1# docker ps -a
CONTAINER ID        IMAGE                           COMMAND                CREATED             STATUS                      PORTS                                          NAMES
174e18e59869        sangeetha/testlbsd:latest       "/scripts/run.sh ngi   About an hour ag

[2015-08-05 19:35] cloudnautique opened #1742 "Auto-populate host labels for scheduling"
When adding hosts certain labels should be added for ease of use in scheduling rules. For instance, I want service A to run on a host with Docker version 1.7 vs 1.6.

Labels that seem most obvious:

Memory
CPU
Kernel
Docker Version

To start out CPU total and Memory total might work, and let users ask for more advanced or realtime statistics. But for simple host based scheduling decisions, these w

[2015-08-05 20:24] alena1108 commented on #1546
@vincent99 I've just realized the PR for "Don't auto restart svc containers with restartPolicy=No" would provide the fix (https://github.com/rancher/cattle/pull/730, https://github.com/rancher/rancher/issues/1596). So if  you know that process inside your container terminates shortly, specify restartPolicy=No, and service reconcile process won't attempt to restart it. Tested against hello-world im

[2015-08-05 21:03] deniseschannon commented on #1528
I've been able to reproduce with v0.31.0.

[2015-08-05 22:08] SeerUK opened #1743 "Cannot access service remotely via mapped ports"
Hi there,

I've been attempting to set up a Rancher controlled Jenkins node, just a simple setup. I've created a Rancher server on a VPS from DigitalOcean, and then added my dedicated server as a host. I've ensured that the IP of the host in Rancher is the dedicated server's public IP address (not the docker0 interface's IP address which it seems to default to).

From there, I added my service. Th

[2015-08-05 22:10] cloudnautique opened #1744 "Services don't restart existing containers on host reboot"
Rancher version v0.31.0

Create a service (no restart policy) that schedules to all hosts with host label.
Host 1 should now have service container "A0"
reboot host
Host comes back you have a stopped "A0" container and a new "A1" container is created.

Discussed this with Alena, this is a bug.

[2015-08-05 23:31] alena1108 commented on #1724
Instead of setting up the env vars, we are going to override container.hostname with container.name if following label is defined:

io.rancher.container.hostname_override=container_name

[2015-08-06 01:17] alena1108 commented on #1546
should work now if restartpolicy=No is defined when service is created

[2015-08-06 01:18] bfosberry opened #1745 "Vagrant up fails with rsync error"
Getting an odd issue, looks like https://bbs.archlinux.org/viewtopic.php?id=183921, but this is meant to be fixed in 3.1.1-3 which is my current version (supposedly). My rancher vagrant box is up to date.
[code]

[2015-08-06 03:06] sf-devops opened #1746 "rancher-compose fails to correctly setup L7 load balancer"
When using rancher-compose to recreate a load balancer, the L7 vhost/request-host definition is not correctly setup per the labels in the docker-compose.yml file.

rancher-compose:  v0.2.5
rancher/server: v0.31.0

Working config for haproxy as reported by rancher/server export config:
[code]

[code]
The vhost link of docker-test.example.com port 10001 is what is being problematic.  The link is cre

[2015-08-06 04:07] alena1108 commented on #1746
@sf-devops the culprit is the named external link - "dts", or rather the fact that the name of the link is different from the service name. During the "io.rancher.loadbalancer.target.*" label generation when export .yml, instead of reading from the service.name, we read from the service link name - a Rancher server bug. Because rancher-compose looks up for the target service by name, not link alia

[2015-08-06 04:16] sf-devops commented on #1746
@alena1108 I had previously tried it without an alias -- and had this:

[code]
I just reverted back to that config and it still fails to set the request_host and target_port.   I had set it to an alias because the docs seemed to indicate that it was required.

I also tried without an alias at all:
[code]

And it still fails to set those 2 bits.

[2015-08-06 04:47] alena1108 commented on #1694
Even with no duplicated services names cross environments, "label" directives for hostname routing rules are not being set. I've just tested couple of scenarios:

Doesn't work:
[code]

Works:
[code]

We have to fix the config export on the rancher side to include the environment name. No need for the fix on the rancher-compose side as it already respects an environment name in the "io.rancher.load

[2015-08-06 04:47] alena1108 commented on #1694
@sangeethah

[2015-08-06 04:57] alena1108 commented on #1746
@sf-devops looks like there is a bug for hostname routing rules not being set when LB service has cross stack links (external_links in compose). Works fine for links from the same stacks. We are going to work on both fixes  - 1) set service name instead of alias for *target* label 2) append [environment.name/] to *target* link if its a cross stack link -  and it will be available in the next relea

[2015-08-06 08:42] SeerUK commented on #1743
I found the issue. I had UFW enabled. Two options from there, disable UFW, or change `/etc/default/ufw` so that:

`DEFAULT_FORWARD_POLICY="ACCEPT"`

Is set.

[2015-08-06 08:42] #1743 closed

[2015-08-06 08:57] SeerUK opened #1747 "LB source port not set in HAProxy config"
Hi there,

I'm currently attempting to set up a load balancer. I've attempted to make this LB only respond with a given host and port. Unfortunately, the source port entered does not make it's way into the HAProxy config.

This is as close it comes to getting it right:
https://github.com/rancher/cattle/blob/master/resources/content/config-content/haproxy/content/etc/haproxy/haproxy.cfg.ftl#L41

If

[2015-08-06 12:30] haswalt commented on #1747
I had the same issue. In my cas I was trying to send to different containers based of path.

[2015-08-06 13:33] mryuha commented on #1608
Can you try with multicloud/netcat image instead of ubuntu.
I receive "Connection to host 500 port [udp/isakmp] succeeded!" too in ubuntu's nc even though the port is blocked.

[2015-08-06 13:52] sf-devops commented on #1746
@alena1108 - using the external stack name/  prefix does indeed solve it for me.  Thanks for the workaround!

[2015-08-06 15:37] ahmedomarjee opened #1748 "Failure mounting iso when starting rancher using vagrant on OS X"
Bringing machine 'rancher-server' up with 'virtualbox' provider...
==> rancher-server: Importing base box 'rancherio/rancheros'...
==> rancher-server: Matching MAC address for NAT networking...
==> rancher-server: Checking if box 'rancherio/rancheros' is up to date...
==> rancher-server: Setting the name of the VM: rancher_rancher-server_1438874432037_97611
==> rancher-server: Clearing any previou

[2015-08-06 16:05] deniseschannon commented on #1747
@SeerUK Can you share your docker-compose.yml? This can be exported from the Rancher UI on the stack if you click on this button in the stack view.

![screen shot 2015-08-03 at 10 16 35 am](https://cloud.githubusercontent.com/assets/11410997/9116613/2494191e-3c1a-11e5-9d11-5467f0d6aade.png)

Did you make sure to also include your source port in the listening ports section of the LB? It must be in

[2015-08-06 16:07] #1746 closed

[2015-08-06 16:14] cloudnautique commented on #1748
Hmm... are you using the vbguest plugin? I'm surprised that it fails at this part.. I would expect it to copy and fail during the installation. :)

Can you try adding:
config.vbguest.auto_update = false

to the virtualbox provider config block starting at line 26 in the Vagrant file? We haven't gotten to the point where we support the VBoxGuest additions in RancherOS.

[2015-08-06 16:29] SeerUK commented on #1747
Here's how I configured it: https://www.dropbox.com/s/2kppe7kavfnliak/Screenshot%202015-08-06%2017.27.34.png?dl=0

Here's my docker-compose.yml:

[code]

I have manually entered the LB container and edited the HAProxy config to include the port in the host header, and it works instantly after restarting HAProxy then. The issue seems to be that the port is not included in the config file when it's

[2015-08-06 16:34] cloudnautique commented on #1745
@bfosberry, we saw this error when adding support for rsync and using OS X. The version in OS X is really ancient and doesn't support this configuration. We ended up not using the compression flags. My understanding is that its a client side error on the host machine.

[2015-08-06 17:06] bfosberry commented on #1745
That would make sense, I'll try removing all the rsync flags listed in the vagrant file

[2015-08-06 17:15] bfosberry commented on #1745
Hmm, no luck. I'm on Ubuntu also.

[2015-08-06 17:26] cloudnautique commented on #1745
arg, which Ubuntu release?

[2015-08-06 18:03] sangeethah commented on #1724
Tested with server version - v0.32.0-rc1

When I use  label to deploy containers using labels -  "io.rancher.container.hostname_override: container_name" , hostname of the container is set to the "stack_name_servicename_n" format.

I also see env variable HOSTNAME being set.

<img width="708" alt="screen shot 2015-08-06 at 10 59 30 am" src="https://cloud.githubusercontent.com/assets/4266958/911922

[2015-08-06 18:06] alena1108 commented on #1724
@sangeethah it has always been set. I've just checked on the branch that doesn't have my fix, whenever host name is being set for a container, it appears in env vars.

[2015-08-06 18:07] sangeethah commented on #1724
@alena1108 , Thanks for the confirmation.

I also see this env set to container_id when io.rancher.container.hostname_override=container_name label is not specified.

[2015-08-06 18:07] #1724 closed

[2015-08-06 19:15] alena1108 commented on #1747
@SeerUK @haswalt: @kaos already submitted PR for this issue

[2015-08-06 19:26] aruneli opened #1749 "Possible memory leak in Rancher server"
I have been running rancher server in a EC2 micro instance (1GB memory) for a while. Was repeatedly running some automated tests that add/delete hosts, services etc. Now, host addition is failing and on further triage, noticed that there are docker-machine defunct processes hanging around and memory usage is stuck at > 80% even when there are no user actions.

time="2015-08-06T17:48:17Z" level=err

[2015-08-06 19:29] aruneli opened #1750 "Add Service should be disabled when there is no valid host or introduce a timeout"
User is able to add a service even there is no valid host. In this case, wile starting container, it is stuck in "creating" for ever. Either "Add service" should be disabled in UI when there is no host or timeout at API/UI when a user is trying to add a service/container without a valid host being added first.

[2015-08-06 19:33] aruneli opened #1751 "Delete all hosts button in UI"
This is just an enhancement request. When there are multiple hosts, it would be easy if you have a "Delete all hosts" button that will delete and purge all the hosts.

[2015-08-06 19:54] deniseschannon commented on #1751
Duplicate of https://github.com/rancher/rancher/issues/342

We want to add bulk actions for hosts and containers.

[2015-08-06 19:54] #1751 closed

[2015-08-06 20:02] SeerUK commented on #1747
Perfect, I look forward to seeing this in a release! :)

[2015-08-06 20:23] sangeethah opened #1752 "When restart is set to "no", stopping and starting services , results in all the containers to remain in "stopped" state."
Server version - v0.32.0-rc1

Steps to reproduce the problem:
Create a service with  restart is set to "no" and scale to 3.
Stop service.
This results in all containers in the service to be stopped.
Start service.
All containers continue to remain in "stopped" state.

Expected behavior:
As part of service activation , all containers should get to "running" state.

Also scale up , does not result i

[2015-08-06 20:23] deniseschannon commented on #1750
This is similar to https://github.com/rancher/rancher/issues/249 except related to services.

[2015-08-06 20:39] sangeethah opened #1753 "When restart is set to "no", deleting containers does not trigger reconciliation of service."
When restart is set to "no", deleting containers does not trigger reconciliation of service.

Server version - v0.32.0-rc1

Create a service with  restart set to "no" and service scale set to 3.
Stop one of the containers.
Delete the stopped container.

This does not result in reconciliation of service to start a new container.

[2015-08-06 21:02] sangeethah commented on #1596
Tested with server version - v0.32.0-rc1

Tested with following service config where test3 has volumes from test2  and test2 has volumes from test4:

test4:
  restart: 'no'
  image: sangeetha/test4
test2:
  image: redis
  volumes_from:
  - test4
test3:
  labels:
    io.rancher.sidekicks: test2,test4
  image: sangeetha/test3
  volumes_from:
  - test2

When 1 container from test3 is deleted , corres

[2015-08-06 21:02] #1596 closed

[2015-08-06 22:38] sangeethah commented on #1694
Tested with build from master:

Configs generated for stacks that have lb-services linked to targets from other stacks  includes stack name/service name in the target labels:

[code]

[2015-08-06 22:38] #1694 closed

[2015-08-06 22:38] ibuildthecloud commented on #1737
I know this sounds like a silly question, but what happens if you do `docker rm -fv rancher-agent`?

[2015-08-07 00:47] sangeethah opened #1755 "" java.lang.NullPointerException: " seen logs during service activation."
Server version - v0.32.0-rc1

Following exception seen in logs  when trying to activate LB services:
LB service itself gets activated successfully.

[code]

[2015-08-07 00:59] sangeethah opened #1756 ""error installing docker: bash: line 0: type: docker: not found" - error seen intermittently when trying to add Digital ocean machine."
Server version - v0.32.0-rc1

"error installing docker: bash: line 0: type: docker: not found" - error seen when trying to add Digital Ocen machine.

The next attempt to add the machine succeeds.
[code]

[2015-08-07 01:12] sangeethah opened #1757 "When "scale up" is done repeatedly when service is still in "update-activating" state , service is not scaled to the scale set."
Server version - v0.32.0-rc1

Steps to reproduce the problem:
Use "scale up" option in UI repeatedly when service is still in "update-activating" state.

After few attempts , we are at a state where the number of instances in the service does not match ( is lesser than) the scale set.

[code]

[2015-08-07 06:15] phallguy opened #1758 "[rancher-dns] [rancher-compose] Support reverse dot notation for links to service in a different stack"
From rancher compose docs, the following creates an external link to db1 in the alldbs stack with the name mysql inside the wordpress container.

[code]

I propose that an external link to a different stack, that has not been given a custom name, use reverse dot notation for it's dns name within the container. For example

[code]

Should create a dns entry `console.etcd` within the wordpress conta

[2015-08-07 06:57] phallguy opened #1759 "[rancher-compose] Does not pull in environment values from host like docker-compose"
docker-compose will resolve an environment variable from the machine that executed the docker-compose command if the docker-compose.yml file does not provide a value. For example

[code]

Using the above file, docker-compose will look for an environment variable POSTGRES_PASSWORD from the current machine and include that in the environment of the container. This is useful to seed secrets into a co

[2015-08-07 09:38] martijngastkemper commented on #1729
I got the same problem with volumes. I tried to use ``volumes``, ``volumes_from`` and via the UI, but all three method didn't work. This is one of the use cases I tested:
[code]

Version information:
Rancher	v0.31.0
Cattle	v0.73.0
User Interface	v0.39.0
Rancher Compose	beta/latest

[2015-08-07 14:14] sangeethah commented on #1753
Tested with server version v0.32.0-rc2
When stopped containers are deleted with restart="no"  , service reconcile is triggered resulting in new instance being created.

[2015-08-07 14:14] #1753 closed

[2015-08-07 14:31] VogonogoV opened #1760 "Disable access control"
We are not using github and use our own authentication in front of Rancher. The docs state something about [disabling access control](http://docs.rancher.com/rancher/configuration/access-control/#disabling-access-control). Is this only possible after linking to github? And if so, does this also disable the "Access Control is not configured" bar? I would like to be able to disable it.

[2015-08-07 16:12] deniseschannon commented on #1760
Yes, it only refers to disabling after linking to github.

You can remove the "Access Control is not configured" bar by clicking on the "X" that is on the right hand side of the bar.

We are adding LDAP authentication as well as local authentication in the near future in case that interests you. https://github.com/rancher/rancher/issues/688  and https://github.com/rancher/rancher/issues/1687

[2015-08-07 16:56] deniseschannon commented on #1729
For `volumes_from`, you'll need to make sure to use the sidekick label. This ensures that the containers of the services are launched on the same host. http://docs.rancher.com/rancher/rancher-compose/#sidekicks Currently, there is no way to do `volumes_from` through the UI.

In your example, you'd need to add in a couple of things, but it works for me.

[code]

@martijngastkemper What version of r

[2015-08-07 17:55] alculquicondor commented on #1729
I'm using rancher-compose version 0.2.5
I downloaded it through the rancher UI.

El vie., 7 de ago. de 2015 a la(s) 11:56 a. m., Denise <
notifications@github.com> escribió:

[2015-08-07 18:18] sangeethah commented on #1312
Closing this issue. I have not seen this delay for sometime now.

[2015-08-07 18:18] #1312 closed

[2015-08-07 18:27] sangeethah commented on #1755
Server version - v0.32.0-rc2
java.lang.NullPointerException not seen in logs when activating LB services.

I see "2015-08-07 18:24:20,828 ERROR [:] [] [] [] [torService-3050] [.p.c.v.i.ConfigItemStatusManagerImpl] Failed update [haproxy] on [agent:67], exit code [1] output [nsenter: failed to execute /var/lib/cattle/events/config.update: No such file or directory " error in logs which is tracked i

[2015-08-07 18:27] #1755 closed

[2015-08-07 18:52] sangeethah commented on #1747
Tested with v0.32.0-rc2:

not host and host:sourceport acls get programmed for the frontend in haproxy
<img width="763" alt="screen shot 2015-08-07 at 11 28 22 am" src="https://cloud.githubusercontent.com/assets/4266958/9143333/859fb066-3cfa-11e5-9a88-fd9abdf269ed.png">

For this example:
LB service re directs traffic as expected when passing headers as "def" as well as "def:4000"

[2015-08-07 18:52] #1747 closed

[2015-08-07 18:56] martijngastkemper commented on #1729
@deniseschannon: After some testing I found the following things:

- I used rancher-compose 0.2.1. I upgraded to 0.2.5.
- Your example indeed does work, the problem is that the volume doesn't show up in the Rancher UI.
- When I change ``- /var/lib/mysql`` to ``- test-data:/var/lib/mysql``, create a folder ``test-data`` on the same level of docker-compose.yml and put a random file in it. I expect t

[2015-08-07 19:09] silviupanaite opened #1761 "load balancer ssl"
I'm trying to pass through 443 port through the load balancer to an nginx with ssl... it goes through http for some reason. I have setup the 443 as an tcp protocol in the load balancer.

Is this doable to pass through the load balancer ssl connections?

[2015-08-07 19:31] anapsix commented on #1608
@mryuha, I think it's not lying..
[code]

[2015-08-07 20:59] anapsix commented on #1608
grrr.. :disappointed: I can't even stop the agent containers without rebooting to test those ports..
getting bunch of these from the kernel
[code]
I just going to wipe it and try with Jessie..

[2015-08-07 21:41] deniseschannon commented on #1761
Currently, this isn't supported today, but it's a feature request. https://github.com/rancher/rancher/issues/1251

[2015-08-07 22:20] sangeethah commented on #1722
Tested with server version - v0.32.0-rc2

Tried to set up LB with the yml file provided and I do not see 2 default backends being created.There is only frontend is associated with only i backend.

[2015-08-07 22:40] sangeethah opened #1762 "No backends are associated with TCP frontend when there are host routing rules configured w/o specifying sourcePorts"
No backends are associated with TCP frontend when there are host routing rules configured for http frontends.

Server version - v0.32.0-rc2

Created LB rules with the tcp and http listening ports with the following configuration:
<img width="850" alt="screen shot 2015-08-07 at 3 37 44 pm" src="https://cloud.githubusercontent.com/assets/4266958/9147338/75fb076c-3d1a-11e5-808d-2246e9e5c861.png">

ha

[2015-08-07 22:48] sangeethah commented on #1762
Workaround for this issue is to have specific source port associated with the services.

[2015-08-08 00:02] sangeethah opened #1763 "No backends are associated with TCP frontend when targets are added with host routing rules."
Server version - V0.32.0-rc2
Steps to reproduce the problem:

Create Lb rule with TCP listeners and add targets having hots routing rules.
<img width="828" alt="screen shot 2015-08-07 at 4 58 11 pm" src="https://cloud.githubusercontent.com/assets/4266958/9148044/fdcb0f88-3d25-11e5-8327-9d3efedadf9d.png">

No backends are associated with the TCP frontend in this case.

<img width="750" alt="screen

[2015-08-08 00:29] sangeethah opened #1764 "rancher-compose.yml generated for LB has " config" appended to the name in " load_balancer_config" section."
Server version - V0.32.0-rc2

Create a LB service.
Use "View Config" option to view the generated rancher-compose.yml

Lb config generated for the LB service's name has "lb-2 config" .
lb-2:
  scale: 1
  load_balancer_config:
    description: lb-2
    name: lb-2 config

This is not causing any issue. But the name is stored as " lb-2 config" in load_balancer_config table. Is it better to not have a

[2015-08-08 00:48] gregory opened #1765 "ability to pass in user-data when adding hosts"
would be awesome to be able to pass in user-data for the cloud-config when adding new hosts.

[2015-08-08 00:51] sangeethah opened #1766 "Not able to access LB rules on port 2000."
Server version - v0.32.0-rc2

Create LB rule with listener port to 2000.
Ha proxy is configured as expected and port 2000 is also opened on the host.

But I get the following read error when trying to access the LB rule:

[code]

root@sangee32rc2-10acre-2:/home/sangeethahariharan1# iptables-save | grep 2000
-A CATTLE_PREROUTING -p tcp -m addrtype --dst-type LOCAL -m tcp --dport 2000 -j DNAT --to-d

[2015-08-08 03:03] sangeethah commented on #1408
Tested with v0.32.0-rc1.
I have not seen this issue when testing with rancher-server being up for couple of days. I have tried running tests with similar setups as before and am not seeing this issue anymore.

[2015-08-08 03:03] #1408 closed

[2015-08-08 03:11] will-chan commented on #1432
Jetty Upgraded

[2015-08-08 03:11] #1432 closed

[2015-08-08 03:23] vincent99 commented on #1765
The add host screen is essentially a frontend for `docker-machine`.  I do not see support for userdata in any of the major [drivers](https://github.com/docker/machine/tree/master/drivers).

[2015-08-08 03:41] vincent99 commented on #1760
How are you putting auth in front of Rancher?  You'll want to make sure the API is locked down, but that the host agents can still talk to it.

[2015-08-08 04:12] sangeethah commented on #1693
With Rancher-Compose v0.2.5 , we are able to do create LB services for services with same name across different stacks.

Following is the example rancher-compose.yml and docker-compoase.yml with which i am able to create LB services for services with same name across different stacks with host name routing:

``

lbweb:
  ports:
  - 7878:80
  restart: always
  external_links:
  - teststack2/web1:we

[2015-08-08 04:12] #1693 closed

[2015-08-08 11:00] demarant commented on #438
+1
I would love this feature with associated data volume transfer similar to what Flocker does.

[2015-08-08 12:10] silviupanaite opened #1767 "load balancer not in dns service discovery"
I added the balancer service to an nginx server and the dns is not resolving the LB name assigned.
LB is set to listen to internal port 80.
Nginx is set to decrypt traffic based on hostnames.

Rancher	v0.32.0
Cattle	v0.75.0
User Interface	v0.40.0
Rancher Compose	beta/latest

Cross stack service discovery is not working also...

[2015-08-08 12:49] silviupanaite commented on #1597
In version v.0.32 cross linking is not working for LB and stacks

[2015-08-08 16:54] flower-pot opened #1768 "[Load Balancer] basic auth"
I know that the load balancer used for the managed lb is HAProxy and HAProxy can do basic auth. Although maybe not the primary goal of a load balancer, do you think it makes sense to add it to be configured through rancher?

[2015-08-08 18:51] gregory commented on #1765
hmm i see... makes sens. Could you think of any alternative solution?

[2015-08-08 21:21] deniseschannon commented on #1729
@martijngastkemper I understand. The UI is missing the volume, but the volume is actually mounted in the container. That's already logged as an issue: https://github.com/rancher/rancher/issues/1595

Since you're launching a service into Rancher, the local folder is not found on the host that the container of the service is launched on. Remember that the service will launch the containers on the ho

[2015-08-08 22:46] vincent99 commented on #1765
You can replicate what docker-machine does by using your provider's native API or CLI to provision the machine with your user data.  Then have it run the appropriate command to install Docker (if not already in your OS image), and finally run the command from the "custom" section of the Rancher Add Host screen to have it register into the Rancher server.

We are working on adding an ec2-metadata-s

[2015-08-09 04:06] sangeethah opened #1769 "java.lang.NullPointerException seen when removing LB service which is stuck in "removing" state."
Rancher Server - built from master Aug 8.

Removal of one of the LB services is stuck in "removing" state with the following exception seen in rancher-server logs:

[code]

mysql> select * from service where id=2234;
+------+---------------+------------+---------------------+--------------------------------------+-------------+----------+---------------------+---------+-------------+--------------

[2015-08-09 05:33] phallguy commented on #1094
I was about to post a similar request but I wonder though if this is a good idea. I would think that for production ops, we would want to be pretty explicit about the version of the container that we use. So using the explicit release version for the container we're interested should be enough to get the latest image on all the hosts.

It would certainly be convenient to have some sort of universa

[2015-08-09 07:46] burhan commented on #1737
Well obviously I get this:

    Error response from daemon: no such id: rancher-agent

As there is no such `rancher-agent` container running.

[2015-08-09 16:30] stephenlawrence commented on #1094
Here is a use-case for this:

As I am building my rancher stack and testing out each container I run into a problem with one of my docker builds for a container. I make a change to the Dockerfile, re-build it, push it to our registry and re-create it in rancher using the same image.

Now, I could just create a new tag every time I make a change, but since this is still experimental I am re-buildin

[2015-08-09 18:09] fturiot opened #1770 "rancher provisionning openstack"
Hi,
Why openstack provisionning not appear in choice ?

[2015-08-09 18:46] portokallidis commented on #1698
Still no luck but i am closing the issue
I found a great blog post (http://rancher.com/virtual-host-routing-using-rancher-load-balancer/) which describes best my situation but mine is with non-80 ports and maybe run into the same problem described here (http://forums.rancher.com/t/load-balancer-for-non-80-ports/214)

[2015-08-09 18:46] #1698 closed

[2015-08-09 19:23] phallguy commented on #1094
Yep, that's the exact same scenario that drove me to this PR. I wanted to iterate on a container without having to tag and modify the build scripts each time I made a small change. I think it would be nice to have some sort of command that I could tell rancher to pull down the latest image. I'm just raising the question that if this is easy to do, that it might encourage less than best-practice fr

[2015-08-09 20:13] kaos commented on #1747
yay :) :+1:

[2015-08-09 22:34] bilal opened #1771 "DNS lookup fails for all containers launched with rancher"
Containers are not able to resolve hosts for linked services and all DNS lookups are failing with Rancher 0.32 and rancher agent instance v0.3.1 (rancher/agent-instance:v0.3.1) and rancher agent v0.7.11 (rancher/agent:v0.7.11).

*Steps to reproduce:*

 Launch any container with Rancher server 0.32. Execute shell and try pinging an external host (e.g., google.com) or a linked service. The rancher-a

[2015-08-10 03:19] bilal commented on #1771
After further investigation it seems like the issue is tied to the version of docker on the client hosts and not to the rancher version. I run can reproduce the problem with docker version 1.6.2 but I'm unable to reproduce it with docker version 1.7.1.

[2015-08-10 04:32] ibuildthecloud commented on #1771
@bilal Thanks for pointing this out.  We do all our testing on 1.7.x at the moment so I don't doubt that we could have introduced a regression in 1.6.

[2015-08-10 06:25] silviupanaite commented on #1761
O.K., thank you.

[2015-08-10 07:43] VogonogoV commented on #1760
Yes this works until you refresh the page, then the bar is there again. As a temporary solution I remove the bar using an ad blocker.

We already have authentication for all our internal services.

Rancher, and the hosts added to Rancher, are all in the same network. So the agents connect via a local network. External access to Rancher is via nginx. And nginx configured with [oauth2-proxy](https:/

[2015-08-10 11:44] silviupanaite commented on #1771
This problem is replicated Docker version 1.7.0, all new containers that I have linked are not working in DNS lookup.
Old containers that are running are not affected.

[2015-08-10 11:45] silviupanaite commented on #1767
Duplicate, view https://github.com/rancher/rancher/issues/1771

[2015-08-10 14:58] alena1108 commented on #1771
@silviupanaite could you please share:

1) The details of your stack - exported docker-compose.yml would be helpful.
2) The output of answers.json file from the network agent container running on the host having problems. The path to the file is: /var/lib/cattle/etc/cattle/dns/answers.json
3) If you see any errors in agent log (/var/log/rancher/agent.log), could you also include it to the bug

[2015-08-10 15:00] alena1108 commented on #1769
Happens because in the lb service cleanup, we don't check if the corresponding LB is already removed, while referencing it.

[2015-08-10 16:03] #1761 closed

[2015-08-10 16:32] alena1108 commented on #1767
@silviupanaite could you please share the details of your LB setup - exported docker-compose.yml of your stack. Just want to make sure that there is nothing misconfigured on the LB side, so reopening this bug.

[2015-08-10 16:51] deniseschannon commented on #1597
@silviupanaite When you say it's not working, what do you mean? It might be related to the issues you are having with https://github.com/rancher/rancher/issues/1771

[2015-08-10 17:21] cloudnautique opened #1772 "Update docs to show that binlog_format for MySQL/MariaDB need to be set to row"
When starting rancher/server against a database server with the default mysql configuration, the user will see a stack trace.

The setting can be configured in the my.cnf file by adding the line `binlog_format = row` to the server section. Or it can be set at server startup time with the command line flag `--binlog_format=row`.

[2015-08-10 17:53] vincent99 commented on #1772
Seems like we should explicitly set this on our connections rather than require non-standard configuration options that affect the whole database.

[2015-08-10 18:07] cloudnautique commented on #1772
/cc @cjellick @alena1108 @sonchang

[2015-08-10 18:35] alena1108 opened #1773 "Healthchecks for external services"
As external service can act as a LB service target, we should support healtchecks for this type of service too. Otherwise any external ip/port that can't be reached, won't be excluded from the list of healthy Lb targets.

@will-chan @ibuildthecloud

[2015-08-10 18:42] wenlock opened #1774 "[Host-Proxy] are there any instructions for starting up with ssl?"
Hi, are there any instructions for setting up the host proxy with an ssl cert?

[2015-08-10 18:45] alena1108 commented on #1772
@cloudnautique what is the reason from switching from default to row format? Would this setting be important to setups using DB replications, or standalone as well? Looks like it can be costly performance wise.

[2015-08-10 18:53] cloudnautique commented on #1772
The cattle code is making DB calls that use READ COMMITTED and/or READ UNCOMMITTED which requires row-based logging.

The Issue is very easy to reproduce, and dumps out a stack trace

[code]

It should result in a nice stack trace :)

[2015-08-10 19:47] vincent99 commented on #1774
You probably don't want the host-proxy package anymore... Current versions of Rancher automatically do multiplexing through the server container, browser --> server <-- host agent.

SSL configuration of Rancher in general is in http://docs.rancher.com/rancher/installing-rancher/installing-server/basic-ssl-config/

[2015-08-10 19:50] wenlock commented on #1774
@vincent99 thanks for the info, this looked like it would solve my problem for this error I get on the client side in console output of the browser

WebSocket connection to 'ws://<rancher server>:8080/v1/subscribe?eventNames=resource.change&include=hosts&include=instances&include=instance&include=loadBalancerConfig&include=loadBalancerTargets&include=loadBalancerListeners&include=instanceLinks&inc

[2015-08-10 19:50] neuhausler opened #1775 "[rancher-mesos-executor]"
executor.go is importing "github.com/rancherio/rancher-mesos-executor/orchestrator", which can't be resolved. I guess it should be rancher instead of rancherio?

[2015-08-10 20:04] vincent99 commented on #1774
If properly configured the websocket connections for subscribe (automatic updating of the UI) and host-specific stuff (stats, logs, shell) are to the same origin (protocol, host, port) as the API and the UI.  So they should "just work" in ~v0.28+ if you can load the page in the first place*.

You can run rancher/server on port 80 by just changing the `docker run` command, and/or add SSL on top wit

[2015-08-10 20:24] deniseschannon commented on #1775
Github is redirecting any rancherio to rancher. But if I try to find the page under rancher ,it's a 404.

@wlan0 Can you take a look?

[2015-08-10 21:01] vincent99 commented on #1775
All the code should be updated to use `rancher` instead of `rancherio`.  This particular repo was created after we switched the org name so there is no redirect, and the redirect shouldn't be relied on anyway.

It's a golang import, so the /orchestrator part is not a literal URL but the directory once the code is pulled down. https://github.com/rancher/rancher-mesos-executor/tree/master/orchestrat

[2015-08-10 22:22] bfosberry commented on #1745
Oops, somehow that got truncated:

[code]

[2015-08-10 23:54] silviupanaite commented on #1771
connector-fullcontact:
  restart: always
  environment:
    NODE_ENV: beta
    REDISCLOUD_URL: redis://none:none@redis-outboxpro:6379
  tty: true
  cpu_shares: 512
  image: docker.unifiedinbox.com:4433/outboxpro/nodejs
  links:
  - redis-outboxpro:redis-outboxpro
  volumes:
  - /connector-fullcontact/data/ue-connector-fullcontact:/usr/share/node/app
  - /connector-fullcontact/logs:/var/log/node

[2015-08-11 00:23] alena1108 commented on #1771
@silviupanaite Absence of answers.json file is very suspicious, especially knowing that the containers from the previous version continue to run w/o any problem. Are these "successful" containers running on the same host with the services container that fail to resolve DNS? If yes, could you double check that you've tried to pull the "answers.json" file from the container created from "rancher/age

[2015-08-11 04:26] MhdAli commented on #1702
I had the same issue today and after I flushed `CATTLE_PREROUTING` I could've access to the rancher container.

I used to have below rules before flushing:
[code]

The first rule is the one causing the issue, I'm not sure why this rule survive rancher os restarting.
My situation is a bit different, there was power down yesterday on my server it cause the server to shutdown, but when I started agai

[2015-08-11 05:00] sangeethah opened #1776 "" java.lang.OutOfMemoryError: Java heap space" encountered on rancher server and server stops responding."
Server version - Build from master - Aug 10

Not able to load UI . I saw the following error message once - "Error
StateMismatch
Authorization state did not match, please try again."

After this , i see the Ui is not loading , it just hangs waiting for server to respond:

There is lot of deletion of service and containers that are in progress at this point.

Following exception seen in server logs

[2015-08-11 07:03] lucacri commented on #1094
+1 for this too. I'm using private repositories and if i tag an image as "latest", I'd assume that rancher would check if the image is updated every time a container is created. Without it, I'd have to tag every image during CI builds, and I guess i'd have to change the rancher-compose.yml file (this is getting dirty) to reference the new tag.

Without the "latest" check, automating pushes and con

[2015-08-11 07:23] kaos opened #1777 "Db transaction deadlock on clean install of v0.32.0, external mariadb"
Creating issue per request by @deniseschannon
Docs issue is #1772.
Complete start logs on pastebin: http://pastebin.com/7mi2U11i

[2015-08-11 07:26] silviupanaite commented on #1771
Yes I hadn't pulled the right container, also these are container running on the same host, tried a different host, got the same problem.
{
    "default": {
        "recurse": [
            "213.186.33.99"
        ]
    },
    "10.42.154.9": {
        "a": {
		"redis.": {"answer": ["10.42.154.9"]},
		"redis.rancher.internal.": {"answer": ["10.42.154.9"]}
    	}

    },

    "10.42.129.161": {

[2015-08-11 07:29] kaos commented on #1772
:+1: for the suggestion by @vincent99 :)

[2015-08-11 07:51] vincent99 commented on #1094
While I expect we'll implement an optional way to do this, and can see the convenience value for development, it is definitely a concern that this is a terrible thing to encourage for production use.

Using `latest` means (short of comparing sha256-sums) you're going to have no idea what version is deployed on a particular container, whether they all match, or have an easy way to go back to the pr

[2015-08-11 08:30] silviupanaite commented on #1597
Yes it is and sorry for the off topic.

[2015-08-11 08:32] silviupanaite commented on #1767
It's related to this issue [#1771]( https://github.com/rancher/rancher/issues/1771)

[2015-08-11 08:46] silviupanaite commented on #1771
this is the network agent errors:
7/18/2015 1:09:03 PM[config.sh:122] rm /var/lib/cattle/download.Je0ZL6v/download
7/18/2015 1:09:03 PM[[[config.sh:124] ls -1 /var/lib/cattle/download.Je0ZL6v
7/18/2015 1:09:03 PM[[config.sh:124] basename iptables-2-57d6c642b0fe838d32afc550f929c743365f9bfa3f31850fe73e4149e76c1f77
7/18/2015 1:09:03 PM[config.sh:124] local dir=iptables-2-57d6c642b0fe838d32afc550f929c

[2015-08-11 16:59] alena1108 commented on #1771
@silviupanaite I don't see any errors in the agent.log file. But I also don't see any entry for connector-fullcontact service (the one your exported yml file lists) in the answers.json file. Is this file is taken from the same host where the service's instances are running? It should look this way: on the host, where there is at least one instance of connector-fullcontact is running, answers.json

[2015-08-11 17:10] alena1108 commented on #1766
Sangeetha, I can't see this issue on my setup. Can you check yours to see what other apps might be listening on port 2000 on your host?

[2015-08-11 17:27] oomathias commented on #1702
Yep, we have the same problem. I was actually testing some chaos scenarios (random reboot/shutdown) with Rancher.

Can we have more info about this rule? Is it supposed to be there?

[2015-08-11 17:48] sangeethah opened #1778 "Cloning a service that was created with no restart policy results in cloned service having "restartPolicy" set to "None""
Server version - V.0.32.0-rc2

Service -S1 started with no restart policy set ( Done using API - UI forces restart policy to be set).
Clone this service.

Cloned service - S2 has restart policy set to "None".

When containers in S1 are stopped , service reconcile starts them.
But when container in S2 are stopped , they continue to be in "stopped" state since it was started with restart policy set

[2015-08-11 18:29] lucacri commented on #1094
@vincent99 The issue is that as of now, with rancher-compose I can't specify a image version to override the one in the yaml file, so I'd have to create a bash script that creates a new docker-compose.yml every time i want to make an updated deploy.

If it helps, the people of Tutum suggest using versioning (i agree that it's a more secure/safe way), but in case the service uses a image:latest, th

[2015-08-11 18:38] bilal opened #1779 "Adding Digital Ocean host fails"
Adding Digital Ocean hosts fails with error "digital ocean requires a valid region".

**Rancher Info:**

Rancher	v0.32.0
Cattle	v0.75.0
User Interface	v0.40.0
Rancher Compose	beta/latest

**Digital Ocean Host options:**

Image: Ubuntu-14-04-x64
Size: 1gb
Region: New York 3

![image](https://cloud.githubusercontent.com/assets/60473/9206546/843ca988-4036-11e5-9e89-6065cd367e28.png)

[2015-08-11 19:53] silviupanaite commented on #1771
The answers.json looks good, but dns is not resolving, got empty response, also the ip is pingable.

[2015-08-11 20:21] alena1108 commented on #1771
@silviupanaite just to double check. If your container has ip address 10.42.35.122, answers.json file has this record:

"10.42.35.122": {
    "a": {
    "mongodb.": {"answer": ["10.42.171.76"]},
    "mongodb.rancher.internal.": {"answer": ["10.42.171.76"]},
    "daemon.": {"answer": ["10.42.97.166"]},
    "daemon.rancher.internal.": {"answer": ["10.42.97.166"]},
    "apache-php.": {"answer": ["10.

[2015-08-11 20:23] MhdAli commented on #1702
I notice today that even after I flushed the rules they return back so it seems that cattle is creating them again, I wanted to check more deep but I get busy with other stuff.

However I'll try to check more tomorrow and I'll keep you guys posted.

[2015-08-11 20:27] vincent99 commented on #1778
@alena1108 this is why null is weird for this field.  I think the API should convert the null and store no/yes on create.  It's never really null, it's just a value that triggers a default value.

[2015-08-11 20:42] silviupanaite commented on #1771
Restarting the network-agent fixed the issue. Thank you

[2015-08-11 20:51] vincent99 commented on #1094
We will have support for templates/variable substitution in the compose.yml file soon: https://github.com/rancher/rancher/issues/1272

Right, I meant critical path of "creating" a container, not "[re]starting".  Do they special-case only "latest"?  That seems bizarre, people use things like "beta" too.  Maybe something like not matching  `/^v?[0-9.]+$/` would be more reasonable but I still don't l

[2015-08-11 21:05] vincent99 commented on #1779
@bilal can you try this again?  The Rancher UI is pretty much just a fronted for `docker-machine`, and that message comes from it when the region passed in does not match a list of regions they pulled from their API (https://github.com/docker/machine/blob/master/drivers/digitalocean/digitalocean.go#L135).  So I'm guessing the API response did not contain `nyc3` for you for some reason, and that ma

[2015-08-11 21:41] alena1108 commented on #1771
@silviupanaite thank you for the quick follow ups. Please update this bug if the problem ever happens again on any of your hosts.

Although its restart fixed the problem, the root cause of the bug - network agent not responding on the DNS requests after the upgrade - is not clear. In case it happens for other users again, lets keep this bug open for a some time, @deniseschannon. Plus it makes a go

[2015-08-11 22:02] arduanov commented on #1745
Debian 8.1 same error

[2015-08-11 22:40] ibuildthecloud commented on #1772
I believe is it most likely misconfiguration on the application side that we are using READ_COMMITTED at all.  I will investigate switching to REPEATABLE READ.

[2015-08-11 23:06] cloudnautique commented on #1745
@arduanov @bfosberry have you modified the vagrantfile? can you paste the rsync section you are using?

Thanks.

[2015-08-12 01:14] bfosberry commented on #1745
It fails with no modifications

On Tue, Aug 11, 2015, 6:06 PM Bill Maxwell <notifications@github.com> wrote:

[2015-08-12 06:49] rmwpl commented on #1702
Another thing we found with @MhdAli is that the data stored in "instance" DB table isn't updated - especially primaryIpAddress and IPAddress columns. But changing it to proper values doesn't help with anything.
Somehow the old IP is being used for iptables even when there's different one in docker inspect and in the DB.
Still trying to figure out, how does rancher even know about the old IP...

[2015-08-12 09:07] rmwpl commented on #1702
So...
We have the old IP address in `ip_address` table;
`ip_address_nic_map` maps this ip address to a network interface;
`nic` maps this network interface to an instance;
`instance.name` of the mapped instance is 'rancher-server'.

[2015-08-12 09:10] rmwpl commented on #1702
After changing the problematic `ip_address` entry everything works as it should!

[2015-08-12 12:33] epelc opened #1780 "Edit Environment causes uncaught type error"
When I try to change the name of an environment after clicking edit I get the following error in chrome `44.0.2403.130 m (64-bit)` on Windows 10

[code]

[2015-08-12 13:04] Telmo commented on #1728
:+1:

#924 is specifically for the Server, our issue is running agents in networks that because of their security level are not allowed to access the internet, even through proxies.

[2015-08-12 16:31] aruneli opened #1781 "Rancher agent containers need to be hidden in UI when creating hosts running docker 1.8 on server that has been upgraded"
While upgrading server to latest version (with fix), these random containers should not be seen from UI/API.

Docker version - 1.8
Rancher version - 0.32.0

![image](https://cloud.githubusercontent.com/assets/7720752/9230013/cf245902-40d4-11e5-9178-91d6cc2889e7.png)

[2015-08-12 16:39] rcarmo commented on #1401
Do you think it would be possible to add entries for individual containers that are not part of services/links? It would make it a lot easier to set up some services (even the GlusterFS/PXC examples you have on your site would benefit from that)

[2015-08-12 17:13] sangeethah commented on #1372
This same issue is seen with LB services.
We are allowed to activate multiple LB services with same source port with global scheduling.

This results in multiple LB agent with the same ports being configured on the same host.
Only one LB service is functional.

We should be able to prevent launching LB Agents on hosts where there is a port conflict.

[2015-08-12 17:18] wenlock commented on #90
@vincent99 we're seeing the same issue as well in our end.

[2015-08-12 17:47] deniseschannon commented on #1278
generic snapshot and backup framework done
add packaging (PR)

[2015-08-12 17:47] #1265 closed

[2015-08-12 21:04] sangeethah opened #1782 "Not able to enable authentication on a rancher-server with no internet access and is behind a proxy."
Server version - V0.32.0

Setup:

Rancher server was installed in a box with no internet access and that is behind a proxy.

Following 2 environment variables were passed when starting the rancher server: https_proxy,http_proxy

Not able to enable github authentication.Even after attempting to enable access control , it is still disabled. No error message is presented to the user.

Following excep

[2015-08-12 21:05] deniseschannon commented on #1780
This is a duplicate of https://github.com/rancher/rancher/issues/1590. The workaround is to click on the name of the environment and then Edit from that view. Instead of clicking on the edit from the drop down of the "Manage Environments" page.

[2015-08-12 21:05] #1780 closed

[2015-08-12 21:10] deniseschannon commented on #1781
In order to test, you'll need to spin up a new setup to see that they don't show up. We don't have a cleanup for the containers once they are in Rancher.

[2015-08-12 21:14] ibuildthecloud commented on #1781
This is an issue with 1.8.  In 1.7 and earlier these containers were ignored but 1.8 introduced a breaking change.  We have a patch for it in this weeks build.

[2015-08-12 21:49] alena1108 commented on #1764
@sangeethah the name having " config" in it is the name passed to the createLoadBalancerService.loadBalancerConfig.name field. If no name is passed, Rancher code generates one (and it doesn't have spaces).

 I've tested from the UI, the UI passes the config name with the space. @sangeethah double check if Rancher compose does the same. And if you are not ok with this name format, pls reassign the

[2015-08-12 21:51] sangeethah opened #1783 "Not able to add hosts on rancher-server with no internet access and is behind a proxy."
Server version - V0.32.0

Setup:
Rancher server was installed in a box with no internet access and that is behind a proxy.

Following 2 environment variables were passed when starting the rancher server: https_proxy,http_proxy

Not able to add Digital Ocean host.
Host is stuck in "Creating Digital Ocean Droplet"  forever.
Digital Ocean machine is actually created but rancher server is not able to

[2015-08-12 22:25] alena1108 commented on #1669
A service with host level network will get registered to rancher dns only when label "io.rancher.network.dns"=true is set for it.

[2015-08-12 22:58] wenlock commented on #90
As an aside, we also have the option at our company to authenticate with github enterprise, which is private auth and corporate creds anyway, so this is better for us.  This avoided the need for an external github connection over proxy, so i no longer get this issue.  However, if you have a private github instance with a custom ssl cert, then you'll get another issue that we solved in the followin

[2015-08-12 23:08] sangeethah opened #1784 "When creating services with network mode set to "host", containers should not be placed on hosts where the exposed ports already taken by other containers."
Server version - V0.32.0

Steps to reproduce the problem:

Setup has 3 hosts.

Scenario 1:
Create a service - S1 with image that exposes some port say 80 with network set to "host" with scale 1.

Create another service with the same image with network set to "host" with scale 3.
One of the instances that gets placed in the same host as the container from S1 , keeps restarting.

Scenario 2:
Create

[2015-08-12 23:20] sangeethah opened #1785 "When Services get deployed with network mode host , ipaddress of the container is shown as "None"."
Server version - V0.32.0

When Services get deployed with network mode host ,  ip address of the container is shown as "None".
We should be able to show the ip address of the container as the host ip address or we should be able to show the network mode of the container (from which we are able to deduce the ip address of the container)

[2015-08-13 00:11] #1397 closed

[2015-08-13 01:20] Kelindar commented on #1669
@alena1108 Sounds good, I'll make sure to try this in the next release.

[2015-08-13 01:47] epelc opened #1786 "Add -d(daemon) option to create container interface"
The web interface doesn't seem to have an option for `-d` when creating a container. Perhaps it'd also be a good idea to allow adding custom flags for when things like this aren't added yet?

[2015-08-13 02:35] vincent99 commented on #1786
`-d` is "detach" in `docker run`, to connect stdin/out/err to the console you're running the command in.  This has no meaning in the Remote API or Rancher, it's always "detached".

[2015-08-13 03:44] alena1108 commented on #1669
@Kelindar corresponding PR is still in review - https://github.com/rancher/cattle/pull/727, but we do aim to include it to the next release

[2015-08-13 13:00] lalinsky commented on #1745
Notice that it fails when mounting /vagrant, not /opt/rancher, so the existing rsync options from Vagrantfile do not apply there. Because there are not VirtualBox Guest Additions in the image, the standard VirtualBox shared folder method can't be used, so it defaults to rsync.

One possible fix is adding this line to the Vagrantfile:

    node.vm.synced_folder ".", "/vagrant", disabled: true

I do

[2015-08-13 13:04] lalinsky commented on #1745
Oh, I just realized I was actually using https://github.com/rancher/os-vagrant not the Vagrant file from here, but it's the same problem.

[2015-08-13 13:28] bfosberry commented on #1745
I suspect this isn't a rancher specific issue, but rather a virtualbox/vagrant/os issue. Can we use something other than rsync? I've had success with that in the past

[2015-08-13 13:30] lalinsky commented on #1745
One option is to add virtualbox guest additions to the vagrant image.

[2015-08-13 14:00] ndarilek opened #1787 "Wildcard host matches in load balancer"
Not sure if this is supported, apologies if I've missed it. I'd like to set up a wildcard host match in a Rancher load balancer.

Since (I think) the load balancer uses HAProxy, I wonder if it might be worth adding a type setting to domain and path matches? Or perhaps it'd be enough just to add it for hosts? "Exact" and "Ends with" are the only use cases I can think of, and those only for hosts.

[2015-08-13 17:17] kpelt commented on #1702
This just happened to me.  Grrr.  Rebooted host and rancher mgmt server is toast.  Mine is showing this:

MASQUERADE  tcp  --  172.17.0.3           172.17.0.3           tcp dpt:8080
DNAT       tcp  --  0.0.0.0/0            0.0.0.0/0            ADDRTYPE match dst-type LOCAL tcp dpt:8080 to:172.17.0.1:8080
DNAT       tcp  --  0.0.0.0/0            0.0.0.0/0            tcp dpt:8080 to:172.17.0.3:8080

[2015-08-13 17:21] MhdAli commented on #1702
it happened to me every time I restarted `rancher-server` container manually, I didn't try restarting it from the UI though.

However, can you check the container IP? is it `172.17.0.3`?

[2015-08-13 17:22] kpelt commented on #1702
Yes, mine is 172.17.0.3.  For some reason that 172.17.0.1 is showing up when running <code>iptables -L -n -t nat | grep 8080</code>

[2015-08-13 17:23] sangeethah commented on #1776
I am also seeing following stack traces in the logs:
Many of them I see happen multiple times . One of these exceptions seen here may be leading to other ones:

[code]

[2015-08-13 17:25] alena1108 commented on #1787
@ndarilek today rancher uses "equals" for host rules and "starts with" for the path. Its a good idea to enhance it with custom qualifiers.

@deniseschannon - marking this ticket as an enhancement request. The fix is not trivial as it would require rancher-compose syntax change for port labels.

[2015-08-13 17:27] MhdAli commented on #1702
if you flush `CATTLE_PREROUTING` chain it'll help, for few minuets only, because it seems there is something that update it again from the database, I believe it's the network container.

[2015-08-13 17:31] kpelt commented on #1702
Has anyone determined if this is just a bug or possibly the way we are running our setup?  Does the agent have anything to do with issues with the mgmt server running on the same host.  Like you I installed the agent with the CATTLE_AGENT_IP=X.X.X.X on that particular host.

[2015-08-13 17:35] sangeethah opened #1788 "When services are deployed with network mode set to "hostanit-affnity on container"

[2015-08-13 17:51] sangeethah opened #1789 "When services are deployed with network mode set to "host" , anti-affinity scheduling on containers should be applied automatically."
When container of a  service with network mode set to "host" ends up on the same host , they keep restarting since the ports used by application is already taken.

Following errors seen when the containers get restarted:

[code]

To prevent such failures from happening , we should be able to  use anti-affinity scheduling on containers automatically when service has network mode set to "host"

[2015-08-13 17:52] #1788 closed

[2015-08-13 17:52] cjellick commented on #1702
@kpelt It is definitely caused by the agent and the server being on the same host. CATTLE_PREROUTING is created by the agent to wire up our networking solutoin.

I'll take some more time today to attempt to reproduce.

[2015-08-13 17:57] kpelt commented on #1702
Ok, good to know.  I am going to keep my mgmt server on its own host for now so I can continue working on the glusterfs, percona and wordpress setup you guys did as I am doing a POC to introduce this technology to my company.

[2015-08-13 17:58] cjellick commented on #1702
Awesome! Will keep everyone updated on this thread.

[2015-08-13 18:02] anapsix commented on #98
@cloudnautique `-e CATTLE_BOOTSTRAP_REQUIRED_IMAGE=<yourimage>` doesn't work..
it's reflected in the UI, but then `rancher/agent-update` kicks in and launches official `rancher/agent` and it all spins indefinitely unable to start..

[2015-08-13 18:18] fsunaval commented on #1366
Has this capability been provided in the latest release ?  (Increase the command-timeout value)

[2015-08-13 18:21] ebr commented on #1370
+1 - in the same situation right now. A host was previously added to the server; I removed the agent from the host, and purged it from the server. now I'm unable to join this host to the server again. The error messaging is identical to @feliksik's

[2015-08-13 19:08] MhdAli commented on #1702
@cjellick Who's responsible of updating `CATTEL_PREROUTING` chain?

[2015-08-13 19:26] cjellick commented on #1702
##### Steps to reproduce:
1. docker run rancher/server as normal on an ec2 host
2. docker run rancher/agent as normal
3. deploy a container via rancher a map a port
4. restart rancher server
result:
rancher becomes unavailable on the public IP

##### Cause:
- When rancher-server is restarted, it gets a new docker IP. Typically when a container is restarted, rancher detects that and updates the IP

[2015-08-13 19:27] cjellick commented on #1702
@MhdAli does the above synopsis answer your question?

[2015-08-13 19:28] anapsix commented on #1608
Well.. installed Jessie, Docker and Rancher on top and same issue..
When two container are running on the same host - all is good, when they are on different hosts, no pings going through.

[2015-08-13 19:29] fsunaval opened #1790 "Increase command-timeout value"
I've seen the threads saying that the "command-timeout" value for the curl scripts in the ranch client is too low.  Has the fix been committed to allow adjustable command-timeout for the scripts ?

[2015-08-13 19:54] anapsix commented on #1608
I've shut down the Agents and trying to confirm 500/UDP and 4500/UDP connectivity to no avail.
I've flushed iptables rules with 'iptables -F'..

nick:
[code]

matt:
[code]

and nothing.. sending some text from nick to nick works :(
so.. cleary, rancher network wouldn't work when I cannot even run `nc` ping between the hosts.. except for, I have no idea why it won't work..

[2015-08-13 20:09] kpelt commented on #1702
This sounds good to me.  When can we expect the next release?

[2015-08-13 20:11] cjellick commented on #1702
We release weekly. This week's release won't have ithe fix, but we'll try to get it scheduled into next week's release.

[2015-08-13 20:17] deniseschannon commented on #1702
@kpelt We aim to release weekly. If it doesn't pass our QA, then we sometimes skip a week.

[2015-08-13 20:20] anapsix commented on #1608
hmm.. on nick:
[code]

on matt:
[code]

[2015-08-13 20:20] Kelindar commented on #1669
@alena1108 Cool, no rush.

Just leaving a suggestion here, instead of a simple flag for the label, would it be possible to specify the interface? Something like `io.rancher.container.dns="docker0"`, `io.rancher.container.dns="eth0"` or even a url, for example `io.rancher.container.dns="http://ipv4.icanhazip.com"` would simply issue an `HTTP GET` on the specified url and get the external IP address

[2015-08-13 20:27] alena1108 commented on #1669
@Kelindar unfortunately its not how its implemented in the first run. The ip address of the instance would always be the host ip specified in "CATTLE_AGENT_IP" during the host registration (as per comments in http://forums.rancher.com/t/service-discovery-of-containers-with-host-networking/155). And today label "io.rancher.container.dns" more stands for "user internal rancher dns", not the ip addre

[2015-08-13 20:49] kpelt commented on #1702
Thanks for the information.

[2015-08-13 21:08] sangeethah commented on #1766
This issue is reproducile in GCE instances which were added custom host as well as adding "Digital Ocean"

[2015-08-13 21:22] alena1108 commented on #1669
@sangeethah the fix is in master

[2015-08-13 21:25] sangeethah commented on #1546
Tested with server version - v0.32.0
When service is started with Auto restart policy set to "None" , when container gets to stopped state, it continues to remain in "Stopped" state. There is no attempt made to restart the container.

[2015-08-13 21:25] #1546 closed

[2015-08-13 22:24] cjellick opened #1791 "New "default" networkMode not respected by native docker integration"
WIth docker 1.8, if you don't specify a networking mode, "default" is set. In 1.7, it was simply set to "bridged."

[2015-08-13 22:37] vincent99 commented on #1608
@anapsix does `nc` on other ports (e.g. 80 or 12345) work?  What kind of network are they on? Are `nick` and `matt` VMs (on the same host?), bare metal, etc?

Consumer home routers sometimes have IPSec config options for pass through and such, maybe that's poorly implemented and mangles IPSec that is purely within the network?

[2015-08-13 22:37] cjellick commented on #1791
Edit: I think in 1.7, the networkMode of the inspect would have been blank/null, not "bridged"

[2015-08-13 22:52] yasker commented on #1766
I've taken a look at this issue. The conclusion is Comcast(our internet vendor) blocks (interferes in fact) the port 2000.

1. Same exactly rule works fine with port 2001.
2. tcpdump shows the TCP handshake established, but no http packets passed through after that.
3. Access the port from inside GCE instance works. I've noticed that the external IP used by GCE is not binding(by ip addr) on the sa

[2015-08-13 22:53] yasker commented on #1766
According to what I found, it's not an issue for our product. Close it.

[2015-08-13 22:53] #1766 closed

[2015-08-13 23:58] anapsix commented on #1608
What makes it weird @vincent99, is that both hosts are physical SuperMicro based servers and are able to communicate on alternative UDP or TCP ports. In fact at some point I was able to have a successful nc test over 4500/UDP. All other servers in the rack pass 4500/UDP test just fine.
Both servers are connected to datacenter grade Cumulus switch with network interfaces connected to the ports on t

[2015-08-14 00:47] sangeethah opened #1792 "When service is linked to service alias with target services having network mode set to host , dns resolution points incorrectly to managed ipaddress of the targets which are not reachable."
Server version - Build from master - Aug 13

Steps to reproduce the problem:

Create service test1 and test2 with network mode set to "host" and label - io.rancher.container.dns:true
Create service alias - S1 with targets test1 and test2.
Create service - "test" which is linked to S1 with service link name -> "mydns".

From containers of "test",  dig on "mydns" resolves to a list of ip addresses t

[2015-08-14 00:51] sangeethah opened #1793 "When service with network node "host" is linked to service alias , dns resolution of the link returns nothing."
Server version - Build from master - Aug 13

Steps to reproduce the problem:

Create service test1 and test2 with network mode set to "host" and label - io.rancher.container.dns:true
Create service alias - S1 with targets test1 and test2.
Create service -  "test" with network mode set to "host" which is linked to S1 with service link name -> "mydns".

From containers of "test", dig on "mydns" reso

[2015-08-14 01:04] sangeethah opened #1794 "No environment variables relating to service links is created when the service that is linked to has "host" network."
Server version - Build from master Aug 13

Created a service - T1 (in managed network) and linked to service S1 in "host" network mode as "mytest2" and linked to S2 in "managed" network node as "myweb2"

Environment variables relating to "mytest2" are missing.
<img width="673" alt="screen shot 2015-08-13 at 6 03 42 pm" src="https://cloud.githubusercontent.com/assets/4266958/9265255/b35b3fd0-41e5-1

[2015-08-14 01:11] vincent99 commented on #1608
When you say shutting down the agents, are you stopping the "network agent" container (`rancher/agent-instance` image) that shows port/ 500/4500? The other `rancher/agent` container is not the one that the IPSec server runs in.

[2015-08-14 01:44] anapsix commented on #1608
Yep, I `docker kill` them all

[2015-08-14 02:15] gmeans opened #1795 "Unable to add AWS EC2 Host (Automatically)"
I hooked up a rancher install to our AWS account and tried adding a host via the UI. I can see (via CloudTrail) that it creates the security group, but it never attempts to create the EC2 instance.

Component	Version
Rancher	v0.32.0
Cattle	v0.75.0
User Interface	v0.40.0
Rancher Compose	beta/latest

I was able to manually add a host by launching a RancherOS instance and running the docker command g

[2015-08-14 02:19] gmeans opened #1796 "Unable to build using rancher-compose and S3 builds"
When trying to 'create' services using rancher-compose, I'm receiving this:

[code]

I had an issue w/ the project name (the directory) having a period in it so had to use the -p flag.

I'm guessing it's having an issue authenticating. I have my env vars for AWS configured correctly and am able to run commands using the AWS CLI. I don't see anything in S3 to indicate rancher uploaded anything howe

[2015-08-14 03:12] rmwpl commented on #1702
As I summarized in my last two comments, the best workaround that I found is to manually update the database record. But sure, you can go flushing the chain every time rancher gets it wrong.

[2015-08-14 03:52] vincent99 commented on #1796
You need an API key for Rancher (from the API & Keys section of the UI underneath the user icon in the header) to use rancher-compose.  It doesn't use AWS credentials to talk to Rancher because we're not Amazon :-)

[2015-08-14 04:56] mehulsbhatt opened #1797 "Getting error in CentOS7"
2015-08-14 04:54:25,289 ERROR [:] [] [] [] [ecutorService-3] [o.a.c.m.context.NoExceptionRunnable ] Uncaught exception io.cattle.platform.async.utils.TimeoutException: Object [credential:1] failed to satisfy predicate [15000] millis
        at io.cattle.platform.object.monitor.impl.ResourceMonitorImpl.waitFor(ResourceMonitorImpl.java:92) ~[cattle-framework-resource-monitor-0.5.0-SNAPSHOT.jar:na]

[2015-08-14 04:57] ibuildthecloud commented on #1796
@vincent99 We use S3 to upload builds so if you're doing builds you need both AWS and Rancher credentials set up.

[2015-08-14 05:42] vincent99 commented on #1796
d'oh... I read `rancher-compose up`, not `create`.  Never mind...

[2015-08-14 08:18] #1379 closed

[2015-08-14 08:20] haswalt commented on #1688
@ibuildthecloud So here is some more information:

I added the hosts manually and I started the agent with this command:

[code]

So you can see that the CATTLE_AGENT_IP is set to the public IP of host and the private IP address is used to connect tot he server.

If I try to view container logs in the browser for a container running on this host I see the following in the browser:

[code]

Of cour

[2015-08-14 08:21] haswalt commented on #1688
Currently use:

[code]

[2015-08-14 15:40] cjellick commented on #1688
@haswalt Did you install rancher using our simple single-node setup or do you have a multi-node setup? "Node" in this case refers to instances of rancher/server.

Also, I see that in your docker run, the connection URL is `http://10.131.252.223/v1`, with no port and in the socket connect error, it is `ws://10.131.252.223:9000/v1/`, with port 9000. So, what do you have running on port 9000 and wher

[2015-08-14 15:42] cjellick commented on #1702
@rmwpl I missed you summary. Excellent analysis and a much better work around. Thank you!

[2015-08-14 16:10] ibuildthecloud commented on #1790
We increased the timeout to 20 seconds in https://github.com/rancher/cattle/commit/5e3fd20380243b51c0a3c36ae9f80c31a91573a5.  We didn't make it configurable though.  The problem with configuration is that if 20 seconds isn't working for you and you need to increase to 60 seconds then the latency is just too high and it will cause downstream issues.  It was previously low because we need connection

[2015-08-14 16:11] ibuildthecloud commented on #1366
This has been bumped up to 20 seconds in v0.33, but not made configurable.  See https://github.com/rancher/rancher/issues/1790 for more information.

[2015-08-14 17:11] alena1108 commented on #1773
Rancher-compose changes are needed

[2015-08-14 18:43] alena1108 commented on #1763
hostname routing rules will be ignored for tcp listeners now, and you should see them all merged to the same backend assigned to the source port

[2015-08-14 18:43] alena1108 commented on #1762
hostname routing rules will be ignored for tcp listeners now, and you should see them all merged to the same backend assigned to the source port

[2015-08-14 18:43] alena1108 commented on #1722
hostname routing rules will be ignored for tcp listeners now, and you should see them all merged to the same backend assigned to the source port

[2015-08-14 19:56] sangeethah commented on #1763
Tested with build from master:
hostname routing rules are ignored for tcp listeners  and there is 1 backend created with all the targets.

<img width="695" alt="screen shot 2015-08-14 at 12 56 05 pm" src="https://cloud.githubusercontent.com/assets/4266958/9282813/de916c6c-4283-11e5-967f-74f27051ae3e.png">

[2015-08-14 19:56] #1763 closed

[2015-08-14 20:46] cloudnautique commented on #1588
@sangeethah @cjellick @will-chan  I'm good closing this one.

[2015-08-14 20:48] cloudnautique commented on #1380
@sangeethah @will-chan @cjellick I'm good closing this issue. Thanks.

[2015-08-14 20:50] #1588 closed

[2015-08-14 20:50] #1380 closed

[2015-08-14 20:51] cloudnautique commented on #1772
We decided against changing the setting. Will not change docs, and will be setting rancher server container to use the default binlog format.

[2015-08-14 20:54] sangeethah commented on #1762
Tested with build from master - Aug 14th.
hostname routing rules is ignored for tcp listeners and accessing the LB for tcp port with/without headers , results in traffic routed to all the targets associated both the services.

[2015-08-14 20:54] #1762 closed

[2015-08-14 21:15] sangeethah commented on #1722
Tested with build from master - Aug 14

Created Lb with both TCP and HTTP listeners.
<img width="720" alt="screen shot 2015-08-14 at 2 10 08 pm" src="https://cloud.githubusercontent.com/assets/4266958/9284231/e1d57caa-428e-11e5-8f5e-f5265d90c7b8.png">

For TCP listeners , all the host routing rules are ignored.

[code]

[2015-08-14 21:17] #1722 closed

[2015-08-14 21:20] sangeethah commented on #1669
Tested with build from master - Aug 13.

DNS support for containers on Host network works when service is deployed with label "io.rancher.container.dns"=true.
There are few issues found when testing different use cases which are tracked as separate issues - #1792 , #1793 and #1794.

[2015-08-14 21:20] #1669 closed

[2015-08-14 21:21] cloudnautique commented on #98
hrm.. It looks like inside your agent image Dockerfile you still have `ENV RANCHER_AGENT_IMAGE rancher/agent:v0.7.11` ? I would change that to your own, that variable is read by run.sh and is likely where the official agent is coming into play.

[2015-08-14 21:58] cjellick commented on #1795
@gmeans do you see anything in the UI related to the host? Did the status on the host immediately jump to something like "...almost done..."?

Also, can you confirm that the host registration base url is accessible from the host where rancher/server is running. You would have set this value when you first went to add a host and you can get to it from the "Host Registration" menu option in the drop

[2015-08-14 22:59] sangeethah commented on #1740
Tested with build from master from Aug 14.

Following scenarios were tested:

1. When any service is created and activated , dy default they get an ipaddress from cidr 169.254.0.0/16. This is avaialable  as "vip" in service object.

2. Deployed a service with label - 'io.rancher.network.services': "vipService" . /var/lib/cattle/etc/cattle/dns/answers.json file in the network agent instance of the

[2015-08-14 22:59] #1740 closed

[2015-08-15 00:05] sangeethah commented on #1793
Tested with build from master - Aug 14

When service with network node "host" is linked to service alias which have targets as service with host network , dns resolution works fine.

When S=service with network node "host" is linked to service alias which have targets as service with managed network , dns resolution works fine.

[2015-08-15 00:05] #1793 closed

[2015-08-15 00:29] sangeethah commented on #1792
Server version - Build from master - Aug 14

When service is linked to service alias with target services having network mode set to host , dns resolution points to the host ipaddress where the target services reside . Able to reach the containers successfully using service link names.

[2015-08-15 00:29] #1792 closed

[2015-08-15 12:36] gmeans commented on #1795
@cjellick I'm sorry but I brought down the environment. I'll stand it up again next week. The following is from memory.

- I believe I did see it almost immediately jump to a message that said "...almost done, waiting for agent...". After a bit of time I checked the AWS account and saw no EC2 instance starting up. Then I checked CloudTrail and saw rancher created a security group but never called

[2015-08-15 13:43] sangeethah opened #1800 "After upgrading auth enabled rancher server to latest build from master, not able to log in to the server."
Rancher server was running on build made form master  on Aug at ~2:30 pm. This set up had git hub authentication turned on and allowed access to member from a certain group say- "group1".

Upgraded rancher server to build made form master  on Aug at ~9:00 pm.  After the upgrade , I am not able to log in as member of "group1" . Following error presented to the user:

Error
Unauthorized (401)
Unauth

[2015-08-15 15:45] philp opened #1801 "Exception when creating a load balancer using rancher-compose"
I'm creating several applications using docker-compose, and then creating a stack of them using rancher-compose. I've also configured a simple load balancer to forward traffic from port 80 to 8000 on one of the applications. When it comes to creating the load balancer, I'm seeing this in the logs of the rancher server:

[code]

I suspect this may be related to some odd behaviour I'm experiencing w

[2015-08-15 15:49] sangeethah opened #1802 "Exception seen when adding members to environment. (Ldap Referrals)"
Server version - V0.33.0-rc1

Enabled LDAP authentication on the set up.

Login to rancher server as user A.

As admin user,  Tried to add a member - B to default environment of any user A.
Adding member succeeds and when logged in as member B , I am able to see the default environment of any user A.

But following excepiton in seen in server logs:

[code]

[2015-08-15 17:40] gregory opened #1803 "Feature Request: autodestroy, autoredeploy and autobuild features"
Hey guys,

Any thought on getting something similar features to what Tutum is doing?

https://support.tutum.co/support/solutions/articles/5000012175-autodestroy
https://support.tutum.co/support/solutions/articles/5000569896-autoredeploy
https://support.tutum.co/support/solutions/articles/5000638474-automated-builds

This would be awesome to get and makes a lots of sens IMHO :)

[2015-08-15 22:40] gregory commented on #1711
got the same issue right after i went to add a custom host. not that there is an exception throwned

[code]

[2015-08-16 00:32] jazzman809 opened #1804 "[rancher-mesos-scheduler]"
This is great progress, I have some queries though about setting this up on a production environment.

Where should each package be installed? I know the executor is installed on the slave(s). Am I correct to assume Libvirt is also installed on the slave(s)? Should I install the scheduler on the Mesos master(s), a separate VM, etc.?

Just a bit confused on what goes where? Thanks for the help.

[2015-08-16 19:26] sangeethah commented on #1800
In this set up , listing projects as admin client returns no projects:

From test code , following exception seen:

 project = admin_client.list_project()[0]
E       IndexError: list index out of range

[2015-08-16 22:32] sangeethah opened #1805 "As admin , other user's environment is not listed in "Your Environments" , but have access to this environment from "Manage Environments" list."
Server version  -  v0.33.0-rc1

Have access control enabled using git hub with admin user say -a.

As user b who has been granted access to this server , create a environment - "test".

As admin user a ,  "test" environment ( even default environment of user b) is not listed in  "Your Environments" . But using "Manage Environment" view , I am able to get to this environment  using "switch to this

[2015-08-16 23:35] vincent99 commented on #1805
That's the point... The admin user is admin so they *can* see every environment, but they are also a user that doesn't care about everybody else's environments on a day to day basis.  So the drop down includes only ones they are a member of, but in the manage screen you can see or switch to any of them.

[2015-08-17 02:49] sangeethah commented on #1805
Closing as the behavior seen is as per design.

[2015-08-17 02:49] #1805 closed

[2015-08-17 03:13] sangeethah opened #1806 "Intermittent errors seen when adding Digital Ocean machine - "Maximum number of retries (60) exceeded"/"exit status 255""
Server version - v0.33.0-rc1

In my set up , I had added multiple Digital ocean machines earlier without any issues.

When I tried to add another Digital ocean machine , it failed with "Maximum number of retries (60) exceeded".
In this failure case , I see a machine was created in Digital Ocean,
Right after this failure , I tried to add another Digital ocean machine and this failed with "exit stat

[2015-08-17 03:22] rmwpl commented on #173
While faced with the same issue I found out that the problem was in the default ulimits configuration, namely too low open file descriptor limit (this became clear after checking /var/log/docker.log).
The workaround was to use `ulimit -n` in the shell and restart dockerd, but I can't help to wonder where did `/etc/limits.conf` go? What is the preferred way of setting system parameters like that (o

[2015-08-17 08:42] fentas opened #1807 "Rancher Server: Using an external Database"
I have encountered some problems using an external Database for rancher server.
About my environment, I am using gce instance (with ubuntu 14.04) and gce cloud sql.
Everything is configured according to http://docs.rancher.com/rancher/installing-rancher/installing-server/.

Now, first run works like a charm.
But if I terminate the running instance and restart it, problems start to appear.
I got fo

[2015-08-17 11:07] michaelbironneau opened #1808 "gdapi.ApiError creating a "custom host""
I've been following the [Quickstart guide](http://docs.rancher.com/rancher/quick-start-guide/) and have run into an issue adding the same host running the Rancher server as a host. The Rancher version is v0.32.0.

The Rancher server is running at http://192.168.31.62:8080 and the UI works fine.

The command I ran to create/register the agent was `sudo docker run -e CATTLE_AGENT_IP=192.168.31.62 -d

[2015-08-17 11:13] silviupanaite opened #1809 "LoadBalancer logs"
I'm not able to find the logs from the rancher loadbalancer in order to debug it.

[2015-08-17 11:26] kaos commented on #1809
Look for the Lb Agent container.. The round little button has a dropdown menu for the logs..

<img width="155" alt="screen shot 2015-08-17 at 13 20 01" src="https://cloud.githubusercontent.com/assets/72965/9303890/ca8d83fc-44e2-11e5-9f5b-0e3fd3982411.png">

<img width="1221" alt="screen shot 2015-08-17 at 13 21 27" src="https://cloud.githubusercontent.com/assets/72965/9303964/7e431128-44e3-11e5-90

[2015-08-17 11:27] kaos commented on #1809
If you need more, there's always the `Execute Shell` option as well, where you can look at (and tweak, for testing purposes) the haproxy config, etc..

[2015-08-17 12:19] AlexIzydorczyk opened #1810 "Running out of Disk Space"
Hi,

I have Rancher running on an EC2 instance and whenever it is left on for greater than 1 day, it fills the entire disk.

I get errors such as:

[code]

My docker info file is:

[code]

After doing some digging, I've found I have a huge number of untagged images:
[code]
only visible through ```docker images -a```. Evidently, it seems these are contributing the problem. But upon trying to delete

[2015-08-17 14:05] pwFoo commented on #1378
After some time I looked into rancher services and tried to setup data only containers and volumes-from to use it as persistent storage.
But there is no volumes-from at service UI. Will it be added in the (near?) future?

[2015-08-17 14:06] aruneli commented on #1777
Verified in latest master (with fix) that this change is working. Tested basic work flows.

[2015-08-17 14:06] #1777 closed

[2015-08-17 14:07] #1772 closed

[2015-08-17 16:29] wlan0 commented on #1775
Fixed in https://github.com/rancher/rancher-mesos-executor/pull/1

[2015-08-17 16:33] alena1108 commented on #1378
@pwFoo we are planning to add it in the UI soon. Today you can use volumesFrom feature using rancher-compose. http://docs.rancher.com/rancher/rancher-compose/, refer to "Sidekick" section explaining the syntax.

[2015-08-17 16:37] anapsix commented on #1608
Alright, I see why I'm having trouble testing..
Packets are being dropped, which is confirmed by _dropped_ counter increasing when I do an "echo | nc ...`. I also noticed a `CATTLE_PREROUTING` DNAT rule in iptables:
[code]
When I've flushed iptables, I did it with `iptables -F`, which does not clear NAT rules.. `iptables -F -t nat` does the trick.
Once all iptables rules are flushed, connectivity

[2015-08-17 16:48] hibooboo2 commented on #1802
We currently do not follow/ support following LDAP Refferals.

[2015-08-17 16:52] alena1108 commented on #1801
@philp There are a couple of errors here. The first error happens in PingMonitor - code responsible for checking out the state of the instances on the hosts.  Looks like the ping results failed to update for LB instance.
The second  - haproxy config fails to update as generic config script can't be located inside the LB instance.

@cjellick can it be that the ping monitor kills the LB instance, an

[2015-08-17 16:56] deniseschannon commented on #1809
The troubleshooting FAQs might help you find out how to debug a bit more in detail. It has instructions on how to look at your haproxy config.

http://docs.rancher.com/rancher/faqs/troubleshooting/

[2015-08-17 17:47] pwFoo commented on #1378
Thanks for posting the link to rancher-compose. I'll take a look into and play with it in the next time!
Great to read volumes from will be added soon.

[2015-08-17 17:55] deniseschannon commented on #1790
I am closing this issue in favor of #1366 to configure the default timeout value. This issue is to track that we increased the default value to 20 seconds.

[2015-08-17 18:10] deniseschannon commented on #1786
@epelc Please reopen if you have more questions.

Anything that `docker run` supports should be available through our UI.

[2015-08-17 18:10] #1786 closed

[2015-08-17 18:11] epelc commented on #1786
Thanks. I overlooked the flag like @vincent99 said. Sorry I forgot to close this.

[2015-08-17 18:11] deniseschannon commented on #1745
@lalinsky There is an open issue in RancherOS to add VirtualBox Guest Additions. It won't be able to be added in our v0.4.0 release, but with enough users requesting it, it could go in the following release.

 https://github.com/rancher/os/issues/143

[2015-08-17 18:15] deniseschannon opened #1811 "With Docker 1.8, rancher agent containers are showing up in UI."
V0.32.0

When using Docker 1.8, rancher agent containers are showing up in UI. These used to be hidden.

This issue is to track that we've fixed the change in v0.33.0+ and on fresh installs, these will no longer appear.

[2015-08-17 18:19] deniseschannon commented on #1797
Could you provide some more information of when you got this error? Also, what version are you running?

[2015-08-17 18:42] alena1108 commented on #1306
@sangeethah could you please check if you still see that error message in the log as frequently as you used too? I've put a fix in some time ago that is supposed to reduce the amount.

[2015-08-17 19:26] cjellick opened #1812 "Support rancher behind an ELB in AWS with SSL"
We support running rancher in HA mode behind a number of different proxies. However, our current implementation does not support ELB. This is because Rancher uses websockets and ELB, when in HTTP/HTTPS mode, does not support websockets.

ELB does support websockets if it is configured in TCP mode and [Proxy Protocol](http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt) is explicitly enabled

[2015-08-17 19:52] sangeethah opened #1813 "When LDAP user is part of many groups (~30) , not able to get authenticated because of token size getting bigger than 4k."
Server version - V0.33.0-rc1

When LDAP user is part of many groups (~30) , not able to get authenticated because of token size getting bigger than 4k.

In my case the token size was ~5200 characters.

[2015-08-17 20:27] sangeethah opened #1814 "Admin user gets logged in to the the last default environment that was created for other users."
Server version - V0.33.0-rc1
Set up - Rancher server with LDAP auth enabled.
Log in as any user (who does not have access to any existing environments) - say "test1".
This results in a default environment created for this user.

Log in as admin user. We get automatically get logged in to Default environment of "test1".

[2015-08-17 20:33] wlan0 commented on #1804
@jazzman809 libvirt and the executor should be installed on the slave. The slave uses the executor, which then uses libvirt to launch VMs.

The scheduler can be run on any host/VM that can reach both rancher-server and Mesos master through the network. The scheduler obtains task requests from rancher server and obtains resource requests from Mesos master. In my development setup, I generally run t

[2015-08-17 20:55] haswalt commented on #1688
@cjellick Your guess is correct, and yes the CATTLE_HOST_API_PROXY_HOST is set with the port number. Everything works as expected that i can see except for the viewing of logs and stats for hosts and containers due to the proxy connecting issue above

[2015-08-17 21:24] cjellick opened #1815 "Mark deleted containers as deleted"
In our initial implementation of native docker integration, we made the decision that if rancher-agent was down and containers got deleted, when rancher agent came back up, we would not mark those containers as deleted in rancher. Instead, we marked them as stopped.

This confuses users. @ibuildthecloud referenced some specific companies/users that were confused by it.

We want to change the behav

[2015-08-17 21:28] cjellick commented on #1815
In our initial implementation of native docker integration, we made the decision that if rancher-agent was down and containers got deleted, when rancher agent came back up, we would not mark those containers as deleted in rancher. Instead, we marked them as stopped.

This confuses users. @ibuildthecloud referenced some specific companies/users that were confused by it.

We will change this behavio

[2015-08-17 21:47] sangeethah opened #1816 "Not able to use userPrinicipalName field as "LOGIN FIELD" when configuring LDAP Authentication."
Server version:
V0.33.0-rc1

Tried to enable LDAP authetication on rancher server using LOGIN FIELD set to "userPrincipalName" .
Unable to authenticate even after providing the correct credential.
Tried to provide name as "test1" , Fails with following exception in logs:

[code]

Tried to provide name as "test1@rancher.io" , Fails with following exception in logs:

[code]

[2015-08-17 21:50] hibooboo2 commented on #1816
We will have to make a few changes to actually support different login fields if that is even possible.

[2015-08-17 22:11] vincent99 commented on #1816
I don't know if it fixes the problem but the `userPrincipalName` for the "test1" user is "test1@rancher.io", not "test1".

![image](https://cloud.githubusercontent.com/assets/753917/9317656/0e2a12f6-44f2-11e5-85d0-c02e922c61d8.png)