[2016-03-09 23:51] #3375 closed

[2016-03-09 23:59] gcallsen commented on #3896
I have only stopped services through the UI.

In Scenario 1 I start using rancher-compose up -d. Scenario 2 I start using rancher UI. Scenario 3 I start using rancher compose (because I have deleted the stack, through the UI).

[2016-03-10 00:01] westlywright commented on #555
@tfiduccia @vincent99 do we want to stack description just on the individual stack view page? Or do we want descriptions on the stacks overview page as well?

[2016-03-10 00:06] sangeethah opened #3900 "Encountered out of memory error when trying to start a service with scale 100"
Rancher Version: v0.63.0-rc1

Setup - 3 hosts

Rancher server and hosts have 1 vCPU, 3.75 GB.
Tried to start a service with scale 100.

After about 19th instances getting deployed , I see out of memory errors in rancher server.
After this the instance is stuck in "starting" state forever and there is no attempt made to start new instances.

[2016-03-10 00:11] JayHaoDing commented on #2887
Seems this issue does not exist in our environment with Rancher v59.1

[2016-03-10 00:12] #3610 closed

[2016-03-10 00:18] JayHaoDing opened #3901 "Graph is not refreshed after select other stacks from dropdown menu"
Rancher Version: v0.59.1
Docker Version: 1.9
Browser Version: Chrome 49.0.2623.75 (64-bit)

Steps to Reproduce:

1. Select "View Graph" for a stack
2. Change to other stack from left-up dropdown menu

Results: Graph is not refreshed until you refresh through the browser

Expected: Graph should be refreshed after new stack is chosen

It might be related to #3352 but reproduced steps is not same.

[2016-03-10 00:38] sangeethah commented on #2686
Tested with rancher server version - v0.63.0-rc1
Docker version on the hosts - 1.10.2, build c3959b1
1. create a container that uses a named volume.
2. on the host, docker volume ls to verify the volume exists

[code]
3. delete and purge the container in rancher
4. wait a little while because the volume purge is scheduled a minute or two later
I waited for 5 minutes or so ..
docker volume ls on th

[2016-03-10 00:39] prachidamle commented on #3124
Changes are needed on cattle to pass in the catalogUrl argument enclosed in quotes, so that catalog service can parse the names containing spaces. PR #1449 submitted to fix the cattle part.

[2016-03-10 00:40] prachidamle commented on #2947
Fixed with PR https://github.com/rancher/cattle/pull/1449

[2016-03-10 00:41] hlj commented on #3615
:+1:

[2016-03-10 00:46] Rucknar commented on #3894
Okay,

Start issues i've tracked down to the HTTP1.1 bug. That's fine, i've moved those to 1.0 and that part is working. It looks like however none of the haproxy upgrades are successful. The above is being spammed to the rancher logs, we run quite a few of these, any idea how i might manually force an upgrade?

[2016-03-10 00:48] Rucknar commented on #3894
https://github.com/rancher/rancher/issues/3499 might be related.

[2016-03-10 00:51] cjellick commented on #2686
I misread the initial bug and my steps to test were wrong, but its still fixed.

@cloudnautique is stating that we *should not* delete named volumes when a container using them is deleted. We made this change and actually your testing shows that we in fact do not delete the named volume.

Now, the only way to delete them is via the API because we don't expose local storage pools in the UI, but I g

[2016-03-10 00:53] cjellick commented on #2686
But @sangeethah, the reason it isnt deleted on the host is that it wasnt deleted in rancher. So to more directly answer your question: the volume should be purged in rancher before it is actually gone from `docker volume ls`

[2016-03-10 01:00] sangeethah commented on #2686
@cjellick , Is there a way to delete the volumes ? I don't see local volumes being listed any where in the UI ? should I be using api to test deletion of volume?

[2016-03-10 01:07] sangeethah commented on #2686
Deleted local Volumes using API and waited for the volume to get to "purged" state.
After this confirmed , that local volume is deleted in the host (volume not listed in docker volume ls )

[2016-03-10 01:07] #2686 closed

[2016-03-10 01:22] tfiduccia opened #3902 "Catalog refresh button continuously spins and never stop"
Version - master 3/9

Steps to Reproduce:
1.  Go to Catalog page
2.  Click on the refresh button

Results: Button just keeps spinning and never stops

Expected: Should stop once it's finished refreshing

[2016-03-10 01:42] Rucknar commented on #3894
So the above was basically every haproxy instance i had all trying to upgrade but failing.
I've deleted all of them and purged, they all came back up as 1.6.3 and seem to be working fine.

[2016-03-10 01:42] #3894 closed

[2016-03-10 02:49] JayHaoDing commented on #3901
Hmm... sorry. Looks right now the graph refresh works fine. Don't know why there was issue before.

[2016-03-10 02:49] #3901 closed

[2016-03-10 04:15] deniseschannon commented on #255
I have no idea. I had copied it over from the UI repo many months ago when I was closing up issue filing in other repos. :) Ask @vincent99

[2016-03-10 04:25] vincent99 commented on #255
Yes.. You login Monday morning, use it all day and Tuesday it looks still good but fails the first time you click something.

[2016-03-10 05:22] Negashev commented on #3888
@bacheson, Could you share what requests are for mysql optimization. We have it stored the data in July 2015, you may clean the debris from mysql?

[2016-03-10 05:36] alena1108 commented on #3896
@gcallsen you didn't mention you've removed the stack in scenario 3...Could you please re-describe Scenario 3 (including the initial stacks creation) steps with comment against each step telling whether its executed from Rancher-compose? Something like:

1. Created my-app stack (from rancher-compose)
2. Created myapp-workers stack (from rancher-compose)
3. Stopped myapp-workers (rancher)
....etc

[2016-03-10 06:04] deniseschannon commented on #3869
The issue is that there is a cluster in your DB. The global scheduling logic is treating the cluster as another host.

We had removed some of the code for clusters, but never removed the definition in the API.

[2016-03-10 06:11] ibuildthecloud commented on #3869
The question we do have is how `cluster` got in the DB.  It's an old API we have never used, so we don't quite understand how a host of kind=cluster could get in the DB.

[2016-03-10 06:20] hwinkel commented on #555
At least part of the description? And a more...  Link to the details page?

[2016-03-10 06:33] vincent99 commented on #555
Seems like there's room for a clipped line in the overview boxes..

[2016-03-10 06:53] tfiduccia opened #3903 "Access Token is no longer required for add Digital Ocean, Packet or rackspace host"
Version - 0.63.0-rc2

Steps to Reproduce:
1.  Try to add Digital Ocean, Packet or rackspace host but don't put in the Access token (credentials)

Results: Allows you to continue

Expected: Access Token should be required.

[2016-03-10 07:19] looztra commented on #3751
any success with the advanced routing? http://docs.rancher.com/rancher/rancher-ui/applications/stacks/adding-balancers/#advanced-routing-optons http://docs.rancher.com/rancher/rancher-compose/rancher-services/#advanced-load-balancing-l7

[2016-03-10 07:21] laosb commented on #3720
OK, will try this week.

[2016-03-10 07:42] tfiduccia opened #3904 "glusterfs service says degraded even thou all containers are running"
Version - 0.63.0-rc2

Steps to Reproduce:
1.  Add a couple of hosts
2.  Add the glusterfs catalog

Results: All the containers are running but the service and stack says degraded

Expected: It should not be degraded

[2016-03-10 07:59] mholttech commented on #3878
I tried it again today running 3 hosts on Rancher OS v0.4.4-rc1 and Rancher Server v0.63.0-rc1 with no luck.  Running my environment in an vSphere environment

[2016-03-10 08:05] alena1108 commented on #3904
@tfiduccia do you have an access to the environment? need to check something in the DB

[2016-03-10 08:14] tfiduccia commented on #3904
http://130.211.169.26:8080/env/1a11/apps

[2016-03-10 08:24] kaos commented on #3618
:pray:

[2016-03-10 09:29] Slamper commented on #3904
The same happens to me after upgrading to 0.63.0-rc2 with my health checked Mongodb container

[2016-03-10 09:42] protheusfr opened #3905 "Fix docker-compose.yml sync in rancher"
Rancher Version: 0.59.0

Docker Version:1.10

OS: RancherOS

Steps to Reproduce: Create a new stack in Rancher through docker-compose.yml & rancher-compose.yml option, define a option in docker-compose.yml like :

When Rancher try to build the stack, they doesn't apply the mac_address option.

Results: Impossibility to build stack with some of the docker-compose.yml officials options.

Expected:

[2016-03-10 09:46] illyul commented on #3815
+1

[2016-03-10 10:16] hwinkel opened #3906 "[of topic] how to manage GH issue labels"
just aa quick question, do you  manage the issue Labels manually or is this driven by a tool using the GH API. Have seen the same structure in the k8s project.

[2016-03-10 10:47] tallandtree opened #3907 "Unable to set rancher default admin password (local accounts)"
If I try to set a password (either manual of generate password) on the default admin account and press "Save" nothing happens (via "http://flowertree.ccveu.local:8080/admin/accounts and then "edit". No error as well. I can only cancel. I can change the password of my own (other local admin) account.

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v0.59.1` Cattle: `v0.148.1` UI: `v0.90.0` |

[2016-03-10 11:10] piscis commented on #3807
Thanks for the information. What I did eventually to get the agents running was to downgrade to 14.04 for the docker container hosts as you suggested.

For me It was kind hard to debug because I didn't know that there might be a constraint on the OS version your running and that the agents just stall without an error or timeout is pretty hard to debug.

Is there a page where I can see the recommen

[2016-03-10 11:11] kaos commented on #2270
Is this the issue that would resolve this?:
![image](https://cloud.githubusercontent.com/assets/72965/13667859/0161c7da-e6b9-11e5-9ec9-d878926d36e8.png)

Or is there a way to specify this `selectorContainer` in some other way.. ?

[2016-03-10 12:46] cedvan commented on #3668
@flaccid So, do you can help me ?

[2016-03-10 13:12] gdurand-globallogic commented on #3893
+1

[2016-03-10 13:52] ibuildthecloud commented on #3906
Manually and very painfully.

[2016-03-10 14:00] CrystalMethod commented on #3893
:+1:

[2016-03-10 14:03] legoheld commented on #3618
:pray: thank you!

[2016-03-10 14:11] sbehrends commented on #3893
+1

[2016-03-10 14:12] patodk commented on #3893
+1

[2016-03-10 14:19] fernandoneto opened #3908 "Agent keeps failing and host state stucks at "Reconnecting""
## Rancher Version :

v0.59.1

## Docker Version:

 1.10.2

## OS:

 Ubuntu 14.04.4 LTS (3.13.0-79-generic)

## Steps to Reproduce:

- Create a instance in AWS and launch rancher-server.
- Wait until UI is available, configure auth and then lets add a host.
- In add host menu select  "Other" and fill the fields according your configurations. We are using Azure driver.
- Add some container's or a s

[2016-03-10 14:19] Rucknar commented on #3819
* Good point, will have to come up with something else for non-cloud setups.

The request i'm taking out of the curl command it gives me, for example:
[code]
I'm trying to run the above from a container with the following labels set, without joy sadly.

[code]

[2016-03-10 15:00] hwinkel commented on #3906
@ibuildthecloud I expected that and feel your pain...

[2016-03-10 15:02] fernandoneto commented on #3893
+1

[2016-03-10 15:41] janeczku commented on #3904
Similar here after upgrade to 0.63.0-rc2

By the way, what will be the next non-RC release version number? v0.61.0 or v0.63.0 ? @alena1108 @tfiduccia

![screencap](https://cloud.githubusercontent.com/assets/3813921/13674562/41710c4e-e6de-11e5-9188-44badcdecce3.png)

[2016-03-10 15:52] delianides commented on #3869
I created the server/clients on or after 2/15. I only used the UI for managing clients but they are created through an autoscaling group on AWS. Initially I had 3 hosts then scaled up to 5 for testing then back down to 3.

Is it safe to set the cluster record in MySQL to `purged`? Or is there a query that would remove or disable it?

[2016-03-10 15:54] vincent99 commented on #3904
We're reverting back to the UI calculating the health state again for now..

At least until 1.0, releases are the week of the year, +52 for last year.  So 11+52=63

[2016-03-10 16:00] vincent99 commented on #3906
Not that @ibuildthecloud is the one doing the managing :-P

But yes, basically manually.. There are keyboard shortcuts for label/assigned/milestone so you don't need a mouse, which helps.  There's also some tools like waffle.io that we've tried but had some issue with.  And https://github.com/9-volt/bug-life is cool for visualizing them.

[2016-03-10 16:07] hwinkel commented on #3906
I mess around with huboard a bit. Not so bad, at least a start

[2016-03-10 16:16] clintbeacock commented on #3568
@cjellick - Great!

@withinboredom - I downgraded to docker 1.9.1, and can confirm that it's working properly there.  I'm just going to keep 1.9.1 until this is fixed for 1.10.

[2016-03-10 16:24] janeczku commented on #3904
@vincent99 thanks!

[2016-03-10 16:40] cjellick commented on #3343
@Kanshiroron sorry for no response in such a long time. Did you ever figure out your issue here? If not, I'll be digging into this issue to see if I can repro.

[2016-03-10 16:41] clintbeacock commented on #3641
I see this has been released from the 1.0 Milestone.

Is there any workaround in the meantime, as this prevents applications from coming back online in the event of any docker restarts, such as on a server reboot.

[2016-03-10 16:50] cjellick commented on #1109
With first class volume support in docker and rancher, the need for data containers has waned. I don't think it is worth the effort to support this. @will-chan?

[2016-03-10 16:55] cjellick commented on #3492
Fixed. To test:

1. Create container in rancher UI
  * Set network mode to "none"
  * Set host name to something.
2. Verify
  * Container should have no IP in rancher ui
  * Exec into container and run `hostname`. Should display what was set in the rancher UI
  * You can also look at the docker inspect for the container and view the Hostanme field

[2016-03-10 17:07] sangeethah commented on #3492
Tested with latest build from master:

Created container in rancher UI with network mode set to "none" and host name set .
Container does not show any IP in rancher ui  and its hostname is set to hostname provided when creating the container.

Docker inspect for the container shows hostname set to hostname set.
With in the container , we see hostname being set.

``
root@testmehost:/# cat /etc/host

[2016-03-10 17:07] #3492 closed

[2016-03-10 17:16] #1109 closed

[2016-03-10 17:18] sangeethah opened #3910 "Few Instances stuck in "starting" state in "post-network" state forever when trying to start a service with scale=100."
Rancher Version: Build from master

Setup - 3 hosts

Rancher server and hosts have 1 vCPU, 3.75 GB.
Tried to start a service with scale 100.

About 15 instances get stuck in "starting" state in "Post-network" stage .
Instances are in this state for a very long time now - about 20 minutes.

[code]
Repeated attempts to create instance with exit reason - "DELEGATE"

<img width="1528" alt="screen shot

[2016-03-10 17:19] cjellick commented on #3343
Possibly related to the fact that the source port gets changed because of NAT. I'll be working on a solution to fix that.

[2016-03-10 17:19] sangeethah commented on #3900
Tested with latest build from master:

Started a service with scale 100.
There is no out of memory encountered and all containers are started . Few of them get stuck in "starting state which is tracked in - https://github.com/rancher/rancher/issues/3910.

[2016-03-10 17:19] #3900 closed

[2016-03-10 17:29] sangeethah commented on #3910
logs for one of the instance that is stuck in "starting" state -

[instancelog.zip](https://github.com/rancher/rancher/files/167670/instancelog.zip)

[2016-03-10 17:41] sangeethah commented on #3910
The instances did finally get to "running" state eventually.

[2016-03-10 17:48] deniseschannon commented on #3906
Closing this issue so I don't have to label it. ;)

[2016-03-10 17:48] #3906 closed

[2016-03-10 17:52] sangeethah commented on #2344
Tested with latest build from master:

Created a service with scale 100.
When all instances where up and running , deleted the service.
As part of service deletes , multiple instances of the service get deleted in parallel.
Multiple instances get to "stopping" state at the same time in DB.

[2016-03-10 17:52] #2344 closed

[2016-03-10 18:10] sangeethah opened #3911 "Support for listing local storage pools and local named volumes"
Currently StoragePools View does not list local storage pools. Local named volumes are not being listed currently in the UI.
There is no way to see the state of these volumes and also be able to delete/purge volumes.

[2016-03-10 18:40] prachidamle commented on #3869
@delianides if you see the cluster in the UI under Infrastructure, you should remove it from the UI. Otherwise yes set the state to "removed" in the host table

[2016-03-10 18:45] alena1108 commented on #3904
@janeczku @Slamper the bug was in the health check calculation for services having "startedOnce" set on sidekicks. I know thats the case for glusterfs and mongodb, and validated the fix for these catalog items. @janeczku wanted to double check if your app has startedOnce=true as well.

[2016-03-10 18:54] tfiduccia opened #3912 "Scale not saving when Cloning a host"
Version: master 3/10

Steps to Reproduce:
1.  Create a host with a scale of 3
2.  Clone that host

Results: The scale is set back to 1

Expected: Scale should still be 3?

[2016-03-10 18:56] sangeethah opened #3913 "convoy-nfs driver not listed in Driver dropdown list in "Add Virtual Machine" page."
Server version - V0.63.0-rc2

Deploy convoy-nfs from rancher-service catalog.
Go to settings and enable Virtual Machine Support

Infrastucture-> Virtual Machine-> "Add Virtual Machine"

In "Advanced Option" , choose "Add disk"/"Add Root Disk" .

Driver dropdown list is empty.

Not able to choose "convoy-nfs" driver.

<img width="1358" alt="screen shot 2016-03-10 at 10 48 27 am" src="https://cloud.

[2016-03-10 19:07] alena1108 commented on #3896
@gcallsen

Unfortunately that might not be possible, as even after deploying the stack with rancher-compose, you can modify many things using rancher UI - add more links, remove existing links, upgrade the service. On the export, we build the config based on the current state of the stack.

No problem at all, we always appreciate users input

[2016-03-10 19:07] #3896 closed

[2016-03-10 19:08] bkuhl opened #3914 "v0.59.1 - Volumes do not remain checked when tabbing through sidekicks during upgrade"
I've attached a gif demonstrating this issue.  When performing an upgrade on a container with sidekicks, when I toggle through the various sidekicks the volume options do not remain checked.

Initially looking at the primary container:
![screen shot 2016-03-10 at 2 10 07 pm](https://cloud.githubusercontent.com/assets/524933/13681153/e5072af6-e6c9-11e5-9244-18a849bbd8fa.png)

Looking at the plugins

[2016-03-10 19:11] jwhitcraft commented on #3482
@alena1108 that didn't work, it just caused the LB to have errors.  I didn't get a chance to setup another test to see what is going on with it.

[2016-03-10 19:32] tfiduccia opened #3915 "Can't add Packet host"
Version - master 3/10

Steps to Reproduce:
1. Try to add a packet host

Results:  Validation failed in API: DriverConfigExactlyOneRequired. Post error 422 in dev tools

Expected:
should add

[2016-03-10 19:56] deniseschannon commented on #3914
There is something weird going on with how it decides to keep the checkmarks for the volumes from section.

[2016-03-10 20:07] tfiduccia commented on #3803
Version - master 3/10
Verified fixed

[2016-03-10 20:14] tfiduccia commented on #1195
That looks the same just a different background color for rancher-machine.  Is that was fixed for this.  Because this bug was saying the Learn more text should aline with the Standard/Custom text not the radio button.

[2016-03-10 20:26] tfiduccia opened #3916 "If I refresh browser while in a specific catalog I get a error page"
Version - master 3/10

Steps to Reproduce:
1. Go to catalog page
2. From Catalog drop-down select community
3. Refresh your browser

Results: Error page i is not a function, Reload to try again or log out
![image](https://cloud.githubusercontent.com/assets/11514927/13683378/991abc62-e6c3-11e5-818d-4bde86a7f17f.png)

Expected: No error page

[2016-03-10 20:27] sangeethah commented on #3077
Tested with v0.63.0-rc2.

HealthState is now available as a field in both  Environment (Stack) and service level.
Bugs found when testing this feature will be tracked as different bugs .
One such issue - https://github.com/rancher/rancher/issues/3904

[2016-03-10 20:27] #3077 closed

[2016-03-10 20:36] cjellick commented on #3312
@vincent99 Looks like you are not including storagePools in the subscribe. When I added that to the subscribe URL in my little ws client, I got an event when I added the volume.

[2016-03-10 20:44] lvuch commented on #1195
Sorry read that wrong...was looking at alignment to "security group" now resolved in https://github.com/rancher/ui/pull/520

[2016-03-10 21:01] alena1108 commented on #3880
@sangeethah can you check answers.json file to see if the:

* searchDomain is present
* ips are present

in the client section

[2016-03-10 21:03] cjellick opened #3917 "Volumes in requested state cannot be removed"
Steps to repro:

Create a volume in a storage pool from the UI. It will show up in the UI in the "requested" state.

Expected behavior:
The menu dropdown for the volume should expose the delete action

Actual behavior:
Only `View in API` is exposed.

[2016-03-10 21:05] cloudnautique opened #3918 "Cant load service container view with large number of hosts/containers"
Rancher Version:
v0.63.0-rc2
Docker Version:
Docker 1.10.2
OS:
Ubuntu 14.04
Steps to Reproduce:
Create an environment with 20+ nodes
launch service with 300+ containers
Results:
500 server error. Times out listening hosts

Expected:
See a list of containers within a service.

[2016-03-10 21:10] cloudnautique opened #3919 "NSenter fails to execute"
Rancher Version:
v0.63.0-rc2
Docker Version:
1.10.2
OS:
Ubuntu 14.04
Steps to Reproduce:
Deploy a global service.
at 60+ nodes in an environment add 10 + nodes at a time.

Results:
As hosts register and pick up the global service containers, you start to see:
[code]
in the logs.
Expected:

Containers/Nodes register without error messages.

[2016-03-10 21:18] withinboredom commented on #3154
I guess it depends if nfs happened to close the descriptor or not.

[2016-03-10 21:22] cjellick commented on #3381
@sangeethah this is expected behavior. We do a restore in this scenario.

[2016-03-10 21:28] cjellick commented on #3150
Duplicate of #3446

[2016-03-10 21:28] sangeethah commented on #3381
Closing this issue as per the confirmation from @cjellick

[2016-03-10 21:28] #3381 closed

[2016-03-10 21:37] alena1108 commented on #3880
@sangeethah this bug and https://github.com/rancher/rancher/issues/3811 caused by "." present in the name-to-resolve + the fact that dig doesn't use search domains from resolve.conf. Our internal dns assumes that the name with "." in it is fqdn, and doesn't try search domains from config sections.

[2016-03-10 21:48] sangeethah commented on #2597
Tested with rancher-server version - v0.63.0-rc2

Able to start Virtual Machine successfully using convoy-gluster driver for ROOT/DATA disk in a host with  KVM.
Able to pass  cloud config to VM as userdata when deploying VM.
Also able to view VM console using "Open Console" option for the VM from UI.

[2016-03-10 21:48] #2597 closed

[2016-03-10 22:06] sangeethah opened #3920 "Not able to add packet host."
Rancher Version: V0.63.0-rc2

Add packet host by providing valid apikey and project id.

host addition fails with "exit status 3" error.

rancher-server logs:

[code]

[2016-03-10 22:09] prachidamle commented on #1238
I could not reproduce this with 3 hosts -
host1 label name = test1
host2 label name=test2
host3 no labels

Started containers with host_label_ne name=test1,name=test2
They all started on host3.

[2016-03-10 22:13] deniseschannon commented on #3573
Verified with v0.63.0-rc1 that when either service or stack are in rolling-back state, there is a "Cancel Rollback" option in the UI,

[2016-03-10 22:13] #3573 closed

[2016-03-10 22:19] hibooboo2 commented on #3915
This is due to schema not being correctly uploaded. And gms not catching the error.

[2016-03-10 22:21] hibooboo2 commented on #3920
The above prs fix this.

[2016-03-10 22:27] deniseschannon opened #3921 "Cloning/Upgrading do not remove old scheduling rules"
Rancher Version:
v0.63.0-rc1

Steps to Reproduce:
1. Create a service with scheduling rules
2. Clone the service
3. Remove all scheduling rules

Results:
The old scheduling rules are still on the service.

Expected:
No rules should be applied.

Note: When testing we should make sure to verify that adding a new rule during upgrade/clone is honored.

[2016-03-10 22:29] deniseschannon commented on #1238
Verified with v0.63.0-rc1 that this is no longer an issue.

[2016-03-10 22:29] #1238 closed

[2016-03-10 22:34] cjellick commented on #2762
Won't fix.

This is just the nature of services and other errors when creating/scheduilng/starting instances as part of a service will result in the same stuck in activating behavior. Adding API validation wouldn't help as there are other ways to get into this scenario that the api validation wouldn't catch.

There is at least some feedback in the UI as to what is going one:
![screen shot 2016-03-

[2016-03-10 22:42] deniseschannon commented on #3360
Verified in v0.63.0-rc1 with the following steps.

1. Create a Service
2. Create a Load Balancer Service and add the previous service as a target
3. Upgrade the service and finish upgrade
4. Connect multiple times to the load balancer IP/port linked to the target service. All the connections succeed.

[2016-03-10 22:42] #3360 closed

[2016-03-10 22:43] sangeethah commented on #3742
Tested with rancher-server version-v.0.63.0-rc2

Create an environment with name say - "abc".
Create a stack/service in this environment.

From within any container in this environment,  try to get environment_name from metadata using http://rancher-metadata/latest/self/stack/environment_name.

Make sure it reflects the correct value.

Change the name of the environment.

From within any container

[2016-03-10 22:43] #3742 closed

[2016-03-10 22:45] #2762 closed

[2016-03-10 23:06] sangeethah commented on #3910
Tested with latest build from master.

Was able to start a service with scale 100 successfully.
No instance was stuck in "starting" state for a long time.

Also able to delete this service successfully. All the instances of the service were deleted and purged. No instance was stuck in "stopping" state for a long time.

[2016-03-10 23:06] #3910 closed

[2016-03-10 23:11] sangeethah commented on #3787
Tested with rancher-server version  - V0.63.0-rc2

Steps to Reproduce:
1. Create a container C1.
2. Create a container C2 and link it to C1 with a link name having uppercase - "HELLO".

From within the container C2 , try to ping C1 using the link name.

Able to ping C1 using link name.

[2016-03-10 23:11] #3787 closed

[2016-03-10 23:11] janeczku commented on #3904
@alena1108  No it does not. The issue doesn't seem to affect newly created stacks though. Only those that already existed when i upgraded from v0.59.1.

[2016-03-10 23:19] sshipway opened #3922 "Global stacks stuck in Updating-Active after Rancher upgrade to 0.63.0-rc2"
Rancher Version: 0.63.0-rc2
Docker Version: 1.9.1
OS: CoreOS
Steps to Reproduce:
Running  rancher 0.59.1.  Existing running stack with global service instances.  Upgraded to Rancher 0.63.0-rc2.  Stack stuck in updating-active status "Failed to do service reconcile"

Results:
Stack in status Updating-Active
   Updating-Active (Failed to do service reconcile for service [114])
However all service in

[2016-03-11 00:02] hibooboo2 commented on #3907
@tallandtree When you say the default admin account do you mean account 1a1? If so I believe that version of cattle does not create a password for 1a1 which means that when the ui goes to update the password it cannot as there is not one to update. with the newest version of cattle this behavior is changed and this will not occur.

[2016-03-11 00:15] sangeethah commented on #3257
Tested with rancher-server version - v0.63.0-rc2

Create External DNS service with version - rancher/external-dns:v0.2.1
Create a stack with 100 services (scale 1) with exposed ports.
Activate the stack (so that all the services get activated in parallel).

No "Throttling exceeded" errors was encountered when External DNS service programs the DNS entries in Route 53.

[2016-03-11 00:38] sangeethah opened #3923 "Should be taken back to "System" view when deploying catalog entries from "Rancher services"."
Rancher Version: v0.63.0-rc2

Deploy any service from Catalog under catergory - "Rancher Services".
Once you launch the service , we are brought back to "Stacks" view which does not have the stack that was launched.
Since these services show up under "System" tab , user should be taken to this view where he will be able to see the progress of the service deployment that was launched.

[2016-03-11 01:07] sangeethah commented on #2493
This issue is still seen occasionally even when running validation run in single threaded mode.

Today we hit this issue when running validation run in  RHEL7 setup:

[code]

[2016-03-11 02:17] ibuildthecloud commented on #3806
@nhumrich between hosts A and B I can see its sending packets to port 500 to start the IPSec handshake.  It doesn't appear that either host is receiving them though.  I will dig further into the logs but are you sure that your security group settings allow traffic in on udp ports 500 and 4500.

Also note that traffic is being sent to the public IP of the instances, not the private instance IP.

[2016-03-11 02:22] ibuildthecloud commented on #3516
I have quite happily removed service schemas so this does not apply anymore.

[2016-03-11 02:22] #3516 closed

[2016-03-11 03:44] cjellick commented on #3154
`mount -l -f /path` seems to work and convoy-nfs recovers. But (at least on RancherOS), this leads to CPU spike (and staying at) close to 100% with `[kworker]` being the consumer.

[2016-03-11 03:47] cjellick commented on #3154
So, I'm thinking that I can fix this by `umount`ing before `mount`ing in the convoy-nfs startup script, but I need to get to the bottom of the CPU spike -it seems to actually really degrade performance.

[2016-03-11 04:34] deniseschannon commented on #172
Marking this as obsolete as we haven't had others complaining about this. @feliksik If you still see similar issues, please open a new issue.

[2016-03-11 04:34] #172 closed

[2016-03-11 04:51] JayHaoDing opened #3924 "Use XMLHttpRequest() to access metadata is not allowed"
Rancher Version: 0.59.1

**Steps to Reproduce:**

1. Send GET request to http://rancher-metadata via XMLHttpRequest() in JavaScript

[code]

**Results:**

[code]

**Expected:**

JSON formatted metadata is stored in xmlhttp.responseText

**Other Comments**
- http://rancher-metadata/latest/stacks/ can be accessed via curl in the same container
- Above JavaScript codes were executed together with cas

[2016-03-11 04:53] clintbeacock commented on #2918
I'll +1 this as well.  We really need to be able to clean up unused pools.

[2016-03-11 04:59] clintbeacock commented on #2903
@christianwiedemann: I'm getting the same errors with v0.2

In my case, I think the convoy setup got interrupted/did not complete the first time, and I can't get it going.

Please post back if you find a workaround.

[2016-03-11 05:05] deniseschannon opened #3925 "Upgrade from v0.59.1 to v0.63.0-rc2 - Errors in server logs"
Rancher Version:
v0.59.0 -> v0.63.0-rc2

Docker Version:
1.10.2

OS:
Ubuntu 14.04

Steps to Reproduce:

- Have a v0.59.1 setup
- [Upgrade to v0.63.0-rc1 and tail logs

Results:
[code]
Expected:

[2016-03-11 05:07] deniseschannon commented on #3922
Verified that this is occurring. Errors are being logged in rancher-server.

[code]
In my case, the services were eventually active.

[2016-03-11 05:14] deniseschannon opened #3926 "Create better message for "Object [instance:1i5628] failed to satisfy predicate [15000] millis.""
Rancher Version:
v0.63.0-rc2

Docker Version:
1.10.2

OS:
Ubuntu 14.04

Steps to Reproduce:
Start a service

Results:
While the service is launching, you'll see a `Object [instance:1i5628] failed to satisfy predicate [15000] millis.` message at some point. This is basically a "waiting" message, but poorly worded.

Expected:
Conver the message to more user friendly.

[2016-03-11 05:14] alena1108 commented on #3922
@deniseschannon this error is generic, and doesn't give any details of why it fails...could you point me to the setup of yours? So I can look at the logs/db

[2016-03-11 05:21] deniseschannon commented on #3922
@sshipway In my upgraded setup, the services all eventually turned `Active`, but it took a little bit of time. It wasn't instantaneous.

@alena1108 Could you describe why it goes into updating-active state?

[2016-03-11 05:27] ibuildthecloud commented on #3584
@pizzarabe @ryanwalls @yesbut @CBR09 So I'm curious.  We will be shortly launching the ability to have Rancher manage swarm environments but.... you still add/remove hosts through Rancher.  What is the primary motivation for setting up hosts with Swarm and *then* adding the cluster to Rancher.

[2016-03-11 05:28] alena1108 commented on #3922
@deniseschannon no idea why it happens, sounds like a bug. Only new host addition or container dying should have caused it.

[2016-03-11 06:10] sangeethah commented on #3920
Tested with latest build from master.

Able to add packets host successfully.

[2016-03-11 06:10] #3920 closed

[2016-03-11 06:22] ryanwalls commented on #3584
I think my motivation is mainly to be able to try the rancher UI with our existing provisioning scheme (ansible).  It's just a bigger barrier to entry if I have to rewrite my provisioning setup to use rancher apis.

[2016-03-11 06:58] vincent99 commented on #3924
I mean we could add the `Access-Control-Allow-Origin: *` header and that seems fairly harmless, but what exactly is the usecase for running a fake browser in node accessing metadata via XHR instead of just getting it with node directly?

[2016-03-11 07:26] JayHaoDing commented on #3924
@vincent99 we have an existing test framework based on casperjs and it will hit each JVM running in Docker container. Before Rancher is used, those JVMs' IPs were known because hosts were dedicated and we knew which host include what JVMs.

So now with Rancher we need be able to detect container's IP under specific service and stack to proceed testing.

[2016-03-11 07:27] tallandtree commented on #3907
Yes, it is the 1a1 account indeed. So, I will not try to use it in that case.

[2016-03-11 07:27] #3907 closed

[2016-03-11 10:26] manei commented on #3247
Rancher Release - v0.59.1
This issue appeared again. Even if the service and its containers are deleted, unless you restart the agent on that specific host when the container is starting it gives you:

Containers fail to start due to "(409 Client Error: Conflict ("Conflict. The name "<name>" is already in use by container . You have to remove (or rename) that container to be able to reuse that nam

[2016-03-11 10:37] silviupanaite commented on #2734
+1

[2016-03-11 10:38] wzrdtales commented on #3384
@ibuildthecloud Experience the same problem.
On the same host as the rancher server currently running debian wheezy I do receive the stats, but on a different host, which are currently all debian jessie, didn't test yet with debian wheezy there, I get the exact same errors.

[2016-03-11 10:55] mishak87 opened #3927 "[rancher-compose] random panic on rm -f a b followed by up a b"
Rancher Version:
0.59.1
Rancher Compose Version:
0.7.2
Docker Version: (rancher server)
1.10.2
OS: (rancher server)
Boot2Docker 1.10.2 (TCL 6.4.1); master : 611be10 - Mon Feb 22 22:47:06 UTC 2016

Steps to Reproduce:
This happened to me once while prototyping setup (creating and destroying services in same stack using UI and CLI a lot). It is probably race/timing issue because it happened to me on

[2016-03-11 10:56] mishak87 commented on #2734
@silviupanaite You now have reactions in right top corner of message ;-)

[2016-03-11 11:53] pizzarabe commented on #3584
I i want to create a Docker Infrastructure i will (always) create some Docker Servers and i will use Docker Swarm to cluster it (if i don't want to use Kubernetes).
If i want to add a Graphical UI to Docker I would like to add it to my existent Docker Swarm Cluster.
This is my Intention. ATM I have a Swarm Cluster and i want to user Rancher (and every other UI) as an extension, i don't want to cre

[2016-03-11 12:29] cedvan commented on #3668
@flaccid : I use [docker-root](https://github.com/ailispaw/docker-root) vagrant box because I want static ip on network LAN. RancherOS with vagrant declare an ip by DHCP... With rancherOS, charon works. But with docker-root, folder and files are missing in agent-instance to launch charon. how I can solve it please ?

[2016-03-11 13:14] boedy commented on #2918
+1

[2016-03-11 14:33] Rucknar commented on #3318
FYI - I've upgraded to 0.59.1 following our discussions. I  still see those stuck jobs but i'm going to ignore them for now. I'm set to run through an upgrade scenario that typically causes us issues over the weekend. Hopefully the improvements in 0.59.1 make it better. I'll close the ticket if that's the case.

[2016-03-11 14:46] wzrdtales commented on #3384
@ibuildthecloud Have found something weird about this bug.

If you open a server from the hosts view, you get the websocket error. But if you choose a server from the dropdown **in** the hosts view and open another server from it, the stats are working again. And also if you switch back to the server via the drop down everything works.
Seems like only something in the call from the hosts view into

[2016-03-11 15:38] miko opened #3928 "Reporting container issues in rancher UI"
Rancher Version: v0.56.1

Docker Version: 1.9.1

OS: CentOS Linux 7

Steps to Reproduce: make 2 instances of containers with conflicting published port

Results: One container started correctly, the other one is in "Stopped" state with ip="None", sometimes " 500 Server Error". If you are lucky and fast, yaou can see in "View in API" longer version: " 500 Server Error": Internal Server Error ("fail

[2016-03-11 16:48] will-chan commented on #3925
can you provide a reason for closing this?

[2016-03-11 16:50] hibooboo2 commented on #3925
This was a message logged that wasn't truly an error. Should have been logged as debug. And is logged as such now.

[2016-03-11 17:12] deniseschannon commented on #3925
I'd like to test before we close.

[2016-03-11 17:16] deniseschannon commented on #3928
In our next release we have added the messages in the UI.
https://github.com/rancher/rancher/issues/3630

[2016-03-11 17:16] #3928 closed

[2016-03-11 17:20] prelegalwonder opened #3929 "`json unmarshall error` when using external_link to a service that was scheduled on a specific host"
Rancher Version: 0.59.1

Docker Version: 1.10.2

OS: Ubuntu 14.04.4 LTS

Steps to Reproduce:
1. create an applications stack with a service
(eg. Stack called Data, service is consul )
2. create a new stack with a container that references an external_link that exists in the first "Data" stack that is of type "service".
eg.
[code]
Results:
[code]
Service never gets activated and hangs indefinitely

[2016-03-11 17:25] deniseschannon commented on #3929
How are you creating the stack? Through the UI or Rancher-compose?

Duplicate of https://github.com/rancher/rancher/issues/2501

But I still haven't been able ot reproduce

[2016-03-11 17:28] deniseschannon commented on #3929
Also, could you share your docker-compose.yml of your other stack that you are linking the service to?

[2016-03-11 17:31] sangeethah opened #3930 "Exception seen in logs when rolling back service that are in "upgraded" state."
Server version - v0.63.0-rc3

Following exception seen multiple times  in logs when validation runs relating to rolling back services  are executed:

[code]

In this case rollback itself succeeds , but the upgraded instance was not removed successfully.

[code]

[2016-03-11 17:34] prelegalwonder commented on #3929
I'm using the Rancher UI + private catalog. Though I've confirmed the same happens if I  just drop in a docker-compose.yml contents into the "Add Stack -> docker-compose.yml dialog box".

For the first (external) Stack, I just created it via the "Data" stack via the U/I but I'll attach the exported config.

[compose.zip](https://github.com/rancher/rancher/files/169650/compose.zip)

[2016-03-11 17:36] prelegalwonder commented on #3929
Also, I just want to emphasize (because I think it may help), when I cross-stack link to a type "external" service like IP / DNS, it works fine. It's only when I cross-stack link to a type "service" do I run into the issue.

[2016-03-11 17:42] sangeethah commented on #3880
Tested with server version - V0.63.0-rc3

DNS resolution for sidekickname.servicename works as expected using dig.

[2016-03-11 17:42] #3880 closed

[2016-03-11 17:47] sangeethah commented on #3811
Tested with server version - v0.63.0-rc3
dig is able to resolve <service-name>.<stack-name> as expected.

[2016-03-11 17:47] #3811 closed

[2016-03-11 17:53] withinboredom opened #3931 "Add release notes to rc tags"
It would be super helpful if we could see which bugs are addressed in a release candidate. If I see a bug I'm experiencing is fixed in an rc, I'd be willing to update the affected install and help with verifying that it's fixed.

I think this could lead to a better rancher for everyone.

[2016-03-11 17:57] deniseschannon commented on #3929
I created your Data stack (with no issues), I then copied and pasted your new stack in the UI and no issues in my setup.

Is this a fresh install or upgraded setup? I have never been able to reproduce and it's not a rancher-compose specific error, since it's json unmarshalling error.

[2016-03-11 18:13] prelegalwonder commented on #3929
It's a fresh install.
Are you using the same version of Docker?

Maybe it's a regression or similar occurrence of [this bug](https://github.com/docker/compose/issues/2515) and I need to re-open / open a new issue in the Docker project?

What do you think? I'm hanging out in #rancher on freenode if you want to chat. nick: skel

[2016-03-11 18:27] tfiduccia opened #3932 "Machine driver state doesn't update unless I refresh"
Version: 0.63.0-rc3

Steps to Reproduce:
1.  Add a Machine Driver
2.  Wait

Results: State does not update unless I hit the browser's refresh button

Expected: Should update

[2016-03-11 18:28] deniseschannon commented on #3931
Right after a RC is cut, anything labeled "status/to-test" is ready to be tested, but as time goes on more issues that are not actually in a RC are will be added to that same label. Most of our engineers will link the relevant PR, so you can always look at when it was merged and compare it to when the RC was cut.

We typically assign these issues to our QA team to look at and we try to verify them

[2016-03-11 18:40] deniseschannon commented on #3247
@manei I am unable to reproduce.

If you are launching services, it doesn't matter what host the containers are on. It's a matter of whether the same service with the same name exists in a particular stack.  That's the only check that Rancher performs when adding services.

If you are adding containers to a specific host, there is no name restriction for standalone containers in Rancher.

<img wid

[2016-03-11 18:58] vincent99 commented on #2900
Is this still broken?

[2016-03-11 18:59] dbones commented on #3893
+1

[2016-03-11 19:03] vincent99 commented on #3199
Need api v1.1 for this..

[2016-03-11 19:24] tfiduccia commented on #3773
version - 0.63.0-rc3
Verified fixed

[2016-03-11 19:24] #3773 closed

[2016-03-11 19:30] tfiduccia commented on #3275
So what did we do?

[2016-03-11 19:57] tfiduccia commented on #3915
Version - 0.63.0-rc3
Not fixed

Comment - only 1 machine driver is working at a time.  James informed and looking at it.

[2016-03-11 19:58] sangeethah opened #3933 "On upgraded setup v0.59.0->v0.63.0-rc3 , all health check enabled instances get deleted and recreated."
Fresh install - v0.59.0
Had 2 health check enabled global services.
Had 1 LB that was global.
Had many other global services and services that are not have health check enabled.

upgraded setup v0.59.0->v0.63.0-rc3

After upgrade , LB service and the health check enabled services went to degraded state.
Healthy instances got destroyed and recreated.
After a while , they got back to healthy state.

[2016-03-11 20:30] sangeethah commented on #3915
Fresh set up of rancher-server version - v0.59.1
Had 1 amazon host added
Upgraded to v0.63.0-rc3
Tried to add packets host.
Host addition failed with error "Validation failed in API: DriverConfigExactlyOneRequired"

[2016-03-11 20:48] vincent99 opened #3934 "Expand all on process execution doesn't expand all"
It seems to stop after 3 levels deep or so.

[2016-03-11 21:11] gcallsen commented on #2383
+1 to the 'Lock" concept. Regardless of user, it would be fantastic to lock against accidentally stopping a Stack or Service (similar to how AWS has termination protection in a sense).  This is particularly helpful for mission critical stacks/services like a database.  We just accidentally clicked "Stop" on a whole cassandra cluster stack - so this is coming from experience!

[2016-03-11 21:17] vincent99 commented on #681
![image](https://cloud.githubusercontent.com/assets/753917/13715603/12389392-e793-11e5-898a-e1998af73e5f.png)

![image](https://cloud.githubusercontent.com/assets/753917/13715605/1aa44fda-e793-11e5-8710-1bae009527d5.png)

[2016-03-11 21:23] vincent99 commented on #2383
@gcallsen FYI there's a confirm modal now for that in either the last or next release.

[2016-03-11 21:26] gcallsen commented on #2383
@vincent99 - great, thank you for heads up!  I'd love the 'Lock' feature to still be considered for a future release only because it's easy to get on 'Auto Pilot' and dismiss modals without really reading the message.  That's clearly user-error but this would be a key feature to 'save you from yourself' when running production apps.

[2016-03-11 21:34] tfiduccia commented on #2900
I retested and it still has the same problem.  The flavorid, imageid, type and zoneid are not being passed through in the machine post.

[2016-03-11 21:46] tfiduccia commented on #3060
Retested this and I still can't get exoscale hosts to setup.  Error = Unsupported type: []interface {}

[2016-03-11 22:15] vincent99 commented on #3924
Fair enough; this won't make it in until after 0.63, and I'm not entirely sure it will actually fix your issue because it says the origin is `file://` in the error somewhow, but... https://github.com/rancher/rancher-metadata/pull/10

[2016-03-11 22:30] tfiduccia opened #3935 "If I add/delete/retry machine driver, it kills GMS"
Version - 0.63.0-rc3

Steps to Reproduce:
1.  add/remove/retry machine driver while adding/deleting hosts on host page

Results: Machine driver kills GMS so host request gets killed and does not resume

Expected: Should not kill GMS

[2016-03-11 22:36] tfiduccia opened #3936 "Should not be able to create Machine with same name"
Version - 0.63.0-rc3

Steps to Reproduce:
1.  create a machine driver
2.  Create another one with same name

Results: Lets you create two with same name

Expected: Should not be able to have two with same name?

[2016-03-11 22:43] prachidamle opened #3937 "Exclude internal rancher 'io.rancher.service.hash' label from exported config yml files"
On config export we should skip the label `io.rancher.service.hash`.  rancher-compose uses this for internal tracking and this should not be added to the compose files exported by cattle

[2016-03-11 23:11] nhumrich commented on #3806
I am sure they should be able to access each other on every port.
One reason I know that is, everything was working OK before, and I haven't changed any firewall settings on aws.
Why would they use the public IP address instead of the private? Not sure how to change that, but it shouldn't matter.
I will try to open 500 and 4500 to the public and see if that helps.

[2016-03-11 23:15] remkade commented on #3784
This was a misconfiguration with nginx. I was redirecting :80 -> :443, although I don't know why a 401 was being triggered for this.

[2016-03-11 23:16] tfiduccia opened #3938 "Removed machine driver doesn't get removed from disk"
Version - 0.63.0-rc3

Steps to Reproduce:
1.  Add a machine driver
2.  Remove the machine driver

Results: Machine driver is removed from UI and schema but not from disk

Expected: Should be removed from disk

[2016-03-11 23:26] vincent99 commented on #1175
How about I tell you all the bad characters at once...

![image](https://cloud.githubusercontent.com/assets/753917/13718306/058fe24a-e7a6-11e5-9fcb-d7a4b9d3fa6e.png)

[2016-03-11 23:30] vincent99 commented on #249
While still possible if you go looking for it, I think this is obsolete now with the splash screens telling you to add a host and it actually attempting to create and going to error instead of blowing up with a weird error...

[2016-03-11 23:30] #249 closed

[2016-03-11 23:49] #2923 closed

[2016-03-12 00:01] sshipway commented on #3922
On my setup, it seemed to affect only a few instances of certain services.  When I deleted those specific containers, the scheduler re-created them and it worked OK.

[2016-03-12 00:22] sangeethah opened #3939 "upgrade from 0.59.0 -> 0.63.0-rc3 -> When service is cloned, vip gets set on this service resulting in DNS resolution to fail."
Fresh set up of 0.59.0

Created 2 service web1 and web2.

Upgraded set up to 0.63.0-rc3

Created a Service Alias - WEB1 to web1 and web2.

Dig on WEB1 resolved to all the ips of containers from web1 and web2.

From UI, Cloned web1 and created it as service web3.

Linked web3 to Service Alias - WEB1.

Dig on WEB1 now resolves to only VIP that is assigned to web3.

There are 2 issues that need to be

[2016-03-12 00:25] sangeethah opened #3940 "When service has VIP set, DNS resolution on Service Alias it is linked to is incorrect."
Fresh set up of 0.59.0

Created 2 service web1 and web2.

Upgraded set up to 0.63.0-rc3

Created a Service Alias - WEB1 to web1 and web2.

Dig on WEB1 resolved to all the ips of containers from web1 and web2.

From UI, Cloned web1 and created it as service web3.

web3 service got a VIP assigned.

Linked web3 to Service Alias - WEB1.

Dig on WEB1 now resolves to only VIP that is assigned to web3.

[2016-03-12 00:32] sangeethah opened #3941 "Lost host connectivity between 2 of the host in a setup with 3 hosts."
Fresh install of v0.59.1.

Had 3 hosts and connectivity between them were working as expected.
Created few services.

Upgraded to v0.63.0-rc3.

After sometime , Lost host connectivity between 2 of the host in a setup with 3 hosts.

3 hosts in the set up - sangee0591-10acre-1, sangee0591-10acre-2 and sangee0591-10acre-3

Connectivity between sangee0591-10acre-2 and sangee0591-10acre-3 is lost.

swa

[2016-03-12 00:38] alena1108 commented on #3922
@sshipway did your problematic services have health checks enabled?

[2016-03-12 01:49] flaccid commented on #3668
@cedvan if not specifically the problem in this issue probably best to raise a separate one or post on the forums. I'm just the guy that reported the original issue.

[2016-03-12 02:07] ibuildthecloud commented on #3668
@cedvan. You kernel doesn't support IPSec.  What host OS are you running

[2016-03-12 02:10] ibuildthecloud commented on #3668
@flaccid I think the issue here is that /var/run in the network agent is not deleted on restart and that messes up the PID files.  I'm going to change the way we use monit to not use pid files.  Also cleanup that folder.

[2016-03-12 02:14] flaccid commented on #3668
Sounds good to me ☺

[2016-03-12 02:15] tfiduccia opened #3942 "With fresh install, ubiquity driver goes to error and can't be seen in Add host"
Version - 0.63.0-rc4

Steps to Reproduce:
1.  Install rancher
2.  Go to Add Host (notice ubiquity is not there)
3.  Go to Setting

Results: Ubiquity is in Error, if I hit retry it goes to active and I'm able to see it in Add hosts.

Expected: Ubiquity should not be in Error.

[2016-03-12 02:15] egnoriega opened #3943 "When starting a multi-container service with rancher-compose, some containers are removed on start"
I'm trying to start a complex set of containers, which includes a number of sidekicks as data-containers.  Some of the containers are removed without specific explanation (or I'm not sure why anyway). I'm include a copy of the rancher-compose file, if anyone sees something wrong.

[code]

---
| Useful | Info |
| :-- | :-- |
|Versions|Rancher `v0.59.1` Cattle: `v0.148.1` UI: `v0.90.0` |
|Access|`lo

[2016-03-12 02:28] prachidamle commented on #3244
This seems to be more of an issue with rancher-compose tool. I tested the following docker-compose.yml with rancher-compose tool and this is what it prints out:

< docker-compose.yml:

ssl-proxy:
  2   image: sshipway/nginx:${nginx_version}
  3   tty: true
  4   stdin_open: true
  5   environment:
  6     NGINX_CONFIG: proxy_set_header X-Forwarded-Host $$http_host;

<
$ ./rancher-compose --file "d

[2016-03-12 02:32] prachidamle commented on #3244
Also in top of rancher-compose fix, cattle will probably need a small fix to keep the $ to be not replaced by $$. But that should be a small fix on top of compose fix.

[2016-03-12 02:33] prachidamle commented on #3244
@deniseschannon please assign this to rancher-compose owners.

[2016-03-12 02:46] prachidamle commented on #3244
This is ths data cattle gets from rancher-compose. Note the missing $http_host

{"fields":{"scale":1,"launchConfig":{"environment":{**"NGINX_CONFIG":"proxy_set_header X-Forwarded-Host ;"**},"imageUuid":"docker:sshipway/nginx:1.9.9","labels":{"io.rancher.service.hash":"b88a824d38f7d3ad5acfdd3133d2efe918631e03"},"logConfig":{},"networkMode":"managed","startOnCreate":true,"stdinOpen":true,"tty":true,

[2016-03-12 02:49] sangeethah commented on #3933
Tested upgrade from v0.59.0->v0.63.0-rc3 , none of the health check enabled instances get deleted and recreated after the set up was upgraded. They all remained healthy.

Had a setup with 4 hosts.
Had 2 global services with health check enabled.
Had 1 global Lb service with the above 2 services as target.

None of these instances got recreated after upgrade.
All instances of LB are functional and

[2016-03-12 02:49] #3933 closed

[2016-03-12 03:03] deniseschannon commented on #3244
@joshwget Can you take a look?

[2016-03-12 03:27] sangeethah commented on #3939
Fresh set up of 0.59.0

Created 2 service web1 and web2.

Upgraded set up to 0.63.0-rc3

Created a Service Alias - "hello" to web1 and web2.

Dig on "hello" resolved to all the ips of containers from web1 and web2.

From UI, Cloned web1 and created it as service web3.

Linked web3 to Service Alias - "hello".

Dig on "hello" resolves to all the ips of containers from web1,web2 and web3.

[2016-03-12 03:27] #3939 closed

[2016-03-12 04:21] joshwget commented on #3244
@prachidamle Substituting a blank value for missing variables is actually the expected behavior. `$` being replaced by `$$` in Cattle might actually be correct behavior as well. When `$$` occurs in a Compose file, it is replaced with a `$` by Rancher Compsoe. Since Cattle is trying to rebuild what the original configuration looked like, doing the reverse is probably correct.

I agree that it's ess

[2016-03-12 04:47] vincent99 commented on #2360
As an option if you hold the alternate key (Cmd on mac, Ctrl on others) while clicking the action, with a ProTip in the dialog to tell you about it.

[2016-03-12 07:06] will-chan commented on #3915
Closing as this has now been verified.

[2016-03-12 07:06] #3915 closed

[2016-03-12 07:19] prachidamle commented on #3244
Yeah I agree  @joshwget, actually the current design in cattle to replace a $ by $$ is actually intended to keep the compose files intact. This bug and PR explains that:
https://github.com/rancher/cattle/pull/956
https://github.com/rancher/rancher/issues/2351

So I think for now, its not possible to input a $$ in compose file and expect it to turn into a single $ while exporting the config. That r

[2016-03-12 09:10] hwinkel opened #3944 "UI: Stop button for stack does not work anymore"
Rancher Version: 0.63

Docker Version: 1.10.2

OS: n/a but browser is Chrome for Mac Version 48.0.2564.116 (64-bit)

Steps to Reproduce: Click on the global stack stop button or dropdown

Results: Confirmation dialog pops up, after confirm no services are stopped. Stopping individual services works after confirmation

Expected: Clicking Stack Stop should stop all Services after confirmation

[2016-03-12 09:16] hwinkel commented on #3944
Thats only true for certain stacks, here the files of a affected test stack:

docker-compose
[code]

rancher-compose

[code]

[2016-03-12 09:20] hwinkel opened #3945 "UI: Host view Status changed?"
Rancher Version: 0.63

Docker Version: n/a

OS: Chrome Version 48.0.2564.116 (64-bit)

Steps to Reproduce: show host view

Results: the formally GREEN or RED Indicators for ACTVE are just text now

Expected: is this expected behaviour and changed in 0.63? the Host State  in 0.59.1 was much more visible before

[2016-03-12 09:32] hwinkel opened #3946 "Cattle: A lot off error exception in the console"
Rancher Version: 0.63

Docker Version: 1.10.2 / 1.9

OS: Ubuntu 14.04.4

Steps to Reproduce: attach to rancher/server container and look at the console

Results: a lot of Java Error Exceptions like:

[code]

Expected: just logging

[2016-03-12 09:39] hwinkel opened #3947 "RFE: Operations on multiple entities"
Rancher Version: 0.63

It would be great to habe operations for multiple selected entities from the UI. Like Selecting a number of container to Stop, delete and Purge them. Basically means to have a option to select a number of entities from a list and perform certain actions on it.

Having the action button and dropdown in the row of the entity does not really allow that from a UX perspective. Ha

[2016-03-12 10:29] manei commented on #3247
@deniseschannon thanks for the quick response
I'm using docker version 1.10.0 and it seems is actually a docker issue. It was really weird that rancher complained about not being able to deploy a container because the name it wanted to assign to it was already used by another container with an id which did not exist in docker engine.

[2016-03-12 14:44] vincent99 commented on #3947
Duplicate of #342

[2016-03-12 14:44] #3947 closed

[2016-03-12 14:51] vincent99 commented on #3945
Only the green style changed; it is de-emphasized (text color instead of background) so that the others will stand out, especially if you're color blind.  Try deactivating a host.

[2016-03-12 15:33] TheRubble commented on #3384
I've noticed I only seem to get this with boxes on some hosts. I have 3 in Digital Ocean, 1 in Linode and a final cheap dev box running in kimsufi.

I cannot get any of the graphs working on the kimsufi box. I've checked firewalls etc.. but no luck.

Host : KimSufi
Kernel :  3.16.0-4-amd64
OS : Debian GNU/Linux 8 (jessie)

`/v1/hoststats?token=eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjE0NTc3OTcwNTYsInN1YiI6I

[2016-03-12 15:39] wzrdtales commented on #3384
Another bit of information from me:

Have tested it now. With debian wheezy, no problems. With debian jessie, this problem occurs. Seems like there are some incompatibilities in the new debian.

[2016-03-12 18:29] alena1108 commented on #3944
Not a UI, but a cattle server issue. Addressed with https://github.com/rancher/cattle/pull/1474

[2016-03-12 18:40] cjellick commented on #3337
Steps to repro/test:

1. Create a container with a convoy-nfs volume
2. Delete and Purge the container
3. Go to host and do a `docker volume rm <vol name>`
4. Back in Rancher UI, delete and purge the volume
5. On you NFS server, check that the directory for the volume is gone (it will have the same name as the volume)

In the interest of full disclosure: We fixed this by ignoring docker deletes fo

[2016-03-12 18:48] demarant commented on #2096
+1

[2016-03-12 20:03] janeczku commented on #2734
[![Let's Encrypt for Rancher](https://raw.githubusercontent.com/janeczku/rancher-letsencrypt/master/hero.png)](https://github.com/janeczku/rancher-letsencrypt)

Let's Encrypt is now available in Rancher's community catalog! Have a nice weekend guys!

[2016-03-12 21:07] sebastien-lemarinel commented on #2734
Thx ;)

[2016-03-12 21:09] seb2411 commented on #2734
Thx ;)

[2016-03-12 22:15] vincent99 commented on #2734
Thanks @janeczku

[2016-03-12 22:15] #2734 closed

[2016-03-12 23:21] fedya opened #3948 "rancher webui stop working after upgrade"
Rancher Version: v0.63.0
Docker Version: 1.10.2
OS:  OpenMandriva 2014.0

Steps to Reproduce: run 0.59.0 rancher, upgrade to 0.63.0
Results: webui not working
Expected: webui working

[code]

On my server 8080 port i see ERR_CONNECTION_REFUSED

[2016-03-12 23:29] fedya commented on #3948
I think something wrong in data container, because of clean server working fine.

[2016-03-12 23:35] cjellick commented on #3232
This is fixed by implementing the docker 1.10 volume plugin Get and List methods.
As soon as you do a `convoy delete`, the volume is gone from `docker volume ls`.

This bug manifested itself as a rancher volume purge sometimes hanging forever. Testing this explicilty requires a contrived scenario. Here it is:

1. Deploy a container in rancher with a convoy-nfs volume (we'll call it foo).
1. Delete

[2016-03-12 23:42] cjellick commented on #3343
I believe this is a dupe of #3099. I'm going to close this in favor of that one @Kanshiroron.

[2016-03-12 23:42] #3343 closed

[2016-03-12 23:43] cjellick commented on #3099
Going to attempt to fix by doing an nsenter of the network namespace when we do the mount (I think).

[2016-03-13 00:11] fedya commented on #3948
[code]

I found only this
https://github.com/tananaev/traccar/issues/675

[2016-03-13 00:31] ibuildthecloud commented on #3946
https://github.com/rancher/cattle/pull/1429

[2016-03-13 00:35] ibuildthecloud commented on #3946
@hwinkel This exception will be addressed, I just merged a fix from @alena1108.  I'm curious though about

[code]

I've seen that on some people machines, but never happens to myself.  Would you happen to have any insight around that error.  I'll start looking digging around.

[2016-03-13 01:15] fedya commented on #3948
Well unlocking database not helped me

`2016-03-13 01:11:03,025 ERROR [:] [] [] [] [main           ] [liquibase                           ] classpath:db/changelog.xml: db/core-076.xml::dump1::wizardofmath (generated): Change Set db/core-076.xml::dump1::wizardofmath (generated) failed.  Error: Error executing SQL ALTER TABLE cattle.process_execution ADD created datetime NULL: Can't create table 'ca

[2016-03-13 03:14] mugli commented on #619
So is this feature planned? Any hint when we can expect this to be added?

I'm new to rancher, maybe 'release/future' label is supposed to answer that, I'm not familiar with its semantics.

[2016-03-13 03:41] alena1108 commented on #3948
@fedya could you check how many records your process_execution table has

[2016-03-13 03:57] xaka opened #3949 "rancher/server crashes due to database timeout error due to long migration process"
Rancher Version: 0.63

Docker Version: 1.9.1

OS: Ubuntu 14.04

-

Table `process_execution` has only 5000 rows, but as those contain Java exceptions (a lot data to move during altering process) and database server isn't that fast (i allocated small chunk of CPU/RAM), it takes up to 3 minutes to finish `ALTER TABLE process_execution ADD created datetime NULL`. rancher/server doesn't wait long enou

[2016-03-13 04:16] ibuildthecloud commented on #3948
@fedya Sometimes that table is way too big.  It's kind of a catch 22 we created here.  We added a column to that table so we can purge it based on time, but if the table is too big the migration fails to add the column so we can clean the table....

Anyhow, typically a simple fix.  Just `TRUNCATE process_execution`

[2016-03-13 07:23] ibuildthecloud opened #3950 "Create a stack in the UI with invalid yaml or errors in the services and stuck in Activating"

[2016-03-13 08:39] looztra commented on #2628
Same problem for me (and same working fix) with latest version v0.63.0

[2016-03-13 10:50] teon commented on #3949
+1

[2016-03-13 11:48] JayHaoDing commented on #3924
I was also bit confused why the log showed file:// although only http:// was used in the code.
Thanks for the fix :)

[2016-03-13 12:48] fedya commented on #3948
@ibuildthecloud
What i did:
run previous working version of rancher
`# docker run -ti --volumes-from rancher-data -p 8080:8080 rancher/server:v0.59.1`

connected to container with
`docker exec -ti 35fa4cb02d76 mysql`
[code]
And i have this if i run latest release image:

if this rancher/server:v0.61.0-rc1
all working as expected

@alena1108

[code]

[2016-03-13 13:32] feliksik commented on #132
Just a gentle reminder before releasing a 1.0: This was was a critical bug when we tried to use Rancher.

Even when this is an unfixed Docker bug, it may be possible to behave slightly more defensive, if you think it may still occur.

[2016-03-13 14:04] teon commented on #3949
Although I have a very fast cpu and a lot of ram, but still after few minutes there's an exception

[2016-03-13 14:11] Verikon opened #3951 "Rancher compose variables for external_links do not work"
Rancher Version: v0.59.1
Docker Version: 1.10.2, build c3959b1
OS: Ubuntu 14.04

Steps to Reproduce:
- Produce a private catalog , and item with the compose files below.
- Add a service (Mongo in this example)
- Deploy from catalog

Results:
- answers.txt (in the catalog preview) shows the correctly selected service in its external representation; eg: (Stackname/Mongo-Service).
- the resulting con

[2016-03-13 14:27] hwinkel opened #3952 "K8s: kubelet does not start"
Rancher Version: 0.63

Docker Version: 1.10.2

OS: CoreOS alpha 998

Steps to Reproduce: Create New Kubernetes Env. and add hosts.

Results: all services are started on the first host. kubelet on the 2nd. On both hosts the kubelet service cylces through start procedure with an error message in the log below

Expected: kubelet will start

Log Messages:

`time="2016-03-13T14:20:34Z" level=fatal msg=

[2016-03-13 14:31] clescot commented on #3384
same issue with ubuntu server 15.10 and rancher:v0.63 on the kimsufi provider.
kernel :  3.14.32-xxxx-grs-ipv6-64 (kernel patched by kimsufi with security updates).
The trick with the drop down list works too.
Charles.

[2016-03-13 14:49] dkiser commented on #3384
@wzrdtales - confirmed the dropdown trick works for me on the CentOS setup reported earlier in the thread.

@ibuildthecloud - maybe a UUID for a resource got lost in translation between the infra views and the dropdown?

[2016-03-13 14:57] ibuildthecloud commented on #619
This is a highly requested feature so we will add it.  `release/future` just means "not 1.0."   1.0 is due at end of this month and we are past feature freeze.  I'd really hope we could address this shortly after, right now we are narrowly focused on 1.0 so we haven't started looking post 1.0.  I will say that this feature was supposed to be in 1.0 but we ran out of time.

[2016-03-13 15:03] alex88 commented on #2628
I won't call if a bug, probably it takes a few seconds to the name to resolve correctly, the thing is the nginx configuration is not so straightforward

[2016-03-13 15:17] ibuildthecloud commented on #3952
Shoot... I know exactly what is wrong.  We might do a 0.63.1 to address this.

[2016-03-13 15:23] DaveBlooman opened #3953 "K8S - kubectl CLI unable to connect"
Rancher Version: 0.63

Docker Version: 1.9.1

OS: Rancher - 4.2.3 Server - OSX local

Steps to Reproduce:

1. Create K8s cluster
2. Copy config from kubectl window to local machine.
3. Attempt to run any kubectl command, e.g ` kubectl version`

Results: `error: couldn't read version from server: an error on the server has prevented the request from succeeding`

Expected:  kubectl to show client an

[2016-03-13 15:28] ibuildthecloud commented on #3953
Kubectl only allows sending credentials if the server is SSL.  This means you need to run rancher behind SSL.  Refer to http://docs.rancher.com/rancher/installing-rancher/installing-server/basic-ssl-config/ for more info about SSL.

[2016-03-13 15:30] ibuildthecloud commented on #3953
We have a new CLI coming for Rancher that will allow you to do `rancher kubectl get po` that will make this process easier.

[2016-03-13 15:36] hwinkel commented on #3952
@ibuildthecloud great to know you know :+1:

[2016-03-13 15:37] hwinkel commented on #3952
there is no software without a .1 release... ;-)

[2016-03-13 16:45] xaka commented on #3949
Robert,

There is bigger issue. After crash there is lock that rancher is going to
wait for forever. You can remove it manually by reading documentation, but
as alter table is done and due to crash there is no record about successful
migration, you end up with infinite loop of crashes.

My workaround was to stop server, rollback database, remove all records
from that table and start server with ne

[2016-03-13 16:53] ibuildthecloud commented on #3949
We will do a v0.63.1 to address this.  Sorry for the troubles.

[2016-03-13 16:57] xaka commented on #3949
@ibuildthecloud I'd recommend to add extra info about migration process to log at startup time as it wasn't clear at the beginning why server isn't moving further and stuck at "Loading configuration" or something.

[2016-03-13 17:00] ibuildthecloud commented on #3949
@xaka Excellent point, will do.  Thanks, and again sorry for the issues here.

[2016-03-13 17:51] deniseschannon commented on #3943
Which containers are being removed? It is the container or service?

[2016-03-13 17:59] will-chan commented on #3244
This may be as designed, but it does not solve the original problem of getting $whatever to show up as-is?  Can we use one of @sshipway proposals?

[2016-03-13 18:20] deniseschannon commented on #3726
@Anandraj-Madasamy With v0.63.0, could you please re-test?

[2016-03-13 18:22] deniseschannon commented on #3631
@dbuschman7 @egwada With v0.63.0 release, could you please test and let us know if it works?

[2016-03-13 18:23] deniseschannon commented on #3556
@janeczku With v0.63.0, could you please test and let me know if it works?

[2016-03-13 18:24] deniseschannon commented on #3553
@janeczku With v0.63.0, could you please test and let me know if it works as expected?

[2016-03-13 18:25] deniseschannon commented on #3233
@kilokill With v0.63.0 released, could you please test and let me know if it's working? Docker-machine has been updated.

[2016-03-13 18:25] deniseschannon commented on #1284
@jwhitcraft Please let me know if you'd be able to test with v0.63.0.

[2016-03-13 18:29] deniseschannon commented on #3951
Duplicate of https://github.com/rancher/rancher/issues/3929

[2016-03-13 18:29] #3951 closed

[2016-03-13 18:33] deniseschannon commented on #3945
<img width="354" alt="screen shot 2016-03-13 at 11 33 04 am" src="https://cloud.githubusercontent.com/assets/11410997/13730540/64e8f776-e90f-11e5-9dfe-cb38626137d7.png">

<img width="350" alt="screen shot 2016-03-13 at 11 33 10 am" src="https://cloud.githubusercontent.com/assets/11410997/13730541/67ba5ec2-e90f-11e5-81bc-14f37696e8bb.png">

[2016-03-13 18:33] #3945 closed

[2016-03-13 18:37] deniseschannon commented on #3925
No longer seeing anything in the logs. Tested v0.59.1 -> v0.63.0-rc4

[2016-03-13 18:37] #3925 closed

[2016-03-13 18:58] Verikon commented on #3929
I created a private repo to test this issue against, https://github.com/Verikon/rancher-test-catalogue.

In theory you should be able to add this github repo as a private registry, and deploy the container, pinging a hostname of "mongo" from within.

[2016-03-13 19:07] cjellick commented on #3475
Moving out of GA. Here's is our theoretical solutoin:
in host-api, watch for stop and remove docker events if a container that has sidekicks that shares a net namespace gets stopped or removed, then stop/remove the sidekick

[2016-03-13 19:25] theit8514 opened #3954 "[rancher-dns] External DNS removes records not related to Rancher"
Rancher Version: 0.63.0 and rancher/external-dns:v0.2.1

Docker Version: 1.10.1

OS: RancherOS

Steps to Reproduce:
1. Setup up AWS domain, add A record for test-default.domain.com
2. Ensure Rancher has environment named Default.
3. Set up Route53 external dns container for domain.

Results:
Route53 external dns removes record test-default.

    3/13/2016 3:00:29 PMtime="2016-03-13T19:00:29Z" leve

[2016-03-13 20:04] #3931 closed

[2016-03-13 20:06] deniseschannon commented on #3357
Also, what is in your rancher-compose.yml?

[2016-03-13 20:09] cloudguru-bb commented on #3357
Denise,

The issue appears to be resolved after your recent release .

Please close this ticket .

Brian

Sent from my iPhone

[2016-03-13 20:10] #3357 closed

[2016-03-13 20:12] deniseschannon commented on #3420
@goodspd This sounds more like an issue with RancherOS working under VMware. Would you be okay with creating an issue in rancher/os instead?

[2016-03-13 20:13] deniseschannon commented on #3497
@jloisel Are you still facing this issue? Is there any kind of similarity between the machines that have no connection versus the ones that do?

[2016-03-13 20:25] deniseschannon commented on #3513
Are there any health checks on these instances? I know it's a global=true.

@sangeethah had filed https://github.com/rancher/rancher/issues/3513 recently that reminded me of this one (took me awhile to finally link the two).

@sshipway Let me know if you keep seeing this as I haven't been able to reproduce yet.

[2016-03-13 20:25] deniseschannon commented on #3518
@withinboredom Please re-open if you can provide more details as mentioned, I was unable to reproduce.

[2016-03-13 20:25] #3518 closed

[2016-03-13 20:31] deniseschannon commented on #3675
I have been unable to reproduce. If you can reproduce, please re-open.

[2016-03-13 20:31] #3675 closed

[2016-03-13 20:54] deniseschannon commented on #3689
Using v0.63.0, I am unable to reproduce. I used a simpler service with a sidekick that had health check enabled

[code]

[code]

[2016-03-13 20:55] deniseschannon commented on #3701
@yunspace Please re-open if you are able to reproduce with v0.59.1+. Our current latest is v0.63.0

[2016-03-13 20:55] #3701 closed

[2016-03-13 20:56] egnoriega commented on #3943
Hi Denise. It's the containers labeled output, param and input-helper; he
get added, but then are removed.  They show up under info with zero
containers.  The other containers spin up normally (...eventually they give
up and exit).

This is what is seen during service activation; the last three tabs are the
same:

​

On Mar 13, 2016 1:51 PM, "Denise" <notifications@github.com> wrote:

[2016-03-13 21:04] cjellick commented on #3154
After upgrading to the latest version of convoy (`v0.4.4-rc2`) and making a number of other changes to convoy-agent, I cannot reproduce this. So, I'm calling it fixed.

[2016-03-13 21:23] deniseschannon commented on #3905
@protheusfr Apologies as I spoke with @ibuildthecloud and he mentioned that Rancher itself will not be able to support mac addresses.

Sorry for any confusion.

[2016-03-13 21:23] #3905 closed

[2016-03-13 21:30] janeczku commented on #3556
1. Added new certificate resource
2. Updated certificate resource with a renewed certificate using API web interface
3. Checked that the certificate property fields of the resource were updated

Works as expected @deniseschannon

[2016-03-13 21:31] deniseschannon commented on #3556
Thanks for testing @janeczku

[2016-03-13 21:31] #3556 closed

[2016-03-13 21:35] deniseschannon commented on #3943
Would you be able to try using v0.63.0? We introduced an error state and gives users a lot more information about what could have gone wrong. I have tried using your docker-compose.yml in a simpler form (no scheduling rules and deleted some commands).

Quick note on your docker-compose.yml. Since you have a sidekick on all your services, you only need the scheduling rule on the main service `model

[2016-03-13 21:38] janeczku commented on #3553
1. Added new certificate resource
2. Updated certificate resource with a renewed certificate **and new private key** using API web interface
3. Checked that operation succeeded

Works as expected @deniseschannon

[2016-03-13 21:38] egnoriega commented on #3943
Ok, well more information:  I have been able to get the following message back:
` Removed (Image [snip/uiio_output:latest] failed to pull: Error: Status 403 trying to pull repository snip/uiio_output: "\"The Repository is Locked, access denied\"")
Host:`

So it looks like Docker HUB is the central problem at this point. (I assumed it was a rancher issue since I could not get a clear message and th

[2016-03-13 21:44] willseward opened #3955 "Rancher Catalogs do not respect capitalization in url requests"
Rancher Version: v0.63.0

Steps to Reproduce:  Name a catalog "ExampleCatalog"

Results: Catalog items will populate, but they cannot be launched from the UI because the api request will look for "example:item:0" not "Example:item:0"

[2016-03-13 22:18] cjellick commented on #3334
Closing as duplicate of #3333.

When cattle goes down and comes back up, the storage pool agent container will be replaced, but it will come back up as healthy and be associated with the existing storage pool.

[2016-03-13 22:18] #3334 closed

[2016-03-13 22:28] egnoriega commented on #3943
Yup, it turns out to be Docker HUB locking the repo.  There is a timing issue if you run low on private repos -- I deleted the repo, created it manually, and pushed again.  The containers start correctly. I've removed the extra scheduling labels just to clean things up.  The main process seems to restart even though I'm asking it not to, but that's a different problem.  Thanks much for your time o

[2016-03-13 22:33] cjellick commented on #2918
Note to self, when this is implemented, make sure to let @vincent99 know.

[2016-03-13 23:06] ibuildthecloud commented on #2918
Note to @vincent99, @cjellick will tell you when you need to implement this :)

[2016-03-14 00:39] alena1108 commented on #3954
Duplicate of of https://github.com/rancher/rancher/issues/3716; we are going to address it soon.

[2016-03-14 00:39] #3954 closed

[2016-03-14 01:57] janeczku opened #3956 "[go-machine-service] Adding machine driver fails with checksum error"
Rancher Version:
v0.63.0
Docker Version:
1.9.1
OS:
Ubuntu 14.04-64bit

**Steps to Reproduce**
Add a new machine driver using the following parameters:

[code]
**Results**
Fails with checksum error:

**Expected**
No error. The supplied checksum is correct.

[2016-03-14 02:49] vincent99 commented on #3956
@janeczku Lies? :smile:

[code]

[2016-03-14 02:58] vincent99 commented on #3956
Oh, your published list is the md5 of the `.tar`, not the `.tar.gz` that's actually downloaded.

BTW we used your driver for QA to test custom drivers, but apparently they didn't try the supplied checksums :smile:

[2016-03-14 03:01] prelegalwonder commented on #3929
FYI, I completely blew away my rancher setup, and installed v0.63.0 fresh and I can no longer create this issue. When I have some time, I'll go back and try again with v0.59.1

[2016-03-14 03:04] vincent99 commented on #3275
None of those things, as far as I can remember?

[2016-03-14 03:38] #3943 closed

[2016-03-14 04:56] deniseschannon opened #3957 "Other machine drivers aren't populating in the UI after selecting the "None" driver"
Rancher Version:
v0.63.0

Steps to Reproduce:
1. Click to add Host
2. Select "Other"
3. Use dropdown for driver to select `None`. Afterwards, the other drivers are not populating correctly.

Results:
The questions/answers remain blank.

<img width="811" alt="screen shot 2016-03-13 at 9 55 23 pm" src="https://cloud.githubusercontent.com/assets/11410997/13735405/55826ff4-e966-11e5-8688-8ae3781f5beb.

[2016-03-14 07:54] kaos commented on #3618
confirmed :dart: :+1: :smile:

[2016-03-14 09:05] tombmurphy opened #3958 "Target service in rancher-instance haproxy.cfg gets removed if backend is unhealthy"
Rancher Version: v0.59.1
Docker Version: 1.10.2, build c3959b1
OS: Ubuntu 14.04.4 LTS

Steps to Reproduce:
Add a Load Balancer service which targets another service. Then "stop" the target service.

Results:
frontend backend sections are entirely removed from the Load Balancer service haproxy.cfg

Expected:
Depending on how you see haproxy's behaviour, I'd expect the frontend and backend sections

[2016-03-14 09:17] joostliketoast commented on #3670
i think its related to this issue https://github.com/rancher/rancher/issues/3750
the screenshot on there also has the specs of the hosts

[2016-03-14 09:40] goodspd commented on #3420
Hi,

I found the problem in rancher forums. This happens when we run ping without "sudo".

[2016-03-14 10:16] Snake4life commented on #3893
+1

[2016-03-14 10:20] sjiveson commented on #3689
Thanks Denise, I'll see if we can upgrade, re-test if we can and report back.

[2016-03-14 12:29] janeczku commented on #3956
:stuck_out_tongue_winking_eye: Haha, golden. Apparently Safari gunzips `.tar.gz` downloads and then stores them as `.tar`. And i almost believed in a checksum conspiracy....

[2016-03-14 12:29] #3956 closed

[2016-03-14 12:41] janeczku commented on #3956
Works as expected after supplying the correct checksum.

![screenc](https://cloud.githubusercontent.com/assets/3813921/13744760/5089426e-e9ea-11e5-917e-0bee8c90cc4a.png)

[2016-03-14 13:04] Verikon commented on #3929
@prelegalwonder , thanks - i'll give that a try then.

[2016-03-14 13:48] jloisel commented on #3497
I haven't reproduced it yet. Once we got it working by launching other amazon instances, it ended up working. Some amazon machines won't work, while others just work fine. It's difficult to reproduce as the issues appears randomly. All machines configuration were the same: a simple ubuntu 14.04LTS with docker installed (1.9.1, and now 1.10), and NTP server for time sync.

[2016-03-14 13:56] Rucknar commented on #3950
I've seen this a few times also. Occasionally you can see an error around the yaml syntax when your launching the stack but not always.

We've ended up adding a validate script we run before initiating compose that validates the yaml file using a ruby gem.

[2016-03-14 14:13] kjones1876 commented on #3126
+1

[2016-03-14 14:32] Verikon commented on #3929
Confirm that, I do NOT experience a problem when running v0.63.0.

[2016-03-14 16:10] ppiccolo commented on #3255
:+1:

[2016-03-14 17:12] joshwget commented on #3244
I think @prachidamle is correct that escaping a `$` character is working correctly. Getting `$whatever` to show up in the exported config is tricky because it's replaced with the environment variable value in Rancher Compose before Cattle ever sees the service.

[2016-03-14 17:32] vincent99 commented on #3651
I think this will be fixed by not creating a new admin account when turning auth on...

[2016-03-14 17:45] alena1108 commented on #3716
We are going to apply following fix for now - remove only records that:

* end with *.envName.domain.com - with . prepended
* only having TTL = TTL defined on the template

And TTL on the template will be changed to non-trivial 299. That fix should cover the majority of the user cases.

In the future, we might rework it by saving all A records generated by Rancher, in a single rancher-config TXT r

[2016-03-14 17:49] alena1108 commented on #3716
@prachidamle , it would require 2 fixes - one for external-dns component, another in template

[2016-03-14 17:53] alena1108 commented on #3201
@prachidamle during the host registration, ip address for external dns is going to be provided in host labels section. Host labels are already being propagated to metadata, so external-dns should just read it from there. If label is not found, or empty, the ip address should be set to Host ip as before.

Will update the bug with the label name as soon as its finalized.

[2016-03-14 18:04] deniseschannon commented on #3908
Unable to reproduce. I launched an Azure using the Azure driver (new in v0.63.0, it has it's own dedicated page) and added a service onto it. It launched the containers fine and did not go into reconnecting. I will keep it up for the next 24 hours and try to monitor. Once it goes into reconnecting, does it recover on its own?

[2016-03-14 18:15] deniseschannon commented on #3244
@sshipway After speaking with the team, this is by design. The exported configuration in Rancher is designed for users to be able to copy and paste the file and use it again in rancher-compose.

If you want to escape the environment interpolation and be able to use `$foo`, it will always be displayed as `$$foo` in the exported config so that you can use the same file in rancher-compose and always

[2016-03-14 18:15] #3244 closed

[2016-03-14 18:18] deniseschannon commented on #3929
@prelegalwonder @Verikon I'd be surprised if it was a version issue as we didn't make any changes in rancher-compose between the 2 releases.

Would you be okay with closing this and we can re-open if you can reproduce?

[2016-03-14 18:20] prelegalwonder commented on #3929
Sure np. Thanks for taking the time to look at this!

[2016-03-14 18:20] alena1108 commented on #3705
@janeczku we've put some fixes to this area in Rancher 63 release, could you check if you still see the delay?

[2016-03-14 18:22] #3420 closed

[2016-03-14 18:24] alena1108 commented on #2234
@sangeethah could you check if it's still happening? I believe you've hit it when run validation tests in multi threads

[2016-03-14 18:30] sangeethah opened #3959 "Instances stuck in "Initializing" state when it was started on host that is in "reconnecting" state because of health check failures."
Server version - V0.63.0

Set up: 3 hosts

Start a service with scale 4 and health check enabled.

Bring down 2 of the hosts where 3 instances of the service was running.

Out of the 3 instances , 2 of them successfully got recreated in the host that is still "active".

But one the instance got marked as "unhealthy" and got recreated in a host that is currently in "reconnecting" state. This instan

[2016-03-14 18:39] jmreicha opened #3960 "Upgrade from server v0.59.1 to v0.63.0 fails"
Rancher Version: `server v0.63.0`

Docker Version: `1.10.1`

OS: `CoreOS 970.1.0`

Steps to Reproduce:

Start the rancher server container and tail the logs

Results:

[code]

Expected:

Server should start up normally?  Or is there some other step that needs to be run that I am missing?

[2016-03-14 18:53] deniseschannon commented on #3960
Your database is locked. It sometimes occurs during upgrade when the container hasn't released the lock on the DB.

http://docs.rancher.com/rancher/faqs/troubleshooting/#databaselock

[2016-03-14 18:55] deniseschannon commented on #3960
If have you have an extremely large DB, you might run into this issue:

https://github.com/rancher/rancher/issues/3949

[2016-03-14 18:55] sangeethah opened #3961 "Health check enabled instances are not being recreated when all hosts in a setup are in "reconnecting" state and a new host is added to the setup."
Server version - V0.63.0

Set up: 3 hosts

Start a service with scale 4 and health check enabled.
Bring down 2 of the hosts where 3 instances of the service was running.
All the instances got recreated in the host - h1 that is "Active".
Bring down this 1 host h1 , so that all the host in the setup are in "reconnecting" state.

All the instances are shown as being in "healthy" state.

Added another

[2016-03-14 18:58] alena1108 commented on #3958
@tombmurphy thats actually the desired behavior - to prevent 503 errors by:

* keeping only running instances under backends
* advising users to configure health checks, so the running instances with failed health checks are excluded from traffic distribution list.

I can see that it creates some problems for your advanced routing use case. To workaround that, you can create one more backend servi

[2016-03-14 19:03] alena1108 commented on #3959
@sangeethah

all race condition bugs around instances deployment on hosts in reconnecting state are due to the fact that we don't distinguish between reconnecting identifying that the agent is being connected to the service, and reconnecting identifying that the agent fails to connect.

We are going to fix it in the future by introducing a chain process to the Reconnecting; and we are going to del

[2016-03-14 19:04] deniseschannon opened #3962 "Initializing timeout box is missing from HealthCheck tab"
Rancher Version:
v0.63.0

We've introduced the ability to set an initializing time out so that if a service is stuck in initializing state, it will start to recreate the containers.

[2016-03-14 19:09] alena1108 commented on #1050
Today if instance fails to create, it goes to Error state. And from error state, there is no way to restore it. @deniseschannon can you verify

[2016-03-14 19:17] jmreicha commented on #3960
@deniseschannon Thanks for the link.  This is a new setup so the database should be relatively small.

I followed the instructions to go in to the container and release the lock but after doing that it looks like the lock gets recreated right away and rancher seems to get stuck in the same place?

Here's what I did:

[code]

Maybe I am missing something stupid?

[2016-03-14 19:17] joshwget commented on #3316
Rancher Compose seems to be working properly. I think this functionality just needs to be added to Cattle.

[code]

[code]

[2016-03-14 19:18] deniseschannon commented on #3316
@joshwget says this is a Cattle issue.

[2016-03-14 19:26] deniseschannon commented on #3227
Verified with v0.63.0 that this is no longer possible.

![screen shot 2016-03-14 at 12 24 08 pm](https://cloud.githubusercontent.com/assets/11410997/13757028/dd203aa8-e9df-11e5-8c30-b62255c1e5fb.png)

[2016-03-14 19:26] #3227 closed

[2016-03-14 19:27] Verikon commented on #3929
I was able to recreate this in v0.63.

When the target service has deployed scheduling rules then we can recreate this issue.

[2016-03-14 19:28] jmreicha commented on #3960
One more piece of information to add.  I am using a mounted volume in the container, not a data container.

[2016-03-14 19:29] sangeethah commented on #3763
Tested with server version - V0.63.0 ( and v0.63.0-rc3)

There was one issue that regressed because of this fix - https://github.com/rancher/rancher/issues/3933.
This issue is addressed in V0.63.0 .

Tested generic use cases relating to multiple host down scenarios and HA scenarios work as expected:
Following 2 issues were found which are not related to this issue - #3959 and #3961.

Performed the

[2016-03-14 19:29] #3763 closed

[2016-03-14 19:30] prachidamle commented on #3955
@vincent99 added the fix needed. PR https://github.com/rancher/rancher-catalog-service/pull/44

[2016-03-14 19:32] deniseschannon commented on #1050
Verified with v0.63.0.

With the introduction of the Error state, there is no ability to restore from error state.

[2016-03-14 19:32] #1050 closed

[2016-03-14 19:35] sangeethah commented on #3714
With rancher-server version - V0.63.0 , all the required search paths are populated in container in resolv.conf

<img width="637" alt="screen shot 2016-03-14 at 12 32 07 pm" src="https://cloud.githubusercontent.com/assets/4266958/13757305/15624cfc-e9e1-11e5-90a5-bec32d21c3e1.png">

@atrauzzi , please retest with  rancher-server version - V0.63.0 which has this fix.

[2016-03-14 19:35] #3714 closed

[2016-03-14 19:36] Verikon commented on #3929
thanks @deniseschannon - hope that helps catching the bug.

[2016-03-14 19:36] deniseschannon commented on #3929
I am going to try and reproduce shortly cause this bug drives me crazy!

[2016-03-14 19:45] jmreicha commented on #3960
I ran the `update` command again and it appears to have released the lock but then when I try to start/restart the ranche-server container it gets stuck at `[main] [ConsoleStatus] [2/32] [466ms] [466ms] Loading config-defaults` again.

[2016-03-14 20:05] mgherman commented on #3233
Hi Denise,

We have just upgraded rancher/server to 0.63 and can confirm docker-machine can create vmwarevsphere hosts successfully.

Thanks for the fix!

Rgds,

mgh

[2016-03-14 20:08] willseward commented on #3955
This is great, thanks! I did admittedly, pull out a bit of hair over this one...

[2016-03-14 20:10] kilokill commented on #3233
@deniseschannon Seconding @mgherman . Its working now.

[2016-03-14 20:18] ict4ngo commented on #3960
affected too

[2016-03-14 20:20] deniseschannon commented on #3233
Thanks for verifying @mgherman and @kilokill!

[2016-03-14 20:20] #3233 closed

[2016-03-14 20:29] deniseschannon commented on #3929
Thank you @Verikon!! I was able to reproduce with your detailed steps. :)

1. Create a service scheduled on a specific host using the option in the Scheduling tab. "Run All containers on one host"
2. Add catalog  https://github.com/Verikon/rancher-test-catalogue
3. Add template and select service from step 1.

[2016-03-14 20:33] alena1108 commented on #3961
@sangeethah we register host as health checkers only after network agent gets started on the host today. So only after your newly added host will get a network agent, health check for instances on h1/h2/h3 will get recalculated, and they will be restarted on h4

[2016-03-14 20:34] deniseschannon commented on #2270
@kaos There needs to be a way in the UI to set the selectorLink and selectorContainer that is in the API that is something outside of just using labels.

[2016-03-14 20:44] nhumrich commented on #3806
Ok so I opened 500 and 4500 to the public, and everything worked. However this is not ideal. The issue is probably related to the fact that the public IP is being used.
Any idea why the public IP's are being used instead of the internal? How could I get the network agents to use the internal ip's?

[2016-03-14 20:45] janeczku commented on #3705
@alena1108 Tested with v0.63: Resolv.conf is populated with Rancher NS and search paths before container's entrypoint is executed. :+1:

[2016-03-14 20:53] Verikon commented on #3929
great @deniseschannon ; thanks for all your hard work :)

[2016-03-14 20:59] deniseschannon commented on #3960
@ict4ngo Are you having issues with the databaselock or stuck at the "loading config-defaults"?

[2016-03-14 20:59] cloudnautique opened #3963 "Volume can get stuck forever"
Rancher Version:
v0.63.0

Docker Version:
1.10.x
OS:
Ubuntu

Steps to Reproduce:
We launched a lot of containers, then removed them quickly. There was a volume that was in activating when the container was removed and the container remove was stuck on the volume activate completing.

Results:
2016-03-14 20:47:28,479 INFO  [19904bc0-67cc-40b5-9adf-0e21c7da1c72:135222] [instance:4242->volume:4359] [

[2016-03-14 21:02] deniseschannon commented on #3806
What IPs are shown on the hosts within Rancher server?

If you want Rancher to use the private IP, you'd need to set it when launching your rancher/agent.

http://docs.rancher.com/rancher/rancher-ui/infrastructure/hosts/custom/#vms-with-private-and-public-ip-addresses

[2016-03-14 21:09] ict4ngo commented on #3960
@deniseschannon exactly stuck at loading config-default the rancher-server containers after some times rancher-server container dies and throw this in the logs :

[code]

[2016-03-14 21:13] ict4ngo commented on #3960
interesting I try 3 - 4  times to unlock without any effect (lock was coming back all the time)  but the fifth time it worked

[2016-03-14 21:22] deniseschannon commented on #2912
@mattwilliamson Can you share your docker-compose.yml so that we can understand what you are trying to do? You can find it under "View Config" in the stack menu dropdown.

[2016-03-14 21:27] deniseschannon commented on #3793
Is there constant connectivity between your two network agents? If you go into 1 of them, can you ping the other network agent and are there any dropped connections?

[2016-03-14 21:29] andyshinn commented on #3962
Are there any plans (I couldn't find an existing issue) to give better feedback on the "initializing forever" issues? Off the top of my head, I've run into:

* Registry not configured.
* Registry 401
* No hosts available to schedule container
* Image / tag does exists on registry

It would be great to bubble up these states. Not critical, but it seems like the majority of my user questions are alw

[2016-03-14 21:36] westlywright commented on #751
@lvuch and I checked this out locally. seems to be fixed already. Can you retest?

[2016-03-14 21:42] lvuch commented on #425
Is path now displayed under volumes mount point?

[2016-03-14 21:44] deniseschannon commented on #3962
@andyshinn In v0.63.0, we've added this issue to address a lot of what you mentioned.
https://github.com/rancher/rancher/issues/3630

Containers can now have an "Error" state.

[2016-03-14 21:44] vincent99 commented on #1537
This was probably fixed by the issue that made saving user prefs actually work a while ago.

[2016-03-14 21:44] deniseschannon commented on #3962
The service will be stuck in "Activating" but if you click on the containers, you can see the error state of the container and the message of why it failed.

[2016-03-14 21:46] andyshinn commented on #3962
Ah, great. I didn't see that in the release notes. I'll try and get upgraded soon.

[2016-03-14 21:48] cloudnautique opened #3964 "Catalog service to use cached git clone"
We would like to ship a pre-cloned version of the catalog repo as part of the rancher server container.

If the rancher-catalog-service detects a cloned version, it should try and pull an update down to the server.

If the upstream catalog url can not be reached or cloned, then it should serve up the cached version shipped with the container.

[2016-03-14 21:50] alena1108 commented on #1231
@sangeethah could you please retest it on the latest? I've created a setup of yours, and I don't see environment variables being set at all. I believe the issue had been gone when docker networking came in.

[2016-03-14 21:50] prachidamle commented on #3955
@willseward sure thanks, and sorry for the trouble...

[2016-03-14 21:51] deniseschannon commented on #1537
Verified in v0.63.0 that it sets the checkmark is set on the page.

[2016-03-14 21:51] #1537 closed

[2016-03-14 22:24] prachidamle opened #3965 "rancher-catalog-service should support files under nested folders of a template version"
Changes to support reading of files under the nested folders of a template version. Thus any file under say rancher-catalog/ElasticSearch/0/foo/another.yml or rancher-catalog/ElasticSearch/0/foo/bar/some.json will be pulled and added to "files" map in the response.

[2016-03-14 22:28] westlywright commented on #1511
This doesn't seem to happen anymore. Can you retest @tfiduccia?

[2016-03-14 22:31] tombmurphy commented on #3958
Thanks for your response, I'm not sure why you flagged it as a potential bug at https://forums.rancher.com/t/load-balancer-target-services-with-unhealthy-backend/1593/3 ?

It's not possible to create more backend services with the advanced routing, nor is it realistic to specify a default/failover target (please describe how I can do it?).

My current workaround to stop the backend services from b

[2016-03-14 22:35] lvuch commented on #425
![screen shot 2016-03-14 at 3 34 57 pm](https://cloud.githubusercontent.com/assets/3013118/13762189/6b4eb0ba-e9fa-11e5-9de6-9a223d55ec85.png)

[2016-03-14 22:40] sangeethah opened #3966 "Not able to start wordpress serive in k8s cluster."
Rancher Version: v0.63.1-rc1

Docker Version:1.9.1

OS: CoreOS 899.10.0 (with KVM)

Steps to Reproduce:

Create a Kubernetes environment.
Added 2 CoreOS hosts to this environment.
Kubernetes and Kubernetes-loadbalaner stacks start successfully.

From catalog , added "K8s Example WordPress" service.

Status for the WorrdPress container is stuck in "Waiting" state and message says "Image: wordpress

[2016-03-14 22:44] lvuch commented on #3805
resolved in https://github.com/rancher/ui/pull/535

[2016-03-14 22:44] etlweather opened #3967 "HAProxy stats metrics port - requires a non-forwarding port"
To set up HAProxy stats, I can add the following custom configuration:
[code]

However, I am unable to expose the port 9000 so that the monitoring system can collect the information.

If I have only one load balancer, then I can run a container with a link to the load balancer and I can collect the data as the container has access to the internal port 9000.

However, in my case, I run one load bal

[2016-03-14 22:46] alena1108 commented on #3705
@janeczku awesome, thanks for testing! Closing the issue for now as verified

[2016-03-14 22:46] #3705 closed

[2016-03-14 23:00] alena1108 commented on #3370
@sangeethah we no longer log stack traces for "Failed to do service reconcile for service"; could you please verify?

[2016-03-14 23:58] mrproper commented on #3958
im not sure why it gets removed rather than marking it as unhealthy...
So as soon as it comes back online (or started) then it is back in the list

[2016-03-14 23:58] mrproper commented on #3958
obviously when you remove a service then the correct approach is the current one where it removes it as a target

[2016-03-15 00:09] alena1108 commented on #3782
Closing in favor of https://github.com/rancher/rancher/issues/3180 - refer to that ticket for progress tracking

[2016-03-15 00:09] #3782 closed

[2016-03-15 00:35] sangeethah opened #3968 "DB exception seen in logs when cleanup task is run with large number of entries in process_execution table."
Setup -> Upgrade from v0.59.1 -> v0.63.1-rc1. This set up had about 300,000 entries in process_execution table before upgrade.

After upgrade is done , all most all the entries from the process_execution table gets cleared as part of cleanup task.

When cleanup task is executed we see the following DB exception logged:

[code]

[2016-03-15 00:59] alena1108 commented on #3958
@mrproper @tombmurphy

I think we should add something similar to what we do in our DNS resolution today (https://github.com/rancher/cattle/pull/1249) - if target service doesn't have at least one healthy/running instance, include one of the unhealthy/stopped ones to the backend, so its resolvable to something. But if the service has at least one healthy/running instance, don't include "bad ones".

[2016-03-15 01:26] sangeethah opened #3969 "upgrade from 0.59.0 -> 0.63.1-rc1 -> Exception relating to service reconcile seen in logs."
Setup - upgrade from 0.59.0 -> 0.63.1-rc1 with few services.

After upgrade , following exception seen in logs for every service:

Service itself is OK and is in good state. I dont see instances of service being recreated.

[code]

[2016-03-15 01:41] kbrownlees commented on #2185
Just ran into this, here is the error I got in case someone is searching for it:

```2016-03-15 01:31:21,547 ERROR root [140657990538896] [_logging.py:54] error from callback <function on_error at 0x7fed7d90a848>: Received websocket error: [hostname 'zz.com' doesn't match either of 'xx.com', 'ww.xx.com']```

[2016-03-15 01:44] vincent99 commented on #3932
They're not really properly marked transitioning in the API, but added state=requested as another thing that will trigger polling.

[2016-03-15 01:56] janeczku commented on #3967
You should be able to achieve this just by using the internal network an DNS service discovery. But instead of using the service FQDN (`<service-name>.<stack-name>`), pass the instance FQDN (`<instance-name>.<service-name>.<stack-name>`) to your metrics collector.

For example, given a stack name `public` and load balancer service name `api-lb` you should be able to address the two instances of th

[2016-03-15 01:58] vincent99 opened #3970 "launchConfig.requestedHostId isn't id-obfuscated"
The launchConfig.requestedHostId field comes back as a raw int ID instead of a string.  This breaks re-selecting the same host when cloning/upgrading the UI because the value doesn't match any hosts (rancher/rancher#3707)

[2016-03-15 02:03] vincent99 commented on #3967
Note: in v0.63.0+ only, before that there were no DNS entries for the individual containers.

[2016-03-15 02:05] vincent99 commented on #2185
@cloudnautique Can you put in a newer python?  This really seems like it should be fixed for GA.

[2016-03-15 02:08] sshipway opened #3971 "Custom catalogues with mixed-case names no longer work under 0.63.0"
Rancher Version: 0.63.0

Docker Version: 1.9.1

OS: CoreOS

Steps to Reproduce:
Create custom Catalogue on git server with at least one entry containing at least one parameter.
Add this to the Rancher custom Catalogues with a mixed-case name (eg, "Test")
Try to resynch catalogues
Try to create new item from this catalogue entry

Results:
When updating catalogue, stays in 'rotating flower' update r

[2016-03-15 02:19] vincent99 commented on #3971
The refresh button is https://github.com/rancher/rancher/issues/3902 , it finishes but the API isn't returning an object like the UI expects.

There's nothing special about custom vs the standard official & community ones so the 2nd part is odd; Is there anything in the browser dev tools console or failed request in the network tab?

[2016-03-15 03:07] etlweather commented on #3967
Hey, that should work. I'll find a time to schedule the upgrade in the next couple of days.

[2016-03-15 03:10] agalpin opened #3972 "[external-dns] Environments setup with special characters including spaces should not be passed to route53/any dns provider"
Rancher Version: 0.59.1

Docker Version: 1.10.2

OS: Ubuntu

Steps to Reproduce:
1) Create an Environment in rancher with a special character in it (i had a space)
2) create a Route53 Service for registering your domains automatically
3) create a service with an exposed port

Results:
FQDN is not registers as you will get an invalid character response from Route53

Expected:
The FQDN to be registe

[2016-03-15 03:25] deniseschannon commented on #3574
Following your steps, I have been unable to reproduce. Using v0.63.0 and rancher-compose v0.7.2.

[2016-03-15 03:42] deniseschannon commented on #3970
Could this be the same issue that's happening for https://github.com/rancher/rancher/issues/3929?

[2016-03-15 03:58] deniseschannon commented on #3929
This is occurring due to #3970. Once that is fixed, this use case will be fixed as well.

[2016-03-15 05:11] RVN-BR commented on #2200
+1 as requested in the forums a while ago

[2016-03-15 05:43] hwinkel commented on #3893
:+1:

[2016-03-15 06:53] kaos commented on #2270
Oh? Ok. It seems to work just fine using labels alone when using a compose
file, though.
mån 14 mars 2016 kl. 21:35 skrev Denise <notifications@github.com>:

[2016-03-15 07:18] sserrano44 commented on #3097
This affects every android under 4.4

[2016-03-15 07:36] brutus333 commented on #3384
I am experiencing exactly the same issue with Rancher v0.63.0, RedHat 7.2 and Docker 1.10.3. I confirm also the dropdown box workaround.
Any insight on when this will be fixed?

[2016-03-15 07:41] dj-hedgehog opened #3973 "[rancher-compose] Support for docker-compose v2 syntax?"
Is there a timeline on when the [docker-compose v2 file format](https://docs.docker.com/compose/compose-file/#version-2) will be supported?

[code]

Steps to Reproduce:

`docker-compose.yml`

[code]
then execute:

`rancher-compose -p NewApp up`

Results:

[code]

Expected:

[2016-03-15 09:57] tyhoho opened #3974 "kubernetes controller and agent keeps restarting"
Rancher Version: 0.63.1

Docker Version:1.10.2

OS: CentOs 7

Steps to Reproduce: 1. change to Kubernetes environment 2. add a host

Results:  The kubernetes controller and agents keeps restarting again and again.

** error logs in controller: **
E0315 17:55:20.929428       1 nodecontroller.go:227] Error monitoring node status: couldn't get version/kind; json parse error: json: cannot unmarshal st

[2016-03-15 10:18] tombmurphy commented on #1269
+1

[2016-03-15 10:24] flaccid commented on #3180
Just a bump here - making sure we cover this for GA :)

[2016-03-15 11:31] r24y commented on #1796
@lewistaylor would you mind posting what you had to change as far as IAM permissions to get it to work? I'm facing the same issue and documentation seems light on the subject.

[2016-03-15 11:36] Rucknar commented on #3506
Rightly or wrongly i've managed to remove this instance. Below are the steps i used to do so, i'd only run this after taking a backup of your DB first and accepting that we sort of 'took a punt' on this one, all of the below is done using the ID's we had, use the one from the stuck process.

First we grabbed the instance_id from the running process's tab, in this case it was `1pi209606`
validate t

[2016-03-15 11:36] #3506 closed

[2016-03-15 11:51] Rucknar commented on #3318
**Update...**

Re-ran through this with 0.59.1 last night, still seeing some stuff backing up sadly, perhaps not as extreme as before but a single upgrade doesn't give us a large enough dataset. I ran through one environment upgrade and one build shortly after, standing up 44 containers on each.

<img width="1499" alt="screen shot 2016-03-15 at 11 43 02" src="https://cloud.githubusercontent.com/as

[2016-03-15 11:53] Rucknar commented on #2955
Given Vmware's recent move away from supporting desktop software, i'm going to close this ticket as we've chosen not to invest any time in it. If you'd still like to track it though for a feature, by all means feel free to re-open.

[2016-03-15 11:53] #2955 closed

[2016-03-15 12:44] fernandoneto commented on #3908
@deniseschannon no, i have to restart the rancher-server.

[2016-03-15 12:48] cedvan commented on #3668
@ibuildthecloud, Ok, I use [docker-root](https://github.com/ailispaw/docker-root) as host. I'll see to implement ipsec support. Thank you !

[2016-03-15 13:20] lewistaylor commented on #1796
I forget now, but I believe it was on the bucket permissions itself, not the IAM user.

[2016-03-15 13:23] r24y commented on #1796
Thanks. I'll dig a bit and leave what I find here for the next person.

[2016-03-15 13:27] fedya commented on #3948
fixed with 0.63.1

[2016-03-15 13:27] #3948 closed

[2016-03-15 13:41] jwhitcraft commented on #1284
@deniseschannon, it's only showing the teams i belong to, and not every team in my org even though I'm an org owner on github.

[2016-03-15 14:52] sangeethah commented on #3952
Tested with rancher-server version - v0.63.1-rc1

Able to add 2 "CoreOS 899.10.0" hosts to Kubernetes environment.

kubelet container starts successfully.

Able to launch GuestBook catalog successfully.

[2016-03-15 14:52] #3952 closed

[2016-03-15 15:38] jlaswell commented on #1738
+1 here and I'll see what we can do to help in contributing to this!

[2016-03-15 15:44] lvuch commented on #425
clipboard functionality added in https://github.com/rancher/ui/pull/535

[2016-03-15 16:14] cloudnautique opened #3975 "Updating Ipsec fails on first attempts"
Rancher Version:
v0.63.0

Docker Version:
1.10.x

OS:
Ubuntu 14.04

Steps to Reproduce:
Have a large number of hosts. (>100)
Create a new service with scale 20+
Watch logs. Periodically, you'll see:

[code]

[2016-03-15 16:15] nhumrich commented on #3806
The public IP shows, but its always been that way. Is there anything that has changed that would change how the networking would work with public ip's and whatnot?

[2016-03-15 17:13] deniseschannon commented on #3908
I am unable to reproduce. I left my box up for 24 hours and had no issues where the host went into reconnecting.

Why do you need to restart rancher-server? Couldn't you just re-add the agent?

[2016-03-15 17:42] deniseschannon commented on #3973
Rancher-compose is based on libcompose and libcompose doesn't support it yet.

https://github.com/docker/libcompose/issues/147

[2016-03-15 17:59] hwinkel commented on #3952
Updated to 0.63.1 and the kubelet_1 starts on the first host, fine. but starting of kubelet_2 and _3 on further hosts (CoreOS 983) is failing as well.

[code]

[2016-03-15 18:00] hwinkel commented on #3952
and kubelet_1 is failing as well.

[2016-03-15 18:07] joshwget commented on #1879
Once Rancher Compose calls the `serviceUpgrade` API, it does nothing further and the rest of the actions taken (like deleting the new service) are done via the UI. I think the problem is actually in how Cattle detects an upgrade is complete.

@alena1108 does this seem like an issue in Cattle to you?

[2016-03-15 18:21] sangeethah commented on #3974
Rancher Version: 0.63.1
Docker version 1.10.3, build 20f81dd
CentOS Linux release 7.2.1511 (Core)

I am able to add a host successfully to a kubernetes environment.
Controller and agent start successfully.
I am also able to deploy service - "K8s Example Guestbook" from catalog successfully.

[2016-03-15 18:28] deniseschannon commented on #3974
@tyhoho Do you have a fresh setup or an upgraded setup?

Did you add a new k8s environment or did you change the default one to k8s?

[2016-03-15 18:30] sangeethah commented on #3949
Tested with upgrade from V0.59.1 -> v0.63.1-rc1 with a rancher-server setup that had ~317,000 entries in process_execution table.

Upgrade was successful. Took about 5 minutes to perform the DB upgrade.

[2016-03-15 18:30] #3949 closed

[2016-03-15 18:41] alena1108 commented on #3969
Could you check it on one of your next upgrades? I no longer throw this exception

[2016-03-15 18:44] deniseschannon commented on #3952
@hwinkel I haven't been able to reproduce your issue. I spun up a coreOS 983 setup. I have been able to successfully add in 3 hosts. All kubelets have started up with no issues. Then I deployed a Catalog entry and still fine. Then, I added in a fourth host and still no issues. And added another Catalog entry.

Is this a fresh install or upgrade?

[2016-03-15 18:44] sangeethah commented on #3961
When the host that gets added new has a network agent running in it , then all the health_check enabled instances gets recreated successfully on the new host that was added.

[2016-03-15 18:44] #3961 closed

[2016-03-15 18:58] hwinkel commented on #3952
@deniseschannon rancher self os an upgrade from 0.59.1 -> 0.63 -> 0.63.1 today.

The 1st and 2nd host was a fresh install for K8s with rancher 0.63 the 3rd was fresh added today. alle are at DO with CoreOS 983

Currently the three kubelet container cycling through restarts.

[2016-03-15 19:14] deniseschannon commented on #3952
I had a fresh install of v0.63.1 on DO at CoreOS 983 and then added hosts/services in my K8S environment. Would you be willing to delete your K8s environment and creating a new one and re-adding hosts?

[2016-03-15 19:18] sangeethah commented on #1231
Tested with rancher-server - v0.63.0
Docker version - 1.10.3

Had service links created as follows:

<img width="317" alt="screen shot 2016-03-15 at 12 15 59 pm" src="https://cloud.githubusercontent.com/assets/4266958/13790887/b7f862be-eaa7-11e5-8c0d-dc0e89a5a8de.png">

From containers from s3 , I see only the following env variables created:

<img width="596" alt="screen shot 2016-03-15 at 12 14

[2016-03-15 19:33] fernandoneto commented on #3908
@deniseschannon because our production environment has many hosts. Is easier to have a bash script that restart rancher server every 2 hours and prevent reconneting.

[2016-03-15 19:36] jmreicha commented on #3960
I saw that `v0.63.1` was released so tried it but am getting a new error now after running the DB commands to release the lock.  There is a ton of output so I just made a gist for it.  https://gist.github.com/jmreicha/b3a21e6f94bce5057f7e.

[2016-03-15 19:37] hwinkel commented on #3952
sure, later this german evening.. a fresh Rancher Install would not work quickly, but Deleting K(s and adding a new one with 3 Hosts is no prob. should I have fresh CoreOS instances or just deletiing and purging containers before I re-add?

[2016-03-15 19:46] cloudnautique opened #3976 "Perf UI issues"
While running the perf tests these items were found in the UI:

- [x] Services can not be clicked on. The number of requests to all the hosts takes longer then 30 s.
     It does a lot of GET requests for hosts/<id>/ipaddresses on infra page is expensive. Looks like its an expensive API call.

- [ ] between 600-700 hosts UI fails to load.

- [x] 500 hosts with a 20 service with 20 containers will

[2016-03-15 19:49] deniseschannon commented on #3952
@hwinkel I haven't tested it, but I would believe that deleting and purging containers before adding should work. If not, I have found that adding DO hosts for CoreOS are one of the quickest and easiest to get set up. :)

[2016-03-15 19:52] deniseschannon commented on #3960
@jmreicha Please see the notes in the release notes of hte issue that you are hitting.
https://github.com/rancher/rancher/releases/tag/v0.63.1

[2016-03-15 20:00] jmreicha commented on #3960
@deniseschannon Oh sorry! I missed that, I will try again and post results.

[2016-03-15 20:01] sangeethah commented on #1231
@alena1108: @ibuildthecloud: Do we need to have environment variables relating to S1 and LINK1 as well in this case? Also wanted to know if _ADDR,_PORT,_PROTO are variables that need not be defined  for services in "managed" network.

When services are created  in "bridge" mode , there is no environment variables relating to service links declared.

[2016-03-15 20:15] hwinkel commented on #3952
Right, not only to setup also to maintain, because CoreOS make it for free for you ...

[2016-03-15 20:23] wlan0 commented on #3942
Tested with rancher/server (Image Id: fd6c71b4f71e). Could not reproduce.

[2016-03-15 20:23] wlan0 commented on #3936
Tested with rancher/server (Image Id: fd6c71b4f71e). Uniqueness constraint on machine driver exists. Could not reproduce issue.

[2016-03-15 20:24] deniseschannon commented on #3952
@hwinkel I wish it was free. Is it free for you? It's just a lot easier than the other distros which require a Docker installation after getting the droplet set up.

[2016-03-15 20:26] hwinkel commented on #3952
CoreOS of course is free

[2016-03-15 20:27] hwinkel commented on #3952
like CentOS is free. The Update Procedure Runs free as well, What is not free is the Managed Linux Web Console

[2016-03-15 20:28] hwinkel commented on #3952
3 Node Cluster is coming up now. 3x fresh CoreOS 983. BTW: why the etcd container only runs on one host?

[2016-03-15 20:29] sangeethah commented on #3370
@alena1108 , I am still seeing the entire stack trace being printed when testing with rancher-server version - v0.63.0-rc1 .

When was this issue fixed ?

[code]

[2016-03-15 20:34] wlan0 commented on #3935
Spoke to @will-chan. Need not fix this.

Very low probability of hitting this issue, and Cattle with eventually recover from this.

[2016-03-15 20:36] jmreicha commented on #3960
@deniseschannon The instructions you posted seem to have fixed my original issue but I am seeing some other errors in the log messages, even though it looks like everything is working correctly.

Should I post here or open a new issue?

[2016-03-15 20:37] hwinkel commented on #3952
Cluster seems runnig, but installing GuestBook from catalog hungs with restarts of kubernetes-loadbalancer

[2016-03-15 20:38] #3960 closed

[2016-03-15 20:43] alena1108 commented on #3316
@joshwget @deniseschannon @sshipway our container/service APIs lack support for volume access rights. We are going to add support for it immediately after shipping GA. @deniseschannon we should mention this limitation somewhere in the docs/release notes.

[2016-03-15 20:55] delianides commented on #3793
yep

[code]

[2016-03-15 20:55] alena1108 commented on #594
Looks like we have to fix it for GA as it affects rancher-compose/UI

https://github.com/rancher/rancher/issues/3970

[2016-03-15 20:56] alena1108 commented on #3970
@deniseschannon  yes. Closing in favor of https://github.com/rancher/rancher/issues/594

[2016-03-15 20:56] #3970 closed

[2016-03-15 20:56] alena1108 commented on #3929
Closing in favor of https://github.com/rancher/rancher/issues/594

[2016-03-15 20:56] #3929 closed

[2016-03-15 20:57] vincent99 commented on #3935
"Recovers" how?  It's going to re-SSH to the host, decide if docker was installed or the agent was registered and fix it when you kill a machine re-create?  Seems to me like it's just going to leave an orphaned VM in the provider that will never get cleaned up (or maybe will cleanup when you delete the `machine` resource)

[2016-03-15 20:58] deniseschannon commented on #3942
@tfiduccia Can you try and re-test?

[2016-03-15 21:00] deniseschannon commented on #3936
@tfiduccia Could you re-test with latest?

[2016-03-15 21:01] sshipway commented on #3971
Only error message in console is
[code]
What there does seem to be is an 404 not found error for the page, when I click on one of the Templates in the catalogue and it tries to retrieve a specific version of the tmeplate:
[code]
The Catalogue is called 'UOA' (in capitals) -- possibly something is going on with case-sensitivity in the name resulting in lower-casing the catalogue name and it then be

[2016-03-15 21:02] will-chan commented on #3935
can fix this post GA.

[2016-03-15 21:05] sshipway commented on #3971
@vincent99 -- Testing confirms that the problem is with Catalogues that have mixed-case names (the rancher-supplied Library and Community catalogues are lower-case).  If I rename one of my custom catalogues in lower-case only, then it works, but is displayed with the first letter capitalised!  This is definitely a problem as it means we cannot call our catalogue 'UOA' or even 'Community-Dev'.

[2016-03-15 21:14] jmreicha opened #3977 "Unknown exception running process"
Rancher Version: `v0.63.1`

Docker Version: `1.10`

OS: `CoreOS 970.1`

Steps to Reproduce:

After upgrading from v0.59 to v0.63 and fixing an issue upgrading via https://github.com/rancher/rancher/issues/3960, start up the rancher server container and after intializing I see the following error in the logs.

Results:

[code]

I removed the Errors in the Rancher UI for the dynamic drivers I saw bu

[2016-03-15 21:26] wayneconnolly commented on #594
Great, so what is the eta?

[2016-03-15 21:40] deniseschannon commented on #594
GA is expected for end of March. :)

[2016-03-15 21:42] deniseschannon commented on #3977
What version had you originally started with Rancher?

[2016-03-15 21:43] deniseschannon commented on #3971
Seems to be a duplicate of https://github.com/rancher/rancher/issues/3955

[2016-03-15 21:44] wayneconnolly commented on #594
Great. Thank-you. Will monitor this issue.

[2016-03-15 21:55] jmreicha commented on #3977
@deniseschannon v0.59.1 originally.

[2016-03-15 21:55] tfiduccia commented on #3942
Version -  master 3/15
Verified fixed

[2016-03-15 21:55] #3942 closed

[2016-03-15 21:56] deniseschannon commented on #3977
So v0.59.1 was your first install of Rancher?

[2016-03-15 21:58] tfiduccia commented on #3936
Version - The UI still allows me to create another machine driver with the same "Name".
![image](https://cloud.githubusercontent.com/assets/11514927/13795482/4bf5969c-eabe-11e5-8b2a-5cf55f41be59.png)

[2016-03-15 21:58] jmreicha commented on #3977
@deniseschannon Yes that's correct.  I started at v0.59.1, upgraded to v0.63.0 and then to v0.63.1 to fix the first issue.

[2016-03-15 21:59] alena1108 commented on #1231
@sangeethah

I can see environment variables being set for bridge network. Created 2 services: foo and bar, linked bar to foo. Then started the services. Note that the services should be started in order - foo should come up first. Only in this case we create an instance link and the environment variables get propagated:

[code]

its ok to see it there.

Anyway, relying on env variables is no long

[2016-03-15 21:59] #1231 closed

[2016-03-15 22:01] tfiduccia commented on #3932
Version - master 3/15
Verified fixed

[2016-03-15 22:01] #3932 closed

[2016-03-15 22:06] tfiduccia commented on #3902
Version - master 3/15
Spinning button still spinning.  Fresh install, no changes to catalogs and no additional catalogs added.

[2016-03-15 22:16] vincent99 commented on #3902
Missed updating the api client that actually makes the reqeust and fixes the issue...

[2016-03-15 22:18] tfiduccia commented on #2884
Version - master 3/15
Verified fixed

[2016-03-15 22:18] #2884 closed

[2016-03-15 22:20] tfiduccia commented on #3917
Version - master 3/15
Verified fixed

Comments - this makes me so happy :-)!

[2016-03-15 22:20] #3917 closed

[2016-03-15 22:21] tfiduccia commented on #3306
Version - master 3/15
Verified Fixed

[2016-03-15 22:21] #3306 closed

[2016-03-15 22:21] pabloval commented on #3893
+1

[2016-03-15 22:24] tfiduccia opened #3978 "help links at bottom of page don't work"
Version - master 3/15d

Steps to Reproduce:
1.  Click on any of the help links on bottom of page

Results: All are broken except the Release link

Expected:  Should work

[2016-03-15 22:26] tfiduccia commented on #3198
Version - master 3/15
Verified fixed

[2016-03-15 22:26] #3198 closed

[2016-03-15 22:28] alena1108 commented on #3810
Closing in favor of #1979

[2016-03-15 22:28] #3810 closed

[2016-03-15 22:30] tfiduccia commented on #2360
Version - master 3/15
Verified fixed/added

[2016-03-15 22:30] #2360 closed

[2016-03-15 22:31] tfiduccia commented on #1415
Version - master 3/15
Verified fixed/added

[2016-03-15 22:31] #1415 closed

[2016-03-15 22:32] tfiduccia commented on #1195
Version - master 3/15
Verified fixed

[2016-03-15 22:32] #1195 closed

[2016-03-15 22:32] alena1108 commented on #3331
@cjellick I can't reproduce it on the latest (release 63). The test runs fine for me locally on H2. Could you retry and see if the issue persists for you?

[2016-03-15 22:36] tfiduccia commented on #555
Version - master 3/15
Verified fixed

[2016-03-15 22:36] #555 closed

[2016-03-15 22:36] rzachariah opened #3979 "Random mapping of ports is broken on upgrade"
Rancher Version: Rancher 0.59.1

Docker Version: Docker 1.10.2

OS: Ubuntu 14.04.4 LTS

Steps to Reproduce:
1. Create a Rancher catalog entry that deploys a stack containing a service that gets assigned a random high value port. For example, you could have a snippet of docker-compose.yml that looks like this. Note we only specify the private port for the collector. We rely on Rancher to assign the

[2016-03-15 22:37] rzachariah opened #3980 "Random mapping of ports is broken on upgrade"
Rancher Version: Rancher 0.59.1

Docker Version: Docker 1.10.2

OS: Ubuntu 14.04.4 LTS

Steps to Reproduce:
1. Create a Rancher catalog entry that deploys a stack containing a service that gets assigned a random high value port. For example, you could have a snippet of docker-compose.yml that looks like this. Note we only specify the private port for the collector. We rely on Rancher to assign the

[2016-03-15 22:38] tfiduccia commented on #884
Version - master 3/15
Verified fixed

[2016-03-15 22:38] #884 closed

[2016-03-15 22:39] tfiduccia commented on #1175
Version - master 3/15
Verified fixed

[2016-03-15 22:39] #1175 closed

[2016-03-15 22:41] tfiduccia commented on #681
Version - master 3/15
Verified fixed

[2016-03-15 22:41] #681 closed

[2016-03-15 22:41] alena1108 commented on #3442
@deniseschannon @yunspace renaming stack in creating (initializing) state is disallowed by design. Updates can be run only on objects in finite states. But as @deniseschannon stated, the real issue here: stack being stuck in the creating state - thats a bug. Please refer to one of the issues below to track resolution:

https://github.com/rancher/rancher/issues/3051
https://github.com/rancher/ranch

[2016-03-15 22:41] #3442 closed

[2016-03-15 22:41] alena1108 commented on #3442
LGTM, but have to decide on the naming.

[2016-03-15 22:46] prachidamle commented on #3971
Yes @deniseschannon, its the same issue https://github.com/rancher/rancher/issues/3955
The PR fixing the issue has been submitted.

[2016-03-15 23:01] sangeethah commented on #3944
Able to reproduce the issue mentioned in the bug using Rancher Version: 0.63.1 using the following steps:

Scenario 1:
1. Create a stack - "test1" with service S1 and S2.
2. stop service S1.
3. Try to do "stop services" for stack "test1".

Service S2 remains in "Active" state with all the container in "running" state.

Scenario 2:
1. Create a stack - "test1" with service S1 and S2.
2. delete servi

[2016-03-15 23:01] #3944 closed

[2016-03-15 23:12] vincent99 commented on #1628
@alena1108 `publicEndpoints` seems to only include service containers, can you add standalone ones too?

[2016-03-15 23:13] lvuch commented on #3674
ability to tab open action menu resolved in https://github.com/rancher/ui/pull/538 @westlywright will add keypress

[2016-03-15 23:13] alena1108 commented on #1628
@vincent99 sure

[2016-03-15 23:36] westlywright commented on #1601
This will be resolved by https://github.com/westlywright/ui/commit/b1a774d01dbaa3ca8fb5cce9815406c44a259b6a

[2016-03-16 00:08] vincent99 commented on #3957
`noneConfig` shouldn't appear in the `machine` schema.  It's useless, and blowing up the UI because it refers to a schema that doesn't exist.

[2016-03-16 00:09] vincent99 commented on #3921
This is part of #3707

[2016-03-16 00:09] #3921 closed

[2016-03-16 00:16] LLParse opened #3981 "Kubernetes API IntOrString datatype not handled correctly for Int path"
Rancher Version: 0.63.1

Docker Version: 1.10.3

OS: N/A

Steps to Reproduce:
1. Define a Kubernetes template with a TCPSocketAction or HTTPGetAction using port numbers.
2. Store the template in a catalog.
3. Load the catalog.
4. Launch the template

Example with health check probes:
http://pastebin.com/raw/ba3Bx9Wf
[code]

Results:

Stack trace in rancher server logs.
[code]
**Expected:**
The tem

[2016-03-16 00:45] sangeethah commented on #3370
Tested with latest build from master:

When running validation runs , we used to see java.lang.IllegalStateException thrown with full stack trace  when service reconcile fails.

With latest build from master, we ServiceReconcileException reported and no stack trace in logs when it is "INFO" state.

But sometimes we see full stack trace being logged when ServiceReconcileException is reported as ERR

[2016-03-16 00:48] sangeethah commented on #3969
Service reconcile being done as part of upgrade and reporting failure is not an issue by itself. The only thing that we want to address here is that stack traces  are not being logged when service reconcile fails and it should be logged as "INFO" rather than "ERROR" . This issue is already being tracked in
https://github.com/rancher/rancher/issues/3370. Closing this issue.

[2016-03-16 00:48] #3969 closed

[2016-03-16 01:15] xaka commented on #3089
Would be really nice to have it. It's available in UI for containers, but not service.

[2016-03-16 01:20] brentkearney opened #3982 "Agent blows up if the SSL CA is unknown"
Rancher Version: v0.63.1

Docker Version: 1.10.3

OS: Ubuntu 14.04

Steps to Reproduce: Setup nginx proxy for SSL as per Rancher documentation. Use COMODO signed wildcard certificate.

Results: Agent fails to connect. If CA bundle path is passed into the container with -e CURL_CA_BUNDLE="/etc/ssl/mycert.ca-bundle", then it connects, but resolve_url.py blows up.

`docker run -d -e CURL_CA_BUNDLE="/

[2016-03-16 01:23] composer22 commented on #3615
sorry been offline and busy.

Running on Ubuntu 15.10 Wily

[2016-03-16 01:28] xaka opened #3983 "Switching to another service from dropdown menu doesn't work"
Rancher Version: 0.63

-

Here are screenshots and JS error in console:

<img width="431" alt="screen shot 2016-03-15 at 6 23 53 pm" src="https://cloud.githubusercontent.com/assets/504813/13799346/9c7cf2a0-eadb-11e5-9aa3-8c957bb74440.png">

<img width="1440" alt="screen shot 2016-03-15 at 6 24 38 pm" src="https://cloud.githubusercontent.com/assets/504813/13799349/a1630714-eadb-11e5-9cd8-469ffef97c

[2016-03-16 01:54] vincent99 commented on #3057
The state is not there anymore, and is selectable..

[2016-03-16 01:54] #3057 closed

[2016-03-16 01:56] vincent99 commented on #1416
This was added a while ago..

![image](https://cloud.githubusercontent.com/assets/753917/13799750/a024b038-eadf-11e5-8850-ab51d7c03dc5.png)

[2016-03-16 01:59] vincent99 commented on #1628
Not a terribly fancy graph or anything, but something..

![image](https://cloud.githubusercontent.com/assets/753917/13799809/165eaca4-eae0-11e5-8eed-993661446ae3.png)

[2016-03-16 02:03] vincent99 commented on #1992
#1990

[2016-03-16 02:03] #1992 closed

[2016-03-16 02:15] vincent99 commented on #2779
Basically the same as https://github.com/rancher/rancher/issues/1990, but different kind of user.

[2016-03-16 02:15] #2779 closed

[2016-03-16 02:18] vincent99 commented on #3916
This isn't really exactly related, but as a side effect would be fixed by making the category a part of the route instead of a query param.. which would go well with making the catalogs the subnav:

![image](https://cloud.githubusercontent.com/assets/753917/13800079/a195c198-eae2-11e5-8621-e8bf6b0fb87a.png)

[2016-03-16 02:22] vincent99 commented on #2876
@hrwebasst Is this better in 0.59+?  They're on more specific separate rows now.

[2016-03-16 02:50] tyhoho commented on #3974
@deniseschannon I used to have an old version of rancher, then I stopped and deleted the old version rancher containers, and begin to install the new version.

After installing, I add a K8s env, and set it as default one, and switch current env to it.

ps: uname -a.
Linux localhost 3.10.0-327.10.1.el7.x86_64 #1 SMP Tue Feb 16 17:03:50 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-03-16 04:16] deniseschannon commented on #3971
Closing in favor of #3955

[2016-03-16 04:16] #3971 closed

[2016-03-16 04:28] deniseschannon commented on #3983
Reproduced in v0.63.1.

[2016-03-16 04:53] deniseschannon commented on #3980
Duplicate of #3979

[2016-03-16 04:53] #3980 closed

[2016-03-16 04:59] tfiduccia commented on #425
Version - master 3/15
Verified fixed

[2016-03-16 04:59] #425 closed

[2016-03-16 05:01] tfiduccia commented on #1416
Version - master 3/15
Verified fixed

[2016-03-16 05:01] #1416 closed

[2016-03-16 05:03] tfiduccia commented on #1506
Version - master 3/15
Verified fixed

[2016-03-16 05:03] #1506 closed

[2016-03-16 05:14] tfiduccia commented on #1511
Sangeetha can you verify?

[2016-03-16 05:16] ibuildthecloud commented on #1931
I don't particularly mind allowing any method for `/v1/schemas`

[2016-03-16 05:16] #1931 closed

[2016-03-16 05:17] tfiduccia commented on #3897
Version - master 3/15
Not complete - the link should be clickable and open in a new window.

[2016-03-16 05:25] tfiduccia commented on #3805
Missed service

[2016-03-16 05:26] tfiduccia commented on #3590
Version - master 3/15
Verified fixed

[2016-03-16 05:26] #3590 closed

[2016-03-16 05:29] deniseschannon commented on #3979
Can you share your docker-compose.yml of the original catalog entry and the updated one? I was unable to reproduce. My upgraded catalog kept the same random public port.

[2016-03-16 05:50] tfiduccia opened #3984 "convoy-gluster fs catalog not working"
Version - master 3/15

Steps to Reproduce:
1.  Create and wait for Glusterfs catalog to fully setup
2.  Create Convoy-glusterfs catalog

Results: The convoy-gluster service never activates.  I get an error in logs:
"Error": "Failed to execute: mount [-t glusterfs glusterfs:/my_vol /var/lib/rancher/convoy/convoy-gluster-42b0ba81-3870-4f08-837a-e966d54bebab/glusterfs/mounts/my_vol], output Mount fai

[2016-03-16 06:00] yunspace commented on #3442
Thanks all. I haven't seen this error since.

On Wed, Mar 16, 2016 at 9:41 AM, Alena Prokharchyk <notifications@github.com

[2016-03-16 06:00] tfiduccia commented on #3058
Version - master 3/15
Verified fixed - actually this was fixed quite a while ago so it should be in the current release.

[2016-03-16 06:00] #3058 closed

[2016-03-16 06:11] tfiduccia commented on #671
Version - master 3/15
It no work.... it's broke

[2016-03-16 08:35] Semptic opened #3985 "Rancer server and agent on same host: firewall problem"
Rancher Version:
v0.63.1
Docker Version:
1.10.3
OS:
Ubuntu 14.04.4 LTS

Steps to Reproduce:
Enable ufw
Install rancher-server on 8080 and rancher-agent (with CATTLE_IP)
Try to start container

Results:
Hangs on 'Networking' and never starts

Expected:
Container should start ;)

Solution:
Open Port 8080 in firewall

[2016-03-16 09:06] CBR09 commented on #3815
+1
I'm also wonder how the load balancer auto update config when scale in/out at low level.

[2016-03-16 09:07] aletessier opened #3986 "SVG badge for markdown README"
Rancher Version: all

Docker Version: all

OS: all

Steps to Reproduce: none

Results: none

Expected: display a badge on a README (md,rst,cc menu) showing the state of a service

[2016-03-16 09:32] brutus333 commented on #3384
I managed to spot a difference between hosts that have the graph shown without calling in the workaround and the ones that need the workaround while managed by the same Rancher instance (v 0.59.1): the ones that work have Docker 1.9x while the ones that don't have Docker 1.10.3.
The issue also appears on Rancher v0.63.0 with Docker 1.10.3 so it seems to be related somehow with the docker version.

[2016-03-16 09:35] osallou opened #3987 "dns resolve issue with link"
Rancher Version:
0.59.0
Docker Version:
1.10.1
OS:
CentOS Linux release 7.1.1503
Steps to Reproduce:
After a reboot, service links do not resolve anymore.
Launched in a stack some services (symfonytest, ...). Then I launch an other service in the same stack with a link to one of previous containers, I use a link because I "rename" the linked container :  link symfonytest=> php
Results:
when new se

[2016-03-16 09:40] kaos opened #3988 "Selector links overrides explicit links in compose file"
Rancher Version: 0.63.1

Docker Version: 1.10.1

OS: boot2docker

Steps to Reproduce: `rancher-compose up -d`

Using this `docker-compose.yml` file:

[code]

Results:

[code]

Expected:

[code]

I.e. I miss the link to the `b` service. I discovered this issue using `external_links`, but seeing as the issue also applies to `links`, I've only made a reproducible test for that scenario, but please al

[2016-03-16 09:43] kaos commented on #3988
Aside, it would be nice to be able to provide labels for service aliases and external services, too... That could've proved a feasible workaround for this issue for us.

Also noting that adding the link post-deploy, it sticks even after any upgrades done later.

[2016-03-16 10:24] mishak87 commented on #1738
I'm implementing in-house auth service using GitLab as SSoT with mapping namespace/project 1:1 namespace/image. I might make an open-source version based on my experience building it.
So far I just realized how much opinionated and variable the registry setup can get. And for orgs with LDAP Portus is probably the fastest way to get started.

FYI GitLab is [discussing adding private registry](https

[2016-03-16 11:05] revett commented on #3874
@ibuildthecloud looking forward to the new release as we are trying to migrate from Docker Cloud.

Is there an ETA? :+1:

[2016-03-16 11:27] ryaninvents opened #3989 "[rancher-compose] Add ability to select S3 bucket for builds"
Rancher Version: 0.59.1

Docker Version: 1.9.1

OS: Debian

Steps to Reproduce:
1. Create a bucket named `rancher-builds` on S3 for your builds.
2. Download IAM credentials for your user and set up using the `aws` CLI tool.
3. In AWS, give your user full access to the bucket.
4. Use `rancher-compose up` on a `docker-compose` file with a local `build:` directory.

Results: 403 error; I suspect it's

[2016-03-16 12:06] rzachariah commented on #3979
Here's the docker-compose template for the catalog definition. There are some variables in here that we populate in Bamboo.

[code]

Here's what the config looks like once I deploy the catalog entry for the first time (I obfuscated the access keys).

[code]

Note the services have random public ports assigned. Here's what it looks like after upgrade.

[code]

Note the public ports are gone.

[2016-03-16 12:13] fernandoneto commented on #3908
@deniseschannon at this moment im getting a reconneting host in my test environment. If you want i can provide you acess  to this environment. just send me a email to fernando.neto@junglecloud.com

[2016-03-16 13:38] dkiser commented on #3384
@brutus333 FYI I see the issue with all hosts on exact same docker 1.9.x version.

[2016-03-16 14:18] cllunsford commented on #3455
Looks like this error is bubbling up from cadvisor: https://github.com/google/cadvisor/blob/master/fs/fs.go#L270

[2016-03-16 14:26] cllunsford commented on #3455
It was on line 211 back in release 0.19, so rancher-agent must be using an older version: https://github.com/google/cadvisor/blob/release-v0.19/fs/fs.go#L211 .  Perhaps related to https://github.com/google/cadvisor/pull/976 ?

[2016-03-16 15:47] vincent99 commented on #3874
End of the month.

[2016-03-16 16:17] #3751 closed

[2016-03-16 16:18] blandes commented on #3126
+1
This gentlemen came up with this solution, maybe a possible community catalog candidate?
https://github.com/objectpartners/rancher-ecr-credentials

[2016-03-16 16:29] cloudnautique commented on #3615
related to #3384

[2016-03-16 16:39] alena1108 opened #3990 "Add hostname to metadata"
"hostname" parameter should be present in metadata

go-metadata should be updated as well

[2016-03-16 16:50] alena1108 opened #3991 "service.remove: remove unmanaged instances if flag on the service says so"
Today when instance joins service via selector, we don't manage it: don't stop/start with service deactivate/activate, and don't remove with service.remove.

there is a use case when we would want an unmanaged instance to be removed along with the service removal. The default behavior will still be to not remove.

[2016-03-16 17:01] 5an1ty commented on #3874
![](http://i.imgur.com/4ecMgb2.gif)

[2016-03-16 17:33] cjellick commented on #3446
Going to hold on to this one until later today when I get all the convoy-nfs stuff organized and ready to send over all at once.

[2016-03-16 17:35] tfiduccia commented on #3260
Version - master 3/15
Verified fixed

[2016-03-16 17:35] #3260 closed

[2016-03-16 17:37] sangeethah commented on #3937
Tested with latest build from master - Mar/16

Create a stack by providing docker-compose and rancher-compose.

Once the services are activated , use "view config" option to see the generated config files.

There is no io.rancher.service.hash in lables (in docker-compose.yml). But still see it in the metadata section for the services (in rancher-compose.yml).

<img width="1093" alt="screen shot 20

[2016-03-16 17:38] sangeethah commented on #3937
@prachidamle , Reopening this issue to see if the expected behavior is for io.rancher.service.hash to be excluded from metadata as well.

[2016-03-16 17:42] tfiduccia opened #3992 "Host never creates after Entering AMI info into EC2"
Version: Master 3/15

Steps to Reproduce:
1.  Add Host
2.  Select Amazon EC2
3.  Fill out all info and make sure that:
       Availability Zone = us-west-2a
       AMI I= ami-8b0c12ea
4.  Add host

Results: I get a  "Error detecting OS: OS type not recognized"  and host never finishes creating

Expected: Should create

[2016-03-16 17:43] lvuch commented on #3788
resolved in https://github.com/rancher/ui/pull/541

[2016-03-16 17:45] tfiduccia commented on #1520
Version - master 3/15
Verified fixed
Link has been added

[2016-03-16 17:45] #1520 closed

[2016-03-16 17:45] prachidamle commented on #3937
@ibuildthecloud should I exclude the 'io.rancher.service.hash' label also from the metadata in rancher-compose.yml  ?

[2016-03-16 17:53] sangeethah commented on #1511
@westlywright , I am still able to reproduce this issue where sidekick containers are being presented in the service name drop down:

Following are the steps:

Created a service with "hello" and sidekick service - "sk" in "Default" stack.

"service with name" option in scheduler shows "Default/hello/sk" as one of the values to select in the dropdown.

<img width="1113" alt="screen shot 2016-03-16

[2016-03-16 17:54] tfiduccia commented on #951
Version - master 3/15
Verified fixed

[2016-03-16 17:54] #951 closed

[2016-03-16 17:57] tfiduccia commented on #751
Version - master 3/15
Verified fixed

[2016-03-16 17:57] #751 closed

[2016-03-16 18:00] alena1108 commented on #3922
@sangeethah should be tested as part of next upgrade testing - make sure you have global services with health check enabled and disabled on pre-upgraded setup

[2016-03-16 18:08] tfiduccia commented on #3206
Version - master 3/16
Verified fixed

[2016-03-16 18:08] #3206 closed

[2016-03-16 18:09] tfiduccia commented on #3172
Version - master 3/16
Fixed Verified.

[2016-03-16 18:09] #3172 closed

[2016-03-16 18:09] alena1108 commented on #3388
@tfiduccia as UI was reverted back to use its own logic, could you verify the field via API?

[2016-03-16 18:09] sangeethah commented on #1628
Tested with latest build from master - Mar/16.

We now have "ports" tab in host detail view which lists all exposed ports (by service containers and standalone containers) on the host

<img width="1270" alt="screen shot 2016-03-16 at 11 07 00 am" src="https://cloud.githubusercontent.com/assets/4266958/13823556/50b0c0fe-eb67-11e5-8576-923d37f41e99.png">

[2016-03-16 18:10] alena1108 commented on #3904
@janeczku could you open a separate bug (with me as an assignee) for the upgrade use case?

@tfiduccia I've applied the fix for the health check bug you've hit while testing glusterfs, could you verify that use case?

[2016-03-16 18:13] #1628 closed

[2016-03-16 18:13] tfiduccia commented on #3388
The Service still says "Active" and the containers inside say started-once.
![image](https://cloud.githubusercontent.com/assets/11514927/13823708/17e4c68e-eb68-11e5-81d2-d2bd6529dbb7.png)

[2016-03-16 18:13] alena1108 commented on #3884
@sangeethah

Steps to test will be:

1) have more than one host in your setup: h1, h2, h3
2) deploy service scale=3 cross hosts.
3) On every host, check:

* that metadata.yml has IP address (self) sections just for the containers deployed on the host.
* each container still should see all the instances of the service when accessed via:

[code]

[2016-03-16 18:15] alena1108 commented on #2321
@sangeethah steps to test:

1) Create service with instance selector foo=bar
2) Add 2 instances: c1 with label foo=bar, c2 with foo1=bar1
3) Activate service, make sure c1 gets added as a service instance
4) Update service with instance selector foo1=bar1. Verify that c1 got deregistered from the service, and c2 got registered to it.

Similar approach to test for selector links

[2016-03-16 18:17] sangeethah opened #3993 "service is not populated for the LB instances in "ports" section in host detail view."
Rancher Version: Build from master - Mar/16

Steps to Reproduce:
Create a LB service - lb-1.

Launch the Host detail view of the host where LB instance is running.

In the ports tab, service is not populated for the LB instances.

<img width="1266" alt="screen shot 2016-03-16 at 11 14 41 am" src="https://cloud.githubusercontent.com/assets/4266958/13823781/62b2b360-eb68-11e5-9dce-ea1d4f897c44.png">

[2016-03-16 18:31] alena1108 commented on #3388
@tfiduccia could you check for service.healthState in the API?

@vincent99 - does UI still use its own logic?

[2016-03-16 18:41] taketnoi commented on #2734
thanks @janeczku

[2016-03-16 18:43] tfiduccia commented on #3992
User error - Needed to add rancher as ssh user.

[2016-03-16 18:43] #3992 closed

[2016-03-16 18:49] taketnoi commented on #2179
+1

[2016-03-16 18:54] alena1108 opened #3994 "DB data migration: Add one-time task for service/stack healthState update"
The task would take care of updating service/stack having null health state. This is to cover upgrade use cases scenario where healthState used to be null.

[2016-03-16 19:03] dahendel commented on #3893
+1

[2016-03-16 19:04] tfiduccia commented on #3904
Version - master 3/16
Verified fixed

[2016-03-16 19:04] #3904 closed

[2016-03-16 19:29] tfiduccia opened #3995 "Long "name" for catalog template messes up description"
Version - master 3/16

Steps to Reproduce:
1.  Create a catalog template that has a really long "name" in it

Results: The description will get pushed out of the template box.
![image](https://cloud.githubusercontent.com/assets/11514927/13826002/9079fd58-eb72-11e5-9080-43eceeba00df.png)

Expected:  The Name should have a max length showing then utilize the ...

[2016-03-16 19:39] sangeethah commented on #3884
Tested with latest build from master:

1. have more than one host in your setup: h1, h2, h3
2. deploy service scale=3 with exposed port so containers get deployed in different hosts.
3. From every container of the service , able to get container's ip details for all the 3 containers in the service using the following 2 metadata access urls:
 /latest/self/service/container
/latest/stacks/<stackname

[2016-03-16 19:39] #3884 closed

[2016-03-16 19:43] sangeethah commented on #3922
@alena , is this bug not the one encountered in https://github.com/rancher/rancher/issues/3933 ?

[2016-03-16 19:51] vincent99 commented on #3903
These should be marked required in the API..

[2016-03-16 19:52] alena1108 commented on #3388
@tfiduccia just tested locally myself; service healthState says "started-once", while UI says "active". Checked with @vincent99 - UI still uses its own logic, but its going to be changed to use API logic so its testable via UI. @vincent99 could you mark this bug as to-fix after UI changes are merged?

[2016-03-16 19:54] vincent99 commented on #3738
I think I fixed this last week while adding the Saving.../Saved! status to the buttons.

[2016-03-16 19:55] vincent99 commented on #3912
Scale isn't actually a property of the host and isn't saved anywhere.. if you set it to more than 1, multiple independent hosts are individually created.

[2016-03-16 19:57] vincent99 commented on #3688
Part of #3707

[2016-03-16 19:57] #3688 closed

[2016-03-16 20:02] tfiduccia commented on #3738
Version - master 3/16
Verified fixed

[2016-03-16 20:02] #3738 closed

[2016-03-16 20:03] vincent99 commented on #3083
Added to #3707

[2016-03-16 20:03] #3083 closed

[2016-03-16 20:04] vincent99 commented on #2065
This is because of #594, the ID that comes back from GETting the service isn't a valid hostId

[2016-03-16 20:04] #2065 closed

[2016-03-16 20:06] tfiduccia commented on #3962
Version - master 3/16
Verified Added and posting

[2016-03-16 20:06] #3962 closed

[2016-03-16 20:07] tfiduccia commented on #3912
Version - master 3/16
Accepted as won't fix

[2016-03-16 20:07] #3912 closed

[2016-03-16 20:13] tfiduccia commented on #2037
Version - 3/16
Verified added

[2016-03-16 20:13] #2037 closed

[2016-03-16 20:20] composer22 commented on #3615
interesting if its only a package change

[2016-03-16 20:47] sangeethah commented on #634
Tested with latest build from master:

Able to create a service by passing scale as "None" . Service scale is set to 1 and activation of service is successful.

[2016-03-16 20:47] #634 closed

[2016-03-16 20:53] vincent99 opened #3996 "Show labels with JSON values nicer"
![image](https://cloud.githubusercontent.com/assets/753917/13828358/5bbe0e40-eb7e-11e5-9897-4bb023df481d.png)

[2016-03-16 21:06] lvuch commented on #3978
resolved in https://github.com/rancher/ui/pull/538

[2016-03-16 21:19] tfiduccia commented on #3788
Version - master 3/16
Verified fixed

[2016-03-16 21:21] tfiduccia commented on #3788
The "You do not have any Services" text is still not centered.  I deleted the kubernetes service, but it recreates to fast for me to get a picture.

[2016-03-16 21:23] briannosaurus commented on #3233
I don't think this is fix. as i am on the lastest 0.63 and i am still getting the same error as OP.

Error in driver during machine creation: Incomplete vSphere information: missing /var/lib/cattle/machine/3e2a0220-4e79-4faf-853f-d1946ee2b066/boot2docker.iso

But my logs shows it does and it downloads it into the correct folder. it just does not copy it to vsphere.

now if i use the same command i

[2016-03-16 21:27] aletessier commented on #3986
Hello,

is it possible to get a badge out of rancher easily ?

cordialement,

[2016-03-16 21:37] sangeethah commented on #3883
Tested with latest build from master:

Added Amazon EC2 host to rancher-setup.
Created few services with exposed ports .
Some of the containers of the services were on the EC2 host.

"publicEndpoints" for service reflects the EC2 host's ip address for container in this host.

power off the EC2 host (from AWS console) and wait for the host to get to "reconnecting" state.

power on the EC2 host (fro

[2016-03-16 21:37] #3883 closed

[2016-03-16 21:38] vincent99 commented on #3986
This would have to be available unauthenticated even if auth is enabled, and would leak information about your setup to anybody that could hit it.  You can build something yourself that uses the API to get a service and returns a SVG of the `state` or `healthState`, but this is not something that we're going to be adding to the core application.

[2016-03-16 21:38] #3986 closed

[2016-03-16 21:38] lvuch commented on #3788
![screen shot 2016-03-16 at 2 34 35 pm](https://cloud.githubusercontent.com/assets/3013118/13829478/7b5075da-eb84-11e5-8d83-607b31be24a3.png)
![screen shot 2016-03-16 at 2 32 43 pm](https://cloud.githubusercontent.com/assets/3013118/13829479/7b539486-eb84-11e5-9a32-8633b6fc3b41.png)
now in https://github.com/rancher/ui/pull/542

[2016-03-16 21:57] sangeethah commented on #330
Tested with latest build from master:

Made a request using API as follows setting networkIds to "rancher managed network" and networkmode to "none"

[code]

Container gets deployed with network mode "none" and there is no ipaddress assigned to it.

[2016-03-16 21:57] #330 closed

[2016-03-16 21:59] deniseschannon commented on #3989
Whenever I've tested builds, it hasn't gone in a specific bucket, but in the "All buckets" section.

I think it'd be an enhancement to be able to specify what bucket to go into.

[2016-03-16 22:11] cusspvz commented on #2179
@taketnoi Github has now reactions on comments to avoid `+1` kind of comments, please rate the comment/original post you're manifesting interest in.

[2016-03-16 22:15] boedy commented on #3893
Thanks for opening this Request LRancez. Any ideas on how this could be best implemented into Rancher. Could this be a catalog entry or should this be part of the core? Currently rancher does not store any tokens or credentials related to cloud providers.

I did some small test with the websockets the rancher api exposes using Digital Ocean. It's pretty strait forward creating and destroying hosts

[2016-03-16 22:30] cjellick commented on #3333
Bug:
If the "agent container" for convoy is removed for any reason, the storage pool gets deleted and recreated.

Steps to repro:
1. Create a convoy-nfs setup
2. From the host, do a docker rm on the storagepool-agent container*

Actual Result:
The storage pool gets quickly deleted and recreated, resulting in all the volumes that were in that storage pool disappearing from the UI (because they are

[2016-03-16 23:13] sangeethah commented on #3333
Tested the following scenarios with latest build from master:

Steps to repro:
Create a convoy-nfs setup

Scenario 1:
1. From the host where nfs-storagepool container, remove the convoy-nfs-storagepool container.
docker rm -f r-convoy-nfs_convoy-nfs-storagepool_1

This results in another instance of convoy-nfs_convoy-nfs-storagepool being created succesfully.

Scenario 2:
1. power down the host wh

[2016-03-16 23:13] #3333 closed

[2016-03-16 23:25] cloudnautique opened #3997 "Proxy settings for machine driver proxy not able to communicate over https"
Rancher Version:
v0.63.0

Docker Version:

OS:

Steps to Reproduce:
1. Launch squid(docker run --net host -d jpetazzo/squid-in-a-can)
2. Drop outbound for port 80,443 for Docker containers.
[code]

3. Launch rancher/server with http_proxy and https_proxy settings.
4. Attempt to launch an AWS machine using the machine drivers in the UI.

Results:
[code]
in the UI.

[code]

In the docker logs. It lo

[2016-03-16 23:40] sangeethah commented on #3997
Similar issue tracked in https://github.com/rancher/rancher/issues/1783

[2016-03-16 23:55] vincent99 commented on #3656
Need a way to do `kill -HUP` or similar so the catalog service can reload the list without being down for a while.

[2016-03-16 23:55] sangeethah commented on #3940
Tested with latest build from master:

Created 2 services - s1 and s2.
Create a  service - s3 with assignServiceIpAddress set to "true" and vip set to some ipaddress.

Created a service alias - SA with links to s1 and s2.

service alias name resolves to ip address of containers form s1 and s2.

Added S3 as service link to service alias.

service alias name resolves to ip address of containers form

[2016-03-16 23:55] #3940 closed

[2016-03-17 00:52] sangeethah opened #3998 "When selectorLink is upgrade to a selector link having "in" to link to more services , links to to new service are not aviailable."
Rancher Version: Build from master

1) Create service s3 with selectorLink foo=bar
2) Add service  s1 with label foo=bar
3) Add service  s2 with label foo=bar1
4) Activate service s3. Link to s1 is available.
5) Update service s3 and set selectorLink to foo in (bar,bar1)

s2 is not getting linked to s3.

Expected behavior:
s2 should get linked to s3 and S3 continue to be linked to s1.

[2016-03-17 00:54] sangeethah commented on #2321
Tested with latest build from master:

We are allowed to update both "selectorLink" and "selectorContainer" for services.

There is 1 scenario where the service links do not get upgraded when selectorLink is updated which is tracked in https://github.com/rancher/rancher/issues/3998

[2016-03-17 00:54] #2321 closed

[2016-03-17 01:35] r24y commented on #3989
Oh, I see. So it creates a new bucket then? I've set the most permissive possible S3 policy for my user and it still seems to be giving me a permissions error.

[code]

[2016-03-17 01:50] ranmufei opened #3999 "How to get the IP of the proxy machine to follow the host?"
Rancher Version:  latest

Docker Version:  latest

OS: centos7

Steps to Reproduce:

Results:

Expected:

I need help!
How to get the IP of the proxy machine to follow the host?
Because the host IP may not be fixed.

[2016-03-17 02:13] sshipway commented on #3999
I suggest that you use a Global load balancer that forwards to the service; then you can access it from any host.

The way we do it is to have two of our Hosts with a LB=1 label, and then set the load balancer to be global with a requirement of label LB=1.  This means that every Host with LB=1 will have an instance of the load balancer.  We then put the two LB=1 Hosts behind our F5 Hardware load b

[2016-03-17 03:22] deniseschannon commented on #3233
@mgherman and @kilokill were able to launch their hosts with no issues on  v0.63.0. Would either of you be able to give some guidance? I haven't had time to attempt to launch them in vSphere.

@briannosaurus Can you share your logs (hide the sensitive information)?

[2016-03-17 04:30] sangeethah opened #4000 "Validation check when trying to create an admin client fails."
Rancher server version - latest build from master

All test cases that got executed after a test case that enables local on the setup - test_turn_on_local_auth_ui , fails in test setup step where they try to get an admin client.

Following is the test failure seen:

[code]

[2016-03-17 04:31] deniseschannon commented on #3979
I have been able to reproduce.

1. Created a simple docker-compose.yml template for my private catalog.

[code]
2. Launch catalog entry and view config of the stack.

[code]

3. Edited my template by adding a label.

[code]

4. View Config in UI. Random port is missing in Config.

[code]

[2016-03-17 04:38] sangeethah commented on #4000
This  behavior seems to be relating to this fix made recently - https://github.com/rancher/cattle/pull/1446

If i turn off validation for the create_type_by_uuid method , I am able to see the tests succeed.

[2016-03-17 04:42] deniseschannon commented on #3985
http://docs.rancher.com/rancher/faqs/troubleshooting/#running-ubuntu-and-containers-are-unable-to-communicate-with-each-other

[2016-03-17 05:06] cloudnautique commented on #3982
Ah, yes we need to change the doc header. For any cert that is not part of the standard Ubuntu CA bundle you need to follow the self signed cert instructions.

[2016-03-17 05:15] deniseschannon commented on #3987
Can you share the docker-compose.yml of the stack?

[2016-03-17 05:27] cloudnautique commented on #3987
Also, does it try to resolve immediately? There is a slight lag between when the container comes up and the DNS resolver is able to answer. It can range from  1<n<10 seconds depending on load.

[2016-03-17 05:35] prachidamle commented on #3697
@vincent99 is this a UI issue? I see that API is throwing the validation error 422 when I try to create a service containing underscore in the name using the API UI.

I also see this error thrown when creating services using rancher-compose or even in  integration py tests.
<img width="1439" alt="service_with_underscore" src="https://cloud.githubusercontent.com/assets/1470602/13837338/5ef5c3d4-ebc

[2016-03-17 05:37] osallou commented on #3987
Regarding resolution , i start an nginx that connect to the *php* service.
It raised an unresolved php name error at startup.
It used to work however, my concerns occured only after a derver reboot and
restarting rancher containers. I will send compose when i get my computer.

Le jeu. 17 mars 2016 06:27, Bill Maxwell <notifications@github.com> a
écrit :

[2016-03-17 05:53] JayHaoDing opened #4001 "[rancher-compose] logs option does not exit when output is finished"
When rancher-compose logs is called, it stalled even there is no more logs from container. docker-compose had the same issue but was fixed not long ago. Hopefully the change can be inherited to rancher-compose as well, thanks.

rancher-compose version: 0.7.2

PR from docker-compose repo: https://github.com/docker/compose/pull/2720

[2016-03-17 06:03] sangeethah commented on #3615
Tested with latest build from master:

Set up -  Hosts - Ubuntu 15.10  with docker - 1.10.3
Able to view graphs  for cpu , memory,network, storage for containers and host,

[2016-03-17 06:21] vincent99 commented on #3697
No?  If underscore isn't allowed the field should have invalid/validCharsin the schema.  And in any case the state shouldn't get stuck activating no matter what the UI sends.

[2016-03-17 07:30] Semptic commented on #3985
Sry not to mention, but I have already set this. There is is no problem with agents on other hosts (ubuntu too). It's only the agent on the same host as the server.

[2016-03-17 09:49] bscott opened #4002 "Docker-Machine SG is always picked which launching EC2 Host"
Rancher Version:
v0.63.0
Docker Version:
1.10
OS:
Ubuntu 15
Steps to Reproduce:
Create AWS Host via Rancher UI and Enter a Security Group to use that is pre-existing
Results:
Host will always be placed in a SG called 'docker-machine', no matter what Security Group you choose.
Expected:
Selected Security Group should be used instead of Default being forced.

[2016-03-17 11:21] SoreGums opened #4003 "Adding host specify where to autonumber in the name when adding multiple hosts"
Rancher v0.63.1

so adding host screen, pick digital ocean.
move slider to deploy 3 hosts
enter name: n01.something.something

what happens now is the names are
1. n01.something.something1
2. n01.something.something2
3. n01.something.something3

Would want them to be
1. n01.something.something
2. n02.something.something
3. n03.something.something

perhaps having some sort of format to say where to

[2016-03-17 11:26] dsvmacdonald opened #4004 "MongoDB with Replica Set not working due to DNS issue"
Rancher Version: v0.63.1

Docker Version: 1.10.3

OS: Ubuntu 14.04.4 LTS

Steps to Reproduce:

1) Set up a docker compose file with some client service and mongo service (use community or library catalog image for MongoDB).  Client Service put on host A; each mongo container is put on it's own host (different from Client Service)
2) Start up stack with name **test**

Results:

1) Client Service co

[2016-03-17 11:47] SerialVelocity commented on #2185
For people to workaround for now, try this:
[code]

[2016-03-17 12:05] cedvan commented on #3668
@ibuildthecloud, [docker-root](https://github.com/ailispaw/docker-root) have Linux kernel v4.4.6, and Rancher OS v4.2. I think v4.4.6 as the IPSec support, no ? The problem must be elsewhere...

[2016-03-17 12:30] roflmao opened #4005 "Unable to set CATTLE_AGENT_IP in rancher agent"
Rancher Version: 0.63.1

Docker Version: 1.10.3

OS: Ubuntu 14.04.4

Steps to Reproduce:
[code]

Results:
[code]

Dropping the "-e CATTLE_AGENT_IP=192.168.67.15" works but gives me a agent with 172.17.0.1 ip:

[code]

[2016-03-17 12:34] roflmao commented on #4005
Solved by doing:

[code]

[2016-03-17 13:13] pboos commented on #3670
We are experiencing the same problem. It seems like glusterfs is not correctly starting up.

On the ```glusterfs_glusterfs-server_1``` 1-3 we see the following. But still glusterfs shows up as green.
[code]

Error on convoy-gluster container ```convoy-gluster_convoy-gluster_1```
[code]

And some screenshots here
![](http://i.imgur.com/HMufYed.png)
![](http://i.imgur.com/3TIEfZO.png)

[2016-03-17 13:35] atrauzzi commented on #3714
Just upgraded to Rancher `v0.63.1` and I'm still experiencing this issue.  This task likely needs to be reopened.

[2016-03-17 13:40] atrauzzi commented on #3714
Also, worse still is the workaround I've been using up until now has suddenly stopped working as well:

![image](https://cloud.githubusercontent.com/assets/115199/13847571/d8da65ca-ec1b-11e5-82b8-f9d5b02ba3c6.png)

[2016-03-17 13:59] roflmao opened #4006 "Unable to setup guestbook from catalog (Kubernetes)"
Rancher Version: 0.63.1

Docker Version: 1.10.3

OS: Ubuntu 14.04.4

Steps to Reproduce:
Setup kubernetes environment, enter catalog, try to setup K8s Example Guestbook

Results:
Pressing launch gives:
[code]

Expected:
K8s Example Guestbook to setup.

[2016-03-17 14:12] osallou commented on #3987
Here is compose file

    symfonytest:
      labels:
        io.rancher.container.pull_image: always
      image: osallou/symfony-php
      volumes_from:
      - 16086b96-eb72-4340-92c9-b4c506d6e9b9
    symfonynginx:
      ports:
      - 8000:80/tcp
      labels:
        io.rancher.container.pull_image: always
        io.rancher.container.start_once: 'true'
      image: osallou/symfony-nginx

[2016-03-17 15:09] LRancez commented on #3893
Hi @boedy , thanks for the response.
It could well be a catalog entry instead of messing with the core. It could be an approach like the one used for kubernetes. It depends of each implementation if you want to scale automatically, manually or if you don't want to scale at all.

As for the credentials, I personally like and trust the way that containers handles internal connection and only exposes

[2016-03-17 15:39] cjellick commented on #3984
convoy-gluster is not in GA right @will-chan

[2016-03-17 15:44] deniseschannon commented on #4001
Rancher-compose is based on libcompose, so it would need to be in docker/libcompose. Have you checked to see if the compatible PR has been made in that repo?

[2016-03-17 15:51] deniseschannon commented on #4002
I just tested with v0.63.1. I was unable to reproduce. My machine was placed in the security group that I selected.

Can you check the server logs to see the docker-machine command that was passed to see which SG was passed?

[2016-03-17 15:56] cjellick commented on #3331
@alena1108 this was failing very obviously in cattle builds. I believe @ibuildthecloud fixed it. I'd like to just close. You good with that?

[2016-03-17 16:02] deniseschannon commented on #4005
@roflmao Had you previously used this host to connect to Rancher? Same Rancher setup or different?

[2016-03-17 16:08] cjellick commented on #3984
I was wrong. This needs fixed for GA.

[2016-03-17 16:10] roflmao commented on #4005
Yes i ran first without -e CATTLE_AGENT_IP and got a docker0 interface ip. So i re-ran it with -e CATTLE_AGENT_IP and it gave those messages.

[2016-03-17 16:10] cloudnautique commented on #3670
What were the logs on glusterfs_glusterfs-server_glusterfs-volume-create_1?

[2016-03-17 16:14] vincent99 commented on #3805
Nope... Service is allowed to have a scale of zero, but the default should still be 1.

[2016-03-17 16:29] phoenity opened #4007 "Unable to start rancher api-server"
Rancher Version: 0.59.0 and 0.63.1

Docker Version: 1.10.2

OS: ubuntu 14.04

Steps to Reproduce: Try to start the rancher server normally:

`sudo docker run -d -v rancher_mysql:/var/lib/mysql --restart=always -p 80:8080 rancher/server`

Results: Rancher server fails mid-starting. From the logs:

[code]
I can access the rancher UI but anything related to the API times out.

[2016-03-17 16:30] pboos commented on #3670
Log of: ```glusterfs_glusterfs-server_glusterfs-volume-create_1```
[code]

------------------------------------------------

We now deleted and recreated glusterfs. The log on create_1 is now:
[code]

But create_2 and create_3 are stuck at ````Containers are coming up...```

It seems like create_2 and create_3 are not even ```Waiting for pool...```. As if something did not get started correctly.

[2016-03-17 16:33] alena1108 commented on #3331
sure, closing

[2016-03-17 16:33] #3331 closed

[2016-03-17 16:34] will-chan commented on #3984
we just need to be able to deploy it and access/use it.  We don't need to deal with corner case scenarios or HA for now until post GA.

[2016-03-17 16:36] LLParse commented on #4006
@roflmao I am unable to reproduce, could you please provide more information about how you setup your kubernetes environment (host registration, etc)

Could you provide the kubectld logs?
e.g. `docker logs r-Kubernetes_kubectld_1`

[2016-03-17 16:40] alena1108 commented on #4004
@dsvmacdonald sorry for the trouble, we are going to deploy app from the compose files given, and see whats going on.

[2016-03-17 16:47] vemod opened #4008 "Admin GUI in Chrome shows white page after update. Broken JS load"
Rancher Version: 0.63.1, 0.63.0
Docker Version: Docker version 1.10.0, build 590d510
OS: Linux 4.3.0-sabayon
Browser: Chrome 46

Steps to Reproduce:
1. ```docker run -d --restart=always -p 8080:8080 rancher/server:latest```
2. Go to ```http://localhost:8080```
3. View Developer tools console

Results:
* White page (because javascript file is not loaded)
* Developers tools Console logged:
[code]
Ex

[2016-03-17 17:00] deniseschannon commented on #3952
@hwinkel Now that you have k8s running, it seems like you are hitting https://github.com/rancher/rancher/issues/4006 which we haven't been able to reproduce. Can you open new bugs if you are having issues as it's hard to track a closed bug. :)

[2016-03-17 17:00] cjellick commented on #3670
I looked into @deniseschannon's setup where she had this problem.

The volume never got created by the glusterfs. The create-volume container had this output:
[code]
and was stopped. I started that container back up and it created the gluster volume and convoy-gluster started up properly.

I'm sure there is some fix that will work around this problem, but I would also suggest that we do this:
http

[2016-03-17 17:01] deniseschannon commented on #4006
@roflmao I also was unable to reproduce using the same versions that you are running.

Did you change any of the defaults in the catalog?

[2016-03-17 17:02] cjellick commented on #3670
Is the issue that when this happend: `3/17/2016 9:13:42 AMpool list: failed`, the create volume container prematurely quit and did not restart?

[2016-03-17 17:08] cloudnautique commented on #3888
@bacheson , curious across how many hosts?

@Negashev, we have been analyzing the DB usage quite a bit as we head towards GA. We should have some improvements in the coming RCs before GA.

[2016-03-17 17:11] alena1108 opened #4009 "Performance improvements to "host" config items update: DB data migration is required"
To track performance improvements for host config item update (triggered by dns/metadata changes)

[2016-03-17 17:12] tfiduccia commented on #1476
Version - master UI 3/17
Verified fixed

[2016-03-17 17:12] #1476 closed

[2016-03-17 17:16] hwinkel commented on #3952
sure. lets focus on #4006

[2016-03-17 17:23] prachidamle commented on #3918
@cloudnautique do you still have your setup to debug on, or logs? Or can you add some details as to how to set this up locally?

[2016-03-17 17:26] lvuch commented on #3674
@westlywright enter works, click works. but when using enter on keyboard menu lingers.

[2016-03-17 17:29] tfiduccia commented on #3805
Version - master UI 3/17
Verified fixed

[2016-03-17 17:29] #3805 closed

[2016-03-17 17:30] tfiduccia commented on #3993
Version - master UI 3/17
Verified fixed

[2016-03-17 17:30] #3993 closed

[2016-03-17 17:33] prachidamle commented on #3697
This bug has the same root cause as this issue https://github.com/rancher/rancher/issues/3950

Stack is stuck in activating when the compose yaml is invalid.

[2016-03-17 17:33] prachidamle commented on #3697
@deniseschannon this is duplicate of https://github.com/rancher/rancher/issues/3950

[2016-03-17 17:38] deniseschannon commented on #3697
Closed in favor of #3950

[2016-03-17 17:38] #3697 closed

[2016-03-17 17:38] prachidamle commented on #3697
Also, @alena1108 mentioned this is probably a rancher-compose issue

[2016-03-17 17:44] prachidamle commented on #3716
@alena1108 this will need a new template for route53

[2016-03-17 17:45] vincent99 commented on #3707
`retainIp` is ignored if `networkMode` != 'managed', so that one doesn't matter

[2016-03-17 17:45] cjellick opened #4010 "API v2-beta"
Add an new version of the api that renames enviornment to stack then fix everything that breaks.

Note: project to environment -> will occur after 1.2
https://github.com/rancher/rancher/issues/6132

[2016-03-17 17:47] tfiduccia commented on #3983
Version - master UI 3/17
Verified fixed

[2016-03-17 17:47] #3983 closed

[2016-03-17 17:50] joshwget commented on #3697
This should be fixed when docker/libcompose#99 is merged and Rancher Compose is updated

[2016-03-17 17:58] tfiduccia commented on #3996
Version - master UI 3/17
Verified fixed

[2016-03-17 17:58] #3996 closed

[2016-03-17 18:12] tfiduccia commented on #3897
Version - master UI 3/17
Need to recognize url without http:// or https://.  I should be able to just put www.amazon.com.

[2016-03-17 18:13] tfiduccia commented on #3772
Version - master UI 3/17
Verified fixed

[2016-03-17 18:13] #3772 closed

[2016-03-17 18:14] deniseschannon commented on #3982
@brentkearney I've updated the docs to indicate in the requirements when you should use the self signed certificates.

http://docs.rancher.com/rancher/installing-rancher/installing-server/basic-ssl-config/

And the specific section on self signed certificates
http://docs.rancher.com/rancher/installing-rancher/installing-server/basic-ssl-config/#using-self-signed-certs-beta

[2016-03-17 18:21] tfiduccia commented on #3378
Version - Master UI 3/17
Verified fixed

[2016-03-17 18:21] #3378 closed

[2016-03-17 18:22] tfiduccia commented on #3377
Version - master UI 3/17
Verified fixed

[2016-03-17 18:22] #3377 closed

[2016-03-17 18:25] sangeethah commented on #3930
Tested with latest build from master - Mar/16
Exception mentioned in the logs are  not seen in logs when validation tests relating to rolling back upgraded services was performed multiple times.

[2016-03-17 18:25] #3930 closed

[2016-03-17 18:25] tfiduccia commented on #3156
Version - master UI 3/17
Verified fixed

[2016-03-17 18:25] #3156 closed

[2016-03-17 18:25] deniseschannon commented on #3982
Please re-open if the self signed certificate section doesn't work for you.

[2016-03-17 18:26] tfiduccia commented on #3078
Version - master UI 3/17
Verified fixed

[2016-03-17 18:26] #3078 closed

[2016-03-17 18:33] tfiduccia commented on #2692
Verison - master UI 3/17
Verified fixed

[2016-03-17 18:33] #2692 closed

[2016-03-17 18:34] tfiduccia commented on #2565
Version - master UI 3/17
Verified fixed

[2016-03-17 18:34] #2565 closed

[2016-03-17 18:46] tfiduccia commented on #2132
Version - master UI 3/17
Text is cut off at end.
![image](https://cloud.githubusercontent.com/assets/11514927/13857122/bc281110-ec35-11e5-839c-b25ce5ae04c0.png)

[2016-03-17 18:48] Negashev commented on #3888
@cloudnautique , Then I think you can close this issue

[2016-03-17 18:49] cloudnautique commented on #3888
Thanks.

[2016-03-17 18:49] #3888 closed

[2016-03-17 18:50] tfiduccia commented on #1547
Version - master UI 3/17
Verified fixed

[2016-03-17 18:50] #1547 closed

[2016-03-17 18:53] Negashev opened #4011 "Zombies on servers"
I think a good solution would be to write the number of zombie processes on servers

![screenshot 66](https://cloud.githubusercontent.com/assets/4653589/13857317/369faede-ec9b-11e5-92ca-68a42e7f6d13.png)

[2016-03-17 18:53] Negashev commented on #4011
Also it does not hurt to add a method of stopping the container. In order to be able to send a container command "service stop"

[2016-03-17 18:58] nhumrich opened #4012 "Container Scheduling rules dont always work after upgrades"
Rancher Version:
v.59.1

Docker Version:
1.10.3

OS:
Ubuntu

I have a set of containers with the following rules:
Container A: The host must have a container with label of service=b
Container B: The host should not have container with label of service=b

The rule for B helps prevent two of the same container on one host.
When I do a rolling upgrade using the CLI (not an in-place upgrade), sometime

[2016-03-17 19:25] tfiduccia commented on #3613
Version - master UI 3/17
Not fixed.  In Firefox it's still refreshing and taking me back to Stacks page.  In Chrome if I remove all three, it's throwing some debug error "component.js:21 Uncaught TypeError: Cannot read property 'join' of null"

[2016-03-17 19:42] vincent99 opened #4013 "Health check initializingTimeout timer starts before container is running"
The initializing timeout should only start once the container is running, or else it can expire before the image is even done downloading...

[code]

[2016-03-17 19:54] vincent99 commented on #3707
Set a specific hostname with an empty value was confusing, so:

![image](https://cloud.githubusercontent.com/assets/753917/13856850/6e99f5ae-ec34-11e5-860d-b26763acf7c8.png)

[2016-03-17 19:54] vincent99 commented on #3707
Schedule to a specific host is a bug, but in the API.. https://github.com/rancher/rancher/issues/594

[2016-03-17 20:11] brentkearney commented on #3982
Thanks Denise!

I added -v /etc/ssl/my-CA-cert:/ca.crt for the rancher-server container, but it tries to write a file to /etc/ssl, and gets a permissions error:

[code]

[2016-03-17 20:23] #3615 closed

[2016-03-17 20:58] tfiduccia commented on #1407
Version - master UI 3/17
Verified fixed

[2016-03-17 20:58] #1407 closed

[2016-03-17 21:14] tfiduccia commented on #3704
Version - master UI 3/17
Verified fixed

[2016-03-17 21:14] #3704 closed

[2016-03-17 21:16] brentkearney commented on #3982
Cancel that -- I'm not exactly sure what happened, but I noticed that after restarting without the -v ...:/ca.crt, I got the same error. So I deleted the rancher-server image, and the several containers associated to it, and re-ran it. This time it worked as documented!

[code]

[2016-03-17 21:18] tfiduccia commented on #3613
Version - master UI 3/17
Verified fixed

[2016-03-17 21:18] #3613 closed

[2016-03-17 21:27] brentkearney commented on #3982
Cancel that cancel! The server started properly, but on another host, starting the agent had the same result as this original issue. I have copied the CA cert to /var/lib/rancher/etc/ssl/ca.crt as per the docs:

[code]

Yet running the agent still produces:

[code]

[2016-03-17 21:29] cloudnautique commented on #3982
Please make sure /var/lib/rancher/state is clean.

[2016-03-17 21:30] tfiduccia opened #4014 "json pretty fix, causes value to be on separate lines"
Version - master 3/17

Steps to Reproduce:
1.  Add a label to host where key = json and value = {"hi": {"key": "value"}, "array": [1,2,3,4,5]}
2.  Add a service and go to Scheduling and Add Scheduling Rule
3.  Select json in key and then use click on drop-down for value

Results: the value is now a list of the json broken up by the comma
![image](https://cloud.githubusercontent.com/assets/11514927

[2016-03-17 21:34] tfiduccia opened #4015 "remove icon on scheduling tab in Add Service is not aligned properly"
Version - master 3/17

Steps to Reproduce:
1.  Add Service
2.  In Scheduling tab click on Add Scheduling Rule

Results: the remove icon on right is not aligned properly
![image](https://cloud.githubusercontent.com/assets/11514927/13861898/18096814-ec4d-11e5-8997-9efa83cd5729.png)

Expected: Should be aligned properly

[2016-03-17 21:50] prachidamle commented on #3195
@tfiduccia cant reproduce this, I am able to load the Audit Logs page in my setup.
Can you add any other steps to reproduce?

[2016-03-17 21:56] prachidamle commented on #3195
Got this picture from @tfiduccia

This error is seen in developer-tools -> console. Not shown on rancher UI.

![pasted image at 2016_03_17 02_52 pm](https://cloud.githubusercontent.com/assets/1470602/13862405/564024d0-ec50-11e5-99c8-22d97f8dc99a.png)

[2016-03-17 22:02] deniseschannon commented on #4012
Can you share your docker-compose.yml of your original service and new one? It would make it faster to reproduce?

It sounds like you are expecting Container A to be moved after it's been scheduled onto a host (that originally had container B) because Container B was upgraded and moved to another host. In this use case, it would not move as it was correctly scheduled onto the host (when it origina

[2016-03-17 22:02] brentkearney commented on #3982
No dice.

I played around for a bit, always getting the same SSL error. I removed /var/lib/rancher entirely, then recreated /var/lib/rancher/etc/ssl/ca.crt, and started a new container.

[code]

[2016-03-17 22:10] deniseschannon commented on #4012
In your example, it sounds like you have 2 hosts and service B has a scale of 2 containers. The scheduling rules indicate that you want your containers launched on a host that shouldn't have a service B container already on it. For the rolling upgrade, if both of your hosts already have a service B container, then it is technically following the scheduling rule. Since both hosts already have a ser

[2016-03-17 22:11] deniseschannon commented on #3982
You cannot have "--name=rancher-agent" to the rancher/agent command.

http://docs.rancher.com/rancher/faqs/troubleshooting/#adding-in-name-rancher-agent

[2016-03-17 22:14] cloudnautique commented on #3982
The startup process first runs an agent that sets everything up for the actual agent. When run correctly there should be a file in /var/lib/rancher/etc/agent.conf . That will setup the variables for the actual rancher-agent container.

[2016-03-17 22:16] tfiduccia opened #4016 "Cloning servicer with HTTP/1.0 request in Health Check causes blank page to show up"
Version - master 3/17

Steps to Reproduce:
1.  Create a service
2.  In Health Check tab Select HTTP Responds 2xx/3xx
3.  Enter something into the HTTP Request* field (I just put in /healthcheck) and have the drop-down on HTTP/1.0
4.  Click on Create
5.  Try to clone that service

Results: Page goes blank, in dev tool get a "component.js:69 Uncaught TypeError: Cannot read property '1' of null."

Ex

[2016-03-17 22:20] brentkearney commented on #3982
OK, I stop and deleted the container, and started a new one without a --name parameter. It does add a /var/lib/rancher/etc/agent.conf file:

[code]

I'm beginning to think maybe my ca.crt is problematic. Although, it works on the server and the reverse proxy, and I can connect with my web browser with https.

[2016-03-17 22:25] cloudnautique commented on #3982
Does your cert have all the intermediaries? Certain browsers will fetch the intermediaries silently... others will not. A good way to check is with curl from the command line... without -k :)

[2016-03-17 22:35] deniseschannon commented on #3585
@sebmoule If you upgrade to 1.9.1+ and still have issues, please re-open.

[2016-03-17 22:35] #3585 closed

[2016-03-17 22:36] tfiduccia commented on #2181
Version - master 3/17
Verified fixed

[2016-03-17 22:36] #2181 closed

[2016-03-17 22:37] prachidamle commented on #3716
Assigning to @alena1108, to release external-dns with new template.

[2016-03-17 22:39] brentkearney commented on #3982
Without the -k:

[code]

With the -k:

[code]

This certificate is expiring in a few days -- I am playing around with LetsEncrypt.org right now. Hopefully I'll have better luck with those certificates!

[2016-03-17 22:40] deniseschannon commented on #3744
@opichon If you still have issues, please re-open. It sounds as if your load balancer is working.

If yo have examples of what Rancher ignores in an "offending" rancher-compose, can you please share it?

[2016-03-17 22:40] #3744 closed

[2016-03-17 22:40] tfiduccia commented on #872
Version - master 3/17
Verified fixed

[2016-03-17 22:40] #872 closed

[2016-03-17 22:40] tfiduccia commented on #1601
Version - 3/17
Verified fixed

[2016-03-17 22:40] #1601 closed

[2016-03-17 22:42] deniseschannon commented on #3799
If you could use a non rc candidate and reproduce, please re-open.

[2016-03-17 22:42] #3799 closed

[2016-03-17 22:46] brentkearney commented on #3982
Note, however, if I set the CURL_CA_BUNDLE environment variable, it works:

[code]

So, if you changed `r = requests.get(url)` to `r = requests.get(url, verify=/var/lib/rancher/etc/ssl/ca.crt)` (when it exists), then it will probably work for certificates like this one. :)

[2016-03-17 22:46] deniseschannon commented on #3807
@ibuildthecloud Can you take a look and see why Ubuntu 15.04 might not work for Rancher?

[2016-03-17 22:49] deniseschannon commented on #3878
Duplicate of https://github.com/rancher/rancher/issues/3670

Please follow the other issue for updates.

[2016-03-17 22:49] #3878 closed

[2016-03-17 22:51] tfiduccia commented on #3707
Version - master 3/17
Verified fixed

[2016-03-17 22:51] #3707 closed

[2016-03-17 22:55] deniseschannon commented on #3967
@etlweather If you still have questions after you upgrade, please re-open.

[2016-03-17 22:55] #3967 closed

[2016-03-17 22:58] tfiduccia opened #4017 "When you change services through drop-down, the labels tab does not update"
Version - master 3/17

Steps to Reproduce:
1.  Create two services and add different labels to each one
2.  Click on one of the services name to get to details page
3.  Select the label tab so you can see the label you added
4.  In the Service name drop-down select the other service you created

Results: Label tab does not update and is still showing labels for the first service you selected

Expe

[2016-03-17 23:01] tfiduccia opened #4018 "Shell window has unnecessary scrollbar on bottom"
Version - master 3/17

Steps to Reproduce:
1.  Create a service
2.  Go to container and click on Shell from it's menu

Results: The shell window has a scrollbar on the bottom that is unnecessary.
![image](https://cloud.githubusercontent.com/assets/11514927/13863758/70f9f31a-ec59-11e5-89f9-18799906f1d0.png)

Expected: Remove unnecessary scrollbar

[2016-03-17 23:06] lvuch commented on #4015
fix in https://github.com/rancher/ui/pull/542

[2016-03-17 23:25] tfiduccia commented on #2977
Version - master 3/17
Does not work.... I check the box and add http://ghe.rancher.io/ into the Enterprise Host* field and it's directing to https://http//ghe.rancher.io//login/oauth/

[2016-03-17 23:38] tfiduccia commented on #1410
Version - master 3/17
Does not work.... I check the box and add http://ghe.rancher.io/ into the Enterprise Host* field and it's directing to https://http//ghe.rancher.io//login/oauth/

[2016-03-17 23:38] dj-hedgehog opened #4019 "[rancher-compose] rancher-compose up hangs at "Starting""
Rancher Version: v0.51.0
Rancher Compose: v0.7.0
Docker Version: 1.10.3
OS: OS X 10.11.4 Beta

## Task:
I want to create a Gitlab instance on a remote rancher instance (which contains one host with multiple working stacks already).

## Steps to Reproduce:
**1. create this `docker-compose.yml`:**
[code]

**2. execute `rancher-compose up`**

## Results:
[code]
It hangs forever at the last line.

In

[2016-03-17 23:39] sangeethah opened #4020 "convoy-nfs-storage-pool instance is not able to start successfully after rancher server was upgraded."
Server version - Build from master - Mar/16

Deployed convoy-nfs catalog service.
Had few containers with data volumes from  convoy-nfs  volume driver.

Upgraded rancher-server to master build - Mar /17

After upgrade , "convoy-nfs_convoy-nfs-storagepool_1" continues to be in stopped state and following eerroe seen in logs repeatedly.

[code]

[2016-03-17 23:40] tfiduccia commented on #2977
Version - master 3/17
Does not work.  When I refresh the page after update, the screen goes blank.

[2016-03-17 23:42] vincent99 commented on #671
I fix?

[2016-03-17 23:43] deniseschannon commented on #4019
Where is the Gitlab-Runner service that's in the logs for rancher-compose?

Also, would you be willing to upgrade to v0.63.1 as we have introduced error state of containers, which would help determine why your container is not launching. Otherwise, you could look in the server logs to see what the issue is.

[2016-03-17 23:44] deniseschannon commented on #4008
@tfiduccia Does this sound like a duplicate of https://github.com/rancher/rancher/issues/2977?

[2016-03-18 00:01] prachidamle commented on #3965
This is how the "files" Map in the templateversion response will look

https://cloud.githubusercontent.com/assets/753917/13862144/90f18b66-ec4e-11e5-9822-f48a37893c20.png

then

files: {
  "frontend/frontend-controller.yaml": '...",
  "frontend/frontend-service.yaml": '...",
  "redis/redis-master-controller.yaml": '...",
  "redis/redis-master-service.yaml": '...",
  "redis/redis-slave-controller.y

[2016-03-18 00:10] tfiduccia commented on #1481
Discussed with Vincent and decided I didn't want this to be "fixed".  Custom content should not be removed.

[2016-03-18 00:10] #1481 closed

[2016-03-18 00:21] tfiduccia commented on #671
Version - master 3/17
Verified added

[2016-03-18 00:21] #671 closed

[2016-03-18 00:29] tfiduccia opened #4021 "Copy to clipboard highlight and tool tip text is broken"
Version - master 3/17

Steps to Reproduce:
1.  Go to API menu
2.  Click on Add Account (or Environment) API Key
3.  Enter a name and click on Create
4.  Click on the Secret Key (password) copy to clipboard icon

Results: Notice the Access key icon is highlighted.  If I keep clicking them back and forth, eventually they also both say Copied! in the tool tip as well.

Expected: Highlight needs to be

[2016-03-18 00:33] alena1108 commented on #3987
@vincent99 need your help on that. Deployed the stack using compose file of @osallou, ran tcpdump on network agent while bringing up container "symfonynginx" (10.42.14.151) that tries to resolve "php. (alias for "symfonytest", ip address 10.42.9.202). Here is the tcpdump: https://gist.github.com/alena1108/8c3ab500048457432eae. Note that the first request is coming from "172.17.0.5" - ip address sp

[2016-03-18 00:36] dj-hedgehog commented on #4019
I tried it with different docker-compose.yml. Hence there is no Gitlab-Runner in the docker-compose.yml. The result is still the same. I also just tried creating an ordinary MongoDB stack from the UI catalog. It hangs at "Activating" as well.

I'm no Admin in this Rancher-instance yet. I'll ask for it to be updated and will get back as soon as its done and I got a proper error.

[2016-03-18 00:43] v01t opened #4022 "Reuse network from one service in another (--net=container)"
Hello,

there no way so far to use one service as network provider (openvpn client) for other service(s) that reuse this connection as network (only).

I know for this case we should use sidekicks and then everything works but what about the case when 10 different services (applications) need to reuse same connection (openvpn client), i.e. we don't want to keep all 10 applications in one service (

[2016-03-18 01:04] sunhawk2100 opened #4023 "rancher -agent registration for help"
Rancher Version:0.59.1

Docker Version:1.10.2

OS: centos 7.2

Steps to Reproduce:

Results:

Expected:

we  add the same host running the Rancher server as a host in Rancher, host has a private or local IP address like 192.168.1.* [But IP is not fixed]and host ip 172.17.0.2,from quick-start-guide docs ,we know
sudo docker run -e CATTLE_AGENT_IP=172.17.0.2 -d --privileged -v /var/run/docker.sock:/

[2016-03-18 01:11] bacheson commented on #2903
same problem ... clean install w/ Rancher v0.63 and convoy-agent v0.3.0

 /var/lib/rancher/convoy/convoy-gluster-f2e9f379-ccad-4d4d-8b5f-2204cb222da2/glusterfs/mounts/developer-wangbing-data], output Mount failed. Please check the log file for more details.\n, error exit status 1"
3/17/2016 9:08:16 PM{
3/17/2016 9:08:16 PM	"Error": "Failed to execute: mount [-t glusterfs glusterfs:/developer-wangb

[2016-03-18 01:46] xaka opened #4024 "Upgrading service from service view shouldn't send you back to stack view"
Rancher Version: 0.63.1
##

I think it's important UX issue when you have many stacks with many services because when you explicitly go to particular service view and run upgrade there, and UI sends you back, you'd have to spend time searching for it again in order to check status.

[2016-03-18 02:34] taketnoi commented on #2179
@cusspvz I have reacted on original post. Thanks you

[2016-03-18 03:27] deniseschannon commented on #3480
Re-attempted with a master setup.

Use case still doesn't work.

[2016-03-18 03:44] deniseschannon commented on #2977
@tfiduccia Could this one be a duplicate? https://github.com/rancher/rancher/issues/4008

[2016-03-18 03:48] vincent99 commented on #4018
This seems to be from the term.js changes, and the length varies as you type into the terminal.

[2016-03-18 03:50] vincent99 commented on #4014
This is not new or because of the pretty printing, it's because its splitting values on comma (and JSON happens to contain them).

[2016-03-18 03:50] alena1108 commented on #3480
@deniseschannon will look into it

[2016-03-18 03:53] sangeethah commented on #3472
I see the same same issue happen again when validation run was run on master builds from mar 17.

[2016-03-18 04:03] cloudnautique commented on #3982
We set the requests REQUESTS_CA_BUNDLE variable which has the same effect. That way we don't need to do file checking.

This is pretty odd. I'd want to troubleshoot inside the rancher agent container. It seems like requests isn't liking something about the CA and/or cert.

If your comfortable hacking inside the container if you switch the -d in the command to `-it` and the http string with  `-- ba

[2016-03-18 04:25] cloudnautique commented on #3730
Can you confirm your OS, and Docker version? I see your are running SSL, are you running in single node or HA?

[2016-03-18 05:03] vincent99 commented on #2759
This logic is now in the API, but services are marked initializing if any containers are in initializing.

[2016-03-18 05:05] alena1108 commented on #2759
@tfiduccia please reassign the bug to me if API misbehaves

[2016-03-18 05:14] osallou commented on #3987
As someone said in a previous comment, resolution may take a little time.
If dns time resolution is the issue, it is a problem for any service trying
to connect at startup to an other one.
After reboot, i did not check ntp, and will check asap, could it have some
influence?

Le ven. 18 mars 2016 01:33, Alena Prokharchyk <notifications@github.com> a
écrit :

[2016-03-18 05:15] mholttech commented on #3670
I tried the steps @cjellick previously on my own with no success in the past, i'll update everything to the latest codebase and try this again tomorrow

[2016-03-18 05:21] cloudnautique commented on #3670
@pboos , the create_volume containers do a leader election. Only the first one, under normal circumstances, will create the volume. The others just exit, and we show them as having completed their task in the UI. They only ever run once.

[2016-03-18 05:50] #3553 closed

[2016-03-18 05:59] deniseschannon commented on #4015
Verified with master that this is fixed.

<img width="392" alt="screen shot 2016-03-17 at 10 58 38 pm" src="https://cloud.githubusercontent.com/assets/11410997/13869621/d8aab53c-ec93-11e5-9a74-5ffea0dc90dc.png">

[2016-03-18 05:59] #4015 closed

[2016-03-18 06:05] vincent99 commented on #3987
So there's 2 problems here..

1) The container code is running before the answers and/or resolv.conf are updated.  So the name fails to resolve when nginx starts.  We should have this fixed before GA but you could address this on your side with an entrypoint that waits for the name to resolve before starting nginx.

2) Assuming it did resolve, this nginx config will not really work right:
[code]

[2016-03-18 06:14] alena1108 commented on #3991
Closing this issue as @ibuildthecloud handles it in his usecase's code

[2016-03-18 06:14] #3991 closed

[2016-03-18 06:15] alena1108 commented on #3523
@vincent99 the fix is in, could you check if it works for you?

[2016-03-18 06:16] alena1108 commented on #3480
@deniseschannon could you test once again, I've put a fix. @MarcusSjolin thanks for raising this pretty bad bug

[2016-03-18 06:38] vincent99 commented on #2809
Added schema validation of the sidekicks, which covers other things besides this:

![image](https://cloud.githubusercontent.com/assets/753917/13870201/60bd0484-ec99-11e5-9deb-c61b2193bfe0.png)

[2016-03-18 06:42] osallou commented on #3987
I confirm that adding a *sleep 10* before nginx startup solves the issue

[2016-03-18 06:49] vincent99 commented on #1623
Also same control in new alias service and regular service "service links".  And reduced it from `num_stacks+1` API calls to 0-2, depending on what else was already loaded.